{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD556AF13F\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6/sourceFolder/test-file-9ddd9b4c-e70c-ef59-b62c-8cd50e3e1554?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "82GY+z6BOB7be77ErLNYf+Ffht5kZOWyH51tRr7EzFY3d+KspRkWnW2E/Rnbt5N8bqmyw9kWsI585tygFPJfF69njTXRq9rHSOhx32fL1mcJ8NgVEgh9IMdUML49dYl6JeZpdCleq8LO6nrwpdAmsA90liMaSgSn6m1ufXobitNf9rqBYWI+q0QVRieNjHv2LYCvyN5lYNrhwoq88C5HsmCnka4WpU6sNuveBAPdGV3xeFD6bMH0+ZXfoJ7YgbsWzZPH5vrM34cxApLzh1vXA6ksynfeTUaes5gYNgWv07QwyDdvFjNiJJjIyGkvAHE6CJz1rLZDOH9NKDJis6iCgi/dw78kZ+11yaXfFoTdbrIm3i5ouSf97I+3Iu0AAHHvRUY5Uj2yFqCvgOIRYyL7b7l/O9R6GcgH39cvbEX[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6/sourceFolder/bar/test-file-59ce22f4-475a-a34d-7f28-855d187e7257?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6/sourceFolder/pik/test-file-2552bf18-ee20-e1d4-de0a-479a2e55d60f?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-9ddd9b4c-e70c-ef59-b62c-8cd50e3e1554</Name><VersionId>2025-07-11T22:50:29.1663711Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:29 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:29 GMT</Last-Modified><Etag>0x8DDC0CD557E8B5F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>AzkiOwwuB1zeTHsP0z+GNw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 22:50:29 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 11 Jul 2025 22:50:29 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-d9a3a51e-9995-407b-30c6-2994235ff514</Name><VersionId>2025-07-11T22:50:29.2223387Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:29 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:29 GMT</Last-Modified><Etag>0x8DDC0CD5586EE8E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>hBpsRrd7bSsIEoZ7iTpv2g==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 22:50:29 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 11 Jul 2025 22:50:29 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a8a5bac7-ea06-ac23-713d-eba90d000d6c/destinationFolder/test-file-9ddd9b4c-e70c-ef59-b62c-8cd50e3e1554",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6/sourceFolder/test-file-9ddd9b4c-e70c-ef59-b62c-8cd50e3e1554?sv=sanitized-value&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD55AA01CD\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-content-crc64": "jvwZQpA3tQE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:29.4512077Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a8a5bac7-ea06-ac23-713d-eba90d000d6c/destinationFolder/bar/test-file-59ce22f4-475a-a34d-7f28-855d187e7257",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6/sourceFolder/bar/test-file-59ce22f4-475a-a34d-7f28-855d187e7257?sv=sanitized-value&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD55B264FF\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-content-crc64": "rn0YfKU/DC0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:29.5061759Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a8a5bac7-ea06-ac23-713d-eba90d000d6c/destinationFolder/pik/test-file-2552bf18-ee20-e1d4-de0a-479a2e55d60f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6/sourceFolder/pik/test-file-2552bf18-ee20-e1d4-de0a-479a2e55d60f?sv=sanitized-value&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD55B7E26D\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-content-crc64": "XWpXYzKnk4Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:29.5421549Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a8a5bac7-ea06-ac23-713d-eba90d000d6c?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
 [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6/sourceFolder/bar/test-file-59ce22f4-475a-a34d-7f28-855d187e7257?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "E+F30QOFIEqkS6dHLLFfqA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0CD558DCB5C\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:29.2663132Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6/sourceFolder/bar/test-file-59ce22f4-475a-a34d-7f28-855d187e7257?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0CD558DCB5C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0CD558DCB5C\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-blob-content-md5": "E+F30QOFIEqkS6dHLLFfqA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69b4e44a-277d-3c33-035a-4a7dc82ffde6?sv=Sanitized&se=2025-07-12T22%3A50%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:5f7dff21-001e-0034-54b6-f2e90a000000\n",
        "Time:2025-07-11T22:50:30.9808138Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T15:50:29.0712846-07:00",
    "RandomSeed": "867680864",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
