{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB48B112276\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea/sourceFolder/foo/test-file-da142785-7e02-d83c-8dc1-46a7c957988b?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "gjfVJ9MAippibaUgpgNZACNY8RjuTGdJOWKYVtDFUpWjbRxwkiechJx6eJTYGzGJaEWEcWaAnDXPi+1xaDTJnBsQfTnn6W77u2x7c9TTcR4wD+6KQeEvI9DnoAY5Kxxosdt5yJ74on7XiLX5BClg/BrPQFlGPlo64FloAElnwZBQE8L5Wah/OG1vs7krNh6nhqPsauvDIXKAP+hEj6E1b8YlqPFnZ6JyUAfs1oqhDqo6wXmle1ekjfFPeBq/OqnLOUTyBo0tPx8Aehrj10vn3zA+Cc0oj/RvgBv/F++IshVeIJ1GrwgcDYJapAA9wbWmZ5jpgTDboqlQg4VyLigveMcEhLatoTAoIfxLzevzMb5lWbBWnjDkg37z9iyCqt5ZKiw4ODz/+MVowWAzkNS+XFHGDNV32dqWHwE3uqs[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea/sourceFolder/rul/test-file-3767c841-85b9-2a17-20af-5d0de367206d?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea/sourceFolder/pik/test-file-459c011a-6dc5-93b6-ea9d-e0d2ce1efa29?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-977957e2-ac77-7bc3-7e76-55384d7026ea\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/foo/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/rul/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffoo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-977957e2-ac77-7bc3-7e76-55384d7026ea\"><Prefix>sourceFolder/foo/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/foo/test-file-da142785-7e02-d83c-8dc1-46a7c957988b</Name><VersionId>2025-05-07T22:14:32.4528207Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:14:32 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:14:32 GMT</Last-Modified><Etag>0x8DD8DB48B246C4F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>2Pgvk7qz6pT2CTy8sWjHtw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:14:32 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 07 May 2025 22:14:32 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-aec32f78-9219-d8ce-8ea9-a19d9d0f26a3/destFolder/foo/test-file-da142785-7e02-d83c-8dc1-46a7c957988b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea/sourceFolder/foo/test-file-da142785-7e02-d83c-8dc1-46a7c957988b?sv=sanitized-value&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB48B4CD604\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-content-crc64": "VcGD0vbgb9Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:14:32.7176708Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Frul%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-aec32f78-9219-d8ce-8ea9-a19d9d0f26a3/destFolder/pik/test-file-459c011a-6dc5-93b6-ea9d-e0d2ce1efa29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea/sourceFolder/pik/test-file-459c011a-6dc5-93b6-ea9d-e0d2ce1efa29?sv=sanitized-value&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB48B544EFE\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-content-crc64": "5d1uqsCC7yA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:14:32.7666430Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-aec32f78-9219-d8ce-8ea9-a19d9d0f26a3/destFolder/rul/test-file-3767c841-85b9-2a17-20af-5d0de367206d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea/sourceFolder/rul/test-file-3767c841-85b9-2a17-20af-5d0de367206d?sv=sanitized-value&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB48B59F37F\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-content-crc64": "PQ6wPkb8l5E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:14:32.8036223Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-aec32f78-9219-d8ce-8ea9-a19d9d0f26a3?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea/sourceFolder/foo/test-file-da142785-7e02-d83c-8dc1-46a7c957988b?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "2Pgvk7qz6pT2CTy8sWjHtw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB48B246C4F\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:14:32.4528207Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea/sourceFolder/foo/test-file-da142785-7e02-d83c-8dc1-46a7c957988b?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB48B246C4F\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB48B246C4F\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-blob-content-md5": "2Pgvk7qz6pT2CTy8sWjHtw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:14:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-977957e2-ac77-7bc3-7e76-55384d7026ea?sv=Sanitized&se=2025-05-08T22%3A14%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:936c938c-601e-0040-779d-bfddfa000000\n",
        "Time:2025-05-07T22:14:34.0312185Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:14:32.3562433-07:00",
    "RandomSeed": "1293308089",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
