{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB4B6363114\"",
        "Last-Modified": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83/sourceFolder/test-file-1bb41518-2dc0-c86f-cfbe-0fc09f3ef973?sv=Sanitized&se=2025-05-08T22%3A15%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "MLKV01t7uTQWK+0nouuHTfLcT5jsEVaxfLcgShaFgVH+mGyi+5I6nFt/BZRARybkNsHOwu5ghx9c41ajW28ekKqbKQl/5VJforM9bAzBcTSQPBNUt75jnRFMRhc7lkHsYXXqpR4dZFFubiA7IxoTmnIiEx9bydjrN4z4Mp87JAxxUQuW1ssWc9fC5kmdKHn3OaulGIIikJec/m2RJDKyM0kUydIOfMOmDJ9HmeOPTQ8TAPjzlguJT8Bz+tddhE6lD7L/iV6m6L3n/gzi2ve0DbFefiQ5vp0+inkSmoHsSIdRookwj8OwbBg6DJf+pnXJv+wm/wYqa1EVwf/llE47+7WFkTdtg33trhIL/rIFP+MESNuUxUmBJjc4G87Ey9fK/hDieRU9XDxuOVH0HmyeD4Eb4ExypjZrA2oANGe[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83?sv=Sanitized&se=2025-05-08T22%3A15%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/test-file-1bb41518-2dc0-c86f-cfbe-0fc09f3ef973</Name><VersionId>2025-05-07T22:15:44.8398538Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:15:44 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:15:44 GMT</Last-Modified><Etag>0x8DD8DB4B649CECA</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>gUQJ9LvUvUXm9zLU6ZkGHQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:15:44 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 07 May 2025 22:15:44 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ee9a5876-1118-a8a6-155d-c874bedb6bc2/destFolder/test-file-1bb41518-2dc0-c86f-cfbe-0fc09f3ef973",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83/sourceFolder/test-file-1bb41518-2dc0-c86f-cfbe-0fc09f3ef973?sv=sanitized-value&se=2025-05-08T22%3A15%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB4B65B5870\"",
        "Last-Modified": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-content-crc64": "6ozns9ts15I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:15:44.9547888Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83?sv=Sanitized&se=2025-05-08T22%3A15%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ee9a5876-1118-a8a6-155d-c874bedb6bc2?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:15:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83/sourceFolder/test-file-1bb41518-2dc0-c86f-cfbe-0fc09f3ef973?sv=Sanitized&se=2025-05-08T22%3A15%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "gUQJ9LvUvUXm9zLU6ZkGHQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB4B649CECA\"",
        "Last-Modified": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:15:44.8398538Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83/sourceFolder/test-file-1bb41518-2dc0-c86f-cfbe-0fc09f3ef973?sv=Sanitized&se=2025-05-08T22%3A15%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB4B649CECA\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB4B649CECA\"",
        "Last-Modified": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-blob-content-md5": "gUQJ9LvUvUXm9zLU6ZkGHQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:15:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb02c52e-38ff-b4d2-656e-ba7eb3bfcf83?sv=Sanitized&se=2025-05-08T22%3A15%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:12749d21-c01e-0066-769d-bf95e2000000\n",
        "Time:2025-05-07T22:15:45.5576031Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:15:44.7450361-07:00",
    "RandomSeed": "860360636",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
