{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB4917F4BF6\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1/sourceFolder/test-file-7f89d4d1-de81-1491-e620-ad445c6166a7?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "0Ef+R/Xs40ljt6d9sEE/g9KNkp7DA7qX+/SoNmbSdqmElNZC5dx55fBAG8o3FGOl4Clyzs/H5MyNZ0wBQ63ikUD9+Rtr/J32E6yugufwX+eQA1U9YKjZvLAJtX6QeKFDXoqJORpHOeSLe7siGWHknQdkcEBXpDGYIzxrYUcfZpsKaiNdZiXMSMpxseTst6NOJRh2Kwdh7LlZ8BXe29ecbBUfF68+hzbimCh25vNMq2yYHTwuqDqTqX1qA3UQ7mzy1EXPzKD0EJ7hlJPf6wbGDUWpRb6bbcPajG0x1IPA0am7gxGtfd/LpA2eTRSntL13o/YwZqiuV2aB9EAywzwaIMLpI2f0GI9l3aGw/SCvMtevuTCNkGsBDSyrLIiemeDRgyxRvpBWgopmyokH/VpF0sJoggkLjJBX6BY7Sew[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1/sourceFolder/bar/test-file-f6022cd2-32a2-9195-0746-826476633ff4?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1/sourceFolder/pik/test-file-8f026b8b-82e9-a9fd-62f6-198a05d02c38?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-7f89d4d1-de81-1491-e620-ad445c6166a7</Name><VersionId>2025-05-07T22:14:43.2437145Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:14:43 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:14:43 GMT</Last-Modified><Etag>0x8DD8DB49192FB99</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>Eu9EabBUg5iFgqMUWLkz1w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:14:43 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 07 May 2025 22:14:43 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-ed50ef36-c6c2-a304-f608-6546e3812c28</Name><VersionId>2025-05-07T22:14:43.2906885Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:14:43 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:14:43 GMT</Last-Modified><Etag>0x8DD8DB49199FF78</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>Nve8OJwve5k7UbBRdBU9LA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:14:43 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 07 May 2025 22:14:43 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-15eacfff-593a-d9c6-f453-8374d4fe7b3a/destPrefix/test-file-7f89d4d1-de81-1491-e620-ad445c6166a7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1/sourceFolder/test-file-7f89d4d1-de81-1491-e620-ad445c6166a7?sv=sanitized-value&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB491C74A76\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-content-crc64": "YDZD4e5vn7g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:14:43.5865206Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-15eacfff-593a-d9c6-f453-8374d4fe7b3a/destPrefix/bar/test-file-f6022cd2-32a2-9195-0746-826476633ff4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1/sourceFolder/bar/test-file-f6022cd2-32a2-9195-0746-826476633ff4?sv=sanitized-value&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB491CDB229\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-content-crc64": "wy2I1Bgz0gw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:14:43.6284969Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-15eacfff-593a-d9c6-f453-8374d4fe7b3a/destPrefix/pik/test-file-8f026b8b-82e9-a9fd-62f6-198a05d02c38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1/sourceFolder/pik/test-file-8f026b8b-82e9-a9fd-62f6-198a05d02c38?sv=sanitized-value&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB491D4DD10\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-content-crc64": "fYg/f5JoLBo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:14:43.6754704Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-15eacfff-593a-d9c6-f453-8374d4fe7b3a?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1/sourceFolder/bar/test-file-f6022cd2-32a2-9195-0746-826476633ff4?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "hO+We895D37IToYpXNEWVw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB491A2D7CC\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:14:43.3476556Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1/sourceFolder/bar/test-file-f6022cd2-32a2-9195-0746-826476633ff4?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB491A2D7CC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB491A2D7CC\"",
        "Last-Modified": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-blob-content-md5": "hO+We895D37IToYpXNEWVw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:14:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cbd0285b-5a7b-da06-7b86-ccb6822b1be1?sv=Sanitized&se=2025-05-08T22%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:680b962d-501e-0029-269d-bfe4b6000000\n",
        "Time:2025-05-07T22:14:45.1688826Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:14:43.1477879-07:00",
    "RandomSeed": "826452362",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
