{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060A78342A1\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637/sourceFolder/test-file-e5933b0a-8ec8-0213-3e29-40c395647c22?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "UQeNozIkrNmjKKiVDYJpuSiLorXavqGA9CUg3lThVTTqeg5exsB05Y+6QaDlffS8wIeaCsHGR5NlDa4MA82FwdJ0q5NzCvNnFr0mIHwBm3cxZB7MRkpyIzJ6+bkRaOHBNH/NcNJhSLWUM/QEnycXY3E325+vuHuIAYdh+RE5Vq3bZOv8NCqkzxtpOBNWboMKY5ZH2Y1BEnsERW9LAE+jWt1GKTs8Gy5HkwuERoBoMZIDVpV78nwgmVJv9++6Wc/Lxd02D0VIzkdn/0aCvcv7nBPcR6m5KGhgJo/ozCM/jDk8uICjMSJNuohOE/I2ndyGdFvb3hElEZx11ei1YAIkJ3IMRQRLWGrxjo0haxR1KoizYVfIY64oFqbjLVw5l1mFKeyAKVjXOxzw6k+EA6aIAKtfAv6qXMTE5C5dZyo[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637/sourceFolder/bar/test-file-5d6216c4-2440-d752-7cc4-4d29487af310?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637/sourceFolder/pik/test-file-a57f3923-8a7d-14c7-f7ad-ec85f2d2a04c?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-bc1d8c4f-b5f0-272d-40c1-6e4877b66302</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:33:46 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:33:46 GMT</Last-Modified><Etag>0x8DE0060A7A68DC1</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>djx92Qwjn4bQjjUptiQUMA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:33:46 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-e5933b0a-8ec8-0213-3e29-40c395647c22</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:33:46 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:33:46 GMT</Last-Modified><Etag>0x8DE0060A79D7036</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>cjeNskRe98j6PtmV/f6Pmw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:33:46 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ef920ab-c750-6d11-90f5-719bab5a83b5/destPrefix/test-file-e5933b0a-8ec8-0213-3e29-40c395647c22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637/sourceFolder/test-file-e5933b0a-8ec8-0213-3e29-40c395647c22?sv=sanitized-value&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060A7E4FE3E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-content-crc64": "luu5LCYTcU0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ef920ab-c750-6d11-90f5-719bab5a83b5/destPrefix/bar/test-file-5d6216c4-2440-d752-7cc4-4d29487af310",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637/sourceFolder/bar/test-file-5d6216c4-2440-d752-7cc4-4d29487af310?sv=sanitized-value&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060A7EF2BF4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-content-crc64": "40DsE9dcVUU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ef920ab-c750-6d11-90f5-719bab5a83b5/destPrefix/pik/test-file-a57f3923-8a7d-14c7-f7ad-ec85f2d2a04c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637/sourceFolder/pik/test-file-a57f3923-8a7d-14c7-f7ad-ec85f2d2a04c?sv=sanitized-value&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060A7F6EB6D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-content-crc64": "uEyhCLHElPQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ef920ab-c750-6d11-90f5-719bab5a83b5?restype=container&comp=list&prefix=destPrefix%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637/sourceFolder/bar/test-file-5d6216c4-2440-d752-7cc4-4d29487af310?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "zHamdPCwiVvI3/mcz3gMsA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060A7AF8451\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637/sourceFolder/bar/test-file-5d6216c4-2440-d752-7cc4-4d29487af310?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060A7AF8451\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060A7AF8451\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-blob-content-md5": "zHamdPCwiVvI3/mcz3gMsA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:33:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "OB17Jl4UeRRkIulGVI3ELndEQOfAwR89xSaIB[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7c6004f-c27a-032e-b751-3dc6eccfd637?sv=Sanitized&se=2025-10-01T20%3A33%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4a5cb511-201e-002f-1349-32ad7f000000\n",
        "Time:2025-09-30T20:33:48.6531664Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:33:46.1633361-07:00",
    "RandomSeed": "1504705840",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
