{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060A93DDF21\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a/sourceFolder/test-file-d84eaf27-1213-7071-69c3-82dcef7d16cf?sv=Sanitized&se=2025-10-01T20%3A33%3A49Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "T36aeZ6sLu7+uNlBWATxaRXTpb6irWKmPU3qBpGBgghnfgj9UqSLeoBg2Vo4MBdl0RjGHNhYLaEb9DxQwihdfTbR2dn88xdxRyo+QdQIbgw1hTR4umYvD1Fm4l1nOrhXA1wkZ1c9aN4BVdSuGuvNE4YvGzz05MLPocmIlhC5CQ1x5j545Aa19xxVd2WRgfVmmM/XOB97Yh6aVMWNtdLNR0zHPDOtVS9/eiMgn21dPh/UIf1B4tHt9YMf3o9BKEJJhy8ZyUTBuUOgV778W8OxPBWmuZPVi2R62UawjXefPlHg1hc9Q3XaEmi6oYoT8Zq/baF6mm6udPvKnu/+ESvLABlsG4Ssc/igy6YrGurZZ+es8B/WJaPjMmIbc6WF3AE87qBxp9YWE/mo2c/Ig1kR8DcHUiAL9dt1iOkikAB[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a?sv=Sanitized&se=2025-10-01T20%3A33%3A49Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/test-file-d84eaf27-1213-7071-69c3-82dcef7d16cf</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:33:49 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:33:49 GMT</Last-Modified><Etag>0x8DE0060A95959CD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>V+DT10e2O2+Ke7LIAVF0zw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:33:49 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d830c617-ed10-844a-c0d6-f353285d01f8/destFolder/test-file-d84eaf27-1213-7071-69c3-82dcef7d16cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a/sourceFolder/test-file-d84eaf27-1213-7071-69c3-82dcef7d16cf?sv=sanitized-value&se=2025-10-01T20%3A33%3A49Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060A97AC609\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:49 GMT",
        "x-ms-content-crc64": "e3QzpatZ3JA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a?sv=Sanitized&se=2025-10-01T20%3A33%3A49Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d830c617-ed10-844a-c0d6-f353285d01f8?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a/sourceFolder/test-file-d84eaf27-1213-7071-69c3-82dcef7d16cf?sv=Sanitized&se=2025-10-01T20%3A33%3A49Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "V+DT10e2O2+Ke7LIAVF0zw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060A95959CD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:49 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:33:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:33:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a/sourceFolder/test-file-d84eaf27-1213-7071-69c3-82dcef7d16cf?sv=Sanitized&se=2025-10-01T20%3A33%3A49Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060A95959CD\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060A95959CD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:49 GMT",
        "x-ms-blob-content-md5": "V+DT10e2O2+Ke7LIAVF0zw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:33:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "T36aeZ6sLu7+uNlBWATxaRXTpb6irWKmPU3qB[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a791029a-087e-1c33-f2ee-cb8a31c3b48a?sv=Sanitized&se=2025-10-01T20%3A33%3A49Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4a5cb86d-201e-002f-3449-32ad7f000000\n",
        "Time:2025-09-30T20:33:50.1050534Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:33:49.0709576-07:00",
    "RandomSeed": "1999706703",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
