{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D605F0F50E\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/test-file-570bad20-bec0-1eaa-915f-031badb0db91?sv=Sanitized&se=2025-02-23T00%3A15%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "pvik+ffF8DmR/7ehNJf1jz9regnzcVCV0n0HqZuEqkYMOpZQXqfJWrzSxcEHCOr5anPcQTbRnjWoDid6vkeeDVVxlfkBpDGXoR9NIayOjsmTDT4op2gPOpxgqE+AT5x0M7dslXPx+MVBRKAXhH2JGYBd5rEJdWXsYVpdoPziF1KC2O30IvhWoRR55mPI97Ye14/PI2jra71SfzQYlFjJXi1OlKuQlPaHBkWckI8CJGmkPshtE/Tpl20voqPEPQ28sIc2emMKjUOYRxwjTtsuT1rKdFWPW0s4ZP09YfJTw8k34N8HzKoGmbCF1MvYxUmSAFJI+si4LVQ8/RVmzCxQRYRS7G77J4Oww9ukCYd/YJ+0q2CfCsgBfrOLy8+UoMyDNI5Hhdjal9nPmDftEyPNvJx1sSHMsTu7UW27b1u[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/bar/test-file-5bb7c3ba-9d9e-4af9-66b3-66673c45eee7?sv=Sanitized&se=2025-02-23T00%3A15%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline"[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/pik/test-file-69e843d8-29d2-0192-e7ec-c97bd69009e7?sv=Sanitized&se=2025-02-23T00%3A15%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline"[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-5bb7c3ba-9d9e-4af9-66b3-66673c45eee7</Name><VersionId>2025-02-22T00:15:33.4827547Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:15:33 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:15:33 GMT</Last-Modified><Etag>0x8DD52D606126A1B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>jt/2leWshIcG7lBOCjGk+Q==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:15:33 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Sat, 22 Feb 2025 00:15:33 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-69e843d8-29d2-0192-e7ec-c97bd69009e7</Name><VersionId>2025-02-22T00:15:33.5287285Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:15:33 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:15:33 GMT</Last-Modified><Etag>0x8DD52D606196DF5</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-82f78d90-5c1a-51e3-29c2-afbbfda5349c/destFolder/test-file-570bad20-bec0-1eaa-915f-031badb0db91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/test-file-570bad20-bec0-1eaa-915f-031badb0db91",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D6090746B2\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:38 GMT",
        "x-ms-content-crc64": "Bt07guLkneo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:38.4429234Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-82f78d90-5c1a-51e3-29c2-afbbfda5349c/destFolder/pik/test-file-69e843d8-29d2-0192-e7ec-c97bd69009e7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/pik/test-file-69e843d8-29d2-0192-e7ec-c97bd69009e7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D6090830F1\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:38 GMT",
        "x-ms-content-crc64": "3qfUoef4rBQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:38.4489201Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-82f78d90-5c1a-51e3-29c2-afbbfda5349c/destFolder/bar/test-file-5bb7c3ba-9d9e-4af9-66b3-66673c45eee7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/bar/test-file-5bb7c3ba-9d9e-4af9-66b3-66673c45eee7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D609076DC3\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:38 GMT",
        "x-ms-content-crc64": "xzKfWRFvjZg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:38.4439235Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-82f78d90-5c1a-51e3-29c2-afbbfda5349c?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/bar/test-file-5bb7c3ba-9d9e-4af9-66b3-66673c45eee7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "jt/2leWshIcG7lBOCjGk+Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D606126A1B\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:33.4827547Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/bar/test-file-5bb7c3ba-9d9e-4af9-66b3-66673c45eee7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D606126A1B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D606126A1B\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-blob-content-md5": "jt/2leWshIcG7lBOCjGk+Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/pik/test-file-69e843d8-29d2-0192-e7ec-c97bd69009e7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "KMpFkbSTxTmbXnYW++2EFw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D606196DF5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:33.5287285Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80/sourceFolder/test-file-49b5f616-8cf8-5bc2-fc5d-0d2d6b33da95",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "NB9KN/jYVR/5kt64S0idVA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D6060ACA1F\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:33.4327839Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-33c174ee-25bb-5c4f-9e0c-ce89f1025e80?sv=Sanitized&se=2025-02-23T00%3A15%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:6817a422-101e-0091-14be-84bf70000000\n",
        "Time:2025-02-22T00:15:39.9724271Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:15:33.2971459-08:00",
    "RandomSeed": "904380699",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\n\njalauzon-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
