{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5EC9414EE\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621/sourceFolder/test-file-fccd80ee-7ac1-f7ca-e22c-dd8d89762d0a?sv=Sanitized&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "eM6IXbxHTjG77wh3FgQ386F+GFjtSNG2Jb0tpt18p6KKaRS77c9OMRG+OOov4vjK46ms0SZJhTD80Tj+GqhTPkdl7azvewbRMOZHLxDmhkLEYsM00NV8QOTkvxuXTxdpavqiyfVL22ei2qE/AlYgFUr1ObjkHm1y6azIC7zqOuDP3sQWQ71MeYZbkfY0PT6Nw6rRoRZehEuMMOBJgtCquKDAbyORCtGNqcAxiI13PqxtO0cSGZjKcFl4iRPcA/a2sdhVc80b+7nZQ/hVLfu+FfI020eJmJ8I9v7JGYC9saXKete0IcreUj+NOdWfdENeunQgqCeuLRg5TXzOUeI4G5JTirIjCvQnVYkH+1/JaIK7a14MnQh9HE2+e9NOEAFdVB5DTOmQOq+A+VKepjG5b+X6E+WDLH2J1W5lZI8g2UWIqqZBhhuYKjCvjKS233UbBQvuU/wb2SigunZ7K9UgXx8NFvyLeOjJYui01J/Z0/b5SV+DMYVIbNB+ocylHP9bjiyEqMh4kI0jJfEUZgWIxuZ/geJ2nS6axKksDdccI0XpWUVzVSotgLnRYAyTNAXK9drlJZod5PD+6uQfS4O2BgGrKg2/FXC8UgAppD0hBo+jYhf8N/6qzHRUdWtGDjQ1G1kK5wn4CuBqKdOZ9D+z3ONUfOlrus8CAV6YaqAFdUM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "HAxg8e+PjosjGKuvC6st/Q==",
        "ETag": "\"0x8DD52D5ECA55F9F\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:50 GMT",
        "x-ms-content-crc64": "jwhWX7RMUNc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:50.8251039Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621/sourceFolder/bar/test-file-503a845a-e7d4-c3ec-3acd-b62aacc77084?sv=Sanitized&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621/sourceFolder/pik/test-file-e1320ee1-b071-19b1-8dee-9942d27b13fc?sv=Sanitized&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621?sv=Sanitized&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-503a845a-e7d4-c3ec-3acd-b62aacc77084</Name><VersionId>2025-02-22T00:14:50.9300442Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:14:50 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:14:50 GMT</Last-Modified><Etag>0x8DD52D5ECB562DA</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>v/ww0+B0vk2QocKsN9yUyg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:14:50 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Sat, 22 Feb 2025 00:14:50 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-e1320ee1-b071-19b1-8dee-9942d27b13fc</Name><VersionId>2025-02-22T00:14:50.9850127Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:14:50 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:14:50 GMT</Last-Modified><Etag>0x8DD52D5ECBDC60F</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2e87b3d0-0342-0bed-94be-6f9b79c023fe/destinationFolder/test-file-f3ef5f79-38d9-0f5a-cf1a-9c4d503fa273",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621/sourceFolder/test-file-f3ef5f79-38d9-0f5a-cf1a-9c4d503fa273?sv=sanitized-value&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5ECD394D5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-content-crc64": "8GRmR+8oFVM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:51.1289310Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2e87b3d0-0342-0bed-94be-6f9b79c023fe/destinationFolder/bar/test-file-503a845a-e7d4-c3ec-3acd-b62aacc77084",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621/sourceFolder/bar/test-file-503a845a-e7d4-c3ec-3acd-b62aacc77084?sv=sanitized-value&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5ECD31FB1\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-content-crc64": "xh8x+xypaHQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:51.1249329Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2e87b3d0-0342-0bed-94be-6f9b79c023fe/destinationFolder/pik/test-file-e1320ee1-b071-19b1-8dee-9942d27b13fc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621/sourceFolder/pik/test-file-e1320ee1-b071-19b1-8dee-9942d27b13fc?sv=sanitized-value&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5ECD394D5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-content-crc64": "x/NLIvVbHmY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:51.1279317Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621?sv=Sanitized&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2e87b3d0-0342-0bed-94be-6f9b79c023fe?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621/sourceFolder/bar/test-file-503a845a-e7d4-c3ec-3acd-b62aacc77084?sv=Sanitized&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "v/ww0+B0vk2QocKsN9yUyg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D5ECB562DA\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:50 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:14:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:14:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:50.9300442Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621/sourceFolder/bar/test-file-503a845a-e7d4-c3ec-3acd-b62aacc77084?sv=Sanitized&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D5ECB562DA\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D5ECB562DA\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:50 GMT",
        "x-ms-blob-content-md5": "v/ww0+B0vk2QocKsN9yUyg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:14:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:14:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:50.9300442Z"
      },
      "ResponseBody": "xK+xpsfah0tuFU34X4oS2YLIKXsYvkBp6+gRBqNI310UDXMZgw7EgPzv4r6Z9GSwutyo4571awZvSLrfyYGoJTXw41EW+VZzBKh+KduBz/eDYEvGoPy/H6JsqTtU5LZ7R7yJqRATmcGGNN/1d0Iq7njCXGk24YQ5MMSvqk8aHx/yA+If+CXnb8aKQGwcyadfQbvCkodNRWU3T3hMZO9xaxS/A3RfC/VS2+yiq6EYHGYcT2iTV42XpL1856itmgvWGdRXXMYzADbFcLabq5nDHzISMBWG3ROHJ1624iRNpUDhy5LNwb+f6U8yzufW/Pkkuch1mmr1TzvAzzVofB0ReMp1ud8G9l1yckfGVA8rsCpkkSlc2ArW63tWDPKKN2wxIFUcYEMaHcNqAigjL/sslB4KA+rztZ/An81jr+lr6DralDO5D1DnSnNm8dXis7yAKnjTgDSBPWu1XMF1tm7Z/xrtSJrIc4XOIrl2jcPK3esQ44Vxl2gGWVbHA7KOcpMFjPK79GsiuLbyBF17CrCn63/WZNPoaGey5u9DAHDTQLAlcQDRD+iA7ivOfpMLi06mIBcztw2/HSSLCQ173rhGH8SsVZmv1tyWVnWoGenUp1uhnd9YoIijZVPcRgbaBBBzh1/PXja09ko7nGGXFwM6tmGy2kDY7n47CO9F04/Wu1I="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1d60ee68-e7c9-c176-2a26-35a15ef8f621?sv=Sanitized&se=2025-02-23T00%3A14%3A50Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:47932d64-f01e-0052-02be-84a62a000000\n",
        "Time:2025-02-22T00:14:52.6179321Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:14:50.7383804-08:00",
    "RandomSeed": "1506124985",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
