{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D603BC5108\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd/sourceFolder/folder0/test-file-acc8ec25-1a15-71cc-90f2-f6b8245a40fc?sv=Sanitized&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "jj72ypaOJHnK8nmI20G530w3z1KXsSC7zToogL7RSfiqOUCHeDVOl8dP4iKgRJVOOBZr7YvtZd0dO/xcZaS6+KmA3aIBMWcX6TeKR87+Gomk2keoZlxtvdRjaj058jEjlep5IGbzTQavVARTYh0OHyBzt4tdEZJMEyDNnccp3vYFZ7LkhPoisIxA+RJYGVq3VEocxTqmxoRYLAxFJq8/hXUNTfprKpomUAb+HBh/9PnGFkl9DRi7X6Eti1jt3YrdAXOcSsxfSymv9XU0qKlr2DcTfw9mwXddUe5ZPZ5COHN8IRuk46ksZsofzReih7f4wrMg2l16dj/8P/neBg6LbLwCt4eOx/WN5hlER/Rfusk3YHvrIl4WAarbqKSwTl+8k2BaoM8wavq+kvNDNS9LnIQvp6WToEpe7Lbcsh9[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd/sourceFolder/folder0/folder1/test-file-54558286-c394-76f9-e8b2-c0c39ac97ed1?sv=Sanitized&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-dispo[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd/sourceFolder/folder0/folder1/folder2/test-file-b684b229-e890-af5e-7697-e48ba5658202?sv=Sanitized&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-conte[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd?sv=Sanitized&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/folder2/test-file-b684b229-e890-af5e-7697-e48ba5658202</Name><VersionId>2025-02-22T00:15:29.7888636Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:15:29 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:15:29 GMT</Last-Modified><Etag>0x8DD52D603DE9E73</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>rh3n7YkrPMl30LftlJg72w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:15:29 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Sat, 22 Feb 2025 00:15:29 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/folder1/test-file-54558286-c394-76f9-e8b2-c0c39ac97ed1</Name><VersionId>2025-02-22T00:15:29.7318968Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:15:29 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:15:29 GMT</Last-Modified><Etag>0x8DD52D603D61438</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Cont[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4572a183-4104-7f4e-5dec-74cb64424697/destFolder/folder0/folder1/folder2/test-file-b684b229-e890-af5e-7697-e48ba5658202",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd/sourceFolder/folder0/folder1/folder2/test-file-b684b229-e890-af5e-7697-e48ba5658202?sv=sanitized-value&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D603F5CC8D\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-content-crc64": "dS+MAABn5ys=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:29.9397773Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4572a183-4104-7f4e-5dec-74cb64424697/destFolder/folder0/test-file-acc8ec25-1a15-71cc-90f2-f6b8245a40fc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd/sourceFolder/folder0/test-file-acc8ec25-1a15-71cc-90f2-f6b8245a40fc?sv=sanitized-value&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D603F668BE\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-content-crc64": "IqxPYNBKI8s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:29.9437758Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4572a183-4104-7f4e-5dec-74cb64424697/destFolder/folder0/folder1/test-file-54558286-c394-76f9-e8b2-c0c39ac97ed1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd/sourceFolder/folder0/folder1/test-file-54558286-c394-76f9-e8b2-c0c39ac97ed1?sv=sanitized-value&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D603F7A105\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-content-crc64": "B7eEXrBgUHw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:29.9517701Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd?sv=Sanitized&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4572a183-4104-7f4e-5dec-74cb64424697?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd/sourceFolder/folder0/folder1/folder2/test-file-b684b229-e890-af5e-7697-e48ba5658202?sv=Sanitized&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "rh3n7YkrPMl30LftlJg72w==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D603DE9E73\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:29.7888636Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd/sourceFolder/folder0/folder1/folder2/test-file-b684b229-e890-af5e-7697-e48ba5658202?sv=Sanitized&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D603DE9E73\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D603DE9E73\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-blob-content-md5": "rh3n7YkrPMl30LftlJg72w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1f4cb543-3d87-a072-7d28-e2106ddda5cd?sv=Sanitized&se=2025-02-23T00%3A15%3A29Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c81d1860-a01e-003d-78be-84acd9000000\n",
        "Time:2025-02-22T00:15:31.1601244Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:15:29.5981844-08:00",
    "RandomSeed": "422253434",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
