{
  "Entries": [
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AC1825E85\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/rootFile0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "yf5qh/ghaR4apHYWMWDB+69KEGdYSxo4LpOC0JUPn1l9leP2EmCH9tRDIJp5PqFePGKyj5XIhn3kMVlkn5iJCgUdmJx8yuhOwhmTFCt/v+/xI5QzXQ/DtA5lEuEHI1c7uhWUXKUF4nF5Y8x8NXJSZHJpcnsEVq31WeSNFrgHR5/CV1oW62JK7EEiuflDR3+cE61vnbDcNmNnngLBd8u5chwtud0XPHkPH4Y64p20shJl8QIKmKru5SD2rkxgiHR1aUbdFo2hhNc0X30polTGs+zvXIbIrtpyPtS8II0trpcSxHhW1pyFw20r1jgsxUPLMPpfcCvurLpsa9e55GNJB7HmF93bcN1PapkZndihRXiQ8PCTzT5rJBi+6WvEzN4J4c+HRa1m8MAdDwaS1A7iyyVeKPRztjpye/[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/nonEmptyDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "yf5qh/ghaR4apHYWMWDB+69KEGdYSxo4LpOC0JUPn1l9leP2EmCH9tRDIJp5PqFePGKyj[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/recursiveDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "yf5qh/ghaR4apHYWMWDB+69KEGdYSxo4LpOC0JUPn1l9leP2EmCH9tRDIJp5PqFePGKy[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/recursiveDir/nonEmptySubDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "yf5qh/ghaR4apHYWMWDB+69KEGdYSxo4LpOC0JUPn1l9leP2EmCH9[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AC2724744\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/recursiveDir/emptySubDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AC27B5630\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container&comp=list&prefix=&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzoncanaryadls.blob.core.windows.net/\" ContainerName=\"test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>emptyDir/</Name><Properties><Creation-Time>Thu, 08 May 2025 23:47:57 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:57 GMT</Last-Modified><Etag>0x8DD8E8AC2724744</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></BlobPrefix><BlobPrefix><Name>nonEmptyDir/</Name><Properties><Creation-Time>Thu, 08 May 2025 23:47:56 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:56 GMT</Last-Modified><Etag>0x8DD8E8AC21CE710</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type /><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></BlobPrefix><BlobPrefix><Name>recursiveDir/</Name><Properties><Creation-Time>Thu, 08 May 2025 23:47:57 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:57 GMT</Last-Modified><Etag>0x8DD8E8AC2425E8C</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type /><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></BlobPrefix><Blob><Name>rootFile0</Name><Properties><Creation-Time>Thu, 08 May 2025 23:47:56 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:56 GMT</Last-Modified><Etag>0x8DD8E8AC1ED694C</Etag><ResourceType>file</ResourceType><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>hHTV75Qol/LjPJHVM1GVUg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>rootFile1</Name><Properties><Creation-Time>Thu, 08 May 2025 23:47:56 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:56 GMT</Last-Modified><Etag>0x8DD8E8AC1F8FEF0</Etag><ResourceType>file</ResourceType><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>hHTV75Qol/LjPJHVM1GVUg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>rootFile2</Name><Properties><Creation-Time>Thu, 08 May 2025 23:47:56 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:56 GMT</Last-Modified><Etag>0x8DD8E8AC203F284</Etag><ResourceType>file</ResourceType><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>hHTV75Qol/LjPJHVM1GVUg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container&comp=list&prefix=emptyDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzoncanaryadls.blob.core.windows.net/\" ContainerName=\"test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969\"><Prefix>emptyDir/</Prefix><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container&comp=list&prefix=nonEmptyDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container&comp=list&prefix=recursiveDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container&comp=list&prefix=recursiveDir%2FemptySubDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzoncanaryadls.blob.core.windows.net/\" ContainerName=\"test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969\"><Prefix>recursiveDir/emptySubDir/</Prefix><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container&comp=list&prefix=recursiveDir%2FnonEmptySubDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-761d8b12-a5c4-b60d-7897-ca29a5ba8659/rootFile0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/rootFile0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AC45E1FF4\"",
        "Last-Modified": "Thu, 08 May 2025 23:48:00 GMT",
        "x-ms-content-crc64": "0DFKmmD8aOE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uF[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E8AC2724744\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/nonEmptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AC21CE710\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:47:56 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-761d8b12-a5c4-b60d-7897-ca29a5ba8659/nonEmptyDir/file0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hHTV75Qol/LjPJHVM1GVUg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E8AC470D0F8\"",
        "Last-Modified": "Thu, 08 May 2025 23:48:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 08 May 2025 23:48:00 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:48:00 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/nonEmptyDir/file0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8E8AC220B95C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E8AC220B95C\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-content-md5": "hHTV75Qol/LjPJHVM1GVUg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      [...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/recursiveDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AC2425E8C\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969/recursiveDir/nonEmptySubDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AC25B1B18\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:47:57 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a88a8804-19a5-4c2e-b58e-9be00d82c969?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "122578486",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njalauzoncanaryadls\nU2FuaXRpemVk\nhttps://jalauzoncanaryadls.blob.core.windows.net\nhttps://jalauzoncanaryadls.file.core.windows.net\nhttps://jalauzoncanaryadls.queue.core.windows.net\nhttps://jalauzoncanaryadls.table.core.windows.net\n\n\n\n\nhttps://jalauzoncanaryadls-secondary.blob.core.windows.net\nhttps://jalauzoncanaryadls-secondary.file.core.windows.net\nhttps://jalauzoncanaryadls-secondary.queue.core.windows.net\nhttps://jalauzoncanaryadls-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzoncanaryadls.blob.core.windows.net/;QueueEndpoint=https://jalauzoncanaryadls.queue.core.windows.net/;FileEndpoint=https://jalauzoncanaryadls.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzoncanaryadls-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzoncanaryadls-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzoncanaryadls-secondary.file.core.windows.net/;AccountName=jalauzoncanaryadls;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
