{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BD5A7362\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96/sourceFolder/folder0/test-file-b9b6a1b0-8070-2569-977b-2cab379fa552?sv=Sanitized&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "778FjwBW4pRphdtgN+XZ72gDAq6+o0iMvFOSFq0DLaKxRUNqqLBKWb8iT+ulCe6yoj1CM5z3lEx3eNKtw8vmZVc5rvGhbke4uKjunFNc57Nl4HRvwfoFurH38i/enZXzO+qUbFr8ETT2inr0CPf4G5EeR+NXdqRdM/RAqnsX2RsS+mFoyHtZaM5AeTZ/ELG5/teev1WynMRGNjhmvGe43rBe4g2WkFIVxd8VF/1t3SNChqukeBnGYF2dIpFD86xniJuFIC6jI26Fifp2nYXH2FgVIzW7E2aWmIKv+G7A0tEyrY5h6L30n2M9H+8eT8PY1kk5LtB3q3Q17oes8yoAxLYpQ+/2ZfCbIITSfvR2d0m/1yIkh6QBuwIaLPk1SKs4PVo49QzT4XFZnQ5LpSx/vnY+7RwH2z0SJ4js3Dj[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96/sourceFolder/folder0/folder1/test-file-d13309ea-9d53-f60f-b982-547495bb2483?sv=Sanitized&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96?sv=Sanitized&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/test-file-d13309ea-9d53-f60f-b982-547495bb2483</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:41:03 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:41:03 GMT</Last-Modified><Etag>0x8DD5D10BD7B9630</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>Do366sRE1DjVlpA5p9CGrw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:41:03 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/test-file-b9b6a1b0-8070-2569-977b-2cab379fa552</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:41:03 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:41:03 GMT</Last-Modified><Etag>0x8DD5D10BD7278AA</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>YskiFC1ioECk9SI30BN1SA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:41:03 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ca7faff5-8653-f451-c74b-7912b57a8175/destFolder/folder0/folder1/test-file-d13309ea-9d53-f60f-b982-547495bb2483",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96/sourceFolder/folder0/folder1/test-file-d13309ea-9d53-f60f-b982-547495bb2483?sv=sanitized-value&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BD99F8A1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-content-crc64": "jU0nZIYmR7A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ca7faff5-8653-f451-c74b-7912b57a8175/destFolder/folder0/test-file-b9b6a1b0-8070-2569-977b-2cab379fa552",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96/sourceFolder/folder0/test-file-b9b6a1b0-8070-2569-977b-2cab379fa552?sv=sanitized-value&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BD9A1F8E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-content-crc64": "YR9NbcaorjY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96?sv=Sanitized&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ca7faff5-8653-f451-c74b-7912b57a8175?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96/sourceFolder/folder0/folder1/test-file-d13309ea-9d53-f60f-b982-547495bb2483?sv=Sanitized&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Do366sRE1DjVlpA5p9CGrw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10BD7B9630\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96/sourceFolder/folder0/folder1/test-file-d13309ea-9d53-f60f-b982-547495bb2483?sv=Sanitized&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10BD7B9630\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10BD7B9630\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-blob-content-md5": "Do366sRE1DjVlpA5p9CGrw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:41:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "NOAKjn4Jx18jx9DnwCDe4GcbJX+6bXDoeSDOF[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d78615b-fbbb-5ce9-8712-1ad4af022f96?sv=Sanitized&se=2025-03-08T00%3A41%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:ac6f4654-101e-0056-70f9-8e515b000000\n",
        "Time:2025-03-07T00:41:04.8615855Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:41:03.4683425-08:00",
    "RandomSeed": "545168567",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
