{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BF79A113\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b/sourceFolder/foo/test-file-689cd41e-94a9-cc8e-c727-c08c47ed14f8?sv=Sanitized&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "iKhOBrKtTbYMftKSfrjPDHPXMNJeI/kkpqJ1dGydE28zo58LjZtDcYblWyrB/E4PV7MYcL1BmWSuKl8PN9lKb2tiXtsYxH/YlL9LecfOYqpUZhy4haOy8gk7XGM8Mzqtm+y+X51z95M0QNv+9SCd4Me0u9G8kerIsGzR3WcbnGCFnt7bEAIM4W6JhETHtPzpnXybh3ho8AkB9a8xohosGKR7eFdCwc/FqNpjMw2lAftv5z/qgBXnHK3U2RpT2z9TXWugSzulptyt1t6eBb37XPSzwbrbQpiPk1ypbee1ccyaD9WhBLbAykBiPak2SRbw2H0mnxmEeBrTEbfe+zn092URA/bnWlc+8/Z5eAXuWUlFuZVqj9GzFZa7zfP+4c8HbUVEJEUgCH4l56wiC/8V5bhtmUKkimiTXu1fLIx[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b/sourceFolder/rul/test-file-95f0b943-2b27-2ed4-6ae2-5d85ad858e51?sv=Sanitized&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b/sourceFolder/pik/test-file-e9f9a989-cf26-7499-083f-d5a7bb7adce0?sv=Sanitized&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b?sv=Sanitized&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-6f3d6f21-d782-d079-30b9-014acbddab1b\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/foo/test-file-689cd41e-94a9-cc8e-c727-c08c47ed14f8</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:41:07 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:41:07 GMT</Last-Modified><Etag>0x8DD5D10BF8BF997</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>pP39phHDv4rUcDMpMC8TcQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:41:07 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-e9f9a989-cf26-7499-083f-d5a7bb7adce0</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:41:07 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:41:07 GMT</Last-Modified><Etag>0x8DD5D10BF9D7234</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>pzDZphkDYhY5mJaV19Pn9Q==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a8aba7e8-15a1-bb3d-f313-4a063a21eae9/destFolder/pik/test-file-e9f9a989-cf26-7499-083f-d5a7bb7adce0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b/sourceFolder/pik/test-file-e9f9a989-cf26-7499-083f-d5a7bb7adce0?sv=sanitized-value&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BFC015AF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-content-crc64": "X5EuOORePno=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a8aba7e8-15a1-bb3d-f313-4a063a21eae9/destFolder/rul/test-file-95f0b943-2b27-2ed4-6ae2-5d85ad858e51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b/sourceFolder/rul/test-file-95f0b943-2b27-2ed4-6ae2-5d85ad858e51?sv=sanitized-value&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BFC1C17F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-content-crc64": "10KE3tBBiuc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a8aba7e8-15a1-bb3d-f313-4a063a21eae9/destFolder/foo/test-file-689cd41e-94a9-cc8e-c727-c08c47ed14f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b/sourceFolder/foo/test-file-689cd41e-94a9-cc8e-c727-c08c47ed14f8?sv=sanitized-value&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BFC1C17F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-content-crc64": "eRYI1vXNe6o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b?sv=Sanitized&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a8aba7e8-15a1-bb3d-f313-4a063a21eae9?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b/sourceFolder/foo/test-file-689cd41e-94a9-cc8e-c727-c08c47ed14f8?sv=Sanitized&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "pP39phHDv4rUcDMpMC8TcQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10BF8BF997\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b/sourceFolder/foo/test-file-689cd41e-94a9-cc8e-c727-c08c47ed14f8?sv=Sanitized&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10BF8BF997\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10BF8BF997\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-blob-content-md5": "pP39phHDv4rUcDMpMC8TcQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:41:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "iKhOBrKtTbYMftKSfrjPDHPXMNJeI/kkpqJ1d[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f3d6f21-d782-d079-30b9-014acbddab1b?sv=Sanitized&se=2025-03-08T00%3A41%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:19fdd27a-701e-0040-7df9-8ea78c000000\n",
        "Time:2025-03-07T00:41:09.0077570Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:41:07.0255428-08:00",
    "RandomSeed": "477524953",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
