{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006067158273\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223/sourceFolder/folder0/test-file-f9860eeb-d951-30ea-c924-ea84140d6c3d?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "aROpxjSDTHnMtRzviQYdF7DarS/xRL2Tp8GMAiYobRP9utEjHzVLaMINLJy9+6fCBtLUOV88TCRWFR9z90lTpEcI8c41+vh7j0Vs5Bgh1qsayfxTVDO0wW6szQkV2HF5uYhUtAnYjQzaWaka0GgMND5zWS1MAE8UVDBgiCzuZbfT8iqQzSKiQTvwefuJmfAGoJnLoX9DLLk4P1/ZdwXg6/PyR909fGcc0RfyXIdTirs/WueSI8M4j8VxV43CyMk1D40Hl1ESyCMyrtBnUdAy5LWkmR0dTccvurcYzCXZWghNvUz5S/NpLJHEYHTz0D71PnLYHS6rF8LG2N2a+vz+WFTHGpSDOZnCO22MWexSPOl5Io2yATzaoaWKMnMVzzKUxQggLLWqcQXZFeLBH77Vc5zzINdvTFcX7Hnu+QY[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223/sourceFolder/folder0/folder1/test-file-eb7013e6-ea9c-2b39-4888-efdea69bd27d?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-b957406a-2d9c-3acb-1464-5727076d3223\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-b957406a-2d9c-3acb-1464-5727076d3223\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-f9860eeb-d951-30ea-c924-ea84140d6c3d</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:31:58 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:31:58 GMT</Last-Modified><Etag>0x8DE00606732974E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>rp46qDKtO2MOSJcJsfeInQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:31:58 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ca790bb3-6f30-aaa7-b6a6-22165826d873/destFolder/folder0/test-file-f9860eeb-d951-30ea-c924-ea84140d6c3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223/sourceFolder/folder0/test-file-f9860eeb-d951-30ea-c924-ea84140d6c3d?sv=sanitized-value&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006067661783\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-content-crc64": "BXtYV6mVDtA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ca790bb3-6f30-aaa7-b6a6-22165826d873/destFolder/folder0/folder1/test-file-eb7013e6-ea9c-2b39-4888-efdea69bd27d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223/sourceFolder/folder0/folder1/test-file-eb7013e6-ea9c-2b39-4888-efdea69bd27d?sv=sanitized-value&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006067704543\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-content-crc64": "pmHwtFvTqK8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ca790bb3-6f30-aaa7-b6a6-22165826d873?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223/sourceFolder/folder0/folder1/test-file-eb7013e6-ea9c-2b39-4888-efdea69bd27d?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "SThzNvZmrKwytMyf8UwDfw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060673BB4BC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223/sourceFolder/folder0/folder1/test-file-eb7013e6-ea9c-2b39-4888-efdea69bd27d?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060673BB4BC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060673BB4BC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-blob-content-md5": "SThzNvZmrKwytMyf8UwDfw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:31:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "8uVuBFEdyjFgulsJQPM9PpSqZyb1CDPRi5tIB[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b957406a-2d9c-3acb-1464-5727076d3223?sv=Sanitized&se=2025-10-01T20%3A31%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0ebb32bf-d01e-0066-3949-32ef94000000\n",
        "Time:2025-09-30T20:31:59.6302186Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:31:58.0850068-07:00",
    "RandomSeed": "1889551576",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
