{
  "Entries": [
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD76E06439\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:25 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/rootFile0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "HpVg3U65uLuLU5f+9ppqFd7FYjHH+PPjkWhAXf6FjlgHVda/3nWk6sGog9AoUUkn52cs14PvmSahfUvmeVu9BsQ+96DDqjdpIHdwHnQjukAeGXaWWLbVF7ywHWApvnFm630L6VqpZDwww7YMf3qxfsMLx2DkJq0Oad/kEozXP2IGCTP3GNHmdbU5ZpX/yZhC/p+dHvYQgcTP/YB6xVGvWYRUBnVHumbxJFKrq8AYDqBGoRTtOSBr9YduKBtRa7BkiQwQq8Mj+kQ5q/qkZdYDt+7fNCM8wR9k6BDt2JFKoLiiRyG0B2LcI6bQtI4mx4+xanAscTeMJ8fsrMKyNSKy7gpBAR61T6+MAxF8bA2RPSGBPG0hHi+AFR9Zx1ugKu2EHcWD5MZx+xvBoG4mELu6W26hMfi1kdDbwO[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/nonEmptyDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "HpVg3U65uLuLU5f+9ppqFd7FYjHH+PPjkWhAXf6FjlgHVda/3nWk6sGog9AoUUkn52cs1[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/recursiveDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "HpVg3U65uLuLU5f+9ppqFd7FYjHH+PPjkWhAXf6FjlgHVda/3nWk6sGog9AoUUkn52cs[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/recursiveDir/nonEmptySubDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "HpVg3U65uLuLU5f+9ppqFd7FYjHH+PPjkWhAXf6FjlgHVda/3nWk6[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD778073BC\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:26 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/recursiveDir/emptySubDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD77894D80\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:26 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container&comp=list&prefix=&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzoncanaryadls.blob.core.windows.net/\" ContainerName=\"test-container-a14397c1-8d68-33c5-b839-579453c04dcd\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>emptyDir/</Name><Properties><Creation-Time>Fri, 11 Jul 2025 22:51:26 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:51:26 GMT</Last-Modified><Etag>0x8DDC0CD778073BC</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></BlobPrefix><BlobPrefix><Name>nonEmptyDir/</Name><Properties><Creation-Time>Fri, 11 Jul 2025 22:51:25 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:51:25 GMT</Last-Modified><Etag>0x8DDC0CD77258204</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type /><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></BlobPrefix><BlobPrefix><Name>recursiveDir/</Name><Properties><Creation-Time>Fri, 11 Jul 2025 22:51:25 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:51:25 GMT</Last-Modified><Etag>0x8DDC0CD774F2B68</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type /><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></BlobPrefix><Blob><Name>rootFile0</Name><Properties><Creation-Time>Fri, 11 Jul 2025 22:51:25 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:51:25 GMT</Last-Modified><Etag>0x8DDC0CD7702288C</Etag><ResourceType>file</ResourceType><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>4zHDZb9aw163qfNYO7ZEdg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>rootFile1</Name><Properties><Creation-Time>Fri, 11 Jul 2025 22:51:25 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:51:25 GMT</Last-Modified><Etag>0x8DDC0CD770E7E74</Etag><ResourceType>file</ResourceType><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>4zHDZb9aw163qfNYO7ZEdg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>rootFile2</Name><Properties><Creation-Time>Fri, 11 Jul 2025 22:51:25 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:51:25 GMT</Last-Modified><Etag>0x8DDC0CD7718E6E4</Etag><ResourceType>file</ResourceType><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>4zHDZb9aw163qfNYO7ZEdg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container&comp=list&prefix=emptyDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzoncanaryadls.blob.core.windows.net/\" ContainerName=\"test-container-a14397c1-8d68-33c5-b839-579453c04dcd\"><Prefix>emptyDir/</Prefix><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container&comp=list&prefix=nonEmptyDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container&comp=list&prefix=recursiveDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container&comp=list&prefix=recursiveDir%2FemptySubDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzoncanaryadls.blob.core.windows.net/\" ContainerName=\"test-container-a14397c1-8d68-33c5-b839-579453c04dcd\"><Prefix>recursiveDir/emptySubDir/</Prefix><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container&comp=list&prefix=recursiveDir%2FnonEmptySubDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-d67d1c37-ac26-bf90-5431-b707ab2a0717/rootFile2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/rootFile2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD799E8650\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:29 GMT",
        "x-ms-content-crc64": "yYeRIK1QgYo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD778073BC\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:51:26 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/nonEmptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD77258204\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:51:25 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-d67d1c37-ac26-bf90-5431-b707ab2a0717/nonEmptyDir/file0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4zHDZb9aw163qfNYO7ZEdg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD79D46264\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Fri, 11 Jul 2025 22:51:30 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:51:30 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/nonEmptyDir/file0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0CD772784BC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD772784BC\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:25 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-content-md5": "4zHDZb9aw163qfNYO7ZEdg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:51:25 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      [...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/recursiveDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD774F2B68\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:51:25 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd/recursiveDir/nonEmptySubDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD776A5E18\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:51:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:51:26 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-a14397c1-8d68-33c5-b839-579453c04dcd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1027149268",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njalauzoncanaryadls\nU2FuaXRpemVk\nhttps://jalauzoncanaryadls.blob.core.windows.net\nhttps://jalauzoncanaryadls.file.core.windows.net\nhttps://jalauzoncanaryadls.queue.core.windows.net\nhttps://jalauzoncanaryadls.table.core.windows.net\n\n\n\n\nhttps://jalauzoncanaryadls-secondary.blob.core.windows.net\nhttps://jalauzoncanaryadls-secondary.file.core.windows.net\nhttps://jalauzoncanaryadls-secondary.queue.core.windows.net\nhttps://jalauzoncanaryadls-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzoncanaryadls.blob.core.windows.net/;QueueEndpoint=https://jalauzoncanaryadls.queue.core.windows.net/;FileEndpoint=https://jalauzoncanaryadls.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzoncanaryadls-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzoncanaryadls-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzoncanaryadls-secondary.file.core.windows.net/;AccountName=jalauzoncanaryadls;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
