{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD4DECD92B\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/rootFile0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+IK4HGdTWFZ+wATPEZjmMExANSof9annX5R/FRUQQGKIunZibkbTCyWHERISkrMYFqyRtvbivwLY0L3T1ENBboCiRlchhMEGbCkFl+OW1MzgZ/5ofoprpvp0iZ6J/zbiRaOScExc9pLri0nN3SceQfvx821E2e/2Np9crPojfGzyIlFABGR/g3BsffNAnsnSVUiimAzJnWyznDms/0qYxw7c2rrV3j2XcW/82Fv7tZjWilaygeRgKYTljGgq04Mm07XlZMQO/HcKCiedzMUQuOah1XXz5UYqfLA18FHVbJ3r1gSlFlHTx43ep3a9wly/1NSBif0OMu1vuucU2AwlNZ6JsfXAa6GVzg3oFD3QbblTdhx9VOKg3aQWNltpv++BuXLXMxFn/mkz67vvJR6vn00uwGLvqOG76N[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/nonEmptyDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+IK4HGdTWFZ+wATPEZjmMExANSof9annX5R/FRUQQGKIunZibkbTCyWHERISkrMYFqyRtvbi[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/recursiveDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+IK4HGdTWFZ+wATPEZjmMExANSof9annX5R/FRUQQGKIunZibkbTCyWHERISkrMYFqyRtvb[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/recursiveDir/nonEmptySubDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+IK4HGdTWFZ+wATPEZjmMExANSof9annX5R/FRUQQGKIunZibkbTCyWH[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDC0CD4E494A83\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:17 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:17.0733187Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/recursiveDir/emptySubDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDC0CD4E502747\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:17 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:17.1182919Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b?restype=container&comp=list&prefix=&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-77f035ae-9377-8225-47aa-87c9e7da257b\"><Delimiter>/</Delimiter><Blobs><Blob><Name>emptyDir</Name><VersionId>2025-07-11T22:50:17.0733187Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:17 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:17 GMT</Last-Modified><Etag>0x8DDC0CD4E494A83</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Fri, 11 Jul 2025 22:50:17 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><hdi_isfolder>true</hdi_isfolder></Metadata><OrMetadata /></Blob><BlobPrefix><Name>nonEmptyDir/</Name></BlobPrefix><BlobPrefix><Name>recursiveDir/</Name></BlobPrefix><Blob><Name>rootFile0</Name><VersionId>2025-07-11T22:50:16.5915949Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:16 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:16 GMT</Last-Modified><Etag>0x8DDC0CD4DFFC92D</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b?restype=container&comp=list&prefix=nonEmptyDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-77f035ae-9377-8225-47aa-87c9e7da257b\"><Prefix>nonEmptyDir/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>nonEmptyDir/file0</Name><VersionId>2025-07-11T22:50:16.7255173Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:16 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:16 GMT</Last-Modified><Etag>0x8DDC0CD4E143885</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b?restype=container&comp=list&prefix=recursiveDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b?restype=container&comp=list&prefix=recursiveDir%2FnonEmptySubDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-m[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93f66c48-aa65-ca07-57af-7b94a9fe857d/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/emptyDir",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD50EB0986\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:21 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:21.4887814Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml ve[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93f66c48-aa65-ca07-57af-7b94a9fe857d?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-93f66c48-aa65-ca07-57af-7b94a9fe857d\"><Blobs><Blob><Name>emptyDir</Name><VersionId>2025-07-11T22:50:21.4887814Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:21 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:21 GMT</Last-Modified><Etag>0x8DDC0CD50EB0986</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Fri, 11 Jul 2025 22:50:21 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Fri, 11 Jul 2025 22:50:21 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>nonEmptyDir/file0</Name><VersionId>2025-07-11T22:50:21.5657367Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:21 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:21 GMT</Last-Modified><Etag>0x8DDC0CD50F6C797</Etag><Content-Length>[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD4E494A83\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:17.0733187Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93f66c48-aa65-ca07-57af-7b94a9fe857d/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD50EB0986\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Fri, 11 Jul 2025 22:50:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:21.4887814Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b/nonEmptyDir/file0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0CD4E143885\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD4E143885\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:16 GMT",
        "x-ms-blob-content-md5": "q7uDQDJT5I6z0MOnYhFdRQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:16.7255173Z"
      },
      "ResponseBody": "+IK4HGdTW[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-77f035ae-9377-8225-47aa-87c9e7da257b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "605312376",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
