{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AB40BC19B\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/rootFile0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "H6TLa7JenNfbkUIubhX4KHY9hqtedxDUFPxMd3QY/sYi1kSGGQQ2QWSsC5jdDiJECV58O2QD96iU9le2EiRjwpJ7DJfRcQ9yB0VHsmt49gbaB24Wm8NiHt+b8iKtgC4/SUkFYQGKc5dOCjMfu0Q9HP9Q3Aq2TCfOGe24NX/sxIcWCGkicpQET5TWx5GPQmOaXtYiXKMkiPwiN0gU0j4YYkWsCbLbG6prTIx24IWVP9aKHdapymjj8YBs/zpM8H1VvWVL4zmwv0MrtxAWrqd3jPhyibRnb5fdyRcybhtvHlsPICMfSVyc2l6TfRJXzEPY9XNC2WbI7U3NbhkifVEnvJi1Bo2EWEKc1a9V1PKFhfzTWninLEX0RzPVUdpCelwNa8B5osW2U50wpgO2chlbSOkdTiPYf5BTwL[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/nonEmptyDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "H6TLa7JenNfbkUIubhX4KHY9hqtedxDUFPxMd3QY/sYi1kSGGQQ2QWSsC5jdDiJECV58O2QD[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/recursiveDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "H6TLa7JenNfbkUIubhX4KHY9hqtedxDUFPxMd3QY/sYi1kSGGQQ2QWSsC5jdDiJECV58O2Q[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/recursiveDir/nonEmptySubDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "H6TLa7JenNfbkUIubhX4KHY9hqtedxDUFPxMd3QY/sYi1kSGGQQ2QWSs[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD8E8AB466F640\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:33 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-08T23:47:33.9756096Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/recursiveDir/emptySubDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD8E8AB46DFA1E\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:34 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-08T23:47:34.0215838Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5?restype=container&comp=list&prefix=&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5\"><Delimiter>/</Delimiter><Blobs><Blob><Name>emptyDir</Name><VersionId>2025-05-08T23:47:33.9756096Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 08 May 2025 23:47:33 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:33 GMT</Last-Modified><Etag>0x8DD8E8AB466F640</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 08 May 2025 23:47:33 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><hdi_isfolder>true</hdi_isfolder></Metadata><OrMetadata /></Blob><BlobPrefix><Name>nonEmptyDir/</Name></BlobPrefix><BlobPrefix><Name>recursiveDir/</Name></BlobPrefix><Blob><Name>rootFile0</Name><VersionId>2025-05-08T23:47:33.4998799Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 08 May 2025 23:47:33 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:33 GMT</Last-Modified><Etag>0x8DD8E8AB41E37FC</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5?restype=container&comp=list&prefix=nonEmptyDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5\"><Prefix>nonEmptyDir/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>nonEmptyDir/file0</Name><VersionId>2025-05-08T23:47:33.6527925Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 08 May 2025 23:47:33 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:33 GMT</Last-Modified><Etag>0x8DD8E8AB435B435</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5?restype=container&comp=list&prefix=recursiveDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5?restype=container&comp=list&prefix=recursiveDir%2FnonEmptySubDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-m[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f308e6d3-9a01-2379-0de7-2625ace25e39/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/emptyDir",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E8AB5D397CF\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:36 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-08T23:47:36.3652559Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f308e6d3-9a01-2379-0de7-2625ace25e39?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-f308e6d3-9a01-2379-0de7-2625ace25e39\"><Blobs><Blob><Name>emptyDir</Name><VersionId>2025-05-08T23:47:36.3652559Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 08 May 2025 23:47:36 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:36 GMT</Last-Modified><Etag>0x8DD8E8AB5D397CF</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 08 May 2025 23:47:36 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Thu, 08 May 2025 23:47:36 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>nonEmptyDir/file0</Name><VersionId>2025-05-08T23:47:36.6251089Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 08 May 2025 23:47:36 GMT</Creation-Time><Last-Modified>Thu, 08 May 2025 23:47:36 GMT</Last-Modified><Etag>0x8DD8E8AB5FB3E51</Etag><Content-Length>[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E8AB466F640\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:47:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 08 May 2025 23:47:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-08T23:47:33.9756096Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f308e6d3-9a01-2379-0de7-2625ace25e39/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E8AB5D397CF\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 08 May 2025 23:47:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:47:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 08 May 2025 23:47:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-08T23:47:36.3652559Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5/nonEmptyDir/file0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8E8AB435B435\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E8AB435B435\"",
        "Last-Modified": "Thu, 08 May 2025 23:47:33 GMT",
        "x-ms-blob-content-md5": "pR1wjK1j1m2GzzOz1MfJqQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 23:47:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 08 May 2025 23:47:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-08T23:47:33.6527925Z"
      },
      "ResponseBody": "H6TLa7Jen[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5014b12d-c2cb-2b3a-6c07-8fb9799f8fe5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1350849784",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
