{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BB352A72\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460/sourceFolder/test-file-2ab69413-4445-6376-fe80-35513d0783c7?sv=Sanitized&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "mWyIM2gfxB/1dE8k/d2WtuO3jZcDxaKT+6O52Ijzw0p0SLfQflBf+KgYGggwdBWT1wSg6Cd06dTK9TjFZuuWArAFr7UmxTiSWJTv6qqaYoaNJQCEUtoiAF7jBogXmZK8ghhXK8RfbRLLDZCShf8pL5KxN0DrEbDW4q9XQr6ve74CMmiSQzfBLbjtuERKkHtfutb2ZWJR0XBogEgVCCpTHJLRj1KWluxa8AmH/VhrjFE0+IfnuBVcsWH3KsLurCWNmpyxeAEoyCPqm3VYydMY/PT34BCja2N9dd7xn2wqbEPj+mO8uhNQDC9k/R2fA+eN3y7N98sV6i44NAIjNii3wC8ydM9vW0LhptTgPm5G3XL2Y8A9XHR3zg81g4UQLdUGrD3tbY4YHoPs7FH3NKu/8laQLNNoeWO7uqa/Ote[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460/sourceFolder/bar/test-file-460347e0-b6de-692b-404b-0c9746335634?sv=Sanitized&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460/sourceFolder/pik/test-file-875defce-7913-640b-0d61-c8ed03193f25?sv=Sanitized&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460?sv=Sanitized&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-087601e4-4abc-74ad-73da-90dddb9d8460\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-460347e0-b6de-692b-404b-0c9746335634</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:41:00 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:41:00 GMT</Last-Modified><Etag>0x8DD5D10BB5B1825</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>GfbtLxm1JwxD6q12ehtIsA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:41:00 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-875defce-7913-640b-0d61-c8ed03193f25</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:41:00 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:41:00 GMT</Last-Modified><Etag>0x8DD5D10BB63E7E4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>+IgsCuUgGKKS1oR/srBj5g==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5f915882-c8c0-4ba3-e661-769b7c53cd3d/destinationFolder/test-file-0f386c17-7f7c-1398-716d-bb83a0b40ced",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460/sourceFolder/test-file-0f386c17-7f7c-1398-716d-bb83a0b40ced?sv=sanitized-value&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BB80C578\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-content-crc64": "KWR+/ZZcs04=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5f915882-c8c0-4ba3-e661-769b7c53cd3d/destinationFolder/pik/test-file-875defce-7913-640b-0d61-c8ed03193f25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460/sourceFolder/pik/test-file-875defce-7913-640b-0d61-c8ed03193f25?sv=sanitized-value&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BB81AED0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-content-crc64": "v105LgtoqP4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5f915882-c8c0-4ba3-e661-769b7c53cd3d/destinationFolder/bar/test-file-460347e0-b6de-692b-404b-0c9746335634",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460/sourceFolder/bar/test-file-460347e0-b6de-692b-404b-0c9746335634?sv=sanitized-value&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BB824A5D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-content-crc64": "Nbx8FcWGACg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460?sv=Sanitized&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5f915882-c8c0-4ba3-e661-769b7c53cd3d?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460/sourceFolder/bar/test-file-460347e0-b6de-692b-404b-0c9746335634?sv=Sanitized&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "GfbtLxm1JwxD6q12ehtIsA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10BB5B1825\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460/sourceFolder/bar/test-file-460347e0-b6de-692b-404b-0c9746335634?sv=Sanitized&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10BB5B1825\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10BB5B1825\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-blob-content-md5": "GfbtLxm1JwxD6q12ehtIsA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:41:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "CIAmsHgKmRff7tq+a7jiShogT4s8zL8qt0LSj[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-087601e4-4abc-74ad-73da-90dddb9d8460?sv=Sanitized&se=2025-03-08T00%3A40%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:19fdc990-701e-0040-6ff9-8ea78c000000\n",
        "Time:2025-03-07T00:41:02.2432043Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:40:59.8662479-08:00",
    "RandomSeed": "451683827",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
