{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD542EEF3F\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721/sourceFolder/test-file-1e094fec-3b4b-4653-1253-2ab670457ca0?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "VilgGl9Z7T6B/+05D0r48wx0nGWEU/qshtW8MxLXAOmMPl9H5WJAabE3LrxSjiQXHzVw0YthZwMvs5SJnbosqv8DrdDrsA6qMzOzTCQ9WviwpBPcZy5dKtdbGDHNtsz3CoO9T+BULG8nxZ5Yrhre8lmc2fimUEPQpYP4j5jd3Hxnu0GgfwsXXHiktKGQBXy8fCbXMd3TULpA7KldW5zWSekh8fLZPXJOhX2AApuiQJ8GPBJyBaqfk2uHYJJhuQDczWq3bhSJ4z6ziaxgU00enqwKVx+JY0Q+gl2HUd3f7ct8ozQw6tGLfFjTv3z9PkAdaMHmV2HgUmomeOy2ApFh05zg468Z7rTaftrGtaTHQUMdaekb+ZVpm1HKCXHl1HrHcuvgHFuQBHoNC9iHGpzGXzepmZmoRdoGd0deT+RC9alg/0K45iTnjGVvDu294oG0A6o6PDvgHi0R2qUTMrWVyxYvJxpaDXgSwQwzOTfsSZTGqks6CLluf+AVpwx+1Fqw2ULXjrpmWvUxJ3sureX2JJEQTYhpW8JcwKg6RGZslOyygl/0FLvaX09VCOE9P9H6H4J6bobSRn5/es0RLBWPxJOOfCqGARDWNu44FFLhH4HWPyXk8iZm3zzhdJntyDI6xUNOr8KmdB1xpDeYmjIrnltLO+3wq9JtKJzupY126G0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hfi5YFQx7c8wW/K6Lc2Fsg==",
        "ETag": "\"0x8DDC0CD5444B2E8\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-content-crc64": "Cq+VoUGrGJw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:27.1095528Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721/sourceFolder/bar/test-file-913ce98c-3ded-6f35-0921-957b1167aef8?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721/sourceFolder/pik/test-file-aa8e8f04-dd72-87b7-822b-205694ac47cd?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-1e094fec-3b4b-4653-1253-2ab670457ca0</Name><VersionId>2025-07-11T22:50:27.1095528Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:27 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:27 GMT</Last-Modified><Etag>0x8DDC0CD5444B2E8</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>hfi5YFQx7c8wW/K6Lc2Fsg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 22:50:27 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 11 Jul 2025 22:50:27 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-b0769ec2-3fbc-33c8-6118-297c4628c7eb</Name><VersionId>2025-07-11T22:50:27.1735161Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:27 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:27 GMT</Last-Modified><Etag>0x8DDC0CD544E7579</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>kvk1bQkZ+ELQcPZN+HZgTg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 22:50:27 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 11 Jul 2025 22:50:27 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-111e9aa0-5110-e693-093a-d7f185033f55/destinationFolder/test-file-1e094fec-3b4b-4653-1253-2ab670457ca0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721/sourceFolder/test-file-1e094fec-3b4b-4653-1253-2ab670457ca0?sv=sanitized-value&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD547272EF\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-content-crc64": "Cq+VoUGrGJw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:27.4093807Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-111e9aa0-5110-e693-093a-d7f185033f55/destinationFolder/bar/test-file-913ce98c-3ded-6f35-0921-957b1167aef8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721/sourceFolder/bar/test-file-913ce98c-3ded-6f35-0921-957b1167aef8?sv=sanitized-value&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD5479C4DB\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-content-crc64": "Sxnza6KWODM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:27.4573531Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-111e9aa0-5110-e693-093a-d7f185033f55/destinationFolder/pik/test-file-aa8e8f04-dd72-87b7-822b-205694ac47cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721/sourceFolder/pik/test-file-aa8e8f04-dd72-87b7-822b-205694ac47cd?sv=sanitized-value&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD547E7F1B\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-content-crc64": "8Dnlygrq0p4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:27.4883355Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-111e9aa0-5110-e693-093a-d7f185033f55?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
 [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721/sourceFolder/bar/test-file-913ce98c-3ded-6f35-0921-957b1167aef8?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "kt5fo5gqAR12ALHPGroJMA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0CD54552B3E\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:27.2174910Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721/sourceFolder/bar/test-file-913ce98c-3ded-6f35-0921-957b1167aef8?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0CD54552B3E\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0CD54552B3E\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-blob-content-md5": "kt5fo5gqAR12ALHPGroJMA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:27.2174910Z"
      },
      "ResponseBody": "BwNdWYfgrpChrljGGz7Ym5WSyaXsJ9ZAQk6HyIenEW+hKAL8FdjerDqs7z/kb1PLSPnlfp4JDN8tHBc5WeYI+pzpJPM73Ia9tB1qQDiWW9P6vH+OwZLRmBwjzvnApFJTo/Wi+0pgj2xzKMqAnsunlsBEPpxneTkJGIzWGA2N/BDKF51C9GCImiwTGpnIUPlRezg4fGa17Cm8meK9iXde5Su6tocuZKFfu6RwU16fQMiShZzUVICpFCpzhlt+yhC1tTVuDplyIxaW2MDBRZjKHFgaKgTaiZGqEKJcut1G4fCTup4pMTIuIGGGPny/6M6RqGoCY6AM2iukw/73FWg4T/bPLYr6oOom7AqiVEsU6yfTyxJzRH5Qh+BzhW4zNgr5Te6G8LpElwd/3HeVaYbgj9fWJEpWxQt4fqaqhhp88rX/qQZdjvttjzMK9GcHux5ZkvaWXBLAoojiDXETmRDsA+nBlr9/gwHcaZUXTNCkcMOIUfQk5ZajPgd+eoCJWfUiHfF9RSVe2Q/1ufN8qVa3Pp2ti0gcyB1THle4AAiAUg+f9C7fJiueKXfkLyyiJpWwxzzj3M6tBlXTKifNptgHdGbj3LQn1xdxDmHQOJnwsPfBBznLnXZB8u7ZC/wE0IOe3LrFvkrgifAkcs1s3M274nkvDJ6fO9fwourGTcsbbT0="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd32e9f5-b50a-d9ea-01b8-733c2f767721?sv=Sanitized&se=2025-07-12T22%3A50%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:5f7dfed6-001e-0034-11b6-f2e90a000000\n",
        "Time:2025-07-11T22:50:28.9419468Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T15:50:27.0046742-07:00",
    "RandomSeed": "3505045",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
