{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00609CB7CD69\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108/sourceFolder/folder0/test-file-b7f67dd0-66b8-20b5-79fb-8bc674713f5f?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Y9Lgv3xUeL5abSiJkXUSG89fnkjym6BdUsUoki/Xx8VbjIodx5+sewU4XEo9K44E6G/3FdP3bcgyg222LOaOgqVjLQTq9VMwsiJCuT5VICY2I6m/4LLxYx/C6kQy9U4eqtml2f6JGfIbxmKwtLOJ3WNGfwk8zqLzccnlKAsP/r3TIw9kr0YorAm3pBlPQa5rOA3h63VF4ts3smg0pPHnDMil3ZGkJS0dHtL/hSqIozAaee/9LRJHjUEzLP3d9AgXz5dQqmQdxxPgxM2jRlyxrg43GSsC6t+2XU9PcPgvPyrK57aTOPjM/bHbHWhFpEflgn7updrdFeW3mk0UzlcbsIWi2F6mHXYWaxx5J8x2cLkHau15QJlP7dLR252qty5av2zjosvpP2UH2Dq+Y+0YQCmUDWNpoXDrU+uM1EH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108/sourceFolder/folder0/folder1/test-file-dfcf5cce-50f0-c80f-6f06-51f2990ca927?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-b7f67dd0-66b8-20b5-79fb-8bc674713f5f</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:33:28 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:33:28 GMT</Last-Modified><Etag>0x8DE00609CDCF029</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>AMXFaPH4A6cXZnJ11f27ug==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:33:28 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50fddd9d-fcf4-05e0-48b6-2ba4c662f605/destFolder/folder0/test-file-b7f67dd0-66b8-20b5-79fb-8bc674713f5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108/sourceFolder/folder0/test-file-b7f67dd0-66b8-20b5-79fb-8bc674713f5f?sv=sanitized-value&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00609D1180AC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-content-crc64": "kRbtiN3P2XQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50fddd9d-fcf4-05e0-48b6-2ba4c662f605/destFolder/folder0/folder1/test-file-dfcf5cce-50f0-c80f-6f06-51f2990ca927",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108/sourceFolder/folder0/folder1/test-file-dfcf5cce-50f0-c80f-6f06-51f2990ca927?sv=sanitized-value&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00609D1BAE7F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-content-crc64": "eYTbsIvH+A0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50fddd9d-fcf4-05e0-48b6-2ba4c662f605?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108/sourceFolder/folder0/folder1/test-file-dfcf5cce-50f0-c80f-6f06-51f2990ca927?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "XfFPnYHCiJtDIF2MFIhKTw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00609CE5E6BF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108/sourceFolder/folder0/folder1/test-file-dfcf5cce-50f0-c80f-6f06-51f2990ca927?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00609CE5E6BF\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00609CE5E6BF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-blob-content-md5": "XfFPnYHCiJtDIF2MFIhKTw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:33:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "5YUr7zXjKDC9aEr01x9aPEsvoN9tgzMl8ongc[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e5b9a14f-a72e-76e4-9085-8ce277c5b108?sv=Sanitized&se=2025-10-01T20%3A33%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0ebbd8d2-d01e-0066-2e49-32ef94000000\n",
        "Time:2025-09-30T20:33:29.6862089Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:33:28.0765141-07:00",
    "RandomSeed": "129376303",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
