{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00605EFE6E75\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22/sourceFolder/test-file-cdd374ae-536e-a87f-efd7-a66cd3e248de?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "vcbp/xQ+F51hXGJd2/bMLjaAfFgRswJlwoHJBTI5PJl3oa4N+UnKrj0OjY3nVHYMnPIP69kH9ArDgz2SdRFqJx/J5jpIvjTttc0bAiZ0fW0LvGlAKlG/b6ykSXULODkrpGVtHm47xN29ITUL6/HjTgbPhrioKv3OCXaNo3W/4X2U8F7ABl/+0PeLgggbs4O6wPpvPLGAgnponxT4rSFo/kC4d/uTI0en0bbAHKj0slby0+N6T6XLFG3kWGdKBiLWI4PIYzyIJ52yx2v7v2bSdOy+Bdo97q6a7GKOr8rgXMqT6vkkK04ZaqtFx4g60FQHEeR6jAFHmDXULXfZ+XjS0mugZ9VsrUiepJov+CYmYBwOh53mZdDJS1HEUP3XQHAzc/QcmWh/mmSb3OhmGKAOrc1ay3La622a1xuEp1xLxmMq+4QxCca0j+w4S4noYjKwtqMwfHT+WIeHgsFM+/MHTxWEPB0b3KMGpjyGoqDjsnTo0/G5GkruK6L9qocFZ5P4MPtzZCYVlNn/KdU4eLbno89MYycCTjXLlRB6HjIbAT+ojXGkcE5O0z4XuvF0trPrFga4uARs9uLGqM8Wmnam4yiWkOpFQjOB/o/p6pNDVt5cjwgsY0k6PJaO3sd/ODjHcdbI3SbJptPSNrl0ggtOglHwuQtueoDfW1RTt2RsAsY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "rBtlfSJqmnRr18MO9xxA+w==",
        "ETag": "\"0x8DE00605F213A58\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:44 GMT",
        "x-ms-content-crc64": "ojYQBGU8ztM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22/sourceFolder/bar/test-file-2e19909d-da26-124a-43af-f13d71d1d216?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22/sourceFolder/pik/test-file-35ffb086-6126-be75-7495-3fe44fcce8a0?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-cdd374ae-536e-a87f-efd7-a66cd3e248de</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:31:44 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:31:44 GMT</Last-Modified><Etag>0x8DE00605F213A58</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>rBtlfSJqmnRr18MO9xxA+w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:31:44 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-eeab54ed-49ea-51b2-0368-20456b566005</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:31:44 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:31:44 GMT</Last-Modified><Etag>0x8DE00605F2E98D0</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>yo0EC4fnE3sCz/2XcejK4g==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:31:44 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e4ae72-87cd-bb7a-c6f9-da9cd0ee9be6/destinationFolder/test-file-cdd374ae-536e-a87f-efd7-a66cd3e248de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22/sourceFolder/test-file-cdd374ae-536e-a87f-efd7-a66cd3e248de?sv=sanitized-value&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00605F753D7B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:45 GMT",
        "x-ms-content-crc64": "ojYQBGU8ztM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e4ae72-87cd-bb7a-c6f9-da9cd0ee9be6/destinationFolder/bar/test-file-2e19909d-da26-124a-43af-f13d71d1d216",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22/sourceFolder/bar/test-file-2e19909d-da26-124a-43af-f13d71d1d216?sv=sanitized-value&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00605F7F4447\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:45 GMT",
        "x-ms-content-crc64": "TfKPjpExm24=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e4ae72-87cd-bb7a-c6f9-da9cd0ee9be6/destinationFolder/pik/test-file-35ffb086-6126-be75-7495-3fe44fcce8a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22/sourceFolder/pik/test-file-35ffb086-6126-be75-7495-3fe44fcce8a0?sv=sanitized-value&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00605F8998ED\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:45 GMT",
        "x-ms-content-crc64": "uH5dcCYCuDM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e4ae72-87cd-bb7a-c6f9-da9cd0ee9be6?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22/sourceFolder/bar/test-file-2e19909d-da26-124a-43af-f13d71d1d216?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "+frhxHzvxwxEIULG6/wwDg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00605F3E17C5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:44 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:31:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:31:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22/sourceFolder/bar/test-file-2e19909d-da26-124a-43af-f13d71d1d216?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00605F3E17C5\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00605F3E17C5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:44 GMT",
        "x-ms-blob-content-md5": "+frhxHzvxwxEIULG6/wwDg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:31:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "fRXGM08Zc5z0HfEtn+kgiyIhLWG/SQPs2HlSjjJbVrL5l0Ws/qcKgxx9OQnoHHJaj2YaUKNwVzQR2VvWx+VpmcY+NAijdIx7FqpFQQ/6A7sG9//MQAUOiT8RmiRMNLw3FKBCqehptxvanzr5KxYkF9agz8/lnFjAMKvJktlnL+LuDi1ut1nTnEDk8aHLFV4p7IJOrGTsUXdIgXk9oCRBc3BXCxzptV99zTOPAKu29RpMn6ZWGIN9Aby1JjXflfsco34xcwlBPzYj0d4xXVDMkYxe8AF+6lrt2QlgM48qnTc3cl0shYERC2BvM0ekTKRr6ZSogKX6nbgjQ5r/4Qym+DSn+urznwwLTeSgDrYTSY1l9Er7gRyRPNSkCEHnESpTyToT/FG6eEmHnTLAWY8BEPoMmuzBqncXFb0VTpfKJDy6TUR8/0w7q3sAc+Tp0ONFo/dH2nc9kh7D/OaUpCqyvXj2BgxKhRCu0O9xwDeTLUXa0Kqfg0rEfLomuQNmpwZQTrZr8srW+h3nmQqHy9HnL86hutR/EzouMYlRJMwMRynoIHKAKDp6A9WMuOo/PbDpP4k1xO0y0Dp8PcBAhNVR2lHhn6teZgeUJrb+81tP7vTYaOVC14M7tk83BOp5OX8AO92YXp0Fi9iCoZ02M93fLE7LaBzwDwLOpehbJmIcGu0="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d83a5589-f712-9b65-ffbf-9830bd00ef22?sv=Sanitized&se=2025-10-01T20%3A31%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:58441b41-601e-005c-1e49-32f5ec000000\n",
        "Time:2025-09-30T20:31:47.2717617Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:31:44.4967227-07:00",
    "RandomSeed": "747052035",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
