{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10B9C6BF02\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261/sourceFolder/test-file-37c95312-d428-f3f6-3858-22fd2486020a?sv=Sanitized&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "R/4Uf7XNom2kJCohzF3UcKIzqI7AH84ff8gkgQg/Jy2ZHbUlcoNVMly2b2fHszW10lsUl2IvQycw9P/sqCFlZP38h66nr/0e3nUyCrBmWMyTb66tKo/LatmO9H6DaIo7UQtqyyyGDSNd9bns/Dl3yZwzWTlytzltMBzUGbp/m3Xr9rml/IygDGGLTzTW322gFiriUA9RyJnR/JsPsvNo3lpDAQZ/0cwPk03X5mcEl1CvNAKPnEpmmi0f0wDxkFpuInHZkt5nIERd073CeeIxzGRKYH3x2EEQ3WfYYP7MHgLyacP2KgRyRxO9MsmNoyBL7gebpjDcfUowybV3j8BGkbS6zxAeO6Ff1xhqM6Z4gjlGjHH2MHfRFux5xmFP+7hTdqAU0tQPLbJlO88YcUmjt0Z7MAJOUGA96bgkpHVAENtgF7wFY7BlN16+kfWouaSi1Q4a1Mu1BCZA1+kb64k9JSvzuFqNnlSWFvmjj79rlS8Ugs5nJTsQqhKVxYvHSUvVgWzJtAFJFDe5hL7SEXVn1EK5B2i61v/w4w1I+NjIzsytzg5ToeAuym2WraF9PpidLfBJDkLiGqps2dHzARxf8LXyJENmFDNhij37Iyldc6V1q8rnfsCJyrNj5sgOOshRN7zrihlVNhm954MF5/aBD2YsflZRd3H1aFqPAy5qU1A=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "GhFvrk5ZRsUwvOTCfJiOOw==",
        "ETag": "\"0x8DD5D10B9DABA9C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-content-crc64": "HgVjOV8KRno=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261/sourceFolder/bar/test-file-a28d766b-d717-ba85-61cc-a1e54901cd6c?sv=Sanitized&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261/sourceFolder/pik/test-file-5f8391b3-c94f-5b24-b284-0bd37442dc12?sv=Sanitized&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261?sv=Sanitized&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-a28d766b-d717-ba85-61cc-a1e54901cd6c</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:40:57 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:40:57 GMT</Last-Modified><Etag>0x8DD5D10B9EC333A</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>l/hybpR/qiYnicenLUD+mQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:40:57 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-5f8391b3-c94f-5b24-b284-0bd37442dc12</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:40:57 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:40:57 GMT</Last-Modified><Etag>0x8DD5D10B9F4DC16</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>oxm0uTX0f9D0YPqhf8hjug==</Content-MD5><Cache-Control>no-cache</Cache-Control><Co[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0ba4ebfd-7d78-d5ad-8905-ca66aea4544d/destinationFolder/test-file-37c95312-d428-f3f6-3858-22fd2486020a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261/sourceFolder/test-file-37c95312-d428-f3f6-3858-22fd2486020a?sv=sanitized-value&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BA12C9E2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-content-crc64": "HgVjOV8KRno=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0ba4ebfd-7d78-d5ad-8905-ca66aea4544d/destinationFolder/bar/test-file-a28d766b-d717-ba85-61cc-a1e54901cd6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261/sourceFolder/bar/test-file-a28d766b-d717-ba85-61cc-a1e54901cd6c?sv=sanitized-value&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BA138C57\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-content-crc64": "3PwoW0XnNEM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0ba4ebfd-7d78-d5ad-8905-ca66aea4544d/destinationFolder/pik/test-file-5f8391b3-c94f-5b24-b284-0bd37442dc12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261/sourceFolder/pik/test-file-5f8391b3-c94f-5b24-b284-0bd37442dc12?sv=sanitized-value&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10BA1427E8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-content-crc64": "8P0pgYslKMU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261?sv=Sanitized&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0ba4ebfd-7d78-d5ad-8905-ca66aea4544d?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261/sourceFolder/bar/test-file-a28d766b-d717-ba85-61cc-a1e54901cd6c?sv=Sanitized&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "l/hybpR/qiYnicenLUD+mQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10B9EC333A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261/sourceFolder/bar/test-file-a28d766b-d717-ba85-61cc-a1e54901cd6c?sv=Sanitized&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10B9EC333A\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10B9EC333A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-blob-content-md5": "l/hybpR/qiYnicenLUD+mQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:40:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "pZ6FLg5Wfs5ZoCwQEfy0sTmKWcLMx8jwnISlAzk5pi98uuhSq110FPi+SHaqdKhlF++sv6cKoN3VlJGJsXqVH/n9lFYTYgbcFkTKDX5RRifcP+xJjeeHcRoKfBfL6mJ+KCl8rOBRUbTp0KhjQJJeg01qrXKNTJESdiI8CebvECvhS+RV1JlHiu43YL0+JDCIrPjJYT3w8NyXaja9FUjO+r99gfStCa+zIiKDVevU1FLys1ztJa7u8VoHvWpiinSlaWX9waI72qNJFT8abJvxw5bky2Hr4dQRjpCZpUtEUZiu3uyF1hKvttm5oxBv1IS/FvrTfb8SuYiR7DMSoTVYBMSna46va+yDNRSIMj3EorkL2o5QcNPYmyRj9OrfnBSkYZ9Lx2j1EKsNUEiqiodLzEl5BsemB5PxztBqS3YCpJgA5NGeeNpRFsnjQiCKLhCcGCigZpVM/VkLWvmXi8U1C6yvqaW2rFRvKPD+w8VzZp+/zTJOYT0DtOZ4kh3huYoErTZ024Vr5mvTMT6kTjqUmPRa2L2S56purPW/PRk2jm5l+RWO/osaVOfGei//Xmar5PophuHNccaMBi6QrKhSnaPPPlQlBZlpP4PWy2x6bk6OE1kfDQeNmIhPAvdciag+dN2MMB8Sht5gwEdd96ZZEpjgAZhOM5CcQabM1gOiDLY="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5fb1c249-9d41-a2ba-6ae9-411667d7d261?sv=Sanitized&se=2025-03-08T00%3A40%3A57Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0d158ee6-501e-0047-22f9-8ecbef000000\n",
        "Time:2025-03-07T00:40:59.7145867Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:40:57.4655752-08:00",
    "RandomSeed": "331248941",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
