{
  "Entries": [
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB46A28C168\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/rootFile0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "rmkruGJF1vBSCr78rVjGITkmXy+5eMkKSv0a1RiRlaTPZI9xrFOFT9G7KtzwgRwV6nR9RlvxTzafIW5kKgDXwXUaLUjIVHTloBBd/U7sGcnhBOujE05I3RRZ0ovlICTR42hn1lTTTJUAmKZLk1HnswelgyYUM64m0U8zb4Lo/3/rjBrlhUJ0DrhVo3qo/UnDch6DQJ3+vLC6QAUEn90SF5kmXwc3AS7FMHVtv5AzfdMFcPxjZb/i7c9pK0Q9cG7bQovhgp5Ci3DwvhAokP0fhsMx/y/grrLZQ3I4zdbqiL8GknwFUvo1w+SMc6auulzRSqSADHE/+pTYBz8rCb6aBjZQIf6BGjTI+ztKVDsLKokVZoMxaXxOxpjoLEu7Cbkm8mxwXpheUDBwuBA19aVYzNy2FqM6aJ25AV[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/nonEmptyDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "rmkruGJF1vBSCr78rVjGITkmXy+5eMkKSv0a1RiRlaTPZI9xrFOFT9G7KtzwgRwV6nR9R[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/recursiveDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "rmkruGJF1vBSCr78rVjGITkmXy+5eMkKSv0a1RiRlaTPZI9xrFOFT9G7KtzwgRwV6nR9[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/recursiveDir/nonEmptySubDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "rmkruGJF1vBSCr78rVjGITkmXy+5eMkKSv0a1RiRlaTPZI9xrFOFT[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB46ABCDD30\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:38 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/recursiveDir/emptySubDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB46AC42D58\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:38 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzoncanaryadls.blob.core.windows.net/\" ContainerName=\"test-container-20d3b797-db56-0bae-a687-32aa8eda3e45\"><Blobs><Blob><Name>emptyDir</Name><Properties><Creation-Time>Wed, 07 May 2025 22:13:38 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:13:38 GMT</Last-Modified><Etag>0x8DD8DB46ABCDD30</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>nonEmptyDir</Name><Properties><Creation-Time>Wed, 07 May 2025 22:13:37 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:13:37 GMT</Last-Modified><Etag>0x8DD8DB46A6EFA40</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type /><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInfer[...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB46ABCDD30\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:13:38 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/nonEmptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB46A6EFA40\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-1d0d9a9e-1aec-a197-f945-0ef4d664f4b1/nonEmptyDir/file0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "N826voxVCGkzq6RWfLGMUA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB46E430DD0\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Wed, 07 May 2025 22:13:43 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:13:43 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/nonEmptyDir/file0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8DB46A709D98\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB46A709D98\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-content-md5": "N826voxVCGkzq6RWfLGMUA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      [...]
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/recursiveDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB46A8E8778\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45/recursiveDir/nonEmptySubDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB46AA78C14\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:13:37 GMT",
        "x-ms-group": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "3092d187-7c3e-4417-af6f-2075574525a2",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzoncanaryadls.blob.core.windows.net/test-container-20d3b797-db56-0bae-a687-32aa8eda3e45?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "639899795",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njalauzoncanaryadls\nU2FuaXRpemVk\nhttps://jalauzoncanaryadls.blob.core.windows.net\nhttps://jalauzoncanaryadls.file.core.windows.net\nhttps://jalauzoncanaryadls.queue.core.windows.net\nhttps://jalauzoncanaryadls.table.core.windows.net\n\n\n\n\nhttps://jalauzoncanaryadls-secondary.blob.core.windows.net\nhttps://jalauzoncanaryadls-secondary.file.core.windows.net\nhttps://jalauzoncanaryadls-secondary.queue.core.windows.net\nhttps://jalauzoncanaryadls-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzoncanaryadls.blob.core.windows.net/;QueueEndpoint=https://jalauzoncanaryadls.queue.core.windows.net/;FileEndpoint=https://jalauzoncanaryadls.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzoncanaryadls-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzoncanaryadls-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzoncanaryadls-secondary.file.core.windows.net/;AccountName=jalauzoncanaryadls;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
