{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D6001DDBCD\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3/sourceFolder/test-file-8b4450a6-756d-cc66-b07f-283e0ea0acc9?sv=Sanitized&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EgWMKxd9FWmevNGWSwuLJp8lyV3dYtht8Y3q2Z2LLsU8qSwIFICyi1KqwJxnyGuWCLE7eCHlobAtHjmJkjvLE44LWaLfghIecz4LM6I7BikiVNHsT7WjVwd82/VGKfgX36wOW27Jt4WfHAXj2m4O8RgQZj5p3sPYaAKaYqcc2ElF81P1Laq7WZ1LTTKwwH2ZbendNsK5rQDoNfNrLlTegkS7nuYaGMRtVA2hHpGQJ6iFAfW9P6GHi0ZTDPe3UCpJbMru9SGWflUlb+K0GI9vVw5K5i1fIUOjMxKgxwvMtgTjWLHGojKG7oKfl8++0nK247XpbGr86kuHSsEP9rZJWLje0MDeqbXcxPeqv4l05GCf6eRW40qa525lP1dwd/fMVT4W4AGy2DoADadyUSrCEmZhbw3S83VuQ+lSeGpda03/3mlKXQNe7RCpVtaiJ5VDoyzxDwfq+WLJqJwYX1/Qo6Fac3PBd7ViAoH8KZ2fyxxUD9U9a1xFFOUGgbRmRo2w2bM1R7Qigit2jgyF7tDFKtyAxFCKkjdEFF6NuvYB/Lv0S0/qaoNnMYyqx9xPwCYVQVbX5oI8Jkd78DNWlMc0dZJRkaOA28BYGJLD4Mta9FQ3eHmfKRU5tyQHbnlQEZzFdVJK/i6DlGaWf83veEZ8IfvfHhxOlEt8GNp+eG1GCAc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "h/brAeK5bi4VNuPOlP67wg==",
        "ETag": "\"0x8DD52D6002E7C75\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-content-crc64": "XF5xByqhtY8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:23.6003957Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3/sourceFolder/bar/test-file-aaa4e629-a7d4-fbb2-4a9a-14f5a5a2cf78?sv=Sanitized&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3/sourceFolder/pik/test-file-5430b98a-2266-f6c2-4d66-77ffdc15ce6b?sv=Sanitized&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3?sv=Sanitized&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-aaa4e629-a7d4-fbb2-4a9a-14f5a5a2cf78</Name><VersionId>2025-02-22T00:15:23.7013384Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:15:23 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:15:23 GMT</Last-Modified><Etag>0x8DD52D6003DE388</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>HAUvaxYjZzB+qXTnBr0rLw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:15:23 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Sat, 22 Feb 2025 00:15:23 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-5430b98a-2266-f6c2-4d66-77ffdc15ce6b</Name><VersionId>2025-02-22T00:15:23.7583057Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:15:23 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:15:23 GMT</Last-Modified><Etag>0x8DD52D600466DC5</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-98896e5a-4612-28d2-2512-ebf264e2ba74/destinationFolder/bar/test-file-aaa4e629-a7d4-fbb2-4a9a-14f5a5a2cf78",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3/sourceFolder/bar/test-file-aaa4e629-a7d4-fbb2-4a9a-14f5a5a2cf78?sv=sanitized-value&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D6005D4DD4\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-content-crc64": "0q1VdfunCVQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:23.9072212Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-98896e5a-4612-28d2-2512-ebf264e2ba74/destinationFolder/pik/test-file-5430b98a-2266-f6c2-4d66-77ffdc15ce6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3/sourceFolder/pik/test-file-5430b98a-2266-f6c2-4d66-77ffdc15ce6b?sv=sanitized-value&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D6005DE9F7\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-content-crc64": "DI0yvUo4/Zs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:23.9112183Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-98896e5a-4612-28d2-2512-ebf264e2ba74/destinationFolder/test-file-5f136809-3859-b65e-a193-d7db9eeb437f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3/sourceFolder/test-file-5f136809-3859-b65e-a193-d7db9eeb437f?sv=sanitized-value&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D6005E1102\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-content-crc64": "47LV3thkYj4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:23.9122178Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3?sv=Sanitized&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-98896e5a-4612-28d2-2512-ebf264e2ba74?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3/sourceFolder/bar/test-file-aaa4e629-a7d4-fbb2-4a9a-14f5a5a2cf78?sv=Sanitized&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "HAUvaxYjZzB+qXTnBr0rLw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D6003DE388\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:23.7013384Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3/sourceFolder/bar/test-file-aaa4e629-a7d4-fbb2-4a9a-14f5a5a2cf78?sv=Sanitized&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D6003DE388\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D6003DE388\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-blob-content-md5": "HAUvaxYjZzB+qXTnBr0rLw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:23.7013384Z"
      },
      "ResponseBody": "EE+H7jHhBzJP94OKXnaXDzzdeEzZRE4XCqxMs9gqCt0YnRT+sfR4SN5yWt0jKJ3UAwW4yCmDnswAcOSFlFRZJeymccFhmF1IZDBtZulx9OIPd7DTcUKzlf5I/UEQ87OKGTXwfLbbc2qncGP4FTfij3wCdRyjhbOp8tzCGJscN3B84020gHcsMwRGKwHeuoDGZm3EDn6W55OBR4nZGFvPijjyezLqLQ8E1kEYXVmyyzhb/LItWCny5vu6MzntUhqpdqHJ7D5O3Dlevzg8foo5z3tRfhypojIO/5U2L/nWFoMnb+a46N75DSB4z5jxtmdxgWS9nNP+ANRuuuypGKw/iKi0FA+jgOadWHH7MNKaHUktxK6UGHqwKG8RSS3yUPR0OUfvPaFYzgB+IENiAtAB1J2ie1P9qm8uBOygkTa4qgh8h/aLquCn1fatFvg2TSaeEHWPT9Shdo7XwTi1uDzKxXU75nrZdSq9+6ZdUJN297fFAYHBKFoz2hFns+mn8hy641GC+2arxZpL0lQuQyb6YcqB77e6CJwbBwtpccJBFgiJo2xC8/tQGjvndlYFBJbrbVIeJQJk/9q0Z/NaQVPYCbtLpKC5t27OMdV705JGFQJ0fgRvIvEGJaOSjosI9tjnD2yauV/2MbXjUPQs6CtIblLw5cNPaOfKRX/8JynixTo="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0993ef6a-f9e6-aac6-1436-480d389da3a3?sv=Sanitized&se=2025-02-23T00%3A15%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:6817a1f1-101e-0091-20be-84bf70000000\n",
        "Time:2025-02-22T00:15:25.3303385Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:15:23.5150525-08:00",
    "RandomSeed": "1697426577",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
