{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176894810591509189?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE58733E143C7D\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:28:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176894810591509189/%25D1%2580%25D1%2583%25CC%2581%25D1%2581%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D1%258F%25D0%25B7%25D1%258B%25CC%2581%25D0%25BA176894811176205421",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "QQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "ETag": "\"0x8DE58733E243A82\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:28:32 GMT",
        "x-ms-content-crc64": "PiO3pTJ67n0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:28:32.0234114Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176894810591509189/%25D1%2580%25D1%2583%25CC%2581%25D1%2581%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D1%258F%25D0%25B7%25D1%258B%25CC%2581%25D0%25BA176894811176205421?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE58733E243A82\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:28:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Jan 2026 22:28:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 20 Jan 2026 22:28:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:28:32.0234114Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176894810591509189?comp=list&prefix=%25D1%2580%25D1%2583%25CC%2581%25D1%2581%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D1%258F%25D0%25B7%25D1%258B%25CC%2581%25D0%25BA176894811176205421&restype=container&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"1container-with-dash176894810591509189\"><Prefix>%D1%80%D1%83%CC%81%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%CC%81%D0%BA176894811176205421</Prefix><Blobs><Blob><Name>%D1%80%D1%83%CC%81%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%CC%81%D0%BA176894811176205421</Name><VersionId>2026-01-20T22:28:32.0234114Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 20 Jan 2026 22:28:32 GMT</Creation-Time><Last-Modified>Tue, 20 Jan 2026 22:28:32 GMT</Last-Modified><Etag>0x8DE58733E243A82</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>f8VicOenD6gaWTW3Lqy+KQ==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Tue, 20 Jan 2026 22:28:32 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176894810591509189?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1container-with-dash": "1container-with-dash176894810591509189",
    "ру́сский язы́к": "ру́сский язы́к176894811176205421"
  }
}
