{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash177355591960802220?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825BA61B1D4F\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:25:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash177355591960802220/////Upper/blob/empty%20/another%20%E6%B1%89%E5%AD%97177355592742505690",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "QQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "ETag": "\"0x8DE825BA62AE6BC\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:25:27 GMT",
        "x-ms-content-crc64": "PiO3pTJ67n0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:25:27.4653372Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash177355591960802220/////Upper/blob/empty%20/another%20%E6%B1%89%E5%AD%97177355592742505690?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE825BA62AE6BC\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:25:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 15 Mar 2026 06:25:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sun, 15 Mar 2026 06:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:25:27.4653372Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash177355591960802220?comp=list&prefix=%2F%2F%2F%2FUpper%2Fblob%2Fempty%20%2Fanother%20%E6%B1%89%E5%AD%97177355592742505690&restype=container&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"1container-with-dash177355591960802220\"><Prefix>////Upper/blob/empty /another 汉字177355592742505690</Prefix><Blobs><Blob><Name>////Upper/blob/empty /another 汉字177355592742505690</Name><VersionId>2026-03-15T06:25:27.4653372Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sun, 15 Mar 2026 06:25:27 GMT</Creation-Time><Last-Modified>Sun, 15 Mar 2026 06:25:27 GMT</Last-Modified><Etag>0x8DE825BA62AE6BC</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>f8VicOenD6gaWTW3Lqy+KQ==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Sun, 15 Mar 2026 06:25:27 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash177355591960802220?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "////Upper/blob/empty /another 汉字": "////Upper/blob/empty /another 汉字177355592742505690",
    "1container-with-dash": "1container-with-dash177355591960802220"
  }
}
