{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "23",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "79de4a69-64fb-4b45-a58d-d947ce12262e",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.187"
      },
      "ResponseBody": {
        "id": "thread_eQkVtmRkJ8hfROuS6NdKeiQb",
        "object": "thread",
        "created_at": 1737488628,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_eQkVtmRkJ8hfROuS6NdKeiQb?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "c909fe7f-c587-4df1-ab9a-20e0ac938a89",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.322"
      },
      "ResponseBody": {
        "id": "thread_eQkVtmRkJ8hfROuS6NdKeiQb",
        "object": "thread",
        "created_at": 1737488628,
        "metadata": {},
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_eQkVtmRkJ8hfROuS6NdKeiQb?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "3cd6b8d1-e127-466e-a9c4-05d5df7dc5e6",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.289"
      },
      "ResponseBody": {
        "id": "thread_eQkVtmRkJ8hfROuS6NdKeiQb",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
