{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "101",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b4cbb438-02f1-4122-9ced-9921894e9c37",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.282"
      },
      "ResponseBody": {
        "id": "thread_Kwb1FMyZCQQ1CJkBtRXV1sK3",
        "object": "thread",
        "created_at": 1745961215,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_Kwb1FMyZCQQ1CJkBtRXV1sK3?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ce7f49a5-d7bd-42d0-a3cd-daad6b7aa5db",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.241"
      },
      "ResponseBody": {
        "id": "thread_Kwb1FMyZCQQ1CJkBtRXV1sK3",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
