{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "dbcdfb3a-2f8b-4b3e-bdba-b232933587bc",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.178"
      },
      "ResponseBody": {
        "id": "thread_inGlxofAiBnNmoQAVBb0eil4",
        "object": "thread",
        "created_at": 1732228591,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_inGlxofAiBnNmoQAVBb0eil4?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "7cefe922-34d9-4b7f-9c06-f4374123825a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.242"
      },
      "ResponseBody": {
        "id": "thread_inGlxofAiBnNmoQAVBb0eil4",
        "object": "thread",
        "created_at": 1732228591,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_inGlxofAiBnNmoQAVBb0eil4?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "a5ea9180-1a7c-4f18-9d9c-0d8bab63e896",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.238"
      },
      "ResponseBody": {
        "id": "thread_inGlxofAiBnNmoQAVBb0eil4",
        "object": "thread",
        "created_at": 1732228591,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_inGlxofAiBnNmoQAVBb0eil4?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "4d77f7ad-5234-4fa4-ad59-2c5cb65f57a3",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.210"
      },
      "ResponseBody": {
        "id": "thread_inGlxofAiBnNmoQAVBb0eil4",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
