{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "23",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "13a531a7-c02b-4e9d-ace2-73d2ab31b7ee",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.183"
      },
      "ResponseBody": {
        "id": "thread_HI65iJMHgNk9SqfU41a42JMc",
        "object": "thread",
        "created_at": 1745961208,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_HI65iJMHgNk9SqfU41a42JMc?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ecd061e8-3a2e-4e9b-b2b5-df8b0ba63b14",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.237"
      },
      "ResponseBody": {
        "id": "thread_HI65iJMHgNk9SqfU41a42JMc",
        "object": "thread",
        "created_at": 1745961208,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_HI65iJMHgNk9SqfU41a42JMc?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c68731c3-22e1-4f0c-87c3-ae003494e0f8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.230"
      },
      "ResponseBody": {
        "id": "thread_HI65iJMHgNk9SqfU41a42JMc",
        "object": "thread",
        "created_at": 1745961208,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_HI65iJMHgNk9SqfU41a42JMc?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "39",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "812c54ab-e844-4d54-b1aa-2a26f2c0cd5a",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.177"
      },
      "ResponseBody": {
        "id": "thread_HI65iJMHgNk9SqfU41a42JMc",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
