{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSV2OptIn": "11162022"
        },
        "subscriptionId": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Migrate Test2 (Canary Enabled)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourcegroups/sdktest-net?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/SdkTest-Net",
        "name": "SdkTest-Net",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southeastasia",
        "tags": {
          "Created": "20230213"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/SdkTest-Net/providers/Microsoft.Migrate/assessmentProjects/sdktestproject?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3000ce12-0000-3400-0000-67332fa10000\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sdktest-net/providers/Microsoft.Migrate/assessmentprojects/sdktestproject",
        "name": "sdktestproject",
        "type": "Microsoft.Migrate/assessmentprojects",
        "etag": "\"3000ce12-0000-3400-0000-67332fa10000\"",
        "location": "eastus2euap",
        "kind": "Migrate",
        "properties": {
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "customerStorageAccountArmId": null,
          "createdTimestamp": "2023-10-19T07:55:33.9618713Z",
          "updatedTimestamp": "2024-11-11T11:25:32.3419430Z",
          "serviceEndpoint": "https://asmsrv.ecy.prod.migration.windowsazure.com/",
          "assessmentSolutionId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/SdkTest-Net/providers/Microsoft.Migrate/MigrateProjects/ecy2test/Solutions/Servers-Assessment-ServerAssessment",
          "projectStatus": "Active",
          "customerWorkspaceId": null,
          "customerWorkspaceLocation": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sdktest-net/providers/Microsoft.Migrate/assessmentProjects/sdktestproject/machines?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sdktest-net/providers/Microsoft.Migrate/assessmentprojects/sdktestproject/machines/b037c80b-5f2a-4f40-ae39-30e7b0afd7ad-import",
            "name": "b037c80b-5f2a-4f40-ae39-30e7b0afd7ad-import",
            "systemData": {
              "createdAt": "0001-01-01T00:00:00",
              "createdBy": null,
              "createdByType": null,
              "lastModifiedAt": "0001-01-01T00:00:00",
              "lastModifiedBy": null,
              "lastModifiedByType": null
            },
            "type": "Microsoft.Migrate/assessmentprojects/machines",
            "eTag": "\"00000905-0000-3400-0000-66a0c9a00000\"",
            "properties": {
              "productSupportStatus": {
                "currentVersion": null,
                "servicePackStatus": "Unknown",
                "esuStatus": "Unknown",
                "supportStatus": "OutOfSupport",
                "eta": 0,
                "currentEsuYear": "Unknown",
                "mainstreamEndDate": "2010-07-13T00:00:00Z",
                "extendedSupportEndDate": "2015-07-14T00:00:00Z",
                "extendedSecurityUpdateYear1EndDate": "0001-01-01T00:00:00",
                "extendedSecurityUpdateYear2EndDate": "0001-01-01T00:00:00",
                "extendedSecurityUpdateYear3EndDate": "0001-01-01T00:00:00"
              },
              "workloadSummary": {
                "oracleInstances": 0,
                "springApps": 0,
                "mySQLInstances": 0
              },
              "errors": [],
              "hostProcessor": null,
              "discoveryMachineArmId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourcegroups/sdktest-net/providers/microsoft.offazure/importsites/ecy2test15f3rvtoolssite/machines/5038269d-0e56-5ff0-47af-075c4df1e684",
              "datacenterManagementServerArmId": null,
              "datacenterManagementServerName": null,
              "bootType": "BIOS",
              "displayName": "SE000000010189",
              "megabytesOfMemory": 16384.0,
              "numberOfCores": 8,
              "operatingSystemType": "windowsguest",
              "operatingSystemName": "Microsoft Windows Server 2003 (32-bit)",
              "operatingSystemVersion": null,
              "description": null,
              "createdTimestamp": "2024-07-24T09:30:06.7737303Z",
              "disks": {
                "disk0": {
                  "gigabytesAllocated": 85.0803885543719,
                  "displayName": "Disk0"
                }
              },
              "groups": [],
              "networkAdapters": {},
              "sqlInstances": [],
              "webApplications": [],
              "updatedTimestamp": "2024-07-24T09:30:08.2766409Z"
            }
          },
          {
            "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sdktest-net/providers/Microsoft.Migrate/assessmentprojects/sdktestproject/machines/1a11b92c-a912-44fc-9642-9011cb1b136b-import",
            "name": "1a11b92c-a912-44fc-9642-9011cb1b136b-import",
            "systemData": {
              "createdAt": "0001-01-01T00:00:00",
              "createdBy": null[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sdktest-net/providers/Microsoft.Migrate/assessmentProjects/sdktestproject/machines/b037c80b-5f2a-4f40-ae39-30e7b0afd7ad-import?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; ch[...]
