{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-chaos-sdk-rp-recording?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording",
        "name": "rg-chaos-sdk-rp-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2025-04-22T20:48:25.3578804+00:00",
          "Owners": "renzopretto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/targetTypes/Microsoft-VirtualMachineScaleSet?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "2999"
      },
      "ResponseBody": {
        "properties": {
          "propertiesSchema": "https://afd-schema-tc.eastus.chaos-prod.azure.com/targetTypes/Microsoft-VirtualMachineScaleSet/propertiesSchema.json",
          "resourceTypes": [
            "Microsoft.Compute/virtualMachineScaleSets"
          ]
        },
        "name": "Microsoft-VirtualMachineScaleSet",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/targetTypes/Microsoft-VirtualMachineScaleSet",
        "type": "Microsoft.Chaos/locations/targetTypes",
        "systemData": {
          "createdByType": "Application",
          "createdAt": "2025-03-25T22:34:00.3162963+00:00",
          "lastModifiedAt": "2025-03-25T22:34:00.3162963+00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/targetTypes/Microsoft-VirtualMachineScaleSet/capabilityTypes/Shutdown-2.0?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4999"
      },
      "ResponseBody": {
        "properties": {
          "publisher": "Microsoft",
          "targetType": "VirtualMachineScaleSet",
          "parametersSchema": "https://afd-schema-tc.eastus.chaos-prod.azure.com/targetTypes/Microsoft-VirtualMachineScaleSet/capabilityTypes/Shutdown-2.0/parametersSchema.json",
          "urn": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0",
          "kind": "Fault",
          "azureRbacActions": [
            "Microsoft.Compute/virtualMachineScaleSets/poweroff/action",
            "Microsoft.Compute/virtualMachineScaleSets/start/action",
            "Microsoft.Compute/virtualMachineScaleSets/instanceView/read",
            "Microsoft.Compute/virtualMachineScaleSets/read",
            "Microsoft.Compute/locations/operations/read",
            "Microsoft.Compute/virtualMachineScaleSets/virtualMachines/read"
          ],
          "azureRbacDataActions": [],
          "requiredAzureRoleDefinitionIds": [
            "9980e02c-c2be-4d73-94e8-173b1dc7cf3c"
          ],
          "runtimeProperties": {
            "kind": "Continuous"
          },
          "requiredFeatureFlags": null
        },
        "name": "Shutdown-2.0",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/targetTypes/Microsoft-VirtualMachineScaleSet/capabilityTypes/Shutdown-2.0",
        "type": "Microsoft.Chaos/locations/targetTypes/capabilityTypes",
        "systemData": {
          "createdByType": "Application",
          "createdAt": "2025-03-25T22:34:02.8377268+00:00",
          "lastModifiedAt": "2025-03-25T22:34:02.8377268+00:00"
        }
      }
    }
  ],
  "Variables": {
    "LOCATION": "eastus",
    "RandomSeed": "205182207",
    "RESOURCE_GROUP": "rg-chaos-sdk-rp-recording",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fb74b135-894b-4c1d-9b2e-8a3c231abc14"
  }
}
