{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693892F2C94\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56938939F280\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04/sourceFolder/test-file-4ee4e790-5d4b-ff48-a107-713bf88ae940",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "vubO+U5uFyExcH52OkLeOJ9jVWsi+6rkwit/8crlj15HH30Ru+/xBNNaPScurX6Me1vDDe1UL8M86jYi7yVXTOEfLxvEzXyvcVGXyL2CthSt8nZuIoJx8u+61dG4zhStAvFGDn5jx63fE5ubvWcGujMidfyv6SlfrTwrCveq9qM86cXLO6eWSivIjw7m1jWHtBqellkY/hnI52BBN721NB34XtOiOn+LiyrQ5lkaeNcHo1XdDF9JJOurA1NGVBNtElrx7ndh5XmbEgsuRxi/rW+JOpNo2Ci9rjro9jcrRDcXY9P/KIpfpb7bQfpUG9zS61XkvRmABToxND89ee9Cb83TF+RFwITlKZTUjJYuaJNeFQrhR4cdl12YzfRKIizPmdIsgQP3jSvR/pSFq3ijA8us3mPkYCdFtYCGrPK[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04/sourceFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04/sourceFolder/pik/test-file-64de8a53-8a8a-ff4e-ea4c-e6cd5be2d492",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693896AE1B4\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:29:42.2142900Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.2142900Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-26T18:29:42.2142900Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-308aee36-972f-9a8a-4172-312a023f2a04\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990</Name><Properties><Creation-Time>Wed, 26 Feb 2025 18:29:42 GMT</Creation-Time><Last-Modified>Wed, 26 Feb 2025 18:29:42 GMT</Last-Modified><Etag>0x8DD56938955B296</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>X7kTCA/oY1XuZv0vpDLGrw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 26 Feb 2025 18:29:42 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-64de8a53-8a8a-ff4e-ea4c-e6cd5be2d492</Name><Properties><Creation-Time>Wed, 26 Feb 2025 18:29:42 GMT</Creation-Time><Last-Modified>Wed, 26 Feb 2025 18:29:42 GMT</Last-Modified><Etag>0x8DD56938960A2D0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>+9yRPCFRjnpZT2oHch71xg==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/bar?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569389880CEB\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:29:42.4054507Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.4054507Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-26T18:29:42.4054507Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/pik?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569389910387\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:29:42.4641927Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.4641927Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-26T18:29:42.4641927Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56938B483785\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:45.3425541Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.3425541Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/test-file-6f7ceb72-ac98-b824-cf5a-93627043c052?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/pik/test-file-64de8a53-8a8a-ff4e-ea4c-e6cd5be2d492?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04/sourceFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56938B53C34C\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-content-crc64": "e3bcXbyIhco=",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.3425541Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56938B5CB9EB\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:45.4769643Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.3425541Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/test-file-6f7ceb72-ac98-b824-cf5a-93627043c052?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04/sourceFolder/test-file-6f7ceb72-ac98-b824-cf5a-93627043c052",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56938B619670\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-content-crc64": "nHwGTazFHvo=",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.4391299Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/pik/test-file-64de8a53-8a8a-ff4e-ea4c-e6cd5be2d492?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04/sourceFolder/pik/test-file-64de8a53-8a8a-ff4e-ea4c-e6cd5be2d492",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56938B6845AE\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-content-crc64": "KWOAIqNM9NI=",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.4590425Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/test-file-6f7ceb72-ac98-b824-cf5a-93627043c052?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56938B6D6FFE\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:45.5864830Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.4391299Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/pik/test-file-64de8a53-8a8a-ff4e-ea4c-e6cd5be2d492?sv=Sanitized&se=2025-02-27T18%3A29%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56938B755662\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:45.6382562Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.4590425Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-621fad13-2164-caea-7330-4ffbe908cca3\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-4ee4e790-5d4b-ff48-a107-713bf88ae940</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-6f7ceb72-ac98-b824-cf5a-93627043c052</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-621fad13-2164-caea-7330-4ffbe908cca3\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-26c76949-9ca1-123c-47b0-8289ddbf2990</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-621fad13-2164-caea-7330-4ffbe908cca3\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-64de8a53-8a8a-ff4e-ea4c-e6cd5be2d492</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04/sourceFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "X7kTCA/oY1XuZv0vpDLGrw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD56938955B296\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD56938B5CB9EB\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:45.4769643Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.3425541Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-308aee36-972f-9a8a-4172-312a023f2a04/sourceFolder/bar/test-file-26c76949-9ca1-123c-47b0-8289ddbf2990",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD56938955B296\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD56938955B296\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-blob-content-md5": "X7kTCA/oY1XuZv0vpDLGrw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 Feb 2025 18:29:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "rw11G5lOKmRlDrDhq8tEdiR6MsesXWd8tzInc[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/pik/test-file-64de8a53-8a8a-ff4e-ea4c-e6cd5be2d492",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD56938B755662\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:45.6382562Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:42.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-26T18:29:45.4590425Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-621fad13-2164-caea-7330-4ffbe908cca3/destFolder/test-file-4ee4e790-5d4b-ff48-a107-713bf88ae940",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD56938B70EE81\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:45 GMT",
        "x-ms-file-attributes": "Archive",
[...]
