{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF609EDA7\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:48:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF613ADBD\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5/sourceFolder/test-file-7c6d70ab-5396-2752-6d87-42f4b6390ea9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "pUoAO/buxZAO3RioLUvRUr+g/Rz9k2RVUdbBt70fI2nU6E9rONKzz+hI4nI9dmhwDUNyZAaWXBHmq+kfLQ7S77qu00X7Zhns7C4ztbHxF9ptUKl6rL5jPow+hY3ok6HadfO3jqMjdKcphXfXYqdg9JMOsdxkWEL7S5S4veGMBFmNWT++Oog3SdwCUSZHjNvl3pD52eHEdR2xvEMOa7bGnIEdSQlnoboK12gAYgYbs7+50t9Qkip3yeMhDX1FKd4lO7WlKULSfTzW7wJ5xBMXlQiEVJjXdglXpoAlRpQ8xa2K2iZRdol85lWieqMn/QTQCXd1wNRFTsWrTYPBrTenmSlV7+nsxh9+B25DNPtmMKh7VDwdxwTYRYthpSgGuzke++B50g4b5ENX97lmARrJRR3aRVj6idIlfKpeiiD3d0w0JTkb7F6ZYG/4xtBLckNxl2ALLHXhI3EOVFVkvFkjYH9sMtzhrlm+QOXoAcMC2gpm7PO/60vXUgHHDZcINaMW1WZQ3j9nkOkHTOuP+CKtC3pL/s9mZHQzld/aGaHBtgtB0ixdsfzK/1wJuJ9gR1rfGQEdvDbUr3HyHEhgjHZHRZbfTib2UFl+gf5zXKvV002F+/+fpPnUbSO6a5SzanLlwnIIgPk06Mmnnjs3YVLFHEn62pF3p6CcC+ECO+XEyhc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "e8j/GZw4ygudcFHj1kZRxA==",
        "ETag": "\"0x8DD513FF61AF01E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-content-crc64": "YJ8I+EMU4g8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:48:51.0228510Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5/sourceFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-la[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5/sourceFolder/pik/test-file-832a77c7-8df4-aa36-182a-957992099398",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-la[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF63DA69B\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:48:51.2503451Z",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.2503451Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:48:51.2503451Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-640ee522-0718-90d1-81ec-5ba59487a5a5\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd</Name><VersionId>2025-02-19T23:48:51.1357860Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:48:51 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:48:51 GMT</Last-Modified><Etag>0x8DD513FF62C2BA4</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>CO0cT3mwKfagdTInuntQWQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 19 Feb 2025 23:48:51 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 19 Feb 2025 23:48:51 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-832a77c7-8df4-aa36-182a-957992099398</Name><VersionId>2025-02-19T23:48:51.1817600Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:48:51 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:48:51 GMT</Last-Modified><Etag>0x8DD513FF6332F80</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/bar?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF65152C7\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:48:51.3792711Z",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.3792711Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:48:51.3792711Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/pik?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF6582F92\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:48:51.4242450Z",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.4242450Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:48:51.4242450Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF74D8F30\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:48:53.0323248Z",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:48:53.0323248Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/test-file-f1d9aebe-5650-961e-bbdf-95320404b25a?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/pik/test-file-832a77c7-8df4-aa36-182a-957992099398?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5/sourceFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF75C330F\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-content-crc64": "i9tMiXDq3f4=",
        "x-ms-file-last-write-time": "2025-02-19T23:48:53.0323248Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF7644830\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:48:53.1812400Z",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:48:53.0323248Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/test-file-f1d9aebe-5650-961e-bbdf-95320404b25a?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5/sourceFolder/test-file-f1d9aebe-5650-961e-bbdf-95320404b25a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF76E0AC4\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-content-crc64": "eOrk7YxQ+IA=",
        "x-ms-file-last-write-time": "2025-02-19T23:48:53.1712460Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/pik/test-file-832a77c7-8df4-aa36-182a-957992099398?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5/sourceFolder/pik/test-file-832a77c7-8df4-aa36-182a-957992099398",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF76F6A20\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-content-crc64": "LjxVNT1jZaY=",
        "x-ms-file-last-write-time": "2025-02-19T23:48:53.1792415Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/test-file-f1d9aebe-5650-961e-bbdf-95320404b25a?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF774E796\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:48:53.2901782Z",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:48:53.1712460Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/pik/test-file-832a77c7-8df4-aa36-182a-957992099398?sv=Sanitized&se=2025-02-20T23%3A48%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FF777583A\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:48:53.3061690Z",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:48:53.1792415Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-7c6d70ab-5396-2752-6d87-42f4b6390ea9</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-f1d9aebe-5650-961e-bbdf-95320404b25a</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-832a77c7-8df4-aa36-182a-957992099398</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5/sourceFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "CO0cT3mwKfagdTInuntQWQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513FF62C2BA4\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:48:51.1357860Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513FF7644830\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:48:53.1812400Z",
        "x-ms-file-creation-time": "2025-02-19T23:48:51.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:48:53.0323248Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-640ee522-0718-90d1-81ec-5ba59487a5a5/sourceFolder/bar/test-file-00bb8454-387e-15c4-7a93-a5a3633f55cd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD513FF62C2BA4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513FF62C2BA4\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-blob-content-md5": "CO0cT3mwKfagdTInuntQWQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:48:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 19 Feb 2025 23:48:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:48:51.1357860Z"
      },
      "ResponseBody": "Wbc3tNMecUNUYlDWEEFOohnpr+EPjNUpTbuUMBUtm5WYWRBuIw2aNRJ4rBzo7gQ5RAOKeZB0vc3hDmYYiUEtJ8a6Pbcw4H8LT3rPl+C5QV+2W+wSoiIFJJtCjRWmgqvRSoVVLbBMCGOEfykVpSbtJ8wHYS5UGoSjtRkc7VNqZM3P/kxbZBOuaVOIjiP47390VWVInyB9fC8AsniXMBoQGRpcRqfaksO4WPfby4xhqsWaqJjtIcSsUYEcWrGbFzk4eHQInKnXmsOij0coorCjnwey/YeCI/hVr/QlvTcRHUG+olMXWA4cwg7USpJ9hK/Rebuq6BqytVV8suy0styMkXIFav9ci0f4ljp5rthl2CtEVER8ZzQnC+3+m6UhZw8ySLkgdxmwdO10sVLfOAd8FtrBb12XDyo93l4SXvCh1y8qR2UeRWARlOBXCLXiR9PmgYTKYPeymjiP4pi6nhX80toitPGhXdF5r9t9Pwd0W5eLK9xr13Y3eKwsj2LIVvbKWjbbv5PhRCOzULAcNFoxGocBL3I5kPtj6jtEdM5usVjksuXRmZsDque4uIbFG0RS+3TaxieDkco6d9RXnNBVRJ9YN4J1YIHs/YWLgNh1nc/38nlalOoxYSAaliHGrA0WY3TmbePB3Jvy7smi+BHxxdkFYKpX+q+0JtZhWslfJlE="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-74042d76-b61f-b9e6-0d29-0abe5255dc4e/destinationFolder/pik/test-file-832a77c7-8df4-aa36-182a-957992099398",
[...]
