{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1146e9c2-b136-95f8-0dfa-555026c5769a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CBE23B684\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CBE2E19CA\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1146e9c2-b136-95f8-0dfa-555026c5769a/sourceFolder/test-file-b5dd3b28-583b-e1a0-30fe-43199d43b324",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD194CBE37B7B6\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1146e9c2-b136-95f8-0dfa-555026c5769a/sourceFolder/bar/test-file-1d3505cf-5372-6b8d-1613-088e54749c2a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD194CBE4A6750\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1146e9c2-b136-95f8-0dfa-555026c5769a/sourceFolder/pik/test-file-6dc4b279-c4b4-468d-43d5-c2d6c30e7152",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD194CBE53ABBB\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CBE5D499D\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T18:59:15.8472093Z",
        "x-ms-file-creation-time": "2024-12-10T18:59:15.8472093Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:59:15.8472093Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1146e9c2-b136-95f8-0dfa-555026c5769a?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-1146e9c2-b136-95f8-0dfa-555026c5769a\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-1d3505cf-5372-6b8d-1613-088e54749c2a</Name><Properties><Creation-Time>Tue, 10 Dec 2024 18:59:15 GMT</Creation-Time><Last-Modified>Tue, 10 Dec 2024 18:59:15 GMT</Last-Modified><Etag>0x8DD194CBE4A6750</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 10 Dec 2024 18:59:15 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-6dc4b279-c4b4-468d-43d5-c2d6c30e7152</Name><Properties><Creation-Time>Tue, 10 Dec 2024 18:59:15 GMT</Creation-Time><Last-Modified>Tue, 10 Dec 2024 18:59:15 GMT</Last-Modified><Etag>0x8DD194CBE53ABBB</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Cont[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/bar?sv=Sanitized&se=2024-12-11T18%3A59%3A16Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CBE7BD2E2\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T18:59:16.0473314Z",
        "x-ms-file-creation-time": "2024-12-10T18:59:16.0473314Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T18:59:16.0473314Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/pik?sv=Sanitized&se=2024-12-11T18%3A59%3A16Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CBE853E38\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T18:59:16.1090616Z",
        "x-ms-file-creation-time": "2024-12-10T18:59:16.1090616Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-10T18:59:16.1090616Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/bar/test-file-1d3505cf-5372-6b8d-1613-088e54749c2a?sv=Sanitized&se=2024-12-11T18%3A59%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/test-file-b5dd3b28-583b-e1a0-30fe-43199d43b324?sv=Sanitized&se=2024-12-11T18%3A59%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/pik/test-file-6dc4b279-c4b4-468d-43d5-c2d6c30e7152?sv=Sanitized&se=2024-12-11T18%3A59%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/bar/test-file-1d3505cf-5372-6b8d-1613-088e54749c2a?sv=Sanitized&se=2024-12-11T18%3A59%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "0",
        "x-ms-content-type": "text/plain",
        "x-ms-file-creation-time": "2024-12-10T18:59:15.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CBE946F6B\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:59:16.2086251Z",
        "x-ms-file-creation-time": "2024-12-10T18:59:15.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-12-10T18:59:16.2086251Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1146e9c2-b136-95f8-0dfa-555026c5769a?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-06cf3ed8-90b7-d13c-eff0-3e0f6e9fcbb4</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>0</Content-Length></Properties></File><File><Name>test-file-b5dd3b28-583b-e1a0-30fe-43199d43b324</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-1d3505cf-5372-6b8d-1613-088e54749c2a</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-6dc4b279-c4b4-468d-43d5-c2d6c30e7152</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1146e9c2-b136-95f8-0dfa-555026c5769a/sourceFolder/bar/test-file-1d3505cf-5372-6b8d-1613-088e54749c2a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CBE4A6750\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 18:59:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/bar/test-file-1d3505cf-5372-6b8d-1613-088e54749c2a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CBE946F6B\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:59:16.2086251Z",
        "x-ms-file-creation-time": "2024-12-10T18:59:15.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-12-10T18:59:16.2086251Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/pik/test-file-6dc4b279-c4b4-468d-43d5-c2d6c30e7152",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CBE9C7CB1\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:59:16.2613937Z",
        "x-ms-file-creation-time": "2024-12-10T18:59:15.0000000Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2024-12-10T18:59:16.2613937Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3/destinationFolder/test-file-06cf3ed8-90b7-d13c-eff0-3e0f6e9fcbb4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CBE9C2EE9\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:59:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:59:16.2594025Z",
        "x-ms-file-creation-time": "2024-12-10T18:59:15.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-12-10T18:59:16.2594025Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-480178f7-3b13-cb1a-b7a8-c80489dc56a3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1146e9c2-b136-95f8-0dfa-555026c5769a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:59:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T10:59:16.1714956-08:00",
    "RandomSeed": "2012874076",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
