{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/nodecounts?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 00:02:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#poolnodecounts",
        "value": [
          {
            "poolId": "jssdkPool-Basic2e14",
            "dedicated": {
              "creating": 0,
              "deallocated": 0,
              "deallocating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 4,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 4
            },
            "lowPriority": {
              "creating": 0,
              "deallocated": 0,
              "deallocating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
      [...]
[...]
