{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?%24filter=startswith(id%2C%27jssdkPool-Basic2ade%27)&%24select=id,state&%24expand=stats&api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Sat, 25 Oct 2025 00:33:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "jssdkPool-Basic2ade",
            "state": "active"
          }
        ]
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic2ade"
  }
}
