{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint2987/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 00:03:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_723f2d436c737e025b4e682d84dc20f286cc7bd46c561f03a7e137344f24a195_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint2987/nodes/tvmps_723f2d436c737e025b4e682d84dc20f286cc7bd46c561f03a7e137344f24a195_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-03T00:03:07.505121Z",
            "lastBootTime": "2026-02-03T00:03:07.219794Z",
            "allocationTime": "2026-02-03T00:02:01.3017212Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_723f2d436c737e025b4e682d84dc20f286cc7bd46c561f03a7e137344f24a195_d",
            "vmSize": "standard_a1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "TestEndpointConfig.0",
                  "protocol": "udp",
                  "publicIPAddress": "20.205.57.96",
                  "publicFQDN": "dns0eb9a6b6-3d42-4c65-b141-c8699f3f90e8-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 60000,
                  "backendPort": 64444
                },
                {
                  "name": "ssh.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.205.57.96",
                  "publicFQDN": "dns0eb9a6b6-3d42-4c65-b141-c8699f3f90e8-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2026-02-03T00:03:07.219794Z",
              "version": "1.12.39"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint2987/nodes/tvmps_723f2d436c737e025b4e682d84dc20f286cc7bd46c561f03a7e137344f24a195_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 00:03:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint2987/nodes/tvmps_723f2d436c737e025b4e682d84dc20f286cc7bd46c561f03a7e137344f24a195_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "20.205.57.96",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {
    "ENDPOINT_POOL": "jssdkPool-Endpoint2987"
  }
}
