{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic2e14?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 00:01:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62B754EF2131",
        "Last-Modified": "Tue, 03 Feb 2026 00:01:07 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic2e14"
  }
}
