{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic2ade?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Sat, 25 Oct 2025 00:33:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135E2D3ADA01",
        "Last-Modified": "Sat, 25 Oct 2025 00:33:53 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic2ade"
  }
}
