{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 03 Feb 2026 00:03:28 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-SecurityProfile4d8e",
        "vmSize": "Standard_D2s_v3",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "securityProfile": {
            "securityType": "trustedLaunch",
            "encryptionAtHost": true,
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            }
          },
          "osDisk": {
            "caching": "readwrite",
            "managedDisk": {
              "storageAccountType": "standard_lrs"
            },
            "diskSizeGB": 50,
            "writeAcceleratorEnabled": true
          }
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfile4d8e",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62B7A8E48871",
        "Last-Modified": "Tue, 03 Feb 2026 00:03:28 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfile4d8e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfile4d8e?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 00:03:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62B7A8E48871",
        "Last-Modified": "Tue, 03 Feb 2026 00:03:28 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-SecurityProfile4d8e",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfile4d8e",
        "eTag": "0x8DE62B7A8E48871",
        "lastModified": "2026-02-03T00:03:28.5275761Z",
        "creationTime": "2026-02-03T00:03:28.5275757Z",
        "state": "active",
        "stateTransitionTime": "2026-02-03T00:03:28.5275757Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-02-03T00:03:28.5275761Z",
        "vmSize": "standard_d2s_v3",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "osDisk": {
            "ephemeralOSDiskSettings": {},
            "managedDisk": {
              "storageAccountType": "standard_lrs"
            },
            "diskSizeGB": 50,
            "writeAcceleratorEnabled": true,
            "caching": "ReadWrite"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "securityProfile": {
            "securityType": "trustedlaunch",
            "encryptionAtHost": true,
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfile4d8e?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 00:03:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "SECURITY_PROFILE_POOL": "jssdkPool-SecurityProfile4d8e"
  }
}
