{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Sat, 25 Oct 2025 00:32:58 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-Basic2ade",
        "vmSize": "Standard_D1_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.windows amd64",
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter"
          },
          "extensions": [
            {
              "name": "batchextension1",
              "type": "GenevaMonitoring",
              "publisher": "Microsoft.Azure.Geneva",
              "typeHandlerVersion": "2.0",
              "autoUpgradeMinorVersion": true,
              "enableAutomaticUpgrade": true
            }
          ]
        },
        "networkConfiguration": {
          "enableAcceleratedNetworking": true
        },
        "targetDedicatedNodes": 4,
        "startTask": {
          "commandLine": "cmd /c echo hello > hello.txt"
        },
        "userAccounts": [
          {
            "name": "nonAdminUser",
            "password": "kt#_gahr!@aGERDXA",
            "elevationLevel": "nonadmin"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic2ade",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135E0C85F637",
        "Last-Modified": "Sat, 25 Oct 2025 00:32:59 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic2ade"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic2ade"
  }
}
