{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 03 Feb 2026 00:03:11 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-369e2",
        "vmSize": "Standard_A1_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.windows amd64",
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-369e2",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62B79EFC6E5F",
        "Last-Modified": "Tue, 03 Feb 2026 00:03:11 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-369e2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_POOL3": "jssdkPool-369e2"
  }
}
