{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7B64DCFBCD532813935CB68AC6100632931FD4D18B58FF4673?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:05:13 GMT"
      },
      "RequestBody": {
        "name": "7B64DCFBCD532813935CB68AC6100632931FD4D18B58FF4673-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0044aa-0000-0700-0000-654ac2a90000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:05:13 GMT",
        "trace-id": "8d48bebe-a94f-87a6-669e-294a7c5f2ffc"
      },
      "ResponseBody": {
        "id": "7B64DCFBCD532813935CB68AC6100632931FD4D18B58FF4673",
        "name": "7B64DCFBCD532813935CB68AC6100632931FD4D18B58FF4673-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0044aa-0000-0700-0000-654ac2a90000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7B64DCFBCD532813935CB68AC6100632931FD4D18B58FF4673?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:05:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "ab59a9ee-60f3-c7dc-5968-e82695f8d99f"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-6SV8OdcIU0ONlE6gkQdOAg-",
    "RandomSeed": "1394586097"
  }
}
