{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/sdk-2tOBGjWE5kWxFkyqWsA6Gw--RR-DistributionPolicy?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:03:08 GMT"
      },
      "RequestBody": {
        "name": "sdk-2tOBGjWE5kWxFkyqWsA6Gw--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "roundRobin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002209005ad7-0000-0700-0000-65de783c0000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:03:08 GMT",
        "trace-id": "1032f8d0-5b92-453e-1c6f-9459faf0a1b1"
      },
      "ResponseBody": {
        "id": "sdk-2tOBGjWE5kWxFkyqWsA6Gw--RR-DistributionPolicy",
        "name": "sdk-2tOBGjWE5kWxFkyqWsA6Gw--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002209005ad7-0000-0700-0000-65de783c0000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/sdk-2tOBGjWE5kWxFkyqWsA6Gw--RR-DistributionPolicy?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=aKRF6yU3D5s66nzIXdzNkKr\u002BxkMs4Ji5uHdn05ns\u002BGk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Wed, 28 Feb 2024 00:03:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "cf17539d-d3d5-691a-f0af-1fd6e16b5e70"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-2tOBGjWE5kWxFkyqWsA6Gw-",
    "RandomSeed": "351207222"
  }
}
