{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/8A0BFDCF1938BF13F06925C4594AA9336C26F0EDD931974992?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:02:43 GMT"
      },
      "RequestBody": {
        "name": "8A0BFDCF1938BF13F06925C4594AA9336C26F0EDD931974992-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "scoringRule": {
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            },
            "kind": "function"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ]
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "kind": "bestWorker"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022090049d7-0000-0700-0000-65de78240000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:02:44 GMT",
        "trace-id": "b2f97832-50e0-b5b4-8536-c1fbc2bc7778"
      },
      "ResponseBody": {
        "id": "8A0BFDCF1938BF13F06925C4594AA9336C26F0EDD931974992",
        "name": "8A0BFDCF1938BF13F06925C4594AA9336C26F0EDD931974992-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "bestWorker",
          "scoringRule": {
            "kind": "function",
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            }
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "isBatchScoringEnabled": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        },
        "etag": "\u0022090049d7-0000-0700-0000-65de78240000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/8A0BFDCF1938BF13F06925C4594AA9336C26F0EDD931974992?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:02:43 GMT"
      },
      "RequestBody": {
        "mode": {
          "scoringRule": {
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "functionKey": "Sanitized"
            },
            "kind": "function"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ]
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "kind": "bestWorker"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/8A0BFDCF1938BF13F06925C4594AA9336C26F0EDD931974992?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=in4ciW1iQxKAis7bgGDFAu6n/90Qy8PW4RTkMrg6MK8=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Wed, 28 Feb 2024 00:02:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "4725d32d-0eb4-31e1-076d-b41f3bfdcaf3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-qQ645NCVlE65e760BVPMbA-",
    "RandomSeed": "1420680312"
  }
}
