{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/sdk-faXryyegW0GvbO-4BJfvnQ--RR-DistributionPolicy?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:29:49 GMT"
      },
      "RequestBody": {
        "name": "sdk-faXryyegW0GvbO-4BJfvnQ--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a400cb88-0000-0700-0000-65525d0c0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:29:48 GMT",
        "trace-id": "241be6b7-db6d-76e1-969d-8f5454e6006f"
      },
      "ResponseBody": {
        "id": "sdk-faXryyegW0GvbO-4BJfvnQ--RR-DistributionPolicy",
        "name": "sdk-faXryyegW0GvbO-4BJfvnQ--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a400cb88-0000-0700-0000-65525d0c0000\u0022"
      }
    },
[...]
