{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/03F60D4F5BA71BE34BF72F2D36896A3224CC70A62E73EC511F?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:02:52 GMT"
      },
      "RequestBody": {
        "name": "03F60D4F5BA71BE34BF72F2D36896A3224CC70A62E73EC511F-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022090052d7-0000-0700-0000-65de782d0000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:02:53 GMT",
        "trace-id": "08fcee6e-2a5c-5968-4828-bac7799150e3"
      },
      "ResponseBody": {
        "id": "03F60D4F5BA71BE34BF72F2D36896A3224CC70A62E73EC511F",
        "name": "03F60D4F5BA71BE34BF72F2D36896A3224CC70A62E73EC511F-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022090052d7-0000-0700-0000-65de782d0000\u0022"
      }
    },
[...]
