{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/getSnapshotsTest120823uid0?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzcyMg==;sn=107327722",
        "x-ms-date": "Thu, 05 Mar 2026 09:42:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/getSnapshotsTest120823uid0?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzcyMg==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "getSnapshotsTest120823uid0",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"gRqqj8hyC87iWUUkmp0-XFUvHFg8s9l2rVNkYl0y_6k\"",
        "Last-Modified": "Thu, 05 Mar 2026 09:42:27 GMT",
        "Link": "</kv?snapshot=getSnapshotsTest120823uid0&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=getSnapshotsTest120823uid0&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzcyMw==;sn=107327723",
        "x-ms-date": "Thu, 05 Mar 2026 09:42:27 GMT"
      },
      "ResponseBody": {
        "etag": "gRqqj8hyC87iWUUkmp0-XFUvHFg8s9l2rVNkYl0y_6k",
        "name": "getSnapshotsTest120823uid0",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-03-05T09:42:27.3098599+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=getSnapshotsTest120823uid0&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzcyMw==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzcyMw==;sn=107327723",
        "x-ms-date": "Thu, 05 Mar 2026 09:42:27 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=getSnapshotsTest120823uid0&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzcyMw==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=ut[...]
