{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestSettingNilValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xvkxvTIN9VZnqoFMQqA1XmM-oYclntBlZ9Zi74yD4Qg\"",
        "Last-Modified": "Thu, 05 Mar 2026 06:27:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNjI5OA==;sn=107326298",
        "x-ms-date": "Thu, 05 Mar 2026 06:27:46 GMT"
      },
      "ResponseBody": {
        "etag": "xvkxvTIN9VZnqoFMQqA1XmM-oYclntBlZ9Zi74yD4Qg",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-05T06:27:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNjI5OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xvkxvTIN9VZnqoFMQqA1XmM-oYclntBlZ9Zi74yD4Qg\"",
        "Last-Modified": "Thu, 05 Mar 2026 06:27:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNjMwMA==;sn=107326300",
        "x-ms-date": "Thu, 05 Mar 2026 06:27:46 GMT"
      },
      "ResponseBody": {
        "etag": "xvkxvTIN9VZnqoFMQqA1XmM-oYclntBlZ9Zi74yD4Qg",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-05T06:27:46+00:00"
      }
    }
  ],
  "Variables": {}
}
