{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestAddSettingWithTags?api-version=2023-11-01&label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestAddSettingWithTags",
        "label": "label",
        "tags": {
          "component": "api",
          "environment": "test",
          "region": "eastus"
        },
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0zITfQ-3ARB7iWsY9EUF07N9ikK6jgfnECaoDJ7XWDQ\"",
        "Last-Modified": "Fri, 10 Apr 2026 01:50:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUwNzQ5MA==;sn=110507490",
        "x-ms-date": "Fri, 10 Apr 2026 01:50:38 GMT"
      },
      "ResponseBody": {
        "etag": "0zITfQ-3ARB7iWsY9EUF07N9ikK6jgfnECaoDJ7XWDQ",
        "key": "key-TestAddSettingWithTags",
        "label": "label",
        "content_type": null,
        "value": "value",
        "tags": {
          "component": "api",
          "environment": "test",
          "region": "eastus"
        },
        "locked": false,
        "last_modified": "2026-04-10T01:50:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestAddSettingWithTags?api-version=2023-11-01&label=label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUwNzQ5MA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicatio[...]
