{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestSettingNilValue",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"175opG9phzwtXtpJ5GRXu3gbQ09DJc-HOEukdeY87Kc\"",
        "Last-Modified": "Mon, 08 Sep 2025 04:54:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTA3;sn=53731507"
      },
      "ResponseBody": {
        "etag": "175opG9phzwtXtpJ5GRXu3gbQ09DJc-HOEukdeY87Kc",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-08T04:54:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTA3",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"175opG9phzwtXtpJ5GRXu3gbQ09DJc-HOEukdeY87Kc\"",
        "Last-Modified": "Mon, 08 Sep 2025 04:54:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTA4;sn=53731508"
      },
      "ResponseBody": {
        "etag": "175opG9phzwtXtpJ5GRXu3gbQ09DJc-HOEukdeY87Kc",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-08T04:54:40+00:00"
      }
    }
  ],
  "Variables": {}
}
