{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestClient?api-version=2023-11-01&label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestClient",
        "label": "label",
        "tags": {},
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PAsxqh8I_2ZfhVUAWB_OOdbhRt_GCNFu3IiJPhStcFc\"",
        "Last-Modified": "Mon, 08 Sep 2025 04:54:36 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNDkw;sn=53731490"
      },
      "ResponseBody": {
        "etag": "PAsxqh8I_2ZfhVUAWB_OOdbhRt_GCNFu3IiJPhStcFc",
        "key": "key-TestClient",
        "label": "label",
        "content_type": "content-type",
        "value": "value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-08T04:54:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestClient?api-version=2023-11-01&label=label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNDkw",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.[...]
