{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/120823uidKey?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidKey",
        "value": "value3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MKUIFAL14JLdvQdW0Bvq1yZPFIdax3-fc7pTomRtk8w\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:41:14 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5Njkx;sn=49259691"
      },
      "ResponseBody": {
        "etag": "MKUIFAL14JLdvQdW0Bvq1yZPFIdax3-fc7pTomRtk8w",
        "key": "120823uidKey",
        "label": null,
        "content_type": null,
        "value": "value3",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T05:41:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/120823uidKey1?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5Njkx",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidKey1",
        "valu[...]
