{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestClient?api-version=2023-11-01&label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestClient",
        "label": "label",
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ip8Owx55Ufn81Ip8sVorF4rOkTc89NGfJ-8p2PxFans\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:41:08 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5Njcw;sn=49259670"
      },
      "ResponseBody": {
        "etag": "Ip8Owx55Ufn81Ip8sVorF4rOkTc89NGfJ-8p2PxFans",
        "key": "key-TestClient",
        "label": "label",
        "content_type": "content-type",
        "value": "value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T05:41:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestClient?api-version=2023-11-01&label=label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5Njcw",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.[...]
