{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSettingTagsWithSpecialCharacters?api-version=2023-11-01&label=special-char-test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestSettingTagsWithSpecialCharacters",
        "label": "special-char-test",
        "tags": {
          "app&name": "my-app",
          "cost_center": "engineering",
          "env?type": "staging-test",
          "team.owner": "backend-team"
        },
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TibH6A4gmWtihP-lht7GW-VOUdgm-w-DKCOWTojhMbg\"",
        "Last-Modified": "Fri, 10 Apr 2026 07:18:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTU1Ng==;sn=110511556",
        "x-ms-date": "Fri, 10 Apr 2026 07:18:27 GMT"
      },
      "ResponseBody": {
        "etag": "TibH6A4gmWtihP-lht7GW-VOUdgm-w-DKCOWTojhMbg",
        "key": "key-TestSettingTagsWithSpecialCharacters",
        "label": "special-char-test",
        "content_type": null,
        "value": "value",
        "tags": {
          "app&name": "my-app",
          "cost_center": "engineering",
          "env?type": "staging-test",
          "team.owner": "backend-team"
        },
        "locked": false,
        "last_modified": "2026-04-10T07:18:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24select=&api-version=2023-11-01&tags=app%26name%3Dmy-app",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTU1Ng==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aZg2qYu2ECG01sJiGK3e3unHTym-WimV9G3Es7IUH6c\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTU1Nw==;sn=110511557",
        "x-ms-date": "Fri, 10 Apr 2026 07:18:27 GMT"
      },
      "ResponseBody": {
        "etag": "aZg2qYu2ECG01sJiGK3e3unHTym-WimV9G3Es7IUH6c",
        "items": [
          {
            "etag": "TibH6A4gmWtihP-lht7GW-VOUdgm-w-DKCOWTojhMbg",
            "key": "key-TestSettingTagsWithSpecialCharacters",
            "label": "special-char-test",
            "content_type": null,
            "value": "value",
            "tags": {
              "app&name": "my-app",
              "cost_center": "engineering",
              "env?type": "staging-test",
              "team.owner": "backend-team"
            },
            "locked": false,
    [...]
