{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/kv/.appconfig.featureflag%2FTestSettingWithEscaping?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "key": ".appconfig.featureflag/TestSettingWithEscaping",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xIIa8YFXi9FWBlH1isl7ziugR9niXvcsIErBrnT23Kk\u0022",
        "Last-Modified": "Sat, 09 Dec 2023 00:37:52 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0Njk2Ng==;sn=56946966"
      },
      "ResponseBody": {
        "etag": "xIIa8YFXi9FWBlH1isl7ziugR9niXvcsIErBrnT23Kk",
        "key": ".appconfig.featureflag/TestSettingWithEscaping",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-09T00:37:52\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv/.appconfig.featureflag%2FTestSettingWithEscaping?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0Njk2Ng==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xIIa8YFXi9FWBlH1isl7ziugR9niXvcsIErBrnT23Kk\u0022",
        "Last-Modified": "Sat, 09 Dec 2023 00:37:52 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0Njk2Nw==;sn=56946967"
      },
      "ResponseBody": {
        "etag": "xIIa8YFXi9FWBlH1isl7ziugR9niXvcsIErBrnT23Kk",
        "key": ".appconfig.featureflag/TestSettingWithEscaping",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-09T00:37:52\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
