{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/archiveSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "archiveSnapshotsTest120823uid",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u00228GVkzqlEeQQH6ypG54cvE-G_G6CMVDNyJktqFEbZUbc\u0022",
        "Last-Modified": "Wed, 13 Dec 2023 00:24:57 GMT",
        "Link": "\u003C/kv?snapshot=archiveSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://contoso.azconfig.io/operations?snapshot=archiveSnapshotsTest120823uid\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA4MTk0;sn=6108194"
      },
      "ResponseBody": {
        "etag": "8GVkzqlEeQQH6ypG54cvE-G_G6CMVDNyJktqFEbZUbc",
        "name": "archiveSnapshotsTest120823uid",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-13T00:24:57\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/operations?snapshot=archiveSnapshotsTest120823uid\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA4MTk0",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA4MTk2;sn=6108196"
      },
      "ResponseBody": {
        "id": "TC3tew5FubvSAYWknr20UCFheeZx-6tVxCknoyp-rBs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/archiveSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA4MTk3",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022xxnzH1JLaW1xXoJCn_XbKOOWS0OaCIUrn3BMZSqJnxE\u0022",
        "Last-Modified": "Wed, 13 Dec 2023 00:24:57 GMT",
        "Link": "\u003C/kv?snapshot=archiveSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA4MTk4;sn=6108198"
      },
      "ResponseBody": {
        "etag": "xxnzH1JLaW1xXoJCn_XbKOOWS0OaCIUrn3BMZSqJnxE",
        "name": "archiveSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-13T00:24:57\u002B00:00",
        "expires": "2023-12-13T01:25:08.3622449\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/archiveSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA4MTk4",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022xxnzH1JLaW1xXoJCn_XbKOOWS0OaCIUrn3BMZSqJnxE\u0022",
        "Last-Modified": "Wed, 13 Dec 2023 00:24:57 GMT",
        "Link": "\u003C/kv?snapshot=archiveSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA4MTk4;sn=6108198"
      },
      "ResponseBody": {
        "etag": "xxnzH1JLaW1xXoJCn_XbKOOWS0OaCIUrn3BMZSqJnxE",
        "name": "archiveSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-13T00:24:57\u002B00:00",
        "expires": "2023-12-13T01:25:08\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    }
  ],
  "Variables": {}
}
