{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/kv/Key?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "Key",
        "tags": {},
        "value": "value3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vV7YJ9m9TBXvj3DTtbmWSM5uJ8pxPf_fdS65Lkl2UmI\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:12:41 GMT",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczMg==;sn=54197732"
      },
      "ResponseBody": {
        "etag": "vV7YJ9m9TBXvj3DTtbmWSM5uJ8pxPf_fdS65Lkl2UmI",
        "key": "Key",
        "label": null,
        "content_type": null,
        "value": "value3",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-07T19:12:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/kv/Key1?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczMg==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "Key1",
        "tags": {},
        "value": "Val1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022GImyNtRuyXhO7Z8hnQYMgRJ4jqt-Ej7i2xB--1H6CNw\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:12:42 GMT",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczMw==;sn=54197733"
      },
      "ResponseBody": {
        "etag": "GImyNtRuyXhO7Z8hnQYMgRJ4jqt-Ej7i2xB--1H6CNw",
        "key": "Key1",
        "label": null,
        "content_type": null,
        "value": "Val1",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-07T19:12:42\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv/KeyNoLabel?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczNA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "KeyNoLabel",
        "tags": {},
        "value": "Val1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022d0N2p8Fodw2VN0YKuJMcIDgSW9IcymLVc_nYgr-JYT0\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:12:42 GMT",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczNQ==;sn=54197735"
      },
      "ResponseBody": {
        "etag": "d0N2p8Fodw2VN0YKuJMcIDgSW9IcymLVc_nYgr-JYT0",
        "key": "KeyNoLabel",
        "label": null,
        "content_type": null,
        "value": "Val1",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-07T19:12:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/kv/KeyNoVal?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczNQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "KeyNoVal",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223u794XMhPuPAW78detGEkJkupGcY9-DnLUthu4m_q4g\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:12:42 GMT",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczNg==;sn=54197736"
      },
      "ResponseBody": {
        "etag": "3u794XMhPuPAW78detGEkJkupGcY9-DnLUthu4m_q4g",
        "key": "KeyNoVal",
        "label": null,
        "content_type": null,
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-07T19:12:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/kv/NoValNoLabelKey?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczNg==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "NoValNoLabelKey",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022r0xCXgvP3reaSzxRFyCGryIi6v-774MNMej8-rr3428\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:12:42 GMT",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczNw==;sn=54197737"
      },
      "ResponseBody": {
        "etag": "r0xCXgvP3reaSzxRFyCGryIi6v-774MNMej8-rr3428",
        "key": "NoValNoLabelKey",
        "label": null,
        "content_type": null,
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-07T19:12:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/listConfigurationsSnapshotTest?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczNw==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "etag": "",
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "listConfigurationsSnapshotTest",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZDgcpma8BFomIauSyhyHAn0xgq1XzFVlsH442_F6BAo\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:12:42 GMT",
        "Link": "\u003C/kv?snapshot=listConfigurationsSnapshotTest\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://snapshotstestrecording.azconfig.io/operations?snapshot=listConfigurationsSnapshotTest\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczOA==;sn=54197738"
      },
      "ResponseBody": {
        "etag": "ZDgcpma8BFomIauSyhyHAn0xgq1XzFVlsH442_F6BAo",
        "name": "listConfigurationsSnapshotTest",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T19:12:42\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/operations?snapshot=listConfigurationsSnapshotTest\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczOA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczOA==;sn=54197738"
      },
      "ResponseBody": {
        "id": "yWajvqpMm-l16x9MfwcE113US1dpe1LQfAv4Am7cOW4",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv?api-version=2023-10-01\u0026key=\u0026label=\u0026snapshot=listConfigurationsSnapshotTest",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczOQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022YbrVw8FIwedOQqVPqlGrrlgV5Yb8KOuYb2KAR9d2kKM\u0022",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzczOQ==;sn=54197739"
      },
      "ResponseBody": {
        "etag": "YbrVw8FIwedOQqVPqlGrrlgV5Yb8KOuYb2KAR9d2kKM",
        "items": [
          {
            "etag": "vV7YJ9m9TBXvj3DTtbmWSM5uJ8pxPf_fdS65Lkl2UmI",
            "key": "Key",
            "label": null,
            "content_type": null,
            "value": "value3",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-07T19:12:41\u002B00:00"
          },
          {
            "etag": "GImyNtRuyXhO7Z8hnQYMgRJ4jqt-Ej7i2xB--1H6CNw",
            "key": "Key1",
            "label": null,
            "content_type": null,
     [...]
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/listConfigurationsSnapshotTest?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5Nzc0NQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u00223knS3QxZITpPhoSJFlBKdnenhQbVFk6e6dDc3j9r_ZU\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:12:42 GMT",
        "Link": "\u003C/kv?snapshot=listConfigurationsSnapshotTest\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5Nzc0Ng==;sn=54197746"
      },
      "ResponseBody": {
        "etag": "3knS3QxZITpPhoSJFlBKdnenhQbVFk6e6dDc3j9r_ZU",
        "name": "listConfigurationsSnapshotTest",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T19:12:42\u002B00:00",
        "expires": "2023-12-07T20:13:04.226585\u002B00:00",
        "size": 3000,
        "items_count": 6,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/listConfigurationsSnapshotTest?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5Nzc0Ng==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u00223knS3QxZITpPhoSJFlBKdnenhQbVFk6e6dDc3j9r_ZU\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:12:42 GMT",
        "Link": "\u003C/kv?snapshot=listConfigurationsSnapshotTest\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5Nzc0Ng==;sn=54197746"
      },
      "ResponseBody": {
        "etag": "3knS3QxZITpPhoSJFlBKdnenhQbVFk6e6dDc3j9r_ZU",
        "name": "listConfigurationsSnapshotTest",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T19:12:42\u002B00:00",
        "expires": "2023-12-07T20:13:04\u002B00:00",
        "size": 3000,
        "items_count": 6,
        "tags": {},
        "retention_period": 3600
      }
    }
  ],
  "Variables": {}
}
