{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestSettingNilValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zyWMPw4s6aGBQ7_YkNPIm4oNfxd9fOr_5cxU8ZESAVo\"",
        "Last-Modified": "Fri, 26 Sep 2025 03:33:14 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzMjgw;sn=49043280"
      },
      "ResponseBody": {
        "etag": "zyWMPw4s6aGBQ7_YkNPIm4oNfxd9fOr_5cxU8ZESAVo",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-26T03:33:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzMjgw",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zyWMPw4s6aGBQ7_YkNPIm4oNfxd9fOr_5cxU8ZESAVo\"",
        "Last-Modified": "Fri, 26 Sep 2025 03:33:14 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzMjgx;sn=49043281"
      },
      "ResponseBody": {
        "etag": "zyWMPw4s6aGBQ7_YkNPIm4oNfxd9fOr_5cxU8ZESAVo",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-26T03:33:14+00:00"
      }
    }
  ],
  "Variables": {}
}
