{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/createSnapshotsTest120823uid?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "createSnapshotsTest120823uid",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"tZT8OnEUhu9VutDCtWaDHzv5QkqFUB2KQCOXwKqHRPk\"",
        "Last-Modified": "Fri, 10 Apr 2026 07:17:49 GMT",
        "Link": "</kv?snapshot=createSnapshotsTest120823uid&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=createSnapshotsTest120823uid&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTUzMg==;sn=110511532",
        "x-ms-date": "Fri, 10 Apr 2026 07:17:49 GMT"
      },
      "ResponseBody": {
        "etag": "tZT8OnEUhu9VutDCtWaDHzv5QkqFUB2KQCOXwKqHRPk",
        "name": "createSnapshotsTest120823uid",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-04-10T07:17:49.4246517+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=createSnapshotsTest120823uid",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTUzMg==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTUzMg==;sn=110511532",
        "x-ms-date": "Fri, 10 Apr 2026 07:17:49 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=createSnapshotsTest120823uid",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTUzMg==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=[...]
