{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestEmptyTagsHandling?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestEmptyTagsHandling",
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lgvJ-fvJa6dkagPduUi0EBaRXWpSUBTvIrj_pyHmQ0g\"",
        "Last-Modified": "Fri, 10 Apr 2026 07:18:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTU1OQ==;sn=110511559",
        "x-ms-date": "Fri, 10 Apr 2026 07:18:27 GMT"
      },
      "ResponseBody": {
        "etag": "lgvJ-fvJa6dkagPduUi0EBaRXWpSUBTvIrj_pyHmQ0g",
        "key": "key-TestEmptyTagsHandling",
        "label": null,
        "content_type": null,
        "value": "value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T07:18:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestEmptyTagsHandling?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUxMTU1OQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestEmptyTagsHandling",
        "tags": [...]
