{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/createSnapshotsTest120823uid?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "createSnapshotsTest120823uid",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"MeAyhZGWO56YLYDW3UOfEegRbNdiQz-zjLaEL4W_CYI\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:43:38 GMT",
        "Link": "</kv?snapshot=createSnapshotsTest120823uid&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://junbchne-sdk-dev-test-5.azconfig.io/operations?snapshot=createSnapshotsTest120823uid&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5NzQx;sn=49259741"
      },
      "ResponseBody": {
        "etag": "MeAyhZGWO56YLYDW3UOfEegRbNdiQz-zjLaEL4W_CYI",
        "name": "createSnapshotsTest120823uid",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-29T05:43:38.1874042+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=createSnapshotsTest120823uid&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5NzQx",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5NzQx;sn=49259741"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=createSnapshotsTest120823uid&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5NzQx",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-[...]
