{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/kv/120823uidKey?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidKey",
        "tags": {},
        "value": "value3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rnntg-XOGkcl85B9EPaBNe0O-y-eKVx48c3b7hQBplo\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:03 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI0Ng==;sn=56995246"
      },
      "ResponseBody": {
        "etag": "rnntg-XOGkcl85B9EPaBNe0O-y-eKVx48c3b7hQBplo",
        "key": "120823uidKey",
        "label": null,
        "content_type": null,
        "value": "value3",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/kv/120823uidKey1?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI0Ng==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidKey1",
        "tags": {},
        "value": "Val1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222RmQMinjxoryx5Xd_oHfJ_rip6G9WSno9od_to83iTg\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:03 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI0OA==;sn=56995248"
      },
      "ResponseBody": {
        "etag": "2RmQMinjxoryx5Xd_oHfJ_rip6G9WSno9od_to83iTg",
        "key": "120823uidKey1",
        "label": null,
        "content_type": null,
        "value": "Val1",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:03\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv/120823uidKeyNoLabel?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1MA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidKeyNoLabel",
        "tags": {},
        "value": "Val1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220DeAEHqlGKUoPzUjMhJ4LzRD1UmRWpzmQsVEM22u6M8\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:03 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1Mg==;sn=56995252"
      },
      "ResponseBody": {
        "etag": "0DeAEHqlGKUoPzUjMhJ4LzRD1UmRWpzmQsVEM22u6M8",
        "key": "120823uidKeyNoLabel",
        "label": null,
        "content_type": null,
        "value": "Val1",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/kv/120823uidKeyNoVal?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1Mg==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidKeyNoVal",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ScWutbtMf2CsvJW9tQSyFhDXVo6XGcHy-x7WIgl0qRU\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:03 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1NA==;sn=56995254"
      },
      "ResponseBody": {
        "etag": "ScWutbtMf2CsvJW9tQSyFhDXVo6XGcHy-x7WIgl0qRU",
        "key": "120823uidKeyNoVal",
        "label": null,
        "content_type": null,
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/kv/120823uidNoValNoLabelKey?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1NA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidNoValNoLabelKey",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vpYIbYhJal-zmW2xE9LoFC-IP5ADtUZVafLcwOTIMBU\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:03 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1Ng==;sn=56995256"
      },
      "ResponseBody": {
        "etag": "vpYIbYhJal-zmW2xE9LoFC-IP5ADtUZVafLcwOTIMBU",
        "key": "120823uidNoValNoLabelKey",
        "label": null,
        "content_type": null,
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/listConfigurationsSnapshotTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1Ng==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "120823uid*"
          }
        ],
        "name": "listConfigurationsSnapshotTest120823uid",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022LTCznZxqvLrUSS9KTAv88iDou4Xj9Sx3lYS7QJjYZcI\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:04 GMT",
        "Link": "\u003C/kv?snapshot=listConfigurationsSnapshotTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://snapshotsproxytests.azconfig.io/operations?snapshot=listConfigurationsSnapshotTest120823uid\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1OA==;sn=56995258"
      },
      "ResponseBody": {
        "etag": "LTCznZxqvLrUSS9KTAv88iDou4Xj9Sx3lYS7QJjYZcI",
        "name": "listConfigurationsSnapshotTest120823uid",
        "status": "provisioning",
        "filters": [
          {
            "key": "120823uid*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-11T18:10:04\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/operations?snapshot=listConfigurationsSnapshotTest120823uid\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI1OA==;sn=56995258"
      },
      "ResponseBody": {
        "id": "5exXM3IClVcJvd5_NEM9dfvJWVPfahJDHvFFdEFIRzE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv?api-version=2023-10-01\u0026key=\u0026label=\u0026snapshot=listConfigurationsSnapshotTest120823uid",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI2Mw==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u002295iyQQ4g505i9JLpH5UXen6brO6F_ild7cIJLeky7Cw\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI2Mw==;sn=56995263"
      },
      "ResponseBody": {
        "etag": "95iyQQ4g505i9JLpH5UXen6brO6F_ild7cIJLeky7Cw",
        "items": [
          {
            "etag": "rnntg-XOGkcl85B9EPaBNe0O-y-eKVx48c3b7hQBplo",
            "key": "120823uidKey",
            "label": null,
            "content_type": null,
            "value": "value3",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-11T18:10:03\u002B00:00"
          },
          {
            "etag": "2RmQMinjxoryx5Xd_oHfJ_rip6G9WSno9od_to83iTg",
            "key": "120823uidKey1",
            "label": null,
            "content_[...]
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/listConfigurationsSnapshotTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI2OQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022vedruU4cmzodrxhJGoyZpviJH3KEn-g2Je0ZOGwDl6U\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:04 GMT",
        "Link": "\u003C/kv?snapshot=listConfigurationsSnapshotTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI3MA==;sn=56995270"
      },
      "ResponseBody": {
        "etag": "vedruU4cmzodrxhJGoyZpviJH3KEn-g2Je0ZOGwDl6U",
        "name": "listConfigurationsSnapshotTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "120823uid*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-11T18:10:04\u002B00:00",
        "expires": "2023-12-11T19:10:15.4326883\u002B00:00",
        "size": 3000,
        "items_count": 6,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/listConfigurationsSnapshotTest120823uid?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI3MA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022vedruU4cmzodrxhJGoyZpviJH3KEn-g2Je0ZOGwDl6U\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:04 GMT",
        "Link": "\u003C/kv?snapshot=listConfigurationsSnapshotTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI3MA==;sn=56995270"
      },
      "ResponseBody": {
        "etag": "vedruU4cmzodrxhJGoyZpviJH3KEn-g2Je0ZOGwDl6U",
        "name": "listConfigurationsSnapshotTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "120823uid*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-11T18:10:04\u002B00:00",
        "expires": "2023-12-11T19:10:15\u002B00:00",
        "size": 3000,
        "items_count": 6,
        "tags": {},
        "retention_period": 3600
      }
    }
  ],
  "Variables": {}
}
