{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestEmptyTagsHandling?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestEmptyTagsHandling",
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Aieesw0vrkMOIdg7GvfynsrBxF67p1NoejHqgc8QAIU\"",
        "Last-Modified": "Fri, 26 Sep 2025 03:36:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzNTU1;sn=49043555"
      },
      "ResponseBody": {
        "etag": "Aieesw0vrkMOIdg7GvfynsrBxF67p1NoejHqgc8QAIU",
        "key": "key-TestEmptyTagsHandling",
        "label": null,
        "content_type": null,
        "value": "value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-26T03:36:52+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestEmptyTagsHandling?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzNTU1",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestEmptyTagsHandling",
        "tags": {},[...]
