{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestSettingNilValue",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022euSnwcFaRArue7I-Q8_OSKpv98j82IBdEp2Xby-7hn0\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:32:28 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1NTY0OTA0OA==;sn=55649048"
      },
      "ResponseBody": {
        "etag": "euSnwcFaRArue7I-Q8_OSKpv98j82IBdEp2Xby-7hn0",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-08T00:32:28\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1NTY0OTA0OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022euSnwcFaRArue7I-Q8_OSKpv98j82IBdEp2Xby-7hn0\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:32:28 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1NTY0OTA1MA==;sn=55649050"
      },
      "ResponseBody": {
        "etag": "euSnwcFaRArue7I-Q8_OSKpv98j82IBdEp2Xby-7hn0",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-08T00:32:28\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
