{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-TestListSettingsWithTagsFilter?api-version=2023-11-01&label=tag-filter-test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key1-TestListSettingsWithTagsFilter",
        "label": "tag-filter-test",
        "tags": {
          "environment": "prod",
          "region": "eastus"
        },
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v7CtCV8xepw4LkdElFgFkX1S9aBAhdJNebJ85SE4DnA\"",
        "Last-Modified": "Fri, 26 Sep 2025 03:36:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzNTQ3;sn=49043547"
      },
      "ResponseBody": {
        "etag": "v7CtCV8xepw4LkdElFgFkX1S9aBAhdJNebJ85SE4DnA",
        "key": "key1-TestListSettingsWithTagsFilter",
        "label": "tag-filter-test",
        "content_type": null,
        "value": "value1",
        "tags": {
          "environment": "prod",
          "region": "eastus"
        },
        "locked": false,
        "last_modified": "2025-09-26T03:36:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-TestListSettingsWithTagsFilter?api-version=2023-11-01&label=tag-filter-test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzNTQ3",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key2-TestListSett[...]
