{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/TestCheckSettingsPager?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OLq5DnWmeDUTB2Ic7qjy6Xi94dXOvV8KYtdHBbq6duE\"",
        "Last-Modified": "Wed, 04 Mar 2026 07:37:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==;sn=107327758",
        "x-ms-date": "Thu, 05 Mar 2026 09:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "OLq5DnWmeDUTB2Ic7qjy6Xi94dXOvV8KYtdHBbq6duE",
        "key": "TestCheckSettingsPager",
        "label": null,
        "content_type": null,
        "value": "key-pxf0dg",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T07:37:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24Select=&api-version=2023-11-01&key=key-pxf0dg",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_jLulgVRzgYEWsU8G6Ujn3uZct0-ZYPZF-dzy0Ep6wQ\"",
        "Link": "</kv?$Select=&api-version=2023-11-01&key=key-pxf0dg&after=a2V5LXB4ZjBkZwo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==;sn=107327758",
        "x-ms-date": "Thu, 05 Mar 2026 09:44:39 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24Select=&after=a2V5LXB4ZjBkZwo5NA%3D%3D&api-version=2023-11-01&key=key-pxf0dg",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"BMrUL3w1kN_A7VglyQjKS4DEk-M4ysYYoI-D2J3PpjE\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==;sn=107327758",
        "x-ms-date": "Thu, 05 Mar 2026 09:44:39 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
