{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTestSettingWithEscaping?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "key": ".appconfig.featureflag/TestSettingWithEscaping"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LOmNVWPmYrZeqrvrbsZu9qg5u4voPIfoX0aXYQMp2nI\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:41:14 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5Njg5;sn=49259689"
      },
      "ResponseBody": {
        "etag": "LOmNVWPmYrZeqrvrbsZu9qg5u4voPIfoX0aXYQMp2nI",
        "key": ".appconfig.featureflag/TestSettingWithEscaping",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T05:41:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTestSettingWithEscaping?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5Njg5",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appl[...]
