{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTestSettingWithEscaping?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "key": ".appconfig.featureflag/TestSettingWithEscaping"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9KjfU_eM5MiTUo0fsImH58cbAzJ8V0furDDVy3gfwMA\"",
        "Last-Modified": "Thu, 05 Mar 2026 09:42:03 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzY5NQ==;sn=107327695",
        "x-ms-date": "Thu, 05 Mar 2026 09:42:03 GMT"
      },
      "ResponseBody": {
        "etag": "9KjfU_eM5MiTUo0fsImH58cbAzJ8V0furDDVy3gfwMA",
        "key": ".appconfig.featureflag/TestSettingWithEscaping",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-05T09:42:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTestSettingWithEscaping?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzY5NQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "[...]
