{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestSettingNilValue",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nCCARsATSbJh_KhBIg5Nl3lW-Vc8pG3azQJYKy-xSsI\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:02 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI0MA==;sn=56995240"
      },
      "ResponseBody": {
        "etag": "nCCARsATSbJh_KhBIg5Nl3lW-Vc8pG3azQJYKy-xSsI",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/kv/key-TestSettingNilValue?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI0MA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nCCARsATSbJh_KhBIg5Nl3lW-Vc8pG3azQJYKy-xSsI\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:02 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI0Mg==;sn=56995242"
      },
      "ResponseBody": {
        "etag": "nCCARsATSbJh_KhBIg5Nl3lW-Vc8pG3azQJYKy-xSsI",
        "key": "key-TestSettingNilValue",
        "label": null,
        "content_type": "content-type",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:02\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
