{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "etag": "",
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "recoverSnapshotsTest",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022xas2jUehoAkCbmEKWzhMiITzctNvVm2lbVnub9oRHTg\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:14:51 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://snapshotstestrecording.azconfig.io/operations?snapshot=recoverSnapshotsTest\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzgyMQ==;sn=54197821"
      },
      "ResponseBody": {
        "etag": "xas2jUehoAkCbmEKWzhMiITzctNvVm2lbVnub9oRHTg",
        "name": "recoverSnapshotsTest",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T19:14:51\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/operations?snapshot=recoverSnapshotsTest\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzgyMQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzgyMQ==;sn=54197821"
      },
      "ResponseBody": {
        "id": "mE-pemRZv-LjW_ry2k7Woi7fvwwznBNQkovsci2Kyks",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzgyMg==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022zaD0yweV02fgxyf2pv_Po8mNNop4V_esZJeUtAR43WA\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:14:51 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzgyMw==;sn=54197823"
      },
      "ResponseBody": {
        "etag": "zaD0yweV02fgxyf2pv_Po8mNNop4V_esZJeUtAR43WA",
        "name": "recoverSnapshotsTest",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T19:14:51\u002B00:00",
        "expires": "2023-12-07T20:15:12.8871167\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzgyNQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022rAm5E-P1W_uVuRm5O_Q351jdalHCDhK_DwFlOataKn0\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 19:14:51 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NDoxOSM1NDE5NzgyNQ==;sn=54197825"
      },
      "ResponseBody": {
        "etag": "rAm5E-P1W_uVuRm5O_Q351jdalHCDhK_DwFlOataKn0",
        "name": "recoverSnapshotsTest",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T19:14:51\u002B00:00",
        "expires": "2023-12-07T20:15:13\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    }
  ],
  "Variables": {}
}
