{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSetSettingWithTags1?api-version=2023-11-01&label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestSetSettingWithTags1",
        "label": "label",
        "tags": {
          "environment": "prod",
          "region": "westus",
          "version": "1.0"
        },
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NDWY9t4xoNhk45zUF30FUPtUOxEpNS0K7GboVf5JTgg\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:44:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5OTY1;sn=49259965"
      },
      "ResponseBody": {
        "etag": "NDWY9t4xoNhk45zUF30FUPtUOxEpNS0K7GboVf5JTgg",
        "key": "key-TestSetSettingWithTags1",
        "label": "label",
        "content_type": null,
        "value": "value1",
        "tags": {
          "environment": "prod",
          "region": "westus",
          "version": "1.0"
        },
        "locked": false,
        "last_modified": "2025-09-29T05:44:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSetSettingWithTags1?api-version=2023-11-01&label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5OTY1",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestSetSettingWithTags1",
        "label": "label",
        "tags": {
          "environment": "staging",
          "feature": "beta",
          "region": "centralus",
          "version": "2.0"
        },
        "value": "updated-value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"F59b1POS4n9BpoufLczBdMY5lSK2HAnvTDT_GSwXR-I\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:44:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5OTY2;sn=49259966"
      },
      "ResponseBody": {
       [...]
