{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "recoverSnapshotsTest120823uid",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022HTM06fYZScrUpgfsFHNWWwuK5k75A2G6Hsn5LzPFwnQ\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:12:12 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://snapshotsproxytests.azconfig.io/operations?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI5OA==;sn=56995298"
      },
      "ResponseBody": {
        "etag": "HTM06fYZScrUpgfsFHNWWwuK5k75A2G6Hsn5LzPFwnQ",
        "name": "recoverSnapshotsTest120823uid",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-11T18:12:12\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/operations?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI5OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI5OA==;sn=56995298"
      },
      "ResponseBody": {
        "id": "d2mcILLaqNvfGXRWGumtbfBEgG1-_HDlVHKbwrtWI-g",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTI5OQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u00224d0-pZGoSqyoe1OdtDfIe_4AvLWXvNzIioBTn-iqf9A\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:12:12 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTMwMA==;sn=56995300"
      },
      "ResponseBody": {
        "etag": "4d0-pZGoSqyoe1OdtDfIe_4AvLWXvNzIioBTn-iqf9A",
        "name": "recoverSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-11T18:12:12\u002B00:00",
        "expires": "2023-12-11T19:12:23.7633962\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTMwMg==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022sIzT-T5hb5_5zJI7Ktz-Udoowgo7GKRXBR5SI6cVTAM\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:12:12 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTMwMg==;sn=56995302"
      },
      "ResponseBody": {
        "etag": "sIzT-T5hb5_5zJI7Ktz-Udoowgo7GKRXBR5SI6cVTAM",
        "name": "recoverSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-11T18:12:12\u002B00:00",
        "expires": "2023-12-11T19:12:24\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    }
  ],
  "Variables": {}
}
