{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/kv/.appconfig.featureflag%2FTestSettingWithEscaping?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "key": ".appconfig.featureflag/TestSettingWithEscaping",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022tQKEJlrONCqc_m1Hz8XnvDeFUnlrIvGJqHwXUZVet2U\u0022",
        "Last-Modified": "Tue, 12 Dec 2023 23:18:04 GMT",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTEy;sn=6107112"
      },
      "ResponseBody": {
        "etag": "tQKEJlrONCqc_m1Hz8XnvDeFUnlrIvGJqHwXUZVet2U",
        "key": ".appconfig.featureflag/TestSettingWithEscaping",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-12T23:18:04\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv/.appconfig.featureflag%2FTestSettingWithEscaping?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTEz",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022tQKEJlrONCqc_m1Hz8XnvDeFUnlrIvGJqHwXUZVet2U\u0022",
        "Last-Modified": "Tue, 12 Dec 2023 23:18:04 GMT",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTE0;sn=6107114"
      },
      "ResponseBody": {
        "etag": "tQKEJlrONCqc_m1Hz8XnvDeFUnlrIvGJqHwXUZVet2U",
        "key": ".appconfig.featureflag/TestSettingWithEscaping",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": null,
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-12T23:18:04\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
