{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-TestListSettingsWithTagsFilter?api-version=2023-11-01&label=tag-filter-test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key1-TestListSettingsWithTagsFilter",
        "label": "tag-filter-test",
        "tags": {
          "environment": "prod",
          "region": "eastus"
        },
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VNZdB9WngcNzXhq0LyMHke1i61UYPpge-8DVRCjtgd0\"",
        "Last-Modified": "Mon, 08 Sep 2025 04:58:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNzcy;sn=53731772"
      },
      "ResponseBody": {
        "etag": "VNZdB9WngcNzXhq0LyMHke1i61UYPpge-8DVRCjtgd0",
        "key": "key1-TestListSettingsWithTagsFilter",
        "label": "tag-filter-test",
        "content_type": null,
        "value": "value1",
        "tags": {
          "environment": "prod",
          "region": "eastus"
        },
        "locked": false,
        "last_modified": "2025-09-08T04:58:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-TestListSettingsWithTagsFilter?api-version=2023-11-01&label=tag-filter-test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNzcy",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key2-TestListSett[...]
