{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/getSnapshotsTest120823uid0?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTI1;sn=53731525"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/getSnapshotsTest120823uid0?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTI1",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "getSnapshotsTest120823uid0",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"hI3cGgWsG3cSL6WXKfT0eFDFzyvkutNbKpt1F9u2HoQ\"",
        "Last-Modified": "Mon, 08 Sep 2025 04:55:07 GMT",
        "Link": "</kv?snapshot=getSnapshotsTest120823uid0&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://junbchne-sdk-dev-test.azconfig.io/operations?snapshot=getSnapshotsTest120823uid0&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTI2;sn=53731526"
      },
      "ResponseBody": {
        "etag": "hI3cGgWsG3cSL6WXKfT0eFDFzyvkutNbKpt1F9u2HoQ",
        "name": "getSnapshotsTest120823uid0",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-08T04:55:07.8383927+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=getSnapshotsTest120823uid0&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTI2",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTI2;sn=53731526"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=getSnapshotsTest120823uid0&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTI2",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"[...]
