{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/createSnapshotsTest120823uid?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "createSnapshotsTest120823uid",
        "retention_period": 3600
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUwNzQ4NQ==;sn=110507485",
        "x-ms-date": "Fri, 10 Apr 2026 01:50:33 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/createSnapshotsTest120823uid?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUwNzQ4NQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xol07cfaUw-70XzFXe-WmKalWJ2PUpEyLlmegSMTFcw\"",
        "Last-Modified": "Fri, 10 Apr 2026 01:14:47 GMT",
        "Link": "</kv?snapshot=createSnapshotsTest120823uid&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUwNzQ4NQ==;sn=110507485",
        "x-ms-date": "Fri, 10 Apr 2026 01:50:34 GMT"
      },
      "ResponseBody": {
        "etag": "xol07cfaUw-70XzFXe-WmKalWJ2PUpEyLlmegSMTFcw",
        "name": "createSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-04-10T01:14:37+00:00",
        "expires": "2026-04-10T02:14:47+00:00",
        "size": 7000,
        "items_count": 19,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/createSnapshotsTest120823uid?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzExMDUwNzQ4NQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": [...]
