{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/TestListSettingsPagerWithETagModifiedPage?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5ODQ5;sn=49259849"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-sxkf26?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5ODQ5",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-sxkf26",
        "label": "0",
        "value": "test_value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tIyZhKzCECgn9blQsRhpvK1yTKcj46fQ6cSPxj4xgs0\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:44:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5ODUw;sn=49259850"
      },
      "ResponseBody": {
        "etag": "tIyZhKzCECgn9blQsRhpvK1yTKcj46fQ6cSPxj4xgs0",
        "key": "key-sxkf26",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T05:44:18+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-sxkf26?api-version=2023-11-01&label=1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5ODUw",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-sxkf26",
        "la[...]
