{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestClient?api-version=2023-11-01&label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestClient",
        "label": "label",
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nSPXi97ncsqD4RHs5DzB_97kqVYCSF7MfbjjbWC3M8Y\"",
        "Last-Modified": "Fri, 26 Sep 2025 03:33:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzMjYz;sn=49043263"
      },
      "ResponseBody": {
        "etag": "nSPXi97ncsqD4RHs5DzB_97kqVYCSF7MfbjjbWC3M8Y",
        "key": "key-TestClient",
        "label": "label",
        "content_type": "content-type",
        "value": "value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-26T03:33:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestClient?api-version=2023-11-01&label=label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MDQzMjYz",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.[...]
