{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/TestCheckSettingsPagerWithETagUnmodifiedPage?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3NYd1bk_mfUJpYjVyCV-lYDYetH754fevD6RyAiH-48\"",
        "Last-Modified": "Wed, 04 Mar 2026 07:37:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==;sn=107327758",
        "x-ms-date": "Thu, 05 Mar 2026 09:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "3NYd1bk_mfUJpYjVyCV-lYDYetH754fevD6RyAiH-48",
        "key": "TestCheckSettingsPagerWithETagUnmodifiedPage",
        "label": null,
        "content_type": null,
        "value": "key-ef8z06",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T07:37:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24Select=&api-version=2023-11-01&key=key-ef8z06",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ebtsZjJNB9o8mJbbAA_1nZ3VenCQvI4KnziKE4egfUc\"",
        "Link": "</kv?$Select=&api-version=2023-11-01&key=key-ef8z06&after=a2V5LWVmOHowNgo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==;sn=107327758",
        "x-ms-date": "Thu, 05 Mar 2026 09:44:40 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24Select=&after=a2V5LWVmOHowNgo5NA%3D%3D&api-version=2023-11-01&key=key-ef8z06",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Mz53t_DIlOdOWtxGWzncDI_nEe59sCLqBNGINH4HHfA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==;sn=107327758",
        "x-ms-date": "Thu, 05 Mar 2026 09:44:40 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24Select=&api-version=2023-11-01&key=key-ef8z06",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"ebtsZjJNB9o8mJbbAA_1nZ3VenCQvI4KnziKE4egfUc\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?$Select=&api-version=2023-11-01&key=key-ef8z06&after=a2V5LWVmOHowNgo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==;sn=107327758",
        "x-ms-date": "Thu, 05 Mar 2026 09:44:40 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24Select=&after=a2V5LWVmOHowNgo5NA%3D%3D&api-version=2023-11-01&key=key-ef8z06",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"Mz53t_DIlOdOWtxGWzncDI_nEe59sCLqBNGINH4HHfA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwNzMyNzc1OA==;sn=107327758",
        "x-ms-date": "Thu, 05 Mar 2026 09:44:40 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
