{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "recoverSnapshotsTest120823uid",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u00227HURxmu3MbQwO3abGncypiNRKFkYfx8N7uTdA4QubPk\u0022",
        "Last-Modified": "Tue, 12 Dec 2023 23:20:14 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://contoso.azconfig.io/operations?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTU0;sn=6107154"
      },
      "ResponseBody": {
        "etag": "7HURxmu3MbQwO3abGncypiNRKFkYfx8N7uTdA4QubPk",
        "name": "recoverSnapshotsTest120823uid",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-12T23:20:14\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/operations?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTU0",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTU0;sn=6107154"
      },
      "ResponseBody": {
        "id": "d2mcILLaqNvfGXRWGumtbfBEgG1-_HDlVHKbwrtWI-g",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTU1",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022RkpS04D6nF_mzCXW5kCJLEkYtwu5BStfuLmbpweX2as\u0022",
        "Last-Modified": "Tue, 12 Dec 2023 23:20:14 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTU2;sn=6107156"
      },
      "ResponseBody": {
        "etag": "RkpS04D6nF_mzCXW5kCJLEkYtwu5BStfuLmbpweX2as",
        "name": "recoverSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-12T23:20:14\u002B00:00",
        "expires": "2023-12-13T00:20:25.3486633\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTU4",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022rvbagFXdwax6PMhlaRQkbsFAgZhiH4FAgLxWuGWCe1U\u0022",
        "Last-Modified": "Tue, 12 Dec 2023 23:20:14 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=ODoxOSM2MTA3MTU4;sn=6107158"
      },
      "ResponseBody": {
        "etag": "rvbagFXdwax6PMhlaRQkbsFAgZhiH4FAgLxWuGWCe1U",
        "name": "recoverSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-12T23:20:14\u002B00:00",
        "expires": "2023-12-13T00:20:25\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    }
  ],
  "Variables": {}
}
