{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-TestListSettingsWithTagsFilter?api-version=2023-11-01&label=tag-filter-test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key1-TestListSettingsWithTagsFilter",
        "label": "tag-filter-test",
        "tags": {
          "environment": "prod",
          "region": "eastus"
        },
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9NZyx0Hb4D5hCMGow5VxbDo9HEeDCqQU5F2ejdW14WA\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:44:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5OTY5;sn=49259969"
      },
      "ResponseBody": {
        "etag": "9NZyx0Hb4D5hCMGow5VxbDo9HEeDCqQU5F2ejdW14WA",
        "key": "key1-TestListSettingsWithTagsFilter",
        "label": "tag-filter-test",
        "content_type": null,
        "value": "value1",
        "tags": {
          "environment": "prod",
          "region": "eastus"
        },
        "locked": false,
        "last_modified": "2025-09-29T05:44:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-TestListSettingsWithTagsFilter?api-version=2023-11-01&label=tag-filter-test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5OTY5",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key2-TestListSett[...]
