{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/TestListSettingsPagerWithETagModifiedPage?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNjU3;sn=53731657"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-xfgedv?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNjU3",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-xfgedv",
        "label": "0",
        "tags": {},
        "value": "test_value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DrHy-NNn74gaay9PSGeecwlgErhVucE-NpjLhuM3jMc\"",
        "Last-Modified": "Mon, 08 Sep 2025 04:58:15 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNjU4;sn=53731658"
      },
      "ResponseBody": {
        "etag": "DrHy-NNn74gaay9PSGeecwlgErhVucE-NpjLhuM3jMc",
        "key": "key-xfgedv",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-08T04:58:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-xfgedv?api-version=2023-11-01&label=1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNjU4",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-xfgedv",
        "la[...]
