{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key-TestSettingTagsWithSpecialCharacters?api-version=2023-11-01&label=special-char-test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestSettingTagsWithSpecialCharacters",
        "label": "special-char-test",
        "tags": {
          "app&name": "my-app",
          "cost_center": "engineering",
          "env?type": "staging-test",
          "team.owner": "backend-team"
        },
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lw4UJpJjWNF-gUrsRahjK4h1kUvQVAcjQWgrtjorYAo\"",
        "Last-Modified": "Mon, 29 Sep 2025 05:44:50 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5OTc1;sn=49259975"
      },
      "ResponseBody": {
        "etag": "lw4UJpJjWNF-gUrsRahjK4h1kUvQVAcjQWgrtjorYAo",
        "key": "key-TestSettingTagsWithSpecialCharacters",
        "label": "special-char-test",
        "content_type": null,
        "value": "value",
        "tags": {
          "app&name": "my-app",
          "cost_center": "engineering",
          "env?type": "staging-test",
          "team.owner": "backend-team"
        },
        "locked": false,
        "last_modified": "2025-09-29T05:44:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24Select=&api-version=2023-11-01&tags=app%26name%3Dmy-app",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5OTc1",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2FK6iYepSTFA1U0lpaP5WKSTKvAfy3UZACaOOixw4VU\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQ5MjU5OTc1;sn=49259975"
      },
      "ResponseBody": {
        "etag": "2FK6iYepSTFA1U0lpaP5WKSTKvAfy3UZACaOOixw4VU",
        "items": [
          {
            "etag": "lw4UJpJjWNF-gUrsRahjK4h1kUvQVAcjQWgrtjorYAo",
            "key": "key-TestSettingTagsWithSpecialCharacters",
            "label": "special-char-test",
            "content_type": null,
            "value": "value",
            "tags": {
              "app&name": "my-app",
              "cost_center": "engineering",
              "env?type": "staging-test",
              "team.owner": "backend-team"
            },
            "locked": false,
    [...]
