{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/archiveSnapshotsTest12723uid?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "etag": "",
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "archiveSnapshotsTest12723uid",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022XuvP9m38u4CzyuTmm8KQ2jor54tvtj5sQGIu4yHutbY\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 20:34:04 GMT",
        "Link": "\u003C/kv?snapshot=archiveSnapshotsTest12723uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://snapshottestproxy.azconfig.io/operations?snapshot=archiveSnapshotsTest12723uid\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=ODoxOSM2MDY1NzMz;sn=6065733"
      },
      "ResponseBody": {
        "etag": "XuvP9m38u4CzyuTmm8KQ2jor54tvtj5sQGIu4yHutbY",
        "name": "archiveSnapshotsTest12723uid",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T20:34:04\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/operations?snapshot=archiveSnapshotsTest12723uid\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODoxOSM2MDY1NzMz",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODoxOSM2MDY1NzMz;sn=6065733"
      },
      "ResponseBody": {
        "id": "pkAZWlvbDqoKfWzCUlh_dKC-n64mtDyykchDdvbIaiM",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/archiveSnapshotsTest12723uid?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODoxOSM2MDY1ODgz",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022Bv29oQF6s_v0zXD6b2_aU9aWiPudhOLpKb18iocBUqs\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 20:34:04 GMT",
        "Link": "\u003C/kv?snapshot=archiveSnapshotsTest12723uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=ODoxOSM2MDY1ODg0;sn=6065884"
      },
      "ResponseBody": {
        "etag": "Bv29oQF6s_v0zXD6b2_aU9aWiPudhOLpKb18iocBUqs",
        "name": "archiveSnapshotsTest12723uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T20:34:04\u002B00:00",
        "expires": "2023-12-07T21:34:15.7972926\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/archiveSnapshotsTest12723uid?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODoxOSM2MDY1ODg0",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022Bv29oQF6s_v0zXD6b2_aU9aWiPudhOLpKb18iocBUqs\u0022",
        "Last-Modified": "Thu, 07 Dec 2023 20:34:04 GMT",
        "Link": "\u003C/kv?snapshot=archiveSnapshotsTest12723uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=ODoxOSM2MDY1ODg0;sn=6065884"
      },
      "ResponseBody": {
        "etag": "Bv29oQF6s_v0zXD6b2_aU9aWiPudhOLpKb18iocBUqs",
        "name": "archiveSnapshotsTest12723uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-07T20:34:04\u002B00:00",
        "expires": "2023-12-07T21:34:15\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    }
  ],
  "Variables": {}
}
