{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/120823uidKey?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidKey",
        "tags": {},
        "value": "value3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jvJsQBGrkBboHWGMExs3q-COq-jJHIdbZtmYZOMgbco\"",
        "Last-Modified": "Mon, 08 Sep 2025 04:54:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTEx;sn=53731511"
      },
      "ResponseBody": {
        "etag": "jvJsQBGrkBboHWGMExs3q-COq-jJHIdbZtmYZOMgbco",
        "key": "120823uidKey",
        "label": null,
        "content_type": null,
        "value": "value3",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-08T04:54:42+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/120823uidKey1?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzUzNzMxNTEx",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "120823uidKey1",
        "tags[...]
