{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/kv/key-TestClient?api-version=2023-10-01\u0026label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "content_type": "content-type",
        "key": "key-TestClient",
        "label": "label",
        "tags": {},
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SBfk9t_41N0svAgJVYieKIY8R-Nt3r7igUR1rxgdwi4\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:00 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIyMg==;sn=56995222"
      },
      "ResponseBody": {
        "etag": "SBfk9t_41N0svAgJVYieKIY8R-Nt3r7igUR1rxgdwi4",
        "key": "key-TestClient",
        "label": "label",
        "content_type": "content-type",
        "value": "value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv/key-TestClient?api-version=2023-10-01\u0026label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022rddqW4vhbGIxXDRCOhgxQemu0j6rQWzI1skN3ndYI_A\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIyNQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "key": "key-TestClient",
        "label": "label",
        "tags": {},
        "value": "value3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hlI-eRPLt-bOXrRBeWAoBh38kqEHTgrd0_Let6i6hOY\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:01 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIyNg==;sn=56995226"
      },
      "ResponseBody": {
        "etag": "hlI-eRPLt-bOXrRBeWAoBh38kqEHTgrd0_Let6i6hOY",
        "key": "key-TestClient",
        "label": "label",
        "content_type": null,
        "value": "value3",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:01\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/locks/key-TestClient?api-version=2023-10-01\u0026label=label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIyNw==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220hJE3ZKv1yY3XbeRu7auws3ZCdKmxJaAvjAkMiqGbdI\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:01 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIyOA==;sn=56995228"
      },
      "ResponseBody": {
        "etag": "0hJE3ZKv1yY3XbeRu7auws3ZCdKmxJaAvjAkMiqGbdI",
        "key": "key-TestClient",
        "label": "label",
        "content_type": null,
        "value": "value3",
        "tags": {},
        "locked": true,
        "last_modified": "2023-12-11T18:10:01\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/revisions?%24Select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags\u0026api-version=2023-10-01\u0026key=%2A\u0026label=%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIzNA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022uWPC7wXDVeF03iRrEbAhGwVG7V1P0QY_qb7Cgvqdkdk\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIzNQ==;sn=56995235"
      },
      "ResponseBody": {
        "etag": "uWPC7wXDVeF03iRrEbAhGwVG7V1P0QY_qb7Cgvqdkdk",
        "items": [
          {
            "etag": "OzF_ZSAjfo-8hZCXpEeCUjmljtqupotgZwNknolldQI",
            "key": "key-TestClient",
            "label": "label",
            "content_type": null,
            "value": "value3",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-11T18:10:02\u002B00:00"
          },
          {
            "etag": "_hGjY9e5NNShzqgucmeMJjuanHXSkTtimLTxsjbraaI",
            "key": "key-TestClient",
            "label": "label",
            [...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv?%24Select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags\u0026api-version=2023-10-01\u0026key=%2A\u0026label=%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIzNQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022yjrjVk8jBbUSXfiIBFS_tQoVUaCUmDR0WokJGhviPW4\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIzNQ==;sn=56995235"
      },
      "ResponseBody": {
        "etag": "yjrjVk8jBbUSXfiIBFS_tQoVUaCUmDR0WokJGhviPW4",
        "items": [
          {
            "etag": "OzF_ZSAjfo-8hZCXpEeCUjmljtqupotgZwNknolldQI",
            "key": "key-TestClient",
            "label": "label",
            "content_type": null,
            "value": "value3",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-11T18:10:02\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/kv/key-TestClient?api-version=2023-10-01\u0026label=label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022Uz1v09LYxI3JeTv7qzL-Er6aaLwOVXrNmXOLVhKmgMY\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIzOA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Uz1v09LYxI3JeTv7qzL-Er6aaLwOVXrNmXOLVhKmgMY\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 18:10:02 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk5NTIzOQ==;sn=56995239"
      },
      "ResponseBody": {
        "etag": "Uz1v09LYxI3JeTv7qzL-Er6aaLwOVXrNmXOLVhKmgMY",
        "key": "key-TestClient",
        "label": "label",
        "content_type": "content-type2",
        "value": "value3",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-11T18:10:02\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
