{
  "Entries": [
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "*"
          }
        ],
        "name": "recoverSnapshotsTest120823uid",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022nTPmUDfOfUFFXh5SN9NHI9dD0mQidzujyCs3sY5bgsg\u0022",
        "Last-Modified": "Sat, 09 Dec 2023 00:40:11 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://snapshotsproxytests.azconfig.io/operations?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0NzEyNA==;sn=56947124"
      },
      "ResponseBody": {
        "etag": "nTPmUDfOfUFFXh5SN9NHI9dD0mQidzujyCs3sY5bgsg",
        "name": "recoverSnapshotsTest120823uid",
        "status": "provisioning",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-09T00:40:11\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://contoso.azconfig.io/operations?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0NzEyNA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0NzEyNA==;sn=56947124"
      },
      "ResponseBody": {
        "id": "d2mcILLaqNvfGXRWGumtbfBEgG1-_HDlVHKbwrtWI-g",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0NzEzNQ==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022YSBu4Iv8DUBpFV5yHlVr9YTGMado7oq6XfCfkEi90_4\u0022",
        "Last-Modified": "Sat, 09 Dec 2023 00:40:11 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0NzEzNg==;sn=56947136"
      },
      "ResponseBody": {
        "etag": "YSBu4Iv8DUBpFV5yHlVr9YTGMado7oq6XfCfkEi90_4",
        "name": "recoverSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-09T00:40:11\u002B00:00",
        "expires": "2023-12-09T01:40:42.8196334\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://contoso.azconfig.io/snapshots/recoverSnapshotsTest120823uid?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0NzEzOA==",
        "X-Ms-Content-Sha256": "fake-content"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022kQp7v8y71g7OfFuiIqrc9QWMjv_u8QM-AJ071_IE4p8\u0022",
        "Last-Modified": "Sat, 09 Dec 2023 00:40:11 GMT",
        "Link": "\u003C/kv?snapshot=recoverSnapshotsTest120823uid\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1Njk0NzEzOA==;sn=56947138"
      },
      "ResponseBody": {
        "etag": "kQp7v8y71g7OfFuiIqrc9QWMjv_u8QM-AJ071_IE4p8",
        "name": "recoverSnapshotsTest120823uid",
        "status": "archived",
        "filters": [
          {
            "key": "*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-12-09T00:40:11\u002B00:00",
        "expires": "2023-12-09T01:40:43\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    }
  ],
  "Variables": {}
}
