{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e10f815a-b327-4159-d669-e951322ccb64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC444C21FAA\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c02531e2-4ce7-c2aa-a38e-47983df75e28?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC444CD677E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c02531e2-4ce7-c2aa-a38e-47983df75e28/test-file-94ade2d0-e5a7-c2a2-ca14-a1836073351e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC444DA545B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:24:53.9194459Z",
        "x-ms-file-creation-time": "2024-07-02T18:24:53.9194459Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:24:53.9194459Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c02531e2-4ce7-c2aa-a38e-47983df75e28/test-file-94ade2d0-e5a7-c2a2-ca14-a1836073351e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "v/JQu5HRWyEbhxhbaBpe4i/Fx2v2ZKd+2oJRrDK4QyfhQN9wB9K9vzyhMuZ1dFl3N0ZecjeidVtK0uAOgK7uYkTxeSg67tpcBwcuVDHBCWYo2nTsWdDwP8qEJTXyrj+Os9ChhPsxPElrAmsvcyApich65qU5AQl0ADpdtsilaljIoKFhH4Rq954rgVdlwMupW5xsd8iZVLHGLYPA04aBxZcTZtJ/yGpDD+8HDn+xDj9us1osOPKPLkzvmvEBqiMXqry/Ulr5KZIyKWjYkkUxFR9DUh8rVI2lgziGkC14QmXL72TD8bvldYrI+g+KtpwGvYXSvVcE7FUvGs8hcplkueYCDaLhbiNjXt2VY1p9G8ycf9KopoUOxwMOlNfsxALwY0Aoh6n5JU9hbl96b4n6sf4ChfPHuxJh9Eaf0tlMd5rapP8ZVJQio1qCRzgmk1h5FOLY6T4PKacux5JjWVJ2FffEn8qJ4Fxq3+KYRHTaO2DuJr73c41by3tX640Bv0kIDDJBYfSN8DOFbglcduUzVIsxdTOUf6FpadROMfXPaSCYkDdBmNpsYDWKcQSE/1SWJJcBz0oWc42Q2PcfPr4+tgXpw+Wt8buxxRT9CQ2c5Gl/uA1dzprVgRyqsMDiTSF3TLv/mzxu6DLcTwo1GWp/8/OOoIaw4OdrE0HJA0D6z3fzhb1SnUktEM/agX6Pn2iyKr3NVK2bxmvTlIf6peXy4YCSQpOsLVaqYI+21l5o23PZFtiDLXrKWL5RfwjBMmvp6KD+/V3UBf1mI/Md5PANarkTIY8NbrQFx+rVW61O6C0kzO6+at0WBBDbHQqHrHPNQxROrRHb3Hns+DVy/6pPGDrF+RcCT//b/R1+MlGqfhp2BxeZ/zocSPB00nKoowVmiwXPwrNby/QUc7D0XaooQnoa/PeSthj/qLEnjX2NM1kXGKZL2rxnGzsihIyKKOpFTI/3jacN09Xs0BkBND53hz9W3EUE3Ge+suG7bzGMdIDG4kDtlaayCUTQXwmjZub9q/xMNEulQXAoOdrGUWSjYFuYOlL9ivKZpNIAM3xdG0z6vsQ1P0A1IaDQxVvM67fgLP+uCiuU/yAKs5B5pA3zyh6NzJOfbiAbYxmxLMWWzbgaIAZ9rxAgZb6jKoywvHyS3fo9Ph8kQL7fk6cS49NbdObYXoMHdRoNbWfU/ESUa6ecHk7KWY+Y9uBInhxpDYHrR7al2F35i2jgL9C4UER6SycAdsWEkRpXP2ijvtf+pF/l6LSN7pNJopLm6iq+4KWbzlP0aZa8Z7abTpj1Vc2Q4Ypw0meQ7FyUttMynabwmF7CCPCDCTvJKYH98qD6VE3FVQifTQ4+C+H2X7LCiskQqg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "qEE8IdOEmF6dwrHUzCZQUQ==",
        "ETag": "\"0x8DC9AC444E5EB69\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:53 GMT",
        "x-ms-file-last-write-time": "2024-07-02T18:24:53.9954025Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e10f815a-b327-4159-d669-e951322ccb64/test-file-37e55227-81ca-7b37-ed80-d472af1bc802",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC444F98AE6\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:54.1240038Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e10f815a-b327-4159-d669-e951322ccb64/test-file-37e55227-81ca-7b37-ed80-d472af1bc802?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mBViHYnCGVFDyRg3LZdEnCw4Pj12d1rQ8+p3NREHWPcn4E73CXhEjHgCEPt+T07XYdlR3LNOkCC7kiqeSuNAPHAhD01ITZKz87LFdGdfUaOboNQ3tXtD2VAuPHdOpUKUwtOKXEABjhNGnekBiBu5W0CGA6kPCYb13TX9GhEbZU5vMLKT1fRjmhLA8BiSQlE0deA2yKKZhbhMlX8KBHQCKziakVdpJYZLImiXThhuYpvkyKUx5Zyr1qv5R0B1WJWevsXf97D5yk9a6qY5ATeg3TLjJjvO0EWc77uscN1G1snS+Y9Tj2rr6v1V1/v2cdRzWWkNkjJaz+1/Qwj1TFpyExTcZwioTE7H9zs+eflJpn3mORd0OEOXeCmh00xi9p2[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e10f815a-b327-4159-d669-e951322ccb64/test-file-37e55227-81ca-7b37-ed80-d472af1bc802?sv=Sanitized&se=2024-07-03T18%3A24%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC4450807BA\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:24:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:54.1240038Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c02531e2-4ce7-c2aa-a38e-47983df75e28/test-file-94ade2d0-e5a7-c2a2-ca14-a1836073351e?sv=Sanitized&se=2024-07-03T18%3A24%3A54Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC444E5EB69\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:24:53.9954025Z",
        "x-ms-file-creation-time": "2024-07-02T18:24:53.9194459Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:24:53.9954025Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c02531e2-4ce7-c2aa-a38e-47983df75e28/test-file-94ade2d0-e5a7-c2a2-ca14-a1836073351e?sv=Sanitized&se=2024-07-03T18%3A24%3A54Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC444E5EB69\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:24:53.9954025Z",
        "x-ms-file-creation-time": "2024-07-02T18:24:53.9194459Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:24:53.9954025Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c02531e2-4ce7-c2aa-a38e-47983df75e28?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e10f815a-b327-4159-d669-e951322ccb64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:24:54.7805852-07:00",
    "RandomSeed": "931602955",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
