{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15111f44-2155-af4f-2233-3b34878513bf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC436961A08\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-bf7f99fe-f0d1-6cde-fe12-678d8d3956c0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC436A18688\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15111f44-2155-af4f-2233-3b34878513bf/test-file-f13ae405-82cb-2a7d-997e-6cd2c79839d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC436AFF5A5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:30.1536677Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15111f44-2155-af4f-2233-3b34878513bf/test-file-f13ae405-82cb-2a7d-997e-6cd2c79839d3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rE6XP3IWJ5aUavkGyYgJakev5kcH274N+t5ooiurqlj1qVzY31e88QPFuKA+AF5RgrYEZhribdGPiUWTrYRq6MChESAsMYrw8vRDQSIez/qAFyB1p0M9EjuKSFYRKEN/W9DfnO4+JFAsE3MmniyucblLE5Zk9UF8ZP7koekz38qwxOZSPjMLQvLPSZTPF3MP3NecxhWtGmWOYzjvWYJn+DSpddpGWzKGP9GklKutrEyL1MUSlxi1A6qAw9v6G+hvaFFfJqGZyYCkFYZECIW64bbrZIS9VGAb9HEwxZhWjCPoNSxaTYWr8QtEbYGRcfskxuIlDrdjsRPwQzIvaQPoToliW9NZX5MwQHJ5eOfeiYJ2C/+1MX1shIMYaQlTe4gHXB74LhUoymZO9M5E6jkrEbqvuV0EMxwL9tZPQfWJ3MXqchzI5lptTkCYZjyvKJpK7FhPpMEqAykC7Dg+2IlwxBcIWncdYytfQmoda8zgXM08BVSdOjgDv2/yxvkiLna2KKElps4jLIks8GFWDZddIY9rAtI00oreBZoIKpwxPBT0ZkIqu7b/GNjLcUnXrLHXlaVqtiujglUXRqEzGgHs+7NNYqdUMmbZa+n5aGFAB1jpMZX3x4XoUePtEnQVy/7X33WViUoKgmI+kEtBqRnz1j5ISuls9TQtZRDDZx/xxKA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC436BAC981\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "uhRUWQmqbq0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15111f44-2155-af4f-2233-3b34878513bf/test-file-f13ae405-82cb-2a7d-997e-6cd2c79839d3?sv=Sanitized&se=2024-07-03T18%3A24%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC436BAC981\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:30.1536677Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-bf7f99fe-f0d1-6cde-fe12-678d8d3956c0/test-file-39b54b92-9621-06de-b04a-306d935421a3?sv=Sanitized&se=2024-07-03T18%3A24%3A30Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-bf7f99fe-f0d1-6cde-fe12-678d8d3956c0/test-file-39b54b92-9621-06de-b04a-306d935421a3?sv=Sanitized&se=2024-07-03T18%3A24%3A30Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:24:30.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC436DD6117\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:24:30.4513303Z",
        "x-ms-file-creation-time": "2024-07-02T18:24:30.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:24:30.4513303Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-bf7f99fe-f0d1-6cde-fe12-678d8d3956c0/test-file-39b54b92-9621-06de-b04a-306d935421a3?sv=Sanitized&se=2024-07-03T18%3A24%3A30Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-15111f44-2155-af4f-2233-3b34878513bf/test-file-f13ae405-82cb-2a7d-997e-6cd2c79839d3?sv=Sanitized&se=2024-07-03T18%3A24%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC436EAF3BD\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-content-crc64": "uhRUWQmqbq0=",
        "x-ms-file-last-write-time": "2024-07-02T18:24:30.4513303Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15111f44-2155-af4f-2233-3b34878513bf/test-file-f13ae405-82cb-2a7d-997e-6cd2c79839d3?sv=Sanitized&se=2024-07-03T18%3A24%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC436BAC981\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC436BAC981\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:24:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:30.1536677Z"
      },
      "ResponseBody": "rE6XP3IWJ5aUavkGyYgJakev5kcH274N+t5ooiurqlj1qVzY31e88QPFuKA+AF5RgrYEZhribdGPiUWTrYRq6MChESAsMYrw8vRDQSIez/qAFyB1p0M9EjuKSFYRKEN/W9DfnO4+JFAsE3MmniyucblLE5Zk9UF8ZP7koekz38qwxOZSPjMLQvLPSZTPF3MP3NecxhWtGmWOYzjvWYJn+DSpddpGWzKGP9GklKutrEyL1MUSlxi1A6qAw9v6G+hvaFFfJqGZyYCkFYZECIW64bbrZIS9VGAb9HEwxZhWjCPoNSxaTYWr8QtEbYGRcfskxuIlDrdjsRPwQzIvaQPoToliW9NZX5MwQHJ5eOfeiYJ2C/+1MX1shIMYaQlTe4gHXB74LhUoymZO9M5E6jkrEbqvuV0EMxwL9tZPQfWJ3MXqchzI5lptTkCYZjyvKJpK7FhPpMEqAykC7Dg+2IlwxBcIWncdYytfQmoda8zgXM08BVSdOjgDv2/yxvkiLna2KKElps4jLIks8GFWDZddIY9rAtI00oreBZoIKpwxPBT0ZkIqu7b/GNjLcUnXrLHXlaVqtiujglUXRqEzGgHs+7NNYqdUMmbZa+n5aGFAB1jpMZX3x4XoUePtEnQVy/7X33WViUoKgmI+kEtBqRnz1j5ISuls9TQtZRDDZx/xxKA="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-bf7f99fe-f0d1-6cde-fe12-678d8d3956c0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15111f44-2155-af4f-2233-3b34878513bf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:24:30.9863927-07:00",
    "RandomSeed": "2096766592",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
