{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c6284f5-033c-404b-9b34-279d5fb128b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154934E5EF5\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-76250473-1406-df63-35d5-9620c4783c8f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515493579F05\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c6284f5-033c-404b-9b34-279d5fb128b1/test-file-6ec157e5-0931-6011-1abc-54a84fc6af37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154935E512C\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:24.8013100Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c6284f5-033c-404b-9b34-279d5fb128b1/test-file-6ec157e5-0931-6011-1abc-54a84fc6af37?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ibv7OGIzrDsOZYuBw/WkyCPRUr0YGrVnCF2NnvhkYcGQdSVllwwT67UwUNZQAQ1cRSWO4rpaKG4Fky8FpQ5DqQPK8E7PPzAWvmcH6MreFwdPMFjT1n8GNUy2XwPdDUan7KbShhG+jQX0dyNTU0CkJnwotnS1cNOEw7oCGd8tObAgYPsjC5H1kKNT3l5bs+IMETmGtVbR8nzTTsJWvHMmxj5zMvJFgBvrMibRYpF0KRDY9gempoNaT25+UL3OntMwLBgg6IDvxpEdm4Mw/4/rXySyfsZrfyC6GOKExjBdHZNSoTV4U0GP6C92iAsAKU/ekvGYGyANxK33Zs+eav9gwH3v3V5acgvjI5WX9fYUue+TpjQ/xAFyRdyHgexy8H0vFciNEUvwhB/ltfiKdc63463gC8TLIft8fJiB0vEecTIYZ+Ath6ijoiIUWQ8I6M8O0J0/kuW5ZPPNEJSzb7EtxkTGcg7uiVwFPGiitsjsdJTIcwFT395MXgPsYHYU7zNw5pPLQnbBH0dBOlV9F60r4Zz/6vuw2udleRMKASjl8U01Mc81ITEeB1O5EqWJz0ZWwX/ZFAU3vwyrZchith0fXEgIR+Xd9sBq4eKn9sdB3KrNtECoC9xH/XHDibtpvFE2mrVcgYdgeMq/bzIikMlEaokdlAHddlBswElzGm0EASU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515493657C11\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "i9+NlJI7/nI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c6284f5-033c-404b-9b34-279d5fb128b1/test-file-6ec157e5-0931-6011-1abc-54a84fc6af37?sv=Sanitized&se=2025-02-21T02%3A16%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD515493657C11\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:24.8013100Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-76250473-1406-df63-35d5-9620c4783c8f/test-file-8cc7fc06-3d18-64a8-7dcc-731934f90467?sv=Sanitized&se=2025-02-21T02%3A16%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-76250473-1406-df63-35d5-9620c4783c8f/test-file-8cc7fc06-3d18-64a8-7dcc-731934f90467?sv=Sanitized&se=2025-02-21T02%3A16%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:16:24.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154937CBED7\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:25.0007255Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:24.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:25.0007255Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-76250473-1406-df63-35d5-9620c4783c8f/test-file-8cc7fc06-3d18-64a8-7dcc-731934f90467?sv=Sanitized&se=2025-02-21T02%3A16%3A24Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0c6284f5-033c-404b-9b34-279d5fb128b1/test-file-6ec157e5-0931-6011-1abc-54a84fc6af37?sv=sanitized-value&se=2025-02-21T02%3A16%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515493943B05\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:25 GMT",
        "x-ms-content-crc64": "i9+NlJI7/nI=",
        "x-ms-file-last-write-time": "2025-02-20T02:16:25.0007255Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-76250473-1406-df63-35d5-9620c4783c8f/test-file-8cc7fc06-3d18-64a8-7dcc-731934f90467?sv=Sanitized&se=2025-02-21T02%3A16%3A24Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:16:24.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154939C9E39\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:25.2096057Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:24.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:25.0007255Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c6284f5-033c-404b-9b34-279d5fb128b1/test-file-6ec157e5-0931-6011-1abc-54a84fc6af37?sv=Sanitized&se=2025-02-21T02%3A16%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD515493657C11\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD515493657C11\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:16:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:24.8013100Z"
      },
      "ResponseBody": "ibv7OGIzrDsOZYuBw/WkyCPRUr0YGrVnCF2NnvhkYcGQdSVllwwT67UwUNZQAQ1cRSWO4rpaKG4Fky8FpQ5DqQPK8E7PPzAWvmcH6MreFwdPMFjT1n8GNUy2XwPdDUan7KbShhG+jQX0dyNTU0CkJnwotnS1cNOEw7oCGd8tObAgYPsjC5H1kKNT3l5bs+IMETmGtVbR8nzTTsJWvHMmxj5zMvJFgBvrMibRYpF0KRDY9gempoNaT25+UL3OntMwLBgg6IDvxpEdm4Mw/4/rXySyfsZrfyC6GOKExjBdHZNSoTV4U0GP6C92iAsAKU/ekvGYGyANxK33Zs+eav9gwH3v3V5acgvjI5WX9fYUue+TpjQ/xAFyRdyHgexy8H0vFciNEUvwhB/ltfiKdc63463gC8TLIft8fJiB0vEecTIYZ+Ath6ijoiIUWQ8I6M8O0J0/kuW5ZPPNEJSzb7EtxkTGcg7uiVwFPGiitsjsdJTIcwFT395MXgPsYHYU7zNw5pPLQnbBH0dBOlV9F60r4Zz/6vuw2udleRMKASjl8U01Mc81ITEeB1O5EqWJz0ZWwX/ZFAU3vwyrZchith0fXEgIR+Xd9sBq4eKn9sdB3KrNtECoC9xH/XHDibtpvFE2mrVcgYdgeMq/bzIikMlEaokdlAHddlBswElzGm0EASU="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-76250473-1406-df63-35d5-9620c4783c8f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c6284f5-033c-404b-9b34-279d5fb128b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T18:16:24.8730702-08:00",
    "RandomSeed": "1157016973",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
