{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d347bdb9-fcdf-cfc5-3d74-c10e6e89ce1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9DDB2E445\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-53d4293d-bf90-e08c-d983-9d6dc6eb2927?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9DDBD80A9\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d347bdb9-fcdf-cfc5-3d74-c10e6e89ce1b/test-file-b11a828b-2614-41ff-9574-791b661cb017",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9DDC76D4C\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:24.4822860Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d347bdb9-fcdf-cfc5-3d74-c10e6e89ce1b/test-file-b11a828b-2614-41ff-9574-791b661cb017?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "UBbPqQXY/tT+4nVjQInbVlplBldq47ICT1d0W88hwEV55isrw9iZLrYPOwozbBH4ueWhzK1v1mxjzFmuZKIF3CEw6Vpdr5OCzNegW6iozuJFe6LpgPSXCg++yPZ/68oUCV7oAoK3mwpRHgDWz3rEu/12aOgAHFwtmd9KnuedA+ANjFJKv8tfjuCXl2HzwTqV+gz4CIPiE+0Cu2mjbPwjtBsfyEMnevwxFtoHaYT6OdeltaTapfpdK3hlSARivCHjdOJG0/j3bYAQxvGo2qpoB4GR/bZYSQ8gwpzKwjL4z1q4I/WhtGberkgkyt4JtFHO/UCC0L5qiyvTJRBcLKpNGPaX8La0xlMbsk9tNH4wFw5L+8Xydf+bTZjKzo5VgoGe1rLncsSaGTbsZx1u/Fesog4CEDDlW6L[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d347bdb9-fcdf-cfc5-3d74-c10e6e89ce1b/test-file-b11a828b-2614-41ff-9574-791b661cb017?sv=Sanitized&se=2024-06-29T23%3A27%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9DDD0E1D0\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:24.4822860Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-53d4293d-bf90-e08c-d983-9d6dc6eb2927/test-file-8f6d251a-ad4e-ece4-2003-b6540490ff12?sv=Sanitized&se=2024-06-29T23%3A27%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-53d4293d-bf90-e08c-d983-9d6dc6eb2927/test-file-8f6d251a-ad4e-ece4-2003-b6540490ff12?sv=Sanitized&se=2024-06-29T23%3A27%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:27:24.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:27:24.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9DDFE5964\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:27:24.8422244Z",
        "x-ms-file-creation-time": "2024-06-28T23:27:24.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:27:24.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-53d4293d-bf90-e08c-d983-9d6dc6eb2927/test-file-8f6d251a-ad4e-ece4-2003-b6540490ff12?sv=Sanitized&se=2024-06-29T23%3A27%3A24Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d347bdb9-fcdf-cfc5-3d74-c10e6e89ce1b/test-file-b11a828b-2614-41ff-9574-791b661cb017?sv=Sanitized&se=2024-06-29T23%3A27%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9DE0A3E8B\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-content-crc64": "c1ABI2aFU/w=",
        "x-ms-file-last-write-time": "2024-06-28T23:27:24.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d347bdb9-fcdf-cfc5-3d74-c10e6e89ce1b/test-file-b11a828b-2614-41ff-9574-791b661cb017?sv=Sanitized&se=2024-06-29T23%3A27%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC97C9DDD0E1D0\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9DDD0E1D0\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-53d4293d-bf90-e08c-d983-9d6dc6eb2927?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d347bdb9-fcdf-cfc5-3d74-c10e6e89ce1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:27:24.5845707-07:00",
    "RandomSeed": "519815535",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
