{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3422956b-dbce-6fa3-0387-129cbd87a81b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D2C4CCDFD\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-730aab41-b6a2-c570-c71d-5bf0488a4a7a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D2C5724AA\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3422956b-dbce-6fa3-0387-129cbd87a81b/test-file-19941720-8d98-be2b-ff00-105b6dfeb106",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D2C60D3D3\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3422956b-dbce-6fa3-0387-129cbd87a81b/test-file-19941720-8d98-be2b-ff00-105b6dfeb106?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "aJL81FlTPCz2NyLmHu/J3BuvAg+djpNwRU8QWU4DJkz34kRIWvQBUz9yDNYfa/0ZcITnpAIL79n+jI8JQ+Pe8xDW7zuqgIEnrq/PKoK9UdlS9+jJG4JJ7PNrSs5l9w9clBnGSHvBbu8DwPVTO8RXQTq1t0z6FdeNjQNIPzazwrefcpZo9whdkIj5xluN9bAuEwiTrz/DYX9BOLt4eS64T/09tMku7koyVybDAU58AJdTGiwuIBJ32xEXJr5M5RdaQHZdT0Dn/yS+YFcZAF8wxTgkJV4Cii/rxdm3F8eM5XIOacHXHrBWbBoHb7+6Xtux5mGFKMC4V7VHcolnL+hcMnrlCpeeWKeIzblE+hpwMGf9BjBmBr2xVRELkKwm7zwxqj1E1FNEEo25/VsGdF2b1kEiaSm39iu9M7WFk8f6Yd18ElDdK1sUufOirQlhquG0b7pqBIUTerQRhqCevn/Fvpt9imEMvarmDa82FEkiW4nT0SMNkF1XaZiby6W6dvtz3O5t5CCAp7EPg/bW3WVr7ysXyuxbuC4+JSHIcPIFLJe0wjhatHdoUylx/gxmgYwzMNt5oqsOFyTAL77/tza/CVdfIhotEDqzr3bD6rkh16SVlUAWi4nrpaoTmoW5aJzysvS1B19xBh+hxvI1Sy1rnlgZaiH2qH3NdHxwGXW1+kY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D2C6B4F60\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "9CcunPnVRck=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3422956b-dbce-6fa3-0387-129cbd87a81b/test-file-19941720-8d98-be2b-ff00-105b6dfeb106?sv=Sanitized&se=2024-12-11T19%3A02%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194D2C6B4F60\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-730aab41-b6a2-c570-c71d-5bf0488a4a7a/test-file-49ffcbd8-cfb2-ddfc-de7a-6f0f255860c3?sv=Sanitized&se=2024-12-11T19%3A02%3A20Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-730aab41-b6a2-c570-c71d-5bf0488a4a7a/test-file-49ffcbd8-cfb2-ddfc-de7a-6f0f255860c3?sv=Sanitized&se=2024-12-11T19%3A02%3A20Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "text/plain",
        "x-ms-file-creation-time": "2024-12-10T19:02:20.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D2C8B1C5F\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:02:20.6968927Z",
        "x-ms-file-creation-time": "2024-12-10T19:02:20.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:02:20.6968927Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-730aab41-b6a2-c570-c71d-5bf0488a4a7a/test-file-49ffcbd8-cfb2-ddfc-de7a-6f0f255860c3?sv=Sanitized&se=2024-12-11T19%3A02%3A20Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3422956b-dbce-6fa3-0387-129cbd87a81b/test-file-19941720-8d98-be2b-ff00-105b6dfeb106?sv=sanitized-value&se=2024-12-11T19%3A02%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D2C982D12\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-content-crc64": "9CcunPnVRck=",
        "x-ms-file-last-write-time": "2024-12-10T19:02:20.6968927Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3422956b-dbce-6fa3-0387-129cbd87a81b/test-file-19941720-8d98-be2b-ff00-105b6dfeb106?sv=Sanitized&se=2024-12-11T19%3A02%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD194D2C6B4F60\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194D2C6B4F60\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:02:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-730aab41-b6a2-c570-c71d-5bf0488a4a7a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3422956b-dbce-6fa3-0387-129cbd87a81b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T11:02:20.8113439-08:00",
    "RandomSeed": "640813996",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
