{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc5fc731-ff35-a3dd-e43c-4b64750cac9f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D9D1A9A12\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4b58c8be-d6a3-445b-fecb-fe3df2bac6ee?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D9D28085D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc5fc731-ff35-a3dd-e43c-4b64750cac9f/test-file-c1bd7578-154c-5be0-a200-4cfde4abbc61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D9D37E58A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:16.5974675Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc5fc731-ff35-a3dd-e43c-4b64750cac9f/test-file-c1bd7578-154c-5be0-a200-4cfde4abbc61?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "L3norP6PXAprxj5cdHfmKUX+56I/isAK6v4/faF6L35iTz7w63fSI9LcrM7ulnDcvYJKUnKSCaW43sIAUN5o8Ja/+SQ49j3NLMTPY93xG1SOYr8eMNwM0EWZNwy10dPzc7s4L5xLpMdFfSauwqbHxsNuce0eSsC6sinfnr4xGFrw3PAhueu3Qr742bK2Xg6f0XFIR2Dm1Cj6fXxybAYJE2XLveW2pQzYti4vJnEOA1MbP8xN6ND6CgfHJzxuRNa478VN6qEo6SxkcJExt6637HkpVyw5uyuU0LPe7n7QaXFYdzarwBmy81ag6Hc/yVNYDzrCRe2qfjOZuRnuSfqtkwcf2T93DCxgdmTVmNK0VQdghd5EDSOErfgDEQf/xKlc8lRvIPAT4QMNYc6I1eVg5WQSjcQbaYX[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc5fc731-ff35-a3dd-e43c-4b64750cac9f/test-file-c1bd7578-154c-5be0-a200-4cfde4abbc61?sv=Sanitized&se=2024-06-08T01%3A03%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D9D429303\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:16.5974675Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4b58c8be-d6a3-445b-fecb-fe3df2bac6ee/test-file-bf638ca4-b154-e951-aff0-f62c1678ef7d?sv=Sanitized&se=2024-06-08T01%3A03%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-07T01:03:16.0000000Z",
        "x-ms-file-last-write-time": "2024-06-07T01:03:16.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D9D61666F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:03:16.8684655Z",
        "x-ms-file-creation-time": "2024-06-07T01:03:16.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:03:16.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4b58c8be-d6a3-445b-fecb-fe3df2bac6ee/test-file-bf638ca4-b154-e951-aff0-f62c1678ef7d?sv=Sanitized&se=2024-06-08T01%3A03%3A15Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-fc5fc731-ff35-a3dd-e43c-4b64750cac9f/test-file-c1bd7578-154c-5be0-a200-4cfde4abbc61?sv=Sanitized&se=2024-06-08T01%3A03%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D9D7A91A8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:17 GMT",
        "x-ms-content-crc64": "YtD4Uds2NAw=",
        "x-ms-file-last-write-time": "2024-06-07T01:03:16.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc5fc731-ff35-a3dd-e43c-4b64750cac9f/test-file-c1bd7578-154c-5be0-a200-4cfde4abbc61?sv=Sanitized&se=2024-06-08T01%3A03%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868D9D429303\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D9D429303\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4b58c8be-d6a3-445b-fecb-fe3df2bac6ee?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc5fc731-ff35-a3dd-e43c-4b64750cac9f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:03:15.1742014-05:00",
    "RandomSeed": "1971743406",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
