{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6b62261f-2089-007f-c3ba-0f95a9b6116c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D3161A5F70\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-99b415c9-b921-9668-cce4-d11ba85cbc79?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D3162B2CA5\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6b62261f-2089-007f-c3ba-0f95a9b6116c/test-file-0fc147b6-7d3a-8d24-80cd-463d3ef9ceef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D31639345C\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:28.8392796Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6b62261f-2089-007f-c3ba-0f95a9b6116c/test-file-0fc147b6-7d3a-8d24-80cd-463d3ef9ceef?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "XDqJveUM3mqJhfRialsOFDOJFD\u002Bn7ummkUfTW1hi5QxEhQlX48isSxR9nNBRj3mJ9bK3mrP\u002BfG1R4yyeOIISJ6DnHeVRtzFr3ckqKlIZVAHOSmalqktZRgicBgCcDhORanQwaXGTNz6BS73p01IaOI4qz\u002B0cbXxUjtfctbAxz8\u002B2mb/d6OuPOhMoJF\u002BNb3O2gc5xcT4ldP3429uat4KNT3zuMzmSPE\u002BimpXa9Egdxx5kJTPiv12RkCTC5Q0Q9YKRmtXinzs5JEV\u002Bz9aoSoC02xO8NpJOq48eXaIU0FdCkqUSSVlzOijiKgHuY/CH6EajDQn5U7/wQu9FxEGZJVTtPDwwlQEmQaHr2QyRYEefl3RccMJOST7mIgdqLnbm[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6b62261f-2089-007f-c3ba-0f95a9b6116c/test-file-0fc147b6-7d3a-8d24-80cd-463d3ef9ceef?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D316471506\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:28.8392796Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-99b415c9-b921-9668-cce4-d11ba85cbc79/test-file-d5cc3d9e-8c01-56e4-61bb-00de32a20cbc?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A28Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-99b415c9-b921-9668-cce4-d11ba85cbc79/test-file-d5cc3d9e-8c01-56e4-61bb-00de32a20cbc?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A28Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D316754585\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:37:29.2329349Z",
        "x-ms-file-creation-time": "2023-11-16T18:37:29.2329349Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:37:29.2329349Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-99b415c9-b921-9668-cce4-d11ba85cbc79/test-file-d5cc3d9e-8c01-56e4-61bb-00de32a20cbc?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A28Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-6b62261f-2089-007f-c3ba-0f95a9b6116c/test-file-0fc147b6-7d3a-8d24-80cd-463d3ef9ceef?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D316882E7F\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:29 GMT",
        "x-ms-content-crc64": "VlAvyg6GdQY=",
        "x-ms-file-last-write-time": "2023-11-16T18:37:29.3568639Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6b62261f-2089-007f-c3ba-0f95a9b6116c/test-file-0fc147b6-7d3a-8d24-80cd-463d3ef9ceef?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D316471506\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D316471506\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:37:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-99b415c9-b921-9668-cce4-d11ba85cbc79?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6b62261f-2089-007f-c3ba-0f95a9b6116c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:37:28.8571048-08:00",
    "RandomSeed": "472281504",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
