{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44160cfa-bab1-e16d-a929-6daaa409b4e8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB702672FC1D4\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-91e6c15f-a4a4-776f-3935-c2f152275313?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB702673BC664\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44160cfa-bab1-e16d-a929-6daaa409b4e8/test-file-762ac785-ee48-2282-4f37-ec7f1dc8d066",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7026749CB21\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T17:00:13.0474785Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44160cfa-bab1-e16d-a929-6daaa409b4e8/test-file-762ac785-ee48-2282-4f37-ec7f1dc8d066?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "JddMTNF76H0quZ5SOVOpED2FNZmeOOzTu7Xh7NMdVj9z4S4iwimVSMFS6A5x4Zly09LUvdBpIuzreZEcmvupDWJf3lglhk0T7+zXS0/eYdkbbxgBSZhuCr5BN0mYea7GqdurEgNATUyEwM7jkdedDBe3ACrip8TK8NSZ408DenU+EaJ0Mk/W2yLLfIjJinjnpCoy4HiD4wEW4SEvp2n9gEVYpX80KNrH4SUIFio8AGVbsj8l0Zr9ui6gXVEupzO4zvxCcOX5sntQav9Te8zX2uC71PQp166rW+pRlMqImTrxUEcu+Y+AYgDE1Weaqj9hyYNwc9M/j/dNlhX6px2wx9DEYSuFqOBQO3H0ZQJHEbGr8MtHFyZnssBQ4WN6hbriFA2X1UgU3CCjIDdhSir0BYRjT7dSaK+[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44160cfa-bab1-e16d-a929-6daaa409b4e8/test-file-762ac785-ee48-2282-4f37-ec7f1dc8d066?sv=Sanitized&se=2024-08-08T17%3A00%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB70267531893\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 17:00:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T17:00:13.0474785Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-91e6c15f-a4a4-776f-3935-c2f152275313/test-file-f4c6c66e-8640-1263-7c76-177cfd31035f?sv=Sanitized&se=2024-08-08T17%3A00%3A12Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-91e6c15f-a4a4-776f-3935-c2f152275313/test-file-f4c6c66e-8640-1263-7c76-177cfd31035f?sv=Sanitized&se=2024-08-08T17%3A00%3A12Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T17:00:13.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70267758D78\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T17:00:13.3342584Z",
        "x-ms-file-creation-time": "2024-08-07T17:00:13.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T17:00:13.3342584Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-91e6c15f-a4a4-776f-3935-c2f152275313/test-file-f4c6c66e-8640-1263-7c76-177cfd31035f?sv=Sanitized&se=2024-08-08T17%3A00%3A12Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-44160cfa-bab1-e16d-a929-6daaa409b4e8/test-file-762ac785-ee48-2282-4f37-ec7f1dc8d066?sv=sanitized-value&se=2024-08-08T17%3A00%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7026781E7BF\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:13 GMT",
        "x-ms-content-crc64": "co6BMfTl1sc=",
        "x-ms-file-last-write-time": "2024-08-07T17:00:13.3342584Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44160cfa-bab1-e16d-a929-6daaa409b4e8/test-file-762ac785-ee48-2282-4f37-ec7f1dc8d066?sv=Sanitized&se=2024-08-08T17%3A00%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB70267531893\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB70267531893\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 17:00:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-91e6c15f-a4a4-776f-3935-c2f152275313?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44160cfa-bab1-e16d-a929-6daaa409b4e8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T10:00:12.0934729-07:00",
    "RandomSeed": "151215284",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
