{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c3801daa-8a49-2236-ddb7-1a8fe63d3196?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DA711F783\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-c85061ef-fa0e-d52d-0cfc-ecc5c74427a4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DA7250363\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c3801daa-8a49-2236-ddb7-1a8fe63d3196/test-file-fe7c79aa-0467-42bb-bdce-3520a3e81d32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DA73221A0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:33.3359008Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c3801daa-8a49-2236-ddb7-1a8fe63d3196/test-file-fe7c79aa-0467-42bb-bdce-3520a3e81d32?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:31 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "G11h/lMMdhnETb0D0RvSR/+jftND+v5WzntaXVl1Bf/RzAftab1n2vFNlBhgD7KMKdw5kemHxCFfCjDYshm/T0i9MQUU5d5BO6Ti9mbl9b7IzjR9O3MWSgjljV6NjyfXjUXQo92td0P++FVFpc27eRVxEOPlQhPUp+f8Lld/s6x8CmkgFFLhGlbwfkIe0aU6KhNJHH5E8kox/Pz1sUnsfkSoyJpkmmXDj/WM9MTQttVCwQNDNpctOBge7xhV62kNBP/+dQgK1pCuhY2Jt/2GYEYms+9FqEitepCBRapNbaOLf/DE0kDNN+tylbAKpIAamI/RLzh6x1u3Ufp4iZDlYRjp/TgMwo4FWXsD0xOYotYPZ60bez5rEbiVDYBGVK5ajTSXIKdIDdYAy9a8dvRHHq4kaSHiyuX[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c3801daa-8a49-2236-ddb7-1a8fe63d3196/test-file-fe7c79aa-0467-42bb-bdce-3520a3e81d32?sv=Sanitized&se=2024-06-08T01%3A03%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DA73DE071\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:33.3359008Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-c85061ef-fa0e-d52d-0cfc-ecc5c74427a4/test-file-34cd3bc8-8e42-86bb-96e6-558036af75eb?sv=Sanitized&se=2024-06-08T01%3A03%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-c85061ef-fa0e-d52d-0cfc-ecc5c74427a4/test-file-34cd3bc8-8e42-86bb-96e6-558036af75eb?sv=Sanitized&se=2024-06-08T01%3A03%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-07T01:03:33.0000000Z",
        "x-ms-file-last-write-time": "2024-06-07T01:03:33.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DA7665452\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:03:33.6779858Z",
        "x-ms-file-creation-time": "2024-06-07T01:03:33.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:03:33.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-c85061ef-fa0e-d52d-0cfc-ecc5c74427a4/test-file-34cd3bc8-8e42-86bb-96e6-558036af75eb?sv=Sanitized&se=2024-06-08T01%3A03%3A31Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-c3801daa-8a49-2236-ddb7-1a8fe63d3196/test-file-fe7c79aa-0467-42bb-bdce-3520a3e81d32?sv=Sanitized&se=2024-06-08T01%3A03%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DA7A99943\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:34 GMT",
        "x-ms-content-crc64": "nnyPYmwKVzI=",
        "x-ms-file-last-write-time": "2024-06-07T01:03:33.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c3801daa-8a49-2236-ddb7-1a8fe63d3196/test-file-fe7c79aa-0467-42bb-bdce-3520a3e81d32?sv=Sanitized&se=2024-06-08T01%3A03%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868DA73DE071\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DA73DE071\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-c85061ef-fa0e-d52d-0cfc-ecc5c74427a4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c3801daa-8a49-2236-ddb7-1a8fe63d3196?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:03:31.9202301-05:00",
    "RandomSeed": "671552655",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
