{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-835c5eee-8321-fb87-404d-cb8f68fa8d10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D98F7111D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5e855370-9ff6-8783-d2c3-1f2b6b2593ff?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D9904D08F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-835c5eee-8321-fb87-404d-cb8f68fa8d10/test-file-9444251a-3b23-63ae-2bc2-5a7f4fce455a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D991E49D2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:09.7177554Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-835c5eee-8321-fb87-404d-cb8f68fa8d10/test-file-9444251a-3b23-63ae-2bc2-5a7f4fce455a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:08 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "74cG7BYWN18dK+eG+N+us2tda5JCbHmZMayXVXODn+bzzcBGY56ilxYsnX+EivupAf3sc7TsBIMNbbtpfuHrmYsAkyseZ0/MutR7Fs/6Faaw7lR2lywxBsg9OPbjOBk1QQT0hPfQipmtH7ngce20E1gUuZCNdAJfz4xi4S5Y6YG6RtXKBpCv4GO6yXdyUJXbiSWez3+Jp80BlLVqbqlqVDY3JioY6Q3HZdgs0qqL7H73hlcJuhkCMZ4IyXHbRXK6T3VAOypqwqAY12qnXNQidqg2cudSYZocNPSMECCc6x9mcoM1SrBTjMS28OKvW9TK5VLIpNKKZ+3aJAY13rKAfOtKQOpR7Sz44uUjm3G3bdkgwSrN00ZN2wqVWiapHa4RNnT2ZRrpefgl0MLsZ8x8IrctFRyIsqi[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-835c5eee-8321-fb87-404d-cb8f68fa8d10/test-file-9444251a-3b23-63ae-2bc2-5a7f4fce455a?sv=Sanitized&se=2024-06-08T01%3A03%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D992B6816\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:09.7177554Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5e855370-9ff6-8783-d2c3-1f2b6b2593ff/test-file-77e754a1-7f35-af42-f1f9-0a775e02d1d4?sv=Sanitized&se=2024-06-08T01%3A03%3A08Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5e855370-9ff6-8783-d2c3-1f2b6b2593ff/test-file-77e754a1-7f35-af42-f1f9-0a775e02d1d4?sv=Sanitized&se=2024-06-08T01%3A03%3A08Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-07T01:03:09.0000000Z",
        "x-ms-file-last-write-time": "2024-06-07T01:03:09.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D9951170F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:03:10.0506895Z",
        "x-ms-file-creation-time": "2024-06-07T01:03:09.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:03:09.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5e855370-9ff6-8783-d2c3-1f2b6b2593ff/test-file-77e754a1-7f35-af42-f1f9-0a775e02d1d4?sv=Sanitized&se=2024-06-08T01%3A03%3A08Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-835c5eee-8321-fb87-404d-cb8f68fa8d10/test-file-9444251a-3b23-63ae-2bc2-5a7f4fce455a?sv=Sanitized&se=2024-06-08T01%3A03%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D99673540\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:10 GMT",
        "x-ms-content-crc64": "IhG33XkoSSc=",
        "x-ms-file-last-write-time": "2024-06-07T01:03:09.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-835c5eee-8321-fb87-404d-cb8f68fa8d10/test-file-9444251a-3b23-63ae-2bc2-5a7f4fce455a?sv=Sanitized&se=2024-06-08T01%3A03%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868D992B6816\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D992B6816\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5e855370-9ff6-8783-d2c3-1f2b6b2593ff?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-835c5eee-8321-fb87-404d-cb8f68fa8d10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:03:08.3158943-05:00",
    "RandomSeed": "1612222346",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
