{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b794d461-0441-9f51-2d2c-ac8bbedf2c73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680849AB1E3E\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e850710a-2ffa-cef0-c24d-ef0578be2d0e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680849B5C90A\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b794d461-0441-9f51-2d2c-ac8bbedf2c73/test-file-b52dcf4c-655b-dfe1-a412-85be3606199a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680849C0040A\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:18.6115594Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b794d461-0441-9f51-2d2c-ac8bbedf2c73/test-file-b52dcf4c-655b-dfe1-a412-85be3606199a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:17 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "FAdRB1WuePuudefZS2MmUrMjf93qw0UK+USDoaBWYBh+b1zOYoORz8tr99Cz/ageIQbLgjjLHlDCRw0RK9ZbVxTPWtsGV/Avka8Rf8x1VvucZICait7fs1EMDBt2gKP1EJ+85KPMF8kVm/CIuZ6ETPASdMZVwMw276eK+kvVuREMHG8suHJY0Ey3hO7tV/qyh78qYwvdoE/ThvX7QR19QOLefJ0vWJR9uqR5nTzeSJet2HKMqlYFLnsgWTJ9XI4vOUQMDttcgy8rralnYwIT9D1dTmmq8ZWL2U0hD/5hAF0VSmT30Tm8UFVCYP2snst5DWT0Hw0khEeugDWNO3MwyaxLURmdGyMEoP4UZ5CY3zqCpwGabOBP8MUcSFADLxThEpdQYEyx3PFA8H4PEBy2FaH6C5Rxllz[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b794d461-0441-9f51-2d2c-ac8bbedf2c73/test-file-b52dcf4c-655b-dfe1-a412-85be3606199a?sv=2024-05-04&se=2024-04-30T04%3A53%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC680849C99F89\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:18.6115594Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e850710a-2ffa-cef0-c24d-ef0578be2d0e/test-file-aa674173-2d35-333f-bc1f-a1a6ea746e85?sv=2024-05-04&se=2024-04-30T04%3A53%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e850710a-2ffa-cef0-c24d-ef0578be2d0e/test-file-aa674173-2d35-333f-bc1f-a1a6ea746e85?sv=2024-05-04&se=2024-04-30T04%3A53%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:53:18.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:53:18.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680849EFA712\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:53:18.9237522Z",
        "x-ms-file-creation-time": "2024-04-29T04:53:18.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:53:18.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e850710a-2ffa-cef0-c24d-ef0578be2d0e/test-file-aa674173-2d35-333f-bc1f-a1a6ea746e85?sv=2024-05-04&se=2024-04-30T04%3A53%3A17Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b794d461-0441-9f51-2d2c-ac8bbedf2c73/test-file-b52dcf4c-655b-dfe1-a412-85be3606199a?sv=2024-05-04&se=2024-04-30T04%3A53%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680849FA7AED\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-content-crc64": "MSY/02jjud8=",
        "x-ms-file-last-write-time": "2024-04-29T04:53:18.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b794d461-0441-9f51-2d2c-ac8bbedf2c73/test-file-b52dcf4c-655b-dfe1-a412-85be3606199a?sv=2024-05-04&se=2024-04-30T04%3A53%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC680849C99F89\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC680849C99F89\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e850710a-2ffa-cef0-c24d-ef0578be2d0e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b794d461-0441-9f51-2d2c-ac8bbedf2c73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:53:17.4875613-07:00",
    "RandomSeed": "2139247937",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
