{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-632c49d0-c0dc-48fc-3f72-14c6a07bd689?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD7990B91F\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9c54c223-1671-464f-029e-8350a00b5305?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD799A5C9E\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-632c49d0-c0dc-48fc-3f72-14c6a07bd689/test-file-81f83b1a-c62e-7672-7004-c371bd29fcd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD79B9D390\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:29:01.1173264Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-632c49d0-c0dc-48fc-3f72-14c6a07bd689/test-file-81f83b1a-c62e-7672-7004-c371bd29fcd1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EYKHV5IIX6R3AFdvDVLmQtEdqwR9/YpqYqrZqiLSjcHiHyRgxczSlAKkyUHDAFS3182cWcCjYRT4HPXnL7SCpHKWje4thX0EShYC2DNIpmFWItNVNjMBPr0QaKjX62RNIiTOLXNliVJQmA6poYngr3WUkQ3hLW4/lE4wHRzULF+xtLYOeXnu8JiBBJ0lWJ00MLkyQ1pXa/W2j5gkNGw1e2uu9+zS0TX8paB0YCjQGTyx/O1ioekFWknBWOrgybwsS4kxdmCxYV6ENp264wrM5XZccjh+0tmCqZ2jEXhLG9zkRxWfnqPbAJqO3mpMS3Y+9HJ0hFaDrXivr8zDDlDmOBvB1Zv1LUbSgXKd8PNvNl4mZB0F15eFYJmc7+/WGPJKqKZPi3XbSMYsoQLk5r2EQHlunKkz4GG[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-632c49d0-c0dc-48fc-3f72-14c6a07bd689/test-file-81f83b1a-c62e-7672-7004-c371bd29fcd1?sv=Sanitized&se=2025-01-31T01%3A29%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CD79C1C19A\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:29:01.1173264Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9c54c223-1671-464f-029e-8350a00b5305/test-file-72bfde26-c38e-b7de-4bb2-f1ac9085050b?sv=Sanitized&se=2025-01-31T01%3A29%3A01Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9c54c223-1671-464f-029e-8350a00b5305/test-file-72bfde26-c38e-b7de-4bb2-f1ac9085050b?sv=Sanitized&se=2025-01-31T01%3A29%3A01Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "text/plain",
        "x-ms-file-creation-time": "2025-01-30T01:29:01.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD79D7FBBE\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-30T01:29:01.3149630Z",
        "x-ms-file-creation-time": "2025-01-30T01:29:01.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:29:01.3149630Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9c54c223-1671-464f-029e-8350a00b5305/test-file-72bfde26-c38e-b7de-4bb2-f1ac9085050b?sv=Sanitized&se=2025-01-31T01%3A29%3A01Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-632c49d0-c0dc-48fc-3f72-14c6a07bd689/test-file-81f83b1a-c62e-7672-7004-c371bd29fcd1?sv=sanitized-value&se=2025-01-31T01%3A29%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD79E344BB\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-content-crc64": "i+UIhjmO9is=",
        "x-ms-file-last-write-time": "2025-01-30T01:29:01.3149630Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9c54c223-1671-464f-029e-8350a00b5305/test-file-72bfde26-c38e-b7de-4bb2-f1ac9085050b?sv=Sanitized&se=2025-01-31T01%3A29%3A01Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "text/plain",
        "x-ms-file-creation-time": "2025-01-30T01:29:01.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD79E9FA82\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-30T01:29:01.4328962Z",
        "x-ms-file-creation-time": "2025-01-30T01:29:01.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:29:01.3149630Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-632c49d0-c0dc-48fc-3f72-14c6a07bd689/test-file-81f83b1a-c62e-7672-7004-c371bd29fcd1?sv=Sanitized&se=2025-01-31T01%3A29%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CD79C1C19A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CD79C1C19A\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9c54c223-1671-464f-029e-8350a00b5305?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-632c49d0-c0dc-48fc-3f72-14c6a07bd689?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:29:01.1896020-08:00",
    "RandomSeed": "995000707",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
