{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483e814f-c310-8199-ddb3-d4a8103a3220?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30D9E98F2\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7f5afcf6-4ef0-3e46-ac07-ab6c61ffce47?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30DAC82D8\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483e814f-c310-8199-ddb3-d4a8103a3220/test-file-48cc3c7c-6e3a-0cd8-a6d0-003bea3cb284",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30DBCAD13\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:14.6023965Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483e814f-c310-8199-ddb3-d4a8103a3220/test-file-48cc3c7c-6e3a-0cd8-a6d0-003bea3cb284?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "hpfTbqhoonR\u002ByJbyqKKP8o5yghv/vcD8sX7MKFO4nmOVbziD5x79sEGys/sgwstnZKg2IYbkkMjW1r0qnHohxikyXDhpDAtvdNHZTQnE3O\u002ByZMSqgn3dsd5wrBFg0xPHke3R7WWS/Vedxqy0C0O\u002BEvrOdze2dkOsVata\u002BV/6DqG9Ersc8u6JH2dsDLzRKaabsZoWklzcEBqqJZi5OAT4o7cK9viIoh8MRFfQSmmH2ywFvkfF43xF4QGgcs1V0Odjc2kExjKtEg96CU4EC8awIkpss3m8M787xRX35y9StnNwbdYAghT5WKw4StktQNU670\u002BC6RxtpkCpyAAdtSvfJ1PalJ7wsJ81clvNhOjmDoU/vPfgz8xXAsaVV7oT3KKAWCKGUq[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483e814f-c310-8199-ddb3-d4a8103a3220/test-file-48cc3c7c-6e3a-0cd8-a6d0-003bea3cb284?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D30DCA8DBE\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:14.6023965Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7f5afcf6-4ef0-3e46-ac07-ab6c61ffce47/test-file-b3922583-185d-8b0c-f05f-ebba4f925882?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A14Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30DE821BA\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:37:14.8861882Z",
        "x-ms-file-creation-time": "2023-11-16T18:37:14.8861882Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:37:14.8861882Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7f5afcf6-4ef0-3e46-ac07-ab6c61ffce47/test-file-b3922583-185d-8b0c-f05f-ebba4f925882?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A14Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-483e814f-c310-8199-ddb3-d4a8103a3220/test-file-48cc3c7c-6e3a-0cd8-a6d0-003bea3cb284?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30DF7AFD1\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-content-crc64": "pNu/ghHgJG8=",
        "x-ms-file-last-write-time": "2023-11-16T18:37:14.9881297Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483e814f-c310-8199-ddb3-d4a8103a3220/test-file-48cc3c7c-6e3a-0cd8-a6d0-003bea3cb284?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D30DCA8DBE\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D30DCA8DBE\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:37:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7f5afcf6-4ef0-3e46-ac07-ab6c61ffce47?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483e814f-c310-8199-ddb3-d4a8103a3220?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:37:14.6183382-08:00",
    "RandomSeed": "1869843209",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
