{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a9df5ba-1631-7288-38c2-ffbbdbf30350?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7026595EDAC\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5b13a468-a37d-6a2a-862b-7f76118fae39?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70265A18C18\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a9df5ba-1631-7288-38c2-ffbbdbf30350/test-file-dd249b4f-925f-8630-3fdc-3c10769eee8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70265B0F0C3\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T17:00:10.3680195Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a9df5ba-1631-7288-38c2-ffbbdbf30350/test-file-dd249b4f-925f-8630-3fdc-3c10769eee8f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Gm5Pu38Bul4DgRBRiO5ckmS+gvYXfqPoDu6gbZ00UgY/z6xEh0YF99pu4FgOXtQVwNDiCAhpcJvLZqyRYUzBzi4KEblBFwsduIobqZ5L2rAZi6zMUkr91l4QeSCadJaNrBEqA0wb06jExE9+Tcb9f4z7eNWf9HzjDDtaMZ7qgkTzjf2NIdZj/rgECI36f4iYE/mUnvvB7beVRvcQwKIJ2UILir/Ib161mHocm+zu6Y2zwR2lVuRIMZ9F+NrfUj0W+i5L7vTIz6Oa3gaBpVLKpl1pXf6EZINdw1kfg3eD1kU8BaG+o/qZ6/J5CnfexoxNelF9dfU/kpWq7SqbqEwrFwjBRZ+xDANi0HIMCloLf/3N0ggmBWFP/XMLE7XP/kKlTvNvHYHsnG5OG6SDMoc7n24tzdVEBRGmcUcrpvhNktIvZrxnm2J84Daa2Oq8zMrs0HRGojBsYUnhyKs5wPZ1AInSU8vL0wMMse2fqS0n6qR8P9WEB++iwgVzhdK2Qh9AJddh6nn+IfxwOvFCzbccut4GvIEg8PiZL5DGWE4wVW7NX4RVxQArfh7ZE83+X/VNV8r0r4WeIDTex7rpOMmtP+SDdG4zxvTd2z5jRt0rms+aeQGDPKboLz5Pdv5FQkVVK9Ppe+qHGpDVFtRHOtlXsy3rTr7HKQM+mkQv41D2mJg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70265BD4B02\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Lpj4SO9wG04=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a9df5ba-1631-7288-38c2-ffbbdbf30350/test-file-dd249b4f-925f-8630-3fdc-3c10769eee8f?sv=Sanitized&se=2024-08-08T17%3A00%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB70265BD4B02\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T17:00:10.3680195Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5b13a468-a37d-6a2a-862b-7f76118fae39/test-file-0f77b764-8ffd-3f4d-1acd-a21d45a47e04?sv=Sanitized&se=2024-08-08T17%3A00%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5b13a468-a37d-6a2a-862b-7f76118fae39/test-file-0f77b764-8ffd-3f4d-1acd-a21d45a47e04?sv=Sanitized&se=2024-08-08T17%3A00%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T17:00:10.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70265E86FCD\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T17:00:10.7317197Z",
        "x-ms-file-creation-time": "2024-08-07T17:00:10.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T17:00:10.7317197Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5b13a468-a37d-6a2a-862b-7f76118fae39/test-file-0f77b764-8ffd-3f4d-1acd-a21d45a47e04?sv=Sanitized&se=2024-08-08T17%3A00%3A09Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1a9df5ba-1631-7288-38c2-ffbbdbf30350/test-file-dd249b4f-925f-8630-3fdc-3c10769eee8f?sv=sanitized-value&se=2024-08-08T17%3A00%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70265FA2084\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-content-crc64": "Lpj4SO9wG04=",
        "x-ms-file-last-write-time": "2024-08-07T17:00:10.7317197Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a9df5ba-1631-7288-38c2-ffbbdbf30350/test-file-dd249b4f-925f-8630-3fdc-3c10769eee8f?sv=Sanitized&se=2024-08-08T17%3A00%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB70265BD4B02\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB70265BD4B02\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T17:00:10.3680195Z"
      },
      "ResponseBody": "Gm5Pu38Bul4DgRBRiO5ckmS+gvYXfqPoDu6gbZ00UgY/z6xEh0YF99pu4FgOXtQVwNDiCAhpcJvLZqyRYUzBzi4KEblBFwsduIobqZ5L2rAZi6zMUkr91l4QeSCadJaNrBEqA0wb06jExE9+Tcb9f4z7eNWf9HzjDDtaMZ7qgkTzjf2NIdZj/rgECI36f4iYE/mUnvvB7beVRvcQwKIJ2UILir/Ib161mHocm+zu6Y2zwR2lVuRIMZ9F+NrfUj0W+i5L7vTIz6Oa3gaBpVLKpl1pXf6EZINdw1kfg3eD1kU8BaG+o/qZ6/J5CnfexoxNelF9dfU/kpWq7SqbqEwrFwjBRZ+xDANi0HIMCloLf/3N0ggmBWFP/XMLE7XP/kKlTvNvHYHsnG5OG6SDMoc7n24tzdVEBRGmcUcrpvhNktIvZrxnm2J84Daa2Oq8zMrs0HRGojBsYUnhyKs5wPZ1AInSU8vL0wMMse2fqS0n6qR8P9WEB++iwgVzhdK2Qh9AJddh6nn+IfxwOvFCzbccut4GvIEg8PiZL5DGWE4wVW7NX4RVxQArfh7ZE83+X/VNV8r0r4WeIDTex7rpOMmtP+SDdG4zxvTd2z5jRt0rms+aeQGDPKboLz5Pdv5FQkVVK9Ppe+qHGpDVFtRHOtlXsy3rTr7HKQM+mkQv41D2mJg="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5b13a468-a37d-6a2a-862b-7f76118fae39?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a9df5ba-1631-7288-38c2-ffbbdbf30350?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:00:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T10:00:09.4332310-07:00",
    "RandomSeed": "1986494293",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
