{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4408f128-5012-5293-f01f-42ab9bccb47b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30B01B9B9\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d7dfebb5-ff79-5565-f49b-0a50b8f41efa?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30B1103A8\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4408f128-5012-5293-f01f-42ab9bccb47b/test-file-ea7a21c0-b2d6-ffda-4b04-5806c2169e65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30B1F807F\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:10.2158975Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4408f128-5012-5293-f01f-42ab9bccb47b/test-file-ea7a21c0-b2d6-ffda-4b04-5806c2169e65?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "cIUzjE3atMis9CkUfw0WRC8rGtVgQpmFBDImQJBOj8JR1oSyWObSIyQnNOSayY803Vzo3ONs3S7srogbtHQ4XWRnwqiJZOtJWPaxOQ616jui8WM0ZrPe5fhVxqpet2\u002Bv79aAMwbmq3lwn4PtuqQgNsNMeMMQBPewiN2wM51B6qCHAUk3Nbc0vEXpw8cv8StUNY/mET\u002Bsn\u002Bvfz6opNnjbL7TjZrhb6AELF7t9J0AwgZayW/0NWtlg2mJeV2YMC4XMDZQTTIty\u002BUyO2vmDLniqr04Ud9p6ztTagotV/JGb/ww1sBmsHTQLP2Kwfn/f3azqtKgX\u002BJSrUT\u002B/OMr/HPy789vtTX1e/ZEZCDd3yU9U\u002B6Xea0jogwZ4il7Z7OVq[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4408f128-5012-5293-f01f-42ab9bccb47b/test-file-ea7a21c0-b2d6-ffda-4b04-5806c2169e65?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A10Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D30B2C4FE3\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:10.2158975Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d7dfebb5-ff79-5565-f49b-0a50b8f41efa/test-file-2a0e36c7-d70a-9ee4-9473-63eaad60bf6f?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A10Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d7dfebb5-ff79-5565-f49b-0a50b8f41efa/test-file-2a0e36c7-d70a-9ee4-9473-63eaad60bf6f?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A10Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30B5617F9\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:37:10.5736697Z",
        "x-ms-file-creation-time": "2023-11-16T18:37:10.5736697Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:37:10.5736697Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d7dfebb5-ff79-5565-f49b-0a50b8f41efa/test-file-2a0e36c7-d70a-9ee4-9473-63eaad60bf6f?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A10Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-4408f128-5012-5293-f01f-42ab9bccb47b/test-file-ea7a21c0-b2d6-ffda-4b04-5806c2169e65?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A10Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30B65F42A\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-content-crc64": "AOjfv\u002BDIdtg=",
        "x-ms-file-last-write-time": "2023-11-16T18:37:10.6776106Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4408f128-5012-5293-f01f-42ab9bccb47b/test-file-ea7a21c0-b2d6-ffda-4b04-5806c2169e65?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A10Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D30B2C4FE3\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D30B2C4FE3\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:37:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d7dfebb5-ff79-5565-f49b-0a50b8f41efa?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4408f128-5012-5293-f01f-42ab9bccb47b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:37:10.2269695-08:00",
    "RandomSeed": "1966758913",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
