{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03b36a70-a968-b49e-5ca9-99e43f1fcd61?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7025CD81358\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-faf905b5-aa6a-d080-032e-b77cde2ced9a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7025CE45BA1\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03b36a70-a968-b49e-5ca9-99e43f1fcd61/test-file-929159b1-ee8c-592a-7e31-82f69a102324",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7025CEFA544\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:55.6794692Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03b36a70-a968-b49e-5ca9-99e43f1fcd61/test-file-929159b1-ee8c-592a-7e31-82f69a102324?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "O4ywLAFie/O0gqTwsabCY9sifZBqqMgZandDpkW1iGE4aVxxOLqhaUCamfU8ihjlwvTZ3gwpQJPEl8GJHtSt//pCuEhJUCshgRNP0A7S3OBeXeNR3KpUDijIraH4F0ts7Jr6+tHQnHLJt1z42XCF8bvhK8HwXCJP7qkfgaKKKGrI4uN01+IOjsFxiCRNWzW4Q7zlFuyJfJB3qwsosBrPPo/yL/aMEBnZ05z/ftP9AZJ0Zz7mpBF9PmZT/CzW5d2nokmVWyw+KzKjDENPiv28eql5s0nc6Zp+dPCQORPsAu2+V9yKaKZmNjsLQpfOLbRoloKDXTGUyriuFuY7rfEftglVkDIhMhECEn0N0aYDsEc8J6OQaaW8Ko0j21HAK4hK64yNeJ2BR2NxgEq0hvkRq2af/oZOjkxkmWal/VbAQuf0w+UadTepu98/H+laB6STETDqICwC+10/Kd8320kNsD1jv8MU9zYu9UOmDm9iCZHBEusm1SG68seI2kxYcuCVMm6s90fgfxn6vCvpW+3t3B9Ndcld5tsbqM37ix3p1oJiENsAthJJ4JLSLBn20Zbamv0sCv0XN0uSkE565fP8EOWohkoR7CYNBJQ2i7rCJNc2IfEgvcyES9mQbSXDzvuf1RwzTUpMyK3XHgZp4KuR0Gx2RMMC3FIZJDpxgX4ASjU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7025CFA791F\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "I4wIhoo6zXc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03b36a70-a968-b49e-5ca9-99e43f1fcd61/test-file-929159b1-ee8c-592a-7e31-82f69a102324?sv=Sanitized&se=2024-08-08T16%3A59%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7025CFA791F\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:55.6794692Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-faf905b5-aa6a-d080-032e-b77cde2ced9a/test-file-1837da53-2c70-3fd1-0387-b162edda0967?sv=Sanitized&se=2024-08-08T16%3A59%3A54Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-faf905b5-aa6a-d080-032e-b77cde2ced9a/test-file-1837da53-2c70-3fd1-0387-b162edda0967?sv=Sanitized&se=2024-08-08T16%3A59%3A54Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T16:59:55.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7025D2177E4\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T16:59:56.0059876Z",
        "x-ms-file-creation-time": "2024-08-07T16:59:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T16:59:56.0059876Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-faf905b5-aa6a-d080-032e-b77cde2ced9a/test-file-1837da53-2c70-3fd1-0387-b162edda0967?sv=Sanitized&se=2024-08-08T16%3A59%3A54Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-03b36a70-a968-b49e-5ca9-99e43f1fcd61/test-file-929159b1-ee8c-592a-7e31-82f69a102324?sv=sanitized-value&se=2024-08-08T16%3A59%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7025D2FCDBA\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:56 GMT",
        "x-ms-content-crc64": "I4wIhoo6zXc=",
        "x-ms-file-last-write-time": "2024-08-07T16:59:56.0059876Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03b36a70-a968-b49e-5ca9-99e43f1fcd61/test-file-929159b1-ee8c-592a-7e31-82f69a102324?sv=Sanitized&se=2024-08-08T16%3A59%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7025CFA791F\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7025CFA791F\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:55.6794692Z"
      },
      "ResponseBody": "O4ywLAFie/O0gqTwsabCY9sifZBqqMgZandDpkW1iGE4aVxxOLqhaUCamfU8ihjlwvTZ3gwpQJPEl8GJHtSt//pCuEhJUCshgRNP0A7S3OBeXeNR3KpUDijIraH4F0ts7Jr6+tHQnHLJt1z42XCF8bvhK8HwXCJP7qkfgaKKKGrI4uN01+IOjsFxiCRNWzW4Q7zlFuyJfJB3qwsosBrPPo/yL/aMEBnZ05z/ftP9AZJ0Zz7mpBF9PmZT/CzW5d2nokmVWyw+KzKjDENPiv28eql5s0nc6Zp+dPCQORPsAu2+V9yKaKZmNjsLQpfOLbRoloKDXTGUyriuFuY7rfEftglVkDIhMhECEn0N0aYDsEc8J6OQaaW8Ko0j21HAK4hK64yNeJ2BR2NxgEq0hvkRq2af/oZOjkxkmWal/VbAQuf0w+UadTepu98/H+laB6STETDqICwC+10/Kd8320kNsD1jv8MU9zYu9UOmDm9iCZHBEusm1SG68seI2kxYcuCVMm6s90fgfxn6vCvpW+3t3B9Ndcld5tsbqM37ix3p1oJiENsAthJJ4JLSLBn20Zbamv0sCv0XN0uSkE565fP8EOWohkoR7CYNBJQ2i7rCJNc2IfEgvcyES9mQbSXDzvuf1RwzTUpMyK3XHgZp4KuR0Gx2RMMC3FIZJDpxgX4ASjU="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-faf905b5-aa6a-d080-032e-b77cde2ced9a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03b36a70-a968-b49e-5ca9-99e43f1fcd61?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:55 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T09:59:54.7249911-07:00",
    "RandomSeed": "815164668",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
