{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-388e8df2-f14f-bed9-8a54-acf82660ce57?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79281EAE819\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:43 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-32fbe315-3a50-1d20-3533-6c12e1c0838e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792820D8FA1\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:43 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-388e8df2-f14f-bed9-8a54-acf82660ce57/test-file-dd9af9b5-8b04-34ae-1079-6a0414e8d1da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79282330D06\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:27:43.8692368Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-388e8df2-f14f-bed9-8a54-acf82660ce57/test-file-dd9af9b5-8b04-34ae-1079-6a0414e8d1da?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "xtvXr69xOqRiGsYC5L7y7BFKIR97y1TlEVZYqxLqji3V4XSntJl59QJ3dEQwHJXXcg4V7iH37fqG8p1YGY6Sd4uZLQJKSjh40SscBFcQtPTBgTkD1KAL3fN5IcL7INxz5fy4l\u002B\u002BSjSfWnRz22\u002Bmjdj2ol5hVjqPrjVAP0Cl2fLBOqR9aVx0FLvMRLTeDFQIK1qqEUolEHVZZzAqeg7z9YCBspzHJSB4fo2ikQ2BsaHdNBPp/8SknCovIAYoTZqs3FMwWFm3QQI2LZK8goNn27GSSUH7Cfm72RZ2mAUaUDDy9bC\u002BUVVEJfcRs84x6Bmqx0hQmgRUsdJVeH9HQKT9G91hzYjOqYpcTiNO6VorifD4z9C8xboomkfiaNjV/OVOFJfw0BqQ2B3B[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-388e8df2-f14f-bed9-8a54-acf82660ce57/test-file-dd9af9b5-8b04-34ae-1079-6a0414e8d1da?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79282611B2E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:27:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:27:43.8692368Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-32fbe315-3a50-1d20-3533-6c12e1c0838e/test-file-8de05132-2bbc-a18e-9b9b-f8d428837920?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-32fbe315-3a50-1d20-3533-6c12e1c0838e/test-file-8de05132-2bbc-a18e-9b9b-f8d428837920?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79282E07CBB\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:27:45.0048699Z",
        "x-ms-file-creation-time": "2023-11-17T17:27:45.0048699Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:27:45.0048699Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-32fbe315-3a50-1d20-3533-6c12e1c0838e/test-file-8de05132-2bbc-a18e-9b9b-f8d428837920?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-388e8df2-f14f-bed9-8a54-acf82660ce57/test-file-dd9af9b5-8b04-34ae-1079-6a0414e8d1da?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792830BCC33\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:45 GMT",
        "x-ms-content-crc64": "qpjEdu95SUs=",
        "x-ms-file-last-write-time": "2023-11-17T17:27:45.2887091Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-388e8df2-f14f-bed9-8a54-acf82660ce57/test-file-dd9af9b5-8b04-34ae-1079-6a0414e8d1da?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE79282611B2E\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79282611B2E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:27:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-32fbe315-3a50-1d20-3533-6c12e1c0838e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-388e8df2-f14f-bed9-8a54-acf82660ce57?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:44 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:27:42.6914618-08:00",
    "RandomSeed": "1439874292",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
