{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-701eb873-f79c-f43c-abd1-2fbb9b938863?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC870C034F8\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-522c3b43-506e-f889-262c-d9ad257302e3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC870C84A37\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-701eb873-f79c-f43c-abd1-2fbb9b938863/test-file-242e3a1d-b296-5f7b-183e-30b988e09b59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC870D40F2D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:45.6850221Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-701eb873-f79c-f43c-abd1-2fbb9b938863/test-file-242e3a1d-b296-5f7b-183e-30b988e09b59?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "nocHabm+PFHW28g0RtKKURsbNpBhQgAJ8gewelMX3qcvHcI2abruTMJKViqsJAaCxplz0sNn5FuG/naxDcL+vvwgBSkQU+hhLOrNF+vWXc4BLbS5owvkxzhmsGpDPT4AS5ctix7dcnKwEqXYms1wr6CnsN8NRBvxPD3wqqN9He+rzMtTqdGwJLtBCZBmCy1r9QDJm4xe8wZ8PE/g7MjPM/W1Lc4BHQbP94skzDuKizAQhLSjs4FjTNnF1m2CzzfzctWbsN5eatj5+qQAOifL8rAez2gTK390UuD1PEaZTChUMFll7tpRshrcqbjdYhKy+uO8Y//P30ZVJl3+aS6RYK57rArNZQTWzB1ON4LHl/DOQ0Jj3OkphVASEMd8U0jsS0kKYbYH5JTf5pbhgKjEjo9tMCbrLoPFUia5ulU8WXnVYew5vDU5xl6tg/ZSRwSoToE4DiMiAB3FRQ+PTio/oowdDB+8i9JZNGnIPqqMcgohEWvTBEpVs2HOc3YmqXc0beBqNDvl68Ov3tq5WsFzONIEbT2+bJ5Bx1i97RdbMoryk9DJIj3OPCWoJCZwnFmfWzqkIjw5dQFCKW3jJ/2rVKtQxsbxqRaVNjEYFkd40Cr/HZHctxBOuB7PhvnQ6xQn/M96INWSrrEjDusKIV+5ylhC4wpsz52aAQ2nISMdxEo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC870DCE789\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "0hORhH7wF1s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-701eb873-f79c-f43c-abd1-2fbb9b938863/test-file-242e3a1d-b296-5f7b-183e-30b988e09b59?sv=Sanitized&se=2024-07-03T18%3A54%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC870DCE789\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:45.6850221Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-522c3b43-506e-f889-262c-d9ad257302e3/test-file-22bcc91c-4bed-ab49-ba75-860b660f8863?sv=Sanitized&se=2024-07-03T18%3A54%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-522c3b43-506e-f889-262c-d9ad257302e3/test-file-22bcc91c-4bed-ab49-ba75-860b660f8863?sv=Sanitized&se=2024-07-03T18%3A54%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:54:45.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:54:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC870FACBEE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:54:45.9388910Z",
        "x-ms-file-creation-time": "2024-07-02T18:54:45.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:54:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-522c3b43-506e-f889-262c-d9ad257302e3/test-file-22bcc91c-4bed-ab49-ba75-860b660f8863?sv=Sanitized&se=2024-07-03T18%3A54%3A46Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-701eb873-f79c-f43c-abd1-2fbb9b938863/test-file-242e3a1d-b296-5f7b-183e-30b988e09b59?sv=Sanitized&se=2024-07-03T18%3A54%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC87107E972\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:46 GMT",
        "x-ms-content-crc64": "0hORhH7wF1s=",
        "x-ms-file-last-write-time": "2024-07-02T18:54:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-701eb873-f79c-f43c-abd1-2fbb9b938863/test-file-242e3a1d-b296-5f7b-183e-30b988e09b59?sv=Sanitized&se=2024-07-03T18%3A54%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC870DCE789\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC870DCE789\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:45.6850221Z"
      },
      "ResponseBody": "nocHabm+PFHW28g0RtKKURsbNpBhQgAJ8gewelMX3qcvHcI2abruTMJKViqsJAaCxplz0sNn5FuG/naxDcL+vvwgBSkQU+hhLOrNF+vWXc4BLbS5owvkxzhmsGpDPT4AS5ctix7dcnKwEqXYms1wr6CnsN8NRBvxPD3wqqN9He+rzMtTqdGwJLtBCZBmCy1r9QDJm4xe8wZ8PE/g7MjPM/W1Lc4BHQbP94skzDuKizAQhLSjs4FjTNnF1m2CzzfzctWbsN5eatj5+qQAOifL8rAez2gTK390UuD1PEaZTChUMFll7tpRshrcqbjdYhKy+uO8Y//P30ZVJl3+aS6RYK57rArNZQTWzB1ON4LHl/DOQ0Jj3OkphVASEMd8U0jsS0kKYbYH5JTf5pbhgKjEjo9tMCbrLoPFUia5ulU8WXnVYew5vDU5xl6tg/ZSRwSoToE4DiMiAB3FRQ+PTio/oowdDB+8i9JZNGnIPqqMcgohEWvTBEpVs2HOc3YmqXc0beBqNDvl68Ov3tq5WsFzONIEbT2+bJ5Bx1i97RdbMoryk9DJIj3OPCWoJCZwnFmfWzqkIjw5dQFCKW3jJ/2rVKtQxsbxqRaVNjEYFkd40Cr/HZHctxBOuB7PhvnQ6xQn/M96INWSrrEjDusKIV+5ylhC4wpsz52aAQ2nISMdxEo="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-522c3b43-506e-f889-262c-d9ad257302e3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-701eb873-f79c-f43c-abd1-2fbb9b938863?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:54:46.6516649-07:00",
    "RandomSeed": "294212553",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
