{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc8251c8-8d13-4f4a-818a-9d602427f44c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4421B3FF8\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5ceeb87b-ffdb-4956-2903-f840969c5ee1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4422628B0\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc8251c8-8d13-4f4a-818a-9d602427f44c/test-file-72512c6a-6f29-c5a0-26ac-ab4faacfd7ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4423135E6\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:49.4556646Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc8251c8-8d13-4f4a-818a-9d602427f44c/test-file-72512c6a-6f29-c5a0-26ac-ab4faacfd7ca?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KSBCYWI25kNycv+epO5V8TjL6cV7FU+0NqqRnvqN+0i3Vs3TB1hv+lkUggadBjfFiZMYJAKJOBPQjSu4pEdJ5Xe35k0ggurfXO5sZpNJFy9yzBVndNZGLR25Anktt1URy52P5R/qpAepOMgTHNGAh3b7Rdgy4XCgcbgwZ39wsqWZWpv1uTEQiCgOvTsOMxFLOHsCMXF93+kt73Rnuj2HOIYjecI2is1F672vIyQ0kj6n5C4DbYAzG3qxyMq8qc7rhoS167lOFa6tvUa0zbvF+Fw2v9UOg8oF715HhcICiULuxJ2ff6aEWM+AVbA6f02+689then43AK6r/tbB4/rqzQDxQkeJnm1sWYGji0ZynAQiJrylQNY9eea5c+rKVE/lKp8N7lEn8VWt9SD8k3VoOWLSn71+RU[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc8251c8-8d13-4f4a-818a-9d602427f44c/test-file-72512c6a-6f29-c5a0-26ac-ab4faacfd7ca?sv=Sanitized&se=2024-07-03T18%3A24%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC4423AD16D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:49.4556646Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5ceeb87b-ffdb-4956-2903-f840969c5ee1/test-file-97b8d4f6-2668-c12f-3b8c-eace9fdbe6cf?sv=Sanitized&se=2024-07-03T18%3A24%3A50Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5ceeb87b-ffdb-4956-2903-f840969c5ee1/test-file-97b8d4f6-2668-c12f-3b8c-eace9fdbe6cf?sv=Sanitized&se=2024-07-03T18%3A24%3A50Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:24:49.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4425E3C08\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:24:49.7507336Z",
        "x-ms-file-creation-time": "2024-07-02T18:24:49.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:24:49.7507336Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5ceeb87b-ffdb-4956-2903-f840969c5ee1/test-file-97b8d4f6-2668-c12f-3b8c-eace9fdbe6cf?sv=Sanitized&se=2024-07-03T18%3A24%3A50Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bc8251c8-8d13-4f4a-818a-9d602427f44c/test-file-72512c6a-6f29-c5a0-26ac-ab4faacfd7ca?sv=Sanitized&se=2024-07-03T18%3A24%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4426ABD69\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-content-crc64": "Yi+8apU5g2Q=",
        "x-ms-file-last-write-time": "2024-07-02T18:24:49.7507336Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc8251c8-8d13-4f4a-818a-9d602427f44c/test-file-72512c6a-6f29-c5a0-26ac-ab4faacfd7ca?sv=Sanitized&se=2024-07-03T18%3A24%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC4423AD16D\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC4423AD16D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:24:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5ceeb87b-ffdb-4956-2903-f840969c5ee1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc8251c8-8d13-4f4a-818a-9d602427f44c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:24:50.2963324-07:00",
    "RandomSeed": "404666076",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
