{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bf42ffd1-bfbb-3b3f-e834-eb978427ba5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:23 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB729445944BC\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7827d8f9-a921-1aa5-1bbb-b023d18d5e1e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:23 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB72944640A4D\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7827d8f9-a921-1aa5-1bbb-b023d18d5e1e/test-file-b1df6f2b-99d7-d28d-86fe-318e4d27f067",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7294470B2AA\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:38:24.9546410Z",
        "x-ms-file-creation-time": "2024-08-07T21:38:24.9546410Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:38:24.9546410Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7827d8f9-a921-1aa5-1bbb-b023d18d5e1e/test-file-b1df6f2b-99d7-d28d-86fe-318e4d27f067?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "XTMismU43rjjeRxYR+Inz99TCZpXDN9OXmriCffzuSy9vvXC7E23Fi9oyru9ZOpIL9JHTUxyYlBT01P6VdTA8L/vmontZeOSnPJq70Ikkfl/mtklrGvgS1ukbhj5vMFaqNn7zcphW8rutLFZB3MOLkFZe7v6mkRTD08tSfbKmd8xD0ZoKcQvHT4PNve6hkTolT/Wn0EFYA2Up717NBLTIxvSKPcspgV9Kl1862NNmYgKRbO29PmdLK8504IGtOksPBPc6F5Nu+86WXXkiHWpRw40cO9eHC8hNPxH89KDdnVzUK5QcLAqvYnEfJqDuaM6kIxz0UT6zR/jurRiBsgctuIAcDfGWNZdCrJlmp+UnnpYDGJGD6QxeYOPbLb8yLfBp8a4g0lsdDe1FseRlTOATxs5Cfll1qY9z/e0N+sgYUH7o/LZ3Bsx7Jcrkfndn+NPDh2awr69XNEferNStz1LlbWFlvFApnIACB1iOkWtYC8TZCjNhZ6DPUYhumFn3zRZ3/tDWAjyD2iqmrqhWyKLcRqEPlIVfg8XAlmqH+wRmSjoCFpJaggnIVW/I+vk4eEklUlH46DhRGHsLFWvR+97mQCRuFPHQgYSXR39VVokMyB3homjybaIBsP5XT2yd9lmQ4nqUimNXVNCNYWC5O4GyPk1N8Bl2M9KCbGPzeXIX+VDlxHROeD36ig2YZQwBSLV85VEfUAZAGu5oEl3/o9uedWgPk3cNI4YPU2XL3c7GQOPutpPhOKkKpamF5iXgOyZyOi+j8bU+L4GK0DzgdDzfodF50O1HvTz+xS2NR32gbxh/mePfYk9usIbSViisanGs5kRUZio5KnzypSyHcKhD6qDkoJpZAH9CCyAmdScUUpq8IKD5C8kuBq9nLL1ipz/ejmtHh4nXE+YE0lrKErVVnlJRy0/HSp7XtpnrMhPB32QgB6a7jIrQ5Mz69HluI/P6EU4rEJvwF0PMcBEv7CGSQzM26csOmdGHQSZDDJZlqZKl8OCFls6IMDBi71y54PjrKHEGd3oo63d8Y8+1bMqtZsZ+ijsBDKwkbrnaq6q1DaBtl+QlH3JYfQVpCTM/EoNltYhWOxb9qhuFIciATj/Mh1YvB9TmSAeUJgz118O5JVw2dTYiXxJJr+3IoD1pmC7FnIHcz8ruf22AgdTJx9IYC/xsSdkJqmgD5ZfnHefKKk4eMDtBnFWRSDWIoZ09f6gbsFRBPQ5Vu/IZmOoyxyFFtldG65eW1q+m2wGjgQiLBqXvy21TiS1/yLQJJ8NrXoDUAutF9lQQRJnkmmIMsjqpjpJEQvv0Mi1qByMjTe6se7yAj35dRVAR30aTbu7LcxZ5X5lw5xuFIBC9269w7PbrQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2B1Im5HP837EyoVEI/UsrQ==",
        "ETag": "\"0x8DCB729447B8692\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:25 GMT",
        "x-ms-file-last-write-time": "2024-08-07T21:38:25.0256018Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bf42ffd1-bfbb-3b3f-e834-eb978427ba5c/test-file-b37f83bf-f215-1cbe-47e5-16865b00bb99",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:24 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB729448EE75B\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:38:25.1525979Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bf42ffd1-bfbb-3b3f-e834-eb978427ba5c/test-file-b37f83bf-f215-1cbe-47e5-16865b00bb99?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "EYa9/bPeqmNbtZnzfMgfFiK9rnqzPhNrf7bhbhr3Lj+DM/O2X269e1tQxlbXj/O8HEO+Od1coNJyUn79/TxIZIdab0jUaLe0/zIfY3i9lO/CJFHWOPRiJ5MhRAzwwH4fB2LOfR+r6LSLCjmqPTxatL2OOtnqcSyS90i1siOqwz+0AFsW7hfPFzydSy27uOpXxo9OYYWlNJU2PIXX9jWQ4Ub69jzhRMamviOcTSb+1z9dXeyUXGK5D8vF4LGR+CEGDGrmwMKtdYLJp6NiCOZuN2VGeZhJ/IXkQeZxG2QUFcYBlkC8FxZ9sOhpyrS+VgblVqhMSn6JvRDkAn/bPFoetZLcYXGmsiBPycmw4DHQJevgjMS7x8pIeNkw1xWXonS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bf42ffd1-bfbb-3b3f-e834-eb978427ba5c/test-file-b37f83bf-f215-1cbe-47e5-16865b00bb99?sv=Sanitized&se=2024-08-08T21%3A38%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB72944985BE2\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:38:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:38:25.1525979Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7827d8f9-a921-1aa5-1bbb-b023d18d5e1e/test-file-b1df6f2b-99d7-d28d-86fe-318e4d27f067?sv=Sanitized&se=2024-08-08T21%3A38%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB729447B8692\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:38:25.0256018Z",
        "x-ms-file-creation-time": "2024-08-07T21:38:24.9546410Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:38:25.0256018Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7827d8f9-a921-1aa5-1bbb-b023d18d5e1e/test-file-b1df6f2b-99d7-d28d-86fe-318e4d27f067?sv=Sanitized&se=2024-08-08T21%3A38%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB729447B8692\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:38:25.0256018Z",
        "x-ms-file-creation-time": "2024-08-07T21:38:24.9546410Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:38:25.0256018Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7827d8f9-a921-1aa5-1bbb-b023d18d5e1e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bf42ffd1-bfbb-3b3f-e834-eb978427ba5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:25 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T14:38:24.2697368-07:00",
    "RandomSeed": "552397908",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
