{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d7ebb2d-e18a-050f-18b0-9129796ac9d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7927F44956F\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:38 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-43696ca6-0ce6-04b1-7069-765acac8cb64?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7927F6A2483\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:39 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d7ebb2d-e18a-050f-18b0-9129796ac9d0/test-file-17327886-a231-3aa3-1f8d-0a33aac5b78b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7927F92376E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:27:39.4597504Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d7ebb2d-e18a-050f-18b0-9129796ac9d0/test-file-17327886-a231-3aa3-1f8d-0a33aac5b78b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "mt7IaCiS\u002B6R2bH2xG/AZ0lVxhAaOJCL3FLwjFMrP\u002BXgyH\u002BXrnpJhBTxvx95jyL6lfZLLBoGFO3a80FRrb\u002BbZpnMFf/sLLjPDD37JH1xDk0v9fZc4BPP3rONuL8099ZVWlSFqXknDmk9eCPYCuxwaeDwIbfFOoaF/DdIXnP9lhRnpc4o72TQCOuNI2fz99PHHVLaRNYijB/R/61B2q/1P\u002BYLcGUiS3p8HBTIOBselghnhT0dI1FCRRWyWu\u002B3ki4/m\u002BOB5INqpNXUXiS9VlQAs2mg3lVu1ByQyStTb/COxI3qjKA7mK2E/OBrSMEsgPK9raeGFrfYzMPC8RtUFzTlSZmW1sW3yRa4G911B49fZEg4kb5JBK3aDb/cdKuSLOWrgf8nla4pCeSMyfrWY8kwZ4jTH4V2mEDruMUJ11RvKer3yYGMN86aD4vZvD63A6nyrA0evxFgMOm\u002BO9jpIzaMIaAP4pZLoC\u002B\u002BORP9nNwGNLkbFytHTGrZk5ib0fv1rOxRSZqapyEXqwvdYIYBZpQJuAcj0ggLRNU1Nk79r9I3xIgjqFNBa5GUB2wfZevk2CkAjhX00d7gSgDFZXDSFfs1qZv53b5EyFB1j86f6\u002BLpUFoh/SG4PvatQ15OeAIcwfFw6bxP6vpuu8XFg0YQRF4h3BEWsBTZfW6lTJ5f\u002BkxOVMnc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7927FB9DDEB\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "BDwmSO/KYkk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d7ebb2d-e18a-050f-18b0-9129796ac9d0/test-file-17327886-a231-3aa3-1f8d-0a33aac5b78b?sv=2024-08-04\u0026se=2023-11-18T17%3A27%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7927FB9DDEB\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:27:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:27:39.4597504Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-43696ca6-0ce6-04b1-7069-765acac8cb64/test-file-b559fe4c-ff26-fb19-169d-51577e3389b4?sv=2024-08-04\u0026se=2023-11-18T17%3A27%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-43696ca6-0ce6-04b1-7069-765acac8cb64/test-file-b559fe4c-ff26-fb19-169d-51577e3389b4?sv=2024-08-04\u0026se=2023-11-18T17%3A27%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792804809A8\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:27:40.6503336Z",
        "x-ms-file-creation-time": "2023-11-17T17:27:40.6503336Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:27:40.6503336Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-43696ca6-0ce6-04b1-7069-765acac8cb64/test-file-b559fe4c-ff26-fb19-169d-51577e3389b4?sv=2024-08-04\u0026se=2023-11-18T17%3A27%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-7d7ebb2d-e18a-050f-18b0-9129796ac9d0/test-file-17327886-a231-3aa3-1f8d-0a33aac5b78b?sv=2024-08-04\u0026se=2023-11-18T17%3A27%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7928089C40E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:41 GMT",
        "x-ms-content-crc64": "BDwmSO/KYkk=",
        "x-ms-file-last-write-time": "2023-11-17T17:27:41.0810894Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d7ebb2d-e18a-050f-18b0-9129796ac9d0/test-file-17327886-a231-3aa3-1f8d-0a33aac5b78b?sv=2024-08-04\u0026se=2023-11-18T17%3A27%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE7927FB9DDEB\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7927FB9DDEB\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:27:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:27:39.4597504Z"
      },
      "ResponseBody": "mt7IaCiS\u002B6R2bH2xG/AZ0lVxhAaOJCL3FLwjFMrP\u002BXgyH\u002BXrnpJhBTxvx95jyL6lfZLLBoGFO3a80FRrb\u002BbZpnMFf/sLLjPDD37JH1xDk0v9fZc4BPP3rONuL8099ZVWlSFqXknDmk9eCPYCuxwaeDwIbfFOoaF/DdIXnP9lhRnpc4o72TQCOuNI2fz99PHHVLaRNYijB/R/61B2q/1P\u002BYLcGUiS3p8HBTIOBselghnhT0dI1FCRRWyWu\u002B3ki4/m\u002BOB5INqpNXUXiS9VlQAs2mg3lVu1ByQyStTb/COxI3qjKA7mK2E/OBrSMEsgPK9raeGFrfYzMPC8RtUFzTlSZmW1sW3yRa4G911B49fZEg4kb5JBK3aDb/cdKuSLOWrgf8nla4pCeSMyfrWY8kwZ4jTH4V2mEDruMUJ11RvKer3yYGMN86aD4vZvD63A6nyrA0evxFgMOm\u002BO9jpIzaMIaAP4pZLoC\u002B\u002BORP9nNwGNLkbFytHTGrZk5ib0fv1rOxRSZqapyEXqwvdYIYBZpQJuAcj0ggLRNU1Nk79r9I3xIgjqFNBa5GUB2wfZevk2CkAjhX00d7gSgDFZXDSFfs1qZv53b5EyFB1j86f6\u002BLpUFoh/SG4PvatQ15OeAIcwfFw6bxP6vpuu8XFg0YQRF4h3BEWsBTZfW6lTJ5f\u002BkxOVMnc="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-43696ca6-0ce6-04b1-7069-765acac8cb64?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d7ebb2d-e18a-050f-18b0-9129796ac9d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:27:38.1527363-08:00",
    "RandomSeed": "1282344737",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
