{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-44c79105-e424-48ee-d6bb-3867cf0dca52?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2254D2D6C1\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-55df17e4-63c8-fe0f-bdb8-92f092effa90?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2254E1D89B\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-55df17e4-63c8-fe0f-bdb8-92f092effa90/test-file-ddd66aa9-1552-cd55-68ab-bdcc478bf184",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2254F1DBBD\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:04:46.6336701Z",
        "x-ms-file-creation-time": "2024-05-01T21:04:46.6336701Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:04:46.6336701Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-55df17e4-63c8-fe0f-bdb8-92f092effa90/test-file-ddd66aa9-1552-cd55-68ab-bdcc478bf184?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "DaMnBRb5KbHZ7gXq91qfkZ44+Rz8HNOaZ1aq4IY7ZBBrVCd0WPFxF3jBC9Y7BHWBpOUDxKfyMPHPjZ6/T0grnYr1f6IyKjmtxuGkOxH9XmLhKTygOJ9peSM2pMtSssgvlW1LRoTSTnmsVv7FTfXf0i473iUMi2XqiwV//IZuWhMYdKWjsRjdDtvD8+KgoysuVtKcFtSjIwoIYLp/U1LyPvvqrNhPOyAVXc9KSJeDSejaUKW00UQ/dVGam1FeXruJ0LXmtvZT3huxh7gEWNpzhBbSpQOtPm23qjeHtZ/Pt/8UwXjhnJPxhnGJAkmLOhx3Jxc6i7m43JJILwu/yyl74s+58JdhkeiD4B6RIzwjK28aEI2IlStFW+XmmW2IMrpIDh960UqFFZUvtqubJrhWJAObpbub802jdJSye/h7+65jSBQcqVollPr3Wd6AqTQskHRp7Iz/rBrS1l2105mdtLv9ON6jOXupdRDAo5lvI8tgheuDEQ4hZJz6StL8cMFhWqUig3BWiFb4wHd8PgiBYrORVU2uGqKt29RBqe+prAVPX0n0TKBaCf2UilGWpSWUeOcfaxt0skACdKecFd5nTxNxLd6+jBYTN0tPGY9RFjaurTAHiUHq2qwJ8df4vvQeLTo9JHdG1ezRDDPPJJiwsV5w7WetX8XSh1IytZo+GnhXMOxUE/K+Z9hENn0NGrYTWUB5h9GMcc50a50lFCBRkvG6d/OsW55ssoWPaShIxGycHlxaxJOny78e36dUmVO48qOLUqPCZ/2iDdVM/AilLKcwiPbD985eE6w0jXz2Fxgy13aEvHHJ2rZft7a9W863eLMAJBBc9PrVLT/3jdmBq/a9GSWRIG82Zq5AZD8XobfdfRXI9vIH1eN8r48x0kzc3QzAAEGpJVdDyb1iHI+6voyHGhDEuLUEtURCFXHgBJRhY4YzVqB2M1e9hSw0pLlTwfECqrg7GCVWvEr9ZxDmYsUpAbgIhmfrEea5BjOIzxCK7lOA3VrcJUth3JpVecxG1yJnC6MBSjqKF5jRghHyzu05cni9ZYVrTdttp6rMlZgacy8QIcNtiaQZ9sbBCqM5bg6tHAZTiXKd+77Ik6OQvYEAtw7i4qwpzOnUo2++qUI4MzibH3mRxuq8ciUFpfUBiDhEwFKUVoxihE8df+UC3lJ7kF9q9J4Ib/AkJW+GIyfz0xo2eenvo92sOZopc0cEupTTihSVl5SaPFFibzEd22AoKqvKzGVoi+yCvbsD3vupIGvbspkSXTuGmzyYjTOrj146AEmbOu0ua/4nEtnYl15VuU/FQijHFcxwQzAo0P651y5dyd2yDeZ9rEea6kpirgTeQtTk5kw1cup8K/a9Bg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lj31f0gFnBxnzVxyuj5Lqg==",
        "ETag": "\"0x8DC6A22550205D5\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-file-last-write-time": "2024-05-01T21:04:46.7396053Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-44c79105-e424-48ee-d6bb-3867cf0dca52/test-file-3310d22a-c33b-2e8e-e9a0-c2e1c3ecdec0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2255105404\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:04:46.8333572Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-44c79105-e424-48ee-d6bb-3867cf0dca52/test-file-3310d22a-c33b-2e8e-e9a0-c2e1c3ecdec0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "pSDQ+XeUkIncKB6jVcpJJ7SvmLBrZURVGgeHr1JAmKu1wEuHTUCoZLrOcLfgcAGdPl2PIe/xSkDce99vDeA2m49y7ZV+wdl0BzP1nPWMdaoG6XH1sHe8xHULq9JgOVfZmNQobYJsHn2EGxq7+65LTwU0aSNvQeoYtiggcxYGE87cHAQgYwgnmcv0cZVdAMnGwFvMLM80alfpELZZTKtmfQhL39+qKuv9Dc9Xe89Vu7ZfWbK6Oef+p7KsN1NRzU0gjfSNESDqHJZwzx4A3O6Hk1UA+vL4rEMgTTcs/fKYqz+CN+7byKmVdTwcSmrI/cvDJaP+UdNaJ+CwbMPovR+j1yPffaQArMuraoW222LZWE9saddOmVlrKBANKlvmrLc[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-44c79105-e424-48ee-d6bb-3867cf0dca52/test-file-3310d22a-c33b-2e8e-e9a0-c2e1c3ecdec0?sv=2024-08-04&se=2024-05-02T21%3A04%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22551E82B5\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:04:46.8333572Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-55df17e4-63c8-fe0f-bdb8-92f092effa90/test-file-ddd66aa9-1552-cd55-68ab-bdcc478bf184?sv=2024-08-04&se=2024-05-02T21%3A04%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22550205D5\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:04:46.7396053Z",
        "x-ms-file-creation-time": "2024-05-01T21:04:46.6336701Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:04:46.7396053Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-55df17e4-63c8-fe0f-bdb8-92f092effa90/test-file-ddd66aa9-1552-cd55-68ab-bdcc478bf184?sv=2024-08-04&se=2024-05-02T21%3A04%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22550205D5\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:04:46.7396053Z",
        "x-ms-file-creation-time": "2024-05-01T21:04:46.6336701Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:04:46.7396053Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-55df17e4-63c8-fe0f-bdb8-92f092effa90?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-44c79105-e424-48ee-d6bb-3867cf0dca52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:04:46.5387646-07:00",
    "RandomSeed": "297759494",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
