{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-20b3b0ed-d96e-0a06-4db8-13c3dc56aaa1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD7D4DAE08\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-05d841ab-04ed-8f27-deda-9bf3945433ed?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD7D57202E\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-20b3b0ed-d96e-0a06-4db8-13c3dc56aaa1/test-file-aecb1ea5-47f2-d5eb-88b2-8c67c9343dd0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD7D60570C\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:29:07.2417548Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-20b3b0ed-d96e-0a06-4db8-13c3dc56aaa1/test-file-aecb1ea5-47f2-d5eb-88b2-8c67c9343dd0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "QngerhAVNdzDNFkgW+SAcbQhkjQbDJi7iSf+oP8ZhPeD7LIRHr2Uyw3ZjXYYDR2WejJgX+78kjbfYyXoFpXdqbBhnG4yblL2jcYnQn4honsKaCbNuSQJh1l8MbuYrLV4++TGtnCuYwvfatIn1FC3vsCp3a1uEPCMVxUVtj2WXuARr0aaW+wKXAQb7U5R4rIIxHP7784HCevzOV5bmK3NSAzxFSUKHWPTnoGoUiKhO3ViDPHKm24SCqVbpiGNrsNWTaVCX82N/qcPKFBNXrfIUv7p+Yy7A62d3wt/r3ZBRe+9UgR9Xtuo1Q1KunIexavuklQipLU3mkr3pX/BDU8wzuJhjwyySvMjQCR+cUg6fxpfkRwiH6E6hre6hrlb5se+GuyQvDaePEhg/2SQuSkBvSVlYXszDa9[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-20b3b0ed-d96e-0a06-4db8-13c3dc56aaa1/test-file-aecb1ea5-47f2-d5eb-88b2-8c67c9343dd0?sv=Sanitized&se=2025-01-31T01%3A29%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CD7D670CCD\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:29:07.2417548Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-05d841ab-04ed-8f27-deda-9bf3945433ed/test-file-47953e5a-e8b0-e5c7-fa25-f60fdcdfcf3a?sv=Sanitized&se=2025-01-31T01%3A29%3A07Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-05d841ab-04ed-8f27-deda-9bf3945433ed/test-file-47953e5a-e8b0-e5c7-fa25-f60fdcdfcf3a?sv=Sanitized&se=2025-01-31T01%3A29%3A07Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD7D7C608D\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-30T01:29:07.4254989Z",
        "x-ms-file-creation-time": "2025-01-30T01:29:07.4254989Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:29:07.4254989Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-05d841ab-04ed-8f27-deda-9bf3945433ed/test-file-47953e5a-e8b0-e5c7-fa25-f60fdcdfcf3a?sv=Sanitized&se=2025-01-31T01%3A29%3A07Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-20b3b0ed-d96e-0a06-4db8-13c3dc56aaa1/test-file-aecb1ea5-47f2-d5eb-88b2-8c67c9343dd0?sv=sanitized-value&se=2025-01-31T01%3A29%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD7D8893C5\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-content-crc64": "HAjdX5ALy6s=",
        "x-ms-file-last-write-time": "2025-01-30T01:29:07.5054533Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-20b3b0ed-d96e-0a06-4db8-13c3dc56aaa1/test-file-aecb1ea5-47f2-d5eb-88b2-8c67c9343dd0?sv=Sanitized&se=2025-01-31T01%3A29%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CD7D670CCD\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CD7D670CCD\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-05d841ab-04ed-8f27-deda-9bf3945433ed?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-20b3b0ed-d96e-0a06-4db8-13c3dc56aaa1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:29:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:29:07.3047779-08:00",
    "RandomSeed": "1449348111",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
