{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd64325d-7168-79e1-b446-889998a104a0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:45 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79283F33D2C\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:46 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cb0232f7-b51b-2309-d6f6-f1986857f264?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:45 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79284117706\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:47 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd64325d-7168-79e1-b446-889998a104a0/test-file-a64e8a10-7038-a59b-246f-46fc823ad763",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:45 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792843521C1\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:27:47.2373185Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd64325d-7168-79e1-b446-889998a104a0/test-file-a64e8a10-7038-a59b-246f-46fc823ad763?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "gInNu9ZCpKTPhr\u002BuZZ00pK8yNzfmMN/s8BvMiyQNNmQ9W9ce1OqFSNaNdnycJh8HfA2z/VNgeVCq4cu7dRh/wVBacArGFs/ErO9hWbpiT8n7xQ8XWjgR3eKHc/MeytK\u002BDrQsQrUVQGY97lFk/yCWR5EBv7AJZ2cXSJMnP6LcpuIcoksFNg0T5oSp2mznrN3C8SthHAoitaZNFfki7QHDYEduR1zVkBGD7tgrX436L5y1ZU52e4nX\u002Bu2ktyEU8fmD5XkkeGSB7WAa3S4x91UZUuVcbIezTOW\u002Bl01uMNjwb/zfp3kT1rY3NHjtXJ5bpgOYimU7t4Vxz5mUZuEXEryHKm4xUU/bBXsuJTcPxe9HYvFJ1qVztLd3btfgf3DVICK7ZTIvKVS0vIX[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd64325d-7168-79e1-b446-889998a104a0/test-file-a64e8a10-7038-a59b-246f-46fc823ad763?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A45Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7928458D125\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:27:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:27:47.2373185Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cb0232f7-b51b-2309-d6f6-f1986857f264/test-file-fa60ea34-9ec3-bb18-9cb9-bd807672f568?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A45Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cb0232f7-b51b-2309-d6f6-f1986857f264/test-file-fa60ea34-9ec3-bb18-9cb9-bd807672f568?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A45Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79284C300A1\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:27:48.1670817Z",
        "x-ms-file-creation-time": "2023-11-17T17:27:48.1670817Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:27:48.1670817Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cb0232f7-b51b-2309-d6f6-f1986857f264/test-file-fa60ea34-9ec3-bb18-9cb9-bd807672f568?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A45Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-fd64325d-7168-79e1-b446-889998a104a0/test-file-a64e8a10-7038-a59b-246f-46fc823ad763?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A45Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79284E9BCDD\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:48 GMT",
        "x-ms-content-crc64": "skfWDwjhB34=",
        "x-ms-file-last-write-time": "2023-11-17T17:27:48.4209373Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd64325d-7168-79e1-b446-889998a104a0/test-file-a64e8a10-7038-a59b-246f-46fc823ad763?sv=2025-04-05\u0026se=2023-11-18T17%3A27%3A45Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE7928458D125\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7928458D125\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:27:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cb0232f7-b51b-2309-d6f6-f1986857f264?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd64325d-7168-79e1-b446-889998a104a0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:48 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:27:45.9095357-08:00",
    "RandomSeed": "836750994",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
