{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-98d684c2-7f5c-29c3-b856-b3661a31346d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E4B26EF2\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2f937e5-0df6-08da-2d6f-929d3477934f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E4BF0FD0\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-98d684c2-7f5c-29c3-b856-b3661a31346d/test-file-7230bd3d-abc7-ccc7-1227-05e451ea5b87",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E4C92488\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:36.2375816Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-98d684c2-7f5c-29c3-b856-b3661a31346d/test-file-7230bd3d-abc7-ccc7-1227-05e451ea5b87?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "q0smD1/Cot1N2gFDRwx4QnsexxKG0vo/WoL+3XiT9lm1e8oUu0URrVDFsF7/LiFvTisjxojg4dlQ57Tdw8VlueOojstCZIc2DRnBwSGbPytgjo9McDDQ1Jrxw9OQM+qLYPd7VqBWLeqk7LlvHiC3taeIfTQ2GUmz2LkxUKCzpdkvNmAqIOiLCmGkp4N3YLV6OQ4rCLa1VEatx37mJNxJ8EbfQOi/jJS//HLTkXHGO3gDtheSh50ieeEZfFhqpeWEW7Y8lyDNu615bAtD4sPV54wG4m7Ft2ipvcYGpRA7VFeNTja6iaRXNvtqGBuS3pceRJXMZMN3v6RNk9pZxxWcPheztpONGl3nrqxyW55NFt4u6GB7bvCUFY6SbfbJ/m/lzdoD3icEkSo35bUXBWQFAHz7Kt61Ic8[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-98d684c2-7f5c-29c3-b856-b3661a31346d/test-file-7230bd3d-abc7-ccc7-1227-05e451ea5b87?sv=Sanitized&se=2024-06-29T23%3A27%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9E4D27206\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:36.2375816Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2f937e5-0df6-08da-2d6f-929d3477934f/test-file-f2e3df90-3310-7cdf-6dbe-705c2b4b93e1?sv=Sanitized&se=2024-06-29T23%3A27%3A36Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2f937e5-0df6-08da-2d6f-929d3477934f/test-file-f2e3df90-3310-7cdf-6dbe-705c2b4b93e1?sv=Sanitized&se=2024-06-29T23%3A27%3A36Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:27:36.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:27:36.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E4F4F183\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:27:36.5246339Z",
        "x-ms-file-creation-time": "2024-06-28T23:27:36.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:27:36.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2f937e5-0df6-08da-2d6f-929d3477934f/test-file-f2e3df90-3310-7cdf-6dbe-705c2b4b93e1?sv=Sanitized&se=2024-06-29T23%3A27%3A36Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-98d684c2-7f5c-29c3-b856-b3661a31346d/test-file-7230bd3d-abc7-ccc7-1227-05e451ea5b87?sv=Sanitized&se=2024-06-29T23%3A27%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E5023610\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-content-crc64": "L03iQ6vYg9k=",
        "x-ms-file-last-write-time": "2024-06-28T23:27:36.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-98d684c2-7f5c-29c3-b856-b3661a31346d/test-file-7230bd3d-abc7-ccc7-1227-05e451ea5b87?sv=Sanitized&se=2024-06-29T23%3A27%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC97C9E4D27206\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9E4D27206\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2f937e5-0df6-08da-2d6f-929d3477934f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-98d684c2-7f5c-29c3-b856-b3661a31346d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:27:36.3480495-07:00",
    "RandomSeed": "1337446652",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
