{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db5f16f8-ce71-126e-2531-c47811b317f4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084C4B35C1\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7933b5d6-3d1f-1da5-12a0-44d61c817af7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084C5651D6\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db5f16f8-ce71-126e-2531-c47811b317f4/test-file-101195ab-583c-f093-91c9-a7f35d84cff1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084C601537\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:23.0160183Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db5f16f8-ce71-126e-2531-c47811b317f4/test-file-101195ab-583c-f093-91c9-a7f35d84cff1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "I8OnV3Ix3PHZfsSbNHUMzZBLDcwjVlAmjZMSXroEoBkCPURcCSiJVW01e2BmoYsbovR2tc+I6c1zgcreHn021N2rmfcwsMRnwrde7trvwOsI9rzGjutJeVN36Ideqjfw/qaCuwiU6/IwD/IXKfvyg8He1SfBb0bxYR+juMc8CBeAbu80bAXjdAvJln/5MVBYhWXFgNUPLo9gkFno8DMr8wbal7oLvha8+mAc+NnH+C/PSzJhdohCcT9g09ur+oTYnaN4HpqVTMdOCYV08za1mZgqGaQAynx9mCZ7quo6Ef/cQ1o2TtqUOf9rEm0DzX0IqzpDgOHf2NMm+4V0GaHdFPiFmK/cf0q9lt+llLcPesuocv+v95Ae/GuGD1JVIB9djv50fTXOLCvvhuoCOkMcFoC6y6ehLR1[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db5f16f8-ce71-126e-2531-c47811b317f4/test-file-101195ab-583c-f093-91c9-a7f35d84cff1?sv=2024-05-04&se=2024-04-30T04%3A53%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68084C68ED83\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:23.0160183Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7933b5d6-3d1f-1da5-12a0-44d61c817af7/test-file-557a90ae-976a-edfd-d20f-6218c8f4bf5b?sv=2024-05-04&se=2024-04-30T04%3A53%3A21Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7933b5d6-3d1f-1da5-12a0-44d61c817af7/test-file-557a90ae-976a-edfd-d20f-6218c8f4bf5b?sv=2024-05-04&se=2024-04-30T04%3A53%3A21Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:53:23.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:53:23.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084C91DB34\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:53:23.3422132Z",
        "x-ms-file-creation-time": "2024-04-29T04:53:23.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:53:23.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7933b5d6-3d1f-1da5-12a0-44d61c817af7/test-file-557a90ae-976a-edfd-d20f-6218c8f4bf5b?sv=2024-05-04&se=2024-04-30T04%3A53%3A21Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-db5f16f8-ce71-126e-2531-c47811b317f4/test-file-101195ab-583c-f093-91c9-a7f35d84cff1?sv=2024-05-04&se=2024-04-30T04%3A53%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084C9C60F7\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-content-crc64": "SwNfALbO1a8=",
        "x-ms-file-last-write-time": "2024-04-29T04:53:23.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db5f16f8-ce71-126e-2531-c47811b317f4/test-file-101195ab-583c-f093-91c9-a7f35d84cff1?sv=2024-05-04&se=2024-04-30T04%3A53%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC68084C68ED83\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68084C68ED83\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7933b5d6-3d1f-1da5-12a0-44d61c817af7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db5f16f8-ce71-126e-2531-c47811b317f4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:53:21.8882990-07:00",
    "RandomSeed": "1452469402",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
