{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1a7bbc3d-5691-fc51-0dcd-e6a3091d0de1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30BF40CEA\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9dfae7fb-670e-99c1-3bc8-1e47da6c2b49?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30C02E185\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9dfae7fb-670e-99c1-3bc8-1e47da6c2b49/test-file-d23ccdbe-9fec-13d3-83f3-a77e53a90db2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30C12E388\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:37:11.8109576Z",
        "x-ms-file-creation-time": "2023-11-16T18:37:11.8109576Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:37:11.8109576Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9dfae7fb-670e-99c1-3bc8-1e47da6c2b49/test-file-d23ccdbe-9fec-13d3-83f3-a77e53a90db2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "imw2RMC7W22bbFu\u002BJoJQ9/gWVS/t8JvaZJhs9ilqr8xOy6JqIkoAIaRiZfItCS7wenqbPV3JD5nQW\u002BAnTmVDML2OcFrf5dWtFTSKiouprVppfHyuz3JvhLwImcZq2NI/HjQ1npnUEJSl7icpP4QOJ66GvtLplWFKH\u002Bue10wOQjxhS2tWcw7AlWvnCOBKRUU4\u002BnEY4xr/VonT6n6uNTlIl6vqx/MYuLSfxShmAYyAANqmZt3a9l8hYfTigomPEl8yn3E1X31RH0G9eB3ymFT9UuqkB89cbaBMyGX/NjUqD7PINGIaS6BcVEabHH1BL8mf5TCe6wqP1THR6JYYUekMkmlqKWTy4gdJSLOJwVAjC5mcX1EFjCSpOV4xSWIJRAJcjooU1gZkrQIoVaJXBhTgrd39e/KYBgZEwfAFwJmkPwSwLDLGDzSSN7F[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1a7bbc3d-5691-fc51-0dcd-e6a3091d0de1/test-file-f4351716-f420-74a9-f9f2-b18b4204632e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30C3534CD\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:12.0368593Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1a7bbc3d-5691-fc51-0dcd-e6a3091d0de1/test-file-f4351716-f420-74a9-f9f2-b18b4204632e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "vlEG5V0tQD2NB2fIZQtGOknaNDJ\u002BK0NVqWgRPpKYp53hkQFum4PFDbJs8rME2t/SgUl0HidA\u002BJMOsTz0GwKq9WDJ5tMJ2J7FFSeAEjiPUM6IP7xJJIh1oZluYOpH0PGwwfxTO/MMyKmrrgkAwOZafmBua9xGYdHXVEU5m3e0fkQ1z1A8PBXafHYSnXV/dOCzE\u002BKJ2GQUal8rfOat0i0x9jDFyvCVHkJLk\u002B9mM8NcWN9lhoeVKqXfIWXwEMAuLKpI4KdEuarwHfSgPkV1rTabzyMHSEumnMuK5amKpA2BHGZEHlIcF541dGiS9exgaXMuVUGcJ\u002BReokTbudMAZXnnHiHeMY/kf7iE0tPiE6[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1a7bbc3d-5691-fc51-0dcd-e6a3091d0de1/test-file-f4351716-f420-74a9-f9f2-b18b4204632e?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A11Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D30C43637F\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:37:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:12.0368593Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9dfae7fb-670e-99c1-3bc8-1e47da6c2b49/test-file-d23ccdbe-9fec-13d3-83f3-a77e53a90db2?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A11Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D30C28642C\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:37:11.9518764Z",
        "x-ms-file-creation-time": "2023-11-16T18:37:11.8109576Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:37:11.9518764Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9dfae7fb-670e-99c1-3bc8-1e47da6c2b49/test-file-d23ccdbe-9fec-13d3-83f3-a77e53a90db2?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A11Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D30C28642C\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:37:11.9518764Z",
        "x-ms-file-creation-time": "2023-11-16T18:37:11.8109576Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:37:11.9518764Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9dfae7fb-670e-99c1-3bc8-1e47da6c2b49?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1a7bbc3d-5691-fc51-0dcd-e6a3091d0de1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:37:11.8819417-08:00",
    "RandomSeed": "377768460",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
