{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc4fcc80-de0d-8920-5965-35534eb30c48?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6808485BB20C\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5e11893b-aca2-1867-e6de-9a9690acf98a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6808486620D4\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc4fcc80-de0d-8920-5965-35534eb30c48/test-file-c4df6ff0-d185-054f-e981-81556da7aa7c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084870D22F\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:16.4148271Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc4fcc80-de0d-8920-5965-35534eb30c48/test-file-c4df6ff0-d185-054f-e981-81556da7aa7c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "gbnGLVHXvDSwtcH5i6SUTS9z0340GcgjsuPnnVCE64HsTmaPoMoLUp6+tzRWeBznfZjBX2LhA2fwo3pu8B/kK8lADTw+Ba1lZ4DgdmKUzDrG/x+3wowfCkv+nvxPnWJ/2YtrFmrgqXjqXPjhAY0FXNdAqPD/LWk9IALxP2axFcodYZzWKLXP5lWnzGWTPQm9+EEkD/Ryf6wiLfVn7moROUctw6DwLjMicMGbWGADqeP5NEYkjQXVq+HwtPq/Z/frlZMdZnlozMkOAp8y1yZLHoQSbroj7axCWBe+AHo4YgjKr8PN5kNpkWd8FotlotS7pJZ2rPk8yKjm2w1iqsxP1Z+WaCdjfjhAqdxTptYh3LVDA1vkwrYOjecb5go1B+ebLUHrzzmtVyVdNQMd6SHRxf5YH6ZwaxPpiNs/R5gtC6L1uHmVNQ17las1hoyy8aPFSiEM3ehAKsItAkZebRCNMCpgJzGoO4/w3In7OuSHNpY3ev12IC26tY22ZzPGHSibp1ZhUspyHQ6RGwFeRe/epsywJ/MSFg/9pXKj8tNcKr9hYJKNJePMxFzv5AQsW3Ce2MFmFvU0iZBHZKxYzis7NfFC/eVcUIDo42KWIzIK0EkBBRkS9RPJLNYBRsE2dPYxtK8T6l6LQYhAfTKSnmVePJNiVsgRKD/eeNEOWgm/sW8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6808487ABBC2\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "OK2S5cz1iLA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc4fcc80-de0d-8920-5965-35534eb30c48/test-file-c4df6ff0-d185-054f-e981-81556da7aa7c?sv=2024-05-04&se=2024-04-30T04%3A53%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6808487ABBC2\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:16.4148271Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5e11893b-aca2-1867-e6de-9a9690acf98a/test-file-41af9cec-f273-30cd-e117-97c347d5ecfe?sv=2024-05-04&se=2024-04-30T04%3A53%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5e11893b-aca2-1867-e6de-9a9690acf98a/test-file-41af9cec-f273-30cd-e117-97c347d5ecfe?sv=2024-05-04&se=2024-04-30T04%3A53%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:53:16.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:53:16.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680848A1D466\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:53:16.7360102Z",
        "x-ms-file-creation-time": "2024-04-29T04:53:16.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:53:16.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5e11893b-aca2-1867-e6de-9a9690acf98a/test-file-41af9cec-f273-30cd-e117-97c347d5ecfe?sv=2024-05-04&se=2024-04-30T04%3A53%3A15Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fc4fcc80-de0d-8920-5965-35534eb30c48/test-file-c4df6ff0-d185-054f-e981-81556da7aa7c?sv=2024-05-04&se=2024-04-30T04%3A53%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680848ACCF44\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-content-crc64": "OK2S5cz1iLA=",
        "x-ms-file-last-write-time": "2024-04-29T04:53:16.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc4fcc80-de0d-8920-5965-35534eb30c48/test-file-c4df6ff0-d185-054f-e981-81556da7aa7c?sv=2024-05-04&se=2024-04-30T04%3A53%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6808487ABBC2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6808487ABBC2\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:16.4148271Z"
      },
      "ResponseBody": "gbnGLVHXvDSwtcH5i6SUTS9z0340GcgjsuPnnVCE64HsTmaPoMoLUp6+tzRWeBznfZjBX2LhA2fwo3pu8B/kK8lADTw+Ba1lZ4DgdmKUzDrG/x+3wowfCkv+nvxPnWJ/2YtrFmrgqXjqXPjhAY0FXNdAqPD/LWk9IALxP2axFcodYZzWKLXP5lWnzGWTPQm9+EEkD/Ryf6wiLfVn7moROUctw6DwLjMicMGbWGADqeP5NEYkjQXVq+HwtPq/Z/frlZMdZnlozMkOAp8y1yZLHoQSbroj7axCWBe+AHo4YgjKr8PN5kNpkWd8FotlotS7pJZ2rPk8yKjm2w1iqsxP1Z+WaCdjfjhAqdxTptYh3LVDA1vkwrYOjecb5go1B+ebLUHrzzmtVyVdNQMd6SHRxf5YH6ZwaxPpiNs/R5gtC6L1uHmVNQ17las1hoyy8aPFSiEM3ehAKsItAkZebRCNMCpgJzGoO4/w3In7OuSHNpY3ev12IC26tY22ZzPGHSibp1ZhUspyHQ6RGwFeRe/epsywJ/MSFg/9pXKj8tNcKr9hYJKNJePMxFzv5AQsW3Ce2MFmFvU0iZBHZKxYzis7NfFC/eVcUIDo42KWIzIK0EkBBRkS9RPJLNYBRsE2dPYxtK8T6l6LQYhAfTKSnmVePJNiVsgRKD/eeNEOWgm/sW8="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5e11893b-aca2-1867-e6de-9a9690acf98a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc4fcc80-de0d-8920-5965-35534eb30c48?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:53:15.2970180-07:00",
    "RandomSeed": "1365824122",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
