{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9a92cd7c-0c87-79b3-914a-fdd46b3a9915?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DAA74FF6F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-49f7fb63-ed40-c8e0-d47a-a5565aebddd8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DAA84389C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9a92cd7c-0c87-79b3-914a-fdd46b3a9915/test-file-cc3bf94d-32b6-558c-3396-dd24f9bfe6b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DAA965F7D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:39.0260093Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9a92cd7c-0c87-79b3-914a-fdd46b3a9915/test-file-cc3bf94d-32b6-558c-3396-dd24f9bfe6b0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "QsOIsqn5T0uTuytQILSsUXXcsYkTKTn9CDlGXF972MDat4VjSvsdJXoW7njXUhKYQ5RzhpktBhmKiqpwsvPsF+NrdmguSAd5v4wO/DrAJrYmrhjKCFImrLBs2b9RrHKHKdeVa9uqafqM+ccNHwneyWT0SQTaIQ6RRcm3wm9IKBIah9NjK7rafEQdPQ6LGI2njRBaXWNtrAfIAyYS8qeLRNG085g2ep2qGc3AvOQABiw7EDRe7cuvrNrLmyeTx4mckvk81iX1cBJzsEOVrfAjx/351uFyLVcFBUa9at91FlJEIyrqwy8HRp8h6zyIGf/qqNMpmfCnKWWhN9DeNwYz/ZnxUYnFOATO8pBCUEEafexH08ILS3xhnPnFSIxfKA+Z7u2jl8h1JG/PW6ZgZdkjh7nkl2NEKLI[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9a92cd7c-0c87-79b3-914a-fdd46b3a9915/test-file-cc3bf94d-32b6-558c-3396-dd24f9bfe6b0?sv=Sanitized&se=2024-06-08T01%3A03%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DAAA419F6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:39.0260093Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-49f7fb63-ed40-c8e0-d47a-a5565aebddd8/test-file-e2493129-3c87-2f16-34ab-56eb56f5ec94?sv=Sanitized&se=2024-06-08T01%3A03%3A37Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-07T01:03:39.0000000Z",
        "x-ms-file-last-write-time": "2024-06-07T01:03:39.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DAAC3DD79\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:03:39.3241465Z",
        "x-ms-file-creation-time": "2024-06-07T01:03:39.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:03:39.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-49f7fb63-ed40-c8e0-d47a-a5565aebddd8/test-file-e2493129-3c87-2f16-34ab-56eb56f5ec94?sv=Sanitized&se=2024-06-08T01%3A03%3A37Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-9a92cd7c-0c87-79b3-914a-fdd46b3a9915/test-file-cc3bf94d-32b6-558c-3396-dd24f9bfe6b0?sv=Sanitized&se=2024-06-08T01%3A03%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DAAD8C34A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:39 GMT",
        "x-ms-content-crc64": "+q8R6tzAbZw=",
        "x-ms-file-last-write-time": "2024-06-07T01:03:39.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9a92cd7c-0c87-79b3-914a-fdd46b3a9915/test-file-cc3bf94d-32b6-558c-3396-dd24f9bfe6b0?sv=Sanitized&se=2024-06-08T01%3A03%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868DAAA419F6\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DAAA419F6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-49f7fb63-ed40-c8e0-d47a-a5565aebddd8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9a92cd7c-0c87-79b3-914a-fdd46b3a9915?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:03:37.6228072-05:00",
    "RandomSeed": "480819795",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
