{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6550a028-e292-dc7b-6981-c872bbf21b71?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D300D2308\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c74457f-5d34-62b4-0c9a-bbd2c90cfe0a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D30181741\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c74457f-5d34-62b4-0c9a-bbd2c90cfe0a/test-file-c4f8c632-aeb2-d078-2af1-01d2effa6e22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D3025BB8D\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:02:26.7433869Z",
        "x-ms-file-creation-time": "2024-12-10T19:02:26.7433869Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:02:26.7433869Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c74457f-5d34-62b4-0c9a-bbd2c90cfe0a/test-file-c4f8c632-aeb2-d078-2af1-01d2effa6e22?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "9xQgP1y+wqvHtZaq8tZNql7DyRBXcXaJfNhHSf8gxKJcRZNOFOhgI9Tv0yedAzVoxC7zRpWQwIadl8ODd3irpvHzTq1D/5Z1YqU7aJ1P63ij34TQLX4My4UMsHwl3KxbQyw2qbSIJMWYfePvVVfoTqtK4Jj023ly5oMnNk4ZUIb53yRxGELEGrq/OLCbHXYtI2HR2/wTZ2izxMIxYO12fi1d9nUzdzZphcXeNKLJ18kN+hPtSHSJ5Xi8vVR/krrMSbqCPiYA+qsrZ1U3NTLG6u34I2XaiDW40xD9d7rh6fMLEevnRpiiDABnweAfUrBF9dJnhm5U8sCFymoWA4PxSX5iKyRG3qRUVhdlc8ZUmIFgt4HnemKEth8rYnstjAh9dXhivSaM/hcuEzBX7n/5MDLptksBCs8b3XUEG3spJskO6P1O8dta07lpuWYxLMegMjJIQ9a8e2uoR9+xh+ObBOxnSAaBqj5Xj+KSl1Bo6bGtZOlJ4OPzUW2Spar7qUzVzrR6yuTBHofz8bT0KuMaQF0uAyL6UiQJdPeZ7wSUW+aVvMmc7R/M7EZhVe8v/yeJd2VMzaUq23uQcVbsJy+DX5bNXm0ZflI+YRfcmPw12XXPD3eeR45Aa+FODHzJ38QW3vZYYaC6b/gTDmuNTUJ+W5fhHRe35BcIjPOMy3LWdIFTxboG3HjUFZ9/izgisx2ez7Hk58KsX/rfUNSsLaSGPZnqOoiIeH4eDAd3OFje5tnW7fvB8Yy+pmbAJoukKOf7+E2fN3iVFVcyxdu7NCahAGr61kCoxUsNK5MiyFHyeuQffD8LP65gQNekjiyxA3I/HiUhqVGnUjMBkQvkc00FP0r3m7jnlsG8mZVoAzYfWygh4qkr0dCTdykMCa2ie82Knk/hume6WIhkZA+7P0/94jbjw5Ck2m16ZCOO2o0UGR7H3mTmPqHAZ4ogx23B1zjaDyd3vrg95cTiZ1ZDK337UEvx82HqFqOUIlsFgxMAuYzrs8tmnVplivigBNdLfTwMJXchz+PW8PiD4pxdN2Kx4a7JV3eylbLwjGlpSRHLSaUf+V2c3umpFMPS4rq+CFKV7yIpgSXEWpDEMUJ6babmt5j2PT4EFQPEIEO037L3MoQW01ruoseAW57N162nL6cc6yoiyMoUkdofZWHiD3vdzP++Y5pM+BXRdeKgNz1VHfGbmPOI1Wm5AkGAzj1mnksi7wuu6MsM0PMUUVLoc1qcyUhwRneIVfaVBWBYyynYataXfUcxpzQlj8f/c4QX0Y7n4wX09VjTmpoUGONrtATKPOZ7UfYTayITSraviOFyfjTRcegk43V+w+OsHY9RudvDNDeem4CY1Hjj4aqhIxG4og==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SygbwzGKyR+s+hulQT13Gg==",
        "ETag": "\"0x8DD194D302F4DBE\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-file-last-write-time": "2024-12-10T19:02:26.8061118Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6550a028-e292-dc7b-6981-c872bbf21b71/test-file-b0e2f045-6817-e614-ac3d-a6bdf1fa2887",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D303882D8\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6550a028-e292-dc7b-6981-c872bbf21b71/test-file-b0e2f045-6817-e614-ac3d-a6bdf1fa2887?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "kADASe0gP7bLQ+0GDoe99+k6iuO9I8/Ei7sGpMBycVzfpGyAagvQ9iTKwfqIpTQ2IpA/R6lO9W0x+74yGZr2WNGRJ2kaPI3daZO+8mLUO+WGz4EvMymzkK//T25NndyJ02gp933LG+UDYd0VkAILXMDYrEoYxiWo3pa6G+0fj8y2NB/5q0Nou7OcK9FMnQCs9PKtdfCScQxDgBnnEAD35NEQXlvjEbF8b/GWfJpTW0CVDSf7cRrbJMMStioqgKqzpEf/Oz+lyeJBMAX/+/Rx8CTYUQPY/HK3NTmX0VuGUu9G49hTUyAB8EREuUAU2yjOoMYFUS6m2qfVSAUFDfeHu94WuRgcHpwE12G/lEMxo1kRyTGVgADAnwgwfgsa++J[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6550a028-e292-dc7b-6981-c872bbf21b71/test-file-b0e2f045-6817-e614-ac3d-a6bdf1fa2887?sv=Sanitized&se=2024-12-11T19%3A02%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194D3041A059\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c74457f-5d34-62b4-0c9a-bbd2c90cfe0a/test-file-c4f8c632-aeb2-d078-2af1-01d2effa6e22?sv=Sanitized&se=2024-12-11T19%3A02%3A27Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D302F4DBE\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:02:26.8061118Z",
        "x-ms-file-creation-time": "2024-12-10T19:02:26.7433869Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:02:26.8061118Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c74457f-5d34-62b4-0c9a-bbd2c90cfe0a/test-file-c4f8c632-aeb2-d078-2af1-01d2effa6e22?sv=Sanitized&se=2024-12-11T19%3A02%3A27Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D302F4DBE\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:02:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:02:26.8061118Z",
        "x-ms-file-creation-time": "2024-12-10T19:02:26.7433869Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:02:26.8061118Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c74457f-5d34-62b4-0c9a-bbd2c90cfe0a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6550a028-e292-dc7b-6981-c872bbf21b71?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:02:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T11:02:27.1276462-08:00",
    "RandomSeed": "804254392",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
