{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3c8eb15-efa4-26b3-fea1-d295fe4d2227?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6808475167BE\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9e8d07e6-7c01-9ec6-7e66-8b6d318ccaf7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6808475C031E\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3c8eb15-efa4-26b3-fea1-d295fe4d2227/test-file-ab226d07-179e-70eb-bf4f-7780695e8c14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084766193D\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:14.6668349Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3c8eb15-efa4-26b3-fea1-d295fe4d2227/test-file-ab226d07-179e-70eb-bf4f-7780695e8c14?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "wg95bdzQ3haQbz4pk/V7Wtt45eVyoB8k1/b+ju2aAD81NB6Ne4R8URK7QIYvnJytcjSJEKvMviHvVZXm0k8o9m7+817W7t5W/JPTt2CZ9DtaURy5EPCUaHb9nSXvlX/CkkoYMKg91oRVMxQX+AbBVWBai4Azb+V+aovn2VC5Z2YUECQWgcSTHHqXY93bfG9wO0fElQr+jyNlmcYdVvwzm8yuA+jhq9Scxm8GmwsHou0bd54I9NFcFYEBsef9dsZ9Y8gRLHmHjpBzJ86a+PMXXffYAd5eK6f6Uu5m3/rsn1CpiDdD9nVzk+kNlM0DwRyN6lPwJHTnHjggF9qLIa6Wh4h98W+702eBZG31UZba9pDR2PWm/Hrcwmn/It+b6HI6dg1EhdCs0hbsbr8G8c2hRiBJuUi58Is[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3c8eb15-efa4-26b3-fea1-d295fe4d2227/test-file-ab226d07-179e-70eb-bf4f-7780695e8c14?sv=2024-05-04&se=2024-04-30T04%3A53%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6808476FDBD9\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:14.6668349Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9e8d07e6-7c01-9ec6-7e66-8b6d318ccaf7/test-file-7d37608e-754b-bf7e-ecc3-9a8f48cef947?sv=2024-05-04&se=2024-04-30T04%3A53%3A13Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9e8d07e6-7c01-9ec6-7e66-8b6d318ccaf7/test-file-7d37608e-754b-bf7e-ecc3-9a8f48cef947?sv=2024-05-04&se=2024-04-30T04%3A53%3A13Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:53:14.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:53:14.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680847980585\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:53:14.9940101Z",
        "x-ms-file-creation-time": "2024-04-29T04:53:14.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:53:14.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9e8d07e6-7c01-9ec6-7e66-8b6d318ccaf7/test-file-7d37608e-754b-bf7e-ecc3-9a8f48cef947?sv=2024-05-04&se=2024-04-30T04%3A53%3A13Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c3c8eb15-efa4-26b3-fea1-d295fe4d2227/test-file-ab226d07-179e-70eb-bf4f-7780695e8c14?sv=2024-05-04&se=2024-04-30T04%3A53%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680847A3276E\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:15 GMT",
        "x-ms-content-crc64": "XqlaPsSvIyM=",
        "x-ms-file-last-write-time": "2024-04-29T04:53:14.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9e8d07e6-7c01-9ec6-7e66-8b6d318ccaf7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3c8eb15-efa4-26b3-fea1-d295fe4d2227?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:53:13.4186989-07:00",
    "RandomSeed": "379589687",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
