{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0a08c3bd-1e60-6411-8ada-7c9df642090b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E7CA38A5\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-43c0610f-c8a0-622d-52f3-bcd7ab15a3d3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E7D4B5B1\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0a08c3bd-1e60-6411-8ada-7c9df642090b/test-file-b82ae7e1-f88f-72b9-a565-c54ab489c2b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E7E09F5A\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:41.4246234Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0a08c3bd-1e60-6411-8ada-7c9df642090b/test-file-b82ae7e1-f88f-72b9-a565-c54ab489c2b9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "0pY2CJeIJLfhUy2vY+0rIR6Lc779RH8CBzA0ocEnSMgn1Muu5abOJkxzmeXD2e/Ssgr1nOp4IY0WMwFmU4L2ugplh48hfTt3vExyiqqaPi5BYu+3Maver7M+l7GlaNPJfN7aXlFfsDTOfuCdBpfjfPXSJfGTP4leh9jc4+aJ0VR4qA3Lv9/c4bG66LPLQKkbWhq80kLiNj1Ve9d4g81NRKyLJV2JGL0V9kRA2FbVk0YvwInMzf4SlnLQdUQIY13kbKQGQBtLkkJdptz9oV7mf+iQScNDgXateI7ruaJ5DZLnXGuyzlIr4y1HbyciFfQU6fVbdxqZoOstWceMYNmf5JhKFUXyM7CVZGWV/BJPi2OZ18+sHZZ3TruAhXWKnoNUp4qO2P+vIbVFxhK1A6PY3c1k84kJ88c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0a08c3bd-1e60-6411-8ada-7c9df642090b/test-file-b82ae7e1-f88f-72b9-a565-c54ab489c2b9?sv=Sanitized&se=2024-06-29T23%3A27%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9E7EA13D7\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:41.4246234Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-43c0610f-c8a0-622d-52f3-bcd7ab15a3d3/test-file-bea025d0-4328-c4dd-9778-e7b7825e6df2?sv=Sanitized&se=2024-06-29T23%3A27%3A41Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-43c0610f-c8a0-622d-52f3-bcd7ab15a3d3/test-file-bea025d0-4328-c4dd-9778-e7b7825e6df2?sv=Sanitized&se=2024-06-29T23%3A27%3A41Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:27:41.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:27:41.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E81482B7\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:27:41.7646775Z",
        "x-ms-file-creation-time": "2024-06-28T23:27:41.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:27:41.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-43c0610f-c8a0-622d-52f3-bcd7ab15a3d3/test-file-bea025d0-4328-c4dd-9778-e7b7825e6df2?sv=Sanitized&se=2024-06-29T23%3A27%3A41Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-0a08c3bd-1e60-6411-8ada-7c9df642090b/test-file-b82ae7e1-f88f-72b9-a565-c54ab489c2b9?sv=Sanitized&se=2024-06-29T23%3A27%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E82019CB\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:41 GMT",
        "x-ms-content-crc64": "jkYVmoNajlM=",
        "x-ms-file-last-write-time": "2024-06-28T23:27:41.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-43c0610f-c8a0-622d-52f3-bcd7ab15a3d3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0a08c3bd-1e60-6411-8ada-7c9df642090b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:27:41.3901091-07:00",
    "RandomSeed": "1157134424",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
