{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-976bdd9e-e3d5-3884-2a7f-7dbbfb7c57c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D31CBA7EC2\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0cd0c0be-5701-0f02-bd40-6459ad13c7e6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D31CC9C3D7\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-976bdd9e-e3d5-3884-2a7f-7dbbfb7c57c8/test-file-91c82dcb-4580-4dfe-943d-c38734b495ac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D31CDBC291\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:39.9709329Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-976bdd9e-e3d5-3884-2a7f-7dbbfb7c57c8/test-file-91c82dcb-4580-4dfe-943d-c38734b495ac?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "HTeXc7NuFo1griEW8CaN1f2TnFgNq1ZpGI2ZbjYD\u002Bds5VRtmST1MZnk/uMLKqtFgKR0yix0HInHhLVol1KdWXbVF3ZoLJozARjXfzfOUn267OUQY0W6\u002BMTOphRziJpLR6VsNhM03VQKRcUTnKFR\u002BTI3saZpjPYxHh6tnYaFv3R\u002BjDeSYhxuhhORCh18p1gjeKziO9r33bqvPxf0hz/NgIpQkRBpw5sVyS\u002BS2ILYsHbCjiDVp4edirJ84yMEdf7Xw4WXLBZLubkVyG6rYQU31oqhNfUe990CswZh6Nx0EVcsvxT9RYRgdtBnw9sU8iWpSQyYY0AFuMukkHkP6czcnbcbfqXsOo0GQL8ktzQB7cDgtKPT264TJwZJVLULVI0DiyIj\u0[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-976bdd9e-e3d5-3884-2a7f-7dbbfb7c57c8/test-file-91c82dcb-4580-4dfe-943d-c38734b495ac?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D31CE95525\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:37:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:37:39.9709329Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0cd0c0be-5701-0f02-bd40-6459ad13c7e6/test-file-c3034fbe-1661-1873-b2d7-c52f49d16c7a?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A39Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0cd0c0be-5701-0f02-bd40-6459ad13c7e6/test-file-c3034fbe-1661-1873-b2d7-c52f49d16c7a?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A39Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D31D1894B9\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:37:40.3695289Z",
        "x-ms-file-creation-time": "2023-11-16T18:37:40.3695289Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:37:40.3695289Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0cd0c0be-5701-0f02-bd40-6459ad13c7e6/test-file-c3034fbe-1661-1873-b2d7-c52f49d16c7a?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A39Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-976bdd9e-e3d5-3884-2a7f-7dbbfb7c57c8/test-file-91c82dcb-4580-4dfe-943d-c38734b495ac?sv=2023-11-03\u0026se=2023-11-17T18%3A37%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D31D273885\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:37:40 GMT",
        "x-ms-content-crc64": "6L7edyd95dg=",
        "x-ms-file-last-write-time": "2023-11-16T18:37:40.4654725Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0cd0c0be-5701-0f02-bd40-6459ad13c7e6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-976bdd9e-e3d5-3884-2a7f-7dbbfb7c57c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:37:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:37:39.8089498-08:00",
    "RandomSeed": "375037885",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
