{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-411b79fb-c5f2-438b-b59e-f9abf5ffcf1d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084CFEB6E2\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3d1bd25d-819c-a596-7abd-18a8ac5c8568?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084D095B5A\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-411b79fb-c5f2-438b-b59e-f9abf5ffcf1d/test-file-85b2b228-eecf-c37f-0acc-bc6038876b4b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084D13933F\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:24.1923391Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-411b79fb-c5f2-438b-b59e-f9abf5ffcf1d/test-file-85b2b228-eecf-c37f-0acc-bc6038876b4b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "kbmubKbBbXI3Kjyxmg1RE8w2bN6nbx3KY+KeoCcJ6uAU5ZQnBQg1FxNo8gCTCqbZzhK5zpnxgCKb5AjDIsxLLUBbnbR4Kg7DAFXKP30cN1g8xdIUTxtHImVyiyH/cfRHHMS/N23xYKQE9c1EJ0Gkf6ywh136Nt4lE3tPBp7sxI9ggyK5XP/rSmQtEFlNA/skzQt1T+qXTOblmiPxoloFGDE+46Me6yKsxDz4zCaE2BCAKziSd3WlyTc808Lc+acKJ/goDh9XBeLpyIqtn3+/YcETcXcic6C7mRps4hhg0MuV7aUuXMrwKCVWqa7q9ym3fHIByYcv6LRXbHUF6yLKiPi/GLHakQX3IklRzMny0KHwtWWlXwZDZQXw1+9U6z0DiyC1K9943OtsCaY+3hzqZJvTFTa9JCn[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-411b79fb-c5f2-438b-b59e-f9abf5ffcf1d/test-file-85b2b228-eecf-c37f-0acc-bc6038876b4b?sv=2024-05-04&se=2024-04-30T04%3A53%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68084D1C92A0\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:24.1923391Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3d1bd25d-819c-a596-7abd-18a8ac5c8568/test-file-00fb2cf9-9a8b-d836-ccb3-fd7fdf30a866?sv=2024-05-04&se=2024-04-30T04%3A53%3A22Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3d1bd25d-819c-a596-7abd-18a8ac5c8568/test-file-00fb2cf9-9a8b-d836-ccb3-fd7fdf30a866?sv=2024-05-04&se=2024-04-30T04%3A53%3A22Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:53:24.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:53:24.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084D413B46\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:53:24.4915526Z",
        "x-ms-file-creation-time": "2024-04-29T04:53:24.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:53:24.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3d1bd25d-819c-a596-7abd-18a8ac5c8568/test-file-00fb2cf9-9a8b-d836-ccb3-fd7fdf30a866?sv=2024-05-04&se=2024-04-30T04%3A53%3A22Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-411b79fb-c5f2-438b-b59e-f9abf5ffcf1d/test-file-85b2b228-eecf-c37f-0acc-bc6038876b4b?sv=2024-05-04&se=2024-04-30T04%3A53%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68084D4BE812\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:24 GMT",
        "x-ms-content-crc64": "q0Ni2h7fwK8=",
        "x-ms-file-last-write-time": "2024-04-29T04:53:24.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3d1bd25d-819c-a596-7abd-18a8ac5c8568?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-411b79fb-c5f2-438b-b59e-f9abf5ffcf1d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:53:22.9446348-07:00",
    "RandomSeed": "948873508",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
