{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-74f42a2e-7d3d-94e5-5361-53efdbec6233?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:55:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC87B062AED\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:55:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-908a9527-0dd2-b642-7cc4-c2a3fdac3523?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:55:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC87B0ECC77\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:55:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-74f42a2e-7d3d-94e5-5361-53efdbec6233/test-file-d5f77a26-d1ed-0075-b9ac-e0ef8360dd4e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:55:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC87B1D4AD0\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:55:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:55:02.9431767Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-74f42a2e-7d3d-94e5-5361-53efdbec6233/test-file-d5f77a26-d1ed-0075-b9ac-e0ef8360dd4e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:55:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hSKXgBNFpQcrDGDWEGsov7Rn+hG7Xmk23eraFTr/IGCo9OruRXsnLB3+nWyPsM6jBXSXLCOJdSe5YKMpao/MK+v/LhuAOXo5P83zvMD8py0bNg/GaPQ9Hn/DNOXX/sGOMnGBj4GzI8v5XexWlrhmvbh2DTN/BsP3wg+bvQSVYUELZYpPeheraBNEzAoH54jHXHcsYPCODyyuic1xF2XGZPurSjEtF0Khy6UfOzm48NuH1GCNaAFQfVVeofFKOVCtfWgOW5xXmUU0i5VLbtPz9Zny6kIFOfz6W8zbz3ZRVpFVcb7QqpQ+LzsbWNxrBA+Ca6tXV04NqENsE//PfMnO4zQE9vwVIksEs7sH6eAfj1a9WWTK+f9CR8l6ZJaVbrJxTXWoZg4TbElgU6STBb9jTISpEiNlBOk[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-74f42a2e-7d3d-94e5-5361-53efdbec6233/test-file-d5f77a26-d1ed-0075-b9ac-e0ef8360dd4e?sv=Sanitized&se=2024-07-03T18%3A55%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC87B25D518\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:55:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:55:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:55:02.9431767Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-908a9527-0dd2-b642-7cc4-c2a3fdac3523/test-file-4f664f61-6b99-407d-6ec2-7d8366489100?sv=Sanitized&se=2024-07-03T18%3A55%3A03Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-908a9527-0dd2-b642-7cc4-c2a3fdac3523/test-file-4f664f61-6b99-407d-6ec2-7d8366489100?sv=Sanitized&se=2024-07-03T18%3A55%3A03Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:55:02.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:55:02.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC87B457339\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:55:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:55:03.2053561Z",
        "x-ms-file-creation-time": "2024-07-02T18:55:02.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:55:02.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-908a9527-0dd2-b642-7cc4-c2a3fdac3523/test-file-4f664f61-6b99-407d-6ec2-7d8366489100?sv=Sanitized&se=2024-07-03T18%3A55%3A03Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-74f42a2e-7d3d-94e5-5361-53efdbec6233/test-file-d5f77a26-d1ed-0075-b9ac-e0ef8360dd4e?sv=Sanitized&se=2024-07-03T18%3A55%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC87B51A682\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:55:03 GMT",
        "x-ms-content-crc64": "ssbLaX5ApgM=",
        "x-ms-file-last-write-time": "2024-07-02T18:55:02.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-908a9527-0dd2-b642-7cc4-c2a3fdac3523?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:55:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-74f42a2e-7d3d-94e5-5361-53efdbec6233?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:55:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:55:03.7761545-07:00",
    "RandomSeed": "1973061556",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
