{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-401d5c41-5c6c-4ab5-f07e-c6fbd8d2bc5e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E853AABB\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed082c5-4fb1-3ea7-be3a-2ede9f008068?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E85E9202\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-401d5c41-5c6c-4ab5-f07e-c6fbd8d2bc5e/test-file-125bb975-03c6-3523-7373-14aff8c15ec9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E8688030\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:42.3151152Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-401d5c41-5c6c-4ab5-f07e-c6fbd8d2bc5e/test-file-125bb975-03c6-3523-7373-14aff8c15ec9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "SFID5zzjU0RgZV6PJUoyVXU3I3neP4ohQQtaKC/3EWa3q6xkQHfgiZsjK2I9YfpI9CpqsLE+3AnI4aUwiCsVaFP313mezRX9VprduhMn4+AREjQEjWG1ec+inF7SsABwDsIORomAqiYVbFoXYCL1oP7FH3b2EdvyQV6q+zC2K6aZbKxQGZxXkWgN7iAGnhitrfxgDZCKevznHAQq1a/2X0G0ffN1pIZibY4N6CK766NG/U0zVh4VDvKvafyXLLu5F4/fUiAkNwh1/p8CfJHaKzFg49hhwgkin24AxTqKykDSVNGT3JmDIcZEvlh/EpJh1T7LNknjV1WGvLOxI3HO6zNeLyjAR0+X3cIRHASxo4zcn/D8vpP37/x7DB/m0f1UdtIkIONpoI3uM1mG0TtR1Rkm1YSA0S2[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-401d5c41-5c6c-4ab5-f07e-c6fbd8d2bc5e/test-file-125bb975-03c6-3523-7373-14aff8c15ec9?sv=Sanitized&se=2024-06-29T23%3A27%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9E87242C7\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:42.3151152Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed082c5-4fb1-3ea7-be3a-2ede9f008068/test-file-d79c0a22-380f-8ab0-5ea1-610c22f8c21c?sv=Sanitized&se=2024-06-29T23%3A27%3A42Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed082c5-4fb1-3ea7-be3a-2ede9f008068/test-file-d79c0a22-380f-8ab0-5ea1-610c22f8c21c?sv=Sanitized&se=2024-06-29T23%3A27%3A42Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:27:42.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:27:42.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E8975B70\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:27:42.6221936Z",
        "x-ms-file-creation-time": "2024-06-28T23:27:42.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:27:42.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed082c5-4fb1-3ea7-be3a-2ede9f008068/test-file-d79c0a22-380f-8ab0-5ea1-610c22f8c21c?sv=Sanitized&se=2024-06-29T23%3A27%3A42Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-401d5c41-5c6c-4ab5-f07e-c6fbd8d2bc5e/test-file-125bb975-03c6-3523-7373-14aff8c15ec9?sv=Sanitized&se=2024-06-29T23%3A27%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9E8A821E1\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-content-crc64": "TeCumBzxv8U=",
        "x-ms-file-last-write-time": "2024-06-28T23:27:42.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed082c5-4fb1-3ea7-be3a-2ede9f008068?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-401d5c41-5c6c-4ab5-f07e-c6fbd8d2bc5e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:27:42.2901990-07:00",
    "RandomSeed": "1836322265",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
