{
  "Entries": [
    {
      "RequestUri": "https://cus.ppe.codesigning.azure.net/codesigningaccounts/jaxel-test/certificateprofiles/jaxel-test-01/sign/eku?api-version=2023-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "caf85983-e75f-4f58-b440-d5cde88896d6"
      },
      "ResponseBody": {
        "value": [
          {
            "eku": "1.3.6.1.4.1.311.97.184829353.979387642.608284940.913772390"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "405083456"
  }
}
