{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t7bd0ff8e87c47b38?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-digest": "sha256:564401cb6eb47ad197ad8a1ffa35c29ed6801830ccbae688e4367316c5f14f82",
        "x-ms-image-tag": "1.0.02512.25-9bf4d1884bd310dad216a6ac5f0e0ded178d5fc6",
        "x-ms-machineName": "identityservice-5c6869f97c-p77pq"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQcro4lTJAK7lxvCJOoLUbUTAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgTmV0d29yazAeFw0yMzEyMDYwMDI1MTVaFw0yNDAzMDUwMDI1\nMTRaMBYxFDASBgNVBAMMC0NDRiBOZXR3b3JrMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEVMR7AAf1\u002BtoCWZNgJpJYRqcRMSEVF5miVduTOPe9JJutCSFJjH2bkzQP\nF1Ss1\u002BQVjuyokM0F3urkZJcBndjR/qNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBADAd\nBgNVHQ4EFgQUqTpbO2hyFKZIlKZX93JDos63OqkwHwYDVR0jBBgwFoAUqTpbO2hy\nFKZIlKZX93JDos63OqkwCgYIKoZIzj0EAwIDSQAwRgIhAKLl5r0\u002BOxn5sxtVRJjX\nj0QayRBdJmYa6W8ykQpnd0TtAiEAr9vxUfCd3EdCOGkAQiV0AETYita6H3wbmp1L\nw5Is5ME=\n-----END CERTIFICATE-----\n",
        "ledgerId": "t7bd0ff8e87c47b38"
      }
    },
    {
      "RequestUri": "https://t7bd0ff8e87c47b38.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test7868"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.244"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://t7bd0ff8e87c47b38.confidential-ledger.azure.com/app/transactions/2.244/status?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.245"
      },
      "ResponseBody": {
        "state": "Committed",
        "transactionId": "2.244"
      }
    },
    {
      "RequestUri": "https://t7bd0ff8e87c47b38.confidential-ledger.azure.com/app/transactions/current?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.245"
      },
      "ResponseBody": {
        "collectionId": "subledger:0",
        "contents": "test7868",
        "transactionId": "2.244"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t7bd0ff8e87c47b38.confidential-ledger.azure.com",
    "RandomSeed": "288623119"
  }
}
