{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t7bd0ff8e87c47b38?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-digest": "sha256:15c53e60c81a2669c3dc28ad3331502dc8a28edb229fd5bdf98d9c62ad310e39",
        "x-ms-image-tag": "1.0.02396.1287-22f2c77d25c55d9afd559a5adcb1934218c80822",
        "x-ms-machineName": "identityservice-588c777c78-zf2qs"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgDCCASegAwIBAgIRAP54pXA8rRRpXXbw4argefwwCgYIKoZIzj0EAwIwFjEU\nMBIGA1UEAwwLQ0NGIE5ldHdvcmswHhcNMjMwODAzMjEwMjA0WhcNMjMxMTAxMjEw\nMjAzWjAWMRQwEgYDVQQDDAtDQ0YgTmV0d29yazBZMBMGByqGSM49AgEGCCqGSM49\nAwEHA0IABCi4SaUpmzJKpQ4k0tR64lUItdMy\u002Bw0NTcz0BVMAPEHuEZDmWS4/zy/f\nmfxlaZB3lwVDcClDOjxxB\u002BoqPgrpycujVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQAw\nHQYDVR0OBBYEFOXG73WNYsGB\u002BYszXF8xlq8TJ2auMB8GA1UdIwQYMBaAFOXG73WN\nYsGB\u002BYszXF8xlq8TJ2auMAoGCCqGSM49BAMCA0cAMEQCIBu/G3iXEQlEfDRffakq\nnAdfORGJAbHL3iVsZx4GQaxLAiAXUlR54D8XorSPA5julfdJSf3kIEMkcnnGZ8aB\n5irx/Q==\n-----END CERTIFICATE-----\n",
        "ledgerId": "t7bd0ff8e87c47b38"
      }
    },
    {
      "RequestUri": "https://t7bd0ff8e87c47b38.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test8820"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.93"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://t7bd0ff8e87c47b38.confidential-ledger.azure.com/app/transactions/2.93/status?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.93"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.93"
      }
    },
[...]
    {
      "RequestUri": "https://t7bd0ff8e87c47b38.confidential-ledger.azure.com/app/transactions/current?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.94"
      },
      "ResponseBody": {
        "collectionId": "subledger:0",
        "contents": "test8820",
        "transactionId": "2.93"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t7bd0ff8e87c47b38.confidential-ledger.azure.com",
    "RandomSeed": "792217803"
  }
}
