{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t8c7bfa9e146b8f4d?api-version=V2024_01_26_Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.02880.166-30238f2edc7672f01c81e2d9bd8fef9c2970fbdc",
        "x-ms-machineName": "identityservice-58d87d4499-75g9f"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQCsxKO6lGUCQHemhHAFumjjAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTAxMDkwMDEyMDFaFw0yNTA0MDkwMDEy\nMDBaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEeHvUu5VTTeVEYoMGD9ysZcwzTvETdmDZS9GXIxQRzzC+7VaQm52usz/m\nIhaJHs8IJ2OI+/lstQ3FGa4wSKTCdaNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQU6cPAYq1hWi/b7l3qQAxl+9mw06wwHwYDVR0jBBgwFoAU6cPAYq1h\nWi/b7l3qQAxl+9mw06wwCgYIKoZIzj0EAwIDSQAwRgIhANvtTu+EybfszMoq/9IS\n0YusDohvTPjfZhhJOyRZ3yVYAiEA5lwBY8vfRLBooyAsAudsTtzJGkgya/LBtS/r\ni0Y3bFE=\n-----END CERTIFICATE-----\n",
        "ledgerId": "t8c7bfa9e146b8f4d"
      }
    },
    {
      "RequestUri": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com/app/transactions?api-version=2024-01-26-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test1900"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.465"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com/app/transactions/2.465/status?api-version=2024-01-26-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.465"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.465"
      }
    },
[...]
    {
      "RequestUri": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com/app/transactions?api-version=2024-01-26-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.466"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-01-26-preview&collectionId=subledger:0&fromTransactionId=2.1",
        "state": "Loading"
      }
    },
    {
      "RequestUri": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com/app/transactions?api-version=2024-01-26-preview&collectionId=subledger:0&fromTransactionId=2.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.466"
      },
      "ResponseBody": {
        "entries": [...]
    {
      "RequestUri": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com/app/transactions/2.35?api-version=2024-01-26-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.466"
      },
      "ResponseBody": {
        "entry": {
          "collectionId": "subledger:0",
          "contents": "test5795",
          "transactionId": "2.35"
        },
        "state": "Ready"
      }
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com",
    "RandomSeed": "559196223"
  }
}
