{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03011.237-8eb772224b8dc663d3bef6b87f3f877faa4bbbc7",
        "x-ms-machineName": "identityservice-76447dd8bb-6xlq8"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgDCCASegAwIBAgIRALjaV7F4B3XZ+5hYHmwaakAwCgYIKoZIzj0EAwIwFjEU\nMBIGA1UEAwwLQ0NGIFNlcnZpY2UwHhcNMjUwNDA0MTQzNzUxWhcNMjUwNzAzMTQz\nNzUwWjAWMRQwEgYDVQQDDAtDQ0YgU2VydmljZTBZMBMGByqGSM49AgEGCCqGSM49\nAwEHA0IABE4EzKBs2FqhBYIE8UxngL2zzeSxvonu50bxvIeItp3JucFmEyv8kDLs\nwkE/PpD54hw9+XIJFHpGabgJCMkWAqGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEw\nHQYDVR0OBBYEFBUiZXhmpBsek2RutJXLe7LIvuPyMB8GA1UdIwQYMBaAFBUiZXhm\npBsek2RutJXLe7LIvuPyMAoGCCqGSM49BAMCA0cAMEQCICzGu8ddwSfbEyqKp3Ew\ne4D+vJPNDL3mTnTGQF1BS0OFAiBJrRPBLsplovBqt/QVvv18zFUuXva34jbq/8fj\nwLBtQQ==\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test6749"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.396"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.396/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.396"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.396"
      }
    },
[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.397"
      },
      "ResponseBody": {
        "entries": [
          {
            "collectionId": "subledger:0",
            "contents": "test1536",
            "transactionId": "2.44"
          },
          {
            "collectionId": "subledger:0",
            "contents": "test5222",
            "transactionId": "2.46"
          },
          {
            "collectionId": "subledger:0",
            "contents": "test335",
            "transactionId": "2.47"
          },
          {
            "collectionId": "subledger:0",
            "contents":[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.44?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.397"
      },
      "ResponseBody": {
        "entry": {
          "collectionId": "subledger:0",
          "contents": "test1536",
          "transactionId": "2.44"
        },
        "state": "Ready"
      }
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t39ebcc31a92560c7.confidential-ledger.azure.com",
    "RandomSeed": "518715901"
  }
}
