{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03017.238-da6a5c8d2587df85756e144a7f19e2825e249579",
        "x-ms-machineName": "identityservice-594d99f97d-22sqx"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASegAwIBAgIRAJPFM0U9atH/FyxjSZG43KMwCgYIKoZIzj0EAwIwFjEU\nMBIGA1UEAwwLQ0NGIFNlcnZpY2UwHhcNMjUwNDEyMDIzNTQyWhcNMjUwNzExMDIz\nNTQxWjAWMRQwEgYDVQQDDAtDQ0YgU2VydmljZTBZMBMGByqGSM49AgEGCCqGSM49\nAwEHA0IABKXu5jIyYkrwnDd7AbgETJmhZo6nVUoNyvwEhnQqtpNtTNpatuqeStO5\npqwROVGs78+1e5aZYl9PbUU4WgAAVByjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEw\nHQYDVR0OBBYEFP8+8aDGleF32ZZv+tkTUptWSZBwMB8GA1UdIwQYMBaAFP8+8aDG\nleF32ZZv+tkTUptWSZBwMAoGCCqGSM49BAMCA0gAMEUCIFIm93s37EvNMCcbEXiN\nUfmLsR6xgq41J+STWsjbJ2LiAiEA6nMWtEBK1YhONQEXbK1+KQZaWY5omEQsSm5m\nAO7/K5E=\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test9419"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.384"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.384/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.384"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.384"
      }
    },
[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.385"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-12-09-preview&collectionId=subledger:0&fromTransactionId=2.1",
        "state": "Loading"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=subledger:0&fromTransactionId=2.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.385"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-12-09-preview&collectionId=subledger:0&fromTransactionId=2.1",
        "state": "Loading"
      }
    },
[...]
