{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03020.245-cd77d0d5c8109fe7bf9e3ea1e1bb58b23d8a69d4",
        "x-ms-machineName": "identityservice-774866d8dd-lzjvs"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgjCCASegAwIBAgIRAMoitHXk6ST4k82ER7FMoqkwCgYIKoZIzj0EAwIwFjEU\nMBIGA1UEAwwLQ0NGIFNlcnZpY2UwHhcNMjUwNDE1MTg1NjE3WhcNMjUwNzE0MTg1\nNjE2WjAWMRQwEgYDVQQDDAtDQ0YgU2VydmljZTBZMBMGByqGSM49AgEGCCqGSM49\nAwEHA0IABLMsp42LuDWygP+9u0LY4rFxnmIvQIcY5Co+ErHzPL2Oz3HJFWaBx6Lt\nR+sX3pWv0rrjtzFm1uinz6OEpIbzDLCjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEw\nHQYDVR0OBBYEFAwz+tmikQ7uRiMx5Y5qZQzXIvQnMB8GA1UdIwQYMBaAFAwz+tmi\nkQ7uRiMx5Y5qZQzXIvQnMAoGCCqGSM49BAMCA0kAMEYCIQCH1lyhaaHnxli4yIQ8\nbhXzEgMnAMGBFx+RXr0sGmH0rAIhAPPXPJPrrfCSlw5jYOAhi2X984xEynHKYuZj\n5ILtESGz\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test8161"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2577"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.2577/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2577"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.2577"
      }
    },
[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2578"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-12-09-preview&collectionId=subledger:0&fromTransactionId=2.1",
        "state": "Loading"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=subledger:0&fromTransactionId=2.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2578"
      },
      "ResponseBody": {
        "entries":[...]
[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.2004?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2578"
      },
      "ResponseBody": {
        "entry": {
          "collectionId": "subledger:0",
          "contents": "test2364",
          "transactionId": "2.2004"
        },
        "state": "Ready"
      }
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t39ebcc31a92560c7.confidential-ledger.azure.com",
    "RandomSeed": "1449909340"
  }
}
