{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03017.238-da6a5c8d2587df85756e144a7f19e2825e249579",
        "x-ms-machineName": "identityservice-594d99f97d-22sqx"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgDCCASagAwIBAgIQbrtthvrXSjMU+xPe/2D4vDAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTA0MTIwMzQyMzdaFw0yNTA3MTEwMzQy\nMzZaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEiwKNMkZsWaORtXh+iA7hBPvxFoahoyv7hD2C2Z54uFYIU98rEs8VrqJ1\nBKFM6scyImz8F0iAVAfKDlHPoCTBW6NWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUAMP8l2A2qDIM2lin1RKPjuc/9CcwHwYDVR0jBBgwFoAUAMP8l2A2\nqDIM2lin1RKPjuc/9CcwCgYIKoZIzj0EAwIDSAAwRQIgZdWMNVfr5kfT800RVraB\nb/0M8z8lygFDKjdGXvJesukCIQCIRLGX54D7GxRRuDWP3vSouyqanuetb0Oa8Qmu\nT5A3+A==\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test5461"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.704"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.704/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.704"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.704"
      }
    },
[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.705"
      },
      "ResponseBody": {
        "entries": [
          {
            "collectionId": "subledger:0",
            "contents": "test9659",
            "transactionId": "2.37"
          },
          {
            "collectionId": "subledger:0",
            "contents": "test8079",
            "transactionId": "2.40"
          },
          {
            "collectionId": "subledger:0",
            "contents": "test7760",
            "transactionId": "2.43"
          },
          {
            "collectionId": "subledger:0",
            "contents"[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.37?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.705"
      },
      "ResponseBody": {
        "entry": {
          "collectionId": "subledger:0",
          "contents": "test9659",
          "transactionId": "2.37"
        },
        "state": "Ready"
      }
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t39ebcc31a92560c7.confidential-ledger.azure.com",
    "RandomSeed": "1937939808"
  }
}
