{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03017.238-da6a5c8d2587df85756e144a7f19e2825e249579",
        "x-ms-machineName": "identityservice-594d99f97d-5jvpz"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgDCCASagAwIBAgIQbrtthvrXSjMU+xPe/2D4vDAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTA0MTIwMzQyMzdaFw0yNTA3MTEwMzQy\nMzZaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEiwKNMkZsWaORtXh+iA7hBPvxFoahoyv7hD2C2Z54uFYIU98rEs8VrqJ1\nBKFM6scyImz8F0iAVAfKDlHPoCTBW6NWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUAMP8l2A2qDIM2lin1RKPjuc/9CcwHwYDVR0jBBgwFoAUAMP8l2A2\nqDIM2lin1RKPjuc/9CcwCgYIKoZIzj0EAwIDSAAwRQIgZdWMNVfr5kfT800RVraB\nb/0M8z8lygFDKjdGXvJesukCIQCIRLGX54D7GxRRuDWP3vSouyqanuetb0Oa8Qmu\nT5A3+A==\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test2775"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1170"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.1170/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1170"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.1170"
      }
    },
[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1171"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-12-09-preview&collectionId=subledger:0&fromTransactionId=2.1",
        "state": "Loading"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=subledger:0&fromTransactionId=2.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1171"
      },
      "ResponseBody": {
        "entries":[...]
[...]
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/transactions/2.1005/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1173"
      },
      "ResponseBody": {
        "state": "Committed",
        "transactionId": "2.1005"
      }
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t39ebcc31a92560c7.confidential-ledger.azure.com",
    "RandomSeed": "690527687"
  }
}
