{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03011.237-8eb772224b8dc663d3bef6b87f3f877faa4bbbc7",
        "x-ms-machineName": "identityservice-76447dd8bb-kvmc6"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQE38b5daoCuVYIACnApKPHzAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTA0MDQxMzU3MTNaFw0yNTA3MDMxMzU3\nMTJaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEJ8bIPICeIb1sbRQc3v3GmZBYwS3nnCgCDYjXyLXp6qdn6dHxe989Nheu\nzc7bZiNMyRtjfLfNTQEf2vUHDp+7tqNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUxICBHndvSRgdGfSgd/X5A+pXDScwHwYDVR0jBBgwFoAUxICBHndv\nSRgdGfSgd/X5A+pXDScwCgYIKoZIzj0EAwIDSQAwRgIhAOxa+kLgPWxhU2T0BmzE\nT/+i67MThQJlf6SjIdQpjY+VAiEA3INMOtjZ57DkH3IJL6zwIaJIqjKcLXc1oF3Y\nrjxUzyA=\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "test",
            "module": "function foo() {\r\n    return \"Test content\";\r\n}\r\n\r\nexport function content(request) {\r\n    return {\r\n        statusCode: 200,\r\n        body: {\r\n            payload: foo(),\r\n        },\r\n    };\r\n}\r\n"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.104"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints/modules?module_name=test&api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/javascript",
        "x-ms-ccf-transaction-id": "2.104"
      },
      "ResponseBody": [
        "function foo() {\r\n",
        "    return \"Test content\";\r\n",
        "}\r\n",
        "\r\n",
        "export function content(request) {\r\n",
        "    return {\r\n",
        "        statusCode: 200,\r\n",
        "        body: {\r\n",
        "            payload: foo(),\r\n",
        "        },\r\n",
        "    };\r\n",
        "}\r\n"
      ]
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "test",
            "module": "function foo() {\r\n    return \"Test content\";\r\n}\r\n\r\nexport function content(request) {\r\n    return {\r\n        statusCode: 200,\r\n        body: {\r\n            payload: foo(),\r\n        },\r\n    };\r\n}\r\n"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.105"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t39ebcc31a92560c7.confidential-ledger.azure.com",
    "RandomSeed": "2008864180"
  }
}
