{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03020.245-cd77d0d5c8109fe7bf9e3ea1e1bb58b23d8a69d4",
        "x-ms-machineName": "identityservice-774866d8dd-lzjvs"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgDCCASegAwIBAgIRALdPu4/xh3N2rJSrm6l/UvowCgYIKoZIzj0EAwIwFjEU\nMBIGA1UEAwwLQ0NGIFNlcnZpY2UwHhcNMjUwNDE0MTcyODA3WhcNMjUwNzEzMTcy\nODA2WjAWMRQwEgYDVQQDDAtDQ0YgU2VydmljZTBZMBMGByqGSM49AgEGCCqGSM49\nAwEHA0IABDR9h/wIgcqgPqdHPToATfyeQ/h7utJF5iwLUA8vQ9zDFWlC5a0AlTV1\n+5X2GXMNOM8+r7JHJkrs/ifve9AJTu+jVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEw\nHQYDVR0OBBYEFC1nC1rVBSNrxkWaE6dXKstuvW0SMB8GA1UdIwQYMBaAFC1nC1rV\nBSNrxkWaE6dXKstuvW0SMAoGCCqGSM49BAMCA0cAMEQCIB5uCEzl+pNEbuZGq9mb\n3SstNBGks/VKzlS3bhcqUeYCAiAivQstbwmJJFm9dp7lD0tuIgQgafwT/jXPKK+s\nuCi+ug==\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedFunctions?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3991"
      },
      "ResponseBody": {
        "functions": []
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "test",
            "module": "function foo() {\r\n    return \"Test content\";\r\n}\r\n\r\nexport function content(request) {\r\n    return {\r\n        statusCode: 200,\r\n        body: {\r\n            payload: foo(),\r\n        },\r\n    };\r\n}\r\n"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.3992"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints/modules?module_name=test&api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/javascript",
        "x-ms-ccf-transaction-id": "2.3993"
      },
      "ResponseBody": [
        "function foo() {\r\n",
        "    return \"Test content\";\r\n",
        "}\r\n",
        "\r\n",
        "export function content(request) {\r\n",
        "    return {\r\n",
        "        statusCode: 200,\r\n",
        "        body: {\r\n",
        "            payload: foo(),\r\n",
        "        },\r\n",
        "    };\r\n",
        "}\r\n"
      ]
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t39ebcc31a92560c7.confidential-ledger.azure.com",
    "RandomSeed": "1130635976"
  }
}
