{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t8c7bfa9e146b8f4d?api-version=2024-08-22-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.02943.192-c216a8c095a69413276adbebdcab4675d63d713e",
        "x-ms-machineName": "identityservice-5d75844c79-nc2ks"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASegAwIBAgIRAO3a/xfyxvyn0Zg7FyykmywwCgYIKoZIzj0EAwIwFjEU\nMBIGA1UEAwwLQ0NGIFNlcnZpY2UwHhcNMjUwMjA0MTgwNjA2WhcNMjUwNTA1MTgw\nNjA1WjAWMRQwEgYDVQQDDAtDQ0YgU2VydmljZTBZMBMGByqGSM49AgEGCCqGSM49\nAwEHA0IABDwsDs7fULavi1PkrL+MnM+zavhodLkNvsOvCKeC3naYyxhHhAVN/xoq\nNCm0Ea9p3WlTrwzU20G++4FGCNW3KCajVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEw\nHQYDVR0OBBYEFB/SKaedwxtviewUX4zJOk1zZtyHMB8GA1UdIwQYMBaAFB/SKaed\nwxtviewUX4zJOk1zZtyHMAoGCCqGSM49BAMCA0gAMEUCIBl3gftxy8/yYmBjxD8m\nWCWTgSAjzEw6B7uNNO1wddraAiEAuD4LpoUnmMLJukwzMKX83uWVOW8I8Pb4Zz3J\n0g39J14=\n-----END CERTIFICATE-----\n",
        "ledgerId": "t8c7bfa9e146b8f4d"
      }
    },
    {
      "RequestUri": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-08-22-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "test",
            "module": "function foo() {\r\n    return \"Test content\";\r\n}\r\n\r\nexport function content(request) {\r\n    return {\r\n        statusCode: 200,\r\n        body: {\r\n            payload: foo(),\r\n        },\r\n    };\r\n}\r\n"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.1245"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com/app/userDefinedEndpoints/modules?module_name=test&api-version=2024-08-22-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/javascript",
        "x-ms-ccf-transaction-id": "2.1245"
      },
      "ResponseBody": [
        "function foo() {\r\n",
        "    return \"Test content\";\r\n",
        "}\r\n",
        "\r\n",
        "export function content(request) {\r\n",
        "    return {\r\n",
        "        statusCode: 200,\r\n",
        "        body: {\r\n",
        "            payload: foo(),\r\n",
        "        },\r\n",
        "    };\r\n",
        "}\r\n"
      ]
    },
    {
      "RequestUri": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-08-22-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "test",
            "module": "function foo() {\r\n    return \"Test content\";\r\n}\r\n\r\nexport function content(request) {\r\n    return {\r\n        statusCode: 200,\r\n        body: {\r\n            payload: foo(),\r\n        },\r\n    };\r\n}\r\n"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.1246"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t8c7bfa9e146b8f4d.confidential-ledger.azure.com",
    "RandomSeed": "745542848"
  }
}
