{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03020.245-cd77d0d5c8109fe7bf9e3ea1e1bb58b23d8a69d4",
        "x-ms-machineName": "identityservice-774866d8dd-6pwgd"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQcjAeV8PIpIXTgRAqsfYLTjAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTA0MTYxNzI0MjNaFw0yNTA3MTUxNzI0\nMjJaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEN0OlGYspw0ZY81U9dA4hhGuj0h0lO5cCtGBkEnCAeYt0AtrIWdc0R/Wl\nowET+IpDk0uPBUYPQ/+G9VNkwklFu6NWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUc46yPB1ZDBNFP2Na3qGKDHrUcTkwHwYDVR0jBBgwFoAUc46yPB1Z\nDBNFP2Na3qGKDHrUcTkwCgYIKoZIzj0EAwIDSQAwRgIhAJpt0bFbTlQWxHgcjpoz\nSSMe3FCqykQ0CWLqtC0q+H7vAiEAnbHZSd8SKBZAhDkJnvoLliSZgoOl3QF1HKvb\nQcP55no=\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedFunctions?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "8.4860"
      },
      "ResponseBody": {
        "functions": []
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "content": {
              "get": {
                "js_module": "test.js",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "test.js",
            "module": "import { foo } from \"./bar/baz.js\"; export function content(request) { return { statusCode: 200, body: { payload: foo(), }, }; } "
          },
          {
            "name": "bar/baz.js",
            "module": "export function foo() { return \"Test content\"; } "
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "8.4861"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints/modules?module_name=test.js&api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/javascript",
        "x-ms-ccf-transaction-id": "8.4861"
      },
      "ResponseBody": "import { foo } from \"./bar/baz.js\"; export function content(request) { return { statusCode: 200, body: { payload: foo(), }, }; } "
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "content": {
              "get": {
                "js_module": "test.js",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "test.js",
            "module": "import { foo } from \"./bar/baz.js\"; export function content(request) { return { statusCode: 200, body: { payload: foo(), }, }; } "
          },
          {
            "name": "bar/baz.js",
            "module": "export function foo() { return \"Test content\"; } "
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "8.4862"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t39ebcc31a92560c7.confidential-ledger.azure.com",
    "RandomSeed": "1291326916"
  }
}
