{
  "Entries": [
    {
      "RequestUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/t39ebcc31a92560c7?api-version=2024-12-09-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03017.238-da6a5c8d2587df85756e144a7f19e2825e249579",
        "x-ms-machineName": "identityservice-594d99f97d-22sqx"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASegAwIBAgIRAKJd0u1W3fIapCTW2wvIH64wCgYIKoZIzj0EAwIwFjEU\nMBIGA1UEAwwLQ0NGIFNlcnZpY2UwHhcNMjUwNDExMTYxMzQ0WhcNMjUwNzEwMTYx\nMzQzWjAWMRQwEgYDVQQDDAtDQ0YgU2VydmljZTBZMBMGByqGSM49AgEGCCqGSM49\nAwEHA0IABHRiKUXjcqMLLmA6AUmJMafBEWzW3++OkbuNyuEEUlrqx2WkX2FPVqRS\nn0zfcU6avHH3VobLz9IenBZH4hq2Qu6jVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEw\nHQYDVR0OBBYEFJL/Hdaef9sI9kbnK0hfhFEFl3tnMB8GA1UdIwQYMBaAFJL/Hdae\nf9sI9kbnK0hfhFEFl3tnMAoGCCqGSM49BAMCA0gAMEUCIQDPNLfRycTfhrdPOv40\n9uYiyeqZPOKwkAtoCR9VAA5iHQIgHDhlKemMBS+bkGc9DJcoJeUNy1JY/2oWrkZb\nU8383C8=\n-----END CERTIFICATE-----\n",
        "ledgerId": "t39ebcc31a92560c7"
      }
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "test",
            "module": "function foo() {\r\n    return \"Test content\";\r\n}\r\n\r\nexport function content(request) {\r\n    return {\r\n        statusCode: 200,\r\n        body: {\r\n            payload: foo(),\r\n        },\r\n    };\r\n}\r\n"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.2415"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints/modules?module_name=test&api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/javascript",
        "x-ms-ccf-transaction-id": "2.2415"
      },
      "ResponseBody": [
        "function foo() {\r\n",
        "    return \"Test content\";\r\n",
        "}\r\n",
        "\r\n",
        "export function content(request) {\r\n",
        "    return {\r\n",
        "        statusCode: 200,\r\n",
        "        body: {\r\n",
        "            payload: foo(),\r\n",
        "        },\r\n",
        "    };\r\n",
        "}\r\n"
      ]
    },
    {
      "RequestUri": "https://t39ebcc31a92560c7.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {}
        },
        "modules": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.2416"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://t39ebcc31a92560c7.confidential-ledger.azure.com",
    "RandomSeed": "1424988040"
  }
}
