{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.022"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/amltest5899420437",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/amltest0996578422",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/amltest6460044560",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/0bdd51b6cd9c4978b87099997b393b81",
          "creationTime": "2023-05-19T09:41:39.7603352Z",
          "notebookInfo": {
            "resourceId": "386598570e7049b7a1b260159bb0e047",
            "fqdn": "ml-amltest-eastus2-0bdd51b6-cd9c-4978-b870-99997b393b81.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "0bdd51b6-cd9c-4978-b870-99997b393b81",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": null,
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "azureOpenAI": {
            "provisioningState": "NotStarted",
            "resourceId": null,
            "endpoint": null,
            "proxyResourceId": null,
            "failureReason": null,
            "deployedModels": []
          },
          "endpointResources": {}
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "372c30a9-c04f-422f-b38c-872e6b7d5540",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-05-19T09:41:39.7603352Z",
          "createdBy": "chenyzhang@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-05-19T09:41:39.7603352Z",
          "lastModifiedBy": "chenyzhang@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test-model2/versions/1/package?api-version=2023-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inferencingServer": {
          "serverType": "AzureMLOnline"
        },
        "modelConfiguration": {
          "mode": "copy"
        },
        "targetEnvironmentId": "azureml://locations/eastus2/workspaces/0bdd51b6-cd9c-4978-b870-99997b393b81/environments/my-package-name"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "0.120"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "The request is invalid.",
          "details": [
            {
              "code": "ValidationFailure",
              "message": "Validation of no-code-deployment path failed. Error: \u0027There is no registered model in Account Subscription: 00000000-0000-0000-0000-000000000, ResourceGroup: 00000, Workspace: 00000 with id test-model2:1\u0027",
              "details": [],
              "additionalInfo": []
            }
          ],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "0e624763a212381bbf95fb7d2f176504",
                  "request": "0c02e497a0538138"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-10-31T16:03:24.7860861\u002B00:00"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
