{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/synonymmaps?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "jfdskpra",
        "format": "solr",
        "synonyms": "Afghanistan,AF,AFG\nÅland Islands,AX,ALA\nAlbania,AL,ALB\nAlgeria,DZ,DZA\nAmerican Samoa,AS,ASM\nAndorra,AD,AND\nAngola,AO,AGO\nAnguilla,AI,AIA\nAntarctica,AQ,ATA\nAntigua and Barbuda,AG,ATG\nArgentina,AR,ARG\nArmenia,AM,ARM\nAruba,AW,ABW\nAustralia,AU,AUS\nAustria,AT,AUT\nAzerbaijan,AZ,AZE\nBahamas,BS,BHS\nBahrain,BH,BHR\nBangladesh,BD,BGD\nBarbados,BB,BRB\nBelarus,BY,BLR\nBelgium,BE,BEL\nBelize,BZ,BLZ\nBenin,BJ,BEN\nBermuda,BM,BMU\nBhutan,BT,BTN\nBolivia,Plurinational State of Bolivia,BO,BOL[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "jftfjdxe",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "DescriptionFr",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "Tags",
            "type": "Collection(Edm.String)",
            "key": false,
            "retrievable": true,
          [...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/datasources?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "mgtxksaa",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "oiimwury"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "82",
        "ETag": "\"0x8DE20A7B059BFCE\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/datasources('mgtxksaa')?api-version=2025-11-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DE20A7B059BFCE\"",
        "name": "mgtxksaa",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "indexerPermissionOptions": [],
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "oiimwury",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/skillsets?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "equovsym",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.TranslationSkill",
            "name": "descriptionFrTranslation",
            "context": "/document",
            "inputs": [
              {
                "name": "text",
                "source": "/document/Description"
              }
            ],
            "outputs": [
              {
                "name": "translatedText",
                "targetName": "descriptionFrTranslated"
              }
            ],
            "defaultToLanguageCode": "fr",
            "defaultFromLanguageCode": "en"
          },
          {
            "@odata.type": "#Microsoft.Skills.Util.ConditionalSkill",
            "name": "descriptionFrConditional",
            "context": "/document",
            "inputs": [
              {
                "name": "condition",
                "source": "= $(/document/DescriptionFr) == null"
              },
              {
                "name": "whenTrue",
                "source": "/document/descriptionFrTranslated"
              },
              {
                "name": "whenFalse",
                "source": "/document/DescriptionFr"
              }
            ],
            "outputs": [
              {
                "name": "output",
                "targetName": "descriptionFrFinal"
              }
            ]
          }
        ],
        "cognitiveServices": {
          "@odata.type": "#Microsoft.Azure.Search.CognitiveServicesByKey",
          "key": "9282a916734045e18a617b656378f92e"
        },
        "knowledgeStore": {
          "storageConnectionString": "Sanitized",
          "projections": []
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1181",
        "ETag": "\"0x8DE20A7B1131786\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/skillsets('equovsym')?api-version=2025-11-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\"0x8DE20A7B1131786\"",
        "name": "equovsym",
        "description": null,
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.TranslationSkill",
            "name": "descriptionFrTranslation",
            "description": null,
            "context": "/document",
            "defaultFromLanguageCode": "en",
            "defaultToLanguageCode": "fr",
            "suggestedFrom": null,
            "inputs": [
              {
                "name": "text",
                "source": "/document/Description",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "translatedText",
                "targetName": "descriptionFrTranslated"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Util.ConditionalSkill",
            "name": "descriptionFrConditional",
            "description": null,
            "context": "/document",
            "inputs": [
              {
            [...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexers?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "eqasyfjk",
        "dataSourceName": "mgtxksaa",
        "skillsetName": "equovsym",
        "targetIndexName": "jftfjdxe",
        "parameters": {
          "configuration": {
            "parsingMode": "json"
          }
        },
        "fieldMappings": [
          {
            "sourceFieldName": "HotelId"
          },
          {
            "sourceFieldName": "HotelName"
          },
          {
            "sourceFieldName": "Description"
          },
          {
            "sourceFieldName": "Tags"
          },
          {
            "sourceFieldName": "Address"
          }
        ],
        "outputFieldMappings": [
          {
            "sourceFieldName": "/document/descriptionFrFinal",
            "targetFieldName": "DescriptionFr"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "252",
        "ETag": "\"0x8DE20A7B133259F\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/indexers('eqasyfjk')?api-version=2025-11-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DE20A7B133259F\"",
        "name": "eqasyfjk",
        "description": null,
        "dataSourceName": "mgtxksaa",
        "skillsetName": "equovsym",
        "targetIndexName": "jftfjdxe",
        "disabled": null,
        "schedule": null,
        "parameters": {
          "batchSize": null,
          "maxFailedItems": null,
          "maxFailedItemsPerBatch": null,
          "configuration": {
            "parsingMode": "json"
          }
        },
        "fieldMappings": [
          {
            "sourceFieldName": "HotelId",
            "targetFieldName": "HotelId",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "HotelName",
            "targetFieldName": "HotelName",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "Description",
            "targetFieldName": "Description",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "Tags",
            "targetFieldName": "Tags",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "Address",
            "targetFieldName": "Address",
            "mappingFunction": null
          }
        ],
        "outputFieldMappings": [
          {
            "sourceFieldName": "/document/descriptionFrFinal",
            "targetFieldName": "DescriptionFr",
            "mappingFunction": null
          }
        ],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexers('eqasyfjk')/search.status?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "26",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_11_01_Preview.IndexerExecutionInfo",
        "name": "eqasyfjk",
        "status": "running",
        "runtime": null,
        "lastResult": {
          "status": "success",
          "statusDetail": null,
          "errorMessage": null,
          "startTime": "2025-11-10T22:22:54.637Z",
          "endTime": "2025-11-10T22:22:56.013Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2025-11-10T22:22:54.682Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
          "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2025-11-10T22:22:24.6829827+00:00\",\"LastAttemptedEnumerationStartTime\":\"2025-11-10T22:22:24.6829827+00:00\",\"NameHighWaterMark\":null}",
          "mode": "indexingAllDocs",
          "errors": [],
          "warnings": [
            {
              "key": "localId=6&documentKey=6",
              "name": "Enrichment.ConditionalSkill.descriptionFrConditional",
              "message": "Skill executed but may have unexpected results because one or more skill input was invalid.",
              "details": "Optional skill input is missing or empty. Name: 'whenFalse', Source: '$(/document/DescriptionFr)'.\r\nExpression language parsing issues:\nMissing or empty value '/document/DescriptionFr'.",
              "documentationLink": "https://go.microsoft.com/fwlink/?linkid=2106385"
            }
          ],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2025-11-10T22:22:54.637Z",
            "endTime": "2025-11-10T22:22:56.013Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2025-11-10T22:22:54.682Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
            "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2025-11-10T22:22:24.6829827+00:00\",\"LastAttemptedEnumerationStartTime\":\"2025-11-10T22:22:24.6829827+00:00\",\"NameHighWaterMark\":null}",
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [
              {
                "key": "localId=6&documentKey=6",
                "name": "Enrichment.ConditionalSkill.descriptionFrConditional",
                "message": "Skill executed but may have unexpected results because one or more skill input was invalid.",
                "details": "Optional skill input is missing or empty. Name: 'whenFalse', Source: '$(/document/DescriptionFr)'.\r\nExpression language parsing issues:\nMissing or empty value '/document/DescriptionFr'.",
                "documentationLink": "https://go.microsoft.com/fwlink/?linkid=2106385"
              }
            ],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "PT2H",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 524288
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2025-11-10T22:22:54.682Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
          "allDocsFinalTrackingState": "{\"LastFullEnumerationStartTime\":\"2025-11-10T22:22:24.6829827+00:00\",\"LastAttemptedEnumerationStartTime\":\"2025-11-10T22:22:24.6829827+00:00\",\"NameHighWaterMark\":null}",
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": [],
          "resyncInitialTrackingState": null,
          "resyncFinalTrackingState": null
        }
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('jftfjdxe')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "ocean view"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "87",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 0.85747814,
            "HotelId": "6",
            "HotelName": null,
            "Description": "Surprisingly expensive. Model suites have an ocean-view.",
            "DescriptionFr": "Étonnamment cher. Les suites modèles offrent une vue sur l’océan.",
            "Tags": [],
            "Address": null
          },
          {
            "@search.score": 0.82257307,
            "HotelId": "1",
            "HotelName": "Fancy Stay",
            "Description": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
            "DescriptionFr": "Meilleur hôtel en ville si vous aimez les hôtels de luxe. Ils ont une magnifique piscine à débordement, un spa et un concierge très utile. L'emplacement est parfait – en plein centre, à proximité de toutes les attractions touristiques. Nous recommandons fortement cet hôtel.",
            "Tags": [
              "pool",
              "view",
              "wifi",
              "concierge"
            ],
            "Address": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexers('eqasyfjk')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "74",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/skillsets('equovsym')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "35",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/datasources('mgtxksaa')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "25",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('jftfjdxe')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "186",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/synonymmaps('jfdskpra')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "22",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "oiimwury",
    "RandomSeed": "1494528834",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_COGNITIVE_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "azssdkteststg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
