{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/servicestats?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "116",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azsearchsdktest.search.windows.net/$metadata#Microsoft.Azure.Search.V2026_05_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 828,
            "quota": null
          },
          "indexesCount": {
            "usage": 10,
            "quota": 15
          },
          "indexersCount": {
            "usage": 3,
            "quota": 15
          },
          "dataSourcesCount": {
            "usage": 3,
            "quota": 15
          },
          "storageSize": {
            "usage": 1748597,
            "quota": 16106127360
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          },
          "skillsetCount": {
            "usage": 3,
            "quota": 15
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 30
          },
          "vectorIndexSize": {
            "usage": 313800,
            "quota": 5368709120
          },
          "knowledgeBasesCount": {
            "usage": 0,
            "quota": 15
          },
          "knowledgeSourcesCount": {
            "usage": 0,
            "quota": 15
          }
        },
        "indexersRuntime": {
          "usedSeconds": 0,
          "remainingSeconds": null,
          "beginningTime": "2026-05-13T00:00:00Z",
          "endingTime": "2026-05-14T00:00:00Z"
        },
        "limits": {
          "maxStoragePerIndex": 16106127360,
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000,
          "maxCumulativeIndexerRuntimeSeconds": null
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "474932202",
    "SearchIndexName": "rfdklxit",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
