{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/servicestats?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_05_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 4474,
            "quota": null
          },
          "indexesCount": {
            "usage": 7,
            "quota": 50
          },
          "indexersCount": {
            "usage": 14,
            "quota": 50
          },
          "dataSourcesCount": {
            "usage": 50,
            "quota": 50
          },
          "storageSize": {
            "usage": 152158469,
            "quota": 26843545600
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 5
          },
          "skillsetCount": {
            "usage": 22,
            "quota": 50
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 100
          },
          "vectorIndexSize": {
            "usage": 27625092,
            "quota": 3221225472
          }
        },
        "limits": {
          "maxStoragePerIndex": 26843545600,
          "maxFieldsPerIndex": 3000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "814993598",
    "SearchIndexName": "xmadhsmy",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
