{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/servicestats?api-version=2023-07-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_07_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 50,
            "quota": null
          },
          "indexesCount": {
            "usage": 6,
            "quota": 15
          },
          "indexersCount": {
            "usage": 0,
            "quota": 15
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 15
          },
          "storageSize": {
            "usage": 920492,
            "quota": 2147483648
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 15
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 10
          },
          "vectorIndexSize": {
            "usage": 125128,
            "quota": 1073741824
          }
        },
        "limits": {
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "557640472",
    "SearchIndexName": "fkilijbo",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
