{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "ijwbkjej",
        "format": "solr",
        "synonyms": "Afghanistan,AF,AFG\n\u00C5land Islands,AX,ALA\nAlbania,AL,ALB\nAlgeria,DZ,DZA\nAmerican Samoa,AS,ASM\nAndorra,AD,AND\nAngola,AO,AGO\nAnguilla,AI,AIA\nAntarctica,AQ,ATA\nAntigua and Barbuda,AG,ATG\nArgentina,AR,ARG\nArmenia,AM,ARM\nAruba,AW,ABW\nAustralia,AU,AUS\nAustria,AT,AUT\nAzerbaijan,AZ,AZE\nBahamas,BS,BHS\nBahrain,BH,BHR\nBangladesh,BD,BGD\nBarbados,BB,BRB\nBelarus,BY,BLR\nBelgium,BE,BEL\nBelize,BZ,BLZ\nBenin,BJ,BEN\nBermuda,BM,BMU\nBhutan,BT,BTN\nBolivia,Plurinational State of Bolivia,B[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "aejmdsng",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "DescriptionFr",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "Tags",
            "type": "Collection(Edm.String)",
            "key": false,
            "retrievable": true,
          [...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "jmckbdmq",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "dpfajhtt"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "163",
        "ETag": "\u00220x8DBDA6A1168C293\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/datasources(\u0027jmckbdmq\u0027)?api-version=2023-11-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DBDA6A1168C293\u0022",
        "name": "jmckbdmq",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "dpfajhtt",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/skillsets?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "wdaoatih",
        "skills": [
          {
            "defaultToLanguageCode": "fr",
            "defaultFromLanguageCode": "en",
            "@odata.type": "#Microsoft.Skills.Text.TranslationSkill",
            "name": "descriptionFrTranslation",
            "context": "/document",
            "inputs": [
              {
                "name": "text",
                "source": "/document/Description"
              }
            ],
            "outputs": [
              {
                "name": "translatedText",
                "targetName": "descriptionFrTranslated"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Util.ConditionalSkill",
            "name": "descriptionFrConditional",
            "context": "/document",
            "inputs": [
              {
                "name": "condition",
                "source": "= $(/document/DescriptionFr) == null"
              },
              {
                "name": "whenTrue",
                "source": "/document/descriptionFrTranslated"
              },
              {
                "name": "whenFalse",
                "source": "/document/DescriptionFr"
              }
            ],
            "outputs": [
              {
                "name": "output",
                "targetName": "descriptionFrFinal"
              }
            ]
          }
        ],
        "cognitiveServices": {
          "key": "d4ce9ef73d0c4e1b8b711fd54511a6d4",
          "@odata.type": "#Microsoft.Azure.Search.CognitiveServicesByKey"
        },
        "knowledgeStore": {
          "storageConnectionString": "DefaultEndpointsProtocol=https;AccountName=shrejasearchservicestg;AccountKey=AVO1R6rAGCHO9TfNLiDynrARMPvqRnhLG6mAf25A\u002BNS8bvhjjlkcSfEV6vYHzwRYHLsZejhQrc6U\u002BAStNo0DFw==;EndpointSuffix=core.windows.net",
          "projections": []
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1145",
        "ETag": "\u00220x8DBDA6A12209161\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/skillsets(\u0027wdaoatih\u0027)?api-version=2023-11-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\u00220x8DBDA6A12209161\u0022",
        "name": "wdaoatih",
        "description": null,
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.TranslationSkill",
            "name": "descriptionFrTranslation",
            "description": null,
            "context": "/document",
            "defaultFromLanguageCode": "en",
            "defaultToLanguageCode": "fr",
            "suggestedFrom": null,
            "inputs": [
              {
                "name": "text",
                "source": "/document/Description",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "translatedText",
                "targetName": "descriptionFrTranslated"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Util.ConditionalSkill",
            "name": "descriptionFrConditional",
            "description": null,
            "context": "/document",
            "inputs": [
              {
            [...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "upysqnqf",
        "dataSourceName": "jmckbdmq",
        "skillsetName": "wdaoatih",
        "targetIndexName": "aejmdsng",
        "parameters": {
          "configuration": {
            "parsingMode": "json"
          }
        },
        "fieldMappings": [
          {
            "sourceFieldName": "HotelId"
          },
          {
            "sourceFieldName": "HotelName"
          },
          {
            "sourceFieldName": "Description"
          },
          {
            "sourceFieldName": "Tags"
          },
          {
            "sourceFieldName": "Address"
          }
        ],
        "outputFieldMappings": [
          {
            "sourceFieldName": "/document/descriptionFrFinal",
            "targetFieldName": "DescriptionFr"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1171",
        "ETag": "\u00220x8DBDA6A12C17EC3\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027upysqnqf\u0027)?api-version=2023-11-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBDA6A12C17EC3\u0022",
        "name": "upysqnqf",
        "description": null,
        "dataSourceName": "jmckbdmq",
        "skillsetName": "wdaoatih",
        "targetIndexName": "aejmdsng",
        "disabled": null,
        "schedule": null,
        "parameters": {
          "batchSize": null,
          "maxFailedItems": null,
          "maxFailedItemsPerBatch": null,
          "base64EncodeKeys": null,
          "configuration": {
            "parsingMode": "json"
          }
        },
        "fieldMappings": [
          {
            "sourceFieldName": "HotelId",
            "targetFieldName": "HotelId",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "HotelName",
            "targetFieldName": "HotelName",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "Description",
            "targetFieldName": "Description",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "Tags",
            "targetFieldName": "Tags",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "Address",
            "targetFieldName": "Address",
            "mappingFunction": null
          }
        ],
        "outputFieldMappings": [
          {
            "sourceFieldName": "/document/descriptionFrFinal",
            "targetFieldName": "DescriptionFr",
            "mappingFunction": null
          }
        ],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027upysqnqf\u0027)/search.status?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "65",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_11_01.IndexerExecutionInfo",
        "name": "upysqnqf",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2023-10-31T23:35:33.974Z",
          "endTime": "2023-10-31T23:35:36.709Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-31T23:35:34.068Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-31T23:35:04.0684055\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-31T23:35:04.0684055\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [
            {
              "key": "localId=6\u0026documentKey=6",
              "name": "Enrichment.ConditionalSkill.descriptionFrConditional",
              "message": "Skill executed but may have unexpected results because one or more skill input was invalid.",
              "details": "Optional skill input is missing or empty. Name: \u0027whenFalse\u0027, Source: \u0027$(/document/DescriptionFr)\u0027.\r\nExpression language parsing issues:\nMissing or empty value \u0027/document/DescriptionFr\u0027.",
              "documentationLink": "https://go.microsoft.com/fwlink/?linkid=2106385"
            }
          ],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2023-10-31T23:35:33.974Z",
            "endTime": "2023-10-31T23:35:36.709Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-31T23:35:34.068Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027aejmdsng\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "ocean view"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "264",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 0.85747814,
            "HotelId": "6",
            "HotelName": null,
            "Description": "Surprisingly expensive. Model suites have an ocean-view.",
            "DescriptionFr": "\u00C9tonnamment cher. Les suites mod\u00E8les offrent une vue sur l\u2019oc\u00E9an.",
            "Tags": [],
            "Address": null
          },
          {
            "@search.score": 0.82257307,
            "HotelId": "1",
            "HotelName": "Fancy Stay",
            "Description": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
            "DescriptionFr": "Meilleur h\u00F4tel en ville si vous aimez les h\u00F4tels de luxe. Ils ont une magnifique piscine \u00E0 d\u00E9bordement, un spa et un concierge tr\u00E8s utile. L\u0027emplacement est parfait \u2013 en plein centre, \u00E0 proximit\u00E9 de toutes les attractions touristiques. Nous recommandons fortement cet h\u00F4tel.",
            "Tags": [
              "pool",
              "view",
              "wifi",
              "concierge"
            ],
            "Address": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027upysqnqf\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "68",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/skillsets(\u0027wdaoatih\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "39",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources(\u0027jmckbdmq\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "21",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027aejmdsng\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "129",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps(\u0027ijwbkjej\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "16",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "dpfajhtt",
    "RandomSeed": "598524262",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_COGNITIVE_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shrejasearchservicestg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
