{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/servicestats?api-version=2025-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_08_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 10,
            "quota": null
          },
          "indexesCount": {
            "usage": 2,
            "quota": 15
          },
          "indexersCount": {
            "usage": 0,
            "quota": 15
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 15
          },
          "storageSize": {
            "usage": 276571,
            "quota": 16106127360
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 15
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 30
          },
          "vectorIndexSize": {
            "usage": 62640,
            "quota": 5368709120
          }
        },
        "indexersRuntime": null,
        "limits": {
          "maxStoragePerIndex": 16106127360,
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000,
          "maxCumulativeIndexerRuntimeSeconds": null
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1836982359",
    "SearchIndexName": "ysydltvg",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch"
  }
}
