{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.search.windows.net/servicestats?api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://camaiaor.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_03_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 0,
            "quota": null
          },
          "indexesCount": {
            "usage": 13,
            "quota": 50
          },
          "indexersCount": {
            "usage": 0,
            "quota": 50
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 50
          },
          "storageSize": {
            "usage": 0,
            "quota": 171798691840
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 5
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 50
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 100
          },
          "vectorIndexSize": {
            "usage": 0,
            "quota": 37580963840
          }
        },
        "limits": {
          "maxStoragePerIndex": 171798691840,
          "maxFieldsPerIndex": 3000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "526130995",
    "SearchIndexName": "rjdgqden",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "camaiaor"
  }
}
