{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027doesnotexist\u0027)/docs/$count?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The index \u0027doesnotexist\u0027 for service \u0027azs-net-shrejasearchtest\u0027 was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "676176835",
    "SearchIndexName": "qgvwkxlf",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
