{
  "Entries": [
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/indexes('doesnotexist')/docs/$count?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The index 'doesnotexist' for service 'shrejasearchtme' was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "866152166",
    "SearchIndexName": "ombkhgoh",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "shrejasearchtme"
  }
}
