{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('doesnotexist')/docs/$count?api-version=2025-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "8"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The index 'doesnotexist' for service 'azs-net-shivangisearch' was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1599604300",
    "SearchIndexName": "ysydltvg",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch"
  }
}
