{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('doesnotexist')/docs/$count?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "6"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The index 'doesnotexist' for service 'azs-net-shivangisearchtest4' was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1610257153",
    "SearchIndexName": "juaattyc",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4"
  }
}
