{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027humbqgsl\u0027)/docs/search.index?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "11",
            "rating": 3
          },
          {
            "@search.action": "upload",
            "hotelId": "12",
            "rating": 2
          },
          {
            "@search.action": "upload",
            "hotelId": "13",
            "rating": 4
          },
          {
            "@search.action": "upload",
            "hotelId": "14",
            "rating": 3
          },
          {
            "@search.action": "upload",
            "hotelId": "15",
            "rating": 1
          },
          {
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027humbqgsl\u0027)/docs/search.post.search?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": "Rating gt 2",
        "sessionId": "Session-1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "28",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.nextPageParameters": {
          "filter": "Rating gt 2",
          "sessionId": "Session-1",
          "skip": 50
        },
        "value": [
          {
            "@search.score": 1.0,
            "HotelId": "136",
            "HotelName": null,
            "Description": null,
            "DescriptionFr": null,
            "Category": null,
            "Tags": [],
            "ParkingIncluded": null,
            "SmokingAllowed": null,
            "LastRenovationDate": null,
            "Rating": 3,
            "Location": null,
            "GeoLocation": null,
            "Address": null,
            "Rooms": []
          },
          {
            "@search.score": 1.0,
            "HotelId": "149",
            "HotelName": null,
            "Description": null,
            "DescriptionFr": null,
            "Category": null,
            "Tags": [],
            "ParkingIncluded": null,
            "SmokingAllowed": null,
            "LastRenovationDate": null,
            "Rating": 4,
            "Location": null,
            "GeoLocation": null,
            "Address": null,
            "Rooms": []
[...]
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027humbqgsl\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "178",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "672713432",
    "SearchIndexName": "humbqgsl",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
