{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1768284495425?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1768284495425",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"d1FClOUs8ET03fAOTLMDNfCkLKyMc0K1yj6HSCz7zvo\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3Njg4NA==;sn=102476884",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:20 GMT"
      },
      "ResponseBody": {
        "etag": "d1FClOUs8ET03fAOTLMDNfCkLKyMc0K1yj6HSCz7zvo",
        "key": "key1-1768284495425",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1768284495425?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3Njg4NA=="
      },
      "RequestBody": {
        "key": "key2-1768284495425",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_q6G9qNOhXfD9uU2bvD51HGBkPXJE-riZ7WRC927MWU\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3Njg4OQ==;sn=102476889",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:20 GMT"
      },
      "ResponseBody": {
        "etag": "_q6G9qNOhXfD9uU2bvD51HGBkPXJE-riZ7WRC927MWU",
        "key": "key2-1768284495425",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768284495425?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3Njg4OQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1768284495425",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Evafx8wRgb3exWlUkfyxaipyQyqiGVaJMPATq8DWrzg\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:20 GMT",
        "Link": "</kv?snapshot=snapshot-1768284495425&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1768284495425&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3Njg5NQ==;sn=102476895",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:20 GMT"
      },
      "ResponseBody": {
        "etag": "Evafx8wRgb3exWlUkfyxaipyQyqiGVaJMPATq8DWrzg",
        "name": "snapshot-1768284495425",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1768284495425",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-13T06:08:20.8160785+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1768284495425",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3Njg5NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3Njg5Nw==;sn=102476897",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:20 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768284495425?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzAzNw=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"DPJ7teLQUfkZ6jXrgeGPh7MxP5ux1XBDe2i6t1Naos8\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:22 GMT",
        "Link": "</kv?snapshot=snapshot-1768284495425&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzAzOQ==;sn=102477039",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:31 GMT"
      },
      "ResponseBody": {
        "etag": "DPJ7teLQUfkZ6jXrgeGPh7MxP5ux1XBDe2i6t1Naos8",
        "name": "snapshot-1768284495425",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1768284495425",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-13T06:08:20+00:00",
        "expires": "2026-02-12T06:08:31.4730035+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1768284495425?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzA0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_q6G9qNOhXfD9uU2bvD51HGBkPXJE-riZ7WRC927MWU\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzA0Mw==;sn=102477043",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:31 GMT"
      },
      "ResponseBody": {
        "etag": "_q6G9qNOhXfD9uU2bvD51HGBkPXJE-riZ7WRC927MWU",
        "key": "key2-1768284495425",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:20+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1768284495425",
    "key2": "key2-1768284495425",
    "snapshot1": "snapshot-1768284495425"
  }
}
