{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781047890589?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gY7_zMHemzzLiPSEpOWKuJrm_HpdiZKfYojHTHGkPSc\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY1Mw==;sn=53125653",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "gY7_zMHemzzLiPSEpOWKuJrm_HpdiZKfYojHTHGkPSc",
        "key": "key1-1781047890589",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:31:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781047890589?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY1Mw=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"twvosHPIzpydW80jCnMRd6okXTroSkc41We1wwuTkcc\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY1NQ==;sn=53125655",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "twvosHPIzpydW80jCnMRd6okXTroSkc41We1wwuTkcc",
        "key": "key2-1781047890589",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:31:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781047890589?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY1NQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781047890589",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"teBbb0QwZrIuJgzNzAiicxtOOuLIP2VWuocrkOfmvs8\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Link": "</kv?snapshot=snapshot-1781047890589&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781047890589&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY1OA==;sn=53125658",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "teBbb0QwZrIuJgzNzAiicxtOOuLIP2VWuocrkOfmvs8",
        "name": "snapshot-1781047890589",
        "description": "a snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1781047890589",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-09T23:31:36.8808233+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781047890589",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY1OA==;sn=53125658",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781047890589?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY3OA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"qAFPGcWaTuQ8iSLk7Ct8V-qI2G9ANIeAew0wl2SuD3g\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:44 GMT",
        "Link": "</kv?snapshot=snapshot-1781047890589&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY3OQ==;sn=53125679",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:47 GMT"
      },
      "ResponseBody": {
        "etag": "qAFPGcWaTuQ8iSLk7Ct8V-qI2G9ANIeAew0wl2SuD3g",
        "name": "snapshot-1781047890589",
        "description": "a snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1781047890589",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-09T23:31:36+00:00",
        "expires": "2026-07-09T23:31:47.1192515+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781047890589?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY4MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"twvosHPIzpydW80jCnMRd6okXTroSkc41We1wwuTkcc\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY4MQ==;sn=53125681",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:47 GMT"
      },
      "ResponseBody": {
        "etag": "twvosHPIzpydW80jCnMRd6okXTroSkc41We1wwuTkcc",
        "key": "key2-1781047890589",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:31:36+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1781047890589",
    "key2": "key2-1781047890589",
    "snapshot1": "snapshot-1781047890589"
  }
}
