{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1761465308974?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1761465308974",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EN2yN84b9hazpkPBY2n_6fYOGIQzVKDEHeDzGGBPjW0\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyOTA=;sn=74855290",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:12 GMT"
      },
      "ResponseBody": {
        "etag": "EN2yN84b9hazpkPBY2n_6fYOGIQzVKDEHeDzGGBPjW0",
        "key": "key1-1761465308974",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-26T07:55:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1761465308974?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyOTA="
      },
      "RequestBody": {
        "key": "key2-1761465308974",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J_Ho4c7yllDipvb0SfFVulddsOKKCX8tb-eLZPA7Owk\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyOTM=;sn=74855293",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:12 GMT"
      },
      "ResponseBody": {
        "etag": "J_Ho4c7yllDipvb0SfFVulddsOKKCX8tb-eLZPA7Owk",
        "key": "key2-1761465308974",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-26T07:55:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1761465308974?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyOTM="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1761465308974",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"USgktYRMIxq1P1bXfBQaeNHCsB_PDoXACEpsUBXqj2s\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:12 GMT",
        "Link": "</kv?snapshot=snapshot-1761465308974&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1761465308974&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyOTY=;sn=74855296",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:12 GMT"
      },
      "ResponseBody": {
        "etag": "USgktYRMIxq1P1bXfBQaeNHCsB_PDoXACEpsUBXqj2s",
        "name": "snapshot-1761465308974",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1761465308974",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-26T07:55:12.5007376+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1761465308974",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyOTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyOTc=;sn=74855297",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:12 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1761465308974?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUzNjQ="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1761465308974",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNjU=;sn=74855365",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:33 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1761465308974?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUzNjU="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"EMkCDxFxkusLud-Vt8XuiJprFZZU2vI4OCfk5MWz070\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:26 GMT",
        "Link": "</kv?snapshot=snapshot-1761465308974&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNjg=;sn=74855368",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:33 GMT"
      },
      "ResponseBody": {
        "etag": "EMkCDxFxkusLud-Vt8XuiJprFZZU2vI4OCfk5MWz070",
        "name": "snapshot-1761465308974",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1761465308974",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-26T07:55:12+00:00",
        "expires": "2025-11-25T07:55:33.788123+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1761465308974?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUzNzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J_Ho4c7yllDipvb0SfFVulddsOKKCX8tb-eLZPA7Owk\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNzE=;sn=74855371",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:34 GMT"
      },
      "ResponseBody": {
        "etag": "J_Ho4c7yllDipvb0SfFVulddsOKKCX8tb-eLZPA7Owk",
        "key": "key2-1761465308974",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-26T07:55:12+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1761465308974",
    "key2": "key2-1761465308974",
    "snapshot1": "snapshot-1761465308974"
  }
}
