{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1758789910829?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1758789910829",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"igBejP7f9wQZB7X6Wr44XvbL_ui23I3EwjO6HXrGgX4\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMyODM=;sn=74013283"
      },
      "ResponseBody": {
        "etag": "igBejP7f9wQZB7X6Wr44XvbL_ui23I3EwjO6HXrGgX4",
        "key": "key1-1758789910829",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:45:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758789910829?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMyODM="
      },
      "RequestBody": {
        "key": "key2-1758789910829",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HuQQ9vn52INUaFkTdCU3eflPKlPvb4HfFiwTqL9nagQ\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMyODk=;sn=74013289"
      },
      "ResponseBody": {
        "etag": "HuQQ9vn52INUaFkTdCU3eflPKlPvb4HfFiwTqL9nagQ",
        "key": "key2-1758789910829",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:45:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758789910829?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMyODk="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758789910829",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"w18eqxoghPhHYTRZR-uQV2OyS8CcHuCaK-C2WJpJ5r4\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:19 GMT",
        "Link": "</kv?snapshot=snapshot-1758789910829&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1758789910829&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMyOTM=;sn=74013293"
      },
      "ResponseBody": {
        "etag": "w18eqxoghPhHYTRZR-uQV2OyS8CcHuCaK-C2WJpJ5r4",
        "name": "snapshot-1758789910829",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1758789910829",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:45:19.6130449+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1758789910829",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMyOTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMyOTg=;sn=74013298"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758789910829?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM1MzU="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"7BYHjO87Cc5QJLQX2le96a5WgsUEixk6QmkkIY1Tndw\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:32 GMT",
        "Link": "</kv?snapshot=snapshot-1758789910829&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM1Mzg=;sn=74013538"
      },
      "ResponseBody": {
        "etag": "7BYHjO87Cc5QJLQX2le96a5WgsUEixk6QmkkIY1Tndw",
        "name": "snapshot-1758789910829",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1758789910829",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:45:19+00:00",
        "expires": "2025-10-25T08:45:40.7627684+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758789910829?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM1NDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HuQQ9vn52INUaFkTdCU3eflPKlPvb4HfFiwTqL9nagQ\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM1NDM=;sn=74013543"
      },
      "ResponseBody": {
        "etag": "HuQQ9vn52INUaFkTdCU3eflPKlPvb4HfFiwTqL9nagQ",
        "key": "key2-1758789910829",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:45:19+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1758789910829",
    "key2": "key2-1758789910829",
    "snapshot1": "snapshot-1758789910829"
  }
}
