{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1758789941117?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1758789941117",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"czkZSJWB5cCfwQjEw-jYVvpsxBXZKCkQB5ck30-W3_g\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM1NjU=;sn=74013565"
      },
      "ResponseBody": {
        "etag": "czkZSJWB5cCfwQjEw-jYVvpsxBXZKCkQB5ck30-W3_g",
        "key": "key1-1758789941117",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:45:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758789941117?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM1NjU="
      },
      "RequestBody": {
        "key": "key2-1758789941117",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jta94frec6cONGF49DzWbFh0DSpCOBkHVJM4X0G6aRY\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM1Njc=;sn=74013567"
      },
      "ResponseBody": {
        "etag": "jta94frec6cONGF49DzWbFh0DSpCOBkHVJM4X0G6aRY",
        "key": "key2-1758789941117",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:45:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758789941117?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM1Njc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758789941117",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Dj1ws_pvMzAx9Jj5WXF5YhMI_quymKv8KPrUx1Z2DLQ\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:44 GMT",
        "Link": "</kv?snapshot=snapshot-1758789941117&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1758789941117&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM1NzA=;sn=74013570"
      },
      "ResponseBody": {
        "etag": "Dj1ws_pvMzAx9Jj5WXF5YhMI_quymKv8KPrUx1Z2DLQ",
        "name": "snapshot-1758789941117",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1758789941117",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:45:44.4640283+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1758789941117",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM1NzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM1NzE=;sn=74013571"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758789941117?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2MTM="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758789941117",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2MTM=;sn=74013613"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758789941117?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2MTM="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"k5R7KoMn_qCrzmvfx4Y_K62b7K9SW-0MOtRLB6o7uAk\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:52 GMT",
        "Link": "</kv?snapshot=snapshot-1758789941117&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2MTQ=;sn=74013614"
      },
      "ResponseBody": {
        "etag": "k5R7KoMn_qCrzmvfx4Y_K62b7K9SW-0MOtRLB6o7uAk",
        "name": "snapshot-1758789941117",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1758789941117",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:45:44+00:00",
        "expires": "2025-10-25T08:45:55.5163967+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758789941117?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2MTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jta94frec6cONGF49DzWbFh0DSpCOBkHVJM4X0G6aRY\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2MTY=;sn=74013616"
      },
      "ResponseBody": {
        "etag": "jta94frec6cONGF49DzWbFh0DSpCOBkHVJM4X0G6aRY",
        "key": "key2-1758789941117",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:45:44+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1758789941117",
    "key2": "key2-1758789941117",
    "snapshot1": "snapshot-1758789941117"
  }
}
