{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1720730096420?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1720730096420",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UgsndmfruESWyK9WeWnys6RfN4rvPs0F8DxmGFUGIFY\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:34:59 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTMy;sn=2804532"
      },
      "ResponseBody": {
        "etag": "UgsndmfruESWyK9WeWnys6RfN4rvPs0F8DxmGFUGIFY",
        "key": "key1-1720730096420",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:34:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1720730096420?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTMy"
      },
      "RequestBody": {
        "key": "key2-1720730096420",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QLR2LNydp4ujRvjCh2bKZbvMDakB-e9-d7xCFs6GgQQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:34:59 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTMz;sn=2804533"
      },
      "ResponseBody": {
        "etag": "QLR2LNydp4ujRvjCh2bKZbvMDakB-e9-d7xCFs6GgQQ",
        "key": "key2-1720730096420",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:34:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720730096421?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTMz"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1720730096420",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"SS83ZDH5xntMqIusSXIY2egdzqY7Xl7IlZTPMeYun20\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:34:59 GMT",
        "Link": "</kv?snapshot=snapshot-1720730096421&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1720730096421&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTM0;sn=2804534"
      },
      "ResponseBody": {
        "etag": "SS83ZDH5xntMqIusSXIY2egdzqY7Xl7IlZTPMeYun20",
        "name": "snapshot-1720730096421",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1720730096420",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:34:59+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1720730096421&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTM0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTM0;sn=2804534"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720730096421?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTM1"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1720730096420",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTM1;sn=2804535"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720730096421?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTM1"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"DhF0wjELLKIPAZ6EiujJoThWiPf_oOzkXtvkljIK-KA\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:34:59 GMT",
        "Link": "</kv?snapshot=snapshot-1720730096421&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTM2;sn=2804536"
      },
      "ResponseBody": {
        "etag": "DhF0wjELLKIPAZ6EiujJoThWiPf_oOzkXtvkljIK-KA",
        "name": "snapshot-1720730096421",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1720730096420",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:34:59+00:00",
        "expires": "2024-08-10T20:35:10.4495691+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1720730096420?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTM3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QLR2LNydp4ujRvjCh2bKZbvMDakB-e9-d7xCFs6GgQQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:34:59 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTM4;sn=2804538"
      },
      "ResponseBody": {
        "etag": "QLR2LNydp4ujRvjCh2bKZbvMDakB-e9-d7xCFs6GgQQ",
        "key": "key2-1720730096420",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:34:59+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1720730096420",
    "key2": "key2-1720730096420",
    "snapshot1": "snapshot-1720730096421"
  }
}
