{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1769396202876?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1769396202876",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7nffwQ1KCTo6MlioGP6BM32yV3xi-B_2PuRdS7TOU6c\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk0Nw==;sn=103845947",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:50 GMT"
      },
      "ResponseBody": {
        "etag": "7nffwQ1KCTo6MlioGP6BM32yV3xi-B_2PuRdS7TOU6c",
        "key": "key1-1769396202876",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:56:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396202876?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk0Nw=="
      },
      "RequestBody": {
        "key": "key2-1769396202876",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tfk6gw3MvGrMefXVrHRddQVIdQa7OqLPGynceDj1bX0\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk1MQ==;sn=103845951",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "etag": "tfk6gw3MvGrMefXVrHRddQVIdQa7OqLPGynceDj1bX0",
        "key": "key2-1769396202876",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:56:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396202876?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk1MQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1769396202876",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"h12kqsUvN7a5eJ2rYgYS3a9Z4n_CNb8Eub91GLyiV_U\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:51 GMT",
        "Link": "</kv?snapshot=snapshot-1769396202876&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1769396202876&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk1Ng==;sn=103845956",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "etag": "h12kqsUvN7a5eJ2rYgYS3a9Z4n_CNb8Eub91GLyiV_U",
        "name": "snapshot-1769396202876",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1769396202876",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T02:56:51.2527048+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1769396202876",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk1Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk2Mg==;sn=103845962",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396202876?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjEyMQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"2PxzOXes0j9XkdmfvVzvlb0SIxHcSX9hmdQGI34jNiY\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:58 GMT",
        "Link": "</kv?snapshot=snapshot-1769396202876&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjEyNg==;sn=103846126",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "2PxzOXes0j9XkdmfvVzvlb0SIxHcSX9hmdQGI34jNiY",
        "name": "snapshot-1769396202876",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1769396202876",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T02:56:51+00:00",
        "expires": "2026-02-25T02:57:02.1432028+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396202876?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjEyNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tfk6gw3MvGrMefXVrHRddQVIdQa7OqLPGynceDj1bX0\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjEyOA==;sn=103846128",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "tfk6gw3MvGrMefXVrHRddQVIdQa7OqLPGynceDj1bX0",
        "key": "key2-1769396202876",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:56:51+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1769396202876",
    "key2": "key2-1769396202876",
    "snapshot1": "snapshot-1769396202876"
  }
}
