{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781548048873?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xhzSYkB0FPrJr4fyX39hc46ELR7e1qKKv7j_O-iEaP0\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYyOA==;sn=53365628",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:40 GMT"
      },
      "ResponseBody": {
        "etag": "xhzSYkB0FPrJr4fyX39hc46ELR7e1qKKv7j_O-iEaP0",
        "key": "key1-1781548048873",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:27:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548048873?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTYyOA=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YYUj1Olfjw_lk89KRyWUvVG9EnblWMQFYu97yeyVw9M\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYyOQ==;sn=53365629",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:40 GMT"
      },
      "ResponseBody": {
        "etag": "YYUj1Olfjw_lk89KRyWUvVG9EnblWMQFYu97yeyVw9M",
        "key": "key2-1781548048873",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:27:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548048873?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTYyOQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781548048873",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"NF_OUiXhrvh0JFmF3g_F-hJccM_N2wHFuR_1wD4nXgI\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:40 GMT",
        "Link": "</kv?snapshot=snapshot-1781548048873&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781548048873&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYzMA==;sn=53365630",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:40 GMT"
      },
      "ResponseBody": {
        "etag": "NF_OUiXhrvh0JFmF3g_F-hJccM_N2wHFuR_1wD4nXgI",
        "name": "snapshot-1781548048873",
        "description": "a snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1781548048873",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:27:40.6904588+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781548048873",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTYzMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYzMA==;sn=53365630",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:40 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548048873?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY1Ng=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781548048873",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY1Ng==;sn=53365656",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:51 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548048873?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY1Ng=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"XDhSTaojpsL4T1u9rr5ZSuZcnq5-nrOXJdT8X7LrPsc\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:44 GMT",
        "Link": "</kv?snapshot=snapshot-1781548048873&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY1Nw==;sn=53365657",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:51 GMT"
      },
      "ResponseBody": {
        "etag": "XDhSTaojpsL4T1u9rr5ZSuZcnq5-nrOXJdT8X7LrPsc",
        "name": "snapshot-1781548048873",
        "description": "a snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1781548048873",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:27:40+00:00",
        "expires": "2026-07-15T18:27:51.0829216+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548048873?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YYUj1Olfjw_lk89KRyWUvVG9EnblWMQFYu97yeyVw9M\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY1OQ==;sn=53365659",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:51 GMT"
      },
      "ResponseBody": {
        "etag": "YYUj1Olfjw_lk89KRyWUvVG9EnblWMQFYu97yeyVw9M",
        "key": "key2-1781548048873",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:27:40+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1781548048873",
    "key2": "key2-1781548048873",
    "snapshot1": "snapshot-1781548048873"
  }
}
