{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1759423931875?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1759423931875",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hfUr7HDbJexkSPNfzAWN6g21tJc7ttRBR8LTCd2EAP0\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI2Nzg=;sn=74232678"
      },
      "ResponseBody": {
        "etag": "hfUr7HDbJexkSPNfzAWN6g21tJc7ttRBR8LTCd2EAP0",
        "key": "key1-1759423931875",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:52:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759423931875?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI2Nzg="
      },
      "RequestBody": {
        "key": "key2-1759423931875",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eIHscSwSBG0nJjkZ10L62rfJpSqTvQI8DWFyY_KDRn4\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI2ODM=;sn=74232683"
      },
      "ResponseBody": {
        "etag": "eIHscSwSBG0nJjkZ10L62rfJpSqTvQI8DWFyY_KDRn4",
        "key": "key2-1759423931875",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:52:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759423931875?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI2ODM="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1759423931875",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"iZn1RYgRCEusWcEuyXIOay7CGExIcGuKGD-6QxQjSio\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:17 GMT",
        "Link": "</kv?snapshot=snapshot-1759423931875&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1759423931875&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI2ODg=;sn=74232688"
      },
      "ResponseBody": {
        "etag": "iZn1RYgRCEusWcEuyXIOay7CGExIcGuKGD-6QxQjSio",
        "name": "snapshot-1759423931875",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1759423931875",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T16:52:17.9790744+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1759423931875&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI2ODg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI2OTQ=;sn=74232694"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759423931875?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3ODc="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"FqOKtpHtIqRBOZM-lBmczkuup7vQ9DSt-E1glWd4WLc\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:32 GMT",
        "Link": "</kv?snapshot=snapshot-1759423931875&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3ODg=;sn=74232788"
      },
      "ResponseBody": {
        "etag": "FqOKtpHtIqRBOZM-lBmczkuup7vQ9DSt-E1glWd4WLc",
        "name": "snapshot-1759423931875",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1759423931875",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T16:52:17+00:00",
        "expires": "2025-11-01T16:52:39.1196831+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759423931875?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3ODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eIHscSwSBG0nJjkZ10L62rfJpSqTvQI8DWFyY_KDRn4\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3OTA=;sn=74232790"
      },
      "ResponseBody": {
        "etag": "eIHscSwSBG0nJjkZ10L62rfJpSqTvQI8DWFyY_KDRn4",
        "key": "key2-1759423931875",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:52:17+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1759423931875",
    "key2": "key2-1759423931875",
    "snapshot1": "snapshot-1759423931875"
  }
}
