{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1768284513292?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1768284513292",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hVuY-UEPpsglQS0e3pGMK-p0ykZc4NSQUaDHKO86SnI\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzA4NA==;sn=102477084",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:36 GMT"
      },
      "ResponseBody": {
        "etag": "hVuY-UEPpsglQS0e3pGMK-p0ykZc4NSQUaDHKO86SnI",
        "key": "key1-1768284513292",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1768284513292?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzA4NA=="
      },
      "RequestBody": {
        "key": "key2-1768284513292",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XWAGsgoe9NhKeZupcNX5F_iNYOdpYHI3D9hOK9RTeAM\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzA4Nw==;sn=102477087",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:36 GMT"
      },
      "ResponseBody": {
        "etag": "XWAGsgoe9NhKeZupcNX5F_iNYOdpYHI3D9hOK9RTeAM",
        "key": "key2-1768284513292",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768284513292?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzA4Nw=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1768284513292",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"hiOjgpmqTEWTuy07BPRhJWqvBxK_ZqvXthjLE-lBIJM\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:36 GMT",
        "Link": "</kv?snapshot=snapshot-1768284513292&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1768284513292&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzA5Mg==;sn=102477092",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:36 GMT"
      },
      "ResponseBody": {
        "etag": "hiOjgpmqTEWTuy07BPRhJWqvBxK_ZqvXthjLE-lBIJM",
        "name": "snapshot-1768284513292",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1768284513292",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-13T06:08:36.5815162+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1768284513292",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzA5Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzA5OA==;sn=102477098",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:36 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768284513292?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzIxOQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1768284513292",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIxOQ==;sn=102477219",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:47 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768284513292?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzIxOQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"FPJssm4b3YUHe1sqLtPxydYHDXSfapzxOmz0-aUA4Q4\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:41 GMT",
        "Link": "</kv?snapshot=snapshot-1768284513292&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIyMA==;sn=102477220",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:47 GMT"
      },
      "ResponseBody": {
        "etag": "FPJssm4b3YUHe1sqLtPxydYHDXSfapzxOmz0-aUA4Q4",
        "name": "snapshot-1768284513292",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1768284513292",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-13T06:08:36+00:00",
        "expires": "2026-02-12T06:08:47.3811573+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1768284513292?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzIyMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XWAGsgoe9NhKeZupcNX5F_iNYOdpYHI3D9hOK9RTeAM\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIyMw==;sn=102477223",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:47 GMT"
      },
      "ResponseBody": {
        "etag": "XWAGsgoe9NhKeZupcNX5F_iNYOdpYHI3D9hOK9RTeAM",
        "key": "key2-1768284513292",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:36+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1768284513292",
    "key2": "key2-1768284513292",
    "snapshot1": "snapshot-1768284513292"
  }
}
