{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1780003330147?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PJ_6e7yvNNW6xwxBfBuedo6wurj9SvaVlgHWQ9yt3SY\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA4Mg==;sn=115288082",
        "x-ms-date": "Thu, 28 May 2026 21:22:10 GMT"
      },
      "ResponseBody": {
        "etag": "PJ_6e7yvNNW6xwxBfBuedo6wurj9SvaVlgHWQ9yt3SY",
        "key": "key1-1780003330147",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:22:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780003330147?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA4Mg=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Mn9FYuI6D2E_UR8LaKemXFxs0miCHxOjeR4RUlV0zA\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA4Mw==;sn=115288083",
        "x-ms-date": "Thu, 28 May 2026 21:22:10 GMT"
      },
      "ResponseBody": {
        "etag": "7Mn9FYuI6D2E_UR8LaKemXFxs0miCHxOjeR4RUlV0zA",
        "key": "key2-1780003330147",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:22:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003330147?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA4Mw=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1780003330147",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"RfGdHt_NR9LxVAvthx_n2Cz06F9TJ9zo5d8D8IsCxJA\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:10 GMT",
        "Link": "</kv?snapshot=snapshot-1780003330147&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1780003330147&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA4NA==;sn=115288084",
        "x-ms-date": "Thu, 28 May 2026 21:22:10 GMT"
      },
      "ResponseBody": {
        "etag": "RfGdHt_NR9LxVAvthx_n2Cz06F9TJ9zo5d8D8IsCxJA",
        "name": "snapshot-1780003330147",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1780003330147",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:22:10.7647329+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1780003330147",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA4NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA4NA==;sn=115288084",
        "x-ms-date": "Thu, 28 May 2026 21:22:10 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003330147?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE3NA=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1780003330147",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE3Ng==;sn=115288176",
        "x-ms-date": "Thu, 28 May 2026 21:22:29 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003330147?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE3Ng=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"NUmz0mRGUsvViyCjc1WgohT5vbX0guiBBPAcvtdDu4w\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:28 GMT",
        "Link": "</kv?snapshot=snapshot-1780003330147&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE3OQ==;sn=115288179",
        "x-ms-date": "Thu, 28 May 2026 21:22:29 GMT"
      },
      "ResponseBody": {
        "etag": "NUmz0mRGUsvViyCjc1WgohT5vbX0guiBBPAcvtdDu4w",
        "name": "snapshot-1780003330147",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1780003330147",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:22:10+00:00",
        "expires": "2026-06-27T21:22:29.6069589+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780003330147?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE4MA=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE4MA==;sn=115288180",
        "x-ms-date": "Thu, 28 May 2026 21:22:29 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "key1": "key1-1780003330147",
    "key2": "key2-1780003330147",
    "snapshot1": "snapshot-1780003330147"
  }
}
