{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1780003307567?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CEW-6r0GQ096AAkdlmuGMMeNYZqz0_nE4x2hsMzokL4\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4NzczOQ==;sn=115287739",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "CEW-6r0GQ096AAkdlmuGMMeNYZqz0_nE4x2hsMzokL4",
        "key": "key1-1780003307567",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780003307567?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI4NzczOQ=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dLsP67oh3-pIwVbOYohSHJh6wOkrD95fkn993aGANt8\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc0Mw==;sn=115287743",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "dLsP67oh3-pIwVbOYohSHJh6wOkrD95fkn993aGANt8",
        "key": "key2-1780003307567",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003307567?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc0Mw=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1780003307567",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"FQyTxJmUngX22gBmIT7sXdOnIEi7DKeGWqq1UgRsZIk\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Link": "</kv?snapshot=snapshot-1780003307567&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1780003307567&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc1MQ==;sn=115287751",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "FQyTxJmUngX22gBmIT7sXdOnIEi7DKeGWqq1UgRsZIk",
        "name": "snapshot-1780003307567",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1780003307567",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:21:50.4034845+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1780003307567",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc1MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc1NQ==;sn=115287755",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003307567?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA3NQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"P-WgTmpo9ycGzPGYkoO8BTbNTdIViajO_4oLkdiejlk\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:02 GMT",
        "Link": "</kv?snapshot=snapshot-1780003307567&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA3Nw==;sn=115288077",
        "x-ms-date": "Thu, 28 May 2026 21:22:09 GMT"
      },
      "ResponseBody": {
        "etag": "P-WgTmpo9ycGzPGYkoO8BTbNTdIViajO_4oLkdiejlk",
        "name": "snapshot-1780003307567",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1780003307567",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:21:50+00:00",
        "expires": "2026-06-27T21:22:09.2861044+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780003307567?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA3OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dLsP67oh3-pIwVbOYohSHJh6wOkrD95fkn993aGANt8\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA3OQ==;sn=115288079",
        "x-ms-date": "Thu, 28 May 2026 21:22:09 GMT"
      },
      "ResponseBody": {
        "etag": "dLsP67oh3-pIwVbOYohSHJh6wOkrD95fkn993aGANt8",
        "key": "key2-1780003307567",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1780003307567",
    "key2": "key2-1780003307567",
    "snapshot1": "snapshot-1780003307567"
  }
}
