{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests35?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yC28ZSgbQ4VqX4EktjIuIzleQfHfzxrXtlBPIdv1hXA\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTM2OQ==;sn=113151369",
        "x-ms-date": "Thu, 07 May 2026 20:23:29 GMT"
      },
      "ResponseBody": {
        "etag": "yC28ZSgbQ4VqX4EktjIuIzleQfHfzxrXtlBPIdv1hXA",
        "key": "noLabelTests35",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:23:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests35?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTM2OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yC28ZSgbQ4VqX4EktjIuIzleQfHfzxrXtlBPIdv1hXA\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTM2OQ==;sn=113151369",
        "x-ms-date": "Thu, 07 May 2026 20:23:29 GMT"
      },
      "ResponseBody": {
        "etag": "yC28ZSgbQ4VqX4EktjIuIzleQfHfzxrXtlBPIdv1hXA",
        "key": "noLabelTests35",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:23:29+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests35?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTM3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9RtRkBymPWR3OvPYKZGHgzGKfmmmOoD57P2CVfSlzyg\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTM3NQ==;sn=113151375",
        "x-ms-date": "Thu, 07 May 2026 20:23:29 GMT"
      },
      "ResponseBody": {
        "etag": "9RtRkBymPWR3OvPYKZGHgzGKfmmmOoD57P2CVfSlzyg",
        "key": "noLabelTests35",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:23:29+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests35"
  }
}
