{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests900?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gWANVT0Lw6oHLyVoo0sTHK7K0q3WZzM2UGoo9ix5fQ4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:34:28 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA1OA==;sn=53371058",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:28 GMT"
      },
      "ResponseBody": {
        "etag": "gWANVT0Lw6oHLyVoo0sTHK7K0q3WZzM2UGoo9ix5fQ4",
        "key": "noLabelTests900",
        "label": null,
        "content_type": null,
        "value": "added",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:34:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests900?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTA1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gWANVT0Lw6oHLyVoo0sTHK7K0q3WZzM2UGoo9ix5fQ4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:34:28 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA1OA==;sn=53371058",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:28 GMT"
      },
      "ResponseBody": {
        "etag": "gWANVT0Lw6oHLyVoo0sTHK7K0q3WZzM2UGoo9ix5fQ4",
        "key": "noLabelTests900",
        "label": null,
        "content_type": null,
        "value": "added",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:34:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests900?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTA2Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"788kfoUKHkV9h7ctj2FLueNn8B3ss_jniVn3fC9v0Ew\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:34:28 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA2NA==;sn=53371064",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:28 GMT"
      },
      "ResponseBody": {
        "etag": "788kfoUKHkV9h7ctj2FLueNn8B3ss_jniVn3fC9v0Ew",
        "key": "noLabelTests900",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:34:28+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests900"
  }
}
