{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests765?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "noLabelTests765",
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZfCMb_31adbxfeNCNfyWJLPHpgSVnppEFlp1HFHNGyQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:52 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjM2;sn=2804636"
      },
      "ResponseBody": {
        "etag": "ZfCMb_31adbxfeNCNfyWJLPHpgSVnppEFlp1HFHNGyQ",
        "key": "noLabelTests765",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:48:52+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests765?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjM2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZfCMb_31adbxfeNCNfyWJLPHpgSVnppEFlp1HFHNGyQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:52 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjM2;sn=2804636"
      },
      "ResponseBody": {
        "etag": "ZfCMb_31adbxfeNCNfyWJLPHpgSVnppEFlp1HFHNGyQ",
        "key": "noLabelTests765",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:48:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests765?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjQx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1O2qWFN_rmW6OEzrrDthBQZ8Um7EAfyrFqFPSd0gKRI\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:52 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjQy;sn=2804642"
      },
      "ResponseBody": {
        "etag": "1O2qWFN_rmW6OEzrrDthBQZ8Um7EAfyrFqFPSd0gKRI",
        "key": "noLabelTests765",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:48:52+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests765"
  }
}
