{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testlistkeys-03059091935/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testlistkeys-03059091935/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testlistkeys-03059091935/f79bd23ecd2e469f870193c6c8992655",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0joNJsGb5ArP3i56WRVDuFfwhObCsUdfqVdmc4XosNPlYoh6pvVuuQfjiVJfcBPMWZ9a652vZHW1WwkuM6rlb0NujcQez3I9NqBmjVr4WuOvo8zR46L8LdP9n3jee533QAehxFEHCi6PWkfueu4fUUkXggfDDshr4goEMoF_79FqEt9WPxarCicdB-IL9REp36aFmVIoFXOR5zL3oc8CPg1Pm6RwE9IVQxtbWBvY0DPDv3-JyER3acBnrlQCG276bj8OXz5-4Onv8_7UiselrVNlxkHWabLO3Ebn7TQ221xKLd_72oaV_x2tZV4hBa0EW35BDCI_vSMg1Zv3p1z5cQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780675438,
          "updated": 1780675438,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://t4320ce7a30021c90.vault.azure.net/keys/key2582698",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1780674951,
              "updated": 1780674951,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://t43[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testlistkeys-33059091935?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/testlistkeys-33059091935",
        "deletedDate": 1780675439,
        "scheduledPurgeDate": 1781280239,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testlistkeys-33059091935/cc070650157f4f4f824db255c96c66fa",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4vgimjXoyBURR-bZ3MfzpcvH3fAPp8hIPpnVN9xNQV1eJ6Bu2Y3cHUVzqyaTUmz1qBlHT3sao7lSBXtCYhls3FUdqrduIFYViBEfXQCNAqVaQrQxD2wPsmwWHBG--vr_B8-2VNWOO6LofOy3cHFQY9Hc21hODgarUU8gBjOz2ou_2UkATX2PCbFGGtoquvtm3skpS7tRaidp3SpB1XFqPVFyGDX9syXVVkQ9Ih43WB1GmwVfxlbsxerrqJFpCzx5TxVA_-cIZ3mnzVYB5z99gdYfMzHOdq5TPNVrh2o2zvU713bY9b5rKSTmTHl_Webf1xn50yyoFNsyMu_IMd6ZeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780675439,
          "updated": 1780675439,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
