{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testlistkeys-03059091935/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testlistkeys-03059091935/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testlistkeys-03059091935/f0ba7b59f1ee4c18920a5ea09959ce11",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r2L1b5q6Tz3UjWaEZt0GYZkltm4LanjT512ekvjO9tO7pK030Y9miDl78Z7jPXkzWj77njsyXflqrZOfIqlxEiu_8EGoIk-eE4WM5UhXwZa0OiHZjcwC2xVfMbbqBNG5TZgMXKfnHUh4fAFbTlP6z_ePNlQE_PnZ2YcXvYKSCSkSX6DyVbuFn22FyimqmDW9fKYZgragq7NiaiYjgIMUY-tiTM0lUjOtIudprRZfThM1IyGOZz27Mq026cSSnL3R1lwK-QQ1XdjxC3xDZkfwz-PS8W_OVoAwIutztESeIuxrzfg8lmVSxI-Y20txaUzCg5-Mh-tX3jr7KjlE2Lh_HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781042038,
          "updated": 1781042038,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://t4320ce7a30021c90.vault.azure.net/keys/key2582698",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1781041285,
              "updated": 1781041285,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://t43[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testlistkeys-33059091935?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/testlistkeys-33059091935",
        "deletedDate": 1781042039,
        "scheduledPurgeDate": 1781646839,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testlistkeys-33059091935/1a4a20b908944231954f9e043313d644",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tw_IWhwUtg_dZ8qDhAlIe9_tweUqkzdTriLEDskyTqUZDh_qSaOW6HeC8it76GnHqPU_tYIMzeqSppX2YKAuxlCy98rrHMrdI3SRNq3bWFPFHz_RlipuGM7c-T9YGGCFSuTgJ5RmtaukQFm-J2AiWHMPmqRDha6kVqoJdB_N-QPtWTSnQf5sxcd3YTrT4YvBlzpyOkuj-6VkeXUNY0iN6YETyL2RbLdYMFkITHmg4b991A14nLUl9ilQzBgl_p1odS4CheCyk5EYzJMVLHwqbmgdrjfNdF1D32JFU9MZcDhn8WRf5daP_YUAL-eJ8Z3eKSCvYjgI9tjnZcDwbqaf8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781042039,
          "updated": 1781042039,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
