{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testlistkeys-0583784627/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testlistkeys-0583784627/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780935553,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780935553
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testlistkeys-0583784627/73ea3bf7b40700313f0734a3553a01e2",
          "kty": "RSA-HSM",
          "n": "l0bVGHGatsS1TB4HmIdnvbaOhYNCVkGEeypVpSkGFSx3yfJG74E8bbnL2vpsoDo87Jfr_zTiLA6_0Ltj8dYgqpQizgFvFhHQOiFuZxQ7lU_U_6TQ9U7IhlJVkczpPSF1z-RLRFgBXNbbDUCUCmgACzu-HZwDOkNve9u16XWHKiwbXsKMjWDwGmcOXMto0tVxeDJtBfx2eLfZ-nlttbP35crj9b84e1_yYvxhHlSbrKtygWnUxcQFkaDkv3A_iRN6yQR0DFCkYSHNqVIcO5jBzN0V7x_9Ghu_gXS259NIysq2J-pShPx3ZPqwdD2F5TjHP302PZSF5aM9wwQGvIzicQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "nextLink": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys?maxresults=25&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1780935530,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1780935530
            },
            "kid": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys/key3126998794"
          },
          {
            "attributes": {
              "created": 1780675507,
              "enable[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?%24skiptoken=Sanitized&maxresults=25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1780935554,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1780935554
            },
            "kid": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys/testlistkeys-3583784627"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testlistkeys-3583784627?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780935554,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780935554
        },
        "deletedDate": 1780935554,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testlistkeys-3583784627/1370d6d7d088020e158a8f99596679ec",
          "kty": "RSA-HSM",
          "n": "n-1jopQOLTyYWqHTHifwuKSy8oo4Vv_W8R0yuh_3yFwDM5TkLY0y0krDTt-Lu21c3BM51xggW258UYI8OxBqwkATwo-YYS-VnAZfspaQ9iI8C4u2IGAHyBxEzxqIiokHaLI_tptF5SgP1sfVogQpek9EuisSPQqQLo7tdHk1S2ngWLti5z9KqvDbGsdwYtRrXwWyiYTT1nOi0lDgFWMtvFbNhLslIFtP6sJJUiro7EBk2zVvS3C8BLqFQZ3yZuXOjDhxWHw-x6Zqf3jWRtwFIqfEU0ORDAIxK0oObsyNnADhnuJOPuU8QEdsTVB3JKM9uhBkerP2gjaKu7iNlBf0pQ"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/testlistkeys-3583784627",
        "scheduledPurgeDate": 1781540354
      }
    },
[...]
