{
  "Entries": [
    {
      "RequestUri": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads?api-version=2024-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "repeatability-request-id": "d4813467-b594-4b95-83d0-e7c8e81b6f41"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:dd9753c0-6e62-4f74-ab0f-c94f9723b4eb_0000001e-5432-a600-6a0b-343a0d008e8b",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2024-02-16T23:47:05.22904Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AaH2EeZRefWrCMSHrUJSsB38GBDTA8Zo1Qb8lEahwQHk1@thread.v2",
        "MS-CV": "mApseB8jrkSQ9H6GG\u002BdLXQ.0",
        "X-Processing-Time": "1014ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "sanitized",
          "topic": "test topic",
          "createdOn": "2024-02-16T23:47:05Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:dd9753c0-6e62-4f74-ab0f-c94f9723b4eb_0000001e-5432-a600-6a0b-343a0d008e8b",
            "communicationUser": {
              "id": "sanitized"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AaH2EeZRefWrCMSHrUJSsB38GBDTA8Zo1Qb8lEahwQHk1%40thread.v2?api-version=2024-03-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "update topic"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview",
        "MS-CV": "z6oG4d9/W06q1pUTZ1agCQ.0",
        "X-Processing-Time": "321ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
