{
  "Entries": [
    {
      "RequestUri": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads?api-version=2024-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "repeatability-request-id": "0533f4ba-db42-40ca-bef5-cdc379bc4810"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:dd9753c0-6e62-4f74-ab0f-c94f9723b4eb_0000001e-5433-0e73-28f4-343a0d00987f",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2024-02-16T23:47:31.826414Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AwyJGsLMGx9ohdYhHhLP6s8j9pHVdkBs0KkcY7q9LFNM1@thread.v2",
        "MS-CV": "2GZvc5cG9k6ebYnozcp5YQ.0",
        "X-Processing-Time": "1185ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "sanitized",
          "topic": "test topic",
          "createdOn": "2024-02-16T23:47:32Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:dd9753c0-6e62-4f74-ab0f-c94f9723b4eb_0000001e-5433-0e73-28f4-343a0d00987f",
            "communicationUser": {
              "id": "sanitized"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AwyJGsLMGx9ohdYhHhLP6s8j9pHVdkBs0KkcY7q9LFNM1%40thread.v2/messages?api-version=2024-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "hello world",
        "senderDisplayName": "sender name",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AwyJGsLMGx9ohdYhHhLP6s8j9pHVdkBs0KkcY7q9LFNM1@thread.v2/messages/1708127253677",
        "MS-CV": "fWofSEfRd06p25FLc9p\u002BpA.0",
        "X-Processing-Time": "202ms"
      },
      "ResponseBody": {
        "id": "sanitized"
      }
    },
    {
      "RequestUri": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AwyJGsLMGx9ohdYhHhLP6s8j9pHVdkBs0KkcY7q9LFNM1%40thread.v2/messages/1708127253677?api-version=2024-03-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview",
        "MS-CV": "WnfZqvnFJEK8Yqz6rxQ0KA.0",
        "X-Processing-Time": "254ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
