{
  "Entries": [
    {
      "RequestUri": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads?api-version=2024-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "repeatability-request-id": "8b733e18-979f-4ef9-81f8-8326db237ac3"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:dd9753c0-6e62-4f74-ab0f-c94f9723b4eb_0000001e-5433-7ded-78fe-343a0d0095e9",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2024-02-16T23:47:59.891479Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AZtjRmk06STvKLBdeaVpLjOvNUOPHApUEta2tIiM0Zdw1@thread.v2",
        "MS-CV": "mkrS\u002BKylFEu/ELfSbZH\u002BAg.0",
        "X-Processing-Time": "684ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "sanitized",
          "topic": "test topic",
          "createdOn": "2024-02-16T23:48:00Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:dd9753c0-6e62-4f74-ab0f-c94f9723b4eb_0000001e-5433-7ded-78fe-343a0d0095e9",
            "communicationUser": {
              "id": "sanitized"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AZtjRmk06STvKLBdeaVpLjOvNUOPHApUEta2tIiM0Zdw1%40thread.v2/messages?api-version=2024-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "hello world",
        "senderDisplayName": "sender name",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AZtjRmk06STvKLBdeaVpLjOvNUOPHApUEta2tIiM0Zdw1@thread.v2/messages/1708127284129",
        "MS-CV": "GFwtSKAnqk\u002Bwg\u002BPRAzekDA.0",
        "X-Processing-Time": "117ms"
      },
      "ResponseBody": {
        "id": "sanitized"
      }
    },
    {
      "RequestUri": "https://web-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AZtjRmk06STvKLBdeaVpLjOvNUOPHApUEta2tIiM0Zdw1%40thread.v2/readReceipts?api-version=2024-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-07, 2024-03-15-preview",
        "MS-CV": "XfmxvlsJuU2VfoJOy37f5A.0",
        "X-Processing-Time": "114ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
