{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "repeatability-request-id": "e4409568-5df9-409f-972d-f495933fd7e6"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2023-05-31T00:50:44.242783Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2023-05-31T00:50:44.242783Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3jOzxh38PESrCIVp8/3U6A.0",
        "X-Processing-Time": "604ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "sanitized",
          "topic": "test topic",
          "createdOn": "2023-05-31T00:50:44Z",
          "createdByCommunicationIdentifier": {
            "rawId": "sanitized",
            "communicationUser": {
              "id": "sanitized"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:MHZt7lVfWg24ptDUhYjH1acZnspB6d_evAcFiNzsHFQ1@thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "hello world",
        "senderDisplayName": "sender name",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rqe2RWAtd0C8KF3gbWloMw.0",
        "X-Processing-Time": "180ms"
      },
      "ResponseBody": {
        "id": "sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:MHZt7lVfWg24ptDUhYjH1acZnspB6d_evAcFiNzsHFQ1@thread.v2/readReceipts?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "MS-CV": "h7OOV0QIf061gevyQN9FpA.0",
        "X-Processing-Time": "270ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:MHZt7lVfWg24ptDUhYjH1acZnspB6d_evAcFiNzsHFQ1@thread.v2/readReceipts?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "B7SA2PcQH0ep36jV9E9a9g.0",
        "X-Processing-Time": "126ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderCommunicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "chatMessageId": "sanitized",
            "readOn": "2023-05-31T00:50:45Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:MHZt7lVfWg24ptDUhYjH1acZnspB6d_evAcFiNzsHFQ1@thread.v2/readReceipts?maxPageSize=2\u0026skip=0\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CStbPEdzTUa7AzOU6PiCzg.0",
        "X-Processing-Time": "84ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderCommunicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "chatMessageId": "sanitized",
            "readOn": "2023-05-31T00:50:45Z"
          },
          {
            "senderCommunicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "chatMessageId": "sanitized",
            "readOn": "2023-05-31T00:50:46Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:MHZt7lVfWg24ptDUhYjH1acZnspB6d_evAcFiNzsHFQ1@thread.v2?api-version=2021-09-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "MS-CV": "ZUbh5njW6UCY31JVzLEAhw.0",
        "X-Processing-Time": "239ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
