{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.Maintenance/maintenanceConfigurations/resourcetest?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "namespace": "Microsoft.Maintenance",
          "maintenanceScope": "OSImage",
          "visibility": "Custom",
          "maintenanceWindow": {
            "startDateTime": "2024-05-12 08:00",
            "expirationDateTime": "2024-06-12 00:00",
            "duration": "05:00",
            "timeZone": "Pacific Standard Time",
            "recurEvery": "Day"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "location": "westus2",
        "tags": {},
        "properties": {
          "namespace": "Microsoft.Maintenance",
          "extensionProperties": {},
          "maintenanceScope": "OSImage",
          "maintenanceWindow": {
            "startDateTime": "2024-05-12 08:00",
            "expirationDateTime": "2024-06-12 00:00",
            "duration": "05:00",
            "timeZone": "Pacific Standard Time",
            "recurEvery": "Day"
          },
          "visibility": "Custom",
          "configurationType": "Regular"
        },
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.Maintenance/maintenanceConfigurations/resourcetest",
        "name": "resourcetest",
        "type": "Microsoft.Maintenance/maintenanceConfigurations"
      }
    }
  ],
  "Variables": {}
}
