{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourcegroups/myjstest/providers/Microsoft.Maintenance/maintenanceConfigurations/resourcetest?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": {
        "location": "westus2",
        "tags": {},
        "properties": {
          "namespace": "Microsoft.Maintenance",
          "extensionProperties": {},
          "maintenanceScope": "OSImage",
          "maintenanceWindow": {
            "startDateTime": "2024-05-12 08:00",
            "expirationDateTime": "2024-06-12 00:00",
            "duration": "05:00",
            "timeZone": "Pacific Standard Time",
            "recurEvery": "Day"
          },
          "visibility": "Custom",
          "configurationType": "Regular"
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourcegroups/myjstest/providers/microsoft.maintenance/maintenanceconfigurations/resourcetest",
        "name": "resourcetest",
        "type": "Microsoft.Maintenance/maintenanceConfigurations"
      }
    }
  ],
  "Variables": {}
}
