{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams695?api-version=2026-04-01&label=dev",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "dev",
        "value": "some value",
        "tags": {
          "tag1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gtx5F4p2SXa2uGz3LMtsZFbsJC_zT6W9K60XQ0pDDDQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTYzOA==;sn=53125638",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "gtx5F4p2SXa2uGz3LMtsZFbsJC_zT6W9K60XQ0pDDDQ",
        "key": "sortQueryParams695",
        "label": "dev",
        "content_type": null,
        "value": "some value",
        "description": null,
        "tags": {
          "tag1": "value1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:31:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams695?%24select=key&api-version=2026-04-01&label=dev",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTYzOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gtx5F4p2SXa2uGz3LMtsZFbsJC_zT6W9K60XQ0pDDDQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY1MA==;sn=53125650",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "key": "sortQueryParams695"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=*&label=dev",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY1MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Qik9y0rCttojP1V8H_SfKxHYecj0uPkB9kN1_CMoOIY\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY1Mg==;sn=53125652",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "Qik9y0rCttojP1V8H_SfKxHYecj0uPkB9kN1_CMoOIY",
        "items": [
          {
            "etag": "gtx5F4p2SXa2uGz3LMtsZFbsJC_zT6W9K60XQ0pDDDQ",
            "key": "sortQueryParams695",
            "label": "dev",
            "content_type": null,
            "value": "some value",
            "description": null,
            "tags": {
              "tag1": "value1"
            },
            "locked": false,
            "last_modified": "2026-06-09T23:31:36+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=*&label=dev&tags=tag2%3Dvalue2&tags=tag1%3Dvalue1&tags=tag3%3Dvalue3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY1Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY1NA==;sn=53125654",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams695?api-version=2026-04-01&label=dev",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY1NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gtx5F4p2SXa2uGz3LMtsZFbsJC_zT6W9K60XQ0pDDDQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY1Ng==;sn=53125656",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "gtx5F4p2SXa2uGz3LMtsZFbsJC_zT6W9K60XQ0pDDDQ",
        "key": "sortQueryParams695",
        "label": "dev",
        "content_type": null,
        "value": "some value",
        "description": null,
        "tags": {
          "tag1": "value1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:31:36+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParams": "sortQueryParams695"
  }
}
