{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages540?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "sortQueryParamsMultiplePages540",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xhpDKSUTTNOn5rYKBaWSMnOlOGjR5aGcb2daqqbaXI0\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk3OQ==;sn=103845979",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:55 GMT"
      },
      "ResponseBody": {
        "etag": "xhpDKSUTTNOn5rYKBaWSMnOlOGjR5aGcb2daqqbaXI0",
        "key": "sortQueryParamsMultiplePages540",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages540?api-version=2023-11-01&label=3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk4MQ=="
      },
      "RequestBody": {
        "key": "sortQueryParamsMultiplePages540",
        "label": "3",
        "value": "the value for 3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tofVUx6gzERXwO04vrnh4grRAXwDMnizyxibO_u0afg\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk4Mw==;sn=103845983",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:56 GMT"
      },
      "ResponseBody": {
        "etag": "tofVUx6gzERXwO04vrnh4grRAXwDMnizyxibO_u0afg",
        "key": "sortQueryParamsMultiplePages540",
        "label": "3",
        "content_type": null,
        "value": "the value for 3",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=sortQueryParamsMultiplePages540",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjEyNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vka8ncNcgTvIJEMhnorJUBHrwt8T3_7aw7yn9l2Psb4\"",
        "Link": "</kv?api-version=2023-11-01&key=sortQueryParamsMultiplePages540&after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczU0MAo5OA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjEyNg==;sn=103846126",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "vka8ncNcgTvIJEMhnorJUBHrwt8T3_7aw7yn9l2Psb4",
        "items": [
          {
            "etag": "xhpDKSUTTNOn5rYKBaWSMnOlOGjR5aGcb2daqqbaXI0",
            "key": "sortQueryParamsMultiplePages540",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T02:56:55+00:00"
          },
          {
            "etag": "TB0IX4HvACobP0CxnsAVMGjcCfaMtUnZNV7r1HbXEx4",
            "key": "sortQueryParamsMultiplePages540",
        [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczU0MAo5OA%3D%3D&api-version=2023-11-01&key=sortQueryParamsMultiplePages540",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjEyNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kAHDimygPb43BZAzOtilOR3SNRbIS5OVMtdDkUXtwGs\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjEyOA==;sn=103846128",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "kAHDimygPb43BZAzOtilOR3SNRbIS5OVMtdDkUXtwGs",
        "items": [
          {
            "etag": "FR0onziXymSvY86h1VGz40425prAAdiPG0wmxKtl7ek",
            "key": "sortQueryParamsMultiplePages540",
            "label": "99",
            "content_type": null,
            "value": "the value for 99",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T02:57:02+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages540?api-version=2023-11-01&label=100",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjI4MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UsPnI3aFYNRVMVz8IBgCrVG6d2cP_iXU7pHu5GXNX84\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:57:02 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjI4MQ==;sn=103846281",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:14 GMT"
      },
      "ResponseBody": {
        "etag": "UsPnI3aFYNRVMVz8IBgCrVG6d2cP_iXU7pHu5GXNX84",
        "key": "sortQueryParamsMultiplePages540",
        "label": "100",
        "content_type": null,
        "value": "the value for 100",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:57:02+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParamsMultiplePages": "sortQueryParamsMultiplePages540"
  }
}
