{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages965?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "sortQueryParamsMultiplePages965",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oAGDqobha43-dIxR5U8xxWe5AhH-kUN_krHrZJbxUhw\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:52 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMzE=;sn=74855031",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:52 GMT"
      },
      "ResponseBody": {
        "etag": "oAGDqobha43-dIxR5U8xxWe5AhH-kUN_krHrZJbxUhw",
        "key": "sortQueryParamsMultiplePages965",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages965?api-version=2023-11-01&label=4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUwMzM="
      },
      "RequestBody": {
        "key": "sortQueryParamsMultiplePages965",
        "label": "4",
        "value": "the value for 4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JBkMg6VLjAk-h4HMazjwl1wKbcPcgT_ywsXrTGIBews\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:52 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMzY=;sn=74855036",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:52 GMT"
      },
      "ResponseBody": {
        "etag": "JBkMg6VLjAk-h4HMazjwl1wKbcPcgT_ywsXrTGIBews",
        "key": "sortQueryParamsMultiplePages965",
        "label": "4",
        "content_type": null,
        "value": "the value for 4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=sortQueryParamsMultiplePages965",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUxNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"gisnj4WOhJz1a7LFK0b6QM0GmtN16emBoPd1GkyefMo\"",
        "Link": "</kv?api-version=2023-11-01&key=sortQueryParamsMultiplePages965&after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczk2NQo5OA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUxNTM=;sn=74855153",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:00 GMT"
      },
      "ResponseBody": {
        "etag": "gisnj4WOhJz1a7LFK0b6QM0GmtN16emBoPd1GkyefMo",
        "items": [
          {
            "etag": "oAGDqobha43-dIxR5U8xxWe5AhH-kUN_krHrZJbxUhw",
            "key": "sortQueryParamsMultiplePages965",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:54:52+00:00"
          },
          {
            "etag": "rDHrYzBYASNy9l-xDCEaLxW0WukXcgDue64a0PqJXYA",
            "key": "sortQueryParamsMultiplePages965",
        [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczk2NQo5OA%3D%3D&api-version=2023-11-01&key=sortQueryParamsMultiplePages965",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUxNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Qf8hrdeL8eVR1eaAb6uTu_5cYJEKRgfvcVXEtF4kHmg\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUxNTk=;sn=74855159",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:01 GMT"
      },
      "ResponseBody": {
        "etag": "Qf8hrdeL8eVR1eaAb6uTu_5cYJEKRgfvcVXEtF4kHmg",
        "items": [
          {
            "etag": "zRTItckZeK4_x6aU6YviGVxrkrHFHWUIT2QDTwaEoL4",
            "key": "sortQueryParamsMultiplePages965",
            "label": "99",
            "content_type": null,
            "value": "the value for 99",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:55:00+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages965?api-version=2023-11-01&label=100",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUzNDk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GFvPw-0liatlfc32CMGcxhY3VAWAcxQYv5BdVDJXPSo\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNTA=;sn=74855350",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:18 GMT"
      },
      "ResponseBody": {
        "etag": "GFvPw-0liatlfc32CMGcxhY3VAWAcxQYv5BdVDJXPSo",
        "key": "sortQueryParamsMultiplePages965",
        "label": "100",
        "content_type": null,
        "value": "the value for 100",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:00+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParamsMultiplePages": "sortQueryParamsMultiplePages965"
  }
}
