{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages21?api-version=2026-04-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7QjdDt493goKw63nKu7Vz_cjbbdYfcRM1af_u-NCJHA\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTM1Ng==;sn=53365356",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:17 GMT"
      },
      "ResponseBody": {
        "etag": "7QjdDt493goKw63nKu7Vz_cjbbdYfcRM1af_u-NCJHA",
        "key": "sortQueryParamsMultiplePages21",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages21?api-version=2026-04-01&label=3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTM1OA=="
      },
      "RequestBody": {
        "label": "3",
        "value": "the value for 3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oREOBGeWVFP5OPK444Bq5kxs11QMy40oFlKhEyqNBRs\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTM1OQ==;sn=53365359",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:17 GMT"
      },
      "ResponseBody": {
        "etag": "oREOBGeWVFP5OPK444Bq5kxs11QMy40oFlKhEyqNBRs",
        "key": "sortQueryParamsMultiplePages21",
        "label": "3",
        "content_type": null,
        "value": "the value for 3",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages21?api-version=2026-04-01&label=97",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTQ1Mg=="
      },
      "RequestBody": {
        "label": "97",
        "value": "the value for 97"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTQ1Mg==;sn=53365452",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:20 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=sortQueryParamsMultiplePages21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTQ1Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"8s6c7hWqXYsVNKIS7iT1yyJm8Udt789Y1Ti59jzvCnQ\"",
        "Link": "</kv?api-version=2026-04-01&key=sortQueryParamsMultiplePages21&after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczIxCjk4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTQ1Ng==;sn=53365456",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:20 GMT"
      },
      "ResponseBody": {
        "etag": "8s6c7hWqXYsVNKIS7iT1yyJm8Udt789Y1Ti59jzvCnQ",
        "items": [
          {
            "etag": "7QjdDt493goKw63nKu7Vz_cjbbdYfcRM1af_u-NCJHA",
            "key": "sortQueryParamsMultiplePages21",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:27:17+00:00"
          },
          {
            "etag": "Pt6ALnAFlDAax8ybzFlfVvwEr2SarJC8DJzA_T6OAzo",
            "key": "sortQueryP[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczIxCjk4&api-version=2026-04-01&key=sortQueryParamsMultiplePages21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTQ1Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"-AOaSJhsi8osmF3icv3-ouKH96ZmjV3RsVeAydQkfmM\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTQ1Ng==;sn=53365456",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:20 GMT"
      },
      "ResponseBody": {
        "etag": "-AOaSJhsi8osmF3icv3-ouKH96ZmjV3RsVeAydQkfmM",
        "items": [
          {
            "etag": "VifbzF3TLyyYWA5uK1YoY7p4vtSwcTQoUCK266aqMsA",
            "key": "sortQueryParamsMultiplePages21",
            "label": "99",
            "content_type": null,
            "value": "the value for 99",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:27:20+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages21?api-version=2026-04-01&label=100",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU2OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ayz_hIatWe70Vl3rqolYD4nf2VwA3a4wZ36O7mrMLe0\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:20 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU2OQ==;sn=53365569",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:24 GMT"
      },
      "ResponseBody": {
        "etag": "ayz_hIatWe70Vl3rqolYD4nf2VwA3a4wZ36O7mrMLe0",
        "key": "sortQueryParamsMultiplePages21",
        "label": "100",
        "content_type": null,
        "value": "the value for 100",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:20+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParamsMultiplePages": "sortQueryParamsMultiplePages21"
  }
}
