{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages5?api-version=2023-11-01&label=1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "1",
        "value": "the value for 1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JPLx6k4Ra07ckx-vcfNy_gr9hjIL75EuH3DftIAivWk\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc2NQ==;sn=115287765",
        "x-ms-date": "Thu, 28 May 2026 21:21:53 GMT"
      },
      "ResponseBody": {
        "etag": "JPLx6k4Ra07ckx-vcfNy_gr9hjIL75EuH3DftIAivWk",
        "key": "sortQueryParamsMultiplePages5",
        "label": "1",
        "content_type": null,
        "value": "the value for 1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages5?api-version=2023-11-01&label=3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc2Nw=="
      },
      "RequestBody": {
        "label": "3",
        "value": "the value for 3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z4LK36Y3k_pPYO5c5b3EAMpoGDUff2kZGNPrJaO5xcE\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc2OA==;sn=115287768",
        "x-ms-date": "Thu, 28 May 2026 21:21:53 GMT"
      },
      "ResponseBody": {
        "etag": "Z4LK36Y3k_pPYO5c5b3EAMpoGDUff2kZGNPrJaO5xcE",
        "key": "sortQueryParamsMultiplePages5",
        "label": "3",
        "content_type": null,
        "value": "the value for 3",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages5?api-version=2023-11-01&label=61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzg0NA=="
      },
      "RequestBody": {
        "label": "61",
        "value": "the value for 61"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg0NA==;sn=115287844",
        "x-ms-date": "Thu, 28 May 2026 21:21:54 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=sortQueryParamsMultiplePages5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzg4Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"D8d8084gGj7mgee17bbABb_s7QwXDg5XJPMVevzm-FE\"",
        "Link": "</kv?api-version=2023-11-01&key=sortQueryParamsMultiplePages5&after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczUKOTg%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg4OQ==;sn=115287889",
        "x-ms-date": "Thu, 28 May 2026 21:21:56 GMT"
      },
      "ResponseBody": {
        "etag": "D8d8084gGj7mgee17bbABb_s7QwXDg5XJPMVevzm-FE",
        "items": [
          {
            "etag": "mNMZh6hKNq9SeYn-rp3TUvGuWWj714z6sIg4BDMuv1A",
            "key": "sortQueryParamsMultiplePages5",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:21:53+00:00"
          },
          {
            "etag": "JPLx6k4Ra07ckx-vcfNy_gr9hjIL75EuH3DftIAivWk",
            "key": "sortQueryParamsMultiplePages5",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczUKOTg=&api-version=2023-11-01&key=sortQueryParamsMultiplePages5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzg4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0Ehkltg1B9b3Ues0rz7JACriuMWG0gUqVBQY1I-jOcM\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg5MQ==;sn=115287891",
        "x-ms-date": "Thu, 28 May 2026 21:21:56 GMT"
      },
      "ResponseBody": {
        "etag": "0Ehkltg1B9b3Ues0rz7JACriuMWG0gUqVBQY1I-jOcM",
        "items": [
          {
            "etag": "_LXmzY9tS9elzakOM0dzafH2BW4yKkG3_agIopxz8Gg",
            "key": "sortQueryParamsMultiplePages5",
            "label": "99",
            "content_type": null,
            "value": "the value for 99",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:21:55+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages5?api-version=2023-11-01&label=100",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODAzOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KBpn7HoqM02z-h6c1HRwtIc7mk2rAYDvLQXPM75LcmU\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA0MA==;sn=115288040",
        "x-ms-date": "Thu, 28 May 2026 21:21:59 GMT"
      },
      "ResponseBody": {
        "etag": "KBpn7HoqM02z-h6c1HRwtIc7mk2rAYDvLQXPM75LcmU",
        "key": "sortQueryParamsMultiplePages5",
        "label": "100",
        "content_type": null,
        "value": "the value for 100",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:55+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParamsMultiplePages": "sortQueryParamsMultiplePages5"
  }
}
