{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6d93760d-cb3d-360b-2c07-a09dda416d06?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869020A560E3\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6d93760d-cb3d-360b-2c07-a09dda416d06/test-blob-dcd47098-f8b5-132d-acb4-7a3b0449550d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "4fAeFKhfrYjXBfiQMoRRTmfUt2Bi+45Q1P1UigIayrnqeoeTjEvo3jm944MDYQkvi8PGbl9O9OZhzT+rCyKGvTo/prj9vsEb69gmpRcLTXL0JP8+U1xZm4WgMb8MPdMXNyZIxLpRMswCq4KGJ0/PVX/NtuYjR2ne5QsyXIwBD60FD23ww4m3o/IyPKfZ0nQ20ds/P4fs8++8at6vH9VAAJzUgRfh3pL2FRP08QvCBBKX+4uwwdAmGBx+M1iqCIMc8jsKBVFcVPJJSSlz+AHk+mbLGCNJjz/Mrmj7Y6o5TA2P1//Pt/7BOqaZZ3imsiAamjny3u9f02L8PlfoYfFHD/0c4yACFEJnCt19ryfGJvtI4MlxR20dMASc03mn2Nm1Ulh6ic7/GIX3i9MR4iM7NRdboIAo1siP/7McZUD[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6d93760d-cb3d-360b-2c07-a09dda416d06/test-blob-dcd47098-f8b5-132d-acb4-7a3b0449550d?sv=Sanitized&se=2024-06-08T01%3A21%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "5g2EuAXGNDfa3vKGpFm5Yw==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869020C30B6A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:16.2833770Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4222e9d9-5cdc-2dd4-534f-adae1d3d5898/test-blob-b605deaa-6347-4927-bf34-d72171c5dab9?sv=Sanitized&se=2024-06-08T01%3A21%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-6d93760d-cb3d-360b-2c07-a09dda416d06/test-blob-dcd47098-f8b5-132d-acb4-7a3b0449550d?sv=Sanitized&se=2024-06-08T01%3A21%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869020E3FE24\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-content-crc64": "FoZ5KyVy9ck=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:16.4993060Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6d93760d-cb3d-360b-2c07-a09dda416d06/test-blob-dcd47098-f8b5-132d-acb4-7a3b0449550d?sv=Sanitized&se=2024-06-08T01%3A21%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC869020C30B6A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869020C30B6A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-blob-content-md5": "5g2EuAXGNDfa3vKGpFm5Yw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6d93760d-cb3d-360b-2c07-a09dda416d06?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:21:14.7870092-05:00",
    "RandomSeed": "2065916010",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
