{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4586cd-7efd-d5ed-4c0c-e08c6d3f07d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0ECC89915\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4586cd-7efd-d5ed-4c0c-e08c6d3f07d1/test-blob-3f51afbc-6fe0-3d04-af92-59ddef5402cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ml8SiFMmCjdxjZ\u002BjH2pSIyjoZd0wpn8\u002BGwtg7jqCsQygfAw3UVDwldzZYV6FhZk/QVcfFkhHk/Pf1GxIxRv979uTAqJdG9HY\u002BNAAVkUguJVyIKziYpvEWegZV3zjqM/A3HGD8oP24SaFRh14Rz2uvhzW1aVuGow/zqm5RMNU9E8AP3rUncUSez6GXRx\u002BSxKra5hgDNIqUsHkQyPZPJxiMFLNdwfD2SFWxFpm6LxwwYOXDtkr9Od91u2471mhOD6hIy3JsNQK55F3Ckh4w2kEdIKgQi7DNzxqUKAaC\u002BrHtIsbxMSPphGujCZIs\u002BmfBBODs3rXAfYQ3uzwX1[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4586cd-7efd-d5ed-4c0c-e08c6d3f07d1/test-blob-3f51afbc-6fe0-3d04-af92-59ddef5402cf?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "f6pN3crLRw/RbRVm5bQf\u002BQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0ECEEB820\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:57.6056100Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee6b8ecd-dbc1-d0c8-b17e-cae25a78317e/test-blob-898afc09-1bd0-231c-0559-0230ca6a3a1a?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fe4586cd-7efd-d5ed-4c0c-e08c6d3f07d1/test-blob-3f51afbc-6fe0-3d04-af92-59ddef5402cf?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "P9Sbn54ljPw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee6b8ecd-dbc1-d0c8-b17e-cae25a78317e/test-blob-898afc09-1bd0-231c-0559-0230ca6a3a1a?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fe4586cd-7efd-d5ed-4c0c-e08c6d3f07d1/test-blob-3f51afbc-6fe0-3d04-af92-59ddef5402cf?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=512-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "fXzm4NIPenk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee6b8ecd-dbc1-d0c8-b17e-cae25a78317e/test-blob-898afc09-1bd0-231c-0559-0230ca6a3a1a?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0ED455723\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:58 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:58.1722915Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4586cd-7efd-d5ed-4c0c-e08c6d3f07d1/test-blob-3f51afbc-6fe0-3d04-af92-59ddef5402cf?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB0ECEEB820\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0ECEEB820\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:57 GMT",
        "x-ms-blob-content-md5": "f6pN3crLRw/RbRVm5bQf\u002BQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:57.6056100Z"
      },
      "ResponseBody": "ml8SiFMmCjdxjZ\u002BjH2pSIyjoZd0wpn8\u002BGwtg7jqCsQygfAw3UVDwldzZYV6F[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4586cd-7efd-d5ed-4c0c-e08c6d3f07d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:54:56.2355559-07:00",
    "RandomSeed": "856471027",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
