{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ab744cc-3da9-842c-0908-393bc0b8191b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869020055DBF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ab744cc-3da9-842c-0908-393bc0b8191b/test-blob-e46fc91d-02ec-3fbf-82ac-b1e7d1ce0db8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:13 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "zSeSDi6MZwRo9u7dFvyBHxtwmlbwCktfV7OiEId0l1pJXxl5p8PTh6uXIcW877cb1UREpwAoCsPbM7d66Vd981+TlLbiCHdXnRKrWOiGomf7hzpCL+9aIFVWnXMLWJ5UGi5lKFsBOM3M7ArufbHaVZBQfmEcOsRvOXNhjGsETER0Vz26IHkL+k9tdULla6Oje0fiu9k8N+Bp9u/noKxhyKDFeiV0IDUWRIQSr8WBis3QvRAjIpBrNyBdUCqKJFqiC62hIPF9LlsSy3dVKYga6GwhFuKcPqYQWkIFF88KjB8pcKMY4GncU4+0EVYYFQ6XQmi+aA14Bs0GkcWvdxeLBz9XK7nkAgcCRcNT5yxP90QzbdVnTCMRsWnWEU6kLNt3KAoXwelVsz9guyNKJR6htpmBewlCJLobRXpPDfG[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ab744cc-3da9-842c-0908-393bc0b8191b/test-blob-e46fc91d-02ec-3fbf-82ac-b1e7d1ce0db8?sv=Sanitized&se=2024-06-08T01%3A21%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "W09QFQSWcpebPBQRrsDifA==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86902020228F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:15 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:21:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:15.2157327Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ae5d20d3-9ff8-e058-8e46-627a3748d94f/test-blob-f3d707c9-4f37-87f4-de24-ab2c9d663912?sv=Sanitized&se=2024-06-08T01%3A21%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-0ab744cc-3da9-842c-0908-393bc0b8191b/test-blob-e46fc91d-02ec-3fbf-82ac-b1e7d1ce0db8?sv=Sanitized&se=2024-06-08T01%3A21%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690203F40AB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:15 GMT",
        "x-ms-content-crc64": "bBw8ryA8xfY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:15.4196651Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ab744cc-3da9-842c-0908-393bc0b8191b/test-blob-e46fc91d-02ec-3fbf-82ac-b1e7d1ce0db8?sv=Sanitized&se=2024-06-08T01%3A21%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86902020228F\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86902020228F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:15 GMT",
        "x-ms-blob-content-md5": "W09QFQSWcpebPBQRrsDifA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ab744cc-3da9-842c-0908-393bc0b8191b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:21:13.7202170-05:00",
    "RandomSeed": "1018822197",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
