{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65982013-d3b8-b879-37fb-36ed45ef407c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1114A18A41\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4eb73bda-30ac-96d2-59fc-dbba51151450/test-blob-adf63355-7a16-b0d3-6fc3-2a3c50eb9ddd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "nOUVloMC4UD0o9LM/j5TfAZUOAtVLDMfBPQ8+ogJGoMYJ5VEIesxT9e++48qAmrXc+076cwv73Cx9pGOxue36olOtNepD1sbIuk0lzCj9QKJZIaazTG36TgkkitZoojwBhAG206TLmSSIMbi+1dADQGPBWFgHB1Xl8qehHwwwYBgQ5AfnBm09jYiCK1q1O3g5IQqyp0nj+nzr0SD9KnnYV5FgbfHIXDn2g4qPhRw7MLcvqD3BvfjObSmK+3UMQGNOqZOJVM2GcMUQu+O/FDVg8KBpjYJ71tmYkgDIPWDEqkMnQRtIcdvpqTd48QIVDxj0agrUorLg0pL58IKM/jNkS9Fgl5MZ2L7Ev+RLAyXXg0Ln09NV8AeQBq6IjkEZHKsD1KUwtLdF2lFL0CLOlc+s4m1/pSpfzlvJkFEkkU[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65982013-d3b8-b879-37fb-36ed45ef407c/test-blob-2c65d078-e167-c247-d93a-18d9f85fbbcb?sv=Sanitized&se=2025-03-08T00%3A43%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "PLzyotdyFWwf7IuuyP4fWA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1114BFA3A7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4eb73bda-30ac-96d2-59fc-dbba51151450/test-blob-adf63355-7a16-b0d3-6fc3-2a3c50eb9ddd?sv=Sanitized&se=2025-03-08T00%3A43%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-65982013-d3b8-b879-37fb-36ed45ef407c/test-blob-2c65d078-e167-c247-d93a-18d9f85fbbcb?sv=sanitized-value&se=2025-03-08T00%3A43%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1114D9774B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-content-crc64": "zzZvVzEkRLY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65982013-d3b8-b879-37fb-36ed45ef407c/test-blob-2c65d078-e167-c247-d93a-18d9f85fbbcb?sv=Sanitized&se=2025-03-08T00%3A43%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1114BFA3A7\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1114BFA3A7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-blob-content-md5": "PLzyotdyFWwf7IuuyP4fWA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "AZqh86pW/XmTSACfoFuDgt2v3gEVUyZS2ux3G[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65982013-d3b8-b879-37fb-36ed45ef407c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:43:30.0310905-08:00",
    "RandomSeed": "402046359",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
