{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de2664cc-4ca7-8f24-0beb-92f711b9c3ee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D366B83F9E\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9a2cfb1d-33ec-529e-f796-2eda04192244/test-blob-046bb82b-4c4d-13f2-6501-40774a59d5be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "wD5j6Hciuuo4y4R5\u002BB6D2E6IliXFjCleLuCxjJow7p4MrKVlK6A5FLcPoJ5PLea4\u002Bk8ph6LMazMUBLmXcC1QCNzmbUt5HqytToFtteuLDwH6\u002BZJKBmf8QEFxUSbnoqOKv5jBaL\u002BaPtyiezggXrVIifW3nHebBQF16i0KCMyGxqve4/ZSyaZBYLq1qIou2\u002BGLKccwLwYr7rmXTH6SjzYPHLWNQnq/9cBPdTu95V12Rw5Lf98FVZalsvU8u30or9CDpovVoZlnyzQH4bnKbQlcIARvRhBXCsYe54\u002BFgjlDJsZrOj/RoaZ147Or/nPc2kTr4Jt4uWnALJzFtr[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de2664cc-4ca7-8f24-0beb-92f711b9c3ee/test-blob-3f196b27-0ca8-1343-9730-17bbcee642b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "iWmbf1v7rTv3ZSaxh3oo0bL97bouABPLJjzSFmfRy9BrqMUP6kVA7EWj5fe1pr1tWMg/NagY2IlV0FkeKZfTJppWRd61GOdtvAB1ihobFX9/ZL6fkpUnUtA8uhnrIsOtz79cX2HeuD/g0Xioo01uObrZn8TZNJQELvIOeF7NgZo9x7pbv7YeoKx\u002BvsAdf6\u002BCzYBeEoP\u002B1JsrWDBu0D/gE0/eatuTE3oEuv4YWnXT569Di6rebm8XP/MeMGaFsNBsnatwPxTT7roFWliF5XklV3CBK0SUAqTgxyvodeMTfgotrL3KY6iab53w2BMWkVl5\u002BNj2BISM15sGj3fp63nX8txNVzm8WvTI57ynpCmQyTXRb3wKHXmFodQhxNMwsYMjGOY3yTogvJ3jLRzH5TJ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de2664cc-4ca7-8f24-0beb-92f711b9c3ee/test-blob-3f196b27-0ca8-1343-9730-17bbcee642b8?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A56Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "b7SC6NM0TfsSq888qGxqrQ==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D366D4B054\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:26:56.6326356Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9a2cfb1d-33ec-529e-f796-2eda04192244/test-blob-046bb82b-4c4d-13f2-6501-40774a59d5be?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A56Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:ef4a5fc2-b01e-0048-26bc-8a68d6000000\n",
        "Time:2024-04-09T20:26:56.8117544Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9a2cfb1d-33ec-529e-f796-2eda04192244/test-blob-046bb82b-4c4d-13f2-6501-40774a59d5be?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A56Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "C1tYhO6jAOgcSP/YRKDbnw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC58D366CB62E3\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:26:56.5716707Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9a2cfb1d-33ec-529e-f796-2eda04192244/test-blob-046bb82b-4c4d-13f2-6501-40774a59d5be?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A56Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D366CB62E3\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC58D366CB62E3\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-blob-content-md5": "C1tYhO6jAOgcSP/YRKDbnw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:26:56.5716707Z"
      },
      "ResponseBody": "wD5j6Hciuuo4y4R5\u002BB6D2E6IliXFjCleLuCxjJow7p4MrKVlK6A5FLcPoJ5PLea4\u002B[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de2664cc-4ca7-8f24-0beb-92f711b9c3ee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:26:56.1927887-07:00",
    "RandomSeed": "2024441561",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
