{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1ea9ed84-30a7-2497-ab44-bee5e8f8b700?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0E3B27D92\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1ea9ed84-30a7-2497-ab44-bee5e8f8b700/test-blob-53ccd614-b9d9-e281-e4f4-2ed343a3d5dd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "KI2teBcBshUIk\u002BIT48xoBPnBcyPBVGsZ6vkrJRu7aXoX3yXQHSzlUePi8NN0p3QPa2bwrOexQdMhlI4d1Yz5TSpn/AOmmOfM2yFA3mSYpUKEG7m0yr2SZZ5SroieyHtW6KOpDKtxadN\u002BI9HGcWJvie5LmLrSRYJs1ZZlVOleLROm6fbA75iWE7LmNqbszPQ74iWZUy/BhKMhPDcVCxXpH/a\u002BIIdsr5pWtIUH7A/bgAihKnHExdrj5GVSn7JhgQed/RawLqxszjOKQ56pupiURbsuc\u002BGjJFob2jsiGg/n9DN9ae74K1JcNVw9OYE7OinNvln3Mw0m\u002Bdi7lFNwSrM[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1ea9ed84-30a7-2497-ab44-bee5e8f8b700/test-blob-53ccd614-b9d9-e281-e4f4-2ed343a3d5dd?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Z9i8VLWg2EGQH8PK7NozUA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0E3DABDB0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:42.3741872Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4cb2d547-394b-bca8-3e7b-c6d038e15d0b/test-blob-56d1e4b1-6b72-0a1c-ac8d-fcec505d402e?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1ea9ed84-30a7-2497-ab44-bee5e8f8b700/test-blob-53ccd614-b9d9-e281-e4f4-2ed343a3d5dd?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0E40041A8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:42 GMT",
        "x-ms-content-crc64": "SNWCQRUx4cM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:42.6200488Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1ea9ed84-30a7-2497-ab44-bee5e8f8b700/test-blob-53ccd614-b9d9-e281-e4f4-2ed343a3d5dd?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB0E3DABDB0\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0E3DABDB0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:42 GMT",
        "x-ms-blob-content-md5": "Z9i8VLWg2EGQH8PK7NozUA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:42.3741872Z"
      },
      "ResponseBody": "KI2teBcBshUIk\u002BIT48xoBPnBcyPBVGsZ6vkrJRu7aXoX3yXQHSzlUePi8NN0p3QPa2bwrO[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1ea9ed84-30a7-2497-ab44-bee5e8f8b700?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:54:41.0031198-07:00",
    "RandomSeed": "1748621254",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
