{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4d269949-86c1-0b46-0aed-73e4911a84f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1116629682\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7bb8563b-eb63-1fa9-e2ad-6189a994218d/test-blob-2820c8e2-c5bd-9d4d-4796-da34af754cc0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VEJ3SMHTF7ROp/aEcc7nVerFejPluBV/2E5GHnmU17wRvMMa8Afgk4tWLAKZYzkNj4T5NcjThJss+HBzjfk6uc85crULzGTj5eeoj4wT5XQVOY70m6HzPjcn7feWbAaSG3IyX/CEAcIfFlDhKvQOGRL7XVRqRR0tRjN9499tTHjhFnMa4IaEkTfL1YVREhRCGdTkmw+yJ9ZUBRm8Bh3jssnXABOB9DiMd8wcn3CY2zQfOsoKiLFpLu+dxdttx4oZ5yK7eREAwSScWCRClYdlvCnknctT2SoYbtEk4y5cHq9CArhO3GIiH3mlbTCNJ5loOAmxiCq/xg74ows/2932Pzl0AJPPFt/Hwn5SrWv5i0c4[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4d269949-86c1-0b46-0aed-73e4911a84f1/test-blob-5cef6438-f6c2-683f-a66e-0375852877b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "obVA3nat0+kqR4cMS/xeMno5Pe0WgOcwvupobbQvtMVfUgJzn/4hAVIYqoE8spk4x9BPm+oQzSDOECCMRGU0+5PCrfn66pJ7Fzya/tZl8wxQMKbk3xjaT4ThpY/elbzt5K/teQWfPtw904Sudc9KaBwTOxS/UBt75151GEUDnYJ/rRoneHkHsfHJpguULNm0lz1yylmnLpOTcpKnKiWXOjYBLsi1IvCiDIoi9aoQ57qEwIAIkNMo136GlAXnYIbLMmvVkv4Q/3RNz77PhDnpgovXImqljqli2VdJL47qu6sEV8I+O1S8c8ELu8AUWVJFnBF5ED0bJqTCcrinx8/mYhQSyy12q0c2Gq6pmdPoTYAEBJJ8capt6DAefMibFazxJVisAo0kzvHKQvWPcozQ2SU4osM9afFppOP9WC5[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4d269949-86c1-0b46-0aed-73e4911a84f1/test-blob-5cef6438-f6c2-683f-a66e-0375852877b6?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "tBEPJyXobbxf6VoJIlx2Qw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11168B0D32\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7bb8563b-eb63-1fa9-e2ad-6189a994218d/test-blob-2820c8e2-c5bd-9d4d-4796-da34af754cc0?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4d269949-86c1-0b46-0aed-73e4911a84f1/test-blob-5cef6438-f6c2-683f-a66e-0375852877b6?sv=sanitized-value&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f2c5b836-401e-0064-33f9-8e512c000000\n",
        "Time:2025-03-07T00:43:33.2129295Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7bb8563b-eb63-1fa9-e2ad-6189a994218d/test-blob-2820c8e2-c5bd-9d4d-4796-da34af754cc0?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dVUWDhqbB5/a2P9mh9RyoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1116785D74\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7bb8563b-eb63-1fa9-e2ad-6189a994218d/test-blob-2820c8e2-c5bd-9d4d-4796-da34af754cc0?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1116785D74\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1116785D74\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:32 GMT",
        "x-ms-blob-content-md5": "dVUWDhqbB5/a2P9mh9RyoQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "VEJ3SMHTF7ROp/aEcc7nVerFejPluBV/2E5GHnmU17wRvMMa8Afgk4tWLAKZYzkNj4T5NcjThJss+HBzjfk6uc85crULzGTj5eeoj4wT5XQVOY70m6HzPjcn7feWbAaSG3IyX/CEAcIfFlDhKvQOGRL7XVRqRR0tRjN9499tTHjhFnMa4[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4d269949-86c1-0b46-0aed-73e4911a84f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:43:33.0451187-08:00",
    "RandomSeed": "758762975",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
