{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dc2656c0-1175-66d7-ffb7-f9a74b10389f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC646EB5E4\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dc2656c0-1175-66d7-ffb7-f9a74b10389f/test-blob-e584369c-5218-0819-c4a8-6340725497f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "fwicSvh0f/04cQ6t4OfdnufxJC22Uhz1ZWsbmN/CJITHEmMHmjZQqTv0axUhGtnKIo85JkgUFi3sp\u002BWNWeYddU2J5c2D1gOxoXrywuYG00uRUHZQif07s/w1GvJQw1BV1vXIlzQMR0yLiIXOIVNH5dOZ/AhvzexPTjHQTbsRYN4pnezwPjwWhQkqxAB4bZGp7jUft8ZH5QgJeEkCO/mReiimpIRnVqaXg3f/RQjr1uCgJ1\u002BF8agX4rfj58byE0kPmUrY0cgNQpeOhzNPR6AAHaJoYhOZC4h/j8LNg2/gpG8t76y\u002BEwQYkuXH9mp1x5oX48kkirE1dY3CWUIFP74oruPEIlf0QgqdUM8u0hQeCsgntp\u002BlvBq\u002B93ke/LrCElImnkiGsKVCIqG\u002BhjrhB6N4o0553okegvLJBire1kVQ2j18BzPMl1kj5ZP\u002B5jXg3PDWpVhrSTTJCBxVvap6ZExbbqv8ZP9wrAv1Vvj2IJu86Sk5BzDt5ZEJs/8XdtquqIBGoniK43jxZvhMdfI70uiAmdSBQVwbbYgZ87AAWDUxRq14r30jMQWxSKE3oXCezeEXl90GLWcjKzTwcPDH8A3DGy5FwyNqXGfOz/i748wYeiXP6cFYKhlFVIRIM8EU6VeUdIZBWQq9rDp1N15uaEdn1/XL9wdLa/AV/26fIimmueU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "dbun1S/1BecemH1cxfYv7g==",
        "ETag": "\u00220x8DC54FC6481BB34\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-content-crc64": "PF77Wz/xa5Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:17.4483252Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dc2656c0-1175-66d7-ffb7-f9a74b10389f/test-blob-e584369c-5218-0819-c4a8-6340725497f0?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dbun1S/1BecemH1cxfYv7g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC6481BB34\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:17.4483252Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc84b9cc-d590-f370-c273-e09d8834b239/test-blob-86bd3c73-b95e-80f7-33ad-72c012bc5d8c?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-dc2656c0-1175-66d7-ffb7-f9a74b10389f/test-blob-e584369c-5218-0819-c4a8-6340725497f0?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC649F511E\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-content-crc64": "PF77Wz/xa5Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:17.6422174Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc84b9cc-d590-f370-c273-e09d8834b239/test-blob-86bd3c73-b95e-80f7-33ad-72c012bc5d8c?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dbun1S/1BecemH1cxfYv7g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC649F511E\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:17.6422174Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dc2656c0-1175-66d7-ffb7-f9a74b10389f/test-blob-e584369c-5218-0819-c4a8-6340725497f0?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC6481BB34\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC6481BB34\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-blob-content-md5": "dbun1S/1BecemH1cxfYv7g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:17.4483252Z"
      },
      "ResponseBody": "fwicSvh0f/04cQ6t4OfdnufxJC22Uhz1ZWsbmN/CJITHEmMHmjZQqTv0axUhGtnKIo85JkgUFi3sp\u002BWNWeYddU2J5c2D1gOxoXrywuYG00uRUHZQif07s/w1GvJQw1BV1vXIlzQMR0yLiIXOIVNH5dOZ/AhvzexPTjHQTbsRYN4pnezwPjwWhQkqxAB4bZGp7jUft8ZH5QgJeEkCO/mReiimpIRnVqaXg3f/RQjr1uCgJ1\u002BF8agX4rfj58byE0kPmUrY0cgNQpeOhzNPR6AAHaJoYhOZC4h/j8LNg2/gpG8t76y\u002BEwQYkuXH9mp1x5oX48kkirE1dY3CWUIFP74oruPEIlf0QgqdUM8u0hQeCsgntp\u002BlvBq\u002B93ke/LrCElImnkiGsKVCIqG\u002BhjrhB6N4o0553okegvLJBire1kVQ2j18BzPMl1kj5ZP\u002B5jXg3PDWpVhrSTTJCBxVvap6ZExbbqv8ZP9wrAv1Vvj2IJu86Sk5BzDt5ZEJs/8XdtquqIBGoniK43jxZvhMdfI70uiAmdSBQVwbbYgZ87AAWDUxRq14r30jMQWxSKE3oXCezeEXl90GLWcjKzTwcPDH8A3DGy5FwyNqXGfOz/i748wYeiXP6cFYKhlFVIRIM8EU6VeUdIZBWQq9rDp1N15uaEdn1/XL9wdLa/AV/26fIimmueU="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dc2656c0-1175-66d7-ffb7-f9a74b10389f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:10:16.8544009-07:00",
    "RandomSeed": "1169088452",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
