{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-369a598b-446b-fae5-95ff-6a3a4fc5009e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:33:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DFC2C00B8\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-217a69aa-ef8b-52e9-5b2e-1eda2e55b32e/test-blob-613a4a4c-6beb-a6a7-00d7-87de225591eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:33:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xJb8tlvcu4nNgL3XqxhX7ErtfD8g3CO7nJhMUUqkNXCgvaw5iLBLwMQjgsxvQo1wwsxPku27YudzQBrDkGo+KUtNNu5sHmSZorx7/VpXTFoK2499VKKC5FrExkeWhy9Z5FmAIQueA6NotvAxQGSMG/S/uLTbwNSpy1GTp1ccAhqMIhgB1ipOa9jrFZ6xUKT1N6pT1s57fSSE11a5ClxMS7PVpR5Mi0TJcU3c8Ks193qtnW+syStMEKT0fP/TlGF8n8nq3KuGqaxmiWWBn415TuDcDGzsn4KIiZR5WA5F9tzrYFHhShvOJvTDRj/FynEXey0e94f0j/9HYlIXDFGdIJOJlT87lwPFDeZ4KFhCwr4iYt3gJv5U99BRmejItxqjJSarOzUy2+MqWemhe2anBJ+U9apzvfmUNZ1v6f0[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-369a598b-446b-fae5-95ff-6a3a4fc5009e/test-blob-80dd27d1-a7d2-0457-be04-57e2949c3046?sv=2024-08-04&se=2024-05-02T20%3A33%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "5Wf+wshGjYoqhBKR6yBwkA==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DFC5C6556\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:40.0277334Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-217a69aa-ef8b-52e9-5b2e-1eda2e55b32e/test-blob-613a4a4c-6beb-a6a7-00d7-87de225591eb?sv=2024-08-04&se=2024-05-02T20%3A33%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-369a598b-446b-fae5-95ff-6a3a4fc5009e/test-blob-80dd27d1-a7d2-0457-be04-57e2949c3046?sv=2024-08-04&se=2024-05-02T20%3A33%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DFC814D18\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-content-crc64": "2E243hGJnN4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:40.2705960Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-369a598b-446b-fae5-95ff-6a3a4fc5009e/test-blob-80dd27d1-a7d2-0457-be04-57e2949c3046?sv=2024-08-04&se=2024-05-02T20%3A33%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1DFC5C6556\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DFC5C6556\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-blob-content-md5": "5Wf+wshGjYoqhBKR6yBwkA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-369a598b-446b-fae5-95ff-6a3a4fc5009e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:33:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:33:39.7361219-07:00",
    "RandomSeed": "281784305",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
