{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5102d60e-f562-43de-a3b1-23bbc4849133?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FA2D8957A\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c07e99b0-bb14-b5f7-ea30-1ac457c956a4/test-blob-89efdee6-be89-eaef-dcd4-02e63ad9df18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "XsI1a01L42uEF4bWnO6cYjq0MTz07kvIPAR0I/jlN+q16UW3Y9ZRx30e7mtOt164lhSDIGzuo292bC5J18Bzn9+cIbKp5P9kY2q/1QDgeYWlu4zjYRd9xkXVQfaoCO+9q0+LspasD7IVH70CL85vlvOpoxszjz3IH1ps06IJu1t6AiqwVMfu+azZzkJaepd3ZqsD/mTUiRwSw5M7PzsPDGNiiCykvkEruqlvWcD7bqTC9G33Bb32pXgOnpE0srlwysLe+PFq06dp10S7ZS9bF1TueUvNFwama+O0liCw9wfw/o/+HHazWCHGji54O0BIsoY8RTluo7K8N4wOtj2GuN88ymagXPreOiApB4nYLjCi[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5102d60e-f562-43de-a3b1-23bbc4849133/test-blob-5b83c223-8ae6-14d6-933d-f91d9563eda5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:44 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "rmPX5w2To1q8W2Xn9NUziVDxCRsxqzmdj0Iq95kg5OdM5CvLCpxQCh5IE2nivLWyOWPxBuJQ5AIqOljKaKzAm3Z9mxCpZ36zof/96JfPutKNd702L94F/P8ooc9EhqFxh3fyZSGlCdHkPWTjUvtqWoCFPPDuimuYeJ4QgMaubxtdi2Eg3VWx6G7rUfJ5IakDvkdPvkmxg/0MWu2ClIgLNc5JhceaSn0r1FSBAjh5Hlb0DMJ/X7DRrAhjE4NnLlPm4BwjMJviaXPJJOr1L4HFkjuWjYjGjNYdd9m/Njb6w6YAmyIcVe67EqNPtTvG232GnoFH0aDLH1NFBrjCIjI8z2FD9ZNeqDxM23vkd9ebVptbOJi1svEFNXvO1k81+O9xEubZgubqJ/VE+/Yl5qh8qq8cZuqahhxvPr8XkNL[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5102d60e-f562-43de-a3b1-23bbc4849133/test-blob-5b83c223-8ae6-14d6-933d-f91d9563eda5?sv=Sanitized&se=2025-02-01T21%3A38%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "xFNMkffxxxcBcBT7hJuEkQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FA2F06C18\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:44 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:38:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:44.0516632Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c07e99b0-bb14-b5f7-ea30-1ac457c956a4/test-blob-89efdee6-be89-eaef-dcd4-02e63ad9df18?sv=Sanitized&se=2025-02-01T21%3A38%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5102d60e-f562-43de-a3b1-23bbc4849133/test-blob-5b83c223-8ae6-14d6-933d-f91d9563eda5?sv=sanitized-value&se=2025-02-01T21%3A38%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe48f3bf-301e-0096-1728-74d313000000\n",
        "Time:2025-01-31T21:38:44.1728952Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c07e99b0-bb14-b5f7-ea30-1ac457c956a4/test-blob-89efdee6-be89-eaef-dcd4-02e63ad9df18?sv=Sanitized&se=2025-02-01T21%3A38%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "5YOvx7vJRUTLfHky5XOzdA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FA2E7BAC4\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:43.9946948Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c07e99b0-bb14-b5f7-ea30-1ac457c956a4/test-blob-89efdee6-be89-eaef-dcd4-02e63ad9df18?sv=Sanitized&se=2025-02-01T21%3A38%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FA2E7BAC4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FA2E7BAC4\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-blob-content-md5": "5YOvx7vJRUTLfHky5XOzdA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:43.9946948Z"
      },
      "ResponseBody": "XsI1a01L4[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5102d60e-f562-43de-a3b1-23bbc4849133?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:38:44.0275834-08:00",
    "RandomSeed": "1075366118",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
