{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a6c4df33-b0d1-e6ac-2036-013c6800f8cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:22:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC8705D6B9\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:22:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a6c4df33-b0d1-e6ac-2036-013c6800f8cf/test-blob-5da04fe7-30e7-2d2a-47bf-68b0715fbfe3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "JcVZQInda9qbTGLzHr2pqH7xmaME0aEdHaX3V3gZv8Mp3H4+ec8SX3VewFyCMEgifU/pceWgYFQkOyPk5hRhgo2eyUE/ai6u3jotphBFm+1c1NkpL03eiXwpGj6sLnlh/D3O5GYH4xIgOpOrcrpD36A1hxE6OFNAwEDEFVDwArDAzKnSdreGVPHHCPW5MxbB5juddqZnJ8PqjiMlQs3CLzjj6qYQcGjprzIgcy9eho0qAy8VU4sJWaTm6OiTYBIjBNi81khvsHXSs8d0R7SUjAeW+z+erdys2ZEBKoiAVk4g/G5Woa9EulK5Q5/ElRHwUlvg/GXShVf8EPy3bYbsUV14U0tFPetYUkDs5Go950R/EdgtoFrpTXYXWpCyjEzMzfFCS0HFqhRvh6ok5aHtvyi4N1yuv7EDjgXVLuN[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a6c4df33-b0d1-e6ac-2036-013c6800f8cf/test-blob-5da04fe7-30e7-2d2a-47bf-68b0715fbfe3?sv=Sanitized&se=2025-01-31T01%3A22%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "UbDLq+RFc9tjfCc9lQ624Q==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC87185941\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:22:14.0504385Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c11eea2d-243e-cec7-d83f-a3da73dd6007/test-blob-fbc81ec2-9b1b-13d6-734c-a41a4c8f8dce?sv=Sanitized&se=2025-01-31T01%3A22%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a6c4df33-b0d1-e6ac-2036-013c6800f8cf/test-blob-5da04fe7-30e7-2d2a-47bf-68b0715fbfe3?sv=sanitized-value&se=2025-01-31T01%3A22%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC872C2C6E\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-content-crc64": "RRl7qc3HQFE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:22:14.1803630Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a6c4df33-b0d1-e6ac-2036-013c6800f8cf/test-blob-5da04fe7-30e7-2d2a-47bf-68b0715fbfe3?sv=Sanitized&se=2025-01-31T01%3A22%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CC87185941\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC87185941\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-blob-content-md5": "UbDLq+RFc9tjfCc9lQ624Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a6c4df33-b0d1-e6ac-2036-013c6800f8cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:22:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:22:14.0699277-08:00",
    "RandomSeed": "1640895832",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
