{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b194604f-cc8b-b3cd-c036-3dfc96e46c25?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42383D218DD3\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b194604f-cc8b-b3cd-c036-3dfc96e46c25/test-blob-4a6574e3-bd5c-f5c2-af80-def14d06aecd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "7OtsE7OXGn14vPNOi4TdB8kJeOtmK/w+PjmCSGO3Re6loiKJJ8BU+BlsKkaiFfNT1dTvNMO1WMDvLdV6FNIZwHcFqelhU98JtX/S+gC1myhFLnKPyBAq70phmfrq2eNGUmrPnWwK8YH05n9E4l2/OZGsNeZfivdm2rme/7rlHtubi6eW5v68OzzxmuGQ5gzsol9oPqT958hyaMOya/LHDsikqFe2KVOT8Pmpbe8W1fOssl1afd83naTfJH46Cc9KKowZ7D61NngM1U6qVHnYXJLPBrmUbJHobQqz1gTUWOYqXkNj/Oi193vlTaiRjEkqB8jrawMWtr36MX8zAV90N3xngPU2dF+qGQ49rx/oVuDBic886e3jFKiFactogvYbcBUrKgtU9JJoQVH02AeeEdufcniQN06OhGxMsAu[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b194604f-cc8b-b3cd-c036-3dfc96e46c25/test-blob-4a6574e3-bd5c-f5c2-af80-def14d06aecd?sv=Sanitized&se=2025-02-01T20%3A45%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "1robVWZFXkfASiPrhlMSgg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42383D3130F6\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:45:46.8714230Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-743e2ed2-ee6e-1fde-dcbb-9bd01228d04a/test-blob-1e204cee-b2ed-70a1-5c0c-cb3c3632452c?sv=Sanitized&se=2025-02-01T20%3A45%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b194604f-cc8b-b3cd-c036-3dfc96e46c25/test-blob-4a6574e3-bd5c-f5c2-af80-def14d06aecd?sv=sanitized-value&se=2025-02-01T20%3A45%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42383D450433\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-content-crc64": "9VXq7YYvtkY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:45:47.0013491Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b194604f-cc8b-b3cd-c036-3dfc96e46c25/test-blob-4a6574e3-bd5c-f5c2-af80-def14d06aecd?sv=Sanitized&se=2025-02-01T20%3A45%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD42383D3130F6\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42383D3130F6\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-blob-content-md5": "1robVWZFXkfASiPrhlMSgg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:45:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b194604f-cc8b-b3cd-c036-3dfc96e46c25?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:45:46.9052551-08:00",
    "RandomSeed": "1808579082",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
