{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ce210cc1-1c16-a5a9-78a8-09599e89ed1c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AE8B2BB55\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ce210cc1-1c16-a5a9-78a8-09599e89ed1c/test-blob-16282aae-8b50-6ef7-302a-6f954c5234ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "KG4uun/FdHmkV2iFqaeowOYNW\u002Bd6dJPgVwiejuzRnLUf268EMoZybFAbJy\u002BfDHNnIxjYZo7vVbPaTWJ2J\u002BWM07uzZc33o41gmu6WX01kQUuVN2vT\u002BTUmL4b7KuUj/EVrjlN066alb3\u002BLd8ugWfZmdQsX4e96uNqFjDZH/HmoPJ6oK9D58Fak78frSIFqhtaPlbTZCxpV8dZ57l5vXnMG4zss9y0mbIW1cvEojnBYGgZgt2bFzjGDUzr6gAH3NZFU5WRGPY6oaSguJJgpLWJlINNYDqYNQRUJqaTzK\u002ByDvj1f06kMEtx3uE09lqqYWiXXlF8tnybrR6RPPJ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ce210cc1-1c16-a5a9-78a8-09599e89ed1c/test-blob-16282aae-8b50-6ef7-302a-6f954c5234ec?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A15Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mlQ1i/oA9ItUMwO/D4RkOg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AE8C740E5\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:17.0267877Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62b27776-d9c6-0812-cbbf-cb40ae24d1ba/test-blob-b6304620-7415-2dae-16d9-e97bef2f345e?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A15Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "BmXVEcPBaUE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62b27776-d9c6-0812-cbbf-cb40ae24d1ba/test-blob-b6304620-7415-2dae-16d9-e97bef2f345e?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A15Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-source-range": "bytes=512-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "BEyF1lNTtSU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62b27776-d9c6-0812-cbbf-cb40ae24d1ba/test-blob-b6304620-7415-2dae-16d9-e97bef2f345e?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A15Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AE8F43DD6\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:17.3216214Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62b27776-d9c6-0812-cbbf-cb40ae24d1ba/test-blob-b6304620-7415-2dae-16d9-e97bef2f345e?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A15Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AE8F43DD6\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:17.3216214Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ce210cc1-1c16-a5a9-78a8-09599e89ed1c/test-blob-16282aae-8b50-6ef7-302a-6f954c5234ec?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A15Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6AE8C740E5\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AE8C740E5\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-blob-content-md5": "mlQ1i/oA9ItUMwO/D4RkOg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:17.0267877Z"
      },
      "ResponseBody": "KG4uun/FdHmkV2iFqaeowOYNW\u002Bd6dJPgVwiejuzRnLUf268EMoZybFAbJy\u002BfDHNnI[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ce210cc1-1c16-a5a9-78a8-09599e89ed1c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:06:15.2679034-07:00",
    "RandomSeed": "1282177485",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
