{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5875dc9a-6ecf-0d7b-ffc9-9d31e1707f7b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42383D9FA7E5\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5875dc9a-6ecf-0d7b-ffc9-9d31e1707f7b/test-blob-0a2207eb-4793-8a32-073e-8b622fa5cc33",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "bd8IlHGlB9yS7FGIT8X9reMZIILEtbSpo5nGY8zN3Ah4dBL1hONwE3MKv2zGyaaoFvKXaQTKo7crXvDX36QQxA9IENqzBygAqQ0PufVI4trzHUzZNXMErdFayibymTPP+ftcfrnM9Q/Kl7/2u+nB4nsW5MFXN4+cQ2IJWDwCDRDZQL/662QhJig8Dp2zDfLnmeeq3LRyd8JrwDpWwpzSx4qvHHspx/cX9b2YGijx6DZwIb9UWDBbZ8j9jiopymOMaUYTA/B3vdLvkub32lyZetcE5aHdfm9ZVLWyLDjN7SpZDLDh3uVF+WTsZMVJY4xrZBRSJOXCruvXua46xJGZIqS8ns6rt5vyv+w98BmqD/EpRsgjeslFll3ECiU2CjTSU0IgjcW+wKx4YGX4hb7SLam9EX3Jdqjbdwdw561[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5875dc9a-6ecf-0d7b-ffc9-9d31e1707f7b/test-blob-0a2207eb-4793-8a32-073e-8b622fa5cc33?sv=Sanitized&se=2025-02-01T20%3A45%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "G0AaS1MVLZWuFLXxU/cDww==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42383DAF0132\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:45:47.6959538Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1caef87f-b506-4d6a-4cf3-070ef25256c5/test-blob-818a6f49-4e1d-647f-ac4c-08153ec2fd31?sv=Sanitized&se=2025-02-01T20%3A45%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5875dc9a-6ecf-0d7b-ffc9-9d31e1707f7b/test-blob-0a2207eb-4793-8a32-073e-8b622fa5cc33?sv=sanitized-value&se=2025-02-01T20%3A45%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42383DC37099\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-content-crc64": "nMatiftn+dQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:45:47.8298777Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5875dc9a-6ecf-0d7b-ffc9-9d31e1707f7b/test-blob-0a2207eb-4793-8a32-073e-8b622fa5cc33?sv=Sanitized&se=2025-02-01T20%3A45%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD42383DAF0132\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42383DAF0132\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-blob-content-md5": "G0AaS1MVLZWuFLXxU/cDww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:45:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5875dc9a-6ecf-0d7b-ffc9-9d31e1707f7b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:45:47.7193441-08:00",
    "RandomSeed": "327078887",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
