{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-090f809d-6119-1534-f373-96c1f9b6b58d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC8209953F\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-090f809d-6119-1534-f373-96c1f9b6b58d/test-blob-e2248dc1-d048-6f7c-67a0-c062d368d85c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "rxvlQMNfcuhioT+kb7kgwLZrnqHpHgpdkt2/gyW2DTzJ6CYrwOT1aNP4vjIbMv70S/1PcXiSz5AQh63loO7CrJQD2oeT9f/SdTXO8V/YQmDeyjgoZ5vDNxiVGzk2EMjlNhKeF1d3YVb9fPtCxN4wN0VNBtW2mUT4P6Nu/drGm2Vt6LpNOioJZmniKuqfgXM6ZePz6QnyL5zNpde0CWN8N+GW1Nsj4/0bRJ9s1G9aWL4vM5j307Jce7kef5RSVV0FZvMICayYFoHl2KVphlssc00ZhNXLhGQvOlkhBWRpyO5CZm58UU4SlxwWEfoM8vRe8QtGOdCHOeGP2c9SdhEdexC2Jx/tsCH+Buy5tXNpIkdkwxNYIo4euy2M7Xh/vyEL+JXqVsvVcEDqSDLjzoNtJbaI7bL9xVmBmGvxYMO[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-090f809d-6119-1534-f373-96c1f9b6b58d/test-blob-e2248dc1-d048-6f7c-67a0-c062d368d85c?sv=Sanitized&se=2025-01-31T01%3A22%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "FdldpozCmosqDEKg2Sm/qQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC822DEC39\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:22:05.8032185Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-52d81663-0460-9479-d82a-f91d962b5ebf/test-blob-221cdc3a-ba80-ade9-c94f-02aa48d8b732?sv=Sanitized&se=2025-01-31T01%3A22%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-090f809d-6119-1534-f373-96c1f9b6b58d/test-blob-e2248dc1-d048-6f7c-67a0-c062d368d85c?sv=sanitized-value&se=2025-01-31T01%3A22%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC826A28F8\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:22:06 GMT",
        "x-ms-content-crc64": "HlVvWqldvJI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:22:06.1979896Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-090f809d-6119-1534-f373-96c1f9b6b58d/test-blob-e2248dc1-d048-6f7c-67a0-c062d368d85c?sv=Sanitized&se=2025-01-31T01%3A22%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CC822DEC39\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC822DEC39\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-blob-content-md5": "FdldpozCmosqDEKg2Sm/qQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:22:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:22:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-090f809d-6119-1534-f373-96c1f9b6b58d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:22:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:22:05.8248527-08:00",
    "RandomSeed": "239039364",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
