{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad65a0f-a218-a0dd-5a52-db346e92a46f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060F0B0CC8A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad65a0f-a218-a0dd-5a52-db346e92a46f/test-blob-3963e982-8fc9-1dc8-5f05-fb782badb84a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:49 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Tw8gCn6IKkl8UW5J1CIeYl2hwGjWqQxLw7XrhIJS7ZW6XG8JUzGZYGxfYdoRNM0wGMQAFQNQEKYD1EfInaXGKWTZj3ezFQ8sCF/8dkgxOY7oumy+UdiSaUzIBn7p0MLGmTd2OKRVfQO01A2jVJld0Zq43+M4B9iLRyYr6g6QQjedNd0RuwHqkz1pCn3K7hWzazTkMfHfjpFf6vB9KZL0JJHWBh67TBaZzUymz/1awFgReH/arBFFvadMsdARbGmrdeXr9Oj29x4dSmOlOb6UBCmYbLESGXiAkEh3b5pFiGHi+lkXbstvGoFgvGGtoITot62neQC3mFtta2Sff4eE2MICwj5kfJVdKFEwsVwW0vDEjrftng5gKmL9qQJn0Jv53OSeq91FgzoXSVGuh+b+V5lz2/HPljmzoZjbZtO[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad65a0f-a218-a0dd-5a52-db346e92a46f/test-blob-3963e982-8fc9-1dc8-5f05-fb782badb84a?sv=Sanitized&se=2025-10-01T20%3A35%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "kicvcVIXHRQP43WHK41o8A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060F0C99496\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:48 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:35:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:35:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2322a57b-d904-4756-cce0-825c09e6f54f/test-blob-3173d194-99e1-8a11-4d8e-e776507b5c47?sv=Sanitized&se=2025-10-01T20%3A35%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fad65a0f-a218-a0dd-5a52-db346e92a46f/test-blob-3963e982-8fc9-1dc8-5f05-fb782badb84a?sv=sanitized-value&se=2025-10-01T20%3A35%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060F0F30E1B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:49 GMT",
        "x-ms-content-crc64": "D79lhnc2cXw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad65a0f-a218-a0dd-5a52-db346e92a46f/test-blob-3963e982-8fc9-1dc8-5f05-fb782badb84a?sv=Sanitized&se=2025-10-01T20%3A35%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060F0C99496\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060F0C99496\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:48 GMT",
        "x-ms-blob-content-md5": "kicvcVIXHRQP43WHK41o8A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:35:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "Tw8gCn6IKkl8UW5J1CIeYl2hwGjWqQxLw7Xrh[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad65a0f-a218-a0dd-5a52-db346e92a46f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:35:49.0964620-07:00",
    "RandomSeed": "1957118832",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
