{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-07e3853d-24e5-db3d-e69c-e8251d73f217?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A32Z&se=2026-02-18T07%3A18%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB58ABCB629\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-07e3853d-24e5-db3d-e69c-e8251d73f217/test-blob-cbca05a9-4702-d2da-9dc9-b9886eb2e74a?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A32Z&se=2026-02-18T07%3A18%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "3ZFwd7PomSMKtrcpkAtA9e4vvq0D02OzmNp/NOroT4Zy/EAkGKDY6sBGkZFmooC7fVv7tv6okgkuvd/YaWU5Imcwt5PKG9xNVtTtvEHRTfZZw7aO7JmHyWo39lvBAIFaDW8qNert8WJ/rmAqutbIXHDpfqWuqjXNqO0pkySAjFVTkq7RpxcLbNJUDj05XQ6Tbprr2IHbq2I5XI39xF0+/iIK1ycn9rRY3hLSWpz4lEvelSSJlbPTd+dLmEqKDad1FhAbLoXma3jlkvlvCVDGQchBHy84tGluN19A3F5pztBqXUSM3GXF9ymspAK6ZG6WhVaCSO54PGGnrPclpo8ae8QpBasLOmRieycFjBBmtNPxqVYH54Xi8iDi5S9un1GakSg+kV7CikvxIM3Gc7BRQPgkNPw4EpQ/RhOLKVU[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-07e3853d-24e5-db3d-e69c-e8251d73f217/test-blob-cbca05a9-4702-d2da-9dc9-b9886eb2e74a?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A32Z&se=2026-02-18T07%3A18%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "9ePGbL5OEEhrJjElYb7zUQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB58AD15468\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:18:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:18:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-87431fc2-bf90-bd23-9cbc-b924e3487da3/test-blob-a98d64c0-48fd-4c48-5d5a-22a4083e8208?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A32Z&se=2026-02-18T07%3A18%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-07e3853d-24e5-db3d-e69c-e8251d73f217/test-blob-cbca05a9-4702-d2da-9dc9-b9886eb2e74a?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A18%3A32Z&se=2026-02-18T07%3A18%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB58AEE0B01\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:33 GMT",
        "x-ms-content-crc64": "MnBlkG6ROL8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-07e3853d-24e5-db3d-e69c-e8251d73f217/test-blob-cbca05a9-4702-d2da-9dc9-b9886eb2e74a?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A32Z&se=2026-02-18T07%3A18%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB58AD15468\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB58AD15468\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:18:33 GMT",
        "x-ms-blob-content-md5": "9ePGbL5OEEhrJjElYb7zUQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:18:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "3ZFwd7PomSMKtrcpkAtA9e4vvq0D02OzmNp/N[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-07e3853d-24e5-db3d-e69c-e8251d73f217?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A32Z&se=2026-02-18T07%3A18%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:18:32.8699979-08:00",
    "RandomSeed": "1933626854",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
