{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9fdff7ab-dbc0-22ff-8296-2f5df2fb96bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42383B30FB76\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9fdff7ab-dbc0-22ff-8296-2f5df2fb96bc/test-blob-879818d3-d764-0d85-1b1f-2485695904ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VNh+krGpvKjFqE4NL6TdXwxv7T4p6zwCC1joTnGbVlu2Fe1dH+93tccqUz1qgUgKzbZs/lpIEmmbe4ZZwW03KlLzVxq3f0Ac9zd2/pf/mIoP3YC6LlcBbQKEwaNpHvRZ8ynrdiouUk52UAYi0hTRnOP8SePtfPz68ukYM72dstlDHQtuFCFf4YsxRN1Q35vtsiW/bNQRbHYt8IRBFR+Q2J4s3rQIY4fCnGhYuzgeqhJOKoGY3UUFMbCUQCSdHstroWs/IwDm5E6d/c9subA9DkZx8uue+PtYJ6wEdCJjJX6c7BrN34YSZ0Uz+uB1mHgAVjLdKyvgzahw5/tT4nArOdhRz8yWcC+/Xoula/4a4o40BB3whflSvB9yXPeKv4XVB8AIJMmraeUCHcygOmKqVQRtH95TOrPe/hKtJBQ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9fdff7ab-dbc0-22ff-8296-2f5df2fb96bc/test-blob-879818d3-d764-0d85-1b1f-2485695904ae?sv=Sanitized&se=2025-02-01T20%3A45%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "ydUkCroYXA01ptgnGkyp4g==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42383B3FE29A\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:45:43.6122778Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1fb170-4b83-0b3e-3774-bd9e3e2a0a7f/test-blob-4d74a9c9-1379-d0b7-b632-86a9ba85fca0?sv=Sanitized&se=2025-02-01T20%3A45%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9fdff7ab-dbc0-22ff-8296-2f5df2fb96bc/test-blob-879818d3-d764-0d85-1b1f-2485695904ae?sv=sanitized-value&se=2025-02-01T20%3A45%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42383B51E15B\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-content-crc64": "j8prkvj8w9M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:45:43.7302107Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9fdff7ab-dbc0-22ff-8296-2f5df2fb96bc/test-blob-879818d3-d764-0d85-1b1f-2485695904ae?sv=Sanitized&se=2025-02-01T20%3A45%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD42383B3FE29A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42383B3FE29A\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-blob-content-md5": "ydUkCroYXA01ptgnGkyp4g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:45:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9fdff7ab-dbc0-22ff-8296-2f5df2fb96bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:45:43.6362187-08:00",
    "RandomSeed": "120033614",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
