{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e3aac7f9-40d1-08c5-99f4-246551bc9164?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF7471F111\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f4586854-7f1c-7d40-335c-11187077960a/test-blob-262f75ba-8d2a-9c0a-0d90-4161b39a8272",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "q63Zdsho0QX8TyJ76ijUkGMcN\u002Ba\u002BuuLOQ\u002BYp7innfrlYTtxpD5hbS1yoz0tIrfVSgLL3RG\u002Bn\u002B/DLCzPhP\u002BLcFdFpI5xMa4DLweyKFeuXhZXx12528DlKsVLrngNleQx5zLl534pZBRUxLIODHeYFNIWe8Gd0ZSSXH3JJYMx8ZUjfEUgxHaYLmNFZRMO1xpRs5Wp\u002Bx4ikBGeV4b8YD6RItcY7owyd1BbfkliVGyBg4ljd3Xti/p6/Owzhmzvm8ogsEY/9eiOIzhBTnzQwDulGNP9nOjIp5bYne2f/vDnb\u002BJ/PaAmQY2c0VQ5qD19qjiwimmc7[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e3aac7f9-40d1-08c5-99f4-246551bc9164/test-blob-88c35750-2dcb-a793-7048-372da16a6d84?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A24Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "N3DLzZtXs7KZ\u002B00pdz9C8Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF748F3110\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:26.1562398Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f4586854-7f1c-7d40-335c-11187077960a/test-blob-262f75ba-8d2a-9c0a-0d90-4161b39a8272?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A24Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-e3aac7f9-40d1-08c5-99f4-246551bc9164/test-blob-88c35750-2dcb-a793-7048-372da16a6d84?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A24Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF74ABDCA8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:26 GMT",
        "x-ms-content-crc64": "po5rA9UVbXw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:26.3441336Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e3aac7f9-40d1-08c5-99f4-246551bc9164/test-blob-88c35750-2dcb-a793-7048-372da16a6d84?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A24Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF748F3110\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF748F3110\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:26 GMT",
        "x-ms-blob-content-md5": "N3DLzZtXs7KZ\u002B00pdz9C8Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:26.1562398Z"
      },
      "ResponseBody": "TlMKJwCl9I4SDKDgYP0q07JeT1IFjU1Q13gImF5Zhu52AxdKAXAGZiYdOO/qu9F66sx2Xz[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e3aac7f9-40d1-08c5-99f4-246551bc9164?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:44:24.7033064-07:00",
    "RandomSeed": "1163439674",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
