{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ab9180cc-d999-e48e-31f1-60bb27fb78de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0E739858E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-78ad8f3c-0d8a-b451-614f-731b8dcb9435/test-blob-990089a9-0bc2-64fc-9901-53893e855b37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "2x0BHCI46u2ViguvUJInHAzpcV\u002BBrpLg2bytyxAMa9nzLoRA32AYE3kOFl4Y5j8/VlO/EvmHMi2KIUJmix7diR8xuyIO5zyr0V7mcpg0x/N8bnW8TFjga/tWtb4dsodaMIw\u002B5iodMW4XE0Gbob\u002BVVlpO6R2pITzGUVAmtzJ\u002BjR/WjEEL9eDJXzwHpTgXRco8wF5jzshqsQ9QeJXa93k8mIUhxBV9imF5hYrgoXwErgyF6vbTGr9Wa9oyu3xL72fDygyy9YC1vjb96kk9ig\u002BTTMmJVAyDaH3Gy1g6S8/kLpUiHddvUbiL0Cu/1jB1GOHLn26ywptbQGKP6yonenN[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ab9180cc-d999-e48e-31f1-60bb27fb78de/test-blob-cde430f8-e861-d5f6-4427-458b336aadf4?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nQ4CS\u002BTI2o2zbA7F5vf44w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0E776C032\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:48.4297778Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-78ad8f3c-0d8a-b451-614f-731b8dcb9435/test-blob-990089a9-0bc2-64fc-9901-53893e855b37?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ab9180cc-d999-e48e-31f1-60bb27fb78de/test-blob-cde430f8-e861-d5f6-4427-458b336aadf4?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:f45b7bd4-901e-004f-2b99-8004b5000000\n",
        "Time:2024-03-27T22:54:48.6801153Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-78ad8f3c-0d8a-b451-614f-731b8dcb9435/test-blob-990089a9-0bc2-64fc-9901-53893e855b37?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB0E764C169\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0E764C169\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:48 GMT",
        "x-ms-blob-content-md5": "AhoM0e89eIwEmZGRqLLyFw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:48.3118441Z"
      },
      "ResponseBody": "2x0BHCI46u2ViguvUJInHAzpcV\u002BBrpLg2bytyxAMa9nzLoRA32AYE3kOFl4Y5j8/VlO/Ev[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ab9180cc-d999-e48e-31f1-60bb27fb78de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:54:46.9374678-07:00",
    "RandomSeed": "473468383",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
