{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a32c89c-15e4-364e-02af-fc6f1f2be038?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:53:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0C4A2FD46\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:53:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a32c89c-15e4-364e-02af-fc6f1f2be038/test-blob-8c485734-aad3-b683-c380-eb6b1d7e30a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:53:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "cpxsABqeKaj6nqeZ8xt7d7v3B5Glqv/RbTeoCsN9UMz1n1bw7XVwJl8jIYSQXlTU1W8D\u002BuBdV8edmpLj9h7lfE7bpFPFi4lGh\u002BExgYl6QA7i1DVUelXsmEiOU1LijS9BPqQ2tboBD0nlvHP\u002BK9U9IlqEACHpkAL47wsLNjg3ZPqx8EPlRItU4cTsb73i7WxyUDD4XYwOWK6iPcau9dgQrVh4TTqSWN7OLx5d/CFEFgGfmOUIPwZto5iUQgbFpezs28FkaqAx4PdRKS1usFuMXSfED13zCG5RCqmi/RbYCYkycSBg4KxgbbftthXY//I9COTeAZaO\u002BNNSE1/2j\u002BP[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a32c89c-15e4-364e-02af-fc6f1f2be038/test-blob-8c485734-aad3-b683-c380-eb6b1d7e30a6?sv=2024-05-04\u0026se=2024-03-28T22%3A53%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tI\u002B87VQp2PbH0aOpKcddBQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0C4C9E9D1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:53:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:53:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:53:50.2545361Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c5f45f86-feca-a689-6b0d-a326b5cb4e29/test-blob-52f69a17-c5ce-b546-1380-3070290b8b62?sv=2024-05-04\u0026se=2024-03-28T22%3A53%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7a32c89c-15e4-364e-02af-fc6f1f2be038/test-blob-8c485734-aad3-b683-c380-eb6b1d7e30a6?sv=2024-05-04\u0026se=2024-03-28T22%3A53%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0C506EA0D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:53:50 GMT",
        "x-ms-content-crc64": "UJ7bPQinylI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:53:50.6543117Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a32c89c-15e4-364e-02af-fc6f1f2be038/test-blob-8c485734-aad3-b683-c380-eb6b1d7e30a6?sv=2024-05-04\u0026se=2024-03-28T22%3A53%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB0C4C9E9D1\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0C4C9E9D1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:53:50 GMT",
        "x-ms-blob-content-md5": "tI\u002B87VQp2PbH0aOpKcddBQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:53:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:53:50.2545361Z"
      },
      "ResponseBody": "cpxsABqeKaj6nqeZ8xt7d7v3B5Glqv/RbTeoCsN9UMz1n1bw7XVwJl8jIYSQXlTU1W8D\u[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a32c89c-15e4-364e-02af-fc6f1f2be038?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:53:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:53:48.9394550-07:00",
    "RandomSeed": "2143793338",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
