{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e81ce80-5daf-ec91-1502-6343897130a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060F9A6AB6C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33c0cc96-db27-72ad-060c-fe92a0c8bcd9/test-blob-005daef2-6590-a847-3166-57607086ec8d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "a0ySKQ0Q9tp1I3gDDzWfABv1r7e+lCag7X3fXrfcO9WldrNjBmri6yOhWBY5dwhGfKjeaJDrN9Ym8jyPMZgjmOejXpiBO/mwEsSTHDwPZ3Z1meEP/tNEuT7dPRQuU7mLfr8ulRhvxECuLVXMVxqaFovFGpe2E5oUXqRapP7lgb8KCJ584dFdBdWgYdB9eGIjQiaJaDgi1GokGTd0FR9CyKyWwk58HjW5aBXCFbLKl+ZBNmHXXBmG5zQzV8ea6O+1Xpgk5rYTpyTxz/8jYL64WoJQMt+9amySENoaScZtH38lDLYaprAvLo895owZYod1e/xESbUQ9/QrkdXc+V1dg69//lMHnrTRIQRQgIPfea5S[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e81ce80-5daf-ec91-1502-6343897130a8/test-blob-bdd7d460-9509-d8e6-5042-4e3dfff6a87f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "LKKSvF38Lvv1yJwtOCTJSqn1QOKVPHtALbIBtvShS8/FBSua37AqsgEJl8Ci1GPak197zrM/lPAnUY6r+3gGU33MaDL4L2r5y43gi6S6nllOJiOUJnwbhXA7co4hfreJAkRD1Wsx4WP1ggMmXwlLbLM1XNVUci0AseLBvbzb2EzWVolfd8jtHUS/nqR59SZn7wbb7CLhNJAXQiSJbySnGqm3UAh/6/TrRz+QldOIh7y8Wc21AOwq9CH4SDWjZK0gF4T6wqQd5wMS8KTiUZ+9jrtozBZW8Rq9jFvmh6O+R+KRcH1OjsUXnnHKow9HR6OCO7p6OpeXySZqPDVJNmBgU6jCUeAibgD1US6kjE4KdkW4ZEvoRAxK+adW41GQzWcQaU9nhPXCYM26hOlp8jzYYMbvkNIVeA6bd1c5y4q[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e81ce80-5daf-ec91-1502-6343897130a8/test-blob-bdd7d460-9509-d8e6-5042-4e3dfff6a87f?sv=Sanitized&se=2025-10-01T20%3A36%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "4MSKr3cST8EhGyh8T9salw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060F9CB7101\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33c0cc96-db27-72ad-060c-fe92a0c8bcd9/test-blob-005daef2-6590-a847-3166-57607086ec8d?sv=Sanitized&se=2025-10-01T20%3A36%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4e81ce80-5daf-ec91-1502-6343897130a8/test-blob-bdd7d460-9509-d8e6-5042-4e3dfff6a87f?sv=sanitized-value&se=2025-10-01T20%3A36%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:203f1338-601e-0063-6449-323d4f000000\n",
        "Time:2025-09-30T20:36:04.3900735Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33c0cc96-db27-72ad-060c-fe92a0c8bcd9/test-blob-005daef2-6590-a847-3166-57607086ec8d?sv=Sanitized&se=2025-10-01T20%3A36%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eqUgNhROJEMjH/4w2RmsjA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0060F9C25372\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33c0cc96-db27-72ad-060c-fe92a0c8bcd9/test-blob-005daef2-6590-a847-3166-57607086ec8d?sv=Sanitized&se=2025-10-01T20%3A36%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060F9C25372\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0060F9C25372\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-blob-content-md5": "eqUgNhROJEMjH/4w2RmsjA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "a0ySKQ0Q9tp1I3gDDzWfABv1r7e+lCag7X3fXrfcO9WldrNjBmri6yOhWBY5dwhGfKjeaJDrN9Ym8jyPMZgjmOejXpiBO/mwEsSTHDwPZ3Z1meEP/tNEuT7dPRQuU7mLfr8ulRhvxECuLVXMVxqaFovFGpe2E5oUXqRapP7lgb8KCJ584[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e81ce80-5daf-ec91-1502-6343897130a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:36:04.1477455-07:00",
    "RandomSeed": "813405437",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
