{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d42e164a-e3f7-cecb-fba5-2d8a87c252af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423838A58096\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d42e164a-e3f7-cecb-fba5-2d8a87c252af/test-blob-eb6ebc30-b024-89e1-0816-12324dd9d3a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "8P1xQ7+F2VqrXY3LrsNct8X+nQtBM3Tv/3OWBvCW0baUPKGgJk5pB/4Dvvk6OEcEoXW4AjpXyLyJgkNM79NpFYzWNnEhu5B2lZUMPXR7tMYrkmR73c98PXTkF6QKHBgrmahsYwHW4ublQWykSopIDs18IV1u7ji9Wvn9PaTra3h94aTLDlDEVa9+lZti2PLqnAjXjvu6vKtwrwkI2aRC+tX0JmnmfAB9uMyt8FicW4EHE6GbE919wiX4W19GvHsLO5vGbbGJAx8IWtUuDctT1FOHAMYDp+b3dmRD7iChNvtQorS81u3Qfg+BkrkIT7VapYYLvru1CJS1zvdNRRX/ZyPa3msWlv5mt4K2gRQs7yeu6UialXc/mpogBgf2gjj5giqWLXBKQw6IpAc4/4Z/id7PnlzMZNGsmkPQ9pD[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d42e164a-e3f7-cecb-fba5-2d8a87c252af/test-blob-eb6ebc30-b024-89e1-0816-12324dd9d3a6?sv=Sanitized&se=2025-02-01T20%3A45%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "BhL8bDsjpZzaQ5krjRtwbg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423838C812B4\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:45:39.4716340Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3fe06387-f86f-5992-890c-96d0a85508ae/test-blob-bc2e84fc-0db7-63ef-c679-33d82065f176?sv=Sanitized&se=2025-02-01T20%3A45%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-d42e164a-e3f7-cecb-fba5-2d8a87c252af/test-blob-eb6ebc30-b024-89e1-0816-12324dd9d3a6?sv=sanitized-value&se=2025-02-01T20%3A45%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42383904C4BD\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-content-crc64": "2NjuFfdU15E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:45:39.8694077Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d42e164a-e3f7-cecb-fba5-2d8a87c252af/test-blob-eb6ebc30-b024-89e1-0816-12324dd9d3a6?sv=Sanitized&se=2025-02-01T20%3A45%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423838C812B4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423838C812B4\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-blob-content-md5": "BhL8bDsjpZzaQ5krjRtwbg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:45:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d42e164a-e3f7-cecb-fba5-2d8a87c252af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:45:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:45:39.4969050-08:00",
    "RandomSeed": "1602362427",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
