{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-02f2ec2e-4c6c-36e7-e615-71d1bb310f57?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F9942F545\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-02f2ec2e-4c6c-36e7-e615-71d1bb310f57/test-blob-1c1f0be5-767b-1e8c-feab-6e000e06f832",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Rg/0h3TAc/cxvV4EMFY0YGH0zB0TZHjIwvKkTNmUc3m4zWVjm671rW/d7mln2gxC8qdiSh2fgeKWLMWCGycenErkS2Lx0MSy/x+tNnYPYOfmYVoxMilcGUyDzG/pc5FIv1Eeg46pUSLir0v98Uprh8venLnM7GogiDIWbQRVyYyNZHck8N1YPBA4ToPeXicCF0WjC9fYe9Ln/vtck+MejeW+b4zTRpbuhl+olJ7mQikKFFa+sb60temkPfLi+6ksGsCdH+6bLtGvtYR4L+Y0ALvRUn6NX9wnCrqjLgmkC4q1fHrdSSM7b+WED/w5PIUCcDw2EakqnrrkdhU09wDIC6n6wrNrV7eYluKZCFDg7c00oL3Mbfrhit3A+NMNBnfkvARSP3nSlhmFnnrGkZVqBIhH/1dC+52uGDjVq17[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-02f2ec2e-4c6c-36e7-e615-71d1bb310f57/test-blob-1c1f0be5-767b-1e8c-feab-6e000e06f832?sv=Sanitized&se=2025-02-01T21%3A38%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "rqf8GhWB6VmHgYcOjEsiGA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423F995225B0\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:27.9148976Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4028a25d-d9b2-35ea-37f9-5400243f6bb0/test-blob-82993bdb-53dc-0030-8d43-a95852b6b769?sv=Sanitized&se=2025-02-01T21%3A38%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-02f2ec2e-4c6c-36e7-e615-71d1bb310f57/test-blob-1c1f0be5-767b-1e8c-feab-6e000e06f832?sv=sanitized-value&se=2025-02-01T21%3A38%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F99633A2F\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:28 GMT",
        "x-ms-content-crc64": "5FUQOwQ6IY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:28.0268335Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-02f2ec2e-4c6c-36e7-e615-71d1bb310f57/test-blob-1c1f0be5-767b-1e8c-feab-6e000e06f832?sv=Sanitized&se=2025-02-01T21%3A38%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423F995225B0\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423F995225B0\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-blob-content-md5": "rqf8GhWB6VmHgYcOjEsiGA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-02f2ec2e-4c6c-36e7-e615-71d1bb310f57?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:38:27.9371041-08:00",
    "RandomSeed": "1041683337",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
