{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7cfc89d-22d2-aa22-3f78-46c51036bb62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006102ACC699\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7cfc89d-22d2-aa22-3f78-46c51036bb62/test-blob-a3596713-8a79-3269-0872-a6d0c18683e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:19 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "rjWSQfN1FmwV5i5cAnTs3nfONmFwhewSIPfN6AB+v0kr5+Ma8TPA24pme06c3sRvQPmD9a5afClIgCH8qC5rliblMBuQ0e1DDlvXCQqedUEyXagH+8ma0Wu60XASwzJb++Unt62o324MP+dTgnIeqgrfyUuGZJpdSl+w1f98MUsoew4kd72TiX05+7viR075mydmMvrn1ZZKym1O+Alujw6bKgdj+jNMTD/NTGnfegIRtzrYFv9RQaV42qxQRZF0ymutRh1GlaH0GeW6GYksa09qPEHPlnkOSuhi6iCG/AeuWYH+MjTlyiGY4/wZlycbTG9d5ghQpDTynvs05KuBbR3eC8AHLTgahHEfNrJ89LPBRp6xKBX+XrRMDJM4seZ2F3beO4tnEx42QmGXMG6CdapHcp4N0EUH4K0LuyG[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7cfc89d-22d2-aa22-3f78-46c51036bb62/test-blob-a3596713-8a79-3269-0872-a6d0c18683e4?sv=Sanitized&se=2025-10-01T20%3A36%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "eppWRkCpPLUZjnTUg+MoQQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006102C456B6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:19 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:36:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27e9306c-f346-5210-5a11-b6b5e0633f14/test-blob-fed10064-0610-ecd4-dbd3-5b0a1100402d?sv=Sanitized&se=2025-10-01T20%3A36%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b7cfc89d-22d2-aa22-3f78-46c51036bb62/test-blob-a3596713-8a79-3269-0872-a6d0c18683e4?sv=sanitized-value&se=2025-10-01T20%3A36%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006102EE1DE6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:19 GMT",
        "x-ms-content-crc64": "DhKBWCBT/+g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7cfc89d-22d2-aa22-3f78-46c51036bb62/test-blob-a3596713-8a79-3269-0872-a6d0c18683e4?sv=Sanitized&se=2025-10-01T20%3A36%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006102C456B6\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006102C456B6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:19 GMT",
        "x-ms-blob-content-md5": "eppWRkCpPLUZjnTUg+MoQQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "rjWSQfN1FmwV5i5cAnTs3nfONmFwhewSIPfN6[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b7cfc89d-22d2-aa22-3f78-46c51036bb62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:36:19.2594764-07:00",
    "RandomSeed": "899980560",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
