{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e6f3c9cf-5f23-e080-e984-27b853874b02?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D36EBF5A4D\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-21dd130d-d6ed-c143-7766-b56a084d412c/test-blob-ec99726a-9333-a94f-dd64-9d8ea56c5256",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "lkvkkrTY2eRk2Uenpu\u002BNe5wXxz3yHDkX1ThPItXB8K/2qH\u002BezvMxeY2s\u002BwoHDnTYe7uD971e4HkRzLx8iLYOouiYsP5w7qyo5U2vRiAuD8bDd6caPvnymMcFjQE3tPHWnVkib152aIwO2xJvr5pZ4rz2uRAP82PvpRg2a2GqcTBc2KjHDKBoTQ8aC2Pmgugtq6pFQPvgx6n1M8pFP/0qY2rhE9byktYcjWsB9OgACCIvCb\u002B3ZTA1exD\u002B0dnVIw0S76f4BW4ROxnUKLKP39LB9SqnFTY9c/45q5jF88D8R2pe7gRABwK0Hc2l4z19pZs\u002BPNyuLg3W1Hypv1[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e6f3c9cf-5f23-e080-e984-27b853874b02/test-blob-ad3c7021-9c5c-a624-35ad-805eba869d50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "hqY46rCLCojlSMb79iXzC16UERfjUZVQu6nHFpcny5ohRCpm3U4K0RsL6TVBRvUf6Ie5GR8ooTQQ5y4HxPPxvXws2bH6jC4QiT/72GhfD3W0py4PbrF7\u002BaP2VvYfAg0oGiu4FGxDJVtZqI/fLMjLsNe4Ux3F4U/KsOAOBDY38YYy0748p/oJcYLStcUim8zaKqUeZq/vYjjc7mSMNCAlIbcIrVkKjwncr\u002BKb8yuKqBQTNNqRGYrXQnCFYLiWfTxhrZQNGe5yz5qbQrfNVG8MUkZPeABFlAgtMWrohS9RRTKlOUaXfI8moWQ/9dbSCe4BeA1xRwU8GxmL3\u002BeEiUprSvyFJxopddW3KdebBp4xWih75wwh3/4saR0sC52noRca1KvaTeHT2AM3uh4toBV6WoW/[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e6f3c9cf-5f23-e080-e984-27b853874b02/test-blob-ad3c7021-9c5c-a624-35ad-805eba869d50?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A09Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Q9QPVk6tgGKAwPAZG9kMUA==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D36EDDC461\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:10 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:27:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:27:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:27:10.1139041Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-21dd130d-d6ed-c143-7766-b56a084d412c/test-blob-ec99726a-9333-a94f-dd64-9d8ea56c5256?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A09Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-e6f3c9cf-5f23-e080-e984-27b853874b02/test-blob-ad3c7021-9c5c-a624-35ad-805eba869d50?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A09Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:ef4a83b1-b01e-0048-33bc-8a68d6000000\n",
        "Time:2024-04-09T20:27:10.2858008Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-21dd130d-d6ed-c143-7766-b56a084d412c/test-blob-ec99726a-9333-a94f-dd64-9d8ea56c5256?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A09Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7TwQI29Nh7SomIracrk9eQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC58D36ED401CF\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:27:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:27:10.0499407Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-21dd130d-d6ed-c143-7766-b56a084d412c/test-blob-ec99726a-9333-a94f-dd64-9d8ea56c5256?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A09Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D36ED401CF\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC58D36ED401CF\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:10 GMT",
        "x-ms-blob-content-md5": "7TwQI29Nh7SomIracrk9eQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:27:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:27:10.0499407Z"
      },
      "ResponseBody": "lkvkkrTY2eRk2Uenpu\u002BNe5wXxz3yHDkX1ThPItXB8K/2qH\u002BezvMxeY2s\u002BwoH[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e6f3c9cf-5f23-e080-e984-27b853874b02?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:27:09.6709909-07:00",
    "RandomSeed": "1152764615",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
