{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-06f01ef9-fd11-5980-5757-0b2e4e5aa226?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1116F9059F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-06f01ef9-fd11-5980-5757-0b2e4e5aa226/test-blob-33c53dcf-14fe-a518-f91d-9f923c766a29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "UaD6ZTojIJPP2l5JRm1mTL87IGV2wQUciBgk8xwP+BwgPe8qZiO/4GqZboRIhiR1syk6q32++o+a3t0h/i12wOJCKQl+O+abfED73VOA0wL0rz/z1EyfYUNfj4hGneE8Iq6iBlwb9ndDni49wxw8GQraLE/tg+uVosfFH6tdVN5evruk3s2l2bnIsDUeYp4mInZ+a3CST57CDWOVVdbM5UlQ3gVhmDs8NVOWJdO1d0Apn/013+lty24c4tBpD4Pi/MrrzYOZxIo6QTYd/CrLDJYjbLbZlgVg4hKWRbZq0yXQsykIyqm8j9py+p6zUM9EUNU6RaPMCGXEi+txAn7Uz20QTEgBwkLtZ9zbZptnrZJDUfXgMI6CA6vDRD6+So1bniowogOHQ42STd3H8KHJXN1YLrGJ85/fjkmcPX4[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-06f01ef9-fd11-5980-5757-0b2e4e5aa226/test-blob-33c53dcf-14fe-a518-f91d-9f923c766a29?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "owre6xE7WsB1oSimT9dr5w==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11170D6690\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d50b6161-8102-19af-45ac-d681be8589f3/test-blob-1abae5ac-1bed-6b9b-19d3-c8c31b551f3e?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=block&blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-06f01ef9-fd11-5980-5757-0b2e4e5aa226/test-blob-33c53dcf-14fe-a518-f91d-9f923c766a29?sv=sanitized-value&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "POU+iUEBHxI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d50b6161-8102-19af-45ac-d681be8589f3/test-blob-1abae5ac-1bed-6b9b-19d3-c8c31b551f3e?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=block&blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-06f01ef9-fd11-5980-5757-0b2e4e5aa226/test-blob-33c53dcf-14fe-a518-f91d-9f923c766a29?sv=sanitized-value&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=512-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "J5dTwLuHLUw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d50b6161-8102-19af-45ac-d681be8589f3/test-blob-1abae5ac-1bed-6b9b-19d3-c8c31b551f3e?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</Latest><Latest>AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D111738B2D1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:34 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-06f01ef9-fd11-5980-5757-0b2e4e5aa226/test-blob-33c53dcf-14fe-a518-f91d-9f923c766a29?sv=Sanitized&se=2025-03-08T00%3A43%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11170D6690\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11170D6690\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-blob-content-md5": "owre6xE7WsB1oSimT9dr5w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "UaD6ZTojIJPP2l5JRm1mTL87IGV2wQUciBgk8[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-06f01ef9-fd11-5980-5757-0b2e4e5aa226?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:43:33.9572258-08:00",
    "RandomSeed": "1373924491",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
