{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-661b33ef-3d32-e6c2-4cf3-6f4069646f8a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869013BF3DF0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-661b33ef-3d32-e6c2-4cf3-6f4069646f8a/test-blob-c6f17f23-1cf2-c1d0-d862-3825d47549b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:53 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "psyGdbSbYDAJbDfl/mQbBJ9TyHrF03YNEpnFx8PAv/zDG2bDrRwDu30PP4gjVW2ZPGGc0W5Z5dJWeWMb1pltSK07IuL+V1aCTw38tZTu6bwsLIthJO2NajaTbDS56OXkovba5zOKmuQLGYFgXC8+Z4+m76kNCyS/rrerausiyWcoGBOdEwGJoZGmVQpsLQ0HVAWkE/k71pbRGjl73y/56VAaOEMcoFOOHE4XZ7YZU4GppBXlfbVt7UJ8zPnHDsFhrWy6UvTK67SxFfarI2/guMe40TsZE2uarEoAn9Raxg6MtblKXwGM37hhM2e/wsnTmxQxDzyGSJkAIKaqykvfV0/nHm21lljGLPKCuOAD2umALATAKLfSBW0fST9b4hVtgdwY2KRcHgW7a+JKBI+5/EW8KZ1HHy6XFRj/lUw[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-661b33ef-3d32-e6c2-4cf3-6f4069646f8a/test-blob-c6f17f23-1cf2-c1d0-d862-3825d47549b8?sv=Sanitized&se=2024-06-08T01%3A20%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "dE4ggg9HAzDtqGHqOXBOQw==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869013D87F42\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:54 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:20:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:20:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:54.6135874Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-70dcf59d-6ce1-c469-16b7-e2661267c730/test-blob-eb2d3d25-9da9-19f1-8502-ecc65f672929?sv=Sanitized&se=2024-06-08T01%3A20%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-661b33ef-3d32-e6c2-4cf3-6f4069646f8a/test-blob-c6f17f23-1cf2-c1d0-d862-3825d47549b8?sv=Sanitized&se=2024-06-08T01%3A20%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869013F77650\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:54 GMT",
        "x-ms-content-crc64": "dB6Vde1NiQg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:54.8165200Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-661b33ef-3d32-e6c2-4cf3-6f4069646f8a/test-blob-c6f17f23-1cf2-c1d0-d862-3825d47549b8?sv=Sanitized&se=2024-06-08T01%3A20%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC869013D87F42\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869013D87F42\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:54 GMT",
        "x-ms-blob-content-md5": "dE4ggg9HAzDtqGHqOXBOQw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:20:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-661b33ef-3d32-e6c2-4cf3-6f4069646f8a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:20:53.1180292-05:00",
    "RandomSeed": "672344136",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
