{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9770f10-39b3-5d29-9c80-14b8cd45b0a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D111534514C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9770f10-39b3-5d29-9c80-14b8cd45b0a9/test-blob-d64105a7-2b76-e100-fd40-c276790babdf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "IMKaqN2p62LtIt3bGJ6oQQLJcSDjTsJI7X6r88DWhevIw6jbSnac1pClPpvdsk+wq9KiOqKdQNL/Ubpe/fiiFp3yElT1zfaMLZqPPhAnazsv+kjtNEpIKoPW2/m7PdiYAyf+65/7ut7bFg0IDgLB2OV/LwOvtOJTqejRH/H90O/B9jroKYCcNEBqEh08QBuAFAMTPA7V6E5FqkG2KZrs3kUeRhfH2a5k4/vCRaLEF2jMUAru6ZTh6w3ron4/5QqlfjTYHfkDuTtUr1kSE6OsgZPY6tmQ/fSxPVoJ2zYvJf3xHMdu7PlvyJfPmTo6zthqPyHrZvswFYA/Jt+f+d0EJIpbIfbbPpSaaSFCwGO6dm+BnpwURL4CwQdHLsUZ0M66ynSw363ijwGMUP3Z7lQcha9wHVpB8N/LWGDulA/[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9770f10-39b3-5d29-9c80-14b8cd45b0a9/test-blob-d64105a7-2b76-e100-fd40-c276790babdf?sv=Sanitized&se=2025-03-08T00%3A43%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "C7Ae/Xw94e0Urvx47tO3nA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11154920F3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f4c6add-b8c1-3e81-cc6a-31c63f1b183a/test-blob-b5d0370d-3dea-e724-616c-49d81499d4c9?sv=Sanitized&se=2025-03-08T00%3A43%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-d9770f10-39b3-5d29-9c80-14b8cd45b0a9/test-blob-d64105a7-2b76-e100-fd40-c276790babdf?sv=sanitized-value&se=2025-03-08T00%3A43%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1115619697\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:31 GMT",
        "x-ms-content-crc64": "emoC1/hRjvY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9770f10-39b3-5d29-9c80-14b8cd45b0a9/test-blob-d64105a7-2b76-e100-fd40-c276790babdf?sv=Sanitized&se=2025-03-08T00%3A43%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11154920F3\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11154920F3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-blob-content-md5": "C7Ae/Xw94e0Urvx47tO3nA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "IMKaqN2p62LtIt3bGJ6oQQLJcSDjTsJI7X6r8[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9770f10-39b3-5d29-9c80-14b8cd45b0a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:43:30.9939518-08:00",
    "RandomSeed": "694921108",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
