{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-82db57a9-bf50-bcf4-9041-65949a8bc63f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC69D0BF64\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db81c45a-b972-d4f6-cc51-1bb5068a00dd/test-blob-25e9bbcd-9093-20c9-cdbf-39457e239873",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "PvaEbF8tReVqbKEkhu0JwhYmb7lrOWvbB/TC\u002B01vsLfJ5GG1/aARxYf\u002BaqvFUNFwvtcJ5APEpgSKqWRra0qX\u002B7vqWqGLU8V1FakybM\u002B/FbYiUTx1Zcy0BT5dKlM7pVo8Z27w2/Uv5WoSk85ZkTk0y5SuSRoOIpXvNVVjLShxOnBP9QVgzznB8mvRYtH9WnMEKF6/jVw/LkTZAKWgzLdBoVleCpw00/xa7FauPL/D8dviXgXJsawUD8bAh86UICazkMF4n1DX0FRiZKEFkPKFFQ/Kvm2yd\u002B\u002BtSvrVc0wuxsww\u002Bqv\u002BS1GLC46wZ0wKDn/UOnG/[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-82db57a9-bf50-bcf4-9041-65949a8bc63f/test-blob-ffa8ba2c-fe50-46ff-da56-8d94aeecd2e0?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Rk3T019uH\u002Bnfo\u002BlL5IuBpQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC69ECBF9A\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:26.5382810Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db81c45a-b972-d4f6-cc51-1bb5068a00dd/test-blob-25e9bbcd-9093-20c9-cdbf-39457e239873?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-82db57a9-bf50-bcf4-9041-65949a8bc63f/test-blob-ffa8ba2c-fe50-46ff-da56-8d94aeecd2e0?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:a4583d43-001e-005d-39e5-867f65000000\n",
        "Time:2024-04-04T23:10:26.7256285Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db81c45a-b972-d4f6-cc51-1bb5068a00dd/test-blob-25e9bbcd-9093-20c9-cdbf-39457e239873?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC69E37213\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC69E37213\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:26 GMT",
        "x-ms-blob-content-md5": "Pv3Am1OCTV7xzWKL2uKfPQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:26.4773139Z"
      },
      "ResponseBody": "PvaEbF8tReVqbKEkhu0JwhYmb7lrOWvbB/TC\u002B01vsLfJ5GG1/aARxYf\u002BaqvFUNFwv[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-82db57a9-bf50-bcf4-9041-65949a8bc63f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:10:25.8815990-07:00",
    "RandomSeed": "1986320167",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
