{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db0a855f-63fc-b96c-6419-661de2e823a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:53:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0C319F09E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:53:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db0a855f-63fc-b96c-6419-661de2e823a5/test-blob-80fcbb11-7a6c-bc14-661d-3411da63fd5b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:53:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "E8zr9DzbQ3\u002BG0R3DFzMksdxlKvNPCWRSF/d0EQm9uYZKccuEeAz1DGe07Oqf6FDQv5EPGQ5QKglnmNxEZjF2yBeXeKZnnzjQcB6Lmxx6sy\u002BnpFJ4rp93\u002BUbCHOAvsKU2PSTSB2\u002BpaB9YP6nwxY/s7OStncLe/hp4H39gpYNXoL94VV73qKvA/jwyH271hzS31S/7gRPjVz4KWejvScOcAJ7qd28w9EQ47Z6FrN\u002BrgphKqNBTXB6slf0f7U7D0LR5lh7PCw/EhuDrwpR0XatfX9dQpKDzSaSAPeJyEQf1dR3qDBXB23aIhiLvZ5mKNzdRv413cisThUx6T80sUnX[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db0a855f-63fc-b96c-6419-661de2e823a5/test-blob-80fcbb11-7a6c-bc14-661d-3411da63fd5b?sv=2024-05-04\u0026se=2024-03-28T22%3A53%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "QNqE5Jdg0eewex\u002B\u002BJslDJA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0C34A10DE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:53:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:53:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:53:47.7389534Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2657ae4e-5fb6-38ea-ec62-59f2a710102f/test-blob-291c74f4-1404-2151-c3a2-7aa2ec4caa92?sv=2024-05-04\u0026se=2024-03-28T22%3A53%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-db0a855f-63fc-b96c-6419-661de2e823a5/test-blob-80fcbb11-7a6c-bc14-661d-3411da63fd5b?sv=2024-05-04\u0026se=2024-03-28T22%3A53%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0C38ED81F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:53:48 GMT",
        "x-ms-content-crc64": "ud\u002BSmsyFNLA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:53:48.1906996Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db0a855f-63fc-b96c-6419-661de2e823a5/test-blob-80fcbb11-7a6c-bc14-661d-3411da63fd5b?sv=2024-05-04\u0026se=2024-03-28T22%3A53%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB0C34A10DE\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0C34A10DE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:53:47 GMT",
        "x-ms-blob-content-md5": "QNqE5Jdg0eewex\u002B\u002BJslDJA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:53:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:53:47.7389534Z"
      },
      "ResponseBody": "E8zr9DzbQ3\u002BG0R3DFzMksdxlKvNPCWRSF/d0EQm9uYZKccuEeAz1DGe07Oqf[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-db0a855f-63fc-b96c-6419-661de2e823a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:53:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:53:46.4790743-07:00",
    "RandomSeed": "1367045212",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
