{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f69e94a-3492-8274-dc54-a8da82510c93?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D362D0A134\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f69e94a-3492-8274-dc54-a8da82510c93/test-blob-a6f75f65-3a13-4e60-6bf2-46a345e561de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:49 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "DUd/gkyZlxT22TimUpzzMBaWa0t/sahtH9zKKMJoyYNNGDaIVJHsu9I2GvIFBSBXO7pnYSxSLFyfEmNwz29SjQ\u002B0WTpla9uEqq95SZa2Zxm7cuwIAGhX\u002B\u002BvZ6UIue\u002Bti5IziUKvm8c/e47d82OPG6apJtF2CSY2nXV5Oi4KYVi7EF2UJ0xdt1YAcKh2x2iIIE/\u002BY5caO35r/OvNNl2VNRYyIuMB\u002BvBWS29/cZR9v9oI7RXiCAHFnNjfKCpgjID0bz\u002BSRKCJiilbpBQnmsXp6kERwEVLtykUbIIGJs7J9b7qiwZY63s5g2bohmPpngIS9T3pUsg/qLQSfdQeg2NejbJZPRPDjQLF2EDeXyzJLtKD8y2M4KbyquJOSm2jGvwHjfSxjGDyT2Q/I3aHYU2LSVMFnowx0a0LapIxdUaVIr1E2tE0F55xjafJTcEsa0mQxv0anXxv0bxLpiXOwNohqfy5Qop8UzGwlAzoaIPr3v9InLJFeoVA1QUQ7G14oszJq6fEdyS/FHPLaglvg2U8Y8smhiAr2DN3dGmBa2bEO/FAIsDYJ2fWiYQ\u002BehB/1VWf1IyiVhiooc90TP6/Pa0NBy4UK2CkYDhjT/yf7V4e\u002B6MX5ZLaIeXYm4DxZ9ppG0/bLXbiZ6nw\u002B3BQQwYcDLRxVVFfp1QeNuVIP5Pjsvxh\u002BjCw=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jbZYJnBP3TYg/xKEQEb6BA==",
        "ETag": "\u00220x8DC58D362E80425\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:50 GMT",
        "x-ms-content-crc64": "lrX5HimSUxY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:26:50.0484133Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f69e94a-3492-8274-dc54-a8da82510c93/test-blob-a6f75f65-3a13-4e60-6bf2-46a345e561de?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "jbZYJnBP3TYg/xKEQEb6BA==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D362E80425\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:50 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:26:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:26:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:26:50.0484133Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8367cb48-e6a5-e113-1024-e42f6cd04588/test-blob-b9151e01-d375-8e9c-f2d1-b0f7f850b33a?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1f69e94a-3492-8274-dc54-a8da82510c93/test-blob-a6f75f65-3a13-4e60-6bf2-46a345e561de?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D36304D6C0\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:50 GMT",
        "x-ms-content-crc64": "lrX5HimSUxY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:26:50.2373056Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f69e94a-3492-8274-dc54-a8da82510c93/test-blob-a6f75f65-3a13-4e60-6bf2-46a345e561de?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D362E80425\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D362E80425\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:50 GMT",
        "x-ms-blob-content-md5": "jbZYJnBP3TYg/xKEQEb6BA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:26:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f69e94a-3492-8274-dc54-a8da82510c93?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:26:49.6730285-07:00",
    "RandomSeed": "1384579752",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
