{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9fa71ff-e20d-993a-f91a-bde745d695b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869021E98564\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8721e529-8766-afc5-6286-b0eb1dc41839/test-blob-91e264ad-aa00-6858-ba66-e3683b2ffee3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "b2GFDWVYaVh/wsx8qXsApt6fFV4/aQmBxIo4GggbfY3HYlhISOsjjXJHu0CywUUdH6k2AduRhAVXA0naIE5PZEU+tEYiuF7yfIjs967IzgNEGvte5XuyNt5T8ESiSG0j+Fb7cw3++mdLQ4VTpYxWjzRGlQVT8H/KjH5oz8caTzMayP9YzFv1RSCUE6H1X5BR/GEPXLJo0AfXMeaPliqfMfRRON2N/sLZUFDlv9ze1C3tF9NmCvOBsvj3gJt0Zq/19OKspCazw/6fNQxighAr+V25oX9XOSYAz4bkln0mZOmg8Mr6MTAGOlPUx9TnHy/ny4c+usUvnbu8rNSfzi2AeNEiwZJGMccss2crgnJRGbBX[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9fa71ff-e20d-993a-f91a-bde745d695b8/test-blob-91f7bba4-ef0e-e0aa-ff7a-2c17313f4fe3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:16 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ZgB4vILSSCxggNoP9d1E/I50/FUim5nO7a98liUDxmCF95fK+CPNtcUjrIHOfWJY+bL+lEAzlctmqs7SVrEHXbl5iv1FeQRrpkaP/+4X/3BNI5xyBDIgUWLMZE5V+18TG0/IVfNkE3+uku35pJXcTqpdhDIVlFiHWTiaeRW2Fqrne+OfT6p86Q8cxHFEJq3N7xWj93ct/of2Qfu7yZpq+HxDEiixPf8A4Zsi+NDmQjKKzYkAEh4zun1cqA6uwB91ssz1ARSFG7EWohbbCgW3EP7IMfsQauVeD1irVZTwUSB7rUUD8UEeBLLX6W8IWK93pZgP5o8kZUjnlvK82sUdJVH1YF2/sx+8qixJOIB1VbeoM7D84WuQV0j9HFpPYirsusQeEvdSt/F5Ujxj2izIcUE6E6YVIUTlZQgVwpb[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9fa71ff-e20d-993a-f91a-bde745d695b8/test-blob-91f7bba4-ef0e-e0aa-ff7a-2c17313f4fe3?sv=Sanitized&se=2024-06-08T01%3A21%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "06d10S76XYgFuJRCnclWGA==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690221C3C74\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:18 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:21:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:18.5456244Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8721e529-8766-afc5-6286-b0eb1dc41839/test-blob-91e264ad-aa00-6858-ba66-e3683b2ffee3?sv=Sanitized&se=2024-06-08T01%3A21%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-e9fa71ff-e20d-993a-f91a-bde745d695b8/test-blob-91f7bba4-ef0e-e0aa-ff7a-2c17313f4fe3?sv=Sanitized&se=2024-06-08T01%3A21%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:62067e57-101e-009c-7e78-b85b47000000\n",
        "Time:2024-06-07T01:21:18.7420836Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8721e529-8766-afc5-6286-b0eb1dc41839/test-blob-91e264ad-aa00-6858-ba66-e3683b2ffee3?sv=Sanitized&se=2024-06-08T01%3A21%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rK7T9OIoB/yzWC9MKl8j3Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690220D228F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:18.4466575Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8721e529-8766-afc5-6286-b0eb1dc41839/test-blob-91e264ad-aa00-6858-ba66-e3683b2ffee3?sv=Sanitized&se=2024-06-08T01%3A21%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690220D228F\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690220D228F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:18 GMT",
        "x-ms-blob-content-md5": "rK7T9OIoB/yzWC9MKl8j3Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:18.4466575Z"
      },
      "ResponseBody": "b2GFDWVYaVh/wsx8qXsApt6fFV4/aQmBxIo4GggbfY3HYlhISOsjjXJHu0CywUUdH6k2AduRhAV[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9fa71ff-e20d-993a-f91a-bde745d695b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:21:16.9502254-05:00",
    "RandomSeed": "1709025934",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
