{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-97ddb3a8-3a8d-58f7-2860-8f02e9d602ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060FF9653F5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-97ddb3a8-3a8d-58f7-2860-8f02e9d602ce/test-blob-771dd41b-afc2-7312-6219-6d3b0ead4170",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "OduhdKdqUhHv0/+IsTzGzMRNxO5qhz0yj6Un5yalOHVmJsLtt6WX4MNTVFWDCmmj129nTg9wTLKeb+UCQmrrSpuKIYp62RQftuMrFjPnroQ7gxC3Pupm9toPT0i/lJ5ZaAq6+ejfKf5aR5crRDV+tsBhx75aNAuxJCuwaorMXyFF0q4pLbWbW1oRXPZSOrGlkJiHXs3f/jT+CdW9L750jeh25nGGVYgLxWtkSNcUXul5C9nxRQFUZtN6KiTg3iybnc4O3FNAHjsQe5lherZc6arrQyTlgkjmIYCdDCpkK+Y+yKoJBoKVOeye4Mlo8usdHkB59JsIthqGJ7rTohIQrFCyIrELU+MoVQo3RqF/fi6VgO3q6jZLNhKQg97HwpbajjR4tdA5EspdUJ6Q0W95BqmMPiIkJsEZZ+yfe9A[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-97ddb3a8-3a8d-58f7-2860-8f02e9d602ce/test-blob-771dd41b-afc2-7312-6219-6d3b0ead4170?sv=Sanitized&se=2025-10-01T20%3A36%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "CjKrg82pn9uvP+m0uufH9Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060FFBE4CBE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:14 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:36:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-166ae1fa-9851-4cd7-8df9-59447cf5bb7c/test-blob-f0c06970-c0c2-a93d-6b67-a4f88e343071?sv=Sanitized&se=2025-10-01T20%3A36%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-97ddb3a8-3a8d-58f7-2860-8f02e9d602ce/test-blob-771dd41b-afc2-7312-6219-6d3b0ead4170?sv=sanitized-value&se=2025-10-01T20%3A36%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060FFE9243C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:14 GMT",
        "x-ms-content-crc64": "fWlpN6eeJCI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-97ddb3a8-3a8d-58f7-2860-8f02e9d602ce/test-blob-771dd41b-afc2-7312-6219-6d3b0ead4170?sv=Sanitized&se=2025-10-01T20%3A36%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060FFBE4CBE\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060FFBE4CBE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:14 GMT",
        "x-ms-blob-content-md5": "CjKrg82pn9uvP+m0uufH9Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "OduhdKdqUhHv0/+IsTzGzMRNxO5qhz0yj6Un5[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-97ddb3a8-3a8d-58f7-2860-8f02e9d602ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:36:14.1971739-07:00",
    "RandomSeed": "1146948150",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
