{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9f75a32c-fb7c-6520-dcf9-6085dfc091cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00610062C3AA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9f75a32c-fb7c-6520-dcf9-6085dfc091cc/test-blob-464aaece-22ea-c47e-b378-edbc32f0b36e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "tBs4AcwIdo5d4fWMummkvhaMYAyeKdpkufgNR9PAwK08/7v0/hUfaeqCCK8DflpI6swVC3HjB4tB1EfU+y67nSBIULutr78AbfYiHCAqYTqexV0GqrQ8WPcwsyrOSm68xmqOuy6emjoMFZ56wetqFnMMNjXQtPJsC/fEffyUMSKIZVW1m6YM/ysj+pUWwpcMxZy3whQ46xJ4Iq832hw+d+N78VuVtHrNADYKrbpdVUlfuLhf3W8OT3lDPXj21CUO5YKxm9A8dhEh6cLdLj5XGs1m1yJk3pl0bKLhUnYC1isR+8c4q7p4IkKmPvSsMCA67COrkP0CqgfoPS4uWiOaHxOXyzN3Hm8T7bTgvZ+lxzyBpmZTVkYuDlDAUG6MScgeDB7hFWXtw82zmKJIIu1nQnXyrbO9RsjMab3its4[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9f75a32c-fb7c-6520-dcf9-6085dfc091cc/test-blob-464aaece-22ea-c47e-b378-edbc32f0b36e?sv=Sanitized&se=2025-10-01T20%3A36%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "/7U8tTpkoP81AUEcGa0qKQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00610079509E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2c71d7da-76d3-8f2f-b666-ee9bdfd4ae12/test-blob-5e0523fa-7a4b-b82b-e1a5-fd63f5d054dc?sv=Sanitized&se=2025-10-01T20%3A36%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9f75a32c-fb7c-6520-dcf9-6085dfc091cc/test-blob-464aaece-22ea-c47e-b378-edbc32f0b36e?sv=sanitized-value&se=2025-10-01T20%3A36%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006100A14523\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-content-crc64": "nF/3Fvlbv18=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9f75a32c-fb7c-6520-dcf9-6085dfc091cc/test-blob-464aaece-22ea-c47e-b378-edbc32f0b36e?sv=Sanitized&se=2025-10-01T20%3A36%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00610079509E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00610079509E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-blob-content-md5": "/7U8tTpkoP81AUEcGa0qKQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "tBs4AcwIdo5d4fWMummkvhaMYAyeKdpkufgNR[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9f75a32c-fb7c-6520-dcf9-6085dfc091cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:36:15.4131610-07:00",
    "RandomSeed": "1725971026",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
