{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-74a26532-12ea-7735-959c-9bcb32bc45be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FA5938A31\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db80e3ff-3ff5-36e4-1812-08e79fdbfebf/test-blob-08ea6619-6017-4b9d-aa7a-eef8ba6d60eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "5rkuF40tAZExkd+scCVgtmulKc1B9m0CvWeZAnmgh+ZQQy2zo/JuGcAHqKsk/0egkibDUMMJZO9MLFomk/8YkAn4Wy33rRJ5NxAMOk7C3b0f+W9T3TYjR98+Z3eXSIXA7hihK6MaqeUUSRmy/Cqhik6cBpqPxbPS1RNOuEWb4e6LS0s2ILIaBVCJPpMdcEu0nN0o+kHqMSlkzlaPy/CfeWgqJrDfa2mcggFJBYYftWTImRxocuetoBoh0VJbijlg6sUr8kma1TFzi3hAoSujRRjxxzLUNwaBfYWVvZkWQPjH6RvA9MMbLsTq9OZubP/vfYs5asMHjLK+qnXEBBeYXEt/eLcP41FV1phu6UIgEhCG[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-74a26532-12ea-7735-959c-9bcb32bc45be/test-blob-81b90c7b-4ec0-2289-5f9f-b3ddfd57ebdb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "zm2hhCe9Bl2akHUwEAcBNf5GQOpPs2RFPW6LC3tUxhucP9Iexpt319jEBKpHVUAOsYin7+oxohsJXEe5MfvhRspZk9E0425jzmgSiq65/ucufVrzrNYxa5y3FWpTvqXd473f7cJu2c0ZQyGBHxdsT15gi7Sg7przJyg1fc0EDw/CNafw2hAkv6OM2Wm1r0uESsUM8jPxPPQj7MWaOVsAFTMRv+pwfHVNPMsQFBQxPXjcsDMH+Bzc0fiyze1KioZIjMQ1pPBhFM5QvrZn4Cjg8q5Nvogo+BwWNO7xva6HA7FFyIhP+5iIepxktzlmdPDQ0to//Mv9H5OnHnACcFYfyboFIhefkPYVxUPsxEHjsL/9IevTSAblR6n0qN0ohgpFRO5+YVLYMEHkKTeIEVtSxG2wBE5rTIG0H9tuq+g[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-74a26532-12ea-7735-959c-9bcb32bc45be/test-blob-81b90c7b-4ec0-2289-5f9f-b3ddfd57ebdb?sv=Sanitized&se=2025-02-01T21%3A38%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "/8yvxlf9rUezHg5PA4jFmg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FA5AB2DEE\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:48.6310382Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db80e3ff-3ff5-36e4-1812-08e79fdbfebf/test-blob-08ea6619-6017-4b9d-aa7a-eef8ba6d60eb?sv=Sanitized&se=2025-02-01T21%3A38%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-74a26532-12ea-7735-959c-9bcb32bc45be/test-blob-81b90c7b-4ec0-2289-5f9f-b3ddfd57ebdb?sv=sanitized-value&se=2025-02-01T21%3A38%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe48f56b-301e-0096-7c28-74d313000000\n",
        "Time:2025-01-31T21:38:48.7510318Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db80e3ff-3ff5-36e4-1812-08e79fdbfebf/test-blob-08ea6619-6017-4b9d-aa7a-eef8ba6d60eb?sv=Sanitized&se=2025-02-01T21%3A38%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "PDPKfwuJUWziXAkiMXgmAA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FA5A2A3AB\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:48.5750699Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db80e3ff-3ff5-36e4-1812-08e79fdbfebf/test-blob-08ea6619-6017-4b9d-aa7a-eef8ba6d60eb?sv=Sanitized&se=2025-02-01T21%3A38%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FA5A2A3AB\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FA5A2A3AB\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-blob-content-md5": "PDPKfwuJUWziXAkiMXgmAA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:48.5750699Z"
      },
      "ResponseBody": "5rkuF40tA[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-74a26532-12ea-7735-959c-9bcb32bc45be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:38:48.6071665-08:00",
    "RandomSeed": "1933322606",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
