{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3da3b2fe-1d76-885c-9043-86012f1d7529?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1118272817\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3da3b2fe-1d76-885c-9043-86012f1d7529/test-blob-fc02a578-4f10-2281-4e65-6c4b8122987b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "rD8POqkGJvo5Ha7+y6GBdfn2YkcgcpR0BKmgNBYXoseOJDgGkYUw3IRnnt1Eu2+d/ufHMer5ZjmrmzUAZfHjIXvmb6Zpe+R0xYbDuNO2L0k6AjYuUHDdlb7+WvZPMHaSg3xiXkvINIIDUmtkNa1m9WvrxmK7tNEKCdroayHuJJUPMTRXVNH+cs6zK/0EeF8RmGWLZGkU1s+rWFRw4MlhFS7WVQR5DqCZ7VSUB4nTBZB719O7YsAr+1plrPx9jZEEUhbPLiNal4nE8nYVf89F11LD9Qn2pbJtqlqqE2KkG2DCj7VzA9dtID9J93BKFXuLH9SpuZeIDqxjYoPJsIQnH9YWU/AZ0tN7VtTKrK5BI5XeH/ON+2LIOYEID6FTo3C6IteaM8GKcU0BLmLCvmH+IT7u6pCQmSRzThpuEcI[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3da3b2fe-1d76-885c-9043-86012f1d7529/test-blob-fc02a578-4f10-2281-4e65-6c4b8122987b?sv=Sanitized&se=2025-03-08T00%3A43%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "OAF0Fu05tEtDzEDyRTpgOA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11184807FD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:35 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:43:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-75a0ee94-9598-8e42-60f6-1e1b4cb24bd5/test-blob-11ca119d-fd9c-05ba-c099-8898cf0d186f?sv=Sanitized&se=2025-03-08T00%3A43%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3da3b2fe-1d76-885c-9043-86012f1d7529/test-blob-fc02a578-4f10-2281-4e65-6c4b8122987b?sv=sanitized-value&se=2025-03-08T00%3A43%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1118618DD8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:36 GMT",
        "x-ms-content-crc64": "rIDEcg8eCxE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3da3b2fe-1d76-885c-9043-86012f1d7529/test-blob-fc02a578-4f10-2281-4e65-6c4b8122987b?sv=Sanitized&se=2025-03-08T00%3A43%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11184807FD\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11184807FD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:35 GMT",
        "x-ms-blob-content-md5": "OAF0Fu05tEtDzEDyRTpgOA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "rD8POqkGJvo5Ha7+y6GBdfn2YkcgcpR0BKmgN[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3da3b2fe-1d76-885c-9043-86012f1d7529?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:43:36.0197765-08:00",
    "RandomSeed": "132395527",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
