{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a502e03f-e91f-bf3d-9976-dbf9ba395d72?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FA51AF629\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a502e03f-e91f-bf3d-9976-dbf9ba395d72/test-blob-36978aed-38a1-f68f-cacc-2fc4b30c23c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "d/1tO+/08owsEveW93n4G7KKeDq/uW2rEUth1aePlqMEgdVLyjuvSaQjt0s5v3lNi0pNdVqjzL6QwSqjkh3knHtUkXWjrFF22y6WmwEhclLSE0pdQiFJYbUXuwgRC7eHPhvQ5S0Dqt751pkrDTG9bk/X0X/Sh1pZCy/AjPBIZc93DlzlUYwkzmlrY2uIHVSDWky5OTo4tLfAdtr9Qx3tsHHKs/7U1xzCswMVZyPu0e3bPDKjjyuVP1mlJNqyJ4pLfbL6vmlWr4Iw9oY3Ik2T0qXtIgfrSiFFNHSkLrJCEIx4yulw8xODhYyvc5ilXh0MEVI1xQSDXzOQtYn1sYDQ7uX6vlhjIt6RaZ16PNaJoNVXmBxfDEuH9Wq24D6JjtMM34Wyq5/FqO90pFtnCCNdBxWznhhkcOGacsntrUK[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a502e03f-e91f-bf3d-9976-dbf9ba395d72/test-blob-36978aed-38a1-f68f-cacc-2fc4b30c23c2?sv=Sanitized&se=2025-02-01T21%3A38%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "N6+Kasj9xTMA/eKRalSiUw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FA52A2A03\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:47.7855235Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4a25f19f-44a6-a965-abb6-6496abf8d785/test-blob-d341ae85-b0ab-18cc-00de-fcc0a255ab5a?sv=Sanitized&se=2025-02-01T21%3A38%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a502e03f-e91f-bf3d-9976-dbf9ba395d72/test-blob-36978aed-38a1-f68f-cacc-2fc4b30c23c2?sv=sanitized-value&se=2025-02-01T21%3A38%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FA53C9DE2\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-content-crc64": "/ysldfm/+5E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:47.9064546Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a502e03f-e91f-bf3d-9976-dbf9ba395d72/test-blob-36978aed-38a1-f68f-cacc-2fc4b30c23c2?sv=Sanitized&se=2025-02-01T21%3A38%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FA52A2A03\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FA52A2A03\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-blob-content-md5": "N6+Kasj9xTMA/eKRalSiUw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a502e03f-e91f-bf3d-9976-dbf9ba395d72?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:38:47.8173121-08:00",
    "RandomSeed": "441460140",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
