{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8c3dc10b-5a87-5958-8424-5d64e08f1255?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ADCFBEAA2\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8c3dc10b-5a87-5958-8424-5d64e08f1255/test-blob-5657616c-5569-497d-6da3-50c1c28d1934",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ebc7eJUb1bK2Zn\u002BKi8HKEv0CeKN1rdgKUBxDj36722o9m6O8XssA2j2k4bOjl7WbYCLViBi4jczeMCh42EY0\u002BooVTPAeDrQxAZ1m0cskZrhmpy5b5lNRhQ3X3S2iiAL2cOYojkvFfVJuo4Z7UbwAucpwETAX2BQ3w8biRjGGj3mab2Hl/NhtoSnc7ELM1TRR1yNjMnfS35fR8MqE4zch6BQN4eJaG73xAnAGO\u002BvSa\u002B6SkG8NI1wCyJDKEwsN6L3yuwQuvvRR9rxmcTAGy6Or/4Xc8lLHE8S3CxlRkAex5BmyFIDno635QJqzp7Is\u002B/ztHhOGMPZrK6hAdrLa/2W[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8c3dc10b-5a87-5958-8424-5d64e08f1255/test-blob-5657616c-5569-497d-6da3-50c1c28d1934?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A55Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "lorkB0gFpAxPk4u5JquS0A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ADD104F58\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:57.3729112Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b32ee3a-8fe0-2110-3103-54dbe4bdfe80/test-blob-eb11665a-915d-cbae-f8e9-4a9001afd76b?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A55Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8c3dc10b-5a87-5958-8424-5d64e08f1255/test-blob-5657616c-5569-497d-6da3-50c1c28d1934?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A55Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ADD2AFF66\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-content-crc64": "Jkcpauc4GTs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:57.5478118Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b32ee3a-8fe0-2110-3103-54dbe4bdfe80/test-blob-eb11665a-915d-cbae-f8e9-4a9001afd76b?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A55Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "lorkB0gFpAxPk4u5JquS0A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ADD2AFF66\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:57.5478118Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8c3dc10b-5a87-5958-8424-5d64e08f1255/test-blob-5657616c-5569-497d-6da3-50c1c28d1934?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A55Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6ADD104F58\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ADD104F58\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-blob-content-md5": "lorkB0gFpAxPk4u5JquS0A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:57.3729112Z"
      },
      "ResponseBody": "ebc7eJUb1bK2Zn\u002BKi8HKEv0CeKN1rdgKUBxDj36722o9m6O8XssA2j2k4bOjl7WbYCLViB[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8c3dc10b-5a87-5958-8424-5d64e08f1255?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:55.6115309-07:00",
    "RandomSeed": "117347960",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
