{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9741c429-8530-5c34-2b0c-30e178f25713?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690159F4730\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f91bca6f-d8b8-f407-9526-e0cef254b35f/test-blob-9c7235f4-6391-238f-52eb-ed750769552e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hF24/wKJw3jYUOurP6nJ105uV7lEYtTKpovjYYcU8zUzs7fIX0UPHG0/v/YmZt5uEUtnJ8eFbSKI7Vl2pWLxxFy1d4vyAHgJXzpMBaPepECtdE88rMxtrkWUQHHrmHYKTfqZcO5TfBDSXciMOGh/qUkYyTETtReQR8lFXcAGHcbDQbeoRDNSWvc+aU4D4XXdFZYo089F95jiCCkkDR9Py0ACyPex1mQVxm851EvIjWZTaEcq3kr3fUoexTwKLUzY750OABh+Kz8xEwxfDCNNGXvC0aTYJe32C0uskhAoC5giYeWtuoxN1DwI+cs9l3En0azAR1uoAMmwGPXN0pguCAd0Pas+n1/udP1nzywiuHTZ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9741c429-8530-5c34-2b0c-30e178f25713/test-blob-72f20733-530d-7b04-bfae-f7aa462593dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5CXPs9VBtTj46/8QUXhBhJYweaxeXBcOnWx6ewGgg3VVDvvc6y7FBppU9VmiLKHkTBCzUjXZzIcNwBVpxzk2V2eJu0N8ZZhnanISCWe+a3HLlS7w7TE/e0J0zyoYXD5gHZ3xGXFdZ+d4S+fDx8IfT1WknTILRmo2Sj8ACJZuTg0zsezKzVL/bS1GeKJKfLSAVH/VdL8MVdczu88yXV9RCfzZkBXWVYICpS8ExM3I7M2KgLQWmdpOJlwUlhGDzRDO9W6lcOyfqv790s6PCJEJa88Bp9yrO3Aiimm4wb5wf9ceNs9fInvh69a1GMYLvh7LCitCgiY0I7n+g+WC5uhAjVL3cNHCqkhTH7wF9iOpFsxK7baTLf2x6hIVYJ+VXwTudYp0FE5MCWDi72JpLi2WVGwZOPgxrGBVRYa/rEm[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9741c429-8530-5c34-2b0c-30e178f25713/test-blob-72f20733-530d-7b04-bfae-f7aa462593dc?sv=Sanitized&se=2024-06-08T01%3A20%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "WS28q3MnS0pDjx0Mrrfj2Q==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869015C88C42\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:57.8645058Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f91bca6f-d8b8-f407-9526-e0cef254b35f/test-blob-9c7235f4-6391-238f-52eb-ed750769552e?sv=Sanitized&se=2024-06-08T01%3A20%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-9741c429-8530-5c34-2b0c-30e178f25713/test-blob-72f20733-530d-7b04-bfae-f7aa462593dc?sv=Sanitized&se=2024-06-08T01%3A20%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:62066610-101e-009c-4778-b85b47000000\n",
        "Time:2024-06-07T01:20:58.0888770Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f91bca6f-d8b8-f407-9526-e0cef254b35f/test-blob-9c7235f4-6391-238f-52eb-ed750769552e?sv=Sanitized&se=2024-06-08T01%3A20%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "TP+J9TS3UROqWEKVFyRBhg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC869015BC7F57\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:57.7865317Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f91bca6f-d8b8-f407-9526-e0cef254b35f/test-blob-9c7235f4-6391-238f-52eb-ed750769552e?sv=Sanitized&se=2024-06-08T01%3A20%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC869015BC7F57\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC869015BC7F57\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-blob-content-md5": "TP+J9TS3UROqWEKVFyRBhg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:57.7865317Z"
      },
      "ResponseBody": "hF24/wKJw3jYUOurP6nJ105uV7lEYtTKpovjYYcU8zUzs7fIX0UPHG0/v/YmZt5uEUtnJ8eFbSK[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9741c429-8530-5c34-2b0c-30e178f25713?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:20:56.2898167-05:00",
    "RandomSeed": "1946001011",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
