{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3f33799-a0cb-220b-6a75-1eaf0ed41292?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC6833AC6E\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eb03329f-0dc0-890c-6970-3e1ae4b30b98/test-blob-51afeb8a-1ac3-b94b-f77c-2c7d6525fd08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "COS3\u002BFvWlxtKZUOLyLb\u002BlQCZeNE4PO4054gLdZyXghdlSya9tPG9uPjenBkRrAzVIl/iJwzy78v1gxDSyiJ/suIrJXyPQeAO3L/ZWaDVIjt8NlM9tFsLc1taxzHg6u3VX\u002Bk25oaPReB\u002B1EpNGZYrIGHVVZTPQf6HILEgNXqvLfHSA/m3nju07PBzvuAQvVrFL6bPC5RZBh7qr8bUbxBlz6ZZexWcdIElIGmjXIIddmJXWgXU3yJcef3bzO91333gDe86t0JEKbskquortaqbzThkfRQKke\u002BE/QEYwKeSsEDrwk6T478fEjFKrzU3MMNSQP62EGJp1nwAtrpALGk[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3f33799-a0cb-220b-6a75-1eaf0ed41292/test-blob-e1d922e2-822a-1325-7bbf-b395d8d03d5c?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A23Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "83DQ222oF\u002B93HUDKWqeEmA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC684FEC07\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:23.8337808Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eb03329f-0dc0-890c-6970-3e1ae4b30b98/test-blob-51afeb8a-1ac3-b94b-f77c-2c7d6525fd08?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A23Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC68693CDB\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-content-crc64": "4HVC1omNgcs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:23.9996907Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eb03329f-0dc0-890c-6970-3e1ae4b30b98/test-blob-51afeb8a-1ac3-b94b-f77c-2c7d6525fd08?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A23Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "83DQ222oF\u002B93HUDKWqeEmA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC68693CDB\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:23.9996907Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3f33799-a0cb-220b-6a75-1eaf0ed41292/test-blob-e1d922e2-822a-1325-7bbf-b395d8d03d5c?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A23Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC684FEC07\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC684FEC07\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-blob-content-md5": "83DQ222oF\u002B93HUDKWqeEmA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:23.8337808Z"
      },
      "ResponseBody": "rjqiaKj4OPfuEkCCDySs4x01feDiuS2C0d6GbsScunVEoFZrjxxHFQ8kD88pHleUUVO0nJ[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3f33799-a0cb-220b-6a75-1eaf0ed41292?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:10:23.1743417-07:00",
    "RandomSeed": "1005543677",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
