{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b2739d83-1812-c6fc-a0d2-90c363ec7dd9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF7D16C4BC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b2739d83-1812-c6fc-a0d2-90c363ec7dd9/test-blob-04dbcecb-5dad-31f8-694c-03ec4c69956e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ktfxCikv6JF60H10mLPZqx9fhPWoaCF4ylFBYBsW56nOlsZEouDgc2E\u002BSKKr5UEwBIbVR83/UCm1eEDY7od1Y\u002BnUpgHtlQk\u002BfxGUah9/zeUPEFyVQKDbz0acjimgB4XZyeS51z8/Q258lse8auYKNqtayd0r4CJI\u002BNe7UAffnniLu6E7xvWmz83tGKnYHmRgklh\u002BRT6orujBcN5ohPJnnfhPMa9Fz3C1tPkQPcd4b9lyW76uYVg54w24eVUXPkrahnuxie21GsPoyJFFmHAhSAAF9Sk0uDugFk6ijFUannauNbdMx\u002BbrvED7xpjH9EqclzBUEkghpc0/EX[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b2739d83-1812-c6fc-a0d2-90c363ec7dd9/test-blob-04dbcecb-5dad-31f8-694c-03ec4c69956e?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9ssSi5a0n6siDVuK1ZJ98w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF7D2A3C65\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:40.5931109Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6a754b02-098e-e76f-caeb-807aeebd4f7b/test-blob-24a0802e-2381-d0cb-8a4c-d0c9eed585bc?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b2739d83-1812-c6fc-a0d2-90c363ec7dd9/test-blob-04dbcecb-5dad-31f8-694c-03ec4c69956e?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF7D6F03A8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:41 GMT",
        "x-ms-content-crc64": "9vNqELpkeRY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:41.0438568Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b2739d83-1812-c6fc-a0d2-90c363ec7dd9/test-blob-04dbcecb-5dad-31f8-694c-03ec4c69956e?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF7D2A3C65\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF7D2A3C65\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:40 GMT",
        "x-ms-blob-content-md5": "9ssSi5a0n6siDVuK1ZJ98w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:40.5931109Z"
      },
      "ResponseBody": "ktfxCikv6JF60H10mLPZqx9fhPWoaCF4ylFBYBsW56nOlsZEouDgc2E\u002BSKKr5UEwBIbVR8[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b2739d83-1812-c6fc-a0d2-90c363ec7dd9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:44:39.2038924-07:00",
    "RandomSeed": "147406170",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
