{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4c681d8e-f276-0b5e-8f4f-37ad5256faa4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:33:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DEE338A9D\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d704ae1a-5e4a-e1a3-e30b-470be4754760/test-blob-7fd61e1f-f2c6-6e1e-84de-c11e7742b37f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "NimtlIHXmopLyXpXRT7db75hxv67OklHpZ0t09/psdu/ux93WqlXPOydglI5zKxXeOH6AwbRKPvgZe7jqserYRifmIoeZhQUCYkRHbf3Dtnw1lv97q7U7ZMjlvS6c5Il8iA5mjQiOBHN5fl9wApD6VcV89RsrXNqyqr3+s8fWpX26yqWvXOkzp1JMAi0Vy2I4K2dpIC+uUWtz9CKKj1BrYtjhtTgrCvkcSU2InxqtXN9bxoigrUVODLl6e2jGqNgB4N8UdFYpzOBuDNbiJbIQxpcDLoiHyrWTU6i+8M+QVeB1Rv57WOiJcfnoMmCuq+bHKbTRg3pPedZpgOCtaxwQ3fc2bJ7z1W2uufyO35gVJOeB94da/pJl5gzn0ZgH28bdl1SpuD9H01QHIsm9gFp+FJv5K7OUtd9kkIaSC8[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4c681d8e-f276-0b5e-8f4f-37ad5256faa4/test-blob-e9785655-9653-6148-5269-a7a11d5ce61e?sv=2024-08-04&se=2024-05-02T20%3A33%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "2abOo7jBaMirqyhFfvPJOg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DEE604B0E\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:16.5651726Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d704ae1a-5e4a-e1a3-e30b-470be4754760/test-blob-7fd61e1f-f2c6-6e1e-84de-c11e7742b37f?sv=2024-08-04&se=2024-05-02T20%3A33%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-4c681d8e-f276-0b5e-8f4f-37ad5256faa4/test-blob-e9785655-9653-6148-5269-a7a11d5ce61e?sv=2024-08-04&se=2024-05-02T20%3A33%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DEE84969C\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-content-crc64": "OvJMUJ42BpU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:16.8040364Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4c681d8e-f276-0b5e-8f4f-37ad5256faa4/test-blob-e9785655-9653-6148-5269-a7a11d5ce61e?sv=2024-08-04&se=2024-05-02T20%3A33%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1DEE604B0E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DEE604B0E\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-blob-content-md5": "2abOo7jBaMirqyhFfvPJOg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4c681d8e-f276-0b5e-8f4f-37ad5256faa4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:33:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:33:16.2725667-07:00",
    "RandomSeed": "298879870",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
