{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b265c2d-c757-0a19-58b8-11b5ef3a8010?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3647D8818\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b265c2d-c757-0a19-58b8-11b5ef3a8010/test-blob-ef43c27f-9510-ff64-016b-9b8328ee88d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:52 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "NNytBOomJvNWupRRaCz3gHvv8Pwdg4aGCNzDWxKLgYgmBr\u002BR2F4Kebx6oDYk8Wv98SGSFoeHFbBWJ/sNYsrhyjgMK2JsZqcc5XY/ouJPYRdwxWnx\u002BWsAnvAOOrFi/Bbymdb\u002BF8UJkYt5dTEQSHLOBsXknZ1g79HNDI1xXSv1uelgTQkMUUlRZjTed4M671Z\u002BQDTsfl55kakEMAs4lzNfg7tHsPppwbR7kzZognhOkxw38x32CTuK57tfByA\u002BGc4BfvPH8j9bFH5/cOsnEA4xtp3uAKQVaXqAvMk\u002BCrmTPXloZgSEh6Hd3N6ed5hQY9atLVGDTxgq6xV5RjV2HArF7DNxv6oJrC78ESTFdvHhL1nykdxnEO1hPXrvC0BrZ7/U2Ytl36Mso[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b265c2d-c757-0a19-58b8-11b5ef3a8010/test-blob-ef43c27f-9510-ff64-016b-9b8328ee88d0?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A52Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "QFUWEw2J7q9o3I7C6GGFtw==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D36491F329\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:52 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:26:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:26:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:26:52.8398121Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9c84c2f3-7bce-e4d2-9a09-762aba5a502a/test-blob-6268ec6b-598e-4d7f-da7c-8f49017b6cb4?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A52Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D364ADDB8C\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:53 GMT",
        "x-ms-content-crc64": "/c7Hz3F2Fd0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:26:53.0237071Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b265c2d-c757-0a19-58b8-11b5ef3a8010/test-blob-ef43c27f-9510-ff64-016b-9b8328ee88d0?sv=2024-05-04\u0026se=2024-04-10T20%3A26%3A52Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D36491F329\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D36491F329\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:26:52 GMT",
        "x-ms-blob-content-md5": "QFUWEw2J7q9o3I7C6GGFtw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:26:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b265c2d-c757-0a19-58b8-11b5ef3a8010?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:26:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:26:52.4599153-07:00",
    "RandomSeed": "633255904",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
