{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f9b1f5aa-b704-371b-97f1-a44c943d9677?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0E8E238E6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-250a0d7c-dc7c-14c0-5e65-4bce3502eca0/test-blob-aa4ce34f-40eb-9a69-0111-eeacece40291",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "yPY6AZoCzPRUKubR4I2uVmGkJ/HZTiOTonYdw7UjIFzLuzb1aIcUOyhDrZlf5C3E2hktvM31AnrTp18k5Ak\u002BMQmJBiVWue7ZkOvJlqCKM71JWOmc9WOP1bi8IsEo71YeBHuP1t0IbiArUyviK2zaSHOh24wgojum\u002BjBsmZctsKCUqpIk\u002BlzfQenIcKI4rKlM4dlNhxTK/mE/6dysm9SJ/qOKTYHatU0WwZqiVzKZbk2GILi\u002B3ymMyqsw5BGAMqUUP3H/rV8ociyLNsV6J6cvpnuPJXocyh55/oPWqdE8lo70jRjAmsDtXq6MM6ljEqIEAT6W8Q0q\u002BHRTha7bUsh[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f9b1f5aa-b704-371b-97f1-a44c943d9677/test-blob-d5084fe6-4323-a283-f44f-3d87cc0d6fb2?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rzoVq5ajRoK1SD8XUH6L2A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0E91C6B30\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:51.1942210Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-250a0d7c-dc7c-14c0-5e65-4bce3502eca0/test-blob-aa4ce34f-40eb-9a69-0111-eeacece40291?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-f9b1f5aa-b704-371b-97f1-a44c943d9677/test-blob-d5084fe6-4323-a283-f44f-3d87cc0d6fb2?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0E94A5265\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:51 GMT",
        "x-ms-content-crc64": "6m39ysDbrNo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:51.4950517Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f9b1f5aa-b704-371b-97f1-a44c943d9677/test-blob-d5084fe6-4323-a283-f44f-3d87cc0d6fb2?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB0E91C6B30\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0E91C6B30\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:51 GMT",
        "x-ms-blob-content-md5": "rzoVq5ajRoK1SD8XUH6L2A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:51.1942210Z"
      },
      "ResponseBody": "9vKOJSqB7QjIEdoS8f6iTt0SM4PlDelYiJVyXVXfxTB56H7T41EpmYPCPM2CwMhVdYZ7vrqBP\u[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f9b1f5aa-b704-371b-97f1-a44c943d9677?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:54:49.7065326-07:00",
    "RandomSeed": "363127749",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
