{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1cd4fbcb-f2f5-6a08-5c11-54cbb31b3f68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD72EDC1E3421E\"",
        "Last-Modified": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1cd4fbcb-f2f5-6a08-5c11-54cbb31b3f68/test-blob-7fbed4d8-ff1c-3e13-7510-8133cb5953b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "nUkOQMSV74exhuwTDbV42bIMQnwgNXSSWfuGDsSdxSwft1FF9vXx6qFHCrpqHkTAkiz+UShRK2fUfObID+DCE8DA9FVkM+O9Glja2Su6KDq3xXyYn3MEzozpcHkOKdrBhPf5qSruXF9IQTbPd1I8GlOsEUlkKnNNvCbJesNprvF9GFU0wH4PyGkdUF08NFc6rVUlYhiRXVqDrO0EJeGc3pNFUl78CFrVnEjfR9oVEIjPjs1tQ0vZ67v6sBORC6KIgHHK9+H5PaX6UMbPshZ/bZxlNZYTLptHa2aiAldGRJCmVsZpSxmm1VEocvOECjmle0N3K9UMdFLVgot7VjtNsww1KVtQFiGDv19F67uow2Et/YYTzxi7muFzk8iNKn8W2r7nT+HdVWQh9Gx2xomWLb8pTVm0OuTzeo563IN[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1cd4fbcb-f2f5-6a08-5c11-54cbb31b3f68/test-blob-7fbed4d8-ff1c-3e13-7510-8133cb5953b9?sv=Sanitized&se=2025-04-04T20%3A26%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "RzAnlRDNz6CyBNUBpnNg3A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD72EDC1F58B52\"",
        "Last-Modified": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6537b833-4b1f-e14a-57d4-23fbaa460687/test-blob-7f0f0924-0a0b-2db0-6133-8c310eff038e?sv=Sanitized&se=2025-04-04T20%3A26%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1cd4fbcb-f2f5-6a08-5c11-54cbb31b3f68/test-blob-7fbed4d8-ff1c-3e13-7510-8133cb5953b9?sv=sanitized-value&se=2025-04-04T20%3A26%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD72EDC20EC355\"",
        "Last-Modified": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-content-crc64": "FkKi0EXpuzI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6537b833-4b1f-e14a-57d4-23fbaa460687/test-blob-7f0f0924-0a0b-2db0-6133-8c310eff038e?sv=Sanitized&se=2025-04-04T20%3A26%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "RzAnlRDNz6CyBNUBpnNg3A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD72EDC20EC355\"",
        "Last-Modified": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1cd4fbcb-f2f5-6a08-5c11-54cbb31b3f68/test-blob-7fbed4d8-ff1c-3e13-7510-8133cb5953b9?sv=Sanitized&se=2025-04-04T20%3A26%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD72EDC1F58B52\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD72EDC1F58B52\"",
        "Last-Modified": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-blob-content-md5": "RzAnlRDNz6CyBNUBpnNg3A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "nUkOQMSV74exhuwTDbV42bIMQnwgNXSSWfuGD[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6537b833-4b1f-e14a-57d4-23fbaa460687/test-blob-7f0f0924-0a0b-2db0-6133-8c310eff038e?sv=Sanitized&se=2025-04-04T20%3A26%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1cd4fbcb-f2f5-6a08-5c11-54cbb31b3f68?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Apr 2025 20:26:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-04-03T13:26:04.2629343-07:00",
    "RandomSeed": "605317994",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
