{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be0021d7-1e89-a534-3456-8f25cf0060db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D36BEF5FC2\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be0021d7-1e89-a534-3456-8f25cf0060db/test-blob-7e01f31b-ce20-3541-b871-140e441a51fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "8Wc0n/ZbGTdAq/WfiAQxWzHA/XORGUyqe4M74ZMDi5KQRKa5jgeSifTTmU\u002BrfIr7hzzmzeCyIdcbiSNyHzijPR9iD0Ned80pLXN\u002BvoD8///4QFlWHL2y3SPOnQTkIGq8L1wvSGxHnQ9vvaBsM2JXH4ojed7eTCBisDEfj9nIRA0Jwo8kzbaTsaJJ518dRqrBd356waaL3uI7zZg6KA42pniTY3HSMlHTkMg8lGTARGqHXRhbToJmfeOs6AAdWIiUE0HmiuI47kQspjHdT0p9e4gussr12lj1LOWNJklRtjc/p4Aj2bqHT2/TLqdRiC2ZL21376W\u002Bnjnp8F78q8j62/D5nafKWqHOpmNbIqyxpKO49Pfc2caRgQlGOuhbiqSn2FK2V\u002BuGz9TLqUhCY3u[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be0021d7-1e89-a534-3456-8f25cf0060db/test-blob-7e01f31b-ce20-3541-b871-140e441a51fe?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "g0kmz5MESZ39jg/VL1QaVg==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D36C03E670\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:05 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:27:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:27:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:27:05.3306480Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4d77cb1e-c8c0-9780-67a1-5cde27455506/test-blob-4d5e860f-d174-9450-cf79-6b4ed7eca03c?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-be0021d7-1e89-a534-3456-8f25cf0060db/test-blob-7e01f31b-ce20-3541-b871-140e441a51fe?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D36C1FCEC5\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:05 GMT",
        "x-ms-content-crc64": "Ia8E3JKalE0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:27:05.5135429Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be0021d7-1e89-a534-3456-8f25cf0060db/test-blob-7e01f31b-ce20-3541-b871-140e441a51fe?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D36C03E670\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D36C03E670\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:05 GMT",
        "x-ms-blob-content-md5": "g0kmz5MESZ39jg/VL1QaVg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:27:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be0021d7-1e89-a534-3456-8f25cf0060db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:27:04.9642249-07:00",
    "RandomSeed": "444775047",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
