{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f66869-dbf3-df33-3102-46288d61c5c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AE4ED47B1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f66869-dbf3-df33-3102-46288d61c5c7/test-blob-ab2c6871-0857-90de-37e7-05ebee9d982b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "fX/yr2VQsVeMAC7tLfyVBKr/SyBlD2DrS2NX43qIE9/mJY2tUYvRT6wznqSAR6wv61jaHZbEk24eBmMC\u002Bc3cBOxPBghv57IfLfx0MXG8agS2J/ghrfVIIpIfjkonz1beVpm3MUGkwASlu\u002B\u002BaT2H8YpxfS9HVu1b3BuN2T1ho916mldrXBDnCEmbze/IFrtIwIiyux4OECZtDvypdLnGrPcSR87qHJV5inDlq4T9k8lgRRSwsuS/bIYs\u002Bk0QOZeT1SD4udLoYqf3OSypKGShc383STOhEf4SUtdEuSJEZVDdVdZgANX6d\u002BJwvXm0EkQhi4bR3PBn7scm5mb7o6WB[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f66869-dbf3-df33-3102-46288d61c5c7/test-blob-ab2c6871-0857-90de-37e7-05ebee9d982b?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "GYmBXq02wlwsKsHWD5hbLw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AE5074195\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:10.7353493Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c63247d9-f7a0-66e3-b16f-c5b00da15dcb/test-blob-65053524-21e9-c897-7880-76927dc8b04b?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-86f66869-dbf3-df33-3102-46288d61c5c7/test-blob-ab2c6871-0857-90de-37e7-05ebee9d982b?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AE5377255\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:11 GMT",
        "x-ms-content-crc64": "wN//gI3fiPM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:11.0511701Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c63247d9-f7a0-66e3-b16f-c5b00da15dcb/test-blob-65053524-21e9-c897-7880-76927dc8b04b?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "GYmBXq02wlwsKsHWD5hbLw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AE5377255\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 28 Mar 2024 21:06:11 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:11.0511701Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f66869-dbf3-df33-3102-46288d61c5c7/test-blob-ab2c6871-0857-90de-37e7-05ebee9d982b?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6AE5074195\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AE5074195\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:10 GMT",
        "x-ms-blob-content-md5": "GYmBXq02wlwsKsHWD5hbLw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:10.7353493Z"
      },
      "ResponseBody": "fX/yr2VQsVeMAC7tLfyVBKr/SyBlD2DrS2NX43qIE9/mJY2tUYvRT6wznqSAR6wv61jaHZbEk24[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f66869-dbf3-df33-3102-46288d61c5c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:06:08.9861222-07:00",
    "RandomSeed": "1067958827",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
