{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a7faa66b-544d-083d-1be0-531016fb09d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:33:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DF7A1D4B0\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a7faa66b-544d-083d-1be0-531016fb09d6/test-blob-c78b5172-b3d3-8716-b8fe-6a2e75f506b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "P6EahgjnmnUe2jgLHqW4SnxRS/dXSHbsBTFukKRagZqXsDm0VKFEHN4Q/mJp/qZ6qU0MHsD2BfYqLoHXeAnRxFiedG1rA/XbDS8ZRkoUggaK9OZXTmPaoKtCiSUfbKPUPzkKy4o4D6VXMRCQ3b6sFqx7TIQjeXb0xNPCKHrQu6CMRAYQCrd7UuVBAB1SScPslnN5pCAfscbDFQe3duYrhnVwBJi3mwz0APqf4nhZoXoQ1ZEGVxaAbJNATfSww9v+FXmn4kQrNftmhKQlf89NanOMp6FVJC9e8JcEd04XRDweocz+sb825aCVoNJyWuzE8uKBJBw6qPFKSPKsJr2tTkBnB94DT7m0VcIAv4Rc7JaqQIVrliAf5PjbtGnNib7j6FGSClIOwaIpzM5aOels7VtcAeY3QbggSCLmJ5p[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a7faa66b-544d-083d-1be0-531016fb09d6/test-blob-c78b5172-b3d3-8716-b8fe-6a2e75f506b9?sv=2024-08-04&se=2024-05-02T20%3A33%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "9sa41KYtRj5hQa6ONqJxFQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DF7C14302\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:32.3001602Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-44248ce9-badc-a823-3427-3c8528a4fbce/test-blob-30cab9e6-7bf4-3da6-1bd1-bfe6eefadb74?sv=2024-08-04&se=2024-05-02T20%3A33%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-a7faa66b-544d-083d-1be0-531016fb09d6/test-blob-c78b5172-b3d3-8716-b8fe-6a2e75f506b9?sv=2024-08-04&se=2024-05-02T20%3A33%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DF7E7B118\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-content-crc64": "5i3GqU6SYIQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:32.5520152Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a7faa66b-544d-083d-1be0-531016fb09d6/test-blob-c78b5172-b3d3-8716-b8fe-6a2e75f506b9?sv=2024-08-04&se=2024-05-02T20%3A33%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1DF7C14302\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DF7C14302\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-blob-content-md5": "9sa41KYtRj5hQa6ONqJxFQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a7faa66b-544d-083d-1be0-531016fb09d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:33:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:33:32.1052513-07:00",
    "RandomSeed": "235950335",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
