{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9f5bd991-7d03-0e98-ad35-fb3f874b2615?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F96858E0F\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9f5bd991-7d03-0e98-ad35-fb3f874b2615/test-blob-92733735-210d-fe71-41a7-701fb01a77b7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "PRK7pLJ5xZRiPFzskBJACktP7D7zjHLdo0DyKwDpIPGTpfKRlcbXphSAbx7iIx76ji8x/ViChLCf3gByh5mTeBxqWeofrnWEd0Uqch1U+oAh+JzRuCKZESFC8rbGZR967PYCd8kz2t+5rIYSWBGTSuR/UY79wsD50EjJ3by+vhEmr4YmUoK27R28Fwuch7gPrqfSRhSQfSo2CaaBav0j+u5066iLbfhhyWNxQKq1XEmPuS4V7Hj8ljJc8EnbNIIfmR0dKJwQhEGucX2wHjyAgKxd8rDPDg51eFR2L3yvhZThUaeNlzSsfzXtZnv7S3j222+cfkLRUIoOp69HmVXE/+voz8yU8ul4sHN74aeTeizcgFMNEgdRDwEdfvCEZOXfKGaPEnyrYemGI83PVm7ieiyDaxgBt+zklr/LdnT[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9f5bd991-7d03-0e98-ad35-fb3f874b2615/test-blob-92733735-210d-fe71-41a7-701fb01a77b7?sv=Sanitized&se=2025-02-01T21%3A38%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "rQ+UCOz+D9WyQv24UsAN0w==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423F9694CC04\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:23.3185284Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ac39fb88-9404-db0b-6949-b99db9cfcf1a/test-blob-a94baa99-8c8e-0bc1-aae4-651257a85a19?sv=Sanitized&se=2025-02-01T21%3A38%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9f5bd991-7d03-0e98-ad35-fb3f874b2615/test-blob-92733735-210d-fe71-41a7-701fb01a77b7?sv=sanitized-value&se=2025-02-01T21%3A38%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F96A67CAB\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-content-crc64": "i+IfUEJdEdU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:23.4344619Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9f5bd991-7d03-0e98-ad35-fb3f874b2615/test-blob-92733735-210d-fe71-41a7-701fb01a77b7?sv=Sanitized&se=2025-02-01T21%3A38%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423F9694CC04\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423F9694CC04\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-blob-content-md5": "rQ+UCOz+D9WyQv24UsAN0w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9f5bd991-7d03-0e98-ad35-fb3f874b2615?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:38:23.3435089-08:00",
    "RandomSeed": "728853667",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
