{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-956cb740-e6a0-e0ec-cc95-33a766a27642?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0E6048DDA\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-956cb740-e6a0-e0ec-cc95-33a766a27642/test-blob-55c9d7a9-cc2a-409d-be8a-645f09a67d69",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "UTCO5w65DxXCA4Ew82DAqJok3cQ4Fg7oAN8Rj\u002BLzLeqWDX\u002BibBL666C22b71chVSSvrDGPvhyzshpecvp4Ayz9WXmubgHjuHKfEjgT1Q843Kv0XnLxTvtUFEgMYry0MghAnoXdguciu/O\u002B8JvUn90LJZZOg7Sp/Ap\u002BWkm551W12uA/00aJW0nE0aKPQl5fj4R7AU0Wdb5TlpKLXzidaNSd\u002BRW7lMyWgcpcibICGrmsLsrFPtYYn2Ux3Dyj/fwRJ2jN4Uk4o\u002Bq35H9yyfv8QXvo3zBtyCn\u002BhVmwibiP8oPOO1JJRDlgc3rgHVpmldVpNZqwuy7Lo18[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-956cb740-e6a0-e0ec-cc95-33a766a27642/test-blob-55c9d7a9-cc2a-409d-be8a-645f09a67d69?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fGQLJZw9Ma1RfeSlMmGX3A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0E62B8425\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:46.2589989Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-98e71243-e87c-c90f-fe1e-23bbda80db54/test-blob-6263423a-e858-b8c3-710f-2a158e8486db?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-956cb740-e6a0-e0ec-cc95-33a766a27642/test-blob-55c9d7a9-cc2a-409d-be8a-645f09a67d69?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0E65378CD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:46 GMT",
        "x-ms-content-crc64": "SLm5CNLsLw4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:46.5208525Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-956cb740-e6a0-e0ec-cc95-33a766a27642/test-blob-55c9d7a9-cc2a-409d-be8a-645f09a67d69?sv=2024-05-04\u0026se=2024-03-28T22%3A54%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB0E62B8425\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0E62B8425\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:54:46 GMT",
        "x-ms-blob-content-md5": "fGQLJZw9Ma1RfeSlMmGX3A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:54:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:54:46.2589989Z"
      },
      "ResponseBody": "UTCO5w65DxXCA4Ew82DAqJok3cQ4Fg7oAN8Rj\u002BLzLeqWDX\u002BibBL666C22b71chVSS[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-956cb740-e6a0-e0ec-cc95-33a766a27642?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:54:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:54:44.8809740-07:00",
    "RandomSeed": "869650354",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
