{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0850978d-77c5-00e7-4245-dbed36b59755?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF718513AB\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0850978d-77c5-00e7-4245-dbed36b59755/test-blob-f423473a-3353-1861-366c-781ac32a458d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "XHPjijffe6pZOKKzwTYOZpe4bZYU5BOdRubE8aPyAzUpg\u002BbyRfSt\u002B5lgT2yemNANbHzfQggXUnhfRURRGooHZjRsiT1PHCGiCnL9s5Sn/64WtoQmE8EtEjFukv\u002BwXOAPWek3MQ\u002BTvU9bPDiVGZ7juEaVOmMF4FJzPnYM4Ykh8a2R7lqrb82egvk1y9eIl/iSitq5GiJ8CXmWxPKZh9zGOkqKBCtEOEh497dq0BR66qd9eVeuZ9aLFeThFKvaBfscbpGN/pPNTlGSQCNqETlkHNlLGw2EF9Jz/u5GYiOcnvG8TWGD7ewTryoFHCazIQOqffjSjurtl1a\u002BGf\u002Bkh\u002Bwt9aIyrsPY4S7sOGvif/qrwN3qm\u002BUryg8HzrUKxNPtbig\u002B1yeEgXM/0pzJ5VZ\u002BChhcE1khuesHAiqSKt8OzRxb/8lCpKfSJz5qq8hJYeS5iMOdrrB5y7Q9N9X88VaTMQV/buaMPGZwiewatw4ivaBG2aEccB9s4TMVBWzS1jXo1nnDyfP\u002BLUxcLCXEXhSlGnk0thi1d8DmEoyydjb6nbO2MuCVXvStSKxUv0P6p4Meb\u002Bvynh8dM1\u002B43bZmS7YWYo9xDiw0ELuFhm5rYLd962sJkwdLB/\u002BTmP\u002BA3IE9R/z2Pl20iJhX6l8vbBexsdKoO/FLXLeuy1qQ3nUsszM6SD9xdSE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "A5QSt2JxUnZFYt4w/Ob3lA==",
        "ETag": "\u00220x8DC4EAF71991AA4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:21 GMT",
        "x-ms-content-crc64": "bnp3bvthSlU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:21.1870372Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0850978d-77c5-00e7-4245-dbed36b59755/test-blob-f423473a-3353-1861-366c-781ac32a458d?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "A5QSt2JxUnZFYt4w/Ob3lA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF71991AA4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:21.1870372Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a80ccec7-7541-033e-ba2b-1274af475d84/test-blob-16e1a1db-8970-7dd1-27ec-1de881063eb1?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-0850978d-77c5-00e7-4245-dbed36b59755/test-blob-f423473a-3353-1861-366c-781ac32a458d?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF71B85DF2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:21 GMT",
        "x-ms-content-crc64": "bnp3bvthSlU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:21.3919218Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0850978d-77c5-00e7-4245-dbed36b59755/test-blob-f423473a-3353-1861-366c-781ac32a458d?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF71991AA4\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF71991AA4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:21 GMT",
        "x-ms-blob-content-md5": "A5QSt2JxUnZFYt4w/Ob3lA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:21.1870372Z"
      },
      "ResponseBody": "XHPjijffe6pZOKKzwTYOZpe4bZYU5BOdRubE8aPyAzUpg\u002BbyRfSt\u002B5lgT2yemNANbHzfQggXUnhfRURRGooHZjRsiT1PHCGiCnL9s5Sn/64WtoQmE8EtEjFukv\u002BwXOAPWek3MQ\u002BTvU9bPDiVGZ7juEaVOmMF4FJzPnYM4Ykh8a2R7lqrb82egvk1y9eIl/iSitq5GiJ8CXmWxPKZh9zGOkqKBCtEOEh497dq0BR66qd9eVeuZ9aLFeThFKvaBfscbpGN/pPNTlGSQCNqETlkHNlLGw2EF9Jz/u5GYiOcnvG8TWGD7ewTryoFHCazIQOqffjSjurtl1a\u002BGf\u002Bkh\u002Bwt9aIyrsPY4S7sOGvif/qrwN3qm\u002BUryg8HzrUKxNPtbig\u002B1yeEgXM/0pzJ5VZ\u002BChhcE1khuesHAiqSKt8OzRxb/8lCpKfSJz5qq8hJYeS5iMOdrrB5y7Q9N9X88VaTMQV/buaMPGZwiewatw4ivaBG2aEccB9s4TMVBWzS1jXo1nnDyfP\u002BLUxcLCXEXhSlGnk0thi1d8DmEoyydjb6nbO2MuCVXvStSKxUv0P6p4Meb\u002Bvynh8dM1\u002B43bZmS7YWYo9xDiw0ELuFhm5rYLd962sJkwdLB/\u002BTmP\u002BA3IE9R/z2Pl20iJhX6l8vbBexsdKoO/FLXLeuy1qQ3nUsszM6SD9xdSE="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0850978d-77c5-00e7-4245-dbed36b59755?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:44:19.8327566-07:00",
    "RandomSeed": "533809260",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
