{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-85f90519-a735-d2b4-5925-083fa1411cfd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AE9C6F1FA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-542fdf54-6120-1032-8693-377dacacf002/test-blob-bfb0cc48-eef9-e4da-7d7e-27496bb18a4c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "U0WFFYhjD5ZXH9sor\u002B1bGcTjJg10yaN1OuAi1VDuYqhc7Jsf07gxMUGpEtDaZ1RYxqSNFrY4YImhD9qnQDpGab0zzMJRPEYMsfTMy7fSm9OLyQ6rYEvxI4sSfcPdivAHY6kTp5uSB4pdgWTBbJXRznQHHHYrmghxQag2P76CLicDxGcOv/M4\u002BcKETd7mMLb2QK5P1m163MigoWbyW8fL21I8vactww\u002BAzyK0pkwpihHyQP8PMli6ieifbR2MRZ76uXKLqnIOyXyfzwZLxTZ8dhdVABrIu6j6gjS/jlXy84mDuezZnuCe43aCcGNSbsOyIvcGN0WDMf3KkSc9Tzsnrdt8xwxJo[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-85f90519-a735-d2b4-5925-083fa1411cfd/test-blob-e7d6d65b-21b4-5451-d281-dff93917e0b9?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A17Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kyoaJjHk8cK/506WaWFzkg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AE9E8DAA1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:18.9247137Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-542fdf54-6120-1032-8693-377dacacf002/test-blob-bfb0cc48-eef9-e4da-7d7e-27496bb18a4c?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A17Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-85f90519-a735-d2b4-5925-083fa1411cfd/test-blob-e7d6d65b-21b4-5451-d281-dff93917e0b9?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A17Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f159cee-101e-0051-2e53-81e86d000000\n",
        "Time:2024-03-28T21:06:19.1050879Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-85f90519-a735-d2b4-5925-083fa1411cfd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:06:17.0990061-07:00",
    "RandomSeed": "2124950638",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
