{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebf38a14-c490-fd75-3c3f-31f5c6b9cf03?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AEB427E37\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-275493fa-35bc-3146-f583-24d17a401f66/test-blob-6114829a-d505-2de4-8af5-578a057ba5f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "4TA6gKqyx37IqMXBgbgNx/KUmWRw6VQwhNjcmudVpb0nuLLcNCc/0\u002BPujwGeWIzLpRu357NOZfjcCvzR1i2XcgMHmsgGMZLLVMWBgVlSkitLEfTLnb4K2FK6/yoqbv21Vx3\u002Blr7ExXSJ7JLtzeSfiXfRhcU5y9RF/cF1SzJooeXIyyk8VPtsh0uAQrErHAtuGnWyWek4fIxIuJj9TnlCIEqsJQK6YzV8ZP15uIgiGuG2BzG8tUf8kE6d85xibznRPiFmfvYIs7dANvXrvsMDJp63RkZIhWoCr5WzHXCZGfTDp3pnu5vqrVN5e39SEdGLms39qyjzibi2ZM5hVZZHpxwAJxZJnGoDzZ[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebf38a14-c490-fd75-3c3f-31f5c6b9cf03/test-blob-0762c804-15ca-0b27-9505-d995cdfc7de7?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "00bh6ffTaPbQRLMASpS37g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AEB784164\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:21.5422308Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-275493fa-35bc-3146-f583-24d17a401f66/test-blob-6114829a-d505-2de4-8af5-578a057ba5f1?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ebf38a14-c490-fd75-3c3f-31f5c6b9cf03/test-blob-0762c804-15ca-0b27-9505-d995cdfc7de7?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f15a340-101e-0051-1a53-81e86d000000\n",
        "Time:2024-03-28T21:06:21.8438921Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebf38a14-c490-fd75-3c3f-31f5c6b9cf03?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:06:19.6888967-07:00",
    "RandomSeed": "1516610934",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
