{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76d6d506-736a-5b3d-607b-a603c97fcc18?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869027A3DDB4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8a8f1a6-672b-5126-d27b-c6a07d143e67/test-blob-76ce3f74-1292-b616-68a8-672dc2304ee4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:26 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Lvw5Ddm/Is4ODk6rqk82M9A1hQ3Jj/r8vQYFu9IsG3uWiC2pg5PW7jnoJhv6vMk2kNE1/4GnBp8CPU/TuWb84fLSFCIijLA9X5bU4GjeAQA8zysB9xz57oGOp0ZDAjTT7EQpKKinFAMh+KDr0yU2IzxPl+o6+urV2SWgk+Rq+VxiAfMjtdlYlLsn4P58DhtbV4QJ9GtKmPJaU0+CBoAetv5DidIxEm5j9gIvExrrWcoKRDtgYAXxF2gByGGJ1Y46CCkAOIVIKkUVpv1oG4TXb/mEeMFEvlb4UnFpMEkM2SB09Arx6iBFwRr2SroIiPzjKVloBV3M9UrTB+YT3/n7Cczc9CZ65oTZPranTnOc8Ml0hQbwpNTDqP6/HuM6MuEh+0HtK5TVaUPVj8anJafXNxYcnlnzCmX4GUwnusi[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76d6d506-736a-5b3d-607b-a603c97fcc18/test-blob-6121511e-f306-c840-8ab2-77a8a957548d?sv=Sanitized&se=2024-06-08T01%3A21%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "quidNjeJlKY5BnX4J6kMtw==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869027CF680E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:28 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:21:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:28.1094433Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8a8f1a6-672b-5126-d27b-c6a07d143e67/test-blob-76ce3f74-1292-b616-68a8-672dc2304ee4?sv=Sanitized&se=2024-06-08T01%3A21%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-76d6d506-736a-5b3d-607b-a603c97fcc18/test-blob-6121511e-f306-c840-8ab2-77a8a957548d?sv=Sanitized&se=2024-06-08T01%3A21%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:620689d2-101e-009c-5079-b85b47000000\n",
        "Time:2024-06-07T01:21:28.3539219Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76d6d506-736a-5b3d-607b-a603c97fcc18?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:21:26.5310203-05:00",
    "RandomSeed": "1622881429",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
