{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1a9ffe62-658f-42c7-77a9-5a941f8ea687?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060FB18DED6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1a9ffe62-658f-42c7-77a9-5a941f8ea687/test-blob-b1aa757e-2340-c0f4-4167-aed1b086aabc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "fjYNkHFh11sZsd6gQ95KnIXCxGFYI0443x/D3s/8KzOmNmgDIdYHZrJVWJu+1NDr2LJEk2YXaVro1bFRnfiLHIWr+Q12R3uuu16uAsqyeQpO2AUduJfMj8wNG0sltci6yjwWEtvDdZE3ldcHaGaQNlumAsTybmTt3mpAaCwviQaV8ziOnGcvi2N05iO/xSdmfeTwf7IEyFvYKDNwggxlBwzRcnQuAZn0d3ZhfohALhlD2utHPwlTkSvctnQzvglWDt4X7lOyN3tK/Ac7okrTl/oaLachHsgCfuBJUUslwLhtCm+pKT/GkKJv/EICF+7gCB56GZBhNfAWFW9yaOUwJTtPzpjbKm66U5wEsSGFAGbxaEksq6cnC9R+khPQUye8P9cHsklWBd6wwMX0XIPOkRUIgQCcA3mTJ8LDXJd[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1a9ffe62-658f-42c7-77a9-5a941f8ea687/test-blob-b1aa757e-2340-c0f4-4167-aed1b086aabc?sv=Sanitized&se=2025-10-01T20%3A36%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "6Ym8OmVkxVwb+z+NFaeMGw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060FB2FD94A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:06 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:36:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c471cb77-d753-375c-3447-2d16debc3f27/test-blob-f4751b77-0729-6b47-a578-a5fafcd38b55?sv=Sanitized&se=2025-10-01T20%3A36%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1a9ffe62-658f-42c7-77a9-5a941f8ea687/test-blob-b1aa757e-2340-c0f4-4167-aed1b086aabc?sv=sanitized-value&se=2025-10-01T20%3A36%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060FB5C0EBF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:06 GMT",
        "x-ms-content-crc64": "zM7SqlYUe6U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1a9ffe62-658f-42c7-77a9-5a941f8ea687?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:36:06.4829120-07:00",
    "RandomSeed": "1892068712",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
