{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20e13d5d-ba5a-0e0b-0ad2-8a26007f0d0b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060FB9F6E9C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-478f40fa-e2a5-4c57-35df-d8c97553f6ac/test-blob-dd36769e-1f95-66dd-62d5-3b3ecec443d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+MaRyP3p5qyBNFgZ0dY9kl6lWuuM90svFv3u4ll3XDhcKUXxYD7ZNctSrmIBC9ttp1w9Ii4mmwB7YbEA+gNTCtcgvKiRSzIgzCUfOknoLgshgDv8OToJNo5Edf6N2TrI/6SL4U4z3FsqHVUJBmC3kzOl3nrHVtCdFoYZTNUzkvPqVzukXU287qPg0hzlAC8tjeLK5/rAAKnU7crIGZCF9othHq8lEjXm6fDW54OzuBZW7L/zaar5KlaS0G+C9NQTW9yRg+GACHqs4/4K6hklIDW0ci3Qko3gaPRYk0HGZPQbwoynIjQ01eNFRoWr7kA9bLA5zYGnQ8hPsBvsJ3Q45n8J7yeNfv0Bf5xJi0sHNHq0GyaRjJZzdH/DV3EZR65vDGAFov4Yr+6yOE7lXbd9R3ygOAtNp1nolnunySa[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20e13d5d-ba5a-0e0b-0ad2-8a26007f0d0b/test-blob-9cde54f4-0ad9-2773-c815-f53a15563b84?sv=Sanitized&se=2025-10-01T20%3A36%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "9o/5/VrVyKQHj6FRDDLwzA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060FBBE0BFE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:07 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:36:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-478f40fa-e2a5-4c57-35df-d8c97553f6ac/test-blob-dd36769e-1f95-66dd-62d5-3b3ecec443d1?sv=Sanitized&se=2025-10-01T20%3A36%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-20e13d5d-ba5a-0e0b-0ad2-8a26007f0d0b/test-blob-9cde54f4-0ad9-2773-c815-f53a15563b84?sv=sanitized-value&se=2025-10-01T20%3A36%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:203f1a56-601e-0063-6549-323d4f000000\n",
        "Time:2025-09-30T20:36:07.6325352Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20e13d5d-ba5a-0e0b-0ad2-8a26007f0d0b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:36:07.4150976-07:00",
    "RandomSeed": "953851874",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
