{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cbcbc378-1621-bf57-f2c2-c59c5c81d8ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86902724CD5A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cbcbc378-1621-bf57-f2c2-c59c5c81d8ec/test-blob-a64a2b32-4989-37c7-4527-22a328e2ed3e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Znl+9//7V3tpbcJFrZoFKPQdxWFAtkAW8PbSvf6lv3/8N6riQ/Di+DrtDsUp0ibLytePlaszmbA4ZwcIKZp8w61DSXbwI+UDOs0nU6d67R3PB/ImFirTyJ76qdzp2c+gcEsX5omw2qfyi1rdDEYIvXrpOSGnVa2Db4DY9nkIGmD+huJcYgaUHy1LNIrP9rtY8exi/6Ct+BuelHcI1+Qu6nH63oVjrFpzVRn0XCEitHnEgASNpRvAUI7Hvc6Pi0hIHEkZ1Rc29EWR76mHuZv5e9/9Q1ffoURVOY72nO6M5MrRqz/XCd9hjoy++7ZyOJbyzUHukUjwaHsFw5uJP1hWBQvftg5bIXIAnLTLIKWN4wH3A86snVKB4ELE0kVD2E80Z/ark4KIl6zP7vWTJUfVd+CZkTuJqme4XdbLl04[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cbcbc378-1621-bf57-f2c2-c59c5c81d8ec/test-blob-a64a2b32-4989-37c7-4527-22a328e2ed3e?sv=Sanitized&se=2024-06-08T01%3A21%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "cAgl/SJQtR8dezs8yWLftg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869027429D58\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:27 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:21:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:21:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:27.1857496Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a7727911-d7eb-25c1-1d90-f4ca662ef9ee/test-blob-3788af0a-ad17-df5c-434e-fa14f90bfa6a?sv=Sanitized&se=2024-06-08T01%3A21%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-cbcbc378-1621-bf57-f2c2-c59c5c81d8ec/test-blob-a64a2b32-4989-37c7-4527-22a328e2ed3e?sv=Sanitized&se=2024-06-08T01%3A21%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690276675FC\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:21:27 GMT",
        "x-ms-content-crc64": "NVEdiwONy4o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:21:27.4206716Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cbcbc378-1621-bf57-f2c2-c59c5c81d8ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:21:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:21:25.6032002-05:00",
    "RandomSeed": "418784605",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
