{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0aed8-b208-f402-9d14-eba50268dc47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3697CB17E\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6aaead00-5c29-7b48-52ea-042bb6d988a6/test-blob-48e98f1d-c9b1-885c-ee08-84d6bc8bcb8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Tedd02lxO/9\u002BYrN5W58Z1rZxFqRZh8SXVmL18pzbB6rtjhEo3Wao6MiYPTA3O\u002Bfa09YlU7oBPcUixnwHfEljolsJi8yN8flPyC7cwUmUYBt6Gh7GtrPv61FLBRfqoWx\u002BNJrVLbAaTOLc1YqLJXt7jWVhjGEqnOynGZ97QeviZSfCXY2vvzJrX8086uApZMbW0HixiBQKVJeuLhQQnwv2\u002BXBjycjuzM4z9iyT7bILfrXZpXFzMdwStwj1AJAeWsDCRvBwxZr\u002B6AOpfpLnd2blo7BeN/mag8eTUBK/\u002BMw9FJtr0afBmrgb271tybNKKkCiEF3gvyPHKMIo3XSIPu83a2n2e6a\u002BIwj3Q1s8LLkUSCbSHehvXFR4pKjkmb1Dk5zNNl1J[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0aed8-b208-f402-9d14-eba50268dc47/test-blob-a1f5d44e-7ae2-5d2b-b927-041f951e9904?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "LC9xpGHEK4aSc/BO/7lSrA==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D36999F7E0\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:27:01 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:27:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:27:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:27:01.2809696Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6aaead00-5c29-7b48-52ea-042bb6d988a6/test-blob-48e98f1d-c9b1-885c-ee08-84d6bc8bcb8a?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-04b0aed8-b208-f402-9d14-eba50268dc47/test-blob-a1f5d44e-7ae2-5d2b-b927-041f951e9904?sv=2024-05-04\u0026se=2024-04-10T20%3A27%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:ef4a6b22-b01e-0048-18bc-8a68d6000000\n",
        "Time:2024-04-09T20:27:01.4515206Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0aed8-b208-f402-9d14-eba50268dc47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:27:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:27:00.8401640-07:00",
    "RandomSeed": "1223623831",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
