{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af870cc5-70fb-4cc1-a070-79ffa42e80e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E003ED7A4\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af870cc5-70fb-4cc1-a070-79ffa42e80e6/test-blob-97830bdc-e5fa-05d1-30aa-d474f82d325f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eGeM1Vjzeja4UGRaBZ7iL21iBPrSaBqPHQgbn9gWtJ+c4JuU3e33fFc4y2EMP7A4O5KiXQKQbBBM/bdP2NtdopzEviQCTVKAa4iimpy4gt5Y4mRFc1edDHSLSN82p6N82inFSIGLNu1AIvJ57dFzk3vZ9/V2Fy9FJrGwdgVyScPkJcBz8zpdzKx2BVBkIx6jGLVkXK+tBsP6fyHP2r/ozdgvlccR/59BfCpJ/xLe4AKTDV5PDuwTNh/8eXMYjfLsjjd3NY5XkhgVIuCFZAaxG58fPM1gmL7rG16nFIYrKO44XHDaZqp0PHtGOesMjtIZS13U+FEki/Z4jBovr32S6vryTAeV1rX0q/9SGl7S342MjsgoVi+cFNB6YdqQRIz9tE/xGkHLhHSo4E1R0nGYpqyMoiC1aZPKVTg2GnX[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af870cc5-70fb-4cc1-a070-79ffa42e80e6/test-blob-97830bdc-e5fa-05d1-30aa-d474f82d325f?sv=2024-08-04&se=2024-05-02T20%3A33%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "6pMG/rD5M8S5DazIujgriQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E005D8120\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:46.7458848Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9e05f162-4bca-aa1f-f08a-3d1b7a5a0b98/test-blob-6a1d04db-ba56-3c95-bdc9-72a42a244e48?sv=2024-08-04&se=2024-05-02T20%3A33%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-af870cc5-70fb-4cc1-a070-79ffa42e80e6/test-blob-97830bdc-e5fa-05d1-30aa-d474f82d325f?sv=2024-08-04&se=2024-05-02T20%3A33%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E008241CA\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-content-crc64": "BHYOcTEjetQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:46.9867466Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af870cc5-70fb-4cc1-a070-79ffa42e80e6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:33:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:33:46.4537789-07:00",
    "RandomSeed": "1130600597",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
