{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9f7502f4-b02b-dc20-512a-3717b6794fae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:55:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0F3D77BED\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:55:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9f7502f4-b02b-dc20-512a-3717b6794fae/test-blob-a9338c91-71c8-4f2a-358c-e38aa88c6da4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:55:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "YgM0KJb1YjOZ3GqNon2k1Y\u002Bq9G\u002BlmVupP9V/hcr7XFIJyK84quNu6DFOCHY12\u002BW4RECXM\u002BMK8smoi\u002BjAdt1onX8Xg9nNayusPAw\u002BVpHldGPvxkGJZChv/tblkB/6rXJT5mr2HVcL6tgV6/fWzJw4wheF0bCb3zlXqIUD6NoLsY6Z6m8m71YL5Ntoc3gwmDI6rc4HdNzCuAcxn3XSCAL\u002BCjloPOEsEdPAeu3UMmvAJg9SyToMBD2y1zFo9VDhONvZamk\u002ByFtRDZz6Rvrv7YabcHhlgD/I8gX8tWWvwxuD30ER\u002B8gBgV6zALueEb1Cw\u[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9f7502f4-b02b-dc20-512a-3717b6794fae/test-blob-a9338c91-71c8-4f2a-358c-e38aa88c6da4?sv=2024-05-04\u0026se=2024-03-28T22%3A55%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WbiMGA9qQb8qAxHwhZsGag==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB0F3FA835D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:55:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:55:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:55:09.4259549Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-76e092a2-879f-aafb-9994-c872823e097f/test-blob-d8694033-c9fe-cc8d-147c-c1e2ef9f24cb?sv=2024-05-04\u0026se=2024-03-28T22%3A55%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9f7502f4-b02b-dc20-512a-3717b6794fae/test-blob-a9338c91-71c8-4f2a-358c-e38aa88c6da4?sv=2024-05-04\u0026se=2024-03-28T22%3A55%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB0F42250ED\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:55:09 GMT",
        "x-ms-content-crc64": "wcRwk36n0OI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:55:09.6868077Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9f7502f4-b02b-dc20-512a-3717b6794fae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:55:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:55:07.9448637-07:00",
    "RandomSeed": "680904612",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
