{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-993e07c8-7286-da5f-60ee-7f0cc71dd80b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:33:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E0308F8BA\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b79f27df-e013-0a40-fdae-ad5900b9d13a/test-blob-9d06f336-eff2-a8b3-68a8-cc55bf7c7c65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:33:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "22A/bvLXEBbg7Mfs8aze49yxtp+nmG19bLYco2P5dz7ODWw9DwjWIHgTRnRSIcdT7YM+rdqsY0PywQI8u22y5nSIHeRAoNTT2pYmlFH4K0ruybXgu8pkIqkoSk0FmmQLYF8AyQTjEkyuatJDhc7x+pa3TfK30SuqJPs6F1WGzUAxGzPy+GFGC7ZoMlH3IJzbN1C3TkxyU480VaQJqPr3KJySEmma/wE0cUI7Tp/aswReX+AEz3/zvsekvqO8PWK7cQm0ZQ4zQDhPgtwKNwXwWaKgqkka8lkcnlOi9kFdeDTff9yVJU72Kx6ntUyi6YfCtGQAHJIZoH6wmMa6kEr38QqoK7coWjRUqn8qcz0MebXL4ELcXVuixd9e5YyHO5rUsMNC+r3QmVkvrHIS7y1Box4Q7rAIGpSuBmXYynW[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-993e07c8-7286-da5f-60ee-7f0cc71dd80b/test-blob-2db65fde-b047-925b-3b92-10bc0872e619?sv=2024-08-04&se=2024-05-02T20%3A33%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "rPyZsyub0mhBWzxQBhorlQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E03364DE6\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:51 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:33:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:51.5221478Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b79f27df-e013-0a40-fdae-ad5900b9d13a/test-blob-9d06f336-eff2-a8b3-68a8-cc55bf7c7c65?sv=2024-08-04&se=2024-05-02T20%3A33%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-993e07c8-7286-da5f-60ee-7f0cc71dd80b/test-blob-2db65fde-b047-925b-3b92-10bc0872e619?sv=2024-08-04&se=2024-05-02T20%3A33%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:66797b7f-201e-0090-0e06-9cabec000000\n",
        "Time:2024-05-01T20:33:51.7683278Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-993e07c8-7286-da5f-60ee-7f0cc71dd80b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:33:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:33:51.2309419-07:00",
    "RandomSeed": "826516208",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
