{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f39c33e2-123d-532a-04dc-becae26d0ab2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00610A84331C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-14d93221-8872-01e8-93ed-56fb56b9beec/test-blob-6bfccb18-5a6b-6dae-6bfa-bc4a156b229b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:32 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "84Z32GE5lTE+Bx9FISVun2RNFQlqJIYCRdrk2PSXhYUnsaYQKdAxjvYD1EM3mmPRm0KptQJ9vM//dZKHVLw9p4GZHm9+XXaTG4cTZ1BDy6t2Ej2y7dCDqfXXELQ+qTo5xi3BnXzzUz3MFpp7alR/vKnnEEF/irqxFnV6p03BVHFM2aEjgS0vgr//5tY1Bz6hV1QKV5n4uTtyD4cGeazwCsEoLpGyXDp8uI2CgKTjew432E/4tv3YVB9msHKlKAgTDtsUDdit7/sZjp8LdjmWj5N4z6Fc91TET9pxTKzI1o+EbnHJzm42iulT3ihezd3mzyDeLVlnthaGUL3+O6NPUbcPhgfIzcAlQkW3CBksZYL8i3yL6ak2HbhaQn6wOE5GBI1wTkbWHQFgueoTr639Wuo7AbAmw2gO2WlPbYt[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f39c33e2-123d-532a-04dc-becae26d0ab2/test-blob-fe7f49b4-e774-db74-193e-5ce8e629560d?sv=Sanitized&se=2025-10-01T20%3A36%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "EGhjLtPj460u8ZyJ40Kcrg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00610AA4A2FB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:32 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:36:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-14d93221-8872-01e8-93ed-56fb56b9beec/test-blob-6bfccb18-5a6b-6dae-6bfa-bc4a156b229b?sv=Sanitized&se=2025-10-01T20%3A36%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-f39c33e2-123d-532a-04dc-becae26d0ab2/test-blob-fe7f49b4-e774-db74-193e-5ce8e629560d?sv=sanitized-value&se=2025-10-01T20%3A36%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:203f51fa-601e-0063-6949-323d4f000000\n",
        "Time:2025-09-30T20:36:32.6378857Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f39c33e2-123d-532a-04dc-becae26d0ab2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:36:32.4124340-07:00",
    "RandomSeed": "936306596",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
