{
  "Entries": [
    {
      "RequestUri": "https://fakesoftdeleteaccountname.file.core.windows.net/share176833137900502076?restype=share&comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-deleted-share-name": "share176833137900502076",
        "x-ms-deleted-share-version": "01D60F8BB59A4652",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\n",
        "RequestId:e7d33e4c-d01a-0014-05c0-8405ab000000\n",
        "Time:2026-01-13T19:09:43.7815113Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "share": "share176833137900502076"
  }
}
