{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Marketplace/products?api-version=2025-05-01&$orderby=displayName%20asc&storefront=any",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-08-01-beta, 2021-06-01, 2021-10-01, 2022-07-31, 2023-01-01-preview, 2023-01-01, 2023-05-01-preview, 2025-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "hasRiPlans": false,
            "plans": [
              {
                "hasRi": false,
                "leadGeneration": {
                  "leadGenId": "dynamicsedge.az-200-bundle-preview"
                },
                "planId": "f791e80e-f482-416a-b9b8-a16d230eed2d",
                "uniquePlanId": "dynamicsedge.az-200-bundle-previewf791e80e-f482-416a-b9b8-a16d230eed2d",
                "displayName": " Azure Develop Core Cloud Solution: 4-day Workshop",
                "metadata": {
                  "generation": null,
                  "altStackReference": null
                },
                "categoryIds": [],
                "pricingTypes": [],
                "summary": "<p>Azure Certification Bundle Exam AZ-201 has the following courses in a three day week, see below:</p>\n<p><strong>DE 20101 AZ-201T01, DE 20102 AZ-201T02, DE 20103 AZ-201T03</strong></p>\n",
                "description": "<h3><strong>About this Course</strong></h3>\n<p>This course will prepare you for the newly launched Microsoft’s Azure Developer certification exam: AZ-203 which is a combination of AZ-200: Microsoft Azure Developer Core Solutions and AZ-201: Microsoft Azure Developer Advanced Solutions. The coursewares cover Azure architecture, Azure technology development solutions, Azure storage services and solutions, Azure Cognitive Services such as Computer Vision, QnA Maker, and natural language processing, Azure service solutions, security solutions, API management services, and much more.</p>\n<h3><strong>At course completion</strong></h3>\n<p><strong>After completing this course, students will be able to:</strong></p>\n<ul>\n<li><p>Learn common Azure application design and connectivity patterns</p>\n</li>\n<li><p>Measuring and planning throughput, and data access structure</p>\n</li>\n<li><p>Learn about Azure networking topologies</p>\n</li>\n<li><p>Create an Azure app service web app by using Azure CLI, Powershell, and other tools</p>\n</li>\n<li><p>Create documentation for the API by using open source and other tools and more</p>\n</li>\n</ul>\n<h3><strong>Course Outline</strong></h3>\n<p><strong>Day 1</strong></p>\n<ul>\n<li><p>Module 1: Develop for asynchronous processing</p>\n</li>\n<li><p>Module 2: Develop for autoscaling</p>\n</li>\n<li><p>Module 3: Develop long-running tasks</p>\n</li>\n<li><p>Module 4: Implement distributed transactions</p>\n</li>\n</ul>\n<p><strong>Day 2</strong></p>\n<ul>\n<li><p>Module 1: Enable the search of textual content</p>\n</li>\n<li><p>Module 2: Instrument an app or service and implement logging</p>\n</li>\n<li><p>Module 3: Manage APIs by using API Management</p>\n</li>\n<li><p>Module 4: Configure a message-based integration architecture</p>\n</li>\n</ul>\n<p><strong>Day 3</strong></p>\n<ul>\n<li><p>Module 1: Develop an application message model</p>\n</li>\n<li><p>Module 2: Develop Azure Cognitive Services solutions</p>\n</li>\n</ul>\n<p><strong>Day 4</strong></p>\n<ul>\n<li><p>Module 4: Create and intergrate bots</p>\n</li>\n<li><p>Module 5: Create and implement IoT solutions</p>\n</li>\n<li><p>Workshop Summary and LABS</p>\n</li>\n</ul>\n",
                "skuId": "0001",
                "planType": "ConsultingServices",
                "isPrivate": false
              }
            ],
            "offerId": "az-200-bundle-preview",
            "leadGeneration": {
              "leadGenId": null
            },
            "displayName": " Azure Develop Core Cloud Solution: 4-day Workshop",
            "popularity": 1.0,
            "categoryIds": [
              "app-modernization",
              "data-platform",
              "dev-ops",
              "azureCertified",
              "fromPublishingPortal",
              "consulting-service"
            ],
            "industryIds": [
              "ArchitectureEngineering",
              "Education",
              "FinancialServices",
              "MediaandEntertainment",
              "ProfessionalServices",
              "Telecommunications"
            ],
            "publisherId": "dynamicsedge",
            "azureBenefit": "NotEligible",
            "publisherType": "ThirdParty",
            "publishingStage": "Preview",
            "uniqueProductId": "dynamicsedge.az-200-bundle-preview",
            "productType": "ConsultingServices",
            "productSubType": "Azure",
            "productFamily": "Azure",
            "pricingTypes": [],
            "publisherDisplayName": "Dynamics Edge",
            "summary": "<p>Azure Certification Bundle Exam AZ-201 has the following courses in a three day week, see below:</p>\n<p><strong>DE 20101 AZ-201T01, DE 20102 AZ-201T02, DE 20103 AZ-201T03</strong></p>\n",
            "linkedAddIns": [],
            "smallIconUri": "https://store-images.s-microsoft.com/image/apps.37029.f791e80e-f482-416a-b9b8-a16d230eed2d.528c35e1-661a-4ff6-a558-b4730cda8ddd.04cf0997-d300-48ef-bca5-7f5c22e82941",
            "description": "<h3><strong>About this Course</strong></h3>\n<p>This course will prepare you for the newly launched Microsoft’s Azure Developer certification exam: AZ-203 which is a combination of AZ-200: Microsoft Azure Developer Core Solutions and AZ-201: Microsoft Azure Developer Advanced Solutions. The coursewares[...]
