{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Marketplace/products?api-version=2023-01-01-preview&$filter=publisherDisplayName%20eq%20%27Microsoft%27&storefront=any",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-08-01-beta, 2021-06-01, 2021-10-01, 2022-07-31, 2023-01-01-preview, 2023-01-01, 2023-05-01-preview, 2025-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "items": [
          {
            "displayName": "API Management",
            "popularity": 1.0,
            "categoryIds": [
              "integration",
              "compute-azure-apps",
              "generative-ai"
            ],
            "publisherId": "Microsoft",
            "azureBenefit": "Eligible",
            "publisherType": "Microsoft",
            "publishingStage": "Public",
            "uniqueProductId": "Microsoft.ApiManagement",
            "productType": "None",
            "publisherDisplayName": "Microsoft",
            "longSummary": "Deploy highly-available, infinitely-scalable applications and APIs.",
            "summary": "Publish APIs hosted anywhere, secure and protect against abuse, gain insights into usage and health.",
            "smallIconUri": "https://catalogartifact.azureedge.net/publicartifacts/Microsoft.ApiManagement-1.1122.1/Icons/Small.png",
            "mediumIconUri": "https://catalogartifact.azureedge.net/publicartifacts/Microsoft.ApiManagement-1.1122.1/Icons/Medium.png",
            "description": "<p>Create an API gateway and developer portal in minutes.</p><p>Turnkey solution for publishing APIs to external and internal consumers. Quickly create consistent and modern API gateways for existing backend services hosted anywhere.</p><ul>\n<li>Provide API documentation and an interactive console</li>\n<li>Throttle, rate limit and quota your APIs</li>\n<li>Monitor health of your APIs and quickly identify errors</li>\n<li>Bring modern formats like JSON and REST to existing APIs</li>\n<li>Connect to APIs hosted anywhere on the Internet or on-premises and publish globally</li>\n<li>Gain analytic insights on how your APIs are being used</li>\n<li>Manage your service via the Azure portal, REST API, PowerShell, or Git repository</li></ul>",
            "ratingBuckets": [
              "AboveOne",
              "AboveTwo",
              "AboveThree"
            ],
            "ratingAverage": 3.911,
            "ratingCount": 225,
            "plans": [
              {
                "planId": "ApiManagement",
                "uniquePlanId": "Microsoft.ApiManagement",
                "displayName": "API Management",
                "metadata": {
                  "generation": null,
                  "altStackReference": null
                },
                "categoryIds": [
                  "integration",
                  "compute-azure-apps",
                  "generative-ai"
                ],
                "summary": "Publish APIs hosted anywhere, secure and protect against abuse, gain insights into usage and health.",
                "description": "<p>Create an API gateway and developer portal in minutes.</p><p>Turnkey solution for publishing APIs to external and internal consumers. Quickly create consistent and modern API gateways for existing backend services hosted anywhere.</p><ul>\n<li>Provide API documentation and an interactive console</li>\n<li>Throttle, rate limit and quota your APIs</li>\n<li>Monitor health of your APIs and quickly identify errors</li>\n<li>Bring modern formats like JSON and REST to existing APIs</li>\n<li>Connect to APIs hosted anywhere on the Internet or on-premises and publish globally</li>\n<li>Gain analytic insights on how your APIs are being used</li>\n<li>Manage your service via the Azure portal, REST API, PowerShell, or Git repository</li></ul>",
                "skuId": "ApiManagement",
                "planType": "None",
                "isPrivate": false
              }
            ],
            "lastModifiedDateTime": "2025-03-18T23:45:31.7588123+00:00"
          },
          {
            "displayName": "Azure Key Vault Secrets Provider (preview)",
            "popularity": 7.729569120865367,
            "categoryIds": [
              "containerservice-extension-connectedclusters",
              "hideFromSearch"
            ],
            "publisherId": "Microsoft",
            "azureBenefit": "NotEligible",
            "publisherType": "Microsoft",
            "publishingStage": "Preview",
            "uni[...]
