{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-830e942a-9f17-f045-6205-fd5aa02dc52c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:07:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22AC2F5EB3\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2828214c-ff98-c21e-a561-35f62a5e4c6a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:07:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22AC3FBA8B\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2828214c-ff98-c21e-a561-35f62a5e4c6a/test-blob-3cec31d8-dcc1-a922-41d5-a0042ae6f6d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 21:07:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22AC4DE208\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:07:13.1985416Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2828214c-ff98-c21e-a561-35f62a5e4c6a/test-blob-3cec31d8-dcc1-a922-41d5-a0042ae6f6d4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 21:07:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "QObT+9IhgN8hRFHq/KZlb7p8s85iiE7RzwhSPI9afgq0/QzWOJm2V9IoGnJP1Ek3wkTj2yBNereYASvJz0RQx8VGNv6ZjjchxVz7OW3bgvu/G3lLdqLpZoJVPTZu7IeO2FOsCJ5KnTMMwhbEUUFJvH4vCrTKBVEjXM97RFAAstjUbWEaL3pddH5GPrOMJRRBDIC4PuLTxNMBiavOzljiCw898OTfLo0E0pY2g8aelze6OTjQSHT2AKiOGKbOjqUlYzKjTjUwYt3ys2tLnUAMY/F0E5QgEsObRu87URXnNUPwESCT+kgBitda3ZQIqmNogbS0WXsQBFFvCAhG9BDHC34oW4sgeGmpc4i9xTUukpuL09BgM9zI4AzOJPJAu5bHk9EW4E/XSAhLC+byUz8cQHVsuiFAZte[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-830e942a-9f17-f045-6205-fd5aa02dc52c/test-blob-fb972265-30e3-27a7-3c64-4f8fc19cd4cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22AC6B267A\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:07:13.3903482Z",
        "x-ms-file-creation-time": "2024-05-01T21:07:13.3903482Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:07:13.3903482Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-830e942a-9f17-f045-6205-fd5aa02dc52c/test-blob-fb972265-30e3-27a7-3c64-4f8fc19cd4cc?sv=2024-08-04&se=2024-05-02T21%3A07%3A13Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22AC6B267A\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:07:13.3903482Z",
        "x-ms-file-creation-time": "2024-05-01T21:07:13.3903482Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:07:13.3903482Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2828214c-ff98-c21e-a561-35f62a5e4c6a/test-blob-3cec31d8-dcc1-a922-41d5-a0042ae6f6d4?sv=2024-08-04&se=2024-05-02T21%3A07%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:40865459-201e-0080-0b0b-9c6e84000000\n",
        "Time:2024-05-01T21:07:13.7185099Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2828214c-ff98-c21e-a561-35f62a5e4c6a/test-blob-3cec31d8-dcc1-a922-41d5-a0042ae6f6d4?sv=2024-08-04&se=2024-05-02T21%3A07%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22AC5B9BA4\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:07:13.1985416Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2828214c-ff98-c21e-a561-35f62a5e4c6a/test-blob-3cec31d8-dcc1-a922-41d5-a0042ae6f6d4?sv=2024-08-04&se=2024-05-02T21%3A07%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A22AC5B9BA4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22AC5B9BA4\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:07:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-830e942a-9f17-f045-6205-fd5aa02dc52c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:07:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:07:13.0925447-07:00",
    "RandomSeed": "1977852136",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
