{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-70632cfa-0c72-0e31-4839-08b0b500fcab?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:05:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DF032FC44\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-052f4b0a-4474-98fb-bdeb-6e3712ae4114?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:05:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DF0400669\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-70632cfa-0c72-0e31-4839-08b0b500fcab/test-blob-508ec4ab-055e-4947-2c0d-45312c050e70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Fri, 07 Jun 2024 01:05:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DF04F5FF8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-creation-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-70632cfa-0c72-0e31-4839-08b0b500fcab/test-blob-508ec4ab-055e-4947-2c0d-45312c050e70?sv=Sanitized&se=2024-06-08T01%3A05%3A34Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DF04F5FF8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-creation-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-052f4b0a-4474-98fb-bdeb-6e3712ae4114/test-blob-8709d4a1-c035-f30f-29a5-52e7427cdbb4?sv=Sanitized&se=2024-06-08T01%3A05%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DF075CBF3\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:05:36.2530291Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-052f4b0a-4474-98fb-bdeb-6e3712ae4114/test-blob-8709d4a1-c035-f30f-29a5-52e7427cdbb4?sv=Sanitized&se=2024-06-08T01%3A05%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-70632cfa-0c72-0e31-4839-08b0b500fcab/test-blob-508ec4ab-055e-4947-2c0d-45312c050e70?sv=Sanitized&se=2024-06-08T01%3A05%3A34Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DF087A4BD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "E1xsWVuyFpc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-052f4b0a-4474-98fb-bdeb-6e3712ae4114/test-blob-8709d4a1-c035-f30f-29a5-52e7427cdbb4?sv=Sanitized&se=2024-06-08T01%3A05%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DF087A4BD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:05:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:05:36.2530291Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-70632cfa-0c72-0e31-4839-08b0b500fcab/test-blob-508ec4ab-055e-4947-2c0d-45312c050e70?sv=Sanitized&se=2024-06-08T01%3A05%3A34Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DF04F5FF8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-creation-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:05:36.0012280Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-052f4b0a-4474-98fb-bdeb-6e3712ae4114/test-blob-8709d4a1-c035-f30f-29a5-52e7427cdbb4?sv=Sanitized&se=2024-06-08T01%3A05%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868DF087A4BD\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DF087A4BD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-70632cfa-0c72-0e31-4839-08b0b500fcab?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:05:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:05:34.5050343-05:00",
    "RandomSeed": "720859062",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
