{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9d546e78-8041-6313-04ea-cbfda56895b3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:13 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE793241D61AF\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:15 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-549d4a73-4e13-240f-149f-835f0149d306?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:13 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7932430A608\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:15 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-549d4a73-4e13-240f-149f-835f0149d306/test-blob-0bef0323-9a7c-d0f1-b0f0-b1f12261db3f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:14 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79324427F84\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:32:15.7603716Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-549d4a73-4e13-240f-149f-835f0149d306/test-blob-0bef0323-9a7c-d0f1-b0f0-b1f12261db3f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "7wWHqp2ydYdXT6PYtzRaGUBwGDR1POu4R7bPjloONnIBqqXDR9mqdLYSWb9\u002BcjYD86lxtL64zLMZz2Pm4\u002BctSBgw1w2Pl9JmxqN\u002BYuIsOtR/zJqxnIG0Sd7xqXh2w5HO5RCmTZspc1zXCu0aOWnR7ZWOZxZNe6yXfI0vnu1Z8AMSr3zRhuw5VVg\u002B2pKUmQ90H7zj51x6gWpkDtAN\u002BtVufRrqCIrsAGaoVRG\u002BDqEZA\u002BN\u002Bun4xdgimly4SbHccK1qD0Fx3qZGFhx9WOpJKvHLJSgvtjkBXPAcRQ3Bb2pPujCm2Oj5EollR\u002BTNe2zt1W9q7SCFrL5waLJNVZWUhKayLZ65plIE0haiym5UN\u002BGHLnOeVo[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9d546e78-8041-6313-04ea-cbfda56895b3/test-blob-ed11e92d-05e4-ffc8-65ab-509ef0c9f708",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7932465D8B6\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-creation-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9d546e78-8041-6313-04ea-cbfda56895b3/test-blob-ed11e92d-05e4-ffc8-65ab-509ef0c9f708?sv=2025-04-05\u0026se=2023-11-18T17%3A32%3A14Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7932465D8B6\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-creation-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-549d4a73-4e13-240f-149f-835f0149d306/test-blob-0bef0323-9a7c-d0f1-b0f0-b1f12261db3f?sv=2025-04-05\u0026se=2023-11-18T17%3A32%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7932494D938\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:32:16.3010632Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-549d4a73-4e13-240f-149f-835f0149d306/test-blob-0bef0323-9a7c-d0f1-b0f0-b1f12261db3f?sv=2025-04-05\u0026se=2023-11-18T17%3A32%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-9d546e78-8041-6313-04ea-cbfda56895b3/test-blob-ed11e92d-05e4-ffc8-65ab-509ef0c9f708?sv=2025-04-05\u0026se=2023-11-18T17%3A32%3A14Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79324B5F0F6\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-549d4a73-4e13-240f-149f-835f0149d306/test-blob-0bef0323-9a7c-d0f1-b0f0-b1f12261db3f?sv=2025-04-05\u0026se=2023-11-18T17%3A32%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79324B5F0F6\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:32:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:32:16.3010632Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9d546e78-8041-6313-04ea-cbfda56895b3/test-blob-ed11e92d-05e4-ffc8-65ab-509ef0c9f708?sv=2025-04-05\u0026se=2023-11-18T17%3A32%3A14Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7932465D8B6\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-creation-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:32:15.9920310Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-549d4a73-4e13-240f-149f-835f0149d306/test-blob-0bef0323-9a7c-d0f1-b0f0-b1f12261db3f?sv=2025-04-05\u0026se=2023-11-18T17%3A32%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE79324B5F0F6\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79324B5F0F6\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-c[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9d546e78-8041-6313-04ea-cbfda56895b3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:32:14.3121702-08:00",
    "RandomSeed": "1777820550",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
