{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4175b015-fd77-9fd7-d747-7acaf2baa3c6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BF11FA0B1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-66e5f303-327d-6b1f-8f35-879699acdc7e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BF12C5C56\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4175b015-fd77-9fd7-d747-7acaf2baa3c6/test-blob-46bddcab-2614-ab6d-6c39-2fea989a1dc1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BF1380D80\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-creation-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4175b015-fd77-9fd7-d747-7acaf2baa3c6/test-blob-46bddcab-2614-ab6d-6c39-2fea989a1dc1?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BF1380D80\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-creation-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-66e5f303-327d-6b1f-8f35-879699acdc7e/test-blob-f044fe05-0c84-480a-949e-fe4c9c7c5166?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BF15C1429\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:13:40.9206313Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-66e5f303-327d-6b1f-8f35-879699acdc7e/test-blob-f044fe05-0c84-480a-949e-fe4c9c7c5166?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-4175b015-fd77-9fd7-d747-7acaf2baa3c6/test-blob-46bddcab-2614-ab6d-6c39-2fea989a1dc1?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BF1670F10\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-66e5f303-327d-6b1f-8f35-879699acdc7e/test-blob-f044fe05-0c84-480a-949e-fe4c9c7c5166?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BF1670F10\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:13:40.9206313Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4175b015-fd77-9fd7-d747-7acaf2baa3c6/test-blob-46bddcab-2614-ab6d-6c39-2fea989a1dc1?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BF1380D80\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-creation-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:13:40.6845312Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-66e5f303-327d-6b1f-8f35-879699acdc7e/test-blob-f044fe05-0c84-480a-949e-fe4c9c7c5166?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6BF1670F10\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BF1670F10\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-c[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4175b015-fd77-9fd7-d747-7acaf2baa3c6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:13:38.9264161-07:00",
    "RandomSeed": "1110466315",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
