{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b330bf2f-ae93-ccef-fb94-22b9a2b25fe9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22A7236339\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6d936a8f-9318-363e-0051-9cc04c336b03?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22A7346939\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6d936a8f-9318-363e-0051-9cc04c336b03/test-blob-7229c5a4-7406-a69f-22bc-7a2366ae6d75",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22A7428231\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:07:04.7353905Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6d936a8f-9318-363e-0051-9cc04c336b03/test-blob-7229c5a4-7406-a69f-22bc-7a2366ae6d75?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "EA7MOzfLvPvz9Mg86Rff1sKoZNqUOM0BvrlLta9uS66jpmEtA+bm9tFMkGRIoFBzkP4BGEFytNdAy3x9fwZMhagZmUK1stLcwW4JSKdpuB5p1yWwbDNsMPKK7DdpaXbLAAu7LwcNvt0rJVbTaWwv1xNeFKfgmxh1rGhQKsWbclj4PkecrogXWxlHhUbcmceFWhUkC1XO6mTyRYKevJMYkLP+2yokkyiKR7iOmBbRmROhy9Cwd2YDKVPjqWgFeJ6GL/ST3b2cYMfsmcOcQFJOIKxv/fHDZxlM+7LXQem/hc4aB2ghPrtVBGoIw96iZugBlIi8lnusw8fbRuILxR/dLRT1gTjpLeLwGfiHuqQ6qZTJ1a1hAu5TbUSgRffZST9KK5bKreSwF2amzHyCJQgjoJ1OQu9xfCo[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b330bf2f-ae93-ccef-fb94-22b9a2b25fe9/test-blob-9cb0e7a8-4c4e-2cb8-460e-fdbda86828d8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22A760232D\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:07:04.9295661Z",
        "x-ms-file-creation-time": "2024-05-01T21:07:04.9295661Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:07:04.9295661Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b330bf2f-ae93-ccef-fb94-22b9a2b25fe9/test-blob-9cb0e7a8-4c4e-2cb8-460e-fdbda86828d8?sv=2024-08-04&se=2024-05-02T21%3A07%3A04Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22A760232D\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:07:04.9295661Z",
        "x-ms-file-creation-time": "2024-05-01T21:07:04.9295661Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:07:04.9295661Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6d936a8f-9318-363e-0051-9cc04c336b03/test-blob-7229c5a4-7406-a69f-22bc-7a2366ae6d75?sv=2024-08-04&se=2024-05-02T21%3A07%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:40862db2-201e-0080-340b-9c6e84000000\n",
        "Time:2024-05-01T21:07:05.2514971Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b330bf2f-ae93-ccef-fb94-22b9a2b25fe9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:07:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:07:04.6286014-07:00",
    "RandomSeed": "1779308536",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
