{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-63aba697-d9a3-3166-dab2-7438025a2063?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:49:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC7AC90379E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:49:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-16c6ac65-1e34-aba7-941c-8c71661a002e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:49:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC7AC986674\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:49:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-16c6ac65-1e34-aba7-941c-8c71661a002e/test-blob-7557c766-7d33-fb48-3ad6-c50e87892d08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:49:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC7ACA1BFE9\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:49:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:49:16.5218793Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-16c6ac65-1e34-aba7-941c-8c71661a002e/test-blob-7557c766-7d33-fb48-3ad6-c50e87892d08?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:49:17 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "s0Wh6F869gFNiM9mDsYwL7N5LxtBfoPPCOBXpT8mGIDIunZjPhwyXLwIckImU2/8dyXgNKmyCDTC0uB+4lHBJm9PnlNPzfCXR9JeOAxAqLRxWy0ZRuPWFrJBoGs8tHpqRkvS17UbrKo0SO3WU88ogSorDYcjqOCMeIehDiyEW5JY9PHAbtD/Va6D5P31/8LiGB9BEKbzR55qRl4tep59r+1afl/eZxNZLLjYoMPjlnjFvvUNQ0rsZKxTVSdx0doPBTQPmoFiBLEL5+TuGqbbh7DlaLuocGyjbhmyihLr51rdyJqO0/v3YrpEAVtl/UoFeM53jGgeZpXIbCxnsHmeIP+KEVEMTLO07QYBZG4QPXDPrBJEdFvxvmIExWbPkLJApeFb2+z4+Ssawp5iHQInuC+7lwNnWqu[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-63aba697-d9a3-3166-dab2-7438025a2063/test-blob-9b3d1ce1-071a-dba3-4481-c1d6b5830b0b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:49:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC7ACB4A282\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:49:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-63aba697-d9a3-3166-dab2-7438025a2063/test-blob-9b3d1ce1-071a-dba3-4481-c1d6b5830b0b?sv=Sanitized&se=2024-07-03T18%3A49%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC7ACB4A282\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:49:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-16c6ac65-1e34-aba7-941c-8c71661a002e/test-blob-7557c766-7d33-fb48-3ad6-c50e87892d08?sv=Sanitized&se=2024-07-03T18%3A49%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US,en-CA",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:13afd423-001e-002f-63b0-cc782a000000\n",
        "Time:2024-07-02T18:49:16.8339730Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-63aba697-d9a3-3166-dab2-7438025a2063?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:49:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:49:17.4600590-07:00",
    "RandomSeed": "450333324",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
