{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-09a07258-e7d0-ad41-10c7-d8a98b066309?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:06:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22A45C957D\"",
        "Last-Modified": "Wed, 01 May 2024 21:06:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-de83f949-3490-b790-e1f3-b7b757502389?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:06:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22A46C1ADB\"",
        "Last-Modified": "Wed, 01 May 2024 21:06:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-de83f949-3490-b790-e1f3-b7b757502389/test-blob-52b88923-92a8-8086-5fff-905cec7014d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 21:06:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22A47A2DB4\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:07:00.0670644Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-de83f949-3490-b790-e1f3-b7b757502389/test-blob-52b88923-92a8-8086-5fff-905cec7014d6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 21:06:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hKj+t8FFndiJq3aRoWNniu6Cfvn0SO0Mw+B7VaCIEW7/33yNSif+NkRbHZs6gyY6LWfjFFruBzy68vThyUc3AJoHkcLm2UDGhEi1mCpS0T+5QCc4pf0TEddA01czHWz8IxwBMvJkVFMmHJAROG8RaCC0J4kg/1uc9IDqpQbok2bcuHQNUZ9NVezTEYhsAdhoLms3fvbi2yTBZD5xeq5NPYgpNYD6AxaBZtGdTe3SMPKogXebsRRw+d1QTO1g3Ns9htMAQ8xYbitUtRgkRY437jRMyfg3soxzuDuiqrYpIYr2X8cZ0u0lTxNLRvz8TLROGV65FBLiBtNHjIqQtcR0K5SNLebHHRtHJnnl62uPd2yHVJBYcAx3FFjz0UZilZpO1xtnbh/Oh/tCcu2Z/BpouBQdCWEzHLq[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-09a07258-e7d0-ad41-10c7-d8a98b066309/test-blob-09f0c35a-d369-1134-b634-b5f29aeb6275",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 May 2024 21:06:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22A4984BDD\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:07:00.2644445Z",
        "x-ms-file-creation-time": "2024-05-01T21:07:00.2644445Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:07:00.2644445Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-09a07258-e7d0-ad41-10c7-d8a98b066309/test-blob-09f0c35a-d369-1134-b634-b5f29aeb6275?sv=2024-08-04&se=2024-05-02T21%3A06%3A59Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22A4984BDD\"",
        "Last-Modified": "Wed, 01 May 2024 21:07:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:07:00.2644445Z",
        "x-ms-file-creation-time": "2024-05-01T21:07:00.2644445Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:07:00.2644445Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-de83f949-3490-b790-e1f3-b7b757502389/test-blob-52b88923-92a8-8086-5fff-905cec7014d6?sv=2024-08-04&se=2024-05-02T21%3A06%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:40861999-201e-0080-490b-9c6e84000000\n",
        "Time:2024-05-01T21:07:00.5845551Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-09a07258-e7d0-ad41-10c7-d8a98b066309?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:07:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:06:59.9594852-07:00",
    "RandomSeed": "1744926653",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
