{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-68167f4a-4459-ce29-817b-1b7af452d2ef?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:21 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7932887B494\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:22 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-94b8162e-288a-5df8-2ab4-579aae1eb688?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:21 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE793289B7126\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:23 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-68167f4a-4459-ce29-817b-1b7af452d2ef/test-blob-6d8d7c01-257d-5829-f507-9f46de577584",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79328B076E2\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:32:23.1919330Z",
        "x-ms-file-creation-time": "2023-11-17T17:32:23.1919330Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:32:23.1919330Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-68167f4a-4459-ce29-817b-1b7af452d2ef/test-blob-6d8d7c01-257d-5829-f507-9f46de577584?sv=2024-05-04\u0026se=2023-11-18T17%3A32%3A21Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79328B076E2\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:32:23.1919330Z",
        "x-ms-file-creation-time": "2023-11-17T17:32:23.1919330Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:32:23.1919330Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-94b8162e-288a-5df8-2ab4-579aae1eb688/test-blob-3b621f0f-b441-5d46-0c64-c8fd03062964?sv=2024-05-04\u0026se=2023-11-18T17%3A32%3A21Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79328D95D9F\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:32:23.4599839Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-94b8162e-288a-5df8-2ab4-579aae1eb688/test-blob-3b621f0f-b441-5d46-0c64-c8fd03062964?sv=2024-05-04\u0026se=2023-11-18T17%3A32%3A21Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-68167f4a-4459-ce29-817b-1b7af452d2ef/test-blob-6d8d7c01-257d-5829-f507-9f46de577584?sv=2024-05-04\u0026se=2023-11-18T17%3A32%3A21Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79328EF536C\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-68167f4a-4459-ce29-817b-1b7af452d2ef?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:32:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:32:21.4972056-08:00",
    "RandomSeed": "1717703958",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
