{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AZURE-CDN-TEST",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2405?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405",
        "name": "testRG2405",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405/providers/Microsoft.Network/frontDoors/testfrontdoor6842?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "routingRules": [
            {
              "name": "routingrule1",
              "properties": {
                "frontendEndpoints": [
                  {
                    "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405/providers/Microsoft.Network/frontDoors/testfrontdoor6842/frontendEndpoints/frontendEndpoint1"
                  }
                ],
                "acceptedProtocols": [
                  "Https"
                ],
                "patternsToMatch": [
                  "/*"
                ],
                "enabledState": "Enabled",
                "routeConfiguration": {
                  "forwardingProtocol": "MatchRequest",
                  "backendPool": {
                    "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2405/providers/Microsoft.Network/Frontdoors/testfrontdoor6842/BackendPools/backendPool1"
                  },
                  "@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration"
                }
              }
            }
          ],
          "loadBalancingSettings": [
            {
              "name": "loadBalancingSettings1",
              "properties": {
                "sampleSize": 4,
                "successfulSamplesRequired": 2,
                "additionalLatencyMilliseconds": 0
              }
            }
          ],
          "healthProbeSettings": [
            {
              "name": "healthProbeSettings1",
              "properties": {
                "path": "/",
                "protocol": "Http",
                "intervalInSeconds": 120,
                "healthProbeMethod": "GET",
                "enabledState": "Enabled"
              }
            }
          ],
          "backendPools": [
            {
              "name": "backendPool1",
              "properties": {
                "backends": [
                  {
                    "address": "contoso1.azurewebsites.net",
                    "httpPort": 80,
                    "httpsPort": 443,
                    "enabledState": "Enabled",
                    "priority": 2,
                    "weight": 1
                  }
                ],
                "loadBalancingSettings": {
                  "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405/providers/Microsoft.Network/frontDoors/testfrontdoor6842/loadBalancingSettings/loadBalancingSettings1"
                },
                "healthProbeSettings": {
                  "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405/providers/Microsoft.Network/frontDoors/testfrontdoor6842/healthProbeSettings/healthProbeSettings1"
                }
              }
            }
          ],
          "frontendEndpoints": [
            {
              "name": "frontendEndpoint1",
              "properties": {
                "hostName": "testfrontdoor6842.azurefd.net",
                "sessionAffinityEnabledState": "Disabled",
                "sessionAffinityTtlSeconds": 0
              }
            }
          ],
          "backendPoolsSettings": {
            "sendRecvTimeoutSeconds": 123
          }
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "error": {
          "code": "TooManyRequests",
          "message": "Too many requests. Please try again after sometime."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2405/providers/Microsoft.Network/frontdooroperationresults/13072418-f9cc-4d13-85de-cac4c41158d8?api-version=2021-06-01&t=638488371272964205&c=MIIHrTCCBpWgAwIBAgITfwLBjXw4zjrTc5t5NAAEAsGNfDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwMzA0MDE1ODIwWhcNMjUwMjI3MDE1ODIwWjCBjDELMAkGA1UEBhMCVVMxCzAJBg[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405/providers/Microsoft.Network/frontDoors/testfrontdoor6842?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2405/providers/Microsoft.Network/frontdoors/testfrontdoor6842",
        "type": "Microsoft.Network/frontdoors",
        "name": "testfrontdoor6842",
        "location": "Global",
        "tags": {},
        "properties": {
          "routingRules": [
            {
              "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2405/providers/Microsoft.Network/Frontdoors/testfrontdoor6842/RoutingRules/routingrule1",
              "name": "routingrule1",
              "type": "Microsoft.Network/Frontdoors/RoutingRules",
              "properties": {
                "routeConfiguration": {
                  "customForwardingPath": null,
                  "forwardingProtocol": "MatchRequest",
                  "cacheConfiguration": null,
                  "backendPool": {
                    "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2405/providers/Microsoft.Network/Frontdoors/testfrontdoor6842/BackendPools/backendPool1"
                  },
                  "@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration"
                },
                "rulesEngine": null,
                "resourceState": "Enabled",
                "frontendEndpoints": [
                  {
                    "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405/providers/Microsoft.Network/frontDoors/testfrontdoor6842/frontendEndpoints/frontendEndpoint1"
                  }
                ],
                "acceptedProtocols": [
                  "Https"
                ],
                "patternsToMatch": [
                  "/*"
                ],
                "enabledState": "Enabled",
                "webApplicationFirewallPolicyLink": null
              }
            }
          ],
          "rulesEngines": [],
          "frontdoorId": "5c5161c6-5fac-4cb9-bb20-bad632162b6f",
          "extendedProperties": {},
          "resourceState": "Enabled",
          "loadBalancingSettings": [
            {
              "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2405/providers/Microsoft.Network/Frontdoors/testfrontdoor6842/LoadBalancingSettings/loadBalancingSettings1",
              "name": "loadBalancingSettings1",
              "type": "Microsoft.Network/Frontdoors/LoadBalancingSettings",
              "properties": {
                "resourceState": "Enabled",
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405/providers/Microsoft.Network/frontDoors/testfrontdoor6842/rulesEngines/testengine8863?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rules": [
            {
              "name": "debuggingoutput",
              "priority": 1,
              "action": {
                "responseHeaderActions": [
                  {
                    "headerActionType": "Append",
                    "headerName": "X-TEST-HEADER",
                    "value": "Append Header Rule"
                  }
                ]
              }
            },
            {
              "name": "overwriteorigin",
              "priority": 2,
              "action": {
                "responseHeaderActions": [
                  {
                    "headerActionType": "Overwrite",
                    "headerName": "Access-Control-Allow-Origin",
                    "value": "*"
                  },
                  {
                    "headerActionType": "Overwrite",
                    "headerName": "Access-Control-Allow-Credentials",
                    "value": "true"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2405/providers/Microsoft.Network/frontdoors/testfrontdoor6842/rulesengines/testengine8863",
        "type": "Microsoft.Network/frontdoors/rulesengines",
        "name": "testengine8863",
        "properties": {
          "resourceState": "Enabled",
          "rules": [
            {
              "name": "debuggingoutput",
              "priority": 1,
              "action": {
                "name": null,
                "routeConfigurationOverride": null,
                "requestHeaderActions": [],
                "responseHeaderActions": [
                  {
                    "headerActionType": "Append",
                    "headerName": "X-TEST-HEADER",
                    "value": "Append Header Rule"
                  }
                ]
              },
              "matchConditions": null,
              "matchProcessingBehavior": null
            },
            {
              "name": "overwriteorigin",
              "priority": 2,
              "action": {
                "name": null,
                "routeConfigurationOverride": null,
                "requestHeaderActions": [],
                "responseHeaderActions": [
                  {
                    "headerActionType": "Overwrite",
                    "headerName": "Access-Control-Allow-Origin",
                    "value": "*"
                  },
                  {
                    "headerActionType": "Overwrite",
                    "headerName": "Access-Control-Allow-Credentials",
                    "value": "true"
                  }
                ]
              },
              "matchConditions": null,
              "matchProcessingBehavior": null
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2405/providers/Microsoft.Network/frontDoors/testfrontdoor6842/rulesEngines/testengine8863?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "180393122",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "27cafca8-b9a4-4264-b399-45d0c9cca1ab"
  }
}
