{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-emptyItems15778?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "checkConfigSetting-emptyItems15778",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"87ZTvzAfvxIq-dAVE7RKhPG38zx2_6F9t1J2HWaArPM\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:55:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDI4OQ==;sn=103584289",
        "x-ms-date": "Fri, 23 Jan 2026 08:55:29 GMT"
      },
      "ResponseBody": {
        "etag": "87ZTvzAfvxIq-dAVE7RKhPG38zx2_6F9t1J2HWaArPM",
        "key": "checkConfigSetting-emptyItems15778",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:55:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-emptyItems15778",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDI4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3o0OXZLvz1ScwpVUKMfwmeJ4R-aCKFlmwYMLLKT6qM0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDI4OQ==;sn=103584289",
        "x-ms-date": "Fri, 23 Jan 2026 08:55:29 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-emptyItems15778",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDI4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3o0OXZLvz1ScwpVUKMfwmeJ4R-aCKFlmwYMLLKT6qM0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDI4OQ==;sn=103584289",
        "x-ms-date": "Fri, 23 Jan 2026 08:55:29 GMT"
      },
      "ResponseBody": {
        "etag": "3o0OXZLvz1ScwpVUKMfwmeJ4R-aCKFlmwYMLLKT6qM0",
        "items": [
          {
            "etag": "87ZTvzAfvxIq-dAVE7RKhPG38zx2_6F9t1J2HWaArPM",
            "key": "checkConfigSetting-emptyItems15778",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:55:29+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-emptyItems15778?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDI4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"87ZTvzAfvxIq-dAVE7RKhPG38zx2_6F9t1J2HWaArPM\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:55:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDI5MA==;sn=103584290",
        "x-ms-date": "Fri, 23 Jan 2026 08:55:29 GMT"
      },
      "ResponseBody": {
        "etag": "87ZTvzAfvxIq-dAVE7RKhPG38zx2_6F9t1J2HWaArPM",
        "key": "checkConfigSetting-emptyItems15778",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:55:29+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting-emptyItems": "checkConfigSetting-emptyItems15778"
  }
}
