{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-20029988?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sEmOCbUNWlFdziUxTF1hjOLgnyCCg64GEQcuLwxkpdg\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTcxNg==;sn=115291716",
        "x-ms-date": "Thu, 28 May 2026 21:49:13 GMT"
      },
      "ResponseBody": {
        "etag": "sEmOCbUNWlFdziUxTF1hjOLgnyCCg64GEQcuLwxkpdg",
        "key": "checkConfigSetting-20029988",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-20029988",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTcxNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bI2jpm2YTDHDLUKl19TAFViH2S0eFVI-XDBgYmHVwBk\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTcxNg==;sn=115291716",
        "x-ms-date": "Thu, 28 May 2026 21:49:13 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-20029988",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTcxOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CvDS6efYzIcgaiYCMPvUr4hZJC9a8voqF5oPRcK9u1Y\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTcxOA==;sn=115291718",
        "x-ms-date": "Thu, 28 May 2026 21:49:13 GMT"
      },
      "ResponseBody": {
        "etag": "CvDS6efYzIcgaiYCMPvUr4hZJC9a8voqF5oPRcK9u1Y",
        "items": [
          {
            "etag": "xBtnSGh7dpgOspTQYAEIcU-ua1hxbAPauQcACEHwXp0",
            "key": "checkConfigSetting-20029988",
            "label": null,
            "content_type": null,
            "value": "[A] modified value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:49:13+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-20029988?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTcxOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xBtnSGh7dpgOspTQYAEIcU-ua1hxbAPauQcACEHwXp0\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTcxOQ==;sn=115291719",
        "x-ms-date": "Thu, 28 May 2026 21:49:13 GMT"
      },
      "ResponseBody": {
        "etag": "xBtnSGh7dpgOspTQYAEIcU-ua1hxbAPauQcACEHwXp0",
        "key": "checkConfigSetting-20029988",
        "label": null,
        "content_type": null,
        "value": "[A] modified value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:13+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting-200": "checkConfigSetting-20029988"
  }
}
