{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-emptyItems9370?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n2t-ib6ac2CPkMkU-M3OAUAjYvVwyqrfxS3baorGuQc\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:36:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjEzNA==;sn=53372134",
        "x-ms-date": "Mon, 15 Jun 2026 18:36:37 GMT"
      },
      "ResponseBody": {
        "etag": "n2t-ib6ac2CPkMkU-M3OAUAjYvVwyqrfxS3baorGuQc",
        "key": "checkConfigSetting-emptyItems9370",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:36:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=checkConfigSetting-emptyItems9370",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjEzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kB_n1WtTCuBb7pLVJ6lnfxQwG3D4QDxFrptCaojo44k\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjEzNA==;sn=53372134",
        "x-ms-date": "Mon, 15 Jun 2026 18:36:37 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=checkConfigSetting-emptyItems9370",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjEzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kB_n1WtTCuBb7pLVJ6lnfxQwG3D4QDxFrptCaojo44k\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjEzNA==;sn=53372134",
        "x-ms-date": "Mon, 15 Jun 2026 18:36:37 GMT"
      },
      "ResponseBody": {
        "etag": "kB_n1WtTCuBb7pLVJ6lnfxQwG3D4QDxFrptCaojo44k",
        "items": [
          {
            "etag": "n2t-ib6ac2CPkMkU-M3OAUAjYvVwyqrfxS3baorGuQc",
            "key": "checkConfigSetting-emptyItems9370",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:36:37+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-emptyItems9370?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjEzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n2t-ib6ac2CPkMkU-M3OAUAjYvVwyqrfxS3baorGuQc\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:36:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjEzNQ==;sn=53372135",
        "x-ms-date": "Mon, 15 Jun 2026 18:36:37 GMT"
      },
      "ResponseBody": {
        "etag": "n2t-ib6ac2CPkMkU-M3OAUAjYvVwyqrfxS3baorGuQc",
        "key": "checkConfigSetting-emptyItems9370",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:36:37+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting-emptyItems": "checkConfigSetting-emptyItems9370"
  }
}
