{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-3047727?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "checkConfigSetting-3047727",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ecLkQO34BMu8hS9GyweAcFH3WhXwf3jKkII92VDUM38\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:55:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDI5MQ==;sn=103584291",
        "x-ms-date": "Fri, 23 Jan 2026 08:55:32 GMT"
      },
      "ResponseBody": {
        "etag": "ecLkQO34BMu8hS9GyweAcFH3WhXwf3jKkII92VDUM38",
        "key": "checkConfigSetting-3047727",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:55:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-3047727",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDI5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"5CeDOlSVv7-iDNs2eVoOvs-xwLqTbmEx6v6J9n38jcg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDI5MQ==;sn=103584291",
        "x-ms-date": "Fri, 23 Jan 2026 08:55:32 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-3047727",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDI5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"5CeDOlSVv7-iDNs2eVoOvs-xwLqTbmEx6v6J9n38jcg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDI5MQ==;sn=103584291",
        "x-ms-date": "Fri, 23 Jan 2026 08:55:32 GMT"
      },
      "ResponseBody": {
        "etag": "5CeDOlSVv7-iDNs2eVoOvs-xwLqTbmEx6v6J9n38jcg",
        "items": [
          {
            "etag": "ecLkQO34BMu8hS9GyweAcFH3WhXwf3jKkII92VDUM38",
            "key": "checkConfigSetting-3047727",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:55:32+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-3047727?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDI5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ecLkQO34BMu8hS9GyweAcFH3WhXwf3jKkII92VDUM38\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:55:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDI5Mg==;sn=103584292",
        "x-ms-date": "Fri, 23 Jan 2026 08:55:32 GMT"
      },
      "ResponseBody": {
        "etag": "ecLkQO34BMu8hS9GyweAcFH3WhXwf3jKkII92VDUM38",
        "key": "checkConfigSetting-3047727",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:55:32+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting-304": "checkConfigSetting-3047727"
  }
}
