{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "ExemptSubFromRBACPermissionPolicy": "true",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions"
        },
        "subscriptionId": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Blob Performance",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourcegroups/teststorageRG-1566?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566",
        "name": "teststorageRG-1566",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt3827",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16500",
        "x-ms-ratelimit-remaining-subscription-reads": "1100"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "eastus2"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/d4e4f04f-1e39-46ea-a71b-327e4f88e08c?monitor=true&api-version=2025-08-01&t=639123918635666185&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/d4e4f04f-1e39-46ea-a71b-327e4f88e08c?monitor=true&api-version=2025-08-01&t=639123918635666185&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/d4e4f04f-1e39-46ea-a71b-327e4f88e08c?monitor=true&api-version=2025-08-01&t=639123918638718025&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/87708085-8edc-4566-83f3-131fe5de7e99?monitor=true&api-version=2025-08-01&t=639123918835307496&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/87708085-8edc-4566-83f3-131fe5de7e99?monitor=true&api-version=2025-08-01&t=639123918837899390&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827/blobServices/default?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "staticWebsite": {
            "enabled": false
          },
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "allowPermanentDelete": false,
            "enabled": false
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827/blobServices/default?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false,
            "allowPermanentDelete": false
          },
          "staticWebsite": {
            "enabled": false
          },
          "isVersioningEnabled": true,
          "changeFeed": {
            "enabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "staticWebsite": {
            "enabled": false
          },
          "changeFeed": {
            "enabled": true
          },
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "allowPermanentDelete": false,
            "enabled": false
          },
          "isVersioningEnabled": true
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827/blobServices/default/containers/src6467?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DE9FD170E2291C\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827/blobServices/default/containers/src6467",
        "name": "src6467",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8969/blobServices/default/containers/dst5476?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DE9FD1711E7EB2\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8969/blobServices/default/containers/dst5476",
        "name": "dst5476",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8969/objectReplicationPolicies/default?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sourceAccount": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827",
          "destinationAccount": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8969",
          "rules": [
            {
              "sourceContainer": "src6467",
              "destinationContainer": "dst5476"
            }
          ],
          "tagsReplication": {
            "enabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8969/objectReplicationPolicies/fd68402a-d8a1-448e-a2eb-1ebcae1f9d20",
        "name": "fd68402a-d8a1-448e-a2eb-1ebcae1f9d20",
        "type": "Microsoft.Storage/storageAccounts/objectReplicationPolicies",
        "properties": {
          "tagsReplication": {
            "enabled": true
          },
          "policyId": "fd68402a-d8a1-448e-a2eb-1ebcae1f9d20",
          "sourceAccount": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827",
          "destinationAccount": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8969",
          "rules": [
            {
              "ruleId": "1b224ec2-deab-4622-bd48-18de13aacbb1",
              "sourceContainer": "src6467",
              "destinationContainer": "dst5476"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "8f6de479-fae2-4d41-a889-34c8c3738e0f",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "kind": "StorageV2",
            "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3827",
            "name": "teststoragemgmt3827",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {},
            "properties": {
              "allowCrossTenantDelegationSas": false,
              "keyCreationTime": {
                "key1": "2026-04-21T18:11:01.9767797Z",
                "key2": "2026-04-21T18:11:01.9767797Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "isAttributeBasedAccessControlEnabled": false,
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": true,
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-04-21T18:11:01.9870103Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-04-21T18:11:01.9870103Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "accessTier": "Hot",
              "provisioningState": "Succeeded",
              "creationTime": "2026-04-21T18:11:01.5508728Z",
              "primaryEndpoints": {
                "dfs": "https://teststoragemgmt3827.dfs.core.windows.net/",
                "web": "https://teststoragemgmt3827.z20.web.core.windows.net/",
                "blob": "https://teststoragemgmt3827.blob.core.windows.net/",
                "queue": "https://teststoragemgmt3827.queue.core.windows.net/",
                "table": "https://teststoragemgmt3827.table.core.windows.net/",
                "file": "https://teststoragemgmt3827.file.core.windows.net/"
              },
              "primaryLocation": "eastus2",
              "statusOfPrimary": "available"
            }
          },
          {
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "kind": "StorageV2",
            "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8969",
            "name": "teststoragemgmt8969",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
  [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-1566/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8969?api-version=2025-08-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "765236987",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0"
  }
}
