{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromRBACPermissionPolicy": "true",
          "Az.Sec.AnonymousBlobEnforcement::Skip": "true",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions"
        },
        "subscriptionId": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Blob Performance",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourcegroups/teststorageRG-5584?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584",
        "name": "teststorageRG-5584",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt9006",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "eastus2"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/1c31c2a2-f6c7-4d88-9ccd-2f4f02c4fa71?monitor=true&api-version=2025-08-01&t=639141365343041861&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/1c31c2a2-f6c7-4d88-9ccd-2f4f02c4fa71?monitor=true&api-version=2025-08-01&t=639141365343041861&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/1c31c2a2-f6c7-4d88-9ccd-2f4f02c4fa71?monitor=true&api-version=2025-08-01&t=639141365345130663&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/3abe403a-24f5-4b27-b18d-d630e567e762?monitor=true&api-version=2025-08-01&t=639141365540727426&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/3abe403a-24f5-4b27-b18d-d630e567e762?monitor=true&api-version=2025-08-01&t=639141365542516588&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006/blobServices/default?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "staticWebsite": {
            "enabled": false
          },
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "allowPermanentDelete": false,
            "enabled": false
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006/blobServices/default?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false,
            "allowPermanentDelete": false
          },
          "staticWebsite": {
            "enabled": false
          },
          "isVersioningEnabled": true,
          "changeFeed": {
            "enabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "staticWebsite": {
            "enabled": false
          },
          "changeFeed": {
            "enabled": true
          },
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "allowPermanentDelete": false,
            "enabled": false
          },
          "isVersioningEnabled": true
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006/blobServices/default/containers/src8821?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DEAFAF91F6F229\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006/blobServices/default/containers/src8821",
        "name": "src8821",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4760/blobServices/default/containers/dst5326?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DEAFAF921F805A\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4760/blobServices/default/containers/dst5326",
        "name": "dst5326",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4760/objectReplicationPolicies/default?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sourceAccount": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006",
          "destinationAccount": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4760",
          "rules": [
            {
              "sourceContainer": "src8821",
              "destinationContainer": "dst5326"
            }
          ],
          "tagsReplication": {
            "enabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4760/objectReplicationPolicies/79b1a934-da2b-44cb-ae14-23705d0da99d",
        "name": "79b1a934-da2b-44cb-ae14-23705d0da99d",
        "type": "Microsoft.Storage/storageAccounts/objectReplicationPolicies",
        "properties": {
          "tagsReplication": {
            "enabled": true
          },
          "policyId": "79b1a934-da2b-44cb-ae14-23705d0da99d",
          "sourceAccount": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006",
          "destinationAccount": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4760",
          "rules": [
            {
              "ruleId": "b9e511c8-459e-4a19-9449-077cc62a7cc3",
              "sourceContainer": "src8821",
              "destinationContainer": "dst5326"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4760/objectReplicationPolicies/79b1a934-da2b-44cb-ae14-23705d0da99d?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "a[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "d8102c25-d8d8-4e95-8ccb-06c140c2aeb0",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "kind": "StorageV2",
            "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4760",
            "name": "teststoragemgmt4760",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {},
            "properties": {
              "allowCrossTenantDelegationSas": false,
              "keyCreationTime": {
                "key1": "2026-05-11T22:49:12.4766431Z",
                "key2": "2026-05-11T22:49:12.4766431Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "isAttributeBasedAccessControlEnabled": false,
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": true,
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-05-11T22:49:12.4869044Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-05-11T22:49:12.4869044Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "accessTier": "Hot",
              "provisioningState": "Succeeded",
              "creationTime": "2026-05-11T22:49:12.0662727Z",
              "primaryEndpoints": {
                "dfs": "https://teststoragemgmt4760.dfs.core.windows.net/",
                "web": "https://teststoragemgmt4760.z20.web.core.windows.net/",
                "blob": "https://teststoragemgmt4760.blob.core.windows.net/",
                "queue": "https://teststoragemgmt4760.queue.core.windows.net/",
                "table": "https://teststoragemgmt4760.table.core.windows.net/",
                "file": "https://teststoragemgmt4760.file.core.windows.net/"
              },
              "primaryLocation": "eastus2",
              "statusOfPrimary": "available"
            }
          },
          {
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "kind": "StorageV2",
            "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006",
            "name": "teststoragemgmt9006",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
  [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5584/providers/Microsoft.Storage/storageAccounts/teststoragemgmt9006?api-version=2025-08-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1198174186",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0"
  }
}
