{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromRBACPermissionPolicy": "true",
          "Az.Sec.AnonymousBlobEnforcement::Skip": "true",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions"
        },
        "subscriptionId": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Blob Performance",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourcegroups/teststorageRG-7305?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-7305",
        "name": "teststorageRG-7305",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt5011",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-7305/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5011?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/ea60a6fc-eaee-449d-a008-eb637684d8b3?monitor=true&api-version=2025-08-01&t=639142188282204950&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/ea60a6fc-eaee-449d-a008-eb637684d8b3?monitor=true&api-version=2025-08-01&t=639142188282204950&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/ea60a6fc-eaee-449d-a008-eb637684d8b3?monitor=true&api-version=2025-08-01&t=639142188284059575&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-7305/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5011?api-version=2025-08-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "dataCollaborationPolicyProperties": {
            "allowStorageConnectors": true,
            "allowStorageDataShares": false,
            "allowCrossTenantDataSharing": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-7305/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5011",
        "name": "teststoragemgmt5011",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "allowCrossTenantDelegationSas": false,
          "dataCollaborationPolicyProperties": {
            "allowStorageConnectors": true,
            "allowStorageDataShares": false,
            "allowCrossTenantDataSharing": true
          },
          "keyCreationTime": {
            "key1": "2026-05-12T21:40:26.6579275Z",
            "key2": "2026-05-12T21:40:26.6579275Z"
          },
          "allowCrossTenantReplication": false,
          "privateEndpointConnections": [],
          "isAttributeBasedAccessControlEnabled": false,
          "minimumTlsVersion": "TLS1_2",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "ipv6Rules": [],
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2026-05-12T21:40:26.6641397Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2026-05-12T21:40:26.6641397Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2026-05-12T21:40:26.2973565Z",
          "primaryEndpoints": {
            "blob": "https://teststoragemgmt5011.blob.core.windows.net/",
            "queue": "https://teststoragemgmt5011.queue.core.windows.net/",
            "table": "https://teststoragemgmt5011.table.core.windows.net/",
            "file": "https://teststoragemgmt5011.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-7305/providers/Microsoft.Storage/storageAccounts?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "3f183316-efc8-4219-99a9-029465f90d3d",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-7305/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5011",
            "name": "teststoragemgmt5011",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {
              "key1[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-7305/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5011?api-version=2025-08-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "187331221",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0"
  }
}
