{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/transliterate?language=zh-Hans&fromScript=Hans&toScript=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"这里怎么一回事?\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "8",
        "X-MT-System": "Microsoft",
        "X-RequestId": "a53617df-5b2a-4b67-ac69-77aeccaec6db.USW2.0502T1950"
      },
      "ResponseBody": "[{\"text\":\"zhèlǐ zěnme yìhuíshì?\",\"script\":\"Latn\"}]"
    }
  ],
  "Variables": {}
}
