{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/transliterate?language=gu&fromScript=Latn&toScript=gujr&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"gujarat\"},{\"text\":\"hadman\"},{\"text\":\"hukkabar\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "21",
        "X-MT-System": "Microsoft",
        "X-RequestId": "2db3ee29-97dc-4bf0-aeac-f85a69e10973.USW2.0502T1950"
      },
      "ResponseBody": "[{\"text\":\"ગુજરાત\",\"script\":\"\"},{\"text\":\"હેડમેન\",\"script\":\"\"},{\"text\":\"હુક્કાબાર\",\"script\":\"\"}]"
    }
  ],
  "Variables": {}
}
