{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourcegroups/Sql-RG-64?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64",
        "name": "Sql-RG-64",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westeurope",
        "properties": {
          "administratorLogin": "Admin-server-atp-test-7925",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/8706545e-ef2c-4a55-8969-e2f0504c38f4?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/8706545e-ef2c-4a55-8969-e2f0504c38f4?api-version=2023-02-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-09-21T21:09:09.39Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/8706545e-ef2c-4a55-8969-e2f0504c38f4?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "8706545e-ef2c-4a55-8969-e2f0504c38f4",
        "status": "InProgress",
        "startTime": "2023-09-21T21:09:09.39Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "Admin-server-atp-test-7925",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "server-atp-test-7925.database.windows.net",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "westeurope",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925",
        "name": "server-atp-test-7925",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925/databases/db-atp-test-7461?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westeurope",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/ea0b3438-fd2c-4be9-a026-df0966378eb7?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/locations/westeurope/databaseOperationResults/ea0b3438-fd2c-4be9-a026-df0966378eb7?api-version=2023-02-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "CreateLogicalDatabase",
        "startTime": "2023-09-21T21:10:20.42Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/ea0b3438-fd2c-4be9-a026-df0966378eb7?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "ea0b3438-fd2c-4be9-a026-df0966378eb7",
        "status": "InProgress",
        "startTime": "2023-09-21T21:10:20.42Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925/databases/db-atp-test-7461?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "kind": "v12.0,user,vcore",
        "properties": {
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "maxSizeBytes": 34359738368,
          "status": "Online",
          "databaseId": "bfefb950-c8dd-4d4e-a475-2c6cd327b601",
          "creationDate": "2023-09-21T21:11:10.5Z",
          "currentServiceObjectiveName": "GP_Gen5_2",
          "requestedServiceObjectiveName": "GP_Gen5_2",
          "defaultSecondaryLocation": "northeurope",
          "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
          "zoneRedundant": false,
          "licenseType": "LicenseIncluded",
          "maxLogSizeBytes": 193273528320,
          "readScale": "Disabled",
          "currentSku": {
            "name": "GP_Gen5",
            "tier": "GeneralPurpose",
            "family": "Gen5",
            "capacity": 2
          },
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "maintenanceConfigurationId": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "isLedgerOn": false,
          "isInfraEncryptionEnabled": false,
          "availabilityZone": "NoPreference"
        },
        "location": "westeurope",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925/databases/db-atp-test-7461",
        "name": "db-atp-test-7461",
        "type": "Microsoft.Sql/servers/databases"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925/advancedThreatProtectionSettings/Default?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "properties": {
          "state": "Disabled",
          "creationTime": "0001-01-01T00:00:00Z"
        },
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925/advancedThreatProtectionSettings/Default",
        "name": "Default",
        "type": "Microsoft.Sql/servers/advancedThreatProtectionSettings"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/locations/westeurope/advancedThreatProtectionAzureAsyncOperation/e8490a6b-0cc3-44ce-a531-754b5f3434d5?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "e8490a6b-0cc3-44ce-a531-754b5f3434d5",
        "status": "InProgress",
        "startTime": "2023-09-21T21:11:24.533Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925/databases/db-atp-test-7461/advancedThreatProtectionSettings/Default?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "properties": {
          "state": "Disabled",
          "creationTime": "2023-09-21T21:11:24.707Z"
        },
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925/databases/db-atp-test-7461/advancedThreatProtectionSettings/Default",
        "name": "Default",
        "type": "Microsoft.Sql/servers/databases/advancedThreatProtectionSettings"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "Admin-server-atp-test-7925",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "server-atp-test-7925.database.windows.net",
              "privateEndpointConnections": [],
              "minimalTlsVersion": "None",
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "westeurope",
            "tags": {},
            "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/servers/server-atp-test-7925",
            "name": "server-atp-test-7925",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-64/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/18903ec1-e987-41de-a4d1-fc490c677543?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "18903ec1-e987-41de-a4d1-fc490c677543",
        "status": "Succeeded",
        "startTime": "2023-09-21T21:11:35.827Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1978211679",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "eb951d38-18d9-46d4-9a0c-f694b148c76a"
  }
}
