{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "crv": "P-256K",
        "kty": "EC",
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://test.vault.azure.net/keys/testcrud2971189930/e447ea7e0242477fb98d6e853b219771",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "nThK3-2d7D2reWAxf0JiB2bzZWU0Dht_FFkL8TYdpFk",
          "y": "aIE9hYocJGtDnvpzzx8bbk-pbrQZATEbJBiEjlYmxLg"
        },
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1717541526,
          "updated": 1717541526,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://test.vault.azure.net/keys/testcrud2971189930/e447ea7e0242477fb98d6e853b219771",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "nThK3-2d7D2reWAxf0JiB2bzZWU0Dht_FFkL8TYdpFk",
          "y": "aIE9hYocJGtDnvpzzx8bbk-pbrQZATEbJBiEjlYmxLg"
        },
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1717541526,
          "updated": 1717541526,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/e447ea7e0242477fb98d6e853b219771?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://test.vault.azure.net/keys/testcrud2971189930/e447ea7e0242477fb98d6e853b219771",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "nThK3-2d7D2reWAxf0JiB2bzZWU0Dht_FFkL8TYdpFk",
          "y": "aIE9hYocJGtDnvpzzx8bbk-pbrQZATEbJBiEjlYmxLg"
        },
        "attributes": {
          "enabled": false,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1717541526,
          "updated": 1717541527,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://test.vault.azure.net/deletedkeys/testcrud2971189930",
        "deletedDate": 1717541527,
        "scheduledPurgeDate": 1718146327,
        "key": {
          "kid": "https://test.vault.azure.net/keys/testcrud2971189930/e447ea7e0242477fb98d6e853b219771",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "nThK3-2d7D2reWAxf0JiB2bzZWU0Dht_FFkL8TYdpFk",
          "y": "aIE9hYocJGtDnvpzzx8bbk-pbrQZATEbJBiEjlYmxLg"
        },
        "attributes": {
          "enabled": false,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1717541526,
          "updated": 1717541527,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/testcrud2971189930?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: testcrud2971189930"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/testcrud2971189930?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
