{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "crv": "P-256K",
        "kty": "EC",
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6641bf37e2d14f76bda742fac7413471",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "qoItTUFJj5Kg3v4l4h3jcitjEdoo1Cc7Kwtwjjfhd5M",
          "y": "RlfJjW-dmJLZOOxexupXuphnWGwc-v9jnF3wLWQ4cek"
        },
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1781021400,
          "updated": 1781021400,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6641bf37e2d14f76bda742fac7413471",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "qoItTUFJj5Kg3v4l4h3jcitjEdoo1Cc7Kwtwjjfhd5M",
          "y": "RlfJjW-dmJLZOOxexupXuphnWGwc-v9jnF3wLWQ4cek"
        },
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1781021400,
          "updated": 1781021400,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6641bf37e2d14f76bda742fac7413471?api-version=2026-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6641bf37e2d14f76bda742fac7413471",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "qoItTUFJj5Kg3v4l4h3jcitjEdoo1Cc7Kwtwjjfhd5M",
          "y": "RlfJjW-dmJLZOOxexupXuphnWGwc-v9jnF3wLWQ4cek"
        },
        "attributes": {
          "enabled": false,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1781021400,
          "updated": 1781021401,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/testcrud2971189930",
        "deletedDate": 1781021401,
        "scheduledPurgeDate": 1781626201,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6641bf37e2d14f76bda742fac7413471",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "qoItTUFJj5Kg3v4l4h3jcitjEdoo1Cc7Kwtwjjfhd5M",
          "y": "RlfJjW-dmJLZOOxexupXuphnWGwc-v9jnF3wLWQ4cek"
        },
        "attributes": {
          "enabled": false,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1781021400,
          "updated": 1781021401,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/testcrud2971189930?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: testcrud2971189930"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/testcrud2971189930?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
