{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "crv": "P-256K",
        "kty": "EC",
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6a7d4fc7193040528701830e9054588f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "XMtbwb41ut7f9FAFvFc9pNmseYwd0WfrxTFK0l8dxwg",
          "y": "eIBwZrLeX5Swo4C0UwdXvLAE_0A7OgkUyHbrY3AvTtU"
        },
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1748987330,
          "updated": 1748987330,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6a7d4fc7193040528701830e9054588f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "XMtbwb41ut7f9FAFvFc9pNmseYwd0WfrxTFK0l8dxwg",
          "y": "eIBwZrLeX5Swo4C0UwdXvLAE_0A7OgkUyHbrY3AvTtU"
        },
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1748987330,
          "updated": 1748987330,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6a7d4fc7193040528701830e9054588f?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6a7d4fc7193040528701830e9054588f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "XMtbwb41ut7f9FAFvFc9pNmseYwd0WfrxTFK0l8dxwg",
          "y": "eIBwZrLeX5Swo4C0UwdXvLAE_0A7OgkUyHbrY3AvTtU"
        },
        "attributes": {
          "enabled": false,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1748987330,
          "updated": 1748987330,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testcrud2971189930?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/testcrud2971189930",
        "deletedDate": 1748987330,
        "scheduledPurgeDate": 1749592130,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testcrud2971189930/6a7d4fc7193040528701830e9054588f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "XMtbwb41ut7f9FAFvFc9pNmseYwd0WfrxTFK0l8dxwg",
          "y": "eIBwZrLeX5Swo4C0UwdXvLAE_0A7OgkUyHbrY3AvTtU"
        },
        "attributes": {
          "enabled": false,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1748987330,
          "updated": 1748987330,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/testcrud2971189930?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: testcrud2971189930"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/testcrud2971189930?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
