{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "crv": "P-256K",
        "kty": "EC",
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "139"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759961080,
          "enabled": true,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759961080
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/cae4ac3e5cb84628ad6db9296308b145",
          "kty": "EC-HSM",
          "x": "9qaHNHSPvsqKV5y-vfEzZ3zIR5pTSM2t2tRQ7bJj4KA",
          "y": "OZkbLNOr7bmVHeTc1-ZtFOquHgCPRANPTA52X9gAfsk"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759961080,
          "enabled": true,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759961080
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/cae4ac3e5cb84628ad6db9296308b145",
          "kty": "EC-HSM",
          "x": "9qaHNHSPvsqKV5y-vfEzZ3zIR5pTSM2t2tRQ7bJj4KA",
          "y": "OZkbLNOr7bmVHeTc1-ZtFOquHgCPRANPTA52X9gAfsk"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/attestation?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Not Found (Activity ID: c9c02950-a492-11f0-9e4c-6045bdf1bb98)"
        }
      }
    }
  ],
  "Variables": {}
}
