{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "crv": "P-256K",
        "kty": "EC",
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "141"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1718140202,
          "enabled": true,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1718140202
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/dd879a9a227c03f9184df304da7dccc6",
          "kty": "EC-HSM",
          "x": "DFavSPmJHl3fzFYWXeYqTBUvtV2naVI3EV2X6iE0Cx0",
          "y": "Mo26DpECkQhD34s1H_EbrfYa7fm8E_oJu0nPx8Z_qQs"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1718140202,
          "enabled": true,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1718140202
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/dd879a9a227c03f9184df304da7dccc6",
          "kty": "EC-HSM",
          "x": "DFavSPmJHl3fzFYWXeYqTBUvtV2naVI3EV2X6iE0Cx0",
          "y": "Mo26DpECkQhD34s1H_EbrfYa7fm8E_oJu0nPx8Z_qQs"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/dd879a9a227c03f9184df304da7dccc6?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "28"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1718140202,
          "enabled": false,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1718140203
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/dd879a9a227c03f9184df304da7dccc6",
          "kty": "EC-HSM",
          "x": "DFavSPmJHl3fzFYWXeYqTBUvtV2naVI3EV2X6iE0Cx0",
          "y": "Mo26DpECkQhD34s1H_EbrfYa7fm8E_oJu0nPx8Z_qQs"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1718140202,
          "enabled": false,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1718140203
        },
        "deletedDate": 1718140203,
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/dd879a9a227c03f9184df304da7dccc6",
          "kty": "EC-HSM",
          "x": "DFavSPmJHl3fzFYWXeYqTBUvtV2naVI3EV2X6iE0Cx0",
          "y": "Mo26DpECkQhD34s1H_EbrfYa7fm8E_oJu0nPx8Z_qQs"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/testcrud467594978",
        "scheduledPurgeDate": 1718745003,
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/testcrud467594978?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1718140202,
          "enabled": false,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1718140203
        },
        "deletedDate": 1718140203,
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud467594978/dd879a9a227c03f9184df304da7dccc6",
          "kty": "EC-HSM",
          "x": "DFavSPmJHl3fzFYWXeYqTBUvtV2naVI3EV2X6iE0Cx0",
          "y": "Mo26DpECkQhD34s1H_EbrfYa7fm8E_oJu0nPx8Z_qQs"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/testcrud467594978",
        "scheduledPurgeDate": 1718745003,
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/testcrud467594978?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
