{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "key_size": 2048,
        "kty": "RSA",
        "public_exponent": 65537,
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780553213,
          "enabled": true,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780553213
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/64011ee20e7a029a32d2b20c0ae7b6f2",
          "kty": "RSA-HSM",
          "n": "0hRfoAxbESTaEqF1DtguNQklSu5EGk8BdD50DWQEYf3g3YU4JY8FnD6POVV-ylGByvmc1B9Rj33Ima0buAbpJlgO_HjZbf1huq30AS_-OLvgR0hatHCBOsK7Yx0vuiQUoLVtKdIw00VI5jVL21S3makeE2NvqMFnk5DJeZiKiTuBcDzEMJGSF2yZz6svlM6bqr1zZd0Dfr9b9vgqRgih4A4vTxydspGrRtgckw89mzhVVuLfRUf7IW1UUvdrI4XnNP1RtQM1NmYN1vM8wjJ7o_fEt6G2WHl7_eEAtVuLyLZRVQMppnYUYbhk_h3Rumd9v5LoE62QG0LXJNX3O3yXDQ"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780553213,
          "enabled": true,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780553213
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/64011ee20e7a029a32d2b20c0ae7b6f2",
          "kty": "RSA-HSM",
          "n": "0hRfoAxbESTaEqF1DtguNQklSu5EGk8BdD50DWQEYf3g3YU4JY8FnD6POVV-ylGByvmc1B9Rj33Ima0buAbpJlgO_HjZbf1huq30AS_-OLvgR0hatHCBOsK7Yx0vuiQUoLVtKdIw00VI5jVL21S3makeE2NvqMFnk5DJeZiKiTuBcDzEMJGSF2yZz6svlM6bqr1zZd0Dfr9b9vgqRgih4A4vTxydspGrRtgckw89mzhVVuLfRUf7IW1UUvdrI4XnNP1RtQM1NmYN1vM8wjJ7o_fEt6G2WHl7_eEAtVuLyLZRVQMppnYUYbhk_h3Rumd9v5LoE62QG0LXJNX3O3yXDQ"
        },
        "tags": {
          "key": "value"
        }
      }
    }
  ],
  "Variables": {}
}
