{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "key_size": 2048,
        "kty": "RSA",
        "public_exponent": 65537,
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "108"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781021426,
          "enabled": true,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781021426
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/f80f048d773f05d011c6a1764e8a3ba3",
          "kty": "RSA-HSM",
          "n": "oeTQ0Ixz05j0SqIF9H6-DCMOciF6uNaoz3jE2VoLH0y0V-rF19-jTIDD1GlWB5OAVo7Tje7-F7BMJUbOOB6DEal-LzFmErLdqLHl0S-Iju1Wf5Scm2ZizID6gUNzbaF0TSfA2U_JmZ_6P_pwO3fIH5zI_G_F16NBEYuUNZWTAcVCIy1RRDwVGcdJP5lWc_KXtksfenYK7WTLjsD_HLEALGDM3CESP5VJ0mehGOijQE1_e_DmVWxrIJwOEakSlB52kHayKTqhRYuU9PFwc3DSnTD2_vppbYuEKlcgQctitUPRBrLSENFFOlFAg9MiSEc0YCEVTfqv_lVHsMgAvoNUrw"
        },
        "tags": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781021426,
          "enabled": true,
          "exp": 2524611661,
          "exportable": false,
          "nbf": 2208992461,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781021426
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "unwrapKey",
            "decrypt",
            "encrypt",
            "verify",
            "sign",
            "wrapKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testcrud2971044356/f80f048d773f05d011c6a1764e8a3ba3",
          "kty": "RSA-HSM",
          "n": "oeTQ0Ixz05j0SqIF9H6-DCMOciF6uNaoz3jE2VoLH0y0V-rF19-jTIDD1GlWB5OAVo7Tje7-F7BMJUbOOB6DEal-LzFmErLdqLHl0S-Iju1Wf5Scm2ZizID6gUNzbaF0TSfA2U_JmZ_6P_pwO3fIH5zI_G_F16NBEYuUNZWTAcVCIy1RRDwVGcdJP5lWc_KXtksfenYK7WTLjsD_HLEALGDM3CESP5VJ0mehGOijQE1_e_DmVWxrIJwOEakSlB52kHayKTqhRYuU9PFwc3DSnTD2_vppbYuEKlcgQctitUPRBrLSENFFOlFAg9MiSEc0YCEVTfqv_lVHsMgAvoNUrw"
        },
        "tags": {
          "key": "value"
        }
      }
    }
  ],
  "Variables": {}
}
