{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "94",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "16b8c548-f1d6-459c-81aa-c7538e1f8a19",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.208"
      },
      "ResponseBody": {
        "id": "vs_FhgRAPzdap1oHYKtmVRvyMKl",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661309,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661309
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "590",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "11e3e7ad-db9d-4804-b056-c97d4c2e9e17",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.737"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3SEzR7UiuMzGppRQjSvp1F",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746661309,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_FhgRAPzdap1oHYKtmVRvyMKl/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-3SEzR7UiuMzGppRQjSvp1F",
          "assistant-EaRn6sUwBqG5iMtB9KsnPA"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "302",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "49ae3d82-4861-483f-b9c8-e2b6b82bc1e0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.422"
      },
      "ResponseBody": {
        "id": "vsfb_ccbb3e88acbe471eb47c15bc63acfb4b",
        "object": "vector_store.file_batch",
        "created_at": 1746661311,
        "status": "in_progress",
        "vector_store_id": "vs_FhgRAPzdap1oHYKtmVRvyMKl",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_FhgRAPzdap1oHYKtmVRvyMKl/file_batches/vsfb_ccbb3e88acbe471eb47c15bc63acfb4b?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "aa480a30-9a04-44ca-a45e-381fbd2fa404",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.199"
      },
      "ResponseBody": {
        "id": "vsfb_ccbb3e88acbe471eb47c15bc63acfb4b",
        "object": "vector_store.file_batch",
        "created_at": 1746661311,
        "status": "in_progress",
        "vector_store_id": "vs_FhgRAPzdap1oHYKtmVRvyMKl",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_FhgRAPzdap1oHYKtmVRvyMKl/file_batches/vsfb_ccbb3e88acbe471eb47c15bc63acfb4b/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bda1c9c9-1535-413b-8648-994092b2aa30",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.196"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-EaRn6sUwBqG5iMtB9KsnPA",
            "object": "vector_store.file",
            "created_at": 1746661311,
            "vector_store_id": "vs_FhgRAPzdap1oHYKtmVRvyMKl",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-3SEzR7UiuMzGppRQjSvp1F",
            "object": "vector_store.file",
            "created_at": 1746661311,
            "vector_store_id": "vs_FhgRAPzdap1oHYKtmVRvyMKl",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-EaRn6sUwBqG5iMtB9KsnPA",
        "last_id": "assistant-3SEzR7UiuMzGppRQjSvp1F",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-3SEzR7UiuMzGppRQjSvp1F?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "260",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0c86fd44-d2dd-4f55-a61d-247a4af4d01d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.359"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-3SEzR7UiuMzGppRQjSvp1F"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-EaRn6sUwBqG5iMtB9KsnPA?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "237",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3ea6cfdb-1a96-4166-b472-43752e386276",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.342"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-EaRn6sUwBqG5iMtB9KsnPA"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_FhgRAPzdap1oHYKtmVRvyMKl?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "647",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "aed48cdb-8caa-4832-86b3-fed278c875dc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.771"
      },
      "ResponseBody": {
        "id": "vs_FhgRAPzdap1oHYKtmVRvyMKl",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
