{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7361fced-2e0d-44dc-b943-2b5c9a64a5fe",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.574"
      },
      "ResponseBody": {
        "id": "vs_hHPxDIESt9fztRnwGBK9quSQ",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747436133,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747436133
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "578",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "008aff85-dd22-4e53-9f68-174fb2fa4957",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.919"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-Q26Dmn5GT5VJ12abAjAzdA",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747436133,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_hHPxDIESt9fztRnwGBK9quSQ/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-Q26Dmn5GT5VJ12abAjAzdA",
          "assistant-EhwUReHCy73JXa3sPKGBqw"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "321",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0efd7534-cf4a-4472-8480-3ad8d49dda48",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.647"
      },
      "ResponseBody": {
        "id": "vsfb_2a162bfc6b8d4eb8ab0d6c5a7fafdd54",
        "object": "vector_store.file_batch",
        "created_at": 1747436135,
        "status": "in_progress",
        "vector_store_id": "vs_hHPxDIESt9fztRnwGBK9quSQ",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_hHPxDIESt9fztRnwGBK9quSQ/file_batches/vsfb_2a162bfc6b8d4eb8ab0d6c5a7fafdd54?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1da0c6e1-6eab-440d-a626-43ff4a7a270c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.257"
      },
      "ResponseBody": {
        "id": "vsfb_2a162bfc6b8d4eb8ab0d6c5a7fafdd54",
        "object": "vector_store.file_batch",
        "created_at": 1747436136,
        "status": "in_progress",
        "vector_store_id": "vs_hHPxDIESt9fztRnwGBK9quSQ",
        "file_counts": {
          "in_progress": 1,
          "completed": 1,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-Q26Dmn5GT5VJ12abAjAzdA?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "233",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2dfc2a89-dad9-4399-9201-a714faf11c99",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.615"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Q26Dmn5GT5VJ12abAjAzdA"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-EhwUReHCy73JXa3sPKGBqw?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "282",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3bc6d3f7-8c7d-4ba0-aa81-592398d348b1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.636"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-EhwUReHCy73JXa3sPKGBqw"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_hHPxDIESt9fztRnwGBK9quSQ?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2244",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9cb15062-2114-47b2-9bca-3b0ebc566a27",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.528"
      },
      "ResponseBody": {
        "id": "vs_hHPxDIESt9fztRnwGBK9quSQ",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
