{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "127",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0a08455a-3c9e-4732-96a1-a2984fac284a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.440"
      },
      "ResponseBody": {
        "id": "vs_jOnNNMmXrBsRlFT0MCQ7R6bo",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727610,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727610
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "290",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "dd3b889a-afd1-4fad-9087-5a0b8340a585",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.602"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-9TYxrH7oJCZSQS1TbFcAC8",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747727611,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jOnNNMmXrBsRlFT0MCQ7R6bo/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-9TYxrH7oJCZSQS1TbFcAC8",
          "assistant-J5WdWtvSAgZayV92YtbqSG"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "298",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ca724d2d-6533-46ea-8c6c-fab6502973e7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.678"
      },
      "ResponseBody": {
        "id": "vsfb_2a0f2fd065c248b3b7c522438ef93804",
        "object": "vector_store.file_batch",
        "created_at": 1747727613,
        "status": "in_progress",
        "vector_store_id": "vs_jOnNNMmXrBsRlFT0MCQ7R6bo",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jOnNNMmXrBsRlFT0MCQ7R6bo/file_batches/vsfb_2a0f2fd065c248b3b7c522438ef93804?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "117",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "be626476-3bef-4f82-8f4a-281174bc540d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.431"
      },
      "ResponseBody": {
        "id": "vsfb_2a0f2fd065c248b3b7c522438ef93804",
        "object": "vector_store.file_batch",
        "created_at": 1747727613,
        "status": "completed",
        "vector_store_id": "vs_jOnNNMmXrBsRlFT0MCQ7R6bo",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jOnNNMmXrBsRlFT0MCQ7R6bo/file_batches/vsfb_2a0f2fd065c248b3b7c522438ef93804/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "129",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9f187aee-fe89-4a82-8e14-f34ba0630bec",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.463"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-9TYxrH7oJCZSQS1TbFcAC8",
            "object": "vector_store.file",
            "created_at": 1747727613,
            "vector_store_id": "vs_jOnNNMmXrBsRlFT0MCQ7R6bo",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-J5WdWtvSAgZayV92YtbqSG",
            "object": "vector_store.file",
            "created_at": 1747727613,
            "vector_store_id": "vs_jOnNNMmXrBsRlFT0MCQ7R6bo",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-9TYxrH7oJCZSQS1TbFcAC8",
        "last_id": "assistant-J5WdWtvSAgZayV92YtbqSG",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-9TYxrH7oJCZSQS1TbFcAC8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "262",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "177498f2-139a-4606-9814-fe39203da553",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.594"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-9TYxrH7oJCZSQS1TbFcAC8"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-J5WdWtvSAgZayV92YtbqSG?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "292",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fcaf5df1-2814-4e3e-8760-9d6374d19b89",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.542"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-J5WdWtvSAgZayV92YtbqSG"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jOnNNMmXrBsRlFT0MCQ7R6bo?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2272",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "59873e53-05d4-4cff-b949-614ef17c74a4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.553"
      },
      "ResponseBody": {
        "id": "vs_jOnNNMmXrBsRlFT0MCQ7R6bo",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
