{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a1da2023-cae5-45d9-a319-f8c245d90263",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.210"
      },
      "ResponseBody": {
        "id": "vs_5krWmQh8y8oUi5bcjugBph7r",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746595897,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746595897
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "274",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bd13292d-446f-4dc0-af90-aeb68ac8f52e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.444"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-8f8hsBG49F6HNp4e8oyemu",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746595897,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_5krWmQh8y8oUi5bcjugBph7r/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-8f8hsBG49F6HNp4e8oyemu",
          "assistant-AAq1TfJUkALVd5eAeBdtJT"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "267",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "57130048-1d86-4204-8d13-c1c9f5fc2c90",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.409"
      },
      "ResponseBody": {
        "id": "vsfb_7fda8cdffd234382bf06e8ee5c675fb5",
        "object": "vector_store.file_batch",
        "created_at": 1746595898,
        "status": "in_progress",
        "vector_store_id": "vs_5krWmQh8y8oUi5bcjugBph7r",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_5krWmQh8y8oUi5bcjugBph7r/file_batches/vsfb_7fda8cdffd234382bf06e8ee5c675fb5?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "122",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5094130e-8797-4d98-8c5d-20f0012289c4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.289"
      },
      "ResponseBody": {
        "id": "vsfb_7fda8cdffd234382bf06e8ee5c675fb5",
        "object": "vector_store.file_batch",
        "created_at": 1746595899,
        "status": "in_progress",
        "vector_store_id": "vs_5krWmQh8y8oUi5bcjugBph7r",
        "file_counts": {
          "in_progress": 1,
          "completed": 1,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-8f8hsBG49F6HNp4e8oyemu?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "244",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3504311a-ac2b-4136-addf-ec6c6cb29572",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.414"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-8f8hsBG49F6HNp4e8oyemu"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-AAq1TfJUkALVd5eAeBdtJT?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "256",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "61e96053-92e3-4b3b-ba82-95af84857426",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.372"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-AAq1TfJUkALVd5eAeBdtJT"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_5krWmQh8y8oUi5bcjugBph7r?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "612",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "292d96bd-bcf5-4ea3-b833-19aca5c96bb6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.732"
      },
      "ResponseBody": {
        "id": "vs_5krWmQh8y8oUi5bcjugBph7r",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
