{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7e1de713-6a07-42f4-bda9-a769b5f17feb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.293"
      },
      "ResponseBody": {
        "id": "vs_d1IKyw5rTSrpLUrGQ2dO37Gy",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1748886766,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1748886766
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "424",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8743b988-9718-407b-b905-ab2971c6406b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.685"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-Rby8SEmSDkHec5JCGjod2y",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1748886767,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_d1IKyw5rTSrpLUrGQ2dO37Gy/file_batches?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-Rby8SEmSDkHec5JCGjod2y",
          "assistant-CjKzP3Eq5WWAHvxjyru6gN"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "296",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "126c4d28-ad02-431b-b64d-123cf91fb2de",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.545"
      },
      "ResponseBody": {
        "id": "vsfb_4319ce9573b8471fb41c56ff2395917e",
        "object": "vector_store.file_batch",
        "created_at": 1748886769,
        "status": "in_progress",
        "vector_store_id": "vs_d1IKyw5rTSrpLUrGQ2dO37Gy",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_d1IKyw5rTSrpLUrGQ2dO37Gy/file_batches/vsfb_4319ce9573b8471fb41c56ff2395917e?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "100",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "253acd97-a4ea-42b4-896d-d6b473a660df",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.407"
      },
      "ResponseBody": {
        "id": "vsfb_4319ce9573b8471fb41c56ff2395917e",
        "object": "vector_store.file_batch",
        "created_at": 1748886769,
        "status": "completed",
        "vector_store_id": "vs_d1IKyw5rTSrpLUrGQ2dO37Gy",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-Rby8SEmSDkHec5JCGjod2y?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "318",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "853853be-ed3f-4dd1-8a25-f63c5faa1da6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.526"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Rby8SEmSDkHec5JCGjod2y"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-CjKzP3Eq5WWAHvxjyru6gN?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "318",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ec901a13-8057-4f03-8de7-e84ee3b5a03d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.655"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-CjKzP3Eq5WWAHvxjyru6gN"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_d1IKyw5rTSrpLUrGQ2dO37Gy?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2309",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3f67e03e-e6bc-4f77-b10c-b717ca066d92",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.596"
      },
      "ResponseBody": {
        "id": "vs_d1IKyw5rTSrpLUrGQ2dO37Gy",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
