{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a7570d5e-b1b2-4f47-8041-03c79af884c8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.197"
      },
      "ResponseBody": {
        "id": "vs_0pAnq84MuLeOeZH9dUCaWEKi",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746595906,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746595906
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "435",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "59567c95-857b-4e11-bf8e-de7f2211b2d6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.545"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-LwwnNb141s2Awy68tDrnkF",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746595907,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_0pAnq84MuLeOeZH9dUCaWEKi/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-LwwnNb141s2Awy68tDrnkF",
          "assistant-88ji6fKsfwTdf2BQaD6uA5"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "272",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "de328f05-4632-4e2e-b679-9367400b7b2c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.534"
      },
      "ResponseBody": {
        "id": "vsfb_ec72caa09bdd48ffbf1a556987cc3d13",
        "object": "vector_store.file_batch",
        "created_at": 1746595908,
        "status": "in_progress",
        "vector_store_id": "vs_0pAnq84MuLeOeZH9dUCaWEKi",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_0pAnq84MuLeOeZH9dUCaWEKi/file_batches/vsfb_ec72caa09bdd48ffbf1a556987cc3d13?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "37",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "48a61bc2-35d5-47c3-a7af-04ede8994d15",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.173"
      },
      "ResponseBody": {
        "id": "vsfb_ec72caa09bdd48ffbf1a556987cc3d13",
        "object": "vector_store.file_batch",
        "created_at": 1746595908,
        "status": "in_progress",
        "vector_store_id": "vs_0pAnq84MuLeOeZH9dUCaWEKi",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_0pAnq84MuLeOeZH9dUCaWEKi/file_batches/vsfb_ec72caa09bdd48ffbf1a556987cc3d13/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "160",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5c924e32-6a5a-431a-8b29-80f6166cec1d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.316"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-LwwnNb141s2Awy68tDrnkF",
            "object": "vector_store.file",
            "created_at": 1746595908,
            "vector_store_id": "vs_0pAnq84MuLeOeZH9dUCaWEKi",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-88ji6fKsfwTdf2BQaD6uA5",
            "object": "vector_store.file",
            "created_at": 1746595908,
            "vector_store_id": "vs_0pAnq84MuLeOeZH9dUCaWEKi",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-LwwnNb141s2Awy68tDrnkF",
        "last_id": "assistant-88ji6fKsfwTdf2BQaD6uA5",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-LwwnNb141s2Awy68tDrnkF?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "309",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f353c6d0-cfec-4ecd-9f8e-026622fc768d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.402"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-LwwnNb141s2Awy68tDrnkF"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-88ji6fKsfwTdf2BQaD6uA5?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "318",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cc006055-b6be-48da-a7f0-57e76e2ee9f8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.436"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-88ji6fKsfwTdf2BQaD6uA5"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_0pAnq84MuLeOeZH9dUCaWEKi?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "644",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8dd056a9-335d-46c7-9695-ba53e9e0ffee",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.772"
      },
      "ResponseBody": {
        "id": "vs_0pAnq84MuLeOeZH9dUCaWEKi",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
