{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "38",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8744e58a-afa4-41c5-aa23-9333d9639ca9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.357"
      },
      "ResponseBody": {
        "id": "vs_aqPyg5STNpQiI1sbzXAJj4Ky",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768441,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768441
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "506",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5fafe3bd-a3ab-4cd0-8854-d3d6c74a5638",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.039"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-8P29gGGX8RkpCjZW3TPCqv",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747768441,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_aqPyg5STNpQiI1sbzXAJj4Ky/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-8P29gGGX8RkpCjZW3TPCqv",
          "assistant-66ff27nMaVHMBH3DMHX67J"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "310",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fe584ed2-5f62-41cc-b667-d1e600d91f08",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.675"
      },
      "ResponseBody": {
        "id": "vsfb_1ebc7419cadb401484b08e79b5c71fbd",
        "object": "vector_store.file_batch",
        "created_at": 1747768444,
        "status": "in_progress",
        "vector_store_id": "vs_aqPyg5STNpQiI1sbzXAJj4Ky",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_aqPyg5STNpQiI1sbzXAJj4Ky/file_batches/vsfb_1ebc7419cadb401484b08e79b5c71fbd?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "90",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "244eccae-0a36-4cb3-933b-0038ca3d9a0e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.379"
      },
      "ResponseBody": {
        "id": "vsfb_1ebc7419cadb401484b08e79b5c71fbd",
        "object": "vector_store.file_batch",
        "created_at": 1747768444,
        "status": "completed",
        "vector_store_id": "vs_aqPyg5STNpQiI1sbzXAJj4Ky",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-8P29gGGX8RkpCjZW3TPCqv?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "271",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "84985fcd-7173-452f-8d66-62e52041a759",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.634"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-8P29gGGX8RkpCjZW3TPCqv"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-66ff27nMaVHMBH3DMHX67J?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "402",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e389cd15-a427-43c9-aec8-16d77695d6f2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.766"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-66ff27nMaVHMBH3DMHX67J"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_aqPyg5STNpQiI1sbzXAJj4Ky?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2546",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c29096cd-8dac-4e3c-8714-cdd97b8c9c20",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.193"
      },
      "ResponseBody": {
        "id": "vs_aqPyg5STNpQiI1sbzXAJj4Ky",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
