{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "124",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "36414227-9559-4efd-a901-1cddd16add34",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.263"
      },
      "ResponseBody": {
        "id": "vs_wjX9KBE6z1ligky5tIt0EbIV",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746746946,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746746946
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "482",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "238197b7-e52d-4cd4-b525-92d59abdaf7e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.618"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-8rkYJ2UsWbroCwWArtdWir",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746746946,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wjX9KBE6z1ligky5tIt0EbIV/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-8rkYJ2UsWbroCwWArtdWir",
          "assistant-VUsQzXDXV2H25F3rF796CK"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "315",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a8bd1751-ecc5-4222-8997-f3f5325de2a8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.422"
      },
      "ResponseBody": {
        "id": "vsfb_f8a67b09b3d74c229d391de7005abf68",
        "object": "vector_store.file_batch",
        "created_at": 1746746948,
        "status": "in_progress",
        "vector_store_id": "vs_wjX9KBE6z1ligky5tIt0EbIV",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wjX9KBE6z1ligky5tIt0EbIV/file_batches/vsfb_f8a67b09b3d74c229d391de7005abf68?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ce0e4130-96fe-454a-8fc2-8a3cad5e8df5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.205"
      },
      "ResponseBody": {
        "id": "vsfb_f8a67b09b3d74c229d391de7005abf68",
        "object": "vector_store.file_batch",
        "created_at": 1746746948,
        "status": "in_progress",
        "vector_store_id": "vs_wjX9KBE6z1ligky5tIt0EbIV",
        "file_counts": {
          "in_progress": 1,
          "completed": 1,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wjX9KBE6z1ligky5tIt0EbIV/file_batches/vsfb_f8a67b09b3d74c229d391de7005abf68/cancel?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "90",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e83f9d0e-f1b6-4093-a70d-1b71cac50e62",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.200"
      },
      "ResponseBody": {
        "id": "vsfb_f8a67b09b3d74c229d391de7005abf68",
        "object": "vector_store.file_batch",
        "created_at": 1746746949,
        "status": "completed",
        "vector_store_id": "vs_wjX9KBE6z1ligky5tIt0EbIV",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-8rkYJ2UsWbroCwWArtdWir?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "278",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "29bb5d9d-cf45-46ec-95c0-b012b471a237",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.438"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-8rkYJ2UsWbroCwWArtdWir"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-VUsQzXDXV2H25F3rF796CK?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "444",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6baad451-6890-4314-a18a-9f93a52f9f83",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.595"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-VUsQzXDXV2H25F3rF796CK"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wjX9KBE6z1ligky5tIt0EbIV?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "563",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "038d386c-948a-462f-870a-b5d12fdaf5a7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.689"
      },
      "ResponseBody": {
        "id": "vs_wjX9KBE6z1ligky5tIt0EbIV",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
