{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "102",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "eba71f8f-d18c-47b8-ac48-f024eb4eeba2",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.242"
      },
      "ResponseBody": {
        "id": "vs_76Kf4O0frpJL0GlIERkVk0ai",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746039372,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746039372
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "320",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "787cd6db-4954-4540-b349-e2b4ee0fa4b8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.557"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-4e1y17tpzof4D7x6bEXQVd",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746039372,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_76Kf4O0frpJL0GlIERkVk0ai/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-4e1y17tpzof4D7x6bEXQVd",
          "assistant-Ddzrmfiy3xHEpixLgySKvr"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "439",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "94ea68ba-8cbf-4437-b4b8-d3742e2ad236",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.591"
      },
      "ResponseBody": {
        "id": "vsfb_1a98b59ae9df4fd2869f2159e2652bac",
        "object": "vector_store.file_batch",
        "created_at": 1746039374,
        "status": "in_progress",
        "vector_store_id": "vs_76Kf4O0frpJL0GlIERkVk0ai",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_76Kf4O0frpJL0GlIERkVk0ai/file_batches/vsfb_1a98b59ae9df4fd2869f2159e2652bac?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "85",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "185aafba-bf03-447b-b453-3005ceae9f2d",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.244"
      },
      "ResponseBody": {
        "id": "vsfb_1a98b59ae9df4fd2869f2159e2652bac",
        "object": "vector_store.file_batch",
        "created_at": 1746039374,
        "status": "in_progress",
        "vector_store_id": "vs_76Kf4O0frpJL0GlIERkVk0ai",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_76Kf4O0frpJL0GlIERkVk0ai/file_batches/vsfb_1a98b59ae9df4fd2869f2159e2652bac/files?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "509",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ace343b5-18eb-4ceb-a231-ae9aff4b21a8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.674"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-Ddzrmfiy3xHEpixLgySKvr",
            "object": "vector_store.file",
            "created_at": 1746039374,
            "vector_store_id": "vs_76Kf4O0frpJL0GlIERkVk0ai",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-4e1y17tpzof4D7x6bEXQVd",
            "object": "vector_store.file",
            "created_at": 1746039374,
            "vector_store_id": "vs_76Kf4O0frpJL0GlIERkVk0ai",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-Ddzrmfiy3xHEpixLgySKvr",
        "last_id": "assistant-4e1y17tpzof4D7x6bEXQVd",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-4e1y17tpzof4D7x6bEXQVd?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "231",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "eadf1547-ae42-4637-b141-13151763fa25",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.395"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-4e1y17tpzof4D7x6bEXQVd"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-Ddzrmfiy3xHEpixLgySKvr?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "8429",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4bde584a-698b-444b-9fd9-49edfd8eadab",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "8.582"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Ddzrmfiy3xHEpixLgySKvr"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_76Kf4O0frpJL0GlIERkVk0ai?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "563",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8f95ce89-7da5-45f6-b79c-edce0ebc8fab",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.700"
      },
      "ResponseBody": {
        "id": "vs_76Kf4O0frpJL0GlIERkVk0ai",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
