{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "33",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d38f142f-7d0f-4e21-9293-f09f7ffb14b1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.155"
      },
      "ResponseBody": {
        "id": "vs_ULvJWhRbr3KA0HtN4cuoWnWQ",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746666654,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746666654
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "943",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "90a2d5e3-72be-48d4-9ed3-adf372d9cf2c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.080"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-G6SDnjhTh4YkBH21StQZZo",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746666654,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_ULvJWhRbr3KA0HtN4cuoWnWQ/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-G6SDnjhTh4YkBH21StQZZo",
          "assistant-Kj9fCRcft7N3DJuyon19ZP"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "347",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bf242559-01de-4a21-ab47-6c7b62d9759d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.493"
      },
      "ResponseBody": {
        "id": "vsfb_7cb93590a4d34bf785d671c8faa89929",
        "object": "vector_store.file_batch",
        "created_at": 1746666656,
        "status": "in_progress",
        "vector_store_id": "vs_ULvJWhRbr3KA0HtN4cuoWnWQ",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_ULvJWhRbr3KA0HtN4cuoWnWQ/file_batches/vsfb_7cb93590a4d34bf785d671c8faa89929?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bbdee25a-46ec-42e3-8e7a-1e9f2c999267",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.258"
      },
      "ResponseBody": {
        "id": "vsfb_7cb93590a4d34bf785d671c8faa89929",
        "object": "vector_store.file_batch",
        "created_at": 1746666657,
        "status": "in_progress",
        "vector_store_id": "vs_ULvJWhRbr3KA0HtN4cuoWnWQ",
        "file_counts": {
          "in_progress": 1,
          "completed": 1,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_ULvJWhRbr3KA0HtN4cuoWnWQ/file_batches/vsfb_7cb93590a4d34bf785d671c8faa89929/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "76",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9094d22f-482c-40c0-8ba4-64b8f9839ebe",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.225"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-Kj9fCRcft7N3DJuyon19ZP",
            "object": "vector_store.file",
            "created_at": 1746666656,
            "vector_store_id": "vs_ULvJWhRbr3KA0HtN4cuoWnWQ",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-G6SDnjhTh4YkBH21StQZZo",
            "object": "vector_store.file",
            "created_at": 1746666656,
            "vector_store_id": "vs_ULvJWhRbr3KA0HtN4cuoWnWQ",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-Kj9fCRcft7N3DJuyon19ZP",
        "last_id": "assistant-G6SDnjhTh4YkBH21StQZZo",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-G6SDnjhTh4YkBH21StQZZo?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "459",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "38ca40c6-dc71-42e2-963f-ca0676fee7d8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.608"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-G6SDnjhTh4YkBH21StQZZo"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-Kj9fCRcft7N3DJuyon19ZP?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "262",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2db9b5e4-5d2d-4d8b-b21a-103d389a6638",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.392"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Kj9fCRcft7N3DJuyon19ZP"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_ULvJWhRbr3KA0HtN4cuoWnWQ?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "567",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "400718f8-650c-4078-ad6c-6c4efdd018c7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.704"
      },
      "ResponseBody": {
        "id": "vs_ULvJWhRbr3KA0HtN4cuoWnWQ",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
