{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "72ae288a-0c4a-4845-bba6-77ed6d03b2eb",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.232"
      },
      "ResponseBody": {
        "id": "vs_ElaTrDTkerB1ON4G3WKE0pce",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1745972588,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1745972588
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "385",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d41790dd-9ea8-45d7-a2dd-59904729bf4c",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.564"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-4y4F8Jvz6eVEu8sDMisr6H",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1745972588,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_ElaTrDTkerB1ON4G3WKE0pce/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-4y4F8Jvz6eVEu8sDMisr6H",
          "assistant-NpJQAbb8SEUCsmPcPbxSKP"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "268",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d0eed305-0967-4856-8e4c-0f3217de4e27",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.452"
      },
      "ResponseBody": {
        "id": "vsfb_eceefc6d257547c48248d899c0ad8f93",
        "object": "vector_store.file_batch",
        "created_at": 1745972590,
        "status": "in_progress",
        "vector_store_id": "vs_ElaTrDTkerB1ON4G3WKE0pce",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_ElaTrDTkerB1ON4G3WKE0pce/file_batches/vsfb_eceefc6d257547c48248d899c0ad8f93?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "38cf20e6-906f-42c0-aa64-54b2cd1c925b",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.256"
      },
      "ResponseBody": {
        "id": "vsfb_eceefc6d257547c48248d899c0ad8f93",
        "object": "vector_store.file_batch",
        "created_at": 1745972591,
        "status": "in_progress",
        "vector_store_id": "vs_ElaTrDTkerB1ON4G3WKE0pce",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_ElaTrDTkerB1ON4G3WKE0pce/file_batches/vsfb_eceefc6d257547c48248d899c0ad8f93/cancel?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "913466b7-9d3c-4283-925a-4b40a44f4b79",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "id": "vsfb_eceefc6d257547c48248d899c0ad8f93",
        "object": "vector_store.file_batch",
        "created_at": 1745972592,
        "status": "completed",
        "vector_store_id": "vs_ElaTrDTkerB1ON4G3WKE0pce",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-4y4F8Jvz6eVEu8sDMisr6H?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "546",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7019d416-fefc-4ce0-a795-9b7202644105",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.727"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-4y4F8Jvz6eVEu8sDMisr6H"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-NpJQAbb8SEUCsmPcPbxSKP?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "238",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a7faca34-686f-48d8-9d5d-dbbb7112a03e",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.405"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-NpJQAbb8SEUCsmPcPbxSKP"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_ElaTrDTkerB1ON4G3WKE0pce?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "602",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "537571aa-867c-4c60-a8e5-8360964f0f5f",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.742"
      },
      "ResponseBody": {
        "id": "vs_ElaTrDTkerB1ON4G3WKE0pce",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
