{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "103",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "791ac172-1e70-4d37-94d8-2f8f09fcc72e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.203"
      },
      "ResponseBody": {
        "id": "vs_KNsqZKptCkjcL6ejHPwmDo7e",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1749159603,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1749159603
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "2591",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "95f3a51a-cf8d-41ef-8939-1add70dcc55f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.736"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-6y8rBqwqhFzbkjesbevUUT",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1749159604,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_KNsqZKptCkjcL6ejHPwmDo7e/file_batches?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-6y8rBqwqhFzbkjesbevUUT",
          "assistant-DwvfE2eW6C9o9pRGvAsXmV"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1355",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "28a7eb1e-c2c8-48fe-b3a3-a515ddea9c63",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.465"
      },
      "ResponseBody": {
        "id": "vsfb_2a09baee28df4840918d69127c966a39",
        "object": "vector_store.file_batch",
        "created_at": 1749159609,
        "status": "in_progress",
        "vector_store_id": "vs_KNsqZKptCkjcL6ejHPwmDo7e",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_KNsqZKptCkjcL6ejHPwmDo7e/file_batches/vsfb_2a09baee28df4840918d69127c966a39?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "112",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "11de95ad-0771-4b84-93d2-5ea39d8eb5f7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.236"
      },
      "ResponseBody": {
        "id": "vsfb_2a09baee28df4840918d69127c966a39",
        "object": "vector_store.file_batch",
        "created_at": 1749159609,
        "status": "in_progress",
        "vector_store_id": "vs_KNsqZKptCkjcL6ejHPwmDo7e",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-6y8rBqwqhFzbkjesbevUUT?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "3189",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8bd8bd7c-d40a-4552-8ef8-73e466961a6a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.321"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-6y8rBqwqhFzbkjesbevUUT"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-DwvfE2eW6C9o9pRGvAsXmV?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "2747",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "dcd13940-7e02-4c6f-b6ed-0f2ae3c70975",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.860"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-DwvfE2eW6C9o9pRGvAsXmV"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_KNsqZKptCkjcL6ejHPwmDo7e?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2231",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "17646322-3fc5-44e5-9d16-ee49bff572e2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.355"
      },
      "ResponseBody": {
        "id": "vs_KNsqZKptCkjcL6ejHPwmDo7e",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
