{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "415",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "99f31380-999e-4d05-9204-c96d6c29b696",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.589"
      },
      "ResponseBody": {
        "id": "vs_CiRuMdBgbnbeqZQtWVvSTpeA",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746168430,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746168430
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "8621",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "66d2d028-dff1-43d1-8745-28ecad747981",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "8.803"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-QXWUo2BPH8ZGwqk7UECFdm",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746168430,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_CiRuMdBgbnbeqZQtWVvSTpeA/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-QXWUo2BPH8ZGwqk7UECFdm",
          "assistant-M1rsHuVJH3uWdqYgvysw71"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "321",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fe6ebae2-5771-4427-b99d-41c0a7245764",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.546"
      },
      "ResponseBody": {
        "id": "vsfb_561c6e669994432bafc11f838710c44a",
        "object": "vector_store.file_batch",
        "created_at": 1746168449,
        "status": "in_progress",
        "vector_store_id": "vs_CiRuMdBgbnbeqZQtWVvSTpeA",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_CiRuMdBgbnbeqZQtWVvSTpeA/file_batches/vsfb_561c6e669994432bafc11f838710c44a?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "27",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b13391d7-4eb1-41a4-850d-d6463d292d31",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.206"
      },
      "ResponseBody": {
        "id": "vsfb_561c6e669994432bafc11f838710c44a",
        "object": "vector_store.file_batch",
        "created_at": 1746168450,
        "status": "in_progress",
        "vector_store_id": "vs_CiRuMdBgbnbeqZQtWVvSTpeA",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-QXWUo2BPH8ZGwqk7UECFdm?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "271",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ed68a1b6-62c5-4ad1-a523-f05082cfedb2",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.439"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-QXWUo2BPH8ZGwqk7UECFdm"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-M1rsHuVJH3uWdqYgvysw71?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "519",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e4aa0119-f76a-49b7-b11c-6e8273fffe49",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.682"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-M1rsHuVJH3uWdqYgvysw71"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_CiRuMdBgbnbeqZQtWVvSTpeA?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "616",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "728cf311-2989-4987-8682-1ecaf69e4a38",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.765"
      },
      "ResponseBody": {
        "id": "vs_CiRuMdBgbnbeqZQtWVvSTpeA",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
