{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "139",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "30e5838b-f734-4efa-b08d-05ad24763f33",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.256"
      },
      "ResponseBody": {
        "id": "vs_Ankhua0T90PXiPM6iHMQ3aRX",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1749159593,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1749159593
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "661",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "eb248920-881a-464e-b388-4a6734ae13b7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.794"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3VQNp4X8i8P8vZ33sHDjdE",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1749159593,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Ankhua0T90PXiPM6iHMQ3aRX/file_batches?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-3VQNp4X8i8P8vZ33sHDjdE",
          "assistant-V4nTrpZURWyJffKkpJoA2w"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "308",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e34f1e0d-eaab-4a52-b447-ab7459cf14c2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.445"
      },
      "ResponseBody": {
        "id": "vsfb_b07fd9307d1a4fe99d616eaca201b23d",
        "object": "vector_store.file_batch",
        "created_at": 1749159595,
        "status": "in_progress",
        "vector_store_id": "vs_Ankhua0T90PXiPM6iHMQ3aRX",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Ankhua0T90PXiPM6iHMQ3aRX/file_batches/vsfb_b07fd9307d1a4fe99d616eaca201b23d?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "95",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5249f8a1-75e4-4e2c-97be-56c7315e1c76",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.222"
      },
      "ResponseBody": {
        "id": "vsfb_b07fd9307d1a4fe99d616eaca201b23d",
        "object": "vector_store.file_batch",
        "created_at": 1749159595,
        "status": "in_progress",
        "vector_store_id": "vs_Ankhua0T90PXiPM6iHMQ3aRX",
        "file_counts": {
          "in_progress": 1,
          "completed": 1,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-3VQNp4X8i8P8vZ33sHDjdE?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "262",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "93d5eb32-b4d7-46ca-9cfb-6cc6f0830d1b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.378"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-3VQNp4X8i8P8vZ33sHDjdE"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-V4nTrpZURWyJffKkpJoA2w?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "327",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f0df6c7f-c040-4e8f-ae58-51131bc9d8d1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.443"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-V4nTrpZURWyJffKkpJoA2w"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Ankhua0T90PXiPM6iHMQ3aRX?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2228",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5d982486-e9bb-46a8-99aa-1fa61fdb52eb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.368"
      },
      "ResponseBody": {
        "id": "vs_Ankhua0T90PXiPM6iHMQ3aRX",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
