{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a0d674a0-e953-4c70-8b83-9a255acf9d6c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.348"
      },
      "ResponseBody": {
        "id": "vs_0vdsixICQlXek00pRloIl3um",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727643,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727643
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "318",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "41595fa7-7ba9-48d7-a072-0dac176e7811",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.619"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-A9iZeAt1enzJpN5i2cnFmM",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747727643,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0vdsixICQlXek00pRloIl3um/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-A9iZeAt1enzJpN5i2cnFmM",
          "assistant-FgWsKVELiEy2gCga9oscqr"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "294",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3572fc5d-27eb-4f31-be74-d4ecceb73adf",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.614"
      },
      "ResponseBody": {
        "id": "vsfb_e122bdfab33543888b1f90bfea1e7c80",
        "object": "vector_store.file_batch",
        "created_at": 1747727645,
        "status": "in_progress",
        "vector_store_id": "vs_0vdsixICQlXek00pRloIl3um",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0vdsixICQlXek00pRloIl3um/file_batches/vsfb_e122bdfab33543888b1f90bfea1e7c80?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "49",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cb2dc118-f908-4466-bde0-c661ced94ab9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.325"
      },
      "ResponseBody": {
        "id": "vsfb_e122bdfab33543888b1f90bfea1e7c80",
        "object": "vector_store.file_batch",
        "created_at": 1747727645,
        "status": "completed",
        "vector_store_id": "vs_0vdsixICQlXek00pRloIl3um",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-A9iZeAt1enzJpN5i2cnFmM?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "375",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d58c360c-144c-43bf-9fbb-5b42baed6c2c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.717"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-A9iZeAt1enzJpN5i2cnFmM"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-FgWsKVELiEy2gCga9oscqr?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "258",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "aca8176b-0294-4f01-ac5c-d999d8a50c03",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.576"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-FgWsKVELiEy2gCga9oscqr"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0vdsixICQlXek00pRloIl3um?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2180",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "89039f5e-9437-45af-93b7-3619628590f0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.446"
      },
      "ResponseBody": {
        "id": "vs_0vdsixICQlXek00pRloIl3um",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
