{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "85",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f4eb7532-bfeb-44d0-bb80-014fa1a8f874",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.188"
      },
      "ResponseBody": {
        "id": "vs_azznAo4RP0Rnj1BB6UQOg8eF",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661287,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661287
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "356",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "798f2740-9002-46aa-9595-77917f36ccc9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.491"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-YYnmw2zAFmUiX5UkuqjPKZ",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746661287,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_azznAo4RP0Rnj1BB6UQOg8eF/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-YYnmw2zAFmUiX5UkuqjPKZ",
          "assistant-3h7eMUBnsdsgZLKuZPUm1h"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "277",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f3a5dcff-1a7b-46c1-b34e-d1ae3c60ad50",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.410"
      },
      "ResponseBody": {
        "id": "vsfb_93ea329a0dea43e8b0faf0977de4e61b",
        "object": "vector_store.file_batch",
        "created_at": 1746661289,
        "status": "in_progress",
        "vector_store_id": "vs_azznAo4RP0Rnj1BB6UQOg8eF",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_azznAo4RP0Rnj1BB6UQOg8eF/file_batches/vsfb_93ea329a0dea43e8b0faf0977de4e61b?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "79",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d8ffa23e-151f-4e1a-96b8-55cc95b837c1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.194"
      },
      "ResponseBody": {
        "id": "vsfb_93ea329a0dea43e8b0faf0977de4e61b",
        "object": "vector_store.file_batch",
        "created_at": 1746661289,
        "status": "in_progress",
        "vector_store_id": "vs_azznAo4RP0Rnj1BB6UQOg8eF",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-YYnmw2zAFmUiX5UkuqjPKZ?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "412",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7e600d38-c24f-489b-af18-f40957bcaf9c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.548"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-YYnmw2zAFmUiX5UkuqjPKZ"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-3h7eMUBnsdsgZLKuZPUm1h?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "234",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5adfe9c8-9a43-4587-a8c2-fe16f2301972",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.353"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-3h7eMUBnsdsgZLKuZPUm1h"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_azznAo4RP0Rnj1BB6UQOg8eF?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "664",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "322bb4a7-b5ed-4fd4-a76f-05e51aeac678",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.778"
      },
      "ResponseBody": {
        "id": "vs_azznAo4RP0Rnj1BB6UQOg8eF",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
