{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "91f3452a-5aa9-47f0-82ea-ccfe2b77774d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.542"
      },
      "ResponseBody": {
        "id": "vs_3i4gbTtccQvIXtykMKqMaDyn",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768368,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768368
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "609",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "94d0ff99-fde4-48b0-a24c-d4229ae11c23",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.347"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3BceAwnqjMq4BkftPibN2v",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747768369,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_3i4gbTtccQvIXtykMKqMaDyn/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-3BceAwnqjMq4BkftPibN2v",
          "assistant-MwTpw3Yb8wpr4N2kp4ZVNs"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "539",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "603d1ad9-4563-45dd-b034-07a6db2c80a9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.873"
      },
      "ResponseBody": {
        "id": "vsfb_931f69206b8d4af09e3ed5512979a34a",
        "object": "vector_store.file_batch",
        "created_at": 1747768371,
        "status": "in_progress",
        "vector_store_id": "vs_3i4gbTtccQvIXtykMKqMaDyn",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_3i4gbTtccQvIXtykMKqMaDyn/file_batches/vsfb_931f69206b8d4af09e3ed5512979a34a?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "142",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0887a43b-b642-47e7-998f-38a59daf194c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.541"
      },
      "ResponseBody": {
        "id": "vsfb_931f69206b8d4af09e3ed5512979a34a",
        "object": "vector_store.file_batch",
        "created_at": 1747768372,
        "status": "completed",
        "vector_store_id": "vs_3i4gbTtccQvIXtykMKqMaDyn",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-3BceAwnqjMq4BkftPibN2v?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "486",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f55ea002-6160-4775-9d97-d5c412b92cb3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.822"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-3BceAwnqjMq4BkftPibN2v"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-MwTpw3Yb8wpr4N2kp4ZVNs?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "450",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0cead2c2-12c9-4fac-acbe-eb3d76a50ca8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.707"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-MwTpw3Yb8wpr4N2kp4ZVNs"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_3i4gbTtccQvIXtykMKqMaDyn?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2231",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f6bba348-a417-461f-af8e-81e265eeae42",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.501"
      },
      "ResponseBody": {
        "id": "vs_3i4gbTtccQvIXtykMKqMaDyn",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
