{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "101",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "aabc8b67-8c6d-44ae-bfb6-af0f251ef4dd",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.393"
      },
      "ResponseBody": {
        "id": "vs_LgauwrUxOIDMlMurfvL3RVW8",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747677578,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747677578
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "441",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "737664b0-66a7-4eba-9431-0a2d41eb5fe9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.869"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-SJGZZb84w1JkJpi3vPK7i5",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747677579,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_LgauwrUxOIDMlMurfvL3RVW8/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-SJGZZb84w1JkJpi3vPK7i5",
          "assistant-NQio2isMpCRbMDWzWcCNhU"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "286",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1e596522-f7f2-4dbc-9964-212b9c928339",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.643"
      },
      "ResponseBody": {
        "id": "vsfb_b79acbcf929e48758150d4199b2a20de",
        "object": "vector_store.file_batch",
        "created_at": 1747677581,
        "status": "in_progress",
        "vector_store_id": "vs_LgauwrUxOIDMlMurfvL3RVW8",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_LgauwrUxOIDMlMurfvL3RVW8/file_batches/vsfb_b79acbcf929e48758150d4199b2a20de?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "146",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9a410b21-0619-4c06-bedc-84b0f33b2276",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.480"
      },
      "ResponseBody": {
        "id": "vsfb_b79acbcf929e48758150d4199b2a20de",
        "object": "vector_store.file_batch",
        "created_at": 1747677581,
        "status": "completed",
        "vector_store_id": "vs_LgauwrUxOIDMlMurfvL3RVW8",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-SJGZZb84w1JkJpi3vPK7i5?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "264",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4027e1bd-5e64-4188-be0c-bfb5228fa3f5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.570"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-SJGZZb84w1JkJpi3vPK7i5"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-NQio2isMpCRbMDWzWcCNhU?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "316",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "36f1d538-32ab-45c5-92b4-e03288adad35",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.646"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-NQio2isMpCRbMDWzWcCNhU"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_LgauwrUxOIDMlMurfvL3RVW8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "686",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b2d4c8b6-a2b1-4bf1-af1b-46c8505e20b0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.016"
      },
      "ResponseBody": {
        "id": "vs_LgauwrUxOIDMlMurfvL3RVW8",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
