{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "95",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "581b9edc-3155-43ca-aa61-78d6a71e8006",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.221"
      },
      "ResponseBody": {
        "id": "vs_LQG2VIoy63kOW3xKjyPYOaSn",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746647382,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746647382
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "524",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3030d3a6-5bd9-4482-89cb-a6868711812e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.686"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-4CqmYcU1qshQv6SKeZnfq9",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746647382,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_LQG2VIoy63kOW3xKjyPYOaSn/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-4CqmYcU1qshQv6SKeZnfq9",
          "assistant-8Zf9BnbSQCCvgm2dxi22mg"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "305",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4d33ed2a-95ca-486a-90eb-77b5e9c1a2c8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.451"
      },
      "ResponseBody": {
        "id": "vsfb_a58a083803ac4ec1979a02c8fcae78c6",
        "object": "vector_store.file_batch",
        "created_at": 1746647384,
        "status": "in_progress",
        "vector_store_id": "vs_LQG2VIoy63kOW3xKjyPYOaSn",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_LQG2VIoy63kOW3xKjyPYOaSn/file_batches/vsfb_a58a083803ac4ec1979a02c8fcae78c6?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "31",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a6f32e85-3f97-4230-bad5-e3ed3628f001",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.263"
      },
      "ResponseBody": {
        "id": "vsfb_a58a083803ac4ec1979a02c8fcae78c6",
        "object": "vector_store.file_batch",
        "created_at": 1746647384,
        "status": "in_progress",
        "vector_store_id": "vs_LQG2VIoy63kOW3xKjyPYOaSn",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_LQG2VIoy63kOW3xKjyPYOaSn/file_batches/vsfb_a58a083803ac4ec1979a02c8fcae78c6/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "75",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "30f72170-dade-427c-855e-07f5f66b9c8c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-8Zf9BnbSQCCvgm2dxi22mg",
            "object": "vector_store.file",
            "created_at": 1746647384,
            "vector_store_id": "vs_LQG2VIoy63kOW3xKjyPYOaSn",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-4CqmYcU1qshQv6SKeZnfq9",
            "object": "vector_store.file",
            "created_at": 1746647384,
            "vector_store_id": "vs_LQG2VIoy63kOW3xKjyPYOaSn",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-8Zf9BnbSQCCvgm2dxi22mg",
        "last_id": "assistant-4CqmYcU1qshQv6SKeZnfq9",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-4CqmYcU1qshQv6SKeZnfq9?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "408",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7d11936e-c118-4a31-9b59-840f4dac2167",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.542"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-4CqmYcU1qshQv6SKeZnfq9"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-8Zf9BnbSQCCvgm2dxi22mg?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "377",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5ab79985-6998-443e-807c-91cd9d58d761",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.532"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-8Zf9BnbSQCCvgm2dxi22mg"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_LQG2VIoy63kOW3xKjyPYOaSn?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "628",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c0d36b1b-82ea-489d-a3da-a57ac7f232ca",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.740"
      },
      "ResponseBody": {
        "id": "vs_LQG2VIoy63kOW3xKjyPYOaSn",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
