{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "95",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "26c31c7e-fe23-47ba-b2df-84d35a4ebb08",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.223"
      },
      "ResponseBody": {
        "id": "vs_9f1NsdLk28vuNb4oXG4eZgKT",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746595935,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746595935
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "406",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2dbd24b6-d5db-4751-adec-710cbfc8fcb8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.558"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-GeZSomEZNDe1gXQv6PVc5X",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746595936,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_9f1NsdLk28vuNb4oXG4eZgKT/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-GeZSomEZNDe1gXQv6PVc5X",
          "assistant-KGVMt2osKgN1SB4cGw179n"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "255",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "82d1dc52-afb1-4115-bb90-68030b3d86f8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.384"
      },
      "ResponseBody": {
        "id": "vsfb_8b4bb7878bb94fab867aa0a775094817",
        "object": "vector_store.file_batch",
        "created_at": 1746595937,
        "status": "in_progress",
        "vector_store_id": "vs_9f1NsdLk28vuNb4oXG4eZgKT",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_9f1NsdLk28vuNb4oXG4eZgKT/file_batches/vsfb_8b4bb7878bb94fab867aa0a775094817?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "45",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6281ad4d-cd28-4036-9c7f-ae72cb682d3e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.169"
      },
      "ResponseBody": {
        "id": "vsfb_8b4bb7878bb94fab867aa0a775094817",
        "object": "vector_store.file_batch",
        "created_at": 1746595937,
        "status": "in_progress",
        "vector_store_id": "vs_9f1NsdLk28vuNb4oXG4eZgKT",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-GeZSomEZNDe1gXQv6PVc5X?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "239",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3e8de763-5a19-46b9-9bd4-d208ad7f7ea7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.453"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-GeZSomEZNDe1gXQv6PVc5X"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-KGVMt2osKgN1SB4cGw179n?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "265",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d6d86328-f085-48f5-804d-c5ee2bfc5fc1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.421"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-KGVMt2osKgN1SB4cGw179n"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_9f1NsdLk28vuNb4oXG4eZgKT?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "650",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a874fdd3-c924-49e7-b936-75412542f928",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.784"
      },
      "ResponseBody": {
        "id": "vs_9f1NsdLk28vuNb4oXG4eZgKT",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
