{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d40144fc-d9ab-4c5b-a3f9-bf754b843420",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.379"
      },
      "ResponseBody": {
        "id": "vs_Zgx7qZyUWEgIpwuOVfthUznO",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1748886818,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1748886818
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "2623",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "07ae2464-0b4a-46eb-82e3-5b76cb74f0cc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.843"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-GNEb3DL3eM7Afp5JMMX8vy",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1748886819,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Zgx7qZyUWEgIpwuOVfthUznO/file_batches?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-GNEb3DL3eM7Afp5JMMX8vy",
          "assistant-LnwhC1Y7Z68QRxaXxuzYf7"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "278",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b2e7da2b-4953-4c96-83cc-400d67dd1483",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.463"
      },
      "ResponseBody": {
        "id": "vsfb_62862ea6b06b406eacc7b1294afe5664",
        "object": "vector_store.file_batch",
        "created_at": 1748886823,
        "status": "in_progress",
        "vector_store_id": "vs_Zgx7qZyUWEgIpwuOVfthUznO",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Zgx7qZyUWEgIpwuOVfthUznO/file_batches/vsfb_62862ea6b06b406eacc7b1294afe5664?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "93",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "91277ab3-fa0e-4193-8bd1-df61fc7638a9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.304"
      },
      "ResponseBody": {
        "id": "vsfb_62862ea6b06b406eacc7b1294afe5664",
        "object": "vector_store.file_batch",
        "created_at": 1748886823,
        "status": "completed",
        "vector_store_id": "vs_Zgx7qZyUWEgIpwuOVfthUznO",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-GNEb3DL3eM7Afp5JMMX8vy?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "998",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "196110ad-c36f-4791-96a3-3b950b40c908",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.166"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-GNEb3DL3eM7Afp5JMMX8vy"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-LnwhC1Y7Z68QRxaXxuzYf7?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "453",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ee3283af-202d-41d7-8d02-5046326baca3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.654"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-LnwhC1Y7Z68QRxaXxuzYf7"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Zgx7qZyUWEgIpwuOVfthUznO?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2230",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f707c1cc-1a55-4ef1-91d9-39e015bbe487",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.378"
      },
      "ResponseBody": {
        "id": "vs_Zgx7qZyUWEgIpwuOVfthUznO",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
