{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ac9a1867-7476-4346-bf8b-968370fe212c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "aopc-ms-test-data",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourcegroups/shakrao-test?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/shakrao-test",
        "name": "shakrao-test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/shakrao-test/providers/Microsoft.Orbital/geoCatalogs/shakraotest1234?api-version=2025-02-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"e3015a29-0000-1100-0000-68547dfc0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/shakrao-test/providers/Microsoft.Orbital/geoCatalogs/shakraotest1234",
        "name": "shakraotest1234",
        "type": "microsoft.orbital/geocatalogs",
        "location": "uksouth",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-06-18T00:16:59.2493099Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-06-19T21:15:29.8157377Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/msi-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-test-uk-1": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "tier": "Basic",
          "catalogUri": "https://shakraotest1234.b0gffzd2ayhkcqct.uksouth.geocatalog.spatio-ppe.azure-test.net",
          "autoGeneratedDomainNameLabelScope": "TenantReuse",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1780987592",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ac9a1867-7476-4346-bf8b-968370fe212c"
  }
}
