{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ac9a1867-7476-4346-bf8b-968370fe212c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "aopc-ms-test-data",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourcegroups/shakrao-test?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/shakrao-test",
        "name": "shakrao-test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/shakrao-test/providers/Microsoft.Orbital/geoCatalogs?api-version=2025-02-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "4172dd5b-626f-4158-82ce-bc3dedebafa4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/shakrao-test/providers/Microsoft.Orbital/geoCatalogs/shakraotest1234",
            "name": "shakraotest1234",
            "type": "microsoft.orbital/geocatalogs",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-06-18T00:16:59.2493099Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-06-19T21:15:29.8157377Z"
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/msi-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi-test-uk-1": {
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                }
              }
            },
            "properties": {
              "tier": "Basic",
              "catalogUri": "https://shakraotest1234.b0gffzd2ayhkcqct.uksouth.geocatalog.spatio-ppe.azure-test.net",
              "autoGeneratedDomainNameLabelScope": "TenantReuse",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/shakrao-test/providers/Microsoft.Orbital/geoCatalogs/testcatalog-5599",
            "name": "testcatalog-5599",
            "type": "microsoft.orbital/geocatalogs",
            "location": "uksouth",
            "tags": {
              "env": "test"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-06-24T20:33:01.7388304Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-06-24T20:33:01.7388304Z"
            },
            "properties": {
              "tier": "Basic",
              "catalogUri": "https://testcatalog-5599.fserghg3gdb5d9ad.uksouth.geocat[...]
