{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ac9a1867-7476-4346-bf8b-968370fe212c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "aopc-ms-test-data",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/providers/Microsoft.Orbital/geoCatalogs?api-version=2025-02-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "6f051092-e3a4-46a1-9336-607f73f89c27",
          "7cfe45cc-15da-4a06-b1f7-2a10dd31d333"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/internal-testing/providers/Microsoft.Orbital/geoCatalogs/ppe-ch-1",
            "name": "ppe-ch-1",
            "type": "microsoft.orbital/geocatalogs",
            "location": "northcentralus",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-05-13T20:52:14.7955349Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-05-13T20:52:14.7955349Z"
            },
            "properties": {
              "tier": "Basic",
              "catalogUri": "https://ppe-ch-1.b5a5asdkbma8ened.northcentralus.geocatalog.spatio-ppe.azure-test.net",
              "provisioningState": "Succeeded",
              "autoGeneratedDomainNameLabelScope": "TenantReuse"
            }
          },
          {
            "id": "/subscriptions/ac9a1867-7476-4346-bf8b-968370fe212c/resourceGroups/shared/providers/Microsoft.Orbital/geoCatalogs/upgtestjun",
            "name": "upgtestjun",
            "type": "microsoft.orbital/geocatalogs",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-06-07T19:45:38[...]
