{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_main_analyzer_1774425672_5246?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test analyzer for extraction",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Schema for test",
          "fields": {
            "test_field": {
              "method": "extract",
              "type": "string",
              "description": "Test field"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_main_analyzer_1774425672_5246/operations/4fca9fbe-f8cd-458c-839b-7a5a7d01016c?api-version=2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "analyzerId": "test_main_analyzer_1774425672_5246",
        "description": "Test analyzer for extraction",
        "createdAt": "2026-03-25T08:01:17Z",
        "lastModifiedAt": "2026-03-25T08:01:17Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown",
          "_experimental": {
            "_chunkingStrategy": "noChunking",
            "_semanticConfigMaxChunkTokens": "250"
          }
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Schema for test",
          "fields": {
            "test_field": {
              "type": "string",
              "method": "extract",
              "description": "Test field"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano",
            "gpt-5.2"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_main_analyzer_1774425672_5246/operations/4fca9fbe-f8cd-458c-839b-7a5a7d01016c?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "4fca9fbe-f8cd-458c-839b-7a5a7d01016c",
        "status": "Running",
        "result": {
          "analyzerId": "test_main_analyzer_1774425672_5246",
          "description": "Test analyzer for extraction",
          "createdAt": "2026-03-25T08:01:17Z",
          "lastModifiedAt": "2026-03-25T08:01:17Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
            "enableFigureAn[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_main_analyzer_1774425672_5246?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "testAnalyzerId": "test_main_analyzer_1774425672_5246"
  }
}
