{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_main_analyzer_1770254402_19?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test analyzer for extraction",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Schema for test",
          "fields": {
            "test_field": {
              "method": "extract",
              "type": "string",
              "description": "Test field"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_main_analyzer_1770254402_19/operations/d6e66535-042b-4123-a36a-300ba992af40?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_main_analyzer_1770254402_19",
        "description": "Test analyzer for extraction",
        "createdAt": "2026-02-05T01:20:09Z",
        "lastModifiedAt": "2026-02-05T01:20:09Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Schema for test",
          "fields": {
            "test_field": {
              "type": "string",
              "method": "extract",
              "description": "Test field"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_main_analyzer_1770254402_19/operations/d6e66535-042b-4123-a36a-300ba992af40?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "d6e66535-042b-4123-a36a-300ba992af40",
        "status": "Running",
        "result": {
          "analyzerId": "test_main_analyzer_1770254402_19",
          "description": "Test analyzer for extraction",
          "createdAt": "2026-02-05T01:20:09Z",
          "lastModifiedAt": "2026-02-05T01:20:09Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
            "enableFigureAnal[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_main_analyzer_1770254402_19?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "testAnalyzerId": "test_main_analyzer_1770254402_19"
  }
}
