{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409275590507919x0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:45:55 GMT",
        "x-ms-meta-key": "val",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4A7D152390\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:45:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&prefix=share176409275590507919&maxresults=2&include=metadata,snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:45:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\"><Prefix>share176409275590507919</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>share176409275590507919x0</Name><Properties><Last-Modified>Tue, 25 Nov 2025 17:45:57 GMT</Last-Modified><Etag>\"0x8DE2C4A7D152390\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 25 Nov 2025 17:45:57 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share><Share><Name>share176409275590507919x1</Name><Properties><Last-Modified>Tue, 25 Nov 2025 17:45:57 GMT</Last-Modified><Etag>\"0x8DE2C4A7D42B0D5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 25 Nov 2025 17:45:57 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share></Shares><NextMarker>/fakestorageaccount/share176409275590507919x2/01DC5E335AF9A29B/9999-12-31T23:59:59.9999999Z</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&prefix=share176409275590507919&marker=%2Ffakestorageaccount%2Fshare176409275590507919x2%2F01DC5E335AF9A29B%2F9999-12-31T23%3A59%3A59.9999999Z&maxresults=2&include=metadata,snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:45:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\"><Prefix>share176409275590507919</Prefix><Marker>/fakestorageaccount/share176409275590507919x2/01DC5E335AF9A29B/9999-12-31T23:59:59.9999999Z</Marker><MaxResults>2</MaxResults><Shares><Share><Name>share176409275590507919x2</Name><Properties><Last-Modified>Tue, 25 Nov 2025 17:45:57 GMT</Last-Modified><Etag>\"0x8DE2C4A7D704B4A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 25 Nov 2025 17:45:57 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share><Share><Name>share176409275590507919x3</Name><Properties><Last-Modified>Tue, 25 Nov 2025 17:45:57 GMT</Last-Modified><Etag>\"0x8DE2C4A7D9DCAE1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 25 Nov 2025 17:45:57 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share></Shares><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409275590507919x3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:45:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share176409275590507919"
  }
}
