{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833125646101157x0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-key": "val",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D708367968\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/?comp=list&prefix=share176833125646101157&maxresults=2&include=metadata,snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.file.core.windows.net/\"><Prefix>share176833125646101157</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>share176833125646101157x0</Name><Properties><Last-Modified>Tue, 13 Jan 2026 19:07:44 GMT</Last-Modified><Etag>\"0x8DE52D708367968\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 13 Jan 2026 19:07:44 GMT</AccessTierChangeTime><EnableSmbDirectoryLease>true</EnableSmbDirectoryLease><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share><Share><Name>share176833125646101157x1</Name><Properties><Last-Modified>Tue, 13 Jan 2026 19:07:44 GMT</Last-Modified><Etag>\"0x8DE52D70847485C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 13 Jan 2026 19:07:44 GMT</AccessTierChangeTime><EnableSmbDirectoryLease>true</EnableSmbDirectoryLease><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share></Shares><NextMarker>/fakeaccountname/share176833125646101157x2/01DC84BFE5E08604/9999-12-31T23:59:59.9999999Z</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/?comp=list&prefix=share176833125646101157&marker=%2Ffakeaccountname%2Fshare176833125646101157x2%2F01DC84BFE5E08604%2F9999-12-31T23%3A59%3A59.9999999Z&maxresults=2&include=metadata,snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.file.core.windows.net/\"><Prefix>share176833125646101157</Prefix><Marker>/fakeaccountname/share176833125646101157x2/01DC84BFE5E08604/9999-12-31T23:59:59.9999999Z</Marker><MaxResults>2</MaxResults><Shares><Share><Name>share176833125646101157x2</Name><Properties><Last-Modified>Tue, 13 Jan 2026 19:07:44 GMT</Last-Modified><Etag>\"0x8DE52D7085722CE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 13 Jan 2026 19:07:44 GMT</AccessTierChangeTime><EnableSmbDirectoryLease>true</EnableSmbDirectoryLease><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share><Share><Name>share176833125646101157x3</Name><Properties><Last-Modified>Tue, 13 Jan 2026 19:07:44 GMT</Last-Modified><Etag>\"0x8DE52D7086771F2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 13 Jan 2026 19:07:44 GMT</AccessTierChangeTime><EnableSmbDirectoryLease>true</EnableSmbDirectoryLease><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share></Shares><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833125646101157x3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share176833125646101157"
  }
}
