{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Sql-RG-200?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200",
        "name": "Sql-RG-200",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1449?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/3189af3a-f64c-4849-bdab-b3fea85a67bc?api-version=2023-05-01\u0026t=638424721833872152\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5h[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/3189af3a-f64c-4849-bdab-b3fea85a67bc?api-version=**\u0026t=638424721833872152\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1449?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022c0c25be9-bb35-4f68-8108-1258b2e7de95\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "network-security-group-1449",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1449",
        "etag": "W/\u0022c0c25be9-bb35-4f68-8108-1258b2e7de95\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "f34b65c6-cfcb-459b-8da4-42d222971b67",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1449/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\u0022c0c25be9-bb35-4f68-8108-1258b2e7de95\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1449/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\u0022c0c25be9-bb35-4f68-8108-1258b2e7de95\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/routeTables/route-table-5940?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
       [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/55806eec-25ec-4724-ba1d-f0488263bc67?api-version=**\u0026t=638424721862501047\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/routeTables/route-table-5940?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223b87c4b1-4092-4b62-a125-27f515a3ee62\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "name": "route-table-5940",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/routeTables/route-table-5940",
        "etag": "W/\u00223b87c4b1-4092-4b62-a125-27f515a3ee62\u0022",
        "type": "Microsoft.Network/routeTables",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "ec8925f9-9519-4164-b109-7fbfd9fc0cf9",
          "disableBgpRoutePropagation": false,
          "routes": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/virtualNetworks/vnet-2933?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.10.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet01",
              "properties": {
                "addressPrefix": "10.10.1.0/24"
              }
            },
            {
              "name": "ManagedInstance",
              "properties": {
                "addressPrefix": "10.10.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1449",
                  "properties": {}
                },
                "routeTable": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/routeTables/route-table-5940",
                  "properties": {}
                },
                "delegations": [
                  {
                    "name": "Microsoft.Sql/managedInstances",
                    "type": "Microsoft.Sql/managedInstances",
                    "properties": {
                      "serviceName": "Microsoft.Sql/managedInstances"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/18723ab5-726c-4eff-b6b2-8ef9115b9021?api-version=2023-05-01\u0026t=6384247218[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/18723ab5-726c-4eff-b6b2-8ef9115b9021?api-version=**\u0026t=638424721893484778\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "administratorLogin": "admin-managed-instance-5405",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/virtualNetworks/vnet-2933/subnets/ManagedInstance",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "zoneRedundant": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "administratorLogin": "admin-managed-instance-5405",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "SystemDefault",
          "privateEndpointConnections": [],
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405",
        "name": "managed-instance-5405",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "administratorLogin": "admin-managed-instance-5405",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/virtualNetworks/vnet-2933/subnets/ManagedInstance",
          "state": "Creating",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405",
        "name": "managed-instance-5405",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "administratorLogin": "admin-managed-instance-5405",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/virtualNetworks/vnet-2933/subnets/ManagedInstance",
          "state": "Creating",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "dnsZone": "1606b9668119",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405",
        "name": "managed-instance-5405",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "fullyQualifiedDomainName": "managed-instance-5405.1606b9668119.database.windows.net",
          "administratorLogin": "admin-managed-instance-5405",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Network/virtualNetworks/vnet-2933/subnets/ManagedInstance",
          "state": "Creating",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "dnsZone": "1606b9668119",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405",
        "name": "managed-instance-5405",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405/keys/ServiceManaged?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "kind": "servicemanaged",
        "properties": {
          "serverKeyType": "ServiceManaged",
          "autoRotationEnabled": false
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405/keys/ServiceManaged",
        "name": "ServiceManaged",
        "type": "Microsoft.Sql/managedInstances/keys"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405/keys?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "servicemanaged",
            "properties": {
              "serverKeyType": "ServiceManaged",
              "autoRotationEnabled": false
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-200/providers/Microsoft.Sql/managedInstances/managed-instance-5405/keys/ServiceManaged",
            "name": "ServiceManaged",
            "type": "Microsoft.Sql/managedInstances/keys"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1372208656",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
