{
  "Entries": [
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_chat_client",
        "instructions": "You are a helpful chat agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "64",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2144555e-7b19-44ce-854c-9f79286b829b",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.127"
      },
      "ResponseBody": {
        "id": "asst_FS3RLS1CsHKmRwxcLC10gMDn",
        "object": "assistant",
        "created_at": 1765799824,
        "name": "cs_e2e_tests_chat_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful chat agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "65",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "91b43317-5e57-40c1-a57c-9d575164bc15",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.144"
      },
      "ResponseBody": {
        "id": "thread_oN0zKuZh1upGnOLLoipBiwXm",
        "object": "thread",
        "created_at": 1765799824,
        "metadata": {},
        "tool_resources": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project",
    "RandomSeed": "789238793"
  }
}
