{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_chat_client",
        "instructions": "You are a helpful chat agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "109",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "550d45bf-c7d6-45d2-8e90-97a410d351d3",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.330"
      },
      "ResponseBody": {
        "id": "asst_S61F6bHJRW0KIcGgBOtT0sve",
        "object": "assistant",
        "created_at": 1752254035,
        "name": "cs_e2e_tests_chat_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful chat agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "69",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b4228e15-c6a4-432e-a072-e38f323ddfb8",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.286"
      },
      "ResponseBody": {
        "id": "thread_W3to1wz3s8CNEILlgFG4l5rt",
        "object": "thread",
        "created_at": 1752254035,
        "metadata": {},
        "tool_resources": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb",
    "PROJECT_ENDPOINT": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb",
    "RandomSeed": "2011354559"
  }
}
