{
  "Entries": [
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_chat_client",
        "instructions": "You are a helpful chat agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f330919c-3837-4db3-ac0d-b6ae374fb64b",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.365"
      },
      "ResponseBody": {
        "id": "asst_wlrWPozsoOHTDyxoawwxQEBJ",
        "object": "assistant",
        "created_at": 1764249516,
        "name": "cs_e2e_tests_chat_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful chat agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "72",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b1a5d4c9-d6fb-42d2-b354-575cfa95fa9d",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.229"
      },
      "ResponseBody": {
        "id": "thread_B8Z5xIHrTlb9xVGFWjpDSkIU",
        "object": "thread",
        "created_at": 1764249517,
        "metadata": {},
        "tool_resources": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project",
    "RandomSeed": "1925150460"
  }
}
