{
  "Entries": [
    {
      "RequestUri": "https://dmytro-foundry-test.services.ai.azure.com/api/projects/dmytro-foundry-test/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_chat_client",
        "instructions": "You are a helpful chat agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "ccbaad8315924e1bbfc1021df0424a2f",
        "openai-processing-ms": "66",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "af2b15b7-9d8a-4010-ac3c-69e065d0ae20",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.182"
      },
      "ResponseBody": {
        "id": "asst_EMmRRQg6PVD5YablXxY56oFx",
        "object": "assistant",
        "created_at": 1752703040,
        "name": "cs_e2e_tests_chat_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful chat agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://dmytro-foundry-test.services.ai.azure.com/api/projects/dmytro-foundry-test/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "ccbaad8315924e1bbfc1021df0424a2f",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a4bca5dd-4d16-44da-ac68-20c8271ebbba",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.213"
      },
      "ResponseBody": {
        "id": "thread_yUAwCd1It98gd8crWV3B5EKR",
        "object": "thread",
        "created_at": 1752703040,
        "metadata": {},
        "tool_resources": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "https://dmytro-foundry-test.services.ai.azure.com/api/projects/dmytro-foundry-test",
    "PROJECT_ENDPOINT": "https://dmytro-foundry-test.services.ai.azure.com/api/projects/dmytro-foundry-test",
    "RandomSeed": "1304030412"
  }
}
