{
  "Entries": [
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_chat_client",
        "instructions": "You are a helpful chat agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "76",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9b281735-5f6b-4731-8b61-5cf6814e5162",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.153"
      },
      "ResponseBody": {
        "id": "asst_OV0cT5o0uEavQJaJBw9EUath",
        "object": "assistant",
        "created_at": 1765800081,
        "name": "cs_e2e_tests_chat_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful chat agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "76",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2c912f4c-e44e-436f-b47a-0fda6be6119c",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.150"
      },
      "ResponseBody": {
        "id": "thread_ORXmMbujfo9XKuC9vSe0l6YO",
        "object": "thread",
        "created_at": 1765800081,
        "metadata": {},
        "tool_resources": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project",
    "RandomSeed": "1113391870"
  }
}
