{
  "Entries": [
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_chat_client",
        "instructions": "You are a helpful chat agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "193dd0a5-e9e7-44d9-8a63-5c7ef0e9d815",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.176"
      },
      "ResponseBody": {
        "id": "asst_AWSnMKfttchS8Rp0Y3okESv9",
        "object": "assistant",
        "created_at": 1755804649,
        "name": "cs_e2e_tests_chat_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful chat agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "97",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d6b833bf-7019-4b84-96c2-a699b09ca745",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.206"
      },
      "ResponseBody": {
        "id": "thread_azt9PejwmvZ8o5haJWBdehiF",
        "object": "thread",
        "created_at": 1755804649,
        "metadata": {},
        "tool_resources": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project",
    "RandomSeed": "47330560"
  }
}
