{
  "Entries": [
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_chat_client",
        "instructions": "You are a helpful chat agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "20",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f6365966-a543-4c97-b07b-e3cfa09cf490",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.091"
      },
      "ResponseBody": {
        "id": "asst_TKHgp8IAj8ZYkHw7hcrguzid",
        "object": "assistant",
        "created_at": 1764617384,
        "name": "cs_e2e_tests_chat_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful chat agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-organization": "12c9124efd0a412494e3273a400ce8f7",
        "openai-processing-ms": "21",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c9207c5a-d3b0-45d2-9ff1-1091b05eff76",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.091"
      },
      "ResponseBody": {
        "id": "thread_YZMuBHRiLLbpZgooEjXrHpxE",
        "object": "thread",
        "created_at": 1764617385,
        "metadata": {},
        "tool_resources": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://ai-rogermaas191358140996.services.ai.azure.com/api/projects/ai-rogermaas19135814099-project",
    "RandomSeed": "963067089"
  }
}
