{
  "Entries": [
    {
      "RequestUri": "https://bidishac-scus.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "kind": "Conversation",
        "analysisInput": {
          "conversationItem": {
            "id": "1",
            "participantId": "participant1",
            "text": "Send an email to Carol about tomorrow's demo"
          }
        },
        "parameters": {
          "projectName": "TestSDK2",
          "deploymentName": "production",
          "stringIndexType": "Utf16CodeUnit"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.ConversationalLanguageUnderstanding.Prediction=1",
        "x-ms-region": "South Central US"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about tomorrow's demo",
          "prediction": {
            "topIntent": "Send",
            "projectKind": "Conversation",
            "intents": [
              {
                "category": "Send",
                "confidenceScore": 0.9555552
              },
              {
                "category": "None",
                "confidenceScore": 0
              }
            ],
            "entities": [
              {
                "category": "Person",
                "text": "Carol",
                "offset": 17,
                "length": 5,
                "confidenceScore": 1,
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "person.name",
                    "tags": [
                      {
                        "name": "Person",
                        "confidenceScore": 1
                      }
                    ]
                  }
                ]
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_DEPLOYMENT_NAME": "production",
    "CONVERSATIONS_ENDPOINT": "https://bidishac-scus.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_PROJECT_NAME": "TestSDK2",
    "RandomSeed": "910513091"
  }
}
