{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "kind": "Conversation",
        "analysisInput": {
          "conversationItem": {
            "id": "1",
            "participantId": "participant1",
            "text": "Send an email to Carol about tomorrow's demo"
          }
        },
        "parameters": {
          "projectName": "EmailApp",
          "deploymentName": "production",
          "stringIndexType": "Utf16CodeUnit"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.ConversationalLanguageUnderstanding.Prediction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about tomorrow's demo",
          "prediction": {
            "topIntent": "SendEmail",
            "projectKind": "Conversation",
            "intents": [
              {
                "category": "SendEmail",
                "confidenceScore": 0.9541966
              },
              {
                "category": "SearchMessages",
                "confidenceScore": 0.8154533
              },
              {
                "category": "Confirm",
                "confidenceScore": 0.79047936
              },
              {
                "category": "AddMore",
                "confidenceScore": 0.76170397
              },
              {
                "category": "Cancel",
                "confidenceScore": 0.75729924
            [...]
