{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "28",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bc17a24c-fed6-4ce7-9e42-6edadbaf6010",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.130"
      },
      "ResponseBody": {
        "id": "thread_pUsHYAJPtQ8DIZh8Ofvcukyz",
        "object": "thread",
        "created_at": 1746663490,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_pUsHYAJPtQ8DIZh8Ofvcukyz?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "94",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b7c9716f-e6b7-4057-ae62-57e4dbfce88c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.211"
      },
      "ResponseBody": {
        "id": "thread_pUsHYAJPtQ8DIZh8Ofvcukyz",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
