{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "33",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a608765f-2f9d-4f3d-a762-b9ae7a6c8d5f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.162"
      },
      "ResponseBody": {
        "id": "thread_RIIBNMRZzkHMGXpmaQ76KXLl",
        "object": "thread",
        "created_at": 1746746934,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_RIIBNMRZzkHMGXpmaQ76KXLl?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "141",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "57bfc253-5dab-4338-9868-68f106ed3b8c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.310"
      },
      "ResponseBody": {
        "id": "thread_RIIBNMRZzkHMGXpmaQ76KXLl",
        "object": "thread",
        "created_at": 1746746934,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_RIIBNMRZzkHMGXpmaQ76KXLl?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e03b4c18-c141-4f22-803b-11114d8ceedc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.227"
      },
      "ResponseBody": {
        "id": "thread_RIIBNMRZzkHMGXpmaQ76KXLl",
        "object": "thread",
        "created_at": 1746746934,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_RIIBNMRZzkHMGXpmaQ76KXLl?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "99aa7788-4c14-4bfa-a989-47240c6a0353",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.236"
      },
      "ResponseBody": {
        "id": "thread_RIIBNMRZzkHMGXpmaQ76KXLl",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
