{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "24",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "551b3fe3-ac75-4fbb-a6bf-ec9a32342cb6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.446"
      },
      "ResponseBody": {
        "id": "thread_E7x5X5nfjVbrRACAwZVBy9mX",
        "object": "thread",
        "created_at": 1747727596,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_E7x5X5nfjVbrRACAwZVBy9mX?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "105",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "362cd887-166d-443c-9087-b651319701f4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.478"
      },
      "ResponseBody": {
        "id": "thread_E7x5X5nfjVbrRACAwZVBy9mX",
        "object": "thread",
        "created_at": 1747727596,
        "metadata": {},
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_E7x5X5nfjVbrRACAwZVBy9mX?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "37",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "50e0c53c-ef15-457f-9efd-34382d5ad380",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.304"
      },
      "ResponseBody": {
        "id": "thread_E7x5X5nfjVbrRACAwZVBy9mX",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
