{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "21",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "97022838-489b-434a-8445-2a0bb7e1e4e1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.174"
      },
      "ResponseBody": {
        "id": "thread_Xi72B3J8Fs9tvDrCwpeRjrgM",
        "object": "thread",
        "created_at": 1747428396,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_Xi72B3J8Fs9tvDrCwpeRjrgM?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "118",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "85e6d4d0-9bac-427c-8f53-662bb6a8f914",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.318"
      },
      "ResponseBody": {
        "id": "thread_Xi72B3J8Fs9tvDrCwpeRjrgM",
        "object": "thread",
        "created_at": 1747428396,
        "metadata": {},
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_Xi72B3J8Fs9tvDrCwpeRjrgM?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7de570e9-6abb-4f7c-b0f1-7f47f03843b4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.279"
      },
      "ResponseBody": {
        "id": "thread_Xi72B3J8Fs9tvDrCwpeRjrgM",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
