{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "09f93314-db9b-495b-88fa-2b977a825611",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.398"
      },
      "ResponseBody": {
        "id": "thread_AJq4OWUFkGvAMwuntWbjxBna",
        "object": "thread",
        "created_at": 1747428402,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_AJq4OWUFkGvAMwuntWbjxBna?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "199",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fbb8b4f7-5d6e-4cd8-9f30-afa254da6305",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.449"
      },
      "ResponseBody": {
        "id": "thread_AJq4OWUFkGvAMwuntWbjxBna",
        "object": "thread",
        "created_at": 1747428402,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_AJq4OWUFkGvAMwuntWbjxBna?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f62affeb-47c2-4e69-9486-ca5cd7bec90e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.359"
      },
      "ResponseBody": {
        "id": "thread_AJq4OWUFkGvAMwuntWbjxBna",
        "object": "thread",
        "created_at": 1747428402,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_AJq4OWUFkGvAMwuntWbjxBna?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "77",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f6db2e58-ccbc-4577-874b-999393389997",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.384"
      },
      "ResponseBody": {
        "id": "thread_AJq4OWUFkGvAMwuntWbjxBna",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
