{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "25",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9cabb5d4-6bf9-4866-bba3-633df8f97ddb",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.205"
      },
      "ResponseBody": {
        "id": "thread_p7l6qqRwcyTqdeltYB0HvEJd",
        "object": "thread",
        "created_at": 1745972530,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_p7l6qqRwcyTqdeltYB0HvEJd?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fc3711cb-4022-4b48-b099-72365145a84e",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.202"
      },
      "ResponseBody": {
        "id": "thread_p7l6qqRwcyTqdeltYB0HvEJd",
        "object": "thread",
        "created_at": 1745972530,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_p7l6qqRwcyTqdeltYB0HvEJd?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fa3d2671-6256-4b86-ad88-208a7121f2c7",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.211"
      },
      "ResponseBody": {
        "id": "thread_p7l6qqRwcyTqdeltYB0HvEJd",
        "object": "thread",
        "created_at": 1745972530,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_p7l6qqRwcyTqdeltYB0HvEJd?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "114",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "931c1775-36e2-4fb7-b9c4-2f636124da2e",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.273"
      },
      "ResponseBody": {
        "id": "thread_p7l6qqRwcyTqdeltYB0HvEJd",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
