{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "99",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "48523146-b7ba-495f-8b97-67c82663ea8b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.196"
      },
      "ResponseBody": {
        "id": "thread_kGir2gRCLIY7xqPTLrPyusiJ",
        "object": "thread",
        "created_at": 1749159543,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_kGir2gRCLIY7xqPTLrPyusiJ?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "162",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b5b64a37-e08c-4cfb-b5a6-2af0684f1da7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.256"
      },
      "ResponseBody": {
        "id": "thread_kGir2gRCLIY7xqPTLrPyusiJ",
        "object": "thread",
        "created_at": 1749159543,
        "metadata": {},
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_kGir2gRCLIY7xqPTLrPyusiJ?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "150",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "456e4628-d236-466b-8b97-4b40392c0dde",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.266"
      },
      "ResponseBody": {
        "id": "thread_kGir2gRCLIY7xqPTLrPyusiJ",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
