{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "00d3afb7-af0f-4c37-aa38-e48144b079ae",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.211"
      },
      "ResponseBody": {
        "id": "thread_pHyXXyDZDp3Y9dVWQIo1zgLi",
        "object": "thread",
        "created_at": 1746746940,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_pHyXXyDZDp3Y9dVWQIo1zgLi?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "155",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4753e8f1-dead-486a-a86a-afadb6c50f9a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.267"
      },
      "ResponseBody": {
        "id": "thread_pHyXXyDZDp3Y9dVWQIo1zgLi",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
