{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "112",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "96cde926-2300-4a11-a5b4-fe5d6f4ab729",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.424"
      },
      "ResponseBody": {
        "id": "thread_l9YJL8lbSUJ1XiyTCntiTt2K",
        "object": "thread",
        "created_at": 1747436072,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_l9YJL8lbSUJ1XiyTCntiTt2K?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e416e0a4-f669-4df3-b3ca-bf42c3d3bb9f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.599"
      },
      "ResponseBody": {
        "id": "thread_l9YJL8lbSUJ1XiyTCntiTt2K",
        "object": "thread",
        "created_at": 1747436072,
        "metadata": {},
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_l9YJL8lbSUJ1XiyTCntiTt2K?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "db718f32-658f-42fd-9e22-470626af8e97",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.459"
      },
      "ResponseBody": {
        "id": "thread_l9YJL8lbSUJ1XiyTCntiTt2K",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
