{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8e61d401-abe1-46f6-a293-55d11b6b0a2a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.533"
      },
      "ResponseBody": {
        "id": "thread_0XdbbfTO106G5bOzuuR6mILm",
        "object": "thread",
        "created_at": 1747977498,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_0XdbbfTO106G5bOzuuR6mILm?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4162c5d4-d43b-4321-bf20-a89ad37aff40",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.344"
      },
      "ResponseBody": {
        "id": "thread_0XdbbfTO106G5bOzuuR6mILm",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
