{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "107",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e6d296cc-9c1e-41cb-bc0f-a6628a25efc4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.661"
      },
      "ResponseBody": {
        "id": "thread_sSz96S5vvh2mSnCZnBrngZXV",
        "object": "thread",
        "created_at": 1747428390,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_sSz96S5vvh2mSnCZnBrngZXV?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "baed326d-d0f2-45ab-a9dd-d7199a76b947",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.454"
      },
      "ResponseBody": {
        "id": "thread_sSz96S5vvh2mSnCZnBrngZXV",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
