{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cdc50fa2-6792-4d8a-9ab6-a2802d3fd4c1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.189"
      },
      "ResponseBody": {
        "id": "thread_kfwsMFiAnuGk9MNUDMkUQ8AT",
        "object": "thread",
        "created_at": 1746740386,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_kfwsMFiAnuGk9MNUDMkUQ8AT?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "58",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "47f44e11-138a-4397-8bb6-7857211aca49",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.401"
      },
      "ResponseBody": {
        "id": "thread_kfwsMFiAnuGk9MNUDMkUQ8AT",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
