{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "103",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f32283db-abe5-494a-8e08-eb405178c519",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.704"
      },
      "ResponseBody": {
        "id": "thread_hyfNZDYMSZJL67IexxC0T7lt",
        "object": "thread",
        "created_at": 1746168328,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_hyfNZDYMSZJL67IexxC0T7lt?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "140",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c39fd256-a340-4f6f-bd15-d51d42c0a2fc",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.364"
      },
      "ResponseBody": {
        "id": "thread_hyfNZDYMSZJL67IexxC0T7lt",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
