{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/managedClusters?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "15857ef1-64f2-4afb-9168-dc838b629342",
          "4389c601-7bf7-4191-9cff-c15b28c918f1",
          "53865176-bbdc-4c33-94dc-eb3c640701a8"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-stress-cluster-storage/providers/Microsoft.ContainerService/managedClusters/stress-storage",
            "location": "southcentralus",
            "name": "Sanitized",
            "tags": {
              "DoNotDelete": "",
              "environment": "storage",
              "owners": "bebroder,ripark",
              "purpose": "stress and load testing for storage SDKs"
            },
            "type": "Microsoft.ContainerService/ManagedClusters",
            "properties": {
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "kubernetesVersion": "1.32.4",
              "currentKubernetesVersion": "1.32.4",
              "dnsPrefix": "s1",
              "fqdn": "s1-xj71ojrb.hcp.southcentralus.azmk8s.io",
              "azurePortalFQDN": "s1-xj71ojrb.portal.hcp.southcentralus.azmk8s.io",
              "agentPoolProfiles": [
                {
                  "name": "Sanitized",
                  "count": 1,
                  "vmSize": "Standard_D4ads_v6",
                  "osDiskSizeGB": 220,
                  "osDiskType": "Ephemeral",
                  "kubeletDiskType": "OS",
                  "maxPods": 110,
                  "type": "VirtualMachineScaleSets",
                  "maxCount": 4,
                  "minCount": 1,
                  "enableAutoScaling": true,
                  "scaleDownMode": "Delete",
                  "provisioningState": "Succeeded",
                  "powerState": {
                    "code": "Running"
                  },
                  "orchestratorVersion": "1.32.4",
                  "currentOrchestratorVersion": "1.32.4",
                  "enableNodePublicIP": false,
                  "nodeLabels": {
                    "sku": "system"
                  },
                  "mode": "System",
                  "osType": "Linux",
                  "osSKU": "Ubuntu",
                  "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202505.14.0",
                  "upgradeSettings": {
                    "maxSurge": "10%"
                  },
                  "enableFIPS": false
                },
                {
                  "name": "Sanitized",
                  "count": 10,
                  "vmSize": "Standard_D8ads_v6",
                  "osDiskSizeGB": 440,
                  "osDiskType": "Ephemeral",
                  "kubeletDiskType": "OS",
                  "maxPods": 110,
                  "type": "VirtualMachineScaleSets",
                  "maxCount": 10,
                  "minCount": 1,
                  "enableAutoScaling": true,
                  "scaleDownMode": "Delete",
                  "provisioningState": "Succeeded",
                  "powerState": {
                    "code": "Running"
                  },
                  "orchestratorVersion": "1.32.4",
                  "currentOrchestratorVersion": "1.32.4",
                  "enableNodePublicIP": false,
                  "nodeLabels": {
                    "sku": "default"
                  },
                  "mode": "User",
                  "osType": "Linux",
                  "osSKU": "Ubuntu",
                  "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202505.14.0",
                  "upgradeSettings": {
                    "maxSurge": "10%"
                  },
                  "enableFIPS": false
                }
              ],
              "servicePrincipalProfile": {
                "clientId": "00000000-0000-0000-0000-000000000000"
              },
              "addonProfiles": {
                "azureKeyvaultSecretsProvider": {
                  "enabled": true,
                  "config": null,
                  "identity": {
                    "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azurekeyvaultsecretsprovider-stress-storage",
                    "clientId": "00000000-0000-0000-0000-000000000000",
                    "objectId": "8daf7e6b-4361-45d0-a15d-1e4e688052ea"
                  }
                },
                "azurepolicy": {
                  "enabled": true,
                  "config": null,
                  "identity": {
                    "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azurepolicy-stress-storage",
                    "clientId": "00000000-0000-0000-0000-000000000000",
                    "objectId": "6f4874ba-cde7-4c3e-a839-767d2f904393"
                  }
                },
                "omsagent": {
                  "enabled": true,
                  "config": {
                    "logAnalyticsWorkspaceResourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-stress-cluster-storage/providers/Microsoft.OperationalInsights/workspaces/stress-storage-logs-e27xlxyuvk34k"
                  },
                  "identity": {
                    "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/omsagent-stress-storage",
                    "clientId": "00000000-0000-0000-0000-000000000000",
                    "objectId": "1d4fc46e-8795-4c75-9fd1-4935f59ba7aa"
                  }
                }
              },
              "nodeResourceGroup": "rg-nodes-s1-stress-storage-storage",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
                "networkPlugin": "kubenet",
                "loadBalancerSku": "standard",
                "loadBalancerProfile": {
                  "managedOutboundIPs": {
                    "count": 1
                  },
                  "effectiveOutboundIPs": [
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-nodes-s1-stress-storage-storage/providers/Microsoft.Network/publicIPAddresses/abdfe4d3-3b04-43e8-89a8-c9716f639572"
                    }
                  ],
                  "backendPoolType": "nodeIPConfiguration"
                },
                "podCidr": "10.244.0.0/16",
                "serviceCidr": "10.0.0.0/16",
                "dnsServiceIP": "10.0.0.10",
                "outboundType": "loadBalancer",
                "podCidrs": [
                  "10.244.0.0/16"
                ],
                "serviceCidrs": [
                  "10.0.0.0/16"
                ],
                "ipFamilies": [
                  "IPv4"
                ]
              },
              "maxAgentPools": 100,
              "identityProfile": {
                "kubeletidentity": {
                  "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/stress-storage-agentpool",
                  "clientId": "00000000-0000-0000-0000-000000000000",
                  "objectId": "7069c751-a820-4c1b-a187-f83ff63e9f78"
                }
              },
              "autoScalerProfile": {
                "balance-similar-node-groups": "false",
                "expander": "random",
                "max-empty-bulk-delete": "10",
                "max-graceful-termination-sec": "600",
                "max-node-provision-time": "15m",
                "max-total-unready-percentage": "45",
                "new-pod-scale-up-delay": "0s",
                "ok-total-unready-count": "3",
                "scale-down-delay-after-add": "10m",
                "scale-down-delay-after-delete": "10s",
                "scale-down-delay-after-failure": "3m",
                "scale-down-unneeded-time": "10m",
                "scale-down-unready-time": "20m",
                "scale-down-utilization-threshold": "0.5",
                "scan-interval": "10s",
                "skip-nodes-with-local-storage": "false",
                "skip-nodes-with-system-pods": "true"
              },
              "autoUpgradeProfile": {
                "nodeOSUpgradeChannel": "SecurityPatch"
              },
              "securityProfile": {
                "imageCleaner": {
                  "enabled": true,
                  "intervalHours": 24
                },
                "workloadIdentity": {
                  "enabled": true
                }
              },
              "storageProfile": {
                "diskCSIDriver": {
                  "enabled": true
                },
                "fileCSIDriver": {
                  "enabled": true
                },
                "snapshotController": {
                  "enabled": true
                }
              },
              "oidcIssuerProfile": {
                "enabled": true,
                "issuerURL": "https://southcentralus.oic.prod-aks.azure.com/70a036f6-8e4d-4615-bad6-149c02e7720d/b5e7dc96-dee7-4765-bccc-c18a50ecfa13/"
              },
              "workloadAutoScalerProfile": {},
              "azureMonitorProfile": {},
              "resourceUID": "6788232346f03b00019d97d3"
            },
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "sku": {
              "name": "Sanitized",
              "tier": "Free"
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-stress-cluster-storage/providers/Microsoft.ContainerService/managedClusters/stress-storage",
            "location": "southcentralus",
            "name": "Sanitized",
            "tags": {
              "DoNotDelete": "",
              "environment": "storage",
              "owners": "bebroder,ripark",
              "purpose": "stress and load testing f[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/managedClusters?api-version=2023-10-01&%24skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "369dd7fb-d034-4de8-956d-49f0a0806ddb",
          "a8f00294-e074-41be-996c-d6ba670c0611",
          "69a9fe76-67a0-44d3-8549-c9dbb8a7b5a2"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-stress-cluster-storage?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-stress-cluster-storage",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "tags": {
          "environment": "storage",
          "owners": "bebroder,ripark",
          "purpose": "stress and load testing for storage SDKs",
          "DoNotDelete": ""
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-stress-cluster-storage/providers/Microsoft.ContainerService/managedClusters/stress-storage?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-s[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-stress-cluster-storage/providers/Microsoft.ContainerService/managedClusters/stress-storage/agentPools?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-stress-cluster-storage/providers/Microsoft.ContainerService/managedClusters/stress-storage/agentPools?%24skipToken=3323483&api-version=2023-10-01&skipToken=3323483",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "firstClusterName": "stress-storage",
    "firstResourceGroupName": "rg-stress-cluster-storage"
  }
}
