{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/managedClusters?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "a0574e62-9c4b-4dc5-9764-ab94e57d6ade",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-stress-cluster-storage/providers/Microsoft.ContainerService/managedClusters/stress-storage",
            "location": "southcentralus",
            "name": "Sanitized",
            "tags": {
              "DoNotDelete": "",
              "environment": "storage",
              "owners": "bebroder,ripark",
              "purpose": "stress and load testing for storage SDKs"
            },
            "type": "Microsoft.ContainerService/ManagedClusters",
            "properties": {
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "kubernetesVersion": "1.32.4",
              "currentKubernetesVersion": "1.32.4",
              "dnsPrefix": "s1",
              "fqdn": "s1-ljbuafpj.hcp.southcentralus.azmk8s.io",
              "azurePortalFQDN": "s1-ljbuafpj.portal.hcp.southcentralus.azmk8s.io",
              "agentPoolProfiles": [
                {
                  "name": "Sanitized",
                  "count": 1,
                  "vmSize": "Standard_D4ads_v6",
                  "osDiskSizeGB": 220,
                  "osDiskType": "Ephemeral",
                  "kubeletDiskType": "OS",
                  "maxPods": 250,
                  "type": "VirtualMachineScaleSets",
                  "maxCount": 4,
                  "minCount": 1,
                  "enableAutoScaling": true,
                  "scaleDownMode": "Delete",
                  "provisioningState": "Succeeded",
                  "powerState": {
                    "code": "Running"
                  },
                  "orchestratorVersion": "1.32.4",
                  "currentOrchestratorVersion": "1.32.4",
                  "enableNodePublicIP": false,
                  "nodeLabels": {
                    "sku": "system"
                  },
                  "mode": "System",
                  "enableEncryptionAtHost": true,
                  "osType": "Linux",
                  "osSKU": "AzureLinux",
                  "nodeImageVersion": "AKSAzureLinux-V3gen2-202511.07.0",
                  "upgradeSettings": {
                    "maxSurge": "10%"
                  },
                  "enableFIPS": false
                },
                {
                  "name": "Sanitized",
                  "count": 1,
                  "vmSize": "Standard_D8ads_v6",
                  "osDiskSizeGB": 440,
                  "osDiskType": "Ephemeral",
                  "kubeletDiskType": "OS",
                  "maxPods": 250,
                  "type": "VirtualMachineScaleSets",
                  "maxCount": 10,
                  "minCount": 1,
                  "enableAutoScaling": true,
                  "scaleDownMode": "Delete",
                  "provisioningState": "Succeeded",
                  "powerState": {
                    "code": "Running"
                  },
                  "orchestratorVersion": "1.32.4",
                  "currentOrchestratorVersion": "1.32.4",
                  "enableNodePublicIP": false,
                  "nodeLabels": {
                    "sku": "default"
                  },
                  "mode": "User",
                  "enableEncryptionAtHost": true,
                  "osType": "Linux",
                  "osSKU": "AzureLinux",
                  "nodeImageVersion": "AKSAzureLinux-V3gen2-202511.07.0",
                  "upgradeSettings": {
                    "maxSurge": "10%"
                  },
                  "enableFIPS": false
                }
              ],
              "servicePrincipalProfile": {
                "clientId": "00000000-0000-0000-0000-000000000000"
              },
              "addonProfiles": {
                "azureKeyvaultSecretsProvider": {
                  "enabled": true,
                  "config": null,
                  "identity": {
                    "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azurekeyvaultsecretsprovider-stress-storage",
                    "clientId": "00000000-0000-0000-0000-000000000000",
                    "objectId": "24fecc44-3854-4b2a-a8a8-8dc8190e66b0"
                  }
                },
                "azurepolicy": {
                  "enabled": true,
                  "config": null,
                  "identity": {
                    "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azurepolicy-stress-storage",
                    "clientId": "00000000-0000-0000-0000-000000000000",
                    "objectId": "6aadbfd4-34d0-448c-a054-b8502fe54e99"
                  }
                },
                "omsagent": {
                  "enabled": true,
                  "config": {
                    "logAnalyticsWorkspaceResourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-stress-cluster-storage/providers/Microsoft.OperationalInsights/workspaces/stress-storage-logs-lkxxtjuf245tm"
                  },
                  "identity": {
                    "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/omsagent-stress-storage",
                    "clientId": "00000000-0000-0000-0000-000000000000",
                    "objectId": "391865eb-9c95-41f3-abc6-aa554b776577"
                  }
                }
              },
              "nodeResourceGroup": "SSS3PT_rg-nodes-s1-stress-storage-storage",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
                "networkPlugin": "azure",
                "networkPluginMode": "overlay",
                "networkDataplane": "azure",
                "loadBalancerSku": "standard",
                "loadBalancerProfile": {
                  "managedOutboundIPs": {
                    "count": 1
                  },
                  "effectiveOutboundIPs": [
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.Network/publicIPAddresses/9e94639b-d989-4704-acf4-9878d51ff81f"
                    }
                  ],
                  "backendPoolType": "nodeIPConfiguration"
                },
                "podCidr": "10.244.0.0/16",
                "serviceCidr": "10.0.0.0/16",
                "dnsServiceIP": "10.0.0.10",
                "outboundType": "loadBalancer",
                "podCidrs": [
                  "10.244.0.0/16"
                ],
                "serviceCidrs": [
                  "10.0.0.0/16"
                ],
                "ipFamilies": [
                  "IPv4"
                ]
              },
              "maxAgentPools": 100,
              "identityProfile": {
                "kubeletidentity": {
                  "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/stress-storage-agentpool",
                  "clientId": "00000000-0000-0000-0000-000000000000",
                  "objectId": "de99feea-0df8-429d-b67e-a6d183c634c2"
                }
              },
              "autoScalerProfile": {
                "balance-similar-node-groups": "false",
                "expander": "random",
                "max-empty-bulk-delete": "10",
                "max-graceful-termination-sec": "600",
                "max-node-provision-time": "15m",
                "max-total-unready-percentage": "45",
                "new-pod-scale-up-delay": "0s",
                "ok-total-unready-count": "3",
                "scale-down-delay-after-add": "10m",
                "scale-down-delay-after-delete": "10s",
                "scale-down-delay-after-failure": "3m",
                "scale-down-unneeded-time": "10m",
                "scale-down-unready-time": "20m",
                "scale-down-utilization-threshold": "0.5",
                "scan-interval": "10s",
                "skip-nodes-with-local-storage": "false",
                "skip-nodes-with-system-pods": "true"
              },
              "autoUpgradeProfile": {
                "nodeOSUpgradeChannel": "SecurityPatch"
              },
              "securityProfile": {
                "imageCleaner": {
                  "enabled": true,
                  "intervalHours": 24
                },
                "workloadIdentity": {
                  "enabled": true
                }
              },
              "storageProfile": {
                "diskCSIDriver": {
                  "enabled": true
                },
                "fileCSIDriver": {
                  "enabled": true
                },
                "snapshotController": {
                  "enabled": true
                }
              },
              "oidcIssuerProfile": {
                "enabled": true,
                "issuerURL": "https://southcentralus.oic.prod-aks.azure.com/70a036f6-8e4d-4615-bad6-149c02e7720d/51ab5b08-e986-4388-a81a-0ab22fed9736/"
              },
              "workloadAutoScalerProfile": {},
              "azureMonitorProfile": {},
              "resourceUID": "6931f68ae12b0e0001d17397"
            },
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "sku": {
              "name": "Sanitized",
              "tier": "Free"
            }
          }
        ],
        "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/managedClusters?api-version=2023-10-01&%24skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/managedClusters?api-version=2023-10-01&%24skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "541b8fbe-be77-4ddf-8b21-d7edc451fcc7",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-stress-cluster-storage",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "tags": {
          "environment": "storage",
          "owners": "bebroder,ripark",
          "purpose": "stress and load testing for storage SDKs",
          "DoNotDelete": ""
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/stress-storage?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-glob[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/stress-storage/agentPools?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscr[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/stress-storage/agentPools?%24skipToken=4054904&api-version=2023-10-01&skipToken=4054904",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/stress-storage/agentPools/systemap?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaini[...]
