{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1828?api-version=2023-11-01&label=label-1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ttDYkZRa0om3n2MG8WAzvIdjFglsMP33hhumd78oF04\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4NzczNg==;sn=115287736",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "ttDYkZRa0om3n2MG8WAzvIdjFglsMP33hhumd78oF04",
        "key": ".appconfig.featureflag/name-1828",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1828?api-version=2023-11-01&label=label-1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4NzczNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ttDYkZRa0om3n2MG8WAzvIdjFglsMP33hhumd78oF04\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4NzczNw==;sn=115287737",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "ttDYkZRa0om3n2MG8WAzvIdjFglsMP33hhumd78oF04",
        "key": ".appconfig.featureflag/name-1828",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
[...]
