{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6c9f5996-a0d4-d47f-7a1f-d5f917a66ad6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D113F93B334\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6c9f5996-a0d4-d47f-7a1f-d5f917a66ad6/test-blob-ce50ec92-b4f0-f9b0-f624-83cafd4057b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "gs3RhM4AppxteLPoNgSSifCagF3YspbN9rY6iYKIAWP7NG3squFUEwsM7FxveVcnbZ1xpSoRPNA2A44YxRwa5XdQ7QKXpd4ORWxRzMU6XnxeEhzkFls46fictqdTPE3v8gflH4xVj8e+Yl+9wHAL+6URurP/Nc4bFwMK++83uwkfYdq9VT7wCYJVJrP8eymHkboBQYGa77w4yQiJS5TXhqZVnl6VTaZnIbAwqg4aH5vZgmk1NnqHhHIdhYs1Zr7ufZ8Npt3L8UMTmiDRakWuHapsr8kqolAszhnseMgaMbryQixvDXm+DpAmIZxZthosb2fhybb1w9pP4NjD3nl7+Ghl3igZPw8xrqE4BIG00hf/wAlgOWgD/X5RHy2h+y8Xqigz89jyEy9YsBoVvL5Zmw3Awx5vGr8AYuCpxx/[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6c9f5996-a0d4-d47f-7a1f-d5f917a66ad6/test-blob-ce50ec92-b4f0-f9b0-f624-83cafd4057b4?sv=Sanitized&se=2025-03-08T00%3A44%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "R9K2p4nukATEIrN3jS5lGw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D113FA61273\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1fb0a7a0-15a0-3ce6-0748-218141e6dc88/test-blob-4c4c039f-8876-c7eb-a0f9-a0ed43b8b7ed?sv=Sanitized&se=2025-03-08T00%3A44%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D113FBC40B0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1fb0a7a0-15a0-3ce6-0748-218141e6dc88/test-blob-4c4c039f-8876-c7eb-a0f9-a0ed43b8b7ed?sv=Sanitized&se=2025-03-08T00%3A44%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6c9f5996-a0d4-d47f-7a1f-d5f917a66ad6/test-blob-ce50ec92-b4f0-f9b0-f624-83cafd4057b4?sv=sanitized-value&se=2025-03-08T00%3A44%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D113FC55E38\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "OTtTQd4OOZE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6c9f5996-a0d4-d47f-7a1f-d5f917a66ad6/test-blob-ce50ec92-b4f0-f9b0-f624-83cafd4057b4?sv=Sanitized&se=2025-03-08T00%3A44%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D113FA61273\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D113FA61273\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-blob-content-md5": "R9K2p4nukATEIrN3jS5lGw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "gs3RhM4AppxteLPoNgSSifCagF3YspbN9rY6i[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6c9f5996-a0d4-d47f-7a1f-d5f917a66ad6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:44:42.0653314-08:00",
    "RandomSeed": "831100969",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
