{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-917fd236-8f70-be33-7f5f-a2542b20cfe6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619E062159\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-917fd236-8f70-be33-7f5f-a2542b20cfe6/test-blob-5f9d2eab-efc0-9815-3690-bf78b4f38c6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "PeIFC+ZjRt9v1bqCpZy24ZYWuBY2DoJCJxt0yaqcngA1CzrsvoFg+FCv4YNADmdQQoJ+7fvS9i5gwuTK7nw10za5TJlhyiMUtsDGhi3/ARmzJIYnHbEEYxULjPudlQnTeg1MhsLN7nheajc7C3ABYcDLF8n1DbWFtOiEVT4odyC28gsfsntW5jYOybN5yVekCio60n5A3W1Yx9HZSZg6NfIWhBlk4a9FdDCT50QCC+uR30sT7qWidRSex+upfZyd1JPAY0Q+QCh79F1NrPYoVrvmSGlNJkdNdA8ExRrDnPeU9hOxQaimUp8imPlHVMkedXEwwjQzT61Lcu41OnoOt1hmubbjdxQSQPXJKo5NBh9F5lCpk9nCYKZlZc66cBgkFOCh4JsSOv5cHoI+aSQf/WzO8FMqZSR/o1kPfhJ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-917fd236-8f70-be33-7f5f-a2542b20cfe6/test-blob-5f9d2eab-efc0-9815-3690-bf78b4f38c6c?sv=Sanitized&se=2025-10-01T20%3A40%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "JnVIoFFD/ZKSIM15hnFCow==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00619E34B6A9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:39 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:40:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8a85dc-4a04-1dd3-f56e-11c282213559/test-blob-5f8d9748-ae11-acde-46fc-45a8e48b8c68?sv=Sanitized&se=2025-10-01T20%3A40%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619E6F81C4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8a85dc-4a04-1dd3-f56e-11c282213559/test-blob-5f8d9748-ae11-acde-46fc-45a8e48b8c68?sv=Sanitized&se=2025-10-01T20%3A40%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-917fd236-8f70-be33-7f5f-a2542b20cfe6/test-blob-5f9d2eab-efc0-9815-3690-bf78b4f38c6c?sv=sanitized-value&se=2025-10-01T20%3A40%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619E793AD1\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:40 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "wY8654JHMA8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-917fd236-8f70-be33-7f5f-a2542b20cfe6/test-blob-5f9d2eab-efc0-9815-3690-bf78b4f38c6c?sv=Sanitized&se=2025-10-01T20%3A40%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00619E34B6A9\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00619E34B6A9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:39 GMT",
        "x-ms-blob-content-md5": "JnVIoFFD/ZKSIM15hnFCow==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "PeIFC+ZjRt9v1bqCpZy24ZYWuBY2DoJCJxt0y[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-917fd236-8f70-be33-7f5f-a2542b20cfe6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:40:40.0463031-07:00",
    "RandomSeed": "430342030",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
