{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-36227c33-0029-84cc-8467-43c7f47a8d00?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FA7DE2546\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-36227c33-0029-84cc-8467-43c7f47a8d00/test-blob-bede36bb-3b1e-4bc9-066c-8d9f1cd057d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VDt4nrFp0ZVS7kjffpnG0d911G4OTSRe5E2Vt04uk27Jw5YEz7DL54cbToQiNJtWE+zvsVpZGwYXGrpj1BpHI1raFboCwgIuqu3m8v+fPLCyPqRhP+IUb6iP7LX2ZxJt1CoqRx7gVFDqwAdscikHeN4JsZV15uR4xaUSctVNOELaeR7UdfSS0upTd3/ap/x/iHTW7LZ99+1GsYF4zeF7nYfEkvkKMgPqd9+qIm9lnR6okuphdkyMXYIwjsNyGQQJ2Nr3FRUDdFVx63TX0tV+4BRjzzv2GSY7ODV32qNAeF7aoUmUbocJpR6U74rYtYqssa6uDknJEr6zvN3fi5myMXMV/DGL6XKMWiocYSmbYoOqyij1kWkUEY6K4bGqKRmE4r4WwrhZIcg7IrQfrLCUGFlZNcFxvKAKAOqiAAjA4TAQmH9rhKDKUalguW609WXd9chYUfRYEiUeDMHOtiC/e0CDDhQxKZO4j+MXEAMxVQuFxQo/aJA8uIVZTHjf/JuJoD4tMOZQq8w0n8EQQAIi7ba1SPAVfxOwR1aO190b2ZNIjnDFAyQkNBk+C8jOK3eDN17BKbOqcyErfemQwtTuGMUuyLGRXemRkBTX1nRK4RveC6B+WrDfnRpPmYU7lHJFUPICn2PF8dp0L5ie052s4JzOsbY0cL4UTiqXQsNkVvw=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sxb8pIjx6jLtiCeRaEdjtg==",
        "ETag": "\"0x8DD423FA7EDC401\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-content-crc64": "c9jJ3opy7c8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:52.4228609Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-36227c33-0029-84cc-8467-43c7f47a8d00/test-blob-bede36bb-3b1e-4bc9-066c-8d9f1cd057d9?sv=Sanitized&se=2025-02-01T21%3A38%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "sxb8pIjx6jLtiCeRaEdjtg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FA7EDC401\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:52.4228609Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a1bbaa93-3f06-e4e0-a568-c0987497258a/test-blob-2d782ae7-71f5-914c-b7fe-5563a8b058e5?sv=Sanitized&se=2025-02-01T21%3A38%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FA7FCB5EE\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:52.5208046Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a1bbaa93-3f06-e4e0-a568-c0987497258a/test-blob-2d782ae7-71f5-914c-b7fe-5563a8b058e5?sv=Sanitized&se=2025-02-01T21%3A38%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-36227c33-0029-84cc-8467-43c7f47a8d00/test-blob-bede36bb-3b1e-4bc9-066c-8d9f1cd057d9?sv=sanitized-value&se=2025-02-01T21%3A38%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FA80714AA\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "c9jJ3opy7c8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-36227c33-0029-84cc-8467-43c7f47a8d00/test-blob-bede36bb-3b1e-4bc9-066c-8d9f1cd057d9?sv=Sanitized&se=2025-02-01T21%3A38%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FA7EDC401\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FA7EDC401\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-blob-content-md5": "sxb8pIjx6jLtiCeRaEdjtg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:38:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:52.4228609Z"
      },
      "ResponseBody": "VDt4nrFp0ZVS7kjffpnG0d911G4OTSRe5E2Vt04uk27Jw5YEz7DL54cbToQiNJtWE+zvsVpZGwYXGrpj1BpHI1raFboCwgIuqu3m8v+fPLCyPqRhP+IUb6iP7LX2ZxJt1CoqRx7gVFDqwAdscikHeN4JsZV15uR4xaUSctVNOELaeR7UdfSS0upTd3/ap/x/iHTW7LZ99+1GsYF4zeF7nYfEkvkKMgPqd9+qIm9lnR6okuphdkyMXYIwjsNyGQQJ2Nr3FRUDdFVx63TX0tV+4BRjzzv2GSY7ODV32qNAeF7aoUmUbocJpR6U74rYtYqssa6uDknJEr6zvN3fi5myMXMV/DGL6XKMWiocYSmbYoOqyij1kWkUEY6K4bGqKRmE4r4WwrhZIcg7IrQfrLCUGFlZNcFxvKAKAOqiAAjA4TAQmH9rhKDKUalguW609WXd9chYUfRYEiUeDMHOtiC/e0CDDhQxKZO4j+MXEAMxVQuFxQo/aJA8uIVZTHjf/JuJoD4tMOZQq8w0n8EQQAIi7ba1SPAVfxOwR1aO190b2ZNIjnDFAyQkNBk+C8jOK3eDN17BKbOqcyErfemQwtTuGMUuyLGRXemRkBTX1nRK4RveC6B+WrDfnRpPmYU7lHJFUPICn2PF8dp0L5ie052s4JzOsbY0cL4UTiqXQsNkVvw="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-36227c33-0029-84cc-8467-43c7f47a8d00?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:38:52.4445387-08:00",
    "RandomSeed": "1499478813",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
