{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-483fa274-55be-8f64-e6ca-1ca191f747f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B5140D91\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-483fa274-55be-8f64-e6ca-1ca191f747f9/test-blob-c50af6a2-28d2-939a-ffa7-935a2b463d07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Wu8otpANwIkBylSgq9E+WsqdfBDlh6n5F3+3r4k5bjERGXVncfYpHywE+9dUs/1+d60tKquTS9NGLp4RVRAAyFwjj5Fb1+nUc13j4IvRpWSBOTfcC0SFfs6iIENXF8kbBDJ7MSRsIqDEWbZOr2tHdIk6kBzYI70XnhDDubamfFyTyNtYVXQ/FReXGLKONs9jWqy5HIetQuF1ZJITqWjpHtxZuuaP7h8V+noEQQsKiWdBX14K7F/V5oX64/DhLGyurvnVNHzo02yMpCEMqAHVator0kkJ3jF8hNRhlAsuNM4OVpMRNVXrWIvyfkc9yT2EJXgWtVojpc/HWLCnhz9hXnBT/lJuwzWFQHm9F2DqPruW3G+SGH5067HDStylQ9FMkCDX6svrFmFCkHXhZY1v3Rn0EarPzkXy3xKhqnl[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-483fa274-55be-8f64-e6ca-1ca191f747f9/test-blob-c50af6a2-28d2-939a-ffa7-935a2b463d07?sv=Sanitized&se=2025-10-01T20%3A41%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "/NnCI8SHxJNydyj+DxyVcA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061B52EC98D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ba83eb0-8440-d638-8df4-e2fb2bbd910f/test-blob-85d515d5-d1c5-d7e1-f06f-90b28177ba67?sv=Sanitized&se=2025-10-01T20%3A41%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B55CAAD4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ba83eb0-8440-d638-8df4-e2fb2bbd910f/test-blob-85d515d5-d1c5-d7e1-f06f-90b28177ba67?sv=Sanitized&se=2025-10-01T20%3A41%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-483fa274-55be-8f64-e6ca-1ca191f747f9/test-blob-c50af6a2-28d2-939a-ffa7-935a2b463d07?sv=sanitized-value&se=2025-10-01T20%3A41%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B5663CFE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "vjUNZKSYKLg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-483fa274-55be-8f64-e6ca-1ca191f747f9/test-blob-c50af6a2-28d2-939a-ffa7-935a2b463d07?sv=Sanitized&se=2025-10-01T20%3A41%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061B52EC98D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061B52EC98D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-blob-content-md5": "/NnCI8SHxJNydyj+DxyVcA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "Wu8otpANwIkBylSgq9E+WsqdfBDlh6n5F3+3r[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-483fa274-55be-8f64-e6ca-1ca191f747f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:18.5988983-07:00",
    "RandomSeed": "106812826",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
