{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a749ecc-4786-e6d1-1a68-f23c5ea79d51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B057EC5E7\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-311e30c2-af7d-2213-07f6-59df1d83dab6/test-blob-07d69d7d-30ff-0fb2-8075-33965bcbcc4a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B0597C0AE\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:05.3694126Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-311e30c2-af7d-2213-07f6-59df1d83dab6/test-blob-07d69d7d-30ff-0fb2-8075-33965bcbcc4a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "q6Z1rZs\u002B6bXhHu8A/QemhODOnGAGuDf8R4A1ahDYQ1kCOwHm6blm1qidpouBCoFlpX\u002B0hL2kSfJueGYbCH\u002BkCNqV/cEGv5smaMW4aBKrejz\u002Bz8SRI7\u002BbXfIOeHBTSs0p\u002BZ2w7Ay/X\u002BXkjRv47OHgwv4pHTi6E\u002BUb\u002BaDP90cq0h33jm90\u002Bo4vPnDerZWjo3AQLbVyKi2Ub\u002BW4lfJs8Geeubv\u002BAF5xbMdv\u002Bt7I22ZPd1UwvsqRuKjvYh\u002BJu2Wbw04IQPPapaMSnsHuAi9PzJN\u00[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a749ecc-4786-e6d1-1a68-f23c5ea79d51/test-blob-a14bd92f-5421-2b9e-3ac8-0f590b01680e?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A03Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wfdmojbRSxAXjOlmPw5f2A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B05ACA53E\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:05.5063358Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-311e30c2-af7d-2213-07f6-59df1d83dab6/test-blob-07d69d7d-30ff-0fb2-8075-33965bcbcc4a?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A03Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f1616bd-101e-0051-4e53-81e86d000000\n",
        "Time:2024-03-28T21:07:05.6726099Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-311e30c2-af7d-2213-07f6-59df1d83dab6/test-blob-07d69d7d-30ff-0fb2-8075-33965bcbcc4a?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A03Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B05A294A1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:05.3694126Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-311e30c2-af7d-2213-07f6-59df1d83dab6/test-blob-07d69d7d-30ff-0fb2-8075-33965bcbcc4a?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A03Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B05A294A1\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B05A294A1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1a749ecc-4786-e6d1-1a68-f23c5ea79d51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:03.6821137-07:00",
    "RandomSeed": "1707689872",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
