{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-039f02ec-6d48-c1be-94e0-d797aa2554cb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1140D85885\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-039f02ec-6d48-c1be-94e0-d797aa2554cb/test-blob-ccc2091c-b447-dec1-20e4-5736c552d67f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "MPjYw5Vt/JfqctTTee1moAkE2+qQCK7vM93Zd52tHGQw1VqAm1+/4M0Ie9uFK4/0j3f82F9T3ShJ6I+4lIT6PFVvo6OT5QSqRfsch4zSagdN5OglsUQE3PgxNrLPBktJDj+GFojsYKlyUpNkNlWbdn6Ia6+c1IsRasarYa5S2j6v03hNTFR/YYQ+s16woKailr80R5ucrDqzdKvCQP76IHdUtWPdTSoqCAorXSAtYMofCcvvHZOiEiY+mdiovCCFRJPmXOtDxUiVCj6RcU8ZhhTgojczCwLksqI8nrNSgUzppRmNRgTf3EOCWRNVEKHWJBPEyBrpUTiRAqlIBiaUQ4jyqMw2jEAPAMXzsbLujqEAZnqgjrkyAFPg+0NaltYd7RaLYmjVoJjTtMdU9aCGonQIR6Cs9LTPwKh4VZD[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-039f02ec-6d48-c1be-94e0-d797aa2554cb/test-blob-ccc2091c-b447-dec1-20e4-5736c552d67f?sv=Sanitized&se=2025-03-08T00%3A44%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "y7kuIEmkJqLdOQDq/dcd8Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1140EB7D10\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-800600dc-5601-0af9-d52a-5cc9bdfc89a4/test-blob-393d0a9b-9962-f914-029e-0a5efe52e281?sv=Sanitized&se=2025-03-08T00%3A44%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1141048E3C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-800600dc-5601-0af9-d52a-5cc9bdfc89a4/test-blob-393d0a9b-9962-f914-029e-0a5efe52e281?sv=Sanitized&se=2025-03-08T00%3A44%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-039f02ec-6d48-c1be-94e0-d797aa2554cb/test-blob-ccc2091c-b447-dec1-20e4-5736c552d67f?sv=sanitized-value&se=2025-03-08T00%3A44%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11410DD2A3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "bm2oSAkXi70=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-039f02ec-6d48-c1be-94e0-d797aa2554cb/test-blob-ccc2091c-b447-dec1-20e4-5736c552d67f?sv=Sanitized&se=2025-03-08T00%3A44%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1140EB7D10\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1140EB7D10\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-blob-content-md5": "y7kuIEmkJqLdOQDq/dcd8Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "MPjYw5Vt/JfqctTTee1moAkE2+qQCK7vM93Zd[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-039f02ec-6d48-c1be-94e0-d797aa2554cb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:44:44.1993139-08:00",
    "RandomSeed": "1729780524",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
