{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8cc83d59-c0a5-e736-f775-a7c8ca1287a6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061A2FF6B4D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ff930c2-721c-c4b4-c62a-c54dd570f54a/test-blob-01f4e3ae-8c10-ee95-d73b-33aa5de85d50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061A317EF2B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ff930c2-721c-c4b4-c62a-c54dd570f54a/test-blob-01f4e3ae-8c10-ee95-d73b-33aa5de85d50?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "U3vedGXU7UhSnsCv9ob3918hWkmw3Uj4XiOJsXYWgmAVFQj9fvxAb/cykFCMr4qTL+4egFnFZ3Yz5RZCSjzSPBxfmuB++Xli4epSfkz3bK6Z9oKH9wEHT66Sypjm/iW7X1Q0LBWpFTV1vJ5vc+kpPHlnqFS6S0QaWEoy7C/gfOPFlh74wj+Z7+BMETtjmNzFaI0fflXQARQPGtTKdykGlT+7qdzLMHk5zrlzbTkJt8BubYOhwP2N9JQJ6Khrzne3Rnz7p+7/+TcU5q+bXZTaBmITXAqmZNRCLbVIwUjRzf9Buya9DQ/SbnNLjdpN8ZcAL+JFV3FtEeKnuXk4tzjvQxiwWqFtH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8cc83d59-c0a5-e736-f775-a7c8ca1287a6/test-blob-1a7a1f5f-1160-6a6e-c53b-cbafc84d92af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "tCm3dOvxc3WzuuO2ev0w91YEAfHLYViqOK1EmQPqkELpayN6YtyQthqFd8XeLLxX9eAbG0m2mlPQDTw9rdlyySmhzA/atZR6c0rXRumSywvx7aQiz3X4M9DQqVWgUglAEq6cPWCtfD9LoKf+31RpPUEwTL81T/m0qJk+Cgs/2iFBljM79o6rRHBk1y7N+lR7Z2wTbwZJCsK055TGbnI0DMaGvEghLkeyhQhP0XjL5q5Fw6KfK2oa+Ixwhg765Nb9L8tnRz0MWjgkYOr++ThK6QHmgarPleBca8S7sag4uKAxUaGtY59xOGlqesp/HP5TJpwNE2IrLprqC9t4UKmQ7KhJzKiXnIZhdUhBZRoV3E7FaIoLK6U9BiMGwlfD+OjA2Y4iNlBWvIkVq54Z6siA1S+Ns+gehMEDC8aFkNk[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8cc83d59-c0a5-e736-f775-a7c8ca1287a6/test-blob-1a7a1f5f-1160-6a6e-c53b-cbafc84d92af?sv=Sanitized&se=2025-10-01T20%3A40%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "fzevI0UmyTGequtb6m8VrA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061A32A2A2C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ff930c2-721c-c4b4-c62a-c54dd570f54a/test-blob-01f4e3ae-8c10-ee95-d73b-33aa5de85d50?sv=Sanitized&se=2025-10-01T20%3A40%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8cc83d59-c0a5-e736-f775-a7c8ca1287a6/test-blob-1a7a1f5f-1160-6a6e-c53b-cbafc84d92af?sv=sanitized-value&se=2025-10-01T20%3A40%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061A35EBAB0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "L5aWJWrKE8M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8cc83d59-c0a5-e736-f775-a7c8ca1287a6/test-blob-1a7a1f5f-1160-6a6e-c53b-cbafc84d92af?sv=Sanitized&se=2025-10-01T20%3A40%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061A32A2A2C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061A32A2A2C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-blob-content-md5": "fzevI0UmyTGequtb6m8VrA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "tCm3dOvxc3WzuuO2ev0w91YEAfHLYViqOK1Em[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8cc83d59-c0a5-e736-f775-a7c8ca1287a6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:40:48.3011390-07:00",
    "RandomSeed": "1076415573",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
