{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a3b751b-f62c-cc28-4185-ee88508b5f01?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619A62A833\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a3b751b-f62c-cc28-4185-ee88508b5f01/test-blob-b82a82e1-b7c4-4b60-e0fe-138dcf1f7f23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "CUYuyuWv3FoTaU3a8gq8pl678ZiF4R+0LczrVpQRvaTaappvEDX3PUGhBpUFBptf9rOoeUapwCgmeZ0ZxIXFAqyoAIhvTZUpw7NW49qKricxjGDhaERdMalySJaY3nm83ATpXQYS76gdfrWSUtxOnMt15zcl45lnSs7e/QT+keU6mgfVoVEgHpy3w+qPyt/MJKzLIvZBlvhqgRI4NPKjH+zPWLfVePp5VcmabR+v2IDvEthYMm/u+QMOayA+6OqqFKT9v3In96yxUswtpinYu6iSSSEZS+x94F+zxg3aOmzf71l6sRkNxxsspuCiwVLaNq94rJ/Ikci4gN4SczCe1xdfTbbQXgmOhIEG7KUL2h4M2ZBdYo7NFl6QwjE7+1Pqjs7JQnSbCdil6SgdwqUjraW/BZmgQHWJkjdYP5v[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a3b751b-f62c-cc28-4185-ee88508b5f01/test-blob-b82a82e1-b7c4-4b60-e0fe-138dcf1f7f23?sv=Sanitized&se=2025-10-01T20%3A40%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "r8/MExFaHDxgUG+yg+pqRQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00619A7A0AFC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-224dedfa-a71d-c9d3-4cac-beeda349f984/test-blob-7d8f1d65-1263-4a15-4d4c-d8d94ac4347c?sv=Sanitized&se=2025-10-01T20%3A40%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619AA41FE0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-224dedfa-a71d-c9d3-4cac-beeda349f984/test-blob-7d8f1d65-1263-4a15-4d4c-d8d94ac4347c?sv=Sanitized&se=2025-10-01T20%3A40%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3a3b751b-f62c-cc28-4185-ee88508b5f01/test-blob-b82a82e1-b7c4-4b60-e0fe-138dcf1f7f23?sv=sanitized-value&se=2025-10-01T20%3A40%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619AADFFD2\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:34 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "W9mCg5j9tk0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a3b751b-f62c-cc28-4185-ee88508b5f01/test-blob-b82a82e1-b7c4-4b60-e0fe-138dcf1f7f23?sv=Sanitized&se=2025-10-01T20%3A40%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00619A7A0AFC\"",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00619A7A0AFC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-blob-content-md5": "r8/MExFaHDxgUG+yg+pqRQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "CUYuyuWv3FoTaU3a8gq8pl678ZiF4R+0LczrV[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a3b751b-f62c-cc28-4185-ee88508b5f01?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:34 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:40:33.7873550-07:00",
    "RandomSeed": "963891113",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
