{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591933d0-ebfa-1553-ccb5-fb99e3b29089?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1914BC5DF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591933d0-ebfa-1553-ccb5-fb99e3b29089/test-blob-52907268-7c7a-0a1e-7073-747fb23e64ff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "H4ANTllQK7AfS/O/CskYwgpRR/Yrqe2udJgAPb\u002BOistPQEDe0mzjZ0QaM6GmPrGrbFly3/X2vXWTX9rBUO3xkcAocMmJOu\u002Bdbd\u002ByEHZMBzXmVNBlHKvVWIPLSnORIhdWKaLhfs3oIjJq1HEVRKz/R1el2vsci3UUUhhFvu97DEvIW\u002BfTaohn/jKe\u002B0c5wBPXywMb7EgcOZ4szCy1omRC7sgmTOjFK9zPPtvIfo8t25EEbvLrYB8DqyFIp55bsVvOWw1/E3MrEZ8nTK5sU7oP//CbsTRxVo6oIqHHfIQ9c4yA\u002BiOBrccd2VxTxBNxl1hmOaetwAAnXAR/1v[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591933d0-ebfa-1553-ccb5-fb99e3b29089/test-blob-52907268-7c7a-0a1e-7073-747fb23e64ff?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OwYcvWEMm\u002B0BBRzMvN/now==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB191809F73\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:33.7081468Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ba5616f1-3348-0dd6-18e3-d76ac6527aa6/test-blob-87fdd59f-f443-e7d7-8aa6-40ea57a6e4c1?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB191AD4E54\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:33.9999828Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ba5616f1-3348-0dd6-18e3-d76ac6527aa6/test-blob-87fdd59f-f443-e7d7-8aa6-40ea57a6e4c1?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-591933d0-ebfa-1553-ccb5-fb99e3b29089/test-blob-52907268-7c7a-0a1e-7073-747fb23e64ff?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB191C01052\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:34 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "0MDXB3mu5dc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591933d0-ebfa-1553-ccb5-fb99e3b29089/test-blob-52907268-7c7a-0a1e-7073-747fb23e64ff?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB191809F73\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB191809F73\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:33 GMT",
        "x-ms-blob-content-md5": "OwYcvWEMm\u002B0BBRzMvN/now==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:33.7081468Z"
      },
      "ResponseBody": "H4ANTllQK7AfS/O/CskYwgpRR/Yrqe2udJgAPb\u002BOistPQEDe0mzjZ0QaM6GmPrGrb[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591933d0-ebfa-1553-ccb5-fb99e3b29089?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:59:32.3343358-07:00",
    "RandomSeed": "1986283817",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
