{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ffe0c306-5eb3-9f0a-5f87-dd4a702664f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3DB6DA693\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7595bd68-6d5a-6d31-76c3-cae3d90f1388/test-blob-b7e4ce0a-37a6-e770-e88a-e40269a22bc5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3DB80F5F4\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:12.3773428Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7595bd68-6d5a-6d31-76c3-cae3d90f1388/test-blob-b7e4ce0a-37a6-e770-e88a-e40269a22bc5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "RFqJB1DPTBSP8JUlWyY955jlRrfqCrR9vtAj3cWVe6QGHgXFlMDhM65ZDMU5fp5AF2kLS6pmXzqmDEl/rG9O\u002BnXwHz0geFLXAxMJkP7uQz8x4sVciS/6oL7LH4h3YYY\u002BCxFPSV9hIJ8WM0eWXM47t8kJTsmp8nBG9n5\u002BVVnKX6KMyoXsn/ng0MImRlXnY0Pwj2e\u002BbhO9lRigCVPg4stFS9SlCpJITxfQKH0HgqsbXpI7jcXxDPCOzzVsS5WmAO734fqBQlmxp0BP7kaWtRJshavApFQFVD/jFzpc3ASCKSePEKGxmRs4iuaFoR6q\u002BBki/8Xp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ffe0c306-5eb3-9f0a-5f87-dd4a702664f1/test-blob-aeb944d6-a97b-9155-9e19-682a07d276ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Y7VYUAMAr1WB3GwSFPIMn0fqKcklB4ELSvR7R8t5n2WUtLIuyJw77vBnowO8Kpbwpc0YfsuzSlwzTQUOhWeKCD0HfmA/3derrzrZvWN\u002BTx9di6L9YSCZ4GlW\u002BnqWLGmI3ZvFtaw2sMj2bc\u002BQ2oz4tf7lsPnFjacdbZ326eJcFILRUODIuZpzJ9rZBvNRCQbdXUV8sHtvwlD0qEcPP8flmVhMv4mrMPtkcoke64azzGSWGYud4GQGYo2Q0xFSZOgT9GyaBEl8MS1JGD3yUNbJQNvjeCU7SLn0Rl37G1zqEQ6hC/cZGcgaGuhdU8cmFBG2x5M1buvC16yypb7sgBXRXwYuUUXfrycTyV493vXyzTFLRFTItKMj3jNLZ3MKLZnSi/PB98PM1xdrIqWNhfm2wNeM[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ffe0c306-5eb3-9f0a-5f87-dd4a702664f1/test-blob-aeb944d6-a97b-9155-9e19-682a07d276ce?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "7YHt1mimzRZp7F5DfigEXw==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3DB931BB4\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:12.4962740Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7595bd68-6d5a-6d31-76c3-cae3d90f1388/test-blob-b7e4ce0a-37a6-e770-e88a-e40269a22bc5?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:c138fa29-a01e-0019-52bc-8af55a000000\n",
        "Time:2024-04-09T20:30:12.6617661Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7595bd68-6d5a-6d31-76c3-cae3d90f1388/test-blob-b7e4ce0a-37a6-e770-e88a-e40269a22bc5?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC58D3DB8A1C4F\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:12.3773428Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7595bd68-6d5a-6d31-76c3-cae3d90f1388/test-blob-b7e4ce0a-37a6-e770-e88a-e40269a22bc5?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D3DB8A1C4F\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC58D3DB8A1C4F\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ffe0c306-5eb3-9f0a-5f87-dd4a702664f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:12.0565334-07:00",
    "RandomSeed": "1605584440",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
