{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2cec7e1a-be8f-4a0a-6ae2-1ed761510015?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D114F768D00\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2cec7e1a-be8f-4a0a-6ae2-1ed761510015/test-blob-d4dfb498-e81f-5b68-e629-16504a37adba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "LCuvV4VlJEmb62YrQ+jjmlMzpTjbUNP0Qysa+JIXNlp5iy24z2McESMYX4H0nBCg3sGYB/qCydtYuxRZSyu2hLUMsbi6K8vvFpQVw/FR/6YbeRrQfi5f98JSYBROwsX3YdrM5+tY5bP2qfBmbQbpBrtuPtIR5gWGrbr1aMu3oFTOHWEWhRi7wpNn2tU9+Yq8aFlZ4IPz5nvVRTowY3zoPwicl0+k0oGis3w+qQswSbQvOQBxXsDQ2zblQUDdil4Xf5vMoWE6F5XXtiwGtTxwpPyGACl8duFHy7wZv5FBxSkeJypwY6hT9SFqmqeUyiX5dZxEV4k0mgm6hdWkIVgElvED6I4S/0FTMwsIEts5swGXH0n0/W2g6Ywhtt7SrtTJZgS2kOGX53Va8CN9LIctgNHTDAEOD5iDY/8B8El[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2cec7e1a-be8f-4a0a-6ae2-1ed761510015/test-blob-d4dfb498-e81f-5b68-e629-16504a37adba?sv=Sanitized&se=2025-03-08T00%3A45%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "QswhIKfGkDuP9oMrqVo3xg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D114F8A61FB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a36e52f8-dda7-a6bb-a4f6-1495b1e4cec4/test-blob-97979ab1-a5b7-e18d-4401-8169deb862d9?sv=Sanitized&se=2025-03-08T00%3A45%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D114FA289CA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a36e52f8-dda7-a6bb-a4f6-1495b1e4cec4/test-blob-97979ab1-a5b7-e18d-4401-8169deb862d9?sv=Sanitized&se=2025-03-08T00%3A45%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2cec7e1a-be8f-4a0a-6ae2-1ed761510015/test-blob-d4dfb498-e81f-5b68-e629-16504a37adba?sv=sanitized-value&se=2025-03-08T00%3A45%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D114FABF515\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "vZjGxxWKndw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2cec7e1a-be8f-4a0a-6ae2-1ed761510015/test-blob-d4dfb498-e81f-5b68-e629-16504a37adba?sv=Sanitized&se=2025-03-08T00%3A45%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D114F8A61FB\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D114F8A61FB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-blob-content-md5": "QswhIKfGkDuP9oMrqVo3xg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "LCuvV4VlJEmb62YrQ+jjmlMzpTjbUNP0Qysa+[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2cec7e1a-be8f-4a0a-6ae2-1ed761510015?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:08.7280401-08:00",
    "RandomSeed": "774372804",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
