{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-85eeb214-3c76-45bc-5920-a52aa3f777d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB197C8A971\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-85eeb214-3c76-45bc-5920-a52aa3f777d4/test-blob-85033241-df25-c640-3d71-f439bb6caa39",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "xsa8HGpuyuPUazcNUytfkjl\u002Bjv3BZlGkOK4wdOsDJ3UVLJToSCHjbcCuaeR6qZREgWuENXLQK2B1GOS7PlX40UTC9yeWdkkYmyE8EvxtKY8Z7POAfvECRAA0czA9Jy9qtZifuLFtrQohbJpRkxlkB\u002B5UolFheFNTv7InYgMZ2nTy0lxkzXDerD/pXxFWsbHm0GtB6ITdCT1ES/n\u002BRUoGB5ElX8G8/zp\u002BdvUReBlB/A0BQJKY1/LvFMkfH4J332b14leAMVLwKdAxw3KOy5AjA0/r/AW4bi\u002BfNkr4nd\u002B4B5aPHJXCwMu7ERbBZhSAYEg4\u002Bxsyi\u00[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-85eeb214-3c76-45bc-5920-a52aa3f777d4/test-blob-85033241-df25-c640-3d71-f439bb6caa39?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dPhbifQSVW/CZGaxY7fStQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB197F6A8F1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:44.5470449Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-82da5cc4-75b5-036b-11bc-e449c7ea2085/test-blob-fe5304ad-57dd-ee8c-4b7f-75e39526c4aa?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1981E286A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:44.8058986Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-82da5cc4-75b5-036b-11bc-e449c7ea2085/test-blob-fe5304ad-57dd-ee8c-4b7f-75e39526c4aa?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-85eeb214-3c76-45bc-5920-a52aa3f777d4/test-blob-85033241-df25-c640-3d71-f439bb6caa39?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB198309C52\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:44 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "5ZQ/3xjfpd0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-85eeb214-3c76-45bc-5920-a52aa3f777d4/test-blob-85033241-df25-c640-3d71-f439bb6caa39?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB197F6A8F1\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB197F6A8F1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:44 GMT",
        "x-ms-blob-content-md5": "dPhbifQSVW/CZGaxY7fStQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:44.5470449Z"
      },
      "ResponseBody": "xsa8HGpuyuPUazcNUytfkjl\u002Bjv3BZlGkOK4wdOsDJ3UVLJToSCHjbcCuaeR6qZREgWuENX[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-85eeb214-3c76-45bc-5920-a52aa3f777d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:59:43.1870378-07:00",
    "RandomSeed": "807796900",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
