{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-809800a5-c63d-95bc-7343-6b76c9b2cbe6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB195F716E2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a6384ae1-470e-6ffe-d818-4a6b9ce4e18b/test-blob-175a23d4-b6c7-96f8-f945-f3d9a715e84c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1961D993C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:41.4467900Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a6384ae1-470e-6ffe-d818-4a6b9ce4e18b/test-blob-175a23d4-b6c7-96f8-f945-f3d9a715e84c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "bDjFtG9Oq7TOTOrcfFQFawrOhumoHwxJRR3709KrjgX24IG7OcNRHYV0B7fKWDUcZBVlPcKLwk0rfG5RU9fhI77l5ZvSSTFHfWhjMxdVfuzn3m68RlFCah40kL1V/8qukuT55HOZSRrjHr9ZKI411f2BaXRoJdxsont9nrl08X6dtaAyXJp5TpRU2CiR6UKQ/rrA05VWRW0HjEL3HKpgbyxBu3LtAnliCBvfFEy027k57KD/tB3oR3AzK9BXgTHp82n7Ty3PovtAXct5djEgU7CIvi8KYboOWXQCutepCobp9SHjuIyLaUqkvldSbtA\u002BEtgfzsMC35Gu7fa5zecjl1JF[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-809800a5-c63d-95bc-7343-6b76c9b2cbe6/test-blob-9e3bdd05-c497-bda5-5ae7-7018f08c23fa?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZT9EdAla1joleJ6H9/loCg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1963E3BEB\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:41.6606699Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a6384ae1-470e-6ffe-d818-4a6b9ce4e18b/test-blob-175a23d4-b6c7-96f8-f945-f3d9a715e84c?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-809800a5-c63d-95bc-7343-6b76c9b2cbe6/test-blob-9e3bdd05-c497-bda5-5ae7-7018f08c23fa?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB196A330C4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:42 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "lAPT7\u002BTGLs0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-809800a5-c63d-95bc-7343-6b76c9b2cbe6/test-blob-9e3bdd05-c497-bda5-5ae7-7018f08c23fa?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1963E3BEB\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1963E3BEB\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:41 GMT",
        "x-ms-blob-content-md5": "ZT9EdAla1joleJ6H9/loCg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:41.6606699Z"
      },
      "ResponseBody": "S\u002BrTQzz4aCNjRDdOavbAAQYHFpOoULctknqSUd6T1n9QCJIYox/zbnhLr8qpVRdqeSx0Fk[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-809800a5-c63d-95bc-7343-6b76c9b2cbe6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:59:40.1755400-07:00",
    "RandomSeed": "1557918700",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
