{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc9e681b-b9dd-1dae-10c8-069568d8fce1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FB9050DD5\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc9e681b-b9dd-1dae-10c8-069568d8fce1/test-blob-33740d95-7666-406c-4476-6d1623de16ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "eezvkSFu2aymf6iusLvo1KzsympsOxMl/cecIUFggWjAiS2SydpWFoaBIiI08OLJ7A6TR/iw1D3YyZRa0bhqRf4/7iaOVQrSlrTk6xnw8Azk0zQzzTpvD7Xvuv9G+0TOFtwk9AK8O5cDwLFDzOkk59iHdv6DN3jE0N9xnpoKjJpwFtQ8zPsKJ5idMAyJLEPLy9ImvoVFSt9kYCQjS5z8+DQW07YV5xvcfU9m5QZsO6SbpdLI5M0VKsv12GzX59z7oTfXclmNtuS3SUE232XY9ySAh6XJNBRmAajqIA+uBZZza0TPlMlLDu/uEJqM30tmHOBHVl82MW0icHCwopXUCUSrwnQgCGJbNXi12yN62iJchAMuZq42PDnXrCRYmmxaGgdW4BzXRRN97CHmgVZJqJVOVB2SpqKVdIY6SVw[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc9e681b-b9dd-1dae-10c8-069568d8fce1/test-blob-33740d95-7666-406c-4476-6d1623de16ec?sv=Sanitized&se=2025-02-01T21%3A39%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "tNOdsPDD9KgZXMg2uSJ+jQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FB9148E5B\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:21.1983451Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41414866-6044-809d-ef8c-861aa398c122/test-blob-cbea15cc-ade8-7c74-7ac7-6e4b3db38aef?sv=Sanitized&se=2025-02-01T21%3A39%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FB923A750\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:21.2972880Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41414866-6044-809d-ef8c-861aa398c122/test-blob-cbea15cc-ade8-7c74-7ac7-6e4b3db38aef?sv=Sanitized&se=2025-02-01T21%3A39%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dc9e681b-b9dd-1dae-10c8-069568d8fce1/test-blob-33740d95-7666-406c-4476-6d1623de16ec?sv=sanitized-value&se=2025-02-01T21%3A39%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FB92CF4C1\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "BaqxEJ28fpE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc9e681b-b9dd-1dae-10c8-069568d8fce1/test-blob-33740d95-7666-406c-4476-6d1623de16ec?sv=Sanitized&se=2025-02-01T21%3A39%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FB9148E5B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FB9148E5B\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-blob-content-md5": "tNOdsPDD9KgZXMg2uSJ+jQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc9e681b-b9dd-1dae-10c8-069568d8fce1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:39:21.2198286-08:00",
    "RandomSeed": "126383398",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
