{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3f92cabd-9f0c-5255-01f6-9344af037fed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FB8914C63\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-949eca8d-eddf-ea70-505f-d5416a531b08/test-blob-af59ab03-8b01-2885-a93d-9ef3c7adca1c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FB8A080D3\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:20.4377811Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-949eca8d-eddf-ea70-505f-d5416a531b08/test-blob-af59ab03-8b01-2885-a93d-9ef3c7adca1c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ZA8IjzOpfqfhbjcLQj7WhG3otdNbJiQ6buwifm9gSK9FRkJtOobIdgfitg1kN3cwFAevQPA3Gz3qzSBGhgA4gCWHxvv8aUnnID/MeXAX1Td18mlosQi+DisFg2xmge8HqTXn3HF8NKu9xx+waqLM0vfp0ZOW0M8cyLjQ9+bcgZ9QxM86L/jF+L6+qunpDqOJOLB0fK9bcNlmyxS5rD3F4UaAYKbSkqL+I9nV2CblM7oURr41ZwTv9FT202TkDEyB+ciiaK39tqYNdVjWhpiygZdZpGV+j3lCkGxS2749GheMU95dQsoNF48YJ/GrGW27Q1LMi2fmA2pPYNhAqtrnz1tASTK5V[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3f92cabd-9f0c-5255-01f6-9344af037fed/test-blob-f2991401-3a47-f54d-1c6d-0409a90b2adb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "wbEYj4PeyZvP5lLDLW81/iBSIc3vyNojHp4Pev96VzQHQBy0gmBnJloHi48N4SfRE6vj1I5dufnW9XHkzk6bVI4dvO1SgHvA6vty5zxKFjx3PmdUl4OlqYcj3Y3uglcMbDYA7yQ6fpIvI+mT69G8jN81bZDmR70LdxNlLqPu0WijZnsGSSYXPL/UJHOZEr21Z1GuuRXHJSR49XgR1FDvQVGB8IVWtkK4HTDQESNKcWVVsMZRPxhS3EBXjVSuBmdv5eIiGCI4X7EP9Zzk9hMBLoMSvCOJnQI5LhNE/yjtChbJYCxAKFlDHFEUQkl8buUsVV/Rm0pD5Ufg6OoO81+JIeuFG5XnwAYqz5/SdFu4vcAuGKnJHG7MhXvkXz9vNCnxiyBe9lNPRJRYpsuqcXHsKCsq39u2vwV8uJUaA2H[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3f92cabd-9f0c-5255-01f6-9344af037fed/test-blob-f2991401-3a47-f54d-1c6d-0409a90b2adb?sv=Sanitized&se=2025-02-01T21%3A39%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "rgnD7r95B81dIxHFNGxtBw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FB8AFC0DC\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:20.5377244Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-949eca8d-eddf-ea70-505f-d5416a531b08/test-blob-af59ab03-8b01-2885-a93d-9ef3c7adca1c?sv=Sanitized&se=2025-02-01T21%3A39%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe4904ee-301e-0096-5a28-74d313000000\n",
        "Time:2025-01-31T21:39:20.6492356Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-949eca8d-eddf-ea70-505f-d5416a531b08/test-blob-af59ab03-8b01-2885-a93d-9ef3c7adca1c?sv=Sanitized&se=2025-02-01T21%3A39%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FB8A8E40B\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:20.4377811Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-949eca8d-eddf-ea70-505f-d5416a531b08/test-blob-af59ab03-8b01-2885-a93d-9ef3c7adca1c?sv=Sanitized&se=2025-02-01T21%3A39%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FB8A8E40B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FB8A8E40B\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3f92cabd-9f0c-5255-01f6-9344af037fed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:39:20.5134802-08:00",
    "RandomSeed": "323138378",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
