{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b6370c0b-6759-3600-931f-9f2c0c784d01?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B18E9F4C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64c9b2db-a6d9-ec9c-e075-9292cd7be053/test-blob-ba6be4f2-fd91-f686-5dea-62ac1b7e0624",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B1C2CFAD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64c9b2db-a6d9-ec9c-e075-9292cd7be053/test-blob-ba6be4f2-fd91-f686-5dea-62ac1b7e0624?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "EaNCjBk7PuV+8poWh/LOx4xIGW53YiDl2tFYicJi4NNXbqmhz7uI4hMYPHq/d3q/J7QR7P/h+q+CXLJI47QiGxHGvxlILffRwDdaXyamJmJWmWEOUfTTdnP6HnIIQP9e9SBo+Lhhdvq8PyzIhpqI3DZP8kpTE8od80mlTg6EyIA3/GkGPi6q9SJmURHHCvDZcUI8uE61CuFVSgRuuyfsOHaskIkwgp0Hpfwn7MK5VuhZzN3LRxAygvGHsPMpOzn6ehmaGnlmqO6kNRNRjR4fnPQbFe9KIPBmeg6XqNGq3WnDLHKoHjtu8iPuJhL84PXTaBT/DSZJsFkoNKBrzv8d+lepjWCrd[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b6370c0b-6759-3600-931f-9f2c0c784d01/test-blob-542bfc85-04df-896c-532a-562d45d51078",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "zyAenb5UJcRByt/BvDSc4F2bQp9+3kjHf+NVcgV35SbMHl18F9Lj+qqV/8QA9BgkLsgjsLAgVvDXVh7a/rK+yuS59Z3WH8mKt0j16N6Ex4vLMEQ8UzV2rMhspcC0Cfv31jXfR/96Tg7/mPhoK20RU4+SD85ugXavQknVanoI1q5M/RKppH+LUOI1Pbs8DYBaW1ExIfotiVS/LwS2pOSU9sFJHC1baK4PBr7rOUS6czTIew4o17W0HnS96XR71av+oEb58vFT/vKiIRo7QU8QBLzP7inVax8Mlf25nn46lDES7Zj9wYBDdXwbhrWaed0kreW4q+eCKTUn7V30mWB0aI3pKFS3EkM8jHmtueVqcRsglfGZgehJkMRj1tMiTtsbpx0nsVCIbZqhfB9u1G9QvHtB1ANv2ualn5eQUzx[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b6370c0b-6759-3600-931f-9f2c0c784d01/test-blob-542bfc85-04df-896c-532a-562d45d51078?sv=Sanitized&se=2025-10-01T20%3A41%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "OVVzsLLfErZLF0jJ5BmI+Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061B1D6DD6A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64c9b2db-a6d9-ec9c-e075-9292cd7be053/test-blob-ba6be4f2-fd91-f686-5dea-62ac1b7e0624?sv=Sanitized&se=2025-10-01T20%3A41%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:584827b8-601e-005c-034a-32f5ec000000\n",
        "Time:2025-09-30T20:41:13.1721725Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64c9b2db-a6d9-ec9c-e075-9292cd7be053/test-blob-ba6be4f2-fd91-f686-5dea-62ac1b7e0624?sv=Sanitized&se=2025-10-01T20%3A41%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0061B1CC1418\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64c9b2db-a6d9-ec9c-e075-9292cd7be053/test-blob-ba6be4f2-fd91-f686-5dea-62ac1b7e0624?sv=Sanitized&se=2025-10-01T20%3A41%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061B1CC1418\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0061B1CC1418\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b6370c0b-6759-3600-931f-9f2c0c784d01?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:12.9125326-07:00",
    "RandomSeed": "707635764",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
