{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b65811df-f336-97f7-f049-0a8f902d160b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:23:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCBDCB61C3\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:23:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b65811df-f336-97f7-f049-0a8f902d160b/test-blob-102d20fb-a1ab-932f-e863-ced69bc522bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "n/BWoPTaRK8DZoZIj6TV11MOU3muPnh+BUCn4xEPwnoIJM44gZB37ZRdqqbQHbM2tgCoVjTzlmF315uzMmCd86MLP2vVnVXCl2bkUZPSrueNcSwRZ2xGFI1twKr1w7ozwLYCxN1HYRmq5b/ND0XNpSizJsE0i4w3xSrdZ9yqzdSssJHdz+oKRQ8TZoKseAVInxqCQpz5/zQpyv6zavk8ABjrIV608NU9qeGxICQKikwllcjCJ4s3s7FcswXrV9sV1mZqwVenk65FRJm7R94PHz+yjdQxetiMs26sVz3QUVEFm0q+oMj1fQEZfOPye2vSTZPFOckH5FyN3Q7o+jxxdPJHtquUUX92vBDSF/31mjcC2gmqCxiI/rftMMK6DYPEqAjwq8XAPvwTTn24NMxemELW5SAyx2navrfzpiC[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b65811df-f336-97f7-f049-0a8f902d160b/test-blob-102d20fb-a1ab-932f-e863-ced69bc522bb?sv=Sanitized&se=2025-01-31T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "GUgvtxstYNFGQe5nWGCIMQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CCBDF17016\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:23:46.0701206Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41d1597e-f524-2b7b-bb2d-d639ea47e089/test-blob-ab77c137-92de-df41-0510-0fc44f192f35?sv=Sanitized&se=2025-01-31T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCBE1AC3E3\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:23:46.3409635Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41d1597e-f524-2b7b-bb2d-d639ea47e089/test-blob-ab77c137-92de-df41-0510-0fc44f192f35?sv=Sanitized&se=2025-01-31T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b65811df-f336-97f7-f049-0a8f902d160b/test-blob-102d20fb-a1ab-932f-e863-ced69bc522bb?sv=sanitized-value&se=2025-01-31T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCBEB20B62\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:23:47 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "64O5H1wg0bQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b65811df-f336-97f7-f049-0a8f902d160b/test-blob-102d20fb-a1ab-932f-e863-ced69bc522bb?sv=Sanitized&se=2025-01-31T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CCBDF17016\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CCBDF17016\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-blob-content-md5": "GUgvtxstYNFGQe5nWGCIMQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:23:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b65811df-f336-97f7-f049-0a8f902d160b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:23:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:23:46.0920136-08:00",
    "RandomSeed": "1351448690",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
