{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-450edb97-e9f0-c6f6-ca3f-543b5db8f98d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061A54D8571\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7324fbc2-b2c0-75b4-948a-746eb90b380c/test-blob-ed3908f7-4e0a-8df6-7624-2bb1a20468f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061A564C792\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7324fbc2-b2c0-75b4-948a-746eb90b380c/test-blob-ed3908f7-4e0a-8df6-7624-2bb1a20468f2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "1+bLbU5k3osPC/7Q9q9uAkianp5IIHuXPC6jquy2AMITWJ5hSn50SdFHvfkuhnzV9ThqfxjY3rZqMzAfwTSfWQs7vZ0RDbfJJVTNAWKCabWxzrS0TICqOnrn9hZOVIicp2Tu8snfw+iAoVrDC91T6Mp6bvOA6wyKkYMjKRahetDMMFr+lHbs0grLM6sm5y6dkw5L0+aVHLxYY2FFvJrS3iaJ99qCVVRUjZvotbdhY6lVhZYIVabpNhSdpjAUpxZw+FWEnfBTGj2590ZLrGcE9v+38DYDyol/n8DG5a8jP+aFeLxi3Ma5AWtZTl5gnomsma8wXbfgbC7MBf0vjTWOlbhfxjSro[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-450edb97-e9f0-c6f6-ca3f-543b5db8f98d/test-blob-cb1d7c26-d63f-41ba-7995-71c5155d487a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "B78SpMMxlpSza4u2kpF1PyCmqUgHNxEWv5ZGzpa40mr4XKs6UuxM5uyde20MN9kDX//bwELaAs+u/OQs68f9+5kgvTblOuwzWsNcabyjCYe8Qm+X3REoHlrci1UHH/okoIDU63qjHiQSp2V/fZkTCvJdcKhXZR2H+J/cCa6XLDvIN8g8zx4NGSRLhTWrqaDAyIFjqq9SzTpiTPLbxhV1ensqtkbQ1zvUT1aEDODn20/+G0AtNIGLdmqO2YIsMlIP1Qq6gfJa8PFGjlpYzsBaenGj3KvUSEb5nkDcQv24px0DdDfWLFpdpCtO56UnM6ipM18RiFWnOozDweKyfa30jeY9VVmJhE0XRjh/hWGh0WuXMw6dpx/HWzmqEmt4qiZ9Wlm+6t1PIK8S+kIcJ7QrIu92GkqeV+bHdfkf3nH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-450edb97-e9f0-c6f6-ca3f-543b5db8f98d/test-blob-cb1d7c26-d63f-41ba-7995-71c5155d487a?sv=Sanitized&se=2025-10-01T20%3A40%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "XHBWrDzT6giJiCGCw1NLhg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061A577297F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7324fbc2-b2c0-75b4-948a-746eb90b380c/test-blob-ed3908f7-4e0a-8df6-7624-2bb1a20468f2?sv=Sanitized&se=2025-10-01T20%3A40%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:584801bd-601e-005c-284a-32f5ec000000\n",
        "Time:2025-09-30T20:40:52.3628260Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7324fbc2-b2c0-75b4-948a-746eb90b380c/test-blob-ed3908f7-4e0a-8df6-7624-2bb1a20468f2?sv=Sanitized&se=2025-10-01T20%3A40%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0061A56DE50E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7324fbc2-b2c0-75b4-948a-746eb90b380c/test-blob-ed3908f7-4e0a-8df6-7624-2bb1a20468f2?sv=Sanitized&se=2025-10-01T20%3A40%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061A56DE50E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0061A56DE50E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-450edb97-e9f0-c6f6-ca3f-543b5db8f98d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:40:52.1625525-07:00",
    "RandomSeed": "785243754",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
