{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0107293e-4b21-3093-4e7b-db543430d63b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061AFD7E581\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0107293e-4b21-3093-4e7b-db543430d63b/test-blob-37ccb282-185f-f9f8-96cf-74a7118199f4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "tfVQraAJg1yRnPHxWmljZlZsaA0XrM4mEwprO373FzwUizgtjW+3t6XfVaOXF/lNrh63WjFL2AkmKpmVnUfdmYS13c4xNtjntbBoOFYrjvwQHo1gQL0KybMuBmLVIRleAbse4ToqHHhFz6SB45+z+5ydhX+6fVnHqxQbAjB2EZSWCjaaDKzC5gIVG3AYieUTewrFOJuao4RiVzYmDxlHzr4Q69lpGO/v2558pWHpriEuB4clsNn4+2ayOLR1m9bpzU2yB50MqmMb1l39Hf0ieagU9weRIh3kGO9ytt86eT/Hk9gUN6aDIl0kCdp8+t5oj78LYaTPV6ovze+umfOD4FwdNYolDkEBkNWqbRhCaB0RCicfLhib+Dst5Gm31YlpoCh+XsVUQ4B9CdDPJOqR7WXRnY7MZLJEgjxO9yn[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0107293e-4b21-3093-4e7b-db543430d63b/test-blob-37ccb282-185f-f9f8-96cf-74a7118199f4?sv=Sanitized&se=2025-10-01T20%3A41%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "x6MmKz6h32V+wdu14Pi1eQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061AFEE706D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-46955042-829a-94a2-c312-b73f1bb3f9fb/test-blob-b34ddc7e-1215-5f3e-114b-1d037f494021?sv=Sanitized&se=2025-10-01T20%3A41%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B014E001\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-46955042-829a-94a2-c312-b73f1bb3f9fb/test-blob-b34ddc7e-1215-5f3e-114b-1d037f494021?sv=Sanitized&se=2025-10-01T20%3A41%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0107293e-4b21-3093-4e7b-db543430d63b/test-blob-37ccb282-185f-f9f8-96cf-74a7118199f4?sv=sanitized-value&se=2025-10-01T20%3A41%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B01E723B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "DKAZLBlryVU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0107293e-4b21-3093-4e7b-db543430d63b/test-blob-37ccb282-185f-f9f8-96cf-74a7118199f4?sv=Sanitized&se=2025-10-01T20%3A41%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061AFEE706D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061AFEE706D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-blob-content-md5": "x6MmKz6h32V+wdu14Pi1eQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "tfVQraAJg1yRnPHxWmljZlZsaA0XrM4mEwprO[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0107293e-4b21-3093-4e7b-db543430d63b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:09.7824554-07:00",
    "RandomSeed": "1280056959",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
