{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ed266a6-b7ce-6ee9-a0b8-b560cde25560?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB177E15E16\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5cb4177c-c796-45eb-961f-51ca0fe1b696/test-blob-51d13da6-8b3e-1591-71dc-2f3fb27fbad1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1780D9581\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:58:51.0101889Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5cb4177c-c796-45eb-961f-51ca0fe1b696/test-blob-51d13da6-8b3e-1591-71dc-2f3fb27fbad1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "DeA7zKgNIfcum9XUokIVnXflkHl2Rx1al23RH3lh\u002BRqF/YmzHPlGjC3EXFxWD/FkJAm7isNkK8bC4DQ6OwJ9zKK7TqW4YYB9nwRMserAA4d8bfpwpW9XIdLD8DzEC1EqRo\u002B6m8BMq8KIPuu\u002BGHncAtytvc0IDSczYy3S9XBEuZOyIWtaBmjHMMI352eEmQhZ5u5fF02EIjlohziSebZSRIVXC/YOgft05o0L0Ca/rsokeQ6B5aFFLv4y8X8wNLYL5aPiLI0SS2Xz6jHAeFISqdhtbgCn0F/jEtz325B8RLHW/\u002BuD3II9Ei6pjvpwhLasH0emwsa2Z[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ed266a6-b7ce-6ee9-a0b8-b560cde25560/test-blob-cfd9b5a4-7b6c-bd01-37b8-49e7751d4737?sv=2024-05-04\u0026se=2024-03-28T22%3A58%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OhRguDlxeu9CPfTJFpp78g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB17836E97C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:58:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:58:51.2810364Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5cb4177c-c796-45eb-961f-51ca0fe1b696/test-blob-51d13da6-8b3e-1591-71dc-2f3fb27fbad1?sv=2024-05-04\u0026se=2024-03-28T22%3A58%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9ed266a6-b7ce-6ee9-a0b8-b560cde25560/test-blob-cfd9b5a4-7b6c-bd01-37b8-49e7751d4737?sv=2024-05-04\u0026se=2024-03-28T22%3A58%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB178759726\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:51 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "LywJtj87UQY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ed266a6-b7ce-6ee9-a0b8-b560cde25560/test-blob-cfd9b5a4-7b6c-bd01-37b8-49e7751d4737?sv=2024-05-04\u0026se=2024-03-28T22%3A58%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB17836E97C\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB17836E97C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:51 GMT",
        "x-ms-blob-content-md5": "OhRguDlxeu9CPfTJFpp78g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:58:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:58:51.2810364Z"
      },
      "ResponseBody": "98vHMlytWTXrbBRoNJbET/3emmZ1gEsFKq45F1OiKRYIyNoAUNX0K4fOvgMEocnVdx9RsYcAQnZ[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ed266a6-b7ce-6ee9-a0b8-b560cde25560?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:58:49.8021907-07:00",
    "RandomSeed": "436663045",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
