{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e67a03ac-9740-e418-d979-5c118e418889?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86905E98B3B2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8ad8b77d-31b8-ac93-4ee7-54044f42678b/test-blob-8e52be3b-e0bf-1362-97e9-614b968cf62e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86905EBC95BF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:00.2597823Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8ad8b77d-31b8-ac93-4ee7-54044f42678b/test-blob-8e52be3b-e0bf-1362-97e9-614b968cf62e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "0ghHqTLJaCVelSTYFZJ67hPWoj7eF3+X/i6zaLBQt7bWP+D6cAHzKDrIgwJ6B943ZHpmkZH/ELuIr6oEFv90Dd1uAtWxf34R43kDFpR9HPZPfAQ26iYk1i8lccBW7hI6U3UkDAUIheT8VK4X/PonC5OztJr7PiK3SSumjA69u/RnyMIeWBDxR/YgOZZ4Ddo1/WUtojp4PhVTbcLZYvnVPpm5sDM3CbKCwmyj2wSMPzxQcI6okBi574mty+tNF+X8Svv9vlyn/fSzquDN1GMQxy2GifFqLK2BAMGpij7GNaqHp5EJj4DfqHOa9eY36xsmnAO9xo7zkR1NfL2b/nO27HQ2RSzSB[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e67a03ac-9740-e418-d979-5c118e418889/test-blob-f7593bc3-435d-e264-b67b-f0cd8be963d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:58 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "gDcJQguDZPqI3336sPsgBjZdgKZu80ipS6Jbdzrc46YVOeRk/DwB9os3q4V4qVaGQUTUz796So3vX/doKO3Aq/vW5XcWuwr6XIobNkfCMaFL1DX1CBPnm+9XdZxEmM6dd/+JocTfcIY62nM1XhNFLC5VHVO4yqPn7kmHv0VttcO7fb9IOY/da2Svui6gsjzcEUlu73t65axbobJ6WLBAzCSveeFT/PKed7HuCA91RzwMqq38/sZIQJgS7JfcYhOzbu4J8DhbiBRW0HfJjNyc5Vp2ba0DRM1dZjhJQQ9bwRWeOpoha1YDsSKYpS5Of7S7dQc8ZvRmsCogrIoAEkcE+g5iKlFCe3oDcryLap6fDueDjcsIHlogOIpvAb/MA5/ak6og7FRiefqMOPQ420WMgZ2jfIR8/NyzQfLH0nm[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e67a03ac-9740-e418-d979-5c118e418889/test-blob-f7593bc3-435d-e264-b67b-f0cd8be963d7?sv=Sanitized&se=2024-06-08T01%3A22%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "rrS4v4k7O9cDbv8Ycc5MmA==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86905ED65D1D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:00.4287261Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8ad8b77d-31b8-ac93-4ee7-54044f42678b/test-blob-8e52be3b-e0bf-1362-97e9-614b968cf62e?sv=Sanitized&se=2024-06-08T01%3A22%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f2d70483-401e-0065-7079-b85865000000\n",
        "Time:2024-06-07T01:23:00.6624130Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8ad8b77d-31b8-ac93-4ee7-54044f42678b/test-blob-8e52be3b-e0bf-1362-97e9-614b968cf62e?sv=Sanitized&se=2024-06-08T01%3A22%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86905EC917D0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:00.2597823Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8ad8b77d-31b8-ac93-4ee7-54044f42678b/test-blob-8e52be3b-e0bf-1362-97e9-614b968cf62e?sv=Sanitized&se=2024-06-08T01%3A22%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86905EC917D0\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86905EC917D0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e67a03ac-9740-e418-d979-5c118e418889?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:22:58.8434315-05:00",
    "RandomSeed": "1860787904",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
