{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-15d49373-5706-abd8-4840-2f5da9c1d129?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619BE217E5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-15d49373-5706-abd8-4840-2f5da9c1d129/test-blob-f1f12c47-33a9-6dab-22f9-73a854ea0ab4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "S+Zl+ptiIJAlJBm9lJyJdJ/uxU2qwb/PD6bITwNKb+wpiuyGJrENC3eieTQg5tZgcMkyVtKSt4omler0mdCN2rQtkwmvAk3u4bnVB0eKrinQaN85GBkZltNiX5HGGHKnFJ9/81LMsG18RHUZva9Cm+bBIzHwVMKbE/02TaK8J8hHLvKoC7vWBLdxvNOjANkjH8SqBfVAtsDc499VlmPKvxyt0o68mpAq6x96fpfu+BMjEi7eEiLTBncyzCfcgG1Upv239i1LZoUzfxnVxjcp7evLMoM166362ssWis1pTmqxJteaNwHl2Kyoq5II/UBACd47EU7qH7pPvBxiNNy3yjGvI59fjrbq5VrXjEAa8tyK1oDvLTwcxwYcSnvlg6PP8OBhWdmg4HooUSv0EpJ6NMo/115byJ30klyZQkQ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-15d49373-5706-abd8-4840-2f5da9c1d129/test-blob-f1f12c47-33a9-6dab-22f9-73a854ea0ab4?sv=Sanitized&se=2025-10-01T20%3A40%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "94gtWfzSDlvo2tU2VD79Qg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00619BF8E209\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b3c4d8f1-74ca-80d1-83ae-ab422fb2834f/test-blob-57aa59f7-acb9-a466-76d6-abf525025f9a?sv=Sanitized&se=2025-10-01T20%3A40%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619C20FD79\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b3c4d8f1-74ca-80d1-83ae-ab422fb2834f/test-blob-57aa59f7-acb9-a466-76d6-abf525025f9a?sv=Sanitized&se=2025-10-01T20%3A40%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-15d49373-5706-abd8-4840-2f5da9c1d129/test-blob-f1f12c47-33a9-6dab-22f9-73a854ea0ab4?sv=sanitized-value&se=2025-10-01T20%3A40%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619C2A8FB1\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "aYciJTF4jX8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-15d49373-5706-abd8-4840-2f5da9c1d129/test-blob-f1f12c47-33a9-6dab-22f9-73a854ea0ab4?sv=Sanitized&se=2025-10-01T20%3A40%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00619BF8E209\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00619BF8E209\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-blob-content-md5": "94gtWfzSDlvo2tU2VD79Qg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "S+Zl+ptiIJAlJBm9lJyJdJ/uxU2qwb/PD6bIT[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-15d49373-5706-abd8-4840-2f5da9c1d129?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:40:36.2970514-07:00",
    "RandomSeed": "1527931570",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
