{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39ace07d-1b1d-abd1-967c-30b45a2fc309?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4238471A30E7\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39ace07d-1b1d-abd1-967c-30b45a2fc309/test-blob-9bb33ec3-3456-1e4c-eaa1-d958ae12977a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "vZQbP5kEwQJrDYzl+GAlx8vNENJiPpZTmQ3C6vLpoOBu1C7/8c/iIhilRLTNexPImX/bxe65W3/+x6WLQdYQgmyrdiMxJtX86u26vPrhhh36+lFyDdvytXmvACkpVuFBlcJHIgTwlnOq39oB/p6FHEGIkUeFnnSRucCpgiWs05QMeSc4mWQZCmTdyC4A8LfaKuTnocSZu/dOtmhERhNO/QtG9YV3TYLdbofiqNVFkMgJz1hAxDLPcr0v6eP71MRQj8ojuvsxY91hCjI9txMhCCWgO3a7DTnZdoLHR2Oe4ZrDkRgLIdbN12t73rn/kruqDuG+W5lNlYKRSUR4ahx6wymXeSX6FudP0mMKPy5/2ePHHDmC4IYAdvyWeteRVG1PARuQaBmWr/f5b4g2QlVTEXBgsE3j9+KjlgMoZJw[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39ace07d-1b1d-abd1-967c-30b45a2fc309/test-blob-9bb33ec3-3456-1e4c-eaa1-d958ae12977a?sv=Sanitized&se=2025-02-01T20%3A46%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "2XsOSzU7tSaokBWXXsyyzg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423847292502\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:46:03.5959042Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25e137c4-8206-8eff-6bdb-779b946853b9/test-blob-0a43785c-dc93-2cfa-df4b-3253e48dbb3c?sv=Sanitized&se=2025-02-01T20%3A46%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423847390130\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:46:03.6998448Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25e137c4-8206-8eff-6bdb-779b946853b9/test-blob-0a43785c-dc93-2cfa-df4b-3253e48dbb3c?sv=Sanitized&se=2025-02-01T20%3A46%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-39ace07d-1b1d-abd1-967c-30b45a2fc309/test-blob-9bb33ec3-3456-1e4c-eaa1-d958ae12977a?sv=sanitized-value&se=2025-02-01T20%3A46%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423847413D66\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "pdt46Zg4fHA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39ace07d-1b1d-abd1-967c-30b45a2fc309/test-blob-9bb33ec3-3456-1e4c-eaa1-d958ae12977a?sv=Sanitized&se=2025-02-01T20%3A46%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423847292502\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423847292502\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-blob-content-md5": "2XsOSzU7tSaokBWXXsyyzg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:46:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39ace07d-1b1d-abd1-967c-30b45a2fc309?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:46:03.6194647-08:00",
    "RandomSeed": "634805643",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
