{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d3ab3dc6-fdc5-0373-7bcd-ddee72ca4816?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB18D34AE1F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d3ab3dc6-fdc5-0373-7bcd-ddee72ca4816/test-blob-d1731dde-a833-66c7-3961-c5832a33fe4b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ABkgAH9GYDqrNfFCKWDOE6sBlfjj3vtXe59H3m\u002BByJAuH0hA1p4XgP/ngtNuAvt8b84s5WlEkyEdyITg/4LKKm1gFAkXjj0N6hX4\u002B1wo6Xikym6gVOIn6YsnIg0ZN4B9HFhmDu7xZOGRH/tUS5fF9d8LOzQTKtWKOSt98Gsv87OUe98DwtuKsmaNDjXn0p7zYSwtDftLavKD29TCdHN1YitHwM\u002B4wjMEgYnOhRufo2aNiY8/AeW4SBHtgOYGxz7yGKwKnxLOO5/5KYxyfeTW4zdtNerkNmBFj3e\u002By0FM/rlK3G1ulARUvk3wRthZRcstFpyvmJJTDuFLxRCaEHBdrCvTJ6B2aE4zGXad9PCI60mskbSknWUn986LI8/0ua7dkpmshR4qtq5OfH4bthrxwtnG7n\u002B7uQ/FrDDS60R/P2DHv2FW22UrgdoGViHmC0GzmmD1LcsvItmK59ntV8tpzzweU/a4m\u002BdzmmyktGLt3qDvHlHkiRGUmJ2Iy/SMPSkPnYbkx7hK\u002B/55gpNfi212nAg5/jl6hEYqirtZL9Dy51xClBbcCRfopSJSawZ\u002BNQwvEi7sUz/wlRhAuT398Mwuhps2HfZWmpPxUFkWJxk/rFWuKRyhBpMdUf/9m0/Z67RWJORrSBcW2Hib\u002BgLm2m3/AA3oTsavjIAHGcv3Wf5DF2U=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4aINo79E3lVCu0TeDL5K4A==",
        "ETag": "\u00220x8DC4EB18D5F7A9A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:26 GMT",
        "x-ms-content-crc64": "aKgOmlbhGZU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:26.7790490Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d3ab3dc6-fdc5-0373-7bcd-ddee72ca4816/test-blob-d1731dde-a833-66c7-3961-c5832a33fe4b?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4aINo79E3lVCu0TeDL5K4A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB18D5F7A9A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:26.7790490Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c693cb18-7a9c-ff28-d6f0-938faf436aa9/test-blob-9f7d01e8-9e2c-cb6a-8581-af21f2fd2496?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB18D8A06E6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:27.0578918Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c693cb18-7a9c-ff28-d6f0-938faf436aa9/test-blob-9f7d01e8-9e2c-cb6a-8581-af21f2fd2496?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d3ab3dc6-fdc5-0373-7bcd-ddee72ca4816/test-blob-d1731dde-a833-66c7-3961-c5832a33fe4b?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB18DA3098C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:27 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "aKgOmlbhGZU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d3ab3dc6-fdc5-0373-7bcd-ddee72ca4816/test-blob-d1731dde-a833-66c7-3961-c5832a33fe4b?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB18D5F7A9A\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB18D5F7A9A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:26 GMT",
        "x-ms-blob-content-md5": "4aINo79E3lVCu0TeDL5K4A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:26.7790490Z"
      },
      "ResponseBody": "ABkgAH9GYDqrNfFCKWDOE6sBlfjj3vtXe59H3m\u002BByJAuH0hA1p4XgP/ngtNuAvt8b84s5WlEkyEdyITg/4LKKm1gFAkXjj0N6hX4\u002B1wo6Xikym6gVOIn6YsnIg0ZN4B9HFhmDu7xZOGRH/tUS5fF9d8LOzQTKtWKOSt98Gsv87OUe98DwtuKsmaNDjXn0p7zYSwtDftLavKD29TCdHN1YitHwM\u002B4wjMEgYnOhRufo2aNiY8/AeW4SBHtgOYGxz7yGKwKnxLOO5/5KYxyfeTW4zdtNerkNmBFj3e\u002By0FM/rlK3G1ulARUvk3wRthZRcstFpyvmJJTDuFLxRCaEHBdrCvTJ6B2aE4zGXad9PCI60mskbSknWUn986LI8/0ua7dkpmshR4qtq5OfH4bthrxwtnG7n\u002B7uQ/FrDDS60R/P2DHv2FW22UrgdoGViHmC0GzmmD1LcsvItmK59ntV8tpzzweU/a4m\u002BdzmmyktGLt3qDvHlHkiRGUmJ2Iy/SMPSkPnYbkx7hK\u002B/55gpNfi212nAg5/jl6hEYqirtZL9Dy51xClBbcCRfopSJSawZ\u002BNQwvEi7sUz/wlRhAuT398Mwuhps2HfZWmpPxUFkWJxk/rFWuKRyhBpMdUf/9m0/Z67RWJORrSBcW2Hib\u002BgLm2m3/AA3oTsavjIAHGcv3Wf5DF2U="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d3ab3dc6-fdc5-0373-7bcd-ddee72ca4816?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:59:25.4021861-07:00",
    "RandomSeed": "1793103106",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
