{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b5f6773-8ec3-616b-25a6-d83fd6a638fb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11452CE505\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b5f6773-8ec3-616b-25a6-d83fd6a638fb/test-blob-a791766e-c50b-a005-23ee-04d13c0e2e3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "v0+NH2QOkkEkPYEK6FlVUY1BNbzu7pzhpgjzbTrAbEFEzlna5jaDKHOfvwlUFUlnKM5J6DqpcdCzrHlbGyQHY9E/xhoAemtWvgxITy6SjJC/jEVrd4MHmlyIJzm8Jw1PmFs3FE8vZ61i8yotYSKhIB/onI7fnOxNOCu9d1Ixmpb/+bbTW3hBjySXCINZ2jg65wca04p+b/tv6twjcu9bMViTLmhrzsWnpwxpSJNo817ygpBKF8YMgIm6ZHCcHh01PNcrxqvQzhhCcix+FCdoBvZ9MO9fEBmSh67esGpUC4juNAy8PSyyIrR3CKSajWtiUl15Hu4u1Su9mD/98R2u7mejj+Aaq8jJyw066Ad19/lCfF4M2u2awF/g/6TttTGXyRo99v6LR6aVr1Lg8+0kSKFGunS/oRN6Cc6AOqw[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b5f6773-8ec3-616b-25a6-d83fd6a638fb/test-blob-a791766e-c50b-a005-23ee-04d13c0e2e3d?sv=Sanitized&se=2025-03-08T00%3A44%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "VzXlp6FDHx/hFgH5dzzwkQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11453FE8C3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c21c8993-7284-9d15-f0c1-f54ee372acf1/test-blob-8bfdf784-820c-83db-1cab-f9929d9279fc?sv=Sanitized&se=2025-03-08T00%3A44%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1145574E27\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c21c8993-7284-9d15-f0c1-f54ee372acf1/test-blob-8bfdf784-820c-83db-1cab-f9929d9279fc?sv=Sanitized&se=2025-03-08T00%3A44%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3b5f6773-8ec3-616b-25a6-d83fd6a638fb/test-blob-a791766e-c50b-a005-23ee-04d13c0e2e3d?sv=sanitized-value&se=2025-03-08T00%3A44%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1145606B99\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "bQNPlxttJJ0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b5f6773-8ec3-616b-25a6-d83fd6a638fb/test-blob-a791766e-c50b-a005-23ee-04d13c0e2e3d?sv=Sanitized&se=2025-03-08T00%3A44%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11453FE8C3\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11453FE8C3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-blob-content-md5": "VzXlp6FDHx/hFgH5dzzwkQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "v0+NH2QOkkEkPYEK6FlVUY1BNbzu7pzhpgjzb[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b5f6773-8ec3-616b-25a6-d83fd6a638fb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:44:51.4639945-08:00",
    "RandomSeed": "1946110836",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
