{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea60ae21-b711-6a72-7def-cd4a30e89ed8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:35:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E32BC5AA2\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea60ae21-b711-6a72-7def-cd4a30e89ed8/test-blob-9cada2b2-e839-12dd-5741-cd4f3dbe3edd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "RuCLc9kK+Z5r2u3GObtCydVwaUi9s7ADuh9JGKQ8T5dWyVDek04LyqEJt3cHnHx4/V17eAvkaZMwh7i6weH6LopWcG9rYzaHZJ6ms/w4/B6i0BtGwNeLcV+8rgyVUQnAD4jtsSwMDJkn9BNsPbWW94uaF/HGs22zyv4Pr7Up8hOV5qRzS0rxlcOBHszDHjOpJreA+jkX+VwaOect/V3k/QIA1lYRIqtAqYEtRJSh76vKZYj9qffafe1HWRJjw5hmnSHKw0fdmAMMP1G36rXHeUk7Y5fU5lQKJVlpycmZ3eXpxqdz1yxj7c2F8WmmIpM3gODIJ2ABkbbMv53uc845cmJsziMOU6Ed13XJTvXrZAPGMknp0bWE5zXwpxeOdXr+TH4GOlNvKSw+qlDqN0LB4FuaKEGFT6Gs5+buHayJjmL7ygJ25SmvVggcqyZlmrDyLsa89Ew5efzcWVJtgAuAtBzu72w/Svsx6tI4aaR7R0w2/O/lzZkVwlEGmYvWQtX8m/YKd6tDsuPLigp6ABBXYRIGNoQcmueC2CwbObFwWqj8O82ucdCh8kkLGkKPm8JBrjh50AtR4AAOh55+KHkyWjBifsRCqfBBZEQ6EICk8z1q2Yp49omdq1vNn+kyI8nQ2L8SLRz9/gVHN2zGFs+AaZNgFE7uuWSmxNNpdQoGD0E=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "L+Yuz498w47WIAydY9lr6w==",
        "ETag": "\"0x8DC6A1E32DA88A9\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-content-crc64": "rdM3lEWbBvU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:11.4513577Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea60ae21-b711-6a72-7def-cd4a30e89ed8/test-blob-9cada2b2-e839-12dd-5741-cd4f3dbe3edd?sv=2024-08-04&se=2024-05-02T20%3A35%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "L+Yuz498w47WIAydY9lr6w==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E32DA88A9\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:11.4513577Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4b29051d-1e64-4ccc-8507-9c7fb03d9023/test-blob-4d06fc3b-bc25-03f3-78bd-feeffb8ca15a?sv=2024-08-04&se=2024-05-02T20%3A35%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E32FCD8A3\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:11.6772281Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4b29051d-1e64-4ccc-8507-9c7fb03d9023/test-blob-4d06fc3b-bc25-03f3-78bd-feeffb8ca15a?sv=2024-08-04&se=2024-05-02T20%3A35%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-ea60ae21-b711-6a72-7def-cd4a30e89ed8/test-blob-9cada2b2-e839-12dd-5741-cd4f3dbe3edd?sv=2024-08-04&se=2024-05-02T20%3A35%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E3313438B\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "rdM3lEWbBvU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea60ae21-b711-6a72-7def-cd4a30e89ed8/test-blob-9cada2b2-e839-12dd-5741-cd4f3dbe3edd?sv=2024-08-04&se=2024-05-02T20%3A35%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E32DA88A9\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E32DA88A9\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-blob-content-md5": "L+Yuz498w47WIAydY9lr6w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:11.4513577Z"
      },
      "ResponseBody": [
        "F��s�\n",
        "��k���9�B��piH���\u0003�\u001FI\u0018�<O�V�PޓN\u000Bʡ\t�w\u0007�|x�]{x\u000B�i�0������.�Vpokc6�d����8�\u001E��\u001BF�\u05CBq_��\f�Q\t�\u000F���,\f\f�'�\u0013l=�����\u0017�Ƴm���\u000F��)�\u0013��sKJ�Á\u001E��\u001E3�&���9\u0017�\\\u001A9�-�]��\u0002\u0000�V\u0011\"�@��-D����e�����}�GY\u0012cØf�!��Gݘ\u0003\f?Q���yI;c���T\n",
        "%Yi�ə���Ƨs�,c�ͅ�i�\"�7���'`\u0001��̿��s�9rbl�#\u000ES�\u001D�u�N��d\u0003�2I�ѵ��5�\u0017�uz�L~\u0006:So),>�P�7B��[�(A�O�����\u001D���b��\u0002v�)�V\b\u001C�&e���.Ƽ�L9y��YRm�\u000B��\u001C��l?J�1��8i�{GL6���͙\u0015�Q\u0006���B����\n",
        "w�C��ˊ\n",
        "z\u0000\u0010Wa\u0012\u00066�\u001C���,\u001B9�pZ��;ͮqС�I\u000B\u001AB���A�8y�\u000BQ�\u0000\u000E��~(y2Z0b~�B��AdD:\u0010���=jيx����[͟�2#��ؿ\u0012-\u001C��\u0005G7l�\u0016πi�`\u0014N�d���iu\n",
        "\u0006\u000FA"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea60ae21-b711-6a72-7def-cd4a30e89ed8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:35:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:35:11.2567552-07:00",
    "RandomSeed": "504048269",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
