{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8be078e-d520-425a-c365-7eb87f8095d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3E4A49CEB\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d6e8f46a-4cbd-09f8-c986-691b460f9202/test-blob-6352af52-1750-742f-1b1b-0a38b4613869",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3E4B7AF2A\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:27.8354730Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d6e8f46a-4cbd-09f8-c986-691b460f9202/test-blob-6352af52-1750-742f-1b1b-0a38b4613869?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "/vfshrnQERKXtw\u002BsrNJ455NS9/v6i5YH6D2YTt/IpLbCgG9N7EvbLFdq6PfOVI5CF0wAXqYpD3Ng5Z17OMIyzhNY6StiKvtId8ujj6KfOJSvVTeSyEUQmXH77QatX/OUOBrkdmti3\u002BxRuOfbhYDQwa0JzOKLoAbNSFC6Zz30mhjXD1eIusIpTXZLQRBeNBPxKixZo5MQCZgUFy0aqHivXB3OA3YoSAfr4H9sQF71bhM8yDwRm/aFxgW/dKKUDqT\u002Bm\u002BTyjzGcyOIlbsMUpMk5HqgZ3d87ncAmSTxwadNkVtLabqR5A9/inwBZ7C0zcSI8hlb6ejDFw[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8be078e-d520-425a-c365-7eb87f8095d6/test-blob-8606e471-6d31-b402-c9a7-81fbd057f20b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "arHg9I3CqAxfJANcnqdcJfLc5C7cdMkWBcSgLgBpTjDdeICI5e3q5gzuamMjhn\u002BBs/z2YU0B6/bnyu7IIXoL9tbSfiUm0z8F8f4h7glm8n5FHnoEcuzj3I2KoRv\u002BIcSS4nSMUAhZW9\u002B88G9P3/3sgNdvgwL/B4Pp7qGYnDIkB885jwuV2qF268ObR4F9lP2PnSBDj57Bktvxo2JmwL6smOmfFU/yV6Y1\u002BZc/ZL8BbFqkCf4S4XcxePwwpDY/DyoF7q\u002BX3X6tnUV5DZYGgi4b7zYHwre/mrdybZxSwrNv9elsOnUQaY7c92y5mNPhK/bOFLT/OE1zRVT4JW/hWtqRChesmUi5C4WnK8pLBgLjkEKmhK3\u002BcL2c\u002BfQgGEQf\u002Bpy[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8be078e-d520-425a-c365-7eb87f8095d6/test-blob-8606e471-6d31-b402-c9a7-81fbd057f20b?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A27Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "qv1uB187TwGKyKtLRadOEQ==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3E4CBA972\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:27.9663986Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d6e8f46a-4cbd-09f8-c986-691b460f9202/test-blob-6352af52-1750-742f-1b1b-0a38b4613869?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A27Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3E4ED363F\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "v2RY0\u002B7ET7g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8be078e-d520-425a-c365-7eb87f8095d6/test-blob-8606e471-6d31-b402-c9a7-81fbd057f20b?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A27Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D3E4CBA972\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3E4CBA972\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-blob-content-md5": "qv1uB187TwGKyKtLRadOEQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8be078e-d520-425a-c365-7eb87f8095d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:27.5235450-07:00",
    "RandomSeed": "258629019",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
