{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-025e01d6-4e90-0863-5203-36a321a07736?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619F152AFA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-025e01d6-4e90-0863-5203-36a321a07736/test-blob-cb9698e6-bd1d-3bec-5863-5256c3ceeba9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "qRhYuJjk6rcjXcbc06xajNA+tLgwD2iH920H1XvAMh3If127PD2KrHjL2/wIDlwKrRXDib5k+pmw0cEq3RU8YiqpFFNPn1CSswhAZTRrfugR/Chl/KheZIXDC2t8YM5jj3jRX/oIuw7FMdW1I5VlRFLZGeDs1maCSrDNi5PlFlM53dW7mR7tCEAZoMvSqEDwXsYYokbtdrgSTxVKOy963xqCfEW/qasz7BCf0jabsKFv3S3NzHMNS2cdqUoJo80Rn8CwUCz6MLQb5bY1TaOCdp90210BrBKmdDDeof9gKUhDjjN16l90dKx4sue91/7DmzOrlcdvD/KuCdv8HI61urtt8b9vDIs//2ewifor6ZwyGwbMtZSB039Bx+GEd1gdw/csT+U+U46na5Vgv4b3giA/ygCI6QUm7B5ALkW[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-025e01d6-4e90-0863-5203-36a321a07736/test-blob-cb9698e6-bd1d-3bec-5863-5256c3ceeba9?sv=Sanitized&se=2025-10-01T20%3A40%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "URoUtmMVgWVLaQBMyPgfXg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00619F2CF3C5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ab63c57-32c3-d568-2eac-86687ec5ef7e/test-blob-0160ca45-137e-0661-8cd3-0a00ee3d7a24?sv=Sanitized&se=2025-10-01T20%3A40%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619F588DBD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ab63c57-32c3-d568-2eac-86687ec5ef7e/test-blob-0160ca45-137e-0661-8cd3-0a00ee3d7a24?sv=Sanitized&se=2025-10-01T20%3A40%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-025e01d6-4e90-0863-5203-36a321a07736/test-blob-cb9698e6-bd1d-3bec-5863-5256c3ceeba9?sv=sanitized-value&se=2025-10-01T20%3A40%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00619F629490\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "sWnr2FFMBUs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-025e01d6-4e90-0863-5203-36a321a07736/test-blob-cb9698e6-bd1d-3bec-5863-5256c3ceeba9?sv=Sanitized&se=2025-10-01T20%3A40%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00619F2CF3C5\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00619F2CF3C5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-blob-content-md5": "URoUtmMVgWVLaQBMyPgfXg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "qRhYuJjk6rcjXcbc06xajNA+tLgwD2iH920H1[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-025e01d6-4e90-0863-5203-36a321a07736?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:40:41.6707777-07:00",
    "RandomSeed": "1865401342",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
