{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d7c5d6bd-072e-e52a-496f-27a3fcf8d678?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061AA4108EA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d7c5d6bd-072e-e52a-496f-27a3fcf8d678/test-blob-edb7207e-36c0-07bb-6967-75508a8dbd35",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "dMt8lHzIu59p87Umyd/gktJ4RBVfPA84RlSU8SQcW4+zboRhGcO3EvjWygtIhtxzXXwvh5BCWTi7Q00nM8l6TZclc1taf3gOwDIdiXEE8MB3IZOo7NT/cBRMpdZ1j94uW3xzIxKBGN4EIMddJdDGt1ONsBI10WDDJQNGDdmimDBU7i30kcyt9gi0o8wNokpEhu2C6N/L+IkcsP0POgsEYoeWCTei0SaG37kKgC6UtoO4AofsH7BRiPWj2ODPnbv8sEFFdpgSobXH+wglwXhbh/p6VzeEGELWRYBC/vhFt0H+DdDsTz/qpWDRJCOnK8d9SFHmVUaDeJf/bjEY0KK8gkTGJ7Snbzi6j7HXsvQeLhm5xbanXmH7epQ57OAO0tW+FKLf4QQS1tgYLMWVrMWj4D8XXgvsFSPjy6wfbYJXq73cGJ1RP00Vpu7ejjKbZs3Olguh93PJ0v9/+xZX8mhVwIAIuJMoUaHxAbgcDYfwR2TfUdd2trRKEkae0kM3vrOGiM2yk605pkVqr/a7rcR3jrOxd6GR3gnLvqZNiX5dukIElYW5PrS3paqSDAe+j2SCJkSPhkYS9anE5tUH7B3GDfSztxc/vk//+dL3/tICDS5BymI6zTT78aDb9VjfsLiNy/4SCthNQ2f0kIx0GvbWwdmmxSK6jD/AuMV3Y8n3H0k=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mW9cWeewlT0a/ScjP2J5pw==",
        "ETag": "\"0x8DE0061AA57A5ED\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-content-crc64": "zXONEzT8i3Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d7c5d6bd-072e-e52a-496f-27a3fcf8d678/test-blob-edb7207e-36c0-07bb-6967-75508a8dbd35?sv=Sanitized&se=2025-10-01T20%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "mW9cWeewlT0a/ScjP2J5pw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061AA57A5ED\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5cc7c9f0-7fd5-c8da-4489-19e25fdb76ca/test-blob-0ef447c3-d17e-8611-c031-2e093fd2bfd9?sv=Sanitized&se=2025-10-01T20%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061AA7DC7BB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5cc7c9f0-7fd5-c8da-4489-19e25fdb76ca/test-blob-0ef447c3-d17e-8611-c031-2e093fd2bfd9?sv=Sanitized&se=2025-10-01T20%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-d7c5d6bd-072e-e52a-496f-27a3fcf8d678/test-blob-edb7207e-36c0-07bb-6967-75508a8dbd35?sv=sanitized-value&se=2025-10-01T20%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061AA87CE90\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "zXONEzT8i3Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d7c5d6bd-072e-e52a-496f-27a3fcf8d678/test-blob-edb7207e-36c0-07bb-6967-75508a8dbd35?sv=Sanitized&se=2025-10-01T20%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061AA57A5ED\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061AA57A5ED\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-blob-content-md5": "mW9cWeewlT0a/ScjP2J5pw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "dMt8lHzIu59p87Umyd/gktJ4RBVfPA84RlSU8SQcW4+zboRhGcO3EvjWygtIhtxzXXwvh5BCWTi7Q00nM8l6TZclc1taf3gOwDIdiXEE8MB3IZOo7NT/cBRMpdZ1j94uW3xzIxKBGN4EIMddJdDGt1ONsBI10WDDJQNGDdmimDBU7i30kcyt9gi0o8wNokpEhu2C6N/L+IkcsP0POgsEYoeWCTei0SaG37kKgC6UtoO4AofsH7BRiPWj2ODPnbv8sEFFdpgSobXH+wglwXhbh/p6VzeEGELWRYBC/vhFt0H+DdDsTz/qpWDRJCOnK8d9SFHmVUaDeJf/bjEY0KK8gkTGJ7Snbzi6j7HXsvQeLhm5xbanXmH7epQ57OAO0tW+FKLf4QQS1tgYLMWVrMWj4D8XXgvsFSPjy6wfbYJXq73cGJ1RP00Vpu7ejjKbZs3Olguh93PJ0v9/+xZX8mhVwIAIuJMoUaHxAbgcDYfwR2TfUdd2trRKEkae0kM3vrOGiM2yk605pkVqr/a7rcR3jrOxd6GR3gnLvqZNiX5dukIElYW5PrS3paqSDAe+j2SCJkSPhkYS9anE5tUH7B3GDfSztxc/vk//+dL3/tICDS5BymI6zTT78aDb9VjfsLiNy/4SCthNQ2f0kIx0GvbWwdmmxSK6jD/AuMV3Y8n3H0k="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d7c5d6bd-072e-e52a-496f-27a3fcf8d678?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:00.4071913-07:00",
    "RandomSeed": "1354484273",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
