{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4238ca00-b598-d9e8-fa95-7f23b88c6f63?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B026910DC\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4238ca00-b598-d9e8-fa95-7f23b88c6f63/test-blob-5831ef57-b262-9f98-7318-3ed78c965934",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "mwDLDRwbfR0DqqBWbNpw/FyTRZF7zwKRaJjRTLqS\u002BLkqB9nFWjoBctPmndNOr\u002BxjogdJuh2Bnsz9OaWESTFjcLHmLGQAqqIhkdK\u002BlDIvQ7mrbqmyST6cqGkNxyCVfSmigiwiZ4KIYvdlJylKwwmazvbr2NuIsCZySYP68\u002BKBjBSpHBEFDdw2IwyxTSIVUuRgc/kqqqROGdIGrx3/jW8U5JsUoKf3lMAatLXO1mMEXfeemoDpVuJvWwI//l6\u002BN5WdnGmHALI9aN44EPXvf0NvAVEmYPLuK425pUSlt5ZiW30fMTr5fVxEYTKisEXsf9y\u002B0P0MmNairnHczV[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4238ca00-b598-d9e8-fa95-7f23b88c6f63/test-blob-5831ef57-b262-9f98-7318-3ed78c965934?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "z\u002BFddz1yPdYQ3jVT6jXMDg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B027FA8F2\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:00.1783538Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a5b24c3a-4b9d-6d92-ed94-67fbf3d85e8e/test-blob-ea7e8f70-2f02-f3d5-6a69-b221b2e4ebae?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B029A0AEE\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:00.3512558Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a5b24c3a-4b9d-6d92-ed94-67fbf3d85e8e/test-blob-ea7e8f70-2f02-f3d5-6a69-b221b2e4ebae?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "Sanitized",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B02A57AF3\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "VcX4\u002BARb9GE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4238ca00-b598-d9e8-fa95-7f23b88c6f63/test-blob-5831ef57-b262-9f98-7318-3ed78c965934?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B027FA8F2\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B027FA8F2\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:00 GMT",
        "x-ms-blob-content-md5": "z\u002BFddz1yPdYQ3jVT6jXMDg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:00.1783538Z"
      },
      "ResponseBody": "mwDLDRwbfR0DqqBWbNpw/FyTRZF7zwKRaJjRTLqS\u002BLkqB9nFWjoBctPmndNOr\u00[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4238ca00-b598-d9e8-fa95-7f23b88c6f63?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:06:58.4178833-07:00",
    "RandomSeed": "1975901032",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
