{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b9144967-4814-0a39-aaa7-e0f55208cc07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3D99E4320\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1abfea7-77c7-14e7-a7b6-52c4806a569b/test-blob-42bd269e-da12-25e4-70e4-5ffa224f83be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3D9B1AA17\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:09.3410839Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1abfea7-77c7-14e7-a7b6-52c4806a569b/test-blob-42bd269e-da12-25e4-70e4-5ffa224f83be?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "dWz1Ps2x1njcuqdynM34nSURgaMvyXHAtIpFScf7mC1QVJOTnJQ4L1CvolNbx8vD/7bWIrWsWav7NIlDbIyx4CF6IUg6ZQGQ2FJSgCYdZey/gkoQJHV3pPrnl2cL9cPE/cIx4KaCiJm0RkpjWdiF3c6cg\u002BpBobusA31OUs6aheKOjoJk7IVGPPmxW94rFEshYrmZbnHZglwGhd0oNDbLGsBn1MpWIPFIVkfwkEbcgO4yLO8UABdwtQsmXmeoHQjC5kAdw0CAy0LHUBcq6PIWKQTu9ghGthqp9h\u002B\u002BL8KJoDg\u002BLaoFv7yusWCtTK//RcwZEDRiuSf/e[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b9144967-4814-0a39-aaa7-e0f55208cc07/test-blob-9fb4543a-0d48-e850-2367-bf6bad135b7a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "8FJzf9QVfV3yNHaiYbpkEbbFC4nC\u002Bw683\u002B3wmuVn7x1uLEhmehPr/zE5nKPrIwdYz1HDXZ0rhvRDt5/mJOJ3ikVZNDVx/Zei2QxXiF5r0LzlmMuUpJF/QqZUI8N0BNpPwRJdku/S5tG5IYSR1P2V1\u002BfjAYwX4\u002BW02fGOHdrULtQxB8dMDT3MErH62oMM7m6pvkvbkQNOON4sqbj\u002BRMn25fKwX8w2SMmpFu/aHAlip\u002BuC5V\u002BP\u002BJ3Q48/oIGSEzs3nA/WQW46icnWBMnoUcxvUyQHNe19qZ\u002BxV4Hv8TShlJEgh8hgU0Uxc33LpDcUivHC0FFZitlJufZwIOnsTpiVNHA4y8oACwPe1cZvtgFkmMyMLSDnRAm31s3V8C5[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b9144967-4814-0a39-aaa7-e0f55208cc07/test-blob-9fb4543a-0d48-e850-2367-bf6bad135b7a?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A09Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "2EL9C9jI8QnN/sYOr8O6Sg==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3D9C46BFF\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:09.4640127Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1abfea7-77c7-14e7-a7b6-52c4806a569b/test-blob-42bd269e-da12-25e4-70e4-5ffa224f83be?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A09Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3D9F22C08\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "9CMmZXVIUnQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b9144967-4814-0a39-aaa7-e0f55208cc07/test-blob-9fb4543a-0d48-e850-2367-bf6bad135b7a?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A09Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D3D9C46BFF\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3D9C46BFF\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-blob-content-md5": "2EL9C9jI8QnN/sYOr8O6Sg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b9144967-4814-0a39-aaa7-e0f55208cc07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:09.0229351-07:00",
    "RandomSeed": "596631564",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
