{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ed3b603-6c64-23f1-af0f-9fb79861896e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:35:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E428CC023\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ed3b603-6c64-23f1-af0f-9fb79861896e/test-blob-ecafb95d-5701-7bc6-0734-931db18d6eda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:35:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "MnfAEG04m0JtBuiMC2OK1VAmIJ8dfiz0S8UQ6B4Bj7+bZBjJiT60OCn4XmicSKNubvaROySbo7RLy8SnJ7MkbHYp8KdLwUwRced1JB/EWAMioXknb1SaAMFkfr15DRF21PLxc1f8I62pgMk8JX6VhnPBhIU5/PwijvDl50KPl2TW/1As0+WrJn7Lfe+KXtpCzvdJuIiLPNf2zuRnFjtqGuhlZiUtaLOOFV4HbX8NmC8VohhLRd/cS8J5NgQARBBCYWMGJPi0FWZDu6Ipg85Y6Da0UXMjH9QJiRpjtDGvjtFOxAwcB3M3YI2xCIo9ssfzIE7OS/OcHkGO/ZvdUWE1lCzR277CPOHCffDlcRdJzNdTb5Pj4ELdsaXKjQnYWg4sfHNda9YIMeRsDM4Ct60qRDDDiuLNUbPp8yoZ967X6iLiuPWj62AASj2vdtR02/r4oEjYFNArXyvAdHis7zo1lSGrH/63h1nQwz+lHtrfdRcvIFZm/tZRtlnJ43foVFoDeeGyyLv8QBjvCFGRhkBQ4P5gfM/jz5ZLWmmk7qTh527koqT5LaxbM98+dvaEwC8ZeQJ4iNiLH6pLZm5SV1J0DiDirOSbV7JSBEjvpVigxpk5i3ShaF+WWIL6rcc9CduMyWjVohRKfSFPJoOPm3pSq5/VGMze0qXATFNioanrFfo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "fLcvwgQ4h4tHrLeJTeYoPQ==",
        "ETag": "\"0x8DC6A1E42B15EA2\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-content-crc64": "A6V8DZlkNO0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:38.0251298Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ed3b603-6c64-23f1-af0f-9fb79861896e/test-blob-ecafb95d-5701-7bc6-0734-931db18d6eda?sv=2024-08-04&se=2024-05-02T20%3A35%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "fLcvwgQ4h4tHrLeJTeYoPQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E42B15EA2\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:38.0251298Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5d1a5f0b-bdd1-2782-7e51-8c150fc22b69/test-blob-7cf42fe1-929e-183d-7d4b-98cc13925308?sv=2024-08-04&se=2024-05-02T20%3A35%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E42E11A35\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:38.3379509Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5d1a5f0b-bdd1-2782-7e51-8c150fc22b69/test-blob-7cf42fe1-929e-183d-7d4b-98cc13925308?sv=2024-08-04&se=2024-05-02T20%3A35%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-8ed3b603-6c64-23f1-af0f-9fb79861896e/test-blob-ecafb95d-5701-7bc6-0734-931db18d6eda?sv=2024-08-04&se=2024-05-02T20%3A35%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E42F1B999\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "A6V8DZlkNO0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ed3b603-6c64-23f1-af0f-9fb79861896e/test-blob-ecafb95d-5701-7bc6-0734-931db18d6eda?sv=2024-08-04&se=2024-05-02T20%3A35%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E42B15EA2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E42B15EA2\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-blob-content-md5": "fLcvwgQ4h4tHrLeJTeYoPQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:38.0251298Z"
      },
      "ResponseBody": [
        "2w�\u0010m8�Bm\u0006�\u000Bc��P& �\u001D~,�K�\u0010�\u001E\u0001���d\u0018ɉ>�8)�^h�H�nn��;$���K�ħ'�$lv)�K�L\u0011q�u$\u001F�X\u0003\"�y'oT�\u0000�d~�y\r",
        "\u0011v���sW�#����<%~��s���9��\"����B��d��P,��&~�}�^�B��I���<����g\u0016;j\u001A�ef%-h��\u0015^\u0007m\u007F\r",
        "�/\u0015�\u0018KE��K�y6\u0004\u0000D\u0010Bac\u0006$��\u0015fC��)��X�6�Qs#\u001F�\t�\u001Ac�1���N�\f\u001C\u0007s7`��\b�=��� N�K�\u001EA����Qa5�,�۾�<��}��q\u0017I��So���Bݱ�ʍ\t�Z\u000E,|s]k�\b1�l\f�\u0002��*D0Ê��Q���*\u0019����\"����`\u0000J=�v�t����H�\u0014�+_+�tx��:5�!�\u001F���Y��?�\u001E��u\u0017/ Vf��Q�Y��w�TZ\u0003y�Ȼ�@\u0018�\bQ��@P��`|��ϖKZi����n䢤�-�[3�>v���/\u0019y\u0002x�؋\u001F�KfnRWRt\u000E ��W�R\u0004H�X�ƙ9�t�h_�X����=\tی�hբ\u0014J}!O&���zR���\u0018��ҥ�LSb���\u0015�"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ed3b603-6c64-23f1-af0f-9fb79861896e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:35:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:35:37.8756072-07:00",
    "RandomSeed": "1138697806",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
