{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-205999d4-df0a-dda3-664b-b427149cdb10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FAF0D3F60\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bf52421-0c0c-608e-3b4e-784ee2290644/test-blob-902d7435-1995-b369-feff-79283f43a38f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FAF1C765C\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:04.4729436Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bf52421-0c0c-608e-3b4e-784ee2290644/test-blob-902d7435-1995-b369-feff-79283f43a38f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EjJgb/lZt28JhQlAbmVVjycsaleY5wVmECyy/LMmFc1iep5csAtJfG+MksJb+ddKXZ2X+unaRyos+V7Np7u843A83fPH+N4b4+3nDFVDChZUZ54VjhvjiDNzMLate9W00K5SHxzkg2W+exb78jrV6e9HeT8cplRVWVXAU8gnbmcYMzym8ev6cOQ5VhME55b4nUbHZQKVlyla/cbGIy+clg2v477+LvgETQlb41BBUHG+x7aBYAhlg5sTTPQlM0y1nL8FVQTX+m9Owxj5OrTZGKxUCFx5GjYESWAi6uEE3xm8pUaQO/tt58xGM53wbEnnOjNH0SvwPIKJAAujtA+NSuT+PJRtS[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-205999d4-df0a-dda3-664b-b427149cdb10/test-blob-c79c746d-7818-4d7f-5dfa-c3c3ae364415",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "q9OhvfYcKf2bz0G5G/QPWu9RLismCI2KlobHlG9/IzUHI0YtLG2bg+7jCllf2zEXpSqKABcrraNGFyZvVZWOHKwMsfet4i6Btqo8Q/00KrtVsO5E9SId3Hai5xRGKy5YVe6tUyk5acP8CEps72mlEu1rGaSmSSaJ7tWBC/oaO4p85O4PhteRHEcrSO3Yse0M/dUm2xGKsQvHJGRUt17I4sy/8Ap7losW2f1degE5sD3odQ4l82B48TLiR2FyPWXoY2UgGcHikGZJEAEULDYJjnMna0FQou5sRv7YmE8po5yXdBebGJd7BuSn2+NfY8X72LntS9EjmMB3tNLCCvgXH2xkfbgfbnXcq2VcqMYLDeI53L+VO1jLc9tWJGTEufvskLx2+uYM3GpDEZ9rx/D5a6bviS04geQTmQncyEk[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-205999d4-df0a-dda3-664b-b427149cdb10/test-blob-c79c746d-7818-4d7f-5dfa-c3c3ae364415?sv=Sanitized&se=2025-02-01T21%3A39%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "EERIIkgwKfWmqXbAtRdKoQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FAF2C0474\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:04.5748852Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bf52421-0c0c-608e-3b4e-784ee2290644/test-blob-902d7435-1995-b369-feff-79283f43a38f?sv=Sanitized&se=2025-02-01T21%3A39%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe48fef8-301e-0096-6e28-74d313000000\n",
        "Time:2025-01-31T21:39:04.6745232Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bf52421-0c0c-608e-3b4e-784ee2290644/test-blob-902d7435-1995-b369-feff-79283f43a38f?sv=Sanitized&se=2025-02-01T21%3A39%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FAF237A36\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:04.4729436Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bf52421-0c0c-608e-3b4e-784ee2290644/test-blob-902d7435-1995-b369-feff-79283f43a38f?sv=Sanitized&se=2025-02-01T21%3A39%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FAF237A36\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FAF237A36\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-205999d4-df0a-dda3-664b-b427149cdb10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:39:04.5511315-08:00",
    "RandomSeed": "1845303162",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
