{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c947c65-5815-053c-73ae-79e00e2e1c7d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3E54D3233\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c947c65-5815-053c-73ae-79e00e2e1c7d/test-blob-a48f6ec6-b1dc-1e0e-b77c-66a32bc694d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "yL8mZdPJO6wVTtZxEozxznnJo3cWe\u002BWx5MeDOjLEk8HYQnYOPvniMH6dJ752lAQhgn\u002Bzn4ZgAE3adIELRQF5ULsVmdAW45CA53L5eVMmO0/CYbezEPM7eEIpNMl41up8I9cCYPs0C5/vM7cTZof5szkxSeRJxj/H2SGO7K7GBxGIfFV8I9pUjVYYxN08KBG6MIGQRo0GMl2XO4faph7wKCyli\u002BkyfI9e3LuNMQFii7EP07wtNcGEgUn35OhTeuc3J5uwlpwnh7PxMWnSeQFbNK/VytJiw/NqIQmgOpemC2LTVQlmsfQU6EsIOwRXsghIm7A5frAU1GSoRnWSh0wbSiYH/iP49YO6wOKHWofuE24BWJ/nbY2xv4ClvWt/gWH\u002B7fDeT7TkT6Usfr3OjXr[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c947c65-5815-053c-73ae-79e00e2e1c7d/test-blob-a48f6ec6-b1dc-1e0e-b77c-66a32bc694d9?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A28Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "bCn6yYbuVVK0M0uAOy4sXA==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3E56206F8\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:28.9528312Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ef79d7cb-b192-f433-ad81-64ea44ea0ca2/test-blob-b2518e52-ea63-184c-951c-e6acea459a0c?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A28Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3E57BCCBB\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:29.1207355Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ef79d7cb-b192-f433-ad81-64ea44ea0ca2/test-blob-b2518e52-ea63-184c-951c-e6acea459a0c?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A28Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3E585DD66\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:29 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "0a7TZv/MqCQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c947c65-5815-053c-73ae-79e00e2e1c7d/test-blob-a48f6ec6-b1dc-1e0e-b77c-66a32bc694d9?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A28Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D3E56206F8\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3E56206F8\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-blob-content-md5": "bCn6yYbuVVK0M0uAOy4sXA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c947c65-5815-053c-73ae-79e00e2e1c7d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:29 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:28.5729377-07:00",
    "RandomSeed": "1109590448",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
