{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-112eee8f-11ce-df66-9cb1-1d36f64775f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86905D2656AA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:22:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-112eee8f-11ce-df66-9cb1-1d36f64775f0/test-blob-ea55d765-5d02-2da5-c975-6429d58be016",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Mx/g8XzLBNy/mJIzcFtHlAZy14fR4B/0xZxJX3T5Jw6RJrNU/UAqSjHJjbqW/4B0otv7u/4uIlIA6yzfgqRoxnCDoUmo8pfGSI1VCFNkXsUc1LyZ/mwQYgRhVBEUSseNYcdKEl42zLBENHJx2Rn/m41mwq3nz8gEcz5FRp2Fsv3FyKeLGktn5ggMVMn5nonqYrmErYcZpZL+RZ8f8YUSv4J1qxByc4FC/tyl23r+CtW1WuTkAAR1rCIVjdSsSPWD+ZVHhPJ5d+43Qq6rdMoX/zrJapagLr59///tXeatlbbnIeHkt4biO+P1rb5VyjdY/Y2Z4t5f4svXyYTzixkIiqz4w1LpM0i05y6yqoAAJzXIlWBYE7PYiD4VDe4B7rDJ7SIRXQbkb8pF5fqvrDhK16JPK/a5sHb5HzsT0yV[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-112eee8f-11ce-df66-9cb1-1d36f64775f0/test-blob-ea55d765-5d02-2da5-c975-6429d58be016?sv=Sanitized&se=2024-06-08T01%3A22%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Pp2SArXAiSLmfiSHOiTz3w==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86905D4494B4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:22:57 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:22:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:22:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:22:57.7956020Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba51b1b1-02e5-d963-d14c-5ffce32e50e6/test-blob-5cc8bf69-72a8-2381-f0ec-ee94642a3175?sv=Sanitized&se=2024-06-08T01%3A22%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86905D66BFCC\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:22:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:22:58.0195276Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba51b1b1-02e5-d963-d14c-5ffce32e50e6/test-blob-5cc8bf69-72a8-2381-f0ec-ee94642a3175?sv=Sanitized&se=2024-06-08T01%3A22%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-112eee8f-11ce-df66-9cb1-1d36f64775f0/test-blob-ea55d765-5d02-2da5-c975-6429d58be016?sv=Sanitized&se=2024-06-08T01%3A22%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86905D7934CA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:22:58 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "EEWmjwzm+KQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-112eee8f-11ce-df66-9cb1-1d36f64775f0/test-blob-ea55d765-5d02-2da5-c975-6429d58be016?sv=Sanitized&se=2024-06-08T01%3A22%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86905D4494B4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86905D4494B4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:22:57 GMT",
        "x-ms-blob-content-md5": "Pp2SArXAiSLmfiSHOiTz3w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:22:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-112eee8f-11ce-df66-9cb1-1d36f64775f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:22:56.2993570-05:00",
    "RandomSeed": "1560954995",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
