{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad111969-a98c-d748-db98-925e320732bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B06169817\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad111969-a98c-d748-db98-925e320732bd/test-blob-48405cfc-759b-62ae-cbb7-3ab8a9420c1a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "TNreNyinbz80J/RIUIDS/gnNkqP3h/\u002BahVMXybPu6N3uPfQNbQqzy2ResQyYS9g3dxHaThdRysTaQ7LUj6aMRj4WWROMxJD/GsY\u002BmNbzATl64FKhE5nFnXMvMipX3jy\u002B0mrNgvLFq7KB2zRQEjHu50F5Wq9T6zOkUbygXJFlpzuKgMZrJX9HtDSgHzdldIpBQEvp3oOMauY3KDA2JU4gGzP5xpJrg8HBMaZ6s8v7P9wxXhtGfMm3/hbfM/xPEY7mfwQEbK741b2KJ6zdErYbPOlTBMYz2p5qQcd7i1DEciAXlDTG99MuOYleu1Uc2uxgxPYT\u002BwzIs6VmmSrmfEptxrWM[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad111969-a98c-d748-db98-925e320732bd/test-blob-48405cfc-759b-62ae-cbb7-3ab8a9420c1a?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8lPAK9yWdTJHsTTrZCBpaA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B06298B4F\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:06.3258716Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b433470-01af-f4b2-4a06-76a8c9fb4131/test-blob-76fceb59-e11e-60cb-45c4-04a9351a446d?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B0640926E\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:06.4757870Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b433470-01af-f4b2-4a06-76a8c9fb4131/test-blob-76fceb59-e11e-60cb-45c4-04a9351a446d?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ad111969-a98c-d748-db98-925e320732bd/test-blob-48405cfc-759b-62ae-cbb7-3ab8a9420c1a?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B064AA316\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:06 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "l99y/pZdqlk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad111969-a98c-d748-db98-925e320732bd/test-blob-48405cfc-759b-62ae-cbb7-3ab8a9420c1a?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B06298B4F\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B06298B4F\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:06 GMT",
        "x-ms-blob-content-md5": "8lPAK9yWdTJHsTTrZCBpaA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:06.3258716Z"
      },
      "ResponseBody": "TNreNyinbz80J/RIUIDS/gnNkqP3h/\u002BahVMXybPu6N3uPfQNbQqzy2ResQyYS9g3dxHaTh[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad111969-a98c-d748-db98-925e320732bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:04.5637938-07:00",
    "RandomSeed": "277428894",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
