{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f2aca95f-f535-1c24-2ed6-bd9ce924eda1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FB9D9F9B9\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7fcd6ed7-eb83-012e-11fa-a12a2ea5d330/test-blob-da5dddec-f9fd-48ff-bd7c-785fa4188ab8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FB9E8FD32\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:22.5905458Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7fcd6ed7-eb83-012e-11fa-a12a2ea5d330/test-blob-da5dddec-f9fd-48ff-bd7c-785fa4188ab8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "58ff51ggvRTkWAQvBmVzBEul6D0zcgjctw5FyByeryb2C5WrmRPo/fFQ1J9ymFQqFinEH/WEN3S/Ay9K2/X3RaneOPrPyGo4vetM4p5oaR65GrLz2pAwctQg7JXjniH7WI72lGBaWk2+i2IJN1TWVpoRkMBDBGsYrsYlr9zUVR/JUIoQctW+X79kNE8tJjuASpX70g1huFMj3eaaNKtx6jZDQObKxuPEUzEA3s8b6oeKpWVG2IMRaJg27JTvIyoU80oY6uZUtoOxN37bYNmDB/JeD49GKhGzMddNk9lP1S8H7OuFAwCgNu/hlKEENgi+suWikBSazcg5ZbkPBiKpYmFP1HPu/[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f2aca95f-f535-1c24-2ed6-bd9ce924eda1/test-blob-a8f48aba-2475-97b1-8e79-cf91d3795ebb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "NcKIqQVnL3+CxesRQHmpvztj5RaMU1Fj76FKYPrqih/t+FXAqhIg8fmJqEkSa/VvzTcBBul1YOFxJbljHc+FlzvLJEck6BQpQ/McAqoIUISs2pPC6YM2d5hzT4VYvNQqAxEORkauS+Qi2ML1WV03adQ1t0I8wq23layvsJmP0Icf8f+Z+Qk9/Y6unxHAQB46POawIwSR7kFjV7Ga/ptLkwc71mdenW/L+Lm0jSOc9lWOdHSz362CjQO+NqJXo//zYwwKhWq33J525StK3WAdxmFcDIommLNZuUhjoGfNc1S6wCoWknHr1pjVPPqCOK+ioG9B+5d0zMtYsMwhVDs3qHHWjx02BjTvcTXyUFu514GZwAD3jHe9RvRfvuKkyYJcnpSIq6iSbJk7UYphgntvn9hKiJM7QBz5GUko1kh[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f2aca95f-f535-1c24-2ed6-bd9ce924eda1/test-blob-a8f48aba-2475-97b1-8e79-cf91d3795ebb?sv=Sanitized&se=2025-02-01T21%3A39%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "e+ndcx0shC+Tet9PcU9PJQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FB9F8643E\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:39:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:22.6924872Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7fcd6ed7-eb83-012e-11fa-a12a2ea5d330/test-blob-da5dddec-f9fd-48ff-bd7c-785fa4188ab8?sv=Sanitized&se=2025-02-01T21%3A39%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe4905b3-301e-0096-0228-74d313000000\n",
        "Time:2025-01-31T21:39:22.8014270Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f2aca95f-f535-1c24-2ed6-bd9ce924eda1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:39:22.6678603-08:00",
    "RandomSeed": "90413810",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
