{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cd264292-f665-bc31-11cb-cf358a517885?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:35:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E3F29DBA8\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cd264292-f665-bc31-11cb-cf358a517885/test-blob-91c9c0d6-5477-dd9c-44f0-6865509ca1d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "tr2qTc21CYZdn50EDbtCtl8dBjAgIDlgVhdD9ksmqp6YdLupwbuDt4ZPutxScmRKYK6Gruw2d5WDSfa2cRM6N/T/bJj/mPSkmk6q0WZcDuSy+Zadn/yxYf0lJnjEzEVzFYPnUwbMSsi54hOejKYvJjsSA3d9nZf4TQqa2nJ8380IN7zjdbrd5q/N47zoE9VX9f88scnO9Xfr7wb7MXBWPQNGlVXqTLGBNBzIr7nbDzk1Q+RyPy0EOkFE94az4bQ/d6a5on5/bKhNu32sBka+D9/Mxu2L4/3VQVsUplQrzVJoiDcSIm27ttY7JIOwVzT6heim5xvHs5Sp42AjasZTIu4qRH0PrO1xERAWUL56JOomGiBshOU3oNWiaT4Ml0sQ5wKUhhO26tn6NNULsGPVL792/FCm550I8qOobEO[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cd264292-f665-bc31-11cb-cf358a517885/test-blob-91c9c0d6-5477-dd9c-44f0-6865509ca1d3?sv=2024-08-04&se=2024-05-02T20%3A35%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "o2RLJs7qfXldevNj0EtZ0Q==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E3F5A9AB5\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:32.4233397Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-aeb19cf8-604c-c270-2f1c-61256a9ef8ee/test-blob-ab55fa35-cf03-bb7d-9e49-1bd3ec47d998?sv=2024-08-04&se=2024-05-02T20%3A35%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E3F7EE641\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:32.6612033Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-aeb19cf8-604c-c270-2f1c-61256a9ef8ee/test-blob-ab55fa35-cf03-bb7d-9e49-1bd3ec47d998?sv=2024-08-04&se=2024-05-02T20%3A35%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-cd264292-f665-bc31-11cb-cf358a517885/test-blob-91c9c0d6-5477-dd9c-44f0-6865509ca1d3?sv=2024-08-04&se=2024-05-02T20%3A35%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E3F9021C9\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "tf93XmO/Ueg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cd264292-f665-bc31-11cb-cf358a517885?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:35:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:35:32.1325869-07:00",
    "RandomSeed": "1160793872",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
