{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d6df3ae0-e9c1-88ab-166e-8239bcf96c2e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869061FC092A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d6df3ae0-e9c1-88ab-166e-8239bcf96c2e/test-blob-5b1171ca-2af6-d54c-4dec-03acf106ed49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "qFAwf64MwrIoJhmFwZAgs5auNUGh5p6BPzcSrMYcPEfh+1U29zwkMnQ+AKeBQnUEmHUVsFtJiMKyrkB3+RbsC+rRo8U76rtZiQPMYuX2//zCDRNQB4vrmHOSg0n7rTheUvW8sJ+vya66uyZYfSXdu69DtewCnANf5QpSqGdyXdvLbRDwOk9dEkRllktlkxtOtceZuPhLXLbxXcqUXSBHR11KjQ8U7YFg5qKonQW3+lLvBPKf2KXjfxFa/t2EybQjHk7uGgYLOchGOdJVo7+wOWN4pFktqG+4Zw3+ue6j2xzuhX63yd9L48oqWJ7TjdxSqsR6DCRb9XbfNbL4DYDaol21Zx1A+XCDLMGOA0/Q5Nowqw8qKc/4ko8I15MtU9ZKT7VAHia+EbFU999jzPEmDlHYx2Fwr3mOvNSONyH[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d6df3ae0-e9c1-88ab-166e-8239bcf96c2e/test-blob-5b1171ca-2af6-d54c-4dec-03acf106ed49?sv=Sanitized&se=2024-06-08T01%3A23%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Tj/iSBR4WK8UFeqk6DE71w==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869062171060\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:05 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:23:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:05.8859104Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ad829b32-425d-d47f-a20e-2136dd56ddb3/test-blob-68fe6ed6-cd34-98d1-561f-1370f07ad6cc?sv=Sanitized&se=2024-06-08T01%3A23%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869062336F95\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:06.0718485Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ad829b32-425d-d47f-a20e-2136dd56ddb3/test-blob-68fe6ed6-cd34-98d1-561f-1370f07ad6cc?sv=Sanitized&se=2024-06-08T01%3A23%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-d6df3ae0-e9c1-88ab-166e-8239bcf96c2e/test-blob-5b1171ca-2af6-d54c-4dec-03acf106ed49?sv=Sanitized&se=2024-06-08T01%3A23%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86906242145E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:06 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "d+O2XpL14d4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d6df3ae0-e9c1-88ab-166e-8239bcf96c2e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:23:04.3024110-05:00",
    "RandomSeed": "1535705204",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
