{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e517ad35-d884-811d-d558-342742d484f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:35:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E4FE1D54A\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-16d27ca6-1223-ffc0-a892-c14e33fae2bf/test-blob-359a4535-c17e-517d-a152-7a31ff4a5014",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E500FF042\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:00.4552770Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-16d27ca6-1223-ffc0-a892-c14e33fae2bf/test-blob-359a4535-c17e-517d-a152-7a31ff4a5014?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "SWGlLn4qylP3mEaSCGd/B1Zkg6LcKul/E6H2OZVADCmG5xtXc0NaZ7u/AMrDrMZuMjmIf6hXlR94JRvcNJC+t4sdDCBLJ5QTChznHCkevGbbhwdbuIyBLlL8300nfTIqAEk+pZ+mIgqkdHSLcHj1WWi0AayJYv/+nN7NT0hG643pvBvg3xfHNGT8tkMY9b3ZBoXkcnuGoJ1KQAnB2NPCXojnobNdFXpR7cxHjay75qYg9EjDYnkSYxx9lZ8NBVyROVi6MVMJfPEKkoWuPhPxjllioeSL//sP1T6X33/aQ+dwtlNTALVSFndXuM/zYyUJjAZGq2R4BjpcqlwVcp1xME+dPoe/n[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e517ad35-d884-811d-d558-342742d484f9/test-blob-cf7fbf8a-02f4-b824-2333-9fb7f172486d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5BbzSIzbPzsP7ufvsTsSJyF5cZqCNtwS6io6Pgl/VSbrynuJ1Un3p7KaGOq36fd9ARtD+PYsAa054V1ioAAykJnAA+bAiFHXgcro6B3xWwEyvD3uO10wvsjNUPTrlQaxZ4hR9uUQvHjJa3YsRBmPR4ZcL+TDRFQ8kEQd8zhd7OzDNoCVoGQbIQDEJNDmA3mvPQluj2Yi7iMzFWag88lAa3+KaA6Y+qYiQQ3j/h+EVY3LbbUv7lyGoUhdYYv9ei43hLlQXJprF0NiTE5YPu8Er7/Z1YUTEX0iA8fGO5gbJMbfrHpmM/nyX1ZyzKIOLWNYWLLMJKWoI3M7LljTpdyqRiiHeZF1nnvF5nYvoUTaE9ZjbeLmT/8hNokGKgWhHrl5x4V5h7TS47o2Bj0ueIEvYBqBcDj6xPcoZkMHbnN[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e517ad35-d884-811d-d558-342742d484f9/test-blob-cf7fbf8a-02f4-b824-2333-9fb7f172486d?sv=2024-08-04&se=2024-05-02T20%3A36%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "+Z2lypYdk3vrwsZ8EIfYPA==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E502D860B\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:00.6491659Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-16d27ca6-1223-ffc0-a892-c14e33fae2bf/test-blob-359a4535-c17e-517d-a152-7a31ff4a5014?sv=2024-08-04&se=2024-05-02T20%3A36%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:667ae809-201e-0090-2207-9cabec000000\n",
        "Time:2024-05-01T20:36:00.8670904Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e517ad35-d884-811d-d558-342742d484f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:36:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:36:00.3546191-07:00",
    "RandomSeed": "232809897",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
