{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b991269f-a6f1-f806-d1ff-fe760396fbd0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061A7BC1979\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65485529-a36d-b031-dc84-af30d7c56150/test-blob-d706e2f8-1faf-e217-9c6d-c4a80d1a19f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061A7D5539C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65485529-a36d-b031-dc84-af30d7c56150/test-blob-d706e2f8-1faf-e217-9c6d-c4a80d1a19f9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "fbDXY9fK/vKH5+cAczMAy3d3LeEnAxOfrGfNyWLDsnUQGurLlN5/fGZw7trkpeWt6snRdkC9unmcN7dv/TSQwzVy71lJNTeZ+LF6txQ5ugaBH9+Z8js0Ul9wLlwmD34y4CukcrWMZLWRN32PQwNkY3yx7t5U99D6PZ362AbbcugyR9bplEhQ9boqB7q9pQ5bC8vfdSGg3elaqjQXkYyutsWVXPwte840YPkjKu8WPJePn8w7+/zHkmrtj+kTOGMufFH1KEkSLpD8qxQnfbP5RG6diPLAc7rIzcqRP+zlICeV9a6eIBNOfXE7PlDnoBW29Ep7drBxbQiWLFt/gO+kF4rskocFW[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b991269f-a6f1-f806-d1ff-fe760396fbd0/test-blob-e9cce14e-ca9c-9386-a130-9d496fb1f41e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "xDxQbZylGpbgvzDP0dIz0YtGlJOkZmnz90pmviSLlmm+PkYgOU9pDSdLbsU7o7/W1XYfyC9vE17SXXVSP1tyVSjGEJOLEpc83YdsWPikuFSLj+mta846TyvoTdzZFs3L2RicdJIrS8Le4+unA7plLqUhxq9yxelZjMBnosW7Ysa5oH/fB0PBX0Qnzojjkkxwgh82uE8eWRMvQujRw6j9I4Ak7WM7hiZhX2drS/Zhdvl09yClhKp2m0ZrsMVb75ubKasHv6ToNfz41Vnosg0dzczuXMyIV57WrVIc0NVhBm/LzyFKWbdUjMIkrK9Qjuk5TeL4bJPPE9INMRFSzGUml87pHeLs0nMUmtAKZKruhR9o4oLyaJrc/LxPPSilAb9c/RXgZnAGTXtv5NHCxK8oHqvy6unjNC80DSEmnZV[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b991269f-a6f1-f806-d1ff-fe760396fbd0/test-blob-e9cce14e-ca9c-9386-a130-9d496fb1f41e?sv=Sanitized&se=2025-10-01T20%3A40%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "RhIE9811Gw9OyC2sencETQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061A7E740CE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:40:56 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:40:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:40:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65485529-a36d-b031-dc84-af30d7c56150/test-blob-d706e2f8-1faf-e217-9c6d-c4a80d1a19f9?sv=Sanitized&se=2025-10-01T20%3A40%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:584807a5-601e-005c-454a-32f5ec000000\n",
        "Time:2025-09-30T20:40:56.5302766Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b991269f-a6f1-f806-d1ff-fe760396fbd0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:40:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:40:56.2522979-07:00",
    "RandomSeed": "895118431",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
