{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b4f62eec-fd17-4531-ef62-f558de8c3bb9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB18A3567A6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61324300-494f-7b8b-c140-9a21112ca880/test-blob-7b1615af-4e29-8b43-6ff1-31a1fa3d0735",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB18A659428\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:21.7858600Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61324300-494f-7b8b-c140-9a21112ca880/test-blob-7b1615af-4e29-8b43-6ff1-31a1fa3d0735?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "CjBXsBYT0A4u3s4Suvqq\u002BXkL6l981vMOSkbF1EthosOPH3Sc/FRWOOtgVzWn8JNcDtVZPKJ2CjQ8SGbPTfvCzTwLg5qGDvwltLJzG369ZlmzacZ1B2YgGBU/YLPuh\u002BrvnYn5nG341QDZM4jwAu62f\u002BEMHOQ1TcbW6mqFRq5INy3HhH30xMrsupTGnNPdLxYmieDS4WoGulDDI7ECc45SkPxbKH5xwbsXH2FQbrDy\u002BLtTXr3NdlXCwcktMKEY6UcFdAzXggaYtcclusIJtkuf0Sr2rxTRhBmnmGe0Q5EZ/jYZSvqkGnW0u6n1p7yTuQp9jV52IToyN[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b4f62eec-fd17-4531-ef62-f558de8c3bb9/test-blob-1a677047-a914-c6fd-e8e4-3166886efc83?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A20Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SRQMr2lJeIzK/Iu97CJJXA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB18A8C7787\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:22.0407175Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61324300-494f-7b8b-c140-9a21112ca880/test-blob-7b1615af-4e29-8b43-6ff1-31a1fa3d0735?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A20Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:f45df2f7-901e-004f-259a-8004b5000000\n",
        "Time:2024-03-27T22:59:22.3246959Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b4f62eec-fd17-4531-ef62-f558de8c3bb9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:59:20.5556770-07:00",
    "RandomSeed": "1992617747",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
