{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2167a086-cb2a-37fc-7477-4cb12cebceab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB181F233BB\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8411df05-f27c-ecba-9b80-f493c0be3b07/test-blob-19f6f76e-1f85-e1ab-7537-16dfc0cd21ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB182208BAC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:07.9116716Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8411df05-f27c-ecba-9b80-f493c0be3b07/test-blob-19f6f76e-1f85-e1ab-7537-16dfc0cd21ce?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "17lvlLQXX2nZKGLxmAz\u002B95jgzNk7WjRyh\u002BA\u002BP\u002BUR4wjAcZ9qE5Ny5bBjYGKPo/Ei8TuqWR4w2HyF/Q3T2SCDx0VaMSZslOQEbucp2PrR4\u002BPuHE2qZonpkJki5BWGngyP35gcNHHLtVxWpus3Bv\u002BCtBop5bzS2WC8caGNSrDPfc/amfhhtK9xI2fxU8CesomZoDD6XbhPvQU4YMPQPmurhygbXG0HIP9rt8JV4YafHb4Y86mA1CAWitzzKVProeT8RcyYg1YbkoAwj6X2\u002Btt/mEMEuErBK7IHBNKRE/asfxbdWJu6B5lo/GEoT0[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2167a086-cb2a-37fc-7477-4cb12cebceab/test-blob-b2f9fbb6-b535-0b75-e317-31bf7a23557a?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rCabAoud6lO1550qWZCPuA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1825639F4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:59:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:59:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:59:08.2644735Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8411df05-f27c-ecba-9b80-f493c0be3b07/test-blob-19f6f76e-1f85-e1ab-7537-16dfc0cd21ce?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:f45dd8e3-901e-004f-4e9a-8004b5000000\n",
        "Time:2024-03-27T22:59:09.6589902Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2167a086-cb2a-37fc-7477-4cb12cebceab?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:59:06.7694422-07:00",
    "RandomSeed": "1570003767",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
