{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba0c0552-34d7-df4e-000e-beb460d310f3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86906F50C79B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29f025ae-8939-cc2a-e8c3-1ae310202331/test-blob-e926280b-8ca0-1253-ef0e-13b30f47d9e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86906F70CFBC\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:28.2854602Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29f025ae-8939-cc2a-e8c3-1ae310202331/test-blob-e926280b-8ca0-1253-ef0e-13b30f47d9e0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "nW6iEdwuC7CLbgH8n3RhaXYWuMCJCht2yOZMMYXNWZMgtKPrg38lblEJ+8tmVooeJyzoQX80Q5NSLEj14dkrvhVu2+rRduX38UlugA5QD3JcLQpY5BgU63APmFc2L4143T21+HqfTLBG8U82xsOFAhzWmbPP09r8We96wt6OwMG89qPRmhf3veFZEfLI3iWtipU6YJbZqAliuZ6LJYrRuDGOetAgs2gF3tvSdcHnNHvKzDdIU2Ar4k2ZbuF4a5hWh1jBOmRUjdYtNIG6BjJHe4QjwVhSiWTRYpeDhkWHjXJDfO5pJvoXdT5gGx/ecdwaUfNcVao/A/708NfN0QaRpqcPdolE3[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba0c0552-34d7-df4e-000e-beb460d310f3/test-blob-d73083f8-930f-13a0-e992-bec88f65fcf7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:26 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "6Xb9TcQsXt9/hnTJuIugkBoM80mqjk7BjO6N0uIhrXAWNqzIRBYl/2j8Q0YBAXfTuGWmS+3IVVsnPMDVn4z9XdkEsoHf2EsE5/PgrksIwIt3uRp9emGCTuFRoAhVT2Dc/uVs/E719N8ZomP56KYPH3w1XeZxf+N3gWSgjjdDrpeTA69mm8M8gcQ6Y9j9iGU6QYGMIPJ5an4C9XrqVWan1vPMZuT2qYO4+NwhNxsKefn+ZUy2to6lGZkwY6ZIUitdko3lMSKBQ5j90ygVWDNj93uB6/Aa8R9lJ0xLxkXdb6Www6SOJUjXfSG0uONlj8FlzWsqx2c7Q6FtgArWNn1SH2SDZZSP1NIyqm7OZTk8/5eK5fjas6c+dIADIKU+AUakYph+4iot1vmZ9x34bd1oMYFyS1CFeGy8RPATjLM[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba0c0552-34d7-df4e-000e-beb460d310f3/test-blob-d73083f8-930f-13a0-e992-bec88f65fcf7?sv=Sanitized&se=2024-06-08T01%3A23%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "lnVafOKR+dl2Wy/muaGPbw==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86906F8F78B0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:28 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:23:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:28.4853936Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29f025ae-8939-cc2a-e8c3-1ae310202331/test-blob-e926280b-8ca0-1253-ef0e-13b30f47d9e0?sv=Sanitized&se=2024-06-08T01%3A23%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f2d72a67-401e-0065-2c79-b85865000000\n",
        "Time:2024-06-07T01:23:28.6833403Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba0c0552-34d7-df4e-000e-beb460d310f3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:23:26.8891738-05:00",
    "RandomSeed": "1172885032",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
