{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de15173d-5c53-17e0-dc3e-aa49590e5c5a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AFECFD5F0\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bf5b7d54-dbf4-6356-3125-da63b9e0235b/test-blob-5ac34cbc-ad36-e535-ca20-23815dc96115",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AFEE7C54D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:54.1507675Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bf5b7d54-dbf4-6356-3125-da63b9e0235b/test-blob-5ac34cbc-ad36-e535-ca20-23815dc96115?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "/u3/jBzQ6gGktHEG5T5xM9HvBoXKr5NK1n5segNaNmHncFwThiI1WUHuGpEGAy2ZvbgvTANd/U9ZtLWdZG/\u002BSn0QH3ThXq2uuqxE25QCQ9JR071KK\u002BpdiXINudJtl/XR79AU9uS4t18LgJJWGCK6V3DjTJCysx\u002BSs5UB1KTaQSK3cuzE7U3umBteP6pXBnBQUmJhiUtkHzuwgUJOt\u002BK7MD9wnqY29Wki9LN0VHR0O6wksYFBeLfWU1OwE2sKoOE5og5r52fKGl34P5WX78rHO0aWKQVhebeHmktShuH9F1PSO7FlCVREWpYkSDkhPmOJ6NgldHfb1[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de15173d-5c53-17e0-dc3e-aa49590e5c5a/test-blob-4760a3a2-bcaf-902e-fe01-2cdf78d688dc?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A52Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vRyiQLQi0jhJ3H0be0fHoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AFEFC5BC7\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:06:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:06:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:06:54.2846919Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bf5b7d54-dbf4-6356-3125-da63b9e0235b/test-blob-5ac34cbc-ad36-e535-ca20-23815dc96115?sv=2024-05-04\u0026se=2024-03-29T21%3A06%3A52Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f16005f-101e-0051-7c53-81e86d000000\n",
        "Time:2024-03-28T21:06:54.4652031Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de15173d-5c53-17e0-dc3e-aa49590e5c5a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:06:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:06:52.4574628-07:00",
    "RandomSeed": "2084892183",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
