{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-372487d9-e8a0-def3-a1c2-b5841a313fc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1A174913F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1e2d5ca2-99d6-0a73-87b5-4a07ebafe15b/test-blob-535cbcba-400d-a243-567d-f4736903de8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1A1991331\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:00:00.7109425Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1e2d5ca2-99d6-0a73-87b5-4a07ebafe15b/test-blob-535cbcba-400d-a243-567d-f4736903de8f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:59:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "8ek0v2ULVXkPznLR\u002BWhk08lQts26orXrUbw9yKoD6mk6lRdbkB7aIvFpTZndLJhcRHFWiONqXU40SW6ozYzOC\u002BQJlmRQCEKqdZPbUFUbDSQk4YQ4rWGGzzfJJ0ewMlVlmkG11JUzDDsurBNPjgz4GDtJhOwIlV6Dg8cshuH7\u002BUM\u002BdrUTZjiO8dVICQBONkAr0Q4LZ61pXQTiMlHOBoVZM7PPERhW5LICupIWv4xeNUyGAbXT75KV1RiwMTTnwOtP79ZMfiUo1OxcCKwbUp54hPwERwTPhkMhOTv/prN9G/qnxtC1EbYnXi3JdufmeoJ6OK0343jmg[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-372487d9-e8a0-def3-a1c2-b5841a313fc8/test-blob-dbe2754b-20ab-1198-50f2-fce2498c0c8c?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A59Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FBYj1MdAKVUgyO65iv4xzQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1A1BF0C4B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:00:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:00:00.9598027Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1e2d5ca2-99d6-0a73-87b5-4a07ebafe15b/test-blob-535cbcba-400d-a243-567d-f4736903de8f?sv=2024-05-04\u0026se=2024-03-28T22%3A59%3A59Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:f45e3bd7-901e-004f-169a-8004b5000000\n",
        "Time:2024-03-27T23:00:01.5134991Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-372487d9-e8a0-def3-a1c2-b5841a313fc8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:00:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:59:59.4764350-07:00",
    "RandomSeed": "830614680",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
