{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-24a0f1c8-55df-e362-7be9-94bc99ae3312?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3E8250307\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a27b52e9-4a2e-3c19-ee06-96d3173120a9/test-blob-661b6f04-afea-ce53-4d7e-91077038a606",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3E83A5E7B\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:33.7250939Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a27b52e9-4a2e-3c19-ee06-96d3173120a9/test-blob-661b6f04-afea-ce53-4d7e-91077038a606?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "B5BdCqA15tkdzbFy1ebddq4YtHrMfIdHrwMLtLSM2lB7I31WO7dzEi8IdRlGeEPfviHWlINYzIoJFlucKjElkPNh9rFohjv2pKFLxAdtATfAK/WTtkXMI1fyTSVc1uj94\u002BQm5YGRdzjl3/DiDAiDmxUj3P47kdqulNJadTkWmc24TeAiRxu1L7S9rdZV6hZOb7EQOPrqwlEKeFGuNgH/z0UiKr8nYFT5bq1JfuQDWKq7CwWHBmHTzouPGM/JBviyvt2QMsBXJw9dFspMoUNsBh\u002Bn8ir7d8jkT1wzl0eEL2e0lr8GcybqY\u002BT2KvCWhi1HIhKwIhPNt0YVq\[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-24a0f1c8-55df-e362-7be9-94bc99ae3312/test-blob-3e7a0824-cbee-8e50-b02a-fab390e66270",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "LgeRMEYPJgkcJtKglOapDfMVhxh0x\u002BTaGLDoceUyXlB0AMj5DQQsuvN4nPG84hKwSV9DPhNi\u002B2YitheWJrUk6ceBLJQer//v6Mwk/CryHjadNyeG7x89EQVh1lbslZM9VLMpO7V\u002BkZlfVFVGPv47MJjg\u002BO6OnvqoRBuPvdipAlI55qh3yeKAH6aOJpvJ9tIGJaa\u002BDJ2kr7W5gPaa79TAtlEDDVdWxGa1X9lI/3de3k5IiJgy6va1lTbyvkjs5jDSzXBJxul6r2BACKzEW68\u002BWqKoUWY7jstbTXggZAUdyXmpdjIGFRhkzdk38uJJ8TmHs2SmRJXJlj\u002Bl7nhxWUtaIj8zGuV9N0SKQ4ONBJvoEVw\u002BmbChdoXj39/zYSef83O[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-24a0f1c8-55df-e362-7be9-94bc99ae3312/test-blob-3e7a0824-cbee-8e50-b02a-fab390e66270?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A33Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "JKwGk\u002B8OaNtswPIDUfet1A==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3E853881A\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:33.8909992Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a27b52e9-4a2e-3c19-ee06-96d3173120a9/test-blob-661b6f04-afea-ce53-4d7e-91077038a606?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A33Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:c1393a94-a01e-0019-2dbc-8af55a000000\n",
        "Time:2024-04-09T20:30:34.0528778Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-24a0f1c8-55df-e362-7be9-94bc99ae3312?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:33.4502100-07:00",
    "RandomSeed": "1988320868",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
