{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43a98df7-d307-c8db-be45-bb2375664aa6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:25 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B98C13C0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:25 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c17a2352-a40d-cc63-c5a2-17a271319046/test-blob-b6861570-7ad8-ed47-0ec4-345dcf38e09e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061B9A3DD6A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c17a2352-a40d-cc63-c5a2-17a271319046/test-blob-b6861570-7ad8-ed47-0ec4-345dcf38e09e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "jXnRdMExI2Ao4JjgoHagJOWZWQgPnoxuFlYmc3t679wtZsnl/sMmQhKrr7aAKedkeEyzSdIWue7sY15rCrDkrfC7sjmtuyYhchf2Y+/W7exuwvovx6YKF6za+ZtluzdixwHFxHaut70mkda7IFb/FnVx/Ei1teVKsZuM0sGLvLbfk5zuECl2wAo9CDbPTvdW2+Ml9L/urREbehLbIeT7m9Uf24y6EQVM+zw+d62vemOkNvfeZcj38OaK0pYWm54mQW1hr3Jqm8rd2fiDsDVjbACvNurtHDUNKOqlLz5vNWCdFzU/TsrwOZssAIzPdECxJmaVZmS0OCU3VIeHxWuLbqOY5Zj/J[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43a98df7-d307-c8db-be45-bb2375664aa6/test-blob-f6b30a3c-2687-282a-05e8-261b8ee1f0e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:26 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "V7XwBNHSSntnzTCos5hawU0ac9Zh+SZGaWPTB4lxZAfBlHl2hSDKu4C7rOHknOJubSp1/x3HGF2Pqptu/0Ly9mgo5h8e5DssT7dVpk1EYcyAZZpe+2Xq+nsb5tuEXLw9ybZ4u7XCT4nvSK9lcXIQSkjO7Zmok/oDPuujAv1gqPP6F92XzKUWvhURb7O1hIgJC5yStW4jlTW7dX3KH02LjqC8a1qUeH6ity+DlyRHTrlimvdgzfKF14Kn21coTJ7IheAS+BkudJId8P0+n/0RdCbEZ4VVKsGtN5TY7Z0nemuQuxJDNFWfNCVkQ931RjeElmYwZOUZclofZcGFVYf09nWSruTrzkDRJDJf8efkuPBcVFc39xaGd0i4JM6UGt6eb0xnYphTmcclX0CyuYFyOqzQKAEwvf9fDDabM6l[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43a98df7-d307-c8db-be45-bb2375664aa6/test-blob-f6b30a3c-2687-282a-05e8-261b8ee1f0e9?sv=Sanitized&se=2025-10-01T20%3A41%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "aV1eomcg7ZqJjn6W54qndw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061B9B5F199\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:26 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c17a2352-a40d-cc63-c5a2-17a271319046/test-blob-b6861570-7ad8-ed47-0ec4-345dcf38e09e?sv=Sanitized&se=2025-10-01T20%3A41%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:58483fd2-601e-005c-714a-32f5ec000000\n",
        "Time:2025-09-30T20:41:26.3760324Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43a98df7-d307-c8db-be45-bb2375664aa6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:26.1280327-07:00",
    "RandomSeed": "35519955",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
