{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f81d5c5-3f88-3bc9-745e-d306747c5c66?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3DE73F21E\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e250765d-0b1e-a8f2-9f6e-1526811f5e53/test-blob-75756b09-f8d2-2982-badf-808dc7297513",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3DE8ADD7A\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:17.4754170Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e250765d-0b1e-a8f2-9f6e-1526811f5e53/test-blob-75756b09-f8d2-2982-badf-808dc7297513?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "8qv8NXGA1M2jilagvi/UkJeYvaB92oFcoWeAiWvYwvp94SQ2zxWrlNnWYKlDjcCtDujl8uaK3Rgpn5QK/0physdbI9wKnsCB7CjHp3nYGBOm03uC89AT8wMMDDCBoJWPdJbh6Grko3AnYwW\u002BwzaeUYaAZCzP3tf3Ry/Z/ZGQAEySNzLj9jCpwi8KW4/LVS/MbrqpADtpv5a/6aE6CqXel2K4K4sDu1tW16L8xINHLPL/DI/X5/8RKXecIwyPbreJK8MsEimkybJfUymYbPsTeLyvOv0WB69jpwITZ5dOx2jrc5m/GhrIW0PceJTWeLx8iatQ4DS6cyQTyWsnkWEbEYvA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f81d5c5-3f88-3bc9-745e-d306747c5c66/test-blob-7469bf14-b0e2-1b81-e6ea-f140fac69e25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "SvkKEw/VAT1cWDKXcvR/ZP8jvcQ12gAQOcKxvT/6GjzU9XopWSjnb\u002B20JdjhThSqnzkuVljI1G/4\u002BdlNJET\u002BYj71wnx6VQvXO03XgLUoLuutBh4Fy8TkDCEKMF9PmkqotsOZ64uYL0kuVxoK8FO60MvtoB4m\u002BZZ6EbZbcCWrh6EDLsryjkJgFdfU1nOq2hvNT1\u002BUYfksgr0sH9rUPL8jg9B4B8KJx0KIjYpHUSIjzzeajiDFFyWn1qsMxm5oi9gXsFOjMdJZQ4gdC9Rv5TGaCE\u002BjOq6eXmyq0DAWfQDTIAKyL6DPf55kQUqYqAtROPF6cr0fxFEpeVLm\u002BGCiQ8aHSevSvLaQyomxP/hjBrVgWZg\u002BmwpDtFuwiLVN6Ic\u00[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f81d5c5-3f88-3bc9-745e-d306747c5c66/test-blob-7469bf14-b0e2-1b81-e6ea-f140fac69e25?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A17Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "vXWTmAYjOllX2iLMQRH0gQ==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3DEA2CEC6\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:17.6323270Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e250765d-0b1e-a8f2-9f6e-1526811f5e53/test-blob-75756b09-f8d2-2982-badf-808dc7297513?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A17Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:c13908d8-a01e-0019-06bc-8af55a000000\n",
        "Time:2024-04-09T20:30:17.8118975Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f81d5c5-3f88-3bc9-745e-d306747c5c66?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:17.1913957-07:00",
    "RandomSeed": "1332433255",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
