{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-48ae45ac-248d-2a73-daf9-dfe7381ac742?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6868E6449\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-48ae45ac-248d-2a73-daf9-dfe7381ac742/test-file-aa7f5ea2-f5b7-753e-fef4-54911888ed3f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6869B1F80\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-48ae45ac-248d-2a73-daf9-dfe7381ac742/test-file-aa7f5ea2-f5b7-753e-fef4-54911888ed3f?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "ZJZcqwcIfHUEn48gzkrFbjwmXisyGGMsVDrRZkfXwOANLcTODxGxgJBxqT4RVExtnIAsJ3kz9UsyL1fNNhUtLd6vE6GF914qdd6bwW4lG//tY8rHq5lm2jh5m+C640l7Q3xgYkGr6KUiArGblzTdDRNX39JKZoFFSDhoDFt9cJGUH33xxLm+QnslpKnny0MEnI3NYgR3MN36GhkJQttJpJIgBne260hamZ1WJMHYXn31ZHDNsA2NHe+g96qgtf+f3AAWxsTLTbBFcslmIAsbIbybE95re/SEk+mIFvSeuuSetkjBwZe5KRe/iD1EJvzjhdXtBKEgNGAMkjPaQja8p7jkyGnDW[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-48ae45ac-248d-2a73-daf9-dfe7381ac742/test-file-aa7f5ea2-f5b7-753e-fef4-54911888ed3f?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D686AFB00D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-48ae45ac-248d-2a73-daf9-dfe7381ac742/test-file-aa7f5ea2-f5b7-753e-fef4-54911888ed3f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D686AFB00D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABkllyrBwh8dQSfjyDOSsVuPCZeKzIYYyxUOtFmR9fA4A0txM4PEbGAkHGpPhFUTG2cgCwneTP1SzIvV802FS0t3q8ToYX3Xip13pvBbiUb/+1jysermWbaOHmb4LrjSXtDfGBiQavopSICsZuXNN0NE1ff0kpmgUVIOGgMW31wkZQfffHEub5CeyWkqefLQwScjc1iBHcw3foaGQlC20mkkiAGd7brSFqZnVYkwdheffVkcM2wDY0d76D3qqC1/5/cABbGxMtNsEVyyWYgCxshvJsT3mt79IST6YgW9J665J62SMHBl7kpF7+IPUQm/OOF1e0EoSA0YAySM9pCNrynuOTIacNZXyXh6cer87ZAbOylkR+wtUN9gui1L2Pe5+AD4YVfXZ[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-48ae45ac-248d-2a73-daf9-dfe7381ac742?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1402278962",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
