{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cc6a50e2-1c84-18d0-962d-47859bae6f69?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB048019F6FF\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cc6a50e2-1c84-18d0-962d-47859bae6f69/test-file-4c774f76-3605-46cf-9e62-bdcc1a2217a2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0480280850\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cc6a50e2-1c84-18d0-962d-47859bae6f69/test-file-4c774f76-3605-46cf-9e62-bdcc1a2217a2?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "m+DGygXhheJzkcZP9BAWU3T4+dOLEhjAePXUmL9Sh5XlbSQhfO5JqUI/6r/hXU/J/+wVWXd8LojIBVEPDe0iIAoxaobs9NeFrk+RSyhZ3humCpjTPS4daT+bWXadOpxVHMm0sPLI3AoUkKoo6uJgbiY2aANUT+PbEwFHUZth6HOzPC5epC4o3i2Ovq2D9X5cOupPZtKYAc3m2ZzxgItus6c3da6zAsn4DYnWxZE2WB6C6hewEYGgGjtheMuRN12iIAoFS3/QqTggV1lIwjs8sIF+bpZzvaIll1pzUYr+ZtUsNKWGMAyeskHfkLooWFj/JcdKE8nHLmJo37QlXFeuIvGDHI2Wt[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cc6a50e2-1c84-18d0-962d-47859bae6f69/test-file-4c774f76-3605-46cf-9e62-bdcc1a2217a2?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB048042BC3B\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cc6a50e2-1c84-18d0-962d-47859bae6f69/test-file-4c774f76-3605-46cf-9e62-bdcc1a2217a2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB048042BC3B\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACb4MbKBeGF4nORxk/0EBZTdPj504sSGMB49dSYv1KHleVtJCF87kmpQj/qv+FdT8n/7BVZd3wuiMgFUQ8N7SIgCjFqhuz014WuT5FLKFneG6YKmNM9Lh1pP5tZdp06nFUcybSw8sjcChSQqijq4mBuJjZoA1RP49sTAUdRm2Hoc7M8Ll6kLijeLY6+rYP1flw66k9m0pgBzebZnPGAi26zpzd1rrMCyfgNidbFkTZYHoLqF7ARgaAaO2F4y5E3XaIgCgVLf9CpOCBXWUjCOzywgX5ulnO9oiWXWnNRiv5m1Sw0pYYwDJ6yQd+QuihYWP8lx0oTyccuYmjftCVcV64i8YMcjZa1f3Tgu1SULej9PgJzLMK0UwxkBUIeUFd5VukxbcikO8[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cc6a50e2-1c84-18d0-962d-47859bae6f69?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1274891333",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
