{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7d02c691-e6f4-acfb-8d49-7bcbf0e9d44e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7C1FB00F\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7d02c691-e6f4-acfb-8d49-7bcbf0e9d44e/test-file-c9977435-e97c-91cc-ae6d-53b8f484d9b2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7C2F49C2\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7d02c691-e6f4-acfb-8d49-7bcbf0e9d44e/test-file-c9977435-e97c-91cc-ae6d-53b8f484d9b2?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jxKfSxlEg0KOeMzxnN1fIttzgpGOrkr\u002BGGD5xo1Rm/Y7v406yiLuBNwYl4wk26sOU54Kejc1\u002B\u002BHIoTK5Sr20PNzWtd1QJVi5hX61dRa\u002B2Ty06nLuRyC/BsOrcinvNLkeZFuvTibOvi5GUfW5f4XLCsf1BGBKxfW7Fq4ZpLMvyVHElhG7DosW5ixEqPUrBYY94Gdh\u002BjBZ1J5l9Dd3tBl7F4ek9el0EPs83x40BR3/jxAo3MRLzc8gasFzVRlTnjESyZBthxCdydBrJBoRJc6BZmQmT9hVL0m4g4onALri6UDsITyMkQj/ihL036i0DkTy8u60[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7d02c691-e6f4-acfb-8d49-7bcbf0e9d44e/test-file-c9977435-e97c-91cc-ae6d-53b8f484d9b2?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7C4E434C\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7d02c691-e6f4-acfb-8d49-7bcbf0e9d44e/test-file-c9977435-e97c-91cc-ae6d-53b8f484d9b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF7C4E434C\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACPEp9LGUSDQo54zPGc3V8i23OCkY6uSv4YYPnGjVGb9ju/jTrKIu4E3BiXjCTbqw5Tngp6NzX74cihMrlKvbQ83Na13VAlWLmFfrV1Fr7ZPLTqcu5HIL8Gw6tyKe80uR5kW69OJs6\u002BLkZR9bl/hcsKx/UEYErF9bsWrhmksy/JUcSWEbsOixbmLESo9SsFhj3gZ2H6MFnUnmX0N3e0GXsXh6T16XQQ\u002BzzfHjQFHf\u002BPECjcxEvNzyBqwXNVGVOeMRLJkG2HEJ3J0GskGhElzoFmZCZP2FUvSbiDiicAuuLpQOwhPIyRCP\u002BKEvTfqLQORPLy7rQsT1m8mUa1BIZ1yBWJO9olA5L01VwmxcVhUKEEdEU0DsstvP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7d02c691-e6f4-acfb-8d49-7bcbf0e9d44e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "797070583",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
