{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-678061ba-306d-f130-c654-4f9858b4cdaa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAD17E4CC\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-678061ba-306d-f130-c654-4f9858b4cdaa/test-file-eaaa1f3d-9ba0-a496-152d-eae7280464c7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAD37D794\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-678061ba-306d-f130-c654-4f9858b4cdaa/test-file-eaaa1f3d-9ba0-a496-152d-eae7280464c7?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "NwbGmaLEvLJWlK30hfdu02+vE9A6Lrp6MkxngGho12WQ3wB8LEv9wMvHSFs3SX+NQ8wzZEAXkQlLS2ZWXDtJ7bxHY6b38qYjslMEcuVfQujM2j2cNHMleU33MODlp2OPflue8OXZllElELLsEh8k7Al+ioL+rblJIupY/8HGPgvwdPSJwFIC8kTsdyTBOGYt00TXZxzhkdChVc77gJaPX9Kn/J4rmiu2e5c+EjWUh+mEKit97tfuD+Mj6GuDB3GtXBhRGjzIAjkZIOuFo36bDc7kd1ZrEXD7ue26B7LAMnMlkLUdQ22tuyjyZM3raGxkiNudn5AbQkunVmFPDfuGWe14XxLJf[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-678061ba-306d-f130-c654-4f9858b4cdaa/test-file-eaaa1f3d-9ba0-a496-152d-eae7280464c7?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAD4C97B1\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-678061ba-306d-f130-c654-4f9858b4cdaa/test-file-eaaa1f3d-9ba0-a496-152d-eae7280464c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DAD4C97B1\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA3BsaZosS8slaUrfSF927Tb68T0DouunoyTGeAaGjXZZDfAHwsS/3Ay8dIWzdJf41DzDNkQBeRCUtLZlZcO0ntvEdjpvfypiOyUwRy5V9C6MzaPZw0cyV5Tfcw4OWnY49+W57w5dmWUSUQsuwSHyTsCX6Kgv6tuUki6lj/wcY+C/B09InAUgLyROx3JME4Zi3TRNdnHOGR0KFVzvuAlo9f0qf8niuaK7Z7lz4SNZSH6YQqK33u1+4P4yPoa4MHca1cGFEaPMgCORkg64WjfpsNzuR3VmsRcPu57boHssAycyWQtR1Dba27KPJkzetobGSI252fkBtCS6dWYU8N+4ZZ7XhfEsl9yWA3uy54raMQUIFVf9cjk+IKTmp17AxdrSxrCt9yCV[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-678061ba-306d-f130-c654-4f9858b4cdaa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2045110097",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
