{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-09e16851-fcde-50e7-c710-4fcdfea82a71?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3EAD6227\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-09e16851-fcde-50e7-c710-4fcdfea82a71/test-file-aa431ce4-5c45-8241-81cb-ff4149b193c3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3EC94544\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-09e16851-fcde-50e7-c710-4fcdfea82a71/test-file-aa431ce4-5c45-8241-81cb-ff4149b193c3?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "I89lyWPbtBFS+/4QbnkMkgbMzLK2aVuvndEVuvlFy/zDdkp00EAfJZbhbhkW2emFh7PJTkFXYbpztiuSxfoYDTACTPgul8LGraYb1PtBmMTnjzNGfHy6bBSQARkUjF+cyWDpFIzwVu/wA6GbO4y/Mh1nqjbG0ZGzSODjnpaosSBGfwuaWIQ39zhDVXjbHzCI0M78reEp1vfONsysDLhZSFGAVLyAJNqZMLP9gnwY2CmvW83HrAM/HagUyyG4iuuA6g0nWsp0CKv0Y30uK1N7tV6j/LDqkZtOQTYTa1i44KXHfZhv8X1eO1Ih00mGEfFVmRbDFY06lVlx2BmUYJxSPILYZq66D[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-09e16851-fcde-50e7-c710-4fcdfea82a71/test-file-aa431ce4-5c45-8241-81cb-ff4149b193c3?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3EDA06A1\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-09e16851-fcde-50e7-c710-4fcdfea82a71/test-file-aa431ce4-5c45-8241-81cb-ff4149b193c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA3EDA06A1\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAjz2XJY9u0EVL7/hBueQySBszMsrZpW6+d0RW6+UXL/MN2SnTQQB8lluFuGRbZ6YWHs8lOQVdhunO2K5LF+hgNMAJM+C6XwsatphvU+0GYxOePM0Z8fLpsFJABGRSMX5zJYOkUjPBW7/ADoZs7jL8yHWeqNsbRkbNI4OOelqixIEZ/C5pYhDf3OENVeNsfMIjQzvyt4SnW9842zKwMuFlIUYBUvIAk2pkws/2CfBjYKa9bzcesAz8dqBTLIbiK64DqDSdaynQIq/RjfS4rU3u1XqP8sOqRm05BNhNrWLjgpcd9mG/xfV47UiHTSYYR8VWZFsMVjTqVWXHYGZRgnFI8gthmrroMxOBEwV7JvlLHMEW90kL0yxeN6D/9GGTJ27bOl8auqk[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-09e16851-fcde-50e7-c710-4fcdfea82a71?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1621540229",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
