{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f013b3ab-1a03-0400-d151-f53c120b342f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3BED2535\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f013b3ab-1a03-0400-d151-f53c120b342f/test-file-665f3aa7-ec3a-9d01-60f0-474f3e3b84c5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3C0B46B4\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f013b3ab-1a03-0400-d151-f53c120b342f/test-file-665f3aa7-ec3a-9d01-60f0-474f3e3b84c5?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "V9CNK1wAPV+LLLJK2nDI6Z6XLgWri8ONRm6Za6lZarXK+jhrWYcCDc8BHj817Fvq+rgw5VrnmssMAOXtZ9K1McL8gN84XY8WlSA2qW2EV1kTrnHwKYVb4l9sXlmiFKb8S+x8OWx7spwpGlA5sfBeh6iL2rhgxAc8oJ2AzP41c4B6OV6ABx7tl/zUxw81IjFvDtaxFzntnIbkQJjP++ae86bPv3eR3YCJnkO7i/34B35rEL0nhFxGjJ3Xm8eFHZsWNtNoZWK53TBWJ3j2MhCJ7DgZY+sodm9JiDPauUG4A4CopVQpj6IcsTON0FzkUFqMTq+PbLmw7sBkH90v3yPvnSP3Toy7X[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f013b3ab-1a03-0400-d151-f53c120b342f/test-file-665f3aa7-ec3a-9d01-60f0-474f3e3b84c5?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3C1C481D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f013b3ab-1a03-0400-d151-f53c120b342f/test-file-665f3aa7-ec3a-9d01-60f0-474f3e3b84c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA3C1C481D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABX0I0rXAA9X4ssskracMjpnpcuBauLw41GbplrqVlqtcr6OGtZhwINzwEePzXsW+r6uDDlWueaywwA5e1n0rUxwvyA3zhdjxaVIDapbYRXWROucfAphVviX2xeWaIUpvxL7Hw5bHuynCkaUDmx8F6HqIvauGDEBzygnYDM/jVzgHo5XoAHHu2X/NTHDzUiMW8O1rEXOe2chuRAmM/75p7zps+/d5HdgImeQ7uL/fgHfmsQvSeEXEaMndebx4UdmxY202hlYrndMFYnePYyEInsOBlj6yh2b0mIM9q5QbgDgKilVCmPohyxM43QXORQWoxOr49subDuwGQf3S/fI++dI/dOjLtfXJb9sribpRJlONlNa5Epl8f3t5TFcMXs0Q+dMzjsAs[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f013b3ab-1a03-0400-d151-f53c120b342f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "615194037",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
