{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-63a3b17e-37b8-7c48-1a8c-c25b31e563a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:41:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D6628DBCC\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:41:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-63a3b17e-37b8-7c48-1a8c-c25b31e563a8/test-file-8efd1e43-89a2-3993-0cc3-7d0e47fa2e20?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:41:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D66ABF72A\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:41:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-63a3b17e-37b8-7c48-1a8c-c25b31e563a8/test-file-8efd1e43-89a2-3993-0cc3-7d0e47fa2e20?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 28 May 2024 17:41:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "G6tjTtpB99Cbkx7nkd\u002Bs00U8fRD9w1a\u002Bjbr26P21G1LopEwk4/irmykXBL7SnM6Lvd0at3PXBFhUpMAgSw7T5nfM/\u002BySiO9MkeHm5b6X6/DsaiofmmPeEKDzzz44ilAaRB1GBZ3h\u002BTTtziaS8B6avbnPNODktEwU7u5MnrmwEwaRy6GgUOZTCnH1Mcs8TCCBWRKFaFZvNpDRMheulVp7PbogACV8\u002BmzSfClv7oKB16HOykWnK6uvIZQRzx7OpHUWevQQHEz6BV6msuwtAEgNT1t14MoV1BIPcN6QaytNBNi0WHOOcLpV08XmAXi/giFMBH/D[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-63a3b17e-37b8-7c48-1a8c-c25b31e563a8/test-file-8efd1e43-89a2-3993-0cc3-7d0e47fa2e20?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:41:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D66CBDB1A\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:41:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-63a3b17e-37b8-7c48-1a8c-c25b31e563a8/test-file-8efd1e43-89a2-3993-0cc3-7d0e47fa2e20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:41:26 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3D66CBDB1A\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:41:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:41:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAbq2NO2kH30JuTHueR36zTRTx9EP3DVr6Nuvbo/bUbUuikTCTj\u002BKubKRcEvtKczou93Rq3c9cEWFSkwCBLDtPmd8z/7JKI70yR4eblvpfr8OxqKh\u002BaY94QoPPPPjiKUBpEHUYFneH5NO3OJpLwHpq9uc804OS0TBTu7kyeubATBpHLoaBQ5lMKcfUxyzxMIIFZEoVoVm82kNEyF66VWns9uiAAJXz6bNJ8KW/ugoHXoc7KRacrq68hlBHPHs6kdRZ69BAcTPoFXqay7C0ASA1PW3XgyhXUEg9w3pBrK00E2LRYc45wulXTxeYBeL\u002BCIUwEf8NYw6oBpuIBq21qmTNYrhR5qNV/36AgDQUu05lQ7r1DZ6uKqxQJVs2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-63a3b17e-37b8-7c48-1a8c-c25b31e563a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:41:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "66052286",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
