{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-060a176f-56fe-7ca9-4c62-0f4b99b8fc2e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC060B730\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-060a176f-56fe-7ca9-4c62-0f4b99b8fc2e/test-file-42427179-6888-6707-1538-853c9846374a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC06FD220\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-060a176f-56fe-7ca9-4c62-0f4b99b8fc2e/test-file-42427179-6888-6707-1538-853c9846374a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "d/47XWcH7CUJSOGfkTzyE/9C7RqeQNjLqyGQIDASINAUIPWL/QVkVpL0sg13c7GJKAX8XmUwBjcmcLJGd8z09igRi3FGZxb63ZeHqY3LUzdvBvgqFsFq5Bm\u002BZYxTHt7GALvlZug/QsDvAYDNqF2qWh161nDUyuBmpqdXiAKJp7\u002B5wKjR5exPL8Q3OxRBnDu8FApv2Udu8jXaf79B6Lq\u002BZVrBFOe02HQwKqasnI7MJApsmnT3Gs53S85y9mYsDkcKeda5gIhTBzuVP66gwVWnDlq11U5FxkqMSckZQeINAxxfoiO4E6SCGJI4Ytsg1ol4y\u002BgMdzn5x[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-060a176f-56fe-7ca9-4c62-0f4b99b8fc2e/test-file-42427179-6888-6707-1538-853c9846374a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC08B9798\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-060a176f-56fe-7ca9-4c62-0f4b99b8fc2e/test-file-42427179-6888-6707-1538-853c9846374a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC08B9798\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "C8QFmu3os8c=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "d/47XWcH7CUJSOGfkTzyE/9C7RqeQNjLqyGQIDASINAUIPWL/QVkVpL0sg13c7GJKAX8XmUwBjcmcLJGd8z09igRi3FGZxb63ZeHqY3LUzdvBvgqFsFq5Bm\u002BZYxTHt7GALvlZug/QsDvAYDNqF2qWh161nDUyuBmpqdXiAKJp7\u002B5wKjR5exPL8Q3OxRBnDu8FApv2Udu8jXaf79B6Lq\u002BZVrBFOe02HQwKqasnI7MJApsmnT3Gs53S85y9mYsDkcKeda5gIhTBzuVP66gwVWnDlq11U5FxkqMSckZQeINAxxfoiO4E6SCGJI4Ytsg1ol4y\u002BgMdzn5xLKLLTa\u002BOcZZhzuRQR8y7vq1M7y7DGRvbHI/oHb5AYzjZt1wLeZuw9/M39qfjpVqRdztV[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-060a176f-56fe-7ca9-4c62-0f4b99b8fc2e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1663481810",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
