{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-60af9a43-8f1a-1c34-92e3-eb68634de93f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE34D4DC18\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-60af9a43-8f1a-1c34-92e3-eb68634de93f/test-file-22a43104-73e3-0390-9a38-f4bb612757a4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE34E2DD56\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-60af9a43-8f1a-1c34-92e3-eb68634de93f/test-file-22a43104-73e3-0390-9a38-f4bb612757a4?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "hZbb4JgN8r+Vo78mEEwv3MeJR6twMTvlGmrdhYr2I+SH/WNV2jvJE8UdImA4120xGRxHXnTAEVNb9sUtMG00n4DanhPo2QGMvzTlUw/brEP9rGttr8Vvx+sP+uR1m+NY6ILgXThaSD8bup5A2r1Ef0mCMIQBxvC7atcn2d8cFiRRjWqM+08Ko2MsUvQmL+wuy3qa82teVyKSJPJhMm9g/qN6701St4T6d4wg1XT7lDvq+Q1kgSK58jZI+tZcqHD0y1NQrD+e2xP1oHvePoGtlo+2dzlh+3yBwP0XCryunc8cKwkhq+j7Sx75b+Gm27S0m2RGpTE3k9DWz+tCh9BWRgKswhJ4j[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-60af9a43-8f1a-1c34-92e3-eb68634de93f/test-file-22a43104-73e3-0390-9a38-f4bb612757a4?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE34FCA6D0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-60af9a43-8f1a-1c34-92e3-eb68634de93f/test-file-22a43104-73e3-0390-9a38-f4bb612757a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE34FCA6D0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACFltvgmA3yv5WjvyYQTC/cx4lHq3AxO+Uaat2FivYj5If9Y1XaO8kTxR0iYDjXbTEZHEdedMARU1v2xS0wbTSfgNqeE+jZAYy/NOVTD9usQ/2sa22vxW/H6w/65HWb41joguBdOFpIPxu6nkDavUR/SYIwhAHG8Ltq1yfZ3xwWJFGNaoz7TwqjYyxS9CYv7C7Leprza15XIpIk8mEyb2D+o3rvTVK3hPp3jCDVdPuUO+r5DWSBIrnyNkj61lyocPTLU1CsP57bE/Wge94+ga2Wj7Z3OWH7fIHA/RcKvK6dzxwrCSGr6PtLHvlv4abbtLSbZEalMTeT0NbP60KH0FZGAqzCEniM6qa6KxtnjJva5Uljblho+J3lmDlK2/25xE2jKN/5Ga[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-60af9a43-8f1a-1c34-92e3-eb68634de93f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1724887981",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
