{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e0ec66b7-deb6-49f2-baf9-b4a9e97ecab9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA610E007E\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e0ec66b7-deb6-49f2-baf9-b4a9e97ecab9/test-file-b4fd6515-93d8-8dba-0733-aa6054d48174?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA61274D48\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e0ec66b7-deb6-49f2-baf9-b4a9e97ecab9/test-file-b4fd6515-93d8-8dba-0733-aa6054d48174?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "7Toa7cPHkVJxA9KWPjFpKBDQwEuOTbKAxHCzDJfJ+QkqAtOmd/wgIQydCwOzQRhfoqQbH0SqDp+HmShSFIW7pwnJbDxdw7EUr54+8UKvzYNYVGrzrtrEf/Q0Ht3TzQ2H4WP56dXcAd7zB2+laxxd2Mul+r8byPkvBexHKaTTQOGRtxDeteStfFOL/6ZrHxTY10USLdNNbBlqyuTolNg6H8aNE7QMfyPn935sj8hSxOXYb1JfwRMOQ0v2c+v/xed6UeDg3QtgzFciKjVV4dxRFwX+ECSG2l6zfs9oFQs45zKW8T7ncubad6P6PZbduWJvpFvlAbTD83aBLF4797ZM6kICvu+da[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e0ec66b7-deb6-49f2-baf9-b4a9e97ecab9/test-file-b4fd6515-93d8-8dba-0733-aa6054d48174?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA613425A5\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e0ec66b7-deb6-49f2-baf9-b4a9e97ecab9/test-file-b4fd6515-93d8-8dba-0733-aa6054d48174",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA613425A5\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADtOhrtw8eRUnED0pY+MWkoENDAS45NsoDEcLMMl8n5CSoC06Z3/CAhDJ0LA7NBGF+ipBsfRKoOn4eZKFIUhbunCclsPF3DsRSvnj7xQq/Ng1hUavOu2sR/9DQe3dPNDYfhY/np1dwB3vMHb6VrHF3Yy6X6vxvI+S8F7EcppNNA4ZG3EN615K18U4v/pmsfFNjXRRIt001sGWrK5OiU2Dofxo0TtAx/I+f3fmyPyFLE5dhvUl/BEw5DS/Zz6//F53pR4ODdC2DMVyIqNVXh3FEXBf4QJIbaXrN+z2gVCzjnMpbxPudy5tp3o/o9lt25Ym+kW+UBtMPzdoEsXjv3tkzqQgK+751ppR4kmICMncfWxW35ca9S5n7S/chmRoiff+2uU1Ta+n[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e0ec66b7-deb6-49f2-baf9-b4a9e97ecab9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1022039329",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
