{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9ff2648c-dd55-4ede-f9ee-0378a09cac9f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAAE434F6\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9ff2648c-dd55-4ede-f9ee-0378a09cac9f/test-file-ac4c5171-1e6a-1aee-419d-da1c11d8043e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAB024D14\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9ff2648c-dd55-4ede-f9ee-0378a09cac9f/test-file-ac4c5171-1e6a-1aee-419d-da1c11d8043e?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "IJiW45BJj265wuSeJBletI0xWASQ729Ooe72q4q/uiQs96RXr31A1QydBG2upnk9fd9eQz2FMDApR0KiUuTj+Qi/cSx1BgUP8YL38+sBn/t0uS2qYHfnp8dzLWc7noMouQpl7jRNx3bZT1K7jT1FJ6dHLZm2OJmR2MplAdid1FL/zznhnLDGJ/G20BElLBmKLga/9HHqcYBx0xZp58WdPHr/u74DY4r2gAWn/2eIa6yx29PS3uDhFV24b8maXEArGZSWJXBbhsp7yHNrQnIY6WdpuAzyy12aHqZgSvPBXCPFe+bT8UY7VVUIVxVsddLrn4ZhMKMzOU42+wbK+jvWumxPpceLR[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9ff2648c-dd55-4ede-f9ee-0378a09cac9f/test-file-ac4c5171-1e6a-1aee-419d-da1c11d8043e?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAB0F92AD\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9ff2648c-dd55-4ede-f9ee-0378a09cac9f/test-file-ac4c5171-1e6a-1aee-419d-da1c11d8043e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DAB0F92AD\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAgmJbjkEmPbrnC5J4kGV60jTFYBJDvb06h7varir+6JCz3pFevfUDVDJ0Eba6meT19315DPYUwMClHQqJS5OP5CL9xLHUGBQ/xgvfz6wGf+3S5Lapgd+enx3MtZzuegyi5CmXuNE3HdtlPUruNPUUnp0ctmbY4mZHYymUB2J3UUv/POeGcsMYn8bbQESUsGYouBr/0cepxgHHTFmnnxZ08ev+7vgNjivaABaf/Z4hrrLHb09Le4OEVXbhvyZpcQCsZlJYlcFuGynvIc2tCchjpZ2m4DPLLXZoepmBK88FcI8V75tPxRjtVVQhXFWx10uufhmEwozM5Tjb7Bsr6O9a6bE+lx4tF9yEuYrbpc0guqNN1q21gK3+RQZic9j9xWxkynagc0A[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9ff2648c-dd55-4ede-f9ee-0378a09cac9f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "352928552",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
