{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-3e8e1035-78e6-60ad-8475-530e0f5f76fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D685EB68EA\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-3e8e1035-78e6-60ad-8475-530e0f5f76fe/test-file-871478f3-4b27-0e4b-6efb-aae82e4a625c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D685F8BBD4\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-3e8e1035-78e6-60ad-8475-530e0f5f76fe/test-file-871478f3-4b27-0e4b-6efb-aae82e4a625c?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "cb/7oUL3fMcy/wYlu416jXQx0Ghpxb69Okcw6cDL6wb/Wq8m+l/gRiouf0CVaYub/iCdcmFY+awAPmb7x5IGZhQAJWDeU5MVUIk9OkV+J9G8lOufLnilpmEDJrv45X+YJxgrlUQqvaqNhyHXG79mgRaVPjKnZzibWn7/2i3XHWsJpRItU5KMkddAEqdXzouhnKSlY6ZN8MDfjzrFK+J9tWq1zXasOC6ECK1bZlSRRIzzXT2IMrnFvLRRTcNYxmb0w108ogAU9WR1IVr58olsTkut0s2k9IOw8BDCW+prK0FGZqP2VKKL32jZEhBfzMoq5P93qvSZT87ZjLHwUpl5CvUYsovmd[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-3e8e1035-78e6-60ad-8475-530e0f5f76fe/test-file-871478f3-4b27-0e4b-6efb-aae82e4a625c?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D68608E135\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-3e8e1035-78e6-60ad-8475-530e0f5f76fe/test-file-871478f3-4b27-0e4b-6efb-aae82e4a625c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D68608E135\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:28 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABxv/uhQvd8xzL/BiW7jXqNdDHQaGnFvr06RzDpwMvrBv9aryb6X+BGKi5/QJVpi5v+IJ1yYVj5rAA+ZvvHkgZmFAAlYN5TkxVQiT06RX4n0byU658ueKWmYQMmu/jlf5gnGCuVRCq9qo2HIdcbv2aBFpU+MqdnOJtafv/aLdcdawmlEi1TkoyR10ASp1fOi6GcpKVjpk3wwN+POsUr4n21arXNdqw4LoQIrVtmVJFEjPNdPYgyucW8tFFNw1jGZvTDXTyiABT1ZHUhWvnyiWxOS63SzaT0g7DwEMJb6msrQUZmo/ZUoovfaNkSEF/Myirk/3eq9JlPztmMsfBSmXkK9Riyi+Z1+qki82TL4XJRI0aXduvzgU2tFtQdyPCbjM5fCBtGGT[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-3e8e1035-78e6-60ad-8475-530e0f5f76fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1099931744",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
