{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-61b4ac61-905d-4c6d-8eda-9e4e9b68b880?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A6EF2837\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-61b4ac61-905d-4c6d-8eda-9e4e9b68b880/test-file-8db1f7fb-0273-d4c3-f84e-7991e545e18f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A6FBEC9C\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-61b4ac61-905d-4c6d-8eda-9e4e9b68b880/test-file-8db1f7fb-0273-d4c3-f84e-7991e545e18f?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "1HTpXsNvlFijlXmpFQNLlf86fa66YhqXULMHYkwy/iG0NJWNEH2gYFdVsdAP0GIz4ijX5khQi3FZUQ0QaDILcJZY9eBtvYSCmR1XZbBKiH9Q038kWhfYY6kkM75vkPglSUE5t9qBxiWjVE0r+SXAD8mOv5Sy5xZ+f5E3SIrGEwkkMRxvENGkzg1agAXKrWqDZCT14NBjc2EquzdISn2b3UFDBscJUP/46fGGV2cQs9EntORm0DM5wb67RVWZW4SQv6PEh6ejeRQk/ffe3Rv6GgdlIZaYNAwNCkUJTguqXo1s9pjDSywqgzrQQdM8WuSiwCpOMznt94qWtnxhmSsIep5pceaCN[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-61b4ac61-905d-4c6d-8eda-9e4e9b68b880/test-file-8db1f7fb-0273-d4c3-f84e-7991e545e18f?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A70CAC55\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-61b4ac61-905d-4c6d-8eda-9e4e9b68b880/test-file-8db1f7fb-0273-d4c3-f84e-7991e545e18f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6A70CAC55\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADUdOlew2+UWKOVeakVA0uV/zp9rrpiGpdQswdiTDL+IbQ0lY0QfaBgV1Wx0A/QYjPiKNfmSFCLcVlRDRBoMgtwllj14G29hIKZHVdlsEqIf1DTfyRaF9hjqSQzvm+Q+CVJQTm32oHGJaNUTSv5JcAPyY6/lLLnFn5/kTdIisYTCSQxHG8Q0aTODVqABcqtaoNkJPXg0GNzYSq7N0hKfZvdQUMGxwlQ//jp8YZXZxCz0Se05GbQMznBvrtFVZlbhJC/o8SHp6N5FCT9997dG/oaB2Uhlpg0DA0KRQlOC6pejWz2mMNLLCqDOtBB0zxa5KLAKk4zOe33ipa2fGGZKwh6nmlx5oI2zto7nlzI8znRr2FmjeBcK1N//g0slLDI6Q7HxjTS6P[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-61b4ac61-905d-4c6d-8eda-9e4e9b68b880?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1705553718",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
