{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-77bc4805-ca42-c9ba-89ef-d28cfb3413eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E04C4569A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-77bc4805-ca42-c9ba-89ef-d28cfb3413eb/test-file-d43528b4-bbd2-f4c0-6578-fc5b6e400b02?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E04D3E6F7\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-77bc4805-ca42-c9ba-89ef-d28cfb3413eb/test-file-d43528b4-bbd2-f4c0-6578-fc5b6e400b02?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "2gUJj2qXIBYLOi\u002BZgFooz5X5smYifzb1VCq2P2lnoQytkYSascpuQnP7iHpK0ddmOLZA54iUlVvPEztA4eCspJgj7O/WjR3Ki2/yJ/e7qoNSTweyJ7qDGPwoy52PLWGTTuThJ\u002BXokKqYdVsYoW1kE2m47ZLZ\u002BnzeoNPyrcKAO10OX9kT2oOear5cGrFeanePxLc010DPuVRnAocR9uPoGDr\u002BCkGUUDnlGoLTfN/KgDVcY\u002BgKS2QcP6aFq9f8jHTbdAF3X2A1\u002B3R\u002BTry9\u002Bz10nYJRtZP63szV4cqbDqVh6Y0O\u002BAje[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-77bc4805-ca42-c9ba-89ef-d28cfb3413eb/test-file-d43528b4-bbd2-f4c0-6578-fc5b6e400b02?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E04F0489B\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-77bc4805-ca42-c9ba-89ef-d28cfb3413eb/test-file-d43528b4-bbd2-f4c0-6578-fc5b6e400b02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E04F0489B\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "CgYs4B7/a1o=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "2gUJj2qXIBYLOi\u002BZgFooz5X5smYifzb1VCq2P2lnoQytkYSascpuQnP7iHpK0ddmOLZA54iUlVvPEztA4eCspJgj7O/WjR3Ki2/yJ/e7qoNSTweyJ7qDGPwoy52PLWGTTuThJ\u002BXokKqYdVsYoW1kE2m47ZLZ\u002BnzeoNPyrcKAO10OX9kT2oOear5cGrFeanePxLc010DPuVRnAocR9uPoGDr\u002BCkGUUDnlGoLTfN/KgDVcY\u002BgKS2QcP6aFq9f8jHTbdAF3X2A1\u002B3R\u002BTry9\u002Bz10nYJRtZP63szV4cqbDqVh6Y0O\u002BAjeUiDVJmd0i/ynX0RoEQ5Vqtfh4JU0on6VmezOHWUvrwI0lUphfI4rhlPPLoKGMv2WDD62LBhyq[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-77bc4805-ca42-c9ba-89ef-d28cfb3413eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1915632432",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
