{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-c78203f6-3d6a-3f68-0376-1391c8973735?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D686D9A542\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-c78203f6-3d6a-3f68-0376-1391c8973735/test-file-8d6030de-ab52-cfde-517a-53fef637d2f8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D686E6FE60\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-c78203f6-3d6a-3f68-0376-1391c8973735/test-file-8d6030de-ab52-cfde-517a-53fef637d2f8?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "1BWMBUWTv2U23sPHJkIdds4iRnGjYnJZqEXM3Woe/0epiFEMAaKst5aPnuTWfvV5FLDggnWH6nGjM1wAx+L7F957HZ3wEHUsdo7aFMONgilPUsm6PX3RIp3gac1Fq/C0lIYGW2FYiAM6swzmrNatFbEysHQYQNphqfv/EKen5sqeJoA9hyfI98nGf4lx6nXHMlMcEvp7nFOspLFlWHhbk81CSIZWcI6JarmrUsFQ8L+GON1UitPPI4kskOJ1Yp5Rauu8L6LucMLEkqhB0EmRXLTy3yCaBwj5ciX8KeCsFAcbWefVk8Ecl8cbj/cqjlI/mzMug4N+t2Ljw7x98UfhGH6hJXZiv[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-c78203f6-3d6a-3f68-0376-1391c8973735/test-file-8d6030de-ab52-cfde-517a-53fef637d2f8?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D686FCD01D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-c78203f6-3d6a-3f68-0376-1391c8973735/test-file-8d6030de-ab52-cfde-517a-53fef637d2f8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D686FCD01D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADUFYwFRZO/ZTbew8cmQh12ziJGcaNiclmoRczdah7/R6mIUQwBoqy3lo+e5NZ+9XkUsOCCdYfqcaMzXADH4vsX3nsdnfAQdSx2jtoUw42CKU9Sybo9fdEineBpzUWr8LSUhgZbYViIAzqzDOas1q0VsTKwdBhA2mGp+/8Qp6fmyp4mgD2HJ8j3ycZ/iXHqdccyUxwS+nucU6yksWVYeFuTzUJIhlZwjolquatSwVDwv4Y43VSK088jiSyQ4nVinlFq67wvou5wwsSSqEHQSZFctPLfIJoHCPlyJfwp4KwUBxtZ59WTwRyXxxuP9yqOUj+bMy6Dg363YuPDvH3xR+EYfqEldmK8yfPVSFh+eBHO5NK8jq1+kIOdooTy0ASfpYA6dniJaN[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-c78203f6-3d6a-3f68-0376-1391c8973735?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "704503891",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
