{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bd4f78dc-ec9b-54ff-fa02-7e8abc96a26e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:03:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9527F938FFFD\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 15:03:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bd4f78dc-ec9b-54ff-fa02-7e8abc96a26e/test-file-3d5c94f1-005b-75be-2924-33d502e95265?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:03:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9527F949AA0D\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 15:03:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bd4f78dc-ec9b-54ff-fa02-7e8abc96a26e/test-file-3d5c94f1-005b-75be-2924-33d502e95265?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 25 Jun 2024 15:03:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Trv4zeADKI9McTnEITfNm08de43M9vTJkG7GvxzzCdjWN3jLZ\u002BWACwY6XgigitSxOZXptzBzxljHLj1xPWlyWWdg7uq\u002BAjNpnXCGkpfrKQaaFIaHClKoYnAgBDioDs6dxwWhP5vq8jZhfxnA7DTB2wU21yjj608UuIt6nv76wY\u002Bi6cqSSuprryFPJYo46HY8Xygzcjalutu1jIYPb1Q4Z76KHgJpLpEayycGk8bF29AVPj/Vxk5Y/C/u3L1jW0DNFr7Lrslz0jCXGKYOniYV8LC2\u002BjEVYqBvMSHTelLTt3DnOXwH\u002BS0GomsOPq6oSV0I2esN[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bd4f78dc-ec9b-54ff-fa02-7e8abc96a26e/test-file-3d5c94f1-005b-75be-2924-33d502e95265?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:03:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9527F964D321\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 15:03:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bd4f78dc-ec9b-54ff-fa02-7e8abc96a26e/test-file-3d5c94f1-005b-75be-2924-33d502e95265",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:03:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9527F964D321\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 15:03:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 Jun 2024 15:03:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABOu/jN4AMoj0xxOcQhN82bTx17jcz29MmQbsa/HPMJ2NY3eMtn5YALBjpeCKCK1LE5lem3MHPGWMcuPXE9aXJZZ2Du6r4CM2mdcIaSl\u002BspBpoUhocKUqhicCAEOKgOzp3HBaE/m\u002BryNmF/GcDsNMHbBTbXKOPrTxS4i3qe/vrBj6LpypJK6muvIU8lijjodjxfKDNyNqW627WMhg9vVDhnvooeAmkukRrLJwaTxsXb0BU\u002BP9XGTlj8L\u002B7cvWNbQM0WvsuuyXPSMJcYpg6eJhXwsLb6MRVioG8xIdN6UtO3cOc5fAf5LQaiaw4\u002BrqhJXQjZ6w2tYQ63sx5bfKifWN3DYTYnZakO9oOvV8YGJPHH6MPKo[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bd4f78dc-ec9b-54ff-fa02-7e8abc96a26e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:03:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1122080190",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
