{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ba6f9958-7f10-3a54-0cb7-cbb8310735e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0483CACAC3\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ba6f9958-7f10-3a54-0cb7-cbb8310735e9/test-file-dec4ee60-2692-e4de-c8b5-5bd82bca9fb7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0483DC5EA7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ba6f9958-7f10-3a54-0cb7-cbb8310735e9/test-file-dec4ee60-2692-e4de-c8b5-5bd82bca9fb7?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "zV3wf6mDnKUi4W+sWcco9NPDETWpdf+4t9zKid/20Yy0G7+0J2RdI1+4nQhTeuktut+s+K15YFdeOMjNuBLFKxDi+D0HdM1uZe7V8dj2ZT3ync4AStjeOrpnVu+ckGpM8nH3cIKsJUYRPpK/pG9/Z9KL2htExeE3BL2CoB7e0tSEiP9n/vW6RneH7gxFH5ZL6O4cEbZOCCyPv2zEKYUoM2y9OxtwF2jd0JSkvNfV8eQmN7cvwsEeNYDS2D6J9h3yX7qgiOR729GGPkAiqktUuc6HnvHN+XGrnwWanT4pVNp2sV0dNWkAq1vmqYOA/Is1fh5wAVgrJGZI9eje4D6SXOpmq/jtN[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ba6f9958-7f10-3a54-0cb7-cbb8310735e9/test-file-dec4ee60-2692-e4de-c8b5-5bd82bca9fb7?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0483F5D9E7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ba6f9958-7f10-3a54-0cb7-cbb8310735e9/test-file-dec4ee60-2692-e4de-c8b5-5bd82bca9fb7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0483F5D9E7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADNXfB/qYOcpSLhb6xZxyj008MRNal1/7i33MqJ3/bRjLQbv7QnZF0jX7idCFN66S2636z4rXlgV144yM24EsUrEOL4PQd0zW5l7tXx2PZlPfKdzgBK2N46umdW75yQakzycfdwgqwlRhE+kr+kb39n0ovaG0TF4TcEvYKgHt7S1ISI/2f+9bpGd4fuDEUflkvo7hwRtk4ILI+/bMQphSgzbL07G3AXaN3QlKS819Xx5CY3ty/CwR41gNLYPon2HfJfuqCI5Hvb0YY+QCKqS1S5zoee8c35caufBZqdPilU2naxXR01aQCrW+apg4D8izV+HnABWCskZkj16N7gPpJc6mar+O03hGSG8pXmT+4qo3plHiC4UoFLjffUP4Aiyh1UTJkaUJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ba6f9958-7f10-3a54-0cb7-cbb8310735e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "857751900",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
