{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b919458a-ad8d-1baf-caec-cc268d01029f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7A3FCC04\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b919458a-ad8d-1baf-caec-cc268d01029f/test-file-d1e5b9ee-7845-7839-e913-68b91987933b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7A4F8DA0\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b919458a-ad8d-1baf-caec-cc268d01029f/test-file-d1e5b9ee-7845-7839-e913-68b91987933b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "M7n9a\u002Bc5jh\u002Bp7cIoj52ZXzbvRlT9O8PT6LWEuK1I476r3d7HbUn2pqrjHe5cMbUuSl0bWfFkQ/j2KoMxtNZyYQoDfbG/0vLs\u002BaCqGh7UdrcAVm1QLIrNRprm0EPGxPLTcbvkWLMDb3hqL2BQuinZIrPLMV5pITWANjcX2AGvJjSu16hi8B4D/Of05f0pfItxDK6P\u002BpOTalCGZCJ865Z3uwgrouOAdzGVyDR3dDs3VrmrpcxSHyuhGmxY24z8hxBRfSr0/dqo8JV8\u002BjJeHPUUTw1o0UXJJJvdiod2KJulmEEjJvYRQ1jfArU31iX4Qv12RIx\[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b919458a-ad8d-1baf-caec-cc268d01029f/test-file-d1e5b9ee-7845-7839-e913-68b91987933b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7A6CB28F\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b919458a-ad8d-1baf-caec-cc268d01029f/test-file-d1e5b9ee-7845-7839-e913-68b91987933b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF7A6CB28F\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAzuf1r5zmOH6ntwiiPnZlfNu9GVP07w9PotYS4rUjjvqvd3sdtSfamquMd7lwxtS5KXRtZ8WRD\u002BPYqgzG01nJhCgN9sb/S8uz5oKoaHtR2twBWbVAsis1GmubQQ8bE8tNxu\u002BRYswNveGovYFC6Kdkis8sxXmkhNYA2NxfYAa8mNK7XqGLwHgP85/Tl/Sl8i3EMro/6k5NqUIZkInzrlne7CCui44B3MZXINHd0OzdWuaulzFIfK6EabFjbjPyHEFF9KvT92qjwlXz6Ml4c9RRPDWjRRckkm92Kh3Yom6WYQSMm9hFDWN8CtTfWJfhC/XZEjH6TtsqHWY4Wc1IyyPnWYfE79v4DC7WIzpCSTXbkSIr/5A4nBItYnp2CLOWN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b919458a-ad8d-1baf-caec-cc268d01029f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1410378004",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
