{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cf802100-1fc5-7a8e-30d7-1e13f20bcec5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3A60B183\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cf802100-1fc5-7a8e-30d7-1e13f20bcec5/test-file-21123f11-dd37-05ea-4bd2-2b966edebae4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3A71E08D\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cf802100-1fc5-7a8e-30d7-1e13f20bcec5/test-file-21123f11-dd37-05ea-4bd2-2b966edebae4?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "N7porQGI8TmembbTauYiE1jiGp3B8SRk54DyBiTip6oy8nCctNI6b2MPPwdmEgYro49IXVMiAEaWBMWBleoVu/EMoXd2hl6Fp6s5srEc/tV6xmOUmkpWEPIpBbAMudl5+YMWWnCOtRwxwrWo6U6UegbwBs6GgSGmtZGFTICtee3Rv7gtBaNk6xFGY9eUrieklYuqG7MK8nhib6TfCWmcg0jI1imVZnRijBq9Px1JEgZq4Lf0A146xsw/y5b/heKnquCOzNf9Di4XSI6YTbNaGF2ddCixp3/qjQ9cVpveYgc4FZU9u0YvbNKJ3brPonkZ5bI4YRC59gJgpD7IobiSOOWGYDcdH[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cf802100-1fc5-7a8e-30d7-1e13f20bcec5/test-file-21123f11-dd37-05ea-4bd2-2b966edebae4?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3A8D57C1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cf802100-1fc5-7a8e-30d7-1e13f20bcec5/test-file-21123f11-dd37-05ea-4bd2-2b966edebae4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE3A8D57C1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA3umitAYjxOZ6ZttNq5iITWOIancHxJGTngPIGJOKnqjLycJy00jpvYw8/B2YSBiujj0hdUyIARpYExYGV6hW78Qyhd3aGXoWnqzmysRz+1XrGY5SaSlYQ8ikFsAy52Xn5gxZacI61HDHCtajpTpR6BvAGzoaBIaa1kYVMgK157dG/uC0Fo2TrEUZj15SuJ6SVi6obswryeGJvpN8JaZyDSMjWKZVmdGKMGr0/HUkSBmrgt/QDXjrGzD/Llv+F4qeq4I7M1/0OLhdIjphNs1oYXZ10KLGnf+qND1xWm95iBzgVlT27Ri9s0ondus+ieRnlsjhhELn2AmCkPsihuJI45YZgNx0dXRduCFYoycUa65ZCcOilAfd+H5LdFwdnyxn2pNVJQU[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cf802100-1fc5-7a8e-30d7-1e13f20bcec5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1758417058",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
