{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f305d042-35bb-0070-646d-ec9fd7aa5d13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB047FBA98D9\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f305d042-35bb-0070-646d-ec9fd7aa5d13/test-file-9c159db4-6099-82e5-fe6a-a221d0736020?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB047FC8AA83\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f305d042-35bb-0070-646d-ec9fd7aa5d13/test-file-9c159db4-6099-82e5-fe6a-a221d0736020?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "mOeSTbFLk+qFWHJFuZRn6UKtM24h2N+OMtugy+8ibrLRj0Ox6N2NINWe/9uTWCzqiIDlkZs2ysAIBBvVqsj7YunAdClQtQBkHxKZg9gD+tqutkJvPN0XmsSDqeTCuHYMo53x0+MCmdJ/gXKInUfnBAlAJvSFjCUMqNllzQwbomacjN87Eib2rBxw77trjv18m6XbgZGChxd35SsKnczGZN8L7BFnrPHiSnrXFZxqoBrb6DJnQCDVGgXIxCz76w9QqorcYKHsFe6z+DYWqnF6DEQRLrWaXyS+NdILnujE519rh2oSjkB47tJDs0jpvm+TTrfo6rxZtktmHSrP4HYG7hDXqyIHZ[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f305d042-35bb-0070-646d-ec9fd7aa5d13/test-file-9c159db4-6099-82e5-fe6a-a221d0736020?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB047FE88E42\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:17 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f305d042-35bb-0070-646d-ec9fd7aa5d13/test-file-9c159db4-6099-82e5-fe6a-a221d0736020",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB047FE88E42\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACY55JNsUuT6oVYckW5lGfpQq0zbiHY344y26DL7yJustGPQ7Ho3Y0g1Z7/25NYLOqIgOWRmzbKwAgEG9WqyPti6cB0KVC1AGQfEpmD2AP62q62Qm883ReaxIOp5MK4dgyjnfHT4wKZ0n+BcoidR+cECUAm9IWMJQyo2WXNDBuiZpyM3zsSJvasHHDvu2uO/XybpduBkYKHF3flKwqdzMZk3wvsEWes8eJKetcVnGqgGtvoMmdAINUaBcjELPvrD1CqitxgoewV7rP4NhaqcXoMRBEutZpfJL410gue6MTnX2uHahKOQHju0kOzSOm+b5NOt+jqvFm2S2YdKs/gdgbuENerIgdnfgSYQOJWq9vUdmJ4TzHc/KIR0R+rcBWpDlw9xTcSE0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f305d042-35bb-0070-646d-ec9fd7aa5d13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "800760952",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
