{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a5f20900-ad2f-afcf-cad5-a94e9c68d8d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045CEDBA13\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a5f20900-ad2f-afcf-cad5-a94e9c68d8d3/test-file-890ddb45-d9e4-a8fa-0780-58ea8c833690?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045CFB2E79\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a5f20900-ad2f-afcf-cad5-a94e9c68d8d3/test-file-890ddb45-d9e4-a8fa-0780-58ea8c833690?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "6a2soxu1YFPICEtliKco/IhA8/g4CmMfG0RRRVk2ym3Tlz7ZIKlNpULcBGcrM2P1KFWC3/j8VN5JjYfWZBr6kj3dkvBoTtze8062XAX78+jhWx0Ds+p010Jgj5IidkEo4XIqTqFzjNl5pOuqRvjYTpqf9Qj9995TabqtB75JvHwMjXqT0aVGbc9DiQ/+yZBKiEH4g4E5KuqU1uTmxoQaMOhvnrh9RX30WIc4uW3PVJ8qYn99UDn602KQ//rAYKdKKVknjyvXzEPEBCr6AHF8xYFFvGMEnd+vdMpV7EaCM/jf7pATp8VzUpY8uEwOANLxFDl4e6NERYt5eBphgd/9QdAxGxLha[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a5f20900-ad2f-afcf-cad5-a94e9c68d8d3/test-file-890ddb45-d9e4-a8fa-0780-58ea8c833690?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045D145C05\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a5f20900-ad2f-afcf-cad5-a94e9c68d8d3/test-file-890ddb45-d9e4-a8fa-0780-58ea8c833690",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB045D145C05\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADprayjG7VgU8gIS2WIpyj8iEDz+DgKYx8bRFFFWTbKbdOXPtkgqU2lQtwEZyszY/UoVYLf+PxU3kmNh9ZkGvqSPd2S8GhO3N7zTrZcBfvz6OFbHQOz6nTXQmCPkiJ2QSjhcipOoXOM2Xmk66pG+NhOmp/1CP333lNpuq0Hvkm8fAyNepPRpUZtz0OJD/7JkEqIQfiDgTkq6pTW5ObGhBow6G+euH1FffRYhzi5bc9Unypif31QOfrTYpD/+sBgp0opWSePK9fMQ8QEKvoAcXzFgUW8YwSd3690ylXsRoIz+N/ukBOnxXNSljy4TA4A0vEUOXh7o0RFi3l4GmGB3/1B0DEbEuFoHbzRaczI5JOgdPhk2AwJuFSbqASZL6oS0LY/d3vc5c[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a5f20900-ad2f-afcf-cad5-a94e9c68d8d3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2052104150",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
