{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e75e8312-ac20-5284-e8a2-813e651f6e57?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0483178037\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e75e8312-ac20-5284-e8a2-813e651f6e57/test-file-884c3d58-9b86-dbc1-522b-1bceea1e0091?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0483251C68\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e75e8312-ac20-5284-e8a2-813e651f6e57/test-file-884c3d58-9b86-dbc1-522b-1bceea1e0091?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "sPn+4s2PsZoH7CtoiY63KTNgAUSrHNDJ2F36BsTG4J7yNkWhwIxTrW/ZSpulbd/jhIqBMRyBQJMpNQpvlavVQAuNdVJJFWmnDFPU0tI0I2t+FoI6Ra6BcPWxeIqC5BjEBAmQGPeMmm4h2SXJrW7B9BGe8X4omvpcCwVcl53eJCg6D87JpAp08XwUGWuIt8OG8IN44/Kam2kOMwzxLwLQQrT9j52g+FAGKQABFIGP01RB1qcZZUE2oHNkunH+gsF6Q9a3iygl5vczcbrxmIfof1+4r1lbt9xzx+4pPD3fCKY/h9Gq2EgsHO+v5vSGRAjsfDsSRtJnHoz5Q8Q5+6m6VGkTshC2P[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e75e8312-ac20-5284-e8a2-813e651f6e57/test-file-884c3d58-9b86-dbc1-522b-1bceea1e0091?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0483477159\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e75e8312-ac20-5284-e8a2-813e651f6e57/test-file-884c3d58-9b86-dbc1-522b-1bceea1e0091",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0483477159\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACw+f7izY+xmgfsK2iJjrcpM2ABRKsc0MnYXfoGxMbgnvI2RaHAjFOtb9lKm6Vt3+OEioExHIFAkyk1Cm+Vq9VAC411UkkVaacMU9TS0jQja34WgjpFroFw9bF4ioLkGMQECZAY94yabiHZJcmtbsH0EZ7xfiia+lwLBVyXnd4kKDoPzsmkCnTxfBQZa4i3w4bwg3jj8pqbaQ4zDPEvAtBCtP2PnaD4UAYpAAEUgY/TVEHWpxllQTagc2S6cf6CwXpD1reLKCXm9zNxuvGYh+h/X7ivWVu33HPH7ik8Pd8Ipj+H0arYSCwc76/m9IZECOx8OxJG0mcejPlDxDn7qbpUaROyELY+pxaLk2mr0OjtguY9wALMwtTXaESwlIPyIEb1kopzkf[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e75e8312-ac20-5284-e8a2-813e651f6e57?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1551172602",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
