{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4b705f04-4703-04f9-abfc-fe63b0174e12?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045B414261\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4b705f04-4703-04f9-abfc-fe63b0174e12/test-file-8a92e950-f733-03ac-498c-05c18c4f6f73?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045B4F79FB\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4b705f04-4703-04f9-abfc-fe63b0174e12/test-file-8a92e950-f733-03ac-498c-05c18c4f6f73?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "+0dDzQrTiqZMRPwKrUaVuuEnzkAy54HC+RHCOxNeiSQxYLcnrU3MwuU+Gkw1I3RdxI/SfFyFBhPFgdT5EE+T7rrX2E2ObQ2TWgxb8800jNacZHaEiw3Iq1mkYit50rGVqyuSXUonzleCPiFQKhJGkPX9XKzYDmKtDyzz6gvhGohaxUihoi+LdZUfAkzreIFHXdE2e3YEvZzI5E4dM+RLoCSZ9WTKpO7FcucWuAwWwpeqrIw6q54RVQis2L7hbkGx02EoUoIdfLjicAmP7gSPsiK2codXEfSFh59bHswv5AOlZeWr7W8UjS/UVzuVgmcEHCWbKvu6WsJto8vjwl7ssosF6Ygf5[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4b705f04-4703-04f9-abfc-fe63b0174e12/test-file-8a92e950-f733-03ac-498c-05c18c4f6f73?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045B68F577\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4b705f04-4703-04f9-abfc-fe63b0174e12/test-file-8a92e950-f733-03ac-498c-05c18c4f6f73",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB045B68F577\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD7R0PNCtOKpkxE/AqtRpW64SfOQDLngcL5EcI7E16JJDFgtyetTczC5T4aTDUjdF3Ej9J8XIUGE8WB1PkQT5PuutfYTY5tDZNaDFvzzTSM1pxkdoSLDcirWaRiK3nSsZWrK5JdSifOV4I+IVAqEkaQ9f1crNgOYq0PLPPqC+EaiFrFSKGiL4t1lR8CTOt4gUdd0TZ7dgS9nMjkTh0z5EugJJn1ZMqk7sVy5xa4DBbCl6qsjDqrnhFVCKzYvuFuQbHTYShSgh18uOJwCY/uBI+yIrZyh1cR9IWHn1sezC/kA6Vl5avtbxSNL9RXO5WCZwQcJZsq+7pawm2jy+PCXuyyiwXpiB/kxbKi5ViDurnvBDdXAaaUugjrCyM9SqQxytDopK+Pmd[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4b705f04-4703-04f9-abfc-fe63b0174e12?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "751233993",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
