{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7b6d833c-bb87-5375-1a70-0664f46e7b1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E0249E0B9\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7b6d833c-bb87-5375-1a70-0664f46e7b1b/test-file-915e1ae8-8483-de81-e8b4-fa95c1207ec1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E02594A12\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7b6d833c-bb87-5375-1a70-0664f46e7b1b/test-file-915e1ae8-8483-de81-e8b4-fa95c1207ec1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jXE/oz/yDiRQ0\u002BRXCEfqxT0\u002B7ZGGQxfRZpjK5r0IjhrFzKD3FI\u002BHhFXE6DF3mFzRzJXszI3ZX0pZbjynJydmSETJkTyn87Gutmk8wlvmWc48\u002BBooG8KM7GxVnaVT4FwtXaDsrgYgKtnjPhUknZ3ucxVtay4MPiyCPKXPUVULWtYMDmS7\u002BarHG85BRNysaE/PZimQ5XQuIR5zanJhUNmD1\u002BM/GI84M3pqpk9gy/pP1dNWAOore3Vh3uxGR484Zsv1vWz4bVC/ljOvJT8lzVUkI5SeC0/uV1xu3Tmi8uzqMj\u002BEag2NV2iDlmm3fF[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7b6d833c-bb87-5375-1a70-0664f46e7b1b/test-file-915e1ae8-8483-de81-e8b4-fa95c1207ec1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E0275F9F8\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7b6d833c-bb87-5375-1a70-0664f46e7b1b/test-file-915e1ae8-8483-de81-e8b4-fa95c1207ec1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E0275F9F8\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "aqXINZ/NqEg=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:02:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "jXE/oz/yDiRQ0\u002BRXCEfqxT0\u002B7ZGGQxfRZpjK5r0IjhrFzKD3FI\u002BHhFXE6DF3mFzRzJXszI3ZX0pZbjynJydmSETJkTyn87Gutmk8wlvmWc48\u002BBooG8KM7GxVnaVT4FwtXaDsrgYgKtnjPhUknZ3ucxVtay4MPiyCPKXPUVULWtYMDmS7\u002BarHG85BRNysaE/PZimQ5XQuIR5zanJhUNmD1\u002BM/GI84M3pqpk9gy/pP1dNWAOore3Vh3uxGR484Zsv1vWz4bVC/ljOvJT8lzVUkI5SeC0/uV1xu3Tmi8uzqMj\u002BEag2NV2iDlmm3fFY2PBCWISP6mVt7BmUQipAWHaRHxPL/oWJIl8wsG3TmN9sFN6ApC9DI8JjkCGSnfMzXbHjFcLd[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7b6d833c-bb87-5375-1a70-0664f46e7b1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1013658405",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
