{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4df81799-7a8e-2d45-2f35-35cc0ecff50d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 May 2024 16:04:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC79AFAEA76C0D\u0022",
        "Last-Modified": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4df81799-7a8e-2d45-2f35-35cc0ecff50d/test-file-c4d5bab1-18fe-5da1-3489-1619bd925e83?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 May 2024 16:04:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC79AFAEB7718C\u0022",
        "Last-Modified": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4df81799-7a8e-2d45-2f35-35cc0ecff50d/test-file-c4d5bab1-18fe-5da1-3489-1619bd925e83?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 May 2024 16:04:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "GmxFioE888osioEwinXu9uDBn1Jy9nIy\u002B7G8XsiuPTQZBLXS88ry8ciR0g8amkioKhBbbvjyeST5E47Pf5UBfk1NFoa/HAIVzq2K4CNjF2FpEzO4U887J4qR2d88InEykFTCzITC6Q4NRZ9LaJgAlvwtZmthSCp\u002BEu/8LkMi2as7V1DOoErdpyolqw4v8L/xkEPjD7wF0UcqRLqUxrrL6mvzDxBIMvWxUL9BO50cTiIwCp7/P8rvNYYIpFyQSOBvWsGiO\u002BCuqF1NMr/8xJWqDfWXY7scy6uhBNmKP46ZIQfe0eHcehJBgWFAsQ0K8nHwXpZm\u002BOQlU[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4df81799-7a8e-2d45-2f35-35cc0ecff50d/test-file-c4d5bab1-18fe-5da1-3489-1619bd925e83?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC79AFAED4966E\u0022",
        "Last-Modified": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4df81799-7a8e-2d45-2f35-35cc0ecff50d/test-file-c4d5bab1-18fe-5da1-3489-1619bd925e83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "de6TANaEUZrLQGurfzwuBw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC79AFAED4966E\u0022",
        "Last-Modified": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "GmxFioE888osioEwinXu9uDBn1Jy9nIy\u002B7G8XsiuPTQZBLXS88ry8ciR0g8amkioKhBbbvjyeST5E47Pf5UBfk1NFoa/HAIVzq2K4CNjF2FpEzO4U887J4qR2d88InEykFTCzITC6Q4NRZ9LaJgAlvwtZmthSCp\u002BEu/8LkMi2as7V1DOoErdpyolqw4v8L/xkEPjD7wF0UcqRLqUxrrL6mvzDxBIMvWxUL9BO50cTiIwCp7/P8rvNYYIpFyQSOBvWsGiO\u002BCuqF1NMr/8xJWqDfWXY7scy6uhBNmKP46ZIQfe0eHcehJBgWFAsQ0K8nHwXpZm\u002BOQlU44VADYHJGjPtBC3HvK0zpPiVuJZ3BmelhFnmeH4MigiuX5SxnncOl35cP38U9R\u002BPI8Cg[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4df81799-7a8e-2d45-2f35-35cc0ecff50d/test-file-c4d5bab1-18fe-5da1-3489-1619bd925e83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC79AFAED4966E\u0022",
        "x-ms-date": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "de6TANaEUZrLQGurfzwuBw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC79AFAED4966E\u0022",
     [...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4df81799-7a8e-2d45-2f35-35cc0ecff50d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 May 2024 16:04:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1741007867",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
