{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-18716d1a-a67b-e88e-2f18-27ad2b8a34ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBA00C9CD\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-18716d1a-a67b-e88e-2f18-27ad2b8a34ed/test-file-35a8900a-c215-027d-9760-7f88025c9302?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBA103310\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-18716d1a-a67b-e88e-2f18-27ad2b8a34ed/test-file-35a8900a-c215-027d-9760-7f88025c9302?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "lUmUqjn/8Bq1YSAmulTshkZDKcFkqc0esZKCW84cJshmoaWyFSaqhXkK1b9sVA4vr6pVpgUt5et8dfmnfJRLmDtYvxivOnEfmaRIWdMOsVyEU6wjx3/COby5Np8tAwjkvzyDE5X1gHQ5NQ1g5IsXbsOcIinoJ9G7loZc9gTR8ZWbZJqXip7HjtI36pJxYVQwocjbkeDf/JdryH0OmYpwaEN3xIDwgOMl1ZRWsD0/SjQyK1U89mC1vGcDK8IguPRIx4JO\u002BZ3TQCDktbtMiEtZLH1J3G40NHHiwggY7VUhBRyfDem78FCWXus0WEClaTMcqv9E1tyGE5MQazeUu1LKwrCf[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-18716d1a-a67b-e88e-2f18-27ad2b8a34ed/test-file-35a8900a-c215-027d-9760-7f88025c9302?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBA2BF8A6\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-18716d1a-a67b-e88e-2f18-27ad2b8a34ed/test-file-35a8900a-c215-027d-9760-7f88025c9302",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DBA2BF8A6\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "lUmUqjn/8Bq1YSAmulTshkZDKcFkqc0esZKCW84cJshmoaWyFSaqhXkK1b9sVA4vr6pVpgUt5et8dfmnfJRLmDtYvxivOnEfmaRIWdMOsVyEU6wjx3/COby5Np8tAwjkvzyDE5X1gHQ5NQ1g5IsXbsOcIinoJ9G7loZc9gTR8ZWbZJqXip7HjtI36pJxYVQwocjbkeDf/JdryH0OmYpwaEN3xIDwgOMl1ZRWsD0/SjQyK1U89mC1vGcDK8IguPRIx4JO\u002BZ3TQCDktbtMiEtZLH1J3G40NHHiwggY7VUhBRyfDem78FCWXus0WEClaTMcqv9E1tyGE5MQazeUu1LKwrCfrHtinTsts36DANwxPVnU/EJV3S8/GfpVq4QZAaKYaZWPBby4uQzEFiNeAxO33i7dwL4PdeSBX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-18716d1a-a67b-e88e-2f18-27ad2b8a34ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "276439912",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
