{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-fbcefac4-14a3-0a17-47a8-985966253cc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04806DE3AA\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-fbcefac4-14a3-0a17-47a8-985966253cc8/test-file-c372b465-09fc-afc8-b5d0-ff673ed80eae?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04807C90FC\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-fbcefac4-14a3-0a17-47a8-985966253cc8/test-file-c372b465-09fc-afc8-b5d0-ff673ed80eae?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NshgADQVyThbGLuX4gebHKMncW5+jJz22fACiupw7O4HktqmygQ80y1uVRIzzJRZvISKoeCVIKkraSdEEj9N6yvNj1As9VKe6p1ADzaJwwxbqM1l5UsOcnEwemDc98HuIGnmZTxELccy7LZCVBFzoaYa6Wlx6Abgvx3e+3rxwfPcUu7No17QF3sGM/iUyx5gvdm6wQ5XfDhiBaUfZTFMQSrDZgEipf5IStHta7QNTPT+fT6hNgDkhNW2a524sLFKufLO0GUcPhjbcnc8ahGDVLmxIOjyqwoq3uEsbDpgj5kgo7HCPnyO4j8mxcSIqBrDMhbkBpDJVw7npPGD8NLdeuLdHMZgw[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-fbcefac4-14a3-0a17-47a8-985966253cc8/test-file-c372b465-09fc-afc8-b5d0-ff673ed80eae?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0480965A7B\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-fbcefac4-14a3-0a17-47a8-985966253cc8/test-file-c372b465-09fc-afc8-b5d0-ff673ed80eae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0480965A7B\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA2yGAANBXJOFsYu5fiB5scoydxbn6MnPbZ8AKK6nDs7geS2qbKBDzTLW5VEjPMlFm8hIqh4JUgqStpJ0QSP03rK82PUCz1Up7qnUAPNonDDFuozWXlSw5ycTB6YNz3we4gaeZlPEQtxzLstkJUEXOhphrpaXHoBuC/Hd77evHB89xS7s2jXtAXewYz+JTLHmC92brBDld8OGIFpR9lMUxBKsNmASKl/khK0e1rtA1M9P59PqE2AOSE1bZrnbiwsUq58s7QZRw+GNtydzxqEYNUubEg6PKrCire4SxsOmCPmSCjscI+fI7iPybFxIioGsMyFuQGkMlXDuek8YPw0t164t0cxmDBFT0jPqnM5UahNsdoOSR8iQlXTKLbmooL8mxIS+GrjF[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-fbcefac4-14a3-0a17-47a8-985966253cc8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1801904639",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
