{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-27f64189-efb4-d231-733b-ae0d832b65f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E0632B3A6\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-27f64189-efb4-d231-733b-ae0d832b65f1/test-file-2da081e6-755b-8453-cdd4-992af3009b42?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E06421D0B\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-27f64189-efb4-d231-733b-ae0d832b65f1/test-file-2da081e6-755b-8453-cdd4-992af3009b42?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "hVoiH\u002BbeiMEPGkuVsQzoEmFEoudtD6ar\u002BN0hO7Uk8blS6p\u002BPPbqDjBP8RjCWs2wjmv\u002Brpn/l5nWzdyYIvEwM6yiRQ8dsWNWnwRXTcch1FEVx/aC1eEs5bAQp3MaTes/G71oIBHCktkIqA\u002BVqEnStPWLgl7\u002BrVnLdWNbDQ3wOFEdFDIFtbQ/VzEdeinVmz1qPfJ5jsuIQGpjnKqyZ4XPFG\u002B\u002BeJAXzP89SC8p3Tcv9d4h8M8bdq2FkNfLohkNjPOvTmG\u002BFx6tVnDzOEKcYmM3M6rMkHa6s53COOe8TCrmM78/fpLRc[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-27f64189-efb4-d231-733b-ae0d832b65f1/test-file-2da081e6-755b-8453-cdd4-992af3009b42?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E065DE280\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-27f64189-efb4-d231-733b-ae0d832b65f1/test-file-2da081e6-755b-8453-cdd4-992af3009b42",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E065DE280\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "UsUDBdhFICs=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:02:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "hVoiH\u002BbeiMEPGkuVsQzoEmFEoudtD6ar\u002BN0hO7Uk8blS6p\u002BPPbqDjBP8RjCWs2wjmv\u002Brpn/l5nWzdyYIvEwM6yiRQ8dsWNWnwRXTcch1FEVx/aC1eEs5bAQp3MaTes/G71oIBHCktkIqA\u002BVqEnStPWLgl7\u002BrVnLdWNbDQ3wOFEdFDIFtbQ/VzEdeinVmz1qPfJ5jsuIQGpjnKqyZ4XPFG\u002B\u002BeJAXzP89SC8p3Tcv9d4h8M8bdq2FkNfLohkNjPOvTmG\u002BFx6tVnDzOEKcYmM3M6rMkHa6s53COOe8TCrmM78/fpLRcd6/dJ5eJD5q6S5wkG5yQPh88JrD\u002B9467QpKDQSHYOPQZcHIDRvUWI9jW0\u002B1S7u4[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-27f64189-efb4-d231-733b-ae0d832b65f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1216902592",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
