{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0154282e-166c-ede5-900d-bf2453f8fda3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E057BE6D9\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0154282e-166c-ede5-900d-bf2453f8fda3/test-file-6138b0f1-f5b3-4512-4858-37b4b3d56944?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E058B9E31\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0154282e-166c-ede5-900d-bf2453f8fda3/test-file-6138b0f1-f5b3-4512-4858-37b4b3d56944?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "i0pn990\u002BSGmU6XJ6EdqhhZuUO03PvwUmqVhnlC\u002B6yX7Rp38Bo3pNqr2/qbQvbbPCrg8\u002BDdXTjstFQE6E17M52SDzqGlbn\u002BEhRpGPDxVQ9jykpOYfe7up/hmzu2IsyNMJhs\u002BUPMRKZw4tHcdDRH629UoR4DLNGV5kSqpQp\u002BR/9H29hYlFu7p3WjzY8l3zZbma/MYYGuigPGxxL/Ia\u002Br8prihKhb71cTmPmYb19CcAcOTwtasdZtqUHEgd04zIXV99rkM1qd/7pYuNiIBiq0hFcb4NKkQUDEdOtml1152sxzwmeEXjy8cE9RAfkN[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0154282e-166c-ede5-900d-bf2453f8fda3/test-file-6138b0f1-f5b3-4512-4858-37b4b3d56944?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E05A78AA8\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0154282e-166c-ede5-900d-bf2453f8fda3/test-file-6138b0f1-f5b3-4512-4858-37b4b3d56944",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "J79ZBGNQCJdRfVF95aiH5g==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E05A78AA8\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "i0pn990\u002BSGmU6XJ6EdqhhZuUO03PvwUmqVhnlC\u002B6yX7Rp38Bo3pNqr2/qbQvbbPCrg8\u002BDdXTjstFQE6E17M52SDzqGlbn\u002BEhRpGPDxVQ9jykpOYfe7up/hmzu2IsyNMJhs\u002BUPMRKZw4tHcdDRH629UoR4DLNGV5kSqpQp\u002BR/9H29hYlFu7p3WjzY8l3zZbma/MYYGuigPGxxL/Ia\u002Br8prihKhb71cTmPmYb19CcAcOTwtasdZtqUHEgd04zIXV99rkM1qd/7pYuNiIBiq0hFcb4NKkQUDEdOtml1152sxzwmeEXjy8cE9RAfkN5ZMXEA12LNuzMaaKL85vN2hc3u4MFDOzICYaX3CDQ09Xxp9IT3df863wwJCw\u002Bj5\u002[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0154282e-166c-ede5-900d-bf2453f8fda3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1613660932",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
