{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-5021a0d3-135a-8713-b6dd-c6aaa6e40999?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7B607EBD\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-5021a0d3-135a-8713-b6dd-c6aaa6e40999/test-file-1be1b9cd-0e99-f0ed-ed21-0c180daaf8ba?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7B708D86\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-5021a0d3-135a-8713-b6dd-c6aaa6e40999/test-file-1be1b9cd-0e99-f0ed-ed21-0c180daaf8ba?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "skjr38YXEbZsMCu1S\u002Bxz7Wl0M82\u002BwQ5m1Ewa9hKP1V36ZnPL3ZWLYMZv21pgvPFLQB06p5PcovE6hAt5/Rqj3FrNuuV5qA/T6dMHT\u002Ba0Bhdbzrb0VC7KHsOCkFmKEmKry/7/kgEM0pcOZr7A1VILhX7zHS5kr4gsA5sh9he2SddwW4TntHMWT/wf5u1wCUlwdwvalvQ0Rxt2049l6tt/VxzmUHnNI9AL3c4xRMiavPlSsH8M3LPiOxNoceHjsGUhn47QibnPo1M6zrklAgJT2xeWEzlbc3tpBBRlZLLvKC1pEKQ5yTM/gg0s0Q36vTkQFZXKTJwrxiwSZ4[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-5021a0d3-135a-8713-b6dd-c6aaa6e40999/test-file-1be1b9cd-0e99-f0ed-ed21-0c180daaf8ba?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF7B8EEB3B\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-5021a0d3-135a-8713-b6dd-c6aaa6e40999/test-file-1be1b9cd-0e99-f0ed-ed21-0c180daaf8ba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF7B8EEB3B\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACySOvfxhcRtmwwK7VL7HPtaXQzzb7BDmbUTBr2Eo/VXfpmc8vdlYtgxm/bWmC88UtAHTqnk9yi8TqEC3n9GqPcWs265XmoD9Pp0wdP5rQGF1vOtvRULsoew4KQWYoSYqvL/v\u002BSAQzSlw5mvsDVUguFfvMdLmSviCwDmyH2F7ZJ13BbhOe0cxZP/B/m7XAJSXB3C9qW9DRHG3bTj2Xq239XHOZQec0j0AvdzjFEyJq8\u002BVKwfwzcs\u002BI7E2hx4eOwZSGfjtCJuc\u002BjUzrOuSUCAlPbF5YTOVtze2kEFGVksu8oLWkQpDnJMz\u002BCDSzRDfq9ORAVlcpMnCvGLBJnhaVqPqFLpou88l4ZEeRXkCsvoW5vR9tUT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-5021a0d3-135a-8713-b6dd-c6aaa6e40999?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1538577426",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
