{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-66d6a317-47c4-627f-fd94-4bfb0bf4f6a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBB14AAB5\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-66d6a317-47c4-627f-fd94-4bfb0bf4f6a8/test-file-e6426055-2bd1-a187-fb13-3a2d65802294?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBB246254\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-66d6a317-47c4-627f-fd94-4bfb0bf4f6a8/test-file-e6426055-2bd1-a187-fb13-3a2d65802294?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ecAyUcc5qU7ZSUYgWIo7UOT013V5SgS32AOX/R0uvfAFuHtne16Q6\u002Bws0lkEbGuWr1u221cqvC67enjDoasxqoxVGqAP1NSGZOyITXers2uXAU3BeOKZ2/xMrADlzElB\u002ByjNrlLLhtuGMHdroW\u002B2EMcNK59dbzKpvD\u002BkwyjUoJeiR1FP3QQZzHpxO0drLTmMlZs42KCq44z2JPESJ8Ozso/fyFkdZzLC818k6zTqPo4FFy2Mm8j2\u002BGTFWLkTB6W3voi3i2Tgbi5pduVBhfdYC\u002BViDA\u002BVJhfH6ND1WA55r\u002Bu6bC2rM7IpJ[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-66d6a317-47c4-627f-fd94-4bfb0bf4f6a8/test-file-e6426055-2bd1-a187-fb13-3a2d65802294?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBB4027A2\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-66d6a317-47c4-627f-fd94-4bfb0bf4f6a8/test-file-e6426055-2bd1-a187-fb13-3a2d65802294",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "RHi10mujNN2aF5nqwzATOQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DBB4027A2\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "ecAyUcc5qU7ZSUYgWIo7UOT013V5SgS32AOX/R0uvfAFuHtne16Q6\u002Bws0lkEbGuWr1u221cqvC67enjDoasxqoxVGqAP1NSGZOyITXers2uXAU3BeOKZ2/xMrADlzElB\u002ByjNrlLLhtuGMHdroW\u002B2EMcNK59dbzKpvD\u002BkwyjUoJeiR1FP3QQZzHpxO0drLTmMlZs42KCq44z2JPESJ8Ozso/fyFkdZzLC818k6zTqPo4FFy2Mm8j2\u002BGTFWLkTB6W3voi3i2Tgbi5pduVBhfdYC\u002BViDA\u002BVJhfH6ND1WA55r\u002Bu6bC2rM7IpJaj/IyXjtXJsbU3TsPqVIpdx76OU6xYf78b5hxjKrNczOednlQPx5DNdiOvBpf7xJEqVOkMPlT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-66d6a317-47c4-627f-fd94-4bfb0bf4f6a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "335606597",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
