{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-242ff55f-3144-e6bf-eca5-cae28299589f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045C41E9A2\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-242ff55f-3144-e6bf-eca5-cae28299589f/test-file-6dec7205-2f05-d9a9-934c-a6f6a7274e8c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045C502166\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-242ff55f-3144-e6bf-eca5-cae28299589f/test-file-6dec7205-2f05-d9a9-934c-a6f6a7274e8c?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "KtQiviuLD5l+UJvQFBynytz7NILaSqzwXZIgnjCJDnc7ZXhrAAujIu8lj6K2kgjVAswR1t223OAoMmGZanFo9UIjlK6jO8rQVxGStLoJOcqJS5xkeDeZhYmYQs6pCbh+vJpgkv1ZMsYCQH7MIyclH/iXEB7UBH0Kig8lCvj7J01YFPcgqKbMLxjVYTe5zWJhcyPVEvmaqbgcVgjuNCfNBhkxcw4vBHZSyuAF/6JFUbysxJfVJhRTvms/A1Gd3fvxB1seh1pUMW6sg0cYlKoV1wVMQW+Q+N8E3bSj8AEltO3lFPdGJslhWJMpKKPNOirBKixMUZyLYQ98GqqlsEFsh89aM3+yz[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-242ff55f-3144-e6bf-eca5-cae28299589f/test-file-6dec7205-2f05-d9a9-934c-a6f6a7274e8c?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045C699CD7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-242ff55f-3144-e6bf-eca5-cae28299589f/test-file-6dec7205-2f05-d9a9-934c-a6f6a7274e8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB045C699CD7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAq1CK+K4sPmX5Qm9AUHKfK3Ps0gtpKrPBdkiCeMIkOdztleGsAC6Mi7yWPoraSCNUCzBHW3bbc4CgyYZlqcWj1QiOUrqM7ytBXEZK0ugk5yolLnGR4N5mFiZhCzqkJuH68mmCS/VkyxgJAfswjJyUf+JcQHtQEfQqKDyUK+PsnTVgU9yCopswvGNVhN7nNYmFzI9US+ZqpuBxWCO40J80GGTFzDi8EdlLK4AX/okVRvKzEl9UmFFO+az8DUZ3d+/EHWx6HWlQxbqyDRxiUqhXXBUxBb5D43wTdtKPwASW07eUU90YmyWFYkykoo806KsEqLExRnIthD3waqqWwQWyHz1ozf7LOsTvq6Nxm0Dw2oorixtXYY1Fas+jKCx+7qFG8oNNyB6[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-242ff55f-3144-e6bf-eca5-cae28299589f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1792562622",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
