{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ce491a37-3b13-7734-5637-25cec9821dab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A52CBEB8\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ce491a37-3b13-7734-5637-25cec9821dab/test-file-c2b000b7-4aec-eb2b-62a8-60ce5da20cb9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A5399344\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ce491a37-3b13-7734-5637-25cec9821dab/test-file-c2b000b7-4aec-eb2b-62a8-60ce5da20cb9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "oQpcL1kdib03oW5xMtJac3M1vGgwHo2GNywoYzL3vQvT7MARhpWW89iVx3xsePtLHNR4tJdl7IN91vgs9CWKQONjnUYRSezensmPm1YRGb4x3EZdfwl0bv89lLCcav6yCoeYCdq0OtPomhbO1VEsbLw5+hjeLMHa7y9H07U7QTPK3ZDOeRDkfaJzdeTzpZiuECjzY2/m097GvRqrbWYerFjiBPjBXfKrVX11a7fc50mXmcKMSN7E4wmyCLv2OBA7VciMEaGf7LI1Rw3ycGgm6tbQFNOjkWR6HSDuD1U3tRxsORbvUNan96wQVwDQ0XKhix7kJSQ8mMNjEfOBsd1d/ZLxhTdRN[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ce491a37-3b13-7734-5637-25cec9821dab/test-file-c2b000b7-4aec-eb2b-62a8-60ce5da20cb9?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A54C0F11\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ce491a37-3b13-7734-5637-25cec9821dab/test-file-c2b000b7-4aec-eb2b-62a8-60ce5da20cb9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6A54C0F11\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAChClwvWR2JvTehbnEy0lpzczW8aDAejYY3LChjMve9C9PswBGGlZbz2JXHfGx4+0sc1Hi0l2Xsg33W+Cz0JYpA42OdRhFJ7N6eyY+bVhEZvjHcRl1/CXRu/z2UsJxq/rIKh5gJ2rQ60+iaFs7VUSxsvDn6GN4swdrvL0fTtTtBM8rdkM55EOR9onN15POlmK4QKPNjb+bT3sa9GqttZh6sWOIE+MFd8qtVfXVrt9znSZeZwoxI3sTjCbIIu/Y4EDtVyIwRoZ/ssjVHDfJwaCbq1tAU06ORZHodIO4PVTe1HGw5Fu9Q1qf3rBBXANDRcqGLHuQlJDyYw2MR84Gx3V39kvGFN1E2mQApHCeTOWSpTK1NgzZSj/cwoVKLPuImRs6yWm3fSz[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ce491a37-3b13-7734-5637-25cec9821dab?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1412901385",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
