{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d43806f4-a019-beb5-47dd-e78cef23d816?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBCD8A1A0\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d43806f4-a019-beb5-47dd-e78cef23d816/test-file-cf16b662-e35d-7744-591d-e8596726bd59?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBCE80AE7\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d43806f4-a019-beb5-47dd-e78cef23d816/test-file-cf16b662-e35d-7744-591d-e8596726bd59?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ewdMWtpfziqw\u002BkTM3FpbZy8GhVL02SNfQZbGux1N\u002BYUFtd9bk1MHqM0ETviqbHf6AkXYPYTzGaLk7BhEmBMNYgC\u002BxiZ7/9Pb/9yF74sqtdUezLjYdbwBEZw8d6Y6ww\u002B69\u002Bv366VQfgNx/D2nbioXujdDJcxaNO1EvbWKPogsoDzNyvefMskvzk21Znl\u002BWaNxJbxv951DYMP\u002Bsy3wxj96RFsB2qQyd4dtE1d\u002Bpc1zxWMRGBnLvKmeimo0oX6cPwcNOiEdfH/\u002BPq41AuNGxLv1iu7K3q4mroeyY086/tUI0dRPcGqs[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d43806f4-a019-beb5-47dd-e78cef23d816/test-file-cf16b662-e35d-7744-591d-e8596726bd59?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DBD03D059\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d43806f4-a019-beb5-47dd-e78cef23d816/test-file-cf16b662-e35d-7744-591d-e8596726bd59",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "a3AKhe6G9sLtS\u002BhNfj\u002Bl/Q==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DBD03D059\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "ewdMWtpfziqw\u002BkTM3FpbZy8GhVL02SNfQZbGux1N\u002BYUFtd9bk1MHqM0ETviqbHf6AkXYPYTzGaLk7BhEmBMNYgC\u002BxiZ7/9Pb/9yF74sqtdUezLjYdbwBEZw8d6Y6ww\u002B69\u002Bv366VQfgNx/D2nbioXujdDJcxaNO1EvbWKPogsoDzNyvefMskvzk21Znl\u002BWaNxJbxv951DYMP\u002Bsy3wxj96RFsB2qQyd4dtE1d\u002Bpc1zxWMRGBnLvKmeimo0oX6cPwcNOiEdfH/\u002BPq41AuNGxLv1iu7K3q4mroeyY086/tUI0dRPcGqsVkjkEtlqlrrGV8WvPxeQ0WFZ54yZaxkvxEDYLDAP91NQSTSl5svUuxjN6wyJir\u002B9eP9y[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d43806f4-a019-beb5-47dd-e78cef23d816?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1960217194",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
