{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f1bff7ac-a07c-2872-ca44-83504a1ffb9f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3B0F6800\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f1bff7ac-a07c-2872-ca44-83504a1ffb9f/test-file-aee32e3d-5b9c-8cbc-c2e8-8cbfc38a32e9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3B1D61F4\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f1bff7ac-a07c-2872-ca44-83504a1ffb9f/test-file-aee32e3d-5b9c-8cbc-c2e8-8cbfc38a32e9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "zvONdilfnzsrkXeaoUoEhCisG102hIfQruKLH8f0t86PD1kwt6Wt1E6tTIYE2I01DCSuyY/1uUprvchH1H9zNtmpC5Lx08yD/0YPiTgBy9VUVROjRe4+mVUOxfrcZQDOOhWsW836RDlYK8pJ5i8SavHy8n9s0PDra3E84g7SpplGQE8iVHAIWhDaSxoj9bMm/FsJ6nOBYmolwfBbvmIrhYUxAqbg7xWA6ZhukoXVx3W9FuWyybsmxd3l/JOArJuur8WU8vINRQxFiAHaEtDkT/l6nqh8eLzKCj3I+/OCADz9wOO/QdSDsNDYbEC6S7MMAKyZBg7zMjYIyue0REoZw4jE3VHtJ[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f1bff7ac-a07c-2872-ca44-83504a1ffb9f/test-file-aee32e3d-5b9c-8cbc-c2e8-8cbfc38a32e9?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3B37EED1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f1bff7ac-a07c-2872-ca44-83504a1ffb9f/test-file-aee32e3d-5b9c-8cbc-c2e8-8cbfc38a32e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE3B37EED1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADO8412KV+fOyuRd5qhSgSEKKwbXTaEh9Cu4osfx/S3zo8PWTC3pa3UTq1MhgTYjTUMJK7Jj/W5Smu9yEfUf3M22akLkvHTzIP/Rg+JOAHL1VRVE6NF7j6ZVQ7F+txlAM46FaxbzfpEOVgryknmLxJq8fLyf2zQ8OtrcTziDtKmmUZATyJUcAhaENpLGiP1syb8Wwnqc4FiaiXB8Fu+YiuFhTECpuDvFYDpmG6ShdXHdb0W5bLJuybF3eX8k4Csm66vxZTy8g1FDEWIAdoS0ORP+XqeqHx4vMoKPcj784IAPP3A479B1IOw0NhsQLpLswwArJkGDvMyNgjK57REShnDiMTdUe0lDiX27dejC3wPv4q7+0bo+S4Jjqy3duzPa4a/qLj2bm[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f1bff7ac-a07c-2872-ca44-83504a1ffb9f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1234431463",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
