{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2eb34de2-4c0e-1447-0acb-512eede50015?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04847366F9\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2eb34de2-4c0e-1447-0acb-512eede50015/test-file-dee5427e-7f0c-1215-eb11-d46bde54254e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB048481511B\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2eb34de2-4c0e-1447-0acb-512eede50015/test-file-dee5427e-7f0c-1215-eb11-d46bde54254e?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Lq7gwJwetuNdCJEiqlkKqc1t0frXVEDqAJHiML1VtMZI5b9bgD1HPjwqTsxNvrNLkZjNiASo5dpu9sALPIUmB1TL2sWZryiPJZK9rAVznUHel58kiCzCoP/l7Ip9PAG3BEZ4guTtseFvPWJx6jnU+lh+LaXlAn8oCDnGs8OeEumQBqe/+xpc8OW+tEvJULbGEfIx/g5c0QLHUHmrJ/4e0Sp54OORFf8+ITy/J00zXriDAKLQbRTaNDWk96qgscnnn+MgUHDSNPzy8tzSnKm0k/HBKCZbTWMWn6yu7R1UnXBz2IhqEw5HsMym3no3B5eL8GO534mii1F/CbDEI0fenlVsX8QhS[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2eb34de2-4c0e-1447-0acb-512eede50015/test-file-dee5427e-7f0c-1215-eb11-d46bde54254e?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04849B8FF7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2eb34de2-4c0e-1447-0acb-512eede50015/test-file-dee5427e-7f0c-1215-eb11-d46bde54254e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04849B8FF7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAuruDAnB62410IkSKqWQqpzW3R+tdUQOoAkeIwvVW0xkjlv1uAPUc+PCpOzE2+s0uRmM2IBKjl2m72wAs8hSYHVMvaxZmvKI8lkr2sBXOdQd6XnySILMKg/+Xsin08AbcERniC5O2x4W89YnHqOdT6WH4tpeUCfygIOcazw54S6ZAGp7/7Glzw5b60S8lQtsYR8jH+DlzRAsdQeasn/h7RKnng45EV/z4hPL8nTTNeuIMAotBtFNo0NaT3qqCxyeef4yBQcNI0/PLy3NKcqbST8cEoJltNYxafrK7tHVSdcHPYiGoTDkewzKbeejcHl4vwY7nfiaKLUX8JsMQjR96eVWxfxCFKgON5d1q1b+nflxQj/LqbvubQTTbrCV2DjIXHPyXLqN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2eb34de2-4c0e-1447-0acb-512eede50015?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1811097845",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
