{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-baee8780-b31d-a048-2114-a44af0172319?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DABF42026\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-baee8780-b31d-a048-2114-a44af0172319/test-file-87a15b6a-a905-add7-1647-ce193f51b230?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAC1C40C8\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-baee8780-b31d-a048-2114-a44af0172319/test-file-87a15b6a-a905-add7-1647-ce193f51b230?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Ayn17GuXwJlzkm/5dixWTf1ufwM7GehFoND5ON0C8ilN2xgg3inKMixClp0Q4TtfT7sU+qHTJulAsEuanYe8cJ9GrJoTNm/TpEzW+IJLNL6Umukh7fiHebQv4C3dMJWlhSX9yjWgTBhMQFVU/C5m9XuMBQOdm4OnvjLm5FZB9XS3MHJdTWqJ9E3Q1KyiMnyGyOqyUSqRB+qiVgsCumfCC0vhnMy7CagQAxG1zMbWBIy2YBxrjqRJJimIuvZfhjnmDslhwJWwyr5CoU0Z2zsky1F/TFlLV3ymmHaiM0+xsXzXz778dUT2BZVdKOxXMEvuZO6l3zrfm7dNuycfDZdvkfDRQQt8J[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-baee8780-b31d-a048-2114-a44af0172319/test-file-87a15b6a-a905-add7-1647-ce193f51b230?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAC30DF9D\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-baee8780-b31d-a048-2114-a44af0172319/test-file-87a15b6a-a905-add7-1647-ce193f51b230",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DAC30DF9D\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAADKfXsa5fAmXOSb/l2LFZN/W5/AzsZ6EWg0Pk43QLyKU3bGCDeKcoyLEKWnRDhO19PuxT6odMm6UCwS5qdh7xwn0asmhM2b9OkTNb4gks0vpSa6SHt+Id5tC/gLd0wlaWFJf3KNaBMGExAVVT8Lmb1e4wFA52bg6e+MubkVkH1dLcwcl1Naon0TdDUrKIyfIbI6rJRKpEH6qJWCwK6Z8ILS+GczLsJqBADEbXMxtYEjLZgHGuOpEkmKYi69l+GOeYOyWHAlbDKvkKhTRnbOyTLUX9MWUtXfKaYdqIzT7GxfNfPvvx1RPYFlV0o7FcwS+5k7qXfOt+bt027Jx8Nl2+R8NFBC3wnVg2JR8PtLo9PaCu0z2AM0UL4NAevuRzW9/7ul/yF7j[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-baee8780-b31d-a048-2114-a44af0172319?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "622810688",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
