{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-21cc51db-8b3e-3723-d5a7-e652b6eb328d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D687AD6C90\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-21cc51db-8b3e-3723-d5a7-e652b6eb328d/test-file-8aada146-b915-9d91-74a8-1a3ef27ca0d6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D687BA8480\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-21cc51db-8b3e-3723-d5a7-e652b6eb328d/test-file-8aada146-b915-9d91-74a8-1a3ef27ca0d6?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "P5PatdpFm7c1OjMpEgDi1Mt8u+ZwDVKA0HUfBVPQKFqwAOPCJSWOUTXD8ABIXz+68vuA7Nd+BzJAWuVlJpVkZBHYeRIdH66l7mqwrR1SN3E1ZRNYTzuDMfmwgctAKCufX4vub+UtnNJM2/5tzloV7iN0MMCCCxXVVUgYbJ7jZMU/EU6RY8iLB8hAC3Q9FmOfm5Kny/hqHVN2GRqdFS8zaXY4LbwMg4pb6Sn4Qf+gmD7kedELO5nN1fP6G0qt7fKYDKL+BOimkxgITOLOcdxT1YHbuJxeKC3da1jJEWdArfw3XzRdopNWPuW5A+62/mMWp0bI0jRVOuR1IJmP3IGwx5/mlxGn9[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-21cc51db-8b3e-3723-d5a7-e652b6eb328d/test-file-8aada146-b915-9d91-74a8-1a3ef27ca0d6?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:32 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D687CD7BB5\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-21cc51db-8b3e-3723-d5a7-e652b6eb328d/test-file-8aada146-b915-9d91-74a8-1a3ef27ca0d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D687CD7BB5\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:32 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:31 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 01:59:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA/k9q12kWbtzU6MykSAOLUy3y75nANUoDQdR8FU9AoWrAA48IlJY5RNcPwAEhfP7ry+4Ds134HMkBa5WUmlWRkEdh5Eh0frqXuarCtHVI3cTVlE1hPO4Mx+bCBy0AoK59fi+5v5S2c0kzb/m3OWhXuI3QwwIILFdVVSBhsnuNkxT8RTpFjyIsHyEALdD0WY5+bkqfL+GodU3YZGp0VLzNpdjgtvAyDilvpKfhB/6CYPuR50Qs7mc3V8/obSq3t8pgMov4E6KaTGAhM4s5x3FPVgdu4nF4oLd1rWMkRZ0Ct/DdfNF2ik1Y+5bkD7rb+YxanRsjSNFU65HUgmY/cgbDHn+aXEaf2Mu6FeralJD4mbPWyaiB328fhJVDogfnGYWMIPE/QZl[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-21cc51db-8b3e-3723-d5a7-e652b6eb328d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:32 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1427822369",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
