{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f787ae5a-7e46-121f-a28f-fee506cc469e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAA25C299\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f787ae5a-7e46-121f-a28f-fee506cc469e/test-file-5c6e5199-19fd-886e-aee6-802d9d4b06d1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAA484B30\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f787ae5a-7e46-121f-a28f-fee506cc469e/test-file-5c6e5199-19fd-886e-aee6-802d9d4b06d1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "pGJfNdhWIdPDs8OWRECKLKTyBGQCIa+IXOrc78kaT+nMDDomFrQzi4D2YTurGfKmpJArkkZ+KYKy1tntejEJqGTayTgFZBXwv3njDMBz3UP4NUs5772jTuK3c0DbRhFP7LjX0E+6oD97OtLNmx3CP/iV9ETl0LmmN3tVTfHVFHlnlCAHmwzzPpQLvrTq1bPF9TNHRVHMaRv/MJnUZFNOpSVZZQb9uqPsorav2hIEvGHIkFi9jc8nmysECGtyH9lBvRiOkXCsyDqPWqObHY4I+nQ4DNT6kBhWMcrb+LI4eYPcbhz6dSrwG8gdLTIsjH2c/A32OhIFRiwAOGCm0c+IV+Egvq9yD[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f787ae5a-7e46-121f-a28f-fee506cc469e/test-file-5c6e5199-19fd-886e-aee6-802d9d4b06d1?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DAA586A9D\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f787ae5a-7e46-121f-a28f-fee506cc469e/test-file-5c6e5199-19fd-886e-aee6-802d9d4b06d1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DAA586A9D\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACkYl812FYh08Ozw5ZEQIospPIEZAIhr4hc6tzvyRpP6cwMOiYWtDOLgPZhO6sZ8qakkCuSRn4pgrLW2e16MQmoZNrJOAVkFfC/eeMMwHPdQ/g1SznvvaNO4rdzQNtGEU/suNfQT7qgP3s60s2bHcI/+JX0ROXQuaY3e1VN8dUUeWeUIAebDPM+lAu+tOrVs8X1M0dFUcxpG/8wmdRkU06lJVllBv26o+yitq/aEgS8YciQWL2NzyebKwQIa3If2UG9GI6RcKzIOo9ao5sdjgj6dDgM1PqQGFYxytv4sjh5g9xuHPp1KvAbyB0tMiyMfZz8DfY6EgVGLAA4YKbRz4hX4SC+r3INhUlH8QzdY+UqpEw++6RBPnDXJ/D6PMpJSviV1lEMzc[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f787ae5a-7e46-121f-a28f-fee506cc469e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "254765539",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
