{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-247c0af7-d917-1993-f211-25054cac6668?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Apr 2024 14:58:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC57DC4EED1810\u0022",
        "Last-Modified": "Mon, 08 Apr 2024 14:58:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-247c0af7-d917-1993-f211-25054cac6668/test-file-dec9f4bb-f6a8-f00b-f588-e2db34f56645?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Apr 2024 14:58:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC57DC4EFCF6A3\u0022",
        "Last-Modified": "Mon, 08 Apr 2024 14:58:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-247c0af7-d917-1993-f211-25054cac6668/test-file-dec9f4bb-f6a8-f00b-f588-e2db34f56645?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Apr 2024 14:58:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "7Ok7BWUNKBWOWhcssMjF1Re2FDpV8PqJs6UZrEUurzcGIN5q4PQJ4\u002BhB5xMskF3ZJcY1vMCqs/vusVHA83zPYKrgJpDpW/UirDBREwnnXSNHQId\u002B\u002BPN3W2zjey6jSe9scYZpTGnN8MnREw\u002BPWaDxB1QueLP0UGi2aMskBt/Gf2NA5KGDfRG5eU\u002B9reTj5wLM8XTadNA8dyAdsuOeqerpC5SrTnT\u002BbolCdf5jN6OD0oHIWBRr6wqTBGyAZcouGtBl06FQOJiOzYPqmP/R2EB9mt9i1lHVfiCJGEoHfQi/FFou/mMCMproOoqRgVILwSs[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-247c0af7-d917-1993-f211-25054cac6668/test-file-dec9f4bb-f6a8-f00b-f588-e2db34f56645?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Apr 2024 14:58:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC57DC4F1AB7BF\u0022",
        "Last-Modified": "Mon, 08 Apr 2024 14:58:11 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-247c0af7-d917-1993-f211-25054cac6668/test-file-dec9f4bb-f6a8-f00b-f588-e2db34f56645",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Apr 2024 14:58:10 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:615ed4f8-c01e-0000-0fc5-8910fc000000\n",
        "Time:2024-04-08T14:58:11.2370524Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-range-get-content-md5\u003C/HeaderName\u003E\u003CHeaderValue\u003Etrue\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-247c0af7-d917-1993-f211-25054cac6668?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Apr 2024 14:58:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1011578137",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
