{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2c3f43f9-12cc-cca2-a7ca-ec7e3f786e2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0480C2BA57\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2c3f43f9-12cc-cca2-a7ca-ec7e3f786e2a/test-file-76730dd2-9cf0-6002-e967-1e1b22fc06e2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0480D0A45E\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2c3f43f9-12cc-cca2-a7ca-ec7e3f786e2a/test-file-76730dd2-9cf0-6002-e967-1e1b22fc06e2?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "TuNEOGMxzwiVuxinpD45aTMkFPvWBxgQM7Yb9aMiNnQ12hWu+V5kOHSZ0VZCTkVtp+RXKIvzvUbLMwSsFdllcoWjccopi2/Vv9yGPTbCzuVxrU2+yw3pQhzO48ZauCKaM17Qnt16RBx0gmmubIAQCGQfOmeMpqd3uS+tWqipewe57AnX8S8H9mkxSkmkOtWcvtpiOn27Do23WOWtzel0ywdh9YB3OBY0F0P+W1xd0n5ZEZzNRkCJ/t58H5hKWil/vH9CQ0VVJYXELSM5vbIxWYVmVLxNpoTG1/ei+xh96r0afp7cG485BOsXCBgdUEErS8US4wVsMhX6e2tOsipsRkNlHz4TV[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2c3f43f9-12cc-cca2-a7ca-ec7e3f786e2a/test-file-76730dd2-9cf0-6002-e967-1e1b22fc06e2?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0480EB0A47\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2c3f43f9-12cc-cca2-a7ca-ec7e3f786e2a/test-file-76730dd2-9cf0-6002-e967-1e1b22fc06e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0480EB0A47\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABO40Q4YzHPCJW7GKekPjlpMyQU+9YHGBAzthv1oyI2dDXaFa75XmQ4dJnRVkJORW2n5Fcoi/O9RsszBKwV2WVyhaNxyimLb9W/3IY9NsLO5XGtTb7LDelCHM7jxlq4IpozXtCe3XpEHHSCaa5sgBAIZB86Z4ymp3e5L61aqKl7B7nsCdfxLwf2aTFKSaQ61Zy+2mI6fbsOjbdY5a3N6XTLB2H1gHc4FjQXQ/5bXF3SflkRnM1GQIn+3nwfmEpaKX+8f0JDRVUlhcQtIzm9sjFZhWZUvE2mhMbX96L7GH3qvRp+ntwbjzkE6xcIGB1QQStLxRLjBWwyFfp7a06yKmxGQ2UfPhNUPvYtUNA2nmuph7Z2sFNqBretTInhoCTrUcGqwtW3MA[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2c3f43f9-12cc-cca2-a7ca-ec7e3f786e2a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1200413737",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
