{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e3791b6b-3eb1-a756-f6bf-4e8643870252?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3D338877\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e3791b6b-3eb1-a756-f6bf-4e8643870252/test-file-7a10c5bc-2338-a1d5-950b-ae72417a8bbb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3D4CCAA0\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e3791b6b-3eb1-a756-f6bf-4e8643870252/test-file-7a10c5bc-2338-a1d5-950b-ae72417a8bbb?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "+9Xd2a4YN2gZwG+SGytnqp4d33blTADjmFTce4JbiZT8Ji9qbkeCj5U5nJG0AsWq7dYHEQCrFq7V+UBaPLvlvTfalvX7/TtWm1Dhq7BuLpWPMY6sVHeTUBCBlHUGJ1PZVN5a2mzPr++bsHWwymv9Z8qqywosOWm/R0blemnFUHP9B1fSFFQpv4KfEaMC4oWlgyyrW1xIrRp0mpIm6jSG1WABs8ITKlN1gQuHjCjGvWTAQPY8GvQXtFk8XnnBAtROGTtCAC/CkVjZNdpRwSDyrdwuZao9Sbps6v5o18zZtH42OXPshL00/a6eY+UaxvM5SrGdk50qEM+B1hYwWbmM/4FbGoesB[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e3791b6b-3eb1-a756-f6bf-4e8643870252/test-file-7a10c5bc-2338-a1d5-950b-ae72417a8bbb?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA3D59F319\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e3791b6b-3eb1-a756-f6bf-4e8643870252/test-file-7a10c5bc-2338-a1d5-950b-ae72417a8bbb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA3D59F319\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD71d3Zrhg3aBnAb5IbK2eqnh3fduVMAOOYVNx7gluJlPwmL2puR4KPlTmckbQCxart1gcRAKsWrtX5QFo8u+W9N9qW9fv9O1abUOGrsG4ulY8xjqxUd5NQEIGUdQYnU9lU3lrabM+v75uwdbDKa/1nyqrLCiw5ab9HRuV6acVQc/0HV9IUVCm/gp8RowLihaWDLKtbXEitGnSakibqNIbVYAGzwhMqU3WBC4eMKMa9ZMBA9jwa9Be0WTxeecEC1E4ZO0IAL8KRWNk12lHBIPKt3C5lqj1Jumzq/mjXzNm0fjY5c+yEvTT9rp5j5RrG8zlKsZ2TnSoQz4HWFjBZuYz/gVsah6wFKR/5aPuf5tRRJAsvjRo8IOEMKKRrracDo/URY2S/q2[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e3791b6b-3eb1-a756-f6bf-4e8643870252?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:16:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1455831182",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
