{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6cb4232c-ebe8-2286-371b-b169d348b956?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE60CB7584\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6cb4232c-ebe8-2286-371b-b169d348b956/test-file-ea96911b-6a4f-6c99-0197-170c5a002b17?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE60DAA39E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6cb4232c-ebe8-2286-371b-b169d348b956/test-file-ea96911b-6a4f-6c99-0197-170c5a002b17?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "FEIpxCNTlUI2X83I5mJh96Nc+iy0D62dreEyc22ETUtB5g5+FbMyGxBRc0neEha+eITGq1izaQWVjBdBISLUshKChv9U4uHvKt8cY5tjvprLdPvpvqHzjn0I6Imc8PntfME3XIsWaZWi1oF4lgZpMc18dq0n6/RwjviCS/lYUznmLubaLGIPtAplR+cgevd2n7e7H3pLxpHNxs2Skx2bSoNHkmgfjwVrbcGjwaMMTxQBDKxCnDO/mmdVDGWUfCHsyv1j2eiOVhCxULK4qATtwXa5kYdxWK5QiPcAyYKf1vGgtvamqHYrcrWbkUuABvFiaEvu2+qZe3JPE1HwjoyNEXnBGPIOR[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6cb4232c-ebe8-2286-371b-b169d348b956/test-file-ea96911b-6a4f-6c99-0197-170c5a002b17?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE60F57E6E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6cb4232c-ebe8-2286-371b-b169d348b956/test-file-ea96911b-6a4f-6c99-0197-170c5a002b17",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE60F57E6E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAUQinEI1OVQjZfzcjmYmH3o1z6LLQPrZ2t4TJzbYRNS0HmDn4VszIbEFFzSd4SFr54hMarWLNpBZWMF0EhItSyEoKG/1Ti4e8q3xxjm2O+mst0++m+ofOOfQjoiZzw+e18wTdcixZplaLWgXiWBmkxzXx2rSfr9HCO+IJL+VhTOeYu5tosYg+0CmVH5yB693aft7sfekvGkc3GzZKTHZtKg0eSaB+PBWttwaPBowxPFAEMrEKcM7+aZ1UMZZR8IezK/WPZ6I5WELFQsrioBO3BdrmRh3FYrlCI9wDJgp/W8aC29qaoditytZuRS4AG8WJoS+7b6pl7ck8TUfCOjI0RecEY8g5HGP+NHtHVx2LPgQadYTew+wYGO4RXlSU65CgOf9K/7v[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6cb4232c-ebe8-2286-371b-b169d348b956?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1353193771",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
