{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-52614a79-ab1a-fb15-f280-f90bb46615c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC16F8EE8\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-52614a79-ab1a-fb15-f280-f90bb46615c6/test-file-05ef35fd-694c-9423-82e1-fdb845ed4335?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC17ED11A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-52614a79-ab1a-fb15-f280-f90bb46615c6/test-file-05ef35fd-694c-9423-82e1-fdb845ed4335?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jx7n1ixoAgLYLOJCa5SCxuX15WxIDW4YN4Ch1/E0rkP/kvFaRcTXvEYaMCsaQrvJR75YkUdrZIKvzp\u002BrxyoQo36eQ9miKIEhHiglLd1D/vXF2JAz3Bz8ky1vq3YkK/UcCoyte//hJh88N3MeRjala8\u002Bq5u\u002BZ3cdhoq\u002BsMn0K/PIzCSNQlYL25LFx9qSo3U32yj\u002BnekUFgi3ES9lPNfSiMjqB6zwTVNVMtAI\u002BKOYiucRitWg9YoGtLof2i0qopq68z8RpJ/IR43VpWsZCxllGopIV7X\u002BMZM\u002B50721HcmLow1TgVkiuJLSU[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-52614a79-ab1a-fb15-f280-f90bb46615c6/test-file-05ef35fd-694c-9423-82e1-fdb845ed4335?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC19ABDA6\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-52614a79-ab1a-fb15-f280-f90bb46615c6/test-file-05ef35fd-694c-9423-82e1-fdb845ed4335",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC19ABDA6\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "YgB\u002Big6MfHE=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "jx7n1ixoAgLYLOJCa5SCxuX15WxIDW4YN4Ch1/E0rkP/kvFaRcTXvEYaMCsaQrvJR75YkUdrZIKvzp\u002BrxyoQo36eQ9miKIEhHiglLd1D/vXF2JAz3Bz8ky1vq3YkK/UcCoyte//hJh88N3MeRjala8\u002Bq5u\u002BZ3cdhoq\u002BsMn0K/PIzCSNQlYL25LFx9qSo3U32yj\u002BnekUFgi3ES9lPNfSiMjqB6zwTVNVMtAI\u002BKOYiucRitWg9YoGtLof2i0qopq68z8RpJ/IR43VpWsZCxllGopIV7X\u002BMZM\u002B50721HcmLow1TgVkiuJLSUdLy1Ai7amctr\u002Bm4k7kvMGr1sFQ0W8as3ba570QAJOkAQputmpDH/mhVh23f0xBTI1HuL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-52614a79-ab1a-fb15-f280-f90bb46615c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "153181095",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
