{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-c3f8179b-7670-41b5-0f85-2152fd5c0bd9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E0954DAF0\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-c3f8179b-7670-41b5-0f85-2152fd5c0bd9/test-file-2ea166b8-a5b7-38c7-eff2-e99c6babd1af?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E09666724\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-c3f8179b-7670-41b5-0f85-2152fd5c0bd9/test-file-2ea166b8-a5b7-38c7-eff2-e99c6babd1af?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "mQt0ulBik4XrY7vQqCRC5o3n6Y0I6mBrYtQEOOPYNIIcZPfzsz3pBtzONRZWILtLVUzGeZv2Ya6qCVh7XVqhEi44tEQsTzNQ/uOwObRKFEEZuOOWErvmJQJISKrlbaiBLCPnHWx3HwUZdXq4RSf5YPQWYqV2CwByUY5C4weJa5E6LwyRYvfUopjefZxALuDbT\u002Be1zgoCCiEidcveNTv\u002BkAnpfhUaZ/79QsANmI5kMiOtZpQf052GNyXrb\u002B0r9W1d3\u002ByTVrDKwOfpt4tK9XGTvkKnMc6n3rxsY0bwL/gR0U1Tr7ih0dtz46atNhwSPEGzWLGqg8Set[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-c3f8179b-7670-41b5-0f85-2152fd5c0bd9/test-file-2ea166b8-a5b7-38c7-eff2-e99c6babd1af?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E098205B5\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-c3f8179b-7670-41b5-0f85-2152fd5c0bd9/test-file-2ea166b8-a5b7-38c7-eff2-e99c6babd1af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E098205B5\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "tjMMQrj1teg=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:02:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "mQt0ulBik4XrY7vQqCRC5o3n6Y0I6mBrYtQEOOPYNIIcZPfzsz3pBtzONRZWILtLVUzGeZv2Ya6qCVh7XVqhEi44tEQsTzNQ/uOwObRKFEEZuOOWErvmJQJISKrlbaiBLCPnHWx3HwUZdXq4RSf5YPQWYqV2CwByUY5C4weJa5E6LwyRYvfUopjefZxALuDbT\u002Be1zgoCCiEidcveNTv\u002BkAnpfhUaZ/79QsANmI5kMiOtZpQf052GNyXrb\u002B0r9W1d3\u002ByTVrDKwOfpt4tK9XGTvkKnMc6n3rxsY0bwL/gR0U1Tr7ih0dtz46atNhwSPEGzWLGqg8SetQAwJvNp2pHu2OU\u002B90W48e1nNE4o\u002BaigWScEPNZGZk6ItPq4cKrnCQkUvl4200T8[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-c3f8179b-7670-41b5-0f85-2152fd5c0bd9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "568809351",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
