{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1d92a453-8e7b-be6f-25ff-0403a38bf7cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045BEB8C49\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1d92a453-8e7b-be6f-25ff-0403a38bf7cd/test-file-210d3345-22a3-345d-5899-a920c20dacb9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045BF99CCE\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1d92a453-8e7b-be6f-25ff-0403a38bf7cd/test-file-210d3345-22a3-345d-5899-a920c20dacb9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eedBQMRQlOFaydOwxRkmj8SBtgYLxtDxIPGfo2V8yuJWWdyvVPm9+wme1jRuqNjF/nwIfq9tZLIXTx/SsfF73f7wWmw8dzvKw7r9bfCbg3gZ2aTpdEsy6PUpmATZ6koYIvg1fU5siYdAPbv0cPbCe8ynuddMkmmzvXF3Et438Nhw5Uv4ZgUprVAdqDaQPnj+Zx03MjFyy4+OgsDd9HaoCU3ihIuryhXHfQyHLukzIn/5eKvB/76m/hm7aeNETLjadJ/prrnsUpwIcLQl6pymW2BA5HzK5wmOO4Vy8GAxgjBTrbpJSXPFDCUOuY4JgRN8FA6DBGg8D42WWnI0emI71+6E0T3iX[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1d92a453-8e7b-be6f-25ff-0403a38bf7cd/test-file-210d3345-22a3-345d-5899-a920c20dacb9?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045C138D77\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1d92a453-8e7b-be6f-25ff-0403a38bf7cd/test-file-210d3345-22a3-345d-5899-a920c20dacb9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB045C138D77\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB550FAxFCU4VrJ07DFGSaPxIG2BgvG0PEg8Z+jZXzK4lZZ3K9U+b37CZ7WNG6o2MX+fAh+r21kshdPH9Kx8Xvd/vBabDx3O8rDuv1t8JuDeBnZpOl0SzLo9SmYBNnqShgi+DV9TmyJh0A9u/Rw9sJ7zKe510ySabO9cXcS3jfw2HDlS/hmBSmtUB2oNpA+eP5nHTcyMXLLj46CwN30dqgJTeKEi6vKFcd9DIcu6TMif/l4q8H/vqb+Gbtp40RMuNp0n+muuexSnAhwtCXqnKZbYEDkfMrnCY47hXLwYDGCMFOtuklJc8UMJQ65jgmBE3wUDoMEaDwPjZZacjR6YjvX7oTRPeJcEex711a7LnqFunL121KtfsgXni2z7wGRkcPT4qCFr9[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1d92a453-8e7b-be6f-25ff-0403a38bf7cd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "644609031",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
