{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4350d436-45d3-ca79-3bf6-d6f91433d0db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045D463A71\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4350d436-45d3-ca79-3bf6-d6f91433d0db/test-file-11d4a8db-701c-983c-4301-b5519b2de87e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045D53D5FA\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4350d436-45d3-ca79-3bf6-d6f91433d0db/test-file-11d4a8db-701c-983c-4301-b5519b2de87e?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JoJcBGnXgcCkHLJBfS+9k5t+WGLDUfBY0+CD/NyjMAGfiCOKS1btyTCv286G/AGxggfxhDaQe9WSBDGJU4TkAeuxofQLMkdEkY8xFHUh0dbe0XnVsavLDw1O90ckZHWsy9ni1VoMpU+/rPOmX2ZfcDNaqoEKDlBA5ZLnvToAICwahEmcP/t80SwqFQS4Ja+m74cUybrzobyJovDIJegUv4zGjNocwjE33thV4PlMh8DiQM2z7FZyJ+ONE5wLs6xEFVZ38pjVii1V3OrincDDPBow5eQaYdM1U2X3j6+ULCorEcui1JUnDbagXg9skIkiytaB2s7HKbODQp4z3vp9wLC/toz1I[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4350d436-45d3-ca79-3bf6-d6f91433d0db/test-file-11d4a8db-701c-983c-4301-b5519b2de87e?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB045D6D7879\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4350d436-45d3-ca79-3bf6-d6f91433d0db/test-file-11d4a8db-701c-983c-4301-b5519b2de87e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB045D6D7879\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAmglwEadeBwKQcskF9L72Tm35YYsNR8FjT4IP83KMwAZ+II4pLVu3JMK/bzob8AbGCB/GENpB71ZIEMYlThOQB67Gh9AsyR0SRjzEUdSHR1t7RedWxq8sPDU73RyRkdazL2eLVWgylT7+s86ZfZl9wM1qqgQoOUEDlkue9OgAgLBqESZw/+3zRLCoVBLglr6bvhxTJuvOhvImi8Mgl6BS/jMaM2hzCMTfe2FXg+UyHwOJAzbPsVnIn440TnAuzrEQVVnfymNWKLVXc6uKdwMM8GjDl5Bph0zVTZfePr5QsKisRy6LUlScNtqBeD2yQiSLK1oHazscps4NCnjPe+n3AsL+2jPUgaIUI2C55A8PJw9zVxdgSUVxj5xcfkvf0L7sinV+s2f[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4350d436-45d3-ca79-3bf6-d6f91433d0db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "927023180",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
