{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a8ecba0d-877e-70c6-4539-1805dce857b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF797F13BA\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a8ecba0d-877e-70c6-4539-1805dce857b2/test-file-da7928c6-9e48-8be6-91d2-9e8e0e5298da?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF798F4B17\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a8ecba0d-877e-70c6-4539-1805dce857b2/test-file-da7928c6-9e48-8be6-91d2-9e8e0e5298da?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "wRAYUzoTxHmfcUSpnGc03kMa4tSoFx2MwymY3F2XS71MFJ0rT6LED0THoSQP/FrksFhAFsS0Lqnyi5AQe\u002BcbByWHXIjKCI6gVdKQ4HX5fMbOtCsEVjX4l\u002BXzOcMRs5Rcq5n\u002Bh6DSGafKn8DxI000\u002BA7KQca8F7Dvj8Si18/Lj6I9NDXc\u002BvUm/JuEOrd1B3OXv0C0RnHNn5PpDvjbL0HY/hAetO8YV/4ZpEUrON35eodRCxiPFkgwb5Sh8uz8Ss1aqzumVlKEf2dCmqIsome275RwiiQoSOfH7URbdmQRHVl30YyhUiM0zIuxTHymBM0s6gNX[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a8ecba0d-877e-70c6-4539-1805dce857b2/test-file-da7928c6-9e48-8be6-91d2-9e8e0e5298da?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF79AD0C78\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a8ecba0d-877e-70c6-4539-1805dce857b2/test-file-da7928c6-9e48-8be6-91d2-9e8e0e5298da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF79AD0C78\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADBEBhTOhPEeZ9xRKmcZzTeQxri1KgXHYzDKZjcXZdLvUwUnStPosQPRMehJA/8WuSwWEAWxLQuqfKLkBB75xsHJYdciMoIjqBV0pDgdfl8xs60KwRWNfiX5fM5wxGzlFyrmf6HoNIZp8qfwPEjTTT4DspBxrwXsO\u002BPxKLXz8uPoj00Ndz69Sb8m4Q6t3UHc5e/QLRGcc2fk\u002BkO\u002BNsvQdj\u002BEB607xhX/hmkRSs43fl6h1ELGI8WSDBvlKHy7PxKzVqrO6ZWUoR/Z0KaoiyiZ7bvlHCKJChI58ftRFt2ZBEdWXfRjKFSIzTMi7FMfKYEzSzqA1eLwKkxY1PfaQ4oCQIwfUi00dsVnHA7vZh3\u002B2sg6Hcui[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a8ecba0d-877e-70c6-4539-1805dce857b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:56:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "190338910",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
