{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cefd7d7e-9e86-a6d6-65f5-ede82df42e38?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3E216391\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cefd7d7e-9e86-a6d6-65f5-ede82df42e38/test-file-104081cb-c486-0425-3373-ebde647d39d4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3E2EBDA1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cefd7d7e-9e86-a6d6-65f5-ede82df42e38/test-file-104081cb-c486-0425-3373-ebde647d39d4?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Z07cYFxNPqgG1pBWneGw3koJL3oCf6MBMkQuDwX5VBFM142nqkqHbHRIqL7220Z51fIyyPxpJeer2i0YHi+jDIJ+CcVUCDP/gcMFutbkC1b9tDoSx4sV4rGl/M8db01FpJw8d9GAJcy/Mkc5Y2sRxs/XGmn0kUX2aCcTrgxj4hF1wBU6p5OEfI9uU5RE3H9GlDUARVXkURNXRg6qbXfAW1A1w6NW1h87Up3ahj6wsYynzRnWYpy7kW8B4mGF2Q8XrfdEDhjb770WxfO4CcvVppWCAp9d6vmzejEzVPS+tniNwthGbKJzzN1cv5yoA4ekLDzLAtZvusP+kJTmqJvJWA97Kkfyj[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cefd7d7e-9e86-a6d6-65f5-ede82df42e38/test-file-104081cb-c486-0425-3373-ebde647d39d4?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3E488716\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cefd7d7e-9e86-a6d6-65f5-ede82df42e38/test-file-104081cb-c486-0425-3373-ebde647d39d4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE3E488716\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cefd7d7e-9e86-a6d6-65f5-ede82df42e38/test-file-104081cb-c486-0425-3373-ebde647d39d4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE3E488716\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE3E488716\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABnTtxgXE0+qAbWkFad4bDeSgkvegJ/owEyRC4PBflUEUzXjaeqSodsdEiovvbbRnnV8jLI/Gkl56vaLRgeL6MMgn4JxVQIM/+BwwW61uQLVv20OhLHixXisaX8zx1vTUWknDx30YAlzL8yRzljaxHGz9caafSRRfZoJxOuDGPiEXXAFTqnk4R8j25TlETcf0aUNQBFVeRRE1dGDqptd8BbUDXDo1bWHztSndqGPrCxjKfNGdZinLuRbwHiYYXZDxet90QOGNvvvRbF87gJy9WmlYICn13q+bN6MTNU9L62eI3C2EZsonPM3Vy/nKgDh6QsPMsC1m+6w/6QlOaom8lYD3sqR/KOOvIONsIBKlwKdqqPJ7fys6EeCBRI3A6NJEKSZowt2UCxnQHZ9KCtuZihhR48GHMRZlzaDD7eRl7jgRJ/bsTP3Z1q3oq2GL4BcE97plfwUAvPgP8wUs0B0lej9XONLkrU0aeA0jroW06e2ZvvYp8G8zAHsO3En4rQaAszEiJKdEIEp9Wvb37Q5iWxknkxEXC3nAJDhX1cDzIcsGkvtUkrU2VZ67vKV4SyNsnIEw0Qnlebe3UgB+7EqJiikr4UoTDbhj4U1ya07UV9kU+0k/wlCxESlDrTCkt2lUIjJ8TFnZWZ7IzO/Mcw5o4wonafEBSbfYesAg32CHvznjLqV2ndrEZSMupXad2sRlI="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cefd7d7e-9e86-a6d6-65f5-ede82df42e38?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1474849252",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
