{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-26166542-e157-e9e7-6ba8-6cd18db2b281?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF96F9B9E41\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-26166542-e157-e9e7-6ba8-6cd18db2b281/test-file-bc498106-1996-e518-7d25-13bd7eae6f6e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF96FAAAC1C\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-26166542-e157-e9e7-6ba8-6cd18db2b281/test-file-bc498106-1996-e518-7d25-13bd7eae6f6e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "CkakxyDPPdblRZ2PAsAGW1JbMkDYqYCIG\u002BSTlMLEIzMclxuca47wzw8DJLur4xhCwk5oUiNrcGHGHKs8PKgUICJqc2qkau/EamMx1ITE3DfMUNJ0XNAPsCe51U/is5Jm7wOZQHCtnVdepOe/OpvdAT90cOvWoMRRWsJC6pSg4bfQyuSAKpzHHrN6FbfpT3aL3NMPbkOmkE8/SOWtarLDvsIw73C3XNeirFE4XIoMaAtMtw7BkHJzKTqVQeK3GbMAt1f1uGAG1ID8bMLxbjTFMt/aYLOkAS1PvMU1IRr165KdN6QyF6\u002BqRuKNxCOwgrsG0A8C3LkAXLUqpfyb0LN[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-26166542-e157-e9e7-6ba8-6cd18db2b281/test-file-bc498106-1996-e518-7d25-13bd7eae6f6e?action=flush\u0026position=3072",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF96FC6BF8C\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-26166542-e157-e9e7-6ba8-6cd18db2b281/test-file-bc498106-1996-e518-7d25-13bd7eae6f6e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF96FC6BF8C\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-26166542-e157-e9e7-6ba8-6cd18db2b281/test-file-bc498106-1996-e518-7d25-13bd7eae6f6e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF96FC6BF8C\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF96FC6BF8C\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "2048",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScIAAAAAAAAAQABAAEAAAgAAAAAAAAKRqTHIM891uVFnY8CwAZbUlsyQNipgIgb5JOUwsQjMxyXG5xrjvDPDwMku6vjGELCTmhSI2twYcYcqzw8qBQgImpzaqRq78RqYzHUhMTcN8xQ0nRc0A\u002BwJ7nVT\u002BKzkmbvA5lAcK2dV16k5786m90BP3Rw69agxFFawkLqlKDht9DK5IAqnMces3oVt\u002BlPdovc0w9uQ6aQTz9I5a1qssO\u002BwjDvcLdc16KsUThcigxoC0y3DsGQcnMpOpVB4rcZswC3V/W4YAbUgPxswvFuNMUy39pgs6QBLU\u002B8xTUhGvXrkp03pDIXr6pG4o3EI7CCuwbQDwLcuQBctSql/JvQs2UHgS9TNo\u002BSGjAvGtEWPQmf[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-26166542-e157-e9e7-6ba8-6cd18db2b281?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "602807419",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
