{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-25b5a7b9-c386-2258-e11f-264f6b325e45?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797B147B91\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-25b5a7b9-c386-2258-e11f-264f6b325e45/test-file-e39aa700-3e1a-07de-74ed-4394d241c9dd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797B423448\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-25b5a7b9-c386-2258-e11f-264f6b325e45/test-file-e39aa700-3e1a-07de-74ed-4394d241c9dd?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ZeX1n7AwOPCPmRTiDzicKgFwvD3GDiXDEFarE5flO643w7ugwX8FYvZ7wYZoKvxO7Qcwb6YvK1e/MY9ZhCRZqV1lqkx9+2mBalpHSkyfW+ZaXSaPtcsICJdj4I/wrN3RIhcoAn+w0fGdrgRM6OAKINao/yb+yfSSXaK0GRrZkb58dic1dlhmqYw08gbHvB+3WcC5R6230lkilqXd/LfWwxxGz3K41Kp9QVWaytfuyqGC/L9aIEoQxaTOE9+zia3UXS7pgOyt/oQWPAVYHAeCM8sEWv/4fKPSNQrO6cHKyrinxW2oBUq01f46RONEuKicTN8Tri6u3OCKF0vh3xTDS3JNsFea2[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-25b5a7b9-c386-2258-e11f-264f6b325e45/test-file-e39aa700-3e1a-07de-74ed-4394d241c9dd?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797B58E1BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-25b5a7b9-c386-2258-e11f-264f6b325e45/test-file-e39aa700-3e1a-07de-74ed-4394d241c9dd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86797B58E1BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-25b5a7b9-c386-2258-e11f-264f6b325e45/test-file-e39aa700-3e1a-07de-74ed-4394d241c9dd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86797B58E1BC\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:08 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86797B58E1BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "ZeX1n7AwOPCPmRTiDzicKgFwvD3GDiXDEFarE5flO643w7ugwX8FYvZ7wYZoKvxO7Qcwb6YvK1e/MY9ZhCRZqV1lqkx9+2mBalpHSkyfW+ZaXSaPtcsICJdj4I/wrN3RIhcoAn+w0fGdrgRM6OAKINao/yb+yfSSXaK0GRrZkb58dic1dlhmqYw08gbHvB+3WcC5R6230lkilqXd/LfWwxxGz3K41Kp9QVWaytfuyqGC/L9aIEoQxaTOE9+zia3UXS7pgOyt/oQWPAVYHAeCM8sEWv/4fKPSNQrO6cHKyrinxW2oBUq01f46RONEuKicTN8Tri6u3OCKF0vh3xTDS3JNsFea2S6BT4UAvTjAjX1iMZ3htxuJ+eiMHu7/0vXqdvhx9wdQAXOxkl+prR6oyonOf6134pRXw7duDrpAgnyPFkY/TpZ1ES8pMCS84EvJ5FRkMFNHcpRkGjNQ4vO4cA/iGZfYaHvyWG5+TbFvm+NspCpm21EpR6Ox2zRjJC48cMAV2cez8XvYcdfkySTj9H9Q4z3JUZS9uNHzJo1HjzM/QtzxWcEbuLOujml5RX5/zua0EkHxch8rVyH2wMrukeKjpYdI8pu+NCuKGsMqQ3NSdFimkn3yTs+9xQKgJfjowPyH1aD2NttL9t0VZldbABOto0tyR/9lsVa4iiyYHQ8="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-25b5a7b9-c386-2258-e11f-264f6b325e45?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2138037830",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
