{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-53a0458e-fbc6-de6b-3614-2af6499278d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867984C4E03D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-53a0458e-fbc6-de6b-3614-2af6499278d2/test-file-563d5ea5-e4d2-aaae-79d5-e71f22f45612?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867984EE545C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-53a0458e-fbc6-de6b-3614-2af6499278d2/test-file-563d5ea5-e4d2-aaae-79d5-e71f22f45612?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2C7B8ylEl24Wob92EBznvXQe/BtNeKZZOXv1QA5pyzKqd3bIuKzitZXW6olOZSLpalRQFGSKJWCHZ7quT1dfrNaMzJilHwXIO0aFdo0cCtNYC9W5GbbOIFIWQFDxNGY+dj2zwpmJQ0tPiNgeBK7Sa13mVUOBppMfvqxGjt601gfgRwBQaEg6z8eKapDdrxukRNXzC94ivdCqlAPsQ7RsmrLRPryugQIUq4Z79zwDQQ6QokoJwcopvYovptNETYwSHc/dDHFf9cLS3l9YpsWUplP0XKBqYtnnp4Ayftsuz175adlsJTSdMayHNuJr0BfEm/+AUPHrqLr29WXxLHfmow8BXj3sJ[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-53a0458e-fbc6-de6b-3614-2af6499278d2/test-file-563d5ea5-e4d2-aaae-79d5-e71f22f45612?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86798504566C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-53a0458e-fbc6-de6b-3614-2af6499278d2/test-file-563d5ea5-e4d2-aaae-79d5-e71f22f45612",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86798504566C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-53a0458e-fbc6-de6b-3614-2af6499278d2/test-file-563d5ea5-e4d2-aaae-79d5-e71f22f45612",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86798504566C\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86798504566C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Yo3lSUJhmzg=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "2C7B8ylEl24Wob92EBznvXQe/BtNeKZZOXv1QA5pyzKqd3bIuKzitZXW6olOZSLpalRQFGSKJWCHZ7quT1dfrNaMzJilHwXIO0aFdo0cCtNYC9W5GbbOIFIWQFDxNGY+dj2zwpmJQ0tPiNgeBK7Sa13mVUOBppMfvqxGjt601gfgRwBQaEg6z8eKapDdrxukRNXzC94ivdCqlAPsQ7RsmrLRPryugQIUq4Z79zwDQQ6QokoJwcopvYovptNETYwSHc/dDHFf9cLS3l9YpsWUplP0XKBqYtnnp4Ayftsuz175adlsJTSdMayHNuJr0BfEm/+AUPHrqLr29WXxLHfmow8BXj3sJ4AeVyv04yz3fNdobePcrn9sDsAedi/PqwQ1oJPTaXHa13N+YfjG98WO/3mNiL6TCvWPlFB8zrFRT6smv0KYIxJljpVwXUyHphf7j3a2QSJGoZadQ9UhXQnBLRFMnzeC9dtmKPooI6yoCO05gT47mg2I3x2s++A9RDCMrjA6OgbfeJmbUBkoHX3p9Drn6NzLhpMDw78a1vr6KOTKnHV8bc7mWQikn0n0YMKfwwalVVtUwCidNnZGxaKeoCg1XoEIbIdsAY7UJuZJD2P9ehL0VdOIddxM3zZXn5RlBf4hvwJBllZ/OVTNf5lBUycTSUqPqktUrOiku41QFGE="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-53a0458e-fbc6-de6b-3614-2af6499278d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "185652680",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
