{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-96f9f6b9-413c-fcaa-231e-7e0f2047d3dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC1CAA732\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-96f9f6b9-413c-fcaa-231e-7e0f2047d3dd/test-file-c662cb36-44d0-2fa7-dbd2-2f4872682927?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC1DA5EAA\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-96f9f6b9-413c-fcaa-231e-7e0f2047d3dd/test-file-c662cb36-44d0-2fa7-dbd2-2f4872682927?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "bVIgyrfpBjbyTio4C14nrPz8itrMf6TY6W4ZSvSzcsodG92CVVbJmz9EYemmXFbbBeFTOxcNTu6uSOBJz7xBP9xgG/CBpFelMu6ahx27Mo0YPUUSXzeyEM3u1A12gMuDAiENRkFlWmCKrQgocsbR8hZTMJJ2L\u002BCkrQsjks9JL7IiFoT7retMsuPlh7IuiZ0GHeH3I085DdNBaJg1QsiQQH1WBlxB1UQqBn6ukactdiNtHXTuUgxi6AmxuUVTFnAbVEY014NAxEidzBzRinsrE/J1yCRTou5x9B1SkBv/1\u002B8Okzxg\u002BZ6gLVgsUIXwkV2NhaVS3U5Lx7JYw\[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-96f9f6b9-413c-fcaa-231e-7e0f2047d3dd/test-file-c662cb36-44d0-2fa7-dbd2-2f4872682927?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC1F6C047\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-96f9f6b9-413c-fcaa-231e-7e0f2047d3dd/test-file-c662cb36-44d0-2fa7-dbd2-2f4872682927",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC1F6C047\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-96f9f6b9-413c-fcaa-231e-7e0f2047d3dd/test-file-c662cb36-44d0-2fa7-dbd2-2f4872682927",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DC1F6C047\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC1F6C047\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "bVIgyrfpBjbyTio4C14nrPz8itrMf6TY6W4ZSvSzcsodG92CVVbJmz9EYemmXFbbBeFTOxcNTu6uSOBJz7xBP9xgG/CBpFelMu6ahx27Mo0YPUUSXzeyEM3u1A12gMuDAiENRkFlWmCKrQgocsbR8hZTMJJ2L\u002BCkrQsjks9JL7IiFoT7retMsuPlh7IuiZ0GHeH3I085DdNBaJg1QsiQQH1WBlxB1UQqBn6ukactdiNtHXTuUgxi6AmxuUVTFnAbVEY014NAxEidzBzRinsrE/J1yCRTou5x9B1SkBv/1\u002B8Okzxg\u002BZ6gLVgsUIXwkV2NhaVS3U5Lx7JYw\u002BNl7TQsnfUsw/c\u002ByhpT1ZvMJ1FogWLAxQt1rPmhwsyKCDa6Oj8k/7OQw85mT7qL/wizfqBg8EGBpSgotvD7iwAqtMLjmJpbqCid172UWXZQ6q3w7UMrKRf0OZUW\u002B0jDlDfOO5r3qGZuV9Z4wxmE7Uuy2MxCC528/4qr7l8FRazf2kKFxR3bWEFHgpZts2b\u002BcExJYyN7gImaETwQTLkGaBEpmOjW/ict13\u002BK\u002BogHT0sjrX0Tu\u002BGJY1m567ThygyIQRmEQxp9J3IlHIyj8IYBksLx7J87860woDSPHBNyTAxzArlugwwwpYUL7Z9V5nPTuFjy795tTE1sVKLm7gtess9/L\u002B7Mkg8="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-96f9f6b9-413c-fcaa-231e-7e0f2047d3dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "160122292",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
