{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e2d3eebb-8e94-4186-826d-9eee634bac1f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D8839BF1D\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e2d3eebb-8e94-4186-826d-9eee634bac1f/test-file-2305c6cd-82c0-62dc-3870-b1f19521fdc9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D885A1980\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e2d3eebb-8e94-4186-826d-9eee634bac1f/test-file-2305c6cd-82c0-62dc-3870-b1f19521fdc9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "mxHMAnyDV6IVLuhKck1ZCA8rPGfwyQN9McQgp2ZnQLX145zWrVv2L6S4ze2Hz06Q+6phOQjsR9IOTtG4YrA7ru4zVY+xg1u0NA3DOPwV9mF1j6u8BgasCZzKx16JPszzfR7+U3q+33dOrAX7KA7V+FhvQtIEfqjnhkvy5rv9KvZAz7vdFqLmtrAzblkBseCN9c8FGvv67/52F8wvzPm8UYIOullT9+G2iIsi0BBO5tVqZPDs9xD6RuC8Z//Vt+q2dx3X8vaHOv7tT5Fv1x7tJzH3xGcIz1lxFHR4lpDi4NCha1jzd/Pe4iry/qh+i27Bzz/O3fKDrqfDZd6CD6NtC27AzmvG+[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e2d3eebb-8e94-4186-826d-9eee634bac1f/test-file-2305c6cd-82c0-62dc-3870-b1f19521fdc9?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D8872B481\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e2d3eebb-8e94-4186-826d-9eee634bac1f/test-file-2305c6cd-82c0-62dc-3870-b1f19521fdc9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D8872B481\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e2d3eebb-8e94-4186-826d-9eee634bac1f/test-file-2305c6cd-82c0-62dc-3870-b1f19521fdc9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8E7D8872B481\"",
        "x-ms-date": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D8872B481\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:13:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACbEcwCfINXohUu6EpyTVkIDys8Z/DJA30xxCCnZmdAtfXjnNatW/YvpLjN7YfPTpD7qmE5COxH0g5O0bhisDuu7jNVj7GDW7Q0DcM4/BX2YXWPq7wGBqwJnMrHXok+zPN9Hv5Ter7fd06sBfsoDtX4WG9C0gR+qOeGS/Lmu/0q9kDPu90Woua2sDNuWQGx4I31zwUa+/rv/nYXzC/M+bxRgg66WVP34baIiyLQEE7m1Wpk8Oz3EPpG4Lxn/9W36rZ3Hdfy9oc6/u1PkW/XHu0nMffEZwjPWXEUdHiWkOLg0KFrWPN3897iKvL+qH6LbsHPP87d8oOup8Nl3oIPo20LbsDOa8b5sD0Z4TwV0bDziQW3x1ETA90dvbAwEhRb04eE8zm9vAL71Y+QxBFGmNYScVV9V9sc92visK4VyZ0ovQ61kN13NcwCvPHBgz7M1yXaHaC/3nyrZ/zO2gtU5QvxZwcCkQf4mzyIeprqW3QtFdmIOqz8ad6SCSjhqFrArdbm0Bs2ykYd4YFkN2ThwQyHocQyzKpf9f4ocIfeFvPhx8zDA4pY9kuTalgqmDF6sEgcWgeWjuErhtocDlm+P8uOgm+XHb2BL6t5n2FRNV3Mrr8/wrzrSznqmH2wO+jx1CuNmxXC45OKmipcHO6A2lB9UF+af3wOojc2rIU/0fPChxPnq6L7O+D/E+erovs74P8="
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e2d3eebb-8e94-4186-826d-9eee634bac1f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "108660607",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
