{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-4184cb32-44d0-3769-0e88-1ca1af4e6471?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A9FB8084\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-4184cb32-44d0-3769-0e88-1ca1af4e6471/test-file-b037885c-8a83-09da-0cc8-295b5939314d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6AA083350\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-4184cb32-44d0-3769-0e88-1ca1af4e6471/test-file-b037885c-8a83-09da-0cc8-295b5939314d?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "vl33d6e3N1xGq6DQB0d2BP6n9f9spx41/zFfZD4Zy6PU02RjExLM9HiFdqcxLphxlpJuZQcs+xY/wnh2V9MdLd/8+zTiEvDr2gCG5zF2A9CY7s2sqmacqNdNI1GaVp2lZ0nINDJkjoOig4oHpRTlyL6n3WkGcYJ5YFNcle+fUINj4H/ors6eNGBJCSfblQLDZ1uS8nk0n/XGTtTeB/iUAjIHo8SU/RnwCakJvGdanctRmS2UDV0KL0GJIWD6vyxntAf11PE9LmpBoenQKuKObLEIjW7KAPTU/HSDCty59Ul8oQhgZcnaE2rDUmt0OgRe+7Wu8TK9nLQSINh9uSOOh6ugU4naL[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-4184cb32-44d0-3769-0e88-1ca1af4e6471/test-file-b037885c-8a83-09da-0cc8-295b5939314d?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6AA15A381\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-4184cb32-44d0-3769-0e88-1ca1af4e6471/test-file-b037885c-8a83-09da-0cc8-295b5939314d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6AA15A381\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-4184cb32-44d0-3769-0e88-1ca1af4e6471/test-file-b037885c-8a83-09da-0cc8-295b5939314d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D6AA15A381\"",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6AA15A381\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAC+Xfd3p7c3XEaroNAHR3YE/qf1/2ynHjX/MV9kPhnLo9TTZGMTEsz0eIV2pzEumHGWkm5lByz7Fj/CeHZX0x0t3/z7NOIS8OvaAIbnMXYD0JjuzayqZpyo100jUZpWnaVnScg0MmSOg6KDigelFOXIvqfdaQZxgnlgU1yV759Qg2Pgf+iuzp40YEkJJ9uVAsNnW5LyeTSf9cZO1N4H+JQCMgejxJT9GfAJqQm8Z1qdy1GZLZQNXQovQYkhYPq/LGe0B/XU8T0uakGh6dAq4o5ssQiNbsoA9NT8dIMK3Ln1SXyhCGBlydoTasNSa3Q6BF77ta7xMr2ctBIg2H25I46Hq6BTidotB+gueQQHrYlgwW8lDycKBBe/BFRNRPFcWkc1ysDT53qEza3Gw7i5lQaJwBYNlBRmfaeIk4SG38P30R+80eLIjNr0oUF5REFfBW9NxIPaT8Yyzk0YS1P2/u3qz/GY/MMjwDM8GPLS7ThmKY4VOBs/HIJZigOVsEGG/qNTjnRPxgmrKQRPnjbTYOEUsiLF4MXSq7JuP3LAjhDytRpPfl7EFmKFaQ4X735MhSkhgP4fwR7dgePB4YaW6pv0XOgchOGCUJu/QHa3u7s0IrpJng0R0/T7cf17AjXc7n5zIpKWMAFHny9iX4CnJsUnjb/MTUyN4onzIBLkBk5m4tfU6S5HNYZK19TpLkc1hko="
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-4184cb32-44d0-3769-0e88-1ca1af4e6471?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "859998121",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
