{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-53486fc6-31e5-8d49-b887-c5237198859e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97C7064D9\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-53486fc6-31e5-8d49-b887-c5237198859e/test-file-9b86a1d1-decd-b94a-2205-5d156a394cc8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97C80C6F4\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-53486fc6-31e5-8d49-b887-c5237198859e/test-file-9b86a1d1-decd-b94a-2205-5d156a394cc8?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "bmIUdYrDDTnoYA6KYCMs0H7BqhG1rt57I/4O2VqVLUGdurf/05R5tVOq7mBQ6AMewWJy\u002BVmtYcCDmVGMtDTeUzLM7KVsLP3qSPS\u002BC79\u002BKjv77xj3IjPo8Fj2ezpC7AEey5sthPtdspRliLFk71YABW4WkMQc5zD/5PxNdbDDp1vzn0AkUKY/nj2DkZqCgwEB9XbLK1w8AuNqLqD/EDzkouBVcE8W3LTI1/KGmFaWfGD7S4A593z/t5xcuSIFQI4Bn\u002B65LBKx6xjBA1RqtWqN1LFAA8S7qqtkVrmzuSKRwpdkhPln3U9NSmBnePMnlAEyz\u002BVx[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-53486fc6-31e5-8d49-b887-c5237198859e/test-file-9b86a1d1-decd-b94a-2205-5d156a394cc8?action=flush\u0026position=3072",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97CA19547\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-53486fc6-31e5-8d49-b887-c5237198859e/test-file-9b86a1d1-decd-b94a-2205-5d156a394cc8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF97CA19547\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-53486fc6-31e5-8d49-b887-c5237198859e/test-file-9b86a1d1-decd-b94a-2205-5d156a394cc8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF97CA19547\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF97CA19547\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABuYhR1isMNOehgDopgIyzQfsGqEbWu3nsj/g7ZWpUtQZ26t//TlHm1U6ruYFDoAx7BYnL5Wa1hwIOZUYy0NN5TMszspWws/epI9L4Lv34qO/vvGPciM\u002BjwWPZ7OkLsAR7Lmy2E\u002B12ylGWIsWTvVgAFbhaQxBznMP/k/E11sMOnW/OfQCRQpj\u002BePYORmoKDAQH1dssrXDwC42ouoP8QPOSi4FVwTxbctMjX8oaYVpZ8YPtLgDn3fP\u002B3nFy5IgVAjgGf7rksErHrGMEDVGq1ao3UsUADxLuqq2RWubO5IpHCl2SE\u002BWfdT01KYGd48yeUATLP5XHFPMlG9ENU1ln9MfYvQb0GMHAl9mHyuWRTMrc8wbeB6[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-53486fc6-31e5-8d49-b887-c5237198859e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1937893937",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
