{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-47763c7f-5b05-6614-cb65-770c50deb3d5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD8FC26BC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-47763c7f-5b05-6614-cb65-770c50deb3d5/test-file-2f03d3e2-0524-4aa0-8bdf-361f6a1abf0c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD90C2C3F\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-47763c7f-5b05-6614-cb65-770c50deb3d5/test-file-2f03d3e2-0524-4aa0-8bdf-361f6a1abf0c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "RDgWWbVrypQ=",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "t8M86a4XPlr/5xTEjwqJ1OZ7j2nqcZarN4of54Taua3FllIYupVNZaiZQ1fKbE7WZst8WvYSSkYtkLEj\u002BFfWJS5n//i4cBpQLSnAUC0\u002B4co8SYC4XV\u002B2s0wL6ynkKWxRwx4pY21WHvaxLCzMUfkY76/m56/WHcfOsEurrIXwbAO9b40PFH1d5iqJBzEy6WJS8vt6/UK9eqVWWrIhqnFxwcApD\u002BFrCdoxiQGETRaWnMfpWbqJdW/B//ToubnKOzu5GEVwCdmA5ukgSHNBOS2Ov77rOFG350xRZxDsgk8hZ07FyjXRJZPtaXLQaCz7gMXHWvn73gLqAjD5H6HJk2OZ/[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-47763c7f-5b05-6614-cb65-770c50deb3d5/test-file-2f03d3e2-0524-4aa0-8bdf-361f6a1abf0c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DD919C0DD\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD937F725\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:33 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-47763c7f-5b05-6614-cb65-770c50deb3d5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1759115322",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
