{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-2c35c04d-81c2-974c-03ab-7b806c05550e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A8935160\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-2c35c04d-81c2-974c-03ab-7b806c05550e/test-file-b5f2b9c3-06c7-fa87-1684-7b11ea592f55?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A8A0FB7C\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-2c35c04d-81c2-974c-03ab-7b806c05550e/test-file-b5f2b9c3-06c7-fa87-1684-7b11ea592f55?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "Tml0HkZqPZ02ZTFUX/1ly8Stm9aNaZdkuq3kqdgsserbEgDIw8mHeljZtRGFyWbv5wuYcXS7guXSD2OZhpTFCrRGeE39nQj7JiF+s7OG3/BG9cHMkz92H48a9rNl7fPEFKtdP1AZ8UoCnUtSPc4yTDByU5DS+Hd00Fi94qZVlTgtup8IKKCgLAN2yvX0I+LA6KqC8ppj8Rwz6W/4Ww+jrQcSJIMvKSOP0iaNWy6BgKx2/fr80qOeysiC1D8xp9H00xzu4f5fkL6G8h901ZbtsmnCgV4Up9pkdFq6rFXkXipUmIgRk56tF2w7dt+DKvUylSLWbiVz3ytBiW2kpONpopT1HzwO3[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-2c35c04d-81c2-974c-03ab-7b806c05550e/test-file-b5f2b9c3-06c7-fa87-1684-7b11ea592f55?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A8B3D351\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-2c35c04d-81c2-974c-03ab-7b806c05550e/test-file-b5f2b9c3-06c7-fa87-1684-7b11ea592f55",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6A8B3D351\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-2c35c04d-81c2-974c-03ab-7b806c05550e/test-file-b5f2b9c3-06c7-fa87-1684-7b11ea592f55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D6A8B3D351\"",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6A8B3D351\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABOaXQeRmo9nTZlMVRf/WXLxK2b1o1pl2S6reSp2Cyx6tsSAMjDyYd6WNm1EYXJZu/nC5hxdLuC5dIPY5mGlMUKtEZ4Tf2dCPsmIX6zs4bf8Eb1wcyTP3Yfjxr2s2Xt88QUq10/UBnxSgKdS1I9zjJMMHJTkNL4d3TQWL3iplWVOC26nwgooKAsA3bK9fQj4sDoqoLymmPxHDPpb/hbD6OtBxIkgy8pI4/SJo1bLoGArHb9+vzSo57KyILUPzGn0fTTHO7h/l+QvobyH3TVlu2yacKBXhSn2mR0WrqsVeReKlSYiBGTnq0XbDt234Mq9TKVItZuJXPfK0GJbaSk42milPUfPA7cHssUavHZMfrgSmSIFzIO7wThuVzPCTAJconR00uOCrgjuAMLWrqCBvpHqSM/G8w3lKTwPYOxDBWaC/hoB12vUj+sZF4uA5VJX7JhiGAMyVe9mj+nnsw1cqzucE7CGf6dl1fkk7ZtCJEOpt7QT4O0jkGhq2wdCLNydvKxP5JGh0WzxPEIKDagT5KumPjuZCIpOeINIW6Sf4+jcRzDu8j+xx6YHIuSrGUKAFvab2+7hBLQiAawOWXWIURhZbYa3JTKsNDZVUiXlo18AiETuBAf6O0K8zLCTY65wfpGMUau8CPHEL6f4S7JOfF4NDdEw2k0QXzJD+lhB2JBIHtOuGFG0bCie064YUbRsKI="
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-2c35c04d-81c2-974c-03ab-7b806c05550e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1664352096",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
