{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e14c7815-b48c-838b-6c35-c850e2f2556d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC245A3A1\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e14c7815-b48c-838b-6c35-c850e2f2556d/test-file-dfced17b-ef49-13bf-6f8e-f69d1c562481?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC2550CEC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e14c7815-b48c-838b-6c35-c850e2f2556d/test-file-dfced17b-ef49-13bf-6f8e-f69d1c562481?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yU\u002BuobezZhaHrJih6RXTItTw67Iuc3J1vE2acaR4m\u002BtwR61gm78gsMmtWk5momeCeTejFHHHVVXcOOVpGfVyDxGtMaFocoYVzzvpgBkjDhrlGPds1IZ5qPFXg2Pat5fTO0o9uXHGGQaxjkQ23tU8uCnLhAH9BjqKNIivEO8jOxikFUTO5lWpH/7xu0ZBQskcG8o5DzKV1TQQsoXoFgkXjVIsksiQbdLUIWQCC0v0SPG\u002Bk/Uk6izlDj8QvjPQwAn12i30FbABi674ZO3Ok8rpHGqTKYMT86MlRoSIgK6eBGFbDTEdADJBvQdHK4U/F3p1JqLJPJeG4eeKzs[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e14c7815-b48c-838b-6c35-c850e2f2556d/test-file-dfced17b-ef49-13bf-6f8e-f69d1c562481?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC271206A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e14c7815-b48c-838b-6c35-c850e2f2556d/test-file-dfced17b-ef49-13bf-6f8e-f69d1c562481",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC271206A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e14c7815-b48c-838b-6c35-c850e2f2556d/test-file-dfced17b-ef49-13bf-6f8e-f69d1c562481",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DC271206A\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC271206A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "yU\u002BuobezZhaHrJih6RXTItTw67Iuc3J1vE2acaR4m\u002BtwR61gm78gsMmtWk5momeCeTejFHHHVVXcOOVpGfVyDxGtMaFocoYVzzvpgBkjDhrlGPds1IZ5qPFXg2Pat5fTO0o9uXHGGQaxjkQ23tU8uCnLhAH9BjqKNIivEO8jOxikFUTO5lWpH/7xu0ZBQskcG8o5DzKV1TQQsoXoFgkXjVIsksiQbdLUIWQCC0v0SPG\u002Bk/Uk6izlDj8QvjPQwAn12i30FbABi674ZO3Ok8rpHGqTKYMT86MlRoSIgK6eBGFbDTEdADJBvQdHK4U/F3p1JqLJPJeG4eeKzs4reAv/WmCLcoWZyxw3Umt7zMcd5i8JElkM1MfJ1StJkzFjFUX8R9Els6T13FuGkuorChQgbeefImWx84WZwZ1ZTzjq0zwmfoX29zKLFDX\u002BhUHcnsoXKSZKxPPfS1RLjPEGm40jnL\u002BuBIuPKXW0Ew0vsm1DvSPTQiYRnw5IRzMwqmtAhXmo2\u002BmCLZk\u002Bh/\u002BwlbHlr5jnB8/OM1hmEfywZb1XX38JdI6Uh9eDwI\u002BJlLonYApdY5ebSaKcclEgQsnt0sjc5iiApyEiUSjBY0Y/RZ6dP7DyUwImvBbcbQE8c0UNlu7Hra2Sp7noOhFv2uVcXC2yggIZ\u002B37FtioSozof5t3jtM1YeJc="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e14c7815-b48c-838b-6c35-c850e2f2556d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "340225716",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
