{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-8ea4e915-c2e0-3ca7-fb68-103d49d657cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC667AFDC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-8ea4e915-c2e0-3ca7-fb68-103d49d657cf/test-file-27f5cf59-7080-06a6-5a61-fcc6c5380660?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC6773F52\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-8ea4e915-c2e0-3ca7-fb68-103d49d657cf/test-file-27f5cf59-7080-06a6-5a61-fcc6c5380660?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "/pUyUo\u002BgRJg2FiBFtqlgDJYCz956ZsdcyMeVXOvgVA5DSv9GvH9\u002BzCfDu/EiDryHBoU8N495R5jN1YnIC\u002BetVsESAWyqGlAWhAK3tqrWOroLDlVlpB1/ygJmeOf2tsE/FmQwEA1P3Ow1JbKMwZDt95rPvP2SR7GkkjZpQ6JoIM5BeKBFpimsuzFpL35q8whxeYBMJvnErc6yi33W5ZlKzAXkSknwp1FxIgHLKBgzOZ8t\u002BMohHPnUfcvSkhqr1tWYH2J5hai/gdEv2wT4\u002BIS2f1LeqO3OKLALD81\u002BHRQ3xUwrMwi1ubT3bnf48kD13IR[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-8ea4e915-c2e0-3ca7-fb68-103d49d657cf/test-file-27f5cf59-7080-06a6-5a61-fcc6c5380660?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC6937A07\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-8ea4e915-c2e0-3ca7-fb68-103d49d657cf/test-file-27f5cf59-7080-06a6-5a61-fcc6c5380660",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC6937A07\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-8ea4e915-c2e0-3ca7-fb68-103d49d657cf/test-file-27f5cf59-7080-06a6-5a61-fcc6c5380660",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DC6937A07\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "XAW8fgtxEhDeIT7t7oqFWw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC6937A07\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "/pUyUo\u002BgRJg2FiBFtqlgDJYCz956ZsdcyMeVXOvgVA5DSv9GvH9\u002BzCfDu/EiDryHBoU8N495R5jN1YnIC\u002BetVsESAWyqGlAWhAK3tqrWOroLDlVlpB1/ygJmeOf2tsE/FmQwEA1P3Ow1JbKMwZDt95rPvP2SR7GkkjZpQ6JoIM5BeKBFpimsuzFpL35q8whxeYBMJvnErc6yi33W5ZlKzAXkSknwp1FxIgHLKBgzOZ8t\u002BMohHPnUfcvSkhqr1tWYH2J5hai/gdEv2wT4\u002BIS2f1LeqO3OKLALD81\u002BHRQ3xUwrMwi1ubT3bnf48kD13IRGHBPIzS7nyfeybXXaQGO89xW3zMV8Acad5zl21jZvFjNINwEBbvceQ2kRAks\u002BHC0TO/orPRC/yhtMKub0cfPBQldCkglhuogemYhcav57XsoMYpo7RNgiiW3mtUQRKtJ1UMDz/IoksoFxDaSHY18c0csc5w5Zhf1/HwibegVEDG\u002B25xo9h2JA57AZyTc0miUOyuN49ULEG8rCdNyBiTd7LQA00XxE3klp2wBdQLvGSoTijLAhzBct8stQexKFvl55nZw3/8mpyeuZDhlBZtoO/ClYnvyGWWDoB9\u002Bw82M35B2i5KIfjku7OcLFiL3\u002B64vwQn7pLCBh8kQ7Tvjp\u002BdaHYir7n4I3723enWU5wdGj6hs="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-8ea4e915-c2e0-3ca7-fb68-103d49d657cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1131035704",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
