{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0d1aee1f-8ea8-fbea-4849-50ce084f82ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF971014971\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0d1aee1f-8ea8-fbea-4849-50ce084f82ea/test-file-79169740-8110-9e15-de87-a5e3308f7281?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF971118E49\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0d1aee1f-8ea8-fbea-4849-50ce084f82ea/test-file-79169740-8110-9e15-de87-a5e3308f7281?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 16:07:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Zptl/uFykq4unAdfbtVbNhJOehVaps9QHqC4/lhGohIsLa0FrDgg4V9GrX4b\u002BhAYWuJmjHgGl7/LFOBBupRV5/r0M0AnVYnaLpi2E/lRNCOPn6R13xaaJpXuOZdY3yfL8MWEJsfQ8ARZjF3gT4PGeuC8sRrw4AjjWg2rORzxgk9w6yMzzA5cv66fG1O4utYRKL63my0M2hC9oMy5JLfoaAoOb2Rgkq3SX/JsUcS1KqA2mhFdOeYhZBASdSxBo5v3trNIqkpysJUQ5Ts7oIlLCHYsgoqliy4j7AtTThyBkLxXdZoRbIBVxOl8TFSq5sOGxm21FSAQUSuEJb0/HmJ4jlV/[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0d1aee1f-8ea8-fbea-4849-50ce084f82ea/test-file-79169740-8110-9e15-de87-a5e3308f7281?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF9712E6503\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0d1aee1f-8ea8-fbea-4849-50ce084f82ea/test-file-79169740-8110-9e15-de87-a5e3308f7281",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF9712E6503\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0d1aee1f-8ea8-fbea-4849-50ce084f82ea/test-file-79169740-8110-9e15-de87-a5e3308f7281",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF9712E6503\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF9712E6503\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABmm2X\u002B4XKSri6cB19u1Vs2Ek56FVqmz1AeoLj\u002BWEaiEiwtrQWsOCDhX0atfhv6EBha4maMeAaXv8sU4EG6lFXn\u002BvQzQCdVidoumLYT\u002BVE0I4\u002BfpHXfFpomle45l1jfJ8vwxYQmx9DwBFmMXeBPg8Z64LyxGvDgCONaDas5HPGCT3DrIzPMDly/rp8bU7i61hEovrebLQzaEL2gzLkkt\u002BhoCg5vZGCSrdJf8mxRxLUqoDaaEV055iFkEBJ1LEGjm/e2s0iqSnKwlRDlOzugiUsIdiyCiqWLLiPsC1NOHIGQvFd1mhFsgFXE6XxMVKrmw4bGbbUVIBBRK4QlvT8eYniOVX/kK\u002B86nPXXvqApPtp4BkfNh6/Me5xGI2\u002BMRsIVpocEvf8rApiXi9C/PmJwJ\u002Byqrbf4UNrIwtningd/rlUzwhcYJYHbTAOuNvveDDw61fyD4pkLHFWtO/olSGSRF917jHtKVwFrzmCzShre6bacqMgL/My8KKbBa\u002BqGtgOfHR4eY3/B7336GBQ5V9E7zlFEiKCbhRsRvmTViOwX5RdcEy38wIY327hKEeS3g9DUhpyYQS5jBJcCDKUb62eQ4jL83ESjPg7LDaznUHQ3WTuUAAJQfqPp\u002BA\u002BW\u002BbPhG/BRuS6xu6aMMEeOzTSCe7Miy7Nph\u002BplQGOPE\u002BM0DURa6vG7lg/8gXLHBfwCD/yBcscF/AI="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0d1aee1f-8ea8-fbea-4849-50ce084f82ea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "46074056",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
