{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-555f1e66-5efb-42e9-48cc-06137d0a6bf7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797B8E1AFD\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-555f1e66-5efb-42e9-48cc-06137d0a6bf7/test-file-14c18d00-04f4-a465-6557-54c07416c341?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797BB5F794\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-555f1e66-5efb-42e9-48cc-06137d0a6bf7/test-file-14c18d00-04f4-a465-6557-54c07416c341?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ZEiEe/6xxhhsQI6vhD+WdaTCVtzcPOWL3yY9rDZD0v7RYkVkTqxFC9oVwtENtfSx36HJiXGfmihj+JvYcxrhKG6Q3SL6MSf4fEoCxnoTfioxjM2VeUiNMccdAVUQbZjANJlifdfSt6160Q0mndStT3pxp+dMTK8lA6xa3DDR6A6yQpLhsAFTX9QfGqg6ZpTzb7Lbn8axc+jqPXkrd9p9qej+dFtBzJ55HUcSLTEG6pwXZm199UlIAM6q93OHKOj6oXHAPPI5saITYoF+n0W241LdExBtALOetnOMl9Uq8fVeGIzARa6p3rTKaZPIyWGJ8xMgqRTXjKG9IYZ/rRrN6XCLH4a49[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-555f1e66-5efb-42e9-48cc-06137d0a6bf7/test-file-14c18d00-04f4-a465-6557-54c07416c341?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797BCBDEA0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-555f1e66-5efb-42e9-48cc-06137d0a6bf7/test-file-14c18d00-04f4-a465-6557-54c07416c341",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86797BCBDEA0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-555f1e66-5efb-42e9-48cc-06137d0a6bf7/test-file-14c18d00-04f4-a465-6557-54c07416c341",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86797BCBDEA0\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86797BCBDEA0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "9QixQBiY3A0=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "ZEiEe/6xxhhsQI6vhD+WdaTCVtzcPOWL3yY9rDZD0v7RYkVkTqxFC9oVwtENtfSx36HJiXGfmihj+JvYcxrhKG6Q3SL6MSf4fEoCxnoTfioxjM2VeUiNMccdAVUQbZjANJlifdfSt6160Q0mndStT3pxp+dMTK8lA6xa3DDR6A6yQpLhsAFTX9QfGqg6ZpTzb7Lbn8axc+jqPXkrd9p9qej+dFtBzJ55HUcSLTEG6pwXZm199UlIAM6q93OHKOj6oXHAPPI5saITYoF+n0W241LdExBtALOetnOMl9Uq8fVeGIzARa6p3rTKaZPIyWGJ8xMgqRTXjKG9IYZ/rRrN6XCLH4a49p2kNDVbopYg1uwRAqTCCUjgh4vrAiQoKjCa/YAiPKrb0P11fHXffOoKnUqabqp2C98oqpj7zfR5fAkEwaQV/plCNjGmTI3SAQug4GTZjryFJPKh+pER3wMI/ABr2rtG9Z+xVzh5z75RVamNW+2Pn+5NfpyxdAQHMFYunVCNZiZQWevFKDaEDFQ0T6Tog4QWeVwSHlwelICbqSfhSjFtxO6DPQEByXe3yXJHfSRfH6zSGCT0e0jKMcRqKn8OosEjxou1ZEaDFK/lWlTp1hdcO4l6DzINeUimuQs8l5/3qCawJLaYqrtmTgR0DiD04FqtDu71lJOPFUxCD6s="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-555f1e66-5efb-42e9-48cc-06137d0a6bf7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1304936344",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
