{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f3c9000c-de4f-a382-6085-d9424e43f289?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97BFC462B\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f3c9000c-de4f-a382-6085-d9424e43f289/test-file-33036d30-a4d1-6fbc-31f1-cd46cba706fa?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97C0C3368\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f3c9000c-de4f-a382-6085-d9424e43f289/test-file-33036d30-a4d1-6fbc-31f1-cd46cba706fa?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NkYcP87hurC7AZ5iZuTARXvcLmmMwcrOOZ52UngqnHinHGeb/sotMikGdb0Jpt1Z7p2fTq3b0HR8TQUwamg4kGQlukl9JEexrvw/hkwMxJPAHGTbi07LzEzyH7DE/MfBzeRY5OuT3MpV7Z\u002Bwm0kob4lycE0EXAUWWe79iwSX7bE0fbhntOCnLECahp2vGjACya8mUYx5vXHfQor9llHFvQDtfB2Rwbuoy0QNadZoZz6\u002B\u002B8FVcJwlusBGiHJWqpXu1cmcwZ4ScAj0fYVHbFOadttLPpuQcExkx8FdSjlJUiGuHpQNy6Wgq4q4YPMW3U1srBGWCmv6XmR8OP[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f3c9000c-de4f-a382-6085-d9424e43f289/test-file-33036d30-a4d1-6fbc-31f1-cd46cba706fa?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97C29A679\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f3c9000c-de4f-a382-6085-d9424e43f289/test-file-33036d30-a4d1-6fbc-31f1-cd46cba706fa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF97C29A679\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f3c9000c-de4f-a382-6085-d9424e43f289/test-file-33036d30-a4d1-6fbc-31f1-cd46cba706fa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF97C29A679\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF97C29A679\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAA2Rhw/zuG6sLsBnmJm5MBFe9wuaYzBys45nnZSeCqceKccZ5v\u002Byi0yKQZ1vQmm3VnunZ9OrdvQdHxNBTBqaDiQZCW6SX0kR7Gu/D\u002BGTAzEk8AcZNuLTsvMTPIfsMT8x8HN5Fjk65PcylXtn7CbSShviXJwTQRcBRZZ7v2LBJftsTR9uGe04KcsQJqGna8aMALJryZRjHm9cd9Civ2WUcW9AO18HZHBu6jLRA1p1mhnPr77wVVwnCW6wEaIclaqle7VyZzBnhJwCPR9hUdsU5p220s\u002Bm5BwTGTHwV1KOUlSIa4elA3LpaCrirhg8xbdTWysEZYKa/peZHw4\u002Bd21Jc\u002BrK2SZTr6NqzWrkxHXD1lN6nPwniiySLWzvy\u002BQk6vD9WTptMeyRP\u002BtHmZhX9fph1Uj6w9pxIen\u002BeKu5Y6O/RiK6J2s7luRm6V0Q3/CUejeyjjabaebWTHdQrvlBF5wHiFN13c5PZn5kVBp9YEH5aj50BtWtI9w7o5sz6ugrJdHAyRedHpxpI2f4NtXMWSv1lwS6zNDGmqR3ejpzG3tWeW5IvFcqHEuiCuNt9O0GLwpvfhPjcBjA\u002Bm6zJaRiNcfsYf1ng9yUy3r5GMItmKX3cQsvw91nswkVR4Iodzanf9UbQVLv3mstmnLY6hdWk2GI\u002B/RZMnHqhO70EjwarFREUdktNgnoB9j/o5B2CegH2P\u002BjkE="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f3c9000c-de4f-a382-6085-d9424e43f289?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1788585977",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
