{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-73617ba8-437a-4c85-7edf-60d9d09d6e61?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E138A135D\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-73617ba8-437a-4c85-7edf-60d9d09d6e61/test-file-4d5e1ead-9697-f98b-d105-d7f749788831?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E139A6715\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-73617ba8-437a-4c85-7edf-60d9d09d6e61/test-file-4d5e1ead-9697-f98b-d105-d7f749788831?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AfHVYVYDlTEk87JAdmM2Cv3sj8oWx9qcJGWz4SaXtp9JqSAknoEdRnBVg5MVUrsWQEbCypElDDkWODzxULQKjDwT981DEWx8z0hZwUNHh9GpnKDg1OwOI5zmDWVEK/a8SvdXAlvt0y/ZRvtIzEr2z7FrR7QTKrdQBdMwXAMGOKNSnHdM74V2vMhxBo7wxVZR8D602eRBqR8/B/yHvHcr0w5Y9i/Tqt8s9IvroSQpX0B832vEUV6\u002BEPNXDOiI7/9RRTJ/l84nfkZfiORYVgf7Fqe8Ct0LZoGvmuU8fJ32owWMmVvxqchxVWAlZcl6ZbnrW/VBy\u002BQhRt\u002Bx0P[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-73617ba8-437a-4c85-7edf-60d9d09d6e61/test-file-4d5e1ead-9697-f98b-d105-d7f749788831?action=flush\u0026position=3072",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E13B78C11\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-73617ba8-437a-4c85-7edf-60d9d09d6e61/test-file-4d5e1ead-9697-f98b-d105-d7f749788831",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E13B78C11\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-73617ba8-437a-4c85-7edf-60d9d09d6e61/test-file-4d5e1ead-9697-f98b-d105-d7f749788831",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482E13B78C11\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E13B78C11\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "m221vDZgYk8=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AfHVYVYDlTEk87JAdmM2Cv3sj8oWx9qcJGWz4SaXtp9JqSAknoEdRnBVg5MVUrsWQEbCypElDDkWODzxULQKjDwT981DEWx8z0hZwUNHh9GpnKDg1OwOI5zmDWVEK/a8SvdXAlvt0y/ZRvtIzEr2z7FrR7QTKrdQBdMwXAMGOKNSnHdM74V2vMhxBo7wxVZR8D602eRBqR8/B/yHvHcr0w5Y9i/Tqt8s9Ivr[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-73617ba8-437a-4c85-7edf-60d9d09d6e61?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1665463295",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
