{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1da6ecf1-1533-7c39-22ed-1d8acb931d44?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D4470F51\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-1da6ecf1-1533-7c39-22ed-1d8acb931d44/test-file-86b2fe41-3369-f799-ca4d-da3cc418d558?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D4772684\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-1da6ecf1-1533-7c39-22ed-1d8acb931d44/test-file-86b2fe41-3369-f799-ca4d-da3cc418d558?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "yaLwz36MdbwgLB/K0pJq8XB5SOlR1UFv+9NW6yjPpivtF91vQK0ltWyEJ9apd9qODRqMWoqR2PNggNSqNoqUUIb03Lq1+rDDVJN8za5rxYP5x90NQ0uhXD/pD8DYen7i8NZQtZof2RNqyQX2FQtE9LtRsW6shw06U4B7y+rw6tkUmdzYGw/o2e7KonpFqkczpBoEh8kQNmjJFWIaow0oet4s4nsubNmraNeA4eST9Kg5SCbP62MQBGN0DgWtzjbgoSibGcfLBDhBWB7xj1SDNSG54FrmWY56G94Xul3U/pqgn0C799rhbUTujpJFH3QP8Nnj8+3b+UiaIP7ptEnabVqDUO8Uy[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-1da6ecf1-1533-7c39-22ed-1d8acb931d44/test-file-86b2fe41-3369-f799-ca4d-da3cc418d558?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D4901D64\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1da6ecf1-1533-7c39-22ed-1d8acb931d44/test-file-86b2fe41-3369-f799-ca4d-da3cc418d558",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679D4901D64\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:41:39 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1da6ecf1-1533-7c39-22ed-1d8acb931d44/test-file-86b2fe41-3369-f799-ca4d-da3cc418d558",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679D4901D64\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "9zBeI0oFWj8+h9/gAJKpGA==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679D4901D64\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:39 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:41:39 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "yaLwz36MdbwgLB/K0pJq8XB5SOlR1UFv+9NW6yjPpivtF91vQK0ltWyEJ9apd9qODRqMWoqR2PNggNSqNoqUUIb03Lq1+rDDVJN8za5rxYP5x90NQ0uhXD/pD8DYen7i8NZQtZof2RNqyQX2FQtE9LtRsW6shw06U4B7y+rw6tkUmdzYGw/o2e7KonpFqkczpBoEh8kQNmjJFWIaow0oet4s4nsubNmraNeA4eST9Kg5SCbP62MQBGN0DgWtzjbgoSibGcfLBDhBWB7xj1SDNSG54FrmWY56G94Xul3U/pqgn0C799rhbUTujpJFH3QP8Nnj8+3b+UiaIP7ptEnabVqDUO8UyD5G2HIW+Mr7NfxpCMqE8AqsxKX3Idbc97n6EyE4wc6E+yianBt7xQF9n+sBgKx/VnxP14tJHKdnaeC5G+SpwnMt5A2i6VPvMf+keYHr23cNe72k6epDOt6AMzM6wqod1Nx405ue3WwoYKaMpaIlfI5pq6AnBNmI6qkuIbUgtG5Uh6Wlcgfbbp1Qe4hEtpU7W7ek0BYK9c8C7+nxcLy2CKs3OB78gAmHjTwC1olQRDMU8sb+fONXSpHWooMd6v7hmnPdDH53P9qtHEPaBx9Gsaq13X31t4zH3+2MJt2GaqM+ITwVcze1nbPrUV+gfUJxkPDYZwyA6+LnFS0="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1da6ecf1-1533-7c39-22ed-1d8acb931d44?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "10246928",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
