{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ecf720c5-9db1-b41e-08b8-9b175344d2c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DCF65C6C5\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ecf720c5-9db1-b41e-08b8-9b175344d2c9/test-file-930419f6-e59a-4a7b-b973-cd88b781a254?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DCF757E30\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ecf720c5-9db1-b41e-08b8-9b175344d2c9/test-file-930419f6-e59a-4a7b-b973-cd88b781a254?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "CGKM8fm\u002BWPE=",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ZVp\u002BW/Of7W1/TNsGm1N4rwcDi6ug1FU3Laxcx1V3Fe72wGXh2lWl67o1fyd0f2IWp1IikZcJopAFRi1GQyUYBzbtENvtl9SyXqDwalUtw65KRiACVIRX7B7V3JMnXqiVHXfxh26HKBB9bzP2GDc614N//P0FFrKyliS9GLpBiwD4W03ePDs/wx0PhORQYNPmmgQPp2GqjwbEP/FJyRBVPOQz/r3qXJtIPzng9ZHNYTZQ1n22MeOeTcxGGf1K9vkMukgAHWEW\u002Bz1px2coypl19t27\u002BPOTnwoBlbHxpEOd/UlA0ztJzUPVOts/TGp7dYIy0SIfj/0FeRs9/oivJFf6y[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ecf720c5-9db1-b41e-08b8-9b175344d2c9/test-file-930419f6-e59a-4a7b-b973-cd88b781a254?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DCF8339C4\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DCFA085BE\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:17 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ecf720c5-9db1-b41e-08b8-9b175344d2c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1310048426",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
