{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-481123c6-df3c-55a2-93d2-d413aa80add0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Apr 2024 15:12:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC57DE56C9F21C\u0022",
        "Last-Modified": "Mon, 08 Apr 2024 15:12:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-481123c6-df3c-55a2-93d2-d413aa80add0/test-file-3e1f6d40-2a14-4f7f-64a9-1c64ec2e1a0d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Apr 2024 15:12:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC57DE5748E469\u0022",
        "Last-Modified": "Mon, 08 Apr 2024 15:12:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-481123c6-df3c-55a2-93d2-d413aa80add0/test-file-3e1f6d40-2a14-4f7f-64a9-1c64ec2e1a0d?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "y9wOl/GIRO0=",
        "x-ms-date": "Mon, 08 Apr 2024 15:12:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "fIMO7b1A7WVRFMG/ZlLi7LzxlzDlBge8PNlFZlg0XSgVLNXvmCgkO4w2VbOk0aaRzhzgrsc2ZnR7UbDk\u002BocMHbeYqjl98lSUzFujrrBUGGszs5g8U69h38VgdEZ4QEAFKTf8CydsFNvHS\u002BFrkrfDJjlEsEfu0MoINsp0HH0OHIwbnoV5VwxEx5\u002B8dAjO9k0OnE0MM4/5Flht9NRd\u002BPdeuS9UT/MySs8sAOmnMVzBOkB8ZYAvAej8IYcsDGM35s\u002BnXrrYeaZZ21F\u002B3zKmUeT8q7qU4JJ2LrhGVy5sBT5r9RkaANOh6cCaI4kusSG1VtCiMGCpowY8MDA[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-481123c6-df3c-55a2-93d2-d413aa80add0/test-file-3e1f6d40-2a14-4f7f-64a9-1c64ec2e1a0d?action=flush\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC57DE5757B116\u0022",
        "x-ms-date": "Mon, 08 Apr 2024 15:12:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC57DE57791C09\u0022",
        "Last-Modified": "Mon, 08 Apr 2024 15:12:44 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-481123c6-df3c-55a2-93d2-d413aa80add0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Apr 2024 15:12:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "195397350",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
