{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a7445a29-eabe-902a-ad75-dbe26bc3317a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA43DD9935\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a7445a29-eabe-902a-ad75-dbe26bc3317a/test-file-f165577d-0f25-727d-ba54-de7d6a643385?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA43FB5320\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a7445a29-eabe-902a-ad75-dbe26bc3317a/test-file-f165577d-0f25-727d-ba54-de7d6a643385?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "4RYSfHB1OjnBmlMPMtmvvguFGoJY/QsjvbklwNQ/7OsW0nDK3O7lUq8xcdS3aOvUK1xON00WjeML7r62T3lkgq1o+V9p5eEcn8fTJow2bFTOUZR48LSdAEWMvu0vLwM1zO8mTm+La0V7MpiGQmZW1IJp6P7l7JL5y/ka3Cbz7XDEnVmdDx3lQuVO/b4cF73eNuprxUYEUN9cLYN2cY8fh0QnwaUNucRlhKUYlu/U3LM7O6Y8iCcqv015QOKZbtFWL3V59FUY0XwlBkCg67nwiFHQOjXo4v8c/QJXk3niyxXUwmZ6WuheI2oqFoHnidOTibiRyTScbUx2XPZSwD0CQzorzClSd[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a7445a29-eabe-902a-ad75-dbe26bc3317a/test-file-f165577d-0f25-727d-ba54-de7d6a643385?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA4408F3DD\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a7445a29-eabe-902a-ad75-dbe26bc3317a/test-file-f165577d-0f25-727d-ba54-de7d6a643385",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA4408F3DD\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a7445a29-eabe-902a-ad75-dbe26bc3317a/test-file-f165577d-0f25-727d-ba54-de7d6a643385",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5ABA4408F3DD\"",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA4408F3DD\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:17:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADhFhJ8cHU6OcGaUw8y2a++C4Uaglj9CyO9uSXA1D/s6xbScMrc7uVSrzFx1Ldo69QrXE43TRaN4wvuvrZPeWSCrWj5X2nl4Ryfx9MmjDZsVM5RlHjwtJ0ARYy+7S8vAzXM7yZOb4trRXsymIZCZlbUgmno/uXskvnL+RrcJvPtcMSdWZ0PHeVC5U79vhwXvd426mvFRgRQ31wtg3Zxjx+HRCfBpQ25xGWEpRiW79Tcszs7pjyIJyq/TXlA4plu0VYvdXn0VRjRfCUGQKDrufCIUdA6Neji/xz9AleTeeLLFdTCZnpa6F4jaioWgeeJ05OJuJHJNJxtTHZc9lLAPQJDOivMKVJ2LWhxFsq+y301cy7ECsBRAuE3VBoD/vELYy0n00a8vapAE4soVx3SroD4J4Ik+zNC8ThJlNQ4ci93ZrOdl/c2ebaDg/c1KarEZaWZCtZu5mf55eIOcijWB6BcsPFpNReIwq3MoHg8DMiOhS8un2dYCX9Lo7IVKAaNrXtW2Xi4WjCOEEgooUbvvdgZgO35p2g4A6ZyHZFlc5mmPvP85TNP1Sr/oI4fL2c5XOXZ+6gZlAYSHtXRRjyeKZ2vgWJS89ilyqrC+gfaGdM/OcGsi3fwjars6cddfY7tYHfwb64E5mgMNDH9Vpn/OAQCkg178Z4mvvS3ZgoRSEwc1bP5j85BzeCSs/mPzkHN4JI="
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a7445a29-eabe-902a-ad75-dbe26bc3317a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1891701190",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
