{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-910b1b76-cb55-b000-8f55-f1dabf7ecb26?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0485A7C885\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-910b1b76-cb55-b000-8f55-f1dabf7ecb26/test-file-4edff9b3-bb1d-da3a-39cc-2d7e9ee9620b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0485B53D80\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-910b1b76-cb55-b000-8f55-f1dabf7ecb26/test-file-4edff9b3-bb1d-da3a-39cc-2d7e9ee9620b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HAFtVwyCMWYfZY2CVdgglguskqUwWTLRrC23KqMINO+yeAqOi/I4xejnUY9Cj0e94dbnxYJ6zMLPm6vfywfDFzCez9zOkgsYc828SQiijxzm+UnMIG9sOKtIvu9HWfnhIzpeo8Bq70/Kz1G1vYK6LAuO+NG99vbBMZcxhtMc0RrT2ybNROtbfAr6AlEdtnoojZLjuWAoIyxDnXEpOGl7rv434uJc7OgfMnzHwvSlo3ocCPhBOBi5qrf5iqZ5MkOgflRT5tSYzKGpxIbkYGE4nvr2DDBxOnbmfjcqYmJBpQA5JkOgUb2mhDxWl3SR1UlWweusgyUSL0TebWecbmk/Zx6Fqjodm[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-910b1b76-cb55-b000-8f55-f1dabf7ecb26/test-file-4edff9b3-bb1d-da3a-39cc-2d7e9ee9620b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0485CF072A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-910b1b76-cb55-b000-8f55-f1dabf7ecb26/test-file-4edff9b3-bb1d-da3a-39cc-2d7e9ee9620b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0485CF072A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-910b1b76-cb55-b000-8f55-f1dabf7ecb26/test-file-4edff9b3-bb1d-da3a-39cc-2d7e9ee9620b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB0485CF072A\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0485CF072A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAcAW1XDIIxZh9ljYJV2CCWC6ySpTBZMtGsLbcqowg077J4Co6L8jjF6OdRj0KPR73h1ufFgnrMws+bq9/LB8MXMJ7P3M6SCxhzzbxJCKKPHOb5Scwgb2w4q0i+70dZ+eEjOl6jwGrvT8rPUbW9grosC4740b329sExlzGG0xzRGtPbJs1E61t8CvoCUR22eiiNkuO5YCgjLEOdcSk4aXuu/jfi4lzs6B8yfMfC9KWjehwI+EE4GLmqt/mKpnkyQ6B+VFPm1JjMoanEhuRgYTie+vYMMHE6duZ+NypiYkGlADkmQ6BRvaaEPFaXdJHVSVbB66yDJRIvRN5tZ5xuaT9nHoWqOh2YTTxQiPMaowJUqe3ToHeVItom9//B5FUJFtIXL1YLKg84KZ1vMpweFKDbGL6vmsjI0vurg0Ie1mjnR3IhA3OsSH7em3fZJvA+B+Jf5suWWnsJTl1aYKbMGlM1iOsq/REsL89A0P9R76wKbHxgv/CcUOz2F7QWUefXEYAko50FEwrRMrb7Vol8uF+xUPMqbFtimDf+M+ZcFt7oaL9/LEsOBVlxjow6oPpjel5UZAH0rKQkwQtmBt8jdBvXE+3J/YsUo0qauN7OKPg9mrmHCLLd87sbWmtAp/55ThlxYowMmX3TP8G2WfTFVpgSKWslnGxp+SAyraIg1PtMIF5ZszGjyVkbXlmzMaPJWRs="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-910b1b76-cb55-b000-8f55-f1dabf7ecb26?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "658452278",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
