{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e7be524c-6229-aca5-4685-178b62d896e3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679E188B202\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e7be524c-6229-aca5-4685-178b62d896e3/test-file-50e9bb1e-236f-fb60-10ce-6311cf871530?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679E1B5B51C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e7be524c-6229-aca5-4685-178b62d896e3/test-file-50e9bb1e-236f-fb60-10ce-6311cf871530?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "EQwNbFKkQI8=",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "98YEPcminb2h5jKmFavwhCu9WOjhzRMXrxDlyMiLyYzt6gL1vRyQj9w6J+icgrAIG0H6UdCtgSmy7I65vdT0Fh2luSqp+8YOLMgLpqYqey1f3K2HkHi8QGnYQtCN19IIRRDL9smFXiB66yUHodqDh3FhWeAnbIal6XjB0Lj1gFT2A2GVX4Rk2n2MDaRStZ+OVbtfLH7x4NiKJg1QxI5ohGrQEJ157Sjs/X9im1/hUjPZMnr9llTWBSKICzl3ExXvI4g5gqQBFGiScy//jkV5qdPZdpETa+4W+gt68eLvdOlpc3fWp9CP2B4SaiIl1nfdDmFlnZ2E27iaI4eZhyOGov5FlhrOogEDSp5zAQDL8[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e7be524c-6229-aca5-4685-178b62d896e3/test-file-50e9bb1e-236f-fb60-10ce-6311cf871530?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679E1C1D970\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679E1DA8C74\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e7be524c-6229-aca5-4685-178b62d896e3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1536179233",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
