{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-228ca13a-3665-c3bd-3f6c-9df4945d27a4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC3A70855\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-228ca13a-3665-c3bd-3f6c-9df4945d27a4/test-file-e1388acf-48d5-4546-d3a6-ce8a1beb7083?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC3B698B7\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-228ca13a-3665-c3bd-3f6c-9df4945d27a4/test-file-e1388acf-48d5-4546-d3a6-ce8a1beb7083?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Iw81Nl3hXBWfvMp1aLevUr\u002B4M48k4B2P0YEpt8dcOW7RO\u002BIFt3WI4Kgip8uEwozvuArl3rWPbUPxpmXbuKVOQ4Ncoy3UqZpJMFLmAjhRCg71Of\u002B8dlq5Qc6fExEQrCgD1GNIKB9fGw5wm65iqWsKoJxW5n6lkcwoomJeNZaJOYMq4i3VCeHvlR3wTNqrVphjlXN1ucapXUOWH4W9AOZ45mIqN8Y9NZa6Z1BgtUXyfUzJ\u002B6AjFH\u002B9gYTqPulcMpQ3eGV4gB7RJV/cu1J1SKj9pKE48wVGVdLjbbZCU/esXTS7KTzfef0u\u002BNVARlksRzj[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-228ca13a-3665-c3bd-3f6c-9df4945d27a4/test-file-e1388acf-48d5-4546-d3a6-ce8a1beb7083?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC3D23704\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-228ca13a-3665-c3bd-3f6c-9df4945d27a4/test-file-e1388acf-48d5-4546-d3a6-ce8a1beb7083",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC3D23704\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-228ca13a-3665-c3bd-3f6c-9df4945d27a4/test-file-e1388acf-48d5-4546-d3a6-ce8a1beb7083",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DC3D23704\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "Jnf2XSSZMJGxSNhKKpx4DQ==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC3D23704\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "Iw81Nl3hXBWfvMp1aLevUr\u002B4M48k4B2P0YEpt8dcOW7RO\u002BIFt3WI4Kgip8uEwozvuArl3rWPbUPxpmXbuKVOQ4Ncoy3UqZpJMFLmAjhRCg71Of\u002B8dlq5Qc6fExEQrCgD1GNIKB9fGw5wm65iqWsKoJxW5n6lkcwoomJeNZaJOYMq4i3VCeHvlR3wTNqrVphjlXN1ucapXUOWH4W9AOZ45mIqN8Y9NZa6Z1BgtUXyfUzJ\u002B6AjFH\u002B9gYTqPulcMpQ3eGV4gB7RJV/cu1J1SKj9pKE48wVGVdLjbbZCU/esXTS7KTzfef0u\u002BNVARlksRzjb7JlHIz\u002BP8SKSlRJnjtJoL10duh9rHSukCvowBg55tiV9ZmZdZDr1LDcZTeTqxmkC1xb8D40Zb85tohhEXusUGd/t6ihsCsoiJ43nUdBGukOQLS74faeYY/aY8MIhsc1MBTMF/NxBlsxL2ef/Mh39JujVszC8G5w3VIYx0xoIAXbAmkydQb1nT5dhrKO/mDHYmsnZTP6cj\u002BqWzahWD8KyQthxP5fRYOUqbWOZW274eLxUWTlRLrR3IwthBnQVEEDVrmrLTliZBjrkr96aAzR7nlTrAbWIYRMj\u002BRyMcFlwFF0jxKwELSpju1L/bX/W3SDW5mgfKg\u002BKTE1Wp1Q8DJbgc5uBdz6HdnAqh0VjifOUTRw="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-228ca13a-3665-c3bd-3f6c-9df4945d27a4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:00:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1153076653",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
