{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ce51901b-9b43-647a-27e5-a1bbf0109215?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA67F94823\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ce51901b-9b43-647a-27e5-a1bbf0109215/test-file-f05ee69a-491d-000b-c5a7-dc0ecd62bfdc?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA681784CC\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ce51901b-9b43-647a-27e5-a1bbf0109215/test-file-f05ee69a-491d-000b-c5a7-dc0ecd62bfdc?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "sLP8kXqsQLLnenEPEBH5M3i+R5/J7iLsH81Wzuq2R8O79bi39tpoxxCUu3ldep89LUp50VHYzMKQEHGtVnHHMTOuUxtYQj2eVYCONDKpjqUtGKCgPXVx4yj2JuVou3CezYpFriaD5OsN23vRSZeP54LMfz7RJ/S9PXDyYhtYNZoQ72aoY99/qTO1kmL5oJmRZj9jnDsxzaaWh3G2kYLPtKXhwFox54SiTdYKG5SSxJ3WYfvc9Jhe3iHAEttuyBiw5t28F98/YH67wE9lJ7IRA8PT3y+G8sAMg+I4cNWoNIS9WjW21a2+lwF9ITRJ+Ldvrg4XmunoKfMdr5P8B++oEovKqMx9W[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ce51901b-9b43-647a-27e5-a1bbf0109215/test-file-f05ee69a-491d-000b-c5a7-dc0ecd62bfdc?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA6825CCC5\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ce51901b-9b43-647a-27e5-a1bbf0109215/test-file-f05ee69a-491d-000b-c5a7-dc0ecd62bfdc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA6825CCC5\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ce51901b-9b43-647a-27e5-a1bbf0109215/test-file-f05ee69a-491d-000b-c5a7-dc0ecd62bfdc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5ABA6825CCC5\"",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA6825CCC5\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACws/yReqxAsud6cQ8QEfkzeL5Hn8nuIuwfzVbO6rZHw7v1uLf22mjHEJS7eV16nz0tSnnRUdjMwpAQca1WcccxM65TG1hCPZ5VgI40MqmOpS0YoKA9dXHjKPYm5Wi7cJ7NikWuJoPk6w3be9FJl4/ngsx/PtEn9L09cPJiG1g1mhDvZqhj33+pM7WSYvmgmZFmP2OcOzHNppaHcbaRgs+0peHAWjHnhKJN1goblJLEndZh+9z0mF7eIcAS227IGLDm3bwX3z9gfrvAT2UnshEDw9PfL4bywAyD4jhw1ag0hL1aNbbVrb6XAX0hNEn4t2+uDhea6egp8x2vk/wH76gSi8qozH1bLhYVSC4J0YvDiyrIwseQmpvUMEGYJhnBkBLUDqh+T+ryUuABhaC6HyKS7AjSPi3hgfEv05w7wwj9U7gcNcLjRDtA1m/njxX7GhAfBjkR71Hk8o22T3xNto/YBDHnnupfrqfMkWe++vLcNLmMHLzO62RmN0I1LPS/8h/fD4rjE3slv1eRRF3qJvia2RvDwZrSCRjMgWanKoKyDZ9H3+tn+SE9ZlxlPKcGfBFKmlPZ/DCFDAVyFpEUfpTV3ze+okcNM+D6hVs9bc1xxgRVXZAu2RBuwtLl9eKPKOjIkF1vSNnKPGdy33bVR583AFCMvyAEpgUmT+B0Jz3+a0Jk2wnqz3f3QmTbCerPd/c="
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ce51901b-9b43-647a-27e5-a1bbf0109215?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "902898265",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
