{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-aa28258d-79b6-2b08-459b-e54c7886c294?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E29FF95DB\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-aa28258d-79b6-2b08-459b-e54c7886c294/test-file-24b84577-647e-4081-1a33-137c80d63521?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E2A108614\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-aa28258d-79b6-2b08-459b-e54c7886c294/test-file-24b84577-647e-4081-1a33-137c80d63521?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "0yxO5FE/Yhw=",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "6g6nvpO\u002B1w0RRrHNgph4EZDwnpzFV648plOf2QMCpxF\u002B8YSkjExi7wSzWZ\u002Bh6YbDHGqASknOPpNgaxc/H/4KDp\u002BgT5AU04RDjq6YEv0Om7zM27yYgVzIsLPwRCE0Is8GqEsAAJr2r0nmPLyaNiyWUc9bc0NBcYxC2J7dI49iD2vfkWmyDZsi1ixzskWgLnqGWvJS2a6MxTe\u002Bvij7GIu6gy1Qu6TC40MzOJ0Wzr5HoqokVsicDza9Uswx809zJr2guS4XUHLVw3auHqARdfZ4dhx91sHDHXP2k2jYke/0wBLfdhWPL1I3T5NR7fGVq9zVuH0z9U/83Zu6Ib0K[...]
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-aa28258d-79b6-2b08-459b-e54c7886c294/test-file-24b84577-647e-4081-1a33-137c80d63521?action=flush\u0026position=10240",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482E2A1E689F\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E2AB3CA9B\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:50 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-aa28258d-79b6-2b08-459b-e54c7886c294?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1476384855",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
