{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3cda93b6-f620-e487-8cc7-04a47670bbc1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE41D34851\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3cda93b6-f620-e487-8cc7-04a47670bbc1/test-file-43f4c872-b84d-9179-3e2f-5aebceffbf92?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE41E0EC3E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3cda93b6-f620-e487-8cc7-04a47670bbc1/test-file-43f4c872-b84d-9179-3e2f-5aebceffbf92?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Xng9xUWRwLBF5rc3NnOlS0H98lobkwFsJzLfAYPUm0Che7XGAsDBH1uj49m9GeHGujU4WlDsKMt30J4Tsr4scEt2lbq930mAPNP/eLAnrw1QGEdOm0HwtFLqTzEirm2cdnKOR4MmCNrrtx197bAaTyGQwpl33tQJhuFo05AYXo5mYwI9mWiKKg9sYuQjc8eiz/8PkuvTJJiehMCivjVK01mOFoqu3bW5BZeJCnvw5hMaxgOQCMyikj5qnhWn52zaIo+KlVw99PJKVYxTShocrZ6tiPgxucqN7IRLRD6gEh4rrujrZlG23dIRRrI/TkgkTfB3+l9zqWnE/anY8a+zqUNuJ5syM[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3cda93b6-f620-e487-8cc7-04a47670bbc1/test-file-43f4c872-b84d-9179-3e2f-5aebceffbf92?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE41FC156C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3cda93b6-f620-e487-8cc7-04a47670bbc1/test-file-43f4c872-b84d-9179-3e2f-5aebceffbf92",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE41FC156C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3cda93b6-f620-e487-8cc7-04a47670bbc1/test-file-43f4c872-b84d-9179-3e2f-5aebceffbf92",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE41FC156C\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE41FC156C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABeeD3FRZHAsEXmtzc2c6VLQf3yWhuTAWwnMt8Bg9SbQKF7tcYCwMEfW6Pj2b0Z4ca6NThaUOwoy3fQnhOyvixwS3aVur3fSYA80/94sCevDVAYR06bQfC0UupPMSKubZx2co5HgyYI2uu3HX3tsBpPIZDCmXfe1AmG4WjTkBhejmZjAj2ZaIoqD2xi5CNzx6LP/w+S69MkmJ6EwKK+NUrTWY4Wiq7dtbkFl4kKe/DmExrGA5AIzKKSPmqeFafnbNoij4qVXD308kpVjFNKGhytnq2I+DG5yo3shEtEPqASHiuu6OtmUbbd0hFGsj9OSCRN8Hf6X3OpacT9qdjxr7OpQ24nmzIxR032qiYfchhNnTwn9k0oF763BX8naaje6yJenG/RJqzxHKgqA7RNifasrwubyblmgSuwb5WzCd6kF78DwdaofHaPNdqk/hMJanyIermcQiFp+BtDIbcXPhLJhez1SccgAzKVDJTewYMXpgUYKo4lCNWdmsm6ZVu/ePfI2ngnEyC0aHeGBjaNijaYLHqx/hSDpHwXWK/+ZZ7X1pOdFeYK75PlZMEXngKeDxCSIjngDXriRTX7ELpxtgPZri+i8HVPjjzny5lSawZ6eEmea0Nl98gZutCwDt/YdK2+Pu/S+x6bQ5T8+ULgkNkvgZdx0kvAc7dniTakn39dD6xZ4cxnrwr4rFnhzGevCvg="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3cda93b6-f620-e487-8cc7-04a47670bbc1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "561653221",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
