{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d8bfa948-48eb-e3e3-3ada-b3774a042f9e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E1D87E7D0\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d8bfa948-48eb-e3e3-3ada-b3774a042f9e/test-file-4445f13d-899f-20eb-f61f-d4522ffeb9c6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E1D979F35\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d8bfa948-48eb-e3e3-3ada-b3774a042f9e/test-file-4445f13d-899f-20eb-f61f-d4522ffeb9c6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "LgaUzzzfje4=",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JoiXJfLxfx6avgrgJ9/6SM4mnE5yymboSDdeM6gpVpLxPN5hWuWa6XxzynlaWpz7IjkWhJ7Lclshrt26kkt2cWd47\u002BsAmO7ojLPS/v/tje2bYhFvEtHzJcmDQKsI31Yw/VkR4muw\u002B4lKLfjr\u002BHRcMyHwHi86B16WhMkhfVdD4KxcogCl3KuB6meHJOXZCCxVJgyJGMAm9fb6e12hj30yBkxLjlZztld1bjTIs\u002BJ5vHyczFZLucjrNawKq2FN4FvqVR6YjXnW4nC1FKmMXkIUgb7gBcIm5kyEYFmqaAv2J47Y3V3D4C4DxunmlaUeXtZq9imibduYw27REy0fLHllv[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d8bfa948-48eb-e3e3-3ada-b3774a042f9e/test-file-4445f13d-899f-20eb-f61f-d4522ffeb9c6?action=flush\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482E1DA50CCA\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E1DBFC0BD\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d8bfa948-48eb-e3e3-3ada-b3774a042f9e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1527365230",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
