{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bd8ffda0-2617-b200-5f37-461b49125d07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC5F16D8E\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bd8ffda0-2617-b200-5f37-461b49125d07/test-file-70476cfd-cf4e-8f98-a9c3-764540328df1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC6017323\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bd8ffda0-2617-b200-5f37-461b49125d07/test-file-70476cfd-cf4e-8f98-a9c3-764540328df1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HX8lMSZgYDm37\u002B64U\u002BlBiD35Jpo3qfx952lHWp7XMPZ/rPnysscnlU\u002Bi/Bpfm\u002Bl8Pj8wdrJG73SCqEq8GAaa4L/4OafwT9V20pBKlKzhHUx/yhxfprlEObyEbwl9an1JBxtbZ2JCjO5quqQh\u002B1rHoIr\u002BPU3pOzoFswDqbN/L\u002BGcTAY2RhbXqPT4t9esVIz1hvc9/fywwX8zhVrRiVx8PnsI8DfnNNhrVFAAOvEZO8JDCiK4QTHk646LAry8Bh\u002BUeHlYp2BVElIe0qWssIaOGkmYjn85x/1FJAilXDYbr04wa757vJRh7f[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bd8ffda0-2617-b200-5f37-461b49125d07/test-file-70476cfd-cf4e-8f98-a9c3-764540328df1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DC61D5F8A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bd8ffda0-2617-b200-5f37-461b49125d07/test-file-70476cfd-cf4e-8f98-a9c3-764540328df1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC61D5F8A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bd8ffda0-2617-b200-5f37-461b49125d07/test-file-70476cfd-cf4e-8f98-a9c3-764540328df1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DC61D5F8A\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DC61D5F8A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "MIXtI804bS0=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "HX8lMSZgYDm37\u002B64U\u002BlBiD35Jpo3qfx952lHWp7XMPZ/rPnysscnlU\u002Bi/Bpfm\u002Bl8Pj8wdrJG73SCqEq8GAaa4L/4OafwT9V20pBKlKzhHUx/yhxfprlEObyEbwl9an1JBxtbZ2JCjO5quqQh\u002B1rHoIr\u002BPU3pOzoFswDqbN/L\u002BGcTAY2RhbXqPT4t9esVIz1hvc9/fywwX8zhVrRiVx8PnsI8DfnNNhrVFAAOvEZO8JDCiK4QTHk646LAry8Bh\u002BUeHlYp2BVElIe0qWssIaOGkmYjn85x/1FJAilXDYbr04wa757vJRh7ffQnW6INDsH\u002BOR3I3egXrR4F4Nbr7YYAyNbfEjIFl2xOqCLaSaOuO/RnWNNoIvakA0F/6UVCj5BtJ5LMLvuP\u002BaKxejXFPWR7V6Thg5SzmKbfOw/wha0nDBmRbCIQ4Qz42F4wt6fB3sbcA5KgYAv8uo7s7PPsnnP1im4bNNBCa3WY6as1g\u002BH\u002BHlxIE4IbhqwNlbKTJPQZCznqOi05pan1mpgcCHZgxjet7c6Wo4vx2gPCDp8er0aBf95xS0izxXmzU3np/n41rc975TYmgmeu\u002BGApd5YK1utRm4mY7nvu\u002BShU41ARCNuFjGDQo8kQWvx2w1Lnik7iqHyOl2P0nb9TjOwO0p8XnPCEo\u002Bo2OjMiQUCNISopBm/acTo="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bd8ffda0-2617-b200-5f37-461b49125d07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "170029704",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
