{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b24e438f-f972-0b32-aa2b-6aa1a0256786?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3DAB6FF9\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b24e438f-f972-0b32-aa2b-6aa1a0256786/test-file-dceb62c6-3b24-e10a-beee-822a947a76fb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3DBA2A49\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b24e438f-f972-0b32-aa2b-6aa1a0256786/test-file-dceb62c6-3b24-e10a-beee-822a947a76fb?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "VzhKDIy1tUDg9mSqAD31kvq01+O3gqKkoLkMKbswfoLomJzdzSUpFQYtBOzPbw2+0wE4JfT7qNSVpWvSqIyEsHjiwWihGMTUi8Ldin211DGsTlW691mN7e/IRyi6Vmx6qFN07a6lHbs9Y5kyHh5X39A5Jlo2yrgfVNR42dCcGjRVYuEqQeeDBzCafJS/W87RcGdXgC8SQ96aVJnaLETqoUll3Ls9LJ7pth8pnE0kYPgFp2hoRJoFQx4Cj+xOqdrsr9tLWn8Sk0TJbckQ6KaQdvSg1IXcgVyvX5idOp2xmg1EPO1x2QV58hMkn9bQ9Ft4cRj3rdRVEC5/nPrndVimGNO8zKu5H[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b24e438f-f972-0b32-aa2b-6aa1a0256786/test-file-dceb62c6-3b24-e10a-beee-822a947a76fb?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE3DD70103\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b24e438f-f972-0b32-aa2b-6aa1a0256786/test-file-dceb62c6-3b24-e10a-beee-822a947a76fb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE3DD70103\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b24e438f-f972-0b32-aa2b-6aa1a0256786/test-file-dceb62c6-3b24-e10a-beee-822a947a76fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE3DD70103\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE3DD70103\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABXOEoMjLW1QOD2ZKoAPfWS+rTX47eCoqSguQwpuzB+guiYnN3NJSkVBi0E7M9vDb7TATgl9Puo1JWla9KojISweOLBaKEYxNSLwt2KfbXUMaxOVbr3WY3t78hHKLpWbHqoU3TtrqUduz1jmTIeHlff0DkmWjbKuB9U1HjZ0JwaNFVi4SpB54MHMJp8lL9bztFwZ1eALxJD3ppUmdosROqhSWXcuz0snum2HymcTSRg+AWnaGhEmgVDHgKP7E6p2uyv20tafxKTRMltyRDoppB29KDUhdyBXK9fmJ06nbGaDUQ87XHZBXnyEySf1tD0W3hxGPet1FUQLn+c+ud1WKYY07zMq7kfne4n4XG44oXeaz0kyYW57TnuLL/yPQuSfbt9hwMUJ6++UnsJhvLkV0v5vY6pUI8hXuWD3n/6LF/jlWS1OluBykONZnYJsGZGCdRz+H986CwrXCgdkUkvwyUbJfGOLh3wePJKHOoYF61/PNSqhzTfZq04it4yZDn6XaJQ7Yp1uNq3goCNMsxCEkR7nlR0hTzxO79DVaQ/vhO4UL5HyCoiCYT58wS0UjTh9XeZt8XlhthmX7HKMWI2eMRs1OEN+koaWJTPepE3PemLYl8spQZO08rl4Wl4WNchw3tAR31S0/stf18wFQtHLiHIP88CCdK9HgAXKBnhov+8rjD1s4INbkqkMPWzgg1uSqQ="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b24e438f-f972-0b32-aa2b-6aa1a0256786?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1568745802",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
