{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ac5e7912-a288-f47f-4c9d-5e220ac5fb81?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E0BC7AFC0\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ac5e7912-a288-f47f-4c9d-5e220ac5fb81/test-file-501f8b4a-25b8-875e-4571-000654cbae30?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E0BD6F1EC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ac5e7912-a288-f47f-4c9d-5e220ac5fb81/test-file-501f8b4a-25b8-875e-4571-000654cbae30?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "rqPPVTG/3sYXyKZufKr6LmCs2dukOq5cDEYSdz7cIO49iidXTueAiVBZqQpKGFlBpt4kyT4B9nT0cknqrWeHOqe4MPGDo\u002BB5K1CKSpCkEfTs0dFfuFewPJOyYtudldvp0m9ikudovgL\u002Bq53td6vjT2FV/tyWJ4FQB/Re0EAE25V0oHggQn8MhBLOYQ25wsXnzhN6SJf/U6ruEYryCe3C\u002Bc8HeNYzww3hSHnJx8Z0lkUvdgEtipL\u002BdEzOMjD0GXolDGg9sUrutAsGmP8eNozkeXpFw5PslG88CQOKZJHc7S/\u002Bo7teNuX6QML2J/GT4D7A6ri1[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ac5e7912-a288-f47f-4c9d-5e220ac5fb81/test-file-501f8b4a-25b8-875e-4571-000654cbae30?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E0BF37AAC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ac5e7912-a288-f47f-4c9d-5e220ac5fb81/test-file-501f8b4a-25b8-875e-4571-000654cbae30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E0BF37AAC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ac5e7912-a288-f47f-4c9d-5e220ac5fb81/test-file-501f8b4a-25b8-875e-4571-000654cbae30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482E0BF37AAC\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E0BF37AAC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "rqPPVTG/3sYXyKZufKr6LmCs2dukOq5cDEYSdz7cIO49iidXTueAiVBZqQpKGFlBpt4kyT4B9nT0cknqrWeHOqe4MPGDo\u002BB5K1CKSpCkEfTs0dFfuFewPJOyYtudldvp0m9ikudovgL\u002Bq53td6vjT2FV/tyWJ4FQB/Re0EAE25V0oHggQn8MhBLOYQ25wsXnzhN6SJf/U6ruEYryCe3C\u002Bc8HeNYzww3hSHnJx8Z0lkUvdgEtipL\u002BdEzOMjD0GXolDGg9sUrutAsGmP8eNozkeXpFw5PslG88CQOKZJHc7S/\u002Bo7teNuX6QML2J/GT4D7A6ri1r1XnOHf4AKhGY1B6KavQH5LQhUOVSoLQ9m1\u002BqSnFynnYJj3ZFmpDZTU8tN1yfP1GwsCr72R0H2TTFkIKeld/gZnWoQNt9ggnjSANWZalXnpvOOZoGdoVZAbZBv8oOevevTJDm9r62Mu4hGFEZ8bOLbjImkJxF2e\u002BwD38lPAI/1M0L5tjYsKfdV8ar5V50Pw/CthHX5\u002BpbabKhdud/UTbr4QOEDcqasv1KSTiVmfSRe9AvIkXwJ\u002B0isL1mdznAXcbP/8QasDFFaANUjZ6xxY\u002B\u002BD/rXUC6w\u002B/kWYV0NdHuDSisxxdnwdoueqfoCm1pOcOstqCd/KM3YHsQLBE7UN/PH0UNzv//1zZkvOOZ0bk="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ac5e7912-a288-f47f-4c9d-5e220ac5fb81?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "688094512",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
