{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-c4066f7c-5913-6933-778b-4bf868483b43?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6AA503D11\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-c4066f7c-5913-6933-778b-4bf868483b43/test-file-c8894bde-e210-700f-490c-6b533faecf74?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6AA5CB07C\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-c4066f7c-5913-6933-778b-4bf868483b43/test-file-c8894bde-e210-700f-490c-6b533faecf74?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "bkUUnEB3mnkJOeLqOBNs0kWoM+1ThETws8eHz3HJEgZXYLG3kKliTeB8rcWkLSTVhL9WEajjbOkBJOh48MsIQCfbk9hitUGbRuYN19d/S4WisUqxcgBec/THtmvB6VwUdGydyJpMcs9+u8vB1pQSgdli1j6AVs0mfB/km/7V2V2J+GNq4YLrVj97M7Y1nJ1ftTSSXhMelB2fdkx6aNfQqOFtON0xp6BWd4D/BCMX8d+BhebKQ3pJa2NFy2o2cO1oqovVx2TALQ2UO+eTHo/6h4Vs+OPwBmRmI8x569s1IAaSl1qYQSl7wVfYNQeTtkzUS0PlyncKd6QmbqOYRkExXhvgAIc1Y[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-c4066f7c-5913-6933-778b-4bf868483b43/test-file-c8894bde-e210-700f-490c-6b533faecf74?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6AA6EBEC5\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-c4066f7c-5913-6933-778b-4bf868483b43/test-file-c8894bde-e210-700f-490c-6b533faecf74",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6AA6EBEC5\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-c4066f7c-5913-6933-778b-4bf868483b43/test-file-c8894bde-e210-700f-490c-6b533faecf74",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D6AA6EBEC5\"",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6AA6EBEC5\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABuRRScQHeaeQk54uo4E2zSRagz7VOERPCzx4fPcckSBldgsbeQqWJN4HytxaQtJNWEv1YRqONs6QEk6HjwywhAJ9uT2GK1QZtG5g3X139LhaKxSrFyAF5z9Me2a8HpXBR0bJ3Imkxyz367y8HWlBKB2WLWPoBWzSZ8H+Sb/tXZXYn4Y2rhgutWP3sztjWcnV+1NJJeEx6UHZ92THpo19Co4W043TGnoFZ3gP8EIxfx34GF5spDeklrY0XLajZw7Wiqi9XHZMAtDZQ755Mej/qHhWz44/AGZGYjzHnr2zUgBpKXWphBKXvBV9g1B5O2TNRLQ+XKdwp3pCZuo5hGQTFeG+AAhzVhRlzwN4sY0F3TbX+loJdQVY+HH7Zy04XjehWm1+uytcSe6f2I2UB/X9PImzYYoaGZDcZReWh/73LWDbx1cflxIbe6B7aax3xOCMDiqThOy9l0DMklYDxcHvmKssuECe7aV3l/XZrq/0ZKA3ConUY6h0LiAWQvTMB6Xui8DxWwyv7RCFK+z24/iQ2D213LtIGyUCqJoQiJqgq5BP6xLe8xmThx1pT0fLjUondXq3Fir6lnCr/qJyj2SF1HBMtvjlsdUkEkWd7svtNytP6QMv+ZVlVVSiMwRnIPe403rHfsZRQcOVkvPVXLekzsd3MqZRVerq52GkM37QvPFfI+69jqfSDI8j7r2Op9IMg="
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-c4066f7c-5913-6933-778b-4bf868483b43?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "882128260",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
