{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6c53d8f3-491d-ef1e-308f-5ea84bbe71f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD67E2E8B\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6c53d8f3-491d-ef1e-308f-5ea84bbe71f9/test-file-02fda69c-0ce1-12ec-65b0-b49de6674bdc?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD68D70A2\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6c53d8f3-491d-ef1e-308f-5ea84bbe71f9/test-file-02fda69c-0ce1-12ec-65b0-b49de6674bdc?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "id8NhDouVBE=",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ZXOvo8R2NA\u002B9wvI0trUOOI2Ki3JWXj7S6rFfYYBsOg0/wwNtSF0PpqVZVfnjvvabhCohzOE3eQc13bgTF9KOUYfk9PKyofAwe\u002BTM/QhF7iy6xN1WS24sCEn8OGql\u002B4/SywRx/skD6OI68FD8anz\u002B8O6LWFL1NwYZuOyptmmFin9V\u002BjIE0/Bjt9v6G1odMJ3N/Uh8GaM83ZP\u002BWEbdWjJ5tWXRpnBJ\u002BRz\u002BKKF3\u002Bhyr\u002B4dO27ghCHHbGRyfBnuphVyogWb0TIosgwQrffACxOJ3Uly\u002Bjn55WKz09YxUqvKhVKNEznm1t6[...]
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6c53d8f3-491d-ef1e-308f-5ea84bbe71f9/test-file-02fda69c-0ce1-12ec-65b0-b49de6674bdc?action=flush\u0026position=10240",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DD69B2CD2\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD7321514\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6c53d8f3-491d-ef1e-308f-5ea84bbe71f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1946733416",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
