{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-62f6e73e-6f19-d80e-5b70-fc2488b62cb7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD5A88EFD\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-62f6e73e-6f19-d80e-5b70-fc2488b62cb7/test-file-c0158d31-413b-208b-7338-b26d2648022b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD5B9F40A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-62f6e73e-6f19-d80e-5b70-fc2488b62cb7/test-file-c0158d31-413b-208b-7338-b26d2648022b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "Dz9haTbUIds=",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "No0CeA4X8ET0VgSz2L/m5gEzB8hfK5HOOneZXqVs/2JchBhkcva6BM4TDM71dx0I/m2FbfJBswr7ND2WfpKeiFehVlOngXQKeAP6TB/D2cNakF845pFwG9ENaT64JIY7dIR2UyDJYXz5e/TvRmfrN1t6PO0zZaHFMTuCmhg1UVR8vtebTYWikC/iP2qdgNRqIjHjPueYCA7isCLkR8ZkwymgcoiPT\u002BrV16y9UCY3KLFnGHjnUhNt47XIuZxjvkhofntB/Q1M2tJGDWY627joq4hxfS9OfHEWM4/SxpZOchljVNGq9SujGz2loEStMgj94A4U8kAZGgEKK8l\u002BeRQ7\u002BJtM14[...]
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-62f6e73e-6f19-d80e-5b70-fc2488b62cb7/test-file-c0158d31-413b-208b-7338-b26d2648022b?action=flush\u0026position=10240",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DD5C7D6B9\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DD65F34BF\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-62f6e73e-6f19-d80e-5b70-fc2488b62cb7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1520874515",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
