{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-749d15a1-a049-ea34-0128-ba0984763a88?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE438F0239\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-749d15a1-a049-ea34-0128-ba0984763a88/test-file-0143fff1-fa30-7c18-f105-efa6d6dab2bd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE439F63AE\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-749d15a1-a049-ea34-0128-ba0984763a88/test-file-0143fff1-fa30-7c18-f105-efa6d6dab2bd?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "u+UL2ZJD8X9B5YupS0HHyQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NQqH6Fs/di/YNziLyDrtrgPRSWk1S9yBwij4ZHi0D0LiXMXyyzuMgKQRF3S8WitLOkuEhK9xRektBSYzRxK3Iyf1qWt1++PHRcnFJDRnxWj9rCktMIqTcBfbxMUVWTiSWvNMxrG/1j9ovD/lrCG1xkC+NZroifOdYTlUmTYdsuyQMspAGv63PdbpxXNLrsP1Jf6EVyOeqdD/r2V2azwJSgpTVXlXdatCBvfE/sSAUbN2XnQ3mFvI8on5QGqZQNKa4Hpo+FhJnrBSQlAr2qoLf16xAA3H0bKvimPwXTRAqcUlKh5KF1hbLL/E5FUKnBjf7sEM5z/F0g/IuW31WUF7EpmLBq+Mw[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-749d15a1-a049-ea34-0128-ba0984763a88/test-file-0143fff1-fa30-7c18-f105-efa6d6dab2bd?action=flush&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE43ABBFAF\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE43C53ADD\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-749d15a1-a049-ea34-0128-ba0984763a88?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1669333985",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
