{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-558a8320-5af6-4c2e-165b-7ef584f6013d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D88557F1\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-558a8320-5af6-4c2e-165b-7ef584f6013d/test-file-a1ff39b3-89cb-7a1d-d1fb-1097efc0f1e6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D8AEDA8C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-558a8320-5af6-4c2e-165b-7ef584f6013d/test-file-a1ff39b3-89cb-7a1d-d1fb-1097efc0f1e6?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "ct5aGy36E6Q=",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hr6HUgoNsMNGwq0qXY1Qqnyugvsr5qcOIYtzEWDyc+gOzho95YzFZdgH1NI08Bc62lPNpj3BA6AWeDF/mZ5jVE/FHI9zEsXw6BwiIxHU2jFzODcMJMyqTMp5J2xbRss5pH+DbtOIx8eO3b4gn9+OQZ3/C2FnVjCDGs/E+etYlaFQ6H+SUWtd6nFvfkYNia3q6+XPWztq0k1PAFQEw83bNUgdz7dg/PAxoiDw99fpdZAi2Q4GiDpm5hYxQ1EXWSejlEj+8Lr2iu8=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "ct5aGy36E6Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-558a8320-5af6-4c2e-165b-7ef584f6013d/test-file-a1ff39b3-89cb-7a1d-d1fb-1097efc0f1e6?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679D8BB552C\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D9093BD4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:47 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-558a8320-5af6-4c2e-165b-7ef584f6013d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1014453513",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
