{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-13c72d07-b33e-d6c0-10ca-71fad275da05?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797C7FAFF5\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-13c72d07-b33e-d6c0-10ca-71fad275da05/test-file-025cbafe-15ea-3458-31b7-fa28c45ebad6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797CB0804C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-13c72d07-b33e-d6c0-10ca-71fad275da05/test-file-025cbafe-15ea-3458-31b7-fa28c45ebad6?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "QZNx6HNzBiGHtsJHdlsI457ppE6a6qSoGJzrFw//V5+qFyQ6u0IU4325aamlSGAWWfMHzwz9i1bvydDWh+4Rh18inF83zSdc1MHQ4YH6A9A81b4c94eSrIvNS/JyPVuPp+FKgqsB3ovMq/pLLKnV9MUAmrEv9Y/Xj/DTaoE06ZZlQTqfsIEkOvcyUEyNR3/h91YtcqOpX7JScvK7LXQKl8Jj5utvNkNE21+6/KVDSkhw8nIqB3fzu+GHTT6OaQyCKLiKKWCUccES6JZD7mMNDyipSzsB349KcCoJ6OkFtXJSONTsuSDn24GxFx7hsM1+ej0V5R7RgEkoP7k2ionYDDMk8LaPI[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-13c72d07-b33e-d6c0-10ca-71fad275da05/test-file-025cbafe-15ea-3458-31b7-fa28c45ebad6?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86797CC9122C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:12 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-13c72d07-b33e-d6c0-10ca-71fad275da05/test-file-025cbafe-15ea-3458-31b7-fa28c45ebad6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86797CC9122C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:12 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-13c72d07-b33e-d6c0-10ca-71fad275da05/test-file-025cbafe-15ea-3458-31b7-fa28c45ebad6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86797CC9122C\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86797CC9122C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:12 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "aAuF0vASPoo=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:12 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "QZNx6HNzBiGHtsJHdlsI457ppE6a6qSoGJzrFw//V5+qFyQ6u0IU4325aamlSGAWWfMHzwz9i1bvydDWh+4Rh18inF83zSdc1MHQ4YH6A9A81b4c94eSrIvNS/JyPVuPp+FKgqsB3ovMq/pLLKnV9MUAmrEv9Y/Xj/DTaoE06ZZlQTqfsIEkOvcyUEyNR3/h91YtcqOpX7JScvK7LXQKl8Jj5utvNkNE21+6/KVDSkhw8nIqB3fzu+GHTT6OaQyCKLiKKWCUccES6JZD7mMNDyipSzsB349KcCoJ6OkFtXJSONTsuSDn24GxFx7hsM1+ej0V5R7RgEkoP7k2ionYDDMk8LaPIFUHwW+6UMdxacBdi22r8NBUgbeLw3lnsVD32QrrvL8W71noDiOuFzCBt9b52f8bLBxi0G/+BF3cnxAewna8hqwARpsUw+GtpWqHCQyjbtdR3KzuiOxQGOv8C24Tj1S5xDEp+JNjB2k7tSoFdvpROTE4zeXKzv3AsC6wF7dzmhUVzUTbeXZE7dVCs9PBS6Hwq9I92sJu7/YzaUdks++yyBsU76m1dr+69OAQhxsq/mWNv2zlNb9Tpt5Opw8v3zrmkOu3rVv4OzUSgubhXmjaCWvh1/OCzZJbwEjKZ86vixSmKfYwclEKlIQ30rLZckd2c52kTQhGY8NYXOw="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-13c72d07-b33e-d6c0-10ca-71fad275da05?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "170946320",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
