{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-b01c06a6-7f61-b902-915a-bcc543b13f6d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679C927207B\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-b01c06a6-7f61-b902-915a-bcc543b13f6d/test-file-aed5535a-2f5c-7a1a-dc2a-d175a8fe948c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679C957944C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-b01c06a6-7f61-b902-915a-bcc543b13f6d/test-file-aed5535a-2f5c-7a1a-dc2a-d175a8fe948c?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "PL5Mfhu7MpPhShu03GE+RpfLP5N7d5K7Z5jNIQ2mnd+lrWS8/kTVyn2j5pCtmHsXa7/nanR0ecUskBaD7RGFO6w7Di79gkdS9XUV15ECDc8dtbVNvzJrMTSekG4tUtxsHavjcolMGul4lHT/XqE0KYJHZjhbOHt60Nz6XvLZJKOZqbnlH5tF0JvM1Sq+a9KSambr5uykEeUvaaGsUbv3nnDRZbXoTgrmAZWcjmJRu2QKZ/OL7T239ZjTtrX6mH7f1Ta67AYcqhxcBOVWB4KD3q08ourHa7AyGnAdFJdU7GgWvbgsl89e7b3XL+lYYO4VUNgIvfaUGGqFh9KV/5WEBxh8P0nJV[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-b01c06a6-7f61-b902-915a-bcc543b13f6d/test-file-aed5535a-2f5c-7a1a-dc2a-d175a8fe948c?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679C96EC018\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-b01c06a6-7f61-b902-915a-bcc543b13f6d/test-file-aed5535a-2f5c-7a1a-dc2a-d175a8fe948c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679C96EC018\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:41:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-b01c06a6-7f61-b902-915a-bcc543b13f6d/test-file-aed5535a-2f5c-7a1a-dc2a-d175a8fe948c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679C96EC018\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:19 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679C96EC018\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:20 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:41:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "PL5Mfhu7MpPhShu03GE+RpfLP5N7d5K7Z5jNIQ2mnd+lrWS8/kTVyn2j5pCtmHsXa7/nanR0ecUskBaD7RGFO6w7Di79gkdS9XUV15ECDc8dtbVNvzJrMTSekG4tUtxsHavjcolMGul4lHT/XqE0KYJHZjhbOHt60Nz6XvLZJKOZqbnlH5tF0JvM1Sq+a9KSambr5uykEeUvaaGsUbv3nnDRZbXoTgrmAZWcjmJRu2QKZ/OL7T239ZjTtrX6mH7f1Ta67AYcqhxcBOVWB4KD3q08ourHa7AyGnAdFJdU7GgWvbgsl89e7b3XL+lYYO4VUNgIvfaUGGqFh9KV/5WEBxh8P0nJV0be3rQt7zvH2rmCB8S/TC5ygqROpg/8ye0nUyjQ2yCkS/mRKt9BZyguvawYEvjRxbvpCr2le7A34RXHBZwT9/+Z3rvLLiJPMBp8IOhi5Lb1Vo5s5tBj/9BIWkjJemKLGsatfzQ8BZeZmtmiKFvI1Pxf0a4OphAuNd/qg9PZhba48AUhtWWBuFD300z2wdZ1f4ZLaqizfXS2f0lVUYLDvxQi6TdWph+X3RhdF9LDN3QIdQNNjRoOBXOQazYbLGfOMxQ31NeeH9lms42PVWWh8kfVTNx+dTH5FOTDxTrofLCxj+O+jGOcaVUq5tqNf68O73nuRd+LT77iPsA="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-b01c06a6-7f61-b902-915a-bcc543b13f6d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1752721191",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
