{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-abdaaf85-8afa-0d74-3d26-37bd47674cf4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0461B68DE3\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-abdaaf85-8afa-0d74-3d26-37bd47674cf4/test-file-dc7567ed-53c2-6325-df88-aa6fcd70fb1b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0461C47777\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-abdaaf85-8afa-0d74-3d26-37bd47674cf4/test-file-dc7567ed-53c2-6325-df88-aa6fcd70fb1b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "RWh3+zIWktpVrWE14mCTXFqky28HdEFQ3KExHxvfTAXyJc4RadBf2kWFggQcm0wJgjMgPHhiedEmJh6R5XK/dWBbQ72RgvKJRPApgvI9M0BVJ5znvhCNkKv96kOyzvXSxQyjwViOdwBBl/eHOPbe6fPdPL3W17ZQzbIRlJeu13b7V7zlmXLoxrCbpScZBVi0HgFQ1JI3/O5WU/OlfeNpksCAjOE6+FCA9XUNOjGON8haXHWWXgLkxFrOj0V+QknMMhNnmHl3eiWwz98cKcK8xxwrSyBt0zS9nMiGa2kKArIsQAceJ55O4+FP5Y4jyJqYEscpU/coX17fqfyx8A+8ps0t7+m6n[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-abdaaf85-8afa-0d74-3d26-37bd47674cf4/test-file-dc7567ed-53c2-6325-df88-aa6fcd70fb1b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0461DE19F3\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-abdaaf85-8afa-0d74-3d26-37bd47674cf4/test-file-dc7567ed-53c2-6325-df88-aa6fcd70fb1b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0461DE19F3\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-abdaaf85-8afa-0d74-3d26-37bd47674cf4/test-file-dc7567ed-53c2-6325-df88-aa6fcd70fb1b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB0461DE19F3\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0461DE19F3\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABFaHf7MhaS2lWtYTXiYJNcWqTLbwd0QVDcoTEfG99MBfIlzhFp0F/aRYWCBBybTAmCMyA8eGJ50SYmHpHlcr91YFtDvZGC8olE8CmC8j0zQFUnnOe+EI2Qq/3qQ7LO9dLFDKPBWI53AEGX94c49t7p8908vdbXtlDNshGUl67XdvtXvOWZcujGsJulJxkFWLQeAVDUkjf87lZT86V942mSwICM4Tr4UID1dQ06MY43yFpcdZZeAuTEWs6PRX5CScwyE2eYeXd6JbDP3xwpwrzHHCtLIG3TNL2cyIZraQoCsixABx4nnk7j4U/ljiPImpgSxylT9yhfXt+p/LHwD7ymzS3v6bqeoH3caD8e7qWa1C3uWaLhrroE4ag/faKd8tKTPsH22LHdcyasdo/pQXA5DyiDArUZxR5y6wcSXiPbPnVsiq/jo/t8EeV7NDgrGqA4BW16Gu8ceXmjg+ypyhUD0DcZfLbBVmssBvHQnpDmRtBn2lm1YSSGUBE1QCAO00bQd2MAEp7qdq8BTRP+S9rpvD0cQfC8Tm8TkyykixVLHTOqACcs5jQyfWOpsxMQhwQ3TIPi8pFVFCn07H5yReuZtjDgU0uzvNYI6cSNEptcAgsnbT6SaCqhVev+OPm1wDd3D/3jLzO4g5Cs2gjMyAGOl+lzStitB00FP/5ftYTdUo31Z3bkwSkJjfVnduTBKQk="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-abdaaf85-8afa-0d74-3d26-37bd47674cf4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1700811189",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
