{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-0de96292-c637-8dc0-d25e-6826566b8018?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA668FD0E0\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-0de96292-c637-8dc0-d25e-6826566b8018/test-file-d6ea00ba-b422-6c95-5433-439b0643e765?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA66A95B14\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-0de96292-c637-8dc0-d25e-6826566b8018/test-file-d6ea00ba-b422-6c95-5433-439b0643e765?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Ib+ppvUFjoG9UvuU7+ttyRkEKZYpkGgS8Udg1BiXnZh547NgX51u9zDAMlwQBf/KIi7z9FGSypFWlrWtpbpoJrViGws4DGp8ljFlaF0MAuxIlbHqo6hG5xkhCsnowVJ2WAymrer0khbEd14fLGEzSZTJZBAIfYIMHDPxFgKgk9Tf7g9RZVQBVAKbJitKJrq37cA1H1xCbtqJmpG2AnsUI+OJQD5S4uQ/xxANbVdXwfV5OSlBa3R3nYA1x8rDS1GHhgNHwOZ8ZQvb9ldMNAGDMtibPclS0rhvEqO9HBoZe3y+huZUDwEP/dMdZXUdK2h/sZXyKA6HNLNK2K5Cvknwwnraja4aL[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-0de96292-c637-8dc0-d25e-6826566b8018/test-file-d6ea00ba-b422-6c95-5433-439b0643e765?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA66B63FED\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-0de96292-c637-8dc0-d25e-6826566b8018/test-file-d6ea00ba-b422-6c95-5433-439b0643e765",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA66B63FED\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:17:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:17:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-0de96292-c637-8dc0-d25e-6826566b8018/test-file-d6ea00ba-b422-6c95-5433-439b0643e765",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5ABA66B63FED\"",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:59 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA66B63FED\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:59 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:17:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:17:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAhv6mm9QWOgb1S+5Tv623JGQQplimQaBLxR2DUGJedmHnjs2BfnW73MMAyXBAF/8oiLvP0UZLKkVaWta2lumgmtWIbCzgManyWMWVoXQwC7EiVseqjqEbnGSEKyejBUnZYDKat6vSSFsR3Xh8sYTNJlMlkEAh9ggwcM/EWAqCT1N/uD1FlVAFUApsmK0omurftwDUfXEJu2omakbYCexQj44lAPlLi5D/HEA1tV1fB9Xk5KUFrdHedgDXHysNLUYeGA0fA5nxlC9v2V0w0AYMy2Js9yVLSuG8So70cGhl7fL6G5lQPAQ/90x1ldR0raH+xlfIoDoc0s0rYrkK+SfDCetqNrhovIteMQPY0bUJR5jo+a4UnU243UjIJNlLMPooto/pCnblkgnMam86R/0YHhscHgN1rmiZsVlznJuuEvwFrB8pID0mB2egRDLegpVLsAbCLxL6swgjT1kdcfFyHltzMJfh8v3d+hqb1WY5vy7AK+yQ7+PpDv0TBdDkBJFyMinXb1IBacEE5DD0Xtml5ZAqWUoE3TJ3hiGWzuko9fGFJac4YlPcwr4viAey8KwjbRxAvatHbVD7Y+UsaprX2+5DczU2aYdASZqP2VUqxJFxd2HI6DhKQbhSQQJqsFQjV6wVc4F26QOZAHAMu5f/zJtXuvc5DvO19S184CSE1Zl/Ur1Iv+f+tX9SvUi/5/60="
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-0de96292-c637-8dc0-d25e-6826566b8018?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1761621471",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
