{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4d29ddb4-8652-e9f7-c6e6-e996db1d172e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0461404C50\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4d29ddb4-8652-e9f7-c6e6-e996db1d172e/test-file-bded8236-c3f3-7814-acc1-1450c27c6160?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04614E35F5\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4d29ddb4-8652-e9f7-c6e6-e996db1d172e/test-file-bded8236-c3f3-7814-acc1-1450c27c6160?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "rrBPRcOx9Il8c2L7vblQYrpryR6oXwS6JYvxCw5HZC7RDpDnFOa5GsjrO7Z2yT7E7rlf5fNmEU6rlSA4wOl6NA80Ka8paU7Tsa5VvSRNRFxMLBxU5347a/xBO3/GgFrfcQenQaCPmoVrizREEFQpXlHD7JPMJUyQ+b2y5y3PDTBUdksdpgK7vZGX6VtK9luoF90uApTGEky6F0fi3LNYnH4D75kIDLdOBy8BNTvwRQJiCs9PoQucjWP/Yo662eHePk3dRgbBoAsm3/pkxdwQydFFgNHjCPpzZ2I2CKkolC5OI/fuE//8oGnEKcEQN8iG75m9dVgP+jVSat+ki5dh/UvLFqHlI[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4d29ddb4-8652-e9f7-c6e6-e996db1d172e/test-file-bded8236-c3f3-7814-acc1-1450c27c6160?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0461719C5A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:26 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4d29ddb4-8652-e9f7-c6e6-e996db1d172e/test-file-bded8236-c3f3-7814-acc1-1450c27c6160",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0461719C5A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4d29ddb4-8652-e9f7-c6e6-e996db1d172e/test-file-bded8236-c3f3-7814-acc1-1450c27c6160",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB0461719C5A\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0461719C5A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACusE9Fw7H0iXxzYvu9uVBiumvJHqhfBLoli/ELDkdkLtEOkOcU5rkayOs7tnbJPsTuuV/l82YRTquVIDjA6Xo0DzQprylpTtOxrlW9JE1EXEwsHFTnfjtr/EE7f8aAWt9xB6dBoI+ahWuLNEQQVCleUcPsk8wlTJD5vbLnLc8NMFR2Sx2mAru9kZfpW0r2W6gX3S4ClMYSTLoXR+Lcs1icfgPvmQgMt04HLwE1O/BFAmIKz0+hC5yNY/9ijrrZ4d4+Td1GBsGgCybf+mTF3BDJ0UWA0eMI+nNnYjYIqSiULk4j9+4T//ygacQpwRA3yIbvmb11WA/6NVJq36SLl2H9S8sWoeUittJJ32cf3zliL5qvGRBrHtU/KMGbqB9XFNJiLHZEISahzeLqLHin21YZB68J3H5RkSz213kkhg2y8cqVvLPCHQ50DUwtgPJcmExqgqBwTjhUEZpKTkqsfEbVODutER+jVuqhlc4yIxA5mT8tuQNsQqKSQaoYeM7Ex5EFWEi3r4Ysxyy2z7lqIe6JELULf8JCaPaYG9B1i90b3c09LcvIguq4APLXtnLpKB+8jmgZuUfOwvBRHpO2tzxOm/HrLPQjwI7LUn/Pa7KDrvOwufx0AiSGbmrad2NWAki2iBuA/vsqmc3aTWbI/lY+zm+gBf4/2ZjNZb2JSEkqdKGFxwimmHmjoYXHCKaYeaM="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4d29ddb4-8652-e9f7-c6e6-e996db1d172e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "608598593",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
