{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-8b93514d-d5b2-78d5-6240-e633fc65d9b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA6FB6684C\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-8b93514d-d5b2-78d5-6240-e633fc65d9b7/test-file-5875c3c0-e201-375b-8e56-20f208d0a853?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA6FD24964\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-8b93514d-d5b2-78d5-6240-e633fc65d9b7/test-file-5875c3c0-e201-375b-8e56-20f208d0a853?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:14 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACtu2HxaGZ5bUgmCwTwSm5noVoi9mQLFiwJf2tbrnuu6/s63E6ariKqi5OFeog6HbPLyexkcrxFoqQ05+j6Hr/NeCAItW0gzfM3d2rRhpykzmK4kOWOSXg/9TqqZsY5r23TtwJoMWhFqvv5LPpRcxsIkBiGQY7ZPi6nycAzdmcs/cj9/c6ZPJ36c+XplR1+7oEeodats23f+nnUwGioETSUzC4yVHZMblR7jM6p8KgQKNo+FNSRf0paHgNVxXs1UWGwVcnvTJkL0TKCMSafNQnQw5eNafxfA0zj1zZy96nYRjps+JvfIdxAM0OiD04kuuj5hQLkp+hkUFF9C3RjmNqJqevsMj1u8aK6TDW5vfP+vx1NeHKm855RB6dJYRVn3ZtoGGViN4e[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-8b93514d-d5b2-78d5-6240-e633fc65d9b7/test-file-5875c3c0-e201-375b-8e56-20f208d0a853?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5ABA6FD94FA8\"",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA6FE5E809\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-8b93514d-d5b2-78d5-6240-e633fc65d9b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1810033595",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
