{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-91944c3b-af15-2ae3-343d-ee3c918ee42b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE6EF14AC7\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-91944c3b-af15-2ae3-343d-ee3c918ee42b/test-file-63b77e2c-2481-74d9-7d9f-f8332dd24379?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE6EFF7E10\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-91944c3b-af15-2ae3-343d-ee3c918ee42b/test-file-63b77e2c-2481-74d9-7d9f-f8332dd24379?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "+AhtBVuH1o+h9snBI35YoDDAOEyaYOwOOk6CjAbK3l6XMm3JJgfSe25k40jXUMjP6QSw/jBvvpccXsoNBEmI1hhrKfERj3oo7r3eNnykN+mFs6MCGt8tKHTVrMc9xXcl2w0vayfXvlmKhxBzkYgbdybgh1Glhrs5PgF8POKz6ylFuFpvdMzCrvRKeJPOuZbruTWgXD4mf1RR9iwmWoJ215vmLdgtrANaHdhcWw4naoRqkIKtEo7rHzkFHX2fnFRx06D454u9vg0xRj5lySRGKYuou8kAycQM+w6fJ46FuoGD6odtL4L4rNJ1e8xQhVYUv/Py9+CLcQrc6+x9HpZ+rIu84d6c2[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-91944c3b-af15-2ae3-343d-ee3c918ee42b/test-file-63b77e2c-2481-74d9-7d9f-f8332dd24379?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE6F19BC9B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-91944c3b-af15-2ae3-343d-ee3c918ee42b/test-file-63b77e2c-2481-74d9-7d9f-f8332dd24379",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE6F19BC9B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-91944c3b-af15-2ae3-343d-ee3c918ee42b/test-file-63b77e2c-2481-74d9-7d9f-f8332dd24379",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE6F19BC9B\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE6F19BC9B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD4CG0FW4fWj6H2ycEjfligMMA4TJpg7A46ToKMBsreXpcybckmB9J7bmTjSNdQyM/pBLD+MG++lxxeyg0ESYjWGGsp8RGPeijuvd42fKQ36YWzowIa3y0odNWsxz3FdyXbDS9rJ9e+WYqHEHORiBt3JuCHUaWGuzk+AXw84rPrKUW4Wm90zMKu9Ep4k865luu5NaBcPiZ/VFH2LCZagnbXm+Yt2C2sA1od2FxbDidqhGqQgq0SjusfOQUdfZ+cVHHToPjni72+DTFGPmXJJEYpi6i7yQDJxAz7Dp8njoW6gYPqh20vgvis0nV7zFCFVhS/8/L34ItxCtzr7H0eln6si7zh3pzY+QmvDvaKTfi8dbeKaJqTwqH4eX2RQ5Z7jjv2z0CTo3h45vroR9GU5rzkL3bFky7kGckb6WUfRrZyNIC6lH63KNI/EoGgqnrPY5LBrRQftfoNEbZ3d7kSWZ9DdhNR2VI+LAakhYGsQ25OTIbTXpmhUn6FrYLHP7EYLLnhXDRnfok/goANey95Yc5HKSszP/sGoiOUyyzPdu1Vi1jIyuc65s38k9sZlNdODEu0gBWF5Oy927oQ0rJccAyTt+/XsJfnDEJeN6wf7Q1MRb/hGvbX0KdrCu4sKRQanyLPhdznd1u0zXPTJ61Anu6sxIzze1YVu+dIa6aouuMuQ3GxEMZAPfL1cbEQxkA98vU="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-91944c3b-af15-2ae3-343d-ee3c918ee42b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "879577883",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
