{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ee90d0e6-cbf9-9d5e-930c-cfc6e2f2facd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679927EE3D2\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ee90d0e6-cbf9-9d5e-930c-cfc6e2f2facd/test-file-e1168824-3b30-4d73-fd5e-79313164450b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867992AC1348\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ee90d0e6-cbf9-9d5e-930c-cfc6e2f2facd/test-file-e1168824-3b30-4d73-fd5e-79313164450b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "OalTbw8/FJo=",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "dDxRJIM7CeHsYk7p102Z9DlK7Vlj2RFGWtKjUss4FKnCwZ3HTa4BnH+tNVnUINQx7URy0Aj0z5sqCsqxl7cWs02kJxav0qaKSFDataS4cTr9cWSGxkOgzfECnELkTwTIloILMPi+gRud6Ie4Ghr2cpmQsyVSj+0JA1klrTZkpflLER4irUFBP+9J6N286LPWCyqpVJvedQaUASyemNTkOUOObAj71MRYTnQ2CacPTRqlTqILulFdbJwYjasUoqYbZK6aLnyr2zc=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "OalTbw8/FJo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ee90d0e6-cbf9-9d5e-930c-cfc6e2f2facd/test-file-e1168824-3b30-4d73-fd5e-79313164450b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867992B768FC\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679930742B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ee90d0e6-cbf9-9d5e-930c-cfc6e2f2facd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1018896317",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
