{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ded36d4f-8c12-f8b1-0707-a0fb2ed56d64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0465F374D8\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ded36d4f-8c12-f8b1-0707-a0fb2ed56d64/test-file-81dabe02-fbe1-a957-1318-cab456eff796?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB046601FAD6\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ded36d4f-8c12-f8b1-0707-a0fb2ed56d64/test-file-81dabe02-fbe1-a957-1318-cab456eff796?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "83/F/HP/xT9C65slDlsb/Dl8RBVknvGgIORuhTdt9TW9w2JdRtKwt1Mwi4feye56nNuEdckZVVSOJduPkUAH1PZmZ0r4vbVnzI3CNBJpwVb19Olc6YBrpG4OzyH2ISUSKLeReGGkgd4mHag8VyFBJGOFmZ1Xq+t1+sPb6u6UcKpnrwtb2En0UHIKNcvXL0xMzau+cIeIu3zLG32dyJfwkaz+1agV5UsakEkqTHUfncp3jx1D1gAj3vSOkL3LVofbGaQf2VqkNudfo98+XW4Gq32yJjl6rbus2/azh1SOTjrBTzLRAMRw0lg14zIg5ICFh+Q/GDBOYWzoc/5k8K+T0VWlfQ47N[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ded36d4f-8c12-f8b1-0707-a0fb2ed56d64/test-file-81dabe02-fbe1-a957-1318-cab456eff796?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04662E8927\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:34 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ded36d4f-8c12-f8b1-0707-a0fb2ed56d64/test-file-81dabe02-fbe1-a957-1318-cab456eff796",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04662E8927\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ded36d4f-8c12-f8b1-0707-a0fb2ed56d64/test-file-81dabe02-fbe1-a957-1318-cab456eff796",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB04662E8927\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:35 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04662E8927\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADzf8X8c//FP0LrmyUOWxv8OXxEFWSe8aAg5G6FN231Nb3DYl1G0rC3UzCLh97J7nqc24R1yRlVVI4l24+RQAfU9mZnSvi9tWfMjcI0EmnBVvX06VzpgGukbg7PIfYhJRIot5F4YaSB3iYdqDxXIUEkY4WZnVer63X6w9vq7pRwqmevC1vYSfRQcgo1y9cvTEzNq75wh4i7fMsbfZ3Il/CRrP7VqBXlSxqQSSpMdR+dynePHUPWACPe9I6QvctWh9sZpB/ZWqQ251+j3z5dbgarfbImOXqtu6zb9rOHVI5OOsFPMtEAxHDSWDXjMiDkgIWH5D8YME5hbOhz/mTwr5PRVaV9Djs1q7lCU+FEyomL9nUu/29ONgpy7cbpjMUM4qiiEt17ZnFJUjmG1dxsHKFe6AjuwrAjgh6bCiB0Sx/zNnE5oresEI8D5Kw2yGAtBtEkiqS9HiD4f4++31xR1Acakp9rM3rqsth46t0D7Lq+bgRPUMF6NhhQQCMn7TAzshClHDXBwdJXOtfMRTND9JLVAHFYAYRFn1yHGvJWwsSnRTfMXdCE/awx+BXprvHkDUyQUu2+2rCLX3zZOabgAHcSJP/7dpfCUALFJglvXPFqog2mxnDX6WqGQP1Tq8MFUfid1onx6Je0zgHr+bSnHAOLbpeZOTkGOzuVdDWZbqU/vx6R/4gabPigHpH/iBps+KA="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ded36d4f-8c12-f8b1-0707-a0fb2ed56d64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1450853347",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
