{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6b627db6-2841-1119-5fe8-10005d6b700b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97B156863\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6b627db6-2841-1119-5fe8-10005d6b700b/test-file-4a102416-fbf0-bcd6-1cdf-a05cb6fb06d0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97B25082B\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6b627db6-2841-1119-5fe8-10005d6b700b/test-file-4a102416-fbf0-bcd6-1cdf-a05cb6fb06d0?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 16:07:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ni\u002B5I10RJVsdAerm5Oge2gj56vNesvLzm2CFFfFvx4zTqpLCy7y4A0OxoRe4CQ1hQI/onwmUOuw9xoj9ixBprTpeEzpWXA9LQOavrBDbO5FSI9RihyeDPm\u002BlhQQ0u3gyR/PdWvbSC\u002BSAnF8i5I7bYor2qmc8ByUS2tTLsNYKFoVufWQc/eCafxjw4uvIYFrgyiJ5PRAQ9kDOyn8hBlsNdYXZtGcpvmSpXCpPTCU5SXl66\u002Ba0kNh0XYYkTjJheHm94mxl7qzytwu90OHmwaoalIEFpxt0WeWsZVbhBHAySOOxkmm501vNhzPa9sD3jpzbCbmxW9FdS[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6b627db6-2841-1119-5fe8-10005d6b700b/test-file-4a102416-fbf0-bcd6-1cdf-a05cb6fb06d0?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF97B41B7EE\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:47 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6b627db6-2841-1119-5fe8-10005d6b700b/test-file-4a102416-fbf0-bcd6-1cdf-a05cb6fb06d0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF97B41B7EE\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6b627db6-2841-1119-5fe8-10005d6b700b/test-file-4a102416-fbf0-bcd6-1cdf-a05cb6fb06d0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF97B41B7EE\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:07:47 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF97B41B7EE\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACeL7kjXRElWx0B6ubk6B7aCPnq816y8vObYIUV8W/HjNOqksLLvLgDQ7GhF7gJDWFAj\u002BifCZQ67D3GiP2LEGmtOl4TOlZcD0tA5q\u002BsENs7kVIj1GKHJ4M\u002Bb6WFBDS7eDJH891a9tIL5ICcXyLkjttiivaqZzwHJRLa1Muw1goWhW59ZBz94Jp/GPDi68hgWuDKInk9EBD2QM7KfyEGWw11hdm0Zym\u002BZKlcKk9MJTlJeXrr5rSQ2HRdhiROMmF4eb3ibGXurPK3C73Q4ebBqhqUgQWnG3RZ5axlVuEEcDJI47GSabnTW82HM9r2wPeOnNsJubFb0V1IiYa5iVYRspuLh/40LkBhwCU4H\u002BeZYiW11rkF\u002BraA7BFUSeAyGtF2doE/azj5Wm2bqPmLIrJ1riZhA7KdDLflCprs4OVgL6VTwqhmWvfsvHxLalK99Mle3pu50Bcf2GnJWmCdDHmIOnhTOGAJD1MvdEc1UqJkKBbQjQFJpl6ONOk/nACXTq8Dwi/ZabxpVc9HilvP6obHZDJJzX54PpQaxAN3ynJTlyaXMo9zir5ZZzgyAhsCv0lidzjNTYEwioOav6S48Ypd8/I1N7j2VNlz8GVGRjx5FwW6FFI5hUqlZ6cM2MsZoHWu1A8ozYeRbCNeWl0b6kRHIaee/t03I22okNAQ6nsOWU/wmDXAjVIdypm5NcCNUh3Kmbk="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6b627db6-2841-1119-5fe8-10005d6b700b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1989673951",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
