{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-97cdafbe-6ce6-680d-0caf-7a5201e03274?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB046D944837\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-97cdafbe-6ce6-680d-0caf-7a5201e03274/test-file-e9251182-e1ef-59e8-08a5-03b187283f6b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB046DA23218\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-97cdafbe-6ce6-680d-0caf-7a5201e03274/test-file-e9251182-e1ef-59e8-08a5-03b187283f6b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:48 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "200",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ae8AAAAAAAAAAQABAAEAyAAAAAAAAAAL9D4Bz9+XqVcJdn17L9EoMK9H7is1m86++y/Qgr2kzvkN0qGkffwsfAulz+P8bed/aWlwCoC41lhwQtOvxieaZaiDbl0whLOyG3IfkMzrwY5HURhTNMN5VPtINDsofLXkCmk7eP+KT+W2ve8NmUWMhYFFZ3UORjDkChlh51B3ip69O4Vir0iOvQIznHfUa7u2vK664xU/1cM5Vm7mKGiUPjNQUF6/KtU4tqlz26q5D55eqyqhvaaJfWXCKVjZp5Sanl1EhBtd9lf7VQ/6U4EYV/tVD/pTgRg=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-97cdafbe-6ce6-680d-0caf-7a5201e03274/test-file-e9251182-e1ef-59e8-08a5-03b187283f6b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB046DB0B0FD\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB046E0AB815\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-97cdafbe-6ce6-680d-0caf-7a5201e03274?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1833173261",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
