{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-bb4dd36c-a61c-7528-1909-fb17c44b5cbe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D3B88A94\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-bb4dd36c-a61c-7528-1909-fb17c44b5cbe/test-file-787eef16-7660-ba23-8c13-adcd99721cf0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D3F31FA4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-bb4dd36c-a61c-7528-1909-fb17c44b5cbe/test-file-787eef16-7660-ba23-8c13-adcd99721cf0?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kLQl/DcUNKivZ62kAqCnxX21yGGiIaaeqdVLguozZU1AFvYZLY8POi4Ai7Gm5L20zhNzy/jW6m8NhlNiybG+ewFgY+uqjpjtpo0yopX1+MQXlrPWwJlVaiyGC6Y8rHB8QRCvRoHRCkB7hSVqo0faGI6PSjL+57toCvm/I4PxsfkctmGFRbFCRoxzWzpz6sbkrPIYrGI+fllURzuHEua8idQsTe3mVdLdTASmi4uB9B8y2neQ2QSX3jgHMP51uzOlttFmR53Z/lcgOmBdl/LN0lIbVTdvLLDPlW613yTTaJHQANW6G62CWdwgb56jOUdFOV2rWWX8NokhlrEuJB4yTNLPjZcdE[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-bb4dd36c-a61c-7528-1909-fb17c44b5cbe/test-file-787eef16-7660-ba23-8c13-adcd99721cf0?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679D414F648\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-bb4dd36c-a61c-7528-1909-fb17c44b5cbe/test-file-787eef16-7660-ba23-8c13-adcd99721cf0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679D414F648\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-bb4dd36c-a61c-7528-1909-fb17c44b5cbe/test-file-787eef16-7660-ba23-8c13-adcd99721cf0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679D414F648\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679D414F648\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "jjdE7f5PhHc=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:41:38 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "kLQl/DcUNKivZ62kAqCnxX21yGGiIaaeqdVLguozZU1AFvYZLY8POi4Ai7Gm5L20zhNzy/jW6m8NhlNiybG+ewFgY+uqjpjtpo0yopX1+MQXlrPWwJlVaiyGC6Y8rHB8QRCvRoHRCkB7hSVqo0faGI6PSjL+57toCvm/I4PxsfkctmGFRbFCRoxzWzpz6sbkrPIYrGI+fllURzuHEua8idQsTe3mVdLdTASmi4uB9B8y2neQ2QSX3jgHMP51uzOlttFmR53Z/lcgOmBdl/LN0lIbVTdvLLDPlW613yTTaJHQANW6G62CWdwgb56jOUdFOV2rWWX8NokhlrEuJB4yTNLPjZcdE7elmfxbTrwSK1wnb6bGKA4r1MlLmIX7UzS97SPM1KuvKCWmBsBpoOfMD2pVB7R4bCTEpLjN0XsyqUXHnWGZRlewd0eAHyFNwTPifokapkyARYH/By/y4laqc1x6oQOGM8gTpI9s90wCduKF61LxGAP5Rljgmj4nvpXx1qzF0yAwW0rABwG8FE00/JFNbfYDuFtZgVuqppmK6+b6eyGgPaPCVI8HMBEBPDILq52s2VCe7R1QbFHEhrWxNhsawpkrlL/uixln+4hKV0Uon/r73RGWW40DUNBR/c7aVvn15nmY3xfevk43N/KUBRUMm+a6tVgJhGYMKETunI0="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-bb4dd36c-a61c-7528-1909-fb17c44b5cbe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:41:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1661738560",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
