{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-607ae0ec-c8ab-1ac1-cf1b-c2b8a98bdf6a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0484C75367\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-607ae0ec-c8ab-1ac1-cf1b-c2b8a98bdf6a/test-file-6132111d-0525-806d-2563-302f204b44d3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0484D516B2\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-607ae0ec-c8ab-1ac1-cf1b-c2b8a98bdf6a/test-file-6132111d-0525-806d-2563-302f204b44d3?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "MIqE8hqHl0SeONzWJuBcegVBEtLWUxuKoCo4W8Rf44GXQbAzzyNmHT5v7RbEl0CHnGndHu9pid1u+lHwTzuAP1VaP+QwKKrh2/WTZ2UFxgnpsb9bgcSSLrjTxNTSdc4D763AaVhcV3O++0L51iJ3aTRIBp18JL2QxxEsXGPVD2UnkHe3RFyxjVpLnIaBmVeVXFugim8whsrwMKFHMPoP6Ovd0UWqvyTXl3hDMIg3Di65lgAINYX29wqsxxS7aV1fPLSbpMcS6pw3yPP27FVCuSFyjpn6B7Jm59o7/fcQGy0b5PTTm2pmpqtj0WyS/wq0ag7ySNvDZDQBNbzt1+2kJqzF2whhb[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-607ae0ec-c8ab-1ac1-cf1b-c2b8a98bdf6a/test-file-6132111d-0525-806d-2563-302f204b44d3?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0484EE920D\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-607ae0ec-c8ab-1ac1-cf1b-c2b8a98bdf6a/test-file-6132111d-0525-806d-2563-302f204b44d3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0484EE920D\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-607ae0ec-c8ab-1ac1-cf1b-c2b8a98bdf6a/test-file-6132111d-0525-806d-2563-302f204b44d3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB0484EE920D\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0484EE920D\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAwioTyGoeXRJ443NYm4Fx6BUES0tZTG4qgKjhbxF/jgZdBsDPPI2YdPm/tFsSXQIecad0e72mJ3W76UfBPO4A/VVo/5DAoquHb9ZNnZQXGCemxv1uBxJIuuNPE1NJ1zgPvrcBpWFxXc777QvnWIndpNEgGnXwkvZDHESxcY9UPZSeQd7dEXLGNWkuchoGZV5VcW6CKbzCGyvAwoUcw+g/o693RRaq/JNeXeEMwiDcOLrmWAAg1hfb3CqzHFLtpXV88tJukxxLqnDfI8/bsVUK5IXKOmfoHsmbn2jv99xAbLRvk9NObamamq2PRbJL/CrRqDvJI28NkNAE1vO3X7aQmrMXbCGFvHbcM5+6XNkbT58+Gk+ke01FXgMDRZq15z76+qr/MJAJT+vE6PPPVzP27YdQdUFm7CNlzg4ehnbYKkxgv2YuGBsPNM5j445degbTCFgXYW39lAqLmWKB7sl06MKjbpvJyNVoRUBzAwyRCFQLT3oexMTeYytbpn60jUYE7vbPugtvBUOCqxwpipD9+pEOep9PWif5xQtsciJWs7f6ahAVwVJMmEo6mBmosNiWWa/tqhaquZTS1fD//pMdL/dkMyB86DU+wd5VEL4KTRAy1hR2ZQmhU6x/Ru9dTJm3HWgmRIG0GXF2sug4UajWxITgzSh+psrtxt9wAaVF4XKsuRMOAFCnRqy5Ew4AUKdE="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-607ae0ec-c8ab-1ac1-cf1b-c2b8a98bdf6a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1674040995",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
