{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0daabcb1-1894-79d7-0686-fe8a0500b205?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E1754AFB1\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0daabcb1-1894-79d7-0686-fe8a0500b205/test-file-8c7d7ca9-44b3-cc0d-73db-c5ed550684da?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E1763CAD1\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0daabcb1-1894-79d7-0686-fe8a0500b205/test-file-8c7d7ca9-44b3-cc0d-73db-c5ed550684da?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "WFjXBXkznw9Nl0pfLYkPtMtM\u002BIM8eh6afP/5QLaqiuS0CfURerU3X\u002BK06lCqvyWwSzf4O\u002BX8pd06PYh6OV9YowxlqyST/TkVFJmhiJDN773ZSfV/sU//uGQY1jwsvSWDW0ZDRBQBHU394iZLWx1NbU3Loe9p2fK9ZfLAeyf86VdzHSxJiqqp1yyogs4otFxHy2nvYRs2GYJUhd8hQaIlAPnO2D3wA\u002BKiIcnDwVYjlLGWea\u002B9DYc8PQSp9QTLiJaKgoHUWtseVseGTEBRclcrMPEtisfyaPNykps5Rg7d15kyOT/UTzrWdyLnNsBH6sqsfsQT[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0daabcb1-1894-79d7-0686-fe8a0500b205/test-file-8c7d7ca9-44b3-cc0d-73db-c5ed550684da?action=flush\u0026position=3072",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E177FB756\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0daabcb1-1894-79d7-0686-fe8a0500b205/test-file-8c7d7ca9-44b3-cc0d-73db-c5ed550684da",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E177FB756\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0daabcb1-1894-79d7-0686-fe8a0500b205/test-file-8c7d7ca9-44b3-cc0d-73db-c5ed550684da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482E177FB756\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E177FB756\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "n0vL\u002BOR1zNQ=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "WFjXBXkznw9Nl0pfLYkPtMtM\u002BIM8eh6afP/5QLaqiuS0CfURerU3X\u002BK06lCqvyWwSzf4O\u002BX8pd06PYh6OV9YowxlqyST/TkVFJmhiJDN773ZSfV/sU//uGQY1jwsvSWDW0ZDRBQBHU394iZLWx1NbU3Loe9p2fK9ZfLAeyf86VdzHSxJiqqp1yyogs4otFxHy2nvYRs2GYJUhd8h[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0daabcb1-1894-79d7-0686-fe8a0500b205?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1242786921",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
