{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ff78e25a-0c87-3b29-de36-c9da2b3a6bc7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF979B0CF04\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ff78e25a-0c87-3b29-de36-c9da2b3a6bc7/test-file-45b27f2c-0270-bc0b-34d5-0270871d077f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF979BFFAB3\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ff78e25a-0c87-3b29-de36-c9da2b3a6bc7/test-file-45b27f2c-0270-bc0b-34d5-0270871d077f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "pMW37BfzFPDKlo21JIO5TKM57r6gXZS40BqWGHAviI01zAG92ad4\u002BFipQpyZc8pzwaxEIPbdekYx/xz9Xfx/mw3/f1eB/HP7wfVm9hr3Hl1QIlbE62iWV1G6jNqKe5tbKqePmfNy8sU4SF4Bd4QrOeC/rDumurCkaScGx3CZcUZaCsxzaIRp3jCQi6IKlODNjlL5y85ftW/36jDLbCpVn9cYp223uNFbVc0LFS8NmtRHODgdoKV3\u002BlRce31TnXIFO\u002BzK8e1yFdaAnXUAU6BA6U9cgzPyN/8yoKwYWzxTCLhbBtpCQ6nm1CNinQIvdqe0HJIu9xk\u002BE[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ff78e25a-0c87-3b29-de36-c9da2b3a6bc7/test-file-45b27f2c-0270-bc0b-34d5-0270871d077f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF979DDE2DA\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ff78e25a-0c87-3b29-de36-c9da2b3a6bc7/test-file-45b27f2c-0270-bc0b-34d5-0270871d077f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF979DDE2DA\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ff78e25a-0c87-3b29-de36-c9da2b3a6bc7/test-file-45b27f2c-0270-bc0b-34d5-0270871d077f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF979DDE2DA\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF979DDE2DA\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACkxbfsF/MU8MqWjbUkg7lMoznuvqBdlLjQGpYYcC\u002BIjTXMAb3Zp3j4WKlCnJlzynPBrEQg9t16RjH/HP1d/H\u002BbDf9/V4H8c/vB9Wb2GvceXVAiVsTraJZXUbqM2op7m1sqp4\u002BZ83LyxThIXgF3hCs54L\u002BsO6a6sKRpJwbHcJlxRloKzHNohGneMJCLogqU4M2OUvnLzl\u002B1b/fqMMtsKlWf1xinbbe40VtVzQsVLw2a1Ec4OB2gpXf6VFx7fVOdcgU77Mrx7XIV1oCddQBToEDpT1yDM/I3/zKgrBhbPFMIuFsG2kJDqebUI2KdAi92p7Qcki73GT4TA\u002B2YUEFaupkslb2lTcb9pqZ1rhCPmvwCKQVkP6olEJ4c89ZVqlilemjJcG1y0VnuHuuHgWsug2nwlic79XvuBoQfiFrvp/xO0DSnximPj1erdiC/no4y7W9tZRMwaYTt2mroUkn//3fvOLE3h70/YAbPkH9aL2j17JrqgULoHWavueu/pz0OrHaoz2Xd\u002B2ayLgQNYdkFkqoB8mWuFH41BxtLh87Rf7nJwOMIsmACGPE0OFI927yMqiZAvbTXYJf4c8hKknOY4K5KRKH1/OBK/tl0etwr9yxevt2nkMIE8WBMED6XuIZ9m1ek8pYblq1F9r/bY\u002BW7zXyc69OV8FDsRVJAqeyis0ZT9yM67l2iWr\u002B0IzruXaJav7Q="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ff78e25a-0c87-3b29-de36-c9da2b3a6bc7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:07:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1137133254",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
