{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a3fea52d-c9c1-ba61-12fd-3a7641d41652?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0486E6D8B4\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a3fea52d-c9c1-ba61-12fd-3a7641d41652/test-file-f2f67f8f-87d2-af43-d375-2d3d1eb1ae30?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0486F474D5\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a3fea52d-c9c1-ba61-12fd-3a7641d41652/test-file-f2f67f8f-87d2-af43-d375-2d3d1eb1ae30?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JO0Fv9hOjCkOcJ48XxCJhs+kyCC93kTPrUO6rVVNvIYhbStDhm6+YJTtKp2DyyJWyih5LLZDPkapNRGUlN/UwbQXG/HkRf9g5WeMz7SmTOIgZOIs04/Q3i7lmlBdKcy0GWjoa7AwcYQpGUdOt2+SAukudC/8p+0lRzzC/6quAryb17ZLveEy8PJeArpIgSe/UphnL7WcuHF7wyNzbnHZehaKs9+4RkQH+4M8nqUy3MYVAqwSRtMG/h5Fz/q9v4KBhIikvc5HBwxTXzMxXxrMSOZdXWvFxzRChLTBc3ZKSjwBuxkcjh/3zvugvuag1Z8EeIcTX2IWu7xTYjkZhpOVCRX3L6MAr[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-a3fea52d-c9c1-ba61-12fd-3a7641d41652/test-file-f2f67f8f-87d2-af43-d375-2d3d1eb1ae30?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04870EDA66\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a3fea52d-c9c1-ba61-12fd-3a7641d41652/test-file-f2f67f8f-87d2-af43-d375-2d3d1eb1ae30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04870EDA66\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a3fea52d-c9c1-ba61-12fd-3a7641d41652/test-file-f2f67f8f-87d2-af43-d375-2d3d1eb1ae30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB04870EDA66\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:30 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04870EDA66\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:29 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAk7QW/2E6MKQ5wnjxfEImGz6TIIL3eRM+tQ7qtVU28hiFtK0OGbr5glO0qnYPLIlbKKHkstkM+Rqk1EZSU39TBtBcb8eRF/2DlZ4zPtKZM4iBk4izTj9DeLuWaUF0pzLQZaOhrsDBxhCkZR063b5IC6S50L/yn7SVHPML/qq4CvJvXtku94TLw8l4CukiBJ79SmGcvtZy4cXvDI3Nucdl6Foqz37hGRAf7gzyepTLcxhUCrBJG0wb+HkXP+r2/goGEiKS9zkcHDFNfMzFfGsxI5l1da8XHNEKEtMFzdkpKPAG7GRyOH/fO+6C+5qDVnwR4hxNfYha7vFNiORmGk5UJFfcvowCvusdljm8kCU2irhW9+u826trr/13IK+XdR2gLtNGppfsDycxL+tOnl7IGwIoEyZml0iodRKSj5o7iiEYHGVR7+AgauTAj6/AGQ2iqwmta2X7OZeKmjGFXX+M9aXGMoH1ei8eC6g9ogec6FgE7+SQjh6/IOLNy1GynwlpN5oF+eqPqTDak2O5vZuT6bHVgG2a+GuHCw2fK67Za2ie1G5tlvJtdUKztfq/AWdLPeGj3R6fzjsugu7Y7IGGASv7GuUtIlLDaAsq50ZsyAmqV+nJNY5KAwYzPxQDlIjBLbTSx+Z+HhuO4HEXcOb0vbblLpSXuMudrRvi+eM+v9ITzb448IbbUhPNvjjwhttQ="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-a3fea52d-c9c1-ba61-12fd-3a7641d41652?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "577993519",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
