{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f2ab51d6-1fc5-56df-2b0d-b65ba566437b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6ACA6206E\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f2ab51d6-1fc5-56df-2b0d-b65ba566437b/test-file-ee93f396-0344-3f5c-a837-1580ca9261c1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6ACB2A0D4\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f2ab51d6-1fc5-56df-2b0d-b65ba566437b/test-file-ee93f396-0344-3f5c-a837-1580ca9261c1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "ZsB7QKCdOKJk41BvHKwygDb0sPkZgAI+ztREAHmbZKKHtsxjL5YiDXOqXpTd3oNjXjocb0/VM+W+PXLLWTcoyX6u6GbgzlCf0qKFbiFtYO9R4KE/f/VSsYLmpfIjVrQ7gpUVL/Ydg5DpfJysUMTEUNyCeniW6EqJWzfj+ilee3vuSuyMWDH5M10RVQJYpmG+IlUVodw7pZlLjNS+OYlmiwAhvgbXOPiriEYbhJJHMLXWJdfUSNqfsqRSQMtcO/rTqskCN+db5updaRiVICAGA1wf6BSxkkMlgQxhhfcsT01MSNrJRPjNej7td97CCZKDSzxvPVLlIhiG3bbb+WDzMBrKSdhGP[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f2ab51d6-1fc5-56df-2b0d-b65ba566437b/test-file-ee93f396-0344-3f5c-a837-1580ca9261c1?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6ACC58FB1\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f2ab51d6-1fc5-56df-2b0d-b65ba566437b/test-file-ee93f396-0344-3f5c-a837-1580ca9261c1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6ACC58FB1\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:33 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f2ab51d6-1fc5-56df-2b0d-b65ba566437b/test-file-ee93f396-0344-3f5c-a837-1580ca9261c1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D6ACC58FB1\"",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6ACC58FB1\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:33 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABmwHtAoJ04omTjUG8crDKANvSw+RmAAj7O1EQAeZtkooe2zGMvliINc6pelN3eg2NeOhxvT9Uz5b49cstZNyjJfq7oZuDOUJ/SooVuIW1g71HgoT9/9VKxgual8iNWtDuClRUv9h2DkOl8nKxQxMRQ3IJ6eJboSolbN+P6KV57e+5K7IxYMfkzXRFVAlimYb4iVRWh3DulmUuM1L45iWaLACG+Btc4+KuIRhuEkkcwtdYl19RI2p+ypFJAy1w7+tOqyQI351vm6l1pGJUgIAYDXB/oFLGSQyWBDGGF9yxPTUxI2slE+M16Pu133sIJkoNLPG89UuUiGIbdttv5YPMwGspJ2EY9v2NRbdXEG2Rjd3ndObq9EftnJcJCZ0Lygd36RsP3wLo9DX0L6+QPXfwheT5hGyc4cgnP4bKE+1cgX+z4ydSha7a/oCw8sSYXV8fFIO0EkGW2wdO6J98IuBIm64v3F5QngA2Ionv6+8HiuIrqv9tpHM+HQQcB5kTXt+gaFsaaH0Aznp/fe+3qu8US129VHfk3vM68cNWMJprJsOuT4OX6SJlJtiA7iaDhnYVB7g7Vgpnu41n43q5rp3cFFssCVtvgGI/VC2fY+zMt2tNPSjiL9C5SpP2MAWrq3g6pNXPV30aqYdV//3YxFecmygPbG10/eiGdsLLdVBYk6zWV43+KZOjsNZXjf4pk6Ow="
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f2ab51d6-1fc5-56df-2b0d-b65ba566437b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:34 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1189972671",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
