{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-8e18240d-f335-2be4-1768-5e208e38949c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EB65A827C\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-8e18240d-f335-2be4-1768-5e208e38949c/test-file-affb3e51-1e93-6356-d900-124130066a44?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EB663ED10\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-8e18240d-f335-2be4-1768-5e208e38949c/test-file-affb3e51-1e93-6356-d900-124130066a44?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "VU7lakNxXS7plWm6i/nEXCV64rF8c0Ssp4tPqqOmwW8GI5UY1difzICNN8Jky3xvZt9vRtLDyOEKOcO4IrKLQtT6tGhkrIZM2hYw7juBSNwP30TENnucQluzDZwV56nOAvXuaRcUCrlYImu8ktmlifDmqUJtxgtYXnEMsZ/pN/NtYutGk97F+9SKaxMQ4K+BDYSsLz5mYDvplgulB1kab+t3TzDtXvYSIa5t4lr3R37Bi6MbPQi1BgKwXfzTH/N7cPwomJB/k6+NmQ2P+H3g8U6N43y2/jHjwkgtPQH5PwG68nJez6/tQvf0jaP6JQ2Ez2yuRTx3xXHKRdZIUlWulFoM1QYLg[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-8e18240d-f335-2be4-1768-5e208e38949c/test-file-affb3e51-1e93-6356-d900-124130066a44?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EB66FF6A9\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-8e18240d-f335-2be4-1768-5e208e38949c/test-file-affb3e51-1e93-6356-d900-124130066a44",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EB66FF6A9\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-8e18240d-f335-2be4-1768-5e208e38949c/test-file-affb3e51-1e93-6356-d900-124130066a44",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD617EB66FF6A9\"",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EB66FF6A9\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "LzVTFU7OIuM=",
        "x-ms-creation-time": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "VU7lakNxXS7plWm6i/nEXCV64rF8c0Ssp4tPqqOmwW8GI5UY1difzICNN8Jky3xvZt9vRtLDyOEKOcO4IrKLQtT6tGhkrIZM2hYw7juBSNwP30TENnucQluzDZwV56nOAvXuaRcUCrlYImu8ktmlifDmqUJtxgtYXnEMsZ/pN/NtYutGk97F+9SKaxMQ4K+BDYSsLz5mYDvplgulB1kab+t3TzDtXvYSIa5t4lr3R37Bi6MbPQi1BgKwXfzTH/N7cPwomJB/k6+NmQ2P+H3g8U6N43y2/jHjwkgtPQH5PwG68nJez6/tQvf0jaP6JQ2Ez2yuRTx3xXHKRdZIUlWulFoM1QYLgiGfoKGEwnGO6J06qG6USvnFQi0Ak4rYpPChRvlI7U8HeUxKD6Wa8gIAO1w5DannGUlhR5LYC+6Xxvux43x4RftNMy4hSTpUKk8q/1gun5dGuiyv56a9Lm5es0mp6Q+GiPVg69l6xc8PDBxCrguWaCZjaihPyV5UkATAw5XxqkFAo3ZizbO+y/RcoNqJeoBix0oiRn7mN7+XDFvUugE6HWHbAgqUNJtzpZ4z8yiDyxWEXfxKz2TCWWy3ysFY6RHzIoJ4rnd2zZOvrqDfs0SWE0FFUFwF7079Gamd3WnaG7yNQNCmCx2dDpBomyDD4qYoILd/Epi17TM0e5Q="
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-8e18240d-f335-2be4-1768-5e208e38949c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "465968326",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
