{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-41cd2371-cb06-8c0f-97f9-5f19aed58ce2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E192ACF41\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-41cd2371-cb06-8c0f-97f9-5f19aed58ce2/test-file-f8171949-e293-b615-cd0e-87ea1d3d3a56?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E193A8690\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-41cd2371-cb06-8c0f-97f9-5f19aed58ce2/test-file-f8171949-e293-b615-cd0e-87ea1d3d3a56?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "YrZHbEv3\u002BgTS2ISBBfA7eQcf4o8hHPbU2wvzVcjKXv8ZJLya1oX0PiSvnBOA49vpoCt/d9rcgEW/cpFABKU7CHqEaOE0oaOCKqRqcoDjVPcvCrWdSuYlPKN22mTztDp/c5OY/Hv5tf\u002BH/Ew2cQ7F3B6ZEPnwnr2TXis9vsY/j3Zp6/7sSlh8NVS2FU2a78uVsP1GWaNAjtXWBZ1Pu/c4SG3WzIYP2ZLFHdqlOolv\u002BW9gqA3I\u002BDXTKVwoFkW6LXldfczgxCNEhddrgDvJm1RMZgsu7xPpb084AqMp5sNNCvBgR7y8jzVLGyI1XXj5CY0H3LA5jD1mc[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-41cd2371-cb06-8c0f-97f9-5f19aed58ce2/test-file-f8171949-e293-b615-cd0e-87ea1d3d3a56?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E1958718C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-41cd2371-cb06-8c0f-97f9-5f19aed58ce2/test-file-f8171949-e293-b615-cd0e-87ea1d3d3a56",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E1958718C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-41cd2371-cb06-8c0f-97f9-5f19aed58ce2/test-file-f8171949-e293-b615-cd0e-87ea1d3d3a56",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482E1958718C\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "6eBbYtn4K7P2s48jnqYswA==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E1958718C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "YrZHbEv3\u002BgTS2ISBBfA7eQcf4o8hHPbU2wvzVcjKXv8ZJLya1oX0PiSvnBOA49vpoCt/d9rcgEW/cpFABKU7CHqEaOE0oaOCKqRqcoDjVPcvCrWdSuYlPKN22mTztDp/c5OY/Hv5tf\u002BH/Ew2cQ7F3B6ZEPnwnr2TXis9vsY/j3Zp6/7sSlh8NVS2FU2a78uVsP1GWaNAjtXWBZ1Pu/c4SG3WzIYP2ZLFHdqlOolv\u002BW9gqA3I\u002BDXTKVwoFkW6LXldfczgxCNEhddrgDvJm1RMZgsu7xPpb084AqMp5sNNCvBgR7y8jzVLGyI1XXj5CY0H3LA5jD1mcw18p8GAGp4UHnVLaFOYj9bW4tPwtBLXPvkVIgoSFH6y\u002BtOvQOd0ywGDIT4DrqE5b03ZYqpqdb/6pWnHaviUAQr3mW5/6E/uYhbRbJPU1JBX27K8ObHTR4QUtJt\u002BrGEI7x80DBQyuob96gCUmAksJtDZcI9F2MhYI1HqazS0cLa1yH1zoMh7JSErvk6xP6566I3KpDzRwhdX2\u002BjDSE5SSXpK38\u002BLuIYIXUttGhl5p\u002BSjb4Kn6ct54wZmG8TfuNzS2XTUZ2De7y8GwUbxY6j93TMEINjMqmCu0PvJJZzBKKVum0CkpUCExIBSoCiEiH9daD2R25gEBi4UJZZkFMmSRZihgshnWTjyf1s="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-41cd2371-cb06-8c0f-97f9-5f19aed58ce2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "827740826",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
