{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-009e9158-dce7-2a3f-dd74-e99952a080d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679853AFF33\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-009e9158-dce7-2a3f-dd74-e99952a080d3/test-file-f1d5dd74-391f-f71e-e353-9fc0782e3e22?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867985683558\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-009e9158-dce7-2a3f-dd74-e99952a080d3/test-file-f1d5dd74-391f-f71e-e353-9fc0782e3e22?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Sj+8pXmgdoxf4IjIODFqnnIREhABcabyrOOw7l9CcGI9FMOAglte5soRr0xApMj/Is58PALQjdmZyfmV74gtHXAliiRt6hsWsixF8MFasgcbsMyRxTRfbYbq57liyfZC45LbGhmkkjeyZYnWip0XPhbyej+7nFc7xR2dggNhtOk2Awwvfpjudh2U3mCqieLo0qiicE63h0c6oFX7Bw80UbCgoIeQ6MB+AwQhJr33kDw7tLBavkSafnvE9N5C8m8OYI2vCulbWOnoJGxJlmGJQw8ZwFJf2ZJsBSELy/PhOxGVE8UwR4ZS31zGcprYUOgaO7HOKTEdrob7QwTHT4z2BuhatIObW[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-009e9158-dce7-2a3f-dd74-e99952a080d3/test-file-f1d5dd74-391f-f71e-e353-9fc0782e3e22?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679858453FC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-009e9158-dce7-2a3f-dd74-e99952a080d3/test-file-f1d5dd74-391f-f71e-e353-9fc0782e3e22",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679858453FC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-009e9158-dce7-2a3f-dd74-e99952a080d3/test-file-f1d5dd74-391f-f71e-e353-9fc0782e3e22",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679858453FC\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "E7LlxomB2uckHIVh1wxH2A==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679858453FC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:39:26 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "Sj+8pXmgdoxf4IjIODFqnnIREhABcabyrOOw7l9CcGI9FMOAglte5soRr0xApMj/Is58PALQjdmZyfmV74gtHXAliiRt6hsWsixF8MFasgcbsMyRxTRfbYbq57liyfZC45LbGhmkkjeyZYnWip0XPhbyej+7nFc7xR2dggNhtOk2Awwvfpjudh2U3mCqieLo0qiicE63h0c6oFX7Bw80UbCgoIeQ6MB+AwQhJr33kDw7tLBavkSafnvE9N5C8m8OYI2vCulbWOnoJGxJlmGJQw8ZwFJf2ZJsBSELy/PhOxGVE8UwR4ZS31zGcprYUOgaO7HOKTEdrob7QwTHT4z2BuhatIObWfuJxuH1mGf3k7Q48JBBEhLgeGQ/NQSBipDQ0GuxfZxlf+G2RWNQJxYeA7BPjl77tPPWejweWyT3BztRJMf8RRUY03Gvi8yuj1BNIDFUMfsx1Rt32wNfRiO9vj4n/wJOIr2aN7vtTCknJ+rs0Dvyo9U/H0+shGoRuYxN8cyOh5BN//10ufpAQ4jyULMZc3boyxto59+zop5TiH4vn1pcmKBantE9funb/9zGuTO2+EUWZSaxJZ+xml1fITB8EaQulrcTvtSlqk0xjegD7OlqnI84GDk0q3IAqARz3ly4Xu43mCJ7ozlxcbrZf5i2ra1z9IShQ/hq+utFEhY="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-009e9158-dce7-2a3f-dd74-e99952a080d3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:39:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1366153838",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
