{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-b9a5b13a-4ce9-7a51-840a-cf202b13d3c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A8E99446\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-b9a5b13a-4ce9-7a51-840a-cf202b13d3c6/test-file-b7c244f6-4eef-318e-a723-9add381c3b12?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A8F64794\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-b9a5b13a-4ce9-7a51-840a-cf202b13d3c6/test-file-b7c244f6-4eef-318e-a723-9add381c3b12?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "Y3W622VsJhPPzqgai2Kh0wD6R+tG46dggtSij209WCQPOoti9i5vbRm5IFHW92ilveWjg6XUP4DOWViQyZalknWDClHXPtzRitnRjcJViots/NKImtR/O/oKlJ3W3qODE47bU+wXzn4I0fnLA7K+ec7MJMzEHfigA89Wzao/+6w2TXkzeTefVC5Tf8nbszdHSxvOCbnWvvaWO08dwQDUydVMlbU5iv+XLdCecZ0vxE+XDoKPcPLyX4+CnT7ogZItf7bzjx6CDsAbN9vpOExZZ3b/hbJ+RFniWTYlt+3Arqs9cfLmOzUxFQDBczgWCSZDKDbI6PzfrjpdEDXoXFbTWokvrMZac[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-b9a5b13a-4ce9-7a51-840a-cf202b13d3c6/test-file-b7c244f6-4eef-318e-a723-9add381c3b12?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A907AF25\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-b9a5b13a-4ce9-7a51-840a-cf202b13d3c6/test-file-b7c244f6-4eef-318e-a723-9add381c3b12",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6A907AF25\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-b9a5b13a-4ce9-7a51-840a-cf202b13d3c6/test-file-b7c244f6-4eef-318e-a723-9add381c3b12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D6A907AF25\"",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6A907AF25\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABjdbrbZWwmE8/OqBqLYqHTAPpH60bjp2CC1KKPbT1YJA86i2L2Lm9tGbkgUdb3aKW95aODpdQ/gM5ZWJDJlqWSdYMKUdc+3NGK2dGNwlWKi2z80oia1H87+gqUndbeo4MTjttT7BfOfgjR+csDsr55zswkzMQd+KADz1bNqj/7rDZNeTN5N59ULlN/yduzN0dLG84Juda+9pY7Tx3BANTJ1UyVtTmK/5ct0J5xnS/ET5cOgo9w8vJfj4KdPuiBki1/tvOPHoIOwBs32+k4TFlndv+Fsn5EWeJZNiW37cCuqz1x8uY7NTEVAMFzOBYJJkMoNsjo/N+uOl0QNehcVtNaiS+sxlpzK0DOcLK90CHLUA/ijrf4xa9dwreJKv9JuKnuGa/mXV/ptQqHGowt8Wk8ROXYesgbYcOATgSi6QFBhbcJzrdx5POv+NmscasjMNFNTeUacD3h0rfsZg5bRssJRpXUJCKyyl/yKYHvbvAXXR4yVZwbJhR5J/wAhX7kU7INoysVTgyvm4OGKEe88mPH1AjwKfAv7R+BW/wmsUThDdXP4cvEAg8Sg7oZlf7NvTWYObF19CrC3bUMlPIPiek+pBpy7RCYAtH53aY2Flggs53GjXiTaxmqDAMVt20cAvnR2vDjW9Al/zbffBaDjMdd6+BVSPtwqzkBx+AMg0tk3cchzRqHJGE5xyHNGockYTk="
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-b9a5b13a-4ce9-7a51-840a-cf202b13d3c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1137722691",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
