{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-fcc6d546-2df0-1db3-fac1-121fd40916d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A12867AC\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-fcc6d546-2df0-1db3-fac1-121fd40916d0/test-file-6fb31bf7-ea95-8bb5-0af8-00d946ee74cf?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A135047C\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-fcc6d546-2df0-1db3-fac1-121fd40916d0/test-file-6fb31bf7-ea95-8bb5-0af8-00d946ee74cf?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:14 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABgXyUj9dMvBzZ/8L2KbgAx8EFdQvrPb69/h6DkdwcBlRof5b2jrdzvYgcR4Q4rtNUolKcEGNWKkPB1pG4ySpAufVuia4hDjkNlbuDyvo6hU9PKvOJg/X1FlFTMLQhtvBd34mOziUlM5QZjn6r1l9Jh1FCbaI6tzn/dXdY0dmA697HIe9sq7sqKfdbc/F7TT/yBa1i30lSJyRTj1StyGG+lKKf4LRz3N+aGEeq40NEhCg3ZswoHgyVdP7HHRhieF2VnNtS22iLgijNyMcBp0PlDwsodmWVknqWCm+5rMPDN5/mEUJr8azDr+CjXlVJk8264g4ROgX4AApgvMz8zdVlCpUnH5IBeRleaMaA8jQlTHqd/sqxsf2Z7hE0CzTfwuIPPlO8InA/uWT0ss0/exHWP2xWYtMKt1ibiS2AyXHggqXkcbPgZSoGXkVhuP8sXnb/Xc/EiWAPAIb7JJlGuu/3FDArVwVd9dZGTACJqPpZay62hWuiG/VF1XEs6TyQw6dVaqTLBQdxnWv1gjljhVuMnb1qjDGEVPw+5YGQMQiZtYxZND5VjmYnROf/rJW74lAZoEt/JjNxzRWojB+F3WxjW8itBlEdNxNXR0tNiKhmgwMxepDBGpNY52ckrP5GoWd7nFDNDtwC/Gk4K+LoJERtQg0cVGbboj05VB7p9IYRDKD3PZWPNMw80Pc9lY80zDzQ=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-fcc6d546-2df0-1db3-fac1-121fd40916d0/test-file-6fb31bf7-ea95-8bb5-0af8-00d946ee74cf?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6A15AE8F9\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-fcc6d546-2df0-1db3-fac1-121fd40916d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1636118981",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
