{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e1a35439-89dd-e525-75d8-4003e29c7499?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F685A48CFA3\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e1a35439-89dd-e525-75d8-4003e29c7499/test-file-7b5f2400-1f73-56e9-c3fb-80e3dc6ecf5a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F685A56701B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e1a35439-89dd-e525-75d8-4003e29c7499/test-file-7b5f2400-1f73-56e9-c3fb-80e3dc6ecf5a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:31 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACHUZW2JQqnFT42ObzwMniAQvqtIHwtEtbn1Ft07SQNOCiaahtf3yBMGwoHUEqEKZYEtq9lwdeBWT6\u002BzlGvMigaKQGTVchcIWLZYQVyJsKLY6vEcDZ1p3ZRGBDdoBHPnejh7SdJ8NPOqJRMjGDSDzN8M2ul6sLxpYGKQjy3f4FRCcQckTibQnPX9ciiKBsWfgndYG2lKbIm8Eelvq2WFykT\u002BoKctn364PD4zvX5T3xmdMQz2h4Uq98S9aDx9YTFQN2fji2YeciL4oB8rVu9LKDLPknpYz0K/0\u002BiisHdCeprMo4XWsBOzvv8p/edl/2EVMj/Jbc73NyglI/e9e8HrtiVEXvMpdHgfHBO7LxFbGhRHjX43eMzMFWxdsYxb9gL9fkfCIaCuK/2H6lG7e8gWicmjde6DtH0YeAlGy4LrgyXQvfCJmTiz2aGAr067UNmkRyfC\u002BIBUeYnKqalXJyA63Gcrqr3XTTDRL1xNAsTuXSdv4kSa6MplfERm/u9PXLJBhdLnj6YbjPn3MYkkBzbE3AyB50SbX/Ochi55sI5BQdLpy70yBs2BVFWK4/cBQXUNYeKizbUtpiYfCsl34dxrda\u002B2eju50tV\u002BwFMvEHv8W0T5LA7r3rRdvGVXEvvECbJ5X24HSsc5U47NI80iPlXqIu\u002BEfrWNf1c7WL3WYv/ZerbgyHzu9sEReZrIfO72wRF5ms=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e1a35439-89dd-e525-75d8-4003e29c7499/test-file-7b5f2400-1f73-56e9-c3fb-80e3dc6ecf5a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F685A8B148E\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e1a35439-89dd-e525-75d8-4003e29c7499?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "433430605",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
