{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1a4b8eb1-c579-5dbd-e518-4cfb8d02c25b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7276ADF347\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1a4b8eb1-c579-5dbd-e518-4cfb8d02c25b/test-file-a42e3e4b-e391-3d9b-7ab6-3064f3f7c173?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7276BC751E\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1a4b8eb1-c579-5dbd-e518-4cfb8d02c25b/test-file-a42e3e4b-e391-3d9b-7ab6-3064f3f7c173?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "en9q5pGUu4qmwOP3iKMr9USuJ\u002BnU115\u002BgmslfOYAc6tU/Z\u002Byhu0MP\u002BiiRTzAaq1zK0uiaWNEa6Mh7GMmbz6jpU03oosEeG5XougAMpEhvRe9sVGbXQpHEJL8kZqJ5c\u002Bq/5/viccib7PcS8Z7QzkR/y5MaL3tCEhC75L4CObUzrwYVjLyMTRPm0KdvxJDy8xY6pJrPHwRvPZXrZk1KWfMB3wJY\u002B0GH835/M17T0g1/yTGoB1UaJFABpk8moSbGnLb0beVOWjeUsvEcj\u002Bvlm2uIa51b4lJd57ryV1UyoRJXuJaoH2QoMW7501RkP[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1a4b8eb1-c579-5dbd-e518-4cfb8d02c25b/test-file-a42e3e4b-e391-3d9b-7ab6-3064f3f7c173?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7276D63E85\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1a4b8eb1-c579-5dbd-e518-4cfb8d02c25b/test-file-a42e3e4b-e391-3d9b-7ab6-3064f3f7c173",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7276D63E85\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB6f2rmkZS7iqbA4/eIoyv1RK4n6dTXXn6CayV85gBzq1T9n7KG7Qw/6KJFPMBqrXMrS6JpY0RroyHsYyZvPqOlTTeiiwR4blei6AAykSG9F72xUZtdCkcQkvyRmonlz6r/n\u002B\u002BJxyJvs9xLxntDORH/Lkxove0ISELvkvgI5tTOvBhWMvIxNE\u002BbQp2/EkPLzFjqkms8fBG89letmTUpZ8wHfAlj7QYfzfn8zXtPSDX/JMagHVRokUAGmTyahJsactvRt5U5aN5Sy8RyP6\u002BWba4hrnVviUl3nuvJXVTKhEle4lqgfZCgxbvnTVGQ9lGQbyuOeNYlqumRWRmpcAqKiEZ7E11V9u8dgei5hzv456eaOO0oPAxyOD[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1a4b8eb1-c579-5dbd-e518-4cfb8d02c25b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1641200065",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
