{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-696df9f1-1b98-c573-ad65-ade66caf5ebc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A006A2BEF\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-696df9f1-1b98-c573-ad65-ade66caf5ebc/test-file-49ed9a24-5bc6-7a6a-fd53-fb5c57872053?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A009592E8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-696df9f1-1b98-c573-ad65-ade66caf5ebc/test-file-49ed9a24-5bc6-7a6a-fd53-fb5c57872053?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "uiEROhUPbWWjjFpczbn1hA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "OvyapQPTH9m1TFvWUWYyLLxZc2noB5ixTy0lbOWjIA7QAtKW5gRRn+Luodc83T7SCwXkpoyH3zNk6VbVrrP0EixMBU+TnEa3B9SG+WbAdXHuUmHfvnqCSCKfMvyue/Ev+Y6r79fvPm6/LJ+4AeXMo3Tk51tRFVSxyrws9GpKCYzjV//XFIWa/xTyIJHbykc80o6HyZSV3eQ6+SQaw0kEdSMS1arl9Y7uSuhGX/XC1gB17yLbwj/3TXkbnBtgfzzK7atuyPWdVtz/mX+sT37vdyIkpdMnKLLjG4cwylhzjcqsfHFJVA4L15hF3CnAS/77KyT4PNpoosX4iqxtbYuDiwu0/9IMpSMTGc064UyJI8+JNZ8ze1HwQ9msUclinmoMwVAeC0sr7oUB5CMMLsF5b2fd4zfsTxC5xLz4YFRZsXpjLR/7axeDXkYaMpYu5BUYMuJhhLsyIHE/ZEePMo0xpzOoqAChfQNQWYTw0R16i9+n4C1x+C2/MAytvAbQ9Cu46YtihTsUd7XeESo2QU5UxNhn6FJgv68G6Hf088H9f2VYN+iRGAWkkml4kuYCie69WfctaAzZWCncXJzDIIP04ZHF3QllwqzTw1Xo6CzIA1+INprJzxdZft+/tbto4HLlg7FUPavlV5ZLWqW28XD8E1g9OunpKxF6a14qpg3xauM=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-MD5": "uiEROhUPbWWjjFpczbn1hA==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-696df9f1-1b98-c573-ad65-ade66caf5ebc/test-file-49ed9a24-5bc6-7a6a-fd53-fb5c57872053?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A00C1A0CC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-696df9f1-1b98-c573-ad65-ade66caf5ebc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1029921644",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
