{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-36c3e168-b69d-a642-08da-33b88cf5c335?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7275FFFFE6\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-36c3e168-b69d-a642-08da-33b88cf5c335/test-file-0113b858-3070-c78d-0317-192fe0f186ae?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72760DE629\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-36c3e168-b69d-a642-08da-33b88cf5c335/test-file-0113b858-3070-c78d-0317-192fe0f186ae?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "4k07z89qLZIh2DWqTWjEkgnC3wkB65bjRQEPW8/0HS67xvaUOQGgblVhtsY9wKimynPCC/Muofe3WIrOW9HCLbsH74ZyL1kHInC0nzTPpoRYaJFcMRE6jCX/3eF30hODn4kLNtEiNJoZu\u002BmCegHD57IFdfNAZfupzGJhc1J3j1BdMP\u002BqxG\u002BzNjT2QnYntxIkPPYvcVwgQjqOYWpvwMFIoiuZJEkBGCJCUj6\u002BSiKEghRQPDdbSB3zPe7FG2IFRHVzraBLjpLJIiPT7R8dYfgXCt9VHoOJ7FkNpedaO/3APA7IS5yCOPOBhxoTiFv\u002B1dz2rhGD[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-36c3e168-b69d-a642-08da-33b88cf5c335/test-file-0113b858-3070-c78d-0317-192fe0f186ae?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7276278894\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-36c3e168-b69d-a642-08da-33b88cf5c335/test-file-0113b858-3070-c78d-0317-192fe0f186ae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7276278894\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADiTTvPz2otkiHYNapNaMSSCcLfCQHrluNFAQ9bz/QdLrvG9pQ5AaBuVWG2xj3AqKbKc8IL8y6h97dYis5b0cItuwfvhnIvWQcicLSfNM\u002BmhFhokVwxETqMJf/d4XfSE4OfiQs20SI0mhm76YJ6AcPnsgV180Bl\u002B6nMYmFzUnePUF0w/6rEb7M2NPZCdie3EiQ89i9xXCBCOo5ham/AwUiiK5kkSQEYIkJSPr5KIoSCFFA8N1tIHfM97sUbYgVEdXOtoEuOkskiI9PtHx1h\u002BBcK31Ueg4nsWQ2l51o7/cA8DshLnII484GHGhOIW/7V3PauEYOvJfHpwUY\u002B6Ktu5iUTsBFUFVuV0evUl2l1Y/4Ozwtkjew8je[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-36c3e168-b69d-a642-08da-33b88cf5c335?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "89355328",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
