{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-060199ea-925b-1d2b-9a2a-b8191d066f85?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE530A2E7E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-060199ea-925b-1d2b-9a2a-b8191d066f85/test-file-1b7e2a3c-96d6-a0a5-d429-f148aa59c13c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE5318A958\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-060199ea-925b-1d2b-9a2a-b8191d066f85/test-file-1b7e2a3c-96d6-a0a5-d429-f148aa59c13c?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ecgt0gwb1MvrXo1ybyltVlU7g12DLrPp74e+Ne9qYRz2pfHnFgNxeuu4VXOdmu1279nuBdmV+eIUQ+KEXJ7bgf1wfMo4hj9SyQhxy9lATFSZR0YVfFtDYasO0tMg7B1N3NN1LB4jPmiZnDvQIy4J1PaN6hVXxgWhLRofKbRsMdzqJO4FyiA2dgjee+Agcj18Bf3ckwEI9RbO1P8DAxW0LWpf5v8/AwnWVnQMeUolgbvcoiO2j53a4S7YNvYhMnLzKk51wIs+PQHzBjyN+3zLqVNDJmHx/Z3MhATQZswTtSMBGU/8r8AvnmUiw4lhTeayDY2j3QwRAiywqDyHbtY14FAYjOIsz[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-060199ea-925b-1d2b-9a2a-b8191d066f85/test-file-1b7e2a3c-96d6-a0a5-d429-f148aa59c13c?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE53329999\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-060199ea-925b-1d2b-9a2a-b8191d066f85/test-file-1b7e2a3c-96d6-a0a5-d429-f148aa59c13c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE53329999\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAARyC3SDBvUy+tejXJvKW1WVTuDXYMus+nvh74172phHPal8ecWA3F667hVc52a7Xbv2e4F2ZX54hRD4oRcntuB/XB8yjiGP1LJCHHL2UBMVJlHRhV8W0Nhqw7S0yDsHU3c03UsHiM+aJmcO9AjLgnU9o3qFVfGBaEtGh8ptGwx3Ook7gXKIDZ2CN574CByPXwF/dyTAQj1Fs7U/wMDFbQtal/m/z8DCdZWdAx5SiWBu9yiI7aPndrhLtg29iEycvMqTnXAiz49AfMGPI37fMupU0MmYfH9ncyEBNBmzBO1IwEZT/yvwC+eZSLDiWFN5rINjaPdDBECLLCoPIdu1jXgUBiM4izO+ZIUiPvPOhRrNx4eWT9w2BfvFyJLB4SnL47s4zhIwAOFPpMQyIMWMvKcPARpUH31b3gBnMoKg/IObVhs4lfbI3YamBqsXw+T2eQvr8t/Pt8R93PARyM5eruhAlsrqVCbwBiOT7diSQ9obcPm2tMnji54W+rjG9xT4R1fC120aDCUlO+y8e8or65jV9lfUqDoeXMssk1lt6Q8Om2ZAj6xtAWTUkXkdZ0/UKs8f8QC8459d5Hqh7XiLt1KdbaBj6xvsaPUzABaAwTV7WKhKDfgOkffHIusxyxPsSNomv/nvsH/zM0gLSaNInOMFJpTQAWlaTpuoXIhw+p3hDhzuzKPnXkEOHO7Mo+deQQ="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-060199ea-925b-1d2b-9a2a-b8191d066f85/test-file-1b7e2a3c-96d6-a0a5-d429-f148aa59c13c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE53329999\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE53329999\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:41 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-060199ea-925b-1d2b-9a2a-b8191d066f85?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "381228130",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
