{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4f6b78e6-8187-37e9-e4c4-84a4e5c62ad7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE84A1D2B1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4f6b78e6-8187-37e9-e4c4-84a4e5c62ad7/test-file-5087d451-062f-6b09-7a9f-20236cc7e9fd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE84AFECD8\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4f6b78e6-8187-37e9-e4c4-84a4e5c62ad7/test-file-5087d451-062f-6b09-7a9f-20236cc7e9fd?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:04 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAA0SJrfoEN33/QNvu9ZPjUw8bgs7I8QGUR6vBiU7K94XzK3d7kZ8ys0gVglsDesMbL16uMsBHngIy5VZOMq4vJElV+8ocZ7F/6N92o362kNzYtmngLLS1q511OLxI5HCp9l4BvX75DredPlnw0OqDjER5dYxEPveUkFA8ly8FJvRu3L0gtONt36eiQv5axNqi4bxnz27kVbdWbR0ezGeYmAdVkfQ9YsdhG5XkoewJOduFiaVirWeFenb1ykfWTxMwCbrm9SLWdY7lBqPZD7PLXTMxmTKyJfqfwBd9N6iPitxypJgxEjSorxQmfaazvHrDKn0ElKXgfePARyUbWU3WZXvXVlsrmjr+iPoum6hT7BOsug07iuYmkiakcMsPnUXGQBgq7FYfl5AyFhu7weJLfGsRbq8wquqFoMQkdylv7vu0WEuAKQ/NjRJ8+WTaetBEaPRv/i6mlZU9pTuB+yBm0icf93mmu0NrU+GMw7F1qyXz4B4lD/DNDbKmQoPEO5HyBhdNunNmra2w9KpNGdHTx/oFnhsSMdI2Uvm28HjPpxhPir2qN+CijTJgdAtGf+PgwnqZvp2G78RFB2eJv7004V2CDZ8UOZAJUwDYoc3G7+MFxi3+NeiKyKrpVSCJKN2FO4K9xHJU3JjqgFuMrj4Gfid0g+mPNrt1B0TkOtR/cDo1O2vp7OsKAOU7a+ns6woA4=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4f6b78e6-8187-37e9-e4c4-84a4e5c62ad7/test-file-5087d451-062f-6b09-7a9f-20236cc7e9fd?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE84D771C0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4f6b78e6-8187-37e9-e4c4-84a4e5c62ad7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "744747095",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
