{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3f63a89a-6e55-4be6-3a47-3fb0ae85315d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE88A33735\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3f63a89a-6e55-4be6-3a47-3fb0ae85315d/test-file-8a747c9f-2077-234b-7e45-3f5a581d84c6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE88B2D34D\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3f63a89a-6e55-4be6-3a47-3fb0ae85315d/test-file-8a747c9f-2077-234b-7e45-3f5a581d84c6?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:11 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADxgSwvCtWANeI/Uq/0Mha6BIjF3cHGbDu/y9lXZRtNaq+GwrNTE6wVUY2IsV+e323PRaVOvRkyKhXxcD/7KNDH8ugAbW9iZvHbsIszPbrbIetrhyB2/qyVU5ieYaJtGSi9wb92nXH+bd6zcg2O/uxaFU5Tj6CvUPM8ahrXwwRObpdidnz7ZYN6bRpCwoyfBlSrRExUGYmIDnHLOjNXJqnZZQR1LIhwXrDK2SKGbY1nnGPFK3+4+lQN2mcLMCpQIkZxaF2HKdrLO+aciUBnAaHjZJ3PkfsqIGuvZ1EhZS2FebbbFQQv33OJ+vCYHHAUptjGJ8yNgZFLRkfy2MGJqtW4Fg+Ji+yctIQqRpcKkQT7msB5Wj5h+Pglj868PQexAE8b4AVgihvsKXJIYjv5QbVD9z0AD1CXVh4XZPwe4HZ8eUVH77H/mg+ljDDLGZW9K00YeEXJsPD/g4nmSCYfzkn8y+n1sVIERFwuW4MfzD2JWjiuBWcxs8hVSGsoGFHohr7nz06sx3r7FDTpm1Vt37dLXe7ucMnhyxcgn2nm3CsKRdTEOP3v3JK9svAyRxhz6Gi03Ltj+hX1BQQ2jCcRFDgJ3lWBqKe6XIBbML7Yr4P/rLcAMv9wp0u+zjP4uFBrrJ23KWnC8j/B+n86B8lXHFaANt9wEOI4mTYKwtlzwaQw8F3ffl72QVjOXd9+XvZBWM4=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3f63a89a-6e55-4be6-3a47-3fb0ae85315d/test-file-8a747c9f-2077-234b-7e45-3f5a581d84c6?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE88DA3145\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:11 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3f63a89a-6e55-4be6-3a47-3fb0ae85315d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1481276318",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
