{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2d5248b8-a5ce-57cb-0e7b-938a7eeb709c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E47F2F8AD\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2d5248b8-a5ce-57cb-0e7b-938a7eeb709c/test-file-68c05cb9-0cc2-67fa-3101-467510c8c798?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E48023B04\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2d5248b8-a5ce-57cb-0e7b-938a7eeb709c/test-file-68c05cb9-0cc2-67fa-3101-467510c8c798?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "6Pspc3TCSllUZTeR9I6xPA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "9F1Tymh2g/9jmk0sK2ZrbIQWgq6VqRNnDHr9QNuTjuPxV2\u002BOTiwUkUxWYu2wN2WUvXHMEnkCjUtK677teUMk0AxqOtP33R5YAfBhPkYlt9QVaIJqx3xp78okQ2JtJhgJMpLhRf2Rnd9SdBCJoE4EJTPq2BHAugiPAUoJ0pq76tvYVwy0Q3LXg8uiF1Js3097IB4vg00GSXiJUUSyiMpFl4k0sUhCUOHBElVFHaK2IyH7jbJ7jGeN0Q6UKvEtJPoAXX/INy4GOc88bXD4wCvV0y4jt/oYyQsip\u002BA5rSXvk\u002B5aRcAj7ezy9FTiPh72lBDjv1fDCmwA55NzpZBOzYuqTdqBnntrseVCMMOmNYvtLBLPVu7OLIiCWl0sr0dbpCbJOPFDdPaVdw1xgdqoWrIIhnl9fnac2yFR/0QdPwKd5ouc3P2ZqbcbOt7hXauu2QCrJCnO3SawLF3Q8XSydzgL05pODH21btzBYkOYu351oyVEchrZzwhl7LCfybdDacOm1YkQYM2C9rVMDHviGHHfWk5PbQUdMgOS6B/NFaUkfviA8eX0ZUNYwXtljMOMg9Q/wG9p9Pu9iKOGfnetteAPJ42DYSaL6vQL9qyJt6VABWVLjlQ2u4r8wmhCbufMqwyaVWQ1CSGts9Z6Xf1PNND\u002BRXgRYSeM2WwDhp\u002B9SHsNP0s=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-MD5": "6Pspc3TCSllUZTeR9I6xPA==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2d5248b8-a5ce-57cb-0e7b-938a7eeb709c/test-file-68c05cb9-0cc2-67fa-3101-467510c8c798?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E482D69B5\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2d5248b8-a5ce-57cb-0e7b-938a7eeb709c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "585335066",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
