{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2c071bab-8513-8ee0-de66-dc64627071ac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E3DB709C4\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2c071bab-8513-8ee0-de66-dc64627071ac/test-file-85f61aaa-f4e7-d974-dbc3-1f13e40cab2a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E3DC5FDDF\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2c071bab-8513-8ee0-de66-dc64627071ac/test-file-85f61aaa-f4e7-d974-dbc3-1f13e40cab2a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "xpiWRwG2cl3/PspCtbPBdAViiUCRxAublXYpmSLkaEZKo2Y00xl4JK\u002BBrWEjwuhJYLYx/pFGmgGM\u002BrGKjNg7G9WD9xFMjaHr6WWQDxeqeNOO3zhrsmq1BAhlp9ho7pfWRpGMn8rW/NMVRRQrtovq4oLd\u002B6ygz2lrzvMJ5\u002BXIg/vOuciFHdkIuONlVmxViU19e8RWivLqNncoINHXzRXtTMIYXfzCZMSo1EPJOnj8FUSli2shcvgJ5IJRXP0IMevNdwqpPSxQuhb/rbWvIPv\u002BKwuMMkGqzNrKD3l6cQfHoKNX/MNuU9gXVNFUIcRCWcOGUjHye/6qI6sw3y2z1kgPOA0SVyM4kNgydd1vVaoVh7W18x7W1SSkrdkXPnOqZH2IRem2MAKgTsJYvwYgOs0AGlh3/eMqOGLpbalKIFJkiBBg5g/BX1azFaRcfhYeg3MLFyMbMmaaXg2GzcNYVS1w8zf1wFO\u002BP7oBxOg\u002BzbpMyuk2PgkuSVWqxocCOpGTW79364rfKMMfTddoGW5\u002BW5BTOgLZIRckQqrhS/rLvAUpbmkox\u002BIvbaImF/ExxTDnLGr3r/\u002BPuTmoU6jg/d3IU5HSP6oEVZSuI81gswom8n15\u002BR\u002BP1AwFmbUvgHQ5T2/EXcNfX4WF4tbWSIsxLgYugmArZgO\u002BOX6EzaX11NUgdNRem1U=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-2c071bab-8513-8ee0-de66-dc64627071ac/test-file-85f61aaa-f4e7-d974-dbc3-1f13e40cab2a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E3DF10582\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-2c071bab-8513-8ee0-de66-dc64627071ac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1073382838",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
