{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b3114df2-5c86-2de3-c946-e2cfc758fc97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049BC04390\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b3114df2-5c86-2de3-c946-e2cfc758fc97/test-file-1de9ba29-4a89-c2b1-b72b-8fb74a38ca8b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049BCEE983\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b3114df2-5c86-2de3-c946-e2cfc758fc97/test-file-1de9ba29-4a89-c2b1-b72b-8fb74a38ca8b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AU+8+4ROWlCkZR5jbDkVDgx38QVEc+eRRjRI+Aawl88xXqfJ/z7ljmfD40rqBPgYy4zrnNPsTI1nKrVQBmFJ9M1OMQ6SSw/NkWOdgZCcpkE7Ly16xPv8RREZYdSJlYgGee99m9Lqhn99HgpvTsv9y4NzFNYzzjDRUuz8eOo6RPzblwegHwtuUamu/abxjPZFG5ZQFYGx0qq/q0jm7Q2VQtoNlLbDXKt4BcIthdGJ4Mb1t1xT6S56KcRd4XTCiGSbGbrM4/c/gr7q2BC+hE3ZNcuC8DawQVmrk2ryZns3tn1dkWsXvfzOtjSdaBEeu6V3g6ypP5cu6tdgIFCNTRtDsiGSYfLhw[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b3114df2-5c86-2de3-c946-e2cfc758fc97/test-file-1de9ba29-4a89-c2b1-b72b-8fb74a38ca8b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049BEAFCFB\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b3114df2-5c86-2de3-c946-e2cfc758fc97/test-file-1de9ba29-4a89-c2b1-b72b-8fb74a38ca8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:05 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB049BEAFCFB\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:26:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAABT7z7hE5aUKRlHmNsORUODHfxBURz55FGNEj4BrCXzzFep8n/PuWOZ8PjSuoE+BjLjOuc0+xMjWcqtVAGYUn0zU4xDpJLD82RY52BkJymQTsvLXrE+/xFERlh1ImViAZ5732b0uqGf30eCm9Oy/3Lg3MU1jPOMNFS7Px46jpE/NuXB6AfC25Rqa79pvGM9kUbllAVgbHSqr+rSObtDZVC2g2UtsNcq3gFwi2F0YngxvW3XFPpLnopxF3hdMKIZJsZuszj9z+CvurYEL6ETdk1y4LwNrBBWauTavJmeze2fV2Raxe9/M62NJ1oER67pXeDrKk/ly7q12AgUI1NG0OyIZJh8uHBeM60OgET2EiN18V74s6Od+Uup5S2nKtAaBhatu+LWrKVwjTai10t1/4Yk3nI0jl0I6qsMktNCtsic9HouCJYAXwS5SCatOuIAc+WngkyeJbf5ZJF3ihnR7dYtxiMRB7bwJH9tuwZ2m++JDB7t2zS8Po7CdOQEiNUqp1oQvzT+72xut13NcKpxgoih7n37JBLhscdUDtKSq5uqAtOsJdz6yhzyvyPWrs3kULIbotpXb4MHbs1tauBZm8vCYy2WhVzr5uQgyKUuywM5b/4gdwiBUtNQZPcPjV98mOMX1AvgTYtVb/v2NmbeGGPKNDsieWTDARAaRmCl3FmEtm3ht6tCpsw2beG3q0KmzA="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b3114df2-5c86-2de3-c946-e2cfc758fc97/test-file-1de9ba29-4a89-c2b1-b72b-8fb74a38ca8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB049BEAFCFB\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:05 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB049BEAFCFB\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:04 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b3114df2-5c86-2de3-c946-e2cfc758fc97?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1999265759",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
