{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-1b53a9b2-a892-dbb6-a212-2d6d10ca8294?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA73088B73\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-1b53a9b2-a892-dbb6-a212-2d6d10ca8294/test-file-a9cd7d8f-f88c-57eb-5467-f262a5750e16?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7328BE84\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-1b53a9b2-a892-dbb6-a212-2d6d10ca8294/test-file-a9cd7d8f-f88c-57eb-5467-f262a5750e16?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "hDylTkCSZAwAjlJ3/7tFVOxdr+kwzCw4EqjVfgMBw7KOenZYqNiOLMKNttmzY/CHWU28o2ej/rcQbTuYvOYI/8uf6YRF7awUz4ImohZThK64TSS2RB9K6ny+SDqc9m/bhbYOE3prQWyhqNTlfFyhvemM4G7CUrqrVf4Hh6Rxd9kSShxfRHA0TAy3FJxLZW4gHYtRDxUBGTP8Yr57ZLrHLzD70jE/QXh4WJNiCj0dX/CQ5mkZIGjDETHpYuKyuOdR8OVsUJI84dsT2LeCng723wPN635Qrg7IN8AAVt6Vxp+sERpXsA5dVAWOBUewQXMi8oPe5M1pAEHWoxjRO4r9fRIX1Y30n[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-1b53a9b2-a892-dbb6-a212-2d6d10ca8294/test-file-a9cd7d8f-f88c-57eb-5467-f262a5750e16?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA733A9435\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-1b53a9b2-a892-dbb6-a212-2d6d10ca8294/test-file-a9cd7d8f-f88c-57eb-5467-f262a5750e16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA733A9435\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACEPKVOQJJkDACOUnf/u0VU7F2v6TDMLDgSqNV+AwHDso56dlio2I4swo222bNj8IdZTbyjZ6P+txBtO5i85gj/y5/phEXtrBTPgiaiFlOErrhNJLZEH0rqfL5IOpz2b9uFtg4TemtBbKGo1OV8XKG96YzgbsJSuqtV/geHpHF32RJKHF9EcDRMDLcUnEtlbiAdi1EPFQEZM/xivntkuscvMPvSMT9BeHhYk2IKPR1f8JDmaRkgaMMRMeli4rK451Hw5WxQkjzh2xPYt4KeDvbfA83rflCuDsg3wABW3pXGn6wRGlewDl1UBY4FR7BBcyLyg97kzWkAQdajGNE7iv19EhfVjfSeLvRwl3jCqMcX9k3dY1q34dJCENiBDfWMGHqQiDWYa+UtVFXpdDbwPpgPjCKDXSeixjBFk3wbHSH/437+MSCRf4tnrw8FzW2cUtJAcYDTCLpT7sIFUthpEjc06pC38Qx4fQyWHK0XnPnDqUCq26ugK9vEq0JejCyz/p3Y0eLc5WDFx/N0POwMO1HIQqmXvjaLk76180bJGfHg4x0PP8sW5sTg5RS3LO/vt2/wlUmCG0BnTD0jJ/EZ+60Bk1jO/PuGslvlttki02fPxTvW2YSnXcfdqPKN8r7Sx+lmtZiWILt0auPunWVmRXnWVGG2QiIpWjaR8VQI+b+dE6YAKy/TFKd8pgArL9MUp3w="
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-1b53a9b2-a892-dbb6-a212-2d6d10ca8294/test-file-a9cd7d8f-f88c-57eb-5467-f262a5750e16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5ABA733A9435\"",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA733A9435\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:20 G[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-1b53a9b2-a892-dbb6-a212-2d6d10ca8294?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "360755052",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
