{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-985412fe-e79f-5af2-e276-f1427e5dc185?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E348D4E42\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-985412fe-e79f-5af2-e276-f1427e5dc185/test-file-bf71b333-08bf-e18d-559a-53e0fcae89be?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E349CDEB2\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-985412fe-e79f-5af2-e276-f1427e5dc185/test-file-bf71b333-08bf-e18d-559a-53e0fcae89be?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "m4WBK2gogGwGtvXwXmWMlWmC254id8NvnMLogmSHsIT1V/FIyuEGP1/OQwtOBhe8jZgba0IaDiPBEo6lP/0HfwVx\u002Bwd0RMuHfJs\u002BUzS4IZWqLPXMbEVB2kjNh7hSYP9hxsMF3AsQSEnNk\u002B\u002Bn3LvuCPH5\u002BxMIOxLALyC/pr0SNBub3IxwskSJmuSr/thWmv6N3n7GWWXsWYuxRazrUaGMul/TC/8uflatcGEvXTw6apUiMcc/TNu1r4MBv22XnkhCH0R5go//XmAnGekEvPxOdtoXyR/ZTW2DHlt7LL7oFdIY7D74wegFItNnFzLysPKHs0mT[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-985412fe-e79f-5af2-e276-f1427e5dc185/test-file-bf71b333-08bf-e18d-559a-53e0fcae89be?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E34B8CB13\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-985412fe-e79f-5af2-e276-f1427e5dc185/test-file-bf71b333-08bf-e18d-559a-53e0fcae89be",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E34B8CB13\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "TS\u002B\u002BNrLaqco=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "m4WBK2gogGwGtvXwXmWMlWmC254id8NvnMLogmSHsIT1V/FIyuEGP1/OQwtOBhe8jZgba0IaDiPBEo6lP/0HfwVx\u002Bwd0RMuHfJs\u002BUzS4IZWqLPXMbEVB2kjNh7hSYP9hxsMF3AsQSEnNk\u002B\u002Bn3LvuCPH5\u002BxMIOxLALyC/pr0SNBub3IxwskSJmuSr/thWmv6N3n7GWWXsWYuxRazrUaGMul/TC/8uflatcGEvXTw6apUiMcc/TNu1r4MBv22XnkhCH0R5go//XmAnGekEvPxOdtoXyR/ZTW2DHlt7LL7oFdIY7D74wegFItNnFzLysPKHs0mTf9QpadHX9WQzgzKiPwQX7NC\u002BVrXyEqZMcjY6kW1o83h1VZX974NsIMuE0Z\u002BgxNc[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-985412fe-e79f-5af2-e276-f1427e5dc185?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "95816889",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
