{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cc0547e7-297e-7540-4d00-d192cc1d9a0b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8442652D0B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cc0547e7-297e-7540-4d00-d192cc1d9a0b/test-file-b0003d97-1aed-27ce-dfc4-d5c4974e7938?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8442750B84\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cc0547e7-297e-7540-4d00-d192cc1d9a0b/test-file-b0003d97-1aed-27ce-dfc4-d5c4974e7938?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\u002BgRlNQg9Dsu6bJRmKcQ42W194IefWDNVTOYzJ2dx/LsufoI4D11LdDayh2pI1Dr5nNyuHpti4qHREOgiCedkSW/ZOKtCAMkPMWxR7dHJDHirOoqKwt4gy5vgZ/91KWtOTj36bpyOtpwSn\u002BwvEPTQBwNwds5d2YeRuGwPYZjKmggAAp\u002BTzp3bHIPtdyPx8LunEF/7BLKc8XS2abYwf1QDSATjLg5VPDlllFlKb2Fkn8exaFE5zpZWYxEq3GTnq50u6S8eDsKsUtQllm9YUYETUsrufxcDynlujcr9Kl/Ufem8HIYxRZEFBBZ9FDgm/hGPF4qa\u002BSuGK[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cc0547e7-297e-7540-4d00-d192cc1d9a0b/test-file-b0003d97-1aed-27ce-dfc4-d5c4974e7938?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F84428EAE04\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cc0547e7-297e-7540-4d00-d192cc1d9a0b/test-file-b0003d97-1aed-27ce-dfc4-d5c4974e7938",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84428EAE04\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD6BGU1CD0Oy7pslGYpxDjZbX3gh59YM1VM5jMnZ3H8uy5\u002BgjgPXUt0NrKHakjUOvmc3K4em2LiodEQ6CIJ52RJb9k4q0IAyQ8xbFHt0ckMeKs6iorC3iDLm\u002BBn/3Upa05OPfpunI62nBKf7C8Q9NAHA3B2zl3Zh5G4bA9hmMqaCAACn5POndscg\u002B13I/Hwu6cQX/sEspzxdLZptjB/VANIBOMuDlU8OWWUWUpvYWSfx7FoUTnOllZjESrcZOernS7pLx4OwqxS1CWWb1hRgRNSyu5/FwPKeW6Nyv0qX9R96bwchjFFkQUEFn0UOCb\u002BEY8Xipr5K4YrH7awgfevJ3RQGYWbNfvhDTjoewGGtUFHjrltE9U5g7428WZ6lBAOVO4Iwx6gYtuUNXxiEbCFpGl1afI\u002BQhOfFpXHZUSUZnko2iYSfvIipyzd2N5Y13INsUz9BSsezxHbaayI2PyXAM4DOTaJciZ3UsHFYGk1Rz4jurT3l2FOCgoUNhVFmc4wRtgPVZ47hD4mhbJpWG6opiJtZR5Hn2lttS4sdDsRMbnylRqRJfKg6DZ20RGu5LKbbJDz1zSw6KZvop9vDg8CFFP5dsNUF4AvzXzo0c1Xv9B8kAirHlmEQqx0IYNSMNkmc7y9tG3uR1UQwwq3xxbZF\u002BPP830HV/b6dDQW4PX93ZyjwblSCtUgKM6zuVIK1SAozrM="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cc0547e7-297e-7540-4d00-d192cc1d9a0b/test-file-b0003d97-1aed-27ce-dfc4-d5c4974e7938",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F84428EAE04\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:17 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84428EAE04\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cc0547e7-297e-7540-4d00-d192cc1d9a0b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "644138343",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
