{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-456b14eb-283a-f1a4-1607-3aa1d4ab5bba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A02900C18\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-456b14eb-283a-f1a4-1607-3aa1d4ab5bba/test-file-d68a5614-82f7-da4c-93b4-dfd5ab3f83d0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A02B77D08\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-456b14eb-283a-f1a4-1607-3aa1d4ab5bba/test-file-d68a5614-82f7-da4c-93b4-dfd5ab3f83d0?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "1Y9DETmtRqwyWDjV00PXoQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "h3moY0z6vGOe50ghgVNeVL5D4fbvE+nyqxYbywo5uEStT8kZGeSqxSBZqOlnBfmwzCh8h9Z0aXOQtrg23/FYZC4EdDGJRTvZmRzWlWv/iqUcav7ivTBtOOZViWIsc+YvAEO6YpHHJoftou66ntMIkCsTGnTydaf+lzxLNLzYrSU2ppUnRCgTVUR39RpBspkSTPg2GVlyPYqcvMtVe/HLFfXJg/c+4UsD/8UveoCNvOSiOOfDoZPMxGkKiohcvdlSrOAkeC+h1GusMxmUQsIKDwDnskIKB3Nh/L+OM1bDp0Hr3M6gaEO1AWR8Fm56OIGnAHuHdQqWSKRsw3xvE6EU6YzYqGXzaae8MrHejfAF58M95zPbOzE2VJQpM6THRe3CaC3iopAcs5bUykNZt7u0Zty4MituOa1aoVPQyjYC9ezDHCTDI0UzIDOcBnHu3ZzZdczIDhLCVC+AhwA8S+lg0tRWlZuW8EOWhRH40TI8a8O291RpOefZAcf1Q5tE9tVJPDScl0gBQ4SJMYgByYP8Qxs9hlOU9pjtfJPUoa2nUo48rpT+oNR7tbTQ3wde2DhD+P+AB3CBtUWbrhu1LKHW4t/6xBvv/qNHwtCfxBeQjqNakKiuJ0sduvlOYvG4xYkS+fwoZBMcVPlbOEWg4vAuCyB3Wpv5KLuU3AohoJyyjvw=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-MD5": "1Y9DETmtRqwyWDjV00PXoQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-456b14eb-283a-f1a4-1607-3aa1d4ab5bba/test-file-d68a5614-82f7-da4c-93b4-dfd5ab3f83d0?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A02E1A8C4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-456b14eb-283a-f1a4-1607-3aa1d4ab5bba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "559626294",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
