{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9647c5b5-26ac-e626-c129-10b09ff77f48?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE62EE76A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9647c5b5-26ac-e626-c129-10b09ff77f48/test-file-64fea15c-bf20-c234-299b-7cd2b71b4b5f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE63E9EF7\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9647c5b5-26ac-e626-c129-10b09ff77f48/test-file-64fea15c-bf20-c234-299b-7cd2b71b4b5f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "aQUFEZCQR6kH3T2O9t8uyoEAsKQ1q2SalzuJ2PHoTWBqKt2y8ZZ/b7MYzQbaCmrUwE9UG0cPz76hanlUB263Ho/cI8sCe9jrgEHxHN5dv4zRtBeikzIYWlseEIYcKmdEYK52/eee0kR2aZsGHbPgQ6rtg1JXFYtdw8hw42pSz1XZrbsv58KlMuLSLCmXEj2oPc3bL6cV7UsjGDkeLe7ZJJpFLHD3sFzoR1BwhOlhxrGLyKWddp\u002BuxMBvDM6IhwTz\u002BAePUeXMsI1w8\u002BdWpWhiwVKIkmVIO636l2iwh6SOYL9LfIzh0nXLvxcYLYO3Vx5XDUt8//WfqrxalL[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9647c5b5-26ac-e626-c129-10b09ff77f48/test-file-64fea15c-bf20-c234-299b-7cd2b71b4b5f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE65A1616\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9647c5b5-26ac-e626-c129-10b09ff77f48/test-file-64fea15c-bf20-c234-299b-7cd2b71b4b5f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE65A1616\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "ueOP/2Rb/iE=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "aQUFEZCQR6kH3T2O9t8uyoEAsKQ1q2SalzuJ2PHoTWBqKt2y8ZZ/b7MYzQbaCmrUwE9UG0cPz76hanlUB263Ho/cI8sCe9jrgEHxHN5dv4zRtBeikzIYWlseEIYcKmdEYK52/eee0kR2aZsGHbPgQ6rtg1JXFYtdw8hw42pSz1XZrbsv58KlMuLSLCmXEj2oPc3bL6cV7UsjGDkeLe7ZJJpFLHD3sFzoR1BwhOlhxrGLyKWddp\u002BuxMBvDM6IhwTz\u002BAePUeXMsI1w8\u002BdWpWhiwVKIkmVIO636l2iwh6SOYL9LfIzh0nXLvxcYLYO3Vx5XDUt8//WfqrxalLp9Gyno4ZIoCijcge7cvdJNMA4qQj9JWXpZEmDKq9LPhz67TqPuL0zwj0z2e4tcn0IiUnquL1F[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9647c5b5-26ac-e626-c129-10b09ff77f48?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "187124493",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
