{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-67172554-16d7-1317-2467-8c38c1a56518?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0475053220\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-67172554-16d7-1317-2467-8c38c1a56518/test-file-4438f1f6-ea5a-589c-9492-6aff9d941788?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB047512CDD6\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-67172554-16d7-1317-2467-8c38c1a56518/test-file-4438f1f6-ea5a-589c-9492-6aff9d941788?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "5W8RZCrUlvv72O5znxiSKN6kzgWJhooO4fknDU6he/RAMBkR6SO9lCUg5LUn3klSruGqH7UevF/kAoMwrYmtWV35M27/gD675jrfaKHU5wOv1F5s91s/InS5LOagjOecc4tYLarbUy2i7jl7PlO+EBt/gdkqQGIBuhH6RVNYG1lSQ/UWe7lZ1IAxyggiw+Mg+xzLIQsNcTIoV3OZ4A7aStPfKPtdqJRhJq1Z+XZa3/Yt2Uo2jPpORNHD7SRGv/NxVn80Qprow1KIafpetHi7znd8bAfEo77ZkeMqmrpvG2a556L3JZ1cRRb3riL/8JBYCB+tyVPrrbPBW7C3vSiYGU2TpMzWw[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-67172554-16d7-1317-2467-8c38c1a56518/test-file-4438f1f6-ea5a-589c-9492-6aff9d941788?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04752C7047\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-67172554-16d7-1317-2467-8c38c1a56518/test-file-4438f1f6-ea5a-589c-9492-6aff9d941788",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:00 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04752C7047\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADlbxFkKtSW+/vY7nOfGJIo3qTOBYmGig7h+ScNTqF79EAwGRHpI72UJSDktSfeSVKu4aoftR68X+QCgzCtia1ZXfkzbv+APrvmOt9oodTnA6/UXmz3Wz8idLks5qCM55xzi1gtqttTLaLuOXs+U74QG3+B2SpAYgG6EfpFU1gbWVJD9RZ7uVnUgDHKCCLD4yD7HMshCw1xMihXc5ngDtpK098o+12olGEmrVn5dlrf9i3ZSjaM+k5E0cPtJEa/83FWfzRCmujDUohp+l60eLvOd3xsB8SjvtmR4yqaum8bZrnnovclnVxFFveuIv/wkFgIH63JU+uts8FbsLe9KJgZTZOkzNbDqNogJ/HN9ZvaoVPSkpvCURPOOu42yuykh+1flNRrS8OCRHbSqSv6374mgQ9j65b9V/x/1pLnjd7ue58EbmDGblWPT00k76jn1FowD0ncQJxWYT3Y63UxmraY5C2M9XFdYBK61JtJ2GhTmAI3tn2VEToDrgwi7YLfXrWWjAp6W97p0682ImwADInVhVNz+eQ4AtLyiUdlOnOQ2nXmskxd2DwjTuPOX+/NAqGCTGcubGXQXok3h9KXg5g8pUf3Glo8eKwWT6oBaqPjJIal4u0LYW4PFVTDJVBqjMtKkbmn1uhHRtS7Fxy6z/PlVGNL8qCqMUTZ5wQGeVJbrGXvz92JJeg/Ze/P3Ykl6D8="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-67172554-16d7-1317-2467-8c38c1a56518/test-file-4438f1f6-ea5a-589c-9492-6aff9d941788",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB04752C7047\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:00 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04752C7047\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:59 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-67172554-16d7-1317-2467-8c38c1a56518?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "672029050",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
