{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bd8f8c6c-f41e-b91d-8316-cbae318e1010?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D697F53EE9\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bd8f8c6c-f41e-b91d-8316-cbae318e1010/test-file-bcedb0e3-6d02-41e1-2c96-fb9f18747c76?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69801EA44\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bd8f8c6c-f41e-b91d-8316-cbae318e1010/test-file-bcedb0e3-6d02-41e1-2c96-fb9f18747c76?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "3FKyqoZfHomThlPVNUCYCmJTbjpeBnYOxvalM4oSxJEUw//Oxgnx39ildhNh9pdVC02E8Gj6m9bco+OPuuv/gMLCwXJBykRZYY5iuZBirdBfTyc8jtMoGScp8iIlYiXspvVRnzUlFEEJKo7amOJFefYTL2rDw/LumadKF9chM/9pdRKaEQ2bOjvmMmNEToFF5HksEjK6KeIDYgWN2vxq5/aPcCLPqmjod/Qv3ZCOqUomBTNe9SHNr0wwl68HDV8+fEtstd5edTkRQ5o9ikxRdLi6Z9XJDPHVwcDWnxK44GmV8GBFIfNsx4/5TLKGjyX/3iP2TaWKdXBZl/MdiNUmWGIwqJnrD[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bd8f8c6c-f41e-b91d-8316-cbae318e1010/test-file-bcedb0e3-6d02-41e1-2c96-fb9f18747c76?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69815DB99\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bd8f8c6c-f41e-b91d-8316-cbae318e1010/test-file-bcedb0e3-6d02-41e1-2c96-fb9f18747c76",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D69815DB99\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADcUrKqhl8eiZOGU9U1QJgKYlNuOl4Gdg7G9qUzihLEkRTD/87GCfHf2KV2E2H2l1ULTYTwaPqb1tyj44+66/+AwsLBckHKRFlhjmK5kGKt0F9PJzyO0ygZJynyIiViJeym9VGfNSUUQQkqjtqY4kV59hMvasPD8u6Zp0oX1yEz/2l1EpoRDZs6O+YyY0ROgUXkeSwSMrop4gNiBY3a/Grn9o9wIs+qaOh39C/dkI6pSiYFM171Ic2vTDCXrwcNXz58S2y13l51ORFDmj2KTFF0uLpn1ckM8dXBwNafErjgaZXwYEUh82zHj/lMsoaPJf/eI/ZNpYp1cFmX8x2I1SZYYjComesMUsROoEXPvz9OMpvWwO/Ck8MKe/Driv9OPrnS9E9V5o[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bd8f8c6c-f41e-b91d-8316-cbae318e1010?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "590647927",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
