{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-69699d65-7784-c2bb-6488-546517582a8e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69A3831BC\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-69699d65-7784-c2bb-6488-546517582a8e/test-file-2336d709-3512-9f57-95ea-97b78e250d77?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69A4EB0C4\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-69699d65-7784-c2bb-6488-546517582a8e/test-file-2336d709-3512-9f57-95ea-97b78e250d77?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "zuOjlJojgL1i6YHO+HL9r+Hl//xa25ug6odfH+W9/Bp4anrhERLVQpk/7AqqVy0paBKanc5AuPJIAqoSxGHYpOxnVY74HJ3PELxiG++Q9ZNZNrbSIl5MN7GHmA5own44Z0cdQwGfMEt0y40R3Z0Dtw0WuY6qBYGNGx3ccISPZk4+KrSnc7KRuQVrXVfROlkUhOEBUQnvjmHFkCjkw7/H5WQ/0rPpW0RahP+IP6gqvODDx+yijRVETpxS4eOKrfVFo3jykmemKimdp8wJZ065m9NHIPzTJFhP+oQXlnph0NcJQ5swNyp4HZzDBeZIOudNmUYPQo35cX8fopfjj5SuO9b1ACOzi[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-69699d65-7784-c2bb-6488-546517582a8e/test-file-2336d709-3512-9f57-95ea-97b78e250d77?action=flush&position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69A6178E5\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-69699d65-7784-c2bb-6488-546517582a8e/test-file-2336d709-3512-9f57-95ea-97b78e250d77",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D69A6178E5\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADO46OUmiOAvWLpgc74cv2v4eX//Frbm6Dqh18f5b38GnhqeuEREtVCmT/sCqpXLSloEpqdzkC48kgCqhLEYdik7GdVjvgcnc8QvGIb75D1k1k2ttIiXkw3sYeYDmjCfjhnRx1DAZ8wS3TLjRHdnQO3DRa5jqoFgY0bHdxwhI9mTj4qtKdzspG5BWtdV9E6WRSE4QFRCe+OYcWQKOTDv8flZD/Ss+lbRFqE/4g/qCq84MPH7KKNFUROnFLh44qt9UWjePKSZ6YqKZ2nzAlnTrmb00cg/NMkWE/6hBeWemHQ1wlDmzA3KngdnMMF5kg6502ZRg9Cjflxfx+il+OPlK471vUAI7OJY6nOA18QH3IHv5zJ/DRRjUoQ0RwQlJKVjggUyQ9SOsOZEOJldImaYV+tm9dGxZd66kmr8FKXeM4XOHVW/FVitIXYMOxR7BjAdXC8Yvm6Tslxmd/Gp0pxAZcTTjsURGQJS+dSbZSrKf0w6nrh2xbVXOqs5WN2nAw6Zy5UPZ3crDELshcRZ+A0xW/hlb3PkCaBPfFRaF4Bk67aGAZmV+tgUz5J1Sj+w/UJdx/zlAdOatYI0gCri0PSCh5oN0/Zzm6EgUF/hrr9g3r8SPA+Df6njK0vXYXrtMj6dssKlYylL6mxbxPFz+McCk6GrkNTlPwgwKuiqXDpmMx5hWz87XBphNHdbPztcGmE0d0="
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-69699d65-7784-c2bb-6488-546517582a8e/test-file-2336d709-3512-9f57-95ea-97b78e250d77",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D69A6178E5\"",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D69A6178E5\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:03 G[...]
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-69699d65-7784-c2bb-6488-546517582a8e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1505780710",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
