{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-067783b4-99ee-3c47-ad47-2e0210179fb8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA5A97EFFF\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-067783b4-99ee-3c47-ad47-2e0210179fb8/test-file-9f7e1a39-b417-6000-be20-a6f91fad41fe?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA5AB66CC8\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-067783b4-99ee-3c47-ad47-2e0210179fb8/test-file-9f7e1a39-b417-6000-be20-a6f91fad41fe?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:38 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADf2FkKq5IaQXrRffQxtTictk4eNEF72NCpT0EqCEG1AZOlsyu4hjRRwpOpDr48VSN5zhChaDOAZACJYVxQ7zk4G3tgiwIM5DAZzXGu0soSbPkesToxFJlgJE4rLiXYANNZcPNC28khbOrgiJvB0pE1d/RiMj3/BgbiAGez4bUKQcyeVGHWz5Aw/EVPUYv9nlK99bcwds2VWmnsYNtibYo11UfOI30vX6dkMjX4r7V65GIV9uz92sv/CPr46m61zY+6GnxEL3vUjZYPzEOXnKq0cXx4TXeeN/t7zhqDN3Q5r2SmPpQ4NbXmQGhW7Q2HZ2xPQ3jyPIAXG+OByWBhUVUh1h3f8F4WezvHkQwOSErt9GauNPT7RnLkjyOxt2xUhe8TNBbwqHcNOMc9K6pzCNKYk9T5sx1gJZCq+mE7ZMTOcgsd+xQz/UzvoPssvhvIcIZQGCOYWtLRsg+GRa0V0tQDbrieVg2+ZJaIChIiNGd04ora6kygNhc5S0gErbee2c0nKU9iKRp5kbONEFDAr36oEWMiO+eHYjihZQrEubfe6TBF+woXErhwYViYEibGeJvJXJtUe57ln8cWwcMPtNj7ryYgerR0kP+qstqP708S2uxu+1wcim2SX1tCAFD1YKyAnGP/pv7nVcybqcjDVrB3BOfXobl73yS4jhpYMZCvtXld905RvRzIeV33TlG9HMg=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-067783b4-99ee-3c47-ad47-2e0210179fb8/test-file-9f7e1a39-b417-6000-be20-a6f91fad41fe?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA5AD58DCD\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-067783b4-99ee-3c47-ad47-2e0210179fb8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1386705036",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
