{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-333b72a1-6c32-1d27-43ba-4660dd071882?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F844566360F\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-333b72a1-6c32-1d27-43ba-4660dd071882/test-file-0083f85b-55ab-f04a-8bcf-618330a9220b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8445748E0D\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-333b72a1-6c32-1d27-43ba-4660dd071882/test-file-0083f85b-55ab-f04a-8bcf-618330a9220b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ySOJA8qZ7G4wQ0wnEP2dEa46TxZBK8goXE\u002BosH5skcKbs2BcpwhCd9pWvHZmS1xUPKImLNRZZp1bYaZ78DvwxLGJi12dQWqm99c76m9RwRHyVHPbRWTuQk3DAUVhxoafZfjE3L//t/s3gDT8HXsuCZ\u002BViZzHFH5Mm0kP2j8kRDFRnIV3jeVR8p14pMUw8STSlPimzD3p11F5d0B28Ny8EjsDq4H2t3y6Q5b/T3C5HKokPUVHfnjzZ8Qz/RWk2gLAvJGKLEai291864im6YfgwFuWUbKXdJTCEEO8wrlnFmiUP5PeLu9jgWFny5LvTH08Uzy5DYlPKUf8xxwC5Rk[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-333b72a1-6c32-1d27-43ba-4660dd071882/test-file-0083f85b-55ab-f04a-8bcf-618330a9220b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F84458F41A2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-333b72a1-6c32-1d27-43ba-4660dd071882/test-file-0083f85b-55ab-f04a-8bcf-618330a9220b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84458F41A2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADJI4kDypnsbjBDTCcQ/Z0RrjpPFkEryChcT6iwfmyRwpuzYFynCEJ32la8dmZLXFQ8oiYs1FlmnVthpnvwO/DEsYmLXZ1Baqb31zvqb1HBEfJUc9tFZO5CTcMBRWHGhp9l\u002BMTcv/\u002B3\u002BzeANPwdey4Jn5WJnMcUfkybSQ/aPyREMVGchXeN5VHynXikxTDxJNKU\u002BKbMPenXUXl3QHbw3LwSOwOrgfa3fLpDlv9PcLkcqiQ9RUd\u002BePNnxDP9FaTaAsC8kYosRqLb3XzriKbph\u002BDAW5ZRspd0lMIQQ7zCuWcWaJQ/k94u72OBYWfLku9MfTxTPLkNiU8pR/zHHALlGSQV1R8SqvQBkWsyz1EvqQHTw8aAb3ytCd9EFkziZ9Nhm0dDtr3POdNIUatN2rn\u002B\u002BZ769Fk8ZaqnZ8tAzpOoHymY0TMJ6/JEA4nyNx7RXy4mRhyt53N6JTadnE7yj2s/oDGBtQmF9A2rtvDPSS2M1QicGYd3\u002Bji2Hqv9a0\u002BkUnMes5fsT6oloFIPAjCCqtwIEcZGVXbjyKX5y5Zdh4i\u002BB2R9sJWVn4Zed3g1Z/gIM3PO9VqJXfz9Ourx84QTxxnJUPrLBPpGcnJA6N79rmCt8JcjjpIuNalogHaro6sBSq9faxb9PC55iILoSHUe/4uKRALt8DmGmxtRY4SDm87GP50unS5m70wutGJDLmbvTC60YkM="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-333b72a1-6c32-1d27-43ba-4660dd071882/test-file-0083f85b-55ab-f04a-8bcf-618330a9220b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F84458F41A2\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:22 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84458F41A2\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-333b72a1-6c32-1d27-43ba-4660dd071882?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1819147889",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
