{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a69aa382-f1b3-9b67-b67b-9c39420ca80c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B74A990D\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a69aa382-f1b3-9b67-b67b-9c39420ca80c/test-file-17b09326-1b54-c3b4-0805-32e65c9ba87b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B7576FA8\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a69aa382-f1b3-9b67-b67b-9c39420ca80c/test-file-17b09326-1b54-c3b4-0805-32e65c9ba87b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "pyPHAraTid0EWFLsGJAh+rsbmQ8Qj8Pbio+q9Al+Y5I9li5W873JDKkdFPG6pJoBhaBkwyd6MRdg63gm6JXUhfS/roJiygf9UY1l83vRIeb1qW5pGaBrwmQW9ghEoiMTSY78+vUXnruZZnGaFD6cjsqSMT8namxUVOweTNP+uK5pUqrs1Sbw3Qqz0LIu0K0memg9snHk7N8iqKYJ+VLnmq7CMMKTr7mjoVQ0c5m5JYQ+99JrwAU9hGXLyiyA5+O4yzYEa5/rksqvmREcsHhFaYIiygKAfNmohKtdyOSMI7lwfKdjtLnkU2QHuyb0INTshWGqXh3hN09dXOfzjcnlI3ZYrDPR4[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a69aa382-f1b3-9b67-b67b-9c39420ca80c/test-file-17b09326-1b54-c3b4-0805-32e65c9ba87b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B76BA831\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a69aa382-f1b3-9b67-b67b-9c39420ca80c/test-file-17b09326-1b54-c3b4-0805-32e65c9ba87b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6B76BA831\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACnI8cCtpOJ3QRYUuwYkCH6uxuZDxCPw9uKj6r0CX5jkj2WLlbzvckMqR0U8bqkmgGFoGTDJ3oxF2DreCboldSF9L+ugmLKB/1RjWXze9Eh5vWpbmkZoGvCZBb2CESiIxNJjvz69Reeu5lmcZoUPpyOypIxPydqbFRU7B5M0/64rmlSquzVJvDdCrPQsi7QrSZ6aD2yceTs3yKopgn5UuearsIwwpOvuaOhVDRzmbklhD730mvABT2EZcvKLIDn47jLNgRrn+uSyq+ZERyweEVpgiLKAoB82aiEq13I5IwjuXB8p2O0ueRTZAe7JvQg1OyFYapeHeE3T11c5/ONyeUjdlisM9HitMg9d515wLKzY9dwQ4PhxZyORFgFV9LwxZohmLCcdK[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a69aa382-f1b3-9b67-b67b-9c39420ca80c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1958192316",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
