{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a4d7439e-6ab0-dc61-e7bd-1cdc51c56a08?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F14B9DB5\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a4d7439e-6ab0-dc61-e7bd-1cdc51c56a08/test-file-346a63f5-994b-5ab4-8eba-1e427e11b1cb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F210C9E8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a4d7439e-6ab0-dc61-e7bd-1cdc51c56a08/test-file-346a63f5-994b-5ab4-8eba-1e427e11b1cb?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "gGW5umKWi3rvC4Ton4L3NuP0UY6qWyhpcCxtnl8EuTV9oV5/9x/F8zigH9T9INf9WI5qHpi8fiQ9UEk1Ke0a6lJOav4jdz/DL11WCTxTa1BUcEbQmpqcwCI6QabWj8pKhjSCr7XZ2eBOp+86ZnXo6uT54bmnSlC3sarb6TaY7Z+TC4MH0byae5ZlgvKrYVqtUVfC3a4Rozvjyv0L/fCptblPp1vy4BgnXmUjQchdC1BQLpfe1hDxgmdHIwe/j36mu8w5XLr+unA+mn5J7WJzhb6tus5Yyt+pXSXzq70RaM/mfIX8JK6VUXQnoDyRqJQF055IEtSwTfHsj/+UCw+zLDKvYnDcd[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a4d7439e-6ab0-dc61-e7bd-1cdc51c56a08/test-file-346a63f5-994b-5ab4-8eba-1e427e11b1cb?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F2319CA0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a4d7439e-6ab0-dc61-e7bd-1cdc51c56a08/test-file-346a63f5-994b-5ab4-8eba-1e427e11b1cb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679F2319CA0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:29 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Q0So6ZUHKPc=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:42:29 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "gGW5umKWi3rvC4Ton4L3NuP0UY6qWyhpcCxtnl8EuTV9oV5/9x/F8zigH9T9INf9WI5qHpi8fiQ9UEk1Ke0a6lJOav4jdz/DL11WCTxTa1BUcEbQmpqcwCI6QabWj8pKhjSCr7XZ2eBOp+86ZnXo6uT54bmnSlC3sarb6TaY7Z+TC4MH0byae5ZlgvKrYVqtUVfC3a4Rozvjyv0L/fCptblPp1vy4BgnXmUjQchdC1BQLpfe1hDxgmdHIwe/j36mu8w5XLr+unA+mn5J7WJzhb6tus5Yyt+pXSXzq70RaM/mfIX8JK6VUXQnoDyRqJQF055IEtSwTfHsj/+UCw+zLDKvYnDcd2EPF2lZMCqiF7WQ7dceyVb6NS+UD5SvAEVkc3MK4kYjKFs8OPpqVh3GSXhJBB03lGPctCxBSGjMXxYj9by3mDVvbcV84ZFbkN8RzcUcZvwoLN8QLS4Z4d/ycNjkRmFgD7BC2pZYu7LRgCRNMHqjr/ka+8jdpmoHVYvliXG5d0l+sb4U2otl0HEsPq0JzLFlT8HeyUuYgmhGO4ULcjFBGAnazn68jtVutCtXsWi9/YjagDqw2q3+5S5Wzp4FWl0/6yWjL/0yqMDrbxUfQNH/iD78MPH3kT5b3OhPZsA2aFnNGMZDGc6Lp9d5xGqX3qRdVkVgCSlrSFnnR1I="
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a4d7439e-6ab0-dc61-e7bd-1cdc51c56a08/test-file-346a63f5-994b-5ab4-8eba-1e427e11b1cb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679F2319CA0\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:27 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679F2319CA0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:29 GMT",
        [...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a4d7439e-6ab0-dc61-e7bd-1cdc51c56a08?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1285215609",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
