{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-be650707-9b89-e6cb-41c1-7ee1e2b0adaf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04983EB568\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-be650707-9b89-e6cb-41c1-7ee1e2b0adaf/test-file-ef8624a5-e45f-c835-997b-2d0568cf69d8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04984D632B\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-be650707-9b89-e6cb-41c1-7ee1e2b0adaf/test-file-ef8624a5-e45f-c835-997b-2d0568cf69d8?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "0QbHAHpHHMyUsLB0aLaZIsvk26VZEu/6ptZ3VpWITvJbv0NGV/UfviGKBg5w3QT3lIIegUATGb4WzFmkz8Y3DGK+GalzU8vWxR2EzwzhicjRgMETac2xR6aEL4qbe+5aUvmsssRbhEG2SLwjj0mxNUOR0k8FJKOVDNEC7iNBOkouKXwTNNcDdvuAXCARjrhc0vlHCqmeVC5WFqXzWJUddQ5x9GXNngBsjVtThceChH0Zphsq+jCgkNVNvR0xEB5mYucSn5pSjzT42nxNS89n05Io2bF583rd0WOQf+HiOnw97SLgcOXixxbnMR+zU0UG5umLCTds7G9sNM02wRBSFaAAEF2sh[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-be650707-9b89-e6cb-41c1-7ee1e2b0adaf/test-file-ef8624a5-e45f-c835-997b-2d0568cf69d8?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0498792E22\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-be650707-9b89-e6cb-41c1-7ee1e2b0adaf/test-file-ef8624a5-e45f-c835-997b-2d0568cf69d8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0498792E22\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADRBscAekcczJSwsHRotpkiy+TbpVkS7/qm1ndWlYhO8lu/Q0ZX9R++IYoGDnDdBPeUgh6BQBMZvhbMWaTPxjcMYr4ZqXNTy9bFHYTPDOGJyNGAwRNpzbFHpoQvipt77lpS+ayyxFuEQbZIvCOPSbE1Q5HSTwUko5UM0QLuI0E6Si4pfBM01wN2+4BcIBGOuFzS+UcKqZ5ULlYWpfNYlR11DnH0Zc2eAGyNW1OFx4KEfRmmGyr6MKCQ1U29HTEQHmZi5xKfmlKPNPjafE1Lz2fTkijZsXnzet3RY5B/4eI6fD3tIuBw5eLHFucxH7NTRQbm6YsJN2zsb2w0zTbBEFIVoAAQXayGY6xFEpqSwVspfR6KmPhXMUXRAbN0OxesBQaVG3+zQ+[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-be650707-9b89-e6cb-41c1-7ee1e2b0adaf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1894322849",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
