{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-253c32b9-78e9-eb4a-a861-7fee7d0cc115?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0479DE0B49\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-253c32b9-78e9-eb4a-a861-7fee7d0cc115/test-file-87fe16c5-0c13-9a0c-e022-684dfbf52e10?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0479F03B08\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-253c32b9-78e9-eb4a-a861-7fee7d0cc115/test-file-87fe16c5-0c13-9a0c-e022-684dfbf52e10?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:08 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACchA5x+FTiYiZWa1NmHeOev9IjvDsROnUfCvy/qRyOuphLkYP7L7N23m6JhRDCkQCdDzCF3ECKikqZUe5YIrgJx7G6G4xfo48frd3NiLVkXXj7IZrsCN5XwAY5Yd7EHry1f71eB3Z0PWugZS5jvQGUNPR2XAAeHb/TYlqFJkKxWo4hFwn4BVUBhuQuS6Kv9AMEpCzpTsG7l2L9i6Ub7xcp7wqgQqX4nC6edNUc79IcI25XgYIVxwzMZX+n+nqw5ZfMBVuXD7JdCwj9Strsn6iP4Wg3xG6UEyj+090mUaG07o4+T+p3hRS8+XV6GHwy4MXXFxkSeSEpOPEzmTvUN7pmSFxLrVC9GFtTesv4Gvqry/IXTjmIonVtFRf4Q+vZ58G6E88g5jJ1Gf+9vv5VMB32h81IveiB3qbm3pg4xNRweZMJPgYriuXAojQ6yuN3F+T6ArsekCrZOTUpOQiaPFUqTURqTPEWy/zoiBuzRhPCb8azPsIYUelpMAXRAVHcJWXfEH2fDMvy4za+NggPJfIiZ8pB5v6TEftbARvsRcmrC2K21DaWI2L7wFqLWhvhWQoSrpqGmz9mTP6BQwqwBp5tEyulWVC8i0RnRiWjB7fgeqgQ2pYvJW8jT4g4Fd9YS7q8HkbvOwC6ViNVHlQawkRGoMlinysHPe27ggnIhHZkDzon9xqfCO8yOif3Gp8I7zI=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-253c32b9-78e9-eb4a-a861-7fee7d0cc115/test-file-87fe16c5-0c13-9a0c-e022-684dfbf52e10?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB047A23F548\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:08 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-253c32b9-78e9-eb4a-a861-7fee7d0cc115?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1202078531",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
