{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-4a9e934e-66b8-df4e-458e-183f441d0c3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B2AA3B26\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4a9e934e-66b8-df4e-458e-183f441d0c3f/test-file-24ebd781-57b7-a93c-bb7c-550de03604fb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B2CCA494\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4a9e934e-66b8-df4e-458e-183f441d0c3f/test-file-24ebd781-57b7-a93c-bb7c-550de03604fb?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "iwCS6v7Hvs5gtN1GLQtv1Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "q40cuotTJJfLQY3GWAx+xVeo1t1m88A0ulj/m0fumgOynJfSY3zkFUMgTT4jMUmlSaqBGuJgC7fN6AAzVIhQ3aeJE7t1q2Haw8GaRaWBEYgOWlKcbH8gUZHfBXt8scG60G+XmR2OL55IplchxcUSTNd3JPk2s3EnacEqlqblXhEA4HU16ndrgCq0U8Uo/4zMzLikBI3HhB3+bzBbZJn3Y0hFIOVP3GFfDKTPgl+r/2k1XcntQVqEOVxYN3pHDxuQvPB94t6mfPBXRfjo9wG9UnDGJQbQCiHtweeJ96XnF/yIP8ZuLhyLj+HYlvxim0FamuQKgekVv7HOjyD3HYRLcC37X7g7TiRTO5Yk93QliyWmLlzA3JUTcn8Un5/8k3JcjSXOZzuIH0zAt0ZT8cc8qQP6Ue4oipOX5+w5Jq6FVqckx2pOViTpHQ8QACVPv4G31/abAUKDNAKSN39PT/idOmCeLyld7VPeEDPfGIpuSChrgU646VVkoZNovB+lms0Wc8XEsJBYWumjvPEOoxx3I+9X5M6p5FALOo2V9DEzOXVmyaTEqZeXEiZkFS1kVf538JgwTrb/bI50uXYDwmW4b4N7qNl3s3pXv9GnRc8jp+SPHgSYA+q/Z1wWUO8glE/BrKWp6K0k/z0e2I7lVye/UBKSc6RgH2yZvEF8YWOKNis=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-MD5": "iwCS6v7Hvs5gtN1GLQtv1Q==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4a9e934e-66b8-df4e-458e-183f441d0c3f/test-file-24ebd781-57b7-a93c-bb7c-550de03604fb?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B2F6AADC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-4a9e934e-66b8-df4e-458e-183f441d0c3f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1111530557",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
