{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-1f94ec0e-6321-7fbc-99bb-2e1bd091acec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECC427573\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-1f94ec0e-6321-7fbc-99bb-2e1bd091acec/test-file-5133a02f-4ac9-de38-38ad-d3cfc56e16d9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECC4A1B24\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-1f94ec0e-6321-7fbc-99bb-2e1bd091acec/test-file-5133a02f-4ac9-de38-38ad-d3cfc56e16d9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "1KAeuwpI/9w=",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "8KMr8HoEX4Y2nhOzIb85M4n2W4r3g8sB0Wbi6Rez3+fDlAyiOkG+vOYT8oMwQEH3ZT14H8gftmzYKh4TIXZvgr4s74yzlvhIOJ6k45FH0ZEk6oPaO8Aeo96fyhAiqppwpG/EA1G0Q89EL+Yqe9LbkFmN7jfylEf+DUuuFMvoJo4END4hg80/b6e0lQvZ9CgLwzq2lLtjfQ8oxvUFBi8DWwlYJUaTug2LTX6PPf88JRkiolGRMpHSoLYv+b3XOml3sTkBgM7idwgsKkc900AQ7KDc4mTdcSl4hoWPZMFQtBMVF4zFOqRLQCpIZQdKlMx2Hgwc+1cEmj8QiPlJUhNH3HY0J7uzSrH8kaI6lQwiLvG4GUW0M7m7EH1NtbKqAe0XAYiQFm0Rw9RbH2m0ygQz7VoIkTnNkqm8eBY9ZpX/UY+1I5OEkRiEplZxWBRPB0Z4GcdYonC0SW7f1J1W01w+XM3a/6dxr1xBg+rjXDqVbXHQxUzOpq8fAdklpb16LdP5M/xGdQeeB2pqFh6F0O00SmYshg4QcLUeuv7OSwmfxlUW6ig9TvdpMb3hY5CQmTDs8VtWTqfF6MJGJ7oJ0Lxgy1DJbubE9vtuwlRQLgwljSHO4VquSHeuUQFm9yY9YGEBgZc/xypJJ/pf54tTdLq2IZqZO+5hsoPYGh3lXv7UMWI=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "1KAeuwpI/9w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-1f94ec0e-6321-7fbc-99bb-2e1bd091acec/test-file-5133a02f-4ac9-de38-38ad-d3cfc56e16d9?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECC626E0D\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-1f94ec0e-6321-7fbc-99bb-2e1bd091acec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "304058202",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
