{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bf9b028f-79a4-f218-889c-8b82762597aa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72775704A1\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bf9b028f-79a4-f218-889c-8b82762597aa/test-file-ff91facb-724a-bc6d-18e5-246b5172d135?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7277649B75\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bf9b028f-79a4-f218-889c-8b82762597aa/test-file-ff91facb-724a-bc6d-18e5-246b5172d135?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NizpO8bzX2K/AOoRTu5g\u002B/XGtbsQaOhdu7z0wdRQLnlgM/Rlomv/2Vuzb8HcqxkY61z8p6Z3581EjIAJ/p2NbtJwsBv6\u002B1iKx9tgXfgmgA\u002Bj3NZ4U4bT6UsmIBbr9du9JQHvbPr\u002BHfADct/LF4rVHQtwZiLHFBtLncfP1NpCn9L/ojf3NxMVpL7mdeGnB9LAUAMKeo649hDlpM8zLkkVwNINy3RT3ub4W8Fj4Z85o5X0DoPXNyVDR6wmEZJE4XZ10LQOmTxdbXIdEh7MVRRxrAA6Ph/FPomtyoTILMxTs3lL7hDqKgpYl6EQuSQGdvGXtWWRCqNWr[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-bf9b028f-79a4-f218-889c-8b82762597aa/test-file-ff91facb-724a-bc6d-18e5-246b5172d135?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72777DC8B5\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bf9b028f-79a4-f218-889c-8b82762597aa/test-file-ff91facb-724a-bc6d-18e5-246b5172d135",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72777DC8B5\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA2LOk7xvNfYr8A6hFO7mD79ca1uxBo6F27vPTB1FAueWAz9GWia//ZW7NvwdyrGRjrXPynpnfnzUSMgAn\u002BnY1u0nCwG/r7WIrH22Bd\u002BCaAD6Pc1nhThtPpSyYgFuv1270lAe9s\u002Bv4d8ANy38sXitUdC3BmIscUG0udx8/U2kKf0v\u002BiN/c3ExWkvuZ14acH0sBQAwp6jrj2EOWkzzMuSRXA0g3LdFPe5vhbwWPhnzmjlfQOg9c3JUNHrCYRkkThdnXQtA6ZPF1tch0SHsxVFHGsADo\u002BH8U\u002Bia3KhMgszFOzeUvuEOoqCliXoRC5JAZ28Ze1ZZEKo1avkithzriVQabJX6WBZgOHgfbhp361hGSn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-bf9b028f-79a4-f218-889c-8b82762597aa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2132534771",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
