{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9edb6719-85c7-70ad-375a-e468726a2387?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECF291D8C\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9edb6719-85c7-70ad-375a-e468726a2387/test-file-dee6ed79-dda6-ec8a-7926-9dfccba43e50?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECF320638\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9edb6719-85c7-70ad-375a-e468726a2387/test-file-dee6ed79-dda6-ec8a-7926-9dfccba43e50?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "f8Jm27iUPaI=",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "S+me3vR+Y3cjlrlwpDGEaO8RNm/4yv6pQUujCwAcNwFxZDECMI3es5/6NfHKBZP4/Tc4+612hIDr9J2o2lh3B1+3/kAAgTdiMoPP/ZUM3zu3qg3I5DxT+9+wFzzvNdhHgy6SEgdT+HwA1ckpp4fr3hVh8DBKriIiZAJhUGr7cvyrh3lmesw0ZLKRyA5zKVRYxTgmjkWo/dULcK4E8agRBGPMfh8NhGRILYt9uOUUrzquCIoy1OS3A4qkWwkeL3MKgMOrpqs1SkDT3WC5KkTv98B0Vekd3zB/FXqUaSlaKv0YcjciaAiOeb5KXvaD/dlFtGRIqdmK7aGTLJExoOAXebNioLcMzY645dwq04A5+xehTrTFEYAkjoWWjzx2XdndMuRDIF0hOefVkMT9XxogWTB5j1ErUmcyPhEydj1RQYcDTKCb9tq6gBXN74G8Ji9rdTUM/c6Hst99EOJL7sKphE49+hJ5hGJVvw87XmPmdhjixwAIRUS5e5rAHuX4bpFSI2syfywc8vDStj2/S1N8lprJaCfCoT8Kg354uGZ9XFB96Dv3s/fsxdUPNY4G+i9GQ4dKLwVqkIIrKPutpDmKVVntQWMYheKj3aNSsmuwA4lPMXTeMi1KE1i4y4v7PiGbheA0GLjMLr6kp1FiF90WeyRxXnPFqyIsoy4KX7lXp54=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "f8Jm27iUPaI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9edb6719-85c7-70ad-375a-e468726a2387/test-file-dee6ed79-dda6-ec8a-7926-9dfccba43e50?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECF46568D\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9edb6719-85c7-70ad-375a-e468726a2387?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2086314797",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
