{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ed4a980c-5d72-d6c1-582a-ad221334cac9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE32A0BC2\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ed4a980c-5d72-d6c1-582a-ad221334cac9/test-file-3c4c2873-e7b6-be23-cbfb-018ece706e36?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE3392712\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ed4a980c-5d72-d6c1-582a-ad221334cac9/test-file-3c4c2873-e7b6-be23-cbfb-018ece706e36?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "GkcqMcO8OZ1nJOwHJFn4ZgZtgBsW88mhqfTHMkdxofXkdk2Wx/J75b2BbtyyER8Q5MG4F4prqyZ\u002BiIjP9AZV9oL3Iq0LYZ8T8ZtelYXt75fVtk6GuIpqeMsmGD5prPG2K3hZuu9xBYIipSXuDRahkJnx\u002BT24zz33jKri5UlgqkWqp2kNkzSoY7HLZBNle2u0hYekeLKz/Vw6YS5Ejh85wfrfRGWtlP1lSJWL7WoqkhA/LmDBvDGS9qkM0zEFY9WSkaIYhTcFB/CKPi8cKBDxD88dBWC/eAXJTU27oMHLX\u002BXA\u002BVvHEQzZOidvNn0Bdc2ZG8Ni6F510[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-ed4a980c-5d72-d6c1-582a-ad221334cac9/test-file-3c4c2873-e7b6-be23-cbfb-018ece706e36?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE354EC6C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:50 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ed4a980c-5d72-d6c1-582a-ad221334cac9/test-file-3c4c2873-e7b6-be23-cbfb-018ece706e36",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE354EC6C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "cPLeWHKDrbM=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "GkcqMcO8OZ1nJOwHJFn4ZgZtgBsW88mhqfTHMkdxofXkdk2Wx/J75b2BbtyyER8Q5MG4F4prqyZ\u002BiIjP9AZV9oL3Iq0LYZ8T8ZtelYXt75fVtk6GuIpqeMsmGD5prPG2K3hZuu9xBYIipSXuDRahkJnx\u002BT24zz33jKri5UlgqkWqp2kNkzSoY7HLZBNle2u0hYekeLKz/Vw6YS5Ejh85wfrfRGWtlP1lSJWL7WoqkhA/LmDBvDGS9qkM0zEFY9WSkaIYhTcFB/CKPi8cKBDxD88dBWC/eAXJTU27oMHLX\u002BXA\u002BVvHEQzZOidvNn0Bdc2ZG8Ni6F510hmdTzjpSWYvvt5KXC\u002B0Kf3CRMs4UEGHx9d/IoX9aXeHSyZCKsLU7/DAP3eetxme5PHFn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-ed4a980c-5d72-d6c1-582a-ad221334cac9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "502090360",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
