{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-026ec79e-a239-0df9-6648-4f21aa4b70a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049D34BB6A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-026ec79e-a239-0df9-6648-4f21aa4b70a3/test-file-f889f98c-8624-8863-29e1-f49637dc2b68?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049D42EC55\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-026ec79e-a239-0df9-6648-4f21aa4b70a3/test-file-f889f98c-8624-8863-29e1-f49637dc2b68?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:08 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACRK1jWEPRNyv4Ysc86FgPp3vOKxr3pWAmerZ7nM0PcQkH8UN4kkkyilsSJMoJ0ax5otqeGhWCuqNJON2JVZZe6PG6OPsYkxEum6DD5XyWHKkGAfnycVb3gTqcM1VrpTDEsz/YT5i1XRPJb4JwwtUmsxw0h1eYaHeexrfAeGO/wvJv+zI8vc0MTKDqKQXUgsJheXw5NyHdKErIOYTk9OSwCayMAMem5fVPJDayskNxykfxXv7jho/QktLrdIBIK1u8Nh9VRH36vpeK6g7rKnYHWnNA85XlzIcgv3H0v21xBvze8nggGIHF+qBrWJh85WRc4B4RBzfB2mmUNIkIBgMqGeMSDDf54z3xevT1enfqo9YJl9tPY//FHRgSj+P4vfSdQUK5btksYvzcH4w+yF/1qZSzAm4n2rnjSO8f61dd9L0AVDk1MTT82TTec0BzhlC4GOJLRb+KeWaE1iHqEHulgibTPnAiwHhftiU5SWt1c8aeY851ErMBdd7SrF8XEsi5NO0ZnEfglVhp75OWUTP/E2JfT6ypMG930ciVTBQZSKdYfBB6X9N+ucpyCycfaySu15j4u8MYDACBoc5/T0VETKLoOdEfhLeS3JHiOyVEVGqj5nh7IJDgQHAT9LoE/26FLb6AMy1Tk07ladstOdTbOU1n22TMySgSC/lhC4/5ieExHegH5YiBDTEd6AfliIEM=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-026ec79e-a239-0df9-6648-4f21aa4b70a3/test-file-f889f98c-8624-8863-29e1-f49637dc2b68?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049D785426\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-026ec79e-a239-0df9-6648-4f21aa4b70a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "138128470",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
