{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bf85d7b2-930a-ab98-3471-902822d265d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA72BA6379\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bf85d7b2-930a-ab98-3471-902822d265d9/test-file-9969f8fa-401d-f7ec-8c08-67932df87bde?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA72D79A70\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bf85d7b2-930a-ab98-3471-902822d265d9/test-file-9969f8fa-401d-f7ec-8c08-67932df87bde?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "o2akzxUspgpqLizIxgoXHwwnHpgpqMvm9Nfd866vTz/OS+otcJVT3eOdUt9089phr9qx4DXaWPqbvds+T7Jcu9/s+Xsg6a5200C0i1brcQD8fEPT/W8K9PLwkrO6FY4xQZcAiPleQcYrOwz0Js2kr0vaQdNuib1w4gWJL1b7vL2yg0q/6+kGnTp9qMJiFc0kS+Nn39O7wrfZj6Xz1RFvL35PQaKD5cRh1KSY8eH7Dc03ZORzlN3q98GS5VtEEscoDXhDE9QroGYeBQsvItDW3YLYvHEt/JugZEnh8f9oHcHcb+Not/r5DMN+VI7Su9XwuwjZa1ZW+xHdo66KSa9mtehJU7Lsb[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bf85d7b2-930a-ab98-3471-902822d265d9/test-file-9969f8fa-401d-f7ec-8c08-67932df87bde?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA72E83885\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bf85d7b2-930a-ab98-3471-902822d265d9/test-file-9969f8fa-401d-f7ec-8c08-67932df87bde",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA72E83885\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACjZqTPFSymCmouLMjGChcfDCcemCmoy+b0193zrq9PP85L6i1wlVPd451S33Tz2mGv2rHgNdpY+pu92z5Psly73+z5eyDprnbTQLSLVutxAPx8Q9P9bwr08vCSs7oVjjFBlwCI+V5Bxis7DPQmzaSvS9pB026JvXDiBYkvVvu8vbKDSr/r6QadOn2owmIVzSRL42ff07vCt9mPpfPVEW8vfk9BooPlxGHUpJjx4fsNzTdk5HOU3er3wZLlW0QSxygNeEMT1CugZh4FCy8i0Nbdgti8cS38m6BkSeHx/2gdwdxv42i3+vkMw35UjtK71fC7CNlrVlb7Ed2jropJr2a16ElTsuxtJYffr62upwzOqXTxNfePsWqFdNKLFEtuwhQXn6aIZy[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bf85d7b2-930a-ab98-3471-902822d265d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "896604231",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
