{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-0560dadc-f4ce-aaf5-ce38-f916fddc54e3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679FC63AB01\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0560dadc-f4ce-aaf5-ce38-f916fddc54e3/test-file-b0d5456f-22fe-b7e6-0245-b18172bd48a4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679FC9079F8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0560dadc-f4ce-aaf5-ce38-f916fddc54e3/test-file-b0d5456f-22fe-b7e6-0245-b18172bd48a4?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "v0tR1Ocjo0o=",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "OwFV+28LnVb02EO3rLZcJlCtP0zjtSZei4bAMRaWqjiCiANLU+zbyxOiqeQm3th82kn+MEtI3IXb9m/oSms/XS0KNCSyEdJk0nQ4QQtBN62uRFfNmHrtOqx+b1x88oCoYky2G6qzycl2mV7XD5p5mb7COgYUccSzHfl3NKF16N/zkN6/ihwD+nuOV/8cFisRBNWeurh6lPCHAv6wPJQnALF+4367ug+ivj+KhRrFlwfNZjDL1y0mefztN4cdUr7nZlZNnTKtVknG+/t57w7WwWv24tZjWymDWGmBzYKHhGyAox7EePrUIA/mBNwxrInuF3YcJ2/ogwssyUXIK4jHP3aP+UzvEUlwIsLGfVZNU[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0560dadc-f4ce-aaf5-ce38-f916fddc54e3/test-file-b0d5456f-22fe-b7e6-0245-b18172bd48a4?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679FCB5F4A4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-0560dadc-f4ce-aaf5-ce38-f916fddc54e3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1096216449",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
