{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-279ed530-2a83-f841-3b03-33c890fa0b56?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC007CFEB\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-279ed530-2a83-f841-3b03-33c890fa0b56/test-file-da72648f-282d-628b-7812-acb0ad015814?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC0251578\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-279ed530-2a83-f841-3b03-33c890fa0b56/test-file-da72648f-282d-628b-7812-acb0ad015814?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "51LATNAI5d14BqDa9HnVPOH0nKjeJKbOdXkIvJkeKQst4uHQPtZuIwM9bqrkDQhNQ31det/TdMKs8tZW/yhEWd2VrBGXBP0LhniloLb76Whwu3kbwa4rWm0eJEv/FyPa+RTMT2D2tT6AUvRmLtQLsAlu5USvKZguaVKjeeCxC25VyqeiL5kHegU7m265xSyZE3NCkDLeK9B7nuYOUjxezkaGEWMsaIFvZ2s+c40qdKMlCmVsb3s8dp/XJ5Cz+CfJ3c0oM7TIbavy0ynGoLdCUClC6EjW8V7LSZrDVUDwu25DdZbAAkDvXJ26epxRddbolNZncQ/e8utuXeoZBRdqARe6gisgg[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-279ed530-2a83-f841-3b03-33c890fa0b56/test-file-da72648f-282d-628b-7812-acb0ad015814?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC03B7F25\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-279ed530-2a83-f841-3b03-33c890fa0b56/test-file-da72648f-282d-628b-7812-acb0ad015814",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DC03B7F25\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADnUsBM0Ajl3XgGoNr0edU84fScqN4kps51eQi8mR4pCy3i4dA+1m4jAz1uquQNCE1DfV1639N0wqzy1lb/KERZ3ZWsEZcE/QuGeKWgtvvpaHC7eRvBritabR4kS/8XI9r5FMxPYPa1PoBS9GYu1AuwCW7lRK8pmC5pUqN54LELblXKp6IvmQd6BTubbrnFLJkTc0KQMt4r0Hue5g5SPF7ORoYRYyxogW9naz5zjSp0oyUKZWxvezx2n9cnkLP4J8ndzSgztMhtq/LTKcagt0JQKULoSNbxXstJmsNVQPC7bkN1lsACQO9cnbp6nFF11uiU1mdxD97y625d6hkFF2oBF7qCKyCCTuhSjKscdsJ51MTbwWmISl9lgqpRpFbWV4VPeISW8qrHEoh/HoMz1XSr4xVUKVYAeM1bHah1MKmRfDQmzP4+4uEZFK/hCSvbMaw1psFAgS0uT/+3OtUCUeHe7aJODQl2bQE0OxWnHm+igOv8P4roUPoG933+hqcLF8PNAxyIjCSjvzjAC0YYhzCQFbrpBhFX9ZyoSBWMeOZZKSNS2htSGfPHWIBRKES07m9MbXHtIhGxdg5/4EQOF0ZRZuIixa0VPvvHIq2QBcxY9FmmPwt1bAYSoGMM0zmvuEE5/8FhkSjCNy92Jv9jIHBBJ+vqaNc73PrcECVJCGrBF6WJ/GcZVO/3pYn8ZxlU7/c="
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-279ed530-2a83-f841-3b03-33c890fa0b56/test-file-da72648f-282d-628b-7812-acb0ad015814",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8E7DC03B7F25\"",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DC03B7F25\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:50 G[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-279ed530-2a83-f841-3b03-33c890fa0b56?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "958039569",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
