{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-673dc1f3-a54e-8150-92d4-f1442be67c35?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9A27BC85\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-673dc1f3-a54e-8150-92d4-f1442be67c35/test-file-1f268602-5d4f-d671-a3f0-0b42eda8ed83?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9A4C7C2C\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-673dc1f3-a54e-8150-92d4-f1442be67c35/test-file-1f268602-5d4f-d671-a3f0-0b42eda8ed83?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "RSTM61OAv+a4m9WmQjBjXPEg539qj6hu44YITzLDPptZGdr5afd93OyUNPHoUCfBXX1UQg/P3rV8XgjMd2+09Fw5TShVavP6owuT1lq2hZJfR/G0b/yLiTskfArusGR830CUrgP+a/OKWZ4DPAhbxdl1bDB+AIVgrsPtMO3oC/OnFvYaItaOYdv9KRVeiEwzybYxeUM0/d+7NAA/EToGoU6rXCYSQaMC5gtUgdZvASV3uWc2t5KvcxgWXu7VTk+g94fHsywlIYgTLpI433wISzLayFfTz+q8/OgO++K1LJe8tIpOqE75UpjeI4j/d5SbDRO7+ob4zCidCrdDFyWmXgH6fCryu[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-673dc1f3-a54e-8150-92d4-f1442be67c35/test-file-1f268602-5d4f-d671-a3f0-0b42eda8ed83?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9A60C1ED\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-673dc1f3-a54e-8150-92d4-f1442be67c35/test-file-1f268602-5d4f-d671-a3f0-0b42eda8ed83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D9A60C1ED\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:13:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABFJMzrU4C/5rib1aZCMGNc8SDnf2qPqG7jhghPMsM+m1kZ2vlp933c7JQ08ehQJ8FdfVRCD8/etXxeCMx3b7T0XDlNKFVq8/qjC5PWWraFkl9H8bRv/IuJOyR8Cu6wZHzfQJSuA/5r84pZngM8CFvF2XVsMH4AhWCuw+0w7egL86cW9hoi1o5h2/0pFV6ITDPJtjF5QzT937s0AD8ROgahTqtcJhJBowLmC1SB1m8BJXe5Zza3kq9zGBZe7tVOT6D3h8ezLCUhiBMukjjffAhLMtrIV9PP6rz86A774rUsl7y0ik6oTvlSmN4jiP93lJsNE7v6hvjMKJ0Kt0MXJaZeAfp8KvK6o+Phdr71q2G8hVRy7c/5MhHD52GxnZe1OnI3xYYF+m[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-673dc1f3-a54e-8150-92d4-f1442be67c35?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "119862784",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
