{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-79b3ed99-5779-395e-fdbb-a5dea3e8931d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE7B3344A0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-79b3ed99-5779-395e-fdbb-a5dea3e8931d/test-file-d40c87b5-e54b-d43e-e134-0cfab5fc3ffa?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE7B427AFD\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-79b3ed99-5779-395e-fdbb-a5dea3e8931d/test-file-d40c87b5-e54b-d43e-e134-0cfab5fc3ffa?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "9BdoKkUy0sKd8K1BupkPbl7q84ZwQmnOz+S/C0dwG+FW4NESJjJ1uEu2s8LgJ5AD6SCBvPdbTLGtmlphc8Z6LNXL6tnI/UcrdDo6uo6n7adUuyIm7l7q+5QfZYzYFESEO4ftFD23O+vYVki8IJEiBayzDbikUz524O9EqJi7U1/2tn4HutlqnX82TZgVLtsC/F/fJQeL3+dJdjROcpNSHQPoxWkTG0vTSG85bQWmYbITQaw52y1YateWvkSkHCrr5DCULWhy7+ETDNyXUXLioxWBOjDnGUHVj1qSfFwHLixFTYnVETNJoVLKJs5RwRlktBsuI+H5BMruv50N33OEC96wUQToD[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-79b3ed99-5779-395e-fdbb-a5dea3e8931d/test-file-d40c87b5-e54b-d43e-e134-0cfab5fc3ffa?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE7B5D07AB\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-79b3ed99-5779-395e-fdbb-a5dea3e8931d/test-file-d40c87b5-e54b-d43e-e134-0cfab5fc3ffa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:48 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE7B5D07AB\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:18:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD0F2gqRTLSwp3wrUG6mQ9uXurzhnBCac7P5L8LR3Ab4Vbg0RImMnW4S7azwuAnkAPpIIG891tMsa2aWmFzxnos1cvq2cj9Ryt0Ojq6jqftp1S7IibuXur7lB9ljNgURIQ7h+0UPbc769hWSLwgkSIFrLMNuKRTPnbg70SomLtTX/a2fge62WqdfzZNmBUu2wL8X98lB4vf50l2NE5yk1IdA+jFaRMbS9NIbzltBaZhshNBrDnbLVhq15a+RKQcKuvkMJQtaHLv4RMM3JdRcuKjFYE6MOcZQdWPWpJ8XAcuLEVNidURM0mhUsomzlHBGWS0Gy4j4fkEyu6/nQ3fc4QL3rBRBOgMkeE3md4c8nKEzkEtx0HYC0pLSL7mUpY8wd5GG/ChbxR8p4lN60ga6Nd7Os7LsqtCMtNlBbspJj9K+9f/1deC4l8tsR+3iyACMWDmaxfHcA8zBOgdPGlZUoFKAu9xGxP/+VhvngGLi6ezY9RaQrong4rHzNHvZab1016dbIgwkBVN5nG/WNIOp3hBadiU/g/GI39kqU5BEJOxecqi7R4egtK+DVxJaCq4uSVYrfvNYdVP10kJy+fHC9beDd8Ha7laI+cG1fGzfbpUrO8p6WKX5Bf1UxbUFLfr9wGFalpLsE5r/ooUx4vjnFmPtB73niJzRinHEhiihQ4vG1A8KiP+9paEUDwqI/72loQ="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-79b3ed99-5779-395e-fdbb-a5dea3e8931d/test-file-d40c87b5-e54b-d43e-e134-0cfab5fc3ffa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE7B5D07AB\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:49 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE7B5D07AB\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:49 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-79b3ed99-5779-395e-fdbb-a5dea3e8931d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2040178724",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
