{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b099a537-fcff-e0ef-8d0f-a1e5f9ec877b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE0791CAC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b099a537-fcff-e0ef-8d0f-a1e5f9ec877b/test-file-751db7ed-abdb-3746-cb37-a638eac18a1a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE0885EDD\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b099a537-fcff-e0ef-8d0f-a1e5f9ec877b/test-file-751db7ed-abdb-3746-cb37-a638eac18a1a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "KGAOfLfXBFP32YfB7cSp6c9Lxx2YumbA3\u002BbFfw131FyLwwLWlcOfRtcA1TuEtHTgtexmnwWUs236TZ3QEoVFgAUqNSnB0lMMrIBGl\u002BUrOyty5MkgETVW9xCU3EgmzjNSulQ1Wn5KHuKZWfOFThuIzhFxXS27JW/Q1D4ZLPYL5d1M892R9uGsKMbmh7dC0aj1DA42tHEGlpXkZYVAMfLsjnQVOFo\u002B9tgwxTVn1Z64jgKVIx/o1DFrRlxHrJBba/fT\u002BflCLJhNtxU1Bu88nsH3LNeDqw3SBLlDqfL\u002B9kpH1Fk\u002Bk9uldWFqR2wJss5BL6e[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b099a537-fcff-e0ef-8d0f-a1e5f9ec877b/test-file-751db7ed-abdb-3746-cb37-a638eac18a1a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE0A44B60\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b099a537-fcff-e0ef-8d0f-a1e5f9ec877b/test-file-751db7ed-abdb-3746-cb37-a638eac18a1a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE0A44B60\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "KGAOfLfXBFP32YfB7cSp6c9Lxx2YumbA3\u002BbFfw131FyLwwLWlcOfRtcA1TuEtHTgtexmnwWUs236TZ3QEoVFgAUqNSnB0lMMrIBGl\u002BUrOyty5MkgETVW9xCU3EgmzjNSulQ1Wn5KHuKZWfOFThuIzhFxXS27JW/Q1D4ZLPYL5d1M892R9uGsKMbmh7dC0aj1DA42tHEGlpXkZYVAMfLsjnQVOFo\u002B9tgwxTVn1Z64jgKVIx/o1DFrRlxHrJBba/fT\u002BflCLJhNtxU1Bu88nsH3LNeDqw3SBLlDqfL\u002B9kpH1Fk\u002Bk9uldWFqR2wJss5BL6ebT3\u002B52MDpAfU//4KlT8DL7TGV/QrmUrZ1GGOgyFHqAXpKYqbKjvuZVJLlZXbfxPesPsSdrDKdtP3IRMBcSDijVf4IWuwZAF81/Kh4Ae1AllNs9IqNTVRHra6pAUk7PAxZQQ931mkKkj1kZ6\u002BJJbMQiK5s8FOuFgipwK0\u002BcP4V\u002BsCcHr/dyL/pYWJMKOWlvoj7mHmbzky4qioHzha8zCE/Tm3v7AbzM7/vg47xYu4iBAElQ9eFeitz5HSU1fqoLZVADdl4tdKCB2W6rEu9x0g85coUl4lKudRBewiRX13FRlb4sFQVqU8voztyys3gthwsWO8vk5YM9lMENjnK8KgH9Wb0xBbzJzx75fNN2O8GYcU="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b099a537-fcff-e0ef-8d0f-a1e5f9ec877b/test-file-751db7ed-abdb-3746-cb37-a638eac18a1a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DE0A44B60\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE0A44B60\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-blob-type": "BlockBlob",
 [...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b099a537-fcff-e0ef-8d0f-a1e5f9ec877b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "914580644",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
