{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e9880b61-a9a3-5725-31bc-aa0c9c68b194?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E320E9296\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e9880b61-a9a3-5725-31bc-aa0c9c68b194/test-file-4c73aca8-6db6-1376-7d21-7723f41ce690?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E321F5B89\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e9880b61-a9a3-5725-31bc-aa0c9c68b194/test-file-4c73aca8-6db6-1376-7d21-7723f41ce690?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "f3X4eJsS/tUYPb\u002BS/a6XYi83qm\u002BU4q1oLBtqnazh\u002B7hG8fZJ1RPWTy7\u002Btqphoh0ren3gGMZaJZzIkEyAp2ApNkEGTAu4TowcYVtAlSwDB4n9PyMvAeLx68tZgUXHVqfN1X9oWlYScivwxLZrGpBwxYnCgmc9\u002BTVfFGA/Xs1HVAuzcr\u002Bsmqwz68z3PjwshtA76by7BdNAkNtJCUX20hReqXCruKjRwyrcj5aaRbv4M46PBHURi043c\u002BLjYpFnPBm4mZTMgc4oaiWR33Y9pUogUda3Zs2fTB4hc0TF7WGYdVJ84qwnLLG/ZppPf6[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e9880b61-a9a3-5725-31bc-aa0c9c68b194/test-file-4c73aca8-6db6-1376-7d21-7723f41ce690?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E323C37F1\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e9880b61-a9a3-5725-31bc-aa0c9c68b194/test-file-4c73aca8-6db6-1376-7d21-7723f41ce690",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E323C37F1\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "SqRFl5gCVAQ=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "f3X4eJsS/tUYPb\u002BS/a6XYi83qm\u002BU4q1oLBtqnazh\u002B7hG8fZJ1RPWTy7\u002Btqphoh0ren3gGMZaJZzIkEyAp2ApNkEGTAu4TowcYVtAlSwDB4n9PyMvAeLx68tZgUXHVqfN1X9oWlYScivwxLZrGpBwxYnCgmc9\u002BTVfFGA/Xs1HVAuzcr\u002Bsmqwz68z3PjwshtA76by7BdNAkNtJCUX20hReqXCruKjRwyrcj5aaRbv4M46PBHURi043c\u002BLjYpFnPBm4mZTMgc4oaiWR33Y9pUogUda3Zs2fTB4hc0TF7WGYdVJ84qwnLLG/ZppPf6vY\u002Bs2XwxG7sNZLGUx1qg2JYnzE\u002BWojwMOd\u002BSQk9wAzT81ySXh3LipP3MV8[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e9880b61-a9a3-5725-31bc-aa0c9c68b194?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1108404514",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
