{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-053434b3-6e53-7f7d-14b3-04bd405e2228?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC0BCA238\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-053434b3-6e53-7f7d-14b3-04bd405e2228/test-file-651d8944-bb86-8110-d3fe-f92801ef4be7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC0C6673C\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-053434b3-6e53-7f7d-14b3-04bd405e2228/test-file-651d8944-bb86-8110-d3fe-f92801ef4be7?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "aD/undWEfvKVjHFXwe23PtAeV8IZu4ZvImzOYoRUQPMzMCeI50UQ4f9S0hVw4mcLWv57SUgGYq24f3tptRtuQUt9I5DFL1aKDnbCxulw/0AEwgiG2PaqLM56z2jKpivk5JHK8r7WRSun8DvRRJvESH87ZPMT6GhV0vfCS1/uwGdL3eJYpgyBLnzc3ui72ecytofoj0E30PwodB/GFPrLuS/ThWe5bKFzuTZ2Ngl/mfkQj5TYBTEmEw3mLzHtuxmCESW46FOAeUrlddYKwZnyqNsmtoRl8rP+rXFZ0jxwhv4d9CXjx7GmkBZK85BbG1Jz9IZWxwSUHB9yuTrhJqcNdO/X7c10D[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-053434b3-6e53-7f7d-14b3-04bd405e2228/test-file-651d8944-bb86-8110-d3fe-f92801ef4be7?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC0D32665\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-053434b3-6e53-7f7d-14b3-04bd405e2228/test-file-651d8944-bb86-8110-d3fe-f92801ef4be7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EC0D32665\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "m81IZGJnlfs=",
        "x-ms-creation-time": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "aD/undWEfvKVjHFXwe23PtAeV8IZu4ZvImzOYoRUQPMzMCeI50UQ4f9S0hVw4mcLWv57SUgGYq24f3tptRtuQUt9I5DFL1aKDnbCxulw/0AEwgiG2PaqLM56z2jKpivk5JHK8r7WRSun8DvRRJvESH87ZPMT6GhV0vfCS1/uwGdL3eJYpgyBLnzc3ui72ecytofoj0E30PwodB/GFPrLuS/ThWe5bKFzuTZ2Ngl/mfkQj5TYBTEmEw3mLzHtuxmCESW46FOAeUrlddYKwZnyqNsmtoRl8rP+rXFZ0jxwhv4d9CXjx7GmkBZK85BbG1Jz9IZWxwSUHB9yuTrhJqcNdO/X7c10DuEpfyZuGv8io5If5t62Gr75iNcGcQ12xGlvPX6hgy2F/uWlLEfeJQEfTxaowT/IV1ow3mX1bpzTs7u8/92AgSBkmuj4EO13GmLW5iL3zQIppuYjcaTIj49I0XmLISYkns71RCdX0EZsuMMCHoh62+W4kln2XRB7nApYrz506/k8skdTAYnb0tWftrjgxXAHzvaT047MLUG+eqcc/yAH+MzKxmxAJ9pb3cCDVqZXmteZUOFI4Bhqb4UFlYfivtK1mL7rFv8ExqYbOPXOSNabZt/Qgq4/vhe0YFbnO5FSeR/tzr7obITYlYk6LagjnCavai6nEjsjdtmmN7Y="
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-053434b3-6e53-7f7d-14b3-04bd405e2228/test-file-651d8944-bb86-8110-d3fe-f92801ef4be7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD617EC0D32665\"",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EC0D32665\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:38 GMT",
        [...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-053434b3-6e53-7f7d-14b3-04bd405e2228?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "248675004",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
