{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-83a7a8dd-fd61-97b2-4a76-a1af5f2d360a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7BA53A00\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-83a7a8dd-fd61-97b2-4a76-a1af5f2d360a/test-file-abb135e6-c9ff-d71d-f192-73070badc50b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7BC24C04\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-83a7a8dd-fd61-97b2-4a76-a1af5f2d360a/test-file-abb135e6-c9ff-d71d-f192-73070badc50b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAB6/YcI4SnJdw9r7CpXoRuzG6dK7zbfkU/6Ub8V/mS80MTvln4PUhg6pn5GDh/IhD8BshfYe4OBmmw4DY9ptHmrrxtlZwqcpMmPEEm3mYMvMs2AFEtM41VBbfwS1kSI0fIFm14DYhw1ZA5OSGs5ygHpCNvC6Z8tXsvGJPoOis2EBz5Xsf0kLM+wSq89/ZrpB6P6KM1oxuhS2DySPD4iJ9lAykEs4hgDxdwMEZ7w72Ex3RxXE2IAG0BWBdnAke+QjSPV/TJYvCWK9mPxXLRJYejbYV8hyxN3QK8B1t0+QjPse4R6GvIu2CD3zB3+Dr6LDaPw5S+QbsIQXr2DV+ZHS7MvBOAwzkf2rYk/Kv/2eTHwdcg5Tl0EXA3Carw1qoE5r4BpzgneWz5b+jemUUTDGeSLk+EdDf1WK6jTbmSLwAMHBXp+jaooERqK3lMmXQvI/lDXqhefG6GCEqNhC+zZ0Dk0nkvJRIw6YoHHky+qMM2dCm8UsxbraOnY/HoHxwYtsQ0Z8b6//rrDnUeW2Ihy2OLVxAB9xRwiSDZh8UgSMpt6meEikD4P3Qu1UBbPVZBhZiOXMgMGsOvw96mIXQ1ysGqrGz6mT0ekxub0yHQGU/KmAIoke/+YdOn2MZmVhn/+Qp+rIzlRuhbc82wcEed26qO24VyCTjVqEqdUsB6uDj9n9kCmLHw44fzpQKYsfDjh/Ok=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-83a7a8dd-fd61-97b2-4a76-a1af5f2d360a/test-file-abb135e6-c9ff-d71d-f192-73070badc50b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7BDD9F95\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-83a7a8dd-fd61-97b2-4a76-a1af5f2d360a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1245101893",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
