{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1f2e337b-4eb9-9d71-3274-31bf42823418?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8445C6F352\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1f2e337b-4eb9-9d71-3274-31bf42823418/test-file-90c83b31-42ba-3f10-5438-be59e239a7a0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8445D683A1\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1f2e337b-4eb9-9d71-3274-31bf42823418/test-file-90c83b31-42ba-3f10-5438-be59e239a7a0?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "agRS87EemdAfe57IYcVI\u002BaLvBjz\u002BVpcJJxRy3jOXlI761kFQ5t\u002BPmmy0vgXFggdGAX7aLuy5GBNsSMucrLudh\u002BYQzoqD\u002BBPCYGvPSZiSRKQNK9y0vGaiQL4t450T8u6xFjYetLR8wglqF82B6c572gQnj4Df6Mt/bY7MVhR1r218HjNic4/wkWjSSqSYIVbvsgmY7GNu0i5rn0cmsGz19GhgBMubGWZ1Nv0YDZ4m5ks33KML3MMKDUwE99RHyeH73VU8OByLVJiiI7VlVsSQRLj77tPI6RikVfZ\u002BliKRLW0cHC9I6a4vrIcKabkNpLe[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1f2e337b-4eb9-9d71-3274-31bf42823418/test-file-90c83b31-42ba-3f10-5438-be59e239a7a0?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8445EFFF0B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1f2e337b-4eb9-9d71-3274-31bf42823418/test-file-90c83b31-42ba-3f10-5438-be59e239a7a0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8445EFFF0B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABqBFLzsR6Z0B97nshhxUj5ou8GPP5WlwknFHLeM5eUjvrWQVDm34\u002BabLS\u002BBcWCB0YBftou7LkYE2xIy5ysu52H5hDOioP4E8Jga89JmJJEpA0r3LS8ZqJAvi3jnRPy7rEWNh60tHzCCWoXzYHpznvaBCePgN/oy39tjsxWFHWvbXweM2Jzj/CRaNJKpJghVu\u002ByCZjsY27SLmufRyawbPX0aGAEy5sZZnU2/RgNnibmSzfcowvcwwoNTAT31EfJ4fvdVTw4HItUmKIjtWVWxJBEuPvu08jpGKRV9n6WIpEtbRwcL0jpri\u002BshwppuQ2kt4d0shxL2w0y8z2X4iUMvXYR9UhJOZVHWgrMQUu9gF6WsT/2InB14ZEP6TwLUssJoMqUWMPFW33yLFcRf5nBdHPeADHmFZsGmxO2OVBYOwg/w6GBKSib0VXBBPUYY2L3TXTILVGZIooujbyvDiEtmfFO0rv3P0tLQy/bJBGm7TexvuzbkA63paAXU5tr68I0lGoEypGm/w4pfeohvv54iKCE/k81UQniliwb4Oyv31dsp5CnoiOmCr7dshMkleeinsv75u1y/0JhITNkix8heZ2StRdt0eV83vORV5/2vQFEeUEhtPhp\u002BqdNRoDwQX\u002BfvDh1keDQNM3lfwj64aeiamMxIBHdAMWlKbtvH4tli51z8U8ji/CXInZgTyOL8JcidmA="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1f2e337b-4eb9-9d71-3274-31bf42823418/test-file-90c83b31-42ba-3f10-5438-be59e239a7a0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F8445EFFF0B\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8445EFFF0B\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1f2e337b-4eb9-9d71-3274-31bf42823418?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "528604532",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
