{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d47ea7c9-029b-d7d3-5081-ab5ad347a4be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE4DC5C27F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d47ea7c9-029b-d7d3-5081-ab5ad347a4be/test-file-17b0a94d-4d72-403a-0084-95dd95829e60?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE4DD50689\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d47ea7c9-029b-d7d3-5081-ab5ad347a4be/test-file-17b0a94d-4d72-403a-0084-95dd95829e60?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "OoweOrKP3TBBic6HlyoY0xxL55GJ9lny79tpNf2YmCw8Jm8yXSqt42SObdvtuZBD/8ivEPJFukQzLErWJaczqPGiS3C75nXynQMt+ol9BTVLJjY06Ic59mwr/jHf1r68W8TqSm4fhxlTvXLuGMC6ticUi/5x/r9paFQEkOdEE8dFcJ/EkrrHK54d4SsUS92scEcJyku/S1wEgOEaGvcxDqqrqagg9SNsTWBgUxyUVB13WCCgOkh7hSVCwBHYrRCm7NKBaKI1i3ojnHzqX/c/byzEosLXkNRhLyOC3TUSlKBQuWdKE+t7Qc2lfZ3LkSYtAlHlFApOz1v9Hzl+sq5FEQjbmqWQ9[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d47ea7c9-029b-d7d3-5081-ab5ad347a4be/test-file-17b0a94d-4d72-403a-0084-95dd95829e60?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE4DEF457C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d47ea7c9-029b-d7d3-5081-ab5ad347a4be/test-file-17b0a94d-4d72-403a-0084-95dd95829e60",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE4DEF457C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAA6jB46so/dMEGJzoeXKhjTHEvnkYn2WfLv22k1/ZiYLDwmbzJdKq3jZI5t2+25kEP/yK8Q8kW6RDMsStYlpzOo8aJLcLvmdfKdAy36iX0FNUsmNjTohzn2bCv+Md/WvrxbxOpKbh+HGVO9cu4YwLq2JxSL/nH+v2loVASQ50QTx0Vwn8SSuscrnh3hKxRL3axwRwnKS79LXASA4Roa9zEOqqupqCD1I2xNYGBTHJRUHXdYIKA6SHuFJULAEditEKbs0oFoojWLeiOcfOpf9z9vLMSiwteQ1GEvI4LdNRKUoFC5Z0oT63tBzaV9ncuRJi0CUeUUCk7PW/0fOX6yrkURCNuapZD1XEBJYfUxEzeWnv1V2uQsgJYC6gxM9LL8jh9ga5Tv9oCdDfSlyqhYnUfGiZqBXdNg5IhFmLuEqWeNTdLW0aeipqd8t83vhrXtqU3EhWsXezFL/4YMql3FGWSNGH3WgsyfJOLyBaUGcV7TV+9tvyP8ddKhitEhlvtKtp5oYW44FyaBJGGIJXWLRY0oOVNuWFlBkKKrNfj6fo7nqE4GnQ/vmz/J7JrCdFBcFURD+F2n215EJ9HMjOIuhqbSoHwnhah9OZ4UpWu/fhxRTx+zt4YxQM3vwnU+Iw5cmmb079PUNJCcxb+/kzbyhai1ej3Ces8foWCvN8IzPxWPtzy71zOie5k1PLvXM6J7mTU="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d47ea7c9-029b-d7d3-5081-ab5ad347a4be/test-file-17b0a94d-4d72-403a-0084-95dd95829e60",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE4DEF457C\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE4DEF457C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:32 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d47ea7c9-029b-d7d3-5081-ab5ad347a4be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1018025059",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
