{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-99f90274-ea15-0e75-8f57-3722c5f14326?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0478800173\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-99f90274-ea15-0e75-8f57-3722c5f14326/test-file-adb35129-d6b3-5cd4-80f4-f20561876ecb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04788DC47D\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-99f90274-ea15-0e75-8f57-3722c5f14326/test-file-adb35129-d6b3-5cd4-80f4-f20561876ecb?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "WII3MjaPdhvBHg5Ng2zzIoxDmjSRDffop+saPdEHiJkf+K+YNpi9+BpEdBAOoUJnP2WtD1dy3EuLT4tLdDhKuZZ0Lou9W+z0haIaTZjm2gaos/5rWXhBrBxkDOcMcYPh+rp5mXO3quR5uIm1WI6ypHSEo8E63l8dMoFuWE4E6BQeOFPebECT8QgZ8aHvjFSOsmdyh87CphtbW2bxSFGWdNB1lh861Dgz8bK4Ie2+LqYs4KbmkmBFW5I4ghDaoai3g3zQefY0U90vPpYbCoUunC3AxGiqr+JwLzqNAlEnWVAKAZ5w7bWv+I3ItlTJKVEMCubjGtxADNOaYEm7p1CMCORFEQnnv[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-99f90274-ea15-0e75-8f57-3722c5f14326/test-file-adb35129-d6b3-5cd4-80f4-f20561876ecb?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0478A989E6\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-99f90274-ea15-0e75-8f57-3722c5f14326/test-file-adb35129-d6b3-5cd4-80f4-f20561876ecb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0478A989E6\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABYgjcyNo92G8EeDk2DbPMijEOaNJEN9+in6xo90QeImR/4r5g2mL34GkR0EA6hQmc/Za0PV3LcS4tPi0t0OEq5lnQui71b7PSFohpNmObaBqiz/mtZeEGsHGQM5wxxg+H6unmZc7eq5Hm4ibVYjrKkdISjwTreXx0ygW5YTgToFB44U95sQJPxCBnxoe+MVI6yZ3KHzsKmG1tbZvFIUZZ00HWWHzrUODPxsrgh7b4upizgpuaSYEVbkjiCENqhqLeDfNB59jRT3S8+lhsKhS6cLcDEaKqv4nAvOo0CUSdZUAoBnnDtta/4jci2VMkpUQwK5uMa3EAM05pgSbunUIwI5EURCee9rncQzNrh+I2mBeiA+GpDP3PJ9MrVjWvzUDw8rm+EGE[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-99f90274-ea15-0e75-8f57-3722c5f14326?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "496285380",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
