{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-802c255f-5c15-88ef-6b43-5bf412e67616?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B795E955\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-802c255f-5c15-88ef-6b43-5bf412e67616/test-file-b03086a5-f76d-d93a-31f3-7cbc2b237f38?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B7A28FCC\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-802c255f-5c15-88ef-6b43-5bf412e67616/test-file-b03086a5-f76d-d93a-31f3-7cbc2b237f38?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "cQB1kXS7p3QXuWqAzyW11HPkByOti1alm4pqbPrwlDqYj1jSIT8CMUfE0wbeU1SHHxyp+tPZT+Wp0PbpUDt5JiQw6D/N4rI04tbb6bhPxkc24kzeR5pnvj9yKFFIGOEMS6zhrmsVujxpdRf8/WYtWgmvs23vm9+KyCn/Wrph68n1z50MbhjbISgPddGCasDZRc5HmWVzHbDMVuVBFWCCB4pNBy7IIOvx05JF3yYNB15pJhXrGVFkgbLtQBczmgvHjG1HNWKSECTiVsbTLj2Kvk6G2O5Kl+056YZ82+DTvjmGfVK4xtL71xbwCMOKkVN0Y4HIrMIcffV/DkvcFTRED5iNTLDq0[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-802c255f-5c15-88ef-6b43-5bf412e67616/test-file-b03086a5-f76d-d93a-31f3-7cbc2b237f38?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B7B57D4D\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-802c255f-5c15-88ef-6b43-5bf412e67616/test-file-b03086a5-f76d-d93a-31f3-7cbc2b237f38",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6B7B57D4D\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABxAHWRdLundBe5aoDPJbXUc+QHI62LVqWbimps+vCUOpiPWNIhPwIxR8TTBt5TVIcfHKn609lP5anQ9ulQO3kmJDDoP83isjTi1tvpuE/GRzbiTN5Hmme+P3IoUUgY4QxLrOGuaxW6PGl1F/z9Zi1aCa+zbe+b34rIKf9aumHryfXPnQxuGNshKA910YJqwNlFzkeZZXMdsMxW5UEVYIIHik0HLsgg6/HTkkXfJg0HXmkmFesZUWSBsu1AFzOaC8eMbUc1YpIQJOJWxtMuPYq+TobY7kqX7Tnphnzb4NO+OYZ9UrjG0vvXFvAIw4qRU3Rjgciswhx99X8OS9wVNEQPmI1MsOrR93uLANhZjiquVzMHd14LEndpAF05uIYfweGs+Sv9RKKJkolMIMFEI2dUX/SpDb3lBIYV47CNlz/0az72rZT/sBOQfuXUvvG1JNz15FmSdrQkxvWk52Hy+/pKV7WCTXXSVa/gGI/YEUWVX77Tl7PmYvWK0uefWsixnYLqimY7M9dmI46psV0kTLWvD4ijHmRHZPW/93uOM/rmL3sN7YbfWSznbHQkPLCXZoUy70tADn4eoyVwezxb2O+Uw4LiF18uz7VbvLHvIihFKJH1W0SvpiD87klhb93wi5SFkHkttU8mBB+V5FLML4D8KlOrZXyr5Rxi5SgVzGDXazMDNclBc3HiMwM1yUFzceI="
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-802c255f-5c15-88ef-6b43-5bf412e67616/test-file-b03086a5-f76d-d93a-31f3-7cbc2b237f38",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D6B7B57D4D\"",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6B7B57D4D\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 G[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-802c255f-5c15-88ef-6b43-5bf412e67616?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1577530129",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
