{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1eac6eb3-b219-3f81-4ea2-79bd666e6339?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DF41D2FBE\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1eac6eb3-b219-3f81-4ea2-79bd666e6339/test-file-a71341d9-e0d1-e45c-855b-e055b9fc810f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DF42CC00A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1eac6eb3-b219-3f81-4ea2-79bd666e6339/test-file-a71341d9-e0d1-e45c-855b-e055b9fc810f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "etQ2RP2Cgn8=",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LABdEcyI3UWEET1C1g9EUdeubsNrn7CJbsL7haOjQLIV2ET7n7j\u002Bxsa9QHdelMsyrXluq7/9l41P1KMJjVei4NCLLP3LSLEer6j9rl45K9n2ydgpNJXyGEG3rMsV9DhuGl\u002Bm0mfOZmTHT/sXAOguFajJEsR/eas7mRS8FJzmCbpwjpT/kllyKGJzYeSZ2hdYiJYiS\u002BJz76GzajlSEVLH4UZApnFUL4JPV\u002BpiCxfHor78Y4sGw77Y/J/ySygfIBYPq4CeWDSmA1kT0/T3EeSJ7Mh7Va3HwR2HaKrRYeNaLzfTUl\u002BXKEqJVmAx8vDK4eu7aV5gpMppSOpiF/CK1aJ1uaO8JL\u002BE8sR98f9Nlc8svYa\u002BFviF\u002Botsagl1NRFa/4C\u002BuzlNDb0sNnaa4rLKG7IaNVlpy7\u002Bp8L4XULm1D72yI/F\u002Bj9mV36/Jkt\u002BB6hfYoU9WWv\u002B38DTBFMt6Nb0Ddye557/BTIzZhFWpnzngJwanP65qXrW9\u002BjK9vXoOG6ryxhu3yAJYF1XDfdWpDVH74e3E0/YPmBhy/O2MBI8Rymmqt9gdKF8DTidYp\u002BDfE\u002BzgwduMSki04y0CRcwVzBPGsbNr/lZ43bmOwITOtvE4kugAq0KzhH8h9tOqG\u002BKT7oITkvYscxSWaOQi/onD5i08ybPjFSDREywzSgiDzcHX\u002B9ICuiQ=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "etQ2RP2Cgn8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-1eac6eb3-b219-3f81-4ea2-79bd666e6339/test-file-a71341d9-e0d1-e45c-855b-e055b9fc810f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DF4727BAC\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-1eac6eb3-b219-3f81-4ea2-79bd666e6339?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "805876346",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
