{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-75e5c3e4-352f-1ce4-e369-fa3720fd601c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A07A762B4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-75e5c3e4-352f-1ce4-e369-fa3720fd601c/test-file-5510f81b-13e9-f093-6002-a436010726c1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A07D572A8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-75e5c3e4-352f-1ce4-e369-fa3720fd601c/test-file-5510f81b-13e9-f093-6002-a436010726c1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "GG5YN5mD0MA=",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "EwdDcCsoVGJmXuJC6nrHw7epXV7BpXy9Rgxk7xH6yWQFtlVN20EksW3ZVEHd0j52t6yqE9CJ0m6LhSkexGRQa5V+PDMkeuh1havx51A74HPN7ThlT7WUfOPnwlUYBe0IiemrX5ULUT3DNY4kmOodT6W2UdYs6xzf6cBPPbeTXX++6F5nj4Hewpz7oRoncOP5ynKwYbQW3J3NzHXUuxSFMNcPZa+Mtb8j1446MEoBuHncVnJE4/vKqAzAmsMMCQaHdnBDGAs0bBSzjIol3KtTyxT892WhQE3bRL2iyxr8F82IsrrZvqBuqOldkVZxpMthbc+vDxKh5jUiZ9NNkaH6tnW8nSrxeQ10jU97Q6/2aaDxQV5LTQe758uEtlbMIBZIY9rhtQehcPPCO4HCJaKGK/0zXFBDrmltALVebMK2p204M9/UFbSZT9FqiRKF+cIp/opYmcPGBLVxdLRRQwMxC5MUivHCshZJmg1+2SVX5wfzNG43XQ6qci4qY6EARwzNOX1+cW/QZkt0D/+2RyuPGYytXQ6V+a6FahfDl091SVIAsZ+n2XaYI84iw04O8yoCmkkUU+r9OEDP+AdXDM78/8astZaL50AWFDlAczVfdnbswPwFYPVnAnlf2OBuQRb/JcSHYj2UdrMI/j6wvcQKb4KQakzS957QRLMdLA9gp9M=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "GG5YN5mD0MA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-75e5c3e4-352f-1ce4-e369-fa3720fd601c/test-file-5510f81b-13e9-f093-6002-a436010726c1?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0803E98C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-75e5c3e4-352f-1ce4-e369-fa3720fd601c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1121007897",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
