{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-28604223-150b-049d-73b4-665869b5d3a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE74FE81B\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-28604223-150b-049d-73b4-665869b5d3a5/test-file-f2bbb8f8-5005-c1af-75e9-5e895433cfe2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE75F9F3C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-28604223-150b-049d-73b4-665869b5d3a5/test-file-f2bbb8f8-5005-c1af-75e9-5e895433cfe2?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ScSrpoSsrbciCT85zOnWq5IOaufpErgM7aJDz6JjKBoN92tpHHrTQtQUnuKLEGeoUR0pH2TcZzYMn7niaN0UvuEkK9V9bY4XOygT1XPVgNw7m36FOQm2MI80XH3B8dn2/98BZ\u002BSRKuOOEuM7yJLDNh7cps1ej4XXbvtFSBARVkpPHdWT0xn3qXCa9iclemf9cSZf5EoLl3BaKfjpS\u002BHTfbuY7Ku8L2IE5P1cxJhdsfOTSNfqsnEAQ4VlOaogDl2Ox3lrjY28QEHDWv9MrtPX/HgEVgIK6cpKmKklVvW449afzvwf8iRm1wiVJldxs5SyjjwyG7dahN6uIfXjlul[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-28604223-150b-049d-73b4-665869b5d3a5/test-file-f2bbb8f8-5005-c1af-75e9-5e895433cfe2?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE77B6495\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-28604223-150b-049d-73b4-665869b5d3a5/test-file-f2bbb8f8-5005-c1af-75e9-5e895433cfe2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:56 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE77B6495\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "UyapfLa3vKY=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "ScSrpoSsrbciCT85zOnWq5IOaufpErgM7aJDz6JjKBoN92tpHHrTQtQUnuKLEGeoUR0pH2TcZzYMn7niaN0UvuEkK9V9bY4XOygT1XPVgNw7m36FOQm2MI80XH3B8dn2/98BZ\u002BSRKuOOEuM7yJLDNh7cps1ej4XXbvtFSBARVkpPHdWT0xn3qXCa9iclemf9cSZf5EoLl3BaKfjpS\u002BHTfbuY7Ku8L2IE5P1cxJhdsfOTSNfqsnEAQ4VlOaogDl2Ox3lrjY28QEHDWv9MrtPX/HgEVgIK6cpKmKklVvW449afzvwf8iRm1wiVJldxs5SyjjwyG7dahN6uIfXjlulLCncpreDWuApTnn/6dMJz2OQVc8i5hsceREkecNAvgkAeSRvgSAaz29Uy3n04YA8bOkgQziMhkoSvCmiWuEc5Ixw\u002B2yqmk5DdYZfyhqdK5uQ5AjWIHrMd/beXMD2dHSON\u002BLph\u002BYTldae3M22LLgvcZSSEXLYSsQVoId5zD2NSP0R0ZY7s6OxfVIyO0OtGkc6ru8oZGcBse0e1\u002BNilcWZEZPMpF8l973w3JQcphOAZIpAPyFOYOSaDB\u002BlHN\u002B8UueMmSmv4HHkFLctN4fS4Q/dmnNZHlqgSqyvMphDfNriMI2skAjp0IQUWCZuISlcxysPy4JoZzCM6FJ5AK3ZpJvcTwb0="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-28604223-150b-049d-73b4-665869b5d3a5/test-file-f2bbb8f8-5005-c1af-75e9-5e895433cfe2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DE77B6495\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:57 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE77B6495\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-28604223-150b-049d-73b4-665869b5d3a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1731029638",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
