{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f04685e8-80d3-8c0c-871b-5597295e88ee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA749325B9\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f04685e8-80d3-8c0c-871b-5597295e88ee/test-file-f924a86e-cc8e-8aae-7896-78060c70e19f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA74AF45A8\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f04685e8-80d3-8c0c-871b-5597295e88ee/test-file-f924a86e-cc8e-8aae-7896-78060c70e19f?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "eh4Gjx1AV85LM4glsX+PfFPWLPSIgK2dOE3N025X7a3YYxHeBDhiKt4HvQ2M9xZnHS+PUI7h4vpwaVfPc4Rf80XaTE1tsXcbcwIWgMOgEEE3ZrU+x5wf9oEXbZrhkrZaqMnHsarJ+Wy3dNyLy2I30FgVmA3OISypu1bMVkPcOuBLvNj52V+Xbm1IhlPAkyoe4J1Cy/qpi4ecHvVT/KIo2zn8QA+JPfb5fiqghprZ6CgrrXammm7loTBRXbtpQ3HKH6sZxFIblaKmSE3QCQTswzXNKE8sgkDLFp7eOOA7jzq41WbuwCTVEBjT/1IhFZgrZJqFnBshnp1rTq60PFzCa7kSFzOe/[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f04685e8-80d3-8c0c-871b-5597295e88ee/test-file-f924a86e-cc8e-8aae-7896-78060c70e19f?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA74BD000D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f04685e8-80d3-8c0c-871b-5597295e88ee/test-file-f924a86e-cc8e-8aae-7896-78060c70e19f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA74BD000D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB6HgaPHUBXzksziCWxf498U9Ys9IiArZ04Tc3TblftrdhjEd4EOGIq3ge9DYz3FmcdL49QjuHi+nBpV89zhF/zRdpMTW2xdxtzAhaAw6AQQTdmtT7HnB/2gRdtmuGStlqoycexqsn5bLd03IvLYjfQWBWYDc4hLKm7VsxWQ9w64Eu82PnZX5dubUiGU8CTKh7gnULL+qmLh5we9VP8oijbOfxAD4k99vl+KqCGmtnoKCutdqaabuWhMFFdu2lDccofqxnEUhuVoqZITdAJBOzDNc0oTyyCQMsWnt444DuPOrjVZu7AJNUQGNP/UiEVmCtkmoWcGyGenWtOrrQ8XMJruRIXM57+AhD3FzZZgu6pAAWy00a18h+XN8mCcnYh07sQlJgP/W[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f04685e8-80d3-8c0c-871b-5597295e88ee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2003427968",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
