{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cf72fab3-1dc6-482d-48d7-0361f50f784d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE85F68D70\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cf72fab3-1dc6-482d-48d7-0361f50f784d/test-file-5829d0a0-7d47-4be0-480e-1b929344ac06?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE86051B33\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cf72fab3-1dc6-482d-48d7-0361f50f784d/test-file-5829d0a0-7d47-4be0-480e-1b929344ac06?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:06 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABriY8cdCRuHolasHp2goJHspCk55rD5Y0OSyfPSdvpIieCQDxxCP6Zn1YqDJU3NhKLA+KdWT2Kp6MBDij8n9WucI5S9EFF1qqRCkhDmdn41xQUQ0b4TMjq95mZb/rVnACBfJwH5ELRRSw4C070Rg7KCTYU51uPtiTFaPyorGewu25Iwhw98PLSQ/4ZwEB69rCKz2XDwbWk8cV3QXtFKJnFh1Dgq4PxjBlEQqNddfXjSnJMHdwC7fm4o9BXxa52jBtkVDjwmkosmUJMfn8SR3zQlPcJ+Qq9wppWJwezmsdqzbWH+CG88q8oH4SZtW56plxUhjG3bZMRppGemnNCef974rHKik5aE6FH4dmGIw0r24GrXhOWsmAhdlKPHlc85aaFHtO9sBsN+XOPb4y5i4OEcr/xlhvr5C9QqBT8y/VJC/szAAU5bitlnmSfB0PUZ+vOC6uYSk6KmTmkbAcHEC5+RWSQhop9SgSTjPi2TN3rfEApLb9JscCtqGfLlQEjXo01IcHfROFgUcCnBL5W001cuPDH3uJvNJOj494isrUCby1qgSobDDheyNz+oqwBV9Qab9wQXH+rxuwtO2ADPp8LpJWQ61IiQau4aBYGcJLnoYsJB0PY8hOuv7s97dDXW4k98v4XcGuC+C4xV/NppVVaRpnU+TZcM7GB4iyX5FPb4T7T2M2EdvaTPtPYzYR29pM=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-cf72fab3-1dc6-482d-48d7-0361f50f784d/test-file-5829d0a0-7d47-4be0-480e-1b929344ac06?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE862EC31A\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-cf72fab3-1dc6-482d-48d7-0361f50f784d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1540430322",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
