{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-aa9cc5d2-1eb9-c71f-28fc-8cc719c428bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A05045E68\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-aa9cc5d2-1eb9-c71f-28fc-8cc719c428bd/test-file-28463647-9ae0-87fd-2cc7-6a10b3ca4a7e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A05642324\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-aa9cc5d2-1eb9-c71f-28fc-8cc719c428bd/test-file-28463647-9ae0-87fd-2cc7-6a10b3ca4a7e?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "43+abPuPK/k=",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "UYhyz1qr0JM2d/cFjKiQJhbUUyw52/1OTey6LrnWjXzSTSaujxddyRz3FkjoE9r8+16hweO1CnWLI4Jt8KHZYOp6Mj6B4Zf/d4oQQcW1ZjkSvjNbNMyZHEOwI2uU79h6HrVebeCbehnHokpYpciv1b1IWzFufSsd4Rb70L4raoexlSMPVvlZdkQZlJGBQXZ6AE2uTJSnC6CKQIzJoKlamzjDpw+koH/E7uXtVemZnKCfgNBxfR3zCoqDhRZtkNWav/hZvpln1WDO6l2vura38KTrKR/Z6R0a0J2FIRtoVl4PUpXwQN0GOKtvo5PARE/Ty5RygWa2wdXbPu784bNFZZP/n2cgxrDG5fF0aUaJWoxNsVaG9tX4WJHAFQHvCVf3Kj4AwKToswXkq5t1QlePUeRhrzBdv269BkbWYLGu1tyZfD8HiZnnZP5Qoko6gxY5MMMdjlknmWvPQ7ldEVJTNdW/28UYh8hKeUoxDB0jg4MwnC/ukUiCcuLUOEXfilOr/Gx1eqdQIaj60xQO9YxOrL82LXUjZaSNPGjjRE+Cau/3hhCwrQjb33uH874zc31VhYuGqV3eiJfI6D0/bd1Yd2glF298nf63Wk35nHHlWcnqjb7E/MGRGf146MXKnHGdLnxVDlwO2OiNzk8P5Owl4o50VOAflHqnk/1xBLU47L4=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "43+abPuPK/k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-aa9cc5d2-1eb9-c71f-28fc-8cc719c428bd/test-file-28463647-9ae0-87fd-2cc7-6a10b3ca4a7e?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A059B6464\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-aa9cc5d2-1eb9-c71f-28fc-8cc719c428bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1021429793",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
