{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d7e04b25-4494-0fb1-a40b-f8c64171549e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE81257CD1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d7e04b25-4494-0fb1-a40b-f8c64171549e/test-file-276f41f8-cd67-dc23-5cd7-3eac4ace4f1b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE8134371C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d7e04b25-4494-0fb1-a40b-f8c64171549e/test-file-276f41f8-cd67-dc23-5cd7-3eac4ace4f1b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "U4eQFIcRHOxSQySpNEHdWsBRvnPul029d48iI1O/8/Vg/RyquTYe9bGWag15xREt4It5V/4WI7s505z47vmYk1AvSDYkM6GKM8jCVy0/Q7J99ULIRZz2SdphcOaZJga3/te9SnzbCK3p7yQ2U8uO+o/pe/m3z020Of5bw8K78QzBC1lWgvk2ou2U3lZ3wPYP03ZWr6oNAC6JCRB9f0XrLv0XdEhyOHeWs9kMIvD3PHgITPBLZUFhtAsqzHnouCKnqbBYYEutnZr+v/zRAd0+ksyYdTJUn8m8tcA9R2v+rvq2ZHlAn9wsWq9VTaVFkLIt7DqsUEPvUgrmm6qLcFUv/xABG51j/[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d7e04b25-4494-0fb1-a40b-f8c64171549e/test-file-276f41f8-cd67-dc23-5cd7-3eac4ace4f1b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE814F8743\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d7e04b25-4494-0fb1-a40b-f8c64171549e/test-file-276f41f8-cd67-dc23-5cd7-3eac4ace4f1b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:58 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE814F8743\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:18:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABTh5AUhxEc7FJDJKk0Qd1awFG+c+6XTb13jyIjU7/z9WD9HKq5Nh71sZZqDXnFES3gi3lX/hYjuznTnPju+ZiTUC9INiQzoYozyMJXLT9Dsn31QshFnPZJ2mFw5pkmBrf+171KfNsIrenvJDZTy476j+l7+bfPTbQ5/lvDwrvxDMELWVaC+Tai7ZTeVnfA9g/Tdlavqg0ALokJEH1/Resu/Rd0SHI4d5az2Qwi8Pc8eAhM8EtlQWG0CyrMeei4IqepsFhgS62dmv6//NEB3T6SzJh1MlSfyby1wD1Ha/6u+rZkeUCf3Cxar1VNpUWQsi3sOqxQQ+9SCuabqotwVS//EAEbnWP98/BrGoP/USN3JQ0PWzFSXrfGEW9aAzGh6lomTZRDdBTK70a75ShsU7jCJIV9Yfr9rbJKVIz0o/C+yTAo2QSOM7D5RWvqlnmOWb63l96sI4hfKJ/i+SCI1UxW/Rv4Q3mzNPHUhByOEhY5vPrNPQsREqanybBkrDqQcG8fk5ldlhZEA2Ps2J9s0RaJqTwluphAROt1UHrJT4e3RBSsbn592ybkiTmoJTkHO/ea2wP9arXW30+u6EWbe7TbNZSKv2OXC80WQTFflx+xbhWCLnOEutle1o4vzvLgSA2FzfClfHuUA8815imDd0gv/XowGE1AVnq6LOnUZzzbNheP8DWESYMgF4/wNYRJgyA="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d7e04b25-4494-0fb1-a40b-f8c64171549e/test-file-276f41f8-cd67-dc23-5cd7-3eac4ace4f1b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE814F8743\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:59 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE814F8743\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:59 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d7e04b25-4494-0fb1-a40b-f8c64171549e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "347123979",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
