{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-311c1dc5-d87d-2390-c3e0-679d8503625b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9EA619B0\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-311c1dc5-d87d-2390-c3e0-679d8503625b/test-file-b158b801-02bf-3ffb-9a50-184e9338caeb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9EC4DD70\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-311c1dc5-d87d-2390-c3e0-679d8503625b/test-file-b158b801-02bf-3ffb-9a50-184e9338caeb?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "/qYrCJL3/TuNHyW0cIQ4rqGbJnDqk9iJJWnT2UZesJhakQ5E6Tc5fxbdQWMFdyShM5SPsE3962vNoeIoJCT0Lm+NWd529MRqYqdaDVF1hK1EMaWyz/9LXaajdkhUEFry6BLzeB5GKz/PJU6lo90ZWB015PN+Ql9wQvs30358FlFMZyQ/gguO/gVm4qmxpbrJiR0rHixnc6azgzUjDljAUw/8WDu42tYRpuXtF1+1vpxAbUlgUfcl5fR+jP7Va/CspY+atEx/EK9HGXhHeVxG/cSZ4qAPYAEX13NHOk3XOzr1QXHQGwpQwVyZGDd/3myXN445PIlPnUWNgt3ZN9Zhb949UTjqd[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-311c1dc5-d87d-2390-c3e0-679d8503625b/test-file-b158b801-02bf-3ffb-9a50-184e9338caeb?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9ED435F5\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-311c1dc5-d87d-2390-c3e0-679d8503625b/test-file-b158b801-02bf-3ffb-9a50-184e9338caeb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D9ED435F5\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD+pisIkvf9O40fJbRwhDiuoZsmcOqT2IkladPZRl6wmFqRDkTpNzl/Ft1BYwV3JKEzlI+wTf3ra82h4igkJPQub41Z3nb0xGpip1oNUXWErUQxpbLP/0tdpqN2SFQQWvLoEvN4HkYrP88lTqWj3RlYHTXk835CX3BC+zfTfnwWUUxnJD+CC47+BWbiqbGlusmJHSseLGdzprODNSMOWMBTD/xYO7ja1hGm5e0XX7W+nEBtSWBR9yXl9H6M/tVr8Kylj5q0TH8Qr0cZeEd5XEb9xJnioA9gARfXc0c6Tdc7OvVBcdAbClDBXJkYN3/ebJc3jjk8iU+dRY2C3dk31mFv3j1ROOp14rpIIER1R8mY+QavAr+d/rGmpCxDmC12iYY3qVlBjDStwqx/9GgLJ/7D6uTSiNSi0eCLq5S+MkmN0pe9PZ5wVm3SAUASHgpJm3wtf65JowGxldd5tuCg749i8iHQTelfU5N2AIaUj7PVQRAXkLKbRC6WDKjH96CMMhKwsCvoeE6Tziwa0qN6HQUjo3TPiF7dxq7zOkBAmFvz6s5049+I7cnCg8KGgHGLG+6jo1MrvKmz0+l89D0NUzXQJ+fUBjolmrWrDQWcVkY8aB5SnfUIyC0kwA/2DPiLtTCNtVmKthW0fQidf6+kF3yiP4wfurVAyF+6r0UqL469IHQv9cdaK7GVdC/1x1orsZU="
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-311c1dc5-d87d-2390-c3e0-679d8503625b/test-file-b158b801-02bf-3ffb-9a50-184e9338caeb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8E7D9ED435F5\"",
        "x-ms-date": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D9ED435F5\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:54 G[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-311c1dc5-d87d-2390-c3e0-679d8503625b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1645816967",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
