{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d7f352bb-f1e8-5855-632b-54210cbd9f57?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE9D61D5E\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d7f352bb-f1e8-5855-632b-54210cbd9f57/test-file-3a76614e-1a36-7b9c-f88e-6b3b5ebcdbdb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE9E78267\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d7f352bb-f1e8-5855-632b-54210cbd9f57/test-file-3a76614e-1a36-7b9c-f88e-6b3b5ebcdbdb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "0H0J0db3jMBPv0ZyTFmiUrHt4J0grD40ESjHpBJ2I0G\u002Bwys4B6eQSeLbo1gp0LCk/pbaI24awCM\u002B1cCuMOiu2JwEtIgtaUsKXZa6RQnlC0B3IqZ7nADTpAII\u002BjHn4hn6Lcu8JBwnd5RK0MbXX3saWMp/Ng1CMjycMRCGJG4ZInp9wBc\u002BKeYkT6sRMMw5/ESG7qFnZ6wLuPqOH/MMoVIlMa1LWZ5k3C7jW\u002BZhMAFvYjXL/zbNsrvOcggcrwryGK5Z6/8f7qKlIhJygwzFqYf5Hry\u002BQaIbWH7yfOeWRywk8EM4CEUCUHSTJdwkWi6vCMi[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d7f352bb-f1e8-5855-632b-54210cbd9f57/test-file-3a76614e-1a36-7b9c-f88e-6b3b5ebcdbdb?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DEA040B2A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d7f352bb-f1e8-5855-632b-54210cbd9f57/test-file-3a76614e-1a36-7b9c-f88e-6b3b5ebcdbdb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DEA040B2A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "5v1pPKwwroI=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "0H0J0db3jMBPv0ZyTFmiUrHt4J0grD40ESjHpBJ2I0G\u002Bwys4B6eQSeLbo1gp0LCk/pbaI24awCM\u002B1cCuMOiu2JwEtIgtaUsKXZa6RQnlC0B3IqZ7nADTpAII\u002BjHn4hn6Lcu8JBwnd5RK0MbXX3saWMp/Ng1CMjycMRCGJG4ZInp9wBc\u002BKeYkT6sRMMw5/ESG7qFnZ6wLuPqOH/MMoVIlMa1LWZ5k3C7jW\u002BZhMAFvYjXL/zbNsrvOcggcrwryGK5Z6/8f7qKlIhJygwzFqYf5Hry\u002BQaIbWH7yfOeWRywk8EM4CEUCUHSTJdwkWi6vCMiAI5BNNNcLPZOALHG6D9vlTZLIjaFC9s1IKxvF9/1QQ3QeFiOc17xsLMqxgSMD2BYBPwyc5nsnPizCBQm7RkaVMOn9nPm3SHbWXGHWkHWpRFIFw7jws1z49tf32dKyseWEHFA6BjsdSvaWxYkZUa23GMC2tYONpHyMBKUhv2\u002BjJKt7UnQkbz4X6HjCWe7S36UpP8AR\u002B/ti9nfUrQGW\u002B4qG86Henf45kqmBn80Ky0uOuSX/93\u002BukSivGVv8UMI8gezuO2ZM9EGm8K0Xj1suWCssRfPclgQK12F4LoSjPELmRR7gG4/kQcXjWQbSlwHNgcAw0ArPYOvn42MF08W8A7NqMEo9TTybRwMt\u002BDz9N0Bfq60="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d7f352bb-f1e8-5855-632b-54210cbd9f57/test-file-3a76614e-1a36-7b9c-f88e-6b3b5ebcdbdb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DEA040B2A\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DEA040B2A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:0[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d7f352bb-f1e8-5855-632b-54210cbd9f57?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "730121862",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
