{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-da8f35f4-ddcc-789a-b6b1-2082eeece8d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:15:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DCC10BD92\"",
        "Last-Modified": "Thu, 08 May 2025 22:15:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-da8f35f4-ddcc-789a-b6b1-2082eeece8d1/test-file-9c5a74d6-7b4a-f7dc-a197-e070c5e1470a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:15:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DCC370C40\"",
        "Last-Modified": "Thu, 08 May 2025 22:15:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-da8f35f4-ddcc-789a-b6b1-2082eeece8d1/test-file-9c5a74d6-7b4a-f7dc-a197-e070c5e1470a?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:15:10 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACz3FpvBYBC1MpbPweBdmVNa74gG23VbXoQ++WZPKbPrvXicDYO1lzhkatICZXO3gvKllilyrQM3m7fXgqaqZcji5ERnwUvPpVhPonCjWTlQh3azqVOKuNA1pLHLndSR+cTJH0DvD4GmlfDQ4wqSlAK+hztwNry1WGt0clyaBAeD/eirmjm4YXe0zRNi+dXFYxBvDNaZIcNIE8cVut1lDJHpTOUiJvoIxiXD+ympEp6Vrs8MKvcw6tvlI4YyouZaD8BBuazwo3wWZkbw1WbZnsFof8wOGOHauGIJfMNz1iN/aaspZ5kxpMuTNYRwQBV1C4SEyiLaS/bepsEK52Z44lAjsWv7sHdoNtsAeyMdangMlDF+rsvAZR20SoCX5v1lGhN0TM7puVsNXJNHmdCTgTyI/hM1OnOEIwwOB2W2kFAd22EP6R2pYxqWMVI4uItM4ImEDyiqMB+fsCmCm3I1VoxDaf6vg5fe31s4XsjhS2qAwSacMkFnc6sBcHkz5seooNqF9U6MnVzx5W+NsZFW/mS/AZpLmWRLG/YTbhNe6ziTT/4uW5Yb9CPJqk0R2cIZ6rHUdOUtXQd2epmYeW8Jkvo2+iGTaKLOow12Qe8XOUH0OYOhinYTZjL2t+D8Q3r0gBdS2t/gRkIPBdGX9tsYHwEX5H+rp8hEI5Pu3LCB0h/SgXQqLoKWJBeBdCougpYkF4=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-da8f35f4-ddcc-789a-b6b1-2082eeece8d1/test-file-9c5a74d6-7b4a-f7dc-a197-e070c5e1470a?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:15:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DCC5A524D\"",
        "Last-Modified": "Thu, 08 May 2025 22:15:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-da8f35f4-ddcc-789a-b6b1-2082eeece8d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:15:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1768895562",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
