{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9b884fc1-9dfb-cb99-b218-546848c1d267?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E4391EA0D\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9b884fc1-9dfb-cb99-b218-546848c1d267/test-file-8f63de7c-577a-20ca-5f05-09cf9fc8cdfb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E43A08E94\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9b884fc1-9dfb-cb99-b218-546848c1d267/test-file-8f63de7c-577a-20ca-5f05-09cf9fc8cdfb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NAYc2Cp2cxI=",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yaoMGzD/viV0q3e1xt/YQurcKZIqSN8uMDXyf9ZgkshrRvBJZBNHP/ZxFdy0gUk5\u002BIKPbjJIZYHL3er7DD5PFBmvSYDujt3XlOmbuTICeq/ruYZT0SOWIuFufoYoSzK3IQDCBTfJSmqkuNlJrKtOyGM6EFO4\u002B0P2GSefgA9Wrki245gyP3V4Im8crxlKTXU1H7Uj7jvf/yW9zOsQKspaTQmQkskTHInuwe7km0wqq8yxaWBaM78N1\u002BRydHKJaPekwWEPubqsIgIsNSxN\u002BmPYkyEfXsBpABpKg7vloKgWZFn2P9rrGvERBEZdLf2Tv9yAmeFRaQk3O8FGxTb/x4JaFtHSV7uJ7XgvDlp5C9Mdt8PeZAbHxPtQvwQYpVW7Ej3EAxYswGgg9qxoIluvvS/uKQ5zIGJ7k1HVgZi3cEgjc/wctAi88PZavW1aXqKfoQHUKntHSPHbSXDFVj7QaYZkRa5fkggnMTgXGGL0ITSvNt\u002BW4kXM3CsKQWuY9pq4ilTn9hnzQA/5rPhDLy\u002BP5ig7FiBeOoZAmGmDVFGdjzueX44ODSsbu/XQnDZNiKz7e1pDXOB5WU/Np12wcOy9XBy9pdChgNn9IFsrjZ1Q8w\u002B8h9n2WTNaJAU\u002BQWXNakoJEkAZj\u002BPbWvqBRjyFTsuyfLRO8\u002BkTxwLpY4HKYj9zL7UQIXo=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "NAYc2Cp2cxI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9b884fc1-9dfb-cb99-b218-546848c1d267/test-file-8f63de7c-577a-20ca-5f05-09cf9fc8cdfb?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E43CCCE9D\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9b884fc1-9dfb-cb99-b218-546848c1d267?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1520756454",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
