{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-df306de5-cf5f-e93c-dbbb-6e6073eaf68b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F6865F60CCC\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-df306de5-cf5f-e93c-dbbb-6e6073eaf68b/test-file-1a319e79-ad8e-45f5-9c53-f5a45f3249eb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F6866037935\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-df306de5-cf5f-e93c-dbbb-6e6073eaf68b/test-file-1a319e79-ad8e-45f5-9c53-f5a45f3249eb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:51 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACd20sKH5ECLntvZJlIVbjszv2FdWWcYPy\u002BD/TPJAAcUawWSVWj4lJJ\u002BlbevI6RYOBDpiKno6MKAXtOTA\u002BdMwl6UhLsMgtiSOyrPHsOvqRuLK8Ui37ddK4JDEjaVZVDq8ZNY2l7pC3U4V02/GYo\u002B0LW4B9fiaiLnd1k4ybDiPNWZ5G0wVo78oeCP6kgpnhI4RAFA3V24yIdwcaLF8EHEVhq4JTVcznnm\u002B6X3Un/a/ZlGwEVvYV\u002B34RulgCUr9rGei5Rtsbjc27XHmiH3gbZHlbPJvzA8VPT6wAQZtw5UuwT0WIarrQwgaiTPp8d9wF9lXipxIneBYnbfcrF0gyRnct8cw2jvnChn6RTLLK0tvT/k9BkkI5iNcvZPjDqaq\u002BbAaHToIP02dYHByTkitjWJ8bVxT88LQ08GT1ByoA/tzX1tysR4BVxC7n5XIhpfqvyAhdpFKRvX9SUl4dFsg9Wx0/v79KtxUaxZLqGQtGE05qSTsho1qOQhVhXfEmNK1iqo5Q4eY/YRTzQuK/q6B0CD8Pts2RG7vGsX2l6Vkj9Izlh3J89S1kLugmLlx3zpZw6VG2FoHf0Y7SiixolXe/005R2iQx\u002BxcNp4flaulfTubrMPwHbd4LBbHjqmr8/5lwal8OIfByQvI\u002BpG79\u002BmahdztJgWR7tGFsStRyTkyoDKvucQIyzJbQqfHNajLMltCp8c1o=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-df306de5-cf5f-e93c-dbbb-6e6073eaf68b/test-file-1a319e79-ad8e-45f5-9c53-f5a45f3249eb?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F68662B253B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-df306de5-cf5f-e93c-dbbb-6e6073eaf68b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1408048930",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
