{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a149f9ec-e850-c3bf-e63a-bb9444ac1e8c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B7EA72E1\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a149f9ec-e850-c3bf-e63a-bb9444ac1e8c/test-file-9a260fdc-c9be-c128-c9ff-d716f8c2aa45?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B7F6BAE0\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a149f9ec-e850-c3bf-e63a-bb9444ac1e8c/test-file-9a260fdc-c9be-c128-c9ff-d716f8c2aa45?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "CAV8krzeOq1bR4nn45sp87LC9krhUcaKUPn8lHgAMLDqdhuUd/U8vr8dcH6bktx8Q9LqDXA0rLY/8UHC4qU0WhfY/WyAlHy9hjeKxOBH770dgFGlFSJAtcplVYWzedwa6BZnw5Vw/K9WLIc4qefV9wKDpWJUjkT1l0ehGz72Cg1bcNzK4CworIOiT+mbCAzij16DL9R5xlnRcStNzuBwYCJ53DkLCxfVW/jesj9bWo87v4vgcts44qmC+W4B296jMe7GISvT14RGrtTcmhQZdRebEg9Vj+5HQfqPiBGo1H8aO4BRlThkZ+cHmcQGXEeVaIRWZcjOTaEAf+AwQ05yntlUwV+Ty[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-a149f9ec-e850-c3bf-e63a-bb9444ac1e8c/test-file-9a260fdc-c9be-c128-c9ff-d716f8c2aa45?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6B80A57CD\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a149f9ec-e850-c3bf-e63a-bb9444ac1e8c/test-file-9a260fdc-c9be-c128-c9ff-d716f8c2aa45",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6B80A57CD\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAIBXySvN46rVtHiefjmynzssL2SuFRxopQ+fyUeAAwsOp2G5R39Ty+vx1wfpuS3HxD0uoNcDSstj/xQcLipTRaF9j9bICUfL2GN4rE4EfvvR2AUaUVIkC1ymVVhbN53BroFmfDlXD8r1Yshzip59X3AoOlYlSORPWXR6EbPvYKDVtw3MrgLCisg6JP6ZsIDOKPXoMv1HnGWdFxK03O4HBgInncOQsLF9Vb+N6yP1tajzu/i+By2zjiqYL5bgHb3qMx7sYhK9PXhEau1NyaFBl1F5sSD1WP7kdB+o+IEajUfxo7gFGVOGRn5weZxAZcR5VohFZlyM5NoQB/4DBDTnKe2VTBX5PI3983qidN9ipA5LP6IIxRb7dL7d5RFlgzJJmU++qymu[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-a149f9ec-e850-c3bf-e63a-bb9444ac1e8c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:53 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1282266034",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
