{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-7b3ed024-d850-d594-3821-33b2e1580719?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA552BFBDF\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-7b3ed024-d850-d594-3821-33b2e1580719/test-file-8656d715-8adc-7b3b-36b0-1e9ce30f9446?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA554CB920\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-7b3ed024-d850-d594-3821-33b2e1580719/test-file-8656d715-8adc-7b3b-36b0-1e9ce30f9446?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "/D5OR5ZG7UK8+6EfdNnVoB+vB7s+FzDvt4gTKl5cuf8f477BSLrtZTjXNO7WA/bIPuOX2tNVQuUNXo8OM8LjX0Kh/5AbFFhlwaKDZuNBGbSRSux6xN4ryaDYs+kq3zJ189SsNANlrSqLMhgx0tsCzEXbfOjWaZtjdTbwQmBuOuJwDnMOleWwK53B75LF+vfE1uekT2NJnoo4SL7NdWrJHfc2wcRo8zZfKlBLFHoInXs/K2x4yut/Jm/o1kwn47Uy+NGajzgyXOKwRCQS/okQMKtCjkr+UVIMt5pUgB3qOEeaGByobg5CDM+Jx4XGbSjm2KWh5FVrNKZ/jded3tvFxgzdd+VsZ[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-7b3ed024-d850-d594-3821-33b2e1580719/test-file-8656d715-8adc-7b3b-36b0-1e9ce30f9446?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA55614A1D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-7b3ed024-d850-d594-3821-33b2e1580719/test-file-8656d715-8adc-7b3b-36b0-1e9ce30f9446",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA55614A1D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:17:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD8Pk5HlkbtQrz7oR902dWgH68Huz4XMO+3iBMqXly5/x/jvsFIuu1lONc07tYD9sg+45fa01VC5Q1ejw4zwuNfQqH/kBsUWGXBooNm40EZtJFK7HrE3ivJoNiz6SrfMnXz1Kw0A2WtKosyGDHS2wLMRdt86NZpm2N1NvBCYG464nAOcw6V5bArncHvksX698TW56RPY0meijhIvs11askd9zbBxGjzNl8qUEsUegidez8rbHjK638mb+jWTCfjtTL40ZqPODJc4rBEJBL+iRAwq0KOSv5RUgy3mlSAHeo4R5oYHKhuDkIMz4nHhcZtKObYpaHkVWs0pn+N153e28XGDN135WxnwpwAgXt0ic1GSnJtp3dJVPEv5HYp4DakLfPEAXno9UJ5cOME5NPwvx2xR40qcDRNfbfrRwH2PuFlW1SHsIhUXVQw9DaURHAePyVYd5moeb2+doTB/K5BgzIBn4h/aA+VXek5+nz9uThHzQjcncZIvOGWyDkDkmGm73EEkqXnntYVwxqwb39Awb1LeS6lZOVrueKn6J/WkcqIkgoL+SaSYC8xxtqsmE1iVQd7txkyAIqLmNjDQLU2PzJQKNx0NceWuBj/c54LvyGURJKYWtmwVZGAf2FOzyB6+4anXG9w7SBA5P4AM43sgNm2LvsinuVYn9JK9LVmSOn4hf9wDeNrBQKo/3AN42sFAqg="
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-7b3ed024-d850-d594-3821-33b2e1580719/test-file-8656d715-8adc-7b3b-36b0-1e9ce30f9446",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5ABA55614A1D\"",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:30 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA55614A1D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:29 G[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-7b3ed024-d850-d594-3821-33b2e1580719?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "94967349",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
