{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-95840d64-292f-7aa5-e3cb-936e4576d74c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA596E9356\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-95840d64-292f-7aa5-e3cb-936e4576d74c/test-file-5c4a4266-8b62-08b7-5db5-e0e7bfcd0fc5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA598A59CC\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-95840d64-292f-7aa5-e3cb-936e4576d74c/test-file-5c4a4266-8b62-08b7-5db5-e0e7bfcd0fc5?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:36 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADOYhKbkAjcgYFpd/Y1reHMlZzA1uaf1GfJmufp1LRV0sLrKDYDm2alkg62DmmLSF5/QUEpi58hL42r0fUg8q3MFKU0SYSryPo1GkTX6Mb9PlKJapJyLEcjyfmoWMlwhZ9g6vrEVv7Z1HlH83BaSkbHrpKjlogaWuheEYCLAnAwxZWkdv7LOedTsJYZKjjWyH+y4ao3zO4XRZASZUV+TtIJFy7bttNH+3SqUObxAS+viEkA2CDF+fimjTFuudOi1WHEDxMK+hGsauU1jHwIJURgYt38fXWxQx41NSmi2UKhCHqELfIbpI03U207kGx8nWfsDVb1pVfsEsz01cXoCpGjlIQBg/hSRb5QxSkHdrOxuZfBtcvrq2IilxslJs/HTkncl/zoehlvmsiYpOAt5ZwYQxsuJlXFt+gh3uvcLB7uiXbgKt63yT99UhoDUweB9LJ+DeOzmSfzFuATxpstkm6qqRtpTbq9YXrcsNM6wmThoOo5Xh46O/BP7BT+owKjUMCrWanrF6f4waxp1ulTuFR7Miax9DRPb24rGmCmv713OF8Tj2i69YhCQJxy0WQG+zO/gnDb8luMW+o7wP1GUgHu8Z6JQCnswD2ebrSX3Z4JJB8t5jxNnEUEhzN+fzSL/O2bhN/GfbsJ0sEzPYSn9X5LMZzdGWvFoVVYhLn2bUEJEg3vxKf6+71GDe/Ep/r7vUY=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-95840d64-292f-7aa5-e3cb-936e4576d74c/test-file-5c4a4266-8b62-08b7-5db5-e0e7bfcd0fc5?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA59A89E3D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-95840d64-292f-7aa5-e3cb-936e4576d74c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1620591847",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
