{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e6763377-981c-476f-bb63-303672970ca4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC074B6AE\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e6763377-981c-476f-bb63-303672970ca4/test-file-4b909aa4-eae5-bb05-0879-6997f95bf92a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC09690E0\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e6763377-981c-476f-bb63-303672970ca4/test-file-4b909aa4-eae5-bb05-0879-6997f95bf92a?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "W2AGCxUuM/REhK6XeLefu0ydU8nI65hvX6l4UoTLwEFnW11H+Qt9s3Tb3YcQ0iRfxkLXlKJU/HDIlqxrtuFvecRsMBxZV8JBIKBV7A0RXoyFGYxC8yyfEl/tf2NeEfyTa2TCpKIHBW+AlnQB/g9itzgf5p1ULYWYzR29bNdf4g6kwYCpTrrqfRMcwl24nRNPisgrPipePj7eKtaFSpiXIbRlXT2OuWh9NWmJOGso3y8JbuEPNKPjRYNCyiPjZTN7haCoUj/WwNFfrQnB1QbTtkqne9u2iO0Qghi5TO5EmtA1DrLKf43wMq0Qr4aaIXB8bhPZPOlXxf2zmNAnHHTjGxI4jMZUC[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e6763377-981c-476f-bb63-303672970ca4/test-file-4b909aa4-eae5-bb05-0879-6997f95bf92a?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC0AB1509\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e6763377-981c-476f-bb63-303672970ca4/test-file-4b909aa4-eae5-bb05-0879-6997f95bf92a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DC0AB1509\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:51 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:14:50 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:14:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABbYAYLFS4z9ESErpd4t5+7TJ1TycjrmG9fqXhShMvAQWdbXUf5C32zdNvdhxDSJF/GQteUolT8cMiWrGu24W95xGwwHFlXwkEgoFXsDRFejIUZjELzLJ8SX+1/Y14R/JNrZMKkogcFb4CWdAH+D2K3OB/mnVQthZjNHb1s11/iDqTBgKlOuup9ExzCXbidE0+KyCs+Kl4+Pt4q1oVKmJchtGVdPY65aH01aYk4ayjfLwlu4Q80o+NFg0LKI+NlM3uFoKhSP9bA0V+tCcHVBtO2Sqd727aI7RCCGLlM7kSa0DUOssp/jfAyrRCvhpohcHxuE9k86VfF/bOY0CccdOMbEjiMxlQJN723SC6m2GZ2YKg93tprXufdSbUW5r3IFjktlHRhla[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e6763377-981c-476f-bb63-303672970ca4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "72554447",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
