{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-4973f332-c0db-09c0-8b82-f635291fea12?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A048A9CC3\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4973f332-c0db-09c0-8b82-f635291fea12/test-file-a82d2b1a-0cd1-2a6f-97a5-1fa10c42ba15?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A04BB4F74\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4973f332-c0db-09c0-8b82-f635291fea12/test-file-a82d2b1a-0cd1-2a6f-97a5-1fa10c42ba15?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "h5QjX+fi7II=",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "6jZOiPI35i1pczSGoPCpiTSh1z6utp50cQS234xYxouX7eUqtMZiJgVDygApJnaDo+78l7F/hDSX2RbugAahEa2p77MKf9RuP7A4a+ydSkqNMzudWy7aGGixktqvdKX+oblTgDfDeSQZjlgARhlH+o/LYE3LBLV/z9dKWOz6v8sLOckySsoTyboWg83V2dFPaphL4xNYM50E07FfeSE3H8+N9Q1QFK/FuJeTtYDnqfUG+u1Urty4sgYrLnYYs1CY3mP9SOPD/1Xohit8xX4cHCq7WX4z43Hz1UIHJOY5rARG+tYd6WASQvuYbCiwO+2HDxJLXVnSZfvyCnOgvNtvr9kmNcqn/zLKqReCmnZIQ[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4973f332-c0db-09c0-8b82-f635291fea12/test-file-a82d2b1a-0cd1-2a6f-97a5-1fa10c42ba15?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A04D33630\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-4973f332-c0db-09c0-8b82-f635291fea12?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "182057490",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
