{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-3ba62d15-b771-a6f3-5c57-c57a4d4039b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B1D31716\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-3ba62d15-b771-a6f3-5c57-c57a4d4039b0/test-file-466e7379-b67a-668f-ab8d-1f3c7ccef8b2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B1FE0B24\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-3ba62d15-b771-a6f3-5c57-c57a4d4039b0/test-file-466e7379-b67a-668f-ab8d-1f3c7ccef8b2?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "2gKv3/EvPEs=",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eCFjY+6QpWLlMg89WjEcPENOYLfgtoQDAUf+sc8D1gIBckpovLGJiPD+nfiSSN6KFKcBT8h7CsGdX2GnkvST4lwNO+jms3+RxNfH4RmMcLlodJwoAYc6hmeIyl1P4fb7arqchQz2o2Anb4rwtCmoEe6oPh5XauDV07WBXukiQuPhy3df7+usctA8AZL8SdI+4Llup6PYo//ZxrJXdEV3BC2nD+iySSED+8tNG2lO2IniQ34vtJo/CCd3hSg5Vf6LxPxlVTrpjJaYaqvXi4iWi+4pdDHGSFCSZwbBOsT4yqbNwVdt6YJO+LbnlknvaH2e4fo6D+DMxXyr0u40J1HSoKAFCckxKKJs2nt637EGo/+IIlnJvrrFAfzawRaUGdFlFfap6V6zbbhXzjVkUebLpS/uqwT3COHlPwjNVmaL18CqFMm6Xbmg1bWhce+FYa8WDxznpW7MbgwUw6pV5hdRzPZ0uTwcEEd1TdZPVpbxYN1Zt0dKozFS3qa9pZoOS+6dT6X5Eady+v7UcViXfBh1ImPM/C7QByjFIduWXmqtZgLnsQbx+E815r1IdTHZumKOR4M2QU6/zUd8NO/M3JuUJwtVsMoRhCoUlxZxh5H262d4BxbndiSzJ+S+dMRgaQkhs04mgwqYfMNYIqo3Tka1hkiHU9SFrLDmoYjmUg9ltC0=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "2gKv3/EvPEs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-3ba62d15-b771-a6f3-5c57-c57a4d4039b0/test-file-466e7379-b67a-668f-ab8d-1f3c7ccef8b2?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B22FD1E4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-3ba62d15-b771-a6f3-5c57-c57a4d4039b0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2142519400",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
