{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e16528f8-e7ef-cd25-a7a1-dc2f760dc0fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA515906CE\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e16528f8-e7ef-cd25-a7a1-dc2f760dc0fd/test-file-e52be87a-f4cc-4302-9c3a-a101baf8b474?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA51764A88\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e16528f8-e7ef-cd25-a7a1-dc2f760dc0fd/test-file-e52be87a-f4cc-4302-9c3a-a101baf8b474?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "UrJEpWESS9qrFeDrO5KxDLHDIftxgnKVfLAdfDYtRdEzUUBqVkq3+y/BknUECl7WxtueRw/V6M8/ryix9c+kftAPt+lRRrVmCyXLr/D8kXJRRrZajv7CXWhxKqciBgZgHRSl9VJ0hX8lNzvpCTneQx21X64ZSe/RTVmB3xwORAUea5HcVpsf3ME2NFfC2FQvkuaJbKZYR9Qk06j486VjF/I2yp2nAuyClYLs4hWXD3QFUUw1hNhexiS9t4PzJ+kb0hxkjA22h5D6B9Yka2S+jcQz86JYLZMa2AR56ktpjm6Z0BD4M4NmT8m8O30BOlrA/iq/vzNHw6SJSrMJPJ1EkHhniptUx[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e16528f8-e7ef-cd25-a7a1-dc2f760dc0fd/test-file-e52be87a-f4cc-4302-9c3a-a101baf8b474?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA5184EACD\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e16528f8-e7ef-cd25-a7a1-dc2f760dc0fd/test-file-e52be87a-f4cc-4302-9c3a-a101baf8b474",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA5184EACD\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABSskSlYRJL2qsV4Os7krEMscMh+3GCcpV8sB18Ni1F0TNRQGpWSrf7L8GSdQQKXtbG255HD9Xozz+vKLH1z6R+0A+36VFGtWYLJcuv8PyRclFGtlqO/sJdaHEqpyIGBmAdFKX1UnSFfyU3O+kJOd5DHbVfrhlJ79FNWYHfHA5EBR5rkdxWmx/cwTY0V8LYVC+S5olsplhH1CTTqPjzpWMX8jbKnacC7IKVguziFZcPdAVRTDWE2F7GJL23g/Mn6RvSHGSMDbaHkPoH1iRrZL6NxDPzolgtkxrYBHnqS2mObpnQEPgzg2ZPybw7fQE6WsD+Kr+/M0fDpIlKswk8nUSQeGeKm1TFWkHMo9ic8hUYnqm46yGqzjpSDWtv6M9dEit3qgSZr79sOdB985BuJrJzMRVfg7Ij5qksOI3oVnFxb5GsJEcRfu7qTLJRLNuq4+a4/Le6/Y54U8NabXYxg+NeDIP/wQJqYrImdTcA0rrOgVWmMFm5t3ECM9CEthF3uMjP8h9YqyHkTZoFk4hXeIEIjOshilOJpVUS/I4x5qugrrxuMeCaddYzwuK/tCPoq7tPeykmVi11RU3KRq6Ts2fuZOXM6EagbhYU7chxyfAxKVHS4WuBeliO+euT0C8noA560VA+HMJ0rw0TEWhlBHxcmRxdwNL7bemMPu9bDZ3n7Voj2tvN+/eMWiPa283794w="
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e16528f8-e7ef-cd25-a7a1-dc2f760dc0fd/test-file-e52be87a-f4cc-4302-9c3a-a101baf8b474",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5ABA5184EACD\"",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA5184EACD\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:23 G[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e16528f8-e7ef-cd25-a7a1-dc2f760dc0fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1245674497",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
