{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-263288d3-e904-0860-d2d1-2a6c1051b26b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69E65F1A0\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-263288d3-e904-0860-d2d1-2a6c1051b26b/test-file-45e3b5ae-3f05-1453-f954-226cf55f21e4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69E72A348\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-263288d3-e904-0860-d2d1-2a6c1051b26b/test-file-45e3b5ae-3f05-1453-f954-226cf55f21e4?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:10 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACG26fbP5hsW7+KOQ+6Or3x3IHlzqAaqM/WZr6Yd2lHN3Ewn285Gmnu1VXYN/q/6CcvDoPez7ZdazLXBNja1ONWQwKdippOt8EX9/hLQnDUFn2WaWnmaGe60zQ8YhWRFAFxgvT4IV6N4FfBx9i9ESjCA+5aQ2t6b9qa47dmEVWshuL32sB72/QfCIgSJKGP/MILel4nNtCV9hIaXj6nJ88BFUH2xjZoRyf5OjrjaEs4C+b0Wpf2hU8RYeOtYX22eOG4EA9fmTaLojM3LvuWso7H4VJYssw3Co/x5GRTu+WqQ8JZKlc72XKvabhkv1dTe69V5n8qXcYUgAV/bbTSOOdNjeo5PYc2iwjgqUgU00s4nWm0/dRmf+X7RKlSvGu93DHQFzJsGj4nH1t3SbR+/626R89LHToS5w0FPfje5M6cI8wWRLwYzIMqjN157jUxfUX8l3Wbcr/3vjAkZt1GSTuM2iboZ7vwoXtMIJBcmfjY1L+z4kxZAbEMH4aM82Wl5EOi7BQPSBaJC/b6TlEumiQ3TJIekmbuM9h120g1ZK0VpztNua3kyIuoKddWX7Jf3oVhVKbSh1LdtLk7mW3OVKdI5KcW4eB3U4MHdWmPmNMmFfzD0w8GQx/pcAX0qS8d2tUvDXsLSf2k6gEiyxHoTRzlFYNwC4CXQaCHLHDbg6pU6Ys0cNJo+zVVizRw0mj7NVU=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-263288d3-e904-0860-d2d1-2a6c1051b26b/test-file-45e3b5ae-3f05-1453-f954-226cf55f21e4?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69E9C7AE5\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-263288d3-e904-0860-d2d1-2a6c1051b26b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2074711195",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
