{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9cfed188-d0bf-52f3-703f-50d099436464?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7D41C1DC\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9cfed188-d0bf-52f3-703f-50d099436464/test-file-6d688414-f0bc-a40f-0b52-fe367228368b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7D5CE158\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9cfed188-d0bf-52f3-703f-50d099436464/test-file-6d688414-f0bc-a40f-0b52-fe367228368b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAB9ryY+5sFY7mSCdkqzNwHEsDt+8siXUkrZ3vrU4G+eb1AWPqKETy6QToxojxTQZTdn9UyhODE95V3cZAfGgw715Af5nfhfP2AM7aQ8L8I2CXjCbesi/DYe2VhFqOsnycp+c6sN1sg/B7XslUqNAbaapVuOAxYi0+fQ28OfGpZ15SPZvbwXKTKwg2U1NmfskNeiqgKPmMW0W5/DPPsEn+0fdq8ntEP5gnwo3oCw7Zx/5Ers/W+T5kxdJWIcU+w3q+R4Fr+4xdyUqCeGZ7pFA24DRFiwGKF+i5BiyY/g3S+Q8DObONbdxx5uWFRHDX6SGCH0GQ+Th5JD+YsvVftNs8v49XaGqsuXJXw5QsBMNn0Rz7Fu7MQf/GmgWD5LrXIjIKSJThcIDG1VXfOSWUTS9sMNHoVK38cG2fgM5lKMTHgKFiEbw+dlCMNDGI/QjKMlzWJ6PY7s2EHdg3Ue/CUbyBB6iEIitjLcpxbBB8Y4NUxV5xjwEg7qHT7gPkBxRgyeKE9+VgRgAhcvnpV4KtF6pU0pyRQMK7YCkGoEQnfyamAJI953ud9I9eUAwXN5cvNtZpnySH33kf2ZfMaZXL+gPDM0bgfyA+tt4dMvC2lDiB53ltze/yLjEpLh3T0ZrpklYIQ/RAPremOuhWepyIWTVvOnIsXjwTwRUVt1ESWtVDI6Chs1BzoB9Q2FGzUHOgH1DYU=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9cfed188-d0bf-52f3-703f-50d099436464/test-file-6d688414-f0bc-a40f-0b52-fe367228368b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7D7671ED\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9cfed188-d0bf-52f3-703f-50d099436464?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1331907677",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
