{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d5abdf4a-6a94-b842-54f0-654ebad4b150?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F686494F5F4\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d5abdf4a-6a94-b842-54f0-654ebad4b150/test-file-8783b76f-fbd0-94a1-9009-6f66466b47d8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F6864A39B4D\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d5abdf4a-6a94-b842-54f0-654ebad4b150/test-file-8783b76f-fbd0-94a1-9009-6f66466b47d8?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:49 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD26MZdK1okr08Bh5YwePTvw0VeDamlMPJaGAwVf/JMOG9\u002B1Nqe0PSViXu7H2rdktRIK9kYtoERULjUAhJODi9dtE4nsqMZUfJQyIMu6RCIfYU3zVQYM4LtbIMhys7hRnpMXmobtuAwLtrnx\u002B7942eoS4WNFkHaRIHMOUUf94YkboEJ4oqlbMelBp55MWuU74kceX5JVDA4cRnpTnyaEDZTw1hs9AHcA96\u002B5xCjYRMVOEq7A34I2hpR0HBxvB1KCvVnJW0SJ/qIQHWfi2wglQ8G0xYx3g24S\u002Bg\u002BGiSQa0fBc90aOzylAxBQM8MIaE\u002BtMTpga\u002BgHGSvor9mF1AzW99Uu3hePBVrTYNAF4atKr\u002BKYkenpLwBeuVqxMYtiIC8DeTvu2Yo3HSvgjAoYAjeAnQD37EIj7MfV0CS93tTPcUCgAWdvXNVXYXO9CaP1RbciMJOKajPs4I1zGAlleT5XERrKdwDPEEErn4vPZuMk34ptmq5ARAYMtCHa/EPM8uc1ZviIK822Ux9SX8uoHXqpTjl\u002B\u002BN\u002BQFs0UvcPf9RT\u002BX62jmf/rnLS9tkeO7uQ7ZJenMK0KTfkIpE8rdG4K114KVAAeBIN6vrKFwUKXASjo2FgrN8Rn9BG0m/WwwChFst7pg5njHV8TLXL6hIu2cKMmQpsV3p\u002BZo2DvammOyf6KPw9krmuFcm1Sdyota4VybVJ3Ki0=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-d5abdf4a-6a94-b842-54f0-654ebad4b150/test-file-8783b76f-fbd0-94a1-9009-6f66466b47d8?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F6864DC1052\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-d5abdf4a-6a94-b842-54f0-654ebad4b150?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "361354975",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
