{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e2f0ce71-c387-e42c-7be1-2e3d46454e76?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DFB25B945\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e2f0ce71-c387-e42c-7be1-2e3d46454e76/test-file-d34414fe-1584-3b53-0b24-fc8b80c6b918?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DFB36A953\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e2f0ce71-c387-e42c-7be1-2e3d46454e76/test-file-d34414fe-1584-3b53-0b24-fc8b80c6b918?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "YUPNidym4QE=",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "o6VOH42sxw5aUV4KdrKB2TuRi6aSIJhWHu7ZH2MlQCFlJ9W\u002BU4YPBdmk04vjTKy0aiYSzNZxlIMM\u002BACf0qeqNBE9pU/cw4W0gYbM7UwNctJBJLU9E3RL85NSsVuGcDIx\u002Bp56pqdd2KegXUpPpKY2/4UuXa7ybCCc8bG8ihEqLhFTm/Otk8wq5EwNnLYq/E/sG7LVVxKEPo193bX2oU2Wdi84\u002BwmziGy5A3li5NBqcfViz25fVdb\u002Bz1xlL7UWNEL\u002BdyaG8gBGOZJGG1OZIlq8E2y/k9HfNyFYOSysTVi2os82Y22q5H/1HJbbGDmCZK0CqBxJV6BxH0A[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-e2f0ce71-c387-e42c-7be1-2e3d46454e76/test-file-d34414fe-1584-3b53-0b24-fc8b80c6b918?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DFB61FEE8\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-e2f0ce71-c387-e42c-7be1-2e3d46454e76?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "718504743",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
