{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-df95fa37-b7ce-9d27-9c19-70cad8054286?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA6C9E3FD\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-df95fa37-b7ce-9d27-9c19-70cad8054286/test-file-1799200e-0b9e-c54d-9821-283a8224f216?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA6E9B524\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-df95fa37-b7ce-9d27-9c19-70cad8054286/test-file-1799200e-0b9e-c54d-9821-283a8224f216?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:07 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD21q55N+kyvsghrpdWV5+lt8SoHcAwultN6itm/4Hxd94Z2SdH53U3h4ZJqVcFRfxD1Pi9ETqHxhtTLEy+zL5HMDa4PH13XdBOcZU55hEDR6UvIyuIM2WjkhMM87ooebvIAnggTAh+zHYob6ClTeAKUOSmjqmSvv3QFalqamkVJvfZceOY4/udsFa1X8TF/kUyAqPVgeoSNUR7TzdeE2EMEkmoy9z9cmzpCd1S3V85CxZkOGjGP6QMxzufHJPEPp30qUx7HDNpNZA37HgMv1jlQkQg+dv5RtOknASgXlXYJMpAXTMSvu7j+wLYj1Ms/wfiutpPo0TB+2N51oAvyNc6XsetzGEk0oNVPf7ZIbd/eJz8vqR6iYCFfmLQmOdutDMrnTCLfjOlvedW+WZG6Nmr+V3jMgkzwNRGJ03+VDqb54jLrYSG9PlpVgC8I48aP5aJJJ+KioEp+N1bRFflpmmtuxHdejpVJQVjetsJdpxFLOe3dS+aEV0HorWnKq+ig7CXD2h9PMVbM/+ZJg+lIIFAFhhvLjE6Eqm01tiFrvpVwPcrcWYzx/AiW0EvAetNYYI0ZhSXM1R/Xf2/yWbs1oUERGUXea4aDU8nTNPvChG+ZnRVUEjmvo2jrBRpdP2KNYW8K7yFNejTGVnEb+eBj1LsAGLxl4U9HoXYdM2ZsJhRneAhPCuYNsAf4CE8K5g2wB8=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-df95fa37-b7ce-9d27-9c19-70cad8054286/test-file-1799200e-0b9e-c54d-9821-283a8224f216?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA7154035\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-df95fa37-b7ce-9d27-9c19-70cad8054286?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1824294388",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
