{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-46e579d5-5a4f-b922-971f-251cd713b873?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6983FCA10\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-46e579d5-5a4f-b922-971f-251cd713b873/test-file-aefd6488-1692-1f6e-7439-e16b7d738e28?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6984C9DD0\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-46e579d5-5a4f-b922-971f-251cd713b873/test-file-aefd6488-1692-1f6e-7439-e16b7d738e28?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "h8JfqCYJQ0PMUdaVknET/CR9zuOufT/0VTEC+bcAJv/78CnjO1KBRK8hbuKzWWmFvt6H76HaKAqCalL1BkqLyyvXmaFHL8HS+4k0jQ5dQfvIfTvZeTZdIcgfYND/jD5llqO33L/HPo4ctPQYpZr7JSlXLYkPsVH0eXjZJ8/x0m9Lz/drpmQ7AD+svMVCRXstJDumqF+0VeRRwmNH7Ra/K+KEzdajj3/FGyxKYvWMsTP8rAKTSioQlnkTGeMB8xIo7ZDivnikiZS84YwyavLuxREwS0EUK+G3czZdj3WcxCcZInRkqfK6VyJt1mmd3SyGJFTR0KjRFMKvK0pCR/oeIB1lGUd+i[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-46e579d5-5a4f-b922-971f-251cd713b873/test-file-aefd6488-1692-1f6e-7439-e16b7d738e28?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6986015CD\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-46e579d5-5a4f-b922-971f-251cd713b873/test-file-aefd6488-1692-1f6e-7439-e16b7d738e28",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6986015CD\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACHwl+oJglDQ8xR1pWScRP8JH3O4659P/RVMQL5twAm//vwKeM7UoFEryFu4rNZaYW+3ofvodooCoJqUvUGSovLK9eZoUcvwdL7iTSNDl1B+8h9O9l5Nl0hyB9g0P+MPmWWo7fcv8c+jhy09BilmvslKVctiQ+xUfR5eNknz/HSb0vP92umZDsAP6y8xUJFey0kO6aoX7RV5FHCY0ftFr8r4oTN1qOPf8UbLEpi9YyxM/ysApNKKhCWeRMZ4wHzEijtkOK+eKSJlLzhjDJq8u7FETBLQRQr4bdzNl2PdZzEJxkidGSp8rpXIm3WaZ3dLIYkVNHQqNEUwq8rSkJH+h4gHWUZR36KHB519B6mVHcalgnWayHK839IDbK0fqh4DyhPtkw4xOQImjiyW7Sybm03EbQ4cI/9VSnm0TrL1Z52/OT2Vp4r4dElztDpF5fKlZ9FfGzzQJ6YUWAiUvOqPcSaPF/PuxfPCy/jE6K+Ez6SGzuahVgxgrxFXQU9CY/eepAMT9o4+9qIdnE9ECz82j0ijza3ELdraLqiiV0SkQKfBJkRscRjWR9hEg/n83GQSYPHG3lZJmrZoeYglXF8deRunguT6ih5vjUXVv6og3VIEkDaS3WIRt4vOBDeQ8St5ZwqeFVl/F9aTl1EQc9rMB1x14MxoSpv5lctZLEXmntxaejVIuBMLxDO6NUi4EwvEM4="
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-46e579d5-5a4f-b922-971f-251cd713b873/test-file-aefd6488-1692-1f6e-7439-e16b7d738e28",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D6986015CD\"",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:00 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6986015CD\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:59 G[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-46e579d5-5a4f-b922-971f-251cd713b873?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "265665205",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
