{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-d42b7e9e-3ce9-f3ab-87e0-1ae341712af4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69799A30D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-d42b7e9e-3ce9-f3ab-87e0-1ae341712af4/test-file-4d6e6db5-3f42-3a7d-d4c0-c3ff588f77da?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D697A69D0C\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-d42b7e9e-3ce9-f3ab-87e0-1ae341712af4/test-file-4d6e6db5-3f42-3a7d-d4c0-c3ff588f77da?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "tcJT0y+Q3tQpAS+7mKgOu4WAxB8jAGXqi6po6uSCQ/ZkBU0jeIZqj0N5AY6L2XTWVClMZuqqerVcaUiFJ/Tvpr04V5Ja6kL/FTXbqf7XX7E2kpW6Nd0MuouYxg8+5WhPiVvQUoLhe2nnTVC1ztC2hQqXTpReNHDgK5wHwSMzwS/MiyCjBwwvVRYr0+eMV+u64kEEp5fT8VTq7ybl2bpGtIwh6EKwEn7+aPl9MmGIU9SwTd/iLhmY+ZrLuRflSXtc5R9ba26pCtDDBj+dVr/zYZtRNIzbZIVyiO+o5VhmGB5+IUxCLehlB0MOHija+6Pb11h7kxTvgYGZ6ON/ACR3XO4gHzRys[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-d42b7e9e-3ce9-f3ab-87e0-1ae341712af4/test-file-4d6e6db5-3f42-3a7d-d4c0-c3ff588f77da?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D697BF1125\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-d42b7e9e-3ce9-f3ab-87e0-1ae341712af4/test-file-4d6e6db5-3f42-3a7d-d4c0-c3ff588f77da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D697BF1125\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAC1wlPTL5De1CkBL7uYqA67hYDEHyMAZeqLqmjq5IJD9mQFTSN4hmqPQ3kBjovZdNZUKUxm6qp6tVxpSIUn9O+mvThXklrqQv8VNdup/tdfsTaSlbo13Qy6i5jGDz7laE+JW9BSguF7aedNULXO0LaFCpdOlF40cOArnAfBIzPBL8yLIKMHDC9VFivT54xX67riQQSnl9PxVOrvJuXZuka0jCHoQrASfv5o+X0yYYhT1LBN3+IuGZj5msu5F+VJe1zlH1trbqkK0MMGP51Wv/Nhm1E0jNtkhXKI76jlWGYYHn4hTEIt6GUHQw4eKNr7o9vXWHuTFO+BgZno438AJHdc7iAfNHKxM7PsLUnMRVyYjUzNDQDrhAqOn8uoRQTmBh6XwTq6225oJiTHp+amtDs8UFUzMxd3cWkVkJWnCO6uBSYqNYQi3bHdZObbI9wj6OqPa/WvstMGH0/QpEvYwR02GaHAe3+3GnKkVc4wm06N8qeqGJ34/1NSIxU0UThmBaPJpAo6Ym1r11GCClwF1oQBQ7KjLqmAPhlObVdqg8g6PlAqZvZEUo86P0BMdvT2TU2RMg6Fwtb6SWbw7PUWAFSISMwM2m+NvPAjae5oNMclWCAJ2VC5tHt5MB2PU2aaJD7swy4n6nPdA3YdYljnkRWfy5PUDCcDzpNRkqlR/WiKif63LceStgVN/rctx5K2BU0="
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-d42b7e9e-3ce9-f3ab-87e0-1ae341712af4/test-file-4d6e6db5-3f42-3a7d-d4c0-c3ff588f77da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDE5D697BF1125\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D697BF1125\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 G[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-d42b7e9e-3ce9-f3ab-87e0-1ae341712af4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1338521356",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
