{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9065edc7-6861-c8b1-166e-19295006c706?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB047441BABE\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9065edc7-6861-c8b1-166e-19295006c706/test-file-e48879cb-b317-b631-6280-538184f9c472?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04744FCBE0\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9065edc7-6861-c8b1-166e-19295006c706/test-file-e48879cb-b317-b631-6280-538184f9c472?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "nMn3CTXwc/AEgfpJKwfGXQ9g8XHFKgM2YHioOQCYKpauDQ04wVSDR2pQmIF4Unwgr3hAWA73aXLGwKi9Rzrwa1dkmx76jZu73KkHdJGBvQ77iImHWNGItqSacgGrxgAwYCwqFLZeJSLchHxl8PTgRQKawb+waBKF3OR6XxuaDxWo1xRlVqlXnWJnqtRVIsavuS3+EQVBf/cZpDjS48YGQnVmvBnfe+5YQiRcSb4+MLkeyqXtnP4QZ1gdS7FxhbmcYGhe7mat0D4/pc7g5DU52nR+sxggGKZ2VlTBwi8857xqv+hV4EFTcfpnrvYvL4Ii5HE98tKhe0fC55gR6w4PAr4SdiVM4[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-9065edc7-6861-c8b1-166e-19295006c706/test-file-e48879cb-b317-b631-6280-538184f9c472?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB047468F930\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9065edc7-6861-c8b1-166e-19295006c706/test-file-e48879cb-b317-b631-6280-538184f9c472",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB047468F930\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACcyfcJNfBz8ASB+kkrB8ZdD2DxccUqAzZgeKg5AJgqlq4NDTjBVINHalCYgXhSfCCveEBYDvdpcsbAqL1HOvBrV2SbHvqNm7vcqQd0kYG9DvuIiYdY0Yi2pJpyAavGADBgLCoUtl4lItyEfGXw9OBFAprBv7BoEoXc5HpfG5oPFajXFGVWqVedYmeq1FUixq+5Lf4RBUF/9xmkONLjxgZCdWa8Gd977lhCJFxJvj4wuR7Kpe2c/hBnWB1LsXGFuZxgaF7uZq3QPj+lzuDkNTnadH6zGCAYpnZWVMHCLzznvGq/6FXgQVNx+meu9i8vgiLkcT3y0qF7R8LnmBHrDg8CvhJ2JUzj+jMrQh65aq9HJtGe3r7/9OrJRKGS+KhBhexXrDccuF3VAHcKxo+Cwd0SoHJATS9QA8koreGrUQGK6rwxYb14K21zyN1G9C1aRoLDgFg2ATi8Bqht9At8Kq51gNzSUV8fmnQEzIRSCg6bzmde59GpU+mEdVoVCjZi954u0XRRh/QipOXjMjSzavyZ0SWjHkLdzC3yTtwFCo8+odTlIziaSkdyPEPrxSC00QpeezgRvtlbUQVHXjkYHZlWpZBfzUfE/4feMeH/8gYMPnzRp45WLOP7itEzUusOWR6plCCPVAPDmXuxMo33XF7/OyC8R3YK/3itZEN1kK2b0GZ7BG2M3+w/ZnsEbYzf7D8="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9065edc7-6861-c8b1-166e-19295006c706/test-file-e48879cb-b317-b631-6280-538184f9c472",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB047468F930\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB047468F930\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:58 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-9065edc7-6861-c8b1-166e-19295006c706?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "727560505",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
