{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6ad1fe2e-87c4-2ee9-410f-d72c09fafe3b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE87A30530\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6ad1fe2e-87c4-2ee9-410f-d72c09fafe3b/test-file-eae4e92b-ab02-f33f-b0e7-d214c5386fb1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE87B1DF20\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6ad1fe2e-87c4-2ee9-410f-d72c09fafe3b/test-file-eae4e92b-ab02-f33f-b0e7-d214c5386fb1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:09 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAmWTMyptqSpyqalRw2Jna9ZQ9nCA2fxdnfpuW4HytcrqeznF1PdiHpbkU03I1gxxGYqUPLvvePhpRaU//02Yj/PuZ1g4kZbe/tfZrHaulLf9/UH3XokO+vIxbJ9SMi9JS9NZ2n6kOIfztT3kFdyBurDtQgILkSFq32xmByT3jMy4gGCjVLpJSbTJ86lLKuUlv6HuZPAdTaqh7vsCTjFTDDhxK4V73mX2o/hNQZ2IL7SHMFeDGRfMm0K18WW/RvtzZvdgyf9vudFL58D33/wNKc82ix3p3/MgpJAytezwR20M2dqmJ1XFJ4Z2NyFG1MtGuNemeMvtiZb0MBVvLPP0S6Bj6vYhZwJpcWOHY5jR2d/E/A0FWc6hL0BDoecwZfqCgfuA4vnFJUHVPQdoViYOImZFmiD27vHRwsu17bUrORto9NGdQPbmD8a7MBzHSMkqNX9w+tvJm6L5ryAuH0ecugP7/2FEYOFvb5pqS77VGonym6g1qj4/n2k+o6HWt+CPHnYY20ln1dSeEZsxb1/kJJSmO3OvVx/FvGAIBc0/mKep6y04zD8wirXDp4ijDiAJSo8dIHxs38dmQy7Zb9AXbnjjl4Qyq1hVZbDN27+HIq4//rs+Img7PQtV0nkQVxrVvEkfz2ar1p8mt8rLrwQH7yBwqXEU2TwAqGqI3NjfNQ6T7NfqdSxiH5Ps1+p1LGIfk=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-6ad1fe2e-87c4-2ee9-410f-d72c09fafe3b/test-file-eae4e92b-ab02-f33f-b0e7-d214c5386fb1?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE87DA277A\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-6ad1fe2e-87c4-2ee9-410f-d72c09fafe3b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1768897275",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
