{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-05d51f0f-5932-c2ba-42ba-ae7fb5141fed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:01:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6BE69D142\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:01:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-05d51f0f-5932-c2ba-42ba-ae7fb5141fed/test-file-5372c5da-223e-71b4-1f53-00c7d910b97e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:01:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6BE768CF8\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:01:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-05d51f0f-5932-c2ba-42ba-ae7fb5141fed/test-file-5372c5da-223e-71b4-1f53-00c7d910b97e?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:01:03 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD1f4VCojdMOKKvgBr11YmdPSeRVfgYv/1an3fpB5b5LTGE77kgOuS2E+Njft2v6NHxMagFxZHn3L+H6ALAYjAMtlPocOXQfAJC2kEUtUAgqrel+NXu82efnBP5mFLh9rGzV8iJxnfsILWlw+pP0yZ+Zz1LGmpbHcPrSdPR1uSvYeSQYF54luM/uNcgSC98T8nsejEVldtHWDkFnn2kGknQ9WEGv3LIBtBZDGGSOtSTbvkK5FuymssISQgkcvdmmp6NT1POdpBWJHRgu4l6tR1lcjCEmjXuHlqW/nZqpJPY83HDBOqBxfhptMDnUd9BjpPqvwDH4gBonzH4N3gZ63/gh8cYtrAy5Kw3GuZ1Bsx7VW/if+WSERFwW2S5iI1/T8hABskXKdfjt9tUj8ca85lkfOIIN2yaTXa2p1tMeVset8seNP8CZCyY/8cKPoFKVmfLVQyrdxdbprhTYIF8lj6ANdf7+7+ZYRi2cDelkA/1bFDzgCNOc0Czwo1HrwOqG2iIigmpTluoMvP09QfgthWpXfQwiBUaMcGXRzgxUrIUC1TOHAYFSx71Sk4wWn050wx4nVEPeZNTbVhHEQYid+BB3+qyEZkPoxLWOz3H6tdEXnQsuLRgBZHBe66tvjkX09Nu7nuThsJyafo/OT5Vi4OBArOR9b4r4dlY8ZXrYeXYvkijfIXieR1VSKN8heJ5HVU=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-05d51f0f-5932-c2ba-42ba-ae7fb5141fed/test-file-5372c5da-223e-71b4-1f53-00c7d910b97e?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:01:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6BE9AA1FD\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:01:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-05d51f0f-5932-c2ba-42ba-ae7fb5141fed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:01:04 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1207035592",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
