{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-21fc9d3b-3b27-4f26-c20f-e9cfba6679b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:15:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC9525C1A\"",
        "Last-Modified": "Thu, 08 May 2025 22:15:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-21fc9d3b-3b27-4f26-c20f-e9cfba6679b3/test-file-37f6326d-3a6d-d5d3-164c-57376d2ea2d1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:15:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC9773C68\"",
        "Last-Modified": "Thu, 08 May 2025 22:15:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-21fc9d3b-3b27-4f26-c20f-e9cfba6679b3/test-file-37f6326d-3a6d-d5d3-164c-57376d2ea2d1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:15:05 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADCW4zWGPfCJAp8IfSPrRE/FCp7lW4eLBykHxaqiEZvV44FtuP1JKZcY9NRCqtojLrbTTfmLQ84pC5vMfnhGJvEDcllifcuSe+EHzGbzSJwO5JczjsOiCp/zRK0hvOse0o4jP3iAgLDrQNIYQ7dndYL/vVmhEpgtoSe5rzkecP82KPmY0AljjiPmSA3xiccojA7qIf9RfYA19Z4RBxG3jRAS4lq9jqW5nC81uspKfBdgUSMqNA8/5Kt5otqrEkcSbrr9nqesqv2pcIXQG8K167mG8LYujVkBEz2vBCuKzomoI0xPjJ1vs+YlgMOJL4jow7dhJCHQ4+Eh/Iup/WbR3mH8J/h2Jh7cV3yPyQyVt+N0xgB0aeqnlz9rLY/RhfZ/U6JhjQeQcp1YRMzlANrUjATodPcmXbS3VFC4yziOypFGELVqdCqbpJOi2+UdwlZklmFLKVE/GPYtqji212ekybo7nzBlalgaDJAjg4HPWZH6VHSXA+EABvf/fInyJI0sPdIq4mNl/ywJMNzA25V0HlCmvEMyzcXY+1g4Zi2OaCfC94WvpHduVFUITdLEfytiix55C2hKOS/MUibLbZj+usj0/eQPhLnZeCft6kAy1HwsldsPVRy/uP5VoxJQYyb8CdLJz4EHUsZkn9MAXA7v2X2qnpf97yWsNUUluiFnSNUBEgumv8DhrtxSC6a/wOGu3E=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-21fc9d3b-3b27-4f26-c20f-e9cfba6679b3/test-file-37f6326d-3a6d-d5d3-164c-57376d2ea2d1?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:15:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC9979EE5\"",
        "Last-Modified": "Thu, 08 May 2025 22:15:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-21fc9d3b-3b27-4f26-c20f-e9cfba6679b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:15:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1603794988",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
