{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2fbd4466-e448-a2df-94f8-a7735e05f112?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F73C1B0A\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2fbd4466-e448-a2df-94f8-a7735e05f112/test-file-1079a624-d90d-2429-6d82-ee7c75f76bc7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F76B54E8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2fbd4466-e448-a2df-94f8-a7735e05f112/test-file-1079a624-d90d-2429-6d82-ee7c75f76bc7?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "43c9QnBJQDfXHCCwLbAA410H78cuurcQoHMXCsZTiKWH6Esqc1gvOVagXz7toM3oUYS7EXpIoCi/LaL9MjZwhJR7KERl1nAF2LVwjVp5Iv+lLrlBl3cqPkgia0W1MQcgL9qqcniJg3sUtjjE2BLORgujVwN9L+0dUOn7Q2orT6auT12AzrCHHKs9LeE+ZmY2VCU6EtoDowDtjSGOjkAQ6GaSFoi1TndbHDtYPwEL3+qDxe5F8TzMqqtdkkGO+I5rLER7q1DdgQat3vaeq2T/4q42CshRy/cpxmvdWLs2zCOt7RK8kDOapkTomBJGLf5HXbCSWO7FGWFNUeXkAChKdhLT8b5SQ[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2fbd4466-e448-a2df-94f8-a7735e05f112/test-file-1079a624-d90d-2429-6d82-ee7c75f76bc7?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F784CBD8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:38 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2fbd4466-e448-a2df-94f8-a7735e05f112/test-file-1079a624-d90d-2429-6d82-ee7c75f76bc7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:36 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679F784CBD8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:38 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "jq5BlXk1pU0=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:42:37 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "43c9QnBJQDfXHCCwLbAA410H78cuurcQoHMXCsZTiKWH6Esqc1gvOVagXz7toM3oUYS7EXpIoCi/LaL9MjZwhJR7KERl1nAF2LVwjVp5Iv+lLrlBl3cqPkgia0W1MQcgL9qqcniJg3sUtjjE2BLORgujVwN9L+0dUOn7Q2orT6auT12AzrCHHKs9LeE+ZmY2VCU6EtoDowDtjSGOjkAQ6GaSFoi1TndbHDtYPwEL3+qDxe5F8TzMqqtdkkGO+I5rLER7q1DdgQat3vaeq2T/4q42CshRy/cpxmvdWLs2zCOt7RK8kDOapkTomBJGLf5HXbCSWO7FGWFNUeXkAChKdhLT8b5SQlF6nGOEaTPk45htlfoLo3Q159Owbz9OtaYbnSEAcjxA9RteGLuKQLAuaG5Md2ouPtOdngnqodMSK+a9acsS5HBcLJ/erYu4q6cjggbQAj477F5NYtQyVlRITOzVzNflHIT98ErKUJFH5PNixh/MQSmogX1sxIGcKdVLlWCf497PPmWC0xLzcZvMBn7h0I80fArCLUpaeFgCYcZ0froxqAEUkoi5SW4XtBDhn70DulhGFxlW3LaTdcUMf3FLfvLhm118zT4HejKbq3g5eNia/6dtLmeh2sxKgBzCrcr8zDUe/wRghu0aPpzmujA9Wf3tcn/K3U+KQMGRMkw="
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2fbd4466-e448-a2df-94f8-a7735e05f112/test-file-1079a624-d90d-2429-6d82-ee7c75f76bc7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679F784CBD8\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:36 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679F784CBD8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:38 GMT",
        [...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2fbd4466-e448-a2df-94f8-a7735e05f112?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "918668282",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
