{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-23d8bd2e-3ec8-b977-d2da-22c95a34e14c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA797E4E21\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-23d8bd2e-3ec8-b977-d2da-22c95a34e14c/test-file-ec83e30f-d01d-1cfd-d87b-3e312a5c9277?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA799881A8\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-23d8bd2e-3ec8-b977-d2da-22c95a34e14c/test-file-ec83e30f-d01d-1cfd-d87b-3e312a5c9277?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:30 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAC8j+Z7NTSfhjZA8OxyDOiAq0Q95DIo4Os1VutNRltPHKoHrkFqs6dX1nqCKxYMcAtS4H8D2EyRk6/7Rt5IUj/a8dNBal6mFved5Q24prTVKOXg+2bbS0NedhqRb23JD4Q6pzpCygasq8qIZvI+2Oz7JR34aFbZ/6WQ4/NDFaaJ1NaJff95kl3fM1CcU+VQIJ4tlklP0KctYaiVsucSaJUj/pIctVvtgZPAGTQGPKu/P8JVFX9dOQQvWxtX5N91zcu6eFRTNGpCQBS2j7ZyJiT81XMlvFIWxsWN7Fo/lp2zSkxpTMNXbAtYE9Vqp6pNvDT3Wg5sUBB4o7KPxUcQAqp3AkRqCdpgpGhozKl9rB8aQC8lSDuOR/o78KgRyKfDRxAr86Rl47NalralA4Nn+/eTdIUX6rpu6LpKLhkxT9zBpISYUbl6tVx8y7GF6ER21PWwfVQiq11WvArqG7WaKEfZ5F7+zqk+GL8omx8I6QB101kjgNGIn/knQZSuj5mn4qJqqwTldwVLcWSU+g89TtMJdEhbdqd1UURl1o0Uj4klgLh9nT38kFtU2A5s86Xp6vPApRtRTGz69Fq/gKB4NuLbb3pXv7CWDeTsBp2ZCV2fe+yZVOpu0zNMg6jiPBC626EskIMrkitCKpc2ZEXOYev9HwS03uL3bZxGCjwHtNHUMhytBlWlpVjeHK0GVaWlWN4=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-23d8bd2e-3ec8-b977-d2da-22c95a34e14c/test-file-ec83e30f-d01d-1cfd-d87b-3e312a5c9277?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA79B4A061\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-23d8bd2e-3ec8-b977-d2da-22c95a34e14c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "945164410",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
