{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-63cca1b3-a614-00e1-c769-5c4d243a04ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA730E619\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-63cca1b3-a614-00e1-c769-5c4d243a04ec/test-file-fe411d1c-7d93-4561-2b0e-9779199355cc?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA751EEA8\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-63cca1b3-a614-00e1-c769-5c4d243a04ec/test-file-fe411d1c-7d93-4561-2b0e-9779199355cc?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAIawvnW8tlHhCSStYTXq9Yzv6vx0id/cbDtUoDPI4hu4ote+ViswLT9tNWXBYHe+6H/zMaruwdam5FI6aBYuGBcY9M5eLK9Rr73NB0R6GwvDlbez1bBgyeEBF3HZBcUZTy1OqGu5YLvQoZHtEbqCLNlWdsJeekJmqDrtTRUteKn4o8gnO2KQCjUL0yQec6gmjuqogo8CysTa2AAw3COWoyj39H3yavFmtmydUpceSDSCxs46hPYa5djzTFNiXz4RZTALJo86NBP5McwSdXgtvI/bvgVVbB4y7Q6U/x6eBGc+e/1nEyGlSJKqMVMp+HBgxZ/DlqEou/kRyElwlTUFay1k4/mKxqluJmVyuzrLGOSONCmOyn3GBc/0VUrYNLNdlNYltQSG5[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-63cca1b3-a614-00e1-c769-5c4d243a04ec/test-file-fe411d1c-7d93-4561-2b0e-9779199355cc?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA76E268D\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-63cca1b3-a614-00e1-c769-5c4d243a04ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1958208328",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
