{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-30b77e1e-5a1b-fa64-d962-dbb53c517c48?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EA9F907D2\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-30b77e1e-5a1b-fa64-d962-dbb53c517c48/test-file-8789205a-dbfc-df2b-9cba-07422b1dcfd9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EAA02B680\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-30b77e1e-5a1b-fa64-d962-dbb53c517c48/test-file-8789205a-dbfc-df2b-9cba-07422b1dcfd9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "5Q4rdT/Lu1ZRO3UpXoM549e4XyGBIGF3IK3caIfl/caDl/qyyhXjil95CqtOkXX7IV1wxpVN4sWstFWR7lLObD2upcaIhxjB1dXCCBW1KI434EcqdDYxNrU1BRbAUZsMqp5tn+yuc5pFr/C/i9mw9ovGWg0LpPcGfW8RU4EBAIM6tl52SImiiG2s5cVFcarchA6K+feOAAWnZiF9nR8YQ65thdV7Oq4CJNGgX74ywAzENc5zdweMrLVYz+FnJetNk6IX2OzVYUpfh9Ul7aFHdaUVuGhQpcyn4NkfImrNm//mUsscGugf7tSEE+8xZr4UEVk7UWyC/O7VcPcTtT7fkezWP5vVK[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-30b77e1e-5a1b-fa64-d962-dbb53c517c48/test-file-8789205a-dbfc-df2b-9cba-07422b1dcfd9?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EAA0F4941\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-30b77e1e-5a1b-fa64-d962-dbb53c517c48/test-file-8789205a-dbfc-df2b-9cba-07422b1dcfd9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EAA0F4941\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "5mfPvtSz970=",
        "x-ms-creation-time": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "5Q4rdT/Lu1ZRO3UpXoM549e4XyGBIGF3IK3caIfl/caDl/qyyhXjil95CqtOkXX7IV1wxpVN4sWstFWR7lLObD2upcaIhxjB1dXCCBW1KI434EcqdDYxNrU1BRbAUZsMqp5tn+yuc5pFr/C/i9mw9ovGWg0LpPcGfW8RU4EBAIM6tl52SImiiG2s5cVFcarchA6K+feOAAWnZiF9nR8YQ65thdV7Oq4CJNGgX74ywAzENc5zdweMrLVYz+FnJetNk6IX2OzVYUpfh9Ul7aFHdaUVuGhQpcyn4NkfImrNm//mUsscGugf7tSEE+8xZr4UEVk7UWyC/O7VcPcTtT7fkezWP5vVKlq99smUzJLddXoaCxERkkmSY1XdR6rwCzmVpIECWyciP+f/fVui7jBc+Pp9+Kotzv+iQ9tG+OOvzeqQ/igQ2hpS+MwqERTu73UlgU6wchOOaNWCYBdM3EYDT7BxEvAHSx7fKwDeA7zqtFNlIXaU/1rXApZSjnoCBhyFJsJkfd2FHTUw0EcTr2QYl6zD5rvPbk9VmQ9Ztb2j3SXjWd36hTZ14ANBZC8TxFIxOfbOPx9htbdyD+PNK2h4jPMiL1aHHhF1TQW3jgogQdW9KHvG1Z0FgqQmh3ZSqLWayNg88ZX8qRvkWPEaqSasUs4NEALtsbZVHayyYZebIqU="
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-30b77e1e-5a1b-fa64-d962-dbb53c517c48/test-file-8789205a-dbfc-df2b-9cba-07422b1dcfd9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD617EAA0F4941\"",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EAA0F4941\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:00 GMT",
        [...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-30b77e1e-5a1b-fa64-d962-dbb53c517c48?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2130682154",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
