{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2e8ee616-9dd0-2501-f594-1afd268a7c32?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0429E09F\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2e8ee616-9dd0-2501-f594-1afd268a7c32/test-file-81a1363e-261d-0a18-5d8e-e66003ae86d6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A045CA8BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2e8ee616-9dd0-2501-f594-1afd268a7c32/test-file-81a1363e-261d-0a18-5d8e-e66003ae86d6?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "6iqlfMZ42fU=",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "vZuTdMyb/xZRexYaeLOA1szqGP054u3cirXHkgSiEddxZY8Ji1NjSCk5R8lr34x2sSQlFidHhtqtt+kW1GwSr2o+qBMkd0p4h9DU/5skcKsoUODgfPqwKd60W9NpTHO8J5heLDd5UTrZrI9Xc4Y/iEc+7oSMMTJwjn80cBt2DzpcGNcDxkNzrv6mB89qWbZYdNKMKl7vMPVl7Z63ROEfYp1V+lquPMIDyj+F5SpjBTTI3PtI6uTbbejindilvGoch6UyFV5bqTcQiF8eaUrLAudp72jm1ne4eY1yzJ7pXg7VaF6FMPDVbTPDOGGEvAOeF5vwO80BNrAtepvR6dyZJipRSQHrRdH3k4E1I54WM[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2e8ee616-9dd0-2501-f594-1afd268a7c32/test-file-81a1363e-261d-0a18-5d8e-e66003ae86d6?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0474FB14\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2e8ee616-9dd0-2501-f594-1afd268a7c32?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1216632275",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
