{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b9a3870b-e622-d9a1-020b-9ed910ef96b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE4D704F63\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b9a3870b-e622-d9a1-020b-9ed910ef96b8/test-file-bce1862b-3fec-6956-11ec-2eccf32eb635?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE4D7F1E9C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b9a3870b-e622-d9a1-020b-9ed910ef96b8/test-file-bce1862b-3fec-6956-11ec-2eccf32eb635?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "YAX4zlPuJcmPTQivpthx9fzglo+OfBDlSnonN1K0LqtnRmhiFEFrVFuXilqO5NiYTvlHR298auP0EoTYxu132h5cSGBwDuG7dEIz9vG1V2WijuhYbOc769uEbgG9ko1uIK88MZt3KEAYjNItSHTyPrseNjcEHm42IV2F7KDf/uK0xdZBeSXJKmaoQOAUDqJnki9GnlxWaQFBBRA+8jyfOI7weIOdsMWVVQvRXN6NIhK6HllwmV+FXlzVAHMVizgqCQhRI5UfyeJqsElRhQ0js+P9g9PiL54uaxkmyK9RgMrSplLVPP99m1R3BukWNNlPskyQGAdkR9ppIrh7+AEyGC9+ft66T[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b9a3870b-e622-d9a1-020b-9ed910ef96b8/test-file-bce1862b-3fec-6956-11ec-2eccf32eb635?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE4D9872DB\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b9a3870b-e622-d9a1-020b-9ed910ef96b8/test-file-bce1862b-3fec-6956-11ec-2eccf32eb635",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE4D9872DB\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABgBfjOU+4lyY9NCK+m2HH1/OCWj458EOVKeic3UrQuq2dGaGIUQWtUW5eKWo7k2JhO+UdHb3xq4/QShNjG7XfaHlxIYHAO4bt0QjP28bVXZaKO6Fhs5zvr24RuAb2SjW4grzwxm3coQBiM0i1IdPI+ux42NwQebjYhXYXsoN/+4rTF1kF5JckqZqhA4BQOomeSL0aeXFZpAUEFED7yPJ84jvB4g52wxZVVC9Fc3o0iEroeWXCZX4VeXNUAcxWLOCoJCFEjlR/J4mqwSVGFDSOz4/2D0+Ivni5rGSbIr1GAytKmUtU8/32bVHcG6RY02U+yTJAYB2RH2mkiuHv4ATIYL35+3rpNd+OA6H9rKLUYNkDXFWPBaMJtX3hsGUYBolNF7rmXtf[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b9a3870b-e622-d9a1-020b-9ed910ef96b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "818789846",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
