{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ff80eb6e-cc9c-bb2f-58b3-2a12d6ce8a11?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7896F6BB\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ff80eb6e-cc9c-bb2f-58b3-2a12d6ce8a11/test-file-7ea9279a-8c0f-ab8e-91be-08c194c36abf?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA78B6F0F4\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ff80eb6e-cc9c-bb2f-58b3-2a12d6ce8a11/test-file-7ea9279a-8c0f-ab8e-91be-08c194c36abf?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "jnu5XPDZq9poGKDSrdHEkGVRDEsi2A7JaXN8puG3gcBBfc57DvHnLODSSetp3/ducyJllJA9f7Zt8PN9XAT4sZffkC8DSYFzaeBqT48jYIp8DjO/UewwA/4YDR7+as/c2ZhTiU7Haymg8Suv0y8mSo9pAU7QOV+qr4wx6jxjdf8RjXX2z9Y7tKIJHmDBgDDO8cKOlWmADJ84qNnBlYDtPXwrnkW5L3u5LUyrxhv/6S9cY/h51OCWkYHWvib8eR8iHOHkleLrFMFH1Wcc1EWEOb+qZTKIdGiblQ3E43FVvLMsiao5G1RMcE42Mf54ebw7UYRmURPsmah4SP/UJjBQ8hm070qbS[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-ff80eb6e-cc9c-bb2f-58b3-2a12d6ce8a11/test-file-7ea9279a-8c0f-ab8e-91be-08c194c36abf?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA78C6AEA9\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ff80eb6e-cc9c-bb2f-58b3-2a12d6ce8a11/test-file-7ea9279a-8c0f-ab8e-91be-08c194c36abf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA78C6AEA9\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACOe7lc8Nmr2mgYoNKt0cSQZVEMSyLYDslpc3ym4beBwEF9znsO8ecs4NJJ62nf925zImWUkD1/tm3w831cBPixl9+QLwNJgXNp4GpPjyNginwOM79R7DAD/hgNHv5qz9zZmFOJTsdrKaDxK6/TLyZKj2kBTtA5X6qvjDHqPGN1/xGNdfbP1ju0ogkeYMGAMM7xwo6VaYAMnzio2cGVgO09fCueRbkve7ktTKvGG//pL1xj+HnU4JaRgda+Jvx5HyIc4eSV4usUwUfVZxzURYQ5v6plMoh0aJuVDcTjcVW8syyJqjkbVExwTjYx/nh5vDtRhGZRE+yZqHhI/9QmMFDyGbTvSptKHmtd9ONRQmkjHFCIku3uaqBA7wLA0lR3Sh3mP+XEiX[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-ff80eb6e-cc9c-bb2f-58b3-2a12d6ce8a11?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1725899108",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
