{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e0b9ab6b-fefc-7fea-0e14-4f6a2e28210b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6BBA6C1CB\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e0b9ab6b-fefc-7fea-0e14-4f6a2e28210b/test-file-cb40743f-64c7-bdd6-899a-cca2881fe580?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6BBB4A96C\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e0b9ab6b-fefc-7fea-0e14-4f6a2e28210b/test-file-cb40743f-64c7-bdd6-899a-cca2881fe580?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "V+JpwfcYe6GPAvjImR45TabnUHy4G7Z9DAZndFRNPVPSn3RjWKtwADbOdlLWiHV6yygnkUPlDTwr67XwsQdNQcSk9vqp1fT6d1BF6aRkp4OR7agrJqsQ7JI4OGz2f08vgTSNMZJ70PYzLBrznyOXx0QxX8ReIRsZlAlncZ2IBPcAFmhw13XxFRyy+PmRHU1uoHAoxSCL0GAZdJ2IE15Zqygi8om7J/DOP0mnrCghh3e8+dEsXz7XdEUHV2PYaAK9WUzRbirDs3mAWYXX5CQ39+wlzBqNLEzpS31Es9CN9tdG6VPbUBlM+UVYqwW4/5Ag0F92spzoMCwA5yKsfgCo82OukPrRX[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e0b9ab6b-fefc-7fea-0e14-4f6a2e28210b/test-file-cb40743f-64c7-bdd6-899a-cca2881fe580?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6BBC6DB91\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e0b9ab6b-fefc-7fea-0e14-4f6a2e28210b/test-file-cb40743f-64c7-bdd6-899a-cca2881fe580",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6BBC6DB91\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABX4mnB9xh7oY8C+MiZHjlNpudQfLgbtn0MBmd0VE09U9KfdGNYq3AANs52UtaIdXrLKCeRQ+UNPCvrtfCxB01BxKT2+qnV9Pp3UEXppGSng5HtqCsmqxDskjg4bPZ/Ty+BNI0xknvQ9jMsGvOfI5fHRDFfxF4hGxmUCWdxnYgE9wAWaHDXdfEVHLL4+ZEdTW6gcCjFIIvQYBl0nYgTXlmrKCLyibsn8M4/SaesKCGHd7z50SxfPtd0RQdXY9hoAr1ZTNFuKsOzeYBZhdfkJDf37CXMGo0sTOlLfUSz0I3210bpU9tQGUz5RVirBbj/kCDQX3aynOgwLADnIqx+AKjzY66Q+tFcp9LY09U1gEYxTO0j43AWQzteuCbaaPagekSvuKIJb5[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e0b9ab6b-fefc-7fea-0e14-4f6a2e28210b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:00:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "565917364",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
