{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b0c022b5-3149-7ba7-2aa4-7d6fcd155bf9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE5BA6512D\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b0c022b5-3149-7ba7-2aa4-7d6fcd155bf9/test-file-89ecf9e9-ef62-1cd7-db66-6f19f63102ab?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE5BB58545\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b0c022b5-3149-7ba7-2aa4-7d6fcd155bf9/test-file-89ecf9e9-ef62-1cd7-db66-6f19f63102ab?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:55 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABmb9RQKa5FgnoITA0bNx6zeR6yszDqF/M4d+WkS5+eaj4JCe2i2zUP1GL12d4pc276Mo/6Rkrce1fgF7HIoTbbauLOEi0wEZ7oot7O9D4VDwR3qRkQoyPzLY2VwcODRzMrGm78WmBByiDxEaRrDocZywitUPcdy8a+2+Wfmk/aZFurotrPGLWjNt/4HpJ/hx8GfPa61vY7DU6nPX57oS/QFqxJwGusSbJTCRoYJaw0PlPFmB5ZII5lb5WLKNo2J5SwJwjlNse0WjJEZ8zbI+iic/8rtQkQd/Ye5FHVISHXHeKGaP2kTwiMET7sFLnCiUus6bTbC3GKn7ASx1J13jkQbErqVLvq/ST2nqTLJGI9XFoFKTds+xJw+8hNkoe2FjMF3Kdu1zSPweuQ5WzNv3tN1Gv3b7UBo3E4eVnznWucP4dwxUi7zoQmdmdL2xalojtNAL0cvqd+Azg2Nl3bnCSA9KXkXPoykgbn0flNtcdbktcepZ2tf4Hg8sEPhJcmS9pDy+dwwEZBGm23Ne2tME5x26SGvfaG03QkA2k4Iw1vwIYfCurg6tGQ3Iov9kqTM8Jznqnzn43jvPdyTL3cCPdgR3RmjiZkkPHS9eBrV90qkNCnxYVkfCD4PE7ybZ0UtNSTz67VLKSbDw23IKmtd2QaSLvsNENy+8tUblLXcSJTvsvM8DsP9nXjy8zwOw/2deM=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b0c022b5-3149-7ba7-2aa4-7d6fcd155bf9/test-file-89ecf9e9-ef62-1cd7-db66-6f19f63102ab?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE5BE9DB73\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:56 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b0c022b5-3149-7ba7-2aa4-7d6fcd155bf9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1290232577",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
