{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-24f204be-a1d4-7dce-d345-82896cf23435?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC3F7E6E1\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-24f204be-a1d4-7dce-d345-82896cf23435/test-file-3ee4d724-7ba4-46c9-0133-7a69147010f2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC43A64B0\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-24f204be-a1d4-7dce-d345-82896cf23435/test-file-3ee4d724-7ba4-46c9-0133-7a69147010f2?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "25z+GEeRqah/KLh8lM4yfBMRfrgEW09sKV8HNpybXaLtjySuWBgpeQtFWbxrVFD4zv3WW0qxeYBNku7oiXIM5MsVjwSqhCP66ASsvgKSANUODmeexAFYOxWkYcUqQe+YOHXxVsVLTknZ23JGBLp9upIZ2XsLbR/JvVPvBiNe0KcVFIWMoKoQw8AdxemOEjZaJqYzEGh0jctVKJhxXEgmegvLMPA08RnnCRW67ag2OqsclN99Kr8/oIe6N3gRnmd490rdw+FGJTWNSwdSuaAjH+3tVcdoqVBLjJBperqg1mquQvVdWHfK1m6q79+37ObmlxeLJEmfEE76kjdQ3at77HSdo3eqx[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-24f204be-a1d4-7dce-d345-82896cf23435/test-file-3ee4d724-7ba4-46c9-0133-7a69147010f2?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DC44DD7ED\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-24f204be-a1d4-7dce-d345-82896cf23435/test-file-3ee4d724-7ba4-46c9-0133-7a69147010f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DC44DD7ED\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADbnP4YR5GpqH8ouHyUzjJ8ExF+uARbT2wpXwc2nJtdou2PJK5YGCl5C0VZvGtUUPjO/dZbSrF5gE2S7uiJcgzkyxWPBKqEI/roBKy+ApIA1Q4OZ57EAVg7FaRhxSpB75g4dfFWxUtOSdnbckYEun26khnZewttH8m9U+8GI17QpxUUhYygqhDDwB3F6Y4SNlompjMQaHSNy1UomHFcSCZ6C8sw8DTxGecJFbrtqDY6qxyU330qvz+gh7o3eBGeZ3j3St3D4UYlNY1LB1K5oCMf7e1Vx2ipUEuMkGl6uqDWaq5C9V1Yd8rWbqrv37fs5uaXF4skSZ8QTvqSN1Ddq3vsdJ2jd6rFxnUiflm9uXCTn6qC4qIUsiEPMqZixkB6+cIvA2oaSG880lEWAcpGUpWK/pimWsnZ18J7lEQEYgA0qIWWjbYGeFY6RhBQ/rBWyN8R2Meo0575Viunn7QqN29R4VlEr8Xeg4ZBaxS4iNkSJMxk8oo5jNTnnDaLXtmiEA6h/x1XEhgaMlRBZmiJQc5RlXrnxUXkGFSEXROOUyWsn1oGF4m8uxKzSsA1+CZsXVtoOclfukrJvOfI0rQFjN4vlMYNgylFldpnNHuErx8uF/+3JRpbTeUQPVqh8+hdrb3hBWNfXtoxI6Tv94XORA3Hmbq1TmfE00bg/UbPo6HxCgXus6nLaP5LBe6zqcto/ks="
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-24f204be-a1d4-7dce-d345-82896cf23435/test-file-3ee4d724-7ba4-46c9-0133-7a69147010f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8E7DC44DD7ED\"",
        "x-ms-date": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7DC44DD7ED\"",
        "Last-Modified": "Thu, 08 May 2025 22:14:57 G[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-24f204be-a1d4-7dce-d345-82896cf23435?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:14:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1305883505",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
