{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-647bb394-886e-d505-8ae2-abb2a13ee87e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679FA1BB616\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-647bb394-886e-d505-8ae2-abb2a13ee87e/test-file-dd8490a2-a522-b0fc-ff01-ffd5c903b098?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679FA48EBA8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-647bb394-886e-d505-8ae2-abb2a13ee87e/test-file-dd8490a2-a522-b0fc-ff01-ffd5c903b098?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ObBvSBEqQmMEd/n2ld+/g7TaiMIs6JQQ+POk2OGp6p+xeuxlluW//52u/HOVAdCB2ctRP0IES1EbX08dhmmBWoxaRRrzWezOGokkfewhevciIv8WV6tdrC6aSTaWongzLKHmOru1jX/egiW4385l+uRY+mRpawPh/ZjrWBC1OHgR8FBKOkA7bJSAONWFpM1gNE9SPacUysGeBT0jyjVvKEmsp+59G7+kHI3P6DItW1jLiyPAY/rR/SaPrDUDGKJfERCL2f3e4hmQrSEZReGOcKnkWD8RrsRO26rI7m6JoQTrb9ciooJb7KgKL7bZuLdEADuMHr9jTmJLPP1TFvSrBwwcLdUKbM4miGyXB34OdSPyg+4y/IJEhyB012WFCNWzXiiqvYriOpNtZZVTzEfjPMfaYJMFeAqJ2KW1lZRpoYCW46hWZLeZEEhaxZft8LvZkZqdq6dCruYeIOXkLaX+A8QVvemfjdgPQVBKqrJznOfq2wT6y/bYVDTBN0PStOOiW8HS1zPSOgPCjWlX9wM0q4T9+lGhBDjNPWi03VWUPIxtp0/woMSzF6AAOD2MgFwxjIy+1bqRAVeJBZrKHlytLVDd6k+0RArASeKwoMz6QLwLg1DI1WfS26b3Zpsp6PlDUgvsr5YNfUiC/ovX4WGLjsTev5sM5FfpCw+pvN1vlmA=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-647bb394-886e-d505-8ae2-abb2a13ee87e/test-file-dd8490a2-a522-b0fc-ff01-ffd5c903b098?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679FA72F7AC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-647bb394-886e-d505-8ae2-abb2a13ee87e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1687107953",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
