{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b5bd9126-33d0-c4db-b602-e26b4c98d51d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0473EC20AC\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b5bd9126-33d0-c4db-b602-e26b4c98d51d/test-file-3206ccae-e3e0-b358-bac2-4d966c9f818a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0473FB6A82\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b5bd9126-33d0-c4db-b602-e26b4c98d51d/test-file-3206ccae-e3e0-b358-bac2-4d966c9f818a?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "w3oKLrKgf889Wknzum4aIfw1ImYKOCucRaK81FbvZ3ULoKkvitf5qGW+X5dBtjeA295nxdRqzotObekQ5Kt5TfPT5xrE6pclPHoBTNmUWo5rPPh4iKKhodEe4Rzu6cS5RBGjbs4cu/BGQolaaIGxuRJapKeyAcVQMUVIpgl7N1K1RwfI8OzAToEHMUUYRzlPbCcJk0QcBkNLUjyI1BTnyws3pCF56cgmmlYlq89/OOkM+DnhcaMNmEDDfJ2vN3psH2Y64aMX1YNe4/nu91t0zBpTfNvbBllnKQvgtmwrdmLbuYtpRVZG9SK2g46qHqHlT7CDXLufkRkM0reYNx8WM2yWEz3QC[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b5bd9126-33d0-c4db-b602-e26b4c98d51d/test-file-3206ccae-e3e0-b358-bac2-4d966c9f818a?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04741533B9\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b5bd9126-33d0-c4db-b602-e26b4c98d51d/test-file-3206ccae-e3e0-b358-bac2-4d966c9f818a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04741533B9\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADDegousqB/zz1aSfO6bhoh/DUiZgo4K5xForzUVu9ndQugqS+K1/moZb5fl0G2N4Db3mfF1GrOi05t6RDkq3lN89PnGsTqlyU8egFM2ZRajms8+HiIoqGh0R7hHO7pxLlEEaNuzhy78EZCiVpogbG5Elqkp7IBxVAxRUimCXs3UrVHB8jw7MBOgQcxRRhHOU9sJwmTRBwGQ0tSPIjUFOfLCzekIXnpyCaaViWrz3846Qz4OeFxow2YQMN8na83emwfZjrhoxfVg17j+e73W3TMGlN829sGWWcpC+C2bCt2Ytu5i2lFVkb1IraDjqoeoeVPsINcu5+RGQzSt5g3HxYzbJYTPdAKhsQNh7glg8u9C2n7ZrynGaY7KHFdcp6tvQKfTyETC2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b5bd9126-33d0-c4db-b602-e26b4c98d51d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1835721092",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
