{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-47149590-10cc-7043-cbbb-b987b321c283?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE2C2BED0\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-47149590-10cc-7043-cbbb-b987b321c283/test-file-58a82ed4-5251-c1ae-3d6e-48acdbf7f9eb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE2D24EE9\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-47149590-10cc-7043-cbbb-b987b321c283/test-file-58a82ed4-5251-c1ae-3d6e-48acdbf7f9eb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "sZYUIMEuQLg4H6ezAkY2PUis7WPjjR10GAi1SiBtggBMokyjeVFMaxCF/Efq4S6wIXmmxrFqhyN5oAi4efaYy52nZ2D5ksP2YIJTXZHViTfaBCimxrtP4RsoKtlJk/EZ7TGqQ3nOto\u002B2sGYuFymSoxbR3nTN8QThV4VE0GjprcyQOXBfK0W9C02Z8BZUIMrylofCeLV9TPwsyOv0iuYnzAKant24MnfRE9ImMwDtjDe6UjrgJzUWEu10M2JZyYFnciQTuoLtOWMP8WTiVxj7Pzu0OTesRqXNg4vwRP8Ud0pRvsHc2dK1zRnW0TbQNLvVePMnpZBJuyx/Rjf2/PRk\u00[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-47149590-10cc-7043-cbbb-b987b321c283/test-file-58a82ed4-5251-c1ae-3d6e-48acdbf7f9eb?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE2EE8975\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-47149590-10cc-7043-cbbb-b987b321c283/test-file-58a82ed4-5251-c1ae-3d6e-48acdbf7f9eb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE2EE8975\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "SOo\u002BylHf2xA=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "sZYUIMEuQLg4H6ezAkY2PUis7WPjjR10GAi1SiBtggBMokyjeVFMaxCF/Efq4S6wIXmmxrFqhyN5oAi4efaYy52nZ2D5ksP2YIJTXZHViTfaBCimxrtP4RsoKtlJk/EZ7TGqQ3nOto\u002B2sGYuFymSoxbR3nTN8QThV4VE0GjprcyQOXBfK0W9C02Z8BZUIMrylofCeLV9TPwsyOv0iuYnzAKant24MnfRE9ImMwDtjDe6UjrgJzUWEu10M2JZyYFnciQTuoLtOWMP8WTiVxj7Pzu0OTesRqXNg4vwRP8Ud0pRvsHc2dK1zRnW0TbQNLvVePMnpZBJuyx/Rjf2/PRk\u002BnkakZhWH2Vp/2se1nRv/U/PG8sL7dK5BwOVXJObvtAkcda8tqIiflmOvaYkKuW3EEnnJ\u002BEpWA2nYImVwcLSzkCa\u002BmSeskesrJ1yfTAsldwe3UxKs5fv\u002BxjJFVUYjbyWvO5liTCBGF4CO3pDttvce8qtd\u002BR2hxupq/9L1ZzxlB/g28BBxgysncTuSHgdq0Q97JqKaxbYHzTSvN4xNUPBEKZaYtoamrS\u002BANofiD\u002BjjP\u002B6DugCZigJCLyMbgouemeBLTfRwkhpIlHmzGo7uJf1Ly/fdidavqp9UVoejiuqkIZynVsH0sm2UeyXHJm\u002BzVAklj/aTwNAJ26NU3HuSpMlOzw="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-47149590-10cc-7043-cbbb-b987b321c283/test-file-58a82ed4-5251-c1ae-3d6e-48acdbf7f9eb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482DE2EE8975\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE2EE8975\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:4[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-47149590-10cc-7043-cbbb-b987b321c283?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "566682034",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
