{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e9932f6c-c33b-081a-5044-53b9372788df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F3B88094\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e9932f6c-c33b-081a-5044-53b9372788df/test-file-e6c49218-f624-5001-3a22-98b286e277da?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F3E33D5C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e9932f6c-c33b-081a-5044-53b9372788df/test-file-e6c49218-f624-5001-3a22-98b286e277da?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "LYWDzY2Yo5j3gLFbjOA+j5GdIoF5y7vfpb+tcZy8qhAxhA1EPeQo/xIVxaSOrjy6rqjpywQtOGLJoyjN6jH7O9WgKgjT+lGsdCNuYwUWUPeD8sP0094LBEurepm8WxThGYrP7oQz57NWPFfhv9VcslMxSvhuB2f2lSa9KH+48BkPjUl6R2JzUAoPnZaHKkV1TsdGixEcchIi2Fledb80nkw+0jKL4WvwvfntX2rRbmrhSNm3cmUH8ho3V28JFdpK2/9JSVgS6mxcVc0XLhOnUGnufS3lfCznNt8XU4n756gfooNriCUSzl1tWhyX8MQHjwcFG5itZV7SYhJ4+5biYW0k+IuPP[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e9932f6c-c33b-081a-5044-53b9372788df/test-file-e6c49218-f624-5001-3a22-98b286e277da?action=flush&position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F3FD338C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e9932f6c-c33b-081a-5044-53b9372788df/test-file-e6c49218-f624-5001-3a22-98b286e277da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:30 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "uhvyKAvWzgyZ2D61chATBg==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679F3FD338C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:32 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:42:32 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "LYWDzY2Yo5j3gLFbjOA+j5GdIoF5y7vfpb+tcZy8qhAxhA1EPeQo/xIVxaSOrjy6rqjpywQtOGLJoyjN6jH7O9WgKgjT+lGsdCNuYwUWUPeD8sP0094LBEurepm8WxThGYrP7oQz57NWPFfhv9VcslMxSvhuB2f2lSa9KH+48BkPjUl6R2JzUAoPnZaHKkV1TsdGixEcchIi2Fledb80nkw+0jKL4WvwvfntX2rRbmrhSNm3cmUH8ho3V28JFdpK2/9JSVgS6mxcVc0XLhOnUGnufS3lfCznNt8XU4n756gfooNriCUSzl1tWhyX8MQHjwcFG5itZV7SYhJ4+5biYW0k+IuPPMhD3K7PeCEPT0UaEMSC9cwQcT0lmCYTmdLGivmucvg5d1M+wj7p3ew9wxLMXurSX2uhFIZNaqSiMELbCO4nYN1N4ZhwRDONJ5RR6NQTRjvo9CqODV5y6wyum5H8DdT9FWM1f3xSYRs3FO3x+4LPj+oG8xTDmVJ/2/WLwqihkRm/U9Jw3se+lpIPV/hwgO+K3gyn9RnAOnwQtqOGxp9ylYPTMqivX7AiSF2CtEFaDlsGAeOb+psA/xlWYCgjOM/znMF1nE1H2n9chK27PYU6tqdIgMS715vn0zKOWf+I/w+NjhiA5HINvidkP3XuRMGUG6mB2rcLN8Umjcg="
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e9932f6c-c33b-081a-5044-53b9372788df/test-file-e6c49218-f624-5001-3a22-98b286e277da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679F3FD338C\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:30 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "1KzRVLO2SXrW53XT/PSYFw==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679F3FD338C\"",
        "Last-Mod[...]
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e9932f6c-c33b-081a-5044-53b9372788df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "820589695",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
