{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-96d881dc-a5a5-d625-1725-c2a8aaf6e86a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE52399805\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-96d881dc-a5a5-d625-1725-c2a8aaf6e86a/test-file-63ddd500-978c-6c5a-a221-bf665183ebc9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE52483A9E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-96d881dc-a5a5-d625-1725-c2a8aaf6e86a/test-file-63ddd500-978c-6c5a-a221-bf665183ebc9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HfvKFxSQISNCpGSZiik9w9z3EaFcQtQNebsQtCvuIzCubt6diTG1Beh1Y/GrVuMMD8p0GPC7UNsnvZ5ZgG34VIAz6xxLoDmqQQu55t/jYiPYBKRgeQo/8h4DdcyTXIV7fQ9wd2vGwG6QytflAmn7RFp6gXvImNp28/j+SCpsFuSFPWnPcuq3EUM1z68zWu+0BzFxGNsKsuQ0+oNzyHhEJLPyX8T/K9FwwnA3ksgrQpkISUD4+/0Je4uEm3hmREjK8av7QfsqtdtfAVZr0iAcCbfqa343Sym26OM5epBZCX4nbaAcMACd3ZRlmfmnnqlqZ5HAfNnKkqWCRFgX8TpKBvjXRGV/A[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-96d881dc-a5a5-d625-1725-c2a8aaf6e86a/test-file-63ddd500-978c-6c5a-a221-bf665183ebc9?action=flush&position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE52629FFE\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-96d881dc-a5a5-d625-1725-c2a8aaf6e86a/test-file-63ddd500-978c-6c5a-a221-bf665183ebc9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE52629FFE\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAd+8oXFJAhI0KkZJmKKT3D3PcRoVxC1A15uxC0K+4jMK5u3p2JMbUF6HVj8atW4wwPynQY8LtQ2ye9nlmAbfhUgDPrHEugOapBC7nm3+NiI9gEpGB5Cj/yHgN1zJNchXt9D3B3a8bAbpDK1+UCaftEWnqBe8iY2nbz+P5IKmwW5IU9ac9y6rcRQzXPrzNa77QHMXEY2wqy5DT6g3PIeEQks/JfxP8r0XDCcDeSyCtCmQhJQPj7/Ql7i4SbeGZESMrxq/tB+yq1218BVmvSIBwJt+prfjdLKbbo4zl6kFkJfidtoBwwAJ3dlGWZ+aeeqWpnkcB82cqSpYJEWBfxOkoG+NdEZX8A2LdMjerSsi8OSjrPEv6YjKVd2vuZ66iG7FkakgHQWUTqZ7gJMEvfwPNTNg7dISdLbWsy5ouEZu0PxqGQuB8tPvD15KtGj1xZfRkHRrWaqMoxziSWnXK5ZQDL+mmpTgjTJfcd5z18Bd4O2GlxfCA4dB3XXun7lqF9PH6qepXysC8RNCC9fMCMtchGiMQJSOngk4VM0e8e2I5Wn6u+0otIGyg6X0j/evhcSqkhtA7cdPSVyecQpt4/81yRZ90VzuM9/Wycz+ig4BmN74ZG/SN/eiu3KQijOHRK+mzrbhIaR3zG47aiQKQM9OnOgrdX+fY4Ee2yXaXamcT3USoO30dg1wZuKg7fR2DXBm4="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-96d881dc-a5a5-d625-1725-c2a8aaf6e86a/test-file-63ddd500-978c-6c5a-a221-bf665183ebc9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE52629FFE\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE52629FFE\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:40 G[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-96d881dc-a5a5-d625-1725-c2a8aaf6e86a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1465048218",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
