{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-d596b445-b21b-9e40-9ec8-7d1a00e34872?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC1A0A9F6\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-d596b445-b21b-9e40-9ec8-7d1a00e34872/test-file-5625ced1-6819-1748-beb5-589cc77fc62d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC1AA7AC8\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-d596b445-b21b-9e40-9ec8-7d1a00e34872/test-file-5625ced1-6819-1748-beb5-589cc77fc62d?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "u7BrIa3ma7THrHIdUYMgIr+eczSdU+RUNuBiLTB+Dhvq2gLOEOgwwGCRLeGjDBQrGz6uPdPf6GfLF+rNgz6ESJ1WMnaAUhHXbrLTDCYDsSnLNxLx0NFHCvGaAvn9Yz0iDeRDTNqdqskt1s8hC9xByGXAAUwrknjMDyeF5U8X2Qp1sf5Bv2RPLYxJw/kCJv4UWTmTPWHw9ntsdz2yGMV5FfzEq1re/wkBcNO/4s5+yugocIwWg5yphLqD1UcmnBTHz678PXqkNlkwksyNMROs7axUiag4Y5FgGyefWyrB29S/9xIggYxuhDky5fHPG1Om1uia0RNsjmwdnCJTBNsvbrb4zjkBj[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-d596b445-b21b-9e40-9ec8-7d1a00e34872/test-file-5625ced1-6819-1748-beb5-589cc77fc62d?action=flush&position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC1B73CC5\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:40 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-d596b445-b21b-9e40-9ec8-7d1a00e34872/test-file-5625ced1-6819-1748-beb5-589cc77fc62d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:40 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EC1B73CC5\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:40 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Nd7SsQS7n6c=",
        "x-ms-creation-time": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Wed, 12 Mar 2025 15:58:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "u7BrIa3ma7THrHIdUYMgIr+eczSdU+RUNuBiLTB+Dhvq2gLOEOgwwGCRLeGjDBQrGz6uPdPf6GfLF+rNgz6ESJ1WMnaAUhHXbrLTDCYDsSnLNxLx0NFHCvGaAvn9Yz0iDeRDTNqdqskt1s8hC9xByGXAAUwrknjMDyeF5U8X2Qp1sf5Bv2RPLYxJw/kCJv4UWTmTPWHw9ntsdz2yGMV5FfzEq1re/wkBcNO/4s5+yugocIwWg5yphLqD1UcmnBTHz678PXqkNlkwksyNMROs7axUiag4Y5FgGyefWyrB29S/9xIggYxuhDky5fHPG1Om1uia0RNsjmwdnCJTBNsvbrb4zjkBjGsg5gVuBn2fkP/U+IRCJgnBUmmlA+VpGn9eAnc610wZpUp8eusN/YfvfQsifwxX7UitN3vQW4iGtsuFEAQGZLmzulI5xawes1XhtoXZRptzBhQvjZ/QSErC9sMfiOyD6RhSb8S5HSecj4Qm76UDrHAwEQnv19cZ43IId8/o/yppXcxthtfWuuntkv4bqlilv0lT7nbikxJBOYxSsKZYs5BZvJHYlSaZWVcgAkTZ/jgZY7iFlRCzhsm6K01KhAlCld9twe3HzCkjuZQfwZHOZztTOE3u0h5/pjbHHWnYTtVN3W1kazxLUpaPYtt7lMQ47MQS90u8VMLA7hs="
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-d596b445-b21b-9e40-9ec8-7d1a00e34872/test-file-5625ced1-6819-1748-beb5-589cc77fc62d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD617EC1B73CC5\"",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:40 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EC1B73CC5\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:40 GMT",
        [...]
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-d596b445-b21b-9e40-9ec8-7d1a00e34872?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1622362877",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
