{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0c9101b3-d8bf-64d4-7b11-57a3dd314ef0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E367D100F\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0c9101b3-d8bf-64d4-7b11-57a3dd314ef0/test-file-6c0baeb3-b32e-2685-afb4-9544c60da99d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E368C7957\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0c9101b3-d8bf-64d4-7b11-57a3dd314ef0/test-file-6c0baeb3-b32e-2685-afb4-9544c60da99d?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "BY8ULbEEQWc/rNQX6JWW\u002BMhr9YKLpsduWm5CaA8QGpExgzk\u002Bbhs7qRk\u002BaHyjNp4x1kPpXrDz4V7HpdJCwdhXL5FD5WVcWIqsMEtoTT5LyyTQEZLLJ7zhPqHad8hI\u002BOhB5jnqYFA51X65PC5kipQgfNmucrBGjAjVYafDgeHBZDdjJ2YEYGvTlzwTEeqNfLMNufrvmoY4\u002B1oxFf6pdVOd99j3AWMtGxtt2tpzMnodR\u002BXztcjm0sqwKisL00ptKSHpdRkSlntP353egb\u002BrxMjgE80Ztb\u002BKtyUNRtY4IkjQALG5ir1gCrFpp[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0c9101b3-d8bf-64d4-7b11-57a3dd314ef0/test-file-6c0baeb3-b32e-2685-afb4-9544c60da99d?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E36A8B3E6\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0c9101b3-d8bf-64d4-7b11-57a3dd314ef0/test-file-6c0baeb3-b32e-2685-afb4-9544c60da99d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:09 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E36A8B3E6\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "6W0iDsUO1lU=",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:04:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "BY8ULbEEQWc/rNQX6JWW\u002BMhr9YKLpsduWm5CaA8QGpExgzk\u002Bbhs7qRk\u002BaHyjNp4x1kPpXrDz4V7HpdJCwdhXL5FD5WVcWIqsMEtoTT5LyyTQEZLLJ7zhPqHad8hI\u002BOhB5jnqYFA51X65PC5kipQgfNmucrBGjAjVYafDgeHBZDdjJ2YEYGvTlzwTEeqNfLMNufrvmoY4\u002B1oxFf6pdVOd99j3AWMtGxtt2tpzMnodR\u002BXztcjm0sqwKisL00ptKSHpdRkSlntP353egb\u002BrxMjgE80Ztb\u002BKtyUNRtY4IkjQALG5ir1gCrFppNYqB1ALBWZjK8B9VHRhXr70BE\u002BlF71VDYAO8jkLfwgbrxHpYLDUAkFv1PaHU6s9Vyz/bAZiw40Y1PnP/RIsV6u3YaRieP0NHwIONULHzrrV0ZoMDBMCueyD0Iu3BQUuQnxKz/EH2t8v8U0DU41KUQY\u002B\u002Bit3IEuYtai436dxVhr93/PFfP7Izfe73RvG/2VeOH\u002BFeArZtyIxshpJTvo4vZoyBnSahdUHdi00vEIw0bZCWaYo694QIyjQlMrkfn/8gh\u002BAk/jxxLOqfQLdpPrgAeBjB/RUENG8IuJLyvEKI/euODkjrz69UJXzfm7bM38u8JLpgXeKqHJNxHAWpfrBn1oKLmzAvVGiprdfYJFj4O9jHdleIaKAJJA="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0c9101b3-d8bf-64d4-7b11-57a3dd314ef0/test-file-6c0baeb3-b32e-2685-afb4-9544c60da99d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482E36A8B3E6\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:09 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E36A8B3E6\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:1[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0c9101b3-d8bf-64d4-7b11-57a3dd314ef0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1306222080",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
