{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f552f146-af30-dab0-ea17-9a59b2060e6a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE5531C9FF\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f552f146-af30-dab0-ea17-9a59b2060e6a/test-file-732d5c42-aa9f-0b72-1a05-466f50134daa?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE55401AB1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f552f146-af30-dab0-ea17-9a59b2060e6a/test-file-732d5c42-aa9f-0b72-1a05-466f50134daa?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:45 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAVMiw3R5l4bnD6dOo9MUGjL3GF1DrKcPZsVbf1H7u1uo48aWcasOE6ZV7S//UUdBPOFpUwQeL6SsI2yvHhg061RbpbAMfZiH+PSm/b+HAAWOCkJggmhHisQh+k5ObwWOEPHbo7uHRL9I0WofZyH1JSNXEQPVxGjsFBr76oNKSYn/KOy9q1xaBsWTF7EOKCOSLNUq503xuEyY74+Qi2or/pfQIE5FR3nHDQpOMqyn7ev3ab2+L1I7/WCQFMvMuYtrZykpLgfVTOVbU9ozs3Wf8QGjqRGsfd81lDLdtSK9+lOO4tuDjr/kEizYUst3+En68CO6KRBpzvlJ44nU95fCrVmGpMCqDGJBz4b0xBsDvZvo4rT+89FDJSPSSZsmHxqVFaVh8UN5UPPBaGmJZPreNjX97BTSw7mIQ4+sx8LHK6B8b751kcxYb5HBPYtnubApBANlOCMFslH76b3D3Ikg+ky5HQVMaKRplXxzEYYuIInPc8PPUeONZq1sebgehJMIkEM+rpy67Jtu+5KmkqDL3ckkBFjFYZhpO6Zn7/7sWxDpanFC73H9FJcoYGZA1tQMoKv++oBKQz6q1XLmQwyscqCBzSgveO5XNu+xrQEyKGTSa09C7WCQnydCqBn/BsGae+21zwm73Se9p8OQiJYteL0eE+e9WYU/4T3w3MDUWCAvs3saoB6VQK+zexqgHpVAo=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-f552f146-af30-dab0-ea17-9a59b2060e6a/test-file-732d5c42-aa9f-0b72-1a05-466f50134daa?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE55761E9E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:17:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-f552f146-af30-dab0-ea17-9a59b2060e6a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:17:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "631363263",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
