{
  "Entries": [
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-46a1b640-5842-cbf7-064b-db259ed002f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D69752A0B3\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-46a1b640-5842-cbf7-064b-db259ed002f7/test-file-aa342a4d-4791-515f-89d7-d414806d6099?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D697616AC8\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-46a1b640-5842-cbf7-064b-db259ed002f7/test-file-aa342a4d-4791-515f-89d7-d414806d6099?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "DNNKA6HI9pZMkPiCAVlVB4i9/6fSoJw+8bK16tbG/XFVsJKis798XQFoFcovEDzG+csaVtzD1Gw2DBLuEwu/hZKHLFHGslTJQaKlaorSDuB17vEKq6eUktsmbKesjUn1qJA4p+Tq/0Z3URU6HWriZP0xeSQatNrr85p1oEasHLNYsMH6mmb8i++qklmSWXRxRAepexQk2vS1TLRJdV4AyzVh4m2p58qXNO41cCGAWJkmBFw+A6CeM9XMRE2xsxWQqsckMHcGyFw9EkYm72rTNPQaI3ACwceUw66X3KN85YHYpMVZXCgiHzwAAfBaeERr+RBZl4+ljej/j23Ibuu4wC3FTkqke[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-46a1b640-5842-cbf7-064b-db259ed002f7/test-file-aa342a4d-4791-515f-89d7-d414806d6099?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6976F6429\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-46a1b640-5842-cbf7-064b-db259ed002f7/test-file-aa342a4d-4791-515f-89d7-d414806d6099",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D6976F6429\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAM00oDocj2lkyQ+IIBWVUHiL3/p9KgnD7xsrXq1sb9cVWwkqKzv3xdAWgVyi8QPMb5yxpW3MPUbDYMEu4TC7+FkocsUcayVMlBoqVqitIO4HXu8Qqrp5SS2yZsp6yNSfWokDin5Or/RndRFTodauJk/TF5JBq02uvzmnWgRqwcs1iwwfqaZvyL76qSWZJZdHFEB6l7FCTa9LVMtEl1XgDLNWHibannypc07jVwIYBYmSYEXD4DoJ4z1cxETbGzFZCqxyQwdwbIXD0SRibvatM09BojcALBx5TDrpfco3zlgdikxVlcKCIfPAAB8Fp4RGv5EFmXj6WN6P+Pbchu67jALcVOSqR518v4BDQCwNY6S2os4pMjTvIyF9xZzbtasFBHQMOVKf[...]
    {
      "RequestUri": "https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-46a1b640-5842-cbf7-064b-db259ed002f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1295474941",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhx3xscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://hx3xscnbnz10pe20ix.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://hx3xscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://hx3xscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://hx3xscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://hx3xscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hx3xscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=hx3xscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
