{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-af9be894-ed0d-f740-935a-d5915ce4284f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EB038E100\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-af9be894-ed0d-f740-935a-d5915ce4284f/test-file-8f52ed26-0185-b5ca-86d0-c5c84b34bb66?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EB04427BC\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-af9be894-ed0d-f740-935a-d5915ce4284f/test-file-8f52ed26-0185-b5ca-86d0-c5c84b34bb66?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "PBksQkLsBT8=",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "mGK3Vk+wV2rS5vbIXQEpos1HQ3s3vPC/I2GVfC2wEMFGvKZrOTY9nYpCmXiwQE32jFqXXLODnNtx+DPuGto8ItY1gqBavWiWCqbx9SJ4D+ITn/DSGLQOwyDK+UEDT4KvBXeier2tnM7yAFEMkae4+ehQ2nvpaQkiJ7+Aj8Qmk7sjQe+r1ZUlZgIi4BdiATF4Ev9ZsnQHxZttgFP+LA0Ky22W6VC4DSNTK3N4x4jxvyaOCH3EzeBGHHtTPVVBJjr1FxWqyxjhwATbBYcBjv4SfMAtcCSQRv2MUM3UZM/OEQQ5g69zRvQNrUd46MdZRY19QMGVFLYVZdEXHntKDFw1DfSDxwtOnzXMH8LcF141M[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-af9be894-ed0d-f740-935a-d5915ce4284f/test-file-8f52ed26-0185-b5ca-86d0-c5c84b34bb66?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EB056A645\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-af9be894-ed0d-f740-935a-d5915ce4284f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1892181201",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
