{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-3e616128-96ea-9cb4-cac8-be18ab696eeb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7C292856\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-3e616128-96ea-9cb4-cac8-be18ab696eeb/test-file-8fa4e61c-c5d7-0d76-1f43-4d2e0c2720b4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7C43C3E4\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-3e616128-96ea-9cb4-cac8-be18ab696eeb/test-file-8fa4e61c-c5d7-0d76-1f43-4d2e0c2720b4?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:35 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAAmuFrPRg8v/mH8UHsU+229guqCklKkdP5fskWea7dBO1BYBUyZnVVZGEp0l97q+LXOcLwnrIftQgOcb5OJkVLqexUq/PYhJCWVKXoIb9zftPmPz/r7WU6IqoMJPW2Bj4b3ShyJwDv/7UyWUkMNpRJmvLqZ+cGYLuGGYhIy2Ca305mzEOWAVfT9z+JuJMcLusWw4kCzJ9XFH1t6w13pjNVl3r7pmlQspmbF3CnfKgoauucMgfWmBOvD7jGKRVJW1AMNCAZIIeBxRHvZrQur5fVRIEi2nQrfv9mTJexioiEUbsfm0iHDkpjG2325jFegF8g8eSUJ4Hc4LUgstPw0DuIaxT5DhRPTTU2vr8GNZjNCMw3kJik8Co6Q7qSZlx2c0oxbnsdZXFK0aSuXWnB1asdU6oHuD+i43vqvstZvObZwEt01cYdsKJa7L/09ZPBeG0PdROybroLjor/Mqal8BS+1ZwdTADkAKMHrct/ru7oKUVeSkfSJ1KRaEY7HX37tfyqNR/2oytsK3VvqsHujOCcFwhhRqbN665KjOS6qeIlDPfP1HjO8YYa8h7RY3yQotxlnwZ1mm5V3UpxqxZHsYGSSp7JHrdnzSWCR1SH+4gxuekHVQrcsHGJevcuXUZw0kCdPxjexoQl/tHg81MZzeHBP/EsQFx3tZksP6S/OXDfEVjqOOjnj8yeWOo46OePzJ4=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-3e616128-96ea-9cb4-cac8-be18ab696eeb/test-file-8fa4e61c-c5d7-0d76-1f43-4d2e0c2720b4?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7C5C3D8D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-3e616128-96ea-9cb4-cac8-be18ab696eeb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1969580244",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
