{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-528eedfb-8de9-31f0-43de-b38f7d5cc6e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7DD0CA35\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-528eedfb-8de9-31f0-43de-b38f7d5cc6e1/test-file-2f817dfe-d88a-edc2-1478-6cd63aee4bef?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7DDC7E98\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-528eedfb-8de9-31f0-43de-b38f7d5cc6e1/test-file-2f817dfe-d88a-edc2-1478-6cd63aee4bef?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAM1muysuAfxN71OFgYe+n86y3qRJJrfoIc5IQQJRdwSjxAaXHbQNPEGAV8bL340DfkFAv65RCioFfols5cD57GhO0c1xJ4IKtaJSuM7hLFJBNMLBAMdmQrncgZ86oFaAlntufP3Pkla/RgoL/lFrJFI3K6D+KOug6I8DlJXy0BVL0iJTgr9UgZJsAcq9WkRocV0883Slgm2PvYR+u/3AzGX0sCw/F6Gi4qoekicQ8446qyNItdyQpk+0w8Uq5cWUq0VkyKooOVm7mhDalvBGfsn2NADaiBaJZBnsekPch/zUeebhvCrkEnHJjRvLth9ffkULJKG0yiMu22SAS78F3xIUBh0JZMKfEhGfEPsKza36jQwO0VNbH7/DstDGU9bCs635p7/yRgmCbBKQJakoJA22lb6jBw2+yOZtRbHh2L5K3F1NASX9+EbyfGVAyvoGm47DD84YH6ygOt7ZlQBXoJNURUlL6yLnyJ1nsJqofg3sZqojHsjgMsywrMZHFGNGmsvB7HWgurBr6zcwoG8B98zA7T5WNJHKdBKMmz5coKQqIRXe1oGIS6v5tzOBv4JdrqT5djc08GYqB3hjFC9yDzqDBo9JMyFLSKGCbH1uOLSALuyZUzp89SC/pM8ZJSeMd6f4/qjzFHuDvj2FooPou86z0uUy6KwAFgFemY5SMhOKbPH9xLqUbTps8f3EupRtM=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-528eedfb-8de9-31f0-43de-b38f7d5cc6e1/test-file-2f817dfe-d88a-edc2-1478-6cd63aee4bef?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA7DF48BA9\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:38 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-528eedfb-8de9-31f0-43de-b38f7d5cc6e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1415361123",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
