{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b7f27cdb-626e-f8e3-8f3a-5b48bbb967a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE0E1544E\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b7f27cdb-626e-f8e3-8f3a-5b48bbb967a8/test-file-aa2b933f-3388-016f-742b-fe2d303b5d26?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE0F132EA\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b7f27cdb-626e-f8e3-8f3a-5b48bbb967a8/test-file-aa2b933f-3388-016f-742b-fe2d303b5d26?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "p/mDPtbtf3Lw/CwOb2tKWjhJ\u002B\u002BCyB5YZkNGf0HITxpOtWs\u002B0ssM7X1uUbhXGxRwwNJxA5vzR5Z9iaq0ETq7/3TaYYBSclqd0DZuEHZmAU8u1b5zV0\u002BCX3HQwUUgVNxGslZHfLWUHlJ71zNhgTMgG4hbiTt4SKQpVAISfa0VfXtaJ14gIoCVlrtr\u002B4AcIN4\u002BsKW4xMugzmmuGii3gZyhYlW0B13U//kLxfaAEFEkDTcn180LWLSvtVj0dgRb3hEaypUqZBl8abSssP7VILoYhgzxk63TmgmdBFIA3IXwr\u002BvhZUW/\u002BaUdp2[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-b7f27cdb-626e-f8e3-8f3a-5b48bbb967a8/test-file-aa2b933f-3388-016f-742b-fe2d303b5d26?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DE10DE284\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b7f27cdb-626e-f8e3-8f3a-5b48bbb967a8/test-file-aa2b933f-3388-016f-742b-fe2d303b5d26",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DE10DE284\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "p/mDPtbtf3Lw/CwOb2tKWjhJ\u002B\u002BCyB5YZkNGf0HITxpOtWs\u002B0ssM7X1uUbhXGxRwwNJxA5vzR5Z9iaq0ETq7/3TaYYBSclqd0DZuEHZmAU8u1b5zV0\u002BCX3HQwUUgVNxGslZHfLWUHlJ71zNhgTMgG4hbiTt4SKQpVAISfa0VfXtaJ14gIoCVlrtr\u002B4AcIN4\u002BsKW4xMugzmmuGii3gZyhYlW0B13U//kLxfaAEFEkDTcn180LWLSvtVj0dgRb3hEaypUqZBl8abSssP7VILoYhgzxk63TmgmdBFIA3IXwr\u002BvhZUW/\u002BaUdp2oUWqe52pSe3\u002B/3Zk5nSyyLjWPHf4kuuAEW97twWIxr1\u002BxDu0Nh5y25ZgCV\u002[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-b7f27cdb-626e-f8e3-8f3a-5b48bbb967a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "427110308",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
