{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-84cd8442-8667-b22c-9f0c-bf6137f6ffe9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72755519DC\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-84cd8442-8667-b22c-9f0c-bf6137f6ffe9/test-file-093116f3-6f79-d424-1eff-239d424a824f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F727563EAF0\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-84cd8442-8667-b22c-9f0c-bf6137f6ffe9/test-file-093116f3-6f79-d424-1eff-239d424a824f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "IQ90e4LNqVOqSNxt1L9tCmyU\u002B4cDq4KND3LtCPeD97n6v0s2ICSolwafqR177qmJ9\u002Bzp9/J47naM5mwP4KBbJlAicxRzNulI62SAZAJkESHJYxEKmQDHgdHVqTm4mbdlRIPMWXqUFsACoQyO94pzJ9VKRXyPUIxQW/FDno2wkFKsGx9/mLimNE1QB/jzOIpGYYFkbVM61fP2fP2JUXgzUhG64dxq9I8cpBEvP0mUXCJn/DwLSyL\u002BckUsiBu6HePVHLXmOVeu22zyR8lCC5aqYh/aIVU7KAfuu26WPmxzYYYuWSKTrSLLuCHQGANZu2augSX83/uOmvSt\u[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-84cd8442-8667-b22c-9f0c-bf6137f6ffe9/test-file-093116f3-6f79-d424-1eff-239d424a824f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72757E7794\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-84cd8442-8667-b22c-9f0c-bf6137f6ffe9/test-file-093116f3-6f79-d424-1eff-239d424a824f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72757E7794\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAhD3R7gs2pU6pI3G3Uv20KbJT7hwOrgo0Pcu0I94P3ufq/SzYgJKiXBp\u002BpHXvuqYn37On38njudozmbA/goFsmUCJzFHM26UjrZIBkAmQRIcljEQqZAMeB0dWpObiZt2VEg8xZepQWwAKhDI73inMn1UpFfI9QjFBb8UOejbCQUqwbH3\u002BYuKY0TVAH\u002BPM4ikZhgWRtUzrV8/Z8/YlReDNSEbrh3Gr0jxykES8/SZRcImf8PAtLIv5yRSyIG7od49UcteY5V67bbPJHyUILlqpiH9ohVTsoB\u002B67bpY\u002BbHNhhi5ZIpOtIsu4IdAYA1m7Zq6BJfzf\u002B46a9K34fegYnQB\u002B5kIUsXMWtfwPaTR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-84cd8442-8667-b22c-9f0c-bf6137f6ffe9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "252426957",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
