{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f28fb31a-23b7-06e1-a3c3-c1efaed32fec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECF90CDF0\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f28fb31a-23b7-06e1-a3c3-c1efaed32fec/test-file-b9d39e4d-e373-e09f-62cf-574f65e7e7b1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECF98BF18\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f28fb31a-23b7-06e1-a3c3-c1efaed32fec/test-file-b9d39e4d-e373-e09f-62cf-574f65e7e7b1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uiYoEc/P9Z8=",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "6WrGgIRpeb9/GyO4nGa68v4R1Nn7JlSyuKiJNHzn4DYeOJHi6kMrsVsYin19pw4fU+tOgsMHUsMWFMfc4ERClzrsmWTV1we75iJ945zWNBGZaeGRmF5zF+XNzNZ8TtAW1fJCkA2qSXzjk5ugiW8nP9+2QnZjsf/ceIJ+BwowP5dSZw6plKQD7yBkrQXC0452po33xgxZsyPyZReLK0FxslQDTiJhfao7slNW/gP6GqX0CGF9OXmL+LPqti6MeMPe8/qxv4VsFSnivBO5A7Qg+EtylyPg83nbeFVud8Z8rzqPeAsJSVsfh/M4m31l0fX+yr7jGeCf/v+A1UYw/Z1iZgzZKYupFq/wUw8wqFj8daZgb60ImJVZ8HkLiHMU74lV1TRwi6dqVLMP88XRblamhGCfz47wWs13gDkRnY4722SF29IjjOn+9hr5+aTQh4EjZQQTdB/7ZHpn+QtuWLYk0xhhS5KDgvd2oNlz9mEppvi37jiKKGZFiXdXvJPdkJ1j1SaMbzzun+IMndRFiG0ZPVITtmp+mqqxHMEbK8ZkmBA8DyE7nDe8yU5WfouS/wEKPn5Bytky5Tt721N603QcpwTDCXlL3qEaV+0cKBseHxzAEO1HI802CSnmv8HkQfXZOdaGzvWIvmDdJnLsFb0fXbs2usKH1IQ2jf9PZR7gNRU=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "uiYoEc/P9Z8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-f28fb31a-23b7-06e1-a3c3-c1efaed32fec/test-file-b9d39e4d-e373-e09f-62cf-574f65e7e7b1?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECFB03A9D\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-f28fb31a-23b7-06e1-a3c3-c1efaed32fec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2102218946",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
