{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4b245b06-9815-7cd2-a63c-ab12052e10ae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE83443E63\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4b245b06-9815-7cd2-a63c-ab12052e10ae/test-file-afa04aa7-678a-d394-6469-d0f59fa0e2fa?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE8352F645\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4b245b06-9815-7cd2-a63c-ab12052e10ae/test-file-afa04aa7-678a-d394-6469-d0f59fa0e2fa?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:02 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABsEix2GJMKWUymaQW51tD2ChVCXRWHVCCk0dwA69HADjpij5mDu308nb88svJiVX+EyjOnkHdm5L0M0Ua3CW575VvKV0Y3ck+YBcBWS6ItQntdfCCdGX3C/Krbduk2hZNQwcyWl/45TFjkDou3D5kb3o/LWY1N3czeCFqbXPxlYYAsBYrVlqp8IzDIuArxCuwRwJdaaysFA+MAuI+knvBbfq0LigoPRUjkTjZdhSXB7P1uiZtkC/VUJwKn1d4a2IU/bDpd5oDiAnpPdRz1qH2+PsySNhRU93O3t2MHZ3BpynawHRjqZAV8i4chFZXYXn6E6JYSh6Jw63XGpS8c2poJ5aumRIpk09rGFaqNM+He3ljkgn/ZV0LTQDKjJL7WYLDsFy/qMhnzHxW8S3H34riT6MbWN1cbMI5o0wNYwa4b77X5oRyy86w+8WJpHQvQ2156Dzv3/yhY0OehgV4Wm15moVy8/kCc4fQamEb1sRKCl/el3rJzI/CNoNA0EHJNKFYEA3uvFN0d3i1H3WfhYx/UH+pncLyr835rLl1wZ9GCzG/w8K6W0oIZhwCEK0WJqzyxYPGI5reZWRD9Q+aArXZcxBD38XNxPUxnTum7J8c44oMgvgbf+ua3VpeemI+cmdmJJ2Y0kbnJQCOlIJfO3TFIxWFiX+5wfcoqP5rc0qS9ywxO1xVwyryVDE7XFXDKvJU=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4b245b06-9815-7cd2-a63c-ab12052e10ae/test-file-afa04aa7-678a-d394-6469-d0f59fa0e2fa?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE837CEC60\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:19:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4b245b06-9815-7cd2-a63c-ab12052e10ae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:19:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1495714010",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
