{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-168566e3-ba71-c27f-c97b-289889674987?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B798F14A\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-168566e3-ba71-c27f-c97b-289889674987/test-file-d4f32054-ddf2-ca38-66d9-417fb0ba77ef?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B7C62F28\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-168566e3-ba71-c27f-c97b-289889674987/test-file-d4f32054-ddf2-ca38-66d9-417fb0ba77ef?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "jglxakVFuyDG/lj0EuTvew==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "DXkKFgH9LrIaQPaExwIj8+CUpirRiiPr5j1L7Bj6/iIgNG8ky4ST9DDjpCOoy010SyNwsleh7INVHjDDskGZIEHTY5KS/ihbAbH57uUAQxrv16H1iUvKf0jsz6xTz0LuSYTh1Gi74Uz7FLGmp/6dVdsW1NugpJb2CeRKpS97CDFuCqVhH26yNPVU+XSZI9dKTnnRPfpmTqTt6suDcDwdfwx/N5xYPDZsZKDmS6oiXOUNAFa1qss3CLwBczSjLsO4N3poGes78RJDZNlagAL5y47ldnDlZ9RBSC/gV8gByTXcLRQwuUL50g5Eckbx3Yi5B6imvbhS08+lJtG8WppJQpqjfVLuyBFL7KRhoPWOT2unJk8gWwx8iVlEipNxPXd0+y+rTV81yz6XW9AU8TLaF9dmFTRKKeeOJ/P5qT5+2a8s7aXF4wELclsRiP87aJgmaXO7CydDKdJIHSZrPCIAGYEh5wONFTTVWqLZOaDnUr9a0j/Kws6H6cTTfMXanzY4EG9+GoCVmVQ/5rGFavAxYcpnEWniNVazmv4/uZhu+rpsoCgwaTg+xTjqi9wdAn/ToRv6c47MVdsZy3+BVt+70Ov2GMnHAfeSKEsx+Kp6lZh/axh9c4croEpNF564vW9YL7rwJum1DKAjaEpCm10xnzXnAurHPl1jynh/eelZ2ms=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-MD5": "jglxakVFuyDG/lj0EuTvew==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-168566e3-ba71-c27f-c97b-289889674987/test-file-d4f32054-ddf2-ca38-66d9-417fb0ba77ef?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B7F9BF20\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-168566e3-ba71-c27f-c97b-289889674987?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "546157615",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
