{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-35b7d8e3-476c-c1c4-a8fb-8780116b3292?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB047765DEE7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-35b7d8e3-476c-c1c4-a8fb-8780116b3292/test-file-b29d9129-be64-9ecd-561e-91031f7b421d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0477746503\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-35b7d8e3-476c-c1c4-a8fb-8780116b3292/test-file-b29d9129-be64-9ecd-561e-91031f7b421d?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "OdkDS0CiL3mWtdalwQBklxJNJNJEpzEHsYGdvaXKAvLFYYuEDp36uQ+t9KyeUzMa4y5kskgu4JGo+5m/BHLTzLPj4F9034h1U2rDlrOEaV5Ogtp3ZU+ploH53BIEO7Wc2if5unPTpQOl71/eakndI5I7cIGXXGZkOkndegN1cBe1J7yMi67qetzX0XXvyis3HLiAyMozBX3BlX8p9SoAL39HKEONUZjjUPakwIvwdHAepl5K9KdNgiE/yvYvwYSx1qH2p6LnqcognXjTjkXx0CAPCk/MtTrX+qYiToais49x8+np+szNNvyTKlcvefPcTfrVILY15SFmH638xVtEfenoYptcC[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-35b7d8e3-476c-c1c4-a8fb-8780116b3292/test-file-b29d9129-be64-9ecd-561e-91031f7b421d?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04778E079A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-35b7d8e3-476c-c1c4-a8fb-8780116b3292/test-file-b29d9129-be64-9ecd-561e-91031f7b421d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:04 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04778E079A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:25:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAA52QNLQKIveZa11qXBAGSXEk0k0kSnMQexgZ29pcoC8sVhi4QOnfq5D630rJ5TMxrjLmSySC7gkaj7mb8EctPMs+PgX3TfiHVTasOWs4RpXk6C2ndlT6mWgfncEgQ7tZzaJ/m6c9OlA6XvX95qSd0jkjtwgZdcZmQ6Sd16A3VwF7UnvIyLrup63NfRde/KKzccuIDIyjMFfcGVfyn1KgAvf0coQ41RmONQ9qTAi/B0cB6mXkr0p02CIT/K9i/BhLHWofanouepyiCdeNOORfHQIA8KT8y1Otf6piJOhqKzj3Hz6en6zM02/JMqVy9589xN+tUgtjXlIWYfrfzFW0R96ehim1wI1VRB1FI4i+OngLJGAYvMk9k8DciC2h7RcaFPrG1HF1iARCSB3uLirJWDeCxJf1q4sVUPJY2Thfs1cGKx6N91X2lZxbxnS7X3WWAy/2Lxh/JHl/sXOPHK7L4pS25/McO2DRjD8LmdUWWgGMwtYYaZQ+hwalHjXid3jtn9Pf9Hdyece/FJLZc4qUWVdx8lnYo4kAiGD8dy0q/xTGHgnxNlWaCkkOaUTxVQN8ALTucHUfFOxa33wGhgKqhCWOE2WAkyMB1/gQyko0DyNdcGZoTH6ftvkdpmbZg4Q2Y9Ufc0Gt632R3JiM/kqiFsBYuQWsQkem7lxscuzMKERjpmws0IcEciOmbCzQhwRyI="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-35b7d8e3-476c-c1c4-a8fb-8780116b3292/test-file-b29d9129-be64-9ecd-561e-91031f7b421d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCBB04778E079A\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:04 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04778E079A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:25:03 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-35b7d8e3-476c-c1c4-a8fb-8780116b3292?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:25:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1145159304",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
