{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-13cd0f1a-5a0f-011f-7fc5-82c596a51b3e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B450E72E\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-13cd0f1a-5a0f-011f-7fc5-82c596a51b3e/test-file-ee843cee-c2e2-fc28-cb28-4aa31a93297f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B47F0600\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-13cd0f1a-5a0f-011f-7fc5-82c596a51b3e/test-file-ee843cee-c2e2-fc28-cb28-4aa31a93297f?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "r1IMm2rrAvc=",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2VrG8fWkFjqdTT4wnDadKthtLIrPVxL9XFQ0w++j6ZQaiw8Jj/of8/SbJ95KPZoqoMf2KBQ6YoFIyZWgb1NL+WOpFRAnlJreTjmWMy80sh66CiIorcF/4CmNwcZlf4OgUC16oCiJAwwsGNrbpC5SFBZ25WUxI0yiKjXnmdPUec+19eMBuRH2MAYW+5TmpDz6O6yv7pkdby3g2Hbzomo4V58KJa9LUFsEgLVfGye3u4b47F4mJIo1l4W1IOCbA46c3aP1236NrupRqm7kvlQGKRzw+rUMEjMU1Y4pljB6aXwmwz2Dwd8Haz5z1XocUdkwr/fEqgnYkMpw4QbwYxi610DxvfsWgmc96I53mDy59[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-13cd0f1a-5a0f-011f-7fc5-82c596a51b3e/test-file-ee843cee-c2e2-fc28-cb28-4aa31a93297f?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679B49D899C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-13cd0f1a-5a0f-011f-7fc5-82c596a51b3e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1491815963",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
