{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-0008dc03-7226-3fa6-70c6-24b917f548dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA73649873\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-0008dc03-7226-3fa6-70c6-24b917f548dd/test-file-cd46f721-9a9d-8ff8-6ccf-c16e18b93d4a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA737E33E8\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-0008dc03-7226-3fa6-70c6-24b917f548dd/test-file-cd46f721-9a9d-8ff8-6ccf-c16e18b93d4a?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "rO3pYwtELTASpF/4MxkT41L5+M7FM5/II5YrDrV2zzL7h+E+oxAffBr/Apq91ZAkPToBmnZi8XhOIEB0GR96nNQt/aw41T9B2ny0xjEEC00GBtF6dDS7mJVo74LPqmL7hGXGj9fj7Gj6v8D5ritHSRXybhNO/yifcWQW0OW9ci8auUHLPnt1IhpogLR0wuppIaZt3DxPrYU8Jh5zzByCPU2Q3/TqewuZfEz45X90K696rK4/UJXzygy8jxddAlX+5kJm4+L1f6aa01/wVscFyPtv+SBtQu24nRToLezzPHr2+v48DUfMhC0IpHw1A3REtsYb7Qk1kKNVrUbODVK5ppfl+VvJy[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-0008dc03-7226-3fa6-70c6-24b917f548dd/test-file-cd46f721-9a9d-8ff8-6ccf-c16e18b93d4a?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA738D1C3D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-0008dc03-7226-3fa6-70c6-24b917f548dd/test-file-cd46f721-9a9d-8ff8-6ccf-c16e18b93d4a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABA738D1C3D\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACs7eljC0QtMBKkX/gzGRPjUvn4zsUzn8gjlisOtXbPMvuH4T6jEB98Gv8Cmr3VkCQ9OgGadmLxeE4gQHQZH3qc1C39rDjVP0HafLTGMQQLTQYG0Xp0NLuYlWjvgs+qYvuEZcaP1+PsaPq/wPmuK0dJFfJuE07/KJ9xZBbQ5b1yLxq5Qcs+e3UiGmiAtHTC6mkhpm3cPE+thTwmHnPMHII9TZDf9Op7C5l8TPjlf3Qrr3qsrj9QlfPKDLyPF10CVf7mQmbj4vV/pprTX/BWxwXI+2/5IG1C7bidFOgt7PM8evb6/jwNR8yELQikfDUDdES2xhvtCTWQo1WtRs4NUrmml+X5W8nIurSjdfJknnCDmaCjdyXYTnDBalrnXwD9dttO/eRPCh[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-0008dc03-7226-3fa6-70c6-24b917f548dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:18:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "82607090",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
