{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3e8e1af5-2e3e-5e26-ad65-c20221a774a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DDF59A316\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3e8e1af5-2e3e-5e26-ad65-c20221a774a9/test-file-3e69ad05-09d1-3d9b-41b4-a6caadac0d73?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DDF693357\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3e8e1af5-2e3e-5e26-ad65-c20221a774a9/test-file-3e69ad05-09d1-3d9b-41b4-a6caadac0d73?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "igiGloUPj23r4rTGKpYuQUgpOoLqE4gdWviaIyh530jAxgYn5YYSuA9Pdj6vAnoDVB1sogY1Und/aTyNdWtEcQNsBmSQBlvCF4JympxKbld9ls8LDDxBinOOqHxJhUKkCwQ6QvwWc07CqouEw7faNfrlD96cOWXHK3vwAV7feJI/zo\u002BYDytaZyOASGKxvMe8tHKBY3VkB9KfcxaAJXLw4jH4RPUoQSXPiqe7G/ACFW60NEzrXhQc28a8\u002BZwV2UGwkGYwuHfSk3NMstnNqOvinF2nzPEmBIQc3GkubEiJubBmCouJ0l334qDZnqs7TjLa2lw\u002BbQ1QiovhE9[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3e8e1af5-2e3e-5e26-ad65-c20221a774a9/test-file-3e69ad05-09d1-3d9b-41b4-a6caadac0d73?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DDF84F8B0\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:44 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3e8e1af5-2e3e-5e26-ad65-c20221a774a9/test-file-3e69ad05-09d1-3d9b-41b4-a6caadac0d73",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482DDF84F8B0\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:01:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "igiGloUPj23r4rTGKpYuQUgpOoLqE4gdWviaIyh530jAxgYn5YYSuA9Pdj6vAnoDVB1sogY1Und/aTyNdWtEcQNsBmSQBlvCF4JympxKbld9ls8LDDxBinOOqHxJhUKkCwQ6QvwWc07CqouEw7faNfrlD96cOWXHK3vwAV7feJI/zo\u002BYDytaZyOASGKxvMe8tHKBY3VkB9KfcxaAJXLw4jH4RPUoQSXPiqe7G/ACFW60NEzrXhQc28a8\u002BZwV2UGwkGYwuHfSk3NMstnNqOvinF2nzPEmBIQc3GkubEiJubBmCouJ0l334qDZnqs7TjLa2lw\u002BbQ1QiovhE9wOoycqw/goZ51fWMkAsOlQTGXY4Y03U5HrSkyiFYAAqL\u002BA6T95rtuzEueUeoKSPrwk/z[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3e8e1af5-2e3e-5e26-ad65-c20221a774a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:01:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1152649287",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
