{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4ee52626-fc63-4a5b-a5e9-0dfd6f1d9239?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E479AC6A1\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4ee52626-fc63-4a5b-a5e9-0dfd6f1d9239/test-file-8e9e1005-e6cb-5337-0cb3-c7c820486486?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E47A99396\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4ee52626-fc63-4a5b-a5e9-0dfd6f1d9239/test-file-8e9e1005-e6cb-5337-0cb3-c7c820486486?action=append\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "celDOfPZDjQ=",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "8Z2cLRdxKcaqucx4aRD3k62Aum3WuH/xt8MvM6fyvHtQpYjAZWrSISJXmvANLvMlVnJO4GX6bDkdqnZUQfYeuP1QKMSHNy1CrZlLfx2P5IjPCd00pNsWVjhOo7rzft8sOOLyvAYvnh5ECzPLru0bjcbuhDcY6RQiOdKLOZNzTi\u002B6HkY7nSeCn2u\u002B8JioSqdKMhXzBfmnFE7N0IM0o2WK0b0EEZCn3/CfbOXMWfl7eu4qQAZ\u002Bf0g1Egr3bs2kTvsGMx7bozkWo1IlVJkU27pVUVaUCWNeDFF0zv\u002BFr3Ej\u002Bx7pxSXboNa1FJyzWCuvITZPohx2EEWYpyfMZtU6kfThAll6KhaVebGA3vXGq7MmxK3INg1VrOrZUB3\u002BDjkAe4Oo0lbSNPYguihq9jFQ0vxzpqIncVrmi1Vuodr4lmt3f2NxHdlcU4\u002B3p3vk6rW5iX0himeX2AkowkYBZJMbJyO983fO3rUiFlITcMnfAaCftBhc1wwD36ZZSVqSW\u002B/8m39XJ/c\u002B66vI/3MUhGc/SMCmYa96v1AXuRPQdJRaj7tjFtVJh9qpYcltk9eY7ls\u002BGQCa7PpAgdsvQG3jbXYWbW\u002B4sW2S9cHm/f/mDSt4f8u4kluTwKLBIpT5GkdsxfNSViZo4DztrCM/s\u002B/6WnSwtsCiKtsbg63N9o7Ymdt5eTcMk7Y=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "celDOfPZDjQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-4ee52626-fc63-4a5b-a5e9-0dfd6f1d9239/test-file-8e9e1005-e6cb-5337-0cb3-c7c820486486?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E47D51078\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-4ee52626-fc63-4a5b-a5e9-0dfd6f1d9239?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "149928692",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
