{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-687b1333-eee1-ee79-bb0d-04c5c12988e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049E984353\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-687b1333-eee1-ee79-bb0d-04c5c12988e7/test-file-abbf3ff0-16c2-adf3-1540-e33e21aa2415?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049EA6260A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-687b1333-eee1-ee79-bb0d-04c5c12988e7/test-file-abbf3ff0-16c2-adf3-1540-e33e21aa2415?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:10 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAC3JI6dsRKuPCxy24jMtn1v8ipaujaCc32SFEZaerlnG0lzC0y9fSlZWLbZAaqRJKp0Djp2FlR4NLERC53LU8JyCsA+WaoxsXUAAGKAqXHTAe+c5Wx/8QT0+taarHKMjQT0Z/fqUsv/QlzFdRXy+ItAPQmtL21W8xm7Sl7UlwUCdHNdi0F66K8knKMPuXvuAgFKWm5o316WnXTdLghsK6tWwgGilWxKxlVaiZPKRjmdzUhdiTyWmZUUxu3NnLqnt3D3uPd6S2yUAJQZDlXLy1c6P2G/D6JuwChsjs5/fCmas9Ei0o1BI4HbyIiofYs/SfqWk1xY56jOiPjODb2eFYRqflqEqPnJ+Bzg5EYZxkKdLETT6OnNQcwpVEmVcxbDPLIEPv8wu6EBzZpAeAJhtcK2MeB4yy2bnDyOWlOvNIUFHKiTFIdCbHGj0RtOjcnJx5+G3kI1SnGFaaHComBNUpkUOltazaA7c8Vv1fkSTA9zxJK0KFVD0NI2Dqvlf8kQVn+COVJtb/r+S2t8xnV4cxyST93NmSpE0WmJI7/1VvP7Xn96jxK8BVWYtdzpxgpcvpqOUi/sQ7xUPmjo40s6CfV3gWj1/eMK1kqINONNWgtfLWUkZgPDDhvCJVGq0yIJXqvnckShZ8C3hHzlZA7ZBuNdibbmFqPys3JMM9eRYAInf1xWzbVPjiIcXFbNtU+OIhw=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-687b1333-eee1-ee79-bb0d-04c5c12988e7/test-file-abbf3ff0-16c2-adf3-1540-e33e21aa2415?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB049ECE2072\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-687b1333-eee1-ee79-bb0d-04c5c12988e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "449959919",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
