{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bee2165d-e967-6bf0-6a3b-031bec694017?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9D06A0CF\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bee2165d-e967-6bf0-6a3b-031bec694017/test-file-f79b1fec-b55a-e453-a24a-5ab3f1dd1029?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9D265D00\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bee2165d-e967-6bf0-6a3b-031bec694017/test-file-f79b1fec-b55a-e453-a24a-5ab3f1dd1029?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "/yuUIKQS4FIVs8CVS0sgQ7Y8lNn1b7/haEvh2vgjGyGo3aUekmUhdDIhu6TeurpLfs4m1kdQypBss7dZMAZa8Zee7W6lArBQGx+n1LMaAq6Qllwp/UXaWBIVst+uyEMrxskMP81MpXwd1rsnqfXcUbAJyZqqMPRRxJVbkE/RoVLcew3qDcPgQ/DfCyaKsq4dOWEupP6pgZbUu3o48RUtTDRoSy3n8kTtKIWqyiTOxhHmPlbuov1UM/l3FVJIqFLasr/xImeANUcdQXt5/rdxBvRoUbO+Pqk3FBg0cNzxpYAzzxdk3KOqZQkP0WGB2jRCBQ9d31afHHMWug5PTMVqK5v7RS+fD[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-bee2165d-e967-6bf0-6a3b-031bec694017/test-file-f79b1fec-b55a-e453-a24a-5ab3f1dd1029?action=flush&position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D9D39A25D\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bee2165d-e967-6bf0-6a3b-031bec694017/test-file-f79b1fec-b55a-e453-a24a-5ab3f1dd1029",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D9D39A25D\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAD/K5QgpBLgUhWzwJVLSyBDtjyU2fVvv+FoS+Ha+CMbIajdpR6SZSF0MiG7pN66ukt+zibWR1DKkGyzt1kwBlrxl57tbqUCsFAbH6fUsxoCrpCWXCn9RdpYEhWy367IQyvGyQw/zUylfB3Wuyep9dxRsAnJmqow9FHElVuQT9GhUtx7DeoNw+BD8N8LJoqyrh05YS6k/qmBltS7ejjxFS1MNGhLLefyRO0oharKJM7GEeY+Vu6i/VQz+XcVUkioUtqyv/EiZ4A1Rx1Be3n+t3EG9GhRs74+qTcUGDRw3PGlgDPPF2Tco6plCQ/RYYHaNEIFD13fVp8ccxa6Dk9MxWorm/tFL58MKVC+7KmubUe2OeTxasyTximUs6ROIpVbGEOlpsaFlASj+eUNIGr1bQbOA9VqWluel9XRsXz7vge7YtNmCceBMKTfTnDmhqW/n0Wdfx6/8L7oBg7wtOOHpzveUb2Xj2M+TdMxigzqtxAwERI2XT7o+3IVfQK4kHzBWKY1CDTnKA/hXjJLjmax/k/+wKLQUUr89VVLghFhhr1WcDJltK/bSekCVP4MnW0MY36zutDa8AZcORLfm6X+gNh19B4zTEqgIna4zfxL8FjoPx+SrcvsfH8rCXuc/K1EBNMml6hP2Bc0E5dZISIKEEi691uGa9IMiHieB0LPAybJdJIKqSiEF264kgqpKIQXbrg="
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bee2165d-e967-6bf0-6a3b-031bec694017/test-file-f79b1fec-b55a-e453-a24a-5ab3f1dd1029",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8E7D9D39A25D\"",
        "x-ms-date": "Thu, 08 May 2025 22:13:51 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D9D39A25D\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:51 G[...]
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-bee2165d-e967-6bf0-6a3b-031bec694017?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "358094963",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
