{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-6ef416f1-47b0-4621-62dd-b769019c0684?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679A847577B\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-6ef416f1-47b0-4621-62dd-b769019c0684/test-file-5eed83da-8bfb-3eeb-217d-032344d0cdc6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679A8736F14\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-6ef416f1-47b0-4621-62dd-b769019c0684/test-file-5eed83da-8bfb-3eeb-217d-032344d0cdc6?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "S58sM/yMvfKqcVS7iFF9eCRiJZY+Bpw3M4TDn87rHupnsIQpvYVYt61qVXYl32RdCbdbAgr10EQC9AB4yR4kvlJpU9jNVLueCW7p07AmElMfZZUXkBzfcuA/J8mF4O6ORpYkvIyLkLX7vfmcDPyU3OKsWGOIDS41iuH4jSzxGCl/Wo0ZAVXHk9TgG9IjQ2Xjq0vn2YeKBjlo7jKqkwOICqTPHLFvetqM5MSPp/JcEkd8FOHhCj+h9VRUsRIjHQDRWBAtUya0czFwW/TC+15GDNzrLn8hpv9lLSddG8nIaMbEvk/hLr4gx6Gwca9K3vr1DaU2OO+Ar7IQyCb/Vlhnp/Iu/j0PZd0dymbecDRQGk4sZw4jki/XQw6d0GWYIXFISMm8HOC95qfHGG6Ioj99wK7X0u5KRBXCVroucpV4hKn1lSdqlP5tb4FmXHnBTqDPIBC3wU6C/gSz+cUmjnMRT5TEkw0XEiuwaWNt4+ecAAgZX1KFwcNacpYjt5o4R+ANVQzk/LqTtw3kBlfrFRscF/i9DC8hjI7RaiF29FuQdyGCX47buANNhqdEoLprbl17Bp+iezux68h+E5KZHMOyVI42aLWNQV/1b4WH3evTZvzD++677vzl0XPFXKRxtGrkkUwrNAWn7sRArAy2Kg7dqqyV1SDV9mWSUJdCx+W6g7o=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-6ef416f1-47b0-4621-62dd-b769019c0684/test-file-5eed83da-8bfb-3eeb-217d-032344d0cdc6?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679A8A6E0A8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:25 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-6ef416f1-47b0-4621-62dd-b769019c0684?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "851527121",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
