{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-59d03bff-e169-634f-32c0-029b7e73c2d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E2D140196\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-59d03bff-e169-634f-32c0-029b7e73c2d0/test-file-d283d57f-a062-2ca0-5a36-80ff886fb2b9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E2D23E023\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-59d03bff-e169-634f-32c0-029b7e73c2d0/test-file-d283d57f-a062-2ca0-5a36-80ff886fb2b9?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NAxrec\u002B0YAwxCcN30loKxC66882cAs6w3fPmdDINsXVK5cBMAxl480/LjviDRrLupfzNWy3ajTE9upvczezZI1hOLeyZvsAVQgB90HTVLZdA\u002BM42QFZHb1ePDkh9myVi8mqgNBnGVeY8txgtXL28Z40Em9UdouMCB72UCq93mKbaGt4KNfh9eqPo\u002Bog9GhOa0qa7eABQRU\u002BGni1bMUo3xB9yUkHesTKUhyAxNahaxO2q\u002BjcIux\u002BlitWPhJfLIklYsDVoy8fRvCF0J/HfHg\u002BmLNlAsTcTLggAzMhrTy2byGTX2YVz8fkl2D4WlJ[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-59d03bff-e169-634f-32c0-029b7e73c2d0/test-file-d283d57f-a062-2ca0-5a36-80ff886fb2b9?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E2D3FA570\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-59d03bff-e169-634f-32c0-029b7e73c2d0/test-file-d283d57f-a062-2ca0-5a36-80ff886fb2b9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E2D3FA570\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:03:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:03:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "NAxrec\u002B0YAwxCcN30loKxC66882cAs6w3fPmdDINsXVK5cBMAxl480/LjviDRrLupfzNWy3ajTE9upvczezZI1hOLeyZvsAVQgB90HTVLZdA\u002BM42QFZHb1ePDkh9myVi8mqgNBnGVeY8txgtXL28Z40Em9UdouMCB72UCq93mKbaGt4KNfh9eqPo\u002Bog9GhOa0qa7eABQRU\u002BGni1bMUo3xB9yUkHesTKUhyAxNahaxO2q\u002BjcIux\u002BlitWPhJfLIklYsDVoy8fRvCF0J/HfHg\u002BmLNlAsTcTLggAzMhrTy2byGTX2YVz8fkl2D4WlJQuxmvG6Fe9i3ARRYItaP/\u002BZmzz2V6MB0WKMzrgGtn5/Jpz0QVcpGbV3Tz0xpMCRYn6Jn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-59d03bff-e169-634f-32c0-029b7e73c2d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:03:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1483679157",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
