{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7e7bcf65-5ae7-b467-c0de-e4c982ce8905?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE806E3AE7\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7e7bcf65-5ae7-b467-c0de-e4c982ce8905/test-file-61c45ee1-155d-9f75-ab56-ca41761776de?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE807D1CDD\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7e7bcf65-5ae7-b467-c0de-e4c982ce8905/test-file-61c45ee1-155d-9f75-ab56-ca41761776de?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "84bIiuC/VIQk/nou5PjiI1ik446GdXJTSXZ2A2V39uQre3tM1PtfJp/D75SV450Pulfb4Tz+dH4TdUFpSVAfrAiVA2h9lU5dRL3vw4bdvmbZZ0kNnBSoLAb8OV+69txPo0KM/+A0kSUIfpx+D7D3Nbbaj+EHEQ/z7NZigFzvok7hnx9DUb6GpdUkBR53Kh1WBQOo32b6SJIymRMJ0hHJGdtOnW+RtOT4U+oM4gzxe8G5C3tYR8Po5leMEbeqfNPEW+xDKY2txVAer4t87mWGQR5RUMaVcNIXZbcYBKIsTdcWR4cgrVE0DEYqOpc3bPfyBs+ZWCwNLuoaK8PWlMCu8WK0ZabdZ[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-7e7bcf65-5ae7-b467-c0de-e4c982ce8905/test-file-61c45ee1-155d-9f75-ab56-ca41761776de?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE80970D7E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7e7bcf65-5ae7-b467-c0de-e4c982ce8905/test-file-61c45ee1-155d-9f75-ab56-ca41761776de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE80970D7E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADzhsiK4L9UhCT+ei7k+OIjWKTjjoZ1clNJdnYDZXf25Ct7e0zU+18mn8PvlJXjnQ+6V9vhPP50fhN1QWlJUB+sCJUDaH2VTl1Eve/Dht2+ZtlnSQ2cFKgsBvw5X7r23E+jQoz/4DSRJQh+nH4PsPc1ttqP4QcRD/Ps1mKAXO+iTuGfH0NRvoal1SQFHncqHVYFA6jfZvpIkjKZEwnSEckZ206db5G05PhT6gziDPF7wbkLe1hHw+jmV4wRt6p808Rb7EMpja3FUB6vi3zuZYZBHlFQxpVw0hdltxgEoixN1xZHhyCtUTQMRio6lzds9/IGz5lYLA0u6horw9aUwK7xYrRlpt1mk8wdRH9rNTrg+b8m/dKT9KsIGZwGgY1ed4V8STWCBlAUoDzNO+eOwrXfSsoWbsPbXm0JXI1AYBE+v8357+wFXvNuEV2WxbnDelbnJjfDRwjCoerHeanD1D8qjnwalNPJ2ezWqF1lRJi0ReI2WTnae3fENk4BPeRJqz0dbDc8qOWDHk1K7J+rXFxSEzPHjHsGTxIEVV2Fx5sHjfwgSNdgd538szrrkI7YGdrxryqxgh7CFh0kN1KI/VeyQl+iihSF8ZyWy9hAG76ELDyDkxdxVgreXjG6O0BKdLXjOU4uNo7GbL2OG7dGgfteoAsWBGk/QetVwyziyrVbS8KKJqfcfnUnwoomp9x+dSc="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7e7bcf65-5ae7-b467-c0de-e4c982ce8905/test-file-61c45ee1-155d-9f75-ab56-ca41761776de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE80970D7E\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE80970D7E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:57 G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-7e7bcf65-5ae7-b467-c0de-e4c982ce8905?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "595945961",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
