{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-5358851f-b200-7435-d4f4-6e295c75b847?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F56D13CA\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-5358851f-b200-7435-d4f4-6e295c75b847/test-file-a05769f3-be75-c8ea-7a62-2ca5e65e546d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F5964EFC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-5358851f-b200-7435-d4f4-6e295c75b847/test-file-a05769f3-be75-c8ea-7a62-2ca5e65e546d?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AWlCoANxn8I7Wis5HJWhZimrLMRtx7I634uTR7ZNX0JX+55qKym+i/hFtTuVVtgH6j/T8riqLDq2CMB43lcL7frp4SH2NzoA7aDMJxJ2pImyjFx2eWyJrM5ksyNoRq2gOcdArHS2ELMF0wUY3QQnP2M3xVH7lXSOXzRTkYQWl6byLO5KNvcU/HupcaZmcc/JPHPAMYBcpaRTsk0/Y38v7zxeJbEW3QlrI8nWUSPOJ+1liVURVmUmlodJ94Oq1Jn8eoJpCEsdsl9pVA63hlOAhYtg2tkqHpjWOI8qzeaFwU4w2dehZB+hR9b1pwJXbhAzyHH4Svq/0lvpk8+88+V45JLAh6x83[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-5358851f-b200-7435-d4f4-6e295c75b847/test-file-a05769f3-be75-c8ea-7a62-2ca5e65e546d?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679F5AE90BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-5358851f-b200-7435-d4f4-6e295c75b847/test-file-a05769f3-be75-c8ea-7a62-2ca5e65e546d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:33 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679F5AE90BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:35 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "6+DCvEQ9n88=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:42:34 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "AWlCoANxn8I7Wis5HJWhZimrLMRtx7I634uTR7ZNX0JX+55qKym+i/hFtTuVVtgH6j/T8riqLDq2CMB43lcL7frp4SH2NzoA7aDMJxJ2pImyjFx2eWyJrM5ksyNoRq2gOcdArHS2ELMF0wUY3QQnP2M3xVH7lXSOXzRTkYQWl6byLO5KNvcU/HupcaZmcc/JPHPAMYBcpaRTsk0/Y38v7zxeJbEW3QlrI8nWUSPOJ+1liVURVmUmlodJ94Oq1Jn8eoJpCEsdsl9pVA63hlOAhYtg2tkqHpjWOI8qzeaFwU4w2dehZB+hR9b1pwJXbhAzyHH4Svq/0lvpk8+88+V45JLAh6x83iFsvpIDNHaWf8l/9gR0jXdTcAd7uNFP5FTwfcNwl+djt+pQjItou57lUhMFPfzgBFcabBalACVPHNk+ErazJufiGz8aIwDs67RplmW9SadXD3hsVSvQvrfEAG+yKannMSwrIyK9xuBWLoBhPGnAktMy5gI9R9C8EVyIViOROcELgWU5kSaEmkmYFSeqb4JNA26cgEOmqepbbxHFNG+9xfS/VboEhgGsrUy4pTGpEqLaOlK09Ll+ZNh73SIVv2XZ21Ay6xnISH1t79L27QS4slxv6/kdCNA7QPHiianel+3n38rgdyaIEvLVRwXmh3bUwirFptRrvNKA96o="
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-5358851f-b200-7435-d4f4-6e295c75b847/test-file-a05769f3-be75-c8ea-7a62-2ca5e65e546d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679F5AE90BC\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:33 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679F5AE90BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:35 GMT",
        [...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-5358851f-b200-7435-d4f4-6e295c75b847?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "283478014",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
