{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-99ff607a-9c55-9630-52d5-e7f9647ddff8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F727A0B2818\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-99ff607a-9c55-9630-52d5-e7f9647ddff8/test-file-ebd6ea58-16b8-c86d-b6aa-238b403eed93?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F727A190B23\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-99ff607a-9c55-9630-52d5-e7f9647ddff8/test-file-ebd6ea58-16b8-c86d-b6aa-238b403eed93?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Gr7gl\u002B\u002BREMyGS4q3FkKsMjHJxL2k5iAAq5/N2dteqaMMY9MrPwwuo5cMcouEKR0PQ6BJP6bUfjSe3\u002BxPwzfwJ6HmqrNvgPMkmiAml3OUe4GCvpU7FWr9OOWejV8f3\u002BBfHErqnn5qoMKtJKSFrebACWNqzQWhtRI36HLN0POTBLtAxnsoqt0DFx3TjvDFeIr/3YP7tRLbvmY4srUMnM/PGSDpROZrmF6GZ7XnzicicXDozvNvl0\u002BoZAgU8Pgo93tNBHTQ3DOjk0UldU5c9PA/FUBFI83cX4LQQODeVqdmXXA6mcmzUpU8RTqtSiIBS3AY1Nq3[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-99ff607a-9c55-9630-52d5-e7f9647ddff8/test-file-ebd6ea58-16b8-c86d-b6aa-238b403eed93?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F727A323871\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-99ff607a-9c55-9630-52d5-e7f9647ddff8/test-file-ebd6ea58-16b8-c86d-b6aa-238b403eed93",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F727A323871\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAavuCX75EQzIZLircWQqwyMcnEvaTmIACrn83Z216powxj0ys/DC6jlwxyi4QpHQ9DoEk/ptR\u002BNJ7f7E/DN/Anoeaqs2\u002BA8ySaICaXc5R7gYK\u002BlTsVav045Z6NXx/f4F8cSuqefmqgwq0kpIWt5sAJY2rNBaG1Ejfocs3Q85MEu0DGeyiq3QMXHdOO8MV4iv/dg/u1Etu\u002BZjiytQycz88ZIOlE5muYXoZntefOJyJxcOjO82\u002BXT6hkCBTw\u002BCj3e00EdNDcM6OTRSV1Tlz08D8VQEUjzdxfgtBA4N5Wp2ZdcDqZybNSlTxFOq1KIgFLcBjU2rfj061wpPH/m1PEPZ2\u002BF90iWiaMw6sI3pI[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-99ff607a-9c55-9630-52d5-e7f9647ddff8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:22:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1040769025",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
