{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-c4b1d41a-e93a-f44d-d105-7d338badb139?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E3A255790\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-c4b1d41a-e93a-f44d-d105-7d338badb139/test-file-1bd3965e-b83b-9cac-dd2b-aac1af7f7096?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E3A358432\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-c4b1d41a-e93a-f44d-d105-7d338badb139/test-file-1bd3965e-b83b-9cac-dd2b-aac1af7f7096?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "M16cAaY4Z\u002BnTSmcaRZS7\u002BSxTwK5y0760nuwHjj\u002BFJIWymYXbO9iDOnZRCS8xRlfLDPhO7ha/mF\u002Bf6GO5MdiqTiXiaKwO371Uz4U4IMqPgleVO4JGNjZu8gEmO1N1ygmdp7oJTt6rvSw7\u002BR6Qh3eUD2ULJPVVZBfvc3Wq6KRq3wV8mngPhTR56X5WCj0X3WuJkSvtaaUUR0OjGttpANSH0BoYFO3\u002BhIoxkjp2/1na15YKIVZ4fHVgaFI1bGtZD\u002Bmpzjoi/8h\u002Big2hvNdrnUjpyEJEX95\u002BD1OluKyayRge2IJRzTAf[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-c4b1d41a-e93a-f44d-d105-7d338badb139/test-file-1bd3965e-b83b-9cac-dd2b-aac1af7f7096?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482E3A51BEB9\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-c4b1d41a-e93a-f44d-d105-7d338badb139/test-file-1bd3965e-b83b-9cac-dd2b-aac1af7f7096",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:15 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "KwAa3AQBIvMcicS7AerQvA==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E3A51BEB9\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:04:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 16:04:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "M16cAaY4Z\u002BnTSmcaRZS7\u002BSxTwK5y0760nuwHjj\u002BFJIWymYXbO9iDOnZRCS8xRlfLDPhO7ha/mF\u002Bf6GO5MdiqTiXiaKwO371Uz4U4IMqPgleVO4JGNjZu8gEmO1N1ygmdp7oJTt6rvSw7\u002BR6Qh3eUD2ULJPVVZBfvc3Wq6KRq3wV8mngPhTR56X5WCj0X3WuJkSvtaaUUR0OjGttpANSH0BoYFO3\u002BhIoxkjp2/1na15YKIVZ4fHVgaFI1bGtZD\u002Bmpzjoi/8h\u002Big2hvNdrnUjpyEJEX95\u002BD1OluKyayRge2IJRzTAfuNjNi5dJ1sCe9MoJS6MoFLAKKr7mfEYc48D0guRUGtAXyhBpd9NHNTiTBsThkX109sPRRqJxOTuSsajWVFTbSdr68YGTvpzdwvSGUnaCOlJDf4wggtMtppHU18YqcOHkt73q55/84Tcn9IOt6\u002BbFD3ZWk9THu8cGzEvwvufWslIToZq5mFKyR55V\u002BY5QgLqqD8hP1N0MHPz14xpTCyNPUEExmUpLDHcko0s2csI4tkyRRa4fht50B4Sew7Q3Xzt7BahNHuZwXwNQKzCS1ao5vS3OwsZ0MMlivZLFrEnC7EMQu20a65dmIearzlut4jHaZQWGaZ11BtTe6mFTqrK5jT/sgho9H9GWaKDgyWJutNtg60dDPIKmmrWYOwE="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-c4b1d41a-e93a-f44d-d105-7d338badb139/test-file-1bd3965e-b83b-9cac-dd2b-aac1af7f7096",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC482E3A51BEB9\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:15 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "2WW8WytEsDylRABIIJVEpA==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC482E3A51BEB9\u0022",
 [...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-c4b1d41a-e93a-f44d-d105-7d338badb139?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:04:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1099580810",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
