{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0abe1601-9c5d-a7f1-ce5e-7e1554821383?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F685C59FC8E\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0abe1601-9c5d-a7f1-ce5e-7e1554821383/test-file-0c2eaadf-4fe9-7468-853e-0bd102020ac4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F685C6886EB\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0abe1601-9c5d-a7f1-ce5e-7e1554821383/test-file-0c2eaadf-4fe9-7468-853e-0bd102020ac4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:35 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACr8eqwvfY9ZEbF5QU6pyduZP9hCYJhQtW85\u002BP5Wg/GS6kOno51ScG9DZpre50Xry5X01wyd6TRSa4U9NUTRAo3/5pbKwmZ\u002BBo\u002BpPzn9sc3pTe1oYazk9QFPVXfYVXrqciQNHsDu4QkvttB9NOo6VPn3E6eXaODg2zGVu6zuZfFU/ozV8JLNOqykOKrcZ8AXVMB\u002BIQHTEwlDLAOPWSWcQVDfKDZdJKRm6hj68zA2BLNxfiascATvgatDUoRPfeFHB/dZ/X\u002BJ\u002BjBcFzco2F/ZTSdQHds/L9EML6ZK2dHf16w3s6t4nAdz54Q2EFkNxqlLqcVc/x/GSBgmDc2ZPuBevH9K8SS0oLEgHHZWyN94Pij8/2/MQtiMcWuTEo45mqijl1PZgtWE1wlUfOKpb384rg\u002Bk3D\u002Bwkjmm/r/5IU4jJkHN8zGLnnsTeChmuAX14sHsWqR\u002BVP5pMwVacoRVi/W7MRagm7wNrQ\u002BUkWQXCdnzsNu9zIappJFDpIAsMSu2/axyq0bvVUcFnu2UqcNaEilrZsHol79u0UyFHTc8IbvkHZP35F5SxFuUuC3ZFTrN6VKWwIppziXtA5o6ajhQCb0xsIwvom2K2GKmFB\u002BRVfxRt3OkZWDxug\u002BuCuCEWJojRK6wp2Ru3kbky\u002Bgng/oGW63d6PLEq6RcQDa8gZeMxr/IQo9w4kKPd3zRwJWiQo93fNHAlY=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=CRC64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-0abe1601-9c5d-a7f1-ce5e-7e1554821383/test-file-0c2eaadf-4fe9-7468-853e-0bd102020ac4?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F685C9D2B71\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:09:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-0abe1601-9c5d-a7f1-ce5e-7e1554821383?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:09:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "173720777",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
