{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-2c7f70e9-31be-d491-93ad-e46d4fd2fc20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECFC92925\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-2c7f70e9-31be-d491-93ad-e46d4fd2fc20/test-file-a72dc978-2ca8-b50a-01c0-6db3d64419fd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECFD0C3DC\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-2c7f70e9-31be-d491-93ad-e46d4fd2fc20/test-file-a72dc978-2ca8-b50a-01c0-6db3d64419fd?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "SouqgtxPC6c=",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "+H5HgMcASaiYBPrOEdJvTn69YiCj1zG/rBSitdpLxW/ZU8fm/K9fCuWGjOqcI3qGlxcP91/2KiBNiNSzXZTOTD6K9b0LiFLPXVc6HEpGIoiZGx3CPM4Q4ymmmXPaq61RuD+rES69ew/FQJkHuw3WBmVMGUF2CxBwehGUZe7e9LKq6WMKmxFZ3KAO/fw1CScb0JMNjpFr26wvO5ccKRYg5kvnXdKpy2tU8z2hZw4UOnDpeJRb0GYgPg232196PLOK7RawTqxVcgUouZtUynOeGgAmM7CBxRXkxh7E8u8L2raKF3n3Y+vElAWPMxfLy3OZGMBeUwkCCCgBy4eNkX8VHN7kyrP6p7cUYZ6q8ZL+G[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-2c7f70e9-31be-d491-93ad-e46d4fd2fc20/test-file-a72dc978-2ca8-b50a-01c0-6db3d64419fd?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ECFE29FDD\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-2c7f70e9-31be-d491-93ad-e46d4fd2fc20?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1954465479",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
