{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-39656538-f296-a382-5c59-33e5ae594cab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC1264E35\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-39656538-f296-a382-5c59-33e5ae594cab/test-file-263dd18b-6584-5858-c168-996b1a2c08b3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC1308058\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-39656538-f296-a382-5c59-33e5ae594cab/test-file-263dd18b-6584-5858-c168-996b1a2c08b3?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "aNCZdd5/bv6qL3Ur7vBU7XMYSkAn3Ah3XuWMope77zaUbSl+1XA8Gv8zxXKSRtSq/LSMLUKVbovIIRf48stm70A/l4DG1RcD2zBB9BeW5RcR4qbiLsL0/v+etrRYRCczzdUyU65T5CaciVESVHp0MTv/5hAlg8B9S5mBKB5jqpcIDSdCY5Jpvf1/RqRx4amEKYR4WF0XDkkUtQcU0rwHOd+5CkdTMc2plikSpT0cDGnw/P6a6lE68P7dLa6KVOtBeAzFt9dhMfe3z8E0BGkM+KieJNa+bU+OfxlIdQQeHkI90S0xVlSRjsoG4xqPBuyV0TUG7C8Vgwq8Nzi+GLvzmLB/9jM72[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-39656538-f296-a382-5c59-33e5ae594cab/test-file-263dd18b-6584-5858-c168-996b1a2c08b3?action=flush&position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EC13C5B8D\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-39656538-f296-a382-5c59-33e5ae594cab/test-file-263dd18b-6584-5858-c168-996b1a2c08b3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EC13C5B8D\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "C0oq06oxYsA=",
        "x-ms-creation-time": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "aNCZdd5/bv6qL3Ur7vBU7XMYSkAn3Ah3XuWMope77zaUbSl+1XA8Gv8zxXKSRtSq/LSMLUKVbovIIRf48stm70A/l4DG1RcD2zBB9BeW5RcR4qbiLsL0/v+etrRYRCczzdUyU65T5CaciVESVHp0MTv/5hAlg8B9S5mBKB5jqpcIDSdCY5Jpvf1/RqRx4amEKYR4WF0XDkkUtQcU0rwHOd+5CkdTMc2plikSpT0cDGnw/P6a6lE68P7dLa6KVOtBeAzFt9dhMfe3z8E0BGkM+KieJNa+bU+OfxlIdQQeHkI90S0xVlSRjsoG4xqPBuyV0TUG7C8Vgwq8Nzi+GLvzmLB/9jM726FTDZULuIo0/ngss6TPGDISKE0idB8c0nUOEkpqEA+4WvWTst6aCct/iDi/kWUWI399bM7lGGeBNzof/KU/yu5pdFmuO2ZTeB6CouvmXUEQ9+7L7KRA0kGOEXqkegwlQL1KVR0MaOcYKvOwY3V7mtr5DwS2c95KKKEXHyrrr/0RXGItnAcjA48GssKwkG/LE3agq2sHbszfAC189Ei9LHr1ngYTTf7S1Qt1sMAbmZcxTAyzSwOSCe2VTpvapw9HSIZHuvJouMZ4zdVgkr4Lw2aVSqg7CuF2Y5QZff9i+C77LWc61N6lyZRGO30uMncuioo0RFxnCz6k0Fc="
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-39656538-f296-a382-5c59-33e5ae594cab/test-file-263dd18b-6584-5858-c168-996b1a2c08b3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD617EC13C5B8D\"",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD617EC13C5B8D\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:39 GMT",
        [...]
[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-39656538-f296-a382-5c59-33e5ae594cab?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2139059076",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
