{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-5b364edf-f0a0-bb0b-582d-196d7c931d07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679FFFF6876\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-5b364edf-f0a0-bb0b-582d-196d7c931d07/test-file-6dc55897-a761-ec76-bb29-5357478dd10b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A000F021C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-5b364edf-f0a0-bb0b-582d-196d7c931d07/test-file-6dc55897-a761-ec76-bb29-5357478dd10b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "r0mt3UJzjt8=",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "pwMm3tpSuBlNHOtlXn76YQurxlJxrnbJUF6+xeg0xGqU6uW90ESSVHAJIXNIxmmRbXvAqT9TNvmMXY17k/MxGVeB0HOZPZDGGHHhaIwCgIn1LVdtcxsrQbPrMXO3F8F91wgcx/X19zDq+pDNcc5sidwDhmWcw6U8VY+/rgsdDwGvZJCE5rmU/zYngnmKXc/lfqeWs5Bb4BRi4HFmNkkkzOqPHQw+6KIjb4YvdUArsfi/2i9jh1xwVIN7IQZHLcnsAraO+z/DppYFc0MKK2vTNy55plsZwEWOHsmJwsac20G9QnKKnLW4/DOYXhQYZigYqOrXzoZt00FwAN12OeTQaZcCTen5SZp5wKoogGExd[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-5b364edf-f0a0-bb0b-582d-196d7c931d07/test-file-6dc55897-a761-ec76-bb29-5357478dd10b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A004FF6CC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:42:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-5b364edf-f0a0-bb0b-582d-196d7c931d07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:42:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1402161805",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
