{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-8a35ed02-e55a-bee8-d005-c5c957761c1a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE7EDEE82A\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-8a35ed02-e55a-bee8-d005-c5c957761c1a/test-file-f173ecc9-a3ce-5cc7-c023-3dd31a837914?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE7EED7DF5\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-8a35ed02-e55a-bee8-d005-c5c957761c1a/test-file-f173ecc9-a3ce-5cc7-c023-3dd31a837914?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "kgmcaAG8Lpn+ytEx+gD7WukpI943dYqaZ4d6A0QnEgGLOVW52LOb6Eump8UOeOOmq8rcL5K/exx+AgF5QipV1rfQpsGqQoI2jjuSkc7Ei+6k01h5S+Nuy704OtaxIaYgUNAOPtIi/GhIpaFXLOpOuXYS1W/S24vTYdoDcgerhGyUckD9tkwcgtfvMaVBF57T6oFgn0w3TnRFOt33HolgnSA0wrqpUQMp9VKX4qrlkko7MIeGS+UfXSTLuHtvJWNNjpSFDFTkKZl9Nqn5n2vKX6iTu+4B2lE7FWSV3pmIutDuSlMWYIX1VgbuCBQ7Jb64AVjS22p1S7RCSffvT0v/9XvZClUYs[...]
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-8a35ed02-e55a-bee8-d005-c5c957761c1a/test-file-f173ecc9-a3ce-5cc7-c023-3dd31a837914?action=flush&position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE7F06D22E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-8a35ed02-e55a-bee8-d005-c5c957761c1a/test-file-f173ecc9-a3ce-5cc7-c023-3dd31a837914",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:55 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE7F06D22E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:18:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACSCZxoAbwumf7K0TH6APta6Skj3jd1ippnh3oDRCcSAYs5VbnYs5voS6anxQ5446arytwvkr97HH4CAXlCKlXWt9CmwapCgjaOO5KRzsSL7qTTWHlL427LvTg61rEhpiBQ0A4+0iL8aEiloVcs6k65dhLVb9Lbi9Nh2gNyB6uEbJRyQP22TByC1+8xpUEXntPqgWCfTDdOdEU63fceiWCdIDTCuqlRAyn1UpfiquWSSjswh4ZL5R9dJMu4e28lY02OlIUMVOQpmX02qfmfa8pfqJO77gHaUTsVZJXemYi60O5KUxZghfVWBu4IFDslvrgBWNLbanVLtEJJ9+9PS//1e9kKVRiz/yOdZOcS0j3/76bc3EC132V5/p/UFo0GB7vvE5liGmmgTVmvPQaOOOIFSghIcm6/P5x0kVZ43+iWllwsI7+jndQ9PI/nBqFf68W9z8yFvZRNL9P87YkSJ25wGKapYhQiYa0zCzbf1zn7FKaQuxAcENnH3/Prpq9LKhQgd+36tYmxmm0eUrJdbViaAdnigWteUwjN4YIgN7r95+AivmBLAF8d3yGi/b4manGbUaTWaamowiPlLNMGkGKzIWrRO6/4TgF5xKFKu1VJpncRheUVJ343evs8ZtSLF0++79xUVS7BogKjXKQHXQbNm4Vc9At9nfnsmsGzvOgs7uawJY7c4lQ25rAljtziVDY="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-8a35ed02-e55a-bee8-d005-c5c957761c1a/test-file-f173ecc9-a3ce-5cc7-c023-3dd31a837914",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCDCDE7F06D22E\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:55 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE7F06D22E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:18:55 G[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-8a35ed02-e55a-bee8-d005-c5c957761c1a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:18:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1548691934",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
