{
  "Entries": [
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-34d86290-2ae1-d55a-c36c-0967fdd53cdb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA0910F22\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-34d86290-2ae1-d55a-c36c-0967fdd53cdb/test-file-d7d86cc8-26fd-8c7c-ab46-5bad7c0651c2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA0B11DAC\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-34d86290-2ae1-d55a-c36c-0967fdd53cdb/test-file-d7d86cc8-26fd-8c7c-ab46-5bad7c0651c2?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:13:57 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACHd85ZmSugLOCYwHxqbMQj03+G5TkiRD+v0NNb8jFAIH2VZprSP/C1d286/vILCuJzTXyAzQHwZTKOqslXRDquWJ/+1AYpUZSO0G3K6EZNpMXw6KS0wFN8pQBnQ5QmXjM0i6ZSDDXcSfzn8fyTJn3sQQYDZluV+ZdMgS8Fwg3/aHI6lVyg+pePFJ+nzM9W6H+DewKOI/fXn5EOBYsG14fv6ImJWZAgTEduc1K87S3I9ZmvgUYLcER7YvXKkfQMiT0YuORFzI/uYi67IK+lG7FkRQ/xVlVA43dEDvaaVrpSYuoVozRIgikJwR4YUFCV1kZEZkvkGjLn2NVtAb6ZVAx0aL3Ej3d9HMPm6JU2KJMmrjivVu9vbUi4Lctf2oFqcG0So+eT0Ub[...]
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-34d86290-2ae1-d55a-c36c-0967fdd53cdb/test-file-d7d86cc8-26fd-8c7c-ab46-5bad7c0651c2?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DA0D0227D\"",
        "Last-Modified": "Thu, 08 May 2025 22:13:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-34d86290-2ae1-d55a-c36c-0967fdd53cdb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:13:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1931861519",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n5qsxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://5qsxscnbnz10pe20ix.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://5qsxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://5qsxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://5qsxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://5qsxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://5qsxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=5qsxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
