{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-b8919080-b86e-cc68-3686-102ddc05dbd2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679BB6ADA4B\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-b8919080-b86e-cc68-3686-102ddc05dbd2/test-file-143e7049-8c6c-850c-587b-8ff04ab2d5c4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679BB7C536C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-b8919080-b86e-cc68-3686-102ddc05dbd2/test-file-143e7049-8c6c-850c-587b-8ff04ab2d5c4?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "bAVC1AH3rUjCYWevHdwk0Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ufIZhwl3ui/Gjw+UCs7+ruR9BUR6b54EMmhITYMBgtl/EODbbhuJsN1cpaSlmiXICh/kAcoVJEpUFFWgLmyrxQw1FPruIz/J9FRmHsn5X5dDf0NkHIEPauuVh1rF6IFwsOCXcIUr2ufgGwx1rgaAWrW9XK4pR6iKJaoOWJvlAwzS9W3pYe8RGKVbgwF1mrvlFC2kCIvTR2k4DErbHIFL+xcAoriYl/jGq0QIzsOmFYvuKERuQPqA/64EsVWkNvskD4jpdPgDTXw03lxHynmmkfe/7fQ93bocgKIKlOajIXVI5L46vaCT69rHOmGdODU1Xh9d5EkH5zHNzPRV+bmWkLzn/+W6a[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-b8919080-b86e-cc68-3686-102ddc05dbd2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1123472375",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
