{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-7fe475fd-b828-72ad-56ba-5289877245bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679BBFE5D62\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-7fe475fd-b828-72ad-56ba-5289877245bd/test-file-0ed819f0-f2a8-f34c-d158-7df1a8ba4709?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679BC197620\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-7fe475fd-b828-72ad-56ba-5289877245bd/test-file-0ed819f0-f2a8-f34c-d158-7df1a8ba4709?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "wn5ISIwVDUEdaPhte5Ao3A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "lECmW3tmawDsXPmoL4X8ZOgBIkuSsA58+6XKe5Qcrt9Kw5M1S3bWAdDfqFLmiwObOAOD2ITpM+MxKmDWm/Brz64aXmzxxhhyKiF7swi8lm+hLkKRmNZaYY+wBCEV/2Xfc9mjzC2XqnLqEa1jbYDbdZPwNGyu2jbXv/zcQML3XCu7nD8vGMpBCoTQpocp9/QO1I6NJcr4MZiiywwxummv87SBp9FBrFzJriro3TSvrscIzmwzaTdgw2qmjE29EE8aILLSp1AizSgxw3afD1Rk8x1FKev9fIp9IONmmh8PDJ7bzbyB3AZ35QFDAaXAwbMWQpkweOdjHaQoVYdsvDIJIrfYxEGX4[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-7fe475fd-b828-72ad-56ba-5289877245bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1578600273",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
