{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e3493bdd-600d-bdca-95b4-59cdbcac0fda?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A08EF2EE9\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e3493bdd-600d-bdca-95b4-59cdbcac0fda/test-file-9c8b91cf-7318-0675-c7e9-6c5051eb71af?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A08FF9CA8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e3493bdd-600d-bdca-95b4-59cdbcac0fda/test-file-9c8b91cf-7318-0675-c7e9-6c5051eb71af?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "m7lTX7omrr8p3Zj2PV8R8z3G2lE7yRt++xbEBvVcIOnISM/yThfYzLywG+ELqMdLMzV3hIf8n9Gd1WOjYafKzbyvLfSPHqUm7Q2Uiq05clNPedO/5Zxiy6j+VXizNWoV5k4lXHrSuxSQUZd5aBQjY2MQVOjTCucfTWJMkckscriif6ReExXYfL6/L5QE6GOT2vEUo+GCQdtnBQ4YhilLY97e1uhwxFBNONcpFNtTGmX+uLfYGM7XHz3J9w0Gv/aVdMu1JhF6IxWgxmsJWS3/E+qpGs1xcksPB7erps1CR3jhlKAQnvRTg5WhN1FjzsYQyuQiXaUpIwGApR9az31IXn/yJ8SN7[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e3493bdd-600d-bdca-95b4-59cdbcac0fda?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1846948247",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
