{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-49d2c280-0eba-2bd7-8e4c-00fcdec2ba87?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA5DDF3388\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-49d2c280-0eba-2bd7-8e4c-00fcdec2ba87/test-file-45db66f0-926a-e0bc-a4f8-33212c0af722?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABA5DE9B058\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:17:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-49d2c280-0eba-2bd7-8e4c-00fcdec2ba87/test-file-45db66f0-926a-e0bc-a4f8-33212c0af722?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "AtoYAGIbK66yzhWbb5GxZg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "n1fR4bYb5rihQgZoEpY7SmWyl1T/pGsppTYFMKCJKex0fqGYcgaXSaQLdNmiHxXvOt0zs7+JffrrqDx/FrUXGBga85T0o9deG02w9DCRhoUhFfXCVXUt6wGnrMrJFzLu81vAiC2B+pcF1Jhx2YnJWSG2XgHAVMKj7AeTTfYNlQQbwQDU0f5ZoBtdvYHdvBJ33VKoE7gxLZ+ZHZsk7qyh+D+UVheJ9IgjXL7mYpdAxTD0G3CjZYFL6ZRgO7NiNbJuvMVCSWb77ujKhLb6S8sIWFdrL9I8/ZO9SGyDKLnVwScLd6XR/nzK+S2H2eDKUJ7IWOJb9gXfMb8yhAD5eMYv9MOP7tMlN[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-49d2c280-0eba-2bd7-8e4c-00fcdec2ba87?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:17:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1666400983",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
