{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-31bd5e2e-a24b-3961-232c-74cbfec5b2fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ED1C8FA05\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-31bd5e2e-a24b-3961-232c-74cbfec5b2fc/test-file-61fb58a4-d7c7-9b76-921a-d97116d52547?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ED1D109CC\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-31bd5e2e-a24b-3961-232c-74cbfec5b2fc/test-file-61fb58a4-d7c7-9b76-921a-d97116d52547?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "x2ka6u71xWI=",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "QypjWvQQ7Ov2/HWbU3ubJVK9qaJ84rGvICmohhTGr8zR/aFzmn/CEW9d2U7nug2qyAhOU0Y81GF5tDnKZ2XXME2pyVbZKIvS+5cyHwlix2Yc/r4LeFuGlChA+uVF96oKhakBPvC20J99e1iuCrVYFu3Trmmny7fyIjQtmS6ljQPtKJlfYYh2ZS0ejf0C2Ipz6OP4ckhAYrrxDhu7iTdx2O5UwOIb+LVkXUk8iT2570qqurFLrRq7rMXfbVJtutv1rLUPrReoV+8tkxX+BNl8OB/QEc6GJSvTmRMcPIpj96JuRtyHqkIzAmPBHhkEvKfsYjUznKgNb4aKOxMDixplyZxykL799I3cnQ9rxAcRz[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-31bd5e2e-a24b-3961-232c-74cbfec5b2fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1436751638",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
