{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3d374120-82b1-cbee-3b3c-71cb6fb3bf3d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DFF592970\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3d374120-82b1-cbee-3b3c-71cb6fb3bf3d/test-file-a9dc2a88-c2f0-03e0-878c-d772cce97247?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC482DFF6907DE\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 16:02:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-3d374120-82b1-cbee-3b3c-71cb6fb3bf3d/test-file-a9dc2a88-c2f0-03e0-878c-d772cce97247?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "Tmibzg8TMeo=",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "drtoHURD7DbCGZQ4OVtUjF0jAeuPvn1dPMQRsXHgQmxJAhu6RsEIhpfsPqfCej3ibOtAuDpDt7g9C\u002BGAMjvF4tYn7jdAmUWcG3tTooDWmsKHLkSFn4oxBkpjfTvgiFRcJ1zQm4sGotKlpJy/8BQ3Z3Ae\u002BAP2P0JL9ejs3BwJvJIn9nskBf82gIxx3/vtchU2KxXKwY9RZucZhKWjGsW2m\u002BgKl/mYE2Fx6Hh2hGBHXoLStrAGP/oC1o\u002BUCoFZk2bHu0MT49scnRi0WNgX2uKG0iYi0GMVr1ztB8FpAwngGFURrsgcM3unthiYUuYh6/utDThaN8ICsgznJdsZspkO0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-3d374120-82b1-cbee-3b3c-71cb6fb3bf3d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 16:02:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1949624003",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
