{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e27fdbd6-a218-90b7-ed25-1419a06bb598?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EB1A0753E\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e27fdbd6-a218-90b7-ed25-1419a06bb598/test-file-adbeece2-5cb3-23ab-b694-00a3b16c7e7d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617EB1AA8E4C\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:58:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-e27fdbd6-a218-90b7-ed25-1419a06bb598/test-file-adbeece2-5cb3-23ab-b694-00a3b16c7e7d?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "rtynWqT32X0=",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "zA/GK/NRBxHYdvGSqSZBllCRvzRhrKE8xOvLwpZhW7NfP8Q/kKmQCGT4MH9d9XauFZhQHH3xVyBuimYHhkV6dxs+MmpiAganALfQaHsh3890Ha3+ET81buik0QZDiIIffrlkHsMMSxORqRvFIe6kTKqXk2iXe2XcCMSBvTAAY3c1serBvcAMZ9GabGcjcE36/4VbrPQZhwJThxb+io3ikUWjj3AE447qiyyX/Q/9uZh3h76rpbeCHCnnbTaqDdxDuNsif+Dd9hz2cSHIgYrzVc59hwPPNuyOIXNGHHVXP31PU0Uz2zm4mpGitDOWuZqf9BhnLIbZdIHvk15sltqnnjGjeS1Fv3mUxexxLYG4+[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-e27fdbd6-a218-90b7-ed25-1419a06bb598?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:58:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "590263145",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
