{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-50b31a7c-b2ac-6e3d-d429-1cfc9bc7c4ff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F863699D902\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:43:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-50b31a7c-b2ac-6e3d-d429-1cfc9bc7c4ff/test-file-8200a4b8-7c5c-58b5-9c2d-3837350ded64?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F86370CDE39\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:43:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.dfs.preprod.core.windows.net/test-filesystem-50b31a7c-b2ac-6e3d-d429-1cfc9bc7c4ff/test-file-8200a4b8-7c5c-58b5-9c2d-3837350ded64?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "H7P4/MVO\u002BJpAt3y0us64hw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "QnECp7tA4A/eYLoOJfFeZE8aHkD\u002BtrpPDuZF5SZceni5LwmfbTJGnXq5L\u002BTGJ1g6ueGPv/\u002BkX4u2spnV\u002B/rogeZBVfbov/Yc04HGRIfViOeOCyxFzLp5FM996LqZcaF/0a3\u002BhdNhUfnqc\u002Bt\u002B3hoD4SmyRu/Oo7Qrx0Anatc7gmLfRnPZ1wMULLkyWlnP\u002Bza0eQeR5yqysS75072ROucir/CJnpenKgomnRk2nEhbW8wJcvDQqps3LZVF4ANGg/LRD6toRVyeDU/9a0oRexTlnnjxh8j3UgRVUnECYkkG3xknZIyd8hVva[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-filesystem-50b31a7c-b2ac-6e3d-d429-1cfc9bc7c4ff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "62271279",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
