{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-cd2197cb-00e8-68ff-4e4e-2a9418813f87?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0C98EF3E\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-cd2197cb-00e8-68ff-4e4e-2a9418813f87/test-file-0cc80e75-46e7-2087-59d5-4b0ec9579ae7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0CA940C0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-cd2197cb-00e8-68ff-4e4e-2a9418813f87/test-file-0cc80e75-46e7-2087-59d5-4b0ec9579ae7?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "8B0JPYqEOj8=",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "vkcfmjAxRH0ByVJ29quQmcWJ7zin3zETOqMKp+M1MPT4L5WQlu9xdJtcXoupWKrTQtGcnpZBM94VC1+NJp2azJlefsYVAALWGHucS4GmauH4N2QRmJFdtvy3eoqP5E3+wZLyStrkvULOxYYbpOdcb6F+lO44iDMIAMfKXYZ4RzQtnonvtB8HE3oiQtMLQhIUWgrpEE9fxjle6UoTGV+8Vn5S7QZdbbuBd4F0FUVg/b60tQN7jzbkzthQkMrV8/kaZuxUuFQMtuxOZ5nO6rDz/uyLXmRcQMdIbR8tDd3xrIOHWq9ZC0RpqP4WLCecFuQnXZHdSZWVvSUkC0s13qkOXbsWRpABmvKnIrZlRROfq[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-cd2197cb-00e8-68ff-4e4e-2a9418813f87?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1470764352",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
