{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-d0caa67d-e22c-dc55-389b-407f57b7b522?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679BCA3E6CE\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-d0caa67d-e22c-dc55-389b-407f57b7b522/test-file-50af75bc-e4d4-b422-add6-9eca1588876d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679BCB9A018\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:40:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-d0caa67d-e22c-dc55-389b-407f57b7b522/test-file-50af75bc-e4d4-b422-add6-9eca1588876d?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "M3B2dOgXM7WFZ97b2AnuDg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "alNejCryiXsauEEEuiIw+6zwkIugsCOMopVhqICIwuzq4chZ3mIl/UKb6kbw01TvW4VXXhGxpLkv0uqUkeH6kfVVGdlZ1xxJypNJBcXdnM5BcUz7MWTaOD0PKQt4kWxhoFlQmrl6loRoDZN+aJ/zUTYbUx+U/1+QeuGcSq0Q0Tkm6GRsjAEVxtvHkyTRW9CdG9fVXD1MzKH5wB/Y3kzWVzxZV387h8U1BoxEzGw7vx8R/i7WO3T82hzCcszhPeeP8TvoeANQYpQSoFaxCP81vgEAxuAdABvHXX1jeBT4U8mltNswUkcbwZyZw5sdStIcjbPL4XYHcfAfIBqF7Op/GUyNDFMjB[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-d0caa67d-e22c-dc55-389b-407f57b7b522?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:40:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1752120400",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
