{
  "Entries": [
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9d282866-5908-1ac8-fcd8-0ba63576d760?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ED11DB99A\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9d282866-5908-1ac8-fcd8-0ba63576d760/test-file-67e629e4-f42b-50c6-5b6d-16f850cae3bc?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD617ED124FB7C\"",
        "Last-Modified": "Wed, 12 Mar 2025 15:59:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.dfs.preprod.core.windows.net/test-filesystem-9d282866-5908-1ac8-fcd8-0ba63576d760/test-file-67e629e4-f42b-50c6-5b6d-16f850cae3bc?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "dfuIPlURThs=",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "YsD2jaX8tEhWodE6I/a3qhHqzwQAeDiB8Y3LNkLGGq8Uw2+jWjl723wsCIa8wzGgQDH6gk21cOqHdZwYMH4FkIciJWCHFE/YbvSH1G+yxS5cKvYRy5dhX1KEG+WdY6r+J3f/mZ3RGSvhIRRYLZx61LBtuwWH9MTvwMYNAvhqOwpJiKz4siuRixHKMKqDCDK2Ckc1L6eldjOyD9jXxBcyduYJD6TwgiGE3DD0vcMabLeTVvixNAtipBJ5RqNTucf5mLnDevmNxYclsVJ3sLlvl6MgQ20fgELapmuSdjx+MCJp+iQKVvK+BpFwjIO56/NYCq7/MnZa2hd36NOO+09LpoAvDraUZEGxYj3crvS+I[...]
    {
      "RequestUri": "https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/test-filesystem-9d282866-5908-1ac8-fcd8-0ba63576d760?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 15:59:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "75002769",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nxacxscnbnz10pe20ix\nU2FuaXRpemVk\nhttps://xacxscnbnz10pe20ix.blob.preprod.core.windows.net\nhttps://xacxscnbnz10pe20ix.file.core.windows.net\nhttps://xacxscnbnz10pe20ix.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix.table.core.windows.net\n\n\n\n\nhttps://xacxscnbnz10pe20ix-secondary.blob.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.file.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.queue.core.windows.net\nhttps://xacxscnbnz10pe20ix-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xacxscnbnz10pe20ix.blob.preprod.core.windows.net/;QueueEndpoint=https://xacxscnbnz10pe20ix.queue.core.windows.net/;FileEndpoint=https://xacxscnbnz10pe20ix.file.core.windows.net/;BlobSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xacxscnbnz10pe20ix-secondary.file.core.windows.net/;AccountName=xacxscnbnz10pe20ix;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
