{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-16e8c0bd-ba7f-1f2c-2b1c-370753fa9576?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0A4E9FB4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-16e8c0bd-ba7f-1f2c-2b1c-370753fa9576/test-file-d5d59a75-55e5-6ef1-e00d-28b652cff225?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0A659608\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-16e8c0bd-ba7f-1f2c-2b1c-370753fa9576/test-file-d5d59a75-55e5-6ef1-e00d-28b652cff225?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "8vA777jiZcY=",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5nyS3fNKrCY3UwBcLMoaQzvmQTDOE/N7BNpiUs2nlaKis3yIVQNde3YESy8XAsvYwIWkGjFPC9OIF9gY6FlZj75dunhOku04iMW5ysjDZAIPiZJIAntxUqep/z4rRJMdq7txuUdSii6YbJFrlkELxbLWCV/HEY1D7GjRpJOuDUMymx8MUqq6vP5jsJXpBbtmnjqLVDo0VZktLs3fgeWa6V9NOfsh/nIIG01gY2H3WeasagZZIrgJ/UWF3iPc2zsYycY2m8vARJ/Hgznt0/I4NtTnMhbeQcanRDy1nB9PK0ASR5qawL0a7CVmkZ9+GylTTKhP9agkOocAjlePC6iAeFf524xYnnUWzEbxd68mK[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-16e8c0bd-ba7f-1f2c-2b1c-370753fa9576?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1407698778",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
