{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c8ed26fc-a2f6-c7f6-6409-c9e0cffd4560?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0D24D7A5\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-c8ed26fc-a2f6-c7f6-6409-c9e0cffd4560/test-file-1e7d2f22-dc6a-4d59-bf18-82fb4caaf7f5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A0D333910\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-c8ed26fc-a2f6-c7f6-6409-c9e0cffd4560/test-file-1e7d2f22-dc6a-4d59-bf18-82fb4caaf7f5?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Dd7Bq5X4olPJAkEqjw/DWw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "arzh/eZM32nZkzBTl1UtM/fim8ryCs0IV7Tus+qPHxZ4JTbdThQA+CWhYf6AH/rHSXTGWOVg8mDu2aYyXit+SnQa23EeUOTi4aOkUajOhzi6Jmp1yMYxFzPW73Vuzpn5IheKZkSIqPiP43ZBvKC4H1FueDfBCIKt6MM+SGFvdBMJqi+QRCHzMX5x5eRQ71uSHs8j/1ZhNxmV3H2ASmCXIG9jNxFxJ9oweka5UCOdXfhnqymRS3S8qHIV+2ejcuYd2cV17bhKIPb184UPqOf293+EGZ82BtT6po+eXCtyjAdgnHZdKHBAHYsynFjvrf+LHgPoHllH5tPwekYoq8TLgmd9rwxwm[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c8ed26fc-a2f6-c7f6-6409-c9e0cffd4560?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:43:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1194949371",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
