{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 21:09:13 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "kind": "template",
        "template": {
          "name": "Sanitized",
          "language": "en_US",
          "bindings": {
            "kind": "whatsApp",
            "body": [
              {
                "refValue": "Days"
              }
            ]
          },
          "values": [
            {
              "kind": "text",
              "name": "Sanitized",
              "text": "5"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "496ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "545c01b1-0e61-4bd9-b66e-11cb9b386d62",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
