{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c3e77514-7d11-426f-83ca-88c20971594c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "DP-Renzo-DevTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourcegroups/sdk-test-rg18016338?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338",
        "name": "sdk-test-rg18016338",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets/fleet4992?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/149a1052-5763-4b4e-86ba-1ecbafa2e905?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded"
        },
        "location": "UK South",
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets/fleet4992",
        "name": "fleet4992",
        "type": "Microsoft.DatabaseFleetManager/fleets"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/149a1052-5763-4b4e-86ba-1ecbafa2e905?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/149a1052-5763-4b4e-86ba-1ecbafa2e905?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/149a1052-5763-4b4e-86ba-1ecbafa2e905",
        "name": "149a1052-5763-4b4e-86ba-1ecbafa2e905",
        "status": "Succeeded",
        "startTime": "2025-02-24T12:51:39.267Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets/fleet4992/fleetspaces/fleetspace4647?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "capacityMax": 10,
          "mainPrincipal": {
            "login": "MyMainPrincipal",
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "objectId": "00000000-0000-0000-0000-000000000002",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "principalType": "Application"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/74dba867-ab03-31e5-f75b-65d87814150b?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Accepted",
          "capacityMax": 10,
          "mainPrincipal": {
            "login": "MyMainPrincipal",
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "objectId": "00000000-0000-0000-0000-000000000002",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "principalType": "Application"
          }
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets/fleet4992/fleetspaces/fleetspace4647",
        "name": "fleetspace4647",
        "type": "Microsoft.DatabaseFleetManager/fleetspaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/74dba867-ab03-31e5-f75b-65d87814150b?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/74dba867-ab03-31e5-f75b-65d87814150b?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16497",
        "x-ms-ratelimit-remaining-subscription-reads": "1097"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/74dba867-ab03-31e5-f75b-65d87814150b",
        "name": "74dba867-ab03-31e5-f75b-65d87814150b",
        "status": "Succeeded",
        "startTime": "2025-02-24T12:51:40.403Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets/fleet4992/fleetspaces/fleetspace4647/firewallRules/firewallRule4125?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "startIpAddress": "10.0.0.0",
          "endIpAddress": "10.0.0.255"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleetspace/operationStatuses/93a17f0c-aed5-44a4-8670-7f4932b3dd4c?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "startIpAddress": "10.0.0.0",
          "endIpAddress": "10.0.0.255",
          "provisioningState": "Accepted"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets/fleet4992/fleetspaces/fleetspace4647/firewallRules/firewallRule4125",
        "name": "firewallRule4125",
        "type": "Microsoft.DatabaseFleetManager/fleets/fleetspaces/firewallRules"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleetspace/operationStatuses/93a17f0c-aed5-44a4-8670-7f4932b3dd4c?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleetspace/operationStatuses/93a17f0c-aed5-44a4-8670-7f4932b3dd4c?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleetspace/operationStatuses/93a17f0c-aed5-44a4-8670-7f4932b3dd4c",
        "name": "93a17f0c-aed5-44a4-8670-7f4932b3dd4c",
        "status": "Succeeded",
        "startTime": "2025-02-24T12:51:41.747Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded"
            },
            "location": "UK South",
            "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets/fleet4992",
            "name": "fleet4992",
            "type": "Microsoft.DatabaseFleetManager/fleets"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg18016338/providers/Microsoft.DatabaseFleetManager/fleets/fleet4992?api-version=2025-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/3c10cc67-3aab-44a7-8600-24d4184d88e7?api-version=2025-02-01-preview",
        "Location": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationResults/3c10cc67-3aab-44a7-8600-24d4184d88e7?api-version=2025-02-01-preview",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/3c10cc67-3aab-44a7-8600-24d4184d88e7?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/3c10cc67-3aab-44a7-8600-24d4184d88e7?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16497",
        "x-ms-ratelimit-remaining-subscription-reads": "1097"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/3c10cc67-3aab-44a7-8600-24d4184d88e7",
        "name": "3c10cc67-3aab-44a7-8600-24d4184d88e7",
        "status": "Running",
        "startTime": "2025-02-24T12:51:42.64Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/3c10cc67-3aab-44a7-8600-24d4184d88e7?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/3c10cc67-3aab-44a7-8600-24d4184d88e7?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/3c10cc67-3aab-44a7-8600-24d4184d88e7",
        "name": "3c10cc67-3aab-44a7-8600-24d4184d88e7",
        "status": "Succeeded",
        "startTime": "2025-02-24T12:51:42.64Z"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1633744463",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c3e77514-7d11-426f-83ca-88c20971594c"
  }
}
