{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e6fe6705-4c9c-4b54-81d2-e455780e20b8",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HRP-UX-TestAutomation",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/testmachine?api-version=2022-12-27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/testmachine",
        "name": "testmachine",
        "location": "eastus2euap",
        "tags": {},
        "identity": {
          "type": "SystemAssigned",
          "principalId": "b5ea9b11-9417-4cef-b307-c041d3c704de",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "type": "Microsoft.HybridCompute/machines",
        "properties": {
          "provisioningState": "Succeeded",
          "agentVersion": "1.0.0.0",
          "status": "Connected",
          "lastStatusChange": "2023-10-12T09:24:24.8808064Z",
          "errorDetails": [],
          "displayName": "LAPTOP-S0HSJ7FB",
          "machineFqdn": "LAPTOP-S0HSJ7FB",
          "osName": "windows",
          "osVersion": "10.0.19045.3570",
          "osType": "windows",
          "osProfile": {
            "computerName": "LAPTOP-S0HSJ7FB"
          },
          "vmId": "26491972-4c69-417e-8f27-7a30c9ba3b28",
          "vmUuid": "1A9E1B42-3894-11EC-80F0-84A9388B55FE",
          "clientPublicKey": "MIIBCgKCAQEA2ObF43/Xpws3KSf\u002BAhaUI89r2IoIIzPY7VuNRKWnupjp1rVyCSMkPm6Yuuelg/qjPKPjBeMi/t6l7GeOJx\u002BscbBYkFqatLA29jwhArZWD5vgHolgUDYE4TtVzZ5YkRe4zUtRV9keTbG8xx5KGwJeLFPgmJ/6uFaQ0rXgq0EU9QHv\u002BVUhN5JZm4Fp/3dZ0/Bd7b\u002BaN05/yN3QFjVyyqwXTW1XB5C0K2jWxbfXOu7Bs6EwhLJuBcxIfiuHzrU6b38EeAeEMb9IPb/H\u002BmTvjBZ5TKbVEPwp6AaYSQWlhE\u002BnB7UkxK69K9PFrXVB1Wkl6BKzWmaim5kDKQ5TW3QBoB4bwQIDAQAB",
          "osSku": "Windows 10 Enterprise",
          "domainName": "WORKGROUP",
          "adFqdn": "LAPTOP-S0HSJ7FB",
          "dnsFqdn": "LAPTOP-S0HSJ7FB",
          "mssqlDiscovered": "false",
          "cloudMetadata": {
            "provider": "N/A"
          },
          "detectedProperties": {
            "cloudprovider": "N/A",
            "coreCount": "4",
            "logicalCoreCount": "8",
            "manufacturer": "LENOVO",
            "model": "20Y0S2PE00",
            "mssqldiscovered": "false",
            "processorCount": "1",
            "processorNames": "11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz",
            "productType": "4",
            "serialNumber": "PF33PR6M",
            "smbiosAssetTag": "14765144",
            "totalPhysicalMemoryInBytes": "34359738368",
            "totalPhysicalMemoryInGigabytes": "32"
          },
          "agentConfiguration": {
            "proxyUrl": "",
            "incomingConnectionsPorts": [],
            "extensionsAllowList": [],
            "extensionsBlockList": [],
            "proxyBypass": [],
            "extensionsEnabled": "true",
            "guestConfigurationEnabled": "true",
            "configMode": "full"
          },
          "serviceStatuses": {
            "extensionService": {
              "status": "running",
              "startupType": "automatic"
            },
            "guestConfigurationService": {
              "status": "running",
              "startupType": "automatic"
            }
          },
          "agentUpgrade": {
            "enableAutomaticUpgrade": false
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "ipAddresses": [
                  {
                    "address": "172.20.240.1",
                    "ipAddressVersion": "IPv4",
                    "subnet": {
                      "addressPrefix": "172.20.240.0/20"
                    }
                  }
                ]
              },
              {
                "ipAddresses": [
                  {
                    "address": "10.144.1.251",
                    "ipAddressVersion": "IPv4",
                    "subnet": {
                      "addressPrefix": "10.144.1.0/24"
                    }
                  }
                ]
              },
              {
                "ipAddresses": [
                  {
                    "address": "2001:0:2877:7aa:4f2:14aa:df72:a879",
                    "ipAddressVersion": "IPv6",
                    "subnet": {
                      "addressPrefix": "2001:0:2877:7aa::/64"
                    }
                  }
                ]
              }
            ]
          }
        },
        "resources": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/testmachine?api-version=2022-12-27",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "337012286",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e6fe6705-4c9c-4b54-81d2-e455780e20b8"
  }
}
