{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e6fe6705-4c9c-4b54-81d2-e455780e20b8",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HRP-UX-TestAutomation",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines?api-version=2022-12-27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/testmachine",
            "name": "testmachine",
            "location": "eastus2euap",
            "type": "Microsoft.HybridCompute/machines",
            "tags": {},
            "identity": {
              "type": "SystemAssigned",
              "principalId": "6220a593-e844-4a54-bc76-cb7bf0088806",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "agentVersion": "1.0.0.0",
              "status": "Connected",
              "lastStatusChange": "2023-10-12T08:21:00.9222839Z",
              "errorDetails": [],
              "displayName": "LAPTOP-S0HSJ7FB",
              "machineFqdn": "LAPTOP-S0HSJ7FB",
              "osName": "windows",
              "osVersion": "10.0.19045.3570",
              "osType": "windows",
              "osProfile": {
                "computerName": "LAPTOP-S0HSJ7FB"
              },
              "vmId": "d46c9df9-2e74-47cc-9dbc-dffd1a36c49f",
              "vmUuid": "1A9E1B42-3894-11EC-80F0-84A9388B55FE",
              "clientPublicKey": "MIIBCgKCAQEAvPaxLR1flGw9owvBTf\u002B1I23O0GTVW80UJxo9ueLaYA7QULTFXDdnSpk5HCWYyCSrWsZUX3jnY1AhMDbe0agUb/Ys\u002B0KoLK0mBB7isU95N7nTGAF/SiD2yx\u002Bb5Xn6tj2ZKzoM16yKvz4WQxCErV5lnNx4CuL8ZMW301LQpUyNh5j1fxs1/dxl/DA6i8BpQl3CV0B0a\u002BQSk\u002BeA9FZgF4Y4RbNjSvGbb8rdu3sfhBK6vmrSJ76F8ZYBCo7TN7RhlZCy0FDwSAZd2FVNa20KVwFA6qX0aMccaTspkOlRiPVtogcWJXdZCA\u002Bm0ujwKZOtaSukQwr8Ab6MocjkXYuZiUNZnwIDAQAB",
              "locationData": {
                "name": "Redmond"
              },
              "osSku": "Windows 10 Enterprise",
              "domainName": "WORKGROUP",
              "adFqdn": "LAPTOP-S0HSJ7FB",
              "dnsFqdn": "LAPTOP-S0HSJ7FB",
              "mssqlDiscovered": "false",
              "cloudMetadata": {
                "provider": "N/A"
              },
              "detectedProperties": {
                "cloudprovider": "N/A",
                "coreCount": "4",
                "logicalCoreCount": "8",
                "manufacturer": "LENOVO",
                "model": "20Y0S2PE00",
                "mssqldiscovered": "false",
                "processorCount": "1",
                "processorNames": "11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz",
                "productType": "4",
                "serialNumber": "PF33PR6M",
                "smbiosAssetTag": "14765144",
                "totalPhysicalMemoryInBytes": "34359738368",
                "totalPhysicalMemoryInGigabytes": "32"
              },
              "agentConfiguration": {
                "proxyUrl": "",
                "incomingConnectionsPorts": [],
                "extensionsAllowList": [],
                "extensionsBlockList": [],
                "proxyBypass": [],
                "extensionsEnabled": "true",
                "guestConfigurationEnabled": "true",
                "configMode": "full"
              },
              "serviceStatuses": {
                "extensionService": {
                  "status": "running",
                  "startupType": "automatic"
                },
                "guestConfigurationService": {
                  "status": "running",
                  "startupType": "automatic"
                }
              },
              "agentUpgrade": {
                "enableAutomaticUpgrade": false
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "ipAddresses": [
                      {
                        "address": "172.20.240.1",
                        "ipAddressVersion": "IPv4",
                        "subnet": {
                          "addressPrefix": "172.20.240.0/20"
                        }
                      }
                    ]
                  },
                  {
                    "ipAddresses": [
                      {
                        "address": "10.144.1.251",
                        "ipAddressVersion": "IPv4",
                        "subnet": {
                          "addressPrefix": "10.144.1.0/24"
                        }
                      }
                    ]
                  },
                  {
                    "ipAddresses": [
                      {
                        "address": "2001:0:2877:7aa:4f2:14aa:df72:a879",
                        "ipAddressVersion": "IPv6",
                        "subnet": {
                          "addressPrefix": "2001:0:2877:7aa::/64"
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "404215801",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e6fe6705-4c9c-4b54-81d2-e455780e20b8"
  }
}
