{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15110386": "20230217",
          "NRMS16829354": "20230724",
          "EnableAzSecPackIdentityPolicy": "true"
        },
        "subscriptionId": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Hybrid Compute RP Runners",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/machines/testmachine?api-version=2024-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/machines/testmachine",
        "name": "testmachine",
        "location": "centraluseuap",
        "tags": {},
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "type": "Microsoft.HybridCompute/machines",
        "properties": {
          "provisioningState": "Succeeded",
          "agentVersion": "1.42.02699.1697",
          "status": "Connected",
          "lastStatusChange": "2024-06-03T19:56:06.7769273Z",
          "errorDetails": [],
          "displayName": "LAPTOP-S0HSJ7FB",
          "machineFqdn": "LAPTOP-S0HSJ7FB",
          "osName": "windows",
          "osVersion": "10.0.19045.4412",
          "osType": "windows",
          "osProfile": {
            "computerName": "LAPTOP-S0HSJ7FB"
          },
          "vmId": "fffa7073-f5ff-4a19-8867-644039cedd5a",
          "vmUuid": "1A9E1B42-3894-11EC-80F0-84A9388B55FE",
          "clientPublicKey": "MIIBCgKCAQEArVA3tppzNuImfxdi1srB2CqqAW59yXVREEoaCb4DUzEZNYY+pNRpYqlRygQL7jqQgaq9gov4x+UHXTNTJYKGcCF1cKKiZLcSna/KCgPjAQVSm4ZUHqMq/pUMwHqsdmp7mhSrdj0O7rTGgDh6ayKoILSRHef5yPjfr5qqNdgoqU9QIMV/pLD6Xe6+mP45obI3k93rgXztmDJxttcuFC/CjQYOPrQyFRE7ubKtn+xV019Cncb0GDAAsXT5uOZ5a9lMgCKG4o812mumf/LkDmYwBnTvAwkpAJyRsiARwW187AjjClgwkkgH/h+SOtrWyBohEp6FuDKWLdWhvgkRc5o7GwIDAQAB",
          "osSku": "Windows 10 Enterprise",
          "osEdition": "enterprise",
          "osInstallDate": "2023-02-07T08:27:20+00:00",
          "domainName": "WORKGROUP",
          "adFqdn": "LAPTOP-S0HSJ7FB",
          "dnsFqdn": "LAPTOP-S0HSJ7FB",
          "mssqlDiscovered": "false",
          "cloudMetadata": {
            "provider": "N/A"
          },
          "detectedProperties": {
            "cloudprovider": "N/A",
            "coreCount": "4",
            "logicalCoreCount": "8",
            "manufacturer": "LENOVO",
            "model": "20Y0S2PE00",
            "mssqldiscovered": "false",
            "processorCount": "1",
            "processorNames": "11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz",
            "productType": "4",
            "serialNumber": "PF33PR6M",
            "smbiosAssetTag": "14765144",
            "totalPhysicalMemoryInBytes": "34359738368",
            "totalPhysicalMemoryInGigabytes": "32"
          },
          "agentConfiguration": {
            "proxyUrl": "",
            "incomingConnectionsPorts": [],
            "extensionsAllowList": [],
            "extensionsBlockList": [],
            "proxyBypass": [],
            "extensionsEnabled": "true",
            "guestConfigurationEnabled": "true",
            "configMode": "full"
          },
          "serviceStatuses": {
            "extensionService": {
              "status": "running",
              "startupType": "automatic"
            },
            "guestConfigurationService": {
              "status": "running",
              "startupType": "automatic"
            }
          },
          "agentUpgrade": {
            "enableAutomaticUpgrade": false
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "ipAddresses": [
                  {
                    "address": "172.24.48.1",
                    "ipAddressVersion": "IPv4",
                    "subnet": {
                      "addressPrefix": "172.24.48.0/20"
                    }
                  }
                ]
              },
              {
                "ipAddresses": [
                  {
                    "address": "192.168.1.243",
                    "ipAddressVersion": "IPv4",
                    "subnet": {
                      "addressPrefix": "192.168.1.0/24"
                    }
                  }
                ]
              },
              {
                "ipAddresses": [
                  {
                    "address": "2001:0:2841:f634:1c12:2f8a:52bb:ceed",
                    "ipAddressVersion": "IPv6",
                    "subnet": {
                      "addressPrefix": "2001:0:2841:f634::/64"
                    }
                  }
                ]
              }
            ]
          },
          "licenseProfile": {
            "licenseStatus": "Licensed",
            "licenseChannel": "Retail",
            "esuProfile": {
              "licenseAssignmentState": "NotAssigned",
              "serverType": "Unknown",
              "esuEligibility": "Ineligible",
              "esuKeyState": "Inactive"
            }
          }
        },
        "resources": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "919969595",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae"
  }
}
