{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/testmachine?api-version=2023-10-03-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "locationData": {
            "name": "Redmond"
          },
          "osProfile": {
            "windowsConfiguration": {
              "patchSettings": {
                "assessmentMode": "ImageDefault",
                "patchMode": "Manual"
              }
            }
          },
          "parentClusterResourceId": "{AzureStackHCIResourceId}",
          "privateLinkScopeResourceId": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "319"
      },
      "ResponseBody": {
        "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/testmachine",
        "name": "testmachine",
        "location": "eastus2euap",
        "tags": {},
        "identity": {
          "type": "SystemAssigned",
          "principalId": "3e3dfa82-c190-48c2-b61c-154127abab5e",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "type": "Microsoft.HybridCompute/machines",
        "properties": {
          "provisioningState": "Updating",
          "agentVersion": "1.37.02533.1416",
          "status": "Connected",
          "lastStatusChange": "2023-12-29T04:17:06.2457313Z",
          "errorDetails": [],
          "displayName": "LAPTOP-S0HSJ7FB",
          "machineFqdn": "LAPTOP-S0HSJ7FB",
          "osName": "windows",
          "osVersion": "10.0.19045.3693",
          "osType": "windows",
          "osProfile": {
            "computerName": "LAPTOP-S0HSJ7FB",
            "windowsConfiguration": {
              "patchSettings": {
                "assessmentMode": "ImageDefault",
                "patchMode": "Manual"
              }
            }
          },
          "vmId": "3a7c024b-be7b-4cd6-922a-858a453d7f40",
          "vmUuid": "1A9E1B42-3894-11EC-80F0-84A9388B55FE",
          "clientPublicKey": "MIIBCgKCAQEAoqC3cAGEoOl6PSj6JJJOyRJXfnnG\u002B9pnuqvWj1uaLW/CkKMKwWbb\u002B7DmWk9D75z5Rn82CXHWltqqWgZg44oyQPT340qIWE9mYMCYh/tmVTgfHMWMis5n5jLTsPsuZIUvbP0B0f0bsQDjHEPmkDlW5gUwjmUGhidz9lrIUGXctfgSsx8xZLZT6sk2VK5DstGdoFE6XKOHCAKy3PfdRGyzYla\u002B7NCvWqZA9jFqCKSqGewTeojCCoFjGiU2MrSarzK77FlxYsdAykRawIn0ta6UrDEyTBgP5/rEPw9xprQadfQlBFEvW5oQnSFUGannxfkPbdaqsFV5CJ8NON2JpDNRWQIDAQAB",
          "locationData": {
            "name": "Redmond"
          },
          "osSku": "Windows 10 Enterprise",
          "domainName": "WORKGROUP",
          "adFqdn": "LAPTOP-S0HSJ7FB",
          "dnsFqdn": "LAPTOP-S0HSJ7FB",
          "mssqlDiscovered": "false",
          "cloudMetadata": {
            "provider": "N/A"
          },
          "detectedProperties": {
            "cloudprovider": "N/A",
            "coreCount": "4",
            "logicalCoreCount": "8",
            "manufacturer": "LENOVO",
            "model": "20Y0S2PE00",
            "mssqldiscovered": "false",
            "processorCount": "1",
            "processorNames": "11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz",
            "productType": "4",
            "serialNumber": "PF33PR6M",
            "smbiosAssetTag": "14765144",
            "totalPhysicalMemoryInBytes": "34359738368",
            "totalPhysicalMemoryInGigabytes": "32"
          },
          "privateLinkScopeResourceId": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope",
          "agentConfiguration": {
            "proxyUrl": "",
            "incomingConnectionsPorts": [],
            "extensionsAllowList": [],
            "extensionsBlockList": [],
            "proxyBypass": [],
            "extensionsEnabled": "true",
            "guestConfigurationEnabled": "true",
            "configMode": "full"
          },
          "serviceStatuses": {
            "extensionService": {
              "status": "running",
              "startupType": "automatic"
            },
            "guestConfigurationService": {
              "status": "running",
              "startupType": "automatic"
            }
          },
          "agentUpgrade": {
            "enableAutomaticUpgrade": false
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "ipAddresses": [
                  {
                    "address": "172.22.192.1",
                    "ipAddressVersion": "IPv4",
                    "subnet": {
                      "addressPrefix": "172.22.192.0/20"
                    }
                  }
                ]
              },
              {
                "ipAddresses": [
                  {
                    "address": "10.144.1.249",
                    "ipAddressVersion": "IPv4",
                    "subnet": {
                      "addressPrefix": "10.144.1.0/24"
                    }
                  }
                ]
              },
              {
                "ipAddresses": [
                  {
                    "address": "2001:0:2877:7aa:470:36bf:df72:a879",
                    "ipAddressVersion": "IPv6",
                    "subnet": {
                      "addressPrefix": "2001:0:2877:7aa::/64"
                    }
                  }
                ]
              }
            ]
          },
          "licenseProfile": {
            "esuProfile": {
              "licenseAssignmentState": "NotAssigned",
              "serverType": "Unknown",
              "esuEligibility": "Ineligible",
              "esuKeyState": "Inactive"
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1486310990",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e6fe6705-4c9c-4b54-81d2-e455780e20b8"
  }
}
