{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions",
          "SkipASMAzSecPack": "true"
        },
        "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourcegroups/krnx-sparvatikar-sdkrecording?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording",
        "name": "krnx-sparvatikar-sdkrecording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/locations/eastus2euap/virtualMachinesBulkStart?api-version=2026-06-06",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "executionParameters": {
          "retryPolicy": {
            "retryCount": 3,
            "retryWindowInMinutes": 30
          }
        },
        "resources": {
          "ids": [
            "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-10-30-preview, 2026-01-01-preview, 2026-02-01-preview, 2026-02-10-preview, 2026-04-06-preview, 2026-04-27-preview, 2026-06-06",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "description": "Start Resource request",
        "type": "VirtualMachines",
        "location": "eastus2euap",
        "results": [
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
            "operation": {
              "operationId": "1d81c7b4-b60c-4d62-a83c-51cb9714c88a",
              "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
              "opType": "Start",
              "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
              "deadline": "2026-06-17T21:51:38.3848314+00:00",
              "deadlineType": "InitiateAt",
              "state": "PendingScheduling",
              "timeZone": "UTC",
              "retryPolicy": {
                "retryCount": 3,
                "retryWindowInMinutes": 30
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/locations/eastus2euap/virtualMachinesBulkGetOperationStatus?api-version=2026-06-06",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "operationIds": [
          "1d81c7b4-b60c-4d62-a83c-51cb9714c88a"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-10-30-preview, 2026-01-01-preview, 2026-02-01-preview, 2026-02-10-preview, 2026-04-06-preview, 2026-04-27-preview, 2026-06-06",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "results": [
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
            "operation": {
              "operationId": "1d81c7b4-b60c-4d62-a83c-51cb9714c88a",
              "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
              "opType": "Start",
              "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
              "deadline": "2026-06-17T21:51:38.3848314+00:00",
              "deadlineType": "InitiateAt",
              "state": "PendingScheduling",
              "timeZone": "",
              "retryPolicy": {
                "retryCount": 3,
                "retryWindowInMinutes": 30
              }
            }
          }
        ]
      }
    },
[...]
