{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions",
          "SkipASMAzSecPack": "true"
        },
        "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourcegroups/krnx-sparvatikar-sdkrecording?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording",
        "name": "krnx-sparvatikar-sdkrecording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "computebulkactionstest": "test"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/locations/eastus2euap/virtualMachinesBulkDeallocate?api-version=2026-06-06",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "executionParameters": {},
        "resources": {
          "ids": [
            "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
            "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-2"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-10-30-preview, 2026-01-01-preview, 2026-02-01-preview, 2026-02-10-preview, 2026-04-06-preview, 2026-04-27-preview, 2026-06-06",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "description": "Deallocate Resource request",
        "type": "VirtualMachines",
        "location": "eastus2euap",
        "results": [
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
            "operation": {
              "operationId": "790052e0-6403-4265-91fe-bc8fb9265d72",
              "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
              "opType": "Deallocate",
              "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
              "deadline": "2026-06-15T22:47:16.9657823+00:00",
              "deadlineType": "InitiateAt",
              "state": "PendingScheduling",
              "timeZone": "UTC",
              "retryPolicy": {
                "retryCount": 0,
                "retryWindowInMinutes": 0
              }
            }
          },
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-2",
            "operation": {
              "operationId": "0d1d9367-5fe1-4f0c-8dc1-5f6e1ea3ee7a",
              "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-2",
              "opType": "Deallocate",
              "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
              "deadline": "2026-06-15T22:47:16.9657823+00:00",
              "deadlineType": "InitiateAt",
              "state": "PendingScheduling",
              "timeZone": "UTC",
              "retryPolicy": {
                "retryCount": 0,
                "retryWindowInMinutes": 0
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/locations/eastus2euap/virtualMachinesBulkCancel?api-version=2026-06-06",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "operationIds": [
          "790052e0-6403-4265-91fe-bc8fb9265d72",
          "0d1d9367-5fe1-4f0c-8dc1-5f6e1ea3ee7a"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-10-30-preview, 2026-01-01-preview, 2026-02-01-preview, 2026-02-10-preview, 2026-04-06-preview, 2026-04-27-preview, 2026-06-06",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "results": [
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
            "operation": {
              "operationId": "790052e0-6403-4265-91fe-bc8fb9265d72",
              "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-1",
              "opType": "Deallocate",
              "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
              "deadline": "2026-06-15T22:47:16.9657823+00:00",
              "deadlineType": "InitiateAt",
              "state": "Cancelled",
              "timeZone": "",
              "resourceOperationError": {
                "errorCode": "OperationCancelledByUser",
                "errorDetails": "Operation: 790052e0-6403-4265-91fe-bc8fb9265d72 was cancelled by the user."
              },
              "completedAt": "2026-06-15T22:47:17.0613503+00:00",
              "retryPolicy": {
                "retryCount": 0,
                "retryWindowInMinutes": 0
              }
            }
          },
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-2",
            "operation": {
              "operationId": "0d1d9367-5fe1-4f0c-8dc1-5f6e1ea3ee7a",
              "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/virtualMachines/bulkactions-sdkrec-vm-2",
              "opType": "Deallocate",
              "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
              "deadline": "2026-06-15T22:47:16.9657823+00:00",
              "deadlineType": "InitiateAt",
              "state": "Cancelled",
              "timeZone": "",
              "resourceOperationError": {
                "errorCode": "OperationCancelledByUser",
                "errorDetails": "Operation: 0d1d9367-5fe1-4f0c-8dc1-5f6e1ea3ee7a was cancelled by the user."
              },
              "completedAt": "2026-06-15T22:47:17.0616204+00:00",
              "retryPolicy": {
                "retryCount": 0,
                "retryWindowInMinutes": 0
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/krnx-sparvatikar-sdkrecording/providers/Microsoft.Compute/locations/eastus2euap/virtualMachinesBulkGetOperationStatus?api-version=2026-06-06",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "operationIds": [
          "790052e0-6403-4265-91fe-bc8f[...]
