{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-060e9a40-4a86-398f-9b97-b21bfd46253b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684F41E87F3\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:01:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-060e9a40-4a86-398f-9b97-b21bfd46253b/test-blob-b4bfdb2c-be89-5139-5923-011f1143b141",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684F4306772\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:01:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-060e9a40-4a86-398f-9b97-b21bfd46253b/test-blob-b4bfdb2c-be89-5139-5923-011f1143b141?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684F4306772\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "707V8a00Q0subuAuxSxpD9mOYi3NJr5YD0yxZ+cx2W2+3HOBtsx2hIwu0A7bZ/kHDP1hOFVs28iPfeFhgtxj/JRzcOm451kMF96gn1awfadTqlrq0KAYUQGq8jnrFQGvytN5Z/cQTiSjVCB3zDxy3/85DdiBeSz0Wh7oDvUgIQLc8NSCNhWwQ1s2Rnt/oITENxM5sQcoLlGmhQ3YJ0AvgzMemtxn8Kjpicp9SzOxdLmaI9bi53D7s8KD27AI1xsaB8NIYQaoXUdqUCc9q+Id9RFTPgRqTZvCI+ca5BT44LKuYkNwaBOz8caOd5dIvQjfZeaftZgXsLonhT0fjngzcm91jkierYz9n0w+29UEemXeOn4uWCsZl7GJSOPVlGNNWwUn0y+/QLdZohZM2dXkIgvYQFP6BRl[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-060e9a40-4a86-398f-9b97-b21bfd46253b/test-blob-b4bfdb2c-be89-5139-5923-011f1143b141",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684F456B0DE\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:01:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:01:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-060e9a40-4a86-398f-9b97-b21bfd46253b/test-blob-b4bfdb2c-be89-5139-5923-011f1143b141",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684F456B0DE\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:15 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684F456B0DE\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:01:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:01:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "707V8a00Q0subuAuxSxpD9mOYi3NJr5YD0yxZ+cx2W2+3HOBtsx2hIwu0A7bZ/kHDP1hOFVs28iPfeFhgtxj/JRzcOm451kMF96gn1awfadTqlrq0KAYUQGq8jnrFQGvytN5Z/cQTiSjVCB3zDxy3/85DdiBeSz0Wh7oDvUgIQLc8NSCNhWwQ1s2Rnt/oITENxM5sQcoLlGmhQ3YJ0AvgzMemtxn8Kjpicp9SzOxdLmaI9bi53D7s8KD27AI1xsaB8NIYQaoXUdqUCc9q+Id9RFTPgRqTZvCI+ca5BT44LKuYkNwaBOz8caOd5dIvQjfZeaftZgXsLonhT0fjngzcm91jkierYz9n0w+29UEemXeOn4uWCsZl7GJSOPVlGNNWwUn0y+/QLdZohZM2dXkIgvYQFP6BRlEW/eWFWWpJwro8IDQ3aY2H/rG1LYUzb7cpCbX/FQQU1Xr43c3KCpSr3oMY+hVFEVkoiFYMzBjL445unA+0Su22J0q5fkv/vbPdCQ8CGrVh5Dhc1oztx8kh7To/m66FN5PVopLKi9LNKQrib8MJyckYzPfXF7QgiB9Bl1FRv+HFV9G7bLfiVxhlT62By5gGGCMxJo72rd/ftNpziTRBu6ko3NfxTp0RNnWfscfGnvxHO39uIFkTDqoxm7fdbs4kI9QEmS6AVIlGIA="
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-060e9a40-4a86-398f-9b97-b21bfd46253b/test-blob-b4bfdb2c-be89-5139-5923-011f1143b141?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684F47A897D\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:01:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-060e9a40-4a86-398f-9b97-b21bfd46253b/test-blob-b4bfdb2c-be89-5139-5923-011f1143b141",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684F456B0DE\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:16 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:fa356e8b-001e-0006-226d-b8c59e000000\n",
        "Time:2024-06-07T00:01:17.7551738Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-060e9a40-4a86-398f-9b97-b21bfd46253b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1329259470",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
