{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0379c4e0-40b9-ce40-d945-54791a4b93b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC0D1175C4B4\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0379c4e0-40b9-ce40-d945-54791a4b93b7/test-blob-353070ae-ab5f-5fd1-9277-67beaf305fad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC0D1180F316\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-09-23T20:19:46.6116886Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0379c4e0-40b9-ce40-d945-54791a4b93b7/test-blob-353070ae-ab5f-5fd1-9277-67beaf305fad?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDC0D1180F316\"",
        "x-ms-date": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "XkOZsDWOFx/OyIAEeOxL83BE/57EBNz2bx15so9g0hh0TfU/TCTZ62RnwBKcvRIJXD4kmWuitllnokAYFGWPbfZnjyv3DKdLahM5XUTJWrILcFVROzit0peb2Knkwdb/11IcNC3mElCX2S5XaVgVnkiNDaQPPjG9ur2UWzP9Z6k8OobyrCWFJF4FumIKVWk+hjpgVrQx8JkgX3pvUrYcmXGFGy7SI/EjCOhGCYPPs2VUVdX5nRH0C0ns0U2rFdGn6SDwhTo6bGNIPU3L6uYVUasUG/zhI/tgkA/l5VGkd/MXnyBj3y4rGelxsWDDKSBj14ChlvnUxcUkj/QqVYYRpMVatEvGsnF96QETb3KbnWbvgQ7RAuH5QtlaPk85AMRiYAyaaHXUnSQOI634wVZTiPGOOtN4QKH[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0379c4e0-40b9-ce40-d945-54791a4b93b7/test-blob-353070ae-ab5f-5fd1-9277-67beaf305fad",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 20:19:47 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDC0D118C6322\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-09-23T20:19:46.6116886Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0379c4e0-40b9-ce40-d945-54791a4b93b7/test-blob-353070ae-ab5f-5fd1-9277-67beaf305fad",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 20:19:47 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDC0D118C6322\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 23 Sep 2024 20:19:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0379c4e0-40b9-ce40-d945-54791a4b93b7/test-blob-353070ae-ab5f-5fd1-9277-67beaf305fad?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-date": "Mon, 23 Sep 2024 20:19:47 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC0D11CDA859\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:19:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0379c4e0-40b9-ce40-d945-54791a4b93b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 20:19:47 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1905529353",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
