{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b6343346-c5f7-00e8-56c0-6749dd03d2fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684CDEED08B\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b6343346-c5f7-00e8-56c0-6749dd03d2fc/test-blob-5843693c-e61a-1e08-2a9b-a6a651df10dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684CDFA3230\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b6343346-c5f7-00e8-56c0-6749dd03d2fc/test-blob-5843693c-e61a-1e08-2a9b-a6a651df10dc?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684CDFA3230\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "XhPRGHd7EhHpKdTqjA4SLQPjjKbBL7iuK7DNO1eFDvyFGnzbVqQMQSMvuRtpjHwm/K7BGVngXS9aIu3Hrde5ZBrYZXKSN9Ze10uDkXWcRZ40pz6pw/Wipb1MgDS3RZNMdVQAkScKlMXXYkEOXcu5vt1OkgaYEKElNcC0Rbeip5G3NhsgnLN3KhN50mCzlEfxksFWaLKNtGWz2ltnVU4ONLuvViawmSIq12jyHj1AcqF4w7L1TD7fKoK1bMFXD9XEa56lAz0hQfmfK5FKmpUnc2i67pGcGed80Cyj+ixg0seTLrOfmm9jV4G4VSCtlI/tjflZnSBDJ1G2KDIRfUbMP1nJt2vhiNn5V5cP48TGzzuctmwzBzWnUAZh6XE8Udk77BXH5N0jDAUfYEWJM0SN71n2dcbamDc[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b6343346-c5f7-00e8-56c0-6749dd03d2fc/test-blob-5843693c-e61a-1e08-2a9b-a6a651df10dc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684CE07C599\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b6343346-c5f7-00e8-56c0-6749dd03d2fc/test-blob-5843693c-e61a-1e08-2a9b-a6a651df10dc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684CE07C599\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:11 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684CE07C599\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "Response[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b6343346-c5f7-00e8-56c0-6749dd03d2fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1573402182",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
