{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ec7a6ee-0bd4-5611-511d-4f451b0624c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBCD492A3\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ec7a6ee-0bd4-5611-511d-4f451b0624c8/test-blob-7c447150-2fe5-6dfa-4f87-3fefcbd086b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBCDC1AF7\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ec7a6ee-0bd4-5611-511d-4f451b0624c8/test-blob-7c447150-2fe5-6dfa-4f87-3fefcbd086b1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECBCDC1AF7\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Kdauyty5Y+eGlffRILuKgYTWHnQBqCQ0txEI7Z1YXkvC6i31Ic6dbkMd9A/GCLtTl+hD/d3L/4CyehLKsXVKLjasDjaNlV+1OK8x47MUba5WtFa0FWBt9+utQqe70r3N08bYGvmExQKJjcQtmRvMnQ1kdPwflRnWPhZL4FK4+mXyYxDtPFO10e5TK4ebQF7P4KSZV17Arj2tAtviOOSv0JNfOzUK32C6rqIOy2mROv64ewCuHqIHMrXSPzp405gJpFv0PAUpxQFD36m8suPUG8fcKrzkAbLwWAh/N58mQtsJBCYOnP35j7b+aj/5Sn/S/iRym6nbJaOpBOT8qY1iHZ3Nsq68xn7J45oG5ZZy9g2IrTl7s6YyLd6DZZgZ/OUpnE2iLJjRFTelqLgO1UAMNg3Wc/tT52n[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ec7a6ee-0bd4-5611-511d-4f451b0624c8/test-blob-7c447150-2fe5-6dfa-4f87-3fefcbd086b1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBCE38CAB\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ec7a6ee-0bd4-5611-511d-4f451b0624c8/test-blob-7c447150-2fe5-6dfa-4f87-3fefcbd086b1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECBCE38CAB\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:30 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBCE38CAB\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "Kdauyty5Y+eGlffRILuKgYTWHnQBqCQ0txEI7Z1YXkvC6i31Ic6dbkMd9A/GCLtTl+hD/d3L/4CyehLKsXVKLjasDjaNlV+1OK8x47MUba5WtFa0FWBt9+utQqe70r3N08bYGvmExQKJjcQtmRvMnQ1kdPwflRnWPhZL4FK4+mU="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ec7a6ee-0bd4-5611-511d-4f451b0624c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "987311995",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
