{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c8cc32e4-a7d4-52e7-9d32-cdffd0ef0723?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684E1532B8B\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c8cc32e4-a7d4-52e7-9d32-cdffd0ef0723/test-blob-2a90f969-d81f-2c5c-81b3-ccee2b890324",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684E1649E91\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c8cc32e4-a7d4-52e7-9d32-cdffd0ef0723/test-blob-2a90f969-d81f-2c5c-81b3-ccee2b890324?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684E1649E91\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "1zPqQeMlzkn/QYF3dPJ7vE6071O76l83dDk4aDUWz0NZEh2j9qI16q/qHIF08HCk/anOBhSwZuzTss2p7WUU6HI9HWHU18asfwSk0M3ewoTJk2qMR8gvqKsxz0PUjP1J1jQONtIO0CbjIocQDJUe9fBI4Fn7h6GpDnS2oweC1/IGWvqZz4uxusNEqSRBHpsWEtpTi6ykTk6SZShdWC0eYEuUCbKbhSVklyWVtt58aO/Yn5AtL0tGYQyrB2pjVGGWJkjZrBXpeoy07vSGD5dvFfw4hLmc8TH/Tael8H27AEPE/5CVo7va7yQDeEBXwFJ0O/FtKs+o+jQX2l9tQ4oP+e6xwg8H2XJBXpWUmHjwp41VMLSMTtV0HARbfslcbaua9H9Spv5CbWF+K8w5FGG8JzLRGBLVgqo[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c8cc32e4-a7d4-52e7-9d32-cdffd0ef0723/test-blob-2a90f969-d81f-2c5c-81b3-ccee2b890324",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E17231FC\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c8cc32e4-a7d4-52e7-9d32-cdffd0ef0723/test-blob-2a90f969-d81f-2c5c-81b3-ccee2b890324",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684E17231FC\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:44 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E17231FC\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "Response[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c8cc32e4-a7d4-52e7-9d32-cdffd0ef0723?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2053946382",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
