{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d2af6057-109c-40e2-9cb3-e93fa8b5afae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBC3F9FD7\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d2af6057-109c-40e2-9cb3-e93fa8b5afae/test-blob-8b667b18-b8c6-a5cb-43c3-cd4a38a749ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBC4786BC\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d2af6057-109c-40e2-9cb3-e93fa8b5afae/test-blob-8b667b18-b8c6-a5cb-43c3-cd4a38a749ba?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECBC4786BC\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "5tHVOqiEH7g4abGAGuF7OMqtgzgdJntflKAVO1pr8cP3BRrzjq6TN1DfUcqhx4MTtw3xp9nr08BWdaYIb+NezHftiRXHiKkcGUzoPdSwvcwdAoRMeUrqCzJZnRgIi8hsgYRTsz1tTC9j1Y2NA5XspbjZ62xfEVItA37jbeqQE46Ee7xPXQqPr7ZV6aS8XQecbfhgL59bDXAxJa+/it5E0sH+CIjYnEitSTu2CieucKZ2Rv/yL+TuKG1MHTdazyTXEBbivVR/xNCvsuVjpQNIg7QJSUTeUqLdEOAajH8QU3oX3voRzLNS94IvQn3+ioNqBJqCUYbg+L1zBK10ZDdRn19rTMYJNrYBt1HCrw8l3oVdr4jkjQLzN+U8nccF3pJK3aMdkz68Yc3jgZo0HUmuTiUoF7SvbBF[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d2af6057-109c-40e2-9cb3-e93fa8b5afae/test-blob-8b667b18-b8c6-a5cb-43c3-cd4a38a749ba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBC4ED18C\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d2af6057-109c-40e2-9cb3-e93fa8b5afae/test-blob-8b667b18-b8c6-a5cb-43c3-cd4a38a749ba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECBC4ED18C\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBC4ED18C\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d2af6057-109c-40e2-9cb3-e93fa8b5afae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "844484657",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
