{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-00c51d76-e3c0-1add-f446-0533929e3589?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECB459207D\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-00c51d76-e3c0-1add-f446-0533929e3589/test-blob-ee96196c-eb95-3299-35e6-95ff7657d359",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECB4603D0B\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-00c51d76-e3c0-1add-f446-0533929e3589/test-blob-ee96196c-eb95-3299-35e6-95ff7657d359?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECB4603D0B\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Q+3C7bgmOSqwCNuLqLcosI97D1Y8AJrkTYrd6c+kHl4SteIEgcnQ/QI3hOZq/xnm+cs6I7fLSENS3qAuSVBbDOl9efPUIy/FqxJTBHu0eU5w9+8EavqmRmyfsqIpobSy3Hj87IUmEdWbdHileETHnmRSvVFgVqLu1jKGNXGNnAleoScDt43ISuYZaPWCAc4n1xQ+1uNiUYbWDhVSn9tkDtduR9YcxOfXiXNrR+2sa9VkX11dT8Ul+0+hLKh3dasKtVoeFLn3ChMsZk1w9gqYKqI/7j9+Br8RSUuHe5c+YBTHYZGTjVccbFRKMOh4tARFCAIGN4drjK6bDMptcI987gY4qJV4BZxKI4HrM9bWmJRGQnKVNymMXNXj94GNrvzEzkHiQAtvzANmvBMFf1jYxHM1Ji0d57f[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-00c51d76-e3c0-1add-f446-0533929e3589/test-blob-ee96196c-eb95-3299-35e6-95ff7657d359",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Mar 2025 20:23:16 GMT",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-723e6302-8031-df45-0167-dff83714bcd9/test-blob-95100763-5a32-4124-0834-4ca38017a750",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Mar 2025 20:23:16 GMT",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-51f3343e-7100-9751-6ca2-30435f31525d/test-blob-d3c2e8bd-03a0-5077-1381-404cd6495e10",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECB4D9C682\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-51f3343e-7100-9751-6ca2-30435f31525d/test-blob-d3c2e8bd-03a0-5077-1381-404cd6495e10",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"0x8DD5CECB4D9C682\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1be1c5fb-7b17-a822-76bb-6da4f88024b6/test-blob-4e7ce118-8d4f-f834-1236-d2d6e58a0853",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:17 GMT",
        "x-ms-lease-id": "703d7ba5-a410-b4fa-2478-77ecc605a244",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1be1c5fb-7b17-a822-76bb-6da4f88024b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T15:23:16.2105849-05:00",
    "RandomSeed": "553687441",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
