{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5dd0bf46-dc80-20c8-0ed8-e11e4b2396df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBAF72C17\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5dd0bf46-dc80-20c8-0ed8-e11e4b2396df/test-blob-1e6efbc4-03cb-b850-1d3d-2265c0d5ddab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBAFEEBAA\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5dd0bf46-dc80-20c8-0ed8-e11e4b2396df/test-blob-1e6efbc4-03cb-b850-1d3d-2265c0d5ddab?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECBAFEEBAA\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "RALCdSl2nM08x3uOBix9ZExxiAlePJr5LqOmdy4tT5AxeFeh5xZGIKX4HX5W8WpOd+YIR8m3/ghoyUeGzySeD3fqXI7U2302KmhkZR8bojw5WABHJAfGeXlPOR3OwFCAWQ0Ga5TceZtp0h1hU5noTCcKTXckVupvJOMUhaJfZ2oX4wwSFTaoXd5k3lHqZCXgZ+32w3PZWwMilkexx/T4CmuzSm+M1jbwYvCYv3iYhcC9Mx61aKP2PocI737v95XqbNTmNhq2U5C2BmGDQJyLiRCG85TWQ6HIvAzohOe4AGtarlOksk6mB+CN/2JBc/3rfWVtaAMBEykyHXoNzc+p/gX2KJJJ5tfB4OyzSEM+hkgP/AaCSpdnWZoqcZTUmDkQ5AFcS0tqopeNq4gXTcvl85cx/tHJJ7N[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5dd0bf46-dc80-20c8-0ed8-e11e4b2396df/test-blob-1e6efbc4-03cb-b850-1d3d-2265c0d5ddab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBB063678\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5dd0bf46-dc80-20c8-0ed8-e11e4b2396df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1120645243",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
