{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1c231b6d-1bbf-dc68-72dd-3aa78523a43c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684D18F2973\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1c231b6d-1bbf-dc68-72dd-3aa78523a43c/test-blob-07c18dc9-c2cf-a688-cc36-22ba2c2f71b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684D19AFEAD\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1c231b6d-1bbf-dc68-72dd-3aa78523a43c/test-blob-07c18dc9-c2cf-a688-cc36-22ba2c2f71b2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684D19AFEAD\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:17 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8qP0jdUY7uOyV/4oLCfawGs6L71JRpqydvvvmwrn/OsvO05evuQpX9n2q0ojV9Ej+r8VlASqaasIQhfaKFLYy1oT+fDYewGHEc/jU5pQjh8pzKBL0WjnhNGiVXzNTzeGHd/wEF3gSn69joI0xhURuLP4sFyxjPrxLHQfNSaFucGYXTa6YH7BSIEijkLlsr67kZzI1Z/a1JDl/uPowRRYN9XBnGnfVlg1Nmfbj/63C3m2Y6SJvOQivoil1WGa2IdsylZtJBZV3DpEk543/kWSLfNqMl5wznvwnt7gOYH2m13gb8WnSuZjYIZpRSlG6r9DEqduMKYo+/vbfIY3dKK5TfhAV49/6+IMBtHXBolRqbMfnSbZiGq3t3PKy81gLOvkr/cxBpMvxCfEYSrUUfRyitLTGNd738W[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1c231b6d-1bbf-dc68-72dd-3aa78523a43c/test-blob-07c18dc9-c2cf-a688-cc36-22ba2c2f71b2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684D1A8B920\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1c231b6d-1bbf-dc68-72dd-3aa78523a43c/test-blob-07c18dc9-c2cf-a688-cc36-22ba2c2f71b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684D1A8B920\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684D1A8B920\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "Response[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1c231b6d-1bbf-dc68-72dd-3aa78523a43c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1412354452",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
