{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7e2d5d8e-6cae-d623-b624-d116e9ceafef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBC6EE270\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7e2d5d8e-6cae-d623-b624-d116e9ceafef/test-blob-79be8a2e-063b-03e9-e4f0-e91ef05e96ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBC762A87\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7e2d5d8e-6cae-d623-b624-d116e9ceafef/test-blob-79be8a2e-063b-03e9-e4f0-e91ef05e96ee?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECBC762A87\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "bFaeEGfFp0rgcGN7Wn3dBClcPvKRmmvluOkW0cZp+zlbdDmiE+oNE1DzNBPlwpvz0njqZaLlDNHquVh+rtWDdnQqH+ZEO/E+TyqhnmZYAPVNI/9Of5aXdWhnuFmSj2R6b72eu6K1rpeGqxV3Q25rkbliMIvWNPfek6p+3YKXrMDGJi6pukVSmHRnyNOAHzL5/CegL1/ZpDrFvyf4N9EV7v9VsRw/wtZ0EJcWbmwjXnN3hOBb93xh7YLz4/sdWWGiUtnUKm4VujlQLB/HwjXNomCzgLLwufeD9MOaS9/bVrY2cxyTTzMFYsqnC8tdmStMJkGaadiuspjhUDaqem5adNVokU4YOlItrh7oSa4sJlqYTiWeQO3diMGEsf79WuhbTJb19AjcM+vubbq6xWjptSrbEitIvDT[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7e2d5d8e-6cae-d623-b624-d116e9ceafef/test-blob-79be8a2e-063b-03e9-e4f0-e91ef05e96ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBC7D9C3D\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7e2d5d8e-6cae-d623-b624-d116e9ceafef/test-blob-79be8a2e-063b-03e9-e4f0-e91ef05e96ee",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECBC7D9C3D\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:29 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBC7D9C3D\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "bFaeEGfFp0rgcGN7Wn3dBClcPvKRmmvluOkW0cZp+zlbdDmiE+oNE1DzNBPlwpvz0njqZaLlDNHquVh+rtWDdnQqH+ZEO/E+TyqhnmZYAPVNI/9Of5aXdWhnuFmSj2R6b72eu6K1rpeGqxV3Q25rkbliMIvWNPfek6p+3YKXrMA="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7e2d5d8e-6cae-d623-b624-d116e9ceafef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "837393724",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
