{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-210b56a5-47fb-0f53-e692-a52f8a4c8b47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE158AD36703\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-210b56a5-47fb-0f53-e692-a52f8a4c8b47/test-blob-a43cc35b-17fb-64ce-40cd-b59def8c4bd9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE158ADC2297\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-210b56a5-47fb-0f53-e692-a52f8a4c8b47/test-blob-a43cc35b-17fb-64ce-40cd-b59def8c4bd9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCCE158ADC2297\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:10 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "W61xp2kw2cxx5CuMwuLKnxYR0Jhz9eFMVg26J7+fcvy2HRaX1NMqLhgLI4HY5OLfTnkvoikg82XMJVFbdbEN0nEu1aTMM8tD56J/Z9Ffc3Eq29lGcM/SlSqwy6+Czrhn/lEPqQ49Ehqt67uHoIuUbLHfMZrYx2KiXEB6HGgcwBjpGGmAT8pi7Mi+mIQTS/SeHF79op0ejjfubU3Ow/WykSqjnYgiEx3nfETRGi/ejhFL3AAJHh57y4oykeJ8lCnSCwZZcK1sewhBFiZZTHMIEN48guf1qHMMKNH98IE7aucb/g8ohB5j32D3yAf3In8WKoEDQBFB3WKTTEjcbouGBqw+PU1k34vA2aOG/t9rFAZS5sYANynW2SGslDjVhnDUccJaueQxskr1Qmdtut+DKDdCiYjFhc6[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-210b56a5-47fb-0f53-e692-a52f8a4c8b47/test-blob-a43cc35b-17fb-64ce-40cd-b59def8c4bd9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE158AE51936\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:45:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-210b56a5-47fb-0f53-e692-a52f8a4c8b47/test-blob-a43cc35b-17fb-64ce-40cd-b59def8c4bd9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCCE158AE51936\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:10 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE158AE51936\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:45:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "Response[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-210b56a5-47fb-0f53-e692-a52f8a4c8b47/test-blob-a43cc35b-17fb-64ce-40cd-b59def8c4bd9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE158B0A51AD\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-210b56a5-47fb-0f53-e692-a52f8a4c8b47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1293123692",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
