{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-94240e9e-99ae-ca1f-4c16-cfc565d9dd0e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684DB9B69D9\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-94240e9e-99ae-ca1f-4c16-cfc565d9dd0e/test-blob-267b0faf-726f-e8aa-82e9-436493a7feef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684DBA788B3\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-94240e9e-99ae-ca1f-4c16-cfc565d9dd0e/test-blob-267b0faf-726f-e8aa-82e9-436493a7feef?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684DBA788B3\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "7XweUAlDkw5soo7Gvqz/9TTnvWg7rtbNf3QMFHfWefXhVoVOOJHdw2qPwpR7ze0+DCKXIFOeSD6lUdGUN3+WliiY5GcmsL2jCfn9rOtCUbGHzQdVPlmhQg5HqOe/SIzq+Cxr4umFF1xk8xZaoZxTY/8fDWl4QVfP96FZ3wjW48BtE7O+1m7IAbaq8EtDRqFy80TonzsicrfUnOtHLDhUjhBV7I3olI2QVwyzzVAMi7AA5uvD7kSFSqD86TmDgdR9VmE67loTil63V0gubqRmyBE6RkZMkKDMz6Ht66tUDNU4Nnfv0Z1W7FyNDJb7V9v7liEoSTqOMMXAbh+4Jp6zYkty9jgtdvZ041rpv4QK0HfF8VWJLMKbqQWxLmJ9nsW+2qlLiWGjzR8qs2XgpXFAtp6n8jVJKTa[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-94240e9e-99ae-ca1f-4c16-cfc565d9dd0e/test-blob-267b0faf-726f-e8aa-82e9-436493a7feef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684DBB431D3\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-94240e9e-99ae-ca1f-4c16-cfc565d9dd0e/test-blob-267b0faf-726f-e8aa-82e9-436493a7feef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684DBB431D3\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684DBB431D3\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "7XweUAlDkw5soo7Gvqz/9TTnvWg7rtbNf3QMFHfWefXhVoVOOJHdw2qPwpR7ze0+DCKXIFOeSD6lUdGUN3+WliiY5GcmsL2jCfn9rOtCUbGHzQdVPlmhQg5HqOe/SIzq+Cxr4umFF1xk8xZaoZxTY/8fDWl4QVfP96FZ3wjW48BtE7O+1m7IAbaq8EtDRqFy80TonzsicrfUnOtHLA=="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-94240e9e-99ae-ca1f-4c16-cfc565d9dd0e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1938955224",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
