{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ea86329-c16e-c767-c639-02773f1674d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684E24F29C8\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ea86329-c16e-c767-c639-02773f1674d0/test-blob-afa9abe2-3875-a382-ccaf-16f5b16f4f4d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684E25CF330\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ea86329-c16e-c767-c639-02773f1674d0/test-blob-afa9abe2-3875-a382-ccaf-16f5b16f4f4d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684E25CF330\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "IRwK11Nz9JRX9a2N8XH4CQjK8FLSQh6afY/zEwB7/aTxmtSyslnkE/iv27vhsce8GouH6wubY979b1rDgOCT2/gIm1acRVav5t1aI2diuczIN/l18xKYVjf2tUP/IJIXHP/C2BVwH9Q02AUuQD93mrWN+0nnHejmcEUeppATsMVKQwdnoOG2VxckQRoMahX3fhqNcSVJL/4X3GjQUnlEISdA5P04EPrU1qMywtzN2QUvJih1hT+fABQIUMN55gWd4CDzzIUYv24guZqCF2wiSQJioCtRzpvooOPpML82WvCelOG72g1/F2e5VMylHOmn5QbBFkbZTBKECiuhL46u6l6p44OKZm/14ojEl3nOQ4P6QUq4dEOqxEfPN8/h3ujYC2pt+zllHH6XzDS9FLSYtcenp+1E9XU[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ea86329-c16e-c767-c639-02773f1674d0/test-blob-afa9abe2-3875-a382-ccaf-16f5b16f4f4d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E2699C48\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ea86329-c16e-c767-c639-02773f1674d0/test-blob-afa9abe2-3875-a382-ccaf-16f5b16f4f4d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684E2699C48\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:45 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E2699C48\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "IRwK11Nz9JRX9a2N8XH4CQjK8FLSQh6afY/zEwB7/aTxmtSyslnkE/iv27vhsce8GouH6wubY979b1rDgOCT2/gIm1acRVav5t1aI2diuczIN/l18xKYVjf2tUP/IJIXHP/C2BVwH9Q02AUuQD93mrWN+0nnHejmcEUeppATsMU="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ea86329-c16e-c767-c639-02773f1674d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1331110631",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
