{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aea6af1d-d2f7-141b-1518-bb6b2fefe361?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC485F81D\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aea6af1d-d2f7-141b-1518-bb6b2fefe361/test-blob-ff3cb7e1-fd4a-f642-fa04-7380fb8b393a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC48D75E6\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aea6af1d-d2f7-141b-1518-bb6b2fefe361/test-blob-ff3cb7e1-fd4a-f642-fa04-7380fb8b393a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECC48D75E6\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "75dtm909/VDqyVv44DaRyy8qMiCWxeXzUk6mEuQDjiSZg/Xr206z+xEHM7LDUGQ7bR2RJPxE1yqxekiOlups5zo3XlxBpvDhdjcPj5EzLwHpa6XGcWonVavLOWEFJGQnm0x3jPII+sYtsK7ENUiZfUpHpStFpXXQDwmxdm2O21HS6PNEvKMP4XHemcC8Yx9iMbsXvn854fbWp33oVoNZntRc8U1VVMGmN8O5Zgu0E6zqT0Sxdx3SmQb9bRQmJovthPvsX3HRDd35cIa7f3vqIZPR/gc/qCa3ilhHV+asgBE4zOIPyLM6GEFmtwaWFhqKE0yBVSeDrdzUNNUZirb3TfB1g7OZ2lnglubF2fAgIHQ9vESaKyrptB4FO5TeIY6Lb2oWIZJn8Tjzob5BvtTrtBNh281xXSH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aea6af1d-d2f7-141b-1518-bb6b2fefe361/test-blob-ff3cb7e1-fd4a-f642-fa04-7380fb8b393a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECC495356C\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aea6af1d-d2f7-141b-1518-bb6b2fefe361/test-blob-ff3cb7e1-fd4a-f642-fa04-7380fb8b393a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECC495356C\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECC495356C\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "75dtm909/VDqyVv44DaRyy8qMiCWxeXzUk6mEuQDjiSZg/Xr206z+xEHM7LDUGQ7bR2RJPxE1yqxekiOlups5zo3XlxBpvDhdjcPj5EzLwHpa6XGcWonVavLOWEFJGQnm0x3jPII+sYtsK7ENUiZfUpHpStFpXXQDwmxdm2O21E="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aea6af1d-d2f7-141b-1518-bb6b2fefe361?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1891627935",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
