{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84cca37b-bc8a-d9cf-e9e4-bc36c14a9c95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684C9065B94\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84cca37b-bc8a-d9cf-e9e4-bc36c14a9c95/test-blob-85e307f1-a1a3-0ca1-bded-4e0c7da883bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684C91A712C\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84cca37b-bc8a-d9cf-e9e4-bc36c14a9c95/test-blob-85e307f1-a1a3-0ca1-bded-4e0c7da883bf?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684C91A712C\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "fGRf8EsJnf1QiiInueJRgDDjtCDx9GxheKjNEacMG4cIoHEkCcONdwJbV54gSofcuVUWQyU6cIf3/XeiPItWRG6bHxlxLXdtVT0elZzOQC0h8FdR9thizS/pLAtL6jp2BRMvhStta4zdqO3nHNvqKbxJgUszBE2VOVHphwBrIWoCp5CJnroCs4TLc03rerFU/gNOAWnuQgDFmUzag+SLcoeC5XRKYYoCR83HaJAAqr6flYj8HB8BE2SPwwRuKC+gPwHFaJQ8CZ15TLqbJ9pwxe+NOu5bjlVogdEQu52Fkx+dJiiOOkIqYozrg9BkZeyJH/4V4O1BRbGsXefDLE3/87ib/gCy4YqtY9hibwuFAxvlh5yeb7MxXOF34txaZjY+648XyWfr1z1zaH0V39WlJ1rL3aSxYIQ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84cca37b-bc8a-d9cf-e9e4-bc36c14a9c95/test-blob-85e307f1-a1a3-0ca1-bded-4e0c7da883bf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684C9278F6D\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84cca37b-bc8a-d9cf-e9e4-bc36c14a9c95/test-blob-85e307f1-a1a3-0ca1-bded-4e0c7da883bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684C9278F6D\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:03 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684C9278F6D\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "fGRf8EsJnf1QiiInueJRgDDjtCDx9GxheKjNEacMG4cIoHEkCcONdwJbV54gSofcuVUWQyU6cIf3/XeiPItWRG6bHxlxLXdtVT0elZzOQC0h8FdR9thizS/pLAtL6jp2BRMvhStta4zdqO3nHNvqKbxJgUszBE2VOVHphwBrIWo="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84cca37b-bc8a-d9cf-e9e4-bc36c14a9c95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1453282295",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
