{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3671e77-46b8-d32f-0873-a0eeb7a2f7cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC7C06CD9\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3671e77-46b8-d32f-0873-a0eeb7a2f7cd/test-blob-8c489504-bf38-5f38-7318-0682db15b1ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC7C7C2A4\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3671e77-46b8-d32f-0873-a0eeb7a2f7cd/test-blob-8c489504-bf38-5f38-7318-0682db15b1ab?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECC7C7C2A4\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ajk47Dj/HW6rOWmHJnSlgu7dLbIOamhPhjEByCftP01xjlD0TZiKweYl4CuTZA90C16WEQ4Mg//R6GYG/VVGvfkbFZcjsDVVU2zM6Io8vCEijb3JVi4/ZAtRI2QxhMOR3yIyd053UFooQL6iQJp1lCxF43CYfWbL3LCM0o3RJM6oOglnCkTSqzxioBVwnSRw24437KBS+WG8Zpue6n7MVhzv+QaRDorocjg0NdxRWj6MG/f+mjgtVUGnq6OoNMC+lkr5gKMe3s0ETnloHsSFagtcEs+GzrzjwaPF6mPmPz53dp+SV9qabTwp+ku+xTd9IkCXTCHxN8iNFb//WfRqHQ878Kcl8hMxwaSSXNRwJfxsSMgiT/Mchj/WBEEamhRIv9w7gtSPVy8sZYp9XtrzHfDCkxErR84[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3671e77-46b8-d32f-0873-a0eeb7a2f7cd/test-blob-8c489504-bf38-5f38-7318-0682db15b1ab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECC7CF5B3B\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3671e77-46b8-d32f-0873-a0eeb7a2f7cd/test-blob-8c489504-bf38-5f38-7318-0682db15b1ab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECC7CF5B3B\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:48 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECC7CF5B3B\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "ajk47Dj/HW6rOWmHJnSlgu7dLbIOamhPhjEByCftP01xjlD0TZiKweYl4CuTZA90C16WEQ4Mg//R6GYG/VVGvfkbFZcjsDVVU2zM6Io8vCEijb3JVi4/ZAtRI2QxhMOR3yIyd053UFooQL6iQJp1lCxF43CYfWbL3LCM0o3RJM4="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3671e77-46b8-d32f-0873-a0eeb7a2f7cd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1362646493",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
