{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f7c851a-17bb-0448-96f2-fee8cfa16ade?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684D5A17492\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f7c851a-17bb-0448-96f2-fee8cfa16ade/test-blob-da4eafd6-1644-b4d5-4d46-2763d5b2a70a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684D5AF91BC\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f7c851a-17bb-0448-96f2-fee8cfa16ade/test-blob-da4eafd6-1644-b4d5-4d46-2763d5b2a70a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684D5AF91BC\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "HJqLWxByiQMRmkku3nQ0glxhXCvQCyMw/Pm1B9ZnogM2AbY2iDqMGRrNTiDnfMO5OL6v3ZYrZxF3Wl8WvYItqfhF+N2+/voi1UMRA7wCSH82+84Xt8RtC5mkvy3bdVyYn6QoooTm+zrDjQhSGWNUdBLf4MKzFfEz1+1DGT7MRmDneGMY2aX7T/+UVCq8GvE1UEob+5Sa5Ymy9MuWo+L790aoa6D/PJps5JHCHsHHd7z8Dcn0sEvLTZPaZuXaZKwdmV3jE69QNROvrxYC18bI6n0PmpUZBkb73B4NJdW1kX/lpYVk42MNq9i1RAE0yHXNEXtnysoWA5IX6DaQQg8++h2XHTFAYwcaAu69ZMJExhOpQBNZTsa1zqHzTfssfGnIdkrjnatDjK50TMjbWZ/Q0iEj5wL85Kt[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f7c851a-17bb-0448-96f2-fee8cfa16ade/test-blob-da4eafd6-1644-b4d5-4d46-2763d5b2a70a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684D5BB779A\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f7c851a-17bb-0448-96f2-fee8cfa16ade/test-blob-da4eafd6-1644-b4d5-4d46-2763d5b2a70a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684D5BB779A\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:24 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684D5BB779A\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "HJqLWxByiQMRmkku3nQ0glxhXCvQCyMw/Pm1B9ZnogM2AbY2iDqMGRrNTiDnfMO5OL6v3ZYrZxF3Wl8WvYItqfhF+N2+/voi1UMRA7wCSH82+84Xt8RtC5mkvy3bdVyYn6QoooTm+zrDjQhSGWNUdBLf4MKzFfEz1+1DGT7MRmA="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f7c851a-17bb-0448-96f2-fee8cfa16ade?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "125391018",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
