{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aa5e4214-8ff0-ef53-04ea-783e415ba739?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBBAD8F94\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:18 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aa5e4214-8ff0-ef53-04ea-783e415ba739/test-blob-803352c7-e690-06ec-aecd-823fd9355d07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECBBB4C537\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aa5e4214-8ff0-ef53-04ea-783e415ba739/test-blob-803352c7-e690-06ec-aecd-823fd9355d07?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECBBB4C537\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "N2gQLS8pDrx7MtkJ01odwwNr5Icx1miqrNV9X6QCR9rUI8JpMLneMatuVp5AbU7DTfDAeRKLZmD/ZYBarK8Xeev/Na+Ys5JKjLLbwoDKaj6GuhG0Qc3HSL1haso4hIX8VtyyQDieKppdduxfsKPgNPtC0/GdYzgdOOzyN0jIEQgt32yjGCkG6I93V8rgZ5gZgDXP9rGTXvOklAhLq/NRlGTkMtA3PRzRPOpiJgttPNFU2LYT+RtWmoB4/oMhujybJcJl/DXH4kIY/bnGMDfoN1c399I9PptIjZdQvz6YsIGtxwFJB0CcjfZz+vxij2pJkMcs6cNqXucnHG6ddyIEgEw3GGg2ny8Xm2rcyUOf5v0sBi93bMa+Q2kZIerS/hXTb3qvKncBEvGYFU5ZjZSjhzZwcHDzjRO[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aa5e4214-8ff0-ef53-04ea-783e415ba739/test-blob-803352c7-e690-06ec-aecd-823fd9355d07",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBBBC5DD0\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aa5e4214-8ff0-ef53-04ea-783e415ba739/test-blob-803352c7-e690-06ec-aecd-823fd9355d07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECBBBC5DD0\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECBBBC5DD0\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aa5e4214-8ff0-ef53-04ea-783e415ba739?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1120813356",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
