{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-67d254ff-0305-fb1c-54b6-c0d2da9b9670?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC4391673\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-67d254ff-0305-fb1c-54b6-c0d2da9b9670/test-blob-4e6f0d07-d7b7-c9b1-cf26-db6463f66df2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC44096A1\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-67d254ff-0305-fb1c-54b6-c0d2da9b9670/test-blob-4e6f0d07-d7b7-c9b1-cf26-db6463f66df2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECC44096A1\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "MAE9+0U1vfrgqbBqdUiOgTlmqNaOqGpX91LkPEIQeK9vg6JslYEU80YSDVxM+CdQEEArSV5Ve4iW5gPzUIG3zzAA+vKlIey3UbSQe5oOCv8rlCwC5S9RGgca1a99IaPEWz0rS/40qu5Uc/epxQDtiNsEx7xVtOoBr+Dqi0s9OTARyx9c4r8A9uk9rnE3p1QHLE3TeVnmb6dTKZwdSR+iFznHl/nhkaUcA9HSFwZ4ygeL41/9acDWKlt3Cbgi46zKm5c4bxBbJZuot3WIFFih2l+UkmbApK148W2eaYjs+SAkCHxvQFr3ML3DVbFLTRYD1i5ZjlBGCvbpv36jvLwTvL5VZAvcMpkEnWKo/E/8LaNWm5JZkmrQ3v2FhYHcVHMBsJny9ukKJqSUVPHtng6n7ZHaTCEpuSl[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-67d254ff-0305-fb1c-54b6-c0d2da9b9670/test-blob-4e6f0d07-d7b7-c9b1-cf26-db6463f66df2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECC4485627\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-67d254ff-0305-fb1c-54b6-c0d2da9b9670/test-blob-4e6f0d07-d7b7-c9b1-cf26-db6463f66df2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECC4485627\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECC4485627\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "Response[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-67d254ff-0305-fb1c-54b6-c0d2da9b9670/test-blob-4e6f0d07-d7b7-c9b1-cf26-db6463f66df2?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC465CF29\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-67d254ff-0305-fb1c-54b6-c0d2da9b9670?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1434950302",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
