{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-560110e9-b464-1e03-3231-c6e9ccea10da?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECB6C81F7E\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-560110e9-b464-1e03-3231-c6e9ccea10da/test-blob-482328b3-baee-803d-fe45-b9c9d72d3896",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECB6CF6B68\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-560110e9-b464-1e03-3231-c6e9ccea10da/test-blob-482328b3-baee-803d-fe45-b9c9d72d3896?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECB6CF6B68\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "fFGS5x4JKlvdKcG5RtuVzBU2fsUaK5OzjrxE481YGPPDkqs30jRyYdt0Bx3YpUsewvTFiSIhwVG931hhxUaNhBDN9bMwXvnhwx3qpSN22ulxJSHZko/QotBaevPcEJyU54INCq+X7mT65MUFNxstRwVu758ls/KB/VPi1eMGBbOBVb6gac862je8363Jy2q1LDLubSD8bjSQiw1ctBiA898Sg+FdjN01NBVoaNNEtzHoLaixF5eSheaJEN3B3iYePOzOtkiJWKBVuDkLkwZgTNPcc4Zvz9tHgP7603wAc1bvSSzndQHpX9QIW19ehvHgKcMJ5Wqfr20QhzZJjoUjVETjG0naeNbS8xSxZ3N86fkNGqm49o7rT5q+1+7Ln9BP5AYaemqnBrDsN/FW7Uj5k508PHTba16[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-560110e9-b464-1e03-3231-c6e9ccea10da/test-blob-482328b3-baee-803d-fe45-b9c9d72d3896",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECB6D6B63D\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-560110e9-b464-1e03-3231-c6e9ccea10da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1520981213",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
