{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5a1f9b23-e7d6-c713-8971-39608a6cba1d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684DA9A14E2\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5a1f9b23-e7d6-c713-8971-39608a6cba1d/test-blob-9c99bdeb-5181-2277-f2f2-01f150c5a468",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684DAA96836\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5a1f9b23-e7d6-c713-8971-39608a6cba1d/test-blob-9c99bdeb-5181-2277-f2f2-01f150c5a468?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684DAA96836\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "DGoBZN8PuvGHR49+LXpdMmFQEDzmZy+kHS8COTJ2oTWoTI3/VasJQJOUzKbE/Mm1u8w85YVzhaQ7XUavDIG+EKZZ1eDtXty1Rs+oUpuJ3yBmTX1mOruvNcbow/dkWjMS1bz/ayfox13vhp61yjMJsn0mSL8DWNXrqZ8ZBJvkUOycln3eiXT5foUfdrMc+muT3hF6PhJ0Dn3mFMGHzsPCCjWyGTS1KigJLMo64+Eizq80hiWJahLZJ4f/+HWzcq/CXWt+auA33bTocBFIOSqbw0YRUkidOKAj2PGstjGyVroaeIZ1o2PP/ahxofoAke5dZDUvoR9mJCXLW5HviieCNRpWLcGkJSDiQlWgK5alIkcDTlH8g7SbtFNgqkjS33KA72vfqmMtuT4UTV7JxfiOJThJ6zvVhbJ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5a1f9b23-e7d6-c713-8971-39608a6cba1d/test-blob-9c99bdeb-5181-2277-f2f2-01f150c5a468",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684DAB6AD86\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5a1f9b23-e7d6-c713-8971-39608a6cba1d/test-blob-9c99bdeb-5181-2277-f2f2-01f150c5a468",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684DAB6AD86\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:32 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684DAB6AD86\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "9Hl8PKKhTgqPr0QJNlphUmWMTxy5tujG4vXPY3WLGf9ewoW4nEyQT36J5CZ60zGG6ksjiyqvAD6Rtlmt0euUA5ZFq3PUqLUZ+wCdMNHBTA/ESXgpaI3UrsJGJuby432T9OCPNCe9sUKVCY8qEs9sz2pK6Ihza5sIcP2xjYHPJxc="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5a1f9b23-e7d6-c713-8971-39608a6cba1d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1609720269",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
