{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-edf94e42-4bfa-c5f5-8136-c1dd0e66f203?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684DCCA0C9E\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-edf94e42-4bfa-c5f5-8136-c1dd0e66f203/test-blob-34443813-068a-2ebb-62cf-f9f7e78f4634",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684DCD7FF8D\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-edf94e42-4bfa-c5f5-8136-c1dd0e66f203/test-blob-34443813-068a-2ebb-62cf-f9f7e78f4634?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684DCD7FF8D\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "O1lUmUZSmzsR94jVSTsTwOPiO1hB2qB4p777jpT5MSaf4X9YbLqYTxvpBmvWMIJbl7Ff7QIu3mC42/GIVgymGMZhNWi7u1MoSew8V9Q1oXc7oPfimUMkcAIen5DIEPgOQu6ldfoan9teNqMV8YeMgzl6TLYVxH6CPcVlnRvCYDn0LRTljyx9IAAbhGKgDn57kRxXTcNB+X5wIjc0tALAnNZqIcRzp/MN/Cy2+T8b4S5G6gv/axJ1sjOVdW31SGv9WuiMNu26B+ooSVGXiwA/VEAI7sr2wTDD9G6Q3TGGF7PAuJ5XjqtBi+Ih1iHB3iYzViAs7FqhB5m3yUJ+Kiq5oTKd1tNh58aVxmPn1esPARVHXIcQWitZHrEFn8Vpw2C4aDXvIwdT0m5alyX3ujGuqMcsNs6iqEY[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-edf94e42-4bfa-c5f5-8136-c1dd0e66f203/test-blob-34443813-068a-2ebb-62cf-f9f7e78f4634",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684DCE40C74\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-edf94e42-4bfa-c5f5-8136-c1dd0e66f203/test-blob-34443813-068a-2ebb-62cf-f9f7e78f4634",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684DCE40C74\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:36 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684DCE40C74\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "O1lUmUZSmzsR94jVSTsTwOPiO1hB2qB4p777jpT5MSaf4X9YbLqYTxvpBmvWMIJbl7Ff7QIu3mC42/GIVgymGMZhNWi7u1MoSew8V9Q1oXc7oPfimUMkcAIen5DIEPgOQu6ldfoan9teNqMV8YeMgzl6TLYVxH6CPcVlnRvCYDk="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-edf94e42-4bfa-c5f5-8136-c1dd0e66f203?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1022018451",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
