{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684E4AD3290\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2/test-blob-3cb1e3e5-0373-f9ec-4af0-710e3da6bf79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684E4BCF686\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2/test-blob-3cb1e3e5-0373-f9ec-4af0-710e3da6bf79?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8684E4BCF686\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "aasHVM44awfk+t7VorNeMyPAXZyKCO4b1n/iotfYUjDTZo6Tp5QMnGE5mekxr18atet0HRqQE2G9635OVskvC6itATsky4uPtMA6UG4E6iYfyOzrYzQWQ1Mt1rwVvUaYCo5BhK4k9epg5WlZVcLyuABYLo7cQ6dzlr7o9/XOefZ6oUbgw2V4+9IBi37Lve2ROx28vY64vMbmze3vO/71kWxz3rR7EfSa3zO727gpqNnRV7vXErtnweWA+vV3iL/TC/kRWN44FSkpId1b/OENvCUUHeRDHn+xCx3O+xf+I1dz6M+/GFD6mEGSrfHdDMUEcj7QYmvbkO16YEzBahkRKv6G5xMRTqPVGoSisHCN0/5YyonZLsDsmFjhRbgDOS4ogILzViSx8iSa+kjmON987IxNaaCQOPw[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2/test-blob-3cb1e3e5-0373-f9ec-4af0-710e3da6bf79",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E4CA3BDB\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2/test-blob-3cb1e3e5-0373-f9ec-4af0-710e3da6bf79",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8684E4CA3BDB\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:49 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E4CA3BDB\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "aasHVM44awfk+t7VorNeMyPAXZyKCO4b1n/iotfYUjDTZo6Tp5QMnGE5mekxr18atet0HRqQE2G9635OVskvC6itATsky4uPtMA6UG4E6iYfyOzrYzQWQ1Mt1rwVvUaYCo5BhK4k9epg5WlZVcLyuABYLo7cQ6dzlr7o9/XOefZ6oUbgw2V4+9IBi37Lve2ROx28vY64vMbmze3vO/71kWxz3rR7EfSa3zO727gpqNnRV7vXErtnweWA+vV3iL/TC/kRWN44FSkpId1b/OENvCUUHeRDHn+xCx3O+xf+I1dz6M+/GFD6mEGSrfHdDMUEcj7QYmvbkO16YEzBahkRKg=="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2/test-blob-298e7bcf-b0a7-0192-829f-6921a66d2b1a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 06 Jun 2024 00:00:49 GMT",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E51C256F\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2/test-blob-11c3c4cc-7a53-dbe5-3557-e1c24fcef04e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 08 Jun 2024 00:00:49 GMT",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E56F2060\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2/test-blob-a3c5b5b0-3252-f829-157e-1c82f8be4849",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8684E61738EF\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:00:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2/test-blob-9b9df393-6264-900b-1560-1967b2ac0f19?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "de5c74f6-3b2c-83d4-69de-d425085336ea",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684E665042B\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:53 GMT",
        "x-ms-lease-id": "de5c74f6-3b2c-83d4-69de-d425085336ea",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b54fd-a6d5-9cab-e20c-9a3369cb86d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T19:00:49.5615918-05:00",
    "RandomSeed": "1546507936",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
