{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-af7a1089-14df-0205-94cc-21cae0a0b6f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC644CF10\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-af7a1089-14df-0205-94cc-21cae0a0b6f5/test-blob-a20ba57e-57c4-7c0b-9fc1-b8b5e368328f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECC64C1BF6\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-af7a1089-14df-0205-94cc-21cae0a0b6f5/test-blob-a20ba57e-57c4-7c0b-9fc1-b8b5e368328f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CECC64C1BF6\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "B73Wo/3V13NAfHHOBCFNlt6T/nGtVUgAaWQAc5C41EK/eNz3J0qP95d/IC88I5o71e85lP3f6bF01TmY1GPiiKguD4xEVW+TAwfaLjUYw0bKxZ2hfj9F344rglER9iIznJeHDRMN9n9/pZD2Bbt8XBHzzg/GQQpo6TD9GdMegg3lppKdkbYyvM4dItmuT9rTriY/HigTbVuNHyTjEN2sYSKDEV4p3spbwBJAqB8wuZpVKWqs3mTk0Tk2EHGRTqvxccC2Kz17qtBb410W0sU7XGaJjeZy/4O+nz8l8s5ZynJmTjZeeo5c2X+aUfoHzv9z+7MLB8DFf3I994v+VrcBAhnrsISO3eLYLbRm162It9FAsfcbTcKxoM/EIIICXYPHmE/hHB575B3RM9oMXqfEtUC6vqTA5rR[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-af7a1089-14df-0205-94cc-21cae0a0b6f5/test-blob-a20ba57e-57c4-7c0b-9fc1-b8b5e368328f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECC653B488\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:23:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:23:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-af7a1089-14df-0205-94cc-21cae0a0b6f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:23:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "875370084",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
