{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed?api-version=2024-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed",
        "name": "mobileneiwqFed",
        "type": "microsoft.mobilenetwork/mobilenetworks",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T02:33:50.7034568Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T02:33:50.7034568Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          },
          "serviceKey": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed/dataNetworks/datanetwjjCXm0?api-version=2024-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "description": "myFavouriteDataNetwork"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*ADAEA132DA458968294B4A1DD63F68B5958F8B133C493B15F211DC1390F0D95C?api-version=2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed/dataNetworks/datanetwjjCXm0",
        "name": "datanetwjjCXm0",
        "type": "microsoft.mobilenetwork/mobilenetworks/datanetworks",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T02:33:52.7191119Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T02:33:52.7191119Z"
        },
        "properties": {
          "description": "myFavouriteDataNetwork",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*ADAEA132DA458968294B4A1DD63F68B5958F8B133C493B15F211DC1390F0D95C?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11979"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*ADAEA132DA458968294B4A1DD63F68B5958F8B133C493B15F211DC1390F0D95C",
        "name": "00000000-0000-0000-0000-000000000000*ADAEA132DA458968294B4A1DD63F68B5958F8B133C493B15F211DC1390F0D95C",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed/dataNetworks/datanetwjjCXm0",
        "status": "Accepted",
        "startTime": "2023-08-24T02:33:53.5012914Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed/dataNetworks?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "739a33a2-a003-4df0-8d83-b65d90cddfaf",
          "0a655405-845d-4eec-b651-bba300c7f832",
          "8fec8bfa-b51b-4ef0-98dd-4c1c0ad062f5"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed/dataNetworks/datanetwjjCXm0",
            "name": "datanetwjjCXm0",
            "type": "microsoft.mobilenetwork/mobilenetworks/datanetworks",
            "location": "eastus",
            "systemData": {
              "createdBy": "00000000-0000-0000-0000-000000000000",
              "createdByType": "Application",
              "createdAt": "2023-08-24T02:33:52.7191119Z",
              "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-24T02:33:52.7191119Z"
            },
            "properties": {
              "description": "myFavouriteDataNetwork",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed/dataNetworks/datanetwjjCXm0?api-version=2024-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed/dataNetworks/datanetwjjCXm0",
        "name": "datanetwjjCXm0",
        "type": "microsoft.mobilenetwork/mobilenetworks/datanetworks",
        "location": "eastus",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T02:33:52.7191119Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T02:34:27.5788284Z"
        },
        "properties": {
          "description": "myFavouriteDataNetwork",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneiwqFed/dataNetworks/datanetwjjCXm0?api-version=2024-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*ADAEA132DA458968294B4A1DD63F68B5958F8B133C493B15F211DC1390F0D95C?api-version=2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*ADAEA132DA458968294B4A1DD63F68B5958F8B133C493B15F211DC1390F0D95C?api-version=2024-02-01",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ5ODMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1692844426",
    "recordingRandomSeed": "0"
  }
}
