{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneOTbc8N?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneOTbc8N",
        "name": "mobileneOTbc8N",
        "type": "microsoft.mobilenetwork/mobilenetworks",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T02:51:00.0537142Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T02:51:00.0537142Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          },
          "serviceKey": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneOTbc8N/services/servicenhwzBSi?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "pccRules": [
            {
              "ruleName": "default-rule",
              "rulePrecedence": 255,
              "ruleQosPolicy": {
                "5qi": 9,
                "allocationAndRetentionPriorityLevel": 9,
                "maximumBitRate": {
                  "downlink": "1 Gbps",
                  "uplink": "500 Mbps"
                },
                "preemptionCapability": "NotPreempt",
                "preemptionVulnerability": "Preemptable"
              },
              "serviceDataFlowTemplates": [
                {
                  "direction": "Uplink",
                  "ports": [],
                  "protocol": [
                    "ip"
                  ],
                  "remoteIpList": [
                    "10.3.4.0/24"
                  ],
                  "templateName": "IP-to-server"
                }
              ],
              "trafficControl": "Enabled"
            }
          ],
          "servicePrecedence": 255,
          "serviceQosPolicy": {
            "5qi": 9,
            "allocationAndRetentionPriorityLevel": 9,
            "maximumBitRate": {
              "downlink": "1 Gbps",
              "uplink": "500 Mbps"
            },
            "preemptionCapability": "NotPreempt",
            "preemptionVulnerability": "Preemptable"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*7735CB1F96337985C6C9BDB5714B6DC269D1ECF232A44B18175F3B7B751B33A0?api-version=2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1171"
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*7735CB1F96337985C6C9BDB5714B6DC269D1ECF232A44B18175F3B7B751B33A0?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11938"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*7735CB1F96337985C6C9BDB5714B6DC269D1ECF232A44B18175F3B7B751B33A0",
        "name": "00000000-0000-0000-0000-000000000000*7735CB1F96337985C6C9BDB5714B6DC269D1ECF232A44B18175F3B7B751B33A0",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneOTbc8N/services/servicenhwzBSi",
        "status": "Accepted",
        "startTime": "2023-08-24T02:51:02.8052974Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneOTbc8N/services?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "0fa5377d-9759-4509-b93c-e4733f073750",
          "4f2db64d-ed62-4ca1-b4ec-ea5b7bf4eaae",
          "699edc6b-e65c-4c5c-8359-f686ff54c699"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneOTbc8N/services/servicenhwzBSi",
            "name": "servicenhwzBSi",
            "type": "microsoft.mobilenetwork/mobilenetworks/services",
            "location": "eastus",
            "systemData": {
              "createdBy": "00000000-0000-0000-0000-000000000000",
              "createdByType": "Application",
          [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneOTbc8N/services/servicenhwzBSi?api-version=2023-09-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1170"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobile[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneOTbc8N/services/servicenhwzBSi?api-version=2023-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*7735CB1F96337985C6C9BDB5714B6DC269D1ECF232A44B18175F3B7B751B33A0?api-version=2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*7735CB1F96337985C6C9BDB5714B6DC269D1ECF232A44B18175F3B7B751B33A0?api-version=2023-09-01",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14988"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ0MDMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14987"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1692845456",
    "recordingRandomSeed": "0"
  }
}
