{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG",
        "name": "mobileneCg9mXG",
        "type": "microsoft.mobilenetwork/mobilenetworks",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T03:14:16.4838551Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T03:14:16.4838551Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          },
          "serviceKey": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG/slices/slicenamOtRxTE?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "description": "myFavouriteSlice",
          "snssai": {
            "sd": "1abcde",
            "sst": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*82C72CE471D64F4CB920DF504585CF163F77466C52A04FD762CBB374406C2EB1?api-version=2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1180"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG/slices/slicenamOtRxTE",
        "name": "slicenamOtRxTE",
        "type": "microsoft.mobilenetwork/mobilenetworks/slices",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T03:14:19.1245047Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T03:14:19.1245047Z"
        },
        "properties": {
          "description": "myFavouriteSlice",
          "snssai": {
            "sd": "1abcde",
            "sst": 1
          },
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*82C72CE471D64F4CB920DF504585CF163F77466C52A04FD762CBB374406C2EB1?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11957"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*82C72CE471D64F4CB920DF504585CF163F77466C52A04FD762CBB374406C2EB1",
        "name": "00000000-0000-0000-0000-000000000000*82C72CE471D64F4CB920DF504585CF163F77466C52A04FD762CBB374406C2EB1",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG/slices/slicenamOtRxTE",
        "status": "Accepted",
        "startTime": "2023-08-24T03:14:20.0063984Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG/slices?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "159f7f57-51e4-4fb5-971f-f08ce90df788",
          "1fe2a9e9-9120-4095-91ec-beaba7d67601",
          "77417e47-06bb-4e23-a008-f1d9193ed452"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG/slices/slicenamOtRxTE",
            "name": "slicenamOtRxTE",
            "type": "microsoft.mobilenetwork/mobilenetworks/slices",
            "location": "eastus",
            "systemData": {
              "createdBy": "00000000-0000-0000-0000-000000000000",
              "createdByType": "Application",
              "createdAt": "2023-08-24T03:14:19.1245047Z",
              "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-24T03:14:19.1245047Z"
            },
            "properties": {
              "description": "myFavouriteSlice",
              "snssai": {
                "sd": "1abcde",
                "sst": 1
              },
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG/slices/slicenamOtRxTE?api-version=2023-09-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG/slices/slicenamOtRxTE",
        "name": "slicenamOtRxTE",
        "type": "microsoft.mobilenetwork/mobilenetworks/slices",
        "location": "eastus",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T03:14:19.1245047Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T03:15:55.6409685Z"
        },
        "properties": {
          "description": "myFavouriteSlice",
          "snssai": {
            "sd": "1abcde",
            "sst": 1
          },
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobileneCg9mXG/slices/slicenamOtRxTE?api-version=2023-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*82C72CE471D64F4CB920DF504585CF163F77466C52A04FD762CBB374406C2EB1?api-version=2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*82C72CE471D64F4CB920DF504585CF163F77466C52A04FD762CBB374406C2EB1?api-version=2023-09-01",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14991"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQxMDUtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1692846854",
    "recordingRandomSeed": "0"
  }
}
