{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU",
        "name": "mobilenesCU9FU",
        "type": "microsoft.mobilenetwork/mobilenetworks",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T03:13:33.3584909Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T03:13:33.3584909Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          },
          "serviceKey": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU/sites/sitenameRvrgAU?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU/sites?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "1b2711be-0c1a-4554-b786-ee4fc26445ad",
          "06c1c6e6-c757-427c-91b9-0bc9e9c4c88a",
          "4c00bef0-b56d-4ef3-810a-2876b4c5787d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU/sites/sitenameRvrgAU",
            "name": "sitenameRvrgAU",
            "type": "microsoft.mobilenetwork/mobilenetworks/sites",
            "location": "eastus",
            "systemData": {
              "createdBy": "00000000-0000-0000-0000-000000000000",
              "createdByType": "Application",
              "createdAt": "2023-08-24T03:13:35.280441Z",
              "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-24T03:13:35.280441Z"
            },
            "properties": {
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU/sites/sitenameRvrgAU?api-version=2023-09-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU/sites/sitenameRvrgAU",
        "name": "sitenameRvrgAU",
        "type": "microsoft.mobilenetwork/mobilenetworks/sites",
        "location": "eastus",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-08-24T03:13:35.280441Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-24T03:13:38.0929394Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU/sites/sitenameRvrgAU?api-version=2023-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4?api-version=2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4?api-version=2023-09-01",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1.0.1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14993"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/eastus/operationStatuses/00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4?api-version=2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/eastus/operationStatuses/00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4?api-version=2023-09-01",
        "x-ms-ratelimit-remaining-tenant-reads": "11959"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4",
        "name": "00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU/sites/sitenameRvrgAU",
        "status": "Deleting",
        "startTime": "2023-08-24T03:13:41.1998549Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11958"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4",
        "name": "00000000-0000-0000-0000-000000000000*3C9D1FA5F01BA101027C9FB62C1591417272D2CDA89DD271F49964350F7B37E4",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.MobileNetwork/mobileNetworks/mobilenesCU9FU/sites/sitenameRvrgAU",
        "status": "Succeeded",
        "startTime": "2023-08-24T03:13:41.1998549Z",
        "endTime": "2023-08-24T03:14:07.0896509Z",
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ4MDktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14992"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1692846810",
    "recordingRandomSeed": "0"
  }
}
