{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Triage Resource Provider - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/troubleshooters/0c16f71c-e791-4da2-80d7-f93ddfa2c226?api-version=2024-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "solutionId": "e104dbdf-9e14-4c9f-bc78-21ac90382231",
          "parameters": {
            "ResourceUri": "/subscriptions/02d59989-f8a9-4b69-9919-1ef51df4eff6/resourceGroups/AcisValidation/providers/Microsoft.Compute/virtualMachines/vm-for-validation-port-80",
            "PuID": "100320019A2D7EB8",
            "SubscriptionId": "02d59989-f8a9-4b69-9919-1ef51df4eff6",
            "SapId": "1c2f964e-9219-e8fe-f027-95330b445941",
            "language": "en-us",
            "SessionId": "63e88074-1ac0-475a-8aee-e33f8477a4b3",
            "TimeZone": "GMT-0800 (Pacific Standard Time)",
            "TimeZoneOffset": "480",
            "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "ProductId": "15571",
            "UserIPAddress": "174.164.29.4"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/troubleshooters/0c16f71c-e791-4da2-80d7-f93ddfa2c226",
        "name": "0c16f71c-e791-4da2-80d7-f93ddfa2c226",
        "type": "Microsoft.Help/troubleshooters",
        "properties": {
          "provisioningState": "AutoContinue",
          "solutionId": "e104dbdf-9e14-4c9f-bc78-21ac90382231",
          "steps": [
            {
              "id": "37062c09-b296-4c39-9ab6-b9b79e3f1ddd",
              "title": "Intro Step",
              "type": "Decision",
              "executionStatus": "Success",
              "isLastStep": false,
              "inputs": [
                {
                  "questionId": "0",
                  "questionType": "MultiLineInfoBox",
                  "questionContent": "{\"title\":\"Connectivity Guided Troubleshooter\",\"content\":\"This guided troubleshooter will enable you to self-troubleshoot your Virtual Machine (VM) SSH issues by checking VM health state, network settings, CPU and memory usage, etc. It typically takes between 3 to 5 minutes to complete the flow.\"}",
                  "questionContentType": "Text"
                }
              ]
            }
          ]
        }
      }
    },
[...]
