{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Triage Resource Provider - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/troubleshooters/a27fc9ab-0e7f-4b26-a674-6be74ecd18b3?api-version=2023-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "solutionId": "e104dbdf-9e14-4c9f-bc78-21ac90382231",
          "parameters": {
            "ResourceUri": "/subscriptions/02d59989-f8a9-4b69-9919-1ef51df4eff6/resourceGroups/AcisValidation/providers/Microsoft.Compute/virtualMachines/vm-for-validation-port-80",
            "PuID": "100320019A2D7EB8",
            "SubscriptionId": "02d59989-f8a9-4b69-9919-1ef51df4eff6",
            "SapId": "1c2f964e-9219-e8fe-f027-95330b445941",
            "language": "en-us",
            "SessionId": "63e88074-1ac0-475a-8aee-e33f8477a4b3",
            "TimeZone": "GMT-0800 (Pacific Standard Time)",
            "TimeZoneOffset": "480",
            "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "ProductId": "15571",
            "UserIPAddress": "174.164.29.4"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/troubleshooters/a27fc9ab-0e7f-4b26-a674-6be74ecd18b3",
        "name": "a27fc9ab-0e7f-4b26-a674-6be74ecd18b3",
        "type": "Microsoft.Help/troubleshooters",
        "properties": {
          "provisioningState": "AutoContinue",
          "solutionId": "e104dbdf-9e14-4c9f-bc78-21ac90382231",
          "steps": [
            {
              "id": "1a17fa46-35b6-43b3-a130-034d2aa518ce",
              "title": "Intro Step",
              "type": "Decision",
              "executionStatus": "Success",
              "isLastStep": false,
              "inputs": [
                {
                  "questionId": "0",
                  "questionType": "MultiLineInfoBox",
                  "questionContent": "{\u0022title\u0022:\u0022Connectivity Guided Troubleshooter\u0022,\u0022content\u0022:\u0022This guided troubleshooter will enable you to self-troubleshoot your Virtual Machine (VM) SSH issues by checking VM health state, network settings, CPU and memory usage, etc. It typically takes between 3 to 5 minutes to complete the flow.\u0022}",
                  "questionContentType": "Text"
                }
              ]
            }
          ]
        }
      }
    },
[...]
