{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"F8r28DNMqudl_eL7a8Bj1suGtGRguzR7kFcGmGWFaYo\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3MDI=;sn=74232702"
      },
      "ResponseBody": {
        "etag": "F8r28DNMqudl_eL7a8Bj1suGtGRguzR7kFcGmGWFaYo",
        "items": [
          {
            "etag": "T08badeYWbUPhJng-84GLI6fHB5OJOfPb_ceIb3syJE",
            "key": ".appconfig.featureflag/name-1637-2",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm new description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:44:07+00:00"
          },
          {
            "etag": "hfUr7HDbJexkSPNfzAWN6g21tJc7ttRBR8LTCd2EAP0",
            "key": "key1-1759423931875",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2025-10-02T16:52:17+00:00"
          },
          {
            "etag": "eIHscSwSBG0nJjkZ10L62rfJpSqTvQI8DWFyY_KDRn4",
            "key": "key2-1759423931875",
            "label": "label2",
            "content_type": null,
            "value": "value2",
            "tags": {
              "production": "2"
            },
            "locked": false,
            "last_modified": "2025-10-02T16:52:17+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
