{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"R5mrnCjAPNfmuKnD5R-3zf34yCer9Gf5qXiGylAMyiM\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI2Nzk=;sn=74232679"
      },
      "ResponseBody": {
        "etag": "R5mrnCjAPNfmuKnD5R-3zf34yCer9Gf5qXiGylAMyiM",
        "items": [
          {
            "etag": "T08badeYWbUPhJng-84GLI6fHB5OJOfPb_ceIb3syJE",
            "key": ".appconfig.featureflag/name-1637-2",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm new description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:44:07+00:00"
          },
          {
            "etag": "M-lNNGLPd9vXIQaYgSMlHdVCKLQPS5JMq_E4zUYZTDY",
            "key": "etags115",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:52:17+00:00"
          },
          {
            "etag": "6NNEktPIdQwBMDKurFfl5Os_Sn4tVOlRAz37sQQwhD4",
            "key": "etags52",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:52:17+00:00"
          },
          {
            "etag": "hfUr7HDbJexkSPNfzAWN6g21tJc7ttRBR8LTCd2EAP0",
            "key": "key1-1759423931875",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2025-10-02T16:52:17+00:00"
          },
          {
            "etag": "NyiGcVK3ooxYXNrJC8CH6UfODpRYLNPKG_3ZXOKIyog",
            "key": "noLabelTests32",
            "label": null,
            "content_type": null,
            "value": "added",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:52:17+00:00"
          },
          {
            "etag": "j79wUZKT1fOmfqCx2yYJDdXu9ZnOi8CiqBtiuycgSpk",
            "key": "readOnlyTests128",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:52:17+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
