{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"s3VAHHxHAC96jbXDsFz79d1uUs_PZT-YKyQWHvtmOnQ\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk3NA==;sn=103845974",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:55 GMT"
      },
      "ResponseBody": {
        "etag": "s3VAHHxHAC96jbXDsFz79d1uUs_PZT-YKyQWHvtmOnQ",
        "items": [
          {
            "etag": "-Mm3_CZ6j8hRbYo2Ipa3KkdNpEtgyUrz0_RV0fCmBUY",
            "key": ".appconfig.featureflag/name-1842-2",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm new description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T09:02:22+00:00"
          },
          {
            "etag": "ypI5f63VIkpuf2qx2doUu8wEyyXp8y4EsMA_HQ33Oyg",
            "key": ".appconfig.featureflag/name-1992",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-1\",\"enabled\":true,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 [...]
