{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"B9zYiZYXpnRZU-pfn-07Mr_iKb43xQ6mcBq3AYV-yu0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgxNzk=;sn=73738179"
      },
      "ResponseBody": {
        "etag": "B9zYiZYXpnRZU-pfn-07Mr_iKb43xQ6mcBq3AYV-yu0",
        "items": [
          {
            "etag": "jiHKloTphY41trulfLXhWQpmiNWb6gZofZ1ehpH-_68",
            "key": ".appconfig.featureflag/name-1638-2",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-1638-2\",\"enabled\":false,\"description\":\"I'm new description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}]},\"display_name\":\"for display\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T09:42:27+00:00"
          },
          {
            "etag": "fdp2ayJPNNZZ1KeX8iyOH70q8j3SAJd6ethBRimtg7c",
            "key": ".appconfig.featureflag/name-1956",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-1956\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed,[...]
