{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/openai/v1/vector_stores",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "openai-beta": "assistants=v2",
        "x-stainless-lang": "js",
        "x-stainless-runtime": "node"
      },
      "RequestBody": {
        "name": "TestProductInfoStore"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json",
        "openai-organization": "0d170bd118f745c18d240ad625da3c2d",
        "openai-processing-ms": "160",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "58fa31ed-2f78-405d-b60a-b97ccbd55907",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "vs_LEUSUjbQq3HhDXo39jtPfBwx",
        "object": "vector_store",
        "name": "TestProductInfoStore",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1782496296,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1782496296
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/openai/v1/files",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=----formdata-undici-029823275241",
        "x-stainless-lang": "js",
        "x-stainless-runtime": "node"
      },
      "RequestBody": [
        "------formdata-undici-029823275241\r\n",
        "Content-Disp[...]
