{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "name": "AllowKeyManagementOperationsThroughARM",
        "type": "boolean",
        "value": "false"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "true"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "name": "AllowKeyManagementOperationsThroughARM",
        "type": "boolean",
        "value": "true"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "2095465827"
  }
}
