{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "name": "AllowKeyManagementOperationsThroughARM",
        "type": "boolean",
        "value": "true"
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "true"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "name": "AllowKeyManagementOperationsThroughARM",
        "type": "boolean",
        "value": "true"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1811989457"
  }
}
