{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "name": "AllowKeyManagementOperationsThroughARM",
        "type": "boolean",
        "value": "false"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/settings/AllowKeyManagementOperationsThroughARM?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "true"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "name": "AllowKeyManagementOperationsThroughARM",
        "type": "boolean",
        "value": "true"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1709273238"
  }
}
