{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-1-477?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "backslash-zero-label-1-477",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hthLRHH87gwWNf54vZIaqnKaorLtburPJ9PaAAhgvRU\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:21:57 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTMx;sn=2800931"
      },
      "ResponseBody": {
        "etag": "hthLRHH87gwWNf54vZIaqnKaorLtburPJ9PaAAhgvRU",
        "key": "backslash-zero-label-1-477",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:21:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-695?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODAwOTMx"
      },
      "RequestBody": {
        "key": "backslash-zero-label-2-695",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OgA9fPb3HbwojTlzX3H2Ptkf1Of6YerasxN2BOkPZp8\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:21:57 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTMy;sn=2800932"
      },
      "ResponseBody": {
        "etag": "OgA9fPb3HbwojTlzX3H2Ptkf1Of6YerasxN2BOkPZp8",
        "key": "backslash-zero-label-2-695",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:21:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-695?api-version=2023-11-01&label=with%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODAwOTMy"
      },
      "RequestBody": {
        "key": "backslash-zero-label-2-695",
        "label": "with label",
        "value": "[B] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y6lhrWLf5kPtlV0fy1BEmI4ZFCX3sQxmEM-uyOO22Sg\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:21:57 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTMz;sn=2800933"
      },
      "ResponseBody": {
        "etag": "Y6lhrWLf5kPtlV0fy1BEmI4ZFCX3sQxmEM-uyOO22Sg",
        "key": "backslash-zero-label-2-695",
        "label": "with label",
        "content_type": null,
        "value": "[B] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:21:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=backslash-zero-label-*&label=%00",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODAwOTMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"v0zM0rD2uURqAnH4svzuz3klwAvCRNUvq8kGnBpqj0U\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTMz;sn=2800933"
      },
      "ResponseBody": {
        "etag": "v0zM0rD2uURqAnH4svzuz3klwAvCRNUvq8kGnBpqj0U",
        "items": [
          {
            "etag": "hthLRHH87gwWNf54vZIaqnKaorLtburPJ9PaAAhgvRU",
            "key": "backslash-zero-label-1-477",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T18:21:57+00:00"
          },
          {
            "etag": "OgA9fPb3HbwojTlzX3H2Ptkf1Of6YerasxN2BOkPZp8",
            "key": "backslash-zero-label-2-695",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T18:21:57+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=backslash-zero-label-*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODAwOTMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2iwdajzFc97rg56GIvhG-wSyyy2osFX72xmhYNL8N4c\"",
[...]
[...]
