{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-1-621?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "backslash-zero-label-1-621",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VBM5O--Py8TDpYpO4XuI0riQnCh7ZzL-zrKB2HPeVRI\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:56:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzM5NTg=;sn=74233958"
      },
      "ResponseBody": {
        "etag": "VBM5O--Py8TDpYpO4XuI0riQnCh7ZzL-zrKB2HPeVRI",
        "key": "backslash-zero-label-1-621",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:56:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-502?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzM5NTg="
      },
      "RequestBody": {
        "key": "backslash-zero-label-2-502",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VPFjIaoFNQJPxXvfvde2U5H2TXhOabgyP4qa_rIrJlA\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:56:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzM5NTk=;sn=74233959"
      },
      "ResponseBody": {
        "etag": "VPFjIaoFNQJPxXvfvde2U5H2TXhOabgyP4qa_rIrJlA",
        "key": "backslash-zero-label-2-502",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:56:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-502?api-version=2023-11-01&label=with%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzM5NTk="
      },
      "RequestBody": {
        "key": "backslash-zero-label-2-502",
        "label": "with label",
        "value": "[B] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GiBdVhjdgqJVTxmoaqihNyNWeFnf0SylthZ7OWx55sE\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:56:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzM5NjA=;sn=74233960"
      },
      "ResponseBody": {
        "etag": "GiBdVhjdgqJVTxmoaqihNyNWeFnf0SylthZ7OWx55sE",
        "key": "backslash-zero-label-2-502",
        "label": "with label",
        "content_type": null,
        "value": "[B] value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:56:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=backslash-zero-label-*&label=%00",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzM5NjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"K2wKVeTbXqyM4YIxS3CxrHoBnOEkpBC5AAyEod08U7s\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzM5NjA=;sn=74233960"
      },
      "ResponseBody": {
        "etag": "K2wKVeTbXqyM4YIxS3CxrHoBnOEkpBC5AAyEod08U7s",
        "items": [
          {
            "etag": "VBM5O--Py8TDpYpO4XuI0riQnCh7ZzL-zrKB2HPeVRI",
            "key": "backslash-zero-label-1-621",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:56:19+00:00"
          },
          {
            "etag": "VPFjIaoFNQJPxXvfvde2U5H2TXhOabgyP4qa_rIrJlA",
            "key": "backslash-zero-label-2-502",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:56:19+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=backslash-zero-label-*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzM5NjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"TF1XpcJq1ZmB1LtkrQcMl82iPudHiXp79hGmNdmdxL0\[...]
[...]
