{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-1-987?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "backslash-zero-label-1-987",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pcGtad5k4aru803yGesEGEvyQ0A9BEpXx16K9Jbp8d8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:58:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY0NTM=;sn=74856453",
        "x-ms-date": "Sun, 26 Oct 2025 07:58:35 GMT"
      },
      "ResponseBody": {
        "etag": "pcGtad5k4aru803yGesEGEvyQ0A9BEpXx16K9Jbp8d8",
        "key": "backslash-zero-label-1-987",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:58:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-474?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY0NTM="
      },
      "RequestBody": {
        "key": "backslash-zero-label-2-474",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M_opf0X4RnV5OiwXIU4gX_IHzk6M485x4Sqj7vuQdas\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:58:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY0NTQ=;sn=74856454",
        "x-ms-date": "Sun, 26 Oct 2025 07:58:35 GMT"
      },
      "ResponseBody": {
        "etag": "M_opf0X4RnV5OiwXIU4gX_IHzk6M485x4Sqj7vuQdas",
        "key": "backslash-zero-label-2-474",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:58:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-474?api-version=2023-11-01&label=with%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY0NTQ="
      },
      "RequestBody": {
        "key": "backslash-zero-label-2-474",
        "label": "with label",
        "value": "[B] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qVNz-3DH36JyOdiO6t4IjInFLA5akRB7B_ORoKtWcgA\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:58:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY0NTU=;sn=74856455",
        "x-ms-date": "Sun, 26 Oct 2025 07:58:35 GMT"
      },
      "ResponseBody": {
        "etag": "qVNz-3DH36JyOdiO6t4IjInFLA5akRB7B_ORoKtWcgA",
        "key": "backslash-zero-label-2-474",
        "label": "with label",
        "content_type": null,
        "value": "[B] value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:58:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=backslash-zero-label-*&label=%00",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY0NTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ovSgN5WHM_Mm1xiCqk6WdnojrnymeFj4sbrMQG0ioVc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY0NTU=;sn=74856455",
        "x-ms-date": "Sun, 26 Oct 2025 07:58:35 GMT"
      },
      "ResponseBody": {
        "etag": "ovSgN5WHM_Mm1xiCqk6WdnojrnymeFj4sbrMQG0ioVc",
        "items": [
          {
            "etag": "pcGtad5k4aru803yGesEGEvyQ0A9BEpXx16K9Jbp8d8",
            "key": "backslash-zero-label-1-987",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:58:35+00:00"
          },
          {
            "etag": "M_opf0X4RnV5OiwXIU4gX_IHzk6M485x4Sqj7vuQdas",
            "key": "backslash-zero-label-2-474",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:58:35+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=backslash-zero-label-*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY0NTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MdRVK4EwIKqVyufcmYtWKYZHQ5jYCd50y51HccGiNl0\[...]
[...]
