{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "NSPInternalTest06",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourcegroups/rg-nsp-dot-net-sdk-test-5208?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-5208",
        "name": "rg-nsp-dot-net-sdk-test-5208",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Created": "2025-05-23T06:51:46.6841475Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-5208/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-4798?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "nsp-dot-net-sdk-test-4798",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-5208/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-4798",
        "location": "westus",
        "type": "Microsoft.Network/networkSecurityPerimeters",
        "tags": {},
        "etag": "",
        "properties": {
          "perimeterGuid": "a1a25ee3-d5ef-448b-8a8e-b04121f9227a",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-5208/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-4798/profiles/profile-dot-net-sdk-test-651?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "profile-dot-net-sdk-test-651",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-5208/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-4798/profiles/profile-dot-net-sdk-test-651",
        "type": "Microsoft.Network/networkSecurityPerimeters/profiles",
        "properties": {
          "accessRulesVersion": "0",
          "diagnosticSettingsVersion": "0"
        },
        "location": "westus"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-5208/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-4798/profiles?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nextLink": "",
        "value": [
          {
            "name": "profile-dot-net-sdk-test-651",
            "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-5208/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-4798/profiles/profile-dot-net-sdk-test-651",
            "type": "Microsoft.Network/networkSecurityPerimeters/profiles",
            "properties": {
              "accessRulesVersion": "0",
              "diagnosticSettingsVersion": "0"
            },
            "location": "westus"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-5208/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-4798/profiles?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nextLink": "",
        "value": []
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "RandomSeed": "1533354784",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9"
  }
}
