{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "NSPInternalTest06",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourcegroups/rg-nsp-dot-net-sdk-test-971?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-971",
        "name": "rg-nsp-dot-net-sdk-test-971",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Created": "2025-05-26T06:26:53.4915766Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-971/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-5402?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "nsp-dot-net-sdk-test-5402",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-971/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-5402",
        "location": "westus",
        "type": "Microsoft.Network/networkSecurityPerimeters",
        "tags": {},
        "etag": "",
        "properties": {
          "perimeterGuid": "b8470f35-1ae8-4a5a-bc5d-3ee31a367963",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-971/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-5402/loggingConfigurations/instance?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "enabledLogCategories": [
            "NspPublicInboundPerimeterRulesDenied",
            "NspPublicOutboundPerimeterRulesDenied"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "instance",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-971/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-5402/loggingConfigurations/instance",
        "type": "Microsoft.Network/networkSecurityPerimeters/loggingConfigurations",
        "properties": {
          "version": "1",
          "enabledLogCategories": [
            "NspPublicInboundPerimeterRulesDenied",
            "NspPublicOutboundPerimeterRulesDenied"
          ],
          "destinationType": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-971/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-5402/loggingConfigurations/instance?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "message": "Resource [/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-971/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-5402/loggingConfigurations/instance] does not exist or has been deleted",
          "code": "NotFound"
        }
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "RandomSeed": "1856447429",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9"
  }
}
