{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "NSPInternalTest06",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourcegroups/rg-nsp-dot-net-sdk-test-2035?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035",
        "name": "rg-nsp-dot-net-sdk-test-2035",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Created": "2025-05-21T11:46:02.4709521Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-8172?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "nsp-dot-net-sdk-test-8172",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-8172",
        "location": "westus",
        "type": "Microsoft.Network/networkSecurityPerimeters",
        "tags": {},
        "etag": "",
        "properties": {
          "perimeterGuid": "81055aa6-64c1-4696-b5eb-3ba211faabd6",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-8172/profiles/nsp-dot-net-sdk-test-1942?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "nsp-dot-net-sdk-test-1942",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-8172/profiles/nsp-dot-net-sdk-test-1942",
        "type": "Microsoft.Network/networkSecurityPerimeters/profiles",
        "properties": {
          "accessRulesVersion": "0",
          "diagnosticSettingsVersion": "0"
        },
        "location": "westus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-8172/profiles/nsp-dot-net-sdk-test-1942/accessRules/access-rule-dot-net-sdk-test-7870?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "direction": "Inbound",
          "addressPrefixes": [
            "10.11.0.0/16",
            "10.10.1.0/24"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "access-rule-dot-net-sdk-test-7870",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-8172/profiles/nsp-dot-net-sdk-test-1942/accessRules/access-rule-dot-net-sdk-test-7870",
        "type": "Microsoft.Network/networkSecurityPerimeters/profiles/accessRules",
        "properties": {
          "provisioningState": "Succeeded",
          "direction": "Inbound",
          "addressPrefixes": [
            "10.11.0.0/16",
            "10.10.1.0/24"
          ],
          "fullyQualifiedDomainNames": [],
          "subscriptions": [],
          "networkSecurityPerimeters": [],
          "emailAddresses": [],
          "phoneNumbers": [],
          "appliesTo": [
            {
              "resourceType": "*",
              "features": [
                "*"
              ]
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-8172/profiles/nsp-dot-net-sdk-test-1942/accessRules?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nextLink": "",
        "value": [
          {
            "name": "access-rule-dot-net-sdk-test-7870",
            "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-2035/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-8172/profiles/nsp-dot-net-sdk-test-1942/accessRules/access-rule-dot-net-sdk-test-7870",
            "type": "Microsoft.Network/networkSecurityPerimeters/profiles/accessRules",
            "properties": {
              "provisioningState":[...]
[...]
