{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "NSPInternalTest06",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourcegroups/rg-nsp-dot-net-sdk-test-3084?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084",
        "name": "rg-nsp-dot-net-sdk-test-3084",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Created": "2025-05-21T11:43:52.7718366Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "nsp-dot-net-sdk-test-358",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358",
        "location": "westus",
        "type": "Microsoft.Network/networkSecurityPerimeters",
        "tags": {},
        "etag": "",
        "properties": {
          "perimeterGuid": "519ada45-bdb3-4fd2-a329-8467a1fe0770",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/profiles/nsp-dot-net-sdk-test-542?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "nsp-dot-net-sdk-test-542",
        "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/profiles/nsp-dot-net-sdk-test-542",
        "type": "Microsoft.Network/networkSecurityPerimeters/profiles",
        "properties": {
          "accessRulesVersion": "0",
          "diagnosticSettingsVersion": "0"
        },
        "location": "westus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/resourceAssociations/association-dot-net-sdk-test-5932?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "privateLinkResource": {
            "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Storage/storageAccounts/sadotnetsdktest6202"
          },
          "profile": {
            "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/profiles/nsp-dot-net-sdk-test-542"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/providers/Microsoft.Network/locations/westus/networkSecurityPerimeterOperationStatuses/dfd9f451-5c8e-4987-8587-abf1820cb4ad?api-version=2024-07-01&t=638834246604349757&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE3MDcxODAyWhcNMjUxMDE0MDcxODAyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/providers/Microsoft.Network/locations/westus/networkSecurityPerimeterOperationStatuses/dfd9f451-5c8e-4987-8587-abf1820cb4ad?api-version=2024-07-01&t=638834246604349757&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE3MDcxODAyWhcNMjUxMDE0MDcxODAyWjBAMT4wPAYDVQQDEzVhc3l[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/resourceAssociations/association-dot-net-sdk-test-5932?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "privateLinkResource": {
            "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Storage/storageAccounts/sadotnetsdktest6202"
          },
          "profile": {
            "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/profiles/nsp-dot-net-sdk-test-542"
          },
          "accessMode": "Enforced"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/providers/Microsoft.Network/locations/westus/networkSecurityPerimeterOperationStatuses/54980eb2-d72a-478f-8408-44a136a5da01?api-version=2024-07-01&t=638834246734418799&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/providers/Microsoft.Network/locations/westus/networkSecurityPerimeterOperationStatuses/54980eb2-d72a-478f-8408-44a136a5da01?api-version=2024-07-01&t=638834246734418799&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE3MDcxODAyWhcNMjUxMDE0MDcxODAyWjBAMT4wPAYDVQQDEzVhc3l[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/resourceAssociations?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nextLink": "",
        "value": [
          {
            "name": "association-dot-net-sdk-test-5932",
            "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/resourceAssociations/association-dot-net-sdk-test-5932",
            "type": "Microsoft.Network/networkSecurityPerimeters/resourceAssociations",
            "properties": {
              "privateLinkResource": {
                "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Storage/storageAccounts/sadotnetsdktest6202"
              },
              "profile": {
                "id": "/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/profiles/nsp-dot-net-sdk-test-542"
              },
              "accessMode": "Enforced",
              "provisioningState": "Succeeded",
              "hasProvisioningIssues": "no"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/providers/Microsoft.Network/locations/westus/networkSecurityPerimeterOperationStatuses/098f0d2e-a6a7-45f1-b394-c85aedb6ae42?api-version=2024-07-01&t=638834246785771385&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE3MDcxODAyWhcNMjUxMDE0MDcxODAyWjBAMT4wPAYDVQQDEzVhc3l[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/rg-nsp-dot-net-sdk-test-3084/providers/Microsoft.Network/networkSecurityPerimeters/nsp-dot-net-sdk-test-358/resourceAssociations?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nextLink": "",
        "value": []
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "RandomSeed": "23211072",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9"
  }
}
