{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/files",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=\"OAX9d7jC9uDRcvgGldhoEIARFNoJ9JwION2Fc_ufVxytk4k_QeYmDd0vfF1dPmXhbjMn2s\""
      },
      "RequestBody": [
        "--OAX9d7jC9uDRcvgGldhoEIARFNoJ9JwION2Fc_ufVxytk4k_QeYmDd0vfF1dPmXhbjMn2s\r\n",
        "Content-Disposition: form-data; name=file; filename=test_data_delete_me.txt; filename*=utf-8''test_data_delete_me.txt\r\n",
        "\r\n",
        "b64:aGVsbG8sIHdvcmxk",
        "\r\n",
        "--OAX9d7jC9uDRcvgGldhoEIARFNoJ9JwION2Fc_ufVxytk4k_QeYmDd0vfF1dPmXhbjMn2s\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=purpose\r\n",
        "\r\n",
        "assistants",
        "\r\n",
        "--OAX9d7jC9uDRcvgGldhoEIARFNoJ9JwION2Fc_ufVxytk4k_QeYmDd0vfF1dPmXhbjMn2s--\r\n"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "5169",
        "openai-version": "2020-10-01",
        "x-http2-stream-id": "3",
        "x-ms-middleware-request-id": "95b3da61-48b8-4c83-82d4-74b493644ba0",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "5.387"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-EuX11pNdQduqDch3PqLp7r",
        "purpose": "assistants",
        "filename": "test_data_delete_me.txt",
        "bytes": 12,
        "created_at": 1770930825,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/files/assistant-EuX11pNdQduqDch3PqLp7r",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "122",
        "openai-version": "2020-10-01",
        "x-http2-stream-id": "5",
        "x-ms-middleware-request-id": "b25c09c7-6563-4efc-a202-845765da00ff",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.241"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-EuX11pNdQduqDch3PqLp7r",
        "purpose": "assistants",
        "filename": "test_data_delete_me.txt",
        "bytes": 12,
        "created_at": 1770930825,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    }
  ],
  "Variables": {
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
