{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/files",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=\"GOQ_eZh1DfogNg1JOGHX1VyPG7xMMWRtuikYT=jAf5dWCP3Vjx2BcKFG4UQOlLeFEtf9MP\""
      },
      "RequestBody": [
        "--GOQ_eZh1DfogNg1JOGHX1VyPG7xMMWRtuikYT=jAf5dWCP3Vjx2BcKFG4UQOlLeFEtf9MP\r\n",
        "Content-Disposition: form-data; name=file; filename=test_data_delete_me.jsonl; filename*=utf-8''test_data_delete_me.jsonl\r\n",
        "Content-Type: application/octet-stream\r\n",
        "\r\n",
        "b64:eyJtZXNzYWdlcyI6IFt7InJvbGUiOiAic3lzdGVtIiwgImNvbnRlbnQiOiAiIn1dfQ==",
        "\r\n",
        "--GOQ_eZh1DfogNg1JOGHX1VyPG7xMMWRtuikYT=jAf5dWCP3Vjx2BcKFG4UQOlLeFEtf9MP\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=purpose\r\n",
        "\r\n",
        "fine-tune",
        "\r\n",
        "--GOQ_eZh1DfogNg1JOGHX1VyPG7xMMWRtuikYT=jAf5dWCP3Vjx2BcKFG4UQOlLeFEtf9MP--\r\n"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://openai-sdk-aiservices-tip.openai.azure.com/openai/files/file-b26d267a0a7945038fc56dbe76cd68a2?api-version=1",
        "x-http2-stream-id": "13",
        "x-ms-middleware-request-id": "8bcdc4c8-5ce6-4d75-92d5-20c6225bc2c5",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.368"
      },
      "ResponseBody": {
        "status": "pending",
        "bytes": 49,
        "purpose": "fine-tune",
        "filename": "test_data_delete_me.jsonl",
        "id": "file-b26d267a0a7945038fc56dbe76cd68a2",
        "created_at": 1770930931,
        "object": "file"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/files/file-b26d267a0a7945038fc56dbe76cd68a2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.172"
      },
      "ResponseBody": {
        "status": "pending",
        "bytes": 49,
        "purpose": "fine-tune",
        "filename": "test_data_delete_me.jsonl",
        "id": "file-b26d267a0a7945038fc56dbe76cd68a2",
        "created_at": 1770930931,
        "object": "file"
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
