{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag731?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag731",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2iPS8guov1QiRPdigFWG21ZI7bpaXeJxPhIVPj1fgAQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:44 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTU1;sn=2799955"
      },
      "ResponseBody": {
        "etag": "2iPS8guov1QiRPdigFWG21ZI7bpaXeJxPhIVPj1fgAQ",
        "key": "deleteConfigTestBadEtag731",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:19:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag731?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTU1"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTU1;sn=2799955"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag731?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTU1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2iPS8guov1QiRPdigFWG21ZI7bpaXeJxPhIVPj1fgAQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:44 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTU2;sn=2799956"
      },
      "ResponseBody": {
        "etag": "2iPS8guov1QiRPdigFWG21ZI7bpaXeJxPhIVPj1fgAQ",
        "key": "deleteConfigTestBadEtag731",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:19:44+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag731"
  }
}
