{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag909?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestEtag909",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BQLOmnn26S4m9ouroFPI5c2ZTBGgCXd6P0lVAXqoKRA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:05 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE2NTk=;sn=75061659",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:05 GMT"
      },
      "ResponseBody": {
        "etag": "BQLOmnn26S4m9ouroFPI5c2ZTBGgCXd6P0lVAXqoKRA",
        "key": "deleteConfigTestEtag909",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:58:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag909?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE2NTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BQLOmnn26S4m9ouroFPI5c2ZTBGgCXd6P0lVAXqoKRA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:05 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE2NjE=;sn=75061661",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:05 GMT"
      },
      "ResponseBody": {
        "etag": "BQLOmnn26S4m9ouroFPI5c2ZTBGgCXd6P0lVAXqoKRA",
        "key": "deleteConfigTestEtag909",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:58:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag909?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE2NjE="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE2NjI=;sn=75061662",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:05 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestEtag": "deleteConfigTestEtag909"
  }
}
