{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag131?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag131",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ffqWJH28_R7uj4AUBn9h5MuXv32G7pbiyb1ZfCCiIA4\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTgwNTI=;sn=75058052",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:13 GMT"
      },
      "ResponseBody": {
        "etag": "ffqWJH28_R7uj4AUBn9h5MuXv32G7pbiyb1ZfCCiIA4",
        "key": "deleteConfigTestBadEtag131",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag131?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTgwNTI="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTgwNTM=;sn=75058053",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag131?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTgwNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ffqWJH28_R7uj4AUBn9h5MuXv32G7pbiyb1ZfCCiIA4\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTgwNTU=;sn=75058055",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:13 GMT"
      },
      "ResponseBody": {
        "etag": "ffqWJH28_R7uj4AUBn9h5MuXv32G7pbiyb1ZfCCiIA4",
        "key": "deleteConfigTestBadEtag131",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:13+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag131"
  }
}
