{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag317?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag317",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-qZ0ZC09-39ft01AWwz62nIQyLuupov0qYnxj6GHAjg\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5MTg=;sn=75080918",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:44 GMT"
      },
      "ResponseBody": {
        "etag": "-qZ0ZC09-39ft01AWwz62nIQyLuupov0qYnxj6GHAjg",
        "key": "deleteConfigTestBadEtag317",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag317?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5MTg="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5MTg=;sn=75080918",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:44 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag317?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5MTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-qZ0ZC09-39ft01AWwz62nIQyLuupov0qYnxj6GHAjg\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5MTk=;sn=75080919",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:44 GMT"
      },
      "ResponseBody": {
        "etag": "-qZ0ZC09-39ft01AWwz62nIQyLuupov0qYnxj6GHAjg",
        "key": "deleteConfigTestBadEtag317",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:44+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag317"
  }
}
