{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestNA105?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU2MQ==;sn=113153561",
        "x-ms-date": "Thu, 07 May 2026 20:26:50 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestNA": "deleteConfigTestNA105"
  }
}
