{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag936?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag936",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k-EjZHrqxQIASu-iu6XB7Fnu-v0kyeWY5pJVDjEBxxA\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2ODE=;sn=73799681"
      },
      "ResponseBody": {
        "etag": "k-EjZHrqxQIASu-iu6XB7Fnu-v0kyeWY5pJVDjEBxxA",
        "key": "deleteConfigTestBadEtag936",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:38:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag936?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk2ODE="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2ODI=;sn=73799682"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag936?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk2ODI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k-EjZHrqxQIASu-iu6XB7Fnu-v0kyeWY5pJVDjEBxxA\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2ODQ=;sn=73799684"
      },
      "ResponseBody": {
        "etag": "k-EjZHrqxQIASu-iu6XB7Fnu-v0kyeWY5pJVDjEBxxA",
        "key": "deleteConfigTestBadEtag936",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:38:09+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag936"
  }
}
