{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag785?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestEtag785",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nBgu7vlge2vsO4WnStANikukBC5wLYN2BKm0OdADr90\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTE5Mw==;sn=103579193",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:14 GMT"
      },
      "ResponseBody": {
        "etag": "nBgu7vlge2vsO4WnStANikukBC5wLYN2BKm0OdADr90",
        "key": "deleteConfigTestEtag785",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag785?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTE5Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nBgu7vlge2vsO4WnStANikukBC5wLYN2BKm0OdADr90\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTE5NQ==;sn=103579195",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:14 GMT"
      },
      "ResponseBody": {
        "etag": "nBgu7vlge2vsO4WnStANikukBC5wLYN2BKm0OdADr90",
        "key": "deleteConfigTestEtag785",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag785?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTE5NQ=="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTE5Nw==;sn=103579197",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:14 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestEtag": "deleteConfigTestEtag785"
  }
}
