{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag133?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag133",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EpbrnTY6Tqh3qKZWVBkj9hOVhfNbHMOlyC3oW7jjI6M\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNDE=;sn=74855341",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:17 GMT"
      },
      "ResponseBody": {
        "etag": "EpbrnTY6Tqh3qKZWVBkj9hOVhfNbHMOlyC3oW7jjI6M",
        "key": "deleteConfigTestBadEtag133",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag133?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUzNDE="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNDI=;sn=74855342",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:18 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag133?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUzNDI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EpbrnTY6Tqh3qKZWVBkj9hOVhfNbHMOlyC3oW7jjI6M\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNDQ=;sn=74855344",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:18 GMT"
      },
      "ResponseBody": {
        "etag": "EpbrnTY6Tqh3qKZWVBkj9hOVhfNbHMOlyC3oW7jjI6M",
        "key": "deleteConfigTestBadEtag133",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:17+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag133"
  }
}
