{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag731?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestEtag731",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dh4d9Cw4RLS82ZhUPfRNUiAvkXnPPhwGbGfNsPpu42I\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3ODk=;sn=74102789"
      },
      "ResponseBody": {
        "etag": "dh4d9Cw4RLS82ZhUPfRNUiAvkXnPPhwGbGfNsPpu42I",
        "key": "deleteConfigTestEtag731",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag731?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI3ODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dh4d9Cw4RLS82ZhUPfRNUiAvkXnPPhwGbGfNsPpu42I\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3OTM=;sn=74102793"
      },
      "ResponseBody": {
        "etag": "dh4d9Cw4RLS82ZhUPfRNUiAvkXnPPhwGbGfNsPpu42I",
        "key": "deleteConfigTestEtag731",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag731?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI3OTM="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3OTQ=;sn=74102794"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestEtag": "deleteConfigTestEtag731"
  }
}
