{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestNA425?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjI4MQ==;sn=103846281",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:16 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestNA": "deleteConfigTestNA425"
  }
}
