{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag591?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Xkf6_onJYpPryy_TE6PvkIVTjppJeHbFnnGKTOe0ReU\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA0MQ==;sn=115288041",
        "x-ms-date": "Thu, 28 May 2026 21:22:00 GMT"
      },
      "ResponseBody": {
        "etag": "Xkf6_onJYpPryy_TE6PvkIVTjppJeHbFnnGKTOe0ReU",
        "key": "deleteConfigTestEtag591",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:22:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag591?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Xkf6_onJYpPryy_TE6PvkIVTjppJeHbFnnGKTOe0ReU\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA0Mg==;sn=115288042",
        "x-ms-date": "Thu, 28 May 2026 21:22:00 GMT"
      },
      "ResponseBody": {
        "etag": "Xkf6_onJYpPryy_TE6PvkIVTjppJeHbFnnGKTOe0ReU",
        "key": "deleteConfigTestEtag591",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:22:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag591?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA0Mg=="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA0Mg==;sn=115288042",
        "x-ms-date": "Thu, 28 May 2026 21:22:00 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestEtag": "deleteConfigTestEtag591"
  }
}
