{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DevCenter/devcenters?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "eac5af0f-dbe2-456f-a3cd-fef3080583f0",
          "bbc057ac-5620-4c8e-b0d5-73a663485bf2",
          "8a5c87d3-f729-406e-a6a2-5b1290dc3ffa",
          "fc1b63f0-3dfa-4427-b664-a8529089d6fa",
          "4666ea63-48d8-4d07-853e-74d4ea2afb1f",
          "d8da7d9d-a540-4b5c-9df6-2829fcf232a1",
          "5edf43b8-76aa-46b6-a34b-5992fec24a5f",
          "7c500f3d-7111-4031-ab91-f779cdd69384",
          "7840a855-aac9-4694-a710-5858f67329dc"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11869"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DevCenter/devcenters/Contoso1",
            "name": "Contoso1",
            "type": "microsoft.devcenter/devcenters",
            "location": "eastus",
            "tags": {
              "costCode": "12345"
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-05-12T08:49:36.0181148Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-05-12T08:49:36.0181148Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "devCenterUri": "https://88888888-8888-8888-8888-888888888888-contoso1.eastus.devcenter.azure.com/"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
