{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Triage Resource Provider - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/providers/Microsoft.Help/discoverSolutions?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "issueSummary": "I am not able to make rdp connection to the virtual machine",
        "serviceId": "6f16735c-b0ae-b275-ad3a-03479cfa1396"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/providers/Microsoft.Help/discoverSolutions/92c2396d-b703-973f-1bca-2eea9425b21a",
            "name": "92c2396d-b703-973f-1bca-2eea9425b21a",
            "type": "Microsoft.Help/discoverSolutions",
            "properties": {
              "problemClassificationId": "/providers/Microsoft.Support/services/6f16735c-b0ae-b275-ad3a-03479cfa1396/problemClassifications/92c2396d-b703-973f-1bca-2eea9425b21a",
              "problemTitle": "Failure to connect using RDP or SSH port",
              "problemDescription": "Resolve issues related to connecting via RDP or SSH not covered by other support topics",
              "serviceId": "/providers/Microsoft.Support/services/6f16735c-b0ae-b275-ad3a-03479cfa1396",
              "solutions": [
                {
                  "solutionId": "1eee39b5-9658-4d27-bae9-131ce7cd47b0",
                  "solutionType": "SelfHelp",
                  "description": "Resolve connectivity issues with your Windows VM",
                  "requiredInputs": []
                },
                {
                  "solutionId": "fa8c0cce-6458-403e-9df2-edd74afa2c19",
                  "solutionType": "Troubleshooters",
                  "description": "This troubleshooter will guide to identify the root cause of VM Unavailable scenarios",
                  "requiredInputs": []
                },
                {
                  "solutionId": "39ce65d2-51b4-4068-af7e-4c245c9e5d2b",
                  "solutionType": "Troubleshooters",
           [...]
