{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel-live-test-1073718",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "filterable": true,
            "sortable": true
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "searchable": true,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "tags",
            "type": "Collection(Edm.String)",
            "searchable": true,
            "filterable": true,
            "facetable": true
          },
          {
            "name": "parkingIncluded",
            "type": "Edm.Boolean",
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "smokingAllowed",
            "type": "Edm.Boolean",
            [...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexstats?api-version=2025-11-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "117",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#Collection(Microsoft.Azure.Search.V2025_11_01_Preview.IndexStatisticsSummary)",
        "value": [
          {
            "name": "1770152344583-normalizers",
            "documentCount": 0,
            "storageSize": 0,
            "vectorIndexSize": 0
          },
          {
            "name": "hotel-live-test-1020857",
            "documentCount": 0,
            "storageSize": 0,
            "vectorIndexSize": 0
          },
          {
            "name": "hotel-live-test-1036007",
            "documentCount": 0,
            "storageSize": 0,
            "vectorIndexSize": 0
          },
          {
            "name": "hotel-live-test-1050114",
            "documentCount": 0,
            "storageSize": 0,
            "vectorIndexSize"[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1073718')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "391",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_INDEX_NAME": "hotel-live-test-1073718"
  }
}
