{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?collectionId=collectionPost%3A0174362432625205543&api-version=2024-01-26-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "post ledger entry test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1214"
      },
      "ResponseBody": {
        "collectionId": "collectionPost:0174362432625205543"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions/2.1214/status?api-version=2024-01-26-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1215"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.1214"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions/2.1214/receipt?api-version=2024-01-26-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1216"
      },
      "ResponseBody": {
        "receipt": {
          "nodeId": "",
          "proof": [],
          "signature": ""
        },
        "state": "Loading",
        "transactionId": ""
      }
    }
  ],
  "Variables": {
    "collectionPost:0": "collectionPost:0174362432625205543"
  }
}
