{
  "Entries": [
    {
      "RequestUri": "https://fake.ingest.monitor.azure.com/dataCollectionRules/bad-rule/streams/test-stream?api-version=2023-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022foo\u0022: \u0022bar\u0022}]",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "NotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Data collection rule with immutable Id \u0027bad-rule\u0027 not found."
        }
      }
    }
  ],
  "Variables": {}
}
