{
  "Entries": [
    {
      "RequestUri": "https://fake.ingest.monitor.azure.com/dataCollectionRules/00000000-0000-0000-0000-000000000000/streams/test-stream?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022Time\u0022: \u00222021-12-08T23:51:14.1104269Z\u0022, \u0022Computer\u0022: \u0022Computer1\u0022, \u0022AdditionalContext\u0022: {\u0022testContextKey\u0022: 3, \u0022CounterName\u0022: \u0022AppMetric1\u0022}}, {\u0022Time\u0022: \u00222021-12-08T23:51:14.1104269Z\u0022, \u0022Computer\u0022: \u0022Computer2\u0022, \u0022AdditionalContext\u0022: {\u0022testContextKey\u0022: 2, \u0022CounterName\u0022: \u0022AppMetric1\u0022}}]",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
