{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Informatica.DataManagement/operations?api-version=2024-05-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Informatica.DataManagement/registeredSubscriptions/read",
            "isDataAction": false,
            "display": {
              "provider": "Informatica.DataManagemen",
              "resource": "registeredSubscriptions",
              "operation": "read_registeredSubscriptions",
              "description": "read registeredSubscriptions"
            },
            "properties": null
          },
          {
            "name": "Informatica.DataManagement/locations/operationStatuses/read",
            "isDataAction": false,
            "display": {
              "provider": "Informatica.DataManagement",
              "resource": "locations/operationStatuses",
              "operation": "read_operationStatuses",
              "description": "read operationStatuses"
            },
            "properties": null
          },
          {
            "name": "Informatica.Da[...]
