{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName4059778293"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A47.0623239Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "tableName4059778293",
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName4059778293",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "contToken",
        "RowKey": "0",
        "Value": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A47.2996871Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/tableName4059778293/$metadata#tableName4059778293/@Element",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A47.2996871Z'\"",
        "PartitionKey": "contToken",
        "RowKey": "0",
        "Value": 1,
        "Timestamp": "2024-10-16T23:02:47.2996871Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName4059778293()?%24top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\"token\":\"oMErAM+gaDoBAAAAAAAAAA==\",\"range\":{\"min\":\"\",\"max\":\"FF\"}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A47.2996871Z'\"",
            "PartitionKey": "contToken",
            "RowKey": "0",
            "Value": 1,
            "Timestamp": "2024-10-16T23:02:47.2996871Z"
          }
        ],
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#tableName4059778293"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName4059778293()?NextPartitionKey=%7B%22token%22%3A%22oMErAM%2BgaDoBAAAAAAAAAA%3D%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D&NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('tableName4059778293')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
