{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable/blob177344001451800150",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE814DC4FD027B\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:13:35 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-13T22:13:35.0569595Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable/blob177344001451800150?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE814DC4FD027B\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:13:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2026-03-13T22:13:35.1326362Z",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-13T22:13:35.1336362Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable/blob177344001451800150?snapshot=2026-03-13T22%3A13%3A35.1326362Z&comp=immutabilityPolicies",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 13 Mar 2026 22:18:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 13 Mar 2026 22:18:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable/blob177344001451800150?snapshot=2026-03-13T22%3A13%3A35.1326362Z&comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable/blob177344001451800150",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable?comp=list&restype=container&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"immutable\"><Blobs /><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {
    "blob": "blob177344001451800150",
    "minutesLater": "2026-03-13T22:13:35.170Z"
  }
}
