{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable/blob176894860313704005?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:352e98c0-701e-007f-3c5d-8a825f000000\n",
        "Time:2026-01-20T22:36:48.9833845Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable?comp=list&restype=container&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"immutable\"><Blobs /><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {
    "blob": "blob176894860313704005"
  }
}
