{
  "Entries": [
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-c0c6a44a-9500-4f4b-4432-b8ddbf845081",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:40:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-c0c6a44a-9500-4f4b-4432-b8ddbf845081/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 21:40:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<QueueMessage><MessageText>test_content</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>daa4ce4c-c1ff-45f3-8f2a-426944b986e9</MessageId><InsertionTime>Thu, 06 Jun 2024 21:40:51 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:40:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAyibyM1q42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:40:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-c0c6a44a-9500-4f4b-4432-b8ddbf845081/messages?numofmessages=10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:40:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>daa4ce4c-c1ff-45f3-8f2a-426944b986e9</MessageId><InsertionTime>Thu, 06 Jun 2024 21:40:51 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:40:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA47PmRVq42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:41:22 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test_content</MessageText></QueueMessage><QueueMessage><MessageId>ab7130a0-7c12-4cd2-a9a8-6f0f2578e4d3</MessageId><InsertionTime>Thu, 06 Jun 2024 21:40:51 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:40:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA47PmRVq42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:41:22 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>dGVzdF9jb250ZW50</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-c0c6a44a-9500-4f4b-4432-b8ddbf845081",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:40:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1842268575",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
