{
  "Entries": [
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-d4792971-d33d-c77a-7763-3a7fe7d4f183",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:41:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-d4792971-d33d-c77a-7763-3a7fe7d4f183/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 21:41:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<QueueMessage><MessageText>aWVwY2hxcWFpbm1icmFqYmx3YWU=</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>19ce0b46-f666-4b29-80f0-bf045692dcb3</MessageId><InsertionTime>Thu, 06 Jun 2024 21:41:02 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:41:02 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhlk6Olq42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:41:02 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-d4792971-d33d-c77a-7763-3a7fe7d4f183/messages",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:41:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>19ce0b46-f666-4b29-80f0-bf045692dcb3</MessageId><InsertionTime>Thu, 06 Jun 2024 21:41:02 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:41:02 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA84ImTFq42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:41:32 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>aWVwY2hxcWFpbm1icmFqYmx3YWU=</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-d4792971-d33d-c77a-7763-3a7fe7d4f183",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:41:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1679425098",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
