{
  "Entries": [
    {
      "RequestUri": "https://4rexscnbn9pe18ex.queue.preprod.core.windows.net/test-queue-ba41e203-202f-5607-878f-8ae7babf2f5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Mar 2025 18:30:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://4rexscnbn9pe18ex.queue.preprod.core.windows.net/test-queue-ba41e203-202f-5607-878f-8ae7babf2f5a/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 20 Mar 2025 18:30:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "\uFEFF<QueueMessage><MessageText>Message 1</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c3e08ac1-1073-4dee-bea5-47df31f00086</MessageId><InsertionTime>Thu, 20 Mar 2025 18:30:03 GMT</InsertionTime><ExpirationTime>Thu, 27 Mar 2025 18:30:03 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAtcB0GMaZ2wE=</PopReceipt><TimeNextVisible>Thu, 20 Mar 2025 18:30:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://4rexscnbn9pe18ex.queue.preprod.core.windows.net/test-queue-ba41e203-202f-5607-878f-8ae7babf2f5a?comp=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Mar 2025 18:30:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-approximate-messages-count": "5",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://4rexscnbn9pe18ex.queue.preprod.core.windows.net/test-queue-ba41e203-202f-5607-878f-8ae7babf2f5a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Mar 2025 18:30:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1973184407",
    "Storage_TestConfigDefault": "ProductionTenant\n4rexscnbn9pe18ex\nU2FuaXRpemVk\nhttps://4rexscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://4rexscnbn9pe18ex.file.preprod.core.windows.net\nhttps://4rexscnbn9pe18ex.queue.preprod.core.windows.net\nhttps://4rexscnbn9pe18ex.table.preprod.core.windows.net\n\n\n\n\nhttps://4rexscnbn9pe18ex-secondary.blob.preprod.core.windows.net\nhttps://4rexscnbn9pe18ex-secondary.file.preprod.core.windows.net\nhttps://4rexscnbn9pe18ex-secondary.queue.preprod.core.windows.net\nhttps://4rexscnbn9pe18ex-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://4rexscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://4rexscnbn9pe18ex.queue.preprod.core.windows.net/;FileEndpoint=https://4rexscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://4rexscnbn9pe18ex-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://4rexscnbn9pe18ex-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://4rexscnbn9pe18ex-secondary.file.preprod.core.windows.net/;AccountName=4rexscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
