{
  "Entries": [
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-f73addbc-d44e-0657-d618-f35ec4f60b0b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:41:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-f73addbc-d44e-0657-d618-f35ec4f60b0b/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 21:41:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<QueueMessage><MessageText>gyijsfmthyecfbwwlifa</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8aceaa77-038b-4c2c-a235-6b16c8c78826</MessageId><InsertionTime>Thu, 06 Jun 2024 21:41:24 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:41:24 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVwwuR1q42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:41:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-f73addbc-d44e-0657-d618-f35ec4f60b0b/messages?peekonly=true&numofmessages=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:41:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8aceaa77-038b-4c2c-a235-6b16c8c78826</MessageId><InsertionTime>Thu, 06 Jun 2024 21:41:24 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:41:24 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>gyijsfmthyecfbwwlifa</MessageText></QueueMessage><QueueMessage><MessageId>be20b26b-9a14-4ba5-a759-9f8c134a49fd</MessageId><InsertionTime>Thu, 06 Jun 2024 21:41:24 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:41:24 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>sqiplufojeuxjmpmbixr</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-f73addbc-d44e-0657-d618-f35ec4f60b0b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:41:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "327353996",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
