{
  "Entries": [
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-575cd8e1-b84d-24b0-428d-01f0ffea3703",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:40:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-575cd8e1-b84d-24b0-428d-01f0ffea3703/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 21:40:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<QueueMessage><MessageText>test_content</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7227cf79-bc8e-49bf-b419-ce2a9095b1da</MessageId><InsertionTime>Thu, 06 Jun 2024 21:40:41 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:40:41 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXFyVLVq42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:40:41 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-575cd8e1-b84d-24b0-428d-01f0ffea3703/messages?numofmessages=10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:40:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7227cf79-bc8e-49bf-b419-ce2a9095b1da</MessageId><InsertionTime>Thu, 06 Jun 2024 21:40:41 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:40:41 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAvqyKP1q42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:41:11 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test_content</MessageText></QueueMessage><QueueMessage><MessageId>f4b81767-1ce3-4053-8ada-d0879ee6ac1f</MessageId><InsertionTime>Thu, 06 Jun 2024 21:40:41 GMT</InsertionTime><ExpirationTime>Thu, 13 Jun 2024 21:40:41 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAvqyKP1q42gE=</PopReceipt><TimeNextVisible>Thu, 06 Jun 2024 21:41:11 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>dGVzdF9jb250ZW50</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seancanary.queue.core.windows.net/test-queue-575cd8e1-b84d-24b0-428d-01f0ffea3703",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:40:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1498721918",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
