{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName3051201099"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A03%3A05.2312583Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "tableName3051201099",
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName3051201099",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Binary": "U29tZUJpbmFyeQ==",
        "Binary@odata.type": "Edm.Binary",
        "Bool": false,
        "DateTime": "2013-08-02T17:37:43.0090043Z",
        "DateTime@odata.type": "Edm.DateTime",
        "Double": 1234.1234,
        "Guid": "4185404a-5818-48c3-b9be-f217df0dba6f",
        "Guid@odata.type": "Edm.Guid",
        "Int32": 1234,
        "Int64": "123456789012",
        "Int64@odata.type": "Edm.Int64",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "test"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A03%3A05.4981127Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/tableName3051201099/$metadata#tableName3051201099/@Element",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A03%3A05.4981127Z'\"",
        "Binary@odata.type": "Edm.Binary",
        "Binary": "U29tZUJpbmFyeQ==",
        "Bool": false,
        "DateTime@odata.type": "Edm.DateTime",
        "DateTime": "2013-08-02T17:37:43.0090043Z",
        "Double": 1234.1234,
        "Guid@odata.type": "Edm.Guid",
        "Guid": "4185404a-5818-48c3-b9be-f217df0dba6f",
        "Int32": 1234,
        "Int64@odata.type": "Edm.Int64",
        "Int64": "123456789012",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "test",
        "Timestamp": "2024-10-16T23:03:05.4981127Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName3051201099(PartitionKey='partition',RowKey='1')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A03%3A05.4981127Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/tableName3051201099/$metadata#tableName3051201099/@Element",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A03%3A05.4981127Z'\"",
        "Binary@odata.type": "Edm.Binary",
        "Binary": "U29tZUJpbmFyeQ==",
        "Bool": false,
        "DateTime@odata.type": "Edm.DateTime",
        "DateTime": "2013-08-02T17:37:43.0090043Z",
        "Double": 1234.1234,
        "Guid@odata.type": "Edm.Guid",
        "Guid": "4185404a-5818-48c3-b9be-f217df0dba6f",
        "Int32": 1234,
        "Int64@odata.type": "Edm.Int64",
        "Int64": "123456789012",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "test",
        "Timestamp": "2024-10-16T23:03:05.4981127Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('tableName3051201099')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
