{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ed3d3b1-526b-b6e9-9400-ab813a05773b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB163F1A245\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ed3d3b1-526b-b6e9-9400-ab813a05773b/test-blob-ca8623e5-1a6c-11fe-04c6-eefba8063916?sv=2024-05-04\u0026se=2024-03-28T22%3A58%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "OrFFg0dhqX6AC0tykvaeJQLN/Vn3\u002B44hua0Ry2kKDY/49p28teqVg3oHSWDPi34NKMj52wnfHj4jI8mZUN4Udv68eptY4XAXOHnf8LEtUi4uA6KhETGGGdhfmZEh\u002BzOc89NhExHjtEZX4aOP/y6M9dGbakw7c2XNNmHD\u002BUjf9jxGQ/zezD4dS05cSi\u002BO9hmp0qPAhZDnYH9ulN2vILv9eOtmSbwxrimSfh/\u002B3ik1Pj9HGSalH3CsXuJ9bzdhbSqTXtFDKK1deCR6LQdw6YFWOFaeaAeUWFl7uerZtD/xMRH0aoBX8haR6qACKvFoO3VgJjbhwwQj/gZ4x27DhMTkiPv2fH4B/0Y/DH5mkS1nEn50eI0ID24M0Wt53iqnzmXcHaL2cr/3X[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ed3d3b1-526b-b6e9-9400-ab813a05773b/test-blob-ca8623e5-1a6c-11fe-04c6-eefba8063916?sv=2024-05-04\u0026se=2024-03-28T22%3A58%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mKSTsKIZJh9hHa1rzTZ/2A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1640B0A84\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:58:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:58:17.4390916Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ed3d3b1-526b-b6e9-9400-ab813a05773b/test-blob-ca8623e5-1a6c-11fe-04c6-eefba8063916?sv=2024-05-04\u0026se=2024-03-28T22%3A58%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1640B0A84\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1640B0A84\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:17 GMT",
        "x-ms-blob-content-md5": "mKSTsKIZJh9hHa1rzTZ/2A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:58:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:58:17.4390916Z"
      },
      "ResponseBody": "OrFFg0dhqX6AC0tykvaeJQLN/Vn3\u002B44hua0Ry2kKDY/49p28teqVg3oHSWDPi34NKMj52w[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ed3d3b1-526b-b6e9-9400-ab813a05773b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:58:15.9085361-07:00",
    "RandomSeed": "1305171962",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
