{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-14896d1d-8910-9e94-0f61-24a5b8f2dac8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00612AB3A4F0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-14896d1d-8910-9e94-0f61-24a5b8f2dac8/test-blob-c7bf4914-4e4e-6dc1-2282-7ebe70148db4?sv=Sanitized&se=2025-10-01T20%3A37%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "wXJAcUMB+2WqTFrNB2suGv9Ga8eb2GQWhkG2SdzQ1MFG8x1lO+GQE05ZHAH082W2U2O+KqjGGOgOKuoCSrGJ2neYhxRNyN4etVh5QbtiIZLbAPZ4EaoYf9o1VxH2jcicz0KKW2xRaYuFoHRPTdctrAhYJkq7EcjNgAc5GHHNJyiQ3HJ518UliZZr83A2yDEDB6sInmd94L55vNtlGFAat3lMv3Bks9RCMpyzUB1XlrfVNRDFxIjAEvyz/xvpwHFGUTv36gnAnlTWxWzKyY+gIiUkj+JAVPPxi6x0sbS5WHErbf/iYKytFZe87v4b9UhtE931xTGOBvxIBV5cTO2gHWz6n1yPvsJ5dnpLg2X01ZVkB57WxJNAnGcDmVpNUcipHNGSIFbs3VQbfE63Q4KXVDDJ+EVOyVnZug[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-14896d1d-8910-9e94-0f61-24a5b8f2dac8/test-blob-c7bf4914-4e4e-6dc1-2282-7ebe70148db4?sv=Sanitized&se=2025-10-01T20%3A37%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "p1FIKI43wiGCbPE616UNAQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00612ACD3E5D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-14896d1d-8910-9e94-0f61-24a5b8f2dac8/test-blob-c7bf4914-4e4e-6dc1-2282-7ebe70148db4?sv=Sanitized&se=2025-10-01T20%3A37%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00612ACD3E5D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00612ACD3E5D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:26 GMT",
        "x-ms-blob-content-md5": "p1FIKI43wiGCbPE616UNAQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "wXJAcUMB+2WqTFrNB2suGv9Ga8eb2GQWhkG2SdzQ1MFG8x1lO+GQE05ZHAH082W2U2O+KqjGGOgOKuoCSrGJ2neYhxRNyN4etVh5QbtiIZLbAPZ4EaoYf9o1VxH2jcicz0KKW2xRaYuFoHRPTdctrAhYJkq7EcjNgAc5GHHNJyiQ3HJ51[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-14896d1d-8910-9e94-0f61-24a5b8f2dac8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:37:26.2669171-07:00",
    "RandomSeed": "611844091",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
