{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d85a5cfb-478d-616e-0331-ce4affe71992?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:57:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1409FC30B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:57:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d85a5cfb-478d-616e-0331-ce4affe71992/test-blob-78465ed4-710f-b9fa-1cfb-717139ae3f97?sv=2024-05-04\u0026se=2024-03-28T22%3A57%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Dw7Nfqq6G72af/VWsxUQAACQ68MlqbALhoNCey3NMwGQ9xtAmZzTGUKI3o98pAYG6nBxqcJ7cmZdwfgmd5\u002BQzEzzxbv50GZjvNKAnMshjuJ8PJG9W4k\u002BFIW14tekrKGj\u002BBFDiN5LDRoJDu3w\u002B9WaPDMVqjsO0nDCtbE2Q\u002B6Pvg8w3aS53QYEMS52s02cThmvGqWkjwJmlCWggNMsFMkrek/dvx0x4V4tEXgMlx8jJWaYhihJ6i8NyUh\u002BGF0y2B1kSzn9vo77fjlGd32JWf0GfVpsk42g4o8g0PXVssgB\u002Bjlbp0zmJWbXnQjvAnOxg3BLeJsCxUSPw2ip3e6YJsxwRH1ELbGwIFjzlfaFsd8cbkyFiTkt/zT0zOPjPEd4Pnc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d85a5cfb-478d-616e-0331-ce4affe71992/test-blob-78465ed4-710f-b9fa-1cfb-717139ae3f97?sv=2024-05-04\u0026se=2024-03-28T22%3A57%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4ngAmsd9Q/ksREf\u002BzaGLOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB140BA6A86\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:57:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:57:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:57:18.1904518Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d85a5cfb-478d-616e-0331-ce4affe71992/test-blob-78465ed4-710f-b9fa-1cfb-717139ae3f97?sv=2024-05-04\u0026se=2024-03-28T22%3A57%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB140BA6A86\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB140BA6A86\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:57:18 GMT",
        "x-ms-blob-content-md5": "4ngAmsd9Q/ksREf\u002BzaGLOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:57:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:57:18.1904518Z"
      },
      "ResponseBody": "Dw7Nfqq6G72af/VWsxUQAACQ68MlqbALhoNCey3NMwGQ9xtAmZzTGUKI3o98pAYG6nBxqc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d85a5cfb-478d-616e-0331-ce4affe71992?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:57:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:57:16.6616572-07:00",
    "RandomSeed": "1661220351",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
