{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e8af25a-43b9-6eb3-2c96-fb6c759a7225?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11345A76C0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e8af25a-43b9-6eb3-2c96-fb6c759a7225/test-blob-c2e629ae-97f4-b2e2-3b80-6dd7d0eecf42?sv=Sanitized&se=2025-03-08T00%3A44%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "5rxnjiaifxWgn51TF+aJ9sDuF3UE7UpuA8GUJfNHbo1fTurDgpFdDKrQIlX6j5pV9nYW4ddaPvhx+YtlDVoiWDAQ88n7xXMvkQrKM8r0dHMmPy58MIy1BBDyUokG+P5Prsol6ZzRWjED51DMkAotfIUXPs4spSejWu64CXPqKJgMe4QAz4rXVeT8eUk76XQFxNUE77owIwmigY+tGFC9GL64wBSFLaz7P+npLyveZ3F5s0We5jne3Fh7XU76KTyUP2GKgylfgJYoCK/RRvPexBkeM2ULHzKF2eO8Cs9eABWsVfDKU+NHGjOudd2KDZVknZk03PbXiCAuBapFo3XHygiZJPADE3A11hkxXalV+8xNWG01KSQf1M3Pm045Ana95qvV8OilYIkp/wXcpSp22Qnd90oIkqDkeU[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e8af25a-43b9-6eb3-2c96-fb6c759a7225/test-blob-c2e629ae-97f4-b2e2-3b80-6dd7d0eecf42?sv=Sanitized&se=2025-03-08T00%3A44%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rSu/Zx8l/WmBZwEpFj4xdA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1134685EB9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e8af25a-43b9-6eb3-2c96-fb6c759a7225/test-blob-c2e629ae-97f4-b2e2-3b80-6dd7d0eecf42?sv=Sanitized&se=2025-03-08T00%3A44%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1134685EB9\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1134685EB9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:23 GMT",
        "x-ms-blob-content-md5": "rSu/Zx8l/WmBZwEpFj4xdA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "5rxnjiaifxWgn51TF+aJ9sDuF3UE7UpuA8GUJfNHbo1fTurDgpFdDKrQIlX6j5pV9nYW4ddaPvhx+YtlDVoiWDAQ88n7xXMvkQrKM8r0dHMmPy58MIy1BBDyUokG+P5Prsol6ZzRWjED51DMkAotfIUXPs4spSejWu64CXPqKJgMe4QAz[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e8af25a-43b9-6eb3-2c96-fb6c759a7225?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:44:23.1178632-08:00",
    "RandomSeed": "1446273626",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
