{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7f54ccc-466b-a302-d4ec-739f25c1cb4c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:57:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB144666930\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:57:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7f54ccc-466b-a302-d4ec-739f25c1cb4c/test-blob-34bf9478-55a7-c1df-4a68-93bd34f3bfd1?sv=2024-05-04\u0026se=2024-03-28T22%3A57%3A22Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "LanQqX\u002BVvYNvECNwXCKlTsKLlk9EiiJ5nIHrJYs5eq9d3bE\u002B9UAF4tY8xZYxbmQow0T6qF1vjKKGVgz\u002Bqpf3NZZzE39wZliChrN5CMWLSC4cwmJGPtFS7VAPuJ8zBjg\u002BRI8AvVrluFzseCKp9YTd\u002Bg7e4uc1sPbEISUuYa65Tn97O8M1i4rTNwoGWsauqfjMMr2RVSRRCZSYPJw1tlauMiqjLrrAp2\u002BDCqrcLlUwFXgtYS7wKPhaKTEvnU7unoC0VyicC3s9C4tODUp6ddo\u002BaCYkB1UovQoxSASJkQkglGwqKNYtlAn98FWjohqu4LRX8DQnyZYri5odasJ2tHqBLXjeUE0DEdQdJxf/hBvwgmhQMaDV\u002BcrV/pw8EC[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7f54ccc-466b-a302-d4ec-739f25c1cb4c/test-blob-34bf9478-55a7-c1df-4a68-93bd34f3bfd1?sv=2024-05-04\u0026se=2024-03-28T22%3A57%3A22Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "5MWODIUSKVB8xwDC9SMyeA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB144A21121\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:57:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:57:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:57:24.7417633Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7f54ccc-466b-a302-d4ec-739f25c1cb4c/test-blob-34bf9478-55a7-c1df-4a68-93bd34f3bfd1?sv=2024-05-04\u0026se=2024-03-28T22%3A57%3A22Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB144A21121\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB144A21121\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:57:24 GMT",
        "x-ms-blob-content-md5": "5MWODIUSKVB8xwDC9SMyeA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:57:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:57:24.7417633Z"
      },
      "ResponseBody": "LanQqX\u002BVvYNvECNwXCKlTsKLlk9EiiJ5nIHrJYs5eq9d3bE\u002B9UAF4tY8xZYxbmQow[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7f54ccc-466b-a302-d4ec-739f25c1cb4c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:57:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:57:22.9955670-07:00",
    "RandomSeed": "1578353368",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
