{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ddc5c8ce-f4e7-7e27-aef9-c069abe4bc47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869047FEF86D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:22:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ddc5c8ce-f4e7-7e27-aef9-c069abe4bc47/test-blob-e3378259-a30f-1a46-dca3-e73f8541117d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "NqdH32a1jk9CTM/Y23fuR2+4jOr63wl+hWMpFaoD/0s7Wz6KZ1hQo/TnocPUbT5ltJ/QzLUngleeyFkDjHilPkyDnYA5Y+AWaOj1Ej5GqRgkw2EKMzOVFNjn7J7/TRd8QWN2UNC+LFC/uWTMMXAZVx9A3sgXmwsZ7oinUXZBFxvRedDbz1hIZpcQS3nOyeNozZV/v25PZaZXXWJIFtrZfaJJ+7ifPojG+HgxBk+RSiSkP4PhwlesgRMpg3L1AE+8Ns3Whc0qyI8NuMb2Hl5XxhI+o9dW+LpKnHmkdboV0fcodNCBusVWenbz1AqQtmO10rxgt114ZT4TjOlUhlPU9+fPzamN1QxM5ylgYiOwueYV[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ddc5c8ce-f4e7-7e27-aef9-c069abe4bc47/test-blob-e3378259-a30f-1a46-dca3-e73f8541117d?sv=Sanitized&se=2024-06-08T01%3A22%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "HdLG1wLepHwypleHmgJZeiO4dqiSsZYBlwVyFHw90zcE5BiX9h1sOxju0JoLL/p+dAFKL+W+3Ws8xD/8a48A9NIfgrXqwoQGTDuPpOH79WcL9KB686RRRgesWjHdcM+J7tvH7K1ElLF8ROOqLjiKQc7Y8XfvhQEuzjytPWhSKNxsBrUFMwm6xmDu/q/BpxjOIhliBX5YmWnZmR1wllZJKhsGPSeDhA3EHSoXAIdSbSck3xtP7yNdE2xMK5rsSS8JpdOTumnwS50LnedUQZnihyv2TLc6+Tr3qSq6N1lz2NT7DVqzvrO9M5N+Q1E8CdLTaqRv9f13zquZnBA/NRREmMUTWDM+Lsl4OBgkvLbou6BY5sy0BOPWgz6uGSKifv1/Oau[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ddc5c8ce-f4e7-7e27-aef9-c069abe4bc47/test-blob-e3378259-a30f-1a46-dca3-e73f8541117d?sv=Sanitized&se=2024-06-08T01%3A22%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IXP4dFRVLiP3hVnDQL/q7g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690480BD172\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:22:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:22:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:22:22.1914482Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ddc5c8ce-f4e7-7e27-aef9-c069abe4bc47/test-blob-e3378259-a30f-1a46-dca3-e73f8541117d?sv=Sanitized&se=2024-06-08T01%3A22%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690480BD172\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690480BD172\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:22:22 GMT",
        "x-ms-blob-content-md5": "IXP4dFRVLiP3hVnDQL/q7g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:22:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:22:22.1914482Z"
      },
      "ResponseBody": "NqdH32a1jk9CTM/Y23fuR2+4jOr63wl+hWMpFaoD/0s7Wz6KZ1hQo/TnocPUbT5ltJ/QzLUngle[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ddc5c8ce-f4e7-7e27-aef9-c069abe4bc47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:22:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:22:20.6945021-05:00",
    "RandomSeed": "1046695679",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
