{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9b28aa5-0bff-1bc5-5e63-37005789c323?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00612C4AB6F4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9b28aa5-0bff-1bc5-5e63-37005789c323/test-blob-141bf319-784b-9172-a719-e51171399a96?sv=Sanitized&se=2025-10-01T20%3A37%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "WEp4NBskraVOSRc3kMDqFSEtc42r9aEOsNv2XGhZxMIs7MlkZpdR9EV2xgJgOwDnL9DwQ8YN62OoaoQ/LlE99IRVCqT3hq6J3H5HNC+frXXbDyyYaYD8HwBmu/wTEcb0ONF9CzBb8KkhZmdHxrYzCLwPZB4kpYsEWOukkcqydsq4U/teIaFFfx+DdgMZtFhJMrI/BKynz5NFebNEtl/eb++cjnO61OcayuT/oS+I66OSW14XcnIeEYNoGajuAMnApAYTfCbljl3LJDrHqC1kvY0PsVsAx/19fn3vUrs+LMkbPv0odW59rc0AS044VmlWA1wa305tv9wJlf6o9juijfhwrGkwPEcfkgSOAHuvRCcTmU5fI016rX8gHt9w1LaRXr5VyKoAJccU+0xK379hWlHWlF3tQmmr9f[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9b28aa5-0bff-1bc5-5e63-37005789c323/test-blob-141bf319-784b-9172-a719-e51171399a96?sv=Sanitized&se=2025-10-01T20%3A37%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sr3b/SLXQ13lWbb9lKzl8A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00612C6B6171\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9b28aa5-0bff-1bc5-5e63-37005789c323/test-blob-141bf319-784b-9172-a719-e51171399a96?sv=Sanitized&se=2025-10-01T20%3A37%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00612C6B6171\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00612C6B6171\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:29 GMT",
        "x-ms-blob-content-md5": "sr3b/SLXQ13lWbb9lKzl8A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "WEp4NBskraVOSRc3kMDqFSEtc42r9aEOsNv2XGhZxMIs7MlkZpdR9EV2xgJgOwDnL9DwQ8YN62OoaoQ/LlE99IRVCqT3hq6J3H5HNC+frXXbDyyYaYD8HwBmu/wTEcb0ONF9CzBb8KkhZmdHxrYzCLwPZB4kpYsEWOukkcqydsq4U/teI[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d9b28aa5-0bff-1bc5-5e63-37005789c323?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:37:28.9554780-07:00",
    "RandomSeed": "29755692",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
