{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df8e5dc1-fa69-8789-a2f8-472cb9e37a73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061355C4B58\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df8e5dc1-fa69-8789-a2f8-472cb9e37a73/test-blob-3f66ed61-0a3e-5545-cd38-29f685e8070f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Q3BYJLE/BtdrTM5axXMl87BtP5IsdZjJT9xtM/guwIg9l9jAaZ5VIuaO1PE765BZEzZFGKh04s7XjtTV0dLfPIxGHC2bZIkSFx2snaGmjWRMFCDB6KfgybQK6NrJgFETr5dk9c5ivq6sMwCKx0QtMQFvibyyHVTkZVJ4kHuuSJfLmO0JQZeW6VZxFLWnVQFw3bfZWfeUYZJDgJB76S0y/utovy9WI+9p2Z9mQAiePA9RCLPE1e6fNzdbxcEHGv8oPxbJPpbSGbnIb4BXLSCKpEOAKuF6bin8yIj4+10tYb6gPgHx1f15fu75+2VuSAkW0CF9h/AdrtDtzXYO2h5cmw3Bt+8fmM9FBqvygHLDjYB+[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df8e5dc1-fa69-8789-a2f8-472cb9e37a73/test-blob-3f66ed61-0a3e-5545-cd38-29f685e8070f?sv=Sanitized&se=2025-10-01T20%3A37%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "YihMaC17pFMKyTw2BPyhjOYaT6KTUD7GelQQX[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df8e5dc1-fa69-8789-a2f8-472cb9e37a73/test-blob-3f66ed61-0a3e-5545-cd38-29f685e8070f?sv=Sanitized&se=2025-10-01T20%3A37%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "New1CQ5OtRghh2OaT8qEcQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006135825B2E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df8e5dc1-fa69-8789-a2f8-472cb9e37a73/test-blob-3f66ed61-0a3e-5545-cd38-29f685e8070f?sv=Sanitized&se=2025-10-01T20%3A37%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006135825B2E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006135825B2E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-blob-content-md5": "New1CQ5OtRghh2OaT8qEcQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "YihMaC17pFMKyTw2BPyhjOYaT6KTUD7GelQQXNNE4jKaBhV96R3ueCe/OVTwUD7ykGvqe/3AQRLqhu3YakiAxucKnP3mJKLJK9d71Bbp1SoWHcxnWWc02cUDkmMvFQ3fP3Jt5rNADGzIIU8mRW37ALDDwkx8GGx/1cM445E/mRXJm5Skf[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df8e5dc1-fa69-8789-a2f8-472cb9e37a73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:37:44.2035299-07:00",
    "RandomSeed": "409188165",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
