{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9f3b49e-21f9-62e2-1522-6d78232d3521?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006133DABDFA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9f3b49e-21f9-62e2-1522-6d78232d3521/test-blob-47340e07-904c-3035-77b1-f4b05a45bb59?sv=Sanitized&se=2025-10-01T20%3A37%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "3FwyzRncnZbTBHh/wXcs5K2SlZiI/sS1H+Pg0yBwcjOJU+e5vc4aKnGec0cXtm4AhBACyK8i0N2YfK01/Mp1YpFF9m6Qcybed2sn6op8nml14E4QbqqEZoIJIEEg5C6nKBG10sAAcBDpI1BD++ZSHN5EwBt7ZfPnwI/rhlPlvpI8f8J5xsuodXA+J0pZQGqctgRi3CQSK8IdzhIwFOm9A2W9Bnwj2VUSm0urPT6pjX8lTs9OguFuKlT/XPe5eGCGgSPlmznueN2vUEDZZ+6EdECSCsYaboCDT9woJH1dWSPqJLsaw/FGN9XynzKhlMNleue3J22ZbBKjYUxdxlRgUfYd7kIyarBOS9PwKM9N4rsZwqqVpjG1Ubipd2Gl6XGBkU48hKWAMhA3aNuaqURCVX+QQwOpy6rEZ5[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9f3b49e-21f9-62e2-1522-6d78232d3521/test-blob-47340e07-904c-3035-77b1-f4b05a45bb59?sv=Sanitized&se=2025-10-01T20%3A37%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UOcobv3M/xqRcZy4/HcT+Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006133F92F44\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9f3b49e-21f9-62e2-1522-6d78232d3521/test-blob-47340e07-904c-3035-77b1-f4b05a45bb59?sv=Sanitized&se=2025-10-01T20%3A37%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006133F92F44\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006133F92F44\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:41 GMT",
        "x-ms-blob-content-md5": "UOcobv3M/xqRcZy4/HcT+Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "3FwyzRncnZbTBHh/wXcs5K2SlZiI/sS1H+Pg0yBwcjOJU+e5vc4aKnGec0cXtm4AhBACyK8i0N2YfK01/Mp1YpFF9m6Qcybed2sn6op8nml14E4QbqqEZoIJIEEg5C6nKBG10sAAcBDpI1BD++ZSHN5EwBt7ZfPnwI/rhlPlvpI8f8J5x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9f3b49e-21f9-62e2-1522-6d78232d3521?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:37:41.6228247-07:00",
    "RandomSeed": "1748712026",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
