{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d6794f76-901f-49e4-c765-3f72c6f3ac9c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:35:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E2FB6A35E\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d6794f76-901f-49e4-c765-3f72c6f3ac9c/test-blob-9bf4d03c-c240-02c6-5c33-8a0755c5636b?sv=2024-08-04&se=2024-05-02T20%3A35%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "fixIaVePBua0rMOoIZ98ds5e4RVnS9JnlpnBYnvrsrsd5tWdjN+FrcoO55P+HuC8txM49+RNBDNa4dO+zqNqyfkIijrK3uru2TRKWGM+aHi4BKtosrvXz+GiQ6oMxt8npB6a9pOm8dgoSh6wA6zPG3lbBcn3ARY+MLtYKJtA4hJUI7REpHHkEhLTQGedJsw10icwscAVL6IHW8XXTck86GgLW9/3i3YIdvO2JMGuoQnvI1ZzDzBRP/MRPEmrDMVJllf/kcvsPkexKDrNXgrhWLq76Cpyydk3uhzr5U4tXGoubY5qrhA+A+UPwub1hODpMOOO7ySa1s19yNavAFj4g8zQn/F8d6mqfeVFYwbzQTY7ArVqnmxGk5bB7OY5jwKMFj4ZJeXvbLk55HI+VXPGioegdP6ijuRfig[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d6794f76-901f-49e4-c765-3f72c6f3ac9c/test-blob-9bf4d03c-c240-02c6-5c33-8a0755c5636b?sv=2024-08-04&se=2024-05-02T20%3A35%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/L+nhCzdN/6AlfsFd61yow==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E2FC9C422\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:06.3083042Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d6794f76-901f-49e4-c765-3f72c6f3ac9c/test-blob-9bf4d03c-c240-02c6-5c33-8a0755c5636b?sv=2024-08-04&se=2024-05-02T20%3A35%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E2FC9C422\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E2FC9C422\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:06 GMT",
        "x-ms-blob-content-md5": "/L+nhCzdN/6AlfsFd61yow==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:06.3083042Z"
      },
      "ResponseBody": "fixIaVePB[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d6794f76-901f-49e4-c765-3f72c6f3ac9c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:35:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:35:05.9919629-07:00",
    "RandomSeed": "1671925469",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
