{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c29c0116-57f7-e1e3-1d11-11bea8c98ece?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D113598FD58\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c29c0116-57f7-e1e3-1d11-11bea8c98ece/test-blob-59c265db-432c-4d67-c6a0-33f51fa79d67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "C/iYi+uY8coczacPukC1jyOQYN/zrOzitZAvPAWRvUrJp+9OZ1K7QnT3PV6bWJKF66TSjka+dF8LtdZbaLTFihBcRRJQZyjQ1R5r+26NRlz9qVBhvy8ECzOQQrF8YNm/MrNOPhKANYN7AbgoU3jwfW95Xb5jZMrhWDrfwCR3VHVEq8m7PgdKfXTN5b5227e6oMVCAgIaW83obebXoHRfBKxD46euND5nL99Kln4LanyDJSBfNVFyKVD70tEhct3/buERMvgPC2uG2tMi0MRO3ANpVHpU/85b0LlXs2FtRbwCSiid+jiEcxm02Fp+T1mMrPbOtx5iqm4StmE+uFgJGJUWIIWcseLK5eBhoCZ03IBg[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c29c0116-57f7-e1e3-1d11-11bea8c98ece/test-blob-59c265db-432c-4d67-c6a0-33f51fa79d67?sv=Sanitized&se=2025-03-08T00%3A44%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "SF3u7MEIX2I0UkqfbsIoIY/R12u+cVIYFXa8XRDX940rdGmWY5GFr+iKM8NHl6HaQZUE/M6Je9cK1tZLTAFRXVu9dPlZkr7+TCiCMz6O0H7U4Rx70vq+ofiRi426OmLnOdZoiSKngK/XBrCmB0iZfAVYdmrl1opg/9IAxwYxQxLFmvpnJUZbLGBso8xJF5mw+A+HYcP4AmJLB4pQprmppsKe4W1OMVa+/UkJeTK+Fuc5UM/3qeJOzJiXHB68C4anw/0JqzYsYse4yWN67ogwjfCjF1bpsf3gUBTUtxU4AvLDYbU1tGuxDO4IPt9+090PZo4tGPMwvhH/KVshWKuygMdxt43S+tiF8gpn4XIeYXw2xFCGC+n+k6OjNosPj7RDVr4[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c29c0116-57f7-e1e3-1d11-11bea8c98ece/test-blob-59c265db-432c-4d67-c6a0-33f51fa79d67?sv=Sanitized&se=2025-03-08T00%3A44%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "liazbUQjKZZaxJOSZ0KmEw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1135A1A1FD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c29c0116-57f7-e1e3-1d11-11bea8c98ece/test-blob-59c265db-432c-4d67-c6a0-33f51fa79d67?sv=Sanitized&se=2025-03-08T00%3A44%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1135A1A1FD\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1135A1A1FD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:25 GMT",
        "x-ms-blob-content-md5": "liazbUQjKZZaxJOSZ0KmEw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "C/iYi+uY8coczacPukC1jyOQYN/zrOzitZAvPAWRvUrJp+9OZ1K7QnT3PV6bWJKF66TSjka+dF8LtdZbaLTFihBcRRJQZyjQ1R5r+26NRlz9qVBhvy8ECzOQQrF8YNm/MrNOPhKANYN7AbgoU3jwfW95Xb5jZMrhWDrfwCR3VHVEq8m7P[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c29c0116-57f7-e1e3-1d11-11bea8c98ece?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:44:25.2593386-08:00",
    "RandomSeed": "1259227313",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
