{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efb8a4e2-2fb4-72c4-719d-c3dbc3246cc0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006135D77BF6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efb8a4e2-2fb4-72c4-719d-c3dbc3246cc0/test-blob-e2098c10-3e2f-550d-3e0c-2b4b4b1d6db3?sv=Sanitized&se=2025-10-01T20%3A37%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "bi2Tp3TTzpbwKdatpiCsMpnPlXi0S2YJDlpZ5ZwlyLV3MtbR/iefPL5y8gZnX64eYPixe4f0/yLHiZkaeuj5ymAgNnRJ2jRyMFi6QVlgoa6sO4Sjc00tgzKzCnSNhcLVeCelRik51YXEP0suOr7JZ+jrbj5kVlYT87JCldDA5KqW5MgyulqEcmb/3zQB/kl06qKLoheDcSLQklN29j+0A1qgmFX1lqyNZ/vYZHYiEfRpzqotNEKTEnOmYScHDXsmStvZYWbzflT2/jsbqwyrroFfDSiVhs8YDIbhTzSEhll/shqbSK+OdU9WNzUGd2dm+rOmqP9TkMMMwFTgEi4fcXjhnPjyEGXR0ZfYP06ZEZUee1WB3t5ZLCFWjodbrWMhNsa9JdtudOlO1NZoelF0cq6/wZfZnpKaiH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efb8a4e2-2fb4-72c4-719d-c3dbc3246cc0/test-blob-e2098c10-3e2f-550d-3e0c-2b4b4b1d6db3?sv=Sanitized&se=2025-10-01T20%3A37%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Atdc3DPILqq1AogCUtwZeg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006135F33BD7\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efb8a4e2-2fb4-72c4-719d-c3dbc3246cc0/test-blob-e2098c10-3e2f-550d-3e0c-2b4b4b1d6db3?sv=Sanitized&se=2025-10-01T20%3A37%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006135F33BD7\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006135F33BD7\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:45 GMT",
        "x-ms-blob-content-md5": "Atdc3DPILqq1AogCUtwZeg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "bi2Tp3TTzpbwKdatpiCsMpnPlXi0S2YJDlpZ5ZwlyLV3MtbR/iefPL5y8gZnX64eYPixe4f0/yLHiZkaeuj5ymAgNnRJ2jRyMFi6QVlgoa6sO4Sjc00tgzKzCnSNhcLVeCelRik51YXEP0suOr7JZ+jrbj5kVlYT87JCldDA5KqW5Mgyu[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efb8a4e2-2fb4-72c4-719d-c3dbc3246cc0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:37:44.9583830-07:00",
    "RandomSeed": "1330020496",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
