{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-241cb8be-12f8-14c4-8fd3-52209fad7317?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:35:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E2E62649B\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-241cb8be-12f8-14c4-8fd3-52209fad7317/test-blob-28b46d95-6841-3472-4381-1599994c7899?sv=2024-08-04&se=2024-05-02T20%3A35%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "sChpPC1qs4cl+cqT+89TdjJz4y9A+ulO8UvG4gFjtNGj9PUeLvDXKrotA0ee3jl0Lp9nJWlJWbU/G0vipNCGwUX58AfaNUdBnLh1E/ehrxIRUbRi/I9nWps/3xKl9Ybpp0ECpe0ymfhXJYmx00W9nWw40FIcJMW1kZZsmlU0nKYxjGy2ngkk37i7CtcFtYZVgUGmbSU0zIN7TBRXxf6iI4nigEfZB/5iE/CZYRnusNsPFhgUji+A/L/pOlL1zRm5GOZOIjU+fHpCQ1k1mmtpjZw4R6/ljpVZYoOI78ysbUbW30gzoI2m0Zqe0UrVS2JTgK21vYVq1IlR9MCyto2ultYTX7oiNe0PkXYVR71KhBchNG8e96/Aawu/4azM9BoM7zp0weunMErApSsPVYzLBm+pkYEdkJ4mU/[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-241cb8be-12f8-14c4-8fd3-52209fad7317/test-blob-28b46d95-6841-3472-4381-1599994c7899?sv=2024-08-04&se=2024-05-02T20%3A35%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "RM23Bv0zEcWEN7gX0yrCeQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E2E7736FE\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:04.0895742Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-241cb8be-12f8-14c4-8fd3-52209fad7317/test-blob-28b46d95-6841-3472-4381-1599994c7899?sv=2024-08-04&se=2024-05-02T20%3A35%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E2E7736FE\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E2E7736FE\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:04 GMT",
        "x-ms-blob-content-md5": "RM23Bv0zEcWEN7gX0yrCeQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:35:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:35:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:35:04.0895742Z"
      },
      "ResponseBody": "sChpPC1qs[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-241cb8be-12f8-14c4-8fd3-52209fad7317?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:35:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:35:03.7604051-07:00",
    "RandomSeed": "556154110",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
