{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e57e197d-30c8-51ab-08ad-44b6210bad08?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D113A2C7B59\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e57e197d-30c8-51ab-08ad-44b6210bad08/test-blob-53fde51c-b07a-0075-4443-6f144c46a08e?sv=Sanitized&se=2025-03-08T00%3A44%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "94BE6fWCZVcDPz6qH64BX8s7R8t8YknCwhXnYHtnjZ08zy650v6ymoClUDpxy+CVQRBIEf7VEZQ3giffmgXbnLGhbVCASIzNia1K1xIPUPY1UR5rH3yfZr2Zgk/W0/97ybOI0F6PFfmDeohRijqCJzIxqUnnb301AgaT5sU89ratzw1ehoCYpjwk6KT0TdyDF1odpSm2lFk2U85X/C40RoTRpLssI6GymQMMwofZQbQqEM9rH1GM9ju0KDKxQaoO8KIfIqkgVvO4awwmqtHSXREaLOtfyCczRa1/ePtuAFdY/dLluR8KCrnbsrREZktq4cshlxS+ryd67N38od74SWq0za3+7aPyECIygxVz7t5iFZYwTWlCmk6qasxCDmja4mlJkJmea/QnLofyjCsSB/3+mYtIyPwAcT[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e57e197d-30c8-51ab-08ad-44b6210bad08/test-blob-53fde51c-b07a-0075-4443-6f144c46a08e?sv=Sanitized&se=2025-03-08T00%3A44%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "iAN4/HDfyaBp6cW67cIYbw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D113A395AFC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e57e197d-30c8-51ab-08ad-44b6210bad08/test-blob-53fde51c-b07a-0075-4443-6f144c46a08e?sv=Sanitized&se=2025-03-08T00%3A44%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D113A395AFC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D113A395AFC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:44:32 GMT",
        "x-ms-blob-content-md5": "iAN4/HDfyaBp6cW67cIYbw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:44:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "94BE6fWCZVcDPz6qH64BX8s7R8t8YknCwhXnYHtnjZ08zy650v6ymoClUDpxy+CVQRBIEf7VEZQ3giffmgXbnLGhbVCASIzNia1K1xIPUPY1UR5rH3yfZr2Zgk/W0/97ybOI0F6PFfmDeohRijqCJzIxqUnnb301AgaT5sU89ratzw1eh[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e57e197d-30c8-51ab-08ad-44b6210bad08?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:44:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:44:32.8827548-08:00",
    "RandomSeed": "942454704",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
