{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-086185a9-e705-cb33-379e-7c2160ae9783?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061344EAE80\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-086185a9-e705-cb33-379e-7c2160ae9783/test-blob-535900af-cd10-81dc-010b-6b02b9025185?sv=Sanitized&se=2025-10-01T20%3A37%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Zo4e8CmAtRecvLHZLDUCNymSgXlX5N01kwMWwqDFKgx7dOfFR+lxL0tCt1QbA1XLCTPZJoHYLoGx6V0mafN21pGlXbdNPO8/IVEuFC2IGo+tSrls7ASKo0ZmFF6LSsVXy+DCdaWdfsxEmQQwqhlTKc/NeR86CuqNG7pw5yiQs9eL1khNxaTqD8vsJ1L/WvktEuuPvdGlHcH1NFrrLZeks+UtpNPQBmMq42lTTuKYjsHAQ9Q9AfYF5bmHV5FJ/+I0R3Rs0bUlXAyIZNpoUs/eXaaZKunCZ7HvKL4aSa/R4OSGHwZtK70LmufItZwbnZPqqPrrsNT5ceDCfaj3CxNdtoP24jPIcDLojY8B+rEV1IsqMKC05i8PjK0lq60UE4/Ua/8YJbtgITfIAiNF+HcvrakdzNtyqM9U51[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-086185a9-e705-cb33-379e-7c2160ae9783/test-blob-535900af-cd10-81dc-010b-6b02b9025185?sv=Sanitized&se=2025-10-01T20%3A37%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "crjODnnn+dApVhQ4NFUsaQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00613478F329\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-086185a9-e705-cb33-379e-7c2160ae9783/test-blob-535900af-cd10-81dc-010b-6b02b9025185?sv=Sanitized&se=2025-10-01T20%3A37%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00613478F329\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00613478F329\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:37:42 GMT",
        "x-ms-blob-content-md5": "crjODnnn+dApVhQ4NFUsaQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:37:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "Zo4e8CmAtRecvLHZLDUCNymSgXlX5N01kwMWwqDFKgx7dOfFR+lxL0tCt1QbA1XLCTPZJoHYLoGx6V0mafN21pGlXbdNPO8/IVEuFC2IGo+tSrls7ASKo0ZmFF6LSsVXy+DCdaWdfsxEmQQwqhlTKc/NeR86CuqNG7pw5yiQs9eL1khNx[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-086185a9-e705-cb33-379e-7c2160ae9783?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:37:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:37:42.4710671-07:00",
    "RandomSeed": "398425476",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
