{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-071beec0-b63a-ec24-4f6c-abb311a59bea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB16D31A3CF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:58:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-071beec0-b63a-ec24-4f6c-abb311a59bea/test-blob-6b250b02-cff8-7c89-bf0f-a4618d6ee106",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "zsE1kfr0foBG8OYryIkpIHuu\u002BoAGRxoNq09jYsva9pF3rJTW27vk6C\u002BMk4/ewA1DtCHrptv9/oanJ\u002BWqkBu0a/lUtBv0U0XAyhFRerSLL\u002BtBIK6p71C2ea4NL7PVOVgU1yeWiQzxTmDbKtzJrITSG/f6aHBtCnypnjpt5iSR65C5PKKM9abfUNFNzsRz7M0pOxO82tHnp82q7erRhGg8Sj9MD2/iRSZQGxifHzy4NbFsQ6sQ1RC/0pXV4gi8DctpEYSEJt1eR/bta7\u002B4R4eQ8rc4ZEC8K3QvjTzaDGMdlA1MNg64NA/UDvu1I2lQBosNRO9Qg6mLrOYPVJmghDq[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-071beec0-b63a-ec24-4f6c-abb311a59bea/test-blob-6b250b02-cff8-7c89-bf0f-a4618d6ee106?sv=2024-05-04\u0026se=2024-03-28T22%3A58%3A31Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "2/5xSqro4GttZLEygtd3fsc7Atr9lgJQTuX/fv8I7pVIhkzicX3tC3bqDpYGBOMGGba/i7bIx0T7IPzF6GJrZXUb6vyKlQ1KTvZkE4hsSUkB\u002BWRJSGPegL4I51CAJyMTfqgg6xrne4SpdTzAY7S7j9eyw\u002B/9IhwSPWk9gq28ySbTUJXfTF4vGn7goNMmHhwKTFh5zWQzFluMDq2wqfjW7asV7RMf3EJ4g6hxHYJJ6x9NMzZVQvzCnzo5Uz6wfnGFCbMoEDAJ6nAVAEq7wfjZQyKOY3XCgKqvU03Z5ogEyAQ36xPPIdruREjGQEGyBt1BXxAbIRv7w4kIeL3jMATnEDhFhNXlCSJHoB4s\u002Bz9o/Uxvl4Z46abp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-071beec0-b63a-ec24-4f6c-abb311a59bea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:58:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:58:31.5468401-07:00",
    "RandomSeed": "156900407",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
