{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c0f71937-e979-13ab-9e44-a516729786b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:35:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E3117393C\"",
        "Last-Modified": "Wed, 01 May 2024 20:35:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c0f71937-e979-13ab-9e44-a516729786b7/test-blob-bc7d4bce-75d7-9eb2-dbf2-8fe6cef4d6a1?sv=2024-08-04&se=2024-05-02T20%3A35%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "51GG0AgYV7B/9zSj4SMzox+XeXS+p0HNC++BEFlP+eiKQUUrWrMAtvTMPeBBD7y4v+zHNnpi40APucQYlkZXMP1MGKDdB0lrl8OA8mphjPwzyVFsh8NtKF4FG6Hv6B+tdQ3i9PYb2reiXJ634vHVrizI5c306qg63vBC2Ouoe6+j0nxdf5cFF++aySsktkVtL210JwNSuItkqBYF2QLL+uDvEw90eC6Uws3eWiB8FSir1Kh9M1SsURnx+NaB/z7szs9KNaI1+Lc+4GQ1dF5q55LuWgRaTseMQ8L2g4BYE8KO8YxQMuCFddzwPlPvdt27hhBDk6Q5koAIvfHgP3U25s2hpoLSGrWyaeUoaQ9znMzkO/xvFIAdVV4LSHTupDZmuleGTc9a6GxbkSm/EClxlCAl/AN4x9JMhF[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c0f71937-e979-13ab-9e44-a516729786b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:35:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:35:08.3042855-07:00",
    "RandomSeed": "1234709186",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
