{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateanECkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateanECkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateanECkey-/ff7729f800ba403a80ad7e4ba68495ad",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "xUHT41Do6Y7iJTWQtQFj5cjL9uVRUce0-asuJPnbcic",
          "y": "g8Yq0XGlS9Tn1P3liWrwsLo_Rjm34uuV2Ai9BqFQ8Eo"
        },
        "attributes": {
          "enabled": true,
          "created": 1777635721,
          "updated": 1777635721,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateanECkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateanECkey-",
        "deletedDate": 1777635721,
        "scheduledPurgeDate": 1778240521,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateanECkey-/ff7729f800ba403a80ad7e4ba68495ad",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "xUHT41Do6Y7iJTWQtQFj5cjL9uVRUce0-asuJPnbcic",
          "y": "g8Yq0XGlS9Tn1P3liWrwsLo_Rjm34uuV2Ai9BqFQ8Eo"
        },
        "attributes": {
          "enabled": true,
          "created": 1777635721,
          "updated": 1777635721,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateanECkey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateanECkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateanECkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
