{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/e1a6006d53f6424faef9e3dbcfde7f3b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sllFfjvr70DWe3GMF8N7bvlfK7d7meYF7YKONRIc9iN_Msvba4HzL-poevdAzdoB2SsXVTfTabTaSjoxy-gofRMpnJC7YGJf_wOYgzdp-RsR89oErSdDkRO3UA__vkMZ1QDt28FLf37gkrs_Dmglmgp7F39JP4sEcz3q6EvBRYs61JwrZ7TU-DfGbDYR_XchcMxEN02FQqvzMgIBLKFe-90lqxRBqR7pTjnUwNcKsstMsgT-X3EP4iei5j4qUAyg4GGOIPEu4eQIzHQ4lifRihOR7Jn9i9qfAS9zPJh78Rg22RChroKOk57TqqZWDnC6hW8-4mexY1Myby5Wdd_hsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777635796,
          "updated": 1777635796,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/e1a6006d53f6424faef9e3dbcfde7f3b?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/e1a6006d53f6424faef9e3dbcfde7f3b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sllFfjvr70DWe3GMF8N7bvlfK7d7meYF7YKONRIc9iN_Msvba4HzL-poevdAzdoB2SsXVTfTabTaSjoxy-gofRMpnJC7YGJf_wOYgzdp-RsR89oErSdDkRO3UA__vkMZ1QDt28FLf37gkrs_Dmglmgp7F39JP4sEcz3q6EvBRYs61JwrZ7TU-DfGbDYR_XchcMxEN02FQqvzMgIBLKFe-90lqxRBqR7pTjnUwNcKsstMsgT-X3EP4iei5j4qUAyg4GGOIPEu4eQIzHQ4lifRihOR7Jn9i9qfAS9zPJh78Rg22RChroKOk57TqqZWDnC6hW8-4mexY1Myby5Wdd_hsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777635796,
          "updated": 1777635796,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cangetaspecificversionofakey-",
        "deletedDate": 1777635796,
        "scheduledPurgeDate": 1778240596,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/e1a6006d53f6424faef9e3dbcfde7f3b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sllFfjvr70DWe3GMF8N7bvlfK7d7meYF7YKONRIc9iN_Msvba4HzL-poevdAzdoB2SsXVTfTabTaSjoxy-gofRMpnJC7YGJf_wOYgzdp-RsR89oErSdDkRO3UA__vkMZ1QDt28FLf37gkrs_Dmglmgp7F39JP4sEcz3q6EvBRYs61JwrZ7TU-DfGbDYR_XchcMxEN02FQqvzMgIBLKFe-90lqxRBqR7pTjnUwNcKsstMsgT-X3EP4iei5j4qUAyg4GGOIPEu4eQIzHQ4lifRihOR7Jn9i9qfAS9zPJh78Rg22RChroKOk57TqqZWDnC6hW8-4mexY1Myby5Wdd_hsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777635796,
          "updated": 1777635796,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetaspecificversionofakey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cangetaspecificversionofakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetaspecificversionofakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
