{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-/b09332b915d9438ba72d9bf8e6ee95dd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t4J9GSpcza1sd4aj4wj5cE0qCB8H4dFcJo4eN1rV26C-IGt2Y_QfRgApBFAoTqFfOdiTEiq6wyNGC4TEj8q2PTmzsb0CbnWMi73Umr3gfxjuAnHKkqOkSxKFsKJryhA9-VVpZYZ5DdRrs8_DJktC_5iEOZBJlVl5lPYC-gYzAIcxzKfHguecZ_LE1fyhHiSDJmFXJb5n9QIg98gqJ4L04FXz_GPeSs34SrUbGlPrttDPLi2Okbl1SKYo23HpLmsnIso6UWorGNrP5PwrDLrPUMhCBU3LXavpvhJX6Cx2sZcb4MPd4ZO6QmT11IhQFQ8o9eVo4_PXfkKoekYsnBTnRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777635771,
          "updated": 1777635771,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-/b09332b915d9438ba72d9bf8e6ee95dd?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
