{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions30830?api-version=2023-11-01&label=list-revisions-A20274",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions30830",
        "label": "list-revisions-A20274",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NU-N450BrI0WRuJmA5TyG4ji2rItT2eNzzATUHwRFOs\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:49:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ3Mzk=;sn=74014739"
      },
      "ResponseBody": {
        "etag": "NU-N450BrI0WRuJmA5TyG4ji2rItT2eNzzATUHwRFOs",
        "key": "listRevisions30830",
        "label": "list-revisions-A20274",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:49:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions30830?api-version=2023-11-01&label=list-revisions-A20274",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ3Mzk="
      },
      "RequestBody": {
        "key": "listRevisions30830",
        "label": "list-revisions-A20274",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ulwyZWKhvtvy1sc3GiSiDJMA9rbnqtrlNmoVgXdTne8\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:49:18 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ3NDM=;sn=74014743"
      },
      "ResponseBody": {
        "etag": "ulwyZWKhvtvy1sc3GiSiDJMA9rbnqtrlNmoVgXdTne8",
        "key": "listRevisions30830",
        "label": "list-revisions-A20274",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:49:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions30830",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ3NDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2gXyiMOlnT5UhDP9QYjRZlLKxcBojjBb_3uCFC3gnuU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ3NDc=;sn=74014747"
      },
      "ResponseBody": {
        "etag": "2gXyiMOlnT5UhDP9QYjRZlLKxcBojjBb_3uCFC3gnuU",
        "items": [
          {
            "etag": "80EhznXyf0m4cOx6_G-10-BkzkZefyURI7qPo2BcHJw",
            "key": "listRevisions30830",
            "label": "list-revisions-B7201",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:49:18+00:00"
          },
          {
            "etag": "X-CI_gf3VxGaL2xg8kdhfdnRA8pgOwflgn8ldJVtH0Q",
            "key": "listRevisions30830",
            "label": "list-revisions-B7201",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:49:18+00:00"
          },
          {
            "etag": "ulwyZWKhvtvy1sc3GiSiDJMA9rbnqtrlNmoVgXdTne8",
            "key": "listRevisions30830",
            "label": "list-revisions-A20274",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:49:18+00:00"
          },
          {
            "etag": "NU-N450BrI0WRuJmA5TyG4ji2rItT2eNzzATUHwRFOs",
            "key": "listRevisions30830",
            "label": "list-revisions-A20274",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:49:17+00:00"
          }
        ]
      }
    },
[...]
