{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions51471?api-version=2023-11-01&label=list-revisions-A10392",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A10392",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kq5HG2QS7sWnEGp_K0vmGzZUnmQx1H0OXpFNGq0B6hs\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjI2;sn=65176226",
        "x-ms-date": "Wed, 06 May 2026 17:10:27 GMT"
      },
      "ResponseBody": {
        "etag": "Kq5HG2QS7sWnEGp_K0vmGzZUnmQx1H0OXpFNGq0B6hs",
        "key": "listRevisions51471",
        "label": "list-revisions-A10392",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:10:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions51471?api-version=2023-11-01&label=list-revisions-A10392",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjI2"
      },
      "RequestBody": {
        "label": "list-revisions-A10392",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RUVEVb2fDSA-iezbTjf-_bw_6ERA_T0xtBxZcp_5V1A\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjI3;sn=65176227",
        "x-ms-date": "Wed, 06 May 2026 17:10:28 GMT"
      },
      "ResponseBody": {
        "etag": "RUVEVb2fDSA-iezbTjf-_bw_6ERA_T0xtBxZcp_5V1A",
        "key": "listRevisions51471",
        "label": "list-revisions-A10392",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:10:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A1039*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjMw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"JR_NP9FrzlwNasPS8O2SU5LkkG6MXxRLHwN7qeMm3CY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjMx;sn=65176231",
        "x-ms-date": "Wed, 06 May 2026 17:10:28 GMT"
      },
      "ResponseBody": {
        "etag": "JR_NP9FrzlwNasPS8O2SU5LkkG6MXxRLHwN7qeMm3CY",
        "items": [
          {
            "etag": "RUVEVb2fDSA-iezbTjf-_bw_6ERA_T0xtBxZcp_5V1A",
            "key": "listRevisions51471",
            "label": "list-revisions-A10392",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:28+00:00"
          },
          {
            "etag": "Kq5HG2QS7sWnEGp_K0vmGzZUnmQx1H0OXpFNGq0B6hs",
            "key": "listRevisions51471",
            "label": "list-revisions-A10392",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:27+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A1039*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjMx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"JR_NP9FrzlwNasPS8O2SU5LkkG6MXxRLHwN7qeMm3CY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjMx;sn=65176231",
        "x-ms-date": "Wed, 06 May 2026 17:10:28 GMT"
      },
      "ResponseBody": {
        "etag": "JR_NP9FrzlwNasPS8O2SU5LkkG6MXxRLHwN7qeMm3CY",
        "items": [
          {
            "etag": "RUVEVb2fDSA-iezbTjf-_bw_6ERA_T0xtBxZcp_5V1A",
            "key": "listRevisions51471",
            "label": "list-revisions-A10392",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:28+00:00"
          },
          {
            "etag": "Kq5HG2QS7sWnEGp_K0vmGzZUnmQx1H0OXpFNGq0B6hs",
            "key": "listRevisions51471",
            "label": "list-revisions-A10392",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:27+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A10392",
    "list-revisions-B": "list-revisions-B89637",
    "listRevisions": "listRevisions51471"
  }
}
