{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions68630?api-version=2023-11-01&label=list-revisions-A21037",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions68630",
        "label": "list-revisions-A21037",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cW2OrGgQ2YgpRaWQdyHkNNBqu2O_PfERnitzysJrW4w\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:22:15 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTU0;sn=2800954"
      },
      "ResponseBody": {
        "etag": "cW2OrGgQ2YgpRaWQdyHkNNBqu2O_PfERnitzysJrW4w",
        "key": "listRevisions68630",
        "label": "list-revisions-A21037",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:22:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions68630?api-version=2023-11-01&label=list-revisions-A21037",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=ODoxNSMyODAwOTU0"
      },
      "RequestBody": {
        "key": "listRevisions68630",
        "label": "list-revisions-A21037",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"albS_z_B5WaZIDgg4eixMkb-srGgPzFW-zpziV89L_8\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:22:16 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTU1;sn=2800955"
      },
      "ResponseBody": {
        "etag": "albS_z_B5WaZIDgg4eixMkb-srGgPzFW-zpziV89L_8",
        "key": "listRevisions68630",
        "label": "list-revisions-A21037",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:22:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions6863*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODAwOTU4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_bvjpdGGPrBLtQcIlJVbSeY9dcOKGye_SKaDX7Klk94\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTU5;sn=2800959"
      },
      "ResponseBody": {
        "etag": "_bvjpdGGPrBLtQcIlJVbSeY9dcOKGye_SKaDX7Klk94",
        "items": [
          {
            "etag": "albS_z_B5WaZIDgg4eixMkb-srGgPzFW-zpziV89L_8",
            "key": "listRevisions68630",
            "label": "list-revisions-A21037",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T18:22:16+00:00"
          },
          {
            "etag": "EdjKp3HppjcuSG-vxkIn8MKqowKci9rn2aN7JWzEtS4",
            "key": "listRevisions68630",
            "label": "list-revisions-B91765",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T18:22:16+00:00"
          },
          {
            "etag": "Q6W8kylQiVKfY6QMq1jXBYWa20Soshjsk0voZpYog60",
            "key": "listRevisions68630",
            "label": "list-revisions-B91765",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T18:22:16+00:00"
          },
          {
            "etag": "cW2OrGgQ2YgpRaWQdyHkNNBqu2O_PfERnitzysJrW4w",
            "key": "listRevisions68630",
            "label": "list-revisions-A21037",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T18:22:15+00:00"
          }
        ]
      }
    },
[...]
