{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions75592?api-version=2023-11-01&label=list-revisions-A15999",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions75592",
        "label": "list-revisions-A15999",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Fjbr4jIVeN-pd8tcGC40pFD2Vkk1wpkIirOwkW8KoZw\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:21:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQzODY=;sn=74774386",
        "x-ms-date": "Thu, 23 Oct 2025 05:21:54 GMT"
      },
      "ResponseBody": {
        "etag": "Fjbr4jIVeN-pd8tcGC40pFD2Vkk1wpkIirOwkW8KoZw",
        "key": "listRevisions75592",
        "label": "list-revisions-A15999",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:21:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions75592?api-version=2023-11-01&label=list-revisions-A15999",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQzODY="
      },
      "RequestBody": {
        "key": "listRevisions75592",
        "label": "list-revisions-A15999",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UrtIMcj-3sFVltce4NshvR8Q3hkz4MBZ4SOseop64wg\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:21:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQzODc=;sn=74774387",
        "x-ms-date": "Thu, 23 Oct 2025 05:21:55 GMT"
      },
      "ResponseBody": {
        "etag": "UrtIMcj-3sFVltce4NshvR8Q3hkz4MBZ4SOseop64wg",
        "key": "listRevisions75592",
        "label": "list-revisions-A15999",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:21:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions7559*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1YshPPcIkXGql2A5DZs4NfMKTazSPymOB1wccdTHUK8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTE=;sn=74774391",
        "x-ms-date": "Thu, 23 Oct 2025 05:21:55 GMT"
      },
      "ResponseBody": {
        "etag": "1YshPPcIkXGql2A5DZs4NfMKTazSPymOB1wccdTHUK8",
        "items": [
          {
            "etag": "-GL4k2zsoFKk0rzKGJJpTMf71-TSDWz9Xk0_0aYYMlk",
            "key": "listRevisions75592",
            "label": "list-revisions-B5597",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:21:55+00:00"
          },
          {
            "etag": "EvvQTd2_JPGwr-RZTb2iIn-2DzehX07y55iiPlHOMiM",
            "key": "listRevisions75592",
            "label": "list-revisions-B5597",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:21:55+00:00"
          },
          {
            "etag": "UrtIMcj-3sFVltce4NshvR8Q3hkz4MBZ4SOseop64wg",
            "key": "listRevisions75592",
            "label": "list-revisions-A15999",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:21:55+00:00"
          },
          {
            "etag": "Fjbr4jIVeN-pd8tcGC40pFD2Vkk1wpkIirOwkW8KoZw",
            "key": "listRevisions75592",
            "label": "list-revisions-A15999",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:21:54+00:00"
          }
        ]
      }
    },
[...]
