{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions64585?api-version=2023-11-01&label=list-revisions-A49908",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions64585",
        "label": "list-revisions-A49908",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GcVGjS-mkFOts-O7fs7EPQQHR5agW689l9ptrdoT-x4\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:00:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NzYzOA==;sn=103847638",
        "x-ms-date": "Mon, 26 Jan 2026 03:00:45 GMT"
      },
      "ResponseBody": {
        "etag": "GcVGjS-mkFOts-O7fs7EPQQHR5agW689l9ptrdoT-x4",
        "key": "listRevisions64585",
        "label": "list-revisions-A49908",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:00:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions64585?api-version=2023-11-01&label=list-revisions-A49908",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NzYzOA=="
      },
      "RequestBody": {
        "key": "listRevisions64585",
        "label": "list-revisions-A49908",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bA_tnnnJgVdf-Id9jGzxbVW1_uY1VGF2FAGu-UlZCz0\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:00:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NzYzOQ==;sn=103847639",
        "x-ms-date": "Mon, 26 Jan 2026 03:00:46 GMT"
      },
      "ResponseBody": {
        "etag": "bA_tnnnJgVdf-Id9jGzxbVW1_uY1VGF2FAGu-UlZCz0",
        "key": "listRevisions64585",
        "label": "list-revisions-A49908",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:00:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions64585",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NzY0Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"T_-1nPnS-yQhEu0TshJmD_MXQwGX0Tm_ea_gvyFTwuU\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NzY0Mw==;sn=103847643",
        "x-ms-date": "Mon, 26 Jan 2026 03:00:46 GMT"
      },
      "ResponseBody": {
        "etag": "T_-1nPnS-yQhEu0TshJmD_MXQwGX0Tm_ea_gvyFTwuU",
        "items": [
          {
            "etag": "bA_tnnnJgVdf-Id9jGzxbVW1_uY1VGF2FAGu-UlZCz0",
            "key": "listRevisions64585",
            "label": "list-revisions-A49908",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:00:46+00:00"
          },
          {
            "etag": "dsZdBshxyAeRoO0Izc5kXY-49bPq6KV8oEFHKcs3LUw",
            "key": "listRevisions64585",
            "label": "list-revisions-B61602",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:00:46+00:00"
          },
          {
            "etag": "f5GcXgMMtlt0IDLl6EA1KGVioTdmh9RIK0NbyT0YBFA",
            "key": "listRevisions64585",
            "label": "list-revisions-B61602",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:00:46+00:00"
          },
          {
            "etag": "GcVGjS-mkFOts-O7fs7EPQQHR5agW689l9ptrdoT-x4",
            "key": "listRevisions64585",
            "label": "list-revisions-A49908",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:00:45+00:00"
          }
        ]
      }
    },
[...]
