{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions30610?api-version=2023-11-01&label=list-revisions-A40356",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A40356",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sNPPFeL-dmfvVIOGBq9H51TY-5ozmWrC2wcq0z-xAJo\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTM4OQ==;sn=115289389",
        "x-ms-date": "Thu, 28 May 2026 21:23:29 GMT"
      },
      "ResponseBody": {
        "etag": "sNPPFeL-dmfvVIOGBq9H51TY-5ozmWrC2wcq0z-xAJo",
        "key": "listRevisions30610",
        "label": "list-revisions-A40356",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:23:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions30610?api-version=2023-11-01&label=list-revisions-A40356",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTM4OQ=="
      },
      "RequestBody": {
        "label": "list-revisions-A40356",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UTMnX4Cu7yGTm2iiNu0UAwsldMfMUwFxvH556KJpxHQ\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTM5MA==;sn=115289390",
        "x-ms-date": "Thu, 28 May 2026 21:23:30 GMT"
      },
      "ResponseBody": {
        "etag": "UTMnX4Cu7yGTm2iiNu0UAwsldMfMUwFxvH556KJpxHQ",
        "key": "listRevisions30610",
        "label": "list-revisions-A40356",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:23:30+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions30610",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-05-28T21:23:29.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTM5Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"HDGUVSyi2vjnu-2ZoBmehD_hGjD3R3z04EdfoTU2GOg\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions30610>; rel=\"original\"",
        "Memento-Datetime": "Thu, 28 May 2026 21:23:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTM5NA==;sn=115289394",
        "x-ms-date": "Thu, 28 May 2026 21:23:30 GMT"
      },
      "ResponseBody": {
        "etag": "HDGUVSyi2vjnu-2ZoBmehD_hGjD3R3z04EdfoTU2GOg",
        "items": [
          {
            "etag": "sNPPFeL-dmfvVIOGBq9H51TY-5ozmWrC2wcq0z-xAJo",
            "key": "listRevisions30610",
            "label": "list-revisions-A40356",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:23:29+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions30610",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-05-28T21:23:29.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTM5NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"HDGUVSyi2vjnu-2ZoBmehD_hGjD3R3z04EdfoTU2GOg\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions30610>; rel=\"original\"",
        "Memento-Datetime": "Thu, 28 May 2026 21:23:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTM5NA==;sn=115289394",
        "x-ms-date": "Thu, 28 May 2026 21:23:30 GMT"
      },
      "ResponseBody": {
        "etag": "HDGUVSyi2vjnu-2ZoBmehD_hGjD3R3z04EdfoTU2GOg",
        "items": [
          {
            "etag": "sNPPFeL-dmfvVIOGBq9H51TY-5ozmWrC2wcq0z-xAJo",
            "key": "listRevisions30610",
            "label": "list-revisions-A40356",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:23:29+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A40356",
    "list-revisions-B": "list-revisions-B90371",
    "listRevisions": "listRevisions30610"
  }
}
