{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions38062?api-version=2023-11-01&label=list-revisions-A29966",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A29966",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HPmADvhdnHJnRnPMDYDHTGkLDeJ6ByKm7ibaJYCXFIs\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:35 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjQ0;sn=65176244",
        "x-ms-date": "Wed, 06 May 2026 17:10:35 GMT"
      },
      "ResponseBody": {
        "etag": "HPmADvhdnHJnRnPMDYDHTGkLDeJ6ByKm7ibaJYCXFIs",
        "key": "listRevisions38062",
        "label": "list-revisions-A29966",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:10:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions38062?api-version=2023-11-01&label=list-revisions-A29966",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjQ0"
      },
      "RequestBody": {
        "label": "list-revisions-A29966",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dJMkdIChCPK-t-kat5zmmd5echVWyzVZnE5gyJAabtw\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjQ1;sn=65176245",
        "x-ms-date": "Wed, 06 May 2026 17:10:36 GMT"
      },
      "ResponseBody": {
        "etag": "dJMkdIChCPK-t-kat5zmmd5echVWyzVZnE5gyJAabtw",
        "key": "listRevisions38062",
        "label": "list-revisions-A29966",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:10:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions38062",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-05-06T17:10:35.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjQ4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iIPYvEzrjonUhftGmwtNAltZZ6QAAfokcaNgdlksUIE\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions38062>; rel=\"original\"",
        "Memento-Datetime": "Wed, 06 May 2026 17:10:35 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjQ5;sn=65176249",
        "x-ms-date": "Wed, 06 May 2026 17:10:36 GMT"
      },
      "ResponseBody": {
        "etag": "iIPYvEzrjonUhftGmwtNAltZZ6QAAfokcaNgdlksUIE",
        "items": [
          {
            "etag": "HPmADvhdnHJnRnPMDYDHTGkLDeJ6ByKm7ibaJYCXFIs",
            "key": "listRevisions38062",
            "label": "list-revisions-A29966",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:35+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions38062",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-05-06T17:10:35.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjQ5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iIPYvEzrjonUhftGmwtNAltZZ6QAAfokcaNgdlksUIE\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions38062>; rel=\"original\"",
        "Memento-Datetime": "Wed, 06 May 2026 17:10:35 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjQ5;sn=65176249",
        "x-ms-date": "Wed, 06 May 2026 17:10:36 GMT"
      },
      "ResponseBody": {
        "etag": "iIPYvEzrjonUhftGmwtNAltZZ6QAAfokcaNgdlksUIE",
        "items": [
          {
            "etag": "HPmADvhdnHJnRnPMDYDHTGkLDeJ6ByKm7ibaJYCXFIs",
            "key": "listRevisions38062",
            "label": "list-revisions-A29966",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:35+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A29966",
    "list-revisions-B": "list-revisions-B6412",
    "listRevisions": "listRevisions38062"
  }
}
