{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions54602?api-version=2023-11-01&label=list-revisions-A98004",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions54602",
        "label": "list-revisions-A98004",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xyfD-b9Hpx1R_xHp_ZzB_oCqUkFmtwoaE6wJd2cZsHc\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:49:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzEwNQ==;sn=103583105",
        "x-ms-date": "Fri, 23 Jan 2026 08:49:56 GMT"
      },
      "ResponseBody": {
        "etag": "xyfD-b9Hpx1R_xHp_ZzB_oCqUkFmtwoaE6wJd2cZsHc",
        "key": "listRevisions54602",
        "label": "list-revisions-A98004",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:49:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions54602?api-version=2023-11-01&label=list-revisions-A98004",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzEwNQ=="
      },
      "RequestBody": {
        "key": "listRevisions54602",
        "label": "list-revisions-A98004",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h8CDz8sHSRU6zv0s4UJYsUrNStakZe58RjZhDx0PkRs\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:49:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzEwNg==;sn=103583106",
        "x-ms-date": "Fri, 23 Jan 2026 08:49:58 GMT"
      },
      "ResponseBody": {
        "etag": "h8CDz8sHSRU6zv0s4UJYsUrNStakZe58RjZhDx0PkRs",
        "key": "listRevisions54602",
        "label": "list-revisions-A98004",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:49:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions54602",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2026-01-23T08:49:56.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzEwOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bXP9vuRgTqhYWDMaiKJQYek-AbDuPs2Tt3eV_aYL2rY\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions54602>; rel=\"original\"",
        "Memento-Datetime": "Fri, 23 Jan 2026 08:49:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzExMA==;sn=103583110",
        "x-ms-date": "Fri, 23 Jan 2026 08:49:58 GMT"
      },
      "ResponseBody": {
        "etag": "bXP9vuRgTqhYWDMaiKJQYek-AbDuPs2Tt3eV_aYL2rY",
        "items": [
          {
            "etag": "xyfD-b9Hpx1R_xHp_ZzB_oCqUkFmtwoaE6wJd2cZsHc",
            "key": "listRevisions54602",
            "label": "list-revisions-A98004",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:49:56+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions54602",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2026-01-23T08:49:56.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzExMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bXP9vuRgTqhYWDMaiKJQYek-AbDuPs2Tt3eV_aYL2rY\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions54602>; rel=\"original\"",
        "Memento-Datetime": "Fri, 23 Jan 2026 08:49:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzExMA==;sn=103583110",
        "x-ms-date": "Fri, 23 Jan 2026 08:49:58 GMT"
      },
      "ResponseBody": {
        "etag": "bXP9vuRgTqhYWDMaiKJQYek-AbDuPs2Tt3eV_aYL2rY",
        "items": [
          {
            "etag": "xyfD-b9Hpx1R_xHp_ZzB_oCqUkFmtwoaE6wJd2cZsHc",
            "key": "listRevisions54602",
            "label": "list-revisions-A98004",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:49:56+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A98004",
    "list-revisions-B": "list-revisions-B84876",
    "listRevisions": "listRevisions54602"
  }
}
