{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions94535?api-version=2023-11-01&label=list-revisions-A57929",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions94535",
        "label": "list-revisions-A57929",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1E7AIB65_Fa-hCde78xNoXZ8uqbF7mpKm_-6sMz4zy0\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:49:52 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzA5OQ==;sn=103583099",
        "x-ms-date": "Fri, 23 Jan 2026 08:49:52 GMT"
      },
      "ResponseBody": {
        "etag": "1E7AIB65_Fa-hCde78xNoXZ8uqbF7mpKm_-6sMz4zy0",
        "key": "listRevisions94535",
        "label": "list-revisions-A57929",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:49:52+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions94535?api-version=2023-11-01&label=list-revisions-A57929",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzA5OQ=="
      },
      "RequestBody": {
        "key": "listRevisions94535",
        "label": "list-revisions-A57929",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KBlxIuqJbFwsE3h6pnjYjxFAzx4564lHR22pW0vmDm4\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:49:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzEwMA==;sn=103583100",
        "x-ms-date": "Fri, 23 Jan 2026 08:49:53 GMT"
      },
      "ResponseBody": {
        "etag": "KBlxIuqJbFwsE3h6pnjYjxFAzx4564lHR22pW0vmDm4",
        "key": "listRevisions94535",
        "label": "list-revisions-A57929",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:49:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions9453*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzEwMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"owVhNpRoqpuHeH4v587g9A_Nwtv639BhrB0OMVcsa_A\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzEwNA==;sn=103583104",
        "x-ms-date": "Fri, 23 Jan 2026 08:49:53 GMT"
      },
      "ResponseBody": {
        "etag": "owVhNpRoqpuHeH4v587g9A_Nwtv639BhrB0OMVcsa_A",
        "items": [
          {
            "etag": "GX525I2FSj2YGr97OY5PJuFb6SQPF5y0_h2zpWn9030",
            "key": "listRevisions94535",
            "label": "list-revisions-B28840",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:49:53+00:00"
          },
          {
            "etag": "KBlxIuqJbFwsE3h6pnjYjxFAzx4564lHR22pW0vmDm4",
            "key": "listRevisions94535",
            "label": "list-revisions-A57929",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:49:53+00:00"
          },
          {
            "etag": "MJfff1tZLYa_Y2MgHen1Op8MQH3gsFA48a4lsL6O8CI",
            "key": "listRevisions94535",
            "label": "list-revisions-B28840",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:49:53+00:00"
          },
          {
            "etag": "1E7AIB65_Fa-hCde78xNoXZ8uqbF7mpKm_-6sMz4zy0",
            "key": "listRevisions94535",
            "label": "list-revisions-A57929",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:49:52+00:00"
          }
        ]
      }
    },
[...]
