{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions54101?api-version=2023-11-01&label=list-revisions-A79918",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions54101",
        "label": "list-revisions-A79918",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gb4tio7K8jXwuXERnh1a30E5ITRsE6pD_NeyXtVe5to\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:41:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA4NTc=;sn=73800857"
      },
      "ResponseBody": {
        "etag": "gb4tio7K8jXwuXERnh1a30E5ITRsE6pD_NeyXtVe5to",
        "key": "listRevisions54101",
        "label": "list-revisions-A79918",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:41:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions54101?api-version=2023-11-01&label=list-revisions-A79918",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA4NTc="
      },
      "RequestBody": {
        "key": "listRevisions54101",
        "label": "list-revisions-A79918",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gBmL9MDbpEa1iy6AuEuhDYuxIyI9pfIuTZQ0BssWRVI\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:41:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA4NTg=;sn=73800858"
      },
      "ResponseBody": {
        "etag": "gBmL9MDbpEa1iy6AuEuhDYuxIyI9pfIuTZQ0BssWRVI",
        "key": "listRevisions54101",
        "label": "list-revisions-A79918",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:41:48+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions54101",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA4NjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"keNJ6aQHpbeo2mPN-vd6Y6pGLohqbcUWUmujpcigCGM\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA4NjI=;sn=73800862"
      },
      "ResponseBody": {
        "etag": "keNJ6aQHpbeo2mPN-vd6Y6pGLohqbcUWUmujpcigCGM",
        "items": [
          {
            "etag": "D4qcRlHqO65i2U2evO3CF-wcf78THchqUazelDb_K9A",
            "key": "listRevisions54101",
            "label": "list-revisions-B4812",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:41:48+00:00"
          },
          {
            "etag": "ekfHov7vdCa9VR3HIx3yHWAb67VE84DMgtRNsehYjEE",
            "key": "listRevisions54101",
            "label": "list-revisions-B4812",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:41:48+00:00"
          },
          {
            "etag": "gBmL9MDbpEa1iy6AuEuhDYuxIyI9pfIuTZQ0BssWRVI",
            "key": "listRevisions54101",
            "label": "list-revisions-A79918",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:41:48+00:00"
          },
          {
            "etag": "gb4tio7K8jXwuXERnh1a30E5ITRsE6pD_NeyXtVe5to",
            "key": "listRevisions54101",
            "label": "list-revisions-A79918",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:41:47+00:00"
          }
        ]
      }
    },
[...]
