{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions17803?api-version=2023-11-01&label=list-revisions-A82209",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions17803",
        "label": "list-revisions-A82209",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ldVVfIfeSkpVL1G5UN-j1-jAQxV9cjvMyxDVqvK00Bc\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:30:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyMzU=;sn=75059235",
        "x-ms-date": "Tue, 04 Nov 2025 18:30:55 GMT"
      },
      "ResponseBody": {
        "etag": "ldVVfIfeSkpVL1G5UN-j1-jAQxV9cjvMyxDVqvK00Bc",
        "key": "listRevisions17803",
        "label": "list-revisions-A82209",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:30:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions17803?api-version=2023-11-01&label=list-revisions-A82209",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkyMzU="
      },
      "RequestBody": {
        "key": "listRevisions17803",
        "label": "list-revisions-A82209",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NOcaV1AgxueOcR1uLDyYcNCNbHlDVtGtwKM3LxhcMLM\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:30:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyMzY=;sn=75059236",
        "x-ms-date": "Tue, 04 Nov 2025 18:30:56 GMT"
      },
      "ResponseBody": {
        "etag": "NOcaV1AgxueOcR1uLDyYcNCNbHlDVtGtwKM3LxhcMLM",
        "key": "listRevisions17803",
        "label": "list-revisions-A82209",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:30:56+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions17803",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2025-11-04T18:30:55.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkyMzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"w2Skcw2kJtQWNlFxdRCjMsOyNK4Fg6oN_6HUAOW8ERA\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions17803>; rel=\"original\"",
        "Memento-Datetime": "Tue, 04 Nov 2025 18:30:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyNDA=;sn=75059240",
        "x-ms-date": "Tue, 04 Nov 2025 18:30:57 GMT"
      },
      "ResponseBody": {
        "etag": "w2Skcw2kJtQWNlFxdRCjMsOyNK4Fg6oN_6HUAOW8ERA",
        "items": [
          {
            "etag": "ldVVfIfeSkpVL1G5UN-j1-jAQxV9cjvMyxDVqvK00Bc",
            "key": "listRevisions17803",
            "label": "list-revisions-A82209",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:30:55+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions17803",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2025-11-04T18:30:55.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkyNDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"w2Skcw2kJtQWNlFxdRCjMsOyNK4Fg6oN_6HUAOW8ERA\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions17803>; rel=\"original\"",
        "Memento-Datetime": "Tue, 04 Nov 2025 18:30:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyNDA=;sn=75059240",
        "x-ms-date": "Tue, 04 Nov 2025 18:30:57 GMT"
      },
      "ResponseBody": {
        "etag": "w2Skcw2kJtQWNlFxdRCjMsOyNK4Fg6oN_6HUAOW8ERA",
        "items": [
          {
            "etag": "ldVVfIfeSkpVL1G5UN-j1-jAQxV9cjvMyxDVqvK00Bc",
            "key": "listRevisions17803",
            "label": "list-revisions-A82209",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:30:55+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A82209",
    "list-revisions-B": "list-revisions-B12517",
    "listRevisions": "listRevisions17803"
  }
}
