{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions17734?api-version=2023-11-01&label=list-revisions-A80450",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions17734",
        "label": "list-revisions-A80450",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PH1Sd9LWPAc6pz1480p-GTq6WWGaShLN3nae6X3Edek\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:56:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzM5NjE=;sn=74233961"
      },
      "ResponseBody": {
        "etag": "PH1Sd9LWPAc6pz1480p-GTq6WWGaShLN3nae6X3Edek",
        "key": "listRevisions17734",
        "label": "list-revisions-A80450",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:56:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions17734?api-version=2023-11-01&label=list-revisions-A80450",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzM5NjE="
      },
      "RequestBody": {
        "key": "listRevisions17734",
        "label": "list-revisions-A80450",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uLhpSK3XEuonX7FloU3LG0EqcrlIcrhVWYTC3_m1CBw\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:56:24 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzM5NjI=;sn=74233962"
      },
      "ResponseBody": {
        "etag": "uLhpSK3XEuonX7FloU3LG0EqcrlIcrhVWYTC3_m1CBw",
        "key": "listRevisions17734",
        "label": "list-revisions-A80450",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:56:24+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A80450",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzM5NjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vPakCrf9jo72Dk1FQzGPbIFVk4YIdf__VK0VAahmiQk\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzM5NjY=;sn=74233966"
      },
      "ResponseBody": {
        "etag": "vPakCrf9jo72Dk1FQzGPbIFVk4YIdf__VK0VAahmiQk",
        "items": [
          {
            "etag": "uLhpSK3XEuonX7FloU3LG0EqcrlIcrhVWYTC3_m1CBw",
            "key": "listRevisions17734",
            "label": "list-revisions-A80450",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:56:24+00:00"
          },
          {
            "etag": "PH1Sd9LWPAc6pz1480p-GTq6WWGaShLN3nae6X3Edek",
            "key": "listRevisions17734",
            "label": "list-revisions-A80450",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:56:23+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A80450",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzM5NjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vPakCrf9jo72Dk1FQzGPbIFVk4YIdf__VK0VAahmiQk\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzM5NjY=;sn=74233966"
      },
      "ResponseBody": {
        "etag": "vPakCrf9jo72Dk1FQzGPbIFVk4YIdf__VK0VAahmiQk",
        "items": [
          {
            "etag": "uLhpSK3XEuonX7FloU3LG0EqcrlIcrhVWYTC3_m1CBw",
            "key": "listRevisions17734",
            "label": "list-revisions-A80450",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:56:24+00:00"
          },
          {
            "etag": "PH1Sd9LWPAc6pz1480p-GTq6WWGaShLN3nae6X3Edek",
            "key": "listRevisions17734",
            "label": "list-revisions-A80450",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:56:23+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A80450",
    "list-revisions-B": "list-revisions-B98520",
    "listRevisions": "listRevisions17734"
  }
}
