{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions48185?api-version=2026-04-01&label=list-revisions-A34009",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A34009",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LfLlobeg-qI_rm4VbbvN6lVIrIMC57GhvfKnwj1vK5M\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:32:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MDk4Mw==;sn=53370983",
        "x-ms-date": "Mon, 15 Jun 2026 18:32:12 GMT"
      },
      "ResponseBody": {
        "etag": "LfLlobeg-qI_rm4VbbvN6lVIrIMC57GhvfKnwj1vK5M",
        "key": "listRevisions48185",
        "label": "list-revisions-A34009",
        "content_type": null,
        "value": "fooA1",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:32:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions48185?api-version=2026-04-01&label=list-revisions-A34009",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MDk4Mw=="
      },
      "RequestBody": {
        "label": "list-revisions-A34009",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-qVyqDPfCtA19irfxej86ZWzp1YYaRj6vaFZWYOjDEw\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:32:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MDk4NA==;sn=53370984",
        "x-ms-date": "Mon, 15 Jun 2026 18:32:13 GMT"
      },
      "ResponseBody": {
        "etag": "-qVyqDPfCtA19irfxej86ZWzp1YYaRj6vaFZWYOjDEw",
        "key": "listRevisions48185",
        "label": "list-revisions-A34009",
        "content_type": null,
        "value": "fooA2",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:32:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2026-04-01&label=list-revisions-A34009",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MDk4Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"pXen3QLopBWLqOtcV-Jo9OwWpG6O389354o1k1Wyuvk\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MDk4OA==;sn=53370988",
        "x-ms-date": "Mon, 15 Jun 2026 18:32:13 GMT"
      },
      "ResponseBody": {
        "etag": "pXen3QLopBWLqOtcV-Jo9OwWpG6O389354o1k1Wyuvk",
        "items": [
          {
            "etag": "-qVyqDPfCtA19irfxej86ZWzp1YYaRj6vaFZWYOjDEw",
            "key": "listRevisions48185",
            "label": "list-revisions-A34009",
            "content_type": null,
            "value": "fooA2",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:32:13+00:00"
          },
          {
            "etag": "LfLlobeg-qI_rm4VbbvN6lVIrIMC57GhvfKnwj1vK5M",
            "key": "listRevisions48185",
            "label": "list-revisions-A34009",
            "content_type": null,
            "value": "fooA1",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:32:12+00:00"
          }
        ]
      }
    },
[...]
