{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions71637?api-version=2023-11-01&label=list-revisions-A82032",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions71637",
        "label": "list-revisions-A82032",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sSADEY13FPRWsM5povvsVSlQdwof_ZyxNdMxjmLsQi0\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:33:34 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA1OTY=;sn=74230596"
      },
      "ResponseBody": {
        "etag": "sSADEY13FPRWsM5povvsVSlQdwof_ZyxNdMxjmLsQi0",
        "key": "listRevisions71637",
        "label": "list-revisions-A82032",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:33:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions71637?api-version=2023-11-01&label=list-revisions-A82032",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA1OTY="
      },
      "RequestBody": {
        "key": "listRevisions71637",
        "label": "list-revisions-A82032",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JL0fVBMXKdJyWJ0d3DTAPDrbS7eCUFfRCPyZBEpMcxc\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:33:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA1OTc=;sn=74230597"
      },
      "ResponseBody": {
        "etag": "JL0fVBMXKdJyWJ0d3DTAPDrbS7eCUFfRCPyZBEpMcxc",
        "key": "listRevisions71637",
        "label": "list-revisions-A82032",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:33:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions71637",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA2MDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"dhV3f1PeF9HskEdPL_EUPPx15zfn5dlZMeigovyYxRs\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2MDE=;sn=74230601"
      },
      "ResponseBody": {
        "etag": "dhV3f1PeF9HskEdPL_EUPPx15zfn5dlZMeigovyYxRs",
        "items": [
          {
            "etag": "3291G0fXQ3mytx6zkbyN-hanrXrYikRGouqbVrGNoYM",
            "key": "listRevisions71637",
            "label": "list-revisions-B75370",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:33:35+00:00"
          },
          {
            "etag": "BzZTHZlkQou1NuMFWTQhZpVMpyq5sDa_Qqm90LKOzLI",
            "key": "listRevisions71637",
            "label": "list-revisions-B75370",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:33:35+00:00"
          },
          {
            "etag": "JL0fVBMXKdJyWJ0d3DTAPDrbS7eCUFfRCPyZBEpMcxc",
            "key": "listRevisions71637",
            "label": "list-revisions-A82032",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:33:35+00:00"
          },
          {
            "etag": "sSADEY13FPRWsM5povvsVSlQdwof_ZyxNdMxjmLsQi0",
            "key": "listRevisions71637",
            "label": "list-revisions-A82032",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:33:34+00:00"
          }
        ]
      }
    },
[...]
