{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions15714?api-version=2023-11-01&label=list-revisions-A67665",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions15714",
        "label": "list-revisions-A67665",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4gmUrCu5si0yoiqhpKyykDYWu9BFl9sETRHhGn0ZDic\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:21:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTI=;sn=74774392",
        "x-ms-date": "Thu, 23 Oct 2025 05:21:58 GMT"
      },
      "ResponseBody": {
        "etag": "4gmUrCu5si0yoiqhpKyykDYWu9BFl9sETRHhGn0ZDic",
        "key": "listRevisions15714",
        "label": "list-revisions-A67665",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:21:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions15714?api-version=2023-11-01&label=list-revisions-A67665",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTI="
      },
      "RequestBody": {
        "key": "listRevisions15714",
        "label": "list-revisions-A67665",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cpTyJzn2ALFN48aj_Evyz2sfQiqeyeV4AL5lH5ljVNs\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:21:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTM=;sn=74774393",
        "x-ms-date": "Thu, 23 Oct 2025 05:21:59 GMT"
      },
      "ResponseBody": {
        "etag": "cpTyJzn2ALFN48aj_Evyz2sfQiqeyeV4AL5lH5ljVNs",
        "key": "listRevisions15714",
        "label": "list-revisions-A67665",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:21:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions15714",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2025-10-23T05:21:58.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"z_jr9Kqt6w1IH5K2XVUh2vZk4pHUAIEYnof0n6-1FW4\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions15714>; rel=\"original\"",
        "Memento-Datetime": "Thu, 23 Oct 2025 05:21:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTc=;sn=74774397",
        "x-ms-date": "Thu, 23 Oct 2025 05:22:00 GMT"
      },
      "ResponseBody": {
        "etag": "z_jr9Kqt6w1IH5K2XVUh2vZk4pHUAIEYnof0n6-1FW4",
        "items": [
          {
            "etag": "4gmUrCu5si0yoiqhpKyykDYWu9BFl9sETRHhGn0ZDic",
            "key": "listRevisions15714",
            "label": "list-revisions-A67665",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:21:58+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions15714",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2025-10-23T05:21:58.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"z_jr9Kqt6w1IH5K2XVUh2vZk4pHUAIEYnof0n6-1FW4\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions15714>; rel=\"original\"",
        "Memento-Datetime": "Thu, 23 Oct 2025 05:21:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQzOTc=;sn=74774397",
        "x-ms-date": "Thu, 23 Oct 2025 05:22:00 GMT"
      },
      "ResponseBody": {
        "etag": "z_jr9Kqt6w1IH5K2XVUh2vZk4pHUAIEYnof0n6-1FW4",
        "items": [
          {
            "etag": "4gmUrCu5si0yoiqhpKyykDYWu9BFl9sETRHhGn0ZDic",
            "key": "listRevisions15714",
            "label": "list-revisions-A67665",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:21:58+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A67665",
    "list-revisions-B": "list-revisions-B5508",
    "listRevisions": "listRevisions15714"
  }
}
