{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions66576?api-version=2023-11-01&label=list-revisions-A12036",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A12036",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"duOoHhZG5QGmf3h-sXROOeCYX1HdEnu_JfPTspb7lys\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTM3Nw==;sn=115289377",
        "x-ms-date": "Thu, 28 May 2026 21:23:24 GMT"
      },
      "ResponseBody": {
        "etag": "duOoHhZG5QGmf3h-sXROOeCYX1HdEnu_JfPTspb7lys",
        "key": "listRevisions66576",
        "label": "list-revisions-A12036",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions66576?api-version=2023-11-01&label=list-revisions-A12036",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTM3Nw=="
      },
      "RequestBody": {
        "label": "list-revisions-A12036",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p0lIYaQtaHCZ2rDDLjFgOGp8YNXxAVROLztBHwc2rtE\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTM3OA==;sn=115289378",
        "x-ms-date": "Thu, 28 May 2026 21:23:25 GMT"
      },
      "ResponseBody": {
        "etag": "p0lIYaQtaHCZ2rDDLjFgOGp8YNXxAVROLztBHwc2rtE",
        "key": "listRevisions66576",
        "label": "list-revisions-A12036",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:23:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions66576",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTM4MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"HIybTZySG71ZVD1vRtGOHyCVthgyTe_swwTXv7Z9cIM\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTM4Mg==;sn=115289382",
        "x-ms-date": "Thu, 28 May 2026 21:23:25 GMT"
      },
      "ResponseBody": {
        "etag": "HIybTZySG71ZVD1vRtGOHyCVthgyTe_swwTXv7Z9cIM",
        "items": [
          {
            "etag": "ImrAy-X_xx3NX6FXzVk8yr1h7K6FOJ-eyHIMxvmLidM",
            "key": "listRevisions66576",
            "label": "list-revisions-B11924",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:23:25+00:00"
          },
          {
            "etag": "Rrg4ulh5J9CZxE2qkQ8pSp4qxMa7arQzRsOaz49BxOY",
            "key": "listRevisions66576",
            "label": "list-revisions-B11924",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:23:25+00:00"
          },
          {
            "etag": "p0lIYaQtaHCZ2rDDLjFgOGp8YNXxAVROLztBHwc2rtE",
            "key": "listRevisions66576",
            "label": "list-revisions-A12036",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:23:25+00:00"
          },
          {
            "etag": "duOoHhZG5QGmf3h-sXROOeCYX1HdEnu_JfPTspb7lys",
            "key": "listRevisions66576",
            "label": "list-revisions-A12036",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:23:24+00:00"
          }
        ]
      }
    },
[...]
