{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions28706?api-version=2023-11-01&label=list-revisions-A42342",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A42342",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6O5bRkMj46b_45RFK5zfHcgvHUzX2m0GCJHj8VYclN8\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:30 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjMy;sn=65176232",
        "x-ms-date": "Wed, 06 May 2026 17:10:30 GMT"
      },
      "ResponseBody": {
        "etag": "6O5bRkMj46b_45RFK5zfHcgvHUzX2m0GCJHj8VYclN8",
        "key": "listRevisions28706",
        "label": "list-revisions-A42342",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:10:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions28706?api-version=2023-11-01&label=list-revisions-A42342",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjMy"
      },
      "RequestBody": {
        "label": "list-revisions-A42342",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0qZu30BdxwaFKxevRrdqDtHM6lcV0fuNw1pQzBTpktw\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjMz;sn=65176233",
        "x-ms-date": "Wed, 06 May 2026 17:10:31 GMT"
      },
      "ResponseBody": {
        "etag": "0qZu30BdxwaFKxevRrdqDtHM6lcV0fuNw1pQzBTpktw",
        "key": "listRevisions28706",
        "label": "list-revisions-A42342",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:10:31+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions28706",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjM2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CRbxw6UXGlIfRbN9ik4Tz6OU4aLHUbgADG2lXNZIyOo\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjM3;sn=65176237",
        "x-ms-date": "Wed, 06 May 2026 17:10:31 GMT"
      },
      "ResponseBody": {
        "etag": "CRbxw6UXGlIfRbN9ik4Tz6OU4aLHUbgADG2lXNZIyOo",
        "items": [
          {
            "etag": "0qZu30BdxwaFKxevRrdqDtHM6lcV0fuNw1pQzBTpktw",
            "key": "listRevisions28706",
            "label": "list-revisions-A42342",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:31+00:00"
          },
          {
            "etag": "pnmoa3atcSnM5wQrp-JXcjbmIjXULGGFbao9QUMLPPw",
            "key": "listRevisions28706",
            "label": "list-revisions-B98878",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:31+00:00"
          },
          {
            "etag": "yFmUx_4ZmuiHGJ7x_fet5sAIIu06lLv4dNY8mzuIq2s",
            "key": "listRevisions28706",
            "label": "list-revisions-B98878",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:31+00:00"
          },
          {
            "etag": "6O5bRkMj46b_45RFK5zfHcgvHUzX2m0GCJHj8VYclN8",
            "key": "listRevisions28706",
            "label": "list-revisions-A42342",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:10:30+00:00"
          }
        ]
      }
    },
[...]
