{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions83540?api-version=2023-11-01&label=list-revisions-A69915",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions83540",
        "label": "list-revisions-A69915",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h8lMAczL-ssE6iQmOFrfNRWFLY2P_Ep4WbUgtRtjA7Q\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:27:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIwNDM=;sn=75082043",
        "x-ms-date": "Wed, 05 Nov 2025 07:27:09 GMT"
      },
      "ResponseBody": {
        "etag": "h8lMAczL-ssE6iQmOFrfNRWFLY2P_Ep4WbUgtRtjA7Q",
        "key": "listRevisions83540",
        "label": "list-revisions-A69915",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:27:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions83540?api-version=2023-11-01&label=list-revisions-A69915",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIwNDM="
      },
      "RequestBody": {
        "key": "listRevisions83540",
        "label": "list-revisions-A69915",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PFhTW5GJFDC5DxHrmxg2PfAquC8_8atdq5402c0Qv2g\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:27:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIwNDQ=;sn=75082044",
        "x-ms-date": "Wed, 05 Nov 2025 07:27:10 GMT"
      },
      "ResponseBody": {
        "etag": "PFhTW5GJFDC5DxHrmxg2PfAquC8_8atdq5402c0Qv2g",
        "key": "listRevisions83540",
        "label": "list-revisions-A69915",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:27:10+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A69915",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIwNDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zxc-yJHRPiB8QV0QjWADlI3XL0GSzQThaIy8IaIgvtw\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIwNDg=;sn=75082048",
        "x-ms-date": "Wed, 05 Nov 2025 07:27:11 GMT"
      },
      "ResponseBody": {
        "etag": "zxc-yJHRPiB8QV0QjWADlI3XL0GSzQThaIy8IaIgvtw",
        "items": [
          {
            "etag": "PFhTW5GJFDC5DxHrmxg2PfAquC8_8atdq5402c0Qv2g",
            "key": "listRevisions83540",
            "label": "list-revisions-A69915",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:27:10+00:00"
          },
          {
            "etag": "h8lMAczL-ssE6iQmOFrfNRWFLY2P_Ep4WbUgtRtjA7Q",
            "key": "listRevisions83540",
            "label": "list-revisions-A69915",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:27:09+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A69915",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIwNDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zxc-yJHRPiB8QV0QjWADlI3XL0GSzQThaIy8IaIgvtw\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIwNDg=;sn=75082048",
        "x-ms-date": "Wed, 05 Nov 2025 07:27:11 GMT"
      },
      "ResponseBody": {
        "etag": "zxc-yJHRPiB8QV0QjWADlI3XL0GSzQThaIy8IaIgvtw",
        "items": [
          {
            "etag": "PFhTW5GJFDC5DxHrmxg2PfAquC8_8atdq5402c0Qv2g",
            "key": "listRevisions83540",
            "label": "list-revisions-A69915",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:27:10+00:00"
          },
          {
            "etag": "h8lMAczL-ssE6iQmOFrfNRWFLY2P_Ep4WbUgtRtjA7Q",
            "key": "listRevisions83540",
            "label": "list-revisions-A69915",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:27:09+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A69915",
    "list-revisions-B": "list-revisions-B68976",
    "listRevisions": "listRevisions83540"
  }
}
