{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions7791?api-version=2023-11-01&label=list-revisions-A44450",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions7791",
        "label": "list-revisions-A44450",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xm8AvrrePYh2Fr--ErRSlHOM1Ke37fDJ7LFkOQ4cNkI\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:58:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY0Njk=;sn=74856469",
        "x-ms-date": "Sun, 26 Oct 2025 07:58:47 GMT"
      },
      "ResponseBody": {
        "etag": "xm8AvrrePYh2Fr--ErRSlHOM1Ke37fDJ7LFkOQ4cNkI",
        "key": "listRevisions7791",
        "label": "list-revisions-A44450",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:58:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions7791?api-version=2023-11-01&label=list-revisions-A44450",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY0Njk="
      },
      "RequestBody": {
        "key": "listRevisions7791",
        "label": "list-revisions-A44450",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NpqBssdjcr3y4MIWEb6Eay57sRxWL27LjRGWV40_XeI\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:58:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY0NzA=;sn=74856470",
        "x-ms-date": "Sun, 26 Oct 2025 07:58:48 GMT"
      },
      "ResponseBody": {
        "etag": "NpqBssdjcr3y4MIWEb6Eay57sRxWL27LjRGWV40_XeI",
        "key": "listRevisions7791",
        "label": "list-revisions-A44450",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:58:48+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions7791",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY0NzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fhUctoLPxvAbxr2LqXRCUsssxgfpss-aLK0CvQ4Apvg\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY0NzQ=;sn=74856474",
        "x-ms-date": "Sun, 26 Oct 2025 07:58:49 GMT"
      },
      "ResponseBody": {
        "etag": "fhUctoLPxvAbxr2LqXRCUsssxgfpss-aLK0CvQ4Apvg",
        "items": [
          {
            "etag": "8Rcdx2XDruMv8petchcPUfTZNNy3XES5L7_HNM9k0bY",
            "key": "listRevisions7791",
            "label": "list-revisions-B45997",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:58:48+00:00"
          },
          {
            "etag": "NpqBssdjcr3y4MIWEb6Eay57sRxWL27LjRGWV40_XeI",
            "key": "listRevisions7791",
            "label": "list-revisions-A44450",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:58:48+00:00"
          },
          {
            "etag": "inT7b1ZIAMZAiJXDpDAOVRofzP2DrJkg1LXJO2--iRg",
            "key": "listRevisions7791",
            "label": "list-revisions-B45997",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:58:48+00:00"
          },
          {
            "etag": "xm8AvrrePYh2Fr--ErRSlHOM1Ke37fDJ7LFkOQ4cNkI",
            "key": "listRevisions7791",
            "label": "list-revisions-A44450",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:58:47+00:00"
          }
        ]
      }
    },
[...]
