{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions83130?api-version=2023-10-01&label=list-revisions-A6580",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions83130",
        "label": "list-revisions-A6580",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4x5oc-_GF8fDQH2oI1-a3KUSgozgxDcMBe4GMcbWA9g\"",
        "Last-Modified": "Tue, 28 May 2024 18:42:47 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTEyNTA=;sn=2611250"
      },
      "ResponseBody": {
        "etag": "4x5oc-_GF8fDQH2oI1-a3KUSgozgxDcMBe4GMcbWA9g",
        "key": "listRevisions83130",
        "label": "list-revisions-A6580",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:42:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions83130?api-version=2023-10-01&label=list-revisions-A6580",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTEyNTA="
      },
      "RequestBody": {
        "key": "listRevisions83130",
        "label": "list-revisions-A6580",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KDAsYY-NWvQjxbzzhZsbl2POHNEZhrkDIMgKVUZlvcU\"",
        "Last-Modified": "Tue, 28 May 2024 18:42:48 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTEyNTE=;sn=2611251"
      },
      "ResponseBody": {
        "etag": "KDAsYY-NWvQjxbzzhZsbl2POHNEZhrkDIMgKVUZlvcU",
        "key": "listRevisions83130",
        "label": "list-revisions-A6580",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:42:48+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-10-01&label=list-revisions-A658*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTEyNTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"8UN2oLWJwNe0s4Hg6qqIJmX4ex3B7MumuREm3B5lNlw\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTEyNTU=;sn=2611255"
      },
      "ResponseBody": {
        "etag": "8UN2oLWJwNe0s4Hg6qqIJmX4ex3B7MumuREm3B5lNlw",
        "items": [
          {
            "etag": "KDAsYY-NWvQjxbzzhZsbl2POHNEZhrkDIMgKVUZlvcU",
            "key": "listRevisions83130",
            "label": "list-revisions-A6580",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T18:42:48+00:00"
          },
          {
            "etag": "4x5oc-_GF8fDQH2oI1-a3KUSgozgxDcMBe4GMcbWA9g",
            "key": "listRevisions83130",
            "label": "list-revisions-A6580",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T18:42:47+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-10-01&label=list-revisions-A658*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTEyNTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"8UN2oLWJwNe0s4Hg6qqIJmX4ex3B7MumuREm3B5lNlw\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTEyNTU=;sn=2611255"
      },
      "ResponseBody": {
        "etag": "8UN2oLWJwNe0s4Hg6qqIJmX4ex3B7MumuREm3B5lNlw",
        "items": [
          {
            "etag": "KDAsYY-NWvQjxbzzhZsbl2POHNEZhrkDIMgKVUZlvcU",
            "key": "listRevisions83130",
            "label": "list-revisions-A6580",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T18:42:48+00:00"
          },
          {
            "etag": "4x5oc-_GF8fDQH2oI1-a3KUSgozgxDcMBe4GMcbWA9g",
            "key": "listRevisions83130",
            "label": "list-revisions-A6580",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T18:42:47+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A6580",
    "list-revisions-B": "list-revisions-B41361",
    "listRevisions": "listRevisions83130"
  }
}
