{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions77606?api-version=2023-11-01&label=list-revisions-A63538",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions77606",
        "label": "list-revisions-A63538",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G_flNnfJJWfPU0fu6xsyBbyTNEX-hSH7AdYkAkUF0y4\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:27:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAwOTM=;sn=73740093"
      },
      "ResponseBody": {
        "etag": "G_flNnfJJWfPU0fu6xsyBbyTNEX-hSH7AdYkAkUF0y4",
        "key": "listRevisions77606",
        "label": "list-revisions-A63538",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:27:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions77606?api-version=2023-11-01&label=list-revisions-A63538",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAwOTM="
      },
      "RequestBody": {
        "key": "listRevisions77606",
        "label": "list-revisions-A63538",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TCh1aBKjcTqqpVfG0f3LOEK4z2wVsFjx6YMni52r1f4\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:27:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAwOTQ=;sn=73740094"
      },
      "ResponseBody": {
        "etag": "TCh1aBKjcTqqpVfG0f3LOEK4z2wVsFjx6YMni52r1f4",
        "key": "listRevisions77606",
        "label": "list-revisions-A63538",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:27:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions7760*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAwOTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2doBh5bbgmGjRZsVjo1zcEZ1Rk8OJIxXfCJezYDUli4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAwOTg=;sn=73740098"
      },
      "ResponseBody": {
        "etag": "2doBh5bbgmGjRZsVjo1zcEZ1Rk8OJIxXfCJezYDUli4",
        "items": [
          {
            "etag": "4vAmYxymmo0mPAlabqG7mYfsKQIeSZL1dwTTIluMzXs",
            "key": "listRevisions77606",
            "label": "list-revisions-B99434",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:27:21+00:00"
          },
          {
            "etag": "CYfq-veWzU2srcI5YbzoKK6P3jol7Kskrg2NuqSIJe8",
            "key": "listRevisions77606",
            "label": "list-revisions-B99434",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:27:21+00:00"
          },
          {
            "etag": "TCh1aBKjcTqqpVfG0f3LOEK4z2wVsFjx6YMni52r1f4",
            "key": "listRevisions77606",
            "label": "list-revisions-A63538",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:27:21+00:00"
          },
          {
            "etag": "G_flNnfJJWfPU0fu6xsyBbyTNEX-hSH7AdYkAkUF0y4",
            "key": "listRevisions77606",
            "label": "list-revisions-A63538",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:27:20+00:00"
          }
        ]
      }
    },
[...]
