{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='doubleSci',RowKey='0')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:7cf1f5ef-c002-0046-1ad3-a463b6000000\nTime:2025-04-03T20:02:47.7647661Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "doubleSci",
        "RowKey": "0",
        "Value": "1.23456789012346e+24",
        "Value@odata.type": "Edm.Double"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='doubleSci',RowKey='0')",
        "ETag": "W/\"datetime'2025-04-03T20%3A02%3A47.7917517Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='doubleSci',RowKey='0')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='doubleSci',RowKey='0')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A02%3A47.7917517Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A02%3A47.7917517Z'\"",
        "PartitionKey": "doubleSci",
        "RowKey": "0",
        "Timestamp": "2025-04-03T20:02:47.7917517Z",
        "Value": 1.23456789012346E+24
      }
    }
  ],
  "Variables": {}
}
