{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "P2_node",
        "RowKey": "R2",
        "testField": "2020-09-17T00:00:00.111Z",
        "testField@odata.type": "Edm.DateTime"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P2_node',RowKey='R2')",
        "ETag": "W/\"datetime'2025-04-03T20%3A02%3A19.2607869Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P2_node',RowKey='R2')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P2_node',RowKey='R2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A02%3A19.2607869Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A02%3A19.2607869Z'\"",
        "PartitionKey": "P2_node",
        "RowKey": "R2",
        "Timestamp": "2025-04-03T20:02:19.2607869Z",
        "testField@odata.type": "Edm.DateTime",
        "testField": "2020-09-17T00:00:00.111Z"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P2_node',RowKey='R2')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
