{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P8_node',RowKey='R8')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:7cf1f124-c002-0046-33d3-a463b6000000\nTime:2025-04-03T20:02:44.0678441Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "P8_node",
        "RowKey": "R8",
        "integerNumber": 3,
        "floatingPointNumber": 3.14
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P8_node',RowKey='R8')",
        "ETag": "W/\"datetime'2025-04-03T20%3A02%3A44.0968286Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P8_node',RowKey='R8')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P8_node',RowKey='R8')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A02%3A44.0968286Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A02%3A44.0968286Z'\"",
        "PartitionKey": "P8_node",
        "RowKey": "R8",
        "Timestamp": "2025-04-03T20:02:44.0968286Z",
        "integerNumber": 3,
        "floatingPointNumber": 3.14
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='P8_node',RowKey='R8')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
