{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='CreateBinary_node',RowKey='second_node')?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:e6f66736-a002-006f-1dba-a45dc2000000\nTime:2025-04-03T17:07:04.6308085Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "CreateBinary_node",
        "RowKey": "second_node",
        "binary": "QmFy",
        "binary@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='CreateBinary_node',RowKey='second_node')",
        "ETag": "W/\"datetime'2025-04-03T17%3A07%3A04.6627907Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='CreateBinary_node',RowKey='second_node')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='CreateBinary_node',RowKey='second_node')?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T17%3A07%3A04.6627907Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T17%3A07%3A04.6627907Z'\"",
        "PartitionKey": "CreateBinary_node",
        "RowKey": "second_node",
        "Timestamp": "2025-04-03T17:07:04.6627907Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy"
      }
    }
  ],
  "Variables": {}
}
