{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='CreateBinary_node',RowKey='first_node')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:7cf1b8a5-c002-0046-15d3-a463b6000000\nTime:2025-04-03T20:02:07.3144975Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "CreateBinary_node",
        "RowKey": "first_node",
        "binary": "QmFy",
        "binary@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='CreateBinary_node',RowKey='first_node')",
        "ETag": "W/\"datetime'2025-04-03T20%3A02%3A07.3424806Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='CreateBinary_node',RowKey='first_node')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='CreateBinary_node',RowKey='first_node')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A02%3A07.3424806Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A02%3A07.3424806Z'\"",
        "PartitionKey": "CreateBinary_node",
        "RowKey": "first_node",
        "Timestamp": "2025-04-03T20:02:07.3424806Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy"
      }
    }
  ],
  "Variables": {}
}
