{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ScVmm/operations?api-version=2023-10-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "microsoft.scvmm/vmmservers/Read",
            "isDataAction": false,
            "display": {
              "provider": "microsoft.scvmm",
              "resource": "vmmservers",
              "operation": "Gets/List vmmservers resources",
              "description": "Read vmmservers"
            }
          },
          {
            "name": "microsoft.scvmm/vmmservers/Write",
            "isDataAction": false,
            "display": {
              "provider": "microsoft.scvmm",
              "resource": "vmmservers",
              "operation": "Create/update vmmservers resources",
              "description": "Writes vmmservers"
            }
          },
          {
            "name": "microsoft.scvmm/vmmservers/Delete",
            "isDataAction": fal[...]
