{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328042304706485?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328042304706485/messages?timeout=30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><QueueMessage><MessageText>Hello World</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a5a6dcf9-a31e-4d50-980c-5bfd6866c523</MessageId><InsertionTime>Thu, 12 Mar 2026 01:53:43 GMT</InsertionTime><ExpirationTime>Thu, 19 Mar 2026 01:53:43 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHWCdDsOx3AE=</PopReceipt><TimeNextVisible>Thu, 12 Mar 2026 01:53:43 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328042304706485/messages/a5a6dcf9-a31e-4d50-980c-5bfd6866c523?popreceipt=AgAAAAMAAAAAAAAAHWCdDsOx3AE%3D&visibilitytimeout=0&timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><QueueMessage><MessageText>Hello World Hello World</MessageText></QueueMessage>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-popreceipt": "AwAAAAMAAAAAAAAA042nDsOx3AEAAAAA",
        "x-ms-time-next-visible": "Thu, 12 Mar 2026 01:53:43 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328042304706485/messages?peekonly=true&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a5a6dcf9-a31e-4d50-980c-5bfd6866c523</MessageId><InsertionTime>Thu, 12 Mar 2026 01:53:43 GMT</InsertionTime><ExpirationTime>Thu, 19 Mar 2026 01:53:43 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>Hello World Hello World</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328042304706485?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue177328042304706485"
  }
}
