{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft fue fundado por Bill Gates y Paul Allen.",
              "language": "es"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "EntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.NER=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "text": "Microsoft",
                  "category": "Organization",
                  "offset": 0,
                  "length": 9,
                  "confidenceScore": 1.0
                },
                {
                  "text": "Bill Gates",
                  "category": "Person",
                  "offset": 26,
                  "length": 10,
                  "confidenceScore": 1.0
                },
                {
                  "text": "Paul Allen",
                  "category": "Person",
                  "offset": 39,
                  "length": 10,
                  "confidenceScore": 0.99
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "245745122",
    "TEXTANALYTICS_API_KEY": "Sanitized",
    "TEXTANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
