{
  "Entries": [
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/deid?api-version=2024-07-12-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputText": "Hello, my name is John Smith.",
        "operation": "Tag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1, 2024-01-16-preview",
        "api-supported-versions": "2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "taggerResult": {
          "documentVersion": "v2024_07_12_preview",
          "entities": [
            {
              "category": "Doctor",
              "offset": {
                "utf8": 18,
                "utf16": 18,
                "codePoint": 18
              },
              "length": {
                "utf8": 10,
                "utf16": 10,
                "codePoint": 10
              },
              "text": "John Smith",
              "confidenceScore": 0.907
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "DEID_SERVICE_ENDPOINT": "https://h4bbcyd8byawape5.api.deid.azure.com",
    "RandomSeed": "1328643846"
  }
}
