{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2eb84e75-3a5b-7159-21be-9cac0845a4b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D07078606\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-04baf8e3-b017-a767-dc9f-6f259652041e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D07197C87\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2eb84e75-3a5b-7159-21be-9cac0845a4b1/test-file-57d07602-b11c-0cc2-7a40-6cee43bb6f2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "cNJKtZMRG1q3xkEbKKouvoMrHYks5WCbpgwGiPOTiK\u002Bo1Pc1nlNrTTkANl3ezHRqD/83FyY7NIpxrw6HC5JnIz2Sc1Sz\u002BSAvv9BPK68CvdqXm3n0XHGIbJ9tw\u002B9F5EKnmRIgTFkgtxXeB1dW6wnab/E0728Zc8fMCQa0RTYx6tuNqJKd4XCAd\u002BRjFVQZMoGWklP9EfTTjSVLVENTa3HfrR18yEJ2PY6Bs3iKtV5ys9aEHrPiM9jmuhptUo0tLQtyhGc3nGo\u002BIFTFfF18SNjH2KFszk2\u002B/HpElg0oCesAU4VsGDH3OxZsRv5eHbd6aXJCpXnswV\u002B\u[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2eb84e75-3a5b-7159-21be-9cac0845a4b1/test-file-57d07602-b11c-0cc2-7a40-6cee43bb6f2e?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Q9dQRp\u002BlO6aXuZYJc080Ew==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D072D376E\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:59:43.2424302Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-04baf8e3-b017-a767-dc9f-6f259652041e/test-file-9ba11a19-902e-2cd6-f29d-612fe5e91467?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-04baf8e3-b017-a767-dc9f-6f259652041e/test-file-9ba11a19-902e-2cd6-f29d-612fe5e91467?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D07690D3E\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:59:43.6345662Z",
        "x-ms-file-creation-time": "2023-11-15T18:59:43.6345662Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:59:43.6345662Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-04baf8e3-b017-a767-dc9f-6f259652041e/test-file-9ba11a19-902e-2cd6-f29d-612fe5e91467?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-2eb84e75-3a5b-7159-21be-9cac0845a4b1/test-file-57d07602-b11c-0cc2-7a40-6cee43bb6f2e?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D077F2A0F\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-content-crc64": "xP\u002Bo59x68Ns=",
        "x-ms-file-last-write-time": "2023-11-15T18:59:43.7794831Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2eb84e75-3a5b-7159-21be-9cac0845a4b1/test-file-57d07602-b11c-0cc2-7a40-6cee43bb6f2e?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE60D072D376E\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D072D376E\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-blob-content-md5": "Q9dQRp\u002BlO6aXuZYJc080Ew==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:59:43.2424302Z"
      },
      "ResponseBody": "cNJK[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-04baf8e3-b017-a767-dc9f-6f259652041e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2eb84e75-3a5b-7159-21be-9cac0845a4b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:59:42.7687498-08:00",
    "RandomSeed": "887461145",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
