{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9efcf327-3fe7-524f-6fe8-31c23ffa714a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86C5B2C96\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fee58cf3-15d9-18f0-696f-4741bf1b399b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86C63BD32\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9efcf327-3fe7-524f-6fe8-31c23ffa714a/test-file-90403f49-2517-3172-7c6a-0b88d978e6ff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "gGwaCftL0sy8sqR/8m2uo9eleKta7LQX6Uav9J9msjS7U1EfHdqMISATc+z/a4ynOT5jB5AW5ZS3Ax+0m90tVQBwxJ8cj4X8GVeLR3nHF366B7tgA6ujpW68Zxq62IVC5h3sj6btiqm4Zu05ip4b8Ouh+pMizFJVzB8wYChrQUHRSGBb24fXzH0RqJy9aRrPoHYuGd3xIBrLl8OHvCqBTSWsaEI9wBRjyS0WESS1l2MEYb+xPShj3yhFkETEUBBSj1p3EQHYkeBiyk+w2w/2Fv9fgltr0BD8SIgZ+C/QnnkdxIHJPYViLM/eTnLZswQZT3lEZM20579Ke8h4vpmxkSvWkheNLdh5/VaMjIGdI5WE[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9efcf327-3fe7-524f-6fe8-31c23ffa714a/test-file-90403f49-2517-3172-7c6a-0b88d978e6ff?sv=Sanitized&se=2024-07-03T18%3A54%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wDp6O1o9cFL1VF/zkXZH3w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC86C6F849E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:38.3152286Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fee58cf3-15d9-18f0-696f-4741bf1b399b/test-file-655e073d-acdb-d6ad-3c53-ec867c43b1a3?sv=Sanitized&se=2024-07-03T18%3A54%3A39Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fee58cf3-15d9-18f0-696f-4741bf1b399b/test-file-655e073d-acdb-d6ad-3c53-ec867c43b1a3?sv=Sanitized&se=2024-07-03T18%3A54%3A39Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:54:38.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:54:38.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86C8FD45E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:54:38.5269854Z",
        "x-ms-file-creation-time": "2024-07-02T18:54:38.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:54:38.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fee58cf3-15d9-18f0-696f-4741bf1b399b/test-file-655e073d-acdb-d6ad-3c53-ec867c43b1a3?sv=Sanitized&se=2024-07-03T18%3A54%3A39Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9efcf327-3fe7-524f-6fe8-31c23ffa714a/test-file-90403f49-2517-3172-7c6a-0b88d978e6ff?sv=Sanitized&se=2024-07-03T18%3A54%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86C9BE092\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:38 GMT",
        "x-ms-content-crc64": "5fG0uXgbJdY=",
        "x-ms-file-last-write-time": "2024-07-02T18:54:38.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9efcf327-3fe7-524f-6fe8-31c23ffa714a/test-file-90403f49-2517-3172-7c6a-0b88d978e6ff?sv=Sanitized&se=2024-07-03T18%3A54%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC86C6F849E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC86C6F849E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:38 GMT",
        "x-ms-blob-content-md5": "wDp6O1o9cFL1VF/zkXZH3w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:38.3152286Z"
      },
      "ResponseBody": "gGwaCftL0sy8sqR/8m2uo9eleKta7LQX6Uav9J9msjS7U1EfHdqMISATc+z/a4ynOT5jB5AW5ZS[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fee58cf3-15d9-18f0-696f-4741bf1b399b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9efcf327-3fe7-524f-6fe8-31c23ffa714a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:54:39.2195051-07:00",
    "RandomSeed": "911204820",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
