{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8621d9ff-7964-e1f4-1bee-40e22cd4a749?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F313997B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-abccc136-4c47-f004-5c17-99cd5ba16b0b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F31F35B9\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8621d9ff-7964-e1f4-1bee-40e22cd4a749/test-file-e351ea5b-7c46-06d4-a6b1-f3c69c5ad8c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "zFEwBl3mJPpaXP0tOB+RnbqCJTCUaRCpMQpiKhmgoaspQ92uJ66ULBhhSzXFvqKDAHB3AXjyPmJAh9RThPrhubpSA/VB43YM7fgYMh7b43Nn3imoKaAyNwV7bZ/ZQagdgJF6c7qtQhz6axR/2gtEZaNh7KbQOJAaH8zvxnXWMqxQ+rKMYHC4uZwNrr6Ls136Ngj8eFQCTEcBYFTuvnunJDhnL99YtwQzqTMJw4rSjmtu9Y9t2bpYTq1qiwAcyfsgZYmFJIR9oX4Eyc8h+Ii9L9Hof8jsOUt+D+Ay7iwDF9836F0BTGrn8VQQaRDrNlUkrVsuM0kyNCs+BxSjS7NSALLv6Q8rvOJnAI5029A6k9iLDUDR1eOWBbQxwkVVRKahvmhe+01F+fF4xzO7vlhbA3M7GD1ygCrOWeRb+fmdEbzn0h1o3JeLRRNPWA6w20Zb1r7RGixoLj0+j6Jp6QD327V30+w78yfbsNIqIygcHn2dACI6y/ePf6PfKUz1IVsTV31YOAhaH+OX9mlZPgsVInAky+ndvQ++51NIW8nb5o53Fsurw+V1Q+A+o9WNNUGYygfb0FVxNZptmlG0EsMavA/b4idAaV+Lr4gInxk6MLISr5HB/xY4BeEwPSiUwDAcJObFslIZV2CoUCDNaZaAM2qfomIyWLz5ot1FDyw29u4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "t+PG05ciKe7eQk5v4implA==",
        "ETag": "\"0x8DC9AC2F32A164B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-content-crc64": "bhAlCuSQzjU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:27.3722443Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8621d9ff-7964-e1f4-1bee-40e22cd4a749/test-file-e351ea5b-7c46-06d4-a6b1-f3c69c5ad8c7?sv=Sanitized&se=2024-07-03T18%3A15%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "t+PG05ciKe7eQk5v4implA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F32A164B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:27.3722443Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-abccc136-4c47-f004-5c17-99cd5ba16b0b/test-file-cb1ff4b7-b685-eac8-956c-b38f14030525?sv=Sanitized&se=2024-07-03T18%3A15%3A28Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-abccc136-4c47-f004-5c17-99cd5ba16b0b/test-file-cb1ff4b7-b685-eac8-956c-b38f14030525?sv=Sanitized&se=2024-07-03T18%3A15%3A28Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:15:27.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F34D9C02\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:27.6050434Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:27.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:27.6050434Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-abccc136-4c47-f004-5c17-99cd5ba16b0b/test-file-cb1ff4b7-b685-eac8-956c-b38f14030525?sv=Sanitized&se=2024-07-03T18%3A15%3A28Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8621d9ff-7964-e1f4-1bee-40e22cd4a749/test-file-e351ea5b-7c46-06d4-a6b1-f3c69c5ad8c7?sv=Sanitized&se=2024-07-03T18%3A15%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F35A6B6F\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-content-crc64": "bhAlCuSQzjU=",
        "x-ms-file-last-write-time": "2024-07-02T18:15:27.6050434Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8621d9ff-7964-e1f4-1bee-40e22cd4a749/test-file-e351ea5b-7c46-06d4-a6b1-f3c69c5ad8c7?sv=Sanitized&se=2024-07-03T18%3A15%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC2F32A164B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F32A164B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-blob-content-md5": "t+PG05ciKe7eQk5v4implA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:27.3722443Z"
      },
      "ResponseBody": "zFEwBl3mJPpaXP0tOB+RnbqCJTCUaRCpMQpiKhmgoaspQ92uJ66ULBhhSzXFvqKDAHB3AXjyPmJAh9RThPrhubpSA/VB43YM7fgYMh7b43Nn3imoKaAyNwV7bZ/ZQagdgJF6c7qtQhz6axR/2gtEZaNh7KbQOJAaH8zvxnXWMqxQ+rKMYHC4uZwNrr6Ls136Ngj8eFQCTEcBYFTuvnunJDhnL99YtwQzqTMJw4rSjmtu9Y9t2bpYTq1qiwAcyfsgZYmFJIR9oX4Eyc8h+Ii9L9Hof8jsOUt+D+Ay7iwDF9836F0BTGrn8VQQaRDrNlUkrVsuM0kyNCs+BxSjS7NSALLv6Q8rvOJnAI5029A6k9iLDUDR1eOWBbQxwkVVRKahvmhe+01F+fF4xzO7vlhbA3M7GD1ygCrOWeRb+fmdEbzn0h1o3JeLRRNPWA6w20Zb1r7RGixoLj0+j6Jp6QD327V30+w78yfbsNIqIygcHn2dACI6y/ePf6PfKUz1IVsTV31YOAhaH+OX9mlZPgsVInAky+ndvQ++51NIW8nb5o53Fsurw+V1Q+A+o9WNNUGYygfb0FVxNZptmlG0EsMavA/b4idAaV+Lr4gInxk6MLISr5HB/xY4BeEwPSiUwDAcJObFslIZV2CoUCDNaZaAM2qfomIyWLz5ot1FDyw29u4="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-abccc136-4c47-f004-5c17-99cd5ba16b0b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8621d9ff-7964-e1f4-1bee-40e22cd4a749?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:15:28.1071021-07:00",
    "RandomSeed": "959829574",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
