{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22ff797d-b7b7-15c1-2ede-12257035afe4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F16533413\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5060a69c-7968-e804-15f2-8b90c52b3808?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F1666E376\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22ff797d-b7b7-15c1-2ede-12257035afe4/test-file-c693b917-73df-7c9f-00e7-f93d13fd15a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "vvrg0048rWzj2LXX2YLKTUiWgcWqx32a1SNjPoqwwlSXjs6fdTA2hC7S7f9H2w1g\u002B2y0E6BR0/Z8Rv0q2G/iMhZgP0uzKtcYYP2X19p\u002BUvoWAkMd/K\u002BzRbrXIy8yC6u/8Lro55zBrNCVm7Kjuvsc/fQDE9UsxDZmrfmQ3Aeo5VRR2OcglWtdVFVyiGD8D4u\u002BuyU7L/fVkiuDgjmiMNDJ7bZdUuIU\u002B2iJpb9/uTzWap1u0iDhbLZde0W7nBMxuySFqJqpnr2oqb\u002B9sok4VtjurRebNF6v6IAAANedWV9VV\u002Bqb\u002BhGhLcvgxShhJLosJCVszO/7[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22ff797d-b7b7-15c1-2ede-12257035afe4/test-file-c693b917-73df-7c9f-00e7-f93d13fd15a1?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kOrQ3LmV51xLTTuc6J3A4g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F167805E4\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:14:27.8919652Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5060a69c-7968-e804-15f2-8b90c52b3808/test-file-210ce262-0231-2b43-c670-f10fa659cc99?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A27Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5060a69c-7968-e804-15f2-8b90c52b3808/test-file-210ce262-0231-2b43-c670-f10fa659cc99?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A27Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F16B23010\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:28.2731536Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:28.2731536Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:28.2731536Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5060a69c-7968-e804-15f2-8b90c52b3808/test-file-210ce262-0231-2b43-c670-f10fa659cc99?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A27Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-22ff797d-b7b7-15c1-2ede-12257035afe4/test-file-c693b917-73df-7c9f-00e7-f93d13fd15a1?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F16D2848B\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:28 GMT",
        "x-ms-content-crc64": "AdifCAHw3Wg=",
        "x-ms-file-last-write-time": "2023-11-15T19:14:28.4850315Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22ff797d-b7b7-15c1-2ede-12257035afe4/test-file-c693b917-73df-7c9f-00e7-f93d13fd15a1?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE60F167805E4\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F167805E4\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-blob-content-md5": "kOrQ3LmV51xLTTuc6J3A4g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:14:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:14:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:14:27.8919652Z"
      },
      "ResponseBody": "vvrg0048r[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5060a69c-7968-e804-15f2-8b90c52b3808?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22ff797d-b7b7-15c1-2ede-12257035afe4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T11:14:27.4170688-08:00",
    "RandomSeed": "1106199714",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
