{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ff7eb626-d119-e819-5257-ab23fadb9b43?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CF7B9DA7D\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-92bf1a71-2ed1-6b73-b191-05534262a90e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CF7C4669F\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-92bf1a71-2ed1-6b73-b191-05534262a90e/test-file-7a754ad1-e6a5-1201-99af-dab1ae00093f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CF7CEB8B5\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:00:52.2207413Z",
        "x-ms-file-creation-time": "2024-12-10T19:00:52.2207413Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:00:52.2207413Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ff7eb626-d119-e819-5257-ab23fadb9b43/test-file-657d4b6e-990b-4c10-befb-2926ab813f49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "6qxJajS/Z1EZHEFnrRfCamkGKfoY8WiDvnfSH1/E0moi+R2QxB8vig19e5WnqqvZaEdLjUATRfhDxay97EjxVUnWRbT5MqZJ1p/tm3bT3BPL+LcYeEQpD7MlTf5zcp3FiyZM0GX33zahAbehJaqCcOmY8vSQ2dwErTYA1OSn1mQBKBBPhgyu0xiAd3eNh+kJo9wV2n+pNLJJSCIv9wtR+SpSoP2ZMurc6h7bEGFldiVM9jAIkfzlWPNdBj7pf9wMLn1MO+fsb3HyOfBgzSNR5NH94gHbSWgubUcJPCur82tCzuHjGDs9YIa/FVgLhIrPDCJs7JzaMeUVHs6g4jNFRkaFHf9BbcuWv4J6GzQQIui9OS8JPwbOaJz8zvpsnX1Sec4ShmaLjZ9W1SwZXxawBPvl4qgEOwc/trViRZ7[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ff7eb626-d119-e819-5257-ab23fadb9b43/test-file-657d4b6e-990b-4c10-befb-2926ab813f49?sv=Sanitized&se=2024-12-11T19%3A00%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "bv7Y44ne4uiJd8WAwYxKpg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CF7DB1FF0\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-92bf1a71-2ed1-6b73-b191-05534262a90e/test-file-7a754ad1-e6a5-1201-99af-dab1ae00093f?sv=Sanitized&se=2024-12-11T19%3A00%3A52Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "text/plain",
        "x-ms-file-creation-time": "2024-12-10T19:00:52.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CF7F4DA93\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:00:52.4706451Z",
        "x-ms-file-creation-time": "2024-12-10T19:00:52.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:00:52.4706451Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-92bf1a71-2ed1-6b73-b191-05534262a90e/test-file-7a754ad1-e6a5-1201-99af-dab1ae00093f?sv=Sanitized&se=2024-12-11T19%3A00%3A52Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ff7eb626-d119-e819-5257-ab23fadb9b43/test-file-657d4b6e-990b-4c10-befb-2926ab813f49?sv=sanitized-value&se=2024-12-11T19%3A00%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CF8008D41\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-content-crc64": "CN8QdtK7i2A=",
        "x-ms-file-last-write-time": "2024-12-10T19:00:52.4706451Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ff7eb626-d119-e819-5257-ab23fadb9b43/test-file-657d4b6e-990b-4c10-befb-2926ab813f49?sv=Sanitized&se=2024-12-11T19%3A00%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD194CF7DB1FF0\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CF7DB1FF0\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-blob-content-md5": "bv7Y44ne4uiJd8WAwYxKpg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:00:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "�Ij4�gQ\u0019\u001CAg�\u001[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-92bf1a71-2ed1-6b73-b191-05534262a90e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ff7eb626-d119-e819-5257-ab23fadb9b43?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T11:00:52.5578070-08:00",
    "RandomSeed": "1190652982",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
