{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f58d8251-bafc-b05b-d37f-cdd3a5122bd6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F0E28071\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-99aff49f-04f4-fdaa-cb1a-504f22dbd648?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F0ECF07D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f58d8251-bafc-b05b-d37f-cdd3a5122bd6/test-file-2d7407ad-0491-4acf-a4c9-ad2224c3f8d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "OSS9OkA/gEGDmKmp4xK4zNXjBuXy1YOLYQgRWigwBNdaUuQVtfy0LQ4pBg7VLmF34SUJ681KTmShMdk3LSYZUpPRT5EtoxfZLtnWyM51tTKnmngCJxkKEAOAdIMjfP/oELN6A9/QST0OMLz0dIWVK3umkJOtFit6xz+NrS+TtbHa7rga+rJT1lE79PZcFZt960gHfOxsOvqI/zyfQpsOenoLGoXNejHJU7lBciE0HrGjD8LnjDnFbbO+kvp1s5O1LHp8UPsWsHAWPSkyKsjYVOGL/DLZJu5ARazSDug2VKAli0Wmt821jV9R0E4Qk0Pq5j0Z6bZh3AaMOwtPQ6KI3+mJDJ6CMZwT1m/Th1WfMLJp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f58d8251-bafc-b05b-d37f-cdd3a5122bd6/test-file-2d7407ad-0491-4acf-a4c9-ad2224c3f8d2?sv=Sanitized&se=2024-07-03T18%3A15%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VZhgXQZfykVKpQjKEd/zaQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F0F7D101\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:23.6873473Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-99aff49f-04f4-fdaa-cb1a-504f22dbd648/test-file-3b02f505-f1fb-ae6c-87a3-bbaf49e2e4fa?sv=Sanitized&se=2024-07-03T18%3A15%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-99aff49f-04f4-fdaa-cb1a-504f22dbd648/test-file-3b02f505-f1fb-ae6c-87a3-bbaf49e2e4fa?sv=Sanitized&se=2024-07-03T18%3A15%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:15:23.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F116C0B9\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:23.8900921Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:23.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:23.8900921Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-99aff49f-04f4-fdaa-cb1a-504f22dbd648/test-file-3b02f505-f1fb-ae6c-87a3-bbaf49e2e4fa?sv=Sanitized&se=2024-07-03T18%3A15%3A24Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-f58d8251-bafc-b05b-d37f-cdd3a5122bd6/test-file-2d7407ad-0491-4acf-a4c9-ad2224c3f8d2?sv=Sanitized&se=2024-07-03T18%3A15%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F122F406\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:23 GMT",
        "x-ms-content-crc64": "i6wFRvdWn70=",
        "x-ms-file-last-write-time": "2024-07-02T18:15:23.8900921Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f58d8251-bafc-b05b-d37f-cdd3a5122bd6/test-file-2d7407ad-0491-4acf-a4c9-ad2224c3f8d2?sv=Sanitized&se=2024-07-03T18%3A15%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC2F0F7D101\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F0F7D101\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:23 GMT",
        "x-ms-blob-content-md5": "VZhgXQZfykVKpQjKEd/zaQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:23.6873473Z"
      },
      "ResponseBody": "OSS9OkA/gEGDmKmp4xK4zNXjBuXy1YOLYQgRWigwBNdaUuQVtfy0LQ4pBg7VLmF34SUJ681KTmS[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-99aff49f-04f4-fdaa-cb1a-504f22dbd648?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f58d8251-bafc-b05b-d37f-cdd3a5122bd6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:15:24.3898142-07:00",
    "RandomSeed": "262684621",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
