{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-178d9d74-4d28-4ebe-e4fc-fe9a9663e0fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 19:00:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D155B73FD\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6dbc550-b9ab-083d-5fdd-7d460a9aac3b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:00:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D156FDA75\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-178d9d74-4d28-4ebe-e4fc-fe9a9663e0fe/test-file-ab4decb4-09ed-08b9-ad5d-40fe050ac4e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 19:00:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "s14GO7LCDsiPwNXv8TnIUMvvWgXsyNzJOSDd1coIAQZbJgdlS91a5l/X7vN5uqdr8ih9OXrRgeqCPAGR5Dj\u002Bhr7Ok8oxYwTtlXOmFdroT395cuOii8iMiqUc4w7byAEm2Gg1qybcOY4jkKMGK2sQmeyCGHJVW/v2QQklFYD2Esxxfzxxs6NYnDlUf/okhl85DEkhWLCP0X1tPmodtyQOLX3WlKsvnuVJKns5AdwA0rqq6wg21Lkc4q6/BHU5OuUURVJ9TfGzCm1j2C40VtCgbGyvc8sb2FjEurL9cJpwD\u002B\u002BVJLuKg4TI9uCb0vuL54zeHpcIiccZ\u002BW35uJM/tZrT88g/[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-178d9d74-4d28-4ebe-e4fc-fe9a9663e0fe/test-file-ab4decb4-09ed-08b9-ad5d-40fe050ac4e0?sv=2023-11-03\u0026se=2023-11-16T19%3A00%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "35rl8uCYqwZargY3TJ7k1Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D1582B173\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:00:07.2907123Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6dbc550-b9ab-083d-5fdd-7d460a9aac3b/test-file-445adf79-d0c7-8c6e-ef3a-7f290f0e422f?sv=2023-11-03\u0026se=2023-11-16T19%3A00%3A06Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6dbc550-b9ab-083d-5fdd-7d460a9aac3b/test-file-445adf79-d0c7-8c6e-ef3a-7f290f0e422f?sv=2023-11-03\u0026se=2023-11-16T19%3A00%3A06Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D15C67052\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:00:07.7346898Z",
        "x-ms-file-creation-time": "2023-11-15T19:00:07.7346898Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:00:07.7346898Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6dbc550-b9ab-083d-5fdd-7d460a9aac3b/test-file-445adf79-d0c7-8c6e-ef3a-7f290f0e422f?sv=2023-11-03\u0026se=2023-11-16T19%3A00%3A06Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-178d9d74-4d28-4ebe-e4fc-fe9a9663e0fe/test-file-ab4decb4-09ed-08b9-ad5d-40fe050ac4e0?sv=2023-11-03\u0026se=2023-11-16T19%3A00%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D15E258A1\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-content-crc64": "FZmM6JymO\u002BU=",
        "x-ms-file-last-write-time": "2023-11-15T19:00:07.9175841Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-178d9d74-4d28-4ebe-e4fc-fe9a9663e0fe/test-file-ab4decb4-09ed-08b9-ad5d-40fe050ac4e0?sv=2023-11-03\u0026se=2023-11-16T19%3A00%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE60D1582B173\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D1582B173\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-blob-content-md5": "35rl8uCYqwZargY3TJ7k1Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:00:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:00:07.2907123Z"
      },
      "ResponseBody": "s14GO7LCD[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6dbc550-b9ab-083d-5fdd-7d460a9aac3b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:00:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-178d9d74-4d28-4ebe-e4fc-fe9a9663e0fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:00:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T11:00:06.8651948-08:00",
    "RandomSeed": "358588089",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
