{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-03c424c8-4798-9835-a64a-4e2a2d12b682?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0AC881DD\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fbc0f170-4207-ed9e-745f-0723c23d8d49?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0AD9BADE\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fbc0f170-4207-ed9e-745f-0723c23d8d49/test-file-f23a8e6c-67d6-77eb-3b9f-9e55e3dce976",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0AEE4E5D\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:08.5344861Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:08.5344861Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:08.5344861Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fbc0f170-4207-ed9e-745f-0723c23d8d49/test-file-f23a8e6c-67d6-77eb-3b9f-9e55e3dce976?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "LsY5GF1KcuIKwVYfY7\u002BvbDovs6M4wEU0jXLNiDEyhlZql1yzGsgfd8/AsAUM6jAW84jJnc/C8m2ABYrrfemw1zv/tcxi\u002B1FyDzzUeA8/J6JCtpWpaemGp6TvMhU9NPnlD9nKDDVjs/c2Vo2T7npdQd3nqMZTBm5SeA0oc8g8NdtC7mg2dRps3wOechJb87kpkvE3VoszkghqeJQoOkAu\u002BiGyUP8RJsvCesnDtZNc9oRT/uHXBN9PD1xfzPyGRKTCcHjxqKO5F2sldNvBcNx1DoEP1TxfVvVCY0CjslrOPDYlAEQba07hmeZ1sY8DjZ9/6r57d29oYhmCrkViFmURVjilnG\u002BYWaMzLjtV6qVmP9WhJMebU8XGvZ4rmLwIfoOAZFpWXfEv55AbR0g0EnhzHG9vwPGedQNz3t/RbcHmKq\u002B31IVLD\[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-03c424c8-4798-9835-a64a-4e2a2d12b682/test-file-5f59d7f7-02b6-3212-9e21-244966d37fa4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "6bX38RzDTwOpcj8J/dLxq9gcGnhHO3QaYbx0g8o/rNb39wBSsTVb/BxPRjKKbF5cfge5781Xo65B3JBfT8s4asZoEgXRnvmiwB1b9/RCkPRdGAXDhbwIn1NREdWl\u002B61QF9xrIVpYit8NFi\u002Bv\u002B6y5/kybAjfGdeQKX3OygI0k/cRwC\u002BAX1m6aBI4ltW\u002BNWKOnmBKJCfl2iqL4YcHmpgpS6RhqP/DLoSfdAf2poL91fAfPC\u002Bd6m/TL\u002BoA\u002BH3Wts16D0sxWIxmy2/bqqwf8zOnig\u002BS6Fpoi100knkRwjYGyL02eJc7zHlntHTDwj\u002B[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-03c424c8-4798-9835-a64a-4e2a2d12b682/test-file-5f59d7f7-02b6-3212-9e21-244966d37fa4?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cyKGgnCWAuMzRIRHCwkj0g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F0B17DDA1\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:14:08.8068513Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fbc0f170-4207-ed9e-745f-0723c23d8d49/test-file-f23a8e6c-67d6-77eb-3b9f-9e55e3dce976?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A08Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F0B06B4C2\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:08.6943938Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:08.5344861Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:08.6943938Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fbc0f170-4207-ed9e-745f-0723c23d8d49/test-file-f23a8e6c-67d6-77eb-3b9f-9e55e3dce976?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A08Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F0B06B4C2\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:08.6943938Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:08.5344861Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:08.6943938Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fbc0f170-4207-ed9e-745f-0723c23d8d49?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-03c424c8-4798-9835-a64a-4e2a2d12b682?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T11:14:08.2126869-08:00",
    "RandomSeed": "1593351685",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
