{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24e4ae09-2adc-7e99-5e90-6b4d292f1dfb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD8A16B43\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-110027ec-d758-f890-b7f6-e86bab358b95?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD8AA7B49\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24e4ae09-2adc-7e99-5e90-6b4d292f1dfb/test-file-d4d52500-dca5-b609-65d0-4a7d8eaaa30d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "csWDFJuyW5eweKlVFzi01/sxa9SvtowzJRtD+zAc4WjfJVtYKflbIwJhzsaYmQbs5JdCMOvNhbw5UO+Abl9nlJdBdvLdW64B1kjSTufGmowUVxeY2bB8EqCfHtkK2rWj+jouVyMUDojpQFmj+jfUc7VjbBZHz7rmxGNSPj3U9/uTL1Ssl0No/0iPrphX2Rdpyqsjp26eWyqASJK/wtBLFEldD8viKNxy+mzNuCAhjutM6HORsU+N9NQpLE6xqTx4Q5lO+clMhqLPsa0C0aIKXrmmctlcuWP60Bv3ufyNwFAvVXWG0pUhAGLRwgCiiyMxHs2UCjZjG4o2VCiuVc2lQfBc0nstg4wkhXJ3ivZjV0X4[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24e4ae09-2adc-7e99-5e90-6b4d292f1dfb/test-file-d4d52500-dca5-b609-65d0-4a7d8eaaa30d?sv=Sanitized&se=2024-08-07T17%3A26%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xeLh7nP/aOnPawf72xPkVw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CD8B5E88D\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:26:02.9861005Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-110027ec-d758-f890-b7f6-e86bab358b95/test-file-8415a81a-c0be-70cc-673a-e2660580e587?sv=Sanitized&se=2024-08-07T17%3A26%3A02Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-110027ec-d758-f890-b7f6-e86bab358b95/test-file-8415a81a-c0be-70cc-673a-e2660580e587?sv=Sanitized&se=2024-08-07T17%3A26%3A02Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-06T17:26:02.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD8D2976C\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-06T17:26:03.1740780Z",
        "x-ms-file-creation-time": "2024-08-06T17:26:02.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-06T17:26:03.1740780Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-110027ec-d758-f890-b7f6-e86bab358b95/test-file-8415a81a-c0be-70cc-673a-e2660580e587?sv=Sanitized&se=2024-08-07T17%3A26%3A02Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-24e4ae09-2adc-7e99-5e90-6b4d292f1dfb/test-file-d4d52500-dca5-b609-65d0-4a7d8eaaa30d?sv=sanitized-value&se=2024-08-07T17%3A26%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD8DDE06C\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:03 GMT",
        "x-ms-content-crc64": "gzyvZrVqcMI=",
        "x-ms-file-last-write-time": "2024-08-06T17:26:03.1740780Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24e4ae09-2adc-7e99-5e90-6b4d292f1dfb/test-file-d4d52500-dca5-b609-65d0-4a7d8eaaa30d?sv=Sanitized&se=2024-08-07T17%3A26%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB63CD8B5E88D\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CD8B5E88D\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-blob-content-md5": "xeLh7nP/aOnPawf72xPkVw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:26:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 06 Aug 2024 17:26:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:26:02.9861005Z"
      },
      "ResponseBody": "csWDFJuyW[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-110027ec-d758-f890-b7f6-e86bab358b95?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24e4ae09-2adc-7e99-5e90-6b4d292f1dfb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:03 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-06T12:26:02.5404995-05:00",
    "RandomSeed": "1520982796",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
