{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c0f9e373-1c8c-85bb-84de-beaa1031d1ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D748A0FF\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-688cbcab-38d5-84c2-d145-0610585c2405?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D7536063\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c0f9e373-1c8c-85bb-84de-beaa1031d1ad/test-file-4c8c9dda-aa94-cc0d-8d09-839ef11e388a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "iN0vGwhglMgs+icr3Sk6OJuojsel1e6P/gpB5+kTm5KUNzRDRPeHoq/fPjakU42hRQ6sVWzZQrLuoB39H6zfGF+Ul6X19vSkIOsYxZe46qt9n6HaZ0Ulu/WBVaPZiYMCACXWELvnrE8aCDSAwH0bNbVxgH8KBLEabtywdKFQypdoFcRx4trvlfNSv18QpPp4ZR/uaAgD9/tzvKHfNjityj2dGKu4qlPbguqMuERSCcniOA6BYmKOZB3J/SY4D1+6pPUhc4xOwLvME+Uddz+2IbLY/f0qLGjbDrON76wsonKL0RNPMZY8k3hStU98ce3dEtx0YBJhkHiNRWXZwNAPn3BzkqYsZ/Abm2qF13YZX53F[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c0f9e373-1c8c-85bb-84de-beaa1031d1ad/test-file-4c8c9dda-aa94-cc0d-8d09-839ef11e388a?sv=Sanitized&se=2024-06-29T23%3A27%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "uYhikHFiV7ZOxS1gd5GBkQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9D75D4C16\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:13.7204246Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-688cbcab-38d5-84c2-d145-0610585c2405/test-file-2bdbe9a9-7fa7-0412-af9b-ec65bdf6a744?sv=Sanitized&se=2024-06-29T23%3A27%3A13Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-688cbcab-38d5-84c2-d145-0610585c2405/test-file-2bdbe9a9-7fa7-0412-af9b-ec65bdf6a744?sv=Sanitized&se=2024-06-29T23%3A27%3A13Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:27:13.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:27:13.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D78A4BE8\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:27:14.0153320Z",
        "x-ms-file-creation-time": "2024-06-28T23:27:13.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:27:13.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-688cbcab-38d5-84c2-d145-0610585c2405/test-file-2bdbe9a9-7fa7-0412-af9b-ec65bdf6a744?sv=Sanitized&se=2024-06-29T23%3A27%3A13Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c0f9e373-1c8c-85bb-84de-beaa1031d1ad/test-file-4c8c9dda-aa94-cc0d-8d09-839ef11e388a?sv=Sanitized&se=2024-06-29T23%3A27%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D7963110\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:14 GMT",
        "x-ms-content-crc64": "Kzo/SqAc6u0=",
        "x-ms-file-last-write-time": "2024-06-28T23:27:13.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c0f9e373-1c8c-85bb-84de-beaa1031d1ad/test-file-4c8c9dda-aa94-cc0d-8d09-839ef11e388a?sv=Sanitized&se=2024-06-29T23%3A27%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC97C9D75D4C16\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9D75D4C16\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-blob-content-md5": "uYhikHFiV7ZOxS1gd5GBkQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:13.7204246Z"
      },
      "ResponseBody": "iN0vGwhglMgs+icr3Sk6OJuojsel1e6P/gpB5+kTm5KUNzRDRPeHoq/fPjakU42hRQ6sVWzZQrL[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-688cbcab-38d5-84c2-d145-0610585c2405?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c0f9e373-1c8c-85bb-84de-beaa1031d1ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:27:13.8210418-07:00",
    "RandomSeed": "1448257816",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
