{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0887268a-4fa7-a762-9f78-5eae3ddef11e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC3569A87\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a2d753cb-638e-2a60-638b-54e0df147cc5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC368E238\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0887268a-4fa7-a762-9f78-5eae3ddef11e/test-file-d9d7dd3b-78cc-3fbe-9344-bf2747846c67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "zpau/ZnZZFtZO9O6/G3nVtgw5pw2A7f0mJlaglLvHv68j/aIL9y8eIdrLrNA\u002BzP\u002Bjo0rrmMr6cveuWQAfuIIahzV/Wx2Xib7dG0UytQDs51lW/TEw2\u002BbkaYqqXV4u/qkYsSWa/3Ghy9nLzr1Fh722wbHmiPuRKatOmzGTLWwgrhzb2gQbEifn9PFXZM1pXuHNM1vsSDWth4d6TGR/zt5tq2Bgaa25W69J/tPKeYSeJTxPhfnQNGXnLlK8oMXDp\u002BXS6bmsyPU0U5fsoklh404C3Gcn8Ekknbb6uTsbPPrphlbt90/K8VwHG3IiI5HchUrEecRem7ec7kwCsg\u002B52V[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0887268a-4fa7-a762-9f78-5eae3ddef11e/test-file-d9d7dd3b-78cc-3fbe-9344-bf2747846c67?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nInJn3SiYtTupxLHjoPDjA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AC379FC5E\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:43:30.6670174Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a2d753cb-638e-2a60-638b-54e0df147cc5/test-file-d54533fa-a591-0ac3-5344-889c89ee8948?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A30Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC3A7B021\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:43:30.9665313Z",
        "x-ms-file-creation-time": "2023-11-15T18:43:30.9665313Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:43:30.9665313Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a2d753cb-638e-2a60-638b-54e0df147cc5/test-file-d54533fa-a591-0ac3-5344-889c89ee8948?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A30Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-0887268a-4fa7-a762-9f78-5eae3ddef11e/test-file-d9d7dd3b-78cc-3fbe-9344-bf2747846c67?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC3BCE2B1\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:31 GMT",
        "x-ms-content-crc64": "rhQcEFuHLo4=",
        "x-ms-file-last-write-time": "2023-11-15T18:43:31.1054513Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0887268a-4fa7-a762-9f78-5eae3ddef11e/test-file-d9d7dd3b-78cc-3fbe-9344-bf2747846c67?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE60AC379FC5E\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AC379FC5E\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-blob-content-md5": "nInJn3SiYtTupxLHjoPDjA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:43:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:43:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:43:30.6670174Z"
      },
      "ResponseBody": "zpau/ZnZZ[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a2d753cb-638e-2a60-638b-54e0df147cc5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0887268a-4fa7-a762-9f78-5eae3ddef11e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:43:30.1924567-08:00",
    "RandomSeed": "1678289256",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
