{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-965170cd-27a1-d186-45e9-fa4a31f534e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E235ADE5\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:43 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-83773ccd-0834-9b6a-c8fc-08003f70914d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E24815A3\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-965170cd-27a1-d186-45e9-fa4a31f534e7/test-file-ca9e281a-71f2-9d91-20d3-76d3de00e109",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "40/lVKOwxb\u002BeX8TPcCB/OnBdid9TGD0TZNgBzTC7dspL6Y8mjL2WCbakshxXQLBrZMiGhJTVscoS0e/LrviP4uj5g4eRWa6yxn8ormYgvCQnlWhnNPI1dTfEFLrNy1q\u002BFc80Xbwp2Qsa070UrQNk8RXLoxmPJ631xA5PzEXz5PskapiX619n/rtdTWE1IMg0YCKkAidBL\u002B4hPpiu2Q3FJu/C8EJqzQa2ZKRdMdlMwKNFGmwjTuLT4zuqda3GuCWumCZxczCFypMc7p6D5P0U1H31ab6gotgN7g0HwFdY8Kt/rpmz201yv1DZB2BDUP49laEv0E9mDfVOZIQjfgo8w/3yAzVkY[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-965170cd-27a1-d186-45e9-fa4a31f534e7/test-file-ca9e281a-71f2-9d91-20d3-76d3de00e109?sv=2024-08-04\u0026se=2023-11-18T17%3A44%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nvZSLSOqzKEv970JYV\u002Bkag==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE794E26820C8\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:44:44.2718162Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-83773ccd-0834-9b6a-c8fc-08003f70914d/test-file-8fab605b-8e28-2acd-0ba5-ecf5f54c644c?sv=2024-08-04\u0026se=2023-11-18T17%3A44%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-83773ccd-0834-9b6a-c8fc-08003f70914d/test-file-8fab605b-8e28-2acd-0ba5-ecf5f54c644c?sv=2024-08-04\u0026se=2023-11-18T17%3A44%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E2A2E499\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:44:44.6559385Z",
        "x-ms-file-creation-time": "2023-11-17T17:44:44.6559385Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:44:44.6559385Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-83773ccd-0834-9b6a-c8fc-08003f70914d/test-file-8fab605b-8e28-2acd-0ba5-ecf5f54c644c?sv=2024-08-04\u0026se=2023-11-18T17%3A44%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-965170cd-27a1-d186-45e9-fa4a31f534e7/test-file-ca9e281a-71f2-9d91-20d3-76d3de00e109?sv=2024-08-04\u0026se=2023-11-18T17%3A44%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E2BC5C5A\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-content-crc64": "uWCPJHUvLi8=",
        "x-ms-file-last-write-time": "2023-11-17T17:44:44.8228442Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-965170cd-27a1-d186-45e9-fa4a31f534e7/test-file-ca9e281a-71f2-9d91-20d3-76d3de00e109?sv=2024-08-04\u0026se=2023-11-18T17%3A44%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE794E26820C8\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE794E26820C8\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-blob-content-md5": "nvZSLSOqzKEv970JYV\u002Bkag==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:44:44.2718162Z"
      },
      "ResponseBody": "40/l[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-83773ccd-0834-9b6a-c8fc-08003f70914d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-965170cd-27a1-d186-45e9-fa4a31f534e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:44 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:44:42.7157860-08:00",
    "RandomSeed": "1677852276",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
