{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c62f5a19-f31c-d7eb-46da-3aa44d38b016?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4295E7545\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f77d749c-c295-e9db-50a7-54611d388476?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4297A1E2C\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c62f5a19-f31c-d7eb-46da-3aa44d38b016/test-file-40eb3a55-0299-33f5-0905-d5ef2ab76a92",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "WlaBnbuX2pQ4ldw+CvzAsJMClGfkuJilUKZKUsA6IeKWpTJQPs7qLP7nNvYxIDcYeviG8eTzhaG+3EwUTYfT/nP6qGXJcHHEF2dp/IKiczBvMtjIsy/9oh+RkWKC1t93FDeCN3jRTgmGwdp8iokeHGkcpRuvCktD/AZFON4PQkGI8udLHzu3nePOQfFVgRiWcnX4ZjDDyAnrPjtyjBUrd3+Y85eh0/wtZAc34Mha7nvtrsZoFtwQxCreX+AARRHOospxvY2A9Z54ywEpjOdAkVDAhN1OwmGjiC5tw3McLB72aD3+6DDtbbkn70ra5zhCnc6PQMAzgOBozjVeEjErXJ7iMiOqQqkg0hcjJtMWyKD2[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c62f5a19-f31c-d7eb-46da-3aa44d38b016/test-file-40eb3a55-0299-33f5-0905-d5ef2ab76a92?sv=Sanitized&se=2024-07-03T18%3A24%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "p4ED6KiygvaqxazaRRZQYw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC429856258\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:08.0642648Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f77d749c-c295-e9db-50a7-54611d388476/test-file-5d817bc1-a621-dc24-1e1b-3cef726535f2?sv=Sanitized&se=2024-07-03T18%3A24%3A08Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f77d749c-c295-e9db-50a7-54611d388476/test-file-5d817bc1-a621-dc24-1e1b-3cef726535f2?sv=Sanitized&se=2024-07-03T18%3A24%3A08Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:24:08.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC429C44684\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:24:08.4764292Z",
        "x-ms-file-creation-time": "2024-07-02T18:24:08.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:24:08.4764292Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f77d749c-c295-e9db-50a7-54611d388476/test-file-5d817bc1-a621-dc24-1e1b-3cef726535f2?sv=Sanitized&se=2024-07-03T18%3A24%3A08Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c62f5a19-f31c-d7eb-46da-3aa44d38b016/test-file-40eb3a55-0299-33f5-0905-d5ef2ab76a92?sv=Sanitized&se=2024-07-03T18%3A24%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC429D61E4E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-content-crc64": "gLubpgF20YU=",
        "x-ms-file-last-write-time": "2024-07-02T18:24:08.4764292Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c62f5a19-f31c-d7eb-46da-3aa44d38b016/test-file-40eb3a55-0299-33f5-0905-d5ef2ab76a92?sv=Sanitized&se=2024-07-03T18%3A24%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC429856258\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC429856258\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-blob-content-md5": "p4ED6KiygvaqxazaRRZQYw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:24:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:08.0642648Z"
      },
      "ResponseBody": "WlaBnbuX2pQ4ldw+CvzAsJMClGfkuJilUKZKUsA6IeKWpTJQPs7qLP7nNvYxIDcYeviG8eTzhaG[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f77d749c-c295-e9db-50a7-54611d388476?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c62f5a19-f31c-d7eb-46da-3aa44d38b016?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:24:08.8978560-07:00",
    "RandomSeed": "1984887920",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
