{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-760d22be-caca-d32a-123e-76b2af6738b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:04:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22422F0534\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fb4250d8-e2f5-7afa-f5c5-8c572a57fb0d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22423D59DE\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-760d22be-caca-d32a-123e-76b2af6738b2/test-file-df5008aa-cb06-991e-2292-ae3559234c5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5LEQxv6+jA06aS+uM8IpdIZCg9ZrSPzvZV5h2a9opLpzqATF0ffFfxeaXDiaSLoo/+GGWzZt8pu0IWCgXbJd0cR0Oou+Y6OOfAS+0ezEVB2jONrO4kiDBrVoEK+WJSJkPIt0JQ4vaZs++N4yriGv8MxD/CTYj+978TTVVVPz91fiWpRgUC4Pc88/kOlpUViUuSDjUyj9jK2b+DTaWhRISwCHT1SMTqCeNIhVmP8FEZ/bQJsyD6Qu5M3nxVf5NBm69kTp4gIDCGt/RB+fqPOulueV/hl4FTtcWGqHpYlJpP9vmqG6HC+d2Dgws8uEjzzZOC5vZDYAQuEJjImXfGPhNp8fMA1R9Hm4+CXhR2Fw18ku[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-760d22be-caca-d32a-123e-76b2af6738b2/test-file-df5008aa-cb06-991e-2292-ae3559234c5f?sv=2024-08-04&se=2024-05-02T21%3A04%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KhB2giWK7jiDvi0vxQ5/nw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22424D2B5A\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:04:15.3553754Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fb4250d8-e2f5-7afa-f5c5-8c572a57fb0d/test-file-59164bf2-755c-4a4a-ac77-19743a6e856c?sv=2024-08-04&se=2024-05-02T21%3A04%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fb4250d8-e2f5-7afa-f5c5-8c572a57fb0d/test-file-59164bf2-755c-4a4a-ac77-19743a6e856c?sv=2024-08-04&se=2024-05-02T21%3A04%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22427BE5C4\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:04:15.6616132Z",
        "x-ms-file-creation-time": "2024-05-01T21:04:15.6616132Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:04:15.6616132Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fb4250d8-e2f5-7afa-f5c5-8c572a57fb0d/test-file-59164bf2-755c-4a4a-ac77-19743a6e856c?sv=2024-08-04&se=2024-05-02T21%3A04%3A15Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-760d22be-caca-d32a-123e-76b2af6738b2/test-file-df5008aa-cb06-991e-2292-ae3559234c5f?sv=2024-08-04&se=2024-05-02T21%3A04%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22428ECE8D\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-content-crc64": "9uRygee8TOA=",
        "x-ms-file-last-write-time": "2024-05-01T21:04:15.7855373Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-760d22be-caca-d32a-123e-76b2af6738b2/test-file-df5008aa-cb06-991e-2292-ae3559234c5f?sv=2024-08-04&se=2024-05-02T21%3A04%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A22424D2B5A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22424D2B5A\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-blob-content-md5": "KhB2giWK7jiDvi0vxQ5/nw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 21:04:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:04:15.3553754Z"
      },
      "ResponseBody": "5LEQxv6+j[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fb4250d8-e2f5-7afa-f5c5-8c572a57fb0d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-760d22be-caca-d32a-123e-76b2af6738b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:04:15.1554451-07:00",
    "RandomSeed": "872073216",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
