{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24103749-328c-c444-26fa-4b35ed135b80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CE33A6CD7\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-49831f40-6569-322d-efa6-25cc43e28e4b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CE343C82F\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-49831f40-6569-322d-efa6-25cc43e28e4b/test-file-9b5ab03c-bea6-97b8-c0e7-8af668ee165f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CE34DB25F\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-06T17:26:20.7580767Z",
        "x-ms-file-creation-time": "2024-08-06T17:26:20.7580767Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-06T17:26:20.7580767Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24103749-328c-c444-26fa-4b35ed135b80/test-file-54b4638b-22bb-c315-bc4e-9c1b871bb2dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "3XLjDV3sYbGBC5ZD8VcVTQzthY3gGP8adQCuk9nBZ86+2Yw665mTzE40DflYIXODQCLUudzYMcRyyJddPc7YwKTHhRfK2mJyWbk/qwsGwlOMK1O37K3y5qjIyCIBNo5/XE1VkJxcuGa/YWAjmIa5bAZE0BF7INP21J5vAhFAcSIqv06+sDG2L3Pt94pNzk0iD1wcvWV8BDt5X7v97bZUf/A9+Nk3+rvUjaCejilIqAZRTfO1JLS9rroTRFF1uEK8mHeaD9Z06hSgRy/E3XYRMba1rKDDnls8gEoeJLVqXtRe4vWyrZgv3GLeFdyE+NBEAROawAui+fobXo+LVcZfNelaZvuAX4MehtA+5Il/t4d6[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24103749-328c-c444-26fa-4b35ed135b80/test-file-54b4638b-22bb-c315-bc4e-9c1b871bb2dc?sv=Sanitized&se=2024-08-07T17%3A26%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cW/1CMFKk6UR6PeIS3WcfQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CE3581F22\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:26:20.8263970Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-49831f40-6569-322d-efa6-25cc43e28e4b/test-file-9b5ab03c-bea6-97b8-c0e7-8af668ee165f?sv=Sanitized&se=2024-08-07T17%3A26%3A20Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-06T17:26:20.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CE36AFA21\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-06T17:26:20.9499681Z",
        "x-ms-file-creation-time": "2024-08-06T17:26:20.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-06T17:26:20.9499681Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-49831f40-6569-322d-efa6-25cc43e28e4b/test-file-9b5ab03c-bea6-97b8-c0e7-8af668ee165f?sv=Sanitized&se=2024-08-07T17%3A26%3A20Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-24103749-328c-c444-26fa-4b35ed135b80/test-file-54b4638b-22bb-c315-bc4e-9c1b871bb2dc?sv=sanitized-value&se=2024-08-07T17%3A26%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CE377C980\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:21 GMT",
        "x-ms-content-crc64": "WRdWuLZjlEQ=",
        "x-ms-file-last-write-time": "2024-08-06T17:26:20.9499681Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24103749-328c-c444-26fa-4b35ed135b80/test-file-54b4638b-22bb-c315-bc4e-9c1b871bb2dc?sv=Sanitized&se=2024-08-07T17%3A26%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB63CE3581F22\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CE3581F22\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-blob-content-md5": "cW/1CMFKk6UR6PeIS3WcfQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 06 Aug 2024 17:26:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:26:20.8263970Z"
      },
      "ResponseBody": "3XLjDV3sY[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-49831f40-6569-322d-efa6-25cc43e28e4b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-24103749-328c-c444-26fa-4b35ed135b80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-06T12:26:20.3258390-05:00",
    "RandomSeed": "326941234",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
