{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3045d1e1-72f9-2c46-f6a7-5d692ac091f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:07 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CDBC3BB55\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-568e49a9-c1dd-9756-1279-a007acb24fc1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:07 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CDBCCF14D\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-568e49a9-c1dd-9756-1279-a007acb24fc1/test-file-08c73b03-e8a6-5949-65ef-b6781b724a49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CDBD6B474\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-06T17:26:08.2342004Z",
        "x-ms-file-creation-time": "2024-08-06T17:26:08.2342004Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-06T17:26:08.2342004Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3045d1e1-72f9-2c46-f6a7-5d692ac091f7/test-file-ed7de53d-c8a0-4756-1fb9-bc68e531381b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:07 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "n/db99/VnkBtPeAzLYuMl46NplOr4Z41wjSGzlVHC00oLcqzPfEhY0mFL/LuoC3xGCzzv9/8pr5ZJjWqT8/rJjGSCv/B2VqcbEIKJrGrRiEHlLYoU0xuLIcMWRe8dhR5mQnAXJYtMD7SVlOc8oAMrd8To7sYwtLlJN54tYBD4PUukI2n6+qL2mR4Vfz50joG/6s3qdNYYNY32ze3tHu+j3ZdbWLzZML0h8hWoGzV7FGkcbXUCzci1S+2cBCy0yXpucaGm2XXE5voQiEKAr9pYe7mE0LF6YQ/O5cyPPOyQrOjbeemT1DszF4Z68gVF9NvTA8hzMDiI9BCRmDNpdanNgBtZ5XYwxKd+Ubkq/67KSPD[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3045d1e1-72f9-2c46-f6a7-5d692ac091f7/test-file-ed7de53d-c8a0-4756-1fb9-bc68e531381b?sv=Sanitized&se=2024-08-07T17%3A26%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "plXjOk0sh2eLDKeMALKE7w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CDBE158A2\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:26:08.3049393Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-568e49a9-c1dd-9756-1279-a007acb24fc1/test-file-08c73b03-e8a6-5949-65ef-b6781b724a49?sv=Sanitized&se=2024-08-07T17%3A26%3A07Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-06T17:26:08.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CDBF3D527\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-06T17:26:08.4250919Z",
        "x-ms-file-creation-time": "2024-08-06T17:26:08.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-06T17:26:08.4250919Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-568e49a9-c1dd-9756-1279-a007acb24fc1/test-file-08c73b03-e8a6-5949-65ef-b6781b724a49?sv=Sanitized&se=2024-08-07T17%3A26%3A07Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-3045d1e1-72f9-2c46-f6a7-5d692ac091f7/test-file-ed7de53d-c8a0-4756-1fb9-bc68e531381b?sv=sanitized-value&se=2024-08-07T17%3A26%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CDC0892A2\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-content-crc64": "XnJG01HuKOU=",
        "x-ms-file-last-write-time": "2024-08-06T17:26:08.4250919Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3045d1e1-72f9-2c46-f6a7-5d692ac091f7/test-file-ed7de53d-c8a0-4756-1fb9-bc68e531381b?sv=Sanitized&se=2024-08-07T17%3A26%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB63CDBE158A2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CDBE158A2\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-blob-content-md5": "plXjOk0sh2eLDKeMALKE7w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:26:08.3049393Z"
      },
      "ResponseBody": "n/db99/Vn[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-568e49a9-c1dd-9756-1279-a007acb24fc1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3045d1e1-72f9-2c46-f6a7-5d692ac091f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:26:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-06T12:26:07.8033046-05:00",
    "RandomSeed": "1758024338",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
