{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-09966cd4-dd61-422e-db99-ca45aa60108e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F40EBFBF\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-ea329340-1889-2517-3f2d-fefd05c51d27?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F41E117D\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-ea329340-1889-2517-3f2d-fefd05c51d27/test-file-961f251b-a8f4-329a-669e-77f26fb6c4d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F43239CC\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:36:31.7510092Z",
        "x-ms-file-creation-time": "2023-11-16T18:36:31.7510092Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:36:31.7510092Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-09966cd4-dd61-422e-db99-ca45aa60108e/test-file-93bbe882-0ee9-91a8-8080-99a4adefe66d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "SHLYPiwNFWZyUamTI9C\u002B1aT71up6ZPnXkn08qRl7JIGdB4sfVcFwrV\u002BCu8D\u002BLvDyoZk0sk1wD\u002BR4Aauv0GtM9i0o9RtFn4DiiyiL96g52GOMSgh/R3EzLfimplQWwN30NcSS1jjVrAIZUScl5Rc8PyhHI4Vjza\u002B89MgjnvkszMpLl8LjpgIqt50FZvVKDkjgaWcrzp1XkGgV1uFwsQ4J7IVd2U1VWZglHWzoXWa5ceWAQjWRAP4s8wZazdAhugWP/Hlw7TT6ixDPBrAxbzIBW2T88G7Yd\u002ByHMOZH\u002B4vHBGJmWGHtSYSxhrckwvpN\u002BoTUWHJr[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-09966cd4-dd61-422e-db99-ca45aa60108e/test-file-93bbe882-0ee9-91a8-8080-99a4adefe66d?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A31Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "iDSCJfIuG\u002BHfS/r7xiCcyw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2F4434736\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:31.8637627Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-ea329340-1889-2517-3f2d-fefd05c51d27/test-file-961f251b-a8f4-329a-669e-77f26fb6c4d9?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A31Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F461802E\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:36:32.0608302Z",
        "x-ms-file-creation-time": "2023-11-16T18:36:32.0608302Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:36:32.0608302Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-ea329340-1889-2517-3f2d-fefd05c51d27/test-file-961f251b-a8f4-329a-669e-77f26fb6c4d9?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A31Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-09966cd4-dd61-422e-db99-ca45aa60108e/test-file-93bbe882-0ee9-91a8-8080-99a4adefe66d?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A31Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F47F8B1B\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:32 GMT",
        "x-ms-content-crc64": "otL6KT/nQZY=",
        "x-ms-file-last-write-time": "2023-11-16T18:36:32.2577179Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-09966cd4-dd61-422e-db99-ca45aa60108e/test-file-93bbe882-0ee9-91a8-8080-99a4adefe66d?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A31Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D2F4434736\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2F4434736\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-blob-content-md5": "iDSCJfIuG\u002BHfS/r7xiCcyw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 16 Nov 2023 18:36:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:31.8637627Z"
      },
      "ResponseBody": "SHLY[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-ea329340-1889-2517-3f2d-fefd05c51d27?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-09966cd4-dd61-422e-db99-ca45aa60108e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:36:31.7048838-08:00",
    "RandomSeed": "161391516",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
