{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-78fe3cdb-e6b9-2eeb-15d3-55682fe171fb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D0A3284D3\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c03b29a7-b551-d907-9e9f-8f75a77309f0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D0A44F032\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c03b29a7-b551-d907-9e9f-8f75a77309f0/test-file-d36b0666-3bc3-5b7b-2796-17ee536ccd38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D0A59A3BE\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:59:48.5667262Z",
        "x-ms-file-creation-time": "2023-11-15T18:59:48.5667262Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:59:48.5667262Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-78fe3cdb-e6b9-2eeb-15d3-55682fe171fb/test-file-1e6c4e06-81d6-5906-ffe3-250c1c1b967f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "D5A7wA1YrmR6N14T08J9PmN1\u002BDHjEOCt3II/WmO/7zXFbuE7CzuBUnx5cysj\u002BJS4PwiD5ZU5Jf6wjeSLGVQBu0gpTmTgQjMn86W1apy0iuPuhxtaOwmfi0nii31X9jkneLjj\u002Bqkv1/zVW/Hvg7ti\u002BwMAnZE5pn8\u002BicIa/ba10P1rjfHk0ZA5vq8ehOAYsAeOgJB6Vlmn7tE5pXDnFNlFH4v0g/bJfSpzxt7hGiGeJtm6jH0mO3mkxJ8fqisfUqnV2GRVIywRxQJlB496xtSvmn6XLIhcH\u002BQRUL9WqdP\u002BVHQ0C0G9SQKsqMZ6wDTpKf3LcBCthyYhe[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-78fe3cdb-e6b9-2eeb-15d3-55682fe171fb/test-file-1e6c4e06-81d6-5906-ffe3-250c1c1b967f?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "MYzbuk5zsvgHKQzJFKIdfQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D0A6C0A9C\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:59:48.6873244Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c03b29a7-b551-d907-9e9f-8f75a77309f0/test-file-d36b0666-3bc3-5b7b-2796-17ee536ccd38?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A48Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D0A921085\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:59:48.9365125Z",
        "x-ms-file-creation-time": "2023-11-15T18:59:48.9365125Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:59:48.9365125Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c03b29a7-b551-d907-9e9f-8f75a77309f0/test-file-d36b0666-3bc3-5b7b-2796-17ee536ccd38?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A48Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-78fe3cdb-e6b9-2eeb-15d3-55682fe171fb/test-file-1e6c4e06-81d6-5906-ffe3-250c1c1b967f?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D0AA6A6F1\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:49 GMT",
        "x-ms-content-crc64": "dpUNGs2zBpY=",
        "x-ms-file-last-write-time": "2023-11-15T18:59:49.0714353Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-78fe3cdb-e6b9-2eeb-15d3-55682fe171fb/test-file-1e6c4e06-81d6-5906-ffe3-250c1c1b967f?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE60D0A6C0A9C\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D0A6C0A9C\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-blob-content-md5": "MYzbuk5zsvgHKQzJFKIdfQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:59:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:59:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:59:48.6873244Z"
      },
      "ResponseBody": "D5A7wA1Yr[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c03b29a7-b551-d907-9e9f-8f75a77309f0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-78fe3cdb-e6b9-2eeb-15d3-55682fe171fb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:49 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:59:48.0930814-08:00",
    "RandomSeed": "1621983631",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
