{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1146554a-c2d2-b449-bb69-8639100aa0ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D04AD7431\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e1d43fd8-c198-8a92-1ef4-f5e0490aab29?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D04C0CA23\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1146554a-c2d2-b449-bb69-8639100aa0ba/test-file-c0ea7984-b830-32ac-73b6-e5a00fe66d0c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "uJit4aUM/zBajA/sET7kJZRJzKHrVozqn2HVfdRArjmPql3Cdkxg06KZJn5fOiOOoFBRgLod7WIMw0FEN4FbGt7WXGbhIa9H6Pn\u002BUi8Oi2U\u002BRt2E7i5\u002Bcr37trIKHJwgPQygiQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "eVu82w\u002BwIT\u002BTx36G8F1RhA==",
        "ETag": "\u00220x8DBE60D04D3C0C7\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-content-crc64": "Iujv6GkUyco=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:59:39.3006791Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1146554a-c2d2-b449-bb69-8639100aa0ba/test-file-c0ea7984-b830-32ac-73b6-e5a00fe66d0c?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eVu82w\u002BwIT\u002BTx36G8F1RhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D04D3C0C7\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:59:39.3006791Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e1d43fd8-c198-8a92-1ef4-f5e0490aab29/test-file-d6931f99-e3a3-eb6b-7eb3-5b33cad3bd1f?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e1d43fd8-c198-8a92-1ef4-f5e0490aab29/test-file-d6931f99-e3a3-eb6b-7eb3-5b33cad3bd1f?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "100",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D05122F0A\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:59:39.7098250Z",
        "x-ms-file-creation-time": "2023-11-15T18:59:39.7098250Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:59:39.7098250Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e1d43fd8-c198-8a92-1ef4-f5e0490aab29/test-file-d6931f99-e3a3-eb6b-7eb3-5b33cad3bd1f?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A38Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-1146554a-c2d2-b449-bb69-8639100aa0ba/test-file-c0ea7984-b830-32ac-73b6-e5a00fe66d0c?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-99",
        "x-ms-source-range": "bytes=0-99",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D053FEF09\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:40 GMT",
        "x-ms-content-crc64": "Iujv6GkUyco=",
        "x-ms-file-last-write-time": "2023-11-15T18:59:40.0096521Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1146554a-c2d2-b449-bb69-8639100aa0ba/test-file-c0ea7984-b830-32ac-73b6-e5a00fe66d0c?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE60D04D3C0C7\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D04D3C0C7\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-blob-content-md5": "eVu82w\u002BwIT\u002BTx36G8F1RhA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:59:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:59:39.3006791Z"
      },
      "ResponseBody": "uJit4aUM/zBajA/sET7kJZRJzKHrVozqn2HVfdRArjmPql3Cdkxg06KZJn5fOiOOoFBRgLod7WIMw0FEN4FbGt7WXGbhIa9H6Pn\u002BUi8Oi2U\u002BRt2E7i5\u002Bcr37trIKHJwgPQygiQ=="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e1d43fd8-c198-8a92-1ef4-f5e0490aab29?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1146554a-c2d2-b449-bb69-8639100aa0ba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:59:38.8414610-08:00",
    "RandomSeed": "503491301",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
