{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-55ef8153-5a2e-ac7b-e79c-48fbc18b778e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AA542AF1A\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4293242-9694-535d-4bf1-fdd795afaed4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AA555E3D1\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-55ef8153-5a2e-ac7b-e79c-48fbc18b778e/test-file-4f2810cf-b42e-c625-384d-95a08332377e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "ZTlBOHuJEVBJZIjfSBCq8yI73HclB8wlv22WoiWCZDCV7Et0EVg\u002BqunT5ge3Z1aX7crWEuxm611sHHkN8m8rxgBXSlvENeLK/TGOUSHFbVcW/7RarFJELwHuB/TfMLd5px8GYB370rfoCxS615k8p64h9/O70RqtEhta1i7t6816FakBvg06Giz8caA9ildosWBGvTjEvtYFWU4CofyJ\u002ByBGP8HvOumg5tzGvl95b4fD8STNpi2VtlfT/GW/OHkwcnZ/9kuWeHd2pddb/f93i\u002BnGPq/YvFTzsYlqHD6E4a5jlUvo\u002Bnk8LHmtVgFWObhXW3B7\u002BPnKWLYijEXBK1w[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-55ef8153-5a2e-ac7b-e79c-48fbc18b778e/test-file-4f2810cf-b42e-c625-384d-95a08332377e?sv=2023-11-03\u0026se=2023-11-16T18%3A42%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sNSU9FFZq\u002BIaVpveawmIkQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AA5676F62\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:42:40.2147951Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4293242-9694-535d-4bf1-fdd795afaed4/test-file-778b4eb5-e227-89ea-3091-46cacc57af9a?sv=2023-11-03\u0026se=2023-11-16T18%3A42%3A39Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4293242-9694-535d-4bf1-fdd795afaed4/test-file-778b4eb5-e227-89ea-3091-46cacc57af9a?sv=2023-11-03\u0026se=2023-11-16T18%3A42%3A39Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AA5A2992C\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:42:40.6015276Z",
        "x-ms-file-creation-time": "2023-11-15T18:42:40.6015276Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:42:40.6015276Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4293242-9694-535d-4bf1-fdd795afaed4/test-file-778b4eb5-e227-89ea-3091-46cacc57af9a?sv=2023-11-03\u0026se=2023-11-16T18%3A42%3A39Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-55ef8153-5a2e-ac7b-e79c-48fbc18b778e/test-file-4f2810cf-b42e-c625-384d-95a08332377e?sv=2023-11-03\u0026se=2023-11-16T18%3A42%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AA5BA155C\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-content-crc64": "aauHzYVYRKY=",
        "x-ms-file-last-write-time": "2023-11-15T18:42:40.7554396Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-55ef8153-5a2e-ac7b-e79c-48fbc18b778e/test-file-4f2810cf-b42e-c625-384d-95a08332377e?sv=2023-11-03\u0026se=2023-11-16T18%3A42%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE60AA5676F62\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AA5676F62\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-blob-content-md5": "sNSU9FFZq\u002BIaVpveawmIkQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:42:40.2147951Z"
      },
      "ResponseBody": "ZTlB[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4293242-9694-535d-4bf1-fdd795afaed4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-55ef8153-5a2e-ac7b-e79c-48fbc18b778e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:42:39.7420650-08:00",
    "RandomSeed": "1379281571",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
