{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ae170efa-19c7-e0d1-41a9-7f44bcc0f19f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515487F45EDA\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4171c3b5-8921-4ebd-e379-91e8633d6d78?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515487FDAB43\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ae170efa-19c7-e0d1-41a9-7f44bcc0f19f/test-file-d581bbe9-cfc4-3dab-dea2-099d74b0d673",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "NhzE2zOWFxjBV3gEsjZqncLdJ6ERSI9fye92oR2/0PRubZSa22QnwhokqCzKOwvLOFywEqFaP+2MZRJEH3X7AYeDlkSh0MFetmWG7J9jlI7jqmnAD75TEy2mDnVS46KlKKelRqTGKWiaUVw701NOKNCEYHUMO/LIMIIW+8FMDNLC4cP4vk7pHYAAJb1iFz/aV+WlzYMtmO203BUhsC6mTkWJefKPVmqCmkP0CxU0ZhlDO6Pcpj5PlUjWQ+E4x2xRWdZ42J1MSwF6IzM/OI3Xf3b83nSKyqcGOuSquROJSdLWorI+vI179u+iYYMLD1y7/sNrPOn3x48ucZ65opLt8dpgaZXamcPogOeE6Ggk+yqI7rpQHgzp3tsiD0vvwlNdtHCpq6bG4GQAgrwBc94mCnV0MbPXndLNdoq6t4l3+L6UJzT4e1CDwQ5VT5tQ6Gv9/AXVe5CghRad2zQcDCjbiIn9bUuqLo4l8G+lgU03fY4fvLuDoX0t86EdWp8cZ7XlescRUnofUs52sIog+wTJZl6l/U9tV+cMz3mqjdPvCYm5vweGJSoT/2rtDfDyDPidU/RBdmlmeCLfBYIBdcX6h6cBZjv8QkEzkv3lgEr2GcKADDnfrZIfU0blpiCoEomk8oVJ8aa9oBGyDuNrgfjX6eu/gGiMG9kU4RP1F5sgi38=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mhtKwwICElF9UNwykjTyQg==",
        "ETag": "\"0x8DD51548804676F\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-content-crc64": "24yTsjPixD4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:05.7581178Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ae170efa-19c7-e0d1-41a9-7f44bcc0f19f/test-file-d581bbe9-cfc4-3dab-dea2-099d74b0d673?sv=Sanitized&se=2025-02-21T02%3A16%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "mhtKwwICElF9UNwykjTyQg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51548804676F\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:05.7581178Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4171c3b5-8921-4ebd-e379-91e8633d6d78/test-file-0b850f61-be5f-0b1f-02f4-59f3e1a56fcf?sv=Sanitized&se=2025-02-21T02%3A16%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4171c3b5-8921-4ebd-e379-91e8633d6d78/test-file-0b850f61-be5f-0b1f-02f4-59f3e1a56fcf?sv=Sanitized&se=2025-02-21T02%3A16%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:16:05.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154881D82B4\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:05.9216564Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:05.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:05.9216564Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4171c3b5-8921-4ebd-e379-91e8633d6d78/test-file-0b850f61-be5f-0b1f-02f4-59f3e1a56fcf?sv=Sanitized&se=2025-02-21T02%3A16%3A05Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-ae170efa-19c7-e0d1-41a9-7f44bcc0f19f/test-file-d581bbe9-cfc4-3dab-dea2-099d74b0d673?sv=sanitized-value&se=2025-02-21T02%3A16%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154882CC2BA\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:06 GMT",
        "x-ms-content-crc64": "24yTsjPixD4=",
        "x-ms-file-last-write-time": "2025-02-20T02:16:05.9216564Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4171c3b5-8921-4ebd-e379-91e8633d6d78/test-file-0b850f61-be5f-0b1f-02f4-59f3e1a56fcf?sv=Sanitized&se=2025-02-21T02%3A16%3A05Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:16:05.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51548833C698\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:06.0675736Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:05.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:05.9216564Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ae170efa-19c7-e0d1-41a9-7f44bcc0f19f/test-file-d581bbe9-cfc4-3dab-dea2-099d74b0d673?sv=Sanitized&se=2025-02-21T02%3A16%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD51548804676F\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51548804676F\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-blob-content-md5": "mhtKwwICElF9UNwykjTyQg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:16:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 20 Feb 2025 02:16:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:05.7581178Z"
      },
      "ResponseBody": "NhzE2zOWFxjBV3gEsjZqncLdJ6ERSI9fye92oR2/0PRubZSa22QnwhokqCzKOwvLOFywEqFaP+2MZRJEH3X7AYeDlkSh0MFetmWG7J9jlI7jqmnAD75TEy2mDnVS46KlKKelRqTGKWiaUVw701NOKNCEYHUMO/LIMIIW+8FMDNLC4cP4vk7pHYAAJb1iFz/aV+WlzYMtmO203BUhsC6mTkWJefKPVmqCmkP0CxU0ZhlDO6Pcpj5PlUjWQ+E4x2xRWdZ42J1MSwF6IzM/OI3Xf3b83nSKyqcGOuSquROJSdLWorI+vI179u+iYYMLD1y7/sNrPOn3x48ucZ65opLt8dpgaZXamcPogOeE6Ggk+yqI7rpQHgzp3tsiD0vvwlNdtHCpq6bG4GQAgrwBc94mCnV0MbPXndLNdoq6t4l3+L6UJzT4e1CDwQ5VT5tQ6Gv9/AXVe5CghRad2zQcDCjbiIn9bUuqLo4l8G+lgU03fY4fvLuDoX0t86EdWp8cZ7XlescRUnofUs52sIog+wTJZl6l/U9tV+cMz3mqjdPvCYm5vweGJSoT/2rtDfDyDPidU/RBdmlmeCLfBYIBdcX6h6cBZjv8QkEzkv3lgEr2GcKADDnfrZIfU0blpiCoEomk8oVJ8aa9oBGyDuNrgfjX6eu/gGiMG9kU4RP1F5sgi38="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4171c3b5-8921-4ebd-e379-91e8633d6d78?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ae170efa-19c7-e0d1-41a9-7f44bcc0f19f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T18:16:05.7819439-08:00",
    "RandomSeed": "1399879474",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
