{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f655e7a1-cd8e-cf9e-07a9-fe3305a131e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:25 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7024BC90F50\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:26 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5faab548-4195-8327-0afc-e3393b095b5d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:25 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7024BD7C78E\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:27 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f655e7a1-cd8e-cf9e-07a9-fe3305a131e0/test-file-02cf2f0b-ed2f-d7b1-da20-5776977ff2c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:25 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "qR1eTzEePWlyZiMEP3yyuZOBKrY7hMorZ5zoN5Q6PcPyVeL53bzju6PiIA1+qvpxzbjWclUc3yVTM+eVNgXVOChfEuqZudzWnm8TWWO8rb2hd2nbY8tt1Xa9parVToWeDejlHpgP1xTc/9TmCYXBloYp876b+dRc8Tx03BMyAU/qdEx7144lkqBV/2T3h8zw/A8jq1rGAhMUiCxbm/oAqf6E/JQ4Rr73BGEeRfpwZWpwg98DDlb1I3I4Zk5iyfelVVVlcoo3t7VRLKf5p7wZpCPB6xca/Junj9giAN9vlDtpefCkCvLgOMsqsuGv+3y1H8IroN3fili6vuOxFLfW4ZdskC7MdZkw4bJL8Em5+JNcbOEcQ/Ndie6X6UwPLiMTVNFJQ2tO6akp+78qlJkPAcVPVajWuZ2jDgY/NItNILKPN5x4b7UoDoM380g0MvVUiOiGv9l7PZo0pTRlDrQe29oNm1z9l5IPJ0Ykn8VVb9sQ66yjx2HYE/oCQ8mBw//OGBhtJpeZV/FVdpiTVp7U3jZYVCMIexR5NYdh+1PIjmRGVoat50hEd5O7TVDJRbxcLWSTKG7cxZ0E8/EPN1ydjeczTAAXJ/ftE92PTS3DsPDKBc3uNWb1apDoqfNXND83HcBolfm8RAVtpRSRTHhwQEMBRDKOr1eBPeFvLn0Dld8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7dc52CuBFb/GXcju4RWFZg==",
        "ETag": "\"0x8DCB7024BE36554\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:27 GMT",
        "x-ms-content-crc64": "XskGl86gTCs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:27.0779220Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f655e7a1-cd8e-cf9e-07a9-fe3305a131e0/test-file-02cf2f0b-ed2f-d7b1-da20-5776977ff2c1?sv=Sanitized&se=2024-08-08T16%3A59%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7dc52CuBFb/GXcju4RWFZg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7024BE36554\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:27.0779220Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5faab548-4195-8327-0afc-e3393b095b5d/test-file-6f690cb6-9dbc-3f5d-b429-510cbad0902d?sv=Sanitized&se=2024-08-08T16%3A59%3A26Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5faab548-4195-8327-0afc-e3393b095b5d/test-file-6f690cb6-9dbc-3f5d-b429-510cbad0902d?sv=Sanitized&se=2024-08-08T16%3A59%3A26Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T16:59:27.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7024C043A81\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T16:59:27.2930945Z",
        "x-ms-file-creation-time": "2024-08-07T16:59:27.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T16:59:27.2930945Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5faab548-4195-8327-0afc-e3393b095b5d/test-file-6f690cb6-9dbc-3f5d-b429-510cbad0902d?sv=Sanitized&se=2024-08-08T16%3A59%3A26Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-f655e7a1-cd8e-cf9e-07a9-fe3305a131e0/test-file-02cf2f0b-ed2f-d7b1-da20-5776977ff2c1?sv=sanitized-value&se=2024-08-08T16%3A59%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7024C19E246\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:27 GMT",
        "x-ms-content-crc64": "XskGl86gTCs=",
        "x-ms-file-last-write-time": "2024-08-07T16:59:27.2930945Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f655e7a1-cd8e-cf9e-07a9-fe3305a131e0/test-file-02cf2f0b-ed2f-d7b1-da20-5776977ff2c1?sv=Sanitized&se=2024-08-08T16%3A59%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7024BE36554\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7024BE36554\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:27 GMT",
        "x-ms-blob-content-md5": "7dc52CuBFb/GXcju4RWFZg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:27.0779220Z"
      },
      "ResponseBody": "qR1eTzEePWlyZiMEP3yyuZOBKrY7hMorZ5zoN5Q6PcPyVeL53bzju6PiIA1+qvpxzbjWclUc3yVTM+eVNgXVOChfEuqZudzWnm8TWWO8rb2hd2nbY8tt1Xa9parVToWeDejlHpgP1xTc/9TmCYXBloYp876b+dRc8Tx03BMyAU/qdEx7144lkqBV/2T3h8zw/A8jq1rGAhMUiCxbm/oAqf6E/JQ4Rr73BGEeRfpwZWpwg98DDlb1I3I4Zk5iyfelVVVlcoo3t7VRLKf5p7wZpCPB6xca/Junj9giAN9vlDtpefCkCvLgOMsqsuGv+3y1H8IroN3fili6vuOxFLfW4ZdskC7MdZkw4bJL8Em5+JNcbOEcQ/Ndie6X6UwPLiMTVNFJQ2tO6akp+78qlJkPAcVPVajWuZ2jDgY/NItNILKPN5x4b7UoDoM380g0MvVUiOiGv9l7PZo0pTRlDrQe29oNm1z9l5IPJ0Ykn8VVb9sQ66yjx2HYE/oCQ8mBw//OGBhtJpeZV/FVdpiTVp7U3jZYVCMIexR5NYdh+1PIjmRGVoat50hEd5O7TVDJRbxcLWSTKG7cxZ0E8/EPN1ydjeczTAAXJ/ftE92PTS3DsPDKBc3uNWb1apDoqfNXND83HcBolfm8RAVtpRSRTHhwQEMBRDKOr1eBPeFvLn0Dld8="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5faab548-4195-8327-0afc-e3393b095b5d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f655e7a1-cd8e-cf9e-07a9-fe3305a131e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:26 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T09:59:26.0500766-07:00",
    "RandomSeed": "462928140",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
