{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be97bb8a-3153-1b39-0d28-db9f6d982726?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D27C7A9F\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d9f49f35-f38e-c8e5-aea1-9efc480790c2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D28FAD54\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be97bb8a-3153-1b39-0d28-db9f6d982726/test-file-ec2f6bb6-edbd-9c63-eab3-2c2365223541",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "+O9f32IH8CkZnnMRSdgdlKEduNbWdDugEF+wFQLkCuuRun0738jVB0x2PLZR6t4JXHGO5uRdNYSzv84CV9omNZSIgI9b4bTYR7CKXzeFTiaBp7iQVSMHNIT5hx/507BxUAciyWpPrXu9tZ4z0tVMLnGoga8hleBwgUwKYlmU33QAGA8wYoW7Mvk905+E02GvrFmuUVIAULonsUgeREshKNYqM7rGHMzr7E625MJA663qW7UA5Y4i/8hVCLA9ne2tHKrIWp+m6Y+Mw2QDSmv35saaM+mWIENIBzTxcBMbrk9hCMgXd5EORHIlcyIpH7VcXSLqo2kDF/tngFJrtXh8cRUVoUGj4G40jO93cKwgHuh+[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be97bb8a-3153-1b39-0d28-db9f6d982726/test-file-ec2f6bb6-edbd-9c63-eab3-2c2365223541?sv=Sanitized&se=2024-06-29T23%3A27%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oMd4PKXEFXpOVhRO0p1nBQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9D29FD8F2\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:05.7679602Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d9f49f35-f38e-c8e5-aea1-9efc480790c2/test-file-8975ea40-a50c-926c-03b2-3dbeb9e647d8?sv=Sanitized&se=2024-06-29T23%3A27%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d9f49f35-f38e-c8e5-aea1-9efc480790c2/test-file-8975ea40-a50c-926c-03b2-3dbeb9e647d8?sv=Sanitized&se=2024-06-29T23%3A27%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:27:05.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:27:05.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D2CE844B\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:27:06.0738123Z",
        "x-ms-file-creation-time": "2024-06-28T23:27:05.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:27:05.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d9f49f35-f38e-c8e5-aea1-9efc480790c2/test-file-8975ea40-a50c-926c-03b2-3dbeb9e647d8?sv=Sanitized&se=2024-06-29T23%3A27%3A05Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-be97bb8a-3153-1b39-0d28-db9f6d982726/test-file-ec2f6bb6-edbd-9c63-eab3-2c2365223541?sv=Sanitized&se=2024-06-29T23%3A27%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D2E0D123\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:06 GMT",
        "x-ms-content-crc64": "9PX1SiXHaEo=",
        "x-ms-file-last-write-time": "2024-06-28T23:27:05.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be97bb8a-3153-1b39-0d28-db9f6d982726/test-file-ec2f6bb6-edbd-9c63-eab3-2c2365223541?sv=Sanitized&se=2024-06-29T23%3A27%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC97C9D29FD8F2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9D29FD8F2\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-blob-content-md5": "oMd4PKXEFXpOVhRO0p1nBQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:05.7679602Z"
      },
      "ResponseBody": "+O9f32IH8CkZnnMRSdgdlKEduNbWdDugEF+wFQLkCuuRun0738jVB0x2PLZR6t4JXHGO5uRdNYS[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d9f49f35-f38e-c8e5-aea1-9efc480790c2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be97bb8a-3153-1b39-0d28-db9f6d982726?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:27:05.8336615-07:00",
    "RandomSeed": "1590577597",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
