{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-55641b22-31f9-846b-6de2-e405bff11690?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F578C46D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3c6f380e-b7a8-01cb-d425-d28a015c842c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F581D2C5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3c6f380e-b7a8-01cb-d425-d28a015c842c/test-file-ff99f6fc-2ba5-eb63-04af-0a4cbaf10284",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F5905C73\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:31.3979507Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:31.3979507Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:31.3979507Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-55641b22-31f9-846b-6de2-e405bff11690/test-file-8b209b7c-9df4-3fd5-9b80-d835db71e806",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "M0s/3relwSFwiyc2ktCPFZWpwn5eVrRY2cdqoVOy03c38q2tjsjQoykn1blOzXFhjn7b7gmN392W5wTvOiDOvbiw/6Aj4obM2R9VN4D6CQxWCRLU1+VtqRPPFqfD4GgJWRcBns3QPav3DxTqOKhcnN74mTEN+ebSQlaNVMzfCPi2S91p+Gs+hctn3cjQg3Bqc3rJy0c2/F8xLlt3Q+nfGAYcM+3K8qNyuRNlpRweAr7lIuBRFjyxf05+OMkPx0Lih8TBtFCCoIDXVhEz0VZDEiydkSAIjgHJarOeS7rZY/LRgh5XXE5uYoFgesArfa74OiWdcjUh2vnD90mc41XF/vIfYk447LbdLi6fpxNBnuwE[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-55641b22-31f9-846b-6de2-e405bff11690/test-file-8b209b7c-9df4-3fd5-9b80-d835db71e806?sv=Sanitized&se=2024-07-03T18%3A15%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "19t/ZuKLoakHQzBM8D1ifw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F59B7E4B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:31.4709067Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3c6f380e-b7a8-01cb-d425-d28a015c842c/test-file-ff99f6fc-2ba5-eb63-04af-0a4cbaf10284?sv=Sanitized&se=2024-07-03T18%3A15%3A32Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:15:31.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F5B718D5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:31.6518101Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:31.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:31.6518101Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3c6f380e-b7a8-01cb-d425-d28a015c842c/test-file-ff99f6fc-2ba5-eb63-04af-0a4cbaf10284?sv=Sanitized&se=2024-07-03T18%3A15%3A32Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-55641b22-31f9-846b-6de2-e405bff11690/test-file-8b209b7c-9df4-3fd5-9b80-d835db71e806?sv=Sanitized&se=2024-07-03T18%3A15%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F5C32511\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-content-crc64": "t3JgxxA4F0U=",
        "x-ms-file-last-write-time": "2024-07-02T18:15:31.6518101Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-55641b22-31f9-846b-6de2-e405bff11690/test-file-8b209b7c-9df4-3fd5-9b80-d835db71e806?sv=Sanitized&se=2024-07-03T18%3A15%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC2F59B7E4B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F59B7E4B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-blob-content-md5": "19t/ZuKLoakHQzBM8D1ifw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:31.4709067Z"
      },
      "ResponseBody": "M0s/3relwSFwiyc2ktCPFZWpwn5eVrRY2cdqoVOy03c38q2tjsjQoykn1blOzXFhjn7b7gmN392[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3c6f380e-b7a8-01cb-d425-d28a015c842c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-55641b22-31f9-846b-6de2-e405bff11690?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:15:32.1193481-07:00",
    "RandomSeed": "1149539279",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
