{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2300253f-2b02-5b2d-2cba-59b598231b29?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D1B40F62\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3b2b3c2b-965e-2942-18fb-fa739b2e5583?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D1C01FB0\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2300253f-2b02-5b2d-2cba-59b598231b29/test-file-2ce6a3d6-e2fc-16c5-e404-c742d9923b00",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "CmfdXTdmEWta1OWz72CoW4TtqTeGevJyu4aBmmQ+Pw/RxrR4sJBGQOzVv9IiIhuYvy2kMMkCypB1aqGx5HYGG5TV4imrL6r0p2hKsbofUJlq6ds2mQ9GzvwkAkXvlFt2z6M9TUDy7JCDsIlguBjVVhoIR/ubz4KFjhMthyxkBRIM1OIX4QNZePxKs+mG5hbjTqwr5k1g2v8huL4sxGVjHqp2U+Q2vnUXrs7+UByY/6j9SjiAOR7FrPni9ihELbOX5pQ/EJIxrJA2Ezh+YoniiLkWLnos4+WMsKfqU8dM04EaZmmHWe4VzJ2oSSbmR0lvAG1vLf45agOvsl/rR1jI6kC2Y/sfWy/KAWLcg5q+pmld[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2300253f-2b02-5b2d-2cba-59b598231b29/test-file-2ce6a3d6-e2fc-16c5-e404-c742d9923b00?sv=Sanitized&se=2024-06-29T23%3A27%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Go5KDUX9qoqtzOV0eV88mA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9D1D330F1\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:04.4267249Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3b2b3c2b-965e-2942-18fb-fa739b2e5583/test-file-5c8a6de0-8b5a-9d07-8021-301b28812bd8?sv=Sanitized&se=2024-06-29T23%3A27%3A04Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:27:04.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:27:04.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D1F5339B\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:27:04.6496155Z",
        "x-ms-file-creation-time": "2024-06-28T23:27:04.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:27:04.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3b2b3c2b-965e-2942-18fb-fa739b2e5583/test-file-5c8a6de0-8b5a-9d07-8021-301b28812bd8?sv=Sanitized&se=2024-06-29T23%3A27%3A04Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-2300253f-2b02-5b2d-2cba-59b598231b29/test-file-2ce6a3d6-e2fc-16c5-e404-c742d9923b00?sv=Sanitized&se=2024-06-29T23%3A27%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D2027827\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-content-crc64": "mr1+xnmsma8=",
        "x-ms-file-last-write-time": "2024-06-28T23:27:04.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2300253f-2b02-5b2d-2cba-59b598231b29/test-file-2ce6a3d6-e2fc-16c5-e404-c742d9923b00?sv=Sanitized&se=2024-06-29T23%3A27%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC97C9D1D330F1\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9D1D330F1\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-blob-content-md5": "Go5KDUX9qoqtzOV0eV88mA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:04.4267249Z"
      },
      "ResponseBody": "CmfdXTdmEWta1OWz72CoW4TtqTeGevJyu4aBmmQ+Pw/RxrR4sJBGQOzVv9IiIhuYvy2kMMkCypB[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3b2b3c2b-965e-2942-18fb-fa739b2e5583?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2300253f-2b02-5b2d-2cba-59b598231b29?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:27:04.5145503-07:00",
    "RandomSeed": "1268719632",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
