{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f4fd0145-6d18-e80b-5dce-1c1944766194?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:59 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79245498B56\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:01 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cfddab99-adbd-48d3-6998-2d21c225fd2e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:00 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7924575CBDE\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:01 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f4fd0145-6d18-e80b-5dce-1c1944766194/test-file-62ede533-969d-cafb-d03a-b69654f65f97",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:00 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DBE7924598F965\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:26:02.1951845Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f4fd0145-6d18-e80b-5dce-1c1944766194/test-file-62ede533-969d-cafb-d03a-b69654f65f97?sv=2025-04-05\u0026se=2023-11-18T17%3A26%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7924598F965\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:26:02.1951845Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cfddab99-adbd-48d3-6998-2d21c225fd2e/test-file-b7e54eff-bed9-b1dd-7728-d81da6ba52a4?sv=2025-04-05\u0026se=2023-11-18T17%3A26%3A00Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cfddab99-adbd-48d3-6998-2d21c225fd2e/test-file-b7e54eff-bed9-b1dd-7728-d81da6ba52a4?sv=2025-04-05\u0026se=2023-11-18T17%3A26%3A00Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "0",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792460F93FC\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:26:02.9724668Z",
        "x-ms-file-creation-time": "2023-11-17T17:26:02.9724668Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:26:02.9724668Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cfddab99-adbd-48d3-6998-2d21c225fd2e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f4fd0145-6d18-e80b-5dce-1c1944766194?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:26:00.6296465-08:00",
    "RandomSeed": "1828864416",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
