{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4efe41a9-b96e-6e08-22a3-da8cf288dc21?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79246E76E5F\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:04 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a45499d2-6bef-d9f8-3b94-0b1ad6faf0cf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:02 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7924709C45D\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:04 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4efe41a9-b96e-6e08-22a3-da8cf288dc21/test-file-95715b94-2198-778c-2b69-088ba1a0359c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:03 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "0xDyWytUlvWlQojqMxDRMHwTZUH0d\u002Bom3eFGrKbU0yCAwODiCAp5AWe9xAEIjKGhYTYkuEB\u002Bclsmy31JDepP0W9nanIw7idymWTaN7PoHVFApUpwrxrgAk6Fuz2MMPN8bvKSoSIucHIOsh7bozqoPq0sCGeg3iJUhmcjqzPq5WlwXcnAVnwuETTXYvz8BV4U3H2PYCeM3I/QPRq6C8U/I8y1a0Zx5\u002Bgw/fYyyHslWIEJDs61WoRB5IE57xhidAZvlz4vRpkYo/WVXmMxWRMUq\u002BWYsPz3iclHc4bEN/jPzojwwzA89RHn8WvZIPshEIptJUQyycMJeA5159MTU2v8xZDaQJbj17XUsL\u002BRHWjNJmP7VxKznATF50oixg0\u002B1J7/3FtrR8/0ik2OXhkEd1qlqMFvF/tZSCiLFVlLwBGnltwgkUENYd\u002BUB83FJT7rwG/wfR5Mz72jppMy4DF1qMk858g95OUZl0bi2g8ulCPqn1TqW0LyWsYefeut24GtH18DiT12rtyJ1\u002BXXavStdBFvSEDdi0yGSYwBHmb6a7vENbuwKgvmdPB3YIRcGvDScQjZPpNAz5MSfD\u002BxdJB1j2wqEzU5/EoGidNPZSrHKS6bL6xeICwohGUnna7LNf9gAtEYMge7mXW\u002B07S/8GpoSlIQFUXkF24/AY7QEV6bO1TU72M=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "cwghnEUxFV2NL8xAyMevgQ==",
        "ETag": "\u00220x8DBE792472B4590\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:04 GMT",
        "x-ms-content-crc64": "V5FCzRi6DGQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:26:04.8316816Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4efe41a9-b96e-6e08-22a3-da8cf288dc21/test-file-95715b94-2198-778c-2b69-088ba1a0359c?sv=2024-05-04\u0026se=2023-11-18T17%3A26%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cwghnEUxFV2NL8xAyMevgQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792472B4590\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:26:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:26:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:26:04.8316816Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a45499d2-6bef-d9f8-3b94-0b1ad6faf0cf/test-file-ff67a843-0cbe-eed2-1d6f-0552134e3f2b?sv=2024-05-04\u0026se=2023-11-18T17%3A26%3A03Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a45499d2-6bef-d9f8-3b94-0b1ad6faf0cf/test-file-ff67a843-0cbe-eed2-1d6f-0552134e3f2b?sv=2024-05-04\u0026se=2023-11-18T17%3A26%3A03Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79247947551\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:26:05.5210321Z",
        "x-ms-file-creation-time": "2023-11-17T17:26:05.5210321Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:26:05.5210321Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a45499d2-6bef-d9f8-3b94-0b1ad6faf0cf/test-file-ff67a843-0cbe-eed2-1d6f-0552134e3f2b?sv=2024-05-04\u0026se=2023-11-18T17%3A26%3A03Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-4efe41a9-b96e-6e08-22a3-da8cf288dc21/test-file-95715b94-2198-778c-2b69-088ba1a0359c?sv=2024-05-04\u0026se=2023-11-18T17%3A26%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79247C78BE0\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:05 GMT",
        "x-ms-content-crc64": "V5FCzRi6DGQ=",
        "x-ms-file-last-write-time": "2023-11-17T17:26:05.8558432Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4efe41a9-b96e-6e08-22a3-da8cf288dc21/test-file-95715b94-2198-778c-2b69-088ba1a0359c?sv=2024-05-04\u0026se=2023-11-18T17%3A26%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE792472B4590\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792472B4590\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:04 GMT",
        "x-ms-blob-content-md5": "cwghnEUxFV2NL8xAyMevgQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:26:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:26:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:26:04.8316816Z"
      },
      "ResponseBody": "0xDyWytUlvWlQojqMxDRMHwTZUH0d\u002Bom3eFGrKbU0yCAwODiCAp5AWe9xAEIjKGhYTYkuEB\u002Bclsmy31JDepP0W9nanIw7idymWTaN7PoHVFApUpwrxrgAk6Fuz2MMPN8bvKSoSIucHIOsh7bozqoPq0sCGeg3iJUhmcjqzPq5WlwXcnAVnwuETTXYvz8BV4U3H2PYCeM3I/QPRq6C8U/I8y1a0Zx5\u002Bgw/fYyyHslWIEJDs61WoRB5IE57xhidAZvlz4vRpkYo/WVXmMxWRMUq\u002BWYsPz3iclHc4bEN/jPzojwwzA89RHn8WvZIPshEIptJUQyycMJeA5159MTU2v8xZDaQJbj17XUsL\u002BRHWjNJmP7VxKznATF50oixg0\u002B1J7/3FtrR8/0ik2OXhkEd1qlqMFvF/tZSCiLFVlLwBGnltwgkUENYd\u002BUB83FJT7rwG/wfR5Mz72jppMy4DF1qMk858g95OUZl0bi2g8ulCPqn1TqW0LyWsYefeut24GtH18DiT12rtyJ1\u002BXXavStdBFvSEDdi0yGSYwBHmb6a7vENbuwKgvmdPB3YIRcGvDScQjZPpNAz5MSfD\u002BxdJB1j2wqEzU5/EoGidNPZSrHKS6bL6xeICwohGUnna7LNf9gAtEYMge7mXW\u002B07S/8GpoSlIQFUXkF24/AY7QEV6bO1TU72M="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a45499d2-6bef-d9f8-3b94-0b1ad6faf0cf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4efe41a9-b96e-6e08-22a3-da8cf288dc21?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:05 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:26:03.2668905-08:00",
    "RandomSeed": "292078632",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
