{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8e35a2ad-11c4-690d-d0b6-d84b3320535b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:03:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2236E6AB2F\"",
        "Last-Modified": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e2e050c7-ad3e-8f48-546c-63bcdf461559?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2236F52621\"",
        "Last-Modified": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8e35a2ad-11c4-690d-d0b6-d84b3320535b/test-file-efbd5383-245a-eb1b-c4d6-f3b7455b1eeb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KEpCg4rZvRAazPRxwTqbb0hSuDibT0O1YGyj6iDav2NoYF8IDuHXlXLCyYToVtDQLgUVnp9T2dgHjSMeNtPwPwyRCWDak2FmeyLF2IW+zQmb0rsaxSDDFIaHAIC+uF+f0op3Vk1v9pukryN9jgBSSL8ZgmMY1XrrzfTaU5LgqMLDJgb7R3a7K9wfdhX9RoaGNLfBpTb8hvwPjIlZlaIJxAdguWj5VwFJXVeG+V9k7YdtUx/aHwKMxp8K7LrtYpU5FbIOnYwejN21d0ffdY2dqp8B60KDLqUE1PLI72pHW/vBTeOsVlD6T8dBJKe6rVESbUEb63ZTtecNCsiZVZ1ybhtMHSip8FROBpt6QQn9SSah[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8e35a2ad-11c4-690d-d0b6-d84b3320535b/test-file-efbd5383-245a-eb1b-c4d6-f3b7455b1eeb?sv=2024-08-04&se=2024-05-02T21%3A03%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/zS8/RDNCySOQB5C60YFcg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A223705B946\"",
        "Last-Modified": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:03:56.4322118Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e2e050c7-ad3e-8f48-546c-63bcdf461559/test-file-681d86fb-1345-7dc1-364a-9fadb82b6ee4?sv=2024-08-04&se=2024-05-02T21%3A03%3A56Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e2e050c7-ad3e-8f48-546c-63bcdf461559/test-file-681d86fb-1345-7dc1-364a-9fadb82b6ee4?sv=2024-08-04&se=2024-05-02T21%3A03%3A56Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A223738FCDA\"",
        "Last-Modified": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:03:56.7681754Z",
        "x-ms-file-creation-time": "2024-05-01T21:03:56.7681754Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:03:56.7681754Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e2e050c7-ad3e-8f48-546c-63bcdf461559/test-file-681d86fb-1345-7dc1-364a-9fadb82b6ee4?sv=2024-08-04&se=2024-05-02T21%3A03%3A56Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-8e35a2ad-11c4-690d-d0b6-d84b3320535b/test-file-efbd5383-245a-eb1b-c4d6-f3b7455b1eeb?sv=2024-08-04&se=2024-05-02T21%3A03%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2237497508\"",
        "Last-Modified": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-content-crc64": "n/GdAVxW0rQ=",
        "x-ms-file-last-write-time": "2024-05-01T21:03:56.8761096Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8e35a2ad-11c4-690d-d0b6-d84b3320535b/test-file-efbd5383-245a-eb1b-c4d6-f3b7455b1eeb?sv=2024-08-04&se=2024-05-02T21%3A03%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A223705B946\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A223705B946\"",
        "Last-Modified": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-blob-content-md5": "/zS8/RDNCySOQB5C60YFcg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 21:03:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:03:56.4322118Z"
      },
      "ResponseBody": "KEpCg4rZv[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e2e050c7-ad3e-8f48-546c-63bcdf461559?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:03:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8e35a2ad-11c4-690d-d0b6-d84b3320535b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:03:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:03:56.2556186-07:00",
    "RandomSeed": "1176792334",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
