{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14b935bd-d58f-b582-7d79-45c5ad15d2da?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 19:13:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0460F99D\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3fe533e0-cacd-7c69-7696-bbe255e0e883?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0472CB83\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14b935bd-d58f-b582-7d79-45c5ad15d2da/test-file-b77863d3-69e1-cc8b-878b-b7ccb8a323d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "tcvg1v1zZPT9DyESl75NFm\u002B5AmaTH1nCZsf5YD\u002BQUg97OvqImEImV2O5Jz6zV2i7RLwGOIKMdJZyHXA2eQO1bL0Rl13ExH4tk6sC2vcaDw9fPRyDihqN7sVjFnrS8N1gBLqAocAL938\u002B2KTWipqeVw5h1zzmMuKjg6iXYK4DWqPOodY8mm1OVEWdRLJ1tmQrxb5scRmhedHY3R4Yc5fROn0BCOjDYr2gEoP2Se0wLs1DbJrvlumJLSgEY7xPNuCtywo0c658Z2MAzF\u002BVqi/kqK9R1Af94aOUd9q/v/4BUNuiSX7i\u002B7oexgQ378qK9IL4H7oM/mLZsOlmoPvTvKh[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14b935bd-d58f-b582-7d79-45c5ad15d2da/test-file-b77863d3-69e1-cc8b-878b-b7ccb8a323d6?sv=2023-11-03\u0026se=2023-11-16T19%3A13%3A57Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "i0TUwwCQ6\u002B8TkMDGOzlOBQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F04837E43\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:13:57.7691470Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3fe533e0-cacd-7c69-7696-bbe255e0e883/test-file-94583c6c-501f-146f-0bf6-2ecbcb1479f7?sv=2023-11-03\u0026se=2023-11-16T19%3A13%3A57Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3fe533e0-cacd-7c69-7696-bbe255e0e883/test-file-94583c6c-501f-146f-0bf6-2ecbcb1479f7?sv=2023-11-03\u0026se=2023-11-16T19%3A13%3A57Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F04BF814A\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:13:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:13:58.1614410Z",
        "x-ms-file-creation-time": "2023-11-15T19:13:58.1614410Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:13:58.1614410Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3fe533e0-cacd-7c69-7696-bbe255e0e883/test-file-94583c6c-501f-146f-0bf6-2ecbcb1479f7?sv=2023-11-03\u0026se=2023-11-16T19%3A13%3A57Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-14b935bd-d58f-b582-7d79-45c5ad15d2da/test-file-b77863d3-69e1-cc8b-878b-b7ccb8a323d6?sv=2023-11-03\u0026se=2023-11-16T19%3A13%3A57Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F04D43EB8\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:13:58 GMT",
        "x-ms-content-crc64": "\u002B/Pupt5lB10=",
        "x-ms-file-last-write-time": "2023-11-15T19:13:58.2973624Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14b935bd-d58f-b582-7d79-45c5ad15d2da/test-file-b77863d3-69e1-cc8b-878b-b7ccb8a323d6?sv=2023-11-03\u0026se=2023-11-16T19%3A13%3A57Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE60F04837E43\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F04837E43\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-blob-content-md5": "i0TUwwCQ6\u002B8TkMDGOzlOBQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:13:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:13:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:13:57.7691470Z"
      },
      "ResponseBody": "tcvg[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3fe533e0-cacd-7c69-7696-bbe255e0e883?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:13:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14b935bd-d58f-b582-7d79-45c5ad15d2da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:13:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T11:13:57.3016547-08:00",
    "RandomSeed": "1988489176",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
