{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9b465b83-9151-c762-2766-b00869dabc51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CE5DB079D\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f2617d7c-10fb-bbca-2dd1-974ba141882d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CE5E5F197\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9b465b83-9151-c762-2766-b00869dabc51/test-file-54066c90-50cc-ce30-e5a2-361f76ca8e0c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "rLj/siNKr/TkW/kqpsK211DqHJZrjArjFJRLb6lKcrWgXtxGoeQSpvQbfCnrRIlLmb78uNryZyCuG52O/z9KmehDikjmbzZs2HWiTw/g+M8LANbrTbnbrfa7mIVGhKe00eJAp7pBZCmIkOBkUBgQziPNgv5oX0svaN1RKtewJVPN7X4sn1AVypytYr3Zdlzeq8lheQGpTHGXET/c7zlS12qMl2Ka4y7TuLhiu/yOVfGAc38NT6tRJKEMlY4ROdtiWotSTN/5Q8eajsFJRpB0CbtNW3u5RIi+OnLBjU2gwX7d/2BxOwkShy+3c8DqCN0Ql4zSw91fqBYDlBFtOLV6+cxCbEYwA86yO9RLAdHH1DKUsfbAzv6hfVZKbqb4pE55PXn0qJyX4JO+IIgJE6dEO7/f2Ia/uSvOoe7v5ZU[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9b465b83-9151-c762-2766-b00869dabc51/test-file-54066c90-50cc-ce30-e5a2-361f76ca8e0c?sv=Sanitized&se=2024-12-11T19%3A00%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "empVaGKHEpU6CP+i82aBtw==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CE5F0323E\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f2617d7c-10fb-bbca-2dd1-974ba141882d/test-file-c91f6e10-c79c-9795-0923-70b1ccb05c66?sv=Sanitized&se=2024-12-11T19%3A00%3A22Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f2617d7c-10fb-bbca-2dd1-974ba141882d/test-file-c91f6e10-c79c-9795-0923-70b1ccb05c66?sv=Sanitized&se=2024-12-11T19%3A00%3A22Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "2048",
        "x-ms-content-type": "text/plain",
        "x-ms-file-creation-time": "2024-12-10T19:00:22.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CE61592CD\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:00:22.4860877Z",
        "x-ms-file-creation-time": "2024-12-10T19:00:22.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:00:22.4860877Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f2617d7c-10fb-bbca-2dd1-974ba141882d/test-file-c91f6e10-c79c-9795-0923-70b1ccb05c66?sv=Sanitized&se=2024-12-11T19%3A00%3A22Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9b465b83-9151-c762-2766-b00869dabc51/test-file-54066c90-50cc-ce30-e5a2-361f76ca8e0c?sv=sanitized-value&se=2024-12-11T19%3A00%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CE620F7B2\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-content-crc64": "FW2KIv4UMtg=",
        "x-ms-file-last-write-time": "2024-12-10T19:00:22.4860877Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9b465b83-9151-c762-2766-b00869dabc51/test-file-54066c90-50cc-ce30-e5a2-361f76ca8e0c?sv=Sanitized&se=2024-12-11T19%3A00%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD194CE5F0323E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CE5F0323E\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-blob-content-md5": "empVaGKHEpU6CP+i82aBtw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:00:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "����#J���[�*�¶�P�\u001C�k�\[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f2617d7c-10fb-bbca-2dd1-974ba141882d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9b465b83-9151-c762-2766-b00869dabc51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:00:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T11:00:22.5655992-08:00",
    "RandomSeed": "989166648",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
