{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14109af4-67cd-1f37-15c5-514208cc3e4d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30182D943\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d2fb051f-3b17-e43f-3f40-4411e36942b7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D30190C6D8\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14109af4-67cd-1f37-15c5-514208cc3e4d/test-file-ae8049fd-a790-6d43-0457-eb9e410ed6f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Nm6c9NL5VYrHpRIF2owMPIm8vE6FPd917E1T4pCMQ3tMmXl9TjgjBw0vMM0D5oq2NpbPt7Xv9fmOJwiEpnP5O2KXuUETju1RmbRAVg0RcgXDnav6vIzGXKOA7ycwnmGaNfVrbC1Ioqiofh4Ar5/rfbQCwQjH/37W0Fydk5/FIPpTpSEXpgXYevoDUj5uxa0ElHFyLtxY0zZ3lZvQqw8I4l0jrQl\u002B1NavKUcOw60/ZwuvmP8tUvId\u002BtLroBFqCM7r\u002B2/hShikhsCbwwSVSg\u002BJNy2QIBMQ2o9rBrI2kzPFRSF4I8g9Xh3yCxI\u002Bko/tiLDDYWnj2ee72iHfdkRmbfO[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14109af4-67cd-1f37-15c5-514208cc3e4d/test-file-ae8049fd-a790-6d43-0457-eb9e410ed6f0?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HJKNBdwDy3ltXa9VozUIdw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D301A02DE7\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:54.2819815Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d2fb051f-3b17-e43f-3f40-4411e36942b7/test-file-402e0ac1-6abb-2556-0d01-9a5165f4829f?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A54Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D301BEB053\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:36:54.4819283Z",
        "x-ms-file-creation-time": "2023-11-16T18:36:54.4819283Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:36:54.4819283Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d2fb051f-3b17-e43f-3f40-4411e36942b7/test-file-402e0ac1-6abb-2556-0d01-9a5165f4829f?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A54Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-14109af4-67cd-1f37-15c5-514208cc3e4d/test-file-ae8049fd-a790-6d43-0457-eb9e410ed6f0?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D301DA4A95\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-content-crc64": "mPYZv0vPDyM=",
        "x-ms-file-last-write-time": "2023-11-16T18:36:54.6628245Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14109af4-67cd-1f37-15c5-514208cc3e4d/test-file-ae8049fd-a790-6d43-0457-eb9e410ed6f0?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D301A02DE7\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D301A02DE7\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-blob-content-md5": "HJKNBdwDy3ltXa9VozUIdw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 16 Nov 2023 18:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:54.2819815Z"
      },
      "ResponseBody": "Nm6c9NL5V[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d2fb051f-3b17-e43f-3f40-4411e36942b7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-14109af4-67cd-1f37-15c5-514208cc3e4d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:36:54.2096817-08:00",
    "RandomSeed": "1351521857",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
