{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c7979f28-159f-240c-a1d2-21ecfda08a07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD1939F8EBE\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-21277fa6-ec5c-2cbb-62b0-3840d098085e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD193A912C5\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c7979f28-159f-240c-a1d2-21ecfda08a07/test-file-fdae001d-35ef-570b-d588-1bdc1d7b8f0c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "DW/DkGwSma+ItW9rhVp2nhRCRhLItCchD/3DZLrqLtU8V/lscNznFh940KZX+yuvpmluCVKS2llIooBuTjX0noeZLy5gCi04WjDyT+OAyhTSFL1QeySCqnygI81becjqhDIfvcz9Tps7Nq4ioIt1yNhsmzp4pCJiFoWywOZg3OFoB8uxYAxI1MUhFEV2YAnwKlv1792Nct8PvaZHSo6121rNuZjAw2fLJMd1Vo/c67Z7wZWKauwD2pXroaNmAYk2bDjrqaZxMGb0KcoWGBtPM9Hwy4n4KnBtyd8C1CLEZSM9PupW8UIPCpEvlkEi7MJ6m27RdjUAPkHIfd/HblxEMMSn2dkx+UGO4cH4yZQvS9wc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c7979f28-159f-240c-a1d2-21ecfda08a07/test-file-fdae001d-35ef-570b-d588-1bdc1d7b8f0c?sv=Sanitized&se=2024-07-03T20%3A00%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "yMFb9UbFgiumAkq2HMjqaQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD193B30FD9\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:09.6595929Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-21277fa6-ec5c-2cbb-62b0-3840d098085e/test-file-b2b826ce-6bcb-c043-491a-02c075fc90f7?sv=Sanitized&se=2024-07-03T20%3A00%3A10Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-21277fa6-ec5c-2cbb-62b0-3840d098085e/test-file-b2b826ce-6bcb-c043-491a-02c075fc90f7?sv=Sanitized&se=2024-07-03T20%3A00%3A10Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T20:00:09.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD193D68005\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T20:00:09.8918405Z",
        "x-ms-file-creation-time": "2024-07-02T20:00:09.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T20:00:09.8918405Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-21277fa6-ec5c-2cbb-62b0-3840d098085e/test-file-b2b826ce-6bcb-c043-491a-02c075fc90f7?sv=Sanitized&se=2024-07-03T20%3A00%3A10Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c7979f28-159f-240c-a1d2-21ecfda08a07/test-file-fdae001d-35ef-570b-d588-1bdc1d7b8f0c?sv=Sanitized&se=2024-07-03T20%3A00%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD193E17AFC\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:09 GMT",
        "x-ms-content-crc64": "WlysGHYUVZo=",
        "x-ms-file-last-write-time": "2024-07-02T20:00:09.8918405Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c7979f28-159f-240c-a1d2-21ecfda08a07/test-file-fdae001d-35ef-570b-d588-1bdc1d7b8f0c?sv=Sanitized&se=2024-07-03T20%3A00%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AD193B30FD9\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD193B30FD9\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:09 GMT",
        "x-ms-blob-content-md5": "yMFb9UbFgiumAkq2HMjqaQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:09.6595929Z"
      },
      "ResponseBody": "DW/DkGwSma+ItW9rhVp2nhRCRhLItCchD/3DZLrqLtU8V/lscNznFh940KZX+yuvpmluCVKS2ll[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-21277fa6-ec5c-2cbb-62b0-3840d098085e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c7979f28-159f-240c-a1d2-21ecfda08a07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T13:00:10.9065828-07:00",
    "RandomSeed": "172718422",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
