{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8dcb1a1f-82b7-bec2-002a-a7ac2f877521?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:02 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F07B1CAD6\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8ea09af3-3a5d-e3aa-8ad4-2a3986de012b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:02 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F07C3EC86\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8ea09af3-3a5d-e3aa-8ad4-2a3986de012b/test-file-aa53e2d0-68b4-60e0-3570-e7ff9c60b654",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F07D7225E\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:03.3494622Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:03.3494622Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:03.3494622Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8ea09af3-3a5d-e3aa-8ad4-2a3986de012b/test-file-aa53e2d0-68b4-60e0-3570-e7ff9c60b654?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "9ym/HoJIPnYzUOCeGnN6tGCp\u002BTX0LqyLsaEvE2sh2Y\u002BeYkFjvHp2ksuvPwSmEyxEk/bGlA9vach9NG3hGCoLEnZQALgxF/fmMmZpRe\u002Bo5Z116oB0WkWAL/l55ogNlXmgoy2NVhN0E3v\u002B4GGoBSTY1U/PbC6qlrcwz9C/uDFv2J3tyaHCGo\u002BKANcFdXrj1yrVoBA5PSlL9gx1XIZCtVpKjwfEuzyCFrq/RWtWpSE8Tfim6RggNZt0odKUTL0JR0t8u\u002BZyHxztUopWefi99FHrOA\u002BNm8tCKVlsUBlp7cn9tv4f2uo6yi3cuJeNyryjtq2AqRSte6uAOZGMBs8ChGTBWML5nhpnsG7iseI0tV\u002BdyZlr6ES1TztSn6BYrsRd2TQyzHH5qReTGfilysrJS4Qy7zw1lpsgCwiGp/5[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8dcb1a1f-82b7-bec2-002a-a7ac2f877521/test-file-1aaa6ce9-79fe-7ee0-3a0e-56a01ccca87a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "WjDICHRZMepTnFVy0l2k3uyxHhKXtdIKc3y6IxG6DyBMO155f5J0S1HX6qt2GRshmYSb2QBpN6RevZX4ng7YmY00JZf\u002BK19ZPdLBwMsmk1lgmYmNHjYg4wS5G8H9fK1D/lAeQfSEIm0kQpwtp3fZNyk7lwWES3tXFEKTRRCdW8ElfsF6B1Fk3HYbaNya8juM4OOXweSnvrPUxyyy8N1dh\u002BbaCCm1Xi/Y17qPaOKfvCIGBmQsBZrcfb8OpUAlsuuYveH1v\u002BkR14Gzv\u002BopGFXQNQoKq\u002Bp4MYFM/otqp7nvsyTP9qsBqf059S/jeEavsmRqPXA1GgcBIIxfqcBepy/[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8dcb1a1f-82b7-bec2-002a-a7ac2f877521/test-file-1aaa6ce9-79fe-7ee0-3a0e-56a01ccca87a?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "h7RNicT17pAiiyRWGciCNQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F07FDA415\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:14:03.6028200Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8ea09af3-3a5d-e3aa-8ad4-2a3986de012b/test-file-aa53e2d0-68b4-60e0-3570-e7ff9c60b654?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A03Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F07ECCA0F\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:03.4913807Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:03.3494622Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:03.4913807Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8ea09af3-3a5d-e3aa-8ad4-2a3986de012b/test-file-aa53e2d0-68b4-60e0-3570-e7ff9c60b654?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A03Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F07ECCA0F\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:03.4913807Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:03.3494622Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:03.4913807Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8ea09af3-3a5d-e3aa-8ad4-2a3986de012b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8dcb1a1f-82b7-bec2-002a-a7ac2f877521?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T11:14:03.0118913-08:00",
    "RandomSeed": "2131225112",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
