{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbaf6be0-cbec-cc12-b802-28b39b8c4239?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD18FDF2802\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-20c108b0-34f7-5431-647a-ec422ce91584?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD18FE89F18\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbaf6be0-cbec-cc12-b802-28b39b8c4239/test-file-da262b79-8f2d-ea34-e8a4-3f77b11c7903",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ahskUkZnHOXK5lfTGNtyn/UEFaN0S2zOqf6COzP5994W/T1sKDxwuZh3VL/l2UETAxqKIbot6R6uVahH5OCy0e55vRqeBXe5lFwK/Pet6c+8bzgYb9Uj6BQfvtOTKNS3xYPQbBsmdf2j0Y1eIuwmAWvYi3WomWEYVdQGf0ekJWuHUzd03Hyzlfo7dZ5IxMYn+Lxnu51fDyshtxdHIPa1/6si18+1siXvJPV7bCTD0JAO3oaLPWrNJ0QLUyVkbHUDhXbyJe33ckaWd5ao5KIHXeaHOEFvKcJBVLCKqV4Aird/d+eu0aqiF2xA9MXTJUKiBPY+3TQ0k1u0sNE9bMjnluzeKG26WIs85CDULzT8bS9t[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbaf6be0-cbec-cc12-b802-28b39b8c4239/test-file-da262b79-8f2d-ea34-e8a4-3f77b11c7903?sv=Sanitized&se=2024-07-03T20%3A00%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "QwA+DrHF9p2UT1A3iASs9w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD18FF27562\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:03.3641826Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-20c108b0-34f7-5431-647a-ec422ce91584/test-file-dfcb557e-6671-1d12-8b98-db01ad817078?sv=Sanitized&se=2024-07-03T20%3A00%3A04Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T20:00:03.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD19006EF09\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T20:00:03.4983689Z",
        "x-ms-file-creation-time": "2024-07-02T20:00:03.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T20:00:03.4983689Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-20c108b0-34f7-5431-647a-ec422ce91584/test-file-dfcb557e-6671-1d12-8b98-db01ad817078?sv=Sanitized&se=2024-07-03T20%3A00%3A04Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bbaf6be0-cbec-cc12-b802-28b39b8c4239/test-file-da262b79-8f2d-ea34-e8a4-3f77b11c7903?sv=Sanitized&se=2024-07-03T20%3A00%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD19011C2F0\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:03 GMT",
        "x-ms-content-crc64": "ii2cqA5RVWk=",
        "x-ms-file-last-write-time": "2024-07-02T20:00:03.4983689Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbaf6be0-cbec-cc12-b802-28b39b8c4239/test-file-da262b79-8f2d-ea34-e8a4-3f77b11c7903?sv=Sanitized&se=2024-07-03T20%3A00%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AD18FF27562\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD18FF27562\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:03 GMT",
        "x-ms-blob-content-md5": "QwA+DrHF9p2UT1A3iASs9w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:03.3641826Z"
      },
      "ResponseBody": "ahskUkZnHOXK5lfTGNtyn/UEFaN0S2zOqf6COzP5994W/T1sKDxwuZh3VL/l2UETAxqKIbot6R6[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-20c108b0-34f7-5431-647a-ec422ce91584?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbaf6be0-cbec-cc12-b802-28b39b8c4239?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T13:00:04.6090424-07:00",
    "RandomSeed": "1994020845",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
