{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-35d7edaf-b705-2cc4-a6c3-2e68fe066d40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70254A9329E\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:41 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-076bc244-4bae-13b1-29c7-37a076bd77c0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70254B4D77B\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:41 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-35d7edaf-b705-2cc4-a6c3-2e68fe066d40/test-file-a1ef83e6-9214-7b25-9bdf-e05cc4b3ba9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "2+loUo38zU5q7f0fsgqTfbi1mOJ72xElQHApIzuugSRV9el5AWjMs1+xJNE42L38cEgqhcXP+wDYQxEd0qkTu2vZyr0gGnxP6eSDybc/7GizLLPyhPxfhvnpoL5Xr+G1nmhlXw3/3FbM2pvgTDFImVapaaX2IDdveUTDNnq9+DkDzStP2Y1as1BcJqlgfjnHoAdnrUU7v30x9uXJPKXcDuJi3X8G+b/JTrZVmfqNDvsK/JZyVkr0xw2uHuOokHeqgBfH/qG6wadInV+P5iWDo+jpvz8PabeYbRVxV9vcIb0+qhnixRBaUDvvKrjqZOHoK3r6vtE3mxZfL5CLSWnLa3yhUTsLod7Xj28EID//rQk0[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-35d7edaf-b705-2cc4-a6c3-2e68fe066d40/test-file-a1ef83e6-9214-7b25-9bdf-e05cc4b3ba9e?sv=Sanitized&se=2024-08-08T16%3A59%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "JbwDwyz9EVpffTJ3IGfHyw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB70254C04B21\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:41.9473697Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-076bc244-4bae-13b1-29c7-37a076bd77c0/test-file-7b2b66fc-85fb-d646-c912-6e504ed59a40?sv=Sanitized&se=2024-08-08T16%3A59%3A40Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-076bc244-4bae-13b1-29c7-37a076bd77c0/test-file-7b2b66fc-85fb-d646-c912-6e504ed59a40?sv=Sanitized&se=2024-08-08T16%3A59%3A40Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T16:59:41.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70254E2D616\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T16:59:42.1737494Z",
        "x-ms-file-creation-time": "2024-08-07T16:59:41.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T16:59:42.1737494Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-076bc244-4bae-13b1-29c7-37a076bd77c0/test-file-7b2b66fc-85fb-d646-c912-6e504ed59a40?sv=Sanitized&se=2024-08-08T16%3A59%3A40Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-35d7edaf-b705-2cc4-a6c3-2e68fe066d40/test-file-a1ef83e6-9214-7b25-9bdf-e05cc4b3ba9e?sv=sanitized-value&se=2024-08-08T16%3A59%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70254EEE246\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:42 GMT",
        "x-ms-content-crc64": "ZI2O4gRlseA=",
        "x-ms-file-last-write-time": "2024-08-07T16:59:42.1737494Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-35d7edaf-b705-2cc4-a6c3-2e68fe066d40/test-file-a1ef83e6-9214-7b25-9bdf-e05cc4b3ba9e?sv=Sanitized&se=2024-08-08T16%3A59%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB70254C04B21\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB70254C04B21\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:41 GMT",
        "x-ms-blob-content-md5": "JbwDwyz9EVpffTJ3IGfHyw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:41.9473697Z"
      },
      "ResponseBody": "2+loUo38zU5q7f0fsgqTfbi1mOJ72xElQHApIzuugSRV9el5AWjMs1+xJNE42L38cEgqhcXP+wD[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-076bc244-4bae-13b1-29c7-37a076bd77c0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-35d7edaf-b705-2cc4-a6c3-2e68fe066d40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:41 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T09:59:40.9251483-07:00",
    "RandomSeed": "874404074",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
