{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3d2f556-8492-fbd3-79a4-e4c8f5aee200?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F3B40D06\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-920fcd98-7446-e12d-67e2-bc84e4712702?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F3BD5A75\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3d2f556-8492-fbd3-79a4-e4c8f5aee200/test-file-ebf62a7c-8f69-09f2-4ee8-d21f07ee99ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "38Dr/uJeqqLmS2F5+XOw2PvQm5hEb4o/97tIqf06/XDh6ylvcLWkLQbaJEQn4LLyUiNqpuqnoXA2rAYnFQClq03xlw1KQWhGLG6RakpFGBYJVlfZ0FeGOkq5OMOufRcFNXn2NkikqBC7JHp7FTYm8JTwHb+py9v2al3DkQikl65WizXRTuLNZK1GHavcCiUTk0cuvl9YXGmdAMvr4RcHF4zLJIkBVKKyIrkRYq0wGV83r/7BddlO/i/LNE4W4YOWPwYfEeacEj6lfJumR/q8bOZstDEZRqGzfSZZNSBTnEA2eyOmEQh5m52/G/k+qLc0D8doqi1RffhlbJO/QtwdUeBacMvXFVvd8hiUWSqodNVv[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3d2f556-8492-fbd3-79a4-e4c8f5aee200/test-file-ebf62a7c-8f69-09f2-4ee8-d21f07ee99ec?sv=Sanitized&se=2024-07-03T18%3A15%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OO7zXNnj0TdcY3RyGobSGg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F3C8D72A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:28.4126506Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-920fcd98-7446-e12d-67e2-bc84e4712702/test-file-057c9744-20a7-249b-2e9c-22d1a3df82c4?sv=Sanitized&se=2024-07-03T18%3A15%3A29Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-920fcd98-7446-e12d-67e2-bc84e4712702/test-file-057c9744-20a7-249b-2e9c-22d1a3df82c4?sv=Sanitized&se=2024-07-03T18%3A15%3A29Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:15:28.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F3E6E026\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:28.6094886Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:28.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:28.6094886Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-920fcd98-7446-e12d-67e2-bc84e4712702/test-file-057c9744-20a7-249b-2e9c-22d1a3df82c4?sv=Sanitized&se=2024-07-03T18%3A15%3A29Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c3d2f556-8492-fbd3-79a4-e4c8f5aee200/test-file-ebf62a7c-8f69-09f2-4ee8-d21f07ee99ec?sv=Sanitized&se=2024-07-03T18%3A15%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F3F2EC61\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-content-crc64": "3+WIIgIHw4E=",
        "x-ms-file-last-write-time": "2024-07-02T18:15:28.6094886Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3d2f556-8492-fbd3-79a4-e4c8f5aee200/test-file-ebf62a7c-8f69-09f2-4ee8-d21f07ee99ec?sv=Sanitized&se=2024-07-03T18%3A15%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC2F3C8D72A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F3C8D72A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-blob-content-md5": "OO7zXNnj0TdcY3RyGobSGg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:28.4126506Z"
      },
      "ResponseBody": "38Dr/uJeqqLmS2F5+XOw2PvQm5hEb4o/97tIqf06/XDh6ylvcLWkLQbaJEQn4LLyUiNqpuqnoXA[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-920fcd98-7446-e12d-67e2-bc84e4712702?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c3d2f556-8492-fbd3-79a4-e4c8f5aee200?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:15:29.1160334-07:00",
    "RandomSeed": "983289898",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
