{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2cb7d2d6-2a02-467d-91cc-dec341f552bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC141526A\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cd1505b-967a-09ea-fb25-99070ec3b0be?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC1545B24\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cd1505b-967a-09ea-fb25-99070ec3b0be/test-file-05eba707-7ab5-bc65-e578-357fdb46a0f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC166C7B4\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:43:27.1857076Z",
        "x-ms-file-creation-time": "2023-11-15T18:43:27.1857076Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:43:27.1857076Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cd1505b-967a-09ea-fb25-99070ec3b0be/test-file-05eba707-7ab5-bc65-e578-357fdb46a0f6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "/S01Mn4jlvwMT0pTHM\u002Brh6DkmE76D9OAyd76/tuaMaFdjDnckn\u002BzSUjrl3UTXCj16Xd4ESqOPu5ZtWmgKJchcR2o9ZCWz/QhME4FDndebG21BBVjIiB3z01KgtwVEiGxyiZXamaYXxqCVuDbiC92\u002B0j86yOCvU/8MSZDS0wYCx4tVERRBgEGHaX64MtAm0Yd1IaUGSf9LwzXWzk/VBTNakvCrjTrJfVG9c5\u002Bh92Du5XgJXfFhPH2LyU3eqrIx8iRLHaAfu0SMq\u002BRTSRYf6cvVJ\u002BjXy\u002BdCOZZy34Os6pKfi4G7VtnAj2ozfLINDfNnrB\u002BCCYLJGiY8ySPJ7NuA38ER8/2UZJLyFFi\u002B5E91dOviyzOkKuEPlnFbfk319qJOclzw\u002B1n10weMj/UqSjXWx5Q4JuGo[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2cb7d2d6-2a02-467d-91cc-dec341f552bd/test-file-96e7550d-c2e5-ca9f-f60a-8a4a55171156",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "qfpo68Qt1NsekBjjrYUkNcEHMNTK6WTlyLNXEICmduRO5i7hS0QgV/GtgTxU6EmZwgs2Y\u002B9GPb\u002BWgyIQ1sRbdxk0lcdXQup859niHGgnkeBqvU10bxP0B6huS8ghD4EtUQkiH1OBQn8huXwWYyFXbvFCphh25wcGQI0f6PciW9dXtMpfBHGN6HrNUraW3aSHF9zW32lot2oBHN/FYlmH/16kvq5W\u002BGqAtb2eqJVRb2LpmNEbS3tu7/1gXeiRx4YgRVJX8h71MB5yVSqryQ7Ur6x93MqIbLPiNs\u002Bx9pqC7u03fWJC\u002Bn1D82ezqfVRwyXui607FOu8mNmfdLxPRDm[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2cb7d2d6-2a02-467d-91cc-dec341f552bd/test-file-96e7550d-c2e5-ca9f-f60a-8a4a55171156?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A26Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4XqNKv8rdmIQuE6SpYkIqQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AC18D4151\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:43:27.4378577Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cd1505b-967a-09ea-fb25-99070ec3b0be/test-file-05eba707-7ab5-bc65-e578-357fdb46a0f6?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A26Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AC17AC1F1\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:43:27.3166321Z",
        "x-ms-file-creation-time": "2023-11-15T18:43:27.1857076Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:43:27.3166321Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cd1505b-967a-09ea-fb25-99070ec3b0be/test-file-05eba707-7ab5-bc65-e578-357fdb46a0f6?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A26Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AC17AC1F1\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:43:27.3166321Z",
        "x-ms-file-creation-time": "2023-11-15T18:43:27.1857076Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:43:27.3166321Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cd1505b-967a-09ea-fb25-99070ec3b0be?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2cb7d2d6-2a02-467d-91cc-dec341f552bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:43:26.8425628-08:00",
    "RandomSeed": "427994988",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
