{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a250b374-8a39-bad8-de72-5cdb22c9e687?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D8EDF5D20\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-33dbd4d5-d183-09bf-cab7-cda500865ff1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D8EF05736\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-33dbd4d5-d183-09bf-cab7-cda500865ff1/test-file-06b2a11c-85b0-82cb-2eb0-205b0d003028",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D8F00A7CE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:02:52.7463374Z",
        "x-ms-file-creation-time": "2024-06-07T01:02:52.7463374Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:02:52.7463374Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a250b374-8a39-bad8-de72-5cdb22c9e687/test-file-07049f6c-f050-43ae-c3c7-d800bf44f7b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8fVEwRUg2eGp6SqtOaiLKpNy4Lu2dt1xCVYg+FIOMMYkHeoLrKa9cPgc6W7t0SDZ0STRORIBXnsY07i+AOGPmrlkiRu+gH7ttXDDmo1vgzc1RiYtPPa0Ir9u89ju/nAWjE60iUgEGlGm5IOhPsPuqE+Aibm6Yl7Cr2ZcT4yl/7b/rA4+uvrvMCvVhlhyEuT7gEqIbXW2Wynv8tniqMvEAOTNoZG1r+5VkViN5dsFT52BYM5BHZFBSVDkT8ggDIhgEIV0pXBTRtFcM9wdKXVO6aI8YUf8g+NSi1hA0WAmNITPLdVVkaksLRr95eq1JB/blWUl5KtBY42iIRoXE3RwNv5XTfyg+Fj4DzMs/p35nWc4[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a250b374-8a39-bad8-de72-5cdb22c9e687/test-file-07049f6c-f050-43ae-c3c7-d800bf44f7b4?sv=Sanitized&se=2024-06-08T01%3A02%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zQQM9NC+/ZWJdINqbVK0bQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D8F0F0028\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:02:52.8403496Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-33dbd4d5-d183-09bf-cab7-cda500865ff1/test-file-06b2a11c-85b0-82cb-2eb0-205b0d003028?sv=Sanitized&se=2024-06-08T01%3A02%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-07T01:02:52.0000000Z",
        "x-ms-file-last-write-time": "2024-06-07T01:02:52.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D8F2AC18A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:02:53.0222474Z",
        "x-ms-file-creation-time": "2024-06-07T01:02:52.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:02:52.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-33dbd4d5-d183-09bf-cab7-cda500865ff1/test-file-06b2a11c-85b0-82cb-2eb0-205b0d003028?sv=Sanitized&se=2024-06-08T01%3A02%3A51Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-a250b374-8a39-bad8-de72-5cdb22c9e687/test-file-07049f6c-f050-43ae-c3c7-d800bf44f7b4?sv=Sanitized&se=2024-06-08T01%3A02%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D8F83FDA4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:53 GMT",
        "x-ms-content-crc64": "2NqCU4aaD8M=",
        "x-ms-file-last-write-time": "2024-06-07T01:02:52.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a250b374-8a39-bad8-de72-5cdb22c9e687/test-file-07049f6c-f050-43ae-c3c7-d800bf44f7b4?sv=Sanitized&se=2024-06-08T01%3A02%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868D8F0F0028\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D8F0F0028\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-blob-content-md5": "zQQM9NC+/ZWJdINqbVK0bQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:02:52.8403496Z"
      },
      "ResponseBody": "8fVEwRUg2eGp6SqtOaiLKpNy4Lu2dt1xCVYg+FIOMMYkHeoLrKa9cPgc6W7t0SDZ0STRORIBXns[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-33dbd4d5-d183-09bf-cab7-cda500865ff1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a250b374-8a39-bad8-de72-5cdb22c9e687?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:02:51.2641002-05:00",
    "RandomSeed": "1570670800",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
