{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fca594c0-461b-372b-b212-5055bef92e6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D0929A03D\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e07eec90-752d-d52e-a9c0-7a53d982a1d2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D093CF602\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e07eec90-752d-d52e-a9c0-7a53d982a1d2/test-file-44e82b41-53f3-4aa9-660a-51c4514ce8cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60D09504A1B\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:59:46.8277275Z",
        "x-ms-file-creation-time": "2023-11-15T18:59:46.8277275Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:59:46.8277275Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e07eec90-752d-d52e-a9c0-7a53d982a1d2/test-file-44e82b41-53f3-4aa9-660a-51c4514ce8cf?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "hd89OFdrRrpah/ALW\u002B7\u002BQBMMq874Q2QdjdtA5p7mGKs4KVPGoz/\u002B/xHFxbxiftI4FyGlMCFNlkJ6H6p8K18bdG9E0zGaOJzUDqu9M36nuw8ICM98QeeK65IRS4OUgtSxqVFNHaqgnd\u002BF0CJ1j2PE0mSbcyKQnjKHuuefiewYQIvXC4ktWp5kZ2rv93DFFVsuTXgf\u002BQ6yIQoexmLDARTybJCWnYTZlnjGNgy3oKfBwaWMcDt0\u002BUd8JOl/DpM7oWVW/YvgLnfXVbb/WcIC\u002BoFjXAS9N5DYfnNIGnmaWojli5WmYaMb4ZMttBuFdJ\u002BEeilnG7KOfWrUfX8YlxT\u002BPPouGs4sW5neSHtxj4J1UwnTxJ9PMj/VVg0r0eMjA0l\u002BL3cgV1rRWB6PidM3He3nXyl1RdN0r[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fca594c0-461b-372b-b212-5055bef92e6f/test-file-9246fec3-9362-5ba5-399a-79c1d23acb30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "OhgC4XcfkDEdO1TDWLYkB\u002BVnHb2975vQRw4K2Uz5LMmpTMj0IxxUcWuSygq3ac20YBR5dITl/0p9MplpFLblJA6LGgvtMOTJE6xRKiSRGN1BVnk4f7dFw0x9d/GC61y1rab7LE/BxjAvsGHXk9Qm6xm7J748rKVWRla/b7jzRidPnH1\u002BleyOf49JCM5WbTB3V4vXxsOdeAAApOX5AlZ3PGk5iPZXp1UtLacv86TWANkmRxgsHIBksSR9ffAGlH040sxlHOQ5IK82qZgbboVcKqQM07o\u002BSh/p1dbS2SlkJpkq9iDXceT07Sdo9nLnSEKeIVNM\u002BsHD\u002Boese0YNZka[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fca594c0-461b-372b-b212-5055bef92e6f/test-file-9246fec3-9362-5ba5-399a-79c1d23acb30?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KFHGhFanEEysAJHP7hNI2g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D097F8341\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:59:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:59:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:59:47.1372097Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e07eec90-752d-d52e-a9c0-7a53d982a1d2/test-file-44e82b41-53f3-4aa9-660a-51c4514ce8cf?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A46Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D0964B977\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:59:46.9616503Z",
        "x-ms-file-creation-time": "2023-11-15T18:59:46.8277275Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:59:46.9616503Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e07eec90-752d-d52e-a9c0-7a53d982a1d2/test-file-44e82b41-53f3-4aa9-660a-51c4514ce8cf?sv=2023-11-03\u0026se=2023-11-16T18%3A59%3A46Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60D0964B977\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:59:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:59:46.9616503Z",
        "x-ms-file-creation-time": "2023-11-15T18:59:46.8277275Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:59:46.9616503Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e07eec90-752d-d52e-a9c0-7a53d982a1d2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fca594c0-461b-372b-b212-5055bef92e6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:59:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:59:46.5402003-08:00",
    "RandomSeed": "750302561",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
