{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5a71cc1f-2d40-dd6c-bec5-db4a8f15e4c4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC456302B\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ef8eb36-2371-f196-9354-389a5a1aafd5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC4696334\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ef8eb36-2371-f196-9354-389a5a1aafd5/test-file-8ab6c9a6-033f-c5b8-94e8-9e2cb77862f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AC47B0D9B\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:43:32.3517339Z",
        "x-ms-file-creation-time": "2023-11-15T18:43:32.3517339Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:43:32.3517339Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ef8eb36-2371-f196-9354-389a5a1aafd5/test-file-8ab6c9a6-033f-c5b8-94e8-9e2cb77862f6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "dvh\u002Bby8V4WvYSNAVb4/1bnczmV4Vvd07Fqs8gjBl2SQLf/1YbJAY9zuJ5\u002B/8SngbiPC7j\u002B7DOrkaQliE2V87c26rCe\u002BSnQLnGqIijNXuP8wyIPk/qkk2R0VDPSo3lB3bTnSAUECIievt03VMoK7kLAOLUblm\u002B8kldcKqTl/Yr4aERj5gbe6MqpcOUtbU6qaXXxEnrEJkdVKrW9t93jqMFSPux1lvg74V/6chWKnyUIobEu9OsANEH9HrtRESDstdgjyy5iJNJ9xSEqyaQx2puAtQYstLPWQgqaeIhM2tAvDbxNZsQGpozusT\u002B55WqdyzQv0Gwqz/EkTXkjx6xKMOpQ\u002B8vn5HPHeh6JPgN0LFyQDL1ELQp0BD3LKSla0t7QlHBFaPmupdbAWFZNkYH9oBEck8r/BhPf7PeOLMtafJ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5a71cc1f-2d40-dd6c-bec5-db4a8f15e4c4/test-file-71a92e8c-2698-0fc5-34d1-a677922bb76e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "ado1ydF5\u002Bb4TpsV7IBoqS3CNDHCpgsm/DRZjH5xdqIn8OVwVAP2LN16WqXWaEeymWFxzRnx2CeYRdby7Fdkhtf48fua9FEpyAdURE9hUJfspvMc/6mIMhjB2BItB0CGEdfR2XZIF6UMSAUSmZPYNvVDAkVkS4cqcL/i2RxC\u002BMTG0jJ7k3cdpI9ODLekdZSE5aEY7gD7IcpMq2i2ZT6EzVM8T8tdYKeCIV22FjrThfsrWfN/Kg7Hy7BoKugKZz9QxUNkZCnNJ4T9lsijQQuPeSFxjwtLCadAeIAa9TW/e74iZUz7byHRWjZufZNCIIak2LHGlNQwCb\u002BcI\u002Bulsi5PPh8Og[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5a71cc1f-2d40-dd6c-bec5-db4a8f15e4c4/test-file-71a92e8c-2698-0fc5-34d1-a677922bb76e?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "M3mU7MvLdHlBbrj5b2VccA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AC4A753CC\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:43:32.6418892Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ef8eb36-2371-f196-9354-389a5a1aafd5/test-file-8ab6c9a6-033f-c5b8-94e8-9e2cb77862f6?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A32Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AC4952176\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:43:32.5226358Z",
        "x-ms-file-creation-time": "2023-11-15T18:43:32.3517339Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:43:32.5226358Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ef8eb36-2371-f196-9354-389a5a1aafd5/test-file-8ab6c9a6-033f-c5b8-94e8-9e2cb77862f6?sv=2023-11-03\u0026se=2023-11-16T18%3A43%3A32Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AC4952176\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:43:32.5226358Z",
        "x-ms-file-creation-time": "2023-11-15T18:43:32.3517339Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:43:32.5226358Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ef8eb36-2371-f196-9354-389a5a1aafd5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5a71cc1f-2d40-dd6c-bec5-db4a8f15e4c4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:43:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:43:32.0450198-08:00",
    "RandomSeed": "1100560332",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
