{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92ac45d5-e4f0-8341-0fb4-bb42b8cff0eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD195D28A77\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-01d8668e-b1ec-8192-4d18-774c1dcdb7e7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD195DBF480\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92ac45d5-e4f0-8341-0fb4-bb42b8cff0eb/test-file-90efc2c4-8029-938f-5ca7-8d606222d672",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "4T6k8UtEsXPiNGHHVHz7INvgCSleUKxBbR0ake/AN90EHZ1isODig5z5dizyo5ZytcgcVr7uJ5CRYoQtKR+DIv2EwjfemXD6/YWNZNmAT8mHqNsnpOAfFfUM0E1ctFp8dVQvbeBekxxXIlk4YMK2EBO6poFEXH0cZK1B0sgjnUgrEe6FUeHpKBS/z4KG5rQyVsA5oQ7YOBnXEgkzHMFTNIQQDU/UMb4x0X5shY36ln34DnsI6fs6UtnVrT/YtQtTa5r+dtllXiQBCNCPbLKL3HyLOw1FS0qI1bt2/oN+WBtyGRry/CCkkrBXBuErquYmSdHDTHr+DR9QdaAd7mChgq+0HVKYmd9c56hd7kRpXSvV[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92ac45d5-e4f0-8341-0fb4-bb42b8cff0eb/test-file-90efc2c4-8029-938f-5ca7-8d606222d672?sv=Sanitized&se=2024-07-03T20%3A00%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OiLEV6LzE0pEXDHICMKXog==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD195E6185C\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:13.3494876Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-01d8668e-b1ec-8192-4d18-774c1dcdb7e7/test-file-67ba810a-53e8-a798-1d67-fab353418276?sv=Sanitized&se=2024-07-03T20%3A00%3A14Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-01d8668e-b1ec-8192-4d18-774c1dcdb7e7/test-file-67ba810a-53e8-a798-1d67-fab353418276?sv=Sanitized&se=2024-07-03T20%3A00%3A14Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T20:00:13.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD196093D36\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T20:00:13.5798070Z",
        "x-ms-file-creation-time": "2024-07-02T20:00:13.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T20:00:13.5798070Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-01d8668e-b1ec-8192-4d18-774c1dcdb7e7/test-file-67ba810a-53e8-a798-1d67-fab353418276?sv=Sanitized&se=2024-07-03T20%3A00%3A14Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-92ac45d5-e4f0-8341-0fb4-bb42b8cff0eb/test-file-90efc2c4-8029-938f-5ca7-8d606222d672?sv=Sanitized&se=2024-07-03T20%3A00%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD19613EA08\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-content-crc64": "OHoQ1++DYDU=",
        "x-ms-file-last-write-time": "2024-07-02T20:00:13.5798070Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92ac45d5-e4f0-8341-0fb4-bb42b8cff0eb/test-file-90efc2c4-8029-938f-5ca7-8d606222d672?sv=Sanitized&se=2024-07-03T20%3A00%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AD195E6185C\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD195E6185C\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-blob-content-md5": "OiLEV6LzE0pEXDHICMKXog==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:13.3494876Z"
      },
      "ResponseBody": "4T6k8UtEsXPiNGHHVHz7INvgCSleUKxBbR0ake/AN90EHZ1isODig5z5dizyo5ZytcgcVr7uJ5C[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-01d8668e-b1ec-8192-4d18-774c1dcdb7e7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92ac45d5-e4f0-8341-0fb4-bb42b8cff0eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T13:00:14.6182162-07:00",
    "RandomSeed": "1378303952",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
