{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee7d1d4-881c-b086-78d7-f638c05b61e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F4E2415B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-71b7681f-e85f-d499-a212-7986d36843af?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F4EBC334\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee7d1d4-881c-b086-78d7-f638c05b61e7/test-file-e96d810f-38c8-fc96-0263-3574a39a0512",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "yuhi48DwGoHXlUNzFJLQ5u34Fymog9qQQVe9EjiCnw2ZaRdB28rsYwJjUMySVnipHPft4bGsEkYO0aFpMwhJVPY22qp7jgsjDLQnRTIN/uvfFPZAlb5b7FfQMwkogzD6GfzWXHvNLY3sydX9hcwTANO1iR4SCL442+1TqloC+oiDLCs2NqFwEuZoVMzoXWeKvDI2c/oR6BA+noGNeYMy6c5MeVih3coxRXc3qbTyT32Gye4oy4eOckQa+Jgg4phjNmr9nOMP6N5oBS2C2j5cS08DB7CUCh5HvgcThuUyEGLe03JK9LOZduAPv8ZZC5gFvqxIHdvnzyxLtt3c/GH5NvTLpAbMEVecaZDPhUpX7bNv[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee7d1d4-881c-b086-78d7-f638c05b61e7/test-file-e96d810f-38c8-fc96-0263-3574a39a0512?sv=Sanitized&se=2024-07-03T18%3A15%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eWQ5/kcCqhd1zNxFuGqVGw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F4F718EC\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:30.3935212Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-71b7681f-e85f-d499-a212-7986d36843af/test-file-3410fd63-3f6a-ff9f-e031-a57987f8d7dc?sv=Sanitized&se=2024-07-03T18%3A15%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-71b7681f-e85f-d499-a212-7986d36843af/test-file-3410fd63-3f6a-ff9f-e031-a57987f8d7dc?sv=Sanitized&se=2024-07-03T18%3A15%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:15:30.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F5159873\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:30.5933939Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:30.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:30.5933939Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-71b7681f-e85f-d499-a212-7986d36843af/test-file-3410fd63-3f6a-ff9f-e031-a57987f8d7dc?sv=Sanitized&se=2024-07-03T18%3A15%3A31Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7ee7d1d4-881c-b086-78d7-f638c05b61e7/test-file-e96d810f-38c8-fc96-0263-3574a39a0512?sv=Sanitized&se=2024-07-03T18%3A15%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F521F2CE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-content-crc64": "uhSzh4/SSPI=",
        "x-ms-file-last-write-time": "2024-07-02T18:15:30.5933939Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee7d1d4-881c-b086-78d7-f638c05b61e7/test-file-e96d810f-38c8-fc96-0263-3574a39a0512?sv=Sanitized&se=2024-07-03T18%3A15%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC2F4F718EC\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F4F718EC\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-blob-content-md5": "eWQ5/kcCqhd1zNxFuGqVGw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:30.3935212Z"
      },
      "ResponseBody": "yuhi48DwGoHXlUNzFJLQ5u34Fymog9qQQVe9EjiCnw2ZaRdB28rsYwJjUMySVnipHPft4bGsEkY[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-71b7681f-e85f-d499-a212-7986d36843af?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee7d1d4-881c-b086-78d7-f638c05b61e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:15:31.0975984-07:00",
    "RandomSeed": "825597783",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
