{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b79900e-75ac-6c8d-9628-84acf34dc31c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD194C52211\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7bf191ed-4b6a-f35f-f51c-2773a0ddc5f3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD194CE2E35\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7bf191ed-4b6a-f35f-f51c-2773a0ddc5f3/test-file-3bb85f65-7ed5-b7fb-f049-c36a70b12a16",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD194D7C627\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T20:00:11.5779111Z",
        "x-ms-file-creation-time": "2024-07-02T20:00:11.5779111Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T20:00:11.5779111Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b79900e-75ac-6c8d-9628-84acf34dc31c/test-file-258a823d-f51d-b614-1d5b-a05ef4711baf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "1u2QQ+XdiJOK2dNe/XO7pZRdzLel9FuukToh6Vlalvj0D64p6xb13qoXJIJrOtGWh1vL1vKfPuGR4bGrvJ45MEPaau3Ekrp9aO0Njc/ZQ1ZoimL9j8AGVNDNlwlkSiIL3fQ/kNDk0vShTW0EkrARuJ5bQjE7PKCD1BUc9/qwGR7LAbDbmbKFg7htW0JSAcIgu95rCAfw0KFTu7y6yNv58TNOOZAANh7r1b55zeBeMNJS/DscRREX2jEPh971y7vcdGoOBMgxH4S/fzNIdwLA9YrpZ8yf3awiN15f8a5A9goDnFl2TywKIdy2XMXdzmMuTpJTDGPvPZa97Mxq0S7WfokoRdqoSaVe3kbv6IDmRGj6[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b79900e-75ac-6c8d-9628-84acf34dc31c/test-file-258a823d-f51d-b614-1d5b-a05ef4711baf?sv=Sanitized&se=2024-07-03T20%3A00%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "z67z0XizBVpBtEFiaRrXlA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD194E1EDC4\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:11.6444612Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7bf191ed-4b6a-f35f-f51c-2773a0ddc5f3/test-file-3bb85f65-7ed5-b7fb-f049-c36a70b12a16?sv=Sanitized&se=2024-07-03T20%3A00%3A12Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T20:00:11.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD194F6BB6D\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T20:00:11.7807981Z",
        "x-ms-file-creation-time": "2024-07-02T20:00:11.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T20:00:11.7807981Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7bf191ed-4b6a-f35f-f51c-2773a0ddc5f3/test-file-3bb85f65-7ed5-b7fb-f049-c36a70b12a16?sv=Sanitized&se=2024-07-03T20%3A00%3A12Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-3b79900e-75ac-6c8d-9628-84acf34dc31c/test-file-258a823d-f51d-b614-1d5b-a05ef4711baf?sv=Sanitized&se=2024-07-03T20%3A00%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD19500CC2A\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-content-crc64": "ec7sdpLhqRo=",
        "x-ms-file-last-write-time": "2024-07-02T20:00:11.7807981Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b79900e-75ac-6c8d-9628-84acf34dc31c/test-file-258a823d-f51d-b614-1d5b-a05ef4711baf?sv=Sanitized&se=2024-07-03T20%3A00%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AD194E1EDC4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD194E1EDC4\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-blob-content-md5": "z67z0XizBVpBtEFiaRrXlA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:11.6444612Z"
      },
      "ResponseBody": "1u2QQ+XdiJOK2dNe/XO7pZRdzLel9FuukToh6Vlalvj0D64p6xb13qoXJIJrOtGWh1vL1vKfPuG[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7bf191ed-4b6a-f35f-f51c-2773a0ddc5f3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b79900e-75ac-6c8d-9628-84acf34dc31c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T13:00:12.8338328-07:00",
    "RandomSeed": "504988375",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
