{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8f18b812-ac20-b106-ac07-2f42802dd4cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD71079986\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9442507e-f99d-310e-0a5a-d6b0691ad70f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD710FE603\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8f18b812-ac20-b106-ac07-2f42802dd4cc/test-file-04211464-6ec1-6246-4774-bb18caaa7426",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "y0TPXoYB8JFKo4yLDVpjQSXfDRbOG0gIZrEI2eY0vISt73XXl9xQh607LufeGR2xXI06R1aTl7D7x/jU+RarFuYH3h7ljKlIj4Vpk+1hKU2TV31Z+XQuGljF29Dje46WkBgA1zv/y8/j8bjRKQPCmp2rQKKZURxx2cTFILHYZBT30wPVYVIRlIutdQe8XfBUAkEzODrs/D77jv53OaseCoyk2VYA7ThKmasW69wVtXvTcR1wpSzZCtbE2dJUmlvfj2t6GIOaVBQI6J6O1RBi5tmCo8iNrmRgys5/OxRm9v5QN1xwmp34ORwJZ72NSjXGYvP40feTUuEGGk20GhkAofGgPp608Uw8iWqrhEan0oCZudggbSQHvOR7aoBPRB4DCMbL7QyWEnGnvEeN6M2aX0jNGmBA3zTMmYK5OIf[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8f18b812-ac20-b106-ac07-2f42802dd4cc/test-file-04211464-6ec1-6246-4774-bb18caaa7426?sv=Sanitized&se=2025-01-31T01%3A28%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "flyTF1U6peCkLoP+/ybQ6w==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CD71192F2A\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:28:46.6427690Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9442507e-f99d-310e-0a5a-d6b0691ad70f/test-file-2b5052b7-9d99-8466-f24d-6a718927010e?sv=Sanitized&se=2025-01-31T01%3A28%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9442507e-f99d-310e-0a5a-d6b0691ad70f/test-file-2b5052b7-9d99-8466-f24d-6a718927010e?sv=Sanitized&se=2025-01-31T01%3A28%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "text/plain",
        "x-ms-file-creation-time": "2025-01-30T01:28:46.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD7130714E\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-30T01:28:46.7951950Z",
        "x-ms-file-creation-time": "2025-01-30T01:28:46.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:28:46.7951950Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9442507e-f99d-310e-0a5a-d6b0691ad70f/test-file-2b5052b7-9d99-8466-f24d-6a718927010e?sv=Sanitized&se=2025-01-31T01%3A28%3A46Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-8f18b812-ac20-b106-ac07-2f42802dd4cc/test-file-04211464-6ec1-6246-4774-bb18caaa7426?sv=sanitized-value&se=2025-01-31T01%3A28%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD713B452B\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-content-crc64": "yMfipQ808kg=",
        "x-ms-file-last-write-time": "2025-01-30T01:28:46.7951950Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9442507e-f99d-310e-0a5a-d6b0691ad70f/test-file-2b5052b7-9d99-8466-f24d-6a718927010e?sv=Sanitized&se=2025-01-31T01%3A28%3A46Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "text/plain",
        "x-ms-file-creation-time": "2025-01-30T01:28:46.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD714221FD\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-30T01:28:46.9111293Z",
        "x-ms-file-creation-time": "2025-01-30T01:28:46.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:28:46.7951950Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8f18b812-ac20-b106-ac07-2f42802dd4cc/test-file-04211464-6ec1-6246-4774-bb18caaa7426?sv=Sanitized&se=2025-01-31T01%3A28%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CD71192F2A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CD71192F2A\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-blob-content-md5": "flyTF1U6peCkLoP+/ybQ6w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:28:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9442507e-f99d-310e-0a5a-d6b0691ad70f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8f18b812-ac20-b106-ac07-2f42802dd4cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:28:46.6624144-08:00",
    "RandomSeed": "2041238703",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
