{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f53b789c-a26c-911c-e1eb-528d555fecf3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:04:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A223A5A2CAA\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0e982a3c-1f14-2a96-4ad9-69a35fc496b7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A223A68BC50\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f53b789c-a26c-911c-e1eb-528d555fecf3/test-file-d64ec82a-647e-54b4-4ba3-59defd883724",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 21:04:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "RUmpNqkuGLce+V/jui/6tvowvSPPbZuwR5Q21rjKGdTIw6yyLS215/s6smQPKcdFd8UocPz31tit+e4U+EH/VOCKG/aCR4nMe9Yolbo3oB3N8F/zoqjY0O3TBTQ+oO65Ol6DhQ7QwjA7W/Qlz0EedljQRwfiDLI3skoJrkJUjtvob1pbsxsP/C0ut0a0sgCrtY7bbVnm1i6sS9LDxxPu5swZPWDnw8I9wUrZtFVrgwBKXfmzeSCBAZgsrmhITDUZP9B6mnWfxPLMnqwPDSLYQcfSeWkaO22smDzIuhRa9HUUv3SF8emLqpkH59p0cvN2U22gdtLM/wRizQI41wndcqo3+k2uU1DeR87PElSTOCVI[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f53b789c-a26c-911c-e1eb-528d555fecf3/test-file-d64ec82a-647e-54b4-4ba3-59defd883724?sv=2024-08-04&se=2024-05-02T21%3A04%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WRkiYwKWbMnF6SYrzQz1pg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A223A781787\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:04:02.2148999Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0e982a3c-1f14-2a96-4ad9-69a35fc496b7/test-file-8124fd21-c6a9-9626-68d3-0b2a2ea32303?sv=2024-08-04&se=2024-05-02T21%3A04%3A02Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A223A9AB305\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:04:02.4417029Z",
        "x-ms-file-creation-time": "2024-05-01T21:04:02.4417029Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:04:02.4417029Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0e982a3c-1f14-2a96-4ad9-69a35fc496b7/test-file-8124fd21-c6a9-9626-68d3-0b2a2ea32303?sv=2024-08-04&se=2024-05-02T21%3A04%3A02Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-f53b789c-a26c-911c-e1eb-528d555fecf3/test-file-d64ec82a-647e-54b4-4ba3-59defd883724?sv=2024-08-04&se=2024-05-02T21%3A04%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A223AAB0425\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-content-crc64": "WXxKresrbJ0=",
        "x-ms-file-last-write-time": "2024-05-01T21:04:02.5486373Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f53b789c-a26c-911c-e1eb-528d555fecf3/test-file-d64ec82a-647e-54b4-4ba3-59defd883724?sv=2024-08-04&se=2024-05-02T21%3A04%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A223A781787\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A223A781787\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-blob-content-md5": "WRkiYwKWbMnF6SYrzQz1pg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:04:02.2148999Z"
      },
      "ResponseBody": "RUmpNqkuG[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0e982a3c-1f14-2a96-4ad9-69a35fc496b7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f53b789c-a26c-911c-e1eb-528d555fecf3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:04:02.0153797-07:00",
    "RandomSeed": "809526295",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
