{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f71543a2-6e32-cbcf-87c7-315122f5f304?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:25 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79254972202\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:27 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d91a3c46-1c1d-44d2-259c-abcdd4de8901?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:25 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79254B77485\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:27 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d91a3c46-1c1d-44d2-259c-abcdd4de8901/test-file-81874541-2567-2ae0-7337-c7a0c3cf2ed7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79254F188D3\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:26:27.9413971Z",
        "x-ms-file-creation-time": "2023-11-17T17:26:27.9413971Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:26:27.9413971Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d91a3c46-1c1d-44d2-259c-abcdd4de8901/test-file-81874541-2567-2ae0-7337-c7a0c3cf2ed7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "l1EmEzKaZBnuqlxu/FUXrOQpsWwK6HhrexbUXC49LQziQjBwV6J2jv3DUTzkDhLRoLUMMIo3N6/Zu5gbxgjrsXxQjLokp1RCsiNvR5c7h2wEArt4MP2CqgqBl5wJW8j015\u002B/k4JYrPhgyn1myPAYnTQrFsNNc4F/zuGvoxC4OFdbem/3fPPqq1XCGGV/G\u002BIaafpo3kQEp2QdP8SgqQnoqJImC02BICBAQGtti1ocALP/lDkWUFoSVtMK2TwvSgJM2W/TWA\u002BUmUjZJ53ZlhwJAT8QoBTP0Vc4FLV6dkfjEPZoILHqSaeka/vxPSi8OMC2ANj9HqntfQgYmkRZGSIB9RemcHVrH7iYbDUZ3pQve9v1xHVu5vJMe6Oo0q5jSlHY70cRFchKSuEfZbJz1J9z6B9oZFWtkg8lWvXSwkwJNCHkQO5NHWUTqnmUT4E/[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f71543a2-6e32-cbcf-87c7-315122f5f304/test-file-550bf055-eb6c-c1a4-4d5a-b10f646c9a2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:26 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "1j6PbSCQ5KU1pq1UpyjKZ2lzhYXDxZxEEiFX25\u002BlvOVh/hIA4dXCkcHPiuWQVuMg5OBcOFbykhChS1v/OAkFj\u002BnI86gVyYaUsPTD9Dq3s7s9Nva/SYSObmwCX5Z6w1i4yfv7yGM6Cxpax4dhLp7V6ZefwQESRkZlOYQ8EmrwGuycCyo/vOpXAyvcZYH8LEDNLHX\u002B2gJWpoO1lo7e/fiwaa2bxSN0li2tR73WNuHEaA1Ebub08UDqRWSniiZbeQUzK/vUYWYdWZZIUJJEgHCi8C2BmY4RvHhssIC\u002BzAwHUc64ogrm8AemJxVQrKGtpcT0BZn42t92IW6DZ7DmXoyKQf/E[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f71543a2-6e32-cbcf-87c7-315122f5f304/test-file-550bf055-eb6c-c1a4-4d5a-b10f646c9a2e?sv=2024-02-04\u0026se=2023-11-18T17%3A26%3A26Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IM3mrb5Z2BoAz/gROLbymw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7925539D658\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:26:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:26:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:26:28.4152408Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d91a3c46-1c1d-44d2-259c-abcdd4de8901/test-file-81874541-2567-2ae0-7337-c7a0c3cf2ed7?sv=2024-02-04\u0026se=2023-11-18T17%3A26%3A26Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792551F9711\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:26:28.2432273Z",
        "x-ms-file-creation-time": "2023-11-17T17:26:27.9413971Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:26:28.2432273Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d91a3c46-1c1d-44d2-259c-abcdd4de8901/test-file-81874541-2567-2ae0-7337-c7a0c3cf2ed7?sv=2024-02-04\u0026se=2023-11-18T17%3A26%3A26Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792551F9711\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:26:28.2432273Z",
        "x-ms-file-creation-time": "2023-11-17T17:26:27.9413971Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:26:28.2432273Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d91a3c46-1c1d-44d2-259c-abcdd4de8901?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f71543a2-6e32-cbcf-87c7-315122f5f304?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:28 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:26:26.7159164-08:00",
    "RandomSeed": "807059862",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
