{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c24d6730-55c4-0a83-fa4e-c7de015d3a92?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:04:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2243EE549C\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b2fdecad-5d9e-08e0-e216-025ca14c4f41?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2243FCC96A\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c24d6730-55c4-0a83-fa4e-c7de015d3a92/test-file-c9a86697-8f42-9ad6-d703-be31894488a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 21:04:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "t0O93Y14tWMHUzP7TL1hyIwDDMrbl5bP1HWxnm37nI8lmCSVe4c3uR9tvuQVBarlLqalfBdKmCCt7gkXxxf1C7ak1bSZzEwEy1Kqbtixuc7Ky3DHVR932/8E6I1+H/IHd7IucTD2TGFaoLDFnypH+zQ6TPynLraXLPm0leO+hqtgo/Ylg0ie1H8ObLRvsjzVvO1YRNL2YEn8lkQ2QbZ+mxoEZfw0IXjsm3h9mcECKHq939j2ZUHZakKsKewDaJLIj9GZak1AoZt1bKlaeMeI+W7KeGLeiDXYK/u5h/eL6DLltAnwaL0sfD09gfmYfvF7JDB9Oe8w6gebwD5Shhmj6YN2dcS9mJGxnfwkoAY8QK0J[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c24d6730-55c4-0a83-fa4e-c7de015d3a92/test-file-c9a86697-8f42-9ad6-d703-be31894488a2?sv=2024-08-04&se=2024-05-02T21%3A04%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "0L8gw0EVa8vDhflJD/Zwtw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22440BFEFB\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:04:18.2836987Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b2fdecad-5d9e-08e0-e216-025ca14c4f41/test-file-a0944c05-81c4-9a86-8f0c-ff65cfaf1429?sv=2024-08-04&se=2024-05-02T21%3A04%3A18Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b2fdecad-5d9e-08e0-e216-025ca14c4f41/test-file-a0944c05-81c4-9a86-8f0c-ff65cfaf1429?sv=2024-08-04&se=2024-05-02T21%3A04%3A18Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22443C143F\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:04:18.5988159Z",
        "x-ms-file-creation-time": "2024-05-01T21:04:18.5988159Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:04:18.5988159Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b2fdecad-5d9e-08e0-e216-025ca14c4f41/test-file-a0944c05-81c4-9a86-8f0c-ff65cfaf1429?sv=2024-08-04&se=2024-05-02T21%3A04%3A18Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-c24d6730-55c4-0a83-fa4e-c7de015d3a92/test-file-c9a86697-8f42-9ad6-d703-be31894488a2?sv=2024-08-04&se=2024-05-02T21%3A04%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A22444CDA80\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-content-crc64": "J8qa+L8WNIw=",
        "x-ms-file-last-write-time": "2024-05-01T21:04:18.7087488Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c24d6730-55c4-0a83-fa4e-c7de015d3a92/test-file-c9a86697-8f42-9ad6-d703-be31894488a2?sv=2024-08-04&se=2024-05-02T21%3A04%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A22440BFEFB\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A22440BFEFB\"",
        "Last-Modified": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-blob-content-md5": "0L8gw0EVa8vDhflJD/Zwtw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 21:04:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:04:18.2836987Z"
      },
      "ResponseBody": "t0O93Y14t[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b2fdecad-5d9e-08e0-e216-025ca14c4f41?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c24d6730-55c4-0a83-fa4e-c7de015d3a92?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:04:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:04:18.0849692-07:00",
    "RandomSeed": "1600908031",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
