{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bb8e9f3-601e-59fc-b5e5-f8f34dafcb9d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86577231C\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f20eb9f8-7b58-94b6-f7c6-eff9b454e9e3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC865803426\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bb8e9f3-601e-59fc-b5e5-f8f34dafcb9d/test-file-bcf3aebe-92f2-bc12-69eb-89646263c6e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "88TMZpWTQuuBPk41leNyyZcleqtCqG5as3BCToX8zcpwvVm18YXde7u5m27okxY5EkXQoX2caUtVcrIkUPNlhHCExdiJvdgSR//wiQwAciBaCTw/LCxM1FMOX3/SuSrHUxb9ZM0+r1RtvVl+q98+Vf+Ryke3JVhEOPGEe15YQI7UKTb1Aw1TG1no0m7SzShz0Ap/QO7jEC2+uSzcujT2FHzLqYKpSFLyPq7tzlPpcWrIEKtT2f+f8RkIN0nhd2El8b3yByOmyoi4jQE/9UHa1UfCE6mIojt8K7hpoRAIEMdNyN2V92lGIkYjm0v+X/zXLWIBH2S4nE6CddtrPSl3r3w68ixjRd3efPBjZQfvfsy7kXOuBvFjlSuOEoKO2uUdrOvPw23Pc+eEI6NzVTZGkvYPr6u1yKmK1l0B1TNbT6EKRbkcILte7B2MKuNO70D0R3+Lfio5Z+NCROwQzp60KNMBaA99KnI7sMONKJ3FPOccDI2z0NF30N3W2tvOTh5/2AIPTYYxdx0MUM5nrD5FfAgF88ERAFgCipgxp0+XbGGkDlCbtu5g65Vvpn8DDySfkF7TyFtdbteqDMPu/8/NdeNswp3tqsYZpQcroVrY/3pzkhbxw6QGR6B58akrcevFojCblk2HseWXuSNUMcx90Q1Ie22527I/Znr8dLgd7TQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "68+BV2VkOnEFCw425/V7ug==",
        "ETag": "\"0x8DC9AC8658BFF64\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:26 GMT",
        "x-ms-content-crc64": "H4+nZ9X85NM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:26.7578212Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bb8e9f3-601e-59fc-b5e5-f8f34dafcb9d/test-file-bcf3aebe-92f2-bc12-69eb-89646263c6e0?sv=Sanitized&se=2024-07-03T18%3A54%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "68+BV2VkOnEFCw425/V7ug==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC8658BFF64\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:26.7578212Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f20eb9f8-7b58-94b6-f7c6-eff9b454e9e3/test-file-1fc27b53-33a5-da1f-e4d3-1eeca4c9b7f9?sv=Sanitized&se=2024-07-03T18%3A54%3A27Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f20eb9f8-7b58-94b6-f7c6-eff9b454e9e3/test-file-1fc27b53-33a5-da1f-e4d3-1eeca4c9b7f9?sv=Sanitized&se=2024-07-03T18%3A54%3A27Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:54:26.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:54:26.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC865AEB78D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:54:26.9853581Z",
        "x-ms-file-creation-time": "2024-07-02T18:54:26.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:54:26.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f20eb9f8-7b58-94b6-f7c6-eff9b454e9e3/test-file-1fc27b53-33a5-da1f-e4d3-1eeca4c9b7f9?sv=Sanitized&se=2024-07-03T18%3A54%3A27Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7bb8e9f3-601e-59fc-b5e5-f8f34dafcb9d/test-file-bcf3aebe-92f2-bc12-69eb-89646263c6e0?sv=Sanitized&se=2024-07-03T18%3A54%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC865C1A09E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:27 GMT",
        "x-ms-content-crc64": "H4+nZ9X85NM=",
        "x-ms-file-last-write-time": "2024-07-02T18:54:26.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bb8e9f3-601e-59fc-b5e5-f8f34dafcb9d/test-file-bcf3aebe-92f2-bc12-69eb-89646263c6e0?sv=Sanitized&se=2024-07-03T18%3A54%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC8658BFF64\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC8658BFF64\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:26 GMT",
        "x-ms-blob-content-md5": "68+BV2VkOnEFCw425/V7ug==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:26.7578212Z"
      },
      "ResponseBody": "88TMZpWTQuuBPk41leNyyZcleqtCqG5as3BCToX8zcpwvVm18YXde7u5m27okxY5EkXQoX2caUtVcrIkUPNlhHCExdiJvdgSR//wiQwAciBaCTw/LCxM1FMOX3/SuSrHUxb9ZM0+r1RtvVl+q98+Vf+Ryke3JVhEOPGEe15YQI7UKTb1Aw1TG1no0m7SzShz0Ap/QO7jEC2+uSzcujT2FHzLqYKpSFLyPq7tzlPpcWrIEKtT2f+f8RkIN0nhd2El8b3yByOmyoi4jQE/9UHa1UfCE6mIojt8K7hpoRAIEMdNyN2V92lGIkYjm0v+X/zXLWIBH2S4nE6CddtrPSl3r3w68ixjRd3efPBjZQfvfsy7kXOuBvFjlSuOEoKO2uUdrOvPw23Pc+eEI6NzVTZGkvYPr6u1yKmK1l0B1TNbT6EKRbkcILte7B2MKuNO70D0R3+Lfio5Z+NCROwQzp60KNMBaA99KnI7sMONKJ3FPOccDI2z0NF30N3W2tvOTh5/2AIPTYYxdx0MUM5nrD5FfAgF88ERAFgCipgxp0+XbGGkDlCbtu5g65Vvpn8DDySfkF7TyFtdbteqDMPu/8/NdeNswp3tqsYZpQcroVrY/3pzkhbxw6QGR6B58akrcevFojCblk2HseWXuSNUMcx90Q1Ie22527I/Znr8dLgd7TQ="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f20eb9f8-7b58-94b6-f7c6-eff9b454e9e3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bb8e9f3-601e-59fc-b5e5-f8f34dafcb9d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:54:27.6844373-07:00",
    "RandomSeed": "1374251255",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
