{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee95202c-667c-2771-a999-7880bd06fc5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:07 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7293AA43E9C\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3efb2d8f-d1f0-60b4-eab3-536117df07d3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:07 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7293AAE682F\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee95202c-667c-2771-a999-7880bd06fc5c/test-file-9efb7b8f-d3b0-1354-45d9-bee1a97ae4a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "IYIdb8mH5Yh7VQGZTWEbIauvncMMVWMRsBSamRqltQl2RJQ5ZBKH+K2sB6hv1Hkd+o3i+kiO78wfC7607Utu1aD4IgjM4byYKKUWX066otubfJ+Mw7vA6FTIGllU0wthPjEIdrFwURjQSdKid499ZWjiGHCs4RLlNzqzBMZjRFSatCEdsSsqKiuGu3noHXDFSrXwcbqatFweIz93vExRbQV9CMNuYLM9uO5EJiWZ/BnJ7rkRctOa///F/o7ssm7fNE5zaxWtV+oCs7jMVo02hSYlrs6TQPsx4gjDqWEkUAV/ZfLXJZADG5bOD74azqlyjnlnxgSfS/RTQYkN6q6I3WOyTPGbXl+WIZI3xDA8FxReURrovIkB3xn9hOMH9jHoRjJbZ4K31i8Z0aVxaIbDFyp1rpmTnyDZsWzXndp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee95202c-667c-2771-a999-7880bd06fc5c/test-file-9efb7b8f-d3b0-1354-45d9-bee1a97ae4a9?sv=Sanitized&se=2024-08-08T21%3A38%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "6nW0z5RpKWHkiaNtKtk02g==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB7293ABAA682\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:38:08.6620802Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3efb2d8f-d1f0-60b4-eab3-536117df07d3/test-file-2777b0fb-15db-97f8-8edc-b171e6267d3e?sv=Sanitized&se=2024-08-08T21%3A38%3A07Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "text/plain",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T21:38:08.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7293AD85856\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:38:08.8566870Z",
        "x-ms-file-creation-time": "2024-08-07T21:38:08.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:38:08.8566870Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3efb2d8f-d1f0-60b4-eab3-536117df07d3/test-file-2777b0fb-15db-97f8-8edc-b171e6267d3e?sv=Sanitized&se=2024-08-08T21%3A38%3A07Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ee95202c-667c-2771-a999-7880bd06fc5c/test-file-9efb7b8f-d3b0-1354-45d9-bee1a97ae4a9?sv=sanitized-value&se=2024-08-08T21%3A38%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7293AE4648D\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-content-crc64": "7O/RaFnhFL0=",
        "x-ms-file-last-write-time": "2024-08-07T21:38:08.8566870Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee95202c-667c-2771-a999-7880bd06fc5c/test-file-9efb7b8f-d3b0-1354-45d9-bee1a97ae4a9?sv=Sanitized&se=2024-08-08T21%3A38%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7293ABAA682\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB7293ABAA682\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-blob-content-md5": "6nW0z5RpKWHkiaNtKtk02g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-3efb2d8f-d1f0-60b4-eab3-536117df07d3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee95202c-667c-2771-a999-7880bd06fc5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:38:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T14:38:07.8851438-07:00",
    "RandomSeed": "71344348",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
