{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9d9c2f23-75c9-b8a4-65f3-35d42d7da12d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:55 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79266424D42\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:56 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c58b513c-9037-2fce-b1f7-e8bb02c6b94d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:55 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792666AF896\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:57 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9d9c2f23-75c9-b8a4-65f3-35d42d7da12d/test-file-3cdd1988-8ee3-986a-7aae-da6316c0a034",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:55 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "cvl8BED5da6RcFfhkkHUtn5GsjYuY1YPCZvNXM6ywMD1VDscmvIMaSLcTq2b3S7vX02\u002BVIKTbQ6ibfqlLBjg3rCW6z0GuByMOkkUURSpcyxs3fyA82s9Yucsei33Zj0J/HD9BPHw6acxMho5fhz6\u002BPnNOE4bX\u002BpEWYlW2T7vlNMLClSjrG47fPRVT8FRBOPLMoEzKS3v7ZyFuKtnmg9oQZ5GLXTHVkyKkrxZxRAp81Smi6e9vGqmHB24HfPD0\u002BLk7Q0jCtZvBNs1qZZwlSeMXMVWwQ5oq4UzoBFWDzhYxr/addgCBuh\u002BNofMiBLUNYb1K8EubBHTfEGI8GrFGPW[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9d9c2f23-75c9-b8a4-65f3-35d42d7da12d/test-file-3cdd1988-8ee3-986a-7aae-da6316c0a034?sv=2024-08-04\u0026se=2023-11-18T17%3A26%3A55Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "C0dGcM19/SLifdoTCy10gQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7926691721A\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:26:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:26:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:26:57.5106586Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c58b513c-9037-2fce-b1f7-e8bb02c6b94d/test-file-f035827c-0c23-16c1-de90-959b5678deba?sv=2024-08-04\u0026se=2023-11-18T17%3A26%3A55Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c58b513c-9037-2fce-b1f7-e8bb02c6b94d/test-file-f035827c-0c23-16c1-de90-959b5678deba?sv=2024-08-04\u0026se=2023-11-18T17%3A26%3A55Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792670C85DF\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:26:58.3172575Z",
        "x-ms-file-creation-time": "2023-11-17T17:26:58.3172575Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:26:58.3172575Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c58b513c-9037-2fce-b1f7-e8bb02c6b94d/test-file-f035827c-0c23-16c1-de90-959b5678deba?sv=2024-08-04\u0026se=2023-11-18T17%3A26%3A55Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-9d9c2f23-75c9-b8a4-65f3-35d42d7da12d/test-file-3cdd1988-8ee3-986a-7aae-da6316c0a034?sv=2024-08-04\u0026se=2023-11-18T17%3A26%3A55Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7926738236A\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:58 GMT",
        "x-ms-content-crc64": "sawR4wDcWrw=",
        "x-ms-file-last-write-time": "2023-11-17T17:26:58.6030954Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9d9c2f23-75c9-b8a4-65f3-35d42d7da12d/test-file-3cdd1988-8ee3-986a-7aae-da6316c0a034?sv=2024-08-04\u0026se=2023-11-18T17%3A26%3A55Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE7926691721A\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7926691721A\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:26:57 GMT",
        "x-ms-blob-content-md5": "C0dGcM19/SLifdoTCy10gQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:26:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:26:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:26:57.5106586Z"
      },
      "ResponseBody": "cvl8BED5d[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c58b513c-9037-2fce-b1f7-e8bb02c6b94d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9d9c2f23-75c9-b8a4-65f3-35d42d7da12d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:26:58 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:26:55.9549113-08:00",
    "RandomSeed": "1573547479",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
