{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-244ff3a9-5dc2-8ea1-2fd4-84ff7af4736e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86893CCC8\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-11ea9a7f-5ea2-a3ce-2aea-6bb832da0fb0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC8689C1CDE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-244ff3a9-5dc2-8ea1-2fd4-84ff7af4736e/test-file-9465d46d-8897-86e8-7926-d7cf1f9d2258",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "c37AzY8iaGoeeYjHhbwQmGZ2CEwKXRp7oCnImUDWBV46MFX4MhIzOre/kjy6IZ1rRwpTYlwq1BZjRSxlWc4pSHQqjVVmF2VUQ82US8rewH+MXVI2gqIBD1w/le3lzeHolUrHj5NIBC+l/x+PlolMhISt2ft888XSKX74J4J4bnXrq7WAFjDrRFgikYOCcnjT8hBoN/TlbKKE9WYUT92tLJCqo+vTy25TwpWiWWFCT7cGJTRyDzaBBj4T+yDK1vR7dWTy2M6N/yaiFHVfQhNAQaauDiqoOx1aKJ2swNBNiOugJ+P9UHfoeCUNz/rAIsMr0rp6HMjK0jpHl68x4T9WVYyKvhsvQ/EuxZYEm2simQba[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-244ff3a9-5dc2-8ea1-2fd4-84ff7af4736e/test-file-9465d46d-8897-86e8-7926-d7cf1f9d2258?sv=Sanitized&se=2024-07-03T18%3A54%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9yFk6gs0ovjQePbvcB8I7w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC868AA7E06\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:31.9908358Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-11ea9a7f-5ea2-a3ce-2aea-6bb832da0fb0/test-file-0648f222-2b91-601b-30ae-77dba9bcefc5?sv=Sanitized&se=2024-07-03T18%3A54%3A32Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:54:31.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:54:31.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC868BFA741\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:54:32.1295169Z",
        "x-ms-file-creation-time": "2024-07-02T18:54:31.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:54:31.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-11ea9a7f-5ea2-a3ce-2aea-6bb832da0fb0/test-file-0648f222-2b91-601b-30ae-77dba9bcefc5?sv=Sanitized&se=2024-07-03T18%3A54%3A32Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-244ff3a9-5dc2-8ea1-2fd4-84ff7af4736e/test-file-9465d46d-8897-86e8-7926-d7cf1f9d2258?sv=Sanitized&se=2024-07-03T18%3A54%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC868CD8805\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:32 GMT",
        "x-ms-content-crc64": "dcwsdFkMZOk=",
        "x-ms-file-last-write-time": "2024-07-02T18:54:31.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-244ff3a9-5dc2-8ea1-2fd4-84ff7af4736e/test-file-9465d46d-8897-86e8-7926-d7cf1f9d2258?sv=Sanitized&se=2024-07-03T18%3A54%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC868AA7E06\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC868AA7E06\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:31 GMT",
        "x-ms-blob-content-md5": "9yFk6gs0ovjQePbvcB8I7w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:31.9908358Z"
      },
      "ResponseBody": "c37AzY8iaGoeeYjHhbwQmGZ2CEwKXRp7oCnImUDWBV46MFX4MhIzOre/kjy6IZ1rRwpTYlwq1BZ[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-11ea9a7f-5ea2-a3ce-2aea-6bb832da0fb0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-244ff3a9-5dc2-8ea1-2fd4-84ff7af4736e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:54:32.8946097-07:00",
    "RandomSeed": "216823320",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
