{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-01831d21-418f-3383-e8fe-b5b5dd243913?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51547CAC47DA\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a34087ac-f015-5b95-c5c2-5cc17aa9e09c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51547CB7FE1C\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-01831d21-418f-3383-e8fe-b5b5dd243913/test-file-ba93dbd4-e29f-51ff-10f9-a7a426b60ec4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "sokgVclmuR8fegn0WZaUX9tBB/6Djpaw4OAyUc8F2w2pr+rt5bPVmtqEsDZHCVfkSKzX9kB6AiPyb3ToNGhQGp/7S6mrpnkobG0k/t5gaNaITQkiLeXNLq3H+3U+7GVxM5WXTL2tOaEzr4nTVgNFkgedYOdeLuy6LR385KsD6YAHsstIyBsY2hNn7n5b+tipgWhuoIt+EwWp3R6gsVX2MMUIy6Q4/cnrhIXT9z9tXjNFU2JClUn0iZ/Fn+v8eCm+cb65Ui4zcYSeghsGqhzFO37rW17ys5p7FEIFcl3e7wxbFIWBtAwFEeLepBIt7t6C/2RtERzLzL0jPT7rLv4mwJMPq5WWRIZy5kp7Ew+ITiZkgnP5cN3vkEjIXXbNGeLjuON/HUJI7Lrd+yrST7mum+8Yh6yLLE+1HxtNzecQpMxomForCDDjG5W4HHWyHUCOGsGGtZE2WIuTyf4n+x7TzFZeabdegpK/NGwW0hDaAgHav7Mlie47Mj/Plz4xuyB25E8eVLOIMJcux4ElH4Z7ucb8TTtrrUJoIjd4j+pUjXlMoO7Au61OUY4b9sJtFRO5U913NW7kCzYNtTF7EKGt2jkH2X6Xu/4ZrvutT7d/+w0kvjsM3FcLZ5S3swV80kDtbhyIZTyUIZjfXodyN7t/jbokVlFloP7h/HHp4Af4nNs=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "95Wyw2wjbwV84YCODXY1Kg==",
        "ETag": "\"0x8DD51547CBF3AF2\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-content-crc64": "KbeHMQGHUGg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:46.8488434Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-01831d21-418f-3383-e8fe-b5b5dd243913/test-file-ba93dbd4-e29f-51ff-10f9-a7a426b60ec4?sv=Sanitized&se=2025-02-21T02%3A15%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "95Wyw2wjbwV84YCODXY1Kg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51547CBF3AF2\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:46.8488434Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a34087ac-f015-5b95-c5c2-5cc17aa9e09c/test-file-90925dbf-147c-2991-6547-2fef439d18d5?sv=Sanitized&se=2025-02-21T02%3A15%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a34087ac-f015-5b95-c5c2-5cc17aa9e09c/test-file-90925dbf-147c-2991-6547-2fef439d18d5?sv=Sanitized&se=2025-02-21T02%3A15%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:15:46.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51547CD83363\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:47.0124899Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:46.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:47.0124899Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a34087ac-f015-5b95-c5c2-5cc17aa9e09c/test-file-90925dbf-147c-2991-6547-2fef439d18d5?sv=Sanitized&se=2025-02-21T02%3A15%3A46Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-01831d21-418f-3383-e8fe-b5b5dd243913/test-file-ba93dbd4-e29f-51ff-10f9-a7a426b60ec4?sv=sanitized-value&se=2025-02-21T02%3A15%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51547CEEC556\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:47 GMT",
        "x-ms-content-crc64": "KbeHMQGHUGg=",
        "x-ms-file-last-write-time": "2025-02-20T02:15:47.0124899Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a34087ac-f015-5b95-c5c2-5cc17aa9e09c/test-file-90925dbf-147c-2991-6547-2fef439d18d5?sv=Sanitized&se=2025-02-21T02%3A15%3A46Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:15:46.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51547CF74F93\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:47.2163731Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:46.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:47.0124899Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-01831d21-418f-3383-e8fe-b5b5dd243913/test-file-ba93dbd4-e29f-51ff-10f9-a7a426b60ec4?sv=Sanitized&se=2025-02-21T02%3A15%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD51547CBF3AF2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51547CBF3AF2\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-blob-content-md5": "95Wyw2wjbwV84YCODXY1Kg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:15:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 20 Feb 2025 02:15:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:46.8488434Z"
      },
      "ResponseBody": "sokgVclmuR8fegn0WZaUX9tBB/6Djpaw4OAyUc8F2w2pr+rt5bPVmtqEsDZHCVfkSKzX9kB6AiPyb3ToNGhQGp/7S6mrpnkobG0k/t5gaNaITQkiLeXNLq3H+3U+7GVxM5WXTL2tOaEzr4nTVgNFkgedYOdeLuy6LR385KsD6YAHsstIyBsY2hNn7n5b+tipgWhuoIt+EwWp3R6gsVX2MMUIy6Q4/cnrhIXT9z9tXjNFU2JClUn0iZ/Fn+v8eCm+cb65Ui4zcYSeghsGqhzFO37rW17ys5p7FEIFcl3e7wxbFIWBtAwFEeLepBIt7t6C/2RtERzLzL0jPT7rLv4mwJMPq5WWRIZy5kp7Ew+ITiZkgnP5cN3vkEjIXXbNGeLjuON/HUJI7Lrd+yrST7mum+8Yh6yLLE+1HxtNzecQpMxomForCDDjG5W4HHWyHUCOGsGGtZE2WIuTyf4n+x7TzFZeabdegpK/NGwW0hDaAgHav7Mlie47Mj/Plz4xuyB25E8eVLOIMJcux4ElH4Z7ucb8TTtrrUJoIjd4j+pUjXlMoO7Au61OUY4b9sJtFRO5U913NW7kCzYNtTF7EKGt2jkH2X6Xu/4ZrvutT7d/+w0kvjsM3FcLZ5S3swV80kDtbhyIZTyUIZjfXodyN7t/jbokVlFloP7h/HHp4Af4nNs="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a34087ac-f015-5b95-c5c2-5cc17aa9e09c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-01831d21-418f-3383-e8fe-b5b5dd243913?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T18:15:46.8845823-08:00",
    "RandomSeed": "1229473242",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
