{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5b5b7514-ffc1-f1c7-dadf-832e33864f53?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB72929CB9898\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f0d6d15c-c1c6-29f9-8d02-9488ab4bc8f0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB72929D68EEC\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5b5b7514-ffc1-f1c7-dadf-832e33864f53/test-file-8869841c-45ca-3b53-a4a7-abc5e1f0b40b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "FhO725Ey7HlXjOVU6JzOguUfE0qdKTVcA+OHQG/0A3quDM/kNEKClTrHgtvRbvbktPP+uem42ezeX9itqqwJYohqptzN6k2jnH4P1qdaipTtoox89kqQ9jLiBtVq1eqOvR9TZsgaF8mlWxxrqQNFg9RDvwgfjWw92bCp6+N4OcaTgBiHByPL04vC1psuJUwvnIIAJhbhbjCzFYwYcSvmLCFV1yjqvnyxeOx9XbfRD7RjeU5geBOwshLo0/GWs2Jf3Kl52E0kRN4GTq4qZBF54gbYtPfdhbQOpSUWAuqKGsSJHYEOVzdnPzVvWSlkhk0AbvHqvv5rglb1azIoDUL0ezTpoEaQa4rPcXXCbSuKqR7XFZP4oFvGHpsrGewEPjHze971e+UHcANmG02IqBQqasETUPeu/NvYIoKqZVK[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5b5b7514-ffc1-f1c7-dadf-832e33864f53/test-file-8869841c-45ca-3b53-a4a7-abc5e1f0b40b?sv=Sanitized&se=2024-08-08T21%3A37%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "5RkTy2tr6w+w6N6NKJT0CQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB72929E218E0\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:37:40.4003314Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f0d6d15c-c1c6-29f9-8d02-9488ab4bc8f0/test-file-d1f98e05-722c-0cdd-ec7f-8ded7f08e223?sv=Sanitized&se=2024-08-08T21%3A37%3A39Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f0d6d15c-c1c6-29f9-8d02-9488ab4bc8f0/test-file-d1f98e05-722c-0cdd-ec7f-8ded7f08e223?sv=Sanitized&se=2024-08-08T21%3A37%3A39Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "2048",
        "x-ms-content-type": "text/plain",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T21:37:40.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7292A086D2B\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:37:40.6505259Z",
        "x-ms-file-creation-time": "2024-08-07T21:37:40.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:37:40.6505259Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f0d6d15c-c1c6-29f9-8d02-9488ab4bc8f0/test-file-d1f98e05-722c-0cdd-ec7f-8ded7f08e223?sv=Sanitized&se=2024-08-08T21%3A37%3A39Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-5b5b7514-ffc1-f1c7-dadf-832e33864f53/test-file-8869841c-45ca-3b53-a4a7-abc5e1f0b40b?sv=sanitized-value&se=2024-08-08T21%3A37%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7292A147961\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-content-crc64": "Xq7zDUQzqSs=",
        "x-ms-file-last-write-time": "2024-08-07T21:37:40.6505259Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5b5b7514-ffc1-f1c7-dadf-832e33864f53/test-file-8869841c-45ca-3b53-a4a7-abc5e1f0b40b?sv=Sanitized&se=2024-08-08T21%3A37%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB72929E218E0\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB72929E218E0\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-blob-content-md5": "5RkTy2tr6w+w6N6NKJT0CQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f0d6d15c-c1c6-29f9-8d02-9488ab4bc8f0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5b5b7514-ffc1-f1c7-dadf-832e33864f53?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T14:37:39.6160951-07:00",
    "RandomSeed": "1643499645",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
