{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-09972820-47aa-70b0-23d6-147201911164?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC869C7D06B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52ba5c62-d7d1-8a42-c336-5b821574a60b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC869D003C1\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-09972820-47aa-70b0-23d6-147201911164/test-file-eae5e871-c061-d41f-88f5-62fde4e0e8e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "t9I17ITMxCuUPqsHY7mkN6vOII/3AdtoCMLZmva0+uPQyaesm8170Y7t//JfrdQPoUSrMkhT8Lb3zOTB8yo030TINpoR95zeUk4BCgHpCVrtyviyCceafdnxtc7oud5kuSCtl3c6/amozd/6UuW0DcKJ0ykxgdZ8LbnAH0HN9ZlvnVHhO3Ljs8xPCjzooCrzPKgLX+W1MjdKMWm+ed1n2tdGirWU09JQpiBc4neZlIyOzOKZwZazumoZlgkIJDru5y9koRZ1XmnWu7jFWE+/sJ3dL6z6zRlBktBKej3IR4HmbvtHNPJ2GW15wwbd7mEbWuVsK/WN8xkWIw9FKuQsDXM33+pUd3yqZxY+gQoTY6Nv[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-09972820-47aa-70b0-23d6-147201911164/test-file-eae5e871-c061-d41f-88f5-62fde4e0e8e2?sv=Sanitized&se=2024-07-03T18%3A54%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "AcX4nmrfg++XddyXdHMjgQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC869DE6437\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:34.0086839Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52ba5c62-d7d1-8a42-c336-5b821574a60b/test-file-be5d8e1d-399b-b7ae-7662-c870cc7ba282?sv=Sanitized&se=2024-07-03T18%3A54%3A34Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52ba5c62-d7d1-8a42-c336-5b821574a60b/test-file-be5d8e1d-399b-b7ae-7662-c870cc7ba282?sv=Sanitized&se=2024-07-03T18%3A54%3A34Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:54:34.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:54:34.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC869FD037A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:54:34.2093690Z",
        "x-ms-file-creation-time": "2024-07-02T18:54:34.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:54:34.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52ba5c62-d7d1-8a42-c336-5b821574a60b/test-file-be5d8e1d-399b-b7ae-7662-c870cc7ba282?sv=Sanitized&se=2024-07-03T18%3A54%3A34Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-09972820-47aa-70b0-23d6-147201911164/test-file-eae5e871-c061-d41f-88f5-62fde4e0e8e2?sv=Sanitized&se=2024-07-03T18%3A54%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86A095DC3\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:34 GMT",
        "x-ms-content-crc64": "+Bf4JvkuyTE=",
        "x-ms-file-last-write-time": "2024-07-02T18:54:34.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52ba5c62-d7d1-8a42-c336-5b821574a60b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-09972820-47aa-70b0-23d6-147201911164?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:54:34.8389333-07:00",
    "RandomSeed": "1768706750",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
