{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3ac3058b-57f8-747b-ff03-8fd3cec6cfc4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68083A6EAD04\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-70944a8f-3f6b-eee7-b55d-59ae1371f5f5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68083A79B264\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3ac3058b-57f8-747b-ff03-8fd3cec6cfc4/test-file-b6aea4b5-34fb-143f-2c90-e8477bdbebb3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "4SIEp/KYatScL8vy+Zo88Qd3oWSX5KuIAvmG9eN1gNly/GrWYzPO2xrUCotDjW776A2x7VID7fx2fKT4EnXwJq/xgP0vZo7UqcZKw9ofRXWLigzVxJOHbg5tX+aP1cml4+PcUgxxy4J+3USLuSoiVzcvbYdoGmIbaRLuwganRdP9pd/3QvJoGr+KV+dO+7XkSwevYGhBPMiAwOj6ggl71pdxjhNKKhVExlLI3sN7zW5cCnb/+OVqu2kXdoEKbZe1DoBP3W2hmSDya5kVeV0EBfN5nneSfN6yBtKqM7STOVi6EtBDLPABu3FWDIxLVEILEnGOkc8gI5GhnNaa9mVsXzJBWmeNwdgDeOMGPHBRZ7KQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3ac3058b-57f8-747b-ff03-8fd3cec6cfc4/test-file-b6aea4b5-34fb-143f-2c90-e8477bdbebb3?sv=2024-05-04&se=2024-04-30T04%3A52%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7LVJv+b/KU2Ih6IdBuf07Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68083A8470F0\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:52:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:52:53.0553072Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-70944a8f-3f6b-eee7-b55d-59ae1371f5f5/test-file-4d2dc05e-c1f8-ad81-3b06-41a6dcd56b40?sv=2024-05-04&se=2024-04-30T04%3A52%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-70944a8f-3f6b-eee7-b55d-59ae1371f5f5/test-file-4d2dc05e-c1f8-ad81-3b06-41a6dcd56b40?sv=2024-05-04&se=2024-04-30T04%3A52%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:52:53.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:52:53.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68083AAA7632\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:52:53.3044786Z",
        "x-ms-file-creation-time": "2024-04-29T04:52:53.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:52:53.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-70944a8f-3f6b-eee7-b55d-59ae1371f5f5/test-file-4d2dc05e-c1f8-ad81-3b06-41a6dcd56b40?sv=2024-05-04&se=2024-04-30T04%3A52%3A51Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-3ac3058b-57f8-747b-ff03-8fd3cec6cfc4/test-file-b6aea4b5-34fb-143f-2c90-e8477bdbebb3?sv=2024-05-04&se=2024-04-30T04%3A52%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68083AB5E631\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:53 GMT",
        "x-ms-content-crc64": "Erf7cFPet8c=",
        "x-ms-file-last-write-time": "2024-04-29T04:52:53.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-70944a8f-3f6b-eee7-b55d-59ae1371f5f5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3ac3058b-57f8-747b-ff03-8fd3cec6cfc4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:52:51.8080375-07:00",
    "RandomSeed": "2017390476",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
