{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1dd54b3a-9ffc-7df1-1564-184b8580f67b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0F786180\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7064f91-a207-4a52-b89b-bf0fb692198b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0F8A6008\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1dd54b3a-9ffc-7df1-1564-184b8580f67b/test-file-b0499e94-54b0-f3f0-20ee-687904ad846a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "IfsfPKqgdvOB\u002BUrAY0OO2qOhl8YwQQb845/Of0UZ7U\u002BkgjYbeqyYDXSXAOfIbxryp1qLRhfZd\u002BD1IlgK0feuZwv6HOENcl/3CYpRmEAeM3SE3Njqjac3ygpWJlhUjTx96ZnbzVI45TT7lDyNh96f1u/jhfQfw9lkw1HXtkwHo3tN1K\u002BnQmUiTPej7/lqqUIrt09ocAdIXia/dwoBYS7o8/HBQLMv\u002BJOJwTn9e9Tg\u002BhkOq//8njJzBXWJ6MtbIerIuvsHqWmP/L\u002B7367OSuJR3nzx8rYv61W\u002BTTo9pg/HLqBPNMHZ2VCwf69AQb\u002BEpbq[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1dd54b3a-9ffc-7df1-1564-184b8580f67b/test-file-b0499e94-54b0-f3f0-20ee-687904ad846a?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Ytc4VgcBLkhBxnJENNt7ew==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F0F9C95C0\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:14:16.3875264Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7064f91-a207-4a52-b89b-bf0fb692198b/test-file-54fec4d0-04c5-3a07-6bba-def5ff7d5748?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A15Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7064f91-a207-4a52-b89b-bf0fb692198b/test-file-54fec4d0-04c5-3a07-6bba-def5ff7d5748?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A15Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0FD9CE6C\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:16.7887468Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:16.7887468Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:16.7887468Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7064f91-a207-4a52-b89b-bf0fb692198b/test-file-54fec4d0-04c5-3a07-6bba-def5ff7d5748?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A15Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-1dd54b3a-9ffc-7df1-1564-184b8580f67b/test-file-b0499e94-54b0-f3f0-20ee-687904ad846a?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F0FEFEB43\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-content-crc64": "2P2ypm0xbVA=",
        "x-ms-file-last-write-time": "2023-11-15T19:14:16.9336643Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7064f91-a207-4a52-b89b-bf0fb692198b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1dd54b3a-9ffc-7df1-1564-184b8580f67b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T11:14:15.7968779-08:00",
    "RandomSeed": "991257271",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
