{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9dcefe3b-e1d1-e319-47bb-84716cfdeed4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D4AB2C2E\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c2d59b02-8ed3-3353-1bf6-5e14fba25d2d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D4E09970\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9dcefe3b-e1d1-e319-47bb-84716cfdeed4/test-file-16504942-63ac-f1c4-8a36-66685bb5a187",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "fFfbIGmYaUcWBrPiVei3haAs9iBG8kkTDXopcZXf52GdZQ+ucYcdnf2CAUAyjrS6qU1dX8fMEooNyBLvbvexNh5RRPDZCBQZDlgiw/EJ4H/Fb8hIgoia0VOEoal0Li4F0Msh4UnE4aA5Q1BuqU6ZA+eTKf8vaLSWtnOcVGdrpOAqHPIm6P41AI4oDz43LCcF653B4AUv1mgWiyrWKIw4zZ5wQ41bchvoXihwB1l1XopLl2jKqcTb+0aKD1zUXtgB70GfxuiaqXiB2ILcvs8OoCygi5AkbiTalUhG0GO+FP9QbhcX1pehse7vSdBB/jx3e24wM9NI3YAdxDGgU9gVwsSDjE+398qU/tmiNCVTmZYL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9dcefe3b-e1d1-e319-47bb-84716cfdeed4/test-file-16504942-63ac-f1c4-8a36-66685bb5a187?sv=Sanitized&se=2024-06-29T23%3A27%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KQ5LTzfBpp2QRSBrXhFA3g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9D4F75424\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:27:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:27:09.6967204Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c2d59b02-8ed3-3353-1bf6-5e14fba25d2d/test-file-b9759598-722d-04e8-16ad-5af24f448405?sv=Sanitized&se=2024-06-29T23%3A27%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c2d59b02-8ed3-3353-1bf6-5e14fba25d2d/test-file-b9759598-722d-04e8-16ad-5af24f448405?sv=Sanitized&se=2024-06-29T23%3A27%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:27:09.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:27:09.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D522F396\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:27:09.9826070Z",
        "x-ms-file-creation-time": "2024-06-28T23:27:09.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:27:09.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c2d59b02-8ed3-3353-1bf6-5e14fba25d2d/test-file-b9759598-722d-04e8-16ad-5af24f448405?sv=Sanitized&se=2024-06-29T23%3A27%3A09Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9dcefe3b-e1d1-e319-47bb-84716cfdeed4/test-file-16504942-63ac-f1c4-8a36-66685bb5a187?sv=Sanitized&se=2024-06-29T23%3A27%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9D5301115\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:27:10 GMT",
        "x-ms-content-crc64": "DNPBO7Bp3s4=",
        "x-ms-file-last-write-time": "2024-06-28T23:27:09.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c2d59b02-8ed3-3353-1bf6-5e14fba25d2d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9dcefe3b-e1d1-e319-47bb-84716cfdeed4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:27:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:27:09.6383354-07:00",
    "RandomSeed": "609722357",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
