{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1d2e4416-597c-7760-efd3-f94a2ca1245f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F7451971\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4ca35418-a294-9331-cc08-2aac3b22eada?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F74ED54F\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1d2e4416-597c-7760-efd3-f94a2ca1245f/test-file-cbb053cc-abed-d0a1-d8c9-883733bc3e44",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rWAKwUdZMWaENID532rsqwpcNuTlZzlVwhRu8cO/SS3r3Vfp+tur5tVbO+hWMAV8csLrfaN/WUYmtP8y6j+jxetTDQETArAvsU8OiStR/pEP8X8B08yKbIQQw0bbePyWt3X8AyIDaW8Ru8tTcM8a1bVtI/i/ovEfyKB9Aj9qUzlTeNK2VPtuDIgP7xgANvy09u2QbVUD1hWE3DqBhWYwpmiSAPj9ZIC6/hZvsLLZH5KkyQtR2ubjT6G8MXfB7YYi30ivbjUDtpJs1m4+kyZiqr2n3Lxa3syBrrBWQDII+BGQTdBpKbFdoBJ55QN3pbt6WYe6GRDJxwB8Lr+ErXVfY91crUZV+YEMSjuq4fnJCgj1[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1d2e4416-597c-7760-efd3-f94a2ca1245f/test-file-cbb053cc-abed-d0a1-d8c9-883733bc3e44?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kL4zpS8VQuYli5USuMOMUQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F763518A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:34.4582026Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4ca35418-a294-9331-cc08-2aac3b22eada/test-file-4600b0c9-b1fc-f867-d16f-f7ff38a0a8e8?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4ca35418-a294-9331-cc08-2aac3b22eada/test-file-4600b0c9-b1fc-f867-d16f-f7ff38a0a8e8?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:15:34.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F7818603\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:34.6561539Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:34.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:34.6561539Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4ca35418-a294-9331-cc08-2aac3b22eada/test-file-4600b0c9-b1fc-f867-d16f-f7ff38a0a8e8?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1d2e4416-597c-7760-efd3-f94a2ca1245f/test-file-cbb053cc-abed-d0a1-d8c9-883733bc3e44?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F78E0751\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:34 GMT",
        "x-ms-content-crc64": "r+SHpfd41QA=",
        "x-ms-file-last-write-time": "2024-07-02T18:15:34.6561539Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4ca35418-a294-9331-cc08-2aac3b22eada?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1d2e4416-597c-7760-efd3-f94a2ca1245f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:15:35.1047901-07:00",
    "RandomSeed": "601692186",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
