{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea20f95-ff4a-391f-7ed6-03b7de6b169d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680840D87832\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-021fd037-84a5-94e0-6e2a-5a20255e90af?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680840E22976\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea20f95-ff4a-391f-7ed6-03b7de6b169d/test-file-e8fa9d90-0f6c-a763-c744-4a0e6431e058",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "xqM6WDIo3wxIWDLOZGCZrVdWLCDF5BCuhfQAoMn9MemVtOZy7bH90Og0jx/4i9psbrtST+nRPuKSi9M9KD9DSydJOK95J7+mWFs4kVTwtvkakzINquH/xHUE32LewKeo8EP4r1Iq8kf8q/eNmayNodXZI5UMNaBFSXQ6dUddyJezj6AR+Aan76DrEP/qcirIdj2NBZwRnLuis2Xd8H3/n+Nf2QkLfKnOMTP1ISWhW9dJcf4Kz8P7ofPlbkShyf8i63EbipghvPqUvtNoHHqVAViOlH5+9c8gZDcWJg1lLWg00zWzhtA+KLQDdhDvkoV4T23sEjWAo/ah+iVhC5bsLpFrNElE4nqHUGvKen++MdKx[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea20f95-ff4a-391f-7ed6-03b7de6b169d/test-file-e8fa9d90-0f6c-a763-c744-4a0e6431e058?sv=2024-05-04&se=2024-04-30T04%3A53%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IqGJmxT2Qyc3Fq1euU4kbQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC680840EB8285\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:53:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:53:03.7971077Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-021fd037-84a5-94e0-6e2a-5a20255e90af/test-file-d85da407-b8d4-4c00-7b31-ae7b769eace6?sv=2024-05-04&se=2024-04-30T04%3A53%3A02Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-021fd037-84a5-94e0-6e2a-5a20255e90af/test-file-d85da407-b8d4-4c00-7b31-ae7b769eace6?sv=2024-05-04&se=2024-04-30T04%3A53%3A02Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:53:03.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:53:03.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6808411642FA\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:53:04.0772858Z",
        "x-ms-file-creation-time": "2024-04-29T04:53:03.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:53:03.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-021fd037-84a5-94e0-6e2a-5a20255e90af/test-file-d85da407-b8d4-4c00-7b31-ae7b769eace6?sv=2024-05-04&se=2024-04-30T04%3A53%3A02Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-2ea20f95-ff4a-391f-7ed6-03b7de6b169d/test-file-e8fa9d90-0f6c-a763-c744-4a0e6431e058?sv=2024-05-04&se=2024-04-30T04%3A53%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680841227629\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:53:04 GMT",
        "x-ms-content-crc64": "X+pWira7akc=",
        "x-ms-file-last-write-time": "2024-04-29T04:53:03.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-021fd037-84a5-94e0-6e2a-5a20255e90af?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea20f95-ff4a-391f-7ed6-03b7de6b169d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:53:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:53:02.5523409-07:00",
    "RandomSeed": "1108283469",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
