{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aab6eb9a-b42d-1a26-6698-b340086daf24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86F527858\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fcb21e89-65cf-ab58-7268-74cd7ada6516?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86F5AE50E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aab6eb9a-b42d-1a26-6698-b340086daf24/test-file-63614d51-7d3d-3e63-94aa-3861a5322051",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "jODpIZpF8dO4BqMduLLI5vAh0m+ym/EG9fZQomUU/YzMZxFDE1jjVAsrbJoJ/p9RjAh8XpTE1/Hu4yuk9U9uowgWUFCghdOYPn1khy9W/fdW/xVcl5/4B5AgVDAsP1+8vciS861PsAc15CAWYFDCmOU0TfY5EgtpHUm/gDGibP8ep8lmxApJB04OJrN+4qdAXrtK9/Fpg6q8KdVkjzDVk3cg97iGW9Tb6kanK+xY6jqhfyF1WHQNtSQeqpo05XceOJM7XuvvuQPnbgyrwVe+Yz+bww8OYDoCE0KTZ7A5pwXOiPJZHIxPssUejuloYvPMYEZbmCJoENhYOEqpW1JSrccG3TllZUezTBBJ8NFRmrFO[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aab6eb9a-b42d-1a26-6698-b340086daf24/test-file-63614d51-7d3d-3e63-94aa-3861a5322051?sv=Sanitized&se=2024-07-03T18%3A54%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tz0kUbCdQPUHuA7gGMiRlg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC86F66AACE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:43.2903886Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fcb21e89-65cf-ab58-7268-74cd7ada6516/test-file-91ca50ee-cf18-5279-fccd-0d195858f80d?sv=Sanitized&se=2024-07-03T18%3A54%3A44Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fcb21e89-65cf-ab58-7268-74cd7ada6516/test-file-91ca50ee-cf18-5279-fccd-0d195858f80d?sv=Sanitized&se=2024-07-03T18%3A54%3A44Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:54:43.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:54:43.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86F8613DD\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:54:43.4962397Z",
        "x-ms-file-creation-time": "2024-07-02T18:54:43.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:54:43.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fcb21e89-65cf-ab58-7268-74cd7ada6516/test-file-91ca50ee-cf18-5279-fccd-0d195858f80d?sv=Sanitized&se=2024-07-03T18%3A54%3A44Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-aab6eb9a-b42d-1a26-6698-b340086daf24/test-file-63614d51-7d3d-3e63-94aa-3861a5322051?sv=Sanitized&se=2024-07-03T18%3A54%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86F926E2E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:43 GMT",
        "x-ms-content-crc64": "3NO05bKWsyQ=",
        "x-ms-file-last-write-time": "2024-07-02T18:54:43.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-fcb21e89-65cf-ab58-7268-74cd7ada6516?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aab6eb9a-b42d-1a26-6698-b340086daf24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:54:44.1395964-07:00",
    "RandomSeed": "1120745257",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
