{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-61aeaac9-163c-1798-8a9d-6fbb92558ae8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F1DBFD10F\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c8a99155-e967-34e8-0d90-107d69c0dd62?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F1DD3F92A\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c8a99155-e967-34e8-0d90-107d69c0dd62/test-file-585cdfed-353e-cae4-950b-99dde81ca2a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F1DE8D07C\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:40.3752060Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:40.3752060Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:40.3752060Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-61aeaac9-163c-1798-8a9d-6fbb92558ae8/test-file-ac7ce488-fb32-221b-d763-e35d47f0e63b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "vlW0yGX1ECtM7n3m/lgvNr2byRWPx2LIKdo3y5AJ3RkSnxFI2iGz/jGjYK33eVsX3PKDtlptGffz7J6LvUWaQhFk019G5lyc58rj7Ga10a9/IO6ehia\u002BpYUZVe6CKEDsCB2bkqb70PaV5s\u002BQii2RPRruDJ1W/LzrpS3aLZBtGr6K9uNIGT4Ig1D4CJ9WLhtXiBjTkxyjlQxhsO15IaJlJ8wRBZNJSCPb5YhNXvMdlHcRgqV4moai5mHX5mlRj2GtkuDSRSiIDT/0966TVjcYRBt1Z5797I1Gbx4xcmG6ilYmoMsSSk9PiXRlhKLYDpAqvqJN3CfCr6ZSjNYJVpvdOW1YbLVrBvnMJd[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-61aeaac9-163c-1798-8a9d-6fbb92558ae8/test-file-ac7ce488-fb32-221b-d763-e35d47f0e63b?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A39Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "g5BbnNoaOC6057QVqI8H5Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F1DFA7303\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T19:14:40.4917765Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c8a99155-e967-34e8-0d90-107d69c0dd62/test-file-585cdfed-353e-cae4-950b-99dde81ca2a2?sv=2023-11-03\u0026se=2023-11-16T19%3A14%3A39Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F1DE8D07C\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:14:40.3752060Z",
        "x-ms-file-creation-time": "2023-11-15T19:14:40.3752060Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:14:40.3752060Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c8a99155-e967-34e8-0d90-107d69c0dd62?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-61aeaac9-163c-1798-8a9d-6fbb92558ae8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:14:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T11:14:39.8992856-08:00",
    "RandomSeed": "173678731",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
