{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d710c45e-ee8d-5753-80da-04883a77e676?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AADB576C9\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3883b4a7-ddfe-8f5d-fce8-9cc8f4274e8f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AADC8C31B\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3883b4a7-ddfe-8f5d-fce8-9cc8f4274e8f/test-file-3ca8e799-faa2-d321-0357-a7813f47e1b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60AADE30785\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:42:54.4455557Z",
        "x-ms-file-creation-time": "2023-11-15T18:42:54.4455557Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:42:54.4455557Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d710c45e-ee8d-5753-80da-04883a77e676/test-file-d3206d16-6204-138d-49f7-2bc75825bc8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "eLVW3/4QxpiHE4\u002BWd0NHTILNkiCtjW2SFSriUC7Jcy40l2vvi11g/PI1YidtHkHHo04AXJTrcetHw8nTLXZpvZ9hYeDYWMElbJUteCpGJffpG6zgyReZSSV/p8iTjM57zKSHC7xg70uM2\u002B/\u002BvfnBAZ3S6hLKiPSIxxi7WLH5keDHsquFvho6iCxgU\u002B0nm4srvqUqwaK8sUSv/kOkpZaak0kPNwtOO0ODl2LmaTQGYSyMkJoLztA9CwFn1b/WluOVxsCkGGSA3YNipylA1UcPqJ0XFxT8jsR40SsJ5mWDrAB\u002BUKN0YkjHC7IWqSen/TW6WCwivn7OmTf7K0Y4d/Y[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d710c45e-ee8d-5753-80da-04883a77e676/test-file-d3206d16-6204-138d-49f7-2bc75825bc8f?sv=2023-11-03\u0026se=2023-11-16T18%3A42%3A53Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kXc1bRBBNR3b3\u002Bzq1aWLsQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AADF8B3FC\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-15T18:42:54.5885967Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3883b4a7-ddfe-8f5d-fce8-9cc8f4274e8f/test-file-3ca8e799-faa2-d321-0357-a7813f47e1b9?sv=2023-11-03\u0026se=2023-11-16T18%3A42%3A53Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60AADE30785\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T18:42:54.4455557Z",
        "x-ms-file-creation-time": "2023-11-15T18:42:54.4455557Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T18:42:54.4455557Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3883b4a7-ddfe-8f5d-fce8-9cc8f4274e8f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d710c45e-ee8d-5753-80da-04883a77e676?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 18:42:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T10:42:53.9951935-08:00",
    "RandomSeed": "1685807736",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
