{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3d0e83fe-05c5-16e9-2169-012ba68854d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD19668923A\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7c8ac8c7-7e72-78c4-ffb1-c20cf5af6a85?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD19672041F\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3d0e83fe-05c5-16e9-2169-012ba68854d4/test-file-4b397c00-9eac-1a9e-2423-f967cffdf33f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "6iZAx9iV4X8HDxXZz31QeTAyQYhOdc4hYlmTJvEvxhI3tJ9jNvHZOrxpT5DUxP/ZrHk3sF+RhnVYHmV/AruO10kDoRve7EM+WAbL5SY9TZ1ZuXl3+BWypi0qCxeMWjcA23dG0SPk+8A2+FdYxaFOGtHHJUhCFt8zUPrts+Ersv7Oygqv9nx6db65QP++WeGM2/BFxDXvvsSXE4Ao9kfeCkZYivqWnyNVTa+KiNXgdPcZYNjw5e3J3wtGF+P7Un922jW5Zc/m9jvN8HeFZDbut56ID5Vv7iRYj6ruUIhAWfovFK6fJg8nMmqcI/V2Q3rVV19EckPqB+sRYNUk96azjJZ8VlCHTpCPYdwq0ssv4kwv[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3d0e83fe-05c5-16e9-2169-012ba68854d4/test-file-4b397c00-9eac-1a9e-2423-f967cffdf33f?sv=Sanitized&se=2024-07-03T20%3A00%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "A88wDf9dmCY6xQAaDY8muA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD1967BD9EE\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T20:00:14.3319275Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7c8ac8c7-7e72-78c4-ffb1-c20cf5af6a85/test-file-f9378f45-853c-2774-b98a-a7dc0524bf98?sv=Sanitized&se=2024-07-03T20%3A00%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7c8ac8c7-7e72-78c4-ffb1-c20cf5af6a85/test-file-f9378f45-853c-2774-b98a-a7dc0524bf98?sv=Sanitized&se=2024-07-03T20%3A00%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T20:00:14.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD196984995\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T20:00:14.5172885Z",
        "x-ms-file-creation-time": "2024-07-02T20:00:14.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T20:00:14.5172885Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7c8ac8c7-7e72-78c4-ffb1-c20cf5af6a85/test-file-f9378f45-853c-2774-b98a-a7dc0524bf98?sv=Sanitized&se=2024-07-03T20%3A00%3A15Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-3d0e83fe-05c5-16e9-2169-012ba68854d4/test-file-4b397c00-9eac-1a9e-2423-f967cffdf33f?sv=Sanitized&se=2024-07-03T20%3A00%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD196A3929C\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:00:14 GMT",
        "x-ms-content-crc64": "yLbGPfED5TM=",
        "x-ms-file-last-write-time": "2024-07-02T20:00:14.5172885Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7c8ac8c7-7e72-78c4-ffb1-c20cf5af6a85?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3d0e83fe-05c5-16e9-2169-012ba68854d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 20:00:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T13:00:15.5231509-07:00",
    "RandomSeed": "284752254",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
