{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb2e3da7-6f2b-71ff-0928-23f27f970395?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F7CBB2A0\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-048d3a48-b58b-d2e5-2139-520003c31361?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F7D9F1A3\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb2e3da7-6f2b-71ff-0928-23f27f970395/test-file-058b6c0b-a14a-74e6-c1d9-08577bdfca05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Zu31cmf74KkoVcSevAmSALOl1z1Ko4ScWtPoQBohMofmu4dgRtSC83StOvcJdGcdzohRlcz2pcNoWReTE6COByI9twGBMrneI\u002BPJnWiNkuVsy3GSz5y67xbE9\u002B287\u002BDTHjPUzLxlm5zOcnLoLQda28cyJ0cv\u002BzeGgsfrvTrMIjQD9X40ucUpBi/Uw10q0sIOaRsliseYpCP8Tkn0et1hAlA\u002B5TiIJSIBCCAXWjjaW7AF3FQeppdsalBbOGp8NItSc8EM6\u002ByJhkP5JIGmgUnqIfKY756IQlu40nrnLO23hNSVxed2zXDDe1URJYIWxekGcRd440XtyTBmVB[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb2e3da7-6f2b-71ff-0928-23f27f970395/test-file-058b6c0b-a14a-74e6-c1d9-08577bdfca05?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kW97YSRiHRqGu5E4iFg93g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2F7EA1BE3\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 16 Nov 2023 18:36:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:37.9892707Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-048d3a48-b58b-d2e5-2139-520003c31361/test-file-48c4c755-efd1-c647-7e4a-00cfc496fa2a?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A37Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-048d3a48-b58b-d2e5-2139-520003c31361/test-file-48c4c755-efd1-c647-7e4a-00cfc496fa2a?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A37Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F816D07A\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:36:38.2822522Z",
        "x-ms-file-creation-time": "2023-11-16T18:36:38.2822522Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:36:38.2822522Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-048d3a48-b58b-d2e5-2139-520003c31361/test-file-48c4c755-efd1-c647-7e4a-00cfc496fa2a?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A37Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-eb2e3da7-6f2b-71ff-0928-23f27f970395/test-file-058b6c0b-a14a-74e6-c1d9-08577bdfca05?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F825C250\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:38 GMT",
        "x-ms-content-crc64": "bmYiur9nVJ0=",
        "x-ms-file-last-write-time": "2023-11-16T18:36:38.3801936Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-048d3a48-b58b-d2e5-2139-520003c31361?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb2e3da7-6f2b-71ff-0928-23f27f970395?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:36:37.8172562-08:00",
    "RandomSeed": "1259523641",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
