{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c8d642e4-0baa-8608-25ed-cc02b94b22fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:31 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7927C0B671A\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6038a185-9a20-a6d4-39a8-66088148f2a5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:31 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7927C314650\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6038a185-9a20-a6d4-39a8-66088148f2a5/test-file-d66008bc-000e-185e-fee0-58fa0d21f321",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7927C66082C\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:27:34.1360172Z",
        "x-ms-file-creation-time": "2023-11-17T17:27:34.1360172Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:27:34.1360172Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c8d642e4-0baa-8608-25ed-cc02b94b22fd/test-file-6ce20fc2-5a60-8a8d-66f8-a119bce61e66",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "hB2I6RjXdtTZpJJijSHV8GHOGUs94F98LVJhLALcYb8ZV2hZIaTCKQ7sxF5n53RJvpyBqiamd6O9C7zFdknS/EPSSDW4fM68C\u002B89UBwBFEXeF21lWreYcuDFmxXo/LPEGccblJ4/kELNxZ43aSaGvPd2517bbKKMOdZV8\u002BC40w48eDZV5X\u002Bnn4crmJUYYQm6Pt8echVU6a0lj1rI6pxhFPGQ\u002B/DvMdZ3z0jXr9QNc9jNmrUBmmH554\u002BJMFYk3rXqyYOjiGYYygwIp6PMfTnYGBuC\u002B0/nYHqQlxNgZQGAUvCT7OZQaetxtM\u002Bp\u002BPK9LGpWsBg7[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c8d642e4-0baa-8608-25ed-cc02b94b22fd/test-file-6ce20fc2-5a60-8a8d-66f8-a119bce61e66?sv=2024-02-04\u0026se=2023-11-18T17%3A27%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "AhKGmWAA3kPsfqZgDzlhqQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7927C9963A9\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:27:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:27:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:27:34.4735923Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6038a185-9a20-a6d4-39a8-66088148f2a5/test-file-d66008bc-000e-185e-fee0-58fa0d21f321?sv=2024-02-04\u0026se=2023-11-18T17%3A27%3A32Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7927C66082C\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:27:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:27:34.1360172Z",
        "x-ms-file-creation-time": "2023-11-17T17:27:34.1360172Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:27:34.1360172Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6038a185-9a20-a6d4-39a8-66088148f2a5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c8d642e4-0baa-8608-25ed-cc02b94b22fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:27:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:27:32.7766948-08:00",
    "RandomSeed": "678109238",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
