{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4ca9ff3-1c27-9ab9-b4a5-821ac6cbb44b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D891BB3EF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-66bf36b4-cc19-1186-d885-f6cd47b7e7f5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D89297E30\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-66bf36b4-cc19-1186-d885-f6cd47b7e7f5/test-file-ed98e437-6a69-87f6-e46e-8da9d41be6f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D893E6003\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:02:43.0844931Z",
        "x-ms-file-creation-time": "2024-06-07T01:02:43.0844931Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:02:43.0844931Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4ca9ff3-1c27-9ab9-b4a5-821ac6cbb44b/test-file-d1fa4d4f-be3e-5b48-45f3-e8a0293172ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "bA0e74bNDLqEMd/5gH3k51QShEroQC9FvNA2It0ipMEjbhA0vpy8QXKEWI/Xn9BXJoGCwYuy4Czd2TK2lurcYYwe1RFssCi4VkPXY+efbR3/3/tboOM2cI7kV+RqBauIp/YDucq/6nZYyWtH23xEPWwVt7fugcGp6GSCiFlETlCYTrvxnLRSP/SEAtZ37pUSnxl4VE7zmSY1WtBlPGIdFHsbr4zAU6G3wnfCan7rMfrOcOg/zPkCpLWVu0Lj7QORZ+5aXD4IUUx4wJLWMS+nSijWlsx63UiCGAvXK5de09V0MAOQkNS7xh6bxwtnK3KF7XEZDVY2F4ml2EMyMSa0Ge28YQAsF7lUGtCu3hY9G+2Y[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4ca9ff3-1c27-9ab9-b4a5-821ac6cbb44b/test-file-d1fa4d4f-be3e-5b48-45f3-e8a0293172ee?sv=Sanitized&se=2024-06-08T01%3A02%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pw92F66AGASxB9anf95VUw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D89525F73\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:02:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:02:43.2165503Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-66bf36b4-cc19-1186-d885-f6cd47b7e7f5/test-file-ed98e437-6a69-87f6-e46e-8da9d41be6f0?sv=Sanitized&se=2024-06-08T01%3A02%3A41Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D893E6003\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:02:43.0844931Z",
        "x-ms-file-creation-time": "2024-06-07T01:02:43.0844931Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:02:43.0844931Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-66bf36b4-cc19-1186-d885-f6cd47b7e7f5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4ca9ff3-1c27-9ab9-b4a5-821ac6cbb44b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:02:41.6373578-05:00",
    "RandomSeed": "1960674045",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
