{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cb95114c-b1c7-24d5-0715-bf53b187fbf9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F91B3399\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-87f1e867-68fc-2fdf-e9d1-72adc2bfe52f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F92A0E54\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-87f1e867-68fc-2fdf-e9d1-72adc2bfe52f/test-file-abe2bd66-8e10-824a-ab78-5dda58aec32e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2F940CCA2\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:36:40.2351266Z",
        "x-ms-file-creation-time": "2023-11-16T18:36:40.2351266Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:36:40.2351266Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cb95114c-b1c7-24d5-0715-bf53b187fbf9/test-file-212e55d3-36f1-b13f-fdbc-ae16b4c99877",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "91VaDGyrdiIf8FeDKeelFmFnwmQMbuZ7qZRyZ0XyC9N5NZDwC8k5M\u002BR62Z3FF1TETXNsUU7kGYlv32PYOQ7dLeWECfRXtAuYLo9/kZVItZFArhrRhbmFlRsHgSxmYfnWnay4QQ5fbZlo1CO\u002BZIjzJinRmIr0DKcr/nPZTzLfMc2VqfTpkHOD4EGAaLCWxjGTE1oClMlv4ZAEjEKahh1miaNWKLqTCpW1TrdJc6P3lDdCRjzY3J0DJshj5QMx6VokGt8NQJ12/wnETEURJW3tDPcKV0DhjqwFUgLyLyWRhGVdJVnD6lSay0YyE5BX8gBbdtgMJpEaQ4wzB\u002B6bhNDkMsfgtAAUK[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cb95114c-b1c7-24d5-0715-bf53b187fbf9/test-file-212e55d3-36f1-b13f-fdbc-ae16b4c99877?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "p7RbmuhlrI69Q6aBzeFXvw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2F95166B9\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:40.3439289Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-87f1e867-68fc-2fdf-e9d1-72adc2bfe52f/test-file-abe2bd66-8e10-824a-ab78-5dda58aec32e?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A40Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2F940CCA2\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:36:40.2351266Z",
        "x-ms-file-creation-time": "2023-11-16T18:36:40.2351266Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:36:40.2351266Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-87f1e867-68fc-2fdf-e9d1-72adc2bfe52f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cb95114c-b1c7-24d5-0715-bf53b187fbf9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:36:40.1695280-08:00",
    "RandomSeed": "35518110",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
