{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-32378cd1-d408-b4b7-c113-5f2dd22901d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F7C2250F\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-037a8a4d-9dc6-9de6-0c06-7d5f49c32319?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F7CB6D28\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-32378cd1-d408-b4b7-c113-5f2dd22901d2/test-file-c4bd73d2-0292-140f-7cd2-b18e2c24f495",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "l7Ljbxi7zZ9amogviG/q1lcCk9jdQ8vJuB1yJd6RFIjwCuYB3Hk648Ds36Fl+Tn/1PnE2PirI1TmGbf6SajByIUAPn2I6PreyLAY8GMqY7/kclDlzDyPROaSG8LCP5oXKxYcZbq7d+v+5g9IkzPwvLX3FtZX2/tJcfqW9c03G4gWAcRNDv4EKPtl5uYsR7Czol8NyijDv1Aa0vO/JYIex8qHMpJuo6228u7b8vUVHSlJ4lJuKlFfU0F0MjsLRAN5Rh8bpBUeRf+xV9c658xaBLXKdkIvsJx5J95Q+XByq63rYqvW+ngUK51TvNN5JWt1Gi2GQM7BSZaCon02zkuOPqspT4QghAo9tUuk2/PJ/wJz[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-32378cd1-d408-b4b7-c113-5f2dd22901d2/test-file-c4bd73d2-0292-140f-7cd2-b18e2c24f495?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VSZCvoIm8JOfBOxk9lTzMA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2F7D69BEF\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:35.2137711Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-037a8a4d-9dc6-9de6-0c06-7d5f49c32319/test-file-c633d9ec-1e1c-86eb-0a6b-09667c511831?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-037a8a4d-9dc6-9de6-0c06-7d5f49c32319/test-file-c633d9ec-1e1c-86eb-0a6b-09667c511831?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:15:35.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F7FB86BE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:35.4557118Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:35.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:35.4557118Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-037a8a4d-9dc6-9de6-0c06-7d5f49c32319/test-file-c633d9ec-1e1c-86eb-0a6b-09667c511831?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-32378cd1-d408-b4b7-c113-5f2dd22901d2/test-file-c4bd73d2-0292-140f-7cd2-b18e2c24f495?sv=Sanitized&se=2024-07-03T18%3A15%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2F8082F1D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:35 GMT",
        "x-ms-content-crc64": "p8s97LCT+NY=",
        "x-ms-file-last-write-time": "2024-07-02T18:15:35.4557118Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-037a8a4d-9dc6-9de6-0c06-7d5f49c32319?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-32378cd1-d408-b4b7-c113-5f2dd22901d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:15:35.8619409-07:00",
    "RandomSeed": "829858769",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
