{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-407b21af-752e-24a9-d2f0-931b29ab6a70?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC42A7793DD\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ea79ca53-f16c-fd47-40f6-1df14a254d39?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC42A935520\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-407b21af-752e-24a9-d2f0-931b29ab6a70/test-file-3b780e2c-9095-f71c-f201-a54031969376",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "pIkh0GL60OibQAWewcdoTKg8D8ZKGL3uAPtRLBT0EnE2HGdMEDqX+SaRdLsBNB3E1NCss6ChPozMMtBmqaPUpi6TaKRgHDxupBafuKMC7czejFhDR17RlN7bgN1qMU+Dvc2Nbct4ZLiUPg+JAoXoyUQDiBxLkF/PwtTGhJteA3PGHPvWdIAAZSefrglPSJJZ87aZZqgzNy1uvav3suAcNjqcwuWKEVXEAyP0q+FVgHpBbJHlxZ3Kk+TNaLfVCLJHg3jOsoWsz+Fh1GKFPoxLGD0wtkVON3Gd0i8BvKme7/pwrShph830lZ2wg/A6RFVXglB5pFJt+UsGMd9WqhI3w+RoFZFk4pBvOyGnnrOAYo7Z[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-407b21af-752e-24a9-d2f0-931b29ab6a70/test-file-3b780e2c-9095-f71c-f201-a54031969376?sv=Sanitized&se=2024-07-03T18%3A24%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "b4qCVXXkYYiOFbP62GTmSw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC42AA0E224\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:24:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:24:09.9222052Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ea79ca53-f16c-fd47-40f6-1df14a254d39/test-file-a5f2ca82-41f4-391a-8647-7c228e369c3a?sv=Sanitized&se=2024-07-03T18%3A24%3A10Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ea79ca53-f16c-fd47-40f6-1df14a254d39/test-file-a5f2ca82-41f4-391a-8647-7c228e369c3a?sv=Sanitized&se=2024-07-03T18%3A24%3A10Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:24:09.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC42AC73A08\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:24:10.1734920Z",
        "x-ms-file-creation-time": "2024-07-02T18:24:09.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:24:10.1734920Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ea79ca53-f16c-fd47-40f6-1df14a254d39/test-file-a5f2ca82-41f4-391a-8647-7c228e369c3a?sv=Sanitized&se=2024-07-03T18%3A24%3A10Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-407b21af-752e-24a9-d2f0-931b29ab6a70/test-file-3b780e2c-9095-f71c-f201-a54031969376?sv=Sanitized&se=2024-07-03T18%3A24%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC42AD3E272\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:24:10 GMT",
        "x-ms-content-crc64": "0XzYCStnLvo=",
        "x-ms-file-last-write-time": "2024-07-02T18:24:10.1734920Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ea79ca53-f16c-fd47-40f6-1df14a254d39?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-407b21af-752e-24a9-d2f0-931b29ab6a70?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:24:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:24:10.6081606-07:00",
    "RandomSeed": "1217236786",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
