{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/1share-with-dash176833121317605975?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6E9E50AA5\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:06:53 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/1share-with-dash176833121317605975/dir176833121317702438?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6E9F35A6B\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:06:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:06:53.4707819Z",
        "x-ms-file-creation-time": "2026-01-13T19:06:53.4707819Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:06:53.4707819Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/1share-with-dash176833121317605975/dir176833121317702438/%D1%80%D1%83%CC%81%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%CC%81%D0%BA176833121339908861",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "10",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6EA071A4B\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:06:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:06:53.6002123Z",
        "x-ms-file-creation-time": "2026-01-13T19:06:53.6002123Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:06:53.6002123Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/1share-with-dash176833121317605975/dir176833121317702438/%D1%80%D1%83%CC%81%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%CC%81%D0%BA176833121339908861",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE52D6EA071A4B\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:06:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:06:53.6002123Z",
        "x-ms-file-creation-time": "2026-01-13T19:06:53.6002123Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:06:53.6002123Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/1share-with-dash176833121317605975/dir176833121317702438?comp=list&prefix=%D1%80%D1%83%CC%81%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D1%8F%D0%B7%D1%8B%CC%81%D0%BA176833121339908861&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.file.core.windows.net/\" ShareName=\"1share-with-dash176833121317605975\" DirectoryPath=\"dir176833121317702438\"><Prefix>ру́сский язы́к176833121339908861</Prefix><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>ру́сский язы́к176833121339908861</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>10</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/1share-with-dash176833121317605975?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1share-with-dash": "1share-with-dash176833121317605975",
    "dir": "dir176833121317702438",
    "ру́сский язы́к": "ру́сский язы́к176833121339908861"
  }
}
