{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash176409002586202116?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:25 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C442259EAF9\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash176409002586202116/dir176409002586301748?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C442287D405\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:00:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T17:00:28.1914373Z",
        "x-ms-file-creation-time": "2025-11-25T17:00:28.1914373Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T17:00:28.1914373Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash176409002586202116/dir176409002586301748/file%20empty176409002732600883",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "10",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4422B70264\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:00:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T17:00:28.5006436Z",
        "x-ms-file-creation-time": "2025-11-25T17:00:28.5006436Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-11-25T17:00:28.5006436Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash176409002586202116/dir176409002586301748?comp=list&prefix=file%20empty176409002732600883&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"1share-with-dash176409002586202116\" DirectoryPath=\"dir176409002586301748\"><Prefix>file empty176409002732600883</Prefix><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file empty176409002732600883</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>10</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash176409002586202116?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1share-with-dash": "1share-with-dash176409002586202116",
    "dir": "dir176409002586301748",
    "file empty": "file empty176409002732600883"
  }
}
