{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic789d/nodes/tvmps_5557f77ebae7b698bbfea8c527ac425d09ce1688ff5db06dfcba817a0b2d8072_d/reimage?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic789d/nodes/tvmps_5557f77ebae7b698bbfea8c527ac425d09ce1688ff5db06dfcba817a0b2d8072_d/reimage",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic789d/nodes/tvmps_5557f77ebae7b698bbfea8c527ac425d09ce1688ff5db06dfcba817a0b2d8072_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes/@Element",
        "id": "tvmps_5557f77ebae7b698bbfea8c527ac425d09ce1688ff5db06dfcba817a0b2d8072_d",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic789d/nodes/tvmps_5557f77ebae7b698bbfea8c527ac425d09ce1688ff5db06dfcba817a0b2d8072_d",
        "state": "reimaging",
        "schedulingState": "enabled",
        "stateTransitionTime": "2026-01-21T21:09:01.9589977Z",
        "lastBootTime": "2026-01-21T21:07:20.34015Z",
        "allocationTime": "2026-01-21T21:05:59.4477196Z",
        "ipAddress": "10.0.0.5",
        "affinityId": "TVM:tvmps_5557f77ebae7b698bbfea8c527ac425d09ce1688ff5db06dfcba817a0b2d8072_d",
        "vmSize": "standard_d2s_v3",
        "totalTasksRun": 0,
        "totalTasksSucceeded": 0,
        "runningTasksCount": 0,
        "runningTaskSlotsCount": 0,
        "startTask": {
          "commandLine": "/bin/bash -c 'echo hello > hello.txt'",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "startTaskInfo": {
          "state": "completed",
          "startTime": "2026-01-21T21:07:20.587542Z",
          "endTime": "2026-01-21T21:07:20.646782Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0
        },
        "isDedicated": true,
        "nodeAgentInfo": {
          "lastUpdateTime": "2026-01-21T21:07:20.34015Z",
          "version": "1.12.39"
        },
        "virtualMachineInfo": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest",
            "exactVersion": "latest"
          }
        }
      }
    },
[...]
