{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicad69/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicad69/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_18a6d77f33d6a4fbea6002546f64308f28560271a27bfec98d34b8c1b3d253da_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicad69/nodes/tvmps_18a6d77f33d6a4fbea6002546f64308f28560271a27bfec98d34b8c1b3d253da_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-05T19:49:07.451332Z",
            "allocationTime": "2026-02-05T19:48:56.6655392Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_18a6d77f33d6a4fbea6002546f64308f28560271a27bfec98d34b8c1b3d253da_d",
            "vmSize": "standard_d2s_v3",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_1d1f0350bc373aac91d5e8d1124a697af9c792230539ac344b75edfacb45c52f_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicad69/nodes/tvmps_1d1f0350bc373aac91d5e8d1124a697af9c792230539ac344b75edfacb45c52f_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-05T19:49:07.451332Z",
            "allocationTime":[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicad69/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_18a6d77f33d6a4fbea6002546f64308f28560271a27bfec98d34b8c1b3d253da_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicad69/nodes/tvmps_18a6d77f33d6a4fbea6002546f64308f28560271a27bfec98d34b8c1b3d253da_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-05T19:49:24.082976Z",
            "lastBootTime": "2026-02-05T19:49:23.820448Z",
            "allocationTime": "2026-02-05T19:48:56.6655392Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_18a6d77f33d6a4fbea6002546f64308f28560271a27bfec98d34b8c1b3d253da_d",
            "vmSize": "standard_d2s_v3",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "startTask": {
              "commandLine": "/bin/bash -c 'echo hello > hello.txt'",
              "userIdentity": {
                "autoUser": {
                  "scope": "pool",
                  "elevationLevel": "nonadmin"
                }
              },
              "maxTaskRetryCount": 0,
              "waitForSuccess": true
            },
            "startTaskInfo": {
              "state": "completed",
              "startTime": "2026-02-05T19:49:24.038826Z",
              "endTime": "2026-02-05T19:49:24.075238Z",
              "exitCode": 0,
              "result": "success",
              "retryCount": 0
            },
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2026-02-05T19:49:23.820448Z",
              "version": "1.12.39"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_1d1f0350bc373aac91d5e8d1124a697af9c792230539ac344b75edf[...]
[...]
