{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic789d/nodes/tvmps_20e05b85f1b1430c1223c26f97e5732d0de1ebd03f205c0527ec90a4e198d41f_d/users/JSSDKTestUser?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "password": "kt#_gahr!@aGERDXA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic789d/nodes/tvmps_20e05b85f1b1430c1223c26f97e5732d0de1ebd03f205c0527ec90a4e198d41f_d/users/JSSDKTestUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic789d/nodes/tvmps_20e05b85f1b1430c1223c26f97e5732d0de1ebd03f205c0527ec90a4e198d41f_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes/@Element",
        "id": "tvmps_20e05b85f1b1430c1223c26f97e5732d0de1ebd03f205c0527ec90a4e198d41f_d",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic789d/nodes/tvmps_20e05b85f1b1430c1223c26f97e5732d0de1ebd03f205c0527ec90a4e198d41f_d",
        "state": "idle",
        "schedulingState": "enabled",
        "stateTransitionTime": "2026-01-21T21:07:05.594519Z",
        "lastBootTime": "2026-01-21T21:07:05.258692Z",
        "allocationTime": "2026-01-21T21:05:59.4477281Z",
        "ipAddress": "10.0.0.4",
        "affinityId": "TVM:tvmps_20e05b85f1b1430c1223c26f97e5732d0de1ebd03f205c0527ec90a4e198d41f_d",
        "vmSize": "standard_d2s_v3",
        "totalTasksRun": 0,
        "totalTasksSucceeded": 0,
        "runningTasksCount": 0,
        "runningTaskSlotsCount": 0,
        "startTask": {
          "commandLine": "/bin/bash -c 'echo hello > hello.txt'",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "startTaskInfo": {
          "state": "completed",
          "startTime": "2026-01-21T21:07:05.512883Z",
          "endTime": "2026-01-21T21:07:05.583381Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0
        },
        "isDedicated": true,
        "nodeAgentInfo": {
          "lastUpdateTime": "2026-01-21T21:07:05.258692Z",
          "version": "1.12.39"
        },
        "virtualMachineInfo": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest",
            "exactVersion": "latest"
          }
        }
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic789d"
  }
}
