{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags40?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags40",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AiBCAaLa7oluLPDPPBminUfQ6VfdJVAIZCbiSOJMpSg\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzODg=;sn=73741388"
      },
      "ResponseBody": {
        "etag": "AiBCAaLa7oluLPDPPBminUfQ6VfdJVAIZCbiSOJMpSg",
        "key": "etags40",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags40?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"AiBCAaLa7oluLPDPPBminUfQ6VfdJVAIZCbiSOJMpSg\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzODg="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzODg=;sn=73741388"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags40",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzODg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0aVUHYWyROFp_CqC3r3LKJDcmf8oz3bA1qgUNhO6dGc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzODg=;sn=73741388"
      },
      "ResponseBody": {
        "etag": "0aVUHYWyROFp_CqC3r3LKJDcmf8oz3bA1qgUNhO6dGc",
        "items": [
          {
            "etag": "AiBCAaLa7oluLPDPPBminUfQ6VfdJVAIZCbiSOJMpSg",
            "key": "etags40",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:37:26+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags40?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzODg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AiBCAaLa7oluLPDPPBminUfQ6VfdJVAIZCbiSOJMpSg\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzODk=;sn=73741389"
      },
      "ResponseBody": {
        "etag": "AiBCAaLa7oluLPDPPBminUfQ6VfdJVAIZCbiSOJMpSg",
        "key": "etags40",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:26+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags40"
  }
}
