{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags874?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FnJL4UaX8Cir0hW5rqQhvZFxGwEYl5cd1i5zRLqDqJA\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjk1OA==;sn=113152958",
        "x-ms-date": "Thu, 07 May 2026 20:25:44 GMT"
      },
      "ResponseBody": {
        "etag": "FnJL4UaX8Cir0hW5rqQhvZFxGwEYl5cd1i5zRLqDqJA",
        "key": "etags874",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags874?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"FnJL4UaX8Cir0hW5rqQhvZFxGwEYl5cd1i5zRLqDqJA\"",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjk1OA=="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjk1OA==;sn=113152958",
        "x-ms-date": "Thu, 07 May 2026 20:25:44 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags874",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjk1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QX0CE9KX5tItLaMnWzm4HPMuxeSS0Ujw2JMn4XXxMNA\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjk1OA==;sn=113152958",
        "x-ms-date": "Thu, 07 May 2026 20:25:44 GMT"
      },
      "ResponseBody": {
        "etag": "QX0CE9KX5tItLaMnWzm4HPMuxeSS0Ujw2JMn4XXxMNA",
        "items": [
          {
            "etag": "FnJL4UaX8Cir0hW5rqQhvZFxGwEYl5cd1i5zRLqDqJA",
            "key": "etags874",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:25:44+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags874?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjk1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FnJL4UaX8Cir0hW5rqQhvZFxGwEYl5cd1i5zRLqDqJA\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjk1OQ==;sn=113152959",
        "x-ms-date": "Thu, 07 May 2026 20:25:44 GMT"
      },
      "ResponseBody": {
        "etag": "FnJL4UaX8Cir0hW5rqQhvZFxGwEYl5cd1i5zRLqDqJA",
        "key": "etags874",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:44+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags874"
  }
}
