{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags860?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags860",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nGpQcWPtvhXJELt2S5oKVYLQ8jV9ri_W4W7gwS2vyOc\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MjA=;sn=74231920"
      },
      "ResponseBody": {
        "etag": "nGpQcWPtvhXJELt2S5oKVYLQ8jV9ri_W4W7gwS2vyOc",
        "key": "etags860",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags860?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5MjA="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MjA=;sn=74231920"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags860",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5MjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0RLP14izMwrUipSUjrazB3FlqKkbVN5pWeZF4prXni4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MjA=;sn=74231920"
      },
      "ResponseBody": {
        "etag": "0RLP14izMwrUipSUjrazB3FlqKkbVN5pWeZF4prXni4",
        "items": [
          {
            "etag": "nGpQcWPtvhXJELt2S5oKVYLQ8jV9ri_W4W7gwS2vyOc",
            "key": "etags860",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:43:38+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags860?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5MjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nGpQcWPtvhXJELt2S5oKVYLQ8jV9ri_W4W7gwS2vyOc\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MjE=;sn=74231921"
      },
      "ResponseBody": {
        "etag": "nGpQcWPtvhXJELt2S5oKVYLQ8jV9ri_W4W7gwS2vyOc",
        "key": "etags860",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:38+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags860"
  }
}
