{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags792?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags792",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cnpnMqejlJEIEBUlCQmdhEwqBlIJW-zb9oQdGZKNTcE\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:22:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTkx;sn=59784991"
      },
      "ResponseBody": {
        "etag": "cnpnMqejlJEIEBUlCQmdhEwqBlIJW-zb9oQdGZKNTcE",
        "key": "etags792",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:22:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags792?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTkx"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTkx;sn=59784991"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags792",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTkx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"M2wUQD3qJivxvwOUGi4Mgv9vad2KdvutFqnlU_21yEI\"",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTkx;sn=59784991"
      },
      "ResponseBody": {
        "etag": "M2wUQD3qJivxvwOUGi4Mgv9vad2KdvutFqnlU_21yEI",
        "items": [
          {
            "etag": "cnpnMqejlJEIEBUlCQmdhEwqBlIJW-zb9oQdGZKNTcE",
            "key": "etags792",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2024-10-08T17:22:04+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags792?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTkx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cnpnMqejlJEIEBUlCQmdhEwqBlIJW-zb9oQdGZKNTcE\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:22:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTky;sn=59784992"
      },
      "ResponseBody": {
        "etag": "cnpnMqejlJEIEBUlCQmdhEwqBlIJW-zb9oQdGZKNTcE",
        "key": "etags792",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:22:04+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags792"
  }
}
