{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags584?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-sY2G-P0J_YjD7aNed5k4Li4h8TS22fD49A4WFJF4a4\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM3Ng==;sn=115292376",
        "x-ms-date": "Thu, 28 May 2026 21:54:37 GMT"
      },
      "ResponseBody": {
        "etag": "-sY2G-P0J_YjD7aNed5k4Li4h8TS22fD49A4WFJF4a4",
        "key": "etags584",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags584?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"-sY2G-P0J_YjD7aNed5k4Li4h8TS22fD49A4WFJF4a4\"",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM3Ng=="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM3Ng==;sn=115292376",
        "x-ms-date": "Thu, 28 May 2026 21:54:37 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags584",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM3Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zU8fxM1H1O-NpGUMhACLtu2ZZrlv0yr1djw6On5bKgI\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM3Ng==;sn=115292376",
        "x-ms-date": "Thu, 28 May 2026 21:54:37 GMT"
      },
      "ResponseBody": {
        "etag": "zU8fxM1H1O-NpGUMhACLtu2ZZrlv0yr1djw6On5bKgI",
        "items": [
          {
            "etag": "-sY2G-P0J_YjD7aNed5k4Li4h8TS22fD49A4WFJF4a4",
            "key": "etags584",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:54:37+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags584?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM3Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-sY2G-P0J_YjD7aNed5k4Li4h8TS22fD49A4WFJF4a4\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM3Nw==;sn=115292377",
        "x-ms-date": "Thu, 28 May 2026 21:54:37 GMT"
      },
      "ResponseBody": {
        "etag": "-sY2G-P0J_YjD7aNed5k4Li4h8TS22fD49A4WFJF4a4",
        "key": "etags584",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:37+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags584"
  }
}
