{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags29?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags29",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dOYDLgo6PupK_Nc914kYGlF35tOeH1qopQSE3QKrrQ0\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:37:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5NjU=;sn=75083965",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:38 GMT"
      },
      "ResponseBody": {
        "etag": "dOYDLgo6PupK_Nc914kYGlF35tOeH1qopQSE3QKrrQ0",
        "key": "etags29",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:37:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags29?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"dOYDLgo6PupK_Nc914kYGlF35tOeH1qopQSE3QKrrQ0\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5NjU="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5NjU=;sn=75083965",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:39 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5NjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"XTNo0nn7bO2GJQRQAolP9b81C5P5Jgp3rLm2LvWs8II\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5NjU=;sn=75083965",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:39 GMT"
      },
      "ResponseBody": {
        "etag": "XTNo0nn7bO2GJQRQAolP9b81C5P5Jgp3rLm2LvWs8II",
        "items": [
          {
            "etag": "dOYDLgo6PupK_Nc914kYGlF35tOeH1qopQSE3QKrrQ0",
            "key": "etags29",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:37:38+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags29?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5NjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dOYDLgo6PupK_Nc914kYGlF35tOeH1qopQSE3QKrrQ0\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:37:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5NjY=;sn=75083966",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:39 GMT"
      },
      "ResponseBody": {
        "etag": "dOYDLgo6PupK_Nc914kYGlF35tOeH1qopQSE3QKrrQ0",
        "key": "etags29",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:37:38+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags29"
  }
}
