{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags651?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags651",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KGrSmXy89xq_yhWZxx_RGyc4tItWToDRR7fbA7dOE_k\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDgyOQ==;sn=103584829",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:33 GMT"
      },
      "ResponseBody": {
        "etag": "KGrSmXy89xq_yhWZxx_RGyc4tItWToDRR7fbA7dOE_k",
        "key": "etags651",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags651?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"KGrSmXy89xq_yhWZxx_RGyc4tItWToDRR7fbA7dOE_k\"",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDgyOQ=="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDgyOQ==;sn=103584829",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:34 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags651",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDgyOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iywmG9EL8onam12lkkSN9Yhqb52Q61hnzwKT7o_7xgg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDgyOQ==;sn=103584829",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:34 GMT"
      },
      "ResponseBody": {
        "etag": "iywmG9EL8onam12lkkSN9Yhqb52Q61hnzwKT7o_7xgg",
        "items": [
          {
            "etag": "KGrSmXy89xq_yhWZxx_RGyc4tItWToDRR7fbA7dOE_k",
            "key": "etags651",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T09:01:33+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags651?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDgyOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KGrSmXy89xq_yhWZxx_RGyc4tItWToDRR7fbA7dOE_k\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDgzMA==;sn=103584830",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:34 GMT"
      },
      "ResponseBody": {
        "etag": "KGrSmXy89xq_yhWZxx_RGyc4tItWToDRR7fbA7dOE_k",
        "key": "etags651",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:33+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags651"
  }
}
