{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags568?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags568",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eqXUjfwQfQmW6KaAGiHv5kj1KyZoZu5KVFhft8K8C58\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTA=;sn=73741390"
      },
      "ResponseBody": {
        "etag": "eqXUjfwQfQmW6KaAGiHv5kj1KyZoZu5KVFhft8K8C58",
        "key": "etags568",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags568?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTA="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTA=;sn=73741390"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags568",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"YBFHPvrNqHXqADfh7SLpCo4nDjsYqLe4UsPeiBv25Y8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTA=;sn=73741390"
      },
      "ResponseBody": {
        "etag": "YBFHPvrNqHXqADfh7SLpCo4nDjsYqLe4UsPeiBv25Y8",
        "items": [
          {
            "etag": "eqXUjfwQfQmW6KaAGiHv5kj1KyZoZu5KVFhft8K8C58",
            "key": "etags568",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:37:30+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags568?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eqXUjfwQfQmW6KaAGiHv5kj1KyZoZu5KVFhft8K8C58\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTE=;sn=73741391"
      },
      "ResponseBody": {
        "etag": "eqXUjfwQfQmW6KaAGiHv5kj1KyZoZu5KVFhft8K8C58",
        "key": "etags568",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:30+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags568"
  }
}
