{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags828?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags828",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hOnHxeLFYj0Klk_uUUmVjsTG3XEiR7Y8oXtwMwmWVL0\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:33:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyNDE=;sn=74776241",
        "x-ms-date": "Thu, 23 Oct 2025 05:33:01 GMT"
      },
      "ResponseBody": {
        "etag": "hOnHxeLFYj0Klk_uUUmVjsTG3XEiR7Y8oXtwMwmWVL0",
        "key": "etags828",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:33:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags828?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyNDE="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyNDE=;sn=74776241",
        "x-ms-date": "Thu, 23 Oct 2025 05:33:02 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags828",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyNDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FuECbY7kGq6KXRL7Zsw_JAxumrCFD2U9sIHryUWHe98\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyNDE=;sn=74776241",
        "x-ms-date": "Thu, 23 Oct 2025 05:33:02 GMT"
      },
      "ResponseBody": {
        "etag": "FuECbY7kGq6KXRL7Zsw_JAxumrCFD2U9sIHryUWHe98",
        "items": [
          {
            "etag": "hOnHxeLFYj0Klk_uUUmVjsTG3XEiR7Y8oXtwMwmWVL0",
            "key": "etags828",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:33:01+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags828?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyNDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hOnHxeLFYj0Klk_uUUmVjsTG3XEiR7Y8oXtwMwmWVL0\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:33:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyNDI=;sn=74776242",
        "x-ms-date": "Thu, 23 Oct 2025 05:33:02 GMT"
      },
      "ResponseBody": {
        "etag": "hOnHxeLFYj0Klk_uUUmVjsTG3XEiR7Y8oXtwMwmWVL0",
        "key": "etags828",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:33:01+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags828"
  }
}
