{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags851?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags851",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RmzLrv8RqsjMBnJBIiNXfmRFOchMbrs82eiQ3FJX7Fw\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1ODU=;sn=74105585"
      },
      "ResponseBody": {
        "etag": "RmzLrv8RqsjMBnJBIiNXfmRFOchMbrs82eiQ3FJX7Fw",
        "key": "etags851",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags851?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1ODU="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1ODU=;sn=74105585"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags851",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1ODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"eMdvc8qLhV773-R57vnjUz5LrDz8PINGWwy4JwNNbhg\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1ODU=;sn=74105585"
      },
      "ResponseBody": {
        "etag": "eMdvc8qLhV773-R57vnjUz5LrDz8PINGWwy4JwNNbhg",
        "items": [
          {
            "etag": "RmzLrv8RqsjMBnJBIiNXfmRFOchMbrs82eiQ3FJX7Fw",
            "key": "etags851",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-29T09:43:47+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags851?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1ODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RmzLrv8RqsjMBnJBIiNXfmRFOchMbrs82eiQ3FJX7Fw\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1ODY=;sn=74105586"
      },
      "ResponseBody": {
        "etag": "RmzLrv8RqsjMBnJBIiNXfmRFOchMbrs82eiQ3FJX7Fw",
        "key": "etags851",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:47+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags851"
  }
}
