{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags175?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags175",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VyJRN11pZnVoWr1cifEGM6JitIdeP_u3ESL_3h3Lx5Q\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTk4OQ==;sn=102479989",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:32 GMT"
      },
      "ResponseBody": {
        "etag": "VyJRN11pZnVoWr1cifEGM6JitIdeP_u3ESL_3h3Lx5Q",
        "key": "etags175",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags175?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTk4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTk4OQ==;sn=102479989",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:33 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags175",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTk4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"KkVRspqMoVzyjq509JmwqV0b-u6ljgKTyXRsJ-KCu0g\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTk4OQ==;sn=102479989",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:33 GMT"
      },
      "ResponseBody": {
        "etag": "KkVRspqMoVzyjq509JmwqV0b-u6ljgKTyXRsJ-KCu0g",
        "items": [
          {
            "etag": "VyJRN11pZnVoWr1cifEGM6JitIdeP_u3ESL_3h3Lx5Q",
            "key": "etags175",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:22:32+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags175?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTk4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VyJRN11pZnVoWr1cifEGM6JitIdeP_u3ESL_3h3Lx5Q\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTk5MA==;sn=102479990",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:33 GMT"
      },
      "ResponseBody": {
        "etag": "VyJRN11pZnVoWr1cifEGM6JitIdeP_u3ESL_3h3Lx5Q",
        "key": "etags175",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:32+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags175"
  }
}
