{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags806?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags806",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M3bfqHOuITPXhvcM2vm7SfqLbbp2NJWlenE1eHHVxdQ\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNTA=;sn=74235350"
      },
      "ResponseBody": {
        "etag": "M3bfqHOuITPXhvcM2vm7SfqLbbp2NJWlenE1eHHVxdQ",
        "key": "etags806",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags806?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"M3bfqHOuITPXhvcM2vm7SfqLbbp2NJWlenE1eHHVxdQ\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNTA="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNTA=;sn=74235350"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags806",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GKNE3Y7Z4gXoXvHI8lerUqNTTrmOimZri1fO3FHNmQs\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNTA=;sn=74235350"
      },
      "ResponseBody": {
        "etag": "GKNE3Y7Z4gXoXvHI8lerUqNTTrmOimZri1fO3FHNmQs",
        "items": [
          {
            "etag": "M3bfqHOuITPXhvcM2vm7SfqLbbp2NJWlenE1eHHVxdQ",
            "key": "etags806",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T17:07:26+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags806?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M3bfqHOuITPXhvcM2vm7SfqLbbp2NJWlenE1eHHVxdQ\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNTE=;sn=74235351"
      },
      "ResponseBody": {
        "etag": "M3bfqHOuITPXhvcM2vm7SfqLbbp2NJWlenE1eHHVxdQ",
        "key": "etags806",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:26+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags806"
  }
}
