{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags556?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J3wV19vVVXnDFWevdZ1U0pP5yQCIgLYGAVvfOKpb7i4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:42:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc3NA==;sn=53372774",
        "x-ms-date": "Mon, 15 Jun 2026 18:42:08 GMT"
      },
      "ResponseBody": {
        "etag": "J3wV19vVVXnDFWevdZ1U0pP5yQCIgLYGAVvfOKpb7i4",
        "key": "etags556",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:42:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags556?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjc3NA=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc3NA==;sn=53372774",
        "x-ms-date": "Mon, 15 Jun 2026 18:42:08 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=etags556",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjc3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"cymBpZJalFFK1s5Db1doZ3G4Y4H-hp2PxXtzjTadpVQ\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc3NA==;sn=53372774",
        "x-ms-date": "Mon, 15 Jun 2026 18:42:08 GMT"
      },
      "ResponseBody": {
        "etag": "cymBpZJalFFK1s5Db1doZ3G4Y4H-hp2PxXtzjTadpVQ",
        "items": [
          {
            "etag": "J3wV19vVVXnDFWevdZ1U0pP5yQCIgLYGAVvfOKpb7i4",
            "key": "etags556",
            "label": null,
            "content_type": null,
            "value": "world",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:42:08+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags556?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjc3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J3wV19vVVXnDFWevdZ1U0pP5yQCIgLYGAVvfOKpb7i4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:42:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc3NQ==;sn=53372775",
        "x-ms-date": "Mon, 15 Jun 2026 18:42:08 GMT"
      },
      "ResponseBody": {
        "etag": "J3wV19vVVXnDFWevdZ1U0pP5yQCIgLYGAVvfOKpb7i4",
        "key": "etags556",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:42:08+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags556"
  }
}
