{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2/clusters/Cluster-1/hosts?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2/clusters/Cluster-1/hosts/esx04-r01.p02.westus2.avs.azure.com",
            "name": "esx04-r01.p02.westus2.avs.azure.com",
            "properties": {
              "displayName": "esx04-r01.p02.42f432da2fd3468e9c7239.westus2.avs.azure.com",
              "fqdn": "esx04-r01.p02.westus2.avs.azure.com",
              "kind": "General"
            },
            "sku": {
              "name": "av36"
            },
            "type": "Microsoft.AVS/privateClouds/clusters/hosts",
            "zones": [
              "3"
            ]
          },
          {
            "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2/clusters/Cluster-1/hosts/esx13-r02.p02.westus2.avs.azure.com",
            "name": "esx13-r02.p02.westus2.avs.azure.com",
            "properties": {
              "displayName": "esx13-r02.p02.42f432da2fd3468e9c7239.westus2.avs.azure.com",
              "fqdn": "esx13-r02.p02.wes[...]
