{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/assets?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=acef3bcf04505b9be0145ad952f86ec4"
      },
      "RequestBody": [
        "--acef3bcf04505b9be0145ad952f86ec4\r\n",
        "Content-Disposition: form-data; name=\"file\"; filename=\"test-asset-to-delete.txt\"\r\n",
        "\r\n",
        "b64:VGVzdCBhc3NldCBjb250ZW50IGZvciBkZWxldGlvbg==",
        "\r\n",
        "--acef3bcf04505b9be0145ad952f86ec4\r\n",
        "Content-Disposition: form-data; name=\"data\"\r\n",
        "\r\n",
        "b64:eyJrZXkiOiAidGVzdC1hc3NldC10by1iZS1kZWxldGVkIiwgImhyZWYiOiAiaHR0cHM6Ly9leGFtcGxlLmNvbS90ZXN0LWFzc2V0LXRvLWRlbGV0ZS50eHQiLCAidHlwZSI6ICJ0ZXh0L3BsYWluIiwgInJvbGVzIjogWyJtZXRhZGF0YSJdLCAidGl0bGUiOiAiVGVzdCBBc3NldCBUbyBCZSBEZWxldGVkIn0=",
        "\r\n",
        "--acef3bcf04505b9be0145ad952f86ec4--\r\n"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "naip-atl",
        "stac_version": "1.0.0",
        "description": "A Subset of imagery for sample MPC Pro GeoCatalog deployments. - Updated for testing",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl"
          }
        ],
        "msft:_created": "2026-01-30T10:56:11.2180317Z",
        "msft:_updated": "2026-02-18T21:51:08.569053Z",
        "title": "MPC Pro Sample Datasets",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -85.605165,
                30.357851,
                -80.839729,
                35.000659
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2020-01-01T00:00:00Z",
                "2099-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "providers": [
          {
            "name": "USDA Farm Service Agency",
            "roles": [
              "producer",
              "licensor"
            ],
            "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/"
          },
          {
            "name": "Esri",
            "roles": [
              "processor"
            ],
            "url": "https://www.esri.com/"
          },
          {
            "name": "Microsoft",
            "roles": [
              "host",
              "processor"
            ],
            "url": "https://planetarycomputer.microsoft.com"
          }
        ],
        "summaries": {
          "gsd": [
            0.3,
            0.6,
            1
          ],
          "eo:bands": [
            {
              "name": "Red",
              "common_name": "red",
              "description": "visible red"
            },
            {
              "name": "Green",
              "common_name": "green",
              "description": "visible green"
            },
            {
              "name": "Blue",
              "common_name": "blue",
              "description": "visible blue"
            },
            {
              "name": "NIR",
              "common_name": "nir",
              "description": "near-infrared"
            }
          ]
        },
        "assets": {
          "thumbnail": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-1232d7af/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "title": "Collection Thumbnail",
            "roles": [
              "thumbnail"
            ]
          },
          "test-asset": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-1232d7af/collection-assets/test-asset/test-asset.txt",
            "type": "text/plain",
            "title": "Test Asset - Updated",
            "roles": [
              "metadata"
            ]
          },
          "test-asset-to-be-deleted": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-1232d7af/collection-assets/test-asset-to-be-deleted/test-asset-to-delete.txt",
            "type": "text/plain",
            "title": "Test Asset To Be Deleted",
            "roles": [
              "metadata"
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/assets/test-asset-to[...]
