{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/fake-collection/items?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "stac_version": "1.0.0",
        "type": "Feature",
        "id": "ga_m_3308421_se_16_060_20211114_delete_test",
        "collection": "fake-collection",
        "bbox": [
          -84.44157,
          33.621853,
          -84.370894,
          33.690654
        ],
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [
                -84.372943,
                33.621853
              ],
              [
                -84.370894,
                33.689211
              ],
              [
                -84.439575,
                33.690654
              ],
              [
                -84.44157,
                33.623293
              ],
              [
                -84.372943,
                33.621853
              ]
            ]
          ]
        },
        "properties": {
          "gsd": 0.6,
          "datetime": "2021-11-14T16:00:00Z",
          "fake-collection:year": "2021",
          "proj:bbox": [
            737334.0,
            3723324.0,
            743706.0,
            3730800.0
          ],
          "proj:epsg": 26916,
          "fake-collection:state": "ga",
          "proj:shape": [
            12460,
            10620
          ],
          "proj:transform": [
            0.6,
            0.0,
            737334.0,
            0.0,
            -0.6,
            3730800.0,
            0.0,
            0.0,
            1.0
          ]
        },
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://planetarycomputer.microsoft.com/api/stac/v1/collections/fake-collection"
          }
        ],
        "assets": {
          "image": {
            "href": "https://SANITIZED.blob.core.windows.net/fake-collection/v002/ga/2021/ga_060cm_2021/33084/m_3308421_se_16_060_20211114.tif",
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile"
          }
        },
        "stac_extensions": [
          "https://stac-extensions.github.io/projection/v1.0.0/schema.json"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/ceeb2aa1-9c87-46b4-8077-184f32696e7a?api-version=2026-04-15",
        "operation-location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-04-16T20:41:46.0610217Z"
          }
        ],
        "type": "AddItem",
        "creationTime": "2026-04-16T20:41:46.0610209Z",
        "collectionId": "fake-collection"
      }
    },
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-04-16T20:41:46.0610217Z"
          }
        ],
        "type": "AddItem",
        "creationTime": "2026-04-16T20:41:46.0610209Z",
        "collectionId": "fake-collection"
      }
    },
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-04-16T20:41:46.06102Z"
          },
          {
            "status": "Running",
            "timestamp": "2026-04-16T20:41:47.082595Z"
          },
          {
            "status": "Finished",
            "timestamp": "2026-04-16T20:41:53.051551Z"
          }
        ],
        "type": "AddItem",
        "creationTime": "2026-04-16T20:41:46.06102Z",
        "startTime": "2026-04-16T20:41:46.06102Z",
        "finishTime": "2026-04-16T20:41:53.051551Z",
        "collectionId": "fake-collection",
        "additionalInformation": {
          "TotalFailedItems": "0",
          "TotalItems": "1",
          "TotalPendingItems": "0",
          "TotalSuccessfulItems": "1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/fake-collection/items/ga_m_3308421_se_16_060_20211114_delete_test?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "id": "ga_m_3308421_se_16_060_20211114_delete_test",
[...]
[...]
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/fake-collection/items/ga_m_3308421_se_16_060_20211114_delete_test?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ResourceNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Resource not found at '/stac/collections/fake-collection/items/ga_m_3308421_se_16_060_20211114_delete_test' with parameters {'collection_id': 'fake-collection', 'item_id': 'ga_m_3308421_se_16_060_20211114_delete_test'}. Check the parameters and try again."
        }
      }
    }
  ],
  "Variables": {}
}
