{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/items/ga_m_3308421_se_16_060_20211114_test?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "id": "ga_m_3308421_se_16_060_20211114_test",
        "bbox": [
          -84.44157,
          33.621853,
          -84.370894,
          33.690654
        ],
        "type": "Feature",
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/items/ga_m_3308421_se_16_060_20211114_test"
          }
        ],
        "assets": {
          "image": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-bf48131e/08a/ga_m_3308421_se_16_060_20211114_test/image.tif",
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile"
          }
        },
        "_msft:ts": "2026-04-16T12:19:39.262875Z",
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [
                -84.372943,
                33.621853
              ],
              [
                -84.370894,
                33.689211
              ],
              [
                -84.439575,
                33.690654
              ],
              [
                -84.44157,
                33.623293
              ],
              [
                -84.372943,
                33.621853
              ]
            ]
          ]
        },
        "_msft:etag": "8b8812d4-de58-46a3-9c54-16a9bcc3b9a5",
        "collection": "naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl",
        "properties": {
          "gsd": 0.6,
          "datetime": "2021-11-14T16:00:00Z",
          "naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl:year": "2021",
          "proj:bbox": [
            737334.0,
            3723324.0,
            743706.0,
            3730800.0
          ],
          "proj:epsg": 26916,
          "naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl:state": "ga",
          "proj:shape": [
            12460,
            10620
          ],
          "proj:transform": [
            0.6,
            0.0,
            737334.0,
            0.0,
            -0.6,
            3730800.0,
            0.0,
            0.0,
            1.0
          ]
        },
        "stac_extensions": [
          "https://stac-extensions.github.io/projection/v1.1.0/schema.json"
        ],
        "stac_version": "1.0.0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-04-16T12:20:04.6259681Z"
          }
        ],
        "type": "UpdateItem",
        "creationTime": "2026-04-16T12:20:04.6259667Z",
        "collectionId": "naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl"
      }
    },
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Failed",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-04-16T12:20:04.625966Z"
          },
          {
            "status": "Running",
            "timestamp": "2026-04-16T12:20:05.108966Z"
          },
          {
            "status": "Failed",
            "timestamp": "2026-04-16T12:20:10.50519Z",
            "errorCode": "PublicAccessRestricted",
            "errorMessage": "Asset transformation exception. Reason: Error retrieving content from public source. Reason: Public access is not permitted on this storage account. The Azure Storage account has public access disabled. To ingest data, either enable public access on the storage account, configure appropriate access policies, or use authentication (SAS tokens or managed identity). Learn more about Ingestion Sources: https://aka.ms/mpcpro-ingestion-source. Source: https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-bf48131e/08a/ga_m_3308421_se_16_060_20211114_test/image.tif. Source: https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-bf48131e/08a/ga_m_3308421_se_16_060_20211114_test/image.tif"
          }
        ],
        "type": "UpdateItem",
        "creationTime": "2026-04-16T12:20:04.625966Z",
        "startTime": "2026-04-16T12:20:04.625966Z",
        "finishTime": "2026-04-16T12:20:10.50519Z",
        "collectionId": "naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl",
        "additionalInformation": {
          "TotalFailedItems": "1",
          "TotalItems": "1",
          "TotalPendingItems": "0",
          "TotalSuccessfulItems": "0"
        },
        "error": {
          "error": {
            "code": "PublicAccessRestricted",
            "message": "Asset transformation exception. Reason: Error retrieving content from public source. Reason: Public access is not permitted on this storage account. The Azure Storage account has public access disabled. To ingest data, either enable public access on the storage account, configure appropriate access policies, or use authentication (SAS tokens or managed identity). Learn more about Ingestion Sources: https://aka.ms/mpcpro-ingestion-source. Source: https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-bf48131e/08a/ga_m_3308421_se_16_060_20211114_test/image.tif. Source: https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-bf48131e/08a/ga_m_3308421_se_16_060_20211114_test/image.tif"
          }
        }
      }
    }
  ],
  "Variables": {}
}
