{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114_test?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "id": "ga_m_3308421_se_16_060_20211114_test",
        "bbox": [
          -84.44157,
          33.621853,
          -84.370894,
          33.690654
        ],
        "type": "Feature",
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114_test"
          }
        ],
        "assets": {
          "image": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-00000000/08a/ga_m_3308421_se_16_060_20211114_test/image.tif",
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile"
          }
        },
        "_msft:ts": "2026-05-12T12:17:25.252352Z",
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [
                -84.372943,
                33.621853
              ],
              [
                -84.370894,
                33.689211
              ],
              [
                -84.439575,
                33.690654
              ],
              [
                -84.44157,
                33.623293
              ],
              [
                -84.372943,
                33.621853
              ]
            ]
          ]
        },
        "_msft:etag": "7766316a-f81e-4ca6-8a87-e9ae775be49c",
        "collection": "naip",
        "properties": {
          "gsd": 0.6,
          "datetime": "2021-11-14T16:00:00Z",
          "naip:year": "2021",
          "proj:bbox": [
            737334.0,
            3723324.0,
            743706.0,
            3730800.0
          ],
          "proj:epsg": 26916,
          "naip:state": "ga",
          "proj:shape": [
            12460,
            10620
          ],
          "proj:transform": [
            0.6,
            0.0,
            737334.0,
            0.0,
            -0.6,
            3730800.0,
            0.0,
            0.0,
            1.0
          ]
        },
        "stac_extensions": [
          "https://stac-extensions.github.io/projection/v1.1.0/schema.json"
        ],
        "stac_version": "1.0.0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-05-12T12:21:29.0754456Z"
          }
        ],
        "type": "UpdateItem",
        "creationTime": "2026-05-12T12:21:29.0754432Z",
        "collectionId": "naip"
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-05-12T12:21:29.075443Z"
          },
          {
            "status": "Running",
            "timestamp": "2026-05-12T12:21:29.592135Z"
          },
          {
            "status": "Finished",
            "timestamp": "2026-05-12T12:21:36.26856Z"
          }
        ],
        "type": "UpdateItem",
        "creationTime": "2026-05-12T12:21:29.075443Z",
        "startTime": "2026-05-12T12:21:29.075443Z",
        "finishTime": "2026-05-12T12:21:36.26856Z",
        "collectionId": "naip",
        "additionalInformation": {
          "TotalFailedItems": "0",
          "TotalItems": "1",
          "TotalPendingItems": "0",
          "TotalSuccessfulItems": "1"
        }
      }
    },
[...]
