{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/data/mosaic/register?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": {
          "op": "and",
          "args": [
            {
              "op": "=",
              "args": [
                {
                  "property": "collection"
                },
                "fake-collection"
              ]
            },
            {
              "op": ">=",
              "args": [
                {
                  "property": "datetime"
                },
                "2021-01-01T00:00:00Z"
              ]
            },
            {
              "op": "<=",
              "args": [
                {
                  "property": "datetime"
                },
                "2022-12-31T23:59:59Z"
              ]
            }
          ]
        },
        "filter-lang": "cql2-json",
        "sortby": [
          {
            "direction": "desc",
            "field": "datetime"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "searchid": "5bdb874db9ec386ccd82e56af5d216a3",
        "links": [
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/5bdb874db9ec386ccd82e56af5d216a3/info",
            "rel": "metadata",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/5bdb874db9ec386ccd82e56af5d216a3/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/5bdb874db9ec386ccd82e56af5d216a3/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/data/mosaic/searches/5bdb874db9ec386ccd82e56af5d216a3/tilejson.json?api-version=2026-04-15&assets=image&asset_bidx=image%7C1,2,3&TileMatrixSetId=WebMercatorQuad&tile_format=png&tile_scale=1&minzoom=9&collection=fake-collection",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "tilejson": "2.2.0",
        "name": "5bdb874db9ec386ccd82e56af5d216a3",
        "version": "1.0.0",
        "scheme": "xyz",
        "tiles": [
          "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/searches/5bdb874db9ec386ccd82e56af5d216a3/tiles/WebMercatorQuad/{z}/{x}/{y}?api-version=2026-04-15&assets=image&asset_bidx=image%7C1%2C2%2C3&collection=fake-collection"
        ],
        "minzoom": 9,
        "maxzoom": 24,
        "bounds": [
          -180.0,
          -85.0511287798066,
          180.00000000000009,
          85.0511287798066
        ],
        "center": [
          4.263256414560601e-14,
          0.0,
          9
        ]
      }
    }
  ],
  "Variables": {}
}
