{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/naip-atl-atl-atl-atl/assets/test-asset?api-version=2026-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ResourceNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Asset key 'test-asset' not found in collection 'naip-atl-atl-atl-atl'. Please verify the asset key and collection ID, and try again."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/naip-atl-atl-atl-atl/assets?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=bc118702efa84f27371b2b487a24cb45"
      },
      "RequestBody": [
        "--bc118702efa84f27371b2b487a24cb45\r\n",
        "Content-Disposition: form-data; name=\"file\"; filename=\"test-asset.txt\"\r\n",
        "\r\n",
        "b64:VGVzdCBhc3NldCBjb250ZW50",
        "\r\n",
        "--bc118702efa84f27371b2b487a24cb45\r\n",
        "Content-Disposition: form-data; name=\"data\"\r\n",
        "\r\n",
        "b64:eyJrZXkiOiAidGVzdC1hc3NldCIsICJocmVmIjogImh0dHBzOi8vZXhhbXBsZS5jb20vdGVzdC1hc3NldC50eHQiLCAidHlwZSI6ICJ0ZXh0L3BsYWluIiwgInJvbGVzIjogWyJtZXRhZGF0YSJdLCAidGl0bGUiOiAiVGVzdCBBc3NldCJ9",
        "\r\n",
        "--bc118702efa84f27371b2b487a24cb45--\r\n"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "naip-atl-atl-atl-atl",
        "stac_version": "1.0.0",
        "description": "NAIP imagery for SDK testing",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl"
          }
        ],
        "item_assets": {
          "image": {
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile"
          }
        },
        "msft:_created": "2026-04-16T11:51:49.2030049Z",
        "msft:_updated": "2026-04-16T15:12:02.337759Z",
        "title": "NAIP Test Dataset",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -85.605165,
                30.357851,
                -80.839729,
                35.000659
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2020-01-01T00:00:00Z",
                "2099-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "assets": {
          "thumbnail": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-bf48131e/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "title": "Collection Thumbnail",
            "description": "Thumbnail image for the collection",
            "roles": [
              "thumbnail"
            ]
          },
          "test-asset": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-bf48131e/collection-assets/test-asset/test-asset.txt",
            "type": "text/plain",
            "title": "Test Asset",
            "roles": [
              "metadata"
            ]
          }
        }
      }
    }
  ],
  "Variables": {}
}
