{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/queryables?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"name\": \"test:property_to_be_deleted\", \"data_type\": \"number\", \"create_index\": false, \"definition\": {\"description\": \"Test property for deletion\"}}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[{\"name\":\"test:property_to_be_deleted\",\"definition\":{\"description\":\"Test property for deletion\"},\"create_index\":false,\"data_type\":\"number\"}]"
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/queryables?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/schema+json"
      },
      "ResponseBody": {
        "$id": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/queryables?api-version=2026-04-15",
        "type": "object",
        "title": "STAC Queryables.",
        "$schema": "http://json-schema.org/draft-07/schema#",
        "properties": {
          "id": {
            "$ref": "https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id",
            "title": "Item ID",
            "description": "Item identifier"
          },
          "datetime": {
            "type": "string",
            "title": "Acquired",
            "format": "date-time",
            "pattern": "(\\+00:00|Z)$",
            "description": "Datetime"
          },
          "geometry": {
            "$ref": "https://geojson.org/schema/Feature.json",
            "title": "Item Geometry",
            "description": "Item Geometry"
          },
          "test:property": {
            "description": "Test property - updated"
          },
          "test:property_to_be_deleted": {
            "description": "Test property for deletion"
          }
        },
        "additionalProperties": true
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/queryables/test:property_to_be_deleted?api-version=2026-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
