{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/configurations/tile-settings?api-version=2026-04-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "maxItemsPerTile": 35,
        "minZoom": 6
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "minZoom": 6,
        "maxItemsPerTile": 35,
        "defaultLocation": null
      }
    }
  ],
  "Variables": {}
}
