{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/fake-collection/configurations/render-options/test-natural-color?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "test-natural-color",
        "name": "Test Natural color updated",
        "description": "RGB from visual assets - updated",
        "type": "raster-tile",
        "options": "assets=image&asset_bidx=image|1,2,3",
        "minZoom": 6
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/fake-collection/configurations/render-options?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "test-natural-color",
        "name": "Test Natural color",
        "type": "raster-tile",
        "options": "assets=image&asset_bidx=image|1,2,3",
        "minZoom": 6
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "test-natural-color",
        "name": "Test Natural color",
        "type": "raster-tile",
        "options": "assets=image&asset_bidx=image|1,2,3",
        "minZoom": 6
      }
    }
  ],
  "Variables": {}
}
