{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/naip-atl-atl-atl-atl?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "naip-atl-atl-atl-atl",
        "type": "Collection",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl"
          },
          {
            "rel": "http://www.opengis.net/def/rel/ogc/1.0/queryables",
            "type": "application/schema+json",
            "title": "Queryables",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl/queryables"
          }
        ],
        "title": "NAIP Test Dataset",
        "assets": {
          "thumbnail": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-bf48131e/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "roles": [
              "thumbnail"
            ],
            "title": "Collection Thumbnail",
            "description": "Thumbnail image for the collection"
          }
        },
        "extent": {
          "spatial": {
            "bbox": [
              [
                -85.605165,
                30.357851,
                -80.839729,
                35.000659
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2020-01-01T00:00:00Z",
                "2099-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "description": "NAIP imagery for SDK testing",
        "item_assets": {
          "image": {
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile"
          }
        },
        "stac_version": "1.0.0",
        "msft:_created": "2026-04-16T11:51:49.2030049Z",
        "msft:_updated": "2026-04-16T14:10:15.966411Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/sas/sign?api-version=2026-04-15&href=https%3A%2F%2FSANITIZED.blob.core.windows.net%2Fnaip-atl-atl-atl-atl-00000000%2Fcollection-assets%2Fthumbnail%2Fthumbnail.png",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "msft:expiry": "2026-04-17T14:11:20Z",
        "href": "https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-bf48131e/collection-assets/thumbnail/thumbnail.png?st=Sanitized&se=Sanitized&sp=rl&sv=Sanitized&sr=c&skoid=fff67d55-f141-45bc-9972-65e021a426ad&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-04-16T13%3A55%3A13Z&ske=2026-04-23T13%3A54%3A13Z&sks=b&skv=2025-01-05&sig=Sanitized"
      }
    }
  ],
  "Variables": {}
}
