{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/register?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "collections": [
          "naip"
        ],
        "filter-lang": "cql2-json",
        "filter": {
          "op": "anyinteracts",
          "args": [
            {
              "property": "datetime"
            },
            {
              "interval": [
                "2021-01-01T00:00:00Z",
                "2022-12-31T00:00:00Z"
              ]
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "searchid": "d83df59d4907b9bf1296f8d370594b5b",
        "links": [
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/d83df59d4907b9bf1296f8d370594b5b/info",
            "rel": "metadata",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/d83df59d4907b9bf1296f8d370594b5b/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/d83df59d4907b9bf1296f8d370594b5b/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/searches/d83df59d4907b9bf1296f8d370594b5b/point/-84.386,33.676?api-version=2026-04-15&assets=image",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "coordinates": [
          -84.386,
          33.676
        ],
        "values": [
          [
            "naip/ga_m_3308421_se_16_060_20211114_test",
            [
              52,
              75,
              75,
              86
            ],
            [
              "image_b1",
              "image_b2",
              "image_b3",
              "image_b4"
            ]
          ],
          [
            "naip/ga_m_3308421_se_16_060_20211114",
            [
              52,
              75,
              75,
              86
            ],
            [
              "image_b1",
              "image_b2",
              "image_b3",
              "image_b4"
            ]
          ]
        ]
      }
    }
  ],
  "Variables": {}
}
