{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/tiles?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "tilesets": [
          {
            "title": "tileset tiled using CDB1GlobalGrid TileMatrixSet",
            "description": null,
            "dataType": "map",
            "crs": "http://www.opengis.net/def/crs/EPSG/0/4326",
            "tileMatrixSetURI": null,
            "links": [
              {
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/tiles/CDB1GlobalGrid?api-version=2026-04-15",
                "rel": "self",
                "type": "application/json",
                "templated": null,
                "varBase": null,
                "hreflang": null,
                "title": "Tileset tiled using CDB1GlobalGrid TileMatrixSet",
                "length": null
              },
              {
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/tiles/CDB1GlobalGrid/{z}/{x}/{y}?api-version=2026-04-15",
                "rel": "tile",
                "type": null,
                "templated": null,
                "varBase": null,
                "hreflang": null,
                "title": "Templated link for retrieving Raster tiles",
                "length": null
              }
            ],
            "tileMatrixSetLimits": null,
            "epoch": null,
            "layers": null,
            "boundingBox": {
              "lowerLeft": [
                -84.44157,
                33.621853
              ],
              "upperRight": [
                -84.370894,
                33.690654
              ],
              "crs": "http://www.opengis.net/def/crs/EPSG/0/4326",
              "orderedAxes": null
            },
            "centerPoint": null,
            "style": null,
            "attribution": null,
            "license": null,
            "accessConstraints": "unclassified",
            "keywords": null,
            "version": null,
            "created": null,
            "updated": null,
            "pointOfContact": null,
            "mediaTypes": null
          },
          {
            "title": "tileset tiled using CanadianNAD83_LCC TileMatrixSet",
            "description": null,
            "dataType": "map",
            "crs": "http://www.opengis.net/def/crs/EPSG/0/3978",
            "tileMatrixSetURI": null,
            "links": [
              {
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/tiles/Canadian[...]
