{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/bounds?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ServerError"
      },
      "ResponseBody": {
        "error": {
          "code": "ServerError",
          "message": "An unexpected error occurred."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/bounds?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "bounds": [
          -84.44157,
          33.621853,
          -84.370894,
          33.690654
        ]
      }
    }
  ],
  "Variables": {}
}
