{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/data/legend/interval/modis-64A1?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[[[-2,0],[0,0,0,0]],[[1,32],[255,255,178,255]],[[32,60],[255,236,147,255]],[[60,91],[254,218,115,255]],[[91,121],[254,198,89,255]],[[121,152],[254,175,77,255]],[[152,182],[253,152,66,255]],[[182,213],[251,126,55,255]],[[213,244],[246,96,45,255]],[[244,274],[241,66,35,255]],[[274,305],[226,43,34,255]],[[305,335],[208,21,36,255]],[[335,366],[189,0,38,255]]]"
    }
  ],
  "Variables": {}
}
