{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/collections/fake-collection/assets/test-asset?api-version=2026-04-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=ac86cfdc73fc42dba1894d70ede814a7"
      },
      "RequestBody": [
        "--ac86cfdc73fc42dba1894d70ede814a7\r\n",
        "Content-Type: application/octet-stream\r\n",
        "Content-Disposition: form-data; name=\"file\"; filename=\"test-asset.txt\"\r\n",
        "\r\n",
        "b64:VGVzdCBhc3NldCBjb250ZW50IC0gdXBkYXRlZA==",
        "\r\n",
        "--ac86cfdc73fc42dba1894d70ede814a7\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=\"data\"\r\n",
        "\r\n",
        "{\"key\": \"test-asset\", \"href\": \"https://example.com/test-asset-updated.txt\", \"type\": \"text/plain\", \"roles\": [\"metadata\"], \"title\": \"Test Asset - Updated\"}",
        "\r\n",
        "--ac86cfdc73fc42dba1894d70ede814a7--\r\n"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "fake-collection",
        "stac_version": "1.0.0",
        "description": "NAIP imagery for SDK testing",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/fake-collection/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/fake-collection"
          }
        ],
        "item_assets": {
          "image": {
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile"
          }
        },
        "msft:_created": "2026-04-16T11:51:49.2030049Z",
        "msft:_updated": "2026-04-16T20:18:31.950926Z",
        "title": "NAIP Test Dataset",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -85.605165,
                30.357851,
                -80.839729,
                35.000659
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2020-01-01T00:00:00Z",
                "2099-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "assets": {
          "thumbnail": {
            "href": "https://SANITIZED.blob.core.windows.net/fake-collection-bf48131e/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "title": "Collection Thumbnail",
            "roles": [
              "thumbnail"
            ]
          },
          "test-asset": {
            "href": "https://SANITIZED.blob.core.windows.net/fake-collection-bf48131e/collection-assets/test-asset/test-asset.txt",
            "type": "text/plain",
            "title": "Test Asset - Updated",
            "roles": [
              "metadata"
            ]
          }
        }
      }
    }
  ],
  "Variables": {}
}
