{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl/configurations/mosaics?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[{\"id\":\"default\",\"name\":\"Default\",\"description\":\"\",\"cql\":[]},{\"id\":\"test-mosaic-1\",\"name\":\"Test Most recent available\",\"description\":\"Most recent available imagery in this collection - updated\",\"cql\":[]}]"
    }
  ],
  "Variables": {}
}
