{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/register?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": {
          "op": "and",
          "args": [
            {
              "op": "=",
              "args": [
                {
                  "property": "collection"
                },
                "naip"
              ]
            },
            {
              "op": ">=",
              "args": [
                {
                  "property": "datetime"
                },
                "2021-01-01T00:00:00Z"
              ]
            },
            {
              "op": "<=",
              "args": [
                {
                  "property": "datetime"
                },
                "2022-12-31T23:59:59Z"
              ]
            }
          ]
        },
        "filter-lang": "cql2-json",
        "sortby": [
          {
            "direction": "desc",
            "field": "datetime"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "searchid": "5bdb874db9ec386ccd82e56af5d216a3",
        "links": [
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/5bdb874db9ec386ccd82e56af5d216a3/info",
            "rel": "metadata",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/5bdb874db9ec386ccd82e56af5d216a3/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/5bdb874db9ec386ccd82e56af5d216a3/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/searches/5bdb874db9ec386ccd82e56af5d216a3/point/-84.43202751899601,33.63964763972227/assets?api-version=2026-04-15&scan_limit=100&items_limit=100&time_limit=30&exitwhenfull=true&skipcovered=true&coord_crs=EPSG%3A4326",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[{\"id\":\"ga_m_3308421_se_16_060_20211114_test\",\"bbox\":[-84.44157,33.621853,-84.370894,33.690654],\"assets\":{\"image\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-bf48131e/08a/ga_m_3308421_se_16_060_20211114_test/image.tif\",\"type\":\"image/tiff; application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"RGBIR COG tile\"}},\"collection\":\"naip\"},{\"id\":\"ga_m_3308421_se_16_060_20211114\",\"bbox\":[-84.44157,33.621853,-84.370894,33.690654],\"assets\":{\"image\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/image.tif\",\"type\":\"image/tiff; application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"RGBIR COG tile\",\"eo:bands\":[{\"name\":\"Red\",\"common_name\":\"red\"},{\"name\":\"Green\",\"common_name\":\"green\"},{\"name\":\"Blue\",\"common_name\":\"blue\"},{\"name\":\"NIR\",\"common_name\":\"nir\",\"description\":\"near-infrared\"}]},\"tilejson\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/tilejson.json\",\"type\":\"application/json\",\"roles\":[\"tiles\"],\"title\":\"TileJSON with default rendering\"},\"thumbnail\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/thumbnail.jpg\",\"type\":\"image/jpeg\",\"roles\":[\"thumbnail\"],\"title\":\"Thumbnail\"},\"rendered_preview\":{\"rel\":\"preview\",\"href\":\"https://SANITIZED.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/rendered_preview.png\",\"type\":\"image/png\",\"roles\":[\"overview\"],\"title\":\"Rendered preview\"}},\"collection\":\"naip\"}]"
    }
  ],
  "Variables": {}
}
