{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Pending",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-05-12T13:29:01.8212995Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2026-05-12T13:29:01.8212981Z",
            "collectionId": "naip"
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceling",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-05-12T13:28:54.592742Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-05-12T13:28:57.18609Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2026-05-12T13:28:54.592742Z",
            "startTime": "2026-05-12T13:28:54.592742Z",
            "collectionId": "naip",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "1050",
              "TotalPendingItems": "1050",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceling",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-05-12T13:28:52.023047Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-05-12T13:28:54.441287Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "c[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-05-12T13:29:01.8212995Z"
          }
        ],
        "type": "IngestionStaticCatalog",
        "creationTime": "2026-05-12T13:29:01.8212981Z",
        "collectionId": "naip"
      }
    }
  ],
  "Variables": {}
}
