{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip/ingestions?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for List Runs Test",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "keepOriginalAssets": true,
        "skipExistingItems": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-04-21T09:26:43.3513014Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for List Runs Test",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs/2c6e25e4-db11-45e2-abb6-c5d8e1349019?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-04-21T09:26:43.4479845Z",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "00000000-0000-0000-0000-000000000000",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2026-04-21T09:26:43.4263329Z"
            }
          ],
          "creationTime": "2026-04-21T09:26:43.4263314Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "creationTime": "2026-04-21T09:26:43.4479845Z",
            "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
            "skipExistingItems": true,
            "keepOriginalAssets": true,
            "operation": {
              "id": "00000000-0000-0000-0000-000000000000",
              "status": "Pending",
              "statusHistory": [
                {
                  "status": "Pending",
                  "timestamp": "2026-04-21T09:26:43.4263329Z"
                }
              ],
              "creationTime": "2026-04-21T09:26:43.4263314Z",
              "totalItems": 0,
              "totalPendingItems": 0,
              "totalSuccessfulItems": 0,
              "totalFailedItems": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
