{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.gjehh4bsh5hdeegx.uksouth.geocatalog.ppe.spatio.azure-test.net/stac/search?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "collections": [
          "fake-collection"
        ],
        "sortby": [
          {
            "field": "datetime",
            "direction": "desc"
          }
        ],
        "limit": 5
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "type": "FeatureCollection",
        "features": [
          {
            "id": "ga_m_3308429_sw_16_060_20211114",
            "bbox": [
              -84.504016,
              33.496851,
              -84.433429,
              33.565619
            ],
            "type": "Feature",
            "links": [
              {
                "rel": "collection",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/fake-collection"
              },
              {
                "rel": "parent",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/fake-collection"
              },
              {
                "rel": "root",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
              },
              {
                "rel": "self",
                "type": "application/geo+json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/fake-collection/items/ga_m_3308429_sw_16_060_20211114"
              },
              {
                "rel": "preview",
                "href": "https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=fake-collection&item=ga_m_3308429_sw_16_060_20211114",
                "type": "text/html",
                "title": "Map of item"
              }
            ],
            "assets": {
              "image": {
                "href": "https://SANITIZED.blob.core.windows.net/fake-collection-bf48131e/b80/ga_m_3308429_sw_16_060_20211114/image.tif",
                "eo:bands": [
                  {
                    "name": "Red",
                    "common_name": "red"
                  },
                  {
                    "name": "Green",
                    "common_name": "green"
                  },
                  {
                    "name": "Blue",
                    "common_name": "blue"
                  },
                  {
                    "name": "NIR",
                    "common_name": "nir",
                    "description": "near-infrared"
                  }
                ],
                "type": "image/tiff; application=geotiff; profile=cloud-optimized",
                "roles": [
                  "data"
                ],
                "title": "RGBIR COG tile"
              },
              "tilejson": {
                "href": "https://SANITIZED.blob.core.windows.net/fake-collection-bf48131e/b80/ga_m_3308429_sw_16_060_20211114/tilejson.json",
                "type": "application/json",
                "roles": [
                  "tiles"
                ],
                "title": "TileJSON with default rendering"
              },
              "thumbnail": {
                "href": "https://SANITIZED.blob.core.windows.net/fake-collection-bf48131e/b80/ga_m_3308429_sw_16_060_20211114/thumbnail.jpg",
                "type": "image/jpeg",
                "roles": [
                  "thumbnail"
                ],
                "title": "Thumbnail"
              },
              "rendered_preview": {
                "rel": "preview",
                "href": "https://SANITIZED.blob.core.windows.net/fake-collection-bf48131e/b80/ga_m_3308429_sw_16_060_20211114/rendered_preview.png",
                "type": "image/png",
                "roles": [
                  "overview"
                ],
                "title": "Rendered preview"
              }
            },
            "_msft:ts": "2026-04-16T11:55:17.408733Z",
            "geometry": {
              "type": "Polygon",
              "coordinates": [
                [
                  [
                    -84.435419,
                    33.496851
                  ],
                  [
                    -84.433429,
                    33.564213
                  ],
                  [
                    -84.502078,
                    33.565619
                  ],
                  [
                    -84.504016,
                    33.498252
                  ],
                  [
                    -84.435419,
                    33.496851
                  ]
                ]
              ]
            },
            "_msft:etag": "47dda8bc-fccf-4d58-8a4c-f4b5c0f36dbd",
            "collection": "fake-collection",
            "properties": {
              "gsd": 0.6,
              "datetime": "2021-11-14T16:00:00Z",
              "fake-collection:year": "2021",
              "proj:bbox": [
                731874.0,
                3709314.0,
                738252.0,
                3716790.0
              ],
              "proj:epsg": 26916,
              "providers": [
                {
                  "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/fake-collection-imagery/",
                  "name": "USDA Farm Service Agency",
                  "roles": [
                    "producer",
                    "licensor"
                  ]
                }
              ],
              "fake-collection:state": "ga",
              "proj:shape": [
                12460,
                10630
              ],
              "proj:transform": [
                0.6,
                0.0,
                731874.0,
                0.0,
                -0.6,
                3716790.0,
                0.0,
                0.0,
                1.0
              ]
            },
            "stac_extensions": [
              "https://stac-extensions.github.io/eo/v1.1.0/schema.json",
              "https://stac-extensions.github.io/projection/v1.1.0/schema.json"
            ],
            "stac_version": "1.0.0"
          },
          {
            "id": "ga_m_3308429_se_16_060_20211114",
            "bbox": [
              -84.441576,
              33.496839,
              -84.370879,
              33.565639
            ],
            "type": "Feature",
            "links": [
              {
                "rel": "collection",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/f[...]
[...]
