{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/queryables?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/schema+json"
      },
      "ResponseBody": {
        "$id": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/queryables?api-version=2026-04-15",
        "type": "object",
        "title": "STAC Queryables.",
        "$schema": "http://json-schema.org/draft-07/schema#",
        "properties": {
          "id": {
            "$ref": "https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id",
            "title": "Item ID",
            "description": "Item identifier"
          },
          "datetime": {
            "type": "string",
            "title": "Acquired",
            "format": "date-time",
            "pattern": "(\\+00:00|Z)$",
            "description": "Datetime"
          },
          "geometry": {
            "$ref": "https://geojson.org/schema/Feature.json",
            "title": "Item Geometry",
            "description": "Item Geometry"
          },
          "test:property": {
            "description": "Test property - updated"
          }
        },
        "additionalProperties": true
      }
    }
  ],
  "Variables": {}
}
