{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/configurations/mosaics?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "test-mosaic-to-be-deleted",
        "name": "Test Mosaic To Be Deleted",
        "cql": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "test-mosaic-to-be-deleted",
        "name": "Test Mosaic To Be Deleted",
        "description": null,
        "cql": []
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/configurations/mosaics/test-mosaic-to-be-deleted?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "test-mosaic-to-be-deleted",
        "name": "Test Mosaic To Be Deleted",
        "description": null,
        "cql": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/configurations/mosaics/test-mosaic-to-be-deleted?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ResourceNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Mosaic 'test-mosaic-to-be-deleted' not found for collection 'naip'"
        }
      }
    }
  ],
  "Variables": {}
}
