{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/conformance?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "conformsTo": [
          "http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2",
          "http://www.opengis.net/spec/cql2/1.0/conf/cql2-json",
          "http://www.opengis.net/spec/cql2/1.0/conf/cql2-text",
          "http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core",
          "http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson",
          "http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30",
          "http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter",
          "https://api.stacspec.org/v1.0.0-rc.2/item-search#filter",
          "https://api.stacspec.org/v1.0.0/collections",
          "https://api.stacspec.org/v1.0.0/core",
          "https://api.stacspec.org/v1.0.0/item-search",
          "https://api.stacspec.org/v1.0.0/item-search#fields",
          "https://api.stacspec.org/v1.0.0/item-search#query",
          "https://api.stacspec.org/v1.0.0/item-search#sort",
          "https://api.stacspec.org/v1.0.0/ogcapi-features"
        ]
      }
    }
  ],
  "Variables": {}
}
