{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "naip-atl",
        "type": "Collection",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl"
          },
          {
            "rel": "http://www.opengis.net/def/rel/ogc/1.0/queryables",
            "type": "application/schema+json",
            "title": "Queryables",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/queryables"
          }
        ],
        "title": "MPC Pro Sample Datasets",
        "assets": {
          "thumbnail": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-1232d7af/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "roles": [
              "thumbnail"
            ],
            "title": "Collection Thumbnail"
          },
          "test-asset": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-1232d7af/collection-assets/test-asset/test-asset.txt",
            "type": "text/plain",
            "roles": [
              "metadata"
            ],
            "title": "Test Asset - Updated"
          }
        },
        "extent": {
          "spatial": {
            "bbox": [
              [
                -85.605165,
                30.357851,
                -80.839729,
                35.000659
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2020-01-01T00:00:00Z",
                "2099-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "providers": [
          {
            "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/",
            "name": "USDA Farm Service Agency",
            "roles": [
              "producer",
              "licensor"
            ]
          },
          {
            "url": "https://www.esri.com/",
            "name": "Esri",
            "roles": [
              "processor"
            ]
          },
          {
            "url": "https://planetarycomputer.microsoft.com",
            "name": "Microsoft",
            "roles": [
              "host",
              "processor"
            ]
          }
        ],
        "summaries": {
          "gsd": [
            0.3,
            0.6,
            1
          ],
          "eo:bands": [
            {
              "name": "Red",
              "common_name": "red",
              "description": "visible red"
            },
            {
              "name": "Green",
              "common_name": "green",
              "description": "visible green"
            },
            {
              "name": "Blue",
              "common_name": "blue",
              "description": "visible blue"
            },
            {
              "name": "NIR",
              "common_name": "nir",
              "description": "near-infrared"
            }
          ]
        },
        "description": "A Subset of imagery for sample MPC Pro GeoCatalog deployments. - Updated for testing",
        "stac_version": "1.0.0",
        "msft:_created": "2026-01-30T10:56:11.2180317Z",
        "msft:_updated": "2026-02-18T21:52:28.368096Z"
      }
    }
  ],
  "Variables": {}
}
