{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl",
        "type": "Collection",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl"
          },
          {
            "rel": "http://www.opengis.net/def/rel/ogc/1.0/queryables",
            "type": "application/schema+json",
            "title": "Queryables",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/queryables"
          }
        ],
        "title": "NAIP Collection",
        "assets": {
          "thumbnail": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-bf48131e/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "roles": [
              "thumbnail"
            ],
            "title": "Collection Thumbnail"
          }
        },
        "extent": {
          "spatial": {
            "bbox": [
              [
                -180,
                -90,
                180,
                90
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2018-01-01T00:00:00Z",
                "2018-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "CC-BY-4.0",
        "description": "An example collection",
        "stac_version": "1.0.0",
        "msft:_created": "2026-04-13T17:03:51.4745108Z",
        "msft:_updated": "2026-04-15T15:45:56.177126Z",
        "msft:short_description": "An example NAIP collection"
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl-atl/thumbnail?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "image/png"
      },
      "ResponseBody": "iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAIAAAC0SDtlAAAAEklEQVR4nGNgaGAgDY1qGBQaAAlbSAENQjjgAAAAAElFTkSuQmCC"
    }
  ],
  "Variables": {}
}
