{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/queryables/test%3Aproperty?api-version=2026-04-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test:property",
        "data_type": "number",
        "create_index": false,
        "definition": {
          "description": "Test property - updated"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "name": "test:property",
        "definition": {
          "description": "Test property - updated"
        },
        "create_index": false,
        "data_type": null
      }
    }
  ],
  "Variables": {}
}
