{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/testMgIdRoot/providers/Microsoft.Quota/groupQuotas/sdk-test-group-quota/resourceProviders/Microsoft.Compute/groupQuotaLimits/standarddv4family?api-version=2023-06-01-preview&$filter=location%20eq%20westus",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-RequestId": "o3IhkXNPXUuCAYDORll0xw.0",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "region": "westus",
          "limit": 225,
          "unit": "Count",
          "name": {
            "value": "standarddv4family",
            "localizedValue": "standarddv4family"
          },
          "availableLimit": 225,
          "allocatedToSubscriptions": {},
          "provisioningState": ""
        },
        "id": "/providers/Microsoft.Management/managementGroups/testMgIdRoot/providers/Microsoft.Quota/groupQuotas/sdk-test-group-quota/resourceProviders/Microsoft.Compute/groupQuotaLimits/standarddv4family",
        "type": "Microsoft.Quota/groupQuotas/groupQuotaLimits",
        "name": "standarddv4family"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "3aa97e4c-3df4-4c0b-8a78-8d92f8101918",
    "RandomSeed": "1146476412",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "65a85478-2333-4bbd-981b-1a818c944faf",
    "TENANT_ID": "7be17286-b3ad-482d-ab84-4c772eebd529"
  }
}