{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/testMgIdRoot/providers/Microsoft.Quota/groupQuotas/sdk-test-group-quota?api-version=2025-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-RequestId": "8Axs8bR7M02CP1YL8qHc-w.0",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "sdk-test-group-quota",
          "additionalAttributes": {
            "groupId": {
              "groupingIdType": "BillingId",
              "value": "ad41a99f-9c42-4b3d-9770-e711a24d8542"
            },
            "environment": "None"
          }
        },
        "id": "/providers/Microsoft.Management/managementGroups/testMgIdRoot/providers/Microsoft.Quota/groupQuotas/sdk-test-group-quota",
        "type": "Microsoft.Quota/groupQuotas",
        "name": "sdk-test-group-quota"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "3aa97e4c-3df4-4c0b-8a78-8d92f8101918",
    "RandomSeed": "1347312606",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "65a85478-2333-4bbd-981b-1a818c944faf",
    "TENANT_ID": "7be17286-b3ad-482d-ab84-4c772eebd529"
  }
}
