{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/Employee?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "Employee",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Age": {
            "type": "integer",
            "format": "int32"
          },
          "Name": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/Employee/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "c797461a5f07424bb1bb83c04dde3c1c",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/$schemas/c797461a5f07424bb1bb83c04dde3c1c?api-version=2023-07-01",
        "Schema-Name": "Employee",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/Employee/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/Employee:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "Employee",
        "type": "object",
        "additionalPropertie[...]
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/$schemas/c797461a5f07424bb1bb83c04dde3c1c?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Json",
        "Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemagroups/azsd[...]
