{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/Employee?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Employee: { Age = int, Name = string }",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/Employee/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "fc274ed01e844006a6f6ff86caf31b13",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/fc274ed01e844006a6f6ff86caf31b13?api-version=2022-10",
        "Schema-Name": "Employee",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/Employee/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/Employee:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Employee: { Age = int, Name = string }",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/Employee/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "fc274ed01e844006a6f6ff86caf31b13",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/fc274ed01e844006a6f6ff86caf31b13?api-version=2022-10",
        "Schema-Name": "Employee",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/Employee/versions?api-version=2022-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "410473651",
    "SCHEMAREGISTRY_ENDPOINT_CUSTOM": "t1e4564477a3bf4db-custom.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
