{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/UnregisteredEmployee:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "Employee",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Age": {
            "type": "integer",
            "format": "int32"
          },
          "Name": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema azsdk_net_test_group/UnregisteredEmployee does not exist. TrackingId:099378f9-ca93-446e-8e44-382725be72f5_G2, SystemTracker:t1e4564477a3bf4db-json.servicebus.windows.net:$schemaGroups/azsdk_net_test_group/schemas/UnregisteredEmployee:get-id, Timestamp:2023-06-07T21:42:27"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "861135281",
    "SCHEMAREGISTRY_ENDPOINT_JSON": "t1e4564477a3bf4db-json.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
