{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkNameAvailability?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "myiotcentralapp",
        "type": "IoTApps"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodsoutheastasia02",
        "x-iot-correlation": "aw2a9i8y.0",
        "X-IoT-Version": "20231117.1-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.IoTCentral/iotApps/resource26c6c2?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "eastus",
        "properties": {
          "displayName": "My IoT Central App",
          "subdomain": "my-iotcentral-app",
          "template": "iotc-pnp-preview@1.0.0"
        },
        "sku": {
          "name": "ST2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "X-IoT-Cluster": "iotcprodsoutheastasia02",
        "x-iot-correlation": "6cw6qm28.2.0",
        "X-IoT-Version": "20231117.1-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.IoTCentral/iotApps/resource26c6c2",
        "name": "resource26c6c2",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "eastus",
        "tags": {},
        "properties": {
          "applicationId": "00000000-0000-0000-0000-000000000000",
          "displayName": "My IoT Central App",
          "subdomain": "my-iotcentral-app",
          "template": "iotc-pnp-preview@1.0.0",
          "state": "created"
        },
        "sku": {
          "name": "ST2"
        },
        "identity": {
          "type": "SystemAssigned",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/iotApps?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodsoutheastasia02",
        "x-iot-correlation": "bd709qmt.0",
        "X-IoT-Version": "20231117.1-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.IoTCentral/iotApps/resource26c6c2",
            "name": "resource26c6c2",
            "type": "Microsoft.IoTCentral/IoTApps",
            "location": "eastus",
            "tags": {},
            "properties": {
              "applicationId": "00000000-0000-0000-0000-000000000000",
              "displayName": "My IoT Central App",
              "subdomain": "my-iotcentral-app",
              "template": "iotc-pnp-preview@1.0.0",
              "state": "created"
            },
            "sku": {
              "name": "ST2"
            },
            "identity": {
              "type": "SystemAssigned",
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.IoTCentral/iotApps?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodsoutheastasia02",
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkSubdomainAvailability?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "myiotcentralapp",
        "type": "IoTApps"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodsoutheastasia02",
        "x-iot-correlation": "6v8jl75q.0",
        "X-IoT-Version": "20231117.1-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/appTemplates?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodsoutheastasia02",
        "x-iot-correlation": "4cam6w1o.0",
        "X-IoT-Version": "20231117.1-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "value": [
          {
            "manifestId": "iotc-condition",
            "manifestVersion": "1.0.0",
            "name": "Store Analytics \u2013 Condition Monitoring",
            "title": "In-store Analytics \u2013 Condition Monitoring",
            "order": 99,
            "description": "Digitally connect and monitor your store environment to reduce operating costs and create experiences that customers love.",
            "industry": "Retail",
            "locations": [
              {
                "id": "australiaeast",
                "displayName": "Australia East"
              },
              {
                "id": "canadacentral",
                "displayName": "Canada Central"
              },
              {
                "id": "centralus",
                "displayName": "Central US"
              },
              {
                "id": "eastus",
                "displayName": "East US"
              },
              {
                "id": "[...]
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.IoTCentral/operations?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodsoutheastasia02",
        "x-iot-correlation": "si7do2d.0",
        "X-IoT-Version": "20231117.1-release",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.IoTCentral/IoTApps/read",
            "display": {
              "provider": "Azure IoT Central",
              "resource": "IoTApps",
              "operation": "Get/List IoTApp resource(s)",
              "description": "Read IoTApp resources"
            }
          },
          {
            "name": "Microsoft.IoTCentral/IoTApps/write",
            "display": {
              "provider": "Azure IoT Central",
              "resource": "IoTApps",
              "operation": "Create/Update/Patch IoTApp resources",
              "description": "Create or update a IoTApp resource"
            }
          },
          {
            "name": "Microsoft.IoTCen[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ4NDEtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01\u0026t=638378716924785646\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY2[...]
