{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1286ce89-1190-fb8d-f7c8-92a71d8e4df4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F9810A6D8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1286ce89-1190-fb8d-f7c8-92a71d8e4df4/test-blob-6ad23842-5666-2813-32a7-9160dc4adf4d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "BmnW3u0RVYpcrruqMuMDhAiFAOPXV8N5KngJ9w5QxX054bFyJkrCMeNIDbibafVPowxYVkr7da+mXbN1B117DOg+cFEykV29ws4Aj0kK3sGCulQB924yPmwCzMmXTSmFzAHPXfikHBKvmpR7+uVlm37x8k0JehR6CzLlMMWUJnWle8NIO4HI3p1BUl3ZtkOGnDBKpVrbe1LtVFHGv+xNG3Me1n8iHWD9KRSwyCe2oFXuXpOUSYEayv9xWuYvAh+x8zfpu+DEZH/QTHxGK7MqN7P812BYudHyBAx/scJ5zSf1/9TwzOV0KfoTxPwF1J5LRiMyMyq+WDpl97bURbO9V39VUSzfOmrOh65lRPXV7C9t[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1286ce89-1190-fb8d-f7c8-92a71d8e4df4/test-blob-6ad23842-5666-2813-32a7-9160dc4adf4d?sv=Sanitized&ss=bqtf&srt=sco&se=2024-06-07T23%3A22%3A53Z&sp=cuprwdyla&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9+oYKutjvaoDsg7aO0KgZg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F9820C88A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:22:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1286ce89-1190-fb8d-f7c8-92a71d8e4df4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:22:53.6379585-05:00",
    "RandomSeed": "1182726626",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
