{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5237e9ee-b2fe-ad5c-ca52-20b01f4ebd9a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FA41D170F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5237e9ee-b2fe-ad5c-ca52-20b01f4ebd9a/test-blob-83682c9e-2789-4b59-511a-dba504a76b41",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Y4A+kjSd2ExN8g7aWRPgUda2FhUfaxZKNM7Op9n2+0mdByC85+/EAVMcNZcYfvI9OorOTpFWIfdp815lzjFzV/fFPVHzI2nn8hXBAzZ/MrbbkW1PJ6y3RuYpU/SRXjIhqN6gU0ChShYg51t8lB3B6cCniT3EJC9KDfdqytB1VpPioFpX3991OkZXLkBRO7HIaGkz6dT1XYSuVUZJNoBFqpDImfTDaQrhMk/2bfXv+dFFoWFnQm2+7ULVqYmZLAPGEYSviKG9Bf9fUbaF/vCPvlx0A5Ue3mgjCayx7b+ASAVML1twQHAwiJxiCPG2Oe5SReotJChuqDIci3/1Cxg/3gixOc6UH37rRHv4u9Z3bdC9[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5237e9ee-b2fe-ad5c-ca52-20b01f4ebd9a/test-blob-83682c9e-2789-4b59-511a-dba504a76b41?sv=Sanitized&ss=fqb&srt=sco&se=2024-06-07T23%3A23%3A13Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ymNEnp3T1tv1N8M143+3sg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FA433089F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5237e9ee-b2fe-ad5c-ca52-20b01f4ebd9a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:13.9077626-05:00",
    "RandomSeed": "676995465",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
