{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a6f80c6f-e0d0-c58c-1f1f-46b628a6200d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F9E923234\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a6f80c6f-e0d0-c58c-1f1f-46b628a6200d/test-blob-c7247cd8-8b0c-b779-8d20-c46c4ec7e2d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Rhl7e9ENeos3N8KR7820hfPI7GckESCvMx2GcuUnTRJN8WoL4fT4ywGZkNTJ6Me/bD95hdp6sTX5zEi0hgilD+qvQ/5jqKP+zyFmi4BL5UtVxwamrsg40z80ERWsQ0X484DqGaTJXMOberW5FCa1rub9X78C/2Aid3C/LpeOUovcbZf/YMymjGpDCjQSfr4Yf2MuruSF9vQgyKE0CS4rDCgq3aeOtU0aVtNUvvQsEPmxpq8zYKOnVnaj35grcoI8F/0L56EXisoVFFcRMDj/87iogmN+96yEg4Yw69W17+RQGKf2IChXmhzlHktMlSU+pOzggu8evR9Rh2Qa55/0YCVzwBiQCNKPUOhHmdlgOO1g[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a6f80c6f-e0d0-c58c-1f1f-46b628a6200d/test-blob-c7247cd8-8b0c-b779-8d20-c46c4ec7e2d6?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A04Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HfqtmjWJBEIyJ9ynIM6IYA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F9EA0F6B7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a6f80c6f-e0d0-c58c-1f1f-46b628a6200d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:04.5645011-05:00",
    "RandomSeed": "401897440",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
