{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3018aac4-02e1-dda0-c29a-8497e993a453?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB2BA0C98\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3018aac4-02e1-dda0-c29a-8497e993a453/test-blob-efb621b0-96f2-c180-e7b9-3a8c1a90f46a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "1aE6kqw7FGpplh9NjxNgdxXSX8eh1fDF1SaBheeDp9+/CdpdQq1pdQ1Mhlt3MzLTWcJ3SDEtyP+wdb2GuY6C5e8/jYU5AjRoaeq6VU+VTaL0rSwlDF+tkUDarM3v4rt+yaBsN6WsmlaODt5Gc3KvGicakgthXdmPkftEXlVneIYvO4uvKRb9RxPVlv2AZx7NK5Kl1FCvHGzH3KWpZzwAJpZYFzjn//ERHUr4i8bbDirddjPDwaM1fx4f6ExwU+DW1HBnKFDl5iuglLcGtpGm6857y/AJPWTzIpcayBekoMpqIrdVdOba+JAHIi3sL8mNeP1+9YjvzZcLcwW4yx4U/PPtnJTZUHfnoNNgARo3B/PN[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3018aac4-02e1-dda0-c29a-8497e993a453?sv=Sanitized&ss=bqtf&srt=sco&se=2024-06-07T23%3A23%3A38Z&sp=cuprwdyla&sig=Sanitized&comp=lease&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "87ba8b61-b28b-f50e-0ab7-70f51e8a627b",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB2BA0C98\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:39 GMT",
        "x-ms-lease-id": "87ba8b61-b28b-f50e-0ab7-70f51e8a627b",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3018aac4-02e1-dda0-c29a-8497e993a453?sv=Sanitized&ss=bqtf&srt=sco&se=2024-06-07T23%3A23%3A38Z&sp=cuprwdyla&sig=Sanitized&comp=lease&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB2BA0C98\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:39 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3018aac4-02e1-dda0-c29a-8497e993a453?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the container and no lease ID was specified in the request.\n",
        "RequestId:40230b8f-c01e-0054-6b68-b8b976000000\n",
        "Time:2024-06-06T23:23:40.1112459Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:38.3496442-05:00",
    "RandomSeed": "902852742",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
