{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39479518-5a31-c0f6-c775-ebbd3d172f77?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB591CD33\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39479518-5a31-c0f6-c775-ebbd3d172f77/test-blob-bc68570c-7b8b-1199-2552-bede8790540e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "okGlybCUUfE60/wxUZTcqbY6WBRQFh6b21V20giCQ+REpjjXLNPoeAV3grh/Z7+QdhUoTDc/vYwiCe5aHn7ot5AX7atbBHziUuAP2JNlHHOV5VzyWfasBOistCLljVqGj8soZ3oUNHGYRflXMOX4ve16xDgi9V2Za+nCr1Ba/MWFiEnIPbT5gbHrWhT9VNMDtPc0asgiZJltj/yRUoUhPkg00qibL385gUOHN5tJmxYVvvpYJZH8YyOwW623Zy8ryRvLyYIrZ4R3++mFmi39I/Pme5OKyBm2N2+E69TSgRkTW22AftKT6ld24Smodsj2sze60eycoAECFJETpnyvpXrPcj+/fKUgUpE8FOfvDsGm[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39479518-5a31-c0f6-c775-ebbd3d172f77/test-blob-79b65419-a55c-fefe-c7fa-941783f8ad66?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A43Z&sp=racwdlxyuptf&sig=Sanitized&comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8711d7d6-f633-1c12-a46a-a4702fdf6519",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB5B381EF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:44 GMT",
        "x-ms-lease-id": "8711d7d6-f633-1c12-a46a-a4702fdf6519",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39479518-5a31-c0f6-c775-ebbd3d172f77/test-blob-79b65419-a55c-fefe-c7fa-941783f8ad66?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A43Z&sp=racwdlxyuptf&sig=Sanitized&comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB5B381EF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:44 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39479518-5a31-c0f6-c775-ebbd3d172f77?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:43.2530858-05:00",
    "RandomSeed": "1648485579",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
