{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dffacf5c-7e0f-d803-9c8f-fb7e9775af41?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB8DEB3CA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dffacf5c-7e0f-d803-9c8f-fb7e9775af41/test-blob-c5408a96-fd47-3d52-1402-9ccd0a691319",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "DBDzYKgRoLLwczzigFFnFSwMAzpCvaKM5I+InmZc6pzFhFx/ObW+hemO1dPAcLzDm4eg/WbY109tZnwZiAJMk4igHPz159x2Tn5QtOjPzHPSxQPeu+w17K0NEdI5pfznQUFLIFPAzrOrKq/nhyNmnpoIRsP+bdibai9O6NUJPamCaXKng6sgEvdPM5E9TmSKpnI3MV456dRor7Ukcebdoe0GZR6wvxvv6DTLrjlHXhzKxEFi0gtKSICePtT1+6ARcpKkNuhG2eZXSEkqbTqaIVCZWa2kes7hvByeEoFG+eyTujymoigzhOtbConCH9tFBByDXKLzbPfEwnrLp8ZkEU9clrL+834oZtXBSG9FHpxB[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dffacf5c-7e0f-d803-9c8f-fb7e9775af41/test-blob-c5408a96-fd47-3d52-1402-9ccd0a691319?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A48Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "60A2aJCj2/PZF/DRDAH5gg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FB8EBAA77\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dffacf5c-7e0f-d803-9c8f-fb7e9775af41?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:48.6425351-05:00",
    "RandomSeed": "1501789444",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
