{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8d2ec1dd-2d98-2927-4a7c-cbb74b2849d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FBE4BB3AE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8d2ec1dd-2d98-2927-4a7c-cbb74b2849d8/test-blob-3c08cc8a-461f-23f6-9c9a-c4adb387f55a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "M18AEqFrdUlCgP2rqQlqvqU0FWbnC0xvQWNBychWzESLtefKCjKjH1e/+p9IS3qTMAUHf3KOcicTkdE+KauB67O5H/Qhn7NykfYPKBGsJvXorpnCTk3R/EK/t3hhZPWrPQ7sjyyGcZBSle58f0oWZ2rbVXoSvpxm5yKxYug7ECwAZOoCwJfJYj0IcLlfVX33qVAOhg96mH9yhacJ1A+oFoTBexpgE6fTEfI9Ck3iB5KlubiXLYkchstrkDrvwI4uX1k0ndlil5WoOnUcPY4xj34VYxpWEOn6pfVP9YNs5FBkD6rzrmq4QyIi7/IU/0k9OQC82V1z105wOfjkE6ISPFYkuC7jPeEUXSD4MyH35qWs[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8d2ec1dd-2d98-2927-4a7c-cbb74b2849d8/test-blob-3c08cc8a-461f-23f6-9c9a-c4adb387f55a?sv=Sanitized&ss=fqb&srt=sco&se=2024-06-07T23%3A23%3A57Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "t4aZM7U/YwJQ40xH0aSmAQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FBE5C065E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8d2ec1dd-2d98-2927-4a7c-cbb74b2849d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:57.7794407-05:00",
    "RandomSeed": "1641821849",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
