{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9140292e-c4a2-fd55-00bf-c404cc3545c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB660A42F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9140292e-c4a2-fd55-00bf-c404cc3545c6/test-blob-da78bbb0-f9c6-a6eb-ca20-ef6b9b1444ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:44 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "oe1kbGcnmfTGyUGqvpkkzCJlpgckuM2B6aioi1pfQfYTYlRX2gDTiCKEE/y3Qegx+yNINW09yOkf44O+fw2aZ4dLl1tEzfIhkR3loKTQyafAd5A3FguI1plqN/Z9FQkU6qx1bKqN7C4wJqNPVyhFThnb/gh9Y1B7wsDC2pX7pHwU0bb3W139M4thBu9oOX9wJendohcBloZc+qnpyhGZNIInO4VyTfO73cp9HFxgE4lBUbWrHgJkEzovm2CzFGh5yNJtQP35/tf1IcRMhHoq++cgp3hc7RaAwihKQ7KSCMliA1OK89KLSFPdtvw+GI7ABKB5k2zvHNu77H7VrrslYhn66YAmoAcUlF8lfzYaQqqZij4SGXVdcud4zgdUtpmYuFPjQy4OmWSYZP4Nyp2koarUPCN8EkmknX[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9140292e-c4a2-fd55-00bf-c404cc3545c6/test-blob-da78bbb0-f9c6-a6eb-ca20-ef6b9b1444ed?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A44Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tQUdPr8amsQ0l3EZ/8R48g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FB66E5D97\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:45 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9140292e-c4a2-fd55-00bf-c404cc3545c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:44.5018506-05:00",
    "RandomSeed": "1380067344",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
