{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4d4678c2-7f9c-b42f-c7e8-f43d624b322c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FAFFCAF8C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4d4678c2-7f9c-b42f-c7e8-f43d624b322c/test-blob-f79596fc-a1c1-9042-cea3-33ec8d56115c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "cAY5y7qdfb44UN+t/PNVcLxUCQ6FLt+MIh8N/tRnSGjAAMtYHmDkltcHy/xH8YBzi78cWPsg/UImrambj37p0Qh27fwo/VFcb3I2fmLjRDCemXMVSu9toAOJMXG2SQZYHfr00ASDS41tv+iI6X7fQ2h4/PYK04YYCEz5nszgpSZr3WBn73MsG07mp4sG5beEqe0IPkwQTkpz3Mi4iqzBjRrCHAsdeFT0TOGoJCz7ESOUdPXe12fZW48W9BOrc5ChJRpwRMmsZjGZFPJraCoed8qkIxW34raz6MB7B4NBSdhQBv8Sis1Z6A7DRcN1bvNl+HxIBlB66kJjvVsIMV+tWMsZGmEqDO39SjoH853zPXrN[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4d4678c2-7f9c-b42f-c7e8-f43d624b322c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:33.7694798-05:00",
    "RandomSeed": "600774813",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
