{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-06efa391-e534-3859-adbb-93033886b996?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F9E4996BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-06efa391-e534-3859-adbb-93033886b996/test-blob-ab117ab8-8327-c24f-15fe-f61b6e9d5368",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "R4Qc/fFCpLxwzkaUklt1XVZIA2oyyOdj69Jh9AI+cHF30+v2lsQ8dtZVO1k9uzC6iJjFJprpNX+duBEe4a+6Ml7UHb5wf8eRDIyT3YyNJjChpmxpeErWjZ1rWd2zHZUmmgn7aJ1ySgjRMxkNVVjzD5LgfDpDULkT/Y8gBCXp3u/3bEKCkr2SL1xjmEUxyDhFeEpL0qBb40lQ52oOUUXi6FUpFugVcHzUTk3d4Lhz4jRW2ozbnQtOnIn4MapThN0XgK/wB7JPLwfNdoRTfQOR3AQ1t3a4B0pJ2npfHD7Rgcpvxl8Jg9uCBqqEDSeH+x6FZ1WlHcxmXnllpyw38BLI/PW547ejiFkpsrDLNPkjwd5c[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-06efa391-e534-3859-adbb-93033886b996?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A04Z&sp=racwdlxyuptf&sig=Sanitized&comp=lease&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "545c0dc2-de6d-4240-64ed-42571ddd7643",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F9E4996BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:05 GMT",
        "x-ms-lease-id": "545c0dc2-de6d-4240-64ed-42571ddd7643",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-06efa391-e534-3859-adbb-93033886b996?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A04Z&sp=racwdlxyuptf&sig=Sanitized&comp=lease&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F9E4996BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:05 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-06efa391-e534-3859-adbb-93033886b996?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the container and no lease ID was specified in the request.\n",
        "RequestId:4022624b-c01e-0054-1668-b8b976000000\n",
        "Time:2024-06-06T23:23:05.8247911Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:04.0590899-05:00",
    "RandomSeed": "959192107",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
