{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c19a5f85-f31a-1d43-1dc1-b820c73eb1b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FBDD10FEF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c19a5f85-f31a-1d43-1dc1-b820c73eb1b0/test-blob-815a8232-3637-943f-a0fa-96e06accf552",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "SOVYcYpzgLh1A6LnsrgQKMFzUkCyM0zVOwJClWlzGf9l30EonI+6WgbSCGEQ1o2GKzq1Cs2NrxWYgjWHMOtPAuqigdJ36Iwxufc53yvrxWV1u2kuvg8x2DArjxpZMiobgwV2bVS6D0Oug1DWVM/qrbzPEnWBIUPacaiiS1hy14fNHlwldFgQuqwlgDu/W4RhQeFdiiC0mWLCm/yrGMPqPKvICTVyxDhkv1fJXKEIGxUkQQp3FE1nGIT6YthbZKLoOkOP9lJO7nyo+MrI6z3BuoDmh9a5cyddYfGweGJgCFq14CFdeCXD1lONzhuCnixHOKhYdd3ML8ccMZRgnXYaSPBwEwscZEFaI7CDK6UL2sPE[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c19a5f85-f31a-1d43-1dc1-b820c73eb1b0/test-blob-815a8232-3637-943f-a0fa-96e06accf552?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FBDE1899F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:23:58.5090811Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c19a5f85-f31a-1d43-1dc1-b820c73eb1b0/test-blob-815a8232-3637-943f-a0fa-96e06accf552?snapshot=2024-06-06T23:23:58.5090811Z&sv=Sanitized&ss=fqb&srt=sco&se=2024-06-07T23%3A23%3A57Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1xDNFEnSiBPxzSpCDbjO9w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FBDE1899F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:58 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c19a5f85-f31a-1d43-1dc1-b820c73eb1b0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:57.0775060-05:00",
    "RandomSeed": "2100766104",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
