{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-af7e3f27-b409-bb19-2863-230161a77a06?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FA202C9F4\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-af7e3f27-b409-bb19-2863-230161a77a06/test-blob-d76a774a-2777-7a15-5541-f759e4a04d3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:10 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hqSdG3AqatzlF5JwGskGb2vKva7RrqARTL42aqAdndDt9y8O3q+tIAyO8l+UpGCMO4fuGeKfatcDi86y8wA7x3rCgiKa95G7HJyhQ7xBfahdqi4YL4PtTo1XC1Lh+y0MUivk0SI+8UT2Mv1G/icbwQ4mVEnRI5f21TSUQuw/2iFvlPGQXKuFH7jqIf2GplBmO0lDuqfjOi6T7vztqa9Yt1fb12k1imRioDWQ5wKaby7kLgai+x96i1rC/W6vmHYJkWqlqs/nMLDl4RpxU1Is+X7NCXqotbw4YUsOco31swe/h1WX9MRf/f1VvRoFCDgHlgTw4Y/7YNyubUmD2L0j7y0Sssv9lAS5bgt9UvihMlkTB9yJBdF4wyZ56Yd72yQ/Ms3s8lVsCgL/NnKDfg7jDDrvcNHhmulbmu[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-af7e3f27-b409-bb19-2863-230161a77a06/test-blob-d76a774a-2777-7a15-5541-f759e4a04d3c?sv=Sanitized&ss=fqb&srt=sco&se=2024-06-07T23%3A23%3A10Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wkVDlZbh2W4Ohm7DwASjUg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FA20ED0A9\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:11 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-af7e3f27-b409-bb19-2863-230161a77a06?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:10.2861133-05:00",
    "RandomSeed": "1276047029",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
