{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-754977dd-6fb5-fa1e-53ad-e7fbbb3e4640?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F9A83BA83\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-754977dd-6fb5-fa1e-53ad-e7fbbb3e4640/test-blob-e5d87d84-1b5c-b06c-5a50-e097676dcc01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:57 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "F9nQUEPkKvlunGyA1fqlK/G95i3ti6v8mPaGzaee66EozG1R4TCjn1PedsCu7Npgq7SlqYaeFIsu07hNXV1S0LHLVwiMU0rBGUbaDhTqTqsbJiLy+EEaibjhIw53VkL2jKYP45TR01dq5I9AxAV3Q4UMMTc7X9hvsM5QqzA8ScIE5IFt22oXSVLKiBOx2sWyaeCJaiUKuy3NnzLGgSgnLprMO+CECWca9efkcNfEvdYJnUFQs96d+ShUnzw4Ucgqo1l45Z7kLl94bnU9JkpVCeFcveTm13u8LkK3L2kr4qQfuc19TNg3JG7h10RpYNLd/pZa25TkRMvevLZcLP/1TIzRHWx917wJJJh1BP82Us5v2TDT0AYQO3UBno8h2/dv64u3mEJmYCfZUbf7bkDMp2nn7FPOInuGwO[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-754977dd-6fb5-fa1e-53ad-e7fbbb3e4640/test-blob-e5d87d84-1b5c-b06c-5a50-e097676dcc01?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A22%3A57Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "O3HwvUK+7SDT9D93JUXW6g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F9A93DD11\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:22:59 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-754977dd-6fb5-fa1e-53ad-e7fbbb3e4640?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:22:57.7368345-05:00",
    "RandomSeed": "1348623518",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
