{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2012b9e2-899b-af4c-8338-a4b5e73c84af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F97504DA7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2012b9e2-899b-af4c-8338-a4b5e73c84af/test-blob-f56dd9ff-ac34-758d-b67e-64951ebd97e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "9kV0oUCiHMfwS6cUsSeQxtx6jz01TCqUuIYrFIgoiCDr2+W9gYivXbymBOgEecOP7p24pC5ZrKoa4Oi6dwg+x8OHKNZB0kRUyjGAj0hBjz/CmybqcOTxkS47o6Gf9eW0ZzwlfFDsTRtZY9n82Rxi2FCp99viU1felZenBi+jtdVMzCcLHBPu1U4LkQwK9bgS2cpQ9f0J0hPlRue5RUbrta0EsAz1Vrw9uiGM1sFK1KDelS1lU8DYQvoTJdUsNZAIH9xeBkWrHIINEzrbfPtSm3JG2q8YhmHtK20S4TDnEYWRhLfl685bM3irVz+F/Mb+wYpj5Vvg75l6cdrXmTtRJgG1SvhEba+k6qY2bS4iZy+n[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2012b9e2-899b-af4c-8338-a4b5e73c84af/test-blob-f56dd9ff-ac34-758d-b67e-64951ebd97e1?sv=Sanitized&ss=bqtf&srt=sco&se=2024-06-07T23%3A22%3A52Z&sp=cuprwdyla&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7fs8RfOeNj1+jVh6Q9vyFg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F975C29B6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:22:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2012b9e2-899b-af4c-8338-a4b5e73c84af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:22:52.3541972-05:00",
    "RandomSeed": "322524766",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
