{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3a3584b8-c1b4-b11b-bf30-9f2a1bcee683?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F9DD5F756\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3a3584b8-c1b4-b11b-bf30-9f2a1bcee683/test-blob-8f10ed71-a18f-84ea-6ff1-e864589fd38e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "fMdRJ2D/b5aMxqX6WptUAyURCvEgJEg2Cel3InR88enNSvwn/QL3cX16A8j88CnTnOQ/RpXiblh+Gh52h00hD9W7LA+fLQYjGZhzpiB/Ohm/pIWQPKpU69ykqeLjgOowWPPzQMMaNG/dHCz9bsg3/uAFtuPHkNMrZ0Az+oQkP5mtQ00tjPpVpW8VsyB9V30UbaoB3skHaMggyNiD5jrrud2TTyt6CXHlsBFzsd2yrRDDH4zZImDPpdqFDcQh0r81KfpD6gdRmWM5HC24lLfqbRrIv8etEpZ8xKlR9fysxN5RPYjjb8MIcoUpoAYzFhEjmqCqWRL4iBdjxyZdAKRnjFdPZlYuBv1Xv01BhHKQSa2X[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3a3584b8-c1b4-b11b-bf30-9f2a1bcee683/test-blob-8f10ed71-a18f-84ea-6ff1-e864589fd38e?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A03Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XWbgX6iHvHep3SZpC7f4uQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F9DE75370\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3a3584b8-c1b4-b11b-bf30-9f2a1bcee683?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:03.3157689-05:00",
    "RandomSeed": "1238964493",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
