{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-37f03dd2-c7ab-c6a3-2bb4-055c4fb8c3b6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB7613540\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-37f03dd2-c7ab-c6a3-2bb4-055c4fb8c3b6/test-blob-ae9bf41a-7ebc-a60d-b438-0f6bc66f1951",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:46 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "uzRQIWgh2AnzkxxDOZfyhUryxuUOjBY4RfPZ6EZ8QfNHkbk4h/a4+BuRuihiymwdRoog1Kg0Qy4dF9t0SPDCd1Io/Kjduv1UOc3JfNHu1nuHvKK8W21KE02KGnAaQ7Arz0PWOc7EP4uMzJvbasddLkFg7YxNBhvk3uhaUp+NOfUcnayOGJytw3wWMI/SbqiGLesuulYk3cgo8Vvlaezr/pKlv8wazhalsikPN9aMEm8/1CW0X3+e98DkZidAyFmPKjH9LK/ba17ViAgsFKbynN7sppTHN58TBscMNmjvZerQgAykj+W/Y2nG39Z3cuIZ8cpIUyLFx/OS6SXozzT25SMdXJSaTgz4LEIrAVjIm5Tk8kWepxHICrgYEqW/15Q00PmyWRVOf6O9TyffmcaayU2RA9zvVz4SVV[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-37f03dd2-c7ab-c6a3-2bb4-055c4fb8c3b6/test-blob-ae9bf41a-7ebc-a60d-b438-0f6bc66f1951?sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A46Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "a2rU/lvNrnNKxjFVrmIsvw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FB76D1A46\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:47 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-37f03dd2-c7ab-c6a3-2bb4-055c4fb8c3b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:46.1849772-05:00",
    "RandomSeed": "489881392",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
