{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-66ef16e8-ee80-81d5-fc5f-6c378f0e7392?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB6E3848B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-66ef16e8-ee80-81d5-fc5f-6c378f0e7392/test-blob-666494b8-48ce-4dfb-3922-e57766505490",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "r1K1kEx9X8MDNQ5VRz4D+HoAnrKAMMFFODoYTbuk3ZNsfecqTlQfG33LPptuSIJ/3nHz2yQLqn6RcFgSZBEHX1h66cpX2aom4IM0tPIm1u+3mG9KsAFvYNJomd38Dbdsw95D81+4JwXGzfqh1vWMa5loWsuiva9WC4n370DMKtPLyPET4+OQ/3Fpg+MGzond3C5Dk7PryQYv7OjWwTjF+aMn1Q0EeIi22FtaODnMUDz/GRMRiJYg4P/r5Pb6uT04pIk/3/l72WOmjLpXkJDMYpyr1qcls3EMBvQOGZORvB4dIZSvjHBDg0Cva/vbyE9uHoFaT+OWE/AYM9gEbcDPFNCbOm/7HNYrZ1NndUd1MD6k[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-66ef16e8-ee80-81d5-fc5f-6c378f0e7392/test-blob-666494b8-48ce-4dfb-3922-e57766505490?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FB6F005AD\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:23:46.9019426Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-66ef16e8-ee80-81d5-fc5f-6c378f0e7392/test-blob-666494b8-48ce-4dfb-3922-e57766505490?snapshot=2024-06-06T23:23:46.9019426Z&sv=Sanitized&ss=bqtf&srt=soc&se=2024-06-07T23%3A23%3A45Z&sp=racwdlxyuptf&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zMTgpN39zLZaybL07cJJvA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FB6F005AD\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:23:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:23:46 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-66ef16e8-ee80-81d5-fc5f-6c378f0e7392?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:23:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:23:45.4826924-05:00",
    "RandomSeed": "274574249",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
