{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0c528c3-a669-cc9a-ccea-c5044e2ecaf0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FC2654EB5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:24:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-07T00:24:04Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T23:24:06Z</SignedStart><SignedExpiry>2024-06-07T00:24:04Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0c528c3-a669-cc9a-ccea-c5044e2ecaf0/test-blob-1526084a-b5c4-0a7a-4578-0f882837eabd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FC2850A0F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:24:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0c528c3-a669-cc9a-ccea-c5044e2ecaf0/test-blob-1526084a-b5c4-0a7a-4578-0f882837eabd?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FC2850A0F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:24:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:24:06.3364769Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0c528c3-a669-cc9a-ccea-c5044e2ecaf0/test-blob-1526084a-b5c4-0a7a-4578-0f882837eabd?snapshot=2024-06-06T23:24:06.3364769Z&skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T23%3A24%3A06Z&ske=2024-06-07T00%3A24%3A04Z&sks=b&skv=2024-08-04&sv=Sanitized&se=2024-06-07T23%3A24%3A04Z&sr=bs&sp=rwdyi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FC2850A0F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:24:06 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:24:06 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0c528c3-a669-cc9a-ccea-c5044e2ecaf0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:24:04.5931378-05:00",
    "RandomSeed": "1431658837",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
