{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a38609ce-ef28-4ffd-4c00-75b20bbd5a6e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDAE8CC3CFFEC3\"",
        "Last-Modified": "Wed, 18 Jun 2025 17:22:56 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a38609ce-ef28-4ffd-4c00-75b20bbd5a6e/test-blob-b1e3866c-fb37-bf68-280f-be6954671599",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "6ts/bCaS0tKLrkLRe8bUUkt60Ur78wEbwMMm1R7hBdprm7YPllcdBTiZleoUDFfa8inMtcOv6ffaJKtibPy0qqhnZuAQxLz0XcsSYV0XBrNsS+L1FFAXu7G/NXGsu5g75etBraZ2yi5t2Ff3nYiZwh339SAavpVYUKsvUI5KSKIz1nxy1lkN9oGziDz4IB0pJXNTtMV3ICZV6Vz6RnmgIpC1w8YLJ+zE6v+eZjZZXy+NBisb9pTcu7VWHOz8E68IE2WsQlxWHf2GjsnG2Lrv/IksbEBNhSv82AcRtQv/yNZPllLQrRzTN+gtlGfKFuL7Zh9jz6Zuuo46r2pURWjyh8bzdkJnH09sWTVYH/DDMsIlFU7rnPgw4NvElv2yfvF/Ow2h15+glEfQ93ZxFpuedn2oLzAaBuvOwp[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-06-18T18:22:56Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-06-18T17:22:56Z</SignedStart><SignedExpiry>2025-06-18T18:22:56Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a38609ce-ef28-4ffd-4c00-75b20bbd5a6e/test-blob-b1e3866c-fb37-bf68-280f-be6954671599?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-06-18T17%3A22%3A56Z&ske=2025-06-18T18%3A22%3A56Z&sks=b&skv=2026-02-06&sv=Sanitized&se=2025-06-18T18%3A22%3A56Z&sr=c&sp=r&sduoid=e610410d-4aa1-4e96-8f70-bc1850bff049&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7c0r716e2qoE6zTbGSOX/w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDAE8CC3E61DBB\"",
        "Last-Modified": "Wed, 18 Jun 2025 17:22:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Jun 2025 17:22:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 18 Jun 2025 17:22:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2025-06-18T17:22:56.1770939Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a38609ce-ef28-4ffd-4c00-75b20bbd5a6e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-18T12:22:56.2277795-05:00",
    "RandomSeed": "386226292",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
