{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cd41508b-a014-4957-1793-1371b7063158?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 16:52:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79454615FCCC\"",
        "Last-Modified": "Tue, 03 Mar 2026 16:52:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cd41508b-a014-4957-1793-1371b7063158/foo/bar/hello?sv=Sanitized&se=2026-03-04T16%3A52%3A36Z&sr=d&sp=racwdxltfi&sdd=3&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE794546220B5C\"",
        "Last-Modified": "Tue, 03 Mar 2026 16:52:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-03-03T16:52:36.9529692Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cd41508b-a014-4957-1793-1371b7063158/foo/bar/hello/test?sv=Sanitized&se=2026-03-04T16%3A52%3A36Z&sr=d&sp=racwdxltfi&sdd=3&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7945462DE4EB\"",
        "Last-Modified": "Tue, 03 Mar 2026 16:52:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-03-03T16:52:37.0306283Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cd41508b-a014-4957-1793-1371b7063158?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 16:52:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T11:52:36.3301437-05:00",
    "RandomSeed": "887570610",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
