{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/exportkey-35418/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/exportkey-35418/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_ops": [
          "encrypt",
          "decrypt"
        ],
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "data": "eyAic2FuaXRpemVkIjogInNhbml0aXplZCIgfQ=="
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "87"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1739478252,
          "enabled": true,
          "exportable": true,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1739478252
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/exportkey-35418/355c50ee942c07942bf49680e5743b7a",
          "kty": "RSA-HSM",
          "n": "ilKBpGUwVqsCNecD03_-7Pt4QWjs8MIIloKkKEJ1i2YFBLZkNH8ajTj88qf8_cm_Mx8_YTW88x2MzTjbQAa3yGe6KhcQ1j72R3lZjUgrJLdUCZ0JQGTRu08c5_TcTeDt4k0L_LhJRf2ClHUawcfobJaJAjnjCgg3RNn9Y9wYgW_c5i8Jfod9do2ATN8oBixFkCrWkmD5DY4rRg3MBrcYhzj0wKvsqqqTDgjmRuiLFwWIUv8Jc1r4_fOJDxUnsVpbV-9VBpwkKaNx-cuj74i2pwn2tpsjgQc1VDR_r7p1EbZsCFqSrcqHPRahS5P5YDCp25R03djq9r0dcfv3snmXyQ"
        },
        "release_policy": {
          "contentType": "application/json; charset=utf-8",
          "data": "eyAic2FuaXRpemVkIjogInNhbml0aXplZCIgfQ==",
          "immutable": false
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/exportkey-35418/?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {},
        "release_policy": {
          "data": "eyAic2FuaXRpemVkIjogInNhbml0aXplZCIgfQ=="
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/[...]
