{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1780005083839?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dt0-MuK7n5bMEnLQU6ISzYP4uE09RhNOkf1d-xYyvJs\"",
        "Last-Modified": "Thu, 28 May 2026 21:51:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjAzNA==;sn=115292034",
        "x-ms-date": "Thu, 28 May 2026 21:51:24 GMT"
      },
      "ResponseBody": {
        "etag": "dt0-MuK7n5bMEnLQU6ISzYP4uE09RhNOkf1d-xYyvJs",
        "key": "key1-1780005083839",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:51:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780005083839?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjAzNA=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"se660pDf2QX-4vhlK7n2zJ0XeMwFGFgKsYT2fsdK3Lw\"",
        "Last-Modified": "Thu, 28 May 2026 21:51:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjAzNQ==;sn=115292035",
        "x-ms-date": "Thu, 28 May 2026 21:51:24 GMT"
      },
      "ResponseBody": {
        "etag": "se660pDf2QX-4vhlK7n2zJ0XeMwFGFgKsYT2fsdK3Lw",
        "key": "key2-1780005083839",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:51:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780005083839?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjAzNQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1780005083839",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"laD17NJv3gCO2ujduvCmJZGMif8yimew4UpVgsdZue0\"",
        "Last-Modified": "Thu, 28 May 2026 21:51:24 GMT",
        "Link": "</kv?snapshot=snapshot-1780005083839&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1780005083839&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjAzNg==;sn=115292036",
        "x-ms-date": "Thu, 28 May 2026 21:51:24 GMT"
      },
      "ResponseBody": {
        "etag": "laD17NJv3gCO2ujduvCmJZGMif8yimew4UpVgsdZue0",
        "name": "snapshot-1780005083839",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1780005083839",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:51:24.3566409+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1780005083839",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjAzNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjAzNg==;sn=115292036",
        "x-ms-date": "Thu, 28 May 2026 21:51:24 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780005083839?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjAzNw=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"wf_baqKdsVfukVgUJ1SQGgXLAPUMs6QmVpg_J0cLpcw\"",
        "Last-Modified": "Thu, 28 May 2026 21:51:39 GMT",
        "Link": "</kv?snapshot=snapshot-1780005083839&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjAzOA==;sn=115292038",
        "x-ms-date": "Thu, 28 May 2026 21:51:43 GMT"
      },
      "ResponseBody": {
        "etag": "wf_baqKdsVfukVgUJ1SQGgXLAPUMs6QmVpg_J0cLpcw",
        "name": "snapshot-1780005083839",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1780005083839",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:51:24+00:00",
        "expires": "2026-06-27T21:51:43.1832568+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780005083839?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjA0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"se660pDf2QX-4vhlK7n2zJ0XeMwFGFgKsYT2fsdK3Lw\"",
        "Last-Modified": "Thu, 28 May 2026 21:51:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjA0Mg==;sn=115292042",
        "x-ms-date": "Thu, 28 May 2026 21:51:43 GMT"
      },
      "ResponseBody": {
        "etag": "se660pDf2QX-4vhlK7n2zJ0XeMwFGFgKsYT2fsdK3Lw",
        "key": "key2-1780005083839",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:51:24+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1780005083839",
    "key2": "key2-1780005083839",
    "snapshot1": "snapshot-1780005083839"
  }
}
