{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1769158681744?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1769158681744",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ogvrCP6Gbxf_CSCQe_K_6S5TjgbuvCqZNxD0YvKE3o8\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:58:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDQ1NA==;sn=103584454",
        "x-ms-date": "Fri, 23 Jan 2026 08:58:04 GMT"
      },
      "ResponseBody": {
        "etag": "ogvrCP6Gbxf_CSCQe_K_6S5TjgbuvCqZNxD0YvKE3o8",
        "key": "key1-1769158681744",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:58:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769158681744?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDQ1NA=="
      },
      "RequestBody": {
        "key": "key2-1769158681744",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"626KVCj2HMnaxW1cuLbIKX99tnKxwm6VXSZfa7ILYz4\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:58:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDQ1NQ==;sn=103584455",
        "x-ms-date": "Fri, 23 Jan 2026 08:58:04 GMT"
      },
      "ResponseBody": {
        "etag": "626KVCj2HMnaxW1cuLbIKX99tnKxwm6VXSZfa7ILYz4",
        "key": "key2-1769158681744",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:58:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769158681744?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDQ1NQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1769158681744",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"rgArk9XH14wWzCrHEjLMhrxgpH4a8ZPobP03LPhDDFg\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:58:05 GMT",
        "Link": "</kv?snapshot=snapshot-1769158681744&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1769158681744&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDQ1Ng==;sn=103584456",
        "x-ms-date": "Fri, 23 Jan 2026 08:58:05 GMT"
      },
      "ResponseBody": {
        "etag": "rgArk9XH14wWzCrHEjLMhrxgpH4a8ZPobP03LPhDDFg",
        "name": "snapshot-1769158681744",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1769158681744",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T08:58:05.0306253+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1769158681744",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDQ1Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDQ1Ng==;sn=103584456",
        "x-ms-date": "Fri, 23 Jan 2026 08:58:05 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769158681744?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDQ1Nw=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"TYdAqQ-YJO4yOPjbONQxsYCgqPKT-nzZVIdI1oE0eHQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:58:14 GMT",
        "Link": "</kv?snapshot=snapshot-1769158681744&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDQ1OA==;sn=103584458",
        "x-ms-date": "Fri, 23 Jan 2026 08:58:15 GMT"
      },
      "ResponseBody": {
        "etag": "TYdAqQ-YJO4yOPjbONQxsYCgqPKT-nzZVIdI1oE0eHQ",
        "name": "snapshot-1769158681744",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1769158681744",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T08:58:05+00:00",
        "expires": "2026-02-22T08:58:15.778038+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769158681744?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDQ2MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"626KVCj2HMnaxW1cuLbIKX99tnKxwm6VXSZfa7ILYz4\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:58:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDQ2Mg==;sn=103584462",
        "x-ms-date": "Fri, 23 Jan 2026 08:58:16 GMT"
      },
      "ResponseBody": {
        "etag": "626KVCj2HMnaxW1cuLbIKX99tnKxwm6VXSZfa7ILYz4",
        "key": "key2-1769158681744",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:58:04+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1769158681744",
    "key2": "key2-1769158681744",
    "snapshot1": "snapshot-1769158681744"
  }
}
