{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781548743568?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gO069UtjdgG45NHlG-YtLddanDn0oj90x3uviVk4UqY\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:39:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ2NQ==;sn=53372465",
        "x-ms-date": "Mon, 15 Jun 2026 18:39:06 GMT"
      },
      "ResponseBody": {
        "etag": "gO069UtjdgG45NHlG-YtLddanDn0oj90x3uviVk4UqY",
        "key": "key1-1781548743568",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:39:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548743568?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ2NQ=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BQHrJaW9gbjCbo_Ryuqj9-JrJAiw9ZubSXMg1r8uyfE\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:39:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ2Ng==;sn=53372466",
        "x-ms-date": "Mon, 15 Jun 2026 18:39:07 GMT"
      },
      "ResponseBody": {
        "etag": "BQHrJaW9gbjCbo_Ryuqj9-JrJAiw9ZubSXMg1r8uyfE",
        "key": "key2-1781548743568",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:39:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548743568?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ2Ng=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781548743568",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"uBmJFs3w_QDhojA0SQTj6n9JCFvSyODuBEHUh3CbHD4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:39:07 GMT",
        "Link": "</kv?snapshot=snapshot-1781548743568&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781548743568&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ2Nw==;sn=53372467",
        "x-ms-date": "Mon, 15 Jun 2026 18:39:07 GMT"
      },
      "ResponseBody": {
        "etag": "uBmJFs3w_QDhojA0SQTj6n9JCFvSyODuBEHUh3CbHD4",
        "name": "snapshot-1781548743568",
        "description": "a snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1781548743568",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:39:07.0206187+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781548743568",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ2Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ2Nw==;sn=53372467",
        "x-ms-date": "Mon, 15 Jun 2026 18:39:07 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548743568?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ3MA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"W7g-aoSwpPKWY5qYwrbDuYzd6PqpmThl7fRrcdgdT0g\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:39:27 GMT",
        "Link": "</kv?snapshot=snapshot-1781548743568&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ3MQ==;sn=53372471",
        "x-ms-date": "Mon, 15 Jun 2026 18:39:37 GMT"
      },
      "ResponseBody": {
        "etag": "W7g-aoSwpPKWY5qYwrbDuYzd6PqpmThl7fRrcdgdT0g",
        "name": "snapshot-1781548743568",
        "description": "a snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1781548743568",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:39:07+00:00",
        "expires": "2026-07-15T18:39:37.2404138+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548743568?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BQHrJaW9gbjCbo_Ryuqj9-JrJAiw9ZubSXMg1r8uyfE\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:39:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ3NQ==;sn=53372475",
        "x-ms-date": "Mon, 15 Jun 2026 18:39:37 GMT"
      },
      "ResponseBody": {
        "etag": "BQHrJaW9gbjCbo_Ryuqj9-JrJAiw9ZubSXMg1r8uyfE",
        "key": "key2-1781548743568",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:39:06+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1781548743568",
    "key2": "key2-1781548743568",
    "snapshot1": "snapshot-1781548743568"
  }
}
