{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1716931097800?api-version=2023-10-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1716931097800",
        "label": "label1",
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3HCIVqQVtrW6KfAhZeTF8FRMg5My8am9Ey0I8ASj-fo\"",
        "Last-Modified": "Tue, 28 May 2024 21:18:18 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwNDU=;sn=2613045"
      },
      "ResponseBody": {
        "etag": "3HCIVqQVtrW6KfAhZeTF8FRMg5My8am9Ey0I8ASj-fo",
        "key": "key1-1716931097800",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:18:18+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1716931097800?api-version=2023-10-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwNDU="
      },
      "RequestBody": {
        "key": "key2-1716931097800",
        "label": "label2",
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W1xDumhw0gUAKjLtzLLxJRL6dvXO2ZkS8XLABVHoljs\"",
        "Last-Modified": "Tue, 28 May 2024 21:18:18 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwNDY=;sn=2613046"
      },
      "ResponseBody": {
        "etag": "W1xDumhw0gUAKjLtzLLxJRL6dvXO2ZkS8XLABVHoljs",
        "key": "key2-1716931097800",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:18:18+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1716931097800?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwNDY="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1716931097800",
            "label": "label1"
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"koGBvzLANmy3n3wMfgxrfrXC3KQ-fuZ2rLKCjywR4no\"",
        "Last-Modified": "Tue, 28 May 2024 21:18:18 GMT",
        "Link": "</kv?snapshot=snapshot-1716931097800&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1716931097800&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwNDc=;sn=2613047"
      },
      "ResponseBody": {
        "etag": "koGBvzLANmy3n3wMfgxrfrXC3KQ-fuZ2rLKCjywR4no",
        "name": "snapshot-1716931097800",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1716931097800",
            "label": "label1"
          }
        ],
        "composition_type": "key",
        "created": "2024-05-28T21:18:18+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1716931097800&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwNDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwNDc=;sn=2613047"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1716931097800?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwNDg="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xvjgMxUg4usy_nOAwfNER4KxVycnqK_uLSjUnTaiR4w\"",
        "Last-Modified": "Tue, 28 May 2024 21:18:18 GMT",
        "Link": "</kv?snapshot=snapshot-1716931097800&api-version=2023-10-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwNDk=;sn=2613049"
      },
      "ResponseBody": {
        "etag": "xvjgMxUg4usy_nOAwfNER4KxVycnqK_uLSjUnTaiR4w",
        "name": "snapshot-1716931097800",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1716931097800",
            "label": "label1"
          }
        ],
        "composition_type": "key",
        "created": "2024-05-28T21:18:18+00:00",
        "expires": "2024-06-27T21:18:38.5474185+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1716931097800?api-version=2023-10-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwNTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W1xDumhw0gUAKjLtzLLxJRL6dvXO2ZkS8XLABVHoljs\"",
        "Last-Modified": "Tue, 28 May 2024 21:18:18 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwNTM=;sn=2613053"
      },
      "ResponseBody": {
        "etag": "W1xDumhw0gUAKjLtzLLxJRL6dvXO2ZkS8XLABVHoljs",
        "key": "key2-1716931097800",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:18:18+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1716931097800",
    "key2": "key2-1716931097800",
    "snapshot1": "snapshot-1716931097800"
  }
}
