{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762283308909?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762283308909",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EzQHuek306E2ZYSHGKcAIoNGnYCRIjBwMU9Le906Xrg\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNDY=;sn=75064146",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:31 GMT"
      },
      "ResponseBody": {
        "etag": "EzQHuek306E2ZYSHGKcAIoNGnYCRIjBwMU9Le906Xrg",
        "key": "key1-1762283308909",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:08:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762283308909?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNDY="
      },
      "RequestBody": {
        "key": "key2-1762283308909",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HstUQFuIQGI2qE6eto7aB3d4C7KJrjF4MAAcCalJqzU\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNDc=;sn=75064147",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:31 GMT"
      },
      "ResponseBody": {
        "etag": "HstUQFuIQGI2qE6eto7aB3d4C7KJrjF4MAAcCalJqzU",
        "key": "key2-1762283308909",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:08:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762283308909?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNDc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762283308909",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"CWeF8I2Q11yRj6CI1_BmZLdTvDaCP7dStjQQ4g_oUXM\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:31 GMT",
        "Link": "</kv?snapshot=snapshot-1762283308909&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762283308909&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNDg=;sn=75064148",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:31 GMT"
      },
      "ResponseBody": {
        "etag": "CWeF8I2Q11yRj6CI1_BmZLdTvDaCP7dStjQQ4g_oUXM",
        "name": "snapshot-1762283308909",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762283308909",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T19:08:31.6673546+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762283308909",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNDg=;sn=75064148",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:31 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762283308909?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNDk="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"gl7dTO44TYlM3wmeEulL3zPd8Ri3bAqt33DcySMydfo\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:38 GMT",
        "Link": "</kv?snapshot=snapshot-1762283308909&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNTA=;sn=75064150",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:42 GMT"
      },
      "ResponseBody": {
        "etag": "gl7dTO44TYlM3wmeEulL3zPd8Ri3bAqt33DcySMydfo",
        "name": "snapshot-1762283308909",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762283308909",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T19:08:31+00:00",
        "expires": "2025-12-04T19:08:42.6331013+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762283308909?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HstUQFuIQGI2qE6eto7aB3d4C7KJrjF4MAAcCalJqzU\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNTQ=;sn=75064154",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:43 GMT"
      },
      "ResponseBody": {
        "etag": "HstUQFuIQGI2qE6eto7aB3d4C7KJrjF4MAAcCalJqzU",
        "key": "key2-1762283308909",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:08:31+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762283308909",
    "key2": "key2-1762283308909",
    "snapshot1": "snapshot-1762283308909"
  }
}
