{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/LambdaTest.HyperExecute/operations?api-version=2024-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "24999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "LambdaTest.HyperExecute",
              "resource": "checkNameAvailability",
              "operation": "action_checkNameAvailability",
              "description": "action checkNameAvailability"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "LambdaTest.HyperExecute",
              "resource": "operations",
              "operation": "read_operations",
              "description": "read operations"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": [...]
