{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout:analyze?api-version=2024-11-30&stringIndexType=utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeResults/76a6e124-e951-4421-8472-b9a9bf70ff0d?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeResults/76a6e124-e951-4421-8472-b9a9bf70ff0d?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-12-10T00:20:07Z",
        "lastUpdatedDateTime": "2024-12-10T00:20:07Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeResults/76a6e124-e951-4421-8472-b9a9bf70ff0d?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-12-10T00:20:07Z",
        "lastUpdatedDateTime": "2024-12-10T00:20:08Z",
        "analyzeResult": {
          "apiVersion": "2024-11-30",
          "modelId": "prebuilt-layout",
          "stringIndexType": "utf16CodeUnit",
          "content": "",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ]
            }
          ],
          "tables": [],
          "styles": [],
          "contentFormat": "text"
        }
      }
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaornettesting.cognitiveservices.azure.com/",
    "RandomSeed": "664930042"
  }
}