{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_update_existing_metric?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Initial Test Metric",
        "description": "A metric to be updated",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"x3tL4TM8yGY=\"",
        "Last-Modified": "Fri, 09 May 2025 00:03:04 GMT",
        "mise-correlation-id": "9e3937a3-b81d-4c8f-a680-44207d377bc8"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Initial Test Metric",
        "description": "A metric to be updated",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"x3tL4TM8yGY=\"",
        "lastModifiedAt": "2025-05-09T00:03:04.5710803+00:00"
      }
    },
[...]
