{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_update_etag_mismatch?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_conditional_update_etag_mismatch",
        "description": "A metric created for testing purposes (test_conditional_update_etag_mismatch)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"q0vHADeX1Ic=\"",
        "Last-Modified": "Wed, 07 May 2025 15:55:10 GMT",
        "mise-correlation-id": "9c6c484d-afad-49dc-89bf-eb86ff932d9c"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_conditional_update_etag_mismatch",
        "description": "A metric created for testing purposes (test_conditional_update_etag_mismatch)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"q0vHADeX1Ic=\"",
        "lastModifiedAt": "2025-05-07T15:55:10.8923569+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_update_etag_mismatch?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"incorrect-etag-value\""
      },
      "RequestBody": {
        "description": "This update should fail due to ETag mismatch"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4028034f-bf03-44e8-afaa-b190ba62b4db",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified in the If-Match request header was not met.",
          "target": null,
          "details": [],
          "innerError": null
        }
      }
    }
  ],
  "Variables": {}
}
