{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_update_with_etag?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_conditional_update_with_etag",
        "description": "A metric created for testing purposes (test_conditional_update_with_etag)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"z2oBxQbaAW8=\"",
        "Last-Modified": "Fri, 09 May 2025 17:11:05 GMT",
        "mise-correlation-id": "a6a26674-696e-4fc2-8331-73b13f581117"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_conditional_update_with_etag",
        "displayName": "Test Metric test_conditional_update_with_etag",
        "description": "A metric created for testing purposes (test_conditional_update_with_etag)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"z2oBxQbaAW8=\"",
        "lastModifiedAt": "2025-05-09T17:11:05.6250227+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_update_with_etag?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"z2oBxQbaAW8=\""
      },
      "RequestBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_conditional_update_with_etag",
        "displayName": "Test Metric test_conditional_update_with_etag",
        "description": "This metric was updated with a conditional request",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"[...]
