{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d"
          },
          {
            "tenantId": "01c25247-e69e-40ab-945a-49e4514b0d42"
          },
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          },
          {
            "tenantId": "fbcdd0f3-dc82-4cee-bcde-7301d24e9bf6"
          }
        ],
        "subscriptionId": "204898ee-cd13-4332-b9d4-55ca5c25496d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ARC-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "575448583",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "204898ee-cd13-4332-b9d4-55ca5c25496d"
  }
}
