{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2026-01-22T20:30:35Z</Start><Expiry>2026-01-27T21:30:35Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>51291b7b-d07c-424e-b934-042c148c6a56</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-22T20:30:35Z</SignedStart><SignedExpiry>2026-01-27T21:30:35Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911744184206623?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE59FD7EB3E4DE\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:30:42 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911744184206623/blob176911744191404895",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE59FD7EBF47F7\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:30:42 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-22T21:30:42.1252087Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911744184206623/blob176911744191404895?sv=Sanitized&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-01-22T20%3A30%3A35Z&ske=2026-01-27T21%3A30%3A35Z&sks=b&skv=2026-02-06&sr=b&sp=racwdxtme&sig=sanitizedsig&saoid=b77d5205-ddb5-42e1-80ee-26c74a5e9333&scid=b77d5205-ddb5-42e1-80ee-26c74a5e9333",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE59FD7EBF47F7\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:30:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 22 Jan 2026 21:30:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 22 Jan 2026 21:30:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-22T21:30:42.1252087Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911744184206623?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176911744191404895",
    "container": "container176911744184206623",
    "now": "2026-01-22T21:30:35.451Z",
    "tmr": "2026-01-22T21:30:35.451Z"
  }
}
