{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk4934?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk4934",
        "name": "networkcloud-sdk4934",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/shared-dev-dev05-cluster/providers/Microsoft.NetworkCloud/volumes/volume7028?api-version=2025-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev05-21511d90fdd6-HostedResources-00F0C132/providers/Microsoft.ExtendedLocation/customLocations/dev05-21511d90fdd6-cstm-loc",
          "type": "CustomLocation"
        },
        "properties": {
          "sizeMiB": 10
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/b730f362-885b-49e8-b70c-5f2096785692*CA0B6DA96666907463002BCA7729FA5AE44CC0BD4818429DAF34DDCE58ABE2EC?api-version=2025-02-01&t=638822486253800547&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgxMTE1WhcNMjUxMDE1MDgxMTE1W[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/b730f362-885b-49e8-b70c-5f2096785692*CA0B6DA96666907463002BCA7729FA5AE44CC0BD4818429DAF34DDCE58ABE2EC?api-version=2025-02-01&t=638822486253800547&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgx[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/shared-dev-dev05-cluster/providers/Microsoft.NetworkCloud/volumes/volume7028?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"fd007de9-0000-1000-0000-681bcab60000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "199992"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/shared-dev-dev05-cluster/providers/Microsoft.NetworkCloud/volumes/volume7028",
        "name": "volume7028",
        "type": "microsoft.networkcloud/volumes",
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev05-21511d90fdd6-HostedResources-00F0C132/providers/Microsoft.ExtendedLocation/customLocations/dev05-21511d90fdd6-cstm-loc",
          "type": "CustomLocation"
        },
        "etag": "\"fd007de9-0000-1000-0000-681bcab60000\"",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-05-07T21:03:44.8487423Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2025-05-07T21:03:50.7559214Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "sizeMiB": 10,
          "attachedTo": [],
          "detailedStatus": "Active",
          "detailedStatusMessage": "Volume provisioning Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/shared-dev-dev05-cluster/providers/Microsoft.NetworkCloud/volumes/volume7028?api-version=2025-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"fd008de9-0000-1000-0000-681bcaba0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "19999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/sha[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/shared-dev-dev05-cluster/providers/Microsoft.NetworkCloud/volumes?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "eae3acd8-b991-40ab-a6d0-738a3ecf3172",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "199991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/shared-dev-dev05-cluster/providers/Microsoft.NetworkCloud/volumes/volume7028",
            "name": "volume7028",
            "type": "microsoft.networkcloud/volumes",
            "location": "uksouth",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev05-21511d90fdd6-HostedResources-00F0C132/providers/Microsoft.ExtendedLocation/customLocations/dev05-21511d90fdd6-cstm-loc",
              "type": "CustomLocation"
            },
            "etag": "\"fd008de9-0000-1000-0000-681bcaba0000\"",
            "tags": {
              "key1": "myvalue1",
              "key2": "myvalue2"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-05-07T21:03:44.8487423Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-05-07T21:03:54.0737179Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "sizeMiB": 10,
              "attachedTo": [],
              "detailedStatus": "Active",
              "detailedStatusMessage": "Volume provisioning Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/volumes?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "3d1f1373-96a0-495f-a6b5-6bfac0176b10",
          "9081b738-48fe-47e0-b817-fbcd04be5ef3"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-cb4496ab6215-HostedResources-009EAA62/providers/Microsoft.NetworkCloud/volumes/reddy-delete-test",
            "name": "reddy-delete-test",
            "type": "microsoft.networkcloud/volumes",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-cb4496ab6215-hostedresources-009eaa62/providers/microsoft.extendedlocation/customlocations/dev07-cb4496ab6215-cstm-loc",
              "type": "CustomLocation"
            },
            "etag": "\"7300c1ec-0000-0100-0000-67ef936b0000\"",
            "tags": {
              "CreatedBy": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-cb4496ab6215-hostedresources-009eaa62/providers/microsoft.extendedlocation/customlocations/dev07-cb4496ab6215-cstm-loc/resourcesyncrules/volumeshydrationrule"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-04-04T08:08:08.4358401Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/a10fdbcc-1a3c-4184-ad00-10849150f868*CA0B6DA96666907463002BCA7729FA5AE44CC0BD4818429DAF34DDCE58ABE2EC?api-version=2025-02-01&t=638822486381678059&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgx[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/a10fdbcc-1a3c-4184-ad00-10849150f868*CA0B6DA96666907463002BCA7729FA5AE44CC0BD4818429DAF34DDCE58ABE2EC?api-version=2025-02-01&t=638822486385676058&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgx[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/a10fdbcc-1a3c-4184-ad00-10849150f868*CA0B6DA96666907463002BCA7729FA5AE44CC0BD4818429DAF34DDCE58ABE2EC?api-version=2025-02-01&t=638822486398430873&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgx[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/a10fdbcc-1a3c-4184-ad00-10849150f868*CA0B6DA96666907463002BCA7729FA5AE44CC0BD4818429DAF34DDCE58ABE2EC?api-version=2025-02-01&t=638822486410749105&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgx[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/a10fdbcc-1a3c-4184-ad00-10849150f868*CA0B6DA96666907463002BCA7729FA5AE44CC0BD4818429DAF34DDCE58ABE2EC?api-version=2025-02-01&t=638822486423310798&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgx[...]
