{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('data-source-connection-create-or-update')?api-version=2026-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "data-source-connection-create-or-update",
        "type": "azureblob",
        "container": {
          "name": "fakestoragecontainer"
        },
        "description": "Data source description",
        "credentials": {
          "connectionString": "Sanitized"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "63",
        "ETag": "\"0x8DEB509C820CFE9\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DEB509C820CFE9\"",
        "name": "data-source-connection-create-or-update",
        "description": "Data source description",
        "type": "azureblob",
        "subtype": null,
        "indexerPermissionOptions": [],
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "fakestoragecontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('data-source-connection-create-or-update')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "31",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
