{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "hotelId": "1000",
            "rating": 5,
            "rooms": [],
            "hotelName": "Azure Inn",
            "@search.action": "upload"
          },
          {
            "hotelId": "1001",
            "rating": 4,
            "rooms": [],
            "hotelName": "Redmond Hotel",
            "@search.action": "upload"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "29",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "Sanitized",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "Sanitized",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 12
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs('1000')?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "hotelId": "1000",
        "hotelName": "Azure Inn",
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": 5,
        "location": null,
        "address": null,
        "rooms": []
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "elapsed-time": "4",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs('5')?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "hotelId": "5",
        "hotelName": "Comfy Place",
        "description": "Another good hotel",
        "descriptionFr": "Un autre bon hÃ´tel",
        "category": "Budget",
        "tags": [
          "wifi",
          "budget"
        ],
        "parkingIncluded": true,
        "smokingAllowed": false,
        "lastRenovationDate": "2012-08-12T00:00:00Z",
        "rating": 1,
        "location": {
          "type": "Point",
          "coordinates": [
            -122.131577,
            48.678581
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "Sanitized"
            }
          }
        },
        "address": null,
        "rooms": []
      }
    },
[...]
