{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2024-03-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create-ds",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=fakestoragecs;AccountKey=FAKE;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "fakestoragecontainer"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "37",
        "ETag": "\"0x8DC5983B97E1FFC\"",
        "Location": "https://fakesearchendpoint.search.windows.net/datasources('create-ds')?api-version=2024-03-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DC5983B97E1FFC\"",
        "name": "create-ds",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "fakestoragecontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2024-03-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create-hotels",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "400",
        "ETag": "\"0x8DC5983B9C05CC6\"",
        "Location": "https://fakesearchendpoint.search.windows.net/indexes('create-hotels')?api-version=2024-03-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DC5983B9C05CC6\"",
        "name": "create-hotels",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2024-03-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create",
        "dataSourceName": "create-ds",
        "targetIndexName": "create-hotels",
        "disabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1410",
        "ETag": "\"0x8DC5983BA7BADDF\"",
        "Location": "https://fakesearchendpoint.search.windows.net/indexers('create')?api-version=2024-03-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC5983BA7BADDF\"",
        "name": "create",
        "description": null,
        "dataSourceName": "create-ds",
        "skillsetName": null,
        "targetIndexName": "create-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2024-03-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "15",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers",
        "value": [
          {
            "@odata.etag": "\"0x8DC5983BA7BADDF\"",
            "name": "create",
            "description": null,
            "dataSourceName": "create-ds",
            "skillsetName": null,
            "targetIndexName": "create-hotels",
            "disabled": false,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "cache": null,
            "encryptionKey": null
          },
          {
            "@odata.etag": "\"0x8DC5983BB074B25\"",
            "name": "delete",
            "description": null,
            "dataSourceName": "delete-ds",
            "skillsetName": null,
            "targetIndexName": "delete-hotels",
            "disabled": false,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "cache": null,
            "encryptionKey": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('delete')?api-version=2024-03-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "45",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('get')?api-version=2024-03-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "8",
        "ETag": "\"0x8DC5983BB9AF5A3\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC5983BB9AF5A3\"",
        "name": "get",
        "description": null,
        "dataSourceName": "get-ds",
        "skillsetName": null,
        "targetIndexName": "get-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('cou')?api-version=2024-03-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "cou",
        "description": "updated",
        "dataSourceName": "cou-ds",
        "targetIndexName": "cou-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "179",
        "ETag": "\"0x8DC5983C37943BC\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC5983C37943BC\"",
        "name": "cou",
        "description": "updated",
        "dataSourceName": "cou-ds",
        "skillsetName": null,
        "targetIndexName": "cou-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('reset')/search.reset?api-version=2024-03-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "232",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('reset')/search.status?api-version=2024-03-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "29",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_03_01_Preview.IndexerExecutionInfo",
        "name": "reset",
        "status": "running",
        "lastResult": {
          "status": "reset",
          "statusDetail": null,
          "errorMessage": null,
          "startTime": "2024-04-10T17:29:34.47Z",
          "endTime": "2024-04-10T17:29:34.47Z",
          "itemsProcessed": 0,
          "itemsFailed": 0,
          "initialTrackingState": null,
          "finalTrackingState": null,
          "mode": "indexingAllDocs",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "reset",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2024-04-10T17:29:34.47Z",
            "endTime": "2024-04-10T17:29:34.47Z",
            "itemsProcessed": 0,
            "itemsFailed": 0,
            "initialTrackingState": null,
            "finalTrackingState": null,
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          },
          {
            "status": "success",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2024-04-10T17:29:29.507Z",
            "endTime": "2024-04-10T17:29:29.538Z",
            "itemsProcessed": 0,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2024-04-10T17:29:29.507Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
            "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2024-04-10T17:28:59.5072232+00:00\",\"LastAttemptedEnumerationStartTime\":\"2024-04-10T17:28:59.5072232+00:00\",\"NameHighWaterMark\":null}",
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 134217728,
          "maxDocumentContentCharactersToExtract": 4194304
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('run')/search.run?api-version=2024-03-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "43",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('run')/search.status?api-version=2024-03-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "26",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_03_01_Preview.IndexerExecutionInfo",
        "name": "run",
        "status": "running",
        "lastResult": null,
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT0S",
          "maxDocumentExtractionSize": 0,
          "maxDocumentContentCharactersToExtract": 0
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('get-status')/search.status?api-version=2024-03-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "16",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_03_01_Preview.IndexerExecutionInfo",
        "name": "get-status",
        "status": "running",
        "lastResult": null,
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT0S",
          "maxDocumentExtractionSize": 0,
          "maxDocumentContentCharactersToExtract": 0
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('couunch')?api-version=2024-03-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "couunch",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "targetIndexName": "couunch-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "194",
        "ETag": "\"0x8DC5983D1E475F9\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC5983D1E475F9\"",
        "name": "couunch",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "skillsetName": null,
        "targetIndexName": "couunch-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('couunch')?api-version=2024-03-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\"0x8DC5983CBB7E302\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "couunch",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "targetIndexName": "couunch-hotels",
        "disabled": false,
        "@odata.etag": "\"0x8DC5983CBB7E302\""
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "8"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('delunch')?api-version=2024-03-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "delunch",
        "description": "updated",
        "dataSourceName": "delunch-ds",
        "targetIndexName": "delunch-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "168",
        "ETag": "\"0x8DC5983D8862A2E\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC5983D8862A2E\"",
        "name": "delunch",
        "description": "updated",
        "dataSourceName": "delunch-ds",
        "skillsetName": null,
        "targetIndexName": "delunch-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('delunch')?api-version=2024-03-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DC5983D258D4CD\""
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "8"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    }
  ],
  "Variables": {}
}
