{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "synonym-map-create80f94334",
        "synonyms": "United States, United States of America\nWashington State, State of Washington",
        "format": "solr"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "61",
        "ETag": "\"0x8DEB5099CCC279B\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEB5099CCC279B\"",
        "name": "synonym-map-create80f94334",
        "format": "solr",
        "synonyms": "United States, United States of America\nWashington State, State of Washington",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-create80f94334')?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "ETag": "\"0x8DEB5099CCC279B\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEB5099CCC279B\"",
        "name": "synonym-map-create80f94334",
        "format": "solr",
        "synonyms": "United States, United States of America\nWashington State, State of Washington",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps",
        "value": [
          {
            "@odata.etag": "\"0x8DEB5099CCC279B\"",
            "name": "synonym-map-create80f94334",
            "format": "solr",
            "synonyms": "United States, United States of America\nWashington State, State of Washington",
            "encryptionKey": null
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps?api-version=2026-05-01-preview&$select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps(name)",
        "value": [
          {
            "name": "synonym-map-create80f94334"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-create80f94334')?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "13"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No synonym map with the name 'synonym-map-create80f94334' was found in service 'fakesearchendpoint'."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-create80f94334')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "11"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No synonymMap with the name 'synonym-map-create80f94334' was found in a service named 'fakesearchendpoint'."
        }
      }
    }
  ],
  "Variables": {}
}
