{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "data-source-connection-delete",
        "type": "azureblob",
        "container": {
          "name": "fakestoragecontainer"
        },
        "credentials": {
          "connectionString": "Sanitized"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "40",
        "ETag": "\"0x8DEB50D01C91174\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DEB50D01C91174\"",
        "name": "data-source-connection-delete",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "indexerPermissionOptions": [],
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "fakestoragecontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "index-delete",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "866",
        "ETag": "\"0x8DEB50D034DA621\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEB50D034DA621\"",
        "name": "index-delete",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabelId": null,
            "sensitivityLabelName": null,
            "sourceDocumentId": null,
            "sharepointSiteUrl": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null,
        "sharePointConnectorAppRegistration": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "indexer-delete",
        "dataSourceName": "data-source-connection-delete",
        "targetIndexName": "index-delete",
        "description": "Indexer description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "163",
        "ETag": "\"0x8DEB50D03618CF8\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DEB50D03618CF8\"",
        "name": "indexer-delete",
        "description": "Indexer description",
        "dataSourceName": "data-source-connection-delete",
        "skillsetName": null,
        "targetIndexName": "index-delete",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('indexer-delete')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "45",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('indexer-delete')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "11"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Indexer 'indexer-delete' was not found in service 'fakesearchendpoint'."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('data-source-connection-delete')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "21",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-delete')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "189",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
