{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "skillset-list-firstf820470a",
        "skills": [
          {
            "name": "split-skill",
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ],
            "context": "/document",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill"
          }
        ],
        "description": "Skillset description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "48",
        "ETag": "\"0x8DEA8DB7D8EA4EE\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\"0x8DEA8DB7D8EA4EE\"",
        "name": "skillset-list-firstf820470a",
        "description": "Skillset description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "split-skill",
            "description": null,
            "context": "/document",
            "defaultLanguageCode": null,
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "pageOverlapLength": null,
            "maximumPagesToTake": null,
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          }
        ],
        "cognitiveServices": null,
        "knowledgeStore": null,
        "indexProjections": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "25",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#skillsets",
        "value": [
          {
            "@odata.etag": "\"0x8DEA8DB7D8EA4EE\"",
            "name": "skillset-list-firstf820470a",
            "description": "Skillset description",
            "skills": [
              {
                "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
                "name": "split-skill",
                "description": null,
                "context": "/document",
                "defaultLanguageCode": "en",
                "textSplitMode": "pages",
                "max[...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets('skillset-list-firstf820470a')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "35",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets('skillset-list-secondf820470a')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "36",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
