{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "Sanitized"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "30",
        "ETag": "\"0x8DC6F718FB1C633\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DC6F718FB1C633\"",
        "name": "Sanitized",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "Sanitized",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "fields": [
          {
            "name": "Sanitized",
            "type": "Edm.String",
            "key": true,
            "searchable": false
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "439",
        "ETag": "\"0x8DC6F71902D4CBB\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DC6F71902D4CBB\"",
        "name": "Sanitized",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "Sanitized",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "dataSourceName": "create-ds",
        "targetIndexName": "create-hotels",
        "disabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20012",
        "ETag": "\"0x8DC6F719BE0B76A\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC6F719BE0B76A\"",
        "name": "Sanitized",
        "description": null,
        "dataSourceName": "create-ds",
        "skillsetName": null,
        "targetIndexName": "create-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "19",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers",
        "value": [
          {
            "@odata.etag": "\"0x8DC6F719BE0B76A\"",
            "name": "Sanitized",
            "description": null,
            "dataSourceName": "create-ds",
            "skillsetName": null,
            "targetIndexName": "create-hotels",
            "disabled": false,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "cache": null,
            "encryptionKey": null
          },
          {
            "@odata.etag": "\"0x8DC6F719E234DCA\"",
            "name": "Sanitized",
            "description": null,
            "dataSourceName": "delete-ds",
            "skillsetName": null,
            "targetIndexName": "delete-hotels",
            "disabled": false,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "cache": null,
            "encryptionKey": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('delete')?api-version=2024-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "63",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('get')?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "47",
        "ETag": "\"0x8DC6F71A043E229\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC6F71A043E229\"",
        "name": "Sanitized",
        "description": null,
        "dataSourceName": "get-ds",
        "skillsetName": null,
        "targetIndexName": "get-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('cou')?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "Sanitized",
        "description": "updated",
        "dataSourceName": "cou-ds",
        "targetIndexName": "cou-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "3117",
        "ETag": "\"0x8DC6F71AE6ECE1F\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC6F71AE6ECE1F\"",
        "name": "Sanitized",
        "description": "updated",
        "dataSourceName": "cou-ds",
        "skillsetName": null,
        "targetIndexName": "cou-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('reset')/search.reset?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "2433",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('reset')/search.status?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "44",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_05_01_Preview.IndexerExecutionInfo",
        "name": "Sanitized",
        "status": "running",
        "lastResult": {
          "status": "reset",
          "statusDetail": null,
          "errorMessage": null,
          "startTime": "2024-05-08T15:15:36.16Z",
          "endTime": "2024-05-08T15:15:36.16Z",
          "itemsProcessed": 0,
          "itemsFailed": 0,
          "initialTrackingState": null,
          "finalTrackingState": null,
          "mode": "indexingAllDocs",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "reset",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2024-05-08T15:15:36.16Z",
            "endTime": "2024-05-08T15:15:36.16Z",
            "itemsProcessed": 0,
            "itemsFailed": 0,
            "initialTrackingState": null,
            "finalTrackingState": null,
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          },
          {
            "status": "success",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2024-05-08T15:15:28.443Z",
            "endTime": "2024-05-08T15:15:30.882Z",
            "itemsProcessed": 3,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2024-05-08T15:15:28.478Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
            "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2024-05-08T15:14:58.47807+00:00\",\"LastAttemptedEnumerationStartTime\":\"2024-05-08T15:14:58.47807+00:00\",\"NameHighWaterMark\":null}",
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 134217728,
          "maxDocumentContentCharactersToExtract": 4194304
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('run')/search.run?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "47",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('run')/search.status?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "15",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_05_01_Preview.IndexerExecutionInfo",
        "name": "Sanitized",
        "status": "running",
        "lastResult": null,
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT0S",
          "maxDocumentExtractionSize": 0,
          "maxDocumentContentCharactersToExtract": 0
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('get-status')/search.status?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "16",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_05_01_Preview.IndexerExecutionInfo",
        "name": "Sanitized",
        "status": "running",
        "lastResult": null,
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT0S",
          "maxDocumentExtractionSize": 0,
          "maxDocumentContentCharactersToExtract": 0
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('couunch')?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "Sanitized",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "targetIndexName": "couunch-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2400",
        "ETag": "\"0x8DC6F71C4EF35D9\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC6F71C4EF35D9\"",
        "name": "Sanitized",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "skillsetName": null,
        "targetIndexName": "couunch-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('couunch')?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\"0x8DC6F71BD6E771A\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "Sanitized",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "targetIndexName": "couunch-hotels",
        "disabled": false,
        "@odata.etag": "\"0x8DC6F71BD6E771A\""
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "20"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('delunch')?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "Sanitized",
        "description": "updated",
        "dataSourceName": "delunch-ds",
        "targetIndexName": "delunch-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2334",
        "ETag": "\"0x8DC6F71CE3EA469\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DC6F71CE3EA469\"",
        "name": "Sanitized",
        "description": "updated",
        "dataSourceName": "delunch-ds",
        "skillsetName": null,
        "targetIndexName": "delunch-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('delunch')?api-version=2024-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6F71C6C90793\""
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "19"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    }
  ],
  "Variables": {}
}
