{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-source-get-web6a3e4bb8",
        "description": "Web knowledge source for SearchIndexClient live coverage",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ]
          }
        },
        "kind": "web"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "358",
        "ETag": "\"0x8DEA8B12B52169E\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEA8B12B52169E\"",
        "name": "knowledge-source-get-web6a3e4bb8",
        "kind": "web",
        "description": "Web knowledge source for SearchIndexClient live coverage",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": []
          }
        },
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('knowledge-source-get-web6a3e4bb8')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "15",
        "ETag": "\"0x8DEA8B12B52169E\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEA8B12B52169E\"",
        "name": "knowledge-source-get-web6a3e4bb8",
        "kind": "web",
        "description": "Web knowledge source for SearchIndexClient live coverage",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": []
          }
        },
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('knowledge-source-get-web6a3e4bb8')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "195",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
