{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('kbcfge51346c3')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "10"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No Knowledge Base with the name 'kbcfge51346c3' was found in a service named 'fakesearchendpoint'."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('kbsourcecfge51346c3')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "9"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No KnowledgeSource with the name 'kbsourcecfge51346c3' was found in a service named 'fakesearchendpoint'."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "kbsourcecfge51346c3",
        "description": "configuration source",
        "kind": "web",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "73",
        "ETag": "\"0x8DE1DA4B72C23FD\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE1DA4B72C23FD\"",
        "name": "kbsourcecfge51346c3",
        "kind": "web",
        "description": "configuration source",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": []
          }
        },
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "kbcfge51346c3",
        "knowledgeSources": [
          {
            "name": "kbsourcecfge51346c3"
          }
        ],
        "retrievalReasoningEffort": {
          "kind": "minimal"
        },
        "outputMode": "extractiveData",
        "description": "configurable knowledge base"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "71",
        "ETag": "\"0x8DE1DA4B73D4EB9\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DE1DA4B73D4EB9\"",
        "name": "kbcfge51346c3",
        "description": "configurable knowledge base",
        "retrievalInstructions": null,
        "answerInstructions": null,
        "outputMode": "extractiveData",
        "knowledgeSources": [
          {
            "name": "kbsourcecfge51346c3"
          }
        ],
        "models": [],
        "encryptionKey": null,
        "retrievalReasoningEffort": {
          "kind": "minimal"
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('kbcfge51346c3')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE1DA4B73D4EB9\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "kbcfge51346c3",
        "knowledgeSources": [
          {
            "name": "kbsourcecfge51346c3"
          }
        ],
        "retrievalReasoningEffort": {
          "kind": "medium"
        },
        "outputMode": "answerSynthesis",
        "@odata.etag": "\"0x8DE1DA4B73D4EB9\"",
        "description": "config updated",
        "retrievalInstructions": "summarize with details",
        "answerInstructions": "include citations and summaries"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "12"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequestParameter",
          "message": "Retrieval instructions cannot be specified if no model is provided for use.",
          "details": [
            {
              "code": "InvalidAgentRequest",
              "message": "Retrieval instructions cannot be specified if no model is provided for use."
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('kbsourcecfge51346c3')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DE1DA4B72C23FD\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "53",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
