{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-list-index8ecf48f8",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true
          }
        ],
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "prioritizedFields": {
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "896",
        "ETag": "\"0x8DEB5093BA1BF56\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEB5093BA1BF56\"",
        "name": "knowledge-base-list-index8ecf48f8",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabelId": null,
            "sensitivityLabelName": null,
            "sourceDocumentId": null,
            "sharepointSiteUrl": null,
            "synonymMaps": []
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabelId": null,
            "sensitivityLabelName": null,
            "sourceDocumentId": null,
            "sharepointSiteUrl": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "flightingOptIn": false,
              "rankingOrder": "BoostedRerankerScore",
              "prioritizedFields": {
                "titleField": null,
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ],
                "prioritizedKeywordsFields": []
              }
            }
          ]
        },
        "vectorSearch": null,
        "sharePointConnectorAppRegistration": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-list-source8ecf48f8",
        "description": "Knowledge source for SearchIndexClient knowledge base coverage",
        "searchIndexParameters": {
          "searchIndexName": "knowledge-base-list-index8ecf48f8"
        },
        "kind": "searchIndex"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "56",
        "ETag": "\"0x8DEB5093BAE5B65\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEB5093BAE5B65\"",
        "name": "knowledge-base-list-source8ecf48f8",
        "kind": "searchIndex",
        "description": "Knowledge source for SearchIndexClient knowledge base coverage",
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "knowledge-base-list-index8ecf48f8",
          "semanticConfigurationName": null,
          "baseFilter": null,
          "sourceDataFields": [],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "mcpServerParameters": null,
        "fabricOntologyParameters": null,
        "fabricDataAgentParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null,
        "fileParameters": null,
        "indexedSqlParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-list-base8ecf48f8",
        "description": "Knowledge base for SearchIndexClient live coverage",
        "knowledgeSources": [
          {
            "name": "knowledge-base-list-source8ecf48f8"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "27",
        "ETag": "\"0x8DEB5093BB83B50\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEB5093BB83B50\"",
        "name": "knowledge-base-list-base8ecf48f8",
        "description": "Knowledge base for SearchIndexClient live coverage",
        "retrievalInstructions": null,
        "answerInstructions": null,
        "outputMode": null,
        "knowledgeSources": [
          {
            "name": "knowledge-base-list-source8ecf48f8",
            "enableImageServing": null,
            "enableFreshness": null
          }
        ],
        "models": [],
        "encryptionKey": null,
        "retrievalReasoningEffort": null,
        "corsOptions": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "14",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases",
        "value": [
          {
            "@odata.etag": "\"0x8DEB5093BB83B50\"",
            "name": "knowledge-base-list-base8ecf48f8",
            "description": "Knowledge base for SearchIndexClient live coverage",
            "retrievalInstructions": null,
            "answerInstructions": null,
            "outputMode": null,
            "knowledgeSources": [
              {
                "name": "knowledge-base-list-source8ecf48f8",
                "enableImageServing": null,
                "enableFreshness": null
              }
            ],
            "models": [],
            "encryptionKey": null,
            "retrievalReasoningEffort": null,
            "corsOptions": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('knowledge-base-list-base8ecf48f8')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "52",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('knowledge-base-list-source8ecf48f8')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "49",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('knowledge-base-list-index8ecf48f8')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "157",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
