{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "26",
        "ETag": "\"0x8DE89CC8F0EEFE7\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE89CC8F0EEFE7\"",
        "name": "drgqefsg",
        "description": null,
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchP[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1000",
            "rating": 5,
            "rooms": [],
            "hotelName": "Azure Inn"
          },
          {
            "@search.action": "upload",
            "hotelId": "1001",
            "rating": 4,
            "rooms": [],
            "hotelName": "Redmond Hotel"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "61",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "Sanitized",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "Sanitized",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "35",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 12
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs('1000')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "hotelId": "1000",
        "hotelName": "Azure Inn",
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": 5,
        "location": null,
        "address": null,
        "rooms": []
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "elapsed-time": "33",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs('5')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "35",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "hotelId": "5",
        "hotelName": "Comfy Place",
        "description": "Another good hotel",
        "descriptionFr": "Un autre bon hÃ´tel",
        "category": "Budget",
        "tags": [
          "wifi",
          "budget"
        ],
        "parkingIncluded": true,
        "smokingAllowed": false,
        "lastRenovationDate": "2012-08-12T00:00:00Z",
        "rating": 1,
        "location": {
          "type": "Point",
          "coordinates": [
            -122.131577,
            48.678581
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "address": null,
        "rooms": []
      }
    },
[...]
