{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "hotel"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "12",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 0.7960079,
            "hotelId": "10",
            "hotelName": "Countryside Hotel",
            "description": "Save up to 50% off traditional hotels.  Free WiFi, great location near downtown, full kitchen, washer & dryer, 24/7 support, bowling alley, fitness center and more.",
            "descriptionFr": "Ã‰conomisez jusqu'Ã\u00A0 50% sur les hÃ´tels traditionnels.  WiFi gratuit, trÃ¨s bien situÃ© prÃ¨s du centre-ville, cuisine complÃ¨te, laveuse & sÃ©cheuse, support 24/7, bowling, centre de fitness et plus encore.",
            "category": "Budget",
            "tags": [
              "24-hour front desk service",
              "coffee in lobby",
              "restaurant"
            ],
            "parkingIncluded": false,
            "smokingAllowed": true,
            "lastRenovationDate": "1999-09-06T00:00:00Z",
            "rating": 3,
            "location": {
              "type": "Point",
              "coordinates": [
                -78.940483,
                35.90416
              ],
              "crs": {
                "type": "name",
                "properties": {
                  "name": "EPSG:4326"
                }
              }
            },
            "address": {
              "streetAddress": "6910 Fayetteville Rd",
              "city": "Durham",
              "stateProvince": "NC",
              "country": "USA",
              "postalCode": "27713"
            },
            "rooms": [
              {
                "description": "Suite, 1 King Bed (Amenities)",
                "descriptionFr": "Suite, 1 trÃ¨s grand lit (Services)",
                "type": "Suite",
                "baseRate": 2.44,
                "bedOptions": "1 King Bed",
                "sleepsCount": 2,
                "smokingAllowed": true,
                "tags": [
                  "coffee maker"
                ]
              },
              {
                "description": "Budget Room, 1 Queen Bed (Amenities)",
                "descriptionFr": "Chambre Ã‰conomique, 1 grand lit (Services)",
                "type": "Budget Room",
                "baseRate": 7.69,
                "bedOptions": "1 Queen Bed",
                "sleepsCount": 2,
                "smokingAllowed": false,
  [...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "hotel",
        "top": 3
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 0.7960079,
            "hotelId": "10",
            "hotelName": "Countryside Hotel",
            "description": "Sa[...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": "category eq 'Budget'",
        "orderby": "hotelName desc",
        "search": "WiFi",
        "select": "hotelName,category,description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 0.42169982,
            "hotelName": "Express Rooms",
            "description": "Pretty good hotel",
            "category": "Budget"
          },
          {
            "@search.score": 0.7373906,
            "hotelName": "EconoStay",
            "description": "Very popular hotel in town",
            "category": "Budget"
          },
          {
            "@search.score": 1.3700507,
            "hotelName": "Countryside Hotel",
            "description": "Save up to 50% off traditional hotels.  Free WiFi, great location near downtown, full kitchen, washer & dryer, 24/7 support, bowling alley, fitness center and more.",
            "category": "Budget"
          },
          {
            "@search.score": 0.42169982,
            "hotelName": "Comfy Place",
            "description": "Another good hotel",
            "category": "Budget"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "count": true,
        "search": "hotel"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.count": 7,
        "value": [
          {
            "@search.score": 0.7960079,
            "hotelId": "10",
            "hotelN[...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "minimumCoverage": 50.0,
        "search": "hotel"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.coverage": 100.0,
        "value": [
          {
            "@search.score": 0.7960079,
            "hotelId": "10",
           [...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "category"
        ],
        "search": "WiFi",
        "select": "hotelName,category,description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "category": [
            {
 [...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "rooms/baseRate,metric:sum",
          "rooms/baseRate,metric:avg",
          "rooms/baseRate,metric:min",
          "rooms/baseRate,metric:max,default:0",
          "rooms/sleepsCount,metric:cardinality,precisionThreshold:10"
        ],
        "search": "*"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "rooms/sleepsCount": [
            {
              "cardinality": 1
            }
          ],
          "rooms/baseRate": [
            {
              "sum": 27.910000000000004
            },
            {
              "avg": 6.977500000000001
            },
            {
              "min": 2.44
            },
            {
              "max": 9.69
            }
          ]
        },
        "value": [
          {
            "@search.score": 1.0,
            "hotelId": "3",
            "hotelName": "EconoStay",
            "description": "Very popular hotel in town",
            "descriptionFr": "HÃ´tel le plus populaire en ville",
            "category": "Budget",
            "tags": [
              "wifi",
              "budget"
            ],
            "parkingIncluded": true,
            "smokingAllowed": false,
            "[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.autocomplete?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "mot",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "text": "motel",
            "queryPlusText": "motel"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('drgqefsg')/docs/search.post.suggest?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "mot",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "@search.text": "Cheapest hotel in town. Infact, a motel.",
            "hotelId": "2"
          },
          {
            "@search.text": "Secret Point Motel",
            "hotelId": "9"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
