{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "skillset-created86e4841",
        "skills": [
          {
            "name": "split-skill-pages",
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ],
            "context": "/document",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill"
          },
          {
            "name": "split-skill-sentences",
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "sentences"
              }
            ],
            "context": "/document",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill"
          }
        ],
        "description": "Skillset description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "42",
        "ETag": "\"0x8DEB50A87459A5D\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\"0x8DEB50A87459A5D\"",
        "name": "skillset-created86e4841",
        "description": "Skillset description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "split-skill-pages",
            "description": null,
            "context": "/document",
            "defaultLanguageCode": null,
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "pageOverlapLength": null,
            "maximumPagesToTake": null,
            "unit": null,
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ],
            "azureOpenAITokenizerParameters": null
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "split-skill-sentences",
            "description": null,
            "context": "/document",
            "defaultLanguageCode": null,
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "pageOverlapLength": null,
            "maximumPagesToTake": null,
            "unit": null,
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "sentences"
              }
            ],
            "azureOpenAITokenizerParameters": null
          }
        ],
        "cognitiveServices": null,
        "knowledgeStore": null,
        "indexProjections": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets('skillset-created86e4841')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "34",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
