{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "data-source-connection-list-first",
        "type": "azureblob",
        "container": {
          "name": "fakestoragecontainer"
        },
        "credentials": {
          "connectionString": "Sanitized"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "177",
        "ETag": "\"0x8DEA8B1BD7EA245\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DEA8B1BD7EA245\"",
        "name": "data-source-connection-list-first",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "fakestoragecontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "index-list-first",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1578",
        "ETag": "\"0x8DEA8B1BF80E7AB\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEA8B1BF80E7AB\"",
        "name": "index-list-first",
        "description": null,
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "indexer-list-first",
        "dataSourceName": "data-source-connection-list-first",
        "targetIndexName": "index-list-first",
        "description": "Indexer description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "145",
        "ETag": "\"0x8DEA8B1BF94E62F\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DEA8B1BF94E62F\"",
        "name": "indexer-list-first",
        "description": "Indexer description",
        "dataSourceName": "data-source-connection-list-first",
        "skillsetName": null,
        "targetIndexName": "index-list-first",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "17",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers",
        "value": [
          {
            "@odata.etag": "\"0x8DEA8B1BF94E62F\"",
            "name": "indexer-list-first",
            "description": "Indexer description",
            "dataSourceName": "data-source-connection-list-first",
            "skillsetName": null,
            "targetIndexName": "index-list-first",
            "disabled": null,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "encryptionKey": null
          },
          {
            "@odata.etag": "\"0x8DEA8B1C0BDB340\"",
            "name": "indexer-list-second",
            "description": "Indexer description",
            "dataSourceName": "data-source-connection-list-second",
            "skillsetName": null,
            "targetIndexName": "index-list-second",
            "disabled": null,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "encryptionKey": null
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('indexer-list-first')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "50",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('data-source-connection-list-first')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "22",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-list-first')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "297",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers('indexer-list-second')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "52",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('data-source-connection-list-second')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "21",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-list-second')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "283",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
