{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-create-or-update-configuration-indexe73658e8",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true
          }
        ],
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "prioritizedFields": {
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1370",
        "ETag": "\"0x8DEA8B0D7076D7E\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEA8B0D7076D7E\"",
        "name": "knowledge-base-create-or-update-configuration-indexe73658e8",
        "description": null,
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "rankingOrder": "BoostedRerankerScore",
              "prioritizedFields": {
                "titleField": null,
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ],
                "prioritizedKeywordsFields": []
              }
            }
          ]
        },
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-create-or-update-configuration-sourcee73658e8",
        "description": "Knowledge source for knowledge base configuration coverage",
        "searchIndexParameters": {
          "searchIndexName": "knowledge-base-create-or-update-configuration-indexe73658e8"
        },
        "kind": "searchIndex"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "67",
        "ETag": "\"0x8DEA8B0D715A7DA\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEA8B0D715A7DA\"",
        "name": "knowledge-base-create-or-update-configuration-sourcee73658e8",
        "kind": "searchIndex",
        "description": "Knowledge source for knowledge base configuration coverage",
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "knowledge-base-create-or-update-configuration-indexe73658e8",
          "semanticConfigurationName": null,
          "sourceDataFields": [],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "webParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-create-or-update-configuration-basee73658e8",
        "description": "Knowledge base configuration before replacement",
        "knowledgeSources": [
          {
            "name": "knowledge-base-create-or-update-configuration-sourcee73658e8"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "43",
        "ETag": "\"0x8DEA8B0D7221CF5\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEA8B0D7221CF5\"",
        "name": "knowledge-base-create-or-update-configuration-basee73658e8",
        "description": "Knowledge base configuration before replacement",
        "knowledgeSources": [
          {
            "name": "knowledge-base-create-or-update-configuration-sourcee73658e8"
          }
        ],
        "models": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('knowledge-base-create-or-update-configuration-basee73658e8')?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\"0x8DEA8B0D7221CF5\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "knowledge-base-create-or-update-configuration-basee73658e8",
        "description": "Knowledge base configuration after replacement",
        "knowledgeSources": [
          {
            "name": "knowledge-base-create-or-update-configuration-sourcee73658e8"
          }
        ],
        "@odata.etag": "\"0x8DEA8B0D7221CF5\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "38",
        "ETag": "\"0x8DEA8B0D72C4AB7\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEA8B0D72C4AB7\"",
        "name": "knowledge-base-create-or-update-configuration-basee73658e8",
        "description": "Knowledge base configuration after replacement",
        "knowledgeSources": [
          {
            "name": "knowledge-base-create-or-update-configuration-sourcee73658e8"
          }
        ],
        "models": [],
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('knowledge-base-create-or-update-configuration-sourcee73658e8')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "49",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('knowledge-base-create-or-update-configuration-indexe73658e8')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "327",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
