{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "index-create-scoring-profile-product5dd43ffb",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": false,
            "facetable": false,
            "sortable": false,
            "retrievable": true
          },
          {
            "name": "LastModified",
            "type": "Edm.DateTimeOffset",
            "key": false,
            "searchable": false,
            "filterable": true,
            "facetable": false,
            "sortable": false,
            "retrievable": true
          }
        ],
        "scoringProfiles": [
          {
            "name": "product-scoring-profile",
            "functionAggregation": "product",
            "functions": [
              {
                "fieldName": "LastModified",
                "boost": 2.5,
                "freshness": {
                  "boostingDuration": "P7D"
                },
                "type": "freshness"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "959",
        "ETag": "\"0x8DEB508FF039F67\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEB508FF039F67\"",
        "name": "index-create-scoring-profile-product5dd43ffb",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabelId": null,
            "sensitivityLabelName": null,
            "sourceDocumentId": null,
            "sharepointSiteUrl": null,
            "synonymMaps": []
          },
          {
            "name": "LastModified",
            "type": "Edm.DateTimeOffset",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabelId": null,
            "sensitivityLabelName": null,
            "sourceDocumentId": null,
            "sharepointSiteUrl": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [
          {
            "name": "product-scoring-profile",
            "functionAggregation": "product",
            "text": null,
            "functions": [
              {
                "fieldName": "LastModified",
                "interpolation": "linear",
                "type": "freshness",
                "boost": 2.5,
                "freshness": {
                  "boostingDuration": "P7D"
                },
                "magnitude": null,
                "distance": null,
                "tag": null
              }
            ]
          }
        ],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null,
        "sharePointConnectorAppRegistration": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-create-scoring-profile-product5dd43ffb')?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "34",
        "ETag": "\"0x8DEB508FF039F67\"",
        "OData-Ver[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-create-scoring-profile-product5dd43ffb')?api-version=2026-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEB508FF039F67\"",
        "name": "index-create-scoring-profile-product5dd43ffb",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.S[...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-create-scoring-profile-product5dd43ffb')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "164",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
