{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "websource9c503795",
        "description": "initial web source",
        "kind": "web",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "114",
        "ETag": "\"0x8DE218D6EC2E871\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE218D6EC2E871\"",
        "name": "websource9c503795",
        "kind": "web",
        "description": "initial web source",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": []
          }
        },
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('websource9c503795')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DE218D6EC2E871\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "66",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources",
        "value": []
      }
    }
  ],
  "Variables": {}
}
