{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "index-buffered-upload-documents3f5e4cbf",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "Description_fr",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "Category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          }[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-buffered-upload-documents3f5e4cbf')/docs/search.index?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "HotelId": "1",
            "HotelName": "Stay-Kay City Hotel",
            "Description": "This classic hotel is fully-refurbished and ideally located on the main commercial artery of the city in the heart of New York.",
            "Description_fr": "Hotel classique renove au coeur de New York.",
            "Category": "Boutique",
            "Tags": [
              "view",
              "air conditioning",
              "concierge"
            ],
            "ParkingIncluded": false,
            "IsDeleted": false,
            "LastRenovationDate": "2015-01-18T00:00:00+00:00",
            "Rating": 3.6
          },
          {
            "@search.action": "upload",
            "HotelId": "2",
            "HotelName": "Old Century Hotel",
            "Description": "The hotel is situated in a nineteenth century plaza renovated to the highest architectural standards.",
            "Description_fr": "Hotel situe dans une place du dix-neuvieme siecle.",
            "Category": "Boutique",
            "Tags": [
              "pool",
              "free wifi",
              "concierge"
       [...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-buffered-upload-documents3f5e4cbf')/docs/$count?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "29",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 0
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-buffered-upload-documents3f5e4cbf')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "31",
        "ETag": "\"0x8DEAA4F846815F8\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEAA4F846815F8\"",
        "name": "index-buffered-upload-documents3f5e4cbf",
        "description": null,
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearch[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-buffered-upload-documents3f5e4cbf')/docs/search.index?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "HotelId": "1000",
            "HotelName": "Stay-Kay City Hotel",
            "Rating": 5,
            "IsDeleted": false
          },
          {
            "@search.action": "upload",
            "HotelId": "3",
            "HotelName": "Old Century Hotel",
            "Rating": 4,
            "IsDeleted": false
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "40",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "Sanitized",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "Sanitized",
            "status": true,
            "errorMessage": null,
            "statusCode": 200
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-buffered-upload-documents3f5e4cbf')/docs('1000')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "HotelId": "1000",
        "HotelName": "Stay-Kay City Hotel",
        "Description": null,
        "Description_fr": null,
        "Category": null,
        "Tags": [],
        "ParkingIncluded": null,
        "IsDeleted": false,
        "LastRenovationDate": null,
        "Rating": 5.0
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-buffered-upload-documents3f5e4cbf')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "181",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
