{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "index-createe29d4237",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": false,
            "facetable": false,
            "sortable": false,
            "retrievable": true
          },
          {
            "name": "BaseRate",
            "type": "Edm.Double",
            "key": false,
            "searchable": false,
            "filterable": false,
            "facetable": false,
            "sortable": false,
            "retrievable": true
          }
        ],
        "description": "Hotel index",
        "scoringProfiles": [
          {
            "name": "scoring-profile"
          }
        ],
        "corsOptions": {
          "allowedOrigins": [
            "*"
          ],
          "maxAgeInSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1683",
        "ETag": "\"0x8DEA8B09AD29BF8\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEA8B09AD29BF8\"",
        "name": "index-createe29d4237",
        "description": "Hotel index",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "BaseRate",
            "type": "Edm.Double",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [
          {
            "name": "scoring-profile",
            "functionAggregation": null,
            "text": null,
            "functions": []
          }
        ],
        "corsOptions": {
          "allowedOrigins": [
            "*"
          ],
          "maxAgeInSeconds": 60
        },
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-createe29d4237')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "23",
        "ETag": "\"0x8DEA8B09AD29BF8\"",
        "OData-Version": "4.0",
        "Preferenc[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "38",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes",
        "value": [
          {
            "@odata.etag": "\"0x8DEA8B09AD29BF8\"",
            "name": "index-createe29d4237",
            "description": "Hotel index",
            "defaultScoringProfile": null,
            "fields": [
              {
                "name": "HotelId",
                "type": "Edm.String",
                "searchable": false,
                "filterable": false,
                "retrievable": true,
                "stored": true,
                "sortable": false,
             [...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01&$select=name,description",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "54",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes(name,description)",
        "value": [
          {
            "name": "index-createe29d4237",
            "description": "Hotel index"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-createe29d4237')/search.stats?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "12",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2026_04_01.IndexStatistics",
        "documentCount": 0,
        "storageSize": 0,
        "vectorIndexSize": 0
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-createe29d4237')/search.analyze?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "text": "One's <two/>",
        "analyzer": "standard.lucene"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2026_04_01.AnalyzeResult",
        "tokens": [
          {
            "token": "Sanitized",
            "startOffset": 0,
            "endOffset": 5,
            "position": 0
          },
          {
            "token": "Sanitized",
            "startOffset": 7,
            "endOffset": 10,
            "position": 1
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-createe29d4237')/docs/$count?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "38",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 0
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-createe29d4237')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "19"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No index with the name 'index-createe29d4237' was found in the service 'fakesearchendpoint'."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('index-createe29d4237')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "18"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "No index with the name 'index-createe29d4237' was found in a service named 'fakesearchendpoint'.",
          "details": [
            {
              "code": "IndexNotFoundInService",
              "message": "No index with the name 'index-createe29d4237' was found in a service named 'fakesearchendpoint'."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
