{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-create-or-update-modelfd9349c7')?api-version=2026-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "synonym-map-create-or-update-modelfd9349c7",
        "synonyms": "United States, United States of America\nWashington State, State of Washington",
        "format": "solr"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "35",
        "ETag": "\"0x8DEB509A0CD1E67\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEB509A0CD1E67\"",
        "name": "synonym-map-create-or-update-modelfd9349c7",
        "format": "solr",
        "synonyms": "United States, United States of America\nWashington State, State of Washington",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-create-or-update-mappingfd9349c7')?api-version=2026-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "synonym-map-create-or-update-mappingfd9349c7",
        "synonyms": "United States, United States of America\nWashington State, State of Washington",
        "format": "solr"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "33",
        "ETag": "\"0x8DEB509A0DE96F4\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEB509A0DE96F4\"",
        "name": "synonym-map-create-or-update-mappingfd9349c7",
        "format": "solr",
        "synonyms": "United States, United States of America\nWashington State, State of Washington",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-create-or-update-mappingfd9349c7')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "22",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
