{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "spsource37454b6c",
        "description": "initial sharepoint source",
        "kind": "remoteSharePoint",
        "remoteSharePointParameters": {
          "filterExpression": "Title:Test",
          "resourceMetadata": [
            "Title",
            "Path"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "63",
        "ETag": "\"0x8DE1D82ACC4EF58\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE1D82ACC4EF58\"",
        "name": "spsource37454b6c",
        "kind": "remoteSharePoint",
        "description": "initial sharepoint source",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": {
          "filterExpression": "Title:Test",
          "containerTypeId": null,
          "resourceMetadata": [
            "Title",
            "Path"
          ]
        },
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('spsource37454b6c')?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "ETag": "\"0x8DE1D82ACC4EF58\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE1D82ACC4EF58\"",
        "name": "spsource37454b6c",
        "kind": "remoteSharePoint",
        "description": "initial sharepoint source",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": {
          "filterExpression": "Title:Test",
          "containerTypeId": null,
          "resourceMetadata": [
            "Title",
            "Path"
          ]
        },
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('spsource37454b6c')/status?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "13",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.WindowsAzure.Search.Core.Models.V2025_11_01_Preview.KnowledgeSources.KnowledgeSourceStatus",
        "synchronizationStatus": "active",
        "synchronizationInterval": null,
        "currentSynchronizationState": null,
        "lastSynchronizationState": null,
        "statistics": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "23",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources",
        "value": [
          {
            "@odata.etag": "\"0x8DE1D82ACC4EF58\"",
            "name": "spsource37454b6c",
            "kind": "remoteSharePoint",
            "description": "initial sharepoint source",
            "encryptionKey": null,
            "searchIndexParameters": null,
            "azureBlobParameters": null,
            "mcpToolParameters": null,
            "webParameters": null,
            "remoteSharePointParameters": {
              "filterExpression": "Title:Test",
              "containerTypeId": null,
              "resourceMetadata": [
                "Title",
                "Path"
              ]
            },
            "indexedSharePointParameters": null,
            "indexedOneLakeParameters": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('spsource37454b6c')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DE1D82ACC4EF58\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "60",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
