{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "searchcontainer"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "61",
        "ETag": "\"0x8DE218DD699FD07\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DE218DD699FD07\"",
        "name": "create",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "indexerPermissionOptions": [],
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "searchcontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "26",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources",
        "value": [
          {
            "@odata.etag": "\"0x8DE218DD699FD07\"",
            "name": "create",
            "description": null,
            "type": "azureblob",
            "subtype": null,
            "indexerPermissionOptions": [],
            "credentials": {
              "connectionString": null
            },
            "container": {
              "name": "searchcontainer",
              "query": null
            },
            "dataChangeDetectionPolicy": null,
            "dataDeletionDetectionPolicy": null,
            "encryptionKey": null,
            "identity": null
          },
          {
            "@odata.etag": "\"0x8DE218DD6A561E0\"",
            "name": "delete",
            "description": null,
            "type": "azureblob",
            "subtype": null,
            "indexerPermissionOptions": [],
            "credentials": {
              "connectionString": null
            },
            "container": {
              "name": "searchcontainer",
              "query": null
            },
            "dataChangeDetectionPolicy": null,
            "dataDeletionDetectionPolicy": null,
            "encryptionKey": null,
            "identity": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('delete')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "41",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('get')?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20",
        "ETag": "\"0x8DE218DD6C9156D\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DE218DD6C9156D\"",
        "name": "get",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "indexerPermissionOptions": [],
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "searchcontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('cou')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "cou",
        "description": "updated",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "searchcontainer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "48",
        "ETag": "\"0x8DE218DD712EAAF\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DE218DD712EAAF\"",
        "name": "cou",
        "description": "updated",
        "type": "azureblob",
        "subtype": null,
        "indexerPermissionOptions": [],
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "searchcontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('couunch')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "couunch",
        "description": "updated",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
      [...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('couunch')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE218DD72FEEF7\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "couunch",
        "description": "changed",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "searchcontainer"
        },
        "@odata.etag": "\"0x8DE218DD72FEEF7\""
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "9"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('delunch')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "delunch",
        "description": "updated",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
      [...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources('delstrunch')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "delstrunch",
        "description": "updated",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
[...]
