{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create-ds",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=fakestoragecs;AccountKey=FAKE;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "fakestoragecontainer"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "51",
        "ETag": "\u00220x8DBF7841A87D4E2\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/datasources(\u0027create-ds\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DBF7841A87D4E2\u0022",
        "name": "create-ds",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "fakestoragecontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create-hotels",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "433",
        "ETag": "\u00220x8DBF7841AD7E9C9\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/indexes(\u0027create-hotels\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\u00220x8DBF7841AD7E9C9\u0022",
        "name": "create-hotels",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create",
        "dataSourceName": "create-ds",
        "targetIndexName": "create-hotels",
        "disabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "19929",
        "ETag": "\u00220x8DBF7842680BF1D\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/indexers(\u0027create\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBF7842680BF1D\u0022",
        "name": "create",
        "description": null,
        "dataSourceName": "create-ds",
        "skillsetName": null,
        "targetIndexName": "create-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "19",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers",
        "value": [
          {
            "@odata.etag": "\u00220x8DBF7842680BF1D\u0022",
            "name": "create",
            "description": null,
            "dataSourceName": "create-ds",
            "skillsetName": null,
            "targetIndexName": "create-hotels",
            "disabled": false,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "cache": null,
            "encryptionKey": null
          },
          {
            "@odata.etag": "\u00220x8DBF78428A989F0\u0022",
            "name": "delete",
            "description": null,
            "dataSourceName": "delete-ds",
            "skillsetName": null,
            "targetIndexName": "delete-hotels",
            "disabled": false,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "cache": null,
            "encryptionKey": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027delete\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "101",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027get\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "26",
        "ETag": "\u00220x8DBF7842AE14790\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBF7842AE14790\u0022",
        "name": "get",
        "description": null,
        "dataSourceName": "get-ds",
        "skillsetName": null,
        "targetIndexName": "get-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027cou\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "cou",
        "description": "updated",
        "dataSourceName": "cou-ds",
        "targetIndexName": "cou-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2476",
        "ETag": "\u00220x8DBF78438FE9061\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBF78438FE9061\u0022",
        "name": "cou",
        "description": "updated",
        "dataSourceName": "cou-ds",
        "skillsetName": null,
        "targetIndexName": "cou-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027reset\u0027)/search.reset?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "2589",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027reset\u0027)/search.status?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "70",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_10_01_Preview.IndexerExecutionInfo",
        "name": "reset",
        "status": "running",
        "lastResult": {
          "status": "reset",
          "statusDetail": null,
          "errorMessage": null,
          "startTime": "2023-12-08T00:26:00.408Z",
          "endTime": "2023-12-08T00:26:00.408Z",
          "itemsProcessed": 0,
          "itemsFailed": 0,
          "initialTrackingState": null,
          "finalTrackingState": null,
          "mode": "indexingAllDocs",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "reset",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2023-12-08T00:26:00.408Z",
            "endTime": "2023-12-08T00:26:00.408Z",
            "itemsProcessed": 0,
            "itemsFailed": 0,
            "initialTrackingState": null,
            "finalTrackingState": null,
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          },
          {
            "status": "success",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2023-12-08T00:25:50.904Z",
            "endTime": "2023-12-08T00:25:51.888Z",
            "itemsProcessed": 3,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-12-08T00:25:50.935Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-12-08T00:25:20.935312\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-12-08T00:25:20.935312\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 134217728,
          "maxDocumentContentCharactersToExtract": 4194304
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027run\u0027)/search.run?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "61",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027run\u0027)/search.status?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_10_01_Preview.IndexerExecutionInfo",
        "name": "run",
        "status": "running",
        "lastResult": null,
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT0S",
          "maxDocumentExtractionSize": 0,
          "maxDocumentContentCharactersToExtract": 0
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027get-status\u0027)/search.status?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_10_01_Preview.IndexerExecutionInfo",
        "name": "get-status",
        "status": "running",
        "lastResult": null,
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT0S",
          "maxDocumentExtractionSize": 0,
          "maxDocumentContentCharactersToExtract": 0
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027couunch\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "couunch",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "targetIndexName": "couunch-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2348",
        "ETag": "\u00220x8DBF78450545A06\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBF78450545A06\u0022",
        "name": "couunch",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "skillsetName": null,
        "targetIndexName": "couunch-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027couunch\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DBF78448C96444\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "couunch",
        "description": "updated",
        "dataSourceName": "couunch-ds",
        "targetIndexName": "couunch-hotels",
        "disabled": false,
        "@odata.etag": "\u00220x8DBF78448C96444\u0022"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "17"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027delunch\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "delunch",
        "description": "updated",
        "dataSourceName": "delunch-ds",
        "targetIndexName": "delunch-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2337",
        "ETag": "\u00220x8DBF78459B14F95\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBF78459B14F95\u0022",
        "name": "delunch",
        "description": "updated",
        "dataSourceName": "delunch-ds",
        "skillsetName": null,
        "targetIndexName": "delunch-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027delunch\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBF7845231CA86\u0022"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "14"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    }
  ],
  "Variables": {}
}
