{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2023-07-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "31",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes",
        "value": [
          {
            "@odata.etag": "\u00220x8DB50BCAB58B151\u0022",
            "name": "drgqefsg",
            "defaultScoringProfile": null,
            "fields": [
              {
                "name": "hotelId",
                "type": "Edm.String",
                "searchable": false,
                "filterable": true,
                "retrievable": true,
                "sortable": true,
                "facetable": true,
                "key": true,
                "indexAnalyzer": null,
                "searchAnalyzer": null,
                "analyzer": null,
                "normalizer": null,
                "dimensions": null,
                "vectorSearchConfiguration": null,
                "synonymMaps": []
              },
              {
                "name": "hotelName",
                "type": "Edm.String",
                "searchable": true,
                "filterable": true,
                "retrievable": true,
                "sortable": true,
                "facetable": false,
                "key": false,
                "indexAnalyzer": null,
                "searchAnalyzer": null,
                "analyzer": null,
                "normalizer": null,
                "dimensions": [...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/aliases?api-version=2023-07-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#aliases",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/aliases?api-version=2023-07-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "resort",
        "indexes": [
          "drgqefsg"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "31",
        "Location": "https://fakesearchendpoint.search.windows.net/aliases(\u0027resort\u0027)?api-version=2023-07-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#aliases/$entity",
        "name": "resort",
        "indexes": [
          "drgqefsg"
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/aliases(\u0027motel\u0027)?api-version=2023-07-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "motel",
        "indexes": [
          "drgqefsg"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "33",
        "Location": "https://fakesearchendpoint.search.windows.net/aliases(\u0027motel\u0027)?api-version=2023-07-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#aliases/$entity",
        "name": "motel",
        "indexes": [
          "drgqefsg"
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2023-07-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "baseRate",
            "type": "Edm.Double",
            "key": false,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          }
        ],
        "scoringProfiles": [
          {
            "name": "MyProfile"
          }
        ],
        "corsOptions": {
          "allowedOrigins": [
            "*"
          ],
          "maxAgeInSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "391",
        "ETag": "\u00220x8DB50BCAE28AC5F\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/indexes(\u0027hotel\u0027)?api-version=2023-07-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\u00220x8DB50BCAE28AC5F\u0022",
        "name": "hotel",
        "defaultScor[...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/aliases(\u0027resort\u0027)?api-version=2023-07-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#aliases/$entity",
        "name": "resort",
        "indexes": [
          "drgqefsg"
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/aliases(\u0027%7B%27additional_properties%27%3A%20%7B%7D%2C%20%27name%27%3A%20%27motel%27%2C%20%27indexes%27%3A%20%5B%27hotel%27%5D%2C%20%27e_tag%27%3A%20None%7D\u0027)?api-version=2023-07-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "11"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "The index alias needs to be a valid alias. Alias \u2013 \u0027{\u0027 cannot be found within the search service \u2013 \u0027fakesearchendpoint\u0027. Learn more at https://aka.ms/azurecognitivesearchgetalias",
          "details": [
            {
              "code": "IndexAliasNotFoundInService",
              "message": "The index alias needs to be a valid alias. Alias \u2013 \u0027{\u0027 cannot be found within the search service \u2013 \u0027fakesearchendpoint\u0027. Learn more at https://aka.ms/azurecognitivesearchgetalias"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/aliases(\u0027%7B%27additional_properties%27%3A%20%7B%7D%2C%20%27name%27%3A%20%27resort%27%2C%20%27indexes%27%3A%20%5B%27drgqefsg%27%5D%2C%20%27e_tag%27%3A%20None%7D\u0027)?api-version=2023-07-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "8"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "The index alias needs to be a valid alias. Alias \u2013 \u0027{\u0027 cannot be found within the search service \u2013 \u0027fakesearchendpoint\u0027. Learn more at https://aka.ms/azurecognitivesearchgetalias",
          "details": [
            {
              "code": "IndexAliasNotFoundInService",
              "message": "The index alias needs to be a valid alias. Alias \u2013 \u0027{\u0027 cannot be found within the search service \u2013 \u0027fakesearchendpoint\u0027. Learn more at https://aka.ms/azurecognitivesearchgetalias"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
