{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "skillset-delete-if-unchanged",
        "skills": [
          {
            "name": "split-skill",
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ],
            "context": "/document",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill"
          }
        ],
        "description": "Skillset description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "39",
        "ETag": "\"0x8DEA8B270E89EBA\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\"0x8DEA8B270E89EBA\"",
        "name": "skillset-delete-if-unchanged",
        "description": "Skillset description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "split-skill",
            "description": null,
            "context": "/document",
            "defaultLanguageCode": null,
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "pageOverlapLength": null,
            "maximumPagesToTake": null,
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          }
        ],
        "cognitiveServices": null,
        "knowledgeStore": null,
        "indexProjections": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets('skillset-delete-if-unchanged')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"stale-skillset-etag\""
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "11"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#skillsets",
        "value": [
          {
            "@odata.etag": "\"0x8DEA8B270E89EBA\"",
            "name": "skillset-delete-if-unchanged",
            "description": "Skillset description",
            "skills": [
              {
                "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
                "name": "split-skill",
                "description": null,
                "context": "/document",
                "defaultLanguageCode": "en",
                "textSplitMode": "pages",
                "maximumPageLength": 5000,
                "pageOverlapLength": 0,
                "maximumPagesToTake": 0,
                "inputs": [
                  {
                    "name": "text",
                    "source": "Sanitized",
                    "sourceContext": null,
                    "inputs": []
                  }
                ],
                "outputs": [
                  {
                    "name": "textItems",
                    "targetName": "pages"
                  }
                ]
              }
            ],
            "cognitiveServices": null,
            "knowledgeStore": null,
            "indexProjections": null,
            "encryptionKey": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets('skillset-delete-if-unchanged')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "27",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
