{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets('skillset-create-or-update62674d32')?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "skillset-create-or-update62674d32",
        "skills": [
          {
            "name": "split-skill",
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ],
            "context": "/document",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill"
          }
        ],
        "description": "Skillset description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "55",
        "ETag": "\"0x8DEA8DBA371F41B\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\"0x8DEA8DBA371F41B\"",
        "name": "skillset-create-or-update62674d32",
        "description": "Skillset description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "split-skill",
            "description": null,
            "context": "/document",
            "defaultLanguageCode": null,
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "pageOverlapLength": null,
            "maximumPagesToTake": null,
            "inputs": [
              {
                "name": "text",
                "source": "Sanitized",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          }
        ],
        "cognitiveServices": null,
        "knowledgeStore": null,
        "indexProjections": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets('skillset-create-or-update62674d32')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "39",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
