{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "synonym-map-create",
        "synonyms": "USA, United States, United States of America\nWashington, Wash. => WA",
        "format": "solr"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "56",
        "ETag": "\"0x8DEA7DF218846F6\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEA7DF218846F6\"",
        "name": "synonym-map-create",
        "format": "solr",
        "synonyms": "USA, United States, United States of America\nWashington, Wash. => WA",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-create')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "24",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-delete')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "21",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-delete-if-unchanged')?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "synonym-map-delete-if-unchanged",
        "synonyms": "Washington, Wash. => WA",
        "format": "solr"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "30",
        "ETag": "\"0x8DEA7DF21C3ADB3\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEA7DF21C3ADB3\"",
        "name": "synonym-map-delete-if-unchanged",
        "format": "solr",
        "synonyms": "Washington, Wash. => WA",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-delete-if-unchanged')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA7DF21BB04D6\""
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "18"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-get')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "ETag": "\"0x8DEA7DF21DD5A73\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEA7DF21DD5A73\"",
        "name": "synonym-map-get",
        "format": "solr",
        "synonyms": "USA, United States, United States of America\nWashington, Wash. => WA",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-list-1')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "22",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-update')?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "synonym-map-update",
        "synonyms": "Washington, Wash. => WA",
        "format": "solr"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "26",
        "ETag": "\"0x8DEA7DF22335EF8\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEA7DF22335EF8\"",
        "name": "synonym-map-update",
        "format": "solr",
        "synonyms": "Washington, Wash. => WA",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/synonymmaps('synonym-map-update')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "20",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
