{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-source-get-status-webbc194c6a",
        "description": "Web knowledge source for SearchIndexClient live coverage",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ]
          }
        },
        "kind": "web"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "659",
        "ETag": "\"0x8DEB50CA1DB0C9C\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEB50CA1DB0C9C\"",
        "name": "knowledge-source-get-status-webbc194c6a",
        "kind": "web",
        "description": "Web knowledge source for SearchIndexClient live coverage",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "mcpServerParameters": null,
        "fabricOntologyParameters": null,
        "fabricDataAgentParameters": null,
        "webParameters": {
          "language": null,
          "market": null,
          "count": null,
          "freshness": null,
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": []
          }
        },
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null,
        "fileParameters": null,
        "indexedSqlParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('knowledge-source-get-status-webbc194c6a')/status?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.WindowsAzure.Search.Core.Models.V2026_05_01_Preview.KnowledgeSources.KnowledgeSourceStatus",
        "synchronizationStatus": "active",
        "synchronizationInterval": null,
        "currentSynchronizationState": null,
        "lastSynchronizationState": null,
        "statistics": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('knowledge-source-get-status-webbc194c6a')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "334",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
