{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "kr-indexe87e3ef2",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true
          }
        ],
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "prioritizedFields": {
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "907",
        "ETag": "\"0x8DEA81738CCA511\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEA81738CCA511\"",
        "name": "kr-indexe87e3ef2",
        "description": null,
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "rankingOrder": "BoostedRerankerScore",
              "prioritizedFields": {
                "titleField": null,
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ],
                "prioritizedKeywordsFields": []
              }
            }
          ]
        },
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "kr-sourcee87e3ef2",
        "description": "knowledge retrieval e2e source",
        "searchIndexParameters": {
          "searchIndexName": "kr-indexe87e3ef2"
        },
        "kind": "searchIndex"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "84",
        "ETag": "\"0x8DEA81738DF2DDB\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEA81738DF2DDB\"",
        "name": "kr-sourcee87e3ef2",
        "kind": "searchIndex",
        "description": "knowledge retrieval e2e source",
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "kr-indexe87e3ef2",
          "semanticConfigurationName": null,
          "sourceDataFields": [],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "webParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "kr-basee87e3ef2",
        "description": "knowledge retrieval e2e base",
        "knowledgeSources": [
          {
            "name": "kr-sourcee87e3ef2"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "44",
        "ETag": "\"0x8DEA81738ECDA1C\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEA81738ECDA1C\"",
        "name": "kr-basee87e3ef2",
        "description": "knowledge retrieval e2e base",
        "knowledgeSources": [
          {
            "name": "kr-sourcee87e3ef2"
          }
        ],
        "models": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('kr-sourcee87e3ef2')/status?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "19",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.WindowsAzure.Search.Core.Models.V2026_04_01.KnowledgeSources.KnowledgeSourceStatus",
        "kind": "searchIndex",
        "synchronizationStatus": "active",
        "synchronizationInterval": null,
        "currentSynchronizationState": null,
        "lastSynchronizationState": null,
        "statistics": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('kr-basee87e3ef2')/retrieve?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "intents": [
          {
            "search": "hotels with free wifi",
            "type": "semantic"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "132",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.WindowsAzure.Search.Core.Models.V2026_04_01.Agents.AgentRetrievalResponse",
        "response": [
          {
            "content": [
              {
                "type": "text",
                "text": "[]"
              }
            ]
          }
        ],
        "activity": [
          {
            "type": "searchIndex",
            "id": "Sanitized",
            "knowledgeSourceName": "kr-sourcee87e3ef2",
            "queryTime": "2026-05-02T06:51:24.6288295Z",
            "count": 0,
            "elapsedMs": 88,
            "searchIndexArguments": {
              "search": "hotels with free wifi",
              "filter": null,
              "semanticConfigurationName": "default",
              "sourceDataFields": [
                {
                  "name": "content"
                },
                {
                  "name": "id"
                }
              ],
              "searchFields": []
            }
          },
          {
            "type": "agenticReasoning",
            "id": "Sanitized",
            "reasoningTokens": 0
          }
        ],
        "references": []
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('kr-basee87e3ef2')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA81738ECDA1C\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "30",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('kr-sourcee87e3ef2')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA81738DF2DDB\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "52",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('kr-indexe87e3ef2')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "180",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
