{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create-ds",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=fakestoragecs;AccountKey=FAKE;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "fakestoragecontainer"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "33",
        "ETag": "\u00220x8DBC4FCB7E7EDC3\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/datasources(\u0027create-ds\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DBC4FCB7E7EDC3\u0022",
        "name": "create-ds",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "fakestoragecontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create-hotels",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "384",
        "ETag": "\u00220x8DBC4FCB82B2E46\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/indexes(\u0027create-hotels\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\u00220x8DBC4FCB82B2E46\u0022",
        "name": "create-hotels",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "create",
        "dataSourceName": "create-ds",
        "targetIndexName": "create-hotels",
        "disabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "3347",
        "ETag": "\u00220x8DBC4FCBA106E82\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/indexers(\u0027create\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBC4FCBA106E82\u0022",
        "name": "create",
        "description": null,
        "dataSourceName": "create-ds",
        "skillsetName": null,
        "targetIndexName": "create-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "529",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers",
        "value": [
          {
            "@odata.etag": "\u00220x8DBC4FCBA106E82\u0022",
            "name": "create",
            "description": null,
            "dataSourceName": "create-ds",
            "skillsetName": null,
            "targetIndexName": "create-hotels",
            "disabled": false,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "cache": null,
            "encryptionKey": null
          },
          {
            "@odata.etag": "\u00220x8DBC4FCBBF6C008\u0022",
            "name": "delete",
            "description": null,
            "dataSourceName": "delete-ds",
            "skillsetName": null,
            "targetIndexName": "delete-hotels",
            "disabled": false,
            "schedule": null,
            "parameters": null,
            "fieldMappings": [],
            "outputFieldMappings": [],
            "cache": null,
            "encryptionKey": null
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027delete\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "34",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027get\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "ETag": "\u00220x8DBC4FCBE6F77A9\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBC4FCBE6F77A9\u0022",
        "name": "get",
        "description": null,
        "dataSourceName": "get-ds",
        "skillsetName": null,
        "targetIndexName": "get-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027pou\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "pou",
        "description": "updated",
        "dataSourceName": "pou-ds",
        "targetIndexName": "pou-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2379",
        "ETag": "\u00220x8DBC4FCCD7FDB09\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBC4FCCD7FDB09\u0022",
        "name": "pou",
        "description": "updated",
        "dataSourceName": "pou-ds",
        "skillsetName": null,
        "targetIndexName": "pou-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027reset\u0027)/search.reset?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "2370",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027reset\u0027)/search.status?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "132",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_10_01_Preview.IndexerExecutionInfo",
        "name": "reset",
        "status": "running",
        "lastResult": {
          "status": "reset",
          "statusDetail": null,
          "errorMessage": null,
          "startTime": "2023-10-04T17:10:39.463Z",
          "endTime": "2023-10-04T17:10:39.463Z",
          "itemsProcessed": 0,
          "itemsFailed": 0,
          "initialTrackingState": null,
          "finalTrackingState": null,
          "mode": "indexingAllDocs",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "reset",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2023-10-04T17:10:39.463Z",
            "endTime": "2023-10-04T17:10:39.463Z",
            "itemsProcessed": 0,
            "itemsFailed": 0,
            "initialTrackingState": null,
            "finalTrackingState": null,
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          },
          {
            "status": "success",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2023-10-04T17:10:32.719Z",
            "endTime": "2023-10-04T17:10:33.11Z",
            "itemsProcessed": 3,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-04T17:10:32.75Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-04T17:10:02.7509462\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-04T17:10:02.7509462\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 134217728,
          "maxDocumentContentCharactersToExtract": 4194304
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027run\u0027)/search.run?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "35",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027run\u0027)/search.status?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_10_01_Preview.IndexerExecutionInfo",
        "name": "run",
        "status": "running",
        "lastResult": null,
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT0S",
          "maxDocumentExtractionSize": 0,
          "maxDocumentContentCharactersToExtract": 0
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027get-status\u0027)/search.status?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_10_01_Preview.IndexerExecutionInfo",
        "name": "get-status",
        "status": "running",
        "lastResult": null,
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT0S",
          "maxDocumentExtractionSize": 0,
          "maxDocumentContentCharactersToExtract": 0
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": null,
          "allDocsFinalTrackingState": null,
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027qouunch\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "qouunch",
        "description": "updated",
        "dataSourceName": "qouunch-ds",
        "targetIndexName": "qouunch-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "3066",
        "ETag": "\u00220x8DBC4FCE583FEF6\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBC4FCE583FEF6\u0022",
        "name": "qouunch",
        "description": "updated",
        "dataSourceName": "qouunch-ds",
        "skillsetName": null,
        "targetIndexName": "qouunch-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027qouunch\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DBC4FCDDC9EF2D\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "qouunch",
        "description": "updated",
        "dataSourceName": "qouunch-ds",
        "targetIndexName": "qouunch-hotels",
        "disabled": false,
        "@odata.etag": "\u00220x8DBC4FCDDC9EF2D\u0022"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "13"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027delunch\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "delunch",
        "description": "updated",
        "dataSourceName": "delunch-ds",
        "targetIndexName": "delunch-hotels",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2427",
        "ETag": "\u00220x8DBC4FCEF212C7E\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBC4FCEF212C7E\u0022",
        "name": "delunch",
        "description": "updated",
        "dataSourceName": "delunch-ds",
        "skillsetName": null,
        "targetIndexName": "delunch-hotels",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027delunch\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBC4FCE784B262\u0022"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "20"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    }
  ],
  "Variables": {}
}
