{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-get-source-status-index69195721",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true
          }
        ],
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "prioritizedFields": {
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1556",
        "ETag": "\"0x8DEA8B11D8A218D\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEA8B11D8A218D\"",
        "name": "knowledge-base-get-source-status-index69195721",
        "description": null,
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "rankingOrder": "BoostedRerankerScore",
              "prioritizedFields": {
                "titleField": null,
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ],
                "prioritizedKeywordsFields": []
              }
            }
          ]
        },
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-get-source-status-source69195721",
        "description": "Knowledge source for SearchIndexClient knowledge base coverage",
        "searchIndexParameters": {
          "searchIndexName": "knowledge-base-get-source-status-index69195721"
        },
        "kind": "searchIndex"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "58",
        "ETag": "\"0x8DEA8B11D96E473\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEA8B11D96E473\"",
        "name": "knowledge-base-get-source-status-source69195721",
        "kind": "searchIndex",
        "description": "Knowledge source for SearchIndexClient knowledge base coverage",
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "knowledge-base-get-source-status-index69195721",
          "semanticConfigurationName": null,
          "sourceDataFields": [],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "webParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-get-source-status-base69195721",
        "description": "Knowledge base for SearchIndexClient live coverage",
        "knowledgeSources": [
          {
            "name": "knowledge-base-get-source-status-source69195721"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "33",
        "ETag": "\"0x8DEA8B11DA1D4AF\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEA8B11DA1D4AF\"",
        "name": "knowledge-base-get-source-status-base69195721",
        "description": "Knowledge base for SearchIndexClient live coverage",
        "knowledgeSources": [
          {
            "name": "knowledge-base-get-source-status-source69195721"
          }
        ],
        "models": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('knowledge-base-get-source-status-source69195721')/status?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.WindowsAzure.Search.Core.Models.V2026_04_01.KnowledgeSources.KnowledgeSourceStatus",
        "kind": "searchIndex",
        "synchronizationStatus": "active",
        "synchronizationInterval": null,
        "currentSynchronizationState": null,
        "lastSynchronizationState": null,
        "statistics": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('knowledge-base-get-source-status-base69195721')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "21",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('knowledge-base-get-source-status-source69195721')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "55",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('knowledge-base-get-source-status-index69195721')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "308",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
