{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "web-sourcea5ba37ae",
        "description": "initial web source",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ]
          }
        },
        "kind": "web"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "358",
        "ETag": "\"0x8DEA7DEB6781FCB\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEA7DEB6781FCB\"",
        "name": "web-sourcea5ba37ae",
        "kind": "web",
        "description": "initial web source",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": []
          }
        },
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('web-sourcea5ba37ae')?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\"0x8DEA7DEB6781FCB\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "web-sourcea5ba37ae",
        "description": "updated description",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "https://learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": []
          }
        },
        "kind": "web",
        "@odata.etag": "\"0x8DEA7DEB6781FCB\""
      [...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('web-sourcea5ba37ae')/status?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "11",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.WindowsAzure.Search.Core.Models.V2026_04_01.KnowledgeSources.KnowledgeSourceStatus",
        "kind": "web",
        "synchronizationStatus": "active",
        "synchronizationInterval": null,
        "currentSynchronizationState": null,
        "lastSynchronizationState": null,
        "statistics": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "11",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources",
        "value": [
          {
            "@odata.etag": "\"0x8DEA7DEB6C0704F\"",
            "name": "web-sourcea5ba37ae",
            "kind": "web",
            "description": "updated description",
            "encryptionKey": null,
            "searchIndexParameters": null,
            "azureBlobParameters": null,
            "webParameters": {
              "domains": {
                "allowedDomains": [
                  {
                    "address": "https://learn.microsoft.com",
                    "includeSubpages": true
                  }
                ],
                "blockedDomains": []
              }
            },
            "indexedOneLakeParameters": null
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('web-sourcea5ba37ae')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "9"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No Knowledge Source with the name 'web-sourcea5ba37ae' was found in a service named 'fakesearchendpoint'."
        }
      }
    }
  ],
  "Variables": {}
}
