{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "cfg-index636e3fe1",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true
          }
        ],
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "prioritizedFields": {
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "842",
        "ETag": "\"0x8DEA7DE19175DF2\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEA7DE19175DF2\"",
        "name": "cfg-index636e3fe1",
        "description": null,
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "rankingOrder": "BoostedRerankerScore",
              "prioritizedFields": {
                "titleField": null,
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ],
                "prioritizedKeywordsFields": []
              }
            }
          ]
        },
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "cfg-source636e3fe1",
        "description": "configuration source",
        "searchIndexParameters": {
          "searchIndexName": "cfg-index636e3fe1"
        },
        "kind": "searchIndex"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "65",
        "ETag": "\"0x8DEA7DE1924880D\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEA7DE1924880D\"",
        "name": "cfg-source636e3fe1",
        "kind": "searchIndex",
        "description": "configuration source",
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "cfg-index636e3fe1",
          "semanticConfigurationName": null,
          "sourceDataFields": [],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "webParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "cfg-base636e3fe1",
        "description": "configurable knowledge base",
        "knowledgeSources": [
          {
            "name": "cfg-source636e3fe1"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "37",
        "ETag": "\"0x8DEA7DE1930AF5E\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEA7DE1930AF5E\"",
        "name": "cfg-base636e3fe1",
        "description": "configurable knowledge base",
        "knowledgeSources": [
          {
            "name": "cfg-source636e3fe1"
          }
        ],
        "models": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('cfg-base636e3fe1')?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\"0x8DEA7DE1930AF5E\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "cfg-base636e3fe1",
        "description": "config updated",
        "knowledgeSources": [
          {
            "name": "cfg-source636e3fe1"
          }
        ],
        "@odata.etag": "\"0x8DEA7DE1930AF5E\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "40",
        "ETag": "\"0x8DEA7DE193A6879\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEA7DE193A6879\"",
        "name": "cfg-base636e3fe1",
        "description": "config updated",
        "knowledgeSources": [
          {
            "name": "cfg-source636e3fe1"
          }
        ],
        "models": [],
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('cfg-base636e3fe1')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA7DE1930AF5E\""
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "21"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('cfg-source636e3fe1')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA7DE1924880D\""
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "28"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "Cannot delete Knowledge Source 'cfg-source636e3fe1' because Knowledge Base(s) 'cfg-base636e3fe1' is still referencing it. Please delete or update the referencing Knowledge Base so it's not referring to the Knowledge Source before deleting it.",
          "details": [
            {
              "code": "KnowledgeSourceStillReferenced",
              "message": "Cannot delete Knowledge Source 'cfg-source636e3fe1' because Knowledge Base(s) 'cfg-base636e3fe1' is still referencing it. Please delete or update the referencing Knowledge Base so it's not referring to the Knowledge Source before deleting it."
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('cfg-index636e3fe1')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "61"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "Cannot delete index 'cfg-index636e3fe1' because knowledge source(s) 'cfg-source636e3fe1' are still referencing it. Please delete the referencing knowledge source(s) before deleting the index.",
          "details": [
            {
              "code": "CannotDeleteIndex",
              "message": "Cannot delete index 'cfg-index636e3fe1' because knowledge source(s) 'cfg-source636e3fe1' are still referencing it. Please delete the referencing knowledge source(s) before deleting the index."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
