{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/sync/json?api-version=1.0&waitForResults=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": {
        "origins": {
          "coordinates": [
            [
              123.751,
              45.9375
            ],
            [
              123.791,
              45.96875
            ]
          ],
          "type": "MultiPoint"
        },
        "destinations": {
          "coordinates": [
            [
              1,
              13.5471
            ],
            [
              123.767,
              45.90625
            ]
          ],
          "type": "MultiPoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "matrix": [
          [
            {
              "statusCode": 400,
              "response": "Cell could not be processed",
              "detailedError": {
                "message": "",
                "code": "NO_ROUTE_FOUND"
              }
            },
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 4784,
                  "travelTimeInSeconds": 443,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2024-10-15T18:22:05+08:00",
                  "arrivalTime": "2024-10-15T18:29:27+08:00"
                }
              }
            }
          ],
          [
            {
              "statusCode": 400,
              "response": "Cell could not be processed",
              "detailedError": {
                "message": "",
                "code": "NO_ROUTE_FOUND"
              }
            },
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 9456,
                  "travelTimeInSeconds": 863,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2024-10-15T18:22:05+08:00",
                  "arrivalTime": "2024-10-15T18:36:28+08:00"
                }
              }
            }
          ]
        ],
        "summary": {
          "successfulRoutes": 2,
          "totalRoutes": 4
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895",
    "RandomSeed": "1452024183"
  }
}
