{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/sync/json?api-version=1.0&waitForResults=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": {
        "origins": {
          "coordinates": [
            [
              45.9375,
              123.751
            ],
            [
              45.96875,
              123.791
            ]
          ],
          "type": "MultiPoint"
        },
        "destinations": {
          "coordinates": [],
          "type": "MultiPoint"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "latitude value should be between -90 and 90 inclusive. Expected coordinate format: [lon,lat]."
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895",
    "RandomSeed": "1187577610"
  }
}
