{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_712835301975/versions/1?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the command component with input/output types of custom model",
          "properties": {
            "client_component_hash": "c875fa14-5353-78ca-62de-2b9316062d26"
          },
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "python -c \"\n  import pickle\n  with open('${{inputs.component_in_custom_model}}/model.pkl', 'rb') as f:\n      model = pickle.load(f)\n\"\n",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_712835301975",
            "description": "This is the command component with input/output types of custom model",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentCustomInputOutputs",
            "is_deterministic": true,
            "inputs": {
              "component_in_custom_model": {
                "type": "custom_model"
              },
              "component_in_trition_model": {
                "type": "triton_model"
              }
            },
            "outputs": {
              "component_out_custom_model": {
                "type": "custom_model"
              },
              "component_out_trition_model": {
                "type": "triton_model"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_712835301975/versions/1?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.533"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_712835301975/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "client_component_hash": "c875fa14-5353-78ca-62de-2b9316062d26"
          },
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "test_712835301975",
            "version": "1",
            "display_name": "CommandComponentCustomInputOutputs",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the command component with input/output types of custom model",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "inputs": {
              "component_in_custom_model": {
                "type": "custom_model",
                "optional": "False"
              },
              "component_in_trition_model": {
                "type": "triton_model",
                "optional": "False"
              }
            },
            "outputs": {
              "component_out_custom_model": {
                "type": "custom_model"
              },
              "component_out_trition_model": {
                "type": "triton_model"
              }
            },
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "python -c \"\n  import pickle\n  with open('${{inputs.component_in_custom_model}}/model.pkl', 'rb') as f:\n      model = pickle.load(f)\n\"\n"
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2025-05-18T18:58:39.5359891+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-05-18T18:58:39.6010311+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "component_name": "test_712835301975"
  }
}
