{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_554159429300/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the command component with input/output types of MLTable",
          "properties": {
            "client_component_hash": "a494fb71-d866-d96e-430a-ec7ca4f47b1d"
          },
          "tags": {
            "tag": "tagvalue",
            "owner": "00000team"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "echo ${{inputs.component_in_mlflow_model_azure}}\necho ${{inputs.component_in_mlflow_model_uri}}\n",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_554159429300",
            "description": "This is the command component with input/output types of MLTable",
            "tags": {
              "tag": "tagvalue",
              "owner": "00000team"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentMLTableInputOutputs",
            "is_deterministic": true,
            "inputs": {
              "component_in_mlflow_model_azure": {
                "type": "mlflow_model"
              },
              "component_in_mlflow_model_uri": {
                "type": "mlflow_model"
              }
            },
            "outputs": {
              "component_out_mlflow_model": {
                "type": "mlflow_model"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_554159429300/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1190",
        "x-ms-response-type": "standard",
        "x-request-time": "1.356"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_554159429300/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "00000team"
          },
          "properties": {
            "client_component_hash": "a494fb71-d866-d96e-430a-ec7ca4f47b1d"
          },
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "test_554159429300",
            "version": "1",
            "display_name": "CommandComponentMLTableInputOutputs",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the command component with input/output types of MLTable",
            "tags": {
              "tag": "tagvalue",
              "owner": "00000team"
            },
            "inputs": {
              "component_in_mlflow_model_azure": {
                "type": "mlflow_model",
                "optional": "False"
              },
              "component_in_mlflow_model_uri": {
                "type": "mlflow_model",
                "optional": "False"
              }
            },
            "outputs": {
              "component_out_mlflow_model": {
                "type": "mlflow_model"
              }
            },
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo ${{inputs.component_in_mlflow_model_azure}}\necho ${{inputs.component_in_mlflow_model_uri}}\n"
          }
        },
        "systemData": {
          "createdAt": "2023-10-29T06:03:23.6149371\u002B00:00",
          "createdBy": "Chenyang Zhang",
          "createdByType": "User",
          "lastModifiedAt": "2023-10-29T06:03:23.707465\u002B00:00",
          "lastModifiedBy": "Chenyang Zhang",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "component_name": "test_554159429300"
  }
}
