{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-master/components/test_235389599563/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the command component with input/output types of MLTable",
          "properties": {
            "client_component_hash": "d4e5702d-db88-f589-7e17-040627c7ebfc"
          },
          "tags": {
            "tag": "tagvalue",
            "owner": "00000team"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "echo ${{inputs.component_in_mltable_mount}}\necho ${{inputs.component_in_mltable_url}}\necho ${{inputs.component_in_mltable_eval}}\n",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_235389599563",
            "description": "This is the command component with input/output types of MLTable",
            "tags": {
              "tag": "tagvalue",
              "owner": "00000team"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentMLTableInputOutputs",
            "is_deterministic": true,
            "inputs": {
              "component_in_mltable_mount": {
                "type": "mltable"
              },
              "component_in_mltable_url": {
                "type": "mltable"
              },
              "component_in_mltable_eval": {
                "type": "mltable"
              }
            },
            "outputs": {
              "component_out_mltable_rw_mount": {
                "type": "mltable"
              },
              "component_out_mltable_upload": {
                "type": "mltable"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-master/components/test_235389599563/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1184",
        "x-ms-response-type": "standard",
        "x-request-time": "1.017"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-master/components/test_235389599563/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "00000team"
          },
          "properties": {
            "client_component_hash": "d4e5702d-db88-f589-7e17-040627c7ebfc"
          },
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "test_235389599563",
            "version": "1",
            "display_name": "CommandComponentMLTableInputOutputs",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the command component with input/output types of MLTable",
            "tags": {
              "tag": "tagvalue",
              "owner": "00000team"
            },
            "inputs": {
              "component_in_mltable_mount": {
                "type": "mltable",
                "optional": "False"
              },
              "component_in_mltable_url": {
                "type": "mltable",
                "optional": "False"
              },
              "component_in_mltable_eval": {
                "type": "mltable",
                "optional": "False"
              }
            },
            "outputs": {
              "component_out_mltable_rw_mount": {
                "type": "mltable"
              },
              "component_out_mltable_upload": {
                "type": "mltable"
              }
            },
            "environment": "azureml://registries/azureml-dev/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo ${{inputs.component_in_mltable_mount}}\necho ${{inputs.component_in_mltable_url}}\necho ${{inputs.component_in_mltable_eval}}\n"
          }
        },
        "systemData": {
          "createdAt": "2023-10-24T10:56:04.5311697\u002B00:00",
          "createdBy": "Chenyang Zhang",
          "createdByType": "User",
          "lastModifiedAt": "2023-10-24T10:56:04.6123957\u002B00:00",
          "lastModifiedBy": "Chenyang Zhang",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "component_name": "test_235389599563"
  }
}
