{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:03:46 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "kind": "interactive",
        "interactiveMessage": {
          "body": {
            "kind": "text",
            "text": "The best Guardian of Galaxy"
          },
          "action": {
            "kind": "whatsAppUrlAction",
            "content": {
              "kind": "url",
              "title": "Rocket is the best!",
              "url": "https://wallpapercave.com/wp/wp2163723.jpg"
            }
          },
          "footer": {
            "kind": "text",
            "text": "Intergalactic News Ltd"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "477ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "74e406b3-d084-480b-b800-b7c0380b3b90",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
