{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 23:22:14 GMT"
      },
      "RequestBody": {
        "kind": "image",
        "mediaUri": "https://www.w3schools.com/w3css/img_lights.jpg",
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "caption": "awesome"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "530ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "180967c3-87e4-40f3-9059-034505b787cc",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
