{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:03:46 GMT"
      },
      "RequestBody": {
        "kind": "sticker",
        "mediaUri": "https://www.gstatic.com/webp/gallery/1.sm.webp",
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "832ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "18f33ac1-72a6-499c-b016-b4eab52a82fb",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
