{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:03:44 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "kind": "interactive",
        "interactiveMessage": {
          "header": {
            "kind": "image",
            "mediaUri": "https://wallpapercave.com/wp/wp2163723.jpg"
          },
          "body": {
            "kind": "text",
            "text": "Do you want to proceed?"
          },
          "action": {
            "kind": "whatsAppButtonAction",
            "content": {
              "kind": "buttonSet",
              "buttons": [
                {
                  "id": "Sanitized",
                  "title": "Yes"
                },
                {
                  "id": "Sanitized",
                  "title": "No"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "495ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "f2ee62de-9565-4ccc-8a2d-ae9f12429d94",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
