{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 21:08:51 GMT"
      },
      "RequestBody": {
        "kind": "reaction",
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "emoji": "\uD83D\uDE0D",
        "messageId": "e9522767-765c-4244-b448-27a67df5ee0e"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "501ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "48dcf704-1940-42a7-bc47-ed2b8b04c779",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
