{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuerda94355f?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "Test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuerda94355f",
        "provider": "Test",
        "attributes": {
          "enabled": true,
          "created": 1678159045,
          "updated": 1678159045
        }
      }
    }
  ],
  "Variables": {}
}
