{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=*.microsoft.com",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "validity_months": 24
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/pending?api-version=7.5-preview.1\u0026request_id=d8e599305d1e4bd192ce553b605546c2",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICyDCCAbACAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4WtAn4zXFbgQw0IX5gCfu6C3cg4DcdiYRuJJE1s\u002Bxmc9VIxdutmO2pPDAaqvxA\u002BwzIcpgogkMPsYuLIxbriFky1jpPS6s37ddGoXYePPh7rrThT/kyVYCx/suVWGCakWpY3r2kxhKZ9gzOAgX8ekJx6q4191Ej5KKQolNzK0huGTYcGV3z\u002BF\u002Br9X0dDW7vRLpoMzywjGRWZHosgVrAt/f0krUtS/MECbNNibbKdjb1QXfA0nomHmTuL1auJLiiPuwFBIGcEeMGgJmhJotcovJtEjFLZG\u002B3tFxkPstRDl\u002Bfpg7jpCsXCxOXH/e1qAjEdiGNXGff0QL1guP\u002BPEhcOjHQIDAQABoGkwZwYJKoZIhvcNAQkOMVowWDAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAEDj3VIW6wwveHRcihksPYNm1ei/n9f7T3FcP0MYb\u002BxF8TdOduRk7SF83ZsuHuBerl/zSQsiDBhR8VczAQIKdGCPPLr2KSosHtp\u002BxP\u002B1oOHpZebKbna2IuTdHKhneIvi1aI2\u002B69UP7hjy5WIYnBLCuZpVzLXHJEGiHVnsC3jD9Uo7CM02EJXvuRYeu/r06KA1XWVXDbXS/ERlIPQAalceAZ14LjK4ANgnHCt2rOrzcdzRZH5WzNTaTYiI38AOcayxcRsPivVysn5mXLkLB8A78V09IPiqkiIgkeoN3QVijaGawRXmbwJfYgmShv3HDQfaxIq5a/xnwUJ2fpjqmxADik=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "d8e599305d1e4bd192ce553b605546c2"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/pending?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/pending",
        [...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/1b235c25dfbf4f4694212ee62b142d1a",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert7dc93f11/1b235c25dfbf4f4694212ee62b142d1a",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert7dc93f11/1b235c25dfbf4f4694212ee62b142d1a",
        "x5t": "el9X9HKJjUihI4j7ZEVbs83zEyc",
        "cer": "MIIDWjCCAkKgAwIBAgIQBulxsaeFQqyhilhCA/tCITANBgkqhkiG9w0BAQsFADAaMRgwFgYDVQQDDA8qLm1pY3Jvc29mdC5jb20wHhcNMjMwOTE5MjIzODM3WhcNMjUwOTE5MjI0ODM3WjAaMRgwFgYDVQQDDA8qLm1pY3Jvc29mdC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDha0CfjNcVuBDDQhfmAJ\u002B7oLdyDgNx2JhG4kkTWz7GZz1UjF262Y7ak8MBqq/ED7DMhymCiCQw\u002Bxi4sjFuuIWTLWOk9Lqzft10ahdh48\u002BHuutOFP\u002BTJVgLH\u002By5VYYJqRaljevaTGEpn2DM4CBfx6QnHqrjX3USPkopCiU3MrSG4ZNhwZXfP4X6v1fR0Nbu9EumgzPLCMZFZkeiyBWsC39/SStS1L8wQJs02Jtsp2NvVBd8DSeiYeZO4vVq4kuKI\u002B7AUEgZwR4waAmaEmi1yi8m0SMUtkb7e0XGQ\u002By1EOX5\u002BmDuOkKxcLE5cf97WoCMR2IY1cZ9/RAvWC4/48SFw6MdAgMBAAGjgZswgZgwDgYDVR0PAQH/BAQDAgWgMAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MB8GA1UdIwQYMBaAFHhUqRIrspN2qzPBfAY\u002BCamZ6y2fMB0GA1UdDgQWBBR4VKkSK7KTdqszwXwGPgmpmestnzANBgkqhkiG9w0BAQsFAAOCAQEAX7tS1RWlpzD0Ndro7a/4RuFANBESrd2\u002BtSnk5OLPnbXVoghVIG1fHrp3OanACOCGdVkM10HA9Hwi6lLAWnKQWXsq2B3\u002BQOuZFAzsabY8phnMHoT7KOla/r2FDL5zdu4HAyN9nzUPzjG6rCjO2Y/jDargz0l/vTwGGITTlj2hhWb5SiTxcSc/OP8YhFRADHvsHhIkcw1tgcZM8ZEBV7cCbpSLL5hnHAedwefXf97yvPz5OrxkE5gfCr\u002BaH\u002ByYJv9wINhbslBhrNKw/xvCz/qOfK3LDg/lR7\u002B6ihI1a83YQV2Upl1h\u002B10U04bbm9dqB6eePZ23DBtkoEKSrJZg\u002BhcL4A==",
        "attributes": {
          "enabled": true,
          "nbf": 1695163117,
          "exp": 1758322117,
          "created": 1695163717,
          "updated": 1695163717,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=*.microsoft.com",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 24,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1695163716,
            "updated": 1695163716
          }
        },
        "pending": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/pending"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert01c3231af",
            "x5t": "7Hd8wjMNV61gvzAY4LfCGxWwi_I",
            "attributes": {
              "enabled": true,
              "nbf": 1628270437,
              "exp": 4781870437,
              "created": 1695163336,
              "updated": 1695163336
            },
            "subject": ""
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcer[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates?api-version=7.5-preview.1\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjAhTURBd01EUTFJV05sY25ScFptbGpZWFJsTDB4SlZrVkxWbFJGVTFSRFJWSlVVa1ZETVRRNE4wWXpPVGRCTDFCUFRFbERXU0V3TURBd01qZ2hPVGs1T1MweE1pMHpNVlF5TXpvMU9UbzFPUzQ1T1RrNU9UazVXaUUtIiwiVGFyZ2V0TG9jYXRpb24iOjB9",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type[...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/versions?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/1b235c25dfbf4f4694212ee62b142d1a",
            "x5t": "el9X9HKJjUihI4j7ZEVbs83zEyc",
            "attributes": {
              "enabled": true,
              "nbf": 1695163117,
              "exp": 1758322117,
              "created": 1695163717,
              "updated": 1695163717
            },
            "subject": ""
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/ecd04c833e4b4e7aac053f54db08bb24",
            "x5t": "4e3ncAGJDEVaPomEyrdpuykqqMM",
            "attributes": {
              "enabled": true,
              "nbf": 1695163123,
              "exp": 1758322123,
              "created": 1695163723,
              "updated": 1695163723
            },
            "subject": ""
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert7dc93f11",
        "deletedDate": 1695163727,
        "scheduledPurgeDate": 1695768527,
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11/ecd04c833e4b4e7aac053f54db08bb24",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert7dc93f11/ecd04c833e4b4e7aac053f54db08bb24",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert7dc93f11/ecd04c833e4b4e7aac053f54db08bb24",
        "x5t": "4e3ncAGJDEVaPomEyrdpuykqqMM",
        "cer": "MIIDWjCCAkKgAwIBAgIQTLotqgqRQs\u002BbOPO48rNCEzANBgkqhkiG9w0BAQsFADAaMRgwFgY[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert7dc93f11?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: livekvtestcert7dc93f11"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert-name7be63f03",
            "deletedDate": 1695163715,
            "scheduledPurgeDate": 1695768515,
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-name7be63f03",
            "x5t": "WkeKflvgh2PR7a4jPgmWNWuxz9s",
            "attributes": {
              "enabled": true,
              "nbf": 1695163110,
              "exp": 1758322110,
              "created": 1695163710,
              "updated": 1695163715,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            },
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert72303644",
            "deletedDate": 1695163331,
            "scheduledPurgeDate": 1695768131,
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert72303644",
            "x5t": "KRpAuhKaHD37bBkqHgavuxHjdpE",
            "attributes": {
              "enabled": true,
              "nbf": 1695162725,
              "exp": 1726785725,
              "created": 1695163326,
              "updated": 1695163331,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            },
            "tags": {
              "tag1": "updated_value1"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert7dc93f11",
            "deletedDate": 1695163727,
            "scheduledPurgeDate": 1695768527,
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert7dc93f11",
            "x5t": "4e3ncAGJDEVaPomEyrdpuykqqMM",
            "attributes": {
              "enabled": true,
              "nbf": 1695163123,
              "exp"[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates?api-version=7.5-preview.1\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjAhTURBd01EUTFJV05sY25ScFptbGpZWFJsTDB4SlZrVkxWbFJGVTFSRFJWSlVVa1ZETVRRNE4wWXpPVGRCTDFCUFRFbERXU0V3TURBd01qZ2hPVGs1T1MweE1pMHpNVlF5TXpvMU9UbzFPUzQ1T1RrNU9UazVXaUUtIiwiVGFyZ2V0TG9jYXRpb24iOjB9",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
