{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedcertificates?api-version=2016-10-01&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates?api-version=2016-10-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedcertificates?api-version=2016-10-01&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates?api-version=2016-10-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert5e2132b1",
            "deletedDate": 1716588420,
            "scheduledPurgeDate": 1717193220,
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert5e2132b1",
            "x5t": "vxaucuiwtqJbHvaWDjOMvHrlLts",
            "attributes": {
              "enabled": true,
              "nbf": 1716587814,
              "exp": 1748124414,
              "created": 1716588414,
              "updated": 1716588420,
              "recoveryLevel": "CustomizedRecoverable+Purgeable"
            },
            "tags": {
              "tag1": "updated_value1"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert5e2a32b2",
            "deletedDate": 1716588406,
            "scheduledPurgeDate": 1717193206,
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert5e2a32b2",
            "x5t": "LpJy2A-RKWGnncESue2TDYR5WTY",
            "attributes": {
              "enabled": true,
              "nbf": 1716587801,
              "exp"[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates?api-version=2016-10-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
