{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/contacts?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "John Doe",
            "phone": "1111111111"
          },
          {
            "email": "admin2@contoso.com",
            "name": "John Doe2",
            "phone": "2222222222"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "John Doe",
            "phone": "1111111111"
          },
          {
            "email": "admin2@contoso.com",
            "name": "John Doe2",
            "phone": "2222222222"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/contacts?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "John Doe",
            "phone": "1111111111"
          },
          {
            "email": "admin2@contoso.com",
            "name": "John Doe2",
            "phone": "2222222222"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
