{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/livekvtestissuer8fd6310e?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/livekvtestissuer8fd6310e?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer8fd6310e",
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1748994272,
          "updated": 1748994272
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer28fd6310e",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer8fd6310e",
            "provider": "Test"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/livekvtestissuer8fd6310e?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateIssuerNotFound",
          "message": "Issuer not found"
        }
      }
    }
  ],
  "Variables": {}
}
