{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=*.microsoft.com",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "validity_months": 24
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/pending?api-version=7.1\u0026request_id=fc6ed4f1e59141aca81d18ef0df314a0",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICyDCCAbACAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA31vmXRB27QhsRzU7SpBNXECRgabyD0c/Rh5l2WfsrUcdQl\u002BoC67W8OXn8CM1iGMp/7nvAaJOVlWd1RRUJe4c/pNEf0R7XnQQ8tqAv7yCLBH8YUmKKDEhZBXmikh2VOirJjDBPBWSLyyw8RrecNa0elJ3O5CyiXUIfdDwCHuhiyXfTunWc14TXDthz1HK9cBzQzsfwHRkfoAT6B6jdqsyX3sjrWaWUEkXnbcK4RtZbwNto8Y1H6/696h5oKb/vsfITaXn38LzbVupmwYO5NINN7QlvmyjHxSILOkwhTRzU1Fx6kyqxPDcSwXcylz4OMl9dj77gGcbhvtXZoaj268Z7QIDAQABoGkwZwYJKoZIhvcNAQkOMVowWDAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBACrmo7YjLW9ANkcN13ltkxFg8nQ3WtpGCV3IcXZQXGKyl\u002B8cf6etFt41X56MGmiv5siDGtyKhmWw0P7b/MUvWmHOigTISbF5tQN3nH1FOHaWxkg/pGC9PKUyq6f3/YB4BHW6z5veBEDcltkEwd6QIz9iTAg0SWB9KZePEte9YeVoP1UY\u002BvrdrIXfvDLuTcRGmMhDsPbdsxeVPlgc6Vpq4wSNgo9Sl8qhg96wqFb32mKU0XHeUIk\u002BuCmf/IC1nPlVwjM8odTHL2pLOpsTYawC2TD7EjrK3TbRczkKRxaCAzNj97igqXWViAl\u002BAGZFUwI\u002B7kEMUtoQssv7hp888BX1Kws=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "fc6ed4f1e59141aca81d18ef0df314a0"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/pending?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/pending",
        "issuer": [...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/8587cd7206914b08b498f27f1c1b3149",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert11c13b7f/8587cd7206914b08b498f27f1c1b3149",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert11c13b7f/8587cd7206914b08b498f27f1c1b3149",
        "x5t": "oCIv9nbg12zoXCyqMC_DXmSJGVE",
        "cer": "MIIDWjCCAkKgAwIBAgIQCjaF6PCbTPOFlcGALKgsVjANBgkqhkiG9w0BAQsFADAaMRgwFgYDVQQDDA8qLm1pY3Jvc29mdC5jb20wHhcNMjIxMTAxMTgwMzE5WhcNMjQxMTAxMTgxMzE5WjAaMRgwFgYDVQQDDA8qLm1pY3Jvc29mdC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDfW\u002BZdEHbtCGxHNTtKkE1cQJGBpvIPRz9GHmXZZ\u002BytRx1CX6gLrtbw5efwIzWIYyn/ue8Bok5WVZ3VFFQl7hz\u002Bk0R/RHtedBDy2oC/vIIsEfxhSYooMSFkFeaKSHZU6KsmMME8FZIvLLDxGt5w1rR6Unc7kLKJdQh90PAIe6GLJd9O6dZzXhNcO2HPUcr1wHNDOx/AdGR\u002BgBPoHqN2qzJfeyOtZpZQSRedtwrhG1lvA22jxjUfr/r3qHmgpv\u002B\u002Bx8hNpeffwvNtW6mbBg7k0g03tCW\u002BbKMfFIgs6TCFNHNTUXHqTKrE8NxLBdzKXPg4yX12PvuAZxuG\u002B1dmhqPbrxntAgMBAAGjgZswgZgwDgYDVR0PAQH/BAQDAgWgMAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MB8GA1UdIwQYMBaAFJ/vEotPvKqItzlD7yYtELMxau9XMB0GA1UdDgQWBBSf7xKLT7yqiLc5Q\u002B8mLRCzMWrvVzANBgkqhkiG9w0BAQsFAAOCAQEAKG7hLns/RjnNmJuRW\u002BYIoddMQHy0unKPIY/\u002B\u002BnxsXgrQ8oMCpA6i1HNcOt0TxWoi8N5rrs5/Uw8u7XrQmWRukNsIWp2WLAFkMiKRDYGhXf94vrBAk3z//NJvGt0I5Z77kQoLDZhzcuGi1UBv7OaIJCBdncnVjhdM0n5HKaTQidTK62YP6afDYd7Gt2x5korx1miDzAJbuBbFtU\u002BG\u002B1Rv2X7TLEFTSIoJhRp0G9ieTVkKHbG5agEjVT\u002BdPsVKb35p4rhbq4lJbSoGBBX8oSSGh\u002BAmUTmuP5LESESFTazVGrvxWi4pJyhw9PwQfd0PNV3qJybZyk8f2LlOdQ2fwpMzWQ==",
        "attributes": {
          "enabled": true,
          "nbf": 1667325799,
          "exp": 1730484799,
          "created": 1667326400,
          "updated": 1667326400,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=*.microsoft.com",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 24,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1667326396,
            "updated": 1667326396
          }
        },
        "pending": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/pending"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert035f52e1c",
            "x5t": "7Hd8wjMNV61gvzAY4LfCGxWwi_I",
            "attributes": {
              "enabled": true,
              "nbf": 1628270437,
              "exp": 4781870437,
              "created": 1667326284,
              "updated": 1667326284
            },
            "subject": ""
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcer[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates?api-version=7.1\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert236072e1e",
            "x5t": "7Hd8[...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/versions?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/6eeb514952bd4c2ba63090a3bfd04663",
            "x5t": "176MnAAUFKif2S9AQA6Kn9rqFIk",
            "attributes": {
              "enabled": true,
              "nbf": 1667325804,
              "exp": 1730484804,
              "created": 1667326404,
              "updated": 1667326404
            },
            "subject": ""
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/8587cd7206914b08b498f27f1c1b3149",
            "x5t": "oCIv9nbg12zoXCyqMC_DXmSJGVE",
            "attributes": {
              "enabled": true,
              "nbf": 1667325799,
              "exp": 1730484799,
              "created": 1667326400,
              "updated": 1667326400
            },
            "subject": ""
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert11c13b7f",
        "deletedDate": 1667326408,
        "scheduledPurgeDate": 1667931208,
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert11c13b7f/6eeb514952bd4c2ba63090a3bfd04663",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert11c13b7f/6eeb514952bd4c2ba63090a3bfd04663",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert11c13b7f/6eeb514952bd4c2ba63090a3bfd04663",
        "x5t": "176MnAAUFKif2S9AQA6Kn9rqFIk",
        "cer": "MIIDWjCCAkKgAwIBAgIQG3LvsdrhQISKwLoN34yeUTANBgkqhkiG9w0BAQsFADAaMRgwFgYDVQQD[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert11c13b7f?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: livekvtestcert11c13b7f"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert11c13b7f",
            "deletedDate": 16[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates?api-version=7.1\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedcertificates?api-version=7.1\u0026$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates?api-version=7.1\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
