{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/issuers/issuer1?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/issuers/issuer1",
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1678159296,
          "updated": 1678159296
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/issuers?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/issuer1",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/issuer2",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer28fc4310c",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer2cee43389",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer5a413275",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer8f0332e2",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuera35534f2",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuerda94355f",
            "provider": "Test"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/issuers/issuer1?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/issuers/issuer1",
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1678159296,
          "updated": 1678159296
        }
      }
    }
  ],
  "Variables": {}
}
