{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/issuer1?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/issuer1?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/issuers/issuer1",
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1738711282,
          "updated": 1738711282
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/issuer1",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/issuer2",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer28fcd310d",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer2ceed338a",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer5a4a3276",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer8f0c32e3",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuera35e34f3",
            "provider": "Test"
          },
          {
            "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuerda9d3560",
            "provider": "Test"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/issuer1?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/issuers/issuer1",
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1738711282,
          "updated": 1738711282
        }
      }
    }
  ],
  "Variables": {}
}
