{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "key_usage": [
              "decipherOnly"
            ],
            "validity_months": 12
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 98
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Self",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/pending?api-version=7.5-preview.1\u0026request_id=8a550191270c4b8e8fb768cdc9f2ea5e",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICxzCCAa8CAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMSM11Z8VTJIrJOSv\u002B8u6bgT5lzkB7/8IjWstoVY\u002BZYDXWFSvkzFp4qadjRl6JN2iB4KLsK9\u002B9EyBmrktSa\u002B\u002BxZ1a2rSDZrqr\u002BL9TwMp5xtTO9pQWD\u002BlwvQZ1F9M2PATR9OBEKlmw0/b\u002BZ3p4dZicmJNt3JQ3Q\u002Bqt/KIV4QoVMjd58rucE6NTIyIj9mF\u002B\u002BmXo3pYlYAxZZv2a8YDhHQAH08ke2ZdHzWR/mfIl9A5hsxo/byyWfH5v33yHxvotukEbh5MiM1gSXTiVFQSlQvOOZKzVwZKEtcBhwb4jo/PitsZBs\u002BEJ6stiJMl1LtZd1Hl40ZQhjVeddQ8zhd1zr09n4UCAwEAAaBqMGgGCSqGSIb3DQEJDjFbMFkwDwYDVR0PAQH/BAUDAwcAgDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwHAYDVR0RBBUwE4IRc2RrLmF6dXJlLWludC5uZXQwCQYDVR0TBAIwADANBgkqhkiG9w0BAQsFAAOCAQEAbeOof1Cmsg3x4AZYUikmlr7QI\u002BbXmEJ3ZINDaHq/skEAdwbMCeBuHdK\u002B22s6aUko/L1EB54YEPzbO2mHNxM5LXZ\u002BNXvXpqbS2cvD/14cjKFivteqsPldLJlv4HPgy\u002BpcPhljt\u002BZr0TSm5M7\u002B3m3wPdTMzAn/p3M3fCo\u002BgrXP8SoJbCMNhq1t8Y2SAYrY5IUIOPbSH5Kia\u002BA5Q/vVbS03LC6B3b3iUi7nYeYrmjYk3beiXLMyz9FV1UaPonEVI06NRK6StDhzub5DUsBsC6GxjvsYG1yCtuUbKIEVBzt9bhwWflDRe4n1Jnw3Cs3pGXNdoJARSVtVJKOWrtVdzD86zQ==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "8a550191270c4b8e8fb768cdc9f2ea5e"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/pending?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate8[...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/30c3f33fc5374bf1bbc16e8384a160b9",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestpolicyCertificate85263283/30c3f33fc5374bf1bbc16e8384a160b9",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestpolicyCertificate85263283/30c3f33fc5374bf1bbc16e8384a160b9",
        "x5t": "dOfWQ7D9j5IqY2HYxVxliKgnSTo",
        "cer": "MIIDVzCCAj\u002BgAwIBAgIQAeJ2HW4RSkeu5OJFgnOwrDANBgkqhkiG9w0BAQsFADAYMRYwFAYDVQQDEw1EZWZhdWx0UG9saWN5MB4XDTIzMDkxOTIyMzQwOFoXDTI0MDkxOTIyNDQwOFowGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMSM11Z8VTJIrJOSv\u002B8u6bgT5lzkB7/8IjWstoVY\u002BZYDXWFSvkzFp4qadjRl6JN2iB4KLsK9\u002B9EyBmrktSa\u002B\u002BxZ1a2rSDZrqr\u002BL9TwMp5xtTO9pQWD\u002BlwvQZ1F9M2PATR9OBEKlmw0/b\u002BZ3p4dZicmJNt3JQ3Q\u002Bqt/KIV4QoVMjd58rucE6NTIyIj9mF\u002B\u002BmXo3pYlYAxZZv2a8YDhHQAH08ke2ZdHzWR/mfIl9A5hsxo/byyWfH5v33yHxvotukEbh5MiM1gSXTiVFQSlQvOOZKzVwZKEtcBhwb4jo/PitsZBs\u002BEJ6stiJMl1LtZd1Hl40ZQhjVeddQ8zhd1zr09n4UCAwEAAaOBnDCBmTAPBgNVHQ8BAf8EBQMDBwCAMAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MB8GA1UdIwQYMBaAFKiYrNaZkvEfnU6YKekqMq/WTDicMB0GA1UdDgQWBBSomKzWmZLxH51OmCnpKjKv1kw4nDANBgkqhkiG9w0BAQsFAAOCAQEAVJsfxl8nTxnLZVRY0KQhGjIN5O4nU6ip\u002BkycPwm6uMg/vGvl1TM74QY91h\u002BGCon6NXoce8J4860bH\u002B\u002BHXTL6XpnX2CRurftL1gds8de4NFmaUCZxRFls7QvMZYtSvIVI/KJ4RsboIUFXCmeDaG8uMiwVLRWo9dcleYl8A7\u002BsMDNh0XGpAOPvkiSSULujRYhfe90C/yGWbJFJZZPdZ0MwS4rDd/TpFEvlYCqpfu7iy1bPpq0YHirGceEG2rMKZ7TulKRyjSm3oPMFKo1I0UkjOW1CpSPmnbEdqEp1AIMih8G8B0uLdz5Q6\u002Bcm\u002BzW7RXyCKq81XD5tOU5ZM3yFOEaKcQ==",
        "attributes": {
          "enabled": true,
          "nbf": 1695162848,
          "exp": 1726785848,
          "created": 1695163448,
          "updated": 1695163448,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "decipherOnly"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 98
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Self",
            "cert_transparency": false
          },
          "attributes": {
            "enabled": true,
            "created": 1695163447,
            "updated": 1695163447
          }
        },
        "pending": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/pending"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/policy?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/policy",
        "key_[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestpolicyCertificate85263283/policy?api-version=7.5-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_props": {
          "exportable": true,
          "kty": "EC",
          "key_size": 256,
          "reuse_key": true,
          "crv": "P-256"
        },
        "secret_props": {
          "contentType": "application/x-pkcs12"
        },
        "x509_props": {
          "subject": "CN=DefaultPolicy",
          "ekus": [
            "1.3.6.1.5.5.7.3.1",
            "1.3.6.1.5.5.7.3.2"
          ],
          "sans": {
            "dns_names": [
              "sdk.azure-int.net"
            ]
          },
          "key_usage": [
            "decipherOnly"
          ],
          "validity_months": 12
        },
        "lifetim[...]
