{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer94538ef?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "Test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer94538ef",
        "provider": "Test",
        "attributes": {
          "enabled": true,
          "created": 1714593617,
          "updated": 1714609394
        }
      }
    }
  ],
  "Variables": {}
}
