{
  "Entries": [
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/f72dbbeb?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <QueueDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <LockDuration>PT1M</LockDuration>\r\n",
        "      <MaxSizeInMegabytes>1024</MaxSizeInMegabytes>\r\n",
        "      <RequiresDuplicateDetection>false</RequiresDuplicateDetection>\r\n",
        "      <RequiresSession>false</RequiresSession>\r\n",
        "      <DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration>\r\n",
        "      <MaxDeliveryCount>10</MaxDeliveryCount>\r\n",
        "      <EnableBatchedOperations>true</EnableBatchedOperations>\r\n",
        "      <IsAnonymousAccessible>false</IsAnonymousAccessible>\r\n",
        "      <AuthorizationRules />\r\n",
        "      <Status>Active</Status>\r\n",
        "      <EnablePartitioning>false</EnablePartitioning>\r\n",
        "      <EnableExpress>false</EnableExpress>\r\n",
        "    </QueueDescription>\r\n",
        "  </content>\r\n",
        "</entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-td99723966979f9e4.servicebus.windows.net/f72dbbeb?api-version=2021-05</id><title type=\"text\">f72dbbeb</title><published>2024-09-04T18:37:03Z</published><updated>2024-09-04T18:37:03Z</updated><author><name>sb-td99723966979f9e4</name></author><link rel=\"self\" href=\"https://sb-td99723966979f9e4.servicebus.windows.net/f72dbbeb?api-version=2021-05\"/><content type=\"application/xml\"><QueueDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-04T18:37:03.08Z</CreatedAt><UpdatedAt>2024-09-04T18:37:03.1Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></content></entry>"
    },
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/3c1d5392?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <MaxSizeInMegabytes>1024</MaxSizeInMegabytes>\r\n",
        "      <RequiresDuplicateDetection>false</RequiresDuplicateDetection>\r\n",
        "      <EnableBatchedOperations>true</EnableBatchedOperations>\r\n",
        "      <FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing>\r\n",
        "      <IsAnonymousAccessible>false</IsAnonymousAccessible>\r\n",
        "      <AuthorizationRules />\r\n",
        "      <Status>Active</Status>\r\n",
        "      <SupportOrdering>false</SupportOrdering>\r\n",
        "      <EnablePartitioning>false</EnablePartitioning>\r\n",
        "      <EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning>\r\n",
        "      <EnableExpress>false</EnableExpress>\r\n",
        "    </TopicDescription>\r\n",
        "  </content>\r\n",
        "</entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-td99723966979f9e4.servicebus.windows.net/3c1d5392?api-version=2021-05</id><title typ[...]
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/f72dbbeb?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638610718231000000"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/3c1d5392?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638610718239800000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "171597436",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://sb-td99723966979f9e4.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg==",
    "SERVICEBUS_FULLY_QUALIFIED_NAMESPACE": "sb-td99723966979f9e4.servicebus.windows.net"
  }
}
