{
  "Entries": [
    {
      "RequestUri": "https://sb-te024e0517311b8c1.servicebus.windows.net/basictopiccrudoperationsaab03257?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <DefaultMessageTimeToLive>P2D</DefaultMessageTimeToLive>\r\n",
        "      <MaxSizeInMegabytes>1024</MaxSizeInMegabytes>\r\n",
        "      <RequiresDuplicateDetection>true</RequiresDuplicateDetection>\r\n",
        "      <DuplicateDetectionHistoryTimeWindow>PT1M</DuplicateDetectionHistoryTimeWindow>\r\n",
        "      <EnableBatchedOperations>true</EnableBatchedOperations>\r\n",
        "      <FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing>\r\n",
        "      <IsAnonymousAccessible>false</IsAnonymousAccessible>\r\n",
        "      <AuthorizationRules>\r\n",
        "        <AuthorizationRule p5:type=\"SharedAccessAuthorizationRule\" xmlns:p5=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n",
        "          <ClaimType>SharedAccessKey</ClaimType>\r\n",
        "          <ClaimValue>None</ClaimValue>\r\n",
        "          <Rights>\r\n",
        "            <AccessRights>Manage</AccessRights>\r\n",
        "            <AccessRights>Send</AccessRights>\r\n",
        "            <AccessRights>Listen</AccessRights>\r\n",
        "          </Rights>\r\n",
        "          <KeyName>allClaims</KeyName>\r\n",
        "          <PrimaryKey>SanitizedSanitizedSanitizedSanitizedSanitize</PrimaryKey>\r\n",
        "          <SecondaryKey>SanitizedSanitizedSanitizedSanitizedSanitize</SecondaryKey>\r\n",
        "        </AuthorizationRule>\r\n",
        "      </AuthorizationRules>\r\n",
        "      <Status>Active</Status>\r\n",
        "      <UserMetadata>BasicTopicCrudOperations</UserMetadata>\r\n",
        "      <SupportOrdering>false</SupportOrdering>\r\n",
        "      <AutoDeleteOnIdle>PT1H</AutoDeleteOnIdle>\r\n",
        "      <EnablePartitioning>false</EnablePartitioning>\r\n",
        "      <EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning>\r\n",
        "      <EnableExpress>false</EnableExpress>\r\n",
        "    </TopicDescription>\r\n",
        "  </content>\r\n",
        "</entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-te024e0517311b8c1.servicebus.windows.net/basictopiccrudoperationsaab03257?api-version=2021-05</id><title type=\"text\">basictopiccrudoperationsaab03257</title><published>2024-04-19T14:56:52Z</published><updated>2024-04-19T14:56:52Z</updated><author><name>sb-te024e0517311b8c1</name></author><link rel=\"self\" href=\"https://sb-te024e0517311b8c1.servicebus.windows.net/basictopiccrudoperationsaab03257?api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>P2D</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>true</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT1M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules><AuthorizationRule i:type=\"SharedAccessAuthorizationRule\"><ClaimType>SharedAccessKey</ClaimType><ClaimValue>None</ClaimValue><Rights><AccessRights>Manage</AccessRights><AccessRights>Send</AccessRights><AccessRights>Listen</AccessRights></Rights><KeyName>allClaims</KeyName><PrimaryKey>SanitizedSanitizedSanitizedSanitizedSanitize</PrimaryKey><SecondaryKey>SanitizedSanitizedSanitizedSanitizedSanitize</SecondaryKey></AuthorizationRule></AuthorizationRules><Status>Active</Status><CreatedAt>2024-04-19T14:56:52.837Z</CreatedAt><UpdatedAt>2024-04-19T14:56:52.91Z</UpdatedAt><UserMetadata>BasicTopicCrudOperations</UserMetadata><SupportOrdering>false</SupportOrdering><AutoDeleteOnIdle>PT1H</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://sb-te024e0517311b8c1.servicebus.windows.net/basictopiccrudoperationsaab03257?api-version=2021-05&enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638491354129100000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-te024e0517311b8c1.servicebus.windows.net/basictopiccrudoperationsaab03257?api-version=2021-05&amp;enrich=False</id><title type=\"text\">basictopiccrudoperationsaab03257</title><published>2024-04-19T14:56:52Z</published><updated>2024-04-19T14:56:52Z</updated><author><name>sb-te024e0517311b8c1</name></author><link rel=\"self\" href=\"https://sb-te024e0517311b8c1.servicebus.windows.net/[...]
    {
      "RequestUri": "https://sb-te024e0517311b8c1.servicebus.windows.net/basictopiccrudoperationsaab03257?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml",
        "If-Match": "*"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <DefaultMessageTimeToLive>P3D</DefaultMessageTimeToLive>\r\n",
        "      <MaxSizeInMegabytes>1024</MaxSizeInMegabytes>\r\n",
        "      <RequiresDuplicateDetection>true</RequiresDuplicateDetection>\r\n",
      [...]
[...]
    {
      "RequestUri": "https://sb-te024e0517311b8c1.servicebus.windows.net/$Resources/topics?api-version=2021-05&enrich=False&$skip=0&$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Topics</title><id>https://sb-te024e0517311b8c1.servicebus.windows.net/$Resources/topics?api-version=2021-05&amp;enrich=False&amp;$skip=0&amp;$top=100</id><updated>2024-04-19T14:56:54Z</updated><link rel=\"self\" href=\"https://sb-te024e0517311b8c1.servicebus.windows.net/$Resources/topics?api-version=2021-05&amp;enrich=False&amp;$skip=0&amp;$top=100\"/><entry xml:base=\"https://sb-te024e0517311b8c1.servicebus.windows.net/$Resources/topics[...]
[...]
    {
      "RequestUri": "https://sb-te024e0517311b8c1.servicebus.windows.net/basictopiccrudoperationsaab03257?api-version=2021-05&enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Publicly Listed Services</title><subtitle type=\"text\">This is the list of publicly-listed services currently available.</subtitle><id>uuid:c889458b-a5bc-4ee9-91ca-e146f4753bb2;id=44449</id><updated>2024-04-19T14:56:55Z</updated><generator>Service Bus 1.1</generator></feed>"
    },
    {
      "RequestUri": "https://sb-te024e0517311b8c1.servicebus.windows.net/basictopiccrudoperationsaab03257?api-version=2021-05&enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Publicly Listed Services</title><subtitle type=\"text\">This is the list of publicly-listed services currently available.</subtitle><id>uuid:c889458b-a5bc-4ee9-91ca-e146f4753bb2;id=44452</id><updated>2024-04-19T14:56:56Z</updated><generator>Service Bus 1.1</generator></feed>"
    }
  ],
  "Variables": {
    "RandomSeed": "401481145",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://sb-te024e0517311b8c1.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}
