{
  "Entries": [
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <MaxSizeInMegabytes>1024</MaxSizeInMegabytes>\r\n",
        "      <RequiresDuplicateDetection>false</RequiresDuplicateDetection>\r\n",
        "      <EnableBatchedOperations>true</EnableBatchedOperations>\r\n",
        "      <FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing>\r\n",
        "      <IsAnonymousAccessible>false</IsAnonymousAccessible>\r\n",
        "      <AuthorizationRules />\r\n",
        "      <Status>Active</Status>\r\n",
        "      <SupportOrdering>false</SupportOrdering>\r\n",
        "      <EnablePartitioning>false</EnablePartitioning>\r\n",
        "      <EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning>\r\n",
        "      <EnableExpress>false</EnableExpress>\r\n",
        "    </TopicDescription>\r\n",
        "  </content>\r\n",
        "</entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05</id><title type=\"text\">gettopicruntimeinfo35b741f0</title><published>2024-09-06T21:27:15Z</published><updated>2024-09-06T21:27:16Z</updated><author><name>sb-td99723966979f9e4</name></author><link rel=\"self\" href=\"https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-06T21:27:15.99Z</CreatedAt><UpdatedAt>2024-09-06T21:27:16.013Z</UpdatedAt><SupportOrdering>false</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05&enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638612548360130000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05&amp;enrich=False</id><title type=\"text\">gettopicruntimeinfo35b741f0</title><published>2024-09-06T21:27:15Z</published><updated>2024-09-06T21:27:16Z</updated><author><name>sb-td99723966979f9e4</name></author><link rel=\"self\" href=\"https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05&amp;enrich=False\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-06T21:27:15.99Z</CreatedAt><UpdatedAt>2024-09-06T21:27:16.013Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00Z</AccessedAt><SupportOrdering>false</SupportOrdering><CountDetails xmlns:d2p1=\"http://schemas.microsoft.com/netservices/2011/06/servicebus\"><d2p1:ActiveMessageCount>0</d2p1:ActiveMessageCount><d2p1:DeadLetterMessageCount>0</d2p1:DeadLetterMessageCount><d2p1:ScheduledMessageCount>0</d2p1:ScheduledMessageCount><d2p1:TransferMessageCount>0</d2p1:TransferMessageCount><d2p1:TransferDeadLetterMessageCount>0</d2p1:TransferDeadLetterMessageCount></CountDetails><SubscriptionCount>0</SubscriptionCount><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml",
        "If-Match": "*"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <MaxSizeInMegabytes>1024</MaxSizeInMegabytes>\r\n",
        "      <RequiresDuplicateDetection>false</RequiresDuplicateDetection>\r\n",
        "      <EnableBatchedOperations>true</EnableBatchedOperations>\r\n",
      [...]
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0/Subscriptions/7627c994?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <SubscriptionDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <LockDuration>PT1M</LockDuration>\r\n",
        "      <RequiresSession>false</RequiresSession>\r\n",
        "      <DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration>\r\n",
        "      <DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions>\r\n",
        "      <DefaultRuleDescription>\r\n",
        "        <Filter p5:type=\"TrueFilter\" xmlns:p5=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n",
        "          <SqlExpression>1=1</SqlExpression>\r\n",
        "          <Parameters />\r\n",
        "        </Filter>\r\n",
        "        <Name>$Default</Name>\r\n",
        "      </DefaultRuleDescription>\r\n",
        "      <MaxDeliveryCount>10</MaxDeliveryCount>\r\n",
        "      <EnableBatchedOperations>true</EnableBatchedOperations>\r\n",
        "      <Status>Active</Status>\r\n",
        "    </SubscriptionDescription>\r\n",
        "  </content>\r\n",
        "</entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638612548367170000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0/Subscriptions/7627c994?api-version=2021-05</id><title type=\"text\">7627c994</title><published>2024-09-06T21:27:16Z</published><updated>2024-09-06T21:27:16Z</updated><link rel=\"self\" href=\"https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0/Subscriptions/7627c994?api-version=2021-05\"/><content type=\"application/xml\"><SubscriptionDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2024-09-06T21:27:16.8484714Z</CreatedAt><UpdatedAt>2024-09-06T21:27:16.8484714Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry>"
    },
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/$Resources/topics?api-version=2021-05&enrich=False&$skip=0&$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Topics</title><id>https://sb-td99723966979f9e4.servicebus.windows.net/$Resources/topics?api-version=2021-05&amp;enrich=False&amp;$skip=0&amp;$top=100</id><updated>2024-09-06T21:27:17Z</updated><link rel=\"self\" href=\"https://sb-td99723966979f9e4.servicebus.windows.net/$Resources/topics?api-version=2021-05&amp;enrich=False&amp;$skip=0&amp;$top=100\"/><entry xml:base=\"https://sb-td99723966979f9e4.servicebus.windows.net/$Resources/topics[...]
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05&enrich=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638612548367170000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2[...]
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/gettopicruntimeinfo35b741f0?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638612548367170000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "950918782",
    "SERVICEBUS_FULLY_QUALIFIED_NAMESPACE": "https://sb-td99723966979f9e4.servicebus.windows.net:443/"
  }
}
