{
  "Entries": [
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/4952b835?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <MaxSizeInMegabytes>1024</MaxSizeInMegabytes>\r\n",
        "      <RequiresDuplicateDetection>false</RequiresDuplicateDetection>\r\n",
        "      <EnableBatchedOperations>true</EnableBatchedOperations>\r\n",
        "      <FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing>\r\n",
        "      <IsAnonymousAccessible>false</IsAnonymousAccessible>\r\n",
        "      <AuthorizationRules />\r\n",
        "      <Status>Active</Status>\r\n",
        "      <SupportOrdering>false</SupportOrdering>\r\n",
        "      <EnablePartitioning>false</EnablePartitioning>\r\n",
        "      <EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning>\r\n",
        "      <EnableExpress>false</EnableExpress>\r\n",
        "    </TopicDescription>\r\n",
        "  </content>\r\n",
        "</entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-td99723966979f9e4.servicebus.windows.net/4952b835?api-version=2021-05</id><title type=\"text\">4952b835</title><published>2024-09-06T21:27:25Z</published><updated>2024-09-06T21:27:25Z</updated><author><name>sb-td99723966979f9e4</name></author><link rel=\"self\" href=\"https://sb-td99723966979f9e4.servicebus.windows.net/4952b835?api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-06T21:27:25.017Z</CreatedAt><UpdatedAt>2024-09-06T21:27:25.047Z</UpdatedAt><SupportOrdering>false</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/4952b835/Subscriptions/9b4bd1ab?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <SubscriptionDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <LockDuration>PT1M</LockDuration>\r\n",
        "      <RequiresSession>false</RequiresSession>\r\n",
        "      <DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration>\r\n",
        "      <DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions>\r\n",
        "      <DefaultRuleDescription>\r\n",
        "        <Filter p5:type=\"TrueFilter\" xmlns:p5=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n",
        "          <SqlExpression>1=1</SqlExpression>\r\n",
        "          <Parameters />\r\n",
        "        </Filter>\r\n",
        "        <Name>$Default</Name>\r\n",
        "      </DefaultRuleDescription>\r\n",
        "      <MaxDeliveryCount>10</MaxDeliveryCount>\r\n",
        "      <EnableBatchedOperations>true</EnableBatchedOperations>\r\n",
        "      <Status>Active</Status>\r\n",
        "    </SubscriptionDescription>\r\n",
        "  </content>\r\n",
        "</entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638612548450470000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://sb-td99723966979f9e4.servicebus.windows.net/4952b835/Subscriptions/9b4bd1ab?api-version=2021-05</id><title type=\"text\">9b4bd1ab</title><published>2024-09-06T21:27:25Z</published><updated>2024-09-06T21:27:25Z</updated><link rel=\"self\" href=\"https://sb-td99723966979f9e4.servicebus.windows.net/4952b835/Subscriptions/9b4bd1ab?api-version=2021-05\"/><content type=\"application/xml\"><SubscriptionDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2024-09-06T21:27:25.5680105Z</CreatedAt><UpdatedAt>2024-09-06T21:27:25.5680105Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry>"
    },
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/4952b835/Subscriptions/9b4bd1ab/Rules/rule1?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n",
        "  <content type=\"application/xml\">\r\n",
        "    <RuleDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n",
        "      <Filter p4:type=\"SqlFilter\" xmlns:p4=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n",
        "        <SqlExpression>PROPERTY(@propertyName) = @stringPropertyValue AND PROPERTY(intProperty) = @intPropertyValue AND PROPERTY(longProperty) = @longPropertyValue AND PROPERTY(boolProperty) = @boolPropertyValue AND PROPERTY(doubleProperty) = @doublePropertyValue </SqlExpression>\r\n",
        "        <Parameters>\r\n",
        "          <KeyValueOfstringanyType>\r\n",
        "            <Key>@propertyName</Key>\r\n",
        "            <Value p4:type=\"l28:string\" xmlns:l28=\"http://www.w3.org/2001/XMLSchema\">MyProperty</Value>\r\n",
        "          </KeyValueOfstringanyType>\r\n",
        "          <KeyValueOfstringanyType>\r\n",
        "            <Key>@stringPropertyValue</Key>\r\n",
        "            <Value p4:type=\"l28:string\" xmlns:l28=\"http://www.w3.org/2001/XMLSchema\">string</Value>\r\n",
        "          </KeyValueOfstringanyType>\r\n",
        "          <KeyValueOfstringanyType>\r\n",
        "            [...]
    {
      "RequestUri": "https://sb-td99723966979f9e4.servicebus.windows.net/4952b835?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638612548450470000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "504869459",
    "SERVICEBUS_FULLY_QUALIFIED_NAMESPACE": "https://sb-td99723966979f9e4.servicebus.windows.net:443/"
  }
}
