{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/deployments?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "gpt-4o",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-08-06",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 100
            }
          },
          {
            "name": "gpt-4o-2",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-11-20",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 200
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/deployments/gpt-4o?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "name": "gpt-4o",
        "type": "ModelDeployment",
        "modelName": "gpt-4o",
        "modelVersion": "2024-08-06",
        "modelPublisher": "OpenAI",
        "capabilities": {
          "chat_completion": "true"
        },
        "sku": {
          "name": "GlobalStandard",
          "capacity": 100
        }
      }
    }
  ],
  "Variables": {}
}
