{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2-2?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2-2",
        "location": "westus2",
        "name": "avs-dotnet-test-w2-2",
        "properties": {
          "availability": {
            "strategy": "SingleZone",
            "zone": 3
          },
          "circuit": {
            "expressRouteID": "/subscriptions/ba62d1c1-e9c8-4ad1-8c25-fcf2a678ee31/resourceGroups/tnt13-cust-p02-westus2/providers/Microsoft.Network/expressRouteCircuits/tnt13-cust-p02-westus2-er",
            "expressRoutePrivatePeeringID": "/subscriptions/ba62d1c1-e9c8-4ad1-8c25-fcf2a678ee31/resourceGroups/tnt13-cust-p02-westus2/providers/Microsoft.Network/expressRouteCircuits/tnt13-cust-p02-westus2-er/peerings/AzurePrivatePeering",
            "primarySubnet": "10.0.0.232/30",
            "secondarySubnet": "10.0.0.236/30"
          },
          "dnsZoneType": "Public",
          "encryption": {
            "status": "Disabled"
          },
          "endpoints": {
            "hcxCloudManager": "https://hcx.5f64e8f50962403c8beb0e.westus2.avs.azure.com/",
            "hcxCloudManagerIp": "10.0.0.9",
            "nsxtManager": "https://nsx.5f64e8f50962403c8beb0e.westus2.avs.azure.com/",
            "nsxtManagerIp": "10.0.0.3",
            "vcenterIp": "10.0.0.2",
            "vcsa": "https://vc.5f64e8f50962403c8beb0e.westus2.avs.azure.com/"
          },
          "externalCloudLinks": [],
          "identitySources": [],
          "internet": "Disabled",
          "managementCluster": {
            "clusterId": 1,
            "clusterSize": 3,
            "displayName": "Cluster-1",
            "hosts": [
              "esx08-r01.p02.westus2.avs.azure.com",
              "esx04-r03.p02.westus2.avs.azure.com",
              "esx04-r04.p02.westus2.avs.azure.com"
            ],
            "provisioningState": "Building",
            "vsanDatastoreName": "vsanDatastore"
          },
          "managementNetwork": "10.0.0.0/26",
          "networkBlock": "10.0.0.0/22",
          "nsxPublicIpQuotaRaised": "Disabled",
          "nsxtCertificateThumbprint": "24692838E34E2EB03457E2270A25B53897BCB231",
          "provisioningNetwork": "10.0.2.0/25",
          "provisioningState": "Succeeded",
          "vcenterCertificateThumbprint": "AF9E28120D649BC64BE0C5904C62E9D92ECE7932",
          "vmotionNetwork": "10.0.1.128/25"
        },
        "sku": {
          "name": "av36"
        },
        "tags": {},
        "type": "Microsoft.AVS/privateClouds",
        "zones": [
          "3"
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2-2/clusters/Cluster-2?api-version=2024-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "AV36"
        },
        "properties": {
          "clusterSize": 3
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2-2/clusters/Cluster-2/operationstatuses/2d52bb65-4f5a-4c78-b809-99bc8785db4e?api-version=2024-09-01&t=638869301970433930&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE3MDcxODAyWhcNMjUxMDE0MDcxODAyWjBAMT4w[...]
