{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/32095390-2348-4416-a0a9-1902ae08882c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/32095390-2348-4416-a0a9-1902ae08882c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "32095390-2348-4416-a0a9-1902ae08882c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure VMware Solution - Testing Subscription (BL22ROW2 - Stage)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test",
        "location": "eastus",
        "name": "avs-sdk-test",
        "properties": {
          "availability": {
            "strategy": "SingleZone",
            "zone": 3
          },
          "circuit": {
            "expressRouteID": "/subscriptions/a0d3de03-42d0-4967-bc7d-f9812b59471f/resourceGroups/tnt10-cust-p04-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt10-cust-p04-eastus-er",
            "expressRoutePrivatePeeringID": "/subscriptions/a0d3de03-42d0-4967-bc7d-f9812b59471f/resourceGroups/tnt10-cust-p04-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt10-cust-p04-eastus-er/peerings/AzurePrivatePeering",
            "primarySubnet": "192.168.0.232/30",
            "secondarySubnet": "192.168.0.236/30"
          },
          "encryption": {
            "status": "Disabled"
          },
          "endpoints": {
            "hcxCloudManager": "https://192.168.0.9/",
            "nsxtManager": "https://192.168.0.3/",
            "vcsa": "https://192.168.0.2/"
          },
          "externalCloudLinks": [],
          "identitySources": [],
          "internet": "Disabled",
          "managementCluster": {
            "clusterId": 1,
            "clusterSize": 3,
            "hosts": [
              "esx05-r20.p04.eastus.avs.azure.com",
              "esx19-r22.p04.eastus.avs.azure.com",
              "esx08-r08.p04.eastus.avs.azure.com"
            ],
            "provisioningState": "Succeeded"
          },
          "managementNetwork": "192.168.0.0/26",
          "networkBlock": "192.168.0.0/16",
          "nsxPublicIpQuotaRaised": "Disabled",
          "nsxtCertificateThumbprint": "5D774AB04B7E6B2374C0A0EC450B175F0CC6733C",
          "provisioningNetwork": "192.168.2.0/25",
          "provisioningState": "Succeeded",
          "vcenterCertificateThumbprint": "8470345A0B7BE3089218306E8410BB1212D74E5C",
          "vmotionNetwork": "192.168.1.128/25"
        },
        "sku": {
          "name": "av36"
        },
        "tags": {
          "sdk-test": "sdk-test"
        },
        "type": "Microsoft.AVS/privateClouds"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test/clusters/Cluster-2?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "AV36"
        },
        "properties": {
          "clusterSize": 3
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test/clusters/Cluster-2/operationstatuses/be8de093-5ba5-42b1-8b5d-5aa26e9c556b?api-version=2023-03-01\u0026t=638375705051833296\u0026c=MIIHHjCCBgagAwIBAgITOgI8r7Mf_biwA5ZedQAEAjyvszANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMDk0NjIyWhcNMjQxMDI2MDk0NjIyWjBAMT4wP[...]
