{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318",
        "location": "eastus",
        "name": "avs-dotnet-test-9318",
        "properties": {
          "availability": {
            "strategy": "SingleZone",
            "zone": 2
          },
          "circuit": {
            "expressRouteID": "/subscriptions/a0d3de03-42d0-4967-bc7d-f9812b59471f/resourceGroups/tnt55-cust-p04-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt55-cust-p04-eastus-er",
            "expressRoutePrivatePeeringID": "/subscriptions/a0d3de03-42d0-4967-bc7d-f9812b59471f/resourceGroups/tnt55-cust-p04-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt55-cust-p04-eastus-er/peerings/AzurePrivatePeering",
            "primarySubnet": "10.0.0.232/30",
            "secondarySubnet": "10.0.0.236/30"
          },
          "dnsZoneType": "Public",
          "encryption": {
            "status": "Disabled"
          },
          "endpoints": {
            "hcxCloudManager": "https://hcx.05341c53709a467095ac10.eastus.avs.azure.com/",
            "hcxCloudManagerIp": "10.0.0.9",
            "nsxtManager": "https://nsx.05341c53709a467095ac10.eastus.avs.azure.com/",
            "nsxtManagerIp": "10.0.0.3",
            "vcenterIp": "10.0.0.2",
            "vcsa": "https://vc.05341c53709a467095ac10.eastus.avs.azure.com/"
          },
          "externalCloudLinks": [],
          "identitySources": [],
          "internet": "Disabled",
          "managementCluster": {
            "clusterId": 1,
            "clusterSize": 3,
            "displayName": "Cluster-1",
            "hosts": [
              "esx20-r16.p04.eastus.avs.azure.com",
              "esx08-r18.p04.eastus.avs.azure.com",
              "esx14-r20.p04.eastus.avs.azure.com"
            ],
            "provisioningState": "Succeeded",
            "vsanDatastoreName": "vsanDatastore"
          },
          "managementNetwork": "10.0.0.0/26",
          "networkBlock": "10.0.0.0/22",
          "nsxPublicIpQuotaRaised": "Disabled",
          "nsxtCertificateThumbprint": "C7FBF648EAA3B54576F243F273F3F1BA6F4B53BE",
          "provisioningNetwork": "10.0.2.0/25",
          "provisioningState": "Succeeded",
          "vcenterCertificateThumbprint": "6C329709AEC16F17F39AC8214E70F66E2FEE8B30",
          "vmotionNetwork": "10.0.1.128/25"
        },
        "sku": {
          "name": "av36"
        },
        "tags": {
          "sdk-test": "sdk-test"
        },
        "type": "Microsoft.AVS/privateClouds",
        "zones": [
          "2"
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318/clusters/Cluster-1?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318/clusters/Cluster-1",
        "name": "Cluster-1",
        "properties": {
          "clusterId": 1,
          "clusterSize": 3,
          "displayName": "Cluster-1",
          "hosts": [
            "esx20-r16.p04.eastus.avs.azure.com",
            "esx08-r18.p04.eastus.avs.azure.com",
            "esx14-r20.p04.eastus.avs.azure.com"
          ],
          "provisioningState": "Succeeded",
          "vsanDatastoreName": "vsanDatastore"
        },
        "sku": {
          "capacity": 3,
          "name": "av36"
        },
        "type": "Microsoft.AVS/privateClouds/clusters"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "508540672",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db94d92c-f9c4-4768-ae4b-83d50cea378d"
  }
}
