{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2",
        "location": "westus2",
        "name": "avs-dotnet-test-w2",
        "properties": {
          "availability": {
            "strategy": "SingleZone",
            "zone": 3
          },
          "circuit": {
            "expressRouteID": "/subscriptions/ba62d1c1-e9c8-4ad1-8c25-fcf2a678ee31/resourceGroups/tnt46-cust-p02-westus2/providers/Microsoft.Network/expressRouteCircuits/tnt46-cust-p02-westus2-er",
            "expressRoutePrivatePeeringID": "/subscriptions/ba62d1c1-e9c8-4ad1-8c25-fcf2a678ee31/resourceGroups/tnt46-cust-p02-westus2/providers/Microsoft.Network/expressRouteCircuits/tnt46-cust-p02-westus2-er/peerings/AzurePrivatePeering",
            "primarySubnet": "10.0.0.232/30",
            "secondarySubnet": "10.0.0.236/30"
          },
          "encryption": {
            "status": "Disabled"
          },
          "endpoints": {
            "hcxCloudManager": "https://hcx.f5519ceb93c64261b20b93.westus2.avs.azure.com/",
            "hcxCloudManagerIp": "10.0.0.9",
            "nsxtManager": "https://nsx.f5519ceb93c64261b20b93.westus2.avs.azure.com/",
            "nsxtManagerIp": "10.0.0.3",
            "vcenterIp": "10.0.0.2",
            "vcsa": "https://vc.f5519ceb93c64261b20b93.westus2.avs.azure.com/"
          },
          "externalCloudLinks": [],
          "identitySources": [],
          "internet": "Disabled",
          "managementCluster": {
            "clusterId": 1,
            "clusterSize": 3,
            "displayName": "Cluster-1",
            "hosts": [
              "esx01-r09.p02.westus2.avs.azure.com",
              "esx09-r19.p02.westus2.avs.azure.com",
              "esx20-r20.p02.westus2.avs.azure.com"
            ],
            "provisioningState": "Succeeded",
            "vsanDatastoreName": "vsanDatastore"
          },
          "managementNetwork": "10.0.0.0/26",
          "networkBlock": "10.0.0.0/22",
          "nsxPublicIpQuotaRaised": "Disabled",
          "nsxtCertificateThumbprint": "91CCAAA106430A937BBB82897358562B627425E2",
          "provisioningNetwork": "10.0.2.0/25",
          "provisioningState": "Succeeded",
          "vcenterCertificateThumbprint": "E3CA0FADA9A6884EABB14847687BD269E441D2A5",
          "vmotionNetwork": "10.0.1.128/25"
        },
        "sku": {
          "name": "av36"
        },
        "tags": {},
        "type": "Microsoft.AVS/privateClouds"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2/clusters/Cluster-1?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2/clusters/Cluster-1",
        "name": "Cluster-1",
        "properties": {
          "clusterId": 1,
          "clusterSize": 3,
          "displayName": "Cluster-1",
          "hosts": [
            "esx01-r09.p02.westus2.avs.azure.com",
            "esx09-r19.p02.westus2.avs.azure.com",
            "esx20-r20.p02.westus2.avs.azure.com"
          ],
          "provisioningState": "Succeeded",
          "vsanDatastoreName": "vsanDatastore"
        },
        "sku": {
          "capacity": 3,
          "name": "av36"
        },
        "type": "Microsoft.AVS/privateClouds/clusters"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1096647760",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db94d92c-f9c4-4768-ae4b-83d50cea378d"
  }
}
