{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e8a168d5-8320-e12d-1b5e-56fff090383c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:38:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86796E404F58\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:38:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e8a168d5-8320-e12d-1b5e-56fff090383c/test-file-498f9af6-15a5-5c5f-f0fa-75d279771b31?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:38:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86796E6FF908\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:38:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e8a168d5-8320-e12d-1b5e-56fff090383c/test-file-498f9af6-15a5-5c5f-f0fa-75d279771b31?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:38:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "z4quAQ/QZakECd7Jr21xXFCKvytZRSY7jyR23CJ+A6hUmDqqZ/xwJjTmRJs3lq2CiBmC77fv14pjc3HrWYmHhgU1dRYzx/RTGZn3cwCKA/l29FQI+xTxZMCvR/OLhMyrXr6WAiGWT8EkL9Ue+GOK2G94dGU1forxRBBWg4AAyJTMTBVB9AHX4KWT5Mw/0mtcJW6EEhBndeA0pb4QQMtBI2dAUaxOSeRuoJTAopm9sXGl+l4RfLWEZdY0DE9Cx6DZUsFl/oC/DduJFXJ8p9NGdvNMa0VtL6axu+zVGTyVLNn05lDYWLLw5eyCh2dDCL4D7pVb9VtaayIas0OU6fOe9OmYh8CDbR5AW4ZZ66c/brMt0iunOTZ+mnstvqRvXPv445J+qoD+f4F3G5rVAIB720WPZxbI97uzGu1FVa950P+KYAcUwMMyL1KpLx6cqJn6suJf4PTkMOvXy5CSuSrS/UqaS594ZhqCXDjDHsidF3FUSqPMGvAKpTAcPfUyn3Yo1zLTAV35gkvI3YO8IBEjObMfPm6GBeJZj6VvXCkkT7zBm0eVyRUTW8dXBD1tToQf+QNBE2EHotFPenK3iiYho43G+oXKjXCeC+OmLwGk60AhUGIm4zxbuvl1Rk+iW9GhNWCwp1P+VWuTowd+YHLPqo4xljnD+8BQakCMVEch+68=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e8a168d5-8320-e12d-1b5e-56fff090383c/test-file-498f9af6-15a5-5c5f-f0fa-75d279771b31?action=flush&position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86796E6FF908\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:38:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86796EAC41C4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:38:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e8a168d5-8320-e12d-1b5e-56fff090383c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:38:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2121856303",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
