{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/pending?api-version=7.5&request_id=a7259f6ee3494741850341035b293587",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEE7Z3IyLSFDmQjk6Ofzeq/OAeyorQaLwqiJbqa9CvtvQgEeTR7xmpd5xQf8+xjVE0Sj8IVWQf9MbZlY3HrpiKXaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIQCK45DZV3chishZCMXaHZhVTHLnqdbzBNGq4V9jASaRLwIgfal+9MGhJSsp/IRK7vD+1iy4KnprUG3XtutO6k5L+cQ=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "a7259f6ee3494741850341035b293587"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEE7Z3IyLSFDmQjk6Ofzeq/OAeyorQaLwqiJbqa9CvtvQgEeTR7xmpd5xQf8+xjVE0Sj8IVWQf9MbZlY3HrpiKXaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIQCK45DZV3chishZCMXaHZhVTHLnqdbzBNGq4V9jASaRLwIgfal+9MGhJSsp/IRK7vD+1iy4KnprUG3XtutO6k5L+cQ=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "a7259f6ee3494741850341035b293587"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEE7Z3IyLSFDmQjk6Ofzeq/OAeyorQaLwqiJbqa9CvtvQgEeTR7xmpd5xQf8+xjVE0Sj8IVWQf9MbZlY3HrpiKXaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIQCK45DZV3chishZCMXaHZhVTHLnqdbzBNGq4V9jASaRLwIgfal+9MGhJSsp/IRK7vD+1iy4KnprUG3XtutO6k5L+cQ=",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013",
        "request_id": "a7259f6ee3494741850341035b293587"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/eb2cffa5c648472c90273d0148dfe98d",
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/893616013/eb2cffa5c648472c90273d0148dfe98d",
        "sid": "https://tb0f745ebb7bfae58.vault.azure.net/secrets/893616013/eb2cffa5c648472c90273d0148dfe98d",
        "x5t": "7mR0FL2saeRABwYUjTOBJWxOzYk",
        "cer": "MIIBnTCCAUSgAwIBAgIQc5KfJrQaQIquhA+y5KQ/CTAKBggqhkjOPQQDAjASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTI1MDExNDIyMjAwM1oXDTI2MDExNDIyMzAwM1owEjEQMA4GA1UEAxMHZGVmYXVsdDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABBO2dyMi0hQ5kI5Ojn83qvzgHsqK0Gi8KoiW6mvQr7b0IBHk0e8ZqXecUH/PsY1RNEo/CFVkH/TG2ZWNx66Yil2jfDB6MA4GA1UdDwEB/wQEAwIHgDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBRfAbHS3L672aeT46VKjLy5Zj2sDzAdBgNVHQ4EFgQUXwGx0ty+u9mnk+OlSoy8uWY9rA8wCgYIKoZIzj0EAwIDRwAwRAIgazfFk7UiVy46UrcoWwikAsqdgFXfjTbIA1T4wCC3PpMCIB6REqbcl1UsKvq3MpOrh8E/itICRSCOHQ7xoR7M/yFn",
        "attributes": {
          "enabled": true,
          "nbf": 1736893203,
          "exp": 1768429803,
          "created": 1736893803,
          "updated": 1736893803,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1736893802,
            "updated": 1736893802
          }
        },
        "pending": {
          "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/pending"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/893616013/eb2cffa5c648472c90273d0148dfe98d?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/893616013/eb2cffa5c648472c90273d0148dfe98d?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/893616013/eb2cffa5c648472c90273d0148dfe98d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "E7Z3IyLSFDmQjk6Ofzeq_OAeyorQaLwqiJbqa9CvtvQ",
          "y": "IBHk0e8ZqXecUH_PsY1RNEo_CFVkH_TG2ZWNx66Yil0"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1736893203,
          "exp": 1768429803,
          "created": 1736893803,
          "updated": 1736893803,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "hsmPlatform": "0"
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/893616013/eb2cffa5c648472c90273d0148dfe98d/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "9gVMTJCorB60x7_u3H3Fj42tFhj6skFV-3Qz_-WJ0g0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/893616013/eb2cffa5c648472c90273d0148dfe98d",
        "value": "dBJySMqPLgZllX554g497yD8FppcJs-91owaEfjkdxO8-5K28qgBdTeVq48ELrRJnu6iPg9R4RvR0hvt0Ol_sQ"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/eb2cffa5c648472c90273d0148dfe98d?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/893616013/eb2cf[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/secrets/893616013/eb2cffa5c648472c90273d0148dfe98d?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "-----BEGIN PRIVATE KEY-----\nMIGiAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwI[...]
