{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/595231511/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/595231511/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://externalkeysdk.vault.azure.net/certificates/595231511/pending?api-version=2025-07-01&request_id=9c43daa20ce94651bc92e0ea1f87c11d",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://externalkeysdk.vault.azure.net/certificates/595231511/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEeXoM0j00pBBxIyF/DfjwTTBnyIUKJZFhAS+xYZn6RxzHBmWkKJ7vT9ppElxF98uDB0JO3scOw4oBnsFpZXAgiqBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIQClOG6j1v7+AJTXVSI8fhc19PIWb49Yxi9bxquxKaO2ggIgCPNcgIUdQKiaeq4VervjApOwggwBNCHRHrrsFiorwXI=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "9c43daa20ce94651bc92e0ea1f87c11d"
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/595231511/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id"[...]
