{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1187299617/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1187299617/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://joncarde-kv.vault.azure.net/certificates/1187299617/pending?api-version=2025-07-01&request_id=b95d276af2a34926bf2a9b261d3aac95",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://joncarde-kv.vault.azure.net/certificates/1187299617/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGTCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEOdggEw9zw/f4PgYgq6cFZytJPfXVP5E1SU2fG2vyZtSQNR0qTK8DQl7l5fX3UznkNaTbEe/IyLcHfAmge+hy/aBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0kAMEYCIQCF7GuHPRr+xiy8t83oRoN5ACVRxXv2OhKgfLEbNLarVQIhAPn/ZjFuNB5iQBRq/Jyv8VHoHGmWgzQzoLi08HVk+Y9V",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "b95d276af2a34926bf2a9b261d3aac95"
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1187299617/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },[...]
