{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/1556024090/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/1556024090/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tc01f7546f76b53e9.vault.azure.net/certificates/1556024090/pending?api-version=2025-06-01-preview&request_id=e6b2b4bac8d548e1b40a9cc61246433a",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tc01f7546f76b53e9.vault.azure.net/certificates/1556024090/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVTCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAE+Rr4KVEW7w7WIQZXl20K3CL0waFgFpUR0dfLyNaHvQFaEA99XrjKQ4CPlUXxNOVBuazOCArKVCoUIK4IFBqRSON5G0P3dMhOYdDJNyXOoyUFaaQQkFgoxS/rKcCNjNA7oEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDaAAwZQIwWxwBonO+6BtR4Ad2RS3Rxi4NkkDQpB78tDkATQTGTpUgnN+z3CQqJQWvtglfcKjrAjEAz24nOTdmS8E71LC2GJCKWGJuGJ+U8epTYoA3nwpCvgautycZCMlef+AClBeeBk75",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "e6b2b4bac8d548e1b40a9cc61246433a"
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/1556024090/pending?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
[...]
