{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1530427430/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1530427430/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://joncarde-kv.vault.azure.net/certificates/1530427430/pending?api-version=2025-07-01&request_id=931da6a7f6454bd9a1a45b10bf65dbac",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://joncarde-kv.vault.azure.net/certificates/1530427430/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVTCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAE+c/puAbIa9sU5Qpoyn0BSJ2PcdNsP9hfI8mWf1vAA4Dta1b/JbmoMfV/r96jDsnfIxrMncK7RzigMyRf1RF+F6yZElgp+Ht11bUYju7NtryvIcgizB0BiSCig/OlODlGoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDaAAwZQIwOwLLowKmbhOtLm045jPWyJV6Lp3peT5fo+04I4J5vv//UI++EiITTDxZn3Qz9iCXAjEAt8MfXm1EYibt6OM24T6c+WP0NNJiCg7Xbr9ggIbI3e5ZAyP54OOifHhaZ8aBQe18",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "931da6a7f6454bd9a1a45b10bf65dbac"
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1530427430/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },[...]
