{
  "Entries": [
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/135185024/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/135185024/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://taca1f881381e79ad.vault.azure.net/certificates/135185024/pending?api-version=2025-07-01&request_id=7b5467efee3f4b729ad936420a40cf9b",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://taca1f881381e79ad.vault.azure.net/certificates/135185024/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEj6NeaSbOWm7E3enB+v43by02MFRBMrcaxJ5xJGo8RnMgRaSftCcwot/INbiwZMW58tCv22O+UVZuZEQDOsaTyKBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIH3C/ghLtoORPv8JnEi7f2V0KbvPzAph0UXszIJ+yLLxAiEA48nlDk0jesR5tjduF0QbHfEJYNXqgKiYCJjckCBGY3w=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "7b5467efee3f4b729ad936420a40cf9b"
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/135185024/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "[...]
