{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/1735767193/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/1735767193/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://externalkeysdk.vault.azure.net/certificates/1735767193/pending?api-version=2025-07-01&request_id=750baf6f6ec847f9b0e488a8e5e81e73",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://externalkeysdk.vault.azure.net/certificates/1735767193/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBFzCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE72wO0UNLS05E6uukR3ceWZ/F4ZrXOis86iMTLX9SoP9EnlzsXacdrmHk0JkGGAWba/j3TTeepBvyKnPk5d3FrKBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0cAMEQCIDbEFinf23R77LyzE7Kcpf9h2xrawxFvVdjaoFDCQ3EgAiAl58dIARpbo7AsNsJmnMu3Mfo6Npv0hJzdG96T9Jtz2g==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "750baf6f6ec847f9b0e488a8e5e81e73"
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/1735767193/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id[...]
