{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/1989487324/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/1989487324/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://t8c2fe6801937008f.vault.azure.net/certificates/1989487324/pending?api-version=2025-07-01&request_id=ef04847010a043a6a3a992a1dbe02dff",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://t8c2fe6801937008f.vault.azure.net/certificates/1989487324/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVTCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAERjy1tcpvmVo4nff0xEAZyfqHTh381zDANE8hVs0HlwShQCZCahKj9TLX85nks1tBX/fur4hySj/1US0O9y8IzTZQ5Pc3DsWj+U5bmFPHWCzQKFXkItanADnZ+FlXSqM0oEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDaAAwZQIxAL8nf3T6A/yZRYKdQqosdEkB/Q879m5QHS+h+lrJkCRSWH7y6ZplB3UhBJ100Ul89QIwcu2KIeiIDhwjk7nTnldyPNFyNmWR1LIFhX0rZUEfCq4OS1MfzEdd08LW63xIMtrV",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "ef04847010a043a6a3a992a1dbe02dff"
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/1989487324/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        [...]
