{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/947094248/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/947094248/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tc01f7546f76b53e9.vault.azure.net/certificates/947094248/pending?api-version=7.6&request_id=605665d6394f4287955cd48f1a9df496",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tc01f7546f76b53e9.vault.azure.net/certificates/947094248/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVDCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEKF05/SkcCpzk64uvsC8S1z9nbUM7htF6aB4H3/rKw0N1ZR3BbMpYMank1uxWuFPb4il8skCV3L62/JD1gYIKm+syCnSkayAPzqjjOgyX4hRsHig4VhJBIpbt7bOZmLIKoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDZwAwZAIwGlP3EyM/PyyxuvLocw4ohUR5LOhQR3UjZJCydgA80kZkr7sS9Btf5U9cfaX+U93bAjAF6X4DQkEObbg7GOnkBGoV8h9byrEhsv3MBLwEfowiAdxOPj92L4HFGvp9M4thQn4=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "605665d6394f4287955cd48f1a9df496"
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/947094248/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "h[...]
