{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/pending?api-version=7.5\u0026request_id=d904a351cfa041d8a49430432db229ae",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGTCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAESDRscTfUFm0xTwZ04NJmWeigAHBSzjvjTdv6SNRGY3DPfpwkqjc\u002B9G6qQ64/OCnCeW77BVyVByKGaGp/JrvYCKBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0kAMEYCIQC\u002BIRftXvrhXF7148E1TmsdiHjMBdFN5DpZEO4DlX2DtwIhAIMNeuci9/Sg1Sd0c5MbIfPF3jeRxyxISVCh\u002BGZXs9N3",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "d904a351cfa041d8a49430432db229ae"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGTCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAESDRscTfUFm0xTwZ04NJmWeigAHBSzjvjTdv6SNRGY3DPfpwkqjc\u002B9G6qQ64/OCnCeW77BVyVByKGaGp/JrvYCKBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0kAMEYCIQC\u002BIRftXvrhXF7148E1TmsdiHjMBdFN5DpZEO4DlX2DtwIhAIMNeuci9/Sg1Sd0c5MbIfPF3jeRxyxISVCh\u002BGZXs9N3",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "d904a351cfa041d8a49430432db229ae"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGTCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAESDRscTfUFm0xTwZ04NJmWeigAHBSzjvjTdv6SNRGY3DPfpwkqjc\u002B9G6qQ64/OCnCeW77BVyVByKGaGp/JrvYCKBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0kAMEYCIQC\u002BIRftXvrhXF7148E1TmsdiHjMBdFN5DpZEO4DlX2DtwIhAIMNeuci9/Sg1Sd0c5MbIfPF3jeRxyxISVCh\u002BGZXs9N3",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458",
        "request_id": "d904a351cfa041d8a49430432db229ae"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/56bb689e8ac84345a658e0d448c070ad",
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/460494458/56bb689e8ac84345a658e0d448c070ad",
        "sid": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/460494458/56bb689e8ac84345a658e0d448c070ad",
        "x5t": "x-r4jfMCO2_02BUJnB2LXoaiZsY",
        "cer": "MIIBnzCCAUSgAwIBAgIQK4sETFeuTuyYVKtRauhUCzAKBggqhkjOPQQDAjASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTI0MDIxMDAxNDkxMloXDTI1MDIxMDAxNTkxMlowEjEQMA4GA1UEAxMHZGVmYXVsdDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABEg0bHE31BZtMU8GdODSZlnooABwUs47403b\u002BkjURmNwz36cJKo3PvRuqkOuPzgpwnlu\u002BwVclQcihmhqfya72AijfDB6MA4GA1UdDwEB/wQEAwIHgDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBRd9\u002BiopIJ1f6jHGlzrQmwf\u002BonPBjAdBgNVHQ4EFgQUXffoqKSCdX\u002Boxxpc60JsH/qJzwYwCgYIKoZIzj0EAwIDSQAwRgIhAIAEP5xtRBY/XthmYZfhft/uz5H\u002BbXekSPt2ESoH6039AiEA53GTgeKG/nJr9QB5vfQ2L7W3JBpoMQL6qY/348l\u002BvOs=",
        "attributes": {
          "enabled": true,
          "nbf": 1707529752,
          "exp": 1739152752,
          "created": 1707530352,
          "updated": 1707530352,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1707530351,
            "updated": 1707530351
          }
        },
        "pending": {
          "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/pending"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/460494458/56bb689e8ac84345a658e0d448c070ad?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/460494458/56bb689e8ac84345a658e0d448c070ad?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/460494458/56bb689e8ac84345a658e0d448c070ad",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "SDRscTfUFm0xTwZ04NJmWeigAHBSzjvjTdv6SNRGY3A",
          "y": "z36cJKo3PvRuqkOuPzgpwnlu-wVclQcihmhqfya72Ag"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1707529752,
          "exp": 1739152752,
          "created": 1707530352,
          "updated": 1707530352,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "hsmPlatform": "0"
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/460494458/56bb689e8ac84345a658e0d448c070ad/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "9gVMTJCorB60x7_u3H3Fj42tFhj6skFV-3Qz_-WJ0g0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/460494458/56bb689e8ac84345a658e0d448c070ad",
        "value": "54LH-Aq3kYgdgSyE---7132633h9cdz6zDofTqONKK7IruK5qLBuCYD5LjforiIWeZXv43J8fDYo3OamP0gpig"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/56bb689e8ac84345a658e0d448c070ad?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/460494458/56bb6[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/460494458/56bb689e8ac84345a658e0d448c070ad?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "-----BEGIN PRIVATE KEY-----\nMIGiAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwI[...]
