{
  "Entries": [
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/942209759/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/942209759/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://taca1f881381e79ad.vault.azure.net/certificates/942209759/pending?api-version=2025-07-01&request_id=f7f4711806ad46d3a6553fb425de25b8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://taca1f881381e79ad.vault.azure.net/certificates/942209759/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVjCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEWhvUXo3WjO3UlntDH+1hu985R1ilIT8Ix59akHlUWG79umbcyx04jJHcBx7EgPsd6KzifvfJl5ZhznTKD0TGigzeEbLKF3PgTMW+x470YK5j+wLrwDjVGHP+A9pswCXroEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDaQAwZgIxAIumsTlyjiWC1JbQkdnG35zVPUBnEQHML+eCV1GXc/JEK1XtyRSLVYKT6mboeZdQfgIxALYV5jbfFP5lV9NJvvisEkxO2pslDdvQsGSmhRSfjSq2Ugof6/rH5MUcIFaHBTgVuA==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "f7f4711806ad46d3a6553fb425de25b8"
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/942209759/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "[...]
