{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/pending?api-version=7.6-preview.2&request_id=54738a52b09b46c8b4f6ac4d95942c3c",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEXUnvGQ+V6RuSIwZb6h3nbUKq2tXtArYV2MBfgB88vbbLsQQ3Cybb1WN1VD4er2EHuCynvYOG7+qvqverydXVvaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIQD5j19mm+LrIoRo2t73Dd/dDA0wTbNIofYtCX6ctlmf9gIgah4nPxzfzQ1jr1EY2hb21p7/xcGBx6FiMTm24hC+mX8=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "54738a52b09b46c8b4f6ac4d95942c3c"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEXUnvGQ+V6RuSIwZb6h3nbUKq2tXtArYV2MBfgB88vbbLsQQ3Cybb1WN1VD4er2EHuCynvYOG7+qvqverydXVvaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIQD5j19mm+LrIoRo2t73Dd/dDA0wTbNIofYtCX6ctlmf9gIgah4nPxzfzQ1jr1EY2hb21p7/xcGBx6FiMTm24hC+mX8=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "54738a52b09b46c8b4f6ac4d95942c3c"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEXUnvGQ+V6RuSIwZb6h3nbUKq2tXtArYV2MBfgB88vbbLsQQ3Cybb1WN1VD4er2EHuCynvYOG7+qvqverydXVvaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIQD5j19mm+LrIoRo2t73Dd/dDA0wTbNIofYtCX6ctlmf9gIgah4nPxzfzQ1jr1EY2hb21p7/xcGBx6FiMTm24hC+mX8=",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168",
        "request_id": "54738a52b09b46c8b4f6ac4d95942c3c"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/49ac78495a654587ad6a280e4907fc06",
        "kid": "https://rgjoncardekv1058.vault.azure.net/keys/182508168/49ac78495a654587ad6a280e4907fc06",
        "sid": "https://rgjoncardekv1058.vault.azure.net/secrets/182508168/49ac78495a654587ad6a280e4907fc06",
        "x5t": "dIm-FIV96NsPButk8zpgrAz5IHE",
        "cer": "MIIBnTCCAUSgAwIBAgIQf+pG8uIgTMSmrrbDfPtDtDAKBggqhkjOPQQDAjASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTI1MDMxMzIxNTgwN1oXDTI2MDMxMzIyMDgwN1owEjEQMA4GA1UEAxMHZGVmYXVsdDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABF1J7xkPlekbkiMGW+od521CqtrV7QK2FdjAX4AfPL22y7EENwsm29VjdVQ+Hq9hB7gsp72Dhu/qr6r3q8nV1b2jfDB6MA4GA1UdDwEB/wQEAwIHgDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBSeNUWNxzdaLmG1pvY1rTdJ49IbhDAdBgNVHQ4EFgQUnjVFjcc3Wi5htab2Na03SePSG4QwCgYIKoZIzj0EAwIDRwAwRAIgXT6O7f75deGrAtjb9539SBNW4Msp6NheBeCyuv7ILlECIFmS3xoNNk1BKXJKCL/hjpncBsX4wi8wG/zjahsvEoO1",
        "attributes": {
          "enabled": true,
          "nbf": 1741903087,
          "exp": 1773439687,
          "created": 1741903687,
          "updated": 1741903687,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1741903685,
            "updated": 1741903685
          }
        },
        "pending": {
          "id": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/pending"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/keys/182508168/49ac78495a654587ad6a280e4907fc06?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/keys/182508168/49ac78495a654587ad6a280e4907fc06?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv1058.vault.azure.net/keys/182508168/49ac78495a654587ad6a280e4907fc06",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "XUnvGQ-V6RuSIwZb6h3nbUKq2tXtArYV2MBfgB88vbY",
          "y": "y7EENwsm29VjdVQ-Hq9hB7gsp72Dhu_qr6r3q8nV1b0"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1741903087,
          "exp": 1773439687,
          "created": 1741903687,
          "updated": 1741903687,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "hsmPlatform": "0"
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/keys/182508168/49ac78495a654587ad6a280e4907fc06/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "9gVMTJCorB60x7_u3H3Fj42tFhj6skFV-3Qz_-WJ0g0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv1058.vault.azure.net/keys/182508168/49ac78495a654587ad6a280e4907fc06",
        "value": "ZuOxlOPVpjgs7kEz8P-ehAkA7BAFhEBi8tmQsB1oAizYCWXmsTlzvNqWxMz-tQJydalWjYOnJ5gnoebepEZqCA"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/182508168/49ac78495a654587ad6a280e4907fc06?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/certificates/1825081[...]
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/secrets/182508168/49ac78495a654587ad6a280e4907fc06?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/secrets/182508168/49ac784[...]
