{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/1222752512/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/1222752512/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://externalkeysdk.vault.azure.net/certificates/1222752512/pending?api-version=2025-07-01&request_id=362a5839c21d4a9487e17dc6da70c3d8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://externalkeysdk.vault.azure.net/certificates/1222752512/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBFzCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEnwZkWeugcFfrVEoFP6ILpIF5CrsQQrrEphf28Y0cbtd6rfGdxOQUuOKLQZmrokq/CMUOM4MUSyw4KE2iOlP8bqBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0cAMEQCICk8HUKtONdgZN5SkG5z1S9TDVimTeotYWBrkR1LB+gpAiAvAfp324CPI8fxIXtk7UMu9+sAyMTnxnPjdOfLQwxIWQ==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "362a5839c21d4a9487e17dc6da70c3d8"
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/1222752512/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id[...]
