{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/2075222278/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/2075222278/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://externalkeysdk.vault.azure.net/certificates/2075222278/pending?api-version=2025-07-01&request_id=5a00bab39d704994ac9bc4421ef16f47",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://externalkeysdk.vault.azure.net/certificates/2075222278/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVTCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEPOhxYzpzUrzkDaHMOEe9/S0FvqqWZYwO79GwUzKrwSgJrzBWmIKO5EgsPSASAR4UYevmN3SkKMPgKptaOgdUSMppnUlbivDNvPiipadlVfF/7+WN82NrF5oz/eC8e52BoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDaAAwZQIxAJLha4xadiGzg/qETA35Off/K0EWCznQ+v/Gif2olnkIhpaL3i2xAAjY5mpF/XO18QIwbpqEnoSZ1MFH48OmOWG1SqMXtsiNWaBMIjZyZjQuk+5RJNWZNPGQnPQFIGerbYhb",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "5a00bab39d704994ac9bc4421ef16f47"
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/2075222278/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id[...]
