{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/pending?api-version=7.5\u0026request_id=45e59836640a4cbbbe531f2ce4b392f0",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGTCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEsUzbQ8h2eJkLGj\u002B5uDinKq2dIFMUl\u002BtcLuvjRTzHiPV0NernxtfDakB45pN27nz6ZT9Bws3M\u002BUfWSD/RnXJogaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0kAMEYCIQCRjcSEjmdSJbnSeMjO\u002B/3/0q5gv6Xm4QEHKJgfX5E0KQIhALLV1UTKf/OnNnql17zvhaXhwQEkryFVn\u002BpNnSDkiiFG",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "45e59836640a4cbbbe531f2ce4b392f0"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGTCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEsUzbQ8h2eJkLGj\u002B5uDinKq2dIFMUl\u002BtcLuvjRTzHiPV0NernxtfDakB45pN27nz6ZT9Bws3M\u002BUfWSD/RnXJogaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0kAMEYCIQCRjcSEjmdSJbnSeMjO\u002B/3/0q5gv6Xm4QEHKJgfX5E0KQIhALLV1UTKf/OnNnql17zvhaXhwQEkryFVn\u002BpNnSDkiiFG",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "45e59836640a4cbbbe531f2ce4b392f0"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGTCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEsUzbQ8h2eJkLGj\u002B5uDinKq2dIFMUl\u002BtcLuvjRTzHiPV0NernxtfDakB45pN27nz6ZT9Bws3M\u002BUfWSD/RnXJogaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0kAMEYCIQCRjcSEjmdSJbnSeMjO\u002B/3/0q5gv6Xm4QEHKJgfX5E0KQIhALLV1UTKf/OnNnql17zvhaXhwQEkryFVn\u002BpNnSDkiiFG",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774",
        "request_id": "45e59836640a4cbbbe531f2ce4b392f0"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/1f62024ff0064b1f875818188206b7b6",
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1383751774/1f62024ff0064b1f875818188206b7b6",
        "sid": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1383751774/1f62024ff0064b1f875818188206b7b6",
        "x5t": "PMJmpyS_WeNlY7rNWxzrXzKzE_4",
        "cer": "MIIBnTCCAUSgAwIBAgIQLPzvsZzNTkSA0T9PACBunDAKBggqhkjOPQQDAjASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTI0MDIxMDAxNDE0M1oXDTI1MDIxMDAxNTE0M1owEjEQMA4GA1UEAxMHZGVmYXVsdDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABLFM20PIdniZCxo/ubg4pyqtnSBTFJfrXC7r40U8x4j1dDXq58bXw2pAeOaTdu58\u002BmU/QcLNzPlH1kg/0Z1yaIGjfDB6MA4GA1UdDwEB/wQEAwIHgDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBQa70ynDr8zsz6q6bXY7/dOgZgUljAdBgNVHQ4EFgQUGu9Mpw6/M7M\u002Bqum12O/3ToGYFJYwCgYIKoZIzj0EAwIDRwAwRAIgVKZYP869xzbrtV/Wk1nzj73hOoFCSo1yOcUFFv/PnVoCIFp\u002BGO82oPSfWCL57TnCHc1N\u002B8JGu9B3OhOh\u002BepDpYTo",
        "attributes": {
          "enabled": true,
          "nbf": 1707529303,
          "exp": 1739152303,
          "created": 1707529904,
          "updated": 1707529904,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1707529903,
            "updated": 1707529903
          }
        },
        "pending": {
          "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/pending"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1383751774/1f62024ff0064b1f875818188206b7b6?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1383751774/1f62024ff0064b1f875818188206b7b6?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1383751774/1f62024ff0064b1f875818188206b7b6",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "sUzbQ8h2eJkLGj-5uDinKq2dIFMUl-tcLuvjRTzHiPU",
          "y": "dDXq58bXw2pAeOaTdu58-mU_QcLNzPlH1kg_0Z1yaIE"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1707529303,
          "exp": 1739152303,
          "created": 1707529904,
          "updated": 1707529904,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "hsmPlatform": "0"
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1383751774/1f62024ff0064b1f875818188206b7b6/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "9gVMTJCorB60x7_u3H3Fj42tFhj6skFV-3Qz_-WJ0g0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1383751774/1f62024ff0064b1f875818188206b7b6",
        "value": "7F4cqfEj3NgCbuiR2dE1HyDDNcxFIR5NEBAXf15KsZnnNiuxZqWJ9YgLhNXJTXCQreQDrWiVp7rkMGR6ih_Oaw"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/1f62024ff0064b1f875818188206b7b6?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/1383751774/1f6[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1383751774/1f62024ff0064b1f875818188206b7b6?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "-----BEGIN PRIVATE KEY-----\nMIGiAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdw[...]
