{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/346509352/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/346509352/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tc01f7546f76b53e9.vault.azure.net/certificates/346509352/pending?api-version=2025-06-01-preview&request_id=e07a7f27563048b7ab15c71adb8da1c7",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tc01f7546f76b53e9.vault.azure.net/certificates/346509352/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVDCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEkmfGFBusDyVvSlzs+I/OFKWyrdK3oegvZVuKL2wHqEaF+zeNGzSBAd1iYypWt6DmGVCVpED7oVW4Thhcvu2oqWJTS1v8DyYT+iPW3l/DfBiV+0KJ/YkM1JX1F/4ROKYpoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDZwAwZAIwf5NZyJTA43z5cbohDfeRKdXdaAOEuoimv/MANzZ8I2ui7/KHMJzB/SGD6XeTlOs5AjBO9dKdZqh/awYbp6Ot+efI7zXyGSTN+78tjC6B4BSNeWQ6AMUtX6Qu0qmW8Uhn+rw=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "e07a7f27563048b7ab15c71adb8da1c7"
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/346509352/pending?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
 [...]
