{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1895609249/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1895609249/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://joncarde-kv.vault.azure.net/certificates/1895609249/pending?api-version=2025-07-01&request_id=a56948d4a9094f0988bfb0e6fa7cca28",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://joncarde-kv.vault.azure.net/certificates/1895609249/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEs98agDU5kXIPRKGuXRxKCPEEYkWVgdZmTjPDbhCSUnHvrAPlh1S9wbj+3up4wgQ3mT5q8QKBaYGN91KMHEf2HaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIHlL4hGlyRMuEqbYtqT2qzGTqxBvU4mSo42ucibrnwJJAiEAt/I0hdAemnZXJechxH92f1cAl3LpIBAqqhGMmZf6X4E=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "a56948d4a9094f0988bfb0e6fa7cca28"
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/1895609249/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },[...]
