{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/pending?api-version=2025-06-01-preview&request_id=ca063c7c018d47d887f6d76c883042b9",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/pending",
        "issuer": {
          "name": "Unknown"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK7XyblFU6D0rFYd9iv+qbwlx7lbgF5wHst+6vcr/cgLQk6VS6U4Z2dUD6QIKBdFjvOvPr6BtddhWUiYgVsq5g9Y2JbDMzTnygT3Ncnihg+G4ucgR3TWnSAuZqqE6gE3dZJJwtgo1x7ErptPDjiEPbfdKESbvBQCwPSWIZhx9LC1qXCL/D91uNA6FgCTSvozSuD1iwuwnDhiccn0286+LROGgaayn0MxpGcQ+1uh5I3LVglWlcBuiptxUGNBK5Tl4WEi5o3tQYZ8gikWVMckfyCq99/XJ3C0bgFVcQ9JatiRmn2Bejwaq3XQ4mbrVNhD7tZC/0JAR0oZJ2uJ0r4tLZ0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBRBTvr+9GCaiNP/qHyEUDjAhLSRwA0u4BWxji8D4c+qNlAfLWDa37ASBcJx/gmMB+OXIwsDOeDcSOR6LeI39moUhfxP/uRL0TksGKHfJgLfDQ2TAWKt9G4Ld/ty9ddVl3ahEyC6QtCiHdm8rj4vipyhyr5WVIM918z1ygnDObYDnYAcCDaJLL4qlgODYzf9DDJxF0mv5jxX1eK/f9s4GBpI+akgt4wR5QSaaWbq4WILb0Qss2ieJFh784bmW0cnbx1AXGjTvICBMA51QGbgNllxGS3yyHj81wToDb9OmjvkHfd2nlV+wVQXipYV4Hl9XAqrUqLwPM7mqpziFZM+i8z",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Please Perform Merge to complete the request.",
        "request_id": "ca063c7c018d47d887f6d76c883042b9"
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/0e61c80f74b14420bfd6d92c21df2c3b",
        "attributes": {
          "enabled": false,
          "nbf": 1756931368,
          "exp": 1788467968,
          "created": 1756931968,
          "updated": 1756931968,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "cRLSign",
              "dataEncipherment",
              "digitalSignature",
              "keyAgreement",
              "keyCertSign",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          },
          "attributes": {
            "enabled": true,
            "created": 1756931968,
            "updated": 1756931968
          }
        },
        "pending": {
          "id": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/pending"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/0e61c80f74b14420bfd6d92c21df2c3b?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tc01f7546f76b53e9.vault.azure.net/certificates/141184607/0e61c80f74b14420bfd6d92c21df2c3b",
        "attributes": {
          "enabled": false,
          "nbf": 1756931368,
          "exp": 1788467968,
          "created": 1756931968,
          "updated": 1756931968,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tc01f7546f76b53e9.vault.azure.net/",
    "RandomSeed": "924825274"
  }
}
