{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/issuers/1348503869?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/issuers/1348503869?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "ssladmin"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://t8c2fe6801937008f.vault.azure.net/certificates/issuers/1348503869",
        "provider": "ssladmin",
        "attributes": {
          "enabled": true,
          "created": 1759168587,
          "updated": 1759168587
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/issuers/1348503869?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "onecert"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://t8c2fe6801937008f.vault.azure.net/certificates/issuers/1348503869",
        "provider": "onecert",
        "attributes": {
          "enabled": true,
          "created": 1759168587,
          "updated": 1759168587
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t8c2fe6801937008f.vault.azure.net/",
    "RandomSeed": "1692288727"
  }
}
