{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/issuers/383885964?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/issuers/383885964?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "ssladmin"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://externalkeysdk.vault.azure.net/certificates/issuers/383885964",
        "provider": "ssladmin",
        "attributes": {
          "enabled": true,
          "created": 1780420493,
          "updated": 1780420493
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/issuers/743138897?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "onecert"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://externalkeysdk.vault.azure.net/certificates/issuers/743138897",
        "provider": "onecert",
        "attributes": {
          "enabled": true,
          "created": 1780420493,
          "updated": 1780420493
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/certificates/issuers/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://externalkeysdk.vault.azure.net/certificates/issuers/383885964",
            "provider": "ssladmin"
          },
          {
            "id": "https://externalkeysdk.vault.azure.net/certificates/issuers/743138897",
            "provider": "onecert"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "62169138"
  }
}
