{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/pending?api-version=7.6&request_id=289728eedb1c4752abe1ad9f3f54ce1d",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/pending",
        "issuer": {
          "name": "Unknown"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKFKlViJmefm9Y1EdXJd2CqyqF2v7qU4vbZyBzz7ddhjkTkz5yec7RMs7OQ6QzjpiRtuOnQ/1RngXqyLqKbsg1hE1Mj/j8DD0+c+hEwH4vI70xijXfGjhhUoTKDI+3eK/fc++D/L0W+4XJEdiAynAgsZ99WkF8MkmXvSRAAUD+p2JZiMDhhve8PfxLvmsujQQVXfUctdAH2dnWYNFM+EYoLuUFmY+RXemW8uDodootMLIcdHrJk/rVvfXpmn+ZNJLFPnmqcC8aez85g/3lx5YhxdwGh+16cJyrxFos3NgCBDm18is6w0+3fHEFEKbMpBeL1Sla4HjOD5sUbFTie1ZQECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCNK5ug4JgXUK4Z98u5O10ZJ2cGD/caZMyz/m2+s7EZpKb8O4X1EOX0DccewVD0PXI7Appw695bOb9AzbXHCTy2J3w8KRkajnUG+CkhnarBnAqluXJe8W5QuSpMntaeF18zoRcyQdcXjtx1QO3pqAAdEFVLE2aP6xbe17YlRxDEEfgwNP+gtlHHjza8z8X4PTDKFYzsCfSRJdFF0WsBtY9VmY9K3P1Uy40PoH5nhbhdArpZugNj1UQYp9vmTolWMgpd7VFJhcQMhKEhasQobdPjZCSxsfX77phD6Pus+r5T2CWVQMP56h6JAhzs+KimFcYRDUkYBPjBANIVqP3dUQip",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Please Perform Merge to complete the request.",
        "request_id": "289728eedb1c4752abe1ad9f3f54ce1d"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/certificates/651135699?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/346e45da7ce443e99d1f510f24b7bc5e",
        "attributes": {
          "enabled": false,
          "nbf": 1749777763,
          "exp": 1781314363,
          "created": 1749778364,
          "updated": 1749778364,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "cRLSign",
              "dataEncipherment",
              "digitalSignature",
              "keyAgreement",
              "keyCertSign",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          },
          "attributes": {
            "enabled": true,
            "created": 1749778364,
            "updated": 1749778364
          }
        },
        "pending": {
          "id": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/pending"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/346e45da7ce443e99d1f510f24b7bc5e?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv76.vault.azure.net/certificates/651135699/346e45da7ce443e99d1f510f24b7bc5e",
        "attributes": {
          "enabled": false,
          "nbf": 1749777763,
          "exp": 1781314363,
          "created": 1749778364,
          "updated": 1749778364,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv76.vault.azure.net/",
    "RandomSeed": "1793778751"
  }
}
