{
  "Entries": [
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/issuers/1294683868?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/issuers/1294683868?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "ssladmin",
        "org_details": {
          "admin_details": [
            {
              "first_name": "fName",
              "last_name": "lName",
              "email": "email@domain.tld",
              "phone": "1234"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://taca1f881381e79ad.vault.azure.net/certificates/issuers/1294683868",
        "provider": "ssladmin",
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "fName",
              "last_name": "lName",
              "email": "email@domain.tld",
              "phone": "1234"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1780438667,
          "updated": 1780438667
        }
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/issuers/1294683868?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://taca1f881381e79ad.vault.azure.net/certificates/issuers/1294683868",
        "provider": "ssladmin",
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "fName",
              "last_name": "lName",
              "email": "email@domain.tld",
              "phone": "1234"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1780438667,
          "updated": 1780438667
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://taca1f881381e79ad.vault.azure.net/",
    "RandomSeed": "383406373"
  }
}
