{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/contacts/?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/contacts/?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contacts": [
          {
            "name": "Johnathan Doeman",
            "email": "admin@contoso.com",
            "phone": "2222222222"
          },
          {
            "name": "John Doe",
            "email": "admin@contoso2.com",
            "phone": "1111111111"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "Johnathan Doeman",
            "phone": "2222222222"
          },
          {
            "email": "admin@contoso2.com",
            "name": "John Doe",
            "phone": "1111111111"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/contacts/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "Johnathan Doeman",
            "phone": "2222222222"
          },
          {
            "email": "admin@contoso2.com",
            "name": "John Doe",
            "phone": "1111111111"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1212426633"
  }
}
