{
  "Entries": [
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/pending?api-version=2025-07-01&request_id=c6b140293cbb4a63ad2c8a9c0cb452a2",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/pending",
        "issuer": {
          "name": "Unknown"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALXZCPxD833grq49sm5uHIa+YBxUvwyoOmmWejsAAQWc9hfrtZaUiiopW0dxxpUslTTc89H0PGHVWf8eORj6v23IprG29vZSAsivTYT82YwWo4xWCcVvSh6BZiaJY2m480+X9socARp5PJnirdkio+0Ai5EXdjmMjj2viutHeHaBuaxB1g8tT8mAfMVWDBRhQ+TaGIAaW5489RSjY25CPuUzQRC/qWD+gnxn75QB0TwvxHlM5MOtSg8o0BMN/Nc9K3Zc9hZhWOuaUZBdLq/ZVCs5CiG6QJUa9+PZgJ1hPvJcF66icvw8XGBqeox2RrDEDgX+4th+JUmi8l38A9Z3sjkCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCZQWwF52mrYU3OIPpae4fvxDv1q7FC/51vNg/cmSecxL4HdD1ku64z6csFhK2UULwFVwEe2nDVwmCqcjWRYZ+Q2csSQ57Mn6BXpbq6Js3Bw3oq3tFixFnnaQH2Zz1CyR48rT3oxvVi9h3Y2EXM9YlNBmMhN7h7boKJYbuqFURcuzMubhN7f972wVmqckYjtzNsfXl9tOHy2gbm7T5N5+wq3Fb2rp2vmBRICC8OLbGzZA5lGJqpYkN9PYLBJo8gF8Hn3cgur/5NLsYUVhGha2Gwsun2hB3lzYfMsWoZCpH1LgrFSlpgGNFS+raqPpOHsPfm9HAig+ZZiUafMHuJKw31",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Please Perform Merge to complete the request.",
        "request_id": "c6b140293cbb4a63ad2c8a9c0cb452a2"
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/3077843dbc3149bb86b09ac451571036",
        "attributes": {
          "enabled": false,
          "nbf": 1780437975,
          "exp": 1811974575,
          "created": 1780438575,
          "updated": 1780438575,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "cRLSign",
              "dataEncipherment",
              "digitalSignature",
              "keyAgreement",
              "keyCertSign",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          },
          "attributes": {
            "enabled": true,
            "created": 1780438575,
            "updated": 1780438575
          }
        },
        "pending": {
          "id": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/pending"
        }
      }
    },
    {
      "RequestUri": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/3077843dbc3149bb86b09ac451571036?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://taca1f881381e79ad.vault.azure.net/certificates/354374888/3077843dbc3149bb86b09ac451571036",
        "attributes": {
          "enabled": false,
          "nbf": 1780437975,
          "exp": 1811974575,
          "created": 1780438575,
          "updated": 1780438575,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://taca1f881381e79ad.vault.azure.net/",
    "RandomSeed": "1947305178"
  }
}
