{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/contacts/?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/contacts/?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "contacts": [
          {
            "name": "Johnathan Doeman",
            "email": "admin@contoso.com",
            "phone": "2222222222"
          },
          {
            "name": "John Doe",
            "email": "admin@contoso2.com",
            "phone": "1111111111"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://joncarde-kv.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "Johnathan Doeman",
            "phone": "2222222222"
          },
          {
            "email": "admin@contoso2.com",
            "name": "John Doe",
            "phone": "1111111111"
          }
        ]
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/contacts/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://joncarde-kv.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "Johnathan Doeman",
            "phone": "2222222222"
          },
          {
            "email": "admin@contoso2.com",
            "name": "John Doe",
            "phone": "1111111111"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://joncarde-kv.vault.azure.net/",
    "RandomSeed": "1426350832"
  }
}
