{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/pending?api-version=2025-07-01&request_id=a876e5bef6c843ce938fb044c9d5da02",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/pending",
        "issuer": {
          "name": "Unknown"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANZUtSHiHm8n2rDzh3+PA3T6zUmhLTpLkSFQ4d5LJ8z4HCduNb0vNfz3z+8pCzH0XpV3L70Fm3WTvq2mFtxRYHTrxrJiDUCUVIRnXjlpGoPQYmUG0k+TizvSRTVoZrETnZruz0xb/ebACz4VoTp024xYdzv5jh9G1iqapHiIKz8zymAqe8a2Y606+4V+dqStWBU8ZTo4liph3x2xn3kQg84TcAe+YRGA2gHxjb3D3kro6dpkMfcU1mgsmbTfJtlccMDBCigPQyc/MKXYYVqnxmeWVi6w3n1+laXr/nDPXgcXoCJ09SaiotkewSmwOpQ/pWueTGR0eV1A8GB0HSARvy0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBTrufQVBPQfAFykiS5sLEn41erNCv+NGeFW/W499A0RomgvDW6DToh9pAzNIWty4TVxg1vGRtO8wzmjEbyLPhPWU13kFpHMsbk3xLcI6TB7Jvome/gkqRqmR6PjAcWjK4ZVhqoiOYsW2MXmYrtdKx0InZWXO1lPaDqk/28imyDw9pOtgeshywaYbLSm2K/Qj+hQ/l75L5xXvfguUAb31tA9hbUtFHJJa78kVwOEtKmMip8t1FCPlc2OS3K0P6gYlZo4myIRFJx15a1V0C0LrlEVyK1AokdwPT5oaUy/R3ESjQL1lb++dTFF2GC5m2Dz/ZSqGmviYLZ2JXsIgwnDVHo",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Please Perform Merge to complete the request.",
        "request_id": "a876e5bef6c843ce938fb044c9d5da02"
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/7b7f8acbffe947b78e5d3a1c7dcdc5b2",
        "attributes": {
          "enabled": false,
          "nbf": 1758925503,
          "exp": 1790462103,
          "created": 1758926103,
          "updated": 1758926103,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "cRLSign",
              "dataEncipherment",
              "digitalSignature",
              "keyAgreement",
              "keyCertSign",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          },
          "attributes": {
            "enabled": true,
            "created": 1758926103,
            "updated": 1758926103
          }
        },
        "pending": {
          "id": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/pending"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/7b7f8acbffe947b78e5d3a1c7dcdc5b2?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://t8c2fe6801937008f.vault.azure.net/certificates/340105825/7b7f8acbffe947b78e5d3a1c7dcdc5b2",
        "attributes": {
          "enabled": false,
          "nbf": 1758925503,
          "exp": 1790462103,
          "created": 1758926103,
          "updated": 1758926103,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t8c2fe6801937008f.vault.azure.net/",
    "RandomSeed": "864640681"
  }
}
