{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/issuers/1769621033?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/issuers/1769621033?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "ssladmin"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/certificates/issuers/1769621033",
        "provider": "ssladmin",
        "attributes": {
          "enabled": true,
          "created": 1741900940,
          "updated": 1741900940
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/certificates/issuers/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://rgjoncardekv1058.vault.azure.net/certificates/issuers/1769621033",
            "provider": "ssladmin"
          },
          {
            "id": "https://rgjoncardekv1058.vault.azure.net/certificates/issuers/921178779",
            "provider": "onecert"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv1058.vault.azure.net/",
    "RandomSeed": "1521948090"
  }
}
