{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/pending?api-version=7.5&request_id=8f1cef13e7624fdba4286533d8a982b8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/pending",
        "issuer": {
          "name": "Unknown"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKkr9tDid5PaV648HvlyA4ZJ51YPvyfpkNF6whqAchGAzeR8yzjW960L9hd9oWbKhmVbjw/F+Q3fpGN90HnhTKg5YwMgLAIzvXjOTw2Fkvo73QvJlOUf/kj2mLrvALqDX80grgJXP/tC9uswX/z8cmDOVpkhQiW4i1syskW+OC9jPB1Gn5bjfAlViTIKreEsa4709kX2ZQPowcHYdXTinAiAwYiy8t65oWjrMsXuCHN+7/UPpXBRn+L14nLkDnsRdp8C8pwb+oXDt2YlZ4Wf1Mp18lo91Ku64Yq0r1tNUGLTxRCBLE2KGvN+uhKvg46IlpAB1Cczu/GMH+1tvAvqee0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQByFNa6eBD5ZEdbHrWo3vCPSzMwHGik8Y0Cxonuf+R9dv9OkkMdWuPhQEYPw1dQflkymokY3Fok6RTzPgOBe/68NYwv8n7zz+E0FRuZI/jOE0c0gjPGnWnEbMzn8Ti6ucJAvLTD2MV2GLN/4MG/36U3VzGdpXDBiqMLWBr4ZC71ImZJDnIuItySbNYeXGzZzr9MAlTQnI0yjPnKJlU+NSPD7VbC+mh9L+UybiC0gD5Wb2+h78vIwNC7IP9J/YiYmqabHYreI5SMdyiP+y3FL6ishQrlUTM2awRNh0qxTfU7ZDY0+ykWcs1sf3mFWU/568LvfwkfL0a9h28LZVjN5mJ6",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Please Perform Merge to complete the request.",
        "request_id": "8f1cef13e7624fdba4286533d8a982b8"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/91c2b33d18754d778d9b65e8d6eca1ce",
        "attributes": {
          "enabled": false,
          "nbf": 1736894865,
          "exp": 1768431465,
          "created": 1736895465,
          "updated": 1736895465,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "cRLSign",
              "dataEncipherment",
              "digitalSignature",
              "keyAgreement",
              "keyCertSign",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          },
          "attributes": {
            "enabled": true,
            "created": 1736895465,
            "updated": 1736895465
          }
        },
        "pending": {
          "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/pending"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/91c2b33d18754d778d9b65e8d6eca1ce?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb0f745ebb7bfae58.vault.azure.net/certificates/805115472/91c2b33d18754d778d9b65e8d6eca1ce",
        "attributes": {
          "enabled": false,
          "nbf": 1736894865,
          "exp": 1768431465,
          "created": 1736895465,
          "updated": 1736895465,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1567682301"
  }
}
