{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/issuers/214701830?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/issuers/214701830?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "provider": "ssladmin"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://joncarde-kv.vault.azure.net/certificates/issuers/214701830",
        "provider": "ssladmin",
        "attributes": {
          "enabled": true,
          "created": 1781233993,
          "updated": 1781233993
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/certificates/issuers/214701830?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "provider": "onecert"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://joncarde-kv.vault.azure.net/certificates/issuers/214701830",
        "provider": "onecert",
        "attributes": {
          "enabled": true,
          "created": 1781233993,
          "updated": 1781233993
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://joncarde-kv.vault.azure.net/",
    "RandomSeed": "257550076"
  }
}
