{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=zh-Hans&from=ar&fromScript=Latn&toScript=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"hudha akhtabar.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "15",
        "X-MT-System": "Microsoft",
        "X-RequestId": "ea3e8b2a-40c8-437b-9a13-ada818bb86af.USW2.0502T2000"
      },
      "ResponseBody": "[{\"sourceText\":{\"text\":\"هذا اختبار.\"},\"translations\":[{\"text\":\"这是个测试。\",\"transliteration\":{\"text\":\"zhè shìgè cèshì。\",\"script\":\"Latn\"},\"to\":\"zh-Hans\"}]}]"
    }
  ],
  "Variables": {}
}
