{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=cs&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"<html><body>This <b>is</b> a test.</body></html>\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "48",
        "X-MT-System": "Microsoft",
        "X-RequestId": "f4d11169-3430-4ec1-906b-08751ed05552.USW2.0502T1627"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"<html><body>Toto <b>je</b> test.</body></html>\",\"to\":\"cs\"}]}]"
    }
  ],
  "Variables": {}
}
