{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?to=cs%2Ces%2Cde&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"This is a test.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "45",
        "X-MT-System": "Microsoft,Microsoft,Microsoft",
        "X-RequestId": "9bb7b18c-13cf-4ee2-9e25-5eefacd920fb.USW2.0517T2200"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"Tohle je test.\",\"to\":\"Sanitized\"},{\"text\":\"Esto es una prueba.\",\"to\":\"Sanitized\"},{\"text\":\"Dies ist ein Test.\",\"to\":\"Sanitized\"}]}]"
    }
  ],
  "Variables": {}
}
