{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=zh-chs&from=en&textType=html&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"<span class=REDACTED\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "44",
        "X-MT-System": "Microsoft",
        "X-RequestId": "6c3bbd87-2281-49c0-825b-0d7c850b51db.USW2.0502T1950"
      },
      "ResponseBody": "[{\"translations\":[{\"text\":\"<span class=REDACTED\",\"to\":\"zh-Hans\"}]}]"
    }
  ],
  "Variables": {}
}
