{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=cs&from=en&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"This is a test.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "15",
        "X-MT-System": "Microsoft",
        "X-RequestId": "a98a61a5-181e-46e1-9f84-fd4e766a1c04.USW2.0502T2000"
      },
      "ResponseBody": "[{\"translations\":[{\"text\":\"Tohle je test.\",\"to\":\"cs\"}]}]"
    }
  ],
  "Variables": {}
}
