{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?to=zh-chs&from=en&textType=html&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"<span class=notranslate>今天是怎么回事是</span>非常可怕的\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "44",
        "X-MT-System": "Microsoft",
        "X-RequestId": "1893c737-bf75-4d36-9acb-694596e99bb1.USW2.0516T2029"
      },
      "ResponseBody": "[{\"translations\":[{\"text\":\"今天是怎么回事是\",\"to\":\"zh-Hans\"}]}]"
    }
  ],
  "Variables": {}
}
