{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.comtranslate?to=zh-cn&profanityAction=Marked&profanityMarker=Asterisk&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "EG5HSgMOrh32OXuyj49BVxpMb3bHaEwFp23tKoyivmOYyeqtL066JQQJ99BCAC4f1cMXJ3w3AAAbACOGSmHB",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": "[{\"text\":\"shit this is fucking crazy\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-metered-usage": "26",
        "x-mt-system": "Microsoft",
        "x-requestid": "6022d20f-fb16-4fdb-91ea-32d9a21499eb.USW2.0329T0234"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"糟糕，这真是疯狂\",\"to\":\"Sanitized\"}]}]"
    }
  ],
  "Variables": {}
}
