{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=zh-chs\u0026from=en\u0026textType=html\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "fakeapikey",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022\u003Cspan class=notranslate\u003E\u4ECA\u5929\u662F\u600E\u4E48\u56DE\u4E8B\u662F\u003C/span\u003E\u975E\u5E38\u53EF\u6015\u7684\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "44",
        "X-MT-System": "Microsoft",
        "X-RequestId": "fb072420-a4ae-4613-8c04-5421f6f39532.USW2.0401T2310"
      },
      "ResponseBody": "[{\u0022translations\u0022:[{\u0022text\u0022:\u0022\u003Cspan class=notranslate\u003E\u4ECA\u5929\u662F\u600E\u4E48\u56DE\u4E8B\u662F\u003C/span\u003E\u975E\u5E38\u53EF\u6015\u7684\u0022,\u0022to\u0022:\u0022zh-Hans\u0022}]}]"
    }
  ],
  "Variables": {}
}
