{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/data/mosaic/register?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "collections": [
          "naip"
        ],
        "filter": {
          "op": "and",
          "args": [
            {
              "op": "=",
              "args": [
                {
                  "property": "collection"
                },
                "naip"
              ]
            },
            {
              "op": "anyinteracts",
              "args": [
                {
                  "property": "datetime"
                },
                {
                  "interval": [
                    "2021-01-01T00:00:00Z",
                    "2022-12-31T00:00:00Z"
                  ]
                }
              ]
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "searchid": "a6a324313c1c0f37f9c6512ed2f7229e",
        "links": [
          {
            "href": "https://Sanitized.geocatalogs.azure.com/data/mosaic/a6a324313c1c0f37f9c6512ed2f7229e/info",
            "rel": "metadata",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.geocatalogs.azure.com/data/mosaic/a6a324313c1c0f37f9c6512ed2f7229e/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.geocatalogs.azure.com/data/mosaic/a6a324313c1c0f37f9c6512ed2f7229e/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/data/mosaic/searches/a6a324313c1c0f37f9c6512ed2f7229e/point/-84.386,33.676?api-version=2026-04-15&assets=image",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "coordinates": [
          -84.386,
          33.676
        ],
        "values": [
          [
            "naip/ga_m_3308421_se_16_060_20211114_test",
            [
              52,
              75,
              75,
              86
            ],
            [
              "image_b1",
              "image_b2",
              "image_b3",
              "image_b4"
            ]
          ],
          [
            "naip/ga_m_3308421_se_16_060_20211114",
            [
              52,
              75,
              75,
              86
            ],
            [
              "image_b1",
              "image_b2",
              "image_b3",
              "image_b4"
            ]
          ]
        ]
      }
    }
  ],
  "Variables": {}
}
