{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D3C4275EE1\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44/sourceFolder/test-file-7f490a91-4ce6-7f39-8df9-2c60930568de?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "sEK4GnBlLy8m9RBblchqmCFtnFQ7AkgcCapxT9HMI9/L1bBRTU5tF/XK+NRkpQlGLOJL7hDZHK35mxDG9N9eWdIxkMAXGEvS/4VecApzuGOgKiPugTTO8bgCV7E9pyIWa54CMhVJLhOWeO+Le6ujhuOsJcq8cNidYp8HFcCalVhiSARrcIVOV/wPVwhFQ3YNX9DNkIJYWvvGZNB1QhlT/OOWKDKmOBVeXc7NrBnQWB4p+bbvzQTWCu4JpAy02RTjvFslrhpDZia6bjOziq3i9gyxTEhjYy7ewB5DnZMJqYS56vC9q6kE5ZOPNF7RIn9BJ67/AozMgFgsRu37/8mSscSu+Z+8JEtirWa10y7QDZ6eAnblCqf37WqXkGS7COXJ/IOZIijghAJjnVUmF6wqXDlPXP1Tracdtgw0JJT[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44/sourceFolder/bar/test-file-ad14ddbb-5d24-71f4-0723-b318ef4dfc2f?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44/sourceFolder/pik/test-file-6c0194ad-2d89-f126-1660-03264a95ea76?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-1ffa247d-74ca-9f01-0e96-7b6c5cad2e57</Name><VersionId>2025-07-11T23:36:31.9772812Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:36:31 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:36:31 GMT</Last-Modified><Etag>0x8DDC0D3C441E182</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>10XerP1RcXEm+sxq8MDOXw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 23:36:31 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 11 Jul 2025 23:36:31 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-7f490a91-4ce6-7f39-8df9-2c60930568de</Name><VersionId>2025-07-11T23:36:31.9323072Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:36:31 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:36:31 GMT</Last-Modified><Etag>0x8DDC0D3C43B2BC0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>BuZsM+2ONOYqxYW22AzfsQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 23:36:31 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 11 Jul 2025 23:36:31 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/test-file-1ffa247d-74ca-9f01-0e96-7b6c5cad2e57",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D3C4640A79\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:36:32.2001529Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/bar/test-file-ad14ddbb-5d24-71f4-0723-b318ef4dfc2f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D3C46A4B1D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:36:32.2421288Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/test-file-1ffa247d-74ca-9f01-0e96-7b6c5cad2e57?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44/sourceFolder/test-file-1ffa247d-74ca-9f01-0e96-7b6c5cad2e57?sv=sanitized-value&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D3C47016A1\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "wYp/ZRgttJE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/pik/test-file-6c0194ad-2d89-f126-1660-03264a95ea76",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D3C470D9D6\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:36:32.2851039Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/bar/test-file-ad14ddbb-5d24-71f4-0723-b318ef4dfc2f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44/sourceFolder/bar/test-file-ad14ddbb-5d24-71f4-0723-b318ef4dfc2f?sv=sanitized-value&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D3C47804B7\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "OKxT0nWAuFI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/pik/test-file-6c0194ad-2d89-f126-1660-03264a95ea76?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44/sourceFolder/pik/test-file-6c0194ad-2d89-f126-1660-03264a95ea76?sv=sanitized-value&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D3C47A4E4F\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "tJkdugMinBc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44/sourceFolder/bar/test-file-ad14ddbb-5d24-71f4-0723-b318ef4dfc2f?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "WgCF9o0CP7q7PrRtY3Ns0Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D3C448BE51\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:36:32.0212561Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44/sourceFolder/bar/test-file-ad14ddbb-5d24-71f4-0723-b318ef4dfc2f?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D3C448BE51\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D3C448BE51\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-blob-content-md5": "WgCF9o0CP7q7PrRtY3Ns0Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/bar/test-file-ad14ddbb-5d24-71f4-0723-b318ef4dfc2f?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/pik/test-file-6c0194ad-2d89-f126-1660-03264a95ea76?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ba9f5527-e833-8d4e-9862-3a777f401355/destFolder/test-file-1ffa247d-74ca-9f01-0e96-7b6c5cad2e57?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:36:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c9fffd13-0f5a-06dd-4ade-947a060d8c44?sv=Sanitized&se=2025-07-12T23%3A36%3A31Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:57443094-a01e-0094-68bc-f26dab000000\n",
        "Time:2025-07-11T23:36:33.7732363Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:36:31.8391974-07:00",
    "RandomSeed": "264203382",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
