{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060CEEB18F2\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6/sourceFolder/test-file-b8bb4e6d-b6a3-08aa-37ff-ae3f1728b279?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "WIgf23R6/FYNmesR9cHmafiXc37vFtdJCZOKd7lenY6CtOePCNcEN5MUFfw4MjNrRpNS0zb9CUGw1tHh74Wcrvtdj0DaVmAhkzvq2wDaEddgHjEmDMpYhKql3jIGI0cOd2cA26Pyke8yMT/6Ey1B1cX5gNBUdaIxBAqVNHguGnD03GSZ2TUzbY1B9NqKXXF9ZAhtDKJ3uQLEz9aZXVx2BBbPBTbJp/uPxRJDEoDIpqaYGNBvwA7NfSJh1QpfmhAwyu/Du1g6s7wM3kaPM6eB/CgvAESLB0MIAYgTZ9LxLysCEkeRBOtOXWUTYuLHPkl74NnhL5rMpMOsu7nPJkvqG64bjSFf8Pc94KLfeKRhQMM/mIf4EACQNm2E5EkyfzcZKUc0q7EnHPDhpE737CweS3r2kI7E8guuilaz2gu[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6/sourceFolder/bar/test-file-334a36f7-789a-6eb9-d0ab-26364c16c80b?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6/sourceFolder/pik/test-file-be8a25af-95f1-4b86-42af-87079aff9532?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-236a90b1-2396-2844-2d2c-fc4b6aa97cf9</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:34:52 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:34:52 GMT</Last-Modified><Etag>0x8DE0060CF0DF0B0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>kiWfJDE4R38+7284VnVd+g==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:34:52 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-b8bb4e6d-b6a3-08aa-37ff-ae3f1728b279</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:34:52 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:34:52 GMT</Last-Modified><Etag>0x8DE0060CF04D336</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>phjnTE7sryxiyT4cw7s0bg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:34:52 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028a0584-0ed1-dcb5-a9e4-3076db394755/destFolder/test-file-b8bb4e6d-b6a3-08aa-37ff-ae3f1728b279",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060CF4A8E7A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028a0584-0ed1-dcb5-a9e4-3076db394755/destFolder/test-file-b8bb4e6d-b6a3-08aa-37ff-ae3f1728b279?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6/sourceFolder/test-file-b8bb4e6d-b6a3-08aa-37ff-ae3f1728b279?sv=sanitized-value&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060CF54E324\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "lfa56k69cpY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028a0584-0ed1-dcb5-a9e4-3076db394755/destFolder/bar/test-file-334a36f7-789a-6eb9-d0ab-26364c16c80b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060CF570397\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028a0584-0ed1-dcb5-a9e4-3076db394755/destFolder/pik/test-file-be8a25af-95f1-4b86-42af-87079aff9532",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060CF5DD9C0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028a0584-0ed1-dcb5-a9e4-3076db394755/destFolder/bar/test-file-334a36f7-789a-6eb9-d0ab-26364c16c80b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6/sourceFolder/bar/test-file-334a36f7-789a-6eb9-d0ab-26364c16c80b?sv=sanitized-value&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060CF617F25\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "HZyi7lLP+Kc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028a0584-0ed1-dcb5-a9e4-3076db394755/destFolder/pik/test-file-be8a25af-95f1-4b86-42af-87079aff9532?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6/sourceFolder/pik/test-file-be8a25af-95f1-4b86-42af-87079aff9532?sv=sanitized-value&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060CF6A75C1\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "OAZ0/u2Q8mc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028a0584-0ed1-dcb5-a9e4-3076db394755?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6/sourceFolder/bar/test-file-334a36f7-789a-6eb9-d0ab-26364c16c80b?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "3dxTzKW42e7bh4Afi6i/6g==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060CF16E745\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6/sourceFolder/bar/test-file-334a36f7-789a-6eb9-d0ab-26364c16c80b?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060CF16E745\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060CF16E745\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-blob-content-md5": "3dxTzKW42e7bh4Afi6i/6g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:34:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "LcPD9GZAZyoEPOJ8TJTvTtrZHUt8hi3BHT0ib[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dff62aa-35c7-6f5f-f171-0236d67f35d6?sv=Sanitized&se=2025-10-01T20%3A34%3A52Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4a5d5e2e-201e-002f-6749-32ad7f000000\n",
        "Time:2025-09-30T20:34:54.8700155Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:34:52.2748600-07:00",
    "RandomSeed": "1035374762",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
