{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10F9BB088F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e/sourceFolder/test-file-03da66f5-4227-5bae-5485-223fe89ac4aa?sv=Sanitized&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "4+jEzo1Kg8t/O4J8gokAQ7A2++Q1be1+t8MgKr0W2Ud441z/1vYcVI4U4Pj0M5NZ/EDnSxAoCXb7RRfKKlkNaWI6A58tAGy5GqZWIYz0iYMvxy19L443UNnmBJDfUSo0BneWuTD0LPvULTBq0ejpBruTm2MrkDnTA7LFR/zb2sh8IRoUXtBTOpoxqAFdzX/x/P3US7bHCXY9wrZ+LuX/+FNo7bDN1KjrP2DI+uc4dTYy00r/Bo4StBik15sZ1Qu1MrCt9d/PJChV6QxW/w+PBUyAS1uaAPHEVjmXKf0M0mpUEsc2ioBXY68hqR2Cu7UJFdFPmYmwGzK/6J+mN/srSRahAuxHWHrMKOireFbTQpqDjhMrvTngo/eVd6HhsSuz9mAG4LnJwrxXgnChBaLb7KYEIqnnAIzdwV71seH[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e/sourceFolder/bar/test-file-1b487390-66fa-1f42-ee0f-16d80d1bb4c6?sv=Sanitized&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e/sourceFolder/pik/test-file-e4a87902-f948-867e-4abe-83eb3bdec777?sv=Sanitized&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e?sv=Sanitized&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-74e91045-779e-1e20-3cd9-66c0947b552e\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-1b487390-66fa-1f42-ee0f-16d80d1bb4c6</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:42:44 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:42:44 GMT</Last-Modified><Etag>0x8DD5D10F9DE5320</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>BLMquVZc4DyvO7wQJmCTkQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:42:44 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-e4a87902-f948-867e-4abe-83eb3bdec777</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:42:44 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:42:44 GMT</Last-Modified><Etag>0x8DD5D10F9E6AE43</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>RlhMIfS8CmX/iH9pNppLig==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7789fabd-f2f1-f954-12ed-bced8ecb4db1/destFolder/test-file-03da66f5-4227-5bae-5485-223fe89ac4aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10FA0364C0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7789fabd-f2f1-f954-12ed-bced8ecb4db1/destFolder/pik/test-file-e4a87902-f948-867e-4abe-83eb3bdec777",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10FA040049\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7789fabd-f2f1-f954-12ed-bced8ecb4db1/destFolder/bar/test-file-1b487390-66fa-1f42-ee0f-16d80d1bb4c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10FA058542\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7789fabd-f2f1-f954-12ed-bced8ecb4db1/destFolder/test-file-03da66f5-4227-5bae-5485-223fe89ac4aa?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e/sourceFolder/test-file-03da66f5-4227-5bae-5485-223fe89ac4aa?sv=sanitized-value&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10FA0C824A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "8BhR2acTPgo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7789fabd-f2f1-f954-12ed-bced8ecb4db1/destFolder/pik/test-file-e4a87902-f948-867e-4abe-83eb3bdec777?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e/sourceFolder/pik/test-file-e4a87902-f948-867e-4abe-83eb3bdec777?sv=sanitized-value&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10FA0D6BA1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "w/ZE7GRRfjI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7789fabd-f2f1-f954-12ed-bced8ecb4db1/destFolder/bar/test-file-1b487390-66fa-1f42-ee0f-16d80d1bb4c6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e/sourceFolder/bar/test-file-1b487390-66fa-1f42-ee0f-16d80d1bb4c6?sv=sanitized-value&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10FA0EC9A9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Z64R8j7H3BA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e?sv=Sanitized&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7789fabd-f2f1-f954-12ed-bced8ecb4db1?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e/sourceFolder/bar/test-file-1b487390-66fa-1f42-ee0f-16d80d1bb4c6?sv=Sanitized&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "BLMquVZc4DyvO7wQJmCTkQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10F9DE5320\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:44 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:42:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:42:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e/sourceFolder/bar/test-file-1b487390-66fa-1f42-ee0f-16d80d1bb4c6?sv=Sanitized&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10F9DE5320\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10F9DE5320\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:44 GMT",
        "x-ms-blob-content-md5": "BLMquVZc4DyvO7wQJmCTkQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:42:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "qa9gzAGUovoY1ZxeKcYbGZLgBFFGqOqT8hXIx[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74e91045-779e-1e20-3cd9-66c0947b552e?sv=Sanitized&se=2025-03-08T00%3A42%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:f2c58a44-401e-0064-44f9-8e512c000000\n",
        "Time:2025-03-07T00:42:47.0828811Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:42:44.7638209-08:00",
    "RandomSeed": "414823254",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
