{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10F840C4EF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407/sourceFolder/test-file-5de17a7d-699b-9436-e678-9dfb7e91b749?sv=Sanitized&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Ghn7rHpNewz+PpPuo9fhmtieLfpWpCgDWUIEHg7nN9H8C+BllQrPAUgQ9DPmMvuBm792vueCO3bx+FI3SV39FgbB8pf2fATNzyuxRbD0HCdHgoJOcXjqedBqc524l7jrEt0tJT9jih+7qe+70PXF/dwr8Mbar6SO13jHjAhnFTdyxjLSxvbn4/dik8iJLqjapXbBjKfxEGM4nk7HnP4XU5O3SArC8jblRA3PeBvcBKjP7OeRpoiQgbXPmSioIEb4S0A00eWeF7JA20iaIphHXJml97AXhq0LJ8dV81gOPSPG1izbqDPCMdQ0UcpA9l4ciD2OAiiW4cSSKakeSCRaMZ4k00tra7Rm48Xb4zTiyjFpOWsagDr7MPVoSH6JpOmw2h8sHCISsByJJx9iu/6QsF93tA+5P7FjKKNWAyI[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407/sourceFolder/bar/test-file-74513200-f153-ef21-0058-615f2cdd1bcd?sv=Sanitized&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407/sourceFolder/pik/test-file-cc42fc67-f21f-a949-b935-b58b3f7ee945?sv=Sanitized&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407?sv=Sanitized&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-74513200-f153-ef21-0058-615f2cdd1bcd</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:42:42 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:42:42 GMT</Last-Modified><Etag>0x8DD5D10F867AF24</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>yJEVQ+ePVSSYqF1GOULv0A==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:42:42 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-cc42fc67-f21f-a949-b935-b58b3f7ee945</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:42:42 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:42:42 GMT</Last-Modified><Etag>0x8DD5D10F87057F5</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>VQjBB8ttx42eP3LKZnX6kw==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a3b278da-32ad-dd0b-a5f9-db922644f487/destFolder/bar/test-file-74513200-f153-ef21-0058-615f2cdd1bcd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10F88D5C5E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a3b278da-32ad-dd0b-a5f9-db922644f487/destFolder/pik/test-file-cc42fc67-f21f-a949-b935-b58b3f7ee945",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10F88E1ED0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a3b278da-32ad-dd0b-a5f9-db922644f487/destFolder/test-file-f21dc44e-7a72-9e20-597d-5a4e5d147c91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10F88E6CB2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a3b278da-32ad-dd0b-a5f9-db922644f487/destFolder/bar/test-file-74513200-f153-ef21-0058-615f2cdd1bcd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407/sourceFolder/bar/test-file-74513200-f153-ef21-0058-615f2cdd1bcd?sv=sanitized-value&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10F8965303\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "H0T27kOTArw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a3b278da-32ad-dd0b-a5f9-db922644f487/destFolder/test-file-f21dc44e-7a72-9e20-597d-5a4e5d147c91?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407/sourceFolder/test-file-f21dc44e-7a72-9e20-597d-5a4e5d147c91?sv=sanitized-value&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10F8971579\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "bePpp/p8X/I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a3b278da-32ad-dd0b-a5f9-db922644f487/destFolder/pik/test-file-cc42fc67-f21f-a949-b935-b58b3f7ee945?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407/sourceFolder/pik/test-file-cc42fc67-f21f-a949-b935-b58b3f7ee945?sv=sanitized-value&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10F8971579\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "FxUkK+2666s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407?sv=Sanitized&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a3b278da-32ad-dd0b-a5f9-db922644f487?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407/sourceFolder/bar/test-file-74513200-f153-ef21-0058-615f2cdd1bcd?sv=Sanitized&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "yJEVQ+ePVSSYqF1GOULv0A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10F867AF24\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407/sourceFolder/bar/test-file-74513200-f153-ef21-0058-615f2cdd1bcd?sv=Sanitized&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10F867AF24\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10F867AF24\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-blob-content-md5": "yJEVQ+ePVSSYqF1GOULv0A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:42:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "0q66E/8YY6Hm5EKRCYBKRFTFAWcrewEGGBS/c[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b2dc205-70f9-e6f2-a0c4-ac70bf4bd407?sv=Sanitized&se=2025-03-08T00%3A42%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0d162343-501e-0047-7af9-8ecbef000000\n",
        "Time:2025-03-07T00:42:44.6145191Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:42:42.2945022-08:00",
    "RandomSeed": "492679449",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
