{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060B41DD910\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed/sourceFolder/test-file-68d2da9b-6b42-5bf0-c585-255fc5dbc766?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "XBGioj09EddI2dhye2gzLOYhhSXcrAF3BuRIW/O56UJycQOzOSUoVelP0vRLYXK3s0tQUP3u2K8PK5tY9LXjju+WAApkgPPB+C87jNoNK6VykaeoaZlEg5lTow6J0GE0a0MEtWBnUjNYj1fNs0vVAgD15mMOOyVVUXxxEdzkNyjOByGWCXVFCj90UNpCdtBNfaEOlOn+JjAermPj9kBWc1cu/6sqP/iKsNskmetLE9urI5M71qM+0OHwd1oSYRT+HdyCE3ckIz6og+MO2YxE05qIONKtG5y08C7KOceeeE/GJnsOyABkh/9UklO/MPZUrKO/iSlBUAJAzSNIWup3CguUR7MQNQqaJLDTWYhJ9L83dowj3u4mhNV5zvrdGy0U3IdHK+hDRHaZJWV4bvd599ljEeNdVCwcbcLel2cQvQmDvnwAAcjX9DEWiriIrhbe/9cheQlJt4hbKr4lZawOiGhc9LB7ePUQjByyR8p0k7+s/5eQ7kP/OgfzpdYKsY+EBwFPLLlmYobhEO3sl2++55b+eWUVfZolXbmph9MeBtuNLT/IJGcFRp0Qr91WEqOXNb0/Czcqb4pmKs8AvduzwgoRX2kw9cIv+TPIBM68zkoWEVIV3/qjY721YfqYBYjBXezSRLM5Zj/7EBIDYmq7qluE6quJneMPbfuse5PIlvQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xjIZxoCCxcHEBf711hqZeA==",
        "ETag": "\"0x8DE0060B43C7D38\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-content-crc64": "ZX9FbyElNXA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed/sourceFolder/bar/test-file-c5199a65-6bb2-6bd3-4833-7457e1482357?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed/sourceFolder/pik/test-file-f721bd73-4201-58c8-005f-393792fdfa7e?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-1a26fa93-24cd-eed3-1fe7-7736718313b4</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:34:07 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:34:07 GMT</Last-Modified><Etag>0x8DE0060B4459AC1</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>cRaAxp7a4Iql0T2QuyAMbw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:34:07 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-68d2da9b-6b42-5bf0-c585-255fc5dbc766</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:34:07 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:34:07 GMT</Last-Modified><Etag>0x8DE0060B43C7D38</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>xjIZxoCCxcHEBf711hqZeA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:34:07 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ddb86154-a682-4319-7638-4e695301c2cb/destinationFolder/test-file-1a26fa93-24cd-eed3-1fe7-7736718313b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060B482119D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ddb86154-a682-4319-7638-4e695301c2cb/destinationFolder/bar/test-file-c5199a65-6bb2-6bd3-4833-7457e1482357",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060B48AE156\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ddb86154-a682-4319-7638-4e695301c2cb/destinationFolder/test-file-1a26fa93-24cd-eed3-1fe7-7736718313b4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed/sourceFolder/test-file-1a26fa93-24cd-eed3-1fe7-7736718313b4?sv=sanitized-value&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060B48FE4C7\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "lwgsamz0cRc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ddb86154-a682-4319-7638-4e695301c2cb/destinationFolder/pik/test-file-f721bd73-4201-58c8-005f-393792fdfa7e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:08 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060B4925306\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ddb86154-a682-4319-7638-4e695301c2cb/destinationFolder/bar/test-file-c5199a65-6bb2-6bd3-4833-7457e1482357?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed/sourceFolder/bar/test-file-c5199a65-6bb2-6bd3-4833-7457e1482357?sv=sanitized-value&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:08 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060B49708B4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "4kJcTBoVtkY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ddb86154-a682-4319-7638-4e695301c2cb/destinationFolder/pik/test-file-f721bd73-4201-58c8-005f-393792fdfa7e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed/sourceFolder/pik/test-file-f721bd73-4201-58c8-005f-393792fdfa7e?sv=sanitized-value&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:08 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060B49C59D9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "FSrKAcVnzOM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ddb86154-a682-4319-7638-4e695301c2cb?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:34:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed/sourceFolder/bar/test-file-c5199a65-6bb2-6bd3-4833-7457e1482357?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Z2S684xUwxwnLdl4omS8RA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060B44EDF25\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed/sourceFolder/bar/test-file-c5199a65-6bb2-6bd3-4833-7457e1482357?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060B44EDF25\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060B44EDF25\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-blob-content-md5": "Z2S684xUwxwnLdl4omS8RA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:34:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "vuv4LVcR1LwnRUw5NnCJlIPY4R/3k9q1uEigadOtTKY3xQqfZMZqVMZcnm0fmTTXqt/TCWYDYCoQQnQOcWrpefilAnFl6jC9bY1YmvRtlh8TyL/z2kNAM2XgjiFSW+JccyV0epbDcr+vFpvYqsU1o6xU+6iq9Z61Zc8MhFwPahKq/CfP+ByIT1YARMSoZ4ifqup0/V86sX2GvxTHtu1jn6uILa6eZquQy6tRqrHaDf5Gbdpxmm2ycEuqSDkHwZhonKQYHznaAEQ/5DG06AfMrLEWgEkT8QQ+1b1j9B1xiAoS6Q0Mwe3EbGyVMrY7/odD3pyH8UBPVaug2kp7dwwnzVsmof/6v+rDURTdfr9NA9Y2HxWB6ZfKw5RhbOejSfVfbmRbFF2HSB6xxJ8rcdbrUtZzRVf3peTEXN1rmFMCHwgffhBb8u55rtb30CX3nlK9dhoRMASdaMh/l7d/HLDKr6SXC/LGkF/o+paA/9W+zL2LriI58e8EgRZH21o2+ZImLSCBX5Nf9ua6KDZtHWnzwcr6826NkL20k4ncf7QEsQADWdG0PWwqLLc8f8i5lmStVBqPPAUkmZxizMwJgncxtXc1acOXPoRez8e2URH1+/wlLyqadHT638A0UXCfIao/C8lQgyyhFRWWMWw+bUeLbdDQ41NMlkACOooDYuwTvq4="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c32ce965-6197-c28a-7c0f-317ea1d5f8ed?sv=Sanitized&se=2025-10-01T20%3A34%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4a5ce7f8-201e-002f-7d49-32ad7f000000\n",
        "Time:2025-09-30T20:34:09.8673526Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:34:07.3369418-07:00",
    "RandomSeed": "1831799212",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
