{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61DC5B0CE\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/item1?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "3xRvMrZVnhnfav3juLkjIr/EFNS9InvndgPdBayB5MpVj8HNso75V3I+Q0UZ3dhQ7qWDw7CeIb2YiLyzeJhtXoYyjSj4VXAxyrxhf942zZgrjBcH/SAat20DNSrSRt7Z0eW/5lCvWJg0UvnzPKLfYbojh+yBZmBlGNW69CBGXoTeh674d+ZIezN+0qonJ3vLJNNvrr7yWGqFWc569GR47vN0FLT05urU2gy4A5O1PvFa79BN1rDG6y9Dcx0YzobPBuO3shLH1j3om9OxOVTXzxrcHwWTKxdDrimEsXPMuwyF6f2v/ozfkhiSZDvcFLLaa6MDPK6BO9vMcwPpQyXKG9/HLFBXJ9CO/IzsAcbcZpp2qUXPyX9dBK0i44qI9k/zyElbFehigkTSdD8hlToU7w1pcpng+lFgaSiiNUN[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61DE0CE12\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:16:13.4229522Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b/destPrefix/item1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "nfZlZp0wbZlXeY3XHFBKoNNwN3Z1jpJ8X7s/6m5SXobz8L4wg4ticoas3d8yGMqR4jezi4AkQA9j6Qfh8YIrBRoH4yuRGR1IDsXvyLGySkbxrQg2n9MFz6+vzZqEgIEEgdjFKjWe/8kaany7NHddsZ/A8ER59WZHAhR74kyCw45D60fZ7R8RUq0/GzRWSZo4URz7xI89ioxxfScgIh19mKbud0kwhMN/rp2WOtox8bh6Q5Awh//+BmC6Z2/38DCPwoKNZ9FQCM1YexXypk+yP4xvpt+NTBCm73HpdR1Th75tB3hXpInnKTvC1wvqDGAQCCfjiElRAXVy5nhgZ5OvBfRWhZ7XW5sDh32kynUEu+MR2Gz1cP50HAYD5L0Rh8KnEtIXk4fBOa2L3wHMrDYAbSqUT44mupT[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/test-file-acba06ef-1cf3-bd6a-91fb-e17660806137?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/bar/test-file-6bdddea6-9123-10b9-195e-716ede74471d?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/pik/test-file-c384887c-8656-4d69-bade-7138e2201d1e?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-6bdddea6-9123-10b9-195e-716ede74471d</Name><VersionId>2025-02-22T00:16:13.5588754Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:16:13 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:16:13 GMT</Last-Modified><Etag>0x8DD52D61DF58B92</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>kN0kt6+LrUiZXBHxKNjNww==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:16:13 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Sat, 22 Feb 2025 00:16:13 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><VersionId>2025-02-22T00:16:13.3649854Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:16:13 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:16:13 GMT</Last-Modified><Etag>0x8DD52D61DD7F5BE</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>E60/w+w5EN2xrBtfvld0uQ==</Conten[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b/destPrefix/bar/test-file-6bdddea6-9123-10b9-195e-716ede74471d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61E11E90C\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:16:13.7447692Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b/destPrefix/test-file-acba06ef-1cf3-bd6a-91fb-e17660806137",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61E12AC3B\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:16:13.7497659Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b/destPrefix/pik/test-file-c384887c-8656-4d69-bade-7138e2201d1e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61E12852E\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:16:13.7487662Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b/destPrefix/test-file-acba06ef-1cf3-bd6a-91fb-e17660806137?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/test-file-acba06ef-1cf3-bd6a-91fb-e17660806137?sv=sanitized-value&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61E1A734B\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "EpMNCBA3zwY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b/destPrefix/pik/test-file-c384887c-8656-4d69-bade-7138e2201d1e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/pik/test-file-c384887c-8656-4d69-bade-7138e2201d1e?sv=sanitized-value&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61E1A9A53\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "pBDo70lSanU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b/destPrefix/bar/test-file-6bdddea6-9123-10b9-195e-716ede74471d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/bar/test-file-6bdddea6-9123-10b9-195e-716ede74471d?sv=sanitized-value&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61E1C47C4\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Q6pDoyPx5ZY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8bd6a48e-26ac-055a-4481-73c0e515452b?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:16:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/bar/test-file-6bdddea6-9123-10b9-195e-716ede74471d?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "kN0kt6+LrUiZXBHxKNjNww==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D61DF58B92\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:16:13.5588754Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189/sourceFolder/bar/test-file-6bdddea6-9123-10b9-195e-716ede74471d?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D61DF58B92\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D61DF58B92\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-blob-content-md5": "kN0kt6+LrUiZXBHxKNjNww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:16:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6eadd327-acaa-0dfc-b2a0-a54b4b2e8189?sv=Sanitized&se=2025-02-23T00%3A16%3A13Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:422839c1-101e-0007-06be-84b6a1000000\n",
        "Time:2025-02-22T00:16:15.2582160Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:16:13.2786811-08:00",
    "RandomSeed": "1803347155",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
