{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D613C2F154\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355/sourceFolder/test-file-498fae2d-8673-512a-d8ea-876727759247?sv=Sanitized&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "+9DnJS8P+edTguSSl/U24Jza0BXA8WGpZiWl6w4GqRBe0mtWjm0YIfm9xoCftdGuUZeHzfZ39ApvPb8Kag7YTNjTNMWJ4FEvwq8cAirgCrBT95p3ftwa595g51GtDbfq5Xqoy4EMJHFFWAtGW/HgjjMOtnJzYc78uUzmKfgAgbT4MRywOD4vR9IpMSbR04zsf1gdn1dEd4SrrBE0Jvt4RdZWTinVMFb0326gSi+nKubA+amf4uFctLqYBIwt+iHWsetPeoRiF08CKcDooyxUBIEqcyxR2GP0+ZpvPCzKx+RNyZlEWLBiXuFanbkhcxCNQwAKAob0hNmIWoHq8tsiOGHbm9mTEKvRyBVK9zqp0oWJ4vgsv8VeWUTAu/0vd2wGN2RXRtg2+jNUOTlxqo2e3of7YBDi9nmcfEKV0lSuolGpQ8DWUoytU+fE14WL7a+3Itx1MxdcJEDrusmWoSffpZfox2bNyIz7TgwoHR7zEY+T3bB3OG45TR9/6pjCFrK/5THuoyVI6lpQeuUKMwch96k6A8R3Z20ornpHTd3zODdaaDfsBW1pSvJWJ76JLxkYXfLuiBPtSH7ExfSrAZx8XEGtr8vPNfI70LjRIECun39gL/DqBLAjbCC5KD95vklW2cp8239OSCgAs7hbHCc+FSV1S9KrkleRikOqFQyywhI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "0weiHny9DeenkaU9ECeSqg==",
        "ETag": "\"0x8DD52D613D68E63\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-content-crc64": "6NxEO5N8ZVw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:56.5785699Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355/sourceFolder/bar/test-file-7489fb84-740f-69fc-2494-7d7e8c6a986e?sv=Sanitized&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355/sourceFolder/pik/test-file-4aad440c-9c29-91a2-ca5c-2ce6271b6560?sv=Sanitized&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355?sv=Sanitized&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-292cddad-92d3-9ec7-c348-cba2aee7f355\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-7489fb84-740f-69fc-2494-7d7e8c6a986e</Name><VersionId>2025-02-22T00:15:56.6835096Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:15:56 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:15:56 GMT</Last-Modified><Etag>0x8DD52D613E66A89</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>HDzz96WxqfGkScalJn0AcQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:15:56 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Sat, 22 Feb 2025 00:15:56 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-4aad440c-9c29-91a2-ca5c-2ce6271b6560</Name><VersionId>2025-02-22T00:15:56.7274842Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:15:56 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:15:56 GMT</Last-Modified><Etag>0x8DD52D613ED475A</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a07fa11c-5c6e-668a-068a-601297d740c5/destinationFolder/bar/test-file-7489fb84-740f-69fc-2494-7d7e8c6a986e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D614007E6F\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:56.8534127Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a07fa11c-5c6e-668a-068a-601297d740c5/destinationFolder/pik/test-file-4aad440c-9c29-91a2-ca5c-2ce6271b6560",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D614011A93\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:56.8574099Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a07fa11c-5c6e-668a-068a-601297d740c5/destinationFolder/test-file-1aa4f330-8403-6948-a388-7724a8c78cb4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D6140168A8\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:56.8594088Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a07fa11c-5c6e-668a-068a-601297d740c5/destinationFolder/bar/test-file-7489fb84-740f-69fc-2494-7d7e8c6a986e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355/sourceFolder/bar/test-file-7489fb84-740f-69fc-2494-7d7e8c6a986e?sv=sanitized-value&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61408E1A1\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iDk+rvXkKAI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a07fa11c-5c6e-668a-068a-601297d740c5/destinationFolder/pik/test-file-4aad440c-9c29-91a2-ca5c-2ce6271b6560?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355/sourceFolder/pik/test-file-4aad440c-9c29-91a2-ca5c-2ce6271b6560?sv=sanitized-value&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D61408E1A1\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "xZoEdwETNZI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a07fa11c-5c6e-668a-068a-601297d740c5/destinationFolder/test-file-1aa4f330-8403-6948-a388-7724a8c78cb4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355/sourceFolder/test-file-1aa4f330-8403-6948-a388-7724a8c78cb4?sv=sanitized-value&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D6140908AD\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "+e7WtSrxLxQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355?sv=Sanitized&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a07fa11c-5c6e-668a-068a-601297d740c5?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:15:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355/sourceFolder/bar/test-file-7489fb84-740f-69fc-2494-7d7e8c6a986e?sv=Sanitized&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "HDzz96WxqfGkScalJn0AcQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D613E66A89\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:56.6835096Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355/sourceFolder/bar/test-file-7489fb84-740f-69fc-2494-7d7e8c6a986e?sv=Sanitized&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D613E66A89\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D613E66A89\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-blob-content-md5": "HDzz96WxqfGkScalJn0AcQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:15:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:15:56.6835096Z"
      },
      "ResponseBody": "iox/HZYTidG2uAkjZ/gMphtlGnpi9kBQrJuWNxq0XYN8JaJVyZx5cHG4vVZq2QIsh9ZjJk8eDJNLLnD7fFK2AluFpkFVt9x+7KkIqTnq5tKYaq9DUTY0XRkPCZsrffMfAbv75DPA18/55DqlFmJZYEieYxKic7EkUUgoRa5BUm626ad97wGf15PgSWz8jke2tahTjRrhfI4K15LqmJEguJHL7yy73HFG/ot/wSlEJ8MBcpAF7sRT1GwYcxhutT8Cv5HaMZ4a+tk2DI+PYrplxa/P6SUBG8nNdxvAomhZ2EhLfQKXafYl5ne2zuE0xHKys61on8wZAKTHDbmDWldx3TRGQ+W4zVy5qgKtSkzomLOoDe+68Th8MXxdz1s9oYsgRfGs7oCN+eVRrvTJbLZY33UF2kxotuv7yhFoWv0AfAh2jQRaO6ozGxMJaUJEssXFBfDmN8Y/t48GsSNuJJ7oUDLrU96x/qPL0r84X0yotxdMo1UNGkRBN9V1U4qGxPZ1IRkQWF/mEwdNGmQHBlhCXfkMIoFI2jXtqhsIPKoYRA7Iwz4zmF63ZY9OwADgOjF9MvaReaF1LEbjIq5D3tddNNVWPkIZD8SaVL3x+ho1DW/qigmzh8psUpf4T3WwdIa38YsqifvuYyIx9iXkgzIrrhU+WVPNqawK6eurIcBO6uA="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-292cddad-92d3-9ec7-c348-cba2aee7f355?sv=Sanitized&se=2025-02-23T00%3A15%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c81d1d89-a01e-003d-36be-84acd9000000\n",
        "Time:2025-02-22T00:15:58.3152048Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:15:56.4850927-08:00",
    "RandomSeed": "90013240",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
