{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060D75427E5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04/sourceFolder/test-file-bed9a161-3eeb-c9bf-0012-b9689c9c7462?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "u6Ls5+jcXJvcCmN/5krgNKS9SBT/kUWtb2w4OTRhUBQP4K35r4x6cZExkflRsoU70dW5uqPu2ipcP3h7oyJmerpOcAac5oUXQ9eCzf9LW73m/Whfp5ZxIAaCnXAU/s1uyhY/AkJ/nupQoXbMbAwqEeO6lKa6B9Mk3U8AGUkUA0QJEwLpDFl6Z159DwUfpbT5WIyNWWontMNCGyTyfoShO54xwlgKQASKQC1IPfjNBTibB8G8hqna4l8+pvA0h+jZ29Nm7eJb7hiHAxk83nbKdRbsV3fD5LX1V+D4y5kUVbhFb2ElZhdWPxioNYOPngPodDHaSDBwFfYecZYBYyN+c61g924VpQ7+lhheG68xZbjcD1doOQ2I1FpqB/WBVNz1KsLVL6eU084j27IXEvpH7AvdJVPLFjmf2CIUqp4[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04/sourceFolder/bar/test-file-904918c9-46b0-ffda-6c31-4784b13d29ea?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04/sourceFolder/pik/test-file-f649ae5c-9d7b-33d9-fb4c-96fb14a1584a?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-997ccaed-db9a-000f-6d0a-0d33968edc04\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-6dcdee4e-b404-6c32-85b2-0a5e78ec02d9</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:35:06 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:35:06 GMT</Last-Modified><Etag>0x8DE0060D7793D7A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>ZystQh/Cl3Ni0dl3l7XtFQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:35:06 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-bed9a161-3eeb-c9bf-0012-b9689c9c7462</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:35:06 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:35:06 GMT</Last-Modified><Etag>0x8DE0060D7709495</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>AGyJqK9rC69K9AEuq2eqvA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:35:06 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e178362-8822-feea-23e9-36a609d818c4/destinationFolder/test-file-bed9a161-3eeb-c9bf-0012-b9689c9c7462",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060D7B31F2C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e178362-8822-feea-23e9-36a609d818c4/destinationFolder/test-file-bed9a161-3eeb-c9bf-0012-b9689c9c7462?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04/sourceFolder/test-file-bed9a161-3eeb-c9bf-0012-b9689c9c7462?sv=sanitized-value&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060D7BED1E3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "TsIHV1YXOkM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e178362-8822-feea-23e9-36a609d818c4/destinationFolder/bar/test-file-904918c9-46b0-ffda-6c31-4784b13d29ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060D7BFE218\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e178362-8822-feea-23e9-36a609d818c4/destinationFolder/pik/test-file-f649ae5c-9d7b-33d9-fb4c-96fb14a1584a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060D7C72CE1\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e178362-8822-feea-23e9-36a609d818c4/destinationFolder/bar/test-file-904918c9-46b0-ffda-6c31-4784b13d29ea?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04/sourceFolder/bar/test-file-904918c9-46b0-ffda-6c31-4784b13d29ea?sv=sanitized-value&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060D7C99B29\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "aASy47HBr4Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e178362-8822-feea-23e9-36a609d818c4/destinationFolder/pik/test-file-f649ae5c-9d7b-33d9-fb4c-96fb14a1584a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04/sourceFolder/pik/test-file-f649ae5c-9d7b-33d9-fb4c-96fb14a1584a?sv=sanitized-value&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060D7D0714B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "KIMGkNIi4mk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e178362-8822-feea-23e9-36a609d818c4?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:35:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04/sourceFolder/bar/test-file-904918c9-46b0-ffda-6c31-4784b13d29ea?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "JtnDbZnwReHReDC407w8Hw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060D7820D2F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04/sourceFolder/bar/test-file-904918c9-46b0-ffda-6c31-4784b13d29ea?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060D7820D2F\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060D7820D2F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-blob-content-md5": "JtnDbZnwReHReDC407w8Hw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:35:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "ypKyMxtN1ggYgzWBpJCH3RYH0kFREopCR4cJ5[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-997ccaed-db9a-000f-6d0a-0d33968edc04?sv=Sanitized&se=2025-10-01T20%3A35%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0ebc82ed-d01e-0066-3049-32ef94000000\n",
        "Time:2025-09-30T20:35:08.9823730Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:35:06.3882084-07:00",
    "RandomSeed": "1738082679",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
