{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D110B8FF377\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948/sourceFolder/test-file-f5cf634d-9715-a995-9918-82f956f5cb32?sv=Sanitized&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "mXu/elLgV6nc9mWUMImmG4yROwK7Oy0EtCn1T9elwtxdm+BtLOAcbAslGR8yAHkPcmdsxLnIdl1Ou8Yp6wjSNjOIN5WpOO6sdc/3lSIN0bOv5d1wOf0ilSSDH3Ea8oEDU+LrqcnkZjl4v0/q0OA6QOkSeQUqYv01ZqFwJRh9koJN80JAISjqy36j93muN8RDSN+ICHl72PHktkMnc0Ah+y3MnNye+h/BJ62Gh2qDhy7dLd059IoJ0hpQW2vkw1c+gvtM4ZrnpU3Ax+DL9FGGYS4VSkZj5waiw8rCTZ6z3GRWSARvNqaT9YiPeS2qPd7Jyfo8z3gR2pv1qh3QJVevDOp7datMFyuIgVS+023Y+IXs+IOkdgzrRG1peYyIws8x4G1DLsgyfLLPtE0jUwctHLGX5CzTCpXdkDA9452[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948/sourceFolder/bar/test-file-2bb7397b-e61c-7275-d091-18d51d33e72c?sv=Sanitized&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948/sourceFolder/pik/test-file-ffba4f78-f4e5-9c64-652a-0bdcd61f3348?sv=Sanitized&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948?sv=Sanitized&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-2bb7397b-e61c-7275-d091-18d51d33e72c</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:43:14 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:43:14 GMT</Last-Modified><Etag>0x8DD5D110BB58FE6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>gpsitoH73NBQFJAKhGjEsA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:43:14 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-ffba4f78-f4e5-9c64-652a-0bdcd61f3348</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:43:14 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:43:14 GMT</Last-Modified><Etag>0x8DD5D110BBE38B7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>h6k1eYWHoKuriGtZg985RA==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8aa89da7-57e0-317f-bdca-bd5bc32670c0/destPrefix/test-file-f5cf634d-9715-a995-9918-82f956f5cb32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D110BDB8AE5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8aa89da7-57e0-317f-bdca-bd5bc32670c0/destPrefix/bar/test-file-2bb7397b-e61c-7275-d091-18d51d33e72c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D110BDC4D5D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8aa89da7-57e0-317f-bdca-bd5bc32670c0/destPrefix/pik/test-file-ffba4f78-f4e5-9c64-652a-0bdcd61f3348",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D110BDC9B25\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8aa89da7-57e0-317f-bdca-bd5bc32670c0/destPrefix/test-file-f5cf634d-9715-a995-9918-82f956f5cb32?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948/sourceFolder/test-file-f5cf634d-9715-a995-9918-82f956f5cb32?sv=sanitized-value&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D110BE5B8AD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "G2uFOcUVLeE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8aa89da7-57e0-317f-bdca-bd5bc32670c0/destPrefix/bar/test-file-2bb7397b-e61c-7275-d091-18d51d33e72c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948/sourceFolder/bar/test-file-2bb7397b-e61c-7275-d091-18d51d33e72c?sv=sanitized-value&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D110BE5DF8F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "ED6bNcdPl/k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8aa89da7-57e0-317f-bdca-bd5bc32670c0/destPrefix/pik/test-file-ffba4f78-f4e5-9c64-652a-0bdcd61f3348?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948/sourceFolder/pik/test-file-ffba4f78-f4e5-9c64-652a-0bdcd61f3348?sv=sanitized-value&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D110BE62D55\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "ugV0D/Um6nM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948?sv=Sanitized&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8aa89da7-57e0-317f-bdca-bd5bc32670c0?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:43:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948/sourceFolder/bar/test-file-2bb7397b-e61c-7275-d091-18d51d33e72c?sv=Sanitized&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "gpsitoH73NBQFJAKhGjEsA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D110BB58FE6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:14 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:43:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948/sourceFolder/bar/test-file-2bb7397b-e61c-7275-d091-18d51d33e72c?sv=Sanitized&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D110BB58FE6\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D110BB58FE6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:43:14 GMT",
        "x-ms-blob-content-md5": "gpsitoH73NBQFJAKhGjEsA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:43:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "UFvjaojUYMz+iW2vtHBByqTpnzBQf6k2OKJge[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-246b1cbc-5fc6-9da1-d2e8-f97e89178948?sv=Sanitized&se=2025-03-08T00%3A43%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:f2c5a6ed-401e-0064-65f9-8e512c000000\n",
        "Time:2025-03-07T00:43:16.9807868Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:43:14.6800943-08:00",
    "RandomSeed": "58536918",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
