{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-02-20T06:36:45.5629422Z",
          "Owners": "jairmyree"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "89043ce6-953e-49ae-8786-1f0620bc2e4c",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G1|2026-02-20T01:35:01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "westus",
        "tags": {
          "environment": "test",
          "updated": "true"
        },
        "properties": {
          "errors": [],
          "geoDataReplication": {
            "maxReplicationLagDurationInSeconds": 0,
            "locations": [
              {
                "locationName": "westus",
                "roleType": "Primary",
                "replicaState": "Ready"
              }
            ]
          },
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2026-02-19T18:36:57.1394099Z",
          "updatedAt": "2026-02-19T18:44:39Z",
          "metricId": "00000000-0000-0000-0000-000000000000:Sanitized",
          "serviceBusEndpoint": "https://Sanitized.servicebus.windows.net:443/"
        },
        "sku": {
          "name": "Sanitized",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-create-eventhub?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-messaging-activity-id": "47547665-5738-49e1-8578-7031f784fb9e",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G3|2026-02-20T01:35:02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "error": {
          "code": "EntityNotFound",
          "message": "EventHub entity does not exist"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-create-eventhub?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partitionCount": 2,
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 1
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "f5bd0781-22f0-4947-9bdf-e17d606a31b6",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G4|2026-02-20T01:35:07",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-create-eventhub",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "westus",
        "properties": {
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 1
          },
          "messageRetentionInDays": 1,
          "partitionCount": 2,
          "status": "Active",
          "createdAt": "2026-02-20T01:35:06.643Z",
          "updatedAt": "2026-02-20T01:35:06.917Z",
          "partitionIds": [
            "0",
            "1"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-create-eventhub?api-version=2024-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-messaging-activity-id": "00000001-0000-0000-0002-000000001224",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G2|2026-02-20T01:35:10",
        "x-ms-ratelimit-remaining-subscription-deletes": "199",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "2999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
