{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-02-20T06:36:45.5629422Z",
          "Owners": "jairmyree"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "environment": "test",
          "updated": "true"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "fbdbeee5-7eb1-4a30-a9d6-83326c9693dd",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G4|2026-02-20T01:35:17",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "westus",
        "tags": {
          "environment": "test",
          "updated": "true"
        },
        "properties": {
          "errors": [],
          "geoDataReplication": {
            "maxReplicationLagDurationInSeconds": 0,
            "locations": [
              {
                "locationName": "westus",
                "roleType": "Primary",
                "replicaState": "Ready"
              }
            ]
          },
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2026-02-19T18:36:57.1394099Z",
          "updatedAt": "2026-02-19T18:44:39Z",
          "metricId": "00000000-0000-0000-0000-000000000000:Sanitized",
          "serviceBusEndpoint": "https://Sanitized.servicebus.windows.net:443/"
        },
        "sku": {
          "name": "Sanitized",
          "tier": "Standard",
          "capacity": 1
        }
      }
    }
  ],
  "Variables": {}
}
