{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-02-21T03:57:53.6655179Z",
          "Owners": "jairmyree"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "917fa5db-7c8b-4fbc-b8c8-b411fe5bb48d",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G4|2026-02-20T16:05:58",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "westus",
        "tags": {
          "environment": "test",
          "updated": "true"
        },
        "properties": {
          "errors": [],
          "geoDataReplication": {
            "maxReplicationLagDurationInSeconds": 0,
            "locations": [
              {
                "locationName": "westus",
                "roleType": "Primary",
                "replicaState": "Ready"
              }
            ]
          },
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2026-02-19T18:36:57.1394099Z",
          "updatedAt": "2026-02-20T16:04:56Z",
          "metricId": "00000000-0000-0000-0000-000000000000:Sanitized",
          "serviceBusEndpoint": "https://Sanitized.servicebus.windows.net:443/"
        },
        "sku": {
          "name": "Sanitized",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-messaging-activity-id": "50e6c13e-c797-4c7e-b9d1-53ea95f92679",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G3|2026-02-20T16:05:58",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-hub",
            "name": "Sanitized",
            "type": "Microsoft.EventHub/namespaces/eventhubs",
            "location": "westus",
            "properties": {
              "retentionDescription": {
                "cleanupPolicy": "Delete",
                "retentionTimeInHours": 24
              },
              "messageRetentionInDays": 1,
              "partitionCount": 4,
              "status": "Active",
              "createdAt": "2026-02-20T15:58:43.6",
              "updatedAt": "2026-02-20T15:58:43.88",
              "partitionIds": [
                "0",
                "1",
                "2",
                "3"
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
