{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-02-20T06:36:45.5629422Z",
          "Owners": "jairmyree"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "cdb99487-a0ba-44a7-966e-5df35d742106",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G2|2026-02-19T20:53:43",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "westus",
        "tags": {
          "environment": "test",
          "updated": "true"
        },
        "properties": {
          "errors": [],
          "geoDataReplication": {
            "maxReplicationLagDurationInSeconds": 0,
            "locations": [
              {
                "locationName": "westus",
                "roleType": "Primary",
                "replicaState": "Ready"
              }
            ]
          },
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2026-02-19T18:36:57.1394099Z",
          "updatedAt": "2026-02-19T18:44:39Z",
          "metricId": "00000000-0000-0000-0000-000000000000:Sanitized",
          "serviceBusEndpoint": "https://Sanitized.servicebus.windows.net:443/"
        },
        "sku": {
          "name": "Sanitized",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-get-eventhub?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partitionCount": 2,
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 1
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "4b5e0e31-3f67-44f4-b8a2-a9a22155d57f",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G2|2026-02-19T20:53:45",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-get-eventhub",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "westus",
        "properties": {
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 1
          },
          "messageRetentionInDays": 1,
          "partitionCount": 2,
          "status": "Active",
          "createdAt": "2026-02-19T20:53:44.97Z",
          "updatedAt": "2026-02-19T20:53:45.163Z",
          "partitionIds": [
            "0",
            "1"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-get-eventhub/consumergroups/test-get-cg?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "userMetadata": "Test consumer group for get operation"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "20887d5c-0716-430c-b860-25dc50a99550",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G3|2026-02-19T20:53:50",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-get-eventhub/consumergroups/test-get-cg",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
        "location": "westus",
        "properties": {
          "createdAt": "2026-02-19T20:53:50.3181149Z",
          "updatedAt": "2026-02-19T20:53:50.3181149Z",
          "userMetadata": "Test consumer group for get operation"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-get-eventhub?api-version=2024-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-messaging-activity-id": "00000001-0000-0000-0002-000000001224",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G2|2026-02-19T20:53:55",
        "x-ms-ratelimit-remaining-subscription-deletes": "199",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "2999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
