{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-01-06T12:17:58.6192842Z",
          "Owners": "vigera"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "5ea52353-9560-4ec2-9d74-ca8eb517d7db",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G4|2026-01-06T06:27:23",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "westus",
        "tags": {
          "environment": "test",
          "updated": "true"
        },
        "properties": {
          "errors": [],
          "geoDataReplication": {
            "maxReplicationLagDurationInSeconds": 0,
            "locations": [
              {
                "locationName": "westus",
                "roleType": "Primary",
                "replicaState": "Ready"
              }
            ]
          },
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2025-12-31T09:03:22.9357134Z",
          "updatedAt": "2026-01-06T01:59:47Z",
          "metricId": "00000000-0000-0000-0000-000000000000:Sanitized",
          "serviceBusEndpoint": "https://Sanitized.servicebus.windows.net:443/"
        },
        "sku": {
          "name": "Sanitized",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-delete-eventhub?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partitionCount": 2,
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 1
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "7b4608c0-2606-4eb5-9bc1-c0956acde9d5",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G2|2026-01-06T06:27:25",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-delete-eventhub",
        "name": "Sanitized",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "westus",
        "properties": {
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 1
          },
          "messageRetentionInDays": 1,
          "partitionCount": 2,
          "status": "Active",
          "createdAt": "2026-01-06T06:27:24.893Z",
          "updatedAt": "2026-01-06T06:27:25.32Z",
          "partitionIds": [
            "0",
            "1"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-delete-eventhub/consumergroups/nonexistent-cg?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-messaging-activity-id": "79ead27e-92d3-433d-9652-e71b5105723e",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G0|2026-01-06T06:27:31",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "error": {
          "code": "ConsumerGroupNotFound",
          "message": "Consumer Group does not exist"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventHub/namespaces/Sanitized/eventhubs/test-cg-delete-eventhub?api-version=2024-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-messaging-activity-id": "00000001-0000-0000-0002-000000000604",
        "x-ms-messaging-routing-id": "PROD|WESTUS|WESTUS|G2|2026-01-06T06:27:32",
        "x-ms-ratelimit-remaining-subscription-deletes": "199",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "2999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
