{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe/recoveryJobs/d067f636-377e-495a-a256-5352f5287aea?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4300eaf4-0000-2300-0000-6a42348d0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe/recoveryJobs/d067f636-377e-495a-a256-5352f5287aea",
        "name": "Sanitized",
        "type": "microsoft.azureresiliencemanagement/recoveryplans/recoveryjobs",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2026-06-29T09:01:29.3117457Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2026-06-29T09:02:03.5107331Z"
        },
        "properties": {
          "jobType": "RecoveryPlan",
          "executionConfigurations": null,
          "provisioningState": "Succeeded",
          "status": "Failed",
          "startTime": "2026-06-29T09:01:28.8978239Z",
          "endTime": "2026-06-29T09:02:02.9829365Z",
          "duration": "PT34.0851126S",
          "errorDetails": {
            "errorCode": "RHUBUserErrorAzureResourceAddedToServiceGroup",
            "errorMessage": "The Azure resource is either recently added or discovered to the ServiceGroup application.",
            "recommendations": [
              "Please take necessary action to include or exclude resource. If the issue persists, contact support for further assistance."
            ]
          },
          "resourceId": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe",
          "operation": "CheckRecoveryPlanReadiness",
          "retryDetails": null,
          "jobExtendedInfo": {
            "tasksList": [
              {
                "status": "Completed",
                "startTime": "2026-06-29T09:01:28.8978239Z",
                "endTime": "2026-06-29T09:02:00.6494381Z",
                "duration": "PT31.7516142S",
                "errorDetails": null,
                "taskId": "abe1ef5b-e9b2-4b0f-bf3c-d827aa125554",
                "taskName": "ProtectionModificationTask",
                "linkedJobIds": null,
                "userComments": null,
                "subTasksList": null
              },
              {
                "status": "Failed",
                "startTime": "2026-06-29T09:01:28.8978239Z",
                "endTime": "2026-06-29T09:02:00.6494422Z",
                "duration": "PT31.7516183S",
                "errorDetails": {
                  "errorCode": "RHUBUserErrorAzureResourceAddedToServiceGroup",
                  "errorMessage": "The Azure resource is either recently added or discovered to the ServiceGroup application.",
                  [...]
