{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/goalAssignments/gabu66o63kpgvbe?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"25004410-0000-2300-0000-6a4345ea0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/goalAssignments/gabu66o63kpgvbe",
        "name": "Sanitized",
        "type": "microsoft.azureresiliencemanagement/goalassignments",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-06-30T04:27:34.1715365Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2026-06-30T04:28:26.0860795Z"
        },
        "properties": {
          "goalTemplateId": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/goalTemplates/gtbu66o63kpgvbe",
          "goalAssignmentType": "Resiliency",
          "serviceLevelResources": null,
          "provisioningState": "Succeeded",
          "errorDetails": null
        }
      }
    }
  ],
  "Variables": {
    "goalAssignmentName": "gabu66o63kpgvbe",
    "serviceGroupName": "sgrbu66o63kpgvbe"
  }
}
