{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe/recoveryJobs/f25a4221-241c-450d-9255-3538003cee74?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4000aada-0000-2300-0000-6a4346500000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe/recoveryJobs/f25a4221-241c-450d-9255-3538003cee74",
        "name": "Sanitized",
        "type": "microsoft.azureresiliencemanagement/recoveryplans/recoveryjobs",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2026-06-30T04:29:32.7568366Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2026-06-30T04:30:07.4214605Z"
        },
        "properties": {
          "jobType": "RecoveryPlan",
          "executionConfigurations": null,
          "provisioningState": "Succeeded",
          "status": "Failed",
          "startTime": "2026-06-30T04:29:32.1212499Z",
          "endTime": "2026-06-30T04:30:06.9123728Z",
          "duration": "PT34.7911229S",
          "errorDetails": {
            "errorCode": "RHUBUserErrorAzureResourceAddedToServiceGroup",
            "errorMessage": "The Azure resource is either recently added or discovered to the ServiceGroup application.",
            "recommendations": [
              "Please take necessary action to include or exclude resource. If the issue persists, contact support for further assistance."
            ]
          },
          "resourceId": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe",
          "operation": "CheckRecoveryPlanReadiness",
          "retryDetails": null,
          "jobExtendedInfo": {
            "tasksList": [
              {
                "status": "Completed",
                "startTime": "2026-06-30T04:29:32.1212499Z",
                "endTime": "2026-06-30T04:30:04.5029441Z",
                "duration": "PT32.3816942S",
                "errorDetails": null,
                "taskId": "413adde4-c988-4b96-92db-8e447e5260cc",
                "taskName": "ProtectionModificationTask",
                "linkedJobIds": null,
                "userComments": null,
                "subTasksList": null
              },
              {
                "status": "Failed",
                "startTime": "2026-06-30T04:29:32.1212499Z",
                "endTime": "2026-06-30T04:30:04.502946Z",
                "duration": "PT32.3816961S",
                "errorDetails": {
                  "errorCode": "RHUBUserErrorAzureResourceAddedToServiceGroup",
                  "errorMessage": "The Azure resource is either recently added or discovered to the ServiceGroup application.",
                  "[...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe/recoveryJobs/f25a4221-241c-450d-9255-3538003cee74/recoveryJobResources?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe/recoveryJobs/f25a4221-241c-450d-9255-3538003cee74/recoveryJobResources/50bd24dc-1796-442e-8594-48ae4acc20d9",
            "name": "Sanitized",
            "type": "microsoft.azureresiliencemanagement/recoveryplans/recoveryjobs/recoveryjobresources",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2026-06-30T04:30:05.0272915Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2026-06-30T04:30:05.0272915Z"
            },
            "properties": {
              "jobResourceType": "RecoveryPlan",
              "provisioningState": "Succeeded",
              "protectionSolutionType": "None",
              "status": "Failed",
              "startTime": "2026-06-30T04:29:32.1212499Z",
              "endTime": "2026-06-30T04:30:04.5029537Z",
              "duration": "PT32.3817038S",
              "errorDetails": {
                "errorCode": "RHUBUserErrorAzureResourceAddedToServiceGroup",
                "errorMessage": "The Azure resource is either recently added or discovered to the ServiceGroup application.",
                "recommendations": [
                  "Please[...]
