{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/goalTemplates/gtbu66o63kpgvbe?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2500e54f-0000-2300-0000-6a4345af0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/goalTemplates/gtbu66o63kpgvbe",
        "name": "Sanitized",
        "type": "microsoft.azureresiliencemanagement/goaltemplates",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-06-27T09:38:09.772528Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-06-30T04:27:06.5674274Z"
        },
        "properties": {
          "requireHighAvailability": "Required",
          "requireDisasterRecovery": "NotRequired",
          "regionalRecoveryPointObjective": "PT15M",
          "regionalRecoveryTimeObjective": "PT30M",
          "goalType": "Resiliency",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "goalTemplateName": "gtbu66o63kpgvbe",
    "serviceGroupName": "sgrbu66o63kpgvbe"
  }
}
