{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2c00fefc-0000-2300-0000-6a42348f0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe",
        "name": "Sanitized",
        "type": "microsoft.azureresiliencemanagement/recoveryplans",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-06-29T09:00:18.5105289Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2026-06-29T09:02:06.3118799Z"
        },
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "planType": "Zonal",
          "planState": "Warning",
          "planDescription": "Recovery plan for live testing.",
          "recoveryGroupsSetting": {
            "defaultGroup": {
              "properties": {
                "groupUniqueId": "ed9f991c-906b-4aa8-845f-59b376fc115c",
                "orderId": 0,
                "description": "Default recovery group",
                "preActions": [],
                "postActions": []
              },
              "id": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe/recoveryGroups/ed9f991c-906b-4aa8-845f-59b376fc115c",
              "name": "Sanitized",
              "type": "Microsoft.AzureResilienceManagement/recoveryPlans/recoveryGroups"
            },
            "additionalGroups": []
          },
          "latestFailoverStatus": null,
          "latestValidationStatus": {
            "lastExecutedAt": "2026-06-29T09:02:05.6332166Z",
            "operationStatus": "ValidationFailed",
            "errorDetails": {
              "code": "RHUBUserErrorAzureResourceAddedToServiceGroup",
              "message": "The Azure resource is either recently added or discovered to the ServiceGroup application. Please take necessary action to include or exclude resource. If the issue persists, contact support for further assistance.",
              "target": "/providers/Microsoft.Management/serviceGroups/sgrbu66o63kpgvbe/providers/Microsoft.AzureResilienceManagement/recoveryPlans/rpbu66o63kpgvbe",
              "details": null,
              "additionalInfo": null
            }
          },
          "errorDetails": null
        }
      }
    }
  ],
  "Variables": {
    "recoveryPlanName": "rpbu66o63kpgvbe",
    "serviceGroupName": "sgrbu66o63kpgvbe"
  }
}
