{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AzureResilienceManagement/usagePlans/upbu66o63kpgvbe?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1900687e-0000-2300-0000-6a4345440000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/t-lsingal-Sanitized/providers/Microsoft.AzureResilienceManagement/usagePlans/upbu66o63kpgvbe",
        "name": "Sanitized",
        "type": "microsoft.azureresiliencemanagement/usageplans",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-06-26T05:20:16.8388065Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-06-30T04:25:05.0737543Z"
        },
        "properties": {
          "planType": "Standard",
          "provisioningState": "Succeeded",
          "errorDetails": null
        }
      }
    }
  ],
  "Variables": {
    "resourceGroupName": "t-lsingal-mcp83aae8a9",
    "usagePlanName": "upbu66o63kpgvbe"
  }
}
