{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_12437e923dd94c2cbb3c8634220f90f8?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Source analyzer for cross-resource copying",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "estimateFieldSourceAndConfidence": true
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_12437e923dd94c2cbb3c8634220f90f8/operations/ac3671b7-8470-4844-90d4-c5596f5130de?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_source_12437e923dd94c2cbb3c8634220f90f8",
        "description": "Source analyzer for cross-resource copying",
        "createdAt": "2025-11-25T08:49:39Z",
        "lastModifiedAt": "2025-11-25T08:49:39Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_12437e923dd94c2cbb3c8634220f90f8/operations/ac3671b7-8470-4844-90d4-c5596f5130de?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "ac3671b7-8470-4844-90d4-c5596f5130de",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_source_12437e923dd94c2cbb3c8634220f90f8",
          "description": "Source analyzer for cross-resource copying",
          "createdAt": "2025-11-25T08:49:39Z",
          "lastModifiedAt": "2025-11-25T08:49:39Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": false,
            "enableFigureDescription": [...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_12437e923dd94c2cbb3c8634220f90f8:grantCopyAuthorization?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetAzureResourceId": "Sanitized",
        "targetRegion": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetAzureResourceId": "Sanitized",
        "targetRegion": "Sanitized",
        "expiresAt": "2025-11-26T08:49:44.1432751+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_4cbb28c67634e64762ee3aa0fbacd1eb:copy?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceAzureResourceId": "Sanitized",
        "sourceRegion": "Sanitized",
        "sourceAnalyzerId": "test_analyzer_source_12437e923dd94c2cbb3c8634220f90f8"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "operation-location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_4cbb28c67634e64762ee3aa0fbacd1eb/operations/2d1f7ac2-2ad6-4818-b5c0-32478cf02b0d?api-version=2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_target_4cbb28c67634e64762ee3aa0fbacd1eb",
        "description": "Source analyzer for cross-resource copying",
        "createdAt": "2025-11-25T08:49:45Z",
        "lastModifiedAt": "2025-11[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_4cbb28c67634e64762ee3aa0fbacd1eb/operations/2d1f7ac2-2ad6-4818-b5c0-32478cf02b0d?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "ap[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_4cbb28c67634e64762ee3aa0fbacd1eb?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONTENTUNDERSTANDING_ENDPOINT": "https://sanitized.services.ai.azure.com/",
    "grantCopySourceAnalyzerId": "test_analyzer_source_12437e923dd94c2cbb3c8634220f90f8",
    "grantCopyTargetAnalyzerId": "test_analyzer_target_4cbb28c67634e64762ee3aa0fbacd1eb",
    "RandomSeed": "618119244",
    "SOURCE_REGION": "Sanitized",
    "SOURCE_RESOURCE_ID": "Sanitized",
    "TARGET_ENDPOINT": "https://sanitized.services.ai.azure.com/",
    "TARGET_KEY": null,
    "TARGET_REGION": "Sanitized",
    "TARGET_RESOURCE_ID": "Sanitized"
  }
}
