{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Custom analyzer for extracting company information",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            },
            "document_summary": {
              "method": "generate",
              "type": "string",
              "description": "A brief summary of the document content"
            },
            "document_type": {
              "method": "classify",
              "type": "string",
              "description": "Type of document",
              "enum": [
                "invoice",
                "receipt",
                "contract",
                "report",
                "other"
              ]
            }
          }
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9/operations/8b3bfb29-810e-495c-969d-715157313cda?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9",
        "description": "Custom analyzer for extracting company information",
        "createdAt": "2025-11-25T08:02:41Z",
        "lastModifiedAt": "2025-11-25T08:02:41Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": false,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            },
            "document_summary": {
              "type": "string",
              "method": "generate",
              "description": "A brief summary of the document content"
            },
            "document_type": {
              "type": "string",
              "method": "classify",
              "description": "Type of document",
              "enum": [
                "invoice",
                "receipt",
                "contract",
                "report",
                "other"
              ]
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9/operations/8b3bfb29-810e-495c-969d-715157313cda?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "8b3bfb29-810e-495c-969d-715157313cda",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9",
          "description": "Custom analyzer for extracting company information",
          "createdAt": "2025-11-25T08:02:41Z",
          "lastModifiedAt": "2025-11-25T08:02:41Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": false,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription":[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-dotnet/changjian-wang/init-content-understanding-dotnet/ContentUnderstanding.Common/data/invoice.pdf"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/15474bb8-c3e5-4e1d-90b1-117d5235cd9d?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "15474bb8-c3e5-4e1d-90b1-117d5235cd9d",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9",
          "apiVersion": "2025-11-01",
          "createdAt": "2025-11-25T08:02:45Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/15474bb8-c3e5-4e1d-90b1-117d5235cd9d?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "15474bb8-c3e5-4e1d-90b1-117d5235cd9d",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9",
          "apiVersion": "2025-11-01",
          "createdAt": "2025-11-25T08:02:45Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/15474bb8-c3e5-4e1d-90b1-117d5235cd9d?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "15474bb8-c3e5-4e1d-90b1-117d5235cd9d",
        "status": "Succeeded",
        "result": {
          "analyzerId": "test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9",
          "apiVersion": "2025-11-01",
          "createdAt": "2025-11-25T08:02:45Z",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "CONTOSO LTD.\n\n\n# INVOICE\n\nContoso Headquarters\n123 456th St\nNew York, NY, 10001\n\nINVOICE: INV-100\n\nINVOICE DATE: 11/15/2019\n\nDUE DATE: 12/15/2019\n\nCUSTOMER NAME: MICROSOFT CORPORATION\n\nSERVICE PERIOD: 10/14/2019 - 11/14/2019\n\nCUSTOMER ID: CID-12345\n\nMicrosoft Corp\n123 Other St,\nRedmond WA, 98052\n\nBILL TO:\nMicrosoft Finance\n123 Bill St,\nRedmond WA, 98052\n\nSHIP TO:\nMicrosoft Delivery\n123 Ship St,\nRedmond WA, 98052\n\nSERVICE ADDRESS:\nMicrosoft Services\n123 Service St,\nRedmond WA, 98052\n\n\n<table>\n<tr>\n<th>SALESPERSON</th>\n<th>P.O. NUMBER</th>\n<th>REQUISITIONER</th>\n<th>SHIPPED VIA</th>\n<th>F.O.B. POINT</th>\n<th>TERMS</th>\n</tr>\n<tr>\n<td></td>\n<td>PO-3333</td>\n<td></td>\n<td></td>\n<td></td>\n<td></td>\n</tr>\n</table>\n\n\n<table>\n<tr>\n<th>DATE</th>\n<th>ITEM CODE</th>\n<th>DESCRIPTION</th>\n<th>QTY</th>\n<th>UM</th>\n<th>PRICE</th>\n<th>TAX</th>\n<th>AMOUNT</th>\n</tr>\n<tr>\n<td>3/4/2021</td>\n<td>A123</td>\n<td>Consulting Services</td>\n<td>2</td>\n<td>hours</td>\n<td>$30.00</td>\n<td>$6.00</td>\n<td>$60.00</td>\n</tr>\n<tr>\n<td>3/5/2021</td>\n<td>B456</td>\n<td>Document Fee</td>\n<td>3</td>\n<td></td>\n<td>$10.00</td>\n<td>$3.00</td>\n<td>$30.00</td>\n</tr>\n<tr>\n<td>3/6/2021</td>\n<td>C789</td>\n<td>Printing Fee</td>\n<td>10</td>\n<td>pages</td>\n<td>$1.00</td>\n<td>$1.00</td>\n<td>$10.00</td>\n</tr>\n</table>\n\n\n<table>\n<tr>\n<th>SUBTOTAL</th>\n<th>$100.00</th>\n</tr>\n<tr>\n<th>SALES TAX</th>\n<th>$10.00</th>\n</tr>\n<tr>\n<th>TOTAL</th>\n<th>$110.00</th>\n</tr>\n<tr>\n<th>PREVIOUS UNPAID BALANCE</th>\n<th>$500.00</th>\n</tr>\n<tr>\n<th>AMOUNT DUE</th>\n<th>$610.00</th>\n</tr>\n</table>\n\n\nTHANK YOU FOR YOUR BUSINESS!\n\nREMIT TO:\nContoso Billing\n123 Remit St\nNew York, NY, 10001\n",
              "fields": {
                "company_name": {
                  "type": "string",
                  "valueString": "CONTOSO LTD.",
                  "spans": [
                    {
                      "offset": 0,
                      "length": 12
                    }
                  ],
                  "confidence": 0.825,
                  "source": "D(1,0.5743,0.6590,2.3325,0.6555,2.3330,0.8902,0.5748,0.8937)"
                },
                "total_amount": {
                  "type": "number",
                  "valueNumber": 610,
                  "spans": [
                    {
                      "offset": 1522,
                      "length": 7
                    }
                  ],
                  "confidence": 0.801,
                  "source": "D(1,7.3628,8.0459,7.9272,8.0459,7.9272,8.2070,7.3628,8.2070)"
                },
                "document_summary": {
                  "type": "string",
                  "valueString": "This is an invoice from CONTOSO LTD. to Microsoft Corporation for consu[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONTENTUNDERSTANDING_ENDPOINT": "https://sanitized.services.ai.azure.com/",
    "RandomSeed": "1217265276",
    "useCustomAnalyzerId": "test_analyzer_7f7b2740400aa73c5d09ca5ee86ff6c9"
  }
}
