{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/testclient/_tags?api-version=2021-07-01&n=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://Sanitized.azurecr.io/oauth2/token\",service=\"Sanitized.azurecr.io\",scope=\"repository:testclient:metadata_read\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "testclient",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "access_token=Sanitized&grant_type=access_token&service=Sanitized.azurecr.io",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "165.3"
      },
      "ResponseBody": {
        "refresh_token": ".eyJqdGkiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJzdWIiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJuYmYiOjQ2NzA0MTEyMTIsImV4cCI6NDY3MDQyMjkxMiwiaWF0Ijo0NjcwNDExMjEyLCJpc3MiOiJBenVyZSBDb250YWluZXIgUmVnaXN0cnkiLCJhdWQiOiJhemFjcmxpdmV0ZXN0LmF6dXJlY3IuaW8iLCJ2ZXJzaW9uIjoiMS4wIiwicmlkIjoiMDAwMCIsImdyYW50X3R5cGUiOiJyZWZyZXNoX3Rva2VuIiwiYXBwaWQiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJwZXJtaXNzaW9ucyI6eyJBY3Rpb25zIjpbInJlYWQiLCJ3cml0ZSIsImRlbGV0ZSIsImRlbGV0ZWQvcmVhZCIsImRlbGV0ZWQvcmVzdG9yZS9hY3Rpb24iXSwiTm90QWN0aW9ucyI6bnVsbH0sInJvbGVzIjpbXX0=."
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=refresh_token&refresh_token=Sanitized&scope=repository%3Atestclient%3Ametadata_read&service=Sanitized.azurecr.io",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "165.283333"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/testclient/_tags?api-version=2021-07-01&n=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "Sanitized.azurecr.io",
        "imageName": "testclient",
        "tags": [
          {
            "name": "Sanitized",
            "digest": "sha256:00",
            "createdTime": "2024-08-08T00:59:58.7756977Z",
            "lastUpdateTime": "2024-08-08T00:59:58.7756977Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/testclient/_tags?api-version=2021-07-01&orderby=timedesc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "Sanitized.azurecr.io",
        "imageName": "testclient",
        "tags": [
          {
            "name": "Sanitized",
            "digest": "sha256:00",
            "createdTime": "2024-08-08T00:59:58.7756977Z",
            "lastUpdateTime": "2024-08-08T00:59:58.7756977Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/testclient/_tags?api-version=2021-07-01&orderby=timeasc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "Sanitized.azurecr.io",
        "imageName": "testclient",
        "tags": [
          {
            "name": "Sanitized",
            "digest": "sha256:00",
            "createdTime": "2024-08-08T00:59:58.7756977Z",
            "lastUpdateTime": "2024-08-08T00:59:58.7756977Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
