{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"p24FzqSu5wcdFw7tq4FybZPvV4XZ6k3wL4nwaRXEHKc\"",
        "x-ms-date": "Thu, 30 Apr 2026 20:59:34 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "complex_tag",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "Special:Tag": "Value:With:Colons",
              "Tag@With@At": "Value@With@At"
            },
            "locked": false,
            "last_modified": "2026-04-30T20:57:30+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"p24FzqSu5wcdFw7tq4FybZPvV4XZ6k3wL4nwaRXEHKc\"",
        "x-ms-date": "Thu, 30 Apr 2026 20:59:36 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "complex_tag",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "Special:Tag": "Value:With:Colons",
              "Tag@With@At": "Value@With@At"
            },
            "locked": false,
            "last_modified": "2026-04-30T20:57:30+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
