{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Po0oQfvPTUCFIcFFGTiRn2CnGXLvefG-DdugAe1evxY\"",
        "x-ms-date": "Fri, 03 Apr 2026 17:30:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TaggedFeatureFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-04-03T17:28:34+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "multi_tagged",
            "label": null,
            "content_type": "text/plain",
            "value": "multi tagged value",
            "tags": {
              "a": "b",
              "c": "d"
            },
            "locked": false,
            "last_modified": "2026-04-03T17:28:34+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "tagged_config",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-04-03T17:28:34+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "two_tagged",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "a": "b",
              "second": "tag"
            },
            "locked": false,
            "last_modified": "2026-04-03T17:28:34+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZlxD0XdMbG4Syh3cflK539maqmlQKrvgWaAQYQC6MeQ\"",
        "x-ms-date": "Fri, 03 Apr 2026 17:30:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TaggedFeatureFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-04-03T17:28:34+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
