{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"lUcb8R4waps_US-jPul-87izVliYL-g6PO0cAs7RWh0\"",
        "x-ms-date": "Wed, 08 Apr 2026 22:23:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-08T22:23:22+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/RegularFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"RegularFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modif[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oX4py7g99_Uty_qgn27YCbFcyo5BR8UHyJbRh6Mbyus\"",
        "Last-Modified": "Wed, 08 Apr 2026 22:23:22 GMT",
        "x-ms-date": "Wed, 08 Apr 2026 22:23:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-08T22:23:22+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"vHI2KCQgyUiDE74EgsmWhqId5Y0pgDJUfB5DlDUbK-U\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Wed, 08 Apr 2026 22:23:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FRegularFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"srrygCOZOS5itpF9eP_0-mA3-rrIif4kO-3yFKohI-8\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Wed, 08 Apr 2026 22:23:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FRegularFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"LupcO_41T88x5xGJhM5C6SgahJrgK327XK6LFak7wG8\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Wed, 08 Apr 2026 22:23:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"1OesRf1K3mSaVsogcWdVU27-bc4BmxcVPeWyHEd7BFQ\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Wed, 08 Apr 2026 22:23:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"k9EKxqadcIIbln7KoFb3bkMruMiLSCbAaYZI0WlTWsA\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Wed, 08 Apr 2026 22:23:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotOnlyFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"IBEjGfG2t53fR6btjWtJu-YAd052gob3iLw3A6VOmkQ\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Wed, 08 Apr 2026 22:23:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"NLddfBQeJT-ZD-IuymH0EocgF_zc1gEeUPZR_XN0eV4\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Wed, 08 Apr 2026 22:23:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_message",
        "value": "original value",
        "content_type": "text/plain",
        "last_modified": "2026-04-08T22:23:22Z",
        "tags": {},
        "locked": false,
        "etag": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N0OdA6wqaAfAUPBEK6HjWNJfLSl9gRGcSGEFwql7hhM\"",
        "Last-Modified": "Wed, 08 Apr 2026 22:23:28 GMT",
        "x-ms-date": "Wed, 08 Apr 2026 22:23:28 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-08T22:23:28+00:00"
      }
    }
  ],
  "Variables": {}
}
