{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.836486 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EwWpBtY4Lmd3ALOf-ycy4bfzvEY9lLDPqlhsi4KMOus\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:28 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T21:25:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.874154 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fNzT0OLLBywiZznB-v2twO7pBbv8HaWm3dn0d-foXQ8\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:28 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T21:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.889097 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p9NdTArb6uFwAL3RCY42-7qUNhk_a2O4TYbubFAPhPA\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:28 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T21:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.906941 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jnzjRiW4kzPxNAzkwHJ563GvYEWBNIBJz21XFE2OyLQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:28 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T21:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.921964 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hDRPIwN-xhMnzD4Dyac12t-6UNO9xL0J6iRQla3JWoQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:28 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T21:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.937603 GMT"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g7xbTth5kniNkg0P58JbWk9CV9DEp5eQInRpM4Gx7Fg\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:28 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.953554 GMT"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MZFu-Eq5NXYBaIoElRMwbUbwYFP9wVjtp5jTpWTJeMM\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:28 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "two_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b",
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.969903 GMT"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uxvRIFqT07GwN14LlBbBTdIcSh9PVSn1KY0jGLPFHHI\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "only_second_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.984512 GMT"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iXxAxkYuUZDNWUcIZbdemDz7OgLI7s0Qqo8_ueLxZlI\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:28.999664 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BWosUNhrb7-Q8UlDO6EtIr2Us5od5OoHOJs201nSRUA\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:29.014641 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:29.033072 GMT"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W7K5Mg208qA9trfWqrToz5j8S2CceZEhtzf2AI7DL-I\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:29.047881 GMT"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bSi8RC70WR80EogQ1muMrYrJtB9aHWjkBOpmbX2BFHM\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "special_chars",
        "label": null,
        "content_type": "text/plain",
        "value": "special",
        "tags": {
          "special@tag": "special:value"
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:29.062803 GMT"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lKvZrLCBFsy832iyi5Vfhk8eCtnebSypQStMebx9VxQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "no_tags",
        "label": null,
        "content_type": "text/plain",
        "value": "no tags",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:29.077876 GMT"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e0B30U_PPzT-yYpb4infLlyrqb8V2gFRQ8vb_S6YRoA\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tag_no_value",
        "label": null,
        "content_type": "text/plain",
        "value": "no value",
        "tags": {
          "a": ""
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:29.091656 GMT"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qmRlIH_K6cVZXuIyA5ru3Gc2A-TEL7ZOvS1qST0aBoA\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "different_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "different",
        "tags": {
          "different": "tag"
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:29.106853 GMT"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WvWMnvvkAaOVX55AnQcmXRRaB9Za5lpHxR2Aer8RQiI\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:29 GMT",
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "null_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "null tag",
        "tags": {
          "tag": null
        },
        "locked": false,
        "last_modified": "2026-01-22T21:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/non-existent-snapshot?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 22 2026 21:25:29.128036 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-date": "Thu, 22 Jan 2026 21:25:29 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
