{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_key1?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:15.326627 GMT"
      },
      "RequestBody": {
        "key": "snapshot_test_key1",
        "label": "\u0000",
        "value": "snapshot_test_value1",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"msoLFp2cjfj9T9DnvPsblrh5NYsfLURzgeL6qmeXg_s\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:15 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_key1",
        "label": null,
        "content_type": null,
        "value": "snapshot_test_value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:15+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:15.361145 GMT"
      },
      "RequestBody": {
        "key": "snapshot_test_json",
        "label": "\u0000",
        "value": "{\"nested\": \"snapshot_value\"}",
        "content_type": "application/json",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UFSpTHHuxeKsxyME_8KiI-52_h0sPV32ldxww6CiHL8\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:15 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"nested\": \"snapshot_value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:15.376096 GMT"
      },
      "RequestBody": {
        "key": "refresh_test_key",
        "label": "\u0000",
        "value": "original_refresh_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9Q1B_n9OarEDxnPgSnbdF3NP0jD0k1jbGyqIhNq_zrk\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:15 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/test-snapshot-1769202675?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:15.394940 GMT"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "snapshot_test_*"
          }
        ],
        "composition_type": "key",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"q7JUXXKxp8gdxasE9rvYybuDiN4b_IyMMOzTykuNcgA\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:15 GMT",
        "Link": "</kv?snapshot=test-snapshot-1769202675&api-version=1970-01-01",
        "Operation-Location": "https://Sanitized.azconfig.io/operations?snapshot=test-snapshot-1769202675&api-version=1970-01-01",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "name": "Sanitized",
        "status": "provisioning",
        "filters": [
          {
            "key": "snapshot_test_*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T21:11:15.6242247+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:15.417208 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:15 GMT"
      },
      "ResponseBody": {
        "id": "T5LjZ2eus6YxM1p7O_TnY7KwoDLb1rbtd70BqUggRbU",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.590490 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fMpgZKX2mwjJcKO78w1sjcojmK6Ca40Qc5hcwBe1Kb0\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.622456 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MZt31GzPo_UT-K4S6tbiBiKIdt1Dzgr3di39ZgifqxA\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.637721 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dWFLDLcyOMjGSr2FtZdvljpVLGZD3XQylNe_OT09VCI\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.652994 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"me1QkqwnlmdovongFIxi3X17uPN62YKU7Pz-N0P9Biw\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.669906 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E3OF-gLlrWOLA9vxc0GVs9T1x2pIb8RK6GYufU6nhfg\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.685626 GMT"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nE5IdjcSp66-FZcN2IAbVs542ycV1BpKYlGwl-h8ImM\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.700360 GMT"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UTKk5aKNyWYpWKpzOi4tXkasqRsDpUXOpoj3rENA1I4\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "two_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b",
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.715975 GMT"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_Sq5C6qGDMJ-wkMV3MoKp-zWIA5SR1Dv_dQ--B5Zr-E\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "only_second_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.733238 GMT"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W6lzkUt2WE8E0vOJhhAUOpX9MD69Q7Aduv4vfbjyco4\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.748852 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pjcm5eMqlYGsPx7W6aMXzHa6Qrn-9cZdRdVlCvvle2M\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:25 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.764016 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.778228 GMT"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mS650HzzC5P4JsZx2W_oKkh_2zGl1CNukI326xhXAk4\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:26 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.808686 GMT"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AsCrnzamKEr9wuMjZnuVKUyabX5wBlHwpYCPSyt1Dbc\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:26 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "special_chars",
        "label": null,
        "content_type": "text/plain",
        "value": "special",
        "tags": {
          "special@tag": "special:value"
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.823068 GMT"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V5i8c9lmZCchTykhTsAArRMcswyqBo_Bou07NvFxTjE\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:26 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "no_tags",
        "label": null,
        "content_type": "text/plain",
        "value": "no tags",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.839749 GMT"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"urBur4qBeRgGNvqfgT8V34EzAfdbeCAqtrLYzOA-2vg\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:26 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tag_no_value",
        "label": null,
        "content_type": "text/plain",
        "value": "no value",
        "tags": {
          "a": ""
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.856039 GMT"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OZ2aaETGXsmWg5mo72DEqy7Gt6V6u0rXhr1XXfHDv8E\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:26 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "different_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "different",
        "tags": {
          "different": "tag"
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.871317 GMT"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lFTJgTDAXX_vFiZ3ZcSxnx5QfFBneBbCe-yFieRRJag\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:26 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "null_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "null tag",
        "tags": {
          "tag": null
        },
        "locked": false,
        "last_modified": "2026-01-23T21:11:26+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:25.908692 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hLr2Ko-zMCf4bJ-gYU0v7Z_1v_UYANXV2FlxnCgYSbw\"",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "snapshot_test_json",
            "label": null,
            "content_type": "application/json",
            "value": "{\"nested\": \"snapshot_value\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T21:11:15+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key1",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T21:11:15+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key2",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T21:11:15+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/new_key_added_after_load?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:26.010989 GMT"
      },
      "RequestBody": {
        "key": "new_key_added_after_load",
        "label": "\u0000",
        "value": "new_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G65DNpqwp286Ac4UkcJa9Vt6AxlZ5kaFo_RcK3auaHA\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:26 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "new_key_added_after_load",
        "label": null,
        "content_type": null,
        "value": "new_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"9Q1B_n9OarEDxnPgSnbdF3NP0jD0k1jbGyqIhNq_zrk\"",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:27.028242 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-I6063WRbNjwQLUJg_qgTmjpG2x7WK6J0cfpOZHySCM\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:26 GMT",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:27 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "updated_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T21:11:26+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/test-snapshot-1769202675?api-version=1970-01-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:27.373714 GMT"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"V_PSkkvPzpx3wZfBM9P41ZH2pQ4UVyBvJ0RPafrTCQA\"",
        "Last-Modified": "Fri, 23 Jan 2026 21:11:24 GMT",
        "Link": "</kv?snapshot=test-snapshot-1769202675&api-version=1970-01-01",
        "x-ms-date": "Fri, 23 Jan 2026 21:11:27 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "name": "Sanitized",
        "status": "archived",
        "filters": [
          {
            "key": "snapshot_test_*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T21:11:15+00:00",
        "expires": "2026-01-23T22:11:27.6826081+00:00",
        "size": 2000,
        "items_count": 3,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/new_key_added_after_load?api-version=1970-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 23 2026 21:11:27.538807 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
[...]
