{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iUEr5wevZtbT07ccaffsUaJGFAmpt-0wJ2aZpTrXSm8\"",
        "x-ms-date": "Wed, 08 Apr 2026 18:08:40 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\": \"https://Sanitized.vault.azure.net/secrets/TestSecret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-08T18:08:13+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "secret2",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\": \"https://Sanitized.vault.azure.net/secrets/TestSecret2/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-08T18:07:06+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
