{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vYts34hH0ytwczMl64LBbCpV3cNeCPPuL7cwRhaeolg\"",
        "x-ms-date": "Thu, 09 Apr 2026 17:23:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "message",
            "label": null,
            "content_type": "text/plain",
            "value": "hi",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-09T17:20:15+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
