{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 13 2026 20:24:22.169966 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FzUYD5dX5vjgzBZmuih8YPZuE2lTnEyn-wsvXlFecMc\"",
        "x-ms-date": "Fri, 13 Mar 2026 20:24:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TaggedFeatureFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-03-13T20:22:54+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "multi_tagged",
            "label": null,
            "content_type": "text/plain",
            "value": "multi tagged value",
            "tags": {
              "a": "b",
              "c": "d"
            },
            "locked": false,
            "last_modified": "2026-03-13T20:22:54+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "tagged_config",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-03-13T20:22:54+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "two_tagged",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "a": "b",
              "second": "tag"
            },
            "locked": false,
            "last_modified": "2026-03-13T20:22:54+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 13 2026 20:24:22.188646 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MchLyqe9UO2gv4HlqYRuoJz-x02y6xKQcYYfuLX9I0Y\"",
        "x-ms-date": "Fri, 13 Mar 2026 20:24:25 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TaggedFeatureFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-03-13T20:22:54+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
