{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "watch key",
        "value": "0",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3sUg8Ak8h3tEldMUCGW0Q4sztB-k5No4Lg_lAhpdQBo\"",
        "Last-Modified": "Mon, 13 Apr 2026 22:40:15 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 22:40:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "watch key",
        "label": null,
        "content_type": null,
        "value": "0",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T22:40:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"roQ-TW-mG2RhPN1-OFkKKi--erq4I6pU3nNMXYRvL5o\"",
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-13T22:38:17+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/RegularFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"RegularFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-13T22:38:17+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/RegularFeatureDisabled",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"RegularFeatureDisabled\", \"enabled\": false, \"conditions\": {\"client_filters\": [...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wbh1aEL9nvNRwMpY4D63fJvJFWAoOfpmZ0YBFjB13OQ\"",
        "Last-Modified": "Mon, 13 Apr 2026 22:38:17 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T22:38:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"3sUg8Ak8h3tEldMUCGW0Q4sztB-k5No4Lg_lAhpdQBo\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"XR3CFegH86s3ID8FlyIhe7UbKXXT7F1sUEniHXNNivw\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FRegularFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"Dr5vthUSYN_JO7alwH_Ud1sIasMJu-aVCOHDTZ9M720\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FRegularFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"kcKxmQFYa9S0qn_XiHlU0Aqt52wPpSnzQiDk-2sauW8\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"qReiZ6k4G8j-Elj79-cOokko72YgqKII26qLI6GNaCM\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"_EmrqU7uWXrY-tZcdPrJlJayGUWwy7MDjyqLheWHoL0\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotOnlyFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"PzWBMYOm2JNsXoGdnBiFqmwE9gUT4s1PW8FkJ7U5Jng\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"mcr7j8R5biFecxmCQkTe1hlyujm-q3ptZQOxo1mhaJw\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Mon, 13 Apr 2026 22:40:17 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eIoo5-s_JkTvtoYevBA1i9pSTrBjNIGXc0SKnI7b-lM\"",
        "Last-Modified": "Mon, 13 Apr 2026 22:40:18 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 22:40:18 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "watch key",
        "label": null,
        "content_type": null,
        "value": "1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T22:40:18+00:00"
      }
    }
  ],
  "Variables": {}
}
