{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"8gAEFfPk7hm60zvmWT3nzbUI1Jh9AClZDIt5i7B8ZDs\"",
        "x-ms-date": "Mon, 20 Apr 2026 16:30:53 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-20T16:30:31+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/RegularFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"RegularFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modif[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4r90M80SY5Wz9r63WY5giKcv5pYMa-BGAw94XmSvR1Q\"",
        "Last-Modified": "Mon, 20 Apr 2026 16:30:49 GMT",
        "x-ms-date": "Mon, 20 Apr 2026 16:30:55 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-20T16:30:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_message",
        "value": "original value",
        "content_type": "text/plain",
        "last_modified": "2026-04-20T16:30:49Z",
        "tags": {},
        "locked": false,
        "etag": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pMlkODDHvpiujOxUkgsVAnwC2f-wqj6ECvcQCNne8h4\"",
        "Last-Modified": "Mon, 20 Apr 2026 16:30:55 GMT",
        "x-ms-date": "Mon, 20 Apr 2026 16:30:55 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-20T16:30:55+00:00"
      }
    }
  ],
  "Variables": {}
}
