{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Apr, 10 2026 17:12:08.256502 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"tUai144LXtkDlV_Azr1c-uDyyuINKzhu7g1Fhhbnw80\"",
        "x-ms-date": "Fri, 10 Apr 2026 17:12:08 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TaggedFeatureFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-04-10T17:10:56+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "multi_tagged",
            "label": null,
            "content_type": "text/plain",
            "value": "multi tagged value",
            "tags": {
              "a": "b",
              "c": "d"
            },
            "locked": false,
            "last_modified": "2026-04-10T17:10:56+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "tagged_config",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-04-10T17:10:56+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "two_tagged",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "a": "b",
              "second": "tag"
            },
            "locked": false,
            "last_modified": "2026-04-10T17:10:56+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Apr, 10 2026 17:12:08.276641 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"WbyB2MO6sTLeZYWWEdTNB5NVyhbHr6OXUO7KqUPSC5M\"",
        "x-ms-date": "Fri, 10 Apr 2026 17:12:08 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TaggedFeatureFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-04-10T17:10:56+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
