{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/test-snapshot-1776109579?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"IxVkgxlVz_0jJRoglezWxgVBYUARaFms3R3A1fzNLws\"",
        "Last-Modified": "Mon, 13 Apr 2026 19:46:34 GMT",
        "Link": "</kv?snapshot=test-snapshot-1776109579&api-version=1970-01-01",
        "x-ms-date": "Mon, 13 Apr 2026 19:48:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "name": "Sanitized",
        "status": "ready",
        "filters": [
          {
            "key": "snapshot_test_*",
            "label": null,
            "tags": []
          },
          {
            "key": ".appconfig.featureflag/SnapshotFeature*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-04-13T19:46:19+00:00",
        "size": 3000,
        "items_count": 5,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mDKF6raNVbhil5ld-SswYc8siny8MLAEGdSLrfKVhjw\"",
        "x-ms-date": "Mon, 13 Apr 2026 19:48:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-13T19:46:19+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeatureDisabled",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeatureDisabled\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-13T19:46:19+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_json",
            "label": null,
            "content_type": "application/json",
            "value": "{\"nested\": \"snapshot_value\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-13T19:46:19+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key1",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-13T19:46:19+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key2",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-13T19:46:19+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UViqu4Ci53nqNhERziUPDxIjjt6eERAIWq3Nu4MDTCw\"",
        "Last-Modified": "Mon, 13 Apr 2026 19:46:19 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 19:48:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T19:46:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_key1?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "snapshot_test_key1",
        "label": "\u0000",
        "value": "MODIFIED_VALUE1",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AlTT6gWGIywqW7y18I8VS16fP9ZkckWr6Dzcou1PLYc\"",
        "Last-Modified": "Mon, 13 Apr 2026 19:48:45 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 19:48:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_key1",
        "label": null,
        "content_type": null,
        "value": "MODIFIED_VALUE1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T19:48:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "snapshot_test_json",
        "label": "\u0000",
        "value": "{\"nested\": \"MODIFIED_VALUE\"}",
        "content_type": "application/json",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2DDhg0ErX2LYgs5gITuoFCY7q6mVWq9kpfplK6xUzf0\"",
        "Last-Modified": "Mon, 13 Apr 2026 19:48:45 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 19:48:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"nested\": \"MODIFIED_VALUE\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T19:48:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/new_key_added_after_load?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "new_key_added_after_load",
        "label": "\u0000",
        "value": "new_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CGqXyNdKb4eLYVzm8FQPgL5OIPpk-crloIi5_x8A1qI\"",
        "Last-Modified": "Mon, 13 Apr 2026 19:48:45 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 19:48:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "new_key_added_after_load",
        "label": null,
        "content_type": null,
        "value": "new_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T19:48:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"UViqu4Ci53nqNhERziUPDxIjjt6eERAIWq3Nu4MDTCw\""
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qSRM1pLrvhOCfIoLRCexic_-JrOu6JlnWT1scWeBvho\"",
        "Last-Modified": "Mon, 13 Apr 2026 19:48:45 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 19:48:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "updated_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T19:48:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_test_key",
        "label": "\u0000",
        "value": "original_refresh_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"r3JcFFxxzGOr-V59rCW6YpztAn-J80unzwWtr7agDYU\"",
        "Last-Modified": "Mon, 13 Apr 2026 19:48:47 GMT",
        "x-ms-date": "Mon, 13 Apr 2026 19:48:47 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-13T19:48:47+00:00"
      }
    }
  ],
  "Variables": {}
}
