{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B07F40349\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ef102cc2-97b5-a28f-c310-60ca18ff9e59?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B07FE1754\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B080745BF\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-11-11T21:51:43.4359231Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.4359231Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.4359231Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/test-file-9ca31105-a8fc-0fb3-5ba2-9f6c510ed7b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B08103C58\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:51:43.4946648Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.4946648Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.4946648Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B08229E3C\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-11-11T21:51:43.6151356Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.6151356Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.6151356Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/bar/test-file-f1267ae2-ccff-db35-c671-228342849516",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B082BE2A2\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B08348B75\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-11-11T21:51:43.7326197Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.7326197Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.7326197Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/pik/test-file-7e5c33df-0dcb-57e3-79bb-18d733682a07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B083DCFDB\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:51:43.7933531Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.7933531Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.7933531Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder?sv=Sanitized&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-33f45d0b-d38a-de4c-5624-8e60f0802990\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-9ca31105-a8fc-0fb3-5ba2-9f6c510ed7b4</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-ba01b8da-7340-8398-4cc4-8fa7b6c49481</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/bar?sv=Sanitized&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-33f45d0b-d38a-de4c-5624-8e60f0802990\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-f1267ae2-ccff-db35-c671-228342849516</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/test-file-ba01b8da-7340-8398-4cc4-8fa7b6c49481?sv=Sanitized&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029B0819A7A2\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:51:43.5563938Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.5563938Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.5563938Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/pik?sv=Sanitized&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-33f45d0b-d38a-de4c-5624-8e60f0802990\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-7e5c33df-0dcb-57e3-79bb-18d733682a07</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/bar/test-file-f1267ae2-ccff-db35-c671-228342849516?sv=Sanitized&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029B082BE2A2\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/pik/test-file-7e5c33df-0dcb-57e3-79bb-18d733682a07?sv=Sanitized&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029B083DCFDB\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:51:43.7933531Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.7933531Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.7933531Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ef102cc2-97b5-a28f-c310-60ca18ff9e59/destFolder/test-file-9ca31105-a8fc-0fb3-5ba2-9f6c510ed7b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/test-file-9ca31105-a8fc-0fb3-5ba2-9f6c510ed7b4?sv=sanitized-value&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B08663F30\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:44 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ef102cc2-97b5-a28f-c310-60ca18ff9e59/destFolder/bar/test-file-f1267ae2-ccff-db35-c671-228342849516",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/bar/test-file-f1267ae2-ccff-db35-c671-228342849516?sv=sanitized-value&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B086EE813\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:44 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ef102cc2-97b5-a28f-c310-60ca18ff9e59/destFolder/pik/test-file-7e5c33df-0dcb-57e3-79bb-18d733682a07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/pik/test-file-7e5c33df-0dcb-57e3-79bb-18d733682a07?sv=sanitized-value&se=2024-11-12T21%3A51%3A41Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029B087632CE\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:44 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-33f45d0b-d38a-de4c-5624-8e60f0802990\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-9ca31105-a8fc-0fb3-5ba2-9f6c510ed7b4</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-ba01b8da-7340-8398-4cc4-8fa7b6c49481</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-33f45d0b-d38a-de4c-5624-8e60f0802990\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-f1267ae2-ccff-db35-c671-228342849516</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-33f45d0b-d38a-de4c-5624-8e60f0802990\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-7e5c33df-0dcb-57e3-79bb-18d733682a07</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ef102cc2-97b5-a28f-c310-60ca18ff9e59?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-ef102cc2-97b5-a28f-c310-60ca18ff9e59\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-f1267ae2-ccff-db35-c671-228342849516</Name><Properties><Creation-Time>Mon, 11 Nov 2024 21:51:44 GMT</Creation-Time><Last-Modified>Mon, 11 Nov 2024 21:51:44 GMT</Last-Modified><Etag>0x8DD029B086EE813</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-7e5c33df-0dcb-57e3-79bb-18d733682a07</Name><Properties><Creation-Time>Mon, 11 Nov 2024 21:51:44 GMT</Creation-Time><Last-Modified>Mon, 11 Nov 2024 21:51:44 GMT</Last-Modified><Etag>0x8DD029B087632CE</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ef102cc2-97b5-a28f-c310-60ca18ff9e59/destFolder/bar/test-file-f1267ae2-ccff-db35-c671-228342849516",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029B086EE813\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Nov 2024 21:51:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990/sourceFolder/bar/test-file-f1267ae2-ccff-db35-c671-228342849516",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:41 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029B082BE2A2\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-creation-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-11T21:51:43.6758690Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ef102cc2-97b5-a28f-c310-60ca18ff9e59/destFolder/bar/test-file-f1267ae2-ccff-db35-c671-228342849516",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD029B086EE813\"",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:42 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029B086EE813\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:51:44 GMT",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Nov 2024 21:51:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-33f45d0b-d38a-de4c-5624-8e60f0802990?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:51:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-11-11T13:51:41.1372259-08:00",
    "RandomSeed": "1712108886",
[...]
