{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e6952bc8-d3bc-8db2-91a5-53bb79ed26b7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D87BE30EE\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1dcfe96a-58be-b769-fd93-7d8e263e1464?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D87C89324\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e6952bc8-d3bc-8db2-91a5-53bb79ed26b7/test-file-e2794832-fba0-2693-4ee1-6ffd333954e3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D87D25F76\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:04:53.8365814Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:53.8365814Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:04:53.8365814Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e6952bc8-d3bc-8db2-91a5-53bb79ed26b7/test-file-e2794832-fba0-2693-4ee1-6ffd333954e3?sv=Sanitized&se=2024-12-11T19%3A04%3A54Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-e6952bc8-d3bc-8db2-91a5-53bb79ed26b7\" DirectoryPath=\"test-file-e2794832-fba0-2693-4ee1-6ffd333954e3\"><DirectoryId>13835128424026341376</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1dcfe96a-58be-b769-fd93-7d8e263e1464?restype=container&comp=list&prefix=test-file-47cd424d-8535-ab07-1eb8-d33f6013c6a3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-1dcfe96a-58be-b769-fd93-7d8e263e1464\"><Prefix>test-file-47cd424d-8535-ab07-1eb8-d33f6013c6a3</Prefix><Blobs /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e6952bc8-d3bc-8db2-91a5-53bb79ed26b7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T11:04:54.1611433-08:00",
    "RandomSeed": "423527419",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
