{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2be681f-ecd0-e652-7dc2-887a5730d161?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF14750A4C\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2be681f-ecd0-e652-7dc2-887a5730d161/test-blob-2f208f07-9891-5fe4-b770-1a396491ccfc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF14830D92\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2be681f-ecd0-e652-7dc2-887a5730d161/test-blob-2f208f07-9891-5fe4-b770-1a396491ccfc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBAEF14830D92\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 16:51:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2be681f-ecd0-e652-7dc2-887a5730d161/test-blob-2f208f07-9891-5fe4-b770-1a396491ccfc?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBAEF14830D92\"",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "PpPhz3P/fAbU6pBk9SfOIfwAI5Loq5TKlTQONWXRnqjKYOyDefYUV0lBUeKLWmnWiJLFNXcOrZP+Fzk/8UegAkznmpU7SqgG7MtJp1qxPjvLN6zSDGgxu7JZhGG81GYCoE+WpMDUmz3pvkmrxQU4Tdn+dLqazvXjtt7i4cZGSRdlRwcLG5p695tv6U0fhvWsIDeIvWCsZ9JZs+3h8bp3o3QyRX79LDE/hH0eKuWnwzDpNcCOvoy2ud81sWesmQXh+EXY7UB3r/MFSDnjjT3tse+8+Lv56eToe4yeyHrKkut3PTGfz9bwcobMiHVS0yyiSAB376BK6A9h8HG02OZ5O7ZOa1ALTeIYzIY0LGBulahg/H96UqJKLVQiPd5lO5mfU0y/BGfblvodXiMaFbyu8lrJVNtn/uk[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2be681f-ecd0-e652-7dc2-887a5730d161/test-blob-2f208f07-9891-5fe4-b770-1a396491ccfc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:59 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBAEF149BC587\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "+1ULulb2Ihc=",
        "x-ms-creation-time": "Mon, 12 Aug 2024 16:51:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "PpPhz3P/fAbU6pBk9SfOIfwAI5Loq5TKlTQONWXRnqjKYOyDefYUV0lBUeKLWmnWiJLFNXcOrZP+Fzk/8UegAkznmpU7SqgG7MtJp1qxPjvLN6zSDGgxu7JZhGG81GYCoE+WpMDUmz3pvkmrxQU4Tdn+dLqazvXjtt7i4cZGSRdlRwcLG5p695tv6U0fhvWsIDeIvWCsZ9JZs+3h8bp3o3QyRX79LDE/hH0e[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2be681f-ecd0-e652-7dc2-887a5730d161?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1252227668",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
