{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b40c6ef-2501-b45d-4bee-f1b46ebf0694?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D49FF8FE7\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b40c6ef-2501-b45d-4bee-f1b46ebf0694/test-blob-52805591-a272-62e5-a76c-e20e9aa21684",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D4A099232\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b40c6ef-2501-b45d-4bee-f1b46ebf0694/test-blob-52805591-a272-62e5-a76c-e20e9aa21684",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D4A099232\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b40c6ef-2501-b45d-4bee-f1b46ebf0694/test-blob-52805591-a272-62e5-a76c-e20e9aa21684?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D4A099232\"",
        "x-ms-date": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "m4aWW+UpAoEshFlMon/OfRD+hziEhY4TkVo2DeYFm9WgTEFfN4MNAzK5VIGEIjQ84AqDImTcshb4g8mL8/SaJ+mEq1Y9bkWN8YQGyjANjm4m+S3cgnhxw5krZ7O5gRA+Hy2YAHbe/nLE9jHg1ujl6vVbZPnHvaRwE+i8EgeS0290yKoDdY73SPu6GItHkOyxRXy+Xh0WdmGIJ+2OIetqMiLCaw494nVnYxz+DKUYKYL7C82K03VSXVFJek2haSYPUOZphSXec2IGV/oAGGm7b/1qkhYe4F6tbw699Gcnxvr27ry/r6RdHZhqg3x6UUXnjQpPNtcP8XCHuxUWIX7635EACSmt/L9ZDXR+s1zhMh7J1Wdd148j5v1MN/OORvwZb6TrekcbOpBK9ilikT0TpYn3TUsWnQc[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b40c6ef-2501-b45d-4bee-f1b46ebf0694/test-blob-52805591-a272-62e5-a76c-e20e9aa21684",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D4A19380A\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACbhpZb5SkCgSyEWUyif859EP6HOISFjhORWjYN5gWb1aBMQV83gw0DMrlUgYQiNDzgCoMiZNyyFviDyYvz9Jon6YSrVj1uRY3xhAbKMA2Obib5LdyCeHHDmStns7mBED4fLZgAdt7+csT2MeDW6OXq9Vtk+ce9pHAT6LwSB5LTb3TIqgN1jvdI+7oYi0eQ7LFFfL5eHRZ2YYgn7Y4h62oyIsJrDj3idWdjHP4MpRgpgvsLzYrTdVJdUUl6TaFpJg9Q5mmFJd5zYgZX+gAYabtv/WqSFh7gXq1vDr30ZyfG+vbuvL+vpF0dmGqDfHpRReeNCk821w/xcIe7FRYhfvrfkQAJKa38v1kNdH6zXOEyHsnVZ13XjyPm/Uw3845G/BlvpOt6Rx[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b40c6ef-2501-b45d-4bee-f1b46ebf0694?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2032093953",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
