{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9291a9cf-8d9f-7165-ca0e-84b65d9879bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C231AACBACB\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9291a9cf-8d9f-7165-ca0e-84b65d9879bb/test-blob-0af2c6e5-89f0-8ec0-8682-f31cc9f85ff9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C231AB26846\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:24.4477510Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9291a9cf-8d9f-7165-ca0e-84b65d9879bb/test-blob-0af2c6e5-89f0-8ec0-8682-f31cc9f85ff9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C231AB26846\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:24.4477510Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9291a9cf-8d9f-7165-ca0e-84b65d9879bb/test-blob-0af2c6e5-89f0-8ec0-8682-f31cc9f85ff9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C231AB26846\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "MD6aY/NEKozvY9dkl5JauHLxYns7YatZvujK+DoA0ySeB6HYdzifDrfQKKvvQguSok9GaDQgss+TQKUKeTJS7pCzxpDxgkE5UlPEazn/anzdOFXrumvvfVTSRDaTlJWEfjkbPHt7oSAODRXgXEeWk9YoLUHcZjQkw0g7Hj0Kpb6+P+3/4y4AYpY13K1VDiENPLBga2ZTpxcF93gzP4PjA2dXIhxZlrCoJ8uqp4mHz7QnLeGMqTpXapfW+ey1zSITUtlF/ewEs6YAuEObqQCNfifDDBGiVlosALeEg53D8lqpl1SwQdHIInk7i/H3vMGXSXvE8cEQcPt+Gf01gDAIPcXp8hGs3DxW++qYZstoNET17Tkh/gCYmCZYMifUkqFJMk4rDsqw620+bvXXeAkwFuS4QJL25z7[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9291a9cf-8d9f-7165-ca0e-84b65d9879bb/test-blob-0af2c6e5-89f0-8ec0-8682-f31cc9f85ff9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C231ABAEA3D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:24.4477510Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAwPppj80QqjO9j12SXklq4cvFiezthq1m+6Mr4OgDTJJ4Hodh3OJ8Ot9Aoq+9CC5KiT0ZoNCCyz5NApQp5MlLukLPGkPGCQTlSU8RrOf9qfN04Veu6a+99VNJENpOUlYR+ORs8e3uhIA4NFeBcR5aT1igtQdxmNCTDSDsePQqlvr4/7f/jLgBiljXcrVUOIQ08sGBrZlOnFwX3eDM/g+MDZ1ciHFmWsKgny6qniYfPtCct4YypOldql9b57LXNIhNS2UX97ASzpgC4Q5upAI1+J8MMEaJWWiwAt4SDncPyWqmXVLBB0cgieTuL8fe8wZdJe8TxwRBw+34[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9291a9cf-8d9f-7165-ca0e-84b65d9879bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "616926206",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
