{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d934e67-a9f0-6b65-749f-3b81f5ed7d52?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2317E6528C\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d934e67-a9f0-6b65-749f-3b81f5ed7d52/test-blob-7eb8cfc5-4611-956d-52d5-b987ea96f034",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2317EBDE62\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:19.7911650Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d934e67-a9f0-6b65-749f-3b81f5ed7d52/test-blob-7eb8cfc5-4611-956d-52d5-b987ea96f034",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C2317EBDE62\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:19.7911650Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d934e67-a9f0-6b65-749f-3b81f5ed7d52/test-blob-7eb8cfc5-4611-956d-52d5-b987ea96f034?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C2317EBDE62\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "NA0veJOfjGUViRu9+GjuvTx5p3camJ8cG/V3ajZrUCM08shvh+ktO/Fuzymsa41gtw6QP6iHpZtuElyeJyIvqjn3iQaffzZTTGuFq8l2cLBnFrMn2hB7rUwsAXSMjxPPPiTvtOKHwTjYPfM8AfnS+KGsNhFvB9ApfNy5cn3Bxr1Xtm2khrzN4FV7T50dPqtTWgjS4FgCXzdUxjcFzk66F3Y25EqMLnHl3la89LgyCz0wZhh07uZkVVc2T8CFyBIGwDcm51phxiuX7QEBRmt+Ibr51Gc2RSiQ0Y7zVt6xXxZEtTOADCTjz5/s3QDkYg/rty0FjPOq0HsPlRXLbXBN5o3qvZE3/RWWFQTHSWgnrG5/B56xq9MjmuS4cXYOF2Evn/dy+aV+s7oXb3bu4ocT5+mmTGbRnDq[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d934e67-a9f0-6b65-749f-3b81f5ed7d52/test-blob-7eb8cfc5-4611-956d-52d5-b987ea96f034",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C2317F43978\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:19.7911650Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA0DS94k5+MZRWJG734aO69PHmndxqYnxwb9XdqNmtQIzTyyG+H6S078W7PKaxrjWC3DpA/qIelm24SXJ4nIi+qOfeJBp9/NlNMa4WryXZwsGcWsyfaEHutTCwBdIyPE88+JO+04ofBONg98zwB+dL4oaw2EW8H0Cl83LlyfcHGvVe2baSGvM3gVXtPnR0+q1NaCNLgWAJfN1TGNwXOTroXdjbkSowuceXeVrz0uDILPTBmGHTu5mRVVzZPwIXIEgbANybnWmHGK5ftAQFGa34huvnUZzZFKJDRjvNW3rFfFkS1M4AMJOPPn+zdAORiD+u3LQWM86rQew+[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d934e67-a9f0-6b65-749f-3b81f5ed7d52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2132940471",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
