{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-91dac162-47ac-a223-ca6c-0e395a563178?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EEB85EAA4\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:22 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-91dac162-47ac-a223-ca6c-0e395a563178/test-blob-67d0c7ef-973b-ed81-ff2b-5ec2301c7a1d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EEB953137\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:22.5031479Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-91dac162-47ac-a223-ca6c-0e395a563178/test-blob-67d0c7ef-973b-ed81-ff2b-5ec2301c7a1d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EEB953137\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:22.5031479Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-91dac162-47ac-a223-ca6c-0e395a563178/test-blob-67d0c7ef-973b-ed81-ff2b-5ec2301c7a1d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336EEB953137\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "hUkzdPHHpPAdS2ymzerVJizg16pFcZ0+iprTkxABP0187LOCb8s9mgwfopBKDhexPzl3bwDgRxOs9OlW9BHgGwsfKeE2UrZgozydJs8N9HyDIVPXis9MnKSg1nvh5qb6P4aEKuQ2e+yCFszEQiFEnwBt09K9CJA80408lns7f7yVoudIicmYTaZnVHQDiFmDWzd6dBLUPTb1R1dW+eRxRpcPLp86+xU31YYrVrQcOEozuTpEwAuqwWWwUkFyQVPB9Q3d81q6SV8hQ56MqOeB2Q8MI0CpLIaMZWw6iajUxZQyamCmP0XweW/aIn1sHRl9LnkyZR4TF8mHUI7tf8C3TH4KWT2H25nJG6nQzwkIH0dSvFouol91H1KXH+63AvqvI9b/YcTb9lPfaEp0Q0i/fzFGm8JliKo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-91dac162-47ac-a223-ca6c-0e395a563178/test-blob-67d0c7ef-973b-ed81-ff2b-5ec2301c7a1d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EEBA131A5\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:22.5031479Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACFSTN08cek8B1LbKbN6tUmLODXqkVxnT6KmtOTEAE/TXzss4Jvyz2aDB+ikEoOF7E/OXdvAOBHE6z06Vb0EeAbCx8p4TZStmCjPJ0mzw30fIMhU9eKz0ycpKDWe+Hmpvo/hoQq5DZ77IIWzMRCIUSfAG3T0r0IkDzTjTyWezt/vJWi50iJyZhNpmdUdAOIWYNbN3p0EtQ9NvVHV1b55HFGlw8unzr7FTfVhitWtBw4SjO5OkTAC6rBZbBSQXJBU8H1Dd3zWrpJXyFDnoyo54HZDwwjQKkshoxlbDqJqNTFlDJqYKY/RfB5b9oifWwdGX0ueTJlHhMXyYd[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-91dac162-47ac-a223-ca6c-0e395a563178?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1334723878",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
