{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1c885341-b06b-5a6f-bad3-a341628132df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C23191A688C\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1c885341-b06b-5a6f-bad3-a341628132df/test-blob-0b15fc91-5411-9649-50d7-dfa2c1183069",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C23191FF764\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:21.8103140Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1c885341-b06b-5a6f-bad3-a341628132df/test-blob-0b15fc91-5411-9649-50d7-dfa2c1183069",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C23191FF764\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:21.8103140Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1c885341-b06b-5a6f-bad3-a341628132df/test-blob-0b15fc91-5411-9649-50d7-dfa2c1183069?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C23191FF764\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Zadbf4AMFzALFV/K4GdAbHbmOPQj8UPH5Vta5uc3woI/x6Jy8t47/FUtNYYrXvCX67yayQFs5nRjk5kksTBI01LcixjFzXqXqzyf9by9m4drw/sqnfmB0uAuDl5EFkok5WE0T9LX0h1CAh7FzfC3pvgRue41HTZYW7k4lr4cU5TxehBaiUy1k/Hd6JvbuwTvdmhmM11c78gr2/MZnztfJa6J01LgXR2rXCX8VzSafZ+0SCBWtiA2lYtIL61YnPS2fsPsUeiyDxhLutY3X5eTkF5UZFcaCG+OUz7HmC5vUsAxRthwriu2AjgHCvtJ/jXztJ5PBDecm3VUXf6q63bq3GgWBhi+IuIynWIeE/5zRVQI0+SQH06JlKtjHFAsDBbCHS6TM/gdNZG7HGbUfoh34RiqoReSWr0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1c885341-b06b-5a6f-bad3-a341628132df/test-blob-0b15fc91-5411-9649-50d7-dfa2c1183069",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C2319293BCD\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:21.8103140Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABlp1t/gAwXMAsVX8rgZ0BsduY49CPxQ8flW1rm5zfCgj/HonLy3jv8VS01hite8JfrvJrJAWzmdGOTmSSxMEjTUtyLGMXNeperPJ/1vL2bh2vD+yqd+YHS4C4OXkQWSiTlYTRP0tfSHUICHsXN8Lem+BG57jUdNlhbuTiWvhxTlPF6EFqJTLWT8d3om9u7BO92aGYzXVzvyCvb8xmfO18lronTUuBdHatcJfxXNJp9n7RIIFa2IDaVi0gvrVic9LZ+w+xR6LIPGEu61jdfl5OQXlRkVxoIb45TPseYLm9SwDFG2HCuK7YCOAcK+0n+NfO0nk8EN5ybdVR[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1c885341-b06b-5a6f-bad3-a341628132df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "541301029",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
