{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c6f126c-094e-5b00-10b9-7cbf382b5abb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685855FE968\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c6f126c-094e-5b00-10b9-7cbf382b5abb/test-blob-168e961a-ca74-056a-2137-4f16fb2623e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685856CBA05\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c6f126c-094e-5b00-10b9-7cbf382b5abb/test-blob-168e961a-ca74-056a-2137-4f16fb2623e2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8685856CBA05\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:05:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c6f126c-094e-5b00-10b9-7cbf382b5abb/test-blob-168e961a-ca74-056a-2137-4f16fb2623e2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8685856CBA05\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:19 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2DOX5jdWPhUv2Cg4pQzc1jrmjUqec0AqLswpolCvq4WVxBtKo5he2653t6IH6Z2XEzD5BDE2AWXybLhrLZzEfy2jouDxkjKhiLGcJ7ueI0Quko4gtqZUX8O2Vzbf864Ssjh1ZEe9pYH9V3t/mtmpVElzPJsNpMiGT0IcOzr8wpUCiXSDKb/9cewNIl8r1MXpDAPtbLYTBA5v7hUEoGpHAJXlfRBlJiqKdsuuAIFoW3p9Mi42D1Xf74VmEzuq+NCCxiHKRVe1hObYYvXrZQSMBpOahm07EPE/Bo2L/hLv4H76KzlgnhUjyK5IXqxg84qA2gynD3FjR7Uwiz7JKYbU6IJ38DnKLGh9dr6/87FE3hMDCiQGSNAMl+ODLxPXWp4odHUq6AJQta2kKpmzo1QE66wrxR9hzaC[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c6f126c-094e-5b00-10b9-7cbf382b5abb/test-blob-168e961a-ca74-056a-2137-4f16fb2623e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868585871D8E\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "YeEfnMudyyo=",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:05:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "2DOX5jdWPhUv2Cg4pQzc1jrmjUqec0AqLswpolCvq4WVxBtKo5he2653t6IH6Z2XEzD5BDE2AWXybLhrLZzEfy2jouDxkjKhiLGcJ7ueI0Quko4gtqZUX8O2Vzbf864Ssjh1ZEe9pYH9V3t/mtmpVElzPJsNpMiGT0IcOzr8wpUCiXSDKb/9cewNIl8r1MXpDAPtbLYTBA5v7hUEoGpHAJXlfRBlJiqKdsuu[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c6f126c-094e-5b00-10b9-7cbf382b5abb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "798180485",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
