{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9cd72586-a4af-2256-effb-6e2aee0217ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB043B8B3244\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9cd72586-a4af-2256-effb-6e2aee0217ec/test-blob-c54e7091-baff-7612-52ff-a6f80d84465d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB043B9A1492\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9cd72586-a4af-2256-effb-6e2aee0217ec/test-blob-c54e7091-baff-7612-52ff-a6f80d84465d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB043B9A1492\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9cd72586-a4af-2256-effb-6e2aee0217ec/test-blob-c54e7091-baff-7612-52ff-a6f80d84465d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB043B9A1492\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "L2ttwewCA7pIoXfjC5w6c0dSNwN1p6ENcZvnebBLbnljPIl8D/Iw8ebTJql+JmShtKhKdXNl54jKX1BQGooK/TP+f84TvWRUIkYcoYD4j0o2RcQHAfkF/VUAsq+i39ZcyCl2gKaVjfZE9VMtSEUH0tAFGtTFAvs5+IF5Egu0sUJvwNlXgQ6jobjOwwul2LUQ+ODfnMUBl8YtPIckHHvrj0QQvohssFDBYXkc9z/wkyDMaBkq1RR9bigSKUWGf4Q94jPHlRospEiPHTpM5KCHPahnWLRhwLovk1BfWYcKO+L03xQLKf4GoMPRm7jaMYmIi+ydHybQ2yJ5mALKzEvBheJYVwWLexOpYLfwkCUBVWHG182abRy7JATykpH8PNN4EBXWgdmD/RDY875v30v8d0KgA/V9Jhf[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9cd72586-a4af-2256-effb-6e2aee0217ec/test-blob-c54e7091-baff-7612-52ff-a6f80d84465d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB043BB2F3AD\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAva23B7AIDukihd+MLnDpzR1I3A3WnoQ1xm+d5sEtueWM8iXwP8jDx5tMmqX4mZKG0qEp1c2XniMpfUFAaigr9M/5/zhO9ZFQiRhyhgPiPSjZFxAcB+QX9VQCyr6Lf1lzIKXaAppWN9kT1Uy1IRQfS0AUa1MUC+zn4gXkSC7SxQm/A2VeBDqOhuM7DC6XYtRD44N+cxQGXxi08hyQce+uPRBC+iGywUMFheRz3P/CTIMxoGSrVFH1uKBIpRYZ/hD3iM8eVGiykSI8dOkzkoIc9qGdYtGHAui+TUF9Zhwo74vTfFAsp/gagw9GbuNoxiYiL7J0fJtDbInmYAsrMS8GF4lhXBYt7E6lgt/CQJQFVYcbXzZptHLskBPKSkfw803gQFdaB2Y[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9cd72586-a4af-2256-effb-6e2aee0217ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1850503141",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
