{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d43a87e2-7d28-33d7-ec5a-ff323bf6cae0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDBDA2AE60\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d43a87e2-7d28-33d7-ec5a-ff323bf6cae0/test-blob-61b7b995-7282-1270-c51b-bdc7f438bab6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDBDB11FE1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d43a87e2-7d28-33d7-ec5a-ff323bf6cae0/test-blob-61b7b995-7282-1270-c51b-bdc7f438bab6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDBDB11FE1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d43a87e2-7d28-33d7-ec5a-ff323bf6cae0/test-blob-61b7b995-7282-1270-c51b-bdc7f438bab6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDBDB11FE1\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ukZa3jT5mSfni8Eho7kDGkO3oePvr+Ou22CGUpSNQD+PvWPpdzgTmL7gNHFhir+KggvPtjKTLgtiqwPTckaTWUuBkuZWGaMKowkkDnpyTFCh+9CIvooM/I9Xh8w1QCV4TNol4PjYNGhoxBIpbh+Q8F6yMXd1CprBdZVW/pLX1GPjrMKfTGxYyMdnIPl34o5wx5Ztgw6uAkJAZGpigjXWkfCuRsFd8KTxWmivDeqhSZMH5jf8aVFVNal/X+gC9UaSkY4JyJzME9byfCil/vRXnhvXWpv92iieWREX3ZC87mUhHXxbl4D3O9NhCewprza1KMHNK5qrlLdma2+LtDVFNo3Dg+F4+wea3x/HnNA7daraYrXP78PKdojF9SwRbIadHNNfZStUPCy6Mkt74/jmK/XFsFGAdUf[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d43a87e2-7d28-33d7-ec5a-ff323bf6cae0/test-blob-61b7b995-7282-1270-c51b-bdc7f438bab6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDBDCB104B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC6RlreNPmZJ+eLwSGjuQMaQ7eh4++v467bYIZSlI1AP4+9Y+l3OBOYvuA0cWGKv4qCC8+2MpMuC2KrA9NyRpNZS4GS5lYZowqjCSQOenJMUKH70Ii+igz8j1eHzDVAJXhM2iXg+Ng0aGjEEiluH5DwXrIxd3UKmsF1lVb+ktfUY+Oswp9MbFjIx2cg+XfijnDHlm2DDq4CQkBkamKCNdaR8K5GwV3wpPFaaK8N6qFJkwfmN/xpUVU1qX9f6AL1RpKRjgnInMwT1vJ8KKX+9FeeG9dam/3aKJ5ZERfdkLzuZSEdfFuXgPc702EJ7CmvNrUowc0rmquUt2Zrb4u0NUU2jcOD4Xj7B5rfH8ec0Dt1qtpitc/vw8p2iMX1LBFshp0c019lK1[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d43a87e2-7d28-33d7-ec5a-ff323bf6cae0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1516957690",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
