{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e88a38ad-9f50-87b9-678a-e8676309e3a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D4FB9E240\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e88a38ad-9f50-87b9-678a-e8676309e3a2/test-blob-d8b51438-79be-45dd-23e9-814a3789d7eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D4FC8E7F0\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e88a38ad-9f50-87b9-678a-e8676309e3a2/test-blob-d8b51438-79be-45dd-23e9-814a3789d7eb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3D4FC8E7F0\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e88a38ad-9f50-87b9-678a-e8676309e3a2/test-blob-d8b51438-79be-45dd-23e9-814a3789d7eb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7F3D4FC8E7F0\u0022",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "VSpZd/V7Oq\u002BvIMj160eKp\u002Bj3eYqf4U1beJ2MXgNXDDlX7xzSZyr6cp66UjP0hCffW1NIZGx5JXTc/v5Y7tusVxSOnvsrtz\u002B\u002B/Qfs5Y4ZZvR2rQOvD6fM3cmn9WkrooPCDfofZuYrs6MTiWdljT/lwpcK4kDY/EhswcEyhMLWk1uEKtiU\u002BgAOSvpfm4VAZ0\u002BKwTLSIMBC6hCxsqQk\u002BS/hPfYM4WNnUciW/JdGeGDDLFlxp8KPBHKaQUDH4kdc6VHLfl6OM4bsInBqOyQo/HGv7oVKs1FsUjiEcZ8jn2\u002BBOhNGevkCNfnThYRRJchOckTOF/TBETX/XiwlCsLmyYMA6QEQ4oJ4rbiMdy7MGi1wNf9bVYd7vyjdRxz[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e88a38ad-9f50-87b9-678a-e8676309e3a2/test-blob-d8b51438-79be-45dd-23e9-814a3789d7eb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3D4FE549B1\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABVKll39Xs6r68gyPXrR4qn6Pd5ip/hTVt4nYxeA1cMOVfvHNJnKvpynrpSM/SEJ99bU0hkbHkldNz\u002B/lju26xXFI6e\u002Byu3P779B\u002Bzljhlm9HatA68Pp8zdyaf1aSuig8IN\u002Bh9m5iuzoxOJZ2WNP\u002BXClwriQNj8SGzBwTKEwtaTW4Qq2JT6AA5K\u002Bl\u002BbhUBnT4rBMtIgwELqELGypCT5L\u002BE99gzhY2dRyJb8l0Z4YMMsWXGnwo8EcppBQMfiR1zpUct\u002BXo4zhuwicGo7JCj8ca/uhUqzUWxSOIRxnyOfb4E6E0Z6\u002BQI1\u002BdOFhFElyE5yRM4X9MERNf9eLCUKwub[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e88a38ad-9f50-87b9-678a-e8676309e3a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1308069971",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
