{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4a7b5bf6-d32b-69be-f350-6b4626bf750a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BCAD4595\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4a7b5bf6-d32b-69be-f350-6b4626bf750a/test-blob-db4eb284-3bc3-2711-8748-5e9f60eef85b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BCB6C721\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4a7b5bf6-d32b-69be-f350-6b4626bf750a/test-blob-db4eb284-3bc3-2711-8748-5e9f60eef85b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BCB6C721\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4a7b5bf6-d32b-69be-f350-6b4626bf750a/test-blob-db4eb284-3bc3-2711-8748-5e9f60eef85b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6BCB6C721\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "+AShT5iD4IlDMIDme5UJfErYnC6BKUwVLGve0vHdX5ojVDBc1Lb7Jhe0CY1o2Qnn+/3wE5Lygs63jCItpA2XZdHmwiZlraiU3HYWzB++rVNh99f07EsHMdJhpEiTzYEKHKO7ghbigU1VXDYc27Wv+d7Py601o3iF3pFUBAhfAA/0DK98Aio8fnaJnpAV61YcsqtpxAHU1HkqNqSFjnxF9lsnJ84FM/a0k002rATocPM7N1Jd9TwNIDg2UcyGtvD6RKg07cOHF361tTC0nSh0QsWxSlYp6AAfGgaVz+EpLtxdPGdbs4IvsyDTp0ALWIMQwQ4G1GyZ0FyoFdO88Uidi4dUVmHAGI5DgZY1VkDAE8GDhQ3SIllvw2wLs56uc8LYNhy4tgIhT6iAw1PVY3oc5wESOGw6ymg[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4a7b5bf6-d32b-69be-f350-6b4626bf750a/test-blob-db4eb284-3bc3-2711-8748-5e9f60eef85b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BCC49A42\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD4BKFPmIPgiUMwgOZ7lQl8SticLoEpTBUsa97S8d1fmiNUMFzUtvsmF7QJjWjZCef7/fATkvKCzreMIi2kDZdl0ebCJmWtqJTcdhbMH76tU2H31/TsSwcx0mGkSJPNgQoco7uCFuKBTVVcNhzbta/53s/LrTWjeIXekVQECF8AD/QMr3wCKjx+domekBXrVhyyq2nEAdTUeSo2pIWOfEX2WycnzgUz9rSTTTasBOhw8zs3Ul31PA0gODZRzIa28PpEqDTtw4cXfrW1MLSdKHRCxbFKVinoAB8aBpXP4Sku3F08Z1uzgi+zINOnQAtYgxDBDgbUbJnQXKgV07zxSJ2Lh1RWYcAYjkOBljVWQMATwYOFDdIiWW/DbAuznq5zwtg2HLi2Ai[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4a7b5bf6-d32b-69be-f350-6b4626bf750a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1669368985",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
