{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c97a3c27-1939-167c-ecc7-31c4b5d9def4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685805830BB\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c97a3c27-1939-167c-ecc7-31c4b5d9def4/test-blob-9c430d9e-1b6f-94c4-4e1e-f8602e085084",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868580655016\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c97a3c27-1939-167c-ecc7-31c4b5d9def4/test-blob-9c430d9e-1b6f-94c4-4e1e-f8602e085084",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868580655016\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:05:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c97a3c27-1939-167c-ecc7-31c4b5d9def4/test-blob-9c430d9e-1b6f-94c4-4e1e-f8602e085084?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC868580655016\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:10 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "0U+J6IFe3zgGd9s8elRRPsllWm99bLFtDaDdDRKCJcCcUlV2JBZKCmYja8s9b4nKF53qd9Hwz2WdHNvggdElhFEboCf+2hmyGlAJWQDlL50XEvV1l63vq4Pw2Ag7aoiV/ed5Is9hyz2DOFyB5nZkt+w+yG7br+2kK/SkDgIRd7DHdFsZaw3Ntka48l9QbcQMjCAc/aEauU351fbbvb06ccCsunIaSkzecBInIr2OU74vl4Hh9XoPrboNH5YW8fiJfYGepLNS8kHUPYyO8peQa4I4rCY7WXxGnAy4DCq1yH8anqQ7768K3KVADLfugbsifbMU3kTSTSQFWAemmeUWHnQMdFPzVHzSLc+B+0zEVxtRlY92oeo6SFF/NpenZEO/Ke5C4Q1nLyg3QbB1UFHYQADsVQRWn32[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c97a3c27-1939-167c-ecc7-31c4b5d9def4/test-blob-9c430d9e-1b6f-94c4-4e1e-f8602e085084",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868580813A28\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "jrzOimN5BKI=",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:05:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "0U+J6IFe3zgGd9s8elRRPsllWm99bLFtDaDdDRKCJcCcUlV2JBZKCmYja8s9b4nKF53qd9Hwz2WdHNvggdElhFEboCf+2hmyGlAJWQDlL50XEvV1l63vq4Pw2Ag7aoiV/ed5Is9hyz2DOFyB5nZkt+w+yG7br+2kK/SkDgIRd7DHdFsZaw3Ntka48l9QbcQMjCAc/aEauU351fbbvb06ccCsunIaSkzecBIn[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c97a3c27-1939-167c-ecc7-31c4b5d9def4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "297573711",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
