{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f34eab27-c990-315b-91b5-ab3cbb94b33f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F0562E3AA\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f34eab27-c990-315b-91b5-ab3cbb94b33f/test-blob-f9fbaeb4-2324-fdad-58c9-f5ce94159a51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F056DA4BD\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:05.8647229Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f34eab27-c990-315b-91b5-ab3cbb94b33f/test-blob-f9fbaeb4-2324-fdad-58c9-f5ce94159a51",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F056DA4BD\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:05.8647229Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f34eab27-c990-315b-91b5-ab3cbb94b33f/test-blob-f9fbaeb4-2324-fdad-58c9-f5ce94159a51?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336F056DA4BD\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "sXTADADHBgT6lzx1Kvegz8SxdaQYuzFckGjpWpMYSjsNq7EcAOT6/xF3/nat9d5ymb/TugZp2vZCZHyX3atx4U0BaH9FhM/gt3WToLy7rpuKd8DTRJA0o9G72pxnYiJlBh0oq4xfLBTw8wOR1jo5hrXhDGXqnpy8zcStiqoyeFRSLZqfkgMOK0us4lGMo8yXgVPmhVa9emiAbN7IsaFpvnqvPqmgmvOy0+AaPrtLMCn4FghXS/P+lbMxHyYkRXqpQiTW3WUj9udfNLF1ojusNTu10JqYEnKHsaj1bnrMjo1mcPuXdFLE1CAh9xdBiPN3henrb3XgEDCxTyy8Lohsk6YkDjFAFMHo8Pt6dxtaRSi1femR4R4Yhl/L5iQmB6aXtGRxHXrBN3AoAn56ZZkUVgkEB7Cf27G[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f34eab27-c990-315b-91b5-ab3cbb94b33f/test-blob-f9fbaeb4-2324-fdad-58c9-f5ce94159a51",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F05795768\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:05.8647229Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACxdMAMAMcGBPqXPHUq96DPxLF1pBi7MVyQaOlakxhKOw2rsRwA5Pr/EXf+dq313nKZv9O6Bmna9kJkfJfdq3HhTQFof0WEz+C3dZOgvLuum4p3wNNEkDSj0bvanGdiImUGHSirjF8sFPDzA5HWOjmGteEMZeqenLzNxK2KqjJ4VFItmp+SAw4rS6ziUYyjzJeBU+aFVr16aIBs3sixoWm+eq8+qaCa87LT4Bo+u0swKfgWCFdL8/6VszEfJiRFeqlCJNbdZSP25180sXWiO6w1O7XQmpgScoexqPVuesyOjWZw+5d0UsTUICH3F0GI83eF6etvdeAQMLF[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f34eab27-c990-315b-91b5-ab3cbb94b33f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1967889797",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
