{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d113974-b675-ca04-3458-579caee40a28?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB043D924B5F\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d113974-b675-ca04-3458-579caee40a28/test-blob-cf381b1c-bd06-a843-9c45-0d32584fe1f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB043DA06C40\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d113974-b675-ca04-3458-579caee40a28/test-blob-cf381b1c-bd06-a843-9c45-0d32584fe1f6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB043DA06C40\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:23:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d113974-b675-ca04-3458-579caee40a28/test-blob-cf381b1c-bd06-a843-9c45-0d32584fe1f6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB043DA06C40\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HDmoPxF/u87fgh/+4fJAyYTdzMfsQ+D1CS/hssXlqnFjN/ZRwpRnTysp6Mboap5KBxjwByBKsdlZsjXhngkJ+detm6r77gbvdnycwloZDZ+Rl6qs9aNRGIUc+A9fhbEhIO7uOs/0ThkSAZGjru9+P6WWUAdfXAQ0XIIk3/b2j/DLe6FrK9PPnEmQmvQSrWqWnbhqyTWqwsTqud5N0G4iG3Gg2DJNExPRx7S+zsIQIq4XjUE9i8a6ILjdgXH1gczabn6CcdU3SIqkmAKB7PMB2ZcvNkIs5I+q5rd5cJGi3EXn42BDjbHZ30S3mPPEOTTF26faxUuJrYnu2Iodvdj4Aru9mQiTvkzlVlb9dUyc5qyCtJTpxxf5XjbWVbUmuyFsvpY3B6AsMR1a9G71izg9UfHemwlDDzq[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d113974-b675-ca04-3458-579caee40a28/test-blob-cf381b1c-bd06-a843-9c45-0d32584fe1f6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB043DC0503F\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:23:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAcOag/EX+7zt+CH/7h8kDJhN3Mx+xD4PUJL+GyxeWqcWM39lHClGdPKynoxuhqnkoHGPAHIEqx2VmyNeGeCQn5162bqvvuBu92fJzCWhkNn5GXqqz1o1EYhRz4D1+FsSEg7u46z/ROGRIBkaOu734/pZZQB19cBDRcgiTf9vaP8Mt7oWsr08+cSZCa9BKtapaduGrJNarCxOq53k3QbiIbcaDYMk0TE9HHtL7OwhAirheNQT2LxroguN2BcfWBzNpufoJx1TdIiqSYAoHs8wHZly82Qizkj6rmt3lwkaLcRefjYEONsdnfRLeY88Q5NMXbp9rFS4mtie7Yih292PgCu72ZCJO+TOVWVv11TJzmrIK0lOnHF/leNtZVtSa7IWy+ljcHoC[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d113974-b675-ca04-3458-579caee40a28?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "565742921",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
