{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-263586a9-52a9-7578-80ce-f146750708be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BD480CA9\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-263586a9-52a9-7578-80ce-f146750708be/test-blob-dfb04784-98e3-87ac-2681-f1c23287b73a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BD51BC6B\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-263586a9-52a9-7578-80ce-f146750708be/test-blob-dfb04784-98e3-87ac-2681-f1c23287b73a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BD51BC6B\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-263586a9-52a9-7578-80ce-f146750708be/test-blob-dfb04784-98e3-87ac-2681-f1c23287b73a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6BD51BC6B\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "akvr8GIQhS1VQorl8UBy84ZnGIp8RzCMUhkpP0mPzl+jGM23oVYnHWVca0y+4qOmsD4avSOWyyIbXp5J5kbkxnMrQtlyu1IvQPokH9zkznB2g48KdRE8DEyqnEK43jYfeKTYkp/JM/Xs6n0pcaxGNo8t0mO22lBi7jaNxx4PdmHDBac3DDvQrFCaHoqTE5ufZGWziwvTaJ1UdqNpPGvW3HMbZWwFDipTXCYTHLzGztua7WO4XOtW8JwJ45WYZ3Dkw0EWeK0umVY7Xy7kwEzhjajHzk4IHX+IxXXP/CqUu/W2Lll6r1UubFMMff29cS9QJ1Xt0Jkh3KXCjrM4Xp0spqM4LpHyZ95SmWL6+6CCylNFf9XUp+tclFKztyCi9g224NZZhUOeXb93mjY2JuEFQMRf8t/IV/+[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-263586a9-52a9-7578-80ce-f146750708be/test-blob-dfb04784-98e3-87ac-2681-f1c23287b73a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BD5F1AE4\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABqS+vwYhCFLVVCiuXxQHLzhmcYinxHMIxSGSk/SY/OX6MYzbehVicdZVxrTL7io6awPhq9I5bLIhtenknmRuTGcytC2XK7Ui9A+iQf3OTOcHaDjwp1ETwMTKqcQrjeNh94pNiSn8kz9ezqfSlxrEY2jy3SY7baUGLuNo3HHg92YcMFpzcMO9CsUJoeipMTm59kZbOLC9NonVR2o2k8a9bccxtlbAUOKlNcJhMcvMbO25rtY7hc61bwnAnjlZhncOTDQRZ4rS6ZVjtfLuTATOGNqMfOTggdf4jFdc/8KpS79bYuWXqvVS5sUwx9/b1xL1AnVe3QmSHcpcKOszhenSymozgukfJn3lKZYvr7oILKU0V/1dSn61yUUrO3IKL2Dbbg1lmFQ5[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-263586a9-52a9-7578-80ce-f146750708be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1908595075",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
