{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5a7e79ec-a6a1-35b5-ef7e-ad10e97a5db7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64A6AC4B8\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5a7e79ec-a6a1-35b5-ef7e-ad10e97a5db7/test-blob-8062b80d-f71d-76f0-8bf4-1fcf327d71aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64A80786D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5a7e79ec-a6a1-35b5-ef7e-ad10e97a5db7/test-blob-8062b80d-f71d-76f0-8bf4-1fcf327d71aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D64A80786D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5a7e79ec-a6a1-35b5-ef7e-ad10e97a5db7/test-blob-8062b80d-f71d-76f0-8bf4-1fcf327d71aa?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D64A80786D\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "yO68S8xY41adrbEK38hFQEbXhPXPQ1g5kZjXIjvHR0Y4JSQB8uwJNBFUfbLo5Os8mRnOsd1p0YSVg7k0gMEb1WZr0bmjQ05ZzlDjesWlUa2smogh+JVozlSga28y1bNQOKdLfBIymFXLdOONhla+8DELiOY4+tzRAgNlA9jeJ/mck0EdWdSbegIzVYOx20j94Xs9Jk3NFz7KenoOzJR97E3q8PIVoZZdcA3jBaVZHye7aCJcoQCsz3sDUt5ajK1ttmg2x+pV6EDl4LY/6RKYcVtTU2RxIEtNPiB2EU63A+Nfdk48Ilc8ZX/id8BJbOZoauGDBjlJ+5Uc6InJ39bxLd3S33PDXE4DFu3kj6mLA9E6DaZtNPyqFXq5HzrOc4ap8Enid41ypQ6Sf/BLZWzrkeS3j9EwhPn[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5a7e79ec-a6a1-35b5-ef7e-ad10e97a5db7/test-blob-8062b80d-f71d-76f0-8bf4-1fcf327d71aa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D64A8D891E\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADI7rxLzFjjVp2tsQrfyEVARteE9c9DWDmRmNciO8dHRjglJAHy7Ak0EVR9sujk6zyZGc6x3WnRhJWDuTSAwRvVZmvRuaNDTlnOUON6xaVRrayaiCH4lWjOVKBrbzLVs1A4p0t8EjKYVct0442GVr7wMQuI5jj63NECA2UD2N4n+ZyTQR1Z1Jt6AjNVg7HbSP3hez0mTc0XPsp6eg7MlH3sTerw8hWhll1wDeMFpVkfJ7toIlyhAKzPewNS3lqMrW22aDbH6lXoQOXgtj/pEphxW1NTZHEgS00+IHYRTrcD4192TjwiVzxlf+J3wEls5mhq4YMGOUn7lRzoicnf1vEt3dLfc8NcTgMW7eSPqYsD0ToNpm00/KoVerkfOs5zhqnwSeJ3jX[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5a7e79ec-a6a1-35b5-ef7e-ad10e97a5db7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "180822369",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
