{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-faa56626-b3f0-40f4-da2e-b59eb066ce3d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64FE2F3C6\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-faa56626-b3f0-40f4-da2e-b59eb066ce3d/test-blob-ae325ad7-6836-adca-84fc-978ac249e9c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64FEDC8E9\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-faa56626-b3f0-40f4-da2e-b59eb066ce3d/test-blob-ae325ad7-6836-adca-84fc-978ac249e9c7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D64FEDC8E9\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-faa56626-b3f0-40f4-da2e-b59eb066ce3d/test-blob-ae325ad7-6836-adca-84fc-978ac249e9c7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D64FEDC8E9\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "sgQaUSSoBZsiciCWNgwZ/5WlekFa9NMhojVmHuXkA0syazUjwEfremlwt/fqKaLUyqXKihLmt70w+K/vQue1PW/UY8rW9T5Ouf/X6j3cNniSkVNAGng5TLN48seX/DeCunmHFcXY/tVne9ASDs1/VMI2XbGTdSP2mxYWXQJ2tr3HVTDDVCCzuZJ+2Z6oJj3m+Z4FYZ+G70RWkHquwaHS8MQSS7mdu/+hg6MeFJyFTnXYMGRkcVUeQWbrbcOmBPjxq+jZlduEST2eZN78aNqo0EIF1ZA9bn5v9AlTsU47+36qLGizrLiaVOcmxQ13IdmLQ5yBoS5ntD1qaaDRMZfvYmlfUTtx9CSJaoGpFqhx99Iwx26xullQQ3grSUIXySJPN2OkGNCeGk549zasvp2U+HLOoGopPag[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-faa56626-b3f0-40f4-da2e-b59eb066ce3d/test-blob-ae325ad7-6836-adca-84fc-978ac249e9c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D64FF9F03E\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACyBBpRJKgFmyJyIJY2DBn/laV6QVr00yGiNWYe5eQDSzJrNSPAR+t6aXC39+opotTKpcqKEua3vTD4r+9C57U9b9Rjytb1Pk65/9fqPdw2eJKRU0AaeDlMs3jyx5f8N4K6eYcVxdj+1Wd70BIOzX9UwjZdsZN1I/abFhZdAna2vcdVMMNUILO5kn7ZnqgmPeb5ngVhn4bvRFaQeq7BodLwxBJLuZ27/6GDox4UnIVOddgwZGRxVR5BZuttw6YE+PGr6NmV24RJPZ5k3vxo2qjQQgXVkD1ufm/0CVOxTjv7fqosaLOsuJpU5ybFDXch2YtDnIGhLme0PWppoNExl+9iaV9RO3H0JIlqgakWqHH30jDHbrG6WVBDeCtJQhfJIk83Y6QY0J[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-faa56626-b3f0-40f4-da2e-b59eb066ce3d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2042073604",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
