{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1bd2ad86-a6b7-903f-0759-b8998b9b44f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB043B328AEB\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1bd2ad86-a6b7-903f-0759-b8998b9b44f0/test-blob-f918bd17-0d00-8094-91a3-55939d579fd3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB043B405BA8\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1bd2ad86-a6b7-903f-0759-b8998b9b44f0/test-blob-f918bd17-0d00-8094-91a3-55939d579fd3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB043B405BA8\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:23:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1bd2ad86-a6b7-903f-0759-b8998b9b44f0/test-blob-f918bd17-0d00-8094-91a3-55939d579fd3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB043B405BA8\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "sq/UY1mTV9/Lk56Dz1BY5iu6BEcI2U/3yJVbNc4PinWsSj2ITcqkAeyzng7V4+zc/vGn+gNAhNhg3JvDOCERvAgo1oUT0JlgFgJbVTtAIuSpfjfcZ49ya8VkKHAv4MnKoeIFrAxnyC5YRuQA5S+dH7q2GrnqNFV5tmu/rqcoMTU5kbNYO3XXQbUIgyCqcYaWxwm1eMYP32yMi/WhqBqHMBWvx1R7RONE39gE4rE0z0XkKOedcrhuKbFGzLCANZmbgVML+qkyG4MmcZntC/y7WLyvvX8z6b1cQJ6iNHczxKk/aWFdKdScsQxjdwEfgB61i3Tz0HcZaJeWrrkLkOYL8q3vrqKbXi7nEwtyz3G7Pb+A7akDP/MxJQHJxnoakSEmV4RTL9J8GSxFC71sppgl2nH6iqM8B7O[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1bd2ad86-a6b7-903f-0759-b8998b9b44f0/test-blob-f918bd17-0d00-8094-91a3-55939d579fd3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB043B5E6AF4\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:23:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACyr9RjWZNX38uTnoPPUFjmK7oERwjZT/fIlVs1zg+KdaxKPYhNyqQB7LOeDtXj7Nz+8af6A0CE2GDcm8M4IRG8CCjWhRPQmWAWAltVO0Ai5Kl+N9xnj3JrxWQocC/gycqh4gWsDGfILlhG5ADlL50furYaueo0VXm2a7+upygxNTmRs1g7dddBtQiDIKpxhpbHCbV4xg/fbIyL9aGoGocwFa/HVHtE40Tf2ATisTTPReQo551yuG4psUbMsIA1mZuBUwv6qTIbgyZxme0L/LtYvK+9fzPpvVxAnqI0dzPEqT9pYV0p1JyxDGN3AR+AHrWLdPPQdxlol5auuQuQ5gvyre+uopteLucTC3LPcbs9v4DtqQM/8zElAcnGehqRISZXhFMv0n[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1bd2ad86-a6b7-903f-0759-b8998b9b44f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1658912024",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
