{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e22856d0-748f-0b6b-6a64-8630d59c3be5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D62B874FB\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e22856d0-748f-0b6b-6a64-8630d59c3be5/test-blob-536b17ce-eea9-b745-8fbd-c6f9c9061189",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D62C85645\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e22856d0-748f-0b6b-6a64-8630d59c3be5/test-blob-536b17ce-eea9-b745-8fbd-c6f9c9061189",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D62C85645\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e22856d0-748f-0b6b-6a64-8630d59c3be5/test-blob-536b17ce-eea9-b745-8fbd-c6f9c9061189?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D62C85645\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "tncpGHy/BygCq0qqpNfLuRqdtvkjuoQ0aj7youie4dQ96d3IiDFru9NQfrUHyUN/kQab/Q2twvvz9K4+zGU/Y8p1bLr6AzDpMvsm0zvOLaD6cxHiA+TGjybh1JSDLe5uERvrkV2IhY3VsssSh+/AJMYNQ1lTXGDmr9yUGC6cZQUMt8Ig45xCcu2DDFEYswg3IbDNdemUGrS6BeGA9GxeOUzFBc8sn0EpytFrz1APzfvUXPZ+z/AceJ0OZd26wn2BJdMFU644C4Juo6oXKUtjqzjmrJd24GpbqY0yHjljbwhT6qp8CnpNm1F0ECtGBE5Rqrql1BXlCkRpqakgBuxICjShwz6h56G+mRFGAs8+FaQ+4HN/vprybuBlE2DQLJRkKwX3pEEQsMMY5zsEngh0K5ME4SV5yEy[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e22856d0-748f-0b6b-6a64-8630d59c3be5/test-blob-536b17ce-eea9-b745-8fbd-c6f9c9061189",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D62DAB827\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC2dykYfL8HKAKrSqqk18u5Gp22+SO6hDRqPvKi6J7h1D3p3ciIMWu701B+tQfJQ3+RBpv9Da3C+/P0rj7MZT9jynVsuvoDMOky+ybTO84toPpzEeID5MaPJuHUlIMt7m4RG+uRXYiFjdWyyxKH78Akxg1DWVNcYOav3JQYLpxlBQy3wiDjnEJy7YMMURizCDchsM116ZQatLoF4YD0bF45TMUFzyyfQSnK0WvPUA/N+9Rc9n7P8Bx4nQ5l3brCfYEl0wVTrjgLgm6jqhcpS2OrOOasl3bgalupjTIeOWNvCFPqqnwKek2bUXQQK0YETlGquqXUFeUKRGmpqSAG7EgKNKHDPqHnob6ZEUYCzz4VpD7gc3++mvJu4GUTYNAslGQrBfekQR[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e22856d0-748f-0b6b-6a64-8630d59c3be5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "756793082",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
