{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1fc66cbb-187f-c045-9a1e-fb58ade0ce78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB041E124248\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1fc66cbb-187f-c045-9a1e-fb58ade0ce78/test-blob-966bc365-fea9-2436-98e4-fae9e36a12d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB041E206E66\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1fc66cbb-187f-c045-9a1e-fb58ade0ce78/test-blob-966bc365-fea9-2436-98e4-fae9e36a12d5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB041E206E66\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:22:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1fc66cbb-187f-c045-9a1e-fb58ade0ce78/test-blob-966bc365-fea9-2436-98e4-fae9e36a12d5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB041E206E66\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HjV5FWPJ8PUHQXnCie1PdlOQgAJ0T5FLUa4D4Zci5EfVJzk8qrYHDrp2dqWuqjwrS7fvD97l8c6jLcO0xQ9d5Vwx7GGzE8yciHFH/tjrnKdx2JbfM9Vp8DVrmHzzU0mrGJFJfb7adzjrUodsnfP1uJAbQux4fbKHx/srSHpPqTUonOVHoh/plmFe9OBN/VJCdeDr1xBdMpvfwbbCri69m6hRRAEOrRVxMqyLGonROcqp6dKaY9IlymlKaOBpJ+gyoFg3+7lQM8fKeqVk0hcRDYjsGMVcIjfWLHmXxEU0CAvEWHkxmj0QWbYL0OkswfhROFtYfA4i1n4gYM4/uG+ClXGaoHmd4HJK278PUVJOqWuBRovp3Iv8oYL7EDlu0aBGiDp4kiB+s1joDqFPE4Us0rZjvnLjmLn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1fc66cbb-187f-c045-9a1e-fb58ade0ce78/test-blob-966bc365-fea9-2436-98e4-fae9e36a12d5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB041E3A5EEF\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:22:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAeNXkVY8nw9QdBecKJ7U92U5CAAnRPkUtRrgPhlyLkR9UnOTyqtgcOunZ2pa6qPCtLt+8P3uXxzqMtw7TFD13lXDHsYbMTzJyIcUf+2Oucp3HYlt8z1WnwNWuYfPNTSasYkUl9vtp3OOtSh2yd8/W4kBtC7Hh9sofH+ytIek+pNSic5UeiH+mWYV704E39UkJ14OvXEF0ym9/BtsKuLr2bqFFEAQ6tFXEyrIsaidE5yqnp0ppj0iXKaUpo4Gkn6DKgWDf7uVAzx8p6pWTSFxENiOwYxVwiN9YseZfERTQIC8RYeTGaPRBZtgvQ6SzB+FE4W1h8DiLWfiBgzj+4b4KVcZqgeZ3gckrbvw9RUk6pa4FGi+nci/yhgvsQOW7RoEaIOniSIH[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1fc66cbb-187f-c045-9a1e-fb58ade0ce78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "457329582",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
