{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-70c8db55-1957-e278-293e-0cff315bdbf5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E7BE34A84\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-70c8db55-1957-e278-293e-0cff315bdbf5/test-blob-8e238e29-9661-61f2-e764-f68399da8907",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E7BF25C88\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-70c8db55-1957-e278-293e-0cff315bdbf5/test-blob-8e238e29-9661-61f2-e764-f68399da8907",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E7BF25C88\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-70c8db55-1957-e278-293e-0cff315bdbf5/test-blob-8e238e29-9661-61f2-e764-f68399da8907?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444E7BF25C88\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "/g7nYXVvTXNjhC4QTF9m626qR2uB9sbMSJqQpW7Sv5iv1RpsVW7sSHhmgqrw80JNjIc32mIrdgdHGxnb36gEkMSVYXZF\u002BZYAvf/zG3Qc21RXQxjnmuQ1g18SJTpUEWnQYvHlWpLMB5PxNh1jOFuTKj/FhJuQHPXgYN0XMtRbrKyVIriDN4HBizuF9WPH0koEf/r7jo3NQEX7Bfq1tNW\u002BlopwzRWiD/O\u002BBPlfCieRGI2SErPaYB0fx\u002BJyhzKGDNZmxl/ZVgU0YW8HPYqTbjUeaextIqIh5DVsUQUzMIfAOPcj\u002BETIuMGIXbFD0iKTi1msVB1FGOkzROIpbQX/ATHnRgWScHXxVrEq5cTx3hES2Mash9tpeh8O77Rhnku8iVx/W4wdAR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-70c8db55-1957-e278-293e-0cff315bdbf5/test-blob-8e238e29-9661-61f2-e764-f68399da8907",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E7C0D377E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "VOJHM6o6qIE=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "/g7nYXVvTXNjhC4QTF9m626qR2uB9sbMSJqQpW7Sv5iv1RpsVW7sSHhmgqrw80JNjIc32mIrdgdHGxnb36gEkMSVYXZF\u002BZYAvf/zG3Qc21RXQxjnmuQ1g18SJTpUEWnQYvHlWpLMB5PxNh1jOFuTKj/FhJuQHPXgYN0XMtRbrKyVIriDN4HBizuF9WPH0koEf/r7jo3NQEX7Bfq1tNW\u002BlopwzR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-70c8db55-1957-e278-293e-0cff315bdbf5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1413917482",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
