{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-29ca9e28-6706-93fd-a283-76fdab519967?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D3AC2513\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-29ca9e28-6706-93fd-a283-76fdab519967/test-blob-a2fc4ab5-1e59-6037-9436-78710ca7089c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D3B5897C\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-29ca9e28-6706-93fd-a283-76fdab519967/test-blob-a2fc4ab5-1e59-6037-9436-78710ca7089c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D3B5897C\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-29ca9e28-6706-93fd-a283-76fdab519967/test-blob-a2fc4ab5-1e59-6037-9436-78710ca7089c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6D3B5897C\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "5qKM5MuHnBixrG/5Dv4wSj0M9LyA1fXCLQDr6ndAxfAZMxfAymCegVK4EcYs8+/NSE1uTNU3pBGtyrfKm7KgceZ/39vmb3/dbXNpx8MuljkRHqEq0Xga4o8GEgCp1OWfGKDfrBQU5tnOkd5izdxNfzR9uX0RdaBuZPxL4Fx/M5mNya4jT+kl/DfHXD+ZuBWyuZPLKxpojqL/cUgYyAZ8Tl1F1AMtKS9LV7xGSRlg1KzmmSfItAh+JTsLI96hDTMwSw3iVOMShI9kgNNeIUWIn5ybMi/ftJpVxq/IIgZRqkqIFf4MfoDI1BSXZDM0IAP1goRBBdsEUJdzjI0zSWKIEtaI1QtHfCAc010aR09mIKar05+BD6RvhMVnmfLylIqxDlFdq0r4rQZkJTJ96QlHDGvmh3bDBwM[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-29ca9e28-6706-93fd-a283-76fdab519967/test-blob-a2fc4ab5-1e59-6037-9436-78710ca7089c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D3CAA76E\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADmoozky4ecGLGsb/kO/jBKPQz0vIDV9cItAOvqd0DF8BkzF8DKYJ6BUrgRxizz781ITW5M1TekEa3Kt8qbsqBx5n/f2+Zvf91tc2nHwy6WOREeoSrReBrijwYSAKnU5Z8YoN+sFBTm2c6R3mLN3E1/NH25fRF1oG5k/EvgXH8zmY3JriNP6SX8N8dcP5m4FbK5k8srGmiOov9xSBjIBnxOXUXUAy0pL0tXvEZJGWDUrOaZJ8i0CH4lOwsj3qENMzBLDeJU4xKEj2SA014hRYifnJsyL9+0mlXGr8giBlGqSogV/gx+gMjUFJdkMzQgA/WChEEF2wRQl3OMjTNJYogS1ojVC0d8IBzTXRpHT2YgpqvTn4EPpG+ExWeZ8vKUirEOUV2rSv[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-29ca9e28-6706-93fd-a283-76fdab519967?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1815345604",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
