{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccfbc716-e3d5-6502-954f-d12ee41b9fd4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD910882D0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccfbc716-e3d5-6502-954f-d12ee41b9fd4/test-blob-b14fcf93-5d6d-5e36-9a20-83873d7a33d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD91174E38\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccfbc716-e3d5-6502-954f-d12ee41b9fd4/test-blob-b14fcf93-5d6d-5e36-9a20-83873d7a33d3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDD91174E38\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccfbc716-e3d5-6502-954f-d12ee41b9fd4/test-blob-b14fcf93-5d6d-5e36-9a20-83873d7a33d3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDD91174E38\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NV3pknz1MHeBHorNrzwI9SfD8Aic6aPJdpA/DAfXZj3qMpD/tpSRSKsHNRIxIe09cKFHsxMVZEu5HxzstiRwqbdN4n2sCT+TMahclbSQl1SiAZtmj7Mp1c1ERZZ4pZGGl4tb5D5wkWditIJruM+XKYjISbSJCRoEIw2wZ8OoG4sW1f0pNLMVMW80BNsxvh39rRsOr1vd/Y1xV8AxwCqjuZj2VOLRbvTUsxhFVAU+0mTvsrmomWsvOdhwt93y43FEkEpCOmk6Kz4nOvxDl6iHMoRcQQ5w+yAtxhsKYbYW4c+mAMO7+5j6tYZ7gF9v66Ev6IVZlqFj05UqFXNOMMqIEFgsnZfkzDbsYYyI9XrAvdp52nkxvUstQywukOYkq4W78nAGQk4JSxxObTQV294baVeY1FVQV1I[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccfbc716-e3d5-6502-954f-d12ee41b9fd4/test-blob-b14fcf93-5d6d-5e36-9a20-83873d7a33d3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDD912FDF01\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:12:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA1XemSfPUwd4Eeis2vPAj1J8PwCJzpo8l2kD8MB9dmPeoykP+2lJFIqwc1EjEh7T1woUezExVkS7kfHOy2JHCpt03ifawJP5MxqFyVtJCXVKIBm2aPsynVzURFlnilkYaXi1vkPnCRZ2K0gmu4z5cpiMhJtIkJGgQjDbBnw6gbixbV/Sk0sxUxbzQE2zG+Hf2tGw6vW939jXFXwDHAKqO5mPZU4tFu9NSzGEVUBT7SZO+yuaiZay852HC33fLjcUSQSkI6aTorPic6/EOXqIcyhFxBDnD7IC3GGwphthbhz6YAw7v7mPq1hnuAX2/roS/ohVmWoWPTlSoVc04wyogQWCydl+TMNuxhjIj1esC92nnaeTG9Sy1DLC6Q5iSrhbvycAZCTg[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccfbc716-e3d5-6502-954f-d12ee41b9fd4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "484418398",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
