{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca0735a5-917e-b97c-f7e8-a6fd0433ea0e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EB853585D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca0735a5-917e-b97c-f7e8-a6fd0433ea0e/test-blob-57b2e4db-728c-4614-062c-75e004f9da9c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EB8621CDD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca0735a5-917e-b97c-f7e8-a6fd0433ea0e/test-blob-57b2e4db-728c-4614-062c-75e004f9da9c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EB8621CDD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca0735a5-917e-b97c-f7e8-a6fd0433ea0e/test-blob-57b2e4db-728c-4614-062c-75e004f9da9c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EB8621CDD\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "myiJRh9Krr\u002BBQxSJ0/TV4O6nHNTILaXYF5nAP82apfOuIeu8jrPeloGrPCVV1WRPiDgqdqZx026CsC6FiW7y5p0g27EJGFE7yIZTHfGAgkI1cLeUby5MPU58Ot2EWQwSuVWHNPqyRm/m760fHrZ9Ai7sUBm3XXdu1J1jjN5ztm95QGSb\u002BE1IgypHrX\u002BBLB\u002BY/zevlwnzW1vdGGBcTrmQcjg\u002Bpt5R4gngpMzucLD37ad\u002By42nxB5mhuQJvd/t6zRwtjpHQ4ZARh0uz/M8BOur5iu53YMr6a4Z1x/5SCQq8riYfbl1sKogPYVwePQrKoH5Xde0NA6xRcyLLWtnR/34A9w7pIcxNTWAmJ/9u3C57qydAOpMdr6q5jjs6YM\u002B[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca0735a5-917e-b97c-f7e8-a6fd0433ea0e/test-blob-57b2e4db-728c-4614-062c-75e004f9da9c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EB87D6CE9\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "Yl20YN3mlFo=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "myiJRh9Krr\u002BBQxSJ0/TV4O6nHNTILaXYF5nAP82apfOuIeu8jrPeloGrPCVV1WRPiDgqdqZx026CsC6FiW7y5p0g27EJGFE7yIZTHfGAgkI1cLeUby5MPU58Ot2EWQwSuVWHNPqyRm/m760fHrZ9Ai7sUBm3XXdu1J1jjN5ztm95QGSb\u002BE1IgypHrX\u002BBLB\u002BY/zevlwnzW1vdGGBc[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca0735a5-917e-b97c-f7e8-a6fd0433ea0e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "645435528",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
