{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-708a4e9e-f798-861d-236b-7b19b876c560?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D65C846F0\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-708a4e9e-f798-861d-236b-7b19b876c560/test-blob-b095e8fc-ecc5-6058-587f-e52bee40da4d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D65D66BFE\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-708a4e9e-f798-861d-236b-7b19b876c560/test-blob-b095e8fc-ecc5-6058-587f-e52bee40da4d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D65D66BFE\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-708a4e9e-f798-861d-236b-7b19b876c560/test-blob-b095e8fc-ecc5-6058-587f-e52bee40da4d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D65D66BFE\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "dDBFOq2OfQiaQMay1mVpQ4HHud89jjnSZCrhlEl6z1RlB0Lsmq4F0lsvnOZQeFbazAi3spyh3Ob2ctaDrOm/H3BxTM8ifKnTweeDDvFTguzUB8hBwx23xCpc9SjYgiVycH123iuGt09f5PC1Hc70o/Dqr6UgfVxTuYikxoaA+z/BEZ103KPATVB44t8sAqZcaFI47dOAUfMgIySj4vHI3uix8wwwf8dMKmFUqJt9JrfiR100SA1sQb+qVLh/HGpfsAP2ew+ZLOiK68NxK6lXo/xtwZqTk5XbRbJMhisOzA329feXh6uoSBt0ql1J+hUWUrC7ElvQyxxuGjZcTKW9fB+2ejWxwBxRxXh+Huk4kkqdNjN6UrqxJirbKWx1S/x2ty09k4DfZJKUak3jUawyNYjrvxZyQil[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-708a4e9e-f798-861d-236b-7b19b876c560/test-blob-b095e8fc-ecc5-6058-587f-e52bee40da4d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D65E48CEC\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB0MEU6rY59CJpAxrLWZWlDgce53z2OOdJkKuGUSXrPVGUHQuyargXSWy+c5lB4VtrMCLeynKHc5vZy1oOs6b8fcHFMzyJ8qdPB54MO8VOC7NQHyEHDHbfEKlz1KNiCJXJwfXbeK4a3T1/k8LUdzvSj8OqvpSB9XFO5iKTGhoD7P8ERnXTco8BNUHji3ywCplxoUjjt04BR8yAjJKPi8cje6LHzDDB/x0wqYVSom30mt+JHXTRIDWxBv6pUuH8cal+wA/Z7D5ks6Irrw3ErqVej/G3BmpOTldtFskyGKw7MDfb195eHq6hIG3SqXUn6FRZSsLsSW9DLHG4aNlxMpb18H7Z6NbHAHFHFeH4e6TiSSp02M3pSurEmKtspbHVL/Ha3LT2TgN[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-708a4e9e-f798-861d-236b-7b19b876c560?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "214837501",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
