{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1b4145b4-f38f-ebc2-eb1e-f0261eca6d2d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB041F0E06C4\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1b4145b4-f38f-ebc2-eb1e-f0261eca6d2d/test-blob-0908754e-d042-98cd-8da6-a2c52933c2a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB041F1BE5B3\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1b4145b4-f38f-ebc2-eb1e-f0261eca6d2d/test-blob-0908754e-d042-98cd-8da6-a2c52933c2a0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB041F1BE5B3\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1b4145b4-f38f-ebc2-eb1e-f0261eca6d2d/test-blob-0908754e-d042-98cd-8da6-a2c52933c2a0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB041F1BE5B3\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "aDHukaTgEPn3xu3XkanXFvDLUit8KWsm1+w0DhaygDbSfbDi5puA8+JUS/wi6Lxy+I2qLqW5aD7GyLm4qwHjRUa3BBT49S9VS15JKN5vBO8vwhWIB1GRGRRxHB7hx0jgcAW1auSoeQNdVeNHb0BgV8PKiejsWz30Jur/h9gRc4MVabjYuZkLh0kSKrJuSqrUEMVaFz5f8xTHwUT5qPErTOJfMQWIiJ0qvwKf2TCLhdxAK3YStlxFtXWjEPdUEt5X593QDhikTIgnMFc8wBrkPDtouH16GJaFGXuP5Hem1a0jR/JSunfDm9/u6oUECfVbv9O861lh3M5HSvScFWcQgVqqGHgokYHEpRydjC0QgRCGNCWj6ulTwmsjC3CCJoZ43WgrWfB8My1S90Y8w1CgNsjkFuFBbJd[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1b4145b4-f38f-ebc2-eb1e-f0261eca6d2d/test-blob-0908754e-d042-98cd-8da6-a2c52933c2a0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB041F3476B2\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABoMe6RpOAQ+ffG7deRqdcW8MtSK3wpaybX7DQOFrKANtJ9sOLmm4Dz4lRL/CLovHL4jaoupbloPsbIubirAeNFRrcEFPj1L1VLXkko3m8E7y/CFYgHUZEZFHEcHuHHSOBwBbVq5Kh5A11V40dvQGBXw8qJ6OxbPfQm6v+H2BFzgxVpuNi5mQuHSRIqsm5KqtQQxVoXPl/zFMfBRPmo8StM4l8xBYiInSq/Ap/ZMIuF3EArdhK2XEW1daMQ91QS3lfn3dAOGKRMiCcwVzzAGuQ8O2i4fXoYloUZe4/kd6bVrSNH8lK6d8Ob3+7qhQQJ9Vu/07zrWWHczkdK9JwVZxCBWqoYeCiRgcSlHJ2MLRCBEIY0JaPq6VPCayMLcIImhnjdaCtZ8H[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1b4145b4-f38f-ebc2-eb1e-f0261eca6d2d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1366357217",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
