{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5ef07c67-1a0d-2c1c-ef67-3a0eca28740a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D30B3BC0\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5ef07c67-1a0d-2c1c-ef67-3a0eca28740a/test-blob-ab788caf-727a-12d1-bc99-0c0b0f864f6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D315DE6D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5ef07c67-1a0d-2c1c-ef67-3a0eca28740a/test-blob-ab788caf-727a-12d1-bc99-0c0b0f864f6d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D315DE6D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5ef07c67-1a0d-2c1c-ef67-3a0eca28740a/test-blob-ab788caf-727a-12d1-bc99-0c0b0f864f6d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6D315DE6D\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "b6BQFGtFNyjeCrMALEJqHm//jwSYO6b9hVNhVJvZqJp72Gohf+PPOY5nWlkOb362eYNUPoGNfTP6Uo8X4+ONBWEYhVPYSZ+MMFV1MOFM7xXVqtsXhGoZ7Vs2JyxTt1Wr2lX49uoq3jDkyA0rGExSrWN6QjgHdYH3/pj4oSJyOXj/yVaMVPkqq8yqMrtc7tQP43nJ2XUdo2TTAPdSMTwOco+VK071xllqT5ZsXULFmg/D6b2oqV8D4iXxuFMB2HmPnMAsx8KFGR0fXoresEYhDmbnjkh/ZckvkUkoAw4FaXcd3cCCmNJNPdCgiErVJTHf0KnsGUkxEDf2/TZ5XBUOGvUSwdOGnnaTmlF33tx/WmsXSTNlGE8u682Ii5uc0+G6kW5UwmReWTEzWX73uTFbd6LKYhPhqQG[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5ef07c67-1a0d-2c1c-ef67-3a0eca28740a/test-blob-ab788caf-727a-12d1-bc99-0c0b0f864f6d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D32363C5\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABvoFAUa0U3KN4KswAsQmoeb/+PBJg7pv2FU2FUm9momnvYaiF/4885jmdaWQ5vfrZ5g1Q+gY19M/pSjxfj440FYRiFU9hJn4wwVXUw4UzvFdWq2xeEahntWzYnLFO3VavaVfj26ireMOTIDSsYTFKtY3pCOAd1gff+mPihInI5eP/JVoxU+SqrzKoyu1zu1A/jecnZdR2jZNMA91IxPA5yj5UrTvXGWWpPlmxdQsWaD8PpvaipXwPiJfG4UwHYeY+cwCzHwoUZHR9eit6wRiEOZueOSH9lyS+RSSgDDgVpdx3dwIKY0k090KCIStUlMd/QqewZSTEQN/b9NnlcFQ4a9RLB04aedpOaUXfe3H9aaxdJM2UYTy7rzYiLm5zT4bqRblTCZF[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5ef07c67-1a0d-2c1c-ef67-3a0eca28740a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "908617748",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
