{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4041c16-f75f-9a8d-a0e6-4ec9cfeec9e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D092BC3E8F4\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4041c16-f75f-9a8d-a0e6-4ec9cfeec9e1/test-blob-35f20ef2-946a-3ce0-b9ef-5c3e35a5a3c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D092BD37DC6\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4041c16-f75f-9a8d-a0e6-4ec9cfeec9e1/test-blob-35f20ef2-946a-3ce0-b9ef-5c3e35a5a3c8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D092BD37DC6\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4041c16-f75f-9a8d-a0e6-4ec9cfeec9e1/test-blob-35f20ef2-946a-3ce0-b9ef-5c3e35a5a3c8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC4D092BD37DC6\u0022",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ZS2E2p2fLHjL5UMoYp6Or2Ed/D2K94/m2NTJ/dKNOQA67InebaqULWXrBWwWY84irhxhyJO\u002BHW6dnQLI1S\u002BmPqxC7XYVsEK3iM7Yn/Ij0HQGpk62LHBsfM4bQM\u002Boy1g1Rce/03VXDf7aqT/E5n57es2Nwi7h7xI81nGn\u002BnByDr12oloqZP3\u002BrplP3IIxp5VQn8UBGwkqVFW1g/0ErxONZ5uCTkMkURbPjhOVkROPCy7bV1qqcPOzTE4EdeAA\u002Bf\u002BFwXTnrllRLE6vMYz1lMJBJXjOKVi44/anzgL1H9s1z5QUD8\u002BeqFzUiSoM\u002Bz9nvreLwk9oMdCnzN5\u002BP99WXAxyeWL34YXzo30b\u002BqAtrOe3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4041c16-f75f-9a8d-a0e6-4ec9cfeec9e1/test-blob-35f20ef2-946a-3ce0-b9ef-5c3e35a5a3c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D092BEE31A5\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABlLYTanZ8seMvlQyhino6vYR38PYr3j\u002BbY1Mn90o05ADrsid5tqpQtZesFbBZjziKuHGHIk74dbp2dAsjVL6Y\u002BrELtdhWwQreIztif8iPQdAamTrYscGx8zhtAz6jLWDVFx7/TdVcN/tqpP8Tmfnt6zY3CLuHvEjzWcaf6cHIOvXaiWipk/f6umU/cgjGnlVCfxQEbCSpUVbWD/QSvE41nm4JOQyRRFs\u002BOE5WRE48LLttXWqpw87NMTgR14AD5/4XBdOeuWVEsTq8xjPWUwkEleM4pWLjj9qfOAvUf2zXPlBQPz56oXNSJKgz7P2e\u002Bt4vCT2gx0KfM3n4/31ZcDHJ5YvfhhfOjfRv6oC2s57dAEEtpXIvMns[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4041c16-f75f-9a8d-a0e6-4ec9cfeec9e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1574296584",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
