{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9f80ee1-a76c-ad12-d9e1-183061e038e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDBCA8706C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9f80ee1-a76c-ad12-d9e1-183061e038e1/test-blob-b4fad49b-11a9-6a43-ba98-f095e09d20ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDBCB757B1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9f80ee1-a76c-ad12-d9e1-183061e038e1/test-blob-b4fad49b-11a9-6a43-ba98-f095e09d20ec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDBCB757B1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9f80ee1-a76c-ad12-d9e1-183061e038e1/test-blob-b4fad49b-11a9-6a43-ba98-f095e09d20ec?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDBCB757B1\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "FGcNANVyKeqCAbqe6alCZFrhil5UhZYFHeaolKFMk722ZFQDZ4dhM9mhMEl5KFlItPHkgNa4BI/QB+LvypRINm3854VVPvzTgFaFs1RMjPSMYOCwZxLm/V/EMmCkcWlEWPrbfEDU8nX0EQCAMlE7hHvtYmqzmM5aFuolkQycLw/tQFpacA+zuG1ru1YSZsoNia7ktg7/kcArgWVWrmBpWOLwk/L34BNrOqr8R9x4R7AfFwddt3gA7q+aLu+pXQkNAmJzItLYFqibeHxjAknjszm1NpdYC6Bp76VCXLIjwdyh70V5BCXdRwFfwj/8netltnu29CZytPbBCTItlbn2d7afwRMEaq4T1++V+UlhbVK63KY3bM22LzpPt/rysLFHaUqIXNvXYUzMoxw23LqsYJzgc7gTvgr[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9f80ee1-a76c-ad12-d9e1-183061e038e1/test-blob-b4fad49b-11a9-6a43-ba98-f095e09d20ec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDBCD1E45B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAUZw0A1XIp6oIBup7pqUJkWuGKXlSFlgUd5qiUoUyTvbZkVANnh2Ez2aEwSXkoWUi08eSA1rgEj9AH4u/KlEg2bfznhVU+/NOAVoWzVEyM9Ixg4LBnEub9X8QyYKRxaURY+tt8QNTydfQRAIAyUTuEe+1iarOYzloW6iWRDJwvD+1AWlpwD7O4bWu7VhJmyg2JruS2Dv+RwCuBZVauYGlY4vCT8vfgE2s6qvxH3HhHsB8XB123eADur5ou76ldCQ0CYnMi0tgWqJt4fGMCSeOzObU2l1gLoGnvpUJcsiPB3KHvRXkEJd1HAV/CP/yd62W2e7b0JnK09sEJMi2VufZ3tp/BEwRqrhPX75X5SWFtUrrcpjdszbYvOk+3+vKwsUdpSohc29[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9f80ee1-a76c-ad12-d9e1-183061e038e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "335362827",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
