{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5560a92c-9be7-bc8c-95ad-f21a6113fe16?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D6510C79D\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5560a92c-9be7-bc8c-95ad-f21a6113fe16/test-blob-0a0f3f11-ac8e-d410-5666-33f79c58d255",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D651ACCDE\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5560a92c-9be7-bc8c-95ad-f21a6113fe16/test-blob-0a0f3f11-ac8e-d410-5666-33f79c58d255",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D651ACCDE\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5560a92c-9be7-bc8c-95ad-f21a6113fe16/test-blob-0a0f3f11-ac8e-d410-5666-33f79c58d255?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D651ACCDE\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ea7J5Rn9SZsG88biiiOAlDXk+jLDUZmbw0miCb8y8uT19++OOJL0IuazpYqzfCayAT07lrHcVSgVLSLPWkDb1AHh7JIz8Vyj79dMD6sP6Ecj8AiC9lsyGaLHeApwJcil2NCI0Y+Tfg/hmKbakEZ8BkTbrGo3Wd6lr9PwbHlRMsoOpjfahhe3j3H5oV61V4lcS3LFlHldbn7y4yG8oxKWj2Xcy+kOoX8tJBz4PreA71dKlCAGi55QsTi46KL1+uxfYhH42IufTanymHBcZS/GcvTJcg/xjwPHixqxVbndNykwmNulhxfLqkZ2E/Mt80sJ8XWuK4fdbdMOMU1x7ffwFWBGLMxTIerc/cfIenwQmpfOqGRDLwuiUisIl1bJWr1Ohv2S5sd/tdCL0S6/FPNW/Za1okWTrOZ[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5560a92c-9be7-bc8c-95ad-f21a6113fe16/test-blob-0a0f3f11-ac8e-d410-5666-33f79c58d255",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D65282B53\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB5rsnlGf1JmwbzxuKKI4CUNeT6MsNRmZvDSaIJvzLy5PX37444kvQi5rOlirN8JrIBPTuWsdxVKBUtIs9aQNvUAeHskjPxXKPv10wPqw/oRyPwCIL2WzIZosd4CnAlyKXY0IjRj5N+D+GYptqQRnwGRNusajdZ3qWv0/BseVEyyg6mN9qGF7ePcfmhXrVXiVxLcsWUeV1ufvLjIbyjEpaPZdzL6Q6hfy0kHPg+t4DvV0qUIAaLnlCxOLjoovX67F9iEfjYi59NqfKYcFxlL8Zy9MlyD/GPA8eLGrFVud03KTCY26WHF8uqRnYT8y3zSwnxda4rh91t0w4xTXHt9/AVYEYszFMh6tz9x8h6fBCal86oZEMvC6JSKwiXVslavU6G/ZLmx3[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5560a92c-9be7-bc8c-95ad-f21a6113fe16?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "357965275",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
