{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-76620e51-560d-00c6-5383-8beb514dbdbf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BE57B26F\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-76620e51-560d-00c6-5383-8beb514dbdbf/test-blob-f4dbfdfb-432c-1576-7ab3-c18f08444546",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BE61D349\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-76620e51-560d-00c6-5383-8beb514dbdbf/test-blob-f4dbfdfb-432c-1576-7ab3-c18f08444546",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BE61D349\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-76620e51-560d-00c6-5383-8beb514dbdbf/test-blob-f4dbfdfb-432c-1576-7ab3-c18f08444546?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6BE61D349\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "4r47FODIQHpwSXEeRenhEqm5OzYaj+l4+AM2Aic8PhQ3sfpfBsXw6Nm4vYzmUWvJpJ24ILSARFLVwhzdkj5SMwpc5pPuggzkyFNdYdJdkqeYbF6KhB5gt22nikOpE1abZomBiWrX2iKR01dhI+KAdzB1RCXfyK/r/C8lR/fIOrT8wftI2wg8wJE8+bDG/pSLJxITM84wvJ7alow7spMqyJmjZGHmN5wnOISUo87/Jf6bmh/ktQbmzAVdbkV8AQ39ETAXI5kypO917PtKnBjP23COoBhzRhOSvZhciclXqzd2lpKe5wFkaPUwbsgLnC/sjZPU7WD1icschWYA1holHkHD0waGMPNvKTciQ9dKhiFob/s2g73WgAzHgWKbY5LaClCHSMgpZlyfZcQp00bz0f5FmGYf75q[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-76620e51-560d-00c6-5383-8beb514dbdbf/test-blob-f4dbfdfb-432c-1576-7ab3-c18f08444546",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BE6F589E\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADivjsU4MhAenBJcR5F6eESqbk7NhqP6Xj4AzYCJzw+FDex+l8GxfDo2bi9jOZRa8mknbggtIBEUtXCHN2SPlIzClzmk+6CDOTIU11h0l2Sp5hsXoqEHmC3baeKQ6kTVptmiYGJatfaIpHTV2Ej4oB3MHVEJd/Ir+v8LyVH98g6tPzB+0jbCDzAkTz5sMb+lIsnEhMzzjC8ntqWjDuykyrImaNkYeY3nCc4hJSjzv8l/puaH+S1BubMBV1uRXwBDf0RMBcjmTKk73Xs+0qcGM/bcI6gGHNGE5K9mFyJyVerN3aWkp7nAWRo9TBuyAucL+yNk9TtYPWJyxyFZgDWGiUeQcPTBoYw828pNyJD10qGIWhv+zaDvdaADMeBYptjktoKUIdIyC[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-76620e51-560d-00c6-5383-8beb514dbdbf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1660858879",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
