{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4536b386-185d-c8f4-a913-c409ea83594f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BDF23DFA\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4536b386-185d-c8f4-a913-c409ea83594f/test-blob-c42747aa-77e4-368d-b5d9-c5f41d52838e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BDFBE31C\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4536b386-185d-c8f4-a913-c409ea83594f/test-blob-c42747aa-77e4-368d-b5d9-c5f41d52838e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BDFBE31C\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4536b386-185d-c8f4-a913-c409ea83594f/test-blob-c42747aa-77e4-368d-b5d9-c5f41d52838e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6BDFBE31C\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "6hfMZ9KMjZQY6jsECcXq1uxQ+E5v53P9UetNGp1jRJM1SEXFBr+hhA9/WPE3G4lyy35Lt33VVgKkzxbmP3L2taWnz8CAJNAsrnQ/8I+CxjZi2k4fF4wVX/FCITapu0SciKNLj0zI8qeuHwkJlmZzIQnfhGQk1p0YkW/PPQKZgvIvo2fsNjbqmeincfiDDMmKzwAtyjfgd7IFM/7d+bSkFJ0W2fP/h+rT9ep7fWWklISlRG4Ca7i7Tyu15gM4DJ80AlxbbTPWi0cVWtRMZPpMYZ55OLVFoqnkWorHSqHmmuhLR3sISSdRzrkn7BHjb+oxaIVlvtTp7mCzdhKpDkCmLr/rAR1/Qxd2KGn8HrWXAeufluEcgdwTYVgbVdIUp794gL1R923MsSRt7pZr7dCqG3UnCXheiq3[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4536b386-185d-c8f4-a913-c409ea83594f/test-blob-c42747aa-77e4-368d-b5d9-c5f41d52838e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BE09B63B\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADqF8xn0oyNlBjqOwQJxerW7FD4Tm/nc/1R600anWNEkzVIRcUGv6GED39Y8TcbiXLLfku3fdVWAqTPFuY/cva1pafPwIAk0CyudD/wj4LGNmLaTh8XjBVf8UIhNqm7RJyIo0uPTMjyp64fCQmWZnMhCd+EZCTWnRiRb889ApmC8i+jZ+w2NuqZ6Kdx+IMMyYrPAC3KN+B3sgUz/t35tKQUnRbZ8/+H6tP16nt9ZaSUhKVEbgJruLtPK7XmAzgMnzQCXFttM9aLRxVa1Exk+kxhnnk4tUWiqeRaisdKoeaa6EtHewhJJ1HOuSfsEeNv6jFohWW+1OnuYLN2EqkOQKYuv+sBHX9DF3YoafwetZcB65+W4RyB3BNhWBtV0hSnv3iAvVH3bc[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4536b386-185d-c8f4-a913-c409ea83594f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1783001891",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
