{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69bc9992-72fd-62d0-1233-9f353231c733?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDB5895741\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69bc9992-72fd-62d0-1233-9f353231c733/test-blob-30b90234-9d6d-ff98-8191-4f5aca3f03e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDB5977CE4\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69bc9992-72fd-62d0-1233-9f353231c733/test-blob-30b90234-9d6d-ff98-8191-4f5aca3f03e0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDB5977CE4\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69bc9992-72fd-62d0-1233-9f353231c733/test-blob-30b90234-9d6d-ff98-8191-4f5aca3f03e0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDB5977CE4\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "s6Y1X3iTA3d1RQ3/vaHrAxIhxXvf0rfTPoGTn4klz0cDeHrQ2MEF3LTbfja5AcMNmo7rhU+AXeHuYSD3AGTuT3XG+0QmGipQG+jGBFOBGT29hQT6Okn3gxuZ4nehDtxP7S/A8wV/539jmmpnuVmNbEfiOnpf8xUsz3gojDizrw0MdhckwSY4PZ6Flp/fkMnCDHUvvtRh8PkZkySMVlpHr+tcWkJCaKshqfzb2l12TD6uZn/DhPE4qoYdCy0BrOdEPea0gzWHgKTJDRTYhhabokfl3fDahCv5JK+8JFx9H/0Ul5x3wskJJ+Xb+XfcYCRvgmjlHM72abm7ul+Fy1xHTO4Ww+55JOB+3LYK/4q0HcOLTKHzlwIuHS7jvAdqg1yJk6yIxZ019V6HZ0AY7GkuB52b+n66VLX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69bc9992-72fd-62d0-1233-9f353231c733/test-blob-30b90234-9d6d-ff98-8191-4f5aca3f03e0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:e31e3fc7-601e-0002-7cc6-0e2f13000000\n",
        "Time:2024-09-24T21:13:17.4777821Z</Message><HeaderName>x-ms-range-get-content-md5</HeaderName><HeaderValue>true</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69bc9992-72fd-62d0-1233-9f353231c733?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2041384439",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
