{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eb8d5deb-d1f6-074d-40e8-2bbde0f4f75b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86857C5F1214\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eb8d5deb-d1f6-074d-40e8-2bbde0f4f75b/test-blob-01fcdb76-5034-8c0f-d01a-3ff053dd242e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86857C6BBCCE\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eb8d5deb-d1f6-074d-40e8-2bbde0f4f75b/test-blob-01fcdb76-5034-8c0f-d01a-3ff053dd242e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86857C6BBCCE\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eb8d5deb-d1f6-074d-40e8-2bbde0f4f75b/test-blob-01fcdb76-5034-8c0f-d01a-3ff053dd242e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86857C6BBCCE\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KpqeMYpzYvmWIR36IJa/OhXpOT2yhk63xYgdqfj6vTUV7IytZqC3EEBI2uuvRlSPDL62w1+oEqRM52sBVbkAnGPn5TMJEtN1MSj8aqtiCH80jp06Q/rVbNroYH80trqHRz6Hx2EghfrqQZE3rKf56t7szMcbxllpEnhZIbFUQHttdCJt2kEdFAiiTwFoncAy73ahR+nza4HkHrXoxmRJlgAWyTiFiw+dzre/eXZXAXS4JjI6sviRegihiLyMNU2jWbgBUtSIrWNnA3kxM/IKjBxAMKAyD+MHhE8v4wNTEZlqGyC+Vq+gL3nO069/X0YWlvufSwStcUrU+c2EWMlgE/LfxxjSTDZtoAEmYzw0hyQJGU0HtMWVvKnW6l3hG9evbr+8oJcuQ0nFMaoDhg4Nn3Goez97WF4[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eb8d5deb-d1f6-074d-40e8-2bbde0f4f75b/test-blob-01fcdb76-5034-8c0f-d01a-3ff053dd242e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86857C813ECB\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "Response[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eb8d5deb-d1f6-074d-40e8-2bbde0f4f75b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "861592307",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
