{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5f0df0c-cd5c-f455-9714-e83a531c1cc9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:01:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9527B85F3B05\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 15:01:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5f0df0c-cd5c-f455-9714-e83a531c1cc9/test-blob-00159fa2-7f5d-fd98-61cf-4e0c73fc4664",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 25 Jun 2024 15:01:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9527B8850C22\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 15:01:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5f0df0c-cd5c-f455-9714-e83a531c1cc9/test-blob-00159fa2-7f5d-fd98-61cf-4e0c73fc4664",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:01:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9527B8850C22\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 15:01:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 25 Jun 2024 15:01:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5f0df0c-cd5c-f455-9714-e83a531c1cc9/test-blob-00159fa2-7f5d-fd98-61cf-4e0c73fc4664?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9527B8850C22\u0022",
        "x-ms-date": "Tue, 25 Jun 2024 15:01:43 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "dr63F6szrvUfPQ6PitEn2IZKSPzoe4\u002Bpvfvx0PQE20IxFgwNCHfyvqg/gfxPDqOcRUo1jDueQ/svDVmwQd4AGmHMXnPEGc8OWIpUqPqSWq9YVIupzk8GktIR3vsdQX3KPmebgq8v2Cx6JjOxSpsAnbOqWOxSV0wSxsygsjvU8RcMimmS99f/KHxeLqcbVEg3EEBIc\u002BiQd\u002BcaibvjjiXxpjUcpMAxbqXbqi9w9Cik9nKDaaH6jH0ufBKCeG4bHJpWbYhy/6\u002BIBaKabMi4IIO\u002BdpJJXySE9hm47iitr/U3v46VGYagMvbC\u002B2T\u002BXx\u002B0dVyPxAHb0rx10nZuuhGH2lasY606Iwb8HUSbhmTAhZf5A3jMHuv0W\u002B[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5f0df0c-cd5c-f455-9714-e83a531c1cc9/test-blob-00159fa2-7f5d-fd98-61cf-4e0c73fc4664",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:01:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9527B9B35385\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 15:01:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 25 Jun 2024 15:01:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB2vrcXqzOu9R89Do\u002BK0SfYhkpI/Oh7j6m9\u002B/HQ9ATbQjEWDA0Id/K\u002BqD\u002BB/E8Oo5xFSjWMO55D\u002By8NWbBB3gAaYcxec8QZzw5YilSo\u002BpJar1hUi6nOTwaS0hHe\u002Bx1Bfco\u002BZ5uCry/YLHomM7FKmwCds6pY7FJXTBLGzKCyO9TxFwyKaZL31/8ofF4upxtUSDcQQEhz6JB35xqJu\u002BOOJfGmNRykwDFupduqL3D0KKT2coNpofqMfS58EoJ4bhscmlZtiHL/r4gFoppsyLggg752kklfJIT2GbjuKK2v9Te/jpUZhqAy9sL7ZP5fH7R1XI/EAdvSvHXSdm66EYfaVqxjrTojB[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5f0df0c-cd5c-f455-9714-e83a531c1cc9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 15:01:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "889654538",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
