{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3b32c35a-19f5-1b4a-db5d-74a17b7e6058?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64B843E68\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3b32c35a-19f5-1b4a-db5d-74a17b7e6058/test-blob-0d8ce103-b121-45de-c2d9-8a300fc128e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64B8F3162\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3b32c35a-19f5-1b4a-db5d-74a17b7e6058/test-blob-0d8ce103-b121-45de-c2d9-8a300fc128e2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D64B8F3162\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3b32c35a-19f5-1b4a-db5d-74a17b7e6058/test-blob-0d8ce103-b121-45de-c2d9-8a300fc128e2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D64B8F3162\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "Fo8rtKCSvMDWmjjLj7URGKQTNHilugpubHfSUptneUThEX56lwTA2kYZz7NCacsVkObfCorO1FuFvEcov2okbyH06X43l4CgUloyi+tWLAOrvcK1iG65Ej0i9Nu8lxrb9WCSTn9N3flmP7gwnEhwLo9EfAKnb+ayOtdBFaKk47o/VpaLxN6DXt/ITki2iXb0ssVMdxoYM4Z53xOoDMhXwlv98UWx5GqxwB4i3yCe+7FgTGLcV2yfJiIQEuTL21EXcYzsuZgwQ81bm7b89lRl2uNiR8BlemrvXcoiodKF5uXMC22UskIZLwmUgby1ozDOqjcBaZORsfYh/FzNDqH71bXRL+vm0SihSBi20fmtOrmaVPabhHxSOll3crXmSyFnmasH43RF59gPXyB72uD9dMKiM7mqYFE[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3b32c35a-19f5-1b4a-db5d-74a17b7e6058/test-blob-0d8ce103-b121-45de-c2d9-8a300fc128e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D64B9B7F9D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAWjyu0oJK8wNaaOMuPtREYpBM0eKW6Cm5sd9JSm2d5ROERfnqXBMDaRhnPs0JpyxWQ5t8Kis7UW4W8Ryi/aiRvIfTpfjeXgKBSWjKL61YsA6u9wrWIbrkSPSL027yXGtv1YJJOf03d+WY/uDCcSHAuj0R8Aqdv5rI610EVoqTjuj9WlovE3oNe38hOSLaJdvSyxUx3GhgzhnnfE6gMyFfCW/3xRbHkarHAHiLfIJ77sWBMYtxXbJ8mIhAS5MvbURdxjOy5mDBDzVubtvz2VGXa42JHwGV6au9dyiKh0oXm5cwLbZSyQhkvCZSBvLWjMM6qNwFpk5Gx9iH8XM0OofvVtdEv6+bRKKFIGLbR+a06uZpU9puEfFI6WXdyteZLIWeZqwfjdE[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3b32c35a-19f5-1b4a-db5d-74a17b7e6058?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1845249521",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
