{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84080478-5678-e001-364f-6cbbf6e5ccc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D4F5F8D95\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84080478-5678-e001-364f-6cbbf6e5ccc8/test-blob-8059a9d6-3902-f957-200a-98e4a3b1261d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D4F70197A\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84080478-5678-e001-364f-6cbbf6e5ccc8/test-blob-8059a9d6-3902-f957-200a-98e4a3b1261d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3D4F70197A\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84080478-5678-e001-364f-6cbbf6e5ccc8/test-blob-8059a9d6-3902-f957-200a-98e4a3b1261d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7F3D4F70197A\u0022",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "cj/ljfrwPqvEZshmSck8M3zRIS1Cu\u002B836x/ED3FJON1ehcVjHUagqYr2TXJcVoMjJSd7mLyGRLdPrqHbLC46ei7qB8ME2BY2MHiiTG592pWboepJzaAg2EEOFG6kxXxcvNJDck7AHkwRRWdE4/hI0tMMQItE8K2Nyi\u002BB9sSnkWv7Ro\u002BcOWhG24KeOIg43PRJxUGamIXxF8wktqcePiiHabT8SJxpq5hrxWUJprckVe47ODCCDPjmCi7Cd4PAJ5xaFs7UO5NY4BmpL9Mf6HEU/2C54wb3BFy7Fj5tpjMUqp3Iro/pUBla4lgW2d0lxiK9rngjB0SWYhJxGCVU6jnllIU1VzniK69HXgCt4Ct/llAcsPe78aNZMkx9dzf0BvgeMURY727o2oPI3KhD[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84080478-5678-e001-364f-6cbbf6e5ccc8/test-blob-8059a9d6-3902-f957-200a-98e4a3b1261d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3D4F8AA64D\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:40:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAByP\u002BWN\u002BvA\u002Bq8RmyGZJyTwzfNEhLUK77zfrH8QPcUk43V6FxWMdRqCpivZNclxWgyMlJ3uYvIZEt0\u002BuodssLjp6LuoHwwTYFjYweKJMbn3alZuh6knNoCDYQQ4UbqTFfFy80kNyTsAeTBFFZ0Tj\u002BEjS0wxAi0TwrY3KL4H2xKeRa/tGj5w5aEbbgp44iDjc9EnFQZqYhfEXzCS2px4\u002BKIdptPxInGmrmGvFZQmmtyRV7js4MIIM\u002BOYKLsJ3g8AnnFoWztQ7k1jgGakv0x/ocRT/YLnjBvcEXLsWPm2mMxSqnciuj\u002BlQGVriWBbZ3SXGIr2ueCMHRJZiEnEYJVTqOeWUhTVXOeIrr0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84080478-5678-e001-364f-6cbbf6e5ccc8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:40:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2064592298",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
