{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0f837425-1130-f9f9-3837-4704525efdfc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EB9C47455\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0f837425-1130-f9f9-3837-4704525efdfc/test-blob-ba12123f-c6bc-f33b-e2ae-75096f06288b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EB9D386D4\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0f837425-1130-f9f9-3837-4704525efdfc/test-blob-ba12123f-c6bc-f33b-e2ae-75096f06288b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EB9D386D4\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0f837425-1130-f9f9-3837-4704525efdfc/test-blob-ba12123f-c6bc-f33b-e2ae-75096f06288b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EB9D386D4\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "pOKhcjcFi4ZIx/fJYpHb2eQmQNFG2ceRpDTb181UIw6z3MI7veDqvvWR2m1pPn/Savjzcsngi8oaD84CKrS49KPpFYbOnxwEO4LbtP5aKGW0CWzVYLFE01D4IK0R55RB2ObKgCj4A8rb7zZGBNbLwOZpTSBH45PypEI11n9u8lTumtwYj6g8vAWi\u002BXF6/s55LGDGqJlz\u002BvVS19vmwyxLbf3iV2r6szA\u002BLJEbpOkieKZzu6oeqEm6e6DmxrfNVvjZVox0l6Zkf3gviHwHV1UMMF81cgeBLMSzKNzKFO14cNaZQU1cruAADzwx7iDNsiNK2pZYl\u002BPxVyrIwG/KmmuLtxelbhYHr4F/NWPKUD2k5nW4fzlXINjyp\u002BojlO1xNnTRpTcJJ0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0f837425-1130-f9f9-3837-4704525efdfc/test-blob-ba12123f-c6bc-f33b-e2ae-75096f06288b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EB9EEFE19\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "tPLCZ2qg/PI=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "pOKhcjcFi4ZIx/fJYpHb2eQmQNFG2ceRpDTb181UIw6z3MI7veDqvvWR2m1pPn/Savjzcsngi8oaD84CKrS49KPpFYbOnxwEO4LbtP5aKGW0CWzVYLFE01D4IK0R55RB2ObKgCj4A8rb7zZGBNbLwOZpTSBH45PypEI11n9u8lTumtwYj6g8vAWi\u002BXF6/s55LGDGqJlz\u002BvVS19vmwyxLbf3iV2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0f837425-1130-f9f9-3837-4704525efdfc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1950705137",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
