{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfeb75c1-182c-2043-f851-87c24644bcb9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BC78CB10\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfeb75c1-182c-2043-f851-87c24644bcb9/test-blob-affe11c7-37da-dd3f-fa33-a996ed09670a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BC823698\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfeb75c1-182c-2043-f851-87c24644bcb9/test-blob-affe11c7-37da-dd3f-fa33-a996ed09670a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BC823698\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfeb75c1-182c-2043-f851-87c24644bcb9/test-blob-affe11c7-37da-dd3f-fa33-a996ed09670a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6BC823698\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "eUs65GJ9B5fjsSGMewFQHGoMV+gtV6tiZ67gySYRDkXsY8iEogIZ7FZ+gFySBtLI9eYVHwHLCyGg132znT1x0aPcnxc4zHpn8mqSrtdPz2DcF9M/++9DIVin48qFZk4YDa64tWe6kClsriyWOFxKUQgc14ZpMdW0mX6/kemw4YwbeaEolhn5IYeq003CrOj7XJLCaI/Ir9vYBBzp+/9AvMyger+7IrruI7X/v16I8eyVxDRW7Xj9U8rGT5L9DyaIaheAIjEpPzrX1EXZye98UBIwVDfK6c5Uoyf09dIo8ROPdlRHCM+6a4T5fhkzI4naSf9/zLvvvYFILH4KNEpor+MxSlKbNUdCduiz0Wq0IH+eGqzTqCRYn7nT/txQrzc5kc82Atg3PxO3PVXTPOwWlAv/bBqelAe[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfeb75c1-182c-2043-f851-87c24644bcb9/test-blob-affe11c7-37da-dd3f-fa33-a996ed09670a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BC8F9513\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB5SzrkYn0Hl+OxIYx7AVAcagxX6C1Xq2JnruDJJhEORexjyISiAhnsVn6AXJIG0sj15hUfAcsLIaDXfbOdPXHRo9yfFzjMemfyapKu10/PYNwX0z/770MhWKfjyoVmThgNrri1Z7qQKWyuLJY4XEpRCBzXhmkx1bSZfr+R6bDhjBt5oSiWGfkhh6rTTcKs6PtcksJoj8iv29gEHOn7/0C8zKB6v7siuu4jtf+/Xojx7JXENFbteP1TysZPkv0PJohqF4AiMSk/OtfURdnJ73xQEjBUN8rpzlSjJ/T10ijxE492VEcIz7prhPl+GTMjidpJ/3/Mu++9gUgsfgo0Smiv4zFKUps1R0J26LPRarQgf54arNOoJFifudP+3FCvNzmRzzYC2D[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfeb75c1-182c-2043-f851-87c24644bcb9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1893323109",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
