{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4f852ce7-64b1-c0da-27e2-768af9be3a80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EEF24DF31\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4f852ce7-64b1-c0da-27e2-768af9be3a80/test-blob-3b027a24-3822-c38b-5b45-83649ff6ad17",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EEF32915B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:28.5686839Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4f852ce7-64b1-c0da-27e2-768af9be3a80/test-blob-3b027a24-3822-c38b-5b45-83649ff6ad17",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EEF32915B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:28.5686839Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4f852ce7-64b1-c0da-27e2-768af9be3a80/test-blob-3b027a24-3822-c38b-5b45-83649ff6ad17?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336EEF32915B\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:26 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "evsoRcxeE6YGonoAaeVhUN8FqG1ct3U0MRvT5qNhYWW9Fnpjrb2kg3m8fGniMxfTI03le8aGh8KG9BSwiy0DpEAUQlNr/qMhYSXzoDsLUf0E/8JVe+afN4633bio9PhMudcpzfDDaCWpxBqgkueHeqIXq4tqrSlZdQvEsyHqeW0sp+dj4oQMQJecq7fM/qWnMGMVkUht4Quuz1jl/rQEv0qsdOoAI5geCmr0zQFxjXZmHYO91eckv8bbtRIrJ0LimOxsH4q6pw3K9obdeBMJPELifuEwRupjiLUjJG2F8uMoETUUBG3rq3Z2895hR0az0XjPSahgsVECCZfVloOfRQSitWbd9DfV9tJrulMLAkFucFL1tqk7x2DkEvvVFhTz1q3avpHg1dxA+lPV9ff+9gdWZiYwqo9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4f852ce7-64b1-c0da-27e2-768af9be3a80/test-blob-3b027a24-3822-c38b-5b45-83649ff6ad17",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EEF3E4403\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:28.5686839Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB6+yhFzF4TpgaiegBp5WFQ3wWobVy3dTQxG9Pmo2FhZb0WemOtvaSDebx8aeIzF9MjTeV7xoaHwob0FLCLLQOkQBRCU2v+oyFhJfOgOwtR/QT/wlV75p83jrfduKj0+Ey51ynN8MNoJanEGqCS54d6oheri2qtKVl1C8SzIep5bSyn52PihAxAl5yrt8z+pacwYxWRSG3hC67PWOX+tAS/Sqx06gAjmB4KavTNAXGNdmYdg73V5yS/xtu1EisnQuKY7GwfirqnDcr2ht14Ewk8QuJ+4TBG6mOItSMkbYXy4ygRNRQEbeurdnbz3mFHRrPReM9JqGCxUQI[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4f852ce7-64b1-c0da-27e2-768af9be3a80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "370233525",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
