{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9d1c260-2e14-a1e5-3488-784735747f83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDB8CC4AB7\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9d1c260-2e14-a1e5-3488-784735747f83/test-blob-22635330-ac5e-1a54-9aea-b2709c87ed6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDB8DABD9F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9d1c260-2e14-a1e5-3488-784735747f83/test-blob-22635330-ac5e-1a54-9aea-b2709c87ed6b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDB8DABD9F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9d1c260-2e14-a1e5-3488-784735747f83/test-blob-22635330-ac5e-1a54-9aea-b2709c87ed6b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDB8DABD9F\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "TNaRXv5ASyFu6a5ZBkEDuXLiklk5G+yAs1Mg1K1Ern41jVbH6beXdI8Z9a3pMlDFYtedVxorYTHqEKqrH3Z0KjswI3nqPNC7Sh3JICY/loACWnLVplZjCiwl3dgM7FUZpctxuQ/W2yYH4gz9YUALqnkqqMUEn4PkzRlNxF74rl7IsHtazd1xK35MzcRJZqnrGjJe4kOQFQVHjez2iRbHDjOuNbDFsN2cuHxGuNG+mmZvYqosmcsaN5t1EkDxe6JohL6QmzH5JWlVwirHSl00ifKFhidsm3Vok/0VUJ2dqjza3TMSLf41djxA19ehU+0+QIlNa/R6++lJKAgz49XMuBft7WwpIlvzTxDqK8OexkAP1w8UTz5IX+JJyAT2ApJndB+/tGWBFB4tWhzkj9Alq2LIJAzGuGj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9d1c260-2e14-a1e5-3488-784735747f83/test-blob-22635330-ac5e-1a54-9aea-b2709c87ed6b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDB8F39CA7\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABM1pFe/kBLIW7prlkGQQO5cuKSWTkb7ICzUyDUrUSufjWNVsfpt5d0jxn1rekyUMVi151XGithMeoQqqsfdnQqOzAjeeo80LtKHckgJj+WgAJactWmVmMKLCXd2AzsVRmly3G5D9bbJgfiDP1hQAuqeSqoxQSfg+TNGU3EXviuXsiwe1rN3XErfkzNxElmqesaMl7iQ5AVBUeN7PaJFscOM641sMWw3Zy4fEa40b6aZm9iqiyZyxo3m3USQPF7omiEvpCbMfklaVXCKsdKXTSJ8oWGJ2ybdWiT/RVQnZ2qPNrdMxIt/jV2PEDX16FT7T5AiU1r9Hr76UkoCDPj1cy4F+3tbCkiW/NPEOorw57GQA/XDxRPPkhf4knIBPYCkmd0H7+0ZY[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d9d1c260-2e14-a1e5-3488-784735747f83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "503655210",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
