{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-0defe904-c893-4766-a2c0-0ab71903bf4c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D66B51F2EB\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-0defe904-c893-4766-a2c0-0ab71903bf4c/test-blob-5584b0f8-879f-2957-d978-3744fc62f050",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D66B5CC50D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-0defe904-c893-4766-a2c0-0ab71903bf4c/test-blob-5584b0f8-879f-2957-d978-3744fc62f050",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D66B5CC50D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-0defe904-c893-4766-a2c0-0ab71903bf4c/test-blob-5584b0f8-879f-2957-d978-3744fc62f050?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D66B5CC50D\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "6sEru1iJYgcSAS/lAWfjU55stDyqOSotQktSwiPtqOk8KhSiI2ZFeXtRcyEsFsqtyIZL2UA18rGX/nkNNqDkJFlFqdZTQC83JzvBWMYIACuApfmcos6pBjdjCiTtN0LabU7H5m3zWodWFLIEdJrqj/1NjJGmR4KLnKKf8DYLSe/45ut3QBm9jUpyRo0bpJKdeHsnn6uwNCXMPErKVGlRS8rCDI2vck7kj/9GNAH0b/gQAXi75KpER7LFqwPP8zjhIfvDWZcE7gUsQg+rav8k181SuVLxlWcgfsTb6cZKFZzGZRMGMRVgDBNyjqGamN2yodQ1fDnl74uTotvTKAQ/4S1z5QTsHqW38q0/fwbGhuXmKEjyFJhi4HWHco46jOMPMq1zJ7PZxoMufYqMpnCEzRz17QC8Tcy[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-0defe904-c893-4766-a2c0-0ab71903bf4c/test-blob-5584b0f8-879f-2957-d978-3744fc62f050",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D66B6F26F5\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADqwSu7WIliBxIBL+UBZ+NTnmy0PKo5Ki1CS1LCI+2o6TwqFKIjZkV5e1FzISwWyq3IhkvZQDXysZf+eQ02oOQkWUWp1lNALzcnO8FYxggAK4Cl+ZyizqkGN2MKJO03QtptTsfmbfNah1YUsgR0muqP/U2MkaZHgoucop/wNgtJ7/jm63dAGb2NSnJGjRukkp14eyefq7A0Jcw8SspUaVFLysIMja9yTuSP/0Y0AfRv+BABeLvkqkRHssWrA8/zOOEh+8NZlwTuBSxCD6tq/yTXzVK5UvGVZyB+xNvpxkoVnMZlEwYxFWAME3KOoZqY3bKh1DV8OeXvi5Oi29MoBD/hLXPlBOwepbfyrT9/BsaG5eYoSPIUmGLgdYdyjjqM4w8yrXMns9[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-0defe904-c893-4766-a2c0-0ab71903bf4c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "208703404",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
