{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-884b013b-fc3c-5e74-99b8-2d7a792d0ac3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB041E662E5F\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-884b013b-fc3c-5e74-99b8-2d7a792d0ac3/test-blob-9dbc5420-a555-c383-239d-97c4dbc71a0a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB041E7481F4\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-884b013b-fc3c-5e74-99b8-2d7a792d0ac3/test-blob-9dbc5420-a555-c383-239d-97c4dbc71a0a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB041E7481F4\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-884b013b-fc3c-5e74-99b8-2d7a792d0ac3/test-blob-9dbc5420-a555-c383-239d-97c4dbc71a0a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB041E7481F4\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "TdamA/fK9Zr8giOpMvirHub8eUYoKui24QABGcS+rIp65y3b1M44Njxr5FgU8EqdRr5gIGDQuSPu7yL3ydvVPdWZLkrL0EkYw0IKvEWQovG1ZNMGXospqS4K7eSsQW1glaeCe8H/0nZ0R1wdxvzdXU0wQWUIz95Kb4QcwOJkbILVqSaeDiYvtpJckRcvDOIxLI+We/8HWMbIOAs94hGTENvZSB3WP08nAYvTrD7HGmOh65RSzvGDzVBg1dUb8tOAyIE8VcPFW+xAb3lzNKuIAR2om/d9QUHqVXrMdWl5Cw+3UuS8isWf3JCnEl53EJil19O4c1bcA4c/Uv9I+OWDxmRqu+HHy3ZYCL9m1S7jckXiJ52WwZi4209cfTjFV+SqJEv6DFS33QxcX2qXdS1YW9+5ZtBH7QT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-884b013b-fc3c-5e74-99b8-2d7a792d0ac3/test-blob-9dbc5420-a555-c383-239d-97c4dbc71a0a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB041E8D130B\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:22:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABN1qYD98r1mvyCI6ky+Kse5vx5Rigq6LbhAAEZxL6sinrnLdvUzjg2PGvkWBTwSp1GvmAgYNC5I+7vIvfJ29U91ZkuSsvQSRjDQgq8RZCi8bVk0wZeiympLgrt5KxBbWCVp4J7wf/SdnRHXB3G/N1dTTBBZQjP3kpvhBzA4mRsgtWpJp4OJi+2klyRFy8M4jEsj5Z7/wdYxsg4Cz3iEZMQ29lIHdY/TycBi9OsPscaY6HrlFLO8YPNUGDV1Rvy04DIgTxVw8Vb7EBveXM0q4gBHaib931BQepVesx1aXkLD7dS5LyKxZ/ckKcSXncQmKXX07hzVtwDhz9S/0j45YPGZGq74cfLdlgIv2bVLuNyReInnZbBmLjbT1x9OMVX5KokS/oMVL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-884b013b-fc3c-5e74-99b8-2d7a792d0ac3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1302695862",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
