{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12de3146-3bd6-99c3-f356-e9e40d7d426d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD619CDA7D373F\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12de3146-3bd6-99c3-f356-e9e40d7d426d/test-blob-786c6105-0883-cdf8-88c8-8ed1ee313184",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD619CDA84EA06\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12de3146-3bd6-99c3-f356-e9e40d7d426d/test-blob-786c6105-0883-cdf8-88c8-8ed1ee313184",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD619CDA84EA06\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12de3146-3bd6-99c3-f356-e9e40d7d426d/test-blob-786c6105-0883-cdf8-88c8-8ed1ee313184?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD619CDA84EA06\"",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "LYAH90ukwE60tpfBkY3YonB1Jo7LRwEzGXy0dwEMus3Zkwk/Se4nGb5iRrWhaIxJL1P/94atS+V+093P70hMqPzJ5/6EmViBTgzQaQFMkbHvakeuDMJHLEcjwHURWCl1FZ652IGNxZb7fal63eLkMkIr34UAnps5grq2YNjicPbiWlNik7kwYaSxso8ZzU9lPo4z5XikdXcDf1bG12S+GQ2zl4KOgZ6J+33gT+sLILRrUSJJrop9PuXcXxNjaYpA85mCZTbM173vqur6wyWL916hW4ZCdGqCNVmdsiGLJpHyoFxSibp+nnlkWQSgg3q/UWi1wQ4E/X4v/zDcLiWbZINYByPJOG2jI70M3Rpl4bLf3mC41mSD7qLdI4qKoW9UyfWASHtW9hj7EZ5R+CBjyR19/VDE4o4[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12de3146-3bd6-99c3-f356-e9e40d7d426d/test-blob-786c6105-0883-cdf8-88c8-8ed1ee313184",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD619CDA909CAA\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAtgAf3S6TATrS2l8GRjdiicHUmjstHATMZfLR3AQy6zdmTCT9J7icZvmJGtaFojEkvU//3hq1L5X7T3c/vSEyo/Mnn/oSZWIFODNBpAUyRse9qR64MwkcsRyPAdRFYKXUVnrnYgY3Flvt9qXrd4uQyQivfhQCemzmCurZg2OJw9uJaU2KTuTBhpLGyjxnNT2U+jjPleKR1dwN/VsbXZL4ZDbOXgo6Bnon7feBP6wsgtGtRIkmuin0+5dxfE2NpikDzmYJlNszXve+q6vrDJYv3XqFbhkJ0aoI1WZ2yIYsmkfKgXFKJun6eeWRZBKCDer9RaLXBDgT9fi//MNwuJZtkg1gHI8k4baMjvQzdGmXhst/eYLjWZIPuot0jioqhb1TJ9YBIe1[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12de3146-3bd6-99c3-f356-e9e40d7d426d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1623586650",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
