{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2d3f971b-59f7-e13b-fdaa-38392bb7faf6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D4B554BF\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2d3f971b-59f7-e13b-fdaa-38392bb7faf6/test-blob-1bd398aa-4772-8036-49d5-a22a5cc5b43e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D4BECA2A\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2d3f971b-59f7-e13b-fdaa-38392bb7faf6/test-blob-1bd398aa-4772-8036-49d5-a22a5cc5b43e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D4BECA2A\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2d3f971b-59f7-e13b-fdaa-38392bb7faf6/test-blob-1bd398aa-4772-8036-49d5-a22a5cc5b43e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6D4BECA2A\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "o0VJwPF3l/Ek9KPdWL9Dzdh4Iat1J5jUaRRyPXX9FSTHy9hZ5xHOoOhQrWmCGWZYkuedvESnv3ysdFbdBVl7J95/FY3m6ebHqoDDJXovUlCtGauOX1nfHwtcrXK68JuO1IaLAgPZcagB1hLE5JoBfCEGL+uu7ceEoPaBijxzDLnlNFD0pE9N1KgCjYlHGjtxWjBQtMGv3+e+BmINWOZrjclY369KDdjRuVtDrGA+PIW7DzALIlf4NVVpNZ3tP3vClv+/7jqLJ0xYf/tlazOGgMncUki1YGtyYKla4Ng65HnfgBVhfk1LL+jks6Ncksoh4rXTEO0zDDaTTY6QMUZ0HZqCheoeJQF8kSJf0a3HFc3fOP4iZ9SLrHTezTG/uv6ib5UJ2QzfA7y0V37L0zqJyzfAsflHUbb[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2d3f971b-59f7-e13b-fdaa-38392bb7faf6/test-blob-1bd398aa-4772-8036-49d5-a22a5cc5b43e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D4CC4F89\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACjRUnA8XeX8ST0o91Yv0PN2Hghq3UnmNRpFHI9df0VJMfL2FnnEc6g6FCtaYIZZliS5528RKe/fKx0Vt0FWXsn3n8Vjebp5seqgMMlei9SUK0Zq45fWd8fC1ytcrrwm47UhosCA9lxqAHWEsTkmgF8IQYv667tx4Sg9oGKPHMMueU0UPSkT03UqAKNiUcaO3FaMFC0wa/f574GYg1Y5muNyVjfr0oN2NG5W0OsYD48hbsPMAsiV/g1VWk1ne0/e8KW/7/uOosnTFh/+2VrM4aAydxSSLVga3JgqVrg2Drked+AFWF+TUsv6OSzo1ySyiHitdMQ7TMMNpNNjpAxRnQdmoKF6h4lAXyRIl/RrccVzd84/iJn1IusdN7NMb+6/qJvlQnZDN[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2d3f971b-59f7-e13b-fdaa-38392bb7faf6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1883405352",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
