{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-65e49a8d-c42e-07cd-4e4e-503398f5537d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D4850CD40\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-65e49a8d-c42e-07cd-4e4e-503398f5537d/test-blob-ad31d1bd-4967-8d21-77f5-8264159d571d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D485AB9C1\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-65e49a8d-c42e-07cd-4e4e-503398f5537d/test-blob-ad31d1bd-4967-8d21-77f5-8264159d571d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D485AB9C1\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-65e49a8d-c42e-07cd-4e4e-503398f5537d/test-blob-ad31d1bd-4967-8d21-77f5-8264159d571d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D485AB9C1\"",
        "x-ms-date": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "PYyim3rkz5phaTdScD+1WDBFH5yDU6SXaLT0O2XdzyY5/FDGU4GQMCzYnm/z1Y1ajDQqZOgF1OroCzLF8JM0g5oRGHPu7wSvte5wq7Q0pJInma8xs2s+NChm3UhOyj+YoxrV4b0Za50we675lSg1s2efnVbjA9Au0+NLiBG8YOuv1weZX8LVDi0SADi9RJ//MCrhrizotKBKpg7ZzeKLcxrDSr0hm1Skyo8o0QKYcY5ETFjn27G+xiJnT7i0/EFLho0d+fri3pTVPOSdwOOdsTV/lICKpJhpBIOauUuc8M1O3Up0eneTYm7DEZ7MIQU/yZ6DNGfAwOH1tPV2RyRJOUwWTuKYKDa96zISx5P5nON+Wu+tGbxmjh1pf8aCHBpJethSttIjp6BnxUg0rflO/BgS+Ow0mx+[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-65e49a8d-c42e-07cd-4e4e-503398f5537d/test-blob-ad31d1bd-4967-8d21-77f5-8264159d571d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D4867F152\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA9jKKbeuTPmmFpN1JwP7VYMEUfnINTpJdotPQ7Zd3PJjn8UMZTgZAwLNieb/PVjVqMNCpk6AXU6ugLMsXwkzSDmhEYc+7vBK+17nCrtDSkkieZrzGzaz40KGbdSE7KP5ijGtXhvRlrnTB7rvmVKDWzZ5+dVuMD0C7T40uIEbxg66/XB5lfwtUOLRIAOL1En/8wKuGuLOi0oEqmDtnN4otzGsNKvSGbVKTKjyjRAphxjkRMWOfbsb7GImdPuLT8QUuGjR35+uLelNU85J3A452xNX+UgIqkmGkEg5q5S5zwzU7dSnR6d5NibsMRnswhBT/JnoM0Z8DA4fW09XZHJEk5TBZO4pgoNr3rMhLHk/mc435a760ZvGaOHWl/xoIcGkl62FK20i[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-65e49a8d-c42e-07cd-4e4e-503398f5537d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "51821250",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
