{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-50cb5c69-1d2b-4dbf-68cd-5f0e60b93c78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C230B36D791\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-50cb5c69-1d2b-4dbf-68cd-5f0e60b93c78/test-blob-232af128-ca75-7bcf-0f49-6955aa848c02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C230B3C62DB\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:42:58.5084635Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-50cb5c69-1d2b-4dbf-68cd-5f0e60b93c78/test-blob-232af128-ca75-7bcf-0f49-6955aa848c02",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C230B3C62DB\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:42:58.5084635Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-50cb5c69-1d2b-4dbf-68cd-5f0e60b93c78/test-blob-232af128-ca75-7bcf-0f49-6955aa848c02?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C230B3C62DB\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "npW9/eVCYthOzQ0a63+a2RxxTq7Ws+2L7ZRBLfPKTqZCq6Ed0LMHfU8KOr2xfAy32sInPU4gr+unMhBRATXkhH5n1z/dfQlpadBfy3gw2nGHilIwohBXIfu1dZ6itnwaJrY+SaTN2V25vdR+weRyd1efynbis+FtELZEJwdrxrJTRKXC8ZDMurD0d+Q82GAXQ/1GA+wFN3LU0DnuibFWTvYhKnw/r4XH0hDG7jz8MTdWLOQJJMPGTQ0y7SFW3jH/nijuGq3j15N4fzDcP0k12J4CmFzNTCkzW9xvDMJkcPPex08TDheJclRRkaWS6g7E/RWCVEbUMVH/ur/QdMvREw48/Xj5IcqHeCUHe7uEoHDOqg+t4hytCpX+FFNYuP2JgH6WVe2Wy9tK+9wgzbaWexlOAsm8JDH[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-50cb5c69-1d2b-4dbf-68cd-5f0e60b93c78/test-blob-232af128-ca75-7bcf-0f49-6955aa848c02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C230B44BDE4\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:42:58.5084635Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACelb395UJi2E7NDRrrf5rZHHFOrtaz7YvtlEEt88pOpkKroR3Qswd9Two6vbF8DLfawic9TiCv66cyEFEBNeSEfmfXP919CWlp0F/LeDDacYeKUjCiEFch+7V1nqK2fBomtj5JpM3ZXbm91H7B5HJ3V5/KduKz4W0QtkQnB2vGslNEpcLxkMy6sPR35DzYYBdD/UYD7AU3ctTQOe6JsVZO9iEqfD+vhcfSEMbuPPwxN1Ys5Akkw8ZNDTLtIVbeMf+eKO4arePXk3h/MNw/STXYngKYXM1MKTNb3G8MwmRw897HTxMOF4lyVFGRpZLqDsT9FYJURtQxUf+[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-50cb5c69-1d2b-4dbf-68cd-5f0e60b93c78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2070500039",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
