{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9e7278e4-f3f8-4821-fe22-8876f0c44a94?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C231841DCF1\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9e7278e4-f3f8-4821-fe22-8876f0c44a94/test-blob-c1bd06cd-772d-2a58-3f0a-88081fef3d8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C231848639B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:20.3975067Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9e7278e4-f3f8-4821-fe22-8876f0c44a94/test-blob-c1bd06cd-772d-2a58-3f0a-88081fef3d8a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C231848639B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:20.3975067Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9e7278e4-f3f8-4821-fe22-8876f0c44a94/test-blob-c1bd06cd-772d-2a58-3f0a-88081fef3d8a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C231848639B\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "o67y2y+2feyaDe54ocGfirs2HQhBKDAGsrhr+9Gkhpxszbz5gYshomuWh1UBvpGpuJx9p/YMQnp97Ch3SoIb9YZSDNMEpggwFHqdq6DbBfMmwkM0J9+lX4tCfJRiqVfoe5LOrrK9pRKUTJJ8b5fZouc0UYg/582nraxIwSlzzmoitDAODFZAaBwwoNpNKPDzaNmtLVjOqZPEJwEGdePoIH0nWbtnypaR9OhsDkbyWYS8VFhPxqESUwqcSuRUOvM5SIBdJc40i55DHDlwYptN0c19SiCKmFncFQaxy4CyPLn1MsXGlTS1h8m6DKpnofFuTngW1/DSrrAmgA/Ig8AdkN9/ey/WhjuZx8JXz4uvdXQUQnwHnGTJIoMVnxUl7QQInXvK5ybBmMg9fRAue98kdwuas0BDFfR[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9e7278e4-f3f8-4821-fe22-8876f0c44a94/test-blob-c1bd06cd-772d-2a58-3f0a-88081fef3d8a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C231850E592\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:20.3975067Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACjrvLbL7Z97JoN7nihwZ+KuzYdCEEoMAayuGv70aSGnGzNvPmBiyGia5aHVQG+kam4nH2n9gxCen3sKHdKghv1hlIM0wSmCDAUep2roNsF8ybCQzQn36Vfi0J8lGKpV+h7ks6usr2lEpRMknxvl9mi5zRRiD/nzaetrEjBKXPOaiK0MA4MVkBoHDCg2k0o8PNo2a0tWM6pk8QnAQZ14+ggfSdZu2fKlpH06GwORvJZhLxUWE/GoRJTCpxK5FQ68zlIgF0lzjSLnkMcOXBim03RzX1KIIqYWdwVBrHLgLI8ufUyxcaVNLWHyboMqmeh8W5OeBbX8NKusCa[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9e7278e4-f3f8-4821-fe22-8876f0c44a94?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "391832833",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
