{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6cd58d9-c6c0-d326-0bf1-7e89c8d410a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF5279326D\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6cd58d9-c6c0-d326-0bf1-7e89c8d410a2/test-blob-a60115eb-75e2-bd66-9b51-9813bc0b0396",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF52898F89\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6cd58d9-c6c0-d326-0bf1-7e89c8d410a2/test-blob-a60115eb-75e2-bd66-9b51-9813bc0b0396",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF52898F89\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6cd58d9-c6c0-d326-0bf1-7e89c8d410a2/test-blob-a60115eb-75e2-bd66-9b51-9813bc0b0396?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FEF52898F89\u0022",
        "x-ms-date": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "4ukt6pc6F3hqOhc/wipg8\u002BN6BWW0jzp8QKLFgZdOmqm47RmJ6iNsSUuoFi1B/UsfJtW7fv9jYlKusar0dJXgHKBth9UR1gnADbwaC3kMOkNXplvBkhupVYrG2jh5eNS2x/mN03Z1DU/M\u002B3BDSVfZonZmnc46HomExDFLSvvRRpXoY0R/f2fM4ZgL9ZeqZgwz7DjBEtoFe6hwCA9EKsNU\u002BrTbW\u002BUSWiIPmrs1Liny2l0lGF3CDzS64uibD3dYh7fVt/rjzwsnIJIWsngfz01/fi6xHxJlket/IHj8d0qrtxIDYHcuDgpS/fjLrF28mxKbHJBIpmilbyUPY6\u002BSKqhIavpmG2/VUG8kXiEamuSNw4RmYVu5YhCpXvBSHqtawNNPgkJiVX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6cd58d9-c6c0-d326-0bf1-7e89c8d410a2/test-blob-a60115eb-75e2-bd66-9b51-9813bc0b0396",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF52A63F3F\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:55:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:55:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADi6S3qlzoXeGo6Fz/CKmDz43oFZbSPOnxAosWBl06aqbjtGYnqI2xJS6gWLUH9Sx8m1bt\u002B/2NiUq6xqvR0leAcoG2H1RHWCcANvBoLeQw6Q1emW8GSG6lVisbaOHl41LbH\u002BY3TdnUNT8z7cENJV9midmadzjoeiYTEMUtK\u002B9FGlehjRH9/Z8zhmAv1l6pmDDPsOMES2gV7qHAID0Qqw1T6tNtb5RJaIg\u002BauzUuKfLaXSUYXcIPNLri6JsPd1iHt9W3\u002BuPPCycgkhayeB/PTX9\u002BLrEfEmWR638gePx3Squ3EgNgdy4OClL9\u002BMusXbybEpsckEimaKVvJQ9jr5IqqEhq\u002BmYbb9VQby[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6cd58d9-c6c0-d326-0bf1-7e89c8d410a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:55:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1561584044",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
