{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2f9a9481-d52a-b268-3c44-ff575dac1e0d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D66798C930\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2f9a9481-d52a-b268-3c44-ff575dac1e0d/test-blob-fb06dcd0-574e-71e5-7327-9ac66ec57186",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D667A39E9B\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2f9a9481-d52a-b268-3c44-ff575dac1e0d/test-blob-fb06dcd0-574e-71e5-7327-9ac66ec57186",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D667A39E9B\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2f9a9481-d52a-b268-3c44-ff575dac1e0d/test-blob-fb06dcd0-574e-71e5-7327-9ac66ec57186?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D667A39E9B\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "GsVI3DgsA9LRP2L8zoj+/fXpHRoz0sU9vPwbUKgDzYZjXMXu9nLdDD6negkWyxM2GwnJoymvd0j/CyA7EbMqznHcmXHDDweCDBDci1e8JvDo5DWeOSpcs+R87upRovuKfayXOTKhcwsCR5cY0uzxQ+QvUix9i5RHgOWNRyAcMGoVUQ6rJOy+R3EpnPKSQ+H4i6oFIk/ODPEYULlMEyzq5RYtA4DdRh/3cAu7VO6htDwElbt1Fg4aRkUck9QzcjNEPrbcZUBgGkWLDbFDE7gCdpt9R35wdc4HErw7wLJKxP7YdhU4xE/8pHt26gld1jKMGhw4tSq01Mnn1VKDJFmSQEiza52iyrFMgaMD+YrFqjuKr6aWEQ/TI6JMUO/8eH8h5KnAqWuV6U9q7DSHsdo+ISoW+XWz+y8[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2f9a9481-d52a-b268-3c44-ff575dac1e0d/test-blob-fb06dcd0-574e-71e5-7327-9ac66ec57186",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D667B013C2\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAaxUjcOCwD0tE/YvzOiP799ekdGjPSxT28/BtQqAPNhmNcxe72ct0MPqd6CRbLEzYbCcmjKa93SP8LIDsRsyrOcdyZccMPB4IMENyLV7wm8OjkNZ45Klyz5Hzu6lGi+4p9rJc5MqFzCwJHlxjS7PFD5C9SLH2LlEeA5Y1HIBwwahVRDqsk7L5HcSmc8pJD4fiLqgUiT84M8RhQuUwTLOrlFi0DgN1GH/dwC7tU7qG0PASVu3UWDhpGRRyT1DNyM0Q+ttxlQGAaRYsNsUMTuAJ2m31HfnB1zgcSvDvAskrE/th2FTjET/yke3bqCV3WMowaHDi1KrTUyefVUoMkWZJASLNrnaLKsUyBowP5isWqO4qvppYRD9MjokxQ7/x4fyHkqcCpa5[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-2f9a9481-d52a-b268-3c44-ff575dac1e0d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1438861987",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
