{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d74c7a85-bd71-ed4d-b402-180b7ccad3d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F03BA0808\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d74c7a85-bd71-ed4d-b402-180b7ccad3d9/test-blob-8952d7eb-1830-bba3-d101-3152d383104b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F03C60A72\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:03.0886002Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d74c7a85-bd71-ed4d-b402-180b7ccad3d9/test-blob-8952d7eb-1830-bba3-d101-3152d383104b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F03C60A72\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:03.0886002Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d74c7a85-bd71-ed4d-b402-180b7ccad3d9/test-blob-8952d7eb-1830-bba3-d101-3152d383104b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336F03C60A72\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "TBUQY4G5hO6mwlsuimBG3NgQAzTRoQCopqRoyn7v0RH4c6CRx8aGTsMJixWaMAFEajwMp2cW7asUaL3cULpwt/FKNha/tRQRirRwyBXrDXWjI2BC4ymp4ob1fF4Jqf0JmdQkUPrqhbQn+h2ypSWWKVpHOSxZLdPHoFOQyTm1COC2Zy5Ax717uJ6sGukM9j1hX1MEwXDRr2sBXK+nWrt7cfE9/D32VWGdzICOrRPqu6kWLmrmsUZv5bjCPmoN1F7iMKj3z/r/agnxZvXwQgJYF6EFkCtQlcCrzRaFNBb3j/chq3xq8uyvFsNh9EpRf6K1aSfJCEMzkZvoTAHkejby+db9zpeF7iS0Vnpo76B1Wk1zz8vvLYe07hnhgabqypuNb/p0U7ALL3sDFLHIy6L7c/K0cKprA8x[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d74c7a85-bd71-ed4d-b402-180b7ccad3d9/test-blob-8952d7eb-1830-bba3-d101-3152d383104b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F03D3B6B6\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:03.0886002Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABMFRBjgbmE7qbCWy6KYEbc2BADNNGhAKimpGjKfu/REfhzoJHHxoZOwwmLFZowAURqPAynZxbtqxRovdxQunC38Uo2Fr+1FBGKtHDIFesNdaMjYELjKanihvV8Xgmp/QmZ1CRQ+uqFtCf6HbKlJZYpWkc5LFkt08egU5DJObUI4LZnLkDHvXu4nqwa6Qz2PWFfUwTBcNGvawFcr6dau3tx8T38PfZVYZ3MgI6tE+q7qRYuauaxRm/luMI+ag3UXuIwqPfP+v9qCfFm9fBCAlgXoQWQK1CVwKvNFoU0FveP9yGrfGry7K8Ww2H0SlF/orVpJ8kIQzORm+h[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d74c7a85-bd71-ed4d-b402-180b7ccad3d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "797296776",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
