{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2d5e741-de29-7b57-b685-5992e09bad3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB041FB2AAD8\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2d5e741-de29-7b57-b685-5992e09bad3f/test-blob-6c8a5b83-22f4-efb1-f091-f1a1db3f8038",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB041FC06349\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2d5e741-de29-7b57-b685-5992e09bad3f/test-blob-6c8a5b83-22f4-efb1-f091-f1a1db3f8038",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB041FC06349\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2d5e741-de29-7b57-b685-5992e09bad3f/test-blob-6c8a5b83-22f4-efb1-f091-f1a1db3f8038?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB041FC06349\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "2ZtFvfuBv48xOvjUrXlYkdOcuLPvSBeafSbqKq98OaZmFQSG3/TBWG0cNO2X7XLhCHBlxEo5LJGEqj/Vl5TgtQFSbph00rLf22BG0hQpApC0CCI+F3VbLOhzAjS068HYPH/sRX/ZbDa+hejq81l9W6euII5yoZ2L9kGwANB9Ku+ebZaVPLwR25zrf5GMcDmO9aaMBcszZprhYU89KWxmQFr5S4XD6B7rnUXyhiEL/4UHIQsp8SQkawb7s9tt07EvhT83kyW0yw2IoWiFQeB51WHJNgdgPU811OB+xzRDfcmTwgHi1GtgU1b9oU+8nyomgt55o52qz0jvAb5ENQPYRCSe8n/flgH2aeKxY5wAeTW2WEVWydks6fO58tKsGx5TJVwrHq2rR+vcgzq6+Wur74iJjt29gXp[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2d5e741-de29-7b57-b685-5992e09bad3f/test-blob-6c8a5b83-22f4-efb1-f091-f1a1db3f8038",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB041FD91B4A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:22:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADZm0W9+4G/jzE6+NSteViR05y4s+9IF5p9Juoqr3w5pmYVBIbf9MFYbRw07ZftcuEIcGXESjkskYSqP9WXlOC1AVJumHTSst/bYEbSFCkCkLQIIj4XdVss6HMCNLTrwdg8f+xFf9lsNr6F6OrzWX1bp64gjnKhnYv2QbAA0H0q755tlpU8vBHbnOt/kYxwOY71powFyzNmmuFhTz0pbGZAWvlLhcPoHuudRfKGIQv/hQchCynxJCRrBvuz223TsS+FPzeTJbTLDYihaIVB4HnVYck2B2A9TzXU4H7HNEN9yZPCAeLUa2BTVv2hT7yfKiaC3nmjnarPSO8BvkQ1A9hEJJ7yf9+WAfZp4rFjnAB5NbZYRVbJ2Szp87ny0qwbHlMlXCsera[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2d5e741-de29-7b57-b685-5992e09bad3f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:22:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1454700397",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
