{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d6761d3-6a10-19d3-db79-9203ff007fc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BE25413D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d6761d3-6a10-19d3-db79-9203ff007fc8/test-blob-a20d1941-919b-bbcc-146a-85f2137e4b61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BE2EA0DC\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d6761d3-6a10-19d3-db79-9203ff007fc8/test-blob-a20d1941-919b-bbcc-146a-85f2137e4b61",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BE2EA0DC\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d6761d3-6a10-19d3-db79-9203ff007fc8/test-blob-a20d1941-919b-bbcc-146a-85f2137e4b61?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6BE2EA0DC\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "emEDeHwY4h1rK717gBYIE6ySw4YXzbTj8a7LbBv78KjdoUKuw1ODJ5bLRufHzn5aTYdOuDQwMKytIIfNTXUBbzsUnt7TWk9YD5vwS4bMHCIvcB+UrDdzrHCWAaPMtdohytessjCfh/I39qmZQOUl4ANknt1VbcMEoPJuPVmri1nBz4GvIGnyj+gsXLWO2myLcCCgaBf9y1wTpxI+MUqZjGpP2HFkdb+acQ70KBENdsaF4sw4CyJCwwMkm3hXtF2ek89KPgL7J/pgBfcICKJLBjFLuE5+YIBIDRRtQNpHQ7ywVpVBwjfDirvR1wYrOrph2JVGC/wOIDJPAjHujuYgGcE6V7IMCkT6iC2TrIl6HNJZC2dEADjAoTZj8r8F1fzUsL5E8OIIVM5QTIPPe3Op1OZelIJ/2xi[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d6761d3-6a10-19d3-db79-9203ff007fc8/test-blob-a20d1941-919b-bbcc-146a-85f2137e4b61",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BE3C2634\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB6YQN4fBjiHWsrvXuAFggTrJLDhhfNtOPxrstsG/vwqN2hQq7DU4MnlstG58fOflpNh064NDAwrK0gh81NdQFvOxSe3tNaT1gPm/BLhswcIi9wH5SsN3OscJYBo8y12iHK16yyMJ+H8jf2qZlA5SXgA2Se3VVtwwSg8m49WauLWcHPga8gafKP6CxctY7abItwIKBoF/3LXBOnEj4xSpmMak/YcWR1v5pxDvQoEQ12xoXizDgLIkLDAySbeFe0XZ6Tz0o+Avsn+mAF9wgIoksGMUu4Tn5ggEgNFG1A2kdDvLBWlUHCN8OKu9HXBis6umHYlUYL/A4gMk8CMe6O5iAZwTpXsgwKRPqILZOsiXoc0lkLZ0QAOMChNmPyvwXV/NSwvkTw4g[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d6761d3-6a10-19d3-db79-9203ff007fc8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1143210324",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
