{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9d002b34-9b29-d214-340f-1dc6fc3d4e83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D48D1B0A3\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9d002b34-9b29-d214-340f-1dc6fc3d4e83/test-blob-2e459f3d-48ae-d5b2-c107-15f674277e69",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D48DBB4A4\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9d002b34-9b29-d214-340f-1dc6fc3d4e83/test-blob-2e459f3d-48ae-d5b2-c107-15f674277e69",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D48DBB4A4\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9d002b34-9b29-d214-340f-1dc6fc3d4e83/test-blob-2e459f3d-48ae-d5b2-c107-15f674277e69?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D48DBB4A4\"",
        "x-ms-date": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "C/6yv4EtvH+6noENFOEvSzXahwD4Dsw5hfTi/m5psI5y2CekNhrBET/GhRgJDrkGXvzS1wWot/0xeTqNSr4RUe7ymzu6ihQbGHXAMYizL3Y626BxltiJySEqc73fNMeBtTQqFnN9TNTnt7+P6IV0fUnDUm4dn7oWadEakBZXO+SuP3xUiRgDvI/Mit8Y+eGbtfVzHOFYYxV5FK2hY7u9j3zb4akIH/Qwv5XeURTa/XDwftog4x4CVttn23RrYlnTDvpjPRg4k5YBQ1xLeRIAnhc9seThnKtd2IrNoUR/xVw8C0Iad79XuOpEH6DBttzJZjxdLrF08nJPBmSNavJRgX3/D27P5idX5fj5nHwKmyKtBDoHIZaryBjQynBayU348p4iwqdu+X8VBkm4elb1RGtC4Ga3Sl/[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9d002b34-9b29-d214-340f-1dc6fc3d4e83/test-blob-2e459f3d-48ae-d5b2-c107-15f674277e69",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D48EC6AB7\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAL/rK/gS28f7qegQ0U4S9LNdqHAPgOzDmF9OL+bmmwjnLYJ6Q2GsERP8aFGAkOuQZe/NLXBai3/TF5Oo1KvhFR7vKbO7qKFBsYdcAxiLMvdjrboHGW2InJISpzvd80x4G1NCoWc31M1Oe3v4/ohXR9ScNSbh2fuhZp0RqQFlc75K4/fFSJGAO8j8yK3xj54Zu19XMc4VhjFXkUraFju72PfNvhqQgf9DC/ld5RFNr9cPB+2iDjHgJW22fbdGtiWdMO+mM9GDiTlgFDXEt5EgCeFz2x5OGcq13Yis2hRH/FXDwLQhp3v1e46kQfoMG23MlmPF0usXTyck8GZI1q8lGBff8Pbs/mJ1fl+PmcfAqbIq0EOgchlqvIGNDKcFrJTfjyniLCp2[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9d002b34-9b29-d214-340f-1dc6fc3d4e83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:30 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "926272910",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
