{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41d26acb-d292-38d8-616b-2a3e6ebf55b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86857D33B539\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41d26acb-d292-38d8-616b-2a3e6ebf55b7/test-blob-d792b3a3-d3c6-72fa-2081-0f3d7ee56ed3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86857D41BF4A\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41d26acb-d292-38d8-616b-2a3e6ebf55b7/test-blob-d792b3a3-d3c6-72fa-2081-0f3d7ee56ed3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86857D41BF4A\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:05:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41d26acb-d292-38d8-616b-2a3e6ebf55b7/test-blob-d792b3a3-d3c6-72fa-2081-0f3d7ee56ed3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86857D41BF4A\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "EygAYB0fzvz85xLaOvHzzmQMR/5haXeDCqaWG5Cok2rRa9Mckqb/16Bh71dKqMYrhG9gSnzny6mwfFV3iLJsU1SnCc8e1zy+DG9e/3ogOWHfapYhSEju6aApaxVQh0/t9ZsDop/3Da0zoj0NicsukEPzmB4bSgoLuR8u9GsmbYQgcArfHJbC51zp7qYL4GDV+tvSXO8w0aqQ+Oh/yBhBDDS47RjBT3OsMbDBMltkANi/WfqQVBGV755fTiStQh9Ep+JyUvNHFKpnJSs+bp9OLPgQwG4esbgjI/56YQFP/u6RfYp58q3leEVQKC7lV4D/ECIsnYKwJfYqTy/1zbKpGCY9rPAU1DpKKkgozoiJPct9elDfI2Br4VeUT6J98KqTphAHqKqP6zvn4XM6h1dtoBFkd1JhyfT[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41d26acb-d292-38d8-616b-2a3e6ebf55b7/test-blob-d792b3a3-d3c6-72fa-2081-0f3d7ee56ed3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86857D57B664\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:05:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:05:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "Response[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41d26acb-d292-38d8-616b-2a3e6ebf55b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:05:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1384171413",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
