{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a621a9f9-639c-c3f4-ae89-de01565ca710?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BC11714E\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a621a9f9-639c-c3f4-ae89-de01565ca710/test-blob-afe1108f-aac0-095f-1a24-c131e249696c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6BC1AC159\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a621a9f9-639c-c3f4-ae89-de01565ca710/test-blob-afe1108f-aac0-095f-1a24-c131e249696c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BC1AC159\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a621a9f9-639c-c3f4-ae89-de01565ca710/test-blob-afe1108f-aac0-095f-1a24-c131e249696c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6BC1AC159\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "I6DK0z3PIle7uu19JMXHEZaIdqaGDQ0OoCy5oeETFFmZcQxb0R8Yu4x930gD9Im+ia5DyuneRxWSvDIRFYB2p6WU47K4bD93b7saCC7FC6ui+xgy0Epvuyr2yBXsB6ULBzejbhHXBR1vy1ouxD7nzbCHbxloQ9daJCiIwqMqi2gVDgH2Ipyay/b7wwTvQfbsD/tlZJiMo8RfSEroTkN5REDyGLY88KsU7aQjbX/TauMynLOnxSbQiWo9ltpSsnyzgX7D/ShArx5QUHf0aDZEjN1ntrKP0n8aIo9L/1rQwjsncOsBEG268uyUV3Su2yA0+Qr96vvJI6/+qNuZ9K/Ef448zPhKQnxvrMTF+noLbEZuFwZP09c/Xkw8AmeRIf090NflcQ8o6raOjT03BCg08zyVKt2pdKu[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a621a9f9-639c-c3f4-ae89-de01565ca710/test-blob-afe1108f-aac0-095f-1a24-c131e249696c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6BC2846B6\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAjoMrTPc8iV7u67X0kxccRloh2poYNDQ6gLLmh4RMUWZlxDFvRHxi7jH3fSAP0ib6JrkPK6d5HFZK8MhEVgHanpZTjsrhsP3dvuxoILsULq6L7GDLQSm+7KvbIFewHpQsHN6NuEdcFHW/LWi7EPufNsIdvGWhD11okKIjCoyqLaBUOAfYinJrL9vvDBO9B9uwP+2VkmIyjxF9ISuhOQ3lEQPIYtjzwqxTtpCNtf9Nq4zKcs6fFJtCJaj2W2lKyfLOBfsP9KECvHlBQd/RoNkSM3We2so/Sfxoij0v/WtDCOydw6wEQbbry7JRXdK7bIDT5Cv3q+8kjr/6o25n0r8R/jjzM+EpCfG+sxMX6egtsRm4XBk/T1z9eTDwCZ5Eh/T3Q1+VxDy[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a621a9f9-639c-c3f4-ae89-de01565ca710?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "771960073",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
