{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b7ea8fc-ef71-a922-9e9c-b1e17bba743e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D69305789\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b7ea8fc-ef71-a922-9e9c-b1e17bba743e/test-blob-3e0bd25f-6027-d0c0-153e-1ddf137e4c43",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D693F0D1A\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b7ea8fc-ef71-a922-9e9c-b1e17bba743e/test-blob-3e0bd25f-6027-d0c0-153e-1ddf137e4c43",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D693F0D1A\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b7ea8fc-ef71-a922-9e9c-b1e17bba743e/test-blob-3e0bd25f-6027-d0c0-153e-1ddf137e4c43?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D693F0D1A\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "7s1L/Eq4jteTRNE7jlCMq6O6QDnugwXoBJskD6CzGWoj5ONQqPyt6LT0XfTkyDOCBNm+ZZ7ZjWvHYviuk3824CtnGKlsOwOmDViE+SURBDtoogrH9LTLSld4iEUE/lQ0vn3IfLCJFcjWGFdGVJNFtl28RvF1b+x2nM5S9LO9og4DTzuoSIiK3o1B8NtchfXEM9HoR7hjv06QUeDiNyEVGHZIQgRXnW7UMmdjM34QGhbYjcDh1VtWn4/tF/aoqKdrK9hlE0LwbJVjExRQ/4zQfzfJCalgNEMb8qN1aoV4LIrA9wemqgbT6CArfcJGBp8DHZi+3p79C/eUSiGfewIQ6+eKkAeEKdUw9SGINbaB1esDcU3tuU3rwuwQEV/lNG0eGpLbu3aYfvPCjeh9ddZAE3U1nAm1IzG[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b7ea8fc-ef71-a922-9e9c-b1e17bba743e/test-blob-3e0bd25f-6027-d0c0-153e-1ddf137e4c43",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D694C44A8\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADuzUv8SriO15NE0TuOUIyro7pAOe6DBegEmyQPoLMZaiPk41Co/K3otPRd9OTIM4IE2b5lntmNa8di+K6TfzbgK2cYqWw7A6YNWIT5JREEO2iiCsf0tMtKV3iIRQT+VDS+fch8sIkVyNYYV0ZUk0W2XbxG8XVv7HaczlL0s72iDgNPO6hIiIrejUHw21yF9cQz0ehHuGO/TpBR4OI3IRUYdkhCBFedbtQyZ2MzfhAaFtiNwOHVW1afj+0X9qiop2sr2GUTQvBslWMTFFD/jNB/N8kJqWA0Qxvyo3VqhXgsisD3B6aqBtPoICt9wkYGnwMdmL7env0L95RKIZ97AhDr54qQB4Qp1TD1IYg1toHV6wNxTe25TevC7BARX+U0bR4aktu7dp[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1b7ea8fc-ef71-a922-9e9c-b1e17bba743e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:24 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1366530509",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
