{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2760e282-0745-61f3-37aa-eecb722f3b47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C230A63252D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2760e282-0745-61f3-37aa-eecb722f3b47/test-blob-c6b08ee1-216a-d7e3-462e-b5dc39a4c646",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C230A78DCCA\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:42:57.2270794Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2760e282-0745-61f3-37aa-eecb722f3b47/test-blob-c6b08ee1-216a-d7e3-462e-b5dc39a4c646",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C230A78DCCA\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:42:57.2270794Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2760e282-0745-61f3-37aa-eecb722f3b47/test-blob-c6b08ee1-216a-d7e3-462e-b5dc39a4c646?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C230A78DCCA\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "RTibzDSxylstnV4GONRhAL4zh0DAJz6J6prla5t1xJoJVtrHmx+GkmgS5muy38RczYuAy6b1tx35EeKZzF/At9nE/OL6mmWerPTXrkHS1wrWiZ0P9PnzE568zYo87cYJUS6R7eLiYjMm4h6yHQncJjnXw0LBscPg0elDPczaYr8uzlwTQOoo8ydq6RLaQfaU4KZQZCmDR6BqsRz5nyRmS39fg06syOZPr88bV8ewBY/yrl0miv2Vqoe8qI/NLlQCA56Ter2n5xfAALVaZ+/YuquMBvDHQMCCytnH8B9WgoB7GFQpHYrSS8ZFZYpIOkKX4+7kQShjO8LdELDk4Pf3an003k6br50guropgdo1OY+WLw0xckFYF92RSwza7WvPTfsMFFzz+zRRw4ZtOrrnqNcgTrDqxvc[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2760e282-0745-61f3-37aa-eecb722f3b47/test-blob-c6b08ee1-216a-d7e3-462e-b5dc39a4c646",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C230A86D6DD\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:42:57.2270794Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABFOJvMNLHKWy2dXgY41GEAvjOHQMAnPonqmuVrm3XEmglW2sebH4aSaBLma7LfxFzNi4DLpvW3HfkR4pnMX8C32cT84vqaZZ6s9NeuQdLXCtaJnQ/0+fMTnrzNijztxglRLpHt4uJiMybiHrIdCdwmOdfDQsGxw+DR6UM9zNpivy7OXBNA6ijzJ2rpEtpB9pTgplBkKYNHoGqxHPmfJGZLf1+DTqzI5k+vzxtXx7AFj/KuXSaK/ZWqh7yoj80uVAIDnpN6vafnF8AAtVpn79i6q4wG8MdAwILK2cfwH1aCgHsYVCkditJLxkVlikg6Qpfj7uRBKGM7wt0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2760e282-0745-61f3-37aa-eecb722f3b47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "413928170",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
