{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8bbd84b2-f9c3-18c4-5132-2e574a1f8863?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:59 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F0344A598\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8bbd84b2-f9c3-18c4-5132-2e574a1f8863/test-blob-cda77767-b637-9760-5783-031b7e76d983",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:59 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F0350C22A\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:02.3199786Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8bbd84b2-f9c3-18c4-5132-2e574a1f8863/test-blob-cda77767-b637-9760-5783-031b7e76d983",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:59 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F0350C22A\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:02.3199786Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8bbd84b2-f9c3-18c4-5132-2e574a1f8863/test-blob-cda77767-b637-9760-5783-031b7e76d983?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336F0350C22A\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "SPe6SXRgagdpe92m1YrO4bm//zvbD+253G5AJZ0aSrJFp/BStS/69qM8DvoBecRUqCxGN/qboDgJAGwFIERqTzEqYS6ZfCuJxQiXnwDzuGOp7H1x1BO3qge4SLXD9dZf0r/I1heWuisAvHHyAwE3FUcIWzPH+Hodcrcm4TR1xtAyOMxBKuJLEzJScBehxaYGgDJtupmil9lEq2Ngb9j3ivahwMo09utkvEgBdYdje60QIGEBCAw2j6Dz/H9/66NZWuYh/wXb0YlHCf1QoSJR4S+1T0929YLpajAqQfpr5dGlpxqhQXyoNE7Yuf8O5u59oRpQyZtT42RjN5TUsZCP3CMrq/kIsJ+zDRsAnjuD2oRCrJ/fGxs1UcS1PQrn04O+SN3b4zr1dfF7nbyAU0Qo4FwQkQXxsME[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8bbd84b2-f9c3-18c4-5132-2e574a1f8863/test-blob-cda77767-b637-9760-5783-031b7e76d983",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F035C9BAE\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:02.3199786Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABI97pJdGBqB2l73abVis7hub//O9sP7bncbkAlnRpKskWn8FK1L/r2ozwO+gF5xFSoLEY3+pugOAkAbAUgRGpPMSphLpl8K4nFCJefAPO4Y6nsfXHUE7eqB7hItcP11l/Sv8jWF5a6KwC8cfIDATcVRwhbM8f4eh1ytybhNHXG0DI4zEEq4ksTMlJwF6HFpgaAMm26maKX2USrY2Bv2PeK9qHAyjT262S8SAF1h2N7rRAgYQEIDDaPoPP8f3/ro1la5iH/BdvRiUcJ/VChIlHhL7VPT3b1gulqMCpB+mvl0aWnGqFBfKg0Tti5/w7m7n2hGlDJm1PjZGM[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8bbd84b2-f9c3-18c4-5132-2e574a1f8863?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "974413883",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
