{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-223fa638-7e3d-518f-5f77-1589e0674c3d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64B4434FD\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-223fa638-7e3d-518f-5f77-1589e0674c3d/test-blob-1feb526d-e7fc-904f-b894-0898c7110532",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64B4EC75E\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-223fa638-7e3d-518f-5f77-1589e0674c3d/test-blob-1feb526d-e7fc-904f-b894-0898c7110532",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D64B4EC75E\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-223fa638-7e3d-518f-5f77-1589e0674c3d/test-blob-1feb526d-e7fc-904f-b894-0898c7110532?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D64B4EC75E\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "oHpoZQHb/wLOpc52VH1iC6BS9ztnIC5E/+t0jvBjZlK5z3J063DBtqX9XWk/wws/HzrS4ArR9IBMJGUVZ3ESaz57vIUL7h8wkUCWacPEBDzgNG61kYZI6NvxJ8cKrE406/IrxAaGNDEaok/JOoq9iB8pNTMCXNm3M9SqGcZYJeXyYn3QmEA1Wf89m+83fq1QNJ+n4XcaMY8Yc5Ay3Btqwnxp19gM7O/f89s0xMHqgLUmWeUnsERu1zDuuCSvA33j0thyzafVQ0evyO2b5m3OLfPbDII2QxE4+/+nHjPKL/BdUPLoeLINUBWdd+hW0vHDIIsw1Pf7rY7GOdGnLSUU5Jj9PpV65bVBzbtsmMwp4ikO5P6omlr4YqNjIT7gZiLwiZJQWJRcSDrV7wc7jxTCnVeomUkma0o[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-223fa638-7e3d-518f-5f77-1589e0674c3d/test-blob-1feb526d-e7fc-904f-b894-0898c7110532",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D64B5B3C7E\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACgemhlAdv/As6lznZUfWILoFL3O2cgLkT/63SO8GNmUrnPcnTrcMG2pf1daT/DCz8fOtLgCtH0gEwkZRVncRJrPnu8hQvuHzCRQJZpw8QEPOA0brWRhkjo2/EnxwqsTjTr8ivEBoY0MRqiT8k6ir2IHyk1MwJc2bcz1KoZxlgl5fJifdCYQDVZ/z2b7zd+rVA0n6fhdxoxjxhzkDLcG2rCfGnX2Azs79/z2zTEweqAtSZZ5SewRG7XMO64JK8DfePS2HLNp9VDR6/I7Zvmbc4t89sMgjZDETj7/6ceM8ov8F1Q8uh4sg1QFZ136FbS8cMgizDU9/utjsY50actJRTkmP0+lXrltUHNu2yYzCniKQ7k/qiaWvhio2MhPuBmIvCJklBYlF[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-223fa638-7e3d-518f-5f77-1589e0674c3d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1634196529",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
