{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d27cc37-2e50-b180-dd62-e2821fc778ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D44DB49C\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d27cc37-2e50-b180-dd62-e2821fc778ad/test-blob-27eff7d3-4a9d-ca3b-b858-f31730a64de2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D457A2CC\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d27cc37-2e50-b180-dd62-e2821fc778ad/test-blob-27eff7d3-4a9d-ca3b-b858-f31730a64de2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D457A2CC\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d27cc37-2e50-b180-dd62-e2821fc778ad/test-blob-27eff7d3-4a9d-ca3b-b858-f31730a64de2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6D457A2CC\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "N+u9sy+tjRCDBnlyV8rHiZbNlO6EaF3oyyCt5DqLOsyeon7+lxflQKQxjUhyOmhVV2InGYJQr8+N1egO/6jW98ys1LVMyPJ/51RKU9sVdZG4WI3XZCBJTvOvccEv10H7WpV7xmazCY5wqDIuBVvzeF9XVqcb/pKsYoXBnVcwTw8STvhFma8rBE/+Z7ztGkiXu/hi2ICZ4FwDz2Pg8Ws2QFgiHLdjrt+vK1FYHJfVvkc9KuFfzXeOeG6cQslLShPjxydkyv6RNA0Zs6wvQcPFLhAco8eK13LhlKNIx2wVY+E+dFRvcfRIrPXURhrKXzaq1hO5L6dLWfC0gzZbSG2hA0/K8M1vVbwc1PfStZFXFjRsnvBYXDQ68htku+697GOHMkLL/29pO4FXnVqweaNfXWwC76l9Sac[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d27cc37-2e50-b180-dd62-e2821fc778ad/test-blob-27eff7d3-4a9d-ca3b-b858-f31730a64de2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D46575E9\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA3672zL62NEIMGeXJXyseJls2U7oRoXejLIK3kOos6zJ6ifv6XF+VApDGNSHI6aFVXYicZglCvz43V6A7/qNb3zKzUtUzI8n/nVEpT2xV1kbhYjddkIElO869xwS/XQftalXvGZrMJjnCoMi4FW/N4X1dWpxv+kqxihcGdVzBPDxJO+EWZrysET/5nvO0aSJe7+GLYgJngXAPPY+DxazZAWCIct2Ou368rUVgcl9W+Rz0q4V/Nd454bpxCyUtKE+PHJ2TK/pE0DRmzrC9Bw8UuEByjx4rXcuGUo0jHbBVj4T50VG9x9Eis9dRGGspfNqrWE7kvp0tZ8LSDNltIbaEDT8rwzW9VvBzU99K1kVcWNGye8FhcNDryG2S77r3sY4cyQsv/b2[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5d27cc37-2e50-b180-dd62-e2821fc778ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1686866082",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
