{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-89517d8d-5a97-377a-97a9-6b9a74648e5b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EB95FE619\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-89517d8d-5a97-377a-97a9-6b9a74648e5b/test-blob-edf6d9d9-11de-0d9b-59e3-8a0feaa09964",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EB96F1FC3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-89517d8d-5a97-377a-97a9-6b9a74648e5b/test-blob-edf6d9d9-11de-0d9b-59e3-8a0feaa09964",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EB96F1FC3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-89517d8d-5a97-377a-97a9-6b9a74648e5b/test-blob-edf6d9d9-11de-0d9b-59e3-8a0feaa09964?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EB96F1FC3\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yKcWbpoiiFll/JWxD0Qp7/qiwgYO7R7tkZu3u9RJ31IuyG1mkUEutOX7O0DK8\u002B/n6nDT096wc9qIKNz\u002Ba8yFGxxDg0fWwl65dA4hErHeI56s0NFjdgx0flSS3mlkL0kYdiAjh2\u002BoECcSGl7PjmAoqgQ\u002BUpr6IaUQzgXyQ\u002BT0VEXFCJyRupwuBMCqUVutpe/zajRkJt2uHlR6E7hqtcxDHcYYCobEl\u002B9oD03aUNBJYikV/9mvkC1oF\u002BpHF6fjw070ZzSUlJtpLtJE\u002BxaP082EMLCPVbbyk4yYsPKbfYBIhUz/5umbtc6Nq9AHa5QX2EMcwub3U26YAtOn/OOozbFS\u002B3bJkO3k6HvhAanl6yf3gNiuf7qZUT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-89517d8d-5a97-377a-97a9-6b9a74648e5b/test-blob-edf6d9d9-11de-0d9b-59e3-8a0feaa09964",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EB98A6FFC\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "r5cSjvl6Imk=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "yKcWbpoiiFll/JWxD0Qp7/qiwgYO7R7tkZu3u9RJ31IuyG1mkUEutOX7O0DK8\u002B/n6nDT096wc9qIKNz\u002Ba8yFGxxDg0fWwl65dA4hErHeI56s0NFjdgx0flSS3mlkL0kYdiAjh2\u002BoECcSGl7PjmAoqgQ\u002BUpr6IaUQzgXyQ\u002BT0VEXFCJyRupwuBMCqUVutpe/zajRkJt2uHlR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-89517d8d-5a97-377a-97a9-6b9a74648e5b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1253150125",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
