{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a8a4bee2-a2fd-1293-fc36-7731ed5c7812?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C230CA6B2F4\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a8a4bee2-a2fd-1293-fc36-7731ed5c7812/test-blob-61dc9790-2056-0cf2-404d-af25447d92fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C230CAC306B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:00.9198926Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a8a4bee2-a2fd-1293-fc36-7731ed5c7812/test-blob-61dc9790-2056-0cf2-404d-af25447d92fa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C230CAC306B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:00.9198926Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a8a4bee2-a2fd-1293-fc36-7731ed5c7812/test-blob-61dc9790-2056-0cf2-404d-af25447d92fa?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C230CAC306B\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "3b0nElQ7twy6Q0qj+dp8iz0HZlF4RojGRdrNGW8MzSyijNvXSOUbj+PWd0b+xhReQNq5jMtlo5c0Yc16bZ2drnUeAG3+pUJX7NZuos5CyH/FbtmUUkFgPOhEoucYoSJFOcnQ38WmYJqXYp/09wHI8phOtP7ECFszvcOFuQJbP0u0KGkFcei5Hg4//PCha0XnfLBOyuwjgTBtnSEBIaeXPCJUQM+Xw4CvlJXwhQtqklF+nT1SDHRekKY4l9TGt/1mp8DNTSt1T7gvnjVWM/wkAwrPg4NqRDCu9a8oXiys6d2Yid1LnEUmCE2EI20+CF2qFJPJ9zN5/GKQH1d7TfCMg7VYvake2WbFqXo15iHCcO1RfUqY4vGpH417un3tqrtc96C35kq0jDosBE25QxZBza9qKc+m9KD[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a8a4bee2-a2fd-1293-fc36-7731ed5c7812/test-blob-61dc9790-2056-0cf2-404d-af25447d92fa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "7PGXqMmyu0Hywx2hKW/1mg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C230CB48B7F\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a8a4bee2-a2fd-1293-fc36-7731ed5c7812?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1917028124",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
