{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f47d2348-9c74-ec31-5edf-95278a8a6a84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EBDFB6631\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f47d2348-9c74-ec31-5edf-95278a8a6a84/test-blob-05c7e3d5-b897-4e4d-230b-8c96361b2d24",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EBE0C4DCF\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f47d2348-9c74-ec31-5edf-95278a8a6a84/test-blob-05c7e3d5-b897-4e4d-230b-8c96361b2d24",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EBE0C4DCF\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f47d2348-9c74-ec31-5edf-95278a8a6a84/test-blob-05c7e3d5-b897-4e4d-230b-8c96361b2d24?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EBE0C4DCF\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "dG3TanTruX1\u002BlB1XJUdiDmB\u002BrzoL2ACtmQsTUPoZ\u002BE9FaHQcexWijJYAE/BiV/bWbsEqctecApttJtBp12iCZJvNEbzTRZJK3CKkC8QPS0EUPeI47oZ3qGXYr1VFObQtfa9UlEU6Aygu4Ja1\u002BPfWXdqOVJqGSnYVVmlW\u002BpY9BaNtdo0Vurf82jm5CQ3wwrBuAlF7tuQapzM4Pz3c4wmS8dvyR4JqwaIjknpgzUBoJZO46PhEwU6\u002BU85Z3Ht5H/YwJhcy/XsuA0CuVyRqutrz0BmqJPsQTjCNNPOzEeQmqXODL6YoNSgYiuW3lWkqVJn0Zgxiz/v7H9jnpciHe/Fch66x5oozyprxkZkVWbjGY\u002BBavqvYxNp4hw/OQZBf[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f47d2348-9c74-ec31-5edf-95278a8a6a84/test-blob-05c7e3d5-b897-4e4d-230b-8c96361b2d24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EBE29C0CC\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "3QdgCb6vJ5I=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "dG3TanTruX1\u002BlB1XJUdiDmB\u002BrzoL2ACtmQsTUPoZ\u002BE9FaHQcexWijJYAE/BiV/bWbsEqctecApttJtBp12iCZJvNEbzTRZJK3CKkC8QPS0EUPeI47oZ3qGXYr1VFObQtfa9UlEU6Aygu4Ja1\u002BPfWXdqOVJqGSnYVVmlW\u002BpY9BaNtdo0Vurf82jm5CQ3wwrBuAlF7tuQapzM[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f47d2348-9c74-ec31-5edf-95278a8a6a84?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "226467645",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
