{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-13c838e8-b2c8-7803-a44c-9b38f850e303?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D481F95C\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-13c838e8-b2c8-7803-a44c-9b38f850e303/test-blob-4f492f5c-c7ca-2e06-da00-21fd7483dcb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6D48C0C58\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-13c838e8-b2c8-7803-a44c-9b38f850e303/test-blob-4f492f5c-c7ca-2e06-da00-21fd7483dcb1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D48C0C58\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-13c838e8-b2c8-7803-a44c-9b38f850e303/test-blob-4f492f5c-c7ca-2e06-da00-21fd7483dcb1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6D48C0C58\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Vlh7QOHR9MCw0V+3oLXgLwzTLnLo8vD7O3qZCqSZy+iI7vc/+gDmOJKnQEEvSmus6lTiV5wWOmRofwVmN+kbFwZ2L7K9oDQM7PbfQbGvzPAP7R9Qt3NMcbOS13r6fwGoiyk7uBu47kkf1mulNvmzuLMUV0nJy1+SKb3/Ksm6EWz1NraHdBPVVv7WMeEIpju63x7H5ii338DJqI5duMSAZcT+sP9CK0SfPgBL85l+ioKCRUuq8ipEPVf2vsuFeJ06VcwcCfY7d7PZKKcobOwmSh4L23N41XKaunKoTG15GsZiEJ3NYoCMRs2X0cqDG9Frz3OteZ0qwYBZgk+DkypGYA3hxltOWeidf5Wl4ASoF5+gPX35zKEpN04dc+AxCLKiUXG8oVV2HHWKD/oHhOB8sWqw4latTJR[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-13c838e8-b2c8-7803-a44c-9b38f850e303/test-blob-4f492f5c-c7ca-2e06-da00-21fd7483dcb1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6D49991B2\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABWWHtA4dH0wLDRX7egteAvDNMucujy8Ps7epkKpJnL6Iju9z/6AOY4kqdAQS9Ka6zqVOJXnBY6ZGh/BWY36RsXBnYvsr2gNAzs9t9Bsa/M8A/tH1C3c0xxs5LXevp/AaiLKTu4G7juSR/Wa6U2+bO4sxRXScnLX5Ipvf8qyboRbPU2tod0E9VW/tYx4QimO7rfHsfmKLffwMmojl24xIBlxP6w/0IrRJ8+AEvzmX6KgoJFS6ryKkQ9V/a+y4V4nTpVzBwJ9jt3s9kopyhs7CZKHgvbc3jVcpq6cqhMbXkaxmIQnc1igIxGzZfRyoMb0WvPc615nSrBgFmCT4OTKkZgDeHGW05Z6J1/laXgBKgXn6A9ffnMoSk3Th1z4DEIsqJRcbyhVX[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-13c838e8-b2c8-7803-a44c-9b38f850e303?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "289294818",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
