{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ef3bf892-7d31-70ee-4a22-a30f5409cf3b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E7E9A7AA9\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ef3bf892-7d31-70ee-4a22-a30f5409cf3b/test-blob-271ad750-f6ea-4d91-7934-e176de13279c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "SFu7ZQEi2pfDkfp5wjfvu7IBMr3DPtrLkK7Hy5ClXr9YoW4l0wuguryuzc8QR6Ovb6/dSQOiVQqB79VTWw8HHjM7ISHJyeenYXcBFXALukgKGFvhxxS7tUtjpOM2TF\u002Bsp66c1SWC5qbHNuiLoUCZdjSMSEK0JVYef2zVZSQDcBQYVW7CbuUjiDK0GZErLxQLyi6vqQMc94FXfVa5rICBxMXTc0zR1wdPacAQAAzF8k9Xypv2VMcR/F3tavGPadyxMlXMWLzIOfInX0BDDPd0kooGYeHli2/\u002Bwnbu420WwP/kXs23\u002BZqSj5CozvWGze9meNdmiAj6zKflzZVF2lWFEZ5BX64pv[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ef3bf892-7d31-70ee-4a22-a30f5409cf3b/test-blob-271ad750-f6ea-4d91-7934-e176de13279c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "\u002B\u002B3p9Hw7HylESP2ckQDkkQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E7EA8F05D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:10 GMT",
        "x-ms-blob-content-md5": "\u002B\u002B3p9Hw7HylESP2ckQDkkQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "SFu7ZQEi2pfDkfp5wjfvu7IBMr3DPtrLkK7Hy5ClXr9YoW4l0wuguryuzc8QR6Ovb6/dSQOiVQqB79VTWw8HHjM7ISHJyeenYXcBFXALukgKGFvhxxS7tUtjpOM2TF\u002Bsp66c1SWC5qbHNuiLoUCZdjSMSEK0JVYef2zVZSQDcBQYVW7CbuUjiDK0GZErLxQLyi6vqQMc94FXfVa5rICBxMXTc0zR1wdPacAQAAzF8k9Xypv2VMcR/F3tavGPadyxMlXMWLzIOfInX0BDDPd0kooGYeHli2/\u002Bwnbu420WwP/kXs23\u002BZqSj5CozvWGze9meNdmiAj6zKflzZVF2lWFEZ5BX64pvZnwc9JRPLx6d/SHh2uVsDf26ZEm0SsETbU6I71WRG5BPLs\u002BdRU2qJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ef3bf892-7d31-70ee-4a22-a30f5409cf3b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1198743863",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
