{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-623f07e2-7a9c-8855-25df-451f8d587ec4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EBE59B2BC\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-623f07e2-7a9c-8855-25df-451f8d587ec4/test-blob-a5215250-ba81-87bc-aaca-5569df89f2ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "YL9EMic0DdsYe8Pt9ddKPnt46nte8RX1jk5Pt\u002BwlaJm/Ihx/ojKm/wQedDNx/6Yzu9xO4xtzBG\u002BpTqPY5FXv8xIpLtO7y5tJ0et2P33ihI\u002BoHPwP14V\u002BSx2t1VOOzRqvL4EgR9DTePBABREw/MTxxsoUL8hZ3xyNq\u002BO1DfVIugTQxxD8wjy\u002B1aMLztFzTk5Zuw6JeZ1RVU9lkpztHWr6\u002BEoNYDW09QSNVVolTRFKGV2UW1LmvkFmfnLAly\u002Bf0bc5ENWHZu0ZpcUK\u002ByRDLAc\u002BGnk/WMIYFDkJpuHC817V7oSi7D07wrNve7aM28[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-623f07e2-7a9c-8855-25df-451f8d587ec4/test-blob-a5215250-ba81-87bc-aaca-5569df89f2ea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EBE682963\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:57 GMT",
        "x-ms-blob-content-md5": "313eVuU8lCm13w8EHMgzyg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Jb1iryKMQZk=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "YL9EMic0DdsYe8Pt9ddKPnt46nte8RX1jk5Pt\u002BwlaJm/Ihx/ojKm/wQedDNx/6Yzu9xO4xtzBG\u002BpTqPY5FXv8xIpLtO7y5tJ0et2P33ihI\u002BoHPwP14V\u002BSx2t1VOOzRqvL4EgR9DTePBABREw/MTxxsoUL8hZ3xyNq\u002BO1DfVIugTQxxD8wjy\u002B1aMLztFzTk5Zuw6JeZ1RVU9lkpztHWr6\u002BEoNYDW09QSNVVolTRFKGV2UW1LmvkFmfnLAly\u002Bf0bc5ENWHZu0ZpcUK\u002ByRDLAc\u002BGnk/WMIYFDkJpuHC817V7oSi7D07wrNve7aM28McI1Fqgny2YHj1IPycfb8LVrJnNQ2foUDKA1jF0N0Lizh27IOQWHDiHo0L[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-623f07e2-7a9c-8855-25df-451f8d587ec4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "406915563",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
