{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b99bd679-2a13-cd3b-b2e2-f8fa0b35c60b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:52:03 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF16F0929D\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:52:02 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b99bd679-2a13-cd3b-b2e2-f8fa0b35c60b/test-blob-abceb5d1-4b58-2637-d832-ad1618d2dd67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Aug 2024 16:52:03 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "BUAqItGvSct/HPoEeVu6yKSjCvKr0y023x1mODKI4Z20VPTLCqM5YLhZ/w5I8gT3IS8PSAo7+TIS80OzSBCZ9jpcUCVn7r0Aaak6UdQf7uwZbhcDeZmTeFvCuBdghRenwAnT66HfkDJxD99gAadd8wRWmtr5lXyhydjKpTamn+SSkpDKSwNLOt7lkWq6M3azZMQSCus9riqMMSLJFev7ym/7zm8Xk6gBC1/7FAQS55ZhFkBylJX4VONlPhnhgSXy6cb6v2QHm9AcEP6LQZomekmMaP6qiTbaAnmLsVWOIIk6CCo9FygxWXpwVYOWbRJJP8PQVRknSF+QILzrfOp7jvB0UDhv6GIhWg6DOjOyQ5Rm[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b99bd679-2a13-cd3b-b2e2-f8fa0b35c60b/test-blob-abceb5d1-4b58-2637-d832-ad1618d2dd67",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:52:03 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedHeader</Code><Message>One of the HTTP headers specified in the request is not supported.\n",
        "RequestId:558169e2-801e-0007-06d7-ecb681000000\n",
        "Time:2024-08-12T16:52:02.6272822Z</Message><HeaderName>x-ms-structured-body</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b99bd679-2a13-cd3b-b2e2-f8fa0b35c60b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:52:03 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1747308821",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
