{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4c423055-7888-23aa-0633-9d3777f7eab1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4DC56DD69497\u0022",
        "Last-Modified": "Tue, 26 Mar 2024 18:49:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4c423055-7888-23aa-0633-9d3777f7eab1/test-blob-81772183-5305-d041-61b2-50fbe4078c38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "BXrrmoq9kafcrHFj\u002BxkaVJ\u002Bt0w7Ius2rykvDKD0FmzOg\u002BTL9DFAmD2nMO\u002BE4AvpwReYF2f6D20usQM8/\u002BWlp1xA9wgLnHUdPhsSk\u002B37rcsdRU\u002BNX/8E1HR3mUMuA5xUAYmTQ\u002Bz/3iCeetlI63uDMwM4I7aaGEtdPCKXkAMx7zp\u002BvpJgZGneIWcq7uElu\u002Bz49GpD9ePpvelCNgfKaE4hbI\u002BezijpHsqVWgJPby1qO4A1mp\u002BY8fValQCpIjJiE7UZCX5Vhu3AE9Wfqp/hmk6/1/qHlM2uiH6WRDkoP/yYM0pJNmWvF[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4c423055-7888-23aa-0633-9d3777f7eab1/test-blob-81772183-5305-d041-61b2-50fbe4078c38",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:12 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EUnsupportedHeader\u003C/Code\u003E\u003CMessage\u003EOne of the HTTP headers specified in the request is not supported.\n",
        "RequestId:040b53ae-701e-0001-6aae-7ff7b0000000\n",
        "Time:2024-03-26T18:49:12.8343142Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-structured-body\u003C/HeaderName\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4c423055-7888-23aa-0633-9d3777f7eab1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "644434529",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
