{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18555765-191b-0f4f-0a3f-63ee00c810e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:52:00 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF156DE988\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:59 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18555765-191b-0f4f-0a3f-63ee00c810e4/test-blob-1d099a88-b2c5-d303-32c3-430caf5ce097",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Aug 2024 16:52:00 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "OGNECyPiqin2SQTzYoe1vLfHd5w5t5st887f56PC+3tTL7WchATAPb8eVrk0cCSyfrnUTBhO+oDIFxhUA8KGM06JnzLRGTizBjndG2Dh+IKpLGjp7q9iBTQ01G3rbDr8mCNrq9Dy4GWBIEbecd4f5h6Wq9ZanESeJpr9nUTKyJr+4YM9dk2xt0wCZ81og5NVFO1PVcBkofvezIQ29EMgt1ir4I9b4nDQ5POJVzR3NaIGp4hXe3PZmj+HX6nJe8IJ4rB0vaME+jJ9fnDM2krHZpbhL0y7yTvl0kVP1IPHB2kxgHWEAnj/Aq1V2v0CDMD1wPgS50x2Thh0j+petCavtXYHm1nUQ2Qd4iyfZe8+4sWE[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18555765-191b-0f4f-0a3f-63ee00c810e4/test-blob-1d099a88-b2c5-d303-32c3-430caf5ce097",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:52:00 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedHeader</Code><Message>One of the HTTP headers specified in the request is not supported.\n",
        "RequestId:558169bd-801e-0007-6ad7-ecb681000000\n",
        "Time:2024-08-12T16:52:00.1012682Z</Message><HeaderName>x-ms-structured-body</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18555765-191b-0f4f-0a3f-63ee00c810e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:52:00 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "124493058",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
