{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aa7fd348-f097-f65a-d969-10707a4cd156?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:58 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F0255BC6B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:00 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aa7fd348-f097-f65a-d969-10707a4cd156/test-blob-cce823d2-7635-62c1-8c86-8a59513c3f47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:58 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "3QRnddNNRj9SRtfvH+ZbjY5C0Wuc8Zj6arPuMmNWlANJvpN25VuD1jlymlB2eavVCf51HgS0tetrbAsfXhTb+7HTpmFT5agzvvsyKVZIg/AIGShl4HX/lQinCnhPZHckl56eotNKgiNWQmAIgYuVIugbF0Trdhs71BFYq9sv41qDDpG3qeEdvZYFD54V9xN9EeiPNE0zOSGDY87B8dZIJl4GhHP53XkH/lmu5mZ8Jd3925rzoK8MUNRwM0YSW8u/vOk/D3KggzRuiDX0hFO6Bj3wwxY8VYWu+TOeiaoy9KKN7il9PBZrXFhmhBh5GMuBtSwJIZe1g2djkRU+AvmKO5OTZpYqPconhWe+1tFtNOFo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aa7fd348-f097-f65a-d969-10707a4cd156/test-blob-cce823d2-7635-62c1-8c86-8a59513c3f47",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:58 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedHeader</Code><Message>One of the HTTP headers specified in the request is not supported.\n",
        "RequestId:36a8fafa-901e-0058-3f57-6578eb000000\n",
        "Time:2025-12-04T19:55:00.7611998Z</Message><HeaderName>x-ms-structured-body</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aa7fd348-f097-f65a-d969-10707a4cd156?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:58 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1507689950",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
