{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f1ad3af1-77be-533b-093b-c4fc01d897bf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:03:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86853B56852D\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:03:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f1ad3af1-77be-533b-093b-c4fc01d897bf/test-blob-cbefdccc-b3b4-bbb6-a629-e3a9da0aaae2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:03:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86853B65F7AF\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:03:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f1ad3af1-77be-533b-093b-c4fc01d897bf/test-blob-cbefdccc-b3b4-bbb6-a629-e3a9da0aaae2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:03:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86853B65F7AF\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:03:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:03:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f1ad3af1-77be-533b-093b-c4fc01d897bf/test-blob-cbefdccc-b3b4-bbb6-a629-e3a9da0aaae2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "q48RBHL36mES8xWQBeP6Iw==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86853B65F7AF\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:03:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "04uE95jP79+fOC9Yt7d7gysl+VFexpbCLP8/IBhltlIXvrFNAhgGM8GaMe8+Co6wpHYKl3X9owv0wcuYkM7HOYHdQfkGLoETH8aPxJSnhCFwjnyhWx/dGhulWEBMbaLz0vdtYcmVqnb19neubd53TTyqKAJSJt5i/ybdYNVAxrIjnPGcOSJX2+QFq2WnLqw8LgsDokWgoawZC2Git0mgtS/Fi9Dt2hMaUkwdTHp5u9B6oTLKPCRtg/tEgy7AtSObZfY14qPbTlP36VD4glQxoE+RKBUW1XkLWAjVqFfkWZ0pguaERNktnlLf01LTdQCmE+PeL40NhI99KYmbBqX7EpCzzv9urVx2Y4nDNwImOOIHLpV0BikQG/1WBxpPkpis48DBIKYAOGaHZ8wDSk2NVvGnk9gQhwx[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f1ad3af1-77be-533b-093b-c4fc01d897bf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:03:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1760667644",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
