{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a65fbbee-0235-28d0-d403-24c67d49a11f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444ED46E4C32\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a65fbbee-0235-28d0-d403-24c67d49a11f/test-blob-d6a2f935-367a-867d-4865-ffee9c0640aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444ED47E97CB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a65fbbee-0235-28d0-d403-24c67d49a11f/test-blob-d6a2f935-367a-867d-4865-ffee9c0640aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444ED47E97CB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a65fbbee-0235-28d0-d403-24c67d49a11f/test-blob-d6a2f935-367a-867d-4865-ffee9c0640aa?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Ct\u002BjzORmeU/FZqGUg/\u002BWYQ==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444ED47E97CB\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jAJlQ/U5HD6xCr4/TrXjctkp799vnlQAxx9qmq4vu1Ka8Y9C/OYFnYGbUb/Hm4iSTY8BcKZ7Ue2tZHvWz4GPgU9rpF0loHXzI1Je1E2VOSuW2E0fLkusHp\u002BhlZdqL83/C89wXPYrbKwZDUxUHX2gGCtPP/YzcFMDv4a9hAveifOEX8l9JN01a2uhBSD/VwEiAX1sGu/WzJt7bJxwbeigO4NY0L60I/NOGtSLkWozBGeEm4ONcW8ErZItAbhAxP2CAMqdpoZDbt6KHv8bSzoxSGc069JlE8kUVCMrhiE6DVbWCJGflV7gQS2lA1Nv6GFY/LhQDNkqHe0BiFFjGOe8TxCpRUKpkbIJU6qlwA91pGzB0opo6gF8q\u002Bqjng0MfSlF6LNCxqIer2oFRrgvhV3di[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a65fbbee-0235-28d0-d403-24c67d49a11f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "30707423",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
