{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-09741365-8537-bae7-a541-f93785961050?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D675473BC0\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-09741365-8537-bae7-a541-f93785961050/test-blob-149c2218-b5f1-ffab-8572-cc9ae930ce3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:01 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D67552263B\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-09741365-8537-bae7-a541-f93785961050/test-blob-149c2218-b5f1-ffab-8572-cc9ae930ce3c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:01 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D67552263B\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-09741365-8537-bae7-a541-f93785961050/test-blob-149c2218-b5f1-ffab-8572-cc9ae930ce3c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D67552263B\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADrtQF725n45NjcyiPlfVapcxjAWP//X9W/awERBiUO4txGfq/7UgXeNLI4E3gYmelK0aFxm99a7FUrvG+X596zzudGnv+nriAT4iRMxktdptIYxjSDnEb965FZz5WVRkzThUWR0vrpoiOBXrm6DSUJzRadfyCqLzGgSLNtTd6KfZvXeUEFzNTXLiQRAj6MQ91sUAJ/98YsKVUU8IlHe1RF9uAe4pTjAwFCxlH8mC3yEwXVAf3bC4bVq1Ds8NtKj7LPzAxebmBJiEwBPTF1MJAoIt2EcnpWaetaSTZE9xIl+DaeLMwhlKWki3iw2s1UX3u/xM7+xR04eWMgBCUqBZE53EX71gPEBo444OYCpY4dBem7hTNEJjIZZrNpAI9/eobmdv6HWYl3+r1AxuU2NtPUA/47bn9e9bUS4XBQWwb+uGVfGy6QlqxgQ4p1A2BN4jDflf2RRAsGiIFJdHcZJ5+3QQ1/1xqkQ21S2yv16PJUxf9AcMYIbXRaWJOtRyE1RhzqvsJSzgsVO1GQP2jfEZ+O9K932bbZrtOZJH6H9vtLHJQPCiovAfbzKjV0eC4LekfzHlJxvW1mERDuuKmMjkRVRCLT0AZ1X/O4g66AZTWljqk3k9ep2V8mqfkZQUhMZpzwHjQMN6pAfb9fuTm/5azaSCoAVfptrGrDrCYMWx2qa0y9pQaVQ6F5TL2lBpVDoXk=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6755EC255\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "TL2lBpVDoXk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-09741365-8537-bae7-a541-f93785961050?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:01 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2087163475",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
