{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c09bba22-becb-bf3a-22cc-eb8a0dda57e2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2310690B8D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c09bba22-becb-bf3a-22cc-eb8a0dda57e2/test-blob-13018309-b849-781c-7ba2-9e532bf46485",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C23106E9D4E\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:07.2262478Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c09bba22-becb-bf3a-22cc-eb8a0dda57e2/test-blob-13018309-b849-781c-7ba2-9e532bf46485",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C23106E9D4E\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:07.2262478Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c09bba22-becb-bf3a-22cc-eb8a0dda57e2/test-blob-13018309-b849-781c-7ba2-9e532bf46485?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GCveA2sPMc+Sqnr3jyprkA==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C23106E9D4E\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "bxmE3Wy4JqddBbd8qoaR9Y/syFDDXEU7UuMk/pBfn72vjUQUqF+RCZZwnZfL+IyDcPVuCYNOwxLUSIuJkycX/mX5zB1CfEwvWr66Ur6tcFlXoY6a8JY6YMkxP2DUCHVuWJ8x0SxvQfOpPq7ElHBUJtcxMfKZfQ3Pv2tTED3sW1JITPoffJ8t6F+b8bLndcxZ3RiIo9aD1NuSYhG/HDC2veNcfEh2Nao4A0mS/otb6Eqf+jMkY7h7xXcejBqNbcwv5DTOivmE4qhtT5+M8NZPN3nHICH9kVkr4bbQV6iQq5Z9YxlXjF1RGxeKthMY7tWgzlWgxU2qMlPao6lCs4oA3aQID42896ocdgQKcttFEvLhL4hT8OVI0zDGfem0D2eMitlvEN9I49eqhE9In793lZC2YIMBrey[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c09bba22-becb-bf3a-22cc-eb8a0dda57e2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "764971634",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
