{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-afc6f316-3754-7a17-73ed-1d4e2a7a8893?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDC51CB8AC\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-afc6f316-3754-7a17-73ed-1d4e2a7a8893/test-blob-e06b2598-4503-085d-fa73-e9d058b028ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDC52C1281\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-afc6f316-3754-7a17-73ed-1d4e2a7a8893/test-blob-e06b2598-4503-085d-fa73-e9d058b028ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDC52C1281\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-afc6f316-3754-7a17-73ed-1d4e2a7a8893/test-blob-e06b2598-4503-085d-fa73-e9d058b028ca?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "mcuuM74au+M11B1EKMYDTA==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDC52C1281\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "+2voPmZtb5H6i/VnaLcI5moNcOsq7XPPMAacEU7FAzO+8WMHpESpcM+/oJRsEFbCdlDIKhVDsw73GQ5f0V5DNYfBqHdUAUImZAAba03eYx+w2Zv9/dkeej1VD4s2SZ5xfGsNqmjfbXQOocYUJ0jBGbXurvfDRTeuoy05//G38Bphqu/i0bi30Wwm7lsSCVL1lPbVR5unrjYzXgY6pW6DV7Gss3xZ3kj9Nt2LnFfcnJraQ2r74ah+uvy4rnOxfSv9opeqZlbVnLWu2BG+HBHfVsJsX2IEiHUILfmAoDDUS7ixjvq/MTVDBKe1TAmWwJ7r2VixRB7J+RoiojldVfyF2YxYDI0XHyWMKFq6TjtscWxalMbXIwaa55TfnY/75q6qL3N8PrMQ1LoyJBvDDqretjDNAsE1rbW[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-afc6f316-3754-7a17-73ed-1d4e2a7a8893?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "840242039",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
