{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78f7a552-468e-b42a-5041-45112e9b5458?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF950231EA4\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78f7a552-468e-b42a-5041-45112e9b5458/test-blob-4264d77e-2cf8-9bb3-999b-4bb040df9639",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF95033C7B7\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78f7a552-468e-b42a-5041-45112e9b5458/test-blob-4264d77e-2cf8-9bb3-999b-4bb040df9639",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF95033C7B7\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78f7a552-468e-b42a-5041-45112e9b5458/test-blob-4264d77e-2cf8-9bb3-999b-4bb040df9639?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF95033C7B7\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "0d5SVVdT/aJQbxvNS5Hj/LehK6DRUccs9hwLSRNMQK4eDsfxATRNkpAmsiFKTMxZN6BQpoQAG4AXJV86R7SOAy5srzzJ8vqCU5gPqp6l4qlQshFy\u002B5kpHfNH2tzVEkrcl6/y3Z2Pj0SmzlPs8XDhcUO16pWiHAeVQpFJgRgerUBNMxPvsgQMwCLNzC1FPSyCZmiYHye1OnuoXZsMRg0siCATnr1d8r4\u002BqSpy1U/ZTwRkxhuvhY4YmPiXR1VpAHkUoEMNMp9vJXOpWnb9QmUrzg2WqIDyfAKS\u002BgXFxato1KiwXTQLzB1l9KGnBSoXGlWSa3lI01j5IiNBejeZqV/IQYbNTOQxHwHwMLPfSnfXet\u002BwMloyIABQtzsQylHlzEtB38SkSs5xYUx[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78f7a552-468e-b42a-5041-45112e9b5458/test-blob-4264d77e-2cf8-9bb3-999b-4bb040df9639",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF9504EC9B2\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:35 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF9504EC9B2\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADR3lJVV1P9olBvG81LkeP8t6EroNFRxyz2HAtJE0xArh4Ox/EBNE2SkCayIUpMzFk3oFCmhAAbgBclXzpHtI4DLmyvPMny\u002BoJTmA\u002BqnqXiqVCyEXL7mSkd80fa3NUSStyXr/LdnY\u002BPRKbOU\u002BzxcOFxQ7XqlaIcB5VCkUmBGB6tQE0zE\u002B\u002ByBAzAIs3MLUU9LIJmaJgfJ7U6e6hdmwxGDSyIIBOevV3yvj6pKnLVT9lPBGTGG6\u002BFjhiY\u002BJdHVWkAeRSgQw0yn28lc6ladv1CZSvODZaogPJ8ApL6BcXFq2jUqLBdNAvMHWX0oacFKhcaVZJreUjTWPkiI0F6N5mpX8hBhs1M5DEfAfAws99Kd9d637AyWjIgAFC3OxDKUeXMS0HfxKRKznFhTHdXo6Ua2KxpAFfpdwWWIIV9lakgVK8KZGedarIzMBE\u002B0A66yF2rnWJkYVGN4tM8SKQfzTnIQffHTT49fG36NtBGqqb23Fco0fdGu/NefYGUYCIOE2LYdo4X8nsebiD0aSuARzcsRWxM9/tBgYUDadC8qRtL7CJtbjQY3\u002BncCWPXUVHI3TZKZxu2wRxnlvUJE4mrYcQEqX0IE9gDFGWCcO6XaS8zO4uackEAlSsGBtc/DsxfMaee0qjUv8pdRlK1M1AuzyzF1dj\u002BEO\u002BDBBRSAgwAxAaZIz9G\u002BMjofhqLPv7/yOh\u002BGos\u002B/v8="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78f7a552-468e-b42a-5041-45112e9b5458?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2047525660",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
