{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-360fa0ae-21b8-ef0c-be0c-fbd39db5af84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F625C37C746\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-360fa0ae-21b8-ef0c-be0c-fbd39db5af84/test-blob-ecf5db05-da32-6b49-ab12-d869f7f1b04c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F625C483FAB\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-360fa0ae-21b8-ef0c-be0c-fbd39db5af84/test-blob-ecf5db05-da32-6b49-ab12-d869f7f1b04c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F625C483FAB\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 15:26:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-360fa0ae-21b8-ef0c-be0c-fbd39db5af84/test-blob-ecf5db05-da32-6b49-ab12-d869f7f1b04c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F625C483FAB\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADKTcn7Vb9u/T1WcIqD7WlFLnwb1Fc6GkMjlFqLNWskJER2VTew4in4WmA3FDz\u002BJjyLNsgYhhTPjzOF2MBl4sfRMUxGDZcxlExSI3n3AwcHJG0eAP\u002BiDJ0vpsUEKgppkniYZeLwuBmkWqF8xWOb14wtfrNSR\u002BLILySuF2fSLWpC6JABX54jFmxUeaZdJkc6lM4516xXFkuWzza9QqGy0i03OtzSmXjtCWhG/c08awjddIKYmFW\u002B6tJEa49oZdTLoqd5JutqaPpWS81DEBh\u002BWWQt4M0eGTnXeU8KjS7ohKOUe1olw0UdcwyHQU2Ietq5xhErO4UGrIluoaycX9rMbcYpr5W\u002BWJYeEG3Bl9fsTv51U[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-360fa0ae-21b8-ef0c-be0c-fbd39db5af84?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1485635652",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
