{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d384394d-4047-ebf4-24fd-f313602f61b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDA0AD21F0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d384394d-4047-ebf4-24fd-f313602f61b5/test-blob-52237704-794d-bfe7-0e46-7abb8378a58c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDA0BB4CF0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d384394d-4047-ebf4-24fd-f313602f61b5/test-blob-52237704-794d-bfe7-0e46-7abb8378a58c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDA0BB4CF0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:12:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d384394d-4047-ebf4-24fd-f313602f61b5/test-blob-52237704-794d-bfe7-0e46-7abb8378a58c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDA0BB4CF0\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAABxExiry4qhc8T5vUXxDi1tQ0zddCNf/QN3iFh7h+7RaBiLu4i5Taxv9kEIrimHKxJJJSnczv1dEVXVNENyZawV6FUtZVJk9DXgbX3iF48Z8F0F8qLFNFlbbqpy5BlpPZCVMoWUWcXAJDDz/KG/evoG+wPmLHMJEPP70jan8hActy+tDSSJRVZXRc5yETe3m/OwbCjVQxFdi+GR2IfPGHIg10Wx0i3VfXXtjqaklz/8RDYDN0YnB3PeT4EC96zOiG2cUTmyBcmF2y6zJ/Rq+PTh1VRRi+Dr+ZARk0KskkXJHsZ4yEXGCj4sfRxXtB+/s5aMYSIYfTxMsFepoLKHGUioqgjuMfCu24tWZQ7ElEWwUh+r4DFj8KGJ7FfuXKmLpWPTrsoWkU[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d384394d-4047-ebf4-24fd-f313602f61b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "640129257",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
