{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-197705fb-5dd0-3169-5f55-aff72f0adeaf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E84B71C12\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-197705fb-5dd0-3169-5f55-aff72f0adeaf/test-blob-143f5268-957b-39df-860b-57c2bae8c91b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E84C73F85\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-197705fb-5dd0-3169-5f55-aff72f0adeaf/test-blob-143f5268-957b-39df-860b-57c2bae8c91b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E84C73F85\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-197705fb-5dd0-3169-5f55-aff72f0adeaf/test-blob-143f5268-957b-39df-860b-57c2bae8c91b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444E84C73F85\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "aOMybgLGjreJ7u/L3UQKWJ6LLPStTx0rybOPgJc7fzE\u002BarxD1UchBKylBqJgmqri7FSifcvSaBnFBqRONw0fTW69jXKIx4JWaidIB0h7yi8JrJNDmAJlawGjfc\u002Bj0s2ehrgzogw3WiXRTBOkiWHQSjt1RYp627VsVyJx5Umzs5daqoGQRygi0lJtcUzvweKf0jKTLY1DJKoDx0rqxXTbHph7Sd/gPwMTU3I3DGlofJU/0RIXIIYKFobWjX/dNwzeklOzdHgCv5Mvf9kaDBdBmku0qvNixP4ScTJYCbKDNRxlWXoWtQcdPBJ/6KCs7wpulfM0KIwZe81VoANFqrXhq0q9tLKdKuRDl27h49xeZoEn6nS\u002BTgyPTN2swBQE2JJcnTxV7jpX0GoO8JEe[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-197705fb-5dd0-3169-5f55-aff72f0adeaf/test-blob-143f5268-957b-39df-860b-57c2bae8c91b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E84E28FB6\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E84E28FB6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "oJahzgkw5cA=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "aOMybgLGjreJ7u/L3UQKWJ6LLPStTx0rybOPgJc7fzE\u002BarxD1UchBKylBqJgmqri7FSifcvSaBnFBqRONw0fTW69jXKIx4JWaidIB0h7yi8JrJNDmAJlawGjfc\u002Bj0s2ehrgzogw3WiXRTBOkiWHQSjt1RYp627VsVyJx5Umzs5daqoGQRygi0lJtcUzvweKf0jKTLY1DJKoDx0rqxXTbHph7Sd[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-197705fb-5dd0-3169-5f55-aff72f0adeaf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1993569859",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
