{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3f3a571e-eea9-9d38-ea95-a971f9b46ed6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E7F9EF22C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3f3a571e-eea9-9d38-ea95-a971f9b46ed6/test-blob-b2cf3f8b-4ff3-523e-ee4d-024df273a6d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E7FAE7942\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3f3a571e-eea9-9d38-ea95-a971f9b46ed6/test-blob-b2cf3f8b-4ff3-523e-ee4d-024df273a6d5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E7FAE7942\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3f3a571e-eea9-9d38-ea95-a971f9b46ed6/test-blob-b2cf3f8b-4ff3-523e-ee4d-024df273a6d5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444E7FAE7942\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "o59Dpx7f2zoi8rgY57O\u002BxfQP8B/3aAQEI7vd3bWPzahWIeFA4vh8of6C49/UK6KIY2mxa\u002B0b7zuaPoRiAv6FkiQPwcbSfeL8kk8hdIQlMPgZVHlM3mK7OjKmpqR0GZ///VG6xWnctuaGtdie\u002Bnq2dA2MSa2FObTBVIeTK9c\u002BiHmvIXcya2uOPJ6TxSmKHEC37zKW59DyesSd\u002BXDiSIoOSC1f7tkChAmi/QwO8XOLNzdG3DulqKCovaazlXH6rPQThH37Ki5ntGso8\u002BrE44hQEsE5m2xPaZ\u002BNtjAyT\u002B6Xp1AX\u002Bm32jwwJ3yfPfLS15NoeY4OwwBGIxBrdbnP9NGV8kUuarOgbWoO0MLtFf\u002B3q19JWE[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3f3a571e-eea9-9d38-ea95-a971f9b46ed6/test-blob-b2cf3f8b-4ff3-523e-ee4d-024df273a6d5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E7FC95426\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E7FC95426\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "o59Dpx7f2zoi8rgY57O\u002BxfQP8B/3aAQEI7vd3bWPzahWIeFA4vh8of6C49/UK6KIY2mxa\u002B0b7zuaPoRiAv6FkiQPwcbSfeL8kk8hdIQlMPgZVHlM3mK7OjKmpqR0GZ///VG6xWnctuaGtdie\u002Bnq2dA2MSa2FObTBVIeTK9c\u002BiHmvIXcya2uOPJ6TxSmKHEC37zKW59DyesSd\u002BXDiSIoOSC1f7tkChAmi/QwO8XOLNzdG3DulqKCovaazlXH6rPQThH37Ki5ntGso8\u002BrE44hQEsE5m2xPaZ\u002BNtjAyT\u002B6Xp1AX\u002Bm32jwwJ3yfPfLS15NoeY4OwwBGIxBrdbnP9NGV8kUuarOgbWoO0MLtFf\u002B3q19JWE\u002Bxr5\u002BY/jzZSGCCYC6rBU\u002BtoGzfxAgj/\u002B5BWQ0Ut85ahpyF4EapkWh2yyUFiGyQQgywCgbybZRHja\u002BtW6UvxJCWJ92SJSEFBBMAaPjnHnd9rRb8YK3HaBkEPlaW\u002BDnHRwaQc2STAhjrqwH38gCbYHM4M66OL2PmzrvAierOcgvVOSH2UqsS6q76FLmrz3oUbNnjXsiPORemqaCoznQyHTj6IrTipRHIKUUDkBqmPwNBrB0M6xNDSgAKU6UGZhw2y/eAsazBMcvIGzGDj6T8/G6hZyJbITYlttS01FFowcMoyMQjJYlSfHpRQM/hw75c="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3f3a571e-eea9-9d38-ea95-a971f9b46ed6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1182715183",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
