{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e559f36e-1d1e-4a8e-41f1-b958f65141a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF94FACDDA4\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e559f36e-1d1e-4a8e-41f1-b958f65141a9/test-blob-bfb81613-2d4f-c9e0-1d50-78033ff09dc7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 29 May 2024 16:06:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF94FBCEA12\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e559f36e-1d1e-4a8e-41f1-b958f65141a9/test-blob-bfb81613-2d4f-c9e0-1d50-78033ff09dc7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF94FBCEA12\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e559f36e-1d1e-4a8e-41f1-b958f65141a9/test-blob-bfb81613-2d4f-c9e0-1d50-78033ff09dc7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF94FBCEA12\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "fwFalVrWS2NmJu3bdYr5gfmEmtR7WVv53bIYbWf1Fo5y44RPZWLa6NZygSdXcWPjCiKemM/7SCWmYbiovd38cBBeaZEFqhuXqrL9CNc0oWtPNWNFV32\u002Bd5tfqASpMir5dhEW\u002BQjR3WAGB\u002B4d/kBNcr9MWId5txmSn/L2pQEX7XeIA5HGHahjflcCPk\u002BPoXlbETZFXNmif773hFkW2jdf7hl2lPquhlUW6dowdnjJAv15mpTL0pCe5YPTzphPTKMgo081GQx\u002BrYrhLnP\u002BcghFLoFbnT\u002BjlByJ169227i8xp03D9Mpk\u002Bnx\u002Bu0J6aMdoHJ6jaAW9K9jfA8yrEJdCNLSJGfVx2I1HJuYaqNSmqp5azc8\u002B[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e559f36e-1d1e-4a8e-41f1-b958f65141a9/test-blob-bfb81613-2d4f-c9e0-1d50-78033ff09dc7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF94FD7C511\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF94FD7C511\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAB/AVqVWtZLY2Ym7dt1ivmB\u002BYSa1HtZW/ndshhtZ/UWjnLjhE9lYtro1nKBJ1dxY\u002BMKIp6Yz/tIJaZhuKi93fxwEF5pkQWqG5eqsv0I1zSha081Y0VXfb53m1\u002BoBKkyKvl2ERb5CNHdYAYH7h3\u002BQE1yv0xYh3m3GZKf8valARftd4gDkcYdqGN\u002BVwI\u002BT4\u002BheVsRNkVc2aJ/vveEWRbaN1/uGXaU\u002Bq6GVRbp2jB2eMkC/XmalMvSkJ7lg9POmE9MoyCjTzUZDH6tiuEuc/5yCEUugVudP6OUHInXr3bbuLzGnTcP0ymT6fH67Qnpox2gcnqNoBb0r2N8DzKsQl0I0tIkZ9XHYjUcm5hqo1KaqnlrNzz7TRel0u7Tk8P25qaT8hs2xTtH2BBFcAV\u002BiQsR4mW5QQogDIS6fpXn9M9yJrTx1rE2Y\u002BQ\u002BI18sttwSJ0niwrFdPaWcc\u002BWWe0amX\u002BRA0kpQjLNa2n6Beh2r81anp1dMBTEdFOkPVWLLn\u002BedmMN76\u002BOSwpuVh\u002Bcy3MKH8H\u002BP79TvWVqyIr5hQTdQjzqW4\u002BJaMAdyFeW8tn5K6zcmh2TjO7ATrj5pycgkMYBjRfitnPnfLMB3HdruM6PcZzeHOrnSbVOJgjSk8Gc/TeNlWHGGnE4\u002BR1ukax7WJXuajWGRnfbHkdikIxnEOztZOM/2iNoyVR/OTVNCia/cH85NU0KJr9w="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e559f36e-1d1e-4a8e-41f1-b958f65141a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2107747781",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
