{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4d59ca79-0214-e387-ef36-e8a412fdda84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444ECD1840AD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4d59ca79-0214-e387-ef36-e8a412fdda84/test-blob-dc9e662b-f762-1352-c4f7-a7da082e5c89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444ECD27C8A3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4d59ca79-0214-e387-ef36-e8a412fdda84/test-blob-dc9e662b-f762-1352-c4f7-a7da082e5c89",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444ECD27C8A3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4d59ca79-0214-e387-ef36-e8a412fdda84/test-blob-dc9e662b-f762-1352-c4f7-a7da082e5c89?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444ECD27C8A3\u0022",
        "x-ms-content-crc64": "HFMN1TIEfDc=",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yvFuX9LHPbJhSG6GaXTvA4aPpbi5VL00Lh5LiV77Z35TbEgCflCGNxyRJH3R7DRzXmXmGbuCc3UzOTG0fLNTZeHwMvwr7IU2CG6cKDA/Y0Lp2Cv4FE3C0fnSzkQe0rpoPb6c4Lk3R3HgrxFN5UtF9NbvyqOIW1CULWECWB1AGDazNOpyo4KIspG5GGU7deuujdpuLwcW3\u002BJtB7JYNO5UoJfbmbFg01BTZhgSz0PrWLh2VMpC0egunFQIBJzQMH2iZXfNYNs5TbqKG8jvBA\u002Bega/64eAjEc\u002BvrP1dWM60gjabcGrLHvfcPQYQuLUgP5hEaYPs1k6cflOoHrPe2/Xr1piRVJOl02O3HaTaE1kZjm1lGO5Lx6zn/vEXIwBD/mEQJOEdjuoEn5YgNbiq[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4d59ca79-0214-e387-ef36-e8a412fdda84?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "320164301",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
