{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76fe661d-5c0d-26ea-02a0-f04a2c33d67e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86859E302FB5\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76fe661d-5c0d-26ea-02a0-f04a2c33d67e/test-blob-df41435d-9e15-eb49-92fc-139c2e0e8aad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86859E3CD4D9\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76fe661d-5c0d-26ea-02a0-f04a2c33d67e/test-blob-df41435d-9e15-eb49-92fc-139c2e0e8aad",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86859E3CD4D9\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:06:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76fe661d-5c0d-26ea-02a0-f04a2c33d67e/test-blob-df41435d-9e15-eb49-92fc-139c2e0e8aad?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86859E3CD4D9\"",
        "x-ms-content-crc64": "3zK8CQ7/5mc=",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mv+SsVzyK6asuhnoEhAbSyycw9ftBKtjYGG5QgKYaP09FkEKJMP2kymgJBk3WzOHbyn0PpwORpRUL1D7OeijFFIcqvvOESdppTCtTeCSLAQuMdPYoylgL9CstvVy+1lB/BDGG7E3uF0Ci5lrYfm0wgJMzQcVynApu3srIVsy96rWbFDPyxBT9nl11hiQ9M3X+PPyJS5RKzGfnV81C5YC0JTulPSo5Pbx+daOoPRYmMatVClnP9F7hUAeMC2wHericgWEoWDZLhT9ACxYw4s9RwSZh7dtm5DCcw+zibPIQNvrqy3u1Pdm1CUUaj+lI8G14ekpF5Yzddd1wS5QJaVgNL9RbBddTnINM7ORWDBRHFBN/qfKnylFtzVWeRLJFq+AtDWAVLaqV5J2G+Tjoh2mJKTeAib9lZS[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76fe661d-5c0d-26ea-02a0-f04a2c33d67e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "899284937",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
