{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e221f37e-bb93-d98a-e702-11b99cdc740c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF949F8EC1B\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e221f37e-bb93-d98a-e702-11b99cdc740c/test-blob-6e963887-e9fe-6e65-ce75-c38420b08eac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF94A08F768\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e221f37e-bb93-d98a-e702-11b99cdc740c/test-blob-6e963887-e9fe-6e65-ce75-c38420b08eac",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF94A08F768\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e221f37e-bb93-d98a-e702-11b99cdc740c/test-blob-6e963887-e9fe-6e65-ce75-c38420b08eac?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF94A08F768\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "gBSUs1bXivLtp35Awe6v7XgMQIo4fsBqq1GdSW5CHh0rLhsVZdWtooayB6N1vqPoxi9LTgadkgJTKQgEOUGDq4lhFJPSmYiiX54DhnYd9OyutII/988WjpwZwTvNqGhFLlwaFKoQFiynqO9omQyLNjQbVoS\u002BRLO6Sob3uNdN1bY1vlcZA\u002BBCnZ5WmE/frvSPjosGsVHkhumpX8kjGV5UWdI4M9u0cTNU2bnmaKxj25ySZylMRiRlUDducKMWHoRAAT58p3sY2xxYsteY/h48RYQtkbE0CBOu0\u002BKjRgGPPbo0pWdu5zMheYwN85RMzFIZMSof6Y3SDPkqzdOYdZUbyHQdZFi3zl5QCxglJxR/YgaQiRTXcFMsYZltRBlfiAP28SsfLmj5YmPMzt51[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e221f37e-bb93-d98a-e702-11b99cdc740c/test-blob-6e963887-e9fe-6e65-ce75-c38420b08eac",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF94A23D230\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF94A23D230\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACAFJSzVteK8u2nfkDB7q/teAxAijh\u002BwGqrUZ1JbkIeHSsuGxVl1a2ihrIHo3W\u002Bo\u002BjGL0tOBp2SAlMpCAQ5QYOriWEUk9KZiKJfngOGdh307K60gj/3zxaOnBnBO82oaEUuXBoUqhAWLKeo72iZDIs2NBtWhL5Es7pKhve4103VtjW\u002BVxkD4EKdnlaYT9\u002Bu9I\u002BOiwaxUeSG6alfySMZXlRZ0jgz27RxM1TZueZorGPbnJJnKUxGJGVQN25woxYehEABPnynexjbHFiy15j\u002BHjxFhC2RsTQIE67T4qNGAY89ujSlZ27nMyF5jA3zlEzMUhkxKh/pjdIM\u002BSrN05h1lRvIdB1kWLfOXlALGCUnFH9iBpCJFNdwUyxhmW1EGV\u002BIA/bxKx8uaPliY8zO3nWt5eSra80I64BEWCDwAr9JikTwghQuNelfM56WJ7EKoXW3tLSJma6SgBh2rdL\u002BPmU6GdmI3ltgfq/7SzguccTPObaqOE4Kv/CWXQL8uIcWYfQ4XA7YgsMaVzUEjk11Yw5Tp3QbUwUXL1no8YBYZMYo5OpD9hW19rfzkOEYBTGjIPnzqBET\u002Bw3vISy08JBCwfJv3KpjMW35nrC9J8Mj/ikoRdGGZbu0FejdVNXoAQYmsM7uqCmGP\u002B6M\u002BgpgVdNJyyICjKu/u1w3usbBht2YEJyqlnb1NAG2WGvhm9FuAbZYa\u002BGb0W4="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e221f37e-bb93-d98a-e702-11b99cdc740c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "691182113",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
