{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc199824-7da9-5331-75eb-92f6b5baa6fb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685AAD24A53\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc199824-7da9-5331-75eb-92f6b5baa6fb/test-blob-a638963c-ef14-335e-ede0-6262ec9ef578",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685AADF3AC0\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc199824-7da9-5331-75eb-92f6b5baa6fb/test-blob-a638963c-ef14-335e-ede0-6262ec9ef578",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8685AADF3AC0\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:06:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc199824-7da9-5331-75eb-92f6b5baa6fb/test-blob-a638963c-ef14-335e-ede0-6262ec9ef578?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8685AADF3AC0\"",
        "x-ms-content-crc64": "VkeXMfl5nBQ=",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "IoRt+SHobKC6p0I0L4NV1ts7SUnn3LV+EWKuaHXN6JyAWot4MRU1xP8xDp6+VgRU3zg0TtOqC0XO7ue/OgQr7b6mtNX43aTFBYVKtc4Xv7peWYg8mJnJ1U9FqUIudon6BiHfF6IvXAKTb0lOYFV3ty4tYOF77lQl3d6FsjNhl477T6+sN6gYL/yGqClQe3X6zfEUARWofxfMujrEqarOMte6UhCmyoCGFDHk9UYr1GJoi+RBTZZ5UtCX4HxtVIVSuHZSlihlVAJxjezjxInRoeXYWx7FjORAQf9ADuoDGcCskj3P2D45Azfh0MCqlY5Gxj+XlPhmjCuSEVUoJEUYbXMsNzFMAsinn1jn47wjlqtw+UerbITHRQURPcfpEN7xyWJMfl5d+cR27/Wgf6hvbnqpuCv9bQHvZPEsO8QBvY559hpZ1xhNE/+DNHyOJ8Zcos5NQFiz81tgXRlsML7/dTJnJomOFZdhW6QrejiEYDwrz5j2tH02xgO++Xr+4eJBhL9KJwE9zo036+SziHgj2/zdQWElCMG0MWCFzxwcYnrB6fV4Ojk77QELv8iYgj2Kmx19IZ+BHHv+lvagt/9wGohq8p6DqqHDoVNgGUn4G68i+zT+n0HaP816eqRDmjYBmqRALpCfB/B7un9MIQIxBXpGfrvLcnpHkLLRCDD9gAc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685AB231BC1\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "VkeXMfl5nBQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fc199824-7da9-5331-75eb-92f6b5baa6fb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1082418749",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
