{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-aae5a66b-d9c7-992e-7a39-8b58c63891c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF95DC3B1A7\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-aae5a66b-d9c7-992e-7a39-8b58c63891c6/test-blob-542a8035-833e-3580-749b-82b0d56a1ff9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF95DD3734A\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-aae5a66b-d9c7-992e-7a39-8b58c63891c6/test-blob-542a8035-833e-3580-749b-82b0d56a1ff9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF95DD3734A\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-aae5a66b-d9c7-992e-7a39-8b58c63891c6/test-blob-542a8035-833e-3580-749b-82b0d56a1ff9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF95DD3734A\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "62H9mN0gIsskGti\u002Bx5uCpDZchcOvwgqBvk8MPm52WuCxjKi22GpRsuC9qqHX2hvwNIzWFGuS1ilXe9mOFONcrcD3DTryzMzMC9Pj8RdoqeMzGwnioEZ1HrZ/XlyQwp78Yfzh4M3h/WjACQmYr\u002BQR7tL1W/jZeg16gu\u002BDc21vO0g155Abh8kWUR6hIZY83G/SbW\u002BKmmalIubuZ17eXor6Uc7AYsdT9WcJ3wnaOFh3PaV/sAX95KDhj8SpLCBrOPOTp9DHfHmnf3cIgbtcy\u002BqOdym4Xq6E/Gwt3tMDqclGnqcWRpCHr8Ar2DGN9WPlhcPaG7X2stlED6pkmp2mpNWuwuMURoVZBsdojYZ89gcIR1kPKI0UT\u002BvN0TbmIxUjhDRb3[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-aae5a66b-d9c7-992e-7a39-8b58c63891c6/test-blob-542a8035-833e-3580-749b-82b0d56a1ff9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF95DEEEA96\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF95DEEEA96\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "2048",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScIAAAAAAAAAQABAAEAAAgAAAAAAADrYf2Y3SAiyyQa2L7Hm4KkNlyFw6/CCoG\u002BTww\u002BbnZa4LGMqLbYalGy4L2qodfaG/A0jNYUa5LWKVd72Y4U41ytwPcNOvLMzMwL0\u002BPxF2ip4zMbCeKgRnUetn9eXJDCnvxh/OHgzeH9aMAJCZiv5BHu0vVb\u002BNl6DXqC74NzbW87SDXnkBuHyRZRHqEhljzcb9Jtb4qaZqUi5u5nXt5eivpRzsBix1P1ZwnfCdo4WHc9pX\u002BwBf3koOGPxKksIGs485On0Md8ead/dwiBu1zL6o53KbheroT8bC3e0wOpyUaepxZGkIevwCvYMY31Y\u002BWFw9obtfay2UQPqmSanaak1a7C4xRGhVkGx2iNhnz2BwhH[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-aae5a66b-d9c7-992e-7a39-8b58c63891c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1238415763",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
