{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bc3233ca-4513-43e8-8500-906eb2dc9ce8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86859EDDC633\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bc3233ca-4513-43e8-8500-906eb2dc9ce8/test-blob-c92f2dad-de2d-fe2f-894b-cad8c08d0bb3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86859EEA442D\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bc3233ca-4513-43e8-8500-906eb2dc9ce8/test-blob-c92f2dad-de2d-fe2f-894b-cad8c08d0bb3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86859EEA442D\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:06:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bc3233ca-4513-43e8-8500-906eb2dc9ce8/test-blob-c92f2dad-de2d-fe2f-894b-cad8c08d0bb3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86859EEA442D\"",
        "x-ms-content-crc64": "+PwyZAiCkww=",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "l7v7RsXiLSgGKsuNb4QFLCvaZG1HbGDeOewCxVkElUdyT86CXY/vKBdrKV6lfd2/ABv8mEWmPypbHAzZ32fOAZSDGh+1g8+b6jtV20ICObsPQ8U9B/wCzBCkJ0CCFkivnCfJImO9CX1MYa4JUGPnWONQypyikfmXgE4OEVuPGNTzpT8aOBdYUTlH8aZO+HutvM5cMUusDQsuMaEVr/chvEjaFqojzR/M+HliWp9SSYfSYFWNMuaIRpgz7AZ1QqFBJjRedOLRie+ukDnSSrJs2+gZQ0+ik4lhUdAR8OAZVrbXIDRq9NSlANZl36KttfzlxhEeXP9Sn5Oq/SISv5kOlTmD+il+AeYUc0J4PLTns5vTKyrP+vm2hYGhv/ayk0A9V0loKrvSZ8QqCei92WLew0qGPpRvPpp[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bc3233ca-4513-43e8-8500-906eb2dc9ce8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1783423522",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
