{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cd57539-1a4c-b263-b3b7-29501d4850ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF959F0B39F\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cd57539-1a4c-b263-b3b7-29501d4850ed/test-blob-9ad826b6-656b-20f0-2c63-d8f7dfe857fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF95A002661\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cd57539-1a4c-b263-b3b7-29501d4850ed/test-blob-9ad826b6-656b-20f0-2c63-d8f7dfe857fd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF95A002661\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cd57539-1a4c-b263-b3b7-29501d4850ed/test-blob-9ad826b6-656b-20f0-2c63-d8f7dfe857fd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF95A002661\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "na7nN7j8ilnNz/N2fSoAYOXFc\u002BwQgC/Q2rkeCVmeXlzUxZsDa5qr36bdAu10kuZVgCUj4akVxh1/Fl3\u002B3oAAL3GWobiO/fVLGpNGM35BXEjTyIg0e32zv/5\u002BhFQ8rAEl3dN83fAux4Mv18YVzpOeProUKhX4y7P04\u002BG5D3mgDm2SIVWqxH5XpQEFBKS2nfFq30WaKIHrLREfiPoPdLcKj8hYg6099Hk7vYUT8scPPkXwTi8zBubspvRDijyESDFK\u002B3XbXRpDLOvLXmv82DpKEEq0HiWH1ojibNy5\u002Bmk9t3RUyfdRM\u002BAqrCJEZ6h78M65\u002BXnyzykLwiTt\u002BfA\u002BijKCjqb2qA5C\u002BN1piXEDQ27f[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cd57539-1a4c-b263-b3b7-29501d4850ed/test-blob-9ad826b6-656b-20f0-2c63-d8f7dfe857fd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF95A1B7683\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF95A1B7683\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACdruc3uPyKWc3P83Z9KgBg5cVz7BCAL9DauR4JWZ5eXNTFmwNrmqvfpt0C7XSS5lWAJSPhqRXGHX8WXf7egAAvcZahuI799Usak0YzfkFcSNPIiDR7fbO//n6EVDysASXd03zd8C7Hgy/XxhXOk54\u002BuhQqFfjLs/Tj4bkPeaAObZIhVarEflelAQUEpLad8WrfRZoogestER\u002BI\u002Bg90twqPyFiDrT30eTu9hRPyxw8\u002BRfBOLzMG5uym9EOKPIRIMUr7ddtdGkMs68tea/zYOkoQSrQeJYfWiOJs3Ln6aT23dFTJ91Ez4CqsIkRnqHvwzrn5efLPKQvCJO358D6KMoKOpvaoDkL43WmJcQNDbt9mfA7/AO9K6EtIBtJkOe/sIu/B2QKER793AJyJRbcIf7YNknQvijKTQ72rYAdvk6R5nU8UgZXd4jROiP9SwaOUP4ccV6Z7vJi9LpVF2ee3B234D6do9P0hMLA/4QIyQIIaFyCAUzz9/uC3V1P/mAhNl4GSWrL7K0uK\u002Byf1O9uViu4TKsLHN7Mw\u002BhDHsZ2qIZio8kqAn\u002BXQHuvV9VgVB8IFIcxl7G1FhV/NYmChNHqu4NqOTUmRFesIQgzX8kFbG/JNwpDQRDQrYmzqsz2FLupwJhV\u002Bhrp5dAzgXKlgbpMdcUZtU3Lq3ZulY\u002BrcpmGughQhZofKZ1OGOk9Eh8pnU4Y6T0Q="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cd57539-1a4c-b263-b3b7-29501d4850ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1505506289",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
