{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c01dbd6e-e8c0-8aed-bcd4-b2cbd6d25d2b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F625BA1A1F7\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c01dbd6e-e8c0-8aed-bcd4-b2cbd6d25d2b/test-blob-1e380e55-206e-d9c7-ef64-358bf1b5b055",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F625BB24166\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c01dbd6e-e8c0-8aed-bcd4-b2cbd6d25d2b/test-blob-1e380e55-206e-d9c7-ef64-358bf1b5b055",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F625BB24166\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c01dbd6e-e8c0-8aed-bcd4-b2cbd6d25d2b/test-blob-1e380e55-206e-d9c7-ef64-358bf1b5b055?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F625BB24166\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACTh1q8i0uwEs1DQyGK\u002Bdo/CnUx3OvV\u002BZydEizodtH0iTOWYCgiDrFOSNS67TFm2A55phRvwY/cvo2\u002BHngfx5z7T7ru85ixHPvE45MWGgtqNzkdb9C8hMekuqKaZPA4L4E4vp53eOV1x4kYq977xaOCU\u002Bc\u002BAVjLPsvySjn2FrgLi7MS3lxt8r5UqKdGo9noqPT/GBAJ\u002BS0obH/ThC6rf7DRDR8r6OdHFGAo6lmxhJrxCqFF9v6nApGF6nHcmm6QqCj2dZa5vcAMuASv4A/Ud\u002Bfk4XqMZoiyKQqOpf52a3ryl0Ewug8EOEzgOD769yGBsXKK97nzA0GfQ0yMKhjClkyKvUnOo7zY4Kguqy5KuDHoDPSL7HPB/5P/kXfCdw40HqHxbzrYsw22sRYQxVgTVYoaox4kNqrYyb22zhJFFWma\u002BY2MWEj3EFjm1DpdsDo77DvsqNPvEOj3GKZ8IuX7cZusdsvLh/1CI5PFPWFvexiDeuLWWW2VqumllD\u002Bheu1z62OesDpucGQ\u002BqoVAKtKGh52O\u002BacDJBguF8viJfK9oKilUVL90crdFQp9l67oVX8WHg2iE4FGcMZLcJlui0pygQncmtmAiLbTsOOdhYxpRcFLywfkG4wnX\u002BGLsWAwb4nAChakC7umlpZWz2OdqOo64irYIr9DjWV9tTv49NZWokFZ3fCughdmV9lo8K6CF2ZX2Wg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F625BC8FDA5\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "8K6CF2ZX2Wg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c01dbd6e-e8c0-8aed-bcd4-b2cbd6d25d2b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1581111718",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
