{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d939d88b-5fab-5fc1-fc31-d01754d1bf23?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:37:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F531CF26F26\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:37:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d939d88b-5fab-5fc1-fc31-d01754d1bf23/test-blob-3eb91de9-3c8c-22e3-05ae-47f8c4934457",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 13:37:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F531D0048BA\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:37:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d939d88b-5fab-5fc1-fc31-d01754d1bf23/test-blob-3eb91de9-3c8c-22e3-05ae-47f8c4934457",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:37:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F531D0048BA\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:37:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 13:37:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d939d88b-5fab-5fc1-fc31-d01754d1bf23/test-blob-3eb91de9-3c8c-22e3-05ae-47f8c4934457?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "JmEbrKzJwXunlbl8NzYqkw==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F531D0048BA\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 13:37:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "N4t22P1SfM1GZHNZkY1Pup1JgqXLPsQRUw90SME32edrLfyEyruJQzE4OfpfZHeRfkK9sPxA1fjGZIXu3jQMD4qL7WSQyu/hwD5zkgXKsu6X4sp/eSnrK1gDvmU2m2X9Kylv1HYTALNS2\u002B\u002B9zELz\u002B7KWVvtqjZVhn8ILjAyJqyXZdmbbW954hOIXLJ45LV4VEMKzn0Rqk56UDTSzB3OmyDDK5FbbF5/UHtIYU2D3J3Jk9XxJ1gzhb\u002BLIR06pxHxvcGRub0kHOvgj3oBxUT8\u002BnOXCTxH3XfIj6HV0E9BRK1lWqeL7ibgoXbuDJveLbx2iiapo5nVqeBNySobTkyYo0bMnG6hcQhMtmfFWdDb6mHlX0Ykl6ETk6zHPiT8xVcqUWlRDZF[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d939d88b-5fab-5fc1-fc31-d01754d1bf23?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:37:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "628706495",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
