{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0ce33ad4-58d2-55a3-beac-d49c0fa7e26a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E827431BE\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0ce33ad4-58d2-55a3-beac-d49c0fa7e26a/test-blob-d554ad7f-b691-e656-d84b-13ce599cfc5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E82836AA3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0ce33ad4-58d2-55a3-beac-d49c0fa7e26a/test-blob-d554ad7f-b691-e656-d84b-13ce599cfc5a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E82836AA3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0ce33ad4-58d2-55a3-beac-d49c0fa7e26a/test-blob-d554ad7f-b691-e656-d84b-13ce599cfc5a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444E82836AA3\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "bwVlk9l1GH/8JMpef6bRCl7zLGtqemQIV0MCbDwLUTwxI4x\u002BTroH\u002Bou9a\u002BHlVkK2sw7TetnXSfWgXDuVcqtC8dKNLVsaU7yk6zHfrQ\u002BDIwEBTLkuN9djWdqW3fF/cYffenkOVyjmnGBRL46n95zmHDk5lCbyFLn7KtOBg3XKJHmpADKVdczYGq9Z3AdIu2I9sMG4Rd1h7Wa/Ei1VZBnqhwoU/fdqUKdtYXl2mTeysm5xRNK0Et\u002BcSBPL1WOeg7aWblX9NL5r018aSuNj6lMuDV\u002B\u002B5CBGNnQqd7XjnntDzt3D4CvitH6wBnFzmcf8OV2/nccD4J\u002BWUDfg0rwIhzTk1nwGnwooTFnhDt6v0pytLj1XJAGzQO4\u00[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0ce33ad4-58d2-55a3-beac-d49c0fa7e26a/test-blob-d554ad7f-b691-e656-d84b-13ce599cfc5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E829F3000\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:17 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "/W7NGQlUawdzt48Wbu6U1Q==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E829F3000\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:45:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "bwVlk9l1GH/8JMpef6bRCl7zLGtqemQIV0MCbDwLUTwxI4x\u002BTroH\u002Bou9a\u002BHlVkK2sw7TetnXSfWgXDuVcqtC8dKNLVsaU7yk6zHfrQ\u002BDIwEBTLkuN9djWdqW3fF/cYffenkOVyjmnGBRL46n95zmHDk5lCbyFLn7KtOBg3XKJHmpADKVdczYGq9Z3AdIu2I9sMG4Rd1h7Wa/Ei1VZBnqhwoU/fdqUKdtYXl2mTeysm5xRNK0Et\u002BcSBPL1WOeg7aWblX9NL5r018aSuNj6lMuDV\u002B\u002B5CBGNnQqd7XjnntDzt3D4CvitH6wBnFzmcf8OV2/nccD4J\u002BWUDfg0rwIhzTk1nwGnwooTFnhDt6v0pytLj1XJAGzQO4\u002BLY/zAeLBp348j8NK9ZpSl1BuItHB5n2aM6N/sGMzMJaOyHF6NEt2H2dfckPZYjijBYyxRB0cfEYSWc4\u002BQvYbCF4tvC0o12ME\u002BAJqYnM6wdBq26vWgut4cksqaNt9N91wQ2nlq6YLei0prEwbsRrS15f902ZKRYZytUni/W6Hh8Al\u002BR4KVRYqX2F\u002BrNafXMEwV5BDgGN2Jv7jcvZcKHy\u002BoiSM9bf7yIKB0nQFy5iw01iIsaXdQwdcr9MgJuIfzTbkwAqxEmcJNI8Owq3vcFplMp\u002Bd1HbW4F4dMEbk26GgYQU9IQuO/sDxfn0="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0ce33ad4-58d2-55a3-beac-d49c0fa7e26a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:45:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "559463032",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
