{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f7be0d88-b613-a4e7-7025-ca66452817e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF94CC85D70\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f7be0d88-b613-a4e7-7025-ca66452817e6/test-blob-a51e7bfe-2e66-c4b2-03c4-2a046719ea61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF94CD905A1\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f7be0d88-b613-a4e7-7025-ca66452817e6/test-blob-a51e7bfe-2e66-c4b2-03c4-2a046719ea61",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF94CD905A1\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f7be0d88-b613-a4e7-7025-ca66452817e6/test-blob-a51e7bfe-2e66-c4b2-03c4-2a046719ea61?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF94CD905A1\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "RcB1VkymxB9nEi470X\u002BFLYkI3z3ljPBsrLpkSiibb3rqqCFezUV14UQjI\u002BM4gN8R8hKBM2\u002BwVrjQCKqRQnn2y6K0UChdJl9Dkv34wmkMMyvaUlcWGjwKOlJpjsSb457KLFhAgy\u002B2s8yyPqBxt5NPw9V\u002Bt\u002B8h4LBmqhbV9Jebp65fLZYRzLD8JJ6LZNycmIO/GsrvHCyvqUyn2tkZ4L80F5bxEon9PfckgpNQlnvTyRKTFtrNq4uCr4RJafHX40PfVk1Gq4X5wdzTypqZXhLQ0xHGhsrlZ2sKb2MFs9QGTZ5QcT8ujR6NmVX9\u002BeDw6FFxeZXgEF15\u002Bu7hOzwi9A4IzH37Se3ToUbyOex1522KGYYRkzk\u002BJT[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f7be0d88-b613-a4e7-7025-ca66452817e6/test-blob-a51e7bfe-2e66-c4b2-03c4-2a046719ea61",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF94CF4CAE5\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF94CF4CAE5\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABFwHVWTKbEH2cSLjvRf4UtiQjfPeWM8GysumRKKJtveuqoIV7NRXXhRCMj4ziA3xHyEoEzb7BWuNAIqpFCefbLorRQKF0mX0OS/fjCaQwzK9pSVxYaPAo6UmmOxJvjnsosWECDL7azzLI\u002BoHG3k0/D1X637yHgsGaqFtX0l5unrl8tlhHMsPwknotk3JyYg78ayu8cLK\u002BpTKfa2RngvzQXlvESif099ySCk1CWe9PJEpMW2s2ri4KvhElp8dfjQ99WTUarhfnB3NPKmpleEtDTEcaGyuVnawpvYwWz1AZNnlBxPy6NHo2ZVf354PDoUXF5leAQXXn67uE7PCL0DgjMfftJ7dOhRvI57HXnbYoZhhGTOT4lPUHWdlFNUeJq[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f7be0d88-b613-a4e7-7025-ca66452817e6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "839052902",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
