{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-09849c68-4a84-6153-a046-f811bca792c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8434FD0DB0\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-09849c68-4a84-6153-a046-f811bca792c0/test-blob-f462f2e6-c7eb-9f56-d706-8282c65d88a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F84351B9289\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-09849c68-4a84-6153-a046-f811bca792c0/test-blob-f462f2e6-c7eb-9f56-d706-8282c65d88a2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84351B9289\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-09849c68-4a84-6153-a046-f811bca792c0/test-blob-f462f2e6-c7eb-9f56-d706-8282c65d88a2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F84351B9289\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "spvKeIyauRNkb7X1FPWXIW0auMq3wcwU3ugF1fNRmAzIsasttGBSvzjcbIRtOrQZXj94Yo78zfDOtZmjlOQfE9apLGJKam0NyPmR2lVHp6Qz63a02DV\u002By\u002BO6Xv7HripUvVitxA5Sz/TRa5qUa/Obhw71cKltajqhK2B\u002BjwtuRRrPPBz8meKV4BuB4m2b6WDwHtfv0T6A51IeDJmt0z/pYyWAxS7Wn\u002B0sX4\u002BN64jNBkH/jnEzfnTcTlXJ3Y1J5w3bmH9HGiMxGX/qw3Ku8vvKUQZXrUXOtuSxpHfZDcFg43eCsVMIhusdznTxSLsBLVtZ/oyG8TrHDeGblXasWAy\u002BiuD6LEGowsobOd/R3W0osHYbgA402fE9uqRxbfB0cXZnM[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-09849c68-4a84-6153-a046-f811bca792c0/test-blob-f462f2e6-c7eb-9f56-d706-8282c65d88a2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F843539EFBE\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACym8p4jJq5E2RvtfUU9ZchbRq4yrfBzBTe6AXV81GYDMixqy20YFK/ONxshG06tBleP3hijvzN8M61maOU5B8T1qksYkpqbQ3I\u002BZHaVUenpDPrdrTYNX7L47pe/seuKlS9WK3EDlLP9NFrmpRr85uHDvVwqW1qOqErYH6PC25FGs88HPyZ4pXgG4HibZvpYPAe1\u002B/RPoDnUh4Mma3TP\u002BljJYDFLtaf7Sxfj43riM0GQf\u002BOcTN\u002BdNxOVcndjUnnDduYf0caIzEZf\u002BrDcq7y\u002B8pRBletRc625LGkd9kNwWDjd4KxUwiG6x3OdPFIuwEtW1n\u002BjIbxOscN4ZuVdqxYDL6K4PosQajCyhs539HdbSiwdhuADjTZ8T26pHFt8HRxdmcyvtoHARqxPMFrt1r2L3Ry5QCR1/6KsO69cZw2VNqmyGlpq65NqHUAz9FybTrjw3X9\u002Bwt0355pqA3sSo9\u002Beujnxe7wjYTFJDyKkAgtF0K02a4nOVnOMujLAAKgYV7mglTpiqhL8jbwONfP6U6VPJDKOHDgV0GPGZIGJI2BJMLdpA60Q4yaaOZ4NgGB/kiZNsRy1SnuBSoTWnEVRc6obxMU8kRA4fgEMM\u002BJaCFADRpJbO7JD06Z7p/joOkbhCMYz8btbQwEWVXLbqVZZJwJ00xWy9nf32DFegOkXEAO6Kusca2q9S4XUSJCrar1LhdRIkI="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-09849c68-4a84-6153-a046-f811bca792c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1095066481",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
