{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3fccbeef-dd86-cc6f-614c-eea0a272b791?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685B04EDB96\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3fccbeef-dd86-cc6f-614c-eea0a272b791/test-blob-65af2d51-96ca-8d3e-5912-5f50da572eba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685B05F25BC\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3fccbeef-dd86-cc6f-614c-eea0a272b791/test-blob-65af2d51-96ca-8d3e-5912-5f50da572eba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8685B05F25BC\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:06:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3fccbeef-dd86-cc6f-614c-eea0a272b791/test-blob-65af2d51-96ca-8d3e-5912-5f50da572eba?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8685B05F25BC\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:31 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "XaXAN8RQqOwb83xC6AvT+8vJBPcVoqIhbBmaF9wCwMYflAZTpUlhSgNv+fudF2UcwCnVT/ctSboDn8uqtpAPGDO2I1MFf1aBZ7r0pqimhFS0fVayLXDO8ktLUAV+t5RyX+DI5vQRF0HTU+c9OaMRXBt29jg6XOvC5zEIui9QA7AlgUbI3p1fomYV39mIkbioOfPqB8BbOAL1Bf/DCVwRglA3GLdcSX5+F1PSJH0SOVZ4YIE7ZvzvyUlD09idnJkJA1yJUXgBS+90bPBtiROF4sypS6jb1hxTR05tGXam4Hu6ySEhiejddhWRx/oLgkA2vvAM9FDwLS0/NQkpkzF4zot1ssDxZFnky9STSQ4iSMUON1uGmuwqyZvz4VPes+PjGPluls+ARFqWKCh8XOMeHe1DG1zW8jO[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3fccbeef-dd86-cc6f-614c-eea0a272b791/test-blob-65af2d51-96ca-8d3e-5912-5f50da572eba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8685B109AF19\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:06:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "Response[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3fccbeef-dd86-cc6f-614c-eea0a272b791?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1608997014",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
