{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-03466834-6ce6-e18d-ff1a-154c975001ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6E164F264\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-03466834-6ce6-e18d-ff1a-154c975001ec/test-blob-29d56d95-9cc1-0e09-88b0-0971da8469f4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6E16E8AA2\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-03466834-6ce6-e18d-ff1a-154c975001ec/test-blob-29d56d95-9cc1-0e09-88b0-0971da8469f4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6E16E8AA2\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-03466834-6ce6-e18d-ff1a-154c975001ec/test-blob-29d56d95-9cc1-0e09-88b0-0971da8469f4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6E16E8AA2\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Jv3ZZKgGZQWaLPfUtwa4rGh3cBFFLSxYh4jMsWH6AFgNWGAreUz01CAEOpLYBJ3lEiFqoELzFfjRgN0gOrSjnyyfx1+ljDMcg5vxQfOZf4Lr555AkF8WGUJnWfhv1JpsYZpmOTw9P4XuTh2mAdQFNwBaNFMVYg/MiK0cPTM6ra8BheBZM0ZGracYUkJCbxduYiH3FJ9GVv6KmrGPIQJSs6FtpXz0rAS6FIas/A/NiRiVrtsRQpgQui/hzpiUt4ylxp+h1MqbebYdPQAYmlnuvRCY+XInQHAIXepNEt1sJV36BzZwLLRO+jQl9AWX9yDV8hGI/L0afYUumHfgTmfYsRejHpMjfpBbSv89AkxrcWbJdx/M4ymf34mwQpQ9bqvNTEPu89mNsnSALLK+3Xs5wyYRFtZHDM3[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-03466834-6ce6-e18d-ff1a-154c975001ec/test-blob-29d56d95-9cc1-0e09-88b0-0971da8469f4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6E17CAB8F\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAm/dlkqAZlBZos99S3BrisaHdwEUUtLFiHiMyxYfoAWA1YYCt5TPTUIAQ6ktgEneUSIWqgQvMV+NGA3SA6tKOfLJ/HX6WMMxyDm/FB85l/guvnnkCQXxYZQmdZ+G/UmmxhmmY5PD0/he5OHaYB1AU3AFo0UxViD8yIrRw9MzqtrwGF4FkzRkatpxhSQkJvF25iIfcUn0ZW/oqasY8hAlKzoW2lfPSsBLoUhqz8D82JGJWu2xFCmBC6L+HOmJS3jKXGn6HUypt5th09ABiaWe69EJj5cidAcAhd6k0S3WwlXfoHNnAstE76NCX0BZf3INXyEYj8vRp9hS6Yd+BOZ9ixF6MekyN+kFtK/z0CTGtxZsl3H8zjKZ/fibBClD1uq81MQ+7z2Y[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-03466834-6ce6-e18d-ff1a-154c975001ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1570457581",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
