{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fec75df-3327-d0fb-e44e-5cfe093c1857?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE628662A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fec75df-3327-d0fb-e44e-5cfe093c1857/test-blob-c332e92f-fb64-0bec-bd1d-807aa9b9ecea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE637A054\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fec75df-3327-d0fb-e44e-5cfe093c1857/test-blob-c332e92f-fb64-0bec-bd1d-807aa9b9ecea",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE637A054\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fec75df-3327-d0fb-e44e-5cfe093c1857/test-blob-c332e92f-fb64-0bec-bd1d-807aa9b9ecea?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EE637A054\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "QNTwdVYtzy7BYF6gQ66zQhDr9EEOON2bVMqfKLJo6viLdwxIscgb3Pn/HxgxDTPq6rw7tVS6aQj2VSGLjqZ8WHVlFMyiapBI0BdHDhjEaUaXtD32LTWk0A4DUVunj05Sg8ajy/hnSIAr8uU8c1vvMeva9NlohitAwUS9nhg1oUDJ9ItSIZ1OL2u9yjpPZ12zFB9vzJt16vybYgq0qapn9VGlc3/QnRBNjMRtqrvw8VnnCor4xdSlUwqOtr\u002BTmYbBVtToqfTd43YPIT/WBz9AqnCwzZ8gbjB9AB90QeZQuvM\u002Bq1TnCEdlCScT6KOUzkvLTgxO48zmoOeka6nUaaGPvmdMmFzqWaEpS8R4DIWM6DHTqfPaAtYnVwttQp2dkJ\u002BFhCo7SDXv4PRqJZcH[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fec75df-3327-d0fb-e44e-5cfe093c1857/test-blob-c332e92f-fb64-0bec-bd1d-807aa9b9ecea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE653DB12\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "ZChYmsQHmU4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "QNTwdVYtzy7BYF6gQ66zQhDr9EEOON2bVMqfKLJo6viLdwxIscgb3Pn/HxgxDTPq6rw7tVS6aQj2VSGLjqZ8WHVlFMyiapBI0BdHDhjEaUaXtD32LTWk0A4DUVunj05Sg8ajy/hnSIAr8uU8c1vvMeva9NlohitAwUS9nhg1oUDJ9ItSIZ1OL2u9yjpPZ12zFB9vzJt16vybYgq0qapn9VGlc3/QnRBNjMRt[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fec75df-3327-d0fb-e44e-5cfe093c1857?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "474611955",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
