{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8ce4c1c-617f-c44a-52ef-c92a33109b19?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7269E1EE9F\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8ce4c1c-617f-c44a-52ef-c92a33109b19/test-blob-89444976-d210-1857-6653-4b13b9dbb10d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7269EFF933\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8ce4c1c-617f-c44a-52ef-c92a33109b19/test-blob-89444976-d210-1857-6653-4b13b9dbb10d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7269EFF933\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8ce4c1c-617f-c44a-52ef-c92a33109b19/test-blob-89444976-d210-1857-6653-4b13b9dbb10d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F7269EFF933\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "u647EaJyNA7U3NT5\u002B2QCjB4ySw9F8Un\u002B/AE1svdYr6W1LioSir/0bO\u002B81vNg52LfNooBECPA8cplPRShPIIWey0uQ8067wFfPd8fiRpWnRWfVXttVp6C9TxgrU2qUy9tpVrGMaOVpUeIotJDoWivD5//AeYGqSWOrE6Q2kK0teqvsePAj2xxCrA05LPMPlPUsJ2tqlJIZ/s0OIVUBMoE0\u002B3nlPCE738yjvY10cRxwW37uymkBgqYZknoi1fmHAXmMBDG5KpjT8EeehxbE5Y3wnYYWUmgX83jTy2mnGMnTHHxT6Gzq9zCl2tohovtPFOzsMnhzsO8RdBD45V8vbNd9i6rasP1gxeZVcHdONlB9RLa8uuaRn2tNArQcMhHRtq4Co9cQdKQvi2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8ce4c1c-617f-c44a-52ef-c92a33109b19/test-blob-89444976-d210-1857-6653-4b13b9dbb10d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F726A0A37F9\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC7rjsRonI0DtTc1Pn7ZAKMHjJLD0XxSf78ATWy91ivpbUuKhKKv/Rs77zW82DnYt82igEQI8DxymU9FKE8ghZ7LS5DzTrvAV893x\u002BJGladFZ9Ve21WnoL1PGCtTapTL22lWsYxo5WlR4ii0kOhaK8Pn/8B5gapJY6sTpDaQrS16q\u002Bx48CPbHEKsDTks8w\u002BU9Swna2qUkhn\u002BzQ4hVQEygTT7eeU8ITvfzKO9jXRxHHBbfu7KaQGCphmSeiLV\u002BYcBeYwEMbkqmNPwR56HFsTljfCdhhZSaBfzeNPLaacYydMcfFPobOr3MKXa2iGi\u002B08U7OwyeHOw7xF0EPjlXy9s132Lqtqw/WDF5lVwd042UH1[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8ce4c1c-617f-c44a-52ef-c92a33109b19?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "796044014",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
