{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1f908e72-aeee-5c08-d3c2-11925833a7cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E9CA46CB4\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1f908e72-aeee-5c08-d3c2-11925833a7cd/test-blob-41b505a4-0422-ac87-1060-3bcbfd541d43",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E9CB37F43\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1f908e72-aeee-5c08-d3c2-11925833a7cd/test-blob-41b505a4-0422-ac87-1060-3bcbfd541d43",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E9CB37F43\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1f908e72-aeee-5c08-d3c2-11925833a7cd/test-blob-41b505a4-0422-ac87-1060-3bcbfd541d43?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444E9CB37F43\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JnSEo93FDjbTd20/xfsSM9roOl9MlFJU80CRsRNiidKkq\u002BXVG0RLkuqwPwNfjPgLo/V9p6Sq8JIhMLCcM1wjce6bmhkWPRiVnah1m1RP9GZHhg4d5OIu\u002BrtTs\u002BqUrl6Njc4VxPHf9GXd5wn7NFQ90jxJVK1OBYwLbKBdw4kuAO5K6A6GOS90aJGoQPzYMsVnFeGtS1qxP4dBCVdRgTHcrucbsUxFt5gN1OsbpcWPMjrb9q2ngbWTmKiGRC/XI\u002BZfzJEVvYF5IV1Jn3ZulZnCstYddYuENC0xhxijv3JoNrEEu9kzeXW4YtRPXuE/JQIOxJJZua1b25dk5DVo1WLr4GnFadrAjjhhZRO2NNVL8WIVlfrfD3wDqd9BzpRAUI1yZH13ersoTjV[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1f908e72-aeee-5c08-d3c2-11925833a7cd/test-blob-41b505a4-0422-ac87-1060-3bcbfd541d43",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E9CCECF35\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "4cHiiC5bulg=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "JnSEo93FDjbTd20/xfsSM9roOl9MlFJU80CRsRNiidKkq\u002BXVG0RLkuqwPwNfjPgLo/V9p6Sq8JIhMLCcM1wjce6bmhkWPRiVnah1m1RP9GZHhg4d5OIu\u002BrtTs\u002BqUrl6Njc4VxPHf9GXd5wn7NFQ90jxJVK1OBYwLbKBdw4kuAO5K6A6GOS90aJGoQPzYMsVnFeGtS1qxP4dBCVdRgTHcr[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1f908e72-aeee-5c08-d3c2-11925833a7cd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "898845187",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
