{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f610e741-7b62-d784-dc4e-a200d9f8ebca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86855E9879E7\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f610e741-7b62-d784-dc4e-a200d9f8ebca/test-blob-8ad06145-0183-5188-fe0f-73dc2338da59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86855F02CEF8\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f610e741-7b62-d784-dc4e-a200d9f8ebca/test-blob-8ad06145-0183-5188-fe0f-73dc2338da59",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86855F02CEF8\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:04:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f610e741-7b62-d784-dc4e-a200d9f8ebca/test-blob-8ad06145-0183-5188-fe0f-73dc2338da59?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86855F02CEF8\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "PhZ1RFbNQu+/x8bfY4euCHqNw9CBZMf2Nxx24dJUsdvT2b4TXo6+b8WHxztTLLL7tXdXCZHevNlOfg06V2AcahXqC4nIm6rszlMK+p2Lowppeyta/ahK9RzkxN+BhBhla1wmaSApMhrNazo908I8w9sD0Nw0wm1snxZs5NbKako7pY5AZDrpQEgRjJFtDCFapwAEfrQ8MKnuuskKvE5DAwHwAi4z/F6hGZCTIzXc/pP1EjzVxeuV/nXlUqpw34P6zYmQfQnyJquhY2QjqAxzErs1FKoRbj0VWgS4Tam0MDoMmVasTIGJAuuQM2KGcVVocT/uO8rZ6F9LeiIFOdgC7TMqFw+2x8Y6qxG+gTrbjuiuUNtqxfRvM7H2YNFehMgTjkYuXFpGsqp5tI+5G2Ylb+s5V+n8lyc[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f610e741-7b62-d784-dc4e-a200d9f8ebca/test-blob-8ad06145-0183-5188-fe0f-73dc2338da59",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86855F1CBD60\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "lX7p2xKJAdA=",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:04:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "PhZ1RFbNQu+/x8bfY4euCHqNw9CBZMf2Nxx24dJUsdvT2b4TXo6+b8WHxztTLLL7tXdXCZHevNlOfg06V2AcahXqC4nIm6rszlMK+p2Lowppeyta/ahK9RzkxN+BhBhla1wmaSApMhrNazo908I8w9sD0Nw0wm1snxZs5NbKako7pY5AZDrpQEgRjJFtDCFapwAEfrQ8MKnuuskKvE5DAwHwAi4z/F6hGZCT[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f610e741-7b62-d784-dc4e-a200d9f8ebca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "829509144",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
