{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74295fa9-48f9-4bde-1f4d-e42588e18d07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE15A3D62\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74295fa9-48f9-4bde-1f4d-e42588e18d07/test-blob-85732fcd-30e9-32f7-85a4-da5633f518a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE16AFE1A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74295fa9-48f9-4bde-1f4d-e42588e18d07/test-blob-85732fcd-30e9-32f7-85a4-da5633f518a8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE16AFE1A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74295fa9-48f9-4bde-1f4d-e42588e18d07/test-blob-85732fcd-30e9-32f7-85a4-da5633f518a8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EE16AFE1A\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "cVkxjMSVjPO2QFanOmXGlYzNEfwaVRR5ibFtxbschsFj9wcsWTRSfwDTgbKx\u002Bzwuz2UAlEvy\u002BxtFtwITJ8Y3mrmVRENdmTxYe5L7RtRhyI10PvZWG/J1cPzs56EyPlc6nOf4HLf50TUopxi497RH4\u002B90nujP4X7GH9NGcbKaJjw6warsaazWe23BLXTZvHhHpQOyvaBvartoMfzksmCCjoHcfjYKWnpDniN7DrMK7WJa/syv6Gicy1bvgzev8cgMPp/y/T5CPUqJbh9881sHXkSZibSU06UZQLLfG9ZCk6xbbtATF/AkF8GBJXlIH9f75yTzFmgUeGr52byLYyFzRttzIYWK9EdUdXHyEq0s0CDb4zSyT3xER/VmGT0zmLSgDt\u002Be1f5ScPL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74295fa9-48f9-4bde-1f4d-e42588e18d07/test-blob-85732fcd-30e9-32f7-85a4-da5633f518a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE1873898\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "3qRXJg5ipIs=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "cVkxjMSVjPO2QFanOmXGlYzNEfwaVRR5ibFtxbschsFj9wcsWTRSfwDTgbKx\u002Bzwuz2UAlEvy\u002BxtFtwITJ8Y3mrmVRENdmTxYe5L7RtRhyI10PvZWG/J1cPzs56EyPlc6nOf4HLf50TUopxi497RH4\u002B90nujP4X7GH9NGcbKaJjw6warsaazWe23BLXTZvHhHpQOyvaBvartoMfzksmCCj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74295fa9-48f9-4bde-1f4d-e42588e18d07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1799479450",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
