{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6c6a593c-ccb6-6669-e029-27c17e82459e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EDF02B978\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6c6a593c-ccb6-6669-e029-27c17e82459e/test-blob-1b067a92-b582-0c24-3c7e-4f8900460c1b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EDF121A67\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6c6a593c-ccb6-6669-e029-27c17e82459e/test-blob-1b067a92-b582-0c24-3c7e-4f8900460c1b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EDF121A67\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6c6a593c-ccb6-6669-e029-27c17e82459e/test-blob-1b067a92-b582-0c24-3c7e-4f8900460c1b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EDF121A67\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "FS8PTbnazwk2S4S21bhMFXaTnofbmRMdCigT\u002BvuOX8zDq5vpu2XbSSiedT9V0b06ViIdLH21b3wc8UKQxtQNqOu48ikdYlkQt1RfPSPUyDlq2aPZcTNPDjsfzckjS4JTkM1Und6UHPTIDHQoVTJYSCkIJe0xMza4aOTu/pSQ7WzSDKxWfypb1r2uEGW/JrgIx4WfGyWVIV2XnDT5pR5fOB8HVkmGAcj\u002BrE4wgiLQ\u002BEIs5TcP8NFGPOtPv\u002BP2YjGfT9hGt9BvgsW9oW7XZZ46xqPyzMDmUEdNwBleN0LkB0odkTNJiUFxvWJxUU9ib9dMFPhABJVwuP6R\u002BPa3EUuC2JkkutRq8DxhgA9ddP746lFBESJKowO0rNg0uJFLuawX73i2Pr[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6c6a593c-ccb6-6669-e029-27c17e82459e/test-blob-1b067a92-b582-0c24-3c7e-4f8900460c1b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EDF2DB8C4\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "wj165QHV9Sc=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "FS8PTbnazwk2S4S21bhMFXaTnofbmRMdCigT\u002BvuOX8zDq5vpu2XbSSiedT9V0b06ViIdLH21b3wc8UKQxtQNqOu48ikdYlkQt1RfPSPUyDlq2aPZcTNPDjsfzckjS4JTkM1Und6UHPTIDHQoVTJYSCkIJe0xMza4aOTu/pSQ7WzSDKxWfypb1r2uEGW/JrgIx4WfGyWVIV2XnDT5pR5fOB8HVkmGAcj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6c6a593c-ccb6-6669-e029-27c17e82459e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "810228836",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
