{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79796f2e-4cd6-66c9-9ab9-4ace33c32801?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EFFA137F4\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79796f2e-4cd6-66c9-9ab9-4ace33c32801/test-blob-406cc88e-fa3e-4c96-b825-32a48cd563c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EFFAD56CF\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:56.2158287Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79796f2e-4cd6-66c9-9ab9-4ace33c32801/test-blob-406cc88e-fa3e-4c96-b825-32a48cd563c2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EFFAD56CF\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:56.2158287Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79796f2e-4cd6-66c9-9ab9-4ace33c32801/test-blob-406cc88e-fa3e-4c96-b825-32a48cd563c2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336EFFAD56CF\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "2WT41/lV1WimwN4bIuZg7SR08wBI0XA94VRCqFI1sUm/8Amgs73chF0SsNBEoz5bu4Zukl378Qf0u/alEywVcA+VXDHcwDlmmG6jNSGf+D4W5+3Mxx/rw/8Cq/jHNnEw/D/Br0YNfvpMB/nuWLzmVcK3jiw+SanvqZkx2hRAnmH9cjji3kn3CWjzf78l/WpDHFY2D6hE8bOV0QWt26TlC2mX8OaDA3Z4wIXES8nqyqwu7r29Co+5uYCFTQ1DSS7EDXRWjgyEvxjgvU8jgKbpqwdZf+zmJwDa3Tdl/rZpNXZW/z5VlDufqi6l3U0/ljnam6EG6cpB3uVzfLDVH8FidojYzIBnlBfLudS9QEmzmkf+imIUY0urFSFY4ReLyottQ2fFZsq4cgeKOi/1g52bwOFo1pRfTRM[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79796f2e-4cd6-66c9-9ab9-4ace33c32801/test-blob-406cc88e-fa3e-4c96-b825-32a48cd563c2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EFFBADC17\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:56.2158287Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADZZPjX+VXVaKbA3hsi5mDtJHTzAEjRcD3hVEKoUjWxSb/wCaCzvdyEXRKw0ESjPlu7hm6SXfvxB/S79qUTLBVwD5VcMdzAOWaYbqM1IZ/4Phbn7czHH+vD/wKr+Mc2cTD8P8GvRg1++kwH+e5YvOZVwreOLD5Jqe+pmTHaFECeYf1yOOLeSfcJaPN/vyX9akMcVjYPqETxs5XRBa3bpOULaZfw5oMDdnjAhcRLyerKrC7uvb0Kj7m5gIVNDUNJLsQNdFaODIS/GOC9TyOApumrB1l/7OYnANrdN2X+tmk1dlb/PlWUO5+qLqXdTT+WOdqboQbpykHe5XN[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79796f2e-4cd6-66c9-9ab9-4ace33c32801?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:54 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2144848759",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
