{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cb6296ed-5c4c-7aff-b586-b1ece1cb9375?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE4055FA6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cb6296ed-5c4c-7aff-b586-b1ece1cb9375/test-blob-4c639796-3999-a482-2bd3-cdaecae94cd9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE4150EF9\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cb6296ed-5c4c-7aff-b586-b1ece1cb9375/test-blob-4c639796-3999-a482-2bd3-cdaecae94cd9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE4150EF9\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cb6296ed-5c4c-7aff-b586-b1ece1cb9375/test-blob-4c639796-3999-a482-2bd3-cdaecae94cd9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EE4150EF9\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ia\u002BP7\u002BYqYwVSX8nfgccXjZGwqp6GkDGRrwXni4Zg/skTdhezmAYaF\u002BA/seMfY5s6rtRTU4673pF9/j/gQ9d\u002B8mAAzAuvZPWKlpK\u002BR99NcUtqrN2yDKo7V5eFNZnGOdMJwL\u002BCH5aPikrfyL37/ZeyL4zzdpb6zOW2xHVzKi5bxFy\u002BtIYfy1K12iKT00TtQFkA0wYN0sM9DvTZzFohHGAbgwRhPEgQkmQ6Ppt0Z/igyIQcclYoTfGYgaaRRf73k77Bd09AjAMQ70Gh05MnyKf8OQTWBakK8jYSyLuif0xmQqvdsu\u002BpYDyAC4IUh3pdcbj\u002BlQz5IY4Ut4UZLcNIbXD1O5DoSha4UtnHVfkm9Wu7tVYCpOo/bC[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cb6296ed-5c4c-7aff-b586-b1ece1cb9375/test-blob-4c639796-3999-a482-2bd3-cdaecae94cd9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE430AD20\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "Cjqff7ZdGbU=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:48:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "Ia\u002BP7\u002BYqYwVSX8nfgccXjZGwqp6GkDGRrwXni4Zg/skTdhezmAYaF\u002BA/seMfY5s6rtRTU4673pF9/j/gQ9d\u002B8mAAzAuvZPWKlpK\u002BR99NcUtqrN2yDKo7V5eFNZnGOdMJwL\u002BCH5aPikrfyL37/ZeyL4zzdpb6zOW2xHVzKi5bxFy\u002BtIYfy1K12iKT00TtQFkA0wYN0sM9DvTZzFohHGAbgwRhPEgQkmQ6Ppt0Z/igyIQcclYoTfGYgaaRRf73k77Bd09AjAMQ70Gh05MnyKf8OQTWBakK8jYSyLuif0xmQqvdsu\u002BpYDyAC4IUh3pdcbj\u002BlQz5IY4Ut4UZLcNIbXD1O5DoSha4UtnHVfkm9Wu7tVYCpOo/bCEcyPppjzJ4N54SH0zqdCehRUIzMcuU7sIaXXhtRsiGtc5vy4EbT8KmTx5bE9Ye0UAvYF\u002BnDDpViNo4TzK6C/HVjGp9eqimhvZ/jOKtONrs\u002B4w4PeVp3qiTGUOm4v\u002BQ7EQshodroFaXidpoJ39YqFAATFOlgc0Ma63B6WFl/6P276CegbFTgFo1obQKALYpO3Hzppas6mp2HxrZqrf1MYk3cjjeuSeercz4cOAYAWv2l63wclgNSgQ1J2GWedWjP28q045\u002BSoJJVPnJs3qKXh6v4hMJBb8xKig0qJLFBzP3VTBw7S3ceE0rph0="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cb6296ed-5c4c-7aff-b586-b1ece1cb9375?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1856798669",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
