{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c3c501f-6f22-88a8-8415-faa3f6d179be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE33C1C6C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c3c501f-6f22-88a8-8415-faa3f6d179be/test-blob-b562d68c-91e5-65ed-91ad-9d1e2a887dba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE34B2F4D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c3c501f-6f22-88a8-8415-faa3f6d179be/test-blob-b562d68c-91e5-65ed-91ad-9d1e2a887dba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE34B2F4D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c3c501f-6f22-88a8-8415-faa3f6d179be/test-blob-b562d68c-91e5-65ed-91ad-9d1e2a887dba?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EE34B2F4D\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "vPDW0XPJ3ayvHWpxlxT/YprIm8JVLulMjga//vnhMvJ09NeYS6m\u002BPlfPm7fka98QsRclI6R5jY0GikNtCt\u002Byzep4/KM8ZhbwCVxqhpIyZyInr0ziuw9N\u002B2ZKkcFmUTR4HM7MbG8700sANRlHDgf71CIgRlqS0BHbKgA98tRVibgo8mnEZvuy69sA4Yb1BuxfT72eRQva5Uy88EFu/uF2q6thHxudNm0nblp\u002Bke6L5SQU3aIWtkOtTg0dB3a5Q\u002B36ijbalOfQwhhQd9exW1NdMAodWiA\u002BX/Vos9AOfy/3bipshAe4sVE9RBuKxj9s/PK6wNZrnOnMuypBcuAWwULoWAisRNdLpH\u002B53xUFtJm1\u002B7fdU75YjNFBoMn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c3c501f-6f22-88a8-8415-faa3f6d179be/test-blob-b562d68c-91e5-65ed-91ad-9d1e2a887dba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE3671BB6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "53oYhtZiDek=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "vPDW0XPJ3ayvHWpxlxT/YprIm8JVLulMjga//vnhMvJ09NeYS6m\u002BPlfPm7fka98QsRclI6R5jY0GikNtCt\u002Byzep4/KM8ZhbwCVxqhpIyZyInr0ziuw9N\u002B2ZKkcFmUTR4HM7MbG8700sANRlHDgf71CIgRlqS0BHbKgA98tRVibgo8mnEZvuy69sA4Yb1BuxfT72eRQva5Uy88EFu/uF2q6thHxudNm0nblp\u002Bke6L5SQU3aIWtkOtTg0dB3a5Q\u002B36ijbalOfQwhhQd9exW1NdMAodWiA\u002BX/Vos9AOfy/3bipshAe4sVE9RBuKxj9s/PK6wNZrnOnMuypBcuAWwULoWAisRNdLpH\u002B53xUFtJm1\u002B7fdU75YjNFBoMnddz9wJ4LYoW02v7gbbhxXsrzUxwaQi3YpOG6EkMw3a6MObi0/SLiSLBIrfzz/wuSiANoUbdnCTOzIR\u002B4UVBGh/1QUDQDvGGkEQpr0ZQw6KXaJ4ZDyIv7KSyFAdgHJfdgBioDo67Tks\u002BhwECs\u002Bzufgjh14i3KBrtxVScHerqFoOsTC8tqMUj7BpC6ngRLTi306YOjjUfFlgNujkqHzBgVHCNVmfNsMUzzft\u002BZE2SzKgr5Eo025hOnSXHL\u002B6L\u002Bdzp4pYHk8bA6hLgyrA5oKIKev2A/jrmK3joPskyBpDWt8QuhIG3mzjhU="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c3c501f-6f22-88a8-8415-faa3f6d179be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "424834007",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
