{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed5f1e28-1dc1-a799-aae1-b7dc89318990?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D65CB7E95D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed5f1e28-1dc1-a799-aae1-b7dc89318990/test-blob-52311503-139e-25ee-e983-e80c3ce5d299",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D65CC68F8F\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed5f1e28-1dc1-a799-aae1-b7dc89318990/test-blob-52311503-139e-25ee-e983-e80c3ce5d299",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D65CC68F8F\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed5f1e28-1dc1-a799-aae1-b7dc89318990/test-blob-52311503-139e-25ee-e983-e80c3ce5d299?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D65CC68F8F\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "94MFNVEKPXCvO3Bm5BbDwtlKKfSGYqFtHj2g6mJ6lf/2f4tg4tEcqFc6d7MYyrBgLJMaRFRvMpThmBYTalMONaZwcGWLY+AHLYCdTOvuVVSNQL3OX1Grhkz2fkm7CD4DLEINp1pK1ciyEhbT0uap8kPChimVP9VUxOkZlOWXTCRCmSCo4a35Q2r1G0072LNlTYsG+IIUbuxsuONwMEHjG8bxkDjGABGWyEK/nyOIGes2tEZZkFOiLiszOyjJiRIpEgCGSUd6nkx6bzBAVc7J5J/3Onz6iopyT2INksXpzD4vlY0jAc+kuxX63yEjYtlcaleJ0k+WL4h1FPrlbQuHkKPxEL9ApePPU35mAKtpT+2IsChtYPrvmWYFrezVvk4Jck59MVEZHMR0un7QMC7dC8UNXLzjGTC[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed5f1e28-1dc1-a799-aae1-b7dc89318990/test-blob-52311503-139e-25ee-e983-e80c3ce5d299",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D65CD32B93\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD3gwU1UQo9cK87cGbkFsPC2Uop9IZioW0ePaDqYnqV//Z/i2Di0RyoVzp3sxjKsGAskxpEVG8ylOGYFhNqUw41pnBwZYtj4ActgJ1M6+5VVI1Avc5fUauGTPZ+SbsIPgMsQg2nWkrVyLISFtPS5qnyQ8KGKZU/1VTE6RmU5ZdMJEKZIKjhrflDavUbTTvYs2VNiwb4ghRu7Gy443AwQeMbxvGQOMYAEZbIQr+fI4gZ6za0RlmQU6IuKzM7KMmJEikSAIZJR3qeTHpvMEBVzsnkn/c6fPqKinJPYg2SxenMPi+VjSMBz6S7FfrfISNi2VxqV4nST5YviHUU+uVtC4eQo/EQv0Cl489TfmYAq2lP7YiwKG1g+u+ZZgWt7NW+TglyTn0xUR[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed5f1e28-1dc1-a799-aae1-b7dc89318990?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "319118828",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
