{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed9362b7-a4dd-e195-4070-0bc2978367db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D679AB36B2\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed9362b7-a4dd-e195-4070-0bc2978367db/test-blob-f5a5b92d-b730-b73f-f90d-5c15d1d0c104",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D679B6AA50\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed9362b7-a4dd-e195-4070-0bc2978367db/test-blob-f5a5b92d-b730-b73f-f90d-5c15d1d0c104",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D679B6AA50\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed9362b7-a4dd-e195-4070-0bc2978367db/test-blob-f5a5b92d-b730-b73f-f90d-5c15d1d0c104?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D679B6AA50\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "li7wjbrmJJw6OrFF6qx0LtF7w7J74fxHowdIQ4X9/b8g4VM/IRHUGcBrTKR2jGHAOWdZ37jFXLQxqOmyneEWPD3yJQlZNA2/pqrxEJVX0BemiAkdpB0GWoSeDXgnIXvfVA9nhGZYZwRZmTkO1Ewf2dfRDBTX+Jcf68qEuiaVmIQuEruF8EyxTSEFxAvk+IY3fjOgVhVmB1t4SJib06zdxAG038GRmumLIL/z0jSMO/NETTzz9EJvyApfDKezFXl1J/8KLxnEpeNKFTVVcjUn7A2lVoZv6tC/RBa3Mo1B1wtFfqs0ggvZgKhYqN4MGlXVNyCaDr7zBTwvSusCDXJWCD4qD/SK8mkBy9beF0LxsirB4fpspslNUnlvBTcf13M1AqCg4gpgSkW3mULnFe36PZjAQSt46WF[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed9362b7-a4dd-e195-4070-0bc2978367db/test-blob-f5a5b92d-b730-b73f-f90d-5c15d1d0c104",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D679C31F6C\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACWLvCNuuYknDo6sUXqrHQu0XvDsnvh/EejB0hDhf39vyDhUz8hEdQZwGtMpHaMYcA5Z1nfuMVctDGo6bKd4RY8PfIlCVk0Db+mqvEQlVfQF6aICR2kHQZahJ4NeCche99UD2eEZlhnBFmZOQ7UTB/Z19EMFNf4lx/ryoS6JpWYhC4Su4XwTLFNIQXEC+T4hjd+M6BWFWYHW3hImJvTrN3EAbTfwZGa6Ysgv/PSNIw780RNPPP0Qm/ICl8Mp7MVeXUn/wovGcSl40oVNVVyNSfsDaVWhm/q0L9EFrcyjUHXC0V+qzSCC9mAqFio3gwaVdU3IJoOvvMFPC9K6wINclYIPioP9IryaQHL1t4XQvGyKsHh+mymyU1SeW8FNx/XczUCoKDiCm[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ed9362b7-a4dd-e195-4070-0bc2978367db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:08 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1069516142",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
