{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-baeca4d2-ce83-fac0-9992-9acb27355ebf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D59E3907C\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-baeca4d2-ce83-fac0-9992-9acb27355ebf/test-blob-e390421a-79a0-23fc-bf6e-d0a5b3d18059",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D59ED8960\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-baeca4d2-ce83-fac0-9992-9acb27355ebf/test-blob-e390421a-79a0-23fc-bf6e-d0a5b3d18059",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D59ED8960\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-baeca4d2-ce83-fac0-9992-9acb27355ebf/test-blob-e390421a-79a0-23fc-bf6e-d0a5b3d18059?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D59ED8960\"",
        "x-ms-date": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "UemFBWUXdpHxJx0dA4yl9udWtCHk1EirkSryopKvOQyEzuJsHqbe/o6/mE8riEbrZbccNdy/GH2g2XM6JdP+Qu0QmTSpONdBeLWTJDv5gAnjBj3akgQvxLZly0Uzo9m7wVZiGu4SQizf270nLPNBp1lpVx6WI6/p4dV+RG2SDtTb12Pll2Ua0cQQ+7dGCJfCIyTryUy7JJ2meDgZk/6/TM3oS1SPXA/zT4VahSj4otk9vCBJp0SIILPGPh4sAD7FUa7qXrxCMscU+HnGYZ50rtZf29fedaWIYCuhyR3wxk5HlDR6DkQc+4lYNK7Lwb8UUY9IzSRm59sIYf2RoGmqIzErf8xq+qCSQuBNhUH3vZ5rjHeNqPkp4KxYcaxGi1ogrhB8n0HyqlfvtYpEGGGaEaRfJhPxHHs[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-baeca4d2-ce83-fac0-9992-9acb27355ebf/test-blob-e390421a-79a0-23fc-bf6e-d0a5b3d18059",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D59FA9A0E\"",
        "Last-Modified": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABR6YUFZRd2kfEnHR0DjKX251a0IeTUSKuRKvKikq85DITO4mwept7+jr+YTyuIRutltxw13L8YfaDZczol0/5C7RCZNKk410F4tZMkO/mACeMGPdqSBC/EtmXLRTOj2bvBVmIa7hJCLN/bvScs80GnWWlXHpYjr+nh1X5EbZIO1NvXY+WXZRrRxBD7t0YIl8IjJOvJTLsknaZ4OBmT/r9MzehLVI9cD/NPhVqFKPii2T28IEmnRIggs8Y+HiwAPsVRrupevEIyxxT4ecZhnnSu1l/b1951pYhgK6HJHfDGTkeUNHoORBz7iVg0rsvBvxRRj0jNJGbn2whh/ZGgaaojMSt/zGr6oJJC4E2FQfe9nmuMd42o+SngrFhxrEaLWiCuEHyfQf[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-baeca4d2-ce83-fac0-9992-9acb27355ebf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:11:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1327148091",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
