{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-657f76d5-8a9e-6ce8-d26f-161975d91cb6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2320AF0DC1\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-657f76d5-8a9e-6ce8-d26f-161975d91cb6/test-blob-2ecb8440-36ab-2781-dbef-36c008adf670",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2320B476F3\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:34.5275635Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-657f76d5-8a9e-6ce8-d26f-161975d91cb6/test-blob-2ecb8440-36ab-2781-dbef-36c008adf670",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C2320B476F3\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:34.5275635Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-657f76d5-8a9e-6ce8-d26f-161975d91cb6/test-blob-2ecb8440-36ab-2781-dbef-36c008adf670?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C2320B476F3\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "GBhBcCiHwwrK+LJXWK4rA4w/zg22RGz6TorBfnXmVqli7iIojXKuw6QYDVKPsw/XGFI48DvWjNOsRyGdxUWV46EI9GqMA3UakQppnjYZapt76mYirmVujGJOe0ZQEf5fgiqwh76lSxTcHV8wbO2cktyGItvecjU8mWgHPYcvyn8MChwMaePc1p5RRpAFPiB1sehpye4jgA/1dO1WnQ2MrFPfI2LQkCn5qkw8jSykNltHkoyfxgCR6YoMF/T1hTiRxJk8JRq9pCG/bx+i5vLjUD2SDguB7eZTTjrYxHg0BCQTqsiTaBBAiu5r4Fbg7gKXKce2Y3YtENey6dbg5d+oimv6jjwqUOgsUYQcFQ2QcmA3QZuxfqGu5prw4H46YKUOw1Xq5WDGbNjfiRHyEPrKInd2qKRE9gv[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-657f76d5-8a9e-6ce8-d26f-161975d91cb6/test-blob-2ecb8440-36ab-2781-dbef-36c008adf670",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C2320BCAB1F\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:34.5275635Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAYGEFwKIfDCsr4sldYrisDjD/ODbZEbPpOisF+deZWqWLuIiiNcq7DpBgNUo+zD9cYUjjwO9aM06xHIZ3FRZXjoQj0aowDdRqRCmmeNhlqm3vqZiKuZW6MYk57RlAR/l+CKrCHvqVLFNwdXzBs7ZyS3IYi295yNTyZaAc9hy/KfwwKHAxp49zWnlFGkAU+IHWx6GnJ7iOAD/V07VadDYysU98jYtCQKfmqTDyNLKQ2W0eSjJ/GAJHpigwX9PWFOJHEmTwlGr2kIb9vH6Lm8uNQPZIOC4Ht5lNOOtjEeDQEJBOqyJNoEECK7mvgVuDuApcpx7Zjdi0Q17L[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-657f76d5-8a9e-6ce8-d26f-161975d91cb6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1055765709",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
