{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78115aad-24db-689e-16f9-2adfaa39b773?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7267C688B2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78115aad-24db-689e-16f9-2adfaa39b773/test-blob-58ae2d3b-f0de-99e1-737a-2540a8a750c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7267D53117\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78115aad-24db-689e-16f9-2adfaa39b773/test-blob-58ae2d3b-f0de-99e1-737a-2540a8a750c5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7267D53117\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78115aad-24db-689e-16f9-2adfaa39b773/test-blob-58ae2d3b-f0de-99e1-737a-2540a8a750c5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F7267D53117\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "OSPV5flGOz8DRlN0RB5ow\u002BjYFMKK9z8h0nIlzuvmAusnwUbdfCtYhK1vvO0ncjzmIL2H7yR8k0HjtBOHIGxUHENoTYLYika9f5AUGjtS\u002BWA1P60tXhPHqy4E\u002BcgY0WNAGp\u002BpvyS6DZV3ym\u002BTZ3gFkbqyUeG\u002BJr4woKFU05F\u002Bpa0t1ACcqDo7ezEYtpSkM0S1/mcNZYCBgvTheR6DZToD\u002BCXBZpN4ael/dtawpnApi21cntQqcD8tq1EMuy8cuBX3FL1v4syxPZV\u002Bje\u002Bp0duDt\u002B2wJsdl2YfmlLpBbK25Y77AuZKyuqmgq2A/q\u002BNPg9p2iARBbJFNkTo2iE4Sb9HoxCox6BdJ0fxED3p[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78115aad-24db-689e-16f9-2adfaa39b773/test-blob-58ae2d3b-f0de-99e1-737a-2540a8a750c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7267EE8567\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA5I9Xl\u002BUY7PwNGU3REHmjD6NgUwor3PyHSciXO6\u002BYC6yfBRt18K1iErW\u002B87SdyPOYgvYfvJHyTQeO0E4cgbFQcQ2hNgtiKRr1/kBQaO1L5YDU/rS1eE8erLgT5yBjRY0Aan6m/JLoNlXfKb5NneAWRurJR4b4mvjCgoVTTkX6lrS3UAJyoOjt7MRi2lKQzRLX\u002BZw1lgIGC9OF5HoNlOgP4JcFmk3hp6X921rCmcCmLbVye1CpwPy2rUQy7Lxy4FfcUvW/izLE9lX6N76nR24O37bAmx2XZh\u002BaUukFsrbljvsC5krK6qaCrYD\u002Br40\u002BD2naIBEFskU2ROjaIThJv0ejEKjHoF0nR/EQPemc[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-78115aad-24db-689e-16f9-2adfaa39b773?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "994767578",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
