{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-172e556a-5a47-0978-3d88-6ca0b32ae57b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDAB75434E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-172e556a-5a47-0978-3d88-6ca0b32ae57b/test-blob-6ce12eed-037a-d204-e067-c1a726374749",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDAB834438\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-172e556a-5a47-0978-3d88-6ca0b32ae57b/test-blob-6ce12eed-037a-d204-e067-c1a726374749",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDAB834438\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-172e556a-5a47-0978-3d88-6ca0b32ae57b/test-blob-6ce12eed-037a-d204-e067-c1a726374749?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDAB834438\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "q5pcJ4j7QtzFt8RWXVEzEyft4fWxrsUfwHOi9qWx47o/ZXs7zjn2w3yccf5nIvMFg9W3pre75f3VPGcVWEw2FNQKFvfW+ETu9h15FDzGuJ1/nXLP+T0ChH99ZZHR4WsvZl0qXAz7LouQya+ZQtHAD4TJlbrZZhuXB5J3WJKzHBWySa3fm1uRhG/nPi+NaUGuvVYMB0uxVv9Ck1R6g9b43a2a5/gj4XMpOBFL8ijrCZ5QyZo8phTJAfOunAgHFwCY7mGC84JJitzi4886ZWTXV4m2Kbo7vDaY0OYFdURrISERsgPGaBYcBz++WcJFjpuO10V+Ue1FXDEq6iKcQxSXd8GtKbNgEO9zmSJ6fGN0U0FKd57+7NAzy1XSnH30f8QqJ+EAl2XoLsZWC7fLyuDNtZfgUcx2mIv[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-172e556a-5a47-0978-3d88-6ca0b32ae57b/test-blob-6ce12eed-037a-d204-e067-c1a726374749",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDAB9D82DB\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACrmlwniPtC3MW3xFZdUTMTJ+3h9bGuxR/Ac6L2pbHjuj9lezvOOfbDfJxx/mci8wWD1bemt7vl/dU8ZxVYTDYU1AoW99b4RO72HXkUPMa4nX+dcs/5PQKEf31lkdHhay9mXSpcDPsui5DJr5lC0cAPhMmVutlmG5cHkndYkrMcFbJJrd+bW5GEb+c+L41pQa69VgwHS7FW/0KTVHqD1vjdrZrn+CPhcyk4EUvyKOsJnlDJmjymFMkB866cCAcXAJjuYYLzgkmK3OLjzzplZNdXibYpuju8NpjQ5gV1RGshIRGyA8ZoFhwHP75ZwkWOm47XRX5R7UVcMSrqIpxDFJd3wa0ps2AQ73OZInp8Y3RTQUp3nv7s0DPLVdKcffR/xCon4QCXZe[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-172e556a-5a47-0978-3d88-6ca0b32ae57b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "913831334",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
