{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c0935f21-1f60-4970-56f2-77cb5f14f52d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D5CB09B42\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c0935f21-1f60-4970-56f2-77cb5f14f52d/test-blob-1f13bcc1-8b4c-fcb9-3ee1-579b7ae32edf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D5CBA998C\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c0935f21-1f60-4970-56f2-77cb5f14f52d/test-blob-1f13bcc1-8b4c-fcb9-3ee1-579b7ae32edf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D5CBA998C\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c0935f21-1f60-4970-56f2-77cb5f14f52d/test-blob-1f13bcc1-8b4c-fcb9-3ee1-579b7ae32edf?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D5CBA998C\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "fcgb7ndRSz02elBN8kVgHUUEpi3tY13jECgvbYOWgIc0Ia4gHr/70+bpW1RESwMpc0JNlEGyHxlqN95OId26oPrIGNGWP/+FCdJGAwgInsQlBflBSOtFgQKUtubgrLIIL7taezIxkzNDx4pvbBsRYZkZKRzkeFcOgpfPAYkZpF0gPdRMriKS83HF/oBh1hTmg1RMx4KVJLZjS/maYpGqKSMtTy9HxLN2hjWqHnrXrayC6H41zN3aihgd6WIp+JDgG9RdM4fln76g1kBM6gY7jJ1MF3kTdF1FU8QWKdtQTI6lygOmeXolnEnAlPacjaAS4VzF3eAWzaZ3F+DDz3XiUImxpyAClRIjJ3owU+BmqMUjA0d+i2+ujv1cLmGZYc3U3URs6uV/D0xKobVl5nnGEG8an8suY8Q[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c0935f21-1f60-4970-56f2-77cb5f14f52d/test-blob-1f13bcc1-8b4c-fcb9-3ee1-579b7ae32edf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D5CCC38E9\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB9yBvud1FLPTZ6UE3yRWAdRQSmLe1jXeMQKC9tg5aAhzQhriAev/vT5ulbVERLAylzQk2UQbIfGWo33k4h3bqg+sgY0ZY//4UJ0kYDCAiexCUF+UFI60WBApS25uCssggvu1p7MjGTM0PHim9sGxFhmRkpHOR4Vw6Cl88BiRmkXSA91EyuIpLzccX+gGHWFOaDVEzHgpUktmNL+ZpikaopIy1PL0fEs3aGNaoeetetrILofjXM3dqKGB3pYin4kOAb1F0zh+WfvqDWQEzqBjuMnUwXeRN0XUVTxBYp21BMjqXKA6Z5eiWcScCU9pyNoBLhXMXd4BbNpncX4MPPdeJQibGnIAKVEiMnejBT4GaoxSMDR36Lb66O/VwuYZlhzdTdRGzq5X[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c0935f21-1f60-4970-56f2-77cb5f14f52d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1075636721",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
