{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d26535f0-965b-2274-8a4a-a4e51b264bc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EDF5C990F\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d26535f0-965b-2274-8a4a-a4e51b264bc8/test-blob-129517c0-b3f0-92bc-9196-5b1fea0cfb66",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EDF6C4858\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d26535f0-965b-2274-8a4a-a4e51b264bc8/test-blob-129517c0-b3f0-92bc-9196-5b1fea0cfb66",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EDF6C4858\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d26535f0-965b-2274-8a4a-a4e51b264bc8/test-blob-129517c0-b3f0-92bc-9196-5b1fea0cfb66?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EDF6C4858\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "KHGyXlQoo2HRkj5qq3e6gPhzkkkHEQG\u002BIqbg2osIcZGkBdX2V/PcKy69aDQz4cn8WYRj7G8D3hdv9DytR8jWySCsxqWixCkEl2YaSqnMikDd44AHpIUioCe9hmK2L\u002BNl554ThhsjWpRaXlUI6ZNto2r70GNIzySbiSV\u002B5D7HTWiCtWIKuQMkuYnrrEYvGreTUOP4u1\u002BAHRh6ePz2pXZWkxHthTQxY\u002Blm1hbaXCLea29t6pRaz5IJApdKj0EGLhQSlBk1QpSDYuz5keRIpcH1nAyNiLrh/MR\u002B5IOc59OoX6gBx8cJqCja6oinYT2uwF3WVPI0eaZaMZhUtl4R53sYUDE7R9357PPjsp4xOpuGzyMlxpLgc\u002BYCp5YvtPLK[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d26535f0-965b-2274-8a4a-a4e51b264bc8/test-blob-129517c0-b3f0-92bc-9196-5b1fea0cfb66",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EDF880DA2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "sj6E3M01wv4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "KHGyXlQoo2HRkj5qq3e6gPhzkkkHEQG\u002BIqbg2osIcZGkBdX2V/PcKy69aDQz4cn8WYRj7G8D3hdv9DytR8jWySCsxqWixCkEl2YaSqnMikDd44AHpIUioCe9hmK2L\u002BNl554ThhsjWpRaXlUI6ZNto2r70GNIzySbiSV\u002B5D7HTWiCtWIKuQMkuYnrrEYvGreTUOP4u1\u002BAHRh6ePz2pXZWkxHthTQxY\u002Blm1hbaXCLea29t6pRaz5IJApdKj0EGLhQSlBk1QpSDYuz5keRIpcH1nAyNiLrh/MR\u002B5IOc59OoX6gBx8cJqCja6oinYT2uwF3WVPI0eaZaMZhUtl4R53sYUDE7R9357PPjsp4xOpuGzyMlxpLgc\u002BYCp5YvtPLKyQMNjhALcnmA3Wj/UcYIKfb9zeY66yDoONxLOZ9GyjcBGemaI6uKe12qpekq4SIf\u002BX6gMeYLj93iJVYzvzjZORIw/TfdbQVLclKJkEY3vla6LD8hpphQ9ooMuP5VV7sk0WvW\u002BePqQYx4Vb6Ugv6XqmYAeZL4t5N54Aet0bUH9RuXZL7aYcVyz\u002BqzqFHavHOLdA2XVd0oKxnYXBjcPXDXcV\u002Bi/B1AvEihjamnRQ5CnySTIVynb6A\u002BbjmkAgSslpF63DfyN79WS7jF9cczgOYKlr30SBsULwG\u002BZI7jm7pE9fcYLWg="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d26535f0-965b-2274-8a4a-a4e51b264bc8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "268595907",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
