{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5f8ae84-0868-3b80-0c6a-a53afda5e2c5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C231467CBD9\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5f8ae84-0868-3b80-0c6a-a53afda5e2c5/test-blob-1d44e169-e23e-688a-f616-cbc22b6a92ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C23146D5A3E\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:13.9288638Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5f8ae84-0868-3b80-0c6a-a53afda5e2c5/test-blob-1d44e169-e23e-688a-f616-cbc22b6a92ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C23146D5A3E\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:13.9288638Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5f8ae84-0868-3b80-0c6a-a53afda5e2c5/test-blob-1d44e169-e23e-688a-f616-cbc22b6a92ca?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C23146D5A3E\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "trKoi243f1BaxPXl3ZhmLiQZ5+oi0c3cmLSZSAK7iygPADEiNbodG5IytjO7xg4LhAJ0je+ICOXlzPO5nTdOnjjN1dxnRPlq+8xX7xuZIdKljsMAR/44h/dLPGjHZH1b5Bf67fAxoz8JCZIiMBnKTKogEw90Tlc6lE7lGwiQo5dP/AsDnjThdOqD9z1rFlbege+9plBt55bAwFiiS4g3eGb60zMOxq12P58k8FYZzn73B5oY0v1H4RV0Qt7bPyhiTH7XcUIjz7pCR2awSfY/p/HZqkTtHqVos/IemYTPmgB2wqPYQV071Dff1ouWlpgeNZvtAZTjdC7Yb75QBTY2c6xmOYZTZ2WTndYMDkga0RxZ/2To4Zlskk11/9Kf688BqGLfMF0Ry801WWS912Xmvp2h9gXRTZE[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5f8ae84-0868-3b80-0c6a-a53afda5e2c5/test-blob-1d44e169-e23e-688a-f616-cbc22b6a92ca",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C2314758E68\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:13.9288638Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC2sqiLbjd/UFrE9eXdmGYuJBnn6iLRzdyYtJlIAruLKA8AMSI1uh0bkjK2M7vGDguEAnSN74gI5eXM87mdN06eOM3V3GdE+Wr7zFfvG5kh0qWOwwBH/jiH90s8aMdkfVvkF/rt8DGjPwkJkiIwGcpMqiATD3ROVzqUTuUbCJCjl0/8CwOeNOF06oP3PWsWVt6B772mUG3nlsDAWKJLiDd4ZvrTMw7GrXY/nyTwVhnOfvcHmhjS/UfhFXRC3ts/KGJMftdxQiPPukJHZrBJ9j+n8dmqRO0epWiz8h6ZhM+aAHbCo9hBXTvUN9/Wi5aWmB41m+0BlON0Lth[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5f8ae84-0868-3b80-0c6a-a53afda5e2c5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:14 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1297907407",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
