{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-99d8656a-c346-6830-fb62-60dbd3caa02f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE27968B9\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-99d8656a-c346-6830-fb62-60dbd3caa02f/test-blob-3087cf1b-9919-e8bd-b295-a33945b9b854",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE28A028E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-99d8656a-c346-6830-fb62-60dbd3caa02f/test-blob-3087cf1b-9919-e8bd-b295-a33945b9b854",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE28A028E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-99d8656a-c346-6830-fb62-60dbd3caa02f/test-blob-3087cf1b-9919-e8bd-b295-a33945b9b854?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EE28A028E\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HZE6pveAOiASOQjg278QhP5Z0\u002Bg63OiJ6aTOuxIIfXx5\u002B1LHPLwQiLBvsQ0Q5C/RCbNMx0EEsUCosL1Ssn8NCbuMZt9tSUdCSUs4yyvbeAR0/LJevLY6dEoRHoz/vdUwYadRg31QZMBrCn71zOYVzDe43rXMr00FUvKVWyq7Qot1B2mDivWGJJfy8rE3RKdj/FJURt8fZLJaTDGLugmVsMfygMV9kkJCMbke2rybzQ1KMV/XZ/usVaO2KT7D\u002B2mNXELqRcTi5WkQERQlAYn2vn4kQIiqvkjLRSoix2kDfzZPkH55sYhJaEz1x1Xmh1QZv2u/nrrg4575Hv\u002BZvx4ADJLe1XEKfQz129c8tfbz5L7WCAf\u002BROB7bqzff5KJr6kt9brDCL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-99d8656a-c346-6830-fb62-60dbd3caa02f/test-blob-3087cf1b-9919-e8bd-b295-a33945b9b854",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:58 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "uGzDP\u002B4QwxGUN5\u002Bww9ehFw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE2A4DD95\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:47:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:47:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "HZE6pveAOiASOQjg278QhP5Z0\u002Bg63OiJ6aTOuxIIfXx5\u002B1LHPLwQiLBvsQ0Q5C/RCbNMx0EEsUCosL1Ssn8NCbuMZt9tSUdCSUs4yyvbeAR0/LJevLY6dEoRHoz/vdUwYadRg31QZMBrCn71zOYVzDe43rXMr00FUvKVWyq7Qot1B2mDivWGJJfy8rE3RKdj/FJURt8fZLJaTDGLugmVsMfygMV9kkJCMbke2rybzQ1KMV/XZ/usVaO2KT7D\u002B2mNXELqRcTi5WkQERQlAYn2vn4kQIiqvkjLRSoix2kDfzZPkH55sYhJaEz1x1Xmh1QZv2u/nrrg4575Hv\u002BZvx4ADJLe1XEKfQz129c8tfbz5L7WCAf\u002BROB7bqzff5KJr6kt9brDCLHiDkJeysPipC6nBjlBwrYWAcixY2bEK/15bCsuD788L9wM9PnFn3odmMp\u002BOHhYR\u002BzyFvPxEqVKHuNE5F2XtJRuatddNM68UWFOlMqbRfKEICQ/PPjMSxw3wdUWgLscheQ1EM2h\u002BxMeNcWRon7artjwv8M4WHicoR\u002B6JnP4ptCmMg7mZjUl4yURIAYzOqieXBL9JcD35CxsmW6t59WfJY/063Bv9Eiiy9yeJjdxaWd3G8lg\u002B4EPr03heszHd/xQcft3Pk83LmfJWlnkWb30\u002BjAHNssLPyoO5Dsijno="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-99d8656a-c346-6830-fb62-60dbd3caa02f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:47:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1981805276",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
