{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ae40b894-e2f0-4f4f-bb3c-9634e98247ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D65E63CA98\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ae40b894-e2f0-4f4f-bb3c-9634e98247ba/test-blob-356eeb58-fa02-4bd9-b28a-61e01d168572",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D65E7347D3\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ae40b894-e2f0-4f4f-bb3c-9634e98247ba/test-blob-356eeb58-fa02-4bd9-b28a-61e01d168572",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D65E7347D3\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ae40b894-e2f0-4f4f-bb3c-9634e98247ba/test-blob-356eeb58-fa02-4bd9-b28a-61e01d168572?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D65E7347D3\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "BVldKmvOvZkJuTuBbl1hPM2sUNPiFCOf9IpKBwswNyGdUuyUIkN/FVgGKd1YWbuSqLKxo//+PvA1vTbgg7WN2YEa4xxwzRqJLDp63OpGR5vPt19ZfpMinxP7XmQNnpGjeFBbPnWeItuYJ3fEhGIG7nWaEMtWNFru90MIdG61fI2o1mSa6wklMJWEwVccXRux9XDvco3FTEP1bUYxla1s46vpG639awNsdeA20nMD0ZooV3/+xQn/4oohpX3D9JroF92rM0Fus4lsg/2tj3rP8ZyrCT4ubR2i6Tgj3MaFqIBFTbqVWJ1ZuaT1kkILUVMPUbThF+pcuqrACUkIS9fD5tp8aEHAOpn+UlCaONvalpjlE4sRpJGW6JMP1E9UUG3MMatojukRThcb48SawoHO5nKxIjdMsUJ[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ae40b894-e2f0-4f4f-bb3c-9634e98247ba/test-blob-356eeb58-fa02-4bd9-b28a-61e01d168572",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D65E7F960D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAFWV0qa869mQm5O4FuXWE8zaxQ0+IUI5/0ikoHCzA3IZ1S7JQiQ38VWAYp3VhZu5KosrGj//4+8DW9NuCDtY3ZgRrjHHDNGoksOnrc6kZHm8+3X1l+kyKfE/teZA2ekaN4UFs+dZ4i25gnd8SEYgbudZoQy1Y0Wu73Qwh0brV8jajWZJrrCSUwlYTBVxxdG7H1cO9yjcVMQ/VtRjGVrWzjq+kbrf1rA2x14DbScwPRmihXf/7FCf/iiiGlfcP0mugX3aszQW6ziWyD/a2Pes/xnKsJPi5tHaLpOCPcxoWogEVNupVYnVm5pPWSQgtRUw9RtOEX6ly6qsAJSQhL18Pm2nxoQcA6mf5SUJo429qWmOUTixGkkZbokw/UT1RQbcwxq2iO6R[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ae40b894-e2f0-4f4f-bb3c-9634e98247ba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "245090256",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
