{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e53bcb2f-bce0-9021-87bb-ef6a003ae94a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D7677E8E7\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e53bcb2f-bce0-9021-87bb-ef6a003ae94a/test-blob-38cbc19d-0ea9-1a90-8ac6-299562ca256a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D7681DBBA\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e53bcb2f-bce0-9021-87bb-ef6a003ae94a/test-blob-38cbc19d-0ea9-1a90-8ac6-299562ca256a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D7681DBBA\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e53bcb2f-bce0-9021-87bb-ef6a003ae94a/test-blob-38cbc19d-0ea9-1a90-8ac6-299562ca256a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D7681DBBA\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "q2xTkdW5TZcMycUVJ6fp27LlOU8qfMxPhkBO6yiurabIV886WHc0eGN4X7SK8TJr+JNe3z+zEi6gAwuVamJvXhwfTc/XroM7sMHrsR0YxZUN4/KUUM5mFEWgmlRsnw0BCQGYaqRjk0kQIy5+yGAQiD12h4Zv2w1NuDmJNhQvzhGz6qgcf1rxqU+phC2f6EvkjxIW9heGkS7zSrJq2V004FQdyt649Ajjhd03xlbfrs/tpaYCGNj5LFh6KDSohtDydKPZgR5tK5sJM3E6T8vXE5zifTS2Msh7JJ2FPszTOv4NRVKzBiyxf3kL+ORnv92NohSYxQmbPEHaXl2A6O3ONflyLAp5Iw1vMP26qjrkE2XA+Ju3O3X1cQkQ2KjPMZeMPcLr9ZLSE38HKJQL4ZEH9kr3v+9SFvm[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e53bcb2f-bce0-9021-87bb-ef6a003ae94a/test-blob-38cbc19d-0ea9-1a90-8ac6-299562ca256a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D768F134F\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACrbFOR1blNlwzJxRUnp+nbsuU5Typ8zE+GQE7rKK6tpshXzzpYdzR4Y3hftIrxMmv4k17fP7MSLqADC5VqYm9eHB9Nz9eugzuwweuxHRjFlQ3j8pRQzmYURaCaVGyfDQEJAZhqpGOTSRAjLn7IYBCIPXaHhm/bDU24OYk2FC/OEbPqqBx/WvGpT6mELZ/oS+SPEhb2F4aRLvNKsmrZXTTgVB3K3rj0COOF3TfGVt+uz+2lpgIY2PksWHooNKiG0PJ0o9mBHm0rmwkzcTpPy9cTnOJ9NLYyyHsknYU+zNM6/g1FUrMGLLF/eQv45Ge/3Y2iFJjFCZs8QdpeXYDo7c41+XIsCnkjDW8w/bqqOuQTZcD4m7c7dfVxCRDYqM8xl4w9wuv1kt[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e53bcb2f-bce0-9021-87bb-ef6a003ae94a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1868836482",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
