{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c564afdc-975e-1156-7d3e-ce040f5184da?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72687AE47C\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c564afdc-975e-1156-7d3e-ce040f5184da/test-blob-43cf3c25-1912-efa7-ab4f-21df1a8d1cc9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F726889DAE4\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c564afdc-975e-1156-7d3e-ce040f5184da/test-blob-43cf3c25-1912-efa7-ab4f-21df1a8d1cc9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F726889DAE4\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c564afdc-975e-1156-7d3e-ce040f5184da/test-blob-43cf3c25-1912-efa7-ab4f-21df1a8d1cc9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F726889DAE4\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "W/nrEmBB6iH5Fd\u002Bahd8/ORB8c1E3KX8WTEvl\u002B5KPv6/1rhvXWBvyT9P4YUXCm4okdO4WE8J8LTJ61MYVXO6PaVYwpdfEaOH0iSR\u002BPsc6U7HAwIekeazseIHoXYNV3fPkafjukvWzXwsMIYme/e5rQIAVVJtn6vCpQy1W3Atdn6wwmtXOS8G7DWB7l1ciTnqSfRwDQIlXfH8HRE/IXIMAr4LdbWMZnPS/WUY761KYh/Syw17uWl8j2R1WxgZy87DceujVReEWeOEoROZCHJEsb71aFZkkElUiuZRGw9XtTWWVXnBqwkETm0t9xRV44LyMKVdJF90XuGiTsoxN0LULOvaBrL4gwqx8RnpOp0w/qtjXupp9pDWHfqYI1w\u002B1xsqWcYse9jT\u00[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c564afdc-975e-1156-7d3e-ce040f5184da/test-blob-43cf3c25-1912-efa7-ab4f-21df1a8d1cc9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7268A37D40\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABb\u002BesSYEHqIfkV35qF3z85EHxzUTcpfxZMS\u002BX7ko\u002B/r/WuG9dYG/JP0/hhRcKbiiR07hYTwnwtMnrUxhVc7o9pVjCl18Ro4fSJJH4\u002BxzpTscDAh6R5rOx4gehdg1Xd8\u002BRp\u002BO6S9bNfCwwhiZ797mtAgBVUm2fq8KlDLVbcC12frDCa1c5LwbsNYHuXVyJOepJ9HANAiVd8fwdET8hcgwCvgt1tYxmc9L9ZRjvrUpiH9LLDXu5aXyPZHVbGBnLzsNx66NVF4RZ44ShE5kIckSxvvVoVmSQSVSK5lEbD1e1NZZVecGrCQRObS33FFXjgvIwpV0kX3Re4aJOyjE3QtQs69oGsviDCrHxGek6nTD\u[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c564afdc-975e-1156-7d3e-ce040f5184da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1008610290",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
