{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d8bc58ff-854e-2721-98d9-8d5d7fa78944?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D5E9507EC\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d8bc58ff-854e-2721-98d9-8d5d7fa78944/test-blob-56458dac-65f5-5b5f-121c-3f9513dd1202",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D5EA305E8\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d8bc58ff-854e-2721-98d9-8d5d7fa78944/test-blob-56458dac-65f5-5b5f-121c-3f9513dd1202",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D5EA305E8\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d8bc58ff-854e-2721-98d9-8d5d7fa78944/test-blob-56458dac-65f5-5b5f-121c-3f9513dd1202?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D5EA305E8\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Sem9nLNhLkG6hNnPQfz47zRQKZJKymWOHPrEWW4T/3XBi9tE6wiJ0r0bBFv5e0oYyV9X6F8qbX6EL4C4nNXSp4VkDrUhswMsxlbUL8UJlKGwrJAOuxYVlh5cwLyH0TboSF3WlGyV9xVbKiIJVT65eprfCO9ExOtuT3eXxPNHpPUg7OZnMwA0GrV6spH0DEHgo0UiqMlGo4RyZ0X0/jIiFIUt6GlXUUaaq+06yhFaekM2tiCuJPwr2khi9My6PxyCWJ4LxyPXiFL+iPzcC9lyGO0CvkcRc++JAQ0h9Vx632vQt3JzT7IfXy7Or5z/T85v79zfuIHVcOSugsUVtpL1hKmRC1Rn/8k64l8ZQ8RTibE/sgZ/mybq+0aNxczsCaib2SvzbkR6B/ATpNYiuy0gW/kU1gSMdei[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d8bc58ff-854e-2721-98d9-8d5d7fa78944/test-blob-56458dac-65f5-5b5f-121c-3f9513dd1202",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D5EB06456\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABJ6b2cs2EuQbqE2c9B/PjvNFApkkrKZY4c+sRZbhP/dcGL20TrCInSvRsEW/l7ShjJX1foXyptfoQvgLic1dKnhWQOtSGzAyzGVtQvxQmUobCskA67FhWWHlzAvIfRNuhIXdaUbJX3FVsqIglVPrl6mt8I70TE625Pd5fE80ek9SDs5mczADQatXqykfQMQeCjRSKoyUajhHJnRfT+MiIUhS3oaVdRRpqr7TrKEVp6Qza2IK4k/CvaSGL0zLo/HIJYngvHI9eIUv6I/NwL2XIY7QK+RxFz74kBDSH1XHrfa9C3cnNPsh9fLs6vnP9Pzm/v3N+4gdVw5K6CxRW2kvWEqZELVGf/yTriXxlDxFOJsT+yBn+bJur7Ro3FzOwJqJvZK/NuRH[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d8bc58ff-854e-2721-98d9-8d5d7fa78944?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1407999351",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
