{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4cef1f65-e95c-602d-c215-21533ccf8313?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7265AE7DE1\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4cef1f65-e95c-602d-c215-21533ccf8313/test-blob-3aeb47fb-5f77-7c19-25b3-14a4d121aebe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7265BD9D61\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4cef1f65-e95c-602d-c215-21533ccf8313/test-blob-3aeb47fb-5f77-7c19-25b3-14a4d121aebe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7265BD9D61\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4cef1f65-e95c-602d-c215-21533ccf8313/test-blob-3aeb47fb-5f77-7c19-25b3-14a4d121aebe?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F7265BD9D61\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Wz9OSeHEToKVU4o0vW2gUUjJPOkQPQopx1qXG8kdfaqK42R/IYJ2UwQ8sLZXImbyAMcjVdu0Nx01JYKGLDO5d9XgqtkIIDDFUujk1I1U0qT0pRoB\u002BSjP1axGSvwA7ybRgzjgd3iM6eCXXQLy0GOQ4FLekocZuH6tENUtwtY0xWPCE1FVc1ssZ7s6aZsl3QRItmmpIV2et8u6M2ajXyYJYpefL70SOm33sirM307ihzLQ5AxsiqQGI1uFm0D0iQiUMAYEhq1HNnv8sW8y0th816s00noandjzmAxhjJ8sAygiN69H3gGFia6QcNk01FCDCMOVwLaOepMuEO2h5arc0K5HEJspNfmqrkjMii3\u002Bv8S73oPblkNxk70bGM4T5KQEs58r7cO1WtPK6xFuwu9mM[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4cef1f65-e95c-602d-c215-21533ccf8313/test-blob-3aeb47fb-5f77-7c19-25b3-14a4d121aebe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7265D718A9\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABbP05J4cROgpVTijS9baBRSMk86RA9CinHWpcbyR19qorjZH8hgnZTBDywtlciZvIAxyNV27Q3HTUlgoYsM7l31eCq2QggMMVS6OTUjVTSpPSlGgH5KM/VrEZK/ADvJtGDOOB3eIzp4JddAvLQY5DgUt6Shxm4fq0Q1S3C1jTFY8ITUVVzWyxnuzppmyXdBEi2aakhXZ63y7ozZqNfJglil58vvRI6bfeyKszfTuKHMtDkDGyKpAYjW4WbQPSJCJQwBgSGrUc2e/yxbzLS2HzXqzTSehqd2POYDGGMnywDKCI3r0feAYWJrpBw2TTUUIMIw5XAto56ky4Q7aHlqtzQrkcQmyk1\u002BaquSMyKLf6/xLveg9uWQ3GTvRsYzhPkpASzn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4cef1f65-e95c-602d-c215-21533ccf8313?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1500129372",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
