{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ec679cfe-0abb-77b5-131d-cf8ec72d8acb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EFB4FD9B0\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ec679cfe-0abb-77b5-131d-cf8ec72d8acb/test-blob-538efbce-bcbd-3d87-233f-6f5ec9fd524f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EFB5B91B7\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:48.9690551Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ec679cfe-0abb-77b5-131d-cf8ec72d8acb/test-blob-538efbce-bcbd-3d87-233f-6f5ec9fd524f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EFB5B91B7\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:48.9690551Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ec679cfe-0abb-77b5-131d-cf8ec72d8acb/test-blob-538efbce-bcbd-3d87-233f-6f5ec9fd524f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336EFB5B91B7\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "CPkNuzb63G/dRn+Yz1oMIxA0qjKsaEPFRut4Ss/tmkvfglJx4lBk6bgRREF8GaUWEpvAUnYPC5+2R3VLgZGg8KwzuU0Hm0HAz8F5miQCSSxGYTgzLEfUz3azu5rbGWcncVSVSF9XD3daAIK1lnF7s/1IBCBZbMNkXunXVN+m5LZZUinPbAHN7lLA2SvFHzkFNweckhRHzgSQMel2gLuXtBvLXENHq0f8exbOmJOYnj+v0hzYCVKiEYQkPzsYVm6WKCQQ+cP1vYvAoBf+eTVw+JKpx62ev6rJKEq/ImwL5CWnN29uiKR8uRSRF2k7pJdOs0aobo/B+Gl6RtB4NZoetLzyVkLFAnDtLQ2YDadBjoSycW8mYnWV5j4F9EHTA4R6cmOsSU1ViLHWu0CBKOvCOLhMxsQr+FJ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ec679cfe-0abb-77b5-131d-cf8ec72d8acb/test-blob-538efbce-bcbd-3d87-233f-6f5ec9fd524f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EFB6A7529\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:48.9690551Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAI+Q27Nvrcb91Gf5jPWgwjEDSqMqxoQ8VG63hKz+2aS9+CUnHiUGTpuBFEQXwZpRYSm8BSdg8Ln7ZHdUuBkaDwrDO5TQebQcDPwXmaJAJJLEZhODMsR9TPdrO7mtsZZydxVJVIX1cPd1oAgrWWcXuz/UgEIFlsw2Re6ddU36bktllSKc9sAc3uUsDZK8UfOQU3B5ySFEfOBJAx6XaAu5e0G8tcQ0erR/x7Fs6Yk5ieP6/SHNgJUqIRhCQ/OxhWbpYoJBD5w/W9i8CgF/55NXD4kqnHrZ6/qskoSr8ibAvkJac3b26IpHy5FJEXaTukl06zRqhuj8H4aXp[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ec679cfe-0abb-77b5-131d-cf8ec72d8acb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "708877071",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
