{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13f22572-6d6e-f8e0-9cc0-c085fe8f3f62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EA31C2671\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13f22572-6d6e-f8e0-9cc0-c085fe8f3f62/test-blob-5e0453c1-ec68-a3ba-2322-4367c72853b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EA32B38F1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13f22572-6d6e-f8e0-9cc0-c085fe8f3f62/test-blob-5e0453c1-ec68-a3ba-2322-4367c72853b9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EA32B38F1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13f22572-6d6e-f8e0-9cc0-c085fe8f3f62/test-blob-5e0453c1-ec68-a3ba-2322-4367c72853b9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EA32B38F1\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "kmSEX3/UuVzCxE18eiwtbfCGsgXqSc9iaJ5n/xEnGYV5rCJmqnC6/j9JMs4mex1e5pZLjY1zXEiVIvfhbLpKmqvIA84KxsJ/y7TGoBcAPOyBCRh73Iv4BU/Z0Ih52ZGE/pcjXnhOVCDUy8LYrbsxlOYKX2Ohz74fz/1/MPU6BfEiQaJ/3d5zM7T4pxDJH1iTqDyibnou4i7ZBI57zyQqmcbRtmsZsbcHlyuuqSiuVrCk64e5mJd39F5zptlP\u002BGSQzQ1K92jteveEmtdOgDkGKq3d1uOccQEuWcIMpQveuJ7HHdsbZF5Ht3CQNf7AKHMlbXsrciKA9FwLG56m4NXspeI4hmJd6sZPlR9yDDsDbjFO5zePs0V8Ryl\u002BD0jAodebo48ch6ERx4K13NwCDecgB[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13f22572-6d6e-f8e0-9cc0-c085fe8f3f62/test-blob-5e0453c1-ec68-a3ba-2322-4367c72853b9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EA34613E2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "/OBd1jBWVe8=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "kmSEX3/UuVzCxE18eiwtbfCGsgXqSc9iaJ5n/xEnGYV5rCJmqnC6/j9JMs4mex1e5pZLjY1zXEiVIvfhbLpKmqvIA84KxsJ/y7TGoBcAPOyBCRh73Iv4BU/Z0Ih52ZGE/pcjXnhOVCDUy8LYrbsxlOYKX2Ohz74fz/1/MPU6BfEiQaJ/3d5zM7T4pxDJH1iTqDyibnou4i7ZBI57zyQqmcbRtmsZsbcHlyuu[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13f22572-6d6e-f8e0-9cc0-c085fe8f3f62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1632759481",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
