{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a95468c0-7f92-4fc9-42c4-bd401e67afe5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE74DD329\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a95468c0-7f92-4fc9-42c4-bd401e67afe5/test-blob-7315800a-ea4d-23f0-8203-873e513957b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE76C9DCD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a95468c0-7f92-4fc9-42c4-bd401e67afe5/test-blob-7315800a-ea4d-23f0-8203-873e513957b2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE76C9DCD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a95468c0-7f92-4fc9-42c4-bd401e67afe5/test-blob-7315800a-ea4d-23f0-8203-873e513957b2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EE76C9DCD\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "D7Pi/8\u002BJ0b/K0apKamxHv2FE/MGbUv/TXpjeAjYu\u002B33u201ToGOquooMkRXyHd85xAoNQ4SWnb20DqA3qs\u002BJnNYtW48f8x7\u002BmUE3j8Dp4EG4pT4rILf5WD2Pn5HCcw\u002B7gvU\u002BxcFPGtDsD6lCXw78yi1ffgWRXnseNANSj1SNOyYyewzKqhuAaIptPxAOtvgvk9RjYvQJKiR5H5C9/Yt7XtOCEOQBMR8S3xV7Ix5rEH0LIvx/KdgxKFDnUYuKwmv\u002B8eA9i6UULWG1UYPfjQcFDg4TstqP/DT6UOiTGuCUhx2qfTE\u002BLoXY9vWaythVUppJ4UJ8dxCQbvWrQjq9gROAIMlmNBDWx\u002BCJOrvl9DJcpf5NSTieGB[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a95468c0-7f92-4fc9-42c4-bd401e67afe5/test-blob-7315800a-ea4d-23f0-8203-873e513957b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "IRqEk9vJM9x7JqL//fKzWA==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE7888A17\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "D7Pi/8\u002BJ0b/K0apKamxHv2FE/MGbUv/TXpjeAjYu\u002B33u201ToGOquooMkRXyHd85xAoNQ4SWnb20DqA3qs\u002BJnNYtW48f8x7\u002BmUE3j8Dp4EG4pT4rILf5WD2Pn5HCcw\u002B7gvU\u002BxcFPGtDsD6lCXw78yi1ffgWRXnseNANSj1SNOyYyewzKqhuAaIptPxAOtvgvk9RjYvQJKiR5H5C9/Yt7XtOCEOQBMR8S3xV7Ix5rEH0LIvx/KdgxKFDnUYuKwmv\u002B8eA9i6UULWG1UYPfjQcFDg4TstqP/DT6UOiTGuCUhx2qfTE\u002BLoXY9vWaythVUppJ4UJ8dxCQbvWrQjq9gROAIMlmNBDWx\u002BCJOrvl9DJcpf5NSTieGBAMGQ48kutLGnXhGqkP7x2Jcxph8jxVqnrCT5w8cDfb4gi4WRsCmjT0PSBFBNqJTLbgw9YdPCXTt2\u002BUeUNPD6o9BjehVpUCh9nmbLUcD6afOQLmXKxhvaXi5aKsbSDxpS52B/2j5/Ug3Tv8N89wt6fI9D9AaLP93EmRvnHzVhm49MeGpQeo/FENxX5wZYXWci3643ngsDx7eCu0ESmDLYYhQ0II6RGgH/juM6M0jXbDu0tE\u002BHOg2ESKCy3c9OooiZf4TiFCzYkbWsOA8n2ZRuq08FXdPzUTgWv\u002Bfd3kwyoNxqkLOz5Vge7CKJ4="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a95468c0-7f92-4fc9-42c4-bd401e67afe5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "586372626",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
