{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b831e99-807d-a247-3308-28925659a320?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F84357DD5BF\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b831e99-807d-a247-3308-28925659a320/test-blob-b9c9f3e8-5801-9079-4f3a-b31878ddd0ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F84358C7C4C\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b831e99-807d-a247-3308-28925659a320/test-blob-b9c9f3e8-5801-9079-4f3a-b31878ddd0ae",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84358C7C4C\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b831e99-807d-a247-3308-28925659a320/test-blob-b9c9f3e8-5801-9079-4f3a-b31878ddd0ae?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F84358C7C4C\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "uIcLQFfSm6euy93ru\u002B3z56VqnxufwsDwquhbAtUlVvrcqqEmQCJmIKASMpTmN42yRzWl9xSae/XHGpVudpnSiXXiDhFLzKaDBH57jZArCnNbqLqggF7lQi6sXyaM96oGQKgeAyl8Z3uOIfKWHu5lmw8iE83eMgkW/Mvin21/9gzUdE3nDQZJ30E/EV5sTyRARsQWauTcKA2fCAZdmccODivmwaqhfY4J2DOMnyCrqqynolipaYsn\u002BEs/SAX/7EV6MQIzhY55n8k1DZKwUInt811ZtfdvZaWfv8leYTSICevuEW4deCUeLgKOc1v5dqfCUlSnpTdNCstdk8XEGj2UrQOmwj4az3s3Oob04PJJpUghnA/g4GOzoAaiwORfWhPF\u002BsZYU7Npp4PYcGqx[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b831e99-807d-a247-3308-28925659a320/test-blob-b9c9f3e8-5801-9079-4f3a-b31878ddd0ae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8435A6BB17\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAC4hwtAV9Kbp67L3eu77fPnpWqfG5/CwPCq6FsC1SVW\u002BtyqoSZAImYgoBIylOY3jbJHNaX3FJp79ccalW52mdKJdeIOEUvMpoMEfnuNkCsKc1uouqCAXuVCLqxfJoz3qgZAqB4DKXxne44h8pYe7mWbDyITzd4yCRb8y\u002BKfbX/2DNR0TecNBknfQT8RXmxPJEBGxBZq5NwoDZ8IBl2Zxw4OK\u002BbBqqF9jgnYM4yfIKuqrKeiWKlpiyf4Sz9IBf/sRXoxAjOFjnmfyTUNkrBQie3zXVm1929lpZ\u002B/yV5hNIgJ6\u002B4Rbh14JR4uAo5zW/l2p8JSVKelN00Ky12TxcQaPZStA6bCPhrPezc6hvTg8kmlSCGcD\u002BDgY7OgBqLA5F9aE8X6xlhTs2mng9hwarFYKtkT7n2ifi60zJ/yITd4DpfY4HIv5izxUpS49IwHcPgCSNzIrfbit5WXRfm4YJIyLnVAl4o\u002BKEStIpvo6omirFum79lasGCh9SjdmKAyOPEChsUWxthuxB\u002BYGota\u002Bs0L9ZieEXG4134Un6JhYJCje\u002Bmq5WTEi\u002BaCOCq6wpbVR/tb0aMHkyeASq5HAic2DGOP9J6irxVpR2myHNlG/hToP1emBo/snOjCKZq1fIi\u002BSyvHK873M5fm8ok5VHZNOkuaX8LPkAbUole134V6s8vg9NCuf3RNEuSR4nVhdE0S5JHidWE="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b831e99-807d-a247-3308-28925659a320?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "809317036",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
