{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d3c57844-f828-c7bf-18a0-8bb359cbec3c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D65EF0079E\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d3c57844-f828-c7bf-18a0-8bb359cbec3c/test-blob-23b3ad01-7d75-40e6-bef5-ae62ab94daf1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D65EFF80D1\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d3c57844-f828-c7bf-18a0-8bb359cbec3c/test-blob-23b3ad01-7d75-40e6-bef5-ae62ab94daf1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D65EFF80D1\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d3c57844-f828-c7bf-18a0-8bb359cbec3c/test-blob-23b3ad01-7d75-40e6-bef5-ae62ab94daf1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D65EFF80D1\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "rx4hPC/sXVDxSVR2gBSpfyu+IPW6uj1oVWCmZYjz27/b5/v/eDicpgbAQLQpkJq37uxn4Z/h1fXguebPRvjI/m2Um5gYqQfyIXru+nqIPsXF73abi/kf+hEGHr5SzWAN+EFHlPUCnkTldMAl89t6V3shCVaCLHJ0daGHEotIoFMa4AI5QanPw1Aythc5+gY1i8ZDMMQJi8vO0h9Ueoy5nNNsChLZQRbRUUUGUHVbOnuaUYbEBG+PEVQ2am6Ke0jEeBpEze/zXEqwct9+AjtWc5ikuikF9Jdj3Pm+o9anR9b9QddbF22LpvU7E5KQEQ4Z4PfW5cEfvoOC4PD1Nbh0CSoIgcFj+lwrGBMzyuEE0svrpMLf0GEV3YJT2DZ8lXA8xgpnh5BMteWaq8yt6/SifQ0lCpD2lTj[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d3c57844-f828-c7bf-18a0-8bb359cbec3c/test-blob-23b3ad01-7d75-40e6-bef5-ae62ab94daf1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D65F0D062E\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACvHiE8L+xdUPFJVHaAFKl/K74g9bq6PWhVYKZliPPbv9vn+/94OJymBsBAtCmQmrfu7Gfhn+HV9eC55s9G+Mj+bZSbmBipB/Iheu76eog+xcXvdpuL+R/6EQYevlLNYA34QUeU9QKeROV0wCXz23pXeyEJVoIscnR1oYcSi0igUxrgAjlBqc/DUDK2Fzn6BjWLxkMwxAmLy87SH1R6jLmc02wKEtlBFtFRRQZQdVs6e5pRhsQEb48RVDZqbop7SMR4GkTN7/NcSrBy334CO1ZzmKS6KQX0l2Pc+b6j1qdH1v1B11sXbYum9TsTkpARDhng99blwR++g4Lg8PU1uHQJKgiBwWP6XCsYEzPK4QTSy+ukwt/QYRXdglPYNnyVcDzGCmeHkE[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d3c57844-f828-c7bf-18a0-8bb359cbec3c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:23 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2122407516",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
