{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6b5bb452-456e-3087-66c6-c03e0cc3fffe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D5B018D7D\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6b5bb452-456e-3087-66c6-c03e0cc3fffe/test-blob-f1ee3a35-3355-ac4c-6c3e-39fdd130bf11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D5B0C5CAA\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6b5bb452-456e-3087-66c6-c03e0cc3fffe/test-blob-f1ee3a35-3355-ac4c-6c3e-39fdd130bf11",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D5B0C5CAA\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6b5bb452-456e-3087-66c6-c03e0cc3fffe/test-blob-f1ee3a35-3355-ac4c-6c3e-39fdd130bf11?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D5B0C5CAA\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "X730KBLCzD7G2CfQhaS6hT3UjDIMMqzktaOtzPeN2J3ny4S47GDZ7g15BngZyQaoxpYi1BmE5ywRD3JuFABGOACK6bkgApnd+50lkiw0y+ucBAZhawSDYuNXp9zuatoMM814j+BMiMT8Rdh7X1X/3ESG0Q/55M37BobVyFq87pHDGF9fuzwLT3xCZSYrCAOOV8qYaJjKE08AfIhad79pP1dHt0b2oCEIe4GTt3+n0P6CR3CQJIX4+QUPXz+0sNi92CXP5FC8mLepkO0WN1vPWayJ1y9O2BvRTr5B5kHiU8qo1d5Z1+uuxa6555OY4cKpPwaSKtmpbgAK/ZWRe7J2xzwjbWF9doHA2xGAlPGHOWz8mKY6Tynx/2beT9pWHEr8QyBXdXNhLMmF0k/HKNoOgsQoleILO3c[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6b5bb452-456e-3087-66c6-c03e0cc3fffe/test-blob-f1ee3a35-3355-ac4c-6c3e-39fdd130bf11",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D5B1E97A8\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABfvfQoEsLMPsbYJ9CFpLqFPdSMMgwyrOS1o63M943YnefLhLjsYNnuDXkGeBnJBqjGliLUGYTnLBEPcm4UAEY4AIrpuSACmd37nSWSLDTL65wEBmFrBINi41en3O5q2gwzzXiP4EyIxPxF2HtfVf/cRIbRD/nkzfsGhtXIWrzukcMYX1+7PAtPfEJlJisIA45XyphomMoTTwB8iFp3v2k/V0e3RvagIQh7gZO3f6fQ/oJHcJAkhfj5BQ9fP7Sw2L3YJc/kULyYt6mQ7RY3W89ZrInXL07YG9FOvkHmQeJTyqjV3lnX667Frrnnk5jhwqk/BpIq2aluAAr9lZF7snbHPCNtYX12gcDbEYCU8Yc5bPyYpjpPKfH/Zt5P2lYcSvxDIFd1c2[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6b5bb452-456e-3087-66c6-c03e0cc3fffe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1717094798",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
