{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f368bd2-e05e-1698-6a04-d2c1cf14e09d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868557550C5E\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f368bd2-e05e-1698-6a04-d2c1cf14e09d/test-blob-36a8f527-3c2c-4ff6-d8dd-580abdab016d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868557E8DED8\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f368bd2-e05e-1698-6a04-d2c1cf14e09d/test-blob-36a8f527-3c2c-4ff6-d8dd-580abdab016d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868557E8DED8\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:04:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f368bd2-e05e-1698-6a04-d2c1cf14e09d/test-blob-36a8f527-3c2c-4ff6-d8dd-580abdab016d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC868557E8DED8\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AuCMzc6kxcs9IfqjvdTxCdC8g+kuL/LRuYmuyw73ra13fMFE1GZGmCEac4hFs/Zeru6GqmRbeNPtuhNE9vq9RXNMK0ESrDRpderIE7tpjAaSUBwgcQNJHAPuVhpTAaImXS4V+Ie1SwK6HDR5k2UXhC4NsqbdnNRwAg8+JFUaFnNIobWNVJN+3AQaZlTP0Iid1tLsRU/8ScBZpfV4dyasnwXAMfKwii+aj9WhwjZ/oDKGoE6DLdEkS1f0M6+dBWXdbsZPD5+W7UyjUbV5W4eK2QTD8dbYKXE0m+Wau1Z//Ilvw1NwMJGT77MB39wbqvDPalmr2hSPBEVUG3O5/DH2JFUsCZczGalzLwEj10mVGPD0ylH80yF14L4OHBUd2fOCC7uH76BZnFCwN6sSbC37vgKCxTHf+lA[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f368bd2-e05e-1698-6a04-d2c1cf14e09d/test-blob-36a8f527-3c2c-4ff6-d8dd-580abdab016d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868558020A06\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "XagCTQAd+jA=",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:04:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "AuCMzc6kxcs9IfqjvdTxCdC8g+kuL/LRuYmuyw73ra13fMFE1GZGmCEac4hFs/Zeru6GqmRbeNPtuhNE9vq9RXNMK0ESrDRpderIE7tpjAaSUBwgcQNJHAPuVhpTAaImXS4V+Ie1SwK6HDR5k2UXhC4NsqbdnNRwAg8+JFUaFnNIobWNVJN+3AQaZlTP0Iid1tLsRU/8ScBZpfV4dyasnwXAMfKwii+aj9Wh[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f368bd2-e05e-1698-6a04-d2c1cf14e09d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "823767532",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
