{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a12eda5c-0a19-d072-6e0b-829fb4222a9a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDAC28180B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a12eda5c-0a19-d072-6e0b-829fb4222a9a/test-blob-56eb8b9f-00db-caf3-00d0-af9ecb3b1d93",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDAC366719\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a12eda5c-0a19-d072-6e0b-829fb4222a9a/test-blob-56eb8b9f-00db-caf3-00d0-af9ecb3b1d93",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDAC366719\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a12eda5c-0a19-d072-6e0b-829fb4222a9a/test-blob-56eb8b9f-00db-caf3-00d0-af9ecb3b1d93?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDAC366719\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yWIW7mgAbfMf0UEwFhVgKDk3M4AVUeJy8YyOy7bUnM3cEZMNL+Pia8YZuea/atRop4qtiF+LzHeApP3ccqE9SjR0VAWBU/hVVMi6+5j7soa4JiMrJhRtUEQbjIvmBfkk3G6ySxXO5lSSWDOX0dHfhfF2JEx9ESQgBgTBZcZsbk7PlR4pSGdx6T/PmM3g1n5zPAaacOGtp8tKkUQQDYCNJurkyDuytjyKBDoMrnhWQC+GTim/0v1tIu5T3rYiYNy/QXLj+w5CwIbKEGumoPhS9FEVir9WzVTsd6ZNXtiFZ6ReTWwGckQhQ42j9cGRxoH2AelkDdYcaHMe9oNo9WKuRKjHR1OLTIEN9Ecys9iSW7AkV13uIFrNQuT553zAuE0q9bEZyX8tarVnVxmO6rSbjJvTQ54FvyN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a12eda5c-0a19-d072-6e0b-829fb4222a9a/test-blob-56eb8b9f-00db-caf3-00d0-af9ecb3b1d93",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDAC500976\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADJYhbuaABt8x/RQTAWFWAoOTczgBVR4nLxjI7LttSczdwRkw0v4+Jrxhm55r9q1Giniq2IX4vMd4Ck/dxyoT1KNHRUBYFT+FVUyLr7mPuyhrgmIysmFG1QRBuMi+YF+STcbrJLFc7mVJJYM5fR0d+F8XYkTH0RJCAGBMFlxmxuTs+VHilIZ3HpP8+YzeDWfnM8Bppw4a2ny0qRRBANgI0m6uTIO7K2PIoEOgyueFZAL4ZOKb/S/W0i7lPetiJg3L9BcuP7DkLAhsoQa6ag+FL0URWKv1bNVOx3pk1e2IVnpF5NbAZyRCFDjaP1wZHGgfYB6WQN1hxocx72g2j1Yq5EqMdHU4tMgQ30RzKz2JJbsCRXXe4gWs1C5PnnfMC4TSr1sRnJfy[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a12eda5c-0a19-d072-6e0b-829fb4222a9a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "159303759",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
