{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ce70e5e4-e2cf-b688-8808-78ec403bf842?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F843A6BDF2F\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ce70e5e4-e2cf-b688-8808-78ec403bf842/test-blob-4ecb0d43-e7d0-63da-04c1-14f521cc323d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F843A7C828F\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ce70e5e4-e2cf-b688-8808-78ec403bf842/test-blob-4ecb0d43-e7d0-63da-04c1-14f521cc323d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F843A7C828F\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ce70e5e4-e2cf-b688-8808-78ec403bf842/test-blob-4ecb0d43-e7d0-63da-04c1-14f521cc323d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F843A7C828F\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "euYgo20SgDNi0RbUweFPwXsdcvrz\u002Bo7KwtbSmsojKHQumy2BpurtZ8YTm\u002BIn1k20UCTkWdHRkX9XVuCXQOVoP6mipia0zRqRLwo04F\u002Bro\u002ByIHUmmPs6jXAmtKVAJVibgq1w5hDAnAIIKUyrGnbEgrLL0DiObwgHa/0odBqTJh9jkUzUCch68YRzGnOqk3b5XjXydFUcCROhbXoTlCfreQMxR4Ul8HTqTN60G1CUWNiKLxngnK3KQ4Q9MpxOZ1lci6FweUvt12nBCCd2a/G/CRChiWkOBthRZwQA6MHYm\u002BmFV4\u002BzJ\u002BOMmFusH5CKV9uWfiWLqN3wUoDJHxJH7Oqn6HA98RRiD\u002BUxEPENXetHyxMoamqcUO8LkQEO[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ce70e5e4-e2cf-b688-8808-78ec403bf842/test-blob-4ecb0d43-e7d0-63da-04c1-14f521cc323d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F843A9B2E23\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAB65iCjbRKAM2LRFtTB4U/Bex1y\u002BvP6jsrC1tKayiModC6bLYGm6u1nxhOb4ifWTbRQJORZ0dGRf1dW4JdA5Wg/qaKmJrTNGpEvCjTgX6uj7IgdSaY\u002BzqNcCa0pUAlWJuCrXDmEMCcAggpTKsadsSCssvQOI5vCAdr/Sh0GpMmH2ORTNQJyHrxhHMac6qTdvleNfJ0VRwJE6FtehOUJ\u002Bt5AzFHhSXwdOpM3rQbUJRY2IovGeCcrcpDhD0ynE5nWVyLoXB5S\u002B3XacEIJ3Zr8b8JEKGJaQ4G2FFnBADowdib6YVXj7Mn44yYW6wfkIpX25Z\u002BJYuo3fBSgMkfEkfs6qfocD3xFGIP5TEQ8Q1d60fLEyhqapxQ7wuRAQ7qBM1Ir20INyBIYsMwckBam\u002Bzi9JmBVAMbgoALm4E2XBdXJdxjyEGgUbAnfqxpOfhb9lcesghxZLDOLSjs/J\u002BjFgav3Uhj9s\u002BrPqLlWdVWskiHr6EqF64K4b0rlZsYt1UUhGipuViv\u002B/\u002BLc3NliArbd37cZUz\u002BdP5UoP\u002BPOGEwjotN0NVoqPTv27ehoqA6pVWyTB4cOE4EFg9uURRdIL\u002BeVuTkF7s1csqJ7ImZWNZaHf\u002Bl2OhHFFY5Sb7J/lvckrb0B0u/Uo2efN1TkkvEbrk1EDcYu0vXWz6Ors38a3ByqV3WoVWOnsvI4fMfdF5TV8jh8x90XlNU="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ce70e5e4-e2cf-b688-8808-78ec403bf842?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "480730820",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
