{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2328c425-ad55-ec5a-33f2-c9654ff87af4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDD13E273F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2328c425-ad55-ec5a-33f2-c9654ff87af4/test-blob-11e0f51e-0303-dd82-c2d4-1727d93118f4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDD14F0491\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2328c425-ad55-ec5a-33f2-c9654ff87af4/test-blob-11e0f51e-0303-dd82-c2d4-1727d93118f4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDD14F0491\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2328c425-ad55-ec5a-33f2-c9654ff87af4/test-blob-11e0f51e-0303-dd82-c2d4-1727d93118f4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDD14F0491\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "y+lv9j/bUcm7MoOWdc4BqsyjdIdjAmzL5AinYzSCEJRYI8ACGS7mFnbLvVWRrzBmHH26QZffssh9pBI3M+6VOCLvPVIN/5GdvF4Ql0UWOTTYQUa3x879eHD4hXUcr+KINoQzonHeWR3sHIQ4zxqDZmrdX/Gn3XBT8cXhFXkbgQ17h2HA45fD+ugoyqtKxKhVdB4KPk/w4FgT4LCr/ESj0Jp2vEi5w4LTGmUJfxLFCSwci6BbEUO+iqYIrALmF/2jhPoQ0wdgnLCbNiTq5mFFTteDj3GjSL5XuDGhsBaA7AJnZvoYtDUku+/vv9of06RFw14rY4iMADs7uRrWv+uaG0khgoBmLZmhXtOBs4nkN+SNXO23VIl622W/3PsaTvwEVaOQ/VAj3pbFiQS1CkyxV4E1SGL94sb[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2328c425-ad55-ec5a-33f2-c9654ff87af4/test-blob-11e0f51e-0303-dd82-c2d4-1727d93118f4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDD16AC9D1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADL6W/2P9tRybsyg5Z1zgGqzKN0h2MCbMvkCKdjNIIQlFgjwAIZLuYWdsu9VZGvMGYcfbpBl9+yyH2kEjcz7pU4Iu89Ug3/kZ28XhCXRRY5NNhBRrfHzv14cPiFdRyv4og2hDOicd5ZHewchDjPGoNmat1f8afdcFPxxeEVeRuBDXuHYcDjl8P66CjKq0rEqFV0Hgo+T/DgWBPgsKv8RKPQmna8SLnDgtMaZQl/EsUJLByLoFsRQ76KpgisAuYX/aOE+hDTB2CcsJs2JOrmYUVO14OPcaNIvle4MaGwFoDsAmdm+hi0NSS77++/2h/TpEXDXitjiIwAOzu5Gta/65obSSGCgGYtmaFe04GzieQ35I1c7bdUiXrbZb/c+xpO/ARVo5D9UC[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2328c425-ad55-ec5a-33f2-c9654ff87af4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1644148721",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
