{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7d74b94-7a40-3db2-5e03-6bf4b6225bd8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE4ED7585\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7d74b94-7a40-3db2-5e03-6bf4b6225bd8/test-blob-95a834b9-d013-9e99-fd5d-d60b6c1fb3d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EE4FE0F3D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7d74b94-7a40-3db2-5e03-6bf4b6225bd8/test-blob-95a834b9-d013-9e99-fd5d-d60b6c1fb3d4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE4FE0F3D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:48:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7d74b94-7a40-3db2-5e03-6bf4b6225bd8/test-blob-95a834b9-d013-9e99-fd5d-d60b6c1fb3d4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EE4FE0F3D\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "J3aYnIDri9ueHsoAqyJD68kyBump9CUJLfOsbnbhtT/CRmiE2524AkGdyZScxIZVg1YC0ZaT3zJQjm6MPh1lvWmKPWS6vxAregSoDCqRbGhsVusg3\u002BOpLmc1M0wuK8MjNwwrEYcim8NF1leS69MIvyEGH\u002BgyRN2F4Q78hIvD/E5AhdQeZlvgSrsn2giMFkOTLXMqKAvb8fMupTB5JRY3gdkIUWb/6lnGJdUsC2rV\u002BcrKaVcYmdRCZZPh78AqZiSl71gug8XdlEIZYwI2ruWIWatlr7y\u002BH\u002BgFxuvSHvqZm76xhxsRpnYF7dQV/jXRDLeuWJUUxbdn5s9wKbzZCnZHgMdDhSbJd7M1YMHnqSCyM7o0JMZlhNYHSaFLoXy5K\u002BJez[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7d74b94-7a40-3db2-5e03-6bf4b6225bd8/test-blob-95a834b9-d013-9e99-fd5d-d60b6c1fb3d4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:02 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "ZK4RRwACXG52lJxxuUnq7A==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EE519AD8A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:48:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "J3aYnIDri9ueHsoAqyJD68kyBump9CUJLfOsbnbhtT/CRmiE2524AkGdyZScxIZVg1YC0ZaT3zJQjm6MPh1lvWmKPWS6vxAregSoDCqRbGhsVusg3\u002BOpLmc1M0wuK8MjNwwrEYcim8NF1leS69MIvyEGH\u002BgyRN2F4Q78hIvD/E5AhdQeZlvgSrsn2giMFkOTLXMqKAvb8fMupTB5JRY3gdkIUWb/6lnGJdUsC2rV\u002BcrKaVcYmdRCZZPh78AqZiSl71gug8XdlEIZYwI2ruWIWatlr7y\u002BH\u002BgFxuvSHvqZm76xhxsRpnYF7dQV/jXRDLeuWJUUxbdn5s9wKbzZCnZHgMdDhSbJd7M1YMHnqSCyM7o0JMZlhNYHSaFLoXy5K\u002BJezX1ujYeR5ODi32T2gD2vvvUCpeav4vzwPDuFftY2fDXfidyiRKYyo0DlgqVyEMljnOKHtoX7ruqBfVFLC2YKrGIvF/ZhDHlPzwKmyWBXfityIeHzrsWv49rxIcdU55fZ29VCQvnSApBpOOaCVeSKKf4l2OmEFv2dfzQcb\u002Buy\u002BuhrzO6KFTsyoB9RinbeLY31Z/fILw6tVcXXpMPFtZKltj3\u002BF4j2/xTC8zjKMoyHvlKmJwjz6crZvXcps3B4bOuMrNM54BYF/mjjBjzW4yI4UOZxH42KscxyJFkRzUyjSYY="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7d74b94-7a40-3db2-5e03-6bf4b6225bd8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "82660408",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
