{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-fda84b6b-51a3-e7c5-c072-905178b98b43?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D65D4838F1\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-fda84b6b-51a3-e7c5-c072-905178b98b43/test-blob-7b0cc833-2d9f-96f0-e92a-438cdf0b6722",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D65D52EF73\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-fda84b6b-51a3-e7c5-c072-905178b98b43/test-blob-7b0cc833-2d9f-96f0-e92a-438cdf0b6722",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D65D52EF73\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-fda84b6b-51a3-e7c5-c072-905178b98b43/test-blob-7b0cc833-2d9f-96f0-e92a-438cdf0b6722?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D65D52EF73\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "CBfvD1OiLfJwcFI9ESko+VIyy8GJ1QS/UWvQufEAAlf8WZSn1xAK44o9Rc4yZQzr+Y6IA4ipXTITML3n0XMAb276QbeUgCFBJ+c3S5A2jOxe5cBid//PUvtilKZTIxEWPdVfOCRUVnhtRtugchKh3KTRiOyynfdvK+68Mux67gTWIA671lPICo5I9TEjLuDpwLcCgpolZJ/d8A01mCSL8ljWylIE5gZQCH5daajGS/wN03I0eGtqsLtu3eZGknFqvALYTWSO5dqxsXkbx/r3FqQRJ8WyV3rtbBmWlQgfCnYM862l7v6Xfu2Xg8bxTunAd8dBNWqst2WI6+BL+FDRkacDD9NNUSimeanXGtSz+x4w1R1B3tULYDtHHAIdTIadxvEf7j4VcyWem7vB1Z2R1PDCGyIykLP[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-fda84b6b-51a3-e7c5-c072-905178b98b43/test-blob-7b0cc833-2d9f-96f0-e92a-438cdf0b6722",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D65D5F648F\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:58:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAIF+8PU6It8nBwUj0RKSj5UjLLwYnVBL9Ra9C58QACV/xZlKfXEArjij1FzjJlDOv5jogDiKldMhMwvefRcwBvbvpBt5SAIUEn5zdLkDaM7F7lwGJ3/89S+2KUplMjERY91V84JFRWeG1G26ByEqHcpNGI7LKd928r7rwy7HruBNYgDrvWU8gKjkj1MSMu4OnAtwKCmiVkn93wDTWYJIvyWNbKUgTmBlAIfl1pqMZL/A3TcjR4a2qwu27d5kaScWq8AthNZI7l2rGxeRvH+vcWpBEnxbJXeu1sGZaVCB8KdgzzraXu/pd+7ZeDxvFO6cB3x0E1aqy3ZYjr4Ev4UNGRpwMP001RKKZ5qdca1LP7HjDVHUHe1QtgO0ccAh1Mhp3G8R/uPh[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-fda84b6b-51a3-e7c5-c072-905178b98b43?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:58:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "428083910",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
