{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-68196d1e-d5f1-f704-7688-a48cec919ee2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D67A44B962\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-68196d1e-d5f1-f704-7688-a48cec919ee2/test-blob-ac7b6d42-6aeb-b23c-8a33-7aef8e9132e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D67A4FA631\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-68196d1e-d5f1-f704-7688-a48cec919ee2/test-blob-ac7b6d42-6aeb-b23c-8a33-7aef8e9132e6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D67A4FA631\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-68196d1e-d5f1-f704-7688-a48cec919ee2/test-blob-ac7b6d42-6aeb-b23c-8a33-7aef8e9132e6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D67A4FA631\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "ieNXiQU438TCXOzn14Hz0C4ut0L3OGzvCxRYsVJ+a+hiivkgTtBxm8vVoxkKm+0L+Db9I9ple1B2aH3x4C1yRPEEhEyH0oJevBt2IpVT5W8mTLkbgEgN/A6oqeZSf7udYl8nBhehhCa0n2a/71m7IoMOypN0VsOp9og93iicDD1g2L81K95YhMiSZ+HhTg217YZiQ7UnKQybfhCOZKX9F5IpXhaZhfaktkXL4e7hx6d7h/GhOciHOK+zma3OySAilFBOuO/2HGeQvo1vW0gdurdoE9yzXN7KoSZm5etJ1ewlqEyekg+3hGuKEXo7GNxnlt/1ZbZDbzhxhBbJkDZ7RuigSbP7fieosY9xKUtjjohK/08MVHA24jkULA347fM1D8uSms4paxe3TbMm0UbtDvWNf5DmbvF[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-68196d1e-d5f1-f704-7688-a48cec919ee2/test-blob-ac7b6d42-6aeb-b23c-8a33-7aef8e9132e6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D67A5C1B54\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACJ41eJBTjfxMJc7OfXgfPQLi63Qvc4bO8LFFixUn5r6GKK+SBO0HGby9WjGQqb7Qv4Nv0j2mV7UHZoffHgLXJE8QSETIfSgl68G3YilVPlbyZMuRuASA38Dqip5lJ/u51iXycGF6GEJrSfZr/vWbsigw7Kk3RWw6n2iD3eKJwMPWDYvzUr3liEyJJn4eFODbXthmJDtScpDJt+EI5kpf0XkileFpmF9qS2Rcvh7uHHp3uH8aE5yIc4r7OZrc7JICKUUE647/YcZ5C+jW9bSB26t2gT3LNc3sqhJmbl60nV7CWoTJ6SD7eEa4oRejsY3GeW3/VltkNvOHGEFsmQNntG6KBJs/t+J6ixj3EpS2OOiEr/TwxUcDbiORQsDfjt8zUPy5Kazi[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-68196d1e-d5f1-f704-7688-a48cec919ee2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:59:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "370412481",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
