{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-250af6b6-ed25-1172-3cc0-89e00f314601?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2313A1254B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-250af6b6-ed25-1172-3cc0-89e00f314601/test-blob-eec77ec3-6a80-9e22-305b-672073e466fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2313A6CA63\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:12.6275683Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-250af6b6-ed25-1172-3cc0-89e00f314601/test-blob-eec77ec3-6a80-9e22-305b-672073e466fa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C2313A6CA63\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:12.6275683Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-250af6b6-ed25-1172-3cc0-89e00f314601/test-blob-eec77ec3-6a80-9e22-305b-672073e466fa?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C2313A6CA63\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "6tCKfAbxaSNlYKzj0/ZPq9du6PP07MmaERd6eD8VHwnzKpDxB2wTBrIa9djdG1kph6ikG4db+/0H72vvd/HkT0Gj76lmXaNrWuFB2ffxvPW9UPCXcAOBmC+S6hcAJI/ANqWWOiywwyoEOcClGSEGFjJ1MScATN89IVd503OLajZSgKNRWoLJDIzGkjZD3H4OjNTli/NnwOnGWRnVN/C2eM+KUph9tLuwqySaObmo+UXYa0efpt5C6sC6iwBp9NWcEBpnuInmkNcYNeDPzYYvHV/T/cyoFtLwR2fYwym7RrdP/imfQUG78dpwh3H+cx05im6glfcI8/lIdnEhDs2uXO4of89cj9seFwvxOI9g8tNKnji7GrHARgowV8vQmuMNwiqD1fNO3PuSgn3rFrpp54Od12+U8kI[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-250af6b6-ed25-1172-3cc0-89e00f314601/test-blob-eec77ec3-6a80-9e22-305b-672073e466fa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C2313AF2571\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:12.6275683Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADq0Ip8BvFpI2VgrOPT9k+r127o8/TsyZoRF3p4PxUfCfMqkPEHbBMGshr12N0bWSmHqKQbh1v7/Qfva+938eRPQaPvqWZdo2ta4UHZ9/G89b1Q8JdwA4GYL5LqFwAkj8A2pZY6LLDDKgQ5wKUZIQYWMnUxJwBM3z0hV3nTc4tqNlKAo1FagskMjMaSNkPcfg6M1OWL82fA6cZZGdU38LZ4z4pSmH20u7CrJJo5uaj5RdhrR5+m3kLqwLqLAGn01ZwQGme4ieaQ1xg14M/Nhi8dX9P9zKgW0vBHZ9jDKbtGt0/+KZ9BQbvx2nCHcf5zHTmKbqCV9wjz+Uh[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-250af6b6-ed25-1172-3cc0-89e00f314601?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1800664696",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
