{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1750cc47-a6b5-b07c-4f0c-5020aeb77fdc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0450F1F5EC\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1750cc47-a6b5-b07c-4f0c-5020aeb77fdc/test-blob-b45f10c1-3aaa-79b1-525e-bff474eafc96",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0450FFB276\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1750cc47-a6b5-b07c-4f0c-5020aeb77fdc/test-blob-b45f10c1-3aaa-79b1-525e-bff474eafc96",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0450FFB276\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1750cc47-a6b5-b07c-4f0c-5020aeb77fdc/test-blob-b45f10c1-3aaa-79b1-525e-bff474eafc96?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB0450FFB276\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HGUiUdFlBp6NtZflYntpk6tLWDuYl8cTFEnXqfXn8c2gLOXimhAzY2yBWl7+MrhsuSCsXVn0f4SdDjyHjlyopcPKRDaVh/ibF/XOFj1pFOGRavDVO5RzrKxgRIvTrNUP2LSaNO6C1jInEUZkJWlHNPlb9SNs02ovVpiJNEJtx2sgvj6IzuDzD5O+rSpOD4ZDGRCSeLaxowRKa91V+KHvuknaQ2cqvmUYZ+aQriY/4UcSRRsy20+0bhs5PmMDnhbxzvPgc8sfGFureRDPIfXeComWQrKGvd/6JtRL8YABFcnPnt8yXm578y2/hmE+5E0lWzPZbVtjahAU5k320yfbqWRHAIIVq6wbGk+FxjZ9u0GHJZVMKKdtazTOHngghB8F5N399uTLD6+HvVIM3qPalioLb62RjoG[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1750cc47-a6b5-b07c-4f0c-5020aeb77fdc/test-blob-b45f10c1-3aaa-79b1-525e-bff474eafc96",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0451184395\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:23:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAcZSJR0WUGno21l+Vie2mTq0tYO5iXxxMUSdep9efxzaAs5eKaEDNjbIFaXv4yuGy5IKxdWfR/hJ0OPIeOXKilw8pENpWH+JsX9c4WPWkU4ZFq8NU7lHOsrGBEi9Os1Q/YtJo07oLWMicRRmQlaUc0+Vv1I2zTai9WmIk0Qm3HayC+PojO4PMPk76tKk4PhkMZEJJ4trGjBEpr3VX4oe+6SdpDZyq+ZRhn5pCuJj/hRxJFGzLbT7RuGzk+YwOeFvHO8+Bzyx8YW6t5EM8h9d4KiZZCsoa93/om1EvxgAEVyc+e3zJebnvzLb+GYT7kTSVbM9ltW2NqEBTmTfbTJ9upZEcAghWrrBsaT4XGNn27QYcllUwop21rNM4eeCCEHwXk3f325M[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1750cc47-a6b5-b07c-4f0c-5020aeb77fdc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "340110253",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
