{
  "Entries": [
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-3bb60baf-00f1-abb2-84a2-74577bbf44dc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2026 17:04:49 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DECE24DD82E907\"",
        "Last-Modified": "Fri, 19 Jun 2026 17:04:46 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-3bb60baf-00f1-abb2-84a2-74577bbf44dc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2026 17:04:49 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "525968086",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzontestcett\nU2FuaXRpemVk\nhttps://jalauzontestcett.blob.core.windows.net\nhttps://jalauzontestcett.file.core.windows.net\nhttps://jalauzontestcett.queue.core.windows.net\nhttps://jalauzontestcett.table.core.windows.net\n\n\n\n\nhttps://jalauzontestcett-secondary.blob.core.windows.net\nhttps://jalauzontestcett-secondary.file.core.windows.net\nhttps://jalauzontestcett-secondary.queue.core.windows.net\nhttps://jalauzontestcett-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzontestcett.blob.core.windows.net/;QueueEndpoint=https://jalauzontestcett.queue.core.windows.net/;FileEndpoint=https://jalauzontestcett.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzontestcett-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzontestcett-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzontestcett-secondary.file.core.windows.net/;AccountName=jalauzontestcett;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
