{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-345f6edc-1fbf-1c4c-c972-3a2eea855aab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D7B01FBE6\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-345f6edc-1fbf-1c4c-c972-3a2eea855aab/test-blob-0f27ec63-7275-6077-6881-972a81d01af6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D7B0C0C05\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-345f6edc-1fbf-1c4c-c972-3a2eea855aab/test-blob-0f27ec63-7275-6077-6881-972a81d01af6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D7B0C0C05\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-345f6edc-1fbf-1c4c-c972-3a2eea855aab/test-blob-0f27ec63-7275-6077-6881-972a81d01af6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7D7B0C0C05\"",
        "x-ms-date": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "U1ORTPPtGkPtVxiE6mdOT17xGU9RdlguSMpUt3AK+msx2pB66MhVJ4Hw9vspSoXITNkYHJe6CN37YwMpmWPS4l2tUw/X02aVm/HNYX9cBf5Ei2qX8t3Ud9Kyf4XELI4dHRSee/d28XlzgoGl7KZen10E5Q35O+9/2Ns9JFTg0G9jsERqvokHzpnxJHBcLosrVN8nwEaAJOIlHqMbOc0kkrERQjxi8+DU/BZzBxd/I6lPEc90uRAo4othRZ/l7JXMzJG+SuxPyWD+U8MwDRzLpfv5yyf9r9mg6WCwAa5B7hCBpzuFwNi9AEhvdWZM+NRulZ+k7CBtzx24HWCMnseyvWSzrmXhRuUiPMvfjTlyVPGLQmsPnALvE9cdzKJ4MWKAvbgBmUlvjE+5gq9VjkHkRclvAFtcoyF[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-345f6edc-1fbf-1c4c-c972-3a2eea855aab/test-blob-0f27ec63-7275-6077-6881-972a81d01af6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7D7B18F5D0\"",
        "Last-Modified": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABTU5FM8+0aQ+1XGITqZ05PXvEZT1F2WC5IylS3cAr6azHakHroyFUngfD2+ylKhchM2Rgcl7oI3ftjAymZY9LiXa1TD9fTZpWb8c1hf1wF/kSLapfy3dR30rJ/hcQsjh0dFJ5793bxeXOCgaXspl6fXQTlDfk773/Y2z0kVODQb2OwRGq+iQfOmfEkcFwuiytU3yfARoAk4iUeoxs5zSSSsRFCPGLz4NT8FnMHF38jqU8Rz3S5ECjii2FFn+XslczMkb5K7E/JYP5TwzANHMul+/nLJ/2v2aDpYLABrkHuEIGnO4XA2L0ASG91Zkz41G6Vn6TsIG3PHbgdYIyex7K9ZLOuZeFG5SI8y9+NOXJU8YtCaw+cAu8T1x3MongxYoC9uAGZSW[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-345f6edc-1fbf-1c4c-c972-3a2eea855aab?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:12:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1132447724",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
