{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f6d4dd5a-7220-6539-ee59-ef5109c956a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F725FB196EB\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f6d4dd5a-7220-6539-ee59-ef5109c956a2/test-blob-057dc82d-9eb0-6e22-67d8-d97396742a78",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F725FC01FA8\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f6d4dd5a-7220-6539-ee59-ef5109c956a2/test-blob-057dc82d-9eb0-6e22-67d8-d97396742a78",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F725FC01FA8\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f6d4dd5a-7220-6539-ee59-ef5109c956a2/test-blob-057dc82d-9eb0-6e22-67d8-d97396742a78?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F725FC01FA8\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "px7zPO639hJFA60PubAHLvUO8r77zS6H4ZHcmeosEzJ\u002BiuE/yybxqFS7Q3B/uWjgAy52riTTM9nva1td21woGfB6kS7Ox2POHUlqP4q\u002BCCcp/JW7tmUNqlcHUF/LlM34kyqABCg6ETzLp5DaafNPMGM0M9/GbGKKbefWxncDA4l8cqxfPgP/7\u002BpZ8A7UMkFkuB/7l2DuMSbH9ZdBY0vEx6MHXvZH7/JgNET0bHxUtjqlcg5YB2wpjkCGmElrvouflShqzNRKHcgsm2Ib\u002BcWpcz5dm/E8bMA33s\u002B2wFep9Ha4VddU6eplW1VGK2wJDZV73CULDiKaYihnM\u002B4FlFxxg6brYqPuVYlT90Cb9kFULtE5O\u002BQxneZTHvOu7Lb8[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f6d4dd5a-7220-6539-ee59-ef5109c956a2/test-blob-057dc82d-9eb0-6e22-67d8-d97396742a78",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F725FD9744A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACnHvM87rf2EkUDrQ\u002B5sAcu9Q7yvvvNLofhkdyZ6iwTMn6K4T/LJvGoVLtDcH\u002B5aOADLnauJNMz2e9rW13bXCgZ8HqRLs7HY84dSWo/ir4IJyn8lbu2ZQ2qVwdQX8uUzfiTKoAEKDoRPMunkNpp808wYzQz38ZsYopt59bGdwMDiXxyrF8\u002BA//v6lnwDtQyQWS4H/uXYO4xJsf1l0FjS8THowde9kfv8mA0RPRsfFS2OqVyDlgHbCmOQIaYSWu\u002Bi5\u002BVKGrM1EodyCybYhv5xalzPl2b8TxswDfez7bAV6n0drhV11Tp6mVbVUYrbAkNlXvcJQsOIppiKGcz7gWUXHGDputio\u002B5ViVP3QJv2QVQu[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f6d4dd5a-7220-6539-ee59-ef5109c956a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1923904820",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
