{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3caf0d01-c700-a4dc-e659-cb932b559451?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EA192A0AE\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3caf0d01-c700-a4dc-e659-cb932b559451/test-blob-a3763baa-5133-0cf7-8622-6c198691619b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EA1A73155\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3caf0d01-c700-a4dc-e659-cb932b559451/test-blob-a3763baa-5133-0cf7-8622-6c198691619b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EA1A73155\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3caf0d01-c700-a4dc-e659-cb932b559451/test-blob-a3763baa-5133-0cf7-8622-6c198691619b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EA1A73155\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "dGtNb4i9saNEMHDmtSDUF4ng8soiywWjmC5lsZazsvn1NUZkgWBh46\u002BQhBuWwKeGt7CN6\u002BBauqhmqtdaWAANkH138H/ab5Uofw4akUbqDNiG3/nlJscYmnqd/teJBouvgvOdH88nrEgbZGzSPylie53/1HkGKGq2X1UFPHC\u002Bn3iCaw9STO0IXjKwysFbRltRO4M5ijISqFqJ58B5Im/XXMTzT9QZDy\u002Bv9nVGVl6pWhj6swDthBRGcMK1yWQtjzzC2G38Z/eGNyxTipS9zFL7342nfm5v6tewrd4RZEXLgmY4g33wrPMhdHzUmfp/iKRwuenXhRHNU\u002B6WTLoYddPmiActhEnVCzOZhQrymlDcMCQ6oatb8/1Vai\u002BOWl85Cf6p7[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3caf0d01-c700-a4dc-e659-cb932b559451/test-blob-a3763baa-5133-0cf7-8622-6c198691619b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EA1C344EA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "EDE88o5jni0=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "dGtNb4i9saNEMHDmtSDUF4ng8soiywWjmC5lsZazsvn1NUZkgWBh46\u002BQhBuWwKeGt7CN6\u002BBauqhmqtdaWAANkH138H/ab5Uofw4akUbqDNiG3/nlJscYmnqd/teJBouvgvOdH88nrEgbZGzSPylie53/1HkGKGq2X1UFPHC\u002Bn3iCaw9STO0IXjKwysFbRltRO4M5ijISqFqJ58B5Im/XX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3caf0d01-c700-a4dc-e659-cb932b559451?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1810308625",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
