{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1cbccbf8-4509-dc6c-6c31-2f53c4e4028e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:45 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EFAD7420D\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1cbccbf8-4509-dc6c-6c31-2f53c4e4028e/test-blob-bd36a429-67b4-66af-d3f7-4f5a59805a23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:45 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EFAE1E186\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:48.1715590Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1cbccbf8-4509-dc6c-6c31-2f53c4e4028e/test-blob-bd36a429-67b4-66af-d3f7-4f5a59805a23",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:45 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EFAE1E186\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:48.1715590Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1cbccbf8-4509-dc6c-6c31-2f53c4e4028e/test-blob-bd36a429-67b4-66af-d3f7-4f5a59805a23?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336EFAE1E186\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "K59ZRliPKbOcR6Sdo7HGMTwkXHe8PkZRXDXVeS6dqc7ZsY524q6yZiN0KAB1ioc70OVWp0wbM+1YB+ojuq+E/p3Vw/IiT0+NcvVTSBZF3NKtmalIRwKCvn2hHtrEjqx07yljoMaVGYGWyTVXyOvXEioXdSAGPLebUgV0gTF0yONJ3ljs4jwLGIAnsX7MKvaSyQuwrRmLbrJxx03BIJdQIgBSDemS6jDuC12f3os5zicO4rcmxBvKvnClehvvSvjo1499eh0N/97awqG7648nOPglsz3gKV7liE947HAV/sFktwb7u1QKAOPZSwF6DtLgfkIiype6CK4xl/LOlRJuxcPfVzSJK3yjGrJaB95ca3p8l24t8jQqqq5YyiRiPGvRaoU+mraeV1LFfq/kYAHP1Cx3Uf2jQNO[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1cbccbf8-4509-dc6c-6c31-2f53c4e4028e/test-blob-bd36a429-67b4-66af-d3f7-4f5a59805a23",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336EFAEEF236\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:54:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:48.1715590Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAArn1lGWI8ps5xHpJ2jscYxPCRcd7w+RlFcNdV5Lp2pztmxjnbirrJmI3QoAHWKhzvQ5VanTBsz7VgH6iO6r4T+ndXD8iJPT41y9VNIFkXc0q2ZqUhHAoK+faEe2sSOrHTvKWOgxpUZgZbJNVfI69cSKhd1IAY8t5tSBXSBMXTI40neWOziPAsYgCexfswq9pLJC7CtGYtusnHHTcEgl1AiAFIN6ZLqMO4LXZ/eiznOJw7itybEG8q+cKV6G+9K+OjXj316HQ3/3trCobvrjyc4+CWzPeApXuWIT3jscBX+wWS3Bvu7VAoA49lLAXoO0uB+QiLKl7oIrjG[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1cbccbf8-4509-dc6c-6c31-2f53c4e4028e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:45 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "842107352",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
