{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c5c5ed7-ab97-06e7-f727-cb9fb6195a59?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F726CBB5F44\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c5c5ed7-ab97-06e7-f727-cb9fb6195a59/test-blob-854e08f3-3344-870b-d222-6c75bccc951c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F726CCB03D0\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c5c5ed7-ab97-06e7-f727-cb9fb6195a59/test-blob-854e08f3-3344-870b-d222-6c75bccc951c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F726CCB03D0\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c5c5ed7-ab97-06e7-f727-cb9fb6195a59/test-blob-854e08f3-3344-870b-d222-6c75bccc951c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F726CCB03D0\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yLZFPqr6GW1S\u002BJIhrM59ecDw0yqqm7IzjgGEChj0ygo1z1DSNygx0XEBa671pdTf9thXqa0VhSwEEa\u002Bodg5VXi2H69x\u002BqkGXvwG4qDADPukspRNAnSFcIEojziZ4iFtjrA2Bbbn4YEuWv\u002BmrXNz8ANPGe9H6FcALK8uRWtwbHjamVfwjgtAvNETIqd43scRuJ81Ssg2KaJZMdULtZgZueqCzBQbf2H4DlkaMMmvi1HkHIzIPyWwpG\u002B1m1w2NQs0\u002BWS89hKu9jk9PThvG/TUqaaHI5kPTX7AziekZeQFwdlR5Ttk8pU/OSZTjv3tRYx63O21rxFuKavl\u002BCfrBpBVN3tjHTK5c7sRR\u002Bp2v8KA14ibLYT6TBbL57uT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c5c5ed7-ab97-06e7-f727-cb9fb6195a59/test-blob-854e08f3-3344-870b-d222-6c75bccc951c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F726CE54298\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADItkU\u002BqvoZbVL4kiGszn15wPDTKqqbsjOOAYQKGPTKCjXPUNI3KDHRcQFrrvWl1N/22FeprRWFLAQRr6h2DlVeLYfr3H6qQZe/AbioMAM\u002B6SylE0CdIVwgSiPOJniIW2OsDYFtufhgS5a/6atc3PwA08Z70foVwAsry5Fa3BseNqZV/COC0C80RMip3jexxG4nzVKyDYpolkx1Qu1mBm56oLMFBt/YfgOWRowya\u002BLUeQcjMg/JbCkb7WbXDY1CzT5ZLz2Eq72OT09OG8b9NSppocjmQ9NfsDOJ6Rl5AXB2VHlO2TylT85JlOO/e1FjHrc7bWvEW4pq\u002BX4J\u002BsGkFU3e2MdMrlzuxFH6na/woDXiJsthP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c5c5ed7-ab97-06e7-f727-cb9fb6195a59?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "790433878",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
