{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e0d9c7f3-a3f2-009e-ea1f-9c8d910af6eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F18360B55\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:37 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e0d9c7f3-a3f2-009e-ea1f-9c8d910af6eb/test-blob-c65fe853-fde7-508f-4b37-5240034a0a5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F1842334F\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:37.4577213Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e0d9c7f3-a3f2-009e-ea1f-9c8d910af6eb/test-blob-c65fe853-fde7-508f-4b37-5240034a0a5d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F1842334F\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:37.4577213Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e0d9c7f3-a3f2-009e-ea1f-9c8d910af6eb/test-blob-c65fe853-fde7-508f-4b37-5240034a0a5d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336F1842334F\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "v9M9b161Zb9WsMYWfZ7qNAih1vUOoigR8UiCcaKJyXUV40FCeKicATY7/RHVmoQ3vF3evM3RMxyqK30VMvQdzOZQAZpdqLtfBdW/06UXPFfDS7REqw2oQ68kl00rhs5CHjAqhJnq2hShf7f3EmB3k+8lUuc/2CHZqL3qORBuNH4HfLR07Le+2XGgoyxVsDFPrANdBTTmAkYPUdvb/6EDMko48JWrA6c3Z3h2nzT1g/iLm4wMES5JIHpuZZvb4tnQnHDhHb+co6lcJZ67cGMRGc3jUGMU9iEc7s8bPJ0LXISepgLEFGY47/jjr+uQjrAWXUvN+JJ2u6VOxS7vgWYLUckZHclgTAVmqmFrMUY1i2AfBN9SPWTyKOpddU83SW2R2F4id3DmthFGZ00xC4peGDnNz3yHuRN[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e0d9c7f3-a3f2-009e-ea1f-9c8d910af6eb/test-blob-c65fe853-fde7-508f-4b37-5240034a0a5d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F184F6AE1\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:37.4577213Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC/0z1vXrVlv1awxhZ9nuo0CKHW9Q6iKBHxSIJxoonJdRXjQUJ4qJwBNjv9EdWahDe8Xd68zdEzHKorfRUy9B3M5lABml2ou18F1b/TpRc8V8NLtESrDahDrySXTSuGzkIeMCqEmeraFKF/t/cSYHeT7yVS5z/YIdmoveo5EG40fgd8tHTst77ZcaCjLFWwMU+sA10FNOYCRg9R29v/oQMySjjwlasDpzdneHafNPWD+IubjAwRLkkgem5lm9vi2dCccOEdv5yjqVwlnrtwYxEZzeNQYxT2IRzuzxs8nQtchJ6mAsQUZjjv+OOv65COsBZdS834kna7pU7[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e0d9c7f3-a3f2-009e-ea1f-9c8d910af6eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "968868570",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
