{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f1082a69-f38c-62a2-53c8-732914fd005b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EA2B30467\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f1082a69-f38c-62a2-53c8-732914fd005b/test-blob-826f971a-4f86-b1ef-6c85-1969fdcddda1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EA2C4FD5E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f1082a69-f38c-62a2-53c8-732914fd005b/test-blob-826f971a-4f86-b1ef-6c85-1969fdcddda1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EA2C4FD5E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f1082a69-f38c-62a2-53c8-732914fd005b/test-blob-826f971a-4f86-b1ef-6c85-1969fdcddda1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444EA2C4FD5E\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "WKCLPz1eWrab254CpKi3n6WSQWYaot5WvkuIidqpUp66hKIKKOOjilMswqI74cepAjk/SHNpr7bBNYDy1dHb8oj/RyAFrXfB7rcS7t87Gt2E3oehaQkqUdXsSPJjsbSCUdAZPJqmpFXBfVq8VsHWhRqjbfdJOYh\u002B1PZLGWSEXjwCkJwOIt5C3Tox3\u002BuvbvoTFcLYwEO9OBdImmekW4rwPR8ducYkyGM7YJC9GFmcz2b7NwOiq535RVeFxod3noKvQaLMkrUz701enWCzACC\u002Bq8sBqCSHTpGBJHNvnwLcxMEODde20D2xyEe2Qw49RUU2xhq8dvZeKPIRSm1Bw1BKgtmepfJJB9uOT9/c0AqDQ94uONjoH07LsOXkpYXPbwT3a8A1n6BT7b8\u002[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f1082a69-f38c-62a2-53c8-732914fd005b/test-blob-826f971a-4f86-b1ef-6c85-1969fdcddda1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444EA2E04D57\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "jm7qPxv/3i4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:46:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "WKCLPz1eWrab254CpKi3n6WSQWYaot5WvkuIidqpUp66hKIKKOOjilMswqI74cepAjk/SHNpr7bBNYDy1dHb8oj/RyAFrXfB7rcS7t87Gt2E3oehaQkqUdXsSPJjsbSCUdAZPJqmpFXBfVq8VsHWhRqjbfdJOYh\u002B1PZLGWSEXjwCkJwOIt5C3Tox3\u002BuvbvoTFcLYwEO9OBdImmekW4rwPR8ducYkyGM7YJC9GFmcz2b7NwOiq535RVeFxod3noKvQaLMkrUz701enWCzACC\u002Bq8sBqCSHTpGBJHNvnwLcxMEODde20D2xyEe2Qw49RUU2xhq8dvZeKPIRSm1Bw1BKgtmepfJJB9uOT9/c0AqDQ94uONjoH07LsOXkpYXPbwT3a8A1n6BT7b8\u002BLiYWgVfnjQePE4t4YmKL0/UMZWFWvuDb5WRKTaQ\u002B20sZqfEntC6O/Bd\u002BP1t5fwleqsurRohd6G9FO5zynUBiUThAX7lwYx7GfmhK13\u002BEYmZb7KPYkpTDu8CC4nmSm17XG\u002B4jOCBQ7Uet5McfExDwwdg2l7Gcib6jfaP47YGlNOMKcryQYSlGCv5cK63NpKiwkiCgWwOtOpEvf7t8WP/FCLDjFKBUX2Cv8IyyQF4R1tn7R1tgBNjgXTcqYOFtybL/liP96Y8HXDPA8Wt2\u002BvozHqnigRCkZQQ="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f1082a69-f38c-62a2-53c8-732914fd005b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "457776067",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
