{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-44d62487-c25e-19e2-6beb-89b007741115?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04525A5E78\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-44d62487-c25e-19e2-6beb-89b007741115/test-blob-44f5495c-f28e-5bef-4f22-8e7010c3d60f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0452684395\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-44d62487-c25e-19e2-6beb-89b007741115/test-blob-44f5495c-f28e-5bef-4f22-8e7010c3d60f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0452684395\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-44d62487-c25e-19e2-6beb-89b007741115/test-blob-44f5495c-f28e-5bef-4f22-8e7010c3d60f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB0452684395\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "iybLjILB3CMflkhBECu1qzQEs6tJ+LyeePynikwT9oJZICo99CsDO38G+cKpUEVug2u+RcYXR5NpLROGGVHXC6DG5+8Ad7cIAXcsQv769Ci3OQbgVbC8QtiX08YXfCItL+0i42hVbQy0tURP6gWVbzjrz99K97bvCqUXaaPw8IRU/xMQ2BHAYcz6K6BsbFfTAmSNLK1C4jg3MtjCPQNow8TA+uvxhJcnK20TUMsWgp1OQ2c/YsTWER3a2aU4/SPIkWjbrHJs4X3NZgFAL5JtIbA7dPmcKWD/6ejOF6rx7i1JSr5iOtYr4WLpcfzDluKKbbf1/YkpLGgH3MKJnsrT23fT9uXUCubZEJKXsrhkPFMGQ6ny+/GkHx1WW14ToUOXFpWE75/8tmLRG+33knmwo59vg1og4N+[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-44d62487-c25e-19e2-6beb-89b007741115/test-blob-44f5495c-f28e-5bef-4f22-8e7010c3d60f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB045284F344\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:24:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:24:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACLJsuMgsHcIx+WSEEQK7WrNASzq0n4vJ54/KeKTBP2glkgKj30KwM7fwb5wqlQRW6Da75FxhdHk2ktE4YZUdcLoMbn7wB3twgBdyxC/vr0KLc5BuBVsLxC2JfTxhd8Ii0v7SLjaFVtDLS1RE/qBZVvOOvP30r3tu8KpRdpo/DwhFT/ExDYEcBhzPoroGxsV9MCZI0srULiODcy2MI9A2jDxMD66/GElycrbRNQyxaCnU5DZz9ixNYRHdrZpTj9I8iRaNuscmzhfc1mAUAvkm0hsDt0+ZwpYP/p6M4XqvHuLUlKvmI61ivhYulx/MOW4optt/X9iSksaAfcwomeytPbd9P25dQK5tkQkpeyuGQ8UwZDqfL78aQfHVZbXhOhQ5cWlYTvn/[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-44d62487-c25e-19e2-6beb-89b007741115?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:24:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1083012577",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
