{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b072333b-9c8c-2c88-6c6d-f30699356b69?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685BB172E71\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b072333b-9c8c-2c88-6c6d-f30699356b69/test-blob-70000307-8562-cf1b-fe7f-26f9d0d549d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685BB53B213\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b072333b-9c8c-2c88-6c6d-f30699356b69/test-blob-70000307-8562-cf1b-fe7f-26f9d0d549d3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8685BB53B213\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:06:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b072333b-9c8c-2c88-6c6d-f30699356b69/test-blob-70000307-8562-cf1b-fe7f-26f9d0d549d3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8685BB53B213\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2ctOzNbE8v4/YkPKPKRsblmUWTvlCOnPWM+7WO1rooC1UQrzsEiJ6GtRJB3zTzAc2eIu2JPRKNHhfnQGCJoQ07/DFOqZeL4RC3HQlOTM3Aien34LPMrs4yk5ETHTgt/QQFBdLztGgmAkHc0hAZTtFKJraGgcBZf11jHAYGaMPYiR/1OUb6zNWB0d5h78y+GUTPyPaBp3tDq5aFkJhSL5l+BFjwJBWKX2nQ9L/h54+ApPLBRp/dRuGksY2gdSw9L7I08+tzvfU/NXmMoKK7UcQW9OulkNj5kL1nS2KH6do9o8T9rPOUDOb9ggEmQKY++V/JmXAwl57ZS1MuDHKCp0ufXwzdzaTAcuf0qA7X01AXOFICzkBZ/Qw2JGGQdfB0euq1hvGpUTu6+SaYS/+QAWgDFtQQf+kLN[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b072333b-9c8c-2c88-6c6d-f30699356b69/test-blob-70000307-8562-cf1b-fe7f-26f9d0d549d3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8685BB6DEE93\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:06:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "A74CWM2shNY=",
        "x-ms-creation-time": "Fri, 07 Jun 2024 00:06:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "2ctOzNbE8v4/YkPKPKRsblmUWTvlCOnPWM+7WO1rooC1UQrzsEiJ6GtRJB3zTzAc2eIu2JPRKNHhfnQGCJoQ07/DFOqZeL4RC3HQlOTM3Aien34LPMrs4yk5ETHTgt/QQFBdLztGgmAkHc0hAZTtFKJraGgcBZf11jHAYGaMPYiR/1OUb6zNWB0d5h78y+GUTPyPaBp3tDq5aFkJhSL5l+BFjwJBWKX2nQ9L[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b072333b-9c8c-2c88-6c6d-f30699356b69?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:06:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "638182818",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
