{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0845a4f9-9bff-277f-0218-b42a1f8bd26a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F843CDBF268\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0845a4f9-9bff-277f-0218-b42a1f8bd26a/test-blob-6c2e2625-17d4-52c6-41ab-088661558358",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F843CE9D752\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0845a4f9-9bff-277f-0218-b42a1f8bd26a/test-blob-6c2e2625-17d4-52c6-41ab-088661558358",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F843CE9D752\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0845a4f9-9bff-277f-0218-b42a1f8bd26a/test-blob-6c2e2625-17d4-52c6-41ab-088661558358?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F843CE9D752\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LClEHROQT4AU3qJxYQpb3CD82evUlb1cTCBFFooJF2de8Emi4tukweQ3J86d7VoCxhJlUyREdJZr6NDySjj1Csc7EnDBufpEVxcHnG7vvl/GQ094o8NDGnyyN/kLsXerQRwGYdrpQQ0XIfwMPdcoeylxKwbpfWcE\u002BPj0DoEAOaWgW1pR6F2E3QJCYILGNtykirvQmoZwwsS1Amnh9TKLFuhWbOF815PM7E4EphzlPcIcUITGMJ8fMJiWm\u002BbzoujPtkmacMn6J7IoA603axuo0MSnxaWuxeZJNjxJ5jut2EpmNe/SSs34ISjRnSzx58R87cshS9xDIPFjUDqNsUB3eiti0TUr1oX3r6R83Se6V053zPlwi41uIhX\u002Bb/mTam/nWiMBjxaOURdFKZw3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0845a4f9-9bff-277f-0218-b42a1f8bd26a/test-blob-6c2e2625-17d4-52c6-41ab-088661558358",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F843D054E81\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAsKUQdE5BPgBTeonFhClvcIPzZ69SVvVxMIEUWigkXZ17wSaLi26TB5Dcnzp3tWgLGEmVTJER0lmvo0PJKOPUKxzsScMG5\u002BkRXFwecbu\u002B\u002BX8ZDT3ijw0MafLI3\u002BQuxd6tBHAZh2ulBDRch/Aw91yh7KXErBul9ZwT4\u002BPQOgQA5paBbWlHoXYTdAkJggsY23KSKu9CahnDCxLUCaeH1MosW6FZs4XzXk8zsTgSmHOU9whxQhMYwnx8wmJab5vOi6M\u002B2SZpwyfonsigDrTdrG6jQxKfFpa7F5kk2PEnmO63YSmY179JKzfghKNGdLPHnxHztyyFL3EMg8WNQOo2xQHd6K2LRNSvWhfevpHzdJ7pXTnfM\u002BXCLjW4iFf5v\u002BZNqb\u002BdaIwGPFo5RF0UpnDfGQ8mp\u002BesV5UcG7570riAtZ4tkRDWUgwS4yDjpeuEqYvA2XNI0xQCnVYmfUzRjmmduJLC6xFgBMb/F8DGzLGpm3IytvVJO\u002BKGLve\u002Bs9C/QVS3Re1YxcJ2YNCoSb9XO9CgeOXentdwUHysPLgdpVTyP9ZoD4bETNWvvFYkoPIjLvMjGjbu4KZ9RvFsrIUGVL97tgno6yhJ2CgQLt6BT7OKiQ3I/oseB18v7siVW6BMpWeWqOroOkfG1T4O2rXH\u002B/c94iN7PVowWbKuuPxjsICHx4V27qDew6eCfR3d3N7Dp4J9Hd3c="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0845a4f9-9bff-277f-0218-b42a1f8bd26a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:29:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1815698795",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
