{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d5f146c-450d-b19d-4afa-bc5c8967019e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F138B9966\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d5f146c-450d-b19d-4afa-bc5c8967019e/test-blob-4514aed9-a9b2-2e40-428d-75c8db13e656",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F1396389A\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:29.6187546Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d5f146c-450d-b19d-4afa-bc5c8967019e/test-blob-4514aed9-a9b2-2e40-428d-75c8db13e656",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F1396389A\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:29.6187546Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d5f146c-450d-b19d-4afa-bc5c8967019e/test-blob-4514aed9-a9b2-2e40-428d-75c8db13e656?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336F1396389A\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "rO2T8zMlen78vDNnoftZmu1sP7XXOac3VCB5vD3y99S2DvRqGxkc91kRyzukk0xfkhU4PkU6vnNFXJ4Sq71ACsRfsZIG73/TT0dcxm1sksHUGSkouriPe0+BJb57Ckyb0MB2ReK5WaOWZO/93fgF2MrdPpGUGFALzzVDhMnAWEX7wfWt9U3eGsCFklXJkZ5WfEz0nsu6Brhwa3WsdtTZ1QyqAhwDWON8/iTRDoX7QT2X7Qh9zLp5QLo8PIrXMaPsq7xJH4+BUiNpd5+n6fcydCk3FYjLXAhSMMJixxtZpcyA5GPIsSKuFpvlFFQa0lfCCchgnxwaIE+09+7MHooID9LTJwSUacMGiP/t5ke0N15qoL5T+AWwZcMTFLo04fcQ3ASCR6tSLZ8EWRYdLToH/7+PYn7MtBf[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d5f146c-450d-b19d-4afa-bc5c8967019e/test-blob-4514aed9-a9b2-2e40-428d-75c8db13e656",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336F13A3619B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:55:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:29.6187546Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACs7ZPzMyV6fvy8M2eh+1ma7Ww/tdc5pzdUIHm8PfL31LYO9GobGRz3WRHLO6STTF+SFTg+RTq+c0VcnhKrvUAKxF+xkgbvf9NPR1zGbWySwdQZKSi6uI97T4ElvnsKTJvQwHZF4rlZo5Zk7/3d+AXYyt0+kZQYUAvPNUOEycBYRfvB9a31Td4awIWSVcmRnlZ8TPSey7oGuHBrdax21NnVDKoCHANY43z+JNEOhftBPZftCH3MunlAujw8itcxo+yrvEkfj4FSI2l3n6fp9zJ0KTcViMtcCFIwwmLHG1mlzIDkY8ixIq4Wm+UUVBrSV8IJyGCfHBogT7T[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8d5f146c-450d-b19d-4afa-bc5c8967019e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "255038036",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
