{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cd511451-19de-ff03-17c0-e52c4ac86511?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDCE5E3B02\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cd511451-19de-ff03-17c0-e52c4ac86511/test-blob-1757ee54-c5e9-1fd1-4afb-8e5a4c296324",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDCE6CCF19\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cd511451-19de-ff03-17c0-e52c4ac86511/test-blob-1757ee54-c5e9-1fd1-4afb-8e5a4c296324",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDCE6CCF19\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cd511451-19de-ff03-17c0-e52c4ac86511/test-blob-1757ee54-c5e9-1fd1-4afb-8e5a4c296324?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDDCE6CCF19\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yA7wCrxCD+KqR2zwttr1tCrXifhMKTThsZCqmnmgInlvkGD7cYtRYUKakJW/nGjFykCfEF+Fhp/ZDlksl3VoCiXzgSZ5+kOehSe1sZifIhQn5c85ABEZ6gnBImMyJcnNMoZwzBtCS8/9AIo3z9QGOetEBLKlLgkT2ZYcuNjfbGBe538SL1b55JkAPACG4ho0u+h37iAXKAN9XPOEJpP3HZQq2ehV9AqVSx8YpfIJjPZ85/3vaH5ARr98ldNjdb4GCB9rXAky38fd4qIA/oMRc8/8Bz6WB7QW6ZIo2F43MdZhEZzSnS/tSgc1EYbbP0g8aiEDZ21/cABqVXJ2CQZoprDMn+zmPtagDr03YPUuO6pK7G49NMpo4aGcaEe9d0AAzWvVDqBbVitLYlivSBAKOxrILB2YK3L[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cd511451-19de-ff03-17c0-e52c4ac86511/test-blob-1757ee54-c5e9-1fd1-4afb-8e5a4c296324",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDDCE85600E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:13:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADIDvAKvEIP4qpHbPC22vW0KteJ+EwpNOGxkKqaeaAieW+QYPtxi1FhQpqQlb+caMXKQJ8QX4WGn9kOWSyXdWgKJfOBJnn6Q56FJ7WxmJ8iFCflzzkAERnqCcEiYzIlyc0yhnDMG0JLz/0AijfP1AY560QEsqUuCRPZlhy42N9sYF7nfxIvVvnkmQA8AIbiGjS76HfuIBcoA31c84Qmk/cdlCrZ6FX0CpVLHxil8gmM9nzn/e9ofkBGv3yV02N1vgYIH2tcCTLfx93iogD+gxFzz/wHPpYHtBbpkijYXjcx1mERnNKdL+1KBzURhts/SDxqIQNnbX9wAGpVcnYJBmimsMyf7OY+1qAOvTdg9S47qkrsbj00ymjhoZxoR713QADNa9UOoF[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cd511451-19de-ff03-17c0-e52c4ac86511?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2010310081",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
