{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1e056414-1267-9032-4544-300316373969?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6E40E2F06\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1e056414-1267-9032-4544-300316373969/test-blob-b1d37a68-3b02-1310-9a85-8a5f54544feb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6E418F7B2\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1e056414-1267-9032-4544-300316373969/test-blob-b1d37a68-3b02-1310-9a85-8a5f54544feb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6E418F7B2\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1e056414-1267-9032-4544-300316373969/test-blob-b1d37a68-3b02-1310-9a85-8a5f54544feb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6E418F7B2\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "E5lIjbVrrsYInT45qtbR8HIuRiWA5W5kxz9KWUMOvjCDXUclDERLUULvS13KXEQBBxnbfGiFii0r5MV2IFWD+d8NtU2OrOMu4vXikZkQmmv7SVEpM0LI/tIa+Sh+1TDsbFJ+vKb2cls2rZlyoviUG0pae9cEWcadRbd6dLK6rwzF9iRHkt3EBNf184WoVVzahd7eJFpZ6BOM4Xbve/2oe/6MrazTTIlslnb/DmVA9PBboO7U24uybA0Ru7Bm1IjZTXeHG6ivBjlVco3jWdmtS+yGlNsO06Bz2kCewpHYBcHuJcHtuNlHq5q1f2n9zhI0ZG/E4ECtynnXFEBnEUOnfWzM9TMYv5MSPulAWVQ2dgsual4hEyWAQFpHFqOY4JpWDgL8MNjeG6TcsaFXbXEkoJ40OKblhWl[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1e056414-1267-9032-4544-300316373969/test-blob-b1d37a68-3b02-1310-9a85-8a5f54544feb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6E426CAD6\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAATmUiNtWuuxgidPjmq1tHwci5GJYDlbmTHP0pZQw6+MINdRyUMREtRQu9LXcpcRAEHGdt8aIWKLSvkxXYgVYP53w21TY6s4y7i9eKRmRCaa/tJUSkzQsj+0hr5KH7VMOxsUn68pvZyWzatmXKi+JQbSlp71wRZxp1Ft3p0srqvDMX2JEeS3cQE1/XzhahVXNqF3t4kWlnoE4zhdu97/ah7/oytrNNMiWyWdv8OZUD08Fug7tTbi7JsDRG7sGbUiNlNd4cbqK8GOVVyjeNZ2a1L7IaU2w7ToHPaQJ7CkdgFwe4lwe242UermrV/af3OEjRkb8TgQK3KedcUQGcRQ6d9bMz1Mxi/kxI+6UBZVDZ2Cy5qXiETJYBAWkcWo5jgmlYOAvww2N[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-1e056414-1267-9032-4544-300316373969?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:52:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1574634871",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
