{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccc2e9a2-63bf-4d1b-05dc-3203f204e58a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCB8A5C09998A9\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccc2e9a2-63bf-4d1b-05dc-3203f204e58a/test-blob-ef3af29b-8511-ebdb-c890-af8f615b013b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "lzidWKwVlravtjjXRHnhBcEZ4hdn0BdzZ9GKkB9\u002Br8lpxgszYsNsC0XnZbzsmOYFJsf7Qudn8ccgKvHaigWWMQZubX5traL9rdfRf2pah8/qhWpXgmzhAtVEEzjSkYE/UDO1fSpol3gl/ZUQlXFcxaMh8AWbP66ajWupKZppKxtVkS83pAmkge3xMYXX0Gxj6E2VsKF7pBCEG/C\u002Bv23evNF5ugRBJCCafW4Xqg4pw7z/RUFM03t62e0esokY5cKAE3S0XRVoIcMt\u002BzMyZPoCW1g0vnkskehW/\u002BAWI3KXgZesl5eZdGWmlyN9H9hISHXzG1Yx4ydIU4GMXV41Uf5Rlnmc[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccc2e9a2-63bf-4d1b-05dc-3203f204e58a/test-blob-ef3af29b-8511-ebdb-c890-af8f615b013b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "PDaNBwSUmgJxa094YRIwJQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCB8A5C0A74943\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACXOJ1YrBWWtq\u002B2ONdEeeEFwRniF2fQF3Nn0YqQH36vyWnGCzNiw2wLRedlvOyY5gUmx/tC52fxxyAq8dqKBZYxBm5tfm2tov2t19F/alqHz\u002BqFaleCbOEC1UQTONKRgT9QM7V9KmiXeCX9lRCVcVzFoyHwBZs/rpqNa6kpmmkrG1WRLzekCaSB7fExhdfQbGPoTZWwoXukEIQb8L6/bd680Xm6BEEkIJp9bheqDinDvP9FQUzTe3rZ7R6yiRjlwoATdLRdFWghwy37MzJk\u002BgJbWDS\u002BeSyR6Fb/4BYjcpeBl6yXl5l0ZaaXI30f2EhIdfMbVjHjJ0hTgYxdXjVR/lGWeZyFzWJp5vKNJ1auchAOtmsjBxtmnX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccc2e9a2-63bf-4d1b-05dc-3203f204e58a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1699609139",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
