{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b4dc5a9-e334-9d4e-f7e0-1106761fb8c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDD71A3A77\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:14:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b4dc5a9-e334-9d4e-f7e0-1106761fb8c7/test-blob-03680a30-6093-8b2a-ebcf-abf2292e1671",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDD728A4F1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:14:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b4dc5a9-e334-9d4e-f7e0-1106761fb8c7/test-blob-03680a30-6093-8b2a-ebcf-abf2292e1671?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADV1WDuugmcuUUVg69h5vI7gOHgN3GOUw5NPQ4155wDkNx5ktVccXYbovTkXWjf3gxYzWJUlXGWR4FRoX37ZtGpEfPS51Qd3g9qxZR9qvelbV4C3Rk5r/pr40tUCs/4IDsiO0x1Dfe4O+5T6dDdGZ2LqzQe+Im3b2L4ZgQIyNQ/cqRYWm6qMF9nSqEr5cYqjsquyV6b2iiya8vpfKbyr3IaFHYshL8u4XvUtq7njImczdg6Wv91o5d8pe6jwLO5dZsvENFP/QkKf+fjxyN6yt5BTa/Ot1RzpHDfsN7QiyDHG0ESuHu3TM/OL9sXktxzAtsPYXIE6r1HvGthcE0rOvTHG6vhZxJiiQDf/4h4WxKTa60DwCqtwjCEy/wQVtyCo/XnUHYxkpr[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b4dc5a9-e334-9d4e-f7e0-1106761fb8c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:14:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "333796413",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
