{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6f3b56c4-9804-e2d6-5fe8-fcf7a400de80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:58:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE78C13B6DE\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:58:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6f3b56c4-9804-e2d6-5fe8-fcf7a400de80/test-blob-2fe14d9d-2fc7-0492-0664-79b8900a932d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 15:58:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE78C21C0A8\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:58:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6f3b56c4-9804-e2d6-5fe8-fcf7a400de80/test-blob-2fe14d9d-2fc7-0492-0664-79b8900a932d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:58:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AicEAAAAAAAAAQABAAEAAAQAAAAAAACuxAEiW649JDAcunkM22GE6cGYfZVmp8GQY2YS7XEo/UzjTLzZ3N+w6UZHvEg6UE74Lss0IMESSB0/kvdIKje/87wsKI+kqw3i55NOHut5VRIYGr6l9NyL0QOfmkrnaL4PiMiLDie+U4O+UTgtxCoyxT3lMBB4Gf/foVeMBRDC+3/VP5Ui7kbqWcY756KjXQ3YbNUNATitlm/Jq2zQMU5y+1a5WISVD9f2+tZKPTJcO0RKtJg7tflGJ6glWULaGid4yOtL6QWIQlz+FgdiY1g9bG8ohX21N0VdczDbb7aUG+Cu0nVGEVI+wXE7PZ7y5MRQ6O3TsZSqwpCl7nbUrdKmafsms5Dj9lsd6cQLefmma45si4fJwWlMAw/koSLbahSfldOjyzA[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6f3b56c4-9804-e2d6-5fe8-fcf7a400de80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:58:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "990163641",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
