{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f9885626-8a01-e0ab-f779-fc5e7b910cf3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EF3C22373\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f9885626-8a01-e0ab-f779-fc5e7b910cf3/test-blob-f78f5320-dcfd-1e03-ce64-dd5c998762d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EF3D26F1B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:48:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f9885626-8a01-e0ab-f779-fc5e7b910cf3/test-blob-f78f5320-dcfd-1e03-ce64-dd5c998762d9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:26 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABaxIjK2WvrYWkXuvr8/orwCywDAus6ouEwyyv9d2Hj46TCUpJ\u002BpPbvjUVoORwjiXtAXIFgWF/gHyGnmQ0/7eoIM9ZWOaz4cmY2E3Wl0mjFDEKwvBvggotE4jNw1grosJ9bXwZFzVDOSOkaKkTqOky54o3LjzHPKLFLElZ5iJtcTmPVSnNifz/x4XMxxlhGWafntvR8HCBujDdV\u002Bbv5VcBNvdzhFfDZV2JN2q69nWJYBLivktGm3zFCZr47DIaD\u002BIuz4wh7ZES3DV6SL0Jyse7V/PQCScPup92qnq4xnUrcyeEiCbpZ3KB0\u002BIRzFLDv0LXQZRCRga7IxDwq0MWVhW8TtmVgUKczfB9UjlE/e5Itu874YTg6Skg[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f9885626-8a01-e0ab-f779-fc5e7b910cf3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:48:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2053452064",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
