{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cef2a15-eb29-b8d9-c320-73ebe0b138dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685CCA5E854\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:07:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cef2a15-eb29-b8d9-c320-73ebe0b138dd/test-blob-375788bb-724d-e1ac-15f8-79681846956e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685CCB50D5D\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:07:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cef2a15-eb29-b8d9-c320-73ebe0b138dd/test-blob-375788bb-724d-e1ac-15f8-79681846956e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uiSh7oiy8mw=",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:18 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "tT12YpzlNa5aHLIMll2opb1/GQ7WQ8PFY/W5bxrNv32PZcjSqABX7Jssmv3KiHEqE6ZFlDN+GHB5sP6mLMaUjVw0fDCU1f28Jy1zqqnF+9uEjlt0hytKEUxXWfcBsb/VlwyhlQxAlj6piGwFC27Hs7UjIp5qIAUw6mrjPHwFunZtnRKcJGXPQ/cdyv++RAbekKVB3o4ha3cGcKuhXFnCo872mG1cKo9QU96mTFUGcaVkBazWxNvoTDKalrO5LuaeWyYwyKyYgmUW8Iqveh4i//8GPFas69/yDks7wZTbliX3CPAu1an4zINHwNNRONETeJa0s/GQ8XBHPrphXMDROlplt3It8ylWDXDTZSsModV5KEn9J+IzZxaA55ful2/CdoV464Bf5YRsXqaAvIxEO53k5zR30xJ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cef2a15-eb29-b8d9-c320-73ebe0b138dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1669408360",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
