{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efa18567-c87e-9823-378b-fd2b40b5a5ae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868578566470\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efa18567-c87e-9823-378b-fd2b40b5a5ae/test-blob-2dcd6e41-9e78-aea3-4cd4-1f2bbbd7002b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685786691BA\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efa18567-c87e-9823-378b-fd2b40b5a5ae/test-blob-2dcd6e41-9e78-aea3-4cd4-1f2bbbd7002b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "JvBpnwI+jj0=",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "TxO9GrVUYy32pJn7sgIxW3CMSqVUMLGYlrlPcSVWRqUn9NFTHwC7jDYzfliQA4aBa7nHKme0zB9iJIT7BfEHoF30074w3jxw0b5uIbJYCJIyzQZsjxw9cyey8Pt8v4ZELN37nC/HUY19VlipRatsCRvxyDjrmxBBtmCXfu1B9BI3KfXUXWxjanx47jjDlC17ReffivZOWZDNuuXOMNKgPGJGcRu2mKuvjV67c6zYfSIzGzkFYmkb6NBkB6OGlDqp17LWfSIRxaw7L/yYkuXk9DzDmxWZmtr4KolLUpAIKfkkEpv5Af//IlaMyjJsg1brfxJmwvgkED3Y3VOZxnIcMwUDdIBK6/M9w3m+DM+njKcyX9J+oWYA/wFdICSsZlvjcJctaQ/VoJMfKf5/ZQRtMVGsZmafnZG[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efa18567-c87e-9823-378b-fd2b40b5a5ae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1026958006",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
