{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-affae477-4469-35a7-3fc4-8cb234e7532d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685CF539102\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:07:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-affae477-4469-35a7-3fc4-8cb234e7532d/test-blob-14bc5574-e434-c719-8cd2-ef06b5b3be24",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685CF6880BC\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:07:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-affae477-4469-35a7-3fc4-8cb234e7532d/test-blob-14bc5574-e434-c719-8cd2-ef06b5b3be24?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "RzN8uztpQCGrWaUeFReSPg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eIUEnRQRyiDvbF1R9OxeC4+uOq0lI5SUhO2u4+Dh1uCdPEJRLpbIZbyhQCw0XIft5GqDCTbN7lXxcBkmY+c/DZZ9tLiqDdz55tXwg+NoXyhmwP52Xsyq0E3tX759oQLVYjKVt6fOQteOiSJh3GpxiBHxwKLoya7J0uRqva0ee0TSGiGx0qeAl30n6NSqSfPje9etjOFf7ZiDzOXDY4Upbw7djsFJwLVpcCglwOHaH4nxh0HWcO9jcy2ILQbCvTP4/njGzLsxmbohQxu4OSy3qa1c0dxDUv4fehqUwZKvp7P0LcJpE1LNv+6HtS3TqjkA0YRYZutXtKt5p1GgndgncZtoxAxqTZVajhLtvJ3RS8/gk+8OVkHHnHgW72sBLCIVX0ORauYsloPu/tjZafcOp1uCwAnoGRt[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-affae477-4469-35a7-3fc4-8cb234e7532d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1007657929",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
