{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae7fe16a-9892-aef0-bb0f-afa04e31a890?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F18B75E27\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae7fe16a-9892-aef0-bb0f-afa04e31a890/test-blob-d990f6dd-dd72-774a-be32-412072b2ded5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F18C37542\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:55:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:55:38.3038274Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae7fe16a-9892-aef0-bb0f-afa04e31a890/test-blob-d990f6dd-dd72-774a-be32-412072b2ded5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAL71owylrLPi3pL60o7lI2D+fwKHtM9mNKPe1i5RGJRBrO92sqz/1VWXYvsEis+y6EEJQkSaElvvn25oxsaFkcX+qTWffnCz/qms4EHEUankK/3tV8ZPt4qThyM+lw6PEdElFdGaI2nQRUOq/SIKKz3EhKrYqEn/rvGq+/dNdVerHd5wn0vISgiEHQKCpMpoiWv1ehJjtmmHNXbv7ydygt/7/99DiYvh/DqSRItHfPo3QnKbR/s1R1d0+WnU6GrhAYoyhqTrFP/QA43nwWHuT7h8qJyk5zrUxrh33pASHQPPsTLxBPZFTD1yu0R9XXX1hqmhWD/OPCpfbc/8YzZfzeaKGBAu7TrCN1xvMjv2Z3kygkfmYMTD8XUYoacmWOj3Ev1d4zVlx[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae7fe16a-9892-aef0-bb0f-afa04e31a890?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:55:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1205586069",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
