{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a894a10-712c-53cc-e0f1-258c14611a07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685CB859C48\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:07:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a894a10-712c-53cc-e0f1-258c14611a07/test-blob-503e3c1f-3269-eaef-cdec-9e6a5c6f003a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685CB949AAD\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:07:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a894a10-712c-53cc-e0f1-258c14611a07/test-blob-503e3c1f-3269-eaef-cdec-9e6a5c6f003a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "gObOCH0yVzdflS9QsnKnY06o6T2yUHVAe3Rsf6ojvuGEd9nFrpn/cH53avvFZgu0hMt5jQ8alS9wjo0JxtiMO9dOzDqY4rS0qXi/OuZ5ehRot/vfqjHSauGqVB8M9aml6i4kd5rQG6EWxOOWWlpJ9hR4oA7drJGme2FY7o6Vp7POGU+3VQN6l5tZyeVNPA+HYF0LlFSbyD6dfvw4eC0TgBwwx0AKkaER/Qlzg+OrWD9S0Y0wihNfM1ERGtcHQR9uRkjJHXTOfM+7+pZLJ0Ra8SW85qaf4vYJ0JPv+HbKCbzpBD2a4jvKg1W+dI98FAsMtymySlp4zmNSwEzg3oNZ8fDaYSMGvw/p8mNR4W1mjLyI40FMF79hcTXZSCLu6aTRZYOfobLoBfcayFf3J+326zOQWPtCDNo[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a894a10-712c-53cc-e0f1-258c14611a07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "126108766",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
