{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f75a1f36-ba56-8fb9-d59c-df69b84f7dac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685CEAD25B6\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:07:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f75a1f36-ba56-8fb9-d59c-df69b84f7dac/test-blob-6d72e092-f68d-5540-8f49-5f67317f3a52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8685CEEB933B\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:07:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f75a1f36-ba56-8fb9-d59c-df69b84f7dac/test-blob-6d72e092-f68d-5540-8f49-5f67317f3a52?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "6f8uzmN4SOw=",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "MfE5vWNA8ht1O/MgXa4dVWCcjD0lzGkYmPMeLBMVtcrTu9mARn3gnIgOOgfnUo6X3LEzzawkfGWIICRwIcUIYIUpTaLVnA/ivO+0FpFhMUZkh09h4ugerj509yZZb3vDBtqBvgTrwUCiUBG8cGbTJ+/eC5p1pn6dCp9kYaToiUx08RC333JBeMUPv5LWYT7YoNA2emTgTV9c47Nkh2CbucbESH5VHEd8nJLUZufrx6lhjMDUsQ7ok6SwW/y/3fFldAXLERi/goSJut7RDOZ4cBwJA/ufxge33LTapcFLvL+hb/LhILWRoQo8S/cwFoe9N+rftdn1xa39FDVk5dzDPf0fL5z0llBneGHxY3sQh8UtHW7WbAflq6lE5Ax/LbwteA35EefqyKCadzx4BGIx7IxvNshu7dH[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f75a1f36-ba56-8fb9-d59c-df69b84f7dac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:07:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1207505902",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
