{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-624e1d7b-bfc4-4062-80ac-13b782b603fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:18 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C231725B79D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:18 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-624e1d7b-bfc4-4062-80ac-13b782b603fa/test-blob-8535430c-c2a7-e8a4-4853-3e5dec0a2244",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:18 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C23172B3B54\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:18.5296947Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-624e1d7b-bfc4-4062-80ac-13b782b603fa/test-blob-8535430c-c2a7-e8a4-4853-3e5dec0a2244?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:18 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABiY0CSnJBShYMq2ycEnd2GLQPWznvpHKAgjyvP9plpi1eXY/+563NQYbWXsp2/wj2zeNO2JXaoeEafcg1lg47pwFDPbDrdzUGPhWzFUWoDYMzuG37Gs2Xh7+q4Gnlm694nrfFM8FYD1auRJ6AK4ifcnBFAdmcPIw3r7n1PJLPIKZqOnqR4tnB260bTNIzF1g3D3H1oJXR3F4rkYQHYs7D3yf0FfEOCY+WgyoshPO+BJRdwjEg1XwQmFocZlFVvnTeV22qOv1rJQHiYyFroVdubYjvpZydowmr532W8ac+PMCxUjGCF82W9pkvPnJepPcGsfjIZhTUPLBj/leD1DdepCJctk8l6FW7WLMHbmSbTT6GjEOqddqr3RF9HhV2Fx5l0JpP/fKn[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-624e1d7b-bfc4-4062-80ac-13b782b603fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:18 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "857620614",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
