{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-354f3b3c-386a-b9b6-4e26-1e000f219483?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDB18C630B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-354f3b3c-386a-b9b6-4e26-1e000f219483/test-blob-7eea8ae0-8a53-1cbb-479d-66fbd15d7ff7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDB19A14BC\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:13:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-354f3b3c-386a-b9b6-4e26-1e000f219483/test-blob-7eea8ae0-8a53-1cbb-479d-66fbd15d7ff7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:10 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADuHwdtwHnLZItaszc1SQjZEklDZgAoTAikDPbsRB2XGpFUfpFtpRND3b3f3WjVPG4WuoATJDquxdP+ybSC3x9uwpml4Mp2a2w2/4lCSW6gztCI1Yqcg/VXprm+b9xfwf2ecBrPL1ujoE8T3SWxa3tkXvrj+gqV0T6kTjkRt/uQ1j6LpNhU0Z905DU6iaXPpTs9WhHhfMbzCJ/bK+EikuhTgwfnJsajD41bbhXUWkiZ1Kj91F3qr1p3l5s5eaa9UlJN5wae6H90mUqEhQ2xH65WQlY4JL6KaNOtcI4qaZbnnhzDh3NC+usoiToTZilMxnjt4jZPhC2Twn4y8HjwSTCznOfw7Zc6FEdqD5uEdwKqYKoWPYdflxnvL8T1DwlzNz8JX8lCXNj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-354f3b3c-386a-b9b6-4e26-1e000f219483?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:13:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1110536412",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
