{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-124eefb3-97cf-485c-2ce4-d81e26386d78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F017ED92B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:59 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-124eefb3-97cf-485c-2ce4-d81e26386d78/test-blob-a61906a7-b7fc-5afe-5de3-62995072c9fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336F018960F8\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:54:59.3356024Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-124eefb3-97cf-485c-2ce4-d81e26386d78/test-blob-a61906a7-b7fc-5afe-5de3-62995072c9fb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "5fgppSHOh/EuBbvf/ubYXg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "CHQZnC3ImnA0DALAT8c80A3LHWOkmCvDarmQHPKQpLYxWIyXQjrfOCkjoEEp1rNNWH8d0Tt6S29IVTJ0N319pGhMj/Y6pI7S7OU5gfjqmZMGQ8Nyc9J6tg0dT+wIagCrpfzY3Ui8ErPxSuVWQMl2XryebvS5CjCV0djpHVWhyYHkjtv8EbtMSjAQgSjtJHVDpvAwavwL8ZrLQwtu0vVdT4FjcbLtekwAUSTDqYkIp61jpndlcV6E2ZxBMM6v3Xc7sjGmibPCVSujMBjYR0gRw5teCyx9+N4i35gWrEl+UHSsiPdXYR75oFBLwUFGq5FUL20zUdFLvblThKkbrKnhJd+kLL9QumF8ZGvbMjed3DQHwX3cS/+iYMo+A9103vOnaZthon7RA3ULtuxmcIuBtqd1FOosBdr[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-124eefb3-97cf-485c-2ce4-d81e26386d78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1805847413",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
