{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-77bd4cff-1e07-a072-1853-5340f11c0516?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EB39F203A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-77bd4cff-1e07-a072-1853-5340f11c0516/test-blob-69cb0f75-2e67-6f35-c964-e167afd71050",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444EB3B055AC\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:46:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-77bd4cff-1e07-a072-1853-5340f11c0516/test-blob-69cb0f75-2e67-6f35-c964-e167afd71050?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AicEAAAAAAAAAQABAAEAAAQAAAAAAAAhuAa9PkNIBcqZVLtOpu8lRrQiDnBiZBjL1qRpfJ9gZ4hQqvjsUGDZmqfYGLC7Ge3VWJwOmLUPvlPu8Wef34kqOOwz/vz3OPZTSXPJiUxnD722kyMDUc/TQOuk/l74Obodrt/Dhxrx3R\u002Bmu05BRjUGh\u002BKp6EtlJuYdYL4QUzqXWg\u002B5q9tto4ejxbUDXZaAkfq2nXZ8TlFut4f4pidc4YrlDmA/h5pameNaBiOWYslQnM7DWbXDGwu\u002BSvNTdPxgR\u002BQrHk81QQlfXAOTIkgt2FW\u002BqAlZmIfUIfJUgT2nByXn\u002Bb8/a0N5GlvEZP2xMPnDkHGelMvzB65dVv1c4cDMuFXeqyiI7m0RRI6tlDOJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-77bd4cff-1e07-a072-1853-5340f11c0516?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:46:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "563358710",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
