{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02d724ed-be1d-350c-ccc3-78c69eb377fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C23238DCE59\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02d724ed-be1d-350c-ccc3-78c69eb377fa/test-blob-16756bbe-10f1-045c-fce1-87fdc438cec5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2323934F8B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:39.3444470Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02d724ed-be1d-350c-ccc3-78c69eb377fa/test-blob-16756bbe-10f1-045c-fce1-87fdc438cec5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC/jbplbOgFemC1hZ01lN/d1IxJnLR7gMifIj/at0pZyoiluMg1iH+U/ISbxAq7w2F/3qM8aVsvQwzxxkqpK8IVXLoUkNwWp0wMtJ8v4Lu+417eWtmnHGEtdXS7Q8I069DChWhQpzOFaTZXMLS8AGNRM+PrytHobj9Z5xpnW2SK18nObFpTbjwrWPGjT+yscXURahDfSSD/2hco978YHQ3RzVjr7ZMI/sWmwHHgRB5TrHalVvBUqo6oz5JDKnZ8Ejvj0oKTwYPhCGxKOIiuHpb41UpJcsccfSLJQh4BxdNOKq42/XKbv+rzw02ECXIG+rD8SlQsM590xlRgyX9k4EOY/A7adyEkXBZfVq55mHSvw0duBHp+IvYOwjYdO/VrjuMK7AxkK4K[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02d724ed-be1d-350c-ccc3-78c69eb377fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "288657983",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
