{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca4018fc-f577-0c4f-3c8a-8bc9867249fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04395D7E07\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca4018fc-f577-0c4f-3c8a-8bc9867249fa/test-blob-ed3ecce4-13fc-7869-07f6-d62b6c75dd76",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04396B4D34\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:23:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca4018fc-f577-0c4f-3c8a-8bc9867249fa/test-blob-ed3ecce4-13fc-7869-07f6-d62b6c75dd76?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACNQtI6FZGIcZyPEP26rUmWZW96e77X5PRoQBvXPdk8TX5AFIDU6ga9gkLUheh4O42buDwE8X88tl3d0tR1sDPDU8N/eZjJwXtovfl8A14M7wWOPISdN1z+BF4i9hgxR9EOETIl+cH00vbAnDOGwLL+0OLP53SvJhxmgHU5pspjNnYnbfIs5/ZDmWmN3JspeESrIyY1YmBcX+sWvnhLuyssXWW9XlLA0unri00KIUmBPQgxjoKkLdQVyg0GFih++N49YX81axrx6lE8SdcTUj6hlIFwGiyphzCQp5NEubzAbZNuzL/KS9HuQKMxaOP9AnjPZYGnDt6xlNlOpcSGrDGUe9xEpIV+10mvgdmJeB9Mk6QadVQ7GV+1vDjle6YNZ5NynOwHuV7[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ca4018fc-f577-0c4f-3c8a-8bc9867249fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:23:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1353815847",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
