{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-820d861a-807e-b60a-bb3c-3346f5838ed0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2323D5530B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-820d861a-807e-b60a-bb3c-3346f5838ed0/test-blob-054defd3-237c-aa1a-e57b-065d486d3536",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2323DADDB0\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:43:39.8123952Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-820d861a-807e-b60a-bb3c-3346f5838ed0/test-blob-054defd3-237c-aa1a-e57b-065d486d3536?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Y2IcT+h5zqJcun6nG7N94Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "1rIUyjH19cSczjtCbWRIcTfEu0YEJhC2eNqcMc9P61tqkNC7Njo9lbm6zPHdMYP5mxVkji+LfbCiXVJWWcT1TOLg192TjDr8hiaMSVkf2EdXopW661wr3hIgGdjn5jz0xX8O/VqmZQ7aZwgJ/jNWgoQL/7cvO2GGtPnKc3NiFaDpmITZENvtsDyG34RUIt/fyZZT2+aFxYoeiEhg2/GbeFFnH2avfHGpHk56qFvcMZIZ66ncDjm5ZNP5u4iTjdRK62cy7AJ5L00kqr2XChwuQle1RvBIvmkYrrqTtcHpFZB6L730qUSPoLtcuGR7IVm2y3gx3UbkAiz+Gj5I5XqLO5QtHdteOpgSJqY16wYFnI1g3OpIuDdKlSyR9o8GR7pA0XzPTgN+V5DgHrefrhcm+H2w5wmPQoN[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-820d861a-807e-b60a-bb3c-3346f5838ed0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1841438926",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
