{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f5b469b-d9c9-ef15-dadf-b82ed43fa32a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868574529875\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f5b469b-d9c9-ef15-dadf-b82ed43fa32a/test-blob-2f5b0b21-cccc-658d-457d-9fdae1857a7b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86857461B4C4\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:04:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f5b469b-d9c9-ef15-dadf-b82ed43fa32a/test-blob-2f5b0b21-cccc-658d-457d-9fdae1857a7b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "1jvRVrq+k08=",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "53D3s2Sba/qQENUz34cqHz0BPdkT+rBeQmvtIS1djySinaZUw+9SVY8xGGnyZ0IMjFQbuggZSOvAmHD4rUnNM4GwkULg1lxOrudJ4eJGa9op4JTYQdQbiVS7lCt+WadFZOTnQdYAK7b4zQshz2cJeSyWz8219PGslQjtJUIwz1VAA33+XyoDKbXd4HTJ+bntshr+54rakG/yOqvOEgZzx/224cvqChkCkqYX1xR945xOAHMnMufKZXMNCyR+NRauahl2ExjtA6cA+1XkwrlbdFcPfxKTTJQV63tY3P/1g1yPaW36B8+DYf3LJjaS5qK6spbNbrYEGx2EYCiclSaoC3f4VFlLYG2IjB4UxyVdgwTYnSloJxSmik1Pdaan5svWIxq+mpFJblIoReKY71T4J90jw/f9P+R[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3f5b469b-d9c9-ef15-dadf-b82ed43fa32a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:04:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1183689261",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
