{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/idDocument/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/pdf"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Operation-Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/idDocument/analyzeResults/6dd2e0a1-2041-4020-83c8-6745db9541f5",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/idDocument/analyzeResults/6dd2e0a1-2041-4020-83c8-6745db9541f5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-10-07T21:03:22Z",
        "lastUpdatedDateTime": "2024-10-07T21:03:22Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/idDocument/analyzeResults/6dd2e0a1-2041-4020-83c8-6745db9541f5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-10-07T21:03:22Z",
        "lastUpdatedDateTime": "2024-10-07T21:03:24Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "documentResults": []
        }
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "1448023236"
  }
}
