{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.072"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus",
        "tags": {},
        "properties": {
          "createdOn": "2026-03-03T16:25:27.3863419+00:00",
          "modifiedOn": "2026-03-03T16:25:38.210174+00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "provisioningWarnings": {},
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2026-03-03T19:38:55.355+00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e866ec51-5125-0a03-e5bc-a4cf77292d9e/versions?api-version=2023-04-01&hash=a9fb1254749266c77389009f2797b4568f6fd4b6155f853ba77ca7e3d7acb0aa&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.037"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e866ec51-5125-0a03-e5bc-a4cf77292d9e/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.225"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-pvtgahjqwww07sw8f4xu9bmvdm",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sakdaovmzee5xia",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://sakdaovmzee5xia.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-pvtgahjqwww07sw8f4xu9bmvdm?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "6a0118d0-0feb-4146-aecb-78463d7757e0",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-pvtgahjqwww07sw8f4xu9bmvdm/starlite_component/component_spec.yaml?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:45:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-pvtgahjqwww07sw8f4xu9bmvdm/starlite_component/component_spec.yaml?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "GrxzCbLIL4zzaDkCBeBsqw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Mar 2026 19:45:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "JHNjaGVtYTogaHR0cHM6Ly9jb21wb25lbnRzZGsuYXp1cmVlZGdlLm5ldC9qc29uc2NoZW1hL1N0YXJsaXRlQ29tcG9uZW50Lmpzb24KbmFtZTogbWljcm9zb2Z0X2NvbV9henVyZW1sX3NhbXBsZXNfc3RhcmxpdGVfX3NlYXJjaF9nb2xkX2dldF9maWxlcwp2ZXJzaW9uOiAwLjAuMQpkaXNwbGF5X25hbWU6IFN0YXJsaXRlIFNlYXJjaEdvbGQgR2V0IEZpbGVzCnR5cGU6IHN0YXJsaXRlCmRlc2NyaXB0aW9uOiBBbGxvd3MgdG8gZG93bmxvYWQgZmlsZXMgZnJvbSBTZWFyY2hHb2xk[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-pvtgahjqwww07sw8f4xu9bmvdm/starlite_component/component_spec.yaml?comp=metadata&skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:45:29 GMT",
        "x-ms-meta-name": "e866ec51-5125-0a03-e5bc-a4cf77292d9e",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D6CF0067B\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:45:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e866ec51-5125-0a03-e5bc-a4cf77292d9e/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "codeUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-pvtgahjqwww07sw8f4xu9bmvdm/starlite_component",
          "isAnonymous": true,
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e866ec51-5125-0a03-e5bc-a4cf77292d9e/versions/1?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.417"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e866ec51-5125-0a03-e5bc-a4cf77292d9e/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-pvtgahjqwww07sw8f4xu9bmvdm/starlite_component",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2026-03-03T19:45:30.4100805+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-03T19:45:30.4100805+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/8da69fa7-a4c8-0765-a3a7-192139230f92?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Allows to download files from SearchGold to cosmos and get their revision information. 'FileList' input is a file with source depot paths, one per line.",
          "properties": {},
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "isAnonymous": true,
          "componentSpec": {
            "name": "microsoft_com_azureml_samples_starlite__search_gold_get_files",
            "description": "Allows to download files from SearchGold to cosmos and get their revision information. 'FileList' input is a file with source depot paths, one per line.",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/StarliteComponent.json",
            "display_name": "Starlite SearchGold Get Files",
            "inputs": {
              "UploadToCosmos": {
                "type": "string",
                "optional": false,
                "default": "false",
                "enum": [
                  "true",
                  "false"
                ]
              },
              "FileList": {
                "type": "AnyFile",
                "optional": false
              },
              "RunId": {
                "type": "string",
                "optional": true,
                "description": "a parameter value"
              },
              "FileListFileName": {
                "type": "string",
                "optional": false,
                "default": "\\\\output.tsv"
              }
            },
            "outputs": {
              "Files": {
                "type": "AnyDirectory"
              },
              "CosmosPath": {
                "type": "AnyFile"
              },
              "ResultInfo": {
                "type": "AnyFile"
              }
            },
            "type": "starlite",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e866ec51-5125-0a03-e5bc-a4cf77292d9e/versions/1",
            "command": "Starlite.Cloud.SourceDepotGet.exe /UploadToCosmos:${{inputs.UploadToCosmos}} /FileList:${{inputs.FileList}}${{inputs.FileListFileName}} /Files:${{outputs.Files}} /CosmosPath:${{outputs.CosmosPath}} /ResultInfo:${{outputs.ResultInfo}} \"\"",
            "starlite": {
              "ref_id": "bd140f4d-7775-4246-a75c-1c86df9536fb"
            },
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/8da69fa7-a4c8-0765-a3a7-192139230f92?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.719"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/5128fa49-9e42-4b1f-91a0-42de1166d2b0",
        "name": "5128fa49-9e42-4b1f-91a0-42de1166d2b0",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/StarliteComponent.json",
            "name": "microsoft_com_azureml_samples_starlite__search_gold_get_files",
            "version": "0.0.1",
            "display_name": "Starlite SearchGold Get Files",
            "is_deterministic": "True",
            "type": "starlite",
            "description": "Allows to download files from SearchGold to cosmos and get their revision information. 'FileList' input is a file with source depot paths, one per line.",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "inputs": {
              "FileList": {
                "type": "AnyFile",
                "optional": "False"
              }[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "pipeline_func",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "node": {
              "type": "StarliteComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "FileList": {
                  "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_starlite_sample_output/versions/2",
                  "job_input_type": "mltable"
                },
                "FileListFileName": {
                  "job_input_type": "literal",
                  "value": "\\output.tsv"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/5128fa49-9e42-4b1f-91a0-42de1166d2b0"
            }
          },
          "outputs": {},
          "settings": {
            "default_datastore": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.462"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "displayName": "pipeline_func",
          "status": "NotStarted",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "default_datastore": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
            "_source": "DSL"
          },
          "jobs": {
            "node": {
              "type": "StarliteComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "FileList": {
                  "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_starlite_sample_output/versions/2",
                  "job_input_type": "mltable"
                },
                "FileListFileName": {
                  "job_input_type": "literal",
                  "value": "\\output.tsv"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/5128fa49-9e42-4b1f-91a0-42de1166d2b0"
            }
          },
          "inputs": null,
          "outputs": {},
          "sourceJobId": null
        },
        "systemData": {
          "createdAt": "2026-03-03T19:45:33.1272926+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000/cancel?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; cha[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:23329d4e-9b5f-403d-a218-c4e4f8323f5a:000000000000000000000?api-version=2023-04-01-preview&t=639081639361225335&c=MIIHhzCCBm-gAwIBAgITHgf_SDN0U0Mca1SI0QAAB_9IMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMjE5MDYyODQwWhcNMjYwNTI0MjI1NzAz[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:23329d4e-9b5f-403d-a218-c4e4f8323f5a:000000000000000000000?api-version=2023-04-01-preview&t=639081639363696712&c=MIIHhzCCBm-gAwIBAgITHgf-_hRjF1ptbXlu4AAAB_7-FDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMjE5MDIzMTQ1WhcNMjYwNTI0MjI1NzAz[...]
