{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/1f43a999-6005-a167-6bde-90cc09ac7298/versions?api-version=2023-04-01&hash=00b05eba3481b695209eefd42eccfab14785ac530539323563d8bd14bb97709c&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3746",
        "x-ms-ratelimit-remaining-subscription-reads": "247",
        "x-ms-response-type": "standard",
        "x-request-time": "0.043"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/1f43a999-6005-a167-6bde-90cc09ac7298/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "00b05eba3481b695209eefd42eccfab14785ac530539323563d8bd14bb97709c",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-u8it052lsfdszvi6kh2x94zgmz/hemera-component",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2026-03-03T19:14:10.881259+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2026-03-03T19:14:10.881259+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/1f43a999-6005-a167-6bde-90cc09ac7298/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "applicatio[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_737491634548/versions/0.0.2?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Ads LR DNN Raw Keys Dummy sample.",
          "properties": {},
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "isAnonymous": false,
          "componentSpec": {
            "name": "test_737491634548",
            "description": "Ads LR DNN Raw Keys Dummy sample.",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "version": "0.0.2",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/HemeraComponent.json",
            "display_name": "Ads LR DNN Raw Keys",
            "inputs": {
              "TrainingDataDir": {
                "type": "path",
                "optional": true,
                "is_resource": true
              },
              "ValidationDataDir": {
                "type": "path",
                "optional": true,
                "is_resource": true
              },
              "InitialModelDir": {
                "type": "path",
                "optional": true,
                "is_resource": true
              },
              "YarnCluster": {
                "type": "string",
                "optional": false,
                "default": "mtprime-bn2-0"
              },
              "JobQueue": {
                "type": "string",
                "optional": false,
                "default": "default"
              },
              "WorkerCount": {
                "type": "string",
                "optional": false,
                "default": "2.0"
              },
              "Cpu": {
                "type": "string",
                "optional": false,
                "default": "2.0"
              },
              "Memory": {
                "type": "string",
                "optional": false,
                "default": "10g"
              },
              "HdfsRootDir": {
                "type": "string",
                "optional": false,
                "default": "/projects/default/"
              },
              "CosmosRootDir": {
                "type": "string",
                "optional": false,
                "default": "https://cosmos09.osdinfra.net/cosmos/dummy/local/root/"
              }
            },
            "outputs": {
              "output1": {
                "type": "AnyFile"
              },
              "output2": {
                "type": "AnyFile"
              }
            },
            "type": "HemeraComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/1f43a999-6005-a167-6bde-90cc09ac7298/versions/1",
            "command": "run.bat [-_TrainingDataDir {inputs.TrainingDataDir}] [-_ValidationDataDir {inputs.ValidationDataDir}] [-_InitialModelDir {inputs.InitialModelDir}] -_CosmosRootDir {inputs.CosmosRootDir} -_PsCount 0 %CLUSTER%={inputs.YarnCluster} -JobQueue {inputs.JobQueue} -_WorkerCount {inputs.WorkerCount} -_Cpu {inputs.Cpu} -_Memory {inputs.Memory} -_HdfsRootDir {inputs.HdfsRootDir} -_ExposedPort \"3200-3210,3300-3321\" -_NodeLostBlocker -_UsePhysicalIP -_SyncWorker -_EntranceFileName run.py -_StartupArguments \"\" -_PythonZipPath \"https://dummy/foo/bar.zip\" -_ModelOutputDir {outputs.output1} -_ValidationOutputDir {outputs.output2}",
            "hemera": {
              "ref_id": "1bd1525c-082e-4652-a9b2-9c60783ec551"
            },
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_737491634548/versions/0.0.2?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2997",
        "x-ms-ratelimit-remaining-subscription-writes": "197",
        "x-ms-response-type": "standard",
        "x-request-time": "0.473"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_737491634548/versions/0.0.2",
        "name": "0.0.2",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/HemeraComponent.json",
            "name": "test_737491634548",
            "version": "0.0.2",
            "display_name": "Ads LR DNN Raw Keys",
            "is_deterministic": "True",
            "type": "HemeraComponent",
            "description": "Ads LR DNN Raw Keys Dummy sample.",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "inputs": {
              "TrainingDataDir": {
                "type": "path",
                "optional": "True",
                "is_resource": "True"
              },
              "ValidationDataDir": {
                "type": "path",[...]
[...]
