{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions?api-version=2023-04-01&hash=682762579124a10c3ff944319a47b8d023ed3ca269ea5550874bdb61d08ff95f&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-response-type": "standard",
        "x-request-time": "0.047"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "682762579124a10c3ff944319a47b8d023ed3ca269ea5550874bdb61d08ff95f",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://saep2ojtu6hiywu.blob.core.windows.net:443/b0f1ba9e-8ee1-4137-b14e-89f18df895c7-2kj2fx7x5txkb8n6o4lt6ere2l/batch_inference",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2026-02-26T17:02:24.8957271+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2026-02-26T17:02:24.8957271+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_620418250572/versions/0.0.1?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Score images with MNIST image classification model.",
          "properties": {},
          "tags": {
            "Parallel": "",
            "Sample": "",
            "contact": "Microsoft Corporation <xxx@microsoft.com>",
            "helpDocument": "https://aka.ms/parallel-modules"
          },
          "isAnonymous": false,
          "componentSpec": {
            "name": "test_620418250572",
            "description": "Score images with MNIST image classification model.",
            "tags": {
              "Parallel": "",
              "Sample": "",
              "contact": "Microsoft Corporation <xxx@microsoft.com>",
              "helpDocument": "https://aka.ms/parallel-modules"
            },
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/ParallelComponent.json",
            "display_name": "Parallel Score Image Classification with MNIST",
            "inputs": {
              "model_path": {
                "type": "path",
                "description": "Trained MNIST image classification model.",
                "optional": false
              },
              "images_to_score": {
                "type": "path",
                "description": "Images to score.",
                "optional": false
              }
            },
            "outputs": {
              "scored_dataset": {
                "type": "path",
                "description": "Output folder to save scored result."
              }
            },
            "type": "ParallelComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1",
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi4.1.0-cuda11.8-cudnn8-ubuntu22.04"
              },
              "conda": {
                "conda_dependencies": {
                  "channels": [
                    "defaults"
                  ],
                  "dependencies": [
                    "python=3.7.9",
                    "pip=20.0",
                    {
                      "pip": [
                        "protobuf==3.20.1",
                        "tensorflow==1.15.2",
                        "pillow",
                        "azureml-core",
                        "azureml-dataset-runtime[fuse, pandas]"
                      ]
                    }
                  ],
                  "name": "batch_environment"
                }
              },
              "os": "Linux"
            },
            "parallel": {
              "input_data": "inputs.images_to_score",
              "output_data": "outputs.scored_dataset",
              "entry": "batch_score.py",
              "args": "--model_path {inputs.model_path} --scored_dataset {outputs.scored_dataset}"
            },
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_620418250572/versions/0.0.1?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "1.083"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_620418250572/versions/0.0.1",
        "name": "0.0.1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "Parallel": "",
            "Sample": "",
            "contact": "Microsoft Corporation <xxx@microsoft.com>",
            "helpDocument": "https://aka.ms/parallel-modules"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/ParallelComponent.json",
            "name": "test_620418250572",
            "version": "0.0.1",
            "display_name": "Parallel Score Image Classification with MNIST",
            "is_deterministic": "True",
            "type": "ParallelComponent",
            "description": "Score images with MNIST image classification model.",
            "tags": {
              "Parallel": "",
              "Sample": "",
              "contact": "Microsoft Corporation <xxx@microsoft.com>",
              "helpDocument": "https://aka.ms/parallel-modules"
            },
            "inputs": {
              "model_path": {
                "type": "path",
                "optional": "False",
                "description": "Trained MNIST image classification model.",
                "datastore_mode": "Mount"
              },
              "images_to_score": {
                "type": "path",
                "optional": "False",
                "description": "Images to score.",
                "datastore_mode": "Mount"
              }
            },
            "outputs": {
              "scored_dataset": {
                "type": "path",
                "description": "Output folder to save scored result.",
                "datastore_mode": "Upload"
              }
            },
          [...]
[...]
