{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.168"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model",
        "name": "mltable_mnist_model",
        "type": "Microsoft.MachineLearningServices/workspaces/data",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isArchived": false,
          "latestVersion": "2",
          "nextVersion": "3",
          "dataType": "mltable"
        },
        "systemData": {
          "createdAt": "2025-03-18T12:10:11.5901987+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-03-18T12:10:11.679398+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-response-type": "standard",
        "x-request-time": "0.051"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2",
        "name": "2",
        "type": "Microsoft.MachineLearningServices/workspaces/data/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/mnist-data/",
          "stage": null,
          "intellectualProperty": null,
          "dataType": "mltable",
          "referencedUris": [
            "./0.png",
            "./1.png",
            "./2.png",
            "./3.png"
          ]
        },
        "systemData": {
          "createdAt": "2025-03-18T12:10:11.6362856+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-03-18T12:10:11.6526565+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.181"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist",
        "name": "mltable_mnist",
        "type": "Microsoft.MachineLearningServices/workspaces/data",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isArchived": false,
          "latestVersion": "2",
          "nextVersion": "3",
          "dataType": "mltable"
        },
        "systemData": {
          "createdAt": "2025-03-18T12:10:18.0110611+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-03-18T12:10:18.0993394+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist/versions/2?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
    [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions?api-version=2023-04-01&hash=682762579124a10c3ff944319a47b8d023ed3ca269ea5550874bdb61d08ff95f&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.038"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.266"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/4830284c-8448-41aa-bcdd-55399c88f511-yqozcv517dfsm9abjodc2pwa6t",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saw5gakqr75l2j2",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://saw5gakqr75l2j2.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-yqozcv517dfsm9abjodc2pwa6t?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "8d4d7d98-80a7-4ca7-8bba-0365db7cc6fe",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-yqozcv517dfsm9abjodc2pwa6t/batch_inference/batch_score.py?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 12:14:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-yqozcv517dfsm9abjodc2pwa6t/batch_inference/batch_score.yaml?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "nl7NGle33xAE2rjjEjW5LA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 Mar 2025 12:14:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "JHNjaGVtYTogaHR0cHM6Ly9jb21wb25lbnRzZGsuYXp1cmVlZGdlLm5ldC9qc29uc2NoZW1hL1BhcmFsbGVsQ29tcG9uZW50Lmpzb24KbmFtZTogbWljcm9zb2Z0LmNvbS5henVyZW1sLnNhbXBsZXMucGFyYWxsZWxfc2NvcmVfaW1hZ2UKdmVyc2lvbjogMC4wLjEKZGlzcGxheV9uYW1lOiBQYXJhbGxlbCBTY29yZSBJbWFnZSBDbGFzc2lmaWNhdGlvbiB3aXRoIE1OSVNUCnR5cGU6IFBhcmFsbGVsQ29tcG9uZW50CmRlc2NyaXB0aW9uOiBTY29yZSBpbWFnZXMgd2l0aCBNTklTVCBp[...]
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-yqozcv517dfsm9abjodc2pwa6t/batch_inference/batch_score.py?comp=metadata&skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 12:14:59 GMT",
        "x-ms-meta-name": "23ebb661-7845-cc9a-b1da-084f1abaf69e",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6616817B9C78\"",
        "Last-Modified": "Tue, 18 Mar 2025 12:15:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/4830284c-8448-41aa-bcdd-55399c88f511-yqozcv517dfsm9abjodc2pwa6t/batch_inference"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1?api-version=2023-04-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.268"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/4830284c-8448-41aa-bcdd-55399c88f511-yqozcv517dfsm9abjodc2pwa6t/batch_inference",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2025-03-18T12:15:02.5663673+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-03-18T12:15:02.5663673+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/3252448a-e938-76c5-8942-f4e9bd7b78fa?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Score images with MNIST image classification model.",
          "properties": {},
          "tags": {
            "Parallel": "",
            "Sample": "",
            "contact": "Microsoft Corporation <xxx@microsoft.com>",
            "helpDocument": "https://aka.ms/parallel-modules"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "microsoft.com.azureml.samples.parallel_score_image",
            "description": "Score images with MNIST image classification model.",
            "tags": {
              "Parallel": "",
              "Sample": "",
              "contact": "Microsoft Corporation <xxx@microsoft.com>",
              "helpDocument": "https://aka.ms/parallel-modules"
            },
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/ParallelComponent.json",
            "display_name": "Parallel Score Image Classification with MNIST",
            "inputs": {
              "model_path": {
                "type": "path",
                "description": "Trained MNIST image classification model.",
                "optional": false
              },
              "images_to_score": {
                "type": "path",
                "description": "Images to score.",
                "optional": false
              }
            },
            "outputs": {
              "scored_dataset": {
                "type": "path",
                "description": "Output folder to save scored result."
              }
            },
            "type": "ParallelComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1",
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi4.1.0-cuda11.8-cudnn8-ubuntu22.04"
              },
              "conda": {
                "conda_dependencies": {
                  "channels": [
                    "defaults"
                  ],
                  "dependencies": [
                    "python=3.7.9",
                    "pip=20.0",
                    {
                      "pip": [
                        "protobuf==3.20.1",
                        "tensorflow==1.15.2",
                        "pillow",
                        "azureml-core",
                        "azureml-dataset-runtime[fuse, pandas]"
                      ]
                    }
                  ],
                  "name": "batch_environment"
                }
              },
              "os": "Linux"
            },
            "parallel": {
              "input_data": "inputs.images_to_score",
              "output_data": "outputs.scored_dataset",
              "entry": "batch_score.py",
              "args": "--model_path {inputs.model_path} --scored_dataset {outputs.scored_dataset}"
            },
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/3252448a-e938-76c5-8942-f4e9bd7b78fa?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-02",
       [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/upbeat_cake_b5701zgqcp?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "pipeline_func",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "node": {
              "resources": {
                "instance_count": 1,
                "properties": {}
              },
              "max_concurrency_per_instance": 2,
              "error_threshold": 5,
              "logging_level": "DEBUG",
              "retry_settings": {
                "timeout": 300,
                "max_retries": 2
              },
              "mini_batch_size": "2",
              "type": "ParallelComponent",
              "inputs": {
                "model_path": {
                  "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2",
                  "job_input_type": "mltable"
                },
                "images_to_score": {
                  "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist/versions/2",
                  "job_input_type": "mltable"
                }
              },
              "outputs": {
                "scored_dataset": {
                  "job_output_type": "uri_file",
                  "name": "ParallelComponent_output",
                  "version": "1"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/5bacb1fb-e0ae-4b6b-acd0-47f84898e8f5",
              "limits": {
                "job_limits_type": "Command"
              }
            }
          },
          "outputs": {},
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/upbeat_cake_b5701zgqcp?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.396"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/upbeat_cake_b5701zgqcp",
        "name": "upbeat_cake_b5701zgqcp",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "displayName": "pipeline_func",
          "status": "NotStarted",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/upbeat_cake_b5701zgqcp?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "_source": "DSL"
          },
          "jobs": {
            "node": {
              "resources": {
                "instance_count": 1,
                "properties": {}
              },
              "max_concurrency_per_instance": 2,
 [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/upbeat_cake_b5701zgqcp/cancel?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azu[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:4830284c-8448-41aa-bcdd-55399c88f511:upbeat_cake_b5701zgqcp?api-version=2023-04-01-preview&t=638778969145820917&c=MIIHhzCCBm-gAwIBAgITfAahW1AM79KhMijZVgAABqFbUDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTI3MDc1NTUwWhcNMjUwNzI2MDc1NTU[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:4830284c-8448-41aa-bcdd-55399c88f511:upbeat_cake_b5701zgqcp?api-version=2023-04-01-preview&t=638778969154890711&c=MIIHhzCCBm-gAwIBAgITfAahW1AM79KhMijZVgAABqFbUDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTI3MDc1NTUwWhcNMjUwNzI2MDc1NTU[...]
