{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "error",
        "x-request-time": "0.261"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "User error when calling GenericAssetMLIndexServiceClient.MoveNext. Service invocation failed!\r\nRequest: GET westus.api.azureml.ms/genericasset/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/indexes/mltable_mnist_model/versions/2\r\nStatus Code: 404 NotFound\r\nError Code: UserError/NotFoundError\r\nReason Phrase: Asset with Asset ID: azureml://locations/westus/workspaces/4830284c-8448-41aa-bcdd-55399c88f511/inde\r\nResponse Body: {\"error\":{\"code\":\"UserError\",\"message\":\"Asset with Asset ID: azureml://locations/westus/workspaces/4830284c-8448-41aa-bcdd-55399c88f511/indexes/mltable_mnist_model/versions/2 and tenantId:  was not found\",\"details\":[],\"innerError\":{\"code\":\"NotFoundError\"}},\"correlation\":{\"operation\":\"ce206d2100c224eff5771cc0feec5391\",\"request\":\"ce3daa465307ff2b\"},\"environment\":\"westus\",\"location\":\"westus\",\"time\":\"2025-03-18T12:10:03.6906349+00:00\",\"componentName\":\"genericasset\",\"statusCode\":404}",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "ce206d2100c224eff5771cc0feec5391",
                  "request": "92cf2be50262d870"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "westus"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2025-03-18T12:10:03.7019581+00:00"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azureedge.net/latest/MLTable.schema.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"0x8DD625A848D53C6\"",
        "Last-Modified": "Thu, 13 Mar 2025 18:11:46 GMT",
        "x-fd-int-roxy-purgeid": "47892535",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": {
        "$schema": "http://json-schema.org/draft-07/schema#",
        "$id": "http://azureml/sdk-2-0/MLTable.json",
        "title": "MLTable specification",
        "description": "An MLTable defines a set of instructions in order to build a table of data.",
        "type": "object",
        "properties": {
          "$schema": {
            "type": "string"
          },
          "type": {
            "const": "mltable"
          },
          "metadata": {
            "description": "Infomation about the MLTable",
            "type": "object",
            "additionalProperties": true
          },
          "paths": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "file": {
                      "type": "string",
                      "description": "This specifies path of file containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "file"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "folder": {
                      "type": "string",
                      "description": "This specifies path of folder containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "folder"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "pattern": {
                      "type": "string",
                      "description": "This specifies a search pattern to allow globbing of files and folders containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "pattern"
                  ]
                }
              ]
            }
          },
          "traits": {
            "type": "object",
            "properties": {
              "index_columns": {
                "type": "array",
                "description": "Sets the table index using existing columns. This trait can be used by partition_by in the data plane to split data by the index.",
                "items": {
                  "type": "string"
                }
              },
              "timestamp_column": {
                "type": "string",
                "description": "Defines the timestamp column of the table. This trait can be used in filter transforms, or in other data plane operations (SDK) such as drift detection."
              }
            }
          },
          "transformations": {
            "description": "Defined sequence of transformations that are applied to data loaded from defined paths.",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "read_delimited"
                },
                {
                  "const": "read_parquet"
                },
                {
                  "const": "read_json_lines"
                },
                {
                  "const": "read_delta_lake"
                },
                {
                  "const": "extract_columns_from_partition_format"
                },
                {
                  "type": "object",
                  "properties": {
                    "read_delimited": {
                      "description": "Reads delimited files from provided paths, splitting them into rows and columns based on separator.",
                      "type": "object",
                      "properties": {
                        "delimiter": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 2,
                          "default": ","
                        },
                        "header": {
                          "type": "string",
                          "enum": [
                            "no_header",
                            "from_first_file",
                            "all_files_different_headers",
                            "all_files_same_headers"
                          ],
                          "default": "all_files_same_headers"
                        },
                        "support_multi_line": {
                          "type": "boolean",
                          "default": false
                        },
                        "empty_as_string": {
                          "type": "boolean",
                          "default": false
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "utf8",
                            "iso88591",
                            "latin1",
                            "ascii",
                            "utf16",
                            "utf32",
                            "utf8bom",
                            "windows1252"
                          ],
                          "default": "utf8"
                        },
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        },
                        "infer_column_types": {
                          "type": [
                            "object",
                            "boolean"
                          ],
                          "properties": {
                            "sample_size": {
                              "type": "integer",
                              "default": 100
                            },
                            "column_type_overrides": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "columns": {
                                    "oneOf": [
                                      {
                                        "type": "string",
                                        "description": "single column to be selected"
                                      },
                                      {
                                        "type": "array",
                                        "description": "list of columns to be selected",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    ]
                                  },
                                  "column_type": {
                                    "oneOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "boolean",
                                          "float",
                                          "string",
                                          "int",
                                          "stream_info"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "boolean": {
                                            "type": "object",
                                            "properties": {
                                              "true_values": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "false_values": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "mismatch_as": {
                                                "type": "string",
                                                "enum": [
                                                  "false",
                                                  "true",
                                                  "error"
                                                ],
                                                "default": "error"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "datetime": {
                                            "type": "object",
                                            "properties": {
                                              "formats": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "date_constant": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "formats"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "columns",
                                  "column_type"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "default": true,
                          "additionalProperties": false
                        },
                        "path_column": {
                          "type": "string"
                        },
                        "partition_size": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "read_parquet": {
                      "description": "Reads parquet files from the provided paths using the defined options.",
                      "type": "object",
                      "properties": {
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        },
                        "path_column": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "read_json_lines": {
                      "description": "Reads JSON lines file from the provided paths using the defined options.",
                      "type": "object",
                      "properties": {
                        "invalid_lines": {
                          "type": "string",
                          "enum": [
                            "error",
                            "drop"
                          ],
                          "default": "error"
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "utf8",
                            "iso88591",
                            "latin1",
                            "ascii",
                            "utf16",
                            "utf32",
                            "utf8bom",
                            "windows1252"
                          ],
                          "default": "utf8"
                        },
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        },
                        "path_column": {
                          "type": "string"
                        },
                        "partition_size": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "read_delta_lake": {
                      "description": "Reads parquet files from delta lake using the defined options.",
                      "type": "object",
                      "properties": {
                        "version_as_of": {
                          "type": "integer",
                          "description": "integer version to use to read in a specific version of parquet files."
                        },
                        "timestamp_as_of": {
                          "type": "string",
                          "description": "datetime string in RFC-3339/ISO-8601 format to use to read in matching parquet files from a specific point in time."
                        },
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "extract_columns_from_partition_format": {
                      "type": "object",
                      "description": "The partition information of each path will be extracted into columns based on the specified format",
                      "properties": {
                        "partition_format": {
                          "type": "string",
                          "description": "Partition format to use to extract data into columns"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "filter": {
                      "description": "filter rows based on the expression",
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "take": {
                      "description": "take the first N rows from dataset",
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "take_random_sample": {
                      "description": "take a random sample of records in the dataset approximately by the probability specified",
                      "type": "object",
                      "properties": {
                        "probability": {
                          "type": "number",
                          "minimum": 0.0,
                          "maximum": 1.0
                        },
                        "seed": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "skip": {
                      "description": "Skip the first N records from top of the dataset",
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "drop_columns": {
                      "description": "Drop the specified columns from the dataset",
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "single column to be selected"
                        },
                        {
                          "type": "array",
                          "description": "list of columns to be selected",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object",
                          "description": "pattern and properties defining columns to be selected",
                          "properties": {
                            "pattern": {
                              "type": "string"
                            },
                            "ignore_case": {
                              "type": "boolean",
                              "default": false
                            },
                            "invert": {
                              "type": "boolean",
                              "default": false
                            }
                          }
                        }
                      ]
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "keep_columns": {
                      "description": "Keep only the specified columns from the dataset",
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "single column to be selected"
                        },
                        {
                          "type": "array",
                          "description": "list of columns to be selected",
                          "items": {
                         [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.094"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-4830284c-8448-41aa-bcdd-55399c88f511",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2025-03-18T09:24:59.629721+00:00",
          "lastModifiedAt": "2025-03-18T09:25:00.8938439+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.122"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-4830284c-8448-41aa-bcdd-55399c88f511/LocalUpload/00000000000000000000000000000000/mnist-data/0.png?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 12:10:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "yLW2CQQeldeN1S7hH1/5Nw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD66117877A0A6\"",
        "Last-Modified": "Tue, 18 Mar 2025 11:38:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 18 Mar 2025 11:38:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "c69e6763-d9f6-4f35-8af3-c847bcf90f86",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "9eaf78d1-f01e-46eb-b487-0ed573ad760b",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-4830284c-8448-41aa-bcdd-55399c88f511/az-ml-artifacts/00000000000000000000000000000000/mnist-data/0.png?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 12:10:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "mltable",
          "dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/mnist-data",
          "referencedUris": [
            "./0.png",
            "./1.png",
            "./2.png",
            "./3.png"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.978"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2",
        "name": "2",
[...]
