{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions?api-version=2023-04-01&hash=ef3d8d602c7712c3710cb023b1fcf6c64087444f410a002cbcfb27928d743482&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.350"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-7v01o1sw0uxjgv6u4l2he5qzg0",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sakdaovmzee5xia",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://sakdaovmzee5xia.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-7v01o1sw0uxjgv6u4l2he5qzg0?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "7d284fc8-b39b-41fd-aa59-d729171e9ae4",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-7v01o1sw0uxjgv6u4l2he5qzg0/data-transfer-component/component_spec.yaml?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:14:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-7v01o1sw0uxjgv6u4l2he5qzg0/data-transfer-component/component_spec.yaml?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "l52LSj1ENbMHPQwagyzJEA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Mar 2026 19:14:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "JHNjaGVtYTogaHR0cHM6Ly9jb21wb25lbnRzZGsuYXp1cmVlZGdlLm5ldC9qc29uc2NoZW1hL0RhdGFUcmFuc2ZlckNvbXBvbmVudC5qc29uCm5hbWU6IGRhdGFfdHJhbnNmZXIKdmVyc2lvbjogMC4wLjEKZGlzcGxheV9uYW1lOiBEYXRhIFRyYW5zZmVyCnR5cGU6IERhdGFUcmFuc2ZlckNvbXBvbmVudApkZXNjcmlwdGlvbjogdHJhbnNmZXIgZGF0YSBiZXR3ZWVuIGNvbW1vbiBzdG9yYWdlIHR5cGVzIHN1Y2ggYXMgQXp1cmUgQmxvYiBTdG9yYWdlIGFuZCBBenVyZSBEYXRhIExha2UuCnRhZ3M6IHtjYXRlZ29yeTogQ29tcG9uZW50IFR1dG9yaWFsLCBjb250YWN0OiBhbWxkZXNpZ25lckBtaWNyb3NvZnQuY29tfQppc19kZXRlcm1pbmlzdGljOiBUcnVlCmlucHV0czoKICBzb3VyY2VfZGF0YToKICAgIHR5cGU6IHBhdGgKICAgIGRlc2NyaXB0aW9uOiBTb3VyY2UgZGF0YQpvdXRwdXRzOgogIGRlc3RpbmF0aW9uX2RhdGE6CiAgICB0eXBlOiBwYXRoCiAgICBkZXNjcmlwdGlvbjogRGVzdGluYXRpb24gZGF0YQoK",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "l52LSj1ENbMHPQwagyzJEA==",
        "ETag": "\"0x8DE79590F22853E\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:14:14 GMT",
        "x-ms-content-crc64": "oYWqBmzLKWc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-7v01o1sw0uxjgv6u4l2he5qzg0/data-transfer-component/component_spec.yaml?comp=metadata&skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:14:14 GMT",
        "x-ms-meta-name": "328cf68e-c819-56da-ff0f-b07237ae6f3d",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79590F319E31\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:14:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "codeUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-7v01o1sw0uxjgv6u4l2he5qzg0/data-transfer-component",
          "isAnonymous": true,
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.202"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-7v01o1sw0uxjgv6u4l2he5qzg0/data-transfer-component",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2026-03-03T19:14:14.9526897+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-03T19:14:14.9526897+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_433553568794/versions/0.0.1?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "transfer data between common storage types such as Azure Blob Storage and Azure Data Lake.",
          "properties": {},
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "isAnonymous": false,
          "componentSpec": {
            "name": "test_433553568794",
            "description": "transfer data between common storage types such as Azure Blob Storage and Azure Data Lake.",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/DataTransferComponent.json",
            "display_name": "Data Transfer",
            "is_deterministic": true,
            "inputs": {
              "source_data": {
                "type": "path",
                "description": "Source data"
              }
            },
            "outputs": {
              "destination_data": {
                "type": "path",
                "description": "Destination data"
              }
            },
            "type": "DataTransferComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_433553568794/versions/0.0.1?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.486"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_433553568794/versions/0.0.1",
        "name": "0.0.1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/DataTransferComponent.json",
            "name": "test_433553568794",
            "version": "0.0.1",
            "display_name": "Data Transfer",
            "is_deterministic": "True",
            "type": "DataTransferComponent",
            "description": "transfer data between common storage types such as Azure Blob Storage and Azure Data Lake.",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "inputs": {
              "source_data": {
                "type": "path",
                "optional": "False",
                "description": "Source data"
              }
            },
            "outputs": {
              "destination_data": {
                "type": "path",
                "description": "Destination data"
              }
            },
            "datatransfer": {
              "allow_overwrite": "True"
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1"
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2026-03-03T19:14:16.6139094+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-03T19:14:16.762326+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
