{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.OffAzureSpringBoot/springbootsites?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "42e5256b-1446-4239-9577-345a519d2d3b",
          "bc1dede8-1838-42c2-a036-9feeb7b20eff",
          "e43311f7-91ed-4a3e-9663-7862f1b719b5",
          "496ab166-1061-482a-9478-7531d3b1c7d3",
          "a9ec7d38-b17b-4d28-90f3-9424e499b9c1",
          "b57d20d3-8a68-453c-b93c-29bed82c89f4",
          "c5669210-d3db-4ad9-8e86-9b4a1a8747c8",
          "8204f625-0cd7-471c-8d46-3daf8c453068",
          "946b3b47-7383-4efd-b2af-b8dfb6fb078b",
          "9b088500-8d18-49a1-9caa-4d973859fad2",
          "4de3449b-c179-4b7a-9215-6e1d05d83b57",
          "a6a398f2-550c-48a9-806b-575335cd286d",
          "5886f577-a784-4cbf-ada2-86af0f2a4443",
          "63fd5625-d1e0-4010-8c8e-1d3b6f330640",
          "699542b7-71e1-49ea-832a-d62620b43fa0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
