{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='emptyString',RowKey='0')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:692a4bba-4002-0048-02d3-a44a06000000\nTime:2025-04-03T20:05:09.1179229Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "emptyString",
        "RowKey": "0",
        "value": "",
        "value@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='emptyString',RowKey='0')",
        "ETag": "W/\"datetime'2025-04-03T20%3A05%3A09.1469067Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='emptyString',RowKey='0')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='emptyString',RowKey='0')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A05%3A09.1469067Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestbrowser/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A05%3A09.1469067Z'\"",
        "PartitionKey": "emptyString",
        "RowKey": "0",
        "Timestamp": "2025-04-03T20:05:09.1469067Z",
        "value": ""
      }
    }
  ],
  "Variables": {}
}
