{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P6_browser',RowKey='R6')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:692a2e5c-4002-0048-09d3-a44a06000000\nTime:2025-04-03T20:04:53.5568058Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "P6_browser",
        "RowKey": "R6",
        "testField": true,
        "testField@odata.type": "Edm.Boolean"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P6_browser',RowKey='R6')",
        "ETag": "W/\"datetime'2025-04-03T20%3A04%3A53.5887878Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P6_browser',RowKey='R6')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P6_browser',RowKey='R6')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A04%3A53.5887878Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestbrowser/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A04%3A53.5887878Z'\"",
        "PartitionKey": "P6_browser",
        "RowKey": "R6",
        "Timestamp": "2025-04-03T20:04:53.5887878Z",
        "testField": true
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P6_browser',RowKey='R6')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
