{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='CreateBinary_browser',RowKey='first_browser')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:6929fb0a-4002-0048-19d3-a44a06000000\nTime:2025-04-03T20:04:25.2519631Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "CreateBinary_browser",
        "RowKey": "first_browser",
        "binary": "QmFy",
        "binary@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='CreateBinary_browser',RowKey='first_browser')",
        "ETag": "W/\"datetime'2025-04-03T20%3A04%3A25.2839448Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='CreateBinary_browser',RowKey='first_browser')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='CreateBinary_browser',RowKey='first_browser')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A04%3A25.2839448Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestbrowser/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A04%3A25.2839448Z'\"",
        "PartitionKey": "CreateBinary_browser",
        "RowKey": "first_browser",
        "Timestamp": "2025-04-03T20:04:25.2839448Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy"
      }
    }
  ],
  "Variables": {}
}
