{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='',RowKey='')?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "dataserviceversion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:74dbcfd9-2002-0013-11ba-a4733d000000\nTime:2025-04-03T17:08:17.4136087Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "",
        "RowKey": "",
        "testField": "testEntity"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='',RowKey='')",
        "ETag": "W/\"datetime'2025-04-03T17%3A08%3A17.4426032Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='',RowKey='')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='',RowKey='')?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T17%3A08%3A17.4426032Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestbrowser/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T17%3A08%3A17.4426032Z'\"",
        "PartitionKey": "",
        "RowKey": "",
        "Timestamp": "2025-04-03T17:08:17.4426032Z",
        "testField": "testEntity"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='',RowKey='')?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "dataserviceversion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
