{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P2_browser',RowKey='R1')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:692a08e9-4002-0048-0fd3-a44a06000000\nTime:2025-04-03T20:04:33.4482840Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "P2_browser",
        "RowKey": "R1",
        "foo": "testEntity",
        "bar": 123,
        "baz": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P2_browser',RowKey='R1')",
        "ETag": "W/\"datetime'2025-04-03T20%3A04%3A33.4762693Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P2_browser',RowKey='R1')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey='P2_browser',RowKey='R1')?$select=baz%2CPartitionKey%2CRowKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A04%3A33.4762693Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestbrowser/@Element&$select=baz,PartitionKey,RowKey",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A04%3A33.4762693Z'\"",
        "PartitionKey": "P2_browser",
        "RowKey": "R1",
        "baz": true
      }
    }
  ],
  "Variables": {}
}
