{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject1201?api-version=2025-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectKind": "Conversation",
        "projectName": "NewProject1201",
        "multilingual": true,
        "description": "Project description",
        "language": "en-us"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject1201/NewProject1201",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-12-03T04:33:31Z",
        "lastModifiedDateTime": "2025-12-03T04:33:31Z",
        "projectKind": "Conversation",
        "projectName": "NewProject1201",
        "multilingual": true,
        "description": "Project description",
        "language": "en-us"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1694374166"
  }
}
