{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-eastus.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout:analyze?locale=en-IN\u0026api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "1dc9193345ce4831a684b0c832a0ac33"
      },
      "RequestBody": {
        "urlSource": "https://azuresdktrainingdata.blob.core.windows.net/testingdata/annotations.jpg?sv=2015-04-05\u0026sr=c\u0026se=2024-01-15T04%3A19%3A00.0000000Z\u0026sp=rl\u0026sig=XxiWPrEHSInvw07AgerwQ%2Ftj%2Bki11qftZiEV0BqD2nY%3D"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-eastus.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeResults/38a6a73d-7dc1-45e3-bde2-e5b2acd2060c?api-version=2023-10-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-eastus.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeResults/38a6a73d-7dc1-45e3-bde2-e5b2acd2060c?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "1dc9193345ce4831a684b0c832a0ac33"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-11-16T09:44:29Z",
        "lastUpdatedDateTime": "2023-11-16T09:44:29Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-eastus.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeResults/38a6a73d-7dc1-45e3-bde2-e5b2acd2060c?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "1dc9193345ce4831a684b0c832a0ac33"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-11-16T09:44:29Z",
        "lastUpdatedDateTime": "2023-11-16T09:44:30Z",
        "analyzeResult": {
          "apiVersion": "2023-10-31-preview",
          "modelId": "prebuilt-layout",
          "stringIndexType": "textElements",
          "content": "Sing Core\nFoam\nAluminum\nBalsawood\nNomex\nPlastic\nCardboard\nStrength\nX\nx\nX\nLightweight :selected:\nx\nX\nRenewable :selected: X\nX\nX\nx\nX\nEco-friendly :selected: X\nX :selected:\nX\nX\nX\nx\nDimensionally Stable :selected:\n1\nX\n/\nX\nAffordable :selected: X\nX\nX\nX\nX\nX\nInsulation :selected:\nX\nX\nX\nX\nX\nSound Deadening\nX\nX\nX\nX\nX\nWaterproof Upgrade? :selected:\n1 :selected:\nX :selected:\nX\nFire Retardant Upgrade?\nX\nX\nBullet-proof Upgrade\nX\nX\nX\nX\nX\nX :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :selected: :unselected:",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 699,
              "height": 457,
              "unit": "pixel",
              "words": [
                {
                  "content": "Sing",
                  "polygon": [
                    193,
                    15,
                    222,
                    16,
                    222,
                    30,
                    193,
                    30
                  ],
                  "confidence": 0.982,
                  "span": {
                    "offset": 0,
                    "length": 4
                  }
                },
                {
                  "content": "Core",
                  "polygon": [
                    226,
                    16,
                    256,
                    16,
                    256,
                    30,
                    226,
                    30
                  ],
                  "confidence": 0.993,
                  "span": {
                    "offset": 5,
                    "length": 4
                  }
    [...]
