{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?query=45.9375,123.751:45.96875,123.791:45.90625,123.767&travelMode=bicycle&traffic=false&routeType=eco"
          },
          {
            "query": "?query=45.9375,123.751:45.90625,123.767"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://us.atlas.microsoft.com/route/directions/batch/b1ee467d-0b36-4cd6-8143-0e6fb7baf317?api-version=1.0",
        "Retry-After": "120",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": "\"\""
    },
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/batch/b1ee467d-0b36-4cd6-8143-0e6fb7baf317?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "formatVersion": "0.0.12",
              "routes": [
                {
                  "summary": {
                    "lengthInMeters": 14128,
                    "travelTimeInSeconds": 2549,
                    "trafficDelayInSeconds": 0,
                    "departureTime": "2024-10-15T10:21:47+00:00",
                    "arrivalTime": "2024-10-15T11:04:15+00:00"
                  },
                  "legs": [
                    {
                      "summary": {
                        "lengthInMeters": 4672,
                        "travelTimeInSeconds": 841,
                        "trafficDelayInSeconds": 0,
                        "departureTime": "2024-10-15T10:21:47+00:00",
                        "arrivalTime": "2024-10-15T10:35:47+00:00"
                      },
                      "points": [
                        {
                          "latitude": 45.93959,
                          "longitude": 123.75011
                        },
                        {
                          "latitude": 45.94181,
                          "longitude": 123.76086
                        },
                        {
                          "latitude": 45.94482,
                          "longitude": 123.76914
                        },
                        {
                          "latitude": 45.94586,
                          "longitude": 123.77197
                        },
            [...]
[...]
