{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/batch/sync/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": {},
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "Request body is invalid or empty"
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895",
    "RandomSeed": "694086008"
  }
}
