{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Storage/storageAccounts/azstorageforbatch3619"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/operationResults/878e3281-38ee-4a84-a0e5-cbc11786c53d?api-version=2025-06-01&t=639051583337454368&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/operationResults/878e3281-38ee-4a84-a0e5-cbc11786c53d?api-version=2025-06-01&t=639051583337454368&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/operationResults/878e3281-38ee-4a84-a0e5-cbc11786c53d?api-version=2025-06-01&t=639051583338612674&c=MIIHpTCCBo2gAwIBAgITOgZElHM1nBrt7NMepgAEBkSUczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjYwMTIzMDQ0NzQyWhcNMjYwNTI0MjI1NzAzWjBAMT[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/applications/Application-3921?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DE5E078341F583\"",
        "Last-Modified": "Wed, 28 Jan 2026 00:52:29 GMT",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "type": "Microsoft.Batch/batchAccounts/applications",
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/applications/Application-3921",
        "name": "Application-3921",
        "etag": "W/\"0x8DE5E078341F583\"",
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/applications?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Batch/batchAccounts/applications",
            "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/applications/Application-23",
            "name": "Application-23",
            "etag": "W/\"0x8DE5E0783D1868E\"",
            "properties": {
              "displayName": "displayName",
              "allowUpdates": true
            }
          },
          {
            "type": "Microsoft.Batch/batchAccounts/applications",
            "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/applications/Application-3921",
            "name": "Application-3921",
            "etag": "W/\"0x8DE5E078341F583\"",
            "properties": {
              "displayName": "displayName",
              "allowUpdates": true
            }
          },
          {
            "type": "Microsoft.Batch/batchAccounts/applications",
            "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/applications/Application-9524",
            "name": "Application-9524",
            "etag": "W/\"0x8DE5E0783B06809\"",
            "properties": {
              "displayName": "displayName",
              "allowUpdates": true
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch1354/providers/Microsoft.Batch/batchAccounts/testaccount384/applications/Application-39211?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "ApplicationNotFound",
          "message": "The specified application does not exist.\nRequestId:4ae1ed09-009d-4ecd-9e3d-5ae0a4ec4d44\nTime:2026-01-28T00:52:30.7914356Z",
          "target": "BatchAccount"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "855017466",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "94bd7ded-68b4-4ffa-82a5-37ac72caa2ec"
  }
}
