{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic68e8/evaluateautoscale?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 03 Feb 2026 00:01:13 GMT"
      },
      "RequestBody": {
        "autoScaleFormula": "$something_useless"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic68e8/evaluateautoscale",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun",
        "timestamp": "2026-02-03T00:01:13.4027134Z",
        "results": "$TargetDedicatedNodes=2;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue",
        "error": {
          "code": "AutoScalingFormulaEvaluationError",
          "message": "The specified auto-scaling formula has evaluation error",
          "values": [
            {
              "name": "Message",
              "value": "Line 1, Col 1: Undefined symbol: $something_useless"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic68e8"
  }
}
