{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "51f7590e-c669-4a16-b97f-945f0fed286a",
        "traceresponse": "00-01c5b970baa20d9125cd12a182e01807-f639a4d157948ba4-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsModel;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a8a87607-8209-4f47-b785-b30456daa778",
        "traceresponse": "00-59a3dc36e3c69c72658d990565f98fd9-2f9b20feb1114102-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsComponent;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Component1\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]},{\"@id\":\"dtmi:samples:DTComponentTestsModel;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"TempModel\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Component\",\"name\":\"Sanitized\",\"schema\":\"dtmi:samples:DTComponentTestsComponent;1\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "92c4eab1-b7d5-4d07-8b52-a90397b56744",
        "traceresponse": "00-22a0a5fd96bf222cfb4ef2194099764b-4fa223608ec4fa9f-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T21:02:10.2327812+00:00\"},{\"id\":\"dtmi:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T21:02:10.232805+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4952d841-e3b1-4b49-b2ae-26198972af40",
        "traceresponse": "00-6c1e4f7f4c56a95c94a6a93647e834a2-5d7f6f1eb972f3be-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTComponentTestsTempTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"3c5e28af-3000-4e27-aa3b-8519866eca8f\"",
        "mise-correlation-id": "52a03f37-d043-48f8-b953-70164c3575fc",
        "traceresponse": "00-9d6329e2f6371cc5980c9298563a0962-a49626ef862a682d-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"3c5e28af-3000-4e27-aa3b-8519866eca8f\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-05-08T21:02:10.4495144Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-05-08T21:02:10.4495144Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-05-08T21:02:10.4495144Z",
          "Prop1": {
            "lastUpdateTime": "2025-05-08T21:02:10.4495144Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json",
        "If-Match": "etag-value"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/ComponentProp1\",\"value\":\"value2\"}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "21fb4075-3494-45aa-952b-f9f67c5675f0",
        "traceresponse": "00-cb820574d2d08fa9e4bb02c0c32899c3-3e4babf909fd0815-01",
        "x-ms-error-code": "InvalidArgument"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid If-Match header value. Allowed value(s): If-Match: {etag} or If-Match: *"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e92d109f-fad9-403a-9285-f43e91b6132d",
        "traceresponse": "00-88c9d22c742d2cc29615136f68b64520-687c8be059938577-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
