{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "66e3f25a-0e28-49d5-9aa7-6253ac593b2d",
        "traceresponse": "00-4776145133b64724a34dcb5e0adad3c2-7794cdb309031f32-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsModel;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1fc6d55c-4727-4838-87a3-978609ddddd8",
        "traceresponse": "00-4be2f8187ea8d758e542f656767af90b-b785edbd4bd4b364-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsComponent;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Component1\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]},{\"@id\":\"dtmi:samples:DTComponentTestsModel;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"TempModel\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Component\",\"name\":\"Sanitized\",\"schema\":\"dtmi:samples:DTComponentTestsComponent;1\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a9ccb4eb-bb4b-4430-b49c-d490aa9482a9",
        "traceresponse": "00-0ae024dceca9b8657baf5aaf4ee64f9e-df50152e0a30b50e-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T06:40:01.0083175+00:00\"},{\"id\":\"dtmi:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T06:40:01.0083423+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "da7db621-c67b-452c-9e64-e61059f1a375",
        "traceresponse": "00-91abcebfb9be39cec98940d992a06212-c0a51dc6850f7860-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTComponentTestsTempTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b06c24e7-9dce-421f-9f6b-3e05793752f2\"",
        "mise-correlation-id": "68e2ff40-2924-4573-98fc-42fe2656a972",
        "traceresponse": "00-31066add62cfefd398c8f210e12a9ca2-26bdc642087f0e58-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"b06c24e7-9dce-421f-9f6b-3e05793752f2\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-05-07T06:40:01.2399573Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-05-07T06:40:01.2399573Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-05-07T06:40:01.2399573Z",
          "Prop1": {
            "lastUpdateTime": "2025-05-07T06:40:01.2399573Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json",
        "If-Match": "etag-value"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/ComponentProp1\",\"value\":\"value2\"}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aa6216a4-b06f-4c02-88c8-500dab482f5d",
        "traceresponse": "00-563f70e1ac30e9d0dcd79449a1791cf5-54e49088bafe9c71-01",
        "x-ms-error-code": "InvalidArgument"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid If-Match header value. Allowed value(s): If-Match: {etag} or If-Match: *"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5ceb4204-fca9-44e1-93ac-0c32f4fac8ba",
        "traceresponse": "00-3e42436343d54a898786a32b9c45fa64-246c4f679ac57067-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
