{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_queue_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:38:06 GMT"
      },
      "RequestBody": {
        "name": "test_update_queue_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:38:06 GMT",
        "trace-id": "fa37c859-418d-33d3-0fd3-425e0f37fb27"
      },
      "ResponseBody": {
        "id": "test_update_queue_tst_dp",
        "name": "test_update_queue_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/tst_update_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:38:06 GMT"
      },
      "RequestBody": {
        "name": "tst_update_q",
        "distributionPolicyId": "test_update_queue_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:38:07 GMT",
        "trace-id": "de044fd2-e5af-8a3f-d1ce-d9d212e7bc2b"
      },
      "ResponseBody": {
        "id": "tst_update_q",
        "name": "tst_update_q",
        "distributionPolicyId": "test_update_queue_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "tst_update_q"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/tst_update_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:38:07 GMT"
      },
      "RequestBody": {
        "name": "tst_update_q",
        "distributionPolicyId": "test_update_queue_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "key6": "Key6"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:38:07 GMT",
        "trace-id": "588f6655-ade9-a59b-1fc8-7b019f04bc6f"
      },
      "ResponseBody": {
        "id": "tst_update_q",
        "name": "tst_update_q",
        "distributionPolicyId": "test_update_queue_tst_dp",
        "labels": {
          "Id": "tst_update_q",
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "key6": "Key6"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_queue_tst_dp?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:38:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "28066ff5-de18-584b-7a91-a8bafe610e5e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
