{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_worker_w_kwargs_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:05 GMT"
      },
      "RequestBody": {
        "name": "test_update_worker_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:51:06 GMT",
        "trace-id": "7a54a156-394e-6089-fb34-31f348602035"
      },
      "ResponseBody": {
        "id": "test_update_worker_w_kwargs_tst_dp_async",
        "name": "test_update_worker_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_worker_w_kwargs_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:05 GMT"
      },
      "RequestBody": {
        "name": "test_update_worker_w_kwargs_tst_q_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "distributionPolicyId": "test_update_worker_w_kwargs_tst_dp_async"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:51:06 GMT",
        "trace-id": "3e3fc274-624a-43ce-3dd1-b9cbe6434ab3"
      },
      "ResponseBody": {
        "id": "test_update_worker_w_kwargs_tst_q_async",
        "name": "test_update_worker_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_worker_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_update_worker_w_kwargs_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_update_w_kwargs_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:06 GMT"
      },
      "RequestBody": {
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "queueAssignments": {
          "test_update_worker_w_kwargs_tst_q_async": {}
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:51:07 GMT",
        "trace-id": "c8df21ff-9cd9-276d-4b92-a0f087c93759"
      },
      "ResponseBody": {
        "id": "tst_update_w_kwargs_async",
        "state": "inactive",
        "queueAssignments": {
          "test_update_worker_w_kwargs_tst_q_async": {}
        },
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_update_w_kwargs_async"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_worker_w_kwargs_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "fdfde9e8-040e-bee5-935f-01f37f835062"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
