{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_sch_jobs_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 11:59:33 GMT"
      },
      "RequestBody": {
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        },
        "name": "test_list_sch_jobs_tst_dp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 10:33:19 GMT",
        "trace-id": "d4d46400-5902-a562-2306-908115eae608"
      },
      "ResponseBody": {
        "id": "test_list_sch_jobs_tst_dp",
        "name": "test_list_sch_jobs_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_sch_jobs_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 11:59:34 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "test_list_sch_jobs_tst_dp",
        "name": "test_list_sch_jobs_tst_q",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 10:33:20 GMT",
        "trace-id": "66665f9d-8da4-a371-37fb-cbd8755d0376"
      },
      "ResponseBody": {
        "id": "test_list_sch_jobs_tst_q",
        "name": "test_list_sch_jobs_tst_q",
        "distributionPolicyId": "test_list_sch_jobs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_list_sch_jobs_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_list_sch_job_1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 11:59:35 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannelId1",
        "channelReference": "fakeChannelRef1",
        "queueId": "test_list_sch_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "matchingMode": {
          "scheduleAt": "2023-10-17T12:00:05.085415Z",
          "kind": "schedule-and-suspend"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 11:59:36 GMT",
        "trace-id": "2cb2e1e3-9466-e834-fc4c-ade1c03b6240"
      },
      "ResponseBody": {
        "id": "tst_list_sch_job_1",
        "channelReference": "fakeChannelRef1",
        "status": "pendingSchedule",
        "channelId": "fakeChannelId1",
        "queueId": "test_list_sch_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        },
        "scheduledAt": "2023-10-17T10:33:50.874558\u002B00:00",
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2023-10-17T12:00:05.085415\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs?api-version=2023-11-01\u0026maxpagesize=2\u0026status=scheduled\u0026queueId=test_list_sch_jobs_tst_q\u0026channelId=fakeChannelId1\u0026scheduledBefore=2023-10-17T12%3A00%3A05.085415Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 11:59:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "67a8b239-61f9-9712-d093-e0223aa75d60"
      },
      "ResponseBody": {
        "value": [
          {
            "job": {
              "id": "tst_list_sch_job_2",
              "channelReference": "fakeChannelRef1",
              "status": "scheduled",
              "channelId": "fakeChannelId1",
              "queueId": "test_list_sch_jobs_tst_q",
              "priority": 10,
              "requestedWorkerSelectors": [
                {
                  "expedite": false,
                  "status": "active",
                  "key": "FakeKey1",
                  "labelOperator": "equal",
                  "[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_sch_jobs_tst_q?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 11:59:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a6a2d795-a123-903d-4474-51c6ff3858c9"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is active job with this queue",
          "target": "/routing/queues/test_list_sch_jobs_tst_q"
        }
      }
    }
  ],
  "Variables": {
    "scheduled_time_utc": "2023-10-17T12:00:05.085415Z"
  }
}
