{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_create_worker_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:19:27 GMT"
      },
      "RequestBody": {
        "name": "test_create_worker_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 26 Oct 2023 22:27:29 GMT",
        "trace-id": "854a5f9d-bde2-267b-7e56-b6e738261e7d"
      },
      "ResponseBody": {
        "id": "test_create_worker_tst_dp",
        "name": "test_create_worker_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_create_worker_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:19:28 GMT"
      },
      "RequestBody": {
        "name": "test_create_worker_tst_q",
        "distributionPolicyId": "test_create_worker_tst_dp",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 26 Oct 2023 22:27:30 GMT",
        "trace-id": "766d376e-cb03-030c-158e-0ee79968f339"
      },
      "ResponseBody": {
        "id": "test_create_worker_tst_q",
        "name": "test_create_worker_tst_q",
        "distributionPolicyId": "test_create_worker_tst_dp",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_create_worker_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_create_w?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:19:28 GMT"
      },
      "RequestBody": {
        "queues": [
          "test_create_worker_tst_q"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90,
            "maxNumberOfJobs": 1
          }
        ],
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:19:28 GMT",
        "trace-id": "c08e6d22-c30b-1e59-f6f3-567960a3f7e8"
      },
      "ResponseBody": {
        "id": "tst_create_w",
        "state": "inactive",
        "queues": [
          "test_create_worker_tst_q"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_create_w"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90,
            "maxNumberOfJobs": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_create_w?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:19:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "74b29443-c047-fa41-bc04-400c8a418cff"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
