{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_w_kwargs_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:24 GMT"
      },
      "RequestBody": {
        "name": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:13:24 GMT",
        "trace-id": "c5016c1d-b734-c5db-9718-03f9618c60e6"
      },
      "ResponseBody": {
        "id": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "name": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_classification_policy_w_kwargs_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:24 GMT"
      },
      "RequestBody": {
        "name": "test_update_classification_policy_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:13:24 GMT",
        "trace-id": "4b96e756-a4bd-7126-b3f8-17c236e9e67d"
      },
      "ResponseBody": {
        "id": "test_update_classification_policy_w_kwargs_tst_q_async",
        "name": "test_update_classification_policy_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_update_classification_policy_w_kwargs_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_args_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:25 GMT"
      },
      "RequestBody": {
        "name": "tst_update_cp_w_args_async",
        "fallbackQueueId": "test_update_classification_policy_w_kwargs_tst_q_async",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            },
            "kind": "static"
          },
          {
            "condition": {
              "value": true,
              "kind": "static-rule"
            },
            "queueSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ],
            "kind": "conditional"
          },
          {
            "rule": {
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value"
                }
              ],
              "kind": "static-rule"
            },
            "kind": "rule-engine"
          },
          {
            "key": "testKey",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "allocations": [
              {
                "weight": 1.0,
                "queueSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ],
            "kind": "weighted-allocation-queue-selector"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "expiresAfterSeconds": 10.0,
              "expedite": false
            },
            "kind": "static"
          },
          {
            "condition": {
              "value": true,
              "kind": "static-rule"
            },
            "workerSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "expiresAfterSeconds": 10.0,
                "expedite": false
              }
            ],
            "kind": "conditional"
          },
          {
            "rule": {
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value",
         [...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_args_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:25 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "expression": "2",
          "kind": "expression-rule"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:13:25 GMT",
        "trace-id": "34ebde82-13ca-2ee9-eaed-67d7b2212570"
      },
      "ResponseBody": {
        "id": "tst_update_cp_w_args_asyn[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_w_kwargs_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "6036c9c7-2481-6bd3-9281-1a481ea13eb3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
