{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_list_sch_jobs_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:09:40 GMT"
      },
      "RequestBody": {
        "name": "_test_list_sch_jobs_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 00:18:51 GMT",
        "trace-id": "f9062a85-18c2-2ad9-72e4-3c1a582ab54f"
      },
      "ResponseBody": {
        "id": "_test_list_sch_jobs_tst_dp",
        "name": "_test_list_sch_jobs_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_list_sch_jobs_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:09:41 GMT"
      },
      "RequestBody": {
        "name": "_test_list_sch_jobs_tst_q",
        "distributionPolicyId": "_test_list_sch_jobs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 00:18:52 GMT",
        "trace-id": "8e65fe9e-f6a5-e948-f2fa-f395cd393d68"
      },
      "ResponseBody": {
        "id": "_test_list_sch_jobs_tst_q",
        "name": "_test_list_sch_jobs_tst_q",
        "distributionPolicyId": "_test_list_sch_jobs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "_test_list_sch_jobs_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/_tst_list_sch_job_1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:09:41 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "queueId": "_test_list_sch_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanOrEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanOrEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": [
          {
            "addedAt": "2022-05-13T16:59:04.531199Z",
            "message": "Fake notes attached to job"
          }
        ],
        "matchingMode": {
          "scheduleAt": "2023-10-31T18:10:11.160993Z",
          "kind": "schedule-and-suspend"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:09:41 GMT",
        "trace-id": "c39b6e8d-bad7-d6b6-59ff-50c629fd8f11"
      },
      "ResponseBody": {
        "id": "_tst_list_sch_job_1",
        "channelReference": "fakeChannelRef1",
        "status": "pendingSchedule",
        "channelId": "fakeChannelId1",
        "queueId": "_test_list_sch_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanOrEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanOrEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": [
          {
            "message": "Fake notes attached to job",
            "addedAt": "2022-05-13T16:59:04.531199\u002B00:00"
          }
        ],
        "scheduledAt": "2023-10-27T15:40:55.8167523\u002B00:00",
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2023-10-31T18:10:11.160993\u002B00:00"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs?api-version=2023-11-01\u0026maxpagesize=2\u0026status=scheduled\u0026queueId=_test_list_sch_jobs_tst_q\u0026channelId=fakeChannelId1\u0026scheduledBefore=2023-10-31T18%3A10%3A11.160993Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:09:48 GMT"
      },
      "RequestBody": null,
   [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_list_sch_jobs_tst_q?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:09:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "700eb0cd-ac48-a89e-3bae-c0360531baae"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is active job with this queue",
          "target": "/routing/queues/_test_list_sch_jobs_tst_q"
        }
      }
    }
  ],
  "Variables": {
    "scheduled_time_utc": "2023-10-31T18:10:11.160993Z"
  }
}
