{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_assignment_scenario_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:50 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longest-idle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:14:51 GMT",
        "trace-id": "e5f289af-5acf-3324-c5d9-2e4ceee48888"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_dp",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_assignment_scenario_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:51 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "_test_assignment_scenario_tst_dp"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:14:51 GMT",
        "trace-id": "72cb7b71-9ffa-466b-fa59-03948029ba9d"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_q",
        "name": "test",
        "distributionPolicyId": "_test_assignment_scenario_tst_dp",
        "labels": {
          "Id": "_test_assignment_scenario_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:51 GMT"
      },
      "RequestBody": {
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:14:51 GMT",
        "trace-id": "4be96d8e-769e-6fd6-96e9-64c315aff652"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "labels": {
          "Id": "_test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:51 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:14:51 GMT",
        "trace-id": "ac94cf58-8308-806e-1945-ab8d7d5491dc"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "status": "created",
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:14:52 GMT",
        "trace-id": "c1b26aa0-7b13-1fba-6518-bcff84fd2285"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "labels": {
          "Id": "_test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "fb05e004-a316-4296-b17f-d9c88908717a",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "offeredAt": "2023-10-31T18:14:52.4200291\u002B00:00",
            "expiresAt": "2023-10-31T18:24:52.4200292\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w/offers/fb05e004-a316-4296-b17f-d9c88908717a:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "3cb9ec1f-17fc-0c52-6ba7-6edee056e7b1"
      },
      "ResponseBody": {
        "assignmentId": "bbb10e86-68d5-4d45-92df-c07d69d985cd",
        "jobId": "assignment_scenario_job_id",
        "workerId": "_test_assignment_scenario_tst_w"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w/offers/fb05e004-a316-4296-b17f-d9c88908717a:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:56 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "58bdda82-99d2-4e8c-477a-5d731646d38c"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: fb05e004-a316-4296-b17f-d9c88908717a, WorkerId: _test_assignment_scenario_tst_w",
          "target": "/routing/workers/_test_assignment_scenario_tst_w/offers/fb05e004-a316-4296-b17f-d9c88908717a:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/bbb10e86-68d5-4d45-92df-c07d69d985cd:unassign?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1287e691-12d3-d6a1-2b12-61c26f5edbba"
      },
      "ResponseBody": {
        "jobId": "assignment_scenario_job_id",
        "unassignmentCount": 1
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:14:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:14:56 GMT",
        "trace-id": "60c5dce3-48ab-22f8-e5e1-9896579647ef"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "labels": {
          "Id": "_test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [
          {
            "assignmentId": "bbb10e86-68d5-4d45-92df-c07d69d985cd",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "assignedAt": "2023-10-31T18:14:56.2626563\u002B00:00"
          }
        ],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:15:01 GMT"
      },
      "RequestBody": {
        "assignmentId": "bf15954e-5415-421c-a1b5-6f89150c4c05"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a115f079-e9d4-0218-dce9-8debe6bb9907"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:15:01 GMT"
      },
      "RequestBody": {
        "assignmentId": "bf15954e-5415-421c-a1b5-6f89150c4c05"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9719dc70-acc0-b696-70ef-b409fe33df53"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:15:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:15:02 GMT",
        "trace-id": "bb8158bc-773b-158c-b120-b38ff66f2370"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "status": "closed",
        "enqueuedAt": "2023-10-31T18:14:51.9782227\u002B00:00",
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "bf15954e-5415-421c-a1b5-6f89150c4c05": {
            "assignmentId": "bf15954e-5415-421c-a1b5-6f89150c4c05",
            "workerId": "_test_assignment_scenario_tst_w",
            "assignedAt": "2023-10-31T18:15:00.6074491\u002B00:00",
            "completedAt": "2023-10-31T18:15:01.8219326\u002B00:00",
            "closedAt": "2023-10-31T18:15:02.0971094\u002B00:00"
          }
        },
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_assignment_scenario_tst_dp?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:15:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "0bed76e2-9d7c-0f65-37c0-b840ecde9c05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
