{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_tst_update_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 01:00:14 GMT"
      },
      "RequestBody": {
        "name": "_tst_update_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "bestWorker"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 14 Nov 2023 01:00:14 GMT",
        "trace-id": "49176948-d517-b61d-6196-366d1c07a1c0"
      },
      "ResponseBody": {
        "id": "_tst_update_dp",
        "name": "_tst_update_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "bestWorker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "isBatchScoringEnabled": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_tst_update_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 01:00:15 GMT"
      },
      "RequestBody": {
        "name": "_tst_update_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "minConcurrentOffers": 2,
          "maxConcurrentOffers": 2,
          "kind": "roundRobin"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 14 Nov 2023 01:00:15 GMT",
        "trace-id": "da87fb7a-17a3-0174-f4e0-6720e618d4ec"
      },
      "ResponseBody": {
        "id": "_tst_update_dp",
        "name": "_tst_update_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 2,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
