{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_exception_policy_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:06:33 GMT"
      },
      "RequestBody": {
        "name": "test_get_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:06:33 GMT",
        "trace-id": "a70f2bbc-7bf6-e723-edef-893a3f0b3764"
      },
      "ResponseBody": {
        "id": "test_get_exception_policy_tst_dp",
        "name": "test_get_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_exception_policy_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:06:33 GMT"
      },
      "RequestBody": {
        "name": "test_get_exception_policy_tst_q",
        "distributionPolicyId": "test_get_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:06:34 GMT",
        "trace-id": "60d4a289-d2fc-90f6-cb5e-43c1a63a1d92"
      },
      "ResponseBody": {
        "id": "test_get_exception_policy_tst_q",
        "name": "test_get_exception_policy_tst_q",
        "distributionPolicyId": "test_get_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_get_exception_policy_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_get_exception_policy_tst_cp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:06:34 GMT"
      },
      "RequestBody": {
        "name": "test_get_exception_policy_tst_cp",
        "fallbackQueueId": "test_get_exception_policy_tst_q"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:06:34 GMT",
        "trace-id": "e33bd23e-202a-3037-b68d-1f8930f375ae"
      },
      "ResponseBody": {
        "id": "test_get_exception_policy_tst_cp",
        "name": "test_get_exception_policy_tst_cp",
        "fallbackQueueId": "test_get_exception_policy_tst_q",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:06:34 GMT"
      },
      "RequestBody": {
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:06:34 GMT",
        "trace-id": "0ab064d6-45ad-9064-2d07-0f285516259f"
      },
      "ResponseBody": {
        "id": "tst_get_ep",
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "a70cc35d-f80e-4673-ab57-ac2d902179de"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:06:34 GMT"
      },
      "RequestBody": {
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "queueId": "test_get_exception_policy_tst_q",
                "priority": 1,
                "kind": "manual-reclassify"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:06:34 GMT",
        "trace-id": "1adff35c-b689-9d23-0b29-fd5ce0a5653e"
      },
      "ResponseBody": {
        "id": "tst_get_ep",
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manual-reclassify",
                "queueId": "test_get_exception_policy_tst_q",
                "priority": 1,
                "workerSelectors": [],
                "id": "2bd98118-dc30-4e0b-9b9b-539ce7bb8900"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:06:34 GMT"
      },
      "RequestBody": {
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "classificationPolicyId": "test_get_exception_policy_tst_cp",
                "kind": "reclassify"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:06:35 GMT",
        "trace-id": "7d9a22e9-2cd2-1465-641d-0c936a85f933"
      },
      "ResponseBody": {
        "id": "tst_get_ep",
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_get_exception_policy_tst_cp",
                "labelsToUpsert": {},
                "id": "0a1da51f-b686-4e6c-9248-880323f1984d"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:06:35 GMT"
      },
      "RequestBody": {
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "thresholdSeconds": 3600,
              "kind": "wait-time"
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:06:35 GMT",
        "trace-id": "4e2baf04-cdad-d8fb-8514-d45d5a4bc12b"
      },
      "ResponseBody": {
        "id": "tst_get_ep",
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "a976bac2-8be7-4404-aad5-90385ab75868"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:06:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "0c93ba8e-d5da-4902-f627-08ac9f47a623"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
