{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_worker_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:11:13 GMT"
      },
      "RequestBody": {
        "name": "test_update_worker_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:11:13 GMT",
        "trace-id": "e382a26d-f8cf-90cd-2a22-911b6a6f15b7"
      },
      "ResponseBody": {
        "id": "test_update_worker_tst_dp_async",
        "name": "test_update_worker_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_worker_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:11:13 GMT"
      },
      "RequestBody": {
        "name": "test_update_worker_tst_q_async",
        "distributionPolicyId": "test_update_worker_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:11:13 GMT",
        "trace-id": "0af7b0f1-c921-b8bf-7a8b-4ded736ce08c"
      },
      "ResponseBody": {
        "id": "test_update_worker_tst_q_async",
        "name": "test_update_worker_tst_q_async",
        "distributionPolicyId": "test_update_worker_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_update_worker_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_update_w_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:11:13 GMT"
      },
      "RequestBody": {
        "queues": [
          "test_update_worker_tst_q_async"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90
          }
        ],
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 31 Oct 2023 18:11:13 GMT",
        "trace-id": "073771f6-2763-a92d-d888-fe690deb1cb2"
      },
      "ResponseBody": {
        "id": "tst_update_w_async",
        "state": "inactive",
        "queues": [
          "test_update_worker_tst_q_async"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_update_w_async"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_worker_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 18:11:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "6c3fd106-8eae-c9af-ddfb-5a16302074ad"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
