{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/tst_create_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 02:37:14 GMT"
      },
      "RequestBody": {
        "name": "tst_create_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "best-worker"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 02:37:16 GMT",
        "trace-id": "d391e386-c2e6-70b8-498e-e1793c7ff5ad"
      },
      "ResponseBody": {
        "id": "tst_create_dp_async",
        "name": "tst_create_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "best-worker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/tst_create_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 02:37:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "bc9cd64b-f138-daed-8109-7ae7a5fe359f"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
