{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_exception_policy_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:26 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:21:25 GMT",
        "trace-id": "c1a53cf4-b22e-da79-0879-b59dfde8f2e7"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_dp",
        "name": "test_delete_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_exception_policy_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:26 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_q",
        "distributionPolicyId": "test_delete_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:21:26 GMT",
        "trace-id": "2fc63670-1463-d6bb-6ca7-7b95bdbadf49"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_q",
        "name": "test_delete_exception_policy_tst_q",
        "distributionPolicyId": "test_delete_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_delete_exception_policy_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_delete_exception_policy_tst_cp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:26 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_cp",
        "fallbackQueueId": "test_delete_exception_policy_tst_q"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:21:26 GMT",
        "trace-id": "2e086ef7-abaa-108b-73ef-63bcd482e73f"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_cp",
        "name": "test_delete_exception_policy_tst_cp",
        "fallbackQueueId": "test_delete_exception_policy_tst_q",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:26 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:21:26 GMT",
        "trace-id": "e4716261-5854-d36f-4acd-1c14df2eb931"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "4f5e173d-2f7e-4f12-aaff-03b195bada21"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "12512639-95b0-27cf-6627-373b77fcd18c"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/exceptionPolicies/tst_delete_ep"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:27 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "queueId": "test_delete_exception_policy_tst_q",
                "priority": 1,
                "kind": "manual-reclassify"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:21:26 GMT",
        "trace-id": "93fae989-ac6c-21cf-e324-f83f1725b22f"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manual-reclassify",
                "queueId": "test_delete_exception_policy_tst_q",
                "priority": 1,
                "workerSelectors": [],
                "id": "3dc1cf82-83f1-4a8d-bb42-f4b1a6aee797"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:27 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "classificationPolicyId": "test_delete_exception_policy_tst_cp",
                "kind": "reclassify"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:21:27 GMT",
        "trace-id": "4f9a6eed-e3df-b720-d974-440aeeb95987"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_delete_exception_policy_tst_cp",
                "labelsToUpsert": {},
                "id": "7c3112e2-7ca6-43c3-9a26-bb3e718469da"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:27 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "thresholdSeconds": 3600,
              "kind": "wait-time"
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:21:27 GMT",
        "trace-id": "84071ca6-258c-6902-457f-497f1cb56b59"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "9f2a0409-5610-4c45-89e9-55a59de76a14"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:21:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "ca772b53-7534-8bc5-5346-66576068c273"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
