{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 01:06:34 GMT"
      },
      "RequestBody": {
        "name": "test_get_worker_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "roundRobin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 14 Nov 2023 01:06:35 GMT",
        "trace-id": "0f39329c-cfad-7e77-dec2-deaeb9123973"
      },
      "ResponseBody": {
        "id": "test_get_worker_tst_dp_async",
        "name": "test_get_worker_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_worker_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 01:06:35 GMT"
      },
      "RequestBody": {
        "name": "test_get_worker_tst_q_async",
        "distributionPolicyId": "test_get_worker_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 14 Nov 2023 01:06:35 GMT",
        "trace-id": "5cca0834-d987-8dd5-4f5f-cc8ce730122a"
      },
      "ResponseBody": {
        "id": "test_get_worker_tst_q_async",
        "name": "test_get_worker_tst_q_async",
        "distributionPolicyId": "test_get_worker_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_get_worker_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_get_w_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 01:06:35 GMT"
      },
      "RequestBody": {
        "queues": [
          "test_get_worker_tst_q_async"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90
          }
        ],
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 14 Nov 2023 01:06:35 GMT",
        "trace-id": "f3a6bea3-e334-7b6f-eec2-73ffd42b9412"
      },
      "ResponseBody": {
        "id": "tst_get_w_async",
        "state": "inactive",
        "queues": [
          "test_get_worker_tst_q_async"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_get_w_async"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 01:06:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "45edeeb2-efc9-9019-5f84-64cb87f0cb26"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
