{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_assignment_scenario_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:47 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longest-idle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:11:47 GMT",
        "trace-id": "ecaa380b-9bb6-a56f-84e9-7a554eec5225"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_dp",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_assignment_scenario_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:48 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "_test_assignment_scenario_tst_dp"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:11:48 GMT",
        "trace-id": "feecb062-8992-0b6e-4969-2b5702e4c56c"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_q",
        "name": "test",
        "distributionPolicyId": "_test_assignment_scenario_tst_dp",
        "labels": {
          "Id": "_test_assignment_scenario_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:48 GMT"
      },
      "RequestBody": {
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:11:48 GMT",
        "trace-id": "88e2b15d-f174-53c0-889d-9e31f8c4ed8b"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "labels": {
          "Id": "_test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:48 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:11:48 GMT",
        "trace-id": "502d626f-12bb-fcde-9f1a-ad8532f7f382"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "status": "created",
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:11:49 GMT",
        "trace-id": "347cd332-c44c-00cd-48bc-7c6158a1dbba"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "labels": {
          "Id": "_test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "c4520bf7-c051-404e-ab39-2796814b5846",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "offeredAt": "2023-11-07T18:11:49.1691305\u002B00:00",
            "expiresAt": "2023-11-07T18:21:49.1691306\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w/offers/c4520bf7-c051-404e-ab39-2796814b5846:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b0b00850-bb14-f6f0-80a1-1ef304743f01"
      },
      "ResponseBody": {
        "assignmentId": "1640aded-dd5a-4b85-aa53-cf18ff6ad5aa",
        "jobId": "assignment_scenario_job_id",
        "workerId": "_test_assignment_scenario_tst_w"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w/offers/c4520bf7-c051-404e-ab39-2796814b5846:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:53 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0191e9af-15bd-b7a3-ef84-73cf11f11ce3"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: c4520bf7-c051-404e-ab39-2796814b5846, WorkerId: _test_assignment_scenario_tst_w",
          "target": "/routing/workers/_test_assignment_scenario_tst_w/offers/c4520bf7-c051-404e-ab39-2796814b5846:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/1640aded-dd5a-4b85-aa53-cf18ff6ad5aa:unassign?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1b80bdca-1066-bd1b-98fb-94927d4c356d"
      },
      "ResponseBody": {
        "jobId": "assignment_scenario_job_id",
        "unassignmentCount": 1
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:11:53 GMT",
        "trace-id": "12265f27-e3ca-d568-24c0-e16a54b24634"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "labels": {
          "Id": "_test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [
          {
            "assignmentId": "1640aded-dd5a-4b85-aa53-cf18ff6ad5aa",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "assignedAt": "2023-11-07T18:11:53.2159949\u002B00:00"
          }
        ],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/741db859-45cd-404b-b2bb-3592140b7f9d:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "071b57a2-7fda-a053-52e6-2808e2e1db4a"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/741db859-45cd-404b-b2bb-3592140b7f9d:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:11:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "94115926-be5c-94a6-5682-034b4708155d"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:12:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:11:58 GMT",
        "trace-id": "e850f9e1-3930-4924-cd27-661908323473"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "status": "closed",
        "enqueuedAt": "2023-11-07T18:11:48.7167544\u002B00:00",
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "741db859-45cd-404b-b2bb-3592140b7f9d": {
            "assignmentId": "741db859-45cd-404b-b2bb-3592140b7f9d",
            "workerId": "_test_assignment_scenario_tst_w",
            "assignedAt": "2023-11-07T18:11:57.4499201\u002B00:00",
            "completedAt": "2023-11-07T18:11:58.6431251\u002B00:00",
            "closedAt": "2023-11-07T18:11:58.8481591\u002B00:00"
          }
        },
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_assignment_scenario_tst_dp?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:12:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "389e04c8-e3fa-d958-fa77-59c7332717c7"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
