{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_get_job_direct_q_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:39:27 GMT"
      },
      "RequestBody": {
        "name": "_test_get_job_direct_q_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:39:27 GMT",
        "trace-id": "8b916bd6-5530-8278-a96a-471d687b8056"
      },
      "ResponseBody": {
        "id": "_test_get_job_direct_q_tst_dp",
        "name": "_test_get_job_direct_q_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_get_job_direct_q_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:39:27 GMT"
      },
      "RequestBody": {
        "name": "_test_get_job_direct_q_tst_q",
        "distributionPolicyId": "_test_get_job_direct_q_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:39:28 GMT",
        "trace-id": "b3579824-bb80-39fb-8cfe-59ffbb07611d"
      },
      "ResponseBody": {
        "id": "_test_get_job_direct_q_tst_q",
        "name": "_test_get_job_direct_q_tst_q",
        "distributionPolicyId": "_test_get_job_direct_q_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "_test_get_job_direct_q_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_get_job_man?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:39:27 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "queueId": "_test_get_job_direct_q_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": [
          {
            "addedAt": "2022-05-13T16:59:04.531199Z",
            "message": "Fake notes attached to job"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:39:28 GMT",
        "trace-id": "a03b45a3-940a-2c95-dbba-843df4d3165a"
      },
      "ResponseBody": {
        "id": "tst_get_job_man",
        "channelReference": "fakeChannelRef1",
        "status": "created",
        "channelId": "fakeChannelId1",
        "queueId": "_test_get_job_direct_q_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": [
          {
            "message": "Fake notes attached to job",
            "addedAt": "2022-05-13T16:59:04.531199\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_get_job_man?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:39:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:39:28 GMT",
        "trace-id": "79d12f90-1eff-262d-c9c9-e7b535630522"
      },
      "ResponseBody": {
        "id": "tst_get_job_man",
        "channelReference": "fakeChannelRef1",
        "status": "queued",
        "enqueuedAt": "2023-10-27T15:39:28.414515\u002B00:00",
        "channelId": "fakeChannelId1",
        "queueId": "_test_get_job_direct_q_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labe[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_get_job_man:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:39:31 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f073f02d-7099-a35f-0e6f-79be2800d9bb"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_get_job_direct_q_tst_dp?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:39:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "5855c12f-36e3-5d66-a11a-5922525803d8"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
