{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_update_job_w_cp_w_kwargs_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:06 GMT"
      },
      "RequestBody": {
        "name": "_test_update_job_w_cp_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:41:06 GMT",
        "trace-id": "cf69dbc2-b7ba-0f8b-76f6-29649bfd4c77"
      },
      "ResponseBody": {
        "id": "_test_update_job_w_cp_w_kwargs_tst_dp_async",
        "name": "_test_update_job_w_cp_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_update_job_w_cp_w_kwargs_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:06 GMT"
      },
      "RequestBody": {
        "name": "_test_update_job_w_cp_w_kwargs_tst_q_async",
        "distributionPolicyId": "_test_update_job_w_cp_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:41:07 GMT",
        "trace-id": "37029a07-2bd5-8909-0532-1b045728b674"
      },
      "ResponseBody": {
        "id": "_test_update_job_w_cp_w_kwargs_tst_q_async",
        "name": "_test_update_job_w_cp_w_kwargs_tst_q_async",
        "distributionPolicyId": "_test_update_job_w_cp_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "_test_update_job_w_cp_w_kwargs_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_update_job_w_cp_w_kwargs_tst_flbk_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:07 GMT"
      },
      "RequestBody": {
        "name": "_test_update_job_w_cp_w_kwargs_tst_flbk_[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/_test_update_job_w_cp_w_kwargs_tst_cp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:07 GMT"
      },
      "RequestBody": {
        "name": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "fallbackQueueId": "_test_update_job_w_cp_w_kwargs_tst_flbk_q_async",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "_test_update_job_w_cp_w_kwargs_tst_q_async"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:41:07 GMT",
        "trace-id": "a23703f1-bbd3-01d2-6e6b-efc60e40d1f3"
      },
      "ResponseBody": {
        "id": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "name": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "fallbackQueueId": "_test_update_job_w_cp_w_kwargs_tst_flbk_q_async",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "_test_update_job_w_cp_w_kwargs_tst_q_async"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            }
          }
        ],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:07 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": [
          {
            "addedAt": "2022-05-13T16:59:04.531199Z",
            "message": "Fake notes attached to job"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:41:07 GMT",
        "trace-id": "eecebdfe-01ac-00dc-2bdc-6fe36ca33e08"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs_async",
        "channelReference": "fakeChannelRef1",
        "status": "pendingClassification",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "priority": 1,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": [
          {
            "message": "Fake notes attached to job",
            "addedAt": "2022-05-13T16:59:04.531199\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs_async?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:41:07 GMT",
        "trace-id": "139b48cf-4ddf-e7db-2a47-9d48fc5b1721"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs_async",
        "channelReference": "fakeChannelRef1",
        "status": "queued",
        "enqueuedAt": "2023-10-27T15:41:07.9883774\u002B00:00",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "queueId": "_test_update_job_w_cp_w_kwargs_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
         [...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:10 GMT"
      },
      "RequestBody": {
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "FakeKey": "FakeWorkerValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:41:11 GMT",
        "trace-id": "e4e741a6-cb92-2a47-6c39-2e965f6d665e"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs_async",
        "chan[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs_async:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:14 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1a1817bc-826a-da43-866d-048dee3e5bed"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_update_job_w_cp_w_kwargs_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:41:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "872ad5d4-75e4-79a5-4a3e-e711a56b892a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
