{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_assignment_scenario_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:41 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longest-idle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:27:41 GMT",
        "trace-id": "883b124f-bb3e-df04-da8f-7e2baa219b55"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_dp_async",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_assignment_scenario_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:42 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_assignment_scenario_tst_dp_async"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:27:41 GMT",
        "trace-id": "4a235ca1-60be-d52c-75b6-f606f9f5b945"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_q_async",
        "name": "test",
        "distributionPolicyId": "test_assignment_scenario_tst_dp_async",
        "labels": {
          "Id": "test_assignment_scenario_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:42 GMT"
      },
      "RequestBody": {
        "queues": [
          "test_assignment_scenario_tst_q_async"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:27:41 GMT",
        "trace-id": "2b044bae-87d0-03d4-4ade-057baac121f4"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "test_assignment_scenario_tst_q_async"
        ],
        "capacity": 1,
        "labels": {
          "Id": "test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:42 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:27:42 GMT",
        "trace-id": "1be3e671-ba5a-5052-92da-60c7bd755fd5"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "status": "created",
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:27:42 GMT",
        "trace-id": "e5f9a2bf-1263-6945-808e-59d770e5a0d1"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "test_assignment_scenario_tst_q_async"
        ],
        "capacity": 1,
        "labels": {
          "Id": "test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "e256a36c-7b4d-4288-9382-cb8bae385acc",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "offeredAt": "2023-11-03T21:27:42.8189535\u002B00:00",
            "expiresAt": "2023-11-03T21:37:42.8189536\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w/offers/e256a36c-7b4d-4288-9382-cb8bae385acc:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d274ade2-efc3-94c9-ef7b-b69b4234c873"
      },
      "ResponseBody": {
        "assignmentId": "f5128f73-083e-494a-854c-110af4760020",
        "jobId": "assignment_scenario_job_id",
        "workerId": "test_assignment_scenario_tst_w"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w/offers/e256a36c-7b4d-4288-9382-cb8bae385acc:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:47 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d5e20e2e-4bc0-c9f4-6047-67eaced72edb"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: e256a36c-7b4d-4288-9382-cb8bae385acc, WorkerId: test_assignment_scenario_tst_w",
          "target": "/routing/workers/test_assignment_scenario_tst_w/offers/e256a36c-7b4d-4288-9382-cb8bae385acc:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/f5128f73-083e-494a-854c-110af4760020:unassign?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "107be745-2bfb-7b22-3367-fc18ee4d4726"
      },
      "ResponseBody": {
        "jobId": "assignment_scenario_job_id",
        "unassignmentCount": 1
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:27:46 GMT",
        "trace-id": "1c51bc35-87a8-1c9c-c779-59d6765eeb18"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "test_assignment_scenario_tst_q_async"
        ],
        "capacity": 1,
        "labels": {
          "Id": "test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [
          {
            "assignmentId": "f5128f73-083e-494a-854c-110af4760020",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "assignedAt": "2023-11-03T21:27:46.6232568\u002B00:00"
          }
        ],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:52 GMT"
      },
      "RequestBody": {
        "assignmentId": "d6383a4f-425d-4e2f-960d-c3b4b0ddc1e3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9c1667d5-74b5-1906-2414-6ca3d593e9e7"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:52 GMT"
      },
      "RequestBody": {
        "assignmentId": "d6383a4f-425d-4e2f-960d-c3b4b0ddc1e3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "31eb1053-52d3-ec14-c73c-ae7b3a628422"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:27:52 GMT",
        "trace-id": "f564e767-2f53-abea-d5c5-982c8f752a63"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "status": "closed",
        "enqueuedAt": "2023-11-03T21:27:42.3620691\u002B00:00",
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "d6383a4f-425d-4e2f-960d-c3b4b0ddc1e3": {
            "assignmentId": "d6383a4f-425d-4e2f-960d-c3b4b0ddc1e3",
            "workerId": "test_assignment_scenario_tst_w",
            "assignedAt": "2023-11-03T21:27:50.7705905\u002B00:00",
            "completedAt": "2023-11-03T21:27:51.9376704\u002B00:00",
            "closedAt": "2023-11-03T21:27:52.1276596\u002B00:00"
          }
        },
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_assignment_scenario_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:27:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "b253f7cb-de64-f9c9-4064-bddbeeb35f32"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
