{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_classification_policy_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 00:59:54 GMT"
      },
      "RequestBody": {
        "name": "test_get_classification_policy_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "roundRobin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 14 Nov 2023 00:59:54 GMT",
        "trace-id": "8cfed3da-2480-44d2-1e25-8e04d1c73e6d"
      },
      "ResponseBody": {
        "id": "test_get_classification_policy_tst_dp",
        "name": "test_get_classification_policy_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_classification_policy_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 00:59:54 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_get_classification_policy_tst_dp"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 14 Nov 2023 00:59:54 GMT",
        "trace-id": "ca161616-d52b-59eb-031f-1e66289657aa"
      },
      "ResponseBody": {
        "id": "test_get_classification_policy_tst_q",
        "name": "test",
        "distributionPolicyId": "test_get_classification_policy_tst_dp",
        "labels": {
          "Id": "test_get_classification_policy_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_get_cp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 00:59:54 GMT"
      },
      "RequestBody": {
        "name": "tst_get_cp",
        "fallbackQueueId": "test_get_classification_policy_tst_q",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            },
            "kind": "static"
          },
          {
            "condition": {
              "value": true,
              "kind": "static"
            },
            "queueSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ],
            "kind": "conditional"
          },
          {
            "rule": {
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value"
                }
              ],
              "kind": "static"
            },
            "kind": "ruleEngine"
          },
          {
            "key": "testKey",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "allocations": [
              {
                "weight": 1.0,
                "queueSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ],
            "kind": "weightedAllocation"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "expiresAfterSeconds": 10.0,
              "expedite": false
            },
            "kind": "static"
          },
          {
            "condition": {
              "value": true,
              "kind": "static"
            },
            "workerSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "expiresAfterSeconds": 10.0,
                "expedite": false
              }
            ],
            "kind": "conditional"
          },
          {
            "rule": {
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value",
         [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_classification_policy_tst_dp?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 00:59:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "797935fe-7507-6463-9144-2ae5781aa321"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
