{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_update_job_w_cp_w_kwargs_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:25 GMT"
      },
      "RequestBody": {
        "name": "_test_update_job_w_cp_w_kwargs_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:17:24 GMT",
        "trace-id": "e062dac8-d850-d23a-1e41-3dbe960a67b7"
      },
      "ResponseBody": {
        "id": "_test_update_job_w_cp_w_kwargs_tst_dp",
        "name": "_test_update_job_w_cp_w_kwargs_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_update_job_w_cp_w_kwargs_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:25 GMT"
      },
      "RequestBody": {
        "name": "_test_update_job_w_cp_w_kwargs_tst_q",
        "distributionPolicyId": "_test_update_job_w_cp_w_kwargs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:17:25 GMT",
        "trace-id": "0814ab4d-93f0-9ff7-cd24-818f2c7f719f"
      },
      "ResponseBody": {
        "id": "_test_update_job_w_cp_w_kwargs_tst_q",
        "name": "_test_update_job_w_cp_w_kwargs_tst_q",
        "distributionPolicyId": "_test_update_job_w_cp_w_kwargs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "_test_update_job_w_cp_w_kwargs_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_update_job_w_cp_w_kwargs_tst_flbk_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:25 GMT"
      },
      "RequestBody": {
        "name": "_test_update_job_w_cp_w_kwargs_tst_flbk_q",
        "distributionPolicyId": "_test_update_job_w_cp_w_kwargs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:17:25 GMT",
        "trace-id": "21fef78a-93c7-0532-8ab8-44c3d6089386"
      },
      "ResponseBody": {
        "id": "_test_update_job_w_cp_w_kwargs_tst_flbk_q",
        "name": "_test_update_job_w_cp_w_kwargs_tst_flbk_q",
        "distributionPolicyId": "_test_update_job_w_cp_w_kwargs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "_test_update_job_w_cp_w_kwargs_tst_flbk_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/_test_update_job_w_cp_w_kwargs_tst_cp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:25 GMT"
      },
      "RequestBody": {
        "name": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "fallbackQueueId": "_test_update_job_w_cp_w_kwargs_tst_flbk_q",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "_test_update_job_w_cp_w_kwargs_tst_q"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:17:25 GMT",
        "trace-id": "a0b98618-149c-23a1-714a-fad19981d859"
      },
      "ResponseBody": {
        "id": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "name": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "fallbackQueueId": "_test_update_job_w_cp_w_kwargs_tst_flbk_q",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "_test_update_job_w_cp_w_kwargs_tst_q"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            }
          }
        ],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:25 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanOrEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanOrEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": [
          {
            "addedAt": "2022-05-13T16:59:04.531199Z",
            "message": "Fake notes attached to job"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:17:25 GMT",
        "trace-id": "6b513646-4d7f-28b8-f071-7965ee1f34d3"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs",
        "channelReference": "fakeChannelRef1",
        "status": "pendingClassification",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "priority": 1,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanOrEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanOrEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": [
          {
            "message": "Fake notes attached to job",
            "addedAt": "2022-05-13T16:59:04.531199\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:17:25 GMT",
        "trace-id": "9f68d1a7-0132-1f8c-6585-c5e6f41b1866"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs",
        "channelReference": "fakeChannelRef1",
        "status": "queued",
        "enqueuedAt": "2023-11-07T18:17:25.9787903\u002B00:00",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "_test_update_job_w_cp_w_kwargs_tst_cp",
        "queueId": "_test_update_job_w_cp_w_kwargs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "ex[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:29 GMT"
      },
      "RequestBody": {
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "FakeKey": "FakeWorkerValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:17:29 GMT",
        "trace-id": "260f466e-42a9-cada-7754-aefac5b8cb14"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs",
        "channelRef[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:32 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8c008e49-cc40-4f7f-42bb-b4812922b2a3"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_update_job_w_cp_w_kwargs_tst_dp?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:17:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "c56defd5-9978-9c88-c4dc-6d93202a31ad"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
