{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_job_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:32:27 GMT"
      },
      "RequestBody": {
        "name": "test_delete_job_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:05:40 GMT",
        "trace-id": "8bad8a56-f4bb-30d4-5187-f0ce0a9651ef"
      },
      "ResponseBody": {
        "id": "test_delete_job_tst_dp_async",
        "name": "test_delete_job_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_job_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:32:27 GMT"
      },
      "RequestBody": {
        "name": "test_delete_job_tst_q_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "distributionPolicyId": "test_delete_job_tst_dp_async"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:05:40 GMT",
        "trace-id": "44b9cb66-bcef-65ac-10f0-bec8faf1045f"
      },
      "ResponseBody": {
        "id": "test_delete_job_tst_q_async",
        "name": "test_delete_job_tst_q_async",
        "distributionPolicyId": "test_delete_job_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_delete_job_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_del_job_man_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:32:27 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "queueId": "test_delete_job_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:32:28 GMT",
        "trace-id": "41f6cb25-4fb9-a6e0-b95b-26d326f26dcd"
      },
      "ResponseBody": {
        "id": "tst_del_job_man_async",
        "channelReference": "fakeChannelRef1",
        "status": "created",
        "channelId": "fakeChannelId1",
        "queueId": "test_delete_job_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        },
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_del_job_man_async?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:32:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:32:28 GMT",
        "trace-id": "ed483c29-a159-9877-a3ad-6b32b5cb7a3c"
      },
      "ResponseBody": {
        "id": "tst_del_job_man_async",
        "channelReference": "fakeChannelRef1",
        "status": "queued",
        "enqueuedAt": "2023-10-17T12:32:28.9223196\u002B00:00",
        "channelId": "fakeChannelId1",
        "queueId": "test_delete_job_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labe[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_del_job_man_async:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:32:31 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "319dc3c8-32cb-b8ae-176b-c83b8660d82b"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_del_job_man_async?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:32:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6484ea85-8dfc-138c-c685-2a702b8bc158"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/jobs/tst_del_job_man_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_del_job_man_async?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:32:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4da484f3-d1a6-1fc8-b6cf-925d357097c3"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/jobs/tst_del_job_man_async"
        }
      }
    }
  ],
  "Variables": {}
}
