{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_workers_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:19 GMT"
      },
      "RequestBody": {
        "name": "test_list_workers_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:51:19 GMT",
        "trace-id": "eb753d06-24b1-08e0-0df8-793681436656"
      },
      "ResponseBody": {
        "id": "test_list_workers_tst_dp_async",
        "name": "test_list_workers_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_workers_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:19 GMT"
      },
      "RequestBody": {
        "name": "test_list_workers_tst_q_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "distributionPolicyId": "test_list_workers_tst_dp_async"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:51:20 GMT",
        "trace-id": "be13c76c-8fe9-bb35-e335-ec1ec8796aea"
      },
      "ResponseBody": {
        "id": "test_list_workers_tst_q_async",
        "name": "test_list_workers_tst_q_async",
        "distributionPolicyId": "test_list_workers_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_list_workers_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_list_w_1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:19 GMT"
      },
      "RequestBody": {
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "queueAssignments": {
          "test_list_workers_tst_q_async": {}
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:51:20 GMT",
        "trace-id": "f2d25996-d4dc-01df-e6e4-7a60605b5b7b"
      },
      "ResponseBody": {
        "id": "tst_list_w_1",
        "state": "inactive",
        "queueAssignments": {
          "test_list_workers_tst_q_async": {}
        },
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_list_w_1"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers?api-version=2023-11-01\u0026maxpagesize=3\u0026state=inactive\u0026channelId=fakeChannel1\u0026queueId=test_list_workers_tst_q_async",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6ea9732b-89ce-3c27-d464-703369544971"
      },
      "ResponseBody": {
        "value": [
          {
            "worker": {
              "id": "tst_list_w_3",
              "state": "inactive",
              "queueAssignments": {
                "test_list_workers_tst_q_async": {}
              },
              "totalCapacity": 100,
              "labels": {
                "key1": "WorkerKey",
                "key2": 10,
                "key3": true,
                "Id": "tst_list_w_3"
              },
              "tags": {
                "tag1": "WorkerGenericInfo"
              },
              "channelConfigurations": {
                "fakeChannel1": {
                  "capacityCostPerJob": 10
                },
                "fakeChannel2": {
                  "capacityCostPerJob": 90
                }
              },
              "offers": [],
              "assignedJobs": [],
              "loadRatio": 0,
              "availableForOffers": false
            },
            "etag": "Sanitized"
          },
          {
            "worker": {
              "id": "tst_list_w_2",
              "state": "inactive",
              "queueAssignments": {
                "test_list_workers_tst_q_async": {}
              },
              "totalCapacity": 100,
              "labels": {
                "key1": "WorkerKey",
                "key2": 10,
                "key3": true,
                "Id": "tst_list_w_2"
              },
              "tags": {
                "tag1": "Wo[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_workers_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:51:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "837e28c3-97b2-d5ab-37e2-0068f59e29f7"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
