{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_exception_policy_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:00 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:14:59 GMT",
        "trace-id": "35cd02ea-3cdb-fb13-896c-70546fc93302"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_dp",
        "name": "test_delete_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_exception_policy_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:00 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_q",
        "distributionPolicyId": "test_delete_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:14:59 GMT",
        "trace-id": "aa259289-926b-9255-8124-b625edc0ba17"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_q",
        "name": "test_delete_exception_policy_tst_q",
        "distributionPolicyId": "test_delete_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_delete_exception_policy_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_delete_exception_policy_tst_cp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:00 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_cp",
        "fallbackQueueId": "test_delete_exception_policy_tst_q"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:15:00 GMT",
        "trace-id": "fe45b278-3d39-0730-ca4d-b75d91aa5bc0"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_cp",
        "name": "test_delete_exception_policy_tst_cp",
        "fallbackQueueId": "test_delete_exception_policy_tst_q",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:00 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:15:00 GMT",
        "trace-id": "93d596f4-ed5a-0555-3b50-2a3e0af17584"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "deb177a5-00d4-4203-819f-02d64f547a29"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7fc33f3f-239c-b7a1-346b-7106907d8851"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/exceptionPolicies/tst_delete_ep"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:00 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "queueId": "test_delete_exception_policy_tst_q",
                "priority": 1,
                "kind": "manual-reclassify"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:15:00 GMT",
        "trace-id": "af91eac1-c065-8312-727d-de016a628438"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manual-reclassify",
                "queueId": "test_delete_exception_policy_tst_q",
                "priority": 1,
                "workerSelectors": [],
                "id": "12a688e0-0879-4a6e-bccc-9fbecbd49001"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:01 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "classificationPolicyId": "test_delete_exception_policy_tst_cp",
                "kind": "reclassify"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:15:01 GMT",
        "trace-id": "5a1df9ba-f32d-68d5-3319-50b1a5cbc9bd"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_delete_exception_policy_tst_cp",
                "labelsToUpsert": {},
                "id": "00a6c8aa-b2e1-4412-b4e9-f27962155bd2"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:01 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "thresholdSeconds": 3600,
              "kind": "wait-time"
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:15:01 GMT",
        "trace-id": "f9ba0de0-ca3e-1e87-0964-d7a84206d0e1"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "574fa5e9-4db8-4118-9dff-41bad44ae67f"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:15:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "89c029b6-ad42-4dc2-33f5-9b79fb874a87"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
