{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_worker_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:47:41 GMT"
      },
      "RequestBody": {
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        },
        "name": "test_delete_worker_tst_dp"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:47:42 GMT",
        "trace-id": "e868da54-9c65-8a3c-73bf-ab1d7372a7c9"
      },
      "ResponseBody": {
        "id": "test_delete_worker_tst_dp",
        "name": "test_delete_worker_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_worker_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:47:42 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "test_delete_worker_tst_dp",
        "name": "test_delete_worker_tst_q",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:47:44 GMT",
        "trace-id": "2ed8727c-0b2e-3668-1894-99931c1abedc"
      },
      "ResponseBody": {
        "id": "test_delete_worker_tst_q",
        "name": "test_delete_worker_tst_q",
        "distributionPolicyId": "test_delete_worker_tst_dp",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_delete_worker_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_delete_w?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:47:43 GMT"
      },
      "RequestBody": {
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "queueAssignments": {
          "test_delete_worker_tst_q": {}
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90,
            "maxNumberOfJobs": 1
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 17 Oct 2023 12:47:45 GMT",
        "trace-id": "320df705-b509-6f85-e069-0ad0a6417f1b"
      },
      "ResponseBody": {
        "id": "tst_delete_w",
        "state": "inactive",
        "queueAssignments": {
          "test_delete_worker_tst_q": {}
        },
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_delete_w"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90,
            "maxNumberOfJobs": 1
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_delete_w?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:47:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a44703d4-3af1-7aba-a956-827da8391204"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/workers/tst_delete_w"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_worker_tst_dp?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Oct 2023 12:47:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "6740fe3e-f61e-3d80-52ba-438f17c932f7"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
