{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_queue_w_kwargs_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:22:33 GMT"
      },
      "RequestBody": {
        "name": "test_update_queue_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:22:32 GMT",
        "trace-id": "97efa3e7-0a05-6601-b78b-be0df6f1d5cf"
      },
      "ResponseBody": {
        "id": "test_update_queue_w_kwargs_tst_dp_async",
        "name": "test_update_queue_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/tst_updated_q_w_kwargs_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:22:33 GMT"
      },
      "RequestBody": {
        "name": "tst_updated_q_w_kwargs_async",
        "distributionPolicyId": "test_update_queue_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:22:33 GMT",
        "trace-id": "e5e28207-39e7-8c0c-bfbe-b475d4de1189"
      },
      "ResponseBody": {
        "id": "tst_updated_q_w_kwargs_async",
        "name": "tst_updated_q_w_kwargs_async",
        "distributionPolicyId": "test_update_queue_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "tst_updated_q_w_kwargs_async"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/tst_updated_q_w_kwargs_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:22:33 GMT"
      },
      "RequestBody": {
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "tst_updated_q_w_kwargs_async",
          "key6": "Key6"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:22:33 GMT",
        "trace-id": "a343d38d-06ab-adff-3e25-4b66f4e09e4b"
      },
      "ResponseBody": {
        "id": "tst_updated_q_w_kwargs_async",
        "name": "tst_updated_q_w_kwargs_async",
        "distributionPolicyId": "test_update_queue_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "tst_updated_q_w_kwargs_async",
          "key6": "Key6"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_queue_w_kwargs_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:22:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "759fce80-d6dc-5de9-dd4e-decf7beda10e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
