{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_workers_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:25:47 GMT"
      },
      "RequestBody": {
        "name": "test_list_workers_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:25:46 GMT",
        "trace-id": "b9835ba9-5f8e-7d87-e10f-72a45453cf1a"
      },
      "ResponseBody": {
        "id": "test_list_workers_tst_dp_async",
        "name": "test_list_workers_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_workers_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:25:47 GMT"
      },
      "RequestBody": {
        "name": "test_list_workers_tst_q_async",
        "distributionPolicyId": "test_list_workers_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:25:47 GMT",
        "trace-id": "60b28283-2b09-d171-12dc-82de84cd3448"
      },
      "ResponseBody": {
        "id": "test_list_workers_tst_q_async",
        "name": "test_list_workers_tst_q_async",
        "distributionPolicyId": "test_list_workers_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_list_workers_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_list_w_1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:25:47 GMT"
      },
      "RequestBody": {
        "queues": [
          "test_list_workers_tst_q_async"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90
          }
        ],
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 03 Nov 2023 21:25:47 GMT",
        "trace-id": "313727fb-7617-e355-30de-d78621928191"
      },
      "ResponseBody": {
        "id": "tst_list_w_1",
        "state": "inactive",
        "queues": [
          "test_list_workers_tst_q_async"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_list_w_1"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers?api-version=2023-11-01\u0026maxpagesize=3\u0026state=inactive\u0026channelId=fakeChannel1\u0026queueId=test_list_workers_tst_q_async",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:25:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "73cfde3c-4dc6-7cdc-8a12-745c67b5550c"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "tst_list_w_3",
            "state": "inactive",
            "queues": [
              "test_list_workers_tst_q_async"
            ],
            "capacity": 100,
            "labels": {
              "key1": "WorkerKey",
              "key2": 10,
              "key3": true,
              "Id": "tst_list_w_3"
            },
            "tags": {
              "tag1": "WorkerGenericInfo"
            },
            "channels": [
              {
                "cha[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_workers_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 03 Nov 2023 21:25:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "bc9184af-345d-0a0f-3f73-41c891506855"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
