{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:15 GMT"
      },
      "RequestBody": {
        "name": "test_list_classification_policies_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:13:15 GMT",
        "trace-id": "81d5c129-bd7c-44f2-c192-735913670513"
      },
      "ResponseBody": {
        "id": "test_list_classification_policies_tst_dp",
        "name": "test_list_classification_policies_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_classification_policies_tst_q?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:16 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_list_classification_policies_tst_dp"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 07 Nov 2023 18:13:15 GMT",
        "trace-id": "58f1c959-f5d2-2eec-e6ea-93416beee0fe"
      },
      "ResponseBody": {
        "id": "test_list_classification_policies_tst_q",
        "name": "test",
        "distributionPolicyId": "test_list_classification_policies_tst_dp",
        "labels": {
          "Id": "test_list_classification_policies_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_list_cp_1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:16 GMT"
      },
      "RequestBody": {
        "name": "tst_list_cp_1",
        "fallbackQueueId": "test_list_classification_policies_tst_q",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            },
            "kind": "static"
          },
          {
            "condition": {
              "value": true,
              "kind": "static-rule"
            },
            "queueSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ],
            "kind": "conditional"
          },
          {
            "rule": {
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value"
                }
              ],
              "kind": "static-rule"
            },
            "kind": "rule-engine"
          },
          {
            "key": "testKey",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "allocations": [
              {
                "weight": 1.0,
                "queueSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ],
            "kind": "weighted-allocation-queue-selector"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "expiresAfterSeconds": 10.0,
              "expedite": false
            },
            "kind": "static"
          },
          {
            "condition": {
              "value": true,
              "kind": "static-rule"
            },
            "workerSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "expiresAfterSeconds": 10.0,
                "expedite": false
              }
            ],
            "kind": "conditional"
          },
          {
            "rule": {
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value",
         [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?api-version=2023-11-01\u0026maxpagesize=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?continuationToken=Y29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjRyVlRWRVFVeENjWEJEVlZOTWQydEJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNU05TVkVRNlFVRTlQU05KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZuUlZkS1FsbERRVU5EU1VaM05FRjBRbXA2ZGpNeVlpOVBaUzkzVTBaQkswSTRXVUZuUTBKbmVHdEZRVXBGVFN0Qk9HSkJaMFJJYmxOSlowRk5SVmRKZDBSQ1FXNTVhVTFuU1VGSlowRkxWV2REVFZwQlRVbGlORWxGZDBGTlVVRkJSVUZCUkRSUVNrRlJRVVZUT0VkQl[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?continuationToken=Y29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjRyVlRWRVFVeENjWEJEVlZKTWQydEJRVUZCUVVGQlBUMGpVbFE2TWlOVVVrTTZNaU5TVkVRNlFVRTlQU05KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZuUlZkS1FsbERRVU5EU1VaM05FRjBRbXA2ZGpNeVlpOVBaUzkzVTBaQkswSTRXVUZuUTBKbmVHdEZRVXBGVFN0Qk9HSkJaMFJJYmxOSlowRk5SVmRKZDBSQ1FXNTVhVTFuU1VGSlowRkxWV2REVFZwQlRVbGlORWxGZDBGTlVVRkJSVUZCUkRSUVNrRlJRVVZUT0VkQl[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 18:13:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "e958a361-344e-7186-fbe1-7763bfb53cbc"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
