{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_classification_policy_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:35:54 GMT"
      },
      "RequestBody": {
        "name": "test_get_classification_policy_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "round-robin"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:35:54 GMT",
        "trace-id": "22a86f12-2872-b8d7-bacd-16bb1ad09b38"
      },
      "ResponseBody": {
        "id": "test_get_classification_policy_tst_dp_async",
        "name": "test_get_classification_policy_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_classification_policy_tst_q_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:35:54 GMT"
      },
      "RequestBody": {
        "name": "test_get_classification_policy_tst_q_async",
        "distributionPolicyId": "test_get_classification_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Fri, 27 Oct 2023 15:35:54 GMT",
        "trace-id": "c3242c2f-97e4-3277-30e7-994bb5d57f27"
      },
      "ResponseBody": {
        "id": "test_get_classification_policy_tst_q_async",
        "name": "test_get_classification_policy_tst_q_async",
        "distributionPolicyId": "test_get_classification_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_get_classification_policy_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_get_cp_async?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:35:54 GMT"
      },
      "RequestBody": {
        "name": "tst_get_cp_async",
        "fallbackQueueId": "test_get_classification_policy_tst_q_async",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            },
            "kind": "static"
          },
          {
            "condition": {
              "value": true,
              "kind": "static-rule"
            },
            "queueSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ],
            "kind": "conditional"
          },
          {
            "rule": {
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value"
                }
              ],
              "kind": "static-rule"
            },
            "kind": "rule-engine"
          },
          {
            "key": "testKey",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "allocations": [
              {
                "weight": 1.0,
                "queueSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ],
            "kind": "weighted-allocation-queue-selector"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "expiresAfterSeconds": 10.0,
              "expedite": false
            },
            "kind": "static"
          },
          {
            "condition": {
              "value": true,
              "kind": "static-rule"
            },
            "workerSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "expiresAfterSeconds": 10.0,
                "expedite": false
              }
            ],
            "kind": "conditional"
          },
          {
            "rule": {
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value",
         [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_classification_policy_tst_dp_async?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Oct 2023 15:35:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "90715f73-3e99-3174-14a4-1c8289c930b8"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
