{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "EnableAzSecPackIdentityPolicy": "true",
          "AzSecPackAutoConfigReady": "true",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "ExemptSubFromRBACPermissionPolicy": "true",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions"
        },
        "subscriptionId": "31347be8-d066-464e-9866-7e58d85027b7",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "XDatamove-Dev-Playground1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourcegroups/teststomover?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover",
        "name": "teststomover",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"080049c7-0000-3300-0000-69c244d20000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1",
        "name": "testsm1",
        "type": "microsoft.storagemover/storagemovers",
        "location": "centraluseuap",
        "tags": {
          "Mover": "Dev",
          "team": "Discovery"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-24T08:01:20.8676062Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-24T08:01:20.8676062Z"
        },
        "properties": {
          "description": "Test storage mover",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/nfsfs-9669?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "AzureStorageNfsFileShare",
          "description": "Test NFS file share endpoint",
          "storageAccountResourceId": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.Storage/storageAccounts/testsmstore24",
          "fileShareName": "testnfsfileshare"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0b008b9a-0000-3300-0000-69c24d840000\"",
        "mise-correlation-id": "7797c064-3beb-4e07-81c6-fa61aa77a33d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/nfsfs-9669",
        "name": "nfsfs-9669",
        "type": "microsoft.storagemover/storagemovers/endpoints",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-24T08:38:27.9672262Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-24T08:38:27.9672262Z"
        },
        "properties": {
          "storageAccountResourceId": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.Storage/storageAccounts/testsmstore24",
          "fileShareName": "testnfsfileshare",
          "endpointType": "AzureStorageNfsFileShare",
          "endpointKind": "Target",
          "description": "Test NFS file share endpoint",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/nfsfs-9669?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestB[...]
