{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "EnableAzSecPackIdentityPolicy": "true",
          "AzSecPackAutoConfigReady": "true",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "ExemptSubFromRBACPermissionPolicy": "true",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "cdm,cbn,cy,hk,ln,bl"
        },
        "subscriptionId": "31347be8-d066-464e-9866-7e58d85027b7",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "XDatamove-Dev-Playground1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourcegroups/teststomover?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover",
        "name": "teststomover",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"080049c7-0000-3300-0000-69c244d20000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1",
        "name": "testsm1",
        "type": "microsoft.storagemover/storagemovers",
        "location": "centraluseuap",
        "tags": {
          "Mover": "Dev",
          "team": "Discovery"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-24T08:01:20.8676062Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-24T08:01:20.8676062Z"
        },
        "properties": {
          "description": "Test storage mover",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/nfsfs-tgt-468?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "AzureStorageNfsFileShare",
          "description": "NFS file share target endpoint",
          "endpointKind": "Target",
          "storageAccountResourceId": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.Storage/storageAccounts/testsmstore24",
          "fileShareName": "testnfsfileshare"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1200208d-0000-3300-0000-69ca3a010000\"",
        "mise-correlation-id": "4d04765c-e948-4784-9e82-136de23a73bb",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/31347be8-d066-464e-9866-7e58d85027b7/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/nfsfs-tgt-468",
        "name": "nfsfs-tgt-468",
        "type": "microsoft.stora[...]
