{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourcegroups/Sql-RG-9919?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919",
        "name": "Sql-RG-9919",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "administratorLogin": "admin-sql-server-9514",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/1f28b749-c9e3-486d-a843-cfbdf7fd1e1a?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/locations/uksouth/serverOperationResults/1f28b749-c9e3-486d-a843-cfbdf7fd1e1a?api-version=2023-02-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-09-21T21:24:05.623Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/1f28b749-c9e3-486d-a843-cfbdf7fd1e1a?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "1f28b749-c9e3-486d-a843-cfbdf7fd1e1a",
        "status": "InProgress",
        "startTime": "2023-09-21T21:24:05.623Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "admin-sql-server-9514",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sql-server-9514.database.windows.net",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514",
        "name": "sql-server-9514",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514/elasticPools/sql-pool-VBS-5531?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "preferredEnclaveType": "VBS"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/217d0b54-8239-4ccb-96f7-49c403fe6ab2?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/locations/uksouth/elasticPoolOperationResults/217d0b54-8239-4ccb-96f7-49c403fe6ab2?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "CreateLogicalElasticPool",
        "startTime": "2023-09-21T21:25:16.707Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/217d0b54-8239-4ccb-96f7-49c403fe6ab2?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "217d0b54-8239-4ccb-96f7-49c403fe6ab2",
        "status": "InProgress",
        "startTime": "2023-09-21T21:25:16.707Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514/elasticPools/sql-pool-VBS-5531?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "kind": "vcore,pool",
        "properties": {
          "state": "Ready",
          "creationDate": "2023-09-21T21:25:16.863Z",
          "maxSizeBytes": 34359738368,
          "perDatabaseSettings": {
            "minCapacity": 0.0000,
            "maxCapacity": 2.0000
          },
          "zoneRedundant": false,
          "licenseType": "LicenseIncluded",
          "maintenanceConfigurationId": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "preferredEnclaveType": "VBS",
          "availabilityZone": "NoPreference"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514/elasticPools/sql-pool-VBS-5531",
        "name": "sql-pool-VBS-5531",
        "type": "Microsoft.Sql/servers/elasticPools"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514/elasticPools/sql-pool-VBS-5245?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/servers/sql-server-9514/elasticpools/sql-pool-VBS-5245\u0027 under resource group \u0027Sql-RG-9919\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514/elasticPools?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "vcore,pool",
            "properties": {
              "state": "Ready",
              "creationDate": "2023-09-21T21:25:16.863Z",
              "maxSizeBytes": 34359738368,
              "perDatabaseSettings": {
                "minCapacity": 0.0000,
                "maxCapacity": 2.0000
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "admin-sql-server-9514",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sql-server-9514.database.windows.net",
              "privateEndpointConnections": [],
              "minimalTlsVersion": "None",
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "uksouth",
            "tags": {},
            "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/servers/sql-server-9514",
            "name": "sql-server-9514",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9919/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/38b3281c-c54e-4ac2-91bf-3f4a150ae77f?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "name": "38b3281c-c54e-4ac2-91bf-3f4a150ae77f",
        "status": "Succeeded",
        "startTime": "2023-09-21T21:26:59.053Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1298960881",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "eb951d38-18d9-46d4-9a0c-f694b148c76a"
  }
}
