{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/Sql-RG-7562?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562",
        "name": "Sql-RG-7562",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "administratorLogin": "admin-sql-server-3460",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/076b0f8d-48b2-493b-9c43-9ad10e43e9a8?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/locations/uksouth/serverOperationResults/076b0f8d-48b2-493b-9c43-9ad10e43e9a8?api-version=2022-08-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-07-28T05:11:49.62Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/076b0f8d-48b2-493b-9c43-9ad10e43e9a8?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "name": "076b0f8d-48b2-493b-9c43-9ad10e43e9a8",
        "status": "InProgress",
        "startTime": "2023-07-28T05:11:49.62Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "admin-sql-server-3460",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sql-server-3460.database.windows.net",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460",
        "name": "sql-server-3460",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460/elasticPools/sql-pool-VBS-7636?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "preferredEnclaveType": "VBS"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/46c39b25-5b65-4356-a712-91ee4113b363?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/locations/uksouth/elasticPoolOperationResults/46c39b25-5b65-4356-a712-91ee4113b363?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "operation": "CreateLogicalElasticPool",
        "startTime": "2023-07-28T05:12:58.107Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/46c39b25-5b65-4356-a712-91ee4113b363?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "name": "46c39b25-5b65-4356-a712-91ee4113b363",
        "status": "InProgress",
        "startTime": "2023-07-28T05:12:58.107Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460/elasticPools/sql-pool-VBS-7636?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "kind": "vcore,pool",
        "properties": {
          "state": "Ready",
          "creationDate": "2023-07-28T05:12:58.213Z",
          "maxSizeBytes": 34359738368,
          "perDatabaseSettings": {
            "minCapacity": 0.0000,
            "maxCapacity": 2.0000
          },
          "zoneRedundant": false,
          "licenseType": "LicenseIncluded",
          "maintenanceConfigurationId": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "preferredEnclaveType": "VBS",
          "availabilityZone": "NoPreference"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460/elasticPools/sql-pool-VBS-7636",
        "name": "sql-pool-VBS-7636",
        "type": "Microsoft.Sql/servers/elasticPools"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460/elasticPools/sql-pool-VBS-1689?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/servers/sql-server-3460/elasticpools/sql-pool-VBS-1689\u0027 under resource group \u0027Sql-RG-7562\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460/elasticPools?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "vcore,pool",
            "properties": {
              "state": "Ready",
              "creationDate": "2023-07-28T05:13:45.933Z",
              "maxSizeBytes": 34359738368,
              "perDatabaseSettings": {
                "minCapacity": 0.0000,
                "maxCapacity": 2.0000
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11944"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "admin-sql-server-3460",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sql-server-3460.database.windows.net",
              "privateEndpointConnections": [],
              "minimalTlsVersion": "None",
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "uksouth",
            "tags": {},
            "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/servers/sql-server-3460",
            "name": "sql-server-3460",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-7562/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/3522ff7a-b523-480a-bc04-b01ce0a8bf63?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11942"
      },
      "ResponseBody": {
        "name": "3522ff7a-b523-480a-bc04-b01ce0a8bf63",
        "status": "Succeeded",
        "startTime": "2023-07-28T05:14:23.14Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1960504257",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2c647056-bab2-4175-b172-493ff049eb29"
  }
}
