{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/Sql-RG-2742?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742",
        "name": "Sql-RG-2742",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "administratorLogin": "admin-sql-server-672",
          "administratorLoginPassword": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/0d726163-9246-4795-bf5f-c556205ac4e8?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/serverOperationResults/0d726163-9246-4795-bf5f-c556205ac4e8?api-version=2022-08-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-07-27T18:04:23.537Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/0d726163-9246-4795-bf5f-c556205ac4e8?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "0d726163-9246-4795-bf5f-c556205ac4e8",
        "status": "InProgress",
        "startTime": "2023-07-27T18:04:23.537Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "admin-sql-server-672",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sql-server-672.database.windows.net",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672",
        "name": "sql-server-672",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672/elasticPools/sql-pool-Default-7026?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "preferredEnclaveType": "Default"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/1145c05f-d9af-4ecb-8d01-5dd616aaaa8c?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/elasticPoolOperationResults/1145c05f-d9af-4ecb-8d01-5dd616aaaa8c?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "CreateLogicalElasticPool",
        "startTime": "2023-07-27T18:05:31.333Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/1145c05f-d9af-4ecb-8d01-5dd616aaaa8c?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "1145c05f-d9af-4ecb-8d01-5dd616aaaa8c",
        "status": "InProgress",
        "startTime": "2023-07-27T18:05:31.333Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672/elasticPools/sql-pool-Default-7026?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "kind": "vcore,pool",
        "properties": {
          "state": "Ready",
          "creationDate": "2023-07-27T18:05:31.457Z",
          "maxSizeBytes": 34359738368,
          "perDatabaseSettings": {
            "minCapacity": 0.0000,
            "maxCapacity": 2.0000
          },
          "zoneRedundant": false,
          "licenseType": "LicenseIncluded",
          "maintenanceConfigurationId": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "preferredEnclaveType": "Default",
          "availabilityZone": "NoPreference"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672/elasticPools/sql-pool-Default-7026",
        "name": "sql-pool-Default-7026",
        "type": "Microsoft.Sql/servers/elasticPools"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672/elasticPools/sql-pool-Default-6368?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/servers/sql-server-672/elasticpools/sql-pool-Default-6368\u0027 under resource group \u0027Sql-RG-2742\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672/elasticPools?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "vcore,pool",
            "properties": {
              "state": "Ready",
              "creationDate": "2023-07-27T18:06:19.77Z",
              "maxSizeBytes": 34359738368,
              "perDatabaseSettings": {
                "minCapacity": 0.0000,
                "maxCapacity": 2.0000
      [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672/elasticPools/sql-pool-VBS-330?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "preferredEnclaveType": "VBS"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/99fb3d8a-7874-4f72-8a01-1a116a30a32d?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/elasticPoolOperationResults/99fb3d8a-7874-4f72-8a01-1a116a30a32d?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "CreateLogicalElasticPool",
        "startTime": "2023-07-27T18:07:17.787Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "admin-sql-server-672",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sql-server-672.database.windows.net",
              "privateEndpointConnections": [],
              "minimalTlsVersion": "None",
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "uksouth",
            "tags": {},
            "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/servers/sql-server-672",
            "name": "sql-server-672",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-2742/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/ffcc5aba-c61b-49c8-b68f-6794879e5975?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "name": "ffcc5aba-c61b-49c8-b68f-6794879e5975",
        "status": "Succeeded",
        "startTime": "2023-07-27T18:08:52.29Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1263855639",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2c647056-bab2-4175-b172-493ff049eb29"
  }
}
