{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourcegroups/Sql-RG-2089?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089",
        "name": "Sql-RG-2089",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "administratorLogin": "admin-sql-server-4745",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/1da82e81-b1b6-47b5-9c39-0a00d43209df?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/serverOperationResults/1da82e81-b1b6-47b5-9c39-0a00d43209df?api-version=2023-02-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-09-20T19:10:06.243Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/1da82e81-b1b6-47b5-9c39-0a00d43209df?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "name": "1da82e81-b1b6-47b5-9c39-0a00d43209df",
        "status": "InProgress",
        "startTime": "2023-09-20T19:10:06.243Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "admin-sql-server-4745",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sql-server-4745.database.windows.net",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745",
        "name": "sql-server-4745",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745/elasticPools/sql-pool-2692?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/d232a20f-79e1-4a1b-8b68-43c452505d16?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/elasticPoolOperationResults/d232a20f-79e1-4a1b-8b68-43c452505d16?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "CreateLogicalElasticPool",
        "startTime": "2023-09-20T19:11:16.723Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/d232a20f-79e1-4a1b-8b68-43c452505d16?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "d232a20f-79e1-4a1b-8b68-43c452505d16",
        "status": "InProgress",
        "startTime": "2023-09-20T19:11:16.723Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745/elasticPools/sql-pool-2692?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "kind": "vcore,pool",
        "properties": {
          "state": "Ready",
          "creationDate": "2023-09-20T19:11:16.847Z",
          "maxSizeBytes": 34359738368,
          "perDatabaseSettings": {
            "minCapacity": 0.0000,
            "maxCapacity": 2.0000
          },
          "zoneRedundant": false,
          "licenseType": "LicenseIncluded",
          "maintenanceConfigurationId": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "availabilityZone": "NoPreference"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745/elasticPools/sql-pool-2692",
        "name": "sql-pool-2692",
        "type": "Microsoft.Sql/servers/elasticPools"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745/elasticPools/sql-pool-7681?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/servers/sql-server-4745/elasticpools/sql-pool-7681\u0027 under resource group \u0027Sql-RG-2089\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745/elasticPools?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "vcore,pool",
            "properties": {
              "state": "Ready",
              "creationDate": "2023-09-20T19:12:09.313Z",
              "maxSizeBytes": 34359738368,
              "perDatabaseSettings": {
                "minCapacity": 0.0000,
                "maxCapacity": 2.0000
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "admin-sql-server-4745",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sql-server-4745.database.windows.net",
              "privateEndpointConnections": [],
              "minimalTlsVersion": "None",
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "uksouth",
            "tags": {},
            "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4745",
            "name": "sql-server-4745",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/c2433d4d-3c65-41c1-82e5-76720064c8d2?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "c2433d4d-3c65-41c1-82e5-76720064c8d2",
        "status": "Succeeded",
        "startTime": "2023-09-20T19:13:14.653Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "322147788",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "eb951d38-18d9-46d4-9a0c-f694b148c76a"
  }
}
