{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourcegroups/Sql-RG-2089?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089",
        "name": "Sql-RG-2089",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "administratorLogin": "admin-sql-server-4634",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/22710083-701a-4119-a326-f92d64ecdd9c?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/serverOperationResults/22710083-701a-4119-a326-f92d64ecdd9c?api-version=2023-02-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-09-20T19:06:59.233Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/22710083-701a-4119-a326-f92d64ecdd9c?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "name": "22710083-701a-4119-a326-f92d64ecdd9c",
        "status": "InProgress",
        "startTime": "2023-09-20T19:06:59.233Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "admin-sql-server-4634",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sql-server-4634.database.windows.net",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634",
        "name": "sql-server-4634",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634/elasticPools/sql-pool-VBS-1323?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "preferredEnclaveType": "VBS"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/f2fed1cd-809e-41bc-85a2-16b9062ca786?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/elasticPoolOperationResults/f2fed1cd-809e-41bc-85a2-16b9062ca786?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "CreateLogicalElasticPool",
        "startTime": "2023-09-20T19:08:07.803Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/f2fed1cd-809e-41bc-85a2-16b9062ca786?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "f2fed1cd-809e-41bc-85a2-16b9062ca786",
        "status": "InProgress",
        "startTime": "2023-09-20T19:08:07.803Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634/elasticPools/sql-pool-VBS-1323?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "kind": "vcore,pool",
        "properties": {
          "state": "Ready",
          "creationDate": "2023-09-20T19:08:07.913Z",
          "maxSizeBytes": 34359738368,
          "perDatabaseSettings": {
            "minCapacity": 0.0000,
            "maxCapacity": 2.0000
          },
          "zoneRedundant": false,
          "licenseType": "LicenseIncluded",
          "maintenanceConfigurationId": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "preferredEnclaveType": "VBS",
          "availabilityZone": "NoPreference"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634/elasticPools/sql-pool-VBS-1323",
        "name": "sql-pool-VBS-1323",
        "type": "Microsoft.Sql/servers/elasticPools"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634/elasticPools/sql-pool-VBS-2347?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/servers/sql-server-4634/elasticpools/sql-pool-VBS-2347\u0027 under resource group \u0027Sql-RG-2089\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634/elasticPools?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "vcore,pool",
            "properties": {
              "state": "Ready",
              "creationDate": "2023-09-20T19:08:07.913Z",
              "maxSizeBytes": 34359738368,
              "perDatabaseSettings": {
                "minCapacity": 0.0000,
                "maxCapacity": 2.0000
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "admin-sql-server-4634",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sql-server-4634.database.windows.net",
              "privateEndpointConnections": [],
              "minimalTlsVersion": "None",
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "uksouth",
            "tags": {},
            "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/servers/sql-server-4634",
            "name": "sql-server-4634",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-2089/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/dfc0b173-10c5-4f3c-b8cf-d603b3d26498?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "dfc0b173-10c5-4f3c-b8cf-d603b3d26498",
        "status": "Succeeded",
        "startTime": "2023-09-20T19:09:47.957Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2108329796",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "eb951d38-18d9-46d4-9a0c-f694b148c76a"
  }
}
