{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourcegroups/Sql-RG-9594?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594",
        "name": "Sql-RG-9594",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "administratorLogin": "admin-sql-server-8386",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/4545bdf4-9bff-4b3e-8a10-c4e9a086f836?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/locations/uksouth/serverOperationResults/4545bdf4-9bff-4b3e-8a10-c4e9a086f836?api-version=2023-02-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-09-21T21:33:45.093Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/4545bdf4-9bff-4b3e-8a10-c4e9a086f836?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "name": "4545bdf4-9bff-4b3e-8a10-c4e9a086f836",
        "status": "InProgress",
        "startTime": "2023-09-21T21:33:45.093Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "admin-sql-server-8386",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sql-server-8386.database.windows.net",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "None",
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386",
        "name": "sql-server-8386",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386/elasticPools/sql-pool-VBS-7446?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "uksouth",
        "properties": {
          "preferredEnclaveType": "VBS"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/5d855371-51f0-4b67-8fa1-3c4b9a11c07e?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/locations/uksouth/elasticPoolOperationResults/5d855371-51f0-4b67-8fa1-3c4b9a11c07e?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "CreateLogicalElasticPool",
        "startTime": "2023-09-21T21:34:55.043Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/locations/uksouth/elasticPoolAzureAsyncOperation/5d855371-51f0-4b67-8fa1-3c4b9a11c07e?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "5d855371-51f0-4b67-8fa1-3c4b9a11c07e",
        "status": "InProgress",
        "startTime": "2023-09-21T21:34:55.043Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386/elasticPools/sql-pool-VBS-7446?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "kind": "vcore,pool",
        "properties": {
          "state": "Ready",
          "creationDate": "2023-09-21T21:34:55.76Z",
          "maxSizeBytes": 34359738368,
          "perDatabaseSettings": {
            "minCapacity": 0.0000,
            "maxCapacity": 2.0000
          },
          "zoneRedundant": false,
          "licenseType": "LicenseIncluded",
          "maintenanceConfigurationId": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "preferredEnclaveType": "VBS",
          "availabilityZone": "NoPreference"
        },
        "location": "uksouth",
        "tags": {},
        "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386/elasticPools/sql-pool-VBS-7446",
        "name": "sql-pool-VBS-7446",
        "type": "Microsoft.Sql/servers/elasticPools"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386/elasticPools/sql-pool-VBS-1516?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/servers/sql-server-8386/elasticpools/sql-pool-VBS-1516\u0027 under resource group \u0027Sql-RG-9594\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386/elasticPools?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "vcore,pool",
            "properties": {
              "state": "Ready",
              "creationDate": "2023-09-21T21:35:50.67Z",
              "maxSizeBytes": 34359738368,
              "perDatabaseSettings": {
                "minCapacity": 0.0000,
                "maxCapacity": 2.0000
      [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "admin-sql-server-8386",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sql-server-8386.database.windows.net",
              "privateEndpointConnections": [],
              "minimalTlsVersion": "None",
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "uksouth",
            "tags": {},
            "id": "/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/servers/sql-server-8386",
            "name": "sql-server-8386",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eb951d38-18d9-46d4-9a0c-f694b148c76a/resourceGroups/Sql-RG-9594/providers/Microsoft.Sql/locations/uksouth/serverAzureAsyncOperation/8d503e03-f4c0-4b96-8885-b93fc8b67f11?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "8d503e03-f4c0-4b96-8885-b93fc8b67f11",
        "status": "Succeeded",
        "startTime": "2023-09-21T21:36:55.997Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1876525937",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "eb951d38-18d9-46d4-9a0c-f694b148c76a"
  }
}
