{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c8587bd-fce5-2d7f-9e9d-bf7c8ba20fdb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F84E03443D\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c8587bd-fce5-2d7f-9e9d-bf7c8ba20fdb/test-blob-cc3caf19-1153-2f25-58f3-46de439bb69f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F84E0A7FFD\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:19.9016957Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c8587bd-fce5-2d7f-9e9d-bf7c8ba20fdb/test-blob-cc3caf19-1153-2f25-58f3-46de439bb69f?comp=block&blockid=JmAYJwdqfAU8rKYleXE%2BWii62CnV6%2Bsv%2BuElQo6p9hPqah%2BdordSb3IrnZhK5vhy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-version": "2026-06-06"
   [...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c8587bd-fce5-2d7f-9e9d-bf7c8ba20fdb/test-blob-cc3caf19-1153-2f25-58f3-46de439bb69f?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F84E0A7FFD\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>JmAYJwdqfAU8rKYleXE+Wii62CnV6+sv+uElQo6p9hPqah+dordSb3IrnZhK5vhy</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F84E180F00\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-content-crc64": "zB/sBwLVs3M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:19.9915536Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c8587bd-fce5-2d7f-9e9d-bf7c8ba20fdb/test-blob-cc3caf19-1153-2f25-58f3-46de439bb69f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F84E180F00\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:19.9915536Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c8587bd-fce5-2d7f-9e9d-bf7c8ba20fdb/test-blob-cc3caf19-1153-2f25-58f3-46de439bb69f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB5F84E180F00\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F84E180F00\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:19.9915536Z"
      },
      "ResponseBody": "nq1wtvFDLWtYPSHOegvVFZhKfoShVaEXY98aoVStfVwvJdWqGE6DutmWYfy61WNvRejpgD9iu0kMWFMSKIsWq7/En1U1KvxKxsOrCvOkXY57qlxsw/wdzWqMncD6cZJOf7U89TUOOhrrnrp8trBWZ/vFln0vqufCp9HqqYw8T1Q="
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c8587bd-fce5-2d7f-9e9d-bf7c8ba20fdb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1252358382",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
