{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F84F5DCC20\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26/test-blob-0dae9740-9946-3054-559a-141edac6f69c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F84F64B6F0\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:22.1706480Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26/test-blob-0dae9740-9946-3054-559a-141edac6f69c?comp=block&blockid=onvXm4JF11aRcpGEcvk%2FG0xciLicsLA9T%2FDX2K7ATt8pbzbsUWfHYD61uwalkhH1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:21 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26/test-blob-0dae9740-9946-3054-559a-141edac6f69c?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F84F64B6F0\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>onvXm4JF11aRcpGEcvk/G0xciLicsLA9T/DX2K7ATt8pbzbsUWfHYD61uwalkhH1</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F84F7245F2\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-content-crc64": "k9OmPx4UB10=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:22.2605058Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26/test-blob-0dae9740-9946-3054-559a-141edac6f69c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F84F7245F2\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:22.2605058Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26/test-blob-0dae9740-9946-3054-559a-141edac6f69c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB5F84F7245F2\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:21 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F84F7245F2\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:22.2605058Z"
      },
      "ResponseBody": "cKLeYpanw+yW/sLlgbvU/FD3XAKiRe2Un9uS2yhk2C38wu1cQlk4/7M63zriQPRCnAUzFnca/iq1ScK6FejEMiaU6L/Od7r3vlxPZ2aysV7mTz4iMMK24cPCpviWfenKdqwUTVg1dCRLPFcay5bEAphj1MapoQJk3gb7DNHCYEFyhPC5nmQGsdoZ1vNqnBYt/aRgMqkiINWqsG9ROmhTidsVp0alC2MzXSLsj8oO+UHwzQ4sYS6YT2MbDu70tXdyxk0XVPTPh/JALNWGNpAKm7YtYGxZJyetfVfjifx1Pqeresl996RNIEYc6zVYEhnSEXM3x1QKGJ4matec7P31y+0u2rzHjaQR4EAmPTvxVGo+EXiJPXdSoGIqVozNsDRIJh9IKjdcC4POJuYU5NpjNBVsXtqEa4512zlanDYXRDAL3RYbqSoz4gb0uheRPbyHxyJ3YFJZw7uR0k7+Am5NtuG2CAfDR4rrOXvUj7B25J190tUToOPesRlbitbbNN+XpwM12zS0w3+YiyfWhTMKGu6wgC+ZORb+2FftaL2zDwScPOisQQlpyQ5VexW8ByzlUG/oKrSv/m7tNwLdxlvC5HsiOUhLXdnlR7cgRL0BQdAqBxdOy+VQ7D55vwkGiwKzk5aZmc3jmvOVAuL9j7qw7PYys75DcxmW0k0K0Z7P37w="
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26/test-blob-0dae9740-9946-3054-559a-141edac6f69c?comp=block&blockid=hKooes5SMzN1yeVSCSzSwNATneT0Yk%2BSTCEnQ7tPZrDz%2Fa6dNudpbFhv3vq9sg79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:21 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26/test-blob-0dae9740-9946-3054-559a-141edac6f69c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB5F84F7245F2\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a695a190-b01e-00ac-5fe1-e77c0b000000\n",
        "Time:2026-05-19T22:45:22.4944285Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c3e57f16-e4fd-d219-1c0c-c50479c9bc26?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1627238116",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
