{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECA1C609E4\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:22:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312/test-blob-12e9bcf3-a9c8-8fda-8b9a-1774a1880b14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD5CECA1E761E6\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:22:35 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312/test-blob-12e9bcf3-a9c8-8fda-8b9a-1774a1880b14?comp=block&blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-version": "2025-05-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312/test-blob-12e9bcf3-a9c8-8fda-8b9a-1774a1880b14?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DD5CECA1E761E6\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CECA1F66C2E\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:22:35 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312/test-blob-12e9bcf3-a9c8-8fda-8b9a-1774a1880b14",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECA1F66C2E\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:22:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:22:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312/test-blob-12e9bcf3-a9c8-8fda-8b9a-1774a1880b14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECA1F66C2E\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CECA1F66C2E\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:22:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:22:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "6tzQc0dip4NtYiSSfOanUz7WErU7Mh2yE9PKXGTdjtQgKHDUbVsg2uMPA5KTVlYMGasIUabY27i/HV90l0oej9RQcVN10+bjtjfRLC6LH718vkO51DwuSE24FU/7rEOY8HS9QuQDlkbEJZtuBq+JNP6i99kHZbqXISkGvb6X5wn0OTu6zd3YeCf89a6gv0GdL+BRWLRpkYu5JSC7/dmHLT6Ses10zmYgyn+yCm8L9mHnaY3dRo5UiqevAae8HXtNdMhwDkVzKGB6MI41t4YbrS++05NLquevPe8mxc2+ZKwDZJWnm+gcc0AtYxUAHtMgk1N4/UrnAsrhwdFVTWOSu8vhMlLwdBJGol9THkfRrx4cBTF6RmZiHGLLxtoXxibdmqdJHuyALx9AMVvqlOOCDxGyOUgxGHRlfhXwJa04L9s5doOfh5AxnNURORQLeIh+SLbIZI3dq4Iy5J/WjwpyBwF/sR5f4oiAgJxzIN5gWgaNcdz2cMtOW8oBbaPxWwzKnzITi8ZpHmUuR+TwaYuj0oqZSB0ue5c2MFVTXnXkjyWQqICsTc4/I1N2xyjnXvE/XZoZWBLunCOa3FtxFsDwSri+YMEK94W7WSTKt7RvT9JjEwHbyzcToQxcEXBzzg2Thn1vKP4wNGUVXf7tJOVvK4yIDQK/FX6Bq7+0ruYUSIo="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312/test-blob-12e9bcf3-a9c8-8fda-8b9a-1774a1880b14?comp=block&blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-version": "2025-05-05"
      }[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312/test-blob-12e9bcf3-a9c8-8fda-8b9a-1774a1880b14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CECA1F66C2E\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7e8797e1-d01e-0049-04d5-8ee25f000000\n",
        "Time:2025-03-06T20:22:35.8338386Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b11a92e7-bc41-5942-920d-3e4f40cea312?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "463720968",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
