{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-1b55f8f3-a6df-fe84-a962-f59d5ef1a810?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C6A4F3EFD\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-1b55f8f3-a6df-fe84-a962-f59d5ef1a810/test-blob-5b7c7023-f9e8-279f-8ad5-7989b8716992",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:03:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C6A57D703\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:32 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:32.1158403Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-1b55f8f3-a6df-fe84-a962-f59d5ef1a810/test-blob-5b7c7023-f9e8-279f-8ad5-7989b8716992?comp=block&blockid=G70ax9QpC7QwLDP1OMs9BgOy6LxzeWJYYy%2ByspYIWbxW3RQNOFbUL6DBMz6myhVT",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:03:31 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-1b55f8f3-a6df-fe84-a962-f59d5ef1a810/test-blob-5b7c7023-f9e8-279f-8ad5-7989b8716992?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C6A57D703\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>G70ax9QpC7QwLDP1OMs9BgOy6LxzeWJYYy+yspYIWbxW3RQNOFbUL6DBMz6myhVT</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C6A6601F4\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:32 GMT",
        "x-ms-content-crc64": "n3GmaG2WpDY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:32.2096900Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-1b55f8f3-a6df-fe84-a962-f59d5ef1a810/test-blob-5b7c7023-f9e8-279f-8ad5-7989b8716992",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C6A6601F4\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:03:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:32.2096900Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-1b55f8f3-a6df-fe84-a962-f59d5ef1a810/test-blob-5b7c7023-f9e8-279f-8ad5-7989b8716992",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB77C6A6601F4\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:31 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C6A6601F4\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:03:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:32.2096900Z"
      },
      "ResponseBody": "68E+7A9w017mr4mNxLnNLfZB8SghVMxV7toaeSJ5O36QzeBuPX+lO2JxbZVrVJ8qhUShKiKY8pb16f00Vlk7bHQK/fbZX/B3m7XFr+c36po77/Pd2BFc99tJeFSCceUJNQAhYFaoUSZUKo5t00Ovvv5i+GZmXZRirgYbj+ac9Co="
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-1b55f8f3-a6df-fe84-a962-f59d5ef1a810?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "323274654",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
