{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-eb35895e-76bf-b08d-70a5-12bb5e8d59c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F84963CC94\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-eb35895e-76bf-b08d-70a5-12bb5e8d59c8/test-blob-eee764c8-2ed9-3188-3c52-53acbb8342d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F8496AA873\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:12 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:12.1432691Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-eb35895e-76bf-b08d-70a5-12bb5e8d59c8/test-blob-eee764c8-2ed9-3188-3c52-53acbb8342d4?comp=block&blockid=4uZfr6236kyOEmfig%2FoMwWzxWj0Um82S6%2FXWjilkBRIF6A8249DFZSEBTK6NIFiC",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:11 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-eb35895e-76bf-b08d-70a5-12bb5e8d59c8/test-blob-eee764c8-2ed9-3188-3c52-53acbb8342d4?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F8496AA873\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>4uZfr6236kyOEmfig/oMwWzxWj0Um82S6/XWjilkBRIF6A8249DFZSEBTK6NIFiC</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F84978FA76\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:12 GMT",
        "x-ms-content-crc64": "auiALZfilgg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:12.2381190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-eb35895e-76bf-b08d-70a5-12bb5e8d59c8/test-blob-eee764c8-2ed9-3188-3c52-53acbb8342d4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F84978FA76\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:12.2381190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-eb35895e-76bf-b08d-70a5-12bb5e8d59c8/test-blob-eee764c8-2ed9-3188-3c52-53acbb8342d4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB5F84978FA76\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F84978FA76\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-eb35895e-76bf-b08d-70a5-12bb5e8d59c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1690047835",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
