{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-694ec277-93ee-1144-66fa-8a2393b6dcb4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C5FDE682A\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-694ec277-93ee-1144-66fa-8a2393b6dcb4/test-blob-fd65b909-2266-2278-3fbd-e42a83141918",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C5FE64BB3\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:14.5945011Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-694ec277-93ee-1144-66fa-8a2393b6dcb4/test-blob-fd65b909-2266-2278-3fbd-e42a83141918?comp=block&blockid=T0IRnIs%2FRGj3Oc%2BVndobcFYEQo0THNlxIdO6QhtE9N46UtzUbpCNiBOXwJsAr92%2B",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-version": "2026-06-06"
     [...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-694ec277-93ee-1144-66fa-8a2393b6dcb4/test-blob-fd65b909-2266-2278-3fbd-e42a83141918?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C5FE64BB3\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>T0IRnIs/RGj3Oc+VndobcFYEQo0THNlxIdO6QhtE9N46UtzUbpCNiBOXwJsAr92+</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C5FF512B2\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-content-crc64": "Q0A5R2kd2Rk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:14.6923458Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-694ec277-93ee-1144-66fa-8a2393b6dcb4/test-blob-fd65b909-2266-2278-3fbd-e42a83141918",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C5FF512B2\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:14.6923458Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-694ec277-93ee-1144-66fa-8a2393b6dcb4/test-blob-fd65b909-2266-2278-3fbd-e42a83141918",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB77C5FF512B2\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C5FF512B2\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-694ec277-93ee-1144-66fa-8a2393b6dcb4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:14 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "978873239",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
