{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fdabf4a2-18a6-a927-a46e-346b75b75718?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F8500295EB\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fdabf4a2-18a6-a927-a46e-346b75b75718/test-blob-e8baeb7b-2640-7b4c-6d3e-df2164a263ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F85009A36D\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:23.2514925Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fdabf4a2-18a6-a927-a46e-346b75b75718/test-blob-e8baeb7b-2640-7b4c-6d3e-df2164a263ca?comp=block&blockid=VlWOkrpkaj2%2FN3BGCl4XJU82wJEaBvVGjyVzMoXPgPID0UtxP%2FH5WUf%2BE%2B2UKy1A",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-version": "2026-06-06"
   [...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fdabf4a2-18a6-a927-a46e-346b75b75718/test-blob-e8baeb7b-2640-7b4c-6d3e-df2164a263ca?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F85009A36D\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>VlWOkrpkaj2/N3BGCl4XJU82wJEaBvVGjyVzMoXPgPID0UtxP/H5WUf+E+2UKy1A</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F85017CE6E\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-content-crc64": "SxBQu4TtPEI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:23.3453438Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fdabf4a2-18a6-a927-a46e-346b75b75718/test-blob-e8baeb7b-2640-7b4c-6d3e-df2164a263ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F85017CE6E\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:23.3453438Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fdabf4a2-18a6-a927-a46e-346b75b75718/test-blob-e8baeb7b-2640-7b4c-6d3e-df2164a263ca",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB5F85017CE6E\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F85017CE6E\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:23.3453438Z"
      },
      "ResponseBody": "wHM7gaw7HUv1YyHBj9O3f6Q0HAACy+C5Lvpii3+xJHwEVJkFkSO7ub6tIqLe9NFHQn4zlRjwsvSTglOx2JHMQz+lvTs6su2AeGNBVKk92jopG0kAfo9kE6KkcQ/QCuAt4N5jOTaWDY+Rshy1rl1LVqcZiL1IzMSvQaqYlUDesG4="
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fdabf4a2-18a6-a927-a46e-346b75b75718?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2001949737",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
