{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a99d145b-f352-3d22-2ac8-140083af2abc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F851CCC6BA\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a99d145b-f352-3d22-2ac8-140083af2abc/test-blob-7a43c619-0f39-8372-5149-d6d8eef9befe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F851D3DC54\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:26.2544980Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a99d145b-f352-3d22-2ac8-140083af2abc/test-blob-7a43c619-0f39-8372-5149-d6d8eef9befe?comp=block&blockid=3lozgTeQ%2F3fRnH0K9MmIVABJ2zTE9MaNChEKTBJwRUpLpIUN7xgLAZm99pXXCE%2B6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:25 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a99d145b-f352-3d22-2ac8-140083af2abc/test-blob-7a43c619-0f39-8372-5149-d6d8eef9befe?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F851D3DC54\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>3lozgTeQ/3fRnH0K9MmIVABJ2zTE9MaNChEKTBJwRUpLpIUN7xgLAZm99pXXCE+6</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F851E18022\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-content-crc64": "BtBARf5lIWY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:26.3448882Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a99d145b-f352-3d22-2ac8-140083af2abc/test-blob-7a43c619-0f39-8372-5149-d6d8eef9befe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F851E18022\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:26.3448882Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a99d145b-f352-3d22-2ac8-140083af2abc/test-blob-7a43c619-0f39-8372-5149-d6d8eef9befe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB5F851E18022\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F851E18022\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:26.3448882Z"
      },
      "ResponseBody": "ybj9FMVXX4XW7QfVENBHQyY/GN4ESjssfo8iM00I1HA0CIk96I0PkUUlCZLrQjnvTEQPmxhq1n580ZY1NCw3zRiXoAdHCluZMIeY3kCpQTxWMuYJ+TlXyjEKwRf22VwZ7Tx5VKExqELpdWqQ0fg905BZ3wFFLtPfP9bWPEhEolY="
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a99d145b-f352-3d22-2ac8-140083af2abc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:26 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "447048241",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
