{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C67B545A1\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e/test-blob-5176281c-4d96-e155-d6a4-c499403f301c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C67BCFE07\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:27.7455879Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e/test-blob-5176281c-4d96-e155-d6a4-c499403f301c?comp=block&blockid=x4RLb4R%2FU9jwXYGRm4vv4JPXQqOtldIZc1boGFOn1GZqEPrvY2GBC85kRfL9k8q3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e/test-blob-5176281c-4d96-e155-d6a4-c499403f301c?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C67BCFE07\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>x4RLb4R/U9jwXYGRm4vv4JPXQqOtldIZc1boGFOn1GZqEPrvY2GBC85kRfL9k8q3</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C67CDC00B\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-content-crc64": "nzgbSJERLr4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:27.8564123Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e/test-blob-5176281c-4d96-e155-d6a4-c499403f301c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C67CDC00B\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:27.8564123Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e/test-blob-5176281c-4d96-e155-d6a4-c499403f301c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB77C67CDC00B\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C67CDC00B\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:27.8564123Z"
      },
      "ResponseBody": "ql0jSxwY5D3Oq4rrELH2KS5Z9UQfKcYJMnBmayO+wod1maxb2PfkGXFBkfsc0s0FiI9o3u0VBICWGRissXkZD+kDdnYFmlE3dNzS3pjK7WCiYeKUVuOZX5UrxL7eOGf4J4ESGVxXAO09MWoRQyXoyyy4ClCWhbkFaRbg2dWSWDt12bcXuNMDSmH1ViR4iBxwQ/mRJi0XYqHHDK9FdiYYqtgum2lu0BJYtL/uoS+VjeD6cJXcADEOXXcVUKwkvtQ63atLSeyyAXPmOXJtKMFxMn/PSgaQO6qnID7yWH9mNPbrtMSESUP0SG4i9se/oDW2pB4tVHPNqaEBpCmuwKnzfwR8gXT97Og72wKXbkXi6IAIPLRhOd+CHgoig6QaRYfFL3bCQh7AuLc18XlwNTtbHryopYT1kUYl+WNq2mhDIZV60j7PH6VhSIP8K0hlEujOxmXocZ8D0J0vnUm7Vt5O8c/j9WP8jP4XR10B+GX+v+d7mxMDW7D2dwKhn4JbpfGkrTp4gRyE0Tpm0ClBAtc3Md5iQLvKSpUf7X5gW+18u6JsXEorhT3K9snZnYuHtHUqaW2k+WU22WKkWZSdI3ZN6hWH1aWMDKygl0nx8a0KlzkJNvJ/18E8NYLohyupLNJTjLJ1/9/PnlzBA2IbRei1mcFblO2DzRJUSp8ipISA92o="
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e/test-blob-5176281c-4d96-e155-d6a4-c499403f301c?comp=block&blockid=lnM8zWiZWpTcHEAdrz3kLVPV6wUgu8S%2Bi25q9pudh6QKCBvOQn2%2B9zX6WScVIsbf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e/test-blob-5176281c-4d96-e155-d6a4-c499403f301c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB77C67CDC00B\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:944845c3-001e-0086-3a65-e9a31b000000\n",
        "Time:2026-05-21T21:03:28.0843334Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f6a62419-ceba-ae09-2470-5a27999e896e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "273846033",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
