{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4c512fb7-4eb3-1b88-244c-b60a4c4858b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C6245C0D0\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4c512fb7-4eb3-1b88-244c-b60a4c4858b0/test-blob-344144a7-2a94-df4f-1c8f-440fa76d1a47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C624DE4FD\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:18.6288893Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4c512fb7-4eb3-1b88-244c-b60a4c4858b0/test-blob-344144a7-2a94-df4f-1c8f-440fa76d1a47?comp=block&blockid=XBCyKO2rkRNFLGyl7FV8vV3eMuUu5eU%2F3mrS1GbuHS3SBcat9RypUZ%2BHoyIKcDqI",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4c512fb7-4eb3-1b88-244c-b60a4c4858b0/test-blob-344144a7-2a94-df4f-1c8f-440fa76d1a47?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C624DE4FD\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>XBCyKO2rkRNFLGyl7FV8vV3eMuUu5eU/3mrS1GbuHS3SBcat9RypUZ+HoyIKcDqI</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C625C36FF\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-content-crc64": "7giccxAMdUE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:18.7247375Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4c512fb7-4eb3-1b88-244c-b60a4c4858b0/test-blob-344144a7-2a94-df4f-1c8f-440fa76d1a47",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C625C36FF\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:18.7247375Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4c512fb7-4eb3-1b88-244c-b60a4c4858b0/test-blob-344144a7-2a94-df4f-1c8f-440fa76d1a47",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB77C625C36FF\"",
        "x-ms-date": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C625C36FF\"",
        "Last-Modified": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:03:18.7247375Z"
      },
      "ResponseBody": "mhV83XOsEk2NDRQyTNona0RRZM5+nDKxZhRVdo1ulzIT/xPeOyvy+mx8LnHQnhjHrXDuW6CehP3jy3ZeVpvAH3XiHk3GSC8ZXmphAW7A4Mf8jskdfzySdXoV+3C0k6PQvA787oDKAGRA1fw1PIOPIuqvYcjSoqA4T6nSsE2/ZMs="
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4c512fb7-4eb3-1b88-244c-b60a4c4858b0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:03:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1001696098",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
