{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15110386": "20230217",
          "NRMS16829354": "20230724",
          "EnableAzSecPackIdentityPolicy": "true"
        },
        "subscriptionId": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Hybrid Compute RP Runners",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/PayGo_cmdlet/providers/Microsoft.HybridCompute/machines/WIN-IAH3TLSP7A8/licenseProfiles/default?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/PayGo_cmdlet/providers/Microsoft.HybridCompute/machines/WIN-IAH3TLSP7A8/licenseProfiles/default",
        "name": "default",
        "location": "eastus",
        "type": "Microsoft.HybridCompute/machines/licenseProfiles",
        "properties": {
          "provisioningState": "Succeeded",
          "softwareAssurance": {
            "softwareAssuranceCustomer": false
          },
          "esuProfile": {
            "serverType": "Datacenter",
            "esuEligibility": "Ineligible",
            "esuKeyState": "Inactive",
            "esuKeys": []
          },
          "productProfile": {
            "productType": "WindowsServer",
            "productFeatures": [
              {
                "name": "WindowsServerAzureArcMgmt",
                "subscriptionStatus": "Enabled",
                "enrollmentDate": "2024-11-08T01:58:37.6099656Z",
                "billingStartDate": "2024-11-08T01:58:37.6096833Z"
              },
              {
                "name": "Hotpatch",
                "subscriptionStatus": "Enabled",
                "enrollmentDate": "2024-11-08T01:58:37.6095044Z",
                "billingStartDate": "2025-02-01T00:00:00"
              }
            ],
            "subscriptionStatus": "Enabled",
            "enrollmentDate": "2024-11-08T01:53:34.9899742Z",
            "billingStartDate": "2024-11-15T01:53:34.989552Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1123440066",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae"
  }
}
