{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15110386": "20230217",
          "NRMS16829354": "20230724",
          "EnableAzSecPackIdentityPolicy": "true"
        },
        "subscriptionId": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Hybrid Compute RP Runners",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/licenses/myESULicense?api-version=2024-07-31-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "licenseType": "ESU",
          "licenseDetails": {
            "state": "Deactivated",
            "target": "Windows Server 2012",
            "edition": "Datacenter",
            "type": "pCore",
            "processors": 16
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/licenses/myESULicense",
        "name": "myESULicense",
        "location": "eastus",
        "type": "Microsoft.HybridCompute/licenses",
        "properties": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "licenseType": "ESU",
          "licenseDetails": {
            "state": "Deactivated",
            "target": "Windows Server 2012",
            "edition": "Datacenter",
            "type": "pCore",
            "processors": 16,
            "assignedLicenses": 8,
            "immutableId": "eb387dd0-daf0-41fe-ad06-44612bb430cb"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "411037295",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae"
  }
}
