{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1541554019?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5951c4de-5212-46a9-8979-21a395053a58",
        "traceresponse": "00-6f944cc7a4440a4c901930a55aa5430e-a05831fce516c4c5-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job1541554019. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1541554019?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/output-job1541554019.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "13"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1541554019?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/output-job1541554019.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a5a52bf0-f284-41c3-a62d-62b0156b5a8c",
        "traceresponse": "00-73781fa6bb696b0ddcd08de6f9d796e7-774f433f0326402e-01"
      },
      "ResponseBody": {
        "id": "job1541554019",
        "inputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/output-job1541554019.ndjson",
        "createdDateTime": "2025-05-02T19:09:09.284624Z",
        "lastActionDateTime": "2025-05-02T19:09:09.2846242Z",
        "purgeDateTime": "2025-06-01T19:09:09.2846244Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1541554019?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/output-job1541554019.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d1b8e8a2-ec08-409d-8467-39bb1c068478",
        "traceresponse": "00-e1fd98df870590ee48aad216957d003e-37c76f4cb9753699-01"
      },
      "ResponseBody": "\"{\\\"error\\\":{\\\"code\\\":\\\"TooManyRequests\\\",\\\"message\\\":\\\"Cannot start another job while one is in progress. Please wait for it to complete before starting another one.\\\"}}\""
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
    "RandomSeed": "1570636078",
    "STORAGE_CONTAINER_URI": "https://azsdknew13.blob.core.windows.net/azsdknew13"
  }
}
