{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1528775191?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b9d88b05-890d-4ff1-9479-49864319a767",
        "traceresponse": "00-08fe8b02b9d7d8a29e2c139f570cc3fb-83e216e89cc5204d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job1528775191. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1528775191?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/output-job1528775191.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f6bde035-1143-4240-bf4e-a27ab3214ffc",
        "traceresponse": "00-b436274d86de7094126f462747cb1ba3-41c5764cb01b468c-01"
      },
      "ResponseBody": {
        "id": "job1528775191",
        "inputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/output-job1528775191.ndjson",
        "createdDateTime": "2025-05-02T18:53:36.8358673Z",
        "lastActionDateTime": "2025-05-02T18:53:36.8358676Z",
        "purgeDateTime": "2025-06-01T18:53:36.8358682Z",
        "status": "notstarted"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1528775191?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/output-job1528775191.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "14"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1528775191?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew13.blob.core.windows.net/azsdknew13/output-job1528775191.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a881da12-a624-4114-9ac9-cff366c400ef",
        "traceresponse": "00-2a5619c19bc6a3384d90879c9f1fe3d8-6fa5c74466d82630-01"
      },
      "ResponseBody": "\"{\\\"error\\\":{\\\"code\\\":\\\"TooManyRequests\\\",\\\"message\\\":\\\"Cannot start another job while one is in progress. Please wait for it to complete before starting another one.\\\"}}\""
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://azsdknew13.blob.core.windows.net/azsdknew13/importJobInputBlobSdkTest.ndjson",
    "RandomSeed": "1356988012",
    "STORAGE_CONTAINER_URI": "https://azsdknew13.blob.core.windows.net/azsdknew13"
  }
}
