{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11861327265?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "80121743-a224-4610-b3ea-7f10b334152a",
        "traceresponse": "00-374a390d5068e2a1915456805399ead2-88f108f526ae014e-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job11861327265. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11861327265?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11861327265.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "12"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11861327265?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11861327265.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "190ec87f-db62-4d29-9f8c-282bd4f4a6cd",
        "traceresponse": "00-fb2631c5aefcad0c587d459d9baba3ee-2d39a5e9b7adf23f-01"
      },
      "ResponseBody": {
        "id": "job11861327265",
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11861327265.ndjson",
        "createdDateTime": "2023-08-02T18:02:30.1359364Z",
        "lastActionDateTime": "2023-08-02T18:02:30.1359365Z",
        "purgeDateTime": "2023-09-01T18:02:30.1359365Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11861327265?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11861327265.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "86dc0170-334e-462b-8da7-587d0a52233f",
        "traceresponse": "00-1045b35b5286e8292d112f2d964b9b2a-1ec7053af1a8488e-01"
      },
      "ResponseBody": "\u0022{\\\u0022error\\\u0022:{\\\u0022code\\\u0022:\\\u0022TooManyRequests\\\u0022,\\\u0022message\\\u0022:\\\u0022Cannot start another job while one is in progress. Please wait for it to complete before starting another one.\\\u0022}}\u0022"
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
    "RandomSeed": "1614373642",
    "STORAGE_CONTAINER_URI": "https://importjobsa.blob.core.windows.net/importjob"
  }
}
