{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1560992916?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b598f3ec-fa92-4dcc-808d-e623385247c2",
        "traceresponse": "00-ed4ecd4b6b63b691406c9259649128db-fcd4fdddacaf048c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job1560992916. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1560992916?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/output-job1560992916.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "12"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1560992916?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/output-job1560992916.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "018f9245-5f4f-4479-97d9-2c61487a3c21",
        "traceresponse": "00-d345456ecb1f51a40bec3be7f96da272-4390d347936a744e-01"
      },
      "ResponseBody": {
        "id": "job1560992916",
        "inputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/output-job1560992916.ndjson",
        "createdDateTime": "2025-05-02T21:05:33.8227457Z",
        "lastActionDateTime": "2025-05-02T21:05:33.822746Z",
        "purgeDateTime": "2025-06-01T21:05:33.8227464Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "12"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1860ce5d-14b0-43a4-a8d0-4e991b41167c",
        "traceresponse": "00-4aa2e6c16df41e63205249bd85b05892-4fc2c1e6eb45311e-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "job11593731533",
            "inputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/importJobInputBlobSdkTest.ndjson",
            "outputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/output-job11593731533.ndjson",
            "createdDateTime": "2025-05-02T21:00:55.149781Z",
            "lastActionDateTime": "2025-05-02T21:02:39.0670569Z",
            "finishedDateTime": "2025-05-02T21:02:39.0670569Z",
            "purgeDateTime": "2025-06-01T21:00:55.1497815Z",
            "status": "succeeded"
          },
          {
            "id": "job1525507424",
            "inputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/importJobInputBlobSdkTest.ndjson",
            "outputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/output-job1525507424.ndjson",
            "createdDateTime": "2025-05-02T21:04:02.8691869Z",
            "lastActionDateTime": "2025-05-02T21:05:22.239389Z",
            "finishedDateTime": "2025-05-02T21:05:22.239389Z",
            "purgeDateTime": "2025-06-01T21:04:02.8691873Z",
            "status": "succeeded"
          },
          {
            "id": "job1560992916",
            "inputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/importJobInputBlobSdkTest.ndjson",
            "outputBlobUri": "https://azsdknew14.blob.core.windows.net/azsdknew14/output-job1560992916.ndjson",
            "createdDateTime": "2025-05-02T21:05:33.8227457Z",
            "lastActionDateTime": "2025-05-02T21:05:34.4317257Z",
            "purgeDateTime": "2025-06-01T21:05:33.8227464Z",
            "status": "running"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1560992916/cancel?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "11"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1560992916?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e5a20a2a-93de-46f0-8ba4-5e0c5d62d4f0",
        "traceresponse": "00-1d9df0b9e8db165cb1b668dc210a0de5-7bce003220ea3d69-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job1560992916. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://azsdknew14.blob.core.windows.net/azsdknew14/importJobInputBlobSdkTest.ndjson",
    "RandomSeed": "1723616789",
    "STORAGE_CONTAINER_URI": "https://azsdknew14.blob.core.windows.net/azsdknew14"
  }
}
