{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/doesnotexistid?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "efeff42d-10f1-4611-a3c6-91b4757be035",
        "traceresponse": "00-6ddb1152218e15886d23dde19c5a26b7-f4707b4e9c43798f-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id doesnotexistid. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1330829002"
  }
}
