{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/connection_name?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.037"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/connection_name",
        "name": "connection_name",
        "type": "Microsoft.MachineLearningServices/workspaces/00000",
        "properties": {
          "authType": "ApiKey",
          "credentials": null,
          "group": "AzureAI",
          "category": "AzureOpenAI",
          "expiryTime": null,
          "target": "https://igniteevaluati8620559527.openai.azure.com/",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": true,
          "isSharedToAll": true,
          "sharedUserList": [],
          "peRequirement": "NotRequired",
          "peStatus": "NotApplicable",
          "error": null,
          "metadata": {
            "ApiType": "Azure",
            "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/igniteevaluati8620559527",
            "ApiVersion": "2023-07-01-preview",
            "DeploymentApiVersion": "2023-10-01-preview"
          }
        },
        "systemData": {
          "createdAt": "2024-10-22T03:20:50.2248813Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-10-22T03:20:50.2248813Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/evaluations/runs:run?apiVersion=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "Remote Evaluation E2E Test",
        "description": "Evaluation of dataset using F1Score and Relevance evaluators",
        "data": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/00000/versions/1"
        },
        "evaluators": {
          "f1_score": {
            "id": "azureml://registries/azureml-staging/models/F1Score-Evaluator/versions/3"
          },
          "relevance": {
            "id": "azureml://registries/azureml-staging/models/Relevance-Evaluator/versions/3",
            "initParams": {
              "model_config": {
                "azure_deployment": "deployment_name",
                "azure_endpoint": "https://igniteevaluati8620559527.openai.azure.com",
                "type": "azure_openai",
                "api_version": "2024-09-01-preview",
                "api_key": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/connection_name/credentials/key"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7f4fda8f-4ca0-4494-a22b-07071dfd533e",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "3.158"
      },
      "ResponseBody": {
        "id": "fc7ae7ca-9198-4dc1-bf35-7cf95502e985",
        "data": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/00000/versions/1",
          "type": "Dataset"
        },
        "description": "Evaluation of dataset using F1Score and Relevance evaluators",
        "displayName": "Remote Evaluation E2E Test",
        "systemData": {
          "createdBy": "Sanitized",
          "modifiedBy": null
        },
        "status": "NotStarted",
        "tags": {},
        "properties": {
          "runType": "eval_run",
          "_azureml.evaluation_run": "evaluation.service",
          "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]",
          "AiStudioEvaluationUri": "https://ai.azure.com/build/evaluation/fc7ae7ca-9198-4dc1-bf35-7cf95502e985?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"
        },
        "evaluators": {
          "f1_score": {
            "id": "azureml://registries/azureml-staging/models/F1Score-Evaluator/versions/3",
            "initParams": {},
            "dataMapping": {}
          },
          "relevance": {
            "id": "azureml://registries/azureml-staging/models/Relevance-Evaluator/versions/3",
            "initParams": {
              "model_config": {
                "azure_deployment": "deployment_name",
                "azure_endpoint": "https://igniteevaluati8620559527.openai.azure.com",
                "type": "azure_openai",
                "api_version": "2024-09-01-preview",
                "api_key": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/connection_name/credentials/key"
              }
            },
            "dataMapping": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/evaluations/runs/Sanitized?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "[...]
