{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Event Grid - SDK",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/EventGridRG1379?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2025-03-17T22:29:06.6632086"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG1379",
        "name": "EventGridRG1379",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2025-03-17T22:29:06.6632086"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG1379/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration1446?api-version=2025-02-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "partnerRegistrationImmutableId": "247dfe02-fdb1-41f0-b84c-d830be310c10",
          "visibilityState": "Hidden"
        },
        "systemData": null,
        "location": "Global",
        "tags": null,
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG1379/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration1446",
        "name": "PartnerRegistration1446",
        "type": "Microsoft.EventGrid/partnerRegistrations"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG1379/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration1446?api-version=2025-02-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "partnerRegistrationImmutableId": "247dfe02-fdb1-41f0-b84c-d830be310c10",
          "visibilityState": "Hidden"
        },
        "systemData": null,
        "location": "Global",
        "tags": null,
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG1379/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration1446",
        "name": "PartnerRegistration1446",
        "type": "Microsoft.EventGrid/partnerRegistrations"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-17T19:59:06.6632086+05:30",
    "RandomSeed": "653031950",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}

