{
  "Entries": [
    {
      "RequestUri": "https://azsdktestns.servicebus.windows.net/hub_name/messages/?api-version=2020-06",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "apns-priority": "10",
        "apns-push-type": "alert",
        "Authorization": "Sanitized",
        "Content-Type": "application/json;charset=utf-8",
        "ServiceBusNotification-Format": "apple",
        "ServiceBusNotification-Tags": "likes_hockey && likes_football",
        "x-ms-azsdk-telemetry": "class=REDACTED",
        "x-ms-version": "2020-06"
      },
      "RequestBody": {
        "aps": {
          "alert": "Hello"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "TrackingId": "0bb6b1f2-b167-4cad-8382-27cb64a06ff2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
