{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Microsoft",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "microsoft.onmicrosoft.com",
            "tenantType": "AAD",
            "tenantBrandingLogoUrl": "https://aadcdn.msftauthimages.net/dbd5a2dd-n2kxueriy-dm8fhyf0anvulmvhi3kdbkkxqluuekyfc/logintenantbranding/0/bannerlogo?ts=636783560697171089"
          },
          {
            "id": "/tenants/1a092f68-5741-455a-8057-2acdb897a850",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "HMGAdmin",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "expansion.microsoft.com",
            "tenantType": "AAD"
          },
          {
            "id": "/tenants/70a036f6-8e4d-4615-bad6-149c02e7720d",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "TME Organization",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "TME01.onmicrosoft.com",
            "tenantType": "AAD"
          },
          {
            "id": "/tenants/a9e6d517-32a4-4d1a-b409-e2be93fb60ad",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Azure MCP Server Entra ID Test",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "azmcp.onmicrosoft.com",
            "tenantType": "AAD"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'Microsoft.AppConfiguration/configurationStores' | limit 50"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-incomplete-scopes-state": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "249",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.2564198",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 3,
        "count": 3,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.AppConfiguration/configurationStores/Sanitized",
            "name": "Sanitized",
            "type": "microsoft.appconfiguration/configurationstores",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "",
            "location": "westus",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "managedBy": "",
            "sku": {
              "name": "standard"
            },
            "plan": null,
            "properties": {
              "provisioningState": "Succeeded",
              "encryption": {
                "keyVaultProperties": null
              },
              "privateEndpointConnections": null,
              "softDeleteRetentionInDays": 7,
              "enablePurgeProtection": false,
              "disableLocalAuth": true,
              "endpoint": "https://Sanitized.azconfig.io",
              "creationDate": "2026-04-13T13:21:25Z",
              "defaultKeyValueRevisionRetentionPeriodInSeconds": 2592000,
              "dataPlaneProxy": {
                "authenticationMode": "Local",
                "privateLinkDelegation": "Disabled"
              }
            },
            "tags": {},
            "identity": null,
            "zones": null,
            "extendedLocation": null
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-t8dd5ac27fd574689/providers/Microsoft.AppConfiguration/configurationStores/t8dd5ac27fd574689",
            "name": "t8dd5ac27fd574689",
            "type": "microsoft.appconfiguration/configurationstores",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "",
            "location": "westus",
            "resourceGroup": "Sanitized",
   [...]
