{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Microsoft",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "microsoft.onmicrosoft.com",
            "tenantType": "AAD",
            "tenantBrandingLogoUrl": "https://aadcdn.msftauthimages.net/dbd5a2dd-n2kxueriy-dm8fhyf0anvulmvhi3kdbkkxqluuekyfc/logintenantbranding/0/bannerlogo?ts=636783560697171089"
          },
          {
            "id": "/tenants/70a036f6-8e4d-4615-bad6-149c02e7720d",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "TME Organization",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "TME01.onmicrosoft.com",
            "tenantType": "AAD"
          },
          {
            "id": "/tenants/f419886f-50e8-4084-b205-ff005db388b1",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "InfoNav Dogfood (Microsoft)",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "infonavdfmsft.onmicrosoft.com",
            "tenantType": "AAD"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'Microsoft.AppConfiguration/configurationStores' and name =~ 'Sanitized' | limit 1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.1238582",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 1,
        "count": 1,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_scbedd-mcp4530d6ff/providers/Microsoft.AppConfiguration/configurationStores/Sanitized",
            "name": "Sanitized",
            "type": "microsoft.appconfiguration/configurationstores",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "",
            "location": "westus",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "managedBy": "",
            "sku": {
              "name": "standard"
            },
            "plan": null,
            "properties": {
              "provisioningState": "Succeeded",
              "encryption": {
                "keyVaultProperties": null
              },
              "privateEndpointConnections": null,
              "creationDate": "2025-12-03T20:04:20Z",
              "softDeleteRetentionInDays": 7,
              "disableLocalAuth": true,
              "enablePurgeProtection": false,
              "endpoint": "https://Sanitized.azconfig.io",
              "defaultKeyValueRevisionRetentionPeriodInSeconds": 2592000,
              "dataPlaneProxy": {
                "authenticationMode": "Local",
                "privateLinkDelegation": "Disabled"
              }
            },
            "tags": {},
            "identity": null,
            "zones": null,
            "extendedLocation": null
          }
        ],
        "facets": [],
        "resultTruncated": "false"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/foo?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "fo-value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YT90IMJubW-l4ZKOOzeSYBXxRNApBB231Vq7WgzWHFQ\"",
        "Last-Modified": "Thu, 04 Dec 2025 00:05:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzUzODk1NjI0;sn=53895624",
        "x-ms-date": "Thu, 04 Dec 2025 00:05:58 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "foo",
        "label": null,
        "content_type": null,
        "value": "fo-value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-04T00:05:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bar?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "bar-value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZnrwtfjbjPD52rr0X7cmeKQ3UTV7HmkQqsodxzBBh4c\"",
        "Last-Modified": "Thu, 04 Dec 2025 00:06:01 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzUzODk1NjI2;sn=53895626",
        "x-ms-date": "Thu, 04 Dec 2025 00:06:01 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "bar",
        "label": null,
        "content_type": null,
        "value": "bar-value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-04T00:06:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4Ar2hNi6hyyPvJeiuYuTp-h4NBZj0Zndv896954_J5Q\"",
        "Sync-Token": "zAJw6V16=Mzo1IzUzODk1NjI3;sn=53895627",
        "x-ms-date": "Thu, 04 Dec 2025 00:06:08 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "bar",
            "label": null,
            "content_type": null,
            "value": "bar-value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-04T00:06:01+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "config-with-content-type",
            "label": null,
            "content_type": "application/json",
            "value": "{\"property\":\"value\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-03T22:07:25+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "foo",
            "label": null,
            "content_type": null,
            "value": "fo-value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-04T00:05:58+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "foo1",
    [...]
