{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Triage Resource Provider - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/diagnostics/testResource7918?api-version=2024-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "globalParameters": {
            "startTime": "2020-07-01"
          },
          "insights": [
            {
              "solutionId": "Demo2InsightV2"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/providers/Microsoft.Help/Diagnostics/testResource7918/operationResults/02d2af10-09e2-4424-b967-9bb20c9b2c5b?api-version=2024-03-01-preview&t=638506013000969714&c=MIIHKjCCBhKgAwIBAgITHgRy5Oci-xrmzRVcTAAABHLk5zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNDMwMTgzMjQzWhcNMjUwNDI1MTgzMjQzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/diagnostics/testResource7918?api-version=2024-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "74"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/diagnostics/testResource7918",
        "name": "testResource7918",
        "type": "Microsoft.Help/Diagnostics",
        "properties": {
          "provisioningState": "Succeeded",
          "acceptedAt": "2024-05-06T14:08:20.0263187Z",
          "diagnostics": [
            {
              "solutionId": "Demo2InsightV2",
              "status": "Succeeded",
              "insights": [
                {
                  "id": "perfinsights-available-linux",
                  "title": "Windows Unable to Boot Test hardcoded string for unknown resource (Demo Insight)",
                  "results": "<!--issueDescription-->\n<p>We have detected that PerfInsights is already installed on your VM. You can run PerfInsights on-demand through the Portal and view reports for your analysis.</p>\n<!--/issueDescription-->\n<p>PerfInsights is a diagnostics tool that can help you analyze operating system level metrics such as:</p>\n<ul>\n<li>Best Practices recommendations for Linux</li>\n<li>Top CPU consumers</li>\n<li>Top Memory consumers</li>\n<li>Storage/RAID/LVM layout</li>\n</ul>\n<h2><strong>Recommended Steps</strong></h2>\n<p><a data-blade=\"Microsoft_Azure_Compute.PerformanceDiagnosticsBlade.resourceId.$resourceId\" button-data-blade=\"button-data-blade\">Run PerfInsights</a></p>\n<p>For the machine <!--$vmname-->[vmname]<!--/$vmname-->, you can <a href=\"https://portal.azure.com/#@microsoft.onmicrosoft.com/resource/{$resourceIdDecoded}/performanceDiagnostics\">access PerfInsights here</a> and review results directly in the Azure portal.</p>\n<p>You may also <a href=\"https://docs.microsoft.com/azure/virtual-machines/troubleshooting/performance-diagnostics#install-and-run-performance-diagnostics-on-your-vm\">download PerfInsights</a> and run it on your virtual machine.</p>\n<p>If you open a support case, attach the PerfInsights report for the Support Engineer to analyze.</p>\n<h2><strong>Recommended Documents</strong></h2>\n<ul>\n<li><a href=\"https://docs.microsoft.com/azure/virtual-machines/troubleshooting/how-to-use-perfinsights\">How to use PerfInsights</a></li>\n<li><a href=\"https://docs.microsoft.com/troubleshoot/azure/virtual-machines/troubleshoot-performance-bottlenecks-linux\">Troubleshoot performance and isolate bottlenecks in Linux</a></li>\n</ul>\n",
                  "importanceLevel": "Warning"
                }
              ]
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "d9524254-3ac7-4629-a8e2-44ccaa7b6017",
    "RandomSeed": "2052179361",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
