{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/testelasticsan?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan",
        "name": "testelasticsan",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "location": "eastus2euap",
        "properties": {
          "sku": {
            "name": "Premium_LRS"
          },
          "provisioningState": "Succeeded",
          "baseSizeTiB": 2,
          "extendedCapacitySizeTiB": 7,
          "totalIops": 10000,
          "totalMBps": 160,
          "totalSizeTiB": 9,
          "volumeGroupCount": 13,
          "totalVolumeSizeGiB": 100
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1",
        "name": "testsan1",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "tags": {
          "tag3": "val3"
        },
        "systemData": {
          "createdAt": "2023-07-18T08:57:43.096568Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2023-07-18T09:07:41.6348754Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-8579?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/c18e8697-f81f-44aa-bb46-fb291819578a?monitor=true\u0026api-version=2022-12-01-preview",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "protocolType": "iSCSI",
          "encryption": "EncryptionAtRestWithPlatformKey"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-8579",
        "name": "testvolgroup-8579",
        "type": "Microsoft.ElasticSan/elasticSans/volumeGroups",
        "systemData": {
          "createdAt": "2023-07-19T01:41:07.2626926Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2023-07-19T01:41:07.2626926Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/c18e8697-f81f-44aa-bb46-fb291819578a?monitor=true\u0026api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "protocolType": "iSCSI",
          "encryption": "EncryptionAtRestWithPlatformKey"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-8579",
        "name": "testvolgroup-8579",
        "type": "Microsoft.ElasticSan/elasticSans/volumeGroups",
        "systemData": {
          "createdAt": "2023-07-19T01:41:07.2626926Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2023-07-19T01:41:07.2626926Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-8579/volumes/testvolume-5673?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sizeGiB": 100
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/0bc6be5e-0f2f-421c-917b-5903b6e1ed06?monitor=true\u0026api-version=2022-12-01-preview",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "properties": {
          "creationData": {
            "createSource": "None"
          },
          "sizeGiB": 100,
          "storageTarget": {
            "provisioningState": "Creating",
            "status": "Pending"
          },
          "volumeId": "6c3544ba-226f-4d93-8414-00350075d0d0"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-8579/volumes/testvolume-5673",
        "name": "testvolume-5673",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "systemData": {
          "createdAt": "2023-07-19T01:41:08.0138703Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2023-07-19T01:41:08.0138703Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/0bc6be5e-0f2f-421c-917b-5903b6e1ed06?monitor=true\u0026api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "properties": {
          "creationData": {
            "createSource": "None"
          },
          "sizeGiB": 100,
          "storageTarget": {
            "targetIqn": "iqn.2023-07.net.windows.core.blob.ElasticSan.es-iswjtmtzzij1:testvolume-5673",
            "provisioningState": "Succeeded",
            "status": "Running",
            "targetPortalHostname": "es-iswjtmtzzij1.z24.blob.storage.azure.net",
            "targetPortalPort": 3260
          },
          "volumeId": "6c3544ba-226f-4d93-8414-00350075d0d0"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-8579/volumes/testvolume-5673",
        "name": "testvolume-5673",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "systemData": {
          "createdAt": "2023-07-19T01:41:08.0138703Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2023-07-19T01:41:08.0138703Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
[...]
