{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/some-test-id?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5603f3e1-5b4f-4eb3-bf0f-b05c7de97b81"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {
            "condition1": {
              "clientMetric": "response_time_ms",
              "aggregate": "avg",
              "condition": ">",
              "value": 300.0,
              "action": "continue"
            },
            "condition2": {
              "clientMetric": "error",
              "aggregate": "percentage",
              "condition": ">",
              "value": 50.0,
              "action": "continue"
            },
            "condition3": {
              "clientMetric": "latency",
              "aggregate": "avg",
              "condition": ">",
              "requestName": "GetCustomerDetails",
              "value": 200.0,
              "action": "continue"
            }
          },
          "passFailServerMetrics": {}
        },
        "environmentVariables": {
          "my-variable": "value"
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "some-test-id",
        "description": "",
        "displayName": "TestingResourcePyTest",
        "createdDateTime": "2025-03-24T06:05:49.101Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-24T06:05:49.101Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
