{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/triggers/test-schedule-trigger-id-sync?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Test Trigger",
        "description": "Test trigger for pytest",
        "kind": "ScheduleTestsTrigger",
        "testIds": [
          "some-test-id"
        ],
        "recurrence": {
          "frequency": "Daily",
          "interval": 1
        },
        "startDateTime": "2026-03-04T05:42:51.038Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "",
        "mise-correlation-id": "05151ff5-9efc-48eb-8bc4-451a94dc7248"
      },
      "ResponseBody": {
        "testIds": [
          "some-test-id"
        ],
        "startDateTime": "2026-03-04T05:42:51.038Z",
        "recurrence": {
          "frequency": "Daily",
          "interval": 1
        },
        "recurrenceStatus": {
          "nextScheduledDateTimes": [
            "2026-03-04T05:42:51.038Z"
          ]
        },
        "kind": "ScheduleTestsTrigger",
        "displayName": "Test Trigger",
        "triggerId": "test-schedule-trigger-id-sync",
        "description": "Test trigger for pytest",
        "state": "Active",
        "createdDateTime": "2026-03-02T20:35:40.978Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-02T20:35:40.978Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
