{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/tests?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8f4a7455-8c60-4d60-a805-a6a8b0404790"
      },
      "ResponseBody": {
        "value": [
          {
            "passFailCriteria": {
              "passFailMetrics": {
                "condition1": {
                  "clientMetric": "response_time_ms",
                  "aggregate": "avg",
                  "condition": ">",
                  "value": 300.0,
                  "action": "continue"
                },
                "condition2": {
                  "clientMetric": "error",
                  "aggregate": "percentage",
                  "condition": ">",
                  "value": 50.0,
                  "action": "continue"
                },
                "condition3": {
                  "clientMetric": "latency",
                  "aggregate": "avg",
                  "condition": ">",
                  "requestName": "GetCustomerDetails",
                  "value": 200.0,
                  "action": "continue"
                }
              },
              "passFailServerMetrics": {}
            },
            "autoStopCriteria": {
              "autoStopDisabled": false,
              "errorRate": 90.0,
              "errorRateTimeWindowInSeconds": 60,
              "maximumVirtualUsersPerEngine": 5000
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": false
            },
            "inputArtifacts": {
              "testScriptFileInfo": {
                "url": "url",
                "fileName": "sample.jmx",
                "fileType": "TEST_SCRIPT",
                "expireDateTime": "2026-03-02T08:39:41.1955703Z",
                "validationStatus": "VALIDATION_SUCCESS"
              },
              "additionalFileInfo": []
            },
            "kind": "JMX",
            "publicIPDisabled": false,
            "metricsReferenceIdentityType": "SystemAssigned",
            "estimatedVirtualUserHours": 2.0,
            "preferences": {
              "enableAIErrorInsights": true
            },
            "testId": "some-test-id",
            "description": "",
            "displayName": "TestingResourcePyTest",
            "environmentVariables": {
              "my-variable": "value"
            },
            "createdDateTime": "2026-03-02T07:35:13.44Z",
            "createdBy": "Sanitized",
            "lastModifiedDateTime": "2026-03-02T07:39:36.612Z",
            "lastModifiedBy": "Sanitized"
          },
          {
            "passFailCriteria": {
              "passFailMetrics": {
                "condition1": {
                  "clientMetric": "response_time_ms",
                  "aggregate": "avg",
                  "condition": ">",
                  "value": 300.0,
                  "action": "continue"
                },
                "condition2": {
                  "clientMetric": "error",
                  "aggregate": "percentage",
                  "co[...]
