{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9739fd1a-4e40-4e78-a063-0ff98e09c77f"
      },
      "ResponseBody": {
        "value": [
          {
            "passFailCriteria": {
              "passFailMetrics": {
                "condition1": {
                  "clientMetric": "response_time_ms",
                  "aggregate": "avg",
                  "condition": ">",
                  "value": 300.0,
                  "action": "continue"
                },
                "condition2": {
                  "clientMetric": "error",
                  "aggregate": "percentage",
                  "condition": ">",
                  "value": 50.0,
                  "action": "continue"
                },
                "condition3": {
                  "clientMetric": "latency",
                  "aggregate": "avg",
                  "condition": ">",
                  "requestName": "GetCustomerDetails",
                  "value": 200.0,
                  "action": "continue"
                }
              },
              "passFailServerMetrics": {}
            },
            "autoStopCriteria": {
              "autoStopDisabled": false,
              "errorRate": 90.0,
              "errorRateTimeWindowInSeconds": 60,
              "maximumVirtualUsersPerEngine": 5000
            },
            "environmentVariables": {
              "my-variable": "value"
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": false
            },
            "testArtifacts": {
              "inputArtifacts": {
                "configFileInfo": {
                  "url": "url",
                  "fileName": "config.yaml",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.0565914Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "testScriptFileInfo": {
                  "url": "url",
                  "fileName": "sample.jmx",
                  "fileType": "TEST_SCRIPT",
                  "expireDateTime": "2026-03-02T09:03:06.0564338Z",
                  "validationStatus": "VALIDATION_SUCCESS"
                },
                "inputArtifactsZipFileInfo": {
                  "url": "url",
                  "fileName": "inputartifacts.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.056618Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "additionalFileInfo": []
              },
              "outputArtifacts": {
                "resultFileInfo": {
                  "url": "url",
                  "fileName": "csv.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.0566392Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "logsFileInfo": {
                  "url": "url",
                  "fileName": "logs.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.0566783Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "artifactsContainerInfo": {
                  "url": "url",
                  "expireDateTime": "2026-03-02T09:03:06.056702Z"
                }
              }
            },
            "testResult": "NOT_APPLICABLE",
            "kind": "JMX",
            "debugLogsEnabled": false,
            "requestDataLevel": "NONE",
            "createdByType": "User",
            "estimatedVirtualUserHours": 2.0,
            "executionStartDateTime": "2026-03-02T08:00:33Z",
            "executionEndDateTime": "2026-03-02T08:01:08Z",
            "testRunId": "some-test-run-id",
            "displayName": "My New Load Test Run from PyTest",
            "testId": "some-test-id",
            "status": "DONE",
            "startDateTime": "2026-03-02T07:59:11Z",
            "endDateTime": "2026-03-02T08:02:57Z",
            "executedDateTime": "2026-03-02T07:59:10.426Z",
            "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/TestRunReport.ReactView//resourceId/%2fsubscriptions%2f00000000-0000-0000-0000-000000000000%2fresourcegroups%2fhbisht-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fhbisht-alt-eus2euap/testId/some-test-id/testRunId/some-test-run-id",
            "duration": 35000,
            "createdDateTime": "2026-03-02T07:59:11.152Z",
            "createdBy": "Sanitized",
            "lastModifiedDateTime": "2026-03-02T08:03:00.201Z",
            "lastModifiedBy": "Sanitized"
          },
          {
            "passFailCriteria": {
              "passFailServerMetrics": {}
            },
            "autoStopCriteria": {
              "autoStopDisabled": false,
              "errorRate": 90.0,
              "errorRateTimeWindowInSeconds": 60,
              "maximumVirtualUsersPerEngine": 5000
            },
            "environmentVariables": {
              "domain": "demo.simplcommerce.com",
              "protocol": "https",
              "ramp_up_time": "0",
              "duration_in_sec": "120",
              "threads_per_engine": "10"
            },
            "testRunStatistics": {
              "Total": {
                "transaction": "Total",
                "sampleCount": 667.0,
                "errorCount": 0.0,
                "errorPct": 0.0,
                "meanResTime": 1808.0,
                "medianResTime": 1765.0,
                "maxResTime": 3640.0,
                "minResTime": 970.0,
                "pct75ResTime": 1990.0,
                "pct1ResTime": 2320.0,
                "pct2ResTime": 2460.0,
                "pct96ResTime": 2520.0,
                "pct97ResTime": 2580.0,
                "pct98ResTime": 2820.0,
                "pct3ResTime": 3380.0,
                "pct999ResTime": 3640.0,
                "pct9999ResTime": 3640.0,
                "throughput": 5.379032258064516
              },
              "Homepage": {
                "transaction": "Homepage",
                "sampleCount": 667.0,
                "errorCount": 0.0,
                "errorPct": 0.0,
                "meanResTime": 1808.0,
                "medianResTime": 1765.0,
                "maxResTime": 3640.0,
                "minResTime": 970.0,
                "pct75ResTime": 1990.0,
                "pct1ResTime": 2320.0,
                "pct2ResTime": 2460.0,
                "pct96ResTime": 2520.0,
                "pct97ResTime": 2580.0,
                "pct98ResTime": 2820.0,
                "pct3ResTime": 3380.0,
                "pct999ResTime": 3640.0,
                "pct9999ResTime": 3640.0,
                "throughput": 5.379032258064516
              }
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": true,
              "optionalLoadTestConfig": {
                "endpointUrl": "https://demo.simplcommerce.com/",
                "virtualUsers": 10,
                "rampUpTime": 0,
                "duration": 120
              }
            },
            "testArtifacts": {
              "inputArtifacts": {
                "configFileInfo": {
                  "url": "url",
                  "fileName": "config.yaml",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.0570171Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "testScriptFileInfo": {
                  "url": "url",
                  "fileName": "quick_test.jmx",
                  "fileType": "JMX_FILE",
                  "expireDateTime": "2026-03-02T09:03:06.0569157Z",
                  "validationStatus": "VALIDATION_SUCCESS"
                },
                "inputArtifactsZipFileInfo": {
                  "url": "url",
                  "fileName": "inputartifacts.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.0570405Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "additionalFileInfo": []
              },
              "outputArtifacts": {
                "reportFileInfo": {
                  "url": "url",
                  "fileName": "reports.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.0571295Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "resultFileInfo": {
                  "url": "url",
                  "fileName": "csv.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.0570613Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "logsFileInfo": {
                  "url": "url",
                  "fileName": "logs.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-02T09:03:06.0571052Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "artifactsContainerInfo": {
                  "url": "url",
                  "expireDateTime": "2026-03-02T09:03:06.0571793Z"
                }
              }
            },
            "testResult": "NOT_APPLICABLE",
            "virtualUsers": 10,
            "virtualUserHours": 1.67,
            "kind": "URL",
            "debugLogsEnabled": false,
            "requestDataLevel": "NONE",
            "createdByType": "User",
            "estimatedVirtualUserHours": 2.0,
            "executionStartDateTime": "2026-02-23T11:08:28Z",
            "executionEndDateTime": "2026-02-23T11:10:37Z",
            "testRunId": "some-completed-test-run-id",
            "displayName": "TestRun_2/23/2026_4:37:09 PM",
            "testId": "f361b35a-f828-4969-8e81-ba3466913030",
      [...]
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs?api-version=2025-11-01-preview&continuationToken=%255b%257b%2522token%2522%253a%2522%252bRID%253a%257eIY0GALhFYE%252bsEhoAAAAAAA%253d%253d%2523RT%253a1%2523TRC%253a50%2523RTD%253aHPJJmKT1uZqlBBnGyNSOBMHbFWuv9A%253d%253d%2523ISV%253a2%2523IEO%253a65599%2523QCF%253a8%2523FPC%253aAghEAAAAAAAAAAwAAAAAMAAARAAAAAAAAAAEAPEGQAJSAAAAAAAAAAIAoINTAAAAAAAAAAIAha5gAAAAAAAAAAwApCYBBABQAQBAEIiAYwAAAAAAAAAEAAEDAA[...]
