{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/some-completed-test-run-id/insights/latest?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "062356de-e366-4b56-9156-10b07dd5f70c"
      },
      "ResponseBody": {
        "columns": [
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          }
        ],
        "rows": {
          "1": {
            "Title": "Fluctuating Response Time Under Load",
            "Insight": "For the endpoint Homepage, response time remained **elevated and unstable** as [requests per second](#ClientMetrics) grew, indicating backend performance variability.",
            "Details": "[Virtual users](#ClientMetrics) held steady at 10 from 11:08 AM UTC to 11:10 AM UTC. [Requests per second](#ClientMetrics) peaked at **6.4 RPS at 11:09 AM UTC**, with fluctuations throughout the run. [Response time](#ClientMetrics) dropped from 3590ms at 11:08 AM UTC to 2220ms at 11:08 AM UTC, then fluctuated between 1920ms and 2430ms until 11:10 AM UTC, with a minimum of **1920ms at 11:09 AM UTC**.",
            "Recommendation": "Consider profiling the server application for bottlenecks and reviewing resource allocation during traffic spikes. Investigate asynchronous processing, database latency, or caching to stabilize and reduce response time."
          },
          "2": {
            "Title": "Load Pattern Impact on Throughput",
            "Insight": "Throughput for [requests per second](#ClientMetrics) rose with constant [virtual user](#ClientMetrics) count but dropped temporarily before recovering, possibly reflecting backend throttling or transient resource limits at peak load for Homepage.",
            "Details": "[Requests per second](#ClientMetrics) increased from 2.1 RPS at 11:08 AM UTC to **6.4 RPS at 11:09 AM UTC**, then fell to 4.6 RPS at 11:09 AM UTC, rebounded to 5.9 RPS at 11:09 AM UTC and N/A, and ended at 2.9 RPS by 11:10 AM UTC. [Virtual users](#ClientMetrics) remained stable, only dropping from 10 to 8 at the end.",
            "Recommendation": "May review server-side request handling limits and monitor for any throttling or overload protection mechanisms during peak load intervals. Implement server autoscaling or optimize backend logic for improved throughput consistency."
          },
          "3": {
            "Summary": "Load test (2 min, 10 VUs) ran successfully with minor latency spikes. Response times fluctuated between 1.9s and 2.4s with no errors, indicating stable client-side performance under load."
          }
        },
        "version": 4,
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {}
}
