{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/000/app-components?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a6aff694-8a7f-443a-9c2e-8e5a057f02c8"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "kind": "web"
          }
        },
        "testId": "000",
        "createdDateTime": "2024-11-27T06:09:33.019Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-01-08T06:21:03.466Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/nonexistingresource/app-components?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-11-01-preview",
        "Content-Type": "application/json",
        "mise-correlation-id": "ad6e1e16-39e5-4e47-8a89-f8be12c16048",
        "x-ms-error-code": "TestNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "TestNotFound",
          "message": "Test couldn't find with given identifier nonexistingresource",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
