{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-test-run-3?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "some-test-id",
        "displayName": "My New Load Test Run from PyTest"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "5dc03a93-da8d-42f0-beec-40c7a82786ec"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {
            "condition1": {
              "clientMetric": "response_time_ms",
              "aggregate": "avg",
              "condition": ">",
              "value": 300.0,
              "action": "continue"
            },
            "condition2": {
              "clientMetric": "error",
              "aggregate": "percentage",
              "condition": ">",
              "value": 50.0,
              "action": "continue"
            },
            "condition3": {
              "clientMetric": "latency",
              "aggregate": "avg",
              "condition": ">",
              "requestName": "GetCustomerDetails",
              "value": 200.0,
              "action": "continue"
            }
          },
          "passFailServerMetrics": {}
        },
        "environmentVariables": {
          "my-variable": "value"
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "url",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-24T13:10:54.0059755Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "url",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-03-24T13:10:54.0055054Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "url",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-24T13:10:54.0061932Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "url",
              "expireDateTime": "2025-03-24T13:10:54.0064194Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "sample-test-run-3",
        "displayName": "My New Load Test Run from PyTest",
        "testId": "some-test-id",
        "status": "ACCEPTED",
        "executedDateTime": "2025-03-24T12:10:51.432Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2fmitsha-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fmitsha-eastus/testId/some-test-id/testRunId/sample-test-run-3",
        "createdDateTime": "2025-03-24T12:10:53.644Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-24T12:10:53.996Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-test-run-3:stop?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/j[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-test-run-3?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "fc67c670-6507-43b6-8923-416aa243e88d"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
