{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/some-completed-test-run-id/insights/latest?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "078b92d9-927e-4ba4-8f85-736b73123316"
      },
      "ResponseBody": {
        "columns": [
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          }
        ],
        "rows": {
          "1": {
            "Title": "Response Time Spike Correlates With RPS Increase",
            "Insight": "Response time for Homepage peaked at **2840ms** as requests per second also reached its highest value (**6.2 RPS**). This suggests the server may not handle increased load efficiently.",
            "Details": "[Response time](#ClientMetrics) for Homepage spiked from 1890ms at 9:25 PM UTC to **2840ms at 9:25 PM UTC**, then decreased to 1840ms by 9:26 PM UTC. [Requests per second](#ClientMetrics) climbed from 3.0 RPS at 9:24 PM UTC to a peak of **6.2 RPS at 9:25 PM UTC**, then declined back to 3.0 RPS at 9:26 PM UTC.",
            "Recommendation": "Consider optimizing server-side resources or backend processing to handle increased load more efficiently. You may also review server scaling and caching strategies to prevent latency spikes under high RPS."
          },
          "2": {
            "Title": "Stabilization After Initial Latency Drop",
            "Insight": "Client response time for Homepage dropped significantly from **3430ms** to under **1900ms**, coinciding with moderate increases in RPS. This reflects improved performance,[...]
