{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/some-test-run-id?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6d6346d7-54ad-4d1f-938d-10e7aac321ba"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {
            "condition1": {
              "clientMetric": "response_time_ms",
              "aggregate": "avg",
              "condition": ">",
              "value": 300.0,
              "action": "continue"
            },
            "condition2": {
              "clientMetric": "error",
              "aggregate": "percentage",
              "condition": ">",
              "value": 50.0,
              "action": "continue"
            },
            "condition3": {
              "clientMetric": "latency",
              "aggregate": "avg",
              "condition": ">",
              "requestName": "GetCustomerDetails",
              "value": 200.0,
              "action": "continue"
            }
          },
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "environmentVariables": {
          "my-variable": "value"
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "url",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-02T22:43:06.2663142Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "url",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2026-03-02T22:43:06.2660782Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "url",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-02T22:43:06.2663707Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "url",
              "expireDateTime": "2026-03-02T22:43:06.2664424Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "estimatedVirtualUserHours": 2.0,
        "testRunId": "some-test-run-id",
        "displayName": "My New Load Test Run from PyTest",
        "testId": "some-test-id",
        "status": "PROVISIONING",
        "startDateTime": "2026-03-02T21:43:00Z",
        "executedDateTime": "2026-03-02T21:42:56.736Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/TestRunReport.ReactView//resourceId/%2fsubscriptions%2f00000000-0000-0000-0000-000000000000%2fresourcegroups%2fhbisht-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fhbisht-alt-eus2euap/testId/some-test-id/testRunId/some-test-run-id",
        "createdDateTime": "2026-03-02T21:43:00.461Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-02T21:43:01.122Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
