{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/tests/some-test-id/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "mise-correlation-id": "2d8d5e9b-fd5b-432f-a7fa-85d32f146cd1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
