{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "980d65a5-e6cb-4d13-a0ce-7a0063328f1e"
      },
      "ResponseBody": {
        "value": [
          {
            "passFailCriteria": {
              "passFailMetrics": {
                "condition1": {
                  "clientMetric": "response_time_ms",
                  "aggregate": "avg",
                  "condition": ">",
                  "value": 300.0,
                  "action": "continue"
                },
                "condition2": {
                  "clientMetric": "error",
                  "aggregate": "percentage",
                  "condition": ">",
                  "value": 50.0,
                  "action": "continue"
                },
                "condition3": {
                  "clientMetric": "latency",
                  "aggregate": "avg",
                  "condition": ">",
                  "requestName": "GetCustomerDetails",
                  "value": 200.0,
                  "action": "continue"
                }
              },
              "passFailServerMetrics": {}
            },
            "autoStopCriteria": {
              "autoStopDisabled": false,
              "errorRate": 90.0,
              "errorRateTimeWindowInSeconds": 60,
              "maximumVirtualUsersPerEngine": 5000
            },
            "environmentVariables": {
              "my-variable": "value"
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": false
            },
            "testArtifacts": {
              "inputArtifacts": {
                "configFileInfo": {
                  "url": "url",
                  "fileName": "config.yaml",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.4020142Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "testScriptFileInfo": {
                  "url": "url",
                  "fileName": "sample.jmx",
                  "fileType": "TEST_SCRIPT",
                  "expireDateTime": "2026-03-03T12:05:18.4017948Z",
                  "validationStatus": "VALIDATION_SUCCESS"
                },
                "inputArtifactsZipFileInfo": {
                  "url": "url",
                  "fileName": "inputartifacts.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.4020375Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "additionalFileInfo": []
              },
              "outputArtifacts": {
                "resultFileInfo": {
                  "url": "url",
                  "fileName": "csv.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.4020587Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "logsFileInfo": {
                  "url": "url",
                  "fileName": "logs.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.4020782Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "artifactsContainerInfo": {
                  "url": "url",
                  "expireDateTime": "2026-03-03T12:05:18.4020977Z"
                }
              }
            },
            "testResult": "NOT_APPLICABLE",
            "kind": "JMX",
            "debugLogsEnabled": false,
            "requestDataLevel": "NONE",
            "createdByType": "User",
            "estimatedVirtualUserHours": 2.0,
            "executionStartDateTime": "2026-03-03T11:02:50Z",
            "executionEndDateTime": "2026-03-03T11:03:25Z",
            "testRunId": "some-test-run-id",
            "displayName": "My New Load Test Run from PyTest",
            "testId": "some-test-id",
            "status": "DONE",
            "startDateTime": "2026-03-03T11:02:27Z",
            "endDateTime": "2026-03-03T11:05:12Z",
            "executedDateTime": "2026-03-03T11:02:22.702Z",
            "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/TestRunReport.ReactView//resourceId/%2fsubscriptions%2f00000000-0000-0000-0000-000000000000%2fresourcegroups%2fhbisht-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fhbisht-alt-eus2euap/testId/some-test-id/testRunId/some-test-run-id",
            "duration": 35000,
            "createdDateTime": "2026-03-03T11:02:26.388Z",
            "createdBy": "Sanitized",
            "lastModifiedDateTime": "2026-03-03T11:05:14.624Z",
            "lastModifiedBy": "Sanitized"
          },
          {
            "passFailCriteria": {
              "passFailServerMetrics": {}
            },
            "autoStopCriteria": {
              "autoStopDisabled": false,
              "errorRate": 90.0,
              "errorRateTimeWindowInSeconds": 60,
              "maximumVirtualUsersPerEngine": 5000
            },
            "environmentVariables": {
              "domain": "demo.simplcommerce.com",
              "protocol": "https",
              "ramp_up_time": "0",
              "duration_in_sec": "120",
              "threads_per_engine": "10"
            },
            "testRunStatistics": {
              "Total": {
                "transaction": "Total",
                "sampleCount": 652.0,
                "errorCount": 0.0,
                "errorPct": 0.0,
                "meanResTime": 1853.0,
                "medianResTime": 1780.0,
                "maxResTime": 3520.0,
                "minResTime": 930.0,
                "pct75ResTime": 1919.0,
                "pct1ResTime": 2303.0,
                "pct2ResTime": 2810.0,
                "pct96ResTime": 2920.0,
                "pct97ResTime": 3050.0,
                "pct98ResTime": 3200.0,
                "pct3ResTime": 3330.0,
                "pct999ResTime": 3520.0,
                "pct9999ResTime": 3520.0,
                "throughput": 5.258064516129032
              },
              "Homepage": {
                "transaction": "Homepage",
                "sampleCount": 652.0,
                "errorCount": 0.0,
                "errorPct": 0.0,
                "meanResTime": 1853.0,
                "medianResTime": 1780.0,
                "maxResTime": 3520.0,
                "minResTime": 930.0,
                "pct75ResTime": 1919.0,
                "pct1ResTime": 2303.0,
                "pct2ResTime": 2810.0,
                "pct96ResTime": 2920.0,
                "pct97ResTime": 3050.0,
                "pct98ResTime": 3200.0,
                "pct3ResTime": 3330.0,
                "pct999ResTime": 3520.0,
                "pct9999ResTime": 3520.0,
                "throughput": 5.258064516129032
              }
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": true,
              "optionalLoadTestConfig": {
                "endpointUrl": "https://demo.simplcommerce.com/",
                "virtualUsers": 10,
                "rampUpTime": 0,
                "duration": 120
              }
            },
            "testArtifacts": {
              "inputArtifacts": {
                "configFileInfo": {
                  "url": "url",
                  "fileName": "config.yaml",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.4026208Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "testScriptFileInfo": {
                  "url": "url",
                  "fileName": "quick_test.jmx",
                  "fileType": "JMX_FILE",
                  "expireDateTime": "2026-03-03T12:05:18.4024804Z",
                  "validationStatus": "VALIDATION_SUCCESS"
                },
                "inputArtifactsZipFileInfo": {
                  "url": "url",
                  "fileName": "inputartifacts.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.4026508Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "additionalFileInfo": []
              },
              "outputArtifacts": {
                "reportFileInfo": {
                  "url": "url",
                  "fileName": "reports.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.402707Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "resultFileInfo": {
                  "url": "url",
                  "fileName": "csv.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.4026702Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "logsFileInfo": {
                  "url": "url",
                  "fileName": "logs.zip",
                  "fileType": "ADDITIONAL_ARTIFACTS",
                  "expireDateTime": "2026-03-03T12:05:18.4026897Z",
                  "validationStatus": "VALIDATION_NOT_REQUIRED"
                },
                "artifactsContainerInfo": {
                  "url": "url",
                  "expireDateTime": "2026-03-03T12:05:18.4027416Z"
                }
              }
            },
            "testResult": "NOT_APPLICABLE",
            "virtualUsers": 10,
            "virtualUserHours": 1.67,
            "kind": "URL",
            "debugLogsEnabled": false,
            "requestDataLevel": "NONE",
            "createdByType": "User",
            "estimatedVirtualUserHours": 2.0,
            "executionStartDateTime": "2026-03-02T21:24:37Z",
            "executionEndDateTime": "2026-03-02T21:26:46Z",
            "testRunId": "some-completed-test-run-id",
            "displayName": "TestRun_3/3/2026_2:54:11 AM",
            "testId": "f361b35a-f828-4969-8e81-ba3466913030",
       [...]
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs?api-version=2025-11-01-preview&continuationToken=%255b%257b%2522token%2522%253a%2522%252bRID%253a%257eIY0GALhFYE-nGBoAAAAAAA%253d%253d%2523RT%253a1%2523TRC%253a50%2523RTD%253aHPJJmKT1uZqlBBnGyNSOBMHbFXcLaA%253d%253d%2523ISV%253a2%2523IEO%253a65599%2523QCF%253a8%2523FPC%253aAghEAAAAAAAAAAwAAAAAMAAARAAAAAAAAAAEAPEGQAJSAAAAAAAAAAIAoINTAAAAAAAAAAIAha5gAAAAAAAAAAwApCYBBABQAQBAEIiAYwAAAAAAAAAEAAEDAANmAA[...]
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs?api-version=2025-11-01-preview&continuationToken=%255b%257b%2522token%2522%253a%2522%252bRID%253a%257eIY0GALhFYE-2BhEAAAAAAA%253d%253d%2523RT%253a2%2523TRC%253a100%2523RTD%253aHPJJmKT1uZqlBBnGyNSOBMHZ98O7VA%253d%253d%2523ISV%253a2%2523IEO%253a65599%2523QCF%253a8%2523FPC%253aAghEAAAAAAAAAAwAAAAAMAAARAAAAAAAAAAEAPEGQAJSAAAAAAAAAAIAoINTAAAAAAAAAAIAha5gAAAAAAAAAAwApCYBBABQAQBAEIiAYwAAAAAAAAAEAAEDAANmA[...]
