{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/some-test-run-id/app-components?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp",
            "resourceName": "contoso-sampleapp",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "bccc79fd-92e6-4f92-a5ee-f2e60582c990"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp",
            "resourceName": "contoso-sampleapp",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "kind": "web"
          }
        },
        "testRunId": "some-test-run-id",
        "createdDateTime": "2026-03-02T08:03:13.669Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-02T08:03:13.669Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
