{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/tests/some-test-id/server-metrics-config?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "de408707-8b39-49de-ba7a-39842996d2cd"
      },
      "ResponseBody": {
        "testId": "some-test-id",
        "metrics": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp/providers/microsoft.insights/metricdefinitions/requests/duration": {
            "id": "Sanitized",
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "name": "Sanitized",
            "aggregation": "Average",
            "resourceType": "microsoft.insights/components"
          },
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp/providers/microsoft.insights/metricdefinitions/requests/failed": {
            "id": "Sanitized",
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp",
            "metricNamespace": "microsoft.insights/com[...]
