{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/some-test-run-id/server-metrics-config?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f6f79557-bbde-4b27-b0d2-de4a530e6c7d"
      },
      "ResponseBody": {
        "testRunId": "some-test-run-id",
        "metrics": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp/providers/microsoft.insights/metricdefinitions/Http5xx": {
            "id": "Sanitized",
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp",
            "metricNamespace": "microsoft.web/sites",
            "name": "Sanitized",
            "aggregation": "Total",
            "resourceType": "microsoft.web/sites"
          },
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp/providers/microsoft.insights/metricdefinitions/Requests": {
            "id": "Sanitized",
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp",
            "metricNamespace": "microsoft.web/sites",
            "name[...]
