{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1137357a-32d8-4fc4-a5e2-4ea0874dcc8c"
      },
      "ResponseBody": {
        "value": [
          {
            "passFailCriteria": {
              "passFailMetrics": {
                "condition1": {
                  "clientMetric": "response_time_ms",
                  "aggregate": "avg",
                  "condition": ">",
                  "value": 300.0,
                  "action": "continue"
                },
                "condition2": {
                  "clientMetric": "error",
                  "aggregate": "percentage",
                  "condition": ">",
                  "value": 50.0,
                  "action": "continue"
                },
                "condition3": {
                  "clientMetric": "latency",
                  "aggregate": "avg",
                  "condition": ">",
                  "requestName": "GetCustomerDetails",
                  "value": 200.0,
                  "action": "continue"
                }
              },
              "passFailServerMetrics": {}
            },
            "autoStopCriteria": {
              "autoStopDisabled": false,
              "errorRate": 90.0,
              "errorRateTimeWindowInSeconds": 60,
              "maximumVirtualUsersPerEngine": 5000
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": false
            },
            "inputArtifacts": {
              "additionalFileInfo": []
            },
            "kind": "URL",
            "publicIPDisabled": false,
            "metricsReferenceIdentityType": "SystemAssigned",
            "preferences": {
              "enableAIErrorInsights": true
            },
            "testId": "some-test-id",
            "description": "",
            "displayName": "TestingResourcePyTest",
            "environmentVariables": {
              "my-variable": "value"
            },
            "createdDateTime": "2026-03-02T10:21:34.872Z",
            "createdBy": "Sanitized",
            "lastModifiedDateTime": "2026-03-02T10:21:34.872Z",
            "lastModifiedBy": "Sanitized"
          },
          {
            "passFailCriteria": {
              "passFailMetrics": {},
              "passFailServerMetrics": {}
            },
            "autoStopCriteria": {
              "autoStopDisabled": false,
              "errorRate": 90.0,
              "errorRateTimeWindowInSeconds": 60,
              "maximumVirtualUsersPerEngine": 5000
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": true,
              "optionalLoadTestConfig": {
                "endpointUrl": "https://demo.simplcommerce.com/",
                "virtualUsers": 10,
                "rampUpTime": 0,
                "duration": 120
              }
            },
            "inputArtifacts": {
              "testScriptFileInfo": {
                "url": "https://maltccstorageaccnteus2e.blob.core.windows.net/35c349e9-4ed7-46ce-8ebc-a313f0bca10d/a88bbafa-1f58-4525-aa9d-0669d9497db0?skoid=a51e1559-cfcb-49dd-8c7a-390ec798bb91&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-02T05%3A18%3A43Z&ske=2026-03-03T14%3A18%3A43Z&sks=b&skv=2025-11-05&sv=Sanitized&se=Sanitized&sr=b&sp=r&sig=Sanitized",
                "fileName": "quick_test.jmx",
                "fileType": "JMX_FILE",
                "expireDateTime": "2026-03-02T11:21:39.610826Z",
                "validationStatus": "VALIDATION_SUCCESS"
              },
              "additionalFileInfo": []
            },
            "kind": "URL",
            "publicIPDisabled": false,
            "metricsReferenceIdentityType": "SystemAssigned",
            "engineBuiltinIdentityType": "None",
            "estimatedVirtualUserHours": 2.0,
            "preferences": {
              "enableAIErrorInsights": true
            },
            "testId": "f361b35a-f828-4969-8e81-ba3466913030",
            "description": "",
            "displayName": "SampleTest",
            "keyvaultReferenceIdentityType": "SystemAssigned",
            "environmentVariables": {
              "domain": "demo.simplcommerce.com",
              "protocol": "https",
              "ramp_up_time": "0",
              "duration_in_sec": "120",
              "threads_per_engine": "10"
            },
            "createdDateTime": "2026-02-23T11:07:07.805Z",
            "createdBy": "Sanitized",
            "lastModifiedDateTime": "2026-03-02T09:45:55.293Z",
            "lastModifiedBy": "Sanitized"
          },
          {
            "autoStopCriteria": {
              "autoStopDisabled": false,
              "errorRate": 90.0,
              "errorRateTimeWindowInSeconds": 60,
              "maximumVirtualUsersPerEngine": 5000
            },
            "loadTestConfig[...]
