{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profiles/some-test-profile-id?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "29c71626-0b10-41aa-82bd-8958b8d1e8cd"
      },
      "ResponseBody": {
        "testProfileId": "some-test-profile-id",
        "displayName": "My New Test Profile",
        "description": "Sample Test Profile Description",
        "targetResourceId": "Sanitized",
        "testId": "some-test-id",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 100
            }
          }
        },
        "createdDateTime": "2025-03-24T12:11:44.31Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-24T12:11:44.31Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
