{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/some-completed-test-run-id/insights:generate?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "87b3ed76-2a7f-4cfe-8cbf-c03e995dc030",
        "Operation-Location": "https://00000000-0000-0000-0000-000000000000.eastus.cnt-prod.loadtesting.azure.com/test-runs/some-completed-test-run-id/insights/latest?api-version=2025-11-01-preview"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "GenerateTestRunInsights",
        "status": "Running"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/some-completed-test-run-id/insights/latest?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e430936c-d605-47b5-ae42-e8d9229b8486"
      },
      "ResponseBody": {
        "columns": [
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          },
          {
            "name": "Sanitized",
            "dataType": "String"
          }
        ],
        "rows": {
          "1": {
            "Title": "Instability in Response Time",
            "Insight": "Despite stable virtual users for Homepage, the response time fluctuated significantly, indicating possible backend processing variability or intermittent bottlenecks.",
            "Details": "[Virtual users](#ClientMetrics) remained at **10** from 11:08 AM UTC to 11:10 AM UTC. [Response time](#ClientMetrics) for Homepage dropped from 3590ms at 11:08 AM UTC to 2220ms at 11:08 AM UTC, then oscillated between 1920ms and 2430ms during the rest of the test (until 11:10 AM UTC), with no stabilization. [Requests per second](#ClientMetrics) fluctuated as well, peaking at 6.4 RPS at 11:09 AM UTC and ending at 2.9 RPS at 11:10 AM UTC.",
            "Recommendation": "Consider profiling backend services to identify any resource contention, queuing delays, or variable data access times. Evaluate application logs for transient errors or slow requests. You may also investigate potential thread pool exhaustion or transient dependency latency spikes."
          },
          "2": {
            "Title": "RPS Decline Despite Active Users",
            "Insight": "Requests per second for Homepage decreased by over **50%** towards test end, despite nearly constant virtual users, suggesting server back-pressure or throttling.",
            "Details": "[Requests per second](#ClientMetrics) peaked at **6.4 RPS at 11:09 AM UTC** and gradually dropped to 2.9 RPS at 11:10 AM UTC for Homepage. [Virtual users](#ClientMetrics) stayed at **10** until 11:10 AM UTC, only dropping to 8 at 11:10 AM UTC. [Response time](#ClientMetrics) remained high and variable throughout.",
            "Recommendation": "Consider reviewing server logs for signs of throttling or rate limiting. Assess whether application or infrastructure scaling is adequate to maintain throughput. You may also check for dependency slowdowns or resource exhaustion impacts."
          },
          "3": {
            "Summary": "Load test (2 min, 10 VUs) ran successfully with minor latency spikes. Response times fluctuated between 1.9–2.4s and throughput varied, suggesting periodic backend constraints."
          }
        },
        "version": 3,
        "status": "Running"
      }
    },
[...]
