{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/triggers/tests-schedule-trigger-id-sync?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fe027c63-55a9-4e1c-83e5-3e5cac164345"
      },
      "ResponseBody": {
        "testIds": [
          "some-test-id"
        ],
        "startDateTime": "2026-03-04T05:42:51.038Z",
        "recurrence": {
          "frequency": "Daily",
          "interval": 1
        },
        "recurrenceStatus": {
          "nextScheduledDateTimes": [
            "2026-03-04T05:42:51.038Z"
          ]
        },
        "kind": "ScheduleTestsTrigger",
        "displayName": "Test Trigger",
        "triggerId": "tests-schedule-trigger-id-sync",
        "description": "Test trigger for pytest",
        "state": "Active",
        "createdDateTime": "2026-03-02T07:48:34.877Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-02T07:48:34.877Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
