{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/triggers/tests-schedule-trigger-id-sync?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "mise-correlation-id": "198393c6-47ef-437a-ac9f-4f972d6e2151"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
