{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/tests/some-test-id?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "",
        "displayName": "TestingResourcePyTest",
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "passFailCriteria": {
          "passFailMetrics": {
            "condition1": {
              "clientmetric": "response_time_ms",
              "aggregate": "avg",
              "condition": ">",
              "value": 300
            },
            "condition2": {
              "clientmetric": "error",
              "aggregate": "percentage",
              "condition": ">",
              "value": 50
            },
            "condition3": {
              "clientmetric": "latency",
              "aggregate": "avg",
              "condition": ">",
              "value": 200,
              "requestName": "GetCustomerDetails"
            }
          }
        },
        "secrets": {},
        "environmentVariables": {
          "my-variable": "value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "",
        "mise-correlation-id": "424b8477-b94c-40e5-8cac-538be062564c"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {
            "condition1": {
              "clientMetric": "response_time_ms",
              "aggregate": "avg",
              "condition": ">",
              "value": 300.0,
              "action": "continue"
            },
            "condition2": {
              "clientMetric": "error",
              "aggregate": "percentage",
              "condition": ">",
              "value": 50.0,
              "action": "continue"
            },
            "condition3": {
              "clientMetric": "latency",
              "aggregate": "avg",
              "condition": ">",
              "requestName": "GetCustomerDetails",
              "value": 200.0,
              "action": "continue"
            }
          },
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "preferences": {
          "enableAIErrorInsights": true
        },
        "testId": "some-test-id",
        "description": "",
        "displayName": "TestingResourcePyTest",
        "environmentVariables": {
          "my-variable": "value"
        },
        "createdDateTime": "2026-03-03T11:05:51.819Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-03T11:05:51.819Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
