{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/000?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "",
        "displayName": "TestingResourcePyTest",
        "loadTestConfig": {
          "engineSize": "m",
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "environmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "keyvaultReferenceIdentityType": "SystemAssigned",
        "keyvaultReferenceIdentityId": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "04bc1238-0cc5-4022-9fc7-2a5a148797b3"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "testScriptFileInfo": {
            "url": "url",
            "fileName": "sample.jmx",
            "fileType": "JMX_FILE",
            "expireDateTime": "2025-01-13T07:37:11.5147885Z",
            "validationStatus": "VALIDATION_SUCCESS"
          },
          "additionalFileInfo": []
        },
        "testId": "000",
        "description": "",
        "displayName": "TestingResourcePyTest",
        "keyvaultReferenceIdentityType": "SystemAssigned",
        "createdDateTime": "2024-11-27T06:08:10.776Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-01-13T06:37:11.501Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/000?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "",
        "displayName": "TestingResourcePyTestabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz",
        "loadTestConfig": {
          "engineSize": "m",
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "environmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "keyvaultReferenceIdentityType": "SystemAssigned",
        "keyvaultReferenceIdentityId": null
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b4b65e88-40ab-4486-9db7-19008918eb79"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "The field displayName must be a string with a minimum length of 2 and a maximum length of 50."
        }
      }
    }
  ],
  "Variables": {}
}
