{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/notification-rules/tests-notification-id-async?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "acdfa6cf-96f1-42cb-a247-7be1dbdbf1a3"
      },
      "ResponseBody": {
        "scope": "Tests",
        "testIds": [
          "some-test-id"
        ],
        "eventFilters": {
          "testRunEnded": {
            "kind": "TestRunEnded",
            "condition": {
              "testRunStatuses": [
                "DONE",
                "FAILED"
              ],
              "testRunResults": [
                "PASSED",
                "FAILED"
              ]
            }
          }
        },
        "notificationRuleId": "tests-notification-id-async",
        "displayName": "Test Notification Rule",
        "actionGroupIds": [
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/nikita-canary-rg/providers/microsoft.insights/actiongroups/nikita-canary"
        ],
        "createdDateTime": "2026-03-02T07:40:34.473Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-02T07:40:34.473Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
