{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/tests/some-test-id/app-components?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7e81e0f5-0d4d-46d4-9ba3-9f5071ca1fa7"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nikita-rg/providers/Microsoft.Insights/components/ado-sampleapp",
            "resourceName": "ado-sampleapp",
            "resourceType": "Microsoft.Insights/components",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000"
          }
        },
        "testId": "some-test-id",
        "createdDateTime": "2026-03-02T20:29:16.289Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-02T20:29:16.289Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
