{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/tests/some-test-id/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json",
        "mise-correlation-id": "765b113f-ed73-4fc9-b1dd-930d0e2d6904",
        "x-ms-error-code": "TestFileNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "TestFileNotFound",
          "message": "The file 'sample.jmx' was not found for the specified test. Please verify the file name and ensure it has been uploaded to the test.",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
