{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/notification-rules/test-notification-id-async?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2dba0529-c459-4258-8291-a34a30cea16c"
      },
      "ResponseBody": {
        "scope": "Tests",
        "testIds": [
          "some-test-id"
        ],
        "eventFilters": {
          "testRunEnded": {
            "kind": "TestRunEnded",
            "condition": {
              "testRunStatuses": [
                "DONE",
                "FAILED"
              ],
              "testRunResults": [
                "PASSED",
                "FAILED"
              ]
            }
          }
        },
        "notificationRuleId": "test-notification-id-async",
        "displayName": "Test Notification Rule",
        "actionGroupIds": [
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/nikita-canary-rg/providers/microsoft.insights/actiongroups/nikita-canary"
        ],
        "createdDateTime": "2026-03-02T21:14:23.275Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-02T21:14:23.275Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
