{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/000/server-metrics-config?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "metrics": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "Sanitized",
            "aggregation": "Average",
            "unit": null,
            "resourceType": "microsoft.insights/components"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1937bc86-c612-454b-bff5-f7f27a7dab81"
      },
      "ResponseBody": {
        "testId": "000",
        "metrics": {
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo/providers/microsoft.insights/metricdefinitions/Http5xx": {
            "id": "Sanitized",
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "metricNamespace": "microsoft.web/sites",
            "name": "Sanitized",
            "aggregation": "Total",
            "resourceType": "microsoft.web/sites"
          },
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsof[...]
