{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/000-run?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1967327a-e677-44eb-a4b9-b2e5f0ef22a7"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "testRunStatistics": {
          "Total": {
            "transaction": "Total",
            "sampleCount": 16585.0,
            "errorCount": 0.0,
            "errorPct": 0.0,
            "meanResTime": 14.0,
            "medianResTime": 14.0,
            "maxResTime": 263.0,
            "minResTime": 9.0,
            "pct1ResTime": 20.0,
            "pct2ResTime": 24.0,
            "pct3ResTime": 34.0,
            "throughput": 40.06038647342995,
            "receivedKBytesPerSec": 0.0,
            "sentKBytesPerSec": 0.0
          },
          "GET": {
            "transaction": "GET",
            "sampleCount": 16585.0,
            "errorCount": 0.0,
            "errorPct": 0.0,
            "meanResTime": 14.0,
            "medianResTime": 14.0,
            "maxResTime": 263.0,
            "minResTime": 9.0,
            "pct1ResTime": 20.0,
            "pct2ResTime": 24.0,
            "pct3ResTime": 34.0,
            "throughput": 40.06038647342995,
            "receivedKBytesPerSec": 0.0,
            "sentKBytesPerSec": 0.0
          }
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "url",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-01-08T07:37:54.7108469Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "url",
              "fileName": "sample.jmx",
              "fileType": "JMX_FILE",
              "expireDateTime": "2025-01-08T07:37:54.7103762Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "url",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-01-08T07:37:54.7109882Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "resultFileInfo": {
              "url": "url",
              "fileName": "csv.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-01-08T07:37:54.711255Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "logsFileInfo": {
              "url": "url",
              "fileName": "logs.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-01-08T07:37:54.7114202Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "virtualUsers": 7,
        "testRunId": "000-run",
        "displayName": "My New Load Test Run from PyTest",
        "testId": "000",
        "status": "DONE",
        "startDateTime": "2025-01-08T06:24:30Z",
        "endDateTime": "2025-01-08T06:31:24Z",
        "executedDateTime": "2025-01-08T06:23:22.468Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f00000000-0000-0000-0000-000000000000%2fresourcegroups%2frg-vensazure-developer-loadtesting%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fpysdstests/testId/000/testRunId/000-run",
        "duration": 414000,
        "createdDateTime": "2025-01-08T06:23:22.761Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-01-08T06:37:52.904Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/nonexistingresource?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-11-01-preview",
        "Content-Type": "application/json",
        "mise-correlation-id": "9fba8214-06c2-4252-8da7-c66bf390ee82",
        "x-ms-error-code": "TestRunNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "TestRunNotFound",
          "message": "Test run not found with given name \"nonexistingresource\".",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
