{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/some-test-id?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "",
        "displayName": "TestingResourcePyTest",
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "passFailCriteria": {
          "passFailMetrics": {
            "condition1": {
              "clientmetric": "response_time_ms",
              "aggregate": "avg",
              "condition": ">",
              "value": 300
            },
            "condition2": {
              "clientmetric": "error",
              "aggregate": "percentage",
              "condition": ">",
              "value": 50
            },
            "condition3": {
              "clientmetric": "latency",
              "aggregate": "avg",
              "condition": ">",
              "value": 200,
              "requestName": "GetCustomerDetails"
            }
          }
        },
        "secrets": {},
        "environmentVariables": {
          "my-variable": "value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "274ea430-1fc3-4e05-96b0-f3a150076fb4"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {
            "condition1": {
              "clientMetric": "response_time_ms",
              "aggregate": "avg",
              "condition": ">",
              "value": 300.0,
              "action": "continue"
            },
            "condition2": {
              "clientMetric": "error",
              "aggregate": "percentage",
              "condition": ">",
              "value": 50.0,
              "action": "continue"
            },
            "condition3": {
              "clientMetric": "latency",
              "aggregate": "avg",
              "condition": ">",
              "requestName": "GetCustomerDetails",
              "value": 200.0,
              "action": "continue"
            }
          },
          "passFailServerMetrics": {}
        },
        "environmentVariables": {
          "my-variable": "value"
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "some-test-id",
        "description": "",
        "displayName": "TestingResourcePyTest",
        "createdDateTime": "2025-03-24T06:05:49.101Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-24T06:05:49.101Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
