{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-profiles/some-test-profile-id?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "mise-correlation-id": "3725001d-e3ce-43ef-9ab4-cb3ce925b713"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
