{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?collectionId=pagedCollection174802458511208850&api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "35.2444"
      },
      "ResponseBody": {
        "collectionId": "pagedCollection174802458511208850"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions/35.2444/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "35.2444"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "35.2444"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?collectionId=pagedCollection174802458511208850&api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "35.2483"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-12-09-preview&collectionId=pagedCollection174802458511208850&fromTransactionId=2.1002",
        "state": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=pagedCollection174802458511208850&fromTransactionId=2.1002",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "35.2483"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-12-09-preview&collectionId=pagedCollection174802458511208850&fromTransactionId=2.1002",
        "state": "Loading"
      }
    },
[...]
