{
  "Entries": [
    {
      "RequestUri": "https://rovins-sweden.services.ai.azure.com/api/projects/swedenProject/agents/agentsTelemetryTests1/versions?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-5-mini",
          "instructions": "You are a prompt agent."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "agentsTelemetryTests1:1",
        "name": "agentsTelemetryTests1",
        "version": "1",
        "description": "",
        "created_at": 1763440364,
        "definition": {
          "kind": "prompt",
          "model": "gpt-5-mini",
          "instructions": "You are a prompt agent."
        }
      }
    },
    {
      "RequestUri": "https://rovins-sweden.services.ai.azure.com/api/projects/swedenProject/agents/agentsTelemetryTests1/versions/1?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "agentsTelemetryTests1",
        "version": "1",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "MODEL_DEPLOYMENT_NAME": "gpt-5-mini",
    "PROJECT_ENDPOINT": "https://rovins-sweden.services.ai.azure.com/api/projects/swedenProject"
  }
}
