{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTests5/versions?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o",
          "instructions": "You are a prompt agent."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "agentsTelemetryTests5:1",
        "name": "agentsTelemetryTests5",
        "version": "1",
        "description": "",
        "created_at": 1764194968,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o",
          "instructions": "You are a prompt agent."
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTests5?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o",
          "instructions": "You are a prompt agent."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent",
        "id": "agentsTelemetryTests5",
        "name": "agentsTelemetryTests5",
        "versions": {
          "latest": {
            "metadata": {},
            "object": "agent.version",
            "id": "agentsTelemetryTests5:1",
            "name": "agentsTelemetryTests5",
            "version": "1",
            "description": "",
            "created_at": 1764194968,
            "definition": {
              "kind": "prompt",
              "model": "gpt-4o",
              "instructions": "You are a prompt agent."
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTests5?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "agentsTelemetryTests5",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "MODEL_DEPLOYMENT_NAME": "gpt-4o",
    "PROJECT_ENDPOINT": "https://rovins-sweden.services.ai.azure.com/api/projects/swedenProject"
  }
}
