{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1720730178629?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1720730178629",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XhQjWB-ayiElbKRzNBJHDIZG3jYYwh0gqG_oKk-IATo\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:36:21 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTcx;sn=2804571"
      },
      "ResponseBody": {
        "etag": "XhQjWB-ayiElbKRzNBJHDIZG3jYYwh0gqG_oKk-IATo",
        "key": "key1-1720730178629",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:36:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1720730178629?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTcx"
      },
      "RequestBody": {
        "key": "key2-1720730178629",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"X2BV3lo3mbAHr_oyqRV7rl6aiCIaqzB-zsgiT1aPD8w\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:36:21 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTcy;sn=2804572"
      },
      "ResponseBody": {
        "etag": "X2BV3lo3mbAHr_oyqRV7rl6aiCIaqzB-zsgiT1aPD8w",
        "key": "key2-1720730178629",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:36:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720730178629?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTcy"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1720730178629",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Xt1_PrGgNngH0cDJeoMazqHEZNBWWvSFEAhOxic84b4\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:36:22 GMT",
        "Link": "</kv?snapshot=snapshot-1720730178629&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1720730178629&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTcz;sn=2804573"
      },
      "ResponseBody": {
        "etag": "Xt1_PrGgNngH0cDJeoMazqHEZNBWWvSFEAhOxic84b4",
        "name": "snapshot-1720730178629",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1720730178629",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:36:22+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1720730178629&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTcz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTcz;sn=2804573"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720730178629?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTc0"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"c0pgxvC-lQ4fsFqHggcCkym2kdQNoXteAyLMmTj3_QI\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:36:22 GMT",
        "Link": "</kv?snapshot=snapshot-1720730178629&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTc1;sn=2804575"
      },
      "ResponseBody": {
        "etag": "c0pgxvC-lQ4fsFqHggcCkym2kdQNoXteAyLMmTj3_QI",
        "name": "snapshot-1720730178629",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1720730178629",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:36:22+00:00",
        "expires": "2024-08-10T20:36:53.075762+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1720730178629?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"X2BV3lo3mbAHr_oyqRV7rl6aiCIaqzB-zsgiT1aPD8w\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:36:21 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTc3;sn=2804577"
      },
      "ResponseBody": {
        "etag": "X2BV3lo3mbAHr_oyqRV7rl6aiCIaqzB-zsgiT1aPD8w",
        "key": "key2-1720730178629",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:36:21+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1720730178629",
    "key2": "key2-1720730178629",
    "snapshot1": "snapshot-1720730178629"
  }
}
