{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1769396969472?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1769396969472",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wvWgoLX_b5wExHSrwLhvaVNqyt53hZwdWZFj5-6QKEM\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:09:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA2MA==;sn=103849060",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:32 GMT"
      },
      "ResponseBody": {
        "etag": "wvWgoLX_b5wExHSrwLhvaVNqyt53hZwdWZFj5-6QKEM",
        "key": "key1-1769396969472",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:09:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396969472?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTA2MA=="
      },
      "RequestBody": {
        "key": "key2-1769396969472",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qRKLjrQkWC8yT-T9r9NkQjRW8q4ailBOBgSkvvtrWfg\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:09:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA2MQ==;sn=103849061",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:32 GMT"
      },
      "ResponseBody": {
        "etag": "qRKLjrQkWC8yT-T9r9NkQjRW8q4ailBOBgSkvvtrWfg",
        "key": "key2-1769396969472",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:09:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396969472?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTA2MQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1769396969472",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"_6ingkdLygbJX7LLVY_AePwIbddsPNEUOE3X4zNkJFY\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:09:32 GMT",
        "Link": "</kv?snapshot=snapshot-1769396969472&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1769396969472&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA2Mg==;sn=103849062",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:32 GMT"
      },
      "ResponseBody": {
        "etag": "_6ingkdLygbJX7LLVY_AePwIbddsPNEUOE3X4zNkJFY",
        "name": "snapshot-1769396969472",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1769396969472",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T03:09:32.7113263+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1769396969472",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTA2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA2Mg==;sn=103849062",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:32 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396969472?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTA2Mw=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"CE5mmevcWt8u_tRJ9caukaBb1lospXBXKcRwNl7T4RE\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:09:48 GMT",
        "Link": "</kv?snapshot=snapshot-1769396969472&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA2NA==;sn=103849064",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:53 GMT"
      },
      "ResponseBody": {
        "etag": "CE5mmevcWt8u_tRJ9caukaBb1lospXBXKcRwNl7T4RE",
        "name": "snapshot-1769396969472",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1769396969472",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T03:09:32+00:00",
        "expires": "2026-02-25T03:09:53.4768433+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396969472?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTA2NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qRKLjrQkWC8yT-T9r9NkQjRW8q4ailBOBgSkvvtrWfg\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:09:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA2Ng==;sn=103849066",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:53 GMT"
      },
      "ResponseBody": {
        "etag": "qRKLjrQkWC8yT-T9r9NkQjRW8q4ailBOBgSkvvtrWfg",
        "key": "key2-1769396969472",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:09:32+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1769396969472",
    "key2": "key2-1769396969472",
    "snapshot1": "snapshot-1769396969472"
  }
}
