{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1759138804909?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1759138804909",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"R-72rhGgNZ_-mKcu6myWIMgukz158L3x-il1zwy04zc\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:40:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyOTI=;sn=74105292"
      },
      "ResponseBody": {
        "etag": "R-72rhGgNZ_-mKcu6myWIMgukz158L3x-il1zwy04zc",
        "key": "key1-1759138804909",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:40:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759138804909?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyOTI="
      },
      "RequestBody": {
        "key": "key2-1759138804909",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HB_5zvxgcSvQDNaDoCHls94SQuA4ZSJjoCBL5EKQteQ\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:40:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyOTM=;sn=74105293"
      },
      "ResponseBody": {
        "etag": "HB_5zvxgcSvQDNaDoCHls94SQuA4ZSJjoCBL5EKQteQ",
        "key": "key2-1759138804909",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:40:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759138804909?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyOTM="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1759138804909",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"O-eUD9r8QomZmPMY8FwddomuJkndy2fUt8YRzAr5vVQ\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:40:07 GMT",
        "Link": "</kv?snapshot=snapshot-1759138804909&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1759138804909&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyOTQ=;sn=74105294"
      },
      "ResponseBody": {
        "etag": "O-eUD9r8QomZmPMY8FwddomuJkndy2fUt8YRzAr5vVQ",
        "name": "snapshot-1759138804909",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1759138804909",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-29T09:40:07.7491821+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1759138804909",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyOTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyOTQ=;sn=74105294"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759138804909?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyOTU="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"egTLJHGX-pn2lC97L-dLUqMf0hcPgrnMwp8MrvpDnmI\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:40:22 GMT",
        "Link": "</kv?snapshot=snapshot-1759138804909&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyOTY=;sn=74105296"
      },
      "ResponseBody": {
        "etag": "egTLJHGX-pn2lC97L-dLUqMf0hcPgrnMwp8MrvpDnmI",
        "name": "snapshot-1759138804909",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1759138804909",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-29T09:40:07+00:00",
        "expires": "2025-10-29T09:40:28.807714+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759138804909?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyOTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HB_5zvxgcSvQDNaDoCHls94SQuA4ZSJjoCBL5EKQteQ\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:40:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyOTg=;sn=74105298"
      },
      "ResponseBody": {
        "etag": "HB_5zvxgcSvQDNaDoCHls94SQuA4ZSJjoCBL5EKQteQ",
        "key": "key2-1759138804909",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:40:07+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1759138804909",
    "key2": "key2-1759138804909",
    "snapshot1": "snapshot-1759138804909"
  }
}
