{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762281450977?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762281450977",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Eb_mIEmqGkPdl_saBeJgoNejlhP-70MaEL3Oo5Y1sUM\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0NDA=;sn=75060440",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:33 GMT"
      },
      "ResponseBody": {
        "etag": "Eb_mIEmqGkPdl_saBeJgoNejlhP-70MaEL3Oo5Y1sUM",
        "key": "key1-1762281450977",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:37:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762281450977?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0NDA="
      },
      "RequestBody": {
        "key": "key2-1762281450977",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2ull9E-kncNptw33K_N2frsH-EE4IatYNmyqeO_-gng\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0NDE=;sn=75060441",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:33 GMT"
      },
      "ResponseBody": {
        "etag": "2ull9E-kncNptw33K_N2frsH-EE4IatYNmyqeO_-gng",
        "key": "key2-1762281450977",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:37:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762281450977?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0NDE="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762281450977",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"eQmind0lxPnJEt7dUcPPv06UiwFDfUEE1LiFCmf9_KA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:33 GMT",
        "Link": "</kv?snapshot=snapshot-1762281450977&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762281450977&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0NDI=;sn=75060442",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:33 GMT"
      },
      "ResponseBody": {
        "etag": "eQmind0lxPnJEt7dUcPPv06UiwFDfUEE1LiFCmf9_KA",
        "name": "snapshot-1762281450977",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762281450977",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:37:33.7877708+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762281450977",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0NDI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0NDI=;sn=75060442",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:33 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762281450977?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0NDM="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"khTYEOqk_6ERox-G0g-HT6i8SLBdExPR9Z7ssqJ_Ups\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:34 GMT",
        "Link": "</kv?snapshot=snapshot-1762281450977&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0NDQ=;sn=75060444",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:45 GMT"
      },
      "ResponseBody": {
        "etag": "khTYEOqk_6ERox-G0g-HT6i8SLBdExPR9Z7ssqJ_Ups",
        "name": "snapshot-1762281450977",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762281450977",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:37:33+00:00",
        "expires": "2025-12-04T18:37:45.0641624+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762281450977?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0NDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2ull9E-kncNptw33K_N2frsH-EE4IatYNmyqeO_-gng\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0NDY=;sn=75060446",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:45 GMT"
      },
      "ResponseBody": {
        "etag": "2ull9E-kncNptw33K_N2frsH-EE4IatYNmyqeO_-gng",
        "key": "key2-1762281450977",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:37:33+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762281450977",
    "key2": "key2-1762281450977",
    "snapshot1": "snapshot-1762281450977"
  }
}
