{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "2124111772",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443306736_f7406233-0738-462a-8fe2-e6ab381837ec?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443306736_f7406233-0738-462a-8fe2-e6ab381837ec?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31443306736_f7406233-0738-462a-8fe2-e6ab381837ec",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-08-07T20:07:44Z",
        "lastUpdatedDateTime": "2024-08-07T20:07:44Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2124111772?api-version=2024-07-31-preview",
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443306736_f7406233-0738-462a-8fe2-e6ab381837ec?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31443306736_f7406233-0738-462a-8fe2-e6ab381837ec",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-08-07T20:07:44Z",
        "lastUpdatedDateTime": "2024-08-07T20:07:44Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2124111772?api-version=2024-07-31-preview",
        "percentCompleted": 0,
        "apiVersion": "2024-07-31-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443306736_f7406233-0738-462a-8fe2-e6ab381837ec?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31443306736_f7406233-0738-462a-8fe2-e6ab381837ec",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-08-07T20:07:44Z",
        "lastUpdatedDateTime": "2024-08-07T20:08:41Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2124111772?api-version=2024-07-31-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "2124111772",
          "createdDateTime": "2024-08-07T20:08:41Z",
          "expirationDateTime": "2026-08-07T20:08:41Z",
          "apiVersion": "2024-07-31-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          }
        },
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2124111772:analyze?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2124111772/analyzeResults/67d8da0d-742f-4a0b-8f3a-3afcd792bc10?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2124111772/analyzeResults/67d8da0d-742f-4a0b-8f3a-3afcd792bc10?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-08-07T20:08:43Z",
        "lastUpdatedDateTime": "2024-08-07T20:08:43Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2124111772/analyzeResults/67d8da0d-742f-4a0b-8f3a-3afcd792bc10?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-08-07T20:08:43Z",
        "lastUpdatedDateTime": "2024-08-07T20:08:43Z",
        "analyzeResult": {
          "apiVersion": "2024-07-31-preview",
          "modelId": "2124111772",
          "stringIndexType": "textElements",
          "content": "",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0.03523727133870125,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": []
            },
            {
              "pageNumber": 2,
              "angle": 0.03077106922864914,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": []
            },
            {
              "pageNumber": 3,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": []
            },
            {
              "pageNumber": 4,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": []
            }
          ],
          "documents": [
            {
              "docType": "IRS-1040-C",
              "boundingRegions": [
                {
                  "pageNumber": 1,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                },
                {
                  "pageNumber": 2,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                },
                {
                  "pageNumber": 3,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                },
                {
                  "pageNumber": 4,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                }
              ],
              "confidence": 0.325,
              "spans": []
            }
          ],
          "contentFormat": "text"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2124111772?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "1470095000"
  }
}
