{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "2103457635",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432573167_0830459e-5933-428e-b394-f71213d1efae?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432573167_0830459e-5933-428e-b394-f71213d1efae?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432573167_0830459e-5933-428e-b394-f71213d1efae",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-12-10T01:40:32Z",
        "lastUpdatedDateTime": "2024-12-10T01:40:32Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2103457635?api-version=2024-11-30",
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432573167_0830459e-5933-428e-b394-f71213d1efae?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432573167_0830459e-5933-428e-b394-f71213d1efae",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-12-10T01:40:32Z",
        "lastUpdatedDateTime": "2024-12-10T01:40:33Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2103457635?api-version=2024-11-30",
        "percentCompleted": 0,
        "apiVersion": "2024-11-30"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432573167_0830459e-5933-428e-b394-f71213d1efae?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432573167_0830459e-5933-428e-b394-f71213d1efae",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-12-10T01:40:32Z",
        "lastUpdatedDateTime": "2024-12-10T01:41:46Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2103457635?api-version=2024-11-30",
        "percentCompleted": 100,
        "result": {
          "classifierId": "2103457635",
          "createdDateTime": "2024-12-10T01:40:43Z",
          "modifiedDateTime": "2024-12-10T01:40:43Z",
          "expirationDateTime": "2026-12-10T01:40:43Z",
          "apiVersion": "2024-11-30",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          }
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2103457635:analyze?api-version=2024-11-30&stringIndexType=utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2103457635/analyzeResults/fdb3594e-2acc-462c-83ae-6595ef14b4e8?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2103457635/analyzeResults/fdb3594e-2acc-462c-83ae-6595ef14b4e8?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-12-10T01:41:49Z",
        "lastUpdatedDateTime": "2024-12-10T01:41:49Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2103457635/analyzeResults/fdb3594e-2acc-462c-83ae-6595ef14b4e8?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-12-10T01:41:49Z",
        "lastUpdatedDateTime": "2024-12-10T01:41:49Z",
        "analyzeResult": {
          "apiVersion": "2024-11-30",
          "modelId": "2103457635",
          "stringIndexType": "utf16CodeUnit",
          "content": "\n\n\n",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0.03840197995305061,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": []
            },
            {
              "pageNumber": 2,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": []
            },
            {
              "pageNumber": 3,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": []
            },
            {
              "pageNumber": 4,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": []
            }
          ],
          "documents": [
            {
              "docType": "IRS-1040-C",
              "boundingRegions": [
                {
                  "pageNumber": 1,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                },
                {
                  "pageNumber": 2,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                },
                {
                  "pageNumber": 3,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                },
                {
                  "pageNumber": 4,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                }
              ],
              "confidence": 0.291,
              "spans": []
            }
          ],
          "contentFormat": "text"
        }
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/2103457635?api-version=2024-11-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaornettesting.cognitiveservices.azure.com/",
    "RandomSeed": "425936853"
  }
}