{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-01-07T17:53:47.0971905Z",
          "Owners": "ankushb"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "mountName": "Sanitized-fileshare-01",
          "hostName": "fs-vlpsslpkxgrvblvt4.z35.file.storage.azure.net",
          "mediaTier": "SSD",
          "redundancy": "Local",
          "protocol": "NFS",
          "provisionedStorageGiB": 32,
          "provisionedStorageNextAllowedDowngrade": "2026-01-07T01:39:21+00:00",
          "provisionedIOPerSec": 3000,
          "provisionedIOPerSecNextAllowedDowngrade": "2026-01-07T01:39:21+00:00",
          "provisionedThroughputMiBPerSec": 125,
          "provisionedThroughputNextAllowedDowngrade": "2026-01-07T01:39:21+00:00",
          "includedBurstIOPerSec": 10000,
          "maxBurstIOPerSecCredits": 25200000,
          "nfsProtocolProperties": {
            "rootSquash": "NoRootSquash"
          },
          "publicAccessProperties": {
            "allowedSubnets": []
          },
          "provisioningState": "Succeeded",
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": [
            {
              "properties": {
                "privateEndpoint": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/privateEndpoints/Sanitized-fs-pe"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "",
                  "actionsRequired": "None"
                },
                "provisioningState": "Succeeded"
              },
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/privateEndpointConnections/Sanitized-fs-pe.07da8ec1-7a2c-43ae-942e-1cbfd46e9cda",
              "name": "Sanitized",
              "type": "Microsoft.FileShares/privateEndpointConnections"
            }
          ]
        },
        "tags": {
          "environment": "test",
          "purpose": "mcp-testing"
        },
        "location": "eastus",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01",
        "name": "Sanitized",
        "type": "Microsoft.FileShares/fileShares",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-01-07T01:39:19.3219691+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-01-07T01:39:19.3219691+00:00"
        }
      }
    }
  ],
  "Variables": {}
}
