{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FileShares/fileShares?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "586562cd65dc88b22c28f3e4559c7342",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "mountName": "Sanitized-fileshare-01",
              "hostName": "fs-vlpsslpkxgrvblvt4.z35.file.storage.azure.net",
              "mediaTier": "SSD",
              "redundancy": "Local",
              "protocol": "NFS",
              "provisionedStorageGiB": 32,
              "provisionedStorageNextAllowedDowngrade": "2026-01-07T01:39:21+00:00",
              "provisionedIOPerSec": 3000,
              "provisionedIOPerSecNextAllowedDowngrade": "2026-01-07T01:39:21+00:00",
              "provisionedThroughputMiBPerSec": 125,
              "provisionedThroughputNextAllowedDowngrade": "2026-01-07T01:39:21+00:00",
              "includedBurstIOPerSec": 10000,
              "maxBurstIOPerSecCredits": 25200000,
              "nfsProtocolProperties": {
                "rootSquash": "NoRootSquash"
              },
              "publicAccessProperties": {
                "allowedSubnets": []
              },
              "provisioningState": "Succeeded",
              "publicNetworkAccess": "Enabled"
            },
            "tags": {
              "environment": "test",
              "purpose": "mcp-testing"
            },
            "location": "eastus",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01",
            "name": "Sanitized",
            "type": "Microsoft.FileShares/fileShares",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-01-07T01:39:19.3219691+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-01-07T01:39:19.3219691+00:00"
            }
          },
          {
            "properties": {
              "mountName": "Sanitized-fileshare-02",
              "hostName": "fs-vlz420pzmgs3kjrjr.z6.file.storage.azure.net",
              "mediaTier": "SSD",
              "redundancy": "Local",
              "protocol": "NFS",
              "provisionedStorageGiB": 32,
              "provisionedStorageNextAllowedDowngrade": "2026-01-07T05:46:15+00:00",
              "provisionedIOPerSec"[...]
