{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FileShares/locations/eastus/getProvisioningRecommendation?api-version=2025-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "provisionedStorageGiB": 125
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "properties": {
          "provisionedIOPerSec": 3125,
          "provisionedThroughputMiBPerSec": 138,
          "availableRedundancyOptions": [
            "Local",
            "Zone"
          ]
        }
      }
    }
  ],
  "Variables": {}
}
