{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-03-13T17:42:51.1378261Z",
          "Owners": "ankushb"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01?api-version=2025-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "mountName": "Sanitized-fileshare-01",
          "hostName": "fs-vlcvdmgpgqlthkpt1.z46.file.storage.azure.net",
          "mediaTier": "SSD",
          "redundancy": "Local",
          "protocol": "NFS",
          "provisionedStorageGiB": 32,
          "provisionedStorageNextAllowedDowngrade": "2026-03-13T05:43:06+00:00",
          "provisionedIOPerSec": 3000,
          "provisionedIOPerSecNextAllowedDowngrade": "2026-03-13T05:43:06+00:00",
          "provisionedThroughputMiBPerSec": 125,
          "provisionedThroughputNextAllowedDowngrade": "2026-03-13T05:43:06+00:00",
          "includedBurstIOPerSec": 10000,
          "maxBurstIOPerSecCredits": 25200000,
          "nfsProtocolProperties": {
            "rootSquash": "NoRootSquash"
          },
          "publicAccessProperties": {
            "allowedSubnets": []
          },
          "provisioningState": "Succeeded",
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": [
            {
              "properties": {
                "privateEndpoint": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/privateEndpoints/Sanitized-fs-pe"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "Connection approved by live test",
                  "actionsRequired": "None"
                },
                "provisioningState": "Succeeded"
              },
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/privateEndpointConnections/Sanitized-fs-pe.0e59a2a3-1140-4841-92da-b15013d65024",
              "name": "Sanitized",
              "type": "Microsoft.FileShares/privateEndpointConnections"
            }
          ]
        },
        "tags": {
          "environment": "test",
          "purpose": "mcp-testing"
        },
        "location": "eastus",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01",
        "name": "Sanitized",
        "type": "Microsoft.FileShares/fileShares",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-13T05:43:01.1556894+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-13T05:43:01.1556894+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/privateEndpointConnections?api-version=2025-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "privateEndpoint": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/privateEndpoints/Sanitized-fs-pe"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Connection approved by live test",
                "actionsRequired": "None"
              },
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/privateEndpointConnections/Sanitized-fs-pe.0e59a2a3-1140-4841-92da-b15013d65024",
            "name": "Sanitized",
            "type": "Microsoft.FileShares/privateEndpointConnections"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
