{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:23:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1856152197"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A23%3A53.6183303Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName1856152197\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName1856152197",
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:23:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A23%3A54.3599111Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197/$metadata#tableName1856152197/@Element",
        "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A23%3A54.3599111Z\u0027\u0022",
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "2024-02-26T20:23:54.3599111Z"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:23:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A23%3A54.3599111Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197/$metadata#tableName1856152197/@Element",
        "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A23%3A54.3599111Z\u0027\u0022",
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "2024-02-26T20:23:54.3599111Z"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "X-Http-Method": "MERGE",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:23:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "MergeProperty": "foo",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A23%3A54.4477703Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197()?%24filter=RowKey\u002Beq\u002B%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:23:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A23%3A54.4477703Z\u0027\u0022",
            "Bool": true,
            "Integer": 1,
            "PartitionKey": "partition",
            "RowKey": "1",
            "String": "some string 1",
            "MergeProperty": "foo",
            "Timestamp": "2024-02-26T20:23:54.4477703Z"
          }
        ],
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#tableName1856152197"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName1856152197\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:23:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
