{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/jssli1779560625571?api-version=2025-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Live test SLI - measures latency of test API",
          "category": "Latency",
          "evaluationType": "WindowBased",
          "destinationAmwAccounts": [
            {
              "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/microsoft.monitor/accounts/amw-arm-sdk-tests-rg",
              "identity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg"
            }
          ],
          "baselineProperties": {
            "baseline": {
              "value": 99,
              "evaluationPeriodDays": 30,
              "evaluationCalculationType": "CalendarDays"
            }
          },
          "enableAlert": true,
          "sliProperties": {
            "signals": {
              "signalSources": [
                {
                  "signalSourceId": "A",
                  "sourceAmwAccountManagedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg",
                  "sourceAmwAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/microsoft.monitor/accounts/amw-arm-sdk-tests-rg",
                  "metricNamespace": "customdefault",
                  "metricName": "container_cpu_usage_seconds_total",
                  "filters": [
                    {
                      "dimensionName": "container",
                      "operator": "ne",
                      "value": "POD"
                    }
                  ],
                  "spatialAggregation": {
                    "type": "Sum",
                    "dimensions": [
                      "instance"
                    ]
                  },
                  "temporalAggregation": {
                    "type": "Rate",
                    "windowSizeMinutes": 1
                  }
                }
              ],
              "signalFormula": "A"
            },
            "windowUptimeCriteria": {
              "target": 95,
              "comparator": "gte"
            }
          }
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg": {}
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"c802ad4b-0000-0a00-0000-6a11f0d00000\"",
        "mise-correlation-id": "61e6315c-6810-49a8-9982-61ee2e87738a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-writes": "799"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.monitor/slis",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-23T18:24:13.1749871Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-23T18:24:13.1749871Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg": {
              "clientId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "description": "Live test SLI - measures latency of test API",
          "category": "Latency",
          "evaluationType": "WindowBased",
          "provisioningState": "Succeeded",
          "executionState": {
            "message": null,
            "state": "Pending"
          },
          "destinationAmwAccounts": [
            {
              "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/microsoft.monitor/accounts/amw-arm-sdk-tests-rg",
              "identity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg"
            }
          ],
          "destinationMetrics": [
            {
              "metricName": "jssli1779560625571:Value",
              "metricNamespace": "arm-sdk-tests-sg"
            },
            {
              "metricName": "jssli1779560625571:Uptime",
              "metricNamespace": "arm-sdk-tests-sg"
            },
            {
              "metricName": "jssli1779560625571:Downtime",
              "metricNamespace": "arm-sdk-tests-sg"
            }
          ],
          "baselineProperties": {
            "baseline": {
              "value": 99.0,
              "evaluationCalculationType": "CalendarDays",
              "evaluationPeriodDays": 30
            }
          },
          "streamingRuleId": "72f988bf-86f1-41af-91ab-2d7cd011db47_global_2fd76433-a308-4445-9567-edbd2e3f07ce",
          "streamingRuleLastUpdatedTimestamp": "2026-05-23T18:24:15.7903672Z",
          "enableAlert": true,
          "sliProperties": {
            "signals": {
              "signalFormula": "A",
              "signalSources": [
                {
                  "signalSourceId": "A",
                  "sourceAmwAccountManagedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg",
                  "sourceAmwAccou[...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/jssli1779560625571?api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"c802ad4b-0000-0a00-0000-6a11f0d00000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.monitor/slis",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-23T18:24:13.1749871Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-23T18:24:13.1749871Z"
        },
        "identity": {
          "type": "UserAssigned",
    [...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/jssli1779560625571?api-version=2025-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"c8023351-0000-0a00-0000-6a11f0d80000\"",
        "mise-correlation-id": "994d75b8-fc7b-4637-8909-4d9bcb482d04",
        "x-ms-failure-cause": "service",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-deletes": "800"
      },
      "ResponseBody": {
        "error": {
          "code": "UnspecifiedError",
          "message": "An unspecified error occurred.  (RequestId: 07ce8ab3-3657-47a8-a67e-754731d1356e, CorrelationId: f4b077e1-3b8c-444a-b1ae-e7e44da0421e)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/jssli1779560625571?api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource 'Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/jssli1779560625571' could not be found."
        }
      }
    }
  ],
  "Variables": {
    "sliName": "jssli1779560625571"
  }
}
