{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/assistants?api-version=sanitized-api-version",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "agent-for-python-projects-sdk-testing"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a19f7538-156f-47fb-91c4-17148dcc5e9d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.618"
      },
      "ResponseBody": {
        "id": "asst_gXINjIiJy6ts9w1KUF7ic534",
        "object": "assistant",
        "created_at": 1753993429,
        "name": "agent-for-python-projects-sdk-testing",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/assistants/asst_gXINjIiJy6ts9w1KUF7ic534?api-version=sanitized-api-version",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "169",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a4ee1322-f538-4cc4-8636-f1d728d611ea",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.451"
      },
      "ResponseBody": {
        "id": "asst_gXINjIiJy6ts9w1KUF7ic534",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
