{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG",
        "name": "testRG",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG/providers/Microsoft.CertificateRegistration/certificateOrders/myCertificateOrder?api-version=2023-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "distinguishedName": "CN=mycustomdomain.com",
          "validityInYears": 1,
          "productType": "StandardDomainValidatedSsl",
          "autoRenew": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG/providers/Microsoft.CertificateRegistration/certificateOrders/myCertificateOrder",
        "name": "myCertificateOrder",
        "type": "Microsoft.CertificateRegistration/certificateOrders",
        "location": "global",
        "tags": {},
        "properties": {
          "distinguishedName": "CN=mycustomdomain.com",
          "domainVerificationToken": "ueen1ffjqtfpm7qja9ii35doai",
          "validityInYears": 1,
          "keySize": 2048,
          "productType": "StandardDomainValidatedSsl",
          "autoRenew": true,
          "provisioningState": "Succeeded",
          "status": "Pendingissuance",
          "csr": "-----BEGIN NEW CERTIFICATE REQUEST-----\r\nMIIEQDCCAygCAQAwHTEbMBkGA1UEAwwSbXljdXN0b21kb21haW4uY29tMIIBIjAN\r\nBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoJ63HjtODDJM8xHVJiajPlQpueTI\r\nWNWusdyqu/i4EWOrDVIRicxNc1GNpV89BC7o+mOm8ZCiQ5jxUnRKe04goFxrQEfb\r\nShe/OI/jbV4bT9bejhHp4cwd2mzhyHC5ai4qGUgndzX1aI5ThqvpSPGGYKjtMR1L\r\nl75ntgFMM1WfIOyYgeYfT1shHS254zKv5LZbtj8TXlmhLROCvYSyT1fo2jDeWmX9\r\nJmk+gIbJz9RENzijTXFuTEIAAeOmHPVnxhEgBB+cH48KPM8jBG/01UbH9srTGkDg\r\nqnaivUUaCwpnxxRQ54ysl590+UDXqEpb7YR9M5996F31ZfV[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.CertificateRegistration/certificateOrders?api-version=2023-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG/providers/Microsoft.CertificateRegistration/certificateOrders/myCertificateOrder",
            "name": "myCertificateOrder",
            "type": "certificateOrders",
            "location": "global",
            "tags": {},
            "properties": {
              "distinguishedName": "CN=mycustomdomain.com",
              "domainVerificationToken": "ueen1ffjqtfpm7qja9ii35doai",
         [...]
