{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/datasets/sample-dataset-list-test/versions/1.0.2/startPendingUpload?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "connectionName": "00000",
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "239c3eb1-f1df-41fe-941d-0cf98669729e",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.770"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://00000.blob.core.windows.net:443/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/00000",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://00000.blob.core.windows.net/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7?sv=Sanitized&st=2026-03-18T16%3A48%3A28Z&se=2026-03-19T00%3A58%3A28Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://00000.blob.core.windows.net:443/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/00000",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://00000.blob.core.windows.net/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7?sv=Sanitized&st=2026-03-18T16%3A48%3A28Z&se=2026-03-19T00%3A58%3A28Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "TemporaryBlobReference",
        "version": "1.0.2"
      }
    },
    {
      "RequestUri": "https://00000.blob.core.windows.net/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7/sample_file1.txt?sv=Sanitized&st=2026-03-18T16%3A48%3A28Z&se=2026-03-19T00%3A58%3A28Z&sr=c&sp=rcwl&sig=Sanitized&comp=block&blockid=sanitized_blockid",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "U2FtcGxlIGZpbGUgMSBjb250ZW50IGZvciB0ZXN0aW5nIGRhdGFzZXRzIHVwbG9hZCBmdW5jdGlvbmFsaXR5Lgo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "p9jaLspLYF8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://00000.blob.core.windows.net/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7/sample_file1.txt?sv=Sanitized&st=2026-03-18T16%3A48%3A28Z&se=2026-03-19T00%3A58%3A28Z&sr=c&sp=rcwl&sig=Sanitized&comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><BlockList><Latest>YTg0NzkwN2MtYjI4Mi00ZTlkLThjYWYtZDBmZWU3MTc1OTRjMDAwMDAwMDAwMDAw</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE850F941A0DB8\"",
        "Last-Modified": "Wed, 18 Mar 2026 16:58:28 GMT",
        "x-ms-content-crc64": "TPq6hAi1NQo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/datasets/sample-dataset-list-test/versions/1.0.2?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://00000.blob.core.windows.net/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7/sample_file1.txt?sv=Sanitized&st=2026-03-18T16%3A48%3A28Z&se=2026-03-19T00%3A58%3A28Z&sr=c&sp=rcwl&sig=Sanitized",
        "type": "uri_file"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b7420b8c-d0fe-48a5-b161-182b8e3c918d",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "1.754"
      },
      "ResponseBody": {
        "id": "azureai://accounts/rovins-sweden/projects/swedenProject/data/sample-dataset-list-test/versions/1.0.2",
        "name": "sample-dataset-list-test",
        "version": "1.0.2",
        "displayName": "sample-dataset-list-test",
        "description": null,
        "tags": {},
        "type": "uri_file",
        "isReference": false,
        "dataUri": "https://00000.blob.core.windows.net/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7/sample_file1.txt?sv=Sanitized&st=2026-03-18T16%3A48%3A28Z&se=2026-03-19T00%3A58%3A28Z&sr=c&sp=rcwl&sig=Sanitized",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2026-03-18T16:58:29.0711782+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2026-03-18T16:58:29.0711782+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/datasets/sample-dataset-list-test/versions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9e7724d0-00f2-4d97-9231-69c04b71a2c3",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "azureai://accounts/rovins-sweden/projects/swedenProject/data/sample-dataset-list-test/versions/1.0.2",
            "name": "sample-dataset-list-test",
            "version": "1.0.2",
            "displayName": "sample-dataset-list-test",
            "description": null,
            "tags": {},
            "type": "uri_file",
            "isReference": false,
            "dataUri": "https://00000.blob.core.windows.net/rovins-swe-02be3506-386f-52cc-b7c6-4f96cbed65b7/sample_file1.txt?sv=Sanitized&st=2026-03-18T16%3A48%3A28Z&se=2026-03-19T00%3A58%3A28Z&sr=c&sp=rcwl&sig=Sanitized",
            "isSingleFile": false,
            "connectionName": null,
            "systemData": {
              "createdAt": "2026-03-18T16:58:29.0711782+00:00",
              "createdBy": "Sanitized",
              "createdByType": null,
              "lastModifiedAt": "2026-03-18T16:58:29.0711782+00:00"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/datasets/sample-dataset-list-test/versions/1.0.2?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "mise-correlation-id": "695da988-46ed-4e4e-89b1-4a6f0f7c9781",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "2.208"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
