{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911708454006605?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE59FCB363CD3C\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:25:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2026-01-22T20:25:00Z</Start><Expiry>2026-01-23T21:25:00Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>51291b7b-d07c-424e-b934-042c148c6a56</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-22T20:25:00Z</SignedStart><SignedExpiry>2026-01-23T21:25:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911708454006605?sv=Sanitized&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-01-22T20%3A25%3A00Z&ske=2026-01-23T21%3A25%3A00Z&sks=b&skv=2026-02-06&sr=c&sp=racwdxltme&sig=sanitizedsig&comp=list&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"container176911708454006605\"><Blobs /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911708454006605?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container176911708454006605",
    "now": "2026-01-22T21:25:00.990Z",
    "tmr": "2026-01-22T21:25:00.991Z"
  }
}
