{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/scopingConfigurations/default?api-version=2024-06-27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "381f48c0-840c-4101-aa65-f571b34629d1",
        "X-ms-Operation-Id": "636281962d188c1752a618d45b5ae075",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/scopingConfigurations/default",
        "name": "default",
        "type": "Microsoft.AppComplianceAutomation/reports/scopingConfigurations",
        "properties": {
          "answers": [],
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/scopingConfigurations/default?api-version=2024-06-27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": {
        "properties": {
          "answers": [
            {
              "questionId": "GEN20_hostingEnvironment",
              "answers": [
                "Saas"
              ]
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e6dc121a-be71-4321-96c6-b4d2686723eb",
        "X-ms-Operation-Id": "4bf47c1317bc0a3e2b2db7ff9391488d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-writes": "1198"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/scopingConfigurations/default",
        "name": "default",
        "type": "microsoft.appcomplianceautomation/reports/scopingconfigurations",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-08-13T04:53:23.0246636Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-08-13T04:53:23.0246636Z"
        },
        "properties": {
          "answers": [
            {
              "questionId": "GEN20_hostingEnvironment",
              "answers": [
                "Saas"
              ]
            }
          ],
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/scopingConfigurations/default?api-version=2024-06-27",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4b9f6c18-958a-4bef-ba1b-04aeee0a6857",
        "X-ms-Operation-Id": "3b5cc4f6cc38c1e595a8c5bae62c415f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-deletes": "14999"
      },
      "ResponseBody": "null"
    }
  ],
  "Variables": {
    "RandomSeed": "600813155",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SERVICE_MANAGEMENT_URL": "https://management.core.windows.net/",
    "SUBSCRIPTION_ID": "120b982f-6bd3-4b60-98d2-a7b7ecd6c78e"
  }
}
