{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.core.azure.com/ledgerIdentity/fake?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03020.245-cd77d0d5c8109fe7bf9e3ea1e1bb58b23d8a69d4",
        "x-ms-machineName": "identityservice-774866d8dd-6pwgd"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQVGUWh13toT0jiyfR8VP2ETAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTAzMzExNjI5NTZaFw0yNTA2MjkxNjI5\nNTVaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEexCqiXHb14I+pNKSE3Iqzbr5KZVmquEKMeuRmC1wKOXnZxkauqhTX+Dl\nOJCz58GH+iY0mOD/gIUAFhZyLW7ibqNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUHuOeoTbmEsOEuPYIoGkirKQOytowHwYDVR0jBBgwFoAUHuOeoTbm\nEsOEuPYIoGkirKQOytowCgYIKoZIzj0EAwIDSQAwRgIhAK9ScZ8UpOBkgJutIYMM\nFSP6iqY630s55w47BE/5qLHpAiEA3Q0B8Rb793gMxqv6dw1rlM2V5AyJJidb/97X\n/EbqQJY=\n-----END CERTIFICATE-----\n",
        "ledgerId": "fake"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test.js",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "Sanitized",
            "module": "\n                        import { foo } from \"./bar/baz.js\";\n\n                        export function content(request) {\n                            return {\n                                statusCode: 200,\n                                body: {\n                                    payload: foo(),\n                                },\n                            };\n                        }\n                        "
          },
          {
            "name": "Sanitized",
            "module": "\n                        export function foo() {\n                            return \"Test content\";\n                        }\n                        "
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "25.4984"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "25.4984"
      },
      "ResponseBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "GET": {
                "authn_policies": [
                  "no_auth"
                ],
                "forwarding_required": "never",
                "js_function": "content",
                "js_module": "test.js",
                "mode": "readonly",
                "openapi": {},
                "redirection_strategy": "none"
              }
            }
          }
        },
        "modules": [
          {
            "module": "\n                        import { foo } from \"./bar/baz.js\";\n\n                        export function content(request) {\n                            return {\n                                statusCode: 200,\n                                body: {\n                                    payload: foo(),\n                                },\n                            };\n                        }\n                        ",
            "name": "Sanitized"
          },
          {
            "module": "\n                        export function foo() {\n                            return \"Test content\";\n                        }\n                        ",
            "name": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
