{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.core.azure.com/ledgerIdentity/fake?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03449.440-81a671faab397038dc459c408a92492cafd98be1",
        "x-ms-machineName": "identityservice-68c875db66-qf7l8"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBkTCCATagAwIBAgIQdDjaNezW9UkVAvbFttu9iDAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNjA2MTYxNDE1MzVaFw0yNjA5MTQxNDE1\nMzRaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEgkBuiNiZqNqQCkzvtvlDWhapRYkgGwfTJwICniPdYwCWWtl4/xoIQAZJ\nnqDOX76J+RUr8aY10YrqKq4YoKeo6qNmMGQwEgYDVR0TAQH/BAgwBgEB/wIBATAO\nBgNVHQ8BAf8EBAMCAoQwHQYDVR0OBBYEFHseyolUc+vgyJQ1rBK+Mp9UrP/bMB8G\nA1UdIwQYMBaAFHseyolUc+vgyJQ1rBK+Mp9UrP/bMAoGCCqGSM49BAMCA0kAMEYC\nIQCucjEvT50PhFXGttAODtEv2vsoTwYTari/ReylRNfKygIhAK7VcHcPQu/tVGla\nXtYGeGYWI1KLwGILlD57R2Z+8hSX\n-----END CERTIFICATE-----\n",
        "ledgerId": "fake"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2026-02-23&collectionId=0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "message-0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.495"
      },
      "ResponseBody": {
        "collectionId": "0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions/2.504/status?api-version=2026-02-23",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.504"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.504"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2026-02-23&collectionId=0&fromTransactionId=2.495&toTransactionId=2.500",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.505"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2026-02-23&collectionId=0&fromTransactionId=2.495&toTransactionId=2.500",
        "state": "Loading"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2026-02-23&collectionId=4&fromTransactionId=2.499&toTransactionId=2.504",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.505"
      },
      "ResponseBody": {
        "entries": [
          {
            "collectionId": "4",
            "contents": "message-4",
            "transactionId": "2.499"
          },
          {
            "collectionId": "4",
            "contents": "message-9",
            "transactionId": "2.504"
          }
        ],
        "state": "Ready"
      }
    }
  ],
  "Variables": {}
}
