{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.core.azure.com/ledgerIdentity/fake?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03020.245-cd77d0d5c8109fe7bf9e3ea1e1bb58b23d8a69d4",
        "x-ms-machineName": "identityservice-774866d8dd-f8k85"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQVGUWh13toT0jiyfR8VP2ETAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTAzMzExNjI5NTZaFw0yNTA2MjkxNjI5\nNTVaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEexCqiXHb14I+pNKSE3Iqzbr5KZVmquEKMeuRmC1wKOXnZxkauqhTX+Dl\nOJCz58GH+iY0mOD/gIUAFhZyLW7ibqNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUHuOeoTbmEsOEuPYIoGkirKQOytowHwYDVR0jBBgwFoAUHuOeoTbm\nEsOEuPYIoGkirKQOytowCgYIKoZIzj0EAwIDSQAwRgIhAK9ScZ8UpOBkgJutIYMM\nFSP6iqY630s55w47BE/5qLHpAiEA3Q0B8Rb793gMxqv6dw1rlM2V5AyJJidb/97X\n/EbqQJY=\n-----END CERTIFICATE-----\n",
        "ledgerId": "fake"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "message-0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "25.4928"
      },
      "ResponseBody": {
        "collectionId": "0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions/25.4939/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "25.4940"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "25.4939"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=0&fromTransactionId=25.4928&toTransactionId=25.4934",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "25.4940"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-12-09-preview&collectionId=0&fromTransactionId=25.4928&toTransactionId=25.4934",
        "state": "Loading"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=4&fromTransactionId=25.4933&toTransactionId=25.4939",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "25.4940"
      },
      "ResponseBody": {
        "entries": [
          {
            "collectionId": "4",
            "contents": "message-4",
            "transactionId": "25.4933"
          },
          {
            "collectionId": "4",
            "contents": "message-9",
            "transactionId": "25.4939"
          }
        ],
        "state": "Ready"
      }
    }
  ],
  "Variables": {}
}
