{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.core.azure.com/ledgerIdentity/fake?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03020.245-cd77d0d5c8109fe7bf9e3ea1e1bb58b23d8a69d4",
        "x-ms-machineName": "identityservice-774866d8dd-mvjbv"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBfzCCASagAwIBAgIQUKJoGMrCO4WvXIMhAzYmXjAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTA0MjMwNDQwNTlaFw0yNTA3MjIwNDQw\nNThaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAE82QmjNOD0pMq9mYbxPCsK0MYcuLAgHHLPr8Z2F6DldBem1ZZ2th/AVo6\nXi62vKM6YyU2hLGC3iEXtPzPqPO5HaNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUyWRcB4JZuK0VI7Oo/V+u8fduh0YwHwYDVR0jBBgwFoAUyWRcB4JZ\nuK0VI7Oo/V+u8fduh0YwCgYIKoZIzj0EAwIDRwAwRAIgHkRGYqD/ZfYjwvFOuD0l\nJahCdQ5TF4mr8RmTTsn5qy4CIE1rwVZUS+qjgG1xIyH6YI0q/NZ/HfgrHTV+3+Bu\n2B0Q\n-----END CERTIFICATE-----\n",
        "ledgerId": "fake"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test.js",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "Sanitized",
            "module": "\n                        import { foo } from \"./bar/baz.js\";\n\n                        export function content(request) {\n                            return {\n                                statusCode: 200,\n                                body: {\n                                    payload: foo(),\n                                },\n                            };\n                        }\n                        "
          },
          {
            "name": "Sanitized",
            "module": "\n                        export function foo() {\n                            return \"Test content\";\n                        }\n                        "
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.123"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.123"
      },
      "ResponseBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "GET": {
                "authn_policies": [
                  "no_auth"
                ],
                "forwarding_required": "never",
                "js_function": "content",
                "js_module": "test.js",
                "mode": "readonly",
                "openapi": {},
                "redirection_strategy": "none"
              }
            }
          }
        },
        "modules": [
          {
            "module": "\n                        import { foo } from \"./bar/baz.js\";\n\n                        export function content(request) {\n                            return {\n                                statusCode: 200,\n                                body: {\n                                    payload: foo(),\n                                },\n                            };\n                        }\n                        ",
            "name": "Sanitized"
          },
          {
            "module": "\n                        export function foo() {\n                            return \"Test content\";\n                        }\n                        ",
            "name": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
