{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.core.azure.com/ledgerIdentity/fake?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03172.301-ec7aeca33224fadd8243872ad8481b3c61d6a9c9",
        "x-ms-machineName": "identityservice-57f7df4d9-b9hxd"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQBpcR2ILYhiLnrjGYB0iWQDAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTA5MTgxNzMxMTFaFw0yNTEyMTcxNzMx\nMTBaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEugU4FkXDI0MAlnJfiMsVPHAudB4O8aeVkvNB3Egln17YAMyQjtKeiCym\nZ5LzbjZqCNo3tCvbCDuxc/b/hQbSTqNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUH8nt5sciUbgNjRl2dzZa0xce5qUwHwYDVR0jBBgwFoAUH8nt5sci\nUbgNjRl2dzZa0xce5qUwCgYIKoZIzj0EAwIDSQAwRgIhALbrVOwtX68VK2lJBKCu\nY4kxt5qwuKPBqd7wKXTLIYqGAiEAioGuAaRk2wKv5a+YdbwNjYqChUOdKIkN3Ttw\n0d7tDjk=\n-----END CERTIFICATE-----\n",
        "ledgerId": "fake"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "get": {
                "js_module": "test.js",
                "js_function": "content",
                "forwarding_required": "never",
                "redirection_strategy": "none",
                "authn_policies": [
                  "no_auth"
                ],
                "mode": "readonly",
                "openapi": {}
              }
            }
          }
        },
        "modules": [
          {
            "name": "Sanitized",
            "module": "\n                        import { foo } from \"./bar/baz.js\";\n\n                        export function content(request) {\n                            return {\n                                statusCode: 200,\n                                body: {\n                                    payload: foo(),\n                                },\n                            };\n                        }\n                        "
          },
          {
            "name": "Sanitized",
            "module": "\n                        export function foo() {\n                            return \"Test content\";\n                        }\n                        "
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-ccf-transaction-id": "2.339"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/userDefinedEndpoints?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.340"
      },
      "ResponseBody": {
        "metadata": {
          "endpoints": {
            "/content": {
              "GET": {
                "authn_policies": [
                  "no_auth"
                ],
                "forwarding_required": "never",
                "js_function": "content",
                "js_module": "test.js",
                "mode": "readonly",
                "openapi": {},
                "redirection_strategy": "none"
              }
            }
          }
        },
        "modules": [
          {
            "module": "\n                        import { foo } from \"./bar/baz.js\";\n\n                        export function content(request) {\n                            return {\n                                statusCode: 200,\n                                body: {\n                                    payload: foo(),\n                                },\n                            };\n                        }\n                        ",
            "name": "Sanitized"
          },
          {
            "module": "\n                        export function foo() {\n                            return \"Test content\";\n                        }\n                        ",
            "name": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
