{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.core.azure.com/ledgerIdentity/fake?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.03011.237-8eb772224b8dc663d3bef6b87f3f877faa4bbbc7",
        "x-ms-machineName": "identityservice-76447dd8bb-kvmc6"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQVGUWh13toT0jiyfR8VP2ETAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTAzMzExNjI5NTZaFw0yNTA2MjkxNjI5\nNTVaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEexCqiXHb14I+pNKSE3Iqzbr5KZVmquEKMeuRmC1wKOXnZxkauqhTX+Dl\nOJCz58GH+iY0mOD/gIUAFhZyLW7ibqNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUHuOeoTbmEsOEuPYIoGkirKQOytowHwYDVR0jBBgwFoAUHuOeoTbm\nEsOEuPYIoGkirKQOytowCgYIKoZIzj0EAwIDSQAwRgIhAK9ScZ8UpOBkgJutIYMM\nFSP6iqY630s55w47BE/5qLHpAiEA3Q0B8Rb793gMxqv6dw1rlM2V5AyJJidb/97X\n/EbqQJY=\n-----END CERTIFICATE-----\n",
        "ledgerId": "fake"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "message-0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2921"
      },
      "ResponseBody": {
        "collectionId": "0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions/2.2932/status?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2933"
      },
      "ResponseBody": {
        "state": "Committed",
        "transactionId": "2.2932"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=0&fromTransactionId=2.2921&toTransactionId=2.2928",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2933"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-12-09-preview&collectionId=0&fromTransactionId=2.2921&toTransactionId=2.2928",
        "state": "Loading"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-12-09-preview&collectionId=4&fromTransactionId=2.2926&toTransactionId=2.2932",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.2933"
      },
      "ResponseBody": {
        "entries": [
          {
            "collectionId": "4",
            "contents": "message-4",
            "transactionId": "2.2926"
          },
          {
            "collectionId": "4",
            "contents": "message-9",
            "transactionId": "2.2932"
          }
        ],
        "state": "Ready"
      }
    }
  ],
  "Variables": {}
}
