{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.core.azure.com/ledgerIdentity/fake?api-version=2024-08-22-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-tag": "1.0.02943.192-c216a8c095a69413276adbebdcab4675d63d713e",
        "x-ms-machineName": "identityservice-5d75844c79-tp9qt"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBgTCCASagAwIBAgIQaLUVNGNMZwwvJaBj7TeEcjAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgU2VydmljZTAeFw0yNTAxMTUyMjEyNTFaFw0yNTA0MTUyMjEy\nNTBaMBYxFDASBgNVBAMMC0NDRiBTZXJ2aWNlMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAETGHnGceXNvrXR7dCNSjdqr9VOs8MevDbdemvRlipSkNZAO+ke6oLWiYX\n/j/2980VMNJdogXsz8pxBw3qOg3QbqNWMFQwEgYDVR0TAQH/BAgwBgEB/wIBATAd\nBgNVHQ4EFgQUog+A5wZV9ZxAiHDduhnEsKSIPZowHwYDVR0jBBgwFoAUog+A5wZV\n9ZxAiHDduhnEsKSIPZowCgYIKoZIzj0EAwIDSQAwRgIhAPgxAv5mFV5udcm1Qz/P\n/WfSDHjd26VCn6Z1iS6Fw8lUAiEAkgDw6bEYzCI9OyMdU8+A2WPFB2K9JWa6gw6M\nkwhTPDQ=\n-----END CERTIFICATE-----\n",
        "ledgerId": "fake"
      }
    },
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-08-22-preview&collectionId=0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "message-0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "8.6249"
      },
      "ResponseBody": {
        "collectionId": "0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions/8.6261/status?api-version=2024-08-22-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "8.6261"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "8.6261"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-08-22-preview&collectionId=0&fromTransactionId=8.6249&toTransactionId=8.6255",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "8.6262"
      },
      "ResponseBody": {
        "entries": [],
        "nextLink": "/app/transactions?api-version=2024-08-22-preview&collectionId=0&fromTransactionId=8.6249&toTransactionId=8.6255",
        "state": "Loading"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?api-version=2024-08-22-preview&collectionId=4&fromTransactionId=8.6254&toTransactionId=8.6261",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "8.6262"
      },
      "ResponseBody": {
        "entries": [
          {
            "collectionId": "4",
            "contents": "message-4",
            "transactionId": "8.6254"
          },
          {
            "collectionId": "4",
            "contents": "message-9",
            "transactionId": "8.6261"
          }
        ],
        "state": "Ready"
      }
    }
  ],
  "Variables": {}
}
