{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/655097cd30ec45709bfd3c134df7cb3a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "03a495oIDMuxar82mpPrmGfiM9-ybPtnPkyG89Jzysx94ylTKH2lwWDpwgoivbeKSSUkSdPcA0ys1lqNqQR4TZPubZDeWHSprh8gZQQh4OFHLxz3p8j2GbzbsqvB4CCpSKGO_6ADKzB84Yz0Nb0sI8EzYhr7OJH-lveBqcASh30bg6Y-11BeYzBbC_vwZzOtZZkWzRJBwoFLBeWDkZF6WHOL1WnMAjc2qMsCsPKL4k80HQH8m6ZN6nIY5RCydR6YYIVL5ZH_rNy7KXRq-W_klu9UTAUzxNm1d6En9z9rHNIR6Y9HCNTk1SqV2-l2uFGzmuOIhaQdKqrbsUMpzOlZnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515979,
          "updated": 1778515979,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
