{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/2bb7dd66e48341c2bee59ce485ab6039",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1nosPUyiJL0UlS0ZUdphnzEjj7-JZYnofKKF3Dq7aSS2B6NjfLObijX7nOHvxN375NNbvxjAlUPEIpDqy7MdWjFqVxAM--2XZVM4WG-_1V2egMOzE1Hxf0Jyv8oxaDl9J4fTye7Ua6gy3gicfVnuBkJsc6txJ-Zcq6EYMxMuC_VjM0OJetghu4kSY0L0hUR7QJyQEHCBNcbX0d5EeprqR-1hF4KHoCTFEoxKqMlhaOupa6fL6V2Sf92D1cUyOyn4Ju9A2tw2Op1-QY1Ku6iqvIqN1rbGfYGXq40nfJKbra3n2sPnD86pPeB7_5uczwOU2vzrXMYugCVOpRTMgkMn9Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051168,
          "updated": 1777051168,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
