{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/f4cf7657504a4eafb03594289b048c48",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qjLDOXwcQpXyCDWmOuXjfT1c5SwZsXbA8_E8Csng-_zPm0iJXGOiBCYUrv6W6mJ_Mh_2Jx0eboSDFt9Y4pBHadlDhSVTdq0pALZgIWiVP8BKw7yBMbcronealhkis7CUoct8UhnSUB7OWvy483yhNk6H5XbEbISKv6WkBcsh443rPQsMFz88Qbl1m9yKEGFEYj0fVli-y0Rn9XE1O5LE0utjSg43M8AJROshiVjPf6YXLEhSvgRokzFqXeo7Q4fv12H_sYunbCf6fiqI7xR8_a90TouJ0cc48gK3wOg-o75FeuS9ytY34lAW_nohMtOM8VJ7rzq1i0NJQ8jBnvgKhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063060,
          "updated": 1732063060,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
