{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/4e2ab36b62a34305b966382bd354771f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zRvTU04ZxNSpX0LhLY5jg_JEtmAe385izBgwypq9V-KQ0RPMJg106wt-t5jp4XmB_hD9ASzDR6dGo5TFsGlFMxAe-BuGgD3lhDQMUE0QZWyO5x6b5UglhKu4YKSEffGXf1u8mb17xxyPbGIDZXOh7maRHXi_wgqAFLjicgN7EdnJHvWthJhScUxvtHgIOfxcIPmEAm6sBa1qXjaAsUcB3kMWFuy-w_Rr_uaAL_fe6dVVQRhXSvpJptlDx44iwX759XGNElMzVzpRHMtEttrjWVhHrxWBqoU4oQFUHmS4rm2CQUpZO7CF8i1zJxSnPvETEdg_7-ulkVW2uxvfZ65PYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587645,
          "updated": 1778587645,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
