{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions"
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "GithubCopilotForAzure-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Microsoft",
            "domains": [
              "drawbridge.com",
              "expresslogic.com",
              "euevents.microsoft.com",
              "nonprofits.microsoft.com",
              "benefits.microsoft.com",
              "forzaesports.com",
              "bons.ai",
              "azmosa.io",
              "fslogix.com",
              "Howdy.ai",
              "Xoxco.com",
              "Botkit.ai",
              "glintinc.com",
              "maquette.ms",
              "tibazdev.microsoft.com",
              "[...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'Microsoft.ContainerService/managedClusters' | limit 50"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-incomplete-scopes-state": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.1051017",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 2,
        "count": 2,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/marcostest",
            "name": "Sanitized",
            "type": "microsoft.containerservice/managedclusters",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "Base",
            "location": "westus2",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "managedBy": "",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard"
            },
            "plan": null,
            "properties": {
              "provisioningState": "Succeeded",
              "securityProfile": {
                "workloadIdentity": {
                  "enabled": true
                },
                "imageCleaner": {
                  "enabled": true,
                  "intervalHours": 168
                }
              },
              "storageProfile": {
                "snapshotController": {
                  "enabled": true
                },
                "diskCSIDriver": {
                  "enabled": true
                },
                "fileCSIDriver": {
                  "enabled": true
                }
              },
              "networkProfile": {
                "loadBalancerProfile": {
                  "effectiveOutboundIPs": [
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/publicIPAddresses/67ad258a-e66c-4e95-9105-be5591385535"
                    }
                  ],
                  "backendPoolType": "nodeIPConfiguration",
                  "managedOutboundIPs": {
                    "count": 1
                  }
                },
                "loadBalancerSku": "standard",
                "networkDataplane": "cilium",
                "networkPlugin": "azure",
                "networkPolicy": "cilium",
                "outboundType": "loadBalancer",
                "dnsServiceIP": "10.0.0.10",
                "serviceCidr": "10.0.0.0/16",
                "serviceCidrs": [
                  "10.0.0.0/16"
                ],
                "ipFamilies": [
                  "IPv4"
                ],
                "networkPluginMode": "overlay",
                "podCidr": "10.244.0.0/16",
                "podCidrs": [
                  "10.244.0.0/16"
                ],
                "advancedNetworking": {
                  "enabled": false,
                  "observability": {
                    "enabled": false
                  },
                  "performance": {
                    "accelerationMode": "None"
                  },
                  "security": {
                    "enabled": false,
                    "advancedNetworkPolicies": "None"
                  }
                }
              },
              "powerState": {
                "code": "Running"
              },
              "fqdn": "marcostest-dns-fexr8jfh.hcp.westus2.azmk8s.io",
              "workloadAutoScalerProfile": {},
              "servicePrincipalProfile": {
                "clientId": "00000000-0000-0000-0000-000000000000"
              },
              "currentKubernetesVersion": "1.34.8",
              "nodeProvisioningProfile": {
                "mode": "Manual",
                "defaultNodePools": "Auto"
              },
              "kubernetesVersion": "1.34.8",
              "apiServerAccessProfile": {
                "enablePrivateCluster": false
              },
              "autoUpgradeProfile": {
                "nodeOSUpgradeChannel": "NodeImage",
                "upgradeChannel": "patch"
              },
              "nodeResourceGroup": "MC_marcosakstest_marcostest_eastus",
              "agentPoolProfiles": [
                {
                  "provisioningState": "Succeeded",
                  "name": "Sanitized",
                  "type": "VirtualMachineScaleSets",
                  "securityProfile": {
                    "enableSecureBoot": false,
                    "enableVTPM": false
                  },
                  "osType": "Linux",
                  "count": 2,
                  "powerState": {
                    "code": "Running"
                  },
                  "vmSize": "Standard_D8ds_v5",
                  "mode": "System",
                  "currentOrchestratorVersion": "1.34.8",
                  "orchestratorVersion": "1.34.8",
                  "enableNodePublicIP": false,
                  "enableAutoScaling": true,
                  "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202605.27.0",
                  "upgradeSettings": {
                    "maxSurge": "10%",
                    "maxUnavailable": "0"
                  },
                  "kubeletDiskType": "OS",
                  "scaleDownMode": "Delete",
                  "osDiskSizeGB": 300,
                  "enableFIPS": false,
                  "osDiskType": "Ephemeral",
                  "availabilityZones": [
                    "3"
                  ],
                  "maxPods": 110,
                  "maxCount": 5,
                  "osSKU": "Ubuntu",
                  "minCount": 2,
                  "eTag": "fa6c5d87-a160-414f-91e6-cdb3cb932bf8",
                  "nodeTaints": [
                    "CriticalAddonsOnly=true:NoSchedule"
                  ]
                },
                {
                  "provisioningState": "Succeeded",
                  "name": "Sanitized",
                  "type": "VirtualMachineScaleSets",
                  "securityProfile": {
                    "enableSecureBoot": false,
                    "enableVTPM": false
                  },
                  "osType": "Linux",
                  "count": 2,
                  "powerS[...]
[...]
