{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions"
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Devdiv_AzureCopilotExtension",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Microsoft",
            "domains": [
              "drawbridge.com",
              "expresslogic.com",
              "euevents.microsoft.com",
              "nonprofits.microsoft.com",
              "benefits.microsoft.com",
              "forzaesports.com",
              "bons.ai",
              "azmosa.io",
              "fslogix.com",
              "Howdy.ai",
              "Xoxco.com",
              "Botkit.ai",
              "glintinc.com",
              "maquette.ms",
              "tibazdev.microsoft.com",
              "[...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'Microsoft.ContainerService/managedClusters' | limit 50"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-incomplete-scopes-state": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.0575310",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:04"
      },
      "ResponseBody": {
        "totalRecords": 1,
        "count": 1,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/masalama-Sanitized/providers/Microsoft.ContainerService/managedClusters/Sanitized",
            "name": "Sanitized",
            "type": "microsoft.containerservice/managedclusters",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "Base",
            "location": "westus2",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "managedBy": "",
            "sku": {
              "name": "Sanitized",
              "tier": "Free"
            },
            "plan": null,
            "properties": {
              "provisioningState": "Succeeded",
              "networkProfile": {
                "loadBalancerProfile": {
                  "effectiveOutboundIPs": [
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_masalama-Sanitized_Sanitized_westus2/providers/Microsoft.Network/publicIPAddresses/77d3a24c-9c9c-4e27-9893-29e0dd489b60"
                    }
                  ],
                  "backendPoolType": "nodeIPConfiguration",
                  "managedOutboundIPs": {
                    "count": 1
                  }
                },
                "loadBalancerSku": "standard",
                "networkPolicy": "none",
                "networkPlugin": "azure",
                "networkDataplane": "azure",
                "outboundType": "loadBalancer",
                "dnsServiceIP": "10.0.0.10",
                "serviceCidr": "10.0.0.0/16",
                "serviceCidrs": [
                  "10.0.0.0/16"
                ],
                "ipFamilies": [
                  "IPv4"
                ],
                "networkPluginMode": "overlay",
                "podCidr": "10.244.0.0/16",
                "podCidrs": [
                  "10.244.0.0/16"
                ]
              },
              "storageProfile": {
                "snapshotController": {
                  "enabled": true
                },
                "diskCSIDriver": {
                  "enabled": true
                },
                "fileCSIDriver": {
                  "enabled": true
                }
              },
              "securityProfile": {},
              "powerState": {
                "code": "Running"
              },
              "fqdn": "Sanitized-dns-rbocg1be.hcp.westus2.azmk8s.io",
              "kubernetesVersion": "1.34",
              "currentKubernetesVersion": "1.34.8",
              "workloadAutoScalerProfile": {},
              "servicePrincipalProfile": {
                "clientId": "00000000-0000-0000-0000-000000000000"
              },
              "nodeProvisioningProfile": {
                "mode": "Manual",
                "defaultNodePools": "Auto"
              },
              "oidcIssuerProfile": {
                "enabled": true,
                "issuerURL": "https://westus2.oic.prod-aks.azure.com/72f988bf-86f1-41af-91ab-2d7cd011db47/c2abc515-1b1c-46fe-b699-7f8d370acdf9/"
              },
              "agentPoolProfiles": [
                {
                  "provisioningState": "Succeeded",
                  "name": "Sanitized",
                  "type": "VirtualMachineScaleSets",
                  "count": 1,
                  "osType": "Linux",
                  "securityProfile": {
                    "enableSecureBoot": false,
                    "enableVTPM": false
                  },
                  "powerState": {
                    "code": "Running"
                  },
                  "vmSize": "Standard_D2ds_v4",
                  "mode": "System",
                  "currentOrchestratorVersion": "1.34.8",
                  "orchestratorVersion": "1.34",
                  "enableNodePublicIP": false,
                  "enableAutoScaling": false,
                  "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202605.14.0",
                  "kubeletDiskType": "OS",
                  "upgradeSettings": {
                    "maxUnavailable": "0",
                    "maxSurge": "10%"
                  },
                  "scaleDownMode": "Delete",
                  "osDiskSizeGB": 128,
                  "osDiskType": "Managed",
                  "enableFIPS": false,
                  "maxPods": 250,
                  "osSKU": "Ubuntu",
                  "eTag": "564f63bf-adcc-4686-9516-e3e2d190573e"
                }
              ],
              "nodeResourceGroup": "MC_masalama-Sanitized_Sanitized_westus2",
              "autoUpgradeProfile": {
                "nodeOSUpgradeChannel": "NodeImage"
              },
              "bootstrapProfile": {
                "artifactSource": "Direct"
              },
              "azurePortalFQDN": "Sanitized-dns-rbocg1be.portal.hcp.westus2.azmk8s.io",
              "identityProfile": {
                "kubeletidentity": {
                  "objectId": "9db4952e-766d-43b1-8082-3ca42a503011",
                  "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_masalama-Sanitized_Sanitized_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/Sanitized-agentpool",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                }
              },
              "metricsProfile": {
                "costAnalysis": {
                  "enabled": false
                }
              },
              "maxAgentPools": 100,
              "hostedSystemProfile": {
                "enabled": false
              },
              "supportPlan": "KubernetesOfficial",
              "resourceUID": "6a29ad9e7f27ce00018807e3",
              "enableRBAC": true,
              "dnsPrefix": "Sanitized-dns",
              "disableLocalAccounts": false,
              "addonProfiles": {
                "extensionManager": {
                  "enabled": true,
                  "config": null
                },
                "azurepolicy": {
                  "enabled": true,
                  "identity": {
                    "objectId": "d12292a1-dc40-4e04-bf34-b8cb5df54e7d",
                    "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_masalama-Sanitized_Sanitized_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azurepolicy-Sanitized",
                    "clientId": "00000000-0000-0000-0000-000000000000"
                  },
                  "config": null
                }
              }
            },
            "tags": null,
            "identity": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned"
            },
            "zones": null,
            "extendedLocation": null
          }
        ],
        "facets": [],
        "resultTruncated": "false"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/masalama-Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "Owners": "masalama",
          "DeleteAfter": "2026-06-11T06:31:18.4578287Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/Sanitized?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-re[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/Sanitized/agentPools?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscriptio[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/Sanitized/agentPools?%24skipToken=7130263&api-version=2023-10-01&skipToken=7130263",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ContainerService/managedClusters/Sanitized/agentPools/agentpool?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-s[...]
