{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177256795936804200?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 19:59:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795F5C0BF2C4\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:59:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177256795936804200/file177256795966506919",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "10",
        "x-ms-date": "Tue, 03 Mar 2026 19:59:19 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795F5C392D28\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:59:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-03T19:59:20.9294120Z",
        "x-ms-file-creation-time": "2026-03-03T19:59:20.9294120Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-03T19:59:20.9294120Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177256795936804200/file177256795966506919?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 Mar 2026 19:59:19 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "5",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": "ASwAAAAAAAAAAQABAAEABQAAAAAAAABIZWxsb+2KKEdr7gNu7YooR2vuA24=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\"0x8DE795F5C66C0A1\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:59:21 GMT",
        "x-ms-file-last-write-time": "2026-03-03T19:59:21.2280993Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177256795936804200/file177256795966506919",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 19:59:20 GMT",
        "x-ms-range": "bytes=0-7",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-7/10",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE795F5C936DC2\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:59:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-03T19:59:21.5208898Z",
        "x-ms-file-creation-time": "2026-03-03T19:59:20.9294120Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-03T19:59:21.5208898Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "8",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "AS8AAAAAAAAAAQABAAEACAAAAAAAAABIZWxsb1dvcrYSfknvzvq8thJ+Se/O+rw="
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177256795936804200?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 19:59:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file177256795966506919",
    "share": "share177256795936804200"
  }
}
