{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx/topics/mytopicxxx/eventSubscriptions?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "topic": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/microsoft.eventgrid/domains/mydomainxxx/topics/mytopicxxx",
              "provisioningState": "Succeeded",
              "destination": {
                "properties": {
                  "endpointUrl": null,
                  "endpointBaseUrl": "https://testsite230718.azurewebsites.net/api/updates",
                  "maxEventsPerBatch": 1,
                  "preferredBatchSizeInKilobytes": 64
                },
                "endpointType": "WebHook"
              },
              "filter": {
                "subjectBeginsWith": "ExamplePrefix",
                "subjectEndsWith": "ExampleSuffix"
              },
              "labels": null,
              "eventDeliverySchema": "EventGridSchema",
              "retryPolicy": {
                "maxDeliveryAttempts": 30,
                "eventTimeToLiveInMinutes": 1440
              }
            },
            "systemData": null,
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx/topics/mytopicxxx/eventSubscriptions/myeventSubscription",
            "name": "myeventSubscription",
            "type": "Microsoft.EventGrid/domains/topics/eventSubscriptions"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
