{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx?api-version=2023-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/azure_subscription_id/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/2CD0E586-FB82-48F7-8896-E2B39FD984FD?api-version=2023-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Updating",
          "minimumTlsVersionAllowed": "1.0",
          "endpoint": "https://mydomainxxx.eastus2euap-1.eventgrid.azure.net/api/events",
          "inputSchema": "EventGridSchema",
          "metricResourceId": "afe7a51d-7fa7-4019-88a6-bd06d278b5f8",
          "publicNetworkAccess": "Enabled",
          "dataResidencyBoundary": "WithinGeopair"
        },
        "sku": {
          "name": "Basic"
        },
        "systemData": null,
        "location": "east us2 euap",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx",
        "name": "mydomainxxx",
        "type": "Microsoft.EventGrid/domains"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/2CD0E586-FB82-48F7-8896-E2B39FD984FD?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/2CD0E586-FB82-48F7-8896-E2B39FD984FD?api-version=2023-06-01-preview",
        "name": "2cd0e586-fb82-48f7-8896-e2b39fd984fd",
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {}
}
