{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx/topics/mydomaintopicxxx/eventSubscriptions/myeventSubscription?api-version=2023-12-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "properties": {
          "topic": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/microsoft.eventgrid/domains/mydomainxxx/topics/mydomaintopicxxx",
          "provisioningState": "Succeeded",
          "destination": {
            "properties": {
              "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/czweventhub/eventhubs/czweh"
            },
            "endpointType": "EventHub"
          },
          "filter": {
            "subjectBeginsWith": "",
            "subjectEndsWith": "",
            "enableAdvancedFilteringOnArrays": true
          },
          "labels": null,
          "eventDeliverySchema": "EventGridSchema",
          "retryPolicy": {
            "maxDeliveryAttempts": 30,
            "eventTimeToLiveInMinutes": 1440
          }
        },
        "systemData": null,
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx/topics/mydomaintopicxxx/eventSubscriptions/myeventSubscription",
        "name": "myeventSubscription",
        "type": "Microsoft.EventGrid/domains/topics/eventSubscriptions"
      }
    }
  ],
  "Variables": {}
}
