{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "40008a75-000e-e500-b63f-84710c7967bb",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "minimumTlsVersionAllowed": "1.0",
              "endpoint": "https://mydomainxxx.eastus-1.eventgrid.azure.net/api/events",
              "inputSchema": "EventGridSchema",
              "metricResourceId": "73a82652-5634-483f-b9ae-8509d064b0d8",
              "publicNetworkAccess": "Enabled",
              "dataResidencyBoundary": "WithinGeopair"
            },
            "sku": {
              "name": "Basic"
            },
            "systemData": null,
            "location": "eastus",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "id": "Sanitized",
            "name": "mydomainxxx",
            "type": "Microsoft.EventGrid/domains"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
