{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx/topics/mytopicxxx/eventSubscriptions/myeventSubscription?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "destination": {
            "endpointType": "WebHook",
            "properties": {
              "endpointUrl": "https://testsite230718.azurewebsites.net/api/updates"
            }
          },
          "filter": {
            "subjectBeginsWith": "ExamplePrefix",
            "subjectEndsWith": "ExampleSuffix",
            "isSubjectCaseSensitive": false
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/azure_subscription_id/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/A0CB4DF9-8116-4ACB-AE51-644675F61B02?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "topic": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/microsoft.eventgrid/domains/mydomainxxx/topics/mytopicxxx",
          "provisioningState": "Creating",
          "destination": {
            "properties": {
              "endpointUrl": null,
              "endpointBaseUrl": "https://testsite230718.azurewebsites.net/api/updates"
            },
            "endpointType": "WebHook"
          },
          "filter": {
            "subjectBeginsWith": "ExamplePrefix",
            "subjectEndsWith": "ExampleSuffix"
          },
          "labels": null,
          "retryPolicy": {
            "maxDeliveryAttempts": 30,
            "eventTimeToLiveInMinutes": 1440
          }
        },
        "systemData": null,
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx/topics/mytopicxxx/eventSubscriptions/myeventSubscription",
        "name": "myeventSubscription",
        "type": "Microsoft.EventGrid/domains/topics/eventSubscriptions"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/A0CB4DF9-8116-4ACB-AE51-644675F61B02?api-version=2021-10-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/A0CB4DF9-8116-4ACB-AE51-644675F61B02?api-version=2021-10-15-preview",
        "name": "a0cb4df9-8116-4acb-ae51-644675f61b02",
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx/topics/mytopicxxx/eventSubscriptions/myeventSubscription?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "properties": {
          "topic": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/microsoft.eventgrid/domains/mydomainxxx/topics/mytopicxxx",
          "provisioningState": "Succeeded",
          "destination": {
            "properties": {
              "endpointUrl": null,
              "endpointBaseUrl": "https://testsite230718.azurewebsites.net/api/updates",
              "maxEventsPerBatch": 1,
              "preferredBatchSizeInKilobytes": 64
            },
            "endpointType": "WebHook"
          },
          "filter": {
            "subjectBeginsWith": "ExamplePrefix",
            "subjectEndsWith": "ExampleSuffix"
          },
          "labels": null,
          "eventDeliverySchema": "EventGridSchema",
          "retryPolicy": {
            "maxDeliveryAttempts": 30,
            "eventTimeToLiveInMinutes": 1440
          }
        },
        "systemData": null,
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx/topics/mytopicxxx/eventSubscriptions/myeventSubscription",
        "name": "myeventSubscription",
        "type": "Microsoft.EventGrid/domains/topics/eventSubscriptions"
      }
    }
  ],
  "Variables": {}
}
