{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/topics?api-version=2023-12-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "endpoint": "https://mytopicxxx.eastus2euap-1.eventgrid.azure.net/api/events",
              "minimumTlsVersionAllowed": "1.0",
              "inputSchema": "EventGridSchema",
              "metricResourceId": "bb29f73b-36ee-4d09-9721-df40ccde1ade",
              "publicNetworkAccess": "Enabled",
              "dataResidencyBoundary": "WithinGeopair"
            },
            "sku": {
              "name": "Basic"
            },
            "kind": "Azure",
            "systemData": null,
            "location": "east us2 euap",
            "tags": null,
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/topics/mytopicxxx",
            "name": "mytopicxxx",
            "type": "Microsoft.EventGrid/topics"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
