{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains?api-version=2024-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "minimumTlsVersionAllowed": "1.0",
              "endpoint": "https://mydomainxxx.eastus2euap-1.eventgrid.azure.net/api/events",
              "inputSchema": "EventGridSchema",
              "metricResourceId": "183a8af0-ca39-48b4-be12-c54af0452880",
              "publicNetworkAccess": "Enabled",
              "dataResidencyBoundary": "WithinGeopair"
            },
            "sku": {
              "name": "Basic"
            },
            "systemData": null,
            "location": "east us2 euap",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx",
            "name": "mydomainxxx",
            "type": "Microsoft.EventGrid/domains"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
