{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100f446-0000-3300-0000-64e8d8240000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423",
        "name": "nfa-tool-ts-GA-cli-l3Domain081423",
        "type": "microsoft.managednetworkfabric/l3isolationdomains",
        "location": "eastus2euap",
        "systemData": {
          "createdBy": "v-rmarimuthu@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-08-18T13:59:59.4342099Z",
          "lastModifiedBy": "d1bd24c7-b27f-477e-86dd-939e107873d7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-25T16:34:44.34491Z"
        },
        "properties": {
          "networkFabricId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf081123",
          "provisioningState": "Succeeded",
          "redistributeConnectedSubnets": "True",
          "redistributeStaticRoutes": "False",
          "configurationState": "Succeeded",
          "administrativeState": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork081723?api-version=2024-06-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "annotation": "annotation",
          "mtu": 1500,
          "connectedIPv4Subnets": [
            {
              "prefix": "100.0.0.0/24",
              "annotation": "annotation"
            }
          ],
          "connectedIPv6Subnets": [
            {
              "prefix": "3FFE:FFFF:0:CD30::a0/29",
              "annotation": "annotation"
            }
          ],
          "nativeIpv4PrefixLimit": {
            "prefixLimits": [
              {
                "maximumRoutes": 23,
                "threshold": 7,
                "idleTimeExpiry": 28
              }
            ]
          },
          "nativeIpv6PrefixLimit": {
            "prefixLimits": [
              {
                "maximumRoutes": 23,
                "threshold": 7,
                "idleTimeExpiry": 28
              }
            ]
          },
          "importRoutePolicy": {
            "importIpv4RoutePolicyId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/routePolicyName",
            "importIpv6RoutePolicyId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/routePolicyName"
          },
          "exportRoutePolicy": {
            "exportIpv4RoutePolicyId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/routePolicyName",
            "exportIpv6RoutePolicyId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/routePolicyName"
          },
          "ingressAclId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/accessControlLists/example-acl",
          "egressAclId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/accessControlLists/example-acl",
          "isMonitoringEnabled": "True",
          "extension": "NoExtension",
          "vlanId": 755,
          "bgpConfiguration": {
            "bfdConfiguration": {
              "intervalInMilliSeconds": 300,
              "multiplier": 5
            },
            "defaultRouteOriginate": "True",
            "allowAS": 10,
            "allowASOverride": "Enable",
            "peerASN": 61234,
            "ipv4ListenRangePrefixes": [
              "100.0.0.0/25"
            ],
            "ipv6ListenRangePrefixes": [
              "2fff::/66"
            ],
            "ipv4NeighborAddress": [
              {
                "address": "100.0.0.10"
              }
            ],
            "ipv6NeighborAddress": [
              {
                "address": "2fff::"
              }
            ],
            "bmpConfiguration": {
              "neighborIpExclusions": [
                "10.0.0.1/24"
              ],
              "bmpConfigurationState": "Enabled"
            },
            "v4OverV6BgpSession": "Enabled",
            "v6OverV4BgpSession": "Enabled",
            "annotation": "annotation"
          },
          "staticRouteConfiguration": {
            "extension": "NoExtension",
            "bfdConfiguration": {
              "intervalInMilliSeconds": 300,
              "multiplier": 15
            },
            "ipv4Routes": [
              {
                "prefix": "100.0.0.0/24",
                "nextHop": [
                  "20.0.0.1"
                ]
              }
            ],
            "ipv6Routes": [
              {
                "prefix": "2fff::/64",
                "nextHop": [
                  "3ffe::1"
                ]
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/a5994a43-17ac-4c8c-a9fe-ab7bdce67bc1*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E?api-version=2024-06-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000de2a-0000-3300-0000-64e8db4a0000\u0022",
        "mise-correlation-id": "fe09d186-6fa8-46a9-89a6-ec990ee42553",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork081723",
        "name": "nfa-tool-ts-GA-sdk-internalNetwork081723",
        "typ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/a5994a43-17ac-4c8c-a9fe-ab7bdce67bc1*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205000377-0000-3300-0000-64e8db4a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/a5994a43-17ac-4c8c-a9fe-ab7bdce67bc1*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E",
        "name": "a5994a43-17ac-4c8c-a9fe-ab7bdce67bc1*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E",
        "resourceId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork081723",
        "status": "Updating",
        "startTime": "2023-08-25T16:48:10.5874817Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/a5994a43-17ac-4c8c-a9fe-ab7bdce67bc1*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205000477-0000-3300-0000-64e8db4c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/a5994a43-17ac-4c8c-a9fe-ab7bdce67bc1*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E",
        "name": "a5994a43-17ac-4c8c-a9fe-ab7bdce67bc1*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E",
        "resourceId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork081723",
        "status": "Succeeded",
        "startTime": "2023-08-25T16:48:10.5874817Z",
        "endTime": "2023-08-25T16:48:12.1969279Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423/internalNetworks?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423/internalNetworks/nfa-tool-ts-GA-cli-internalNetwork081423",
            "name": "nfa-tool-ts-GA-cli-internalNetwork081423",
            "type": "microsoft.managednetworkfabric/l3isolationdomains/internalnetworks",
            "systemData": {
              "createdBy": "v-rmarimuthu@microsoft.c[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-cli-l3Domain081423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork081723?api-version=2024-06-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d9014a53-236d-4a11-a436-67a883cb35be*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E?api-version=2024-06-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000e22a-0000-3300-0000-64e8db500000\u0022",
        "Location": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d9014a53-236d-4a11-a436-67a883cb35be*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E?api-version=2024-06-15-preview",
        "mise-correlation-id": "bc854792-e9a5-42f6-96e0-1315587830e3",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/d9014a53-236d-4a11-a436-67a883cb35be*97665D657B96555E9B19BC68E7D3C63665BFEAFA23B7DDD39347E10C75C5681E?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders"[...]
[...]
