{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222600c728-0000-3400-0000-64b6578b0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423",
        "name": "nfa-tool-ts-GA-l3domain071423",
        "type": "microsoft.managednetworkfabric/l3isolationdomains",
        "location": "eastus2euap",
        "systemData": {
          "createdBy": "v-rmarimuthu@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-07-18T07:32:33.6630324Z",
          "lastModifiedBy": "d1bd24c7-b27f-477e-86dd-939e107873d7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-18T09:12:43.2345397Z"
        },
        "properties": {
          "networkFabricId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf071423",
          "provisioningState": "Succeeded",
          "redistributeConnectedSubnets": "True",
          "redistributeStaticRoutes": "True",
          "aggregateRouteConfiguration": {
            "ipv4Routes": [
              {
                "prefix": "10.0.0.1/28"
              },
              {
                "prefix": "10.0.0.2/28"
              }
            ],
            "ipv6Routes": [
              {
                "prefix": "2fff::/64"
              },
              {
                "prefix": "2fff::/65"
              }
            ]
          },
          "configurationState": "Succeeded",
          "administrativeState": "Disabled",
          "connectedSubnetRoutePolicy": {
            "exportRoutePolicy": {
              "exportIpv4RoutePolicyId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork071823?api-version=2023-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "annotation": "annotation",
          "mtu": 1500,
          "connectedIPv4Subnets": [
            {
              "prefix": "100.0.0.0/24",
              "annotation": "annotation"
            }
          ],
          "isMonitoringEnabled": "True",
          "extension": "NoExtension",
          "vlanId": 755,
          "bgpConfiguration": {
            "bfdConfiguration": {
              "intervalInMilliSeconds": 300,
              "multiplier": 5
            },
            "defaultRouteOriginate": "True",
            "allowAS": 10,
            "allowASOverride": "Enable",
            "peerASN": 61234,
            "ipv4ListenRangePrefixes": [
              "100.0.0.0/25"
            ],
            "ipv4NeighborAddress": [
              {
                "address": "100.0.0.10"
              }
            ],
            "annotation": "annotation"
          },
          "staticRouteConfiguration": {
            "extension": "NoExtension",
            "bfdConfiguration": {
              "intervalInMilliSeconds": 300,
              "multiplier": 15
            },
            "ipv4Routes": [
              {
                "prefix": "100.0.0.0/24",
                "nextHop": [
                  "20.0.0.1"
                ]
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d7f7bb39-5e91-42c8-97e8-f00fc6db9933*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151?api-version=2023-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200006901-0000-3400-0000-64b6b5d50000\u0022",
        "mise-correlation-id": "838c1b7a-34a5-4d4d-b59d-c11271217d23",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork071823",
        "name": "nfa-tool-ts-GA-sdk-internalNetwork071823",
        "type": "microsoft.managednetworkfabric/l3isolationdomains/internalnetworks",
        "systemData": {
          "createdBy": "v-mnali@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-07-18T15:55:00.4781807Z",
          "lastModifiedBy": "v-mnali@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-07-18T15:55:00.4781807Z"
        },
        "properties": {
          "annotation": "annotation",
          "vlanId": 755,
          "mtu": 1500,
          "isMonitoringEnabled": "True",
          "connectedIPv4Subnets": [
            {
              "prefix": "100.0.0.0/24",
              "annotation": "annotation"
            }
          ],
          "connectedIPv6Subnets": null,
          "extension": "NoExtension",
          "staticRouteConfiguration": {
            "bfdConfiguration": {
              "administrativeState": "Disabled",
              "intervalInMilliSeconds": 300,
              "multiplier": 15
            },
            "ipv4Routes": [
              {
                "prefix": "100.0.0.0/24",
                "nextHop": [
                  "20.0.0.1"
                ]
              }
            ],
            "ipv6Routes": null,
            "extension": "NoExtension"
          },
          "bgpConfiguration": {
            "bfdConfiguration": {
              "administrativeState": "Disabled",
              "intervalInMilliSeconds": 300,
              "multiplier": 5
            },
            "defaultRouteOriginate": "True",
            "allowAS": 10,
            "allowASOverride": "Enable",
            "fabricASN": null,
            "peerASN": 61234,
            "ipv4ListenRangePrefixes": [
              "100.0.0.0/25"
            ],
            "ipv6ListenRangePrefixes": null,
            "ipv4NeighborAddress": [
              {
                "address": "100.0.0.10",
                "configurationState": "Succeeded"
              }
            ],
            "ipv6NeighborAddress": null,
            "annotation": "annotation"
          },
          "importRoutePolicyId": null,
          "exportRoutePolicyId": null,
          "administrativeState": "Enabled",
          "provisioningState": "Accepted",
          "configurationState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d7f7bb39-5e91-42c8-97e8-f00fc6db9933*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200005855-0000-3400-0000-64b6b5d50000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d7f7bb39-5e91-42c8-97e8-f00fc6db9933*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151",
        "name": "d7f7bb39-5e91-42c8-97e8-f00fc6db9933*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151",
        "resourceId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork071823",
        "status": "Updating",
        "startTime": "2023-07-18T15:55:01.1985784Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d7f7bb39-5e91-42c8-97e8-f00fc6db9933*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200005955-0000-3400-0000-64b6b5d60000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d7f7bb39-5e91-42c8-97e8-f00fc6db9933*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151",
        "name": "d7f7bb39-5e91-42c8-97e8-f00fc6db9933*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151",
        "resourceId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork071823",
        "status": "Succeeded",
        "startTime": "2023-07-18T15:55:01.1985784Z",
        "endTime": "2023-07-18T15:55:02.0232703Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423/internalNetworks?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423/internalNetworks/nfa-tool-ts-GA-internalNetwork071423",
            "name": "nfa-tool-ts-GA-internalNetwork071423",
            "type": "microsoft.managednetworkfabric/l3isolationdomains/internalnetworks",
            "systemData": {
              "createdBy": "v-rmarimuthu@microsoft.com",
              "createdByType": "User",
              "createdAt": "2023-07-18T07:39:10.8210843Z",
              "lastModifiedBy": "v-rmarimuthu@microsoft.com",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2023-07-18T07:39:10.8210843Z"
            },
            "properties": {
              "vlanId": 2600,
              "mtu": 1500,
              "isMonitoringEnabled": "True",
              "connectedIPv4Subnets": [
                {
                  "prefix": "10.0.0.1/21"
                },
                {
                  "prefix": "10.1.1.1/22"
                }
              ],
              "importRoutePolicy": {
                "importIpv4RoutePolicyId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423",
                "importIpv6RoutePolicyId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"
              },
              "exportRoutePolicy": {
                "exportIpv4RoutePolicyId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423",
                "exportIpv6RoutePolicyId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy071423"
              },
              "extension": "NoExtension",
              "staticRouteConfiguration": {
                "bfdConfiguration": {
                  "administrativeState": "Disabled",
                  "intervalInMilliSeconds": 300,
                  "multiplier": 5
                },
         [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/nfa-tool-ts-GA-l3domain071423/internalNetworks/nfa-tool-ts-GA-sdk-internalNetwork071823?api-version=2023-06-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/7c2ae4a6-c626-47fe-88e4-994dfe80334d*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151?api-version=2023-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200006d01-0000-3400-0000-64b6b5d90000\u0022",
        "Location": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/7c2ae4a6-c626-47fe-88e4-994dfe80334d*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151?api-version=2023-06-15",
        "mise-correlation-id": "e9b60b32-b1ef-4d42-b665-92125be837c7",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/7c2ae4a6-c626-47fe-88e4-994dfe80334d*4CE42AC346D4CE4ABB58DD08452C825617C0DB52CAB1C77A3FDE021FE94D7151?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
    [...]
[...]
