{
  "Entries": [
    {
      "RequestUri": "https://configstory538zv.azconfig.io/kv/keyndrynd?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "a9a5eb05-5e7d-4228-97b2-d0897d4433a2"
      },
      "RequestBody": null,
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.13",
        "title": "Unsupported Media Type",
        "status": 415,
        "traceId": "0HMMT6IQCRO5P:00000012"
      }
    },
    {
      "RequestUri": "https://configstory538zv.azconfig.io/locks/keyndrynd?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "bea06cfa-dc28-4ab3-8086-4495233b484b"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxOSMzMDYwNTQ4MA==;sn=30605480"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://configstory538zv.azconfig.io/keys?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "8099c59c-030d-4990-80ee-242e5d28f6d1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.keyset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxOSMzMDYwNTQ4MA==;sn=30605480"
      },
      "ResponseBody": {
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://configstory538zv.azconfig.io/kv?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "50d975ea-1ac3-4165-8a3f-481fab55ada2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxOSMzMDYwNTQ4MA==;sn=30605480"
      },
      "ResponseBody": {
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://configstory538zv.azconfig.io/labels?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "4eec038d-683a-46d2-b83f-c32e9191b873"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxOSMzMDYwNTQ4MA==;sn=30605480"
      },
      "ResponseBody": {
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://configstory538zv.azconfig.io/revisions?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "48928076-4609-4804-b28e-2f028f4d9110"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxOSMzMDYwNTQ4MA==;sn=30605480"
      },
      "ResponseBody": {
        "items": []
      }
    },
    {
      "RequestUri": "https://configstory538zv.azconfig.io/revisions?api-version=1.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "f9f04cdc-5d0d-489d-8ddb-48c3d4300e4e"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxOSMzMDYwNTQ4MA==;sn=30605480"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "armEndpoint": "https://management.azure.com",
    "location": "eastus",
    "randomSeed": "3870069375",
    "resourceGroup": "apiTest-abbfkd",
    "runId": "202212201134-qd6nun",
    "scenarioFile": "specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/1.0/scenarios/basic.yaml",
    "subscriptionId": "db5eb68e-73e2-4fa8-b18a-46cd1be4cce5",
    "TIMESTAMP": "2022-12-20T03:35:10.033Z"
  }
}
