{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourcegroups/apiTest-koaaqs?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "6596d7c4-22de-4dba-bccf-cb4361479e4e"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-koaaqs",
        "name": "apiTest-koaaqs",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "4f257933-a2f2-4468-818e-8ad93eb9f263"
      },
      "RequestBody": {
        "name": "configstor9r562r",
        "type": "Microsoft.AppConfiguration/configurationStores"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "message": "The specified name is available.",
        "reason": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-koaaqs/providers/Microsoft.AppConfiguration/configurationStores/configstor9r562r?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "3e856ad6-7a72-4303-adbe-5bb35b10184f"
      },
      "RequestBody": {
        "location": "eastus",
        "sku": {
          "name": "Standard"
        },
        "tags": {
          "myTag": "myTagValue"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/JaUwxMLqwkmU3hYnT50Jg2rpBSyeZxXCsbP7-CQz_Uw?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2022-12-20T02:14:57.2393712\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null,
          "disableLocalAuth": null,
          "softDeleteRetentionInDays": null,
          "enablePurgeProtection": null
        },
        "sku": {
          "name": "Standard"
        },
        "systemData": null,
        "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-koaaqs/providers/Microsoft.AppConfiguration/configurationStores/configstor9r562r",
        "name": "configstor9r562r",
        "tags": {
          "myTag": "myTagValue"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/JaUwxMLqwkmU3hYnT50Jg2rpBSyeZxXCsbP7-CQz_Uw?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "54841333-8b24-4976-9341-a09701fc3788"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/JaUwxMLqwkmU3hYnT50Jg2rpBSyeZxXCsbP7-CQz_Uw?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/JaUwxMLqwkmU3hYnT50Jg2rpBSyeZxXCsbP7-CQz_Uw",
        "name": "JaUwxMLqwkmU3hYnT50Jg2rpBSyeZxXCsbP7-CQz_Uw",
        "status": "Succeeded",
        "error": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-koaaqs/providers/Microsoft.AppConfiguration/configurationStores/configstor9r562r?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "dacc3e89-a828-4ef4-8d54-4348c43b2adf"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022de00e1cc-0000-0100-0000-63a11aa30000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2022-12-20T02:14:58\u002B00:00",
          "endpoint": "https://configstor9r562r.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null,
          "disableLocalAuth": false,
          "softDeleteRetentionInDays": 7,
          "enablePurgeProtection": false
        },
        "sku": {
          "name": "standard"
        },
        "systemData": {
          "createdBy": "2d6eb1bd-0af4-47a1-a424-23d45b3ae7ca",
          "createdByType": "Application",
          "createdAt": "2022-12-20T02:14:58\u002B00:00",
          "lastModifiedBy": "2d6eb1bd-0af4-47a1-a424-23d45b3ae7ca",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-20T02:14:59\u002B00:00"
        },
        "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apitest-koaaqs/providers/Microsoft.AppConfiguration/configurationStores/configstor9r562r",
        "name": "configstor9r562r",
        "tags": {
          "myTag": "myTagValue"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com//subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apitest-koaaqs/providers/Microsoft.AppConfiguration/configurationStores/configstor9r562r/providers/Microsoft.Authorization/roleAssignments/60d4ff84-56e1-47d7-9f0a-f0c66582068e?api-version=2022-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "143ec8f1-245d-4dd4-8cf3-5de3f6563869"
      },
      "RequestBody": {
        "properties": {
          "roleDefinitionId": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.Authorization/roleDefinitions/5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b",
          "principalId": "48f6cf37-24cb-4143-8663-b9fad7c24025",
          "principalType": "ServicePrincipal"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "roleDefinitionId": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.Authorization/roleDefinitions/5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b",
          "principalId": "48f6cf37-24cb-4143-8663-b9fad7c24025",
          "principalType": "ServicePrincipal",
          "scope": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apitest-koaaqs/providers/Microsoft.AppConfiguration/configurationStores/configstor9r562r",
          "condition": null,
          "conditionVersion": null,
          "createdOn": "2022-12-20T02:15:05.0302357Z",
          "updatedOn": "2022-12-20T02:15:05.5615471Z",
          "createdBy": null,
          "updatedBy": "48f6cf37-24cb-4143-8663-b9fad7c24025",
          "delegatedManagedIdentityResourceId": null,
          "description": null
        },
        "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apitest-koaaqs/providers/Microsoft.AppConfiguration/configurationStores/configstor9r562r/providers/Microsoft.Authorization/roleAssignments/60d4ff84-56e1-47d7-9f0a-f0c66582068e",
        "type": "Microsoft.Authorization/roleAssignments",
        "name": "60d4ff84-56e1-47d7-9f0a-f0c66582068e"
      }
    },
    {
      "RequestUri": "https://configstor9r562r.azconfig.io/keys?api-version=1.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "0d018262-63b4-4ea6-a2bb-dc4b62f09f6a"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.keyset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxOSMzMDYwMTExMQ==;sn=30601111"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourcegroups/apiTest-koaaqs?api-version=2020-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "d30a4ecf-aebd-467e-85ab-1e9a2931caee"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUElURVNUOjJES09BQVFTLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2020-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "armEndpoint": "https://management.azure.com",
    "location": "eastus",
    "randomSeed": "7864645811",
    "resourceGroup": "apiTest-koaaqs",
    "runId": "202212201014-egjk3c",
    "scenarioFile": "specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/1.0/scenarios/liveness.yaml",
    "subscriptionId": "db5eb68e-73e2-4fa8-b18a-46cd1be4cce5",
    "TIMESTAMP": "2022-12-20T02:15:23.688Z"
  }
}
