{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8004BF622\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-630aadc5-fe63-25ec-8632-4c0494f921f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F80057F0A6\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F80063FF20\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:32:32.4204320Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.4204320Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.4204320Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/test-file-ff5dfe2a-d53c-3459-8876-3cb195e2b8c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8006CF5BF\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:32:32.4791743Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.4791743Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.4791743Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F80082FD12\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:32:32.6235410Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.6235410Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.6235410Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/bar/test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8008BF3B2\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F80094EA51\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:32:32.7410257Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.7410257Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.7410257Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/pik/test-file-ade19f59-fc52-b901-dd00-d954fbfd3541",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8009E07D3\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:32:32.8007635Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.8007635Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.8007635Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder?sv=Sanitized&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-6c73a551-8ffb-716d-051f-e175484d313a</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-ff5dfe2a-d53c-3459-8876-3cb195e2b8c5</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/bar?sv=Sanitized&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F80082FD12\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:32:32.6235410Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.6235410Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.6235410Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/pik?sv=Sanitized&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F80094EA51\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:32:32.7410257Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.7410257Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.7410257Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/bar?sv=Sanitized&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/test-file-ff5dfe2a-d53c-3459-8876-3cb195e2b8c5?sv=Sanitized&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F8006CF5BF\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:32:32.4791743Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.4791743Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.4791743Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/pik?sv=Sanitized&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-ade19f59-fc52-b901-dd00-d954fbfd3541</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/bar/test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a?sv=Sanitized&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F8008BF3B2\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/pik/test-file-ade19f59-fc52-b901-dd00-d954fbfd3541?sv=Sanitized&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F8009E07D3\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:32:32.8007635Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.8007635Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.8007635Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-630aadc5-fe63-25ec-8632-4c0494f921f5/destFolder/test-file-ff5dfe2a-d53c-3459-8876-3cb195e2b8c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/test-file-ff5dfe2a-d53c-3459-8876-3cb195e2b8c5?sv=sanitized-value&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F800DA206B\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-630aadc5-fe63-25ec-8632-4c0494f921f5/destFolder/bar/test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/bar/test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a?sv=sanitized-value&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F800E5AC45\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-630aadc5-fe63-25ec-8632-4c0494f921f5/destFolder/pik/test-file-ade19f59-fc52-b901-dd00-d954fbfd3541",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/pik/test-file-ade19f59-fc52-b901-dd00-d954fbfd3541?sv=sanitized-value&se=2025-05-16T21%3A32%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F800E9ED3A\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-6c73a551-8ffb-716d-051f-e175484d313a</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-ff5dfe2a-d53c-3459-8876-3cb195e2b8c5</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-ade19f59-fc52-b901-dd00-d954fbfd3541</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-630aadc5-fe63-25ec-8632-4c0494f921f5?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-630aadc5-fe63-25ec-8632-4c0494f921f5\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a</Name><Properties><Creation-Time>Thu, 15 May 2025 21:32:33 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:32:33 GMT</Last-Modified><Etag>0x8DD93F800E5AC45</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-ade19f59-fc52-b901-dd00-d954fbfd3541</Name><Properties><Creation-Time>Thu, 15 May 2025 21:32:33 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:32:33 GMT</Last-Modified><Etag>0x8DD93F800E9ED3A</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-630aadc5-fe63-25ec-8632-4c0494f921f5/destFolder/bar/test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F800E5AC45\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f/sourceFolder/bar/test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F8008BF3B2\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-creation-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:32:32.6822834Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-630aadc5-fe63-25ec-8632-4c0494f921f5/destFolder/bar/test-file-a097b51f-9f2e-b88b-a218-ac1b6d68225a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD93F800E5AC45\"",
        "x-ms-date": "Thu, 15 May 2025 21:32:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F800E5AC45\"",
        "Last-Modified": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:32:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a441caa2-4f83-c9ff-b5d1-c3f80dabe48f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:32:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
[...]
