{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B1B27AF\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ceb9200-f0f7-c91e-ab08-f0cac65e5102?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B2E3DD8\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B3D1C75\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:39:08.5394037Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.5394037Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.5394037Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/test-file-976275ec-95a8-4833-ee8f-e9e457ad3b57?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B4639F1\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:39:08.5991409Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.5991409Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.5991409Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B59853F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:39:08.7255871Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.7255871Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.7255871Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/bar/test-file-dbc15934-3afe-8bf1-241f-25506eb6ef75?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B63176A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:39:08.7883114Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.7883114Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.7883114Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B6CD083\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:39:08.8520323Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.8520323Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.8520323Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/pik/test-file-7643a616-b4b6-fd18-07cb-14cd5c540986?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B75EE09\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:39:08.9117705Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.9117705Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.9117705Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fa25848d-ad42-547d-f644-24dd854bb77d\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-36395455-ed30-278a-9b22-63d41694bae6</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-976275ec-95a8-4833-ee8f-e9e457ad3b57</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86B59853F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:39:08.7255871Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.7255871Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.7255871Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fa25848d-ad42-547d-f644-24dd854bb77d\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-dbc15934-3afe-8bf1-241f-25506eb6ef75</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/test-file-976275ec-95a8-4833-ee8f-e9e457ad3b57?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB86B4639F1\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:39:08.5991409Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.5991409Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.5991409Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fa25848d-ad42-547d-f644-24dd854bb77d\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-7643a616-b4b6-fd18-07cb-14cd5c540986</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ceb9200-f0f7-c91e-ab08-f0cac65e5102/destFolder/test-file-36395455-ed30-278a-9b22-63d41694bae6?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/test-file-36395455-ed30-278a-9b22-63d41694bae6?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86BB01489\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:09 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ceb9200-f0f7-c91e-ab08-f0cac65e5102/destFolder/bar/test-file-dbc15934-3afe-8bf1-241f-25506eb6ef75?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/bar/test-file-dbc15934-3afe-8bf1-241f-25506eb6ef75?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86BBCD769\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:09 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ceb9200-f0f7-c91e-ab08-f0cac65e5102/destFolder/pik/test-file-7643a616-b4b6-fd18-07cb-14cd5c540986?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/pik/test-file-7643a616-b4b6-fd18-07cb-14cd5c540986?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86BC0F180\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:09 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ceb9200-f0f7-c91e-ab08-f0cac65e5102?restype=container&comp=list&prefix=destFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-6ceb9200-f0f7-c91e-ab08-f0cac65e5102\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-dbc15934-3afe-8bf1-241f-25506eb6ef75</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:39:09 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:39:09 GMT</Last-Modified><Etag>0x8DE6EB86BBCD769</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-7643a616-b4b6-fd18-07cb-14cd5c540986</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:39:09 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:39:09 GMT</Last-Modified><Etag>0x8DE6EB86BC0F180</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ceb9200-f0f7-c91e-ab08-f0cac65e5102/destFolder/bar/test-file-dbc15934-3afe-8bf1-241f-25506eb6ef75?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB86BBCD769\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:39:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d/sourceFolder/bar/test-file-dbc15934-3afe-8bf1-241f-25506eb6ef75?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB86B63176A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:39:08.7883114Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:08.7883114Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:39:08.7883114Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ceb9200-f0f7-c91e-ab08-f0cac65e5102/destFolder/bar/test-file-dbc15934-3afe-8bf1-241f-25506eb6ef75?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB86BBCD769\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB86BBCD769\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:39:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa25848d-ad42-547d-f644-24dd854bb77d?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A39%3A08Z&se=2026-02-18T07%3A39%3A08Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:39:08.3055882-08:00",
    "RandomSeed": "585897816",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
