{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2B3E1B8\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a729dfd-e782-5dbe-b0cf-016271dbd3ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2BB1F14\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2C177F9\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:36.1009145Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.1009145Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.1009145Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/test-file-009ed8bc-33f5-c297-ea5a-1c04ac13a2f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2C65482\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:36.1327746Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.1327746Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.1327746Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2D16B9E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2054558Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2054558Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2054558Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/bar/test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2D5FA66\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2DA3B54\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2632020Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2632020Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2632020Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/pik/test-file-1637b83b-835a-d80c-e172-4c601a07c15e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2DEA336\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2920758Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2920758Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2920758Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder?sv=Sanitized&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-25213842-a163-489e-5cd4-9895ad2588eb\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-009ed8bc-33f5-c297-ea5a-1c04ac13a2f0</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-1762bca7-cfce-31f4-e13c-a8dc73241c15</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/bar?sv=Sanitized&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2D16B9E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2054558Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2054558Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2054558Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/pik?sv=Sanitized&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B2DA3B54\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2632020Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2632020Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2632020Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/bar?sv=Sanitized&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-25213842-a163-489e-5cd4-9895ad2588eb\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/test-file-1762bca7-cfce-31f4-e13c-a8dc73241c15?sv=Sanitized&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90B2CD03C1\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:36.1765825Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.1765825Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.1765825Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/pik?sv=Sanitized&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-25213842-a163-489e-5cd4-9895ad2588eb\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-1637b83b-835a-d80c-e172-4c601a07c15e</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/bar/test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0?sv=Sanitized&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90B2D5FA66\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/pik/test-file-1637b83b-835a-d80c-e172-4c601a07c15e?sv=Sanitized&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90B2DEA336\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2920758Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2920758Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2920758Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a729dfd-e782-5dbe-b0cf-016271dbd3ca/destFolder/test-file-1762bca7-cfce-31f4-e13c-a8dc73241c15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/test-file-1762bca7-cfce-31f4-e13c-a8dc73241c15?sv=sanitized-value&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B30662E2\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:12:36.5525730Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a729dfd-e782-5dbe-b0cf-016271dbd3ca/destFolder/bar/test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/bar/test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0?sv=sanitized-value&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B3079A0A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:12:36.5605386Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a729dfd-e782-5dbe-b0cf-016271dbd3ca/destFolder/pik/test-file-1637b83b-835a-d80c-e172-4c601a07c15e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/pik/test-file-1637b83b-835a-d80c-e172-4c601a07c15e?sv=sanitized-value&se=2025-04-15T20%3A12%3A44Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90B30D121B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:12:36.5963803Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-25213842-a163-489e-5cd4-9895ad2588eb\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-009ed8bc-33f5-c297-ea5a-1c04ac13a2f0</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-1762bca7-cfce-31f4-e13c-a8dc73241c15</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-25213842-a163-489e-5cd4-9895ad2588eb\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-25213842-a163-489e-5cd4-9895ad2588eb\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-1637b83b-835a-d80c-e172-4c601a07c15e</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a729dfd-e782-5dbe-b0cf-016271dbd3ca?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-6a729dfd-e782-5dbe-b0cf-016271dbd3ca\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0</Name><VersionId>2025-04-14T20:12:36.5605386Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:12:36 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:12:36 GMT</Last-Modified><Etag>0x8DD7B90B3079A0A</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-1637b83b-835a-d80c-e172-4c601a07c15e</Name><VersionId>2025-04-14T20:12:36.5963803Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:12:36 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:12:36 GMT</Last-Modified><Etag>0x8DD7B90B30D121B</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a729dfd-e782-5dbe-b0cf-016271dbd3ca/destFolder/bar/test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90B3079A0A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:12:36.5605386Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-25213842-a163-489e-5cd4-9895ad2588eb/sourceFolder/bar/test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90B2D5FA66\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:12:36.2353254Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a729dfd-e782-5dbe-b0cf-016271dbd3ca/destFolder/bar/test-file-5597b0a2-7cb8-cf96-02d0-9f9e214b8ca0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD7B90B3079A0A\"",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90B3079A0A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:12:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:12:36.5605386Z"
      },
[...]
