{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939DB56DDA\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24ef2697-0a03-1be2-0cdf-afdcfcf39c4a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939DBFE387\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939DC96978\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:30:16.3882360Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.3882360Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.3882360Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/test-file-d7da8dcc-f8bf-bfd4-0a4e-18afff3fa734",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939DD2124F\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:16.4449871Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.4449871Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.4449871Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939DE536A3\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:30:16.5704355Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.5704355Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.5704355Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/bar/test-file-4c59bcc1-1334-fd4f-d680-a52660176d52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939DEDDF7E\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939DF6D61C\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:30:16.6859292Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.6859292Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.6859292Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/pik/test-file-07d572db-7a01-b66d-840e-eb0417346d02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939DFF7EE5\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:16.7426789Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.7426789Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.7426789Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder?sv=Sanitized&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-b3a31d5d-4efb-f668-35cb-7a79379e60db</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-d7da8dcc-f8bf-bfd4-0a4e-18afff3fa734</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/bar?sv=Sanitized&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-4c59bcc1-1334-fd4f-d680-a52660176d52</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/test-file-d7da8dcc-f8bf-bfd4-0a4e-18afff3fa734?sv=Sanitized&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD56939DD2124F\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:16.4449871Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.4449871Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.4449871Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/pik?sv=Sanitized&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-07d572db-7a01-b66d-840e-eb0417346d02</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/bar/test-file-4c59bcc1-1334-fd4f-d680-a52660176d52?sv=Sanitized&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD56939DEDDF7E\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/pik/test-file-07d572db-7a01-b66d-840e-eb0417346d02?sv=Sanitized&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD56939DFF7EE5\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:16.7426789Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.7426789Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.7426789Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24ef2697-0a03-1be2-0cdf-afdcfcf39c4a/destFolder/test-file-d7da8dcc-f8bf-bfd4-0a4e-18afff3fa734",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/test-file-d7da8dcc-f8bf-bfd4-0a4e-18afff3fa734?sv=sanitized-value&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939E2E77EA\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24ef2697-0a03-1be2-0cdf-afdcfcf39c4a/destFolder/bar/test-file-4c59bcc1-1334-fd4f-d680-a52660176d52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/bar/test-file-4c59bcc1-1334-fd4f-d680-a52660176d52?sv=sanitized-value&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939E36852A\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24ef2697-0a03-1be2-0cdf-afdcfcf39c4a/destFolder/pik/test-file-07d572db-7a01-b66d-840e-eb0417346d02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/pik/test-file-07d572db-7a01-b66d-840e-eb0417346d02?sv=sanitized-value&se=2025-02-27T18%3A30%3A16Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939E3BFD38\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-b3a31d5d-4efb-f668-35cb-7a79379e60db</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-d7da8dcc-f8bf-bfd4-0a4e-18afff3fa734</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-4c59bcc1-1334-fd4f-d680-a52660176d52</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-07d572db-7a01-b66d-840e-eb0417346d02</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24ef2697-0a03-1be2-0cdf-afdcfcf39c4a?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-24ef2697-0a03-1be2-0cdf-afdcfcf39c4a\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-4c59bcc1-1334-fd4f-d680-a52660176d52</Name><Properties><Creation-Time>Wed, 26 Feb 2025 18:30:17 GMT</Creation-Time><Last-Modified>Wed, 26 Feb 2025 18:30:17 GMT</Last-Modified><Etag>0x8DD56939E36852A</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-07d572db-7a01-b66d-840e-eb0417346d02</Name><Properties><Creation-Time>Wed, 26 Feb 2025 18:30:17 GMT</Creation-Time><Last-Modified>Wed, 26 Feb 2025 18:30:17 GMT</Last-Modified><Etag>0x8DD56939E3BFD38</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24ef2697-0a03-1be2-0cdf-afdcfcf39c4a/destFolder/bar/test-file-4c59bcc1-1334-fd4f-d680-a52660176d52",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD56939E36852A\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6/sourceFolder/bar/test-file-4c59bcc1-1334-fd4f-d680-a52660176d52",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD56939DEDDF7E\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-26T18:30:16.6271870Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24ef2697-0a03-1be2-0cdf-afdcfcf39c4a/destFolder/bar/test-file-4c59bcc1-1334-fd4f-d680-a52660176d52",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD56939E36852A\"",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD56939E36852A\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 Feb 2025 18:30:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-feff1c3f-18db-3520-b890-9529ae6ec8f6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-26T10:30:16.7829237-08:00",
    "RandomSeed": "886447812",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
