{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB662F08DBC\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e506f9b-2a2e-8b59-07f3-b51d6d8ce162?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB662FDC47C\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB66307C3A8\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:35.7745576Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:35.7745576Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:24:35.7745576Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/test-file-954e9144-a255-abba-9c87-e2990a6f228d?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB66310E12C\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:35.8342956Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:35.8342956Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-02-18T06:24:35.8342956Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6632390E0\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:35.9567584Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:35.9567584Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:24:35.9567584Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/bar/test-file-ed109c79-6526-0f00-b46a-b9361d43ce0b?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6632DBE9F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:36.0234655Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:36.0234655Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:24:36.0234655Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB66336DC24\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:36.0832036Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:36.0832036Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-02-18T06:24:36.0832036Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/pik/test-file-e6bb80a4-dad6-1e22-16bc-98b084c3ffd9?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6633FF9AA\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:36.1429418Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:36.1429418Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-02-18T06:24:36.1429418Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-50c481f4-d2e1-bffd-7650-d6806dc82f7e</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-954e9144-a255-abba-9c87-e2990a6f228d</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6632390E0\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:35.9567584Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:35.9567584Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:24:35.9567584Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-ed109c79-6526-0f00-b46a-b9361d43ce0b</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/test-file-954e9144-a255-abba-9c87-e2990a6f228d?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB66310E12C\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:35.8342956Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:35.8342956Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-02-18T06:24:35.8342956Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-e6bb80a4-dad6-1e22-16bc-98b084c3ffd9</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e506f9b-2a2e-8b59-07f3-b51d6d8ce162/destFolder/test-file-954e9144-a255-abba-9c87-e2990a6f228d?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/test-file-954e9144-a255-abba-9c87-e2990a6f228d?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB66379F92A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e506f9b-2a2e-8b59-07f3-b51d6d8ce162/destFolder/bar/test-file-ed109c79-6526-0f00-b46a-b9361d43ce0b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/bar/test-file-ed109c79-6526-0f00-b46a-b9361d43ce0b?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB663836475\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e506f9b-2a2e-8b59-07f3-b51d6d8ce162/destFolder/pik/test-file-e6bb80a4-dad6-1e22-16bc-98b084c3ffd9?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/pik/test-file-e6bb80a4-dad6-1e22-16bc-98b084c3ffd9?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6638B23F7\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e506f9b-2a2e-8b59-07f3-b51d6d8ce162?restype=container&comp=list&prefix=destFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-5e506f9b-2a2e-8b59-07f3-b51d6d8ce162\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-ed109c79-6526-0f00-b46a-b9361d43ce0b</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:24:36 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:24:36 GMT</Last-Modified><Etag>0x8DE6EB663836475</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-e6bb80a4-dad6-1e22-16bc-98b084c3ffd9</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:24:36 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:24:36 GMT</Last-Modified><Etag>0x8DE6EB6638B23F7</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e506f9b-2a2e-8b59-07f3-b51d6d8ce162/destFolder/bar/test-file-ed109c79-6526-0f00-b46a-b9361d43ce0b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB663836475\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18/sourceFolder/bar/test-file-ed109c79-6526-0f00-b46a-b9361d43ce0b?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB6632DBE9F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:36.0234655Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:36.0234655Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:24:36.0234655Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e506f9b-2a2e-8b59-07f3-b51d6d8ce162/destFolder/bar/test-file-ed109c79-6526-0f00-b46a-b9361d43ce0b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB663836475\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB663836475\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:24:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c3520a3-a5af-f195-7d3a-1532594fbf18?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A35Z&se=2026-02-18T07%3A24%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:24:35.6107900-08:00",
    "RandomSeed": "1863011674",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
