{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9BFF0776A\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d31d3e86-6b41-37e0-f98a-dc302df97da5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9BFFCC4DE\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C0065DE9\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:45:03.4260969Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.4260969Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.4260969Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/test-file-bdf392f0-f24c-2eba-5031-4a4f2b6c3f94",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C0128544\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:45:03.5057476Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.5057476Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.5057476Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C038CE04\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:45:03.7566468Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.7566468Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.7566468Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/bar/test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C042126D\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C04E8785\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:45:03.8990213Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.8990213Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.8990213Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/pik/test-file-b3cf98b9-c1dd-5222-685d-83a174c7616d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C058409A\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:45:03.9627418Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.9627418Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.9627418Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder?sv=Sanitized&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-bdf392f0-f24c-2eba-5031-4a4f2b6c3f94</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-ded70cbd-a6da-21e2-3da1-09b73d8be772</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/bar?sv=Sanitized&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C038CE04\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:45:03.7566468Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.7566468Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.7566468Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/pik?sv=Sanitized&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C04E8785\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:45:03.8990213Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.8990213Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.8990213Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/bar?sv=Sanitized&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/test-file-bdf392f0-f24c-2eba-5031-4a4f2b6c3f94?sv=Sanitized&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F9C0128544\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:45:03.5057476Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.5057476Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.5057476Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/pik?sv=Sanitized&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-b3cf98b9-c1dd-5222-685d-83a174c7616d</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/bar/test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53?sv=Sanitized&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F9C042126D\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/pik/test-file-b3cf98b9-c1dd-5222-685d-83a174c7616d?sv=Sanitized&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F9C058409A\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:45:03.9627418Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.9627418Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.9627418Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d31d3e86-6b41-37e0-f98a-dc302df97da5/destinationFolder/test-file-bdf392f0-f24c-2eba-5031-4a4f2b6c3f94",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/test-file-bdf392f0-f24c-2eba-5031-4a4f2b6c3f94?sv=sanitized-value&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C0ABB778\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d31d3e86-6b41-37e0-f98a-dc302df97da5/destinationFolder/bar/test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/bar/test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53?sv=sanitized-value&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C0B5E53E\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d31d3e86-6b41-37e0-f98a-dc302df97da5/destinationFolder/pik/test-file-b3cf98b9-c1dd-5222-685d-83a174c7616d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/pik/test-file-b3cf98b9-c1dd-5222-685d-83a174c7616d?sv=sanitized-value&se=2025-05-16T21%3A45%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9C0BD7DD0\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-bdf392f0-f24c-2eba-5031-4a4f2b6c3f94</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-ded70cbd-a6da-21e2-3da1-09b73d8be772</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-b3cf98b9-c1dd-5222-685d-83a174c7616d</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d31d3e86-6b41-37e0-f98a-dc302df97da5?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d31d3e86-6b41-37e0-f98a-dc302df97da5\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53</Name><Properties><Creation-Time>Thu, 15 May 2025 21:45:04 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:45:04 GMT</Last-Modified><Etag>0x8DD93F9C0B5E53E</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-b3cf98b9-c1dd-5222-685d-83a174c7616d</Name><Properties><Creation-Time>Thu, 15 May 2025 21:45:04 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:45:04 GMT</Last-Modified><Etag>0x8DD93F9C0BD7DD0</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d31d3e86-6b41-37e0-f98a-dc302df97da5/destinationFolder/bar/test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F9C0B5E53E\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140/sourceFolder/bar/test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F9C042126D\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-creation-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:45:03.8173805Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d31d3e86-6b41-37e0-f98a-dc302df97da5/destinationFolder/bar/test-file-ba27b497-f9fe-8e6b-ae2d-63ffc8f85d53",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD93F9C0B5E53E\"",
        "x-ms-date": "Thu, 15 May 2025 21:45:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F9C0B5E53E\"",
        "Last-Modified": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:45:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3a13cc33-fbbc-6e30-5912-a35bd1357140?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:45:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
[...]
