{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D880B9457\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efae294c-5c28-e360-dcfc-6031793f8a07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D881597BD\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D881F3EDD\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:04:54.3403741Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.3403741Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.3403741Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D88288338\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:04:54.4011064Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.4011064Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.4011064Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/foo/test-file-dbe57935-be12-b70b-67cb-3f093cd69bed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D8831A0BE\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/rul?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D883B59D6\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:04:54.5245654Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.5245654Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.5245654Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/rul/test-file-5d164844-ff0c-a9ef-1b1b-0883e770811d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D88458798\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:04:54.5912728Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.5912728Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.5912728Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D884EF2E7\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:04:54.6530023Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.6530023Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.6530023Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/pik/test-file-ec55ba6a-8b34-fa2a-6fd0-349fd1f6a28c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D8857E988\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:04:54.7117448Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.7117448Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.7117448Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder?sv=Sanitized&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>foo</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/foo?sv=Sanitized&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c\" DirectoryPath=\"sourceFolder/foo\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-dbe57935-be12-b70b-67cb-3f093cd69bed</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/pik?sv=Sanitized&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-ec55ba6a-8b34-fa2a-6fd0-349fd1f6a28c</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/foo/test-file-dbe57935-be12-b70b-67cb-3f093cd69bed?sv=Sanitized&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D8831A0BE\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/rul?sv=Sanitized&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c\" DirectoryPath=\"sourceFolder/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-5d164844-ff0c-a9ef-1b1b-0883e770811d</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/pik/test-file-ec55ba6a-8b34-fa2a-6fd0-349fd1f6a28c?sv=Sanitized&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D8857E988\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:04:54.7117448Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.7117448Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.7117448Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/rul/test-file-5d164844-ff0c-a9ef-1b1b-0883e770811d?sv=Sanitized&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D88458798\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:04:54.5912728Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.5912728Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.5912728Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efae294c-5c28-e360-dcfc-6031793f8a07/destFolder/foo/test-file-dbe57935-be12-b70b-67cb-3f093cd69bed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/foo/test-file-dbe57935-be12-b70b-67cb-3f093cd69bed?sv=sanitized-value&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D888C2BC1\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efae294c-5c28-e360-dcfc-6031793f8a07/destFolder/pik/test-file-ec55ba6a-8b34-fa2a-6fd0-349fd1f6a28c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/pik/test-file-ec55ba6a-8b34-fa2a-6fd0-349fd1f6a28c?sv=sanitized-value&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D8896CE36\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efae294c-5c28-e360-dcfc-6031793f8a07/destFolder/rul/test-file-5d164844-ff0c-a9ef-1b1b-0883e770811d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/rul/test-file-5d164844-ff0c-a9ef-1b1b-0883e770811d?sv=sanitized-value&se=2024-12-11T19%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D889BF87E\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>foo</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c\" DirectoryPath=\"sourceFolder/foo\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-dbe57935-be12-b70b-67cb-3f093cd69bed</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-ec55ba6a-8b34-fa2a-6fd0-349fd1f6a28c</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/rul?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c\" DirectoryPath=\"sourceFolder/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-5d164844-ff0c-a9ef-1b1b-0883e770811d</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efae294c-5c28-e360-dcfc-6031793f8a07?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-efae294c-5c28-e360-dcfc-6031793f8a07\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/foo/test-file-dbe57935-be12-b70b-67cb-3f093cd69bed</Name><Properties><Creation-Time>Tue, 10 Dec 2024 19:04:55 GMT</Creation-Time><Last-Modified>Tue, 10 Dec 2024 19:04:55 GMT</Last-Modified><Etag>0x8DD194D888C2BC1</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-ec55ba6a-8b34-fa2a-6fd0-349fd1f6a28c</Name><Properties><Creation-Time>Tue, 10 Dec 2024 19:04:55 GMT</Creation-Time><Last-Modified>Tue, 10 Dec 2024 19:04:55 GMT</Last-Modified><Etag>0x8DD194D8896CE36</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efae294c-5c28-e360-dcfc-6031793f8a07/destFolder/foo/test-file-dbe57935-be12-b70b-67cb-3f093cd69bed",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D888C2BC1\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c84b87ff-f2b0-e110-8c55-72dce19c417c/sourceFolder/foo/test-file-dbe57935-be12-b70b-67cb-3f093cd69bed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:56 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D8831A0BE\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-creation-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-10T19:04:54.4608446Z",
        "x-ms-file-parent-id": "115[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efae294c-5c28-e360-dcfc-6031793f8a07/destFolder/foo/test-file-dbe57935-be12-b70b-67cb-3f093cd69bed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD194D888C2BC1\"",
        "x-ms-date": "Tue, 10 Dec 2024 19:04:56 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D888C2BC1\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:04:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
[...]
