{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F897443CD0\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e22eed0b-845f-d730-ad2e-36e8f9d28386?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8974FB78F\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F89759EFE4\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:45.6904676Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.6904676Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.6904676Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8976271D6\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:45.7462230Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.7462230Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.7462230Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/test-file-242b4e96-5b6b-8ac3-0ee1-d4ddba089f7a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8976AF3C1\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:45.8019777Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.8019777Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.8019777Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F89773C386\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:45.8597254Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.8597254Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.8597254Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/folder1/test-file-1c5275c3-6e40-e177-6dfb-930448113e95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8977D07EC\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder?sv=Sanitized&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-54f917ef-dcca-8083-321e-3e61181526ec\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0?sv=Sanitized&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8976271D6\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:45.7462230Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.7462230Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.7462230Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0?sv=Sanitized&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-54f917ef-dcca-8083-321e-3e61181526ec\" DirectoryPath=\"sourceFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-242b4e96-5b6b-8ac3-0ee1-d4ddba089f7a</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/folder1?sv=Sanitized&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F89773C386\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:45.8597254Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.8597254Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.8597254Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/folder1?sv=Sanitized&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-54f917ef-dcca-8083-321e-3e61181526ec\" DirectoryPath=\"sourceFolder/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-1c5275c3-6e40-e177-6dfb-930448113e95</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/test-file-242b4e96-5b6b-8ac3-0ee1-d4ddba089f7a?sv=Sanitized&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F8976AF3C1\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:45.8019777Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.8019777Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.8019777Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/folder1/test-file-1c5275c3-6e40-e177-6dfb-930448113e95?sv=Sanitized&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F8977D07EC\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e22eed0b-845f-d730-ad2e-36e8f9d28386/destFolder/folder0/test-file-242b4e96-5b6b-8ac3-0ee1-d4ddba089f7a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/test-file-242b4e96-5b6b-8ac3-0ee1-d4ddba089f7a?sv=sanitized-value&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F897C24B81\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e22eed0b-845f-d730-ad2e-36e8f9d28386/destFolder/folder0/folder1/test-file-1c5275c3-6e40-e177-6dfb-930448113e95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/folder1/test-file-1c5275c3-6e40-e177-6dfb-930448113e95?sv=sanitized-value&se=2025-05-16T21%3A36%3A46Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F897CC7945\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-54f917ef-dcca-8083-321e-3e61181526ec\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-54f917ef-dcca-8083-321e-3e61181526ec\" DirectoryPath=\"sourceFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-242b4e96-5b6b-8ac3-0ee1-d4ddba089f7a</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-54f917ef-dcca-8083-321e-3e61181526ec\" DirectoryPath=\"sourceFolder/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-1c5275c3-6e40-e177-6dfb-930448113e95</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e22eed0b-845f-d730-ad2e-36e8f9d28386?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-e22eed0b-845f-d730-ad2e-36e8f9d28386\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/folder0/folder1/test-file-1c5275c3-6e40-e177-6dfb-930448113e95</Name><Properties><Creation-Time>Thu, 15 May 2025 21:36:46 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:36:46 GMT</Last-Modified><Etag>0x8DD93F897CC7945</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/folder0/test-file-242b4e96-5b6b-8ac3-0ee1-d4ddba089f7a</Name><Properties><Creation-Time>Thu, 15 May 2025 21:36:46 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:36:46 GMT</Last-Modified><Etag>0x8DD93F897C24B81</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>iknlm7CyG2k=</Content-CRC64><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e22eed0b-845f-d730-ad2e-36e8f9d28386/destFolder/folder0/folder1/test-file-1c5275c3-6e40-e177-6dfb-930448113e95",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F897CC7945\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec/sourceFolder/folder0/folder1/test-file-1c5275c3-6e40-e177-6dfb-930448113e95",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F8977D07EC\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:36:45.9204588Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e22eed0b-845f-d730-ad2e-36e8f9d28386/destFolder/folder0/folder1/test-file-1c5275c3-6e40-e177-6dfb-930448113e95",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD93F897CC7945\"",
        "x-ms-date": "Thu, 15 May 2025 21:36:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F897CC7945\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:36:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-54f917ef-dcca-8083-321e-3e61181526ec?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-15T14:36:46.8517891-07:00",
    "RandomSeed": "815946245",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
