{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894AA40C6\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7da64d8d-c7ec-2ce4-bed7-f9b4389b373e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894B44707\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894C010A4\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:41.3266084Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.3266084Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.3266084Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894C8E060\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:41.3843552Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.3843552Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.3843552Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/test-file-9614cb26-7e85-ead6-d499-7e8e9e234d83",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894D1892E\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:41.4411054Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.4411054Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.4411054Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894DB1B67\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:41.5038311Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.5038311Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.5038311Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/test-file-87474b82-baa1-a0a9-23bb-d7416473ff0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894E60BA1\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:41.5755169Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.5755169Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.5755169Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/folder2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894EEB476\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:41.6322678Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.6322678Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.6322678Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/folder2/test-file-a659fec0-f791-4b3c-cacb-b47ff7b5151f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894F86D8B\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:41.6959883Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.6959883Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.6959883Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-945e24e3-0a52-c654-9cc3-f89febae9899\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894C8E060\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:41.3843552Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.3843552Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.3843552Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-945e24e3-0a52-c654-9cc3-f89febae9899\" DirectoryPath=\"sourceFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-9614cb26-7e85-ead6-d499-7e8e9e234d83</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894DB1B67\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:41.5038311Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.5038311Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.5038311Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-945e24e3-0a52-c654-9cc3-f89febae9899\" DirectoryPath=\"sourceFolder/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-87474b82-baa1-a0a9-23bb-d7416473ff0e</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/test-file-9614cb26-7e85-ead6-d499-7e8e9e234d83?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F894D1892E\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:41.4411054Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.4411054Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.4411054Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/folder2?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F894EEB476\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:36:41.6322678Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.6322678Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.6322678Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/folder2?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-945e24e3-0a52-c654-9cc3-f89febae9899\" DirectoryPath=\"sourceFolder/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-a659fec0-f791-4b3c-cacb-b47ff7b5151f</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/test-file-87474b82-baa1-a0a9-23bb-d7416473ff0e?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F894E60BA1\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:41.5755169Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.5755169Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.5755169Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7da64d8d-c7ec-2ce4-bed7-f9b4389b373e/destFolder/folder0/test-file-9614cb26-7e85-ead6-d499-7e8e9e234d83",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/test-file-9614cb26-7e85-ead6-d499-7e8e9e234d83?sv=sanitized-value&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8954376FD\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/folder2/test-file-a659fec0-f791-4b3c-cacb-b47ff7b5151f?sv=Sanitized&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93F894F86D8B\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:36:41.6959883Z",
        "x-ms-file-creation-time": "2025-05-15T21:36:41.6959883Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-15T21:36:41.6959883Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7da64d8d-c7ec-2ce4-bed7-f9b4389b373e/destFolder/folder0/folder1/test-file-87474b82-baa1-a0a9-23bb-d7416473ff0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/test-file-87474b82-baa1-a0a9-23bb-d7416473ff0e?sv=sanitized-value&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F895545402\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7da64d8d-c7ec-2ce4-bed7-f9b4389b373e/destFolder/folder0/folder1/folder2/test-file-a659fec0-f791-4b3c-cacb-b47ff7b5151f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/folder2/test-file-a659fec0-f791-4b3c-cacb-b47ff7b5151f?sv=sanitized-value&se=2025-05-16T21%3A36%3A42Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8955E33F7\"",
        "Last-Modified": "Thu, 15 May 2025 21:36:42 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-945e24e3-0a52-c654-9cc3-f89febae9899\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-945e24e3-0a52-c654-9cc3-f89febae9899\" DirectoryPath=\"sourceFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-9614cb26-7e85-ead6-d499-7e8e9e234d83</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-945e24e3-0a52-c654-9cc3-f89febae9899\" DirectoryPath=\"sourceFolder/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-87474b82-baa1-a0a9-23bb-d7416473ff0e</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-945e24e3-0a52-c654-9cc3-f89febae9899/sourceFolder/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-945e24e3-0a52-c654-9cc3-f89febae9899\" DirectoryPath=\"sourceFolder/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-a659fec0-f791-4b3c-cacb-b47ff7b5151f</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7da64d8d-c7ec-2ce4-bed7-f9b4389b373e?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:36:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
[...]
