{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CB8CB02\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-1fb9ed2b-fb10-d186-9a14-468deeeed7ae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CBC225F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CCCBE9D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:16:00.8568477Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:00.8568477Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:16:00.8568477Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/test-file-3ac663f5-504e-30fe-dbf4-204da386f32a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CD19B1F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:16:00.8887071Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:00.8887071Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:16:00.8887071Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CDAB8AC\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:16:00.9484460Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:00.9484460Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:16:00.9484460Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/bar/test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CDF208F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CE3886C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:16:01.0061932Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:01.0061932Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T20:16:01.0061932Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/pik/test-file-b6c2dba9-7a70-417b-0271-118f827f72d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CE7C95F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:16:01.0340703Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:01.0340703Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T20:16:01.0340703Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder?sv=Sanitized&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-3ac663f5-504e-30fe-dbf4-204da386f32a</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-7dc7cd8d-d9b6-dd46-3775-8ad6e11b08b6</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/bar?sv=Sanitized&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CDAB8AC\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:16:00.9484460Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:00.9484460Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:16:00.9484460Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/pik?sv=Sanitized&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912CE3886C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:16:01.0061932Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:01.0061932Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T20:16:01.0061932Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/bar?sv=Sanitized&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/test-file-3ac663f5-504e-30fe-dbf4-204da386f32a?sv=Sanitized&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B912CD19B1F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:16:00.8887071Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:00.8887071Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:16:00.8887071Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/pik?sv=Sanitized&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-b6c2dba9-7a70-417b-0271-118f827f72d0</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/bar/test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a?sv=Sanitized&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B912CDF208F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/pik/test-file-b6c2dba9-7a70-417b-0271-118f827f72d0?sv=Sanitized&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B912CE7C95F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:16:01.0340703Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:01.0340703Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T20:16:01.0340703Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-1fb9ed2b-fb10-d186-9a14-468deeeed7ae/destinationFolder/test-file-3ac663f5-504e-30fe-dbf4-204da386f32a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/test-file-3ac663f5-504e-30fe-dbf4-204da386f32a?sv=sanitized-value&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912D0BE042\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:16:01.2705858Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-1fb9ed2b-fb10-d186-9a14-468deeeed7ae/destinationFolder/bar/test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/bar/test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a?sv=sanitized-value&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912D132B0D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:16:01.3193711Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-1fb9ed2b-fb10-d186-9a14-468deeeed7ae/destinationFolder/pik/test-file-b6c2dba9-7a70-417b-0271-118f827f72d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/pik/test-file-b6c2dba9-7a70-417b-0271-118f827f72d0?sv=sanitized-value&se=2025-04-15T20%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B912D15E716\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:16:01.3362966Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-3ac663f5-504e-30fe-dbf4-204da386f32a</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-7dc7cd8d-d9b6-dd46-3775-8ad6e11b08b6</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-b6c2dba9-7a70-417b-0271-118f827f72d0</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-1fb9ed2b-fb10-d186-9a14-468deeeed7ae?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-1fb9ed2b-fb10-d186-9a14-468deeeed7ae\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a</Name><VersionId>2025-04-14T20:16:01.3193711Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:16:01 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:16:01 GMT</Last-Modified><Etag>0x8DD7B912D132B0D</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>6YKnaCgO5h0=</Content-CRC64><Content-MD5>v2GerAzfP2jUluqTRBN+iw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-b6c2dba9-7a70-417b-0271-118f827f72d0</Name><VersionId>2025-04-14T20:16:01.3362966Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:16:01 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:16:01 GMT</Last-Modified><Etag>0x8DD7B912D15E716</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>6YKnaC[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-1fb9ed2b-fb10-d186-9a14-468deeeed7ae/destinationFolder/bar/test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "v2GerAzfP2jUluqTRBN+iw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B912D132B0D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:16:01.3193711Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e13af6e7-a4ce-2ca3-3759-fe6cf92039d0/sourceFolder/bar/test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:10 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B912CDF208F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-creation-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:16:00.9773199Z",
        "x-ms-file-parent-id": "10376[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-1fb9ed2b-fb10-d186-9a14-468deeeed7ae/destinationFolder/bar/test-file-c5e71e92-a853-fad6-c4c9-3e196aef524a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD7B912D132B0D\"",
        "x-ms-date": "Mon, 14 Apr 2025 20:16:10 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B912D132B0D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-blob-content-md5": "v2GerAzfP2jUluqTRBN+iw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:16:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:16:01.3193711Z"
      },
[...]
