{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D353438044\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8006f0e9-7528-e4c5-6871-bdf4bbb3fad5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D35349674F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3534E5B9C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:43:27.1266204Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.1266204Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.1266204Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3535227E0\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:43:27.1515104Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.1515104Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.1515104Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3535B455D\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:43:27.2112477Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.2112477Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.2112477Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3535FAD44\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:43:27.2401220Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.2401220Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.2401220Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D353643C03\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:43:27.2699907Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.2699907Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.2699907Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D35368CAC1\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:43:27.2998593Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.2998593Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.2998593Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8006f0e9-7528-e4c5-6871-bdf4bbb3fad5/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDC4D3536D5443\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:43:27.3295939Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder?sv=Sanitized&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-73a321ea-adda-8ead-5aca-036fa4d24b41\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/bar?sv=Sanitized&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3535B455D\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:43:27.2112477Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.2112477Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.2112477Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/pik?sv=Sanitized&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D353643C03\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:43:27.2699907Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.2699907Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.2699907Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/bar?sv=Sanitized&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-73a321ea-adda-8ead-5aca-036fa4d24b41\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/item1?sv=Sanitized&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D3535227E0\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:43:27.1515104Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.1515104Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.1515104Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/pik?sv=Sanitized&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-73a321ea-adda-8ead-5aca-036fa4d24b41\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/bar/item3?sv=Sanitized&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D3535FAD44\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:43:27.2401220Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.2401220Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.2401220Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8006f0e9-7528-e4c5-6871-bdf4bbb3fad5/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/item1?sv=sanitized-value&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:bc3270a5-b01e-0033-23bc-f6e571000000\n",
        "Time:2025-07-17T01:43:27.4998832Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/pik/item4?sv=Sanitized&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D35368CAC1\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:43:27.2998593Z",
        "x-ms-file-creation-time": "2025-07-17T01:43:27.2998593Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-17T01:43:27.2998593Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8006f0e9-7528-e4c5-6871-bdf4bbb3fad5/destFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/bar/item3?sv=sanitized-value&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3539D0843\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:43:27.6422211Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8006f0e9-7528-e4c5-6871-bdf4bbb3fad5/destFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41/sourceFolder/pik/item4?sv=sanitized-value&se=2025-07-18T01%3A43%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D353A479F6\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:43:27 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:43:27.6910070Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73a321ea-adda-8ead-5aca-036fa4d24b41?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:43:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-16T21:43:27.5901018-04:00",
    "RandomSeed": "33860506",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
