{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites/mysitexxxx?api-version=2023-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "serverFarmId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "siteConfig": {
            "netFrameworkVersion": "v4.6",
            "localMySqlEnabled": false,
            "http20Enabled": true
          },
          "scmSiteAlsoStopped": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"1DABBD7EA89176B\"",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites/mysitexxxx",
        "name": "mysitexxxx",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "East US",
        "properties": {
          "name": "mysitexxxx",
          "state": "Running",
          "hostNames": [
            "mysitexxxx.azurewebsites.net"
          ],
          "webSpace": "myjstest-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-295.api.azurewebsites.windows.net:454/subscriptions/azure_subscription_id/webspaces/myjstest-EastUSwebspace/sites/mysitexxxx",
          "repositorySiteName": "mysitexxxx",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "afdEnabled": false,
          "enabledHostNames": [
            "mysitexxxx.azurewebsites.net",
            "mysitexxxx.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "mysitexxxx.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "virtualIPv6": null,
              "thumbprint": null,
              "certificateResourceId": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "mysitexxxx.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "virtualIPv6": null,
              "thumbprint": null,
              "certificateResourceId": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2024-06-11T08:18:37.65",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "dnsConfiguration": {},
          "vnetRouteAllEnabled": false,
          "containerAllocationSubnet": null,
          "useContainerLocalhostBindings": null,
          "vnetImagePullEnabled": false,
          "vnetContentShareEnabled": false,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "windowsConfiguredStacks": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 2147483647,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "ipSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 2147483647,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": true,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": null,
            "elasticWebAppScaleLimit": 0,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null,
            "sitePrivateLinkHostEnabled": null,
            "clusteringEnabled": false
          },
          "functionAppConfig": null,
          "daprConfig": null,
          "deploymentId": "mysitexxxx",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Standard",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "ipMode": "IPv4",
          "vnetBackupRestoreEnabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "A9A29753FAB61CCC59FE93B4201B3B7B610A524BA93A022DB96880F7EBF2B0C1",
          "kind": "app",
          "managedEnvironmentId": null,
          "workloadProfileName": null,
          "resourceConfig": null,
          "inboundIpAddress": "20.49.104.57",
          "possibleInboundIpAddresses": "20.49.104.57",
          "ftpUsername": "mysitexxxx\\$mysitexxxx",
          "ftpsHostName": "ftps://waws-prod-blu-295.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "20.75.218.99,20.75.218.117,20.75.218.162,20.75.218.165,20.75.218.173,20.75.218.176,20.49.104.57",
          "possibleOutboundIpAddresses": "20.75.218.99,20.75.218.117,20.75.218.162,20.75.218.165,20.75.218.173,20.75.218.176,20.75.218.178,20.75.218.183,20.75.218.186,20.72.171.55,20.75.218.191,20.72.174.14,20.75.218.210,20.75.218.225,20.75.218.234,20.75.218.246,20.75.219.3,20.75.219.4,52.151.211.88,20.75.219.15,20.75.219.22,20.75.218.39,20.75.216.39,20.75.219.28,20.75.219.30,20.75.219.36,20.75.219.40,20.75.219.58,40.76.166.51,20.75.217.9,20.49.104.57",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-295",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": null,
          "resourceGroup": "Sanitized",
          "defaultHostName": "mysitexxxx.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": false,
          "endToEndEncryptionEnabled": false,
          "functionsRuntimeAdminIsolationEnabled": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": null,
          "publicNetworkAccess": null,
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs",
          "inFlightFeatures": null,
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned",
          "autoGeneratedDomainNameLabelScope": null,
          "defaultHostNameScope": "Global",
          "privateLinkIdentifiers": null,
          "sshEnabled": null
        }
      }
    }
  ],
  "Variables": {}
}
