{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/servicen5kdyec?api-version=2023-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {},
        "sku": {
          "name": "S0",
          "tier": "Standard"
        },
        "tags": {
          "key1": "value1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/servicen5kdyec/operationId/00000000-0000-0000-0000-000000000000?api-version=2023-12-01",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationResults/00000000-0000-0000-0000-000000000000/Spring/servicen5kdyec?api-version=2023-12-01",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1197",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "zoneRedundant": false,
          "version": 3,
          "serviceId": "0d3e4a8805f24fb8bd4c9970648291c3",
          "powerState": "Running",
          "fqdn": "servicen5kdyec.azuremicroservices.io"
        },
        "type": "Microsoft.AppPlatform/Spring",
        "sku": {
          "name": "S0",
          "tier": "Standard"
        },
        "location": "westus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/servicen5kdyec",
        "name": "servicen5kdyec",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-05-16T06:28:34.6840415Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-16T06:28:34.6840415Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/servicen5kdyec/operationId/00000000-0000-0000-0000-000000000000?api-version=2023-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11708",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/servicen5kdyec/operationId/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "startTime": "2023-05-16T06:28:36.0587535Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/servicen5kdyec/operationId/00000000-0000-0000-0000-000000000000?api-version=2023-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11686",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/servicen5kdyec/operationId/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "startTime": "2023-05-16T06:28:36.0587535Z",
        "endTime": "2023-05-16T06:32:25.6990673Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/servicen5kdyec?api-version=2023-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11994",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "zoneRedundant": false,
          "version": 3,
          "serviceId": "0d3e4a8805f24fb8bd4c9970648291c3",
          "networkProfile": {
            "outboundIPs": {
              "publicIPs": [
                "20.245.188.50",
                "20.237.140.87"
              ]
            },
            "outboundType": "loadBalancer"
          },
          "powerState": "Running",
          "fqdn": "servicen5kdyec.azuremicroservices.io"
        },
        "type": "Microsoft.AppPlatform/Spring",
        "sku": {
          "name": "S0",
          "tier": "Standard"
        },
        "location": "westus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/servicen5kdyec",
        "name": "servicen5kdyec",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-05-16T06:28:34.6840415Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-16T06:28:34.6840415Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/servicen5kdyec/configServers/default?api-version=2023-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configServer": {
            "gitProperty": {
              "label": "main",
              "searchPaths": [
                "/"
              ],
              "uri": "https://github.com/Azure/azure-sdk-for-go.git"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/servicen5kdyec/operationId/00000000-0000-0000-0000-000000000000?api-version=2023-12-01",
        "Content-Type": "application/json",
        "Loca[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/servicen5kdyec/configServers/validate?api-version=2023-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "gitProperty": {
          "label": "main",
          "searchPaths": [
            "/"
          ],
          "uri": "https://github.com/Azure/azure-sdk-for-go.git"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/servicen5kdyec/operationId/00000000-0000-0000-0000-000000000000?api-version=2023-12-01",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationResults/00000000-0000-0000-0000-000000000000/Spring/servicen5kdyec?api-version=2023-12-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1186",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationResults/00000000-0000-0000-0000-000000000000/Spring/servicen5kdyec?api-version=2023-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11671",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "isValid": true,
        "details": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ3NzQtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14989"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1684218505",
    "recordingRandomSeed": "0"
  }
}
