{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-b996b709-fa5d-8d61-7ef4-82347ce1be5d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8B0C9620\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-93083aa3-3843-2b36-a29d-a161fe1bb3e8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8B1429E5\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-b996b709-fa5d-8d61-7ef4-82347ce1be5d/test-file-5e854d44-4307-adcd-e981-f2ca32b8813f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:20 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "WhPqS9uB4ueJrbo4ROE0Cfpjz2H0l08iBqNP4jRscXpNFxtgOLrbCD1yP72Bumvzu5Uo4BA+CMLEx0Q4MQCzHDtA6y3F09BAiMYkgViRoEw3XCafRJFpDg9YnHB1otY8viKCQc4+LejE6FdKGoZqMib4ANXZFNip1twdbTZgyubv58I1D199+S492ls5H/SI7WlJfKEBY6pK2GryIMCxZB1xWjPDNSPHegemmzp8b7folX/MFk5E7oMY6jb1i9hui3Y+yMTBxLhFggGZWsdwzmiyCotA5U3PLWyvq0rt0e8vOBDDPqfzJtDGhpNMqpS8qBzNQ4BMLaYobptYEhluWLARaSK3rJDBvuO7el66g4LY8gItH45v4gppm88LmxS2WC7jOkBxBfyMDISdkbNIbusYfx8WQDkioocXTRD[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-b996b709-fa5d-8d61-7ef4-82347ce1be5d/test-file-5e854d44-4307-adcd-e981-f2ca32b8813f?sv=Sanitized&se=2026-05-01T21%3A29%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "hejAd7KSuKdzDigb90xl6A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF8B1B9976\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-93083aa3-3843-2b36-a29d-a161fe1bb3e8/test-file-9b98e9ff-1378-f95a-b9b5-97e2d0e1dccf?sv=Sanitized&se=2026-05-01T21%3A29%3A20Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8B2BDD01\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:21.4968065Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:21.4968065Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:21.4968065Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-93083aa3-3843-2b36-a29d-a161fe1bb3e8/test-file-9b98e9ff-1378-f95a-b9b5-97e2d0e1dccf?sv=Sanitized&se=2026-05-01T21%3A29%3A20Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-b996b709-fa5d-8d61-7ef4-82347ce1be5d/test-file-5e854d44-4307-adcd-e981-f2ca32b8813f?sv=sanitized-value&se=2026-05-01T21%3A29%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8B341702\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-content-crc64": "DL+iuUVZhjs=",
        "x-ms-file-last-write-time": "2026-04-30T21:29:21.4968065Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-93083aa3-3843-2b36-a29d-a161fe1bb3e8/test-file-9b98e9ff-1378-f95a-b9b5-97e2d0e1dccf?sv=Sanitized&se=2026-05-01T21%3A29%3A20Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:29:21.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8B3AA400\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:21.5936512Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:21.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:21.4968065Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-b996b709-fa5d-8d61-7ef4-82347ce1be5d/test-file-5e854d44-4307-adcd-e981-f2ca32b8813f?sv=Sanitized&se=2026-05-01T21%3A29%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA6FF8B1B9976\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF8B1B9976\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-blob-content-md5": "hejAd7KSuKdzDigb90xl6A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "WhPqS9uB4ueJrbo4ROE0Cfpjz2H0l08iBqNP4[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-93083aa3-3843-2b36-a29d-a161fe1bb3e8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-b996b709-fa5d-8d61-7ef4-82347ce1be5d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:29:20.5110375-07:00",
    "RandomSeed": "472623855",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
