{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-14123bcf-8fc9-9254-55ff-1b670075ae83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF89F6D3AF\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2f2fcaa6-0ebf-17b6-132f-def1bdb44ef1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF89FDD724\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-14123bcf-8fc9-9254-55ff-1b670075ae83/test-file-b2e06d37-802c-32ff-236e-540bf44cbd82",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "olyU/LrWvJ7st6zFTPqIfLYbMuuv21XcwcdUxsOs3AKOpArcyQJEYLBCxXXTOuUp5dhU2RnS08YHuDrygfbaQNupNqfwq7O01tE6bBXfCIfhK+DrVwLovNBD1RDHUd+6Z4WaKQM9ODoloAJHl2axJ7CzEFYW7+jYwHrXrNai7IXygAWQRd6Do/KlxrYAoSVpkq1gFECJo3icwWiIZoxkgrR9VRZhIeLSL2xjcCky2B9VbRooQtdEad2M84N1+j1mQUMCgkwOCHHLjeXUJTNPaulJM/lxO0DcOes51S1eXDQv/C7lL1XTRmWpXLTycEOqPImaLMdD9AYCJUlg1TJDbTCwpCgEaTqTdeyTyN+M6sinjpijwzBt6wgo4goMc3EyZe6DQcsapdNOB7basCwmdjqAuEaaoKoAQ7gg24c[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-14123bcf-8fc9-9254-55ff-1b670075ae83/test-file-b2e06d37-802c-32ff-236e-540bf44cbd82?sv=Sanitized&se=2026-05-01T21%3A29%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "YRjhkBoiAYZyJH9hgZnF+g==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF8A04FB74\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2f2fcaa6-0ebf-17b6-132f-def1bdb44ef1/test-file-be73c595-28bc-91c0-72c7-065740b6dc40?sv=Sanitized&se=2026-05-01T21%3A29%3A18Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2f2fcaa6-0ebf-17b6-132f-def1bdb44ef1/test-file-be73c595-28bc-91c0-72c7-065740b6dc40?sv=Sanitized&se=2026-05-01T21%3A29%3A18Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8A1C29C3\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:19.7161923Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:19.7161923Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:19.7161923Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2f2fcaa6-0ebf-17b6-132f-def1bdb44ef1/test-file-be73c595-28bc-91c0-72c7-065740b6dc40?sv=Sanitized&se=2026-05-01T21%3A29%3A18Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-14123bcf-8fc9-9254-55ff-1b670075ae83/test-file-b2e06d37-802c-32ff-236e-540bf44cbd82?sv=sanitized-value&se=2026-05-01T21%3A29%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8A242DCF\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-content-crc64": "tqZlcrUj02o=",
        "x-ms-file-last-write-time": "2026-04-30T21:29:19.7687247Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2f2fcaa6-0ebf-17b6-132f-def1bdb44ef1/test-file-be73c595-28bc-91c0-72c7-065740b6dc40?sv=Sanitized&se=2026-05-01T21%3A29%3A18Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8A2ABACF\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:19.8116559Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:19.7161923Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:19.7687247Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-14123bcf-8fc9-9254-55ff-1b670075ae83/test-file-b2e06d37-802c-32ff-236e-540bf44cbd82?sv=Sanitized&se=2026-05-01T21%3A29%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA6FF8A04FB74\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF8A04FB74\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-blob-content-md5": "YRjhkBoiAYZyJH9hgZnF+g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "olyU/LrWvJ7st6zFTPqIfLYbMuuv21XcwcdUx[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2f2fcaa6-0ebf-17b6-132f-def1bdb44ef1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-14123bcf-8fc9-9254-55ff-1b670075ae83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:29:18.6846433-07:00",
    "RandomSeed": "486637608",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
