{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-c8821d18-f3ec-d17b-84fd-1aaff9891512?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF828E1292\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4f337863-df59-8724-f221-158db62553a2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF82953E05\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-c8821d18-f3ec-d17b-84fd-1aaff9891512/test-file-069839e5-2273-a616-5915-476e8303d221",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "/YjuK7Yvom3YtcP5m3eFe80LU/Pd1wKACMSJh2YhNZy631zxUNFJ9Xmp8vrJqzDHV/ZZvr8O8SWFbSPxphsHt4AmPrwakyr8wl56NOUHtlyUwS9vx3bcrO03a+KuWE5dojt6om1zrcPMXfxhlL1AfbbGXeTrl+8KSZLP4yhHTmoQHJGqjRTvIBRso2p5exgw9u0r5/tpcQpMcFjapMmbhA+SUHcrlfCi1zzPf/OEkM56n+w6G2ZvpqqHXh27FHtK0B9b5yqgBGH9iRC+mvEXx9+KYAXdYWioIqrMpDfT58LAhK/UKaij2pqLPZJWsAu5cJY9MLR2bW+3s8SA02ApKaFO/RVCQ54254ZqUiTVUXKeEzSglbcNShc/HXbkIwY6YRPxCLP2diz4B0ktCxpL4WFS4b8siJTqQLL+AiUoUsR/MPAR5Em+qJ0HqI5t3z789DsUkUFHDdh+BscA+HQGz7SErtsqOv0XlDkiJN8GfGB0AQ7qE8CCOCIYkt2Cva8oANnZ6TFj0ro+/f0IJOn5eIpnjPZmHLz0AnW4EacfldaJ+SQGLJMuEC9TqxbDehM5HxlSGjG5wuMc5ea7qsATH2gnfyvE8kz3OHvHEnGmMYhhf/KNzHql0DZB6kesc2VuQIytm/rodSzNW+K18bBydrReWivNhVLtga/0gwgFSsU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pglnlIB7ejlghLXk6p8Umw==",
        "ETag": "\"0x8DEA6FF829C7BFA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-content-crc64": "YD9nLGqrFZs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-c8821d18-f3ec-d17b-84fd-1aaff9891512/test-file-069839e5-2273-a616-5915-476e8303d221?sv=Sanitized&se=2026-05-01T21%3A29%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "pglnlIB7ejlghLXk6p8Umw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF829C7BFA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4f337863-df59-8724-f221-158db62553a2/test-file-e6765a7b-4e32-d4f3-a938-75ac574c3309?sv=Sanitized&se=2026-05-01T21%3A29%3A06Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4f337863-df59-8724-f221-158db62553a2/test-file-e6765a7b-4e32-d4f3-a938-75ac574c3309?sv=Sanitized&se=2026-05-01T21%3A29%3A06Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF82B410F8\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:07.2899320Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:07.2899320Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:07.2899320Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4f337863-df59-8724-f221-158db62553a2/test-file-e6765a7b-4e32-d4f3-a938-75ac574c3309?sv=Sanitized&se=2026-05-01T21%3A29%3A06Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-c8821d18-f3ec-d17b-84fd-1aaff9891512/test-file-069839e5-2273-a616-5915-476e8303d221?sv=sanitized-value&se=2026-05-01T21%3A29%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF82BBFCF5\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-content-crc64": "YD9nLGqrFZs=",
        "x-ms-file-last-write-time": "2026-04-30T21:29:07.2899320Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4f337863-df59-8724-f221-158db62553a2/test-file-e6765a7b-4e32-d4f3-a938-75ac574c3309?sv=Sanitized&se=2026-05-01T21%3A29%3A06Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:29:07.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF82C262F8\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:07.3837816Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:07.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:07.2899320Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-c8821d18-f3ec-d17b-84fd-1aaff9891512/test-file-069839e5-2273-a616-5915-476e8303d221?sv=Sanitized&se=2026-05-01T21%3A29%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA6FF829C7BFA\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF829C7BFA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-blob-content-md5": "pglnlIB7ejlghLXk6p8Umw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "/YjuK7Yvom3YtcP5m3eFe80LU/Pd1wKACMSJh2YhNZy631zxUNFJ9Xmp8vrJqzDHV/ZZvr8O8SWFbSPxphsHt4AmPrwakyr8wl56NOUHtlyUwS9vx3bcrO03a+KuWE5dojt6om1zrcPMXfxhlL1AfbbGXeTrl+8KSZLP4yhHTmoQHJGqjRTvIBRso2p5exgw9u0r5/tpcQpMcFjapMmbhA+SUHcrlfCi1zzPf/OEkM56n+w6G2ZvpqqHXh27FHtK0B9b5yqgBGH9iRC+mvEXx9+KYAXdYWioIqrMpDfT58LAhK/UKaij2pqLPZJWsAu5cJY9MLR2bW+3s8SA02ApKaFO/RVCQ54254ZqUiTVUXKeEzSglbcNShc/HXbkIwY6YRPxCLP2diz4B0ktCxpL4WFS4b8siJTqQLL+AiUoUsR/MPAR5Em+qJ0HqI5t3z789DsUkUFHDdh+BscA+HQGz7SErtsqOv0XlDkiJN8GfGB0AQ7qE8CCOCIYkt2Cva8oANnZ6TFj0ro+/f0IJOn5eIpnjPZmHLz0AnW4EacfldaJ+SQGLJMuEC9TqxbDehM5HxlSGjG5wuMc5ea7qsATH2gnfyvE8kz3OHvHEnGmMYhhf/KNzHql0DZB6kesc2VuQIytm/rodSzNW+K18bBydrReWivNhVLtga/0gwgFSsU="
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4f337863-df59-8724-f221-158db62553a2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-c8821d18-f3ec-d17b-84fd-1aaff9891512?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:29:06.2548949-07:00",
    "RandomSeed": "1415955020",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
