{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee0fa5ac-8535-849b-8435-66d232bcdf78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D6A53244\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d32f0cf3-3def-b881-15e1-c25b97daa6c3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D6AF44B0\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee0fa5ac-8535-849b-8435-66d232bcdf78/test-file-8471e7d1-353d-8eeb-c5e9-c4d8c71d6eb2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "MNRTEgt3iqQR8zlPoC9fwc74TtwfXHppMcGqQbVhXAmFyRLLAe24sfJEKtTC6CQ0tRMqmUB5KdRZ6eBJzEjvsJYvydcdlL/gQJzq2zKmp0mddYuiNsLJDJ89cRcNbuSpVXk+kh9NFyFTSVmjj06is0KXrFe8THnTZb033yKn09K3QIW4aBQpT15qTuxpJnxQm77VdcGN7AgAaixiFjj+rHaH7E7J6Usubl34Uv6MaT9A50Nk0l4QKVR9t/3nxzkma6J24jouh7FypwdjlZoKdADtIS70mdkYdsL6TDJNRqYk0uZbFYcFEmCR8itWrJS6ckP9+qYKMdLIXmx3Mzt/JWBgP8Kzrl555w7OYqeuwcktQNnvUEwAGqEUkrcbjt4kEszK9m3SBsTkgxKYO84qGpyiSfNikNQUYCUhnxymXlkvqVDa48tcWzkVCsw5aN7S6XgbeETrwoH4tpVIsGenPiW5aJF9TzbQRu26TIYI2vhGT7Wji+UVROfP4i02FKvRbcymf/9MVJlBSjJWMHX779udAWGyBLJApCSqrm0JmjJC6N+6YVv5+vobYUCzvhNx0/JRmRJJH2gZZdvboqUsOLD/FEiWQY2AowdnlqJyjeUQOdp6uAEf+ch2oPt/HlhU7ymPs6rL2pJl0PUL4onGptj1ymjLsYCu4Bp/H6CRAYU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "EHHQPeEYIWBMg8CxSco4Iw==",
        "ETag": "\"0x8DD5D14D6B89DD5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-content-crc64": "FVTjl2vvJGc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee0fa5ac-8535-849b-8435-66d232bcdf78/test-file-8471e7d1-353d-8eeb-c5e9-c4d8c71d6eb2?sv=Sanitized&se=2025-03-08T01%3A10%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "EHHQPeEYIWBMg8CxSco4Iw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D14D6B89DD5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d32f0cf3-3def-b881-15e1-c25b97daa6c3/test-file-19d84bfa-d50d-1532-0b5b-9306fef756f0?sv=Sanitized&se=2025-03-08T01%3A10%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d32f0cf3-3def-b881-15e1-c25b97daa6c3/test-file-19d84bfa-d50d-1532-0b5b-9306fef756f0?sv=Sanitized&se=2025-03-08T01%3A10%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:10:23.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D6D8D228\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:10:24.1741352Z",
        "x-ms-file-creation-time": "2025-03-07T01:10:23.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:10:24.1741352Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d32f0cf3-3def-b881-15e1-c25b97daa6c3/test-file-19d84bfa-d50d-1532-0b5b-9306fef756f0?sv=Sanitized&se=2025-03-08T01%3A10%3A24Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ee0fa5ac-8535-849b-8435-66d232bcdf78/test-file-8471e7d1-353d-8eeb-c5e9-c4d8c71d6eb2?sv=sanitized-value&se=2025-03-08T01%3A10%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D6E28B36\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:24 GMT",
        "x-ms-content-crc64": "FVTjl2vvJGc=",
        "x-ms-file-last-write-time": "2025-03-07T01:10:24.1741352Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d32f0cf3-3def-b881-15e1-c25b97daa6c3/test-file-19d84bfa-d50d-1532-0b5b-9306fef756f0?sv=Sanitized&se=2025-03-08T01%3A10%3A24Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:10:23.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D6EABF54\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:10:24.2916180Z",
        "x-ms-file-creation-time": "2025-03-07T01:10:23.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:10:24.1741352Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee0fa5ac-8535-849b-8435-66d232bcdf78/test-file-8471e7d1-353d-8eeb-c5e9-c4d8c71d6eb2?sv=Sanitized&se=2025-03-08T01%3A10%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D14D6B89DD5\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D14D6B89DD5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-blob-content-md5": "EHHQPeEYIWBMg8CxSco4Iw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:10:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "MNRTEgt3iqQR8zlPoC9fwc74TtwfXHppMcGqQbVhXAmFyRLLAe24sfJEKtTC6CQ0tRMqmUB5KdRZ6eBJzEjvsJYvydcdlL/gQJzq2zKmp0mddYuiNsLJDJ89cRcNbuSpVXk+kh9NFyFTSVmjj06is0KXrFe8THnTZb033yKn09K3QIW4aBQpT15qTuxpJnxQm77VdcGN7AgAaixiFjj+rHaH7E7J6Usubl34Uv6MaT9A50Nk0l4QKVR9t/3nxzkma6J24jouh7FypwdjlZoKdADtIS70mdkYdsL6TDJNRqYk0uZbFYcFEmCR8itWrJS6ckP9+qYKMdLIXmx3Mzt/JWBgP8Kzrl555w7OYqeuwcktQNnvUEwAGqEUkrcbjt4kEszK9m3SBsTkgxKYO84qGpyiSfNikNQUYCUhnxymXlkvqVDa48tcWzkVCsw5aN7S6XgbeETrwoH4tpVIsGenPiW5aJF9TzbQRu26TIYI2vhGT7Wji+UVROfP4i02FKvRbcymf/9MVJlBSjJWMHX779udAWGyBLJApCSqrm0JmjJC6N+6YVv5+vobYUCzvhNx0/JRmRJJH2gZZdvboqUsOLD/FEiWQY2AowdnlqJyjeUQOdp6uAEf+ch2oPt/HlhU7ymPs6rL2pJl0PUL4onGptj1ymjLsYCu4Bp/H6CRAYU="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d32f0cf3-3def-b881-15e1-c25b97daa6c3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee0fa5ac-8535-849b-8435-66d232bcdf78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:10:24.0153809-08:00",
    "RandomSeed": "1014787727",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
