{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1c60f9b4-4695-1db9-5952-0a11bbf69d19?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF893363B7\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c2290352-c34a-43a0-eab9-92f797df569f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF893A83CA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1c60f9b4-4695-1db9-5952-0a11bbf69d19/test-file-d167099a-ab31-9580-abb5-6e9ab1c37b2c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:17 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "YfgVi1eSD0M8LQaQx092sNMHQr5Vhmg3i/IY2zen3kYVyKYFjVKyB/oklASk8M1bP77GqYC819qP3v9lejQLlU7Aev6ocCOBVDrEMfJkkpokvJt54DTFWfHMdq9STY3GGf6143bOs8+bRVVF+KboK0tkQL2YkrUa+yEN3PlzLgat/Rfzr64kVQnM3Zvff2BL40tj7g3PLodIm+hUwdbVJxZOmPqO9HucP+q0y7QaOnvAwfiuEED43c+QqhTGz5Qy97aEkOZlve/Px64jG2PSLmBslADeJhfWVbsr/Uln1nBWgdP9lamVWwQI30iR1cFsvny0WTuUVNGfrjsrOsCmaPE+zZqP1Zm21zj71UfORID5vz/Ns3w0wSwBXuZuaSFEYnZXUwcm3Oji/YICmH+K0Gq7MXqA2bV0CQtujXa[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1c60f9b4-4695-1db9-5952-0a11bbf69d19/test-file-d167099a-ab31-9580-abb5-6e9ab1c37b2c?sv=Sanitized&se=2026-05-01T21%3A29%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "mUOe2v/yQKT8IGOuOJca6w==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF8941CEA4\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c2290352-c34a-43a0-eab9-92f797df569f/test-file-8b50954d-d09f-3d2e-3005-da2e153899e1?sv=Sanitized&se=2026-05-01T21%3A29%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c2290352-c34a-43a0-eab9-92f797df569f/test-file-8b50954d-d09f-3d2e-3005-da2e153899e1?sv=Sanitized&se=2026-05-01T21%3A29%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF896125C7\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:18.4905671Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:18.4905671Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:18.4905671Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c2290352-c34a-43a0-eab9-92f797df569f/test-file-8b50954d-d09f-3d2e-3005-da2e153899e1?sv=Sanitized&se=2026-05-01T21%3A29%3A17Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-1c60f9b4-4695-1db9-5952-0a11bbf69d19/test-file-d167099a-ab31-9580-abb5-6e9ab1c37b2c?sv=sanitized-value&se=2026-05-01T21%3A29%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF89694FCA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-content-crc64": "/gQfvyjEGFY=",
        "x-ms-file-last-write-time": "2026-04-30T21:29:18.4905671Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c2290352-c34a-43a0-eab9-92f797df569f/test-file-8b50954d-d09f-3d2e-3005-da2e153899e1?sv=Sanitized&se=2026-05-01T21%3A29%3A17Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF896FDCCB\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1c60f9b4-4695-1db9-5952-0a11bbf69d19/test-file-d167099a-ab31-9580-abb5-6e9ab1c37b2c?sv=Sanitized&se=2026-05-01T21%3A29%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA6FF8941CEA4\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF8941CEA4\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-blob-content-md5": "mUOe2v/yQKT8IGOuOJca6w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "YfgVi1eSD0M8LQaQx092sNMHQr5Vhmg3i/IY2[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c2290352-c34a-43a0-eab9-92f797df569f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1c60f9b4-4695-1db9-5952-0a11bbf69d19?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:29:17.4122603-07:00",
    "RandomSeed": "1025113140",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
