{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-900f62bb-a339-bfa3-c116-e717ec237571?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8CDE112B\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f57f6941-8582-0dd1-a1e9-17281a8f4d48?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8CE82BD0\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f57f6941-8582-0dd1-a1e9-17281a8f4d48/test-file-552b8c28-a395-aeba-dfcd-665acd6d3499",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8CF1AFF8\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:19:16.6348280Z",
        "x-ms-file-creation-time": "2025-05-16T19:19:16.6348280Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:19:16.6348280Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-900f62bb-a339-bfa3-c116-e717ec237571/test-file-647ba6f2-92ae-e3be-3d31-e97b41f35c52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "ftBQFkJ+IDAsC+vJi8Y+f3PaLQuGgd8z9SP/AV5Q0hoLvoAT0gL1B42VHHT6jFpOy1trAYbMCf3xHCAffx7R3DnQvc1GKqxw5SZ+8WRqOGjJsDYD5NCTPrSCIbbh1oduw0A7Ks+MCKCu+hxgThiZh+S4Vs7ozvdoPH8YxAn2jg+eDy0jLg6ZPKiVVOq0M++c6ZrSKX+4hvVI0+1QdEOXuGsNwj/qdVjVHhomUnoNtAmPfNpuJGWP5Yg42lsgScdk/pt+pnGwsXNB/AplkjR6Ox/kwPhpKJQGfdy2spr9tNVSwVTejw2X3stnLCdaKVJUvZ88PIjP+9UGeCiU+f7YREc1E9DfnKwRTOEsAfxsq1OJYvX7wXhMgsZ/1xfkA+XMjujfJRaCdCHzKvCmo/nYmczUCpYJ3YLP6JEJYMS[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-900f62bb-a339-bfa3-c116-e717ec237571/test-file-647ba6f2-92ae-e3be-3d31-e97b41f35c52?sv=Sanitized&se=2025-05-17T19%3A19%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "uSeP9AdXG5Bo7Acz0DsCsA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94AE8CFBAA8E\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f57f6941-8582-0dd1-a1e9-17281a8f4d48/test-file-552b8c28-a395-aeba-dfcd-665acd6d3499?sv=Sanitized&se=2025-05-17T19%3A19%3A16Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:19:16.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8D1E3330\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:19:16.9265456Z",
        "x-ms-file-creation-time": "2025-05-16T19:19:16.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:19:16.9265456Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f57f6941-8582-0dd1-a1e9-17281a8f4d48/test-file-552b8c28-a395-aeba-dfcd-665acd6d3499?sv=Sanitized&se=2025-05-17T19%3A19%3A16Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-900f62bb-a339-bfa3-c116-e717ec237571/test-file-647ba6f2-92ae-e3be-3d31-e97b41f35c52?sv=sanitized-value&se=2025-05-17T19%3A19%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8D281321\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-content-crc64": "2eUgdRWLRww=",
        "x-ms-file-last-write-time": "2025-05-16T19:19:16.9265456Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f57f6941-8582-0dd1-a1e9-17281a8f4d48/test-file-552b8c28-a395-aeba-dfcd-665acd6d3499?sv=Sanitized&se=2025-05-17T19%3A19%3A16Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:19:16.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8D30950A\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:19:17.0470154Z",
        "x-ms-file-creation-time": "2025-05-16T19:19:16.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:19:16.9265456Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-900f62bb-a339-bfa3-c116-e717ec237571/test-file-647ba6f2-92ae-e3be-3d31-e97b41f35c52?sv=Sanitized&se=2025-05-17T19%3A19%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD94AE8CFBAA8E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94AE8CFBAA8E\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-blob-content-md5": "uSeP9AdXG5Bo7Acz0DsCsA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:19:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "ftBQFkJ+IDAsC+vJi8Y+f3PaLQuGgd8z9SP/A[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f57f6941-8582-0dd1-a1e9-17281a8f4d48?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-900f62bb-a339-bfa3-c116-e717ec237571?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T12:19:16.5882365-07:00",
    "RandomSeed": "1349545807",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
