{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8f0a58fc-7a60-e831-dbc9-98fb7a321f05?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8FDC2BF0\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dd51f91-51de-7ce1-03c8-ffbe352a8a6f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8FE75628\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8f0a58fc-7a60-e831-dbc9-98fb7a321f05/test-file-1992c1fc-1a77-0616-59c0-dad587a12cab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "vrGfASZDdYt1ZZx9OVcQRbpW4+V91iGpmZsYYp1ZVcmhXh1dVN31OMRTDiXCoreqFpzZO6++YOeP9miKKxLuHA/T3Ns6s/DcYKsgKcj85/bkbUwAfxoZ4v01zV51agyyZfEV7sXbcGOr/doDnjYfkw9xpr7F7Zz1ufndBOWSZ/WebcTW5/gwCP3pVIJAFkTHFjpPBMRO7HdVIDXL/mt9GZbkZTBySawXQJ7A3JkataO1Fu6rQ2IxUIBNgcfCZAmSbDvsW7ATVMyNOMMljRDeOmqSFud80dYzshSwJMfkVNuULnBdLVnyosEhHQueDMJwbkZcME4hFZpluaicYy8FqePokF+ggA0Rn3MmWrPKlKZSP7WBiCOMchnV+HSwVj+RHHQntntj0O45SpHb+7rnmiQCSiN5gyDAXB5Gyoe[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8f0a58fc-7a60-e831-dbc9-98fb7a321f05/test-file-1992c1fc-1a77-0616-59c0-dad587a12cab?sv=Sanitized&se=2025-05-17T19%3A19%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "DZZnd02PgSKC2fSMCOJGWg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94AE8FF089F8\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dd51f91-51de-7ce1-03c8-ffbe352a8a6f/test-file-15affb9c-4cb5-47d7-3f7c-5666fa4e883e?sv=Sanitized&se=2025-05-17T19%3A19%3A21Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dd51f91-51de-7ce1-03c8-ffbe352a8a6f/test-file-15affb9c-4cb5-47d7-3f7c-5666fa4e883e?sv=Sanitized&se=2025-05-17T19%3A19%3A21Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:19:21.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE90181396\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:19:21.9195798Z",
        "x-ms-file-creation-time": "2025-05-16T19:19:21.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:19:21.9195798Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dd51f91-51de-7ce1-03c8-ffbe352a8a6f/test-file-15affb9c-4cb5-47d7-3f7c-5666fa4e883e?sv=Sanitized&se=2025-05-17T19%3A19%3A21Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8f0a58fc-7a60-e831-dbc9-98fb7a321f05/test-file-1992c1fc-1a77-0616-59c0-dad587a12cab?sv=sanitized-value&se=2025-05-17T19%3A19%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE90226831\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-content-crc64": "pyMk7RdO/v0=",
        "x-ms-file-last-write-time": "2025-05-16T19:19:21.9195798Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dd51f91-51de-7ce1-03c8-ffbe352a8a6f/test-file-15affb9c-4cb5-47d7-3f7c-5666fa4e883e?sv=Sanitized&se=2025-05-17T19%3A19%3A21Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:19:21.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE90369CC2\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:19:22.1196994Z",
        "x-ms-file-creation-time": "2025-05-16T19:19:21.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:19:21.9195798Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8f0a58fc-7a60-e831-dbc9-98fb7a321f05/test-file-1992c1fc-1a77-0616-59c0-dad587a12cab?sv=Sanitized&se=2025-05-17T19%3A19%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD94AE8FF089F8\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94AE8FF089F8\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-blob-content-md5": "DZZnd02PgSKC2fSMCOJGWg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:19:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "vrGfASZDdYt1ZZx9OVcQRbpW4+V91iGpmZsYY[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dd51f91-51de-7ce1-03c8-ffbe352a8a6f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8f0a58fc-7a60-e831-dbc9-98fb7a321f05?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T12:19:21.6102769-07:00",
    "RandomSeed": "2135171056",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
