{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-853f885c-9473-3721-558d-531fb6f30d22?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE85F61FFE\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6bfc620a-0b4c-795a-6e57-8c4b038b17dd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8600AD2F\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-853f885c-9473-3721-558d-531fb6f30d22/test-file-54eb9b87-5786-8691-1ab1-1be532a1102a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 16 May 2025 19:19:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "/9hl0wBZYrFxaXciaMTbSVa/Mc5ZAyyOngSiyRzlItGb8YSWoDwZLTg54x3gbx5W1tKPcm9B0Pur1zX7tpmVjEalhndARagZpgSVICAPrS/mTPJKVq9iWSCI6sgHHXefpFbWOuinFpEpdcxqrLDbnCoGFWqmSjaXQy1Wt1vgEoiN9nvJOXJGPzZhIeDj961vrE6eAQgM+FkgP/a7UF42SGJD3bY0EmK3v9YzRShVs0yA5wsNQRCAgP4iqPp7iu7YKth9nxn2Oprr5kIy2bIwy4uqO2lTKQZSw124EmloOzTnWxtQ1xMziaxwIVvOTadL8d1u0U+EhQHRK9y8Pigxg6sNS32X4PN3d7K94gerhHW2bCGL+WrlYtYZfqw2dkqDP56vwQIptBDp91qdx6L6JadnBtIHpYlAKOinfWJ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-853f885c-9473-3721-558d-531fb6f30d22/test-file-54eb9b87-5786-8691-1ab1-1be532a1102a?sv=Sanitized&se=2025-05-17T19%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "SJ7JWQhh57vTdjGtsnOXSQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94AE860B18A4\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6bfc620a-0b4c-795a-6e57-8c4b038b17dd/test-file-5b441f2d-0244-b17a-8a18-e34ceafea580?sv=Sanitized&se=2025-05-17T19%3A19%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6bfc620a-0b4c-795a-6e57-8c4b038b17dd/test-file-5b441f2d-0244-b17a-8a18-e34ceafea580?sv=Sanitized&se=2025-05-17T19%3A19%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:19:05.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8634F1DD\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:19:05.3315549Z",
        "x-ms-file-creation-time": "2025-05-16T19:19:05.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:19:05.3315549Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6bfc620a-0b4c-795a-6e57-8c4b038b17dd/test-file-5b441f2d-0244-b17a-8a18-e34ceafea580?sv=Sanitized&se=2025-05-17T19%3A19%3A05Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-853f885c-9473-3721-558d-531fb6f30d22/test-file-54eb9b87-5786-8691-1ab1-1be532a1102a?sv=sanitized-value&se=2025-05-17T19%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE863F1F93\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-content-crc64": "npFM51R6y34=",
        "x-ms-file-last-write-time": "2025-05-16T19:19:05.3315549Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6bfc620a-0b4c-795a-6e57-8c4b038b17dd/test-file-5b441f2d-0244-b17a-8a18-e34ceafea580?sv=Sanitized&se=2025-05-17T19%3A19%3A05Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:19:05.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AE8647A180\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:19:05.4540160Z",
        "x-ms-file-creation-time": "2025-05-16T19:19:05.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:19:05.3315549Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-853f885c-9473-3721-558d-531fb6f30d22/test-file-54eb9b87-5786-8691-1ab1-1be532a1102a?sv=Sanitized&se=2025-05-17T19%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD94AE860B18A4\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94AE860B18A4\"",
        "Last-Modified": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-blob-content-md5": "SJ7JWQhh57vTdjGtsnOXSQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "/9hl0wBZYrFxaXciaMTbSVa/Mc5ZAyyOngSiy[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6bfc620a-0b4c-795a-6e57-8c4b038b17dd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-853f885c-9473-3721-558d-531fb6f30d22?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:19:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T12:19:05.0071523-07:00",
    "RandomSeed": "1118313944",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
