{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-a2678019-5b16-4bc9-305a-d7c4b2230e3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:24 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8DC314B2\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-62674a28-5250-e7e2-5bd1-230658ca79a2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:24 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8DC9FCC1\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-a2678019-5b16-4bc9-305a-d7c4b2230e3f/test-file-95d7aedb-530a-426a-b9f4-c3d0cc0b05fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "xX6gvbS1H2dxXCdPuoXcx5O1SX/Ywdw39dXLv2Uf7HnMj6RN07tEmbb790nSZi1nzMFSiIET2wShacje6mABUXCtgirhjvTYcbDI3cqTZI6nZPKkzWP4ubSfq2nyZa9W+aXYJOQDhj7NehfRS/46DgQ5N4ZtXYQMtcl1QeOK5QsBcuMkukCqo96011NMJ262ZZ1kuS4p6Zwgy24bjURaQpQM0NgaFVPEjpOnuIUwwI5bv9xGJizc14hHA+7RjxaZWpS+P1aVnE9JoCqagTEW7wrgv85oFBxoL/hQ0xFk8v99Dl7wcoE3xSOM/IYBQVZXMBTj8c9HMUV4VhBeRck95K0qHXPSJX2JqPqr2xiVZu2i+KL9gQEvNdwZeBtw2YBZTxfZ1yTihQuWWknVnFUs4/AivEwmP2Or++eWua1iGM55UYwAvI/Jv3OWZye4WpmH7JUqThwzMw+0Ldw8S8tdM0F6W0rILCZhWfzZkNc886BOD80YOMqyRR59S4+zjHOnODTlPf5Ovr9uyPQgWaI3eDk77jz+Rft2yBYsS+CWrsyJMlejVrai/1ENqW/Wket7RdNVd543qfM4b3XoInLf1xonlidLkyGDme7r8JuMnzYqsAYMQTYuUYhkauZAudzeLtFUrvvDMLGy0t6vTLhXrM8/vnJs0pbj+UWf5yg6Q98=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "flEZNlS61yBN9+kDma0F1Q==",
        "ETag": "\"0x8DEA6FF8DD11781\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-content-crc64": "ckK7Uv4Jsy4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-a2678019-5b16-4bc9-305a-d7c4b2230e3f/test-file-95d7aedb-530a-426a-b9f4-c3d0cc0b05fb?sv=Sanitized&se=2026-05-01T21%3A29%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "flEZNlS61yBN9+kDma0F1Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF8DD11781\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-62674a28-5250-e7e2-5bd1-230658ca79a2/test-file-ff9e52f4-f2f4-e57c-bdd5-da4216b20d5b?sv=Sanitized&se=2026-05-01T21%3A29%3A25Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-62674a28-5250-e7e2-5bd1-230658ca79a2/test-file-ff9e52f4-f2f4-e57c-bdd5-da4216b20d5b?sv=Sanitized&se=2026-05-01T21%3A29%3A25Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8DE717CE\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:26.0792782Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:26.0792782Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:26.0792782Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-62674a28-5250-e7e2-5bd1-230658ca79a2/test-file-ff9e52f4-f2f4-e57c-bdd5-da4216b20d5b?sv=Sanitized&se=2026-05-01T21%3A29%3A25Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-a2678019-5b16-4bc9-305a-d7c4b2230e3f/test-file-95d7aedb-530a-426a-b9f4-c3d0cc0b05fb?sv=sanitized-value&se=2026-05-01T21%3A29%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8DEF2ACD\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:26 GMT",
        "x-ms-content-crc64": "ckK7Uv4Jsy4=",
        "x-ms-file-last-write-time": "2026-04-30T21:29:26.0792782Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-62674a28-5250-e7e2-5bd1-230658ca79a2/test-file-ff9e52f4-f2f4-e57c-bdd5-da4216b20d5b?sv=Sanitized&se=2026-05-01T21%3A29%3A25Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:29:25.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF8DF605D5\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:29:26.1771221Z",
        "x-ms-file-creation-time": "2026-04-30T21:29:25.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:29:26.0792782Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-a2678019-5b16-4bc9-305a-d7c4b2230e3f/test-file-95d7aedb-530a-426a-b9f4-c3d0cc0b05fb?sv=Sanitized&se=2026-05-01T21%3A29%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA6FF8DD11781\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF8DD11781\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-blob-content-md5": "flEZNlS61yBN9+kDma0F1Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "xX6gvbS1H2dxXCdPuoXcx5O1SX/Ywdw39dXLv2Uf7HnMj6RN07tEmbb790nSZi1nzMFSiIET2wShacje6mABUXCtgirhjvTYcbDI3cqTZI6nZPKkzWP4ubSfq2nyZa9W+aXYJOQDhj7NehfRS/46DgQ5N4ZtXYQMtcl1QeOK5QsBcuMkukCqo96011NMJ262ZZ1kuS4p6Zwgy24bjURaQpQM0NgaFVPEjpOnuIUwwI5bv9xGJizc14hHA+7RjxaZWpS+P1aVnE9JoCqagTEW7wrgv85oFBxoL/hQ0xFk8v99Dl7wcoE3xSOM/IYBQVZXMBTj8c9HMUV4VhBeRck95K0qHXPSJX2JqPqr2xiVZu2i+KL9gQEvNdwZeBtw2YBZTxfZ1yTihQuWWknVnFUs4/AivEwmP2Or++eWua1iGM55UYwAvI/Jv3OWZye4WpmH7JUqThwzMw+0Ldw8S8tdM0F6W0rILCZhWfzZkNc886BOD80YOMqyRR59S4+zjHOnODTlPf5Ovr9uyPQgWaI3eDk77jz+Rft2yBYsS+CWrsyJMlejVrai/1ENqW/Wket7RdNVd543qfM4b3XoInLf1xonlidLkyGDme7r8JuMnzYqsAYMQTYuUYhkauZAudzeLtFUrvvDMLGy0t6vTLhXrM8/vnJs0pbj+UWf5yg6Q98="
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-62674a28-5250-e7e2-5bd1-230658ca79a2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-a2678019-5b16-4bc9-305a-d7c4b2230e3f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:29:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:29:25.0533280-07:00",
    "RandomSeed": "1477439223",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
