{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43c84b02-9db2-8d35-8cbb-1e32e9810039?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AF30CCD225\"",
        "Last-Modified": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ba0d1583-593a-c484-1323-78bb667f839a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AF30D68F77\"",
        "Last-Modified": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43c84b02-9db2-8d35-8cbb-1e32e9810039/test-file-75e9516b-fe6c-acd6-95de-63139e7e73f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Q2GLNkyPtmC9tSmjwekHpA+ZmgA0aaoyWYZeBW1/8x4ZH1PGJuHU25uJuLbVM+qs174EBORywdq2WNzGMLDyPcIKiqKWQX4txL5lq7H0XCacsi6veu46pl14D84FDqvqlnrzyqhHFpVA1j8lDRYpwfu1KX6CQ8LUz+NEHTKvKLYSexQ2AZJ+VJuYbqOuFZlHT03ST+QtZ1O3HvrEA/ljkK6JEpIC8sBpNtXi6tQeJrpK/c3k3djS5RPBfuKXuVCiNN71JAIGRV2NaBgOS31+mPg/eQYrf7LVty1+QHPd0n2EP7b2KQG4RLhwV3XAw5qWQ+XpVz9KdrQsIG3VhwTpr5abigvHiG/3hzVOuyg9FfSS6P2N9Ho9OskBygmT47yzh6ffJDmPz7p28tAK+7uM7gp5Qp8GW7sbXk9Bxb5[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43c84b02-9db2-8d35-8cbb-1e32e9810039/test-file-75e9516b-fe6c-acd6-95de-63139e7e73f6?sv=Sanitized&se=2025-05-17T19%3A23%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "glRvc5XzqdvsbYyr/k7tSw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94AF30DF3937\"",
        "Last-Modified": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ba0d1583-593a-c484-1323-78bb667f839a/test-file-106f04a6-3d0e-1d3f-8022-1a50d61d2ad8?sv=Sanitized&se=2025-05-17T19%3A23%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ba0d1583-593a-c484-1323-78bb667f839a/test-file-106f04a6-3d0e-1d3f-8022-1a50d61d2ad8?sv=Sanitized&se=2025-05-17T19%3A23%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AF3102D27C\"",
        "Last-Modified": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:23:51.8934652Z",
        "x-ms-file-creation-time": "2025-05-16T19:23:51.8934652Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:23:51.8934652Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ba0d1583-593a-c484-1323-78bb667f839a/test-file-106f04a6-3d0e-1d3f-8022-1a50d61d2ad8?sv=Sanitized&se=2025-05-17T19%3A23%3A51Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-43c84b02-9db2-8d35-8cbb-1e32e9810039/test-file-75e9516b-fe6c-acd6-95de-63139e7e73f6?sv=sanitized-value&se=2025-05-17T19%3A23%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94AF310CB27D\"",
        "Last-Modified": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-content-crc64": "TapHMF1R44Y=",
        "x-ms-file-last-write-time": "2025-05-16T19:23:51.9581821Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43c84b02-9db2-8d35-8cbb-1e32e9810039/test-file-75e9516b-fe6c-acd6-95de-63139e7e73f6?sv=Sanitized&se=2025-05-17T19%3A23%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD94AF30DF3937\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94AF30DF3937\"",
        "Last-Modified": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-blob-content-md5": "glRvc5XzqdvsbYyr/k7tSw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:23:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "Q2GLNkyPtmC9tSmjwekHpA+ZmgA0aaoyWYZeB[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ba0d1583-593a-c484-1323-78bb667f839a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:23:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43c84b02-9db2-8d35-8cbb-1e32e9810039?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:23:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T12:23:51.6130624-07:00",
    "RandomSeed": "1607155770",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
