{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1ad1f5ea-c19a-248b-fafd-4cac1df65bcd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93FAB11B4564\"",
        "Last-Modified": "Thu, 15 May 2025 21:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b7f13f85-40c1-ad78-47e3-9ef55e35905f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93FAB1282BE7\"",
        "Last-Modified": "Thu, 15 May 2025 21:51:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1ad1f5ea-c19a-248b-fafd-4cac1df65bcd/test-file-abda6a15-a032-da23-7fd5-6956876f3a6a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "WpJLkoElThhKjAV0Zj17cbUUNYfWUQHjUK4C90aGOR9xuC2fB3zjYaaKpDXdX5jHrr5NwdhUEQiQaEHSIlfSxFPmAq4P3Go5MNPhTK3LBfEVO0iHOHdGHKclDp86ED9Ot+Di91zqt9JUFJAFcsVaxGJPvOcOS4vbn+UG6s3L/iCUk5TN6Q2UKoR2MiTnQariykk861NXP2xUBld35MwEiRVvcN8wjdtUu5Jjlxhm8147JB+DjxPNPVMoeOO1HUa3cqkOeNDKsT1u5y/B9KdT7RP5O7+sgfoCojOMCBX4np1LqyVvWHuNcXPiFafjDEir1YrPvOGHCvGvDNadPakodkiRdkiC45WYbMpMymtSHpXq4DKKKOK8w6E0wEuk7zPJup5fUZYAKfH0N08XO0CFXO1Asl12nU5l1bKmTSN[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1ad1f5ea-c19a-248b-fafd-4cac1df65bcd/test-file-abda6a15-a032-da23-7fd5-6956876f3a6a?sv=Sanitized&se=2025-05-16T21%3A51%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "U5L0dVQWXNsO8qg2/1Xg9A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93FAB132D792\"",
        "Last-Modified": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b7f13f85-40c1-ad78-47e3-9ef55e35905f/test-file-0caead58-3c65-a4b7-e446-d79342957d58?sv=Sanitized&se=2025-05-16T21%3A51%3A48Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b7f13f85-40c1-ad78-47e3-9ef55e35905f/test-file-0caead58-3c65-a4b7-e446-d79342957d58?sv=Sanitized&se=2025-05-16T21%3A51%3A48Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:51:48.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93FAB1673344\"",
        "Last-Modified": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:51:48.3916100Z",
        "x-ms-file-creation-time": "2025-05-15T21:51:48.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:51:48.3916100Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b7f13f85-40c1-ad78-47e3-9ef55e35905f/test-file-0caead58-3c65-a4b7-e446-d79342957d58?sv=Sanitized&se=2025-05-16T21%3A51%3A48Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1ad1f5ea-c19a-248b-fafd-4cac1df65bcd/test-file-abda6a15-a032-da23-7fd5-6956876f3a6a?sv=sanitized-value&se=2025-05-16T21%3A51%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93FAB1722373\"",
        "Last-Modified": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-content-crc64": "tH/d8N7YQkc=",
        "x-ms-file-last-write-time": "2025-05-15T21:51:48.3916100Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b7f13f85-40c1-ad78-47e3-9ef55e35905f/test-file-0caead58-3c65-a4b7-e446-d79342957d58?sv=Sanitized&se=2025-05-16T21%3A51%3A48Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:51:48.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93FAB184FA10\"",
        "Last-Modified": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:51:48.5867536Z",
        "x-ms-file-creation-time": "2025-05-15T21:51:48.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:51:48.3916100Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1ad1f5ea-c19a-248b-fafd-4cac1df65bcd/test-file-abda6a15-a032-da23-7fd5-6956876f3a6a?sv=Sanitized&se=2025-05-16T21%3A51%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD93FAB132D792\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93FAB132D792\"",
        "Last-Modified": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-blob-content-md5": "U5L0dVQWXNsO8qg2/1Xg9A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "WpJLkoElThhKjAV0Zj17cbUUNYfWUQHjUK4C9[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b7f13f85-40c1-ad78-47e3-9ef55e35905f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:51:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1ad1f5ea-c19a-248b-fafd-4cac1df65bcd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:51:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-15T14:51:48.9940266-07:00",
    "RandomSeed": "233839832",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
