{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27f42054-6b5e-368c-4499-58d2f922065a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D29ED1A6\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0695fb7f-7e59-cd1f-d4eb-2fc026e6b66c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D2A86021\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27f42054-6b5e-368c-4499-58d2f922065a/test-file-9a3cc072-df8e-8f18-c0ba-53d0fe7c73e7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "NqbNQMAyKrB1bb83rgd1je1fMJixGvoTzZbDhx10dJGbWv2/WFpfP5aLJSAg4eG4RMbin0vaNRusunMpbqKTAPktm1MKtTST//ACJvXZ8+u1C0JXktRFwCXhEp7nNtDz+CUm8kWNro+RT6Ba2A8l08eHc2NfPG0l6NsuKKKWq8gfDy3QsgClKF2zxUMz6+gVuz/XX8Jtk7y3AQlqXoXt+qPYOsnhVSDG4UsGrHYp8f3yGGxjv0sFsntxGLD3O8nXxsqgW7AfNGYeEX13Z+dFjhAMd0UZiTtY0odNbz1vz6aBLuWriZZM0+QGRK7NjkuTLImg6sOEvjyPR4ko0cQprkHX9jgBmQV5v6NhEkWNi0Q8ukOzzuTi/G+pHEEMJAIf3JVs9pcSkZKEJyogI6v2AbxF6xeBduBd9PnJWHz[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27f42054-6b5e-368c-4499-58d2f922065a/test-file-9a3cc072-df8e-8f18-c0ba-53d0fe7c73e7?sv=Sanitized&se=2025-03-08T01%3A10%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "FJGFGWgpmNx34A6HnkBBDg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D14D2B139BE\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0695fb7f-7e59-cd1f-d4eb-2fc026e6b66c/test-file-ddbd7743-b437-9d40-483e-a062dbe03284?sv=Sanitized&se=2025-03-08T01%3A10%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0695fb7f-7e59-cd1f-d4eb-2fc026e6b66c/test-file-ddbd7743-b437-9d40-483e-a062dbe03284?sv=Sanitized&se=2025-03-08T01%3A10%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D2DBEC58\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:10:17.4835800Z",
        "x-ms-file-creation-time": "2025-03-07T01:10:17.4835800Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:10:17.4835800Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0695fb7f-7e59-cd1f-d4eb-2fc026e6b66c/test-file-ddbd7743-b437-9d40-483e-a062dbe03284?sv=Sanitized&se=2025-03-08T01%3A10%3A17Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-27f42054-6b5e-368c-4499-58d2f922065a/test-file-9a3cc072-df8e-8f18-c0ba-53d0fe7c73e7?sv=sanitized-value&se=2025-03-08T01%3A10%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14D2E5CC48\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-content-crc64": "aHBsIl9KFAQ=",
        "x-ms-file-last-write-time": "2025-03-07T01:10:17.5482952Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27f42054-6b5e-368c-4499-58d2f922065a/test-file-9a3cc072-df8e-8f18-c0ba-53d0fe7c73e7?sv=Sanitized&se=2025-03-08T01%3A10%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D14D2B139BE\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D14D2B139BE\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-blob-content-md5": "FJGFGWgpmNx34A6HnkBBDg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:10:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "NqbNQMAyKrB1bb83rgd1je1fMJixGvoTzZbDh[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0695fb7f-7e59-cd1f-d4eb-2fc026e6b66c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27f42054-6b5e-368c-4499-58d2f922065a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:10:18 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:10:17.2758382-08:00",
    "RandomSeed": "1795671672",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
