{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-ee2462ab-1750-48e9-cf8b-1942191f4aa5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D29076924C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c328bedf-2c5d-dd97-95cf-b8a4316bdebd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D2907B5F5C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-ee2462ab-1750-48e9-cf8b-1942191f4aa5/test-file-abda2d0d-3601-1f90-44f5-86cd632efb14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "81Zrycwy1BfgkfaYzB3FOQCsWrSmL18C139n89Ef3hdY32gVl8ZP21jCynBA+FImME3Nt9NHbcP3aPFMy+FGwLLeP+21r6E6XH9b42Xvwt8tQcKDUidDEXGlHi/UAw92fAm9YbhlcICrk1tT64peB6YRH4kewm6Lmi17EJFyZVlv5GdbMmAmx9BC2L/M8CXnRheIwuOGV7mbMceK6WDvOS0B5AYiA9VG6le53Oqvv6oIlMl56aJ16YyuvwCYm95vU56RygwexENCQtiLzHvO63IcglSXdVCLi/p5dEPVrU55SYlMHvSe6dCGN6bK6R0R39ONexmJ2N1OBT4RpE//bZWJEoPygs19fpiEET6pwaHdaJRwRzE173Gr/Ri2jESBhsoRQdeaH10FD/2ABcefpEScNDy6jyVjUyMRRoS[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-ee2462ab-1750-48e9-cf8b-1942191f4aa5/test-file-abda2d0d-3601-1f90-44f5-86cd632efb14?sv=Sanitized&se=2025-07-18T01%3A38%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "sQV84jHDSvwaTv7eO4YySA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC4D2907FBD5F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:38:00.2945375Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c328bedf-2c5d-dd97-95cf-b8a4316bdebd/test-file-b2ccad75-6925-14b0-2d66-64cbba584bd1?sv=Sanitized&se=2025-07-18T01%3A38%3A00Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c328bedf-2c5d-dd97-95cf-b8a4316bdebd/test-file-b2ccad75-6925-14b0-2d66-64cbba584bd1?sv=Sanitized&se=2025-07-18T01%3A38%3A00Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D290953DE7\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:38:00.4354535Z",
        "x-ms-file-creation-time": "2025-07-17T01:38:00.4354535Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:38:00.4354535Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c328bedf-2c5d-dd97-95cf-b8a4316bdebd/test-file-b2ccad75-6925-14b0-2d66-64cbba584bd1?sv=Sanitized&se=2025-07-18T01%3A38%3A00Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-ee2462ab-1750-48e9-cf8b-1942191f4aa5/test-file-abda2d0d-3601-1f90-44f5-86cd632efb14?sv=sanitized-value&se=2025-07-18T01%3A38%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D2909A416A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-content-crc64": "7GnpvKWDHRc=",
        "x-ms-file-last-write-time": "2025-07-17T01:38:00.4683114Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-ee2462ab-1750-48e9-cf8b-1942191f4aa5/test-file-abda2d0d-3601-1f90-44f5-86cd632efb14?sv=Sanitized&se=2025-07-18T01%3A38%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC4D2907FBD5F\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC4D2907FBD5F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-blob-content-md5": "sQV84jHDSvwaTv7eO4YySA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Jul 2025 01:38:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c328bedf-2c5d-dd97-95cf-b8a4316bdebd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:38:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-ee2462ab-1750-48e9-cf8b-1942191f4aa5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:38:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-16T21:38:00.5680978-04:00",
    "RandomSeed": "1057394629",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
