{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911882171104565?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5A00B7938956\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:53:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/listingcontainer176911882528809342?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5A00B79F61E4\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:53:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/listingcontainer176911882528809342/listblob176911882536202606",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-_": "underscore value",
        "x-ms-meta-keyb": "value b",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTc2OTExODgyNTI4ODAzMDY1",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "yrJ1fMnaIADVHCQhkBoXOg==",
        "ETag": "\"0x8DE5A00B7AAE3E1\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:53:46 GMT",
        "x-ms-content-crc64": "9R2hJKFLPIc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-22T21:53:46.1118945Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/listingcontainer176911882528809342?comp=list&maxresults=5&restype=container&include=metadata&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"listingcontainer176911882528809342\"><MaxResults>5</MaxResults><Blobs><Blob><Name>listblob176911882536202606</Name><VersionId>2026-01-22T21:53:46.1118945Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 22 Jan 2026 21:53:46 GMT</Creation-Time><Last-Modified>Thu, 22 Jan 2026 21:53:46 GMT</Last-Modified><Etag>0x8DE5A00B7AAE3E1</Etag><Content-Length>30</Content-Length><Content-Type>blobContentType</Content-Type><Content-Encoding>blobContentEncoding</Content-Encoding><Content-Language>blobContentLanguage</Content-Language><Content-CRC64 /><Content-MD5>yrJ1fMnaIADVHCQhkBoXOg==</Content-MD5><Cache-Control>blobCacheControl</Cache-Control><Content-Disposition>blobContentDisposition</Content-Disposition><LastAccessTime>Thu, 22 Jan 2026 21:53:46 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><keyb>value b</keyb><_>underscore value</_></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911882171104565?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container176911882171104565",
    "listblob": "listblob176911882536202606",
    "listingcontainer": "listingcontainer176911882528809342",
    "randomstring": "randomstring176911882528803065"
  }
}
