{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355610987000941?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825C14F7EEAE\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:28:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/listingcontainer177355611340001442?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825C1504BA2A\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:28:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/listingcontainer177355611340001442/listblob177355611348202046",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-_": "underscore value",
        "x-ms-meta-keyb": "value b",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTc3MzU1NjExMzQwMDA1ODA1",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FwS5ijfUT6f9Wm2jJKk9aA==",
        "ETag": "\"0x8DE825C151168A8\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:28:33 GMT",
        "x-ms-content-crc64": "BZuEl22zQK0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:28:33.5253672Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/listingcontainer177355611340001442?comp=list&maxresults=5&restype=container&include=metadata&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"listingcontainer177355611340001442\"><MaxResults>5</MaxResults><Blobs><Blob><Name>listblob177355611348202046</Name><VersionId>2026-03-15T06:28:33.5253672Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sun, 15 Mar 2026 06:28:33 GMT</Creation-Time><Last-Modified>Sun, 15 Mar 2026 06:28:33 GMT</Last-Modified><Etag>0x8DE825C151168A8</Etag><Content-Length>30</Content-Length><Content-Type>blobContentType</Content-Type><Content-Encoding>blobContentEncoding</Content-Encoding><Content-Language>blobContentLanguage</Content-Language><Content-CRC64 /><Content-MD5>FwS5ijfUT6f9Wm2jJKk9aA==</Content-MD5><Cache-Control>blobCacheControl</Cache-Control><Content-Disposition>blobContentDisposition</Content-Disposition><LastAccessTime>Sun, 15 Mar 2026 06:28:33 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><keyb>value b</keyb><_>underscore value</_></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355610987000941?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container177355610987000941",
    "listblob": "listblob177355611348202046",
    "listingcontainer": "listingcontainer177355611340001442",
    "randomstring": "randomstring177355611340005805"
  }
}
