{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768551133504105?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD05212AAE4D7\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:18:32 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768551133504105?restype=container\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD05212AAE4D7\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:18:32 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768551133504105?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container169768551133504105"
  }
}
