{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768550933400138?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD0521179BF74\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:18:30 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768550933400138/blob169768550944806420?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-keya": "vala",
        "x-ms-meta-keyb": "valb",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTY5NzY4NTUwOTQ0ODA2MjA4",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "j/s8FU4u8scPHdrOjy2lPw==",
        "ETag": "\u00220x8DBD052118ABF67\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:18:30 GMT",
        "x-ms-content-crc64": "cmHKKx\u002BymPo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-19T03:18:30.3258471Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768550933400138/blob169768550944806420?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "blobContentDisposition",
        "Content-Language": "blobContentLanguage",
        "Content-MD5": "j/s8FU4u8scPHdrOjy2lPw==",
        "Content-Type": "blobContentType",
        "ETag": "\u00220x8DBD052118ABF67\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:18:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 19 Oct 2023 03:18:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-keya": "vala",
        "x-ms-meta-keyb": "valb",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-19T03:18:30.3258471Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTY5NzY4NTUwOTQ0ODA2MjA4"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768550933400138/blob169768550944806420?",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768550933400138/blob169768550944806420?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768550933400138?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169768550944806420",
    "container": "container169768550933400138",
    "randomstring": "randomstring169768550944806208"
  }
}
