{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/bar/README.md",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Wu6FSmzW5DI+CM1GJ3PlaQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE38E60393BFBC\"",
        "Last-Modified": "Thu, 11 Dec 2025 18:49:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Dec 2025 18:49:28 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "6c032f76-3091-41be-b72e-a5571d307f67",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
