{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/bar/test-upload-639034213688709120.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VGhpcyBpcyBhIHRlc3QgZmlsZSBmb3IgYmxvYiB1cGxvYWQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ooKn+/JzOLHm5pcJvhEHZw==",
        "ETag": "\"0x8DE4E3B4C76842C\"",
        "Last-Modified": "Wed, 07 Jan 2026 22:22:52 GMT",
        "x-ms-content-crc64": "Q+KTNvQMfIo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blobName": "test-upload-639034213688709120.txt"
  }
}
