{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/bar?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://Sanitized.blob.core.windows.net/\" ContainerName=\"bar\"><Blobs><Blob><Name>README.md</Name><Properties><Creation-Time>Thu, 02 Apr 2026 18:27:36 GMT</Creation-Time><Last-Modified>Thu, 02 Apr 2026 18:27:36 GMT</Last-Modified><Etag>0x8DE90E583FE2688</Etag><ResourceType>file</ResourceType><Content-Length>41066</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>c8QuG5I+7+lWP1rX2MdVDQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
