{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Media/mediaservices/mymediaxxx?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ams-retirement-date": "2025-04-01T00:00:00.0000000+00:00",
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "mymediaxxx",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Media/mediaservices/mymediaxxx",
        "type": "Microsoft.Media/mediaservices",
        "location": "East US",
        "properties": {
          "mediaServiceId": "3a5e7e08-fa11-4865-b6d3-51c29d229ea8",
          "storageAccounts": [
            {
              "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountxxx111",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    }
  ],
  "Variables": {}
}
