{
  "Entries": [
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueueasync50783366",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 16 Oct 2023 18:33:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueueasync50783366?comp=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 16 Oct 2023 18:33:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-approximate-messages-count": "0",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
