{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/evidences/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0?api-version=2024-06-27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": {
        "properties": {
          "evidenceType": "File",
          "filePath": "acatevidence/sdk-test-report/Operational_Security_1/Operational_Security_1_manual_cr/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0/feedback1.png",
          "controlId": "Operational_Security_1",
          "responsibilityId": "Operational_Security_1_manual_cr"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "57540895-983c-40f2-a96c-5ebb8f967eb9",
        "X-ms-Operation-Id": "7e32250c9efd286c1f713cfd75bad38b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/evidences/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0",
        "name": "6affe3ce-66e9-40fb-b6d0-1ae03159f2b0",
        "type": "microsoft.appcomplianceautomation/reports/evidences",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-08-13T04:52:54.9777331Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-08-13T04:52:54.9777331Z"
        },
        "properties": {
          "evidenceType": "File",
          "filePath": "acatevidence/sdk-test-report/Operational_Security_1/Operational_Security_1_manual_cr/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0/feedback1.png",
          "controlId": "Operational_Security_1",
          "responsibilityId": "Operational_Security_1_manual_cr",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/evidences/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0?api-version=2024-06-27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7084055e-8098-4510-b886-9ad8e1a1c23e",
        "X-ms-Operation-Id": "5cd24a1a3e8f0265cfa8fa538dd38ff4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/evidences/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0",
        "name": "6affe3ce-66e9-40fb-b6d0-1ae03159f2b0",
        "type": "Microsoft.AppComplianceAutomation/reports/evidences",
        "systemData": {
          "createdBy": "",
          "createdByType": "Application",
          "createdAt": "2024-08-13T04:52:55.327Z",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-08-13T04:52:55.327Z"
        },
        "properties": {
          "evidenceType": "File",
          "filePath": "acatevidence/sdk-test-report/Operational_Security_1/Operational_Security_1_manual_cr/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0/feedback1.png",
          "controlId": "Operational_Security_1",
          "responsibilityId": "Operational_Security_1_manual_cr",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/evidences/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0/download?api-version=2024-06-27",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "136c3c7f-d0aa-4d35-a3c1-9f3868237742",
        "X-ms-Operation-Id": "beb8f430cf37831e1b81a690f3d73371",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "evidenceFile": {
          "url": "https://e2efileuploadtest.blob.core.windows.net/acatevidence/sdk-test-report/Operational_Security_1/Operational_Security_1_manual_cr/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0/feedback1.png?skoid=2ac93b7d-f0be-4d17-a19d-cb49bf0d0ce7&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-08-13T04%3A51%3A01Z&ske=2024-08-13T05%3A01%3A01Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-08-13T04%3A52%3A56Z&se=2024-08-13T05%3A02%3A56Z&sr=b&sp=r&sig=Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-test-report/evidences/6affe3ce-66e9-40fb-b6d0-1ae03159f2b0?api-version=2024-06-27",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "926b7557-c13d-4c27-a134-42d59964d17c",
        "X-ms-Operation-Id": "18bbb92ec8d48f23e652d1fddf3a0807",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1553015533",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SERVICE_MANAGEMENT_URL": "https://management.core.windows.net/",
    "SUBSCRIPTION_ID": "120b982f-6bd3-4b60-98d2-a7b7ecd6c78e"
  }
}
