{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-7336473230?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B32423161CB\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:35:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-7336473230/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DD5B32423D29A3\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:35:57 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/7cbe7381-4036-4d49-925f-3f84ed61c14c?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "7616587f-a5c1-486d-9fd4-1ddf897abb2e"
      },
      "ResponseBody": {
        "id": "7cbe7381-4036-4d49-925f-3f84ed61c14c",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/7cbe7381-4036-4d49-925f-3f84ed61c14c?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"50F6745E2A9CBFAECFD82FA6BCA27565435E70638B4B304BE186FE529867B604\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "35ce6212-101e-4c22-95f2-128b3f9730a3"
      },
      "ResponseBody": {
        "id": "7cbe7381-4036-4d49-925f-3f84ed61c14c",
        "createdDateTimeUtc": "2025-03-04T15:35:59.2480792Z",
        "lastActionDateTimeUtc": "2025-03-04T15:35:59.2480802Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/7cbe7381-4036-4d49-925f-3f84ed61c14c?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"65680ABC45A638C55A90F965CE67175F2A485B9633396ECE8813F8E10F1F70A5\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "49ee4db3-03ad-4a5b-acf2-51e8a4a262c6"
      },
      "ResponseBody": {
        "id": "7cbe7381-4036-4d49-925f-3f84ed61c14c",
        "createdDateTimeUtc": "2025-03-04T15:35:59.2480792Z",
        "lastActionDateTimeUtc": "2025-03-04T15:36:27.1440042Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access target document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidTargetDocumentAccessLevel",
            "message": "Cannot access target document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-7336473230"
  }
}
