{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-4078371010?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C57BD3D8A6E\"",
        "Last-Modified": "Thu, 06 Mar 2025 02:36:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/7cb99d76-6fee-4f22-81a7-5249294297ac?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "071ae0ac-a5df-4bd8-b42b-f5ed86b20128"
      },
      "ResponseBody": {
        "id": "7cb99d76-6fee-4f22-81a7-5249294297ac",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/7cb99d76-6fee-4f22-81a7-5249294297ac?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"D90FBD4D4C5AA9E36FBD6836F1295BB1053B91CE6E33527D00033762F231DBA1\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "034850d8-b0c0-4421-9634-2d38d6bfc74f"
      },
      "ResponseBody": {
        "id": "7cb99d76-6fee-4f22-81a7-5249294297ac",
        "createdDateTimeUtc": "2025-03-06T02:36:47.984957Z",
        "lastActionDateTimeUtc": "2025-03-06T02:36:48.3700254Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access source document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidDocumentAccessLevel",
            "message": "Cannot access source document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "targetContainer": "target-4078371010"
  }
}
