{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6735360094?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD60502496A\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:31:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6735360094/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC9AD6050DEB8D\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:31:57 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-1763445803?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD6056B066A\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:31:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              },
              {
                "targetUrl": "Sanitized",
                "language": "es"
              },
              {
                "targetUrl": "Sanitized",
                "language": "ar"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/ec73143f-4c07-4c51-b868-bf889bf9bd34?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "1909a094-6d5d-48e0-a1ac-59f8ac54f110"
      },
      "ResponseBody": {
        "id": "ec73143f-4c07-4c51-b868-bf889bf9bd34",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/ec73143f-4c07-4c51-b868-bf889bf9bd34?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"DB31696D6EB74E8333BD4C3CE34731065599B7742FDA88457C842113963C394D\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "b9668b86-b422-4ee3-8300-97a73a7eee06"
      },
      "ResponseBody": {
        "id": "ec73143f-4c07-4c51-b868-bf889bf9bd34",
        "createdDateTimeUtc": "2024-07-02T20:32:01.4291921Z",
        "lastActionDateTimeUtc": "2024-07-02T20:32:01.4291921Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/ec73143f-4c07-4c51-b868-bf889bf9bd34?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"90EFFA2722191EA162FEC74FCA19AC381B7F324E26C6C02F3203B1AB4D4B2823\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "7e0d4a2c-034b-4b5f-ac88-a56cb4ebaa4f"
      },
      "ResponseBody": {
        "id": "ec73143f-4c07-4c51-b868-bf889bf9bd34",
        "createdDateTimeUtc": "2024-07-02T20:32:01.4291921Z",
        "lastActionDateTimeUtc": "2024-07-02T20:32:15.1948645Z",
        "status": "Succeeded",
        "summary": {
          "total": 3,
          "failed": 0,
          "success": 3,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 81
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-6735360094",
    "targetContainer1": "target-1763445803",
    "targetContainer2": "target-3010058162",
    "targetContainer3": "target-3404565113"
  }
}
