{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-1760727227?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD5DE205044\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:30:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-1760727227/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC9AD5DE2A2010\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:30:52 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-0621578800?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD5DE8A7794\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:30:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/3d2920fe-988f-4a19-a4bd-2a208ab6bb72?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "401361b7-bdab-4dc4-be98-6b32645db511"
      },
      "ResponseBody": {
        "id": "3d2920fe-988f-4a19-a4bd-2a208ab6bb72",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/3d2920fe-988f-4a19-a4bd-2a208ab6bb72?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"B0D9D8846BCA620970CA655678D65AFB576B9681AFF72ECC33ED6BC11833B582\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "5a736e13-6de0-49b6-985c-1c4956243700"
      },
      "ResponseBody": {
        "id": "3d2920fe-988f-4a19-a4bd-2a208ab6bb72",
        "createdDateTimeUtc": "2024-07-02T20:30:55.1908154Z",
        "lastActionDateTimeUtc": "2024-07-02T20:30:55.1908156Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/3d2920fe-988f-4a19-a4bd-2a208ab6bb72?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"BD4116CCB10D5CC68D154F739592AA5299D0E69CC49A988A6E023155B2A1188B\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "ce0ff553-293a-41cc-8535-8effefc4a324"
      },
      "ResponseBody": {
        "id": "3d2920fe-988f-4a19-a4bd-2a208ab6bb72",
        "createdDateTimeUtc": "2024-07-02T20:30:55.1908154Z",
        "lastActionDateTimeUtc": "2024-07-02T20:31:13.5367356Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 27
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-1760727227",
    "targetContainer": "target-0621578800"
  }
}
