{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-4264615854?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B3208814379\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:34:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-4264615854/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DD5B32088D5888\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:34:20 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-2758625145?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B320966FAC4\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:34:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/6e5ec07a-909c-45a3-bb91-879277b589e3?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "bcea04b3-9e0e-4990-9639-81c9935f5b77"
      },
      "ResponseBody": {
        "id": "6e5ec07a-909c-45a3-bb91-879277b589e3",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/6e5ec07a-909c-45a3-bb91-879277b589e3?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"E9DA12B391399D48F9BFFEBD5EB3522ED738F3BA0B0CAB8363FC1950DD0D7042\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "51162c5c-a4a1-4352-b76d-74850671c24f"
      },
      "ResponseBody": {
        "id": "6e5ec07a-909c-45a3-bb91-879277b589e3",
        "createdDateTimeUtc": "2025-03-04T15:34:23.5977595Z",
        "lastActionDateTimeUtc": "2025-03-04T15:34:23.5977596Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/6e5ec07a-909c-45a3-bb91-879277b589e3?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"7D2CAF5DE6653E8BABCA1F73DD23DECEF8C39AFFC667276D6396CD3088F3B28F\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "88ccbafd-dad8-4305-9334-c7599f545fb6"
      },
      "ResponseBody": {
        "id": "6e5ec07a-909c-45a3-bb91-879277b589e3",
        "createdDateTimeUtc": "2025-03-04T15:34:23.5977595Z",
        "lastActionDateTimeUtc": "2025-03-04T15:34:31.5162577Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 27
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-4264615854",
    "targetContainer": "target-2758625145"
  }
}
