{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-1921525880?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B325CD03143\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:36:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-1921525880/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGZpbGU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2WUVRRrO7ivHfl+sCIXK1g==",
        "ETag": "\"0x8DD5B325CDC0794\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:36:42 GMT",
        "x-ms-content-crc64": "j/Ca6JDOeK8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-1921525880/File2.jpg",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "anBn",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "w2u9JYt+5pTrmHIhsrGXsA==",
        "ETag": "\"0x8DD5B325CE813C9\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:36:42 GMT",
        "x-ms-content-crc64": "NngqzE+v31M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-3871889574?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B325DCE754F\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:36:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/aafec47d-6813-488d-a0cc-b8123ffc2a9c?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "0a4f95c6-6dac-4023-92b5-27bb1f161b9e"
      },
      "ResponseBody": {
        "id": "aafec47d-6813-488d-a0cc-b8123ffc2a9c",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/aafec47d-6813-488d-a0cc-b8123ffc2a9c?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"248A2D23D3A11C91BBAB6ACC090B87D99B6F6A25C66E953D51D9B7F387B8CE48\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "5284241b-0e1c-4de5-9e92-83f9b8d773e2"
      },
      "ResponseBody": {
        "id": "aafec47d-6813-488d-a0cc-b8123ffc2a9c",
        "createdDateTimeUtc": "2025-03-04T15:36:45.3124533Z",
        "lastActionDateTimeUtc": "2025-03-04T15:36:45.312454Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/aafec47d-6813-488d-a0cc-b8123ffc2a9c?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"869ACDEE4555AEC706AF60A28094FDCFE4F3402630813D22C9790582CCA22435\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "24bec013-293e-4e5c-bb5b-d0dd1e4aa5f8"
      },
      "ResponseBody": {
        "id": "aafec47d-6813-488d-a0cc-b8123ffc2a9c",
        "createdDateTimeUtc": "2025-03-04T15:36:45.3124533Z",
        "lastActionDateTimeUtc": "2025-03-04T15:36:52.9981317Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 23
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-1921525880",
    "targetContainer": "target-3871889574"
  }
}
