{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6405124104?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD73CBD5EE1\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:40:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6405124104/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC9AD73CC4A1CC\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:40:40 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-9139305226?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD73D23B35A\"",
        "Last-Modified": "Tue, 02 Jul 2024 20:40:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/e1f4b786-fc77-43e4-a31d-4b816f963718?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "60f4da37-94e2-47b8-9292-50230e99dd73"
      },
      "ResponseBody": {
        "id": "e1f4b786-fc77-43e4-a31d-4b816f963718",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/e1f4b786-fc77-43e4-a31d-4b816f963718/documents/Foo%20Bar?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-region": "West US",
        "X-RequestId": "ddbbaaef-de46-47d9-b66f-3b8796e1613c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/e1f4b786-fc77-43e4-a31d-4b816f963718/documents/%20?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-region": "West US",
        "X-RequestId": "4eafc646-6365-4140-ad6b-6e5840884e04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "sourceContainer": "source-6405124104",
    "targetContainer": "target-9139305226"
  }
}
