{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-2568211859?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ADAC1C306C2\"",
        "Last-Modified": "Tue, 02 Jul 2024 21:05:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-2568211859/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC9ADAC1CD0E49\"",
        "Last-Modified": "Tue, 02 Jul 2024 21:05:52 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-3649097442?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ADAC22D01FF\"",
        "Last-Modified": "Tue, 02 Jul 2024 21:05:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/glossary-6490953839?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ADAC28939CD\"",
        "Last-Modified": "Tue, 02 Jul 2024 21:05:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/glossary-6490953839/validGlossary.csv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "dGVzdCwgZ2xvc3NhcnlUZXN0",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "qLygYxsEBNmyWP+aqz/J7w==",
        "ETag": "\"0x8DC9ADAC291C7D0\"",
        "Last-Modified": "Tue, 02 Jul 2024 21:05:53 GMT",
        "x-ms-content-crc64": "Rb5LogyAcXY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr",
                "glossaries": [
                  {
                    "glossaryUrl": "Sanitized",
                    "format": "csv"
                  }
                ]
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/82fa00fa-6987-4090-8b90-729b168f2b83?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "83d2d4cf-7d9a-4658-a646-53aad76af966"
      },
      "ResponseBody": {
        "id": "82fa00fa-6987-4090-8b90-729b168f2b83",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/82fa00fa-6987-4090-8b90-729b168f2b83?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"317AD9414A3D10D1B43B2D3B2269F99DA652FF6D930598BB422F5857507DA862\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "f1cbc6f8-380c-431a-ad3d-679e7422f708"
      },
      "ResponseBody": {
        "id": "82fa00fa-6987-4090-8b90-729b168f2b83",
        "createdDateTimeUtc": "2024-07-02T21:05:56.9087333Z",
        "lastActionDateTimeUtc": "2024-07-02T21:05:56.9087334Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-3649097442/Document1.txt",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3kJv0jU94nNbHkAb8BPgtA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9ADACD391637\"",
        "Last-Modified": "Tue, 02 Jul 2024 21:06:11 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 21:06:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "UHJlbWllciBnbG9zc2FyeVRlc3QgZW4gYW5nbGFpcwo="
    }
  ],
  "Variables": {
    "containerUrl": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target-3649097442",
    "glossaryContainer": "glossary-6490953839",
    "sourceContainer": "source-2568211859",
    "targetContainer": "target-3649097442"
  }
}
