{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6610222334?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B31D4D0D144\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:32:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6610222334/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DD5B31D4DCBF0E\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:32:53 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-2015121999?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B31D5EB1411\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:32:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          },
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/b3d7b46c-87d2-4964-acc8-b4124d3d0888?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "58d9d072-c71e-4b2d-a450-7c6cf12de641"
      },
      "ResponseBody": {
        "id": "b3d7b46c-87d2-4964-acc8-b4124d3d0888",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/b3d7b46c-87d2-4964-acc8-b4124d3d0888?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"EE8696A0A2CEA5C1B1DC5F527F4864307E4B5B2103DF4B982719675FFFC8486E\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "4575e01f-cbcd-4869-a785-daaed9ae6a18"
      },
      "ResponseBody": {
        "id": "b3d7b46c-87d2-4964-acc8-b4124d3d0888",
        "createdDateTimeUtc": "2025-03-04T15:33:00.3025352Z",
        "lastActionDateTimeUtc": "2025-03-04T15:33:00.3025353Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/b3d7b46c-87d2-4964-acc8-b4124d3d0888?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"8EB630F5F11483F2D923BC973CDE7159F0B6D036D7875B1C8742E8B211596EB8\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "017b5372-3c28-4f1b-af8f-5c5ad22654c5"
      },
      "ResponseBody": {
        "id": "b3d7b46c-87d2-4964-acc8-b4124d3d0888",
        "createdDateTimeUtc": "2025-03-04T15:33:00.3025352Z",
        "lastActionDateTimeUtc": "2025-03-04T15:33:06.683095Z",
        "status": "Succeeded",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 2,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 54
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer1": "source-6610222334",
    "sourceContainer2": "source-3182338834",
    "targetContainer1": "target-2015121999",
    "targetContainer2": "target-0122272231"
  }
}
