{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2eTestResource",
            "name": "e2eTestResource",
            "type": "Microsoft.MachineLearningServices/workspaces",
            "location": "westus3",
            "tags": {
              "createdByToolkit": "sdk-v2-1.12.0"
            },
            "etag": null,
            "properties": {
              "friendlyName": "e2eTestResource",
              "description": "Used for e2e testing in the AI SDK. Do not delete.",
              "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/e2etestrstoraged4d0f0a60",
              "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/e2etestrkeyvault9c761182",
              "applicationInsights": null,
              "hbiWorkspace": false,
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "imageBuildCompute": null,
              "provisioningState": "Succeeded",
              "managedNetwork": {
                "changeableIsolationModes": [
                  "AllowInternetOutbound",
                  "AllowOnlyApprovedOutbound"
                ],
                "isolationMode": "Disabled"
              },
              "v1LegacyMode": false,
              "softDeleteEnabled": false,
              "creationTime": "2023-10-19T20:19:53.0571408Z",
              "notebookInfo": {
                "resourceId": null,
                "fqdn": null,
                "isPrivateLinkEnabled": false,
                "notebookPreparationError": null
              },
              "storageHnsEnabled": false,
              "workspaceId": "7d00505b-cff3-4a87-b376-a0e3ce9e2210",
              "linkedModelInventoryArmId": null,
              "privateLinkCount": 0,
              "publicNetworkAccess": "Enabled",
              "ipAllowlist": [],
              "discoveryUrl": "https://westus3.api.azureml.ms/discovery",
              "mlFlowTrackingUri": "azureml://westus3.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2eTestResource",
              "serverlessComputeSettings": null,
              "EnableSoftwareBillOfMaterials": null,
              "sdkTelemetryAppInsightsKey": "3c3a4870-ec7e-4790-8faa-fa109dddf062",
              "sasGetterUri": "",
              "associatedWorkspaces": [
                "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/hwep"
              ],
              "enableDataIsolation": false,
              "azureOpenAI": {
                "provisioningState": "Succeeded",
                "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/e2etestresource-aoai",
                "endpoint": "https://e2etestresource-aoai.openai.azure.com/",
                "proxyResourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2eTestResource/oaiaccounts/id_946017e384974c1eb4f754e59dc0eba0",
                "failureReason": null,
                "deployedModels": []
              },
              "azureCognitiveSearch": {
                "provisioningState": "NotStarted",
                "resourceId": null,
                "endpoint": null,
                "failureReason": null
              },
              "azureAIContentSafety": {
                "provisioningState": "NotStarted",
                "resourceId": null,
                "endpoint": null,
                "failureReason": null
              },
              "workspaceHubConfig": {
                "defaultWorkspaceResourceGroup": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000"
              },
              "endpointResources": {}
            },
            "identity": {
              "type": "SystemAssigned",
              "principalId": "b9d0ffcb-da61-437a-92d3-9e54797c864d",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            },
            "kind": "Hub",
            "sku": {
              "name": "Basic",
              "tier": "Basic"
            },
            "systemData": {
              "createdAt": "2023-10-19T20:19:53.0571408Z",
              "createdBy": "milesholland@microsoft.com",
              "createdByType": "User",
              "lastModifiedAt": "2023-10-19T20:23:58.1858381Z",
              "lastModifiedBy": "milesholland@microsoft.com",
              "lastModifiedByType": "User"
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/hwep",
            "name": "hwep",
            "type": "Microsoft.MachineLearningServices/workspaces",
            "location": "westus3",
            "tags": {
              "createdByToolkit": "sdk-v2-1.12.0"
            },
            "etag": null,
            "properties": {
              "friendlyName": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2e_test_res_1?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus3-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.022"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2e_test_res_1",
        "name": "e2e_test_res_1",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus3",
        "tags": {
          "createdByToolkit": "sdk-v2-1.12.0"
        },
        "etag": null,
        "properties": {
          "friendlyName": "e2e_test_res_1",
       [...]
[...]
