{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176836806957202243?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176836806957202243/messages?visibilitytimeout=0&messagettl=40&timeout=30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><QueueMessage><MessageText>Hello World</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>33bd42e2-84e9-47a6-b73b-50db21a8408b</MessageId><InsertionTime>Wed, 14 Jan 2026 05:21:15 GMT</InsertionTime><ExpirationTime>Wed, 14 Jan 2026 05:21:55 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAkHnKmhWF3AE=</PopReceipt><TimeNextVisible>Wed, 14 Jan 2026 05:21:15 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176836806957202243/messages?numofmessages=2&peekonly=true&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>33bd42e2-84e9-47a6-b73b-50db21a8408b</MessageId><InsertionTime>Wed, 14 Jan 2026 05:21:15 GMT</InsertionTime><ExpirationTime>Wed, 14 Jan 2026 05:21:55 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>Hello World</MessageText></QueueMessage><QueueMessage><MessageId>8fa0b01b-7316-4540-a332-74aea334797d</MessageId><InsertionTime>Wed, 14 Jan 2026 05:21:15 GMT</InsertionTime><ExpirationTime>Wed, 14 Jan 2026 05:21:55 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>Hello World</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176836806957202243/messages?numofmessages=2&visibilitytimeout=10&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>33bd42e2-84e9-47a6-b73b-50db21a8408b</MessageId><InsertionTime>Wed, 14 Jan 2026 05:21:15 GMT</InsertionTime><ExpirationTime>Wed, 14 Jan 2026 05:21:55 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAB9keoRWF3AE=</PopReceipt><TimeNextVisible>Wed, 14 Jan 2026 05:21:25 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>Hello World</MessageText></QueueMessage><QueueMessage><MessageId>8fa0b01b-7316-4540-a332-74aea334797d</MessageId><InsertionTime>Wed, 14 Jan 2026 05:21:15 GMT</InsertionTime><ExpirationTime>Wed, 14 Jan 2026 05:21:55 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAB9keoRWF3AE=</PopReceipt><TimeNextVisible>Wed, 14 Jan 2026 05:21:25 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>Hello World</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176836806957202243/messages?peekonly=true&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList />"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176836806957202243?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue176836806957202243"
  }
}
