{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445970295408691?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445970295408691/messages?visibilitytimeout=0&messagettl=40&timeout=30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><QueueMessage><MessageText>Hello World</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3f005e66-a9bc-4061-8888-840009f461a9</MessageId><InsertionTime>Tue, 30 Apr 2024 06:48:24 GMT</InsertionTime><ExpirationTime>Tue, 30 Apr 2024 06:49:04 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAqC2vZcqa2gE=</PopReceipt><TimeNextVisible>Tue, 30 Apr 2024 06:48:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445970295408691/messages?numofmessages=2&peekonly=true&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3f005e66-a9bc-4061-8888-840009f461a9</MessageId><InsertionTime>Tue, 30 Apr 2024 06:48:24 GMT</InsertionTime><ExpirationTime>Tue, 30 Apr 2024 06:49:04 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>Hello World</MessageText></QueueMessage><QueueMessage><MessageId>3c54200d-45bb-4256-81fe-1906d849553a</MessageId><InsertionTime>Tue, 30 Apr 2024 06:48:24 GMT</InsertionTime><ExpirationTime>Tue, 30 Apr 2024 06:49:04 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>Hello World</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445970295408691/messages?numofmessages=2&visibilitytimeout=10&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3f005e66-a9bc-4061-8888-840009f461a9</MessageId><InsertionTime>Tue, 30 Apr 2024 06:48:24 GMT</InsertionTime><ExpirationTime>Tue, 30 Apr 2024 06:49:04 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAysf4a8qa2gE=</PopReceipt><TimeNextVisible>Tue, 30 Apr 2024 06:48:34 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>Hello World</MessageText></QueueMessage><QueueMessage><MessageId>3c54200d-45bb-4256-81fe-1906d849553a</MessageId><InsertionTime>Tue, 30 Apr 2024 06:48:24 GMT</InsertionTime><ExpirationTime>Tue, 30 Apr 2024 06:49:04 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAysf4a8qa2gE=</PopReceipt><TimeNextVisible>Tue, 30 Apr 2024 06:48:34 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>Hello World</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445970295408691/messages?peekonly=true&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList />"
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445970295408691?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue171445970295408691"
  }
}
