{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328054195407325?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328054195407325/messages?visibilitytimeout=0&messagettl=40&timeout=30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><QueueMessage><MessageText>Hello World</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2d8e3d4f-4527-4b8a-9548-eb2d5a2acee3</MessageId><InsertionTime>Thu, 12 Mar 2026 01:55:42 GMT</InsertionTime><ExpirationTime>Thu, 12 Mar 2026 01:56:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAf7u/VcOx3AE=</PopReceipt><TimeNextVisible>Thu, 12 Mar 2026 01:55:42 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328054195407325/messages?numofmessages=2&peekonly=true&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2d8e3d4f-4527-4b8a-9548-eb2d5a2acee3</MessageId><InsertionTime>Thu, 12 Mar 2026 01:55:42 GMT</InsertionTime><ExpirationTime>Thu, 12 Mar 2026 01:56:22 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>Hello World</MessageText></QueueMessage><QueueMessage><MessageId>971f890b-ad95-4611-a9f8-f8a8acba49bb</MessageId><InsertionTime>Thu, 12 Mar 2026 01:55:43 GMT</InsertionTime><ExpirationTime>Thu, 12 Mar 2026 01:56:23 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>Hello World</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328054195407325/messages?numofmessages=2&visibilitytimeout=10&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2d8e3d4f-4527-4b8a-9548-eb2d5a2acee3</MessageId><InsertionTime>Thu, 12 Mar 2026 01:55:42 GMT</InsertionTime><ExpirationTime>Thu, 12 Mar 2026 01:56:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA3tjrW8Ox3AE=</PopReceipt><TimeNextVisible>Thu, 12 Mar 2026 01:55:53 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>Hello World</MessageText></QueueMessage><QueueMessage><MessageId>971f890b-ad95-4611-a9f8-f8a8acba49bb</MessageId><InsertionTime>Thu, 12 Mar 2026 01:55:43 GMT</InsertionTime><ExpirationTime>Thu, 12 Mar 2026 01:56:23 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA3tjrW8Ox3AE=</PopReceipt><TimeNextVisible>Thu, 12 Mar 2026 01:55:53 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>Hello World</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328054195407325/messages?peekonly=true&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList />"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328054195407325?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue177328054195407325"
  }
}
