{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AzureFleet/fleets/resourcetest?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "properties": {
          "spotPriorityProfile": {
            "capacity": 1,
            "maxPricePerVM": 1,
            "evictionPolicy": "Delete",
            "allocationStrategy": "LowestPrice",
            "maintain": true
          },
          "vmSizesProfile": [
            {
              "name": "Standard_D2s_v3"
            },
            {
              "name": "Standard_D4s_v3"
            },
            {
              "name": "Standard_E2s_v3"
            }
          ],
          "computeProfile": {
            "baseVirtualMachineProfile": {
              "osProfile": {
                "computerNamePrefix": "testfleet",
                "adminUsername": "azureuser",
                "adminPassword": "Sanitized"
              },
              "storageProfile": {
                "imageReference": {
                  "publisher": "canonical",
                  "offer": "0001-com-ubuntu-server-focal",
                  "sku": "20_04-lts-gen2",
                  "version": "latest"
                },
                "osDisk": {
                  "caching": "ReadWrite",
                  "createOption": "fromImage",
                  "osType": "Linux",
                  "managedDisk": {
                    "storageAccountType": "Premium_LRS"
                  }
                }
              },
              "networkProfile": {
                "networkInterfaceConfigurations": [
                  {
                    "name": "testnsg",
                    "properties": {
                      "primary": true,
                      "enableAcceleratedNetworking": false,
                      "networkSecurityGroup": {
                        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/networkSecurityGroups/testnsg"
                      },
                      "ipConfigurations": [
                        {
                          "name": "testvn-ipConfig",
                          "properties": {
                            "subnet": {
                              "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/czwtestvn/subnets/testsub"
                            },
                            "primary": true
                          }
                        }
                      ]
                    }
                  }
                ],
                "networkApiVersion": "2020-11-01"
              },
              "securityProfile": {
                "uefiSettings": {
                  "secureBootEnabled": true,
                  "vTpmEnabled": false
                },
                "securityType": "TrustedLaunch"
              },
              "licenseType": "None"
            },
            "computeApiVersion": "2023-09-01",
            "platformFaultDomainCount": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.AzureFleet/locations/EastUS2EUAP/operations/2d3862ef-1d08-44a5-963f-268622e20818?p=a0a0bfda-b163-46bb-80af-3e2a1a1109c9&api-version=2024-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutFleet3Min;19,Microsoft.Compute/PutFleet30Min;233",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "resourcetest",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AzureFleet/fleets/resourcetest",
        "type": "Microsoft.AzureFleet/fleets",
        "location": "EastUS2EUAP",
        "properties": {
          "spotPriorityProfile": {
            "maxPricePerVM": 1.0,
            "evictionPolicy": "Delete",
            "allocationStrategy": "LowestPrice",
            "maintain": true,
            "capacity": 1
          },
          "vmSizesProfile": [
            {
              "name": "Standard_D2s_v3"
            },
            {
              "name": "Standard_D4s_v3"
            },
            {
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.AzureFleet/locations/EastUS2EUAP/operations/2d3862ef-1d08-44a5-963f-268622e20818?p=a0a0bfda-b163-46bb-80af-3e2a1a1109c9&api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetFleet3Min;366,Microsoft.Compute/GetFleet30Min;2536",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "startTime": "2024-07-10T09:37:53.0541998+00:00",
        "status": "InProgress",
        "name": "2d3862ef-1d08-44a5-963f-268622e20818"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.AzureFleet/locations/EastUS2EUAP/operations/2d3862ef-1d08-44a5-963f-268622e20818?p=a0a0bfda-b163-46bb-80af-3e2a1a1109c9&api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetFleet3Min;357,Microsoft.Compute/GetFleet30Min;2519",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "startTime": "2024-07-10T09:37:53.0541998+00:00",
        "endTime": "2024-07-10T09:38:49.0873207+00:00",
        "status": "Succeeded",
        "name": "2d3862ef-1d08-44a5-963f-268622e20818"
      }
    },
[...]
