{
  "Entries": [
    {
      "RequestUri": "https://t33821129d6fc5894prim.blob.core.windows.net/b9a0b6c3-98e8-4a3a-8116-137548c49289/test-blob-16bdeea4-6480-5416-6332-e3c7518823aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Jun 2026 19:51:54 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Tue, 30 Jun 2026 19:56:54 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED6E10B1704D7\"",
        "Last-Modified": "Tue, 30 Jun 2026 19:51:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-06-30T19:51:57.5232727Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t33821129d6fc5894prim.blob.core.windows.net/b9a0b6c3-98e8-4a3a-8116-137548c49289/test-blob-16bdeea4-6480-5416-6332-e3c7518823aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Jun 2026 19:51:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DED6E10B1704D7\"",
        "Last-Modified": "Tue, 30 Jun 2026 19:51:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Jun 2026 19:51:57 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Tue, 30 Jun 2026 19:56:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-06-30T19:51:57.5232727Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-06-30T14:51:54.9749177-05:00",
    "RandomSeed": "2048128193",
    "Storage_TestConfigOAuth": "OAuthTenant\nt33821129d6fc5894prim\nU2FuaXRpemVk\nhttps://t33821129d6fc5894prim.blob.core.windows.net\nhttps://t33821129d6fc5894prim.file.core.windows.net\nhttps://t33821129d6fc5894prim.queue.core.windows.net\nhttps://t33821129d6fc5894prim.table.core.windows.net\n\n\n\n\nhttps://t33821129d6fc5894prim-secondary.blob.core.windows.net\nhttps://t33821129d6fc5894prim-secondary.file.core.windows.net\nhttps://t33821129d6fc5894prim-secondary.queue.core.windows.net\nhttps://t33821129d6fc5894prim-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://t33821129d6fc5894prim.blob.core.windows.net/;QueueEndpoint=https://t33821129d6fc5894prim.queue.core.windows.net/;FileEndpoint=https://t33821129d6fc5894prim.file.core.windows.net/;BlobSecondaryEndpoint=https://t33821129d6fc5894prim-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://t33821129d6fc5894prim-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://t33821129d6fc5894prim-secondary.file.core.windows.net/;AccountName=t33821129d6fc5894prim;AccountKey=U2FuaXRpemVk\n\nSSS3PT_rg-jorgerangelstorage\n4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
    "_containerName": "b9a0b6c3-98e8-4a3a-8116-137548c49289"
  }
}
