{
  "Entries": [
    {
      "RequestUri": "https://t33821129d6fc5894prim.blob.core.windows.net/73319591-2dd4-4054-8fdf-aaa8d3744d5f/test-blob-05449d52-9593-b778-6e56-dc81aa2013a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 12 Mar 2026 21:33:50 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Thu, 12 Mar 2026 21:38:50 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE807F0F5D19D8\"",
        "Last-Modified": "Thu, 12 Mar 2026 21:33:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-12T21:33:54.0150744Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t33821129d6fc5894prim.blob.core.windows.net/73319591-2dd4-4054-8fdf-aaa8d3744d5f/test-blob-05449d52-9593-b778-6e56-dc81aa2013a2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Mar 2026 21:33:50 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE807F0F5D19D8\"",
        "Last-Modified": "Thu, 12 Mar 2026 21:33:54 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 12 Mar 2026 21:33:54 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Thu, 12 Mar 2026 21:38:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-12T21:33:54.0150744Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-12T16:33:50.5677105-05:00",
    "RandomSeed": "574709197",
    "Storage_TestConfigOAuth": "OAuthTenant\nt33821129d6fc5894prim\nU2FuaXRpemVk\nhttps://t33821129d6fc5894prim.blob.core.windows.net\nhttps://t33821129d6fc5894prim.file.core.windows.net\nhttps://t33821129d6fc5894prim.queue.core.windows.net\nhttps://t33821129d6fc5894prim.table.core.windows.net\n\n\n\n\nhttps://t33821129d6fc5894prim-secondary.blob.core.windows.net\nhttps://t33821129d6fc5894prim-secondary.file.core.windows.net\nhttps://t33821129d6fc5894prim-secondary.queue.core.windows.net\nhttps://t33821129d6fc5894prim-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://t33821129d6fc5894prim.blob.core.windows.net/;QueueEndpoint=https://t33821129d6fc5894prim.queue.core.windows.net/;FileEndpoint=https://t33821129d6fc5894prim.file.core.windows.net/;BlobSecondaryEndpoint=https://t33821129d6fc5894prim-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://t33821129d6fc5894prim-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://t33821129d6fc5894prim-secondary.file.core.windows.net/;AccountName=t33821129d6fc5894prim;AccountKey=U2FuaXRpemVk\n\nSSS3PT_rg-jorgerangelstorage\n4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
    "_containerName": "73319591-2dd4-4054-8fdf-aaa8d3744d5f"
  }
}
