{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2026-05-01-preview&%24select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps(name)",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "23",
        "ETag": "\"0x8DEB2AD6908F86A\"",
        "Location": "https://subdomain.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEB2AD6908F86A\"",
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel-live-test-1076899",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test4')?api-version=2026-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hotel-live-test4",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "awesomenessLevel",
            "type": "Edm.Double",
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "details",
            "type": "Edm.ComplexType",
            "fields": [
              {
                "name": "tags",
                "type": "Collection(Edm.String)",
                "searchable": true,
                "filterable": false,
                "sortable": false,
                "facetable": false
              }
            ]
          },
          {
            "name": "hiddenWeight",
            "type": "Edm.Int32",
            "retrievable": false,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1221",
        "ETag": "\"0x8DEB2AD6CC7926E\"",
        "Location": "https://subdomain.search.windows.net/indexes('hotel-live-test4')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEB2AD6CC7926E\"",
        "name": "hotel-live-test4",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabelId": null,
            "sensitivityLabelName": null,
            "sourceDocumentId": null,
            "sharepointSiteUrl": null,
            "synonymMaps": []
          },
          {
            "name": "awesomenessLevel",
            "type": "Edm.Double",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vector[...]
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1076899')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "5161",
        "Preference-Applied": "odata.include-annotations=\"*\"",
        "throttle-reason": "rateLimitExceeded"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "You are sending too many requests. Please try again later."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "18",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-2')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "15",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_INDEX_NAME": "hotel-live-test-1076899"
  }
}
