{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2026-05-01-preview&%24select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "10",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps(name)",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "23",
        "ETag": "\"0x8DEB2AD4B226219\"",
        "Location": "https://subdomain.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DEB2AD4B226219\"",
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel-live-test-1017467",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "150",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#indexes",
        "value": [
          {
            "@odata.etag": "\"0x8DEB21A7988F331\"",
            "name": "hotel-live-test-1004856",
            "description": null,
            "defaultScoringProfile": null,
            "permissionFilterOption": null,
            "purviewEnabled": false,
            "fields": [
              {
                "name": "hotelId",
                "type": "Edm.String",
                "searchable": false,
                "filterable": true,
                "retrievable": true,
                "stored": true,
                "sortable": true,
                "facetable": false,
                "key": true,
                "indexAnalyzer": null,
                "searchAnalyzer": null,
                "analyzer": null,
                "normalizer": null,
                "dimensions": null,
                "vectorSearchProfile": null,
                "vectorEncoding": null,
                "permissionFilter": null,
                "sensitivityLabelId": null,
                "sensitivityLabelName": null,
                "sourceDocumentId": null,
                "sharepointSiteUrl": null,
                "synonymMaps": []
              },
              {
                "name": "hotelName",
                "type": "Edm.String",
                "searchable": true,
                "filterable": true,
                "retrievable": true,
                "stored": true,
                "sortable": true,
                "facetable": false,
                "key": false,
                "indexAnalyzer": null,
                "searchAnalyzer": null,
                "analyzer": null,
                "normalizer": null[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1017467')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "201",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "15",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-2')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "14",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_INDEX_NAME": "hotel-live-test-1017467"
  }
}
