{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2025-11-01-Preview&$select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps(name)",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "83",
        "ETag": "\"0x8DE641DE0C84EB3\"",
        "Location": "https://subdomain.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2025-11-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DE641DE0C84EB3\"",
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel-live-test-1024185",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('garbxyz')?api-version=2025-11-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "30"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No index with the name 'garbxyz' was found in the service 'subdomain'."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1024185')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "392",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "18",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-2')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "26",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_BASE_NAME": "hotel-live-test-1077161",
    "TEST_INDEX_NAME": "hotel-live-test-1024185"
  }
}
