{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DBforMySQL/flexibleServers?api-version=2023-12-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_D2ds_v4",
              "tier": "GeneralPurpose"
            },
            "systemData": {
              "createdAt": "2024-06-06T09:20:42.1098849Z"
            },
            "properties": {
              "administratorLogin": "cloudsa",
              "storage": {
                "storageSizeGB": 100,
                "iops": 600,
                "autoGrow": "Enabled",
                "autoIoScaling": "Disabled",
                "storageSku": "Premium_ZRS",
                "logOnDisk": "Disabled"
              },
              "version": "5.7",
              "state": "Ready",
              "fullyQualifiedDomainName": "resourcetest.mysql.database.azure.com",
              "availabilityZone": "1",
              "maintenanceWindow": {
                "customWindow": "Disabled",
                "dayOfWeek": 0,
                "startHour": 0,
                "startMinute": 0
              },
              "replicationRole": "None",
              "replicaCapacity": 10,
              "network": {
                "publicNetworkAccess": "Enabled"
              },
              "backup": {
                "backupRetentionDays": 7,
                "backupIntervalHours": 24,
                "geoRedundantBackup": "Disabled",
                "earliestRestoreDate": "2024-06-06T09:30:42.1098849+00:00"
              },
              "highAvailability": {
                "mode": "ZoneRedundant",
                "state": "Healthy",
                "standbyAvailabilityZone": "3"
              },
              "privateEndpointConnections": []
            },
            "location": "East US",
            "tags": {
              "num": "1"
            },
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DBforMySQL/flexibleServers/resourcetest",
            "name": "resourcetest",
            "type": "Microsoft.DBforMySQL/flexibleServers"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
