{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/2941a09d-7bcf-42fe-91ca-1765f521c829/resourceGroups/czwjstest/providers/Microsoft.DBforMySQL/flexibleServers/czwtestserver?api-version=2023-12-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_D2ds_v4",
          "tier": "GeneralPurpose"
        },
        "systemData": {
          "createdAt": "2025-11-03T03:26:18.7723187Z"
        },
        "properties": {
          "administratorLogin": "cloudsa",
          "storage": {
            "storageSizeGB": 100,
            "iops": 600,
            "autoGrow": "Enabled",
            "autoIoScaling": "Disabled",
            "storageSku": "Premium_ZRS",
            "logOnDisk": "Disabled"
          },
          "version": "5.7",
          "state": "Ready",
          "fullyQualifiedDomainName": "czwtestserver.mysql.database.azure.com",
          "availabilityZone": "1",
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "replicationRole": "None",
          "replicaCapacity": 10,
          "network": {
            "publicNetworkAccess": "Disabled"
          },
          "backup": {
            "backupRetentionDays": 7,
            "backupIntervalHours": 24,
            "geoRedundantBackup": "Disabled",
            "earliestRestoreDate": "2025-11-03T03:36:18.7723187+00:00"
          },
          "highAvailability": {
            "mode": "ZoneRedundant",
            "state": "Healthy",
            "standbyAvailabilityZone": "3"
          },
          "privateEndpointConnections": []
        },
        "location": "East US",
        "tags": {
          "num": "1"
        },
        "id": "/subscriptions/2941a09d-7bcf-42fe-91ca-1765f521c829/resourceGroups/czwjstest/providers/Microsoft.DBforMySQL/flexibleServers/czwtestserver",
        "name": "czwtestserver",
        "type": "Microsoft.DBforMySQL/flexibleServers"
      }
    }
  ],
  "Variables": {}
}
