{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/pipelines?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11918"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/pipelines/examplePipeline",
            "name": "examplePipeline",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "properties": {
              "description": "Example description",
              "activities": [
                {
                  "name": "ExampleCopyActivity1",
                  "type": "ExecuteWranglingDataflow",
                  "typeProperties": {
                    "dataFlow": {
                      "type": "DataFlowReference",
                      "referenceName": "exampleDataFlow"
                    }
                  }
                }
              ],
              "parameters": {
                "outputBlobNameList": {
                  "type": "Array"
                }
              },
              "policy": {
                "elapsedTimeMetric": {
                  "duration": "0.00:10:00"
                }
              },
              "lastPublishTime": "2023-12-29T02:24:08Z"
            },
            "etag": "380f113f-0000-0100-0000-658e2dc80000"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
