{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/CurrencyDatasetUSD?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "exampleLinkedService"
          },
          "parameters": {
            "myFileName": {
              "type": "String"
            },
            "myFolderPath": {
              "type": "String"
            }
          },
          "typeProperties": {
            "folderPath": {
              "type": "Expression",
              "value": "@dataset().MyFolderPath"
            },
            "fileName": {
              "type": "Expression",
              "value": "@dataset().MyFileName"
            },
            "format": {
              "type": "TextFormat"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/CurrencyDatasetUSD",
        "name": "CurrencyDatasetUSD",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "exampleLinkedService"
          },
          "parameters": {
            "myFileName": {
              "type": "String"
            },
            "myFolderPath": {
              "type": "String"
            }
          },
          "typeProperties": {
            "folderPath": {
              "type": "Expression",
              "value": "@dataset().MyFolderPath"
            },
            "fileName": {
              "type": "Expression",
              "value": "@dataset().MyFileName"
            },
            "format": {
              "type": "TextFormat"
            }
          }
        },
        "etag": "d9011e05-0000-0100-0000-654ddec50000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/CurrencyDatasetCAD?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/dataflows/exampleDataFlow?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MappingDataFlow",
          "description": "Sample demo data flow to convert currencies showing usage of union, derive and conditional split transformation.",
          "typeProperties": {
            "sources": [
              {
                "name": "USDCurrency",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "CurrencyDatasetUSD"
                }
              },
              {
                "name": "CADSource",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "CurrencyDatasetCAD"
                }
              }
            ],
            "scriptLines": [
              "source(output(",
              "PreviousConversionRate as double,",
              "Country as string,",
              "DateTime1 as string,",
              "CurrentConversionRate as double",
              "),",
              "allowSchemaDrift: false,",
              "validateSchema: false) ~\u003E USDCurrency",
              "source(output(",
              "PreviousConversionRate as double,",
              "Country as string,",
              "DateTime1 as string,",
            [...]
