{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "examplefactorytest",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest",
            "type": "Microsoft.DataFactory/factories",
            "properties": {
              "provisioningState": "Succeeded",
              "createTime": "2025-04-14T03:29:54.94152Z",
              "version": "2018-06-01"
            },
            "eTag": "\"ab00c711-0000-0100-0000-67fc81330000\"",
            "location": "eastus",
            "tags": {}
          }
        ]
      }
    }
  ],
  "Variables": {}
}
