{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/deleteDataFlowDebugSession?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sessionId": "5f097c58-0514-4626-ad66-63acbf982f58"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "800"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
