{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "examplefactorytest",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest",
            "type": "Microsoft.DataFactory/factories",
            "properties": {
              "provisioningState": "Succeeded",
              "createTime": "2024-02-04T07:11:18.9457343Z",
              "version": "2018-06-01"
            },
            "eTag": "\u00225c0109c1-0000-0100-0000-65bf38960000\u0022",
            "location": "eastus",
            "tags": {}
          }
        ]
      }
    }
  ],
  "Variables": {}
}
