{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/pipelines/examplePipeline?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Example description",
          "activities": [
            {
              "name": "ExampleCopyActivity1",
              "type": "ExecuteWranglingDataflow",
              "typeProperties": {
                "dataFlow": {
                  "type": "DataFlowReference",
                  "referenceName": "exampleDataFlow"
                }
              }
            }
          ],
          "parameters": {
            "outputBlobNameList": {
              "type": "Array"
            }
          },
          "policy": {
            "elapsedTimeMetric": {
              "duration": "0.00:10:00"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/pipelines/examplePipeline",
        "name": "examplePipeline",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {
          "description": "Example description",
          "activities": [
            {
              "name": "ExampleCopyActivity1",
              "type": "ExecuteWranglingDataflow",
              "typeProperties": {
                "dataFlow": {
                  "type": "DataFlowReference",
                  "referenceName": "exampleDataFlow"
                }
              }
            }
          ],
          "parameters": {
            "outputBlobNameList": {
              "type": "Array"
            }
          },
          "policy": {
            "elapsedTimeMetric": {
              "duration": "0.00:10:00"
            }
          }
        },
        "etag": "380f113f-0000-0100-0000-658e2dc80000"
      }
    }
  ],
  "Variables": {}
}
