{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/speechtotext/transcriptions:transcribe?api-version=2025-10-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=ad614eda871392b6b0d2d6b538135913",
        "Ocp-Apim-Subscription-Key": "fake-api-key"
      },
      "RequestBody": [
        "--ad614eda871392b6b0d2d6b538135913\r\n",
        "Content-Disposition: form-data; name=\"definition\"\r\n",
        "Content-Type: application/json\r\n",
        "\r\n",
        "{\"audioUrl\":\"https://fake-audio-url.blob.core.windows.net/audio/test.wav\",\"locales\":[\"en-US\"],\"profanityFilterMode\":\"None\"}",
        "\r\n",
        "--ad614eda871392b6b0d2d6b538135913--\r\n"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.SpeechServices.BatchSpeechtoTextSync=3",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "durationMilliseconds": 2029,
        "combinedPhrases": [
          {
            "text": "What's the weather like?"
          }
        ],
        "phrases": [
          {
            "offsetMilliseconds": 40,
            "durationMilliseconds": 1240,
            "text": "What's the weather like?",
            "words": [
              {
                "text": "What's",
                "offsetMilliseconds": 40,
                "durationMilliseconds": 360
              },
              {
                "text": "the",
                "offsetMilliseconds": 400,
                "durationMilliseconds": 160
              },
              {
                "text": "weather",
                "offsetMilliseconds": 560,
                "durationMilliseconds": 320
              },
              {
                "text": "like?",
                "offsetMilliseconds": 880,
                "durationMilliseconds": 400
              }
            ],
            "locale": "en-US",
            "confidence": 0.9874653
          }
        ]
      }
    }
  ],
  "Variables": {}
}
