{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A82134?api-version=2023-11-01&label=listConfigSettingsLabel19847",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting1A82134",
        "label": "listConfigSettingsLabel19847",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vHp5lu1LnJDdtBDFLi8nK_NjEbNfNZ9pGEdbQG_Ttas\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3Nzc=;sn=75061777",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:46 GMT"
      },
      "ResponseBody": {
        "etag": "vHp5lu1LnJDdtBDFLi8nK_NjEbNfNZ9pGEdbQG_Ttas",
        "key": "listConfigSetting1A82134",
        "label": "listConfigSettingsLabel19847",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting1A82134?api-version=2023-11-01&label=listConfigSettingsLabel19847",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3Nzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xu7uA605w3naZKwl_AXpakJ18v_zpm7TR84r5FcVBRY\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3Nzg=;sn=75061778",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:46 GMT"
      },
      "ResponseBody": {
        "etag": "xu7uA605w3naZKwl_AXpakJ18v_zpm7TR84r5FcVBRY",
        "key": "listConfigSetting1A82134",
        "label": "listConfigSettingsLabel19847",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-04T18:58:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A82134?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3Nzg="
      },
      "RequestBody": {
        "key": "listConfigSetting1A82134",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-7LMQPU1PBbLPTIEe40j_gCcL_I4rBe8UmF95FxfDXg\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3ODA=;sn=75061780",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:46 GMT"
      },
      "ResponseBody": {
        "etag": "-7LMQPU1PBbLPTIEe40j_gCcL_I4rBe8UmF95FxfDXg",
        "key": "listConfigSetting1A82134",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel19847",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3ODI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"s9svMtnt1YiShUNe_5m5O24BnHdhi-ZmOJId4mVMgt8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3ODI=;sn=75061782",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:47 GMT"
      },
      "ResponseBody": {
        "etag": "s9svMtnt1YiShUNe_5m5O24BnHdhi-ZmOJId4mVMgt8",
        "items": [
          {
            "etag": "xu7uA605w3naZKwl_AXpakJ18v_zpm7TR84r5FcVBRY",
            "key": "listConfigSetting1A82134",
            "label": "listConfigSettingsLabel19847",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-11-04T18:58:46+00:00"
          },
          {
            "etag": "0RUjXkLVLLyYidmIriGawGmXuDRBRJfg-VsZ73URbcE",
            "key": "listConfigSetting1B76857",
            "label": "listConfigSettingsLabel19847",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-11-04T18:58:47+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1A82134%2ClistConfigSetting1B76857",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3ODI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"AuggJV_sa2sKPt6[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B76857?api-version=2023-11-01&label=listConfigSettingsLabel19847",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3ODc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0RUjXkLVLLyYidmIriGawGmXuDRBRJfg-VsZ73URbcE\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3ODg=;sn=75061788",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:48 GMT"
      },
      "ResponseBody": {
        "etag": "0RUjXkLVLLyYidmIriGawGmXuDRBRJfg-VsZ73URbcE",
        "key": "listConfigSetting1B76857",
        "label": "listConfigSettingsLabel19847",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:47+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A82134",
    "listConfigSetting1B": "listConfigSetting1B76857",
    "listConfigSettingsLabel": "listConfigSettingsLabel19847"
  }
}
