{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A64016?api-version=2023-11-01&label=listConfigSettingsLabel66124",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel66124",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IK73vuNJRbzDpoqvM7M3aJLFdjniYmQsrnjyniWQbQM\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTcx;sn=65174971",
        "x-ms-date": "Wed, 06 May 2026 17:09:28 GMT"
      },
      "ResponseBody": {
        "etag": "IK73vuNJRbzDpoqvM7M3aJLFdjniYmQsrnjyniWQbQM",
        "key": "listConfigSetting2A64016",
        "label": "listConfigSettingsLabel66124",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A64016?api-version=2023-11-01&label=listConfigSettingsLabel66124",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTcx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aX_DYwN-ucJWc5eCVg03lJRi8uF7XLr1s8bzCPlHe8M\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTcy;sn=65174972",
        "x-ms-date": "Wed, 06 May 2026 17:09:28 GMT"
      },
      "ResponseBody": {
        "etag": "aX_DYwN-ucJWc5eCVg03lJRi8uF7XLr1s8bzCPlHe8M",
        "key": "listConfigSetting2A64016",
        "label": "listConfigSettingsLabel66124",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-05-06T17:09:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A64016?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTcy"
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qq8zqcl0z1ruUWZj_wd4l6Zi4pr1hfYmRI5SXItSpRQ\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTc0;sn=65174974",
        "x-ms-date": "Wed, 06 May 2026 17:09:28 GMT"
      },
      "ResponseBody": {
        "etag": "qq8zqcl0z1ruUWZj_wd4l6Zi4pr1hfYmRI5SXItSpRQ",
        "key": "listConfigSetting2A64016",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel6612*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ERq3qHVENaTRJMkSMDP1GSjZSfTDLJGcBD6u5XRVSlg\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTc2;sn=65174976",
        "x-ms-date": "Wed, 06 May 2026 17:09:28 GMT"
      },
      "ResponseBody": {
        "etag": "ERq3qHVENaTRJMkSMDP1GSjZSfTDLJGcBD6u5XRVSlg",
        "items": [
          {
            "etag": "aX_DYwN-ucJWc5eCVg03lJRi8uF7XLr1s8bzCPlHe8M",
            "key": "listConfigSetting2A64016",
            "label": "listConfigSettingsLabel66124",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-05-06T17:09:28+00:00"
          },
          {
            "etag": "pR4wkRmJTYXhZoeWpJbsly8F5txFWnx8ois2Sa1CAXI",
            "key": "listConfigSetting2B46835",
            "label": "listConfigSettingsLabel66124",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2026-05-06T17:09:28+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A64016,listConfigSetting2B46835",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ycZcLh46fXLVyw2SxqFgo[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B46835?api-version=2023-11-01&label=listConfigSettingsLabel66124",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTgx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pR4wkRmJTYXhZoeWpJbsly8F5txFWnx8ois2Sa1CAXI\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTgy;sn=65174982",
        "x-ms-date": "Wed, 06 May 2026 17:09:28 GMT"
      },
      "ResponseBody": {
        "etag": "pR4wkRmJTYXhZoeWpJbsly8F5txFWnx8ois2Sa1CAXI",
        "key": "listConfigSetting2B46835",
        "label": "listConfigSettingsLabel66124",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:28+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A64016",
    "listConfigSetting2B": "listConfigSetting2B46835",
    "listConfigSettingsLabel": "listConfigSettingsLabel66124"
  }
}
