{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A46850?api-version=2023-11-01&label=listConfigSettingsLabel69408",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting4A46850",
        "label": "listConfigSettingsLabel69408",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AAz_-pOXbDsZZes4s_l9ueyJSXf4SIV9XFEJItdsyY4\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2OTk=;sn=74013699"
      },
      "ResponseBody": {
        "etag": "AAz_-pOXbDsZZes4s_l9ueyJSXf4SIV9XFEJItdsyY4",
        "key": "listConfigSetting4A46850",
        "label": "listConfigSettingsLabel69408",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting4A46850?api-version=2023-11-01&label=listConfigSettingsLabel69408",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2OTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MALwVWft0KKpLCmw9nQ7gBgFHQKuKJDRuQJ5F7rUyxk\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM3MDA=;sn=74013700"
      },
      "ResponseBody": {
        "etag": "MALwVWft0KKpLCmw9nQ7gBgFHQKuKJDRuQJ5F7rUyxk",
        "key": "listConfigSetting4A46850",
        "label": "listConfigSettingsLabel69408",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-25T08:46:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A46850?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM3MDA="
      },
      "RequestBody": {
        "key": "listConfigSetting4A46850",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iuQLdtSR81bDcX4QxZfwstfGeEhahZLPOeeeaVHV75g\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM3MDI=;sn=74013702"
      },
      "ResponseBody": {
        "etag": "iuQLdtSR81bDcX4QxZfwstfGeEhahZLPOeeeaVHV75g",
        "key": "listConfigSetting4A46850",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSettingC?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM3MDQ="
      },
      "RequestBody": {
        "key": "listConfigSettingC",
        "value": "[C] production value",
        "tags": {
          "production": "C",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Xae9LaGLwMcz9QDaI6hxP5dqN7SwjZFbYOoez0sAJBY\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM3MDU=;sn=74013705"
      },
      "ResponseBody": {
        "etag": "Xae9LaGLwMcz9QDaI6hxP5dqN7SwjZFbYOoez0sAJBY",
        "key": "listConfigSettingC",
        "label": null,
        "content_type": null,
        "value": "[C] production value",
        "tags": {
          "production": "C",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&tags=production%3DC",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM3MDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"08PyDNCevDvpVESEwMKh2Hg42W0gkwd7WVX7O-0llGs\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM3MDY=;sn=74013706"
      },
      "ResponseBody": {
        "etag": "08PyDNCevDvpVESEwMKh2Hg42W0gkwd7WVX7O-0llGs",
        "items": [
          {
            "etag": "Xae9LaGLwMcz9QDaI6hxP5dqN7SwjZFbYOoez0sAJBY",
            "key": "listConfigSettingC",
            "label": null,
            "content_type": null,
            "value": "[C] production value",
            "tags": {
              "production": "C",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-25T08:46:36+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSettingC",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM3MDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"08PyDNCevDvpVESEwMKh2Hg42W0gkwd7WVX7O-0llGs\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM3MDY=;sn=74013706"
      },
      "ResponseBody": {
        "etag": "08PyDNCevDvpVESEwMKh2Hg42W0gkwd7WVX7O-0llGs",
        "items": [
          {
            "etag": "Xae9LaGLwMcz9QDaI6hxP5dqN7SwjZFbYOoez0sAJBY",
            "key": "listConfigSettingC",
            "label": null,
            "content_type": null,
            "value": "[C] production value",
            "tags": {
              "production": "C",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-25T08:46:36+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting4A46850%2ClistConfigSetting4B63636",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM3MDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"dmhhqA2jKV9wAMJ[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4B63636?api-version=2023-11-01&label=listConfigSettingsLabel69408",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM3MTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Xuxv6pn-EAUn4vUgED2qkxw7WEGTsVQ7BWJPIh0o7P8\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM3MTM=;sn=74013713"
      },
      "ResponseBody": {
        "etag": "Xuxv6pn-EAUn4vUgED2qkxw7WEGTsVQ7BWJPIh0o7P8",
        "key": "listConfigSetting4B63636",
        "label": "listConfigSettingsLabel69408",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:36+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting4A": "listConfigSetting4A46850",
    "listConfigSetting4B": "listConfigSetting4B63636",
    "listConfigSettingsLabel": "listConfigSettingsLabel69408"
  }
}
