{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A57691?api-version=2023-11-01&label=listConfigSettingsLabel89450",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting3A57691",
        "label": "listConfigSettingsLabel89450",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kOZb5Zn5__ckAp1kKblIc4-C-D1IBJsCcx_60uK_J24\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:29 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5OTg=;sn=75080998",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:29 GMT"
      },
      "ResponseBody": {
        "etag": "kOZb5Zn5__ckAp1kKblIc4-C-D1IBJsCcx_60uK_J24",
        "key": "listConfigSetting3A57691",
        "label": "listConfigSettingsLabel89450",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting3A57691?api-version=2023-11-01&label=listConfigSettingsLabel89450",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5OTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Slk2My_uBITqdOgeheAS7bAzvj-sah58cyN7Ygjh9SA\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:29 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5OTk=;sn=75080999",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:29 GMT"
      },
      "ResponseBody": {
        "etag": "Slk2My_uBITqdOgeheAS7bAzvj-sah58cyN7Ygjh9SA",
        "key": "listConfigSetting3A57691",
        "label": "listConfigSettingsLabel89450",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-05T07:24:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A57691?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5OTk="
      },
      "RequestBody": {
        "key": "listConfigSetting3A57691",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B6yS16sk_UU_5GEaZmoHTKUvbVb1IDU1kSUaoBGQTEQ\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwMDE=;sn=75081001",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:30 GMT"
      },
      "ResponseBody": {
        "etag": "B6yS16sk_UU_5GEaZmoHTKUvbVb1IDU1kSUaoBGQTEQ",
        "key": "listConfigSetting3A57691",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:30+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A57691",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwMDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iHaaC91LYt3xLy3naSbXAZDi0p0PB7pS50qsezBZrwI\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwMDQ=;sn=75081004",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:30 GMT"
      },
      "ResponseBody": {
        "etag": "iHaaC91LYt3xLy3naSbXAZDi0p0PB7pS50qsezBZrwI",
        "items": [
          {
            "etag": "B6yS16sk_UU_5GEaZmoHTKUvbVb1IDU1kSUaoBGQTEQ",
            "key": "listConfigSetting3A57691",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-11-05T07:24:30+00:00"
          },
          {
            "etag": "Slk2My_uBITqdOgeheAS7bAzvj-sah58cyN7Ygjh9SA",
            "key": "listConfigSetting3A57691",
            "label": "listConfigSettingsLabel89450",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-11-05T07:24:29+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A57691%2ClistConfigSetting3B78771",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwMDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bv3mEPhVq10Kd6e[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3B78771?api-version=2023-11-01&label=listConfigSettingsLabel89450",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwMDk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Xfw0uVnP9eodKyBAY4XjSKM3EOM4qbLiBYWvqoAsHew\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwMTA=;sn=75081010",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:31 GMT"
      },
      "ResponseBody": {
        "etag": "Xfw0uVnP9eodKyBAY4XjSKM3EOM4qbLiBYWvqoAsHew",
        "key": "listConfigSetting3B78771",
        "label": "listConfigSettingsLabel89450",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:30+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A57691",
    "listConfigSetting3B": "listConfigSetting3B78771",
    "listConfigSettingsLabel": "listConfigSettingsLabel89450"
  }
}
