{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A66138?api-version=2023-11-01&label=listConfigSettingsLabel90240",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting7A66138",
        "label": "listConfigSettingsLabel90240",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ipuALexlqgDsxh83b6OoMXuoEXAkds9ESHq0dA3bmuI\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:20 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTI4;sn=5745128"
      },
      "ResponseBody": {
        "etag": "ipuALexlqgDsxh83b6OoMXuoEXAkds9ESHq0dA3bmuI",
        "key": "listConfigSetting7A66138",
        "label": "listConfigSettingsLabel90240",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A66138?api-version=2023-11-01&label=listConfigSettingsLabel90240",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTI4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E0IBEHHbZ7FTphQkplMt_UMOaOPzy0L83o6rkTb63l8\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:20 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTI5;sn=5745129"
      },
      "ResponseBody": {
        "etag": "E0IBEHHbZ7FTphQkplMt_UMOaOPzy0L83o6rkTb63l8",
        "key": "listConfigSetting7A66138",
        "label": "listConfigSettingsLabel90240",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-19T17:59:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A66138?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTI5"
      },
      "RequestBody": {
        "key": "listConfigSetting7A66138",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gXxGDP5C2baiIgZtCXV9MWLPaH040jLF1Z3R9P2nUbI\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:21 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTMx;sn=5745131"
      },
      "ResponseBody": {
        "etag": "gXxGDP5C2baiIgZtCXV9MWLPaH040jLF1Z3R9P2nUbI",
        "key": "listConfigSetting7A66138",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2024-07-19T17:59:21.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4GS5KZjaZVGS-8iRp51EoYx_SBMQo6rPCVx8Oa25Rt0\"",
        "Link": "</kv?api-version=2023-11-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Fri, 19 Jul 2024 17:59:21 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTMz;sn=5745133"
      },
      "ResponseBody": {
        "etag": "4GS5KZjaZVGS-8iRp51EoYx_SBMQo6rPCVx8Oa25Rt0",
        "items": [
          {
            "etag": "gXxGDP5C2baiIgZtCXV9MWLPaH040jLF1Z3R9P2nUbI",
            "key": "listConfigSetting7A66138",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2024-07-19T17:59:21+00:00"
          },
          {
            "etag": "E0IBEHHbZ7FTphQkplMt_UMOaOPzy0L83o6rkTb63l8",
 [...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting7A66138%2ClistConfigSetting7B32474",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4GS5KZjaZVGS-8iRp51[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B32474?api-version=2023-11-01&label=listConfigSettingsLabel90240",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"P0vi-T_UmlgJA_eylL0_8iv5Rqe7EwWJ58qPsReHwwo\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:21 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTM5;sn=5745139"
      },
      "ResponseBody": {
        "etag": "P0vi-T_UmlgJA_eylL0_8iv5Rqe7EwWJ58qPsReHwwo",
        "key": "listConfigSetting7B32474",
        "label": "listConfigSettingsLabel90240",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:21+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A66138",
    "listConfigSetting7B": "listConfigSetting7B32474",
    "listConfigSettingsLabel": "listConfigSettingsLabel90240"
  }
}
