{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A27653?api-version=2023-11-01&label=listConfigSettingsLabel65278",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting6A27653",
        "label": "listConfigSettingsLabel65278",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kx3HxpcKKb1rJQggxm9Y2NncN2WkNXqbATPqGvhdJw0\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTE2;sn=5745116"
      },
      "ResponseBody": {
        "etag": "Kx3HxpcKKb1rJQggxm9Y2NncN2WkNXqbATPqGvhdJw0",
        "key": "listConfigSetting6A27653",
        "label": "listConfigSettingsLabel65278",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting6A27653?api-version=2023-11-01&label=listConfigSettingsLabel65278",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NjErvCjmgIBmc80gfn6zfc7aHC4xGeM4WoKNCGtuGns\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTE3;sn=5745117"
      },
      "ResponseBody": {
        "etag": "NjErvCjmgIBmc80gfn6zfc7aHC4xGeM4WoKNCGtuGns",
        "key": "listConfigSetting6A27653",
        "label": "listConfigSettingsLabel65278",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-19T17:59:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A27653?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTE3"
      },
      "RequestBody": {
        "key": "listConfigSetting6A27653",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PVgYyrim5OF9a28EvQqF07Y1lAOMQjPHqqHVJE535xQ\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTE5;sn=5745119"
      },
      "ResponseBody": {
        "etag": "PVgYyrim5OF9a28EvQqF07Y1lAOMQjPHqqHVJE535xQ",
        "key": "listConfigSetting6A27653",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting6A27653&label=listConfigSettingsLabel65278&$Select=locked,content_type,last_modified,label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTIx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1x4JtQKRhSCX3i8pL2aIg5g7ByW7a7-5j2KMd7_awu8\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTIx;sn=5745121"
      },
      "ResponseBody": {
        "etag": "1x4JtQKRhSCX3i8pL2aIg5g7ByW7a7-5j2KMd7_awu8",
        "items": [
          {
            "label": "listConfigSettingsLabel65278",
            "content_type": "a content type",
            "locked": true,
            "last_modified": "2024-07-19T17:59:16+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting6A27653&$Select=key,label,value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTIx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fgLxyHCwieIWTKd0PRphqCi21vQ9hFnt8XOO-2NdXnk\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTIx;sn=5745121"
      },
      "ResponseBody": {
        "etag": "fgLxyHCwieIWTKd0PRphqCi21vQ9hFnt8XOO-2NdXnk",
        "items": [
          {
            "key": "listConfigSetting6A27653",
            "label": null,
            "value": "[A] value"
          },
          {
            "key": "listConfigSetting6A27653",
            "label": "listConfigSettingsLabel65278",
            "value": "[A] production value"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting6A27653%2ClistConfigSetting6B23026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTIx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"HStuuVMzciphRCPFtGe[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6B23026?api-version=2023-11-01&label=listConfigSettingsLabel65278",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTI2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jTDLkmJUqizEzfx98HlcIswqzozw2IB3cZNJxn7S9Gs\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTI3;sn=5745127"
      },
      "ResponseBody": {
        "etag": "jTDLkmJUqizEzfx98HlcIswqzozw2IB3cZNJxn7S9Gs",
        "key": "listConfigSetting6B23026",
        "label": "listConfigSettingsLabel65278",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:16+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting6A": "listConfigSetting6A27653",
    "listConfigSetting6B": "listConfigSetting6B23026",
    "listConfigSettingsLabel": "listConfigSettingsLabel65278"
  }
}
