{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A12920?api-version=2026-04-01&label=listConfigSettingsLabel14427",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel14427",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MgxtDQ2sVr_i9Dd-MdZZwnMvaEZyjrobJ9kaNFazilU\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:33 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjA0MQ==;sn=53126041",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "MgxtDQ2sVr_i9Dd-MdZZwnMvaEZyjrobJ9kaNFazilU",
        "key": "listConfigSetting2A12920",
        "label": "listConfigSettingsLabel14427",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A12920?api-version=2026-04-01&label=listConfigSettingsLabel14427",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjA0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_6jxnEOzUKPkMbj5alrNE1OVQu3YePneruSnYMIuT6Y\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:33 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjA0Mg==;sn=53126042",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "_6jxnEOzUKPkMbj5alrNE1OVQu3YePneruSnYMIuT6Y",
        "key": "listConfigSetting2A12920",
        "label": "listConfigSettingsLabel14427",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-06-09T23:32:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A12920?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjA0Mg=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zO1XMUSJSVCORfEiiM6GYxzFvfh1iMgvFpBGRUGpi8A\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:33 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjA0NA==;sn=53126044",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "zO1XMUSJSVCORfEiiM6GYxzFvfh1iMgvFpBGRUGpi8A",
        "key": "listConfigSetting2A12920",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:33+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&label=listConfigSettingsLabel1442*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjA0Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"J1uWPGIeJY2z4Mj8ZdpcbVUVbTDt8j07UepFXBYViK4\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjA0Ng==;sn=53126046",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "J1uWPGIeJY2z4Mj8ZdpcbVUVbTDt8j07UepFXBYViK4",
        "items": [
          {
            "etag": "_6jxnEOzUKPkMbj5alrNE1OVQu3YePneruSnYMIuT6Y",
            "key": "listConfigSetting2A12920",
            "label": "listConfigSettingsLabel14427",
            "content_type": "a content type",
            "value": "[A] production value",
            "description": null,
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-06-09T23:32:33+00:00"
          },
          {
            "etag": "msMGhjMFcXkw7fQxw810uUzFM974OjQ71K129ZTN4Fo",
            "key": "listConfigSetting2B27148",
            "label": "listConfigSettingsLabel14427",
            "content_type": null,
            "value": "[B] production value",
            "description": null,
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2026-06-09T23:32:33+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=listConfigSetting2A12920,listConfigSetting2B27148",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjA0Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"M2KttWS7AD-vMg4ah[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B27148?api-version=2026-04-01&label=listConfigSettingsLabel14427",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjA1MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"msMGhjMFcXkw7fQxw810uUzFM974OjQ71K129ZTN4Fo\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:33 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjA1Mg==;sn=53126052",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "msMGhjMFcXkw7fQxw810uUzFM974OjQ71K129ZTN4Fo",
        "key": "listConfigSetting2B27148",
        "label": "listConfigSettingsLabel14427",
        "content_type": null,
        "value": "[B] production value",
        "description": null,
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:33+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A12920",
    "listConfigSetting2B": "listConfigSetting2B27148",
    "listConfigSettingsLabel": "listConfigSettingsLabel14427"
  }
}
