{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A751?api-version=2026-04-01&label=listConfigSettingsLabel83202",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel83202",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z9yN-mn5AQTyq4Ns3wqEVQuzbuFP_Vyky83Sw-rWHI8\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjU0OA==;sn=53126548",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:02 GMT"
      },
      "ResponseBody": {
        "etag": "Z9yN-mn5AQTyq4Ns3wqEVQuzbuFP_Vyky83Sw-rWHI8",
        "key": "listConfigSetting9A751",
        "label": "listConfigSettingsLabel83202",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:33:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting9A751?api-version=2026-04-01&label=listConfigSettingsLabel83202",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjU0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"20oNxuekKrrzZ3w1n6KVf9OXyLY0pShZ5v5wRQMiQ3I\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjU0OQ==;sn=53126549",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:02 GMT"
      },
      "ResponseBody": {
        "etag": "20oNxuekKrrzZ3w1n6KVf9OXyLY0pShZ5v5wRQMiQ3I",
        "key": "listConfigSetting9A751",
        "label": "listConfigSettingsLabel83202",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-06-09T23:33:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A751?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjU0OQ=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1dtePMB0ogq23nIi7SsKSgeBRlzETY_KQ2ZJ29ZkoAg\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjU1MQ==;sn=53126551",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:02 GMT"
      },
      "ResponseBody": {
        "etag": "1dtePMB0ogq23nIi7SsKSgeBRlzETY_KQ2ZJ29ZkoAg",
        "key": "listConfigSetting9A751",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:33:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9B15498?api-version=2026-04-01&label=listConfigSettingsLabel83202",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjU1MQ=="
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel83202",
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UJKB8RiWqaRqM26lGXTb2J0Lt4CGjR8wn_2ZW4q6CoU\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjU1Mg==;sn=53126552",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:02 GMT"
      },
      "ResponseBody": {
        "etag": "UJKB8RiWqaRqM26lGXTb2J0Lt4CGjR8wn_2ZW4q6CoU",
        "key": "listConfigSetting9B15498",
        "label": "listConfigSettingsLabel83202",
        "content_type": null,
        "value": "[B] production value",
        "description": null,
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:33:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9B15498?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjU1Mg=="
      },
      "RequestBody": {
        "value": "[B] value",
        "tags": {
          "production": "B",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1Nl8SEU-FqccWAerkRjNFE2e-ovBbc6mFz-XDZoiP4U\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjU1Mw==;sn=53126553",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:02 GMT"
      },
      "ResponseBody": {
        "etag": "1Nl8SEU-FqccWAerkRjNFE2e-ovBbc6mFz-XDZoiP4U",
        "key": "listConfigSetting9B15498",
        "label": null,
        "content_type": null,
        "value": "[B] value",
        "description": null,
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:33:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults237?api-version=2026-04-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjU1Mw=="
      },
      "RequestBody": {
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fysGgAc-06wDewGBCTNaMG4xjjSokVoeCOhlcMDZSBo\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjU1NA==;sn=53126554",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:02 GMT"
      },
      "ResponseBody": {
        "etag": "fysGgAc-06wDewGBCTNaMG4xjjSokVoeCOhlcMDZSBo",
        "key": "listMultiplePagesOfResults237",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:33:02+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults237?api-version=2026-04-01&label=54",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjYwNg=="
      },
      "RequestBody": {
        "label": "54",
        "value": "the value for 54"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjYwNg==;sn=53126606",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:03 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=listMultiplePagesOfResults237",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjc1Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zQTO6RtvnhhpxphN7sFEeFYSz-3fwpP36F3kuDYvZY8\"",
        "Link": "</kv?api-version=2026-04-01&key=listMultiplePagesOfResults237&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMyMzcKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjc1Mw==;sn=53126753",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:08 GMT"
      },
      "ResponseBody": {
        "etag": "zQTO6RtvnhhpxphN7sFEeFYSz-3fwpP36F3kuDYvZY8",
        "items": [
          {
            "etag": "fysGgAc-06wDewGBCTNaMG4xjjSokVoeCOhlcMDZSBo",
            "key": "listMultiplePagesOfResults237",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:33:02+00:00"
          },
          {
            "etag": "MqYGa7gYI0g7n1kNJn3DU_TN5kgRnlXf5pWvI7nW45I",
            "key": "listMultipl[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMyMzcKMTg4&api-version=2026-04-01&key=listMultiplePagesOfResults237",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjc1Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMyMzcKOTk=&api-version=2026-04-01&key=listMultiplePagesOfResults237",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjc1Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjc1Mw==;sn=53126753",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:08 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMyMzcKNTM=&api-version=2026-04-01&key=listMultiplePagesOfResults237",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjgwMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
[...]
