{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A72209?api-version=2023-11-01&label=listConfigSettingsLabel38205",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting1A72209",
        "label": "listConfigSettingsLabel38205",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IfYoC1wxSyvwhHSWwoZhhpaSO0oPb0246xlwBwlTBT0\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5NzQ=;sn=75080974",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:20 GMT"
      },
      "ResponseBody": {
        "etag": "IfYoC1wxSyvwhHSWwoZhhpaSO0oPb0246xlwBwlTBT0",
        "key": "listConfigSetting1A72209",
        "label": "listConfigSettingsLabel38205",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting1A72209?api-version=2023-11-01&label=listConfigSettingsLabel38205",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5NzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VQHYIJB4mluR8ndoEqMLZXWfDwspStYutVZMWHezf_U\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5NzU=;sn=75080975",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:20 GMT"
      },
      "ResponseBody": {
        "etag": "VQHYIJB4mluR8ndoEqMLZXWfDwspStYutVZMWHezf_U",
        "key": "listConfigSetting1A72209",
        "label": "listConfigSettingsLabel38205",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-05T07:24:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A72209?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5NzU="
      },
      "RequestBody": {
        "key": "listConfigSetting1A72209",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5X8TMXCXSHrcfYkUFRpReOYQZND9cs53CBIdcJFna4A\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5Nzc=;sn=75080977",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:21 GMT"
      },
      "ResponseBody": {
        "etag": "5X8TMXCXSHrcfYkUFRpReOYQZND9cs53CBIdcJFna4A",
        "key": "listConfigSetting1A72209",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel38205",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5Nzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"20-1-O01zXQ9thmEnTP8Zatx6OFd6pD-bBDP3XR8Eas\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5Nzk=;sn=75080979",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:21 GMT"
      },
      "ResponseBody": {
        "etag": "20-1-O01zXQ9thmEnTP8Zatx6OFd6pD-bBDP3XR8Eas",
        "items": [
          {
            "etag": "VQHYIJB4mluR8ndoEqMLZXWfDwspStYutVZMWHezf_U",
            "key": "listConfigSetting1A72209",
            "label": "listConfigSettingsLabel38205",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-11-05T07:24:20+00:00"
          },
          {
            "etag": "-9eMx-xCK0ezHV2zCyNMQ4nm8LVVR3ajmLd1Bu3PIks",
            "key": "listConfigSetting1B92241",
            "label": "listConfigSettingsLabel38205",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-11-05T07:24:21+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1A72209%2ClistConfigSetting1B92241",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5Nzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"RR-1o5jB_l40mbp[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B92241?api-version=2023-11-01&label=listConfigSettingsLabel38205",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5ODQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-9eMx-xCK0ezHV2zCyNMQ4nm8LVVR3ajmLd1Bu3PIks\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5ODU=;sn=75080985",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:22 GMT"
      },
      "ResponseBody": {
        "etag": "-9eMx-xCK0ezHV2zCyNMQ4nm8LVVR3ajmLd1Bu3PIks",
        "key": "listConfigSetting1B92241",
        "label": "listConfigSettingsLabel38205",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:21+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A72209",
    "listConfigSetting1B": "listConfigSetting1B92241",
    "listConfigSettingsLabel": "listConfigSettingsLabel38205"
  }
}
