{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A95898?api-version=2023-11-01&label=listConfigSettingsLabel69246",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel69246",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nzEWyLQQjTC_5df1I911J8PIUsySpUviFxqSTwTGDe0\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTk4;sn=65174998",
        "x-ms-date": "Wed, 06 May 2026 17:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "nzEWyLQQjTC_5df1I911J8PIUsySpUviFxqSTwTGDe0",
        "key": "listConfigSetting4A95898",
        "label": "listConfigSettingsLabel69246",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting4A95898?api-version=2023-11-01&label=listConfigSettingsLabel69246",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTk4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e_1egUuaPealuJv4gcxEiYTHLPYFMpPYo-dMT05nURY\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTk5;sn=65174999",
        "x-ms-date": "Wed, 06 May 2026 17:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "e_1egUuaPealuJv4gcxEiYTHLPYFMpPYo-dMT05nURY",
        "key": "listConfigSetting4A95898",
        "label": "listConfigSettingsLabel69246",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-05-06T17:09:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A95898?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTk5"
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g6DphC8NT8qUitVTpyV8HqJFyofpGmHnNMNE8FVB-sY\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDAx;sn=65175001",
        "x-ms-date": "Wed, 06 May 2026 17:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "g6DphC8NT8qUitVTpyV8HqJFyofpGmHnNMNE8FVB-sY",
        "key": "listConfigSetting4A95898",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:31+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSettingC?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDAz"
      },
      "RequestBody": {
        "value": "[C] production value",
        "tags": {
          "production": "C",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IPgTA7JSCLpUjsc1i1uS1F2hwIr_Whf30PMNVNgC3GA\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDA0;sn=65175004",
        "x-ms-date": "Wed, 06 May 2026 17:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "IPgTA7JSCLpUjsc1i1uS1F2hwIr_Whf30PMNVNgC3GA",
        "key": "listConfigSettingC",
        "label": null,
        "content_type": null,
        "value": "[C] production value",
        "tags": {
          "production": "C",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&tags=production%3DC",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jaTL1M8n1vsXob5MeXZ87XoRcK32pREWZ_Z_ugJITaY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDA0;sn=65175004",
        "x-ms-date": "Wed, 06 May 2026 17:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "jaTL1M8n1vsXob5MeXZ87XoRcK32pREWZ_Z_ugJITaY",
        "items": [
          {
            "etag": "IPgTA7JSCLpUjsc1i1uS1F2hwIr_Whf30PMNVNgC3GA",
            "key": "listConfigSettingC",
            "label": null,
            "content_type": null,
            "value": "[C] production value",
            "tags": {
              "production": "C",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-05-06T17:09:31+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSettingC",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jaTL1M8n1vsXob5MeXZ87XoRcK32pREWZ_Z_ugJITaY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDA0;sn=65175004",
        "x-ms-date": "Wed, 06 May 2026 17:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "jaTL1M8n1vsXob5MeXZ87XoRcK32pREWZ_Z_ugJITaY",
        "items": [
          {
            "etag": "IPgTA7JSCLpUjsc1i1uS1F2hwIr_Whf30PMNVNgC3GA",
            "key": "listConfigSettingC",
            "label": null,
            "content_type": null,
            "value": "[C] production value",
            "tags": {
              "production": "C",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-05-06T17:09:31+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting4A95898,listConfigSetting4B18929",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDA1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3dpN7pmhRIfYaGzeGnQgr[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4B18929?api-version=2023-11-01&label=listConfigSettingsLabel69246",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDEw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gmhZbpVI1kr3WxMXeB1Ib-x59Z3jEGU6BUceQ3Ay9RM\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDEx;sn=65175011",
        "x-ms-date": "Wed, 06 May 2026 17:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "gmhZbpVI1kr3WxMXeB1Ib-x59Z3jEGU6BUceQ3Ay9RM",
        "key": "listConfigSetting4B18929",
        "label": "listConfigSettingsLabel69246",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:31+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting4A": "listConfigSetting4A95898",
    "listConfigSetting4B": "listConfigSetting4B18929",
    "listConfigSettingsLabel": "listConfigSettingsLabel69246"
  }
}
