{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A71771?api-version=2023-11-01&label=listConfigSettingsLabel76854",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting9A71771",
        "label": "listConfigSettingsLabel76854",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cvFJ4u5CiP5BdY-3Vdu8BTnOyDLqbHBD3ePCjBlu95A\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:20:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzM3Njk=;sn=74773769",
        "x-ms-date": "Thu, 23 Oct 2025 05:20:23 GMT"
      },
      "ResponseBody": {
        "etag": "cvFJ4u5CiP5BdY-3Vdu8BTnOyDLqbHBD3ePCjBlu95A",
        "key": "listConfigSetting9A71771",
        "label": "listConfigSettingsLabel76854",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:20:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting9A71771?api-version=2023-11-01&label=listConfigSettingsLabel76854",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzM3Njk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uM5SqJ-H2_UT-21AG1FA2N4VRnJt8hSk14wd0hHy9z4\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:20:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzM3NzA=;sn=74773770",
        "x-ms-date": "Thu, 23 Oct 2025 05:20:23 GMT"
      },
      "ResponseBody": {
        "etag": "uM5SqJ-H2_UT-21AG1FA2N4VRnJt8hSk14wd0hHy9z4",
        "key": "listConfigSetting9A71771",
        "label": "listConfigSettingsLabel76854",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-23T05:20:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A71771?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzM3NzA="
      },
      "RequestBody": {
        "key": "listConfigSetting9A71771",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-gkM30WANshjSVlKA08wMyji40vcXID59IWw4_mRB5I\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:20:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzM3NzI=;sn=74773772",
        "x-ms-date": "Thu, 23 Oct 2025 05:20:23 GMT"
      },
      "ResponseBody": {
        "etag": "-gkM30WANshjSVlKA08wMyji40vcXID59IWw4_mRB5I",
        "key": "listConfigSetting9A71771",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:20:23+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults615?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzM3NzQ="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults615",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-9DU4j9mZMa8hLGU1VF1c5IHrOg2wIetHMq8TysqLRY\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:20:24 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzM3NzY=;sn=74773776",
        "x-ms-date": "Thu, 23 Oct 2025 05:20:24 GMT"
      },
      "ResponseBody": {
        "etag": "-9DU4j9mZMa8hLGU1VF1c5IHrOg2wIetHMq8TysqLRY",
        "key": "listMultiplePagesOfResults615",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:20:24+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults615",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzM5OTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FB4rQWSs-OuHJm6lWpAEdpJJahXNXuTKUyufebBnCHo\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults615&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2MTUKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzM5OTM=;sn=74773993",
        "x-ms-date": "Thu, 23 Oct 2025 05:20:42 GMT"
      },
      "ResponseBody": {
        "etag": "FB4rQWSs-OuHJm6lWpAEdpJJahXNXuTKUyufebBnCHo",
        "items": [
          {
            "etag": "-9DU4j9mZMa8hLGU1VF1c5IHrOg2wIetHMq8TysqLRY",
            "key": "listMultiplePagesOfResults615",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:20:24+00:00"
          },
          {
            "etag": "TMG1Twl9GH2RbTKOI4W0vemQllvLM5QAG7NJoVZC5Ps",
            "key": "listMultiplePagesOfResults615",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2MTUKMTg4&api-version=2023-11-01&key=listMultiplePagesOfResults615",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzM5OTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2MTUKOTk%3D&api-version=2023-11-01&key=listMultiplePagesOfResults615",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzM5OTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzM5OTM=;sn=74773993",
        "x-ms-date": "Thu, 23 Oct 2025 05:20:42 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2MTUKNTM%3D&api-version=2023-11-01&key=listMultiplePagesOfResults615",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQwNTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io