{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A54838?api-version=2023-11-01&label=listConfigSettingsLabel51570",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting5A54838",
        "label": "listConfigSettingsLabel51570",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kKSQbTR9oPLVc9Q4N2_OuMvbgvk61xQGGHvfSw95dQo\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA0Nw==;sn=103582047",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:34 GMT"
      },
      "ResponseBody": {
        "etag": "kKSQbTR9oPLVc9Q4N2_OuMvbgvk61xQGGHvfSw95dQo",
        "key": "listConfigSetting5A54838",
        "label": "listConfigSettingsLabel51570",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting5A54838?api-version=2023-11-01&label=listConfigSettingsLabel51570",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA0Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"A7VzVEt7lsrzoD9CgkaWwTPK77ItczRFT641Yh1Tt_Q\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA0OA==;sn=103582048",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:34 GMT"
      },
      "ResponseBody": {
        "etag": "A7VzVEt7lsrzoD9CgkaWwTPK77ItczRFT641Yh1Tt_Q",
        "key": "listConfigSetting5A54838",
        "label": "listConfigSettingsLabel51570",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-23T08:47:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A54838?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA0OA=="
      },
      "RequestBody": {
        "key": "listConfigSetting5A54838",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T6D_STFaIvm7V4Up3DBufmW8ccP4924OR0nu3nJc-vU\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA1MA==;sn=103582050",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:34 GMT"
      },
      "ResponseBody": {
        "etag": "T6D_STFaIvm7V4Up3DBufmW8ccP4924OR0nu3nJc-vU",
        "key": "listConfigSetting5A54838",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:34+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A5483*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA1Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"9mutOkHDc_Aj4KCJ8kAWUFj8MjBV0hoyJEFjbnnxQdQ\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA1Mg==;sn=103582052",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:34 GMT"
      },
      "ResponseBody": {
        "etag": "9mutOkHDc_Aj4KCJ8kAWUFj8MjBV0hoyJEFjbnnxQdQ",
        "items": [
          {
            "etag": "T6D_STFaIvm7V4Up3DBufmW8ccP4924OR0nu3nJc-vU",
            "key": "listConfigSetting5A54838",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-01-23T08:47:34+00:00"
          },
          {
            "etag": "A7VzVEt7lsrzoD9CgkaWwTPK77ItczRFT641Yh1Tt_Q",
            "key": "listConfigSetting5A54838",
            "label": "listConfigSettingsLabel51570",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-01-23T08:47:34+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A54838%2ClistConfigSetting5B28643",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA1Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"AowZPaSQ5TwzzZs[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5B28643?api-version=2023-11-01&label=listConfigSettingsLabel51570",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA1Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QirPhDWTHioOSupF89FVOl2_DhWNLtdnuvLGYfS9koI\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA1OA==;sn=103582058",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:35 GMT"
      },
      "ResponseBody": {
        "etag": "QirPhDWTHioOSupF89FVOl2_DhWNLtdnuvLGYfS9koI",
        "key": "listConfigSetting5B28643",
        "label": "listConfigSettingsLabel51570",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:34+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting5A": "listConfigSetting5A54838",
    "listConfigSetting5B": "listConfigSetting5B28643",
    "listConfigSettingsLabel": "listConfigSettingsLabel51570"
  }
}
