{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A95333?api-version=2023-11-01&label=listConfigSettingsLabel99786",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel99786",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SMPxqpSaSToz_Ybb2l7MZGTxzasXMSxVB9ZjZkSMeOY\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE0MQ==;sn=115288141",
        "x-ms-date": "Thu, 28 May 2026 21:22:25 GMT"
      },
      "ResponseBody": {
        "etag": "SMPxqpSaSToz_Ybb2l7MZGTxzasXMSxVB9ZjZkSMeOY",
        "key": "listConfigSetting3A95333",
        "label": "listConfigSettingsLabel99786",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:22:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting3A95333?api-version=2023-11-01&label=listConfigSettingsLabel99786",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HZptKoE3OmG5lJWpKEZgIR9AoWPqSg7AYPCkpD6T-kc\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE0Mg==;sn=115288142",
        "x-ms-date": "Thu, 28 May 2026 21:22:25 GMT"
      },
      "ResponseBody": {
        "etag": "HZptKoE3OmG5lJWpKEZgIR9AoWPqSg7AYPCkpD6T-kc",
        "key": "listConfigSetting3A95333",
        "label": "listConfigSettingsLabel99786",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-05-28T21:22:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A95333?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE0Mg=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WqV7EzNdXzY2u_ZBM55zQjEO5Mfxi2OapteXLUpTuZs\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE0NA==;sn=115288144",
        "x-ms-date": "Thu, 28 May 2026 21:22:25 GMT"
      },
      "ResponseBody": {
        "etag": "WqV7EzNdXzY2u_ZBM55zQjEO5Mfxi2OapteXLUpTuZs",
        "key": "listConfigSetting3A95333",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:22:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A95333",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE0Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"IthrT-7M7CVdB-s7fKHoefUgKfMShwqC_7grpxBs6xA\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE0Ng==;sn=115288146",
        "x-ms-date": "Thu, 28 May 2026 21:22:25 GMT"
      },
      "ResponseBody": {
        "etag": "IthrT-7M7CVdB-s7fKHoefUgKfMShwqC_7grpxBs6xA",
        "items": [
          {
            "etag": "WqV7EzNdXzY2u_ZBM55zQjEO5Mfxi2OapteXLUpTuZs",
            "key": "listConfigSetting3A95333",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-05-28T21:22:25+00:00"
          },
          {
            "etag": "HZptKoE3OmG5lJWpKEZgIR9AoWPqSg7AYPCkpD6T-kc",
            "key": "listConfigSetting3A95333",
            "label": "listConfigSettingsLabel99786",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-05-28T21:22:25+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A95333,listConfigSetting3B6160",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE0Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"L7FjFFqsESdeDFarH_[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3B6160?api-version=2023-11-01&label=listConfigSettingsLabel99786",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE1MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BUYXojjlQm3SnyxtUQXcY8iNvuYXp0oFCbA6af93NwY\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE1Mg==;sn=115288152",
        "x-ms-date": "Thu, 28 May 2026 21:22:25 GMT"
      },
      "ResponseBody": {
        "etag": "BUYXojjlQm3SnyxtUQXcY8iNvuYXp0oFCbA6af93NwY",
        "key": "listConfigSetting3B6160",
        "label": "listConfigSettingsLabel99786",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:22:25+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A95333",
    "listConfigSetting3B": "listConfigSetting3B6160",
    "listConfigSettingsLabel": "listConfigSettingsLabel99786"
  }
}
