{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A62751?api-version=2026-04-01&label=listConfigSettingsLabel55135",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel55135",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pBdwxHQa-gb30B0m1AaBJoCRI2m8waXdZRWo0we4LBc\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:31:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2OTgxNw==;sn=53369817",
        "x-ms-date": "Mon, 15 Jun 2026 18:31:14 GMT"
      },
      "ResponseBody": {
        "etag": "pBdwxHQa-gb30B0m1AaBJoCRI2m8waXdZRWo0we4LBc",
        "key": "listConfigSetting6A62751",
        "label": "listConfigSettingsLabel55135",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:31:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting6A62751?api-version=2026-04-01&label=listConfigSettingsLabel55135",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2OTgxNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YcHBjm_v7_jj9GDI_9FApcITT8hi4HM0hhK9vmBm13M\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:31:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2OTgxOA==;sn=53369818",
        "x-ms-date": "Mon, 15 Jun 2026 18:31:14 GMT"
      },
      "ResponseBody": {
        "etag": "YcHBjm_v7_jj9GDI_9FApcITT8hi4HM0hhK9vmBm13M",
        "key": "listConfigSetting6A62751",
        "label": "listConfigSettingsLabel55135",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-06-15T18:31:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A62751?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2OTgxOA=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wBy7qUsQVZcCHjQHEpWj5TunT86OWA8_hP2IVnJKQy0\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:31:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2OTgyMA==;sn=53369820",
        "x-ms-date": "Mon, 15 Jun 2026 18:31:14 GMT"
      },
      "ResponseBody": {
        "etag": "wBy7qUsQVZcCHjQHEpWj5TunT86OWA8_hP2IVnJKQy0",
        "key": "listConfigSetting6A62751",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:31:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24select=locked,content_type,last_modified,label&api-version=2026-04-01&key=listConfigSetting6A62751&label=listConfigSettingsLabel55135",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2OTgyMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vP1KcA33drBpwT_zQz9H2qsXPQZTWETA6-SrwSrug_U\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2OTgyMg==;sn=53369822",
        "x-ms-date": "Mon, 15 Jun 2026 18:31:14 GMT"
      },
      "ResponseBody": {
        "etag": "vP1KcA33drBpwT_zQz9H2qsXPQZTWETA6-SrwSrug_U",
        "items": [
          {
            "label": "listConfigSettingsLabel55135",
            "content_type": "a content type",
            "locked": true,
            "last_modified": "2026-06-15T18:31:14+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24select=key,label,value&api-version=2026-04-01&key=listConfigSetting6A62751",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2OTgyMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bLfyCtyFpoYOEn6L0S06DJt_aa0eOuQjBy93kWTfeuc\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2OTgyMg==;sn=53369822",
        "x-ms-date": "Mon, 15 Jun 2026 18:31:14 GMT"
      },
      "ResponseBody": {
        "etag": "bLfyCtyFpoYOEn6L0S06DJt_aa0eOuQjBy93kWTfeuc",
        "items": [
          {
            "key": "listConfigSetting6A62751",
            "label": null,
            "value": "[A] value"
          },
          {
            "key": "listConfigSetting6A62751",
            "label": "listConfigSettingsLabel55135",
            "value": "[A] production value"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=listConfigSetting6A62751,listConfigSetting6B73951",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2OTgyMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"i9c-EEgH6axTSxn0e[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6B73951?api-version=2026-04-01&label=listConfigSettingsLabel55135",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2OTgyNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UitwFwidVFWS6rjJFn9Na7ZzrYCusCZ_Wa3eZpyIXI8\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:31:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2OTgyOA==;sn=53369828",
        "x-ms-date": "Mon, 15 Jun 2026 18:31:14 GMT"
      },
      "ResponseBody": {
        "etag": "UitwFwidVFWS6rjJFn9Na7ZzrYCusCZ_Wa3eZpyIXI8",
        "key": "listConfigSetting6B73951",
        "label": "listConfigSettingsLabel55135",
        "content_type": null,
        "value": "[B] production value",
        "description": null,
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:31:14+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting6A": "listConfigSetting6A62751",
    "listConfigSetting6B": "listConfigSetting6B73951",
    "listConfigSettingsLabel": "listConfigSettingsLabel55135"
  }
}
