{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A10442?api-version=2023-11-01&label=listConfigSettingsLabel32057",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting7A10442",
        "label": "listConfigSettingsLabel32057",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"acEVC3-Ib5Y4IuTDL5I9U85v1yIuF6stQRmsHaKd2RY\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:54:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5ODU=;sn=74232985"
      },
      "ResponseBody": {
        "etag": "acEVC3-Ib5Y4IuTDL5I9U85v1yIuF6stQRmsHaKd2RY",
        "key": "listConfigSetting7A10442",
        "label": "listConfigSettingsLabel32057",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:54:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A10442?api-version=2023-11-01&label=listConfigSettingsLabel32057",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5ODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b0KzTWWpvi0pAP7xTck7QTAxlK9dfrGgqZhwnb0tlVk\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:54:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5ODY=;sn=74232986"
      },
      "ResponseBody": {
        "etag": "b0KzTWWpvi0pAP7xTck7QTAxlK9dfrGgqZhwnb0tlVk",
        "key": "listConfigSetting7A10442",
        "label": "listConfigSettingsLabel32057",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-02T16:54:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A10442?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5ODY="
      },
      "RequestBody": {
        "key": "listConfigSetting7A10442",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UzJ1jb6jaE8o4sfaU_Dj2GHLjaBOMnUWeVdf1T2KJxw\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:54:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5ODg=;sn=74232988"
      },
      "ResponseBody": {
        "etag": "UzJ1jb6jaE8o4sfaU_Dj2GHLjaBOMnUWeVdf1T2KJxw",
        "key": "listConfigSetting7A10442",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:54:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B548?api-version=2023-11-01&label=listConfigSettingsLabel32057",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5ODg="
      },
      "RequestBody": {
        "key": "listConfigSetting7B548",
        "label": "listConfigSettingsLabel32057",
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V8IkEwxiW7-yiVMJakYJo65HDbtiRSdVqbOgWZ6vZxE\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:54:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5ODk=;sn=74232989"
      },
      "ResponseBody": {
        "etag": "V8IkEwxiW7-yiVMJakYJo65HDbtiRSdVqbOgWZ6vZxE",
        "key": "listConfigSetting7B548",
        "label": "listConfigSettingsLabel32057",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:54:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B548?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5ODk="
      },
      "RequestBody": {
        "key": "listConfigSetting7B548",
        "value": "[B] value",
        "tags": {
          "production": "B",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"irhZZnZWCUmehK_7MMo1J1eIi7RJ2tEUQ0rPab9FYQ8\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:54:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5OTA=;sn=74232990"
      },
      "ResponseBody": {
        "etag": "irhZZnZWCUmehK_7MMo1J1eIi7RJ2tEUQ0rPab9FYQ8",
        "key": "listConfigSetting7B548",
        "label": null,
        "content_type": null,
        "value": "[B] value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:54:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2025-10-02T16:54:01.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5OTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"25U1MQ6xTScVX1lztJ7MNsvi9ir1_uyo0DBW0XoZh_4\"",
        "Link": "</kv?api-version=2023-11-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Thu, 02 Oct 2025 16:54:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5OTA=;sn=74232990"
      },
      "ResponseBody": {
        "etag": "25U1MQ6xTScVX1lztJ7MNsvi9ir1_uyo0DBW0XoZh_4",
        "items": [
          {
            "etag": "FPMDhFKHIz4vojqnjM7XEOWEjJu9n5iW_AN6e8jZJ6g",
            "key": "listConfigSetting0A87614",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-10-02T16:53:09+00:00"
          },
          {
            "etag": "tb[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting7A10442%2ClistConfigSetting7B548",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5OTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Mct5sbcDi8R_9Khv9[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B548?api-version=2023-11-01&label=listConfigSettingsLabel32057",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5OTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V8IkEwxiW7-yiVMJakYJo65HDbtiRSdVqbOgWZ6vZxE\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:54:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5OTY=;sn=74232996"
      },
      "ResponseBody": {
        "etag": "V8IkEwxiW7-yiVMJakYJo65HDbtiRSdVqbOgWZ6vZxE",
        "key": "listConfigSetting7B548",
        "label": "listConfigSettingsLabel32057",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:54:01+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A10442",
    "listConfigSetting7B": "listConfigSetting7B548",
    "listConfigSettingsLabel": "listConfigSettingsLabel32057"
  }
}
