{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A79455?api-version=2023-11-01&label=listConfigSettingsLabel72854",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting1A79455",
        "label": "listConfigSettingsLabel72854",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YiAvgXIWAaZHUyuc0nfwBonHYnlQFmRnLQhrTMsA7gU\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NTY=;sn=74013656"
      },
      "ResponseBody": {
        "etag": "YiAvgXIWAaZHUyuc0nfwBonHYnlQFmRnLQhrTMsA7gU",
        "key": "listConfigSetting1A79455",
        "label": "listConfigSettingsLabel72854",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting1A79455?api-version=2023-11-01&label=listConfigSettingsLabel72854",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AfGrT98vwO7EcBvywYTCMGF9x_9FxyG_VHWsJtGJaMw\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:22 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NTc=;sn=74013657"
      },
      "ResponseBody": {
        "etag": "AfGrT98vwO7EcBvywYTCMGF9x_9FxyG_VHWsJtGJaMw",
        "key": "listConfigSetting1A79455",
        "label": "listConfigSettingsLabel72854",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-25T08:46:22+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A79455?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NTc="
      },
      "RequestBody": {
        "key": "listConfigSetting1A79455",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ru_kH9N5H06BXfgKP2IXrbPQAyueogrs9Juz6skrfjs\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:22 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NTk=;sn=74013659"
      },
      "ResponseBody": {
        "etag": "ru_kH9N5H06BXfgKP2IXrbPQAyueogrs9Juz6skrfjs",
        "key": "listConfigSetting1A79455",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:22+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel72854",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"XDOUNosNCyN5wD-5JpWeMCc_O1Av-CQJ6pdmbTRDlQs\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NjE=;sn=74013661"
      },
      "ResponseBody": {
        "etag": "XDOUNosNCyN5wD-5JpWeMCc_O1Av-CQJ6pdmbTRDlQs",
        "items": [
          {
            "etag": "AfGrT98vwO7EcBvywYTCMGF9x_9FxyG_VHWsJtGJaMw",
            "key": "listConfigSetting1A79455",
            "label": "listConfigSettingsLabel72854",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-09-25T08:46:22+00:00"
          },
          {
            "etag": "nEj41FxOPTKe0szsJKEteSuSGVkPt1hpvHczZXErOrs",
            "key": "listConfigSetting1B36770",
            "label": "listConfigSettingsLabel72854",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-09-25T08:46:22+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1A79455%2ClistConfigSetting1B36770",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"AHHQ8kHS1uh8wBo[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B36770?api-version=2023-11-01&label=listConfigSettingsLabel72854",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nEj41FxOPTKe0szsJKEteSuSGVkPt1hpvHczZXErOrs\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:22 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2Njc=;sn=74013667"
      },
      "ResponseBody": {
        "etag": "nEj41FxOPTKe0szsJKEteSuSGVkPt1hpvHczZXErOrs",
        "key": "listConfigSetting1B36770",
        "label": "listConfigSettingsLabel72854",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:22+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A79455",
    "listConfigSetting1B": "listConfigSetting1B36770",
    "listConfigSettingsLabel": "listConfigSettingsLabel72854"
  }
}
