{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A40002?api-version=2023-11-01&label=listConfigSettingsLabel86299",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel86299",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ziGE9YV7hpkWVWEnka58w3QT5BlXhdvA8_eO6oLAKhI\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDM2;sn=65175036",
        "x-ms-date": "Wed, 06 May 2026 17:09:36 GMT"
      },
      "ResponseBody": {
        "etag": "ziGE9YV7hpkWVWEnka58w3QT5BlXhdvA8_eO6oLAKhI",
        "key": "listConfigSetting7A40002",
        "label": "listConfigSettingsLabel86299",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A40002?api-version=2023-11-01&label=listConfigSettingsLabel86299",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDM2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_I_ARYQT_f041iQOg4jDnK7HZIeeSShuzjhVQwzD7pc\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDM3;sn=65175037",
        "x-ms-date": "Wed, 06 May 2026 17:09:36 GMT"
      },
      "ResponseBody": {
        "etag": "_I_ARYQT_f041iQOg4jDnK7HZIeeSShuzjhVQwzD7pc",
        "key": "listConfigSetting7A40002",
        "label": "listConfigSettingsLabel86299",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-05-06T17:09:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A40002?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDM3"
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wPXVhTkHLXuAWP58zujwvCgdcGISBtetgT17V4gIwpo\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDM5;sn=65175039",
        "x-ms-date": "Wed, 06 May 2026 17:09:36 GMT"
      },
      "ResponseBody": {
        "etag": "wPXVhTkHLXuAWP58zujwvCgdcGISBtetgT17V4gIwpo",
        "key": "listConfigSetting7A40002",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-05-06T17:09:36.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDQx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"OmsZcUSzYwPYBQazWsuZ1kZzr31Udaxb3Q9-pI6RqU8\"",
        "Link": "</kv?api-version=2023-11-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Wed, 06 May 2026 17:09:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDQx;sn=65175041",
        "x-ms-date": "Wed, 06 May 2026 17:09:37 GMT"
      },
      "ResponseBody": {
        "etag": "OmsZcUSzYwPYBQazWsuZ1kZzr31Udaxb3Q9-pI6RqU8",
        "items": [
          {
            "etag": "ZJZPniRUt4Z_4CMrb7Px71eXbKufv8nxQVdX7uYNqAY",
            "key": "listConfigSetting0A7753",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2026-05-06T17:09:18+00:00"
          },
          {
            "etag": "Ck8[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting7A40002,listConfigSetting7B88503",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDQx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"C7z4es-O3TsJ0BvxOz31r[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B88503?api-version=2023-11-01&label=listConfigSettingsLabel86299",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1MDQ2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6IKcK6M8ZIW-EAIfZ4lJ5vjXew17b_w4O-JA5E-rNnY\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1MDQ3;sn=65175047",
        "x-ms-date": "Wed, 06 May 2026 17:09:37 GMT"
      },
      "ResponseBody": {
        "etag": "6IKcK6M8ZIW-EAIfZ4lJ5vjXew17b_w4O-JA5E-rNnY",
        "key": "listConfigSetting7B88503",
        "label": "listConfigSettingsLabel86299",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:36+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A40002",
    "listConfigSetting7B": "listConfigSetting7B88503",
    "listConfigSettingsLabel": "listConfigSettingsLabel86299"
  }
}
