{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A1669?api-version=2023-11-01&label=listConfigSettingsLabel97006",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting8A1669",
        "label": "listConfigSettingsLabel97006",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VT8pmczsqnKXViLFeujTsr7bJntX9MOOvv-OBzYqCm8\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4ODU=;sn=73799885"
      },
      "ResponseBody": {
        "etag": "VT8pmczsqnKXViLFeujTsr7bJntX9MOOvv-OBzYqCm8",
        "key": "listConfigSetting8A1669",
        "label": "listConfigSettingsLabel97006",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:39:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting8A1669?api-version=2023-11-01&label=listConfigSettingsLabel97006",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4ODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8l7iaWyrKreAfJXhkRU8Pq4CwZMY4earYwzlQqCRc0Y\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4ODY=;sn=73799886"
      },
      "ResponseBody": {
        "etag": "8l7iaWyrKreAfJXhkRU8Pq4CwZMY4earYwzlQqCRc0Y",
        "key": "listConfigSetting8A1669",
        "label": "listConfigSettingsLabel97006",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-18T02:39:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A1669?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4ODY="
      },
      "RequestBody": {
        "key": "listConfigSetting8A1669",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JRzVEFyehncxF5I_w-NTeOaFaK2ZQ_msGa_EeCYqQXE\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4ODg=;sn=73799888"
      },
      "ResponseBody": {
        "etag": "JRzVEFyehncxF5I_w-NTeOaFaK2ZQ_msGa_EeCYqQXE",
        "key": "listConfigSetting8A1669",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:39:19+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults61?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4OTE="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults61",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Q8ltDb_OtPdqcaFNRmRoERXvrkdd69pDBzUN0MK7mAA\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4OTM=;sn=73799893"
      },
      "ResponseBody": {
        "etag": "Q8ltDb_OtPdqcaFNRmRoERXvrkdd69pDBzUN0MK7mAA",
        "key": "listMultiplePagesOfResults61",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:39:19+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults61",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDAwOTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FsyiBH0H5G-OhDCyJQvERyrsCh7JuLJ9p_rTDKmW2Sc\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults61&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2MQoxODg%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDAwOTM=;sn=73800093"
      },
      "ResponseBody": {
        "etag": "FsyiBH0H5G-OhDCyJQvERyrsCh7JuLJ9p_rTDKmW2Sc",
        "items": [
          {
            "etag": "Q8ltDb_OtPdqcaFNRmRoERXvrkdd69pDBzUN0MK7mAA",
            "key": "listMultiplePagesOfResults61",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:39:19+00:00"
          },
          {
            "etag": "6N51pW4ssYoiRDgYt9fz1h8JYASZ43QeS0GMTcbROs4",
            "key": "listMultiplePagesOfResults61",
            "l[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2MQoxODg%3D&api-version=2023-11-01&key=listMultiplePagesOfResults61",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDAwOTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
    [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2MQo5OQ%3D%3D&api-version=2023-11-01&key=listMultiplePagesOfResults61",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDAwOTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDAwOTM=;sn=73800093"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting8A1669%2ClistConfigSetting8B9922",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDAzMTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xka7y-7H9HjMDjPV4[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8B9922?api-version=2023-11-01&label=listConfigSettingsLabel97006",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDAzMTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2JcnfIDtdWJ3NpUZlUgNjoPSoiHcA5PcXbAua1WYIIQ\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDAzMjA=;sn=73800320"
      },
      "ResponseBody": {
        "etag": "2JcnfIDtdWJ3NpUZlUgNjoPSoiHcA5PcXbAua1WYIIQ",
        "key": "listConfigSetting8B9922",
        "label": "listConfigSettingsLabel97006",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:39:19+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting8A": "listConfigSetting8A1669",
    "listConfigSetting8B": "listConfigSetting8B9922",
    "listConfigSettingsLabel": "listConfigSettingsLabel97006",
    "listMultiplePagesOfResults": "listMultiplePagesOfResults61"
  }
}
