{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A13708?api-version=2023-11-01&label=listConfigSettingsLabel33316",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting6A13708",
        "label": "listConfigSettingsLabel33316",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s4oJE0aHZcbznbj_e9XdZPE8Makt855t3hotnGiRPpQ\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4NTc=;sn=73799857"
      },
      "ResponseBody": {
        "etag": "s4oJE0aHZcbznbj_e9XdZPE8Makt855t3hotnGiRPpQ",
        "key": "listConfigSetting6A13708",
        "label": "listConfigSettingsLabel33316",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting6A13708?api-version=2023-11-01&label=listConfigSettingsLabel33316",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4NTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G-rtmSyUOMmfwsxWI0iu5FZyc-cvI0YgrzS89gHvvac\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4NTg=;sn=73799858"
      },
      "ResponseBody": {
        "etag": "G-rtmSyUOMmfwsxWI0iu5FZyc-cvI0YgrzS89gHvvac",
        "key": "listConfigSetting6A13708",
        "label": "listConfigSettingsLabel33316",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-18T02:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A13708?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4NTg="
      },
      "RequestBody": {
        "key": "listConfigSetting6A13708",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G-7dq2xyF9ettuIT0z3GsuJckbOaU-r5Q2vqDLFKBSE\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4NjA=;sn=73799860"
      },
      "ResponseBody": {
        "etag": "G-7dq2xyF9ettuIT0z3GsuJckbOaU-r5Q2vqDLFKBSE",
        "key": "listConfigSetting6A13708",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:39:09+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24select=locked%2Ccontent_type%2Clast_modified%2Clabel&api-version=2023-11-01&key=listConfigSetting6A13708&label=listConfigSettingsLabel33316",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4NjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3sZeIXX1RtKQcRnbC9FnSooYjH1_1q4VuTeeaNzVwKY\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4NjI=;sn=73799862"
      },
      "ResponseBody": {
        "etag": "3sZeIXX1RtKQcRnbC9FnSooYjH1_1q4VuTeeaNzVwKY",
        "items": [
          {
            "label": "listConfigSettingsLabel33316",
            "content_type": "a content type",
            "locked": true,
            "last_modified": "2025-09-18T02:39:09+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?%24select=key%2Clabel%2Cvalue&api-version=2023-11-01&key=listConfigSetting6A13708",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4NjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"u-WS3WaWvBx_woP-6QAjKNAIJin7f5i53M3eAk594_A\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4NjI=;sn=73799862"
      },
      "ResponseBody": {
        "etag": "u-WS3WaWvBx_woP-6QAjKNAIJin7f5i53M3eAk594_A",
        "items": [
          {
            "key": "listConfigSetting6A13708",
            "label": null,
            "value": "[A] value"
          },
          {
            "key": "listConfigSetting6A13708",
            "label": "listConfigSettingsLabel33316",
            "value": "[A] production value"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting6A13708%2ClistConfigSetting6B18285",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4NjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FRu06gXWK7ISn3s[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6B18285?api-version=2023-11-01&label=listConfigSettingsLabel33316",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4Njg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fT7X-nMLiUXdTVHxvjXk_zRgiZUiJ--NQehd5AQ4I8o\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:39:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4Njk=;sn=73799869"
      },
      "ResponseBody": {
        "etag": "fT7X-nMLiUXdTVHxvjXk_zRgiZUiJ--NQehd5AQ4I8o",
        "key": "listConfigSetting6B18285",
        "label": "listConfigSettingsLabel33316",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:39:09+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting6A": "listConfigSetting6A13708",
    "listConfigSetting6B": "listConfigSetting6B18285",
    "listConfigSettingsLabel": "listConfigSettingsLabel33316"
  }
}
