{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A81069?api-version=2023-11-01&label=listConfigSettingsLabel81679",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting3A81069",
        "label": "listConfigSettingsLabel81679",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z0nj5BnRiCfi1invIVvQSAr4h3kLXnZbEbrLiEUJvNs\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAyMA==;sn=103582020",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:24 GMT"
      },
      "ResponseBody": {
        "etag": "z0nj5BnRiCfi1invIVvQSAr4h3kLXnZbEbrLiEUJvNs",
        "key": "listConfigSetting3A81069",
        "label": "listConfigSettingsLabel81679",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting3A81069?api-version=2023-11-01&label=listConfigSettingsLabel81679",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AyzczYIj9gxEXbA54KQ2NE-X7gXSXT-SwqfeEWC7jgU\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAyMQ==;sn=103582021",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:25 GMT"
      },
      "ResponseBody": {
        "etag": "AyzczYIj9gxEXbA54KQ2NE-X7gXSXT-SwqfeEWC7jgU",
        "key": "listConfigSetting3A81069",
        "label": "listConfigSettingsLabel81679",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-23T08:47:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A81069?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAyMQ=="
      },
      "RequestBody": {
        "key": "listConfigSetting3A81069",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iRpvAjXZAVD0P17fCusBOCM-MYDi0d2z9M8rodzgAZc\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAyMw==;sn=103582023",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:25 GMT"
      },
      "ResponseBody": {
        "etag": "iRpvAjXZAVD0P17fCusBOCM-MYDi0d2z9M8rodzgAZc",
        "key": "listConfigSetting3A81069",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A81069",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAyNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"TiGFKTEOai4o5IRkv0PDHagOgp0ZvKVHawrVb3q8OmQ\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAyNQ==;sn=103582025",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:25 GMT"
      },
      "ResponseBody": {
        "etag": "TiGFKTEOai4o5IRkv0PDHagOgp0ZvKVHawrVb3q8OmQ",
        "items": [
          {
            "etag": "iRpvAjXZAVD0P17fCusBOCM-MYDi0d2z9M8rodzgAZc",
            "key": "listConfigSetting3A81069",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-01-23T08:47:25+00:00"
          },
          {
            "etag": "AyzczYIj9gxEXbA54KQ2NE-X7gXSXT-SwqfeEWC7jgU",
            "key": "listConfigSetting3A81069",
            "label": "listConfigSettingsLabel81679",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-01-23T08:47:25+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A81069%2ClistConfigSetting3B66197",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAyNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NYqNoPUR8_rswm9[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3B66197?api-version=2023-11-01&label=listConfigSettingsLabel81679",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAzMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BUKfeQsocJh87rqE3M6Flf4fsARUVKo57Lfahs6UioM\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAzMQ==;sn=103582031",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:26 GMT"
      },
      "ResponseBody": {
        "etag": "BUKfeQsocJh87rqE3M6Flf4fsARUVKo57Lfahs6UioM",
        "key": "listConfigSetting3B66197",
        "label": "listConfigSettingsLabel81679",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:25+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A81069",
    "listConfigSetting3B": "listConfigSetting3B66197",
    "listConfigSettingsLabel": "listConfigSettingsLabel81679"
  }
}
