{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A35099?api-version=2023-11-01&label=listConfigSettingsLabel64341",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting7A35099",
        "label": "listConfigSettingsLabel64341",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"merzD-LL2uJF1GdhHN7otJPe0RZz-OYKPKytuFMNH1Q\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNTk=;sn=75081059",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:49 GMT"
      },
      "ResponseBody": {
        "etag": "merzD-LL2uJF1GdhHN7otJPe0RZz-OYKPKytuFMNH1Q",
        "key": "listConfigSetting7A35099",
        "label": "listConfigSettingsLabel64341",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A35099?api-version=2023-11-01&label=listConfigSettingsLabel64341",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cA2VbTYwTnKwdU80i-okIicmDYmsOM_375ueqFCkSC8\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNjA=;sn=75081060",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:49 GMT"
      },
      "ResponseBody": {
        "etag": "cA2VbTYwTnKwdU80i-okIicmDYmsOM_375ueqFCkSC8",
        "key": "listConfigSetting7A35099",
        "label": "listConfigSettingsLabel64341",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-05T07:24:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A35099?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNjA="
      },
      "RequestBody": {
        "key": "listConfigSetting7A35099",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uHxIkw5bVBSz3R087X_j0Z7vldiTcIoaTE2xgZOaHoI\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNjI=;sn=75081062",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:49 GMT"
      },
      "ResponseBody": {
        "etag": "uHxIkw5bVBSz3R087X_j0Z7vldiTcIoaTE2xgZOaHoI",
        "key": "listConfigSetting7A35099",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2025-11-05T07:24:49.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bugyCRGV48iyPbmxKIBSIOIIBcK-giPly9SeC5Zmlcc\"",
        "Link": "</kv?api-version=2023-11-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Wed, 05 Nov 2025 07:24:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNjU=;sn=75081065",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:50 GMT"
      },
      "ResponseBody": {
        "etag": "bugyCRGV48iyPbmxKIBSIOIIBcK-giPly9SeC5Zmlcc",
        "items": [
          {
            "etag": "dLO0h9NkAVacGkvrVhGSfwl0gkh8seJzhVmp-jrIe5o",
            "key": "listConfigSetting0A49652",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-11-05T07:24:04+00:00"
          },
          {
            "etag": "bv[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting7A35099%2ClistConfigSetting7B61522",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"oHdI5Vp-9jOzaA6[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B61522?api-version=2023-11-01&label=listConfigSettingsLabel64341",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_h-FUkOnbZC6aia5oaetuiN9cWyUbjW4V0F1b8yvcYw\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNzE=;sn=75081071",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:51 GMT"
      },
      "ResponseBody": {
        "etag": "_h-FUkOnbZC6aia5oaetuiN9cWyUbjW4V0F1b8yvcYw",
        "key": "listConfigSetting7B61522",
        "label": "listConfigSettingsLabel64341",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:49+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A35099",
    "listConfigSetting7B": "listConfigSetting7B61522",
    "listConfigSettingsLabel": "listConfigSettingsLabel64341"
  }
}
