{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A8149?api-version=2023-11-01&label=listConfigSettingsLabel4002",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting6A8149",
        "label": "listConfigSettingsLabel4002",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1jzBjV0t-0qAefN4LSpsDeWhRRZ-yuXyqwZh2x86NfU\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA1OQ==;sn=103582059",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:38 GMT"
      },
      "ResponseBody": {
        "etag": "1jzBjV0t-0qAefN4LSpsDeWhRRZ-yuXyqwZh2x86NfU",
        "key": "listConfigSetting6A8149",
        "label": "listConfigSettingsLabel4002",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting6A8149?api-version=2023-11-01&label=listConfigSettingsLabel4002",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA1OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Tc9qEw2MOoo_KeuS4OZ7NU0Ch5pfHpuAl6TuOHDZ__c\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA2MA==;sn=103582060",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:38 GMT"
      },
      "ResponseBody": {
        "etag": "Tc9qEw2MOoo_KeuS4OZ7NU0Ch5pfHpuAl6TuOHDZ__c",
        "key": "listConfigSetting6A8149",
        "label": "listConfigSettingsLabel4002",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-23T08:47:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A8149?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA2MA=="
      },
      "RequestBody": {
        "key": "listConfigSetting6A8149",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6O7hAHkZheQ2HLK83soqSBivEb16hLxfmxRxFUDvnG8\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA2Mg==;sn=103582062",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:38 GMT"
      },
      "ResponseBody": {
        "etag": "6O7hAHkZheQ2HLK83soqSBivEb16hLxfmxRxFUDvnG8",
        "key": "listConfigSetting6A8149",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:38+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?$select=locked,content_type,last_modified,label&api-version=2023-11-01&key=listConfigSetting6A8149&label=listConfigSettingsLabel4002",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA2NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6An_ROqww6v-Nhwm3jOX4qlNSYY2a2lDJ8lE6OynQWw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA2NA==;sn=103582064",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:39 GMT"
      },
      "ResponseBody": {
        "etag": "6An_ROqww6v-Nhwm3jOX4qlNSYY2a2lDJ8lE6OynQWw",
        "items": [
          {
            "label": "listConfigSettingsLabel4002",
            "content_type": "a content type",
            "locked": true,
            "last_modified": "2026-01-23T08:47:38+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?$select=key,label,value&api-version=2023-11-01&key=listConfigSetting6A8149",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA2NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"5sCKQhjzCNzVERzkZyng34b2_ea26M7iJpJgpsP40SM\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA2NA==;sn=103582064",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:39 GMT"
      },
      "ResponseBody": {
        "etag": "5sCKQhjzCNzVERzkZyng34b2_ea26M7iJpJgpsP40SM",
        "items": [
          {
            "key": "listConfigSetting6A8149",
            "label": null,
            "value": "[A] value"
          },
          {
            "key": "listConfigSetting6A8149",
            "label": "listConfigSettingsLabel4002",
            "value": "[A] production value"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting6A8149%2ClistConfigSetting6B51594",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA2NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"03UQ-Dl79MwVkT_v[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6B51594?api-version=2023-11-01&label=listConfigSettingsLabel4002",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjA2OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"X7tBXQoXHS4_8ULJ02bqPE1E6i16zpXVeAUgCum60rA\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjA3MA==;sn=103582070",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:40 GMT"
      },
      "ResponseBody": {
        "etag": "X7tBXQoXHS4_8ULJ02bqPE1E6i16zpXVeAUgCum60rA",
        "key": "listConfigSetting6B51594",
        "label": "listConfigSettingsLabel4002",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:38+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting6A": "listConfigSetting6A8149",
    "listConfigSetting6B": "listConfigSetting6B51594",
    "listConfigSettingsLabel": "listConfigSettingsLabel4002"
  }
}
