{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A45307?api-version=2023-11-01&label=listConfigSettingsLabel78132",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting5A45307",
        "label": "listConfigSettingsLabel78132",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Ewlgu2kSGrqQ5OnrgTN62r2LNy4igMqVkkGt95iqIU\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:12 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTA0;sn=5745104"
      },
      "ResponseBody": {
        "etag": "7Ewlgu2kSGrqQ5OnrgTN62r2LNy4igMqVkkGt95iqIU",
        "key": "listConfigSetting5A45307",
        "label": "listConfigSettingsLabel78132",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting5A45307?api-version=2023-11-01&label=listConfigSettingsLabel78132",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rGaIBa73kIZr_u2fJiJNqFQpoPK3k736ZXN7nioWcXo\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:12 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTA1;sn=5745105"
      },
      "ResponseBody": {
        "etag": "rGaIBa73kIZr_u2fJiJNqFQpoPK3k736ZXN7nioWcXo",
        "key": "listConfigSetting5A45307",
        "label": "listConfigSettingsLabel78132",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-19T17:59:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A45307?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTA1"
      },
      "RequestBody": {
        "key": "listConfigSetting5A45307",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mxZx2vPWuLui-f7aNfdjsjy7QquDFcRdP0RckqLvCJk\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:12 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTA3;sn=5745107"
      },
      "ResponseBody": {
        "etag": "mxZx2vPWuLui-f7aNfdjsjy7QquDFcRdP0RckqLvCJk",
        "key": "listConfigSetting5A45307",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A4530*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTA5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"5j6RduT0EDTWZfjlsIkU829QqjrJ_z3vTbJdbZZgaU0\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTA5;sn=5745109"
      },
      "ResponseBody": {
        "etag": "5j6RduT0EDTWZfjlsIkU829QqjrJ_z3vTbJdbZZgaU0",
        "items": [
          {
            "etag": "mxZx2vPWuLui-f7aNfdjsjy7QquDFcRdP0RckqLvCJk",
            "key": "listConfigSetting5A45307",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2024-07-19T17:59:12+00:00"
          },
          {
            "etag": "rGaIBa73kIZr_u2fJiJNqFQpoPK3k736ZXN7nioWcXo",
            "key": "listConfigSetting5A45307",
            "label": "listConfigSettingsLabel78132",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2024-07-19T17:59:12+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A45307%2ClistConfigSetting5B50018",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTA5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"devEuXY5iQrBJfzM-bJ[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5B50018?api-version=2023-11-01&label=listConfigSettingsLabel78132",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MTE0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BZ2Pv_SZNgXov2Nu2XWsEwWh0zmJsLuivHS88q-s30I\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:59:12 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MTE1;sn=5745115"
      },
      "ResponseBody": {
        "etag": "BZ2Pv_SZNgXov2Nu2XWsEwWh0zmJsLuivHS88q-s30I",
        "key": "listConfigSetting5B50018",
        "label": "listConfigSettingsLabel78132",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:59:12+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting5A": "listConfigSetting5A45307",
    "listConfigSetting5B": "listConfigSetting5B50018",
    "listConfigSettingsLabel": "listConfigSettingsLabel78132"
  }
}
