{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A88747?api-version=2023-11-01&label=listConfigSettingsLabel26994",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting7A88747",
        "label": "listConfigSettingsLabel26994",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oRMmDWvO5d_4t7YqKDqcNjX_9o--H2kvz1uTQUVughY\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzM5NQ==;sn=102477395",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:45 GMT"
      },
      "ResponseBody": {
        "etag": "oRMmDWvO5d_4t7YqKDqcNjX_9o--H2kvz1uTQUVughY",
        "key": "listConfigSetting7A88747",
        "label": "listConfigSettingsLabel26994",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:09:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A88747?api-version=2023-11-01&label=listConfigSettingsLabel26994",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzM5NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V0GjcjFg9ACgHtg4YSbydaFXyKQrZRA12daW3Zbv-I0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzM5Ng==;sn=102477396",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:45 GMT"
      },
      "ResponseBody": {
        "etag": "V0GjcjFg9ACgHtg4YSbydaFXyKQrZRA12daW3Zbv-I0",
        "key": "listConfigSetting7A88747",
        "label": "listConfigSettingsLabel26994",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-13T06:09:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A88747?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzM5Ng=="
      },
      "RequestBody": {
        "key": "listConfigSetting7A88747",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BdA8uKtZMfU0Z4YrIuNn7rcjenkfqILwrQcNFpvLu9s\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzM5OA==;sn=102477398",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:45 GMT"
      },
      "ResponseBody": {
        "etag": "BdA8uKtZMfU0Z4YrIuNn7rcjenkfqILwrQcNFpvLu9s",
        "key": "listConfigSetting7A88747",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:09:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2026-01-13T06:09:45.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzQwMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"-v1lj-WQTS73q8dcJcV2sgUTE7K-p6ZlOpr2W7-n5WA\"",
        "Link": "</kv?api-version=2023-11-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Tue, 13 Jan 2026 06:09:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzQwMA==;sn=102477400",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:45 GMT"
      },
      "ResponseBody": {
        "etag": "-v1lj-WQTS73q8dcJcV2sgUTE7K-p6ZlOpr2W7-n5WA",
        "items": [
          {
            "etag": "qgEvBjdKSEv1PWO27grcCEGzJpBlYm1BRWbmBgAQdQM",
            "key": "listConfigSetting0A10957",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2026-01-13T06:09:06+00:00"
          },
          {
            "etag": "hY[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting7A88747%2ClistConfigSetting7B36486",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzQwMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"tK-TR30kWPtZ-aa[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B36486?api-version=2023-11-01&label=listConfigSettingsLabel26994",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzQwNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OURQVeytrDH72VGydXlQR68x2Cg4xSsxPoPNZPwgW9s\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzQwNg==;sn=102477406",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:46 GMT"
      },
      "ResponseBody": {
        "etag": "OURQVeytrDH72VGydXlQR68x2Cg4xSsxPoPNZPwgW9s",
        "key": "listConfigSetting7B36486",
        "label": "listConfigSettingsLabel26994",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:09:45+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A88747",
    "listConfigSetting7B": "listConfigSetting7B36486",
    "listConfigSettingsLabel": "listConfigSettingsLabel26994"
  }
}
