{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A91279?api-version=2026-04-01&label=listConfigSettingsLabel21741",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel21741",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ELQx1ZDVKR1eWWtpeu8hFxqBNGLKmAjxHHnwycNVdD4\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjExMQ==;sn=53126111",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:46 GMT"
      },
      "ResponseBody": {
        "etag": "ELQx1ZDVKR1eWWtpeu8hFxqBNGLKmAjxHHnwycNVdD4",
        "key": "listConfigSetting7A91279",
        "label": "listConfigSettingsLabel21741",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A91279?api-version=2026-04-01&label=listConfigSettingsLabel21741",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjExMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AtdNswCjTI_t0ESKCMPrWXNUCQ18vVBLvtmHMB8Bh4Q\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjExMg==;sn=53126112",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:46 GMT"
      },
      "ResponseBody": {
        "etag": "AtdNswCjTI_t0ESKCMPrWXNUCQ18vVBLvtmHMB8Bh4Q",
        "key": "listConfigSetting7A91279",
        "label": "listConfigSettingsLabel21741",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-06-09T23:32:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A91279?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjExMg=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9Wb08w02dOsk0zP_18oVEqQVYyzo6i_5adZyoKU_XHQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjExNA==;sn=53126114",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:46 GMT"
      },
      "ResponseBody": {
        "etag": "9Wb08w02dOsk0zP_18oVEqQVYyzo6i_5adZyoKU_XHQ",
        "key": "listConfigSetting7A91279",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-06-09T23:32:46.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjExNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"YsKSjNvwXIu7s0CA3wnzeP1UZvb-PwAMGnYuGrVS6v0\"",
        "Link": "</kv?api-version=2026-04-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Tue, 09 Jun 2026 23:32:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjExNg==;sn=53126116",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:46 GMT"
      },
      "ResponseBody": {
        "etag": "YsKSjNvwXIu7s0CA3wnzeP1UZvb-PwAMGnYuGrVS6v0",
        "items": [
          {
            "etag": "pLP8gODAARuucHv5Vm78A36pDt_Zfo6FQW72ejFtViw",
            "key": "listConfigSetting0A93009",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "description": null,
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2026-06-09T23:32:18+00:00"
          },
  [...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=listConfigSetting7A91279,listConfigSetting7B4076",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjExNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GkOdkramt-NIpPgxIs[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B4076?api-version=2026-04-01&label=listConfigSettingsLabel21741",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjEyMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Lqx2LHiQ_Li-98eMnWnv1JsxE4AVt_FSURqPYGfOeNQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjEyMg==;sn=53126122",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:46 GMT"
      },
      "ResponseBody": {
        "etag": "Lqx2LHiQ_Li-98eMnWnv1JsxE4AVt_FSURqPYGfOeNQ",
        "key": "listConfigSetting7B4076",
        "label": "listConfigSettingsLabel21741",
        "content_type": null,
        "value": "[B] production value",
        "description": null,
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:46+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A91279",
    "listConfigSetting7B": "listConfigSetting7B4076",
    "listConfigSettingsLabel": "listConfigSettingsLabel21741"
  }
}
