{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A33750?api-version=2023-11-01&label=listConfigSettingsLabel80366",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A33750",
        "label": "listConfigSettingsLabel80366",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DOA1WQd7hz82h-nDM1td3jbQtaCeMAP78mXjYQR5Bok\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:30:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5NDk=;sn=74102949"
      },
      "ResponseBody": {
        "etag": "DOA1WQd7hz82h-nDM1td3jbQtaCeMAP78mXjYQR5Bok",
        "key": "listConfigSetting2A33750",
        "label": "listConfigSettingsLabel80366",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:30:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A33750?api-version=2023-11-01&label=listConfigSettingsLabel80366",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5NDk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RKEbqjIjEHFgQq0ySdgJe5S1z1k9wJWio7EpdvCDzAc\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:30:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5NTA=;sn=74102950"
      },
      "ResponseBody": {
        "etag": "RKEbqjIjEHFgQq0ySdgJe5S1z1k9wJWio7EpdvCDzAc",
        "key": "listConfigSetting2A33750",
        "label": "listConfigSettingsLabel80366",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-29T09:30:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A33750?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5NTA="
      },
      "RequestBody": {
        "key": "listConfigSetting2A33750",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zOjNj9BaMaPtjrMPEwH27Pr7NE0hXuehWWkpTOHutBk\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:30:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5NTI=;sn=74102952"
      },
      "ResponseBody": {
        "etag": "zOjNj9BaMaPtjrMPEwH27Pr7NE0hXuehWWkpTOHutBk",
        "key": "listConfigSetting2A33750",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:30:09+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel8036*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5NTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MaNiEGJMX9LFa4y78UhdFFW_KKPfRTQrLDwu43sIFcU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5NTQ=;sn=74102954"
      },
      "ResponseBody": {
        "etag": "MaNiEGJMX9LFa4y78UhdFFW_KKPfRTQrLDwu43sIFcU",
        "items": [
          {
            "etag": "RKEbqjIjEHFgQq0ySdgJe5S1z1k9wJWio7EpdvCDzAc",
            "key": "listConfigSetting2A33750",
            "label": "listConfigSettingsLabel80366",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-09-29T09:30:09+00:00"
          },
          {
            "etag": "RsuSuJlL1dg_9xTHRI_f1k5PMmfEk2zhppn0Bl3CnVI",
            "key": "listConfigSetting2B48034",
            "label": "listConfigSettingsLabel80366",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-09-29T09:30:09+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A33750%2ClistConfigSetting2B48034",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5NTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fcztQneX9oVHjQ0[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B48034?api-version=2023-11-01&label=listConfigSettingsLabel80366",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5NTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RsuSuJlL1dg_9xTHRI_f1k5PMmfEk2zhppn0Bl3CnVI\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:30:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5NjE=;sn=74102961"
      },
      "ResponseBody": {
        "etag": "RsuSuJlL1dg_9xTHRI_f1k5PMmfEk2zhppn0Bl3CnVI",
        "key": "listConfigSetting2B48034",
        "label": "listConfigSettingsLabel80366",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:30:09+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A33750",
    "listConfigSetting2B": "listConfigSetting2B48034",
    "listConfigSettingsLabel": "listConfigSettingsLabel80366"
  }
}
