{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A82058?api-version=2023-11-01&label=listConfigSettingsLabel1881",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A82058",
        "label": "listConfigSettingsLabel1881",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tUERaQm8PcalwY_C0xV9vS0Dl0sqf_cwKIOyDOsJS2E\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NDM=;sn=74013643"
      },
      "ResponseBody": {
        "etag": "tUERaQm8PcalwY_C0xV9vS0Dl0sqf_cwKIOyDOsJS2E",
        "key": "listConfigSetting0A82058",
        "label": "listConfigSettingsLabel1881",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A82058?api-version=2023-11-01&label=listConfigSettingsLabel1881",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"10b-gcQg4V0LubDsUVI8dr2yp1qiiHEXVutsA5IZPJI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NDQ=;sn=74013644"
      },
      "ResponseBody": {
        "etag": "10b-gcQg4V0LubDsUVI8dr2yp1qiiHEXVutsA5IZPJI",
        "key": "listConfigSetting0A82058",
        "label": "listConfigSettingsLabel1881",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-25T08:46:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A82058?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NDQ="
      },
      "RequestBody": {
        "key": "listConfigSetting0A82058",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AnAWi3d8TaEmFQH1AcbijytKDL4u_4DU0_-HCQpnsBQ\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NDY=;sn=74013646"
      },
      "ResponseBody": {
        "etag": "AnAWi3d8TaEmFQH1AcbijytKDL4u_4DU0_-HCQpnsBQ",
        "key": "listConfigSetting0A82058",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Mi1VR4OSXhv_BkuBHSolJAxslu6av4Ku_-gpp_7A77g\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NDg=;sn=74013648"
      },
      "ResponseBody": {
        "etag": "Mi1VR4OSXhv_BkuBHSolJAxslu6av4Ku_-gpp_7A77g",
        "items": [
          {
            "etag": "AnAWi3d8TaEmFQH1AcbijytKDL4u_4DU0_-HCQpnsBQ",
            "key": "listConfigSetting0A82058",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-25T08:46:17+00:00"
          },
          {
            "etag": "10b-gcQg4V0LubDsUVI8dr2yp1qiiHEXVutsA5IZPJI",
 [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A82058%2ClistConfigSetting0B96250",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"B_n23va7mI8Syu4[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B96250?api-version=2023-11-01&label=listConfigSettingsLabel1881",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2NTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1GOHFKMehhxs36trwTPASlgXuWnBxP8ZVbhTavcoIPY\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2NTQ=;sn=74013654"
      },
      "ResponseBody": {
        "etag": "1GOHFKMehhxs36trwTPASlgXuWnBxP8ZVbhTavcoIPY",
        "key": "listConfigSetting0B96250",
        "label": "listConfigSettingsLabel1881",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:17+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A82058",
    "listConfigSetting0B": "listConfigSetting0B96250",
    "listConfigSettingsLabel": "listConfigSettingsLabel1881"
  }
}
