{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A85028?api-version=2023-11-01&label=listConfigSettingsLabel67973",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting8A85028",
        "label": "listConfigSettingsLabel67973",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0fp3igdBXR-8mNzDgOysXp3JTnbDCLkM8rGzCE4wu0M\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg4Mzc=;sn=73738837"
      },
      "ResponseBody": {
        "etag": "0fp3igdBXR-8mNzDgOysXp3JTnbDCLkM8rGzCE4wu0M",
        "key": "listConfigSetting8A85028",
        "label": "listConfigSettingsLabel67973",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:24:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting8A85028?api-version=2023-11-01&label=listConfigSettingsLabel67973",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg4Mzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2bbdJbDA0aFixeXWUTidoJVbkczESnYS6OtW2Za4rRM\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg4Mzg=;sn=73738838"
      },
      "ResponseBody": {
        "etag": "2bbdJbDA0aFixeXWUTidoJVbkczESnYS6OtW2Za4rRM",
        "key": "listConfigSetting8A85028",
        "label": "listConfigSettingsLabel67973",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-16T11:24:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A85028?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg4Mzg="
      },
      "RequestBody": {
        "key": "listConfigSetting8A85028",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s12kASepwrot8-FNfoe2szxffD8kJHLR5JVqzWphEps\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg4NDA=;sn=73738840"
      },
      "ResponseBody": {
        "etag": "s12kASepwrot8-FNfoe2szxffD8kJHLR5JVqzWphEps",
        "key": "listConfigSetting8A85028",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:24:51+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults653?api-version=2023-11-01&label=1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg4NDI="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults653",
        "label": "1",
        "value": "the value for 1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ygwx6GmfxgV0JRbso0twhkoYp8E0A8L1iUzhaM3Zva8\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:52 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg4NDQ=;sn=73738844"
      },
      "ResponseBody": {
        "etag": "ygwx6GmfxgV0JRbso0twhkoYp8E0A8L1iUzhaM3Zva8",
        "key": "listMultiplePagesOfResults653",
        "label": "1",
        "content_type": null,
        "value": "the value for 1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:24:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults653",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkwNjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"cnYSgR_2qkq9uQ74-L9DzFwmiF5IVsILejUNkzTfJy4\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults653&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NTMKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzkwNjQ=;sn=73739064"
      },
      "ResponseBody": {
        "etag": "cnYSgR_2qkq9uQ74-L9DzFwmiF5IVsILejUNkzTfJy4",
        "items": [
          {
            "etag": "s37AaG1MazIvM7Pz38reKIwBQ-BbcCyxfde2dPA9QWY",
            "key": "listMultiplePagesOfResults653",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:24:52+00:00"
          },
          {
            "etag": "ygwx6GmfxgV0JRbso0twhkoYp8E0A8L1iUzhaM3Zva8",
            "key": "listMultiplePagesOfResults653",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NTMKMTg4&key=listMultiplePagesOfResults653",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkwNjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NTMKOTk%3D&key=listMultiplePagesOfResults653",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkwNjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzkwNjQ=;sn=73739064"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting8A85028%2ClistConfigSetting8B68385",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkyNzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"nzXSbWkYcc8yTVZ[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8B68385?api-version=2023-11-01&label=listConfigSettingsLabel67973",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkyNzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n7bUd8HZy2zbSDbToAC8WcCSm9Px0BasiUCdHVIEhlQ\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzkyNzk=;sn=73739279"
      },
      "ResponseBody": {
        "etag": "n7bUd8HZy2zbSDbToAC8WcCSm9Px0BasiUCdHVIEhlQ",
        "key": "listConfigSetting8B68385",
        "label": "listConfigSettingsLabel67973",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:24:51+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting8A": "listConfigSetting8A85028",
    "listConfigSetting8B": "listConfigSetting8B68385",
    "listConfigSettingsLabel": "listConfigSettingsLabel67973",
    "listMultiplePagesOfResults": "listMultiplePagesOfResults653"
  }
}
