{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A40949?api-version=2023-11-01&label=listConfigSettingsLabel79249",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A40949",
        "label": "listConfigSettingsLabel79249",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ds00a1TZH3LIdbm8ZQmnRwZ6WymPXcKmIZX8PBIOSbc\"",
        "Last-Modified": "Thu, 18 Jul 2024 21:00:57 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzM5OTMw;sn=5739930"
      },
      "ResponseBody": {
        "etag": "ds00a1TZH3LIdbm8ZQmnRwZ6WymPXcKmIZX8PBIOSbc",
        "key": "listConfigSetting0A40949",
        "label": "listConfigSettingsLabel79249",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-18T21:00:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A40949?api-version=2023-11-01&label=listConfigSettingsLabel79249",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzM5OTMw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hPQX0BLsSuHINwpuGgg_hmAuA6yHCu4cFv8etMV0EWw\"",
        "Last-Modified": "Thu, 18 Jul 2024 21:00:57 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzM5OTMx;sn=5739931"
      },
      "ResponseBody": {
        "etag": "hPQX0BLsSuHINwpuGgg_hmAuA6yHCu4cFv8etMV0EWw",
        "key": "listConfigSetting0A40949",
        "label": "listConfigSettingsLabel79249",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-18T21:00:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A40949?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NToxNSM1NzM5OTMx"
      },
      "RequestBody": {
        "key": "listConfigSetting0A40949",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6XBKdp0kSvUy4RW1hf0dVlp2V0rzrL-lhtQumI5ZkxI\"",
        "Last-Modified": "Thu, 18 Jul 2024 21:00:57 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzM5OTMz;sn=5739933"
      },
      "ResponseBody": {
        "etag": "6XBKdp0kSvUy4RW1hf0dVlp2V0rzrL-lhtQumI5ZkxI",
        "key": "listConfigSetting0A40949",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-18T21:00:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults679?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NToxNSM1NzM5OTM1"
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults679",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MY7yrooj8cZqO45t-h5Z7UPSBsDPWqTjoAHhkl9V-ys\"",
        "Last-Modified": "Thu, 18 Jul 2024 21:00:57 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzM5OTM2;sn=5739936"
      },
      "ResponseBody": {
        "etag": "MY7yrooj8cZqO45t-h5Z7UPSBsDPWqTjoAHhkl9V-ys",
        "key": "listMultiplePagesOfResults679",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-18T21:00:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults679",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQwMTM1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_6y_eq3x4jz-lnaBOjC0_-N6EZArOpSLR1Wgj5inJEI\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults679&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NzkKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQwMTM1;sn=5740135"
      },
      "ResponseBody": {
        "etag": "_6y_eq3x4jz-lnaBOjC0_-N6EZArOpSLR1Wgj5inJEI",
        "items": [
          {
            "etag": "MY7yrooj8cZqO45t-h5Z7UPSBsDPWqTjoAHhkl9V-ys",
            "key": "listMultiplePagesOfResults679",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-18T21:00:57+00:00"
          },
          {
            "etag": "d0EakjwOwJv5uNgysZvpR75AvHlD7njOjMkRa8dMuS8",
            "key": "listMultiplePagesOfResults679",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NzkKMTg4&key=listMultiplePagesOfResults679",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQwMTM1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NzkKOTk%3D&key=listMultiplePagesOfResults679",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQwMTM1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQwMTM1;sn=5740135"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NzkKNTM%3D&key=listMultiplePagesOfResults679",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=NToxNSM1NzQwMTg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Typ[...]
[...]
