{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A40804?api-version=2023-11-01&label=listConfigSettingsLabel68660",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting8A40804",
        "label": "listConfigSettingsLabel68660",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XPZQLtqPYjn3zX1qe_5nsjsLiUEFkCPpEQuGxkiHZiM\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQzMw==;sn=103846433",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:27 GMT"
      },
      "ResponseBody": {
        "etag": "XPZQLtqPYjn3zX1qe_5nsjsLiUEFkCPpEQuGxkiHZiM",
        "key": "listConfigSetting8A40804",
        "label": "listConfigSettingsLabel68660",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting8A40804?api-version=2023-11-01&label=listConfigSettingsLabel68660",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjQzMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dgT65e6GGF_HIc_UI-2UoZrVa6fmnirh3_CasaxQucc\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQzNA==;sn=103846434",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:27 GMT"
      },
      "ResponseBody": {
        "etag": "dgT65e6GGF_HIc_UI-2UoZrVa6fmnirh3_CasaxQucc",
        "key": "listConfigSetting8A40804",
        "label": "listConfigSettingsLabel68660",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-26T02:58:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A40804?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjQzNA=="
      },
      "RequestBody": {
        "key": "listConfigSetting8A40804",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dpZbLSHkW33GhhWLBflLpwKVzaXV01gbzCg7E60dBhE\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQzNg==;sn=103846436",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:28 GMT"
      },
      "ResponseBody": {
        "etag": "dpZbLSHkW33GhhWLBflLpwKVzaXV01gbzCg7E60dBhE",
        "key": "listConfigSetting8A40804",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults968?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjQzOA=="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults968",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zYDUvFz5-Tj5TjwIHXYMsJXUd1tN0wFh7c1yrMSGric\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQzOQ==;sn=103846439",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:28 GMT"
      },
      "ResponseBody": {
        "etag": "zYDUvFz5-Tj5TjwIHXYMsJXUd1tN0wFh7c1yrMSGric",
        "key": "listMultiplePagesOfResults968",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:58:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults968",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjY0Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1ks56tG584hiypvyuMHEWJ1MdSIOv2_LCieqQaG6mQI\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults968&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM5NjgKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjY0NA==;sn=103846644",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:40 GMT"
      },
      "ResponseBody": {
        "etag": "1ks56tG584hiypvyuMHEWJ1MdSIOv2_LCieqQaG6mQI",
        "items": [
          {
            "etag": "zYDUvFz5-Tj5TjwIHXYMsJXUd1tN0wFh7c1yrMSGric",
            "key": "listMultiplePagesOfResults968",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T02:58:28+00:00"
          },
          {
            "etag": "20blisa8VT5O7WDol94WKpsW9TtRMuKYFPpPhxMiKH0",
            "key": "listMultiplePagesOfResults968",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM5NjgKMTg4&api-version=2023-11-01&key=listMultiplePagesOfResults968",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjY0NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM5NjgKOTk%3D&api-version=2023-11-01&key=listMultiplePagesOfResults968",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjY0NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjY0NQ==;sn=103846645",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:41 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting8A40804%2ClistConfigSetting8B83340",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0Njg1Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Lb6HaZ1pAzTrdEZ[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8B83340?api-version=2023-11-01&label=listConfigSettingsLabel68660",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0Njg1OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2OK6zyJ19qsvzW2roladVKYr-MwPUTKc04ZLcobIH1s\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0Njg2MA==;sn=103846860",
        "x-ms-date": "Mon, 26 Jan 2026 02:59:06 GMT"
      },
      "ResponseBody": {
        "etag": "2OK6zyJ19qsvzW2roladVKYr-MwPUTKc04ZLcobIH1s",
        "key": "listConfigSetting8B83340",
        "label": "listConfigSettingsLabel68660",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:28+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting8A": "listConfigSetting8A40804",
    "listConfigSetting8B": "listConfigSetting8B83340",
    "listConfigSettingsLabel": "listConfigSettingsLabel68660",
    "listMultiplePagesOfResults": "listMultiplePagesOfResults968"
  }
}
