{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A97877?api-version=2023-11-01&label=listConfigSettingsLabel95728",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting5A97877",
        "label": "listConfigSettingsLabel95728",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uSzdKEuRT3JV7TAYnp_N34Nw0QjA3B7gQHKros1jlSw\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5NTc=;sn=74232957"
      },
      "ResponseBody": {
        "etag": "uSzdKEuRT3JV7TAYnp_N34Nw0QjA3B7gQHKros1jlSw",
        "key": "listConfigSetting5A97877",
        "label": "listConfigSettingsLabel95728",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting5A97877?api-version=2023-11-01&label=listConfigSettingsLabel95728",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5NTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"w2hwmfD17C_en0IVu9xk5Wp0zj_jHyMOOWW6AtjriHI\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5NTg=;sn=74232958"
      },
      "ResponseBody": {
        "etag": "w2hwmfD17C_en0IVu9xk5Wp0zj_jHyMOOWW6AtjriHI",
        "key": "listConfigSetting5A97877",
        "label": "listConfigSettingsLabel95728",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-02T16:53:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A97877?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5NTg="
      },
      "RequestBody": {
        "key": "listConfigSetting5A97877",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uVCssKsxcunSQE0dSrMdJuEhiV2DwFZ7Kqz0w0rvpOo\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5NjA=;sn=74232960"
      },
      "ResponseBody": {
        "etag": "uVCssKsxcunSQE0dSrMdJuEhiV2DwFZ7Kqz0w0rvpOo",
        "key": "listConfigSetting5A97877",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:51+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A9787*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5NjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"61mXuGRfj9ylB1S0NmiLBBDC4gpP8E4yIGi-5xLbT0A\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5NjI=;sn=74232962"
      },
      "ResponseBody": {
        "etag": "61mXuGRfj9ylB1S0NmiLBBDC4gpP8E4yIGi-5xLbT0A",
        "items": [
          {
            "etag": "uVCssKsxcunSQE0dSrMdJuEhiV2DwFZ7Kqz0w0rvpOo",
            "key": "listConfigSetting5A97877",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-10-02T16:53:51+00:00"
          },
          {
            "etag": "w2hwmfD17C_en0IVu9xk5Wp0zj_jHyMOOWW6AtjriHI",
            "key": "listConfigSetting5A97877",
            "label": "listConfigSettingsLabel95728",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-10-02T16:53:50+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A97877%2ClistConfigSetting5B79182",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5NjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"JjU1f5l3zA4PY87[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5B79182?api-version=2023-11-01&label=listConfigSettingsLabel95728",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5Njc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WDdVx66byFNRMEjCHgvHs8x7K240JAmFow3YmgkXbAk\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5Njg=;sn=74232968"
      },
      "ResponseBody": {
        "etag": "WDdVx66byFNRMEjCHgvHs8x7K240JAmFow3YmgkXbAk",
        "key": "listConfigSetting5B79182",
        "label": "listConfigSettingsLabel95728",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:51+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting5A": "listConfigSetting5A97877",
    "listConfigSetting5B": "listConfigSetting5B79182",
    "listConfigSettingsLabel": "listConfigSettingsLabel95728"
  }
}
