{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A78258?api-version=2023-11-01&label=listConfigSettingsLabel48706",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting3A78258",
        "label": "listConfigSettingsLabel48706",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lGBA5hn5PC5zBR_yWWvWJK12eJ4ZUy7IQI7tBU6G4Vo\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:10:49 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3OTUy;sn=2807952"
      },
      "ResponseBody": {
        "etag": "lGBA5hn5PC5zBR_yWWvWJK12eJ4ZUy7IQI7tBU6G4Vo",
        "key": "listConfigSetting3A78258",
        "label": "listConfigSettingsLabel48706",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T21:10:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting3A78258?api-version=2023-11-01&label=listConfigSettingsLabel48706",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA3OTUy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3fSk1D3wOcGarU_kgaZAuXpVOXANwSqnGAC62JIE9us\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:10:49 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3OTUz;sn=2807953"
      },
      "ResponseBody": {
        "etag": "3fSk1D3wOcGarU_kgaZAuXpVOXANwSqnGAC62JIE9us",
        "key": "listConfigSetting3A78258",
        "label": "listConfigSettingsLabel48706",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-11T21:10:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A78258?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODA3OTUz"
      },
      "RequestBody": {
        "key": "listConfigSetting3A78258",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8ESPcCDEq95FNOKsjdZh3LIblKYkYwHOQZAPAko7NAg\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:10:49 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3OTU1;sn=2807955"
      },
      "ResponseBody": {
        "etag": "8ESPcCDEq95FNOKsjdZh3LIblKYkYwHOQZAPAko7NAg",
        "key": "listConfigSetting3A78258",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T21:10:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A78258",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA3OTU3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"msqf8zuQELaAjfX5Sw1GY07BYogvpHOmnM0iq_h54P8\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3OTU3;sn=2807957"
      },
      "ResponseBody": {
        "etag": "msqf8zuQELaAjfX5Sw1GY07BYogvpHOmnM0iq_h54P8",
        "items": [
          {
            "etag": "8ESPcCDEq95FNOKsjdZh3LIblKYkYwHOQZAPAko7NAg",
            "key": "listConfigSetting3A78258",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2024-07-11T21:10:49+00:00"
          },
          {
            "etag": "3fSk1D3wOcGarU_kgaZAuXpVOXANwSqnGAC62JIE9us",
            "key": "listConfigSetting3A78258",
            "label": "listConfigSettingsLabel48706",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2024-07-11T21:10:49+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A78258%2ClistConfigSetting3B50052",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA3OTU3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"UGXmegJNTt2cvHF7Xbl[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3B50052?api-version=2023-11-01&label=listConfigSettingsLabel48706",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA3OTYy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mA9m3YVxDL089_1O13yGJIjqgT2eyxa3AoHYTyqlNbo\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:10:49 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3OTYz;sn=2807963"
      },
      "ResponseBody": {
        "etag": "mA9m3YVxDL089_1O13yGJIjqgT2eyxa3AoHYTyqlNbo",
        "key": "listConfigSetting3B50052",
        "label": "listConfigSettingsLabel48706",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T21:10:49+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A78258",
    "listConfigSetting3B": "listConfigSetting3B50052",
    "listConfigSettingsLabel": "listConfigSettingsLabel48706"
  }
}
