{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A44432?api-version=2023-11-01&label=listConfigSettingsLabel61410",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting7A44432",
        "label": "listConfigSettingsLabel61410",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IgO4xJ6k7mTWjtvOWI_391OLitaHDS0uxAgnDmY79ZA\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:31:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk2MDY=;sn=74229606"
      },
      "ResponseBody": {
        "etag": "IgO4xJ6k7mTWjtvOWI_391OLitaHDS0uxAgnDmY79ZA",
        "key": "listConfigSetting7A44432",
        "label": "listConfigSettingsLabel61410",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:31:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A44432?api-version=2023-11-01&label=listConfigSettingsLabel61410",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk2MDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vo33vaFU7k-XUfo-eZV52JE0zJv8_Kj0buPvHgI-bXs\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:31:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk2MDc=;sn=74229607"
      },
      "ResponseBody": {
        "etag": "vo33vaFU7k-XUfo-eZV52JE0zJv8_Kj0buPvHgI-bXs",
        "key": "listConfigSetting7A44432",
        "label": "listConfigSettingsLabel61410",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-02T15:31:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A44432?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk2MDc="
      },
      "RequestBody": {
        "key": "listConfigSetting7A44432",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"l-na7Q7waWq83wgZ_28rPtVWBGYHIsS6NH_R_f6rAq4\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:31:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk2MDk=;sn=74229609"
      },
      "ResponseBody": {
        "etag": "l-na7Q7waWq83wgZ_28rPtVWBGYHIsS6NH_R_f6rAq4",
        "key": "listConfigSetting7A44432",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:31:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2025-10-02T15:31:04.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk2MTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"RJ0A1yVOSEW89v7Es1UkTUb0o1eiFHrs288TTZz_TQo\"",
        "Link": "</kv?api-version=2023-11-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Thu, 02 Oct 2025 15:31:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk2MTE=;sn=74229611"
      },
      "ResponseBody": {
        "etag": "RJ0A1yVOSEW89v7Es1UkTUb0o1eiFHrs288TTZz_TQo",
        "items": [
          {
            "etag": "vnPTl63Uik3UKiuiCDskhLQIpGQYPfm90SLhscISynY",
            "key": "listConfigSetting0A87045",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-10-02T15:30:18+00:00"
          },
          {
            "etag": "9H[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting7A44432%2ClistConfigSetting7B84519",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk2MTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"JAyMl9U76S81rVB[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B84519?api-version=2023-11-01&label=listConfigSettingsLabel61410",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk2MTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iLNl3G8puEzT23MCTizty2kzGNVfrNIZ6RVid1x5Gt8\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:31:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk2MTc=;sn=74229617"
      },
      "ResponseBody": {
        "etag": "iLNl3G8puEzT23MCTizty2kzGNVfrNIZ6RVid1x5Gt8",
        "key": "listConfigSetting7B84519",
        "label": "listConfigSettingsLabel61410",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:31:04+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A44432",
    "listConfigSetting7B": "listConfigSetting7B84519",
    "listConfigSettingsLabel": "listConfigSettingsLabel61410"
  }
}
