{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A71946?api-version=2023-11-01&label=listConfigSettingsLabel30228",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A71946",
        "label": "listConfigSettingsLabel30228",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CjMApUW5h8VBvedsvkAQpYe5plFWOqnVxLcKTp4vOaw\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3NzM=;sn=73799773"
      },
      "ResponseBody": {
        "etag": "CjMApUW5h8VBvedsvkAQpYe5plFWOqnVxLcKTp4vOaw",
        "key": "listConfigSetting0A71946",
        "label": "listConfigSettingsLabel30228",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:38:41+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A71946?api-version=2023-11-01&label=listConfigSettingsLabel30228",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3NzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bPp-JOvxRMOdoblLyQBxQ1UUEpEyYm_y3EHIc3VPqP4\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3NzQ=;sn=73799774"
      },
      "ResponseBody": {
        "etag": "bPp-JOvxRMOdoblLyQBxQ1UUEpEyYm_y3EHIc3VPqP4",
        "key": "listConfigSetting0A71946",
        "label": "listConfigSettingsLabel30228",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-18T02:38:41+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A71946?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3NzQ="
      },
      "RequestBody": {
        "key": "listConfigSetting0A71946",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QGrSExn6AmTn1KtF4xDPMeAgMnODNMVBjszvBk49m-A\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3NzY=;sn=73799776"
      },
      "ResponseBody": {
        "etag": "QGrSExn6AmTn1KtF4xDPMeAgMnODNMVBjszvBk49m-A",
        "key": "listConfigSetting0A71946",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:38:41+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"eC37JaXR0necgLF7OUcHbHSt-63qPDCP9ztD0d0-Euo\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3Nzg=;sn=73799778"
      },
      "ResponseBody": {
        "etag": "eC37JaXR0necgLF7OUcHbHSt-63qPDCP9ztD0d0-Euo",
        "items": [
          {
            "etag": "QrVsf493TKAthyA03npDcKP8bXMVKdb3Kki7zk92pJc",
            "key": "key1-1758163107672",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2025-09-18T02:38:30+00:00"
          },
          {
            "etag": "Zl7ADddOLwTC7n-rRJT-ynRfjVhnLEyIEaJMB4TTkKc",
            "key": "key2-175816310[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A71946%2ClistConfigSetting0B73631",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CF2pgZGVoz4poxQ[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B73631?api-version=2023-11-01&label=listConfigSettingsLabel30228",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3ODM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Et3jFukRxBlumO68WWYS-o0F-Kf1jAYeDRTf4A5Mpo4\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3ODQ=;sn=73799784"
      },
      "ResponseBody": {
        "etag": "Et3jFukRxBlumO68WWYS-o0F-Kf1jAYeDRTf4A5Mpo4",
        "key": "listConfigSetting0B73631",
        "label": "listConfigSettingsLabel30228",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:38:41+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A71946",
    "listConfigSetting0B": "listConfigSetting0B73631",
    "listConfigSettingsLabel": "listConfigSettingsLabel30228"
  }
}
