{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A16585?api-version=2026-04-01&label=listConfigSettingsLabel78115",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel78115",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aV6tOA8qofmK1ArrWs9qDalFi2Ol8SjGNltJKhuaY70\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjEyNg==;sn=53126126",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:48 GMT"
      },
      "ResponseBody": {
        "etag": "aV6tOA8qofmK1ArrWs9qDalFi2Ol8SjGNltJKhuaY70",
        "key": "listConfigSetting8A16585",
        "label": "listConfigSettingsLabel78115",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting8A16585?api-version=2026-04-01&label=listConfigSettingsLabel78115",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjEyNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QO_keO71ivRYdTjYjdPi75gUghWV4Z6WAdaRg0c6NaY\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjEyNw==;sn=53126127",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:49 GMT"
      },
      "ResponseBody": {
        "etag": "QO_keO71ivRYdTjYjdPi75gUghWV4Z6WAdaRg0c6NaY",
        "key": "listConfigSetting8A16585",
        "label": "listConfigSettingsLabel78115",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-06-09T23:32:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A16585?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjEyNw=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EMNQgp4yqcosOBWUWNZaF-7bg8FOV2paN8v60WO9ncw\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjEyOQ==;sn=53126129",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:49 GMT"
      },
      "ResponseBody": {
        "etag": "EMNQgp4yqcosOBWUWNZaF-7bg8FOV2paN8v60WO9ncw",
        "key": "listConfigSetting8A16585",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults286?api-version=2026-04-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjEzMQ=="
      },
      "RequestBody": {
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oSoAbZvfVdZ1j_pcimTRnABfIFhCBmcWDTDKYvLBnRo\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjEzMg==;sn=53126132",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:49 GMT"
      },
      "ResponseBody": {
        "etag": "oSoAbZvfVdZ1j_pcimTRnABfIFhCBmcWDTDKYvLBnRo",
        "key": "listMultiplePagesOfResults286",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:32:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults286?api-version=2026-04-01&label=143",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjI3Nw=="
      },
      "RequestBody": {
        "label": "143",
        "value": "the value for 143"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjI3Nw==;sn=53126277",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:50 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=listMultiplePagesOfResults286",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjMzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"AZGNoZJKiK0Xu4mXPQAc2NWKEZ5JfGjR_3kTzRIhAkU\"",
        "Link": "</kv?api-version=2026-04-01&key=listMultiplePagesOfResults286&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMyODYKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjMzNA==;sn=53126334",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:51 GMT"
      },
      "ResponseBody": {
        "etag": "AZGNoZJKiK0Xu4mXPQAc2NWKEZ5JfGjR_3kTzRIhAkU",
        "items": [
          {
            "etag": "oSoAbZvfVdZ1j_pcimTRnABfIFhCBmcWDTDKYvLBnRo",
            "key": "listMultiplePagesOfResults286",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:32:49+00:00"
          },
          {
            "etag": "dJ3oJGjlXz24CDGD6fWdyDCphtDnaluXwcDYMyo8QFk",
            "key": "listMultipl[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMyODYKMTg4&api-version=2026-04-01&key=listMultiplePagesOfResults286",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjMzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMyODYKOTk=&api-version=2026-04-01&key=listMultiplePagesOfResults286",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjMzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjMzNA==;sn=53126334",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:52 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
