{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A34496?api-version=2023-11-01&label=listConfigSettingsLabel22891",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting5A34496",
        "label": "listConfigSettingsLabel22891",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DP68NVuWYkIfO7QPEsPjToIoJEqCzkByT-WDwdaIWN0\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjM5Mw==;sn=103846393",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:14 GMT"
      },
      "ResponseBody": {
        "etag": "DP68NVuWYkIfO7QPEsPjToIoJEqCzkByT-WDwdaIWN0",
        "key": "listConfigSetting5A34496",
        "label": "listConfigSettingsLabel22891",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting5A34496?api-version=2023-11-01&label=listConfigSettingsLabel22891",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjM5Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c-JnEUVDO4o1clQv0vvmm1gMea8iYxcyHwxOlKkiaoA\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjM5NA==;sn=103846394",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:14 GMT"
      },
      "ResponseBody": {
        "etag": "c-JnEUVDO4o1clQv0vvmm1gMea8iYxcyHwxOlKkiaoA",
        "key": "listConfigSetting5A34496",
        "label": "listConfigSettingsLabel22891",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-26T02:58:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A34496?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjM5NA=="
      },
      "RequestBody": {
        "key": "listConfigSetting5A34496",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0R0SAuWZkeguZjzSMOKwN3626F5eX69TESCHp-dylqk\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjM5Ng==;sn=103846396",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:14 GMT"
      },
      "ResponseBody": {
        "etag": "0R0SAuWZkeguZjzSMOKwN3626F5eX69TESCHp-dylqk",
        "key": "listConfigSetting5A34496",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A3449*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjM5OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1tv-ObAhd2zTHTgksVU-cYH23QKsej3OFqKFx3-HoHI\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjM5OA==;sn=103846398",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:15 GMT"
      },
      "ResponseBody": {
        "etag": "1tv-ObAhd2zTHTgksVU-cYH23QKsej3OFqKFx3-HoHI",
        "items": [
          {
            "etag": "0R0SAuWZkeguZjzSMOKwN3626F5eX69TESCHp-dylqk",
            "key": "listConfigSetting5A34496",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-01-26T02:58:14+00:00"
          },
          {
            "etag": "c-JnEUVDO4o1clQv0vvmm1gMea8iYxcyHwxOlKkiaoA",
            "key": "listConfigSetting5A34496",
            "label": "listConfigSettingsLabel22891",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-01-26T02:58:14+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A34496%2ClistConfigSetting5B85230",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjM5OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"IR3-1yUUyDMf-OI[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5B85230?api-version=2023-11-01&label=listConfigSettingsLabel22891",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjQwMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"m5nteHfq1wchoHICFmNApOObtF0uBe8RSxmWvsfr5a8\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQwNA==;sn=103846404",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:16 GMT"
      },
      "ResponseBody": {
        "etag": "m5nteHfq1wchoHICFmNApOObtF0uBe8RSxmWvsfr5a8",
        "key": "listConfigSetting5B85230",
        "label": "listConfigSettingsLabel22891",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:14+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting5A": "listConfigSetting5A34496",
    "listConfigSetting5B": "listConfigSetting5B85230",
    "listConfigSettingsLabel": "listConfigSettingsLabel22891"
  }
}
