{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A71499?api-version=2023-11-01&label=listConfigSettingsLabel39582",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A71499",
        "label": "listConfigSettingsLabel39582",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9fWO5Fv4ZIo-GEAd6JXr3F-AwA9ZnFrHTdFhIthSPA4\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAwOA==;sn=103582008",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:20 GMT"
      },
      "ResponseBody": {
        "etag": "9fWO5Fv4ZIo-GEAd6JXr3F-AwA9ZnFrHTdFhIthSPA4",
        "key": "listConfigSetting2A71499",
        "label": "listConfigSettingsLabel39582",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A71499?api-version=2023-11-01&label=listConfigSettingsLabel39582",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAwOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3jt-q9gv2Y2G5IfOBnoevzWvqp0o58N9pR48gLbG49E\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAwOQ==;sn=103582009",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:20 GMT"
      },
      "ResponseBody": {
        "etag": "3jt-q9gv2Y2G5IfOBnoevzWvqp0o58N9pR48gLbG49E",
        "key": "listConfigSetting2A71499",
        "label": "listConfigSettingsLabel39582",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-23T08:47:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A71499?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAwOQ=="
      },
      "RequestBody": {
        "key": "listConfigSetting2A71499",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9z_hy1-d647qEgoNzJGsoYG5wvLrfSDppBeVqe1ZnIk\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAxMQ==;sn=103582011",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:20 GMT"
      },
      "ResponseBody": {
        "etag": "9z_hy1-d647qEgoNzJGsoYG5wvLrfSDppBeVqe1ZnIk",
        "key": "listConfigSetting2A71499",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:20+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel3958*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAxMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_fvhrPYxa9UNCfZwT5fb5i0vkYJtTx6QaLl05v35E3U\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAxMw==;sn=103582013",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:21 GMT"
      },
      "ResponseBody": {
        "etag": "_fvhrPYxa9UNCfZwT5fb5i0vkYJtTx6QaLl05v35E3U",
        "items": [
          {
            "etag": "3jt-q9gv2Y2G5IfOBnoevzWvqp0o58N9pR48gLbG49E",
            "key": "listConfigSetting2A71499",
            "label": "listConfigSettingsLabel39582",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-01-23T08:47:20+00:00"
          },
          {
            "etag": "Hwn_TOPtw-3EE48LrCOVtvbc6wsHohEovaF3NY3IZnQ",
            "key": "listConfigSetting2B19175",
            "label": "listConfigSettingsLabel39582",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2026-01-23T08:47:21+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A71499%2ClistConfigSetting2B19175",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAxMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"qrdkVZNOWxygnHt[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B19175?api-version=2023-11-01&label=listConfigSettingsLabel39582",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MjAxOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Hwn_TOPtw-3EE48LrCOVtvbc6wsHohEovaF3NY3IZnQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:47:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MjAxOQ==;sn=103582019",
        "x-ms-date": "Fri, 23 Jan 2026 08:47:22 GMT"
      },
      "ResponseBody": {
        "etag": "Hwn_TOPtw-3EE48LrCOVtvbc6wsHohEovaF3NY3IZnQ",
        "key": "listConfigSetting2B19175",
        "label": "listConfigSettingsLabel39582",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:47:21+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A71499",
    "listConfigSetting2B": "listConfigSetting2B19175",
    "listConfigSettingsLabel": "listConfigSettingsLabel39582"
  }
}
