{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A44337?api-version=2023-11-01&label=listConfigSettingsLabel44339",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A44337",
        "label": "listConfigSettingsLabel44339",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Oa9CbZUtNM18WB_r0pKrVivM7HFTut1TXy5lsAjAScY\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:58:50 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MDQx;sn=5745041"
      },
      "ResponseBody": {
        "etag": "Oa9CbZUtNM18WB_r0pKrVivM7HFTut1TXy5lsAjAScY",
        "key": "listConfigSetting0A44337",
        "label": "listConfigSettingsLabel44339",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:58:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A44337?api-version=2023-11-01&label=listConfigSettingsLabel44339",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MDQx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dLRC6H9kKkGO6BtLFbHMA6eMmbr-vjBy28JxFh-x9iQ\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:58:50 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MDQy;sn=5745042"
      },
      "ResponseBody": {
        "etag": "dLRC6H9kKkGO6BtLFbHMA6eMmbr-vjBy28JxFh-x9iQ",
        "key": "listConfigSetting0A44337",
        "label": "listConfigSettingsLabel44339",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-19T17:58:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A44337?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MDQy"
      },
      "RequestBody": {
        "key": "listConfigSetting0A44337",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IcZwCpvPGOIsBVnZ-ixThMB-aIZ966VSmaCPe6AfBGY\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:58:50 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MDQ0;sn=5745044"
      },
      "ResponseBody": {
        "etag": "IcZwCpvPGOIsBVnZ-ixThMB-aIZ966VSmaCPe6AfBGY",
        "key": "listConfigSetting0A44337",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:58:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MDQ2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ayGMWtDcYpH2EF5iMlX6g7INEFCq5TPNpRYv6ELezJE\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MDQ2;sn=5745046"
      },
      "ResponseBody": {
        "etag": "ayGMWtDcYpH2EF5iMlX6g7INEFCq5TPNpRYv6ELezJE",
        "items": [
          {
            "etag": "eRJQSD5m50EZ_JOVNGETu1YkrVUnREj5SeUOup-zN5Y",
            "key": ".appconfig.featureflag/name-188",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-188\",\"enabled\":true,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}]},\"display_name\":\"for display\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-18T22:25:54+00:00"
          },
          {
            "etag": "mQvS4yGsXtANUOGt_E17BGrtethoGRoXj8692AWaMmU",
            "key": ".appconfig.featureflag/name-188-2",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-188-2\",\"enabled\":false,\"description\":\"I'm new description\"[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A44337%2ClistConfigSetting0B54769",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MDQ2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bqNi79mpYk_e9J3SO5g[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B54769?api-version=2023-11-01&label=listConfigSettingsLabel44339",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ1MDUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xsGWv2H3YavqSnmTYFAKuovuettj2wOIfmT4wAAALOs\"",
        "Last-Modified": "Fri, 19 Jul 2024 17:58:50 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ1MDUy;sn=5745052"
      },
      "ResponseBody": {
        "etag": "xsGWv2H3YavqSnmTYFAKuovuettj2wOIfmT4wAAALOs",
        "key": "listConfigSetting0B54769",
        "label": "listConfigSettingsLabel44339",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T17:58:50+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A44337",
    "listConfigSetting0B": "listConfigSetting0B54769",
    "listConfigSettingsLabel": "listConfigSettingsLabel44339"
  }
}
