{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A38149?api-version=2023-11-01&label=listConfigSettingsLabel97917",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A38149",
        "label": "listConfigSettingsLabel97917",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NOOA-YfVmns-Xi-_d302z4zSs1J_N219MJbt-Lx2CRA\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4MDA=;sn=73799800"
      },
      "ResponseBody": {
        "etag": "NOOA-YfVmns-Xi-_d302z4zSs1J_N219MJbt-Lx2CRA",
        "key": "listConfigSetting2A38149",
        "label": "listConfigSettingsLabel97917",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:38:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A38149?api-version=2023-11-01&label=listConfigSettingsLabel97917",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4MDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZmjnjNmtP1uWEXWmIXQya0viVZttCeTZTEm6XXKAsac\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4MDE=;sn=73799801"
      },
      "ResponseBody": {
        "etag": "ZmjnjNmtP1uWEXWmIXQya0viVZttCeTZTEm6XXKAsac",
        "key": "listConfigSetting2A38149",
        "label": "listConfigSettingsLabel97917",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-18T02:38:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A38149?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4MDE="
      },
      "RequestBody": {
        "key": "listConfigSetting2A38149",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Uol7uI2VMgwtwc84npqJIYsFZwjV0QrND3FBtXwEZ9g\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4MDM=;sn=73799803"
      },
      "ResponseBody": {
        "etag": "Uol7uI2VMgwtwc84npqJIYsFZwjV0QrND3FBtXwEZ9g",
        "key": "listConfigSetting2A38149",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:38:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel9791*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4MDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"E-XEh7DXXc8CuIYlWX2Ouah5T6i31hcw6Y2ndSS0zWc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4MDU=;sn=73799805"
      },
      "ResponseBody": {
        "etag": "E-XEh7DXXc8CuIYlWX2Ouah5T6i31hcw6Y2ndSS0zWc",
        "items": [
          {
            "etag": "ZmjnjNmtP1uWEXWmIXQya0viVZttCeTZTEm6XXKAsac",
            "key": "listConfigSetting2A38149",
            "label": "listConfigSettingsLabel97917",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-09-18T02:38:50+00:00"
          },
          {
            "etag": "JV0yne1xN_j92LB1ZncHKRnuNF8o3VYhYsghGeMvIck",
            "key": "listConfigSetting2B6614",
            "label": "listConfigSettingsLabel97917",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-09-18T02:38:50+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A38149%2ClistConfigSetting2B6614",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4MDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kvW7hTUlhg4frWKh[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B6614?api-version=2023-11-01&label=listConfigSettingsLabel97917",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk4MTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JV0yne1xN_j92LB1ZncHKRnuNF8o3VYhYsghGeMvIck\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk4MTM=;sn=73799813"
      },
      "ResponseBody": {
        "etag": "JV0yne1xN_j92LB1ZncHKRnuNF8o3VYhYsghGeMvIck",
        "key": "listConfigSetting2B6614",
        "label": "listConfigSettingsLabel97917",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:38:50+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A38149",
    "listConfigSetting2B": "listConfigSetting2B6614",
    "listConfigSettingsLabel": "listConfigSettingsLabel97917"
  }
}
