{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/test-rg/providers/Microsoft.Orbital/geoCatalogs/test-catalog?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"c801f96e-0000-0100-0000-69efffe90000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.orbital/geocatalogs",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-04-27T23:31:22.4691247Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-04-27T23:31:22.4691247Z"
        },
        "properties": {
          "tier": "Basic",
          "catalogUri": "https://sanitized.sanitized.sanitized.geocatalog.spatio.azure.com",
          "provisioningState": "Succeeded",
          "autoGeneratedDomainNameLabelScope": "TenantReuse"
        }
      }
    }
  ],
  "Variables": {}
}
