{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2026-01-07T23:27:09Z</Start><Expiry>2026-01-13T00:27:09Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>51291b7b-d07c-424e-b934-042c148c6a56</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-07T23:27:09Z</SignedStart><SignedExpiry>2026-01-13T00:27:09Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176783203356101883?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E4CAAA5EB69\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:27:12 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176783203356101883/directory176783203370602479?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E4CAAB780F4\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:27:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176783203356101883/directory176783203370602479/file176783203380805237?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E4CAAC92770\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:27:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176783203356101883//?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user:b77d5205-ddb5-42e1-80ee-26c74a5e9333:rwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E4CAAAA01D8\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:27:12 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176783203356101883/newFile176783203409605098?sv=Sanitized&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-01-07T23%3A27%3A09Z&ske=2026-01-13T00%3A27%3A09Z&sks=b&skv=2026-02-06&sr=c&sp=racwdlmeop&sig=sanitizedsig&suoid=b77d5205-ddb5-42e1-80ee-26c74a5e9333&resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E4CAB18AF20\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:27:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176783203356101883/newFile176783203409605098?sv=Sanitized&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-01-07T23%3A27%3A09Z&ske=2026-01-13T00%3A27%3A09Z&sks=b&skv=2026-02-06&sr=c&sp=racwdlmeop&sig=sanitizedsig&suoid=7d53815c-1b73-49ab-b44d-002bfb890633&resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "error": {
          "code": "AuthorizationPermissionMismatch",
          "message": "This request is not authorized to perform this operation using this permission.\nRequestId:4322f12e-d01f-0003-4035-8060b9000000\nTime:2026-01-08T00:27:13.1511388Z"
        }
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176783203356101883/newFile176783203409605098?sv=Sanitized&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-01-07T23%3A27%3A09Z&ske=2026-01-13T00%3A27%3A09Z&sks=b&skv=2026-02-06&sr=c&sp=racwdlmeop&sig=sanitizedsig&saoid=7d53815c-1b73-49ab-b44d-002bfb890633&resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathAlreadyExists",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "error": {
          "code": "PathAlreadyExists",
          "message": "The specified path already exists.\nRequestId:4322f154-d01f-0003-6535-8060b9000000\nTime:2026-01-08T00:27:13.2576721Z"
        }
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176783203356101883?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory176783203370602479",
    "file": "file176783203380805237",
    "filesystem": "filesystem176783203356101883",
    "newFile": "newFile176783203409605098",
    "now": "2026-01-08T00:27:09.904Z",
    "tmr": "2026-01-08T00:27:09.904Z"
  }
}
