{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2024-05-20T02:12:49Z</Start><Expiry>2024-05-25T03:12:49Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>3d0dde36-a773-4f66-8790-9179e20f18ba</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-05-20T02:12:49Z</SignedStart><SignedExpiry>2024-05-25T03:12:49Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2023-11-03</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171617476951901021?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787ABACF918E\"",
        "Last-Modified": "Mon, 20 May 2024 03:12:49 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617476951901021/directory171617476964604293?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787ABAE3A0F8\"",
        "Last-Modified": "Mon, 20 May 2024 03:12:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617476951901021/directory171617476964604293/file171617476976303823?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787ABAF774FC\"",
        "Last-Modified": "Mon, 20 May 2024 03:12:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617476951901021?skoid=3d0dde36-a773-4f66-8790-9179e20f18ba&sktid=aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa&skt=2024-05-20T02%3A12%3A49Z&ske=2024-05-25T03%3A12%3A49Z&sks=b&skv=2023-11-03&scid=b77d5205-ddb5-42e1-80ee-26c74a5e9333&resource=filesystem&recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606483696591096",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "3d0dde36-a773-4f66-8790-9179e20f18ba",
            "isDirectory": "true",
            "lastModified": "Mon, 20 May 2024 03:12:49 GMT",
            "name": "Sanitized",
            "owner": "3d0dde36-a773-4f66-8790-9179e20f18ba",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171617476951901021?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory171617476964604293",
    "file": "file171617476976303823",
    "filesystem": "filesystem171617476951901021",
    "now": "2024-05-20T03:12:49.187Z",
    "tmr": "2024-05-20T03:12:49.187Z"
  }
}
