{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/deployments?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "gpt-4o",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-11-20",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 120
            }
          },
          {
            "name": "Phi-4",
            "type": "ModelDeployment",
            "modelName": "Phi-4",
            "modelVersion": "7",
            "modelPublisher": "Microsoft",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          },
          {
            "name": "Cohere-command-r-08-2024",
            "type[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/deployments?modelPublisher=OpenAI&api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "gpt-4o",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-11-20",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 120
            }
          },
          {
            "name": "text-embedding-3-large",
            "type": "ModelDeployment",
            "modelName": "text-embedding-3-large",
            "modelVersion": "1",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "embeddings": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 150
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
