{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourcegroups/avs-dotnet-test?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test",
        "name": "avs-dotnet-test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2",
        "location": "westus2",
        "name": "avs-dotnet-test-w2",
        "properties": {
          "availability": {
            "strategy": "SingleZone",
            "zone": 3
          },
          "circuit": {
            "expressRouteID": "/subscriptions/ba62d1c1-e9c8-4ad1-8c25-fcf2a678ee31/resourceGroups/tnt88-cust-p02-westus2/providers/Microsoft.Network/expressRouteCircuits/tnt88-cust-p02-westus2-er",
            "expressRoutePrivatePeeringID": "/subscriptions/ba62d1c1-e9c8-4ad1-8c25-fcf2a678ee31/resourceGroups/tnt88-cust-p02-westus2/providers/Microsoft.Network/expressRouteCircuits/tnt88-cust-p02-westus2-er/peerings/AzurePrivatePeering",
            "primarySubnet": "10.0.0.232/30",
            "secondarySubnet": "10.0.0.236/30"
          },
          "dnsZoneType": "Public",
          "encryption": {
            "status": "Disabled"
          },
          "endpoints": {
            "hcxCloudManager": "https://hcx.42f432da2fd3468e9c7239.westus2.avs.azure.com/",
            "hcxCloudManagerIp": "10.0.0.9",
            "nsxtManager": "https://nsx.42f432da2fd3468e9c7239.westus2.avs.azure.com/",
            "nsxtManagerIp": "10.0.0.3",
            "vcenterIp": "10.0.0.2",
            "vcsa": "https://vc.42f432da2fd3468e9c7239.westus2.avs.azure.com/"
          },
          "externalCloudLinks": [],
          "identitySources": [],
          "internet": "Disabled",
          "managementCluster": {
            "clusterId": 1,
            "clusterSize": 3,
            "displayName": "Cluster-1",
            "hosts": [
              "esx04-r01.p02.westus2.avs.azure.com",
              "esx13-r02.p02.westus2.avs.azure.com",
              "esx14-r04.p02.westus2.avs.azure.com"
            ],
            "provisioningState": "Succeeded",
            "vsanDatastoreName": "vsanDatastore"
          },
          "managementNetwork": "10.0.0.0/26",
          "networkBlock": "10.0.0.0/8",
          "nsxPublicIpQuotaRaised": "Disabled",
          "nsxtCertificateThumbprint": "D2B1E241D5CD7C1AEC47BA71ABE93B90A26BB190",
          "provisioningNetwork": "10.0.2.0/25",
          "provisioningState": "Succeeded",
          "vcenterCertificateThumbprint": "5297D040B8F47C9469397DF3078F0D2EA5287B2C",
          "vmotionNetwork": "10.0.1.128/25"
        },
        "sku": {
          "name": "av36"
        },
        "tags": {
          "sdk-test": "sdk-test"
        },
        "type": "Microsoft.AVS/privateClouds",
        "zones": [
          "3"
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "955157678",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db94d92c-f9c4-4768-ae4b-83d50cea378d"
  }
}
