{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "109",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "16c491d9-815b-408f-9596-673c2e2f25b3",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.393"
      },
      "ResponseBody": {
        "id": "vs_NF7IWBYzBiGzmHCH6Rk5DB2X",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1741962534,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1741962534
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "9247",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "5b85dee8-9517-42f8-a12b-5b16cb290c02",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "9.656"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-LvsVjVeBkJkq1HdYCyJCF2",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1741962535,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_NF7IWBYzBiGzmHCH6Rk5DB2X/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-LvsVjVeBkJkq1HdYCyJCF2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "357",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "a271152f-ebdd-42f6-97b3-9a3a21d0bddd",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.724"
      },
      "ResponseBody": {
        "id": "assistant-LvsVjVeBkJkq1HdYCyJCF2",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1741962545,
        "vector_store_id": "vs_NF7IWBYzBiGzmHCH6Rk5DB2X",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_NF7IWBYzBiGzmHCH6Rk5DB2X/files/assistant-LvsVjVeBkJkq1HdYCyJCF2?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "376763b7-69fe-446a-85da-44f713e57d02",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.305"
      },
      "ResponseBody": {
        "id": "assistant-LvsVjVeBkJkq1HdYCyJCF2",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1741962545,
        "vector_store_id": "vs_NF7IWBYzBiGzmHCH6Rk5DB2X",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_NF7IWBYzBiGzmHCH6Rk5DB2X/files/assistant-LvsVjVeBkJkq1HdYCyJCF2?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "224",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-middleware-request-id": "a99675d4-8228-404e-840e-0d192d0396e1",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.443"
      },
      "ResponseBody": {
        "id": "assistant-LvsVjVeBkJkq1HdYCyJCF2",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-LvsVjVeBkJkq1HdYCyJCF2?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "8844",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-middleware-request-id": "d16e2c8c-afcb-4023-bf8d-d8b8615b7941",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "9.066"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-LvsVjVeBkJkq1HdYCyJCF2"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_NF7IWBYzBiGzmHCH6Rk5DB2X?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "7158",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-middleware-request-id": "8ece630c-9eff-41fa-890a-6bb63c072ff6",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "7.386"
      },
      "ResponseBody": {
        "id": "vs_NF7IWBYzBiGzmHCH6Rk5DB2X",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
