{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "122",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "bf78d4fb-8d36-465c-98b6-bb932d959de9",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.356"
      },
      "ResponseBody": {
        "id": "vs_i4dnw2WEnnoN5Gu6OFMjN4b8",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1741962450,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1741962450
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "9311",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "bd8baf28-293f-430d-b148-4c8aa5af911a",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "9.644"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-XxfJ2HnEorZWos6Dyt7d9q",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1741962451,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_i4dnw2WEnnoN5Gu6OFMjN4b8/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-XxfJ2HnEorZWos6Dyt7d9q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "461",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "3f2f8719-763c-4809-bcfc-515b0b23b38e",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.672"
      },
      "ResponseBody": {
        "id": "assistant-XxfJ2HnEorZWos6Dyt7d9q",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1741962461,
        "vector_store_id": "vs_i4dnw2WEnnoN5Gu6OFMjN4b8",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_i4dnw2WEnnoN5Gu6OFMjN4b8/files/assistant-XxfJ2HnEorZWos6Dyt7d9q?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "97",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "2d7ac102-ca0d-42c4-bda7-15026244bad4",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.391"
      },
      "ResponseBody": {
        "id": "assistant-XxfJ2HnEorZWos6Dyt7d9q",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1741962461,
        "vector_store_id": "vs_i4dnw2WEnnoN5Gu6OFMjN4b8",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_i4dnw2WEnnoN5Gu6OFMjN4b8/files/assistant-XxfJ2HnEorZWos6Dyt7d9q?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "166",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "e16d4a67-41a9-4d54-8321-47500d00cb7e",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.427"
      },
      "ResponseBody": {
        "id": "assistant-XxfJ2HnEorZWos6Dyt7d9q",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-XxfJ2HnEorZWos6Dyt7d9q?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "8736",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "09860d85-bf3a-4e6f-8b74-ea62f771fd40",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "8.984"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-XxfJ2HnEorZWos6Dyt7d9q"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_i4dnw2WEnnoN5Gu6OFMjN4b8?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "fa627c9a130747efa427ae9bd43b4c57",
        "openai-processing-ms": "674",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-middleware-request-id": "6c46e43b-3f6b-4940-b126-d54427f78415",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.969"
      },
      "ResponseBody": {
        "id": "vs_i4dnw2WEnnoN5Gu6OFMjN4b8",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
