{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ServiceFabric/clusters/clusternhK8CDn?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "diagnosticsStorageAccountConfig": {
            "blobEndpoint": "https://diag.blob.core.windows.net/",
            "protectedAccountKeyName": "StorageAccountKey1",
            "queueEndpoint": "https://diag.queue.core.windows.net/",
            "storageAccountName": "diag",
            "tableEndpoint": "https://diag.table.core.windows.net/"
          },
          "fabricSettings": [
            {
              "name": "UpgradeService",
              "parameters": [
                {
                  "name": "AppPollIntervalInSeconds",
                  "value": "60"
                }
              ]
            }
          ],
          "managementEndpoint": "http://clusternhK8CDn.eastus.cloudapp.azure.com:19080",
          "nodeTypes": [
            {
              "applicationPorts": {
                "endPort": 30000,
                "startPort": 20000
              },
              "clientConnectionEndpointPort": 19000,
              "durabilityLevel": "Bronze",
              "ephemeralPorts": {
                "endPort": 64000,
                "startPort": 49000
              },
              "httpGatewayEndpointPort": 19007,
              "isPrimary": true,
              "name": "nt1vm",
              "vmInstanceCount": 5
            }
          ],
          "reliabilityLevel": "Silver",
          "upgradeMode": "Automatic"
        },
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "type": "Microsoft.ServiceFabric/clusters",
        "location": "westus",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.ServiceFabric/clusters/clusternhK8CDn",
        "name": "clusternhK8CDn",
        "tags": {},
        "etag": "W/\u0022638199886309711585\u0022",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-05-18T06:37:10.0238212\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-18T06:37:10.0238212\u002B00:00"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterId": "00000000-0000-0000-0000-000000000000",
          "clusterCodeVersion": "9.1.1653.9590",
          "clusterState": "WaitingForNodes",
          "managementEndpoint": "http://clusternhK8CDn.eastus.cloudapp.azure.com:19080",
          "clusterEndpoint": "https://westus.servicefabric.azure.com/runtime/clusters/00000000-0000-0000-0000-000000000000",
          "clientCertificateThumbprints": [],
          "clientCertificateCommonNames": [],
          "fabricSettings": [
            {
              "name": "UpgradeService",
              "parameters": [
                {
                  "name": "AppPollIntervalInSeconds",
                  "value": "60"
                }
              ]
            }
          ],
          "reliabilityLevel": "Silver",
          "nodeTypes": [
            {
              "name": "nt1vm",
              "clientConnectionEndpointPort": 19000,
              "httpGatewayEndpointPort": 19007,
              "applicationPorts": {
                "startPort": 20000,
                "endPort": 30000
              },
              "ephemeralPorts": {
                "startPort": 49000,
                "endPort": 64000
              },
              "isPrimary": true,
              "durabilityLevel": "Bronze",
              "vmInstanceCount": 5,
              "isStateless": false
            }
          ],
          "diagnosticsStorageAccountConfig": {
            "storageAccountName": "diag",
            "primaryAccessKey": "",
            "secondaryAccessKey": "",
            "protectedAccountKeyName": "StorageAccountKey1",
            "blobEndpoint": "https://diag.blob.core.windows.net/",
            "queueEndpoint": "https://diag.queue.core.windows.net/",
            "tableEndpoint": "https://diag.table.core.windows.net/",
            "protectedAccountKeyName2": ""
          },
          "upgradeMode": "Automatic",
          "availableClusterVersions": [
            {
              "codeVersion": "9.1.1653.9590",
              "supportExpiryUtc": "9999-12-31T23:59:59.9999999",
              "environment": "Windows"
            }
          ],
          "upgradeWave": "Wave0"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ServiceFabric/clusters/clusternhK8CDn/applicationTypes/applicat2wBoCd?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ServiceFabric/clusters/clusternhK8CDn/applicationTypes?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscript[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/clusterVersions?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/clusterVersions/6.1.480.9494?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/6.1.480.9494?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/clusters?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.ServiceFabric/clusters?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
   [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.ServiceFabric/clusters/clusternhK8CDn/listUpgradableVersions?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetVersion": "9.1.1653.9590"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "supportedPath": [
          "9.1.1653.9590"
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ServiceFabric/operations?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.ServiceFabric/clusters/read",
            "display": {
              "provider": "Microsoft ServiceFabric",
              "resource": "Clusters",
              "operation": "Read Cluster",
              "description": "Read any Cluster"
            }
          },
          {
            "name": "Microsoft.ServiceFabric/clusters/write",
            "display": {
              "provider": "Microsoft ServiceFabric",
              "resource": "Clusters",
              "operation": "Create or Update Cluster",
              "description": "Create or Update any Cluster"
            }
          },
          {
            "name": "Microsoft.ServiceFabric/clusters/delete",
            "display": {
              "provid[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ0MTgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1684391819",
    "recordingRandomSeed": "0"
  }
}
