{
  "Entries": [
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "principalId": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/33413926-3206-4cdd-b39a-83574fe37a17"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/bedc5fb2-8738-40a4-8b20-cedfb43a1922",
        "name": "bedc5fb2-8738-40a4-8b20-cedfb43a1922",
        "properties": {
          "principalId": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/33413926-3206-4cdd-b39a-83574fe37a17",
          "scope": "/"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    },
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240206-4-5a9e9d3c-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/bedc5fb2-8738-40a4-8b20-cedfb43a1922",
        "name": "bedc5fb2-8738-40a4-8b20-cedfb43a1922",
        "properties": {
          "principalId": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/33413926-3206-4cdd-b39a-83574fe37a17",
          "scope": "/"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    },
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240206-4-5a9e9d3c-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Authorization/roleAssignments/c3e5df29-132a-47d6-a463-805e9e38a618",
            "name": "c3e5df29-132a-47d6-a463-805e9e38a618",
            "properties": {
              "principalId": "148e24af-25f7-4e9f-82e4-d63c2a837b13",
              "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/21dbd100-6940-42c2-9190-5d6cb909625b",
              "scope": "/"
            },
            "type": "Microsoft.Aut[...]
[...]
