{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/10760919c7104e84ad1b03a43a818e32/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "564"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1741388051,
        "endTime": null,
        "jobId": "10760919c7104e84ad1b03a43a818e32",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/10760919c7104e84ad1b03a43a818e32/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "356"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "10760919c7104e84ad1b03a43a818e32",
        "startTime": 1741388051,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "folderToRestore": "mhsm-gracewilcox50hsm-2025030722541196",
        "sasTokenParameters": {
          "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
          "token": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/restore/0812600de4a349d5b4c4792c4f93dbd5/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "551"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "0812600de4a349d5b4c4792c4f93dbd5",
        "startTime": 1741388083,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/0812600de4a349d5b4c4792c4f93dbd5/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "217"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "0812600de4a349d5b4c4792c4f93dbd5",
        "startTime": 1741388083,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/0812600de4a349d5b4c4792c4f93dbd5/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "243"
      },
      "ResponseBody": {
        "endTime": 1741388089,
        "error": null,
        "jobId": "0812600de4a349d5b4c4792c4f93dbd5",
        "startTime": 1741388083,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
