{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/ekm?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/ekm?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "EKM connection not found (Activity ID: ef7e0daa-60bd-11f1-a642-6045bd75a09b)"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/ekm/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "host": "Sanitized.ekm.example.com:443",
        "path_prefix": "/api/v1",
        "server_ca_certificates": [
          "Sanitized"
        ],
        "server_subject_common_name": "Sanitized.ekm.example.com:443"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "host": "Sanitized.ekm.example.com:443",
        "path_prefix": "/api/v1",
        "server_ca_certificates": [
          "Sanitized"
        ],
        "server_subject_common_name": "Sanitized.ekm.example.com:443"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/ekm?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "host": "Sanitized.ekm.example.com:443",
        "path_prefix": "/api/v1",
        "server_ca_certificates": [
          "Sanitized"
        ],
        "server_subject_common_name": "Sanitized.ekm.example.com:443"
      }
    }
  ],
  "Variables": {}
}
