{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/70e0d1aa28824e599341e5cccc4b7d4e/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1077"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1758151924,
        "endTime": null,
        "jobId": "70e0d1aa28824e599341e5cccc4b7d4e",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/70e0d1aa28824e599341e5cccc4b7d4e/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "93"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "70e0d1aa28824e599341e5cccc4b7d4e",
        "startTime": 1758151924,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "folderToRestore": "mhsm-gracewilcox8hsm-2025091723320505",
        "sasTokenParameters": {
          "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
          "token": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/restore/e5e2c7c892b846d9b83359bb959a2602/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "132"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "e5e2c7c892b846d9b83359bb959a2602",
        "startTime": 1758151955,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/e5e2c7c892b846d9b83359bb959a2602/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "e5e2c7c892b846d9b83359bb959a2602",
        "startTime": 1758151955,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/e5e2c7c892b846d9b83359bb959a2602/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "100"
      },
      "ResponseBody": {
        "endTime": 1758151966,
        "error": null,
        "jobId": "e5e2c7c892b846d9b83359bb959a2602",
        "startTime": 1758151955,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
