{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/settings/invalid%20name?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/settings/invalid%20name?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSetting",
          "message": "Invalid setting name. Please check the spelling of the setting name to update. (Activity ID: 4791cd5a-a481-11f0-818f-6045bdd2847d)"
        }
      }
    }
  ],
  "Variables": {}
}
