{
  "Entries": [
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/settings/invalid%20name?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "Nocontentprovided",
          "message": "No content provided (Activity ID: 48273d3c-bd3d-11ed-93fe-0022484358a5)"
        }
      }
    }
  ],
  "Variables": {}
}
