{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/9c1b2a514cf54d7485a557ea6a0758d9/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "401"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1759952006,
        "endTime": null,
        "jobId": "9c1b2a514cf54d7485a557ea6a0758d9",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/9c1b2a514cf54d7485a557ea6a0758d9/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "97"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": "https://Sanitized.blob.core.windows.net/backup/mhsm-tbaa57877052b80c0hsm-2025100819332695",
        "endTime": 1759952013,
        "error": null,
        "jobId": "9c1b2a514cf54d7485a557ea6a0758d9",
        "startTime": 1759952006,
        "status": "Succeeded",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/selective-restore-test-key/restore?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "folder": "mhsm-tbaa57877052b80c0hsm-2025100819332695",
        "sasTokenParameters": {
          "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
          "token": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/restore/6066645467a84b60a059f7d023c607b7/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "582"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "6066645467a84b60a059f7d023c607b7",
        "startTime": 1759952017,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/6066645467a84b60a059f7d023c607b7/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "6066645467a84b60a059f7d023c607b7",
        "startTime": 1759952017,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/6066645467a84b60a059f7d023c607b7/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "endTime": 1759952028,
        "error": null,
        "jobId": "6066645467a84b60a059f7d023c607b7",
        "startTime": 1759952017,
        "status": "Succeeded",
        "statusDetails": "Number of successful key versions restored: 0, Number of key versions could not overwrite: 2"
      }
    }
  ],
  "Variables": {}
}
