{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "test",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ]
            }
          ],
          "roleName": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "type": "CustomRole"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "335"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "test",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "test",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/create"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "test",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/create"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    }
  ],
  "Variables": {}
}
