{
  "Entries": [
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "test",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ]
            }
          ],
          "roleName": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "type": "CustomRole"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922",
        "name": "bedc5fb2-8738-40a4-8b20-cedfb43a1922",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "test",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
[...]
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240206-4-5a9e9d3c-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/bedc5fb2-8738-40a4-8b20-cedfb43a1922",
        "name": "bedc5fb2-8738-40a4-8b20-cedfb43a1922",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "test",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/create"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "c023eb03-4e31-464c-84f7-001b7f23bd13",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://fakehsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240206-4-5a9e9d3c-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/6efe6056-5259-49d2-8b3d-d3d73544b20b",
            "name": "6efe6056-5259-49d2-8b3d-d3d73544b20b",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
                  "actions": [],
                  "dataActions": [
                    "Microsoft.KeyVault/managed[...]
[...]
