{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/ef2ab863a0964a6286bac9c63966ed1f/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "201"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1759951771,
        "endTime": null,
        "jobId": "ef2ab863a0964a6286bac9c63966ed1f",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/ef2ab863a0964a6286bac9c63966ed1f/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "92"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": 1759951771,
        "error": null,
        "jobId": "ef2ab863a0964a6286bac9c63966ed1f",
        "startTime": 1759951771,
        "status": "Succeeded",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/d39ca6ac0c464f6bb2d7d3852bb8eadb/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "409"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1759951782,
        "endTime": null,
        "jobId": "d39ca6ac0c464f6bb2d7d3852bb8eadb",
        "azureStorageBlobContainerUri": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prerestore?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "folderToRestore": "mhsm-tbaa57877052b80c0hsm-2025100819294216",
        "sasTokenParameters": {
          "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
          "token": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/restore/3339af598bb046bebab81fd6c4a02587/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "194"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "3339af598bb046bebab81fd6c4a02587",
        "startTime": 1759951792,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/3339af598bb046bebab81fd6c4a02587/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "133"
      },
      "ResponseBody": {
        "endTime": 1759951792,
        "error": null,
        "jobId": "3339af598bb046bebab81fd6c4a02587",
        "startTime": 1759951792,
        "status": "Succeeded",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "folderToRestore": "mhsm-tbaa57877052b80c0hsm-2025100819294216",
        "sasTokenParameters": {
          "storageResourceUri": "https://Sanitized.blob.core.windows.net/backup",
          "token": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/restore/7e3189ae27e64a328bd5724aa4c00168/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "599"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "7e3189ae27e64a328bd5724aa4c00168",
        "startTime": 1759951803,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/7e3189ae27e64a328bd5724aa4c00168/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "99"
      },
      "ResponseBody": {
        "endTime": 1759951809,
        "error": null,
        "jobId": "7e3189ae27e64a328bd5724aa4c00168",
        "startTime": 1759951803,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
