{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "1122013564",
        "description": "This model was generated by a .NET test.",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457060141_9b3c9938-0ea1-40a7-bafd-dedb14e405bd?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457060141_9b3c9938-0ea1-40a7-bafd-dedb14e405bd?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31457060141_9b3c9938-0ea1-40a7-bafd-dedb14e405bd",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-03-01T15:44:19Z",
        "lastUpdatedDateTime": "2024-03-01T15:44:19Z",
        "resourceLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1122013564?api-version=2024-02-29-preview",
        "apiVersion": "2024-02-29-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457060141_9b3c9938-0ea1-40a7-bafd-dedb14e405bd?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31457060141_9b3c9938-0ea1-40a7-bafd-dedb14e405bd",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-03-01T15:44:19Z",
        "lastUpdatedDateTime": "2024-03-01T15:46:30Z",
        "resourceLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1122013564?api-version=2024-02-29-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "1122013564",
          "createdDateTime": "2024-03-01T15:46:30Z",
          "expirationDateTime": "2026-03-01T15:46:30Z",
          "apiVersion": "2024-02-29-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          },
          "description": "This model was generated by a .NET test."
        },
        "apiVersion": "2024-02-29-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1122013564?api-version=2024-02-29-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "DateTimeOffsetNow": "2024-03-01T07:44:18.6617682-08:00",
    "ENDPOINT": "https://camaiaor-westus2.cognitiveservices.azure.com/",
    "RandomSeed": "1669538361"
  }
}
