{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334526974305733?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80712C66819C\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334526974305733/file177334526985400268?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80712C789FAC\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334526974305733/file177334526985400268?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334526974305733/file177334526985400268?position=11&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80712C92F7B8\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334526974305733/file177334526985400268?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-x-wt",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80712C92F7B8\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:30 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334526974305733/file177334526985400268?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80712C92F7B8\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:30 GMT",
        "x-ms-acl": "user::rw-,group::r-x,other::-wx",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-x-wt",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334526974305733?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file177334526985400268",
    "filesystem": "filesystem177334526974305733"
  }
}
