{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177362128635604293?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82F3D576BEC2\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:34:50 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177362128635604293/file0177362129028008589?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82F3D587D0D0\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:34:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177362128635604293?resource=filesystem&recursive=true&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134180948904300752",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Mon, 16 Mar 2026 00:34:50 GMT",
            "name": "file0177362129028008589",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134180948905021612",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Mon, 16 Mar 2026 00:34:50 GMT",
            "name": "file1177362129037603495",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134180948905857464",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Mon, 16 Mar 2026 00:34:50 GMT",
            "name": "file2177362129044807159",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134180948906585004",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Mon, 16 Mar 2026 00:34:50 GMT",
            "name": "file3177362129053108024",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177362128635604293/file0177362129028008589?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177362128635604293?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0177362129028008589",
    "file1": "file1177362129037603495",
    "file2": "file2177362129044807159",
    "file3": "file3177362129053108024",
    "filesystem": "filesystem177362128635604293"
  }
}
