{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176789188492306452?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4ED807CA0CFA\"",
        "Last-Modified": "Thu, 08 Jan 2026 17:04:48 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789188492306452/file0176789188849808186?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4ED807DB7780\"",
        "Last-Modified": "Thu, 08 Jan 2026 17:04:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789188492306452?resource=filesystem&recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134123654884915072",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 08 Jan 2026 17:04:48 GMT",
            "name": "file0176789188849808186",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134123654885920212",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 08 Jan 2026 17:04:48 GMT",
            "name": "file1176789188860103271",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134123654886971924",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 08 Jan 2026 17:04:48 GMT",
            "name": "file2176789188871508618",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789188492306452/file0176789188849808186?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176789188492306452?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0176789188849808186",
    "file1": "file1176789188860103271",
    "file2": "file2176789188871508618",
    "filesystem": "filesystem176789188492306452"
  }
}
