{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334529561306469?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80713C3FF359\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334529561306469/file0177334529642005937?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80713C4DCD48\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334529561306469?resource=filesystem&recursive=true&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134178188964580680",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Thu, 12 Mar 2026 19:54:56 GMT",
            "name": "file0177334529642005937",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134178188965427916",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Thu, 12 Mar 2026 19:54:56 GMT",
            "name": "file1177334529650202462",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334529561306469/file0177334529642005937?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134178188967149764",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334529561306469?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0177334529642005937",
    "file1": "file1177334529650202462",
    "filesystem": "filesystem177334529561306469"
  }
}
