{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273899815307289?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:38 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA355129D51E5\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:38 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899815307289/file0169273899824200087?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:38 GMT",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA35512AC6A3D\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899815307289?maxResults=2\u0026resource=filesystem\u0026recursive=true\u0026upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:38 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBaaxpOzip6cwdIBGGwYZy9kbHl1bWVuZ2pzMjY3MzABMDFEOUQ1MzQ5RDNEOTAzNS9maWxlc3lzdGVtMTY5MjczODk5ODE1MzA3Mjg5ATAxRDlENTNERjAyNkQyOEEvZmlsZTIxNjkyNzM4OTk4NDMwMDk5NzMWAAAA",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133372125983894077",
            "etag": "0x8DBA35512AC6A3D",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 22 Aug 2023 21:16:38 GMT",
            "name": "file0169273899824200087",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133372125985022370",
            "etag": "0x8DBA35512BDA1A2",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 22 Aug 2023 21:16:38 GMT",
            "name": "file1169273899832005926",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899815307289?continuation=VBaaxpOzip6cwdIBGGwYZy9kbHl1bWVuZ2pzMjY3MzABMDFEOUQ1MzQ5RDNEOTAzNS9maWxlc3lzdGVtMTY5MjczODk5ODE1MzA3Mjg5ATAxRDlENTNERjAyNkQyOEEvZmlsZTIxNjkyNzM4OTk4NDMwMDk5NzMWAAAA\u0026maxResults=2\u0026resource=filesystem\u0026recursive=true\u0026upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899815307289/file0169273899824200087?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:38 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273899815307289?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:38 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0169273899824200087",
    "file1": "file1169273899832005926",
    "file2": "file2169273899843009973",
    "file3": "file3169273899850100603",
    "filesystem": "filesystem169273899815307289"
  }
}
