{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273898840700402?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3550CCDFC19\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273898840700402?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "filesystem": "filesystem169273898840700402"
  }
}
