{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171617446108903457?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787A02F8C70C\"",
        "Last-Modified": "Mon, 20 May 2024 03:07:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617446108903457/file0171617446121301807?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:41 GMT",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787A030F418C\"",
        "Last-Modified": "Mon, 20 May 2024 03:07:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617446108903457?maxResults=2&resource=filesystem&recursive=true&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBaAg8q7yZGRrWgYaxhmL2VtbWFmdWxsdGVzdGRrATAxREE4Q0FGODY5MUExMzEvZmlsZXN5c3RlbTE3MTYxNzQ0NjEwODkwMzQ1NwEwMURBQUE2MkUwODM4OTkzL2ZpbGUyMTcxNjE3NDQ2MTQ1MTA0NzA0FgAAAA==",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606480612442508",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 03:07:41 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133606480613599542",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 03:07:41 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617446108903457?continuation=VBaAg8q7yZGRrWgYaxhmL2VtbWFmdWxsdGVzdGRrATAxREE4Q0FGODY5MUExMzEvZmlsZXN5c3RlbTE3MTYxNzQ0NjEwODkwMzQ1NwEwMURBQUE2MkUwODM4OTkzL2ZpbGUyMTcxNjE3NDQ2MTQ1MTA0NzA0FgAAAA%3D%3D&maxResults=2&resource=filesystem&recursive=true&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:41 GMT",
        "x-ms-ve[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617446108903457/file0171617446121301807?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133606480619284809",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171617446108903457?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0171617446121301807",
    "file1": "file1171617446133409547",
    "file2": "file2171617446145104704",
    "file3": "file3171617446156600640",
    "filesystem": "filesystem171617446108903457"
  }
}
