{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273899194903183?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:31 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3550EEA4B14\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899194903183169273899203506061/file169273899212305799?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-encryption-context": "EncryptionContext",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3550F0D4185\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899194903183169273899203506061/dir169273899224303557?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-encryption-context": "EncryptionContext",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3550F189BC6\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899194903183169273899203506061?resource=filesystem\u0026recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "EncryptionContext": "EncryptionContext",
            "contentLength": "0",
            "creationTime": "133372125923875782",
            "etag": "0x8DBA3550F189BC6",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 22 Aug 2023 21:16:32 GMT",
            "name": "dir169273899224303557",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "EncryptionContext": "EncryptionContext",
            "contentLength": "0",
            "creationTime": "133372125923131781",
            "etag": "0x8DBA3550F0D4185",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 22 Aug 2023 21:16:32 GMT",
            "name": "file169273899212305799",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899194903183169273899203506061/file169273899212305799?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273899194903183169273899203506061/dir169273899224303557?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273899194903183?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:32 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169273899224303557",
    "file": "file169273899212305799",
    "filesystem": "filesystem169273899194903183",
    "filesystem169273899194903183": "filesystem169273899194903183169273899203506061"
  }
}
