{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334529301508301?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80713AD76C15\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:54 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334529301508301/file0177334529406505700?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80713AEC63C0\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334529301508301?resource=filesystem&recursive=true&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134178188941419456",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Thu, 12 Mar 2026 19:54:54 GMT",
            "name": "file0177334529406505700",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134178188942498868",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Thu, 12 Mar 2026 19:54:54 GMT",
            "name": "file1177334529418709635",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134178188943262812",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Thu, 12 Mar 2026 19:54:54 GMT",
            "name": "file2177334529429203350",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134178188944017212",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Thu, 12 Mar 2026 19:54:54 GMT",
            "name": "file3177334529436705960",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334529301508301/file0177334529406505700?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134178188949900704",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334529301508301?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0177334529406505700",
    "file1": "file1177334529418709635",
    "file2": "file2177334529429203350",
    "file3": "file3177334529436705960",
    "filesystem": "filesystem177334529301508301"
  }
}
