{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171617446266509288?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787A03E94EEA\"",
        "Last-Modified": "Mon, 20 May 2024 03:07:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617446266509288/file0171617446279205621?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:42 GMT",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787A040072C9\"",
        "Last-Modified": "Mon, 20 May 2024 03:07:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617446266509288?maxResults=2&resource=filesystem&recursive=true&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBbCp+Te9tf69qwBGGsYZi9lbW1hZnVsbHRlc3RkawEwMURBOENBRjg2OTFBMTMxL2ZpbGVzeXN0ZW0xNzE2MTc0NDYyNjY1MDkyODgBMDFEQUFBNjJFMTc0N0I2RS9maWxlMjE3MTYxNzQ0NjMwMjYwOTgzMRYAAAA=",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606480628249289",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 03:07:42 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133606480629405940",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 03:07:42 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171617446266509288/file0171617446279205621?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133606480635022079",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171617446266509288?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0171617446279205621",
    "file1": "file1171617446291104214",
    "file2": "file2171617446302609831",
    "file3": "file3171617446314202219",
    "filesystem": "filesystem171617446266509288"
  }
}
