{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619182412001062?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A26F41C82A\"",
        "Last-Modified": "Mon, 20 May 2024 07:57:02 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619182412001062/file0171619182424000459?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:04 GMT",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A26F55CDCC\"",
        "Last-Modified": "Mon, 20 May 2024 07:57:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619182412001062?maxResults=1&resource=filesystem&recursive=true&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBa+l66Km6KZ+RgYaBhjL2VtbWFobnNmdWxsATAxREFBQTY2RkY4QTg2MDkvZmlsZXN5c3RlbTE3MTYxOTE4MjQxMjAwMTA2MgEwMURBQUE4QjRDQ0I1RjdDL2ZpbGUxMTcxNjE5MTgyNDM1NTAxMTg4FgAAAA==",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606654227697100",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 07:57:02 GMT",
            "name": "file0171619182424000459",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619182412001062?continuation=VBa%2Bl66Km6KZ%2BRgYaBhjL2VtbWFobnNmdWxsATAxREFBQTY2RkY4QTg2MDkvZmlsZXN5c3RlbTE3MTYxOTE4MjQxMjAwMTA2MgEwMURBQUE4QjRDQ0I1RjdDL2ZpbGUxMTcxNjE5MTgyNDM1NTAxMTg4FgAAAA%3D%3D&maxResults=2&resource=filesystem&recursive=true&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606654228812136",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 07:57:02 GMT",
            "name": "file1171619182435501188",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619182412001062/file0171619182424000459?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133606654232078297",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619182412001062?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0171619182424000459",
    "file1": "file1171619182435501188",
    "filesystem": "filesystem171619182412001062"
  }
}
