{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags391?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags391",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"thp8dja0PdNx71qKvY3C8DrFOUVL6ztOxcMSsk2fI7s\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NTM=;sn=74229453"
      },
      "ResponseBody": {
        "etag": "thp8dja0PdNx71qKvY3C8DrFOUVL6ztOxcMSsk2fI7s",
        "key": "etags391",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags391?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NTM="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NTM=;sn=74229453"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags391",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"n07P-5BOCsHeu0dtHQYT7CMTlRiS0hwb98v9MTFviOk\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NTQ=;sn=74229454"
      },
      "ResponseBody": {
        "etag": "n07P-5BOCsHeu0dtHQYT7CMTlRiS0hwb98v9MTFviOk",
        "items": [
          {
            "etag": "thp8dja0PdNx71qKvY3C8DrFOUVL6ztOxcMSsk2fI7s",
            "key": "etags391",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:29:56+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags391?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"thp8dja0PdNx71qKvY3C8DrFOUVL6ztOxcMSsk2fI7s\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NTY=;sn=74229456"
      },
      "ResponseBody": {
        "etag": "thp8dja0PdNx71qKvY3C8DrFOUVL6ztOxcMSsk2fI7s",
        "key": "etags391",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:56+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags391"
  }
}
