{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags959?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YjkpaASyHLmcbxOnSbLIHXZ8owRSlGbB6lgBjGqI9Vk\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTE0;sn=65174914",
        "x-ms-date": "Wed, 06 May 2026 17:09:07 GMT"
      },
      "ResponseBody": {
        "etag": "YjkpaASyHLmcbxOnSbLIHXZ8owRSlGbB6lgBjGqI9Vk",
        "key": "etags959",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags959?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTE0"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTE0;sn=65174914",
        "x-ms-date": "Wed, 06 May 2026 17:09:07 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags959",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTE0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Ms4OPY6N4RUfaNMMHlP9kKfGMNkM9OXPu4JtgobHOr0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTE0;sn=65174914",
        "x-ms-date": "Wed, 06 May 2026 17:09:07 GMT"
      },
      "ResponseBody": {
        "etag": "Ms4OPY6N4RUfaNMMHlP9kKfGMNkM9OXPu4JtgobHOr0",
        "items": [
          {
            "etag": "YjkpaASyHLmcbxOnSbLIHXZ8owRSlGbB6lgBjGqI9Vk",
            "key": "etags959",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:09:07+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags959?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTE0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YjkpaASyHLmcbxOnSbLIHXZ8owRSlGbB6lgBjGqI9Vk\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTE1;sn=65174915",
        "x-ms-date": "Wed, 06 May 2026 17:09:07 GMT"
      },
      "ResponseBody": {
        "etag": "YjkpaASyHLmcbxOnSbLIHXZ8owRSlGbB6lgBjGqI9Vk",
        "key": "etags959",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:07+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags959"
  }
}
