{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags29?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MIwjreC5k2UPn07SCAjb57YHqzkHDww_W7N_k3Sedi0\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU2Mg==;sn=113153562",
        "x-ms-date": "Thu, 07 May 2026 20:26:50 GMT"
      },
      "ResponseBody": {
        "etag": "MIwjreC5k2UPn07SCAjb57YHqzkHDww_W7N_k3Sedi0",
        "key": "etags29",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags29?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzU2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU2Mg==;sn=113153562",
        "x-ms-date": "Thu, 07 May 2026 20:26:50 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzU2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"gmRBHfwslJRHEExtC3jm-ZX7vzPBx5-eWLToRCun9hM\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU2Mg==;sn=113153562",
        "x-ms-date": "Thu, 07 May 2026 20:26:50 GMT"
      },
      "ResponseBody": {
        "etag": "gmRBHfwslJRHEExtC3jm-ZX7vzPBx5-eWLToRCun9hM",
        "items": [
          {
            "etag": "MIwjreC5k2UPn07SCAjb57YHqzkHDww_W7N_k3Sedi0",
            "key": "etags29",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:26:50+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags29?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzU2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MIwjreC5k2UPn07SCAjb57YHqzkHDww_W7N_k3Sedi0\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU2Mw==;sn=113153563",
        "x-ms-date": "Thu, 07 May 2026 20:26:50 GMT"
      },
      "ResponseBody": {
        "etag": "MIwjreC5k2UPn07SCAjb57YHqzkHDww_W7N_k3Sedi0",
        "key": "etags29",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:50+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags29"
  }
}
