{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags34?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags34",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JUdOSfa2WnfSC1_U7fcAA0NTtPisaD-SLc1WZQAElvE\"",
        "Last-Modified": "Tue, 28 May 2024 18:45:13 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE0NjY=;sn=2611466"
      },
      "ResponseBody": {
        "etag": "JUdOSfa2WnfSC1_U7fcAA0NTtPisaD-SLc1WZQAElvE",
        "key": "etags34",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:45:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags34?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"JUdOSfa2WnfSC1_U7fcAA0NTtPisaD-SLc1WZQAElvE\"",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE0NjY="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE0NjY=;sn=2611466"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&key=etags34",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE0NjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"r5zifD0JCrI-GQiCW79f1UqYbgmeAf5C3GpU-nDZAs0\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE0NjY=;sn=2611466"
      },
      "ResponseBody": {
        "etag": "r5zifD0JCrI-GQiCW79f1UqYbgmeAf5C3GpU-nDZAs0",
        "items": [
          {
            "etag": "JUdOSfa2WnfSC1_U7fcAA0NTtPisaD-SLc1WZQAElvE",
            "key": "etags34",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T18:45:13+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags34?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE0NjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JUdOSfa2WnfSC1_U7fcAA0NTtPisaD-SLc1WZQAElvE\"",
        "Last-Modified": "Tue, 28 May 2024 18:45:13 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE0Njc=;sn=2611467"
      },
      "ResponseBody": {
        "etag": "JUdOSfa2WnfSC1_U7fcAA0NTtPisaD-SLc1WZQAElvE",
        "key": "etags34",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:45:13+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags34"
  }
}
