{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags615?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags615",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p-zPssuLYWMRW47G5b8-Vzy_OPc-Co8UX_skM3EqHmI\"",
        "Last-Modified": "Tue, 28 May 2024 18:45:14 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE0Njg=;sn=2611468"
      },
      "ResponseBody": {
        "etag": "p-zPssuLYWMRW47G5b8-Vzy_OPc-Co8UX_skM3EqHmI",
        "key": "etags615",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:45:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags615?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE0Njg="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE0Njg=;sn=2611468"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&key=etags615",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE0Njg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"TIMe1mNmcrrq4O1oxlCVrseVUDYXt8od3nfQXl0dVR4\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE0Njg=;sn=2611468"
      },
      "ResponseBody": {
        "etag": "TIMe1mNmcrrq4O1oxlCVrseVUDYXt8od3nfQXl0dVR4",
        "items": [
          {
            "etag": "p-zPssuLYWMRW47G5b8-Vzy_OPc-Co8UX_skM3EqHmI",
            "key": "etags615",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T18:45:14+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags615?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE0Njg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p-zPssuLYWMRW47G5b8-Vzy_OPc-Co8UX_skM3EqHmI\"",
        "Last-Modified": "Tue, 28 May 2024 18:45:14 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE0Njk=;sn=2611469"
      },
      "ResponseBody": {
        "etag": "p-zPssuLYWMRW47G5b8-Vzy_OPc-Co8UX_skM3EqHmI",
        "key": "etags615",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:45:14+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags615"
  }
}
